Repository elastic/kibana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/kibana-app, @elastic/kibana-app-arch, @elastic/apm-ui, @elastic/beats, @elastic/kibana-canvas, @elastic/logs-metrics-ui, @elastic/epm, @elastic/ml-ui, @elastic/es-ui, @elastic/kibana-gis, @elastic/kibana-operations, @elastic/kibana-platform, @elastic/kibana-security, @elastic/kibana-localization, @elastic/pulse, @elastic/kibana-alerting-services, @elastic/kibana-design, @elastic/kibana-tsvb-external

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Identify which groups will be pinged by changes to different parts of the codebase.
# For more info, see https://help.github.com/articles/about-codeowners/

# App
/x-pack/legacy/plugins/lens/ @elastic/kibana-app
/x-pack/legacy/plugins/graph/ @elastic/kibana-app
/src/plugins/share/ @elastic/kibana-app
/src/legacy/server/url_shortening/ @elastic/kibana-app
/src/legacy/server/sample_data/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/dashboard/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/discover/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/visualize/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/local_application_service/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/home/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/dev_tools/ @elastic/kibana-app
/src/plugins/home/ @elastic/kibana-app
/src/plugins/kibana_legacy/ @elastic/kibana-app
/src/plugins/timelion/ @elastic/kibana-app
/src/plugins/dev_tools/ @elastic/kibana-app

# App Architecture
/src/plugins/data/ @elastic/kibana-app-arch
/src/plugins/embeddable/ @elastic/kibana-app-arch
/src/plugins/expressions/ @elastic/kibana-app-arch
/src/plugins/kibana_react/ @elastic/kibana-app-arch
/src/plugins/kibana_utils/ @elastic/kibana-app-arch
/src/plugins/navigation/ @elastic/kibana-app-arch
/src/plugins/ui_actions/ @elastic/kibana-app-arch
/src/plugins/visualizations/ @elastic/kibana-app-arch
/x-pack/plugins/advanced_ui_actions/ @elastic/kibana-app-arch
/src/legacy/core_plugins/data/ @elastic/kibana-app-arch
/src/legacy/core_plugins/embeddable_api/ @elastic/kibana-app-arch
/src/legacy/core_plugins/interpreter/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana_react/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana/public/management/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana/server/field_formats/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana/server/routes/api/management/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana/server/routes/api/suggestions/ @elastic/kibana-app-arch
/src/legacy/core_plugins/visualizations/ @elastic/kibana-app-arch
/src/legacy/server/index_patterns/ @elastic/kibana-app-arch

# APM
/x-pack/legacy/plugins/apm/  @elastic/apm-ui
/x-pack/test/functional/apps/apm/  @elastic/apm-ui
/src/legacy/core_plugins/apm_oss/  @elastic/apm-ui

# Beats
/x-pack/legacy/plugins/beats_management/  @elastic/beats

# Canvas
/x-pack/legacy/plugins/canvas/  @elastic/kibana-canvas

# Logs & Metrics UI
/x-pack/legacy/plugins/infra/ @elastic/logs-metrics-ui
/x-pack/legacy/plugins/integrations_manager/ @elastic/epm

# Machine Learning
/x-pack/legacy/plugins/ml/  @elastic/ml-ui
/x-pack/test/functional/apps/machine_learning/  @elastic/ml-ui
/x-pack/test/functional/services/machine_learning/  @elastic/ml-ui
/x-pack/test/functional/services/ml.ts  @elastic/ml-ui
# ML team owns the transform plugin, ES team added here for visibility
# because the plugin lives in Kibana's Elasticsearch management section.
/x-pack/legacy/plugins/transform/  @elastic/ml-ui @elastic/es-ui
/x-pack/test/functional/apps/transform/ @elastic/ml-ui
/x-pack/test/functional/services/transform_ui/ @elastic/ml-ui
/x-pack/test/functional/services/transform.ts @elastic/ml-ui

# Maps
/x-pack/legacy/plugins/maps/ @elastic/kibana-gis
/x-pack/test/api_integration/apis/maps/ @elastic/kibana-gis
/x-pack/test/functional/apps/maps/ @elastic/kibana-gis
/x-pack/test/functional/es_archives/maps/ @elastic/kibana-gis
/x-pack/test/visual_regression/tests/maps/index.js @elastic/kibana-gis

# Operations
/src/dev/ @elastic/kibana-operations
/src/setup_node_env/ @elastic/kibana-operations
/src/optimize/ @elastic/kibana-operations
/packages/*eslint*/ @elastic/kibana-operations
/packages/*babel*/ @elastic/kibana-operations
/packages/kbn-dev-utils*/ @elastic/kibana-operations
/packages/kbn-es/ @elastic/kibana-operations
/packages/kbn-pm/ @elastic/kibana-operations
/packages/kbn-test/ @elastic/kibana-operations
/src/legacy/server/keystore/ @elastic/kibana-operations
/src/legacy/server/pid/ @elastic/kibana-operations
/src/legacy/server/sass/ @elastic/kibana-operations
/src/legacy/server/utils/ @elastic/kibana-operations
/src/legacy/server/warnings/ @elastic/kibana-operations

# Platform
/src/core/  @elastic/kibana-platform
/config/kibana.yml @elastic/kibana-platform
/x-pack/plugins/features/  @elastic/kibana-platform
/x-pack/plugins/licensing/  @elastic/kibana-platform
/packages/kbn-config-schema/ @elastic/kibana-platform
/src/legacy/server/config/ @elastic/kibana-platform
/src/legacy/server/http/ @elastic/kibana-platform
/src/legacy/server/i18n/ @elastic/kibana-platform
/src/legacy/server/logging/ @elastic/kibana-platform
/src/legacy/server/saved_objects/  @elastic/kibana-platform
/src/legacy/server/status/ @elastic/kibana-platform

# Security
/src/core/server/csp/  @elastic/kibana-security @elastic/kibana-platform
/x-pack/legacy/plugins/security/  @elastic/kibana-security
/x-pack/legacy/plugins/spaces/  @elastic/kibana-security
/x-pack/plugins/spaces/  @elastic/kibana-security
/x-pack/legacy/plugins/encrypted_saved_objects/  @elastic/kibana-security
/x-pack/plugins/encrypted_saved_objects/  @elastic/kibana-security
/x-pack/plugins/security/  @elastic/kibana-security
/x-pack/test/api_integration/apis/security/ @elastic/kibana-security

# Kibana Localization
/src/dev/i18n @elastic/kibana-localization

# Pulse
/packages/kbn-analytics/ @elastic/pulse
/src/legacy/core_plugins/ui_metric/ @elastic/pulse
/src/plugins/usage_collection/ @elastic/pulse
/x-pack/legacy/plugins/telemetry @elastic/pulse

# Kibana Alerting Services
/x-pack/legacy/plugins/alerting @elastic/kibana-alerting-services
/x-pack/legacy/plugins/actions @elastic/kibana-alerting-services
/x-pack/legacy/plugins/task_manager @elastic/kibana-alerting-services
/x-pack/test/alerting_api_integration @elastic/kibana-alerting-services
/x-pack/test/plugin_api_integration/plugins/task_manager @elastic/kibana-alerting-services
/x-pack/test/plugin_api_integration/test_suites/task_manager @elastic/kibana-alerting-services

# Design
**/*.scss  @elastic/kibana-design

# Elasticsearch UI
/src/legacy/core_plugins/console/  @elastic/es-ui
/src/plugins/es_ui_shared/  @elastic/es-ui
/x-pack/legacy/plugins/console_extensions/  @elastic/es-ui
/x-pack/legacy/plugins/cross_cluster_replication/  @elastic/es-ui
/x-pack/legacy/plugins/index_lifecycle_management/  @elastic/es-ui
/x-pack/legacy/plugins/index_management/  @elastic/es-ui
/x-pack/legacy/plugins/license_management/  @elastic/es-ui
/x-pack/legacy/plugins/remote_clusters/  @elastic/es-ui
/x-pack/legacy/plugins/rollup/  @elastic/es-ui
/x-pack/legacy/plugins/searchprofiler/  @elastic/es-ui
/x-pack/legacy/plugins/snapshot_restore/  @elastic/es-ui
/x-pack/legacy/plugins/watcher/  @elastic/es-ui

# Kibana TSVB external contractors
/src/legacy/core_plugins/metrics/  @elastic/kibana-tsvb-external

cleanup
  .stylelintrc
  package.json
  x-pack/legacy/plugins/apm/public/components/shared/Stacktrace/Context.tsx
  x-pack/legacy/plugins/siem/public/components/detection_engine/utility_bar/styles.tsx
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/draggable_wrapper.tsx
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/droppable_wrapper.tsx
  x-pack/legacy/plugins/siem/public/components/fields_browser/field_browser.tsx
  x-pack/legacy/plugins/siem/public/components/filters_global/filters_global.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/kpi_hosts/index.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/step_panel/index.tsx
  x-pack/package.json
  yarn.lock
Owners: @elastic/apm-ui

cleanup
  x-pack/legacy/plugins/apm/public/components/shared/TransactionBreakdown/TransactionBreakdownKpiList.tsx
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/draggable_wrapper.tsx
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/droppable_wrapper.tsx
Owners: @elastic/apm-ui

cleanup
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/draggable_wrapper.tsx
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/droppable_wrapper.tsx
Owners: none

cleanup
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/droppable_wrapper.tsx
Owners: none

cleanup
  .stylelintrc
  x-pack/legacy/plugins/siem/public/components/drag_and_drop/droppable_wrapper.tsx
  x-pack/legacy/plugins/siem/public/components/fields_browser/field_browser.tsx
  x-pack/legacy/plugins/siem/public/components/fields_browser/field_name.tsx
  x-pack/legacy/plugins/siem/public/components/filters_global/filters_global.tsx
  x-pack/legacy/plugins/siem/public/components/header_section/index.tsx
  x-pack/legacy/plugins/siem/public/components/loader/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/index.tsx
  x-pack/legacy/plugins/siem/public/components/search_bar/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/data_providers/provider_badge.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/data_providers/provider_item_and_drag_drop.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/data_providers/providers.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/footer/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/search_or_filter/search_or_filter.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/styles.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/description_step/index.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/query_bar/index.tsx
  x-pack/legacy/plugins/uptime/public/components/functional/charts/donut_chart_legend.tsx
  x-pack/legacy/plugins/uptime/public/components/functional/charts/donut_chart_legend_row.tsx
Owners: none

update snapshot
  x-pack/legacy/plugins/siem/public/components/timeline/body/column_headers/__snapshots__/index.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/timeline/body/column_headers/index.tsx
Owners: none

cleanup
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rule_details/index.tsx
Owners: none

[SIEM] Enable eslint prefer-template rule
  .eslintrc.js
  x-pack/legacy/plugins/siem/dev_tools/circular_deps/run_check_circular_deps_cli.js
  x-pack/legacy/plugins/siem/public/components/filters_global/filters_global.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/body/column_headers/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/body/data_driven_columns/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/body/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/styles.tsx
  x-pack/legacy/plugins/siem/scripts/convert_saved_search_to_rules.js
Owners: none

cleanup
  .eslintrc.js
Owners: none

[SIEM] Enable eslint no-useless-escape rule
  .eslintrc.js
  x-pack/legacy/plugins/siem/public/components/ml/conditional_links/remove_kql_variables.ts
  x-pack/legacy/plugins/siem/public/components/ml/conditional_links/replace_kql_commas_with_or.ts
  x-pack/legacy/plugins/siem/scripts/convert_saved_search_to_rules.js
Owners: none

[SIEM] Enable eslint react/no-children-prop
  .eslintrc.js
  x-pack/legacy/plugins/siem/public/components/draggables/index.tsx
Owners: none

Address feedback from code review
  docs/setup/settings.asciidoc
  src/core/server/elasticsearch/elasticsearch_config.test.ts
  src/core/server/elasticsearch/elasticsearch_config.ts
  src/core/server/http/ssl_config.test.ts
  src/core/server/http/ssl_config.ts
  src/core/utils/crypto/pkcs12.test.ts
  src/core/utils/crypto/pkcs12.ts
Owners: @elastic/kibana-platform

cleanup
  x-pack/legacy/plugins/siem/public/components/timeline/body/column_headers/index.test.tsx
Owners: none
