Repository elastic/kibana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/kibana-app, @elastic/kibana-core-ui, @elastic/kibana-app-arch, @elastic/kibana-canvas, @elastic/apm-ui, @watson, @elastic/beats, @elastic/logs-metrics-ui, @elastic/ingest-management, @elastic/uptime, @elastic/stack-monitoring-ui, @elastic/ml-ui, @elastic/kibana-gis, @elastic/kibana-operations, @elastic/kibana-platform, @elastic/kibana-security, @elastic/kibana-localization, @elastic/pulse, @elastic/kibana-alerting-services, @elastic/kibana-design, @elastic/es-ui, @elastic/endpoint-app-team, @elastic/siem, @elastic/security-intelligence-analytics

[Telemetry] Fix optIn telemetry report bug (#64214)
  src/plugins/telemetry/public/mocks.ts
  src/plugins/telemetry/public/services/telemetry_service.test.ts
  src/plugins/telemetry/public/services/telemetry_service.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in.ts
Owners: @elastic/pulse

update snap
  x-pack/legacy/plugins/uptime/public/components/certificates/__tests__/__snapshots__/cert_status.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/certificates/__tests__/__snapshots__/fingerprint_col.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/certificates/__tests__/cert_status.test.tsx
  x-pack/legacy/plugins/uptime/public/components/certificates/__tests__/fingerprint_col.test.tsx
  x-pack/legacy/plugins/uptime/public/components/monitor/monitor_status_details/__test__/__snapshots__/ssl_certificate.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/monitor/monitor_status_details/__test__/ssl_certificate.test.tsx
Owners: @elastic/uptime

Add missed file
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/types.ts
Owners: @elastic/logs-metrics-ui

Review#1: rename access_notice files to access_agreement.
  x-pack/plugins/security/public/authentication/access_agreement/__snapshots__/access_agreement_page.test.tsx.snap
  x-pack/plugins/security/public/authentication/access_agreement/_access_agreement_page.scss
  x-pack/plugins/security/public/authentication/access_agreement/_index.scss
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_app.test.ts
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_app.ts
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_page.test.tsx
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_page.tsx
  x-pack/plugins/security/public/authentication/access_agreement/index.ts
  x-pack/plugins/security/server/routes/views/access_agreement.test.ts
  x-pack/plugins/security/server/routes/views/access_agreement.ts
Owners: @elastic/kibana-security, @elastic/kibana-design

[kbn/pm] use mtime of untracked files in bootstrap cache key
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/utils/project_checksums.ts
Owners: @elastic/kibana-operations

refactor: 💡 move Discover drilldown example to X-Pack
  examples/ui_action_examples/public/components/README.md
  examples/ui_action_examples/public/components/discover_drilldown_config/i18n.ts
  examples/ui_action_examples/public/components/discover_drilldown_config/index.ts
  examples/ui_action_examples/public/components/index.ts
  examples/ui_action_examples/public/dashboard_to_discover_drilldown/constants.ts
  examples/ui_action_examples/public/dashboard_to_discover_drilldown/i18n.ts
  examples/ui_action_examples/public/dashboard_to_discover_drilldown/index.ts
  examples/ui_action_examples/public/dashboard_to_discover_drilldown/types.ts
  examples/ui_action_examples/public/plugin.ts
  x-pack/.i18nrc.json
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/collect_config_container.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/components/discover_drilldown_config/discover_drilldown_config.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/components/discover_drilldown_config/i18n.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/components/discover_drilldown_config/index.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/components/index.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/constants.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/drilldown.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/i18n.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/index.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/types.ts
  x-pack/examples/ui_actions_enhanced_examples/public/plugin.ts
Owners: none

moves all vis state updates into one place (#61960)
  src/plugins/visualizations/public/index.ts
  src/plugins/visualizations/public/legacy/vis_update.js
  src/plugins/visualizations/public/legacy/vis_update_state.js
  src/plugins/visualizations/public/vis.ts
Owners: @elastic/kibana-app-arch

Fix failing jest tests
  x-pack/plugins/graph/server/saved_objects/migrations.test.ts
Owners: @elastic/kibana-app

Review#1: replace `notice` with `acknowledgement`.
  x-pack/plugins/security/public/authentication/access_agreement/__snapshots__/access_agreement_page.test.tsx.snap
  x-pack/plugins/security/public/authentication/access_agreement/_access_agreement_page.scss
  x-pack/plugins/security/public/authentication/access_agreement/_index.scss
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_app.test.ts
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_app.ts
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_page.test.tsx
  x-pack/plugins/security/public/authentication/access_agreement/access_agreement_page.tsx
  x-pack/plugins/security/public/authentication/access_agreement/index.ts
  x-pack/plugins/security/public/authentication/authentication_service.ts
  x-pack/plugins/security/server/audit/audit_logger.test.ts
  x-pack/plugins/security/server/audit/audit_logger.ts
  x-pack/plugins/security/server/audit/index.mock.ts
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
  x-pack/plugins/security/server/authentication/index.mock.ts
  x-pack/plugins/security/server/authentication/index.ts
  x-pack/plugins/security/server/config.test.ts
  x-pack/plugins/security/server/config.ts
  x-pack/plugins/security/server/routes/authentication/common.test.ts
  x-pack/plugins/security/server/routes/authentication/common.ts
  x-pack/plugins/security/server/routes/views/access_agreement.test.ts
  x-pack/plugins/security/server/routes/views/access_agreement.ts
  x-pack/plugins/security/server/routes/views/index.test.ts
  x-pack/plugins/security/server/routes/views/index.ts
Owners: @elastic/kibana-security, @elastic/kibana-design

[Telemetry] Fix optIn telemetry report bug (#64214)
  src/plugins/telemetry/public/mocks.ts
  src/plugins/telemetry/public/services/telemetry_service.test.ts
  src/plugins/telemetry/public/services/telemetry_service.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in.ts
Owners: @elastic/pulse

wip
  scripts/functional_tests.js
  test/examples/embeddables/adding_children.ts
  test/examples/embeddables/index.ts
Owners: none

moves all vis state updates into one place (#61960)
  src/plugins/visualizations/public/index.ts
  src/plugins/visualizations/public/legacy/vis_update.js
  src/plugins/visualizations/public/legacy/vis_update_state.js
  src/plugins/visualizations/public/vis.ts
Owners: @elastic/kibana-app-arch

add editApp and editPath to embeddable
  src/plugins/dashboard/public/application/embeddable/grid/dashboard_grid.tsx
  src/plugins/dashboard/public/application/tests/dashboard_container.test.tsx
  src/plugins/embeddable/public/lib/actions/edit_panel_action.test.tsx
  src/plugins/embeddable/public/lib/actions/edit_panel_action.ts
  src/plugins/embeddable/public/lib/containers/embeddable_child_panel.test.tsx
  src/plugins/embeddable/public/lib/containers/embeddable_child_panel.tsx
  src/plugins/embeddable/public/lib/embeddables/i_embeddable.ts
  src/plugins/embeddable/public/lib/panel/embeddable_panel.test.tsx
  src/plugins/embeddable/public/lib/panel/embeddable_panel.tsx
  src/plugins/embeddable/public/lib/test_samples/embeddables/hello_world_container.tsx
  src/plugins/embeddable/public/lib/test_samples/embeddables/hello_world_container_component.tsx
  src/plugins/embeddable/public/plugin.tsx
  src/plugins/embeddable/public/tests/apply_filter_action.test.ts
  src/plugins/embeddable/public/tests/container.test.ts
  src/plugins/embeddable/public/tests/customize_panel_modal.test.tsx
  src/plugins/embeddable/public/tests/explicit_input.test.ts
  x-pack/legacy/plugins/siem/public/components/embeddables/embedded_map.tsx
Owners: @elastic/kibana-app, @elastic/kibana-app-arch, @elastic/siem

[APM] change span property name from child_ids to child.id (#64209)
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/waterfallContainer.stories.data.ts
  x-pack/plugins/apm/typings/es_schemas/raw/span_raw.ts
Owners: @elastic/apm-ui

feat: 🎸 add dashboard-to-url drilldown example
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_url_drilldown/index.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/plugin.ts
Owners: none

refactoring
  x-pack/test/api_integration/apis/apm/agent_configuration.ts
Owners: none

Review#1: introduce `AuthenticationProvider` common interface.
  x-pack/plugins/security/common/types.ts
  x-pack/plugins/security/server/audit/audit_logger.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
  x-pack/plugins/security/server/routes/views/access_agreement.test.ts
Owners: @elastic/kibana-security

fix check_published_api_changes.js
  docs/development/core/server/kibana-plugin-core-server.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectmigrationfn.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectunsanitizeddoc.md
  src/core/server/server.api.md
Owners: @elastic/kibana-platform

First iteration of drag and drop tree on feature parity
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/components/drag_and_drop_tree/drag_and_drop_tree.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/components/drag_and_drop_tree/index.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/components/drag_and_drop_tree/tree_node.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/components/index.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/pipeline_processors_editor.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/reducer.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/types.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/utils.test.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_processors_editor/utils.ts
Owners: none

[APM] change span property name from child_ids to child.id (#64209)
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/waterfallContainer.stories.data.ts
  x-pack/plugins/apm/typings/es_schemas/raw/span_raw.ts
Owners: @elastic/apm-ui

Fix some types
  x-pack/plugins/infra/public/components/alerting/inventory/expression.tsx
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/compose/kibana.ts
  x-pack/test/api_integration/apis/infra/metrics_alerting.ts
Owners: @elastic/logs-metrics-ui

[NP] Migrate Tagcloud to NP (#63445) (#64287)
  .i18nrc.json
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_tagcloud/afterparamchange.png
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_tagcloud/afterresize.png
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_tagcloud/basicdraw.png
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_tagcloud/simpleload.png
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_tagcloud/tag_cloud.js
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_tagcloud/tag_cloud_visualization.js
  src/legacy/core_plugins/vis_type_tagcloud/index.ts
  src/legacy/core_plugins/vis_type_tagcloud/package.json
  src/plugins/vis_type_tagcloud/config.ts
  src/plugins/vis_type_tagcloud/kibana.json
  src/plugins/vis_type_tagcloud/public/__snapshots__/tag_cloud_fn.test.ts.snap
  src/plugins/vis_type_tagcloud/public/_tag_cloud.scss
  src/plugins/vis_type_tagcloud/public/components/feedback_message.js
  src/plugins/vis_type_tagcloud/public/components/label.js
  src/plugins/vis_type_tagcloud/public/components/tag_cloud.js
  src/plugins/vis_type_tagcloud/public/components/tag_cloud_options.tsx
  src/plugins/vis_type_tagcloud/public/components/tag_cloud_visualization.js
  src/plugins/vis_type_tagcloud/public/index.scss
  src/plugins/vis_type_tagcloud/public/index.ts
  src/plugins/vis_type_tagcloud/public/plugin.ts
  src/plugins/vis_type_tagcloud/public/services.ts
  src/plugins/vis_type_tagcloud/public/tag_cloud_fn.test.ts
  src/plugins/vis_type_tagcloud/public/tag_cloud_fn.ts
  src/plugins/vis_type_tagcloud/public/tag_cloud_type.ts
  src/plugins/vis_type_tagcloud/public/types.ts
  src/plugins/vis_type_tagcloud/server/index.ts
Owners: @elastic/kibana-design

refactor action filter creation utils (#62969) (#64143)
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.datapublicpluginstart.actions.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.datapublicpluginstart.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.fieldformats.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.fieldformats.md
  src/legacy/core_plugins/vis_type_vislib/public/plugin.ts
  src/legacy/core_plugins/vis_type_vislib/public/vislib/components/legend/legend.test.tsx
  src/legacy/core_plugins/vis_type_vislib/public/vislib/components/legend/legend.tsx
  src/legacy/core_plugins/vis_type_vislib/public/vislib/lib/handler.js
  src/legacy/ui/public/new_platform/new_platform.karma_mock.js
  src/plugins/data/public/actions/filters/create_filters_from_range_select.test.ts
  src/plugins/data/public/actions/filters/create_filters_from_range_select.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.test.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.ts
  src/plugins/data/public/actions/index.ts
  src/plugins/data/public/actions/select_range_action.ts
  src/plugins/data/public/actions/value_click_action.ts
  src/plugins/data/public/mocks.ts
  src/plugins/data/public/plugin.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/public/types.ts
  src/plugins/data/server/server.api.md
  src/plugins/embeddable/public/index.ts
  src/plugins/embeddable/public/lib/triggers/triggers.ts
  src/plugins/ui_actions/public/types.ts
  src/plugins/visualizations/public/embeddable/visualize_embeddable.ts
  src/plugins/visualizations/public/expressions/vis.ts
  x-pack/plugins/lens/public/xy_visualization/xy_expression.tsx
Owners: @elastic/kibana-app, @elastic/kibana-app-arch

Review#1: introduce `AuthenticationProvider` common interface, do not generalize flags just yet.
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
Owners: @elastic/kibana-security

[ML] Fix feature importance column.
  x-pack/plugins/ml/public/application/components/data_grid/common.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/common/constants.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/common/fields.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/exploration_results_table/use_exploration_results.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/outlier_exploration/use_outlier_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/action_clone.tsx
Owners: @elastic/ml-ui

[7.x][DOCS] Adds ML related items to release highlights.
  docs/release-notes/highlights-7.7.0.asciidoc
  docs/release-notes/images/7-7-file-uploader-filebeat.png
Owners: none

feat: 🎸 add new tab support for URL drilldown
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_url_drilldown/index.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/plugin.ts
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Identify which groups will be pinged by changes to different parts of the codebase.
# For more info, see https://help.github.com/articles/about-codeowners/

# App
/x-pack/plugins/lens/ @elastic/kibana-app
/x-pack/plugins/graph/ @elastic/kibana-app
/src/legacy/server/url_shortening/ @elastic/kibana-app
/src/legacy/server/sample_data/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/dashboard/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/discover/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/local_application_service/ @elastic/kibana-app
/src/legacy/core_plugins/kibana/public/dev_tools/ @elastic/kibana-app
/src/legacy/core_plugins/vis_type_vislib/ @elastic/kibana-app
/src/plugins/vis_type_xy/ @elastic/kibana-app
/src/plugins/vis_type_table/ @elastic/kibana-app
/src/plugins/kibana_legacy/ @elastic/kibana-app
/src/plugins/vis_type_timelion/ @elastic/kibana-app
/src/plugins/dashboard/ @elastic/kibana-app
/src/plugins/discover/ @elastic/kibana-app
/src/plugins/input_control_vis/ @elastic/kibana-app
/src/plugins/visualize/ @elastic/kibana-app
/src/plugins/vis_type_timeseries/ @elastic/kibana-app
/src/plugins/vis_type_metric/ @elastic/kibana-app
/src/plugins/vis_type_markdown/ @elastic/kibana-app

# Core UI
# Exclude tutorials folder for now because they are not owned by Kibana app and most will move out soon
/src/plugins/home/public @elastic/kibana-core-ui
/src/plugins/home/server/*.ts @elastic/kibana-core-ui
/src/plugins/home/server/services/ @elastic/kibana-core-ui
# Exclude tutorial resources folder for now because they are not owned by Kibana app and most will move out soon
/src/legacy/core_plugins/kibana/public/home/*.ts @elastic/kibana-core-ui
/src/legacy/core_plugins/kibana/public/home/*.scss @elastic/kibana-core-ui
/src/legacy/core_plugins/kibana/public/home/np_ready/ @elastic/kibana-core-ui

# App Architecture
/examples/url_generators_examples/ @elastic/kibana-app-arch
/examples/url_generators_explorer/ @elastic/kibana-app-arch
/packages/kbn-interpreter/ @elastic/kibana-app-arch
/src/legacy/core_plugins/embeddable_api/ @elastic/kibana-app-arch
/src/legacy/core_plugins/interpreter/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana_react/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana/public/management/ @elastic/kibana-app-arch
/src/legacy/core_plugins/kibana/server/routes/api/management/ @elastic/kibana-app-arch
/src/legacy/core_plugins/visualizations/ @elastic/kibana-app-arch
/src/legacy/server/index_patterns/ @elastic/kibana-app-arch
/src/plugins/advanced_settings/ @elastic/kibana-app-arch
/src/plugins/bfetch/ @elastic/kibana-app-arch
/src/plugins/data/ @elastic/kibana-app-arch
/src/plugins/embeddable/ @elastic/kibana-app-arch
/src/plugins/expressions/ @elastic/kibana-app-arch
/src/plugins/inspector/ @elastic/kibana-app-arch
/src/plugins/kibana_react/ @elastic/kibana-app-arch
/src/plugins/kibana_react/public/code_editor @elastic/kibana-canvas
/src/plugins/kibana_utils/ @elastic/kibana-app-arch
/src/plugins/management/ @elastic/kibana-app-arch
/src/plugins/navigation/ @elastic/kibana-app-arch
/src/plugins/share/ @elastic/kibana-app-arch
/src/plugins/ui_actions/ @elastic/kibana-app-arch
/src/plugins/visualizations/ @elastic/kibana-app-arch
/x-pack/plugins/advanced_ui_actions/ @elastic/kibana-app-arch
/x-pack/plugins/data_enhanced/ @elastic/kibana-app-arch
/x-pack/plugins/drilldowns/ @elastic/kibana-app-arch

# APM
/x-pack/legacy/plugins/apm/  @elastic/apm-ui
/x-pack/plugins/apm/  @elastic/apm-ui
/x-pack/test/functional/apps/apm/  @elastic/apm-ui
/src/legacy/core_plugins/apm_oss/  @elastic/apm-ui
/src/plugins/apm_oss/  @elastic/apm-ui
/src/apm.js @watson

# Beats
/x-pack/legacy/plugins/beats_management/  @elastic/beats

# Canvas
/x-pack/legacy/plugins/canvas/  @elastic/kibana-canvas

# Observability UIs
/x-pack/legacy/plugins/infra/ @elastic/logs-metrics-ui
/x-pack/plugins/infra/ @elastic/logs-metrics-ui
/x-pack/plugins/ingest_manager/ @elastic/ingest-management
/x-pack/legacy/plugins/ingest_manager/ @elastic/ingest-management
/x-pack/plugins/observability/ @elastic/logs-metrics-ui @elastic/apm-ui @elastic/uptime @elastic/ingest-management
/x-pack/legacy/plugins/monitoring/ @elastic/stack-monitoring-ui
/x-pack/legacy/plugins/uptime @elastic/uptime
/x-pack/plugins/uptime @elastic/uptime

# Machine Learning
/x-pack/legacy/plugins/ml/  @elastic/ml-ui
/x-pack/plugins/ml/  @elastic/ml-ui
/x-pack/test/functional/apps/machine_learning/  @elastic/ml-ui
/x-pack/test/functional/services/machine_learning/  @elastic/ml-ui
/x-pack/test/functional/services/ml.ts  @elastic/ml-ui
# ML team owns and maintains the transform plugin despite it living in the Elasticsearch management section.
/x-pack/plugins/transform/  @elastic/ml-ui
/x-pack/test/functional/apps/transform/ @elastic/ml-ui
/x-pack/test/functional/services/transform_ui/ @elastic/ml-ui
/x-pack/test/functional/services/transform.ts @elastic/ml-ui

# Maps
/x-pack/legacy/plugins/maps/ @elastic/kibana-gis
/x-pack/plugins/maps/ @elastic/kibana-gis
/x-pack/test/api_integration/apis/maps/ @elastic/kibana-gis
/x-pack/test/functional/apps/maps/ @elastic/kibana-gis
/x-pack/test/functional/es_archives/maps/ @elastic/kibana-gis
/x-pack/test/visual_regression/tests/maps/index.js @elastic/kibana-gis

# Operations
/src/dev/ @elastic/kibana-operations
/src/setup_node_env/ @elastic/kibana-operations
/src/optimize/ @elastic/kibana-operations
/src/es_archiver/ @elastic/kibana-operations
/packages/*eslint*/ @elastic/kibana-operations
/packages/*babel*/ @elastic/kibana-operations
/packages/kbn-dev-utils*/ @elastic/kibana-operations
/packages/kbn-es/ @elastic/kibana-operations
/packages/kbn-optimizer/ @elastic/kibana-operations
/packages/kbn-pm/ @elastic/kibana-operations
/packages/kbn-test/ @elastic/kibana-operations
/packages/kbn-ui-shared-deps/ @elastic/kibana-operations
/src/legacy/server/keystore/ @elastic/kibana-operations
/src/legacy/server/pid/ @elastic/kibana-operations
/src/legacy/server/sass/ @elastic/kibana-operations
/src/legacy/server/utils/ @elastic/kibana-operations
/src/legacy/server/warnings/ @elastic/kibana-operations

# Platform
/src/core/  @elastic/kibana-platform
/config/kibana.yml @elastic/kibana-platform
/x-pack/plugins/features/  @elastic/kibana-platform
/x-pack/plugins/licensing/  @elastic/kibana-platform
/packages/kbn-config-schema/ @elastic/kibana-platform
/src/legacy/server/config/ @elastic/kibana-platform
/src/legacy/server/http/ @elastic/kibana-platform
/src/legacy/server/logging/ @elastic/kibana-platform
/src/legacy/server/saved_objects/  @elastic/kibana-platform
/src/legacy/server/status/ @elastic/kibana-platform
/src/plugins/status_page/ @elastic/kibana-platform
/src/plugins/saved_objects_management/ @elastic/kibana-platform
/src/dev/run_check_published_api_changes.ts @elastic/kibana-platform

# Security
/src/core/server/csp/  @elastic/kibana-security @elastic/kibana-platform
/x-pack/legacy/plugins/security/  @elastic/kibana-security
/x-pack/legacy/plugins/spaces/  @elastic/kibana-security
/x-pack/plugins/spaces/  @elastic/kibana-security
/x-pack/legacy/plugins/encrypted_saved_objects/  @elastic/kibana-security
/x-pack/plugins/encrypted_saved_objects/  @elastic/kibana-security
/x-pack/plugins/security/  @elastic/kibana-security
/x-pack/test/api_integration/apis/security/ @elastic/kibana-security

# Kibana Localization
/src/dev/i18n/  @elastic/kibana-localization
/src/legacy/server/i18n/  @elastic/kibana-localization
/src/core/public/i18n/  @elastic/kibana-localization
/packages/kbn-i18n/  @elastic/kibana-localization

# Pulse
/packages/kbn-analytics/ @elastic/pulse
/src/legacy/core_plugins/ui_metric/ @elastic/pulse
/src/plugins/telemetry/ @elastic/pulse
/src/plugins/telemetry_collection_manager/ @elastic/pulse
/src/plugins/telemetry_management_section/ @elastic/pulse
/src/plugins/usage_collection/ @elastic/pulse
/x-pack/plugins/telemetry_collection_xpack/ @elastic/pulse

# Kibana Alerting Services
/x-pack/legacy/plugins/alerting/ @elastic/kibana-alerting-services
/x-pack/legacy/plugins/actions/ @elastic/kibana-alerting-services
/x-pack/plugins/alerting/ @elastic/kibana-alerting-services
/x-pack/plugins/actions/ @elastic/kibana-alerting-services
/x-pack/plugins/event_log/ @elastic/kibana-alerting-services
/x-pack/plugins/task_manager/ @elastic/kibana-alerting-services
/x-pack/test/alerting_api_integration/ @elastic/kibana-alerting-services
/x-pack/test/plugin_api_integration/plugins/task_manager/ @elastic/kibana-alerting-services
/x-pack/test/plugin_api_integration/test_suites/task_manager/ @elastic/kibana-alerting-services
/x-pack/legacy/plugins/triggers_actions_ui/ @elastic/kibana-alerting-services
/x-pack/plugins/triggers_actions_ui/ @elastic/kibana-alerting-services
/x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/ @elastic/kibana-alerting-services
/x-pack/test/functional_with_es_ssl/fixtures/plugins/alerts/ @elastic/kibana-alerting-services

# Design
**/*.scss  @elastic/kibana-design

# Elasticsearch UI
/src/plugins/dev_tools/ @elastic/es-ui
/src/plugins/console/  @elastic/es-ui
/src/plugins/es_ui_shared/  @elastic/es-ui
/x-pack/legacy/plugins/cross_cluster_replication/  @elastic/es-ui
/x-pack/plugins/index_lifecycle_management/  @elastic/es-ui
/x-pack/legacy/plugins/index_management/  @elastic/es-ui
/x-pack/legacy/plugins/license_management/  @elastic/es-ui
/x-pack/legacy/plugins/rollup/  @elastic/es-ui
/x-pack/legacy/plugins/snapshot_restore/  @elastic/es-ui
/x-pack/legacy/plugins/upgrade_assistant/  @elastic/es-ui
/x-pack/plugins/console_extensions/  @elastic/es-ui
/x-pack/plugins/es_ui_shared/  @elastic/es-ui
/x-pack/plugins/grokdebugger/  @elastic/es-ui
/x-pack/plugins/index_management/  @elastic/es-ui
/x-pack/plugins/license_management/  @elastic/es-ui
/x-pack/plugins/painless_lab/  @elastic/es-ui
/x-pack/plugins/remote_clusters/  @elastic/es-ui
/x-pack/plugins/rollup/  @elastic/es-ui
/x-pack/plugins/searchprofiler/  @elastic/es-ui
/x-pack/plugins/snapshot_restore/  @elastic/es-ui
/x-pack/plugins/upgrade_assistant/  @elastic/es-ui
/x-pack/plugins/watcher/  @elastic/es-ui

# Endpoint
/x-pack/plugins/endpoint/ @elastic/endpoint-app-team
/x-pack/test/api_integration/apis/endpoint/ @elastic/endpoint-app-team
/x-pack/test/endpoint_api_integration_no_ingest/ @elastic/endpoint-app-team
/x-pack/test/functional_endpoint/ @elastic/endpoint-app-team
/x-pack/test/functional_endpoint_ingest_failure/ @elastic/endpoint-app-team
/x-pack/test/functional/es_archives/endpoint/ @elastic/endpoint-app-team
/x-pack/test/plugin_functional/plugins/resolver_test/ @elastic/endpoint-app-team
/x-pack/test/plugin_functional/test_suites/resolver/ @elastic/endpoint-app-team

# SIEM
/x-pack/legacy/plugins/siem/ @elastic/siem
/x-pack/plugins/siem/ @elastic/siem
/x-pack/test/detection_engine_api_integration @elastic/siem
/x-pack/test/api_integration/apis/siem @elastic/siem
/x-pack/plugins/case @elastic/siem

# Security Intelligence And Analytics
/x-pack/legacy/plugins/siem/server/lib/detection_engine/rules/prepackaged_rules @elastic/security-intelligence-analytics
/x-pack/plugins/siem/server/lib/detection_engine/rules/prepackaged_rules @elastic/security-intelligence-analytics
