Repository elastic/kibana, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/kibana-app, @elastic/kibana-app-arch, @elastic/apm-ui, @elastic/beats, @elastic/kibana-canvas, @teams/code, @elastic/infra-logs-ui, @elastic/ml-ui, @elastic/kibana-operations, @elastic/kibana-platform, @elastic/kibana-security, @elastic/kibana-stack-services, @elastic/kibana-design, @elastic/es-ui, @elastic/kibana-tsvb-external

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# Identify which groups will be pinged by changes to different parts of the codebase.
# For more info, see https://help.github.com/articles/about-codeowners/

# App
/x-pack/legacy/plugins/lens/ @elastic/kibana-app
/x-pack/legacy/plugins/graph/ @elastic/kibana-app

# App Architecture
/src/plugins/data/ @elastic/kibana-app-arch
/src/plugins/kibana_utils/ @elastic/kibana-app-arch
/src/plugins/kibana_react/ @elastic/kibana-app-arch

# APM
/x-pack/legacy/plugins/apm/  @elastic/apm-ui
/x-pack/test/functional/apps/apm/  @elastic/apm-ui
/src/legacy/core_plugins/apm_oss/  @elastic/apm-ui

# Beats
/x-pack/legacy/plugins/beats_management/  @elastic/beats

# Canvas
/x-pack/legacy/plugins/canvas/  @elastic/kibana-canvas

# Code
/x-pack/legacy/plugins/code/  @teams/code
/x-pack/test/functional/apps/code/  @teams/code
/x-pack/test/api_integration/apis/code/  @teams/code

# Infrastructure and Logs UI
/x-pack/legacy/plugins/infra/ @elastic/infra-logs-ui

# Machine Learning
/x-pack/legacy/plugins/ml/  @elastic/ml-ui
/x-pack/test/functional/apps/machine_learning/  @elastic/ml-ui
/x-pack/test/functional/services/machine_learning/  @elastic/ml-ui
/x-pack/test/functional/services/ml.ts  @elastic/ml-ui
/x-pack/legacy/plugins/transform/  @elastic/ml-ui

# Operations
/renovate.json5 @elastic/kibana-operations
/src/dev/ @elastic/kibana-operations
/src/setup_node_env/ @elastic/kibana-operations
/src/optimize/ @elastic/kibana-operations

# Platform
/src/core/  @elastic/kibana-platform
/src/legacy/server/saved_objects/  @elastic/kibana-platform
/config/kibana.yml @elastic/kibana-platform
/x-pack/plugins/features/  @elastic/kibana-platform

# Security
/x-pack/legacy/plugins/security/  @elastic/kibana-security
/x-pack/legacy/plugins/spaces/  @elastic/kibana-security
/x-pack/legacy/plugins/encrypted_saved_objects/  @elastic/kibana-security
/src/legacy/server/csp/ @elastic/kibana-security
/x-pack/plugins/security/  @elastic/kibana-security
/x-pack/test/api_integration/apis/security/ @elastic/kibana-security

# Kibana Stack Services
/packages/kbn-analytics/ @elastic/kibana-stack-services
/src/legacy/core_plugins/ui_metric/ @elastic/kibana-stack-services
/x-pack/legacy/plugins/telemetry @elastic/kibana-stack-services
/x-pack/legacy/plugins/alerting @elastic/kibana-stack-services
/x-pack/legacy/plugins/actions @elastic/kibana-stack-services
/x-pack/legacy/plugins/task_manager @elastic/kibana-stack-services

# Design
**/*.scss  @elastic/kibana-design

# Elasticsearch UI
/src/legacy/core_plugins/console/  @elastic/es-ui
/src/plugins/es_ui_shared/  @elastic/es-ui
/x-pack/legacy/plugins/console_extensions/  @elastic/es-ui
/x-pack/legacy/plugins/cross_cluster_replication/  @elastic/es-ui
/x-pack/legacy/plugins/index_lifecycle_management/  @elastic/es-ui
/x-pack/legacy/plugins/index_management/  @elastic/es-ui
/x-pack/legacy/plugins/license_management/  @elastic/es-ui
/x-pack/legacy/plugins/remote_clusters/  @elastic/es-ui
/x-pack/legacy/plugins/rollup/  @elastic/es-ui
/x-pack/legacy/plugins/searchprofiler/  @elastic/es-ui
/x-pack/legacy/plugins/snapshot_restore/  @elastic/es-ui
/x-pack/legacy/plugins/watcher/  @elastic/es-ui

# Kibana TSVB external contractors
/src/legacy/core_plugins/metrics/  @elastic/kibana-tsvb-external

Updating list of SIEM modules to show jobs from within the Anomaly Detection UI
  x-pack/legacy/plugins/siem/public/components/ml_popover/ml_modules.tsx
Owners: none

up the logs for platform bug
  x-pack/plugins/features/server/feature_registry.test.ts
  x-pack/plugins/features/server/feature_registry.ts
Owners: @elastic/kibana-platform

[DOCS] Changed Logs UI to Logs in RN
  docs/CHANGELOG.asciidoc
Owners: none

Provide an example for timepicker:refreshIntervalDefaults (#47345)
  docs/management/advanced-options.asciidoc
Owners: none

Add zero down heading.
  x-pack/legacy/plugins/uptime/public/components/functional/snapshot.tsx
Owners: none

Add delete support
  x-pack/legacy/plugins/actions/server/plugin.ts
  x-pack/legacy/plugins/alerting_ui/np_ready/public/application/lib/api.ts
  x-pack/legacy/plugins/alerting_ui/np_ready/public/application/sections/actions_list/components/actions_list.tsx
Owners: @elastic/kibana-stack-services

[DOCS] Changed Logs UI to Logs in RN (#48255)
  docs/CHANGELOG.asciidoc
Owners: none

console: add enrich policy
  x-pack/legacy/plugins/console_extensions/spec/generated/enrich.delete_policy.json
  x-pack/legacy/plugins/console_extensions/spec/generated/enrich.execute_policy.json
  x-pack/legacy/plugins/console_extensions/spec/generated/enrich.get_policy.json
  x-pack/legacy/plugins/console_extensions/spec/generated/enrich.put_policy.json
  x-pack/legacy/plugins/console_extensions/spec/generated/enrich.stats.json
  x-pack/legacy/plugins/console_extensions/spec/overrides/enrich.put_policy.json
Owners: @elastic/es-ui

Fixed time filter strings
  x-pack/legacy/plugins/canvas/i18n/units.ts
Owners: @elastic/kibana-canvas

[SIEM] Add Authentications histogram
  x-pack/legacy/plugins/siem/public/components/matrix_over_time/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/authentications_over_time/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/authentications_over_time/translation.ts
  x-pack/legacy/plugins/siem/public/components/page/hosts/events_over_time/translation.ts
  x-pack/legacy/plugins/siem/public/containers/authentications/authentications_over_time/authentications_over_time.gql_query.ts
  x-pack/legacy/plugins/siem/public/containers/authentications/authentications_over_time/index.tsx
  x-pack/legacy/plugins/siem/public/graphql/introspection.json
  x-pack/legacy/plugins/siem/public/graphql/types.ts
  x-pack/legacy/plugins/siem/public/pages/hosts/navigation/authentications_query_tab_body.tsx
  x-pack/legacy/plugins/siem/server/graphql/authentications/resolvers.ts
  x-pack/legacy/plugins/siem/server/graphql/authentications/schema.gql.ts
  x-pack/legacy/plugins/siem/server/graphql/types.ts
  x-pack/legacy/plugins/siem/server/lib/authentications/elasticsearch_adapter.test.ts
  x-pack/legacy/plugins/siem/server/lib/authentications/elasticsearch_adapter.ts
  x-pack/legacy/plugins/siem/server/lib/authentications/index.ts
  x-pack/legacy/plugins/siem/server/lib/authentications/query.authentications_over_time.dsl.ts
  x-pack/legacy/plugins/siem/server/lib/authentications/types.ts
Owners: none

Small test for relative URLs
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/add_force_now_query_string.test.ts
Owners: none

Add supertest to plugin_functional suite
  test/plugin_functional/config.js
  test/plugin_functional/services/index.js
  test/plugin_functional/services/supertest.js
Owners: none

Add functional test for HTTP context
  test/plugin_functional/plugins/core_plugin_legacy/index.ts
  test/plugin_functional/test_suites/core_plugins/legacy_plugins.js
Owners: none
