Repository elastic/kibana, pull requests merged in 2018-02, with the labels that each got.

#16646 [6.2] Rename min/max documents into from/to (#16638)
  src/ui/public/visualize/loader/loader.js
Labels: backport

#16645 [6.x] Rename min/max documents into from/to (#16638)
  src/ui/public/visualize/loader/loader.js
Labels: backport

#16629 [6.2] [FTR] Add pause/resume auto refresh to header page object (#16618)
  src/ui/public/timepicker/kbn_global_timepicker.html
  test/functional/page_objects/header_page.js
Labels: backport, v6.2.2

#16628 [6.x] [FTR] Add pause/resume auto refresh to header page object (#16618)
  src/ui/public/timepicker/kbn_global_timepicker.html
  test/functional/page_objects/header_page.js
Labels: backport, v6.3.0

#16621 [kbn-build/linkExectuables] add test with dev dependencies
  packages/kbn-build/src/utils/__snapshots__/link_project_executables.test.js.snap
  packages/kbn-build/src/utils/link_project_executables.test.js
Labels: :Platform, review, v6.3.0, v7.0.0

#16583 Sanity tests for Gauge/TopN in TSVB
  test/functional/apps/visualize/_tsvb_chart.js
  test/functional/page_objects/visual_builder_page.js
Labels: :Time Series, :Visualizations, test, v6.3.0, v7.0.0

#16651 [6.x] adding gauge and topN sanity tests for TSVB (#16583)
  test/functional/apps/visualize/_tsvb_chart.js
  test/functional/page_objects/visual_builder_page.js
Labels: :Time Series, :Visualizations, backport, test, v6.3.0

#16650 [6.x] [kbn-build/linkExectuables] add test with dev dependencies (#16621)
  packages/kbn-build/src/utils/__snapshots__/link_project_executables.test.js.snap
  packages/kbn-build/src/utils/link_project_executables.test.js
Labels: backport

#16625 [eslint-config-kibana] remove stub test command
  packages/eslint-config-kibana/package.json
Labels: review, v6.3.0, v7.0.0

#16620 [6.x] [plugin-helpers] update readme (#16616)
  packages/kbn-plugin-helpers/README.md
Labels: backport

#16632 [plugin-helpers] npm -> yarn
  packages/kbn-plugin-helpers/lib/plugin_config.js
  packages/kbn-plugin-helpers/tasks/build/create_build.js
  packages/kbn-plugin-helpers/tasks/test/browser/test_browser_action.js
  packages/kbn-plugin-helpers/tasks/test/server/README.md
Labels: :Platform

#16659 small gramatical fix in the 'CONTRBUTING.md'
  CONTRIBUTING.md
Labels: docs

#16596 [kbn-build] Extract and test `parallelizeBatches`
  packages/kbn-build/dist/index.js
  packages/kbn-build/src/commands/bootstrap.js
  packages/kbn-build/src/commands/run.js
  packages/kbn-build/src/utils/parallelize.js
  packages/kbn-build/src/utils/parallelize.test.js
Labels: :Platform

#16670 [6.x] small gramatical fix in the 'CONTRBUTING.md' (#16659)
  CONTRIBUTING.md
Labels: backport, v6.3.0

#16671 [6.x] [kbn-build] Extract and test `parallelizeBatches` (#16596)
  packages/kbn-build/dist/index.js
  packages/kbn-build/src/commands/bootstrap.js
  packages/kbn-build/src/commands/run.js
  packages/kbn-build/src/utils/parallelize.js
  packages/kbn-build/src/utils/parallelize.test.js
Labels: backport

#16510 Add link to nested my field support plugin
  docs/plugins/known-plugins.asciidoc
Labels: docs

#16509 [plugin] Handle Kibana package dependencies
  package.json
  packages/kbn-build/dist/index.js
  packages/kbn-build/package.json
  packages/kbn-build/src/index.js
  packages/kbn-build/src/production/__fixtures__/external_packages/with_kibana_link_deps/package.json
  packages/kbn-build/src/production/__fixtures__/external_packages/with_other_link_deps/package.json
  packages/kbn-build/src/production/__tests__/build_production_projects.js
  packages/kbn-build/src/production/build_production_projects.js
  packages/kbn-build/src/production/index.js
  packages/kbn-build/src/production/prepare_project_dependencies.js
  packages/kbn-build/src/production/prepare_project_dependencies.test.js
  packages/kbn-build/src/utils/__snapshots__/link_project_executables.test.js.snap
  packages/kbn-build/src/utils/fs.js
  packages/kbn-build/src/utils/package_json.js
  packages/kbn-build/src/utils/project.js
  src/cli_plugin/install/install.js
Labels: :Platform, review

#16681 [6.x] [eslint-config-kibana] remove stub test command (#16625)
  packages/eslint-config-kibana/package.json
Labels: backport

#16604 [Management] Scripted fields table in React
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.html
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_sections.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/__tests__/__snapshots__/scripted_field_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/__tests__/scripted_field_table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__tests__/__snapshots__/call_outs.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__tests__/call_outs.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/call_outs.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/__tests__/__snapshots__/header.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/__tests__/header.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/header.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/__tests__/table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/table.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/date_scripts.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/lib/__tests__/table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/lib/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/lib/table.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/scripted_fields_table.html
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/scripted_fields_table.js
Labels: :Management, review, v6.3.0, v7.0.0

#16627 Add hover and active states for Kibana logo in side nav.
  src/ui/public/chrome/directives/global_nav/global_nav.html
  src/ui/public/chrome/directives/global_nav/global_nav.js
  src/ui/public/chrome/directives/global_nav/global_nav.less
  src/ui/public/chrome/directives/global_nav/global_nav_link/global_nav_link.less
Labels: :Design, v6.3.0, v7.0.0

#16683 [6.x] Add hover and active states for Kibana logo in side nav. (#16627)
  src/ui/public/chrome/directives/global_nav/global_nav.html
  src/ui/public/chrome/directives/global_nav/global_nav.js
  src/ui/public/chrome/directives/global_nav/global_nav.less
  src/ui/public/chrome/directives/global_nav/global_nav_link/global_nav_link.less
Labels: backport

#16658 [6.x] [plugin-helpers] npm -> yarn (#16632)
  packages/kbn-plugin-helpers/lib/plugin_config.js
  packages/kbn-plugin-helpers/tasks/build/create_build.js
  packages/kbn-plugin-helpers/tasks/test/browser/test_browser_action.js
  packages/kbn-plugin-helpers/tasks/test/server/README.md
Labels: backport

#16680 [6.x] [plugin] Handle Kibana package dependencies (#16509)
  package.json
  packages/kbn-build/dist/index.js
  packages/kbn-build/package.json
  packages/kbn-build/src/index.js
  packages/kbn-build/src/production/__fixtures__/external_packages/with_kibana_link_deps/package.json
  packages/kbn-build/src/production/__fixtures__/external_packages/with_other_link_deps/package.json
  packages/kbn-build/src/production/__tests__/build_production_projects.js
  packages/kbn-build/src/production/build_production_projects.js
  packages/kbn-build/src/production/index.js
  packages/kbn-build/src/production/prepare_project_dependencies.js
  packages/kbn-build/src/production/prepare_project_dependencies.test.js
  packages/kbn-build/src/utils/__snapshots__/link_project_executables.test.js.snap
  packages/kbn-build/src/utils/fs.js
  packages/kbn-build/src/utils/package_json.js
  packages/kbn-build/src/utils/project.js
  src/cli_plugin/install/install.js
Labels: backport

#16655 [kbn-plugin-generator] add plugin generator to the repo
  .eslintignore
  .eslintrc.js
  docs/development/plugin/development-plugin-resources.asciidoc
  package.json
  packages/kbn-plugin-generator/README.md
  packages/kbn-plugin-generator/index.js
  packages/kbn-plugin-generator/package.json
  packages/kbn-plugin-generator/sao_template/sao.js
  packages/kbn-plugin-generator/sao_template/sao.test.js
  packages/kbn-plugin-generator/sao_template/template/README.md
  packages/kbn-plugin-generator/sao_template/template/eslintrc
  packages/kbn-plugin-generator/sao_template/template/gitignore
  packages/kbn-plugin-generator/sao_template/template/index.js
  packages/kbn-plugin-generator/sao_template/template/package.json
  packages/kbn-plugin-generator/sao_template/template/public/__tests__/index.js
  packages/kbn-plugin-generator/sao_template/template/public/app.js
  packages/kbn-plugin-generator/sao_template/template/public/hack.js
  packages/kbn-plugin-generator/sao_template/template/public/less/main.less
  packages/kbn-plugin-generator/sao_template/template/public/templates/index.html
  packages/kbn-plugin-generator/sao_template/template/server/__tests__/index.js
  packages/kbn-plugin-generator/sao_template/template/server/routes/example.js
  packages/kbn-plugin-generator/yarn.lock
  scripts/generate_plugin.js
  src/dev/eslint/default_eslint_paths.js
  yarn.lock
Labels: :Platform, review, v6.3.0, v7.0.0

#16682 [6.x] [Management] Scripted fields table in React (#16604)
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.html
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_sections.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/__tests__/__snapshots__/scripted_field_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/__tests__/scripted_field_table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__tests__/__snapshots__/call_outs.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__tests__/call_outs.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/call_outs.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/__tests__/__snapshots__/header.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/__tests__/header.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/header.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/header/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/__tests__/table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/table/table.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/date_scripts.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/lib/__tests__/table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/lib/index.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/lib/table.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/scripted_fields_table.js
Labels: backport

#16687 Condense build task
  tasks/build/babel_cache.js
  tasks/build/create_empty_dirs_and_files.js
  tasks/build/data.js
  tasks/build/index.js
  tasks/build/installed_plugins.js
  tasks/config/clean.js
  tasks/config/copy.js
  tasks/jenkins.js
  tasks/test.js
  tasks/verify_translations.js
Labels: :Operations, review, v6.3.0, v7.0.0

#16689 [6.x] Condense build task (#16687)
  tasks/build/babel_cache.js
  tasks/build/create_empty_dirs_and_files.js
  tasks/build/data.js
  tasks/build/index.js
  tasks/build/installed_plugins.js
  tasks/config/clean.js
  tasks/config/copy.js
  tasks/jenkins.js
  tasks/test.js
  tasks/verify_translations.js
Labels: backport

#16686 [6.x] [kbn-plugin-generator] add plugin generator to the repo (#16655)
  .eslintignore
  .eslintrc.js
  docs/development/plugin/development-plugin-resources.asciidoc
  package.json
  packages/kbn-plugin-generator/README.md
  packages/kbn-plugin-generator/index.js
  packages/kbn-plugin-generator/package.json
  packages/kbn-plugin-generator/sao_template/sao.js
  packages/kbn-plugin-generator/sao_template/sao.test.js
  packages/kbn-plugin-generator/sao_template/template/README.md
  packages/kbn-plugin-generator/sao_template/template/eslintrc
  packages/kbn-plugin-generator/sao_template/template/gitignore
  packages/kbn-plugin-generator/sao_template/template/index.js
  packages/kbn-plugin-generator/sao_template/template/package.json
  packages/kbn-plugin-generator/sao_template/template/public/__tests__/index.js
  packages/kbn-plugin-generator/sao_template/template/public/app.js
  packages/kbn-plugin-generator/sao_template/template/public/hack.js
  packages/kbn-plugin-generator/sao_template/template/public/less/main.less
  packages/kbn-plugin-generator/sao_template/template/public/templates/index.html
  packages/kbn-plugin-generator/sao_template/template/server/__tests__/index.js
  packages/kbn-plugin-generator/sao_template/template/server/routes/example.js
  packages/kbn-plugin-generator/yarn.lock
  scripts/generate_plugin.js
  src/dev/eslint/default_eslint_paths.js
  yarn.lock
Labels: backport

#16668 Remove Prettier script from @kbn/build
  packages/kbn-build/package.json
  packages/kbn-build/yarn.lock
Labels: :Platform, chore

#16697 [6.x] Remove prettier script from @kbn/build (#16668)
  packages/kbn-build/package.json
  packages/kbn-build/yarn.lock
Labels: backport

#16688 Service to show confirmation prompt when leaving a dirty form
  src/ui/public/dirty_prompt/dirty_prompt.factory.js
  src/ui/public/dirty_prompt/dirty_prompt.js
  src/ui/public/dirty_prompt/index.js
  src/ui/public/kbn_top_nav/bread_crumbs/bread_crumbs.html
Labels: review, v6.2.2, v6.3.0, v7.0.0

#16696 Vega: Handle no height/width with autosize=none
  src/core_plugins/vega/public/data_model/vega_parser.js
Labels: :Vega vis

#16236 Use `forceNow` query parameter when parsing timefilter
  src/ui/public/timefilter/__tests__/timefilter.js
  src/ui/public/timefilter/timefilter.js
  src/ui/public/timepicker/__tests__/toggle.js
  src/ui/public/timepicker/kbn_global_timepicker.html
Labels: :Sharing, review, v6.3.0, v7.0.0

#16704 [6.x] Use `forceNow` query parameter when parsing timefilter (#16236)
  src/ui/public/timefilter/__tests__/timefilter.js
  src/ui/public/timefilter/timefilter.js
  src/ui/public/timepicker/__tests__/toggle.js
  src/ui/public/timepicker/kbn_global_timepicker.html
Labels: backport

#16592 Add icons to Add Data list and tutorial view
  src/core_plugins/kibana/common/tutorials/tutorial_schema.js
  src/core_plugins/kibana/public/home/components/__snapshots__/synopsis.test.js.snap
  src/core_plugins/kibana/public/home/components/synopsis.js
  src/core_plugins/kibana/public/home/components/synopsis.test.js
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/introduction.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/introduction.js
  src/core_plugins/kibana/public/home/components/tutorial/introduction.test.js
  src/core_plugins/kibana/public/home/components/tutorial/tutorial.js
  src/core_plugins/kibana/public/home/components/tutorial/tutorial.test.js
  src/core_plugins/kibana/public/home/components/tutorial_directory.js
  src/core_plugins/kibana/server/tutorials/apache_logs/index.js
  src/core_plugins/kibana/server/tutorials/apache_metrics/index.js
  src/core_plugins/kibana/server/tutorials/apm/index.js
  src/core_plugins/kibana/server/tutorials/docker_metrics/index.js
  src/core_plugins/kibana/server/tutorials/kubernetes_metrics/index.js
  src/core_plugins/kibana/server/tutorials/mysql_logs/index.js
  src/core_plugins/kibana/server/tutorials/mysql_metrics/index.js
  src/core_plugins/kibana/server/tutorials/netflow/index.js
  src/core_plugins/kibana/server/tutorials/nginx_logs/index.js
  src/core_plugins/kibana/server/tutorials/nginx_metrics/index.js
  src/core_plugins/kibana/server/tutorials/redis_logs/index.js
  src/core_plugins/kibana/server/tutorials/redis_metrics/index.js
  src/core_plugins/kibana/server/tutorials/system_logs/index.js
  src/core_plugins/kibana/server/tutorials/system_metrics/index.js
Labels: :Sharing, release_note:enhancement, v6.3.0, v7.0.0

#16623 Add test-subj-selector module to packages dir.
  package.json
  packages/kbn-test-subj-selector/README.md
  packages/kbn-test-subj-selector/index.js
  packages/kbn-test-subj-selector/package.json
  packages/kbn-test-subj-selector/test/index.js
  packages/kbn-test-subj-selector/yarn.lock
  src/ui/public/jquery/find_test_subject.js
  tasks/reject_rej_files.js
  test/functional/services/test_subjects.js
  test/scripts/jenkins_unit.sh
  yarn.lock
Labels: :Operations, chore, v6.3.0, v7.0.0

#16531 Production package example: datemath
  .eslintrc.js
  package.json
  packages/kbn-datemath/.babelrc
  packages/kbn-datemath/package.json
  packages/kbn-datemath/readme.md
  packages/kbn-datemath/src/index.js
  packages/kbn-datemath/test/index.js
  packages/kbn-datemath/yarn.lock
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/metrics/common/interval_regexp.js
  src/core_plugins/metrics/server/lib/vis_data/helpers/parse_interval.js
  src/ui/public/directives/validate_date_math.js
  src/ui/public/time_buckets/calc_es_interval.js
  src/ui/public/timefilter/timefilter.js
  src/ui/public/timepicker/parse_relative_parts.js
  src/ui/public/timepicker/pretty_duration.js
  src/ui/public/timepicker/timepicker.js
  src/ui/public/utils/parse_interval.js
  src/ui/public/vislib/visualizations/time_marker.js
  tasks/build_packages.js
  tasks/config/simplemocha.js
  tasks/jenkins.js
  yarn.lock
Labels: :Platform

#16710 [6.x] Fix: exponent values in table view (#15309)
  package.json
  yarn.lock
Labels: backport

#16711 [6.2] Fix: exponent values in table view (#15309)
  package.json
  yarn.lock
Labels: backport

#16709 [6.x] Add test-subj-selector module to packages dir. (#16623)
  package.json
  packages/kbn-test-subj-selector/README.md
  packages/kbn-test-subj-selector/index.js
  packages/kbn-test-subj-selector/package.json
  packages/kbn-test-subj-selector/test/index.js
  packages/kbn-test-subj-selector/yarn.lock
  src/ui/public/jquery/find_test_subject.js
  tasks/reject_rej_files.js
  test/functional/services/test_subjects.js
  test/scripts/jenkins_unit.sh
  yarn.lock
Labels: backport

#16720 Remove 'packages' webpack alias
  src/ui/ui_exports/ui_export_defaults.js
Labels: chore

#16719 [6.x] Production package example: datemath (#16531)
  .eslintrc.js
  package.json
  packages/kbn-datemath/.babelrc
  packages/kbn-datemath/package.json
  packages/kbn-datemath/readme.md
  packages/kbn-datemath/src/index.js
  packages/kbn-datemath/test/index.js
  packages/kbn-datemath/yarn.lock
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/metrics/common/interval_regexp.js
  src/core_plugins/metrics/server/lib/vis_data/helpers/parse_interval.js
  src/ui/public/directives/validate_date_math.js
  src/ui/public/time_buckets/calc_es_interval.js
  src/ui/public/timefilter/timefilter.js
  src/ui/public/timepicker/parse_relative_parts.js
  src/ui/public/timepicker/pretty_duration.js
  src/ui/public/timepicker/timepicker.js
  src/ui/public/utils/parse_interval.js
  src/ui/public/vislib/visualizations/time_marker.js
  tasks/build_packages.js
  tasks/config/simplemocha.js
  tasks/jenkins.js
  yarn.lock
Labels: backport

#16723 [6.x] Remove 'packages' webpack alias (#16720)
  src/ui/ui_exports/ui_export_defaults.js
Labels: backport

#16727 [plugin helpers] Remove symlinks when building Kibana plugins
  packages/kbn-plugin-helpers/package.json
  packages/kbn-plugin-helpers/tasks/build/create_build.js
  packages/kbn-plugin-helpers/yarn.lock
Labels: :Platform

#16730 [6.x] Remove symlinks when building Kibana plugins (#16727)
  packages/kbn-plugin-helpers/package.json
  packages/kbn-plugin-helpers/tasks/build/create_build.js
  packages/kbn-plugin-helpers/yarn.lock
Labels: backport

#16609 [console] Update more APIs
  src/core_plugins/console/api_server/es_5_0.js
  src/core_plugins/console/api_server/es_5_0/document.js
  src/core_plugins/console/api_server/es_5_0/field_stats.js
  src/core_plugins/console/api_server/spec/generated/create.json
  src/core_plugins/console/api_server/spec/generated/delete.json
  src/core_plugins/console/api_server/spec/generated/delete_by_query.json
  src/core_plugins/console/api_server/spec/generated/delete_script.json
  src/core_plugins/console/api_server/spec/generated/exists.json
  src/core_plugins/console/api_server/spec/generated/exists_source.json
  src/core_plugins/console/api_server/spec/generated/explain.json
  src/core_plugins/console/api_server/spec/generated/field_caps.json
  src/core_plugins/console/api_server/spec/generated/get.json
  src/core_plugins/console/api_server/spec/generated/get_script.json
  src/core_plugins/console/api_server/spec/generated/get_source.json
  src/core_plugins/console/api_server/spec/overrides/create.json
Labels: :Dev Tools, review

#16550 [console] Update cluster API
  src/core_plugins/console/api_server/es_5_0.js
  src/core_plugins/console/api_server/es_5_0/cluster.js
  src/core_plugins/console/api_server/spec/generated/cluster.allocation_explain.json
  src/core_plugins/console/api_server/spec/generated/cluster.get_settings.json
  src/core_plugins/console/api_server/spec/generated/cluster.health.json
  src/core_plugins/console/api_server/spec/generated/cluster.pending_tasks.json
  src/core_plugins/console/api_server/spec/generated/cluster.put_settings.json
  src/core_plugins/console/api_server/spec/generated/cluster.remote_info.json
  src/core_plugins/console/api_server/spec/generated/cluster.reroute.json
  src/core_plugins/console/api_server/spec/generated/cluster.state.json
  src/core_plugins/console/api_server/spec/generated/cluster.stats.json
  src/core_plugins/console/api_server/spec/overrides/cluster.health.json
  src/core_plugins/console/api_server/spec/overrides/cluster.put_settings.json
  src/core_plugins/console/api_server/spec/overrides/cluster.reroute.json
Labels: :Dev Tools, review

#16731 [plugin helpers] Use Kibana's Jest setup
  packages/kbn-plugin-helpers/package.json
  packages/kbn-plugin-helpers/tasks/build/build_action.spec.js
  packages/kbn-plugin-helpers/tasks/build/build_action.test.js
  packages/kbn-plugin-helpers/tasks/build/create_build.spec.js
  packages/kbn-plugin-helpers/tasks/build/create_build.test.js
  packages/kbn-plugin-helpers/tasks/build/create_package.spec.js
  packages/kbn-plugin-helpers/tasks/build/create_package.test.js
  packages/kbn-plugin-helpers/yarn.lock
Labels: :Platform

#16706 Update the packages readme
  packages/README.md
Labels: :Platform, chore

#16738 [6.x] Update the packages readme (#16706)
  packages/README.md
Labels: backport

#16700 Destroying socket when we get a clientError
  src/server/http/setup_connection.js
Labels: v6.2.2, v6.3.0, v7.0.0

#16740 [6.x] Destroying socket when we get a clientError (#16700)
  src/server/http/setup_connection.js
Labels: backport

#16737 [6.x] [plugin helpers] Use Kibana's Jest setup (#16731)
  packages/kbn-plugin-helpers/package.json
  packages/kbn-plugin-helpers/tasks/build/build_action.spec.js
  packages/kbn-plugin-helpers/tasks/build/build_action.test.js
  packages/kbn-plugin-helpers/tasks/build/create_build.spec.js
  packages/kbn-plugin-helpers/tasks/build/create_build.test.js
  packages/kbn-plugin-helpers/tasks/build/create_package.spec.js
  packages/kbn-plugin-helpers/tasks/build/create_package.test.js
  packages/kbn-plugin-helpers/yarn.lock
Labels: backport

#16725 Fix KUI docs site. Remove history dependency.
  package.json
  ui_framework/doc_site/src/index.js
  ui_framework/doc_site/src/main.scss
  yarn.lock
Labels: :Design, v6.3.0, v7.0.0

#16743 [6.x] Fix KUI docs site. Remove history dependency. (#16725)
  package.json
  ui_framework/doc_site/src/index.js
  ui_framework/doc_site/src/main.scss
  yarn.lock
Labels: backport

#16741 [6.2] Destroying socket when we get a clientError (#16700)
  src/server/http/setup_connection.js
Labels: backport

#16748 [ftr/config] Fixed app url schema
  src/functional_test_runner/lib/config/schema.js
Labels: test, v6.2.2, v6.3.0, v7.0.0

#16713 [kbn-pm] Include 'packages' and 'plugins' folders within projects as projects
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/config.js
  packages/kbn-pm/src/utils/__fixtures__/kibana-extra/additional_projects/package.json
  packages/kbn-pm/src/utils/__fixtures__/kibana-extra/additional_projects/packages/baz/package.json
  packages/kbn-pm/src/utils/__fixtures__/kibana-extra/additional_projects/plugins/quux/package.json
  packages/kbn-pm/src/utils/projects.js
  packages/kbn-pm/src/utils/projects.test.js
Labels: :Platform

#16756 [6.x] [kbn-pm] Include 'packages' and 'plugins' folders within projects as projects (#16713)
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/config.js
  packages/kbn-pm/src/utils/__fixtures__/kibana-extra/additional_projects/package.json
  packages/kbn-pm/src/utils/__fixtures__/kibana-extra/additional_projects/packages/baz/package.json
  packages/kbn-pm/src/utils/__fixtures__/kibana-extra/additional_projects/plugins/quux/package.json
  packages/kbn-pm/src/utils/projects.js
  packages/kbn-pm/src/utils/projects.test.js
Labels: backport

#16750 [6.2] [ftr/config] Fixed app url schema (#16748)
  src/functional_test_runner/lib/config/schema.js
Labels: backport

#16749 [6.x] [ftr/config] Fixed app url schema (#16748)
  src/functional_test_runner/lib/config/schema.js
Labels: backport

#16752 Bring toast copy in line with writing style.
  src/core_plugins/kibana/public/dashboard/dashboard_app.js
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/ui/public/notify/toasts/TOAST_NOTIFICATIONS.md
  src/ui/public/share/directives/share.js
Labels: :Design, v6.3.0, v7.0.0

#16765 [6.x] Bring toast copy in line with writing style. (#16752)
  src/core_plugins/kibana/public/dashboard/dashboard_app.js
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/ui/public/notify/toasts/TOAST_NOTIFICATIONS.md
  src/ui/public/share/directives/share.js
Labels: backport

#16693 [Management] Fix bug with index pattern creation
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/render.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/index.js
Labels: :Management, review, v6.3.0, v7.0.0

#16718 [Management] Improve messaging with no index patterns
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/status_message/__tests__/__snapshots__/status_message.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/status_message/__tests__/status_message.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/status_message/status_message.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/step_index_pattern.js
Labels: :Management, review, v6.3.0, v7.0.0

#16781 [6.x] [Management] Fix bug with index pattern creation (#16693)
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/render.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/index.js
Labels: backport

#16783 [6.x] [Management] Improve messaging with no index patterns (#16718)
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/status_message/__tests__/__snapshots__/status_message.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/status_message/__tests__/status_message.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/status_message/status_message.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/step_index_pattern.js
Labels: backport

#16715 [Management] Support alias in index pattern creation
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/CREATE_INDEX_PATTERN.md
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__tests__/__snapshots__/step_index_pattern.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__tests__/step_index_pattern.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/step_index_pattern.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/__tests__/get_matched_indices.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/__tests__/is_query_a_match.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/create_reasonable_wait.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/get_indices.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/get_matched_indices.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/is_query_a_match.js
Labels: :Management, review, v6.3.0, v7.0.0

#16786 [6.x] Refactor to go back to the double query approach to support aliases (#16715)
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/CREATE_INDEX_PATTERN.md
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__tests__/__snapshots__/step_index_pattern.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__tests__/step_index_pattern.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/step_index_pattern.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/__tests__/get_matched_indices.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/__tests__/is_query_a_match.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/create_reasonable_wait.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/get_indices.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/get_matched_indices.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/is_query_a_match.js
Labels: backport

#16809 [6.x] Missing argument for generate_plugin script (#16782)
  packages/kbn-plugin-generator/README.md
Labels: backport

#16724 [server/rewriteBasePath] Support rewriting basePath requests
  config/kibana.yml
  docs/setup/settings.asciidoc
  src/cli/cluster/base_path_proxy.js
  src/cli/cluster/cluster_manager.js
  src/server/config/__tests__/schema.js
  src/server/config/schema.js
  src/server/config/transform_deprecations.js
  src/server/http/__tests__/setup_base_path_rewrite.js
  src/server/http/index.js
  src/server/http/setup_base_path_rewrite.js
  src/server/kbn_server.js
Labels: :Platform, release_note:enhancement, review, v6.3.0, v7.0.0

#16814 [6.x] [server/rewriteBasePath] Support rewriting basePath requests (#16724)
  config/kibana.yml
  docs/setup/settings.asciidoc
  src/cli/cluster/base_path_proxy.js
  src/cli/cluster/cluster_manager.js
  src/server/config/__tests__/schema.js
  src/server/config/schema.js
  src/server/config/transform_deprecations.js
  src/server/http/__tests__/setup_base_path_rewrite.js
  src/server/http/index.js
  src/server/http/setup_base_path_rewrite.js
  src/server/kbn_server.js
Labels: backport

#16822 [6.x] Update @kbn/pm dist
  packages/kbn-pm/dist/index.js
Labels: backport

#16707 change 'On premise' to 'Self managed'
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/tutorial.js
Labels: :Sharing, v6.3.0, v7.0.0

#16824 [6.x] change 'On premise' to 'Self managed' (#16707)
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/tutorial.js
Labels: backport

#16828 [6.x] Remove logs from browser console in Dev Tools. (#15511)
  src/core_plugins/console/public/src/autocomplete/engine.js
  src/core_plugins/console/public/src/es.js
Labels: backport

#16816 [plugin-helpers] allow opt-ing out of dependency installation
  packages/kbn-plugin-helpers/README.md
  packages/kbn-plugin-helpers/lib/plugin_config.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/create_build_test_plugin/package.json
  packages/kbn-plugin-helpers/tasks/build/create_build.js
  packages/kbn-plugin-helpers/tasks/build/create_build.test.js
Labels: :Platform, review, v6.3.0, v7.0.0

#16732 Port `kbn-pm` to TypeScript.
  package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/package.json
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/commands/__snapshots__/bootstrap.test.ts.snap
  packages/kbn-pm/src/commands/bootstrap.test.ts
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/commands/clean.ts
  packages/kbn-pm/src/commands/index.js
  packages/kbn-pm/src/commands/index.ts
  packages/kbn-pm/src/commands/run.ts
  packages/kbn-pm/src/config.ts
  packages/kbn-pm/src/index.ts
  packages/kbn-pm/src/paths.ts
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/production/index.ts
  packages/kbn-pm/src/production/integration_tests/__snapshots__/build_production_projects.test.ts.snap
  packages/kbn-pm/src/production/integration_tests/build_production_projects.test.ts
  packages/kbn-pm/src/production/prepare_project_dependencies.test.ts
  packages/kbn-pm/src/production/prepare_project_dependencies.ts
  packages/kbn-pm/src/run.ts
  packages/kbn-pm/src/test_helpers/absolute_path_snapshot_serializer.ts
  packages/kbn-pm/src/test_helpers/index.ts
  packages/kbn-pm/src/test_helpers/strip_ansi_snapshot_serializer.ts
  packages/kbn-pm/src/utils/__snapshots__/link_project_executables.test.ts.snap
  packages/kbn-pm/src/utils/__snapshots__/project.test.ts.snap
  packages/kbn-pm/src/utils/__snapshots__/projects.test.ts.snap
  packages/kbn-pm/src/utils/child_process.ts
  packages/kbn-pm/src/utils/errors.ts
  packages/kbn-pm/src/utils/fs.js
  packages/kbn-pm/src/utils/fs.ts
  packages/kbn-pm/src/utils/link_project_executables.test.ts
  packages/kbn-pm/src/utils/link_project_executables.ts
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/parallelize.test.ts
  packages/kbn-pm/src/utils/parallelize.ts
  packages/kbn-pm/src/utils/project.test.ts
  packages/kbn-pm/src/utils/project.ts
  packages/kbn-pm/src/utils/projects.test.ts
  packages/kbn-pm/src/utils/projects.ts
  packages/kbn-pm/src/utils/scripts.ts
  packages/kbn-pm/tsconfig.json
  packages/kbn-pm/types/index.d.ts
  packages/kbn-pm/types/jest/index.d.ts
  packages/kbn-pm/webpack.config.js
  packages/kbn-pm/yarn.lock
  src/dev/jest/config.integration.js
  src/dev/jest/config.js
  src/dev/jest/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: :Operations, :Platform, review

#16774 Refactor category into vis_category
  src/core_plugins/kibana/public/visualize/wizard/wizard.js
  src/ui/public/vis/vis_category.js
Labels: :Visualizations, chore, v6.3.0, v7.0.0

#16838 [6.x] Port `kbn-pm` to TypeScript.
  package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/package.json
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/commands/__snapshots__/bootstrap.test.ts.snap
  packages/kbn-pm/src/commands/bootstrap.test.ts
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/commands/clean.ts
  packages/kbn-pm/src/commands/index.js
  packages/kbn-pm/src/commands/index.ts
  packages/kbn-pm/src/commands/run.ts
  packages/kbn-pm/src/config.ts
  packages/kbn-pm/src/index.ts
  packages/kbn-pm/src/paths.ts
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/production/index.ts
  packages/kbn-pm/src/production/integration_tests/__snapshots__/build_production_projects.test.ts.snap
  packages/kbn-pm/src/production/integration_tests/build_production_projects.test.ts
  packages/kbn-pm/src/production/prepare_project_dependencies.test.ts
  packages/kbn-pm/src/production/prepare_project_dependencies.ts
  packages/kbn-pm/src/run.ts
  packages/kbn-pm/src/test_helpers/absolute_path_snapshot_serializer.ts
  packages/kbn-pm/src/test_helpers/index.ts
  packages/kbn-pm/src/test_helpers/strip_ansi_snapshot_serializer.ts
  packages/kbn-pm/src/utils/__snapshots__/link_project_executables.test.ts.snap
  packages/kbn-pm/src/utils/__snapshots__/project.test.ts.snap
  packages/kbn-pm/src/utils/__snapshots__/projects.test.ts.snap
  packages/kbn-pm/src/utils/child_process.ts
  packages/kbn-pm/src/utils/errors.ts
  packages/kbn-pm/src/utils/fs.js
  packages/kbn-pm/src/utils/fs.ts
  packages/kbn-pm/src/utils/link_project_executables.test.ts
  packages/kbn-pm/src/utils/link_project_executables.ts
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/parallelize.test.ts
  packages/kbn-pm/src/utils/parallelize.ts
  packages/kbn-pm/src/utils/project.test.ts
  packages/kbn-pm/src/utils/project.ts
  packages/kbn-pm/src/utils/projects.test.ts
  packages/kbn-pm/src/utils/projects.ts
  packages/kbn-pm/src/utils/scripts.ts
  packages/kbn-pm/tsconfig.json
  packages/kbn-pm/types/index.d.ts
  packages/kbn-pm/types/jest/index.d.ts
  packages/kbn-pm/webpack.config.js
  packages/kbn-pm/yarn.lock
  src/dev/jest/config.integration.js
  src/dev/jest/config.js
  src/dev/jest/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: backport

#16666 Allow totals on unique count aggregations in data table
  src/ui/public/agg_table/agg_table.js
Labels: :Data Table, :Visualizations, bug, release_note:fix, v6.3.0, v7.0.0

#16839 [kbn-pm] Enable intermediate build directory for projects
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/baz/build/package.json
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/baz/code.js
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/baz/package.json
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/quux/package.json
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/quux/quux.js
  packages/kbn-pm/src/production/integration_tests/__snapshots__/build_production_projects.test.ts.snap
  packages/kbn-pm/src/production/integration_tests/build_production_projects.test.ts
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/project.test.ts
  packages/kbn-pm/src/utils/project.ts
Labels: :Platform, v6.3.0, v7.0.0

#16841 [6.x] Allow totals on unique count aggregations (#16666)
  src/ui/public/agg_table/agg_table.js
Labels: backport, v6.3.0

#16840 [6.x] Refactor category into vis_category (#16774)
  src/core_plugins/kibana/public/visualize/wizard/wizard.js
  src/ui/public/vis/vis_category.js
Labels: backport, v6.3.0

#16842 [6.x] [kbn-pm] Enable intermediate build directory for projects (#16839)
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/baz/build/package.json
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/baz/code.js
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/baz/package.json
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/quux/package.json
  packages/kbn-pm/src/production/integration_tests/__fixtures__/packages/quux/quux.js
  packages/kbn-pm/src/production/integration_tests/__snapshots__/build_production_projects.test.ts.snap
  packages/kbn-pm/src/production/integration_tests/build_production_projects.test.ts
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/project.test.ts
  packages/kbn-pm/src/utils/project.ts
Labels: backport

#16837 Show error when require(pack) fails
  src/plugin_discovery/find_plugin_specs.js
  src/plugin_discovery/plugin_pack/__tests__/fixtures/plugins/broken_code/index.js
  src/plugin_discovery/plugin_pack/__tests__/fixtures/plugins/broken_code/package.json
  src/plugin_discovery/plugin_pack/__tests__/pack_at_path.js
  src/plugin_discovery/plugin_pack/__tests__/packs_in_directory.js
  src/server/plugins/scan_mixin.js
Labels: :Platform, review, v6.3.0, v7.0.0

#16845 [6.x] Show error when require(pack) fails (#16837)
  src/plugin_discovery/find_plugin_specs.js
  src/plugin_discovery/plugin_pack/__tests__/fixtures/plugins/broken_code/index.js
  src/plugin_discovery/plugin_pack/__tests__/fixtures/plugins/broken_code/package.json
  src/plugin_discovery/plugin_pack/__tests__/pack_at_path.js
  src/plugin_discovery/plugin_pack/__tests__/packs_in_directory.js
  src/server/plugins/scan_mixin.js
Labels: backport

#16835 [6.x] [plugin-helpers] allow opt-ing out of dependency installation (#16816)
  packages/kbn-plugin-helpers/README.md
  packages/kbn-plugin-helpers/lib/plugin_config.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/create_build_test_plugin/package.json
  packages/kbn-plugin-helpers/tasks/build/create_build.js
  packages/kbn-plugin-helpers/tasks/build/create_build.test.js
Labels: backport

#16754 [kbn-pm] Show list of projects as a tree
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/run.ts
  packages/kbn-pm/src/utils/__snapshots__/projects_tree.test.ts.snap
  packages/kbn-pm/src/utils/project.ts
  packages/kbn-pm/src/utils/projects_tree.test.ts
  packages/kbn-pm/src/utils/projects_tree.ts
Labels: :Platform

#16834 Removed the clipping off of sidebar items. Closes #16833
  src/ui/public/styles/sidebar.less
Labels: :Discovery, review

#16846 [6.x] [kbn-pm] Show list of projects as a tree (#16754)
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/run.ts
  packages/kbn-pm/src/utils/__snapshots__/projects_tree.test.ts.snap
  packages/kbn-pm/src/utils/project.ts
  packages/kbn-pm/src/utils/projects_tree.test.ts
  packages/kbn-pm/src/utils/projects_tree.ts
Labels: backport

#16802 Fix index pattern header names in management section
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/index_header/index_header.html
Labels: :Management, review, v6.3.0, v7.0.0

#16848 [kbn-pm] Stricter types when creating maps
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/utils/projects.ts
Labels: :Platform

#16829 [pluginDiscovery] dedupe packs by absolute path
  src/plugin_discovery/__tests__/find_plugin_specs.js
  src/plugin_discovery/find_plugin_specs.js
Labels: :Platform, review, v6.3.0, v7.0.0

#16849 Removed the clipping off of sidebar items (#16834)
  src/ui/public/styles/sidebar.less
Labels: backport

#16852 [6.x] [kbn-pm] Stricter types when creating maps (#16848)
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/utils/projects.ts
Labels: backport

#16854 [6.x] [pluginDiscovery] dedupe packs by absolute path (#16829)
  src/plugin_discovery/__tests__/find_plugin_specs.js
  src/plugin_discovery/find_plugin_specs.js
Labels: backport

#16857 [npm] pin chromedriver to 2.33.2
  package.json
  yarn.lock
Labels: :Platform, review, v6.2.3, v6.3.0, v7.0.0

#16859 [6.x] [npm] pin chromedriver to 2.33.2 (#16857)
  package.json
  yarn.lock
Labels: backport

#16860 [6.2] [npm] pin chromedriver to 2.33.2 (#16857)
  package.json
  yarn.lock
Labels: backport

#16573 Resolving issue with maximized visualizations in Safari 9-10
  src/core_plugins/kibana/public/dashboard/styles/index.less
Labels: :Dashboard, :Sharing, v6.3.0, v7.0.0

#16873 [6.x] Resolving issue with maximized visualizations in Safari 9-10 (#16573)
  src/core_plugins/kibana/public/dashboard/styles/index.less
Labels: backport

#13633 list markup is not correct.
  docs/jp/getting-started.asciidoc
Labels: docs, review

#16403 Improve getUpdateStatus performance
  src/core_plugins/input_control_vis/public/register_vis.js
  src/core_plugins/region_map/public/region_map_vis.js
  src/core_plugins/tagcloud/public/tag_cloud_vis.js
  src/core_plugins/tile_map/public/tile_map_vis.js
  src/core_plugins/vega/public/vega_type.js
  src/ui/public/vis/update_status.js
  src/ui/public/vis/update_status.test.js
  src/ui/public/visualize/visualization.js
  src/ui/public/visualize/visualization_editor.js
Labels: :Visualizations, performance, v6.3.0, v7.0.0

#16874 [6.x] Improve getUpdateStatus performance (#16403)
  src/core_plugins/input_control_vis/public/register_vis.js
  src/core_plugins/region_map/public/region_map_vis.js
  src/core_plugins/tagcloud/public/tag_cloud_vis.js
  src/core_plugins/tile_map/public/tile_map_vis.js
  src/core_plugins/vega/public/vega_type.js
  src/ui/public/vis/update_status.js
  src/ui/public/vis/update_status.test.js
  src/ui/public/visualize/visualization.js
  src/ui/public/visualize/visualization_editor.js
Labels: backport, v6.3.0

#16804 Controls visualization - format options list
  src/core_plugins/input_control_vis/public/control/control.js
  src/core_plugins/input_control_vis/public/control/filter_manager/filter_manager.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
Labels: :Input Control, release_note:fix, v6.3.0, v7.0.0

#16856 Upgrade EUI to 0.0.23.
  package.json
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/controls_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_time_field/components/time_field/__tests__/__snapshots__/time_field.test.js.snap
  yarn.lock
Labels: :Design, chore, v6.3.0, v7.0.0

#16883 [6.x] Upgrade EUI to 0.0.23. (#16856)
  package.json
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/controls_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_time_field/components/time_field/__tests__/__snapshots__/time_field.test.js.snap
  yarn.lock
Labels: backport

#16885 Fix update status documentation
  docs/development/visualize/development-create-visualization.asciidoc
Labels: :Visualizations, docs, v6.3.0, v7.0.0

#16643 fixes error with postFlightRequest
  src/ui/public/vis/request_handlers/courier.js
Labels: :Visualizations, review, v6.2.1

#16886 [6.x] Fix update status documentation (#16885)
  docs/development/visualize/development-create-visualization.asciidoc
Labels: backport, v6.3.0

#16887 [6.x] fixes error with postFlightRequest (#16643)
  src/ui/public/vis/request_handlers/courier.js
Labels: backport

#16888 [6.2] fixes error with postFlightRequest (#16643)
  src/ui/public/vis/request_handlers/courier.js
Labels: backport

#16111 Use @types/type-detect instead of local declaration files
  package.json
  packages/kbn-utils/package.json
  packages/kbn-utils/src/schema/index.ts
  packages/kbn-utils/yarn.lock
  platform/src/cli/cli.ts
  types/index.d.ts
  types/type-detect/index.d.ts
  yarn.lock
Labels: :New Platform, :Platform

#16879 [kbn-pm] Better command setup
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/commands/bootstrap.test.ts
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/commands/clean.ts
  packages/kbn-pm/src/commands/index.ts
  packages/kbn-pm/src/commands/run.ts
Labels: :Platform

#16889 [6.x] [kbn-pm] Better command setup (#16879)
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/commands/bootstrap.test.ts
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/commands/clean.ts
  packages/kbn-pm/src/commands/index.ts
  packages/kbn-pm/src/commands/run.ts
Labels: backport

#16844 Add disabled state + tooltip on dev tools tabs
  src/core_plugins/kibana/public/dev_tools/directives/dev_tools_app.js
  src/core_plugins/kibana/public/dev_tools/partials/dev_tools_app.html
Labels: :Dev Tools, enhancement, review, v6.3.0, v7.0.0

#16722 [6.x] Vega: Handle no height/width with autosize=none (#16696)
  src/core_plugins/vega/public/data_model/vega_parser.js
Labels: backport

#16235 Update filterEditor directive to use default index pattern when none are provided.
  src/ui/public/filter_bar/filter_bar.html
  src/ui/public/filter_bar/filter_bar.js
  src/ui/public/filter_editor/filter_editor.js
  src/ui/public/filter_editor/lib/__tests__/filter_editor_utils.js
  src/ui/public/filter_editor/lib/filter_editor_utils.js
  src/ui/public/index_patterns/index_patterns.js
  test/functional/apps/dashboard/_dashboard_queries.js
Labels: :Dashboard, :Filters, :Sharing, release_note:fix

#16893 [6.x] Update filterEditor directive to use default index pattern when none are provided. (#16235)
  src/ui/public/filter_bar/filter_bar.html
  src/ui/public/filter_bar/filter_bar.js
  src/ui/public/filter_editor/filter_editor.js
  src/ui/public/filter_editor/lib/__tests__/filter_editor_utils.js
  src/ui/public/filter_editor/lib/filter_editor_utils.js
  src/ui/public/index_patterns/index_patterns.js
  test/functional/apps/dashboard/_dashboard_queries.js
Labels: backport

#16896 [6.x] use field formattor to format list options (#16804)
  src/core_plugins/input_control_vis/public/control/control.js
  src/core_plugins/input_control_vis/public/control/filter_manager/filter_manager.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
Labels: backport

#16897 [6.x] Sanity tests for table viz in TSVB (#16880)
  src/core_plugins/metrics/public/components/panel_config/table.js
  src/core_plugins/metrics/public/components/vis_types/table/vis.js
  test/functional/apps/visualize/_tsvb_chart.js
  test/functional/page_objects/visual_builder_page.js
Labels: :Time Series, :Visualizations, backport, test

#16906 Fix jest dashboard grid test console errors
  src/core_plugins/kibana/public/dashboard/__tests__/get_embeddable_factories_mock.js
Labels: :Dashboard, :Sharing, test, v6.3.0, v7.0.0

#16908 [6.x] remove duplicate functions from dashboard_panel.js (#16907)
  src/core_plugins/kibana/public/dashboard/panel/dashboard_panel.js
Labels: backport

#16909 [6.x] render expects a promise return value (#16906)
  src/core_plugins/kibana/public/dashboard/__tests__/get_embeddable_factories_mock.js
Labels: backport

#16915 Removing item that has no user-facing impact
  docs/release-notes/6.2.2.asciidoc
Labels: docs, review
