Repository elastic/kibana, pull requests merged in 2018-10, with the labels that each got.

#23607 [6.x] [ML] Fix view link regression. (#23604)
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
Labels: :ml, :ml-results, backport

#23659 [6.x] Add jenkins:report task for test failures (#22682)
  package.json
  src/dev/failed_tests/report.js
  src/dev/github_utils/index.js
  src/dev/github_utils/metadata.js
  tasks/jenkins.js
  test/scripts/jenkins_report_failed_tests.sh
  yarn.lock
Labels: backport

#23658 [field caps] filter nested and object fields
  src/server/index_patterns/service/lib/field_capabilities/field_caps_response.js
  src/ui/public/field_editor/__snapshots__/field_editor.test.js.snap
  src/utils/__tests__/kbn_field_types.js
  src/utils/kbn_field_types.js
Labels: :Operations, v7.0.0

#22441 i18n engine typescript migration
  package.json
  packages/kbn-i18n/.babelrc
  packages/kbn-i18n/angular/package.json
  packages/kbn-i18n/babel.config.js
  packages/kbn-i18n/package.json
  packages/kbn-i18n/react/package.json
  packages/kbn-i18n/src/__snapshots__/loader.test.ts.snap
  packages/kbn-i18n/src/angular/directive.test.ts
  packages/kbn-i18n/src/angular/directive.ts
  packages/kbn-i18n/src/angular/filter.test.js
  packages/kbn-i18n/src/angular/filter.test.ts
  packages/kbn-i18n/src/angular/filter.ts
  packages/kbn-i18n/src/angular/index.ts
  packages/kbn-i18n/src/angular/provider.test.ts
  packages/kbn-i18n/src/angular/provider.ts
  packages/kbn-i18n/src/browser.ts
  packages/kbn-i18n/src/core/__snapshots__/i18n.test.ts.snap
  packages/kbn-i18n/src/core/formats.ts
  packages/kbn-i18n/src/core/helper.test.ts
  packages/kbn-i18n/src/core/helper.ts
  packages/kbn-i18n/src/core/i18n.test.ts
  packages/kbn-i18n/src/core/i18n.ts
  packages/kbn-i18n/src/core/index.ts
  packages/kbn-i18n/src/index.ts
  packages/kbn-i18n/src/loader.test.ts
  packages/kbn-i18n/src/loader.ts
  packages/kbn-i18n/src/messages.ts
  packages/kbn-i18n/src/react/__snapshots__/provider.test.tsx.snap
  packages/kbn-i18n/src/react/index.tsx
  packages/kbn-i18n/src/react/inject.tsx
  packages/kbn-i18n/src/react/provider.test.tsx
  packages/kbn-i18n/src/react/provider.tsx
  packages/kbn-i18n/tsconfig.json
  packages/kbn-i18n/tslint.yml
  packages/kbn-i18n/types/intl_format_cache.d.ts
  packages/kbn-i18n/types/intl_relativeformat.d.ts
  packages/kbn-i18n/yarn.lock
  x-pack/yarn.lock
  yarn.lock
Labels: :Platform, :i18n, backport pending, v6.5.0

#23682 [6.x] i18n engine typescript migration (#22441)
  package.json
  packages/kbn-i18n/.babelrc
  packages/kbn-i18n/angular/package.json
  packages/kbn-i18n/babel.config.js
  packages/kbn-i18n/package.json
  packages/kbn-i18n/react/package.json
  packages/kbn-i18n/src/__snapshots__/loader.test.ts.snap
  packages/kbn-i18n/src/angular/directive.test.ts
  packages/kbn-i18n/src/angular/directive.ts
  packages/kbn-i18n/src/angular/filter.test.js
  packages/kbn-i18n/src/angular/filter.test.ts
  packages/kbn-i18n/src/angular/filter.ts
  packages/kbn-i18n/src/angular/index.ts
  packages/kbn-i18n/src/angular/provider.test.ts
  packages/kbn-i18n/src/angular/provider.ts
  packages/kbn-i18n/src/browser.ts
  packages/kbn-i18n/src/core/__snapshots__/i18n.test.ts.snap
  packages/kbn-i18n/src/core/formats.ts
  packages/kbn-i18n/src/core/helper.test.ts
  packages/kbn-i18n/src/core/helper.ts
  packages/kbn-i18n/src/core/i18n.test.ts
  packages/kbn-i18n/src/core/i18n.ts
  packages/kbn-i18n/src/core/index.ts
  packages/kbn-i18n/src/index.ts
  packages/kbn-i18n/src/loader.test.ts
  packages/kbn-i18n/src/loader.ts
  packages/kbn-i18n/src/messages.ts
  packages/kbn-i18n/src/react/__snapshots__/provider.test.tsx.snap
  packages/kbn-i18n/src/react/index.tsx
  packages/kbn-i18n/src/react/inject.tsx
  packages/kbn-i18n/src/react/provider.test.tsx
  packages/kbn-i18n/src/react/provider.tsx
  packages/kbn-i18n/tsconfig.json
  packages/kbn-i18n/tslint.yml
  packages/kbn-i18n/types/intl_format_cache.d.ts
  packages/kbn-i18n/types/intl_relativeformat.d.ts
  packages/kbn-i18n/yarn.lock
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#23635 [APM] Add typescript to waterfall
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/ServiceLegends.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/TransactionFlyout/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/getServiceColors.ts
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/index.tsx
Labels: :apm

#23657 [Infra UI] Small Fixes for Docker Metrics
  x-pack/plugins/infra/public/pages/metrics/layouts/container.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/container/container_diskio_ops.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/container/container_network_traffic.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/container/container_overview.ts
Labels: :Infra UI, :Ingest UI, review

#23649 [Infra UI] Add URL State to Waffle Map
  x-pack/plugins/infra/public/containers/waffle/with_waffle_options.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
Labels: :Infra UI, :Ingest UI, review

#22998 [Beats] Add space.id to all filebeat and metricbeat tutorials
  src/core_plugins/kibana/common/lib/get_space_id_for_beats_tutorial.js
  src/core_plugins/kibana/common/tutorials/filebeat_instructions.js
  src/core_plugins/kibana/common/tutorials/metricbeat_instructions.js
  src/core_plugins/kibana/server/tutorials/aerospike_metrics/index.js
  src/core_plugins/kibana/server/tutorials/apache_logs/index.js
  src/core_plugins/kibana/server/tutorials/apache_metrics/index.js
  src/core_plugins/kibana/server/tutorials/ceph_metrics/index.js
  src/core_plugins/kibana/server/tutorials/couchbase_metrics/index.js
  src/core_plugins/kibana/server/tutorials/docker_metrics/index.js
  src/core_plugins/kibana/server/tutorials/dropwizard_metrics/index.js
  src/core_plugins/kibana/server/tutorials/elasticsearch_logs/index.js
  src/core_plugins/kibana/server/tutorials/elasticsearch_metrics/index.js
  src/core_plugins/kibana/server/tutorials/etcd_metrics/index.js
  src/core_plugins/kibana/server/tutorials/golang_metrics/index.js
  src/core_plugins/kibana/server/tutorials/haproxy_metrics/index.js
  src/core_plugins/kibana/server/tutorials/iis_logs/index.js
  src/core_plugins/kibana/server/tutorials/kafka_logs/index.js
  src/core_plugins/kibana/server/tutorials/kafka_metrics/index.js
  src/core_plugins/kibana/server/tutorials/kibana_metrics/index.js
  src/core_plugins/kibana/server/tutorials/kubernetes_metrics/index.js
  src/core_plugins/kibana/server/tutorials/logstash_logs/index.js
  src/core_plugins/kibana/server/tutorials/logstash_metrics/index.js
  src/core_plugins/kibana/server/tutorials/memcached_metrics/index.js
  src/core_plugins/kibana/server/tutorials/mongodb_metrics/index.js
  src/core_plugins/kibana/server/tutorials/munin_metrics/index.js
  src/core_plugins/kibana/server/tutorials/mysql_logs/index.js
  src/core_plugins/kibana/server/tutorials/mysql_metrics/index.js
  src/core_plugins/kibana/server/tutorials/nginx_logs/index.js
  src/core_plugins/kibana/server/tutorials/nginx_metrics/index.js
  src/core_plugins/kibana/server/tutorials/osquery_logs/index.js
  src/core_plugins/kibana/server/tutorials/php_fpm_metrics/index.js
  src/core_plugins/kibana/server/tutorials/postgresql_logs/index.js
  src/core_plugins/kibana/server/tutorials/postgresql_metrics/index.js
  src/core_plugins/kibana/server/tutorials/prometheus_metrics/index.js
  src/core_plugins/kibana/server/tutorials/rabbitmq_metrics/index.js
  src/core_plugins/kibana/server/tutorials/redis_logs/index.js
  src/core_plugins/kibana/server/tutorials/redis_metrics/index.js
  src/core_plugins/kibana/server/tutorials/system_logs/index.js
  src/core_plugins/kibana/server/tutorials/system_metrics/index.js
  src/core_plugins/kibana/server/tutorials/traefik_logs/index.js
  src/core_plugins/kibana/server/tutorials/uwsgi_metrics/index.js
  src/core_plugins/kibana/server/tutorials/vsphere_metrics/index.js
  src/core_plugins/kibana/server/tutorials/windows_metrics/index.js
  src/core_plugins/kibana/server/tutorials/zookeeper_metrics/index.js
  x-pack/plugins/spaces/server/lib/create_spaces_service.test.ts
  x-pack/plugins/spaces/server/lib/create_spaces_service.ts
  x-pack/plugins/spaces/server/lib/spaces_tutorial_context_factory.test.ts
  x-pack/plugins/spaces/server/lib/spaces_tutorial_context_factory.ts
Labels: :Beats, review, v6.5.0, v7.0.0

#23586 [Reporting] Chromium wait until domcontentloaded not networkidle0
  x-pack/plugins/reporting/server/browsers/chromium/driver/chromium_driver.ts
Labels: :Reporting, blocker, bug, review, v6.5.0, v7.0.0

#23662 Remove conflicting package for kbn bootstrap
  packages/kbn-es/package.json
  packages/kbn-es/yarn.lock
  x-pack/yarn.lock
  yarn.lock
Labels: :Operations, review

#23574 Fix sample data install toasts error when user navigates away from home app while installing
  src/core_plugins/kibana/public/home/components/home_app.js
  src/core_plugins/kibana/public/home/components/sample_data_set_cards.js
  src/core_plugins/kibana/public/home/components/tutorial_directory.js
  src/core_plugins/kibana/public/home/home_ng_wrapper.html
  src/core_plugins/kibana/public/home/index.js
  src/core_plugins/kibana/public/home/kibana_services.js
  src/core_plugins/kibana/public/home/sample_data_client.js
Labels: :KibanaApp, bug, v6.5.0, v7.0.0

#23507 Reporting test readme
  x-pack/README.md
  x-pack/test/reporting/README.md
Labels: :Reporting, test

#23688 [6.x] [Reporting] Chromium wait until domcontentloaded not networkidle0 (#23586)
  x-pack/plugins/reporting/server/browsers/chromium/driver/chromium_driver.ts
Labels: backport

#23693 [6.x] Remove elasticsearch package from kbn-es (#23662)
  packages/kbn-es/package.json
  packages/kbn-es/yarn.lock
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#23583 Fix error handling on role management screen
  x-pack/plugins/security/public/views/management/edit_role/components/edit_role_page.tsx
  x-pack/plugins/security/public/views/management/edit_role/index.js
Labels: :Security, :Spaces

#23588 Search Profiler - convert LESS to SASS
  x-pack/plugins/searchprofiler/index.js
  x-pack/plugins/searchprofiler/public/app.js
  x-pack/plugins/searchprofiler/public/directives/_directives.scss
  x-pack/plugins/searchprofiler/public/directives/_index.scss
  x-pack/plugins/searchprofiler/public/directives/highlight_details/index.html
  x-pack/plugins/searchprofiler/public/directives/profile_tree/index.html
  x-pack/plugins/searchprofiler/public/index.scss
  x-pack/plugins/searchprofiler/public/less/main.less
  x-pack/plugins/searchprofiler/public/templates/_index.scss
  x-pack/plugins/searchprofiler/public/templates/_templates.scss
  x-pack/plugins/searchprofiler/public/templates/index.html
Labels: :Design, review

#23608 Fix spaces table rendering in IE
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/privilege_space_table.tsx
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_pages.test.tsx
Labels: :Security, :Spaces

#23695 [6.x] Fix sample data install toasts error when user navigates away from home app while installing (#23574)
  src/core_plugins/kibana/public/home/components/home_app.js
  src/core_plugins/kibana/public/home/components/sample_data_set_cards.js
  src/core_plugins/kibana/public/home/components/tutorial_directory.js
  src/core_plugins/kibana/public/home/home_ng_wrapper.html
  src/core_plugins/kibana/public/home/index.js
  src/core_plugins/kibana/public/home/kibana_services.js
  src/core_plugins/kibana/public/home/sample_data_client.js
Labels: backport

#23697 [6.x] When we get a 403 trying to get the telemetry document, assume we (#23631)
  x-pack/plugins/xpack_main/server/lib/get_telemetry_opt_in.js
Labels: backport

#23652 Fixes relative timezone bug #18133 for Chromium reports
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/generate_pdf.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/screenshots.js
  x-pack/plugins/reporting/server/browsers/chromium/driver_factory/index.js
Labels: :Reporting, v6.5.0

#22078 Use EuiPanel to for dashboard panels
  src/core_plugins/kibana/public/dashboard/grid/_dashboard_grid.scss
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid.js
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/_dashboard_panel.scss
  src/core_plugins/kibana/public/dashboard/panel/dashboard_panel.js
Labels: :Dashboard, :KibanaApp, chore, v6.5.0, v7.0.0

#23397 Fix a bug with reindex timing out during migration of largish indices
  src/server/saved_objects/migrations/core/call_cluster.ts
  src/server/saved_objects/migrations/core/elastic_index.test.ts
  src/server/saved_objects/migrations/core/elastic_index.ts
  src/server/saved_objects/migrations/core/index_migrator.test.ts
  src/server/saved_objects/migrations/core/index_migrator.ts
Labels: :Operations, v6.5.0

#23616 Fix child controls don't work after parent reset
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.test.js
  src/core_plugins/input_control_vis/public/vis_controller.js
Labels: :Input Control, :KibanaApp, bug, v6.5.0, v7.0.0

#23710 [6.x] Fixes relative timezone bug #18133 for Chromium reports (#23652)
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/generate_pdf.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/screenshots.js
  x-pack/plugins/reporting/server/browsers/chromium/driver_factory/index.js
Labels: backport

#23703 [6.x] Fix spaces table rendering in IE (#23608)
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/privilege_space_table.tsx
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_pages.test.tsx
Labels: backport

#23701 [6.x] Fix error handling on role management screen (#23583)
  x-pack/plugins/security/public/views/management/edit_role/components/edit_role_page.tsx
  x-pack/plugins/security/public/views/management/edit_role/index.js
Labels: backport

#23638 Fix space privilege associations when editing roles
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_form.tsx
Labels: :Security, :Spaces

#23672 Fix: page preview default font color
  x-pack/plugins/canvas/public/components/page_manager/page_manager.scss
Labels: review

#23702 [6.x] Search Profiler - convert LESS to SASS (#23588)
  x-pack/plugins/searchprofiler/index.js
  x-pack/plugins/searchprofiler/public/app.js
  x-pack/plugins/searchprofiler/public/directives/_directives.scss
  x-pack/plugins/searchprofiler/public/directives/_index.scss
  x-pack/plugins/searchprofiler/public/directives/highlight_details/index.html
  x-pack/plugins/searchprofiler/public/directives/profile_tree/index.html
  x-pack/plugins/searchprofiler/public/index.scss
  x-pack/plugins/searchprofiler/public/less/main.less
  x-pack/plugins/searchprofiler/public/templates/_index.scss
  x-pack/plugins/searchprofiler/public/templates/_templates.scss
  x-pack/plugins/searchprofiler/public/templates/index.html
Labels: backport

#23726 [6.x] Fix: page preview default font color (#23672)
  x-pack/plugins/canvas/public/components/page_manager/page_manager.scss
Labels: backport

#23731 Use correct i18n export for vanilla JS translations.
  src/core_plugins/kibana/public/management/sections/objects/lib/resolve_saved_objects.js
  x-pack/plugins/rollup/public/crud_app/sections/components/job_action_menu/confirm_delete_modal/confirm_delete_modal.js
  x-pack/plugins/rollup/public/crud_app/sections/components/job_details/tabs/tab_histogram.js
  x-pack/plugins/rollup/public/crud_app/sections/components/job_details/tabs/tab_metrics.js
Labels: :Management

#23719 [6.x] Fix child controls don't work after parent reset (#23616)
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.test.js
  src/core_plugins/input_control_vis/public/vis_controller.js
Labels: backport

#23717 [6.x] Use EuiPanel to for dashboard panels (#22078)
  src/core_plugins/kibana/public/dashboard/grid/_dashboard_grid.scss
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid.js
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/_dashboard_panel.scss
  src/core_plugins/kibana/public/dashboard/panel/dashboard_panel.js
Labels: backport

#23711 Navigating while installing sample data shows error in console
  src/core_plugins/kibana/public/home/components/sample_data_set_cards.js
Labels: :KibanaApp, bug, v6.5.0, v7.0.0

#23722 [6.x] Fix space privilege associations when editing roles (#23638)
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_form.tsx
Labels: backport

#23718 [6.x] Fix a bug with reindex timing out during migration of largish indices (#23397)
  src/server/saved_objects/migrations/core/call_cluster.ts
  src/server/saved_objects/migrations/core/elastic_index.test.ts
  src/server/saved_objects/migrations/core/elastic_index.ts
  src/server/saved_objects/migrations/core/index_migrator.test.ts
  src/server/saved_objects/migrations/core/index_migrator.ts
Labels: backport

#23671 Fix: setState warnings in Canvas
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
  x-pack/plugins/canvas/public/components/arg_form/arg_form.js
  x-pack/plugins/canvas/public/components/page_manager/page_manager.js
  x-pack/plugins/canvas/public/components/workpad_loader/workpad_loader.js
  x-pack/plugins/canvas/public/components/workpad_page/event_handlers.js
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.js
Labels: :Canvas, review

#23738 [6.x] Fix: browser back button after workpad switch should be handled specially (#23619)
  x-pack/plugins/canvas/public/state/middleware/aeroelastic.js
Labels: backport

#23553 Feat: group resize for horizontal constituents
  x-pack/plugins/canvas/public/lib/aeroelastic/config.js
  x-pack/plugins/canvas/public/lib/aeroelastic/functional.js
  x-pack/plugins/canvas/public/lib/aeroelastic/layout.js
  x-pack/plugins/canvas/public/lib/aeroelastic/matrix.js
Labels: :Canvas, review

#23741 [6.x] Feat: group resize for horizontal constituents (#23553)
  x-pack/plugins/canvas/public/lib/aeroelastic/config.js
  x-pack/plugins/canvas/public/lib/aeroelastic/functional.js
  x-pack/plugins/canvas/public/lib/aeroelastic/layout.js
  x-pack/plugins/canvas/public/lib/aeroelastic/matrix.js
Labels: backport

#23690 [ML] Ensure charts loaded in Anomaly Explorer match swimlane selection
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
Labels: :ml, :ml-results, non-issue, v6.5.0, v7.0.0

#23747 [6.x] [ML] Ensure charts loaded in Anomaly Explorer match swimlane selection (#23690)
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
Labels: :ml, :ml-results, backport

#23732 [6.x] do not call set state when unmounted (#23711)
  src/core_plugins/kibana/public/home/components/sample_data_set_cards.js
Labels: backport

#23656 Avoid duplicate fields by using kibana api
  x-pack/plugins/infra/server/lib/adapters/fields/framework_fields_adapter.ts
  x-pack/plugins/infra/server/lib/adapters/framework/kibana_framework_adapter.ts
Labels: :Infra UI, :Ingest UI, loe:hours, review

#23744 [I18n] Fix types paths for kbn-i18n package
  packages/kbn-i18n/angular/package.json
  packages/kbn-i18n/package.json
  packages/kbn-i18n/react/package.json
Labels: :Platform, :i18n, bug, v6.5.0

#23746 [ML] Indicate multi-bucket anomalies in results dashboards
  x-pack/plugins/ml/common/constants/multi_bucket_impact.js
  x-pack/plugins/ml/common/util/__tests__/anomaly_utils.js
  x-pack/plugins/ml/common/util/anomaly_utils.js
  x-pack/plugins/ml/public/components/anomalies_table/anomaly_details.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_chart.less
  x-pack/plugins/ml/public/timeseriesexplorer/styles/main.less
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_utils.js
  x-pack/plugins/ml/public/util/__tests__/chart_utils.js
  x-pack/plugins/ml/public/util/chart_utils.js
Labels: :ml, :ml-results, release_note:enhancement, review, v6.5.0, v7.0.0

#23749 [6.x] chore: fix spelling of APM Server (#23729)
  src/core_plugins/kibana/server/tutorials/apm/on_prem.js
Labels: backport

#23664 docs: note about permissions for grok debugger
  docs/dev-tools/grokdebugger/getting-started.asciidoc
Labels: :Dev Tools, :Management, docs

#23768 [6.x] docs: note about permissions for grok debugger (#23664)
  docs/dev-tools/grokdebugger/getting-started.asciidoc
Labels: backport

#23769 [6.4] docs: note about permissions for grok debugger (#23664)
  docs/dev-tools/grokdebugger/getting-started.asciidoc
Labels: backport

#23770 [6.3] docs: note about permissions for grok debugger (#23664)
  docs/dev-tools/grokdebugger/getting-started.asciidoc
Labels: backport

#23629 [Canvas] misc ui bug fixes
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/element_types/element_types.js
  x-pack/plugins/canvas/public/components/element_types/element_types.scss
  x-pack/plugins/canvas/public/components/workpad_loader/workpad_loader.js
  x-pack/plugins/canvas/public/style/index.scss
Labels: :Canvas

#23673 Limiting maximum number of Spaces
  docs/settings/settings-xkb.asciidoc
  docs/settings/spaces-settings.asciidoc
  x-pack/plugins/spaces/index.ts
  x-pack/plugins/spaces/server/lib/__snapshots__/spaces_client.test.ts.snap
  x-pack/plugins/spaces/server/lib/spaces_client.test.ts
  x-pack/plugins/spaces/server/lib/spaces_client.ts
  x-pack/plugins/spaces/server/routes/api/__fixtures__/create_test_handler.ts
Labels: :Security, :Spaces

#23737 [6.x] Fix: setState warnings in Canvas (#23671)
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
  x-pack/plugins/canvas/public/components/arg_form/arg_form.js
  x-pack/plugins/canvas/public/components/page_manager/page_manager.js
  x-pack/plugins/canvas/public/components/workpad_loader/workpad_loader.js
  x-pack/plugins/canvas/public/components/workpad_page/event_handlers.js
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.js
Labels: backport

#23290 [WIP] Removes server functions from webpack bundle
  src/cli/cluster/cluster_manager.js
  src/core_plugins/timelion/public/partials/.DS_Store
  x-pack/package.json
  x-pack/plugins/canvas/canvas_plugin/.empty
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/register.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/demodata.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/get_expression_type.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/get_field_names.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/is_column_reference.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/pointseries.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/ci.json
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/get_demo_rows.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/shirts.json
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/escount.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/esdocs.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/essql.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/lib/get_expression_type.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/lib/get_field_names.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/lib/is_column_reference.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/server.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/timelion.js
  x-pack/plugins/canvas/tasks/helpers/webpack.plugins.js
  x-pack/plugins/canvas/tasks/plugins.js
  x-pack/plugins/canvas/yarn.lock
  x-pack/yarn.lock
Labels: :Canvas, v6.5.0, v7.0.0

#23706 Added checks in dom_preview to fix style null bug
  x-pack/plugins/canvas/public/components/dom_preview/dom_preview.js
Labels: :Canvas, review

#23748 [ML] Allow Datavisualizer use on basic license
  x-pack/plugins/ml/common/constants/license.js
  x-pack/plugins/ml/public/datavisualizer/datavisualizer.html
  x-pack/plugins/ml/public/datavisualizer/datavisualizer_controller.js
  x-pack/plugins/ml/public/datavisualizer/styles/main.less
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/file_datavisualizer/file_datavisualizer_directive.js
  x-pack/plugins/ml/public/jobs/jobs_list/directive.js
  x-pack/plugins/ml/public/jobs/jobs_list_old/jobs_list_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index_or_search_controller.js
  x-pack/plugins/ml/public/license/check_license.js
  x-pack/plugins/ml/public/privilege/check_privilege.js
  x-pack/plugins/ml/public/privilege/get_privileges.js
  x-pack/plugins/ml/public/settings/filter_lists/edit/directive.js
  x-pack/plugins/ml/public/settings/filter_lists/list/directive.js
  x-pack/plugins/ml/public/settings/scheduled_events/calendars_list/calendars_list_controller.js
  x-pack/plugins/ml/public/settings/scheduled_events/new_calendar/create_calendar_controller.js
  x-pack/plugins/ml/public/settings/settings_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
  x-pack/plugins/ml/server/lib/check_license/__tests__/check_license.js
  x-pack/plugins/ml/server/lib/check_license/check_license.js
Labels: :ml, :ml-config, review, v6.5.0, v7.0.0

#23691 Handle case where space name is made entirely of whitespace
  x-pack/plugins/spaces/public/components/__snapshots__/space_avatar.test.tsx.snap
  x-pack/plugins/spaces/public/components/space_avatar.test.tsx
  x-pack/plugins/spaces/public/components/space_avatar.tsx
  x-pack/plugins/spaces/public/views/management/lib/validate_space.test.ts
  x-pack/plugins/spaces/public/views/management/lib/validate_space.ts
Labels: :Spaces

#23214 eCommerce Sample Data
  src/core_plugins/kibana/public/home/sample_data_resources/ecommerce/dashboard.png
  src/server/sample_data/data_sets/ecommerce/ecommerce.json.gz
  src/server/sample_data/data_sets/ecommerce/field_mappings.js
  src/server/sample_data/data_sets/ecommerce/index.js
  src/server/sample_data/data_sets/ecommerce/saved_objects.js
  src/server/sample_data/data_sets/index.js
  src/server/sample_data/routes/lib/load_data.test.js
  src/server/sample_data/sample_data_mixin.js
  test/functional/apps/home/_sample_data.js
Labels: :Add Data, :Home, :Sharing, release_note:enhancement

#23780 [6.x] [WIP] Removes server functions from webpack bundle (#23290)
  src/cli/cluster/cluster_manager.js
  src/core_plugins/timelion/public/partials/.DS_Store
  x-pack/package.json
  x-pack/plugins/canvas/canvas_plugin/.empty
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/register.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/demodata.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/get_expression_type.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/get_field_names.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/is_column_reference.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/__tests__/pointseries.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/ci.json
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/get_demo_rows.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/shirts.json
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/escount.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/esdocs.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/essql.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/lib/get_expression_type.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/lib/get_field_names.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/pointseries/lib/is_column_reference.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/server.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/timelion.js
  x-pack/plugins/canvas/tasks/helpers/webpack.plugins.js
  x-pack/plugins/canvas/tasks/plugins.js
  x-pack/plugins/canvas/yarn.lock
  x-pack/yarn.lock
Labels: backport

#23771 fixing tests broken by rollup changes
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__jest__/__snapshots__/create_index_pattern_wizard.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__jest__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__jest__/render.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__jest__/__snapshots__/step_index_pattern.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__jest__/step_index_pattern.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/indices_list/__jest__/__snapshots__/indices_list.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/components/indices_list/__jest__/indices_list.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_time_field/__jest__/__snapshots__/step_time_field.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_time_field/__jest__/step_time_field.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/index.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/__jest__/get_indices.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__jest__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__jest__/table.test.js
  src/ui/public/courier/fetch/__tests__/call_client.js
  src/ui/public/courier/search_strategy/search_strategy_registry.test.js
  src/ui/public/management/index_pattern_creation/index_pattern_creation_config.js
  x-pack/plugins/rollup/server/lib/error_wrappers/__tests__/wrap_es_error.js
Labels: :Management

#23730 Relax check to account for metricbeat-indexed doc format
  x-pack/plugins/monitoring/public/directives/elasticsearch/shard_allocation/transformers/indices_by_nodes.js
Labels: :Monitoring, review, v6.5.0, v7.0.0

#23788 [6.x] eCommerce Sample Data (#23214)
  src/core_plugins/kibana/public/home/sample_data_resources/ecommerce/dashboard.png
  src/server/sample_data/data_sets/ecommerce/ecommerce.json.gz
  src/server/sample_data/data_sets/ecommerce/field_mappings.js
  src/server/sample_data/data_sets/ecommerce/index.js
  src/server/sample_data/data_sets/ecommerce/saved_objects.js
  src/server/sample_data/data_sets/index.js
  src/server/sample_data/routes/lib/load_data.test.js
  src/server/sample_data/sample_data_mixin.js
  test/functional/apps/home/_sample_data.js
Labels: backport

#23774 [6.x] Limiting maximum number of Spaces (#23673)
  docs/settings/settings-xkb.asciidoc
  docs/settings/spaces-settings.asciidoc
  x-pack/plugins/spaces/index.ts
  x-pack/plugins/spaces/server/lib/__snapshots__/spaces_client.test.ts.snap
  x-pack/plugins/spaces/server/lib/spaces_client.test.ts
  x-pack/plugins/spaces/server/lib/spaces_client.ts
  x-pack/plugins/spaces/server/routes/api/__fixtures__/create_test_handler.ts
Labels: backport

#23792 [6.x] Relax check to account for metricbeat-indexed doc format (#23730)
  x-pack/plugins/monitoring/public/directives/elasticsearch/shard_allocation/transformers/indices_by_nodes.js
Labels: backport

#23795 [6.x] Make saved object client await migrations prior to calling Elasticsearch (#23709)
  src/es_archiver/lib/indices/kibana_index.js
  src/server/kbn_server.js
  src/server/saved_objects/migrations/core/index.ts
  src/server/saved_objects/migrations/kibana/__snapshots__/kibana_migrator.test.ts.snap
  src/server/saved_objects/migrations/kibana/kibana_migrator.test.ts
  src/server/saved_objects/migrations/kibana/kibana_migrator.ts
  src/server/saved_objects/saved_objects_mixin.js
  src/server/saved_objects/service/lib/repository.js
  src/server/saved_objects/service/lib/repository.test.js
Labels: backport

#23791 don't throw if authorization mode is already initialized
  x-pack/plugins/security/server/lib/authorization/__snapshots__/mode.test.js.snap
  x-pack/plugins/security/server/lib/authorization/mode.js
  x-pack/plugins/security/server/lib/authorization/mode.test.js
  x-pack/plugins/security/server/lib/authorization/service.js
  x-pack/plugins/security/server/lib/authorization/service.test.js
Labels: :Security

#23798 [6.x] don't throw if authorization mode is already initialized (#23791)
  x-pack/plugins/security/server/lib/authorization/__snapshots__/mode.test.js.snap
  x-pack/plugins/security/server/lib/authorization/mode.js
  x-pack/plugins/security/server/lib/authorization/mode.test.js
  x-pack/plugins/security/server/lib/authorization/service.js
  x-pack/plugins/security/server/lib/authorization/service.test.js
Labels: backport

#23754 [I18n] Update TS types in i18n engine
  packages/kbn-i18n/src/angular/index.ts
  packages/kbn-i18n/src/core/i18n.ts
  packages/kbn-i18n/src/react/index.tsx
Labels: :Platform, :i18n, review, v6.5.0

#23763 [ML] Adds new page for choosing file or index based data visualizer
  x-pack/plugins/ml/public/datavisualizer/_index.scss
  x-pack/plugins/ml/public/datavisualizer/index.js
  x-pack/plugins/ml/public/datavisualizer/selector/_index.scss
  x-pack/plugins/ml/public/datavisualizer/selector/_selector.scss
  x-pack/plugins/ml/public/datavisualizer/selector/datavisualizer_selector.js
  x-pack/plugins/ml/public/datavisualizer/selector/directive.js
  x-pack/plugins/ml/public/datavisualizer/selector/index.js
  x-pack/plugins/ml/public/index.scss
Labels: :ml, :ml-config, release_note:enhancement, review, v6.5.0, v7.0.0

#23803 [6.x] [I18n] Fix types paths for kbn-i18n package (#23744)
  packages/kbn-i18n/angular/package.json
  packages/kbn-i18n/package.json
  packages/kbn-i18n/react/package.json
Labels: backport

#23805 [6.x] [I18n] Update TS types in i18n engine (#23754)
  packages/kbn-i18n/src/angular/index.ts
  packages/kbn-i18n/src/core/i18n.ts
  packages/kbn-i18n/src/react/index.tsx
Labels: backport

#23809 [ML] Adding license check to datavisualizer landing page
  x-pack/plugins/ml/public/datavisualizer/selector/datavisualizer_selector.js
  x-pack/plugins/ml/public/datavisualizer/selector/directive.js
  x-pack/plugins/ml/public/license/check_license.js
Labels: :ml, review, v6.5.0, v7.0.0

#23773 [6.x] misc ui bug fixes (#23629)
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/element_types/element_types.js
  x-pack/plugins/canvas/public/components/element_types/element_types.scss
  x-pack/plugins/canvas/public/components/workpad_loader/workpad_loader.js
  x-pack/plugins/canvas/public/style/index.scss
Labels: backport

#23794 [tests/browser] generate css before testsBundle, include css
  src/core_plugins/tests_bundle/index.js
  tasks/config/karma.js
  tasks/config/run.js
  tasks/test.js
Labels: :Operations

#23790 Eui 4.4.1
  package.json
  src/core_plugins/inspector_views/public/data/__snapshots__/data_view.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/add_data.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/synopsis.test.js.snap
  src/core_plugins/kibana/public/home/components/add_data.js
  src/core_plugins/kibana/public/home/components/synopsis.js
  src/core_plugins/kibana/public/home/components/tutorial_directory.js
  src/core_plugins/timelion/public/register_feature.js
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: v6.5.0

#23665 [Infra UI] Use link-to service for detail links
  x-pack/plugins/infra/public/components/waffle/node_context_menu.tsx
  x-pack/plugins/infra/public/pages/link_to/index.ts
  x-pack/plugins/infra/public/pages/link_to/link_to.tsx
  x-pack/plugins/infra/public/pages/link_to/redirect_to_container_detail.tsx
  x-pack/plugins/infra/public/pages/link_to/redirect_to_host_detail.tsx
  x-pack/plugins/infra/public/pages/link_to/redirect_to_pod_detail.tsx
Labels: :Infra UI, :Ingest UI, review

#23539 Tests: Wait for dashboard save button to be enabled before clicking.
  test/functional/page_objects/dashboard_page.js
  test/functional/services/find.js
  test/functional/services/test_subjects.js
Labels: :Dashboard, :KibanaApp, flaky-failing-test

#23689 [6.x] [Beats] Add space.id to all filebeat and metricbeat tutorials (#22998)
  src/core_plugins/kibana/common/lib/get_space_id_for_beats_tutorial.js
  src/core_plugins/kibana/common/tutorials/filebeat_instructions.js
  src/core_plugins/kibana/common/tutorials/metricbeat_instructions.js
  src/core_plugins/kibana/server/tutorials/aerospike_metrics/index.js
  src/core_plugins/kibana/server/tutorials/apache_logs/index.js
  src/core_plugins/kibana/server/tutorials/apache_metrics/index.js
  src/core_plugins/kibana/server/tutorials/ceph_metrics/index.js
  src/core_plugins/kibana/server/tutorials/couchbase_metrics/index.js
  src/core_plugins/kibana/server/tutorials/docker_metrics/index.js
  src/core_plugins/kibana/server/tutorials/dropwizard_metrics/index.js
  src/core_plugins/kibana/server/tutorials/elasticsearch_metrics/index.js
  src/core_plugins/kibana/server/tutorials/etcd_metrics/index.js
  src/core_plugins/kibana/server/tutorials/golang_metrics/index.js
  src/core_plugins/kibana/server/tutorials/haproxy_metrics/index.js
  src/core_plugins/kibana/server/tutorials/kafka_logs/index.js
  src/core_plugins/kibana/server/tutorials/kafka_metrics/index.js
  src/core_plugins/kibana/server/tutorials/kibana_metrics/index.js
  src/core_plugins/kibana/server/tutorials/kubernetes_metrics/index.js
  src/core_plugins/kibana/server/tutorials/logstash_metrics/index.js
  src/core_plugins/kibana/server/tutorials/memcached_metrics/index.js
  src/core_plugins/kibana/server/tutorials/mongodb_metrics/index.js
  src/core_plugins/kibana/server/tutorials/munin_metrics/index.js
  src/core_plugins/kibana/server/tutorials/mysql_logs/index.js
  src/core_plugins/kibana/server/tutorials/mysql_metrics/index.js
  src/core_plugins/kibana/server/tutorials/nginx_logs/index.js
  src/core_plugins/kibana/server/tutorials/nginx_metrics/index.js
  src/core_plugins/kibana/server/tutorials/osquery_logs/index.js
  src/core_plugins/kibana/server/tutorials/php_fpm_metrics/index.js
  src/core_plugins/kibana/server/tutorials/postgresql_metrics/index.js
  src/core_plugins/kibana/server/tutorials/prometheus_metrics/index.js
  src/core_plugins/kibana/server/tutorials/rabbitmq_metrics/index.js
  src/core_plugins/kibana/server/tutorials/redis_logs/index.js
  src/core_plugins/kibana/server/tutorials/redis_metrics/index.js
  src/core_plugins/kibana/server/tutorials/system_logs/index.js
  src/core_plugins/kibana/server/tutorials/system_metrics/index.js
  src/core_plugins/kibana/server/tutorials/uwsgi_metrics/index.js
  src/core_plugins/kibana/server/tutorials/vsphere_metrics/index.js
  src/core_plugins/kibana/server/tutorials/windows_metrics/index.js
  src/core_plugins/kibana/server/tutorials/zookeeper_metrics/index.js
  x-pack/plugins/spaces/server/lib/create_spaces_service.test.ts
  x-pack/plugins/spaces/server/lib/create_spaces_service.ts
  x-pack/plugins/spaces/server/lib/spaces_tutorial_context_factory.test.ts
  x-pack/plugins/spaces/server/lib/spaces_tutorial_context_factory.ts
Labels: backport

#23776 [6.4] [Monitoring] Ensure we use the provided node id in the query (#23715)
  x-pack/plugins/monitoring/server/lib/details/get_series.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/node_detail.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/node_detail.js
Labels: backport

#23775 [6.x] [Monitoring] Ensure we use the provided node id in the query (#23715)
  x-pack/plugins/monitoring/server/lib/details/get_series.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/node_detail.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/node_detail.js
Labels: backport

#23736 [DOCS] Update Kibana monitoring tasks
  docs/index.asciidoc
  docs/monitoring/configuring-monitoring.asciidoc
  docs/monitoring/getting-started.asciidoc
  docs/monitoring/images/metricbeat.png
  docs/monitoring/index.asciidoc
  docs/monitoring/monitoring-elasticsearch.asciidoc
  docs/monitoring/monitoring-kibana.asciidoc
  docs/monitoring/monitoring-logstash.asciidoc
  docs/monitoring/monitoring-metricbeat.asciidoc
  docs/monitoring/monitoring-xkib.asciidoc
  docs/monitoring/viewing-metrics.asciidoc
  docs/redirects.asciidoc
Labels: :Monitoring, docs, v6.4.3, v6.5.0, v7.0.0

#23820 Change progress element titles to sentence casing
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_pill/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_gauge/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_semicircle/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_wheel/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_pill/index.js
Labels: :Canvas, review

#23843 [6.x] Reenable X-Pack Functional Tests (#23836)
  x-pack/scripts/functional_tests.js
  x-pack/test/functional/apps/grok_debugger/grok_debugger.js
  x-pack/test/functional/apps/security/security.js
  x-pack/test/functional/config.js
  x-pack/test/reporting/configs/phantom_api.js
  x-pack/test/reporting/es_archives/historic/data.json.gz
  x-pack/test/reporting/es_archives/historic/mappings.json
  x-pack/test/reporting/functional/reporting.js
  x-pack/test/spaces_api_integration/common/suites/create.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/create.ts
Labels: backport

#23789 Rollups Job Wizard bugs, round 2
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps/step_logistics.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps/step_metrics.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps_config/index.js
  x-pack/plugins/rollup/public/crud_app/store/actions/delete_jobs.js
Labels: :Management

#23756 Fix regression with ML breadcrumbs in old UI
  x-pack/plugins/ml/public/components/nav_menu/nav_menu.html
Labels: :ml, review, v6.5.0, v7.0.0

#23835 [6.x] Eui 4.4.1 (#23790)
  package.json
  src/core_plugins/inspector_views/public/data/__snapshots__/data_view.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/add_data.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/synopsis.test.js.snap
  src/core_plugins/kibana/public/home/components/add_data.js
  src/core_plugins/kibana/public/home/components/synopsis.js
  src/core_plugins/kibana/public/home/components/tutorial_directory.js
  src/core_plugins/timelion/public/register_feature.js
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#23801 [6.4] Fixes the positioning of a button popover in index management
  package.json
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.test.js
  src/dev/jest/config.js
  src/dev/jest/setup/polyfills.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/dev-tools/jest/setup/polyfills.js
  x-pack/package.json
  x-pack/yarn.lock
  yarn.lock
Labels: backport, bug, release_note:fix, v6.4.3

#23846 [6.x] change progress element titles to sentence casing (#23820)
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_pill/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_gauge/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_semicircle/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_wheel/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_pill/index.js
Labels: backport

#23529 i18n remove extra span tags
  packages/kbn-i18n/src/react/__snapshots__/inject_i18n_provider.test.tsx.snap
  packages/kbn-i18n/src/react/__snapshots__/provider.test.tsx.snap
  packages/kbn-i18n/src/react/provider.tsx
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/field_select.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__jest__/__snapshots__/header.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/header.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_time_field/components/advanced_options/advanced_options.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__jest__/__snapshots__/call_outs.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__jest__/call_outs.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/call_outs.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/__jest__/__snapshots__/source_filters_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/__jest__/source_filters_table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/components/add_filter/__jest__/__snapshots__/add_filter.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/components/add_filter/add_filter.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/source_filters_table.js
  src/ui/public/field_editor/__snapshots__/field_editor.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/editors/static_lookup/__snapshots__/static_lookup.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/editors/static_lookup/static_lookup.js
  src/ui/public/field_editor/components/field_format_editor/editors/url/__snapshots__/url.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/editors/url/url.js
  src/ui/public/field_editor/components/field_format_editor/samples/__snapshots__/samples.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/samples/samples.js
  src/ui/public/field_editor/components/scripting_call_outs/__snapshots__/disabled_call_out.test.js.snap
  src/ui/public/field_editor/components/scripting_call_outs/__snapshots__/warning_call_out.test.js.snap
  src/ui/public/field_editor/components/scripting_call_outs/disabled_call_out.js
  src/ui/public/field_editor/components/scripting_call_outs/disabled_call_out.test.js
  src/ui/public/field_editor/components/scripting_call_outs/warning_call_out.js
  src/ui/public/field_editor/components/scripting_call_outs/warning_call_out.test.js
  src/ui/public/field_editor/components/scripting_help/scripting_syntax.js
  src/ui/public/field_editor/field_editor.js
  x-pack/plugins/index_management/public/sections/index_list/components/detail_panel/detail_panel.js
  x-pack/plugins/index_management/public/sections/index_list/components/index_actions_context_menu/index_actions_context_menu.js
  x-pack/plugins/index_management/public/sections/index_list/components/index_table/index_table.js
Labels: :i18n

#23864 [6.x] i18n remove extra span tags (#23529)
  packages/kbn-i18n/src/react/__snapshots__/inject_i18n_provider.test.tsx.snap
  packages/kbn-i18n/src/react/__snapshots__/provider.test.tsx.snap
  packages/kbn-i18n/src/react/provider.tsx
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/field_select.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__tests__/__snapshots__/header.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/header.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_time_field/components/advanced_options/advanced_options.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__tests__/__snapshots__/call_outs.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/__tests__/call_outs.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/components/call_outs/call_outs.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/__tests__/__snapshots__/source_filters_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/__tests__/source_filters_table.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/components/add_filter/__tests__/__snapshots__/add_filter.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/components/add_filter/add_filter.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/source_filters_table.js
  src/ui/public/field_editor/__snapshots__/field_editor.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/editors/static_lookup/__snapshots__/static_lookup.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/editors/static_lookup/static_lookup.js
  src/ui/public/field_editor/components/field_format_editor/editors/url/__snapshots__/url.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/editors/url/url.js
  src/ui/public/field_editor/components/field_format_editor/samples/__snapshots__/samples.test.js.snap
  src/ui/public/field_editor/components/field_format_editor/samples/samples.js
  src/ui/public/field_editor/components/scripting_call_outs/__snapshots__/disabled_call_out.test.js.snap
  src/ui/public/field_editor/components/scripting_call_outs/__snapshots__/warning_call_out.test.js.snap
  src/ui/public/field_editor/components/scripting_call_outs/disabled_call_out.js
  src/ui/public/field_editor/components/scripting_call_outs/disabled_call_out.test.js
  src/ui/public/field_editor/components/scripting_call_outs/warning_call_out.js
  src/ui/public/field_editor/components/scripting_call_outs/warning_call_out.test.js
  src/ui/public/field_editor/components/scripting_help/scripting_syntax.js
  src/ui/public/field_editor/field_editor.js
  x-pack/plugins/index_management/public/sections/index_list/components/detail_panel/detail_panel.js
  x-pack/plugins/index_management/public/sections/index_list/components/index_actions_context_menu/index_actions_context_menu.js
  x-pack/plugins/index_management/public/sections/index_list/components/index_table/index_table.js
Labels: backport

#23832 [ML] Ensure Calendar creation navigation tabs are keyboard/screen reader accessible
  x-pack/plugins/ml/public/settings/scheduled_events/components/new_event_modal/new_event_modal.html
  x-pack/plugins/ml/public/settings/scheduled_events/components/new_event_modal/new_event_modal_controller.js
Labels: :ml, :ml-config, release_note:fix, review, v6.5.0, v7.0.0

#23782 Reporting SASS - Remove less styles
  x-pack/plugins/reporting/public/components/report_listing.tsx
  x-pack/plugins/reporting/public/less/main.less
  x-pack/plugins/reporting/public/views/management/jobs.js
Labels: :Design

#23013 [Monitoring] CCR UI
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/__snapshots__/ccr.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.css
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.test.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/__snapshots__/ccr_shard.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/ccr_shard.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/ccr_shard.test.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/status.js
  x-pack/plugins/monitoring/public/directives/main/index.html
  x-pack/plugins/monitoring/public/services/breadcrumbs_provider.js
  x-pack/plugins/monitoring/public/views/all.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/get_page_data.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/shard/get_page_data.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/shard/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/shard/index.js
  x-pack/plugins/monitoring/server/lib/details/get_series.js
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/ccr.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/ccr_shard.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/index.js
  x-pack/plugins/monitoring/server/routes/api/v1/ui.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr_shard.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/ccr.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/ccr_shard.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/index.js
  x-pack/test/functional/es_archives/monitoring/ccr/data.json.gz
  x-pack/test/functional/es_archives/monitoring/ccr/mappings.json
Labels: :Monitoring, CCR, v6.5.0, v7.0.0

#23870 [6.x] [ML] Ensure Calendar creation navigation tabs are keyboard/screen reader accessible (#23832)
  x-pack/plugins/ml/public/settings/scheduled_events/components/new_event_modal/new_event_modal.html
  x-pack/plugins/ml/public/settings/scheduled_events/components/new_event_modal/new_event_modal_controller.js
Labels: :ml, :ml-config, backport

#23853 Switches combo box to plain text in esdocs form
  x-pack/plugins/canvas/public/components/es_field_select/es_field_select.js
  x-pack/plugins/canvas/public/components/es_index_select/es_index_select.js
Labels: :Canvas, review

#23423 [ML] Anomaly Explorer Rare/Population Charts
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_chart_config_builder.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_chart_info_tooltip.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_chart_tooltip.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_charts_container_service.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/__snapshots__/explorer_chart_label.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/__snapshots__/explorer_chart_label_badge.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/explorer_chart_label.js
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/explorer_chart_label_badge.js
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/styles/explorer_chart_label.less
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/styles/explorer_chart_label_badge.less
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_config_builder.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_info_tooltip.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_info_tooltip.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_single_metric.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_single_metric.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_tooltip.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_chart.less
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_chart_info_tooltip.less
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_charts_container.less
  x-pack/plugins/ml/public/explorer/explorer_constants.js
  x-pack/plugins/ml/public/services/results_service.js
  x-pack/plugins/ml/public/util/chart_utils.js
Labels: :ml, :ml-results, v6.5.0, v7.0.0

#23874 [ML] Makes mlExplorerDashboardService independent of angularjs
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer_dashboard_service.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.test.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
Labels: :ml, refactoring, v6.5.0, v7.0.0

#23669 [Infra UI] Fixing typo pod network traffic
  x-pack/plugins/infra/server/lib/adapters/metrics/models/pod/pod_network_traffic.ts
Labels: :Infra UI, :Ingest UI, review

#23877 [6.x] Change single select combo box to plain text in esdocs (#23853)
  x-pack/plugins/canvas/public/components/es_field_select/es_field_select.js
  x-pack/plugins/canvas/public/components/es_index_select/es_index_select.js
Labels: backport

#23886 [6.x] Fixing the behavior when scrolling of the spaces popover (#23851)
  x-pack/plugins/spaces/public/views/nav_control/__snapshots__/nav_control_popover.test.tsx.snap
  x-pack/plugins/spaces/public/views/nav_control/nav_control_popover.tsx
Labels: backport

#23873 [6.x] [Monitoring] CCR UI (#23013)
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/__snapshots__/ccr.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.css
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.test.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/__snapshots__/ccr_shard.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/ccr_shard.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/ccr_shard.test.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr_shard/status.js
  x-pack/plugins/monitoring/public/directives/main/index.html
  x-pack/plugins/monitoring/public/services/breadcrumbs_provider.js
  x-pack/plugins/monitoring/public/views/all.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/get_page_data.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/shard/get_page_data.js
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/shard/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/shard/index.js
  x-pack/plugins/monitoring/server/lib/details/get_series.js
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/ccr.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/ccr_shard.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/index.js
  x-pack/plugins/monitoring/server/routes/api/v1/ui.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr_shard.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/ccr.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/ccr_shard.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/index.js
  x-pack/test/functional/es_archives/monitoring/ccr/data.json.gz
  x-pack/test/functional/es_archives/monitoring/ccr/mappings.json
Labels: backport

#23850 Prevent K7 header popovers from scrolling with page content
  src/ui/public/chrome/directives/header_global_nav/components/header_app_menu.tsx
  x-pack/plugins/security/public/views/nav_control/nav_control_component.js
Labels: :Platform, review, v6.5.0, v7.0.0

#23900 [6.x] Prevent header popovers from scrolling with page content (#23850)
  src/ui/public/chrome/directives/header_global_nav/components/header_app_menu.tsx
  x-pack/plugins/security/public/views/nav_control/nav_control_component.js
Labels: backport

#23894 Fixes page preview
  x-pack/plugins/canvas/public/components/dom_preview/dom_preview.js
Labels: :Canvas, review

#23908 [6.x] fixes early return condition in dom_preview (#23894)
  x-pack/plugins/canvas/public/components/dom_preview/dom_preview.js
Labels: backport

#23884 [6.x] [ML] Makes mlExplorerDashboardService independent of angularjs (#23874)
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer_dashboard_service.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.test.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
Labels: :ml, backport

#23759 Logstash SASS conversion - removes unused less styles
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.less
Labels: :Design

#23855 Adds super select to font picker
  x-pack/plugins/canvas/public/components/faux_select/faux_select.js
  x-pack/plugins/canvas/public/components/faux_select/index.js
  x-pack/plugins/canvas/public/components/font_picker/font_picker.js
  x-pack/plugins/canvas/public/components/font_picker/font_picker.scss
  x-pack/plugins/canvas/public/style/index.scss
Labels: :Canvas, review

#23927 [6.x] removes unused less styles (#23759)
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.less
Labels: backport

#23499 [I18n] Add one-time binding to angularjs i18n
  packages/kbn-i18n/GUIDELINE.md
  packages/kbn-i18n/README.md
  packages/kbn-i18n/src/angular/__snapshots__/directive.test.ts.snap
  packages/kbn-i18n/src/angular/directive.test.ts
  packages/kbn-i18n/src/angular/directive.ts
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.html
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/field_controls.html
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/index_header/index_header.html
  src/core_plugins/kibana/public/management/sections/indices/index.html
  src/core_plugins/metric_vis/public/metric_vis_params.html
  src/dev/i18n/__fixtures__/extract_default_translations/test_plugin_2/test_file.html
  src/dev/i18n/extractors/__snapshots__/html.test.js.snap
  src/dev/i18n/extractors/html.js
  src/dev/i18n/extractors/html.test.js
Labels: :Platform, :i18n, review, v6.5.0

#23928 [6.x] Adds super select to font picker (#23855)
  x-pack/plugins/canvas/public/components/faux_select/faux_select.js
  x-pack/plugins/canvas/public/components/faux_select/index.js
  x-pack/plugins/canvas/public/components/font_picker/font_picker.js
  x-pack/plugins/canvas/public/components/font_picker/font_picker.scss
  x-pack/plugins/canvas/public/style/index.scss
Labels: backport

#23372 fix: Router can render function or class components
  x-pack/plugins/canvas/public/components/router/router.js
  x-pack/plugins/canvas/public/lib/__tests__/history_provider.js
  x-pack/plugins/canvas/public/lib/router_provider.js
Labels: :Canvas, review, v6.5.0, v7.0.0

#23920 fix building Canvas plugin on Windows
  x-pack/plugins/canvas/tasks/helpers/webpack.plugins.js
Labels: :Canvas, v6.5.0, v7.0.0

#23964 [6.x] fix: Router can render function or class components (#23372)
  x-pack/plugins/canvas/public/components/router/router.js
  x-pack/plugins/canvas/public/lib/__tests__/history_provider.js
  x-pack/plugins/canvas/public/lib/router_provider.js
Labels: backport

#23878 Fixing the spaces audit logger when security is explicitly disabled
  x-pack/plugins/spaces/server/lib/audit_logger.test.ts
  x-pack/plugins/spaces/server/lib/audit_logger.ts
Labels: :Security, :Spaces, blocker, v6.5.0, v7.0.0

#23849 Moved squel from devDependencies to dependencies
  x-pack/package.json
  yarn.lock
Labels: :Canvas, review, v6.5.0, v7.0.0

#24022 Removes no license warning in Canvas
  x-pack/plugins/canvas/package.json
Labels: :Canvas, review, v6.5.0, v7.0.0

#23640 Delete objects belonging to removed space
  src/server/saved_objects/service/lib/__snapshots__/repository.test.js.snap
  src/server/saved_objects/service/lib/repository.js
  src/server/saved_objects/service/lib/repository.test.js
  x-pack/plugins/spaces/public/views/management/components/__snapshots__/confirm_delete_modal.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/components/confirm_delete_modal.tsx
  x-pack/plugins/spaces/server/lib/spaces_client.test.ts
  x-pack/plugins/spaces/server/lib/spaces_client.ts
  x-pack/plugins/spaces/server/routes/api/__fixtures__/create_test_handler.ts
  x-pack/test/spaces_api_integration/common/fixtures/es_archiver/saved_objects/spaces/data.json
  x-pack/test/spaces_api_integration/common/fixtures/es_archiver/saved_objects/spaces/mappings.json
  x-pack/test/spaces_api_integration/common/lib/create_users_and_roles.ts
  x-pack/test/spaces_api_integration/common/suites/delete.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/delete.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/delete.ts
Labels: :Spaces, v6.5.0, v7.0.0

#24025 [6.x] Moved squel from devDependencies to dependencies (#23849)
  x-pack/package.json
  yarn.lock
Labels: backport

#23830 [Infra UI] Add timepicker and chart dragging to Node detail page
  x-pack/plugins/infra/public/components/metrics/index.tsx
  x-pack/plugins/infra/public/components/metrics/section.tsx
  x-pack/plugins/infra/public/components/metrics/sections/chart_section.tsx
  x-pack/plugins/infra/public/components/metrics/time_controls.tsx
  x-pack/plugins/infra/public/components/range_date_picker/index.tsx
  x-pack/plugins/infra/public/containers/metrics/with_metrics_time.tsx
  x-pack/plugins/infra/public/pages/home/page_content.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
  x-pack/plugins/infra/public/store/actions.ts
  x-pack/plugins/infra/public/store/local/actions.ts
  x-pack/plugins/infra/public/store/local/epic.ts
  x-pack/plugins/infra/public/store/local/metric_time/actions.ts
  x-pack/plugins/infra/public/store/local/metric_time/epic.ts
  x-pack/plugins/infra/public/store/local/metric_time/index.ts
  x-pack/plugins/infra/public/store/local/metric_time/reducer.ts
  x-pack/plugins/infra/public/store/local/metric_time/selectors.ts
  x-pack/plugins/infra/public/store/local/reducer.ts
  x-pack/plugins/infra/public/store/local/selectors.ts
  x-pack/plugins/infra/public/store/selectors.ts
  x-pack/plugins/infra/public/store/store.ts
  x-pack/plugins/infra/server/lib/adapters/framework/kibana_framework_adapter.ts
  x-pack/plugins/infra/types/eui.d.ts
  x-pack/plugins/infra/types/eui_experimental.d.ts
  x-pack/plugins/infra/yarn.lock
Labels: :Infra UI, :Ingest UI, loe:days, review

#24033 [6.x] Delete objects belonging to removed space (#23640)
  src/server/saved_objects/service/lib/__snapshots__/repository.test.js.snap
  src/server/saved_objects/service/lib/repository.js
  src/server/saved_objects/service/lib/repository.test.js
  x-pack/plugins/spaces/public/views/management/components/__snapshots__/confirm_delete_modal.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/components/confirm_delete_modal.tsx
  x-pack/plugins/spaces/server/lib/spaces_client.test.ts
  x-pack/plugins/spaces/server/lib/spaces_client.ts
  x-pack/plugins/spaces/server/routes/api/__fixtures__/create_test_handler.ts
  x-pack/test/spaces_api_integration/common/fixtures/es_archiver/saved_objects/spaces/data.json
  x-pack/test/spaces_api_integration/common/fixtures/es_archiver/saved_objects/spaces/mappings.json
  x-pack/test/spaces_api_integration/common/lib/create_users_and_roles.ts
  x-pack/test/spaces_api_integration/common/suites/delete.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/delete.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/delete.ts
Labels: backport

#24032 [6.x] Sets private:true in canvas package.json (#24022)
  x-pack/plugins/canvas/package.json
Labels: backport

#24011 Fix toolbar (sidebar) height in Firefox
  x-pack/plugins/canvas/public/apps/workpad/workpad_app/workpad_app.scss
  x-pack/plugins/canvas/public/components/sidebar/sidebar.scss
Labels: :Canvas, review

#23971 [yarn] Upgrade to 1.10.1
  package.json
  packages/kbn-babel-preset/yarn.lock
  packages/kbn-config-schema/yarn.lock
  packages/kbn-datemath/yarn.lock
  packages/kbn-dev-utils/yarn.lock
  packages/kbn-es/yarn.lock
  packages/kbn-eslint-import-resolver-kibana/yarn.lock
  packages/kbn-eslint-plugin-license-header/yarn.lock
  packages/kbn-i18n/yarn.lock
  packages/kbn-plugin-generator/yarn.lock
  packages/kbn-plugin-helpers/yarn.lock
  packages/kbn-pm/yarn.lock
  packages/kbn-system-loader/yarn.lock
  packages/kbn-test-subj-selector/yarn.lock
  packages/kbn-test/yarn.lock
  packages/kbn-ui-framework/yarn.lock
  x-pack/yarn.lock
  yarn.lock
Labels: :Platform, chore, v6.5.0, v6.6.0, v7.0.0

#24044 [6.x] Fix regression with ML breadcrumbs in old UI (#23756)
  x-pack/plugins/ml/public/components/nav_menu/nav_menu.html
Labels: backport

#24018 [6.x] Fixing the spaces audit logger when security is explicitly disabled (#23878)
  x-pack/plugins/spaces/server/lib/audit_logger.test.ts
  x-pack/plugins/spaces/server/lib/audit_logger.ts
Labels: backport

#24061 [6.x] [ML] Make sure anomalyChartRecords gets initialized as an Array. (#24021)
  x-pack/plugins/ml/public/explorer/__tests__/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
Labels: :ml, :ml-results, backport

#23761 Translate pie and vaslib_basic_options
  .i18nrc.json
  src/core_plugins/kbn_vislib_vis_types/public/controls/vislib_basic_options.html
  src/core_plugins/kbn_vislib_vis_types/public/editors/pie.html
  src/core_plugins/kbn_vislib_vis_types/public/pie.js
Labels: :i18n

#24049 Fix canvas plugin directory regression
  x-pack/plugins/canvas/server/lib/get_plugin_paths.js
Labels: :Canvas, v6.5.0, v7.0.0

#24043 [6.x] fix sidebar scrolling in firefox (#24011)
  x-pack/plugins/canvas/public/apps/workpad/workpad_app/workpad_app.scss
  x-pack/plugins/canvas/public/components/sidebar/sidebar.scss
Labels: backport

#23578 [Infra UI] Collect telemetry data.
  x-pack/plugins/infra/index.ts
  x-pack/plugins/infra/server/graphql/log_entries/resolvers.ts
  x-pack/plugins/infra/server/graphql/metrics/resolvers.ts
  x-pack/plugins/infra/server/graphql/nodes/resolvers.ts
  x-pack/plugins/infra/server/kibana.index.ts
  x-pack/plugins/infra/server/usage/usage_collector.ts
Labels: :Infra UI, :Ingest UI, review

#24051 [6.x] Skip failing dashboard reporting test (#24040)
  x-pack/test/reporting/functional/reporting.js
Labels: backport

#23924 [Ingest UI] Add Nginx Metrics to Detail Pages
  x-pack/plugins/infra/common/graphql/introspection.json
  x-pack/plugins/infra/common/graphql/types.ts
  x-pack/plugins/infra/public/pages/metrics/layouts/container.ts
  x-pack/plugins/infra/public/pages/metrics/layouts/host.ts
  x-pack/plugins/infra/public/pages/metrics/layouts/nginx.ts
  x-pack/plugins/infra/public/pages/metrics/layouts/pod.ts
  x-pack/plugins/infra/server/graphql/metrics/schema.gql.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/kibana_metrics_adapter.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/lib/check_valid_node.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/index.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/nginx/nginx_active_connections.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/nginx/nginx_hits.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/nginx/nginx_request_rate.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/nginx/nginx_requests_per_connection.ts
Labels: :Infra UI, :Ingest UI, review

#24056 Adding InfraOps and Logs to homepage
  src/ui/public/registry/feature_catalogue.d.ts
  x-pack/plugins/infra/index.ts
  x-pack/plugins/infra/public/register_feature.ts
Labels: :Infra UI, review

#24020 [Infra UI] Tweak layout for square sizes
  x-pack/plugins/infra/public/components/waffle/lib/size_of_squares.ts
Labels: :Infra UI, :Ingest UI, review

#24085 [Monitoring] Skip APM tests
  x-pack/test/api_integration/apis/monitoring/apm/instance.js
  x-pack/test/api_integration/apis/monitoring/apm/instances.js
  x-pack/test/api_integration/apis/monitoring/apm/overview.js
Labels: failed-test, v6.5.0, v7.0.0

#24036 [6.x] - Switch to using a fork
  package.json
  x-pack/package.json
Labels: backport

#24039 [6.4] - Switch to using a fork
  package.json
  packages/kbn-ui-framework/package.json
  packages/kbn-ui-framework/yarn.lock
  x-pack/package.json
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#24091 [Beats CM] Improve beat-tag assignment UX
  x-pack/plugins/beats_management/public/components/table_controls/tag_badge_list.tsx
  x-pack/plugins/beats_management/public/pages/main/beats.tsx
Labels: :Beats, beats-cm, v6.5.0, v7.0.0

#24092 [6.x] Skip these tests (#24085)
  x-pack/test/api_integration/apis/monitoring/apm/instance.js
  x-pack/test/api_integration/apis/monitoring/apm/instances.js
  x-pack/test/api_integration/apis/monitoring/apm/overview.js
Labels: backport

#24016 Proofreading edits, UI text consistency
  x-pack/plugins/canvas/canvas_plugin_src/elements/image/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/markdown/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/markdown.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/alterColumn.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/axisConfig.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/case.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/date.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/seriesStyle.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/staticColumn.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/table.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/esdocs.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/timelion.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/advanced_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/dropdown_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/error/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/repeat_image.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/reveal_image/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/table.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/text.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/axis_config/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/palette.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/string.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/textarea.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/datasources/demodata.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/datasources/essql.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/datasources/timelion.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/models/point_series.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/transforms/sort.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/dropdownControl.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/getCell.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/metric.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/pie.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/plot.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/progress.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/repeatImage.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/revealImage.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/shape.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/table.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/timefilterControl.js
  x-pack/plugins/canvas/common/functions/to.js
  x-pack/plugins/canvas/public/expression_types/arg_types/container_style/index.js
  x-pack/plugins/canvas/public/expression_types/arg_types/font.js
  x-pack/plugins/canvas/public/expression_types/arg_types/series_style/index.js
  x-pack/plugins/canvas/public/expression_types/datasources/esdocs.js
  x-pack/plugins/canvas/public/functions/asset.js
Labels: :Canvas, review, v6.5.0, v7.0.0

#24053 Use chrome instead of IE for karma tests on windows
  tasks/config/karma.js
Labels: test, test_infra

#24097 [6.x] Proofreading edits, UI text consistency (#24016)
  x-pack/plugins/canvas/canvas_plugin_src/elements/image/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/markdown/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/markdown.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/alterColumn.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/axisConfig.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/case.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/date.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/seriesStyle.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/staticColumn.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/table.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/demodata/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/esdocs.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/timelion.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/advanced_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/dropdown_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/error/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/repeat_image.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/reveal_image/index.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/table.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/text.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/axis_config/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/palette.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/string.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/textarea.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/datasources/demodata.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/datasources/essql.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/datasources/timelion.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/models/point_series.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/transforms/sort.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/dropdownControl.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/getCell.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/metric.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/pie.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/plot.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/progress.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/repeatImage.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/revealImage.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/shape.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/table.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/views/timefilterControl.js
  x-pack/plugins/canvas/common/functions/to.js
  x-pack/plugins/canvas/public/expression_types/arg_types/container_style/index.js
  x-pack/plugins/canvas/public/expression_types/arg_types/font.js
  x-pack/plugins/canvas/public/expression_types/arg_types/series_style/index.js
  x-pack/plugins/canvas/public/expression_types/datasources/esdocs.js
  x-pack/plugins/canvas/public/functions/asset.js
Labels: backport, v6.5.0

#23977 Fix: recompose.shallowEqual discerns between 0 and -0
  x-pack/plugins/canvas/public/state/middleware/aeroelastic.js
Labels: :Canvas, review, v6.5.0, v7.0.0

#24103 [6.4] Use chrome instead of IE for karma on windows (#24053)
  tasks/config/karma.js
Labels: backport, test, test_infra

#24102 [6.x] Use chrome instead of IE for karma on windows (#24053)
  tasks/config/karma.js
Labels: backport, test, test_infra

#23341 [ui/utils] share sync subscribe logic
  src/ui/public/config/config.js
  src/ui/public/utils/subscribe_with_scope.test.ts
  src/ui/public/utils/subscribe_with_scope.ts
Labels: :Platform, review, v6.5.0, v7.0.0

#24110 [6.x] [ui/utils] share sync subscribe logic (#23341)
  src/ui/public/config/config.js
  src/ui/public/utils/subscribe_with_scope.test.ts
  src/ui/public/utils/subscribe_with_scope.ts
Labels: backport
