Repository elastic/kibana, pull requests merged in 2018-05, with the labels that each got.

#17773 [Stats] Add metrics collector and stats API
  src/server/status/index.js
  src/server/status/metrics_collector/__snapshots__/metrics_collector.test.js.snap
  src/server/status/metrics_collector/index.js
  src/server/status/metrics_collector/metrics.js
  src/server/status/metrics_collector/metrics.test.js
  src/server/status/metrics_collector/metrics_collector.js
  src/server/status/metrics_collector/metrics_collector.test.js
  src/server/status/metrics_collector/sum_accumulate.test.js
  src/server/status/routes/api/register_stats.js
  src/server/status/routes/index.js
  test/api_integration/apis/index.js
  test/api_integration/apis/stats/index.js
  test/api_integration/apis/stats/stats.js
  test/api_integration/apis/status/status.js
Labels: :Operations, release highlight, review, v6.4.0, v7.0.0

#18661 [6.x] [ML] Removing messagebar angular service
  x-pack/plugins/ml/public/components/messagebar/messagebar.js
  x-pack/plugins/ml/public/components/messagebar/messagebar_service.js
  x-pack/plugins/ml/public/jobs/jobs_list/create_watch_modal/create_watch_modal_controller.js
  x-pack/plugins/ml/public/jobs/jobs_list/edit_job_modal/edit_job_modal_controller.js
  x-pack/plugins/ml/public/jobs/jobs_list/expanded_row/expanded_row_directive.js
  x-pack/plugins/ml/public/jobs/jobs_list/job_timepicker_modal/job_timepicker_modal_controller.js
  x-pack/plugins/ml/public/jobs/jobs_list/jobs_list_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_filter_modal/detector_filter_modal_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_modal/detector_modal_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/components/post_save_options/post_save_service.js
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/services/calendar_service.js
  x-pack/plugins/ml/public/services/job_service.js
  x-pack/plugins/ml/public/settings/scheduled_events/new_calendar/create_calendar_controller.js
Labels: :ml, backport, review, v6.4.0

#18665 [6.x] [ML] Convert job select service to a provider
  x-pack/plugins/ml/public/components/job_select_list/job_select_button_directive.js
  x-pack/plugins/ml/public/components/job_select_list/job_select_list_directive.js
  x-pack/plugins/ml/public/components/job_select_list/job_select_service.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, refactoring, review, v6.4.0

#18683 [Logstash Centralized Management] Hide recently-deleted pipelines (follow up PR)
  x-pack/plugins/logstash/common/constants/monitoring.js
  x-pack/plugins/logstash/public/services/monitoring/monitoring_service.js
  x-pack/plugins/logstash/public/services/pipelines/pipelines_service.js
Labels: :Logstash, :Management, v6.3.0, v6.4.0, v7.0.0

#18673 [console_extensions] disable when console is disabled
  x-pack/plugins/console_extensions/index.js
Labels: :Console, :Dev Tools, review, v6.3.0

#18677 [6.x] [Stats] Add metrics collector and stats API (#17773)
  src/server/status/index.js
  src/server/status/metrics_collector/__snapshots__/metrics_collector.test.js.snap
  src/server/status/metrics_collector/index.js
  src/server/status/metrics_collector/metrics.js
  src/server/status/metrics_collector/metrics.test.js
  src/server/status/metrics_collector/metrics_collector.js
  src/server/status/metrics_collector/metrics_collector.test.js
  src/server/status/metrics_collector/sum_accumulate.test.js
  src/server/status/routes/api/register_stats.js
  src/server/status/routes/index.js
  test/api_integration/apis/index.js
  test/api_integration/apis/stats/index.js
  test/api_integration/apis/stats/stats.js
  test/api_integration/apis/status/status.js
Labels: backport, v6.4.0

#17840 Bump http-proxy-agent
  package.json
  yarn.lock
Labels: :Operations, review, v6.4.0, v7.0.0

#18695 [6.x] replace KuiCard with EuiCard in kibana home (#17771)
  src/core_plugins/kibana/public/home/components/__snapshots__/add_data.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/add_data.js
  src/core_plugins/kibana/public/home/components/add_data.less
  src/core_plugins/kibana/public/home/components/add_data.test.js
  src/core_plugins/kibana/public/home/components/home.js
  src/core_plugins/kibana/public/home/home.less
Labels: backport

#18702 [DOCS] Removes X-Pack release notes
  x-pack/docs/en/graph/release-notes.asciidoc
  x-pack/docs/en/index.asciidoc
  x-pack/docs/en/monitoring/release-notes.asciidoc
  x-pack/docs/en/release-notes/7.0.0-alpha1.asciidoc
  x-pack/docs/en/release-notes/breaking-changes-xpack.asciidoc
  x-pack/docs/en/release-notes/index.asciidoc
  x-pack/docs/en/reporting/release-notes.asciidoc
Labels: docs, v7.0.0

#18705 [6.x] [ML] Fixes sync issue where a manipulated AppState wouldn't contain the original attribute anymore. (#18653)
  x-pack/plugins/ml/public/factories/__tests__/state_factory.js
  x-pack/plugins/ml/public/factories/state_factory.js
Labels: :ml, :ml-results, backport

#18706 [6.3] [ML] Fixes sync issue where a manipulated AppState wouldn't contain the original attribute anymore. (#18653)
  x-pack/plugins/ml/public/factories/__tests__/state_factory.js
  x-pack/plugins/ml/public/factories/state_factory.js
Labels: :ml, :ml-results, backport

#18659 [ML] Omit mml success message when mml checks are not run.
  x-pack/plugins/ml/server/models/job_validation/__tests__/job_validation.js
  x-pack/plugins/ml/server/models/job_validation/__tests__/validate_model_memory_limit.js
  x-pack/plugins/ml/server/models/job_validation/validate_model_memory_limit.js
Labels: :ml, :ml-config, bug, review, v6.3.0, v6.4.0, v7.0.0

#18681 [ML] Convert Angular filters to formatter functions
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/components/anomalies_table/expanded_row/expanded_row_directive.js
  x-pack/plugins/ml/public/components/influencers_list/influencers_list_directive.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_directive.js
  x-pack/plugins/ml/public/filters/__tests__/abbreviate_whole_number.js
  x-pack/plugins/ml/public/filters/__tests__/format_value.js
  x-pack/plugins/ml/public/filters/__tests__/metric_change_description.js
  x-pack/plugins/ml/public/filters/format_value.js
  x-pack/plugins/ml/public/filters/metric_change_description.js
  x-pack/plugins/ml/public/formatters/__tests__/abbreviate_whole_number.js
  x-pack/plugins/ml/public/formatters/__tests__/format_value.js
  x-pack/plugins/ml/public/formatters/__tests__/metric_change_description.js
  x-pack/plugins/ml/public/formatters/abbreviate_whole_number.js
  x-pack/plugins/ml/public/formatters/format_value.js
  x-pack/plugins/ml/public/formatters/metric_change_description.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
Labels: :ml, :ml-results, review, v6.4.0, v7.0.0

#18708 [6.x] [ML] Omit mml success message when mml checks are not run. (#18659)
  x-pack/plugins/ml/server/models/job_validation/__tests__/job_validation.js
  x-pack/plugins/ml/server/models/job_validation/__tests__/validate_model_memory_limit.js
  x-pack/plugins/ml/server/models/job_validation/validate_model_memory_limit.js
Labels: :ml, :ml-config, backport

#18709 [6.3] [ML] Omit mml success message when mml checks are not run. (#18659)
  x-pack/plugins/ml/server/models/job_validation/__tests__/job_validation.js
  x-pack/plugins/ml/server/models/job_validation/__tests__/validate_model_memory_limit.js
  x-pack/plugins/ml/server/models/job_validation/validate_model_memory_limit.js
Labels: :ml, :ml-config, backport

#18710 [6.x] [ML] Convert Angular filters to formatter functions (#18681)
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/components/anomalies_table/expanded_row/expanded_row_directive.js
  x-pack/plugins/ml/public/components/influencers_list/influencers_list_directive.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_directive.js
  x-pack/plugins/ml/public/filters/__tests__/abbreviate_whole_number.js
  x-pack/plugins/ml/public/filters/__tests__/format_value.js
  x-pack/plugins/ml/public/filters/__tests__/metric_change_description.js
  x-pack/plugins/ml/public/filters/format_value.js
  x-pack/plugins/ml/public/filters/metric_change_description.js
  x-pack/plugins/ml/public/formatters/__tests__/abbreviate_whole_number.js
  x-pack/plugins/ml/public/formatters/__tests__/format_value.js
  x-pack/plugins/ml/public/formatters/__tests__/metric_change_description.js
  x-pack/plugins/ml/public/formatters/abbreviate_whole_number.js
  x-pack/plugins/ml/public/formatters/format_value.js
  x-pack/plugins/ml/public/formatters/metric_change_description.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
Labels: :ml, :ml-results, backport

#18678 [ML] Adds an mml check to trigger an error when mml value is invalid.
  x-pack/plugins/ml/server/models/job_validation/__tests__/validate_model_memory_limit.js
  x-pack/plugins/ml/server/models/job_validation/messages.json
  x-pack/plugins/ml/server/models/job_validation/validate_model_memory_limit.js
Labels: :ml, :ml-config, bug, review, v6.3.0, v6.4.0, v7.0.0

#18692 [ML] Adding ace editor for JSON
  x-pack/plugins/ml/public/jobs/jobs_list/expanded_row/expanded_row.html
  x-pack/plugins/ml/public/jobs/jobs_list/expanded_row/expanded_row_directive.js
  x-pack/plugins/ml/public/jobs/jobs_list/expanded_row/styles/main.less
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, :ml-config, review, v6.4.0, v7.0.0

#18714 [6.x] [ML] Adding ace editor for JSON (#18692)
  x-pack/plugins/ml/public/jobs/jobs_list/expanded_row/expanded_row.html
  x-pack/plugins/ml/public/jobs/jobs_list/expanded_row/expanded_row_directive.js
  x-pack/plugins/ml/public/jobs/jobs_list/expanded_row/styles/main.less
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: backport

#18713 [ML] Fixing MS Edge GET request error
  x-pack/plugins/ml/public/services/http_service.js
Labels: :ml, bug, review, v6.4.0, v7.0.0

#18716 [6.x] [ML] Display typical values for lat_long anomalies (#18715)
  x-pack/plugins/ml/public/util/__tests__/anomaly_utils.js
  x-pack/plugins/ml/public/util/anomaly_utils.js
Labels: :ml, :ml-results, backport

#18720 [6.x] [UI Text: Security] Edited text in User, Add user, and Edit user pages (#18618)
  x-pack/plugins/security/public/views/management/change_password_form/change_password_form.html
  x-pack/plugins/security/public/views/management/edit_user.html
  x-pack/plugins/security/public/views/management/password_form/password_form.html
  x-pack/plugins/security/public/views/management/users.html
Labels: backport

#17356 [Docs] Kibana settings ECE (6.2)
  docs/setup/settings.asciidoc
Labels: docs

#18719 [6.x] [ML] Fixing MS Edge GET request error (#18713)
  x-pack/plugins/ml/public/services/http_service.js
Labels: backport

#18711 [6.x] [ML] Adds an mml check to trigger an error when mml value is invalid. (#18678)
  x-pack/plugins/ml/server/models/job_validation/__tests__/validate_model_memory_limit.js
  x-pack/plugins/ml/server/models/job_validation/messages.json
  x-pack/plugins/ml/server/models/job_validation/validate_model_memory_limit.js
Labels: :ml, :ml-config, backport

#18727 [6.x] fixing issue with cancel button on revert to basic license modal (#18718)
  x-pack/plugins/license_management/public/sections/license_dashboard/revert_to_basic/revert_to_basic.container.js
  x-pack/plugins/license_management/public/sections/license_dashboard/revert_to_basic/revert_to_basic.js
  x-pack/plugins/license_management/public/store/actions/start_basic.js
  x-pack/plugins/license_management/public/store/reducers/start_basic_license_status.js
Labels: backport

#18728 [6.3] fixing issue with cancel button on revert to basic license modal (#18718)
  x-pack/plugins/license_management/public/sections/license_dashboard/revert_to_basic/revert_to_basic.container.js
  x-pack/plugins/license_management/public/sections/license_dashboard/revert_to_basic/revert_to_basic.js
  x-pack/plugins/license_management/public/store/actions/start_basic.js
  x-pack/plugins/license_management/public/store/reducers/start_basic_license_status.js
Labels: backport

#18723 [ML] Increasing calculated model memory limit
  x-pack/plugins/ml/server/models/calculate_model_memory_limit/calculate_model_memory_limit.js
  x-pack/plugins/ml/server/models/job_validation/__tests__/validate_model_memory_limit.js
Labels: :ml, :ml-config, review, v6.3.0, v6.4.0, v7.0.0

#18675 [DOCS] Enables editing links for X-Pack pages
  x-pack/docs/en/index.asciidoc
Labels: docs, v6.3.0, v6.4.0, v7.0.0

#18737 [6.0] Update .backportrc.json (#18724)
  .backportrc.json
Labels: backport

#18736 [6.1] Update .backportrc.json (#18724)
  .backportrc.json
Labels: backport

#18734 [6.x] Update .backportrc.json (#18724)
  .backportrc.json
Labels: backport

#18735 [6.3] Update .backportrc.json (#18724)
  .backportrc.json
Labels: backport

#18621 [esArchiver] fix esArchiver.loadIfNeeded
  src/es_archiver/actions/load.js
  src/utils/index.js
  src/utils/streams/__tests__/concat_stream_providers.js
  src/utils/streams/concat_stream_providers.js
  src/utils/streams/index.js
  src/utils/streams/json_streams.js
Labels: :Platform, review, v6.3.0, v6.4.0, v7.0.0

#18731 [6.3] [ML] Increasing calculated model memory limit
  x-pack/plugins/ml/server/models/calculate_model_memory_limit/calculate_model_memory_limit.js
  x-pack/plugins/ml/server/models/job_validation/__tests__/validate_model_memory_limit.js
Labels: :ml, backport

#18694 Fix loading indicator for uiSettingsClient
  src/ui/public/chrome/__tests__/kbn_loading_indicator.js
  src/ui/public/chrome/api/angular.js
  src/ui/public/chrome/api/loading_count.js
  src/ui/public/chrome/chrome.js
  src/ui/public/chrome/directives/__snapshots__/loading_indicator.test.js.snap
  src/ui/public/chrome/directives/index.js
  src/ui/public/chrome/directives/kbn_chrome.js
  src/ui/public/chrome/directives/loading_indicator.js
  src/ui/public/chrome/directives/loading_indicator.less
  src/ui/public/chrome/directives/loading_indicator.test.js
  src/ui/public/chrome/directives/loading_indicator/index.js
  src/ui/public/chrome/directives/loading_indicator/loading_indicator.html
  src/ui/public/chrome/directives/loading_indicator/loading_indicator.js
  src/ui/ui_settings/public/send_request.js
  test/functional/apps/dashboard/_dashboard_save.js
  test/functional/apps/visualize/_point_series_options.js
  test/functional/page_objects/header_page.js
  x-pack/test/functional/page_objects/security_page.js
Labels: :Platform, review, v6.3.0, v6.4.0, v7.0.0

#18748 [6.x] add jest instructions to CONTRIBUTING.md (#18620)
  CONTRIBUTING.md
  x-pack/README.md
Labels: backport

#18741 [Monitoring/Metrics] clean up metric classes and getMetricFields stat…
  x-pack/plugins/monitoring/server/lib/beats/get_beat_summary.js
  x-pack/plugins/monitoring/server/lib/beats/get_beats.js
  x-pack/plugins/monitoring/server/lib/beats/get_beats_for_clusters.js
  x-pack/plugins/monitoring/server/lib/beats/get_latest_stats.js
  x-pack/plugins/monitoring/server/lib/beats/get_stats.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/get_last_recovery.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/get_ml_jobs.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/indices/get_index_summary.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/nodes/get_node_summary.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/nodes/get_nodes/get_nodes.js
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/index.js
Labels: :Monitoring, non-issue, review, v6.4.0, v7.0.0

#18742 [build] Set file times to build time
  src/dev/build/lib/__tests__/fs.js
  src/dev/build/lib/fs.js
  src/dev/build/tasks/create_archives_sources_task.js
Labels: :Operations, :Platform, review

#18717 [ML] Refactor to not rely on broadcast
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, :ml-results, review, v6.3.0, v6.4.0, v7.0.0

#18762 [6.x] [ML] Refactor to not rely on broadcast which could result in listeners not picking up changes. (#18717)
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, :ml-results, backport

#18763 [6.3] [ML] Refactor to not rely on broadcast which could result in listeners not picking up changes. (#18717)
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, :ml-results, backport

#18766 [ML] Fixing icon 404 responses in some browsers
  x-pack/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type.html
Labels: :ml, :ml-config, review, v6.4.0, v7.0.0

#18772 [6.x] No longer setting certs and keys for proxied calls to Elasticsearch (#17804)
  src/core_plugins/console/server/__tests__/elasticsearch_proxy_config.js
  src/core_plugins/console/server/elasticsearch_proxy_config.js
  src/core_plugins/elasticsearch/lib/__tests__/parse_config.js
  src/core_plugins/elasticsearch/lib/cluster.js
  src/core_plugins/elasticsearch/lib/create_agent.js
  src/core_plugins/elasticsearch/lib/parse_config.js
Labels: backport

#18769 [ML] Fix Anomaly Table update trigger
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, :ml-results, bug, review, v6.3.0, v6.4.0, v7.0.0

#18770 [6.x] [ML] Fixing icon 404 responses in firefox (#18766)
  x-pack/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type.html
Labels: :ml, backport

#18758 [Monitoring/Test] More indices listing tests to prep for refactoring
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/indices.js
Labels: :Monitoring, review, test, v6.4.0, v7.0.0

#18746 [uiSettingsClient] use kbn-version header
  src/ui/ui_settings/public/send_request.js
Labels: :Platform, review, v6.3.0, v6.4.0, v7.0.0

#18781 [ML] Fixing error reporting in message bar
  x-pack/plugins/ml/public/datavisualizer/datavisualizer_controller.js
  x-pack/plugins/ml/public/jobs/jobs_list/job_timepicker_modal/job_timepicker_modal_controller.js
  x-pack/plugins/ml/public/ml_nodes_check/check_ml_nodes.js
  x-pack/plugins/ml/public/services/http_service.js
  x-pack/plugins/ml/public/services/job_service.js
Labels: :ml, bug, review, v6.4.0, v7.0.0

#17761 [TSVB] Adding log scale mode to y-axis
  NOTICE.txt
  src/core_plugins/metrics/public/components/panel_config/timeseries.js
  src/core_plugins/metrics/public/components/vis_types/timeseries/vis.js
  src/core_plugins/metrics/public/kbn_vis_types/index.js
  src/core_plugins/metrics/public/visualizations/components/flot_chart.js
  src/ui/public/flot-charts/index.js
  src/ui/public/flot-charts/jquery.flot.log.js
Labels: :TSVB, :Visualizations, review, v6.4.0, v7.0.0

#18778 Spaces mapping
  src/server/config/complete.js
  src/server/config/complete.test.js
  src/server/http/index.js
  src/server/http/setup_base_path_provider.js
  x-pack/plugins/spaces/index.js
  x-pack/plugins/spaces/mappings.json
  x-pack/plugins/spaces/public/views/management/components/__snapshots__/page_header.test.js.snap
  x-pack/plugins/spaces/public/views/management/components/manage_space_page.js
  x-pack/plugins/spaces/public/views/management/components/page_header.test.js
  x-pack/plugins/spaces/public/views/management/components/spaces_grid_page.js
  x-pack/plugins/spaces/public/views/management/components/url_context.js
  x-pack/plugins/spaces/public/views/management/lib/url_context_utils.js
  x-pack/plugins/spaces/public/views/management/lib/url_context_utils.test.js
  x-pack/plugins/spaces/public/views/space_selector/__snapshots__/space_selector.test.js.snap
  x-pack/plugins/spaces/public/views/space_selector/index.js
  x-pack/plugins/spaces/public/views/space_selector/space_selector.js
  x-pack/plugins/spaces/public/views/space_selector/space_selector.test.js
  x-pack/plugins/spaces/server/lib/space_request_interceptors.js
  x-pack/plugins/spaces/server/lib/space_schema.js
  x-pack/plugins/spaces/server/routes/api/v1/spaces.js
Labels: :Security

#17828 [uiExports] migrate uiApp "uses" to explicit imports in apps
  .eslintrc.js
  package.json
  packages/kbn-eslint-import-resolver-kibana/import_resolver_kibana.js
  src/core_plugins/kibana/index.js
  src/core_plugins/kibana/public/kibana.js
  src/core_plugins/timelion/index.js
  src/core_plugins/timelion/public/app.js
  src/optimize/base_optimizer.js
  src/optimize/create_ui_exports_module.js
  src/ui/public/chrome/chrome.js
  src/ui/public/test_harness/test_harness.js
  src/ui/ui_apps/__tests__/ui_app.js
  src/ui/ui_apps/ui_app.js
  src/ui/ui_bundles/ui_bundles_controller.js
  src/ui/ui_exports/ui_export_types/ui_apps.js
  x-pack/plugins/dashboard_mode/index.js
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
  x-pack/plugins/graph/index.js
  x-pack/plugins/graph/public/app.js
  x-pack/plugins/ml/index.js
  x-pack/plugins/ml/public/app.js
  yarn.lock
Labels: :Platform, :Plugins, review, v6.4.0, v7.0.0

#18784 [6.x] [Monitoring/Test] More indices listing tests to prep for refactoring (#18758)
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/indices.js
Labels: backport

#18788 [6.x] [ML] Fixing error reporting in message bar (#18781)
  x-pack/plugins/ml/public/datavisualizer/datavisualizer_controller.js
  x-pack/plugins/ml/public/jobs/jobs_list/job_timepicker_modal/job_timepicker_modal_controller.js
  x-pack/plugins/ml/public/ml_nodes_check/check_ml_nodes.js
  x-pack/plugins/ml/public/services/http_service.js
  x-pack/plugins/ml/public/services/job_service.js
Labels: backport

#18674 Normalize longitudes so they fall within the acceptable [-180,180] range
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/ui/public/vis/__tests__/map/kibana_map.js
  src/ui/public/vis/map/kibana_map.js
Labels: :Coordinate Map, :Visualizations, release_note:fix, v6.2.5, v6.3.0, v6.4.0, v7.0.0

#18774 [6.x] [ML] Fix Anomaly Table update trigger (#18769)
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, :ml-results, backport

#18775 [6.3] [ML] Fix Anomaly Table update trigger (#18769)
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, :ml-results, backport

#18801 [6.x] [ML] Convert Explorer Influencers List to EUI/React (#18773)
  x-pack/plugins/ml/public/components/influencers_list/index.js
  x-pack/plugins/ml/public/components/influencers_list/influencers_list.html
  x-pack/plugins/ml/public/components/influencers_list/influencers_list.js
  x-pack/plugins/ml/public/components/influencers_list/influencers_list_directive.js
  x-pack/plugins/ml/public/components/influencers_list/styles/main.less
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/formatters/abbreviate_whole_number.js
Labels: :ml, :ml-results, backport

#18806 [6.x] [ML] Fixing data recogniser save success issue (#18803)
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
Labels: backport

#18799 [6.x] Normalize longitudes of bounds so it falls within the acceptable [-180,180] range (#18674)
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/ui/public/vis/__tests__/map/kibana_map.js
  src/ui/public/vis/map/kibana_map.js
Labels: backport, v6.4.0

#18804 [ML] Data recognizer UI improvements
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
  x-pack/plugins/ml/server/models/data_recognizer/data_recognizer.js
Labels: :ml, :ml-config, review, v6.4.0, v7.0.0

#18807 [Logstash Management] Removing ruby mode from pipeline ACE editor
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.js
Labels: :Logstash, :Management, review, v6.4.0, v7.0.0

#18809 [6.x] [ML] Data recognizer UI improvements (#18804)
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
  x-pack/plugins/ml/server/models/data_recognizer/data_recognizer.js
Labels: :ml, backport

#18698 [DOCS] Adds changelog to Kibana User Guide
  docs/CHANGELOG.asciidoc
  docs/index-shared6.asciidoc
  docs/release-notes/6.0.0-alpha1.asciidoc
  docs/release-notes/6.0.0-alpha2.asciidoc
  docs/release-notes/7.0.0-alpha1.asciidoc
Labels: docs, v6.3.0, v6.4.0, v7.0.0

#15911 [timelion] fix movingstd function
  src/core_plugins/timelion/server/series_functions/__tests__/movingstd.js
  src/core_plugins/timelion/server/series_functions/movingstd.js
Labels: :Timelion, :Visualizations, release_note:fix

#18820 [Grok Debugger] Fix Ace editor helper function export
  x-pack/plugins/grokdebugger/public/lib/ace/index.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/custom_patterns_input/custom_patterns_input.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/event_input/event_input.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/pattern_input/pattern_input.js
Labels: :Dev Tools, :Logstash, v6.4.0, v7.0.0

#18800 [6.3] Normalize longitudes of bounds so it falls within the acceptable [-180,180] range (#18674)
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/ui/public/vis/__tests__/map/kibana_map.js
  src/ui/public/vis/map/kibana_map.js
Labels: backport

#18824 [6.x] fix movingstd (#15911)
  src/core_plugins/timelion/server/series_functions/__tests__/movingstd.js
  src/core_plugins/timelion/server/series_functions/movingstd.js
Labels: backport

#18755 [DOCS] Removes X-Pack Breaking Changes page
  docs/migration/migrate_6_0.asciidoc
  x-pack/docs/en/release-notes/breaking-changes-xpack.asciidoc
Labels: docs, v6.3.0, v6.4.0

#18757 [6.x] [Monitoring/Metrics] clean up metric classes and getMetricFields stat… (#18741)
  x-pack/plugins/monitoring/server/lib/beats/get_beat_summary.js
  x-pack/plugins/monitoring/server/lib/beats/get_beats.js
  x-pack/plugins/monitoring/server/lib/beats/get_beats_for_clusters.js
  x-pack/plugins/monitoring/server/lib/beats/get_latest_stats.js
  x-pack/plugins/monitoring/server/lib/beats/get_stats.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/get_last_recovery.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/get_ml_jobs.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/indices/get_index_summary.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/nodes/get_node_summary.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/nodes/get_nodes/get_nodes.js
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/index.js
Labels: backport

#18832 [DOCS] Added X-Pack release items to changelog
  docs/CHANGELOG.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-alpha2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-beta2.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc1.asciidoc
  x-pack/docs/en/release-notes/6.0.0-rc2.asciidoc
  x-pack/docs/en/release-notes/6.0.0.asciidoc
  x-pack/docs/en/release-notes/6.0.1.asciidoc
  x-pack/docs/en/release-notes/6.1.0.asciidoc
  x-pack/docs/en/release-notes/6.1.1.asciidoc
  x-pack/docs/en/release-notes/6.1.2.asciidoc
  x-pack/docs/en/release-notes/6.1.3.asciidoc
  x-pack/docs/en/release-notes/6.1.4.asciidoc
  x-pack/docs/en/release-notes/6.2.0.asciidoc
  x-pack/docs/en/release-notes/6.2.1.asciidoc
  x-pack/docs/en/release-notes/6.2.2.asciidoc
  x-pack/docs/en/release-notes/6.2.3.asciidoc
  x-pack/docs/en/release-notes/6.2.4.asciidoc
  x-pack/docs/en/release-notes/6.3.0.asciidoc
Labels: docs, v6.3.0, v6.4.0

#18831 [6.x][build] Set file times to build time (#18742)
  src/dev/build/lib/__tests__/fs.js
  src/dev/build/lib/fs.js
  src/dev/build/tasks/create_archives_sources_task.js
Labels: backport

#17682 remove angular from AggConfigs
  src/ui/public/agg_types/__tests__/buckets/_geo_hash.js
  src/ui/public/vis/__tests__/_agg_configs.js
  src/ui/public/vis/agg_config.js
  src/ui/public/vis/agg_configs.js
  src/ui/public/vis/vis.js
Labels: :Visualizations, review, v6.4.0, v7.0.0

#18825 Do not handle click when no aggregation has been specified
  src/core_plugins/region_map/public/region_map_visualization.js
Labels: :Coordinate Map, :Visualizations, release_note:fix, v6.3.0, v6.4.0, v7.0.0

#18859 [6.x] Do not handle precision changes when no aggregations have been configured on the coordinate map (#18826)
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  test/functional/apps/visualize/_tile_map.js
Labels: backport, v6.4.0

#18570 remove application icon assets in kibana that ship with EUI
  src/core_plugins/kibana/public/assets/app_advanced_settings.svg
  src/core_plugins/kibana/public/assets/app_apm.svg
  src/core_plugins/kibana/public/assets/app_console.svg
  src/core_plugins/kibana/public/assets/app_dashboard.svg
  src/core_plugins/kibana/public/assets/app_devtools.svg
  src/core_plugins/kibana/public/assets/app_discover.svg
  src/core_plugins/kibana/public/assets/app_index_pattern.svg
  src/core_plugins/kibana/public/assets/app_logging.svg
  src/core_plugins/kibana/public/assets/app_management.svg
  src/core_plugins/kibana/public/assets/app_monitoring.svg
  src/core_plugins/kibana/public/assets/app_saved_objects.svg
  src/core_plugins/kibana/public/assets/app_security.svg
  src/core_plugins/kibana/public/assets/app_timelion.svg
  src/core_plugins/kibana/public/assets/app_visualize.svg
  src/core_plugins/kibana/public/dashboard/index.js
  src/core_plugins/kibana/public/dev_tools/index.js
  src/core_plugins/kibana/public/discover/index.js
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/feature_directory.js
  src/core_plugins/kibana/public/home/components/home.js
  src/core_plugins/kibana/public/home/components/home.test.js
  src/core_plugins/kibana/public/management/index.js
  src/core_plugins/kibana/public/management/sections/indices/index.js
  src/core_plugins/kibana/public/management/sections/objects/index.js
  src/core_plugins/kibana/public/management/sections/settings/index.js
  src/core_plugins/kibana/public/visualize/index.js
  src/core_plugins/timelion/public/register_feature.js
  x-pack/plugins/apm/public/register_feature.js
  x-pack/plugins/graph/public/assets/app_graph.svg
  x-pack/plugins/graph/public/register_feature.js
  x-pack/plugins/grokdebugger/public/assets/app_grok.svg
  x-pack/plugins/grokdebugger/public/register_feature.js
  x-pack/plugins/logstash/public/assets/app_pipeline.svg
  x-pack/plugins/logstash/public/lib/register_home_feature/register_home_feature.js
  x-pack/plugins/ml/public/assets/app_ml.svg
  x-pack/plugins/ml/public/register_feature.js
  x-pack/plugins/monitoring/public/register_feature.js
  x-pack/plugins/reporting/public/assets/app_reporting.svg
  x-pack/plugins/reporting/public/register_feature.js
  x-pack/plugins/searchprofiler/public/assets/app_search_profiler.svg
  x-pack/plugins/searchprofiler/public/register_feature.js
  x-pack/plugins/security/public/register_feature.js
  x-pack/plugins/watcher/public/assets/app_watches.svg
  x-pack/plugins/watcher/public/register_feature.js
Labels: :Sharing, chore, v6.4.0, v7.0.0

#18868 [6.x] do not handle click when no aggregation has been specified (#18825)
  src/core_plugins/region_map/public/region_map_visualization.js
Labels: backport

#18834 [Logstash Pipeline Management] Fix bottom border of Pipeline Editor
  x-pack/plugins/grokdebugger/common/constants/editor.js
  x-pack/plugins/grokdebugger/public/lib/ace/apply_editor_options.js
  x-pack/plugins/grokdebugger/public/lib/ace/apply_editor_options.test.js
  x-pack/plugins/logstash/common/constants/editor.js
  x-pack/plugins/logstash/common/constants/index.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.html
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.less
Labels: :Logstash, :Monitoring, cosmetic, review, v6.4.0, v7.0.0

#18869 [6.3] do not handle click when no aggregation has been specified (#18825)
  src/core_plugins/region_map/public/region_map_visualization.js
Labels: backport

#18871 [6.x] remove application icon assets in kibana that ship with EUI (#18570)
  src/core_plugins/kibana/public/assets/app_advanced_settings.svg
  src/core_plugins/kibana/public/assets/app_apm.svg
  src/core_plugins/kibana/public/assets/app_console.svg
  src/core_plugins/kibana/public/assets/app_dashboard.svg
  src/core_plugins/kibana/public/assets/app_devtools.svg
  src/core_plugins/kibana/public/assets/app_discover.svg
  src/core_plugins/kibana/public/assets/app_index_pattern.svg
  src/core_plugins/kibana/public/assets/app_logging.svg
  src/core_plugins/kibana/public/assets/app_management.svg
  src/core_plugins/kibana/public/assets/app_monitoring.svg
  src/core_plugins/kibana/public/assets/app_saved_objects.svg
  src/core_plugins/kibana/public/assets/app_security.svg
  src/core_plugins/kibana/public/assets/app_timelion.svg
  src/core_plugins/kibana/public/assets/app_visualize.svg
  src/core_plugins/kibana/public/dashboard/index.js
  src/core_plugins/kibana/public/dev_tools/index.js
  src/core_plugins/kibana/public/discover/index.js
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/feature_directory.js
  src/core_plugins/kibana/public/home/components/home.js
  src/core_plugins/kibana/public/home/components/home.test.js
  src/core_plugins/kibana/public/management/index.js
  src/core_plugins/kibana/public/management/sections/indices/index.js
  src/core_plugins/kibana/public/management/sections/objects/index.js
  src/core_plugins/kibana/public/management/sections/settings/index.js
  src/core_plugins/kibana/public/visualize/index.js
  src/core_plugins/timelion/public/register_feature.js
  x-pack/plugins/apm/public/register_feature.js
  x-pack/plugins/graph/public/assets/app_graph.svg
  x-pack/plugins/graph/public/register_feature.js
  x-pack/plugins/grokdebugger/public/assets/app_grok.svg
  x-pack/plugins/grokdebugger/public/register_feature.js
  x-pack/plugins/logstash/public/assets/app_pipeline.svg
  x-pack/plugins/logstash/public/lib/register_home_feature/register_home_feature.js
  x-pack/plugins/ml/public/assets/app_ml.svg
  x-pack/plugins/ml/public/register_feature.js
  x-pack/plugins/monitoring/public/register_feature.js
  x-pack/plugins/reporting/public/assets/app_reporting.svg
  x-pack/plugins/reporting/public/register_feature.js
  x-pack/plugins/searchprofiler/public/assets/app_search_profiler.svg
  x-pack/plugins/searchprofiler/public/register_feature.js
  x-pack/plugins/security/public/register_feature.js
  x-pack/plugins/watcher/public/assets/app_watches.svg
  x-pack/plugins/watcher/public/register_feature.js
Labels: backport

#18789 Fix procRunner/x-pack ftr scripts
  packages/kbn-dev-utils/src/proc_runner/__tests__/with_proc_runner.js
  packages/kbn-dev-utils/src/proc_runner/log.js
  packages/kbn-dev-utils/src/proc_runner/proc.js
  packages/kbn-dev-utils/src/proc_runner/proc_runner.js
  packages/kbn-dev-utils/src/proc_runner/with_proc_runner.js
  x-pack/dev-tools/functional_tests/tasks.js
Labels: :Platform, review, v6.3.0, v6.4.0, v7.0.0

#18895 [6.x] removing angular from AggConfigs (#17682)
  src/ui/public/agg_types/__tests__/buckets/_geo_hash.js
  src/ui/public/vis/__tests__/_agg_configs.js
  src/ui/public/vis/agg_config.js
  src/ui/public/vis/agg_configs.js
  src/ui/public/vis/vis.js
Labels: backport

#16644 fixing missing value display for number fields
  src/core_plugins/metric_vis/public/metric_vis_controller.js
Labels: :Visualizations, review

#18900 [ML] Move the hide() function outside the show() function's scope.
  x-pack/plugins/ml/public/components/chart_tooltip/__tests__/chart_tooltip.js
  x-pack/plugins/ml/public/components/chart_tooltip/chart_tooltip.js
Labels: :ml, :ml-results, bug, review, v6.4.0, v7.0.0

#18819 [ML] Hide Top Influencers list if job has no influencers
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/styles/main.less
Labels: :ml, :ml-results, review, v6.4.0, v7.0.0

#18902 [6.x] fixing missing value display for number fields (#16644)
  src/core_plugins/metric_vis/public/metric_vis_controller.js
Labels: backport

#18899 [ML] Correctly transfer dedicated index setting to advanced job page
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, :ml-config, bug, review, v6.4.0, v7.0.0

#18903 [ML] Fixes time series viewer data binding for forecast data.
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
Labels: :ml, :ml-results, bug, review, v6.3.0, v6.4.0, v7.0.0

#18905 [6.x] [ML] Move the hide() function outside the show() function's scope. (#18900)
  x-pack/plugins/ml/public/components/chart_tooltip/__tests__/chart_tooltip.js
  x-pack/plugins/ml/public/components/chart_tooltip/chart_tooltip.js
Labels: :ml, :ml-results, backport

#18812 Add EditorOptionsGroup component
  src/dev/jest/config.js
  src/test_utils/public/static_html_id_generator.js
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  src/ui/public/vis/editors/components/editor_options_group.js
  src/ui/public/vis/editors/components/editor_options_group.less
  src/ui/public/vis/editors/components/editor_options_group.test.js
  src/ui/public/vis/editors/components/index.js
  src/ui/public/vis/editors/index.js
Labels: :Visualizations, v6.4.0, v7.0.0

#18908 [6.x] [ML] Hide Top Influencers list if job has no influencers (#18819)
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/styles/main.less
Labels: :ml, :ml-results, backport

#18909 [6.x] [ML] Correctly transfer dedicated index setting to advanced job page (#18899)
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, backport

#18910 [6.x] [ML] Fixes time series viewer data binding for forecast data. (#18903)
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
Labels: :ml, :ml-results, backport

#18911 [6.3] [ML] Fixes time series viewer data binding for forecast data. (#18903)
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
Labels: :ml, :ml-results, backport

#18830 [master][build] Set file times to build time (#18742)
  src/dev/build/lib/__tests__/fs.js
  src/dev/build/lib/fs.js
  src/dev/build/tasks/create_archives_sources_task.js
Labels: backport

#18917 Update broken snapshots
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
Labels: :Visualizations, test

#18640 Filter editor: Hide fields until scrolled into view
  src/ui/public/filter_editor/filter_field_select.html
  src/ui/public/filter_editor/filter_field_select.js
Labels: :Discovery, :Filters, review, v6.4.0, v7.0.0

#18919 [6.x] Add EditorOptionsGroup component (#18812) | Update broken snapshots (#18917)
  src/dev/jest/config.js
  src/test_utils/public/static_html_id_generator.js
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  src/ui/public/vis/editors/components/editor_options_group.js
  src/ui/public/vis/editors/components/editor_options_group.less
  src/ui/public/vis/editors/components/editor_options_group.test.js
  src/ui/public/vis/editors/components/index.js
  src/ui/public/vis/editors/index.js
Labels: backport, v6.4.0

#18833 [Monitoring/Beats] Telemetry Data from Beats
  x-pack/plugins/xpack_main/common/constants.js
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/__tests__/fixtures/beats_stats_results.json
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/__tests__/get_beats_stats.js
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/get_all_stats.js
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/get_beats_stats.js
Labels: :Beats, :Monitoring, :Telemetry, review, v6.4.0, v7.0.0

#18888 [6.3] Fix procRunner/x-pack ftr scripts (#18789)
  packages/kbn-dev-utils/src/proc_runner/__tests__/with_proc_runner.js
  packages/kbn-dev-utils/src/proc_runner/log.js
  packages/kbn-dev-utils/src/proc_runner/proc.js
  packages/kbn-dev-utils/src/proc_runner/proc_runner.js
  packages/kbn-dev-utils/src/proc_runner/with_proc_runner.js
  x-pack/dev-tools/functional_tests/tasks.js
Labels: backport

#18887 [6.x] Fix procRunner/x-pack ftr scripts (#18789)
  packages/kbn-dev-utils/src/proc_runner/__tests__/with_proc_runner.js
  packages/kbn-dev-utils/src/proc_runner/log.js
  packages/kbn-dev-utils/src/proc_runner/proc.js
  packages/kbn-dev-utils/src/proc_runner/proc_runner.js
  packages/kbn-dev-utils/src/proc_runner/with_proc_runner.js
  x-pack/dev-tools/functional_tests/tasks.js
Labels: backport

#18923 [6.2] [esArchiver] fix esArchiver.loadIfNeeded (#18621) * [utils/jsonParseStream] ensure only callback once * [utils/streams] add util for piping many streams in series * [esArchiver/load] combine re
  src/es_archiver/actions/load.js
  src/utils/index.js
  src/utils/streams/__tests__/concat_stream_providers.js
  src/utils/streams/concat_stream_providers.js
  src/utils/streams/index.js
  src/utils/streams/json_streams.js
Labels: backport

#18726 fix recently accessed overflow problems
  src/core_plugins/kibana/public/home/components/__snapshots__/recently_accessed.test.js.snap
  src/core_plugins/kibana/public/home/components/recently_accessed.js
  src/core_plugins/kibana/public/home/components/recently_accessed.less
Labels: :Sharing, release_note:fix, v6.3.0, v6.4.0, v7.0.0

#18925 [6.x] Add a time zone test (#18870)
  test/functional/apps/dashboard/_time_zones.js
  test/functional/apps/dashboard/exports/timezonetest_6_2_4.json
  test/functional/apps/dashboard/index.js
Labels: backport

#17452 [Input controls] Replace react-select with EuiComboBox
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/range_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__tests__/get_index_pattern_mock.js
  src/core_plugins/input_control_vis/public/components/editor/__tests__/get_index_patterns_mock.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.test.js
  src/core_plugins/input_control_vis/public/components/editor/field_select.js
  src/core_plugins/input_control_vis/public/components/editor/index_pattern_select.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/input_control_vis.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/list_control.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/range_control.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/form_row.js
  src/core_plugins/input_control_vis/public/components/vis/form_row.test.js
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.js
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.test.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.test.js
  src/core_plugins/input_control_vis/public/components/vis/range_control.js
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.js
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.test.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
  src/core_plugins/input_control_vis/public/vis.less
  src/ui/public/styles/base.less
  test/functional/apps/visualize/_input_control_vis.js
  test/functional/page_objects/visualize_page.js
Labels: :Input Control, release_note:fix, v6.4.0, v7.0.0

#18624 [esArchiver/deleteIndex] wait and retry if snapshot in progress
  src/es_archiver/actions/load.js
  src/es_archiver/actions/unload.js
  src/es_archiver/lib/indices/create_index_stream.js
  src/es_archiver/lib/indices/delete_index.js
  src/es_archiver/lib/indices/delete_index_stream.js
  src/es_archiver/lib/stats.js
Labels: :Platform, review, v6.2.5, v6.3.0, v6.4.0, v7.0.0

#18932 [6.x] [Input controls] Replace react-select with EuiComboBox (#17452)
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/range_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__tests__/get_index_pattern_mock.js
  src/core_plugins/input_control_vis/public/components/editor/__tests__/get_index_patterns_mock.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.test.js
  src/core_plugins/input_control_vis/public/components/editor/field_select.js
  src/core_plugins/input_control_vis/public/components/editor/index_pattern_select.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/input_control_vis.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/list_control.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/range_control.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/form_row.js
  src/core_plugins/input_control_vis/public/components/vis/form_row.test.js
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.js
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.test.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.test.js
  src/core_plugins/input_control_vis/public/components/vis/range_control.js
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.js
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.test.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
  src/core_plugins/input_control_vis/public/vis.less
  src/ui/public/styles/base.less
  test/functional/apps/visualize/_input_control_vis.js
  test/functional/page_objects/visualize_page.js
Labels: backport

#18927 [6.x] fix recently accessed overflow problems (#18726)
  src/core_plugins/kibana/public/home/components/__snapshots__/recently_accessed.test.js.snap
  src/core_plugins/kibana/public/home/components/recently_accessed.js
  src/core_plugins/kibana/public/home/components/recently_accessed.less
Labels: backport

#17808 [6.x] Support 1 Kibana and 1 Elasticsearch URL as input params (#9760)
  docs/development/core/development-functional-tests.asciidoc
  src/test_utils/es/es_test_config.js
  test/functional/apps/console/_console.js
  test/kibana_test_server_url_parts.js
Labels: backport, test, v6.3.0

#18936 [6.2] [esArchiver/deleteIndex] wait and retry if snapshot in progress (#18624)
  src/es_archiver/actions/load.js
  src/es_archiver/actions/unload.js
  src/es_archiver/lib/indices/create_index_stream.js
  src/es_archiver/lib/indices/delete_index.js
  src/es_archiver/lib/indices/delete_index_stream.js
  src/es_archiver/lib/stats.js
Labels: backport

#18935 [6.3] [esArchiver/deleteIndex] wait and retry if snapshot in progress (#18624)
  src/es_archiver/actions/load.js
  src/es_archiver/actions/unload.js
  src/es_archiver/lib/indices/create_index_stream.js
  src/es_archiver/lib/indices/delete_index.js
  src/es_archiver/lib/indices/delete_index_stream.js
  src/es_archiver/lib/stats.js
Labels: backport

#18934 [6.x] [esArchiver/deleteIndex] wait and retry if snapshot in progress (#18624)
  src/es_archiver/actions/load.js
  src/es_archiver/actions/unload.js
  src/es_archiver/lib/indices/create_index_stream.js
  src/es_archiver/lib/indices/delete_index.js
  src/es_archiver/lib/indices/delete_index_stream.js
  src/es_archiver/lib/stats.js
Labels: backport

#18920 [ML] Enable cell range selection.
  x-pack/plugins/ml/public/explorer/explorer_dashboard_service.js
Labels: :ml, :ml-results, v6.4.0, v7.0.0

#18947 [6.x] [ML] Fixing transfer of dedicated index setting (#18945)
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_controller.js
Labels: :ml, backport

#17855 Allow splitting series on multiple fields
  src/core_plugins/kbn_vislib_vis_types/public/area.js
  src/core_plugins/kbn_vislib_vis_types/public/histogram.js
  src/core_plugins/kbn_vislib_vis_types/public/horizontal_bar.js
  src/core_plugins/kbn_vislib_vis_types/public/line.js
  src/ui/public/agg_response/point_series/__tests__/_get_aspects.js
  src/ui/public/agg_response/point_series/__tests__/_get_point.js
  src/ui/public/agg_response/point_series/_get_aspects.js
  src/ui/public/agg_response/point_series/_get_point.js
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/page_objects/visualize_page.js
Labels: :Visualizations, release_note:enhancement, review, v6.4.0, v7.0.0

#18946 [ML] Filter top influencer list based on swimlane selection
  x-pack/plugins/ml/public/components/influencers_list/styles/main.less
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/services/results_service.js
Labels: :ml, :ml-results, review, v6.4.0, v7.0.0

#18938 [kbn-es] Updates location of ES OSS snapshot
  packages/kbn-es/src/install/snapshot.js
Labels: review, v6.3.0, v6.4.0, v7.0.0

#18922 [6.x] [Monitoring/Beats] Telemetry Data from Beats (#18833)
  x-pack/plugins/xpack_main/common/constants.js
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/__tests__/fixtures/beats_stats_results.json
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/__tests__/get_beats_stats.js
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/get_all_stats.js
  x-pack/plugins/xpack_main/server/lib/telemetry/monitoring/get_beats_stats.js
Labels: backport, v6.4.0

#18960 Make "Yes" button unfilled
  x-pack/plugins/xpack_main/public/hacks/welcome_banner/opt_in_banner_component.js
Labels: :Telemetry, cosmetic, non-issue, v6.3.0, v6.4.0, v7.0.0

#17173 Ensure we always send a comma delimited index to support commas in index patterns
  src/ui/public/courier/fetch/request/segmented.js
  src/ui/public/index_patterns/__tests__/_index_pattern.js
  src/ui/public/index_patterns/_index_pattern.js
Labels: :Management, review, v6.3.0, v7.0.0

#18595 [Monitoring/React] Render ES Indices Listing with Base Controller / React
  x-pack/plugins/monitoring/public/components/elasticsearch/cluster_status/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/indices.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/system_indices_checkbox.js
  x-pack/plugins/monitoring/public/components/elasticsearch/status_icon.js
  x-pack/plugins/monitoring/public/components/index.js
  x-pack/plugins/monitoring/public/components/summary_status/index.js
  x-pack/plugins/monitoring/public/directives/all.js
  x-pack/plugins/monitoring/public/directives/elasticsearch/index_listing/index.js
  x-pack/plugins/monitoring/public/views/base_controller.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/get_page_data.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/indices/__tests__/get_indices.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/indices/get_indices.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/indices.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/indices.js
  x-pack/test/functional/apps/monitoring/elasticsearch/indices.js
  x-pack/test/functional/apps/monitoring/elasticsearch/nodes.js
  x-pack/test/functional/apps/monitoring/elasticsearch/overview.js
  x-pack/test/functional/services/monitoring/elasticsearch_indices.js
Labels: :Monitoring, review, v6.4.0, v7.0.0

#18968 [6.x] [Monitoring] reorganize metrics per stack product (#18590)
  x-pack/plugins/monitoring/server/lib/details/get_series.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/nodes/get_nodes/map_nodes_metrics.js
  x-pack/plugins/monitoring/server/lib/kibana/get_kibanas.js
  x-pack/plugins/monitoring/server/lib/kibana/get_kibanas_for_clusters.js
  x-pack/plugins/monitoring/server/lib/logstash/get_logstash_for_clusters.js
  x-pack/plugins/monitoring/server/lib/logstash/get_nodes.js
  x-pack/plugins/monitoring/server/lib/logstash/get_pipeline_state_document.js
  x-pack/plugins/monitoring/server/lib/logstash/get_pipeline_stats_aggregation.js
  x-pack/plugins/monitoring/server/lib/logstash/get_pipeline_versions.js
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/beats/__test__/cpu_utilization_calculation.test.js
  x-pack/plugins/monitoring/server/lib/metrics/beats/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/beats/metrics.js
  x-pack/plugins/monitoring/server/lib/metrics/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/classes/__test__/latency_metric_calculation.test.js
  x-pack/plugins/monitoring/server/lib/metrics/classes/__test__/quota_metric_calculation.test.js
  x-pack/plugins/monitoring/server/lib/metrics/classes/cluster_metric.js
  x-pack/plugins/monitoring/server/lib/metrics/classes/index.js
  x-pack/plugins/monitoring/server/lib/metrics/classes/metric.js
  x-pack/plugins/monitoring/server/lib/metrics/classes/quota_metric.js
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/__test__/latency_calculation.test.js
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js
  x-pack/plugins/monitoring/server/lib/metrics/index.js
  x-pack/plugins/monitoring/server/lib/metrics/kibana/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/kibana/metrics.js
  x-pack/plugins/monitoring/server/lib/metrics/logstash/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/logstash/metrics.js
  x-pack/plugins/monitoring/server/lib/metrics/metrics.js
  x-pack/plugins/monitoring/server/lib/metrics/serialize_metric.js
  x-pack/test/functional/apps/monitoring/kibana/instances.js
  x-pack/test/functional/apps/monitoring/kibana/overview.js
Labels: backport

#18954 [6.x] [ML] Filter top influencer list based on swimlane selection (#18946)
  x-pack/plugins/ml/public/components/influencers_list/styles/main.less
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/services/results_service.js
Labels: :ml, :ml-results, backport

#18953 [6.x] Allow splitting series on multiple fields (#17855)
  src/core_plugins/kbn_vislib_vis_types/public/area.js
  src/core_plugins/kbn_vislib_vis_types/public/histogram.js
  src/core_plugins/kbn_vislib_vis_types/public/horizontal_bar.js
  src/core_plugins/kbn_vislib_vis_types/public/line.js
  src/ui/public/agg_response/point_series/__tests__/_get_aspects.js
  src/ui/public/agg_response/point_series/__tests__/_get_point.js
  src/ui/public/agg_response/point_series/_get_aspects.js
  src/ui/public/agg_response/point_series/_get_point.js
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/page_objects/visualize_page.js
Labels: backport

#18929 fix input control arrows
  src/core_plugins/input_control_vis/public/components/editor/control_editor.js
Labels: :Input Control, :Sharing, release_note:fix, v6.3.0, v6.4.0, v7.0.0

#18973 [6.x] fix input control arrows (#18929)
  src/core_plugins/input_control_vis/public/components/editor/control_editor.js
Labels: backport

#18974 [6.3] fix input control arrows (#18929)
  src/core_plugins/input_control_vis/public/components/editor/control_editor.js
Labels: backport

#18961 Try to fix flaky override colors test
  test/functional/apps/dashboard/_dashboard_state.js
Labels: :Sharing, test

#18970 [6.x] [Monitoring/React] Render ES Indices Listing with Base Controller / React (#18595)
  x-pack/plugins/monitoring/public/components/elasticsearch/cluster_status/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/indices.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/system_indices_checkbox.js
  x-pack/plugins/monitoring/public/components/elasticsearch/status_icon.js
  x-pack/plugins/monitoring/public/components/index.js
  x-pack/plugins/monitoring/public/components/summary_status/index.js
  x-pack/plugins/monitoring/public/directives/all.js
  x-pack/plugins/monitoring/public/directives/elasticsearch/index_listing/index.js
  x-pack/plugins/monitoring/public/views/base_controller.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/get_page_data.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/indices/__tests__/get_indices.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/indices/get_indices.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/indices.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_red_cluster_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/indices_shards_relocating_all.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/indices.js
  x-pack/test/functional/apps/monitoring/elasticsearch/indices.js
  x-pack/test/functional/apps/monitoring/elasticsearch/nodes.js
  x-pack/test/functional/apps/monitoring/elasticsearch/overview.js
  x-pack/test/functional/services/monitoring/elasticsearch_indices.js
Labels: backport, v6.4.0

#18893 Fix ace editor warnings
  x-pack/plugins/index_management/__jest__/components/index_table.test.js
  x-pack/plugins/index_management/public/sections/index_list/components/detail_panel/show_json/show_json.js
Labels: :Management, v6.4.0, v7.0.0

#18983 [6.x] Fix ace editor warnings (#18893)
  x-pack/plugins/index_management/__jest__/components/index_table.test.js
  x-pack/plugins/index_management/public/sections/index_list/components/detail_panel/show_json/show_json.js
Labels: backport

#18982 [6.x] Try to fix flaky override colors test (#18961)
  test/functional/apps/dashboard/_dashboard_state.js
Labels: backport

#18981 [6.x] Clean up time range handling in embeddables (#17718)
  src/core_plugins/kibana/public/dashboard/dashboard_app.js
  src/core_plugins/kibana/public/dashboard/dashboard_state_manager.js
  src/core_plugins/kibana/public/dashboard/lib/filter_utils.js
  src/core_plugins/kibana/public/dashboard/lib/update_saved_dashboard.js
  src/core_plugins/kibana/public/dashboard/panel/dashboard_panel.js
  src/core_plugins/kibana/public/dashboard/selectors/index.js
  src/core_plugins/kibana/public/discover/embeddable/search_embeddable.js
  src/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.js
  src/ui/public/embeddable/embeddable.js
Labels: backport

#17621 KuiContextMenu => EuiContextMenu
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_options_menu.js
  src/core_plugins/kibana/public/dashboard/styles/index.less
Labels: :Dashboard, :Sharing, v6.4.0, v7.0.0

#18966 Remove default_field from query:queryString:options
  docs/migration/migrate_7_0.asciidoc
  src/core_plugins/kibana/ui_setting_defaults.js
Labels: :Discovery, release_note:breaking, review, v7.0.0

#14117 Update `Defining Your Index Patterns` page
  docs/getting-started/tutorial-define-index.asciidoc
Labels: docs, review

#18991 [6.x] [COPYEDIT] Fixed capitalization for Basic and Premium licenses (#18969)
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/revert_to_basic.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/start_trial.test.js.snap
  x-pack/plugins/license_management/public/sections/license_dashboard/license_status/license_status.container.js
  x-pack/plugins/license_management/public/sections/license_dashboard/revert_to_basic/revert_to_basic.js
  x-pack/plugins/license_management/public/sections/license_dashboard/start_trial/start_trial.js
Labels: backport

#18955 [ML] Sort Explorer view by swimlane for selected time
  x-pack/plugins/ml/public/explorer/explorer_controller.js
Labels: :ml, :ml-results, review, v6.4.0, v7.0.0

#18994 [6.x] [ML] Sort Explorer view by swimlane for selected time (#18955)
  x-pack/plugins/ml/public/explorer/explorer_controller.js
Labels: :ml, :ml-results, backport

#18980 Re-enable the staging config
  src/server/config/schema.js
Labels: :Visualizations, chore, v6.3.0, v6.4.0, v7.0.0

#18998 [6.x] Re-enable the staging config (#18980)
  src/server/config/schema.js
Labels: backport, v6.4.0

#19001 [6.3] [COPYEDIT] Fixed capitalization for Basic and Premium licenses (#18969)
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/revert_to_basic.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/start_trial.test.js.snap
  x-pack/plugins/license_management/public/sections/license_dashboard/license_status/license_status.container.js
  x-pack/plugins/license_management/public/sections/license_dashboard/revert_to_basic/revert_to_basic.js
  x-pack/plugins/license_management/public/sections/license_dashboard/start_trial/start_trial.js
Labels: backport

#18999 [6.3] Re-enable the staging config (#18980)
  src/server/config/schema.js
Labels: backport, v6.3.0

#18979 [x-pack] remove use of `resolveKibanaPath` from plugin helpers
  x-pack/dev-tools/jest/index.js
  x-pack/gulp_helpers/get_plugins.js
  x-pack/plugins/reporting/export_types/csv/server/__tests__/execute_job.js
  x-pack/plugins/reporting/export_types/csv/server/lib/__tests__/field_format_map.js
  x-pack/test/api_integration/config.js
  x-pack/test/functional/config.js
  x-pack/test/saml_api_integration/config.js
  x-pack/test/saml_api_integration/fixtures/saml_tools.js
Labels: review, v6.4.0, v7.0.0

#18977 [Beats Management] Initial scaffolding for plugin
  x-pack/index.js
  x-pack/plugins/beats/common/constants/index.js
  x-pack/plugins/beats/common/constants/plugin.js
  x-pack/plugins/beats/index.js
Labels: :Beats, :Management, review

#19004 [6.x] [x-pack] remove use of `resolveKibanaPath` from plugin helpers (#18979)
  x-pack/dev-tools/jest/index.js
  x-pack/gulp_helpers/get_plugins.js
  x-pack/plugins/reporting/export_types/csv/server/__tests__/execute_job.js
  x-pack/plugins/reporting/export_types/csv/server/lib/__tests__/field_format_map.js
  x-pack/test/api_integration/config.js
  x-pack/test/functional/config.js
  x-pack/test/saml_api_integration/config.js
  x-pack/test/saml_api_integration/fixtures/saml_tools.js
Labels: backport

#18768 Update React to 16.3
  .eslintrc.js
  package.json
  packages/eslint-config-kibana/.eslintrc.js
  packages/kbn-ui-framework/src/components/table/listing_table/__snapshots__/listing_table.test.js.snap
  x-pack/package.json
  x-pack/yarn.lock
  yarn.lock
Labels: chore

#19033 [6.x] Update React to 16.3 (#18768)
  .eslintrc.js
  package.json
  packages/eslint-config-kibana/.eslintrc.js
  packages/kbn-ui-framework/src/components/table/listing_table/__snapshots__/listing_table.test.js.snap
  x-pack/package.json
  x-pack/yarn.lock
  yarn.lock
Labels: backport, v6.4.0

#18957 Fix, or debug, flaky nested visualization filter test
  test/functional/apps/dashboard/_bwc_shared_urls.js
  test/functional/apps/dashboard/_dashboard_filtering.js
  test/functional/apps/dashboard/_dashboard_state.js
  test/functional/apps/dashboard/_view_edit.js
  test/functional/page_objects/dashboard_page.js
  test/functional/services/dashboard/visualizations.js
  test/functional/services/query_bar.js
Labels: :Sharing, test, v6.4.0, v7.0.0

#19034 [Watcher] Ensure the text property is optional
  x-pack/plugins/watcher/server/models/action/slack_action.js
Labels: :watcher, review, v6.4.0, v7.0.0
