Repository elastic/kibana, pull requests merged in 2018-06, with the labels that each got.

#19610 [6.x] [Reporting/Usage] Check monitoring enabled before registering collector (#19581)
  x-pack/plugins/reporting/index.js
Labels: backport

#19612 [6.x] [APM] Add debug option (#19587)
  x-pack/plugins/apm/public/services/rest.js
  x-pack/plugins/apm/server/lib/helpers/input_validation.js
  x-pack/plugins/apm/server/lib/helpers/setup_request.js
Labels: backport

#19595 [Watcher] Disable the dirty prompt
  x-pack/plugins/watcher/public/sections/watch_edit/components/json_watch_edit/json_watch_edit.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/threshold_watch_edit/threshold_watch_edit.js
Labels: :Management, v6.3.0, v7.0.0

#19561 Accessibility updates
  src/core_plugins/kibana/public/dashboard/components/__snapshots__/exit_full_screen_button.test.js.snap
  src/core_plugins/kibana/public/dashboard/components/exit_full_screen_button.js
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_options_menu_form.js
  test/functional/screenshots/baseline/area_chart.png
Labels: :Dashboard, :Sharing, accessibility, v6.4.0, v7.0.0

#19622 Execute `tsc.cmd` on Windows during build.
  packages/kbn-plugin-helpers/tasks/build/create_build.js
Labels: :Operations, review, v6.4.0, v7.0.0

#19447 Show tooltip when string and integer fields are used for joining region maps to ES results
  src/core_plugins/region_map/public/choropleth_layer.js
Labels: :Geo, :Region Map, release_note:fix, v6.3.1, v6.4.0, v7.0.0

#19627 [6.x] Execute `tsc.cmd` on Windows during build.
  packages/kbn-plugin-helpers/tasks/build/create_build.js
Labels: backport

#19630 [6.x] Show tooltip when mixing string and integer fields for joining region maps to ES results (#19447)
  src/core_plugins/region_map/public/choropleth_layer.js
Labels: backport

#19621 [6.x] Accessibility updates (#19561)
  src/core_plugins/kibana/public/dashboard/components/__snapshots__/exit_full_screen_button.test.js.snap
  src/core_plugins/kibana/public/dashboard/components/exit_full_screen_button.js
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_options_menu_form.js
  test/functional/screenshots/baseline/area_chart.png
Labels: backport

#19486 [DOCS] Update Docker config steps for open X-Pack
  docs/setup/docker.asciidoc
Labels: docs, v6.3.0

#19640 [6.x] [APM] Fix missing _debug validator (#19639)
  x-pack/plugins/apm/server/routes/status_check.js
Labels: backport

#19618 [Management] Show internal indices when toggled even if there are no other indices
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/__snapshots__/create_index_pattern_wizard.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/create_index_pattern_wizard.js
Labels: :Management, review, v6.3.1, v6.4.0, v7.0.0

#19646 [6.x] [Management] Show internal indices when toggled even if there are no other indices (#19618)
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/__snapshots__/create_index_pattern_wizard.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/create_index_pattern_wizard.js
Labels: backport

#19373 [build] no-bin-links, remove .bin folders
  src/dev/build/tasks/clean_tasks.js
  src/dev/build/tasks/install_dependencies_task.js
Labels: :Operations, review

#19664 Update browser window size for console test
  test/functional/apps/console/index.js
Labels: :Console, :Management, review, test, v6.3.0, v6.4.0, v7.0.0

#19666 [6.x] Update browser window size for console test (#19664)
  test/functional/apps/console/index.js
Labels: backport

#19667 [6.3] Update browser window size for console test (#19664)
  test/functional/apps/console/index.js
Labels: backport

#19676 [APM] Fix debug param issue
  x-pack/plugins/apm/public/services/__test__/SessionStorageMock.js
  x-pack/plugins/apm/public/services/__test__/rest.test.js
  x-pack/plugins/apm/public/services/rest.js
Labels: :apm, [zube]: In Progress

#19615 [6.x] Disable the dirty prompt until #19594 is resolved (#19595)
  x-pack/plugins/watcher/public/sections/watch_edit/components/json_watch_edit/json_watch_edit.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/threshold_watch_edit/threshold_watch_edit.js
Labels: backport

#19613 [X-Pack Usage API] use authentication from request headers
  x-pack/plugins/monitoring/server/kibana_monitoring/classes/__tests__/collector_set.js
  x-pack/plugins/monitoring/server/kibana_monitoring/classes/collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/classes/collector_set.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/__tests__/get_kibana_usage_collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_kibana_usage_collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_settings_collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/start_collector_set.js
  x-pack/plugins/reporting/index.js
  x-pack/plugins/reporting/server/usage/get_reporting_usage_collector.js
  x-pack/plugins/reporting/server/usage/get_reporting_usage_collector.test.js
  x-pack/plugins/xpack_main/server/routes/api/v1/kibana_stats.js
  x-pack/plugins/xpack_main/server/routes/api/v1/xpack_usage.js
  x-pack/test/api_integration/apis/xpack_main/usage/usage.js
  x-pack/test/api_integration/services/usage_api.js
Labels: :Telemetry, :xpack_main, blocker, review, v6.4.0, v7.0.0

#19648 Typescriptify ui/embeddable folder
  package.json
  src/core_plugins/kibana/public/discover/embeddable/search_embeddable.js
  src/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.js
  src/ui/public/embeddable/embeddable.js
  src/ui/public/embeddable/embeddable.ts
  src/ui/public/embeddable/embeddable_factories_registry.ts
  src/ui/public/embeddable/embeddable_factory.ts
  src/ui/public/embeddable/index.ts
  src/ui/public/embeddable/types.ts
  tsconfig.json
  yarn.lock
Labels: :Dashboard, :Sharing, chore, v6.4.0, v7.0.0

#19680 [Monitoring/Fn Test] Skip test for Elasticsearch nodes listing
  x-pack/test/functional/apps/monitoring/elasticsearch/nodes.js
Labels: :Monitoring, review, test, v6.3.0

#19683 [6.x] Typescriptify ui/embeddable folder (#19648)
  package.json
  src/core_plugins/kibana/public/discover/embeddable/search_embeddable.js
  src/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.js
  src/ui/public/embeddable/embeddable.js
  src/ui/public/embeddable/embeddable.ts
  src/ui/public/embeddable/embeddable_factories_registry.ts
  src/ui/public/embeddable/embeddable_factory.ts
  src/ui/public/embeddable/index.ts
  src/ui/public/embeddable/types.ts
  tsconfig.json
  yarn.lock
Labels: backport

#19685 [6.x] Add bool filter to suggestion endpoint (#19476)
  src/core_plugins/kibana/server/routes/api/suggestions/register_value_suggestions.js
  src/ui/public/kuery/suggestions/index.js
  src/ui/public/kuery/suggestions/value.js
Labels: backport

#19684 [6.x] [APM] Fix debug param issue (#19676)
  x-pack/plugins/apm/public/services/__test__/SessionStorageMock.js
  x-pack/plugins/apm/public/services/__test__/rest.test.js
  x-pack/plugins/apm/public/services/rest.js
Labels: backport

#19682 [6.x] [X-Pack Usage API] use authentication from request headers (#19613)
  x-pack/plugins/monitoring/server/kibana_monitoring/classes/__tests__/collector_set.js
  x-pack/plugins/monitoring/server/kibana_monitoring/classes/collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/classes/collector_set.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/__tests__/get_kibana_usage_collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_kibana_usage_collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_settings_collector.js
  x-pack/plugins/monitoring/server/kibana_monitoring/start_collector_set.js
  x-pack/plugins/reporting/index.js
  x-pack/plugins/reporting/server/usage/get_reporting_usage_collector.js
  x-pack/plugins/reporting/server/usage/get_reporting_usage_collector.test.js
  x-pack/plugins/xpack_main/server/routes/api/v1/kibana_stats.js
  x-pack/plugins/xpack_main/server/routes/api/v1/xpack_usage.js
  x-pack/test/api_integration/apis/xpack_main/usage/usage.js
  x-pack/test/api_integration/services/usage_api.js
Labels: :Telemetry, backport, v6.4.0

#19687 Fix bad call to this.updateUrl on reporting panel
  x-pack/plugins/reporting/public/directives/export_config/export_config.js
Labels: :Sharing, :reporting, v6.4.0, v7.0.0

#17545 Tests for visualization screenshot comparison
  test/functional/apps/visualize/_visualize_screenshots.js
  test/functional/apps/visualize/index.js
  test/functional/fixtures/es_archiver/visualization_screenshots/data.json.gz
  test/functional/fixtures/es_archiver/visualization_screenshots/mappings.json
  test/functional/page_objects/visualize_page.js
  test/functional/screenshots/baseline/screenshot_area_chart_bar.png
  test/functional/screenshots/baseline/screenshot_area_chart_options.png
  test/functional/screenshots/baseline/screenshot_barchart_percentile.png
  test/functional/screenshots/baseline/screenshot_barchart_tophit.png
  test/functional/screenshots/baseline/screenshot_datatable_average.png
  test/functional/screenshots/baseline/screenshot_datatable_options.png
  test/functional/screenshots/baseline/screenshot_datatable_significant.png
  test/functional/screenshots/baseline/screenshot_gaugecircle_options.png
  test/functional/screenshots/baseline/screenshot_goal_chart_options.png
  test/functional/screenshots/baseline/screenshot_heatmap_alloptions.png
  test/functional/screenshots/baseline/screenshot_horizontal_bar_chart.png
  test/functional/screenshots/baseline/screenshot_inputcontrol_options.png
  test/functional/screenshots/baseline/screenshot_line_chart_options.png
  test/functional/screenshots/baseline/screenshot_line_chart_parent.png
  test/functional/screenshots/baseline/screenshot_linechart_bubbles.png
  test/functional/screenshots/baseline/screenshot_linechart_derivative.png
  test/functional/screenshots/baseline/screenshot_linechart_serial.png
  test/functional/screenshots/baseline/screenshot_markdown_options.png
  test/functional/screenshots/baseline/screenshot_metrictable_median.png
  test/functional/screenshots/baseline/screenshot_piechart_donut.png
  test/functional/screenshots/baseline/screenshot_piechart_unique_count.png
  test/functional/screenshots/baseline/screenshot_regionmap_options.png
  test/functional/screenshots/baseline/screenshot_tagcloud_single.png
  test/functional/screenshots/baseline/screenshot_tilemap_geohash.png
  test/functional/screenshots/baseline/screenshot_tilemap_heatmap.png
  test/functional/screenshots/baseline/screenshot_tilemap_options.png
  test/functional/screenshots/baseline/screenshot_timelion_colors.png
  test/functional/screenshots/baseline/screenshot_vertical_bar_chart_options.png
  test/functional/screenshots/baseline/screenshot_vertical_movingagg.png
  test/functional/screenshots/baseline/screenshot_verticalbar_average.png
  test/functional/services/lib/compare_pngs.js
  test/functional/services/screenshots.js
Labels: :Visualizations, test

#19689 [6.x] updateUrl is on scope, not this. (#19687)
  x-pack/plugins/reporting/public/directives/export_config/export_config.js
Labels: backport

#19693 [6.x] upping to EUI 0.0.51 and fixing tests that broke (#19653)
  package.json
  src/core_plugins/kibana/public/home/components/__snapshots__/add_data.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/relationships/__tests__/__snapshots__/relationships.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/table/__tests__/table.test.js
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/objects_table.js
  src/core_plugins/kibana/public/management/sections/settings/components/search/search.test.js
  x-pack/package.json
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#19616 [6.3] Disable the dirty prompt until #19594 is resolved (#19595)
  x-pack/plugins/watcher/public/sections/watch_edit/components/json_watch_edit/json_watch_edit.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/threshold_watch_edit/threshold_watch_edit.js
Labels: backport

#19697 [ML] Removing unnecessary sr-only span
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_filter_modal/detector_filter_modal.html
Labels: :ml, :ml-config, review, v6.4.0, v7.0.0

#19698 [6.x] [ML] Removing unnecessary sr-only span (#19697)
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_filter_modal/detector_filter_modal.html
Labels: backport

#19654 Console cleanup
  src/core_plugins/console/public/src/autocomplete.js
  src/core_plugins/console/public/src/autocomplete/body_completer.js
  src/core_plugins/console/public/src/autocomplete/components/accept_endpoint_component.js
  src/core_plugins/console/public/src/autocomplete/components/autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/conditional_proxy.js
  src/core_plugins/console/public/src/autocomplete/components/constant_component.js
  src/core_plugins/console/public/src/autocomplete/components/field_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/global_only_component.js
  src/core_plugins/console/public/src/autocomplete/components/id_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/index.js
  src/core_plugins/console/public/src/autocomplete/components/index_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/list_component.js
  src/core_plugins/console/public/src/autocomplete/components/object_component.js
  src/core_plugins/console/public/src/autocomplete/components/shared_component.js
  src/core_plugins/console/public/src/autocomplete/components/simple_param_component.js
  src/core_plugins/console/public/src/autocomplete/components/type_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/url_pattern_matcher.js
  src/core_plugins/console/public/src/autocomplete/engine.js
  src/core_plugins/console/public/src/autocomplete/url_params.js
  src/core_plugins/console/public/src/autocomplete/url_pattern_matcher.js
  src/core_plugins/console/public/src/kb.js
  src/core_plugins/console/public/src/kb/api.js
  src/core_plugins/console/public/tests/src/integration.test.js
  src/core_plugins/console/public/tests/src/kb.test.js
  src/core_plugins/console/public/tests/src/url_autocomplete.test.js
  x-pack/plugins/console_extensions/spec/xpack_graph_explore.json
  x-pack/plugins/console_extensions/spec/xpack_migration.json
  x-pack/plugins/console_extensions/spec/xpack_rollup.json
Labels: :Management, v6.4.0, v7.0.0

#19702 [6.x] Console cleanup (#19654)
  src/core_plugins/console/public/src/autocomplete.js
  src/core_plugins/console/public/src/autocomplete/body_completer.js
  src/core_plugins/console/public/src/autocomplete/components/accept_endpoint_component.js
  src/core_plugins/console/public/src/autocomplete/components/autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/conditional_proxy.js
  src/core_plugins/console/public/src/autocomplete/components/constant_component.js
  src/core_plugins/console/public/src/autocomplete/components/field_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/global_only_component.js
  src/core_plugins/console/public/src/autocomplete/components/id_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/index.js
  src/core_plugins/console/public/src/autocomplete/components/index_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/list_component.js
  src/core_plugins/console/public/src/autocomplete/components/object_component.js
  src/core_plugins/console/public/src/autocomplete/components/shared_component.js
  src/core_plugins/console/public/src/autocomplete/components/simple_param_component.js
  src/core_plugins/console/public/src/autocomplete/components/type_autocomplete_component.js
  src/core_plugins/console/public/src/autocomplete/components/url_pattern_matcher.js
  src/core_plugins/console/public/src/autocomplete/engine.js
  src/core_plugins/console/public/src/autocomplete/url_params.js
  src/core_plugins/console/public/src/autocomplete/url_pattern_matcher.js
  src/core_plugins/console/public/src/kb.js
  src/core_plugins/console/public/src/kb/api.js
  src/core_plugins/console/public/tests/src/integration.test.js
  src/core_plugins/console/public/tests/src/kb.test.js
  src/core_plugins/console/public/tests/src/url_autocomplete.test.js
  x-pack/plugins/console_extensions/spec/xpack_graph_explore.json
  x-pack/plugins/console_extensions/spec/xpack_migration.json
  x-pack/plugins/console_extensions/spec/xpack_rollup.json
Labels: backport

#19722 Fix broken linked save searches
  src/ui/public/vis/request_handlers/courier.js
  test/functional/apps/visualize/_linked_saved_searches.js
  test/functional/apps/visualize/index.js
  test/functional/page_objects/visualize_page.js
Labels: :Visualizations, blocker, bug, v6.3.0, v6.4.0, v7.0.0

#19688 Remove flaky selectors: .ng-scope, .ng-binding and .ng-isolate.scope
  test/functional/page_objects/discover_page.js
  test/functional/page_objects/header_page.js
  test/functional/page_objects/monitoring_page.js
  test/functional/page_objects/visualize_page.js
Labels: review, test, v6.3.0, v6.4.0, v7.0.0

#19681 [6.3] Disable the dirty prompt until #19594 is resolved (#19649)
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.js
  x-pack/test/functional/apps/logstash/pipeline_create.js
Labels: backport

#19624 [6.x] bump yarn.lock
  yarn.lock
Labels: chore, v6.4.0

#19623 [master] bump kbn-pm
  packages/kbn-pm/dist/index.js
Labels: :Platform, review, v7.0.0

#19738 [6.x] Remove flaky selectors: .ng-scope, .ng-binding and .ng-isolate.scope (#19688)
  test/functional/page_objects/discover_page.js
  test/functional/page_objects/header_page.js
  test/functional/page_objects/monitoring_page.js
  test/functional/page_objects/visualize_page.js
Labels: backport

#19744 [6.x] Skipping flaky lab mode test (#19742)
  test/functional/apps/visualize/_lab_mode.js
Labels: backport

#19740 [Monitoring] Fix Node Advanced page
  x-pack/plugins/monitoring/server/lib/details/get_series.js
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/node_detail_advanced.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/index.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/node_detail_advanced.js
Labels: :Monitoring, review, v6.4.0, v7.0.0

#19749 [6.x] [Monitoring] Fix Node Advanced page (#19740)
  x-pack/plugins/monitoring/server/lib/details/get_series.js
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/classes.js
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/node_detail_advanced.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/index.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/node_detail_advanced.js
Labels: backport

#19725 [6.3] Fix broken linked save searches (#19722)
  src/ui/public/vis/request_handlers/courier.js
  test/functional/apps/visualize/_linked_saved_searches.js
  test/functional/apps/visualize/index.js
  test/functional/page_objects/visualize_page.js
Labels: backport, v6.3.0

#19751 Skip flaky tests
  test/functional/apps/visualize/_linked_saved_searches.js
Labels: test, v6.4.0, v7.0.0

#17706 Document Logstash Centralized Configuration Management HTTP APIs
  docs/api.asciidoc
  docs/api/logstash-configuration-management.asciidoc
  docs/api/logstash-configuration-management/create.asciidoc
  docs/api/logstash-configuration-management/delete.asciidoc
  docs/api/logstash-configuration-management/list.asciidoc
  docs/api/logstash-configuration-management/retrieve.asciidoc
Labels: :Logstash, :Management, docs, review, v6.4.0, v7.0.0

#19753 [6.x] Fix broken linked save searches (#19722) | Skip flaky navigational test (#19751)
  src/ui/public/vis/request_handlers/courier.js
  test/functional/apps/visualize/_linked_saved_searches.js
  test/functional/apps/visualize/index.js
  test/functional/page_objects/visualize_page.js
Labels: backport

#19757 [6.x] [ML] Use EUI table getRowProps for anomalies table row mouseover (#19755)
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table.js
Labels: :ml, :ml-results, backport

#19756 [6.x] [backport] Bump to 3.0.2 (#19735)
  package.json
  yarn.lock
Labels: backport

#19625 [package.json] Add missing dev dependencies
  package.json
  x-pack/package.json
  x-pack/yarn.lock
Labels: :Platform, review

#19327 [plugin installer] Allow x-pack removal if it exists
  src/cli_plugin/lib/__tests__/error_if_x_pack.js
  src/cli_plugin/lib/error_if_x_pack.js
  src/cli_plugin/lib/error_if_x_pack.test.js
  src/cli_plugin/lib/is_oss.test.js
  src/cli_plugin/remove/remove.js
  src/cli_plugin/remove/remove.test.js
Labels: :Operations, backport pending, review, v6.3.1, v6.4.0, v7.0.0

#19760 [6.x] [console] Adding documentation to console (#19715)
  src/core_plugins/console/api_server/es_6_0/query/dsl.js
  src/core_plugins/console/public/index.html
  src/core_plugins/console/public/src/app.js
  src/core_plugins/console/public/src/autocomplete.js
  src/core_plugins/console/public/src/controllers/sense_controller.js
  src/core_plugins/console/public/src/directives/help.html
  src/core_plugins/console/public/src/input.js
  src/core_plugins/console/public/src/kb.js
  x-pack/plugins/console_extensions/spec/xpack.json
  x-pack/plugins/console_extensions/spec/xpack_authenticate.json
  x-pack/plugins/console_extensions/spec/xpack_clear_users_cache.json
  x-pack/plugins/console_extensions/spec/xpack_graph_explore.json
  x-pack/plugins/console_extensions/spec/xpack_license.json
  x-pack/plugins/console_extensions/spec/xpack_migration.json
  x-pack/plugins/console_extensions/spec/xpack_ml_calendar.json
  x-pack/plugins/console_extensions/spec/xpack_ml_datafeed.json
  x-pack/plugins/console_extensions/spec/xpack_ml_jobs.json
  x-pack/plugins/console_extensions/spec/xpack_ml_model_snapshot.json
  x-pack/plugins/console_extensions/spec/xpack_ml_results.json
  x-pack/plugins/console_extensions/spec/xpack_oauth2_token.json
  x-pack/plugins/console_extensions/spec/xpack_role.json
  x-pack/plugins/console_extensions/spec/xpack_role_mapping.json
  x-pack/plugins/console_extensions/spec/xpack_rollup.json
  x-pack/plugins/console_extensions/spec/xpack_ssl_certificates.json
  x-pack/plugins/console_extensions/spec/xpack_user.json
  x-pack/plugins/console_extensions/spec/xpack_watcher.json
Labels: backport

#19761 upping eui to 0.0.52 and updating snapshots
  package.json
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/save_modal.test.js.snap
  src/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/__snapshots__/objects_table.test.js.snap
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/plugins/monitoring/public/components/page_loading/__tests__/__snapshots__/page_loading.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: v6.4.0, v7.0.0

#19766 [6.x] upping eui to 0.0.52 and updating snapshots (#19761)
  package.json
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/save_modal.test.js.snap
  src/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/__snapshots__/objects_table.test.js.snap
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/plugins/monitoring/public/components/page_loading/__tests__/__snapshots__/page_loading.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#19745 Update yarn.lock with new `react-test-renderer` version
  yarn.lock
Labels: v6.4.0, v7.0.0

#19770 Revert "upping eui to 0.0.52 and updating snapshots (#19761)"
  package.json
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/save_modal.test.js.snap
  src/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/__snapshots__/objects_table.test.js.snap
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/plugins/monitoring/public/components/page_loading/__tests__/__snapshots__/page_loading.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: v6.4.0, v7.0.0

#19771 [6.x] Revert "upping eui to 0.0.52 and updating snapshots (#19761)" (#19770)
  package.json
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/save_modal.test.js.snap
  src/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/__snapshots__/objects_table.test.js.snap
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/plugins/monitoring/public/components/page_loading/__tests__/__snapshots__/page_loading.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#19759 [ML] Fix Single Metric Viewer for multi week bucket spans
  x-pack/plugins/ml/public/util/__tests__/ml_time_buckets.js
  x-pack/plugins/ml/public/util/ml_time_buckets.js
Labels: :ml, :ml-results, review, v6.4.0, v7.0.0

#19792 [6.x] [ML] Fix Single Metric Viewer for multi week bucket spans (#19759)
  x-pack/plugins/ml/public/util/__tests__/ml_time_buckets.js
  x-pack/plugins/ml/public/util/ml_time_buckets.js
Labels: :ml, :ml-results, backport

#19794 [ML] Fix cosmetic issues with cut off chart overflows.
  x-pack/plugins/ml/public/jobs/new_job/simple/components/event_rate_chart/event_rate_chart_directive.js
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_chart_directive.js
Labels: :ml, :ml-config, cosmetic, v6.4.0, v7.0.0

#19659 Release Notes for 5.6.10
  docs/CHANGELOG.asciidoc
Labels: docs

#19636 [DOCS] 6.3 Release Notes
  docs/CHANGELOG.asciidoc
Labels: docs

#19634 [DOCS] 6.3.0 release highlights doc
  docs/images/management_basic_license.png
  docs/images/management_index_bulk.png
  docs/images/management_watcher_assistant.png
  docs/images/query-bar-autocomplete.png
  docs/release-notes/highlights-6.3.0.asciidoc
Labels: docs

#19739 [6.3] Remove flaky selectors: .ng-scope, .ng-binding and .ng-isolate.scope (#19688)
  test/functional/page_objects/discover_page.js
  test/functional/page_objects/header_page.js
  test/functional/page_objects/monitoring_page.js
  test/functional/page_objects/visualize_page.js
Labels: backport

#19808 Resolve intermittent premature connection closed
  src/server/http/setup_connection.js
Labels: :Operations, blocker, v6.3.0, v6.4.0, v7.0.0

#19711 set timeout for timelion search requests
  src/core_plugins/timelion/server/series_functions/__tests__/es.js
  src/core_plugins/timelion/server/series_functions/__tests__/fixtures/tlConfig.js
  src/core_plugins/timelion/server/series_functions/es/lib/build_request.js
Labels: :Timelion, release_note:fix, v6.4.0, v7.0.0

#19801 [6.x] [ML] Fix cosmetic issues with cut off chart overflows. (#19794)
  x-pack/plugins/ml/public/jobs/new_job/simple/components/event_rate_chart/event_rate_chart_directive.js
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_chart_directive.js
Labels: :ml, :ml-config, backport

#19815 [ML] Migrates advanced job wizard page wrapper to EUI.
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/styles/main.less
Labels: :ml, :ml-config, v6.4.0, v7.0.0

#19800 [ML] Fix overlapping swimlane axis labels
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
  x-pack/plugins/ml/public/explorer/styles/main.less
Labels: :ml, :ml-results, v6.4.0, v7.0.0

#19795 [ML] Disable cell range selection.
  x-pack/plugins/ml/public/explorer/explorer_dashboard_service.js
Labels: :ml, :ml-results, v6.4.0, v7.0.0

#19820 [6.x] [ML] Migrates advanced job wizard page wrapper to EUI. (#19815)
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/styles/main.less
Labels: backport

#19821 [6.x] [ML] Deprecates jQuery in favour of d3's axis component for the swimlanes axes. Adds support to remove overlapping labels. (#19800)
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
  x-pack/plugins/ml/public/explorer/styles/main.less
Labels: backport

#19822 [6.x] [ML] Disable cell range selection. (#19795)
  x-pack/plugins/ml/public/explorer/explorer_dashboard_service.js
Labels: :ml, :ml-results, backport

#19626 Dependencies license report should not include devDependencies
  package.json
  tasks/licenses.js
  tasks/licenses_csv_report.js
Labels: :Operations, backport pending, review, v6.3.1, v6.4.0, v7.0.0

#19825 [6.x] chore(19502): change license checker and generator behaviour to only add dev dependencies with --dev flag. (#19626)
  package.json
  tasks/licenses.js
  tasks/licenses_csv_report.js
Labels: backport

#19772 Upgrade EUI to 0.0.52
  package.json
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/save_modal.test.js.snap
  src/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/__snapshots__/objects_table.test.js.snap
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  test/functional/page_objects/visualize_page.js
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/plugins/monitoring/public/components/page_loading/__tests__/__snapshots__/page_loading.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: :Operations, chore, v6.4.0, v7.0.0

#19828 Add wait for page to load for dashboard test
  test/functional/apps/dashboard/_dashboard_queries.js
Labels: test, v6.3.0

#19833 [6.x] Upgrade EUI to 0.0.52 (#19772)
  package.json
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/dashboard/panel/__snapshots__/dashboard_panel.test.js.snap
  src/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/save_modal.test.js.snap
  src/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/core_plugins/kibana/public/home/components/__snapshots__/home.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/indexed_fields_table/components/table/__tests__/__snapshots__/table.test.js.snap
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/__snapshots__/objects_table.test.js.snap
  src/ui/public/vis/editors/components/__snapshots__/editor_options_group.test.js.snap
  test/functional/page_objects/visualize_page.js
  x-pack/package.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/license_status.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/__tests__/__snapshots__/no_data.test.js.snap
  x-pack/plugins/monitoring/public/components/page_loading/__tests__/__snapshots__/page_loading.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#19830 add aria-label to select without label
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/controls_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.js
Labels: :Input Control, accessibility, v6.3.1, v6.4.0, v7.0.0

#19836 [6.x] add aria-label to select without label (#19830)
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/controls_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.js
Labels: backport

#19841 Fix Advanced Settings search
  src/core_plugins/kibana/public/management/sections/settings/advanced_settings.js
Labels: :Management, v6.4.0, v7.0.0

#19707 Change tryForTime error output from 'failure' to 'error', to make it easier to grep the logs for actual failures.
  test/common/services/retry.js
Labels: :QA, v6.4.0, v7.0.0

#19657 [Design] Clean up dashboard listing page
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/dashboard/listing/dashboard_listing.js
  src/core_plugins/kibana/public/dashboard/listing/dashboard_listing.test.js
  src/core_plugins/kibana/public/dashboard/styles/index.less
  test/functional/page_objects/dashboard_page.js
  test/functional/page_objects/header_page.js
Labels: :Sharing, v6.4.0, v7.0.0

#19842 [6.x] Fix EuiSearchBar onChange callback (#19841)
  src/core_plugins/kibana/public/management/sections/settings/advanced_settings.js
Labels: backport

#19843 [6.x] Change tryForTime error output from 'failure' to 'error', to make it easier to grep the logs for actual failures. (#19707)
  test/common/services/retry.js
Labels: backport

#19172 explicitly passing filters and query to visualize
  src/core_plugins/kibana/public/dashboard/actions/view.js
  src/core_plugins/kibana/public/dashboard/dashboard_app.js
  src/core_plugins/kibana/public/dashboard/dashboard_state_manager.js
  src/core_plugins/kibana/public/dashboard/panel/dashboard_panel.js
  src/core_plugins/kibana/public/dashboard/reducers/view.js
  src/core_plugins/kibana/public/dashboard/selectors/index.js
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/kibana/public/discover/embeddable/search_embeddable.js
  src/core_plugins/kibana/public/discover/saved_searches/_saved_search.js
  src/core_plugins/kibana/public/selectors/dashboard_selectors.js
  src/core_plugins/kibana/public/visualize/editor/editor.html
  src/core_plugins/kibana/public/visualize/editor/editor.js
  src/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.js
  src/ui/public/courier/courier.js
  src/ui/public/courier/data_source/_root_search_source.js
  src/ui/public/courier/data_source/search_source.js
  src/ui/public/timefilter/get_time.js
  src/ui/public/timefilter/timefilter.js
  src/ui/public/vis/request_handlers/courier.js
  src/ui/public/visualize/__tests__/visualize.js
  src/ui/public/visualize/loader/embedded_visualize_handler.js
  src/ui/public/visualize/loader/loader.js
  src/ui/public/visualize/loader/loader_template.html
  src/ui/public/visualize/visualize.js
Labels: :Visualizations, review, v6.4.0

#19849 [6.x] remove Private from timefilter lib (#19651)
  src/ui/public/timefilter/__tests__/diff_interval.js
  src/ui/public/timefilter/__tests__/diff_time.js
  src/ui/public/timefilter/lib/diff_interval.js
  src/ui/public/timefilter/lib/diff_interval.test.js
  src/ui/public/timefilter/lib/diff_time.js
  src/ui/public/timefilter/lib/diff_time.test.js
  src/ui/public/timefilter/lib/diff_time_picker_vals.js
  src/ui/public/timefilter/lib/diff_time_picker_vals.test.js
  src/ui/public/timefilter/timefilter.js
Labels: backport

#19436 Refactoring Markdown lifecycle methods to React 16.3
  src/core_plugins/markdown_vis/public/markdown_vis_controller.js
  src/ui/public/markdown/github_markdown.less
  src/ui/public/markdown/markdown.js
Labels: :Markdown, :Visualizations, WIP, refactoring, v6.4.0, v7.0.0

#19848 [6.x] explicitly passing filters and query to visualize (#19172)
  src/core_plugins/kibana/public/dashboard/actions/view.js
  src/core_plugins/kibana/public/dashboard/dashboard_app.js
  src/core_plugins/kibana/public/dashboard/dashboard_state_manager.js
  src/core_plugins/kibana/public/dashboard/panel/dashboard_panel.js
  src/core_plugins/kibana/public/dashboard/reducers/view.js
  src/core_plugins/kibana/public/dashboard/selectors/index.js
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/kibana/public/discover/embeddable/search_embeddable.js
  src/core_plugins/kibana/public/discover/saved_searches/_saved_search.js
  src/core_plugins/kibana/public/selectors/dashboard_selectors.js
  src/core_plugins/kibana/public/visualize/editor/editor.html
  src/core_plugins/kibana/public/visualize/editor/editor.js
  src/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.js
  src/ui/public/courier/courier.js
  src/ui/public/courier/data_source/_root_search_source.js
  src/ui/public/courier/data_source/search_source.js
  src/ui/public/timefilter/get_time.js
  src/ui/public/timefilter/timefilter.js
  src/ui/public/vis/request_handlers/courier.js
  src/ui/public/visualize/__tests__/visualize.js
  src/ui/public/visualize/loader/embedded_visualize_handler.js
  src/ui/public/visualize/loader/loader.js
  src/ui/public/visualize/loader/loader_template.html
  src/ui/public/visualize/visualize.js
Labels: backport

#19855 [6.x] Refactoring Markdown lifecycle methods to React 16.3 (#19436)
  src/core_plugins/markdown_vis/public/markdown_vis_controller.js
  src/ui/public/markdown/github_markdown.less
  src/ui/public/markdown/markdown.js
Labels: backport

#19816 [ML] Fixes agg-type dropdowns size and styling.
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection/fields_selection.html
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection/styles/main.less
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection_population/fields_selection.html
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection_population/styles/main.less
Labels: :ml, :ml-config, v6.4.0, v7.0.0

#19845 Remove unnecessary PromiseEmitter.
  src/ui/public/courier/data_source/search_source.js
  src/ui/public/promises/promises.js
Labels: :Discovery, v6.4.0, v7.0.0

#19859 [6.x] [ML] Fixes agg-type dropdowns size and styling. (#19816)
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection/fields_selection.html
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection/styles/main.less
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection_population/fields_selection.html
  x-pack/plugins/ml/public/jobs/new_job/simple/components/fields_selection_population/styles/main.less
Labels: :ml, :ml-config, backport

#19867 [6.x] Remove unnecessary PromiseEmitter. (#19845)
  src/ui/public/courier/data_source/search_source.js
  src/ui/public/promises/promises.js
Labels: backport

#19839 [RBAC Phase 1] - Update application privileges when XPack license changes
  x-pack/plugins/security/index.js
  x-pack/plugins/security/server/lib/check_license.js
  x-pack/plugins/security/server/lib/mirror_status_and_initialize.js
  x-pack/plugins/security/server/lib/mirror_status_and_initialize.test.js
  x-pack/plugins/security/server/lib/watch_status_and_license_to_initialize.js
  x-pack/plugins/security/server/lib/watch_status_and_license_to_initialize.test.js
  x-pack/plugins/xpack_main/server/lib/__tests__/xpack_info.js
  x-pack/plugins/xpack_main/server/lib/xpack_info.js
Labels: :Security, v6.4.0, v7.0.0

#19776 Add aria-labelledby to index details flyout to tell screen reader what to announce when the flyout is opened
  x-pack/plugins/index_management/public/sections/index_list/components/detail_panel/detail_panel.js
Labels: :Management, accessibility, v6.3.1, v6.4.0, v7.0.0

#19777 Add heading hierarchy to Management landing page and role='group' to panels to aid screen reader accessibility
  src/core_plugins/kibana/public/management/landing.html
Labels: :Management, accessibility, v6.3.1, v6.4.0, v7.0.0

#19778 Add aria-label to Indices Management search input.
  x-pack/plugins/index_management/public/sections/index_list/components/index_table/index_table.js
Labels: :Management, :index-management, accessibility, v6.3.1, v6.4.0, v7.0.0

#19779 Add described-by attribute to duration-selection directive to make children inputs screen reader accessible
  x-pack/plugins/watcher/public/components/duration_select/duration_select.html
  x-pack/plugins/watcher/public/components/duration_select/duration_select.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/watch_edit_title_panel/watch_edit_title_panel.html
Labels: :Management, :watcher, accessibility, v6.3.1, v6.4.0, v7.0.0

#19780 Hide bottom row of local nav in License Management if it's empty.
  src/core_plugins/kibana/public/management/app.html
Labels: :Management, :license, accessibility, v6.3.1, v6.4.0, v7.0.0

#19782 Replace Watcher's watch-type-select directive with two buttons.
  x-pack/plugins/watcher/public/components/watch_type_select/index.js
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.html
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.js
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.less
  x-pack/plugins/watcher/public/sections/watch_list/components/watch_list/watch_list.html
  x-pack/plugins/watcher/public/sections/watch_list/components/watch_list/watch_list.js
  x-pack/test/functional/page_objects/watcher_page.js
Labels: :Management, :watcher, accessibility, v6.3.1, v6.4.0, v7.0.0

#19887 [6.3] Add described-by attribute to duration-selection directive to make children inputs screen reader accessible.
  x-pack/plugins/watcher/public/components/duration_select/duration_select.html
  x-pack/plugins/watcher/public/components/duration_select/duration_select.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/watch_edit_title_panel/watch_edit_title_panel.html
Labels: backport

#19877 [6.3] Add aria-labelledby to index details flyout to tell screen reader what to announce when the flyout is opened. (#19776)
  x-pack/plugins/index_management/public/sections/index_list/components/detail_panel/detail_panel.js
Labels: backport

#19886 [6.x] Add described-by attribute to duration-selection directive to make children inputs screen reader accessible.
  x-pack/plugins/watcher/public/components/duration_select/duration_select.html
  x-pack/plugins/watcher/public/components/duration_select/duration_select.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/watch_edit_title_panel/watch_edit_title_panel.html
Labels: backport

#19876 [6.x] Add aria-labelledby to index details flyout to tell screen reader what to announce when the flyout is opened. (#19776)
  x-pack/plugins/index_management/public/sections/index_list/components/detail_panel/detail_panel.js
Labels: backport

#19292 [ML] Fixes the tooltip position of job groups info icon.
  x-pack/plugins/ml/public/components/form_label/form_label.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job.html
Labels: :ml, :ml-config, backport pending, v6.3.1

#19892 [6.x] [ML] Convert anomalies controls to EUI / React (#19856)
  x-pack/plugins/ml/public/components/controls/checkbox_showcharts/checkbox_showcharts.html
  x-pack/plugins/ml/public/components/controls/checkbox_showcharts/checkbox_showcharts.js
  x-pack/plugins/ml/public/components/controls/checkbox_showcharts/checkbox_showcharts_directive.js
  x-pack/plugins/ml/public/components/controls/checkbox_showcharts/index.js
  x-pack/plugins/ml/public/components/controls/select_interval/__tests__/select_interval.js
  x-pack/plugins/ml/public/components/controls/select_interval/index.js
  x-pack/plugins/ml/public/components/controls/select_interval/select_interval.html
  x-pack/plugins/ml/public/components/controls/select_interval/select_interval.js
  x-pack/plugins/ml/public/components/controls/select_interval/select_interval_directive.js
  x-pack/plugins/ml/public/components/controls/select_severity/__tests__/select_severity.js
  x-pack/plugins/ml/public/components/controls/select_severity/index.js
  x-pack/plugins/ml/public/components/controls/select_severity/select_severity.html
  x-pack/plugins/ml/public/components/controls/select_severity/select_severity.js
  x-pack/plugins/ml/public/components/controls/select_severity/select_severity_directive.js
  x-pack/plugins/ml/public/components/controls/select_severity/styles/main.less
  x-pack/plugins/ml/public/explorer/__tests__/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.html
  x-pack/plugins/ml/public/explorer/styles/main.less
  x-pack/plugins/ml/public/timeseriesexplorer/styles/main.less
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer.html
Labels: :ml, :ml-results, backport

#19878 [6.x] Add heading hierarchy to Management landing page and role='group' to panels to aid screen reader accessibility. (#19777)
  src/core_plugins/kibana/public/management/landing.html
Labels: backport

#19879 [6.3] Add heading hierarchy to Management landing page and role='group' to panels to aid screen reader accessibility. (#19777)
  src/core_plugins/kibana/public/management/landing.html
Labels: backport

#19881 [6.3] Add aria-label to Indices Management search input. (#19778)
  x-pack/plugins/index_management/public/sections/index_list/components/index_table/index_table.js
Labels: backport

#19882 [6.x] Hide bottom row of local nav in License Management if it's empty. (#19780)
  src/core_plugins/kibana/public/management/app.html
Labels: backport

#19880 [6.x] Add aria-label to Indices Management search input. (#19778)
  x-pack/plugins/index_management/public/sections/index_list/components/index_table/index_table.js
Labels: backport

#19883 [6.3] Hide bottom row of local nav in License Management if it's empty. (#19780)
  src/core_plugins/kibana/public/management/app.html
Labels: backport

#19873 [6.x] [readme] Fix snapshot links
  README.md
Labels: docs, review

#19884 [6.x] Replace Watcher's watch-type-select directive with two buttons. (#19782)
  x-pack/plugins/watcher/public/components/watch_type_select/index.js
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.html
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.js
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.less
  x-pack/plugins/watcher/public/sections/watch_list/components/watch_list/watch_list.html
  x-pack/plugins/watcher/public/sections/watch_list/components/watch_list/watch_list.js
  x-pack/test/functional/page_objects/watcher_page.js
Labels: backport

#19865 Guard against calling fieldWildcardMatcher or fieldWildcardFilter with undefined
  src/ui/public/field_wildcard/__tests__/field_wildcard.js
  src/ui/public/field_wildcard/field_wildcard.js
Labels: :Management, release_note:fix, v6.3.1, v6.4.0, v7.0.0

#19885 [6.3] Replace Watcher's watch-type-select directive with two buttons. (#19782)
  x-pack/plugins/watcher/public/components/watch_type_select/index.js
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.html
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.js
  x-pack/plugins/watcher/public/components/watch_type_select/watch_type_select.less
  x-pack/plugins/watcher/public/sections/watch_list/components/watch_list/watch_list.html
  x-pack/plugins/watcher/public/sections/watch_list/components/watch_list/watch_list.js
  x-pack/test/functional/page_objects/watcher_page.js
Labels: backport

#19905 [COPYEDIT] Edits to Create Threshold in Watcher
  x-pack/plugins/watcher/public/components/threshold_preview_chart/threshold_preview_chart.html
  x-pack/plugins/watcher/public/models/watch/threshold_watch.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/watch_edit_execute_info_panel/watch_edit_execute_info_panel.html
  x-pack/plugins/watcher/public/sections/watch_edit/components/watch_edit_title_panel/watch_edit_title_panel.html
Labels: :watcher, v6.4.0

#19861 Bump node to 8.11.3
  .node-version
  .nvmrc
  package.json
Labels: :Operations, review, v6.3.1, v6.4.0, v7.0.0

#19862 [6.x] Bump node to 8.11.3
  .node-version
  .nvmrc
  package.json
Labels: backport

#19863 [6.3] Bump node to 8.11.3
  .node-version
  .nvmrc
  package.json
Labels: backport

#19864 [5.6] Bump node to 6.14.3
  .node-version
  package.json
Labels: backport

#19906 [6.x] Guard against calling fieldWildcardMatcher or fieldWildcardFilter with undefined (#19865)
  src/ui/public/field_wildcard/__tests__/field_wildcard.js
  src/ui/public/field_wildcard/field_wildcard.js
Labels: backport

#19907 [6.3] Guard against calling fieldWildcardMatcher or fieldWildcardFilter with undefined (#19865)
  src/ui/public/field_wildcard/__tests__/field_wildcard.js
  src/ui/public/field_wildcard/field_wildcard.js
Labels: backport

#19837 [6.3] add aria-label to select without label (#19830)
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/controls_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.js
Labels: backport

#19901 [6.x] upping xpack version of brace to the latest which should bring us to one version of it in the bundle. (#19897)
  x-pack/package.json
  x-pack/yarn.lock
Labels: backport

#19922 [6.x] Bump `backport` (#19910)
  package.json
  yarn.lock
Labels: backport

#19917 [COPYEDIT] Edits to Create Threshold in Watcher (#19905)
  x-pack/plugins/watcher/public/components/threshold_preview_chart/threshold_preview_chart.html
  x-pack/plugins/watcher/public/models/watch/threshold_watch.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/watch_edit_execute_info_panel/watch_edit_execute_info_panel.html
  x-pack/plugins/watcher/public/sections/watch_edit/components/watch_edit_title_panel/watch_edit_title_panel.html
Labels: :watcher, v6.3.0

#19924 [6.x] clean-up sample data text (#19902)
  src/core_plugins/kibana/public/home/components/__snapshots__/add_data.test.js.snap
  src/core_plugins/kibana/public/home/components/add_data.js
  src/core_plugins/kibana/public/home/components/sample_data_set_card.js
  src/core_plugins/kibana/public/home/sample_data_sets.js
  src/server/sample_data/data_sets/flights/index.js
  src/server/sample_data/data_sets/flights/saved_objects.js
Labels: backport

#19838 kibana logo, wrap li in ul
  src/ui/public/chrome/directives/global_nav/global_nav.html
Labels: accessibility, v6.3.1, v6.4.0, v7.0.0

#19809 [6.x] set timeout for timelion search requests (#19711)
  src/core_plugins/timelion/server/series_functions/__tests__/es.js
  src/core_plugins/timelion/server/series_functions/__tests__/fixtures/tlConfig.js
  src/core_plugins/timelion/server/series_functions/es/lib/build_request.js
Labels: backport

#19929 [6.x] kibana logo, wrap li in ul (#19838)
  src/ui/public/chrome/directives/global_nav/global_nav.html
Labels: backport

#19930 [6.3] kibana logo, wrap li in ul (#19838)
  src/ui/public/chrome/directives/global_nav/global_nav.html
Labels: backport

#19891 Do not rely on native `setTimeout` in the promise service tests.
  src/ui/public/promises/__tests__/promises.js
Labels: :Platform, chore, test

#19932 [ML] Removing rules from APM module
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/high_mean_response_time.json
Labels: :ml, :ml-config, review, v6.4.0, v7.0.0

#19934 [6.x] Do not rely on native `setTimeout` in the promise service tests.
  src/ui/public/promises/__tests__/promises.js
Labels: backport

#19936 [6.x] [ML] Removing rules from APM module (#19932)
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/high_mean_response_time.json
Labels: backport

#19938 [6.3] [ML] Fix issues with watching the scope of single metric viewer data. (#19029)
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
Labels: :ml, backport

#19950 Remove node version validator from git pre-commit hook script
  scripts/precommit_hook.js
Labels: :Operations, review, v6.3.1, v6.4.0, v7.0.0

#19955 [6.x] chore(NA): remove node version validator from git pre-commit hook script. (#19950)
  scripts/precommit_hook.js
Labels: backport

#19870 ES6 conversion on Management Tests
  test/functional/apps/management/_create_index_pattern_wizard.js
  test/functional/apps/management/_index_pattern_filter.js
  test/functional/apps/management/_index_pattern_popularity.js
  test/functional/apps/management/_index_pattern_results_sort.js
Labels: :Management, review, test, v6.3.0, v6.3.1, v6.4.0, v7.0.0

#19959 [6.3] [plugin installer] Allow x-pack removal if it exists (#19327)
  src/cli_plugin/lib/__tests__/error_if_x_pack.js
  src/cli_plugin/lib/__tests__/is_oss.js
  src/cli_plugin/lib/error_if_x_pack.js
  src/cli_plugin/lib/error_if_x_pack.test.js
  src/cli_plugin/lib/is_oss.test.js
  src/cli_plugin/remove/remove.js
  src/cli_plugin/remove/remove.test.js
Labels: backport

#19451 [Monitoring] Improve User Experience of Enabling Monitoring Collection
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_enabled/collection_enabled.js
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_interval/__tests__/__snapshots__/collection_interval.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_interval/collection_interval.js
  x-pack/plugins/monitoring/public/components/no_data/reasons/__tests__/__snapshots__/we_tried.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/reasons/we_tried.js
Labels: :Monitoring, release_note:enhancement, review, v6.3.1, v6.4.0

#19912 fix gaps in sample flight data
  src/server/sample_data/data_sets/flights/index.js
  src/server/sample_data/routes/lib/adjust_timestamp.js
  src/server/sample_data/routes/lib/adjust_timestamp.test.js
Labels: :Add Data, v6.4.0, v7.0.0

#19969 [6.x] [Monitoring] Improve User Experience of Enabling Monitoring Collection (#19451)
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_enabled/collection_enabled.js
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_interval/__tests__/__snapshots__/collection_interval.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_interval/collection_interval.js
  x-pack/plugins/monitoring/public/components/no_data/reasons/__tests__/__snapshots__/we_tried.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/reasons/we_tried.js
Labels: backport

#19970 [6.3] [Monitoring] Improve User Experience of Enabling Monitoring Collection (#19451)
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_enabled/collection_enabled.js
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_interval/__tests__/__snapshots__/collection_interval.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/explanations/collection_interval/collection_interval.js
  x-pack/plugins/monitoring/public/components/no_data/reasons/__tests__/__snapshots__/we_tried.test.js.snap
  x-pack/plugins/monitoring/public/components/no_data/reasons/we_tried.js
Labels: backport

#19868 [Saved Objects Client] Return info about what was missing in the 404
  src/server/saved_objects/service/lib/errors.js
  src/server/saved_objects/service/lib/repository.js
  test/api_integration/apis/saved_objects/delete.js
  test/api_integration/apis/saved_objects/get.js
  test/api_integration/apis/saved_objects/update.js
Labels: :Platform, :Security, review, v6.4.0, v7.0.0

#19971 [6.x] fix gaps in sample flight data (#19912)
  src/server/sample_data/data_sets/flights/index.js
  src/server/sample_data/routes/lib/adjust_timestamp.js
  src/server/sample_data/routes/lib/adjust_timestamp.test.js
Labels: backport

#19754 Allow overwriting filters when adding via `queryFilter`
  src/ui/public/filter_bar/__tests__/_add_filters.js
  src/ui/public/filter_bar/query_filter.js
Labels: :Discovery, :Filters, v6.4.0, v7.0.0
