Repository elastic/kibana, pull requests merged in 2018-12, with the labels that each got.

#26315 [5.6] Bump Node to 6.15.0
  .node-version
  package.json
  test/functional/apps/dashboard/_view_edit.js
  test/functional/apps/management/_index_pattern_popularity.js
Labels: :Operations, review, v5.6.14

#26464 drag-n-drop part 2
  x-pack/plugins/secops/package.json
  x-pack/plugins/secops/public/components/drag_and_drop/drag_drop_context_wrapper.test.tsx
  x-pack/plugins/secops/public/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/secops/public/components/drag_and_drop/draggable_wrapper.test.tsx
  x-pack/plugins/secops/public/components/drag_and_drop/draggable_wrapper.tsx
  x-pack/plugins/secops/public/components/drag_and_drop/droppable_wrapper.test.tsx
  x-pack/plugins/secops/public/components/drag_and_drop/droppable_wrapper.tsx
  x-pack/plugins/secops/public/components/drag_and_drop/helpers.test.ts
  x-pack/plugins/secops/public/components/drag_and_drop/helpers.ts
  x-pack/plugins/secops/public/components/flyout/index.test.tsx
  x-pack/plugins/secops/public/components/flyout/index.tsx
  x-pack/plugins/secops/public/components/page/navigation/index.tsx
  x-pack/plugins/secops/public/components/timeline/body/index.tsx
  x-pack/plugins/secops/public/components/timeline/body/renderers/get_row_renderer.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/renderers/suricata_row_renderer.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/renderers/suricata_row_renderer.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/data_provider.ts
  x-pack/plugins/secops/public/components/timeline/data_providers/data_providers.test.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/empty.test.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/empty.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/index.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/providers.test.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/providers.tsx
  x-pack/plugins/secops/public/components/timeline/header/timeline_header.test.tsx
  x-pack/plugins/secops/public/components/timeline/header/timeline_header.tsx
  x-pack/plugins/secops/public/components/timeline/index.tsx
  x-pack/plugins/secops/public/components/timeline/timeline.test.tsx
  x-pack/plugins/secops/public/components/timeline/timeline.tsx
  x-pack/plugins/secops/public/components/visualization_placeholder.tsx
  x-pack/plugins/secops/public/containers/events/index.tsx
  x-pack/plugins/secops/public/pages/home/index.tsx
  x-pack/plugins/secops/public/pages/hosts/index.tsx
  x-pack/plugins/secops/public/pages/network/index.tsx
  x-pack/plugins/secops/public/pages/overview/index.tsx
  x-pack/plugins/secops/public/store/local/drag_and_drop/actions.ts
  x-pack/plugins/secops/public/store/local/drag_and_drop/index.ts
  x-pack/plugins/secops/public/store/local/drag_and_drop/model.ts
  x-pack/plugins/secops/public/store/local/drag_and_drop/reducer.test.ts
  x-pack/plugins/secops/public/store/local/drag_and_drop/reducer.ts
  x-pack/plugins/secops/public/store/local/drag_and_drop/selectors.ts
  x-pack/plugins/secops/public/store/local/reducer.ts
  x-pack/plugins/secops/public/store/local/timeline/actions.ts
  x-pack/plugins/secops/public/store/local/timeline/model.ts
  x-pack/plugins/secops/public/store/local/timeline/reducer.ts
  x-pack/plugins/secops/public/store/store.ts
  x-pack/plugins/secops/server/lib/events/elasticsearch_adapter.ts
  x-pack/plugins/secops/tslint.yaml
  yarn.lock
Labels: :SecOps UI, loe:multi-week, review

#26469 [6.x] [I18n] Support interpreting individual i18n-values as html or text-only (#26274)
  packages/kbn-i18n/README.md
  packages/kbn-i18n/src/angular/__snapshots__/directive.test.ts.snap
  packages/kbn-i18n/src/angular/directive.test.ts
  packages/kbn-i18n/src/angular/directive.ts
  src/core_plugins/console/public/src/directives/welcome.html
  src/core_plugins/kbn_vislib_vis_types/public/controls/gauge_options.html
  src/core_plugins/kbn_vislib_vis_types/public/controls/heatmap_options.html
  src/core_plugins/kibana/public/dashboard/dashboard_app.html
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.html
  src/core_plugins/metric_vis/public/metric_vis_params.html
  src/core_plugins/tile_map/public/editors/wms_options.html
  src/core_plugins/timelion/public/directives/timelion_help/timelion_help.html
  src/dev/i18n/utils.js
  x-pack/plugins/graph/public/templates/index.html
  x-pack/plugins/searchprofiler/public/templates/index.html
  x-pack/plugins/security/public/views/management/roles.html
Labels: backport

#26169 translate logstash
  .i18nrc.json
  x-pack/plugins/logstash/common/constants/tooltips.js
  x-pack/plugins/logstash/public/components/pipeline_editor/__snapshots__/confirm_delete_pipeline_modal.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_editor/__snapshots__/pipeline_editor.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_editor/confirm_delete_pipeline_modal.js
  x-pack/plugins/logstash/public/components/pipeline_editor/constants.js
  x-pack/plugins/logstash/public/components/pipeline_editor/pipeline_editor.js
  x-pack/plugins/logstash/public/components/pipeline_editor/pipeline_editor.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/add_role_alert.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/alert_call_out.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/confirm_delete_modal.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/enable_monitoring_alert.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/add_role_alert.js
  x-pack/plugins/logstash/public/components/pipeline_list/add_role_alert.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/alert_call_out.js
  x-pack/plugins/logstash/public/components/pipeline_list/alert_call_out.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/confirm_delete_modal.js
  x-pack/plugins/logstash/public/components/pipeline_list/confirm_delete_modal.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/constants.js
  x-pack/plugins/logstash/public/components/pipeline_list/enable_monitoring_alert.js
  x-pack/plugins/logstash/public/components/pipeline_list/enable_monitoring_alert.test.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.js
  x-pack/plugins/logstash/public/sections/pipeline_list/components/pipeline_list/pipeline_list.js
Labels: :i18n, review, v6.6.0

#26486 Add normalizePath in order to fix watch optimizer when running on windows
  src/optimize/watch/watch_cache.ts
  typings/normalize_path/index.d.ts
Labels: :Operations, review, v6.6.0, v7.0.0

#25938 [k7/Infra UI] Integrate with K7 Breadcrumbs
  src/ui/public/chrome/api/breadcrumbs.ts
  src/ui/public/chrome/index.d.ts
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/components/header/external_header.tsx
  x-pack/plugins/infra/public/components/header/header.tsx
  x-pack/plugins/infra/public/components/header/index.ts
  x-pack/plugins/infra/public/components/header/legacy_header.tsx
  x-pack/plugins/infra/public/containers/with_kibana_chrome.tsx
Labels: :Infra UI, review, v6.6.0, v7.0.0

#25098 [i18n] Update guideline
  packages/kbn-i18n/GUIDELINE.md
  packages/kbn-i18n/README.md
Labels: :i18n

#24143 [Canvas] Adds workpad-level CSS
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/page_config/page_config.js
  x-pack/plugins/canvas/public/components/page_manager/index.js
  x-pack/plugins/canvas/public/components/page_manager/page_manager.js
  x-pack/plugins/canvas/public/components/workpad/workpad.js
  x-pack/plugins/canvas/public/components/workpad_config/index.js
  x-pack/plugins/canvas/public/components/workpad_config/workpad_config.js
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.scss
  x-pack/plugins/canvas/public/state/actions/workpad.js
  x-pack/plugins/canvas/public/state/defaults.js
  x-pack/plugins/canvas/public/state/reducers/workpad.js
  x-pack/plugins/canvas/public/style/main.scss
Labels: :Canvas, review, v6.6.0, v7.0.0

#26246 Fix scrolling list on Firefox
  src/legacy/core_plugins/kibana/public/visualize/wizard/__snapshots__/new_vis_modal.test.tsx.snap
  src/legacy/core_plugins/kibana/public/visualize/wizard/_dialog.scss
  src/legacy/core_plugins/kibana/public/visualize/wizard/type_selection/type_selection.tsx
Labels: :KibanaApp, v6.6.0, v7.0.0

#26447 [6.x] Fixes #26052 - Change time range for waffle map from last hour to last 5 minutes (#26278)
  x-pack/plugins/infra/public/store/local/waffle_time/selectors.ts
Labels: backport

#26518 [6.x] fix(NA): add normalizePath in order to fix watch optimizer when running on windows. (#26486)
  src/optimize/watch/watch_cache.ts
  typings/normalize_path/index.d.ts
Labels: backport

#26504 [5.6] Disable flaky Management Index Pattern sort test
  test/functional/apps/management/_index_pattern_results_sort.js
Labels: :KibanaApp, review, v5.6.14

#26533 Cleaned up the code to be more consistent
  x-pack/plugins/secops/public/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/secops/public/components/flyout/index.test.tsx
  x-pack/plugins/secops/public/components/flyout/index.tsx
  x-pack/plugins/secops/public/components/horizontal_bar_chart/index.tsx
  x-pack/plugins/secops/public/components/page/date_picker.tsx
  x-pack/plugins/secops/public/components/timeline/body/renderers/empty_column_renderer.tsx
  x-pack/plugins/secops/public/components/timeline/body/renderers/plain_column_renderer.tsx
  x-pack/plugins/secops/public/components/timeline/body/renderers/suricata_column_renderer.tsx
  x-pack/plugins/secops/public/components/timeline/body/renderers/unknown_column_renderer.tsx
  x-pack/plugins/secops/public/components/visualization_placeholder.tsx
  x-pack/plugins/secops/public/pages/hosts/index.tsx
Labels: :SecOps UI, loe:hours, review

#26466 Fixes documentation links for ES role privileges
  x-pack/plugins/security/public/documentation_links.js
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/__snapshots__/elasticsearch_privileges.test.tsx.snap
Labels: :Security, release_note:fix, v6.5.3, v6.6.0, v7.0.0

#26491 User Management - role list should be sorted by name
  x-pack/plugins/security/server/routes/api/public/roles/get.js
  x-pack/plugins/security/server/routes/api/public/roles/get.test.js
Labels: :Security, release_note:enhancement, v6.6.0, v7.0.0

#26540 [6.x] [test fix] - Adds authentication_realm and lookup_realm to the list of expected keys (#26470)
  x-pack/test/api_integration/apis/security/basic_login.js
  x-pack/test/saml_api_integration/apis/security/saml_login.js
Labels: backport

#26391 [Canvas] Fix: reduce HTTP POST generation on selections and drags
  x-pack/plugins/canvas/public/state/middleware/aeroelastic.js
Labels: :Canvas, review, v6.5.3, v6.6.0, v7.0.0

#26550 [6.x] [Canvas] Adds workpad-level CSS (#24143)
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/page_config/page_config.js
  x-pack/plugins/canvas/public/components/page_manager/index.js
  x-pack/plugins/canvas/public/components/page_manager/page_manager.js
  x-pack/plugins/canvas/public/components/workpad/workpad.js
  x-pack/plugins/canvas/public/components/workpad_config/index.js
  x-pack/plugins/canvas/public/components/workpad_config/workpad_config.js
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.scss
  x-pack/plugins/canvas/public/state/actions/workpad.js
  x-pack/plugins/canvas/public/state/defaults.js
  x-pack/plugins/canvas/public/state/reducers/workpad.js
  x-pack/plugins/canvas/public/style/main.scss
Labels: backport

#25341 Remove prompt, fix quotes from windows examples
  src/legacy/core_plugins/kibana/common/tutorials/filebeat_instructions.js
  src/legacy/core_plugins/kibana/common/tutorials/functionbeat_instructions.js
  src/legacy/core_plugins/kibana/common/tutorials/heartbeat_instructions.js
  src/legacy/core_plugins/kibana/common/tutorials/metricbeat_instructions.js
  src/legacy/core_plugins/kibana/server/tutorials/apm/apm_server_instructions.js
Labels: :Add Data, :uptime, bug

#26552 [6.x] Fix: reduce HTTP POST generation on selections and drags (#26391)
  x-pack/plugins/canvas/public/state/middleware/aeroelastic.js
Labels: backport

#26547 [6.x] fixes documentation links for ES role privileges (#26466)
  x-pack/plugins/security/public/documentation_links.js
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/__snapshots__/elasticsearch_privileges.test.tsx.snap
Labels: backport

#26549 [6.5] fixes documentation links for ES role privileges (#26466)
  x-pack/plugins/security/public/documentation_links.js
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/__snapshots__/elasticsearch_privileges.test.tsx.snap
Labels: backport

#26448 Move SavedObjectClient types alongside js source
  src/server/saved_objects/index.d.ts
  src/server/saved_objects/service/create_saved_objects_service.d.ts
  src/server/saved_objects/service/index.d.ts
  src/server/saved_objects/service/lib/index.d.ts
  src/server/saved_objects/service/lib/scoped_client_provider.d.ts
  src/server/saved_objects/service/saved_objects_client.d.ts
  x-pack/plugins/spaces/index.ts
  x-pack/plugins/spaces/server/lib/saved_objects_client/saved_objects_client_wrapper_factory.ts
  x-pack/plugins/spaces/server/lib/saved_objects_client/spaces_saved_objects_client.ts
  x-pack/plugins/spaces/server/lib/space_request_interceptors.test.ts
Labels: :Platform, :Spaces, review, v6.6.0, v7.0.0

#26534 [6.x] Specifying the timeout for the _msearch in the body (#26446)
  src/ui/public/courier/fetch/request/serialize_fetch_params/serialize_fetch_params.js
  src/ui/public/field_editor/lib/validate_script.js
Labels: backport

#26535 [6.5] Specifying the timeout for the _msearch in the body (#26446)
  src/ui/public/courier/fetch/request/serialize_fetch_params/serialize_fetch_params.js
  src/ui/public/field_editor/lib/validate_script.js
Labels: backport

#26543 [6.5] Fixes #26052 - Change time range for waffle map from last hour to last 5 minutes (#26278)
  x-pack/plugins/infra/public/store/local/waffle_time/selectors.ts
Labels: backport

#26542 [6.5] Fix Potential Color Bugs (#26292)
  x-pack/plugins/infra/public/components/waffle/index.tsx
  x-pack/plugins/infra/public/components/waffle/lib/color_from_value.ts
Labels: backport

#26426 [InfraOps] Fix for AutoRefresh button on node detail page
  x-pack/plugins/infra/public/pages/metrics/index.tsx
Labels: :Infra UI, review, v6.6.0, v7.0.0

#26560 [Telemetry] Error handling: local stats collection/permissions bug fix
  x-pack/plugins/xpack_main/server/routes/api/v1/telemetry/telemetry.js
Labels: :Telemetry, review, v6.6.0, v7.0.0

#26519 [6.x] [k7/Infra UI] Integrate with K7 Breadcrumbs (#25938)
  src/ui/public/chrome/api/breadcrumbs.ts
  src/ui/public/chrome/index.d.ts
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/components/header/external_header.tsx
  x-pack/plugins/infra/public/components/header/header.tsx
  x-pack/plugins/infra/public/components/header/index.ts
  x-pack/plugins/infra/public/components/header/legacy_header.tsx
  x-pack/plugins/infra/public/containers/with_kibana_chrome.tsx
Labels: backport

#22757 Translations for Reporting plugin
  .i18nrc.json
  src/ui/public/share/show_share_context_menu.tsx
  x-pack/plugins/reporting/export_types/common/lib/screenshots.js
  x-pack/plugins/reporting/export_types/csv/server/execute_job.js
  x-pack/plugins/reporting/export_types/csv/server/lib/hit_iterator.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/execute_job/compatibility_shim.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/execute_job/index.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/pdf/index.js
  x-pack/plugins/reporting/index.js
  x-pack/plugins/reporting/public/components/report_error_button.tsx
  x-pack/plugins/reporting/public/components/report_listing.tsx
  x-pack/plugins/reporting/public/components/reporting_panel_content.tsx
  x-pack/plugins/reporting/public/components/screen_capture_panel_content.tsx
  x-pack/plugins/reporting/public/constants/job_statuses.tsx
  x-pack/plugins/reporting/public/hacks/job_completion_notifier.js
  x-pack/plugins/reporting/public/register_feature.js
  x-pack/plugins/reporting/public/share_context_menu/register_csv_reporting.tsx
  x-pack/plugins/reporting/public/share_context_menu/register_reporting.tsx
  x-pack/plugins/reporting/public/views/management/jobs.js
  x-pack/plugins/reporting/public/views/management/management.js
  x-pack/yarn.lock
Labels: :KibanaApp, :Sharing, :i18n, v6.6.0

#26494 opportunistic cleanup
  x-pack/plugins/xpack_main/index.js
  x-pack/plugins/xpack_main/server/routes/api/v1/index.js
Labels: :xpack_main, review, v6.6.0, v7.0.0

#26564 [6.x] Fixes AutoRefresh button on node detail page (#26426)
  x-pack/plugins/infra/public/pages/metrics/index.tsx
Labels: backport

#26532 [6.x] Fix scrolling list on Firefox (#26246)
  src/legacy/core_plugins/kibana/public/visualize/wizard/__snapshots__/new_vis_modal.test.tsx.snap
  src/legacy/core_plugins/kibana/public/visualize/wizard/_dialog.scss
  src/legacy/core_plugins/kibana/public/visualize/wizard/type_selection/type_selection.tsx
Labels: backport

#26450 [Rollups] Support date fields in Metrics step.
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps/step_metrics.js
Labels: :Elasticsearch UI, es-management, release_note:enhancement, v6.6.0, v7.0.0

#26436 [APM] Move impact calculation to Elasticsearch
  x-pack/plugins/apm/server/lib/transaction_groups/__snapshots__/fetcher.test.ts.snap
  x-pack/plugins/apm/server/lib/transaction_groups/__snapshots__/transform.test.ts.snap
  x-pack/plugins/apm/server/lib/transaction_groups/fetcher.ts
  x-pack/plugins/apm/server/lib/transaction_groups/mock-responses/transactionGroupsResponse.ts
  x-pack/plugins/apm/server/lib/transaction_groups/transform.test.ts
  x-pack/plugins/apm/server/lib/transaction_groups/transform.ts
Labels: :apm, v6.5.0, v6.6.0

#26563 [6.x] Move SavedObjectClient types alongside js source (#26448)
  src/server/saved_objects/index.d.ts
  src/server/saved_objects/service/create_saved_objects_service.d.ts
  src/server/saved_objects/service/index.d.ts
  src/server/saved_objects/service/lib/index.d.ts
  src/server/saved_objects/service/lib/scoped_client_provider.d.ts
  src/server/saved_objects/service/saved_objects_client.d.ts
  x-pack/plugins/spaces/index.ts
  x-pack/plugins/spaces/server/lib/saved_objects_client/saved_objects_client_wrapper_factory.ts
  x-pack/plugins/spaces/server/lib/saved_objects_client/spaces_saved_objects_client.ts
  x-pack/plugins/spaces/server/lib/space_request_interceptors.test.ts
Labels: backport

#25809 GAP: Security disables UI capabilities
  x-pack/plugins/ml/index.js
  x-pack/plugins/monitoring/init.js
  x-pack/plugins/security/index.js
  x-pack/plugins/security/server/lib/__snapshots__/optional_plugin.test.ts.snap
  x-pack/plugins/security/server/lib/authorization/__snapshots__/check_privileges.test.js.snap
  x-pack/plugins/security/server/lib/authorization/__snapshots__/check_privileges.test.ts.snap
  x-pack/plugins/security/server/lib/authorization/__snapshots__/disable_ui_capabilities.test.ts.snap
  x-pack/plugins/security/server/lib/authorization/__snapshots__/validate_es_response.test.ts.snap
  x-pack/plugins/security/server/lib/authorization/check_privileges.js
  x-pack/plugins/security/server/lib/authorization/check_privileges.test.js
  x-pack/plugins/security/server/lib/authorization/check_privileges.test.ts
  x-pack/plugins/security/server/lib/authorization/check_privileges.ts
  x-pack/plugins/security/server/lib/authorization/check_privileges_dynamically.test.ts
  x-pack/plugins/security/server/lib/authorization/check_privileges_dynamically.ts
  x-pack/plugins/security/server/lib/authorization/disable_ui_capabilities.test.ts
  x-pack/plugins/security/server/lib/authorization/disable_ui_capabilities.ts
  x-pack/plugins/security/server/lib/authorization/index.ts
  x-pack/plugins/security/server/lib/authorization/service.js
  x-pack/plugins/security/server/lib/authorization/service.test.js
  x-pack/plugins/security/server/lib/authorization/types.ts
  x-pack/plugins/security/server/lib/authorization/validate_es_response.test.ts
  x-pack/plugins/security/server/lib/authorization/validate_es_response.ts
  x-pack/plugins/security/server/lib/capability_decorator.ts
  x-pack/plugins/security/server/lib/optional_plugin.test.ts
  x-pack/plugins/security/server/lib/optional_plugin.ts
  x-pack/plugins/security/server/lib/saved_objects_client/secure_saved_objects_client_wrapper.js
  x-pack/plugins/security/server/lib/saved_objects_client/secure_saved_objects_client_wrapper.test.js
  x-pack/plugins/spaces/public/views/nav_control/nav_control.tsx
  x-pack/plugins/xpack_main/server/lib/feature_registry/feature_registry.ts
  x-pack/plugins/xpack_main/server/lib/setup_xpack_main.js
Labels: :Security

#26556 Return support for `i18n.defaultLocale` and mark it as deprecated.
  src/server/config/transform_deprecations.js
Labels: :Platform, :i18n, release_note:deprecation, v6.5.3, v6.6.0

#26559 [npm] prepare @kbn/datemath for publishing
  .eslintrc.js
  package.json
  packages/README.md
  packages/elastic-datemath/.babelrc
  packages/elastic-datemath/package.json
  packages/elastic-datemath/readme.md
  packages/elastic-datemath/src/index.d.ts
  packages/elastic-datemath/src/index.js
  packages/elastic-datemath/test/index.js
  packages/elastic-datemath/tsconfig.json
  packages/kbn-pm/README.md
  src/dev/mocha/run_mocha_cli.js
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/metrics/common/interval_regexp.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/helpers/parse_interval.js
  src/legacy/core_plugins/vega/public/vega_view/vega_base_view.js
  src/ui/public/directives/validate_date_math.js
  src/ui/public/time_buckets/calc_es_interval.js
  src/ui/public/timefilter/get_time.js
  src/ui/public/timepicker/parse_relative_parts.js
  src/ui/public/timepicker/pretty_duration.js
  src/ui/public/timepicker/timepicker.js
  src/ui/public/utils/parse_es_interval/invalid_es_calendar_interval_error.ts
  src/ui/public/utils/parse_es_interval/parse_es_interval.ts
  src/ui/public/utils/parse_interval.js
  src/ui/public/vis/lib/least_common_interval.ts
  src/ui/public/vislib/visualizations/time_marker.js
  x-pack/package.json
  x-pack/plugins/ml/common/util/parse_interval.js
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/util/ml_time_buckets.js
  x-pack/plugins/reporting/export_types/common/lib/get_absolute_time.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/threshold_watch_edit/threshold_watch_edit.js
  yarn.lock
Labels: :Platform, v6.6.0, v7.0.0

#26580 [6.x] [Rollups] Support date fields in Metrics step. (#26450)
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps/step_metrics.js
Labels: backport

#26576 [6.x] opportunistic cleanup (#26494)
  x-pack/plugins/xpack_main/index.js
  x-pack/plugins/xpack_main/server/routes/api/v1/index.js
Labels: backport

#26569 [6.x] Translations for Reporting plugin (#22757)
  .i18nrc.json
  src/ui/public/share/show_share_context_menu.tsx
  x-pack/plugins/reporting/export_types/common/lib/screenshots.js
  x-pack/plugins/reporting/export_types/csv/server/execute_job.js
  x-pack/plugins/reporting/export_types/csv/server/lib/hit_iterator.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/execute_job/compatibility_shim.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/execute_job/index.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/pdf/index.js
  x-pack/plugins/reporting/index.js
  x-pack/plugins/reporting/public/components/report_error_button.tsx
  x-pack/plugins/reporting/public/components/report_listing.tsx
  x-pack/plugins/reporting/public/components/reporting_panel_content.tsx
  x-pack/plugins/reporting/public/components/screen_capture_panel_content.tsx
  x-pack/plugins/reporting/public/constants/job_statuses.tsx
  x-pack/plugins/reporting/public/hacks/job_completion_notifier.js
  x-pack/plugins/reporting/public/register_feature.js
  x-pack/plugins/reporting/public/share_context_menu/register_csv_reporting.tsx
  x-pack/plugins/reporting/public/share_context_menu/register_reporting.tsx
  x-pack/plugins/reporting/public/views/management/jobs.js
  x-pack/plugins/reporting/public/views/management/management.js
  x-pack/yarn.lock
Labels: backport, v6.6.0

#26567 [6.x] [Telemetry] Error handling: local stats collection/permissions bug fix (#26560)
  x-pack/plugins/xpack_main/server/routes/api/v1/telemetry/telemetry.js
Labels: backport, v6.6.0

#25890 Feat: Canvas Clipboard
  x-pack/plugins/canvas/__tests__/fixtures/workpads.js
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/expression/index.js
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.js
  x-pack/plugins/canvas/public/components/workpad_page/index.js
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.js
  x-pack/plugins/canvas/public/lib/__tests__/clipboard.js
  x-pack/plugins/canvas/public/lib/clipboard.js
  x-pack/plugins/canvas/public/lib/keymap.js
  x-pack/plugins/canvas/tasks/helpers/babelhook.js
  x-pack/plugins/canvas/tasks/mocks/uiStorage.js
Labels: :Canvas, review, v6.6.0, v7.0.0

#26581 [6.x] [APM] Split API into transactions and transaction_groups (#26349) | [APM] Sort by score to get transaction samples with sampled:true (#26389) | [APM] Move impact calculation to Elasticsearch (#26436)
  x-pack/plugins/apm/index.js
  x-pack/plugins/apm/public/components/app/ServiceOverview/__test__/ServiceOverview.test.js
  x-pack/plugins/apm/public/components/app/ServiceOverview/view.tsx
  x-pack/plugins/apm/public/services/rest/apm.ts
  x-pack/plugins/apm/public/services/rest/apm/apm.ts
  x-pack/plugins/apm/public/services/rest/apm/error_groups.ts
  x-pack/plugins/apm/public/services/rest/apm/services.ts
  x-pack/plugins/apm/public/services/rest/apm/status_check.ts
  x-pack/plugins/apm/public/services/rest/apm/traces.ts
  x-pack/plugins/apm/public/services/rest/apm/transaction_groups.ts
  x-pack/plugins/apm/public/services/rest/apm/transactions.ts
  x-pack/plugins/apm/public/services/rest/xpack.ts
  x-pack/plugins/apm/public/store/reactReduxRequest/__jest__/serviceList.test.js
  x-pack/plugins/apm/public/store/reactReduxRequest/errorDistribution.js
  x-pack/plugins/apm/public/store/reactReduxRequest/errorGroup.js
  x-pack/plugins/apm/public/store/reactReduxRequest/errorGroupList.js
  x-pack/plugins/apm/public/store/reactReduxRequest/license.js
  x-pack/plugins/apm/public/store/reactReduxRequest/serviceDetails.js
  x-pack/plugins/apm/public/store/reactReduxRequest/serviceList.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/traceList.js
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionDetails.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionDetailsCharts.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionDistribution.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionList.js
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionOverviewCharts.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/waterfallV1.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/waterfallV2.tsx
  x-pack/plugins/apm/server/lib/transaction_groups/__snapshots__/fetcher.test.ts.snap
  x-pack/plugins/apm/server/lib/transaction_groups/__snapshots__/transform.test.ts.snap
  x-pack/plugins/apm/server/lib/transaction_groups/fetcher.ts
  x-pack/plugins/apm/server/lib/transaction_groups/mock-responses/transactionGroupsResponse.ts
  x-pack/plugins/apm/server/lib/transaction_groups/transform.test.ts
  x-pack/plugins/apm/server/lib/transaction_groups/transform.ts
  x-pack/plugins/apm/server/lib/transactions/distribution/calculate_bucket_size.ts
  x-pack/plugins/apm/server/lib/transactions/distribution/get_buckets/fetcher.ts
  x-pack/plugins/apm/server/lib/transactions/distribution/get_buckets/index.ts
  x-pack/plugins/apm/server/lib/transactions/distribution/index.ts
  x-pack/plugins/apm/server/routes/transaction_groups.ts
  x-pack/plugins/apm/server/routes/transactions.ts
Labels: backport

#26099 [DOCS] Adds links to more limitations
  docs/graph/gs-index.asciidoc
  docs/graph/index.asciidoc
  docs/graph/limitations.asciidoc
  docs/limitations.asciidoc
Labels: docs, v6.5.2, v6.6.0, v7.0.0

#26584 [visualize] implement k7Breadcrumbs
  src/legacy/core_plugins/kibana/public/visualize/breadcrumbs.ts
  src/legacy/core_plugins/kibana/public/visualize/editor/editor.js
  src/legacy/core_plugins/kibana/public/visualize/index.js
  src/legacy/core_plugins/kibana/public/visualize/listing/visualize_listing.html
  src/legacy/core_plugins/kibana/public/visualize/wizard/step_2.html
  src/legacy/core_plugins/kibana/public/visualize/wizard/wizard.js
Labels: :KibanaApp, review, v7.0.0

#26595 [6.x] [APM] Show tags in span details (#26396)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/typings/Span.ts
Labels: backport

#26601 [6.x] [Telemetry] Remove initial delay to check and send (#26575)
  x-pack/plugins/xpack_main/public/hacks/telemetry.js
Labels: backport

#26590 Specify Rollup Jobs breadcrumbs in header.
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/rollup/public/crud_app/services/breadcrumbs.js
  x-pack/plugins/rollup/public/crud_app/services/index.js
Labels: :Elasticsearch UI, es-management, v6.6.0, v7.0.0

#26523 [CCR] Edit auto-follow pattern UI
  x-pack/plugins/cross_cluster_replication/fixtures/autofollow_pattern.js
  x-pack/plugins/cross_cluster_replication/fixtures/es_errors.js
  x-pack/plugins/cross_cluster_replication/fixtures/index.js
  x-pack/plugins/cross_cluster_replication/public/app/components/auto_follow_pattern_form.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/auto_follow_pattern_add/auto_follow_pattern_add.container.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/auto_follow_pattern_add/auto_follow_pattern_add.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/auto_follow_pattern_edit/auto_follow_pattern_edit.container.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/auto_follow_pattern_edit/auto_follow_pattern_edit.js
  x-pack/plugins/cross_cluster_replication/public/app/services/api.js
  x-pack/plugins/cross_cluster_replication/public/app/store/action_types.js
  x-pack/plugins/cross_cluster_replication/public/app/store/actions/auto_follow_pattern.js
  x-pack/plugins/cross_cluster_replication/public/app/store/api_middleware.js
  x-pack/plugins/cross_cluster_replication/public/app/store/reducers/auto_follow_pattern.js
  x-pack/plugins/cross_cluster_replication/server/client/elasticsearch_ccr.js
  x-pack/plugins/cross_cluster_replication/server/lib/autofollow_pattern_serialization.js
  x-pack/plugins/cross_cluster_replication/server/lib/autofollow_pattern_serialization.test.js
  x-pack/plugins/cross_cluster_replication/server/routes/api/auto_follow_pattern.js
  x-pack/plugins/cross_cluster_replication/server/routes/api/auto_follow_pattern.test.js
  x-pack/test/api_integration/apis/management/cross_cluster_replication/auto_follow_pattern.js
Labels: :Elasticsearch UI, CCR, es-management

#26588 [6.x] Return support for `i18n.defaultLocale` and mark it as deprecated. (#26556)
  src/server/config/transform_deprecations.js
Labels: backport

#26589 [6.5] Return support for `i18n.defaultLocale` and mark it as deprecated. (#26556)
  src/server/config/transform_deprecations.js
Labels: backport

#26176 translate logstash
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/pipelines_table.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/pipeline_list.js
  x-pack/plugins/logstash/public/components/pipeline_list/pipeline_list.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/pipelines_table.js
  x-pack/plugins/logstash/public/components/pipeline_list/pipelines_table.test.js
  x-pack/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure.test.js.snap
  x-pack/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure_actions.test.js.snap
  x-pack/plugins/logstash/public/components/upgrade_failure/constants.js
  x-pack/plugins/logstash/public/components/upgrade_failure/upgrade_failure.test.js
  x-pack/plugins/logstash/public/components/upgrade_failure/upgrade_failure_actions.js
  x-pack/plugins/logstash/public/components/upgrade_failure/upgrade_failure_actions.test.js
  x-pack/plugins/logstash/public/lib/register_home_feature/register_home_feature.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/upgrade_failure/upgrade_failure.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/pipeline_edit_route.js
  x-pack/plugins/logstash/public/sections/pipeline_list/register_management_section.js
  x-pack/plugins/logstash/server/lib/check_license/check_license.js
  x-pack/plugins/logstash/server/lib/error_wrappers/wrap_es_error.js
  x-pack/plugins/logstash/server/models/pipeline/pipeline.js
Labels: :i18n, review, v6.6.0

#26404 Add rest_total_hits_as_int into Kibana App
  src/legacy/core_plugins/metrics/server/lib/vis_data/get_annotations.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/get_series_data.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/table/get_column_data.js
  src/ui/public/courier/search_strategy/default_search_strategy.js
  src/ui/public/courier/search_strategy/default_search_strategy.test.js
  x-pack/plugins/graph/public/graphClientWorkspace.js
  x-pack/plugins/graph/server/lib/es/call_es_search_api.js
  x-pack/plugins/reporting/server/usage/get_reporting_type_counts.js
  x-pack/plugins/rollup/server/routes/api/search.js
Labels: :KibanaApp, v6.6.0, v7.0.0

#26432 Add rest_total_hits_as_int into kibana platform
  src/es_archiver/lib/docs/__tests__/generate_doc_records_stream.js
  src/es_archiver/lib/docs/generate_doc_records_stream.js
  src/server/saved_objects/service/lib/repository.js
  src/server/saved_objects/service/lib/repository.test.js
Labels: :Platform, review, v7.0.0

#26613 [6.x] [ML] Add rest_total_hit_as_int where total hits is required (#26421)
  x-pack/plugins/ml/public/jobs/components/custom_url_editor/utils.js
  x-pack/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_service.js
  x-pack/plugins/ml/public/services/forecast_service.js
  x-pack/plugins/ml/public/services/job_messages_service.js
  x-pack/plugins/ml/public/services/results_service.js
  x-pack/plugins/ml/server/models/data_recognizer/data_recognizer.js
  x-pack/plugins/ml/server/models/data_visualizer/data_visualizer.js
  x-pack/plugins/ml/server/models/job_audit_messages/job_audit_messages.js
  x-pack/plugins/ml/server/models/results_service/results_service.js
Labels: :ml, :ml-config, :ml-results, backport

#26512 [6.x] translate logstash (#26169)
  .i18nrc.json
  x-pack/plugins/logstash/common/constants/tooltips.js
  x-pack/plugins/logstash/public/components/pipeline_editor/__snapshots__/confirm_delete_pipeline_modal.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_editor/__snapshots__/pipeline_editor.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_editor/confirm_delete_pipeline_modal.js
  x-pack/plugins/logstash/public/components/pipeline_editor/constants.js
  x-pack/plugins/logstash/public/components/pipeline_editor/pipeline_editor.js
  x-pack/plugins/logstash/public/components/pipeline_editor/pipeline_editor.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/add_role_alert.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/alert_call_out.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/confirm_delete_modal.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/enable_monitoring_alert.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/add_role_alert.js
  x-pack/plugins/logstash/public/components/pipeline_list/add_role_alert.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/alert_call_out.js
  x-pack/plugins/logstash/public/components/pipeline_list/alert_call_out.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/confirm_delete_modal.js
  x-pack/plugins/logstash/public/components/pipeline_list/confirm_delete_modal.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/constants.js
  x-pack/plugins/logstash/public/components/pipeline_list/enable_monitoring_alert.js
  x-pack/plugins/logstash/public/components/pipeline_list/enable_monitoring_alert.test.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/pipeline_edit/pipeline_edit.js
  x-pack/plugins/logstash/public/sections/pipeline_list/components/pipeline_list/pipeline_list.js
Labels: backport

#26615 [6.x] Add rest_total_hits_as_int into kibana platform (#26432)
  src/es_archiver/lib/docs/__tests__/generate_doc_records_stream.js
  src/es_archiver/lib/docs/generate_doc_records_stream.js
  src/server/saved_objects/service/lib/repository.js
  src/server/saved_objects/service/lib/repository.test.js
Labels: backport

#26614 [6.x] Add rest_total_hits_as_int into Kibana App (#26404)
  src/legacy/core_plugins/metrics/server/lib/vis_data/get_annotations.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/get_series_data.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/table/get_column_data.js
  src/ui/public/courier/search_strategy/default_search_strategy.js
  src/ui/public/courier/search_strategy/default_search_strategy.test.js
  x-pack/plugins/graph/public/graphClientWorkspace.js
  x-pack/plugins/graph/server/lib/es/call_es_search_api.js
  x-pack/plugins/reporting/server/usage/get_reporting_type_counts.js
  x-pack/plugins/rollup/server/routes/api/search.js
Labels: backport

#26524 [6.x] [i18n] Update guideline (#25098)
  packages/kbn-i18n/GUIDELINE.md
  packages/kbn-i18n/README.md
Labels: backport

#26082 translate login/logout visualization component part 2
  x-pack/plugins/security/public/components/management/users/edit_user.js
  x-pack/plugins/security/public/hacks/on_session_timeout.js
  x-pack/plugins/security/public/register_feature.js
  x-pack/plugins/security/public/views/login/components/basic_login_form/__snapshots__/basic_login_form.test.tsx.snap
  x-pack/plugins/security/public/views/login/components/basic_login_form/basic_login_form.test.tsx
  x-pack/plugins/security/public/views/login/components/basic_login_form/basic_login_form.tsx
  x-pack/plugins/security/public/views/login/components/login_page/__snapshots__/login_page.test.tsx.snap
  x-pack/plugins/security/public/views/login/login.tsx
  x-pack/plugins/security/public/views/management/change_password_form/change_password_form.html
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/__snapshots__/elasticsearch_privileges.test.tsx.snap
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/elasticsearch_privileges.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/index_privilege_form.test.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/index_privilege_form.tsx
  x-pack/plugins/security/public/views/management/password_form/password_form.html
  x-pack/plugins/security/public/views/management/roles.html
  x-pack/plugins/security/public/views/nav_control/nav_control.html
  x-pack/plugins/security/public/views/nav_control/nav_control.js
Labels: :i18n

#26515 [6.x] Move timeout to _msearch body in TSVB requests (#26510)
  src/legacy/core_plugins/metrics/server/lib/vis_data/get_annotations.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/series/get_request_params.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/table/get_request_params.js
Labels: backport

#26609 fixing brush in discover
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
  test/functional/apps/discover/_discover.js
  test/functional/page_objects/discover_page.js
Labels: :KibanaApp

#26541 [6.x] [ML] Removes unused SCSS files from deprecated custom URL editor (#26474)
  x-pack/plugins/ml/public/jobs/_index.scss
  x-pack/plugins/ml/public/jobs/components/custom_url_editor_old/_custom_url_editor.scss
  x-pack/plugins/ml/public/jobs/components/custom_url_editor_old/_index.scss
Labels: :ml, :ml-config, backport

#26610 [6.x] translate logstash (#26176)
  x-pack/plugins/logstash/public/components/pipeline_list/__snapshots__/pipelines_table.test.js.snap
  x-pack/plugins/logstash/public/components/pipeline_list/pipeline_list.js
  x-pack/plugins/logstash/public/components/pipeline_list/pipeline_list.test.js
  x-pack/plugins/logstash/public/components/pipeline_list/pipelines_table.js
  x-pack/plugins/logstash/public/components/pipeline_list/pipelines_table.test.js
  x-pack/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure.test.js.snap
  x-pack/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure_actions.test.js.snap
  x-pack/plugins/logstash/public/components/upgrade_failure/constants.js
  x-pack/plugins/logstash/public/components/upgrade_failure/upgrade_failure.test.js
  x-pack/plugins/logstash/public/components/upgrade_failure/upgrade_failure_actions.js
  x-pack/plugins/logstash/public/components/upgrade_failure/upgrade_failure_actions.test.js
  x-pack/plugins/logstash/public/lib/register_home_feature/register_home_feature.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/components/upgrade_failure/upgrade_failure.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/pipeline_edit_route.js
  x-pack/plugins/logstash/public/sections/pipeline_list/register_management_section.js
  x-pack/plugins/logstash/server/lib/check_license/check_license.js
  x-pack/plugins/logstash/server/lib/error_wrappers/wrap_es_error.js
  x-pack/plugins/logstash/server/models/pipeline/pipeline.js
Labels: backport

#26621 [6.x] translate login/logout visualization component part 2 (#26082)
  x-pack/plugins/security/public/components/management/users/edit_user.js
  x-pack/plugins/security/public/hacks/on_session_timeout.js
  x-pack/plugins/security/public/register_feature.js
  x-pack/plugins/security/public/views/login/components/basic_login_form/__snapshots__/basic_login_form.test.tsx.snap
  x-pack/plugins/security/public/views/login/components/basic_login_form/basic_login_form.test.tsx
  x-pack/plugins/security/public/views/login/components/basic_login_form/basic_login_form.tsx
  x-pack/plugins/security/public/views/login/components/login_page/__snapshots__/login_page.test.tsx.snap
  x-pack/plugins/security/public/views/login/login.tsx
  x-pack/plugins/security/public/views/management/change_password_form/change_password_form.html
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/__snapshots__/elasticsearch_privileges.test.tsx.snap
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/elasticsearch_privileges.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/index_privilege_form.test.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/index_privilege_form.tsx
  x-pack/plugins/security/public/views/management/password_form/password_form.html
  x-pack/plugins/security/public/views/management/roles.html
  x-pack/plugins/security/public/views/nav_control/nav_control.html
  x-pack/plugins/security/public/views/nav_control/nav_control.js
Labels: backport

#26625 [6.x] fixing brush in discover (#26609)
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
  test/functional/apps/discover/_discover.js
  test/functional/page_objects/discover_page.js
Labels: backport

#26626 [6.5] fixing brush in discover (#26609)
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/kibana/public/discover/index.html
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
  test/functional/apps/discover/_discover.js
  test/functional/page_objects/discover_page.js
Labels: backport

#26623 [6.5] Move timeout to _msearch body in TSVB requests (#26510)
  src/core_plugins/metrics/server/lib/vis_data/get_annotations.js
  src/core_plugins/metrics/server/lib/vis_data/series/get_request_params.js
  src/core_plugins/metrics/server/lib/vis_data/table/get_request_params.js
Labels: backport

#26179 [i18n] Translate Saved_Objects
  src/legacy/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/add_panel.test.js.snap
  src/legacy/core_plugins/kibana/public/discover/top_nav/__snapshots__/open_search_panel.test.js.snap
  src/ui/public/saved_objects/components/saved_object_finder.js
  src/ui/public/saved_objects/components/saved_object_save_modal.js
Labels: :Platform, :i18n, review, v6.6.0

#26627 [I18n] Fix for Discover
  src/legacy/core_plugins/kibana/public/discover/components/fetch_error/fetch_error.js
Labels: :i18n, v6.6.0

#26514 [i18n] Translate courier
  src/ui/public/courier/fetch/call_client.js
  src/ui/public/courier/fetch/call_response_handlers.js
  src/ui/public/courier/fetch/fetch_now.js
  src/ui/public/courier/fetch/request/search_request/search_request.js
  src/ui/public/courier/saved_object/saved_object.js
  src/ui/public/courier/saved_object/ui/saved_object_save_as_checkbox.html
  src/ui/public/courier/search_strategy/no_op_search_strategy.js
Labels: :KibanaApp, :i18n, review, v6.6.0

#26633 [6.5] fixing brush in discover (#26609)
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/kibana/public/discover/index.html
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
  test/functional/apps/discover/_discover.js
  test/functional/page_objects/discover_page.js
Labels: backport

#26568 [DOCS] Adds release notes for 5.6.14
  docs/CHANGELOG.asciidoc
Labels: docs, v5.6.14

#26495 [DOCS] Adds Release Notes for 6.5.2
  docs/CHANGELOG.asciidoc
Labels: docs, v6.5.2

#26434 [Reporting] clarify what phantom deprecation means
  docs/settings/reporting-settings.asciidoc
  x-pack/plugins/reporting/index.js
Labels: :Reporting, docs, review, v6.6.0, v7.0.0

#26599 [DOCS] Fixes link title
  docs/limitations.asciidoc
Labels: docs, v7.0.0

#26578 [6.x] Update to EUI 5.3.0 (#26485)
  package.json
  typings/@elastic/eui/index.d.ts
  x-pack/package.json
  x-pack/plugins/apm/public/components/shared/HistoryTabs/__test__/HistoryTabs.test.tsx
  x-pack/plugins/beats_management/public/components/inputs/input.tsx
  x-pack/plugins/beats_management/public/components/inputs/multi_input.tsx
  x-pack/plugins/beats_management/public/components/inputs/select.tsx
  x-pack/plugins/infra/types/eui.d.ts
  x-pack/plugins/infra/types/eui_experimental.d.ts
  yarn.lock
Labels: backport

#26479 Use proper Kibana index for KQL telemetry
  src/legacy/core_plugins/kibana/server/lib/kql_usage_collector/fetch.js
  src/legacy/core_plugins/kibana/server/lib/kql_usage_collector/fetch.test.js
  src/legacy/core_plugins/kibana/server/lib/kql_usage_collector/make_kql_usage_collector.js
  src/legacy/core_plugins/kibana/server/lib/kql_usage_collector/make_kql_usage_collector.test.js
Labels: :KQL, :KibanaApp, :Telemetry, review, v6.5.3, v6.6.0, v7.0.0

#25764 Feat: Reuse Canvas Assets
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/forms/file.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/forms/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/forms/link.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
  x-pack/plugins/canvas/public/components/arg_form/arg_form.js
  x-pack/plugins/canvas/public/components/arg_form/index.js
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/asset_manager/index.js
  x-pack/plugins/canvas/public/components/asset_picker/asset_picker.js
  x-pack/plugins/canvas/public/components/asset_picker/asset_picker.scss
  x-pack/plugins/canvas/public/components/asset_picker/index.js
  x-pack/plugins/canvas/public/components/sidebar/sidebar.scss
  x-pack/plugins/canvas/public/style/index.scss
Labels: :Canvas, review, v6.6.0, v7.0.0

#26642 Remove duplicate dep, x-pack/yarn.lock
  x-pack/.gitignore
  x-pack/package.json
  x-pack/yarn.lock
Labels: :Operations, v6.6.0, v7.0.0

#26587 [discover] implement k7Breadcrumbs
  src/legacy/core_plugins/kibana/public/context/app.html
  src/legacy/core_plugins/kibana/public/context/app.js
  src/legacy/core_plugins/kibana/public/context/index.js
  src/legacy/core_plugins/kibana/public/discover/breadcrumbs.js
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/legacy/core_plugins/kibana/public/doc/controllers/doc.js
  src/legacy/core_plugins/kibana/public/doc/index.html
Labels: :KibanaApp, review, v7.0.0

#26545 [server/config] add dist flag to config context
  src/server/config/config.js
Labels: :Platform, review, v6.7.0, v7.0.0

#26646 [6.x] [server/config] add dist flag to config context (#26545)
  src/server/config/config.js
Labels: backport

#26603 [management/security] implement k7Breadcrumbs
  src/ui/public/management/breadcrumbs.ts
  x-pack/plugins/security/public/views/account/account.html
  x-pack/plugins/security/public/views/account/account.js
  x-pack/plugins/security/public/views/management/breadcrumbs.ts
  x-pack/plugins/security/public/views/management/edit_role/index.js
  x-pack/plugins/security/public/views/management/edit_user.js
  x-pack/plugins/security/public/views/management/roles.js
  x-pack/plugins/security/public/views/management/users.js
Labels: :Security, review, v7.0.0

#26637 [6.x] Use single qoutes (#26627)
  src/legacy/core_plugins/kibana/public/discover/components/fetch_error/fetch_error.js
Labels: backport

#26307 Adding in browser info to the report-info drawer
  x-pack/plugins/reporting/common/constants.ts
  x-pack/plugins/reporting/export_types/csv/server/index.js
  x-pack/plugins/reporting/export_types/png/server/index.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/index.js
  x-pack/plugins/reporting/public/components/report_info_button.tsx
  x-pack/plugins/reporting/public/lib/job_queue_client.ts
  x-pack/plugins/reporting/server/lib/enqueue_job.js
  x-pack/plugins/reporting/server/lib/esqueue/__tests__/job.js
  x-pack/plugins/reporting/server/lib/esqueue/helpers/create_index.js
  x-pack/plugins/reporting/server/lib/esqueue/job.js
Labels: :Reporting, review, v6.6.0, v7.0.0

#26591 [graph] implement k7Breadcrumbs
  x-pack/plugins/graph/public/app.js
  x-pack/plugins/graph/public/breadcrumbs.js
  x-pack/plugins/graph/public/templates/index.html
Labels: :Graph, :KibanaApp, review, v7.0.0

#26596 [Rollups] Require histogram interval in Rollup Job wizard to be a whole number.
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps_config/validate_histogram_interval.js
Labels: :Elasticsearch UI, es-management, v6.6.0, v7.0.0

#26649 Skip flaky tsvb test
  test/functional/apps/visualize/_tsvb_chart.js
Labels: test, v6.7.0, v7.0.0

#26598 [errors][dev tools] implement k7Breadcrumbs
  src/legacy/core_plugins/console/public/console.js
  src/legacy/core_plugins/kibana/public/dev_tools/index.js
  src/ui/public/error_allow_explicit_index/error_allow_explicit_index.js
  src/ui/public/error_auto_create_index/error_auto_create_index.js
  src/ui/public/error_url_overflow/error_url_overflow.js
Labels: :Dev Tools, :Elasticsearch UI, review, v7.0.0

#26397 Adds clear function
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/__tests__/clear.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/clear.js
Labels: :Canvas, review, v6.6.0, v7.0.0

#26644 [6.x] Feat: Reuse Canvas Assets (#25764)
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/forms/file.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/forms/index.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/forms/link.js
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
  x-pack/plugins/canvas/public/components/arg_form/arg_form.js
  x-pack/plugins/canvas/public/components/arg_form/index.js
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/asset_manager/index.js
  x-pack/plugins/canvas/public/components/asset_picker/asset_picker.js
  x-pack/plugins/canvas/public/components/asset_picker/asset_picker.scss
  x-pack/plugins/canvas/public/components/asset_picker/index.js
  x-pack/plugins/canvas/public/components/sidebar/sidebar.scss
  x-pack/plugins/canvas/public/style/index.scss
Labels: backport

#26585 [6.x] Consistent error messages between esdocs and essql (#26399)
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/esdocs.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/essql.js
  x-pack/plugins/canvas/server/lib/query_es_sql.js
Labels: backport

#26586 [6.5] Consistent error messages between esdocs and essql (#26399)
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/esdocs.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/essql.js
  x-pack/plugins/canvas/server/lib/query_es_sql.js
Labels: backport

#26573 Fixes page thumbnail sizes
  x-pack/plugins/canvas/public/components/page_manager/page_manager.js
Labels: :Canvas, review, v6.6.0, v7.0.0

#26657 [6.x] Require histogram interval in Rollup Job wizard to be a whole number. (#26596)
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps_config/validate_histogram_interval.js
Labels: backport

#26656 [6.x] Adding in browser info to the report drawer (#26307)
  x-pack/plugins/reporting/common/constants.ts
  x-pack/plugins/reporting/export_types/csv/server/index.js
  x-pack/plugins/reporting/export_types/png/server/index.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/index.js
  x-pack/plugins/reporting/public/components/report_info_button.tsx
  x-pack/plugins/reporting/public/lib/job_queue_client.ts
  x-pack/plugins/reporting/server/lib/enqueue_job.js
  x-pack/plugins/reporting/server/lib/esqueue/__tests__/job.js
  x-pack/plugins/reporting/server/lib/esqueue/helpers/create_index.js
  x-pack/plugins/reporting/server/lib/esqueue/job.js
Labels: :Reporting, backport

#26640 [6.x] [Reporting] clarify what phantom deprecation means (#26434)
  docs/settings/reporting-settings.asciidoc
  x-pack/plugins/reporting/index.js
Labels: backport, v6.6.0

#26604 [spaces/management] implement k7Breadcrumbs
  src/ui/public/chrome/index.d.ts
  src/ui/public/routes/route_manager.d.ts
  x-pack/plugins/spaces/public/views/management/edit_space/manage_space_page.tsx
  x-pack/plugins/spaces/public/views/management/lib/breadcrumbs.ts
  x-pack/plugins/spaces/public/views/management/lib/index.ts
  x-pack/plugins/spaces/public/views/management/page_routes.tsx
Labels: :Security, review, v7.0.0

#26653 [6.x] Fixes minor visual bug when opening workpad loader (#26647)
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/toolbar/toolbar.js
Labels: backport

#26669 Feat: K7 breadcrumbs in Canvas
  x-pack/plugins/canvas/public/apps/home/routes.js
  x-pack/plugins/canvas/public/apps/workpad/routes.js
  x-pack/plugins/canvas/public/lib/breadcrumbs.js
  x-pack/plugins/canvas/public/state/middleware/breadcrumbs.js
  x-pack/plugins/canvas/public/state/middleware/index.js
Labels: :Canvas, review, v7.0.0

#26661 [6.x] Adds clear function (#26397)
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/__tests__/clear.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/clear.js
Labels: backport

#26663 [6.x] Fixed class names in page manager (#26573)
  x-pack/plugins/canvas/public/components/page_manager/page_manager.js
Labels: backport

#26654 [6.5] Fixes minor visual bug when opening workpad loader (#26647)
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/toolbar/toolbar.js
Labels: backport

#26593 [6.x] Feat: Canvas Clipboard (#25890)
  x-pack/plugins/canvas/__tests__/fixtures/workpads.js
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/expression/index.js
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.js
  x-pack/plugins/canvas/public/components/workpad_page/index.js
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.js
  x-pack/plugins/canvas/public/lib/__tests__/clipboard.js
  x-pack/plugins/canvas/public/lib/clipboard.js
  x-pack/plugins/canvas/public/lib/keymap.js
  x-pack/plugins/canvas/tasks/helpers/babelhook.js
  x-pack/plugins/canvas/tasks/mocks/uiStorage.js
Labels: backport

#26666 [logstash/management] implement k7Breadcrumbs
  x-pack/plugins/logstash/public/sections/breadcrumbs.js
  x-pack/plugins/logstash/public/sections/pipeline_edit/pipeline_edit_route.js
  x-pack/plugins/logstash/public/sections/pipeline_list/pipeline_list_route.js
Labels: :Logstash Pipelines, review, v7.0.0

#26668 [6.x] [APM] Stacktrace heading styles (#26456)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/public/components/shared/CodePreview/__test__/CodePreview.test.js
  x-pack/plugins/apm/public/components/shared/CodePreview/__test__/__snapshots__/CodePreview.test.js.snap
  x-pack/plugins/apm/public/components/shared/CodePreview/index.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/FrameHeading.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/LibraryFrames.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/__test__/stacktraceUtils.test.ts
  x-pack/plugins/apm/public/components/shared/Stacktrace/__test__/stacktraces.json
  x-pack/plugins/apm/public/components/shared/Stacktrace/index.js
  x-pack/plugins/apm/public/components/shared/Stacktrace/index.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/stacktraceUtils.ts
Labels: backport

#26607 Add EuiTablePagination pagination to the bottom of timeline
  x-pack/plugins/secops/public/components/flyout/index.test.tsx
  x-pack/plugins/secops/public/components/timeline/events.ts
  x-pack/plugins/secops/public/components/timeline/index.tsx
  x-pack/plugins/secops/public/components/timeline/timeline.test.tsx
  x-pack/plugins/secops/public/components/timeline/timeline.tsx
  x-pack/plugins/secops/public/pages/home/index.tsx
  x-pack/plugins/secops/public/store/local/timeline/actions.ts
  x-pack/plugins/secops/public/store/local/timeline/model.ts
  x-pack/plugins/secops/public/store/local/timeline/reducer.test.ts
  x-pack/plugins/secops/public/store/local/timeline/reducer.ts
Labels: :SecOps UI, loe:hours, review

#26463 back to canvas way of loading plugins
  packages/kbn-interpreter/src/common/index.js
  packages/kbn-interpreter/src/common/lib/paths_registry.js
  packages/kbn-interpreter/src/common/lib/paths_registry.test.js
  packages/kbn-interpreter/src/server/get_plugin_paths.js
  packages/kbn-interpreter/src/server/index.js
  packages/kbn-interpreter/src/server/plugin_paths.js
  packages/kbn-interpreter/tasks/build/paths.js
  src/legacy/core_plugins/interpreter/index.js
  src/legacy/core_plugins/interpreter/server/routes/plugins.js
  x-pack/plugins/canvas/index.js
  x-pack/plugins/canvas/plugin_paths.js
Labels: :Canvas, :KibanaApp, review, v6.6.0, v7.0.0

#26676 [6.x] back to canvas way of loading plugins (#26463)
  packages/kbn-interpreter/src/common/index.js
  packages/kbn-interpreter/src/common/lib/paths_registry.js
  packages/kbn-interpreter/src/common/lib/paths_registry.test.js
  packages/kbn-interpreter/src/server/get_plugin_paths.js
  packages/kbn-interpreter/src/server/index.js
  packages/kbn-interpreter/src/server/plugin_paths.js
  packages/kbn-interpreter/tasks/build/paths.js
  src/legacy/core_plugins/interpreter/index.js
  src/legacy/core_plugins/interpreter/server/routes/plugins.js
  x-pack/plugins/canvas/index.js
  x-pack/plugins/canvas/plugin_paths.js
Labels: backport

#26631 [I18n] Update I18n readme
  packages/kbn-i18n/README.md
Labels: :Platform, :i18n, review, v6.6.0

#26634 [I18n] Remove JSON5 dependency from kbn-i18n
  packages/kbn-i18n/package.json
  packages/kbn-i18n/src/__fixtures__/test_plugin_2/translations/fr.json
  packages/kbn-i18n/src/loader.test.ts
  packages/kbn-i18n/src/loader.ts
  yarn.lock
Labels: :Platform, :i18n, v6.6.0

#26264 [i18n] Translate Query_bar
  src/ui/public/query_bar/components/__snapshots__/language_switcher.test.tsx.snap
  src/ui/public/query_bar/components/__snapshots__/query_bar.test.tsx.snap
  src/ui/public/query_bar/components/language_switcher.tsx
  src/ui/public/query_bar/components/query_bar.test.tsx
  src/ui/public/query_bar/components/query_bar.tsx
  src/ui/public/query_bar/directive/index.js
Labels: :KibanaApp, :i18n, review, v6.6.0

#26680 [6.x] [I18n] Update I18n readme (#26631)
  packages/kbn-i18n/README.md
Labels: backport

#26681 [6.x] [I18n] Remove JSON5 dependency from kbn-i18n (#26634)
  packages/kbn-i18n/package.json
  packages/kbn-i18n/src/__fixtures__/test_plugin_2/translations/fr.json
  packages/kbn-i18n/src/loader.test.ts
  packages/kbn-i18n/src/loader.ts
  yarn.lock
Labels: backport

#26011 [i18n] Translate Security -> Account and Nav control components
  x-pack/plugins/security/public/views/account/account.html
  x-pack/plugins/security/public/views/account/account.js
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/__snapshots__/kibana_privileges.test.tsx.snap
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/kibana_privileges.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/privilege_space_form.test.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/privilege_space_form.tsx
  x-pack/plugins/security/public/views/nav_control/nav_control.html
  x-pack/plugins/security/public/views/nav_control/nav_control.js
  x-pack/plugins/security/public/views/nav_control/nav_control_component.js
Labels: :i18n, v6.6.0

#26678 [6.x] [i18n] Translate Saved_Objects (#26179)
  src/legacy/core_plugins/kibana/public/dashboard/top_nav/__snapshots__/add_panel.test.js.snap
  src/legacy/core_plugins/kibana/public/discover/top_nav/__snapshots__/open_search_panel.test.js.snap
  src/ui/public/saved_objects/components/saved_object_finder.js
  src/ui/public/saved_objects/components/saved_object_save_modal.js
Labels: backport

#26679 [6.x] [i18n] Translate courier (#26514)
  src/ui/public/courier/fetch/call_client.js
  src/ui/public/courier/fetch/call_response_handlers.js
  src/ui/public/courier/fetch/fetch_now.js
  src/ui/public/courier/fetch/request/search_request/search_request.js
  src/ui/public/courier/saved_object/saved_object.js
  src/ui/public/courier/saved_object/ui/saved_object_save_as_checkbox.html
  src/ui/public/courier/search_strategy/no_op_search_strategy.js
Labels: backport

#26616 [I18n] Add README for i18n_check tool
  src/dev/i18n/README.md
Labels: :Platform, :i18n, dev, v6.6.0

#26690 Do not skip config properties with values equal to empty array\object.
  src/core/server/config/__fixtures__/config.yml
  src/core/server/config/__fixtures__/config_flat.yml
  src/core/server/config/__fixtures__/one.yml
  src/core/server/config/__fixtures__/two.yml
  src/core/server/config/__snapshots__/read_config.test.ts.snap
  src/core/server/config/read_config.ts
Labels: :New Platform, :Platform, blocker, bug, v6.5.3, v6.6.0

#26338 [6.5] add raw data to split column (#26321)
  src/ui/public/filter_bar/filter_bar.html
  src/ui/public/vis/response_handlers/legacy.js
  test/functional/apps/visualize/_pie_chart.js
  test/functional/page_objects/visualize_page.js
Labels: backport

#26696 [6.x] Do not skip config properties with values equal to empty array\object. (#26690)
  src/core/server/config/__fixtures__/config.yml
  src/core/server/config/__fixtures__/config_flat.yml
  src/core/server/config/__fixtures__/one.yml
  src/core/server/config/__fixtures__/two.yml
  src/core/server/config/__snapshots__/read_config.test.ts.snap
  src/core/server/config/read_config.ts
Labels: backport

#26662 Removed 6.5.2 tags
  docs/CHANGELOG.asciidoc
Labels: docs

#26694 [6.x] [I18n] Add README for i18n_check tool (#26616)
  src/dev/i18n/README.md
Labels: backport

#26645 [6.x] Remove duplicate dep, x-pack/yarn.lock (#26642)
  .eslintrc.js
  package.json
  packages/README.md
  packages/elastic-datemath/.babelrc
  packages/elastic-datemath/package.json
  packages/elastic-datemath/readme.md
  packages/elastic-datemath/src/index.d.ts
  packages/elastic-datemath/src/index.js
  packages/elastic-datemath/test/index.js
  packages/elastic-datemath/tsconfig.json
  packages/kbn-pm/README.md
  src/dev/mocha/run_mocha_cli.js
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/metrics/common/interval_regexp.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/helpers/parse_interval.js
  src/legacy/core_plugins/vega/public/vega_view/vega_base_view.js
  src/ui/public/directives/validate_date_math.js
  src/ui/public/time_buckets/calc_es_interval.js
  src/ui/public/timefilter/get_time.js
  src/ui/public/timepicker/parse_relative_parts.js
  src/ui/public/timepicker/pretty_duration.js
  src/ui/public/timepicker/timepicker.js
  src/ui/public/utils/parse_es_interval/invalid_es_calendar_interval_error.ts
  src/ui/public/utils/parse_es_interval/parse_es_interval.ts
  src/ui/public/utils/parse_interval.js
  src/ui/public/vis/lib/least_common_interval.ts
  src/ui/public/vislib/visualizations/time_marker.js
  x-pack/.gitignore
  x-pack/package.json
  x-pack/plugins/ml/common/util/parse_interval.js
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/util/ml_time_buckets.js
  x-pack/plugins/reporting/export_types/common/lib/get_absolute_time.js
  x-pack/plugins/watcher/public/sections/watch_edit/components/threshold_watch_edit/threshold_watch_edit.js
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#26675 Allows SIGHUP to recreate log file handler
  src/cli/serve/integration_tests/reload_logging_config.test.js
  src/core/server/config/raw_config_service.test.ts
  src/core/server/config/raw_config_service.ts
  src/core/server/root/index.test.ts
  src/core/server/root/index.ts
Labels: :Platform, v6.5.3, v6.6.0, v7.0.0

#26475 Docs: Add note about oss repositories for deb/rpm
  docs/setup/install/deb.asciidoc
  docs/setup/install/rpm.asciidoc
Labels: :Operations, docs, v6.5.3, v6.6.0, v7.0.0

#26697 [6.5] Do not skip config properties with values equal to empty array\object. (#26690)
  src/core/server/config/__fixtures__/config.yml
  src/core/server/config/__fixtures__/config_flat.yml
  src/core/server/config/__fixtures__/one.yml
  src/core/server/config/__fixtures__/two.yml
  src/core/server/config/__snapshots__/read_config.test.ts.snap
  src/core/server/config/read_config.ts
Labels: backport

#26660 Typescript visualize_embeddable file
  src/legacy/core_plugins/kibana/public/dashboard/selectors/dashboard.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable_factory.js
  src/ui/public/embeddable/embeddable_factory.ts
  src/ui/public/embeddable/types.ts
  src/ui/public/persisted_state/persisted_state.d.ts
  src/ui/public/vis/request_handlers/request_handlers.d.ts
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
  src/ui/public/visualize/loader/types.ts
  src/ui/public/visualize/loader/visualize_loader.ts
Labels: :KibanaApp, chore, v6.6.0, v7.0.0

#26698 [6.x] [APM] update index pattern for elastic/apm-server#1618 (#26643)
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/index_pattern.json
Labels: :apm, backport

#26703 [6.x] Allows SIGHUP to recreate log file handler (#26675)
  src/cli/serve/integration_tests/reload_logging_config.test.js
  src/core/server/config/raw_config_service.test.ts
  src/core/server/config/raw_config_service.ts
  src/core/server/root/index.test.ts
  src/core/server/root/index.ts
Labels: backport

#26709 Re-enable "src/cli/serve/integration_tests/reload_logging_config.test.js" tests.
  src/cli/serve/integration_tests/reload_logging_config.test.js
Labels: :Operations, :Platform, test, v6.6.0, v7.0.0

#26517 [Infra UI] pass flag in request to force BWC hit count
  x-pack/plugins/infra/server/lib/adapters/metrics/lib/check_valid_node.ts
Labels: :Infra UI, review, v6.6.0, v7.0.0

#26713 Fix watcher routes broken by Hapi upgrade
  x-pack/plugins/watcher/server/routes/api/history/register_load_route.js
  x-pack/plugins/watcher/server/routes/api/watch/register_execute_route.js
Labels: :Operations, v6.6.0, v7.0.0

#26704 [6.5] Allows SIGHUP to recreate log file handler (#26675)
  src/cli/serve/integration_tests/reload_logging_config.test.js
  src/core/server/config/raw_config_service.test.ts
  src/core/server/config/raw_config_service.ts
  src/core/server/root/index.test.ts
  src/core/server/root/index.ts
Labels: backport

#26726 [DOCS] Adds Release Notes for 6.5.2
  docs/CHANGELOG.asciidoc
Labels: docs, v6.6.0

#26717 [6.x] [Infra UI] pass flag in request to force BWC hit count (#26517)
  x-pack/plugins/infra/server/lib/adapters/metrics/lib/check_valid_node.ts
Labels: backport

#26706 [5.6] Bump node to 6.15.1
  .node-version
  package.json
Labels: :Operations, review, v5.6.14

#26467 [DOCS] Adds Kibana docs for Canvas functions
  docs/canvas.asciidoc
  docs/canvas/canvas-client-functions.asciidoc
  docs/canvas/canvas-common-functions.asciidoc
  docs/canvas/canvas-function-reference.asciidoc
  docs/canvas/canvas-server-functions.asciidoc
  docs/canvas/canvas-tinymath-functions.asciidoc
  docs/canvas/canvas-workpad.asciidoc
  docs/images/canvas_workpad_weblog.png
Labels: :Canvas, docs

#26221 [DOCS] Kibana APIs not accessible via Console
  docs/api.asciidoc
  docs/api/dashboard-import.asciidoc
  docs/api/dashboard-import/export.asciidoc
  docs/api/dashboard-import/import.asciidoc
  docs/api/logstash-configuration-management.asciidoc
  docs/api/logstash-configuration-management/create.asciidoc
  docs/api/logstash-configuration-management/delete.asciidoc
  docs/api/logstash-configuration-management/list.asciidoc
  docs/api/logstash-configuration-management/retrieve.asciidoc
  docs/api/role-management.asciidoc
  docs/api/role-management/delete.asciidoc
  docs/api/role-management/get.asciidoc
  docs/api/role-management/put.asciidoc
  docs/api/saved-objects.asciidoc
  docs/api/saved-objects/bulk_create.asciidoc
  docs/api/saved-objects/bulk_get.asciidoc
  docs/api/saved-objects/create.asciidoc
  docs/api/saved-objects/delete.asciidoc
  docs/api/saved-objects/find.asciidoc
  docs/api/saved-objects/get.asciidoc
  docs/api/saved-objects/update.asciidoc
  docs/api/spaces-management.asciidoc
  docs/api/spaces-management/delete.asciidoc
  docs/api/spaces-management/get.asciidoc
  docs/api/spaces-management/post.asciidoc
  docs/api/spaces-management/put.asciidoc
  docs/api/url-shortening.asciidoc
  docs/api/url_shortening/shorten_url.asciidoc
  docs/dev-tools/console/console.asciidoc
Labels: docs

#26718 [6.x] Fix watcher routes broken by Hapi upgrade (#26713)
  x-pack/plugins/watcher/server/routes/api/history/register_load_route.js
  x-pack/plugins/watcher/server/routes/api/watch/register_execute_route.js
Labels: backport

#26708 [6.x] Typescript visualize_embeddable file (#26660)
  src/legacy/core_plugins/kibana/public/dashboard/selectors/dashboard.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable_factory.js
  src/ui/public/embeddable/embeddable_factory.ts
  src/ui/public/embeddable/types.ts
  src/ui/public/persisted_state/persisted_state.d.ts
  src/ui/public/vis/request_handlers/request_handlers.d.ts
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
  src/ui/public/visualize/loader/types.ts
  src/ui/public/visualize/loader/visualize_loader.ts
Labels: backport

#26605 home - k7 breadcrumbs
  src/legacy/core_plugins/kibana/public/home/components/home_app.js
  src/legacy/core_plugins/kibana/public/home/components/tutorial/__snapshots__/tutorial.test.js.snap
  src/legacy/core_plugins/kibana/public/home/components/tutorial/tutorial.js
  src/legacy/core_plugins/kibana/public/home/components/tutorial/tutorial.test.js
  src/legacy/core_plugins/kibana/public/home/components/tutorial_directory.js
  src/legacy/core_plugins/kibana/public/home/index.js
Labels: :Add Data, :Home, v6.6.0, v7.0.0

#26406 Wrap leadfoot elements
  test/functional/apps/visualize/_pie_chart.js
  test/functional/page_objects/discover_page.js
  test/functional/page_objects/point_series_page.js
  test/functional/page_objects/settings_page.js
  test/functional/page_objects/visual_builder_page.js
  test/functional/page_objects/visualize_page.js
  test/functional/services/browser.js
  test/functional/services/find.js
  test/functional/services/lib/leadfoot_element_wrapper.js
Labels: review, test, v6.7.0, v7.0.0

#26724 [reporting] implement k7Breadcrumbs
  x-pack/plugins/reporting/public/views/management/jobs.js
Labels: :KibanaApp, :Reporting, review, v7.0.0

#26756 [6.x] [i18n] Translate Query_bar (#26264)
  src/ui/public/query_bar/components/__snapshots__/language_switcher.test.tsx.snap
  src/ui/public/query_bar/components/__snapshots__/query_bar.test.tsx.snap
  src/ui/public/query_bar/components/language_switcher.tsx
  src/ui/public/query_bar/components/query_bar.test.tsx
  src/ui/public/query_bar/components/query_bar.tsx
  src/ui/public/query_bar/directive/index.js
Labels: backport

#26733 [6.x] [DOCS] Adds Kibana docs for Canvas functions (#26467)
  docs/canvas.asciidoc
  docs/canvas/canvas-client-functions.asciidoc
  docs/canvas/canvas-common-functions.asciidoc
  docs/canvas/canvas-function-reference.asciidoc
  docs/canvas/canvas-server-functions.asciidoc
  docs/canvas/canvas-tinymath-functions.asciidoc
  docs/canvas/canvas-workpad.asciidoc
  docs/images/canvas_workpad_weblog.png
Labels: backport, docs
