Repository elastic/kibana, pull requests merged in 2018-11, with the labels that each got.

#24955 [6.5] [dev/build] avoid building packages twice (#24696)
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/production/integration_tests/build_production_projects.test.ts
  src/dev/build/lib/__tests__/runner.js
  src/dev/build/lib/runner.js
  src/dev/build/tasks/build_packages_task.js
Labels: backport

#24954 [6.x] [dev/build] avoid building packages twice (#24696)
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/production/build_production_projects.ts
  packages/kbn-pm/src/production/integration_tests/build_production_projects.test.ts
  src/dev/build/lib/__tests__/runner.js
  src/dev/build/lib/runner.js
  src/dev/build/tasks/build_packages_task.js
Labels: backport

#24941 [6.5] [Rollups] Re-enable rollup support (#24888)
  src/core_plugins/kibana/ui_setting_defaults.js
  x-pack/plugins/rollup/index.js
  x-pack/plugins/rollup/public/index_pattern_creation/index.js
  x-pack/plugins/rollup/public/index_pattern_creation/register.js
  x-pack/plugins/rollup/public/index_pattern_list/index.js
  x-pack/plugins/rollup/public/index_pattern_list/register.js
  x-pack/plugins/rollup/public/search/index.js
  x-pack/plugins/rollup/public/search/register.js
  x-pack/plugins/rollup/public/visualize/agg_type_field_filter.js
  x-pack/plugins/rollup/public/visualize/agg_type_filter.js
  x-pack/plugins/rollup/public/visualize/editor_config.js
  x-pack/plugins/rollup/public/visualize/index.js
Labels: backport

#24940 [6.x] [Rollups] Re-enable rollup support (#24888)
  src/core_plugins/kibana/ui_setting_defaults.js
  x-pack/plugins/rollup/index.js
  x-pack/plugins/rollup/public/index_pattern_creation/index.js
  x-pack/plugins/rollup/public/index_pattern_creation/register.js
  x-pack/plugins/rollup/public/index_pattern_list/index.js
  x-pack/plugins/rollup/public/index_pattern_list/register.js
  x-pack/plugins/rollup/public/search/index.js
  x-pack/plugins/rollup/public/search/register.js
  x-pack/plugins/rollup/public/visualize/agg_type_field_filter.js
  x-pack/plugins/rollup/public/visualize/agg_type_filter.js
  x-pack/plugins/rollup/public/visualize/editor_config.js
  x-pack/plugins/rollup/public/visualize/index.js
Labels: backport

#24805 [Rollups] Mark beta in rollup index pattern creation
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__jest__/__snapshots__/create_index_pattern_wizard.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__jest__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__jest__/__snapshots__/header.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__jest__/header.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/header.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/core_plugins/kibana/public/management/sections/indices/index_pattern_list/components/create_button/create_button.js
  src/ui/public/management/index_pattern_creation/index_pattern_creation_config.js
  x-pack/plugins/rollup/public/index_pattern_creation/components/rollup_prompt/rollup_prompt.js
  x-pack/plugins/rollup/public/index_pattern_creation/rollup_index_pattern_creation_config.js
Labels: :Management, review, v6.5.0, v6.6.0, v7.0.0

#24926 [6.5] Design clean-up for 6.5, Part Deux (#24862)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/TransactionPropertiesTable.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Button.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Flyout.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/__jest__/__snapshots__/Button.test.js.snap
  x-pack/plugins/apm/public/components/shared/KueryBar/Typeahead/index.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/AgentMarker.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/TimelineAxis.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/__test__/__snapshots__/Timeline.test.js.snap
Labels: backport

#24945 [6.x] Reorders agents for on prem tutorial (#24872)
  src/core_plugins/kibana/server/tutorials/apm/on_prem.js
Labels: backport

#24946 [6.5] Reorders agents for on prem tutorial (#24872)
  src/core_plugins/kibana/server/tutorials/apm/on_prem.js
Labels: backport

#24909 [6.x] Translations for Dev Tools (#23951)
  .i18nrc.json
  src/core_plugins/console/public/index.html
  src/core_plugins/console/public/src/autocomplete.js
  src/core_plugins/console/public/src/controllers/sense_top_nav_controller.js
  src/core_plugins/console/public/src/directives/help.html
  src/core_plugins/console/public/src/directives/history.html
  src/core_plugins/console/public/src/directives/sense_history_viewer.js
  src/core_plugins/console/public/src/directives/sense_welcome.js
  src/core_plugins/console/public/src/directives/settings.html
  src/core_plugins/console/public/src/directives/welcome.html
  x-pack/plugins/grokdebugger/public/register_feature.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/custom_patterns_input/custom_patterns_input.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/event_input/event_input.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/event_output/event_output.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/grok_debugger/grok_debugger.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/components/pattern_input/pattern_input.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/directives/grokdebugger/grokdebugger.js
  x-pack/plugins/grokdebugger/public/sections/grokdebugger/register.js
  x-pack/plugins/grokdebugger/server/lib/check_license/check_license.js
  x-pack/plugins/grokdebugger/server/models/grokdebugger_response/grokdebugger_response.js
  x-pack/plugins/searchprofiler/public/app.js
  x-pack/plugins/searchprofiler/public/directives/highlight_details/index.html
  x-pack/plugins/searchprofiler/public/directives/profile_tree/index.html
  x-pack/plugins/searchprofiler/public/register.js
  x-pack/plugins/searchprofiler/public/register_feature.js
  x-pack/plugins/searchprofiler/public/templates/index.html
  x-pack/plugins/searchprofiler/server/lib/check_license.js
Labels: backport

#24830 [I18n] Sanitize angular directive message before inserting it to DOM
  packages/kbn-i18n/src/angular/__snapshots__/directive.test.ts.snap
  packages/kbn-i18n/src/angular/directive.test.ts
  packages/kbn-i18n/src/angular/directive.ts
Labels: :Platform, :i18n, blocker, review, v6.5.0, v6.6.0

#24933 [6.5] [ML] Fixing issues when trying to import non-timestamp data (#24894)
  x-pack/plugins/ml/public/file_datavisualizer/components/import_progress/import_progress.js
  x-pack/plugins/ml/public/file_datavisualizer/components/import_summary/import_summary.js
  x-pack/plugins/ml/public/file_datavisualizer/components/import_view/import_view.js
  x-pack/plugins/ml/public/file_datavisualizer/components/import_view/importer/importer.js
  x-pack/plugins/ml/public/file_datavisualizer/components/results_links/results_links.js
  x-pack/plugins/ml/server/models/file_data_visualizer/import_data.js
Labels: backport

#24910 [6.x] [ML] Display a ordinal y axis for low cardinality rare charts. (#24852)
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_chart_data_rare.js
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_series_config_rare.json
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_chart.less
Labels: :ml, backport

#24920 [6.5] [ML] Fixes bug with category filtering flag for rare/population charts. (#24901)
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/__snapshots__/explorer_chart_label.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/explorer_chart_label.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.js
Labels: :ml, backport

#24967 [6.x] [I18n] Sanitize angular directive message before inserting it to DOM (#24830)
  packages/kbn-i18n/src/angular/__snapshots__/directive.test.ts.snap
  packages/kbn-i18n/src/angular/directive.test.ts
  packages/kbn-i18n/src/angular/directive.ts
Labels: backport

#24527 Fix/react intl testing helper functions
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/saved_objects_installer.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__jest__/__snapshots__/step_index_pattern.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__jest__/step_index_pattern.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/__jest__/__snapshots__/scripted_field_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  src/test_utils/public/enzyme_helpers.js
  src/ui/public/field_editor/components/field_format_editor/editors/url/__snapshots__/label_template_flyout.test.js.snap
  x-pack/plugins/index_management/__jest__/components/__snapshots__/index_table.test.js.snap
  x-pack/test_utils/enzyme_helpers.js
  x-pack/test_utils/mocks/intl.js
Labels: :i18n

#24942 [6.x] adding alt tag with empty text to fix jsx-a11y errors (#24922)
  src/core_plugins/kibana/public/visualize/listing/visualize_listing_table.js
  x-pack/plugins/ml/public/components/data_recognizer/recognized_result.js
Labels: accessibility, backport

#24943 [6.x] Disabling es lint for 3 of the canvas files (#24902)
  x-pack/plugins/canvas/__tests__/fixtures/function_specs.js
  x-pack/plugins/canvas/public/components/autocomplete/autocomplete.js
  x-pack/plugins/canvas/public/components/element_content/invalid_element_type.js
  x-pack/plugins/canvas/public/components/element_content/invalid_expression.js
Labels: backport

#24969 [6.5] [I18n] Sanitize angular directive message before inserting it to DOM (#24830)
  packages/kbn-i18n/src/angular/__snapshots__/directive.test.ts.snap
  packages/kbn-i18n/src/angular/directive.test.ts
  packages/kbn-i18n/src/angular/directive.ts
Labels: backport

#24596 Using Joi.object when configuring route validation
  src/core_plugins/kibana/server/routes/api/kql_telemetry/index.js
  src/server/status/routes/api/register_stats.js
  x-pack/plugins/security/server/lib/user_schema.js
  x-pack/plugins/security/server/routes/api/v1/__tests__/authenticate.js
  x-pack/plugins/security/server/routes/api/v1/__tests__/users.js
  x-pack/plugins/security/server/routes/api/v1/authenticate.js
  x-pack/plugins/security/server/routes/api/v1/users.js
Labels: :Security, non-issue, v6.6.0, v7.0.0

#23890 Adding "Successfully logged out" page
  x-pack/plugins/reporting/public/hacks/job_completion_notifier.js
  x-pack/plugins/security/index.js
  x-pack/plugins/security/public/hacks/on_session_timeout.js
  x-pack/plugins/security/public/hacks/on_unauthorized_response.js
  x-pack/plugins/security/public/index.scss
  x-pack/plugins/security/public/views/logged_out/_index.scss
  x-pack/plugins/security/public/views/logged_out/_logged_out.scss
  x-pack/plugins/security/public/views/logged_out/components/index.tsx
  x-pack/plugins/security/public/views/logged_out/components/logged_out_page.tsx
  x-pack/plugins/security/public/views/logged_out/index.js
  x-pack/plugins/security/public/views/logged_out/logged_out.html
  x-pack/plugins/security/public/views/logged_out/logged_out.less
  x-pack/plugins/security/public/views/logged_out/logged_out.tsx
  x-pack/plugins/security/public/views/nav_control/nav_control.js
  x-pack/plugins/security/server/lib/authentication/providers/__tests__/saml.js
  x-pack/plugins/security/server/lib/authentication/providers/saml.js
  x-pack/plugins/security/server/routes/views/logged_out.js
  x-pack/plugins/xpack_main/public/hacks/check_xpack_info_change.js
  x-pack/plugins/xpack_main/public/hacks/telemetry_trigger.js
  x-pack/plugins/xpack_main/public/hacks/welcome_banner/inject_banner.js
  x-pack/plugins/xpack_main/public/services/path.js
  x-pack/tsconfig.json
Labels: :Security

#24944 [6.x] add css grid style to prevent calendar bounce (#24913)
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/components/datetime_calendar/datetime_calendar.scss
Labels: backport

#24972 [6.5] [APM] Discover links with quoted values and use default 24h as time range (#24900)
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/index.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/ActionMenu.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/public/components/shared/DiscoverButton.tsx
  x-pack/plugins/apm/public/utils/__test__/__snapshots__/url.test.js.snap
  x-pack/plugins/apm/public/utils/__test__/url.test.js
  x-pack/plugins/apm/public/utils/url.tsx
Labels: backport

#24842 User management - email and name should be optional
  x-pack/plugins/security/public/components/management/users/edit_user.js
  x-pack/test/functional/apps/security/users.js
  x-pack/test/functional/page_objects/security_page.js
Labels: :Security, usability, v6.5.0, v6.6.0, v7.0.0

#24919 [6.x] [ML] Fixes bug with category filtering flag for rare/population charts. (#24901)
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/__snapshots__/explorer_chart_label.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/explorer_chart_label.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.js
Labels: backport

#24932 [6.x] [ML] Fixing issues when trying to import non-timestamp data (#24894)
  x-pack/plugins/ml/public/file_datavisualizer/components/import_progress/import_progress.js
  x-pack/plugins/ml/public/file_datavisualizer/components/import_summary/import_summary.js
  x-pack/plugins/ml/public/file_datavisualizer/components/import_view/import_view.js
  x-pack/plugins/ml/public/file_datavisualizer/components/import_view/importer/importer.js
  x-pack/plugins/ml/public/file_datavisualizer/components/results_links/results_links.js
  x-pack/plugins/ml/server/models/file_data_visualizer/import_data.js
Labels: backport

#24975 [6.x] Fix/react intl testing helper functions (#24527)
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/saved_objects_installer.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__tests__/__snapshots__/step_index_pattern.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/step_index_pattern/__tests__/step_index_pattern.test.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/scripted_fields_table/__tests__/__snapshots__/scripted_field_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  src/test_utils/public/enzyme_helpers.js
  src/ui/public/field_editor/components/field_format_editor/editors/url/__snapshots__/label_template_flyout.test.js.snap
  x-pack/plugins/index_management/__jest__/components/__snapshots__/index_table.test.js.snap
  x-pack/test_utils/enzyme_helpers.js
  x-pack/test_utils/mocks/intl.js
Labels: backport

#24948 [6.5] center content in fullscreen mode, hide K7 top nav (#24589)
  x-pack/plugins/canvas/public/components/fullscreen/fullscreen.scss
Labels: backport

#24968 [6.5] [APM] Hoist loading of waterfall and flatten it (#24651)
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/index.js
  x-pack/plugins/apm/public/components/app/TraceOverview/index.tsx
  x-pack/plugins/apm/public/components/app/TraceOverview/view.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/StickyTransactionProperties.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/TransactionPropertiesTable.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/ServiceLegends.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/FlyoutTopLevelProperties.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/StickySpanProperties.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/TransactionFlyout/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/__snapshots__/waterfall_helpers.test.ts.snap
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/index.ts
  x-pack/plugins/apm/public/components/app/TransactionDetails/view.tsx
  x-pack/plugins/apm/public/components/shared/TransactionLink.tsx
  x-pack/plugins/apm/public/components/shared/charts/Timeline/index.js
  x-pack/plugins/apm/public/services/rest/apm.ts
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionDetails.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionDistribution.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/waterfall.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/waterfallV1.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/waterfallV2.tsx
  x-pack/plugins/apm/public/store/selectors/waterfall.ts
  x-pack/plugins/apm/server/lib/traces/get_trace.ts
  x-pack/plugins/apm/typings/react-redux-request.d.ts
  x-pack/plugins/apm/typings/waterfall.ts
Labels: backport

#24957 [6.x] [Rollups] Mark beta in rollup index pattern creation (#24805)
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/__snapshots__/create_index_pattern_wizard.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__tests__/__snapshots__/header.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__tests__/header.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/header.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/core_plugins/kibana/public/management/sections/indices/index_pattern_list/components/create_button/create_button.js
  src/ui/public/management/index_pattern_creation/index_pattern_creation_config.js
  x-pack/plugins/rollup/public/index_pattern_creation/components/rollup_prompt/rollup_prompt.js
  x-pack/plugins/rollup/public/index_pattern_creation/rollup_index_pattern_creation_config.js
Labels: backport

#24953 [esArchiver] auto-create the default space object when necessary
  src/es_archiver/actions/load.js
  src/es_archiver/cli.js
  src/es_archiver/es_archiver.js
  src/es_archiver/lib/indices/create_index_stream.js
  src/es_archiver/lib/indices/kibana_index.js
  test/common/services/es_archiver.js
Labels: :Platform, :Security, v6.5.0, v6.6.0, v7.0.0

#24986 [ML] Fix for check for enabled xpack features
  x-pack/plugins/ml/public/license/__tests__/check_license.js
  x-pack/plugins/ml/public/license/check_license.js
Labels: :ml, :ml-config, bug, non-issue, review, v6.5.0, v6.6.0, v7.0.0

#23932 Adding jsxa11y into eslint rules
  .eslintrc.js
  package.json
  packages/eslint-config-kibana/.eslintrc.js
  packages/eslint-config-kibana/package.json
  yarn.lock
Labels: accessibility, v6.5.0, v6.6.0, v7.0.0

#24952 Duplicate search strategy errors to correspond to the number of original requests
  src/ui/public/courier/fetch/__tests__/call_client.js
  src/ui/public/courier/fetch/call_client.js
Labels: :Platform, bug, v6.4.3, v6.5.0, v6.6.0, v7.0.0

#24878 [Rollups] Disable deletion of started rollup jobs
  x-pack/plugins/rollup/public/crud_app/sections/components/job_action_menu/job_action_menu.container.js
  x-pack/plugins/rollup/public/crud_app/sections/components/job_action_menu/job_action_menu.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/navigation/navigation.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.container.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/rollup/public/crud_app/services/index.js
  x-pack/plugins/rollup/public/crud_app/services/noticeable_delay.js
  x-pack/plugins/rollup/public/crud_app/store/action_types.js
  x-pack/plugins/rollup/public/crud_app/store/actions/change_job_status.js
  x-pack/plugins/rollup/public/crud_app/store/actions/delete_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/reducers/index.js
  x-pack/plugins/rollup/public/crud_app/store/reducers/update_job.js
  x-pack/plugins/rollup/public/crud_app/store/selectors/index.js
Labels: :Management, v6.5.0, v6.6.0, v7.0.0

#24996 [6.5] [Rollups] Disable deletion of started rollup jobs (#24878)
  x-pack/plugins/rollup/public/crud_app/sections/components/job_action_menu/job_action_menu.container.js
  x-pack/plugins/rollup/public/crud_app/sections/components/job_action_menu/job_action_menu.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/navigation/navigation.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.container.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/rollup/public/crud_app/services/index.js
  x-pack/plugins/rollup/public/crud_app/services/noticeable_delay.js
  x-pack/plugins/rollup/public/crud_app/store/action_types.js
  x-pack/plugins/rollup/public/crud_app/store/actions/change_job_status.js
  x-pack/plugins/rollup/public/crud_app/store/actions/delete_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/reducers/index.js
  x-pack/plugins/rollup/public/crud_app/store/reducers/update_job.js
  x-pack/plugins/rollup/public/crud_app/store/selectors/index.js
Labels: backport

#24995 [6.x] [Rollups] Disable deletion of started rollup jobs (#24878)
  x-pack/plugins/rollup/public/crud_app/sections/components/job_action_menu/job_action_menu.container.js
  x-pack/plugins/rollup/public/crud_app/sections/components/job_action_menu/job_action_menu.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/navigation/navigation.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.container.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/rollup/public/crud_app/services/index.js
  x-pack/plugins/rollup/public/crud_app/services/noticeable_delay.js
  x-pack/plugins/rollup/public/crud_app/store/action_types.js
  x-pack/plugins/rollup/public/crud_app/store/actions/change_job_status.js
  x-pack/plugins/rollup/public/crud_app/store/actions/delete_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/reducers/index.js
  x-pack/plugins/rollup/public/crud_app/store/reducers/update_job.js
  x-pack/plugins/rollup/public/crud_app/store/selectors/index.js
Labels: backport

#24997 [6.x] Duplicate search strategy errors to correspond to the number of original requests. This fixes a bug in which more than one search request error would result in a fatal error. (#24952)
  src/ui/public/courier/fetch/__tests__/call_client.js
  src/ui/public/courier/fetch/call_client.js
Labels: backport

#24950 Unable to filter saved objects by single type
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__jest__/objects_table.test.js
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/flyout/__jest__/flyout.test.js
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/objects_table.js
Labels: :Management, :Saved Objects, bug, v6.5.0, v6.6.0, v7.0.0

#24798 [Rollups] Add noOpSearchStrategy to handle rollup searches when rollups are disabled
  src/ui/public/courier/search_strategy/no_op_search_strategy.js
  src/ui/public/courier/search_strategy/search_strategy_registry.js
  src/ui/public/courier/search_strategy/search_strategy_registry.test.js
  src/ui/public/visualize/loader/visualize_data_loader.ts
Labels: :Management, enhancement, v6.5.0, v6.6.0, v7.0.0

#24982 [6.x] User management - email and name should be optional (#24842)
  x-pack/plugins/security/public/components/management/users/edit_user.js
  x-pack/test/functional/apps/security/users.js
  x-pack/test/functional/page_objects/security_page.js
Labels: backport

#24937 Fixes font picker when using custom fonts
  x-pack/plugins/canvas/public/components/font_picker/font_picker.js
  x-pack/plugins/canvas/server/sample_data/ecommerce_saved_objects.json
  x-pack/plugins/canvas/server/sample_data/flights_saved_objects.json
  x-pack/plugins/canvas/server/sample_data/web_logs_saved_objects.json
Labels: :Canvas, v6.5.0, v6.6.0, v7.0.0

#25010 [6.x] Unable to filter saved objects by single type (#24950)
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/objects_table.test.js
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/flyout/__tests__/flyout.test.js
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/objects_table.js
Labels: backport

#25011 [6.5] Unable to filter saved objects by single type (#24950)
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/__tests__/objects_table.test.js
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/flyout/__tests__/flyout.test.js
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/objects_table.js
Labels: backport

#24956 [6.x] Reverting 22816, upgrading mocha is breaking the custom reporter (#24951)
  package.json
  x-pack/package.json
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#24981 [6.x] Adding "Successfully logged out" page (#23890)
  x-pack/plugins/reporting/public/hacks/job_completion_notifier.js
  x-pack/plugins/security/index.js
  x-pack/plugins/security/public/hacks/on_session_timeout.js
  x-pack/plugins/security/public/hacks/on_unauthorized_response.js
  x-pack/plugins/security/public/index.scss
  x-pack/plugins/security/public/views/logged_out/_index.scss
  x-pack/plugins/security/public/views/logged_out/_logged_out.scss
  x-pack/plugins/security/public/views/logged_out/components/index.tsx
  x-pack/plugins/security/public/views/logged_out/components/logged_out_page.tsx
  x-pack/plugins/security/public/views/logged_out/index.js
  x-pack/plugins/security/public/views/logged_out/logged_out.html
  x-pack/plugins/security/public/views/logged_out/logged_out.less
  x-pack/plugins/security/public/views/logged_out/logged_out.tsx
  x-pack/plugins/security/public/views/nav_control/nav_control.js
  x-pack/plugins/security/server/lib/authentication/providers/__tests__/saml.js
  x-pack/plugins/security/server/lib/authentication/providers/saml.js
  x-pack/plugins/security/server/routes/views/logged_out.js
  x-pack/plugins/xpack_main/public/hacks/check_xpack_info_change.js
  x-pack/plugins/xpack_main/public/hacks/telemetry_trigger.js
  x-pack/plugins/xpack_main/public/hacks/welcome_banner/inject_banner.js
  x-pack/plugins/xpack_main/public/services/path.js
  x-pack/tsconfig.json
Labels: backport

#24958 [6.5] [Rollups] Mark beta in rollup index pattern creation (#24805)
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/__snapshots__/create_index_pattern_wizard.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/__tests__/create_index_pattern_wizard.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__tests__/__snapshots__/header.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/__tests__/header.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/components/header/header.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/core_plugins/kibana/public/management/sections/indices/index_pattern_list/components/create_button/create_button.js
  src/ui/public/management/index_pattern_creation/index_pattern_creation_config.js
  x-pack/plugins/rollup/public/index_pattern_creation/components/rollup_prompt/rollup_prompt.js
  x-pack/plugins/rollup/public/index_pattern_creation/rollup_index_pattern_creation_config.js
Labels: backport

#25006 [6.5] [esArchiver] auto-create the default space object when necessary (#24953)
  src/es_archiver/actions/load.js
  src/es_archiver/cli.js
  src/es_archiver/es_archiver.js
  src/es_archiver/lib/indices/create_index_stream.js
  src/es_archiver/lib/indices/kibana_index.js
  test/common/services/es_archiver.js
Labels: backport

#24999 [6.x] [esArchiver] auto-create the default space object when necessary (#24953)
  src/es_archiver/actions/load.js
  src/es_archiver/cli.js
  src/es_archiver/es_archiver.js
  src/es_archiver/lib/indices/create_index_stream.js
  src/es_archiver/lib/indices/kibana_index.js
  test/common/services/es_archiver.js
Labels: backport

#25014 [6.x] [Rollups] Add noOpSearchStrategy to handle rollup searches when rollups are disabled (#24798)
  src/ui/public/courier/search_strategy/no_op_search_strategy.js
  src/ui/public/courier/search_strategy/search_strategy_registry.js
  src/ui/public/courier/search_strategy/search_strategy_registry.test.js
  src/ui/public/visualize/loader/visualize_data_loader.ts
Labels: backport

#25026 [6.5] Fixes font picker when using custom fonts (#24937)
  x-pack/plugins/canvas/public/components/font_picker/font_picker.js
  x-pack/plugins/canvas/server/sample_data/ecommerce_saved_objects.json
  x-pack/plugins/canvas/server/sample_data/flights_saved_objects.json
  x-pack/plugins/canvas/server/sample_data/web_logs_saved_objects.json
Labels: backport

#25015 [6.5] [Rollups] Add noOpSearchStrategy to handle rollup searches when rollups are disabled (#24798)
  src/ui/public/courier/search_strategy/no_op_search_strategy.js
  src/ui/public/courier/search_strategy/search_strategy_registry.js
  src/ui/public/courier/search_strategy/search_strategy_registry.test.js
  src/ui/public/visualize/loader/visualize_data_loader.ts
Labels: backport

#25032 [Rollups] Return wrapped unknown errors from rollup CRUD API.
  x-pack/plugins/rollup/server/routes/api/indices.js
  x-pack/plugins/rollup/server/routes/api/jobs.js
  x-pack/plugins/rollup/server/routes/api/search.js
Labels: :Management, bug, v6.5.0, v6.6.0, v7.0.0

#25025 [6.x] Fixes font picker when using custom fonts (#24937)
  x-pack/plugins/canvas/public/components/font_picker/font_picker.js
  x-pack/plugins/canvas/server/sample_data/ecommerce_saved_objects.json
  x-pack/plugins/canvas/server/sample_data/flights_saved_objects.json
  x-pack/plugins/canvas/server/sample_data/web_logs_saved_objects.json
Labels: backport

#24903 Simplify pseudo localization for React components.
  packages/kbn-i18n/src/react/provider.tsx
Labels: :Platform, :i18n, v6.6.0

#24994 [6.5] [ML] Fix for check for enabled xpack features (#24986)
  x-pack/plugins/ml/public/license/__tests__/check_license.js
  x-pack/plugins/ml/public/license/check_license.js
Labels: backport

#24993 [6.x] [ML] Fix for check for enabled xpack features (#24986)
  x-pack/plugins/ml/public/license/__tests__/check_license.js
  x-pack/plugins/ml/public/license/check_license.js
Labels: backport

#25029 [APM] Fix missing parent issue
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
Labels: :apm

#25042 [6.x] Simplify pseudo localization for React components. (#24903)
  packages/kbn-i18n/src/react/provider.tsx
Labels: backport

#25044 [6.5] [APM] Fix missing parent issue (#25029)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
Labels: backport

#25043 [6.x] [APM] Fix missing parent issue (#25029)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
Labels: backport

#24947 [6.x] Upgrading deep-extend to 0.6.0 (#22817)
  yarn.lock
Labels: backport

#24978 [6.x] Using Joi.object when configuring route validation (#24596)
  src/core_plugins/kibana/server/routes/api/kql_telemetry/index.js
  src/server/status/routes/api/register_stats.js
  x-pack/plugins/security/server/lib/user_schema.js
  x-pack/plugins/security/server/routes/api/v1/__tests__/authenticate.js
  x-pack/plugins/security/server/routes/api/v1/__tests__/users.js
  x-pack/plugins/security/server/routes/api/v1/authenticate.js
  x-pack/plugins/security/server/routes/api/v1/users.js
Labels: backport

#24812 [Tools] Fix js multiline parsing in angular expressions
  src/dev/i18n/extractors/__snapshots__/html.test.js.snap
  src/dev/i18n/extractors/html.js
  src/dev/i18n/extractors/html.test.js
Labels: :Platform, :i18n, review, v6.6.0

#25028 skip png screenshot comparison tests
  x-pack/test/reporting/functional/reporting.js
Labels: :KibanaApp, v6.6.0, v7.0.0

#21663 [build] Support version-qualifier flag
  package.json
  packages/kbn-es/src/install/snapshot.js
  src/dev/build/build_distributables.js
  src/dev/build/cli.js
  src/dev/build/lib/__tests__/version_info.js
  src/dev/build/lib/config.js
  src/dev/build/lib/version_info.js
  x-pack/package.json
  x-pack/plugins/canvas/package.json
  x-pack/plugins/infra/package.json
  x-pack/tasks/helpers/build_version.js
Labels: :Operations, blocker, review, v7.0.0

#25002 Generate the correct bucket keys regardless of query type
  src/ui/public/agg_response/hierarchical/__tests__/build_hierarchical_data.js
  src/ui/public/agg_response/tabify/__tests__/_buckets.js
  src/ui/public/agg_response/tabify/_buckets.js
Labels: :KibanaApp, :Visualizations, review, v6.5.0, v6.6.0, v7.0.0

#25055 [6.6] Generate the correct bucket keys regardless of query type (#25002)
  src/ui/public/agg_response/hierarchical/__tests__/build_hierarchical_data.js
  src/ui/public/agg_response/tabify/__tests__/_buckets.js
  src/ui/public/agg_response/tabify/_buckets.js
Labels: backport

#25056 [6.5] Generate the correct bucket keys regardless of query type (#25002)
  src/ui/public/agg_response/hierarchical/__tests__/build_hierarchical_data.js
  src/ui/public/agg_response/tabify/__tests__/_buckets.js
  src/ui/public/agg_response/tabify/_buckets.js
Labels: backport

#25057 [6.x] Adding support for single session cookies appearing in an Array (#24984)
  x-pack/plugins/security/server/lib/authentication/__tests__/session.js
  x-pack/plugins/security/server/lib/authentication/session.js
Labels: backport

#25037 [6.x] Return wrapped unknown errors from rollup CRUD API. (#25032)
  x-pack/plugins/rollup/server/routes/api/indices.js
  x-pack/plugins/rollup/server/routes/api/jobs.js
  x-pack/plugins/rollup/server/routes/api/search.js
Labels: backport

#25021 [ftr] allow filtering suites by tag
  packages/kbn-test/src/functional_tests/cli/run_tests/__snapshots__/args.test.js.snap
  packages/kbn-test/src/functional_tests/cli/run_tests/__snapshots__/cli.test.js.snap
  packages/kbn-test/src/functional_tests/cli/run_tests/args.js
  packages/kbn-test/src/functional_tests/lib/run_ftr.js
  src/dev/jest/config.js
  src/functional_test_runner/cli.js
  src/functional_test_runner/lib/config/schema.js
  src/functional_test_runner/lib/mocha/decorate_mocha_ui.js
  src/functional_test_runner/lib/mocha/filter_suites_by_tags.js
  src/functional_test_runner/lib/mocha/filter_suites_by_tags.test.js
  src/functional_test_runner/lib/mocha/setup_mocha.js
  test/functional/apps/management/_test_huge_fields.js
  test/scripts/jenkins_cloud.sh
Labels: :Platform, review, v6.5.0, v6.6.0, v7.0.0

#25067 [6.x] skip png screenshot comparison tests, they will fail on certain jenkins agents (#25028)
  x-pack/test/reporting/functional/reporting.js
Labels: backport

#25073 [Rollups] Prepend rollup index capabilities endpoint with slash
  x-pack/plugins/rollup/server/client/elasticsearch_rollup.js
Labels: :Management, review, v6.5.0, v6.6.0, v7.0.0

#24929 [6.x] Fix error log formatting (#24788)
  src/cli/serve/integration_tests/__snapshots__/invalid_config.test.js.snap
  src/cli/serve/integration_tests/invalid_config.test.js
  src/server/logging/log_format.js
  src/server/logging/log_format_json.test.js
Labels: backport

#25066 [Rollups] Fix invalid date histogram interval warning
  src/ui/public/time_buckets/time_buckets.js
Labels: :Management, review, v6.5.0, v6.6.0, v7.0.0

#25078 [Rollups] Surface index pattern validation errors in Rollup Job wizard.
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
Labels: :Management, v6.5.0, v6.6.0, v7.0.0

#25075 [6.x] [ftr] allow filtering suites by tag (#25021)
  packages/kbn-test/src/functional_tests/cli/run_tests/__snapshots__/args.test.js.snap
  packages/kbn-test/src/functional_tests/cli/run_tests/__snapshots__/cli.test.js.snap
  packages/kbn-test/src/functional_tests/cli/run_tests/args.js
  packages/kbn-test/src/functional_tests/lib/run_ftr.js
  src/dev/jest/config.js
  src/functional_test_runner/cli.js
  src/functional_test_runner/lib/config/schema.js
  src/functional_test_runner/lib/mocha/decorate_mocha_ui.js
  src/functional_test_runner/lib/mocha/filter_suites_by_tags.js
  src/functional_test_runner/lib/mocha/filter_suites_by_tags.test.js
  src/functional_test_runner/lib/mocha/setup_mocha.js
  test/functional/apps/management/_test_huge_fields.js
  test/scripts/jenkins_cloud.sh
Labels: backport

#25095 [6.5] [Rollups] Surface index pattern validation errors in Rollup Job wizard. (#25078)
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
Labels: backport

#25094 [6.x] [Rollups] Surface index pattern validation errors in Rollup Job wizard. (#25078)
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
Labels: backport

#23755 Feature/translate canvas plugin src elements
  x-pack/plugins/canvas/canvas_plugin_src/elements/area_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/bubble_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/debug/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/donut/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/dropdown_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horiz_bar_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_pill/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/image/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/line_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/markdown/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/metric/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/pie/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/plot/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_gauge/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_semicircle/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_wheel/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/repeatImage/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/revealImage/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/shape/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/table/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/tilted_pie/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/time_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vert_bar_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_pill/index.js
Labels: :Canvas, :i18n, v6.6.0

#25053 [6.x] [Tools] Fix js multiline parsing in angular expressions (#24812)
  src/dev/i18n/extractors/__snapshots__/html.test.js.snap
  src/dev/i18n/extractors/html.js
  src/dev/i18n/extractors/html.test.js
Labels: backport

#23603 Translate vis color schema labels
  src/core_plugins/kbn_vislib_vis_types/public/controls/gauge_options.html
  src/core_plugins/kbn_vislib_vis_types/public/controls/heatmap_options.html
  src/core_plugins/kbn_vislib_vis_types/public/gauge.js
  src/core_plugins/kbn_vislib_vis_types/public/goal.js
  src/core_plugins/kbn_vislib_vis_types/public/heatmap.js
  src/core_plugins/metric_vis/public/metric_vis.js
  src/core_plugins/metric_vis/public/metric_vis_params.html
  src/core_plugins/region_map/public/choropleth_layer.js
  src/core_plugins/region_map/public/region_map_vis.js
  src/core_plugins/region_map/public/region_map_vis_params.html
  src/core_plugins/region_map/public/region_map_visualization.js
  src/core_plugins/tile_map/public/editors/tile_map_vis_params.html
  src/core_plugins/tile_map/public/markers/scaled_circles.js
  src/core_plugins/tile_map/public/tile_map_vis.js
  src/ui/public/vislib/components/color/colormaps.js
  src/ui/public/vislib/components/color/heatmap_color.js
  src/ui/public/vislib/components/color/truncated_colormaps.js
Labels: :KibanaApp, :Visualizations, :i18n, v6.6.0

#25104 [6.x] Feature/translate canvas plugin src elements (#23755)
  x-pack/plugins/canvas/canvas_plugin_src/elements/area_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/bubble_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/debug/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/donut/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/dropdown_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horiz_bar_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/horizontal_progress_pill/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/image/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/line_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/markdown/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/metric/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/pie/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/plot/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_gauge/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_semicircle/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/progress_wheel/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/repeatImage/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/revealImage/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/shape/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/table/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/tilted_pie/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/time_filter/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vert_bar_chart/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_bar/index.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/vertical_progress_pill/index.js
Labels: backport

#25050 [Monitoring] Ensure we probably init the route for the ccr page
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/index.js
Labels: :Monitoring, review, v6.5.0, v6.6.0, v7.0.0

#25096 [6.x] Added sort order to share menu options. (#25058)
  src/ui/public/share/components/__snapshots__/share_context_menu.test.js.snap
  src/ui/public/share/components/share_context_menu.tsx
  src/ui/public/share/share_action.ts
  x-pack/plugins/reporting/public/share_context_menu/register_reporting.tsx
Labels: backport

#25124 [6.5] Fix Wildcard Queries Against The Default Field (#24778)
  src/ui/public/kuery/functions/__tests__/is.js
  src/ui/public/kuery/functions/is.js
Labels: backport

#25130 [ML] Fixes job validation message typo.
  x-pack/plugins/ml/server/models/job_validation/messages.json
Labels: :ml, :ml-config, v6.6.0, v7.0.0

#25076 [6.5] [ftr] allow filtering suites by tag (#25021)
  packages/kbn-test/src/functional_tests/cli/run_tests/__snapshots__/args.test.js.snap
  packages/kbn-test/src/functional_tests/cli/run_tests/__snapshots__/cli.test.js.snap
  packages/kbn-test/src/functional_tests/cli/run_tests/args.js
  packages/kbn-test/src/functional_tests/lib/run_ftr.js
  src/dev/jest/config.js
  src/functional_test_runner/cli.js
  src/functional_test_runner/lib/config/schema.js
  src/functional_test_runner/lib/mocha/decorate_mocha_ui.js
  src/functional_test_runner/lib/mocha/filter_suites_by_tags.js
  src/functional_test_runner/lib/mocha/filter_suites_by_tags.test.js
  src/functional_test_runner/lib/mocha/setup_mocha.js
  test/functional/apps/management/_test_huge_fields.js
  test/scripts/jenkins_cloud.sh
Labels: backport

#25128 [6.x] Ensure we probably init the route for the ccr page (#25050)
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/index.js
Labels: backport

#25129 [6.5] Ensure we probably init the route for the ccr page (#25050)
  x-pack/plugins/monitoring/public/views/elasticsearch/ccr/index.js
Labels: backport

#24904 Replace xvfb with headless browser
  tasks/config/karma.js
  test/scripts/jenkins_cloud.sh
  test/scripts/jenkins_selenium.sh
  test/scripts/jenkins_unit.sh
  test/scripts/jenkins_xpack.sh
Labels: test, test_infra

#25082 [6.x] Prepend ES endpoint with slash (#25073)
  x-pack/plugins/rollup/server/client/elasticsearch_rollup.js
Labels: backport

#25083 [6.5] Prepend ES endpoint with slash (#25073)
  x-pack/plugins/rollup/server/client/elasticsearch_rollup.js
Labels: backport

#25086 [6.x] [Rollups] Fix invalid date histogram interval warning (#25066)
  src/ui/public/time_buckets/time_buckets.js
Labels: backport

#25087 [6.5] [Rollups] Fix invalid date histogram interval warning (#25066)
  src/ui/public/time_buckets/time_buckets.js
Labels: backport

#25036 Suricata Events Query
  x-pack/plugins/secops/common/graphql/introspection.json
  x-pack/plugins/secops/common/graphql/types.ts
  x-pack/plugins/secops/common/typed_json.ts
  x-pack/plugins/secops/server/graphql/index.ts
  x-pack/plugins/secops/server/graphql/sources/schema.gql.ts
  x-pack/plugins/secops/server/graphql/suricata/index.ts
  x-pack/plugins/secops/server/graphql/suricata/resolvers.ts
  x-pack/plugins/secops/server/graphql/suricata/schema.gql.ts
  x-pack/plugins/secops/server/init_server.ts
  x-pack/plugins/secops/server/lib/compose/kibana.ts
  x-pack/plugins/secops/server/lib/framework/adapter_types.ts
  x-pack/plugins/secops/server/lib/framework/kibana_framework_adapter.ts
  x-pack/plugins/secops/server/lib/sources/configuration_sources_adapter.test.ts
  x-pack/plugins/secops/server/lib/sources/configuration_sources_adapter.ts
  x-pack/plugins/secops/server/lib/sources/index.ts
  x-pack/plugins/secops/server/lib/suricata/elasticsearch_suricata_adapter.ts
  x-pack/plugins/secops/server/lib/suricata/index.ts
  x-pack/plugins/secops/server/lib/suricata/types.ts
  x-pack/plugins/secops/server/lib/types.ts
  x-pack/plugins/secops/server/utils/serialized_query.ts
Labels: :SecOps UI, WIP, loe:days, review

#25099 Utilize EUI Components
  x-pack/plugins/secops/public/components/timeline/body/body.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/column_headers.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/filter.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/header.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/header.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/headers.ts
  x-pack/plugins/secops/public/components/timeline/body/column_headers/index.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/range_picker/index.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/text_filter/index.tsx
  x-pack/plugins/secops/public/components/timeline/body/column_headers/text_filter/text_filter.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/index.tsx
  x-pack/plugins/secops/public/components/timeline/body/sort/sort_indicator.test.tsx
  x-pack/plugins/secops/public/components/timeline/body/sort/sort_indicator.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/data_providers.test.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/empty.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/facet_text.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/index.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/mock/mock_data_providers.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/providers.test.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/providers.tsx
  x-pack/plugins/secops/public/components/timeline/header/timeline_header.tsx
  x-pack/plugins/secops/public/components/timeline/index.tsx
  x-pack/plugins/secops/public/components/timeline/timeline.test.tsx
  x-pack/plugins/secops/public/pages/home/index.tsx
Labels: :SecOps UI, loe:hours, review

#25135 [Infra UI] Rename InfraOps to Infrastructure
  x-pack/plugins/apm/index.js
  x-pack/plugins/infra/index.ts
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/register_feature.ts
Labels: :Infra UI, blocker, v6.5.0, v6.6.0, v7.0.0

#24600 [Monitoring] Re-enable CCR monitoring tests
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr_shard.js
Labels: :Monitoring, review, v6.5.0, v6.6.0, v7.0.0

#24667 [Monitoring] Unskip the mappings test
  x-pack/test/api_integration/apis/monitoring/common/mappings_exist.js
Labels: :Monitoring, review, v7.0.0

#25147 [6.5] fixing issue with deleting scripted field in index pattern section (#25122)
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.js
Labels: backport

#25119 [6.x] Feature/translate license management (#24341)
  .i18nrc.json
  x-pack/plugins/license_management/__jest__/__snapshots__/telemetry_opt_in.test.js.snap
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/plugins/license_management/__jest__/telemetry_opt_in.test.js
  x-pack/plugins/license_management/__jest__/upload_license.test.js
  x-pack/plugins/license_management/__jest__/util/util.js
  x-pack/plugins/license_management/public/components/telemetry_opt_in/telemetry_opt_in.js
  x-pack/plugins/license_management/public/management_section.js
  x-pack/plugins/license_management/public/register_route.js
  x-pack/plugins/license_management/public/sections/license_dashboard/add_license/add_license.js
  x-pack/plugins/license_management/public/sections/license_dashboard/license_status/license_status.container.js
  x-pack/plugins/license_management/public/sections/license_dashboard/license_status/license_status.js
  x-pack/plugins/license_management/public/sections/license_dashboard/request_trial_extension/request_trial_extension.js
  x-pack/plugins/license_management/public/sections/license_dashboard/revert_to_basic/revert_to_basic.js
  x-pack/plugins/license_management/public/sections/license_dashboard/start_trial/start_trial.js
  x-pack/plugins/license_management/public/sections/upload_license/upload_license.js
  x-pack/plugins/license_management/public/store/actions/start_basic.js
  x-pack/plugins/license_management/public/store/actions/upload_license.js
Labels: backport

#25163 This PR cuts away extra code around Facet that is not needed
  x-pack/plugins/secops/public/components/timeline/data_providers/empty.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/facet_text.test.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/facet_text.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/mock/mock_data_providers.tsx
Labels: :SecOps UI, loe:hours

#24670 [DOCS] 6.4.3 Release Notes
  docs/CHANGELOG.asciidoc
Labels: docs, v6.4.3

#24672 [DOCS] 5.6.13 Release Notes
  docs/CHANGELOG.asciidoc
Labels: docs, v5.6.13

#25158 [6.x] Security - convert LESS to SASS (#25079)
  x-pack/plugins/security/public/index.scss
  x-pack/plugins/security/public/views/account/account.js
  x-pack/plugins/security/public/views/account/account.less
  x-pack/plugins/security/public/views/logout/logout.js
  x-pack/plugins/security/public/views/logout/logout.less
  x-pack/plugins/security/public/views/management/change_password_form/change_password_form.html
  x-pack/plugins/security/public/views/management/edit_role/components/collapsible_panel.scss
  x-pack/plugins/security/public/views/management/edit_role/components/collapsible_panel.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/es/elasticsearch_privileges.less
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/impacted_spaces_flyout.scss
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/impacted_spaces_flyout.tsx
  x-pack/plugins/security/public/views/management/edit_role/edit_role.scss
  x-pack/plugins/security/public/views/management/edit_role/index.js
  x-pack/plugins/security/public/views/management/index.scss
  x-pack/plugins/security/public/views/management/management.js
  x-pack/plugins/security/public/views/management/management.less
  x-pack/plugins/xpack_main/public/components/telemetry/telemetry_form.js
  x-pack/plugins/xpack_main/public/components/telemetry/telemetry_form.less
  x-pack/plugins/xpack_main/public/style/main.less
Labels: backport

#25144 [6.x] [ML] Fixes typo. (#25130)
  x-pack/plugins/ml/server/models/job_validation/messages.json
Labels: :ml, backport

#25159 [6.x] [Infra UI] Rename InfraOps to Infrastructure (#25135)
  x-pack/plugins/apm/index.js
  x-pack/plugins/infra/index.ts
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/register_feature.ts
Labels: backport

#25148 Disable animations for xpack functional tests too
  x-pack/test/functional/config.js
Labels: test

#25092 [Rollups] Improve Rollup Job Wizard error handling
  x-pack/plugins/rollup/public/crud_app/app.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/rollup/public/crud_app/services/api_errors.js
  x-pack/plugins/rollup/public/crud_app/services/index.js
  x-pack/plugins/rollup/public/crud_app/store/actions/change_job_status.js
  x-pack/plugins/rollup/public/crud_app/store/actions/create_job.js
  x-pack/plugins/rollup/public/crud_app/store/actions/delete_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/actions/load_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/actions/refresh_jobs.js
Labels: :Management, v6.5.0, v6.6.0, v7.0.0

#25146 [6.x] fixing issue with deleting scripted field in index pattern section (#25122)
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/edit_index_pattern.js
Labels: backport

#25164 [InputControlVis] React 16.4+ compatibility
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.test.js
Labels: :Input Control, :KibanaApp, review, v6.5.0, v6.6.0, v7.0.0

#25171 [6.x] [Rollups] Improve Rollup Job Wizard error handling (#25092)
  x-pack/plugins/rollup/public/crud_app/app.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/rollup/public/crud_app/services/api_errors.js
  x-pack/plugins/rollup/public/crud_app/services/index.js
  x-pack/plugins/rollup/public/crud_app/store/actions/change_job_status.js
  x-pack/plugins/rollup/public/crud_app/store/actions/create_job.js
  x-pack/plugins/rollup/public/crud_app/store/actions/delete_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/actions/load_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/actions/refresh_jobs.js
Labels: backport

#25185 Secops header
  x-pack/plugins/secops/public/components/link_to/index.ts
  x-pack/plugins/secops/public/components/link_to/link_to.tsx
  x-pack/plugins/secops/public/components/link_to/redirect_to_hosts.tsx
  x-pack/plugins/secops/public/components/link_to/redirect_to_network.tsx
  x-pack/plugins/secops/public/components/link_to/redirect_to_overview.tsx
  x-pack/plugins/secops/public/components/page/index.tsx
  x-pack/plugins/secops/public/components/page/navigation/breadcrumb.tsx
  x-pack/plugins/secops/public/components/page/navigation/index.tsx
  x-pack/plugins/secops/public/pages/home/index.tsx
  x-pack/plugins/secops/public/pages/hosts/index.tsx
  x-pack/plugins/secops/public/pages/network/index.tsx
  x-pack/plugins/secops/public/pages/overview/index.tsx
Labels: :SecOps UI, loe:hours

#25179 Fix aria attribute of icons on status page.
  src/core_plugins/status_page/public/components/status_table.js
Labels: :Operations, v6.6.0, v7.0.0

#25172 [6.5] [Rollups] Improve Rollup Job Wizard error handling (#25092)
  x-pack/plugins/rollup/public/crud_app/app.js
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/rollup/public/crud_app/services/api_errors.js
  x-pack/plugins/rollup/public/crud_app/services/index.js
  x-pack/plugins/rollup/public/crud_app/store/actions/change_job_status.js
  x-pack/plugins/rollup/public/crud_app/store/actions/create_job.js
  x-pack/plugins/rollup/public/crud_app/store/actions/delete_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/actions/load_jobs.js
  x-pack/plugins/rollup/public/crud_app/store/actions/refresh_jobs.js
Labels: backport

#23227 remove dashboardContext
  src/core_plugins/kibana/public/dashboard/__tests__/dashboard_context.js
  src/core_plugins/kibana/public/dashboard/dashboard_context.js
  src/core_plugins/metrics/public/kbn_vis_types/request_handler.js
  src/core_plugins/timelion/public/vis/timelion_request_handler.js
  src/core_plugins/vega/public/data_model/__tests__/es_query_parser.js
  src/core_plugins/vega/public/data_model/es_query_parser.js
  src/core_plugins/vega/public/data_model/vega_parser.js
  src/core_plugins/vega/public/vega_request_handler.js
  src/ui/public/courier/index.js
  src/ui/public/courier/search_source/index.js
  src/ui/public/visualize/loader/types.ts
  src/ui/public/visualize/loader/visualize_data_loader.ts
Labels: :KibanaApp, review, v6.6.0, v7.0.0

#24701 [skip ci] Fix dashboard export documentation
  docs/api/dashboard-import/export.asciidoc
Labels: :KibanaApp, docs, v6.4.3, v6.5.0, v6.6.0, v7.0.0

#25160 [6.5] [Infra UI] Rename InfraOps to Infrastructure (#25135)
  x-pack/plugins/apm/index.js
  x-pack/plugins/infra/index.ts
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/register_feature.ts
Labels: backport, blocker

#25188 [6.x] remove dashboardContext (#23227)
  src/core_plugins/kibana/public/dashboard/__tests__/dashboard_context.js
  src/core_plugins/kibana/public/dashboard/dashboard_context.js
  src/core_plugins/metrics/public/kbn_vis_types/request_handler.js
  src/core_plugins/timelion/public/vis/timelion_request_handler.js
  src/core_plugins/vega/public/data_model/__tests__/es_query_parser.js
  src/core_plugins/vega/public/data_model/es_query_parser.js
  src/core_plugins/vega/public/data_model/vega_parser.js
  src/core_plugins/vega/public/vega_request_handler.js
  src/ui/public/courier/index.js
  src/ui/public/courier/search_source/index.js
  src/ui/public/visualize/loader/types.ts
  src/ui/public/visualize/loader/visualize_data_loader.ts
Labels: backport

#25113 [Infra UI] Add beta badge with tooltip to the header
  x-pack/plugins/infra/public/components/beta_badge_header_section.tsx
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
  x-pack/plugins/infra/types/eui.d.ts
Labels: :Infra UI, blocker, loe:hours, review, v6.5.0, v6.6.0, v7.0.0

#24832 Fix TSVB state updates when changing indexpatterns
  src/core_plugins/metrics/public/components/index_pattern.js
  src/core_plugins/metrics/public/components/panel_config/metric.js
  src/core_plugins/metrics/public/components/vis_editor.js
  src/core_plugins/metrics/public/kbn_vis_types/editor_controller.js
  src/core_plugins/metrics/public/less/error.less
  src/core_plugins/metrics/public/less/misc.less
  src/core_plugins/metrics/public/lib/__tests__/extract_index_pattern.js
  src/core_plugins/metrics/public/lib/extract_index_patterns.js
  src/core_plugins/metrics/public/lib/fetch_fields.js
  src/core_plugins/metrics/public/visualizations/components/annotation.js
  test/functional/apps/visualize/_tsvb_chart.js
  test/functional/fixtures/es_archiver/kibana_sample_data_flights/data.json.gz
  test/functional/fixtures/es_archiver/kibana_sample_data_flights/mappings.json
  test/functional/page_objects/visual_builder_page.js
Labels: :KibanaApp, :TSVB, review, v6.5.0, v6.6.0, v7.0.0

#24112 remove inspector from Vis
  src/core_plugins/kibana/public/visualize/editor/editor.js
  src/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.js
  src/ui/public/inspector/build_tabular_inspector_data.js
  src/ui/public/vis/__tests__/_vis.js
  src/ui/public/vis/request_handlers/courier.js
  src/ui/public/vis/request_handlers/request_handlers.d.ts
  src/ui/public/vis/vis.js
  src/ui/public/visualize/loader/__tests__/visualize_loader.js
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
Labels: :KibanaApp, chore, review, v6.6.0, v7.0.0

#25105 [Tools] Rename i18n context field to description field
  packages/kbn-i18n/README.md
  packages/kbn-i18n/src/core/i18n.ts
  src/dev/i18n/__fixtures__/extract_default_translations/test_plugin_1/test_file_1.jsx
  src/dev/i18n/__fixtures__/extract_default_translations/test_plugin_3/test_file.jsx
  src/dev/i18n/__snapshots__/extract_default_translations.test.js.snap
  src/dev/i18n/constants.js
  src/dev/i18n/extractors/__snapshots__/code.test.js.snap
  src/dev/i18n/extractors/__snapshots__/handlebars.test.js.snap
  src/dev/i18n/extractors/__snapshots__/html.test.js.snap
  src/dev/i18n/extractors/__snapshots__/i18n_call.test.js.snap
  src/dev/i18n/extractors/__snapshots__/pug.test.js.snap
  src/dev/i18n/extractors/__snapshots__/react.test.js.snap
  src/dev/i18n/extractors/code.test.js
  src/dev/i18n/extractors/handlebars.js
  src/dev/i18n/extractors/handlebars.test.js
  src/dev/i18n/extractors/html.js
  src/dev/i18n/extractors/html.test.js
  src/dev/i18n/extractors/i18n_call.js
  src/dev/i18n/extractors/i18n_call.test.js
  src/dev/i18n/extractors/pug.test.js
  src/dev/i18n/extractors/react.js
  src/dev/i18n/extractors/react.test.js
  src/dev/i18n/serializers/__snapshots__/json.test.js.snap
  src/dev/i18n/serializers/__snapshots__/json5.test.js.snap
  src/dev/i18n/serializers/json.js
  src/dev/i18n/serializers/json.test.js
  src/dev/i18n/serializers/json5.js
  src/dev/i18n/serializers/json5.test.js
  src/dev/i18n/utils.js
  src/dev/i18n/utils.test.js
Labels: :Platform, :i18n, v6.6.0

#25112 [Tools] Exclude node_modules folders from i18n_check
  src/dev/i18n/extract_default_translations.js
Labels: :Platform, :i18n, backport pending, v6.6.0

#25169 [6.x] Disable animations for xpack functional tests too (#25148)
  x-pack/test/functional/config.js
Labels: backport

#25201 [6.5] Fix TSVB state updates when changing indexpatterns (#24832)
  src/core_plugins/metrics/public/components/index_pattern.js
  src/core_plugins/metrics/public/components/panel_config/metric.js
  src/core_plugins/metrics/public/components/vis_editor.js
  src/core_plugins/metrics/public/kbn_vis_types/editor_controller.js
  src/core_plugins/metrics/public/less/error.less
  src/core_plugins/metrics/public/less/misc.less
  src/core_plugins/metrics/public/lib/__tests__/extract_index_pattern.js
  src/core_plugins/metrics/public/lib/extract_index_patterns.js
  src/core_plugins/metrics/public/lib/fetch_fields.js
  src/core_plugins/metrics/public/visualizations/components/annotation.js
  test/functional/apps/visualize/_tsvb_chart.js
  test/functional/fixtures/es_archiver/kibana_sample_data_flights/data.json.gz
  test/functional/fixtures/es_archiver/kibana_sample_data_flights/mappings.json
  test/functional/page_objects/visual_builder_page.js
Labels: backport

#25200 [6.x] Fix TSVB state updates when changing indexpatterns (#24832)
  src/core_plugins/metrics/public/components/index_pattern.js
  src/core_plugins/metrics/public/components/panel_config/metric.js
  src/core_plugins/metrics/public/components/vis_editor.js
  src/core_plugins/metrics/public/kbn_vis_types/editor_controller.js
  src/core_plugins/metrics/public/less/error.less
  src/core_plugins/metrics/public/less/misc.less
  src/core_plugins/metrics/public/lib/__tests__/extract_index_pattern.js
  src/core_plugins/metrics/public/lib/extract_index_patterns.js
  src/core_plugins/metrics/public/lib/fetch_fields.js
  src/core_plugins/metrics/public/visualizations/components/annotation.js
  test/functional/apps/visualize/_tsvb_chart.js
  test/functional/fixtures/es_archiver/kibana_sample_data_flights/data.json.gz
  test/functional/fixtures/es_archiver/kibana_sample_data_flights/mappings.json
  test/functional/page_objects/visual_builder_page.js
Labels: backport

#25208 [6.x] Remove console.log (#25207)
  src/core_plugins/metrics/public/visualizations/components/annotation.js
Labels: backport

#25209 [6.5] Remove console.log (#25207)
  src/core_plugins/metrics/public/visualizations/components/annotation.js
Labels: backport

#24604 [6.5] [InfraOps] Remove broken links to APM (#24568)
  x-pack/plugins/infra/public/components/waffle/node_context_menu.tsx
Labels: backport

#25196 [6.x] [Infra UI] Add beta badge with tooltip to the header (#25113)
  x-pack/plugins/infra/public/components/beta_badge_header_section.tsx
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
  x-pack/plugins/infra/types/eui.d.ts
Labels: backport

#25197 [6.5] [Infra UI] Add beta badge with tooltip to the header (#25113)
  x-pack/plugins/infra/public/components/beta_badge_header_section.tsx
  x-pack/plugins/infra/public/components/header.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
  x-pack/plugins/infra/types/eui.d.ts
Labels: backport, blocker

#25123 Normalizing CPU usage for waffle map
  x-pack/plugins/infra/server/lib/adapters/nodes/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/metric_aggregation_creators/cpu.ts
  x-pack/test/api_integration/apis/infra/waffle.ts
Labels: :Infra UI, blocker, review, v6.5.0, v6.6.0, v7.0.0

#25174 [DOCS] Removed coming tags for 5.6.13
  docs/CHANGELOG.asciidoc
Labels: docs

#25173 [DOCS] Removed coming tags
  docs/CHANGELOG.asciidoc
Labels: docs

#25161 [6.x] Re-enable these tests (#24600)
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr_shard.js
Labels: backport

#25162 [6.x] Unskip the mappings test (#24667)
  x-pack/test/api_integration/apis/monitoring/common/mappings_exist.js
Labels: backport

#25204 [6.x] [Tools] Rename i18n context field to description field (#25105)
  packages/kbn-i18n/README.md
  packages/kbn-i18n/src/core/i18n.ts
  src/dev/i18n/__fixtures__/extract_default_translations/test_plugin_1/test_file_1.jsx
  src/dev/i18n/__fixtures__/extract_default_translations/test_plugin_3/test_file.jsx
  src/dev/i18n/__snapshots__/extract_default_translations.test.js.snap
  src/dev/i18n/constants.js
  src/dev/i18n/extractors/__snapshots__/code.test.js.snap
  src/dev/i18n/extractors/__snapshots__/handlebars.test.js.snap
  src/dev/i18n/extractors/__snapshots__/html.test.js.snap
  src/dev/i18n/extractors/__snapshots__/i18n_call.test.js.snap
  src/dev/i18n/extractors/__snapshots__/pug.test.js.snap
  src/dev/i18n/extractors/__snapshots__/react.test.js.snap
  src/dev/i18n/extractors/code.test.js
  src/dev/i18n/extractors/handlebars.js
  src/dev/i18n/extractors/handlebars.test.js
  src/dev/i18n/extractors/html.js
  src/dev/i18n/extractors/html.test.js
  src/dev/i18n/extractors/i18n_call.js
  src/dev/i18n/extractors/i18n_call.test.js
  src/dev/i18n/extractors/pug.test.js
  src/dev/i18n/extractors/react.js
  src/dev/i18n/extractors/react.test.js
  src/dev/i18n/serializers/__snapshots__/json.test.js.snap
  src/dev/i18n/serializers/__snapshots__/json5.test.js.snap
  src/dev/i18n/serializers/json.js
  src/dev/i18n/serializers/json.test.js
  src/dev/i18n/serializers/json5.js
  src/dev/i18n/serializers/json5.test.js
  src/dev/i18n/utils.js
  src/dev/i18n/utils.test.js
Labels: backport

#25203 [6.x] remove inspector from Vis (#24112)
  src/core_plugins/kibana/public/visualize/editor/editor.js
  src/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.js
  src/ui/public/inspector/build_tabular_inspector_data.js
  src/ui/public/vis/__tests__/_vis.js
  src/ui/public/vis/request_handlers/courier.js
  src/ui/public/vis/request_handlers/request_handlers.d.ts
  src/ui/public/vis/vis.js
  src/ui/public/visualize/loader/__tests__/visualize_loader.js
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
Labels: backport

#24473 other bucket filter for table and vislib legend
  src/core_plugins/table_vis/public/legacy_response_handler.js
  src/ui/public/directives/rows.js
  src/ui/public/vis/response_handlers/legacy.js
  src/ui/public/vis/vis.js
  src/ui/public/vis/vis_filters.js
  src/ui/public/vis/vis_types/vislib_vis_legend.html
  src/ui/public/vis/vis_types/vislib_vis_legend.js
  test/functional/apps/visualize/_data_table.js
  test/functional/apps/visualize/_pie_chart.js
  test/functional/page_objects/visualize_page.js
Labels: :Data Table, :KibanaApp, review, v6.5.0, v6.6.0, v7.0.0

#25210 [6.x] [Infra UI] Normalizing CPU usage for waffle map (#25123)
  x-pack/plugins/infra/server/lib/adapters/nodes/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/metric_aggregation_creators/cpu.ts
  x-pack/test/api_integration/apis/infra/waffle.ts
Labels: backport

#25211 [6.5] [Infra UI] Normalizing CPU usage for waffle map (#25123)
  x-pack/plugins/infra/server/lib/adapters/nodes/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/metric_aggregation_creators/cpu.ts
  x-pack/test/api_integration/apis/infra/waffle.ts
Labels: backport, blocker

#22609 Ensure baselayers display in region maps
  src/core_plugins/region_map/public/region_map_vis.js
  src/core_plugins/region_map/public/region_map_vis_params.html
  test/functional/apps/visualize/_region_map.js
Labels: :Geo, :Region Map, :Visualizations, blocker, v6.5.0, v6.6.0, v7.0.0

#25153 [ML] JobList search bar: Show useful error on invalid query
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_filter_bar/job_filter_bar.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list_view/styles/main.less
Labels: :ml, :ml-config, release_note:fix, review, v6.6.0, v7.0.0

#25132 Fix missing TSVB markdown variables
  src/core_plugins/metrics/public/components/markdown_editor.js
  src/core_plugins/metrics/public/components/panel_config.js
  src/core_plugins/metrics/public/components/panel_config/gauge.js
  src/core_plugins/metrics/public/components/panel_config/markdown.js
  src/core_plugins/metrics/public/components/panel_config/metric.js
  src/core_plugins/metrics/public/components/panel_config/table.js
  src/core_plugins/metrics/public/components/panel_config/timeseries.js
  src/core_plugins/metrics/public/components/panel_config/top_n.js
  src/core_plugins/metrics/public/components/vis_editor.js
  src/core_plugins/metrics/public/components/vis_editor_visualization.js
  src/core_plugins/metrics/public/components/vis_editor_visualization.test.js
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
Labels: :KibanaApp, :TSVB, review

#25220 [6.x] other bucket filter for table and vislib legend (#24473)
  src/core_plugins/table_vis/public/legacy_response_handler.js
  src/ui/public/directives/rows.js
  src/ui/public/vis/response_handlers/legacy.js
  src/ui/public/vis/vis.js
  src/ui/public/vis/vis_filters.js
  src/ui/public/vis/vis_types/vislib_vis_legend.html
  src/ui/public/vis/vis_types/vislib_vis_legend.js
  test/functional/apps/visualize/_data_table.js
  test/functional/apps/visualize/_pie_chart.js
  test/functional/page_objects/visualize_page.js
Labels: backport

#25187 [6.x] Fix aria attribute of icons on status page. (#25179)
  src/core_plugins/status_page/public/components/status_table.js
Labels: backport

#24509 Add timestamps for logs into the functional tests reports
  src/functional_test_runner/lib/mocha/reporter/reporter.js
Labels: :Operations, review, v6.6.0, v7.0.0

#25238 [6.x] Add timestamps for logs into the functional tests reports (#24509)
  src/functional_test_runner/lib/mocha/reporter/reporter.js
Labels: backport
