Repository elastic/kibana, pull requests merged in 2018-09, with the labels that each got.

#22611 [6.4] Improve test coverage for CallClient error cases. (#22599)
  src/ui/public/courier/fetch/__tests__/call_client.js
Labels: backport

#22610 [6.x] Improve test coverage for CallClient error cases. (#22599)
  src/ui/public/courier/fetch/__tests__/call_client.js
Labels: backport

#22546 [6.x] Fix possible flakiness of saveVisualization action (#22356)
  src/core_plugins/kibana/public/visualize/editor/editor.js
  test/functional/apps/dashboard/_create_and_add_embeddables.js
  test/functional/apps/dashboard/_dashboard_filtering.js
  test/functional/apps/dashboard/_dashboard_state.js
  test/functional/apps/dashboard/_view_edit.js
  test/functional/apps/visualize/_area_chart.js
  test/functional/apps/visualize/_data_table.js
  test/functional/apps/visualize/_data_table_nontimeindex.js
  test/functional/apps/visualize/_heatmap_chart.js
  test/functional/apps/visualize/_line_chart.js
  test/functional/apps/visualize/_linked_saved_searches.js
  test/functional/apps/visualize/_pie_chart.js
  test/functional/apps/visualize/_tag_cloud.js
  test/functional/apps/visualize/_tile_map.js
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/apps/visualize/_vertical_bar_chart_nontimeindex.js
  test/functional/page_objects/visualize_page.js
  test/functional/services/dashboard/visualizations.js
  x-pack/test/functional/apps/security/rbac_phase1.js
  x-pack/test/reporting/functional/reporting.js
Labels: backport

#22402 Refactors properties table, implements typescript
  x-pack/plugins/apm/jsconfig.json
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/index.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/view.js
  x-pack/plugins/apm/public/components/shared/PropertiesTable/NestedKeyValueTable.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/NestedKeyValueTable.test.js
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/PropertiesTable.test.js
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/__snapshots__/NestedKeyValueTable.test.js.snap
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/__snapshots__/PropertiesTable.test.js.snap
  x-pack/plugins/apm/public/components/shared/PropertiesTable/index.js
  x-pack/plugins/apm/public/components/shared/PropertiesTable/index.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/propertyConfig.json
  x-pack/plugins/apm/public/components/shared/PropertiesTable/staticProperties.json
  x-pack/plugins/apm/public/components/shared/PropertiesTable/types.d.ts
  x-pack/plugins/apm/public/style/variables.ts
  x-pack/plugins/apm/public/utils/documentation.ts
  x-pack/plugins/apm/types.d.ts
Labels: :apm, WIP, [zube]: In Review

#22627 [ML] Adding string type check to jobs list search
  x-pack/plugins/ml/public/jobs/jobs_list/components/utils.js
Labels: :ml, :ml-config, bug, review, v6.5.0, v7.0.0

#22622 [ML] Migrate Explorer Charts to React.
  x-pack/plugins/ml/public/components/chart_tooltip/__tests__/chart_tooltip.js
  x-pack/plugins/ml/public/components/chart_tooltip/chart_tooltip.js
  x-pack/plugins/ml/public/components/chart_tooltip/chart_tooltip_service.js
  x-pack/plugins/ml/public/components/field_data_card/document_count_chart_directive.js
  x-pack/plugins/ml/public/components/field_data_card/metric_distribution_chart_directive.js
  x-pack/plugins/ml/public/components/loading_indicator/loading_indicator.js
  x-pack/plugins/ml/public/components/loading_indicator/styles/main.less
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_charts/__tests__/explorer_chart_directive.tests.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explore_series.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_config_builder.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_tooltip.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.html
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/explorer/explorer_charts/index.js
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_chart.less
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_charts_container.less
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
  x-pack/plugins/ml/public/explorer/index.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/util/chart_utils.js
Labels: :ml, :ml-results, v6.5.0, v7.0.0

#22630 [6.4] [ML] Fixing issue with historical job audit messages (#21718)
  x-pack/plugins/ml/server/models/job_audit_messages/job_audit_messages.js
Labels: backport

#22631 [6.4] [ML] Edit job group duplicate validation (#21987)
  x-pack/plugins/ml/public/jobs/jobs_list/components/edit_job_flyout/edit_job_flyout.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list_view/jobs_list_view.js
Labels: backport

#22633 [6.4] [ML] Fix IOException in java.time.LocalDateTime for painless script in ML Watch (#21998)
  x-pack/plugins/ml/public/jobs/new_job/simple/components/watcher/watch.js
Labels: backport

#22634 [6.4] [ML] Adding string type check to jobs list search (#22627)
  x-pack/plugins/ml/public/jobs/jobs_list/components/utils.js
Labels: backport

#22587 [6.x] Delete option[value=url] (#22585)
  option[value=url]
Labels: backport

#22629 [6.x] [ML] Adding string type check to jobs list search (#22627)
  x-pack/plugins/ml/public/jobs/jobs_list/components/utils.js
Labels: backport

#22632 [6.x] [ML] Migrate Explorer Charts to React. (#22622)
  x-pack/plugins/ml/public/components/chart_tooltip/__tests__/chart_tooltip.js
  x-pack/plugins/ml/public/components/chart_tooltip/chart_tooltip.js
  x-pack/plugins/ml/public/components/chart_tooltip/chart_tooltip_service.js
  x-pack/plugins/ml/public/components/field_data_card/document_count_chart_directive.js
  x-pack/plugins/ml/public/components/field_data_card/metric_distribution_chart_directive.js
  x-pack/plugins/ml/public/components/loading_indicator/loading_indicator.js
  x-pack/plugins/ml/public/components/loading_indicator/styles/main.less
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_charts/__tests__/explorer_chart_directive.tests.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explore_series.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_config_builder.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_tooltip.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.html
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/explorer/explorer_charts/index.js
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_chart.less
  x-pack/plugins/ml/public/explorer/explorer_charts/styles/explorer_charts_container.less
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
  x-pack/plugins/ml/public/explorer/index.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_chart_directive.js
  x-pack/plugins/ml/public/util/chart_utils.js
Labels: :ml, :ml-results, backport

#22450 Update Guideline
  packages/kbn-i18n/GUIDELINE.md
Labels: :Platform, :i18n

#22641 [ML] Migrates Anomaly Explorer Swimlanes to React
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
Labels: :ml, :ml-results, v6.5.0, v7.0.0

#22645 [6.x] Update Guideline (#22450)
  packages/kbn-i18n/GUIDELINE.md
Labels: backport

#22652 Fix missing email address on account screen
  x-pack/plugins/security/public/views/account/account.js
Labels: :Management, :Security, bug, release_note:fix, v6.5.0, v7.0.0

#22657 [6.4] skip flaky test (#22494)
  src/core_plugins/tile_map/public/__tests__/geohash_layer.js
Labels: backport, v6.4.1

#22651 [6.x] [ML] Migrates Anomaly Explorer Swimlanes to React (#22641)
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
Labels: :ml, :ml-results, backport

#20581 [Spaces] - basic telemetry
  x-pack/plugins/monitoring/server/kibana_monitoring/bulk_uploader.js
  x-pack/plugins/spaces/common/constants.ts
  x-pack/plugins/spaces/index.js
  x-pack/plugins/spaces/server/lib/get_spaces_usage_collector.js
  x-pack/plugins/spaces/server/lib/get_spaces_usage_collector.test.js
Labels: :Security

#22661 [6.x] Fix missing email address on account screen (#22652)
  x-pack/plugins/security/public/views/account/account.js
Labels: backport

#22454 TypeScript Reporting Layouts
  x-pack/plugins/reporting/export_types/printable_pdf/common/constants.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/generate_pdf.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/create_layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/index.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/index.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/preserve_layout.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/preserve_layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/print.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/print_layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/types.d.ts
  x-pack/plugins/reporting/types.d.ts
Labels: :Sharing, :reporting, v6.5.0, v7.0.0

#22656 [6.x] skip flaky test (#22494)
  src/core_plugins/tile_map/public/__tests__/geohash_layer.js
Labels: backport, v6.5.0

#22650 [ML] Fixing links to results for jobs with no results
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
Labels: :ml, :ml-config, :ml-results, bug, review, v6.4.1, v6.5.0, v7.0.0

#22659 [ML] Adding milliseconds to watch start and end times
  x-pack/plugins/ml/public/jobs/new_job/simple/components/watcher/watch.js
Labels: :ml, :ml-config, bug, review, v6.4.1, v6.5.0, v7.0.0

#22667 [ML] Removing calendars from job when cloning
  x-pack/plugins/ml/public/services/job_service.js
Labels: :ml, :ml-config, bug, review, v6.4.1, v6.5.0, v7.0.0

#22669 [6.x] TypeScript Reporting Layouts (#22454)
  x-pack/plugins/reporting/export_types/printable_pdf/common/constants.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/generate_pdf.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/create_layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/index.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/index.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/preserve_layout.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/preserve_layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/print.js
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/print_layout.ts
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/layouts/types.d.ts
  x-pack/plugins/reporting/types.d.ts
Labels: backport

#22671 [6.x] [ML] Fixing links to results for jobs with no results (#22650)
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
Labels: backport

#22672 [6.4] [ML] Fixing links to results for jobs with no results (#22650)
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
Labels: backport

#22673 [6.x] [ML] Adding milliseconds to watch start and end times (#22659)
  x-pack/plugins/ml/public/jobs/new_job/simple/components/watcher/watch.js
Labels: backport

#22674 [6.4] [ML] Adding milliseconds to watch start and end times (#22659)
  x-pack/plugins/ml/public/jobs/new_job/simple/components/watcher/watch.js
Labels: backport

#22678 [6.4] [ML] Removing calendars from job when cloning (#22667)
  x-pack/plugins/ml/public/services/job_service.js
Labels: backport

#22635 [Infra UI] Add a separate menu entry for the logging UI
  src/ui/public/routes/index.d.ts
  src/ui/public/routes/route_manager.d.ts
  src/ui/public/routes/routes.d.ts
  x-pack/plugins/infra/index.ts
  x-pack/plugins/infra/public/components/waffle/node_context_menu.tsx
  x-pack/plugins/infra/public/lib/adapters/framework/kibana_framework_adapter.ts
  x-pack/plugins/infra/public/lib/compose/kibana_compose.ts
  x-pack/plugins/infra/public/lib/compose/testing_compose.ts
  x-pack/plugins/infra/public/lib/lib.ts
  x-pack/plugins/infra/public/routes.tsx
Labels: :Infra UI, :Ingest UI, loe:days, review

#22604 added assertion for the email field in user creation
  x-pack/test/functional/apps/security/users.js
  x-pack/test/functional/page_objects/security_page.js
Labels: :Security, bug, v6.4.1, v7.0.0

#21561 [config] logging.useUTC -> logging.timezone
  docs/migration/migrate_7_0.asciidoc
  docs/setup/settings.asciidoc
  src/server/config/schema.js
  src/server/config/transform_deprecations.js
  src/server/logging/configuration.js
  src/server/logging/log_format.js
  src/server/logging/log_format_json.test.js
  src/server/logging/log_format_string.test.js
Labels: :Platform, review

#22689 [ftr/asyncInstance] fix error thrown for undefined provider instances
  src/functional_test_runner/lib/providers/async_instance.js
Labels: :Platform, review, v6.5.0, v7.0.0

#22698 [6.x] [ftr/asyncInstance] fix error thrown for undefined provider instances (#22689)
  src/functional_test_runner/lib/providers/async_instance.js
Labels: backport

#22693 [Beats CM] move to json for configs
  x-pack/plugins/beats_management/common/domain_types.ts
  x-pack/plugins/beats_management/public/components/config_list.tsx
  x-pack/plugins/beats_management/public/components/table/table_type_configs.tsx
  x-pack/plugins/beats_management/public/components/tag/config_view/config_form.tsx
  x-pack/plugins/beats_management/public/components/tag/config_view/index.tsx
  x-pack/plugins/beats_management/public/components/tag/tag_edit.tsx
  x-pack/plugins/beats_management/public/config_schemas.ts
  x-pack/plugins/beats_management/public/lib/domains/__tests__/tags.test.ts
  x-pack/plugins/beats_management/public/lib/domains/tags.ts
  x-pack/plugins/beats_management/public/lib/lib.ts
  x-pack/plugins/beats_management/public/pages/beat/detail.tsx
  x-pack/plugins/beats_management/public/pages/beat/tags.tsx
  x-pack/plugins/beats_management/public/pages/main/beats.tsx
  x-pack/plugins/beats_management/public/pages/main/tags.tsx
  x-pack/plugins/beats_management/public/pages/tag/index.tsx
  x-pack/plugins/beats_management/readme.md
  x-pack/plugins/beats_management/server/lib/adapters/framework/kibana_framework_adapter.ts
  x-pack/plugins/beats_management/server/rest_api/beats/configuration.ts
  x-pack/plugins/beats_management/server/rest_api/beats/list.ts
  x-pack/plugins/beats_management/server/rest_api/tags/set.ts
  x-pack/plugins/beats_management/server/utils/index_templates/beats_template.json
  x-pack/plugins/beats_management/wallaby.js
  x-pack/test/api_integration/apis/beats/get_beat.js
  x-pack/test/functional/es_archives/beats/list/data.json
  x-pack/test/functional/es_archives/beats/list/mappings.json
Labels: :Beats, beats-cm

#22685 Fix #22510, dashboard-only mode doesn't display saved searches
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
Labels: :Sharing, v6.4.1

#22623 Move timezone settings into autoload file
  src/core_plugins/kibana/public/kibana.js
  src/core_plugins/kibana/public/kibana_root_controller.js
  src/core_plugins/timelion/public/app.js
  src/ui/public/autoload/all.js
  src/ui/public/autoload/settings.js
  test/plugin_functional/plugins/visualize_embedding/public/app.js
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
  x-pack/plugins/ml/public/app.js
  x-pack/plugins/monitoring/public/monitoring.js
Labels: :Platform, :Visualizations, release_note:dev_docs, v6.5.0, v7.0.0

#22573 Fix react vis type documentation
  docs/development/visualize/development-create-visualization.asciidoc
Labels: :Visualizations, docs, release_note:dev_docs, v6.5.0, v7.0.0

#22677 [6.x] [ML] Removing calendars from job when cloning (#22667)
  x-pack/plugins/ml/public/services/job_service.js
Labels: backport

#22705 [6.4] Fix react vis type documentation (#22573)
  docs/development/visualize/development-create-visualization.asciidoc
Labels: backport, docs, v6.4.0

#22706 [6.x] Move timezone settings into autoload file (#22623)
  src/core_plugins/kibana/public/kibana.js
  src/core_plugins/kibana/public/kibana_root_controller.js
  src/core_plugins/timelion/public/app.js
  src/ui/public/autoload/all.js
  src/ui/public/autoload/settings.js
  test/plugin_functional/plugins/visualize_embedding/public/app.js
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
  x-pack/plugins/ml/public/app.js
  x-pack/plugins/monitoring/public/monitoring.js
Labels: backport, v6.5.0

#22700 [6.4] Fix #22510, dashboard-only mode doesn't display saved searches (#22685)
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
Labels: backport

#22707 Fix broken visualize CSS
  src/core_plugins/kibana/public/visualize/editor/styles/_editor.less
Labels: :Visualizations, bug, v6.5.0, v7.0.0

#22699 [6.x] Fix #22510, dashboard-only mode doesn't display saved searches (#22685)
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
Labels: backport

#22713 [6.4] Fix broken visualize CSS (#22707)
  src/core_plugins/kibana/public/visualize/editor/styles/_editor.less
Labels: backport, v6.4.1

#22712 [6.x] Fix broken visualize CSS (#22707)
  src/core_plugins/kibana/public/visualize/editor/styles/_editor.less
Labels: backport, v6.5.0

#22601 Fix #22581 by introducing an artificial delay
  x-pack/plugins/reporting/export_types/printable_pdf/server/lib/screenshots.js
Labels: :Sharing, :Visualizations, :reporting, v6.5.0, v7.0.0

#22691 align staging urls with new endpoints
  src/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/core_plugins/tests_bundle/tests_entry_template.js
  src/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
Labels: :Geo, chore, v6.4.1, v6.5.0, v7.0.0

#22714 [ML] Fixing issue with incorrect timezones in jobs list
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list/jobs_list.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list_view/jobs_list_view.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/start_datafeed_modal/start_datafeed_modal.js
  x-pack/plugins/ml/server/models/job_service/jobs.js
Labels: :ml, :ml-config, bug, review, v6.4.1, v6.5.0, v7.0.0

#22711 add fixes
  x-pack/plugins/beats_management/common/domain_types.ts
  x-pack/plugins/beats_management/public/components/config_list.tsx
  x-pack/plugins/beats_management/public/components/inputs/code_editor.tsx
  x-pack/plugins/beats_management/public/components/inputs/multi_input.tsx
  x-pack/plugins/beats_management/public/components/tag/config_view/config_form.tsx
  x-pack/plugins/beats_management/public/components/tag/tag_edit.tsx
  x-pack/plugins/beats_management/public/config_schemas.ts
  x-pack/plugins/beats_management/public/lib/domains/__tests__/tags.test.ts
  x-pack/plugins/beats_management/public/lib/lib.ts
  x-pack/plugins/beats_management/server/rest_api/beats/configuration.ts
  x-pack/plugins/beats_management/server/rest_api/tags/set.ts
  x-pack/test/api_integration/apis/beats/get_beat.js
Labels: :Beats, beats-cm

#22697 [6.x] [config] logging.useUTC -> logging.timezone (#21561)
  docs/setup/settings.asciidoc
  src/server/config/schema.js
  src/server/config/transform_deprecations.js
  src/server/logging/configuration.js
  src/server/logging/log_format.js
  src/server/logging/log_format_json.test.js
  src/server/logging/log_format_string.test.js
Labels: backport

#22687 [Beats CM] Improve UX for assignment of tag to list of beats
  x-pack/plugins/beats_management/public/components/table/table.tsx
  x-pack/plugins/beats_management/public/components/tag/index.ts
  x-pack/plugins/beats_management/public/components/tag/tag_assignment.tsx
  x-pack/plugins/beats_management/public/pages/main/beats.tsx
Labels: :Beats, beats-cm, v6.5.0, v7.0.0

#22728 Fix rollups table manipulation
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_table/job_table.js
  x-pack/plugins/rollup/public/crud_app/store/action_types.js
  x-pack/plugins/rollup/public/crud_app/store/actions/index.js
  x-pack/plugins/rollup/public/crud_app/store/actions/table_state.js
Labels: :Management

#22717 [6.x] align staging urls with new endpoints (#22691)
  src/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/core_plugins/tests_bundle/tests_entry_template.js
  src/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
Labels: backport, v6.5.0

#22718 [6.4] align staging urls with new endpoints (#22691)
  src/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/core_plugins/tests_bundle/tests_entry_template.js
  src/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
Labels: backport, v6.4.1

#22723 [6.4] [ML] Fixing issue with incorrect timezones in jobs list (#22714)
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list/jobs_list.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list_view/jobs_list_view.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/start_datafeed_modal/start_datafeed_modal.js
  x-pack/plugins/ml/server/models/job_service/jobs.js
Labels: backport

#22721 [6.x] [ML] Fixing issue with incorrect timezones in jobs list (#22714)
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list/jobs_list.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list_view/jobs_list_view.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/start_datafeed_modal/start_datafeed_modal.js
  x-pack/plugins/ml/server/models/job_service/jobs.js
Labels: backport

#22683 Add instructions for running reporting functional tests to x-pack README
  x-pack/README.md
Labels: :Sharing, release_note:dev_docs, v6.5.0, v7.0.0

#22708 [ML] Make field type icon component keyboard accessible
  x-pack/plugins/ml/public/components/field_type_icon/__snapshots__/field_type_icon.test.js.snap
  x-pack/plugins/ml/public/components/field_type_icon/field_type_icon.js
  x-pack/plugins/ml/public/components/field_type_icon/field_type_icon.test.js
Labels: :ml, :ml-results, accessibility, release_note:fix, review, v6.5.0, v7.0.0

#22564 Mgmt saved object test
  src/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/flyout/flyout.js
  test/functional/apps/management/_import_objects.js
  test/functional/apps/management/_mgmt_import_saved_objects.js
  test/functional/apps/management/exports/mgmt_import_objects.json
  test/functional/apps/management/index.js
  test/functional/fixtures/es_archiver/mgmt/data.json.gz
  test/functional/fixtures/es_archiver/mgmt/mappings.json
  test/functional/page_objects/settings_page.js
Labels: :Management, test, v6.5.0, v7.0.0

#22734 [6.4] Add instructions for running reporting functional tests to x-pack README (#22683)
  x-pack/README.md
Labels: backport

#22733 [6.x] Add instructions for running reporting functional tests to x-pack README (#22683)
  x-pack/README.md
Labels: backport

#22260 Pass scoped context to tutorial providers when building tutorials
  src/core_plugins/kibana/server/routes/api/home/register_tutorials.js
  src/ui/tutorials_mixin.js
  src/ui/tutorials_mixin.test.js
Labels: :Add Data, :Sharing, v6.5.0, v7.0.0

#22740 Fix IE scrollbar issue on TSVB gauges in dashboard
  src/core_plugins/metrics/public/visualizations/components/gauge_vis.js
Labels: :TSVB, :Visualizations, v6.5.0

#22743 [6.x] Pass scoped context to tutorial providers when building tutorials (#22260)
  src/core_plugins/kibana/server/routes/api/home/register_tutorials.js
  src/ui/tutorials_mixin.js
  src/ui/tutorials_mixin.test.js
Labels: backport

#22739 x-pack tests should use servers from other config files already loaded
  packages/kbn-test/src/es/es_test_config.js
  x-pack/test/functional/config.js
Labels: test, v6.4.1, v6.5.0, v7.0.0

#22748 [6.x] Fix IE scrollbar issue on TSVB gauges in dashboard (#22740)
  src/core_plugins/metrics/public/visualizations/components/gauge_vis.js
Labels: backport

#22071 Translations for tutorial common
  src/core_plugins/kibana/common/tutorials/filebeat_instructions.js
  src/core_plugins/kibana/common/tutorials/logstash_instructions.js
  src/core_plugins/kibana/common/tutorials/metricbeat_instructions.js
  src/core_plugins/kibana/common/tutorials/onprem_cloud_instructions.js
Labels: :Sharing, :i18n

#22736 [6.x] [ML] Make field type icon component keyboard accessible (#22708)
  x-pack/plugins/ml/public/components/field_type_icon/__snapshots__/field_type_icon.test.js.snap
  x-pack/plugins/ml/public/components/field_type_icon/field_type_icon.js
  x-pack/plugins/ml/public/components/field_type_icon/field_type_icon.test.js
Labels: :ml, :ml-results, backport

#22752 [6.x] Translations for tutorial common (#22071)
  src/core_plugins/kibana/common/tutorials/filebeat_instructions.js
  src/core_plugins/kibana/common/tutorials/logstash_instructions.js
  src/core_plugins/kibana/common/tutorials/metricbeat_instructions.js
  src/core_plugins/kibana/common/tutorials/onprem_cloud_instructions.js
Labels: backport

#22217 translate tutorials(apm)
  src/core_plugins/kibana/server/tutorials/apm/apm_client_instructions.js
  src/core_plugins/kibana/server/tutorials/apm/apm_server_instructions.js
  src/core_plugins/kibana/server/tutorials/apm/elastic_cloud.js
  src/core_plugins/kibana/server/tutorials/apm/index.js
  src/core_plugins/kibana/server/tutorials/apm/on_prem.js
Labels: :Sharing, :i18n

#22501 [Spaces] - Experimental Public spaces api
  docs/api/spaces-management/delete.asciidoc
  docs/api/spaces-management/get.asciidoc
  docs/api/spaces-management/post.asciidoc
  docs/api/spaces-management/put.asciidoc
  docs/api/spaces.asciidoc
  x-pack/plugins/spaces/common/is_reserved_space.ts
  x-pack/plugins/spaces/index.js
  x-pack/plugins/spaces/public/lib/spaces_manager.ts
  x-pack/plugins/spaces/server/lib/errors.ts
  x-pack/plugins/spaces/server/lib/route_pre_check_license.ts
  x-pack/plugins/spaces/server/lib/space_schema.ts
  x-pack/plugins/spaces/server/lib/spaces_url_parser.ts
  x-pack/plugins/spaces/server/routes/api/__fixtures__/create_spaces.ts
  x-pack/plugins/spaces/server/routes/api/__fixtures__/create_test_handler.ts
  x-pack/plugins/spaces/server/routes/api/__fixtures__/index.ts
  x-pack/plugins/spaces/server/routes/api/public/delete.test.ts
  x-pack/plugins/spaces/server/routes/api/public/delete.ts
  x-pack/plugins/spaces/server/routes/api/public/get.test.ts
  x-pack/plugins/spaces/server/routes/api/public/get.ts
  x-pack/plugins/spaces/server/routes/api/public/index.ts
  x-pack/plugins/spaces/server/routes/api/public/post.test.ts
  x-pack/plugins/spaces/server/routes/api/public/post.ts
  x-pack/plugins/spaces/server/routes/api/public/put.test.ts
  x-pack/plugins/spaces/server/routes/api/public/put.ts
  x-pack/plugins/spaces/server/routes/api/v1/index.ts
  x-pack/plugins/spaces/server/routes/api/v1/spaces.js
  x-pack/plugins/spaces/server/routes/api/v1/spaces.test.js
  x-pack/plugins/spaces/server/routes/api/v1/spaces.test.ts
  x-pack/plugins/spaces/server/routes/api/v1/spaces.ts
  x-pack/plugins/spaces/server/routes/lib/convert_saved_object_to_space.test.ts
  x-pack/plugins/spaces/server/routes/lib/convert_saved_object_to_space.ts
  x-pack/plugins/spaces/server/routes/lib/get_space_by_id.ts
  x-pack/plugins/spaces/server/routes/lib/index.ts
Labels: :Security

#22741 [6.3] align staging urls with new endpoints (#22691)
  src/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/core_plugins/tests_bundle/tests_entry_template.js
  src/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
Labels: backport, v6.3.3

#22592 [APM] Fix broken links
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/WatcherButton.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/__test__/WatcherButton.test.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/__test__/__snapshots__/WatcherButton.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Button.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Flyout.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/__jest__/Button.test.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/__jest__/__snapshots__/Button.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/view.js
  x-pack/plugins/apm/public/utils/__test__/__snapshots__/url.test.js.snap
  x-pack/plugins/apm/public/utils/__test__/url.test.js
Labels: :apm, [zube]: In Review, v6.4.1

#22760 [Spaces] - Register tutorial context factory
  x-pack/plugins/spaces/index.js
  x-pack/plugins/spaces/server/lib/create_spaces_service.ts
  x-pack/plugins/spaces/server/lib/spaces_tutorial_context_factory.test.ts
  x-pack/plugins/spaces/server/lib/spaces_tutorial_context_factory.ts
Labels: :Security

#22195 Deprecate xpack:defaultAdminEmail for monitoring alerts
  docs/monitoring/cluster-alerts.asciidoc
  x-pack/plugins/monitoring/__tests__/deprecations.js
  x-pack/plugins/monitoring/common/constants.js
  x-pack/plugins/monitoring/config.js
  x-pack/plugins/monitoring/deprecations.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/__tests__/check_for_email_value.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/__tests__/get_default_admin_email.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_settings_collector.js
Labels: :Monitoring, release_note:deprecation, v6.5.0, v7.0.0

#22761 [6.x] translate tutorials(apm) (#22217)
  src/core_plugins/kibana/server/tutorials/apm/apm_client_instructions.js
  src/core_plugins/kibana/server/tutorials/apm/apm_server_instructions.js
  src/core_plugins/kibana/server/tutorials/apm/elastic_cloud.js
  src/core_plugins/kibana/server/tutorials/apm/index.js
  src/core_plugins/kibana/server/tutorials/apm/on_prem.js
Labels: backport

#22762 [6.x] x-pack tests should use servers from other config files already loaded (#22739)
  packages/kbn-test/src/es/es_test_config.js
  x-pack/test/functional/config.js
Labels: backport

#22653 [Tools] Fix line breaks in default JSON serializer
  src/dev/i18n/__snapshots__/utils.test.js.snap
  src/dev/i18n/utils.js
  src/dev/i18n/utils.test.js
Labels: :Platform, :i18n, backport pending, bug, v6.5.0

#22663 [ci] temporarily test from es snapshot
  src/dev/ci_setup/git_setup.sh
  tasks/config/run.js
  test/scripts/jenkins_cloud.sh
  test/scripts/jenkins_selenium.sh
  test/scripts/jenkins_unit.sh
  test/scripts/jenkins_xpack.sh
Labels: :Operations, review

#22788 [6.x] [ci] Run ES snapshot when possible (#22663)
  src/dev/ci_setup/git_setup.sh
  tasks/config/run.js
  test/scripts/jenkins_cloud.sh
  test/scripts/jenkins_selenium.sh
  test/scripts/jenkins_unit.sh
  test/scripts/jenkins_xpack.sh
Labels: backport

#22759 [ML] Anomaly Explorer Charts jest tests.
  x-pack/plugins/ml/public/components/messagebar/messagebar_service.js
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_anomaly_chart_records.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_anomaly_record.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_chart_data.js
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_detectors_by_job.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_job_config.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_series_config_filebeat.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_series_promises_response.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_chart_config_builder.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_chart_tooltip.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_charts_container.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_charts_container_service.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/explore_series.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_config_builder.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_tooltip.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.test.js
  x-pack/plugins/ml/public/jobs/new_job/simple/components/watcher/create_watch_service.js
  x-pack/plugins/ml/public/services/ml_api_service/filters.js
  x-pack/plugins/ml/public/services/ml_api_service/index.js
  x-pack/plugins/ml/public/services/ml_api_service/jobs.js
  x-pack/plugins/ml/public/services/ml_api_service/results.js
  x-pack/plugins/ml/public/services/results_service.js
  x-pack/plugins/ml/public/util/chart_config_builder.js
  x-pack/plugins/ml/public/util/chart_utils.js
  x-pack/plugins/ml/public/util/chart_utils.test.js
Labels: :ml, :ml-results, v6.5.0, v7.0.0

#22799 [I18n] Update i18n config
  .i18nrc.json
Labels: :Platform, :i18n, review, v6.5.0

#22780 [6.2] align staging urls with new endpoints
  src/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/core_plugins/tests_bundle/tests_entry_template.js
  src/core_plugins/tile_map/public/__tests__/coordinate_map_visualization.js
Labels: backport, v6.2.5

#22586 [Spaces] - Handle space renaming and deleting
  x-pack/plugins/spaces/index.js
  x-pack/plugins/spaces/public/lib/index.ts
  x-pack/plugins/spaces/public/lib/spaces_manager.ts
  x-pack/plugins/spaces/public/views/management/components/confirm_delete_modal.js
  x-pack/plugins/spaces/public/views/management/components/confirm_delete_modal.tsx
  x-pack/plugins/spaces/public/views/management/components/delete_spaces_button.js
  x-pack/plugins/spaces/public/views/management/components/index.ts
  x-pack/plugins/spaces/public/views/management/edit_space/delete_spaces_button.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/manage_space_page.js
  x-pack/plugins/spaces/public/views/management/index.ts
  x-pack/plugins/spaces/public/views/management/manage_spaces.less
  x-pack/plugins/spaces/public/views/management/page_routes.js
  x-pack/plugins/spaces/public/views/management/spaces_grid/index.ts
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.js
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
  x-pack/plugins/spaces/public/views/nav_control/nav_control.js
  x-pack/plugins/spaces/public/views/nav_control/nav_control_popover.tsx
  x-pack/plugins/spaces/public/views/space_selector/index.js
Labels: :Security

#22811 [6.x] [I18n] Update i18n config (#22799)
  .i18nrc.json
Labels: backport

#22809 [ML] Disabling single metric viewer links for non-applicable jobs
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
  x-pack/plugins/ml/server/models/job_service/jobs.js
Labels: :ml, :ml-config, bug, review, v6.4.1, v6.5.0, v7.0.0

#22813 [6.x] Only log deprecation warning if xpack:defaultAdminEmail is actually set (#22774)
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/__tests__/get_default_admin_email.js
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_settings_collector.js
Labels: backport

#22684 Force date format in context query
  src/core_plugins/kibana/public/context/api/__tests__/predecessors.js
  src/core_plugins/kibana/public/context/api/__tests__/successors.js
  src/core_plugins/kibana/public/context/api/context.js
Labels: :Discovery, review, v6.5.0, v7.0.0

#22823 [6.4] [ML] Disabling single metric viewer links for non-applicable jobs (#22809)
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
  x-pack/plugins/ml/server/models/job_service/jobs.js
Labels: backport

#22822 [6.x] [ML] Disabling single metric viewer links for non-applicable jobs (#22809)
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
  x-pack/plugins/ml/server/models/job_service/jobs.js
Labels: backport

#22775 Generalize dashboard panel actions
  src/core_plugins/kibana/public/dashboard/dashboard_app.js
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_customize_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_edit_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_inspector_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_remove_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_toggle_expand_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/index.ts
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_options_menu_container.ts
  src/core_plugins/kibana/public/dashboard/store/panel_actions_store.ts
  src/core_plugins/kibana/public/kibana.js
  src/ui/public/embeddable/context_menu_actions/build_eui_context_menu_panels.ts
  src/ui/public/embeddable/context_menu_actions/context_menu_action.ts
  src/ui/public/embeddable/context_menu_actions/context_menu_actions_registry.ts
  src/ui/public/embeddable/context_menu_actions/context_menu_panel.ts
  src/ui/public/embeddable/context_menu_actions/index.ts
  src/ui/public/embeddable/context_menu_actions/types.ts
  src/ui/public/embeddable/index.ts
  src/ui/ui_exports/ui_export_types/index.js
  src/ui/ui_exports/ui_export_types/ui_app_extensions.js
  test/plugin_functional/plugins/sample_panel_action/index.js
  test/plugin_functional/plugins/sample_panel_action/public/sample_panel_action.js
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
Labels: :Sharing

#22829 [6.x] Generalize dashboard panel actions to not be dashboard specific (#22775)
  src/core_plugins/kibana/public/dashboard/dashboard_app.js
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_customize_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_edit_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_inspector_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_remove_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/get_toggle_expand_panel_action.tsx
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_actions/index.ts
  src/core_plugins/kibana/public/dashboard/panel/panel_header/panel_options_menu_container.ts
  src/core_plugins/kibana/public/dashboard/store/panel_actions_store.ts
  src/core_plugins/kibana/public/kibana.js
  src/ui/public/embeddable/context_menu_actions/build_eui_context_menu_panels.ts
  src/ui/public/embeddable/context_menu_actions/context_menu_action.ts
  src/ui/public/embeddable/context_menu_actions/context_menu_actions_registry.ts
  src/ui/public/embeddable/context_menu_actions/context_menu_panel.ts
  src/ui/public/embeddable/context_menu_actions/index.ts
  src/ui/public/embeddable/context_menu_actions/types.ts
  src/ui/public/embeddable/index.ts
  src/ui/ui_exports/ui_export_types/index.js
  src/ui/ui_exports/ui_export_types/ui_app_extensions.js
  test/plugin_functional/plugins/sample_panel_action/index.js
  test/plugin_functional/plugins/sample_panel_action/public/sample_panel_action.js
  x-pack/plugins/dashboard_mode/public/dashboard_viewer.js
Labels: backport

#22825 [6.x] Investigate flaky override colors dashboard test (#22726)
  test/functional/page_objects/dashboard_page.js
  test/functional/services/test_subjects.js
Labels: backport

#22772 [Beats CM] Remove key warnings from beat list components
  x-pack/plugins/beats_management/public/components/table/assignment_options.tsx
  x-pack/plugins/beats_management/public/components/table/controls.tsx
  x-pack/plugins/beats_management/public/components/table/table.tsx
  x-pack/plugins/beats_management/public/components/table/table_type_configs.tsx
  x-pack/plugins/beats_management/public/components/tag/tag_assignment.tsx
  x-pack/plugins/beats_management/public/pages/main/beats.tsx
Labels: :Beats, beats-cm, v6.5.0, v7.0.0

#22771 Add explicit format parameter to docvalue_fields requests
  src/ui/public/agg_types/__tests__/metrics/top_hit.js
  src/ui/public/agg_types/metrics/top_hit.js
  src/ui/public/courier/search_source/search_source.js
  src/ui/public/index_patterns/__tests__/_get_computed_fields.js
  src/ui/public/index_patterns/_get_computed_fields.js
Labels: review, v6.4.1, v6.5.0, v7.0.0

#22837 [6.x] Add explicit format parameter to docvalue_fields requests (#22771)
  src/ui/public/agg_types/__tests__/metrics/top_hit.js
  src/ui/public/agg_types/metrics/top_hit.js
  src/ui/public/courier/search_source/search_source.js
  src/ui/public/index_patterns/__tests__/_get_computed_fields.js
  src/ui/public/index_patterns/_get_computed_fields.js
Labels: backport

#22838 [6.4] Add explicit format parameter to docvalue_fields requests (#22771)
  src/ui/public/agg_types/__tests__/metrics/top_hit.js
  src/ui/public/agg_types/metrics/top_hit.js
  src/ui/public/courier/search_source/search_source.js
  src/ui/public/index_patterns/__tests__/_get_computed_fields.js
  src/ui/public/index_patterns/_get_computed_fields.js
Labels: backport

#22826 [6.x] Force date format in context query (#22684)
  src/core_plugins/kibana/public/context/api/__tests__/predecessors.js
  src/core_plugins/kibana/public/context/api/__tests__/successors.js
  src/core_plugins/kibana/public/context/api/context.js
Labels: backport

#22791 Upgrade to Jest 23.5.0
  package.json
  packages/eslint-config-kibana/package.json
  packages/kbn-plugin-generator/sao_template/template/package.json
  packages/kbn-pm/package.json
  packages/kbn-pm/src/commands/bootstrap.test.ts
  packages/kbn-pm/src/utils/link_project_executables.test.ts
  packages/kbn-pm/yarn.lock
  packages/kbn-system-loader/package.json
  packages/kbn-system-loader/yarn.lock
  src/core/server/legacy_compat/__snapshots__/legacy_service.test.ts.snap
  src/core_plugins/inspector_views/public/data/__snapshots__/data_view.test.js.snap
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/instruction_set.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/saved_objects_installer.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/__tests__/get_indices.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/get_indices.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/__tests__/__snapshots__/source_filters_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  src/dev/jest/config.js
  src/dev/jest/ts_transform.ts
  src/ui/public/field_editor/components/scripting_help/__snapshots__/help_flyout.test.js.snap
  src/ui/public/share/components/__snapshots__/share_context_menu.test.js.snap
  src/ui/ui_settings/public/__snapshots__/ui_settings_api.test.js.snap
  src/ui/ui_settings/public/ui_settings_api.test.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/package.json
  x-pack/plugins/ml/public/settings/filter_lists/list/__snapshots__/table.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: :Platform, review, v6.5.0, v7.0.0

#22154 [6.4] api/export: calculate content length
  src/core_plugins/kibana/server/routes/api/export/index.js
Labels: :Platform, release_note:fix, review, v6.4.1

#22846 [6.x] Upgrade to Jest 23.5.0 (#22791)
  package.json
  packages/eslint-config-kibana/package.json
  packages/kbn-plugin-generator/sao_template/template/package.json
  packages/kbn-pm/package.json
  packages/kbn-pm/src/commands/bootstrap.test.ts
  packages/kbn-pm/src/utils/link_project_executables.test.ts
  packages/kbn-pm/yarn.lock
  packages/kbn-system-loader/package.json
  packages/kbn-system-loader/yarn.lock
  src/core/server/legacy_compat/__snapshots__/legacy_service.test.ts.snap
  src/core_plugins/inspector_views/public/data/__snapshots__/data_view.test.js.snap
  src/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/instruction_set.test.js.snap
  src/core_plugins/kibana/public/home/components/tutorial/__snapshots__/saved_objects_installer.test.js.snap
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/__tests__/get_indices.test.js
  src/core_plugins/kibana/public/management/sections/indices/create_index_pattern_wizard/lib/get_indices.js
  src/core_plugins/kibana/public/management/sections/indices/edit_index_pattern/source_filters_table/__tests__/__snapshots__/source_filters_table.test.js.snap
  src/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  src/dev/jest/config.js
  src/dev/jest/ts_transform.ts
  src/ui/public/field_editor/components/scripting_help/__snapshots__/help_flyout.test.js.snap
  src/ui/public/share/components/__snapshots__/share_context_menu.test.js.snap
  src/ui/ui_settings/public/__snapshots__/ui_settings_api.test.js.snap
  src/ui/ui_settings/public/ui_settings_api.test.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/package.json
  x-pack/plugins/ml/public/settings/filter_lists/list/__snapshots__/table.test.js.snap
  x-pack/yarn.lock
  yarn.lock
Labels: backport

#22845 Set branch to 6.4 for doc links
  package.json
Labels: release_note:fix, v6.4.1

#22847 api/export: calculate content length
  src/core_plugins/kibana/server/routes/api/export/index.js
Labels: :Platform, release_note:fix, v6.4.1, v6.5.0, v7.0.0

#22804 [6.x] [APM] Fix broken links (#22592)
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/WatcherButton.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/__test__/WatcherButton.test.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/__test__/__snapshots__/WatcherButton.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Button.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Flyout.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/__jest__/Button.test.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/__jest__/__snapshots__/Button.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/view.js
  x-pack/plugins/apm/public/utils/__test__/__snapshots__/url.test.js.snap
  x-pack/plugins/apm/public/utils/__test__/url.test.js
Labels: backport

#22820 [APM] Fix ML links
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Flyout.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/view.js
  x-pack/plugins/apm/public/utils/__test__/__snapshots__/url.test.js.snap
  x-pack/plugins/apm/public/utils/__test__/url.test.js
  x-pack/plugins/apm/public/utils/url.js
Labels: :apm, [zube]: In Progress, v6.4.1

#22827 [APM] Minor cleanup
  x-pack/plugins/apm/common/constants.js
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/index.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/List/__test__/__snapshots__/List.test.js.snap
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/WatcherFlyOut.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/StickyTransactionProperties.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/view.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/view.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Flyout.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/__jest__/__snapshots__/TransactionOverview.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/index.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/view.js
  x-pack/plugins/apm/public/components/shared/ContextProperties.js
  x-pack/plugins/apm/public/components/shared/StickyProperties/StickyProperties.test.js
  x-pack/plugins/apm/public/components/shared/StickyProperties/__snapshots__/StickyProperties.test.js.snap
  x-pack/plugins/apm/public/components/shared/StickyProperties/index.js
  x-pack/plugins/apm/public/services/__test__/callApi.test.js
  x-pack/plugins/apm/public/services/rest/callApi.js
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionDetailsCharts.js
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionOverviewCharts.js
  x-pack/plugins/apm/public/utils/testHelpers.js
Labels: :apm, [zube]: In Progress

#22854 [6.4] [APM] Revert to using apm-* as default indices (#22445)
  src/core_plugins/apm_oss/index.js
Labels: backport

#22853 [6.x] [APM] Revert to using apm-* as default indices (#22445)
  docs/settings/apm-settings.asciidoc
  src/core_plugins/apm_oss/index.js
Labels: backport

#22851 [6.4] [APM] Fix broken links (#22592) | [APM] Fix ML links (#22820)
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/WatcherButton.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/__test__/WatcherButton.test.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/__test__/__snapshots__/WatcherButton.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Button.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Flyout.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/__jest__/Button.test.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/__jest__/__snapshots__/Button.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/view.js
  x-pack/plugins/apm/public/utils/__test__/__snapshots__/url.test.js.snap
  x-pack/plugins/apm/public/utils/__test__/url.test.js
  x-pack/plugins/apm/public/utils/url.js
Labels: backport

#22855 [6.x] [APM] Minor cleanup (#22827)
  x-pack/plugins/apm/common/constants.js
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/__test__/__snapshots__/DetailView.test.js.snap
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/index.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/List/__test__/__snapshots__/List.test.js.snap
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/Watcher/WatcherFlyOut.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/StickyTransactionProperties.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/view.js
  x-pack/plugins/apm/public/components/app/TransactionDetails/view.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/DynamicBaseline/Flyout.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/__jest__/__snapshots__/TransactionOverview.test.js.snap
  x-pack/plugins/apm/public/components/app/TransactionOverview/index.js
  x-pack/plugins/apm/public/components/app/TransactionOverview/view.js
  x-pack/plugins/apm/public/components/shared/ContextProperties.js
  x-pack/plugins/apm/public/components/shared/StickyProperties/StickyProperties.test.js
  x-pack/plugins/apm/public/components/shared/StickyProperties/__snapshots__/StickyProperties.test.js.snap
  x-pack/plugins/apm/public/components/shared/StickyProperties/index.js
  x-pack/plugins/apm/public/services/__test__/callApi.test.js
  x-pack/plugins/apm/public/services/rest/callApi.js
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionDetailsCharts.js
  x-pack/plugins/apm/public/store/reactReduxRequest/transactionOverviewCharts.js
  x-pack/plugins/apm/public/utils/testHelpers.js
Labels: backport

#22850 [6.x] api/export: calculate content length (#22154) (#22847)
  src/core_plugins/kibana/server/routes/api/export/index.js
Labels: backport

#22858 [6.x] Remove deprecated React lifecycle methods from APM code (#22147)
  x-pack/plugins/apm/public/components/app/Main/Breadcrumbs.js
  x-pack/plugins/apm/public/components/app/ServiceOverview/__test__/ServiceOverview.test.js
  x-pack/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/ServiceOverview.test.js.snap
  x-pack/plugins/apm/public/components/app/ServiceOverview/view.js
  x-pack/plugins/apm/public/components/shared/ConnectRouterToRedux/view.js
  x-pack/plugins/apm/public/components/shared/Stacktrace/index.js
  x-pack/plugins/apm/readme.md
Labels: backport

#22800 Fix _source formatting
  src/core_plugins/kibana/common/field_formats/types/source.js
  src/core_plugins/kibana/public/field_formats/__tests__/_source.js
  test/functional/apps/visualize/_data_table.js
Labels: :Management, bug, v6.4.1, v6.5.0, v7.0.0

#22865 [6.4] Fix _source formatting (#22800)
  src/core_plugins/kibana/common/field_formats/types/source.js
  src/core_plugins/kibana/public/field_formats/__tests__/_source.js
  test/functional/apps/visualize/_data_table.js
Labels: backport

#22864 [6.x] Fix _source formatting (#22800)
  src/core_plugins/kibana/common/field_formats/types/source.js
  src/core_plugins/kibana/public/field_formats/__tests__/_source.js
  test/functional/apps/visualize/_data_table.js
Labels: backport

#22616 add new app plugin
  docs/plugins/known-plugins.asciidoc
Labels: docs, v6.5.0, v7.0.0

#22836 [Beats CM] Add check for BeatsPage component to avoid setState when unmounted
  x-pack/plugins/beats_management/public/pages/main/beats.tsx
Labels: :Beats, :Ingest UI, beats-cm, bug, v6.5.0, v7.0.0

#21709 Replace theme CSS instead of appending it.
  src/ui/public/theme/theme.js
Labels: :Dashboard, :Design, bug, v6.5.0, v7.0.0

#22664 [Telemetry] Ensure the banner is accessible with keyboard
  x-pack/plugins/xpack_main/public/hacks/welcome_banner/opt_in_banner_component.js
Labels: :Telemetry, accessibility, review, v6.5.0, v7.0.0

#22852 Attempt to fix flaky rbac tests
  x-pack/test/functional/apps/security/rbac_phase1.js
Labels: :Security, flaky-failing-test

#22867 [5.6] Fix _source formatting (#22800)
  src/ui/public/stringify/__tests__/_source.js
  src/ui/public/stringify/types/source.js
  test/functional/apps/visualize/_data_table.js
Labels: backport

#22884 [6.x] List "Cleaner" plugin for setting index TTL (#22616)
  docs/plugins/known-plugins.asciidoc
Labels: backport

#22887 [6.x] Replace theme CSS instead of appending it to DOM. (#21709)
  src/ui/public/theme/theme.js
Labels: backport

#22400 Translate Input Control component
  .i18nrc.json
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/controls_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/options_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/range_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.test.js
  src/core_plugins/input_control_vis/public/components/editor/field_select.js
  src/core_plugins/input_control_vis/public/components/editor/index_pattern_select.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/editor/options_tab.js
  src/core_plugins/input_control_vis/public/components/editor/options_tab.test.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/input_control_vis.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.js
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.test.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.test.js
  src/core_plugins/input_control_vis/public/components/vis/range_control.js
  src/core_plugins/input_control_vis/public/components/vis/range_control.test.js
  src/core_plugins/input_control_vis/public/control/control.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
  src/core_plugins/input_control_vis/public/control/range_control_factory.js
  src/core_plugins/input_control_vis/public/register_vis.js
  src/core_plugins/input_control_vis/public/vis_controller.js
  src/ui/public/vis/editors/default/vis_options.js
Labels: :Sharing, :i18n

#22888 [6.x] attempt to fix flaky tests (#22852)
  x-pack/test/functional/apps/security/rbac_phase1.js
Labels: backport

#22849 [ui/url] TypeScript-ify
  src/core/public/utils/modify_url.test.ts
  src/core/public/utils/modify_url.ts
  src/ui/public/url/absolute_to_parsed_url.ts
  src/ui/public/url/extract_app_path_and_id.ts
  src/ui/public/url/kibana_parsed_url.ts
  src/ui/public/url/prepend_path.ts
  src/ui/public/url/relative_to_absolute.ts
Labels: :Platform, review, v6.5.0, v7.0.0

#22894 [6.x] [ci] use es snapshots on non pull requests (#22834)
  src/dev/ci_setup/git_setup.sh
Labels: backport

#22834 [ci] use es snapshots on non pull requests
  src/dev/ci_setup/git_setup.sh
Labels: :Operations, v6.5.0, v7.0.0

#22889 [6.x] Ensure tab works on the banner (#22664)
  x-pack/plugins/xpack_main/public/hacks/welcome_banner/opt_in_banner_component.js
Labels: backport

#22900 [6.4] Controls vis - safely handle case where value can not be extracted from Kibana filter (#22885)
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.js
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.test.js
  src/core_plugins/input_control_vis/public/control/filter_manager/range_filter_manager.js
  src/core_plugins/input_control_vis/public/control/filter_manager/range_filter_manager.test.js
Labels: backport

#22899 [6.x] Controls vis - safely handle case where value can not be extracted from Kibana filter (#22885)
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.js
  src/core_plugins/input_control_vis/public/control/filter_manager/phrase_filter_manager.test.js
  src/core_plugins/input_control_vis/public/control/filter_manager/range_filter_manager.js
  src/core_plugins/input_control_vis/public/control/filter_manager/range_filter_manager.test.js
Labels: backport

#22792 Upgrade to TypeScript 3
  package.json
  packages/kbn-pm/package.json
  packages/kbn-pm/yarn.lock
  packages/kbn-system-loader/package.json
  packages/kbn-system-loader/yarn.lock
  src/core/server/logging/appenders/console/console_appender.test.ts
  src/core/utils/url.test.ts
  tsconfig.json
  tslint.yaml
  x-pack/package.json
  x-pack/yarn.lock
  yarn.lock
Labels: :Platform, review, v6.5.0, v7.0.0

#22895 [6.x] Translate Input Control component (#22400)
  .i18nrc.json
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/controls_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/list_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/options_tab.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/__snapshots__/range_control_editor.test.js.snap
  src/core_plugins/input_control_vis/public/components/editor/control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.js
  src/core_plugins/input_control_vis/public/components/editor/controls_tab.test.js
  src/core_plugins/input_control_vis/public/components/editor/field_select.js
  src/core_plugins/input_control_vis/public/components/editor/index_pattern_select.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/list_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/editor/options_tab.js
  src/core_plugins/input_control_vis/public/components/editor/options_tab.test.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.js
  src/core_plugins/input_control_vis/public/components/editor/range_control_editor.test.js
  src/core_plugins/input_control_vis/public/components/vis/__snapshots__/input_control_vis.test.js.snap
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.js
  src/core_plugins/input_control_vis/public/components/vis/input_control_vis.test.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.js
  src/core_plugins/input_control_vis/public/components/vis/list_control.test.js
  src/core_plugins/input_control_vis/public/components/vis/range_control.js
  src/core_plugins/input_control_vis/public/components/vis/range_control.test.js
  src/core_plugins/input_control_vis/public/control/control.js
  src/core_plugins/input_control_vis/public/control/list_control_factory.js
  src/core_plugins/input_control_vis/public/control/range_control_factory.js
  src/core_plugins/input_control_vis/public/register_vis.js
  src/core_plugins/input_control_vis/public/vis_controller.js
  src/ui/public/vis/editors/default/vis_options.js
Labels: backport

#22756 changing the way aggconfig field filter works
  src/ui/public/agg_types/__tests__/agg_params.js
  src/ui/public/agg_types/__tests__/param_types/_field.js
  src/ui/public/agg_types/agg_params.js
  src/ui/public/agg_types/buckets/date_histogram.js
  src/ui/public/agg_types/buckets/date_range.js
  src/ui/public/agg_types/buckets/geo_hash.js
  src/ui/public/agg_types/buckets/histogram.js
  src/ui/public/agg_types/buckets/ip_range.js
  src/ui/public/agg_types/buckets/range.js
  src/ui/public/agg_types/buckets/significant_terms.js
  src/ui/public/agg_types/buckets/terms.js
  src/ui/public/agg_types/metrics/avg.js
  src/ui/public/agg_types/metrics/cardinality.js
  src/ui/public/agg_types/metrics/geo_bounds.js
  src/ui/public/agg_types/metrics/geo_centroid.js
  src/ui/public/agg_types/metrics/max.js
  src/ui/public/agg_types/metrics/median.js
  src/ui/public/agg_types/metrics/min.js
  src/ui/public/agg_types/metrics/percentile_ranks.js
  src/ui/public/agg_types/metrics/percentiles.js
  src/ui/public/agg_types/metrics/std_deviation.js
  src/ui/public/agg_types/metrics/sum.js
  src/ui/public/agg_types/metrics/top_hit.js
  src/ui/public/agg_types/param_types/field.js
  src/ui/public/agg_types/param_types/filter/field_filters.test.ts
  src/ui/public/agg_types/param_types/filter/field_filters.ts
  src/ui/public/filter_editor/filter_field_select.js
  src/ui/public/filter_editor/lib/__tests__/filter_editor_utils.js
  src/ui/public/filter_editor/lib/filter_editor_utils.js
  src/ui/public/vis/agg_config.js
  src/ui/public/vis/editors/default/__tests__/agg.js
  src/ui/public/vis/editors/default/agg_params.js
  src/ui/public/vis/editors/default/default.js
  src/ui/public/vis/editors/default/vis_type_field_filter.ts
Labels: :Visualizations, release_note:dev_docs, review, v6.5.0

#22814 [ML] Fixes Anomaly Explorer Swimlane race condition, adds tests.
  x-pack/plugins/ml/public/explorer/__mocks__/mock_overall_swimlane.json
  x-pack/plugins/ml/public/explorer/__snapshots__/explorer_swimlane.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/explorer/explorer_constants.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.test.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
Labels: :ml, :ml-results, v6.5.0, v7.0.0

#22914 [6.x] decouple agg configs from vis (#21827)
  src/core_plugins/kbn_vislib_vis_types/public/editors/__tests__/point_series.js
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/core_plugins/tile_map/public/coordinatemap_response_handler.js
  src/ui/public/agg_response/point_series/__tests__/_add_to_siri.js
  src/ui/public/agg_response/point_series/__tests__/_fake_x_aspect.js
  src/ui/public/agg_response/point_series/__tests__/_get_aspects.js
  src/ui/public/agg_response/point_series/__tests__/_get_point.js
  src/ui/public/agg_response/point_series/__tests__/_get_series.js
  src/ui/public/agg_response/point_series/__tests__/_init_x_axis.js
  src/ui/public/agg_response/point_series/__tests__/_init_y_axis.js
  src/ui/public/agg_response/point_series/__tests__/_main.js
  src/ui/public/agg_response/point_series/__tests__/_ordered_date_axis.js
  src/ui/public/agg_response/point_series/_add_to_siri.js
  src/ui/public/agg_response/point_series/_fake_x_aspect.js
  src/ui/public/agg_response/point_series/_get_aspects.js
  src/ui/public/agg_response/point_series/_get_point.js
  src/ui/public/agg_response/point_series/_get_series.js
  src/ui/public/agg_response/point_series/_init_x_axis.js
  src/ui/public/agg_response/point_series/_init_y_axis.js
  src/ui/public/agg_response/point_series/_ordered_date_axis.js
  src/ui/public/agg_response/point_series/point_series.js
  src/ui/public/agg_types/__tests__/buckets/_geo_hash.js
  src/ui/public/agg_types/__tests__/buckets/date_histogram/_editor.js
  src/ui/public/agg_types/__tests__/buckets/date_histogram/_params.js
  src/ui/public/agg_types/buckets/_terms_other_bucket_helper.js
  src/ui/public/agg_types/buckets/create_filter/date_histogram.js
  src/ui/public/agg_types/buckets/create_filter/date_range.js
  src/ui/public/agg_types/buckets/create_filter/filters.js
  src/ui/public/agg_types/buckets/create_filter/histogram.js
  src/ui/public/agg_types/buckets/create_filter/ip_range.js
  src/ui/public/agg_types/buckets/create_filter/range.js
  src/ui/public/agg_types/buckets/date_histogram.js
  src/ui/public/agg_types/buckets/date_range.js
  src/ui/public/agg_types/buckets/geo_hash.js
  src/ui/public/agg_types/buckets/terms.js
  src/ui/public/agg_types/controls/field.html
  src/ui/public/agg_types/controls/order_agg.html
  src/ui/public/agg_types/controls/sub_agg.html
  src/ui/public/agg_types/controls/sub_metric.html
  src/ui/public/agg_types/metrics/lib/make_nested_label.js
  src/ui/public/agg_types/metrics/lib/parent_pipeline_agg_helper.js
  src/ui/public/agg_types/metrics/lib/sibling_pipeline_agg_helper.js
  src/ui/public/agg_types/metrics/top_hit.js
  src/ui/public/vis/__tests__/_agg_config.js
  src/ui/public/vis/__tests__/_agg_configs.js
  src/ui/public/vis/__tests__/_vis.js
  src/ui/public/vis/agg_config.js
  src/ui/public/vis/agg_configs.js
  src/ui/public/vis/editors/default/__tests__/agg_params.js
  src/ui/public/vis/editors/default/agg_add.js
  src/ui/public/vis/map/convert_to_geojson.js
  src/ui/public/vis/request_handlers/courier.js
  src/ui/public/vis/response_handlers/vislib.js
  src/ui/public/vis/vis.js
Labels: backport

#22923 [6.x] [ML] Fixes Anomaly Explorer Swimlane race condition, adds tests. (#22814)
  x-pack/plugins/ml/public/explorer/__mocks__/mock_overall_swimlane.json
  x-pack/plugins/ml/public/explorer/__snapshots__/explorer_swimlane.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/explorer/explorer_constants.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.test.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
Labels: :ml, :ml-results, backport

#22919 fixing sorting of terms bucket
  src/ui/public/agg_types/buckets/terms.js
  src/ui/public/agg_types/controls/order_agg.html
  src/ui/public/vis/agg_configs.js
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/page_objects/visualize_page.js
Labels: :Visualizations, review, v6.5.0, v7.0.0

#22904 [core/public/deepFreeze] fix recursive type for better array support
  src/core/public/injected_metadata/__fixtures__/frozen_object_mutation/index.ts
  src/core/public/injected_metadata/__fixtures__/frozen_object_mutation/tsconfig.json
  src/core/public/injected_metadata/deep_freeze.test.ts
  src/core/public/injected_metadata/deep_freeze.ts
Labels: :Platform, review, v6.5.0, v7.0.0

#22912 Fix rbac test
  test/functional/page_objects/common_page.js
  x-pack/test/functional/apps/security/management.js
  x-pack/test/functional/apps/security/rbac_phase1.js
  x-pack/test/functional/apps/security/security.js
  x-pack/test/functional/page_objects/security_page.js
Labels: :Security, flaky-failing-test, test, test_xpack_functional

#22930 [6.x] Expose `max_concurrent_shard_requests` for `_msearch` requests (#22379)
  docs/management/advanced-options.asciidoc
  src/core_plugins/kibana/ui_setting_defaults.js
  src/ui/public/courier/fetch/call_client.js
  src/ui/public/courier/search_strategy/default_search_strategy.js
  src/ui/public/courier/search_strategy/default_search_strategy.test.js
Labels: backport

#22932 [6.x] [core/public/deepFreeze] fix recursive type for better array support (#22904)
  src/core/public/injected_metadata/__fixtures__/frozen_object_mutation/index.ts
  src/core/public/injected_metadata/__fixtures__/frozen_object_mutation/tsconfig.json
  src/core/public/injected_metadata/deep_freeze.test.ts
  src/core/public/injected_metadata/deep_freeze.ts
Labels: backport

#21505 Default to chromium and add deprecation warning for phantom.
  docs/settings/reporting-settings.asciidoc
  x-pack/plugins/reporting/index.js
  x-pack/plugins/reporting/server/browsers/browser_types.js
  x-pack/plugins/reporting/server/browsers/default_browser.js
  x-pack/plugins/reporting/server/browsers/index.js
Labels: :Sharing, :reporting

#22875 translate tutorials(aerospike_metrics, apache_logs, apache_metrics)
  src/core_plugins/kibana/server/tutorials/aerospike_metrics/index.js
  src/core_plugins/kibana/server/tutorials/apache_logs/index.js
  src/core_plugins/kibana/server/tutorials/apache_metrics/index.js
Labels: :Sharing, :i18n

#22933 [6.x] Fix rbac test (#22912)
  test/functional/page_objects/common_page.js
  x-pack/test/functional/apps/security/management.js
  x-pack/test/functional/apps/security/rbac_phase1.js
  x-pack/test/functional/apps/security/security.js
  x-pack/test/functional/page_objects/security_page.js
Labels: backport

#22935 [6.4] Fix rbac test (#22912)
  test/functional/page_objects/common_page.js
  x-pack/test/functional/apps/security/management.js
  x-pack/test/functional/apps/security/rbac_phase1.js
  x-pack/test/functional/apps/security/security.js
  x-pack/test/functional/page_objects/security_page.js
Labels: backport
