Repository elastic/kibana, pull requests merged in 2018-04, with the labels that each got.

#17390 Gain extra info when nested query visualization test fails
  test/functional/apps/dashboard/_dashboard_queries.js
Labels: :Dashboard, :Sharing, test

#17457 Prevent logging deprecation warnings in production
  src/cli_plugin/lib/log_warnings.js
  src/server/warnings/index.js
Labels: :Operations, review, v6.3.0, v7.0.0

#17494 [6.x] Gain extra info when nested query visualization test fails (#17390)
  test/functional/apps/dashboard/_dashboard_queries.js
Labels: backport

#17498 [6.2] Allow Vega's emsfile to bypass sanitization (#17370)
  src/core_plugins/vega/public/data_model/__tests__/vega_parser.js
  src/core_plugins/vega/public/data_model/ems_file_parser.js
  src/core_plugins/vega/public/vega_view/vega_base_view.js
Labels: backport

#17497 [6.x] Allow Vega's emsfile to bypass sanitization (#17370)
  src/core_plugins/vega/public/data_model/__tests__/vega_parser.js
  src/core_plugins/vega/public/data_model/ems_file_parser.js
  src/core_plugins/vega/public/vega_view/vega_base_view.js
Labels: backport

#17499 [6.2] bumped Vega dependencies to v-3.2.1 & vl-2.3.1 (#17314)
  package.json
  yarn.lock
Labels: backport

#17493 Defaulting to empty array for certificate authorities
  src/server/config/schema.js
Labels: review

#17505 [6.x] Defaulting to empty array for certificate authorities (#17493)
  src/server/config/schema.js
Labels: backport

#17500 [eslint] always ignore jest snapshot files
  .eslintignore
Labels: :Platform, review, v6.3.0, v7.0.0

#17506 [6.x] [eslint] always ignore jest snapshot files (#17500)
  .eslintignore
Labels: backport

#17458 Allow auto refresh for non time based indexes
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/kibana/public/visualize/editor/editor.js
Labels: :Discovery, :Visualizations, release_note:enhancement, v6.3.0, v7.0.0

#17478 [docs] sha1 -> sha512
  docs/setup/install/deb.asciidoc
  docs/setup/install/rpm.asciidoc
  docs/setup/install/targz.asciidoc
Labels: docs

#17516 [6.x] Allow auto refresh for non time based indexes (#17458)
  src/core_plugins/kibana/public/discover/controllers/discover.js
  src/core_plugins/kibana/public/visualize/editor/editor.js
Labels: backport, v6.3.0

#17508 update numeral-js dependency - elastic fork
  package.json
  yarn.lock
Labels: review, v6.2.4, v6.3.0, v7.0.0

#17524 [6.2] update numeral-js dependency - elastic fork (#17508)
  package.json
  yarn.lock
Labels: backport

#17523 [6.x] update numeral-js dependency - elastic fork (#17508)
  package.json
  yarn.lock
Labels: backport

#17394 Redirect to dashboard listing page when panel data can not be migrated.
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid.js
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid.test.js
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid_container.test.js
  src/core_plugins/kibana/public/dashboard/panel/panel_utils.js
Labels: :Dashboard, v6.3.0, v7.0.0

#17526 [6.x] Redirect to dashboard listing page when panel data can not be migrate…
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid.js
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid.test.js
  src/core_plugins/kibana/public/dashboard/grid/dashboard_grid_container.test.js
  src/core_plugins/kibana/public/dashboard/panel/panel_utils.js
Labels: backport

#17420 Bring back shard timeout
  config/kibana.yml
  docs/setup/settings.asciidoc
  src/core_plugins/elasticsearch/index.js
  src/ui/public/courier/fetch/request/request_fetch_params_to_body.js
  src/ui/public/courier/fetch/request/request_fetch_params_to_body_provider.js
Labels: :Discovery, v6.3.0, v7.0.0

#17521 [Home] Update Node instructions
  src/core_plugins/kibana/server/tutorials/apm/apm_client_instructions.js
Labels: :apm

#17169 [ui/config] extract core config logic into vanilla JS UiSettingsClient
  src/ui/public/chrome/api/ui_settings.js
  src/ui/public/chrome/chrome.js
  src/ui/public/config/__tests__/config.js
  src/ui/public/config/_delayed_updater.js
  src/ui/public/config/config.js
  src/ui/public/config/migrations/_empty_
  src/ui/public/test_harness/test_harness.js
  src/ui/ui_settings/public/__snapshots__/ui_settings_api.test.js.snap
  src/ui/ui_settings/public/__snapshots__/ui_settings_client.test.js.snap
  src/ui/ui_settings/public/send_request.js
  src/ui/ui_settings/public/ui_settings_api.js
  src/ui/ui_settings/public/ui_settings_api.test.js
  src/ui/ui_settings/public/ui_settings_client.js
  src/ui/ui_settings/public/ui_settings_client.test.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17534 [6.x] [ui/config] extract core config logic into vanilla JS UiSettingsClient (#17169)
  src/ui/public/chrome/api/ui_settings.js
  src/ui/public/chrome/chrome.js
  src/ui/public/config/__tests__/config.js
  src/ui/public/config/_delayed_updater.js
  src/ui/public/config/config.js
  src/ui/public/config/migrations/_empty_
  src/ui/public/test_harness/test_harness.js
  src/ui/ui_settings/public/__snapshots__/ui_settings_api.test.js.snap
  src/ui/ui_settings/public/__snapshots__/ui_settings_client.test.js.snap
  src/ui/ui_settings/public/send_request.js
  src/ui/ui_settings/public/ui_settings_api.js
  src/ui/ui_settings/public/ui_settings_api.test.js
  src/ui/ui_settings/public/ui_settings_client.js
  src/ui/ui_settings/public/ui_settings_client.test.js
Labels: backport

#17531 [6.x] [Home] Update Node instructions (#17521)
  src/core_plugins/kibana/server/tutorials/apm/apm_client_instructions.js
Labels: backport

#17522 Fix styling of disabled kuiCheckboxes
  packages/kbn-ui-framework/dist/ui_framework.css
  packages/kbn-ui-framework/src/components/form/check_box/_check_box.scss
Labels: :Design, :Visualizations, v6.3.0, v7.0.0

#17484 [uiApp] remove unused `templateName` config option
  src/ui/ui_apps/__tests__/ui_app.js
  src/ui/ui_apps/ui_app.js
  src/ui/ui_exports/ui_export_types/ui_apps.js
  src/ui/ui_render/ui_render_mixin.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17261 Support PKCS#12 encoded certificates
  docs/setup/production.asciidoc
  docs/setup/settings.asciidoc
  src/cli/cluster/__tests__/base_path_proxy.js
  src/cli/cluster/base_path_proxy.js
  src/cli/serve/serve.js
  src/core_plugins/console/server/elasticsearch_proxy_config.js
  src/core_plugins/elasticsearch/index.js
  src/core_plugins/elasticsearch/lib/__tests__/fixtures/cert.pfx
  src/core_plugins/elasticsearch/lib/__tests__/parse_config.js
  src/core_plugins/elasticsearch/lib/parse_config.js
  src/server/config/__tests__/schema.js
  src/server/config/__tests__/transform_deprecations.js
  src/server/config/config.js
  src/server/config/schema.js
  src/server/config/transform_deprecations.js
  src/server/http/setup_connection.js
Labels: :Security, v6.4.0

#17543 [6.x] [uiApp] remove unused `templateName` config option (#17484)
  src/ui/ui_apps/__tests__/ui_app.js
  src/ui/ui_apps/ui_app.js
  src/ui/ui_exports/ui_export_types/ui_apps.js
  src/ui/ui_render/ui_render_mixin.js
Labels: backport

#17540 [6.x] Fix styling of disabled kuiCheckboxes (#17522)
  packages/kbn-ui-framework/dist/ui_framework.css
  packages/kbn-ui-framework/src/components/form/check_box/_check_box.scss
Labels: backport

#17537 [licenses] resolve license for private:true packages
  .gitignore
  tasks/lib/licenses/__tests__/valid.js
  tasks/lib/licenses/valid.js
  tasks/lib/packages/__tests__/fixtures/fixture1/node_modules/privatedep/index.js
  tasks/lib/packages/__tests__/fixtures/fixture1/node_modules/privatedep/package.json
  tasks/lib/packages/__tests__/fixtures/fixture1/package.json
  tasks/lib/packages/__tests__/installed_packages.js
  tasks/lib/packages/installed_packages.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17509 [Test] Integration test for Kibana status API
  test/api_integration/apis/index.js
  test/api_integration/apis/status/index.js
  test/api_integration/apis/status/status.js
Labels: review, test, v6.4.0, v7.0.0

#17504 Add/generate/verify NOTICE.txt file
  NOTICE.txt
  package.json
  scripts/notice.js
  src/core_plugins/console/public/webpackShims/ui-bootstrap-custom.js
  src/dev/notice/cli.js
  src/dev/notice/generate_notice_text.js
  src/dev/notice/index.js
  src/ui/public/flot-charts/index.js
  src/ui/public/styles/bootstrap/bootstrap.less
  src/ui/public/utils/decode_geo_hash.js
  tasks/config/run.js
  tasks/jenkins.js
  tasks/lib/notice/__tests__/notice.js
  tasks/lib/notice/notice.js
  yarn.lock
Labels: :Platform, review, v6.3.0, v7.0.0

#17547 [6.x] [licenses] resolve license for private:true packages (#17537)
  .gitignore
  tasks/lib/licenses/__tests__/valid.js
  tasks/lib/licenses/valid.js
  tasks/lib/packages/__tests__/fixtures/fixture1/node_modules/privatedep/index.js
  tasks/lib/packages/__tests__/fixtures/fixture1/node_modules/privatedep/package.json
  tasks/lib/packages/__tests__/fixtures/fixture1/package.json
  tasks/lib/packages/__tests__/installed_packages.js
  tasks/lib/packages/installed_packages.js
Labels: backport

#17529 [6.x] Bring back shard timeout (#17420)
  config/kibana.yml
  docs/setup/settings.asciidoc
  src/core_plugins/elasticsearch/index.js
  src/ui/public/courier/fetch/request/request_fetch_params_to_body.js
  src/ui/public/courier/fetch/request/request_fetch_params_to_body_provider.js
Labels: backport

#17549 [6.x] [Test] Integration test for Kibana status API (#17509)
  test/api_integration/apis/index.js
  test/api_integration/apis/status/index.js
  test/api_integration/apis/status/status.js
Labels: backport

#17550 [6.x] Add/generate/verify NOTICE.txt file (#17504)
  NOTICE.txt
  package.json
  scripts/notice.js
  src/core_plugins/console/public/webpackShims/ui-bootstrap-custom.js
  src/dev/notice/cli.js
  src/dev/notice/generate_notice_text.js
  src/dev/notice/index.js
  src/ui/public/flot-charts/index.js
  src/ui/public/styles/bootstrap/bootstrap.less
  src/ui/public/utils/decode_geo_hash.js
  tasks/config/run.js
  tasks/jenkins.js
  tasks/lib/notice/__tests__/notice.js
  tasks/lib/notice/notice.js
  yarn.lock
Labels: backport

#16798 Add /api/status endpoint to docs, fixes #16690
  docs/setup/access.asciidoc
Labels: docs, v6.3.0, v7.0.0

#17560 [6.x] Add /api/status endpoint to docs, fixes #16690 (#16798)
  docs/setup/access.asciidoc
Labels: backport

#17561 [6.2] Add /api/status endpoint to docs, fixes #16690 (#16798)
  docs/setup/access.asciidoc
Labels: backport

#17562 [6.1] Add /api/status endpoint to docs, fixes #16690 (#16798)
  docs/setup/access.asciidoc
Labels: backport

#17559 [uiSettingsClient] support overriding local defaults
  src/ui/public/chrome/api/angular.js
  src/ui/ui_settings/public/__snapshots__/ui_settings_client.test.js.snap
  src/ui/ui_settings/public/ui_settings_client.js
  src/ui/ui_settings/public/ui_settings_client.test.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17569 [6.x] [uiSettingsClient] support overriding local defaults (#17559)
  src/ui/public/chrome/api/angular.js
  src/ui/ui_settings/public/__snapshots__/ui_settings_client.test.js.snap
  src/ui/ui_settings/public/ui_settings_client.js
  src/ui/ui_settings/public/ui_settings_client.test.js
Labels: backport

#17502 Show error when geojson/topojson file cannot be downloaded
  src/core_plugins/region_map/public/choropleth_layer.js
Labels: :Visualizations, geo, release_note:fix, v6.2.4, v6.3.0, v7.0.0

#17572 [6.x] Show toast error when geojson/topojson file cannot be downloaded (#17502)
  src/core_plugins/region_map/public/choropleth_layer.js
Labels: :Visualizations, backport, v6.3.0

#17584 [angular-recursion] use angular-recursion module from npm
  package.json
  src/ui/public/agg_table/agg_table.js
  src/ui/public/agg_table/agg_table_group.js
  src/ui/public/compile_recursive_directive.js
  yarn.lock
Labels: review, v6.3.0, v7.0.0

#17587 [6.x] [angular-recursion] use angular-recursion module from npm (#17584)
  package.json
  src/ui/public/agg_table/agg_table.js
  src/ui/public/agg_table/agg_table_group.js
  src/ui/public/compile_recursive_directive.js
  yarn.lock
Labels: backport

#17546 [6.x] Support PKCS#12 encoded certificates (#17261)
  docs/setup/production.asciidoc
  docs/setup/settings.asciidoc
  src/cli/cluster/__tests__/base_path_proxy.js
  src/cli/cluster/base_path_proxy.js
  src/cli/serve/serve.js
  src/core_plugins/console/server/elasticsearch_proxy_config.js
  src/core_plugins/elasticsearch/index.js
  src/core_plugins/elasticsearch/lib/__tests__/fixtures/cert.pfx
  src/core_plugins/elasticsearch/lib/__tests__/parse_config.js
  src/core_plugins/elasticsearch/lib/parse_config.js
  src/server/config/config.js
  src/server/config/schema.js
  src/server/config/schema.test.js
  src/server/config/transform_deprecations.js
  src/server/config/transform_deprecations.test.js
  src/server/http/setup_connection.js
Labels: backport

#17558 [Server/Routes] organize status routes together with others
  src/core_plugins/kibana/index.js
  src/core_plugins/kibana/server/routes/api/scripts/index.js
  src/core_plugins/kibana/server/routes/api/search/index.js
  src/server/kbn_server.js
  src/server/status/index.js
  src/server/status/routes/api/register_status.js
  src/server/status/routes/index.js
  src/server/status/routes/page/register_status.js
  src/server/status/wrap_auth_config.js
  src/server/status/wrap_auth_config.test.js
  test/api_integration/apis/status/status.js
Labels: review, v6.3.0, v7.0.0

#17589 [6.x] [Server/Routes] organize status routes together with others (#17558)
  src/core_plugins/kibana/index.js
  src/core_plugins/kibana/server/routes/api/scripts/index.js
  src/core_plugins/kibana/server/routes/api/search/index.js
  src/server/kbn_server.js
  src/server/status/index.js
  src/server/status/routes/api/register_status.js
  src/server/status/routes/index.js
  src/server/status/routes/page/register_status.js
  src/server/status/wrap_auth_config.js
  src/server/status/wrap_auth_config.test.js
  test/api_integration/apis/status/status.js
Labels: backport, v6.3.0

#17564 [5.6] Add /api/status endpoint to docs, fixes #16690 (#16798)
  docs/setup/access.asciidoc
Labels: backport

#17596 [@kbn/es] fix promise and CLI error handling
  packages/kbn-es/src/cli.js
  packages/kbn-es/src/cli_commands/archive.js
  packages/kbn-es/src/cluster.js
  packages/kbn-es/src/errors.js
  packages/kbn-es/src/install/source.js
Labels: :Operations, review, v6.3.0, v7.0.0

#16512 Added Vega interactive map support
  docs/visualize/vega.asciidoc
  package.json
  src/core_plugins/region_map/public/choropleth_layer.js
  src/core_plugins/tile_map/public/__tests__/geohash_layer.js
  src/core_plugins/tile_map/public/base_maps_visualization.js
  src/core_plugins/tile_map/public/geohash_layer.js
  src/core_plugins/vega/public/data_model/__tests__/vega_parser.js
  src/core_plugins/vega/public/data_model/vega_parser.js
  src/core_plugins/vega/public/vega_view/vega_base_view.js
  src/core_plugins/vega/public/vega_view/vega_map_layer.js
  src/core_plugins/vega/public/vega_view/vega_map_view.js
  src/core_plugins/vega/public/vega_visualization.js
  src/ui/public/vis/__tests__/map/kibana_map.js
  src/ui/public/vis/map/kibana_map.js
  src/ui/public/vis/map/kibana_map_layer.js
  yarn.lock
Labels: :Vega vis, :Visualizations, release_note:enhancement, v6.3.0, v7.0.0

#17599 [6.x] Added Vega interactive map support (#16512)
  docs/visualize/vega.asciidoc
  package.json
  src/core_plugins/region_map/public/choropleth_layer.js
  src/core_plugins/tile_map/public/__tests__/geohash_layer.js
  src/core_plugins/tile_map/public/base_maps_visualization.js
  src/core_plugins/tile_map/public/geohash_layer.js
  src/core_plugins/vega/public/data_model/__tests__/vega_parser.js
  src/core_plugins/vega/public/data_model/vega_parser.js
  src/core_plugins/vega/public/vega_view/vega_base_view.js
  src/core_plugins/vega/public/vega_view/vega_map_layer.js
  src/core_plugins/vega/public/vega_view/vega_map_view.js
  src/core_plugins/vega/public/vega_visualization.js
  src/ui/public/vis/__tests__/map/kibana_map.js
  src/ui/public/vis/map/kibana_map.js
  src/ui/public/vis/map/kibana_map_layer.js
  yarn.lock
Labels: backport, v6.3.0

#17485 [uiApp] replace uiApp.injectVars with server.injectUiAppVars()
  src/core_plugins/kibana/index.js
  src/core_plugins/timelion/index.js
  src/core_plugins/timelion/init.js
  src/ui/__tests__/fixtures/test_app/index.js
  src/ui/ui_apps/__snapshots__/ui_apps_mixin.test.js.snap
  src/ui/ui_apps/__tests__/ui_app.js
  src/ui/ui_apps/ui_app.js
  src/ui/ui_apps/ui_apps_mixin.js
  src/ui/ui_apps/ui_apps_mixin.test.js
  src/ui/ui_exports/ui_export_types/ui_apps.js
  src/ui/ui_render/ui_render_mixin.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17597 Replace reference screenshots
  src/core_plugins/tagcloud/public/__tests__/afterparamchange.png
  src/core_plugins/tagcloud/public/__tests__/afterresize.png
  src/core_plugins/tagcloud/public/__tests__/basicdraw.png
  src/core_plugins/tagcloud/public/__tests__/simpleload.png
  src/core_plugins/tagcloud/public/__tests__/tag_cloud.js
  src/core_plugins/tagcloud/public/__tests__/tag_cloud_visualization.js
  src/core_plugins/tagcloud/public/tag_cloud.js
  src/test_utils/public/image_comparator.js
Labels: :Visualizations, WIP

#17610 [6.x] removing angular from Schema, AggParams and AggTypes (#17565)
  src/core_plugins/kbn_vislib_vis_types/public/area.js
  src/core_plugins/kbn_vislib_vis_types/public/gauge.js
  src/core_plugins/kbn_vislib_vis_types/public/goal.js
  src/core_plugins/kbn_vislib_vis_types/public/heatmap.js
  src/core_plugins/kbn_vislib_vis_types/public/histogram.js
  src/core_plugins/kbn_vislib_vis_types/public/horizontal_bar.js
  src/core_plugins/kbn_vislib_vis_types/public/line.js
  src/core_plugins/kbn_vislib_vis_types/public/pie.js
  src/core_plugins/metric_vis/public/metric_vis.js
  src/core_plugins/region_map/public/region_map_vis.js
  src/core_plugins/table_vis/public/table_vis.js
  src/core_plugins/tagcloud/public/tag_cloud_vis.js
  src/core_plugins/tile_map/public/tile_map_vis.js
  src/ui/public/agg_types/__tests__/agg_params.js
  src/ui/public/agg_types/__tests__/agg_type.js
  src/ui/public/agg_types/__tests__/param_types/_field.js
  src/ui/public/agg_types/__tests__/param_types/_json.js
  src/ui/public/agg_types/__tests__/param_types/_optioned.js
  src/ui/public/agg_types/__tests__/param_types/_regex.js
  src/ui/public/agg_types/__tests__/param_types/_string.js
  src/ui/public/agg_types/__tests__/utils/_stub_agg_params.js
  src/ui/public/agg_types/agg_params.js
  src/ui/public/agg_types/agg_type.js
  src/ui/public/agg_types/buckets/terms.js
  src/ui/public/agg_types/metrics/lib/parent_pipeline_agg_helper.js
  src/ui/public/agg_types/metrics/lib/sibling_pipeline_agg_helper.js
  src/ui/public/agg_types/param_types/base.js
  src/ui/public/agg_types/param_types/field.js
  src/ui/public/agg_types/param_types/json.js
  src/ui/public/agg_types/param_types/optioned.js
  src/ui/public/agg_types/param_types/regex.js
  src/ui/public/agg_types/param_types/string.js
  src/ui/public/vis/__tests__/_agg_configs.js
  src/ui/public/vis/editors/default/__tests__/agg_params.js
  src/ui/public/vis/editors/default/schemas.js
Labels: backport

#17590 Fix issue with flickering tooltips
  src/ui/public/chrome/directives/kbn_chrome.less
  src/ui/public/styles/base.less
Labels: :Design, blocker, bug, v6.3.0, v7.0.0

#17616 Eui/38
  package.json
  yarn.lock
Labels: v6.3.0

#17619 [6.x] Fix issue with flickering tooltips (#17590)
  src/ui/public/chrome/directives/kbn_chrome.less
  src/ui/public/styles/base.less
Labels: backport, v6.3.0

#17618 [6.x] use VISUALIZATION_COLORS instead of hardcoding (#17606)
  src/core_plugins/vega/public/__tests__/vegalite_graph.hjson
  src/core_plugins/vega/public/data_model/__tests__/vega_parser.js
  src/core_plugins/vega/public/data_model/vega_parser.js
  src/core_plugins/vega/public/vega_view/vega_base_view.js
Labels: backport

#17511 [savedObjects/mappings] limit valid type names
  src/server/mappings/__snapshots__/index_mappings.test.js.snap
  src/server/mappings/index_mappings.js
  src/server/mappings/index_mappings.test.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17617 Upgrade to TypeScript 2.8.1
  package.json
  packages/kbn-pm/package.json
  packages/kbn-pm/yarn.lock
  yarn.lock
Labels: :Platform, chore

#16389 Use Jest on cli tests
  packages/eslint-config-kibana/jest.js
  src/cli/cluster/_mock_cluster_fork.js
  src/cli/cluster/base_path_proxy.test.js
  src/cli/cluster/cluster_manager.test.js
  src/cli/cluster/worker.test.js
  src/cli/serve/__fixtures__/one.yml
  src/cli/serve/__fixtures__/two.yml
  src/cli/serve/__tests__/invalid_config.js
  src/cli/serve/__tests__/reload_logging_config.js
  src/cli/serve/integration_tests/__fixtures__/invalid_config.yml
  src/cli/serve/integration_tests/__fixtures__/reload_logging_config/kibana.test.yml
  src/cli/serve/integration_tests/__snapshots__/invalid_config.test.js.snap
  src/cli/serve/integration_tests/__snapshots__/reload_logging_config.test.js.snap
  src/cli/serve/integration_tests/invalid_config.test.js
  src/cli/serve/integration_tests/reload_logging_config.test.js
  src/cli/serve/read_yaml_config.test.js
  src/cli_keystore/add.test.js
  src/cli_keystore/create.test.js
  src/cli_keystore/list.test.js
  src/cli_keystore/remove.test.js
  src/cli_plugin/install/__fixtures__/replies/banana.jpg
  src/cli_plugin/install/__fixtures__/replies/corrupt.zip
  src/cli_plugin/install/__fixtures__/replies/invalid_name.zip
  src/cli_plugin/install/__fixtures__/replies/package.no_version.json
  src/cli_plugin/install/__fixtures__/replies/test_plugin.zip
  src/cli_plugin/install/__fixtures__/replies/test_plugin_different_version.zip
  src/cli_plugin/install/__fixtures__/replies/test_plugin_many.zip
  src/cli_plugin/install/__fixtures__/replies/test_plugin_no_kibana.zip
  src/cli_plugin/install/__tests__/progress.js
  src/cli_plugin/install/cleanup.test.js
  src/cli_plugin/install/download.test.js
  src/cli_plugin/install/index.test.js
  src/cli_plugin/install/kibana.test.js
  src/cli_plugin/install/pack.test.js
  src/cli_plugin/install/progress.test.js
  src/cli_plugin/install/rename.test.js
  src/cli_plugin/install/settings.test.js
  src/cli_plugin/install/zip.test.js
  src/cli_plugin/lib/logger.test.js
  src/cli_plugin/list/list.test.js
  src/cli_plugin/list/settings.test.js
  src/cli_plugin/remove/remove.test.js
  src/cli_plugin/remove/settings.test.js
  src/dev/jest/config.js
Labels: chore, test

#17634 [6.x] Upgrade to TypeScript 2.8.1 (#17617)
  package.json
  packages/kbn-pm/package.json
  packages/kbn-pm/yarn.lock
  yarn.lock
Labels: backport

#17620 set min-width on element
  src/core_plugins/input_control_vis/public/vis.less
Labels: :Input Control, release_note:fix, v6.3.0, v7.0.0

#17626 Revert to old threshold parameters for screenshot tests
  src/core_plugins/tagcloud/public/__tests__/tag_cloud.js
  src/core_plugins/tagcloud/public/__tests__/tag_cloud_visualization.js
Labels: :Visualizations, test, v7.0.0

#17637 [6.x] set min-width on element (#17620)
  src/core_plugins/input_control_vis/public/vis.less
Labels: backport

#17636 [6.x] [CLI] Readable logs on Windows with chalk colors (#15557)
  package.json
  src/cli/cluster/__tests__/worker.js
  src/cli/cluster/worker.js
  src/cli/color.js
  src/cli/serve/__tests__/reload_logging_config.js
  src/dev/tooling_log/tooling_log.js
  src/server/logging/log_format.js
  src/server/logging/log_format_string.js
  tasks/sterilize.js
  test/functional/services/remote/verbose_remote_logging.js
  yarn.lock
Labels: backport

#17635 [6.x] Use Jest on cli tests (#16389)
  packages/eslint-config-kibana/jest.js
  src/cli/cluster/_mock_cluster_fork.js
  src/cli/cluster/base_path_proxy.test.js
  src/cli/cluster/cluster_manager.test.js
  src/cli/cluster/worker.test.js
  src/cli/serve/__fixtures__/one.yml
  src/cli/serve/__fixtures__/two.yml
  src/cli/serve/__tests__/invalid_config.js
  src/cli/serve/__tests__/reload_logging_config.js
  src/cli/serve/integration_tests/__fixtures__/invalid_config.yml
  src/cli/serve/integration_tests/__fixtures__/reload_logging_config/kibana.test.yml
  src/cli/serve/integration_tests/__snapshots__/invalid_config.test.js.snap
  src/cli/serve/integration_tests/__snapshots__/reload_logging_config.test.js.snap
  src/cli/serve/integration_tests/invalid_config.test.js
  src/cli/serve/integration_tests/reload_logging_config.test.js
  src/cli/serve/read_yaml_config.test.js
  src/cli_keystore/add.test.js
  src/cli_keystore/create.test.js
  src/cli_keystore/list.test.js
  src/cli_keystore/remove.test.js
  src/cli_plugin/install/__fixtures__/replies/banana.jpg
  src/cli_plugin/install/__fixtures__/replies/corrupt.zip
  src/cli_plugin/install/__fixtures__/replies/invalid_name.zip
  src/cli_plugin/install/__fixtures__/replies/package.no_version.json
  src/cli_plugin/install/__fixtures__/replies/test_plugin.zip
  src/cli_plugin/install/__fixtures__/replies/test_plugin_different_version.zip
  src/cli_plugin/install/__fixtures__/replies/test_plugin_many.zip
  src/cli_plugin/install/__fixtures__/replies/test_plugin_no_kibana.zip
  src/cli_plugin/install/__tests__/progress.js
  src/cli_plugin/install/cleanup.test.js
  src/cli_plugin/install/download.test.js
  src/cli_plugin/install/index.test.js
  src/cli_plugin/install/kibana.test.js
  src/cli_plugin/install/pack.test.js
  src/cli_plugin/install/progress.test.js
  src/cli_plugin/install/rename.test.js
  src/cli_plugin/install/settings.test.js
  src/cli_plugin/install/zip.test.js
  src/cli_plugin/lib/logger.test.js
  src/cli_plugin/list/list.test.js
  src/cli_plugin/list/settings.test.js
  src/cli_plugin/remove/remove.test.js
  src/cli_plugin/remove/settings.test.js
  src/dev/jest/config.js
Labels: backport

#17640 [KUI] Removing old files that are no longer used
  packages/kbn-ui-framework/dist/ui_framework_theme_dark.css
  packages/kbn-ui-framework/dist/ui_framework_theme_light.css
Labels: :Design, chore, review, v6.2.4, v6.3.0, v7.0.0

#17512 Rename saved objects bulk_get and find endpoints
  src/server/saved_objects/routes/bulk_get.js
  src/server/saved_objects/routes/bulk_get.test.js
  src/server/saved_objects/routes/find.js
  src/server/saved_objects/routes/find.test.js
  src/ui/public/saved_objects/__tests__/saved_objects_client.js
  src/ui/public/saved_objects/saved_objects_client.js
  test/api_integration/apis/saved_objects/bulk_get.js
  test/api_integration/apis/saved_objects/find.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17647 [plugin-helpers] report task failures to CLI with exitCode 1
  packages/kbn-plugin-helpers/cli.js
  packages/kbn-plugin-helpers/lib/__snapshots__/commander_action.test.js.snap
  packages/kbn-plugin-helpers/lib/commander_action.js
  packages/kbn-plugin-helpers/lib/commander_action.test.js
  packages/kbn-plugin-helpers/lib/run.js
  packages/kbn-plugin-helpers/lib/run.test.js
  packages/kbn-plugin-helpers/tasks/build/__snapshots__/build_action.test.js.snap
  packages/kbn-plugin-helpers/tasks/build/build_action.js
  packages/kbn-plugin-helpers/tasks/build/build_action.test.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17645 [6.x] Rename saved objects bulk_get and find endpoints (#17512)
  src/server/saved_objects/routes/bulk_get.js
  src/server/saved_objects/routes/bulk_get.test.js
  src/server/saved_objects/routes/find.js
  src/server/saved_objects/routes/find.test.js
  src/ui/public/saved_objects/__tests__/saved_objects_client.js
  src/ui/public/saved_objects/saved_objects_client.js
  test/api_integration/apis/saved_objects/bulk_get.js
  test/api_integration/apis/saved_objects/find.js
Labels: backport

#17649 [6.x] [plugin-helpers] report task failures to CLI with exitCode 1 (#17647)
  packages/kbn-plugin-helpers/cli.js
  packages/kbn-plugin-helpers/lib/__snapshots__/commander_action.test.js.snap
  packages/kbn-plugin-helpers/lib/commander_action.js
  packages/kbn-plugin-helpers/lib/commander_action.test.js
  packages/kbn-plugin-helpers/lib/run.js
  packages/kbn-plugin-helpers/lib/run.test.js
  packages/kbn-plugin-helpers/tasks/build/__snapshots__/build_action.test.js.snap
  packages/kbn-plugin-helpers/tasks/build/build_action.js
  packages/kbn-plugin-helpers/tasks/build/build_action.test.js
Labels: backport

#17622 Fix flaky lab visualize test
  src/core_plugins/kibana/public/discover/partials/load_search.html
  test/functional/apps/visualize/_lab_mode.js
  test/functional/page_objects/discover_page.js
Labels: :Visualizations, test

#17652 [6.x] Fix flaky lab mode test (#17622)
  src/core_plugins/kibana/public/discover/partials/load_search.html
  test/functional/apps/visualize/_lab_mode.js
  test/functional/page_objects/discover_page.js
Labels: backport, v6.3.0

#17653 Always inject 'log' into worker
  src/cli/cluster/worker.test.js
Labels: :Platform, chore

#17654 [6.x] Always inject 'log' into worker (#17653)
  src/cli/cluster/worker.test.js
Labels: backport

#17642 Backport 6.x tagcloud hashcode
  src/core_plugins/tagcloud/public/__tests__/afterparamchange.png
  src/core_plugins/tagcloud/public/__tests__/afterresize.png
  src/core_plugins/tagcloud/public/__tests__/basicdraw.png
  src/core_plugins/tagcloud/public/__tests__/simpleload.png
  src/core_plugins/tagcloud/public/__tests__/tag_cloud.js
  src/core_plugins/tagcloud/public/__tests__/tag_cloud_visualization.js
  src/core_plugins/tagcloud/public/tag_cloud.js
  src/test_utils/public/image_comparator.js
Labels: :Visualizations, backport, v6.3.0

#17580 Revert "set tooltip width so div is centered around triggering elemen…
  src/ui/public/styles/base.less
  src/ui/public/styles/pui_react.less
Labels: :Design, review, v6.2.4, v6.3.0, v7.0.0

#17624 Fix negative unit formatting in timelion
  src/core_plugins/timelion/public/__tests__/services/tick_formatters.js
  src/core_plugins/timelion/public/services/tick_formatters.js
Labels: :Timelion, :Visualizations, bug, release_note:fix, v6.3.0, v7.0.0

#17660 [6.x] Fix negative unit formatting in timelion (#17624)
  src/core_plugins/timelion/public/__tests__/services/tick_formatters.js
  src/core_plugins/timelion/public/services/tick_formatters.js
Labels: backport, v6.3.0

#17661 [6.x] [DOCS] In Vega, fixes broken links and adds vega.enableExternalUrls (#17646)
  docs/setup/settings.asciidoc
  docs/visualize/vega.asciidoc
Labels: backport

#17663 [plugin-helpers] fix order of arguments passed to commander actions
  packages/kbn-plugin-helpers/lib/__snapshots__/commander_action.test.js.snap
  packages/kbn-plugin-helpers/lib/commander_action.js
Labels: :Platform, review, v6.3.0, v7.0.0

#16965 [TSVB] Math Aggregation (two point oh)
  package.json
  src/core_plugins/metrics/common/__tests__/agg_lookup.js
  src/core_plugins/metrics/common/__tests__/calculate_label.js
  src/core_plugins/metrics/common/agg_lookup.js
  src/core_plugins/metrics/common/calculate_label.js
  src/core_plugins/metrics/public/components/add_delete_buttons.js
  src/core_plugins/metrics/public/components/aggs/agg.js
  src/core_plugins/metrics/public/components/aggs/agg_row.js
  src/core_plugins/metrics/public/components/aggs/agg_select.js
  src/core_plugins/metrics/public/components/aggs/math.js
  src/core_plugins/metrics/public/components/aggs/metric_select.js
  src/core_plugins/metrics/public/components/aggs/unsupported_agg.js
  src/core_plugins/metrics/public/components/aggs/vars.js
  src/core_plugins/metrics/public/components/lib/agg_to_component.js
  src/core_plugins/metrics/public/less/editor.less
  src/core_plugins/metrics/server/lib/vis_data/__tests__/helpers/get_splits.js
  src/core_plugins/metrics/server/lib/vis_data/helpers/get_splits.js
  src/core_plugins/metrics/server/lib/vis_data/request_processors/series/__tests__/date_histogram.js
  src/core_plugins/metrics/server/lib/vis_data/request_processors/series/date_histogram.js
  src/core_plugins/metrics/server/lib/vis_data/request_processors/table/date_histogram.js
  src/core_plugins/metrics/server/lib/vis_data/response_processors/series/index.js
  src/core_plugins/metrics/server/lib/vis_data/response_processors/series/math.js
  src/core_plugins/metrics/server/lib/vis_data/response_processors/table/index.js
  src/core_plugins/metrics/server/lib/vis_data/response_processors/table/math.js
  src/core_plugins/metrics/server/lib/vis_data/series/__tests__/build_request_body.js
  test/functional/apps/visualize/_tsvb_chart.js
  test/functional/page_objects/visual_builder_page.js
  yarn.lock
Labels: :TSVB, :Visualizations, review, v6.3.0, v7.0.0

#17666 [6.x] [eslint-import-resolver-kibana] bring in repo as package (#17665)
  .eslintrc.js
  package.json
  packages/kbn-eslint-import-resolver-kibana/README.md
  packages/kbn-eslint-import-resolver-kibana/index.js
  packages/kbn-eslint-import-resolver-kibana/lib/debug.js
  packages/kbn-eslint-import-resolver-kibana/lib/get_kibana_path.js
  packages/kbn-eslint-import-resolver-kibana/lib/get_plugins.js
  packages/kbn-eslint-import-resolver-kibana/lib/get_project_root.js
  packages/kbn-eslint-import-resolver-kibana/lib/get_webpack_config.js
  packages/kbn-eslint-import-resolver-kibana/package.json
  packages/kbn-eslint-import-resolver-kibana/yarn.lock
  yarn.lock
Labels: backport

#17566 removes angular and vis dependency from tabify
  src/core_plugins/spy_modes/public/table_spy_mode.js
  src/core_plugins/table_vis/public/__tests__/_table_vis_controller.js
  src/ui/public/agg_response/geo_json/__tests__/geo_json.js
  src/ui/public/agg_response/index.js
  src/ui/public/agg_response/point_series/__tests__/_main.js
  src/ui/public/agg_response/tabify/__tests__/_buckets.js
  src/ui/public/agg_response/tabify/__tests__/_get_columns.js
  src/ui/public/agg_response/tabify/__tests__/_integration.js
  src/ui/public/agg_response/tabify/__tests__/_response_writer.js
  src/ui/public/agg_response/tabify/__tests__/_table.js
  src/ui/public/agg_response/tabify/__tests__/_table_group.js
  src/ui/public/agg_response/tabify/_buckets.js
  src/ui/public/agg_response/tabify/_get_columns.js
  src/ui/public/agg_response/tabify/_response_writer.js
  src/ui/public/agg_response/tabify/_table.js
  src/ui/public/agg_response/tabify/_table_group.js
  src/ui/public/agg_response/tabify/index.js
  src/ui/public/agg_response/tabify/tabify.js
  src/ui/public/agg_table/__tests__/_group.js
  src/ui/public/agg_table/__tests__/_table.js
  src/ui/public/vis/__tests__/response_handlers/_build_chart_data.js
  src/ui/public/vis/response_handlers/basic.js
  src/ui/public/vis/response_handlers/tabify.js
  src/ui/public/visualize/__tests__/visualization_editor.js
Labels: :Visualizations, chore, review, v6.3.0, v7.0.0

#15765 Fix 0 values in percentage mode
  src/ui/public/vislib/__tests__/visualizations/column_chart.js
  src/ui/public/vislib/lib/axis/axis.js
  src/ui/public/vislib/lib/axis/axis_config.js
Labels: :Visualizations, release_note:fix, v6.3.0, v7.0.0

#17581 removes angular from fieldFormatts
  src/core_plugins/kibana/public/field_formats/__tests__/_boolean.js
  src/core_plugins/kibana/public/field_formats/__tests__/_color.js
  src/core_plugins/kibana/public/field_formats/__tests__/_conformance.js
  src/core_plugins/kibana/public/field_formats/__tests__/_date.js
  src/core_plugins/kibana/public/field_formats/__tests__/_duration.js
  src/core_plugins/kibana/public/field_formats/__tests__/_ip.js
  src/core_plugins/kibana/public/field_formats/__tests__/_source.js
  src/core_plugins/kibana/public/field_formats/__tests__/_string.js
  src/core_plugins/kibana/public/field_formats/__tests__/_truncate.js
  src/core_plugins/kibana/public/field_formats/__tests__/_url.js
  src/core_plugins/kibana/public/field_formats/register.js
  src/test_utils/public/stub_index_pattern.js
  src/ui/public/agg_response/geo_json/_tooltip_formatter.js
  src/ui/public/agg_table/agg_table.js
  src/ui/public/agg_types/__tests__/agg_type.js
  src/ui/public/agg_types/agg_type.js
  src/ui/public/agg_types/buckets/date_range.js
  src/ui/public/agg_types/metrics/cardinality.js
  src/ui/public/agg_types/metrics/count.js
  src/ui/public/agg_types/metrics/metric_agg_type.js
  src/ui/public/agg_types/metrics/percentile_ranks.js
  src/ui/public/field_editor/field_editor.js
  src/ui/public/index_patterns/_field.js
  src/ui/public/index_patterns/_index_pattern.js
  src/ui/public/index_patterns/index_patterns.js
  src/ui/public/registry/field_formats.js
  src/ui/public/test_harness/test_harness.js
  src/ui/public/time_buckets/time_buckets.js
  src/ui/public/vis/__tests__/_agg_config.js
  src/ui/public/vis/agg_config.js
Labels: :Visualizations, chore, review, v6.4.0, v7.0.0

#17675 [6.x] Fix 0 values in percentage mode (#15765)
  src/ui/public/vislib/__tests__/visualizations/column_chart.js
  src/ui/public/vislib/lib/axis/axis.js
  src/ui/public/vislib/lib/axis/axis_config.js
Labels: backport, v6.3.0

#17421 [kbn/pm] Allow to include/exclude projects in `kbn watch`.
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/__snapshots__/run.test.ts.snap
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/commands/watch.ts
  packages/kbn-pm/src/run.test.ts
  packages/kbn-pm/src/run.ts
  packages/kbn-pm/src/utils/__snapshots__/projects.test.ts.snap
  packages/kbn-pm/src/utils/projects.test.ts
  packages/kbn-pm/src/utils/projects.ts
Labels: :Platform, feedback_needed

#17677 bump angular to 1.6.9
  package.json
  yarn.lock
Labels: review, v6.3.0, v7.0.0

#17680 [6.x][kbn/pm] Allow to include/exclude projects in `kbn watch`.
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/__snapshots__/run.test.ts.snap
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/commands/watch.ts
  packages/kbn-pm/src/run.test.ts
  packages/kbn-pm/src/run.ts
  packages/kbn-pm/src/utils/__snapshots__/projects.test.ts.snap
  packages/kbn-pm/src/utils/projects.test.ts
  packages/kbn-pm/src/utils/projects.ts
Labels: backport

#17684 [kbn/pm] Get rid of `--skip-kibana` in favour of `--exclude kibana`.
  packages/kbn-pm/README.md
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/__snapshots__/run.test.ts.snap
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/config.ts
  packages/kbn-pm/src/run.test.ts
  tasks/test.js
Labels: :Platform, chore, v6.3.0

#17686 [6.x][kbn/pm] Get rid of `--skip-kibana` in favour of `--exclude kibana`.
  packages/kbn-pm/README.md
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/__snapshots__/run.test.ts.snap
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/config.ts
  packages/kbn-pm/src/run.test.ts
  tasks/test.js
Labels: backport

#16988 Add support for environment variable injection in kibana.yml
  src/cli/serve/__fixtures__/en_var_ref_config.yml
  src/cli/serve/__fixtures__/invalid_en_var_ref_config.yml
  src/cli/serve/read_yaml_config.js
  src/cli/serve/read_yaml_config.test.js
Labels: :Operations, v6.3.0, v7.0.0

#17667 [eslint-import-resolver] support mapping plugins to directories
  packages/kbn-eslint-import-resolver-kibana/README.md
  packages/kbn-eslint-import-resolver-kibana/lib/get_plugins.js
Labels: :Platform, review, v6.3.0, v7.0.0

#17673 [6.x] removes angular and vis dependency from tabify (#17566)
  src/core_plugins/spy_modes/public/table_spy_mode.js
  src/core_plugins/table_vis/public/__tests__/_table_vis_controller.js
  src/ui/public/agg_response/geo_json/__tests__/geo_json.js
  src/ui/public/agg_response/index.js
  src/ui/public/agg_response/point_series/__tests__/_main.js
  src/ui/public/agg_response/tabify/__tests__/_buckets.js
  src/ui/public/agg_response/tabify/__tests__/_get_columns.js
  src/ui/public/agg_response/tabify/__tests__/_integration.js
  src/ui/public/agg_response/tabify/__tests__/_response_writer.js
  src/ui/public/agg_response/tabify/__tests__/_table.js
  src/ui/public/agg_response/tabify/__tests__/_table_group.js
  src/ui/public/agg_response/tabify/_buckets.js
  src/ui/public/agg_response/tabify/_get_columns.js
  src/ui/public/agg_response/tabify/_response_writer.js
  src/ui/public/agg_response/tabify/_table.js
  src/ui/public/agg_response/tabify/_table_group.js
  src/ui/public/agg_response/tabify/index.js
  src/ui/public/agg_response/tabify/tabify.js
  src/ui/public/agg_table/__tests__/_group.js
  src/ui/public/agg_table/__tests__/_table.js
  src/ui/public/vis/__tests__/response_handlers/_build_chart_data.js
  src/ui/public/vis/response_handlers/basic.js
  src/ui/public/vis/response_handlers/tabify.js
  src/ui/public/visualize/__tests__/visualization_editor.js
Labels: backport

#17691 [DOCS] Fixes hierarchy in Vega documentation
  docs/visualize/vega.asciidoc
Labels: :Vega vis, docs

#17702 [6.2] Fixed hierarchy for Vega documentation (#17691)
  docs/visualize/vega.asciidoc
Labels: backport

#17659 Remove filterManager and kuery from vis.API
  docs/development/visualize/development-create-visualization.asciidoc
  src/ui/public/vis/vis.js
Labels: :Visualizations, chore, v6.3.0, v7.0.0

#17727 Fit data should respect geo filter
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/ui/public/vis/vis.js
  src/ui/public/visualize/visualize.js
Labels: :Visualizations, release_note:fix, v6.3.0, v6.4.0

#17729 [6.x] Fitting data should respect filters (#17727)
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/ui/public/vis/vis.js
  src/ui/public/visualize/visualize.js
Labels: backport, v6.3.0

#17712 Move ng_mock wrapper to test_utils
  packages/kbn-eslint-import-resolver-kibana/lib/get_webpack_config.js
  src/core_plugins/tests_bundle/index.js
  src/test_utils/public/ng_mock.js
Labels: chore, test

#17668 remove angular from AggConfig
  src/core_plugins/kbn_vislib_vis_types/public/editors/__tests__/point_series.js
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/ui/public/agg_response/point_series/__tests__/_fake_x_aspect.js
  src/ui/public/agg_response/point_series/__tests__/_get_aspects.js
  src/ui/public/agg_response/point_series/_fake_x_aspect.js
  src/ui/public/agg_types/__tests__/agg_param_writer.js
  src/ui/public/agg_types/__tests__/buckets/_geo_hash.js
  src/ui/public/agg_types/__tests__/buckets/date_histogram/_params.js
  src/ui/public/agg_types/buckets/_terms_other_bucket_helper.js
  src/ui/public/agg_types/buckets/geo_hash.js
  src/ui/public/agg_types/buckets/terms.js
  src/ui/public/agg_types/metrics/bucket_avg.js
  src/ui/public/agg_types/metrics/bucket_max.js
  src/ui/public/agg_types/metrics/bucket_min.js
  src/ui/public/agg_types/metrics/bucket_sum.js
  src/ui/public/agg_types/metrics/cumulative_sum.js
  src/ui/public/agg_types/metrics/derivative.js
  src/ui/public/agg_types/metrics/lib/parent_pipeline_agg_helper.js
  src/ui/public/agg_types/metrics/lib/sibling_pipeline_agg_helper.js
  src/ui/public/agg_types/metrics/moving_avg.js
  src/ui/public/agg_types/metrics/serial_diff.js
  src/ui/public/vis/__tests__/_agg_config.js
  src/ui/public/vis/__tests__/_agg_configs.js
  src/ui/public/vis/agg_config.js
  src/ui/public/vis/agg_configs.js
  src/ui/public/vis/editors/default/__tests__/agg_params.js
  src/ui/public/vis/editors/default/agg_add.js
Labels: :Visualizations, chore, review, v6.3.0, v7.0.0

#17735 Hide filter/query bar for unsupported vis types
  src/core_plugins/timelion/public/vis/index.js
  src/core_plugins/vega/public/vega_type.js
Labels: :Timelion, :Vega vis, :Visualizations, bug, v6.3.0, v7.0.0

#17731 [DOCS] 6.2.4 Release Notes
  docs/release-notes.asciidoc
  docs/release-notes/6.2.4.asciidoc
Labels: docs

#17743 [6.x] Hide filter/query bar for unsupported vis types (#17735)
  src/core_plugins/timelion/public/vis/index.js
  src/core_plugins/vega/public/vega_type.js
Labels: backport

#17688 Add failing test
  test/functional/apps/dashboard/_dashboard_queries.js
Labels: :Dashboard, :Sharing, test

#17744 [6.x] Add failing test (#17688)
  test/functional/apps/dashboard/_dashboard_queries.js
Labels: backport

#17741 Move to Yarn 1.6.0
  .eslintignore
  package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/paths.ts
  packages/kbn-pm/src/utils/scripts.ts
  packages/kbn-pm/vendor/README.md
  packages/kbn-pm/vendor/yarn-1.3.2.js
  src/dev/jest/config.js
  src/dev/precommit_hook/casing_check_config.js
  tasks/build/install_dependencies.js
Labels: :Platform, chore

#17749 [6.x] Move to Yarn 1.6.0 (#17741)
  .eslintignore
  package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/paths.ts
  packages/kbn-pm/src/utils/scripts.ts
  packages/kbn-pm/vendor/README.md
  packages/kbn-pm/vendor/yarn-1.3.2.js
  src/dev/jest/config.js
  src/dev/precommit_hook/casing_check_config.js
  tasks/build/install_dependencies.js
Labels: backport

#17627 Get even more debug info for flaky field_data test
  test/functional/apps/discover/_field_data.js
Labels: :Discovery, v7.0.0

#17752 [6.x] Updating request to 2.85.0 (#17592)
  package.json
  yarn.lock
Labels: backport

#17753 [6.x] Fixing autocomplete issues (#17678)
  src/core_plugins/console/api_server/spec/index.js
  src/core_plugins/console/api_server/spec/overrides/indices.create.json
  src/core_plugins/console/api_server/spec/overrides/indices.put_settings.json
  src/core_plugins/console/api_server/spec/overrides/indices.put_template.json
Labels: backport

#17754 [6.x] removing unsupported type from autocomplete (#17694)
  src/core_plugins/console/api_server/es_5_0/search.js
Labels: backport

#17755 [6.x] fixing issues with autocomplete and bucket aggs (#17695)
  src/core_plugins/console/api_server/es_5_0/aggregations.js
Labels: backport

#17739 Use proper labeling for single metric no bucket pie charts
  src/ui/public/agg_response/hierarchical/__tests__/build_hierarchical_data.js
  src/ui/public/agg_response/hierarchical/build_hierarchical_data.js
Labels: :Visualizations, bug, v6.3.0, v7.0.0

#17766 [6.x] Use proper labeling for single metric no bucket pie charts (#17739)
  src/ui/public/agg_response/hierarchical/__tests__/build_hierarchical_data.js
  src/ui/public/agg_response/hierarchical/build_hierarchical_data.js
Labels: backport, v6.3.0

#17765 [6.x] remove angular from AggConfig (#17668)
  src/core_plugins/kbn_vislib_vis_types/public/editors/__tests__/point_series.js
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/ui/public/agg_response/point_series/__tests__/_fake_x_aspect.js
  src/ui/public/agg_response/point_series/__tests__/_get_aspects.js
  src/ui/public/agg_response/point_series/_fake_x_aspect.js
  src/ui/public/agg_types/__tests__/agg_param_writer.js
  src/ui/public/agg_types/__tests__/buckets/_geo_hash.js
  src/ui/public/agg_types/__tests__/buckets/date_histogram/_params.js
  src/ui/public/agg_types/buckets/_terms_other_bucket_helper.js
  src/ui/public/agg_types/buckets/geo_hash.js
  src/ui/public/agg_types/buckets/terms.js
  src/ui/public/agg_types/metrics/bucket_avg.js
  src/ui/public/agg_types/metrics/bucket_max.js
  src/ui/public/agg_types/metrics/bucket_min.js
  src/ui/public/agg_types/metrics/bucket_sum.js
  src/ui/public/agg_types/metrics/cumulative_sum.js
  src/ui/public/agg_types/metrics/derivative.js
  src/ui/public/agg_types/metrics/lib/parent_pipeline_agg_helper.js
  src/ui/public/agg_types/metrics/lib/sibling_pipeline_agg_helper.js
  src/ui/public/agg_types/metrics/moving_avg.js
  src/ui/public/agg_types/metrics/serial_diff.js
  src/ui/public/vis/__tests__/_agg_config.js
  src/ui/public/vis/__tests__/_agg_configs.js
  src/ui/public/vis/agg_config.js
  src/ui/public/vis/agg_configs.js
  src/ui/public/vis/editors/default/__tests__/agg_params.js
  src/ui/public/vis/editors/default/agg_add.js
Labels: backport

#17775 [6.x] Preserving boom error headers for index pattern exceptions (#17725)
  src/server/index_patterns/service/lib/errors.js
  test/api_integration/apis/index_patterns/es_errors/errors.js
Labels: backport

#17774 [6.x] adding extension point for adding endpoint defs to console autocomplete (#17769)
  src/core_plugins/console/api_server/spec/index.js
  src/server/kbn_server.js
Labels: backport

#9760 Support 1 Kibana and 1 Elasticsearch URL as input params
  docs/development/core/development-functional-tests.asciidoc
  src/test_utils/es/es_test_config.js
  test/functional/apps/console/_console.js
  test/kibana_test_server_url_parts.js
Labels: review, test, v6.3.0, v7.0.0

#17595 Introduce @kbn/system-loader
  packages/kbn-system-loader/package.json
  packages/kbn-system-loader/src/__snapshots__/system.test.ts.snap
  packages/kbn-system-loader/src/__snapshots__/system_loader.test.ts.snap
  packages/kbn-system-loader/src/__snapshots__/topological_sort.test.ts.snap
  packages/kbn-system-loader/src/index.ts
  packages/kbn-system-loader/src/sorted_systems.ts
  packages/kbn-system-loader/src/system.test.ts
  packages/kbn-system-loader/src/system.ts
  packages/kbn-system-loader/src/system_loader.test.ts
  packages/kbn-system-loader/src/system_loader.ts
  packages/kbn-system-loader/src/system_types.ts
  packages/kbn-system-loader/src/topological_sort.test.ts
  packages/kbn-system-loader/src/topological_sort.ts
  packages/kbn-system-loader/tsconfig.json
  packages/kbn-system-loader/yarn.lock
Labels: :Platform

#17780 [6.x] [yarn] upgrade jest and related packages
  package.json
  yarn.lock
Labels: :Platform, review, v6.3.0

#17600 [kbn-es] add basic integration tests for exit code/promise handling
  packages/kbn-es/src/cluster.js
  packages/kbn-es/src/integration_tests/__fixtures__/es_bin.js
  packages/kbn-es/src/integration_tests/cluster.test.js
Labels: :Operations, review, v6.3.0, v7.0.0

#17710 plugin development documentation : fix plugin.js link
  docs/development/plugin/development-plugin-resources.asciidoc
Labels: docs

#17779 [yarn] upgrade jest and related packages
  package.json
  yarn.lock
Labels: :Platform, review, v7.0.0

#17782 [6.x] Introduce @kbn/system-loader (#17595)
  packages/kbn-system-loader/package.json
  packages/kbn-system-loader/src/__snapshots__/system.test.ts.snap
  packages/kbn-system-loader/src/__snapshots__/system_loader.test.ts.snap
  packages/kbn-system-loader/src/__snapshots__/topological_sort.test.ts.snap
  packages/kbn-system-loader/src/index.ts
  packages/kbn-system-loader/src/sorted_systems.ts
  packages/kbn-system-loader/src/system.test.ts
  packages/kbn-system-loader/src/system.ts
  packages/kbn-system-loader/src/system_loader.test.ts
  packages/kbn-system-loader/src/system_loader.ts
  packages/kbn-system-loader/src/system_types.ts
  packages/kbn-system-loader/src/topological_sort.test.ts
  packages/kbn-system-loader/src/topological_sort.ts
  packages/kbn-system-loader/tsconfig.json
  packages/kbn-system-loader/yarn.lock
Labels: backport

#17751 Fix date math parser to not use hardcoded length
  packages/kbn-datemath/src/index.js
  packages/kbn-datemath/test/index.js
Labels: :Discovery, :Timepicker, review, v6.3.0, v7.0.0

#17778 [DOCS] Minor changes to Advanced Settings and Featured Visualizations
  docs/management/advanced-options.asciidoc
  docs/visualize/time-series-visual-builder.asciidoc
Labels: docs

#17757 [5.6] Update test
  test/functional/apps/visualize/_region_map.js
Labels: :Visualizations, test, v5.6.10

#17787 [6.x] using server.expose instead of modifying core server (#17785)
  src/core_plugins/console/api_server/spec/index.js
  src/core_plugins/console/index.js
  src/server/kbn_server.js
Labels: backport

#17101 docs: pull request review guidelines
  CONTRIBUTING.md
  docs/development.asciidoc
  docs/development/pr-review.asciidoc
Labels: dev, docs

#17797 [6.2] [DOCS] Minor changes to Advanced Settings and Featured Visualizations (#17778)
  docs/management/advanced-options.asciidoc
  docs/visualize/time-series-visual-builder.asciidoc
Labels: backport

#17802 [6.x] Revert "Support PKCS#12 encoded certificates (#17261)" (#17801)
  docs/setup/production.asciidoc
  docs/setup/settings.asciidoc
  src/cli/cluster/base_path_proxy.js
  src/cli/cluster/base_path_proxy.test.js
  src/cli/serve/serve.js
  src/core_plugins/console/server/elasticsearch_proxy_config.js
  src/core_plugins/elasticsearch/index.js
  src/core_plugins/elasticsearch/lib/__tests__/fixtures/cert.pfx
  src/core_plugins/elasticsearch/lib/__tests__/parse_config.js
  src/core_plugins/elasticsearch/lib/parse_config.js
  src/server/config/config.js
  src/server/config/schema.js
  src/server/config/schema.test.js
  src/server/config/transform_deprecations.js
  src/server/config/transform_deprecations.test.js
  src/server/http/setup_connection.js
Labels: backport

#17805 [grunt] remove .rej file check
  tasks/jenkins.js
  tasks/reject_rej_files.js
Labels: review, v6.3.0, v7.0.0

#17783 [6.x] [kbn-es] add basic integration tests for exit code/promise handling (#17600)
  packages/kbn-es/src/cluster.js
  packages/kbn-es/src/integration_tests/__fixtures__/es_bin.js
  packages/kbn-es/src/integration_tests/cluster.test.js
Labels: backport

#17811 backport 9760 to 6.2
  docs/development/core/development-functional-tests.asciidoc
  src/test_utils/es/es_test_config.js
  test/kibana_test_server_url_parts.js
Labels: backport, test, v6.2.5

#17263 Improve map-data handling
  src/core_plugins/region_map/public/region_map_vis.js
  src/core_plugins/region_map/public/region_map_visualization.js
  src/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
  src/core_plugins/tile_map/public/__tests__/dummy_es_response.json
  src/core_plugins/tile_map/public/__tests__/geohash_layer.js
  src/core_plugins/tile_map/public/__tests__/geohash_sample_data.js
  src/core_plugins/tile_map/public/__tests__/heatmap.png
  src/core_plugins/tile_map/public/__tests__/heatmap_raw.png
  src/core_plugins/tile_map/public/__tests__/initial.png
  src/core_plugins/tile_map/public/__tests__/scaledCircleMarkers.png
  src/core_plugins/tile_map/public/__tests__/shadedCircleMarkers.png
  src/core_plugins/tile_map/public/base_maps_visualization.js
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/core_plugins/tile_map/public/coordinatemap_response_handler.js
  src/core_plugins/tile_map/public/editors/_tooltip.html
  src/core_plugins/tile_map/public/editors/_tooltip_formatter.js
  src/core_plugins/tile_map/public/geohash_layer.js
  src/core_plugins/tile_map/public/markers/geohash_grid.js
  src/core_plugins/tile_map/public/markers/heatmap.js
  src/core_plugins/tile_map/public/markers/scaled_circles.js
  src/core_plugins/tile_map/public/markers/shaded_circles.js
  src/core_plugins/tile_map/public/tile_map_vis.js
  src/server/config/schema.js
  src/ui/public/agg_response/geo_json/__tests__/geo_json.js
  src/ui/public/agg_response/geo_json/_tooltip_formatter.js
  src/ui/public/agg_response/geo_json/geo_json.js
  src/ui/public/agg_response/geo_json/index.js
  src/ui/public/agg_response/geo_json/rows_to_features.js
  src/ui/public/agg_response/index.js
  src/ui/public/vis/map/convert_to_geojson.js
  src/ui/public/vis/map/grid_dimensions.js
  src/ui/public/vis/map/kibana_map.js
  src/ui/public/vis/request_handlers/courier.js
Labels: :Visualizations, WIP, blocker, geo, v6.3.0, v6.4.0, v7.0.0

#17792 Add tern file and remove htpasswd from gitignore
  .gitignore
Labels: chore

#17806 [6.x] [grunt] remove .rej file check (#17805)
  tasks/jenkins.js
  tasks/reject_rej_files.js
Labels: backport

#17791 Upgrade to Prettier 1.12.1
  package.json
  packages/kbn-pm/package.json
  packages/kbn-pm/src/utils/link_project_executables.ts
  packages/kbn-pm/yarn.lock
  yarn.lock
Labels: chore

#17812 [6.x] Improve map-data handling (#17263)
  src/core_plugins/region_map/public/region_map_vis.js
  src/core_plugins/region_map/public/region_map_visualization.js
  src/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
  src/core_plugins/tile_map/public/__tests__/dummy_es_response.json
  src/core_plugins/tile_map/public/__tests__/geohash_layer.js
  src/core_plugins/tile_map/public/__tests__/geohash_sample_data.js
  src/core_plugins/tile_map/public/__tests__/heatmap.png
  src/core_plugins/tile_map/public/__tests__/heatmap_raw.png
  src/core_plugins/tile_map/public/__tests__/initial.png
  src/core_plugins/tile_map/public/__tests__/scaledCircleMarkers.png
  src/core_plugins/tile_map/public/__tests__/shadedCircleMarkers.png
  src/core_plugins/tile_map/public/base_maps_visualization.js
  src/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/core_plugins/tile_map/public/coordinatemap_response_handler.js
  src/core_plugins/tile_map/public/editors/_tooltip.html
  src/core_plugins/tile_map/public/editors/_tooltip_formatter.js
  src/core_plugins/tile_map/public/geohash_layer.js
  src/core_plugins/tile_map/public/markers/geohash_grid.js
  src/core_plugins/tile_map/public/markers/heatmap.js
  src/core_plugins/tile_map/public/markers/scaled_circles.js
  src/core_plugins/tile_map/public/markers/shaded_circles.js
  src/core_plugins/tile_map/public/tile_map_vis.js
  src/server/config/schema.js
  src/ui/public/agg_response/geo_json/__tests__/geo_json.js
  src/ui/public/agg_response/geo_json/_tooltip_formatter.js
  src/ui/public/agg_response/geo_json/geo_json.js
  src/ui/public/agg_response/geo_json/index.js
  src/ui/public/agg_response/geo_json/rows_to_features.js
  src/ui/public/agg_response/index.js
  src/ui/public/vis/map/convert_to_geojson.js
  src/ui/public/vis/map/grid_dimensions.js
  src/ui/public/vis/map/kibana_map.js
  src/ui/public/vis/request_handlers/courier.js
Labels: backport, v6.3.0

#17817 [6.x] Upgrade to Prettier 1.12.1 (#17791)
  package.json
  packages/kbn-pm/package.json
  packages/kbn-pm/src/utils/link_project_executables.ts
  packages/kbn-pm/yarn.lock
  yarn.lock
Labels: backport

#17813 [6.x] Add tern file and remove htpasswd (#17792)
  .gitignore
Labels: backport, v6.3.0

#17815 Improve the reload logging config assertions
  src/cli/serve/integration_tests/__snapshots__/reload_logging_config.test.js.snap
  src/cli/serve/integration_tests/reload_logging_config.test.js
Labels: chore, test

#17763 Enable Prettier for more packages
  .eslintrc.js
  packages/kbn-dev-utils/src/proc_runner/observe_lines.js
  packages/kbn-dev-utils/src/proc_runner/observe_readable.js
  packages/kbn-dev-utils/src/proc_runner/observe_signals.js
  packages/kbn-dev-utils/src/proc_runner/proc.js
  packages/kbn-dev-utils/src/proc_runner/proc_runner.js
  packages/kbn-dev-utils/src/streams/promise_from_streams.js
  packages/kbn-dev-utils/src/streams/reduce_stream.js
  packages/kbn-dev-utils/src/tooling_log/__tests__/log_levels.js
  packages/kbn-dev-utils/src/tooling_log/log_levels.js
  packages/kbn-dev-utils/src/tooling_log/tooling_log.js
  packages/kbn-plugin-helpers/bin/plugin-helpers.js
  packages/kbn-plugin-helpers/cli.js
  packages/kbn-plugin-helpers/lib/commander_action.js
  packages/kbn-plugin-helpers/lib/config_file.js
  packages/kbn-plugin-helpers/lib/docs.js
  packages/kbn-plugin-helpers/lib/enable_collecting_unknown_options.js
  packages/kbn-plugin-helpers/lib/index.js
  packages/kbn-plugin-helpers/lib/plugin_config.js
  packages/kbn-plugin-helpers/lib/run.test.js
  packages/kbn-plugin-helpers/lib/tasks.js
  packages/kbn-plugin-helpers/lib/utils.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/build_action_test_plugin/index.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/build_action_test_plugin/public/hack.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/create_build_test_plugin/index.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/create_build_test_plugin/public/hack.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/create_package_test_plugin/index.js
  packages/kbn-plugin-helpers/tasks/build/__fixtures__/create_package_test_plugin/public/hack.js
  packages/kbn-plugin-helpers/tasks/build/build_action.js
  packages/kbn-plugin-helpers/tasks/build/build_action.test.js
  packages/kbn-plugin-helpers/tasks/build/create_build.js
  packages/kbn-plugin-helpers/tasks/build/create_build.test.js
  packages/kbn-plugin-helpers/tasks/build/create_package.js
  packages/kbn-plugin-helpers/tasks/build/create_package.test.js
  packages/kbn-plugin-helpers/tasks/build/git_info.js
  packages/kbn-plugin-helpers/tasks/build/rewrite_package_json.js
  packages/kbn-plugin-helpers/tasks/postinstall/index.js
  packages/kbn-plugin-helpers/tasks/start/start_action.js
  packages/kbn-plugin-helpers/tasks/test/browser/test_browser_action.js
  packages/kbn-plugin-helpers/tasks/test/server/test_server_action.js
  packages/kbn-test-subj-selector/index.js
  packages/kbn-test-subj-selector/test/index.js
Labels: chore

#16028 Update tutorial-define-index.asciidoc
  docs/getting-started/tutorial-define-index.asciidoc
Labels: docs

#17825 [6.x] making sure type is defined and has postFlightRequest function (#17809)
  src/ui/public/vis/request_handlers/courier.js
Labels: backport

#17860 [kbn-es] Fixes ES snapshot path for OSS builds
  packages/kbn-es/src/install/snapshot.js
Labels: v6.3.0, v6.4.0, v7.0.0
