Repository elastic/kibana, pull requests merged in 2019-03, with the labels that each got.

#32069 Avoid transpiled files end up into the repo when building
  x-pack/tasks/build.js
  x-pack/tsconfig.json
Labels: :Operations, review, v7.1.0, v8.0.0

#32260 [7.x] Fix Index Management bug in which the "Show system indices" toggle turned off other toggles (#32258)
  x-pack/plugins/index_management/public/store/reducers/table_state.js
Labels: backport

#32262 [6.7] Fix Index Management bug in which the "Show system indices" toggle turned off other toggles (#32258)
  x-pack/plugins/index_management/public/store/reducers/table_state.js
Labels: backport

#32261 [7.0] Fix Index Management bug in which the "Show system indices" toggle turned off other toggles (#32258)
  x-pack/plugins/index_management/public/store/reducers/table_state.js
Labels: backport

#32264 [7.x] Avoid transpiled files end up into the repo when building (#32069)
  x-pack/tasks/build.js
  x-pack/tsconfig.json
Labels: backport

#32179 [Code] fix setup page
  x-pack/plugins/code/public/components/admin_page/setup_guide.tsx
  x-pack/plugins/code/public/components/app.tsx
  x-pack/plugins/code/public/components/routes.ts
  x-pack/plugins/code/public/reducers/setup.ts
  x-pack/plugins/code/public/sagas/patterns.ts
  x-pack/plugins/code/public/sagas/setup.ts
Labels: :Code

#32270 [Code] fix type error in java launcher
  x-pack/plugins/code/server/lsp/java_launcher.ts
Labels: :Code

#32105 [plugin installer] Keep external attributes of files during unarchiving
  src/cli_plugin/install/__fixtures__/replies/test_plugin.zip
  src/cli_plugin/install/zip.js
  src/cli_plugin/install/zip.test.js
Labels: :Code

#32271 [Code] Ignore certificate check for clone
  x-pack/plugins/code/server/repository_service.ts
Labels: :Code

#30546 [types removal] Logstash central management typeless API
  x-pack/plugins/logstash/common/constants/index.js
  x-pack/plugins/logstash/common/constants/type_names.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_delete_route.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_load_route.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_save_route.js
  x-pack/plugins/logstash/server/routes/api/pipelines/register_delete_route.js
  x-pack/plugins/logstash/server/routes/api/upgrade/register_execute_route.js
Labels: :Logstash, :deprecation_warnings, v7.0.0, v7.1.0, v8.0.0

#32192 [6.6] [ML] Fix for Explorer time range when selected jobs have no data (#31093)
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
Labels: :ml, :ml-results, backport

#32186 [ML] Adds missing applyAsync to advanced job wizard page
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, :ml-config, bug, non-issue, review, v6.6.2, v6.7.1, v7.0.0, v7.1.0, v8.0.0

#32198 Improve logstash pipeline tests
  x-pack/test/functional/services/browser_exec_scripts/read_pipeline_list_rows.js
  x-pack/test/functional/services/pipeline_list.js
Labels: review, test_xpack_functional, v7.0.0, v7.1.0, v8.0.0

#32285 [7.0] Fix percentiles for table in TSVB (#32084)
  src/legacy/core_plugins/metrics/public/components/aggs/percentile.js
  src/legacy/core_plugins/metrics/public/components/vis_types/table/series.js
  src/legacy/core_plugins/metrics/public/components/vis_types/table/vis.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/response_processors/table/index.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/response_processors/table/percentile.js
Labels: backport

#32128 [6.7] Fix pushed down chart on multi line horizontal legends (#31466)
  src/ui/public/vis/vis_types/vislib_vis_legend.js
  src/ui/public/vis/vis_types/vislib_vis_type.js
  src/ui/public/vislib/vis.js
Labels: backport

#32287 [6.7] [ML] Fix formatting of values for time of day or week anomalies (#32134)
  x-pack/plugins/ml/public/components/anomalies_table/anomalies_table_columns.js
  x-pack/plugins/ml/public/components/anomalies_table/anomaly_details.js
  x-pack/plugins/ml/public/formatters/__tests__/format_value.js
  x-pack/plugins/ml/public/formatters/format_value.js
Labels: :ml, :ml-results, backport

#32122 [7.x] Fix pushed down chart on multi line horizontal legends (#31466)
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend.js
  src/legacy/ui/public/vis/vis_types/vislib_vis_type.js
  src/legacy/ui/public/vislib/vis.js
Labels: backport

#32123 [7.0] Fix pushed down chart on multi line horizontal legends (#31466)
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend.js
  src/legacy/ui/public/vis/vis_types/vislib_vis_type.js
  src/legacy/ui/public/vislib/vis.js
Labels: backport

#32290 [7.0] [ML] Adds missing applyAsync to advanced job wizard page (#32186)
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, :ml-config, backport

#32296 [6.7] [ML] Adds missing applyAsync to advanced job wizard page (#32186)
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, :ml-config, backport

#32297 [6.6] [ML] Adds missing applyAsync to advanced job wizard page (#32186)
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, :ml-config, backport

#32283 [7.0] Logstash central management typeless API (#30546)
  x-pack/plugins/logstash/common/constants/index.js
  x-pack/plugins/logstash/common/constants/type_names.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_delete_route.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_load_route.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_save_route.js
  x-pack/plugins/logstash/server/routes/api/pipelines/register_delete_route.js
  x-pack/plugins/logstash/server/routes/api/upgrade/register_execute_route.js
Labels: backport

#32027 Add http/1 response streaming to Canvas batches
  packages/kbn-interpreter/src/public/batched_fetch.js
  packages/kbn-interpreter/src/public/batched_fetch.test.js
  packages/kbn-interpreter/src/public/interpreter.js
  packages/kbn-interpreter/src/public/interpreter.test.js
  src/legacy/core_plugins/interpreter/public/interpreter.js
  src/legacy/core_plugins/interpreter/server/routes/server_functions.js
  src/legacy/ui/public/ajax_stream/ajax_stream.test.ts
  src/legacy/ui/public/ajax_stream/ajax_stream.ts
  src/legacy/ui/public/ajax_stream/index.ts
Labels: :ExpressionLanguage, review, v7.1.0

#32133 Remove unused server functionality from the interpreter
  src/legacy/core_plugins/interpreter/common/constants.js
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/feature_check.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/index.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/server.js
  src/legacy/core_plugins/interpreter/server/routes/index.js
  src/legacy/core_plugins/interpreter/server/routes/translate.js
  x-pack/plugins/canvas/common/lib/constants.js
Labels: :Canvas, :ExpressionLanguage, :KibanaApp, review, v7.1.0, v8.0.0

#32091 [DOCS] Adds warning that Timelion app will be deprecated
  docs/timelion.asciidoc
Labels: docs

#32312 [6.7] Remove unused server functionality from the interpreter (#32133)
  src/legacy/core_plugins/interpreter/common/constants.js
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/feature_check.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/index.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/server.js
  src/legacy/core_plugins/interpreter/server/routes/index.js
  src/legacy/core_plugins/interpreter/server/routes/translate.js
  x-pack/plugins/canvas/common/lib/constants.js
Labels: backport

#32311 [7.0] Remove unused server functionality from the interpreter (#32133)
  src/legacy/core_plugins/interpreter/common/constants.js
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/feature_check.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/index.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/server.js
  src/legacy/core_plugins/interpreter/server/routes/index.js
  src/legacy/core_plugins/interpreter/server/routes/translate.js
  x-pack/plugins/canvas/common/lib/constants.js
Labels: backport

#32314 Exclude /html_docs from eslint
  .eslintignore
  packages/kbn-interpreter/src/public/batched_fetch.test.js
Labels: review, v7.1.0, v8.0.0

#32306 update @types/node to latest v10
  package.json
  packages/kbn-pm/package.json
  x-pack/package.json
  yarn.lock
Labels: :Operations, review, v6.6.0, v6.7.0, v7.0.0, v7.1.0, v8.0.0

#32325 [6.6] update @types/node to latest v10 (#32306)
  package.json
  packages/kbn-pm/package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#32324 [6.7] update @types/node to latest v10 (#32306)
  package.json
  packages/kbn-pm/package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#32323 [7.0] update @types/node to latest v10 (#32306)
  package.json
  packages/kbn-pm/package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#31473 [Maps] Map embeddable
  src/legacy/core_plugins/inspector_views/public/requests/request_selector.js
  src/legacy/ui/public/filter_bar/filter_editor/index.tsx
  test/functional/services/dashboard/panel_actions.js
  test/functional/services/filter_bar.js
  test/functional/services/inspector.js
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/actions/store_actions.js
  x-pack/plugins/maps/public/angular/services/gis_map_saved_object_loader.js
  x-pack/plugins/maps/public/angular/services/saved_gis_map.js
  x-pack/plugins/maps/public/components/map/mb/view.js
  x-pack/plugins/maps/public/embeddable/map_embeddable.js
  x-pack/plugins/maps/public/embeddable/map_embeddable_factory.js
  x-pack/plugins/maps/public/embeddable/map_embeddable_factory_provider.js
  x-pack/plugins/maps/public/index.js
  x-pack/plugins/maps/public/selectors/map_selectors.js
  x-pack/plugins/maps/public/shared/layers/heatmap_layer.js
  x-pack/plugins/maps/public/shared/layers/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_source.js
  x-pack/plugins/maps/public/shared/layers/vector_layer.js
  x-pack/plugins/maps/public/store/map.js
  x-pack/plugins/maps/public/store/non_serializable_instances.js
  x-pack/plugins/maps/public/store/ui.js
  x-pack/test/functional/apps/maps/embeddable/dashboard.js
  x-pack/test/functional/apps/maps/es_geo_grid_source.js
  x-pack/test/functional/apps/maps/es_search_source.js
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/apps/maps/saved_object_management.js
  x-pack/test/functional/es_archives/maps/kibana/data.json
  x-pack/test/functional/page_objects/gis_page.js
Labels: :Geo, review, v7.1.0, v8.0.0

#30561 [Uptime] Improve monitor charts query
  x-pack/plugins/uptime/common/graphql/introspection.json
  x-pack/plugins/uptime/common/graphql/types.ts
  x-pack/plugins/uptime/public/components/functional/__tests__/__snapshots__/monitor_charts.test.tsx.snap
  x-pack/plugins/uptime/public/components/functional/__tests__/monitor_charts.test.tsx
  x-pack/plugins/uptime/public/components/functional/index.ts
  x-pack/plugins/uptime/public/components/functional/monitor_charts.tsx
  x-pack/plugins/uptime/public/components/functional/monitor_status_bar.tsx
  x-pack/plugins/uptime/public/components/functional/ping_list.tsx
  x-pack/plugins/uptime/public/components/queries/monitor_charts/get_monitor_charts.ts
  x-pack/plugins/uptime/public/components/queries/monitor_charts/monitor_charts_query.tsx
  x-pack/plugins/uptime/public/components/queries/monitor_status_bar/__tests__/format_duration.test.ts
  x-pack/plugins/uptime/public/components/queries/monitor_status_bar/format_duration.ts
  x-pack/plugins/uptime/public/components/queries/monitor_status_bar/monitor_status_bar_query.tsx
  x-pack/plugins/uptime/public/lib/helper/__test__/convert_measurements.test.ts
  x-pack/plugins/uptime/public/lib/helper/convert_measurements.ts
  x-pack/plugins/uptime/public/lib/helper/index.ts
  x-pack/plugins/uptime/server/graphql/monitors/resolvers.ts
  x-pack/plugins/uptime/server/graphql/monitors/schema.gql.ts
  x-pack/plugins/uptime/server/lib/adapters/monitors/adapter_types.ts
  x-pack/plugins/uptime/server/lib/adapters/monitors/elasticsearch_monitors_adapter.ts
  x-pack/plugins/uptime/server/lib/domains/monitors.ts
  x-pack/plugins/uptime/server/lib/helper/__test__/__snapshots__/drop_latest_buckets.test.ts.snap
  x-pack/plugins/uptime/server/lib/helper/__test__/drop_latest_buckets.test.ts
  x-pack/plugins/uptime/server/lib/helper/drop_latest_bucket.ts
  x-pack/plugins/uptime/server/lib/helper/format_es_buckets_for_histogram.ts
  x-pack/plugins/uptime/server/lib/helper/index.ts
  x-pack/test/api_integration/apis/uptime/graphql/fixtures/monitor_charts.json
  x-pack/test/api_integration/apis/uptime/graphql/fixtures/monitor_charts_empty_set.json
  x-pack/test/api_integration/apis/uptime/graphql/index.js
  x-pack/test/api_integration/apis/uptime/graphql/monitor_charts.js
Labels: :uptime, bug, refactoring, review, v6.7.0, v7.0.0

#32256 Fix X-Pack JUnit output dir
  src/functional_test_runner/lib/config/schema.ts
  src/functional_test_runner/lib/mocha/reporter/reporter.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/tasks/test.js
  x-pack/test/functional/config.js
Labels: review, v6.5.5, v6.6.2, v6.7.0, v7.0.0, v8.0.0

#32222 Show the filter bar in dashboard embed mode
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.html
Labels: :Filters, :KibanaApp, v7.0.0, v7.1.0, v8.0.0

#32340 [kbn/es] pin 7.x snapshot until elastic/elasticsearch#39582 is merged
  packages/kbn-es/src/install/snapshot.js
  x-pack/test/upgrade_assistant_integration/config.js
Labels: :Operations

#32347 [6.7] [junit] use default rootDirectory for project (#32256)
  src/functional_test_runner/lib/config/schema.js
  src/functional_test_runner/lib/mocha/reporter/reporter.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/tasks/test.js
  x-pack/test/functional/config.js
Labels: backport

#32348 [6.6] [junit] use default rootDirectory for project (#32256)
  src/functional_test_runner/lib/config/schema.js
  src/functional_test_runner/lib/mocha/reporter/reporter.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/tasks/test.js
  x-pack/test/functional/config.js
Labels: backport

#32346 [7.0] [junit] use default rootDirectory for project (#32256)
  src/functional_test_runner/lib/config/schema.js
  src/functional_test_runner/lib/mocha/reporter/reporter.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/tasks/test.js
  x-pack/test/functional/config.js
Labels: backport

#32021 [APM] Adjust responsive flyout sizing (WIP)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/ResponsiveFlyout.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/TransactionFlyout/index.tsx
Labels: :apm, [zube]: In Review

#31958 Fix: Prevent some needless re-rendering in high-level components
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/asset_manager/index.js
  x-pack/plugins/canvas/public/components/fullscreen_control/fullscreen_control.js
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/workpad/index.js
  x-pack/plugins/canvas/public/components/workpad/workpad.js
  x-pack/plugins/canvas/public/components/workpad_header/index.js
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.js
  x-pack/plugins/canvas/public/state/middleware/workpad_update.js
Labels: :Canvas, performance, review, v6.7.0, v7.0.0, v7.1.0, v8.0.0

#32349 [6.5] [junit] use default rootDirectory for project (#32256)
  src/functional_test_runner/lib/config/schema.js
  src/functional_test_runner/lib/mocha/reporter/reporter.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/tasks/test.js
  x-pack/test/functional/config.js
Labels: backport

#32335 fix: supply a valid axisconfig position default
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/axisConfig.js
Labels: :Canvas, review, v6.6.2, v6.7.0, v7.0.0, v7.1.0, v8.0.0

#32345 [7.x] [junit] use default rootDirectory for project (#32256)
  src/functional_test_runner/lib/config/schema.ts
  src/functional_test_runner/lib/mocha/reporter/reporter.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/tasks/test.js
  x-pack/test/functional/config.js
Labels: backport

#31446 Restore webdriver-based functional test runner driver
  .eslintrc.js
  package.json
  src/dev/jest/config.js
  src/functional_test_runner/lib/providers/provider_collection.js
  test/functional/apps/dashboard/_dashboard_grid.js
  test/functional/apps/dashboard/_dashboard_save.js
  test/functional/page_objects/dashboard_page.js
  test/functional/page_objects/discover_page.js
  test/functional/page_objects/settings_page.js
  test/functional/page_objects/share_page.js
  test/functional/page_objects/time_picker.js
  test/functional/page_objects/visual_builder_page.js
  test/functional/page_objects/visualize_page.js
  test/functional/services/browser.js
  test/functional/services/combo_box.js
  test/functional/services/filter_bar.js
  test/functional/services/find.js
  test/functional/services/index.ts
  test/functional/services/lib/leadfoot_element_wrapper/index.js
  test/functional/services/lib/leadfoot_element_wrapper/leadfoot_element_wrapper.js
  test/functional/services/lib/web_element_wrapper/index.js
  test/functional/services/lib/web_element_wrapper/scroll_into_view_if_necessary.js
  test/functional/services/lib/web_element_wrapper/web_element_wrapper.js
  test/functional/services/remote/browser_driver_api/browser_driver_api.js
  test/functional/services/remote/browser_driver_api/browser_driver_local_api.js
  test/functional/services/remote/browser_driver_api/index.js
  test/functional/services/remote/leadfoot_command.js
  test/functional/services/remote/prevent_parallel_calls.js
  test/functional/services/remote/prevent_parallel_calls.test.js
  test/functional/services/remote/remote.js
  test/functional/services/remote/webdriver.js
  test/functional/services/screenshots.js
  test/functional/services/test_subjects.js
  x-pack/test/functional/page_objects/infra_home_page.ts
  x-pack/test/functional/page_objects/reporting_page.js
  x-pack/test/reporting/functional/reporting.js
  x-pack/test/types/leadfoot.d.ts
  yarn.lock
Labels: test_ui_functional, test_xpack_functional

#31188 [Reporting] generate csv from new api for saved object ids
  x-pack/plugins/reporting/common/constants.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/metadata.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/create_job/create_job.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/create_job/create_job_search.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/create_job/index.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/execute_job.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/index.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/lib/generate_csv.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/lib/generate_csv_search.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/server/lib/get_index_pattern_by_id.ts
  x-pack/plugins/reporting/export_types/csv_from_savedobject/types.d.ts
  x-pack/plugins/reporting/server/browsers/chromium/driver/chromium_driver.ts
  x-pack/plugins/reporting/server/lib/export_types_registry.js
  x-pack/plugins/reporting/server/lib/index.ts
  x-pack/plugins/reporting/server/routes/generate_from_savedobject.ts
  x-pack/plugins/reporting/server/routes/index.ts
  x-pack/plugins/reporting/server/routes/types.d.ts
  x-pack/plugins/reporting/types.d.ts
Labels: :Reporting, enhancement, review

#32280 [Code] fix load file tree by refresh
  x-pack/plugins/code/public/sagas/file.ts
Labels: :Code

#32322 [7.x] update @types/node to latest v10 (#32306)
  package.json
  packages/kbn-pm/package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#32294 [7.x] Improve logstash pipeline tests (#32198)
  x-pack/test/functional/services/browser_exec_scripts/read_pipeline_list_rows.js
  x-pack/test/functional/services/pipeline_list.js
Labels: backport

#32293 [Code] Adjust `GoLauncher` to adapt to the running pattern of go server.
  x-pack/plugins/code/server/lsp/go_launcher.ts
Labels: :Code

#32334 [7.x] [Maps] Map embeddable (#31473)
  src/legacy/core_plugins/inspector_views/public/requests/request_selector.js
  src/legacy/ui/public/filter_bar/filter_editor/index.tsx
  test/functional/services/dashboard/panel_actions.js
  test/functional/services/filter_bar.js
  test/functional/services/inspector.js
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/actions/store_actions.js
  x-pack/plugins/maps/public/angular/services/gis_map_saved_object_loader.js
  x-pack/plugins/maps/public/angular/services/saved_gis_map.js
  x-pack/plugins/maps/public/components/map/mb/view.js
  x-pack/plugins/maps/public/embeddable/map_embeddable.js
  x-pack/plugins/maps/public/embeddable/map_embeddable_factory.js
  x-pack/plugins/maps/public/embeddable/map_embeddable_factory_provider.js
  x-pack/plugins/maps/public/index.js
  x-pack/plugins/maps/public/selectors/map_selectors.js
  x-pack/plugins/maps/public/shared/layers/heatmap_layer.js
  x-pack/plugins/maps/public/shared/layers/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_source.js
  x-pack/plugins/maps/public/shared/layers/vector_layer.js
  x-pack/plugins/maps/public/store/map.js
  x-pack/plugins/maps/public/store/non_serializable_instances.js
  x-pack/plugins/maps/public/store/ui.js
  x-pack/test/functional/apps/maps/embeddable/dashboard.js
  x-pack/test/functional/apps/maps/es_geo_grid_source.js
  x-pack/test/functional/apps/maps/es_search_source.js
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/apps/maps/saved_object_management.js
  x-pack/test/functional/es_archives/maps/kibana/data.json
  x-pack/test/functional/page_objects/gis_page.js
Labels: backport

#32284 [7.x] Fix percentiles for table in TSVB (#32084)
  src/legacy/core_plugins/metrics/public/components/aggs/percentile.js
  src/legacy/core_plugins/metrics/public/components/vis_types/table/series.js
  src/legacy/core_plugins/metrics/public/components/vis_types/table/vis.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/response_processors/table/index.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/response_processors/table/percentile.js
Labels: backport

#32114 [Canvas] Chore: remove exception that impairs user experience
  x-pack/plugins/canvas/public/lib/aeroelastic_kibana.js
Labels: :Canvas, review, v6.7.0, v7.0.0, v7.1.0, v8.0.0

#32374 [7.0] Chore: remove exception that impairs user experience on the off chance the condition is met (#32114)
  x-pack/plugins/canvas/public/lib/aeroelastic_kibana.js
Labels: backport

#32373 [7.x] Chore: remove exception that impairs user experience on the off chance the condition is met (#32114)
  x-pack/plugins/canvas/public/lib/aeroelastic_kibana.js
Labels: backport

#32376 [Code] Fix a line number bug for composite content calculation
  x-pack/plugins/code/server/utils/composite_source_merger.test.ts
  x-pack/plugins/code/server/utils/composite_source_merger.ts
Labels: :Code

#32320 [6.7] TSVB is retaining results even after indexpattern is removed from opt… (#32003)
  src/legacy/core_plugins/metrics/public/components/index_pattern.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/server/lib/get_fields.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/helpers/get_index_pattern.js
Labels: backport

#32319 [7.0] TSVB is retaining results even after indexpattern is removed from opt… (#32003)
  src/legacy/core_plugins/metrics/public/components/index_pattern.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/server/lib/get_fields.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/helpers/get_index_pattern.js
Labels: backport

#32282 [7.x] Logstash central management typeless API (#30546)
  x-pack/plugins/logstash/common/constants/index.js
  x-pack/plugins/logstash/common/constants/type_names.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_delete_route.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_load_route.js
  x-pack/plugins/logstash/server/routes/api/pipeline/register_save_route.js
  x-pack/plugins/logstash/server/routes/api/pipelines/register_delete_route.js
  x-pack/plugins/logstash/server/routes/api/upgrade/register_execute_route.js
Labels: backport

#32317 [7.x] TSVB is retaining results even after indexpattern is removed from opt… (#32003)
  src/legacy/core_plugins/metrics/public/components/index_pattern.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/server/lib/get_fields.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/helpers/get_index_pattern.js
Labels: backport

#32289 [7.x] [ML] Adds missing applyAsync to advanced job wizard page (#32186)
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
Labels: :ml, :ml-config, backport

#31450 Fix navbar icons missing directives
  src/legacy/core_plugins/status_page/public/status_page.js
  src/legacy/ui/public/chrome/chrome.js
Labels: :Operations, review, v6.6.2, v6.7.1, v7.1.0, v8.0.0

#32278 [Code] function test for securities
  x-pack/plugins/code/public/components/admin_page/admin.tsx
  x-pack/plugins/code/public/components/admin_page/empty_project.tsx
  x-pack/plugins/code/public/components/admin_page/project_item.tsx
  x-pack/plugins/code/public/components/admin_page/project_tab.tsx
  x-pack/test/functional/apps/code/index.ts
  x-pack/test/functional/apps/code/with_security.ts
Labels: :Code

#30073 fixes visualization editor selection being reset
  src/legacy/core_plugins/input_control_vis/public/vis_controller.js
  src/legacy/core_plugins/markdown_vis/public/markdown_vis_controller.js
  src/legacy/core_plugins/markdown_vis/public/markdown_vis_controller.test.js
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis.js
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis_controller.js
  src/legacy/core_plugins/metric_vis/public/metric_vis_controller.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/public/kbn_vis_types/editor_controller.js
  src/legacy/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/legacy/core_plugins/region_map/public/region_map_vis_params.js
  src/legacy/core_plugins/region_map/public/region_map_visualization.js
  src/legacy/core_plugins/table_vis/public/__tests__/_table_vis_controller.js
  src/legacy/core_plugins/table_vis/public/table_vis_controller.js
  src/legacy/core_plugins/tagcloud/public/__tests__/tag_cloud_visualization.js
  src/legacy/core_plugins/tagcloud/public/tag_cloud_visualization.js
  src/legacy/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
  src/legacy/core_plugins/tile_map/public/base_maps_visualization.js
  src/legacy/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/legacy/core_plugins/vega/public/__tests__/vega_visualization.js
  src/legacy/core_plugins/vega/public/vega_visualization.js
  src/legacy/ui/public/vis/vis_types/angular_vis_type.js
  src/legacy/ui/public/vis/vis_types/react_vis_type.js
  src/legacy/ui/public/vis/vis_types/vis_type.d.ts
  src/legacy/ui/public/vis/vis_types/vislib_vis_type.js
  src/legacy/ui/public/visualize/components/visualization.tsx
  src/legacy/ui/public/visualize/components/visualization_chart.tsx
  src/legacy/ui/public/visualize/loader/__tests__/visualization_loader.js
  src/legacy/ui/public/visualize/loader/__tests__/visualize_loader.js
  src/legacy/ui/public/visualize/loader/embedded_visualize_handler.ts
  src/legacy/ui/public/visualize/loader/pipeline_helpers/__snapshots__/build_pipeline.test.js.snap
  src/legacy/ui/public/visualize/loader/pipeline_helpers/build_pipeline.ts
  src/legacy/ui/public/visualize/loader/visualization_loader.tsx
  src/legacy/ui/public/visualize/loader/visualize_data_loader.ts
Labels: :KibanaApp, review, v7.0.0

#32396 [7.x] fixes visualization editor selection being reset (#30073)
  src/legacy/core_plugins/input_control_vis/public/vis_controller.js
  src/legacy/core_plugins/markdown_vis/public/markdown_vis_controller.js
  src/legacy/core_plugins/markdown_vis/public/markdown_vis_controller.test.js
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis.js
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis_controller.js
  src/legacy/core_plugins/metric_vis/public/metric_vis_controller.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/public/kbn_vis_types/editor_controller.js
  src/legacy/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/legacy/core_plugins/region_map/public/region_map_vis_params.js
  src/legacy/core_plugins/region_map/public/region_map_visualization.js
  src/legacy/core_plugins/table_vis/public/__tests__/_table_vis_controller.js
  src/legacy/core_plugins/table_vis/public/table_vis_controller.js
  src/legacy/core_plugins/tagcloud/public/__tests__/tag_cloud_visualization.js
  src/legacy/core_plugins/tagcloud/public/tag_cloud_visualization.js
  src/legacy/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
  src/legacy/core_plugins/tile_map/public/base_maps_visualization.js
  src/legacy/core_plugins/tile_map/public/coordinate_maps_visualization.js
  src/legacy/core_plugins/vega/public/__tests__/vega_visualization.js
  src/legacy/core_plugins/vega/public/vega_visualization.js
  src/legacy/ui/public/vis/vis_types/angular_vis_type.js
  src/legacy/ui/public/vis/vis_types/react_vis_type.js
  src/legacy/ui/public/vis/vis_types/vis_type.d.ts
  src/legacy/ui/public/vis/vis_types/vislib_vis_type.js
  src/legacy/ui/public/visualize/components/visualization.tsx
  src/legacy/ui/public/visualize/components/visualization_chart.tsx
  src/legacy/ui/public/visualize/loader/__tests__/visualization_loader.js
  src/legacy/ui/public/visualize/loader/__tests__/visualize_loader.js
  src/legacy/ui/public/visualize/loader/embedded_visualize_handler.ts
  src/legacy/ui/public/visualize/loader/pipeline_helpers/__snapshots__/build_pipeline.test.js.snap
  src/legacy/ui/public/visualize/loader/pipeline_helpers/build_pipeline.ts
  src/legacy/ui/public/visualize/loader/visualization_loader.tsx
  src/legacy/ui/public/visualize/loader/visualize_data_loader.ts
Labels: backport

#31496 [7.x] [Docs]Fixes links in Vega docs (#31283)
  docs/visualize/vega.asciidoc
Labels: backport, docs

#32388 [7.x] Fix navbar icons missing directives (#31450)
  src/legacy/core_plugins/status_page/public/status_page.js
  src/legacy/ui/public/chrome/chrome.js
Labels: backport

#32390 [6.7] Fix navbar icons missing directives (#31450)
  src/legacy/core_plugins/status_page/public/status_page.js
  src/ui/public/chrome/chrome.js
Labels: backport

#32391 [6.6] Fix navbar icons missing directives (#31450)
  src/ui/public/chrome/chrome.js
Labels: backport

#32118 [InfraUI] Add Infrastructure and Logs Help Menu content
  x-pack/plugins/infra/public/components/header_feedback_link.tsx
  x-pack/plugins/infra/public/components/help_center_content.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
Labels: :Infra UI, :infrastructure, [zube]: In Review, review, v8.0.0

#32309 [7.x] Add http/1 response streaming to Canvas batches (#32027)
  .eslintignore
  packages/kbn-interpreter/src/public/batched_fetch.js
  packages/kbn-interpreter/src/public/batched_fetch.test.js
  packages/kbn-interpreter/src/public/interpreter.js
  packages/kbn-interpreter/src/public/interpreter.test.js
  src/legacy/core_plugins/interpreter/public/interpreter.js
  src/legacy/core_plugins/interpreter/server/routes/server_functions.js
  src/legacy/ui/public/ajax_stream/ajax_stream.test.ts
  src/legacy/ui/public/ajax_stream/ajax_stream.ts
  src/legacy/ui/public/ajax_stream/index.ts
Labels: backport

#31807 Allow time ranges before the epoch in discover
  src/legacy/core_plugins/kibana/public/context/api/__tests__/_stubs.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/predecessors.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/successors.js
  src/legacy/core_plugins/kibana/public/context/api/context.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/annotations/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/__tests__/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/table/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/series/__tests__/build_request_body.js
  src/legacy/core_plugins/timelion/server/series_functions/__tests__/es.js
  src/legacy/core_plugins/timelion/server/series_functions/es/lib/build_request.js
  src/legacy/core_plugins/vega/public/data_model/__tests__/es_query_parser.js
  src/legacy/core_plugins/vega/public/data_model/es_query_parser.js
  src/legacy/ui/public/agg_response/tabify/_buckets.js
  src/legacy/ui/public/agg_types/__tests__/buckets/create_filter/date_histogram.js
  src/legacy/ui/public/agg_types/__tests__/buckets/create_filter/date_range.js
  src/legacy/ui/public/agg_types/buckets/create_filter/date_histogram.js
  src/legacy/ui/public/agg_types/buckets/create_filter/date_range.js
  src/legacy/ui/public/timefilter/get_time.test.ts
  src/legacy/ui/public/timefilter/get_time.ts
  src/legacy/ui/public/utils/__tests__/brush_event.test.js
  src/legacy/ui/public/utils/brush_event.js
Labels: v7.0.0, v7.1.0

#32355 [7.x] [APM] Adjust responsive flyout sizing (WIP) (#32021)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/ResponsiveFlyout.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/TransactionFlyout/index.tsx
Labels: backport

#32029 Convert saved object routes to TypeScript
  src/legacy/server/saved_objects/routes/_mock_server.ts
  src/legacy/server/saved_objects/routes/bulk_create.test.ts
  src/legacy/server/saved_objects/routes/bulk_create.ts
  src/legacy/server/saved_objects/routes/bulk_get.test.ts
  src/legacy/server/saved_objects/routes/bulk_get.ts
  src/legacy/server/saved_objects/routes/create.test.ts
  src/legacy/server/saved_objects/routes/create.ts
  src/legacy/server/saved_objects/routes/delete.test.ts
  src/legacy/server/saved_objects/routes/delete.ts
  src/legacy/server/saved_objects/routes/find.js
  src/legacy/server/saved_objects/routes/find.test.ts
  src/legacy/server/saved_objects/routes/find.ts
  src/legacy/server/saved_objects/routes/get.test.ts
  src/legacy/server/saved_objects/routes/get.ts
  src/legacy/server/saved_objects/routes/index.ts
  src/legacy/server/saved_objects/routes/types.ts
  src/legacy/server/saved_objects/routes/update.test.ts
  src/legacy/server/saved_objects/routes/update.ts
Labels: :Platform, review, v7.1.0, v8.0.0

#32405 [7.x] Convert saved object routes to TypeScript (#32029)
  src/legacy/server/saved_objects/routes/_mock_server.ts
  src/legacy/server/saved_objects/routes/bulk_create.test.ts
  src/legacy/server/saved_objects/routes/bulk_create.ts
  src/legacy/server/saved_objects/routes/bulk_get.test.ts
  src/legacy/server/saved_objects/routes/bulk_get.ts
  src/legacy/server/saved_objects/routes/create.test.ts
  src/legacy/server/saved_objects/routes/create.ts
  src/legacy/server/saved_objects/routes/delete.test.ts
  src/legacy/server/saved_objects/routes/delete.ts
  src/legacy/server/saved_objects/routes/find.js
  src/legacy/server/saved_objects/routes/find.test.ts
  src/legacy/server/saved_objects/routes/find.ts
  src/legacy/server/saved_objects/routes/get.test.ts
  src/legacy/server/saved_objects/routes/get.ts
  src/legacy/server/saved_objects/routes/index.ts
  src/legacy/server/saved_objects/routes/types.ts
  src/legacy/server/saved_objects/routes/update.test.ts
  src/legacy/server/saved_objects/routes/update.ts
Labels: backport

#32406 [7.x] Remove unused server functionality from the interpreter (#32133)
  src/legacy/core_plugins/interpreter/common/constants.js
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/feature_check.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/index.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/server.js
  src/legacy/core_plugins/interpreter/server/routes/index.js
  src/legacy/core_plugins/interpreter/server/routes/translate.js
  x-pack/plugins/canvas/common/lib/constants.js
Labels: backport

#31739 Throw error when migration not defined in same plugin as mappings
  src/legacy/ui/ui_exports/__tests__/collect_ui_exports.js
  src/legacy/ui/ui_exports/ui_export_types/saved_object.js
Labels: :Operations, review, v7.1.0, v8.0.0

#32130 [Maps] docs
  docs/index.asciidoc
  docs/maps/heatmap-layer.asciidoc
  docs/maps/images/heatmap_layer.png
  docs/maps/images/sample_data_ecommerce.png
  docs/maps/images/terms_join.png
  docs/maps/images/terms_join_metric_config.png
  docs/maps/images/terms_join_shared_key_config.png
  docs/maps/images/terms_join_tooltip.png
  docs/maps/images/tile_layer.png
  docs/maps/images/vector_layer.png
  docs/maps/images/vector_style_dynamic.png
  docs/maps/images/vector_style_static.png
  docs/maps/index.asciidoc
  docs/maps/terms-join.asciidoc
  docs/maps/tile-layer.asciidoc
  docs/maps/vector-layer.asciidoc
  docs/maps/vector-style.asciidoc
Labels: :Geo, docs, v6.7.0, v7.0.0, v7.1.0, v8.0.0

#32159 Fix IE11 by pinning top-level core-js node module to 2.5.3
  package.json
  x-pack/package.json
  yarn.lock
Labels: v7.1.0, v8.0.0

#32411 [7.x] Throw error when migration not defined in same plugin as mappings (#31739)
  src/legacy/ui/ui_exports/__tests__/collect_ui_exports.js
  src/legacy/ui/ui_exports/ui_export_types/saved_object.js
Labels: backport

#31855 Minor change to stack monitoring tooltips
  x-pack/plugins/monitoring/server/lib/elasticsearch/nodes/get_nodes/__test__/__snapshots__/handle_response.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/__test__/__snapshots__/metrics.test.js.snap
  x-pack/plugins/monitoring/server/lib/metrics/elasticsearch/metrics.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/node_detail_advanced.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/nodes_listing_cgroup.json
Labels: :Monitoring

#32414 [7.x] [Maps] docs (#32130)
  docs/index.asciidoc
  docs/maps/heatmap-layer.asciidoc
  docs/maps/images/heatmap_layer.png
  docs/maps/images/sample_data_ecommerce.png
  docs/maps/images/terms_join.png
  docs/maps/images/terms_join_metric_config.png
  docs/maps/images/terms_join_shared_key_config.png
  docs/maps/images/terms_join_tooltip.png
  docs/maps/images/tile_layer.png
  docs/maps/images/vector_layer.png
  docs/maps/images/vector_style_dynamic.png
  docs/maps/images/vector_style_static.png
  docs/maps/index.asciidoc
  docs/maps/terms-join.asciidoc
  docs/maps/tile-layer.asciidoc
  docs/maps/vector-layer.asciidoc
  docs/maps/vector-style.asciidoc
Labels: backport

#32416 [6.7] [Maps] docs (#32130)
  docs/index.asciidoc
  docs/maps/heatmap-layer.asciidoc
  docs/maps/images/heatmap_layer.png
  docs/maps/images/sample_data_ecommerce.png
  docs/maps/images/terms_join.png
  docs/maps/images/terms_join_metric_config.png
  docs/maps/images/terms_join_shared_key_config.png
  docs/maps/images/terms_join_tooltip.png
  docs/maps/images/tile_layer.png
  docs/maps/images/vector_layer.png
  docs/maps/images/vector_style_dynamic.png
  docs/maps/images/vector_style_static.png
  docs/maps/index.asciidoc
  docs/maps/terms-join.asciidoc
  docs/maps/tile-layer.asciidoc
  docs/maps/vector-layer.asciidoc
  docs/maps/vector-style.asciidoc
Labels: backport

#32415 [7.0] [Maps] docs (#32130)
  docs/index.asciidoc
  docs/maps/heatmap-layer.asciidoc
  docs/maps/images/heatmap_layer.png
  docs/maps/images/sample_data_ecommerce.png
  docs/maps/images/terms_join.png
  docs/maps/images/terms_join_metric_config.png
  docs/maps/images/terms_join_shared_key_config.png
  docs/maps/images/terms_join_tooltip.png
  docs/maps/images/tile_layer.png
  docs/maps/images/vector_layer.png
  docs/maps/images/vector_style_dynamic.png
  docs/maps/images/vector_style_static.png
  docs/maps/index.asciidoc
  docs/maps/terms-join.asciidoc
  docs/maps/tile-layer.asciidoc
  docs/maps/vector-layer.asciidoc
  docs/maps/vector-style.asciidoc
Labels: backport

#32370 Improving way to check if pipelines list is loaded
  x-pack/plugins/logstash/public/components/pipeline_list/pipeline_list.js
  x-pack/test/functional/services/pipeline_list.js
Labels: review, test_xpack_functional

#32410 [7.x] [APM] Context Tabs jumping height fix (#32351)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/TransactionPropertiesTable.tsx
  x-pack/plugins/apm/public/components/shared/HeightRetainer/index.tsx
Labels: backport

#32378 Add types to run_pipeline.
  src/legacy/ui/public/visualize/loader/pipeline_helpers/run_pipeline.ts
Labels: :ExpressionLanguage, :KibanaApp, review, v7.1.0, v8.0.0

#32407 fixing issue with request body not being sent for console DELETE requ…
  src/legacy/core_plugins/console/server/proxy_route.js
Labels: :Console, :Elasticsearch UI, v7.1.0, v8.0.0

#32429 [7.x] fixing issue with request body not being sent for console DELETE requ… (#32407)
  src/legacy/core_plugins/console/server/proxy_route.js
Labels: backport

#32352 [7.x] Show the filter bar in dashboard embed mode (#32222)
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.html
Labels: backport

#32350 Dedupe by index pattern ID rather than object identity
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_state_manager.js
Labels: :Dashboard, :KibanaApp, v7.0.0, v7.1.0, v8.0.0

#32369 [Canvas] Loading Indicator + Elements Panel
  x-pack/plugins/canvas/public/components/element_config/element_config.js
  x-pack/plugins/canvas/public/components/element_config/index.js
  x-pack/plugins/canvas/public/components/refresh_control/index.js
  x-pack/plugins/canvas/public/components/refresh_control/refresh_control.js
  x-pack/plugins/canvas/public/components/sidebar/global_config.js
  x-pack/plugins/canvas/public/lib/loading_indicator.ts
  x-pack/plugins/canvas/public/state/actions/elements.js
  x-pack/plugins/canvas/public/state/actions/transient.js
  x-pack/plugins/canvas/public/state/initial_state.js
  x-pack/plugins/canvas/public/state/middleware/element_stats.js
  x-pack/plugins/canvas/public/state/middleware/index.js
  x-pack/plugins/canvas/public/state/reducers/resolved_args.js
  x-pack/plugins/canvas/public/state/reducers/transient.js
  x-pack/plugins/canvas/public/state/selectors/workpad.js
Labels: :Canvas, review, v6.7.0, v7.0.0, v7.1.0, v8.0.0

#32427 [7.x] Expressions: Add types to run_pipeline. (#32378)
  src/legacy/ui/public/visualize/loader/pipeline_helpers/run_pipeline.ts
Labels: backport

#31837 [KQL] Better warning messages when using Lucene-like syntax
  packages/kbn-es-query/src/kuery/ast/__tests__/ast.js
  packages/kbn-es-query/src/kuery/ast/ast.d.ts
  packages/kbn-es-query/src/kuery/ast/ast.js
  packages/kbn-es-query/src/kuery/ast/index.js
  packages/kbn-es-query/src/kuery/ast/kuery.js
  packages/kbn-es-query/src/kuery/ast/kuery.peg
  src/legacy/ui/public/query_bar/components/query_bar.tsx
Labels: :KQL, :KibanaApp, review, v7.0.0, v7.1.0, v8.0.0

#32413 [DOCS] Adds information about reindexing to Upgrade Assistant doc
  docs/images/management-upgrade-assistant-7.0.png
  docs/management/upgrade-assistant/index.asciidoc
Labels: docs, v6.7.0

#32442 [esArchiver] bulk queue size to 300 record
  src/es_archiver/lib/docs/__tests__/index_doc_records_stream.js
  src/es_archiver/lib/docs/index_doc_records_stream.js
Labels: test_ui_functional, v7.0.0, v7.1.0, v8.0.0

#32379 [Code] apply the correct timestamp to admin page
  x-pack/plugins/code/public/actions/status.ts
  x-pack/plugins/code/public/components/admin_page/project_item.tsx
  x-pack/plugins/code/public/components/admin_page/project_tab.tsx
  x-pack/plugins/code/public/reducers/status.ts
  x-pack/plugins/code/public/sagas/project_status.ts
Labels: :Code

#32439 [Code]: fix duplicate import agains kbn/test/types package
  x-pack/package.json
  yarn.lock
Labels: :Code

#32444 [7.x] [esArchiver] bulk queue size to 300 record (#32442)
  src/es_archiver/lib/docs/__tests__/index_doc_records_stream.js
  src/es_archiver/lib/docs/index_doc_records_stream.js
Labels: backport

#32436 [logstash/pipelineCreate] retry reading rows
  x-pack/test/functional/apps/logstash/pipeline_create.js
Labels: review, test_ui_functional, v7.0.0, v7.1.0, v8.0.0

#32433 [7.x] [Canvas] Loading Indicator + Elements Panel (#32369)
  x-pack/plugins/canvas/public/components/element_config/element_config.js
  x-pack/plugins/canvas/public/components/element_config/index.js
  x-pack/plugins/canvas/public/components/refresh_control/index.js
  x-pack/plugins/canvas/public/components/refresh_control/refresh_control.js
  x-pack/plugins/canvas/public/components/sidebar/global_config.js
  x-pack/plugins/canvas/public/lib/loading_indicator.ts
  x-pack/plugins/canvas/public/state/actions/elements.js
  x-pack/plugins/canvas/public/state/actions/transient.js
  x-pack/plugins/canvas/public/state/initial_state.js
  x-pack/plugins/canvas/public/state/middleware/element_stats.js
  x-pack/plugins/canvas/public/state/middleware/index.js
  x-pack/plugins/canvas/public/state/reducers/resolved_args.js
  x-pack/plugins/canvas/public/state/reducers/transient.js
  x-pack/plugins/canvas/public/state/selectors/workpad.js
Labels: backport

#32448 [6.7] [Canvas] Loading Indicator + Elements Panel (#32369)
  x-pack/plugins/canvas/public/components/element_config/element_config.js
  x-pack/plugins/canvas/public/components/element_config/index.js
  x-pack/plugins/canvas/public/components/refresh_control/index.js
  x-pack/plugins/canvas/public/components/refresh_control/refresh_control.js
  x-pack/plugins/canvas/public/components/sidebar/global_config.js
  x-pack/plugins/canvas/public/lib/loading_indicator.ts
  x-pack/plugins/canvas/public/state/actions/elements.js
  x-pack/plugins/canvas/public/state/actions/transient.js
  x-pack/plugins/canvas/public/state/initial_state.js
  x-pack/plugins/canvas/public/state/middleware/element_stats.js
  x-pack/plugins/canvas/public/state/middleware/index.js
  x-pack/plugins/canvas/public/state/reducers/resolved_args.js
  x-pack/plugins/canvas/public/state/reducers/transient.js
  x-pack/plugins/canvas/public/state/selectors/workpad.js
Labels: backport

#32307 Deprecated field [all_fields] used
  src/legacy/server/saved_objects/service/lib/search_dsl/query_params.js
  src/legacy/server/saved_objects/service/lib/search_dsl/query_params.test.js
Labels: :Platform, :deprecation_warnings, v7.0.0, v7.1.0, v8.0.0

#32288 [types removal] Remove type doc from fetch.js
  src/legacy/core_plugins/kibana/server/lib/kql_usage_collector/fetch.js
Labels: :KibanaApp, :deprecation_warnings

#32199 [APM] Update contextual data objects and sorting for ECS
  x-pack/plugins/apm/public/components/shared/PropertiesTable/NestedKeyValueTable.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/NestedKeyValueTable.test.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/__snapshots__/NestedKeyValueTable.test.tsx.snap
  x-pack/plugins/apm/public/components/shared/PropertiesTable/index.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/propertyConfig.ts
Labels: :apm, [zube]: In Review

#32286 [types removal] Remove types from saved_objecs repository
  src/legacy/server/saved_objects/service/lib/repository.js
  src/legacy/server/saved_objects/service/lib/repository.test.js
Labels: :Platform, :deprecation_warnings, v7.0.0, v7.1.0, v8.0.0

#32453 [7.x] [types removal] Remove type doc from fetch.js (#32288)
  src/legacy/core_plugins/kibana/server/lib/kql_usage_collector/fetch.js
Labels: backport

#32451 [7.x] Deprecated field [all_fields] used, replaced by [Set [fields] to `*` instead]" (#32307)
  src/legacy/server/saved_objects/service/lib/search_dsl/query_params.js
  src/legacy/server/saved_objects/service/lib/search_dsl/query_params.test.js
Labels: backport

#31893 [TSVB]: initial markdown test implementation
  src/legacy/core_plugins/metrics/public/components/markdown_editor.js
  src/legacy/core_plugins/metrics/public/components/panel_config/markdown.js
  test/functional/apps/visualize/_tsvb_chart.ts
  test/functional/apps/visualize/_tsvb_markdown.ts
  test/functional/apps/visualize/index.js
  test/functional/page_objects/index.ts
  test/functional/page_objects/visual_builder_page.ts
Labels: :KibanaApp, :QA, :TSVB, test, test_ui_functional

#32034 [Code] highlight structure tree node
  x-pack/plugins/code/public/common/types.ts
  x-pack/plugins/code/public/components/file_tree/__snapshots__/file_tree.test.tsx.snap
  x-pack/plugins/code/public/components/file_tree/file_tree.scss
  x-pack/plugins/code/public/components/file_tree/file_tree.tsx
  x-pack/plugins/code/public/components/main/main.scss
  x-pack/plugins/code/public/components/main/side_tabs.tsx
  x-pack/plugins/code/public/components/symbol_tree/__test__/__snapshots__/symbol_tree.test.tsx.snap
  x-pack/plugins/code/public/components/symbol_tree/code_symbol_tree.tsx
  x-pack/plugins/code/public/components/symbol_tree/symbol_tree.scss
  x-pack/plugins/code/public/index.scss
Labels: :Code

#32372 Back button navigation fix 31238
  src/legacy/ui/public/chrome/directives/kbn_chrome.js
  test/functional/apps/home/_navigation.js
  test/functional/apps/home/index.js
Labels: :Platform, bug, v7.1.0, v8.0.0

#32459 [7.x] Back button navigation fix 31238 (#32372)
  src/legacy/ui/public/chrome/directives/kbn_chrome.js
  test/functional/apps/home/_navigation.js
  test/functional/apps/home/index.js
Labels: backport

#32408 [APM] Update Index Pattern.
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/index_pattern.json
Labels: :apm

#32456 [7.x] [types removal] Remove types from saved_objecs repository (#32286)
  src/legacy/server/saved_objects/service/lib/repository.js
  src/legacy/server/saved_objects/service/lib/repository.test.js
Labels: backport

#32402 [7.x] Allow time ranges before the epoch in discover (#31807)
  src/legacy/core_plugins/kibana/public/context/api/__tests__/_stubs.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/predecessors.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/successors.js
  src/legacy/core_plugins/kibana/public/context/api/context.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/annotations/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/__tests__/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/table/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/series/__tests__/build_request_body.js
  src/legacy/core_plugins/timelion/server/series_functions/__tests__/es.js
  src/legacy/core_plugins/timelion/server/series_functions/es/lib/build_request.js
  src/legacy/core_plugins/vega/public/data_model/__tests__/es_query_parser.js
  src/legacy/core_plugins/vega/public/data_model/es_query_parser.js
  src/legacy/ui/public/agg_response/tabify/_buckets.js
  src/legacy/ui/public/agg_types/__tests__/buckets/create_filter/date_histogram.js
  src/legacy/ui/public/agg_types/__tests__/buckets/create_filter/date_range.js
  src/legacy/ui/public/agg_types/buckets/create_filter/date_histogram.js
  src/legacy/ui/public/agg_types/buckets/create_filter/date_range.js
  src/legacy/ui/public/timefilter/get_time.test.ts
  src/legacy/ui/public/timefilter/get_time.ts
  src/legacy/ui/public/utils/__tests__/brush_event.test.js
  src/legacy/ui/public/utils/brush_event.js
Labels: backport

#32315 [types removal] Remove type from bulk_uploader in monitoring
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_settings_collector.js
Labels: :Monitoring, :deprecation_warnings, v7.0.0, v7.1.0, v8.0.0

#32463 [7.x] [APM] Update contextual data objects and sorting for ECS (#32199)
  x-pack/plugins/apm/public/components/shared/PropertiesTable/NestedKeyValueTable.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/NestedKeyValueTable.test.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/__snapshots__/NestedKeyValueTable.test.tsx.snap
  x-pack/plugins/apm/public/components/shared/PropertiesTable/index.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/propertyConfig.ts
Labels: :apm, [zube]: In Review, backport

#32465 [7.x] [types removal] Remove type from bulk_uploader in monitoring (#32315)
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/get_settings_collector.js
Labels: backport

#31723 [Logs UI] Slim down local view configuration state
  x-pack/package.json
  x-pack/plugins/infra/public/containers/logs/log_view_configuration.test.tsx
  x-pack/plugins/infra/public/containers/logs/log_view_configuration.tsx
  x-pack/plugins/infra/public/containers/logs/with_log_minimap.tsx
  x-pack/plugins/infra/public/containers/logs/with_log_textview.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
  x-pack/plugins/infra/public/pages/logs/page_content.tsx
  x-pack/plugins/infra/public/pages/logs/toolbar.tsx
  x-pack/plugins/infra/public/store/actions.ts
  x-pack/plugins/infra/public/store/local/actions.ts
  x-pack/plugins/infra/public/store/local/log_minimap/actions.ts
  x-pack/plugins/infra/public/store/local/log_minimap/index.ts
  x-pack/plugins/infra/public/store/local/log_minimap/reducer.ts
  x-pack/plugins/infra/public/store/local/log_minimap/selectors.ts
  x-pack/plugins/infra/public/store/local/log_textview/actions.ts
  x-pack/plugins/infra/public/store/local/log_textview/index.ts
  x-pack/plugins/infra/public/store/local/log_textview/reducer.ts
  x-pack/plugins/infra/public/store/local/log_textview/selectors.ts
  x-pack/plugins/infra/public/store/local/reducer.ts
  x-pack/plugins/infra/public/store/local/selectors.ts
  x-pack/plugins/infra/public/store/selectors.ts
  x-pack/test_utils/enzyme_helpers.tsx
  yarn.lock
Labels: :Logs UI, :infrastructure, [zube]: In Review, review, v7.1.0, v8.0.0

#32455 Fix Time picker quick ranges description
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :KibanaApp, v7.0.0, v7.1.0, v8.0.0

#32460 [7.x] [APM] Update Index Pattern. (#32408)
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/index_pattern.json
Labels: backport

#32471 [7.x] [TSVB]: initial markdown test implementation (#31893)
  src/legacy/core_plugins/metrics/public/components/markdown_editor.js
  src/legacy/core_plugins/metrics/public/components/panel_config/markdown.js
  test/functional/apps/visualize/_tsvb_chart.ts
  test/functional/apps/visualize/_tsvb_markdown.ts
  test/functional/apps/visualize/index.js
  test/functional/page_objects/index.ts
  test/functional/page_objects/visual_builder_page.ts
Labels: backport

#32473 [7.x] [Logs UI] Slim down local view configuration state (#31723)
  x-pack/package.json
  x-pack/plugins/infra/public/containers/logs/log_view_configuration.test.tsx
  x-pack/plugins/infra/public/containers/logs/log_view_configuration.tsx
  x-pack/plugins/infra/public/containers/logs/with_log_minimap.tsx
  x-pack/plugins/infra/public/containers/logs/with_log_textview.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
  x-pack/plugins/infra/public/pages/logs/page_content.tsx
  x-pack/plugins/infra/public/pages/logs/toolbar.tsx
  x-pack/plugins/infra/public/store/actions.ts
  x-pack/plugins/infra/public/store/local/actions.ts
  x-pack/plugins/infra/public/store/local/log_minimap/actions.ts
  x-pack/plugins/infra/public/store/local/log_minimap/index.ts
  x-pack/plugins/infra/public/store/local/log_minimap/reducer.ts
  x-pack/plugins/infra/public/store/local/log_minimap/selectors.ts
  x-pack/plugins/infra/public/store/local/log_textview/actions.ts
  x-pack/plugins/infra/public/store/local/log_textview/index.ts
  x-pack/plugins/infra/public/store/local/log_textview/reducer.ts
  x-pack/plugins/infra/public/store/local/log_textview/selectors.ts
  x-pack/plugins/infra/public/store/local/reducer.ts
  x-pack/plugins/infra/public/store/local/selectors.ts
  x-pack/plugins/infra/public/store/selectors.ts
  x-pack/test_utils/enzyme_helpers.tsx
  yarn.lock
Labels: backport

#32475 [7.x] Fix Time picker quick ranges description (#32455)
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#32445 [7.0] [esArchiver] bulk queue size to 300 record (#32442)
  src/es_archiver/lib/docs/__tests__/index_doc_records_stream.js
  src/es_archiver/lib/docs/index_doc_records_stream.js
Labels: backport

#32384 [ML] Adds missing error handling to annotations request.
  x-pack/plugins/ml/public/components/annotations/annotations_table/annotations_table.js
  x-pack/plugins/ml/public/explorer/explorer_utils.js
  x-pack/plugins/ml/public/timeseriesexplorer/components/timeseries_chart/timeseries_chart.js
  x-pack/plugins/ml/public/timeseriesexplorer/components/timeseries_chart/timeseries_chart_directive.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer.html
  x-pack/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_controller.js
  x-pack/plugins/ml/server/models/annotation_service/annotation.test.ts
  x-pack/plugins/ml/server/models/annotation_service/annotation.ts
Labels: :ml, :ml-results, bug, release_note:fix, v6.6.2, v6.7.0, v7.0.0, v7.1.0, v8.0.0

#32441 [ML] Ensure Job Selector description text is accurate
  x-pack/plugins/ml/public/components/job_select_list/job_select_service.js
Labels: :ml, :ml-results, v7.0.0

#32461 [7.0] [APM] Update Index Pattern. (#32408)
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/index_pattern.json
Labels: backport

#32403 [7.0] Allow time ranges before the epoch in discover (#31807)
  src/legacy/core_plugins/kibana/public/context/api/__tests__/_stubs.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/predecessors.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/successors.js
  src/legacy/core_plugins/kibana/public/context/api/context.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/annotations/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/__tests__/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/table/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/series/__tests__/build_request_body.js
  src/legacy/core_plugins/timelion/server/series_functions/__tests__/es.js
  src/legacy/core_plugins/timelion/server/series_functions/es/lib/build_request.js
  src/legacy/core_plugins/vega/public/data_model/__tests__/es_query_parser.js
  src/legacy/core_plugins/vega/public/data_model/es_query_parser.js
  src/legacy/ui/public/agg_response/tabify/_buckets.js
  src/legacy/ui/public/agg_types/__tests__/buckets/create_filter/date_histogram.js
  src/legacy/ui/public/agg_types/__tests__/buckets/create_filter/date_range.js
  src/legacy/ui/public/agg_types/buckets/create_filter/date_histogram.js
  src/legacy/ui/public/agg_types/buckets/create_filter/date_range.js
  src/legacy/ui/public/timefilter/get_time.test.ts
  src/legacy/ui/public/timefilter/get_time.ts
  src/legacy/ui/public/utils/__tests__/brush_event.test.js
  src/legacy/ui/public/utils/brush_event.js
Labels: backport

#32435 [DOCS] Adds note about Timelion to breaking changes doc
  docs/migration/migrate_7_0.asciidoc
Labels: v7.0.0, v7.1.0

#32417 [ML] For Category examples in Anomalies Table, reduce space between headings in the expanded row
  x-pack/plugins/ml/public/components/anomalies_table/anomaly_details.js
Labels: :ml, :ml-results, enhancement, v7.0.0, v7.1.0

#32363 [6.6] fix: supply a valid axisconfig position default (#32335)
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/axisConfig.js
Labels: backport

#32362 [6.7] fix: supply a valid axisconfig position default (#32335)
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/axisConfig.js
Labels: backport

#32361 [7.0] fix: supply a valid axisconfig position default (#32335)
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/axisConfig.js
Labels: backport

#32360 [7.x] fix: supply a valid axisconfig position default (#32335)
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/axisConfig.js
Labels: backport

#32359 [6.7] Fix: Prevent some needless re-rendering in high-level components (#31958)
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/asset_manager/index.js
  x-pack/plugins/canvas/public/components/fullscreen_control/fullscreen_control.js
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/workpad/index.js
  x-pack/plugins/canvas/public/components/workpad/workpad.js
  x-pack/plugins/canvas/public/components/workpad_header/index.js
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.js
  x-pack/plugins/canvas/public/state/middleware/workpad_update.js
Labels: backport

#32358 [7.0] Fix: Prevent some needless re-rendering in high-level components (#31958)
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/asset_manager/index.js
  x-pack/plugins/canvas/public/components/fullscreen_control/fullscreen_control.js
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/workpad/index.js
  x-pack/plugins/canvas/public/components/workpad/workpad.js
  x-pack/plugins/canvas/public/components/workpad_header/index.js
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.js
  x-pack/plugins/canvas/public/state/middleware/workpad_update.js
Labels: backport

#32357 [7.x] Fix: Prevent some needless re-rendering in high-level components (#31958)
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/components/asset_manager/asset_manager.js
  x-pack/plugins/canvas/public/components/asset_manager/index.js
  x-pack/plugins/canvas/public/components/fullscreen_control/fullscreen_control.js
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/workpad/index.js
  x-pack/plugins/canvas/public/components/workpad/workpad.js
  x-pack/plugins/canvas/public/components/workpad_header/index.js
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.js
  x-pack/plugins/canvas/public/state/middleware/workpad_update.js
Labels: backport

#32477 [7.x] Add Infrastructure and Logs Help content (#32118)
  x-pack/plugins/infra/public/components/header_feedback_link.tsx
  x-pack/plugins/infra/public/components/help_center_content.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
Labels: backport

#32476 [7.0] Fix Time picker quick ranges description (#32455)
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#32492 [7.x] JobSelector text All jobs only on all job select (#32441)
  x-pack/plugins/ml/public/components/job_select_list/job_select_service.js
Labels: :ml, :ml-results, backport

#32493 [7.0] JobSelector text All jobs only on all job select (#32441)
  x-pack/plugins/ml/public/components/job_select_list/job_select_service.js
Labels: :ml, :ml-results, backport

#32438 [7.0] Dedupe by index pattern ID rather than object identity
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_state_manager.js
Labels: backport

#32353 [7.0] Show the filter bar in dashboard embed mode (#32222)
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.html
Labels: backport

#32437 [7.x] Dedupe by index pattern ID rather than object identity (#32350)
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_state_manager.js
Labels: backport

#32496 [7.0] reduce space between terms/regex/examples (#32417)
  x-pack/plugins/ml/public/components/anomalies_table/anomaly_details.js
Labels: :ml, :ml-results, backport

#32495 [7.x] reduce space between terms/regex/examples (#32417)
  x-pack/plugins/ml/public/components/anomalies_table/anomaly_details.js
Labels: :ml, :ml-results, backport

#31961 [Infra UI] Revert ECS changes for 6.7
  docs/settings/general-infra-logs-ui-settings.asciidoc
  x-pack/plugins/infra/public/components/source_configuration/fields_configuration_panel.tsx
  x-pack/plugins/infra/public/components/waffle/lib/field_to_display_name.ts
  x-pack/plugins/infra/public/components/waffle/waffle_group_by_controls.tsx
  x-pack/plugins/infra/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/metadata/elasticsearch_metadata_adapter.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/host/host_k8s_overview.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/host/host_k8s_pod_cap.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/nginx/nginx_hits.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/constants.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/lib/create_node_item.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/processors/common/nodes_processor.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_apache2.test.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_apache2.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_nginx.test.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_nginx.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/index.ts
  x-pack/plugins/infra/server/lib/domains/metadata_domain/metadata_domain.ts
  x-pack/plugins/infra/server/lib/sources/defaults.ts
  x-pack/test/api_integration/apis/infra/index.js
  x-pack/test/api_integration/apis/infra/metadata.ts
  x-pack/test/api_integration/apis/infra/metrics.ts
  x-pack/test/api_integration/apis/infra/sources.ts
  x-pack/test/api_integration/apis/infra/waffle.ts
  x-pack/test/functional/es_archives/infra/6.6.0/docker/data.json.gz
  x-pack/test/functional/es_archives/infra/6.6.0/docker/mappings.json
  x-pack/test/functional/es_archives/infra/7.0.0/hosts/data.json.gz
  x-pack/test/functional/es_archives/infra/7.0.0/hosts/mappings.json
  x-pack/test/functional/es_archives/infra/legacy/data.json.gz
  x-pack/test/functional/es_archives/infra/legacy/mappings.json
Labels: :Infra UI, :infrastructure, [zube]: In Review, blocker, bug, review, v6.7.0

#32225 [Discover] Fix tiebreaker sort order in context view
  src/legacy/core_plugins/kibana/public/context/api/__tests__/anchor.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/predecessors.js
  src/legacy/core_plugins/kibana/public/context/api/__tests__/successors.js
  src/legacy/core_plugins/kibana/public/context/api/context.js
  src/legacy/core_plugins/kibana/public/context/query/actions.js
Labels: :Discover, :KibanaApp, release_note:fix
