Repository elastic/kibana, pull requests merged in 2019-09, with the labels that each got.

#44051 [Code] add functional test to verify lang server full api symbol/reference counts
  x-pack/test/functional/apps/code/index.ts
  x-pack/test/functional/apps/code/lang_server_coverage.ts
Labels: Team:Code, release_note:skip, v7.5.0, v8.0.0

#44567 [7.4] [Code] add functional test to verify lang server full api symbol/reference counts (#44051)
  x-pack/test/functional/apps/code/index.ts
  x-pack/test/functional/apps/code/lang_server_coverage.ts
Labels: Team:Code, backport

#44566 [7.x] [Code] add functional test to verify lang server full api symbol/reference counts (#44051)
  x-pack/test/functional/apps/code/index.ts
  x-pack/test/functional/apps/code/lang_server_coverage.ts
Labels: Team:Code, backport

#44581 [code] Update download URLs for go lsp.
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
Labels: Team:Code, release_note:skip, v7.4.0, v8.0.0

#43692 [Code] try fix this test
  x-pack/legacy/plugins/code/server/lsp/workspace_handler.test.ts
Labels: Team:Code, release_note:fix, v7.4.0, v8.0.0

#44583 [7.4] [code] Update download URLs for go lsp. (#44581)
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
Labels: backport

#44585 [7.x] [Code] try fix this test (#43692)
  x-pack/legacy/plugins/code/server/lsp/workspace_handler.test.ts
Labels: backport

#44586 [7.4] [Code] try fix this test (#43692)
  x-pack/legacy/plugins/code/server/lsp/workspace_handler.test.ts
Labels: backport

#44589 [7.4] [Code] Update download URLs for Java language server (#43962)
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
Labels: backport

#44479 [ML] Data frame analytics: Fix source index checks.
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/use_create_analytics_form.test.tsx
Labels: :ml, Feature:Data Frame Analytics, bug, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44582 [7.x] [code] Update download URLs for go lsp. (#44581)
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
Labels: backport

#43663 [APM] Fill in vertical gaps in breakdown metrics data
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/index.test.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/index.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/mock-responses/data.json
Labels: release_note:fix, v7.4.0

#44274 [APM] Display all errors in child transactions/spans in trace overview
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/ErrorCountBadge.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/StickyTransactionProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/index.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:fix, v7.4.0

#44590 docs: ✏️ use createKibanaReactContext() in kibana-react docs
  src/plugins/kibana_react/README.md
Labels: release_note:skip, review

#44591 [ML] Re-activate create single metric job test
  x-pack/test/functional/apps/machine_learning/create_single_metric_job.ts
Labels: release_note:skip, v8.0.0

#44594 [7.x] [ML] Data frame analytics: Fix source index checks. (#44479)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/use_create_analytics_form.test.tsx
Labels: :ml, backport

#44595 [7.4] [ML] Data frame analytics: Fix source index checks. (#44479)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/use_create_analytics_form.test.tsx
Labels: :ml, backport

#44499 [ML] Fixes series color in data visualizer metric distribution chart
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/field_data_card/document_count_chart/document_count_chart.tsx
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/field_data_card/metric_distribution_chart/metric_distribution_chart.tsx
Labels: :ml, release_note:skip, review, v7.4.0, v7.5.0, v8.0.0

#44573 Fixed TSVB Panel Options failure
  src/legacy/core_plugins/metrics/public/components/query_bar_wrapper.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/public/contexts/query_input_bar_context.ts
Labels: Feature:NP Migration, Team:AppArch, bug, release_note:skip, v7.4.0, v8.0.0

#44600 [7.x] docs: ✏️ use createKibanaReactContext() in kibana-react docs (#44590)
  src/plugins/kibana_react/README.md
Labels: backport

#44596 [7.x] [APM] Display all errors in child transactions/spans in trace overview (#44274)
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/ErrorCountBadge.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/StickyTransactionProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/index.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#44598 [7.x] [APM] Fill in vertical gaps in breakdown metrics data (#43663)
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/index.test.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/index.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/mock-responses/data.json
Labels: backport

#44597 [7.4] [APM] Display all errors in child transactions/spans in trace overview (#44274)
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/ErrorCountBadge.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/StickyTransactionProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Transaction/index.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#44599 [7.4] [APM] Fill in vertical gaps in breakdown metrics data (#43663)
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/index.test.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/index.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/breakdown/mock-responses/data.json
Labels: backport

#44603 [7.4] [DOCS] Spellcheck and minor tidying-up/consistency of Logs app content (#43388)
  docs/infrastructure/images/infrastructure-time-selector.png
  docs/infrastructure/infra-ui.asciidoc
  docs/logs/configuring.asciidoc
  docs/logs/getting-started.asciidoc
  docs/logs/images/logs-add-data.png
  docs/logs/images/logs-time-selector.png
  docs/logs/images/logs-view-event-with-filter.png
  docs/logs/images/logs-view-event.png
  docs/logs/index.asciidoc
  docs/logs/using.asciidoc
  docs/redirects.asciidoc
Labels: Team:Docs, release_note:skip

#44604 [7.x] [DOCS] Spellcheck and minor tidying-up/consistency of Logs app content (#43388)
  docs/infrastructure/images/infrastructure-time-selector.png
  docs/infrastructure/infra-ui.asciidoc
  docs/logs/configuring.asciidoc
  docs/logs/getting-started.asciidoc
  docs/logs/images/logs-add-data.png
  docs/logs/images/logs-time-selector.png
  docs/logs/images/logs-view-event-with-filter.png
  docs/logs/images/logs-view-event.png
  docs/logs/index.asciidoc
  docs/logs/using.asciidoc
  docs/redirects.asciidoc
Labels: Team:Docs, release_note:skip

#44602 [7.3] [DOCS] Spellcheck and minor tidying-up/consistency of Logs app content (#43388)
  docs/infrastructure/images/infrastructure-time-selector.png
  docs/infrastructure/infra-ui.asciidoc
  docs/logs/configuring.asciidoc
  docs/logs/getting-started.asciidoc
  docs/logs/images/logs-add-data.png
  docs/logs/images/logs-time-selector.png
  docs/logs/images/logs-view-event-with-filter.png
  docs/logs/images/logs-view-event.png
  docs/logs/index.asciidoc
  docs/logs/using.asciidoc
  docs/redirects.asciidoc
Labels: Team:Docs, release_note:skip

#43688 [Lens] Suggestion improvements
  x-pack/legacy/plugins/lens/public/datatable_visualization_plugin/visualization.test.tsx
  x-pack/legacy/plugins/lens/public/datatable_visualization_plugin/visualization.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/chart_switch.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/chart_switch.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/editor_frame.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/expression_helpers.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_helpers.test.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_helpers.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_panel.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_panel.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/dimension_panel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.test.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern_suggestions.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern_suggestions.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/layerpanel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/count.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/date_histogram.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/date_histogram.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/index.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/metrics.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/terms.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/terms.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/operations.test.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/operations.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/state_helpers.test.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_config_panel.test.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_config_panel.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_visualization.test.ts
  x-pack/legacy/plugins/lens/public/multi_column_editor/multi_column_editor.test.tsx
  x-pack/legacy/plugins/lens/public/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/__snapshots__/xy_visualization.test.ts.snap
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/to_expression.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.tsx
Labels: Feature:Lens

#44496 [ML] Data frame analytics: Exploration page bug fixes.
  x-pack/legacy/plugins/ml/common/types/eui/in_memory_table.ts
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/source_index_preview/source_index_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/expanded_row_preview_pane.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/transform_list.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/common.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/common.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/exploration.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/use_explore_data.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/analytics_list/analytics_list.tsx
Labels: :ml, Feature:Data Frame Analytics, bug, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44561 [7.x] Remove use of injecti18n in Embeddables plugin (#44043)
  src/legacy/core_plugins/dashboard_embeddable_container/public/np_ready/public/lib/embeddable/grid/dashboard_grid.test.tsx
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/index.ts
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/lib/containers/embeddable_child_panel.test.tsx
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/lib/containers/embeddable_child_panel.tsx
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/lib/panel/panel_header/panel_actions/customize_title/customize_panel_modal.tsx
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/lib/panel/panel_header/panel_actions/customize_title/customize_title_form.tsx
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/lib/panel/panel_header/panel_header.tsx
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/lib/panel/panel_header/panel_options_menu.tsx
  src/legacy/core_plugins/embeddable_api/public/np_ready/public/tests/customize_panel_modal.test.tsx
Labels: backport

#44608 [7.x] [ML] Fixes series color in data visualizer metric distribution chart (#44499)
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/field_data_card/document_count_chart/document_count_chart.tsx
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/field_data_card/metric_distribution_chart/metric_distribution_chart.tsx
Labels: :ml, backport

#44609 [ML] Data frame analytics: Fix default excluded fields for job creation
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_advanced_editor/create_analytics_advanced_editor.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
Labels: :ml, Feature:Data Frame Analytics, bug, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44610 [7.4] [ML] Fixes series color in data visualizer metric distribution chart (#44499)
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/field_data_card/document_count_chart/document_count_chart.tsx
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/field_data_card/metric_distribution_chart/metric_distribution_chart.tsx
Labels: :ml, backport

#44612 [7.4] fixed failure due to missing fail object client (#44573)
  src/legacy/core_plugins/metrics/public/components/query_bar_wrapper.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/public/contexts/query_input_bar_context.ts
Labels: backport

#44611 [7.x] fixed failure due to missing fail object client (#44573)
  src/legacy/core_plugins/metrics/public/components/query_bar_wrapper.js
  src/legacy/core_plugins/metrics/public/components/vis_editor.js
  src/legacy/core_plugins/metrics/public/contexts/query_input_bar_context.ts
Labels: backport

#44617 [7.x] [ML] Data frame analytics: Exploration page bug fixes. (#44496)
  x-pack/legacy/plugins/ml/common/types/eui/in_memory_table.ts
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/source_index_preview/source_index_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/expanded_row_preview_pane.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/transform_list.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/common.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/common.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/exploration.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/use_explore_data.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/analytics_list/analytics_list.tsx
Labels: :ml, backport

#44592 Mock lodash debounce to fix embedded_visualize_handler unstable tests
  src/legacy/ui/public/visualize/loader/embedded_visualize_handler.test.ts
Labels: Team:AppArch, failed-test, release_note:skip, v7.5.0, v8.0.0

#44622 [7.4] [ML] Data frame analytics: Fix default excluded fields for job creation (#44609)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_advanced_editor/create_analytics_advanced_editor.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
Labels: :ml, backport

#44628 [ML] Fix job progress hang in wizards
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_runner/job_runner.ts
Labels: :ml, non-issue, release_note:skip, review, v7.4.0, v7.5.0, v8.0.0

#44618 [7.4] [ML] Data frame analytics: Exploration page bug fixes. (#44496)
  x-pack/legacy/plugins/ml/common/types/eui/in_memory_table.ts
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/source_index_preview/source_index_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/expanded_row_preview_pane.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/transform_list.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/common.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/common.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/exploration.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_exploration/components/exploration/use_explore_data.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/analytics_list/analytics_list.tsx
Labels: :ml, backport

#44632 [7.x] [ML] Fix job progress hang in wizards (#44628)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_runner/job_runner.ts
Labels: backport

#44633 [7.4] [ML] Fix job progress hang in wizards (#44628)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_runner/job_runner.ts
Labels: backport

#44627 [7.x] Mock lodash debounce to avoid test instability (#44592)
  src/legacy/ui/public/visualize/loader/embedded_visualize_handler.test.ts
Labels: backport

#37618 [Code] try fix ts-lang shutdown unit test
  .ci/jobs.yml
  x-pack/legacy/plugins/code/server/lsp/language_server_launcher.test.ts
  x-pack/legacy/plugins/code/server/lsp/proxy.ts
  x-pack/legacy/plugins/code/server/lsp/ts_launcher.ts
Labels: Team:Code, release_note:fix, v7.4.0, v8.0.0

#44621 [7.x] [ML] Data frame analytics: Fix default excluded fields for job creation (#44609)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_advanced_editor/create_analytics_advanced_editor.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
Labels: :ml, backport

#44616 [ML] Fixes convert to advanced and tweaks wizard navigation buttons
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/constants.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/summary.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/wizard_nav/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/wizard_nav/wizard_nav.tsx
Labels: :ml, non-issue, release_note:skip, review, v7.4.0, v7.5.0, v8.0.0

#44139 [7.x] [APM] Sets up APM with new shared Kibana core context (#43920)
  x-pack/legacy/plugins/apm/public/components/app/GlobalHelpExtension/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/Main/UpdateBreadcrumbs.tsx
  x-pack/legacy/plugins/apm/public/components/app/Main/__test__/UpdateBreadcrumbs.test.js
  x-pack/legacy/plugins/apm/public/components/app/Main/useUpdateBadgeEffect.ts
  x-pack/legacy/plugins/apm/public/components/app/ServiceDetails/ServiceIntegrations/WatcherFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/ServiceDetails/ServiceIntegrations/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/ServiceOverview.test.tsx
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/KueryBar/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/DiscoverLinks/DiscoverLink.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/DiscoverLinks/__test__/DiscoverLinks.integration.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/InfraLink.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/InfraLink.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/KibanaLink.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/KibanaLink.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/MachineLearningLinks/MLJobLink.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/MachineLearningLinks/MLLink.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Links/MachineLearningLinks/MLLink.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/__test__/TransactionActionMenu.test.tsx
  x-pack/legacy/plugins/apm/public/context/CoreContext.tsx
  x-pack/legacy/plugins/apm/public/context/LicenseContext/InvalidLicenseNotification.tsx
  x-pack/legacy/plugins/apm/public/index.tsx
  x-pack/legacy/plugins/apm/public/new-platform/plugin.tsx
  x-pack/legacy/plugins/observability/README.md
  x-pack/legacy/plugins/observability/public/components/example_shared_component.tsx
  x-pack/legacy/plugins/observability/public/context/kibana_core.tsx
  x-pack/legacy/plugins/observability/public/index.tsx
Labels: backport

#44648 [7.4] [ML] Fixes convert to advanced and tweaks wizard navigation buttons (#44616)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/constants.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/summary.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/wizard_nav/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/wizard_nav/wizard_nav.tsx
Labels: backport

#44647 [7.x] [ML] Fixes convert to advanced and tweaks wizard navigation buttons (#44616)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/constants.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/summary.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/wizard_nav/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/wizard_nav/wizard_nav.tsx
Labels: backport

#44655 fix(doc): Fixed typo in documentation
  src/core/MIGRATION.md
Labels: release_note:skip, v7.5.0, v8.0.0

#44584 Revert "[ci] compress jobs for CI stability"
  .ci/jobs.yml
  .ci/run.sh
  test/functional/apps/management/index.js
  test/functional/apps/visualize/index.ts
  test/mocha_decorations.d.ts
  test/scripts/jenkins_firefox_smoke.sh
  test/scripts/jenkins_unit.sh
  test/scripts/jenkins_xpack_ci_group.sh
  x-pack/test/alerting_api_integration/security_and_spaces/tests/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/index.ts
  x-pack/test/api_integration/apis/index.js
  x-pack/test/api_integration/apis/security/index.js
  x-pack/test/api_integration/apis/spaces/index.ts
  x-pack/test/functional/apps/apm/index.ts
  x-pack/test/functional/apps/dashboard_mode/index.js
  x-pack/test/functional/apps/index_lifecycle_management/index.ts
  x-pack/test/functional/apps/infra/index.ts
  x-pack/test/functional/apps/license_management/index.ts
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/apps/uptime/index.ts
  x-pack/test/kerberos_api_integration/apis/index.ts
  x-pack/test/oidc_api_integration/apis/authorization_code_flow/index.js
  x-pack/test/oidc_api_integration/apis/implicit_flow/index.ts
  x-pack/test/pki_api_integration/apis/index.ts
  x-pack/test/reporting/functional/index.js
  x-pack/test/saml_api_integration/apis/index.js
  x-pack/test/saved_object_api_integration/security_only/apis/index.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/token_api_integration/auth/index.js
  x-pack/test/ui_capabilities/security_and_spaces/tests/index.ts
  x-pack/test/ui_capabilities/security_only/tests/index.ts
  x-pack/test/ui_capabilities/spaces_only/tests/index.ts
  x-pack/test/upgrade_assistant_integration/upgrade_assistant/index.js
  x-pack/test/visual_regression/tests/maps/index.js
Labels: Team:Operations, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44653 Improve check for whether Timelion UI is enabled.
  x-pack/legacy/plugins/xpack_main/index.js
Labels: chore, release_note:skip, review, v7.5.0

#44658 [ML] Fix Kibana management stats bar style
  x-pack/legacy/plugins/ml/public/management/jobs_list/components/jobs_list_page/_stats_bar.scss
Labels: :ml, release_note:fix, review, v7.4.0, v7.5.0, v8.0.0

#44635 [Code] Disable Code by setting xpack.code.ui.enabled=true in 7.4
  x-pack/legacy/plugins/code/index.ts
  x-pack/legacy/plugins/code/server/__tests__/multi_node.ts
  x-pack/test/api_integration/config.js
  x-pack/test/functional/config.js
Labels: Team:Code, release_note:skip, v7.4.0

#44564 [Uptime] removed unused breadcrumb code !!
  x-pack/legacy/plugins/uptime/public/lib/adapters/framework/kibana_framework_adapter.ts
  x-pack/legacy/plugins/uptime/public/uptime_app.tsx
Labels: Team:uptime, release_note:skip, v7.5.0, v8.0.0

#43731 Saved queries docs
  docs/discover/images/saved-query-management-component-all-privileges.png
  docs/discover/images/saved-query-management-component-delete-query-button.png
  docs/discover/images/saved-query-management-component-save-as-new-query.png
  docs/discover/images/saved-query-management-component-save-as-new.png
  docs/discover/images/saved-query-save-form-default-filters.png
  docs/discover/search.asciidoc
Labels: Team:Docs, release_note:skip, v7.4.0

#44386 [Maps] Only display fields contained in _source for Documents source term join left field options
  x-pack/legacy/plugins/maps/public/index_pattern_util.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/es_search_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/update_source_editor.js
Labels: Team:Geo, release_note:fix, v7.4.0, v7.5.0, v8.0.0

#44680 [7.x] update kibana management stats bar style (#44658)
  x-pack/legacy/plugins/ml/public/management/jobs_list/components/jobs_list_page/_stats_bar.scss
Labels: :ml, backport

#44093 [APM] Show loading state on waterfall and avoid re-fetching distribution chart when changing bucket
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/NoServicesMessage.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/app/Settings/AddSettings/AddSettingFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/ErrorCountBadge.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/StickyTransactionProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/TransactionTabs.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/ServiceLegends.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/FlyoutTopLevelProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/ResponsiveFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/DatabaseContext.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/HttpContext.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/StickySpanProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/TruncateHeightSection.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/TransactionFlyout/DroppedSpansWarning.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/TransactionFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/__snapshots__/waterfall_helpers.test.ts.snap
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/mock_responses/spans.json
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/mock_responses/transaction.json
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/get_agent_marks.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/get_agent_marks.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionBreakdown/index.tsx
  x-pack/legacy/plugins/apm/public/context/UrlParamsContext/index.tsx
  x-pack/legacy/plugins/apm/public/hooks/useDeepObjectIdentity.ts
  x-pack/legacy/plugins/apm/public/hooks/useFetcher.tsx
  x-pack/legacy/plugins/apm/public/hooks/useTransactionDistribution.ts
  x-pack/legacy/plugins/apm/public/hooks/useWaterfall.ts
Labels: Team:apm, [zube]: In Progress, release_note:enhancement, v7.4.0

#44675 [7.x] Improve check for whether Timelion UI is enabled. (#44653)
  x-pack/legacy/plugins/xpack_main/index.js
Labels: backport

#44681 [7.4] update kibana management stats bar style (#44658)
  x-pack/legacy/plugins/ml/public/management/jobs_list/components/jobs_list_page/_stats_bar.scss
Labels: :ml, backport

#44686 [7.x] Saved queries docs (#43731)
  docs/discover/images/saved-query-management-component-all-privileges.png
  docs/discover/images/saved-query-management-component-delete-query-button.png
  docs/discover/images/saved-query-management-component-save-as-new-query.png
  docs/discover/images/saved-query-management-component-save-as-new.png
  docs/discover/images/saved-query-save-form-default-filters.png
  docs/discover/search.asciidoc
Labels: backport

#44687 [7.4] Saved queries docs (#43731)
  docs/discover/images/saved-query-management-component-all-privileges.png
  docs/discover/images/saved-query-management-component-delete-query-button.png
  docs/discover/images/saved-query-management-component-save-as-new-query.png
  docs/discover/images/saved-query-management-component-save-as-new.png
  docs/discover/images/saved-query-save-form-default-filters.png
  docs/discover/search.asciidoc
Labels: backport

#44469 [Uptime]removed extra slash from integeration urls
  x-pack/legacy/plugins/uptime/public/components/functional/__tests__/__snapshots__/integration_group.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/lib/helper/observability_integration/__tests__/__snapshots__/get_apm_href.test.ts.snap
  x-pack/legacy/plugins/uptime/public/lib/helper/observability_integration/__tests__/__snapshots__/get_infra_href.test.ts.snap
  x-pack/legacy/plugins/uptime/public/lib/helper/observability_integration/__tests__/__snapshots__/get_logging_href.test.ts.snap
  x-pack/legacy/plugins/uptime/public/lib/helper/observability_integration/add_base_path.ts
Labels: Team:uptime, [zube]: In Progress, release_note:fix, v7.5.0, v8.0.0

#44673 [7.x] Revert "[ci] compress jobs for CI stability" (#44584)
  .ci/jobs.yml
  .ci/run.sh
  test/functional/apps/management/index.js
  test/functional/apps/visualize/index.ts
  test/mocha_decorations.d.ts
  test/scripts/jenkins_firefox_smoke.sh
  test/scripts/jenkins_unit.sh
  test/scripts/jenkins_xpack_ci_group.sh
  x-pack/test/alerting_api_integration/security_and_spaces/tests/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/index.ts
  x-pack/test/api_integration/apis/index.js
  x-pack/test/api_integration/apis/security/index.js
  x-pack/test/api_integration/apis/spaces/index.ts
  x-pack/test/functional/apps/apm/index.ts
  x-pack/test/functional/apps/dashboard_mode/index.js
  x-pack/test/functional/apps/index_lifecycle_management/index.ts
  x-pack/test/functional/apps/infra/index.ts
  x-pack/test/functional/apps/license_management/index.ts
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/apps/uptime/index.ts
  x-pack/test/kerberos_api_integration/apis/index.ts
  x-pack/test/oidc_api_integration/apis/authorization_code_flow/index.js
  x-pack/test/oidc_api_integration/apis/implicit_flow/index.ts
  x-pack/test/pki_api_integration/apis/index.ts
  x-pack/test/reporting/functional/index.js
  x-pack/test/saml_api_integration/apis/index.js
  x-pack/test/saved_object_api_integration/security_only/apis/index.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/token_api_integration/auth/index.js
  x-pack/test/ui_capabilities/security_and_spaces/tests/index.ts
  x-pack/test/ui_capabilities/security_only/tests/index.ts
  x-pack/test/ui_capabilities/spaces_only/tests/index.ts
  x-pack/test/upgrade_assistant_integration/upgrade_assistant/index.js
  x-pack/test/visual_regression/tests/maps/index.js
Labels: backport

#44674 [7.4] Revert "[ci] compress jobs for CI stability" (#44584)
  .ci/jobs.yml
  .ci/run.sh
  test/functional/apps/management/index.js
  test/functional/apps/visualize/index.ts
  test/mocha_decorations.d.ts
  test/scripts/jenkins_firefox_smoke.sh
  test/scripts/jenkins_unit.sh
  test/scripts/jenkins_xpack_ci_group.sh
  x-pack/test/alerting_api_integration/security_and_spaces/tests/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/index.ts
  x-pack/test/api_integration/apis/index.js
  x-pack/test/api_integration/apis/security/index.js
  x-pack/test/api_integration/apis/spaces/index.ts
  x-pack/test/functional/apps/apm/index.ts
  x-pack/test/functional/apps/dashboard_mode/index.js
  x-pack/test/functional/apps/index_lifecycle_management/index.ts
  x-pack/test/functional/apps/infra/index.ts
  x-pack/test/functional/apps/license_management/index.ts
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/apps/uptime/index.ts
  x-pack/test/kerberos_api_integration/apis/index.ts
  x-pack/test/oidc_api_integration/apis/authorization_code_flow/index.js
  x-pack/test/oidc_api_integration/apis/implicit_flow/index.ts
  x-pack/test/pki_api_integration/apis/index.ts
  x-pack/test/reporting/functional/index.js
  x-pack/test/saml_api_integration/apis/index.js
  x-pack/test/saved_object_api_integration/security_only/apis/index.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/token_api_integration/auth/index.js
  x-pack/test/ui_capabilities/security_and_spaces/tests/index.ts
  x-pack/test/ui_capabilities/security_only/tests/index.ts
  x-pack/test/ui_capabilities/spaces_only/tests/index.ts
  x-pack/test/upgrade_assistant_integration/upgrade_assistant/index.js
  x-pack/test/visual_regression/tests/maps/index.js
Labels: backport

#44665 Fix rawChecksums in chromium build and rename for clarity
  x-pack/build_chromium/README.md
  x-pack/legacy/plugins/reporting/server/browsers/chromium/paths.ts
  x-pack/legacy/plugins/reporting/server/browsers/install.ts
Labels: Feature:Reporting, Team:Stack Services, bug, release_note:fix, v7.4.0, v8.0.0

#44690 [7.x] [Maps] use source fields instead of terms fields for left source fields (#44386)
  x-pack/legacy/plugins/maps/public/index_pattern_util.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/es_search_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/update_source_editor.js
Labels: backport

#44693 [7.x] [APM] Show loading state on waterfall and avoid re-fetching distribution chart when changing bucket (#44093)
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/NoServicesMessage.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/app/Settings/AddSettings/AddSettingFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/ErrorCountBadge.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/StickyTransactionProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/TransactionTabs.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/ServiceLegends.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/FlyoutTopLevelProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/ResponsiveFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/DatabaseContext.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/HttpContext.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/StickySpanProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/TruncateHeightSection.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/TransactionFlyout/DroppedSpansWarning.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/TransactionFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/__snapshots__/waterfall_helpers.test.ts.snap
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/mock_responses/spans.json
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/mock_responses/transaction.json
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/get_agent_marks.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/get_agent_marks.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionBreakdown/index.tsx
  x-pack/legacy/plugins/apm/public/context/UrlParamsContext/index.tsx
  x-pack/legacy/plugins/apm/public/hooks/useDeepObjectIdentity.ts
  x-pack/legacy/plugins/apm/public/hooks/useFetcher.tsx
  x-pack/legacy/plugins/apm/public/hooks/useTransactionDistribution.ts
  x-pack/legacy/plugins/apm/public/hooks/useWaterfall.ts
Labels: backport

#44694 [7.4] [APM] Show loading state on waterfall and avoid re-fetching distribution chart when changing bucket (#44093)
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/NoServicesMessage.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/app/Settings/AddSettings/AddSettingFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/ErrorCountBadge.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/StickyTransactionProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/TransactionTabs.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/ServiceLegends.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/FlyoutTopLevelProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/ResponsiveFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/DatabaseContext.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/HttpContext.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/StickySpanProperties.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/TruncateHeightSection.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/TransactionFlyout/DroppedSpansWarning.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/TransactionFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/__snapshots__/waterfall_helpers.test.ts.snap
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/mock_responses/spans.json
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/mock_responses/transaction.json
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/get_agent_marks.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/get_agent_marks.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/WaterfallContainer/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionBreakdown/index.tsx
  x-pack/legacy/plugins/apm/public/context/UrlParamsContext/index.tsx
  x-pack/legacy/plugins/apm/public/hooks/useDeepObjectIdentity.ts
  x-pack/legacy/plugins/apm/public/hooks/useFetcher.tsx
  x-pack/legacy/plugins/apm/public/hooks/useTransactionDistribution.ts
  x-pack/legacy/plugins/apm/public/hooks/useWaterfall.ts
Labels: backport

#41840 [Uptime] Update unit tests to remove warnings from test output
  x-pack/legacy/plugins/uptime/server/lib/adapters/pings/__tests__/elasticsearch_pings_adapter.test.ts
Labels: :uptime, Team:uptime, release_note:fix, test-unit, v7.4.0, v8.0.0

#44698 [Canvas] Removes unused remove icon component
  x-pack/legacy/plugins/canvas/public/components/remove_icon/index.js
  x-pack/legacy/plugins/canvas/public/components/remove_icon/remove_icon.js
  x-pack/legacy/plugins/canvas/public/components/remove_icon/remove_icon.scss
  x-pack/legacy/plugins/canvas/public/style/index.scss
Labels: Team:Canvas, chore, impact:low, loe:hours, release_note:skip, v7.5.0, v8.0.0

#44536 [Uptime]Feature/38542 align uptime help menu with other apps
  x-pack/legacy/plugins/uptime/public/lib/adapters/framework/__tests__/__snapshots__/kibana_global_help.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/lib/adapters/framework/kibana_global_help.tsx
Labels: Team:uptime, release_note:fix, v7.5.0, v8.0.0

#44410 [Canvas] Adds geo_point to normalizeType helper
  x-pack/legacy/plugins/canvas/server/lib/normalize_type.js
Labels: Team:Canvas, bug, impact:low, loe:hours, release_note:skip, review, v7.4.0, v7.5.0, v8.0.0

#44699 mark eslint config as root
  .eslintrc.js
Labels: Team:Operations, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44501 [7.x] Don't add the "connection" header to every request (#44343)
  x-pack/legacy/plugins/reporting/common/constants.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/omit_blacklisted_headers.test.ts
Labels: backport

#44703 [7.x] Fix rawChecksums in chromium build and rename for clarity (#44665)
  x-pack/build_chromium/README.md
  x-pack/legacy/plugins/reporting/server/browsers/chromium/paths.ts
  x-pack/legacy/plugins/reporting/server/browsers/install.ts
Labels: backport

#44705 [SIEM] Top Talkers - country flag to drag and drop field
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_n_flow_table/columns.tsx
Labels: Team:SIEM, release_note:skip, v7.5.0, v8.0.0

#44714 [7.x] mark eslint config as root (#44699)
  .eslintrc.js
Labels: backport

#44717 [7.x] Update dependency @types/object-hash to ^1.3.0 (#43954)
  x-pack/package.json
  yarn.lock
Labels: backport

#44715 [7.4] mark eslint config as root (#44699)
  .eslintrc.js
Labels: backport

#44415 [Maps] Reverse the attribution order so left-to-right order matches top-to-bottom
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/attribution_control/__snapshots__/view.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/attribution_control/view.js
Labels: Team:Geo, release_note:fix, v7.4.0, v7.5.0, v8.0.0

#44712 [7.x] Adds geo_point to normalizeType helper (#44410)
  x-pack/legacy/plugins/canvas/server/lib/normalize_type.js
Labels: backport

#44691 [7.4] [Maps] use source fields instead of terms fields for left source fields (#44386)
  x-pack/legacy/plugins/maps/public/index_pattern_util.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/es_search_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/update_source_editor.js
Labels: backport

#44725 [7.x] Update sinon related packages (#43952)
  package.json
  packages/kbn-ui-framework/package.json
  x-pack/legacy/plugins/task_manager/lib/fill_pool.test.ts
  x-pack/legacy/plugins/task_manager/task_pool.test.ts
  x-pack/legacy/plugins/task_manager/task_store.test.ts
  x-pack/package.json
  yarn.lock
Labels: backport

#44724 [optimizer] use more precise cache-busting strategy
  src/legacy/ui/ui_bundles/ui_bundles_controller.js
Labels: Team:Operations, release_note:skip, v7.5.0, v8.0.0

#44728 [SIEM] Fixes the Suricata row renderer not being activated
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/get_row_renderer.test.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/index.ts
Labels: Team:SIEM, bug, release_note:fix, v7.3.2, v7.4.0, v7.5.0, v8.0.0

#44732 [SIEM] Remove deprecation warning from momentJS test
  x-pack/legacy/plugins/siem/public/utils/default_date_settings.test.ts
Labels: Team:SIEM, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44736 [7.3] [SIEM] Fixes the rendering order and adds unit tests to prevent rendering to get out of order (#44728)
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/get_row_renderer.test.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/index.ts
Labels: backport

#44735 [7.4] [SIEM] Fixes the rendering order and adds unit tests to prevent rendering to get out of order (#44728)
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/get_row_renderer.test.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/index.ts
Labels: backport

#44734 [7.x] [SIEM] Fixes the rendering order and adds unit tests to prevent rendering to get out of order (#44728)
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/get_row_renderer.test.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/body/renderers/index.ts
Labels: backport

#44718 [SIEM] Updates fields in map tooltip and fixes filtering on undefined values
  x-pack/legacy/plugins/siem/public/components/embeddables/__mocks__/mock.ts
  x-pack/legacy/plugins/siem/public/components/embeddables/actions/apply_siem_filter_action.test.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/actions/apply_siem_filter_action.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/map_config.ts
Labels: Team:SIEM, bug, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44730 [7.x] [Code] try fix ts-lang shutdown unit test (#37618)
  .ci/jobs.yml
  x-pack/legacy/plugins/code/server/lsp/language_server_launcher.test.ts
  x-pack/legacy/plugins/code/server/lsp/proxy.ts
  x-pack/legacy/plugins/code/server/lsp/ts_launcher.ts
Labels: backport

#44731 [7.4] [Code] try fix ts-lang shutdown unit test (#37618)
  .ci/jobs.yml
  x-pack/legacy/plugins/code/server/lsp/language_server_launcher.test.ts
  x-pack/legacy/plugins/code/server/lsp/proxy.ts
  x-pack/legacy/plugins/code/server/lsp/ts_launcher.ts
Labels: backport

#44739 [7.x] [SIEM] Remove deprecation warning from momentJS test (#44732)
  x-pack/legacy/plugins/siem/public/utils/default_date_settings.test.ts
Labels: backport

#44740 [7.4] [SIEM] Remove deprecation warning from momentJS test (#44732)
  x-pack/legacy/plugins/siem/public/utils/default_date_settings.test.ts
Labels: backport

#44505 fix flaky TSVB test
  test/functional/apps/visualize/_tsvb_time_series.ts
  test/functional/page_objects/visual_builder_page.ts
  test/functional/services/combo_box.ts
Labels: release_note:skip, v7.5.0, v8.0.0

#44654 Convert remaining data.indexPatterns items to use TS
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_pattern.test.ts
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns.test.ts
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns_api_client.test.js
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns_api_client.test.mock.ts
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns_api_client.test.ts
Labels: Feature:Index Patterns, Feature:NP Migration, Team:AppArch, release_note:skip, v7.5.0, v8.0.0

#44748 [7.x] [visualize/_tsvb_time_series] fix flaky test (#44505)
  test/functional/apps/visualize/_tsvb_time_series.ts
  test/functional/page_objects/visual_builder_page.ts
  test/functional/services/combo_box.ts
Labels: backport

#44662 [ML] Adding index pattern title to wizard summary step
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/type_guards.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_validator/job_validator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/results_loader/results_loader.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/charts/common/settings.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/job_creator_context.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/json_flyout.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/wizard.tsx
Labels: :ml, non-issue, release_note:skip, review, v7.4.0, v7.5.0, v8.0.0

#43755 [Lens ] Preview metric
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_panel.scss
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/auto_scale.test.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/auto_scale.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_expression.test.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_expression.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/types.ts
Labels: Feature:Lens

#44625 [Lens] Format filter ratio as percentage
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/filter_ratio.test.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/filter_ratio.ts
Labels: Feature:Lens

#44752 [7.4] [ML] Adding index pattern title to wizard summary step (#44662)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/type_guards.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_validator/job_validator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/results_loader/results_loader.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/charts/common/settings.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/job_creator_context.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/json_flyout.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/wizard.tsx
Labels: backport

#44751 [7.x] [ML] Adding index pattern title to wizard summary step (#44662)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/type_guards.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_validator/job_validator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/results_loader/results_loader.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/charts/common/settings.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/job_creator_context.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/json_flyout.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/wizard.tsx
Labels: backport

#44756 [7.x] Convert remaining data.indexPatterns items to use TS (#44654)
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_pattern.test.ts
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns.test.ts
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns_api_client.test.js
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns_api_client.test.mock.ts
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns_api_client.test.ts
Labels: backport

#44667 [ML] Enable data visualizer link on job types page for non-time index
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type.html
Labels: :ml, Feature:Anomaly Detection, release_note:fix, review, v7.4.0, v7.5.0, v8.0.0

#44744 [7.x] [SIEM] Updates fields in map tooltip and fixes filtering on undefined values (#44718)
  x-pack/legacy/plugins/siem/public/components/embeddables/__mocks__/mock.ts
  x-pack/legacy/plugins/siem/public/components/embeddables/actions/apply_siem_filter_action.test.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/actions/apply_siem_filter_action.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/map_config.ts
Labels: backport

#44745 [7.4] [SIEM] Updates fields in map tooltip and fixes filtering on undefined values (#44718)
  x-pack/legacy/plugins/siem/public/components/embeddables/__mocks__/mock.ts
  x-pack/legacy/plugins/siem/public/components/embeddables/actions/apply_siem_filter_action.test.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/actions/apply_siem_filter_action.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/map_config.ts
Labels: backport

#44656 Fixing flaky copy-to-space test
  x-pack/test/functional/apps/spaces/copy_saved_objects.ts
  x-pack/test/functional/page_objects/copy_saved_objects_to_space_page.ts
Labels: Team:Security, release_note:skip, v7.5.0, v8.0.0

#44640 [ML] Data frame analytics: Create job form fixes
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_button/create_analytics_button.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_button/create_analytics_button.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_modal/create_analytics_modal.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_modal/create_analytics_modal.tsx
Labels: :ml, Feature:Data Frame Analytics, bug, cosmetic, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44649 [DOCS] Remove unused Infrastructure and Logs graphics files
  docs/infrastructure/images/infra-time-selector.png
  docs/infrastructure/images/infrastructure-configure-source-dialog.png
  docs/infrastructure/images/infrastructure-configure-source-gear-icon.png
  docs/infrastructure/images/infrastructure-configure-source.png
  docs/infrastructure/images/infrastructure-time-selector.png
  docs/infrastructure/images/read-only-badge.png
  docs/infrastructure/infra-ui.asciidoc
  docs/logs/images/log-details-actions.png
  docs/logs/images/log-details-filter.png
  docs/logs/images/log-details-flyover.png
  docs/logs/images/logs-configure-source-dialog-add-column-button.png
  docs/logs/images/logs-configure-source-dialog-add-column-popover.png
  docs/logs/images/logs-configure-source-dialog-indices-tab.png
  docs/logs/images/logs-configure-source-dialog-log-columns-tab.png
  docs/logs/images/logs-configure-source-gear-icon.png
  docs/logs/images/logs-configure-source.png
  docs/logs/images/logs-stream-click-entry.png
  docs/logs/images/logs-stream-filtered-by-value.png
  docs/logs/images/logs-stream-highlight-box.png
  docs/logs/images/logs-stream-highlight-entries.png
  docs/logs/images/logs-time-selector.png
  docs/logs/images/logs-usage-column-headers.png
  docs/logs/images/logs-usage-customize.png
  docs/logs/images/logs-usage-query-bar.png
  docs/logs/images/logs-usage-start-streaming.png
  docs/logs/images/logs-usage-stop-streaming.png
  docs/logs/images/logs-usage-streaming-indicator.png
  docs/logs/images/logs-usage-time-picker.png
  docs/logs/images/logs-usage-timeline.png
  docs/logs/images/read-only-badge.png
  docs/logs/using.asciidoc
Labels: Team:Docs, release_note:skip, v7.3.0, v7.4.0, v7.5.0

#44759 [7.x] [ML] Enable data visualizer link on job types page for non-time index (#44667)
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type.html
Labels: :ml, backport

#44495 [Lens] Remove datasource suggestion id
  x-pack/legacy/plugins/lens/public/datatable_visualization_plugin/visualization.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/chart_switch.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/editor_frame.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_helpers.test.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_helpers.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern_suggestions.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern_suggestions.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.ts
  x-pack/legacy/plugins/lens/public/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
Labels: Feature:Lens

#44763 [7.x] [ML] Data frame analytics: Create job form fixes (#44640)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_button/create_analytics_button.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_button/create_analytics_button.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_modal/create_analytics_modal.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_modal/create_analytics_modal.tsx
Labels: :ml, backport

#44764 [7.4] [ML] Data frame analytics: Create job form fixes (#44640)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_button/create_analytics_button.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_button/create_analytics_button.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_modal/create_analytics_modal.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/create_analytics_modal/create_analytics_modal.tsx
Labels: :ml, backport

#44701 [ML] Data Frame transform: Ensure preview table displays scripted fields and timestamps are formatted correctly.
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/expanded_row_preview_pane.tsx
Labels: :ml, Feature:Data Frames, release_note:fix, review, v7.4.0, v7.5.0, v8.0.0

#44760 [7.4] [ML] Enable data visualizer link on job types page for non-time index (#44667)
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type.html
Labels: :ml, backport

#44719 [7.x] [SIEM] change flag to drag and drop field (#44705)
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_n_flow_table/columns.tsx
Labels: backport

#44757 [ML] Data frame analytics: Split comma-separated Kibana index patterns to array of indices.
  x-pack/legacy/plugins/ml/public/data_frame_analytics/common/analytics.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
Labels: :ml, Feature:Data Frame Analytics, bug, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44761 [7.x] Fixing flaky copy-to-space test (#44656)
  x-pack/test/functional/apps/spaces/copy_saved_objects.ts
  x-pack/test/functional/page_objects/copy_saved_objects_to_space_page.ts
Labels: backport

#44704 [7.4] Fix rawChecksums in chromium build and rename for clarity (#44665)
  x-pack/build_chromium/README.md
  x-pack/legacy/plugins/reporting/server/browsers/chromium/paths.ts
  x-pack/legacy/plugins/reporting/server/browsers/install.ts
Labels: backport

#44502 [7.4] Don't add the "connection" header to every request (#44343)
  x-pack/legacy/plugins/reporting/common/constants.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/omit_blacklisted_headers.test.ts
Labels: backport

#44669 [DOCS] 6.8.3 Release Notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v6.8.3

#44770 [7.x] [ML] Data Frame transform: Ensure preview table displays scripted fields and timestamps are formatted correctly. (#44701)
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/expanded_row_preview_pane.tsx
Labels: :ml, Feature:Data Frames, backport

#44258 [Lens] Make breadcrumbs look and feel like Visualize
  x-pack/legacy/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/legacy/plugins/lens/public/app_plugin/app.tsx
Labels: Feature:Lens

#44771 [7.4] [ML] Data Frame transform: Ensure preview table displays scripted fields and timestamps are formatted correctly. (#44701)
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/expanded_row_preview_pane.tsx
Labels: :ml, Feature:Data Frames, backport

#44773 [7.x] [ML] Data frame analytics: Split comma-separated Kibana index patterns to array of indices. (#44757)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/common/analytics.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
Labels: :ml, backport

#42977 [7.x] [Uptime] [Test] Repurpose unit test assertions to avoid flakiness (#40650)
  x-pack/legacy/plugins/uptime/server/lib/adapters/monitors/__tests__/elasticsearch_monitors_adapter.test.ts
Labels: Team:uptime, backport

#44772 [ML] Single metric viewer: Fix detector/entity selection
  x-pack/legacy/plugins/ml/public/timeseriesexplorer/timeseriesexplorer.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, Feature:Anomaly Detection, bug, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44518 [Logs UI] Change 'View monitor status' to 'View status in Uptime'
  docs/logs/using.asciidoc
  x-pack/legacy/plugins/infra/public/components/logging/log_entry_flyout/log_entry_actions_menu.tsx
Labels: Feature:Logs UI, Team:infra-logs-ui, release_note:enhancement, v7.5.0, v8.0.0

#44774 [7.4] [ML] Data frame analytics: Split comma-separated Kibana index patterns to array of indices. (#44757)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/common/analytics.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.test.ts
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
Labels: :ml, backport

#44733 [7.x] [optimizer] use more precise cache-busting strategy (#44724)
  src/legacy/ui/ui_bundles/ui_bundles_controller.js
Labels: backport

#44778 [build] rewrite tests to not rely on network
  src/dev/build/tasks/nodejs/__tests__/node_shasums.js
  src/dev/build/tasks/nodejs/node_shasums.test.ts
  src/dev/build/tasks/nodejs/node_shasums.ts
Labels: Team:Operations, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44700 [Maps] fix side panel scrolling in safari
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/_layer_panel.scss
Labels: Team:Geo, release_note:fix, v7.4.0, v7.5.0, v8.0.0

#44781 [7.x] [ML] Single metric viewer: Fix detector/entity selection (#44772)
  x-pack/legacy/plugins/ml/public/timeseriesexplorer/timeseriesexplorer.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, backport

#44782 [7.4] [ML] Single metric viewer: Fix detector/entity selection (#44772)
  x-pack/legacy/plugins/ml/public/timeseriesexplorer/timeseriesexplorer.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, backport

#44789 [7.4] [DOCS] Remove unused Infrastructure and Logs graphics files (#44649)
  docs/infrastructure/images/infra-time-selector.png
  docs/infrastructure/images/infrastructure-configure-source-dialog.png
  docs/infrastructure/images/infrastructure-configure-source-gear-icon.png
  docs/infrastructure/images/infrastructure-configure-source.png
  docs/infrastructure/images/infrastructure-time-selector.png
  docs/infrastructure/images/read-only-badge.png
  docs/infrastructure/infra-ui.asciidoc
  docs/logs/images/log-details-actions.png
  docs/logs/images/log-details-filter.png
  docs/logs/images/log-details-flyover.png
  docs/logs/images/logs-configure-source-dialog-add-column-button.png
  docs/logs/images/logs-configure-source-dialog-add-column-popover.png
  docs/logs/images/logs-configure-source-dialog-indices-tab.png
  docs/logs/images/logs-configure-source-dialog-log-columns-tab.png
  docs/logs/images/logs-configure-source-gear-icon.png
  docs/logs/images/logs-configure-source.png
  docs/logs/images/logs-stream-click-entry.png
  docs/logs/images/logs-stream-filtered-by-value.png
  docs/logs/images/logs-stream-highlight-box.png
  docs/logs/images/logs-stream-highlight-entries.png
  docs/logs/images/logs-time-selector.png
  docs/logs/images/logs-usage-column-headers.png
  docs/logs/images/logs-usage-customize.png
  docs/logs/images/logs-usage-query-bar.png
  docs/logs/images/logs-usage-start-streaming.png
  docs/logs/images/logs-usage-stop-streaming.png
  docs/logs/images/logs-usage-streaming-indicator.png
  docs/logs/images/logs-usage-time-picker.png
  docs/logs/images/logs-usage-timeline.png
  docs/logs/images/read-only-badge.png
  docs/logs/using.asciidoc
Labels: Team:Docs, release_note:skip, v7.4.0

#44788 [7.3] [DOCS] Remove unused Infrastructure and Logs graphics files (#44649)
  docs/infrastructure/images/infra-time-selector.png
  docs/infrastructure/images/infrastructure-configure-source-dialog.png
  docs/infrastructure/images/infrastructure-configure-source-gear-icon.png
  docs/infrastructure/images/infrastructure-configure-source.png
  docs/infrastructure/images/infrastructure-time-selector.png
  docs/infrastructure/images/read-only-badge.png
  docs/infrastructure/infra-ui.asciidoc
  docs/logs/images/log-details-actions.png
  docs/logs/images/log-details-filter.png
  docs/logs/images/log-details-flyover.png
  docs/logs/images/logs-configure-source-dialog-add-column-button.png
  docs/logs/images/logs-configure-source-dialog-add-column-popover.png
  docs/logs/images/logs-configure-source-dialog-indices-tab.png
  docs/logs/images/logs-configure-source-dialog-log-columns-tab.png
  docs/logs/images/logs-configure-source-gear-icon.png
  docs/logs/images/logs-configure-source.png
  docs/logs/images/logs-stream-click-entry.png
  docs/logs/images/logs-stream-filtered-by-value.png
  docs/logs/images/logs-time-selector.png
  docs/logs/images/logs-usage-column-headers.png
  docs/logs/images/logs-usage-customize.png
  docs/logs/images/logs-usage-query-bar.png
  docs/logs/images/logs-usage-start-streaming.png
  docs/logs/images/logs-usage-stop-streaming.png
  docs/logs/images/logs-usage-streaming-indicator.png
  docs/logs/images/logs-usage-time-picker.png
  docs/logs/images/logs-usage-timeline.png
  docs/logs/images/read-only-badge.png
  docs/logs/using.asciidoc
Labels: Team:Docs, release_note:skip, v7.3.0

#44787 [7.x] [DOCS] Remove unused Infrastructure and Logs graphics files (#44649)
  docs/infrastructure/images/infra-time-selector.png
  docs/infrastructure/images/infrastructure-configure-source-dialog.png
  docs/infrastructure/images/infrastructure-configure-source-gear-icon.png
  docs/infrastructure/images/infrastructure-configure-source.png
  docs/infrastructure/images/infrastructure-time-selector.png
  docs/infrastructure/images/read-only-badge.png
  docs/infrastructure/infra-ui.asciidoc
  docs/logs/images/log-details-actions.png
  docs/logs/images/log-details-filter.png
  docs/logs/images/log-details-flyover.png
  docs/logs/images/logs-configure-source-dialog-add-column-button.png
  docs/logs/images/logs-configure-source-dialog-add-column-popover.png
  docs/logs/images/logs-configure-source-dialog-indices-tab.png
  docs/logs/images/logs-configure-source-dialog-log-columns-tab.png
  docs/logs/images/logs-configure-source-gear-icon.png
  docs/logs/images/logs-configure-source.png
  docs/logs/images/logs-stream-click-entry.png
  docs/logs/images/logs-stream-filtered-by-value.png
  docs/logs/images/logs-stream-highlight-box.png
  docs/logs/images/logs-stream-highlight-entries.png
  docs/logs/images/logs-time-selector.png
  docs/logs/images/logs-usage-column-headers.png
  docs/logs/images/logs-usage-customize.png
  docs/logs/images/logs-usage-query-bar.png
  docs/logs/images/logs-usage-start-streaming.png
  docs/logs/images/logs-usage-stop-streaming.png
  docs/logs/images/logs-usage-streaming-indicator.png
  docs/logs/images/logs-usage-time-picker.png
  docs/logs/images/logs-usage-timeline.png
  docs/logs/images/read-only-badge.png
  docs/logs/using.asciidoc
Labels: Team:Docs, release_note:skip, v7.5.0

#44798 [7.x] [Maps] fix side panel scrolling in safari (#44700)
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/_layer_panel.scss
Labels: backport

#44799 [7.4] [Maps] fix side panel scrolling in safari (#44700)
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/_layer_panel.scss
Labels: backport

#44784 [7.x] [Logs UI] Change 'View monitor status' to 'View status in Uptime' (#44518)
  docs/logs/using.asciidoc
  x-pack/legacy/plugins/infra/public/components/logging/log_entry_flyout/log_entry_actions_menu.tsx
Labels: backport

#44792 [SIEM] Fixes infinite loop when you do not have any jobs installed
  x-pack/legacy/plugins/siem/public/components/ml_popover/helpers.test.tsx
  x-pack/legacy/plugins/siem/public/components/ml_popover/helpers.tsx
  x-pack/legacy/plugins/siem/public/components/ml_popover/ml_popover.tsx
Labels: Team:SIEM, bug, release_note:skip, v7.4.0, v7.5.0, v8.0.0

#44710 [7.x] Removed unused remove icon component (#44698)
  x-pack/legacy/plugins/canvas/public/components/remove_icon/index.js
  x-pack/legacy/plugins/canvas/public/components/remove_icon/remove_icon.js
  x-pack/legacy/plugins/canvas/public/components/remove_icon/remove_icon.scss
  x-pack/legacy/plugins/canvas/public/style/index.scss
Labels: backport

#44676 [Maps] name space dynamic property style names to avoid collisions
  x-pack/legacy/plugins/maps/public/layers/joins/inner_join.js
  x-pack/legacy/plugins/maps/public/layers/joins/inner_join.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_pew_pew_source/es_pew_pew_source.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/get_vector_style_label.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/vector_style_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector_style.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector_style_defaults.js
  x-pack/test/functional/apps/maps/mapbox_styles.js
Labels: Team:Geo, release_note:fix, v7.4.0, v7.5.0, v8.0.0

#44790 [7.x] [build] rewrite tests to not rely on network (#44778)
  src/dev/build/tasks/nodejs/__tests__/node_shasums.js
  src/dev/build/tasks/nodejs/node_shasums.test.ts
  src/dev/build/tasks/nodejs/node_shasums.ts
Labels: backport

#44791 [7.4] [build] rewrite tests to not rely on network (#44778)
  src/dev/build/tasks/nodejs/__tests__/node_shasums.js
  src/dev/build/tasks/nodejs/node_shasums.test.ts
  src/dev/build/tasks/nodejs/node_shasums.ts
Labels: backport

#44776 [7.4] [SIEM] change flag to drag and drop field (#44705)
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_n_flow_table/columns.tsx
Labels: backport

#44820 [7.x] [Maps] name space dynamic property style names to avoid collisions (#44676)
  x-pack/legacy/plugins/maps/public/layers/joins/inner_join.js
  x-pack/legacy/plugins/maps/public/layers/joins/inner_join.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_pew_pew_source/es_pew_pew_source.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/get_vector_style_label.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/vector_style_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector_style.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector_style_defaults.js
  x-pack/test/functional/apps/maps/mapbox_styles.js
Labels: backport

#44816 [7.4] [SIEM] Fixes infinite loop when you do not have any jobs installed (#44792)
  x-pack/legacy/plugins/siem/public/components/ml_popover/helpers.test.tsx
  x-pack/legacy/plugins/siem/public/components/ml_popover/helpers.tsx
  x-pack/legacy/plugins/siem/public/components/ml_popover/ml_popover.tsx
Labels: backport
