Repository elastic/kibana, pull requests merged in 2019-08, with the labels that each got.

#41934 [SR] Delete and execute SLM policies
  x-pack/legacy/plugins/snapshot_restore/public/app/components/index.ts
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_delete_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_execute_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/repository_delete_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/snapshot_delete_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/constants/index.ts
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_details/policy_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_list.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_table/policy_table.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/repository_list/repository_details/repository_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/snapshot_list/snapshot_details/snapshot_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/services/http/policy_requests.ts
  x-pack/legacy/plugins/snapshot_restore/server/client/elasticsearch_slm.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/policy.test.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/policy.ts
Labels: Feature:Snapshot and Restore, Team:Elasticsearch UI, release_note:enhancement, v7.4.0, v8.0.0

#42317 [Code] be able to fallback to generic lang server if dedicated lang s…
  x-pack/legacy/plugins/code/common/language_server.ts
  x-pack/legacy/plugins/code/public/components/status_indicator/status_indicator.tsx
  x-pack/legacy/plugins/code/server/__tests__/lsp_incremental_indexer.ts
  x-pack/legacy/plugins/code/server/__tests__/lsp_service.ts
  x-pack/legacy/plugins/code/server/distributed/apis/lsp_api.ts
  x-pack/legacy/plugins/code/server/lsp/controller.ts
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
  x-pack/legacy/plugins/code/server/lsp/lsp_service.ts
  x-pack/legacy/plugins/code/server/routes/install.ts
  x-pack/legacy/plugins/code/server/routes/status.ts
Labels: Team:Code, release_note:enhancement, v7.4.0, v8.0.0

#42412 [7.x] [SR] Delete and execute SLM policies (#41934)
  x-pack/legacy/plugins/snapshot_restore/public/app/components/index.ts
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_delete_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_execute_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/repository_delete_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/snapshot_delete_provider.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/constants/index.ts
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_details/policy_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_list.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_table/policy_table.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/repository_list/repository_details/repository_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/snapshot_list/snapshot_details/snapshot_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/services/http/policy_requests.ts
  x-pack/legacy/plugins/snapshot_restore/server/client/elasticsearch_slm.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/policy.test.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/policy.ts
Labels: backport

#42415 [7.x] [Code] be able to fallback to generic lang server if dedicated lang s… (#42317)
  x-pack/legacy/plugins/code/common/language_server.ts
  x-pack/legacy/plugins/code/public/components/status_indicator/status_indicator.tsx
  x-pack/legacy/plugins/code/server/__tests__/lsp_incremental_indexer.ts
  x-pack/legacy/plugins/code/server/__tests__/lsp_service.ts
  x-pack/legacy/plugins/code/server/distributed/apis/lsp_api.ts
  x-pack/legacy/plugins/code/server/lsp/controller.ts
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
  x-pack/legacy/plugins/code/server/lsp/lsp_service.ts
  x-pack/legacy/plugins/code/server/routes/install.ts
  x-pack/legacy/plugins/code/server/routes/status.ts
Labels: backport

#42414 [7.3] [Code] bump nodegit version (#42332)
  x-pack/package.json
  yarn.lock
Labels: backport

#42239 [@kbn/es] Add a predefined list of Elasticsearch secure settings to be added into keystore. Re-enable OIDC tests.
  packages/kbn-es/src/cluster.js
  packages/kbn-es/src/install/archive.js
  packages/kbn-es/src/install/snapshot.js
  packages/kbn-es/src/install/source.js
  packages/kbn-es/src/settings.test.ts
  packages/kbn-es/src/settings.ts
  packages/kbn-es/tsconfig.json
  packages/kbn-test/src/es/es_test_cluster.js
  packages/kbn-test/src/functional_tests/lib/run_elasticsearch.js
  scripts/es.js
  x-pack/scripts/functional_tests.js
  x-pack/test/oidc_api_integration/config.js
Labels: Team:Operations, Team:Security, dev, release_note:skip, test, v7.3.1, v7.4.0

#42425 [7.3] [@kbn/es] Add a predefined list of Elasticsearch secure settings to be added into keystore. Re-enable OIDC tests. (#42239)
  packages/kbn-es/src/cluster.js
  packages/kbn-es/src/install/archive.js
  packages/kbn-es/src/install/snapshot.js
  packages/kbn-es/src/install/source.js
  packages/kbn-es/src/settings.test.ts
  packages/kbn-es/src/settings.ts
  packages/kbn-es/tsconfig.json
  packages/kbn-test/src/es/es_test_cluster.js
  packages/kbn-test/src/functional_tests/lib/run_elasticsearch.js
  scripts/es.js
  x-pack/scripts/functional_tests.js
  x-pack/test/oidc_api_integration/config.js
Labels: backport

#42424 [7.x] [@kbn/es] Add a predefined list of Elasticsearch secure settings to be added into keystore. Re-enable OIDC tests. (#42239)
  packages/kbn-es/src/cluster.js
  packages/kbn-es/src/install/archive.js
  packages/kbn-es/src/install/snapshot.js
  packages/kbn-es/src/install/source.js
  packages/kbn-es/src/settings.test.ts
  packages/kbn-es/src/settings.ts
  packages/kbn-es/tsconfig.json
  packages/kbn-test/src/es/es_test_cluster.js
  packages/kbn-test/src/functional_tests/lib/run_elasticsearch.js
  scripts/es.js
  x-pack/scripts/functional_tests.js
  x-pack/test/oidc_api_integration/config.js
Labels: backport

#40898 [DOCS] Update metrics-explorer.asciidoc
  docs/infrastructure/metrics-explorer.asciidoc
Labels: Team:Docs, Team:infra-logs-ui, release_note:skip

#42346 Keep disabled state on filter edit
  src/legacy/core_plugins/data/public/filter/filter_bar/filter_editor/index.tsx
  src/legacy/core_plugins/data/public/filter/filter_bar/filter_editor/lib/filter_editor_utils.test.ts
  src/legacy/core_plugins/data/public/filter/filter_bar/filter_editor/lib/filter_editor_utils.ts
Labels: Team:KibanaApp, release_note:fix, v7.4.0, v8.0.0

#42230 [7.3] [ML] Fix display of progress bar. (#42158)
  x-pack/legacy/plugins/ml/public/data_frame/pages/job_management/components/job_list/columns.tsx
Labels: :ml, backport

#42247 implement color rules unit tests
  src/legacy/core_plugins/metrics/public/components/color_rules.test.js
Labels: release_note:skip, test, test-jest-integration, test-windows, v8.0.0

#42428 [DOCS] Updates ML/anomaly detection terms in the Kibana guide from 7.1 to 6.5
  docs/ml/creating-jobs.asciidoc
  docs/ml/index.asciidoc
Labels: :ml, release_note:skip, v6.5.5, v6.6.3, v6.7.2, v6.8.3, v7.0.2, v7.1.2

#42432 [7.x] keep disabled state on filter edit (#42346)
  src/legacy/core_plugins/data/public/filter/filter_bar/filter_editor/index.tsx
  src/legacy/core_plugins/data/public/filter/filter_bar/filter_editor/lib/filter_editor_utils.test.ts
  src/legacy/core_plugins/data/public/filter/filter_bar/filter_editor/lib/filter_editor_utils.ts
Labels: backport

#42387 [7.x] [Maps][File upload] File upload functional tests (#40191)
  x-pack/legacy/plugins/file_upload/public/components/index_settings.js
  x-pack/legacy/plugins/file_upload/public/components/json_import_progress.js
  x-pack/legacy/plugins/file_upload/public/components/json_index_file_picker.js
  x-pack/legacy/plugins/file_upload/public/util/geo_processing.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/flyout_footer/view.js
  x-pack/test/functional/apps/maps/documents_source/search_hits.js
  x-pack/test/functional/apps/maps/import_geojson/add_layer_import_panel.js
  x-pack/test/functional/apps/maps/import_geojson/file_indexing_panel.js
  x-pack/test/functional/apps/maps/import_geojson/index.js
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/line_string.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_line_string.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_point.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_polygon.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_polygon_with_invalid_geometries.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/not_json.txt
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/point.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/polygon.json
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/page_objects/gis_page.js
Labels: backport

#42388 [7.3] [Maps][File upload] File upload functional tests (#40191)
  x-pack/legacy/plugins/file_upload/public/components/index_settings.js
  x-pack/legacy/plugins/file_upload/public/components/json_import_progress.js
  x-pack/legacy/plugins/file_upload/public/components/json_index_file_picker.js
  x-pack/legacy/plugins/file_upload/public/util/geo_processing.js
  x-pack/legacy/plugins/maps/public/components/layer_addpanel/flyout_footer/view.js
  x-pack/test/functional/apps/maps/documents_source/search_hits.js
  x-pack/test/functional/apps/maps/import_geojson/add_layer_import_panel.js
  x-pack/test/functional/apps/maps/import_geojson/file_indexing_panel.js
  x-pack/test/functional/apps/maps/import_geojson/index.js
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/line_string.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_line_string.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_point.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_polygon.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/multi_polygon_with_invalid_geometries.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/not_json.txt
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/point.json
  x-pack/test/functional/apps/maps/import_geojson/test_upload_files/polygon.json
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/page_objects/gis_page.js
Labels: backport

#42333 revert PR 36804 'Create additional HTTP servers'
  docs/development/core/server/kibana-plugin-server.coresetup.http.md
  docs/development/core/server/kibana-plugin-server.coresetup.md
  docs/development/core/server/kibana-plugin-server.httpservicesetup.createnewserver.md
  docs/development/core/server/kibana-plugin-server.httpservicesetup.md
  docs/development/core/server/kibana-plugin-server.md
  src/core/server/http/http_service.mock.ts
  src/core/server/http/http_service.test.ts
  src/core/server/http/http_service.ts
  src/core/server/index.ts
  src/core/server/plugins/plugin_context.ts
  src/core/server/server.api.md
Labels: Feature:New Platform, Team:Platform, release_note:dev_docs, v7.4.0

#42404 Revert uncommented ES credentials
  config/kibana.yml
Labels: Team:SIEM, Team:Security, release_note:skip, v7.2.2

#42273 Refactor action http request/response bodies
  x-pack/legacy/plugins/actions/README.md
  x-pack/legacy/plugins/actions/mappings.json
  x-pack/legacy/plugins/actions/server/action_type_registry.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/email.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/email.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/es_index.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/es_index.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/server_log.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/server_log.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/slack.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/slack.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.test.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.ts
  x-pack/legacy/plugins/actions/server/init.ts
  x-pack/legacy/plugins/actions/server/lib/execute.test.ts
  x-pack/legacy/plugins/actions/server/lib/execute.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.test.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.ts
  x-pack/legacy/plugins/actions/server/lib/index.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_config.test.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_config.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_params.test.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_params.ts
  x-pack/legacy/plugins/actions/server/lib/validate_with_schema.test.ts
  x-pack/legacy/plugins/actions/server/lib/validate_with_schema.ts
  x-pack/legacy/plugins/actions/server/routes/create.test.ts
  x-pack/legacy/plugins/actions/server/routes/create.ts
  x-pack/legacy/plugins/actions/server/routes/get.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.ts
  x-pack/legacy/plugins/actions/server/types.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/email.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/es_index.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/server_log.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/slack.ts
  x-pack/test/api_integration/apis/actions/constants.ts
  x-pack/test/api_integration/apis/actions/create.ts
  x-pack/test/api_integration/apis/actions/find.ts
  x-pack/test/api_integration/apis/actions/fire.ts
  x-pack/test/api_integration/apis/actions/get.ts
  x-pack/test/api_integration/apis/actions/manual/pr_40694.js
  x-pack/test/api_integration/apis/actions/update.ts
  x-pack/test/api_integration/apis/alerting/alerts.ts
  x-pack/test/api_integration/fixtures/plugins/alerts/index.ts
  x-pack/test/functional/es_archives/actions/README.md
  x-pack/test/functional/es_archives/actions/basic/data.json
  x-pack/test/functional/es_archives/actions/basic/mappings.json
  x-pack/test/functional/es_archives/reporting/nanos/mappings.json
Labels: Feature:Alerting, Team:Stack Services, release_note:skip, v7.4.0, v8.0.0

#42439 [7.x] implement color rules unit tests (#42247)
  src/legacy/core_plugins/metrics/public/components/color_rules.test.js
Labels: backport

#42238 Shape data plugin into standard shim form
  src/legacy/core_plugins/data/public/filter/apply_filters/directive.js
  src/legacy/core_plugins/data/public/filter/apply_filters/index.ts
  src/legacy/core_plugins/data/public/filter/filter_bar/index.ts
  src/legacy/core_plugins/data/public/filter/filter_manager/lib/__tests__/map_match_all.js
  src/legacy/core_plugins/data/public/filter/filter_service.ts
  src/legacy/core_plugins/data/public/filter/index.tsx
  src/legacy/core_plugins/data/public/index.ts
  src/legacy/core_plugins/data/public/legacy.ts
  src/legacy/core_plugins/data/public/plugin.ts
  src/legacy/core_plugins/data/public/query/query_service.ts
  src/legacy/core_plugins/data/public/setup.ts
  src/legacy/core_plugins/data/public/shim/apply_filter_directive.html
  src/legacy/core_plugins/data/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/data/public/shim/legacy_module.ts
  src/legacy/core_plugins/kibana/public/context/app.js
  src/legacy/core_plugins/kibana/public/dashboard/index.js
  src/legacy/core_plugins/kibana/public/visualize/index.js
  src/legacy/core_plugins/metrics/public/components/annotations_editor.js
  src/legacy/core_plugins/metrics/public/components/panel_config/gauge.js
  src/legacy/core_plugins/metrics/public/components/panel_config/gauge.test.js
  src/legacy/core_plugins/metrics/public/components/panel_config/markdown.js
  src/legacy/core_plugins/metrics/public/components/panel_config/metric.js
  src/legacy/core_plugins/metrics/public/components/panel_config/table.js
  src/legacy/core_plugins/metrics/public/components/panel_config/timeseries.js
  src/legacy/core_plugins/metrics/public/components/panel_config/top_n.js
  src/legacy/core_plugins/metrics/public/components/series_config.js
  src/legacy/core_plugins/metrics/public/components/splits/filter.js
  src/legacy/core_plugins/metrics/public/components/splits/filter_items.js
  src/legacy/core_plugins/metrics/public/components/vis_types/gauge/series.test.js
  src/legacy/core_plugins/metrics/public/components/vis_types/metric/series.test.js
  src/legacy/core_plugins/metrics/public/components/vis_types/table/config.js
  src/legacy/core_plugins/metrics/public/components/vis_types/timeseries/config.js
  src/legacy/ui/public/agg_types/buckets/filters.js
  src/legacy/ui/public/agg_types/controls/filter.tsx
  src/legacy/ui/public/filter_manager/query_filter.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/filter_editor/filter_editor.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/join_editor/resources/where_expression.js
  x-pack/legacy/plugins/maps/public/kibana_services.js
Labels: Feature:New Platform, Team:AppArch, release_note:skip, v7.4.0, v8.0.0

#42444 [7.x] Refactors action http request and response bodies (#42273)
  x-pack/legacy/plugins/actions/README.md
  x-pack/legacy/plugins/actions/mappings.json
  x-pack/legacy/plugins/actions/server/action_type_registry.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/email.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/email.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/es_index.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/es_index.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/server_log.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/server_log.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/slack.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/slack.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.test.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.ts
  x-pack/legacy/plugins/actions/server/init.ts
  x-pack/legacy/plugins/actions/server/lib/execute.test.ts
  x-pack/legacy/plugins/actions/server/lib/execute.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.test.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.ts
  x-pack/legacy/plugins/actions/server/lib/index.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_config.test.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_config.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_params.test.ts
  x-pack/legacy/plugins/actions/server/lib/validate_action_type_params.ts
  x-pack/legacy/plugins/actions/server/lib/validate_with_schema.test.ts
  x-pack/legacy/plugins/actions/server/lib/validate_with_schema.ts
  x-pack/legacy/plugins/actions/server/routes/create.test.ts
  x-pack/legacy/plugins/actions/server/routes/create.ts
  x-pack/legacy/plugins/actions/server/routes/get.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.ts
  x-pack/legacy/plugins/actions/server/types.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/email.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/es_index.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/server_log.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/slack.ts
  x-pack/test/api_integration/apis/actions/constants.ts
  x-pack/test/api_integration/apis/actions/create.ts
  x-pack/test/api_integration/apis/actions/find.ts
  x-pack/test/api_integration/apis/actions/fire.ts
  x-pack/test/api_integration/apis/actions/get.ts
  x-pack/test/api_integration/apis/actions/manual/pr_40694.js
  x-pack/test/api_integration/apis/actions/update.ts
  x-pack/test/api_integration/apis/alerting/alerts.ts
  x-pack/test/api_integration/fixtures/plugins/alerts/index.ts
  x-pack/test/functional/es_archives/actions/README.md
  x-pack/test/functional/es_archives/actions/basic/data.json
  x-pack/test/functional/es_archives/actions/basic/mappings.json
  x-pack/test/functional/es_archives/reporting/nanos/mappings.json
Labels: backport

#42354 Correct the I18n service definition of euiStat.loadingText
  src/core/public/i18n/__snapshots__/i18n_service.test.tsx.snap
  src/core/public/i18n/i18n_service.tsx
Labels: release_note:skip, v7.3.1, v7.4.0, v8.0.0

#41208 [basePathProxy] add __UNSAFE_bypassBasePath route
  docs/development/core/development-basepath.asciidoc
  src/core/server/http/base_path_proxy_server.ts
Labels: Team:Operations, release_note:skip, v7.3.1, v7.4.0, v8.0.0

#41666 [7.x] [Monitoring] Metricbeat migration net new user experience (#39832)
  x-pack/legacy/plugins/monitoring/public/components/cluster/overview/elasticsearch_panel.js
  x-pack/legacy/plugins/monitoring/public/components/cluster/overview/helpers.js
  x-pack/legacy/plugins/monitoring/public/components/cluster/overview/index.js
  x-pack/legacy/plugins/monitoring/public/components/cluster/overview/kibana_panel.js
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/legacy/plugins/monitoring/public/components/kibana/instances/instances.js
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/flyout/flyout.js
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/instruction_steps/elasticsearch/common_elasticsearch_instructions.js
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/instruction_steps/elasticsearch/enable_metricbeat_instructions.js
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/instruction_steps/kibana/common_kibana_instructions.js
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/instruction_steps/kibana/enable_metricbeat_instructions.js
  x-pack/legacy/plugins/monitoring/public/components/renderers/setup_mode.js
  x-pack/legacy/plugins/monitoring/public/components/table/eui_table.js
  x-pack/legacy/plugins/monitoring/public/directives/main/index.html
  x-pack/legacy/plugins/monitoring/public/directives/main/index.js
  x-pack/legacy/plugins/monitoring/public/lib/get_cluster_from_clusters.js
  x-pack/legacy/plugins/monitoring/public/lib/route_init.js
  x-pack/legacy/plugins/monitoring/public/lib/setup_mode.js
  x-pack/legacy/plugins/monitoring/public/views/all.js
  x-pack/legacy/plugins/monitoring/public/views/cluster/overview/index.js
  x-pack/legacy/plugins/monitoring/public/views/elasticsearch/nodes/index.js
  x-pack/legacy/plugins/monitoring/public/views/loading/index.html
  x-pack/legacy/plugins/monitoring/public/views/loading/index.js
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/get_nodes/get_live_nodes.js
  x-pack/legacy/plugins/monitoring/server/lib/setup/collection/get_collection_status.js
  x-pack/legacy/plugins/monitoring/server/routes/api/v1/setup/cluster_setup_status.js
  x-pack/legacy/plugins/monitoring/server/routes/api/v1/setup/clusters_setup_status.js
  x-pack/legacy/plugins/monitoring/server/routes/api/v1/ui.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/detect_apm.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/detect_beats.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/detect_beats_management.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/detect_logstash.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/detect_logstash_management.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/es_and_kibana_exclusive_mb.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/es_and_kibana_mb.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/detect_apm.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/detect_beats.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/detect_beats_management.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/detect_logstash.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/detect_logstash_management.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/es_and_kibana_exclusive_mb.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/es_and_kibana_mb.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/kibana_exclusive_mb.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/fixtures/kibana_mb.json
  x-pack/test/api_integration/apis/monitoring/setup/collection/kibana_exclusive_mb.js
  x-pack/test/api_integration/apis/monitoring/setup/collection/kibana_mb.js
Labels: backport

#42370 [ML] Adding job cloning to new wizards
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/preconfigured_job_redirect.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/configs/combined_job.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/configs/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/multi_metric_job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/population_job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/single_metric_job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range_picker.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/page.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/wizard.tsx
  x-pack/legacy/plugins/ml/public/services/job_service.d.ts
  x-pack/legacy/plugins/ml/public/services/new_job_capabilities_service.ts
Labels: :ml, non-issue, release_note:skip, review, v7.4.0, v8.0.0

#42393 Change http result of action/alerts find api
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.ts
  x-pack/legacy/plugins/actions/server/routes/find.test.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.test.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.ts
  x-pack/legacy/plugins/alerting/server/routes/find.test.ts
  x-pack/test/api_integration/apis/actions/find.ts
  x-pack/test/api_integration/apis/alerting/find.ts
Labels: Feature:Alerting, Team:Stack Services, release_note:skip, v7.4.0, v8.0.0

#42408 Add advanced setting to turn off search on Discover's initial page load (#42036)
  docs/management/advanced-options.asciidoc
  src/legacy/core_plugins/kibana/public/discover/_discover.scss
  src/legacy/core_plugins/kibana/public/discover/_hacks.scss
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/discover/directives/index.js
  src/legacy/core_plugins/kibana/public/discover/directives/uninitialized.tsx
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
  src/legacy/ui/public/styles/_legacy/components/_sidebar.scss
Labels: backport

#42447 [7.x] Correct the I18n service definition of euiStat.loadingText (#42354)
  src/core/public/i18n/__snapshots__/i18n_service.test.tsx.snap
  src/core/public/i18n/i18n_service.tsx
Labels: backport

#42448 [7.3] Correct the I18n service definition of euiStat.loadingText (#42354)
  src/core/public/i18n/__snapshots__/i18n_service.test.tsx.snap
  src/core/public/i18n/i18n_service.tsx
Labels: backport

#42462 [7.x] [Monitoring] Clearer MB migration state on the overview page (#41898)
  x-pack/legacy/plugins/monitoring/public/components/cluster/overview/elasticsearch_panel.js
  x-pack/legacy/plugins/monitoring/public/components/cluster/overview/kibana_panel.js
Labels: backport

#42102 [Reporting/Performance] Convert some RxJS to Typescript
  x-pack/legacy/plugins/reporting/export_types/common/layouts/layout.ts
  x-pack/legacy/plugins/reporting/export_types/common/layouts/preserve_layout.ts
  x-pack/legacy/plugins/reporting/export_types/common/layouts/print_layout.ts
  x-pack/legacy/plugins/reporting/export_types/common/lib/screenshots.ts
  x-pack/legacy/plugins/reporting/server/browsers/chromium/driver_factory/index.ts
  x-pack/legacy/plugins/reporting/server/browsers/create_browser_driver_factory.ts
Labels: Feature:Reporting, Team:Stack Services, release_note:skip, review, v7.4.0, v8.0.0

#42312 Switched order of tests so license downgrade test runs last.
  x-pack/test/functional/apps/license_management/home_page.ts
  x-pack/test/functional/config.js
Labels: release_note:skip

#42419 [Reporting/React] Convert setState calls to async in table listing
  x-pack/legacy/plugins/reporting/public/components/report_listing.tsx
Labels: Feature:Reporting, release_note:fix, v7.3.1, v7.4.0, v8.0.0

#42392 [Code] Add doc for 7.3
  docs/code/code-basic-nav.asciidoc
  docs/code/code-install-lang-server.asciidoc
  docs/settings/code-settings.asciidoc
Labels: release_note:dev_docs

#42488 [7.3] [Code] Add doc for 7.3 (#42392)
  docs/code/code-basic-nav.asciidoc
  docs/code/code-install-lang-server.asciidoc
  docs/settings/code-settings.asciidoc
Labels: backport

#42487 [7.x] [Code] Add doc for 7.3 (#42392)
  docs/code/code-basic-nav.asciidoc
  docs/code/code-install-lang-server.asciidoc
  docs/settings/code-settings.asciidoc
Labels: backport

#42446 [7.x] Shape data plugin into standard shim form (#42238)
  src/legacy/core_plugins/data/public/filter/apply_filters/directive.js
  src/legacy/core_plugins/data/public/filter/apply_filters/index.ts
  src/legacy/core_plugins/data/public/filter/filter_bar/index.ts
  src/legacy/core_plugins/data/public/filter/filter_manager/lib/__tests__/map_match_all.js
  src/legacy/core_plugins/data/public/filter/filter_service.ts
  src/legacy/core_plugins/data/public/filter/index.tsx
  src/legacy/core_plugins/data/public/index.ts
  src/legacy/core_plugins/data/public/legacy.ts
  src/legacy/core_plugins/data/public/plugin.ts
  src/legacy/core_plugins/data/public/query/query_service.ts
  src/legacy/core_plugins/data/public/setup.ts
  src/legacy/core_plugins/data/public/shim/apply_filter_directive.html
  src/legacy/core_plugins/data/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/data/public/shim/legacy_module.ts
  src/legacy/core_plugins/kibana/public/context/app.js
  src/legacy/core_plugins/kibana/public/dashboard/index.js
  src/legacy/core_plugins/kibana/public/visualize/index.js
  src/legacy/core_plugins/metrics/public/components/annotations_editor.js
  src/legacy/core_plugins/metrics/public/components/panel_config/gauge.js
  src/legacy/core_plugins/metrics/public/components/panel_config/gauge.test.js
  src/legacy/core_plugins/metrics/public/components/panel_config/markdown.js
  src/legacy/core_plugins/metrics/public/components/panel_config/metric.js
  src/legacy/core_plugins/metrics/public/components/panel_config/table.js
  src/legacy/core_plugins/metrics/public/components/panel_config/timeseries.js
  src/legacy/core_plugins/metrics/public/components/panel_config/top_n.js
  src/legacy/core_plugins/metrics/public/components/series_config.js
  src/legacy/core_plugins/metrics/public/components/splits/filter.js
  src/legacy/core_plugins/metrics/public/components/splits/filter_items.js
  src/legacy/core_plugins/metrics/public/components/vis_types/gauge/series.test.js
  src/legacy/core_plugins/metrics/public/components/vis_types/metric/series.test.js
  src/legacy/core_plugins/metrics/public/components/vis_types/table/config.js
  src/legacy/core_plugins/metrics/public/components/vis_types/timeseries/config.js
  src/legacy/ui/public/agg_types/buckets/filters.js
  src/legacy/ui/public/agg_types/controls/filter.tsx
  src/legacy/ui/public/filter_manager/query_filter.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/filter_editor/filter_editor.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/join_editor/resources/where_expression.js
  x-pack/legacy/plugins/maps/public/kibana_services.js
Labels: backport

#42485 [7.x] [Reporting/React] Convert setState calls to async in table listing (#42419)
  x-pack/legacy/plugins/reporting/public/components/report_listing.tsx
Labels: backport

#42481 [7.3] Switched order of tests so license downgrade test runs last. (#42312)
  x-pack/test/functional/apps/license_management/home_page.ts
  x-pack/test/functional/config.js
Labels: backport

#42480 [7.x] Switched order of tests so license downgrade test runs last. (#42312)
  x-pack/test/functional/apps/license_management/home_page.ts
  x-pack/test/functional/config.js
Labels: backport

#42479 [7.x] Change http result of action/alerts find api (#42393)
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.ts
  x-pack/legacy/plugins/actions/server/routes/find.test.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.test.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.ts
  x-pack/legacy/plugins/alerting/server/routes/find.test.ts
  x-pack/test/api_integration/apis/actions/find.ts
  x-pack/test/api_integration/apis/alerting/find.ts
Labels: backport

#42095 Put filters back in the filter context where they belong
  packages/kbn-es-query/src/es_query/__tests__/build_es_query.js
  packages/kbn-es-query/src/es_query/__tests__/from_filters.js
  packages/kbn-es-query/src/es_query/from_filters.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/__tests__/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/series/__tests__/build_request_body.js
  src/legacy/ui/public/agg_types/__tests__/buckets/_terms_other_bucket_helper.js
Labels: Team:KibanaApp, release_note:fix, v7.4.0, v8.0.0

#42476 [7.x] [Reporting/Performance] Convert some RxJS to Typescript (#42102)
  x-pack/legacy/plugins/reporting/export_types/common/layouts/layout.ts
  x-pack/legacy/plugins/reporting/export_types/common/layouts/preserve_layout.ts
  x-pack/legacy/plugins/reporting/export_types/common/layouts/print_layout.ts
  x-pack/legacy/plugins/reporting/export_types/common/lib/screenshots.ts
  x-pack/legacy/plugins/reporting/server/browsers/chromium/driver_factory/index.ts
  x-pack/legacy/plugins/reporting/server/browsers/create_browser_driver_factory.ts
Labels: backport

#42459 Add missing doc for dateNanosFormat
  docs/management/advanced-options.asciidoc
Labels: Team:Docs, release_note:skip, v7.4.0, v8.0.0

#42443 [7.x] revert PR 36804 (#42333)
  docs/development/core/server/kibana-plugin-server.coresetup.http.md
  docs/development/core/server/kibana-plugin-server.coresetup.md
  docs/development/core/server/kibana-plugin-server.httpservicesetup.createnewserver.md
  docs/development/core/server/kibana-plugin-server.httpservicesetup.md
  docs/development/core/server/kibana-plugin-server.md
  src/core/server/http/http_service.mock.ts
  src/core/server/http/http_service.test.ts
  src/core/server/http/http_service.ts
  src/core/server/index.ts
  src/core/server/plugins/plugin_context.ts
  src/core/server/server.api.md
Labels: backport

#42506 [7.x] Add missing doc for dateNanosFormat (#42459)
  docs/management/advanced-options.asciidoc
Labels: backport

#42244 [ML] Use context and custom hooks to manage legacy dependencies.
  x-pack/legacy/plugins/ml/public/components/navigation_menu/navigation_menu_react_wrapper_directive.js
  x-pack/legacy/plugins/ml/public/components/navigation_menu/top_nav/top_nav.tsx
  x-pack/legacy/plugins/ml/public/contexts/kibana/__mocks__/index_pattern.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/__mocks__/index_patterns.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/__mocks__/kibana_config.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/__mocks__/kibana_context_value.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/__mocks__/saved_search.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/index.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/kibana_context.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/use_current_index_pattern.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/use_current_saved_search.ts
  x-pack/legacy/plugins/ml/public/contexts/kibana/use_kibana_context.ts
  x-pack/legacy/plugins/ml/public/contexts/ui/__mocks__/mocks.ts
  x-pack/legacy/plugins/ml/public/contexts/ui/__mocks__/use_ui_chrome_context.ts
  x-pack/legacy/plugins/ml/public/contexts/ui/__mocks__/use_ui_context.ts
  x-pack/legacy/plugins/ml/public/contexts/ui/index.ts
  x-pack/legacy/plugins/ml/public/contexts/ui/ui_context.tsx
  x-pack/legacy/plugins/ml/public/contexts/ui/use_ui_chrome_context.ts
  x-pack/legacy/plugins/ml/public/contexts/ui/use_ui_context.ts
  x-pack/legacy/plugins/ml/public/data_frame/common/index.ts
  x-pack/legacy/plugins/ml/public/data_frame/common/kibana_context.ts
  x-pack/legacy/plugins/ml/public/data_frame/common/navigation.ts
  x-pack/legacy/plugins/ml/public/data_frame/common/request.ts
  x-pack/legacy/plugins/ml/public/data_frame/pages/access_denied/directive.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/source_index_preview/__snapshots__/source_index_preview.test.tsx.snap
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/source_index_preview/source_index_preview.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/source_index_preview/source_index_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_create/__snapshots__/step_create_form.test.tsx.snap
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_create/step_create_form.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_create/step_create_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/__snapshots__/pivot_preview.test.tsx.snap
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/__snapshots__/step_define_form.test.tsx.snap
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/__snapshots__/step_define_summary.test.tsx.snap
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/step_define_form.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/step_define_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/step_define_summary.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_define/step_define_summary.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/step_details/step_details_form.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/components/wizard/wizard.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/directive.tsx
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/directive.tsx
  x-pack/legacy/plugins/ml/public/datavisualizer/selector/datavisualizer_selector.js
  x-pack/legacy/plugins/ml/public/explorer/explorer_react_wrapper_directive.js
  x-pack/legacy/plugins/ml/public/file_datavisualizer/file_datavisualizer.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/directive.js
  x-pack/legacy/plugins/ml/public/settings/calendars/edit/directive.js
  x-pack/legacy/plugins/ml/public/settings/calendars/list/directive.js
  x-pack/legacy/plugins/ml/public/settings/filter_lists/edit/directive.js
  x-pack/legacy/plugins/ml/public/settings/filter_lists/list/directive.js
  x-pack/legacy/plugins/ml/public/settings/settings.js
  x-pack/legacy/plugins/ml/public/settings/settings.test.js
  x-pack/legacy/plugins/ml/public/settings/settings_directive.js
  x-pack/legacy/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_directive.js
  x-pack/legacy/plugins/ml/public/util/context_utils.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, Feature:NP Migration, refactoring, release_note:skip, v7.4.0, v8.0.0

#42140 [Vis Default Editor] Add unit tests for DefaultEditorAgg, DefaultEditorAggGroup
  src/legacy/ui/public/vis/editors/default/components/__snapshots__/default_editor_agg.test.tsx.snap
  src/legacy/ui/public/vis/editors/default/components/__snapshots__/default_editor_agg_group.test.tsx.snap
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg.test.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group.test.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group_helper.test.ts
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group_helper.ts
Labels: Feature:Vis Editor, Team:KibanaApp, release_note:skip, v7.4.0, v8.0.0

#42510 [7.x] [Vis Default Editor] Add unit tests for DefaultEditorAgg, DefaultEditorAggGroup (#42140)
  src/legacy/ui/public/vis/editors/default/components/__snapshots__/default_editor_agg.test.tsx.snap
  src/legacy/ui/public/vis/editors/default/components/__snapshots__/default_editor_agg_group.test.tsx.snap
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg.test.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group.test.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group.tsx
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group_helper.test.ts
  src/legacy/ui/public/vis/editors/default/components/default_editor_agg_group_helper.ts
Labels: backport

#42052 [lens] Improve suggestions for split series
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/__mocks__/loader.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/dimension_panel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/dimension_panel.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/field_item.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern_suggestions.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/utils.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
Labels: Feature:Lens

#41883 [InfraUI] [LogsUI] Accessibility fixes
  x-pack/legacy/plugins/infra/public/components/autocomplete_field/autocomplete_field.tsx
  x-pack/legacy/plugins/infra/public/components/logging/log_text_stream/column_headers.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_toolbar.tsx
Labels: :infrastructure, Feature:Infra UI, Feature:Logs UI, Team:infra-logs-ui, release_note:fix, review

#42512 [ML] [Job wizards] switching to new kibana context provider
  x-pack/legacy/plugins/ml/public/contexts/kibana/index.ts
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/directive.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range_picker.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/directive.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/page.tsx
Labels: :ml, non-issue, release_note:skip, review, v7.4.0, v8.0.0

#42093 [lens] Add chart switcher
  x-pack/legacy/plugins/lens/public/app_plugin/plugin.tsx
  x-pack/legacy/plugins/lens/public/datatable_visualization_plugin/visualization.test.tsx
  x-pack/legacy/plugins/lens/public/datatable_visualization_plugin/visualization.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/chart_switch.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/chart_switch.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/config_panel_wrapper.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/editor_frame.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/editor_frame.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/save.test.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/state_management.test.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/state_management.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/mocks.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/plugin.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.tsx
  x-pack/legacy/plugins/lens/public/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.tsx
Labels: Feature:Lens

#42399 [SIEM] Adds Machine Learning section to 'Using the SIEM UI' docs
  docs/siem/images/ml-ui.png
  docs/siem/index.asciidoc
  docs/siem/machine-learning.asciidoc
Labels: Team:SIEM, release_note:skip

#42464 [7.3] [SIEM] Fixes a crash when Machine Learning influencers is an undefined value (#42198)
  x-pack/legacy/plugins/siem/public/components/ml/influencers/create_influencers.test.tsx
  x-pack/legacy/plugins/siem/public/components/ml/influencers/create_influencers.tsx
  x-pack/legacy/plugins/siem/public/components/ml/influencers/get_host_name_from_influencers.test.ts
  x-pack/legacy/plugins/siem/public/components/ml/influencers/get_host_name_from_influencers.ts
  x-pack/legacy/plugins/siem/public/components/ml/influencers/get_network_from_influencers.test.ts
  x-pack/legacy/plugins/siem/public/components/ml/influencers/get_network_from_influencers.ts
  x-pack/legacy/plugins/siem/public/components/ml/score/__snapshots__/anomaly_score.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/ml/score/create_description_list.tsx
  x-pack/legacy/plugins/siem/public/components/ml/score/create_entities_from_score.test.ts
  x-pack/legacy/plugins/siem/public/components/ml/score/create_entities_from_score.ts
  x-pack/legacy/plugins/siem/public/components/ml/tables/get_anomalies_host_table_columns.test.tsx
  x-pack/legacy/plugins/siem/public/components/ml/tables/get_anomalies_host_table_columns.tsx
  x-pack/legacy/plugins/siem/public/components/ml/tables/get_anomalies_network_table_columns.test.tsx
  x-pack/legacy/plugins/siem/public/components/ml/tables/get_anomalies_network_table_columns.tsx
  x-pack/legacy/plugins/siem/public/components/ml/types.ts
Labels: backport

#42465 [7.3] [SIEM] Uses a dedicated index for job creation instead of the shared anomaly index(#42297)
  x-pack/legacy/plugins/siem/public/components/ml_popover/api.tsx
Labels: backport

#42466 [7.3] [SIEM] Fixes infinite loop when machine learning's create job API returns an error (#42228)
  x-pack/legacy/plugins/siem/public/components/ml/api/throw_if_not_ok.test.ts
  x-pack/legacy/plugins/siem/public/components/ml/api/throw_if_not_ok.ts
  x-pack/legacy/plugins/siem/public/components/ml/types.ts
  x-pack/legacy/plugins/siem/public/components/ml_popover/api.tsx
  x-pack/legacy/plugins/siem/public/components/ml_popover/types.ts
Labels: backport

#42460 [Maps][Telemetry] Fix id used to retrieve map telemetry
  x-pack/legacy/plugins/maps/server/maps_telemetry/maps_usage_collector.js
  x-pack/legacy/plugins/oss_telemetry/server/lib/collectors/visualizations/get_usage_collector.ts
Labels: Feature:Telemetry, Team:Geo, release_note:skip, v7.4.0, v8.0.0

#41789 [Maps][File upload] Set geojson indexed layer defaults for bounds and global
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/view.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/constants.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/geojson_file_source.js
  x-pack/legacy/plugins/maps/public/reducers/map.js
Labels: Feature:File Upload, Team:Geo, release_note:skip, v7.3.1, v7.4.0, v8.0.0

#42081 Make alerting properly space aware
  x-pack/legacy/plugins/actions/README.md
  x-pack/legacy/plugins/actions/server/action_type_registry.test.ts
  x-pack/legacy/plugins/actions/server/action_type_registry.ts
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/email.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/es_index.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/server_log.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/slack.test.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.test.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.ts
  x-pack/legacy/plugins/actions/server/init.ts
  x-pack/legacy/plugins/actions/server/lib/execute.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.test.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.ts
  x-pack/legacy/plugins/actions/server/types.ts
  x-pack/legacy/plugins/alerting/server/alert_type_registry.test.ts
  x-pack/legacy/plugins/alerting/server/alert_type_registry.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.test.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.ts
  x-pack/legacy/plugins/alerting/server/init.ts
  x-pack/legacy/plugins/alerting/server/lib/create_fire_handler.test.ts
  x-pack/legacy/plugins/alerting/server/lib/create_fire_handler.ts
  x-pack/legacy/plugins/alerting/server/lib/get_create_task_runner_function.test.ts
  x-pack/legacy/plugins/alerting/server/lib/get_create_task_runner_function.ts
  x-pack/test/api_integration/apis/actions/constants.ts
  x-pack/test/api_integration/apis/actions/create.ts
  x-pack/test/api_integration/apis/actions/delete.ts
  x-pack/test/api_integration/apis/actions/find.ts
  x-pack/test/api_integration/apis/actions/fire.ts
  x-pack/test/api_integration/apis/actions/get.ts
  x-pack/test/api_integration/apis/actions/update.ts
  x-pack/test/api_integration/apis/alerting/alerts.ts
  x-pack/test/api_integration/apis/alerting/constants.ts
  x-pack/test/api_integration/apis/alerting/create.ts
  x-pack/test/api_integration/apis/alerting/delete.ts
  x-pack/test/api_integration/apis/alerting/disable.ts
  x-pack/test/api_integration/apis/alerting/enable.ts
  x-pack/test/api_integration/apis/alerting/find.ts
  x-pack/test/api_integration/apis/alerting/get.ts
  x-pack/test/api_integration/apis/alerting/update.ts
  x-pack/test/functional/es_archives/actions/basic/data.json
Labels: Feature:Alerting, Team:Stack Services, release_note:skip, review, v7.4.0, v8.0.0

#42496 [7.x] Put filters back in the filter context where they belong (#42095)
  packages/kbn-es-query/src/es_query/__tests__/build_es_query.js
  packages/kbn-es-query/src/es_query/__tests__/from_filters.js
  packages/kbn-es-query/src/es_query/from_filters.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/request_processors/series/__tests__/query.js
  src/legacy/core_plugins/metrics/server/lib/vis_data/series/__tests__/build_request_body.js
  src/legacy/ui/public/agg_types/__tests__/buckets/_terms_other_bucket_helper.js
Labels: backport

#42521 [7.x] [SIEM] Adds Machine Learning section to 'Using the SIEM UI' docs (#42399)
  docs/siem/images/ml-ui.png
  docs/siem/index.asciidoc
  docs/siem/machine-learning.asciidoc
Labels: backport

#42522 [7.3] [SIEM] Adds Machine Learning section to 'Using the SIEM UI' docs (#42399)
  docs/siem/images/ml-ui.png
  docs/siem/index.asciidoc
  docs/siem/machine-learning.asciidoc
Labels: backport

#41695 [Logs UI][a11y] Announce name of column on remove column button
  x-pack/legacy/plugins/infra/public/components/source_configuration/log_columns_configuration_panel.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Logs UI, Project:Accessibility, Team:infra-logs-ui, WCAG A, release_note:fix, v7.4.0, v8.0.0

#42525 [7.x] Make alerting properly space aware (#42081)
  x-pack/legacy/plugins/actions/README.md
  x-pack/legacy/plugins/actions/server/action_type_registry.test.ts
  x-pack/legacy/plugins/actions/server/action_type_registry.ts
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/email.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/es_index.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/server_log.test.ts
  x-pack/legacy/plugins/actions/server/builtin_action_types/slack.test.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.test.ts
  x-pack/legacy/plugins/actions/server/create_fire_function.ts
  x-pack/legacy/plugins/actions/server/init.ts
  x-pack/legacy/plugins/actions/server/lib/execute.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.test.ts
  x-pack/legacy/plugins/actions/server/lib/get_create_task_runner_function.ts
  x-pack/legacy/plugins/actions/server/types.ts
  x-pack/legacy/plugins/alerting/server/alert_type_registry.test.ts
  x-pack/legacy/plugins/alerting/server/alert_type_registry.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.test.ts
  x-pack/legacy/plugins/alerting/server/alerts_client.ts
  x-pack/legacy/plugins/alerting/server/init.ts
  x-pack/legacy/plugins/alerting/server/lib/create_fire_handler.test.ts
  x-pack/legacy/plugins/alerting/server/lib/create_fire_handler.ts
  x-pack/legacy/plugins/alerting/server/lib/get_create_task_runner_function.test.ts
  x-pack/legacy/plugins/alerting/server/lib/get_create_task_runner_function.ts
  x-pack/test/api_integration/apis/actions/constants.ts
  x-pack/test/api_integration/apis/actions/create.ts
  x-pack/test/api_integration/apis/actions/delete.ts
  x-pack/test/api_integration/apis/actions/find.ts
  x-pack/test/api_integration/apis/actions/fire.ts
  x-pack/test/api_integration/apis/actions/get.ts
  x-pack/test/api_integration/apis/actions/update.ts
  x-pack/test/api_integration/apis/alerting/alerts.ts
  x-pack/test/api_integration/apis/alerting/constants.ts
  x-pack/test/api_integration/apis/alerting/create.ts
  x-pack/test/api_integration/apis/alerting/delete.ts
  x-pack/test/api_integration/apis/alerting/disable.ts
  x-pack/test/api_integration/apis/alerting/enable.ts
  x-pack/test/api_integration/apis/alerting/find.ts
  x-pack/test/api_integration/apis/alerting/get.ts
  x-pack/test/api_integration/apis/alerting/update.ts
  x-pack/test/functional/es_archives/actions/basic/data.json
Labels: backport

#42523 [7.x] Add 'task:' prefix to maps and oss vis telemetry _id (#42460)
  x-pack/legacy/plugins/maps/server/maps_telemetry/maps_usage_collector.js
  x-pack/legacy/plugins/oss_telemetry/server/lib/collectors/visualizations/get_usage_collector.ts
Labels: backport

#42182 [7.3] [APM] Add react-hooks lint rules for APM folder, fix dependencies (#42129)
  .eslintrc.js
  x-pack/legacy/plugins/apm/public/components/app/Settings/AddSettings/AddSettingFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionOverview/List/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionOverview/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/KueryBar/index.tsx
  x-pack/legacy/plugins/apm/public/context/UrlParamsContext/index.tsx
  x-pack/legacy/plugins/apm/public/hooks/useFetcher.tsx
  x-pack/legacy/plugins/apm/public/hooks/useTransactionBreakdown.ts
  x-pack/legacy/plugins/apm/public/hooks/useTransactionCharts.ts
Labels: backport

#42524 [7.x] [Maps][File upload] Set geojson indexed layer defaults for bounds and global (#41789)
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/view.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/constants.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/geojson_file_source.js
  x-pack/legacy/plugins/maps/public/reducers/map.js
Labels: backport

#42529 [7.x] [Logs UI][a11y] Announce name of column on remove column button (#41695)
  x-pack/legacy/plugins/infra/public/components/source_configuration/log_columns_configuration_panel.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#42533 [7.3] [Maps][File upload] Set geojson indexed layer defaults for bounds and global (#41789)
  x-pack/legacy/plugins/maps/public/components/layer_addpanel/view.js
  x-pack/legacy/plugins/maps/public/shared/layers/sources/client_file_source/constants.js
  x-pack/legacy/plugins/maps/public/shared/layers/sources/client_file_source/geojson_file_source.js
Labels: backport

#42218 [build] Increase max-old-space-size
  src/dev/build/tasks/optimize_task.js
Labels: Team:Operations, release_note:skip, review, v7.4.0, v8.0.0

#42298 Upgraded EUI 13.0.0 -> 13.1.1
  package.json
  src/dev/jest/setup/polyfills.js
  src/legacy/core_plugins/data/public/query/query_bar/components/__snapshots__/query_bar.test.tsx.snap
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/__snapshots__/table_header.test.tsx.snap
  src/legacy/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/flyout/__jest__/__snapshots__/flyout.test.js.snap
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  test/interpreter_functional/plugins/kbn_tp_run_pipeline/package.json
  test/plugin_functional/plugins/kbn_tp_custom_visualizations/package.json
  test/plugin_functional/plugins/kbn_tp_embeddable_explorer/package.json
  test/plugin_functional/plugins/kbn_tp_sample_panel_action/package.json
  test/plugin_functional/plugins/kbn_tp_visualize_embedding/package.json
  x-pack/dev-tools/jest/setup/polyfills.js
  x-pack/legacy/plugins/apm/public/components/app/ErrorGroupOverview/List/__test__/__snapshots__/List.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/ServiceOverview.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/__test__/__snapshots__/TransactionActionMenu.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/shared/charts/Timeline/__test__/__snapshots__/Timeline.test.js.snap
  x-pack/legacy/plugins/canvas/public/components/asset_manager/__examples__/__snapshots__/asset.examples.storyshot
  x-pack/legacy/plugins/canvas/public/components/element_types/__examples__/__snapshots__/element_controls.examples.storyshot
  x-pack/legacy/plugins/canvas/public/components/element_types/__examples__/__snapshots__/element_grid.examples.storyshot
  x-pack/legacy/plugins/canvas/public/components/sidebar_header/__examples__/__snapshots__/sidebar_header.examples.storyshot
  x-pack/legacy/plugins/canvas/public/expression_types/arg_types/series_style/__examples__/__snapshots__/simple_template.examples.storyshot
  x-pack/legacy/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/legacy/plugins/ml/public/settings/calendars/edit/import_modal/__snapshots__/import_modal.test.js.snap
  x-pack/package.json
  yarn.lock
Labels: :Design, release_note:skip, v7.4.0, v8.0.0

#42367 [7.3] Revert ES pinning
  src/dev/ci_setup/setup.sh
Labels: Team:Operations, release_note:skip, v7.3.1

#42539 [7.x] Increase max-old-space-size for builds (#42218)
  src/dev/build/tasks/optimize_task.js
Labels: backport

#42534 [ftr/cheerio] improve cheerio types to include test subject methods
  test/functional/services/apps_menu.ts
  test/functional/services/doc_table.ts
  test/functional/services/lib/web_element_wrapper/custom_cheerio_api.ts
  test/functional/services/lib/web_element_wrapper/web_element_wrapper.ts
Labels: Team:Operations, release_note:skip, test_infra, v7.2.2, v7.3.1, v7.4.0, v8.0.0

#42287 [Infra UI][Logs UI] Fix autocomplete to use proper derived index pattern
  x-pack/legacy/plugins/infra/public/containers/source/source.tsx
  x-pack/legacy/plugins/infra/public/containers/with_source/with_source.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/page_content.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/toolbar.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_logs_content.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_toolbar.tsx
Labels: Feature:Infra UI, Feature:Logs UI, Team:infra-logs-ui, release_note:fix, v7.3.1, v7.4.0, v8.0.0

#41147 [7.2] [autoprefixer] upgrade to 9.6.1, unify browserslist handling (#41038)
  .browserslistrc
  bin/kibana
  package.json
  packages/elastic-datemath/.babelrc
  packages/kbn-babel-preset/webpack_preset.js
  packages/kbn-es-query/babel.config.js
  packages/kbn-i18n/babel.config.js
  packages/kbn-ui-framework/doc_site/postcss.config.js
  packages/kbn-ui-framework/package.json
  src/optimize/postcss.config.js
  yarn.lock
Labels: backport, blocked

#42450 [7.x] [basePathProxy] add __UNSAFE_bypassBasePath route (#41208)
  docs/development/core/development-basepath.asciidoc
  src/core/server/http/base_path_proxy_server.ts
Labels: backport

#42451 [7.3] [basePathProxy] add __UNSAFE_bypassBasePath route (#41208)
  docs/development/core/development-basepath.asciidoc
  src/core/server/http/base_path_proxy_server.ts
Labels: backport

#41918 Allow sorting on multiple columns in Discover
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/discover/doc_table/__tests__/lib/get_sort.js
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/table_header.test.tsx
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/table_header.tsx
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/table_header_column.tsx
  src/legacy/core_plugins/kibana/public/discover/doc_table/doc_table.html
  src/legacy/core_plugins/kibana/public/discover/doc_table/lib/get_sort.js
  src/legacy/core_plugins/kibana/public/discover/embeddable/search_embeddable.ts
  src/legacy/ui/public/styles/_legacy/components/_table.scss
  test/functional/apps/discover/_shared_links.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Discover, Team:KibanaApp, release_note:enhancement, v7.4.0, v8.0.0

#42500 [DOCS] Updates images and content in Dashboard docs
  docs/dashboard.asciidoc
  docs/images/Dashboard_Resize_Menu.png
  docs/images/Dashboard_add_visualization.png
  docs/images/Dashboard_example.png
  docs/images/Dashboard_inspect.png
Labels: Feature:Dashboard, Team:Docs, release_note:skip, v7.3.0, v7.4.0, v8.0.0

#42543 [7.x] [Infra UI][Logs UI] Fix autocomplete to use proper derived index pattern (#42287)
  x-pack/legacy/plugins/infra/public/containers/source/source.tsx
  x-pack/legacy/plugins/infra/public/containers/with_source/with_source.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/page_content.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/toolbar.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_logs_content.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_toolbar.tsx
Labels: backport

#42541 [7.x] [ftr/cheerio] improve cheerio types to include test subject me… (#42534)
  test/functional/services/apps_menu.ts
  test/functional/services/doc_table.ts
  test/functional/services/lib/web_element_wrapper/custom_cheerio_api.ts
  test/functional/services/lib/web_element_wrapper/web_element_wrapper.ts
Labels: backport

#42542 [7.3] [ftr/cheerio] improve cheerio types to include test subject me… (#42534)
  test/functional/services/apps_menu.ts
  test/functional/services/doc_table.ts
  test/functional/services/lib/web_element_wrapper/custom_cheerio_api.ts
  test/functional/services/lib/web_element_wrapper/web_element_wrapper.ts
Labels: backport

#42546 [7.2] [ftr/cheerio] improve cheerio types to include test subject me… (#42534)
  test/functional/services/apps_menu.ts
  test/functional/services/doc_table.ts
  test/functional/services/lib/web_element_wrapper/custom_cheerio_api.ts
  test/functional/services/lib/web_element_wrapper/web_element_wrapper.ts
Labels: backport

#35561 [docs][skip ci] Maps read only access
  docs/maps/images/read-only-badge.png
  docs/maps/maps-getting-started.asciidoc
Labels: Team:Docs, Team:Geo, release_note:skip, v7.2.1, v7.3.1, v7.4.0, v8.0.0

#42553 [7.x] [docs][skip ci] Maps read only access (#35561)
  docs/maps/images/read-only-badge.png
  docs/maps/maps-getting-started.asciidoc
Labels: backport

#42554 [7.3] [docs][skip ci] Maps read only access (#35561)
  docs/maps/images/read-only-badge.png
  docs/maps/maps-getting-started.asciidoc
Labels: backport

#42555 [7.2] [docs][skip ci] Maps read only access (#35561)
  docs/maps/images/read-only-badge.png
  docs/maps/maps-getting-started.asciidoc
Labels: backport

#42495 [Reporting] Sanitize 409 error log message
  x-pack/legacy/plugins/reporting/server/lib/esqueue/worker.js
Labels: Feature:Reporting, release_note:enhancement, review, v7.4.0, v8.0.0

#42440 [SIEM] Add chart interactions - update date picker after brush selection on charts
  x-pack/legacy/plugins/siem/public/components/charts/areachart.tsx
  x-pack/legacy/plugins/siem/public/components/charts/barchart.tsx
  x-pack/legacy/plugins/siem/public/components/charts/common.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/kpi_hosts/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/kpi_hosts/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/__snapshots__/index.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/mock.ts
  x-pack/legacy/plugins/siem/public/components/stat_items/__snapshots__/index.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/stat_items/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/stat_items/index.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/host_details.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/hosts.tsx
  x-pack/legacy/plugins/siem/public/pages/network/network.tsx
Labels: Team:SIEM, release_note:enhancement, v7.4.0, v8.0.0

#42145 Add disk space percentage to node listing
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/node_detail_status/index.js
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/__tests__/get_node_summary.js
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/get_node_summary.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/node_detail_advanced.json
  x-pack/test/functional/apps/monitoring/elasticsearch/node_detail.js
Labels: release_note:enhancement

#42559 [7.x] [SIEM] Add chart interactions - update date picker after brush selection on charts (#42440)
  x-pack/legacy/plugins/siem/public/components/charts/areachart.tsx
  x-pack/legacy/plugins/siem/public/components/charts/barchart.tsx
  x-pack/legacy/plugins/siem/public/components/charts/common.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/kpi_hosts/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/kpi_hosts/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/__snapshots__/index.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/kpi_network/mock.ts
  x-pack/legacy/plugins/siem/public/components/stat_items/__snapshots__/index.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/stat_items/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/stat_items/index.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/host_details.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/hosts.tsx
  x-pack/legacy/plugins/siem/public/pages/network/network.tsx
Labels: backport

#42348 [Tag Cloud] Shim new platform
  src/legacy/core_plugins/tagcloud/index.ts
  src/legacy/core_plugins/tagcloud/public/__snapshots__/tag_cloud_fn.test.ts.snap
  src/legacy/core_plugins/tagcloud/public/components/__tests__/afterparamchange.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/afterresize.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/basicdraw.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/simpleload.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/tag_cloud.js
  src/legacy/core_plugins/tagcloud/public/components/__tests__/tag_cloud_visualization.js
  src/legacy/core_plugins/tagcloud/public/components/feedback_message.js
  src/legacy/core_plugins/tagcloud/public/components/label.js
  src/legacy/core_plugins/tagcloud/public/components/tag_cloud.js
  src/legacy/core_plugins/tagcloud/public/components/tag_cloud_visualization.js
  src/legacy/core_plugins/tagcloud/public/index.ts
  src/legacy/core_plugins/tagcloud/public/legacy.ts
  src/legacy/core_plugins/tagcloud/public/plugin.ts
  src/legacy/core_plugins/tagcloud/public/tag_cloud_fn.test.ts
  src/legacy/core_plugins/tagcloud/public/tag_cloud_fn.ts
  src/legacy/core_plugins/tagcloud/public/tag_cloud_type.ts
Labels: Feature:NP Migration, Feature:Tagcloud, Team:AppArch, release_note:skip, v7.4.0, v8.0.0

#42240 [Metric Vis] Shim new platform
  src/legacy/core_plugins/metric_vis/index.ts
  src/legacy/core_plugins/metric_vis/public/__snapshots__/metric_vis_fn.test.ts.snap
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis.js
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis_controller.js
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_controller.js
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_params/index.js
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_params/metric_vis_params.html
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_params/metric_vis_params.js
  src/legacy/core_plugins/metric_vis/public/index.ts
  src/legacy/core_plugins/metric_vis/public/legacy.ts
  src/legacy/core_plugins/metric_vis/public/metric_vis_fn.test.ts
  src/legacy/core_plugins/metric_vis/public/metric_vis_fn.ts
  src/legacy/core_plugins/metric_vis/public/metric_vis_type.ts
  src/legacy/core_plugins/metric_vis/public/plugin.ts
  src/legacy/core_plugins/metric_vis/public/shim/index.ts
  src/legacy/core_plugins/metric_vis/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/metric_vis/public/shim/metric_vis_legacy_module.ts
  src/legacy/ui/public/agg_types/__tests__/agg_type.js
Labels: Feature:MetricVis, Feature:NP Migration, Team:AppArch, release_note:skip, v7.4.0, v8.0.0

#39169 [TSVB] Shim new platform
  src/legacy/core_plugins/metrics/index.ts
  src/legacy/core_plugins/metrics/public/editor_controller.js
  src/legacy/core_plugins/metrics/public/index.ts
  src/legacy/core_plugins/metrics/public/kbn_vis_types/request_handler.js
  src/legacy/core_plugins/metrics/public/legacy.ts
  src/legacy/core_plugins/metrics/public/metrics_fn.ts
  src/legacy/core_plugins/metrics/public/metrics_type.ts
  src/legacy/core_plugins/metrics/public/plugin.ts
  src/legacy/core_plugins/metrics/public/request_handler.js
  src/legacy/core_plugins/metrics/server/index.ts
  src/legacy/core_plugins/metrics/server/plugin.ts
Labels: Feature:NP Migration, Feature:TSVB, Team:AppArch, Team:KibanaApp, release_note:enhancement

#42579 [7.x] [TSVB] Shim new platform (#39169)
  src/legacy/core_plugins/metrics/index.ts
  src/legacy/core_plugins/metrics/public/editor_controller.js
  src/legacy/core_plugins/metrics/public/index.ts
  src/legacy/core_plugins/metrics/public/kbn_vis_types/request_handler.js
  src/legacy/core_plugins/metrics/public/legacy.ts
  src/legacy/core_plugins/metrics/public/metrics_fn.ts
  src/legacy/core_plugins/metrics/public/metrics_type.ts
  src/legacy/core_plugins/metrics/public/plugin.ts
  src/legacy/core_plugins/metrics/public/request_handler.js
  src/legacy/core_plugins/metrics/server/index.ts
  src/legacy/core_plugins/metrics/server/plugin.ts
Labels: backport

#42577 [7.x] [Metric Vis] Shim new platform (#42240)
  src/legacy/core_plugins/metric_vis/index.ts
  src/legacy/core_plugins/metric_vis/public/__snapshots__/metric_vis_fn.test.ts.snap
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis.js
  src/legacy/core_plugins/metric_vis/public/__tests__/metric_vis_controller.js
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_controller.js
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_params/index.js
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_params/metric_vis_params.html
  src/legacy/core_plugins/metric_vis/public/components/metric_vis_params/metric_vis_params.js
  src/legacy/core_plugins/metric_vis/public/index.ts
  src/legacy/core_plugins/metric_vis/public/legacy.ts
  src/legacy/core_plugins/metric_vis/public/metric_vis_fn.test.ts
  src/legacy/core_plugins/metric_vis/public/metric_vis_fn.ts
  src/legacy/core_plugins/metric_vis/public/metric_vis_type.ts
  src/legacy/core_plugins/metric_vis/public/plugin.ts
  src/legacy/core_plugins/metric_vis/public/shim/index.ts
  src/legacy/core_plugins/metric_vis/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/metric_vis/public/shim/metric_vis_legacy_module.ts
  src/legacy/ui/public/agg_types/__tests__/agg_type.js
Labels: backport

#42576 [7.x] [Tag Cloud] Shim new platform (#42348)
  src/legacy/core_plugins/tagcloud/index.ts
  src/legacy/core_plugins/tagcloud/public/__snapshots__/tag_cloud_fn.test.ts.snap
  src/legacy/core_plugins/tagcloud/public/components/__tests__/afterparamchange.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/afterresize.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/basicdraw.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/simpleload.png
  src/legacy/core_plugins/tagcloud/public/components/__tests__/tag_cloud.js
  src/legacy/core_plugins/tagcloud/public/components/__tests__/tag_cloud_visualization.js
  src/legacy/core_plugins/tagcloud/public/components/feedback_message.js
  src/legacy/core_plugins/tagcloud/public/components/label.js
  src/legacy/core_plugins/tagcloud/public/components/tag_cloud.js
  src/legacy/core_plugins/tagcloud/public/components/tag_cloud_visualization.js
  src/legacy/core_plugins/tagcloud/public/index.ts
  src/legacy/core_plugins/tagcloud/public/legacy.ts
  src/legacy/core_plugins/tagcloud/public/plugin.ts
  src/legacy/core_plugins/tagcloud/public/tag_cloud_fn.test.ts
  src/legacy/core_plugins/tagcloud/public/tag_cloud_fn.ts
  src/legacy/core_plugins/tagcloud/public/tag_cloud_type.ts
Labels: backport

#42575 [7.x] [ML] Fixing empty index pattern list (#42299)
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index_or_search_controller.js
Labels: backport

#42564 [ML] Fixing ml when spaces feature is disabled
  x-pack/legacy/plugins/ml/server/lib/check_privileges/check_privileges.ts
  x-pack/legacy/plugins/ml/server/routes/system.js
Labels: :ml, bug, release_note:fix, review, v7.3.1, v7.4.0, v8.0.0

#42474 [ML] Fixing new jobs from saved searches
  x-pack/legacy/plugins/ml/public/services/new_job_capabilities_service.ts
  x-pack/legacy/plugins/ml/public/util/index_utils.js
Labels: :ml, bug, non-issue, release_note:skip, v7.4.0, v8.0.0

#42087 Add icon for geo_shape fields in Discover
  src/legacy/ui/public/directives/field_name/field_name_icon.tsx
Labels: Feature:Discover, Team:KibanaApp, release_note:enhancement, v7.4.0, v8.0.0

#42588 [7.3] [ML] Fixing ml when spaces feature is disabled (#42564)
  x-pack/legacy/plugins/ml/server/lib/check_privileges/check_privileges.ts
  x-pack/legacy/plugins/ml/server/routes/system.js
Labels: backport

#42587 [7.x] [ML] Fixing ml when spaces feature is disabled (#42564)
  x-pack/legacy/plugins/ml/server/lib/check_privileges/check_privileges.ts
  x-pack/legacy/plugins/ml/server/routes/system.js
Labels: :ml, backport

#42344 [Lens] Allow only current visualization on field drop in workspace
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/editor_frame.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.tsx
Labels: Feature:Lens

#42429 [Lens] Remove indexpattern id on column
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/dimension_panel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/count.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/date_histogram.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/date_histogram.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/filter_ratio.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/filter_ratio.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/metrics.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/terms.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operation_definitions/terms.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations.test.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/state_helpers.test.ts
Labels: Feature:Lens

#42596 [7.x] Add icon for geo_shape fields in Discover (#42087)
  src/legacy/ui/public/directives/field_name/field_name_icon.tsx
Labels: backport

#42597 [7.x] [ML] Adding job cloning to new wizards (#42370)
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/preconfigured_job_redirect.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/configs/combined_job.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/configs/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/multi_metric_job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/population_job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/single_metric_job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/general.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range_picker.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/page.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/wizard.tsx
  x-pack/legacy/plugins/ml/public/services/job_service.d.ts
  x-pack/legacy/plugins/ml/public/services/new_job_capabilities_service.ts
Labels: backport

#42566 [Code] fix button group text size
  x-pack/legacy/plugins/code/public/components/main/content.tsx
Labels: Team:Code, release_note:skip, v7.4.0, v8.0.0

#42514 [7.x] [InfraUI] [LogsUI] Accessibility fixes (#41883)
  x-pack/legacy/plugins/infra/public/components/autocomplete_field/autocomplete_field.tsx
  x-pack/legacy/plugins/infra/public/components/logging/log_text_stream/column_headers.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_toolbar.tsx
Labels: backport

#42509 [Code] Upgrade ctags-langserver to use universal ctags
  x-pack/legacy/plugins/code/common/language_server.ts
  x-pack/package.json
  yarn.lock
Labels: Team:Code, release_note:skip, v7.4.0, v8.0.0

#42345 Setup contract tests in x-pack
  src/dev/constants.ts
  test/scripts/jenkins_xpack.sh
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/package.json
  x-pack/scripts/jest_contract.js
  x-pack/test_utils/jest/config.contract.js
  x-pack/test_utils/jest/config.js
  x-pack/test_utils/jest/contract_tests/__memorize_snapshots__/example.contract.test.ts.snap
  x-pack/test_utils/jest/contract_tests/example.contract.test.ts
  x-pack/test_utils/jest/contract_tests/global_setup.ts
  x-pack/test_utils/jest/contract_tests/global_teardown.ts
  x-pack/test_utils/jest/contract_tests/servers.ts
  yarn.lock
Labels: release_note:skip

#42604 [7.x] Upgraded EUI 13.0.0 -> 13.1.1 (#42298)
  package.json
  src/dev/jest/setup/polyfills.js
  src/legacy/core_plugins/data/public/query/query_bar/components/__snapshots__/query_bar.test.tsx.snap
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/__snapshots__/table_header.test.tsx.snap
  src/legacy/core_plugins/kibana/public/management/sections/objects/components/objects_table/components/flyout/__jest__/__snapshots__/flyout.test.js.snap
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  test/interpreter_functional/plugins/kbn_tp_run_pipeline/package.json
  test/plugin_functional/plugins/kbn_tp_custom_visualizations/package.json
  test/plugin_functional/plugins/kbn_tp_embeddable_explorer/package.json
  test/plugin_functional/plugins/kbn_tp_sample_panel_action/package.json
  test/plugin_functional/plugins/kbn_tp_visualize_embedding/package.json
  x-pack/dev-tools/jest/setup/polyfills.js
  x-pack/legacy/plugins/apm/public/components/app/ErrorGroupOverview/List/__test__/__snapshots__/List.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/ServiceOverview.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/__test__/__snapshots__/TransactionActionMenu.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/shared/charts/Timeline/__test__/__snapshots__/Timeline.test.js.snap
  x-pack/legacy/plugins/canvas/public/components/asset_manager/__examples__/__snapshots__/asset.examples.storyshot
  x-pack/legacy/plugins/canvas/public/components/element_types/__examples__/__snapshots__/element_controls.examples.storyshot
  x-pack/legacy/plugins/canvas/public/components/element_types/__examples__/__snapshots__/element_grid.examples.storyshot
  x-pack/legacy/plugins/canvas/public/components/sidebar_header/__examples__/__snapshots__/sidebar_header.examples.storyshot
  x-pack/legacy/plugins/canvas/public/expression_types/arg_types/series_style/__examples__/__snapshots__/simple_template.examples.storyshot
  x-pack/legacy/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/legacy/plugins/ml/public/settings/calendars/edit/import_modal/__snapshots__/import_modal.test.js.snap
  x-pack/package.json
  yarn.lock
Labels: backport

#42384 [Maps] Prepare EMSClient for vector tile support
  src/legacy/core_plugins/tile_map/common/ems_client.js
  src/legacy/core_plugins/tile_map/common/file_layer.js
  src/legacy/core_plugins/tile_map/common/tms_service.js
  src/legacy/ui/public/vis/__tests__/map/ems_client.js
  src/legacy/ui/public/vis/__tests__/map/ems_client_util.js
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_files_proxied.json
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_manifest_proxied.json
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_style_bright_proxied.json
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_tiles_proxied.json
  x-pack/legacy/plugins/maps/common/constants.js
  x-pack/legacy/plugins/maps/common/ems_util.js
  x-pack/legacy/plugins/maps/common/ems_util.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/ems_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/ems_file_source.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/update_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/ems_tms_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/ems_tms_source.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/meta.js
  x-pack/legacy/plugins/maps/public/meta.test.js
  x-pack/legacy/plugins/maps/server/routes.js
Labels: Team:Geo, chore, release_note:skip, v7.4.0, v8.0.0

#42581 [Console] Added doc_values to list of completion items for mapping
  src/legacy/core_plugins/console/api_server/es_6_0/mappings.js
Labels: Feature:Console, Team:Elasticsearch UI, enhancement, release_note:skip, v7.4.0, v8.0.0

#42612 [7.x] [Maps] Prepare EMSClient for vector tile support (#42384)
  src/legacy/core_plugins/tile_map/common/ems_client.js
  src/legacy/core_plugins/tile_map/common/file_layer.js
  src/legacy/core_plugins/tile_map/common/tms_service.js
  src/legacy/ui/public/vis/__tests__/map/ems_client.js
  src/legacy/ui/public/vis/__tests__/map/ems_client_util.js
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_files_proxied.json
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_manifest_proxied.json
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_style_bright_proxied.json
  src/legacy/ui/public/vis/__tests__/map/ems_mocks/sample_tiles_proxied.json
  x-pack/legacy/plugins/maps/common/constants.js
  x-pack/legacy/plugins/maps/common/ems_util.js
  x-pack/legacy/plugins/maps/common/ems_util.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/ems_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/ems_file_source.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/update_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/ems_tms_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/ems_tms_source.test.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/meta.js
  x-pack/legacy/plugins/maps/public/meta.test.js
  x-pack/legacy/plugins/maps/server/routes.js
Labels: backport

#42613 [7.x] [Tests] Setup contract tests in x-pack (#42345)
  src/dev/constants.ts
  test/scripts/jenkins_xpack.sh
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/package.json
  x-pack/scripts/jest_contract.js
  x-pack/test_utils/jest/config.contract.js
  x-pack/test_utils/jest/config.js
  x-pack/test_utils/jest/contract_tests/__memorize_snapshots__/example.contract.test.ts.snap
  x-pack/test_utils/jest/contract_tests/example.contract.test.ts
  x-pack/test_utils/jest/contract_tests/global_setup.ts
  x-pack/test_utils/jest/contract_tests/global_teardown.ts
  x-pack/test_utils/jest/contract_tests/servers.ts
  yarn.lock
Labels: backport

#42187 Fix links in x-pack/README.md
  x-pack/README.md
Labels: dev, release_note:skip

#42493 Changes action create/update http apis to return bodies
  x-pack/legacy/plugins/actions/server/routes/create.test.ts
  x-pack/legacy/plugins/actions/server/routes/create.ts
  x-pack/legacy/plugins/actions/server/routes/update.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/email.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/es_index.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/server_log.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/slack.ts
  x-pack/test/api_integration/apis/actions/create.ts
  x-pack/test/api_integration/apis/actions/fire.ts
  x-pack/test/api_integration/apis/actions/update.ts
Labels: Feature:Alerting, Team:Stack Services, release_note:skip, v7.4.0, v8.0.0

#42624 [DOCS] Removes outdated monitoring image
  docs/images/monitoring-containers.png
  docs/settings/monitoring-settings.asciidoc
Labels: Team:Docs, release_note:skip, v7.2.0, v7.3.0, v7.4.0, v8.0.0

#42557 [7.x] [Reporting] Sanitize 409 error log message (#42495)
  x-pack/legacy/plugins/reporting/server/lib/esqueue/worker.js
Labels: backport

#42302 [skip-ci] Add note about karma mocks for new platform services.
  src/core/MIGRATION.md
Labels: Feature:NP Migration, Team:AppArch, Team:Platform, release_note:skip, review, v8.0.0

#42548 Fix broken CONTRIBUTING.md link
  x-pack/legacy/plugins/infra/README.md
Labels: Team:infra-logs-ui, release_note:skip, v7.4.0, v8.0.0

#42551 [7.x] Allow sorting on multiple columns in Discover (#41918)
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/discover/doc_table/__tests__/lib/get_sort.js
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/table_header.test.tsx
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/table_header.tsx
  src/legacy/core_plugins/kibana/public/discover/doc_table/components/table_header/table_header_column.tsx
  src/legacy/core_plugins/kibana/public/discover/doc_table/doc_table.html
  src/legacy/core_plugins/kibana/public/discover/doc_table/lib/get_sort.js
  src/legacy/core_plugins/kibana/public/discover/embeddable/search_embeddable.ts
  src/legacy/ui/public/styles/_legacy/components/_table.scss
  test/functional/apps/discover/_shared_links.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#41470 [7.x] [Code] Adding more coverage for syntax highlighting (#41393)
  x-pack/legacy/plugins/code/public/monaco/monaco.ts
  x-pack/legacy/plugins/code/public/monaco/override_monaco_styles.scss
Labels: backport

#42642 move vault setup into repo so all ci logic is in the repo
  .ci/run.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: Team:Operations, release_note:skip, v6.8.3, v7.0.2, v7.1.2, v7.2.2, v7.3.1, v7.4.0, v8.0.0

#42609 [7.x] [Code] Upgrade ctags-langserver to use universal ctags (#42509)
  x-pack/legacy/plugins/code/common/language_server.ts
  x-pack/package.json
  yarn.lock
Labels: backport

#42638 [Maps] Skip flaky test
  x-pack/test/functional/apps/maps/add_layer_panel.js
  x-pack/test/functional/apps/maps/import_geojson/add_layer_import_panel.js
  x-pack/test/functional/apps/maps/import_geojson/index.js
  x-pack/test/functional/config.js
Labels: Team:Geo, release_note:skip, test-failure-flaky, v7.4.0, v8.0.0

#41841 [Maps] fix flaky test in documents_source/search_hits·js
  x-pack/test/functional/page_objects/gis_page.js
Labels: Team:Geo, release_note:skip, v7.4.0, v8.0.0

#42605 [7.x] fix(code/frontend): fix button group text size (#42566)
  x-pack/legacy/plugins/code/public/components/main/content.tsx
Labels: backport

#42571 [Code] file loading indicator
  x-pack/legacy/plugins/code/public/components/editor/editor.tsx
  x-pack/legacy/plugins/code/public/components/main/content.tsx
  x-pack/legacy/plugins/code/public/reducers/file.ts
Labels: Team:Code, release_note:skip, v7.4.0, v8.0.0

#42648 [7.x] move vault setup into repo so all ci logic is in the repo (#42642)
  .ci/run.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: backport

#42649 [7.3] move vault setup into repo so all ci logic is in the repo (#42642)
  .ci/run.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: backport

#42650 [7.2] move vault setup into repo so all ci logic is in the repo (#42642)
  .ci/run.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: backport

#42627 [7.x] Changes action create/update http apis to return bodies (#42493)
  x-pack/legacy/plugins/actions/server/routes/create.test.ts
  x-pack/legacy/plugins/actions/server/routes/create.ts
  x-pack/legacy/plugins/actions/server/routes/update.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/email.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/es_index.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/server_log.ts
  x-pack/test/api_integration/apis/actions/builtin_action_types/slack.ts
  x-pack/test/api_integration/apis/actions/create.ts
  x-pack/test/api_integration/apis/actions/fire.ts
  x-pack/test/api_integration/apis/actions/update.ts
Labels: backport

#42324 [Code] apply new document symbol api
  x-pack/legacy/plugins/code/public/actions/structure.ts
  x-pack/legacy/plugins/code/public/components/main/side_tabs.tsx
  x-pack/legacy/plugins/code/public/components/symbol_tree/__test__/__fixtures__/props.ts
  x-pack/legacy/plugins/code/public/components/symbol_tree/__test__/__snapshots__/symbol_tree.test.tsx.snap
  x-pack/legacy/plugins/code/public/components/symbol_tree/__test__/symbol_tree.test.tsx
  x-pack/legacy/plugins/code/public/components/symbol_tree/code_symbol_tree.tsx
  x-pack/legacy/plugins/code/public/reducers/__tests__/match_container_name.test.ts
  x-pack/legacy/plugins/code/public/reducers/symbol.ts
  x-pack/legacy/plugins/code/public/sagas/structure.ts
  x-pack/legacy/plugins/code/public/utils/symbol_utils.ts
  x-pack/package.json
  yarn.lock
Labels: Team:Code, release_note:skip, v7.4.0, v8.0.0

#42658 [7.x] feature(code/frontend): show loading indicator if file loading time exceed some amount of time (#42571)
  x-pack/legacy/plugins/code/public/components/editor/editor.tsx
  x-pack/legacy/plugins/code/public/components/main/content.tsx
  x-pack/legacy/plugins/code/public/reducers/file.ts
Labels: backport

#42660 [7.x] feature(code/frontend): apply new document symbol api (#42324)
  x-pack/legacy/plugins/code/public/actions/structure.ts
  x-pack/legacy/plugins/code/public/components/main/side_tabs.tsx
  x-pack/legacy/plugins/code/public/components/symbol_tree/__test__/__fixtures__/props.ts
  x-pack/legacy/plugins/code/public/components/symbol_tree/__test__/__snapshots__/symbol_tree.test.tsx.snap
  x-pack/legacy/plugins/code/public/components/symbol_tree/__test__/symbol_tree.test.tsx
  x-pack/legacy/plugins/code/public/components/symbol_tree/code_symbol_tree.tsx
  x-pack/legacy/plugins/code/public/reducers/__tests__/match_container_name.test.ts
  x-pack/legacy/plugins/code/public/reducers/symbol.ts
  x-pack/legacy/plugins/code/public/sagas/structure.ts
  x-pack/legacy/plugins/code/public/utils/symbol_utils.ts
  x-pack/package.json
  yarn.lock
Labels: backport

#42352 [code] Enable go langserver under non-detach mode.
  x-pack/legacy/plugins/code/server/lsp/abstract_launcher.ts
  x-pack/legacy/plugins/code/server/lsp/go_launcher.ts
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
  x-pack/legacy/plugins/code/server/server_options.ts
Labels: Team:Code, release_note:enhancement, v7.4.0, v8.0.0

#42592 [Markdown Vis] Shim new platform - cleanup markdown_fn.ts
  src/legacy/core_plugins/vis_type_markdown/public/markdown_fn.ts
Labels: Feature:Markdown, Feature:NP Migration, Team:AppArch, release_note:skip, v7.4.0, v8.0.0

#42590 [Metric Vis] (Step 2) Shim new platform - renaming metric_vis -> vis_type_metric
  .i18nrc.json
  src/legacy/core_plugins/vis_type_metric/index.ts
  src/legacy/core_plugins/vis_type_metric/package.json
  src/legacy/core_plugins/vis_type_metric/public/__snapshots__/metric_vis_fn.test.ts.snap
  src/legacy/core_plugins/vis_type_metric/public/__tests__/metric_vis.js
  src/legacy/core_plugins/vis_type_metric/public/__tests__/metric_vis_controller.js
  src/legacy/core_plugins/vis_type_metric/public/_metric_vis.scss
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_controller.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_params/index.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_params/metric_vis_params.html
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_params/metric_vis_params.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_value.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_value.test.js
  src/legacy/core_plugins/vis_type_metric/public/index.scss
  src/legacy/core_plugins/vis_type_metric/public/index.ts
  src/legacy/core_plugins/vis_type_metric/public/legacy.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_fn.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_type.ts
  src/legacy/core_plugins/vis_type_metric/public/plugin.ts
  src/legacy/core_plugins/vis_type_metric/public/shim/index.ts
  src/legacy/core_plugins/vis_type_metric/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/vis_type_metric/public/shim/metric_vis_legacy_module.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:MetricVis, Feature:NP Migration, Team:AppArch, release_note:skip, v7.4.0, v8.0.0

#42589 [Tag Cloud] (Step 2) Shim new platform - renaming tagcloud-> vis_type_tagcloud
  .i18nrc.json
  src/legacy/core_plugins/vis_type_tagcloud/index.ts
  src/legacy/core_plugins/vis_type_tagcloud/package.json
  src/legacy/core_plugins/vis_type_tagcloud/public/__snapshots__/tag_cloud_fn.test.ts.snap
  src/legacy/core_plugins/vis_type_tagcloud/public/_tag_cloud.scss
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/afterparamchange.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/afterresize.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/basicdraw.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/simpleload.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/tag_cloud.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/tag_cloud_visualization.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/feedback_message.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/label.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/tag_cloud.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/tag_cloud_options.tsx
  src/legacy/core_plugins/vis_type_tagcloud/public/components/tag_cloud_visualization.js
  src/legacy/core_plugins/vis_type_tagcloud/public/index.scss
  src/legacy/core_plugins/vis_type_tagcloud/public/index.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/legacy.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/plugin.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_fn.test.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_fn.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_type.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:NP Migration, Feature:Tagcloud, Team:AppArch, release_note:skip, v7.4.0, v8.0.0

#42654 [6.8] move vault setup into repo so all ci logic is in the repo (#42642)
  .ci/run.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: backport

#42520 Fixes #42519 dashboard migration bug
  src/legacy/core_plugins/kibana/public/dashboard/migrations/migrate_to_730_panels.test.ts
  src/legacy/core_plugins/kibana/public/dashboard/migrations/migrate_to_730_panels.ts
  src/legacy/core_plugins/kibana/public/dashboard/migrations/migrations_730.ts
Labels: bug, release_note:fix, v7.3.0, v7.3.1

#42667 [7.x] [Tag Cloud] (Step 2) Shim new platform - renaming tagcloud-> vis_type_tagcloud (#42589)
  .i18nrc.json
  src/legacy/core_plugins/vis_type_tagcloud/index.ts
  src/legacy/core_plugins/vis_type_tagcloud/package.json
  src/legacy/core_plugins/vis_type_tagcloud/public/__snapshots__/tag_cloud_fn.test.ts.snap
  src/legacy/core_plugins/vis_type_tagcloud/public/_tag_cloud.scss
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/afterparamchange.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/afterresize.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/basicdraw.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/simpleload.png
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/tag_cloud.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/__tests__/tag_cloud_visualization.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/feedback_message.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/label.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/tag_cloud.js
  src/legacy/core_plugins/vis_type_tagcloud/public/components/tag_cloud_options.tsx
  src/legacy/core_plugins/vis_type_tagcloud/public/components/tag_cloud_visualization.js
  src/legacy/core_plugins/vis_type_tagcloud/public/index.scss
  src/legacy/core_plugins/vis_type_tagcloud/public/index.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/legacy.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/plugin.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_fn.test.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_fn.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_type.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#42666 [7.x] [Metric Vis] (Step 2) Shim new platform - renaming metric_vis -> vis_type_metric (#42590)
  .i18nrc.json
  src/legacy/core_plugins/vis_type_metric/index.ts
  src/legacy/core_plugins/vis_type_metric/package.json
  src/legacy/core_plugins/vis_type_metric/public/__snapshots__/metric_vis_fn.test.ts.snap
  src/legacy/core_plugins/vis_type_metric/public/__tests__/metric_vis.js
  src/legacy/core_plugins/vis_type_metric/public/__tests__/metric_vis_controller.js
  src/legacy/core_plugins/vis_type_metric/public/_metric_vis.scss
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_controller.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_params/index.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_params/metric_vis_params.html
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_params/metric_vis_params.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_value.js
  src/legacy/core_plugins/vis_type_metric/public/components/metric_vis_value.test.js
  src/legacy/core_plugins/vis_type_metric/public/index.scss
  src/legacy/core_plugins/vis_type_metric/public/index.ts
  src/legacy/core_plugins/vis_type_metric/public/legacy.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_fn.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_type.ts
  src/legacy/core_plugins/vis_type_metric/public/plugin.ts
  src/legacy/core_plugins/vis_type_metric/public/shim/index.ts
  src/legacy/core_plugins/vis_type_metric/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/vis_type_metric/public/shim/metric_vis_legacy_module.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#42664 [7.x] [Markdown Vis] Shim new platform - cleanup markdown_fn.ts (#42592)
  src/legacy/core_plugins/vis_type_markdown/public/markdown_fn.ts
Labels: backport

#42243 [LogsUI] [InfraUI] Turn source configuration into a tab and standardize the main navigation
  x-pack/legacy/plugins/infra/public/components/logging/log_text_stream/column_headers.tsx
  x-pack/legacy/plugins/infra/public/components/logging/log_text_stream/scrollable_log_text_stream_view.tsx
  x-pack/legacy/plugins/infra/public/components/metrics/invalid_node.tsx
  x-pack/legacy/plugins/infra/public/components/navigation/app_navigation.tsx
  x-pack/legacy/plugins/infra/public/components/navigation/routed_tabs.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/fields_configuration_panel.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/index.ts
  x-pack/legacy/plugins/infra/public/components/source_configuration/indices_configuration_panel.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/log_columns_configuration_panel.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/name_configuration_panel.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/source_configuration_button.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/source_configuration_flyout.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/source_configuration_flyout_state.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/source_configuration_settings.tsx
  x-pack/legacy/plugins/infra/public/components/source_configuration/view_source_configuration_button.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/snapshot/toolbar.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/index.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_header.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/page_providers.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/stream/index.ts
  x-pack/legacy/plugins/infra/public/pages/logs/stream/page.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/stream/page_content.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/stream/page_header.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/stream/page_logs_content.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/stream/page_no_indices_content.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/stream/page_providers.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/stream/page_toolbar.tsx
  x-pack/legacy/plugins/infra/public/pages/metrics/index.tsx
  x-pack/legacy/plugins/infra/public/pages/metrics/page_providers.tsx
  x-pack/legacy/plugins/infra/public/pages/shared/settings/index.tsx
  x-pack/legacy/plugins/infra/public/routes.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/apps/infra/logs_source_configuration.ts
  x-pack/test/functional/apps/infra/metrics_source_configuration.ts
  x-pack/test/functional/page_objects/infra_home_page.ts
  x-pack/test/functional/page_objects/infra_logs_page.ts
  x-pack/test/functional/services/index.ts
  x-pack/test/functional/services/infra_log_stream.ts
  x-pack/test/functional/services/infra_source_configuration_form.ts
Labels: :infrastructure, Feature:Infra UI, Feature:Logs UI, Team:infra-logs-ui, release_note:enhancement, review
