Repository elastic/kibana, pull requests merged in 2019-10, with the labels that each got.

#46856 [Fleet] Change structure of AgentEvents
  x-pack/legacy/plugins/fleet/index.ts
  x-pack/legacy/plugins/fleet/server/libs/agent.test.ts
  x-pack/legacy/plugins/fleet/server/libs/agent.ts
  x-pack/legacy/plugins/fleet/server/libs/compose/kibana.ts
  x-pack/legacy/plugins/fleet/server/mappings.ts
  x-pack/legacy/plugins/fleet/server/repositories/agent_events/__memorize_snapshots__/default.contract.test.slap_snap
  x-pack/legacy/plugins/fleet/server/repositories/agent_events/default.contract.test.ts
  x-pack/legacy/plugins/fleet/server/repositories/agent_events/default.ts
  x-pack/legacy/plugins/fleet/server/repositories/agent_events/in_memory.ts
  x-pack/legacy/plugins/fleet/server/repositories/agent_events/types.ts
  x-pack/legacy/plugins/fleet/server/repositories/agents/__memorize_snapshots__/default.contract.test.slap_snap
  x-pack/legacy/plugins/fleet/server/repositories/agents/default.ts
  x-pack/legacy/plugins/fleet/server/repositories/agents/types.ts
  x-pack/legacy/plugins/fleet/server/repositories/tokens/__memorize_snapshots__/default.contract.test.slap_snap
  x-pack/legacy/plugins/fleet/server/routes/agents/actions.ts
  x-pack/legacy/plugins/fleet/server/routes/agents/checkin.ts
  x-pack/legacy/plugins/fleet/server/routes/agents/events.ts
  x-pack/legacy/plugins/fleet/server/routes/init_api.ts
  x-pack/test/api_integration/apis/fleet/agent_checkin.ts
  x-pack/test/api_integration/apis/fleet/agent_events.ts
  x-pack/test/api_integration/apis/fleet/index.js
  x-pack/test/functional/es_archives/fleet/agents/data.json
  x-pack/test/functional/es_archives/fleet/agents/mappings.json
Labels: :Fleet

#46998 [7.3] [APM] Fix agent config flyout state (#46950)
  x-pack/legacy/plugins/apm/public/components/app/Settings/AddSettings/AddSettingFlyoutBody.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/SettingsList.tsx
Labels: backport

#46994 [7.x] Convert uiSettings tests to TypeScript (#46776)
  src/legacy/server/kbn_server.d.ts
  src/legacy/ui/ui_settings/create_objects_client_stub.ts
  src/legacy/ui/ui_settings/create_or_upgrade_saved_config/create_or_upgrade_saved_config.test.ts
  src/legacy/ui/ui_settings/create_or_upgrade_saved_config/integration_tests/create_or_upgrade.test.ts
  src/legacy/ui/ui_settings/create_or_upgrade_saved_config/is_config_version_upgradeable.test.ts
  src/legacy/ui/ui_settings/integration_tests/ui_settings_mixin.test.ts
  src/legacy/ui/ui_settings/routes/__tests__/lib/index.js
  src/legacy/ui/ui_settings/routes/integration_tests/doc_exists.ts
  src/legacy/ui/ui_settings/routes/integration_tests/doc_missing.ts
  src/legacy/ui/ui_settings/routes/integration_tests/doc_missing_and_index_read_only.ts
  src/legacy/ui/ui_settings/routes/integration_tests/index.test.ts
  src/legacy/ui/ui_settings/routes/integration_tests/lib/assert.ts
  src/legacy/ui/ui_settings/routes/integration_tests/lib/chance.ts
  src/legacy/ui/ui_settings/routes/integration_tests/lib/index.ts
  src/legacy/ui/ui_settings/routes/integration_tests/lib/servers.ts
  src/legacy/ui/ui_settings/ui_settings_service.test.ts
Labels: backport

#46966 [7.x] Expose serverBasePath fixes #45991 (#45995)
  docs/development/core/server/kibana-plugin-server.basepath.get.md
  docs/development/core/server/kibana-plugin-server.basepath.md
  docs/development/core/server/kibana-plugin-server.basepath.prepend.md
  docs/development/core/server/kibana-plugin-server.basepath.remove.md
  docs/development/core/server/kibana-plugin-server.basepath.serverbasepath.md
  docs/development/core/server/kibana-plugin-server.basepath.set.md
  docs/development/core/server/kibana-plugin-server.httpserversetup.basepath.md
  docs/development/core/server/kibana-plugin-server.httpserversetup.md
  docs/development/core/server/kibana-plugin-server.ibasepath.md
  docs/development/core/server/kibana-plugin-server.md
  src/core/server/http/base_path_service.test.ts
  src/core/server/http/base_path_service.ts
  src/core/server/http/http_server.ts
  src/core/server/http/http_service.mock.ts
  src/core/server/http/index.ts
  src/core/server/index.ts
  src/core/server/server.api.md
Labels: backport

#46941 [7.x] Remove redundant request to fetch index patterns (#44998)
  src/legacy/core_plugins/data/public/index_patterns/index_patterns/index_patterns.ts
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
Labels: backport

#46332 URL field formatter fix
  src/legacy/core_plugins/kibana/common/field_formats/types/__tests__/url.js
  src/legacy/core_plugins/kibana/common/field_formats/types/url.js
Labels: Feature:FieldFormatters, release_note:fix, v7.5.0

#45881 [Vis: Default Editor] 'Metrics & Axis' tab - unit tests
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/category_axis_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/chart_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/custom_extents_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/index.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/label_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/line_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/value_axes_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/value_axis_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/y_extents.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/category_axis_panel.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/category_axis_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/chart_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/chart_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/custom_extents_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/custom_extents_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/index.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/index.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/label_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/label_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/line_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/line_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/mocks.ts
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/series_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axes_panel.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axes_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axis_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/y_extents.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/y_extents.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/utils/collections.ts
Labels: Feature:Vis Editor, release_note:skip, test-unit, v7.5.0, v8.0.0

#46944 [7.x] [Logs UI] Remove table view from Analysis feature (#46688)
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/sections/log_rate/index.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/sections/log_rate/log_rate_view_switcher.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/sections/log_rate/table.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#47017 [7.x] [Vis: Default Editor] 'Metrics & Axis' tab - unit tests (#45881)
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/category_axis_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/chart_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/custom_extents_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/index.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/label_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/line_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/value_axes_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/value_axis_options.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/y_extents.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/category_axis_panel.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/category_axis_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/chart_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/chart_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/custom_extents_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/custom_extents_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/index.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/index.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/label_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/label_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/line_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/line_options.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/mocks.ts
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/series_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axes_panel.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axes_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axis_options.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/y_extents.test.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/y_extents.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/utils/collections.ts
Labels: backport

#46948 Advanced ui actions 2 np
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  x-pack/.i18nrc.json
  x-pack/index.js
  x-pack/legacy/plugins/advanced_ui_actions/index.ts
  x-pack/legacy/plugins/advanced_ui_actions/public/np_ready/public/legacy.ts
  x-pack/plugins/advanced_ui_actions/kibana.json
  x-pack/plugins/advanced_ui_actions/public/can_inherit_time_range.test.ts
  x-pack/plugins/advanced_ui_actions/public/can_inherit_time_range.ts
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_action.test.ts
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_action.tsx
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_badge.test.ts
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_badge.tsx
  x-pack/plugins/advanced_ui_actions/public/customize_time_range_modal.tsx
  x-pack/plugins/advanced_ui_actions/public/does_inherit_time_range.ts
  x-pack/plugins/advanced_ui_actions/public/index.ts
  x-pack/plugins/advanced_ui_actions/public/plugin.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/index.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/time_range_container.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/time_range_embeddable.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/time_range_embeddable_factory.ts
  x-pack/plugins/advanced_ui_actions/public/types.ts
Labels: release_note:dev_docs, v7.5.0

#46961 Revert "[APM] Fix agent config flyout state (#46950)"
  x-pack/legacy/plugins/apm/public/components/app/Settings/AddSettings/AddSettingFlyout.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/AddSettings/AddSettingFlyoutBody.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/index.tsx
Labels: release_note:skip, v7.5.0

#46719 Removing New Visualization title on save
  src/legacy/core_plugins/kibana/public/visualize/saved_visualizations/_saved_vis.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Vis Editor, Team:KibanaApp, release_note:skip, v7.5.0, v8.0.0

#46952 [7.x] [Console] Notifications Service (#46215)
  src/legacy/core_plugins/console/np_ready/public/application/components/console_menu.tsx
  src/legacy/core_plugins/console/np_ready/public/application/containers/editor/legacy/console_editor/editor.tsx
  src/legacy/core_plugins/console/np_ready/public/application/context/app_context.tsx
  src/legacy/core_plugins/console/np_ready/public/application/index.tsx
  src/legacy/core_plugins/console/np_ready/public/legacy.ts
  src/legacy/core_plugins/console/np_ready/public/plugin.ts
Labels: backport

#46595 Increase breadcrumb `max` setting
  src/core/public/chrome/ui/header/header_breadcrumbs.tsx
Labels: release_note:enhancement, v7.5.0

#47024 [7.x] [Canvas] Translate Arguments and Datasources (#46521)
  x-pack/legacy/plugins/canvas/canvas_plugin_src/strings/ui.ts
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/axis_config/extended_template.tsx
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/axis_config/index.ts
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/datacolumn/index.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/datacolumn/simple_math_function.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/date_format/index.ts
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/number.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/number_format/index.ts
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/percentage.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/range.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/select.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/shape.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/string.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/textarea.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/arguments/toggle.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/datasources/demodata.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/datasources/essql.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/datasources/timelion.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/models/point_series.js
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/transforms/formatdate.ts
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/transforms/formatnumber.ts
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/transforms/rounddate.ts
  x-pack/legacy/plugins/canvas/canvas_plugin_src/uis/transforms/sort.js
  x-pack/legacy/plugins/canvas/i18n/constants.ts
  x-pack/legacy/plugins/canvas/public/components/datasource/datasource_preview/datasource_preview.js
  x-pack/legacy/plugins/canvas/public/lib/template_from_react_component.tsx
Labels: backport

#46615 [Lens] Making field filters more obvious
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/_frame_layout.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/_datapanel.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.5.0, v8.0.0

#46923 [SIEM] Update wording
  x-pack/legacy/plugins/siem/public/components/page/hosts/events_over_time/translation.ts
  x-pack/legacy/plugins/siem/public/components/page/network/tls_table/translations.ts
  x-pack/legacy/plugins/siem/public/pages/hosts/hosts_navigations.tsx
Labels: Team:SIEM, release_note:skip, v7.5.0, v8.0.0

#47029 Update CODEOWNERS
  .github/CODEOWNERS
Labels: release_note:skip, v7.5.0

#46921 Preparation for move core_plugins\kibana\common\field_formats into data plugin
  src/legacy/core_plugins/kibana/common/field_formats/types/boolean.ts
  src/plugins/data/common/field_formats/content_types/html_content_type.ts
  src/plugins/data/common/field_formats/content_types/index.ts
  src/plugins/data/common/field_formats/content_types/text_content_type.ts
  src/plugins/data/common/field_formats/converters/custom.ts
  src/plugins/data/common/field_formats/field_format.test.ts
  src/plugins/data/common/field_formats/field_format.ts
  src/plugins/data/common/field_formats/types.ts
Labels: Feature:FieldFormatters, Team:AppArch, release_note:skip, v7.5.0, v8.0.0

#47016 [7.x] URL field formatter fix (#46332)
  src/legacy/core_plugins/kibana/common/field_formats/types/__tests__/url.js
  src/legacy/core_plugins/kibana/common/field_formats/types/url.js
Labels: backport, v7.5.0

#46689 [Uptime] added aria label description for ping over time chart
  x-pack/legacy/plugins/uptime/public/components/functional/charts/chart_wrapper/chart_wrapper.tsx
  x-pack/legacy/plugins/uptime/public/components/functional/charts/snapshot_histogram.tsx
Labels: Team:uptime, release_note:fix, v7.5.0, v8.0.0

#47034 [7.x] Increase breadcrumb `max` setting (#46595)
  src/core/public/chrome/ui/header/header_breadcrumbs.tsx
Labels: backport

#47037 [7.x] [Lens] Making field filters more obvious (#46615)
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/_frame_layout.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/_datapanel.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.tsx
Labels: backport

#47039 [7.x] [SIEM] Update wording (#46923)
  x-pack/legacy/plugins/siem/public/components/page/hosts/events_over_time/translation.ts
  x-pack/legacy/plugins/siem/public/components/page/network/tls_table/translations.ts
  x-pack/legacy/plugins/siem/public/pages/hosts/hosts_navigations.tsx
Labels: backport

#47033 [7.x] [Console] Editor component smoke tests (#45872)
  src/legacy/core_plugins/console/np_ready/public/application/components/console_menu.tsx
  src/legacy/core_plugins/console/np_ready/public/application/containers/editor/legacy/console_editor/editor.test.tsx
  src/legacy/core_plugins/console/np_ready/public/application/containers/editor/legacy/console_editor/editor.tsx
  test/functional/page_objects/console_page.js
Labels: backport

#47010 [7.x] Update mocha related packages (major) (#43915)
  package.json
  packages/eslint-config-kibana/package.json
  packages/kbn-test/src/functional_test_runner/lib/mocha/filter_suites_by_tags.test.js
  x-pack/legacy/plugins/ml/server/models/data_recognizer/__tests__/data_recognizer.js
  x-pack/package.json
  x-pack/tasks/test.js
  x-pack/test/mocha.opts
  yarn.lock
Labels: backport

#46279 Issue 46223: Allow isCollectionEnabledUpdated to hang until data is available
  x-pack/legacy/plugins/monitoring/public/components/no_data/explanations/collection_enabled/collection_enabled.js
  x-pack/legacy/plugins/monitoring/public/lib/elasticsearch_settings/enabler.js
  x-pack/legacy/plugins/monitoring/public/views/no_data/controller.js
Labels: Team:Monitoring, bug, release_note:fix, review, v7.4.1, v7.5.0, v8.0.0

#46990 [7.2][DOCS] Updates links to Watcher content (#46636) (#46873)
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/user/monitoring/cluster-alerts.asciidoc
  docs/user/reporting/watch-example.asciidoc
Labels: backport

#46492 [Uptime] Fix flaky unit test snapshot
  x-pack/legacy/plugins/uptime/server/lib/adapters/monitor_states/__tests__/elasticsearch_monitor_states_adapter.test.ts
  x-pack/legacy/plugins/uptime/server/lib/adapters/monitors/__tests__/elasticsearch_monitors_adapter.test.ts
  x-pack/legacy/plugins/uptime/server/lib/helper/__test__/__snapshots__/assert_close_to.test.ts.snap
  x-pack/legacy/plugins/uptime/server/lib/helper/__test__/assert_close_to.test.ts
  x-pack/legacy/plugins/uptime/server/lib/helper/assert_close_to.ts
  x-pack/legacy/plugins/uptime/server/lib/helper/index.ts
Labels: Team:uptime, [zube]: In Review, release_note:skip, test-failure-flaky, v7.5.0, v8.0.0

#46991 [7.x] unskip dashboard_screenshot tests by using new setScreenshotSize (#46311)
  package.json
  test/functional/apps/dashboard/dashboard_snapshots.js
  test/functional/apps/dashboard/index.js
  test/functional/config.js
  test/functional/page_objects/dashboard_page.js
  test/functional/page_objects/header_page.js
  test/functional/screenshots/baseline/area_chart.png
  test/functional/screenshots/baseline/tsvb_dashboard.png
  test/functional/services/browser.ts
  test/functional/services/flyout.ts
  test/functional/services/lib/web_element_wrapper/web_element_wrapper.ts
  test/scripts/jenkins_build_kibana.sh
  x-pack/package.json
  yarn.lock
Labels: backport

#47036 [APM]Removing 0 suffix if array contains only one element
  x-pack/legacy/plugins/apm/public/components/shared/DottedKeyValueTable/__test__/DottedKeyValueTable.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/DottedKeyValueTable/index.tsx
Labels: release_note:enhancement, v7.5.0

#47020 [7.x] Advanced ui actions 2 np (#46948)
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  x-pack/.i18nrc.json
  x-pack/index.js
  x-pack/legacy/plugins/advanced_ui_actions/index.ts
  x-pack/legacy/plugins/advanced_ui_actions/public/np_ready/public/legacy.ts
  x-pack/plugins/advanced_ui_actions/kibana.json
  x-pack/plugins/advanced_ui_actions/public/can_inherit_time_range.test.ts
  x-pack/plugins/advanced_ui_actions/public/can_inherit_time_range.ts
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_action.test.ts
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_action.tsx
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_badge.test.ts
  x-pack/plugins/advanced_ui_actions/public/custom_time_range_badge.tsx
  x-pack/plugins/advanced_ui_actions/public/customize_time_range_modal.tsx
  x-pack/plugins/advanced_ui_actions/public/does_inherit_time_range.ts
  x-pack/plugins/advanced_ui_actions/public/index.ts
  x-pack/plugins/advanced_ui_actions/public/plugin.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/index.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/time_range_container.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/time_range_embeddable.ts
  x-pack/plugins/advanced_ui_actions/public/test_helpers/time_range_embeddable_factory.ts
  x-pack/plugins/advanced_ui_actions/public/types.ts
Labels: backport

#47055 time picker to filter
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
Labels: Team:AppArch, release_note:skip, v7.5.0, v8.0.0

#47061 [DOCS] Updates highlights doc to link to release blogs
  docs/release-notes/highlights-7.4.0.asciidoc
Labels: Team:Docs, release_note:skip, v7.5.0

#47064 [DOCS] Adds links to 7.4 highlights doc
  docs/release-notes/highlights-7.4.0.asciidoc
Labels: Team:Docs, release_note:skip, v7.4.0

#46721 [Lens] Default to stacked bar and reduce number of suggestions
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/_suggestion_panel.scss
  x-pack/legacy/plugins/lens/public/index.scss
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/index.scss
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_expression.test.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_expression.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/__snapshots__/xy_expression.test.tsx.snap
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/_xy_expression.scss
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.tsx
Labels: Feature:Lens, release_note:skip, v7.5.0, v8.0.0

#47006 [SIEM][Detection Engine] Temporary re-indexer and starting folder
  x-pack/legacy/plugins/siem/index.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/README.md
  x-pack/legacy/plugins/siem/server/lib/detection_engine/alerts/build_events_query.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/alerts/build_events_reindex.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/alerts/signals_alert_type.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/signals_mapping.json
Labels: Team:SIEM, release_note:enhancement, v7.5.0, v8.0.0

#47049 [7.x] Issue 46223: Allow isCollectionEnabledUpdated to hang until data is available (#46279)
  x-pack/legacy/plugins/monitoring/public/components/no_data/explanations/collection_enabled/collection_enabled.js
  x-pack/legacy/plugins/monitoring/public/lib/elasticsearch_settings/enabler.js
  x-pack/legacy/plugins/monitoring/public/views/no_data/controller.js
Labels: backport

#47071 [7.x] [Lens] Default to stacked bar and reduce number of suggestions (#46721)
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/_suggestion_panel.scss
  x-pack/legacy/plugins/lens/public/index.scss
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/index.scss
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_expression.test.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_expression.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/__snapshots__/xy_expression.test.tsx.snap
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/_xy_expression.scss
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.tsx
Labels: backport

#47054 [7.1][DOCS] Updates links to Watcher content (#46636)
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/user/monitoring/cluster-alerts.asciidoc
  docs/user/reporting/watch-example.asciidoc
Labels: backport

#47060 [7.0][DOCS] Updates links to Watcher content (#46636)
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/user/monitoring/cluster-alerts.asciidoc
  docs/user/reporting/watch-example.asciidoc
Labels: backport

#47068 Make check_core_api_changes script faster
  src/dev/run_check_core_api_changes.ts
Labels: Feature:New Platform, Team:Platform, release_note:skip, v7.5.0

#47078 [7.x] [SIEM][Detection Engine] Temporary re-indexer and starting folder (#47006)
  x-pack/legacy/plugins/siem/index.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/README.md
  x-pack/legacy/plugins/siem/server/lib/detection_engine/alerts/build_events_query.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/alerts/build_events_reindex.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/alerts/signals_alert_type.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/signals_mapping.json
Labels: backport

#47063 [7.x] time picker to filter (#47055)
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
Labels: backport

#47092 [7.x] [Uptime] added aria label description for ping over time chart (#46689)
  x-pack/legacy/plugins/uptime/public/components/functional/charts/chart_wrapper/chart_wrapper.tsx
  x-pack/legacy/plugins/uptime/public/components/functional/charts/snapshot_histogram.tsx
Labels: backport

#47032 [ML] Update data-test-subj attributes for action buttons and add ml namespace
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_actions/management.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_details/job_details.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_details/job_details_pane.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_group/job_group.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/jobs_list/jobs_list.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/detector_title/detector_title.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/influencers/influencers_select.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/multi_metric_view/chart_grid.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/population_view/chart_grid.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/split_cards/split_cards.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/split_field/by_field.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/split_field/split_field.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range_picker.tsx
  x-pack/test/functional/services/machine_learning/job_table.ts
  x-pack/test/functional/services/machine_learning/job_wizard_common.ts
  x-pack/test/functional/services/machine_learning/job_wizard_multi_metric.ts
  x-pack/test/functional/services/machine_learning/job_wizard_population.ts
Labels: :ml, release_note:skip, test_ui_functional, v7.5.0, v8.0.0

#46679 [Discover] De-angularize side bar search field
  src/legacy/core_plugins/kibana/public/discover/_discover.scss
  src/legacy/core_plugins/kibana/public/discover/_hacks.scss
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/_field_chooser.scss
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_field_search.test.tsx
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_field_search.tsx
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_field_search_directive.ts
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.html
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.js
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/legacy/ui/public/styles/_legacy/components/_sidebar.scss
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Discover, Team:KibanaApp, release_note:enhancement, v7.5.0, v8.0.0

#46896 [7.x] [discover] De-angularize index pattern selection (#46347)
  src/legacy/core_plugins/kibana/public/discover/__tests__/directives/field_chooser.js
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/__snapshots__/discover_index_pattern.test.tsx.snap
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_index_pattern.test.tsx
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_index_pattern.tsx
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_index_pattern_directive.ts
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_index_pattern_title.tsx
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.html
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.js
  src/legacy/ui/public/styles/_legacy/components/_sidebar.scss
  test/functional/page_objects/discover_page.js
Labels: backport

#47052 [6.8] [ML] Fix to automatically apply refresh settings set in URL
  x-pack/plugins/ml/public/util/refresh_interval_watcher.js
Labels: :ml, Feature:Anomaly Detection, release_note:fix, review, v6.8.4

#46933 [ML] Job type page
  x-pack/legacy/plugins/ml/public/_hacks.scss
  x-pack/legacy/plugins/ml/public/breadcrumbs.ts
  x-pack/legacy/plugins/ml/public/components/create_job_link_card/create_job_link_card.tsx
  x-pack/legacy/plugins/ml/public/components/data_recognizer/_data_recognizer.scss
  x-pack/legacy/plugins/ml/public/components/data_recognizer/_index.scss
  x-pack/legacy/plugins/ml/public/components/data_recognizer/data_recognizer.d.ts
  x-pack/legacy/plugins/ml/public/components/data_recognizer/data_recognizer.js
  x-pack/legacy/plugins/ml/public/components/data_recognizer/recognized_result.js
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/actions_panel/actions_panel.tsx
  x-pack/legacy/plugins/ml/public/index.scss
  x-pack/legacy/plugins/ml/public/jobs/breadcrumbs.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/_wizard.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/__tests__/job_type_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type.html
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/__test__/directive.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/directive.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/page.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/route.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/route.ts
  x-pack/legacy/plugins/ml/public/util/index_utils.js
  x-pack/legacy/plugins/ml/public/util/index_utils.ts
  x-pack/legacy/plugins/ml/public/util/recently_accessed.ts
Labels: :ml, Feature:Anomaly Detection, release_note:enhancement, v7.5.0, v8.0.0

#46361 [ML] Transforms: Remove deprecated force parameter from start action.
  x-pack/legacy/plugins/ml/server/client/elasticsearch_ml.js
  x-pack/legacy/plugins/ml/server/models/data_frame/transforms.ts
Labels: :ml, Feature:Transforms, regression, release_note:skip, v7.5.0, v8.0.0

#47031 Removing default title from saving a new search in Discover
  src/legacy/core_plugins/kibana/public/discover/saved_searches/_saved_search.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Discover, Team:KibanaApp, release_note:skip, v7.5.0, v8.0.0

#47095 [7.x] [ML] Update data-test-subj attributes for action buttons and add ml namespace (#47032)
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_actions/management.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_details/job_details.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_details/job_details_pane.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/job_group/job_group.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/jobs_list/jobs_list.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/detector_title/detector_title.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/influencers/influencers_select.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/multi_metric_view/chart_grid.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/population_view/chart_grid.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/split_cards/split_cards.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/split_field/by_field.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/pick_fields_step/components/split_field/split_field.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/time_range_step/time_range_picker.tsx
  x-pack/test/functional/services/machine_learning/job_table.ts
  x-pack/test/functional/services/machine_learning/job_wizard_common.ts
  x-pack/test/functional/services/machine_learning/job_wizard_multi_metric.ts
  x-pack/test/functional/services/machine_learning/job_wizard_population.ts
Labels: :ml, backport

#47097 [7.x] [Discover] De-angularize side bar search field (#46679)
  src/legacy/core_plugins/kibana/public/discover/_discover.scss
  src/legacy/core_plugins/kibana/public/discover/_hacks.scss
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/_field_chooser.scss
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_field_search.test.tsx
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_field_search.tsx
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_field_search_directive.ts
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.html
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.js
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/legacy/ui/public/styles/_legacy/components/_sidebar.scss
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#46575 [Vis: Default Editor] Prevent disabling of the only metrics agg
  src/legacy/ui/public/vis/editors/default/components/agg.test.tsx
  src/legacy/ui/public/vis/editors/default/components/agg.tsx
  src/legacy/ui/public/vis/editors/default/components/agg_group.tsx
  src/legacy/ui/public/vis/editors/default/components/agg_group_helper.test.ts
  src/legacy/ui/public/vis/editors/default/components/agg_group_helper.tsx
  src/legacy/ui/public/vis/editors/default/sidebar.js
Labels: Feature:Vis Editor, release_note:fix, v7.5.0, v8.0.0

#47099 [7.x] Removing 0 sufix if array contains only one element (#47036)
  x-pack/legacy/plugins/apm/public/components/shared/DottedKeyValueTable/__test__/DottedKeyValueTable.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/DottedKeyValueTable/index.tsx
Labels: backport

#47094 [7.x] Removing New Visualization title on save (#46719)
  src/legacy/core_plugins/kibana/public/visualize/saved_visualizations/_saved_vis.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#46799 [Graph] Reactify visualization
  x-pack/legacy/plugins/graph/public/_main.scss
  x-pack/legacy/plugins/graph/public/angular/templates/_graph.scss
  x-pack/legacy/plugins/graph/public/angular/templates/index.html
  x-pack/legacy/plugins/graph/public/app.js
  x-pack/legacy/plugins/graph/public/components/_index.scss
  x-pack/legacy/plugins/graph/public/components/graph_visualization/__snapshots__/graph_visualization.test.tsx.snap
  x-pack/legacy/plugins/graph/public/components/graph_visualization/_graph_visualization.scss
  x-pack/legacy/plugins/graph/public/components/graph_visualization/_index.scss
  x-pack/legacy/plugins/graph/public/components/graph_visualization/graph_visualization.test.tsx
  x-pack/legacy/plugins/graph/public/components/graph_visualization/graph_visualization.tsx
  x-pack/legacy/plugins/graph/public/components/graph_visualization/index.ts
  x-pack/legacy/plugins/graph/public/components/legacy_icon/_legacy_icon.scss
  x-pack/legacy/plugins/graph/public/components/legacy_icon/legacy_icon.tsx
  x-pack/legacy/plugins/graph/public/helpers/style_choices.ts
  x-pack/legacy/plugins/graph/public/services/persistence/deserialize.test.ts
  x-pack/legacy/plugins/graph/public/types/workspace_state.ts
Labels: Feature:Graph, Team:KibanaApp, release_note:skip, v7.5.0, v8.0.0

#47080 [Uptime] Fix jerky monitor list expanded row behavior
  x-pack/legacy/plugins/uptime/public/components/functional/charts/chart_wrapper/chart_wrapper.tsx
  x-pack/legacy/plugins/uptime/public/components/functional/monitor_list/monitor_list.tsx
Labels: Team:uptime, [zube]: In Review, bug, polish, release_note:fix, v7.4.1

#46702 Create a pre wired version of SearchBar
  src/legacy/core_plugins/data/public/legacy.ts
  src/legacy/core_plugins/data/public/plugin.ts
  src/legacy/core_plugins/data/public/query/query_bar/components/__snapshots__/query_bar_input.test.tsx.snap
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_input.test.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_input.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_top_row.test.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_top_row.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/create_search_bar.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/index.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.test.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.tsx
  src/legacy/core_plugins/data/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/data/public/timefilter/get_time.ts
  src/legacy/core_plugins/data/public/timefilter/timefilter.test.mocks.ts
  src/legacy/core_plugins/data/public/timefilter/timefilter.ts
  src/legacy/core_plugins/data/public/types.ts
  src/legacy/core_plugins/kibana_react/public/top_nav_menu/top_nav_menu.test.tsx
  src/legacy/core_plugins/kibana_react/public/top_nav_menu/top_nav_menu.tsx
  src/legacy/core_plugins/vis_type_markdown/public/markdown_vis_controller.test.tsx
  src/legacy/core_plugins/vis_type_timeseries/public/components/vis_editor.js
  src/legacy/ui/public/kbn_top_nav/kbn_top_nav.js
  src/legacy/ui/public/vis/editors/default/controls/filter.tsx
  src/plugins/data/public/autocomplete_provider/types.ts
  src/plugins/data/public/index.ts
  src/plugins/data/public/plugin.ts
  src/plugins/data/public/types.ts
  x-pack/legacy/plugins/graph/public/angular/templates/index.html
  x-pack/legacy/plugins/graph/public/app.js
  x-pack/legacy/plugins/graph/public/components/app.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.test.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.tsx
  x-pack/legacy/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/legacy/plugins/lens/public/app_plugin/app.tsx
  x-pack/legacy/plugins/lens/public/app_plugin/plugin.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.tsx
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/__snapshots__/view.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/filter_editor/filter_editor.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/join_editor/resources/where_expression.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/view.js
Labels: Feature:NP Migration, Team:AppArch, release_note:dev_docs, v7.5.0, v8.0.0

#46864 [Lens] Field item hovers, empty state graphic, and operation not applicable callout
  x-pack/legacy/plugins/lens/public/assets/lens_app_graphic_dark_2x.png
  x-pack/legacy/plugins/lens/public/assets/lens_app_graphic_light_2x.png
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/editor_frame.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_panel.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/_datapanel.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/_field_item.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/dimension_panel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/popover_editor.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/field_icon.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/field_icon.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/field_item.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern_suggestions.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/date_histogram.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/terms.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/operations.test.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/state_helpers.test.ts
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.5.0, v8.0.0

#47098 [7.x] [ML] Job type page (#46933)
  x-pack/legacy/plugins/ml/public/_hacks.scss
  x-pack/legacy/plugins/ml/public/breadcrumbs.ts
  x-pack/legacy/plugins/ml/public/components/create_job_link_card/create_job_link_card.tsx
  x-pack/legacy/plugins/ml/public/components/data_recognizer/_data_recognizer.scss
  x-pack/legacy/plugins/ml/public/components/data_recognizer/_index.scss
  x-pack/legacy/plugins/ml/public/components/data_recognizer/data_recognizer.d.ts
  x-pack/legacy/plugins/ml/public/components/data_recognizer/data_recognizer.js
  x-pack/legacy/plugins/ml/public/components/data_recognizer/recognized_result.js
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/actions_panel/actions_panel.tsx
  x-pack/legacy/plugins/ml/public/index.scss
  x-pack/legacy/plugins/ml/public/jobs/breadcrumbs.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/_wizard.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/__tests__/job_type_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type.html
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/job_type/job_type_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/__test__/directive.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/directive.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/page.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/job_type/route.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/route.ts
  x-pack/legacy/plugins/ml/public/util/index_utils.js
  x-pack/legacy/plugins/ml/public/util/index_utils.ts
  x-pack/legacy/plugins/ml/public/util/recently_accessed.ts
Labels: :ml, Feature:Anomaly Detection, backport, v7.5.0

#47096 [7.4] [ML] Fix flaky setValue for some elements (#46693)
  test/functional/services/test_subjects.ts
  x-pack/test/functional/services/machine_learning/job_wizard_common.ts
Labels: :ml, backport

#46962 [Uptime] [7.4.1] Add fix for empty name filter
  x-pack/legacy/plugins/uptime/server/lib/adapters/monitors/__tests__/__snapshots__/elasticsearch_monitors_adapter.test.ts.snap
  x-pack/legacy/plugins/uptime/server/lib/adapters/monitors/__tests__/elasticsearch_monitors_adapter.test.ts
  x-pack/legacy/plugins/uptime/server/lib/adapters/monitors/__tests__/filter_result.json
  x-pack/legacy/plugins/uptime/server/lib/adapters/monitors/elasticsearch_monitors_adapter.ts
  x-pack/test/api_integration/apis/uptime/graphql/fixtures/filter_list.json
Labels: Team:uptime, [zube]: In Review, bug, release_note:fix, v7.4.1

#47107 [7.x] [Vis: Default Editor] Prevent disabling of the only metrics agg (#46575)
  src/legacy/ui/public/vis/editors/default/components/agg.test.tsx
  src/legacy/ui/public/vis/editors/default/components/agg.tsx
  src/legacy/ui/public/vis/editors/default/components/agg_group.tsx
  src/legacy/ui/public/vis/editors/default/components/agg_group_helper.test.ts
  src/legacy/ui/public/vis/editors/default/components/agg_group_helper.tsx
  src/legacy/ui/public/vis/editors/default/sidebar.js
Labels: backport

#47043 [Maps] More compressed forms
  x-pack/legacy/plugins/maps/public/components/__snapshots__/geometry_filter_form.test.js.snap
  x-pack/legacy/plugins/maps/public/components/_index.scss
  x-pack/legacy/plugins/maps/public/components/geometry_filter_form.js
  x-pack/legacy/plugins/maps/public/components/metric_editor.js
  x-pack/legacy/plugins/maps/public/components/metrics_editor.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/_index.scss
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/layer_settings/layer_settings.js
  x-pack/legacy/plugins/maps/public/connected_components/toolbar_overlay/set_view_control/set_view_control.js
  x-pack/legacy/plugins/maps/public/connected_components/toolbar_overlay/tools_control/__snapshots__/tools_control.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/toolbar_overlay/tools_control/tools_control.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/update_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/__snapshots__/vector_style_symbol_editor.test.js.snap
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/color/_color_stops.scss
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/orientation/static_orientation_selection.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/size/size_range_selector.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/size/static_size_selection.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/vector_style_symbol_editor.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Geo, release_note:skip, v7.5.0, v8.0.0

#47110 [7.x] [Graph] Reactify visualization (#46799)
  x-pack/legacy/plugins/graph/public/_main.scss
  x-pack/legacy/plugins/graph/public/angular/templates/_graph.scss
  x-pack/legacy/plugins/graph/public/angular/templates/index.html
  x-pack/legacy/plugins/graph/public/app.js
  x-pack/legacy/plugins/graph/public/components/_index.scss
  x-pack/legacy/plugins/graph/public/components/graph_visualization/__snapshots__/graph_visualization.test.tsx.snap
  x-pack/legacy/plugins/graph/public/components/graph_visualization/_graph_visualization.scss
  x-pack/legacy/plugins/graph/public/components/graph_visualization/_index.scss
  x-pack/legacy/plugins/graph/public/components/graph_visualization/graph_visualization.test.tsx
  x-pack/legacy/plugins/graph/public/components/graph_visualization/graph_visualization.tsx
  x-pack/legacy/plugins/graph/public/components/graph_visualization/index.ts
  x-pack/legacy/plugins/graph/public/components/legacy_icon/_legacy_icon.scss
  x-pack/legacy/plugins/graph/public/components/legacy_icon/legacy_icon.tsx
  x-pack/legacy/plugins/graph/public/helpers/style_choices.ts
  x-pack/legacy/plugins/graph/public/services/persistence/deserialize.test.ts
  x-pack/legacy/plugins/graph/public/types/workspace_state.ts
Labels: backport

#46960 [SR] render alert icon in policy table if last snapshot failed
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/_home.scss
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_table/policy_table.tsx
Labels: Feature:Snapshot and Restore, Team:Elasticsearch UI, release_note:skip, v7.5.0, v8.0.0

#47085 [6.8][DOCS] Updates links to Watcher content (#46636)
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/user/monitoring/cluster-alerts.asciidoc
  docs/user/reporting/watch-example.asciidoc
Labels: backport

#47103 [7.4] [ML] Fixing job clone time range auto selection (#46582)
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/utils.js
Labels: backport

#47102 [7.4] [ML] Fixing selection of dedicated index when cloning job (#46486)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/job_creator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_creator/util/constants.ts
Labels: backport

#47101 [7.4] [ML] Fixing new job wizards in dark mode (#46333)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/page.tsx
Labels: backport

#47123 [7.x] [ML] Remove deprecated force parameter. (#46361)
  x-pack/legacy/plugins/ml/server/client/elasticsearch_ml.js
  x-pack/legacy/plugins/ml/server/models/data_frame/transforms.ts
Labels: :ml, backport

#47129 [6.7][DOCS] Updates links to Watcher content (#46636)
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/monitoring/cluster-alerts.asciidoc
  docs/reporting/watch-example.asciidoc
Labels: backport

#47114 [APM]Changing status code colors on trace summary
  x-pack/legacy/plugins/apm/public/components/shared/Summary/HttpInfoSummaryItem/__test__/HttpInfoSummaryItem.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Summary/HttpInfoSummaryItem/index.tsx
Labels: release_note:enhancement, v7.5.0

#47115 [7.x] Create a pre wired version of SearchBar (#46702)
  src/legacy/core_plugins/data/public/legacy.ts
  src/legacy/core_plugins/data/public/plugin.ts
  src/legacy/core_plugins/data/public/query/query_bar/components/__snapshots__/query_bar_input.test.tsx.snap
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_input.test.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_input.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_top_row.test.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_top_row.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/create_search_bar.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/index.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.test.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.tsx
  src/legacy/core_plugins/data/public/shim/legacy_dependencies_plugin.ts
  src/legacy/core_plugins/data/public/timefilter/get_time.ts
  src/legacy/core_plugins/data/public/timefilter/timefilter.test.mocks.ts
  src/legacy/core_plugins/data/public/timefilter/timefilter.ts
  src/legacy/core_plugins/data/public/types.ts
  src/legacy/core_plugins/kibana_react/public/top_nav_menu/top_nav_menu.test.tsx
  src/legacy/core_plugins/kibana_react/public/top_nav_menu/top_nav_menu.tsx
  src/legacy/core_plugins/vis_type_markdown/public/markdown_vis_controller.test.tsx
  src/legacy/core_plugins/vis_type_timeseries/public/components/vis_editor.js
  src/legacy/ui/public/kbn_top_nav/kbn_top_nav.js
  src/legacy/ui/public/vis/editors/default/controls/filter.tsx
  src/plugins/data/public/autocomplete_provider/types.ts
  src/plugins/data/public/index.ts
  src/plugins/data/public/plugin.ts
  src/plugins/data/public/types.ts
  x-pack/legacy/plugins/graph/public/angular/templates/index.html
  x-pack/legacy/plugins/graph/public/app.js
  x-pack/legacy/plugins/graph/public/components/app.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.test.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.tsx
  x-pack/legacy/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/legacy/plugins/lens/public/app_plugin/app.tsx
  x-pack/legacy/plugins/lens/public/app_plugin/plugin.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.tsx
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/__snapshots__/view.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/filter_editor/filter_editor.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/join_editor/resources/where_expression.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/view.js
Labels: backport

#47118 [i18n] Update .i18nrc.json in template
  packages/kbn-plugin-generator/sao_template/template/.i18nrc.json
  src/legacy/server/i18n/get_translations_path.js
Labels: Project:i18n, backport, release_note:skip, v7.4.1

#47127 [7.x] [SR] render alert icon in policy table if last snapshot failed (#46960)
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/_home.scss
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_table/policy_table.tsx
Labels: backport

#46234 [7.4] [ML] Data Frame Analytics: Fix permissions check. (#46110)
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/analytics_list/__mocks__/analytics_list_item.json
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/analytics_list/action_delete.test.tsx
  x-pack/legacy/plugins/ml/public/data_frame_analytics/pages/analytics_management/components/analytics_list/action_delete.tsx
  x-pack/legacy/plugins/ml/public/util/test_utils.ts
Labels: :ml, backport

#44678 Support space-specific default routes
  config/kibana.yml
  docs/setup/settings.asciidoc
  src/legacy/core_plugins/kibana/public/management/sections/settings/__snapshots__/advanced_settings.test.js.snap
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/field.js
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/field.test.js
  src/legacy/core_plugins/kibana/public/management/sections/settings/lib/__tests__/to_editable_config.test.js
  src/legacy/core_plugins/kibana/public/management/sections/settings/lib/to_editable_config.js
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
  src/legacy/server/config/schema.js
  src/legacy/server/config/transform_deprecations.js
  src/legacy/server/config/transform_deprecations.test.js
  src/legacy/server/http/index.js
  src/legacy/server/http/integration_tests/default_route_provider.test.ts
  src/legacy/server/http/setup_default_route_provider.ts
  src/legacy/server/kbn_server.d.ts
  x-pack/legacy/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_section/privilege_space_table.tsx
  x-pack/legacy/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_section/space_selector.tsx
  x-pack/legacy/plugins/spaces/common/constants.ts
  x-pack/legacy/plugins/spaces/common/index.ts
  x-pack/legacy/plugins/spaces/common/lib/__snapshots__/spaces_url_parser.test.ts.snap
  x-pack/legacy/plugins/spaces/common/lib/spaces_url_parser.test.ts
  x-pack/legacy/plugins/spaces/common/lib/spaces_url_parser.ts
  x-pack/legacy/plugins/spaces/index.ts
  x-pack/legacy/plugins/spaces/public/components/space_avatar.tsx
  x-pack/legacy/plugins/spaces/public/lib/index.ts
  x-pack/legacy/plugins/spaces/public/lib/space_attributes.test.ts
  x-pack/legacy/plugins/spaces/public/lib/space_attributes.ts
  x-pack/legacy/plugins/spaces/public/lib/spaces_manager.ts
  x-pack/legacy/plugins/spaces/public/views/management/edit_space/customize_space/customize_space_avatar.tsx
  x-pack/legacy/plugins/spaces/public/views/management/index.tsx
  x-pack/legacy/plugins/spaces/public/views/management/page_routes.tsx
  x-pack/legacy/plugins/spaces/public/views/nav_control/nav_control.tsx
  x-pack/legacy/plugins/spaces/public/views/space_selector/index.tsx
  x-pack/legacy/plugins/spaces/server/lib/get_active_space.ts
  x-pack/legacy/plugins/spaces/server/lib/request_interceptors/on_post_auth_interceptor.test.ts
  x-pack/legacy/plugins/spaces/server/lib/request_interceptors/on_post_auth_interceptor.ts
  x-pack/legacy/plugins/spaces/server/lib/request_interceptors/on_request_interceptor.ts
  x-pack/legacy/plugins/spaces/server/new_platform/plugin.ts
  x-pack/legacy/plugins/spaces/server/new_platform/spaces_service/spaces_service.test.ts
  x-pack/legacy/plugins/spaces/server/new_platform/spaces_service/spaces_service.ts
  x-pack/legacy/plugins/spaces/server/routes/api/__fixtures__/create_test_handler.ts
  x-pack/legacy/plugins/spaces/server/routes/api/v1/index.ts
  x-pack/legacy/plugins/spaces/server/routes/api/v1/spaces.test.ts
  x-pack/legacy/plugins/spaces/server/routes/api/v1/spaces.ts
  x-pack/legacy/plugins/spaces/server/routes/views/enter_space.ts
  x-pack/legacy/plugins/spaces/server/routes/views/index.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/apps/spaces/enter_space.ts
  x-pack/test/functional/apps/spaces/index.ts
  x-pack/test/functional/es_archives/spaces/enter_space/data.json
  x-pack/test/functional/es_archives/spaces/enter_space/mappings.json
  x-pack/test/functional/page_objects/space_selector_page.js
  x-pack/test/spaces_api_integration/common/suites/select.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/select.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/index.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/select.ts
Labels: Feature:Security/Spaces, Team:Security, release_note:deprecation, release_note:enhancement, v7.5.0, v8.0.0

#47116 [7.x] [Lens] Field item hovers, empty state graphic, and operation not applicable callout (#46864)
  x-pack/legacy/plugins/lens/public/assets/lens_app_graphic_dark_2x.png
  x-pack/legacy/plugins/lens/public/assets/lens_app_graphic_light_2x.png
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/editor_frame.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_panel.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/workspace_panel.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/_datapanel.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/_field_item.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/dimension_panel.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/dimension_panel/popover_editor.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/field_icon.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/field_icon.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/field_item.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern_suggestions.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/date_histogram.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.test.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/filter_ratio.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/definitions/terms.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/operations/operations.test.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/state_helpers.test.ts
Labels: backport

#47121 [7.x] [Maps] More compressed forms (#47043) (68f20dcc)
  x-pack/legacy/plugins/maps/public/components/__snapshots__/geometry_filter_form.test.js.snap
  x-pack/legacy/plugins/maps/public/components/_index.scss
  x-pack/legacy/plugins/maps/public/components/geometry_filter_form.js
  x-pack/legacy/plugins/maps/public/components/metric_editor.js
  x-pack/legacy/plugins/maps/public/components/metrics_editor.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/_index.scss
  x-pack/legacy/plugins/maps/public/connected_components/layer_panel/layer_settings/layer_settings.js
  x-pack/legacy/plugins/maps/public/connected_components/toolbar_overlay/set_view_control/set_view_control.js
  x-pack/legacy/plugins/maps/public/connected_components/toolbar_overlay/tools_control/__snapshots__/tools_control.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/toolbar_overlay/tools_control/tools_control.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/update_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/__snapshots__/vector_style_symbol_editor.test.js.snap
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/color/_color_stops.scss
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/orientation/static_orientation_selection.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/size/size_range_selector.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/size/static_size_selection.js
  x-pack/legacy/plugins/maps/public/layers/styles/components/vector/vector_style_symbol_editor.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#47100 [Console] Fix Safari layout issue
  src/legacy/core_plugins/console/np_ready/public/application/containers/main/main.tsx
  src/legacy/core_plugins/console/public/quarantined/_app.scss
Labels: Feature:Console, Team:Elasticsearch UI, release_note:fix, v7.5.0

#45949 [Monitoring] Ensure all charts use the configured timezone
  x-pack/legacy/plugins/monitoring/common/formatting.js
  x-pack/legacy/plugins/monitoring/public/components/chart/chart_target.js
  x-pack/legacy/plugins/monitoring/public/components/chart/get_chart_options.js
  x-pack/legacy/plugins/monitoring/public/components/logs/logs.js
  x-pack/legacy/plugins/monitoring/server/lib/details/__test__/get_metrics.test.js
  x-pack/legacy/plugins/monitoring/server/lib/details/get_metrics.js
  x-pack/legacy/plugins/monitoring/server/lib/details/get_series.js
  x-pack/legacy/plugins/monitoring/server/lib/format_timezone.js
  x-pack/legacy/plugins/monitoring/server/lib/get_timezone.js
  x-pack/legacy/plugins/monitoring/server/lib/logs/get_logs.js
  x-pack/test/api_integration/apis/monitoring/logs/fixtures/index_detail.json
  x-pack/test/api_integration/apis/monitoring/logs/fixtures/node_detail.json
Labels: Feature:Stack Monitoring, Team:Monitoring, release_note:fix, review, v7.4.1, v7.5.0, v8.0.0

#47050 [7.4] Issue 46223: Allow isCollectionEnabledUpdated to hang until data is available (#46279)
  x-pack/legacy/plugins/monitoring/public/components/no_data/explanations/collection_enabled/collection_enabled.js
  x-pack/legacy/plugins/monitoring/public/lib/elasticsearch_settings/enabler.js
  x-pack/legacy/plugins/monitoring/public/views/no_data/controller.js
Labels: backport

#47104 [7.4] [ML] Only enable wizard start real time button when job closed (#46127)
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_runner/job_runner.ts
  x-pack/legacy/plugins/ml/public/services/ml_api_service/index.d.ts
  x-pack/legacy/plugins/ml/server/models/job_service/jobs.js
Labels: :ml, Feature:Anomaly Detection, backport

#47105 [7.4] [ML] Adds listener for time filter refresh to data visualizer (#46708)
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/page.tsx
Labels: :ml, backport

#46949 Upgrade EUI to 14.4.0
  package.json
  src/legacy/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/plugins/embeddable/public/lib/test_samples/embeddables/contact_card/contact_card.tsx
  src/plugins/inspector/public/views/data/components/__snapshots__/data_view.test.tsx.snap
  test/interpreter_functional/plugins/kbn_tp_run_pipeline/package.json
  test/plugin_functional/plugins/kbn_tp_custom_visualizations/package.json
  test/plugin_functional/plugins/kbn_tp_embeddable_explorer/package.json
  test/plugin_functional/plugins/kbn_tp_sample_panel_action/package.json
  test/plugin_functional/plugins/kbn_tp_visualize_embedding/package.json
  typings/@elastic/eui/index.d.ts
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/NoServicesMessage.test.tsx.snap
  x-pack/legacy/plugins/canvas/public/components/element_card/element_card.tsx
  x-pack/legacy/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure.test.js.snap
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/__snapshots__/transform_list.test.tsx.snap
  x-pack/legacy/plugins/ml/public/explorer/components/explorer_no_influencers_found/__snapshots__/explorer_no_influencers_found.test.js.snap
  x-pack/legacy/plugins/ml/public/explorer/components/explorer_no_jobs_found/__snapshots__/explorer_no_jobs_found.test.js.snap
  x-pack/legacy/plugins/ml/public/explorer/components/explorer_no_results_found/__snapshots__/explorer_no_results_found.test.js.snap
  x-pack/legacy/plugins/security/public/views/management/roles_grid/components/__snapshots__/roles_grid_page.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/embeddables/__snapshots__/index_patterns_missing_prompt.test.tsx.snap
  x-pack/legacy/plugins/upgrade_assistant/public/components/tabs/checkup/__snapshots__/checkup_tab.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/functional/empty_state/__tests__/__snapshots__/data_missing.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/functional/empty_state/__tests__/__snapshots__/empty_state.test.tsx.snap
  x-pack/package.json
  x-pack/typings/@elastic/eui/index.d.ts
  yarn.lock
Labels: EUI, release_note:skip, v7.5.0, v8.0.0

#47134 [7.x] Support space-specific default routes (#44678)
  docs/setup/settings.asciidoc
  src/legacy/core_plugins/kibana/public/management/sections/settings/__snapshots__/advanced_settings.test.js.snap
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/__snapshots__/field.test.js.snap
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/field.js
  src/legacy/core_plugins/kibana/public/management/sections/settings/components/field/field.test.js
  src/legacy/core_plugins/kibana/public/management/sections/settings/lib/__tests__/to_editable_config.test.js
  src/legacy/core_plugins/kibana/public/management/sections/settings/lib/to_editable_config.js
  src/legacy/core_plugins/kibana/ui_setting_defaults.js
  src/legacy/server/config/schema.js
  src/legacy/server/config/transform_deprecations.js
  src/legacy/server/config/transform_deprecations.test.js
  src/legacy/server/http/index.js
  src/legacy/server/http/integration_tests/default_route_provider.test.ts
  src/legacy/server/http/setup_default_route_provider.ts
  src/legacy/server/kbn_server.d.ts
  x-pack/legacy/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_section/privilege_space_table.tsx
  x-pack/legacy/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_section/space_selector.tsx
  x-pack/legacy/plugins/spaces/common/constants.ts
  x-pack/legacy/plugins/spaces/common/index.ts
  x-pack/legacy/plugins/spaces/common/lib/__snapshots__/spaces_url_parser.test.ts.snap
  x-pack/legacy/plugins/spaces/common/lib/spaces_url_parser.test.ts
  x-pack/legacy/plugins/spaces/common/lib/spaces_url_parser.ts
  x-pack/legacy/plugins/spaces/index.ts
  x-pack/legacy/plugins/spaces/public/components/space_avatar.tsx
  x-pack/legacy/plugins/spaces/public/lib/index.ts
  x-pack/legacy/plugins/spaces/public/lib/space_attributes.test.ts
  x-pack/legacy/plugins/spaces/public/lib/space_attributes.ts
  x-pack/legacy/plugins/spaces/public/lib/spaces_manager.ts
  x-pack/legacy/plugins/spaces/public/views/management/edit_space/customize_space/customize_space_avatar.tsx
  x-pack/legacy/plugins/spaces/public/views/management/index.tsx
  x-pack/legacy/plugins/spaces/public/views/management/page_routes.tsx
  x-pack/legacy/plugins/spaces/public/views/nav_control/nav_control.tsx
  x-pack/legacy/plugins/spaces/public/views/space_selector/index.tsx
  x-pack/legacy/plugins/spaces/server/lib/get_active_space.ts
  x-pack/legacy/plugins/spaces/server/lib/request_interceptors/on_post_auth_interceptor.test.ts
  x-pack/legacy/plugins/spaces/server/lib/request_interceptors/on_post_auth_interceptor.ts
  x-pack/legacy/plugins/spaces/server/lib/request_interceptors/on_request_interceptor.ts
  x-pack/legacy/plugins/spaces/server/new_platform/plugin.ts
  x-pack/legacy/plugins/spaces/server/new_platform/spaces_service/spaces_service.test.ts
  x-pack/legacy/plugins/spaces/server/new_platform/spaces_service/spaces_service.ts
  x-pack/legacy/plugins/spaces/server/routes/api/__fixtures__/create_test_handler.ts
  x-pack/legacy/plugins/spaces/server/routes/api/v1/index.ts
  x-pack/legacy/plugins/spaces/server/routes/api/v1/spaces.test.ts
  x-pack/legacy/plugins/spaces/server/routes/api/v1/spaces.ts
  x-pack/legacy/plugins/spaces/server/routes/views/enter_space.ts
  x-pack/legacy/plugins/spaces/server/routes/views/index.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/apps/spaces/enter_space.ts
  x-pack/test/functional/apps/spaces/index.ts
  x-pack/test/functional/es_archives/spaces/enter_space/data.json
  x-pack/test/functional/es_archives/spaces/enter_space/mappings.json
  x-pack/test/functional/page_objects/space_selector_page.js
  x-pack/test/spaces_api_integration/common/suites/select.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/select.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/index.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/select.ts
Labels: backport

#47062 [Lens] Make horizontal bar chart a first-class chart
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/__snapshots__/xy_visualization.test.ts.snap
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/state_helpers.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/to_expression.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.tsx
  x-pack/test/functional/es_archives/lens/reporting/data.json.gz
Labels: Feature:Lens, release_note:skip, v7.5.0, v8.0.0

#47137 [7.x] [Monitoring] Ensure all charts use the configured timezone (#45949)
  x-pack/legacy/plugins/monitoring/common/formatting.js
  x-pack/legacy/plugins/monitoring/public/components/chart/chart_target.js
  x-pack/legacy/plugins/monitoring/public/components/chart/get_chart_options.js
  x-pack/legacy/plugins/monitoring/public/components/logs/logs.js
  x-pack/legacy/plugins/monitoring/server/lib/details/__test__/get_metrics.test.js
  x-pack/legacy/plugins/monitoring/server/lib/details/get_metrics.js
  x-pack/legacy/plugins/monitoring/server/lib/details/get_series.js
  x-pack/legacy/plugins/monitoring/server/lib/format_timezone.js
  x-pack/legacy/plugins/monitoring/server/lib/get_timezone.js
  x-pack/legacy/plugins/monitoring/server/lib/logs/get_logs.js
  x-pack/test/api_integration/apis/monitoring/logs/fixtures/index_detail.json
  x-pack/test/api_integration/apis/monitoring/logs/fixtures/node_detail.json
Labels: backport

#47138 [7.4] [Monitoring] Ensure all charts use the configured timezone (#45949)
  x-pack/legacy/plugins/monitoring/common/formatting.js
  x-pack/legacy/plugins/monitoring/public/components/chart/chart_target.js
  x-pack/legacy/plugins/monitoring/public/components/chart/get_chart_options.js
  x-pack/legacy/plugins/monitoring/public/components/logs/logs.js
  x-pack/legacy/plugins/monitoring/server/lib/details/__test__/get_metrics.test.js
  x-pack/legacy/plugins/monitoring/server/lib/details/get_metrics.js
  x-pack/legacy/plugins/monitoring/server/lib/details/get_series.js
  x-pack/legacy/plugins/monitoring/server/lib/format_timezone.js
  x-pack/legacy/plugins/monitoring/server/lib/get_timezone.js
  x-pack/legacy/plugins/monitoring/server/lib/logs/get_logs.js
  x-pack/test/api_integration/apis/monitoring/logs/fixtures/index_detail.json
  x-pack/test/api_integration/apis/monitoring/logs/fixtures/node_detail.json
Labels: backport

#47141 [7.x] [Lens] Make horizontal bar chart a first-class chart (#47062)
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/__snapshots__/xy_visualization.test.ts.snap
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/state_helpers.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/to_expression.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_expression.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_suggestions.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.test.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.tsx
  x-pack/test/functional/es_archives/lens/reporting/data.json.gz
Labels: backport

#47149 [DOCS] 7.4 release notes
  docs/CHANGELOG.asciidoc
Labels: backport

#46381 [Maps] Add 'InjectedData' class and revise so File Upload Features are assigned to new InjectedData instances
  x-pack/legacy/plugins/maps/public/angular/get_initial_layers.test.js
  x-pack/legacy/plugins/maps/public/layers/layer.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/geojson_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/source.js
  x-pack/legacy/plugins/maps/public/layers/util/injected_data.js
  x-pack/legacy/plugins/maps/public/layers/vector_layer.js
Labels: Feature:File Upload, Team:Geo, release_note:skip, v7.5.0, v8.0.0

#47152 [6.6][DOCS] Updates links to Watcher content (#46636)
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/monitoring/cluster-alerts.asciidoc
  docs/reporting/watch-example.asciidoc
Labels: backport

#41136 Add KQL functionality in the find function of the saved objects
  docs/api/saved-objects/find.asciidoc
  docs/development/core/public/kibana-plugin-public.savedobjectsclient.find.md
  docs/development/core/public/kibana-plugin-public.savedobjectsclient.md
  docs/development/core/public/kibana-plugin-public.savedobjectsfindoptions.filter.md
  docs/development/core/public/kibana-plugin-public.savedobjectsfindoptions.md
  docs/development/core/server/kibana-plugin-server.savedobjectsfindoptions.filter.md
  docs/development/core/server/kibana-plugin-server.savedobjectsfindoptions.md
  packages/kbn-es-query/src/kuery/ast/ast.d.ts
  packages/kbn-es-query/src/kuery/functions/is.js
  packages/kbn-es-query/src/kuery/index.d.ts
  packages/kbn-es-query/src/kuery/index.js
  packages/kbn-es-query/src/kuery/node_types/index.d.ts
  src/core/public/notifications/notifications_service.ts
  src/core/public/public.api.md
  src/core/public/saved_objects/saved_objects_client.ts
  src/core/server/saved_objects/service/index.ts
  src/core/server/saved_objects/service/lib/cache_index_patterns.test.ts
  src/core/server/saved_objects/service/lib/cache_index_patterns.ts
  src/core/server/saved_objects/service/lib/filter_utils.test.ts
  src/core/server/saved_objects/service/lib/filter_utils.ts
  src/core/server/saved_objects/service/lib/index.ts
  src/core/server/saved_objects/service/lib/repository.test.js
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.test.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.ts
  src/core/server/saved_objects/service/lib/search_dsl/search_dsl.test.ts
  src/core/server/saved_objects/service/lib/search_dsl/search_dsl.ts
  src/core/server/saved_objects/types.ts
  src/core/server/server.api.md
  src/legacy/core_plugins/elasticsearch/index.d.ts
  src/legacy/server/saved_objects/lib/create_saved_objects_stream_from_ndjson.ts
  src/legacy/server/saved_objects/routes/find.ts
  src/legacy/server/saved_objects/saved_objects_mixin.js
  src/legacy/server/saved_objects/saved_objects_mixin.test.js
  src/plugins/data/common/field_formats/field_format.ts
  test/api_integration/apis/saved_objects/find.js
  test/tsconfig.json
  test/typings/index.d.ts
  x-pack/test/saved_object_api_integration/common/suites/find.ts
  x-pack/test/saved_object_api_integration/security_and_spaces/apis/find.ts
  x-pack/test/saved_object_api_integration/security_only/apis/find.ts
  x-pack/test/saved_object_api_integration/spaces_only/apis/find.ts
Labels: Feature:Saved Objects, Team:Platform, release_note:dev_docs, review, v7.5.0, v8.0.0

#47167 [6.5][DOCS] Updates links to Watcher content
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/monitoring/cluster-alerts.asciidoc
  docs/reporting/watch-example.asciidoc
Labels: backport

#47147 [SIEM] Update Settings Text
  x-pack/legacy/plugins/siem/index.ts
Labels: Team:SIEM, release_note:skip, v7.5.0, v8.0.0

#47162 [7.4] [Infra UI] Remove internal Hapi request for makeTSVBRequest (#45598)
  src/legacy/core_plugins/metrics/server/plugin.ts
  x-pack/legacy/plugins/infra/server/lib/adapters/framework/kibana_framework_adapter.ts
Labels: backport

#47091 chore(NA): fix logic behind cleaning x-pack node modules on build
  package.json
  packages/kbn-babel-code-parser/src/can_require.js
  packages/kbn-babel-code-parser/src/code_parser.js
  packages/kbn-babel-code-parser/src/strategies.js
  packages/kbn-babel-code-parser/src/strategies.test.js
  x-pack/package.json
Labels: Team:Operations, build, release_note:fix, v7.5.0, v8.0.0

#47179 [7.x] [SIEM] Update Settings Text (#47147)
  x-pack/legacy/plugins/siem/index.ts
Labels: backport

#47132 [7.x] Changing status code colors on trace summary (#47114)
  x-pack/legacy/plugins/apm/public/components/shared/Summary/HttpInfoSummaryItem/__test__/HttpInfoSummaryItem.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/Summary/HttpInfoSummaryItem/index.tsx
Labels: backport

#47125 Add TypeScript rules to STYLEGUIDE [skip ci]
  STYLEGUIDE.md
Labels: release_note:skip, v7.5.0, v8.0.0

#44545 refactor: 💡 convert Interpreter .js -> .ts
  src/legacy/core_plugins/interpreter/public/functions/__snapshots__/kibana.test.ts.snap
  src/legacy/core_plugins/interpreter/public/functions/__tests__/font.ts
  src/legacy/core_plugins/interpreter/public/functions/clog.ts
  src/legacy/core_plugins/interpreter/public/functions/index.ts
  src/legacy/core_plugins/interpreter/public/functions/kibana.test.ts
  src/legacy/core_plugins/interpreter/public/functions/kibana.ts
  src/legacy/core_plugins/interpreter/public/functions/kibana_context.ts
  src/legacy/core_plugins/interpreter/public/functions/vis_dimension.ts
  src/legacy/core_plugins/interpreter/public/functions/visualization.ts
  src/legacy/core_plugins/interpreter/public/interpreter.test.ts
  src/legacy/core_plugins/interpreter/public/interpreter.ts
  src/legacy/core_plugins/interpreter/public/lib/render_function.ts
  src/legacy/core_plugins/interpreter/public/lib/render_functions_registry.ts
  src/legacy/core_plugins/interpreter/public/renderers/visualization.ts
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.ts
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.ts
  src/legacy/core_plugins/interpreter/server/routes/index.ts
  src/legacy/core_plugins/interpreter/server/routes/server_functions.ts
  src/legacy/core_plugins/interpreter/test_helpers.ts
  src/legacy/core_plugins/vis_type_markdown/public/markdown_fn.test.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_fn.test.ts
Labels: Feature:ExpressionLanguage, Team:AppArch, release_note:skip, v7.5.0

#47108 [Uptime] Change default status filter in ping list to all on monitor page
  x-pack/legacy/plugins/uptime/common/constants/client_defaults.ts
  x-pack/legacy/plugins/uptime/public/hooks/__tests__/__snapshots__/use_url_params.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/lib/helper/url_params/__tests__/__snapshots__/get_supported_url_params.test.ts.snap
Labels: Team:uptime, release_note:fix, v7.5.0, v8.0.0

#47117 [ML] Converts index and saved search selection to React
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/route.ts
  x-pack/legacy/plugins/ml/public/jobs/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/_index.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/_index.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/_wizard.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/__tests__/index_or_search_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index_or_search.html
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index_or_search_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/__tests__/paginated_selectable_list.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/paginated_selectable_list.html
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/paginated_selectable_list.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/__test__/directive.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/directive.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/page.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/route.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/services/machine_learning/job_source_selection.ts
Labels: :ml, Feature:Anomaly Detection, release_note:enhancement, v7.5.0, v8.0.0

#45547 [Graph] Empty workspace overlay
  x-pack/legacy/plugins/graph/public/angular/graph_client_workspace.js
  x-pack/legacy/plugins/graph/public/angular/templates/index.html
  x-pack/legacy/plugins/graph/public/app.js
  x-pack/legacy/plugins/graph/public/components/_index.scss
  x-pack/legacy/plugins/graph/public/components/_source_modal.scss
  x-pack/legacy/plugins/graph/public/components/app.tsx
  x-pack/legacy/plugins/graph/public/components/field_manager/field_icon.tsx
  x-pack/legacy/plugins/graph/public/components/field_manager/field_manager.test.tsx
  x-pack/legacy/plugins/graph/public/components/field_manager/field_manager.tsx
  x-pack/legacy/plugins/graph/public/components/field_manager/field_picker.tsx
  x-pack/legacy/plugins/graph/public/components/guidance_panel/_guidance_panel.scss
  x-pack/legacy/plugins/graph/public/components/guidance_panel/_index.scss
  x-pack/legacy/plugins/graph/public/components/guidance_panel/guidance_panel.tsx
  x-pack/legacy/plugins/graph/public/components/guidance_panel/index.ts
  x-pack/legacy/plugins/graph/public/components/search_bar.test.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.tsx
  x-pack/legacy/plugins/graph/public/components/source_modal.tsx
  x-pack/legacy/plugins/graph/public/services/fetch_top_nodes.test.ts
  x-pack/legacy/plugins/graph/public/services/fetch_top_nodes.ts
  x-pack/legacy/plugins/graph/public/types/workspace_state.ts
Labels: Feature:Graph, Team:KibanaApp, release_note:enhancement, v7.5.0, v8.0.0

#46569 Variety of quick a11y fixes
  src/core/public/chrome/ui/header/header.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/__snapshots__/query_bar_input.test.tsx.snap
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_input.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/gauge/labels_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/gauge/ranges_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/gauge/style_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/category_axis_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/value_axes_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/category_axis_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/series_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axes_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/pie.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/point_series/grid_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/point_series/point_series.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/point_series/threshold_panel.tsx
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.html
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.html
  src/legacy/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/legacy/core_plugins/kibana/public/discover/directives/no_results.js
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/legacy/core_plugins/kibana/public/visualize/editor/editor.html
  src/legacy/core_plugins/vis_type_markdown/public/markdown_options.tsx
  src/legacy/ui/public/chrome/directives/kbn_chrome.html
  src/legacy/ui/public/vis/editors/default/components/__snapshots__/agg_group.test.tsx.snap
  src/legacy/ui/public/vis/editors/default/components/agg_group.tsx
  src/legacy/ui/public/vis/editors/default/sidebar.html
  src/plugins/embeddable/public/lib/containers/embeddable_child_panel.tsx
  src/plugins/embeddable/public/lib/panel/embeddable_panel.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_options_menu.tsx
  src/plugins/ui_actions/public/context_menu/open_context_menu.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Project:Accessibility, release_note:fix, v7.5.0, v8.0.0

#47190 [7.x] refactor: 💡 convert Interpreter .js -> .ts (#44545)
  src/legacy/core_plugins/interpreter/public/functions/__snapshots__/kibana.test.ts.snap
  src/legacy/core_plugins/interpreter/public/functions/__tests__/font.ts
  src/legacy/core_plugins/interpreter/public/functions/clog.ts
  src/legacy/core_plugins/interpreter/public/functions/index.ts
  src/legacy/core_plugins/interpreter/public/functions/kibana.test.ts
  src/legacy/core_plugins/interpreter/public/functions/kibana.ts
  src/legacy/core_plugins/interpreter/public/functions/kibana_context.ts
  src/legacy/core_plugins/interpreter/public/functions/vis_dimension.ts
  src/legacy/core_plugins/interpreter/public/functions/visualization.ts
  src/legacy/core_plugins/interpreter/public/interpreter.test.ts
  src/legacy/core_plugins/interpreter/public/interpreter.ts
  src/legacy/core_plugins/interpreter/public/lib/render_function.ts
  src/legacy/core_plugins/interpreter/public/lib/render_functions_registry.ts
  src/legacy/core_plugins/interpreter/public/renderers/visualization.ts
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.ts
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.ts
  src/legacy/core_plugins/interpreter/server/routes/index.ts
  src/legacy/core_plugins/interpreter/server/routes/server_functions.ts
  src/legacy/core_plugins/interpreter/test_helpers.ts
  src/legacy/core_plugins/vis_type_markdown/public/markdown_fn.test.ts
  src/legacy/core_plugins/vis_type_metric/public/metric_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/tag_cloud_fn.test.ts
Labels: backport

#47106 [unskip-test] Add scroll into view to avoid tooltip overlap
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/page_objects/visualize_page.js
Labels: release_note:skip, test-matrix, v7.5.0, v8.0.0

#47191 [7.x] [ML] Converts index and saved search selection to React (#47117)
  x-pack/legacy/plugins/ml/public/data_frame/pages/data_frame_new_pivot/route.ts
  x-pack/legacy/plugins/ml/public/jobs/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/_index.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/_index.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/_wizard.scss
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/__tests__/index_or_search_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index_or_search.html
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/index_or_search_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/__tests__/paginated_selectable_list.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/index.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/paginated_selectable_list.html
  x-pack/legacy/plugins/ml/public/jobs/new_job/wizard/steps/index_or_search/paginated_selectable_list/paginated_selectable_list.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/index.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/__test__/directive.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/directive.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/page.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/index_or_search/route.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/services/machine_learning/job_source_selection.ts
Labels: :ml, Feature:Anomaly Detection, backport, v7.5.0

#46780 [Uptime] Update pings chart colors
  x-pack/legacy/plugins/uptime/public/components/functional/__tests__/__snapshots__/monitor_charts.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/functional/charts/__tests__/snapshot_histogram.test.tsx
  x-pack/legacy/plugins/uptime/public/components/functional/charts/snapshot_histogram.tsx
  x-pack/legacy/plugins/uptime/public/components/functional/monitor_charts.tsx
  x-pack/legacy/plugins/uptime/public/contexts/uptime_settings_context.ts
  x-pack/legacy/plugins/uptime/public/pages/overview.tsx
  x-pack/legacy/plugins/uptime/public/uptime_app.tsx
Labels: Team:uptime, [zube]: In Review, release_note:enhancement, v8.0.0

#47142 visualizations 👉 NP-ready
  src/legacy/core_plugins/input_control_vis/public/register_vis.js
  src/legacy/core_plugins/interpreter/public/functions/visualization.ts
  src/legacy/core_plugins/kbn_vislib_vis_types/public/kbn_vislib_vis_types.js
  src/legacy/core_plugins/kibana/public/visualize/editor/editor.js
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable_factory.tsx
  src/legacy/core_plugins/kibana/public/visualize/listing/visualize_listing.js
  src/legacy/core_plugins/kibana/public/visualize/saved_visualizations/saved_visualizations.js
  src/legacy/core_plugins/kibana/public/visualize/wizard/new_vis_modal.test.tsx
  src/legacy/core_plugins/kibana/public/visualize/wizard/new_vis_modal.tsx
  src/legacy/core_plugins/kibana/public/visualize/wizard/show_new_vis.tsx
  src/legacy/core_plugins/kibana/public/visualize/wizard/type_selection/type_selection.tsx
  src/legacy/core_plugins/region_map/index.ts
  src/legacy/core_plugins/region_map/public/__tests__/region_map_visualization.js
  src/legacy/core_plugins/region_map/public/legacy.ts
  src/legacy/core_plugins/tile_map/index.ts
  src/legacy/core_plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
  src/legacy/core_plugins/tile_map/public/legacy.ts
  src/legacy/core_plugins/timelion/public/legacy.ts
  src/legacy/core_plugins/timelion/public/plugin.ts
  src/legacy/core_plugins/vis_type_markdown/index.ts
  src/legacy/core_plugins/vis_type_markdown/public/legacy.ts
  src/legacy/core_plugins/vis_type_metric/index.ts
  src/legacy/core_plugins/vis_type_metric/public/legacy.ts
  src/legacy/core_plugins/vis_type_table/index.ts
  src/legacy/core_plugins/vis_type_table/public/__tests__/table_vis_controller.js
  src/legacy/core_plugins/vis_type_table/public/agg_table/__tests__/agg_table.js
  src/legacy/core_plugins/vis_type_table/public/legacy.ts
  src/legacy/core_plugins/vis_type_tagcloud/index.ts
  src/legacy/core_plugins/vis_type_tagcloud/public/legacy.ts
  src/legacy/core_plugins/vis_type_timeseries/index.ts
  src/legacy/core_plugins/vis_type_timeseries/public/legacy.ts
  src/legacy/core_plugins/vis_type_vega/index.ts
  src/legacy/core_plugins/vis_type_vega/public/__tests__/vega_visualization.js
  src/legacy/core_plugins/vis_type_vega/public/legacy.ts
  src/legacy/core_plugins/visualizations/index.ts
  src/legacy/core_plugins/visualizations/package.json
  src/legacy/core_plugins/visualizations/public/index.ts
  src/legacy/core_plugins/visualizations/public/np_ready/kibana.json
  src/legacy/core_plugins/visualizations/public/np_ready/public/filters/filters_service.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/filters/index.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/index.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/legacy.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/mocks.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/plugin.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/types/index.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/types/types_service.ts
  src/legacy/core_plugins/visualizations/public/np_ready/public/types/vis_type_alias_registry.ts
  src/legacy/ui/public/vis/__tests__/_vis.js
  src/legacy/ui/public/vis/vis.js
  src/legacy/ui/public/visualize/loader/vis.js
  test/plugin_functional/plugins/kbn_tp_custom_visualizations/public/self_changing_vis/self_changing_vis.js
  x-pack/legacy/plugins/maps/public/register_vis_type_alias.js
Labels: Feature:Visualizations, Team:AppArch, release_note:skip, v7.5.0

#47193 test: 💍 convert Interpreter font function tests to Jest
  src/legacy/core_plugins/interpreter/public/functions/__tests__/font.ts
  src/legacy/core_plugins/interpreter/public/functions/font.test.ts
Labels: Feature:ExpressionLanguage, Team:AppArch, release_note:skip, review, v7.5.0

#47163 [APM] Remove beta badge from transaction breakdown
  x-pack/legacy/plugins/apm/public/components/shared/TransactionBreakdown/TransactionBreakdownHeader.tsx
Labels: release_note:skip, v7.5.0

#47187 [7.x] [Console] Fix Safari layout issue (#47100)
  src/legacy/core_plugins/console/np_ready/public/application/containers/main/main.tsx
  src/legacy/core_plugins/console/public/quarantined/_app.scss
Labels: backport

#46328 [7.4] Fix gauge type selection (#45783)
  src/legacy/ui/public/vislib/visualizations/gauges/meter.js
Labels: backport

#47158 [7.x] [Maps] Add 'InjectedData' class and revise so File Upload Features are assigned to new InjectedData instances (#46381)
  x-pack/legacy/plugins/maps/public/angular/get_initial_layers.test.js
  x-pack/legacy/plugins/maps/public/layers/layer.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/geojson_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/source.js
  x-pack/legacy/plugins/maps/public/layers/util/injected_data.js
  x-pack/legacy/plugins/maps/public/layers/vector_layer.js
Labels: backport, release_note:skip

#47182 [7.x] Add KQL functionality in the find function of the saved objects (#41136)
  docs/api/saved-objects/find.asciidoc
  docs/development/core/public/kibana-plugin-public.savedobjectsclient.find.md
  docs/development/core/public/kibana-plugin-public.savedobjectsclient.md
  docs/development/core/public/kibana-plugin-public.savedobjectsfindoptions.filter.md
  docs/development/core/public/kibana-plugin-public.savedobjectsfindoptions.md
  docs/development/core/server/kibana-plugin-server.savedobjectsfindoptions.filter.md
  docs/development/core/server/kibana-plugin-server.savedobjectsfindoptions.md
  packages/kbn-es-query/src/kuery/ast/ast.d.ts
  packages/kbn-es-query/src/kuery/functions/is.js
  packages/kbn-es-query/src/kuery/index.d.ts
  packages/kbn-es-query/src/kuery/index.js
  packages/kbn-es-query/src/kuery/node_types/index.d.ts
  src/core/public/notifications/notifications_service.ts
  src/core/public/public.api.md
  src/core/public/saved_objects/saved_objects_client.ts
  src/core/server/saved_objects/service/index.ts
  src/core/server/saved_objects/service/lib/cache_index_patterns.test.ts
  src/core/server/saved_objects/service/lib/cache_index_patterns.ts
  src/core/server/saved_objects/service/lib/filter_utils.test.ts
  src/core/server/saved_objects/service/lib/filter_utils.ts
  src/core/server/saved_objects/service/lib/index.ts
  src/core/server/saved_objects/service/lib/repository.test.js
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.test.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.ts
  src/core/server/saved_objects/service/lib/search_dsl/search_dsl.test.ts
  src/core/server/saved_objects/service/lib/search_dsl/search_dsl.ts
  src/core/server/saved_objects/types.ts
  src/core/server/server.api.md
  src/legacy/core_plugins/elasticsearch/index.d.ts
  src/legacy/server/saved_objects/lib/create_saved_objects_stream_from_ndjson.ts
  src/legacy/server/saved_objects/routes/find.ts
  src/legacy/server/saved_objects/saved_objects_mixin.js
  src/legacy/server/saved_objects/saved_objects_mixin.test.js
  src/plugins/data/common/field_formats/field_format.ts
  test/api_integration/apis/saved_objects/find.js
  test/tsconfig.json
  test/typings/index.d.ts
  x-pack/test/saved_object_api_integration/common/suites/find.ts
  x-pack/test/saved_object_api_integration/security_and_spaces/apis/find.ts
  x-pack/test/saved_object_api_integration/security_only/apis/find.ts
  x-pack/test/saved_object_api_integration/spaces_only/apis/find.ts
Labels: backport

#47199 [7.x] Add TypeScript rules to STYLEGUIDE [skip ci] (#47125)
  STYLEGUIDE.md
Labels: backport

#47185 [7.x] chore(NA): fix logic behind cleaning x-pack node modules on build (#47091)
  package.json
  packages/kbn-babel-code-parser/src/can_require.js
  packages/kbn-babel-code-parser/src/code_parser.js
  packages/kbn-babel-code-parser/src/strategies.js
  packages/kbn-babel-code-parser/src/strategies.test.js
  x-pack/package.json
Labels: backport

#46751 [Logs UI] Support partitioned log rate results in API
  x-pack/legacy/plugins/infra/common/http_api/log_analysis/results/log_entry_rate.ts
  x-pack/legacy/plugins/infra/public/containers/logs/log_analysis/api/get_log_entry_rate.ts
  x-pack/legacy/plugins/infra/public/containers/logs/log_analysis/log_analysis_graph_data/log_entry_rate.tsx
  x-pack/legacy/plugins/infra/public/containers/logs/log_analysis/log_entry_rate.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/chart_helpers/index.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/page_results_content.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/sections/log_rate/bar_chart.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/sections/log_rate/chart.tsx
  x-pack/legacy/plugins/infra/public/pages/logs/analysis/sections/log_rate/index.tsx
  x-pack/legacy/plugins/infra/server/lib/log_analysis/log_analysis.ts
  x-pack/legacy/plugins/infra/server/lib/log_analysis/queries/index.ts
  x-pack/legacy/plugins/infra/server/lib/log_analysis/queries/log_entry_rate.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/api_integration/apis/infra/log_analysis.ts
  x-pack/test/functional/es_archives/infra/8.0.0/ml_anomalies_partitioned_log_rate/data.json.gz
  x-pack/test/functional/es_archives/infra/8.0.0/ml_anomalies_partitioned_log_rate/mappings.json
Labels: Feature:Logs UI, Team:infra-logs-ui, release_note:skip, v7.5.0, v8.0.0

#47139 [Monitoring] Metricbeat Migration Wizard Tests
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/flyout/__snapshots__/flyout.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/flyout/flyout.test.js
  x-pack/legacy/plugins/monitoring/public/components/renderers/__snapshots__/setup_mode.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/renderers/setup_mode.js
  x-pack/legacy/plugins/monitoring/public/components/renderers/setup_mode.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/badge.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/formatting.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/listing_callout.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/tooltip.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/badge.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/formatting.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/listing_callout.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/listing_callout.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/tooltip.test.js
  x-pack/legacy/plugins/monitoring/public/components/table/eui_table.js
  x-pack/legacy/plugins/monitoring/public/lib/setup_mode.test.js
Labels: Feature:Stack Monitoring, Team:Monitoring, release_note:skip, review, v7.5.0, v8.0.0

#44722 [Uptime] Shim UI exports for new platform
  x-pack/legacy/plugins/uptime/common/constants/plugin.ts
  x-pack/legacy/plugins/uptime/public/app.ts
  x-pack/legacy/plugins/uptime/public/apps/index.ts
  x-pack/legacy/plugins/uptime/public/apps/plugin.ts
  x-pack/legacy/plugins/uptime/public/apps/start_app.tsx
  x-pack/legacy/plugins/uptime/public/apps/template.html
  x-pack/legacy/plugins/uptime/public/badge.ts
  x-pack/legacy/plugins/uptime/public/breadcrumbs.ts
  x-pack/legacy/plugins/uptime/public/components/functional/kuery_bar/index.tsx
  x-pack/legacy/plugins/uptime/public/lib/adapters/framework/capabilities_adapter.ts
  x-pack/legacy/plugins/uptime/public/lib/adapters/framework/kibana_framework_adapter.ts
  x-pack/legacy/plugins/uptime/public/lib/adapters/framework/new_platform_adapter.tsx
  x-pack/legacy/plugins/uptime/public/lib/compose/kibana_compose.ts
  x-pack/legacy/plugins/uptime/public/lib/lib.ts
  x-pack/legacy/plugins/uptime/public/pages/overview.tsx
  x-pack/legacy/plugins/uptime/public/uptime_app.tsx
Labels: Feature:New Platform, Team:uptime, [zube]: In Review, release_note:skip, v7.5.0, v8.0.0

#47166 [SIEM] show getting started page on empty string or _all
  x-pack/legacy/plugins/siem/server/graphql/source_status/resolvers.ts
Labels: Team:SIEM, release_note:fix, v7.5.0

#46865 [Canvas] i18n for page manager, page preview, and shape preview
  x-pack/legacy/plugins/canvas/i18n/components.ts
  x-pack/legacy/plugins/canvas/public/components/page_manager/page_manager.js
  x-pack/legacy/plugins/canvas/public/components/page_preview/page_controls.js
Labels: Project:i18n, Team:Canvas, impact:high, loe:hours, release_note:skip, review, v7.5.0, v8.0.0

#47174 [6.4][DOCS] Updates links to Watcher content
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/monitoring/cluster-alerts.asciidoc
  docs/reporting/watch-example.asciidoc
Labels: backport

#43631 [RFC] Kibana Management Section Service
  rfcs/text/0006_management_section_service.md
Labels: RFC, Team:AppArch, non-issue, release_note:skip, v8.0.0

#47090 [Maps][File upload] Fix "component-not-mounted" errors on cancel mid-way through indexing
  x-pack/legacy/plugins/file_upload/public/components/json_upload_and_parse.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/view.js
Labels: Feature:File Upload, Team:Geo, release_note:skip, v7.4.1, v7.5.0, v8.0.0

#47221 [ML] Moves URL, interval and ordinal ui utils into ML
  x-pack/legacy/plugins/ml/public/app.js
  x-pack/legacy/plugins/ml/public/datavisualizer/index_based/components/field_data_card/content_types/number_content.tsx
  x-pack/legacy/plugins/ml/public/explorer/explorer_charts/explorer_chart_config_builder.js
  x-pack/legacy/plugins/ml/public/explorer/explorer_utils.js
  x-pack/legacy/plugins/ml/public/formatters/number_as_ordinal.test.ts
  x-pack/legacy/plugins/ml/public/formatters/number_as_ordinal.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/simple/components/watcher/create_watch_directive.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/simple/components/watcher/create_watch_view.js
  x-pack/legacy/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_service.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/results_loader/results_loader.ts
  x-pack/legacy/plugins/ml/public/services/job_service.js
  x-pack/legacy/plugins/ml/public/timeseriesexplorer/timeseriesexplorer.js
  x-pack/legacy/plugins/ml/public/timeseriesexplorer/timeseriesexplorer_utils.js
  x-pack/legacy/plugins/ml/public/util/__tests__/string_utils.js
  x-pack/legacy/plugins/ml/public/util/string_utils.js
  x-pack/legacy/plugins/ml/public/util/time_buckets.js
  x-pack/legacy/plugins/ml/public/util/url_utils.test.ts
  x-pack/legacy/plugins/ml/public/util/url_utils.ts
Labels: :ml, Feature:NP Migration, release_note:skip, review, v7.5.0, v8.0.0

#47237 [6.3][DOCS] Updates links to Watcher content
  docs/management/watcher-ui/create-threshold-alert.asciidoc
  docs/management/watcher-ui/index.asciidoc
  docs/monitoring/cluster-alerts.asciidoc
  docs/reporting/watch-example.asciidoc
Labels: backport

#46967 [Lens] Custom chart type icons
  x-pack/legacy/plugins/lens/public/assets/chart_area.svg
  x-pack/legacy/plugins/lens/public/assets/chart_area_stacked.svg
  x-pack/legacy/plugins/lens/public/assets/chart_bar.svg
  x-pack/legacy/plugins/lens/public/assets/chart_bar_horizontal.svg
  x-pack/legacy/plugins/lens/public/assets/chart_bar_horizontal_stacked.svg
  x-pack/legacy/plugins/lens/public/assets/chart_bar_stacked.svg
  x-pack/legacy/plugins/lens/public/assets/chart_datatable.svg
  x-pack/legacy/plugins/lens/public/assets/chart_line.svg
  x-pack/legacy/plugins/lens/public/assets/chart_metric.svg
  x-pack/legacy/plugins/lens/public/assets/chart_mixed_xy.svg
  x-pack/legacy/plugins/lens/public/datatable_visualization_plugin/visualization.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/_chart_switch.scss
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/_suggestion_panel.scss
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/chart_switch.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_helpers.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_panel.test.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/editor_frame/suggestion_panel.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/embeddable/embeddable_factory.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/_datapanel.scss
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/change_indexpattern.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/datapanel.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/layerpanel.tsx
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.test.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_suggestions.ts
  x-pack/legacy/plugins/lens/public/metric_visualization_plugin/metric_visualization.tsx
  x-pack/legacy/plugins/lens/public/register_vis_type_alias.ts
  x-pack/legacy/plugins/lens/public/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/types.ts
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_config_panel.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization_plugin/xy_visualization.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.5.0, v8.0.0

#47243 [7.4] [Maps][File upload] Fix "component-not-mounted" errors on cancel mid-way through indexing (#47090)
  x-pack/legacy/plugins/file_upload/public/components/json_upload_and_parse.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/view.js
Labels: backport

#46863 [Canvas] i18n work for arg form and converting tooltip icon to typescript
  x-pack/legacy/plugins/canvas/i18n/components.ts
  x-pack/legacy/plugins/canvas/public/components/arg_form/advanced_failure.js
  x-pack/legacy/plugins/canvas/public/components/arg_form/arg_simple_form.tsx
  x-pack/legacy/plugins/canvas/public/components/arg_form/pending_arg_value.js
  x-pack/legacy/plugins/canvas/public/components/arg_form/simple_failure.tsx
  x-pack/legacy/plugins/canvas/public/components/tooltip_icon/index.ts
  x-pack/legacy/plugins/canvas/public/components/tooltip_icon/tooltip_icon.js
  x-pack/legacy/plugins/canvas/public/components/tooltip_icon/tooltip_icon.tsx
  x-pack/legacy/plugins/canvas/public/expression_types/arg_types/series_style/simple_template.tsx
Labels: Project:i18n, Team:Canvas, impact:high, loe:hours, release_note:skip, review, v7.5.0, v8.0.0

#47225 Remove ui/persisted_logs - Part 1
  src/legacy/core_plugins/kibana/public/dashboard/index.js
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/home/index.js
  src/legacy/core_plugins/kibana/public/visualize/editor/editor.js
  src/legacy/core_plugins/timelion/public/app.js
  src/legacy/ui/public/persisted_log/directive.js
  src/legacy/ui/public/persisted_log/index.ts
  src/legacy/ui/public/saved_objects/saved_object.js
  x-pack/legacy/plugins/canvas/public/state/reducers/workpad.js
  x-pack/legacy/plugins/maps/public/index.js
  x-pack/legacy/plugins/ml/public/app.js
  x-pack/legacy/plugins/ml/public/util/recently_accessed.ts
Labels: Feature:NP Migration, Team:AppArch, release_note:skip, v7.5.0, v8.0.0

#46664 [Code] migrate Code config/logging/feature service to new platform
  x-pack/.i18nrc.json
  x-pack/legacy/plugins/code/index.ts
  x-pack/legacy/plugins/code/kibana.json
  x-pack/legacy/plugins/code/scripts/mocha.js
  x-pack/legacy/plugins/code/server/distributed/apis/workspace_api.ts
  x-pack/legacy/plugins/code/server/distributed/code_services.test.ts
  x-pack/legacy/plugins/code/server/index.ts
  x-pack/legacy/plugins/code/server/init_local.ts
  x-pack/legacy/plugins/code/server/init_queue.ts
  x-pack/legacy/plugins/code/server/log.ts
  x-pack/legacy/plugins/code/server/lsp/controller.test.ts
  x-pack/legacy/plugins/code/server/lsp/controller.ts
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
  x-pack/legacy/plugins/code/server/plugin.ts
  x-pack/legacy/plugins/code/server/routes/install.ts
  x-pack/legacy/plugins/code/server/routes/lsp.ts
  x-pack/legacy/plugins/code/server/routes/repository.ts
  x-pack/legacy/plugins/code/server/server_options.ts
  x-pack/legacy/plugins/code/server/utils/console_logger.ts
  x-pack/legacy/plugins/code/server/utils/console_logger_factory.ts
  x-pack/legacy/plugins/code/server/utils/server_logger_factory.ts
  x-pack/plugins/code/kibana.json
  x-pack/plugins/code/server/config.ts
  x-pack/plugins/code/server/index.ts
  x-pack/plugins/code/server/plugin.ts
Labels: Team:Code, release_note:skip, v7.5.0, v8.0.0

#47194 [7.x] Variety of quick a11y fixes (#46569)
  src/core/public/chrome/ui/header/header.tsx
  src/legacy/core_plugins/data/public/query/query_bar/components/__snapshots__/query_bar_input.test.tsx.snap
  src/legacy/core_plugins/data/public/query/query_bar/components/query_bar_input.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/gauge/labels_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/gauge/ranges_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/gauge/style_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/category_axis_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/__snapshots__/value_axes_panel.test.tsx.snap
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/category_axis_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/series_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/metrics_axes/value_axes_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/pie.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/point_series/grid_panel.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/point_series/point_series.tsx
  src/legacy/core_plugins/kbn_vislib_vis_types/public/components/options/point_series/threshold_panel.tsx
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.html
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/field_chooser.html
  src/legacy/core_plugins/kibana/public/discover/directives/__snapshots__/no_results.test.js.snap
  src/legacy/core_plugins/kibana/public/discover/directives/no_results.js
  src/legacy/core_plugins/kibana/public/discover/index.html
  src/legacy/core_plugins/kibana/public/visualize/editor/editor.html
  src/legacy/core_plugins/vis_type_markdown/public/markdown_options.tsx
  src/legacy/ui/public/chrome/directives/kbn_chrome.html
  src/legacy/ui/public/vis/editors/default/components/__snapshots__/agg_group.test.tsx.snap
  src/legacy/ui/public/vis/editors/default/components/agg_group.tsx
  src/legacy/ui/public/vis/editors/default/sidebar.html
  src/plugins/embeddable/public/lib/containers/embeddable_child_panel.tsx
  src/plugins/embeddable/public/lib/panel/embeddable_panel.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_options_menu.tsx
  src/plugins/ui_actions/public/context_menu/open_context_menu.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#47246 support requesting reviews from specific users by package
  renovate.json5
  src/dev/renovate/config.ts
  src/dev/renovate/package_groups.ts
Labels: Team:Operations, release_note:skip, v7.4.1, v7.5.0, v8.0.0

#47247 [7.x] Upgrade EUI to 14.4.0 (#46949)
  package.json
  src/legacy/core_plugins/kibana/public/dashboard/listing/__snapshots__/dashboard_listing.test.js.snap
  src/plugins/embeddable/public/lib/test_samples/embeddables/contact_card/contact_card.tsx
  src/plugins/inspector/public/views/data/components/__snapshots__/data_view.test.tsx.snap
  test/interpreter_functional/plugins/kbn_tp_run_pipeline/package.json
  test/plugin_functional/plugins/kbn_tp_custom_visualizations/package.json
  test/plugin_functional/plugins/kbn_tp_embeddable_explorer/package.json
  test/plugin_functional/plugins/kbn_tp_sample_panel_action/package.json
  test/plugin_functional/plugins/kbn_tp_visualize_embedding/package.json
  typings/@elastic/eui/index.d.ts
  x-pack/legacy/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/NoServicesMessage.test.tsx.snap
  x-pack/legacy/plugins/canvas/public/components/element_card/element_card.tsx
  x-pack/legacy/plugins/logstash/public/components/upgrade_failure/__snapshots__/upgrade_failure.test.js.snap
  x-pack/legacy/plugins/ml/public/data_frame/pages/transform_management/components/transform_list/__snapshots__/transform_list.test.tsx.snap
  x-pack/legacy/plugins/ml/public/explorer/components/explorer_no_influencers_found/__snapshots__/explorer_no_influencers_found.test.js.snap
  x-pack/legacy/plugins/ml/public/explorer/components/explorer_no_jobs_found/__snapshots__/explorer_no_jobs_found.test.js.snap
  x-pack/legacy/plugins/ml/public/explorer/components/explorer_no_results_found/__snapshots__/explorer_no_results_found.test.js.snap
  x-pack/legacy/plugins/security/public/views/management/roles_grid/components/__snapshots__/roles_grid_page.test.tsx.snap
  x-pack/legacy/plugins/siem/public/components/embeddables/__snapshots__/index_patterns_missing_prompt.test.tsx.snap
  x-pack/legacy/plugins/upgrade_assistant/public/components/tabs/checkup/__snapshots__/checkup_tab.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/functional/empty_state/__tests__/__snapshots__/data_missing.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/components/functional/empty_state/__tests__/__snapshots__/empty_state.test.tsx.snap
  x-pack/package.json
  x-pack/typings/@elastic/eui/index.d.ts
  yarn.lock
Labels: backport

#47249 [7.x] [Canvas] i18n work for arg form and converting tooltip icon to typescript (#46863)
  x-pack/legacy/plugins/canvas/i18n/components.ts
  x-pack/legacy/plugins/canvas/public/components/arg_form/advanced_failure.js
  x-pack/legacy/plugins/canvas/public/components/arg_form/arg_simple_form.tsx
  x-pack/legacy/plugins/canvas/public/components/arg_form/pending_arg_value.js
  x-pack/legacy/plugins/canvas/public/components/arg_form/simple_failure.tsx
  x-pack/legacy/plugins/canvas/public/components/tooltip_icon/index.ts
  x-pack/legacy/plugins/canvas/public/components/tooltip_icon/tooltip_icon.js
  x-pack/legacy/plugins/canvas/public/components/tooltip_icon/tooltip_icon.tsx
  x-pack/legacy/plugins/canvas/public/expression_types/arg_types/series_style/simple_template.tsx
Labels: backport

#47253 [7.x] [Code] migrate Code config/logging/feature service to new platform (#46664)
  x-pack/.i18nrc.json
  x-pack/legacy/plugins/code/index.ts
  x-pack/legacy/plugins/code/kibana.json
  x-pack/legacy/plugins/code/scripts/mocha.js
  x-pack/legacy/plugins/code/server/distributed/apis/workspace_api.ts
  x-pack/legacy/plugins/code/server/distributed/code_services.test.ts
  x-pack/legacy/plugins/code/server/index.ts
  x-pack/legacy/plugins/code/server/init_local.ts
  x-pack/legacy/plugins/code/server/init_queue.ts
  x-pack/legacy/plugins/code/server/log.ts
  x-pack/legacy/plugins/code/server/lsp/controller.test.ts
  x-pack/legacy/plugins/code/server/lsp/controller.ts
  x-pack/legacy/plugins/code/server/lsp/language_servers.ts
  x-pack/legacy/plugins/code/server/plugin.ts
  x-pack/legacy/plugins/code/server/routes/install.ts
  x-pack/legacy/plugins/code/server/routes/lsp.ts
  x-pack/legacy/plugins/code/server/routes/repository.ts
  x-pack/legacy/plugins/code/server/server_options.ts
  x-pack/legacy/plugins/code/server/utils/console_logger.ts
  x-pack/legacy/plugins/code/server/utils/console_logger_factory.ts
  x-pack/legacy/plugins/code/server/utils/server_logger_factory.ts
  x-pack/plugins/code/kibana.json
  x-pack/plugins/code/server/config.ts
  x-pack/plugins/code/server/index.ts
  x-pack/plugins/code/server/plugin.ts
Labels: Team:Code, backport

#47252 [7.x] Remove ui/persisted_logs - Part 1 (#47225)
  src/legacy/core_plugins/kibana/public/dashboard/index.js
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/kibana/public/home/index.js
  src/legacy/core_plugins/kibana/public/visualize/editor/editor.js
  src/legacy/core_plugins/timelion/public/app.js
  src/legacy/ui/public/persisted_log/directive.js
  src/legacy/ui/public/persisted_log/index.ts
  src/legacy/ui/public/saved_objects/saved_object.js
  x-pack/legacy/plugins/canvas/public/state/reducers/workpad.js
  x-pack/legacy/plugins/maps/public/index.js
  x-pack/legacy/plugins/ml/public/app.js
  x-pack/legacy/plugins/ml/public/util/recently_accessed.ts
Labels: backport

#47079 Removing default title on dashboard save
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app_controller.tsx
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_state_manager.ts
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_strings.ts
  src/legacy/core_plugins/kibana/public/dashboard/saved_dashboard/saved_dashboard.js
Labels: Feature:Dashboard, Team:KibanaApp, release_note:skip, v7.5.0, v8.0.0

#47216 [7.x] [Monitoring] Metricbeat Migration Wizard Tests (#47139)
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/flyout/__snapshots__/flyout.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/metricbeat_migration/flyout/flyout.test.js
  x-pack/legacy/plugins/monitoring/public/components/renderers/__snapshots__/setup_mode.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/renderers/setup_mode.js
  x-pack/legacy/plugins/monitoring/public/components/renderers/setup_mode.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/badge.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/formatting.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/listing_callout.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/__snapshots__/tooltip.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/badge.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/formatting.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/listing_callout.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/listing_callout.test.js
  x-pack/legacy/plugins/monitoring/public/components/setup_mode/tooltip.test.js
  x-pack/legacy/plugins/monitoring/public/components/table/eui_table.js
  x-pack/legacy/plugins/monitoring/public/lib/setup_mode.test.js
Labels: backport

#46538 Simplify generics for IContextContainer
  docs/development/core/public/kibana-plugin-public.applicationsetup.registermountcontext.md
  docs/development/core/public/kibana-plugin-public.applicationstart.registermountcontext.md
  docs/development/core/public/kibana-plugin-public.contextsetup.createcontextcontainer.md
  docs/development/core/public/kibana-plugin-public.handlercontexttype.md
  docs/development/core/public/kibana-plugin-public.handlerfunction.md
  docs/development/core/public/kibana-plugin-public.handlerparameters.md
  docs/development/core/public/kibana-plugin-public.icontextcontainer.createhandler.md
  docs/development/core/public/kibana-plugin-public.icontextcontainer.md
  docs/development/core/public/kibana-plugin-public.icontextcontainer.registercontext.md
  docs/development/core/public/kibana-plugin-public.icontexthandler.md
  docs/development/core/public/kibana-plugin-public.icontextprovider.md
  docs/development/core/public/kibana-plugin-public.md
  docs/development/core/server/kibana-plugin-server.basepath.get.md
  docs/development/core/server/kibana-plugin-server.basepath.md
  docs/development/core/server/kibana-plugin-server.basepath.set.md
  docs/development/core/server/kibana-plugin-server.contextsetup.createcontextcontainer.md
  docs/development/core/server/kibana-plugin-server.coresetup.http.md
  docs/development/core/server/kibana-plugin-server.coresetup.md
  docs/development/core/server/kibana-plugin-server.handlercontexttype.md
  docs/development/core/server/kibana-plugin-server.handlerfunction.md
  docs/development/core/server/kibana-plugin-server.handlerparameters.md
  docs/development/core/server/kibana-plugin-server.httpservicesetup.md
  docs/development/core/server/kibana-plugin-server.icontextcontainer.createhandler.md
  docs/development/core/server/kibana-plugin-server.icontextcontainer.md
  docs/development/core/server/kibana-plugin-server.icontextcontainer.registercontext.md
  docs/development/core/server/kibana-plugin-server.icontexthandler.md
  docs/development/core/server/kibana-plugin-server.icontextprovider.md
  docs/development/core/server/kibana-plugin-server.md
  docs/development/core/server/kibana-plugin-server.requesthandlercontextcontainer.md
  docs/development/core/server/kibana-plugin-server.requesthandlercontextprovider.md
  docs/development/core/server/kibana-plugin-server.requesthandlerparams.md
  docs/development/core/server/kibana-plugin-server.requesthandlerreturn.md
  src/core/public/application/application_service.tsx
  src/core/public/application/types.ts
  src/core/public/context/context_service.ts
  src/core/public/context/index.ts
  src/core/public/index.ts
  src/core/public/public.api.md
  src/core/server/context/context_service.ts
  src/core/server/context/index.ts
  src/core/server/http/http_service.ts
  src/core/server/http/types.ts
  src/core/server/index.ts
  src/core/server/server.api.md
  src/core/utils/context.mock.ts
  src/core/utils/context.test.ts
  src/core/utils/context.ts
  x-pack/plugins/licensing/server/licensing_route_handler_context.test.ts
  x-pack/plugins/licensing/server/licensing_route_handler_context.ts
  x-pack/plugins/licensing/server/plugin.ts
Labels: Feature:New Platform, Team:Platform, release_note:skip, v7.5.0

#47157 [Maps] provide isLoading and hasError feedback when legend is collapsed
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/__snapshots__/view.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/index.js
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/view.js
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/view.test.js
Labels: Team:Geo, release_note:enhancement, v7.5.0, v8.0.0

#47066 [DOCS] Adds content for unique index pattern name
  docs/management/index-patterns.asciidoc
Labels: Team:Docs, release_note:skip, v6.4.0, v6.5.0, v6.7.0, v6.8.0, v7.0.0, v7.1.0, v7.2.0, v7.3.0, v7.4.0, v7.5.0

#47234 [7.x] [Canvas] i18n for page manager, page preview, and shape preview (#46865)
  x-pack/legacy/plugins/canvas/i18n/components.ts
  x-pack/legacy/plugins/canvas/public/components/page_manager/page_manager.js
  x-pack/legacy/plugins/canvas/public/components/page_preview/page_controls.js
Labels: backport

#47270 [7.x] [DOCS] Added content for unique index pattern name (#47066)
  docs/management/index-patterns.asciidoc
Labels: backport
