Repository elastic/kibana, pull requests merged in 2019-12, with the labels that each got.

#51925 Fix type error with jest tests
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend/vislib_vis_legend.test.tsx
Labels: release_note:skip, v7.6.0, v8.0.0

#51951 [7.x] De-angularize visLegend (#50613)
  src/legacy/core_plugins/kbn_vislib_vis_types/public/controller.js
  src/legacy/ui/public/vis/vis_types/__tests__/vislib_vis_legend.js
  src/legacy/ui/public/vis/vis_types/_vislib_vis_legend.scss
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend.html
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend.js
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend/__snapshots__/vislib_vis_legend.test.tsx.snap
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend/index.ts
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend/models.ts
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend/vislib_vis_legend.test.tsx
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend/vislib_vis_legend.tsx
  src/legacy/ui/public/vis/vis_types/vislib_vis_legend/vislib_vis_legend_item.tsx
  test/functional/page_objects/visualize_page.js
  x-pack/legacy/plugins/reporting/export_types/common/layouts/preserve_layout.css
  x-pack/legacy/plugins/reporting/export_types/common/layouts/print.css
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#51824 [APM] Add script for creating roles for local dev use
  src/cli/cluster/cluster_manager.js
  x-pack/legacy/plugins/apm/scripts/kibana-security/setup-custom-kibana-user-role.ts
  x-pack/legacy/plugins/apm/scripts/setup-kibana-security.js
Labels: release_note:skip, v7.6.0

#51696 Remove usages of `@kbn-ui-framework`
  src/legacy/core_plugins/kibana/public/visualize/listing/no_visualizations_prompt.js
  src/legacy/ui/public/exit_full_screen/__snapshots__/exit_full_screen_button.test.js.snap
  src/plugins/kibana_react/public/exit_full_screen_button/__snapshots__/exit_full_screen_button.test.tsx.snap
  src/plugins/kibana_react/public/exit_full_screen_button/_exit_full_screen_button.scss
  src/plugins/kibana_react/public/exit_full_screen_button/exit_full_screen_button.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:KibanaApp, release_note:skip, v7.6.0, v8.0.0

#51872 Replace StaticIndexPattern with IIndexPattern from NP
  src/legacy/core_plugins/data/public/index.ts
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.tsx
  src/legacy/core_plugins/kibana/public/discover/angular/doc_table/lib/get_sort.d.ts
  src/legacy/core_plugins/kibana/public/discover/embeddable/types.ts
  src/legacy/core_plugins/kibana/public/discover/kibana_services.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/get_index_pattern.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.ts
  src/legacy/core_plugins/kibana/public/visualize/kibana_services.ts
  src/legacy/ui/public/index_patterns/index.ts
  src/plugins/data/public/index_patterns/index_patterns_service.ts
  x-pack/legacy/plugins/apm/server/lib/ui_filters/local_ui_filters/get_filter_aggregations.ts
  x-pack/legacy/plugins/infra/public/components/inventory/toolbars/toolbar.tsx
  x-pack/legacy/plugins/infra/public/components/metrics_explorer/kuery_bar.tsx
  x-pack/legacy/plugins/infra/public/components/metrics_explorer/toolbar.tsx
  x-pack/legacy/plugins/infra/public/containers/logs/with_log_filter.tsx
  x-pack/legacy/plugins/infra/public/containers/metrics_explorer/use_metrics_explorer_data.ts
  x-pack/legacy/plugins/infra/public/containers/waffle/with_waffle_filters.tsx
  x-pack/legacy/plugins/infra/public/containers/waffle/with_waffle_view_state.tsx
  x-pack/legacy/plugins/infra/public/containers/with_kuery_autocompletion.tsx
  x-pack/legacy/plugins/infra/public/containers/with_source/with_source.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/metrics_explorer/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/metrics_explorer/use_metric_explorer_state.ts
  x-pack/legacy/plugins/infra/public/utils/kuery.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/embeddable/embeddable.tsx
  x-pack/legacy/plugins/ml/public/application/jobs/new_job/common/index_pattern_context.ts
  x-pack/legacy/plugins/siem/public/components/events_viewer/events_viewer.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/hosts_table/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_countries_table/columns.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_countries_table/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_n_flow_table/columns.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_n_flow_table/index.tsx
  x-pack/legacy/plugins/siem/public/components/query_bar/index.tsx
  x-pack/legacy/plugins/siem/public/components/search_bar/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/fetch_kql_timeline.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/header/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/helpers.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/query_bar/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/search_or_filter/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/search_or_filter/search_or_filter.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/timeline.tsx
  x-pack/legacy/plugins/siem/public/components/url_state/types.ts
  x-pack/legacy/plugins/siem/public/containers/detection_engine/rules/fetch_index_patterns.tsx
  x-pack/legacy/plugins/siem/public/containers/kuery_autocompletion/index.tsx
  x-pack/legacy/plugins/siem/public/containers/source/index.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/create_rule/components/query_bar/index.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/details/details_tabs.test.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/details/types.ts
  x-pack/legacy/plugins/siem/public/pages/hosts/navigation/types.ts
  x-pack/legacy/plugins/siem/public/pages/hosts/types.ts
  x-pack/legacy/plugins/siem/public/pages/network/ip_details/types.ts
  x-pack/legacy/plugins/siem/public/pages/network/navigation/types.ts
  x-pack/legacy/plugins/siem/public/utils/kql/use_update_kql.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/source_index_preview/use_source_index_data.ts
Labels: Feature:NP Migration, Team:AppArch, release_note:dev_docs, v7.6.0, v8.0.0

#50759 [Vis] TableVis uses local angular
  src/legacy/core_plugins/vis_type_table/public/__tests__/table_vis_controller.js
  src/legacy/core_plugins/vis_type_table/public/agg_table/__tests__/agg_table.js
  src/legacy/core_plugins/vis_type_table/public/agg_table/__tests__/agg_table_group.js
  src/legacy/core_plugins/vis_type_table/public/agg_table/agg_table.js
  src/legacy/core_plugins/vis_type_table/public/components/table_vis_options.tsx
  src/legacy/core_plugins/vis_type_table/public/get_inner_angular.ts
  src/legacy/core_plugins/vis_type_table/public/legacy.ts
  src/legacy/core_plugins/vis_type_table/public/legacy_imports.ts
  src/legacy/core_plugins/vis_type_table/public/paginated_table/__tests__/paginated_table.js
  src/legacy/core_plugins/vis_type_table/public/paginated_table/paginated_table.test.ts
  src/legacy/core_plugins/vis_type_table/public/plugin.ts
  src/legacy/core_plugins/vis_type_table/public/shim/table_vis_legacy_module.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis.mock.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_controller.test.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_legacy_module.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_request_handler.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_type.ts
  src/legacy/core_plugins/vis_type_table/public/vis_controller.ts
  src/legacy/ui/public/directives/paginate.js
  src/legacy/ui/public/new_platform/new_platform.karma_mock.js
Labels: Feature:NP Migration, Team:KibanaApp, release_note:skip, review, v7.6.0, v8.0.0

#51887 [TSVB] Fix TSVB not saving correctly
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.ts
  src/legacy/core_plugins/vis_type_timeseries/public/components/vis_editor.js
  src/legacy/core_plugins/vis_type_timeseries/public/components/vis_editor_visualization.js
  test/functional/apps/visualize/_tsvb_table.ts
Labels: Team:KibanaApp, bug, release_note:skip, v7.6.0, v8.0.0

#51832 [ML] Adds functional tests for the index based data visualizer
  x-pack/legacy/plugins/ml/public/application/datavisualizer/datavisualizer_selector.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/components/field_data_card/field_data_card.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/components/fields_panel/fields_panel.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/components/search_panel/search_panel.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/page.tsx
  x-pack/test/functional/apps/machine_learning/data_visualizer/index.ts
  x-pack/test/functional/apps/machine_learning/data_visualizer/index_data_visualizer.ts
  x-pack/test/functional/apps/machine_learning/index.ts
  x-pack/test/functional/services/machine_learning/data_visualizer.ts
  x-pack/test/functional/services/machine_learning/data_visualizer_index_based.ts
  x-pack/test/functional/services/machine_learning/index.ts
  x-pack/test/functional/services/machine_learning/job_source_selection.ts
  x-pack/test/functional/services/ml.ts
Labels: :ml, release_note:skip, review, test_ui_functional, v7.6.0, v8.0.0

#51957 [7.x] Remove usages of `@kbn-ui-framework` (#51696)
  src/legacy/core_plugins/kibana/public/visualize/listing/no_visualizations_prompt.js
  src/legacy/ui/public/exit_full_screen/__snapshots__/exit_full_screen_button.test.js.snap
  src/plugins/kibana_react/public/exit_full_screen_button/__snapshots__/exit_full_screen_button.test.tsx.snap
  src/plugins/kibana_react/public/exit_full_screen_button/_exit_full_screen_button.scss
  src/plugins/kibana_react/public/exit_full_screen_button/exit_full_screen_button.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#51885 [EPM] Refactoring of lib structure
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ilm/ilm.test.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ilm/ilm.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/ingest_pipelines.test.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/ingest_pipelines.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipeline_template.json
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/no_replacement.json
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/no_replacement.yml
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/real_input_beats.json
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/real_input_beats.yml
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/real_input_standard.json
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/real_input_standard.yml
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/real_output.json
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/tests/ingest_pipelines/real_output.yml
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/template/template.test.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/template/template.ts
  x-pack/legacy/plugins/epm/server/lib/fields/field.test.ts
  x-pack/legacy/plugins/epm/server/lib/fields/field.ts
  x-pack/legacy/plugins/epm/server/lib/fields/tests/base.fields.generate.json
  x-pack/legacy/plugins/epm/server/lib/fields/tests/base.template.generate.json
  x-pack/legacy/plugins/epm/server/lib/fields/tests/base.yml
  x-pack/test/epm_api_integration/apis/ilm.ts
  x-pack/test/epm_api_integration/apis/template.ts
Labels: Feature:EPM

#51958 [EPM] Allow to read files from fields directory
  x-pack/legacy/plugins/epm/server/registry/index.test.ts
  x-pack/legacy/plugins/epm/server/registry/index.ts
Labels: Feature:EPM

#51967 [7.x] [ML] Adds functional tests for the index based data visualizer (#51832)
  x-pack/legacy/plugins/ml/public/application/datavisualizer/datavisualizer_selector.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/components/field_data_card/field_data_card.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/components/fields_panel/fields_panel.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/components/search_panel/search_panel.tsx
  x-pack/legacy/plugins/ml/public/application/datavisualizer/index_based/page.tsx
  x-pack/test/functional/apps/machine_learning/data_visualizer/index.ts
  x-pack/test/functional/apps/machine_learning/data_visualizer/index_data_visualizer.ts
  x-pack/test/functional/apps/machine_learning/index.ts
  x-pack/test/functional/services/machine_learning/data_visualizer.ts
  x-pack/test/functional/services/machine_learning/data_visualizer_index_based.ts
  x-pack/test/functional/services/machine_learning/index.ts
  x-pack/test/functional/services/machine_learning/job_source_selection.ts
  x-pack/test/functional/services/ml.ts
Labels: :ml, backport

#51965 [7.x] [TSVB] Fix TSVB not saving correctly (#51887)
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.ts
  src/legacy/core_plugins/vis_type_timeseries/public/components/vis_editor.js
  src/legacy/core_plugins/vis_type_timeseries/public/components/vis_editor_visualization.js
  test/functional/apps/visualize/_tsvb_table.ts
Labels: backport

#50000 Fixed NaN comparison
  src/legacy/core_plugins/vis_type_timeseries/public/components/color_rules.js
Labels: Feature:TSVB, Team:KibanaApp, release_note:skip, v7.6.0, v8.0.0

#51954 refactor: replace 'change' to arrow in index pattern selector
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_index_pattern_title.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:KibanaApp, release_note:skip, v7.6.0, v8.0.0

#51878 [EPM] Install Elasticsearch Index Template for data source
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/template/template.ts
  x-pack/legacy/plugins/epm/server/packages/install.ts
  x-pack/legacy/plugins/epm/server/packages/remove.ts
  x-pack/legacy/plugins/epm/server/registry/index.ts
Labels: Feature:EPM

#51970 [7.x] Fixed NaN comparison (#50000)
  src/legacy/core_plugins/vis_type_timeseries/public/components/color_rules.js
Labels: backport

#51977 [DOCS] Removes coming tags
  docs/release-notes/highlights-7.5.0.asciidoc
Labels: Team:Docs, release_note:skip, v7.5.1, v7.6.0

#51971 [7.x] refactor: replace 'change' to arrow in index pattern selector (#51954)
  src/legacy/core_plugins/kibana/public/discover/components/field_chooser/discover_index_pattern_title.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#50738 Http compression config
  docs/setup/settings.asciidoc
  src/core/server/http/__snapshots__/http_config.test.ts.snap
  src/core/server/http/cookie_session_storage.test.ts
  src/core/server/http/http_config.test.ts
  src/core/server/http/http_config.ts
  src/core/server/http/http_server.test.ts
  src/core/server/http/http_server.ts
  src/core/server/http/http_tools.test.ts
  src/core/server/http/integration_tests/lifecycle.test.ts
  src/core/server/http/integration_tests/router.test.ts
  src/core/server/legacy/config/__snapshots__/legacy_object_to_config_adapter.test.ts.snap
  src/core/server/legacy/config/legacy_object_to_config_adapter.test.ts
  src/core/server/legacy/config/legacy_object_to_config_adapter.ts
  src/legacy/server/config/schema.js
  test/api_integration/apis/core/index.js
  test/api_integration/apis/index.js
  test/api_integration/config.js
Labels: release_note:skip, v7.5.1, v7.6.0, v8.0.0

#51779 [Maps] Move vector-style component
  x-pack/legacy/plugins/maps/public/layers/styles/_index.scss
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/_static_dynamic_style_row.scss
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/color/vector_style_color_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/orientation/orientation_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/size/vector_style_size_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/static_dynamic_style_row.js
Labels: Team:Geo, chore, release_note:skip, v7.6.0, v8.0.0

#51497 [Maps] fix too_many_buckets_exception for top hits
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Geo, release_note:enhancement, release_note:fix, v7.6.0, v8.0.0

#50001 Removed duplicate attribute
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.html
Labels: Team:KibanaApp, release_note:skip, v7.6.0, v8.0.0

#51451 Update kibana.yml explanation of elasticsearch.ssl
  config/kibana.yml
Labels: release_note:skip, v7.6.0, v8.0.0

#51936 [DOCS] Fixes xpack-ref links
  docs/setup/docker.asciidoc
  docs/setup/install/deb.asciidoc
  docs/setup/install/rpm.asciidoc
  docs/setup/install/targz.asciidoc
  docs/setup/install/windows.asciidoc
Labels: Team:Docs, release_note:skip, v8.0.0

#51986 [7.x] [Maps] Move vector-style component to vector folder (#51779)
  x-pack/legacy/plugins/maps/public/layers/styles/_index.scss
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/_static_dynamic_style_row.scss
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/color/vector_style_color_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/orientation/orientation_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/size/vector_style_size_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/static_dynamic_style_row.js
Labels: backport, release_note:skip, v7.6.0

#51987 [7.5] Http compression config (#50738)
  docs/setup/settings.asciidoc
  src/core/server/http/__snapshots__/http_config.test.ts.snap
  src/core/server/http/cookie_session_storage.test.ts
  src/core/server/http/http_config.test.ts
  src/core/server/http/http_config.ts
  src/core/server/http/http_server.test.ts
  src/core/server/http/http_server.ts
  src/core/server/http/http_tools.test.ts
  src/core/server/http/integration_tests/lifecycle.test.ts
  src/core/server/http/integration_tests/router.test.ts
  src/core/server/legacy/config/__snapshots__/legacy_object_to_config_adapter.test.ts.snap
  src/core/server/legacy/config/legacy_object_to_config_adapter.test.ts
  src/core/server/legacy/config/legacy_object_to_config_adapter.ts
  src/legacy/server/config/schema.js
  test/api_integration/apis/core/index.js
  test/api_integration/apis/index.js
  test/api_integration/config.js
Labels: backport

#51984 [7.x] Http compression config (#50738)
  docs/setup/settings.asciidoc
  src/core/server/http/__snapshots__/http_config.test.ts.snap
  src/core/server/http/cookie_session_storage.test.ts
  src/core/server/http/http_config.test.ts
  src/core/server/http/http_config.ts
  src/core/server/http/http_server.test.ts
  src/core/server/http/http_server.ts
  src/core/server/http/http_tools.test.ts
  src/core/server/http/integration_tests/lifecycle.test.ts
  src/core/server/http/integration_tests/router.test.ts
  src/core/server/legacy/config/__snapshots__/legacy_object_to_config_adapter.test.ts.snap
  src/core/server/legacy/config/legacy_object_to_config_adapter.test.ts
  src/core/server/legacy/config/legacy_object_to_config_adapter.ts
  src/legacy/server/config/schema.js
  test/api_integration/apis/core/index.js
  test/api_integration/apis/index.js
  test/api_integration/config.js
Labels: backport

#51765 [APM] Add NP feature catalog registration
  x-pack/legacy/plugins/apm/index.ts
  x-pack/legacy/plugins/apm/public/legacy_register_feature.js
  x-pack/legacy/plugins/apm/public/new-platform/featureCatalogueEntry.ts
  x-pack/legacy/plugins/apm/public/new-platform/plugin.tsx
  x-pack/legacy/plugins/apm/public/register_feature.js
  x-pack/plugins/apm/kibana.json
Labels: release_note:skip, v7.6.0

#51991 [7.x] [Maps] fix too_many_buckets_exception for top hits (#51497)
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#51983 [7.x][DOCS] Removes coming tags (#51977)
  docs/release-notes/highlights-7.5.0.asciidoc
Labels: backport

#51996 [7.x] [DOCS] Fixes xpack-ref links (#51936)
  docs/setup/docker.asciidoc
  docs/setup/install/deb.asciidoc
  docs/setup/install/rpm.asciidoc
  docs/setup/install/targz.asciidoc
  docs/setup/install/windows.asciidoc
Labels: backport

#51997 [7.5] [DOCS] Fixes xpack-ref links (#51936)
  docs/setup/docker.asciidoc
  docs/setup/install/deb.asciidoc
  docs/setup/install/rpm.asciidoc
  docs/setup/install/targz.asciidoc
  docs/setup/install/windows.asciidoc
Labels: backport

#51998 [7.4] [DOCS] Fixes xpack-ref links (#51936)
  docs/setup/docker.asciidoc
  docs/setup/install/deb.asciidoc
  docs/setup/install/rpm.asciidoc
  docs/setup/install/targz.asciidoc
  docs/setup/install/windows.asciidoc
Labels: backport

#51999 [7.3] [DOCS] Fixes xpack-ref links (#51936)
  docs/setup/docker.asciidoc
  docs/setup/install/deb.asciidoc
  docs/setup/install/rpm.asciidoc
  docs/setup/install/targz.asciidoc
  docs/setup/install/windows.asciidoc
Labels: backport

#51914 [ML] Fixing info content detector field selection
  x-pack/legacy/plugins/ml/server/models/job_service/new_job_caps/__mocks__/results/farequote_job_caps.json
  x-pack/legacy/plugins/ml/server/models/job_service/new_job_caps/field_service.ts
Labels: :ml, backport pending, bug, release_note:fix, review, v7.5.1, v7.6.0, v8.0.0

#51993 [SIEM] [BUG] Fix url link on tab
  x-pack/legacy/plugins/siem/cypress/integration/lib/hosts/selectors.ts
  x-pack/legacy/plugins/siem/cypress/integration/smoke_tests/url_state/url_state.spec.ts
  x-pack/legacy/plugins/siem/public/components/navigation/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/navigation/index.tsx
  x-pack/legacy/plugins/siem/public/components/navigation/tab_navigation/types.ts
  x-pack/legacy/plugins/siem/public/components/navigation/types.ts
Labels: Team:SIEM, bug, release_note:skip, v7.5.1, v7.6.0, v8.0.0

#51459 Experimenting with delay in test startup
  Jenkinsfile
  vars/kibanaPipeline.groovy
Labels: Feature:CI, Team:Operations, release_note:skip, v6.8.5, v7.4.3, v7.5.1, v7.6.0, v8.0.0

#51992 [7.x] Update kibana.yml explanation of elasticsearch.ssl (#51451)
  config/kibana.yml
Labels: backport

#51844 This app is an entirely different app on cloud. Disabling.
  x-pack/test/functional/apps/snapshot_restore/index.ts
Labels: release_note:skip, v7.5.0, v8.0.0

#51754 Backport/6.8 - lots of Pipeline updates
  .ci/Jenkinsfile_flaky
  Jenkinsfile
  src/dev/ci_setup/setup_env.sh
  src/dev/precommit_hook/casing_check_config.js
  test/scripts/jenkins_ci_group.sh
  test/scripts/jenkins_test_setup.sh
  test/scripts/jenkins_xpack_ci_group.sh
  vars/kibanaPipeline.groovy
  vars/runbld.groovy
Labels: backport, release_note:skip

#51990 [7.5] Bump version to 7.5.1
  package.json
  packages/kbn-es/src/custom_snapshots.js
  x-pack/package.json
Labels: Team:Operations, chore, release_note:skip, v7.5.1

#49358 [Canvas] New Platform shim Canvas Client Side
  x-pack/legacy/plugins/canvas/.storybook/config.js
  x-pack/legacy/plugins/canvas/index.js
  x-pack/legacy/plugins/canvas/public/angular/config/index.js
  x-pack/legacy/plugins/canvas/public/angular/config/location_provider.js
  x-pack/legacy/plugins/canvas/public/angular/config/location_provider.ts
  x-pack/legacy/plugins/canvas/public/angular/config/state_management.js
  x-pack/legacy/plugins/canvas/public/angular/controllers/canvas.tsx
  x-pack/legacy/plugins/canvas/public/angular/controllers/index.ts
  x-pack/legacy/plugins/canvas/public/angular/services/index.js
  x-pack/legacy/plugins/canvas/public/angular/services/store.js
  x-pack/legacy/plugins/canvas/public/app.js
  x-pack/legacy/plugins/canvas/public/components/app/track_route_change.js
  x-pack/legacy/plugins/canvas/public/components/editor/editor.tsx
  x-pack/legacy/plugins/canvas/public/components/editor/editor_theme.ts
  x-pack/legacy/plugins/canvas/public/components/editor/index.ts
  x-pack/legacy/plugins/canvas/public/components/editor/index.tsx
  x-pack/legacy/plugins/canvas/public/components/embeddable_flyout/flyout.tsx
  x-pack/legacy/plugins/canvas/public/components/embeddable_flyout/index.tsx
  x-pack/legacy/plugins/canvas/public/components/workpad_header/workpad_export/flyout/index.ts
  x-pack/legacy/plugins/canvas/public/components/workpad_header/workpad_export/index.ts
  x-pack/legacy/plugins/canvas/public/components/workpad_header/workpad_export/utils.ts
  x-pack/legacy/plugins/canvas/public/index.ts
  x-pack/legacy/plugins/canvas/public/legacy.ts
  x-pack/legacy/plugins/canvas/public/legacy_start.ts
  x-pack/legacy/plugins/canvas/public/lib/breadcrumbs.js
  x-pack/legacy/plugins/canvas/public/lib/breadcrumbs.ts
  x-pack/legacy/plugins/canvas/public/lib/clipboard.js
  x-pack/legacy/plugins/canvas/public/lib/custom_element_service.ts
  x-pack/legacy/plugins/canvas/public/lib/documentation_links.ts
  x-pack/legacy/plugins/canvas/public/lib/download_workpad.ts
  x-pack/legacy/plugins/canvas/public/lib/es_service.ts
  x-pack/legacy/plugins/canvas/public/lib/load_expression_types.js
  x-pack/legacy/plugins/canvas/public/lib/load_transitions.js
  x-pack/legacy/plugins/canvas/public/lib/loading_indicator.ts
  x-pack/legacy/plugins/canvas/public/lib/notify.js
  x-pack/legacy/plugins/canvas/public/lib/workpad_service.js
  x-pack/legacy/plugins/canvas/public/plugin.tsx
  x-pack/legacy/plugins/canvas/public/state/initial_state.js
  x-pack/legacy/plugins/canvas/public/state/reducers/workpad.js
  x-pack/legacy/plugins/canvas/scripts/lint.js
Labels: Feature:NP Migration, Team:Canvas, impact:critical, loe:days, release_note:skip, review, v7.6.0, v8.0.0

#52002 Prevents xpack.task_manager.index being set to .tasks
  x-pack/legacy/plugins/task_manager/index.ts
Labels: Team:Operations, release_note:fix, v7.5.1, v7.6.0, v8.0.0

#52013 [DOCS][7.5] Adds link to release blog
  docs/release-notes/highlights-7.5.0.asciidoc
Labels: Team:Docs, release_note:skip, v7.5.0

#52009 [DOCS][7.x] Adds link to Release Blog
  docs/release-notes/highlights-7.5.0.asciidoc
Labels: Team:Docs, release_note:skip, v7.6.0

#52001 [Maps] Refactor style editor to use style property class instead of style descriptor object
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/color/vector_style_color_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/get_vector_style_label.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/orientation/orientation_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/size/vector_style_size_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/static_dynamic_style_row.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/vector_style_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/vector_style.js
Labels: Team:Geo, chore, release_note:skip, v7.6.0, v8.0.0

#51635 [APM] getInjectedVars shim
  x-pack/legacy/plugins/apm/index.ts
  x-pack/legacy/plugins/apm/public/components/app/Home/Home.test.tsx
  x-pack/legacy/plugins/apm/public/components/app/Home/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/Main/UpdateBreadcrumbs.tsx
  x-pack/legacy/plugins/apm/public/components/app/Main/__test__/UpdateBreadcrumbs.test.js
  x-pack/legacy/plugins/apm/public/components/app/Main/route_config/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/ServiceDetails/ServiceDetailTabs.tsx
  x-pack/legacy/plugins/apm/public/components/app/ServiceDetails/ServiceIntegrations/WatcherFlyout.tsx
  x-pack/legacy/plugins/apm/public/context/MatchedRouteContext.tsx
  x-pack/legacy/plugins/apm/public/new-platform/getConfigFromInjectedMetadata.ts
  x-pack/legacy/plugins/apm/public/new-platform/index.tsx
  x-pack/legacy/plugins/apm/public/new-platform/plugin.tsx
  x-pack/legacy/plugins/apm/public/new-platform/toggleAppLinkInNav.ts
Labels: release_note:skip, v7.6.0

#52017 [Doc]Replace outdated screenshots and change graphic format
  docs/user/monitoring/images/monitoring-logstash-node.jpg
  docs/user/monitoring/images/monitoring-logstash-node.png
  docs/user/monitoring/images/monitoring-logstash-nodes.jpg
  docs/user/monitoring/images/monitoring-logstash-nodes.png
  docs/user/monitoring/images/monitoring-logstash-overview.jpg
  docs/user/monitoring/images/monitoring-logstash-overview.png
  docs/user/monitoring/logstash-details.asciidoc
Labels: release_note:skip, v7.5.0, v7.6.0, v8.0.0

#52018 [7.x] Prevents xpack.task_manager.index being set to .tasks (#52002)
  x-pack/legacy/plugins/task_manager/index.ts
Labels: backport

#52019 [7.5] Prevents xpack.task_manager.index being set to .tasks (#52002)
  x-pack/legacy/plugins/task_manager/index.ts
Labels: backport

#52028 [Doc]Replace outdated screenshots and change graphic format (#52017) for 7.x
  docs/user/monitoring/images/monitoring-logstash-node.jpg
  docs/user/monitoring/images/monitoring-logstash-node.png
  docs/user/monitoring/images/monitoring-logstash-nodes.jpg
  docs/user/monitoring/images/monitoring-logstash-nodes.png
  docs/user/monitoring/images/monitoring-logstash-overview.jpg
  docs/user/monitoring/images/monitoring-logstash-overview.png
  docs/user/monitoring/logstash-details.asciidoc
Labels: release_note:skip, v7.6.0

#52014 [6.8] Experimenting with delay in test startup (#51459)
  vars/kibanaPipeline.groovy
Labels: backport, release_note:skip

#52012 [7.4] Experimenting with delay in test startup (#51459)
  Jenkinsfile
  vars/kibanaPipeline.groovy
Labels: backport, release_note:skip

#52011 [7.5] Experimenting with delay in test startup (#51459)
  Jenkinsfile
  vars/kibanaPipeline.groovy
Labels: backport, release_note:skip

#52010 [7.x] Experimenting with delay in test startup (#51459)
  Jenkinsfile
  vars/kibanaPipeline.groovy
Labels: backport, release_note:skip

#52005 [7.x] fix tab url link (#51993)
  x-pack/legacy/plugins/siem/cypress/integration/lib/hosts/selectors.ts
  x-pack/legacy/plugins/siem/cypress/integration/smoke_tests/url_state/url_state.spec.ts
  x-pack/legacy/plugins/siem/public/components/navigation/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/navigation/index.tsx
  x-pack/legacy/plugins/siem/public/components/navigation/tab_navigation/types.ts
  x-pack/legacy/plugins/siem/public/components/navigation/types.ts
Labels: backport

#51767 Clear cache when updating indices via UI
  x-pack/legacy/plugins/apm/public/components/app/Settings/ApmIndices/index.tsx
Labels: release_note:enhancement, v7.6.0

#51502 [skip-ci] Update App Arch CODEOWNERS with legacy plugins.
  .github/CODEOWNERS
Labels: Team:AppArch, release_note:skip, review, v7.6.0, v8.0.0

#51985 [SIEM][Detection Engine] Switches actions/alerting on by default with SIEM
  x-pack/legacy/plugins/siem/index.test.ts
  x-pack/legacy/plugins/siem/index.ts
  x-pack/legacy/plugins/siem/server/kibana.index.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/README.md
  x-pack/legacy/plugins/siem/server/lib/detection_engine/scripts/README.md
  x-pack/legacy/plugins/siem/server/lib/detection_engine/scripts/check_env_variables.sh
Labels: Team:SIEM, release_note:skip, v7.6.0, v8.0.0

#52021 [7.x] [Maps] Refactor style editor to use style property class instead of style descriptor object (#52001)
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/color/vector_style_color_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/get_vector_style_label.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/orientation/orientation_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/size/vector_style_size_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/static_dynamic_style_row.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/components/vector_style_editor.js
  x-pack/legacy/plugins/maps/public/layers/styles/vector/vector_style.js
Labels: backport

#51846 [7.x] [Monitoring] Sass cleanup (#51100)
  x-pack/legacy/plugins/monitoring/public/components/chart/_chart.scss
  x-pack/legacy/plugins/monitoring/public/components/chart/horizontal_legend.js
  x-pack/legacy/plugins/monitoring/public/components/chart/monitoring_timeseries_container.js
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/indices/indices.js
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/shard_allocation/_shard_allocation.scss
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/shard_allocation/components/assigned.js
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/shard_allocation/components/unassigned.js
  x-pack/legacy/plugins/monitoring/public/components/elasticsearch/shard_allocation/shard_allocation.js
  x-pack/legacy/plugins/monitoring/public/components/status_icon/index.js
  x-pack/legacy/plugins/monitoring/public/components/summary_status/__snapshots__/summary_status.test.js.snap
  x-pack/legacy/plugins/monitoring/public/components/table/_table.scss
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/__tests__/get_node_summary.js
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/__tests__/get_node_type_class_label.js
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/get_nodes/__test__/__snapshots__/handle_response.test.js.snap
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/get_nodes/__test__/__snapshots__/map_nodes_info.test.js.snap
  x-pack/legacy/plugins/monitoring/server/lib/elasticsearch/nodes/lookups.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/node_detail_advanced.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/nodes_listing_cgroup.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/nodes_listing_green.json
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/nodes_listing_red.json
Labels: backport

#52039 [7.x] [SIEM][Detection Engine] Switches actions/alerting on by default with SIEM (#51985)
  x-pack/legacy/plugins/siem/index.test.ts
  x-pack/legacy/plugins/siem/index.ts
  x-pack/legacy/plugins/siem/server/kibana.index.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/README.md
  x-pack/legacy/plugins/siem/server/lib/detection_engine/scripts/README.md
  x-pack/legacy/plugins/siem/server/lib/detection_engine/scripts/check_env_variables.sh
Labels: backport

#51770 [APM] metadata.branch shim
  x-pack/legacy/plugins/apm/public/components/app/Home/Home.test.tsx
  x-pack/legacy/plugins/apm/public/components/app/Home/__snapshots__/Home.test.tsx.snap
  x-pack/legacy/plugins/apm/public/components/app/Main/__test__/UpdateBreadcrumbs.test.js
  x-pack/legacy/plugins/apm/public/components/shared/Links/ElasticDocsLink.tsx
  x-pack/legacy/plugins/apm/public/components/shared/MetadataTable/ErrorMetadata/__test__/ErrorMetadata.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/MetadataTable/SpanMetadata/__test__/SpanMetadata.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/MetadataTable/TransactionMetadata/__test__/TransactionMetadata.test.tsx
  x-pack/legacy/plugins/apm/public/components/shared/MetadataTable/__test__/MetadataTable.test.tsx
  x-pack/legacy/plugins/apm/public/new-platform/plugin.tsx
  x-pack/legacy/plugins/apm/public/new-platform/stackVersionFromLegacyMetadata.ts
  x-pack/legacy/plugins/apm/public/utils/testHelpers.tsx
Labels: release_note:skip, v7.6.0

#52030 [7.x] Replace StaticIndexPattern with IIndexPattern from NP (#51872)
  src/legacy/core_plugins/data/public/index.ts
  src/legacy/core_plugins/data/public/index_patterns/index.ts
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.tsx
  src/legacy/core_plugins/kibana/public/discover/angular/doc_table/lib/get_sort.d.ts
  src/legacy/core_plugins/kibana/public/discover/embeddable/types.ts
  src/legacy/core_plugins/kibana/public/discover/kibana_services.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/get_index_pattern.ts
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.ts
  src/legacy/core_plugins/kibana/public/visualize/kibana_services.ts
  src/legacy/ui/public/index_patterns/index.ts
  src/plugins/data/public/index_patterns/index_patterns_service.ts
  x-pack/legacy/plugins/apm/server/lib/helpers/setup_request.ts
  x-pack/legacy/plugins/apm/server/lib/index_pattern/get_dynamic_index_pattern.ts
  x-pack/legacy/plugins/apm/server/lib/ui_filters/local_ui_filters/get_filter_aggregations.ts
  x-pack/legacy/plugins/infra/public/components/inventory/toolbars/toolbar.tsx
  x-pack/legacy/plugins/infra/public/components/metrics_explorer/kuery_bar.tsx
  x-pack/legacy/plugins/infra/public/components/metrics_explorer/toolbar.tsx
  x-pack/legacy/plugins/infra/public/containers/logs/with_log_filter.tsx
  x-pack/legacy/plugins/infra/public/containers/metrics_explorer/use_metrics_explorer_data.ts
  x-pack/legacy/plugins/infra/public/containers/waffle/with_waffle_filters.tsx
  x-pack/legacy/plugins/infra/public/containers/waffle/with_waffle_view_state.tsx
  x-pack/legacy/plugins/infra/public/containers/with_kuery_autocompletion.tsx
  x-pack/legacy/plugins/infra/public/containers/with_source/with_source.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/metrics_explorer/index.tsx
  x-pack/legacy/plugins/infra/public/pages/infrastructure/metrics_explorer/use_metric_explorer_state.ts
  x-pack/legacy/plugins/infra/public/utils/kuery.ts
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/embeddable/embeddable.tsx
  x-pack/legacy/plugins/ml/public/application/jobs/new_job/common/index_pattern_context.ts
  x-pack/legacy/plugins/siem/public/components/events_viewer/events_viewer.tsx
  x-pack/legacy/plugins/siem/public/components/page/hosts/hosts_table/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_countries_table/columns.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_countries_table/index.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_n_flow_table/columns.tsx
  x-pack/legacy/plugins/siem/public/components/page/network/network_top_n_flow_table/index.tsx
  x-pack/legacy/plugins/siem/public/components/query_bar/index.tsx
  x-pack/legacy/plugins/siem/public/components/search_bar/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/fetch_kql_timeline.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/header/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/helpers.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/query_bar/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/search_or_filter/index.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/search_or_filter/search_or_filter.tsx
  x-pack/legacy/plugins/siem/public/components/timeline/timeline.tsx
  x-pack/legacy/plugins/siem/public/components/url_state/types.ts
  x-pack/legacy/plugins/siem/public/containers/detection_engine/rules/fetch_index_patterns.tsx
  x-pack/legacy/plugins/siem/public/containers/kuery_autocompletion/index.tsx
  x-pack/legacy/plugins/siem/public/containers/source/index.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/create_rule/components/query_bar/index.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/details/details_tabs.test.tsx
  x-pack/legacy/plugins/siem/public/pages/hosts/details/types.ts
  x-pack/legacy/plugins/siem/public/pages/hosts/navigation/types.ts
  x-pack/legacy/plugins/siem/public/pages/hosts/types.ts
  x-pack/legacy/plugins/siem/public/pages/network/ip_details/types.ts
  x-pack/legacy/plugins/siem/public/pages/network/navigation/types.ts
  x-pack/legacy/plugins/siem/public/utils/kql/use_update_kql.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/source_index_preview/use_source_index_data.ts
Labels: backport

#51950 [Fleet] Policy list, details, create, edit UIs
  x-pack/legacy/plugins/fleet/common/constants/index.ts
  x-pack/legacy/plugins/fleet/common/return_types.ts
  x-pack/legacy/plugins/fleet/common/types/domain_data.ts
  x-pack/legacy/plugins/fleet/public/components/policy_form.tsx
  x-pack/legacy/plugins/fleet/public/components/search_bar.tsx
  x-pack/legacy/plugins/fleet/public/index.tsx
  x-pack/legacy/plugins/fleet/public/lib/adapters/framework/adapter_types.ts
  x-pack/legacy/plugins/fleet/public/lib/adapters/framework/kibana_framework_adapter.ts
  x-pack/legacy/plugins/fleet/public/lib/adapters/framework/testing_framework_adapter.ts
  x-pack/legacy/plugins/fleet/public/lib/adapters/policy/memory_policy_adapter.ts
  x-pack/legacy/plugins/fleet/public/lib/adapters/policy/rest_policy_adapter.ts
  x-pack/legacy/plugins/fleet/public/lib/policy.ts
  x-pack/legacy/plugins/fleet/public/pages/agent_details/components/details_section.tsx
  x-pack/legacy/plugins/fleet/public/pages/agent_list/components/agent_enrollment.tsx
  x-pack/legacy/plugins/fleet/public/pages/agent_list/components/enrollment_api_keys/hooks.tsx
  x-pack/legacy/plugins/fleet/public/pages/agent_list/components/enrollment_api_keys/index.tsx
  x-pack/legacy/plugins/fleet/public/pages/agent_list/index.tsx
  x-pack/legacy/plugins/fleet/public/pages/index.tsx
  x-pack/legacy/plugins/fleet/public/pages/policy_details/components/donut_chart.tsx
  x-pack/legacy/plugins/fleet/public/pages/policy_details/components/edit_policy.tsx
  x-pack/legacy/plugins/fleet/public/pages/policy_details/hooks/use_agent_status.tsx
  x-pack/legacy/plugins/fleet/public/pages/policy_details/hooks/use_policy.tsx
  x-pack/legacy/plugins/fleet/public/pages/policy_details/index.tsx
  x-pack/legacy/plugins/fleet/public/pages/policy_list/components/create_policy.tsx
  x-pack/legacy/plugins/fleet/public/pages/policy_list/index.tsx
  x-pack/legacy/plugins/fleet/scripts/mock_spec/models/policy.v1.json
  x-pack/legacy/plugins/fleet/scripts/mock_spec/openapi.json
  x-pack/legacy/plugins/fleet/server/libs/api_keys.ts
  x-pack/legacy/plugins/ingest/server/rest_api/init_api.ts
  x-pack/legacy/plugins/ingest/server/rest_api/policy/index.ts
Labels: Feature:Fleet

#51871 [EPM] Add datasource saved object type
  x-pack/legacy/plugins/epm/common/constants.ts
  x-pack/legacy/plugins/epm/common/types.ts
  x-pack/legacy/plugins/epm/server/datasources/create.ts
  x-pack/legacy/plugins/epm/server/datasources/handlers.ts
  x-pack/legacy/plugins/epm/server/datasources/index.ts
  x-pack/legacy/plugins/epm/server/lib/cluster_access.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/ingest_pipeline/ingest_pipelines.ts
  x-pack/legacy/plugins/epm/server/packages/get.ts
  x-pack/legacy/plugins/epm/server/packages/handlers.ts
  x-pack/legacy/plugins/epm/server/packages/index.ts
  x-pack/legacy/plugins/epm/server/packages/install.ts
  x-pack/legacy/plugins/epm/server/packages/remove.ts
  x-pack/legacy/plugins/epm/server/routes.ts
  x-pack/legacy/plugins/epm/server/saved_objects.ts
Labels: Feature:EPM, Team:logs-metrics-ui

#51911 [APM] Pagination of top 10 trace samples
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Distribution/__jest__/distribution.test.js
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Distribution/__test__/distribution.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Distribution/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/MaybeViewTraceLink.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/charts/Histogram/__test__/Histogram.test.js
  x-pack/legacy/plugins/apm/public/components/shared/charts/Histogram/__test__/response.json
  x-pack/legacy/plugins/apm/public/hooks/useTransactionDistribution.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/distribution/get_buckets/fetcher.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/distribution/get_buckets/transform.ts
Labels: release_note:enhancement, v7.6.0

#51962 [7.x] [Vis] TableVis uses local angular (#50759)
  src/legacy/core_plugins/vis_type_table/public/__tests__/table_vis_controller.js
  src/legacy/core_plugins/vis_type_table/public/agg_table/__tests__/agg_table.js
  src/legacy/core_plugins/vis_type_table/public/agg_table/__tests__/agg_table_group.js
  src/legacy/core_plugins/vis_type_table/public/agg_table/agg_table.js
  src/legacy/core_plugins/vis_type_table/public/components/table_vis_options.tsx
  src/legacy/core_plugins/vis_type_table/public/get_inner_angular.ts
  src/legacy/core_plugins/vis_type_table/public/legacy.ts
  src/legacy/core_plugins/vis_type_table/public/legacy_imports.ts
  src/legacy/core_plugins/vis_type_table/public/paginated_table/__tests__/paginated_table.js
  src/legacy/core_plugins/vis_type_table/public/paginated_table/paginated_table.test.ts
  src/legacy/core_plugins/vis_type_table/public/plugin.ts
  src/legacy/core_plugins/vis_type_table/public/shim/table_vis_legacy_module.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis.mock.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_controller.test.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_fn.test.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_legacy_module.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_request_handler.ts
  src/legacy/core_plugins/vis_type_table/public/table_vis_type.ts
  src/legacy/core_plugins/vis_type_table/public/vis_controller.ts
  src/legacy/ui/public/directives/paginate.js
  src/legacy/ui/public/new_platform/new_platform.karma_mock.js
Labels: backport

#52045 [7.x] Clear cache when updating indices via UI (#51767)
  x-pack/legacy/plugins/apm/public/components/app/Settings/ApmIndices/index.tsx
Labels: backport

#52055 [7.x] Removed duplicate attribute (#50001)
  src/legacy/core_plugins/kibana/public/dashboard/dashboard_app.html
Labels: backport

#52034 WIP: Add home tutorial for ActiveMQ filebeat module
  src/legacy/core_plugins/kibana/public/home/tutorial_resources/activemq_logs/screenshot.png
  src/legacy/core_plugins/kibana/server/tutorials/activemq_logs/index.js
  src/legacy/core_plugins/kibana/server/tutorials/register.js
Labels: Team:Integrations, [zube]: In Review, release_note:skip, review, v7.6.0, v8.0.0

#51907 [Console] Unskip legacy editor test
  src/legacy/core_plugins/console/np_ready/public/application/containers/editor/legacy/console_editor/editor.test.mock.tsx
  src/legacy/core_plugins/console/np_ready/public/application/containers/editor/legacy/console_editor/editor.test.tsx
  src/legacy/core_plugins/console/np_ready/public/application/hooks/use_send_current_request_to_es/use_send_current_request_to_es.ts
Labels: Feature:Console, Team:Elasticsearch UI, release_note:skip, v7.6.0, v8.0.0

#52052 [7.x] [APM] Pagination of top 10 trace samples (#51911)
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Distribution/__jest__/distribution.test.js
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Distribution/__test__/distribution.test.ts
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/Distribution/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/MaybeViewTraceLink.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/WaterfallWithSummmary/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/TransactionDetails/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/charts/Histogram/__test__/Histogram.test.js
  x-pack/legacy/plugins/apm/public/components/shared/charts/Histogram/__test__/response.json
  x-pack/legacy/plugins/apm/public/hooks/useTransactionDistribution.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/distribution/get_buckets/fetcher.ts
  x-pack/legacy/plugins/apm/server/lib/transactions/distribution/get_buckets/transform.ts
Labels: backport

#51873 Move QueryStringInput ⇒ NP
  src/legacy/core_plugins/data/public/index.scss
  src/legacy/core_plugins/data/public/index.ts
  src/legacy/core_plugins/data/public/query/index.ts
  src/legacy/core_plugins/data/public/query/query_bar/_index.scss
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.test.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.tsx
  src/legacy/core_plugins/vis_type_timeseries/public/components/query_bar_wrapper.js
  src/legacy/ui/public/vis/editors/default/controls/filter.tsx
  src/plugins/data/public/_index.scss
  src/plugins/data/public/index_patterns/index.ts
  src/plugins/data/public/index_patterns/lib/get_from_saved_object.ts
  src/plugins/data/public/index_patterns/lib/index.ts
  src/plugins/data/public/index_patterns/utils.ts
  src/plugins/data/public/ui/_index.scss
  src/plugins/data/public/ui/index.ts
  src/plugins/data/public/ui/query_string_input/__snapshots__/query_string_input.test.tsx.snap
  src/plugins/data/public/ui/query_string_input/_index.scss
  src/plugins/data/public/ui/query_string_input/_query_bar.scss
  src/plugins/data/public/ui/query_string_input/fetch_index_patterns.ts
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.test.tsx
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.tsx
  src/plugins/data/public/ui/query_string_input/query_string_input.test.mocks.ts
  src/plugins/data/public/ui/query_string_input/query_string_input.test.tsx
  src/plugins/data/public/ui/query_string_input/query_string_input.tsx
  src/plugins/data/public/ui/typeahead/_index.scss
  src/plugins/data/public/ui/typeahead/_suggestion.scss
  x-pack/legacy/plugins/graph/public/components/search_bar.test.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.tsx
Labels: Feature:NP Migration, Team:AppArch, release_note:skip, v7.6.0, v8.0.0

#50881 Kibana app migration: Remove old apis
  src/legacy/core_plugins/kibana/index.js
  src/legacy/core_plugins/kibana/server/routes/api/scroll_search/index.js
  src/legacy/core_plugins/kibana/server/routes/api/search/count/register_count.js
  src/legacy/core_plugins/kibana/server/routes/api/search/index.js
  test/api_integration/apis/index.js
  test/api_integration/apis/search/count.js
  test/api_integration/apis/search/index.js
Labels: Feature:NP Migration, Team:KibanaApp, release_note:dev_docs, v7.6.0, v8.0.0

#51492 Upgrade markdown-it to 10.0.0
  package.json
  x-pack/package.json
  yarn.lock
Labels: chore, release_note:skip, v7.5.1, v7.6.0, v8.0.0

#52062 [7.5] Add retry to find.existsByDisplayedByCssSelector (#48734)
  test/functional/apps/dashboard/dashboard_snapshots.js
  test/functional/page_objects/dashboard_page.js
  test/functional/services/find.ts
Labels: backport

#52063 [7.x] Move QueryStringInput ⇒ NP (#51873)
  src/legacy/core_plugins/data/public/index.scss
  src/legacy/core_plugins/data/public/index.ts
  src/legacy/core_plugins/data/public/query/index.ts
  src/legacy/core_plugins/data/public/query/query_bar/_index.scss
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.test.tsx
  src/legacy/core_plugins/data/public/search/search_bar/components/search_bar.tsx
  src/legacy/core_plugins/vis_type_timeseries/public/components/query_bar_wrapper.js
  src/legacy/ui/public/vis/editors/default/controls/filter.tsx
  src/plugins/data/public/_index.scss
  src/plugins/data/public/index_patterns/index.ts
  src/plugins/data/public/index_patterns/lib/get_from_saved_object.ts
  src/plugins/data/public/index_patterns/lib/index.ts
  src/plugins/data/public/index_patterns/utils.ts
  src/plugins/data/public/ui/_index.scss
  src/plugins/data/public/ui/index.ts
  src/plugins/data/public/ui/query_string_input/__snapshots__/query_string_input.test.tsx.snap
  src/plugins/data/public/ui/query_string_input/_index.scss
  src/plugins/data/public/ui/query_string_input/_query_bar.scss
  src/plugins/data/public/ui/query_string_input/fetch_index_patterns.ts
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.test.tsx
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.tsx
  src/plugins/data/public/ui/query_string_input/query_string_input.test.mocks.ts
  src/plugins/data/public/ui/query_string_input/query_string_input.test.tsx
  src/plugins/data/public/ui/query_string_input/query_string_input.tsx
  src/plugins/data/public/ui/typeahead/_index.scss
  src/plugins/data/public/ui/typeahead/_suggestion.scss
  x-pack/legacy/plugins/graph/public/components/search_bar.test.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.tsx
Labels: backport

#50907 Fix linting errors in graph
  .eslintrc.js
  x-pack/legacy/plugins/graph/public/components/field_manager/field_editor.tsx
  x-pack/legacy/plugins/graph/public/components/field_manager/field_picker.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.tsx
  x-pack/legacy/plugins/graph/public/components/settings/url_template_form.tsx
Labels: Team:KibanaApp, release_note:skip, v7.6.0, v8.0.0

#52006 [7.5] fix tab url link (#51993)
  x-pack/legacy/plugins/siem/cypress/integration/lib/hosts/selectors.ts
  x-pack/legacy/plugins/siem/public/components/navigation/index.test.tsx
  x-pack/legacy/plugins/siem/public/components/navigation/index.tsx
  x-pack/legacy/plugins/siem/public/components/navigation/tab_navigation/types.ts
  x-pack/legacy/plugins/siem/public/components/navigation/types.ts
Labels: backport

#52004 [7.x] [ML] Fixing info content detector field selection (#51914)
  x-pack/legacy/plugins/ml/server/models/job_service/new_job_caps/__mocks__/results/farequote_job_caps.json
  x-pack/legacy/plugins/ml/server/models/job_service/new_job_caps/field_service.ts
Labels: :ml, backport

#52065 [APM] Ensure security is enabled before creating roles and users
  x-pack/legacy/plugins/apm/scripts/kibana-security/setup-custom-kibana-user-role.ts
Labels: release_note:skip, v8.0.0

#51747 [Mappings editor] Address feedback/bugs
  src/plugins/es_ui_shared/static/forms/components/fields/super_select_field.tsx
  x-pack/legacy/plugins/index_management/public/app/components/mappings_editor/components/document_fields/fields/edit_field/edit_field_form_row.tsx
  x-pack/legacy/plugins/index_management/public/app/components/mappings_editor/components/document_fields/fields/field_types/completion_type.tsx
  x-pack/legacy/plugins/index_management/public/app/components/mappings_editor/components/document_fields/fields/field_types/geo_point_type.tsx
  x-pack/legacy/plugins/index_management/public/app/components/mappings_editor/components/document_fields/fields/field_types/geo_shape_type.tsx
  x-pack/legacy/plugins/index_management/public/app/components/mappings_editor/constants/data_types_definition.ts
  x-pack/legacy/plugins/index_management/public/app/components/mappings_editor/types.ts
Labels: Feature:Index Management, Team:Elasticsearch UI, non-issue, release_note:skip

#52050 [7.5] [ML] Fix anomaly detection test suite (#51712)
  x-pack/test/functional/apps/machine_learning/anomaly_detection/index.ts
  x-pack/test/functional/services/machine_learning/job_management.ts
  x-pack/test/functional/services/machine_learning/job_wizard_advanced.ts
Labels: :ml, backport

#52067 [7.x] Upgrade markdown-it to 10.0.0 (#51492)
  package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#52068 [7.5] Upgrade markdown-it to 10.0.0 (#51492)
  package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#52057 [ML] Functional tests - add retry to click the add detector button
  x-pack/test/functional/services/machine_learning/job_wizard_advanced.ts
Labels: :ml, release_note:skip, test_ui_functional, v7.6.0, v8.0.0

#51644 [ML] DF Analytics: use new _explain endpoint to estimate model memory limit
  x-pack/legacy/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/application/services/ml_api_service/data_frame_analytics.js
  x-pack/legacy/plugins/ml/server/client/elasticsearch_ml.js
  x-pack/legacy/plugins/ml/server/routes/data_frame_analytics.js
Labels: :ml, Feature:Data Frame Analytics, release_note:skip, v7.6.0

#52047 [7.x] [APM] Add NP feature catalog registration (#51765)
  x-pack/legacy/plugins/apm/index.ts
  x-pack/legacy/plugins/apm/public/legacy_register_feature.js
  x-pack/legacy/plugins/apm/public/new-platform/featureCatalogueEntry.ts
  x-pack/legacy/plugins/apm/public/new-platform/plugin.tsx
  x-pack/legacy/plugins/apm/public/register_feature.js
  x-pack/plugins/apm/kibana.json
Labels: backport

#52029 [Doc]Replace outdated screenshots and change graphic format (#52017) for 7.5
  docs/user/monitoring/images/monitoring-logstash-node.jpg
  docs/user/monitoring/images/monitoring-logstash-node.png
  docs/user/monitoring/images/monitoring-logstash-nodes.jpg
  docs/user/monitoring/images/monitoring-logstash-nodes.png
  docs/user/monitoring/images/monitoring-logstash-overview.jpg
  docs/user/monitoring/images/monitoring-logstash-overview.png
  docs/user/monitoring/logstash-details.asciidoc
Labels: release_note:skip, v7.5.0

#52079 [7.x] [ML] DF Analytics: use new _explain endpoint to estimate model memory limit (#51644)
  x-pack/legacy/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/create_analytics_form/create_analytics_form.tsx
  x-pack/legacy/plugins/ml/public/application/services/ml_api_service/data_frame_analytics.js
  x-pack/legacy/plugins/ml/server/client/elasticsearch_ml.js
  x-pack/legacy/plugins/ml/server/routes/data_frame_analytics.js
Labels: :ml, backport

#52077 [7.5] [ML] sets truncateText to true for the 'Latest timestamp' column (#50004)
  x-pack/legacy/plugins/ml/public/overview/components/analytics_panel/table.tsx
  x-pack/legacy/plugins/ml/public/overview/components/anomaly_detection_panel/table.tsx
Labels: :ml, backport

#52032 [ML] DF Analytics Regression expanded row: ensure evaluate stats load correctly
  x-pack/legacy/plugins/ml/public/application/data_frame_analytics/common/analytics.ts
Labels: :ml, Feature:Data Frame Analytics, release_note:skip, v7.6.0, v8.0.0

#52070 [7.x] fix linting errors in graph (#50907)
  .eslintrc.js
  x-pack/legacy/plugins/graph/public/components/field_manager/field_editor.tsx
  x-pack/legacy/plugins/graph/public/components/field_manager/field_picker.tsx
  x-pack/legacy/plugins/graph/public/components/search_bar.tsx
  x-pack/legacy/plugins/graph/public/components/settings/url_template_form.tsx
Labels: backport

#52064 [7.x] Kibana app migration: Remove old apis (#50881)
  src/legacy/core_plugins/kibana/index.js
  src/legacy/core_plugins/kibana/server/routes/api/scroll_search/index.js
  src/legacy/core_plugins/kibana/server/routes/api/search/count/register_count.js
  src/legacy/core_plugins/kibana/server/routes/api/search/index.js
  test/api_integration/apis/index.js
  test/api_integration/apis/search/count.js
  test/api_integration/apis/search/index.js
Labels: backport

#52072 [7.x] Add home tutorial for ActiveMQ filebeat module (#52034)
  src/legacy/core_plugins/kibana/public/home/tutorial_resources/activemq_logs/screenshot.png
  src/legacy/core_plugins/kibana/server/tutorials/activemq_logs/index.js
  src/legacy/core_plugins/kibana/server/tutorials/register.js
Labels: backport, review

#52078 Fix bad apply_filter_action_test
  src/plugins/embeddable/public/lib/actions/apply_filter_action.test.ts
  src/plugins/embeddable/public/tests/helpers.ts
Labels: Team:AppArch, release_note:skip, test, v7.6.0, v8.0.0

#51661 rename actionType attribute 'description' to 'name'
  x-pack/legacy/plugins/actions/README.md
  x-pack/legacy/plugins/actions/mappings.json
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.ts
  x-pack/legacy/plugins/actions/server/lib/action_executor.ts
  x-pack/legacy/plugins/actions/server/plugin.ts
  x-pack/legacy/plugins/actions/server/routes/create.test.ts
  x-pack/legacy/plugins/actions/server/routes/create.ts
  x-pack/legacy/plugins/actions/server/routes/find.test.ts
  x-pack/legacy/plugins/actions/server/routes/get.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.ts
  x-pack/legacy/plugins/actions/server/types.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/email.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/es_index.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/pagerduty.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/server_log.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/slack.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/webhook.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/create.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/delete.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/execute.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/find.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/get.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/manual/pr_40694.js
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/update.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/alerts.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/builtin_action_types/es_index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/create.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/delete.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/execute.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/find.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/get.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/update.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/alerts.ts
Labels: Feature:Alerting, Team:Stack Services, release_note:skip, v7.6.0, v8.0.0

#52082 [7.x] [ML] Functional tests - add retry to click the add detector button (#52057)
  x-pack/test/functional/services/machine_learning/job_wizard_advanced.ts
Labels: :ml, backport

#51988 [ML] Functional tests - increase stability of source selection
  x-pack/test/functional/apps/machine_learning/anomaly_detection/advanced_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/multi_metric_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/population_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/saved_search_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/single_metric_job.ts
  x-pack/test/functional/services/machine_learning/job_source_selection.ts
Labels: :ml, release_note:skip, test_ui_functional, v7.5.1, v7.6.0, v8.0.0

#51413 [ftr/visualize] continue to wait for save completion by default
  test/functional/apps/visualize/_area_chart.js
  test/functional/apps/visualize/_data_table.js
  test/functional/apps/visualize/_data_table_nontimeindex.js
  test/functional/apps/visualize/_heatmap_chart.js
  test/functional/apps/visualize/_line_chart.js
  test/functional/apps/visualize/_pie_chart.js
  test/functional/apps/visualize/_tag_cloud.js
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/apps/visualize/_vertical_bar_chart_nontimeindex.js
  test/functional/page_objects/common_page.ts
  test/functional/page_objects/dashboard_page.js
  test/functional/page_objects/visualize_page.js
  x-pack/test/functional/apps/graph/graph.ts
Labels: release_note:skip, test_ui_functional, v7.5.1, v7.6.0, v8.0.0

#52090 [7.x] [ML] DF Analytics Regression expanded row: ensure evaluate stats load correctly (#52032)
  x-pack/legacy/plugins/ml/public/application/data_frame_analytics/common/analytics.ts
Labels: :ml, backport

#51626 [7.5] increase the timeout when checking for deprecation log (#51505)
  src/legacy/server/config/__tests__/deprecation_warnings.js
Labels: backport

#52099 [7.x] Fix bad apply_filter_action_test (#52078)
  src/plugins/embeddable/public/lib/actions/apply_filter_action.test.ts
  src/plugins/embeddable/public/tests/helpers.ts
Labels: backport

#52105 [7.x] [ML] Functional tests - increase stability of source selection (#51988)
  x-pack/test/functional/apps/machine_learning/anomaly_detection/advanced_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/multi_metric_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/population_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/saved_search_job.ts
  x-pack/test/functional/apps/machine_learning/anomaly_detection/single_metric_job.ts
  x-pack/test/functional/services/machine_learning/job_source_selection.ts
Labels: :ml, backport

#51725 [APM] Address fallout from NP server migration
  x-pack/legacy/plugins/apm/public/services/rest/callApi.ts
  x-pack/legacy/plugins/apm/public/services/rest/ml.ts
  x-pack/legacy/plugins/apm/server/routes/create_api/index.test.ts
  x-pack/legacy/plugins/apm/server/routes/create_api/index.ts
  x-pack/plugins/apm/server/plugin.ts
  x-pack/test/api_integration/apis/apm/agent_configuration.ts
  x-pack/test/api_integration/apis/apm/feature_controls.ts
Labels: release_note:skip, v7.6.0

#51625 [7.x] increase the timeout when checking for deprecation log (#51505)
  src/legacy/server/config/__tests__/deprecation_warnings.js
Labels: backport

#51623 filter out downstream failures with updated error message
  packages/kbn-test/src/failed_tests_reporter/__fixtures__/ftr_report.xml
  packages/kbn-test/src/failed_tests_reporter/get_failures.ts
Labels: Team:Operations, release_note:skip, v7.5.1, v7.6.0, v8.0.0

#52110 extend the test timeout along with the startup timeout
  src/legacy/server/config/__tests__/deprecation_warnings.js
Labels: Team:Operations, release_note:skip, v7.5.1, v7.6.0, v8.0.0

#52112 [7.x] [ftr/visualize] continue to wait for save completion by default (#51413)
  test/functional/apps/visualize/_area_chart.js
  test/functional/apps/visualize/_data_table.js
  test/functional/apps/visualize/_data_table_nontimeindex.js
  test/functional/apps/visualize/_heatmap_chart.js
  test/functional/apps/visualize/_line_chart.js
  test/functional/apps/visualize/_pie_chart.js
  test/functional/apps/visualize/_tag_cloud.js
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/apps/visualize/_vertical_bar_chart_nontimeindex.js
  test/functional/page_objects/common_page.ts
  test/functional/page_objects/dashboard_page.js
  test/functional/page_objects/visualize_page.js
  x-pack/test/functional/apps/graph/graph.ts
Labels: backport

#52113 [7.5] [ftr/visualize] continue to wait for save completion by default (#51413)
  test/functional/apps/visualize/_area_chart.js
  test/functional/apps/visualize/_data_table.js
  test/functional/apps/visualize/_data_table_nontimeindex.js
  test/functional/apps/visualize/_heatmap_chart.js
  test/functional/apps/visualize/_line_chart.js
  test/functional/apps/visualize/_pie_chart.js
  test/functional/apps/visualize/_tag_cloud.js
  test/functional/apps/visualize/_vertical_bar_chart.js
  test/functional/apps/visualize/_vertical_bar_chart_nontimeindex.js
  test/functional/page_objects/common_page.ts
  test/functional/page_objects/dashboard_page.js
  test/functional/page_objects/visualize_page.js
  x-pack/test/functional/apps/graph/graph.ts
Labels: backport

#51643 [Reporting] Convert Export Type Definitions to Typescript
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/decrypt_job_headers.test.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/decrypt_job_headers.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/get_conditional_headers.test.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/get_conditional_headers.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/get_full_urls.test.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/get_full_urls.ts
  x-pack/legacy/plugins/reporting/export_types/common/execute_job/omit_blacklisted_headers.ts
  x-pack/legacy/plugins/reporting/export_types/common/lib/screenshots/index.ts
  x-pack/legacy/plugins/reporting/export_types/common/lib/screenshots/types.ts
  x-pack/legacy/plugins/reporting/export_types/csv/metadata.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/create_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/execute_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/index.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/lib/check_cells_for_formulas.test.ts
  x-pack/legacy/plugins/reporting/export_types/csv/types.d.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/create_job/create_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/execute_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/lib/generate_csv_search.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/types.d.ts
  x-pack/legacy/plugins/reporting/export_types/png/metadata.ts
  x-pack/legacy/plugins/reporting/export_types/png/server/create_job/index.ts
  x-pack/legacy/plugins/reporting/export_types/png/server/execute_job/index.test.js
  x-pack/legacy/plugins/reporting/export_types/png/server/execute_job/index.ts
  x-pack/legacy/plugins/reporting/export_types/png/server/index.ts
  x-pack/legacy/plugins/reporting/export_types/png/server/lib/generate_png.ts
  x-pack/legacy/plugins/reporting/export_types/png/types.d.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/metadata.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/create_job/index.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/execute_job/index.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/index.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/lib/generate_pdf.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/types.d.ts
  x-pack/legacy/plugins/reporting/server/lib/create_worker.ts
  x-pack/legacy/plugins/reporting/server/lib/enqueue_job.ts
  x-pack/legacy/plugins/reporting/server/lib/export_types_registry.ts
  x-pack/legacy/plugins/reporting/server/lib/index.ts
  x-pack/legacy/plugins/reporting/server/routes/generate_from_savedobject.ts
  x-pack/legacy/plugins/reporting/server/routes/generate_from_savedobject_immediate.ts
  x-pack/legacy/plugins/reporting/server/routes/index.ts
  x-pack/legacy/plugins/reporting/server/routes/jobs.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/get_document_payload.ts
  x-pack/legacy/plugins/reporting/server/routes/types.d.ts
  x-pack/legacy/plugins/reporting/types.d.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:NP Migration, Feature:Reporting, release_note:skip, v7.6.0, v8.0.0

#51968 [Fleet] Expose policy during agent checkin
  x-pack/legacy/plugins/fleet/common/return_types.ts
  x-pack/legacy/plugins/fleet/dev_docs/actions_and_events.md
  x-pack/legacy/plugins/fleet/dev_docs/api/agents_checkin.md
  x-pack/legacy/plugins/fleet/public/pages/agent_list/components/agent_enrollment.tsx
  x-pack/legacy/plugins/fleet/public/pages/agent_list/components/enrollment_instructions/shell/index.tsx
  x-pack/legacy/plugins/fleet/server/adapters/saved_objects_database/adapter_types.ts
  x-pack/legacy/plugins/fleet/server/adapters/saved_objects_database/default.ts
  x-pack/legacy/plugins/fleet/server/adapters/saved_objects_database/memorize_adapter.ts
  x-pack/legacy/plugins/fleet/server/kibana.index.ts
  x-pack/legacy/plugins/fleet/server/libs/__memorize_snapshots__/agent.contract.test.slap_snap
  x-pack/legacy/plugins/fleet/server/libs/__memorize_snapshots__/agent_policy.contract.test.slap_snap
  x-pack/legacy/plugins/fleet/server/libs/__memorize_snapshots__/api_keys.contract.test.slap_snap
  x-pack/legacy/plugins/fleet/server/libs/__snapshots__/policy.test.ts.snap
  x-pack/legacy/plugins/fleet/server/libs/agent.ts
  x-pack/legacy/plugins/fleet/server/libs/agent_event.ts
  x-pack/legacy/plugins/fleet/server/libs/agent_policy.contract.test.ts
  x-pack/legacy/plugins/fleet/server/libs/agent_policy.ts
  x-pack/legacy/plugins/fleet/server/libs/compose/kibana.ts
  x-pack/legacy/plugins/fleet/server/libs/compose/memorized.ts
  x-pack/legacy/plugins/fleet/server/libs/install_templates/macos.ts
  x-pack/legacy/plugins/fleet/server/libs/policy.ts
  x-pack/legacy/plugins/fleet/server/libs/types.ts
  x-pack/legacy/plugins/fleet/server/mappings.ts
  x-pack/legacy/plugins/fleet/server/repositories/agent_events/types.ts
  x-pack/legacy/plugins/fleet/server/repositories/agents/default.ts
  x-pack/legacy/plugins/fleet/server/repositories/agents/types.ts
  x-pack/legacy/plugins/fleet/server/repositories/policies/default.ts
  x-pack/legacy/plugins/fleet/server/repositories/policies/types.ts
  x-pack/legacy/plugins/fleet/server/routes/agents/checkin.ts
  x-pack/legacy/plugins/fleet/server/routes/agents/enroll.ts
  x-pack/legacy/plugins/fleet/server/routes/agents/events.ts
  x-pack/legacy/plugins/ingest/server/kibana.index.ts
  x-pack/legacy/plugins/ingest/server/libs/outputs.ts
Labels: Feature:Fleet

#52037 Clean up ui/courier exports.
  src/legacy/ui/public/courier/fetch/get_search_params.ts
  src/legacy/ui/public/courier/index.ts
  src/legacy/ui/public/courier/utils/courier_inspector_utils.ts
Labels: Feature:NP Migration, Feature:Search, Team:AppArch, release_note:skip, v7.6.0, v8.0.0

#51504 Add PR comments to pipeline
  Jenkinsfile
  vars/githubPr.groovy
Labels: Feature:CI, Team:Operations, release_note:skip, v6.8.5, v7.4.3, v7.5.1, v7.6.0, v8.0.0

#51444 chore(NA): fix licenses task on grunt test task
  tasks/test.js
Labels: Team:Operations, chore, release_note:skip, v7.5.1, v7.6.0, v8.0.0

#50854 chore(NA): fix configuration on jest test environment
  src/dev/jest/babel_transform.js
Labels: Team:Operations, chore, release_note:skip, v7.6.0, v8.0.0

#52100 [7.x] rename actionType attribute 'description' to 'name' (#51661)
  x-pack/legacy/plugins/actions/README.md
  x-pack/legacy/plugins/actions/mappings.json
  x-pack/legacy/plugins/actions/server/actions_client.test.ts
  x-pack/legacy/plugins/actions/server/actions_client.ts
  x-pack/legacy/plugins/actions/server/lib/action_executor.ts
  x-pack/legacy/plugins/actions/server/plugin.ts
  x-pack/legacy/plugins/actions/server/routes/create.test.ts
  x-pack/legacy/plugins/actions/server/routes/create.ts
  x-pack/legacy/plugins/actions/server/routes/find.test.ts
  x-pack/legacy/plugins/actions/server/routes/get.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.test.ts
  x-pack/legacy/plugins/actions/server/routes/update.ts
  x-pack/legacy/plugins/actions/server/types.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/email.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/es_index.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/pagerduty.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/server_log.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/slack.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/webhook.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/create.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/delete.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/execute.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/find.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/get.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/manual/pr_40694.js
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/update.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/alerts.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/builtin_action_types/es_index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/create.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/delete.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/execute.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/find.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/get.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/update.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/alerts.ts
Labels: backport

#52120 [7.5] extend the test timeout along with the startup timeout (#52110)
  src/legacy/server/config/__tests__/deprecation_warnings.js
Labels: backport

#52119 [7.x] extend the test timeout along with the startup timeout (#52110)
  src/legacy/server/config/__tests__/deprecation_warnings.js
Labels: backport

#52118 [7.5] filter out downstream failures with updated error message (#51623)
  packages/kbn-test/src/failed_tests_reporter/__fixtures__/ftr_report.xml
  packages/kbn-test/src/failed_tests_reporter/get_failures.ts
Labels: backport

#52117 [7.x] filter out downstream failures with updated error message (#51623)
  packages/kbn-test/src/failed_tests_reporter/__fixtures__/ftr_report.xml
  packages/kbn-test/src/failed_tests_reporter/get_failures.ts
Labels: backport

#52131 [7.x] Clean up ui/courier exports. (#52037)
  src/legacy/ui/public/courier/fetch/get_search_params.ts
  src/legacy/ui/public/courier/index.ts
  src/legacy/ui/public/courier/utils/courier_inspector_utils.ts
Labels: backport

#52145 [7.4] Add PR comments to pipeline (#51504)
  Jenkinsfile
  vars/githubPr.groovy
Labels: backport, release_note:skip

#52144 [7.5] Add PR comments to pipeline (#51504)
  Jenkinsfile
  vars/githubPr.groovy
Labels: backport, release_note:skip

#52143 [7.x] Add PR comments to pipeline (#51504)
  Jenkinsfile
  vars/githubPr.groovy
Labels: backport, release_note:skip

#52147 [6.8] Add PR comments to pipeline (#51504)
  Jenkinsfile
  vars/githubPr.groovy
Labels: backport, release_note:skip

#52141 [7.x] chore(NA): fix configuration on jest test environment (#50854)
  src/dev/jest/babel_transform.js
Labels: backport

#52140 [7.5] chore(NA): fix licenses task on grunt test task (#51444)
  tasks/test.js
Labels: backport

#52139 [7.x] chore(NA): fix licenses task on grunt test task (#51444)
  tasks/test.js
Labels: backport

#51881 [EPM] Add /epr prefix to the tar.gz download path
  x-pack/legacy/plugins/epm/server/registry/index.ts
Labels: Feature:EPM

#52096 [7.5] [ML] Fix escape special characters for Lucene query language (#50494)
  x-pack/legacy/plugins/ml/public/util/custom_url_utils.test.ts
  x-pack/legacy/plugins/ml/public/util/custom_url_utils.ts
Labels: :ml, backport, v7.5.1

#52049 [EPM] Move template installation to lib and add asset helper
  x-pack/legacy/plugins/epm/common/types.ts
  x-pack/legacy/plugins/epm/server/datasources/create.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/template/install.ts
  x-pack/legacy/plugins/epm/server/lib/elasticsearch/template/template.ts
  x-pack/legacy/plugins/epm/server/packages/assets.test.ts
  x-pack/legacy/plugins/epm/server/packages/assets.ts
  x-pack/legacy/plugins/epm/server/packages/install.ts
Labels: Feature:EPM

#52080 [7.5] [ML] Add tests to create transforms (#49760)
  x-pack/legacy/plugins/ml/public/components/kql_filter_bar/filter_bar/filter_bar.js
  x-pack/legacy/plugins/ml/public/components/kql_filter_bar/kql_filter_bar.js
  x-pack/legacy/plugins/ml/public/components/ml_in_memory_table/types.ts
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/aggregation_dropdown/dropdown.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/aggregation_list/__snapshots__/agg_label_form.test.tsx.snap
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/aggregation_list/__snapshots__/list_form.test.tsx.snap
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/aggregation_list/agg_label_form.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/aggregation_list/list_form.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/group_by_list/__snapshots__/group_by_label_form.test.tsx.snap
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/group_by_list/__snapshots__/list_form.test.tsx.snap
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/group_by_list/group_by_label_form.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/group_by_list/list_form.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/source_index_preview/source_index_preview.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/step_create/step_create_form.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/step_define/pivot_preview.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_form.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_summary.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_form.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_summary.tsx
  x-pack/legacy/plugins/transform/public/app/sections/create_transform/components/wizard_nav/wizard_nav.tsx
  x-pack/legacy/plugins/transform/public/app/sections/transform_management/components/transform_list/__snapshots__/transform_list.test.tsx.snap
  x-pack/legacy/plugins/transform/public/app/sections/transform_management/components/transform_list/columns.tsx
  x-pack/legacy/plugins/transform/public/app/sections/transform_management/components/transform_list/transform_list.tsx
  x-pack/legacy/plugins/transform/public/app/sections/transform_management/transform_management_section.tsx
  x-pack/test/functional/apps/transform/creation.ts
  x-pack/test/functional/apps/transform/index.ts
  x-pack/test/functional/config.js
  x-pack/test/functional/services/index.ts
  x-pack/test/functional/services/transform.ts
  x-pack/test/functional/services/transform_ui/api.ts
  x-pack/test/functional/services/transform_ui/index.ts
  x-pack/test/functional/services/transform_ui/management.ts
  x-pack/test/functional/services/transform_ui/navigation.ts
  x-pack/test/functional/services/transform_ui/source_selection.ts
  x-pack/test/functional/services/transform_ui/transform_table.ts
  x-pack/test/functional/services/transform_ui/wizard.ts
Labels: :ml, backport

#52160 [7.5] [ML] Fixes word wrap in Overview page sidebar on IE (#50668)
  x-pack/legacy/plugins/ml/public/overview/components/sidebar.tsx
Labels: :ml, backport

#52109 DOM attributes for Reporting integration are missing
  src/legacy/core_plugins/kibana/public/visualize/embeddable/visualize_embeddable.ts
  test/functional/apps/visualize/_shared_item.js
  test/functional/page_objects/common_page.ts
Labels: Team:AppArch, bug, release_note:skip, review, v7.6.0, v8.0.0

#52056 static createRepository factory function
  docs/development/core/server/kibana-plugin-server.savedobjectsrepository.md
  src/core/server/saved_objects/saved_objects_service.ts
  src/core/server/saved_objects/service/lib/create_repository.ts
  src/core/server/saved_objects/service/lib/index.ts
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/service/lib/repository_create_repository.test.ts
  src/core/server/server.api.md
Labels: Feature:New Platform, Team:Platform, release_note:skip, v7.6.0, v8.0.0

#52163 [ML] Fix search for Transforms and Analytics tables
  x-pack/legacy/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/analytics_list.tsx
  x-pack/legacy/plugins/transform/public/app/sections/transform_management/components/transform_list/transform_list.tsx
Labels: :ml, Feature:Data Frame Analytics, Feature:Transforms, release_note:skip, v7.6.0, v8.0.0

#52162 [APM] Add support for basepath
  x-pack/legacy/plugins/apm/scripts/kibana-security/setup-custom-kibana-user-role.ts
Labels: Team:apm, release_note:skip, v7.6.0

#52124 [Mapping editor] Fix client integration tests
  x-pack/legacy/plugins/index_management/__jest__/client_integration/helpers/constants.ts
  x-pack/legacy/plugins/index_management/__jest__/client_integration/helpers/template_form.helpers.ts
  x-pack/legacy/plugins/index_management/__jest__/client_integration/template_clone.test.tsx
  x-pack/legacy/plugins/index_management/__jest__/client_integration/template_create.test.tsx
  x-pack/legacy/plugins/index_management/__jest__/client_integration/template_edit.test.tsx
  x-pack/legacy/plugins/index_management/public/app/components/mappings_editor/mappings_state.tsx
Labels: Feature:Index Management, Team:Elasticsearch UI, non-issue, release_note:skip

#52168 [7.5] [ML] Server info service refactor (#50302)
  x-pack/legacy/plugins/ml/public/datavisualizer/file_based/file_datavisualizer_directive.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/edit_job_flyout/edit_utils.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/edit_job_flyout/tabs/datafeed.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/node_available_warning/node_available_warning.tsx
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/components/validate_job.js
  x-pack/legacy/plugins/ml/public/jobs/jobs_list/directive.js
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_validator/job_validator.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/common/job_validator/util.ts
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/common/model_memory_limit/model_memory_limit_input.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/datafeed_step/components/scroll_size/scroll_size_input.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/components/datafeed_details/datafeed_details.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/components/summary_step/components/job_details/job_details.tsx
  x-pack/legacy/plugins/ml/public/jobs/new_job_new/pages/new_job/route.ts
  x-pack/legacy/plugins/ml/public/services/__mocks__/ml_info_response.json
  x-pack/legacy/plugins/ml/public/services/cloud_service.js
  x-pack/legacy/plugins/ml/public/services/ml_api_service/index.d.ts
  x-pack/legacy/plugins/ml/public/services/ml_server_info.test.ts
  x-pack/legacy/plugins/ml/public/services/ml_server_info.ts
Labels: :ml, backport

#51915 [ML] Perform cardinality check on enabling the model plot
  x-pack/legacy/plugins/ml/public/application/jobs/new_job/common/job_validator/job_validator.ts
  x-pack/legacy/plugins/ml/public/application/jobs/new_job/common/job_validator/validators.ts
  x-pack/legacy/plugins/ml/public/application/jobs/new_job/pages/components/job_details_step/components/advanced_section/components/mml_callout.tsx
  x-pack/legacy/plugins/ml/public/application/jobs/new_job/pages/components/job_details_step/components/advanced_section/components/model_plot/model_plot_switch.tsx
  x-pack/legacy/plugins/ml/public/application/jobs/new_job/pages/new_job/wizard.tsx
  x-pack/legacy/plugins/ml/public/application/services/ml_api_service/index.d.ts
  x-pack/legacy/plugins/ml/public/application/services/ml_api_service/index.js
Labels: :ml, Feature:Anomaly Detection, release_note:enhancement, v7.6.0, v8.0.0

#51840 [Lens] Remove unused datasource methods
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/mocks.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.test.ts
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.tsx
  x-pack/legacy/plugins/lens/public/types.ts
Labels: Feature:Lens, release_note:skip, v7.6.0, v8.0.0

#51839 [Lens] Make Lens plugin registry signatures consistent
  x-pack/legacy/plugins/lens/public/app_plugin/plugin.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/mocks.tsx
  x-pack/legacy/plugins/lens/public/editor_frame_plugin/plugin.tsx
  x-pack/legacy/plugins/lens/public/indexpattern_plugin/indexpattern.tsx
  x-pack/legacy/plugins/lens/public/types.ts
Labels: Feature:Lens, release_note:skip, v7.6.0, v8.0.0

#51000 [SR] Support for SLM on Cloud
  x-pack/legacy/plugins/snapshot_restore/common/lib/policy_serialization.test.ts
  x-pack/legacy/plugins/snapshot_restore/common/lib/policy_serialization.ts
  x-pack/legacy/plugins/snapshot_restore/common/lib/snapshot_serialization.test.ts
  x-pack/legacy/plugins/snapshot_restore/common/lib/snapshot_serialization.ts
  x-pack/legacy/plugins/snapshot_restore/common/types/policy.ts
  x-pack/legacy/plugins/snapshot_restore/common/types/snapshot.ts
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_form/policy_form.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_form/steps/index.ts
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_form/steps/step_logistics.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/components/policy_form/steps/step_settings.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_details/policy_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_details/tabs/tab_summary.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/policy_list/policy_table/policy_table.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/repository_list/repository_list.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/repository_list/repository_table/repository_table.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/snapshot_list/snapshot_details/snapshot_details.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/home/snapshot_list/snapshot_table/snapshot_table.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/policy_add/policy_add.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/sections/policy_edit/policy_edit.tsx
  x-pack/legacy/plugins/snapshot_restore/public/app/services/validation/validate_policy.ts
  x-pack/legacy/plugins/snapshot_restore/server/lib/get_managed_policy_names.ts
  x-pack/legacy/plugins/snapshot_restore/server/lib/index.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/policy.test.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/policy.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/repositories.test.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/repositories.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/snapshots.test.ts
  x-pack/legacy/plugins/snapshot_restore/server/routes/api/snapshots.ts
  x-pack/legacy/plugins/snapshot_restore/test/fixtures/policy.ts
Labels: Feature:Snapshot and Restore, Team:Elasticsearch UI, release_note:skip, v7.6.0, v8.0.0

#52149 [APM] Fix failing ACM integration test
  x-pack/legacy/plugins/apm/server/lib/settings/agent_configuration/__snapshots__/queries.test.ts.snap
  x-pack/legacy/plugins/apm/server/lib/settings/agent_configuration/search.mocks.ts
  x-pack/legacy/plugins/apm/server/lib/settings/agent_configuration/search.test.ts
  x-pack/legacy/plugins/apm/server/lib/settings/agent_configuration/search.ts
  x-pack/legacy/plugins/apm/server/routes/settings/agent_configuration.ts
Labels: Team:apm, release_note:skip, v7.6.0

#51975 Disabled actions
  src/plugins/embeddable/public/lib/embeddables/i_embeddable.ts
  src/plugins/embeddable/public/lib/panel/embeddable_panel.test.tsx
  src/plugins/embeddable/public/lib/panel/embeddable_panel.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/embedded_map.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/embedded_map_helpers.test.tsx
  x-pack/legacy/plugins/siem/public/components/embeddables/embedded_map_helpers.tsx
Labels: Feature:Embedding, Team:AppArch, release_note:dev_docs, review, v7.6.0, v8.0.0

#52121 [7.x] [Canvas] New Platform shim Canvas Client Side (#49358)
  x-pack/legacy/plugins/canvas/.storybook/config.js
  x-pack/legacy/plugins/canvas/index.js
  x-pack/legacy/plugins/canvas/public/angular/config/index.js
  x-pack/legacy/plugins/canvas/public/angular/config/location_provider.js
  x-pack/legacy/plugins/canvas/public/angular/config/location_provider.ts
  x-pack/legacy/plugins/canvas/public/angular/config/state_management.js
  x-pack/legacy/plugins/canvas/public/angular/controllers/canvas.tsx
  x-pack/legacy/plugins/canvas/public/angular/controllers/index.ts
  x-pack/legacy/plugins/canvas/public/angular/services/index.js
  x-pack/legacy/plugins/canvas/public/angular/services/store.js
  x-pack/legacy/plugins/canvas/public/app.js
  x-pack/legacy/plugins/canvas/public/components/app/track_route_change.js
  x-pack/legacy/plugins/canvas/public/components/editor/editor.tsx
  x-pack/legacy/plugins/canvas/public/components/editor/editor_theme.ts
  x-pack/legacy/plugins/canvas/public/components/editor/index.ts
  x-pack/legacy/plugins/canvas/public/components/editor/index.tsx
  x-pack/legacy/plugins/canvas/public/components/embeddable_flyout/flyout.tsx
  x-pack/legacy/plugins/canvas/public/components/embeddable_flyout/index.tsx
  x-pack/legacy/plugins/canvas/public/components/workpad_header/workpad_export/flyout/index.ts
  x-pack/legacy/plugins/canvas/public/components/workpad_header/workpad_export/index.ts
  x-pack/legacy/plugins/canvas/public/components/workpad_header/workpad_export/utils.ts
  x-pack/legacy/plugins/canvas/public/index.ts
  x-pack/legacy/plugins/canvas/public/legacy.ts
  x-pack/legacy/plugins/canvas/public/legacy_start.ts
  x-pack/legacy/plugins/canvas/public/lib/breadcrumbs.js
  x-pack/legacy/plugins/canvas/public/lib/breadcrumbs.ts
  x-pack/legacy/plugins/canvas/public/lib/clipboard.js
  x-pack/legacy/plugins/canvas/public/lib/custom_element_service.ts
  x-pack/legacy/plugins/canvas/public/lib/documentation_links.ts
  x-pack/legacy/plugins/canvas/public/lib/download_workpad.ts
  x-pack/legacy/plugins/canvas/public/lib/es_service.ts
  x-pack/legacy/plugins/canvas/public/lib/load_expression_types.js
  x-pack/legacy/plugins/canvas/public/lib/load_transitions.js
  x-pack/legacy/plugins/canvas/public/lib/loading_indicator.ts
  x-pack/legacy/plugins/canvas/public/lib/notify.js
  x-pack/legacy/plugins/canvas/public/lib/workpad_service.js
  x-pack/legacy/plugins/canvas/public/plugin.tsx
  x-pack/legacy/plugins/canvas/public/state/initial_state.js
  x-pack/legacy/plugins/canvas/public/state/reducers/workpad.js
  x-pack/legacy/plugins/canvas/scripts/lint.js
Labels: backport

#52085 Functional tests: elastic chart provider
  test/functional/page_objects/discover_page.js
  test/functional/services/elastic_chart.ts
  test/functional/services/index.ts
  test/visual_regression/tests/discover/chart_visualization.js
Labels: release_note:skip, test_ui_functional, v7.6.0, v8.0.0
