Repository elastic/kibana, pull requests merged in 2019-01, with the labels that each got.

#27823 [Maps] refactor addLayer logic
  x-pack/plugins/gis/public/actions/store_actions.js
  x-pack/plugins/gis/public/angular/map_controller.js
  x-pack/plugins/gis/public/components/layer_addpanel/index.js
  x-pack/plugins/gis/public/selectors/map_selectors.js
  x-pack/plugins/gis/public/store/map.js
Labels: :GIS App, v6.7.0, v7.0.0

#27812 [Maps] trigger digest cycle on kbnUrl.change
  x-pack/plugins/gis/public/angular/map_controller.js
Labels: :GIS App, v6.7.0, v7.0.0

#27572 [ML] Remove use of types in datafeeds
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_job_config.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_series_config_filebeat.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__mocks__/mock_series_config_rare.json
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_chart_config_builder.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/__snapshots__/explorer_charts_container_service.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/components/watcher/watch.js
  x-pack/plugins/ml/public/services/results_service.js
  x-pack/plugins/ml/public/timeseriesexplorer/components/forecasting_modal/forecasting_modal.js
  x-pack/plugins/ml/public/timeseriesexplorer/timeseries_search_service.js
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/datafeed_high_mean_response_time.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/auditbeat_process_docker/ml/datafeed_docker_high_count_process_events.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/auditbeat_process_docker/ml/datafeed_docker_rare_process_activity.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/auditbeat_process_hosts/ml/datafeed_hosts_high_count_process_events.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/auditbeat_process_hosts/ml/datafeed_hosts_rare_process_activity.json
Labels: :ml, :ml-config, :ml-results, refactoring, review, v7.0.0

#27893 [6.x] NOTICE (#27875)
  NOTICE.txt
Labels: backport

#27894 [6.6] NOTICE (#27875)
  NOTICE.txt
Labels: backport

#27895 [6.5] NOTICE (#27875)
  NOTICE.txt
Labels: backport

#27846 [Maps] support elasticsearch documents containing array of geometry values
  x-pack/plugins/gis/public/elasticsearch_geo_utils.js
  x-pack/plugins/gis/public/elasticsearch_geo_utils.test.js
Labels: :GIS App, v6.7.0, v7.0.0

#27548 Updated uncommon process table to use host name rather than host id
  x-pack/plugins/secops/public/components/page/hosts/uncommon_process_table/__snapshots__/index.test.tsx.snap
  x-pack/plugins/secops/public/components/page/hosts/uncommon_process_table/index.mock.ts
  x-pack/plugins/secops/public/components/page/hosts/uncommon_process_table/index.tsx
  x-pack/plugins/secops/public/containers/uncommon_processes/index.gql_query.ts
  x-pack/plugins/secops/public/graphql/introspection.json
  x-pack/plugins/secops/public/graphql/types.ts
  x-pack/plugins/secops/server/graphql/events/schema.gql.ts
  x-pack/plugins/secops/server/graphql/types.ts
  x-pack/plugins/secops/server/graphql/uncommon_processes/schema.gql.ts
  x-pack/plugins/secops/server/graphql/uncommon_processes/schema.test.ts
  x-pack/plugins/secops/server/graphql/uncommon_processes/uncommon_processes.mock.ts
  x-pack/plugins/secops/server/lib/hosts/elasticsearch_adapter.ts
  x-pack/plugins/secops/server/lib/hosts/index.ts
  x-pack/plugins/secops/server/lib/hosts/types.ts
  x-pack/plugins/secops/server/lib/types.ts
  x-pack/plugins/secops/server/lib/uncommon_processes/elastic_adapter.test.ts
  x-pack/plugins/secops/server/lib/uncommon_processes/elasticsearch_adapter.ts
  x-pack/plugins/secops/server/lib/uncommon_processes/query.dsl.ts
  x-pack/plugins/secops/server/lib/uncommon_processes/types.ts
Labels: :SecOps UI, loe:hours, review

#27871 Fixes a weird extra "S" next to our logo
  x-pack/plugins/secops/index.ts
Labels: :SecOps UI, loe:hours, review

#27889 [ML] Fixing missing new ML job link in file datavisualizer
  x-pack/plugins/ml/public/license/check_license.js
Labels: :ml, bug, non-issue, v6.6.0, v6.7.0, v7.0.0

#27897 [6.x] [Maps] support elasticsearch documents containing array of geometry values (#27846)
  x-pack/plugins/gis/public/elasticsearch_geo_utils.js
  x-pack/plugins/gis/public/elasticsearch_geo_utils.test.js
Labels: backport

#27899 [6.x] [Maps] refactor replaceLayerList to use addLayer and removeLayer (#27823)
  x-pack/plugins/gis/public/actions/store_actions.js
  x-pack/plugins/gis/public/angular/map_controller.js
  x-pack/plugins/gis/public/components/layer_addpanel/index.js
  x-pack/plugins/gis/public/selectors/map_selectors.js
  x-pack/plugins/gis/public/store/map.js
Labels: backport

#27898 [6.x] [Maps] trigger digest cycle on kbnUrl.change (#27812)
  x-pack/plugins/gis/public/angular/map_controller.js
Labels: backport

#27915 Removing old index patterns that are not expected in 7.0.0 onwards
  x-pack/plugins/monitoring/config.js
Labels: :Monitoring, review, v7.0.0

#27912 [Maps] Elasticsearch document source - flatten hit using indexPattern flattenHit
  x-pack/plugins/gis/public/elasticsearch_geo_utils.js
  x-pack/plugins/gis/public/elasticsearch_geo_utils.test.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source.js
Labels: :GIS App, v6.7.0, v7.0.0

#27930 [6.x] [APM] Remove automatic camelcasing of API responses (#27879)
  x-pack/plugins/apm/public/components/app/Main/LicenseChecker/index.js
  x-pack/plugins/apm/public/services/__test__/callApi.test.ts
  x-pack/plugins/apm/public/services/rest/apm/error_groups.ts
  x-pack/plugins/apm/public/services/rest/apm/traces.ts
  x-pack/plugins/apm/public/services/rest/apm/transactions.ts
  x-pack/plugins/apm/public/services/rest/callApi.ts
  x-pack/plugins/apm/public/services/rest/savedObjects.ts
  x-pack/plugins/apm/public/services/rest/xpack.ts
  x-pack/plugins/apm/public/store/reactReduxRequest/license.tsx
  x-pack/plugins/apm/public/store/selectors/license.ts
  x-pack/plugins/apm/server/lib/status_check/agent_check.js
  x-pack/plugins/apm/server/lib/status_check/server_check.js
Labels: backport

#27932 [6.x] [Maps] Elasticsearch document source - flatten hit using indexPattern.flattenHit (#27912)
  x-pack/plugins/gis/public/elasticsearch_geo_utils.js
  x-pack/plugins/gis/public/elasticsearch_geo_utils.test.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source.js
Labels: backport

#27935 [6.x] Remove isomorphic-fetch (#27878)
  package.json
  src/core/public/ui_settings/__snapshots__/ui_settings_api.test.ts.snap
  src/core/public/ui_settings/ui_settings_api.test.ts
  src/dev/jest/setup/polyfills.js
  src/ui/public/error_auto_create_index/error_auto_create_index.test.js
  src/ui/public/kfetch/kfetch.test.ts
  src/ui/public/kfetch/kfetch.ts
  x-pack/package.json
  x-pack/plugins/kuery_autocomplete/public/autocomplete_providers/value.js
  x-pack/plugins/ml/public/services/http_service.js
  yarn.lock
Labels: backport

#27838 [Code] main page structure tree
  x-pack/plugins/code/public/actions/structure.ts
  x-pack/plugins/code/public/components/file_tree/__snapshots__/file_tree.test.tsx.snap
  x-pack/plugins/code/public/components/file_tree/file_tree.tsx
  x-pack/plugins/code/public/components/main/side_tabs.tsx
  x-pack/plugins/code/public/components/shared.tsx
  x-pack/plugins/code/public/components/symbol_tree/symbol_tree.scss
  x-pack/plugins/code/public/components/symbol_tree/symbol_tree.tsx
  x-pack/plugins/code/public/reducers/symbol.ts
  x-pack/plugins/code/public/styles.scss
Labels: :Code

#27807 [ML] translate services
  x-pack/plugins/ml/public/services/calendar_service.js
  x-pack/plugins/ml/public/services/job_service.js
Labels: :i18n, :ml

#27951 [6.x] [ML] translate services (#27807)
  x-pack/plugins/ml/public/services/calendar_service.js
  x-pack/plugins/ml/public/services/job_service.js
Labels: backport

#27890 Remove ms format for duration.us
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/index_pattern.json
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/saved_objects.json
Labels: backport

#27953 [6.x] [i18n] Translate ML - settings - calendar management (#27839)
  x-pack/plugins/ml/public/settings/calendars/edit/__snapshots__/new_calendar.test.js.snap
  x-pack/plugins/ml/public/settings/calendars/edit/calendar_form/__snapshots__/calendar_form.test.js.snap
  x-pack/plugins/ml/public/settings/calendars/edit/calendar_form/calendar_form.js
  x-pack/plugins/ml/public/settings/calendars/edit/calendar_form/calendar_form.test.js
  x-pack/plugins/ml/public/settings/calendars/edit/directive.js
  x-pack/plugins/ml/public/settings/calendars/edit/events_table/__snapshots__/events_table.test.js.snap
  x-pack/plugins/ml/public/settings/calendars/edit/events_table/events_table.js
  x-pack/plugins/ml/public/settings/calendars/edit/events_table/events_table.test.js
  x-pack/plugins/ml/public/settings/calendars/edit/import_modal/__snapshots__/import_modal.test.js.snap
  x-pack/plugins/ml/public/settings/calendars/edit/import_modal/import_modal.js
  x-pack/plugins/ml/public/settings/calendars/edit/import_modal/import_modal.test.js
  x-pack/plugins/ml/public/settings/calendars/edit/imported_events/__snapshots__/imported_events.test.js.snap
  x-pack/plugins/ml/public/settings/calendars/edit/imported_events/imported_events.js
  x-pack/plugins/ml/public/settings/calendars/edit/imported_events/imported_events.test.js
  x-pack/plugins/ml/public/settings/calendars/edit/new_calendar.js
  x-pack/plugins/ml/public/settings/calendars/edit/new_calendar.test.js
  x-pack/plugins/ml/public/settings/calendars/edit/new_event_modal/new_event_modal.js
  x-pack/plugins/ml/public/settings/calendars/edit/new_event_modal/new_event_modal.test.js
  x-pack/plugins/ml/public/settings/calendars/edit/utils.js
  x-pack/plugins/ml/public/settings/calendars/list/__snapshots__/calendars_list.test.js.snap
  x-pack/plugins/ml/public/settings/calendars/list/calendars_list.js
  x-pack/plugins/ml/public/settings/calendars/list/calendars_list.test.js
  x-pack/plugins/ml/public/settings/calendars/list/delete_calendars.js
  x-pack/plugins/ml/public/settings/calendars/list/directive.js
  x-pack/plugins/ml/public/settings/calendars/list/table/__snapshots__/table.test.js.snap
  x-pack/plugins/ml/public/settings/calendars/list/table/table.js
  x-pack/plugins/ml/public/settings/calendars/list/table/table.test.js
Labels: backport

#27941 [6.x] [APM] Add icons to timeline (#27840)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/Legends.js
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/test/__snapshots__/CustomPlot.test.js.snap
  x-pack/plugins/apm/public/components/shared/charts/Legend/index.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/__test__/__snapshots__/Timeline.test.js.snap
Labels: backport

#27942 [6.6] [APM] Add icons to timeline (#27840)
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/Legends.js
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/test/__snapshots__/CustomPlot.test.js.snap
  x-pack/plugins/apm/public/components/shared/charts/Legend/index.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/__test__/__snapshots__/Timeline.test.js.snap
Labels: backport

#27388 [i18n] Translate ML - New Job - population
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job.html
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_chart_directive.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
Labels: :i18n, :ml, review

#27479 [i18n] Translate ML - New Job - Multi metric
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job.html
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
Labels: :i18n, :ml, review

#27955 [ML] Fix for audit message search size being 0 when jobs size is 0
  x-pack/plugins/ml/server/models/job_audit_messages/job_audit_messages.js
Labels: :ml, :ml-results, bug, non-issue, v6.6.0, v6.7.0, v7.0.0

#27962 [6.x] [i18n] Translate ML - New Job - Multi metric (#27479)
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job.html
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
Labels: backport

#27954 [6.x] [i18n] Translate ML - New Job - population (#27388)
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job.html
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_chart_directive.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
Labels: backport

#26671 Make test runners available from `yarn run test:*`
  package.json
  tasks/test.js
  x-pack/package.json
Labels: :Dev Tools

#27777 [i18n] Translate ML - New Job - Advanced
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_filter_modal/detector_filter_modal.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_filter_modal/detector_filter_modal_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_modal/detector_modal.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_modal/detector_modal_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/detectors_list.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/detectors_list_directive.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/enable_model_plot_callout/enable_model_plot_callout.test.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/enable_model_plot_callout/enable_model_plot_callout_directive.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/enable_model_plot_callout/enable_model_plot_callout_view.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/save_status_modal/save_status_modal.html
Labels: :i18n, :ml, review

#27972 [6.x] [i18n] Translate ML - New Job - Advanced (#27777)
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_filter_modal/detector_filter_modal.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_filter_modal/detector_filter_modal_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_modal/detector_modal.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/detector_modal/detector_modal_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/detectors_list.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/detectors_list_directive.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/enable_model_plot_callout/enable_model_plot_callout.test.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/enable_model_plot_callout/enable_model_plot_callout_directive.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/enable_model_plot_callout/enable_model_plot_callout_view.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job.html
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/advanced/save_status_modal/save_status_modal.html
Labels: backport

#27900 [6.x] [ML] Fixing missing new ML job link in file datavisualizer (#27889)
  x-pack/plugins/ml/public/license/check_license.js
Labels: backport

#27901 [6.6] [ML] Fixing missing new ML job link in file datavisualizer (#27889)
  x-pack/plugins/ml/public/license/check_license.js
Labels: backport

#27891 [BeatsCM] Correct new user redirect, enroll command extra space, and KQL bar EUI theme breaking change
  x-pack/plugins/beats_management/public/components/autocomplete_field/suggestion_item.tsx
  x-pack/plugins/beats_management/public/components/enroll_beats.tsx
  x-pack/plugins/beats_management/public/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/beats_management/public/router.tsx
  x-pack/plugins/beats_management/scripts/enroll.js
  x-pack/plugins/beats_management/server/lib/adapters/beats/elasticsearch_beats_adapter.ts
Labels: :Beats, beats-cm, blocker

#27970 [6.x] [apm] Remove ms format for duration.us (#27890)
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/index_pattern.json
  src/legacy/core_plugins/kibana/server/tutorials/apm/saved_objects/saved_objects.json
Labels: backport

#27969 [6.x] Make test runners available from `yarn run test:*` (#26671)
  package.json
  tasks/test.js
  x-pack/package.json
Labels: backport

#27906 Fixes space name being read twice on the space selector screen
  x-pack/plugins/spaces/public/components/__snapshots__/space_avatar.test.tsx.snap
  x-pack/plugins/spaces/public/components/space_avatar.test.tsx
  x-pack/plugins/spaces/public/components/space_avatar.tsx
  x-pack/plugins/spaces/public/views/components/space_card.tsx
  x-pack/plugins/spaces/public/views/management/components/advanced_settings_title/__snapshots__/advanced_settings_title.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/nav_control/__snapshots__/nav_control_popover.test.tsx.snap
Labels: :Security/Spaces, accessibility, release_note:enhancement

#27983 [6.x] [BeatsCM] Correct new user redirect, enroll command extra space, and KQL bar EUI theme breaking change (#27891)
  x-pack/plugins/beats_management/public/components/autocomplete_field/suggestion_item.tsx
  x-pack/plugins/beats_management/public/components/enroll_beats.tsx
  x-pack/plugins/beats_management/public/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/beats_management/public/router.tsx
  x-pack/plugins/beats_management/scripts/enroll.js
  x-pack/plugins/beats_management/server/lib/adapters/beats/elasticsearch_beats_adapter.ts
Labels: backport

#27943 Set boolean flag to ensure initRoutes only called once in a given ses…
  x-pack/plugins/gis/index.js
Labels: :GIS App, v6.7.0, v7.0.0

#27811 [Maps] [ES document source] Make filterByMapBounds and tooltipProperties configurations editable
  x-pack/plugins/gis/public/shared/components/multi_field_select.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/create_source_editor.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/index.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/update_source_editor.js
Labels: :GIS App, v6.7.0, v7.0.0

#27858 fix: trick build into including dependencies
  x-pack/plugins/canvas/index.js
  x-pack/plugins/canvas/server/build_fix.js
Labels: :Canvas, review, v6.6.0, v6.7.0, v7.0.0

#27999 [6.x] [Maps] [ES document source] Make filterByMapBounds and tooltipProperties configurations editable (#27811)
  x-pack/plugins/gis/public/shared/components/multi_field_select.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/create_source_editor.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/index.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/update_source_editor.js
Labels: backport

#27857 [Code] Add initial code import repository functional test
  x-pack/plugins/code/public/components/admin_page/import_project.tsx
  x-pack/plugins/code/public/components/admin_page/project_item.tsx
  x-pack/plugins/code/public/components/admin_page/project_tab.tsx
  x-pack/test/functional/apps/code/import_repository.ts
  x-pack/test/functional/apps/code/index.ts
  x-pack/test/functional/apps/code/lib/types.ts
  x-pack/test/functional/config.js
  x-pack/test/functional/es_archives/code/data.json
  x-pack/test/functional/es_archives/code/mappings.json
  x-pack/test/functional/page_objects/code_page.ts
  x-pack/test/functional/page_objects/index.js
Labels: :Code

#27993 [6.5] Fixes space name being read twice on the space selector screen (#27906)
  x-pack/plugins/spaces/public/components/__snapshots__/space_avatar.test.tsx.snap
  x-pack/plugins/spaces/public/components/space_avatar.test.tsx
  x-pack/plugins/spaces/public/components/space_avatar.tsx
  x-pack/plugins/spaces/public/views/components/space_card.tsx
  x-pack/plugins/spaces/public/views/management/components/advanced_settings_title/__snapshots__/advanced_settings_title.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/nav_control/__snapshots__/nav_control_popover.test.tsx.snap
Labels: backport

#27911 Provides context to spaces grid action buttons
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
Labels: :Security/Spaces, accessibility, release_note:enhancement, v6.5.5, v6.6.0, v7.0.0

#27944 Fix: Make timelion a browser function
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/index.js
  x-pack/plugins/canvas/public/functions/index.js
  x-pack/plugins/canvas/public/functions/timelion.js
Labels: :Canvas, review, v6.6.0, v6.7.0, v7.0.0

#27938 [Code] Fix symbol link file content reading and workspace folder creation
  x-pack/plugins/code/public/components/file_tree/__snapshots__/file_tree.test.tsx.snap
  x-pack/plugins/code/server/indexer/lsp_indexer.ts
  x-pack/plugins/code/server/lsp/workspace_handler.ts
Labels: :Code

#27842 [6.x] Confirm GIS app enabled and wait until license info enabled before passing license info through to maps app (#27607)
  x-pack/plugins/gis/index.js
  x-pack/plugins/gis/server/routes.js
Labels: backport

#28014 [6.x] Fix: Make timelion a browser function (#27944)
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/index.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/src/index.js
  x-pack/plugins/canvas/public/functions/index.js
  x-pack/plugins/canvas/public/functions/timelion.js
Labels: backport

#28012 [6.x] fix: trick build into including dependencies (#27858)
  x-pack/plugins/canvas/index.js
  x-pack/plugins/canvas/server/build_fix.js
Labels: backport

#28005 [6.x] Provides context to spaces grid action buttons (#27911)
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
Labels: backport

#28013 [6.6] fix: trick build into including dependencies (#27858)
  x-pack/plugins/canvas/index.js
  x-pack/plugins/canvas/server/build_fix.js
Labels: backport

#27998 [BeatsCM] use static map of pages vs dynamic from FS
  x-pack/plugins/beats_management/public/pages/index.ts
  x-pack/plugins/beats_management/public/router.tsx
  x-pack/plugins/beats_management/public/utils/page_loader/__snapshots__/page_loader.test.ts.snap
  x-pack/plugins/beats_management/public/utils/page_loader/page_loader.test.ts
  x-pack/plugins/beats_management/public/utils/page_loader/page_loader.ts
  x-pack/plugins/beats_management/public/utils/page_loader/readme.md
Labels: :Beats, beats-cm, blocker

#28019 Update EMS config
  src/server/config/schema.js
Labels: :Geo, blocker, chore, v6.6.0, v6.7.0, v7.0.0

#27841 [6.x] Remove KY dataset (#27708)
  x-pack/plugins/gis/index.js
  x-pack/plugins/gis/server/sample_data/ky_salt_trucks/avl.json.gz
  x-pack/plugins/gis/server/sample_data/ky_salt_trucks/avl_field_mappings.js
  x-pack/plugins/gis/server/sample_data/ky_salt_trucks/counties.json.gz
  x-pack/plugins/gis/server/sample_data/ky_salt_trucks/counties_field_mappings.js
  x-pack/plugins/gis/server/sample_data/ky_salt_trucks/index.js
  x-pack/plugins/gis/server/sample_data/ky_salt_trucks/ky_counties.json
  x-pack/plugins/gis/server/sample_data/ky_salt_trucks/saved_objects.js
Labels: backport

#27142 [Reporting] Remove Phantom
  docs/migration/migrate_7_0.asciidoc
  docs/reporting/reporting-troubleshooting.asciidoc
  docs/settings/reporting-settings.asciidoc
  packages/kbn-babel-preset/webpack_preset.js
  src/dev/build/tasks/clean_tasks.js
  src/optimize/postcss.config.js
  src/ui/public/utils/obj_define.js
  x-pack/README.md
  x-pack/package.json
  x-pack/plugins/reporting/export_types/common/layouts/preserve_layout.css
  x-pack/plugins/reporting/export_types/common/layouts/print.css
  x-pack/plugins/reporting/index.js
  x-pack/plugins/reporting/server/browsers/browser_types.js
  x-pack/plugins/reporting/server/browsers/browsers.js
  x-pack/plugins/reporting/server/browsers/default_browser.js
  x-pack/plugins/reporting/server/browsers/extract/extract_error.js
  x-pack/plugins/reporting/server/browsers/index.js
  x-pack/plugins/reporting/server/browsers/phantom/driver/index.js
  x-pack/plugins/reporting/server/browsers/phantom/driver/transform_fn.js
  x-pack/plugins/reporting/server/browsers/phantom/driver_factory/index.js
  x-pack/plugins/reporting/server/browsers/phantom/driver_factory/phantom_options.js
  x-pack/plugins/reporting/server/browsers/phantom/index.js
  x-pack/plugins/reporting/server/browsers/phantom/paths.js
  x-pack/plugins/rollup/public/crud_app/services/humanized_numbers.js
  x-pack/scripts/functional_tests.js
  x-pack/test/reporting/README.md
  x-pack/test/reporting/api/phantom_tests.js
  x-pack/test/reporting/configs/phantom_api.js
  x-pack/test/reporting/configs/phantom_functional.js
  x-pack/test/reporting/functional/reporting.js
  yarn.lock
Labels: :KibanaApp, :Reporting, release_note:breaking, review, v7.0.0

#28034 [6.x] [Backport] update config (#28019)
  src/server/config/schema.js
Labels: backport, v6.7.0

#27683 update docs for reporting move to share menu
  docs/reporting/development/index.asciidoc
  docs/reporting/getting-started.asciidoc
  docs/reporting/images/csv-reporting.png
  docs/reporting/images/pdf-reporting.png
  docs/reporting/images/preserve-layout-switch.png
  docs/reporting/images/reporting-button.png
  docs/reporting/images/share-button.png
  docs/reporting/index.asciidoc
  docs/reporting/pdf-layout-modes.asciidoc
Labels: docs, v6.5.0, v6.6.0, v6.7.0, v7.0.0

#28030 [6.x] [BeatsCM] use static map of pages vs dynamic from FS (#27998)
  x-pack/plugins/beats_management/public/pages/index.ts
  x-pack/plugins/beats_management/public/router.tsx
  x-pack/plugins/beats_management/public/utils/page_loader/__snapshots__/page_loader.test.ts.snap
  x-pack/plugins/beats_management/public/utils/page_loader/page_loader.test.ts
  x-pack/plugins/beats_management/public/utils/page_loader/page_loader.ts
  x-pack/plugins/beats_management/public/utils/page_loader/readme.md
Labels: backport

#28043 [6.x] Set boolean flag to ensure initRoutes only called once in a given ses… (#27943)
  x-pack/plugins/gis/index.js
Labels: backport

#28044 [6.x] If dynamic vector value is null, set color to transparent (#27821)
  x-pack/plugins/gis/public/shared/layers/styles/components/static_dynamic_styling_option.js
  x-pack/plugins/gis/public/shared/layers/styles/vector_style.js
Labels: backport

#27421 [6.5] Ensure extra columns are not shown in table vis when showPartialRows:true
  src/core_plugins/table_vis/public/table_vis_params.html
  src/ui/public/agg_response/hierarchical/__tests__/build_hierarchical_data.js
  src/ui/public/agg_response/tabify/__tests__/_integration.js
  src/ui/public/agg_response/tabify/__tests__/_response_writer.js
  src/ui/public/agg_response/tabify/_get_columns.js
  src/ui/public/agg_response/tabify/_response_writer.js
  src/ui/public/agg_response/tabify/tabify.js
  src/ui/public/agg_table/__tests__/_table.js
  src/ui/public/vis/request_handlers/courier.js
  src/ui/public/vis/request_handlers/request_handlers.d.ts
  src/ui/public/vislib/__tests__/visualizations/pie_chart.js
  src/ui/public/visualize/loader/visualize_data_loader.ts
  test/functional/apps/visualize/_data_table.js
Labels: backport

#28042 [6.6] [Backport] update config (#28019) (#28034)
  src/server/config/schema.js
Labels: :Geo, backport, v6.6.0

#28046 [6.6] update docs for reporting move to share menu (#27683)
  docs/reporting/development/index.asciidoc
  docs/reporting/getting-started.asciidoc
  docs/reporting/images/csv-reporting.png
  docs/reporting/images/pdf-reporting.png
  docs/reporting/images/preserve-layout-switch.png
  docs/reporting/images/reporting-button.png
  docs/reporting/images/share-button.png
  docs/reporting/index.asciidoc
  docs/reporting/pdf-layout-modes.asciidoc
Labels: backport

#27984 [6.6] [BeatsCM] Correct new user redirect, enroll command extra space, and KQL bar EUI theme breaking change (#27891)
  x-pack/plugins/beats_management/public/components/autocomplete_field/suggestion_item.tsx
  x-pack/plugins/beats_management/public/components/enroll_beats.tsx
  x-pack/plugins/beats_management/public/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/beats_management/public/router.tsx
  x-pack/plugins/beats_management/scripts/enroll.js
  x-pack/plugins/beats_management/server/lib/adapters/beats/elasticsearch_beats_adapter.ts
Labels: backport, blocker

#28051 [6.x] [Maps] fix license check for gold and standard license (#27990)
  x-pack/plugins/gis/check_license.js
Labels: backport

#28045 [6.x] update docs for reporting move to share menu (#27683)
  docs/reporting/development/index.asciidoc
  docs/reporting/getting-started.asciidoc
  docs/reporting/images/csv-reporting.png
  docs/reporting/images/pdf-reporting.png
  docs/reporting/images/preserve-layout-switch.png
  docs/reporting/images/reporting-button.png
  docs/reporting/images/share-button.png
  docs/reporting/index.asciidoc
  docs/reporting/pdf-layout-modes.asciidoc
Labels: backport

#27991 [6.x] Fixes space name being read twice on the space selector screen (#27906)
  x-pack/plugins/spaces/public/components/__snapshots__/space_avatar.test.tsx.snap
  x-pack/plugins/spaces/public/components/space_avatar.test.tsx
  x-pack/plugins/spaces/public/components/space_avatar.tsx
  x-pack/plugins/spaces/public/views/components/space_card.tsx
  x-pack/plugins/spaces/public/views/management/components/advanced_settings_title/__snapshots__/advanced_settings_title.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/nav_control/__snapshots__/nav_control_popover.test.tsx.snap
Labels: backport

#28009 [6.5] Provides context to spaces grid action buttons (#27911)
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
Labels: backport

#28047 [6.5] update docs for reporting move to share menu (#27683)
  docs/reporting/development/index.asciidoc
  docs/reporting/getting-started.asciidoc
  docs/reporting/images/csv-reporting.png
  docs/reporting/images/pdf-reporting.png
  docs/reporting/images/preserve-layout-switch.png
  docs/reporting/images/reporting-button.png
  docs/reporting/images/share-button.png
  docs/reporting/index.asciidoc
  docs/reporting/pdf-layout-modes.asciidoc
Labels: backport

#28048 Change sass-lint config to very specifically target files to lint
  .sass-lint.yml
Labels: v7.0.0

#28055 Remove SCSS linting from dev server
  src/server/sass/build.js
Labels: v7.0.0

#27345 Index Pattern UI - remove _remote/info query
  src/legacy/core_plugins/kibana/index.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/get_indices.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/get_remote_clusters.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/index.js
  src/legacy/core_plugins/kibana/server/routes/api/remote_info/call_with_request_factory.js
  src/legacy/core_plugins/kibana/server/routes/api/remote_info/index.js
Labels: :KibanaApp, :Security, bug, regression, v6.6.0, v6.7.0, v7.0.0

#28058 [6.6] Index Pattern UI - remove _remote/info query (#27345)
  src/legacy/core_plugins/kibana/index.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/get_indices.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/get_remote_clusters.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/index.js
  src/legacy/core_plugins/kibana/server/routes/api/remote_info/call_with_request_factory.js
  src/legacy/core_plugins/kibana/server/routes/api/remote_info/index.js
Labels: backport

#28057 [6.x] Index Pattern UI - remove _remote/info query (#27345)
  src/legacy/core_plugins/kibana/index.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/create_index_pattern_wizard.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/get_indices.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/get_remote_clusters.js
  src/legacy/core_plugins/kibana/public/management/sections/index_patterns/create_index_pattern_wizard/lib/index.js
  src/legacy/core_plugins/kibana/server/routes/api/remote_info/call_with_request_factory.js
  src/legacy/core_plugins/kibana/server/routes/api/remote_info/index.js
Labels: backport

#27593 [ML] field data card translations
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_boolean.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_date.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_document_count.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_geo_point.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_ip.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_keyword.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_number.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_other.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_text.html
  x-pack/plugins/ml/public/components/field_data_card/document_count_chart_directive.js
  x-pack/plugins/ml/public/components/field_data_card/field_data_card.html
  x-pack/plugins/ml/public/components/field_data_card/metric_distribution_chart_directive.js
  x-pack/plugins/ml/public/components/field_data_card/top_values.html
Labels: :i18n, :ml

#27806 [ML] translate formatters
  x-pack/plugins/ml/public/formatters/metric_change_description.js
Labels: :i18n, :ml, review

#27803 [ML] translate job select
  x-pack/plugins/ml/public/components/job_select_list/job_select_button.html
  x-pack/plugins/ml/public/components/job_select_list/job_select_list.html
  x-pack/plugins/ml/public/components/job_select_list/job_select_list_directive.js
  x-pack/plugins/ml/public/components/job_select_list/job_select_service.js
Labels: :i18n, :ml

#28061 [6.x] [ML] translate formatters (#27806)
  x-pack/plugins/ml/public/formatters/metric_change_description.js
Labels: backport

#28060 [6.x] [ML] field data card translations (#27593)
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_boolean.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_date.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_document_count.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_geo_point.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_ip.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_keyword.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_number.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_other.html
  x-pack/plugins/ml/public/components/field_data_card/content_types/card_text.html
  x-pack/plugins/ml/public/components/field_data_card/document_count_chart_directive.js
  x-pack/plugins/ml/public/components/field_data_card/field_data_card.html
  x-pack/plugins/ml/public/components/field_data_card/metric_distribution_chart_directive.js
  x-pack/plugins/ml/public/components/field_data_card/top_values.html
Labels: backport

#27977 [6.x] [APM] Remove unneeded @ts-ignore and use destructed Lodash imports (#27881)
  x-pack/plugins/apm/public/components/app/ServiceDetails/ServiceIntegrations/WatcherFlyout.tsx
  x-pack/plugins/apm/public/components/app/ServiceDetails/ServiceIntegrations/view.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/DatabaseContext.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/index.tsx
  x-pack/plugins/apm/public/components/shared/HistoryTabs/__test__/HistoryTabs.test.tsx
  x-pack/plugins/apm/public/components/shared/ManagedTable/index.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/NestedKeyValueTable.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/index.tsx
  x-pack/plugins/apm/public/components/shared/SetupInstructionsLink.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/Context.tsx
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/InteractivePlot.js
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/VoronoiPlot.js
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/index.js
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/plotUtils.js
  x-pack/plugins/apm/public/components/shared/charts/Histogram/index.js
  x-pack/plugins/apm/public/components/shared/charts/Tooltip/index.js
  x-pack/plugins/apm/public/services/rest/callApi.ts
  x-pack/plugins/apm/public/store/reactReduxRequest/machineLearningJobs.tsx
  x-pack/plugins/apm/public/store/reactReduxRequest/serviceDetails.tsx
  x-pack/plugins/apm/public/store/urlParams.ts
Labels: backport

#27994 [ML] Tests for ML annotations feature.
  x-pack/plugins/ml/common/types/__mocks__/job_config_farequote.json
  x-pack/plugins/ml/common/types/annotations.test.ts
  x-pack/plugins/ml/common/types/jobs.test.js
  x-pack/plugins/ml/public/components/annotations_table/__mocks__/mock_annotations.json
  x-pack/plugins/ml/public/components/annotations_table/__snapshots__/annotations_table.test.js.snap
  x-pack/plugins/ml/public/components/annotations_table/__tests__/annotations_table_directive.js
  x-pack/plugins/ml/public/components/annotations_table/annotations_table.js
  x-pack/plugins/ml/public/components/annotations_table/annotations_table.test.js
  x-pack/plugins/ml/public/explorer/__tests__/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_description_list/__snapshots__/index.test.tsx.snap
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_description_list/index.test.tsx
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_flyout/__snapshots__/index.test.tsx.snap
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_flyout/index.test.tsx
  x-pack/plugins/ml/public/timeseriesexplorer/components/timeseries_chart/__mocks__/mock_annotations_overlap.json
  x-pack/plugins/ml/public/timeseriesexplorer/components/timeseries_chart/timeseries_chart_annotations.test.ts
Labels: :ml, :ml-config, :ml-results, non-issue, v6.7.0, v7.0.0

#27976 [i18n] Translate ML - index.js
  x-pack/plugins/ml/index.js
Labels: :i18n, :ml, review, v7.0.0

#28032 [Maps] Add EMS tms layers to UI
  x-pack/plugins/gis/public/components/layer_addpanel/view.js
  x-pack/plugins/gis/public/shared/layers/sources/ems_tms_source.js
Labels: :Geo, chore, v6.7.0, v7.0.0

#27805 [i18n] Translate ML - explorer
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/__snapshots__/explorer_chart_label.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_info_tooltip.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_info_tooltip.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_single_metric.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_single_metric.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.test.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
  x-pack/plugins/ml/public/explorer/select_limit/select_limit.html
Labels: :i18n, :ml, review, v7.0.0

#28078 [6.x] [i18n] Translate ML - index.js (#27976)
  x-pack/plugins/ml/index.js
Labels: backport

#28004 Add uncommon process es-archiver tests and remove ci tech debt
  .ci/jobs.yml
  tasks/jenkins.js
  x-pack/plugins/secops/public/apps/start_app.tsx
  x-pack/plugins/secops/public/components/theme_switcher/index.tsx
  x-pack/test/api_integration/apis/index.js
  x-pack/test/api_integration/apis/secops/hosts.ts
  x-pack/test/api_integration/apis/secops/index.js
  x-pack/test/api_integration/apis/secops/uncommon_processes.ts
  x-pack/test/api_integration/services/secops_graphql_client.js
  x-pack/test/functional/es_archives/auditbeat/hosts/data.json.gz
  x-pack/test/functional/es_archives/auditbeat/hosts/mappings.json
  x-pack/test/saved_object_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/saved_object_api_integration/security_only/apis/index.ts
  x-pack/test/saved_object_api_integration/spaces_only/apis/index.ts
  x-pack/test/spaces_api_integration/security_and_spaces/apis/index.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/index.ts
Labels: :SecOps UI, loe:days, review

#28074 [6.x] [ML] Tests for ML annotations feature. (#27994)
  x-pack/plugins/ml/common/types/__mocks__/job_config_farequote.json
  x-pack/plugins/ml/common/types/annotations.test.ts
  x-pack/plugins/ml/common/types/jobs.test.js
  x-pack/plugins/ml/public/components/annotations_table/__mocks__/mock_annotations.json
  x-pack/plugins/ml/public/components/annotations_table/__snapshots__/annotations_table.test.js.snap
  x-pack/plugins/ml/public/components/annotations_table/__tests__/annotations_table_directive.js
  x-pack/plugins/ml/public/components/annotations_table/annotations_table.js
  x-pack/plugins/ml/public/components/annotations_table/annotations_table.test.js
  x-pack/plugins/ml/public/explorer/__tests__/explorer_controller.js
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_description_list/__snapshots__/index.test.tsx.snap
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_description_list/index.test.tsx
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_flyout/__snapshots__/index.test.tsx.snap
  x-pack/plugins/ml/public/timeseriesexplorer/components/annotation_flyout/index.test.tsx
  x-pack/plugins/ml/public/timeseriesexplorer/components/timeseries_chart/__mocks__/mock_annotations_overlap.json
  x-pack/plugins/ml/public/timeseriesexplorer/components/timeseries_chart/timeseries_chart_annotations.test.ts
Labels: :ml, backport

#28000 DOCS/add detail to managing rollup jobs
  docs/management/rollups/create_and_manage_rollups.asciidoc
  docs/management/rollups/visualize_rollup_data.asciidoc
Labels: docs

#28075 [6.x] [i18n] Translate ML - util (#27971)
  x-pack/plugins/ml/public/register_feature.js
  x-pack/plugins/ml/public/util/index_utils.js
  x-pack/plugins/ml/public/util/recently_accessed.js
Labels: backport

#28082 [6.x] [Maps] Add EMS Tile services to UI (#28032)
  x-pack/plugins/gis/public/components/layer_addpanel/view.js
  x-pack/plugins/gis/public/shared/layers/sources/ems_tms_source.js
Labels: backport

#28056 Moved "Add data" and the theme switcher from the footer to a settings gear / style cleanup
  x-pack/plugins/secops/public/components/app_settings/app_settings_popover.test.tsx
  x-pack/plugins/secops/public/components/app_settings/app_settings_popover.tsx
  x-pack/plugins/secops/public/components/app_settings/index.tsx
  x-pack/plugins/secops/public/components/flyout/pane/index.tsx
  x-pack/plugins/secops/public/components/page/footer.tsx
  x-pack/plugins/secops/public/components/page/index.tsx
  x-pack/plugins/secops/public/components/timeline/data_providers/empty.tsx
  x-pack/plugins/secops/public/pages/home/index.tsx
Labels: :SecOps UI, loe:hours, review

#28069 [ML] Update REST endpoint calls to remove _xpack
  x-pack/plugins/ml/server/client/__tests__/elasticsearch_ml.js
  x-pack/plugins/ml/server/client/elasticsearch_ml.js
Labels: :ml, :ml-config, :ml-results, release_note:deprecation, review, v7.0.0

#28062 [Code] handle delete workspace exception
  x-pack/plugins/code/model/repository.ts
  x-pack/plugins/code/public/components/main/main.tsx
  x-pack/plugins/code/public/sagas/status.ts
  x-pack/plugins/code/server/__tests__/clone_worker.ts
  x-pack/plugins/code/server/__tests__/lsp_indexer_test.ts
  x-pack/plugins/code/server/lsp/workspace_handler.ts
  x-pack/plugins/code/server/queue/abstract_git_worker.ts
  x-pack/plugins/code/server/queue/abstract_worker.ts
  x-pack/plugins/code/server/queue/clone_worker.ts
  x-pack/plugins/code/server/queue/delete_worker.test.ts
  x-pack/plugins/code/server/queue/delete_worker.ts
  x-pack/plugins/code/server/queue/index_worker.test.ts
  x-pack/plugins/code/server/queue/index_worker.ts
  x-pack/plugins/code/server/scheduler/index_scheduler.test.ts
  x-pack/plugins/code/server/scheduler/index_scheduler.ts
  x-pack/plugins/code/server/scheduler/update_scheduler.test.ts
  x-pack/plugins/code/server/scheduler/update_scheduler.ts
  x-pack/plugins/code/server/search/repository_object_client.test.ts
Labels: :Code

#28099 [code] update lsp related dependencies
  x-pack/package.json
  x-pack/plugins/code/common/text_document_methods.ts
  x-pack/plugins/code/model/search.ts
  x-pack/plugins/code/public/components/query_bar/suggestions/symbol_suggestions_provider.ts
  x-pack/plugins/code/public/monaco/definition/definition_provider.ts
  x-pack/plugins/code/server/lsp/language_servers.ts
  x-pack/plugins/code/server/lsp/workspace_handler.ts
  x-pack/plugins/code/server/search/symbol_search_client.ts
  yarn.lock
Labels: :Code

#28096 [Maps] simplify source import/initialization
  x-pack/plugins/gis/public/components/layer_addpanel/view.js
  x-pack/plugins/gis/public/selectors/map_selectors.js
  x-pack/plugins/gis/public/selectors/map_selectors.test.js
  x-pack/plugins/gis/public/shared/layers/sources/all_sources.js
  x-pack/plugins/gis/public/shared/layers/sources/ems_file_source.js
  x-pack/plugins/gis/public/shared/layers/sources/ems_tms_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_geohashgrid_source/es_geohashgrid_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/gis/public/shared/layers/sources/kibana_regionmap_source.js
  x-pack/plugins/gis/public/shared/layers/sources/kibana_tilemap_source.js
  x-pack/plugins/gis/public/shared/layers/sources/source.js
  x-pack/plugins/gis/public/shared/layers/sources/wms_source.js
  x-pack/plugins/gis/public/shared/layers/sources/xyz_tms_source.js
Labels: :Geo, v6.7.0, v7.0.0

#28011 chore: remove httpHeaders from server handlers
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
Labels: :Canvas, review, v6.6.0, v6.7.0, v7.0.0

#27526 [6.x] Combine node and cluster warnings in Upgrade Assistant (#27508)
  x-pack/plugins/upgrade_assistant/server/lib/__fixtures__/fake_deprecations.json
  x-pack/plugins/upgrade_assistant/server/lib/__snapshots__/es_migration_apis.test.ts.snap
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts
Labels: backport

#28115 [6.x] chore: remove httpHeaders from server handlers (#28011)
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
Labels: backport

#27824 Upgrades style-it to 2.1.2
  x-pack/package.json
  yarn.lock
Labels: :Canvas, review, v6.5.5, v6.6.0, v6.7.0, v7.0.0

#28116 [6.6] chore: remove httpHeaders from server handlers (#28011)
  src/legacy/core_plugins/interpreter/server/lib/__tests__/create_handlers.js
  src/legacy/core_plugins/interpreter/server/lib/create_handlers.js
Labels: backport

#28107 [DOCS] Removes outdated Upgrade Assistant doc
  docs/index.asciidoc
  docs/management/upgrade-assistant/index.asciidoc
Labels: docs, v6.5.0

#28118 [6.x] Upgrades style-it to 2.1.2 (#27824)
  x-pack/package.json
  yarn.lock
Labels: backport

#27638 Fix: Interpreter plugin dir loading
  packages/kbn-interpreter/src/server/get_plugin_paths.js
Labels: :Canvas, :KibanaApp, review, v6.6.0, v7.0.0

#28124 Upgrade assistant - add side nav
  x-pack/plugins/upgrade_assistant/public/index.tsx
Labels: v7.0.0

#28052 [6.x] Core task manager (#24356)
  src/es_archiver/lib/indices/kibana_index.js
  src/ui/ui_exports/ui_export_types/index.js
  src/ui/ui_exports/ui_export_types/task_definitions.js
  x-pack/index.js
  x-pack/plugins/task_manager/README.md
  x-pack/plugins/task_manager/index.js
  x-pack/plugins/task_manager/lib/fill_pool.test.ts
  x-pack/plugins/task_manager/lib/fill_pool.ts
  x-pack/plugins/task_manager/lib/intervals.test.ts
  x-pack/plugins/task_manager/lib/intervals.ts
  x-pack/plugins/task_manager/lib/logger.ts
  x-pack/plugins/task_manager/lib/middleware.test.ts
  x-pack/plugins/task_manager/lib/middleware.ts
  x-pack/plugins/task_manager/lib/sanitize_task_definitions.test.ts
  x-pack/plugins/task_manager/lib/sanitize_task_definitions.ts
  x-pack/plugins/task_manager/task.ts
  x-pack/plugins/task_manager/task_manager.test.ts
  x-pack/plugins/task_manager/task_manager.ts
  x-pack/plugins/task_manager/task_poller.test.ts
  x-pack/plugins/task_manager/task_poller.ts
  x-pack/plugins/task_manager/task_pool.test.ts
  x-pack/plugins/task_manager/task_pool.ts
  x-pack/plugins/task_manager/task_runner.test.ts
  x-pack/plugins/task_manager/task_runner.ts
  x-pack/plugins/task_manager/task_store.test.ts
  x-pack/plugins/task_manager/task_store.ts
  x-pack/plugins/task_manager/test_utils/index.ts
  x-pack/scripts/functional_tests.js
  x-pack/test/plugin_api_integration/config.js
  x-pack/test/plugin_api_integration/plugins/task_manager/index.js
  x-pack/test/plugin_api_integration/plugins/task_manager/init_routes.js
  x-pack/test/plugin_api_integration/plugins/task_manager/package.json
  x-pack/test/plugin_api_integration/test_suites/task_manager/index.js
  x-pack/test/plugin_api_integration/test_suites/task_manager/task_manager_integration.js
Labels: backport

#27904 [Canvas][i18n] Elements
  x-pack/plugins/canvas/canvas_plugin_src/elements/register.js
  x-pack/plugins/canvas/canvas_plugin_src/strings/apply_strings.ts
  x-pack/plugins/canvas/canvas_plugin_src/strings/element_strings.test.ts
  x-pack/plugins/canvas/canvas_plugin_src/strings/element_strings.ts
  x-pack/plugins/canvas/canvas_plugin_src/strings/i18n_provider.ts
  x-pack/plugins/canvas/canvas_plugin_src/strings/index.ts
  x-pack/plugins/canvas/public/lib/element.ts
  x-pack/plugins/canvas/scripts/_helpers.js
  x-pack/plugins/canvas/scripts/jest.js
  x-pack/plugins/canvas/types/global.d.ts
Labels: :Canvas, :i18n, review

#27825 Remove grunt sterilize - its been replaced by `kbn clean`
  package.json
  tasks/sterilize.js
Labels: :Dev Tools

#28139 [6.x] remove grunt sterilize (#27825)
  package.json
  tasks/sterilize.js
Labels: backport

#27945 Enables the feature catalogue registry to be controlled via uiCapabil…
  src/legacy/core_plugins/kibana/index.js
  src/ui/public/capabilities/ui_capabilities.ts
  src/ui/public/registry/feature_catalogue.js
  src/ui/public/registry/feature_catalogue.test.js
  x-pack/plugins/__mocks__/ui/capabilities.ts
  x-pack/plugins/apm/index.js
  x-pack/plugins/canvas/init.js
  x-pack/plugins/graph/index.js
  x-pack/plugins/infra/server/kibana.index.ts
  x-pack/plugins/ml/index.js
  x-pack/plugins/monitoring/init.js
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/__snapshots__/kibana_privileges.test.tsx.snap
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/kibana_privileges.test.tsx
  x-pack/plugins/security/server/lib/authorization/actions/ui.test.ts
  x-pack/plugins/security/server/lib/authorization/actions/ui.ts
  x-pack/plugins/security/server/lib/authorization/disable_ui_capabilities.test.ts
  x-pack/plugins/security/server/lib/authorization/features_privileges_builder.ts
  x-pack/plugins/security/server/lib/authorization/features_privileges_builders.test.ts
  x-pack/plugins/security/server/lib/authorization/privileges.test.ts
  x-pack/plugins/security/server/lib/authorization/privileges.ts
  x-pack/plugins/spaces/public/components/manage_spaces_button.test.tsx
  x-pack/plugins/spaces/public/views/management/components/secure_space_message/secure_space_message.test.tsx
  x-pack/plugins/spaces/server/lib/toggle_ui_capabilities.test.ts
  x-pack/plugins/spaces/server/lib/toggle_ui_capabilities.ts
  x-pack/plugins/xpack_main/server/lib/__tests__/replace_injected_vars.js
  x-pack/plugins/xpack_main/server/lib/feature_registry/__snapshots__/feature_registry.test.ts.snap
  x-pack/plugins/xpack_main/server/lib/feature_registry/feature_registry.test.ts
  x-pack/plugins/xpack_main/server/lib/feature_registry/feature_registry.ts
  x-pack/plugins/xpack_main/server/lib/populate_ui_capabilities.test.ts
  x-pack/plugins/xpack_main/server/lib/populate_ui_capabilities.ts
  x-pack/plugins/xpack_main/server/lib/register_oss_features.ts
Labels: :Security/Feature Controls

#27850 undeprecate calling scripts from npm / yarn run
  package.json
Labels: :Dev Tools

#28010 Kuery/KQL: Support not passing an index pattern
  packages/kbn-es-query/src/kuery/ast/ast.js
  packages/kbn-es-query/src/kuery/functions/__tests__/exists.js
  packages/kbn-es-query/src/kuery/functions/__tests__/geo_bounding_box.js
  packages/kbn-es-query/src/kuery/functions/__tests__/geo_polygon.js
  packages/kbn-es-query/src/kuery/functions/__tests__/is.js
  packages/kbn-es-query/src/kuery/functions/__tests__/range.js
  packages/kbn-es-query/src/kuery/functions/exists.js
  packages/kbn-es-query/src/kuery/functions/geo_bounding_box.js
  packages/kbn-es-query/src/kuery/functions/geo_polygon.js
  packages/kbn-es-query/src/kuery/functions/is.js
  packages/kbn-es-query/src/kuery/functions/range.js
Labels: :KQL, :KibanaApp, :TSVB, :Timelion, review, v6.6.0, v7.0.0

#28163 [6.x] Kuery/KQL: Support not passing an index pattern (#28010)
  packages/kbn-es-query/src/kuery/ast/ast.js
  packages/kbn-es-query/src/kuery/functions/__tests__/exists.js
  packages/kbn-es-query/src/kuery/functions/__tests__/geo_bounding_box.js
  packages/kbn-es-query/src/kuery/functions/__tests__/geo_polygon.js
  packages/kbn-es-query/src/kuery/functions/__tests__/is.js
  packages/kbn-es-query/src/kuery/functions/__tests__/range.js
  packages/kbn-es-query/src/kuery/functions/exists.js
  packages/kbn-es-query/src/kuery/functions/geo_bounding_box.js
  packages/kbn-es-query/src/kuery/functions/geo_polygon.js
  packages/kbn-es-query/src/kuery/functions/is.js
  packages/kbn-es-query/src/kuery/functions/range.js
Labels: backport

#28063 [6.x] [ML] translate job select (#27803)
  x-pack/plugins/ml/public/components/job_select_list/job_select_button.html
  x-pack/plugins/ml/public/components/job_select_list/job_select_list.html
  x-pack/plugins/ml/public/components/job_select_list/job_select_list_directive.js
  x-pack/plugins/ml/public/components/job_select_list/job_select_service.js
Labels: :ml, :ml-results, backport

#28083 [6.x] [i18n] Translate ML - explorer (#27805)
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_charts/components/explorer_chart_label/__snapshots__/explorer_chart_label.test.js.snap
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_distribution.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_info_tooltip.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_info_tooltip.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_single_metric.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_chart_single_metric.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container.test.js
  x-pack/plugins/ml/public/explorer/explorer_charts/explorer_charts_container_directive.js
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane.test.js
  x-pack/plugins/ml/public/explorer/explorer_swimlane_directive.js
  x-pack/plugins/ml/public/explorer/select_limit/select_limit.html
Labels: :ml, :ml-results, backport

#28164 [6.6] Kuery/KQL: Support not passing an index pattern (#28010)
  packages/kbn-es-query/src/kuery/ast/ast.js
  packages/kbn-es-query/src/kuery/functions/__tests__/exists.js
  packages/kbn-es-query/src/kuery/functions/__tests__/geo_bounding_box.js
  packages/kbn-es-query/src/kuery/functions/__tests__/geo_polygon.js
  packages/kbn-es-query/src/kuery/functions/__tests__/is.js
  packages/kbn-es-query/src/kuery/functions/__tests__/range.js
  packages/kbn-es-query/src/kuery/functions/exists.js
  packages/kbn-es-query/src/kuery/functions/geo_bounding_box.js
  packages/kbn-es-query/src/kuery/functions/geo_polygon.js
  packages/kbn-es-query/src/kuery/functions/is.js
  packages/kbn-es-query/src/kuery/functions/range.js
Labels: backport

#27903 [Telemetry] Remove custom code for spaces in telemetry
  x-pack/plugins/spaces/server/lib/get_spaces_usage_collector.ts
Labels: :Telemetry, review, v6.7.0, v7.0.0

#28171 [6.6] Ensure all monitoring charts respond to onBrush (#28098)
  x-pack/plugins/monitoring/public/components/logstash/overview/overview.js
  x-pack/plugins/monitoring/public/views/kibana/instance/index.js
  x-pack/plugins/monitoring/public/views/kibana/overview/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/advanced/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/index.js
  x-pack/plugins/monitoring/public/views/logstash/overview/index.js
Labels: backport

#28170 [6.x] Ensure all monitoring charts respond to onBrush (#28098)
  x-pack/plugins/monitoring/public/components/logstash/overview/overview.js
  x-pack/plugins/monitoring/public/views/kibana/instance/index.js
  x-pack/plugins/monitoring/public/views/kibana/overview/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/advanced/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/index.js
  x-pack/plugins/monitoring/public/views/logstash/overview/index.js
Labels: backport

#28175 [6.x] [Telemetry] Remove custom code for spaces in telemetry (#27903)
  x-pack/plugins/spaces/server/lib/get_spaces_usage_collector.ts
Labels: backport

#28111 Fix/tms without ems access
  src/legacy/core_plugins/tile_map/common/ems_client.js
  src/legacy/core_plugins/tile_map/public/base_maps_visualization.js
Labels: :Coordinate Map, :Region Map, bug, v6.5.5, v6.6.0, v6.7.0, v7.0.0

#28138 [DOCS] Add docs for 8.0 Upgrade Assistant
  docs/images/management-upgrade-assistant-8.0.png
  docs/management/upgrade-assistant/index.asciidoc
Labels: docs

#28132 [DOCS] Adds doc for 7.0 Upgrade Assistant
  docs/images/management-upgrade-assistant-7.0.png
  docs/management/upgrade-assistant/index.asciidoc
Labels: docs

#28108 [ILM] Fix Index Management not loading when ILM enricher errors out
  x-pack/plugins/index_lifecycle_management/index.js
  x-pack/plugins/index_lifecycle_management/public/extend_index_management/index.js
  x-pack/plugins/index_lifecycle_management/public/index.js
  x-pack/plugins/index_management/server/lib/enrich_response.js
Labels: :Elasticsearch UI, review, v6.6.0, v6.7.0, v7.0.0

#28076 [Infra UI] Add a local tsconfig.json to fix implicit typescript project inference
  x-pack/plugins/infra/tsconfig.json
Labels: :Infra UI, [zube]: In Review, review, v6.7.0

#27532 Fixes time filter component
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/components/datetime_calendar/datetime_calendar.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/components/datetime_range_absolute/datetime_range_absolute.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/index.js
Labels: :Canvas, review, v6.5.5, v6.6.0, v6.7.0, v7.0.0

#28202 [6.x] Fixes time filter component (#27532)
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/components/datetime_calendar/datetime_calendar.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/components/datetime_range_absolute/datetime_range_absolute.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/index.js
Labels: backport

#28203 [6.6] Fixes time filter component (#27532)
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/components/datetime_calendar/datetime_calendar.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/components/datetime_range_absolute/datetime_range_absolute.js
  x-pack/plugins/canvas/canvas_plugin_src/renderers/time_filter/index.js
Labels: backport

#28196 [6.x] Add a local tsconfig.json for the infra plugin (#28076)
  x-pack/plugins/infra/tsconfig.json
Labels: backport

#28106 Awaiting element.isEnabled for staleness checks
  test/functional/services/find.js
Labels: non-issue, v6.7.0, v7.0.0

#28212 [6.x] Awaiting element.isEnabled for staleness checks (#28106)
  test/functional/services/find.js
Labels: backport

#28191 [6.x] [ILM] Fix Index Management not loading when ILM enricher errors out (#28108)
  x-pack/plugins/index_lifecycle_management/index.js
  x-pack/plugins/index_lifecycle_management/public/extend_index_management/index.js
  x-pack/plugins/index_lifecycle_management/public/index.js
  x-pack/plugins/index_management/server/lib/enrich_response.js
Labels: backport

#28192 [6.6] [ILM] Fix Index Management not loading when ILM enricher errors out (#28108)
  x-pack/plugins/index_lifecycle_management/index.js
  x-pack/plugins/index_lifecycle_management/public/extend_index_management/index.js
  x-pack/plugins/index_lifecycle_management/public/index.js
  x-pack/plugins/index_management/server/lib/enrich_response.js
Labels: backport

#27974 [i18n] Translate ML - server - lib
  x-pack/plugins/ml/server/lib/check_license/check_license.js
Labels: :i18n, :ml, review, v7.0.0

#28230 [6.x] Translate ml -> server -> lib (#27974)
  x-pack/plugins/ml/server/lib/check_license/check_license.js
Labels: backport

#28250 [6.6] Update ecommerce index pattern fields so they have same type as elasticsearch mappings (#27549)
  src/server/sample_data/data_sets/ecommerce/saved_objects.js
Labels: backport

#28195 Space Management - accessibility & i18n improvements
  x-pack/plugins/spaces/public/views/management/components/__snapshots__/confirm_delete_modal.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/components/confirm_delete_modal.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/customize_space/__snapshots__/customize_space_avatar.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/edit_space/customize_space/__snapshots__/space_identifier.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/edit_space/customize_space/customize_space.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/customize_space/customize_space_avatar.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/customize_space/space_identifier.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/enabled_features/enabled_features.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/manage_space_page.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/section_panel/__snapshots__/section_panel.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/edit_space/section_panel/section_panel.test.tsx
  x-pack/plugins/spaces/public/views/management/edit_space/section_panel/section_panel.tsx
  x-pack/plugins/spaces/public/views/management/lib/feature_utils.test.ts
  x-pack/plugins/spaces/public/views/management/lib/feature_utils.ts
  x-pack/plugins/spaces/public/views/management/lib/validate_space.test.ts
  x-pack/plugins/spaces/public/views/management/lib/validate_space.ts
  x-pack/plugins/spaces/public/views/management/page_routes.tsx
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_pages.test.tsx
Labels: :Security, :Security/Feature Controls, :Security/Spaces

#28251 [6.6] [Backport] Ensure reporting works with unsaturated baselayers
  src/ui/public/vis/map/kibana_map.js
Labels: :Geo, backport, blocker, v6.6.0

#28113 [Uptime] Set min/max on search size for pings.
  x-pack/plugins/uptime/public/components/queries/ping_list/ping_list.tsx
Labels: :uptime, bug

#28208 [DOCS] Updates X-Pack terminology
  docs/apm/index.asciidoc
  docs/dev-tools/grokdebugger/index.asciidoc
  docs/dev-tools/searchprofiler/getting-started.asciidoc
  docs/dev-tools/searchprofiler/gs-index.asciidoc
  docs/dev-tools/searchprofiler/index.asciidoc
  docs/management.asciidoc
  docs/reporting/gs-index.asciidoc
  docs/reporting/index.asciidoc
  docs/security/index.asciidoc
  docs/settings/ssl-settings.asciidoc
  docs/setup/production.asciidoc
Labels: :xpack_main, docs, v6.3.3, v6.4.4, v6.5.5, v6.6.0, v6.7.0, v7.0.0

#28038 [GIS] Updates mapping to reflect that in ES
  x-pack/plugins/gis/mappings.json
Labels: v6.7.0, v7.0.0

#28266 fixing watcher threshold alerts by reverting to kui styles
  x-pack/plugins/watcher/public/components/expression_builder/components/expression_popover/expression_popover.html
Labels: :watcher, v6.6.0, v6.7.0, v7.0.0

#28130 Allow Task Manager's internal init to fail and retry
  x-pack/plugins/task_manager/task_manager.test.ts
  x-pack/plugins/task_manager/task_manager.ts
  x-pack/plugins/task_manager/task_poller.test.ts
  x-pack/plugins/task_manager/task_poller.ts
  x-pack/plugins/task_manager/task_store.ts
Labels: :KibanaApp, :Platform, bug, review, v6.7.0, v7.0.0

#28269 [6.6] fixing watcher threshold alerts by reverting to kui styles (#28266)
  x-pack/plugins/watcher/public/components/expression_builder/components/expression_popover/expression_popover.html
Labels: backport

#28268 [6.x] fixing watcher threshold alerts by reverting to kui styles (#28266)
  x-pack/plugins/watcher/public/components/expression_builder/components/expression_popover/expression_popover.html
Labels: backport

#27756 [Code] fix initializing popover not showing
  x-pack/plugins/code/server/lsp/request_expander.test.ts
  x-pack/plugins/code/server/lsp/request_expander.ts
  x-pack/plugins/code/server/utils/timeout.ts
Labels: :Code

#28226 [Code] change root scss file name
  x-pack/plugins/code/index.ts
  x-pack/plugins/code/public/index.scss
Labels: :Code

#28311 [Code] fix wrong file url on windows
  x-pack/plugins/code/server/lsp/workspace_handler.ts
Labels: :Code
