Repository elastic/kibana, pull requests merged in 2019-02, with the labels that each got.

#27275 [Docs] Add list of supported config blocks for central management
  docs/management/managing-beats.asciidoc
Labels: backport pending, beats-cm, docs, review, v6.5.2

#29794 [6.x] [Maps] clean-up console errors (#29772)
  x-pack/plugins/gis/public/components/layer_panel/view.js
Labels: backport

#29798 [Maps] Apply tile styles before waiting for _tileLoadErrorTracker timer to expire
  x-pack/plugins/gis/public/shared/layers/tile_layer.js
Labels: :Geo, v6.7.0, v7.0.0

#29802 [Code] fix hover problems
  x-pack/plugins/code/public/components/hover/hover_buttons.tsx
  x-pack/plugins/code/public/components/hover/hover_widget.tsx
  x-pack/plugins/code/public/monaco/content_widget.ts
  x-pack/plugins/code/public/monaco/hover/content_hover_widget.ts
  x-pack/plugins/code/public/monaco/monaco.scss
  x-pack/plugins/code/public/monaco/monaco_helper.ts
Labels: :Code

#29735 [Code] fix lint and type check
  x-pack/plugins/code/public/components/editor/editor.tsx
  x-pack/plugins/code/public/components/main/side_tabs.tsx
  x-pack/plugins/code/public/components/theme.ts
  x-pack/plugins/code/public/monaco/blame/blame_widget.ts
  x-pack/plugins/code/public/sagas/editor.ts
Labels: :Code

#29766 [6.x] Management design sidenav cleanup (#28222)
  src/legacy/core_plugins/kibana/public/management/_hacks.scss
  src/legacy/core_plugins/kibana/public/management/app.html
  src/legacy/core_plugins/kibana/public/management/index.js
  src/legacy/core_plugins/kibana/public/management/sections/objects/components/objects_table/__jest__/__snapshots__/objects_table.test.js.snap
  src/legacy/core_plugins/kibana/public/management/sections/objects/components/objects_table/objects_table.js
  src/ui/public/chrome/directives/header_global_nav/_header_global_nav.scss
  src/ui/public/management/_index.scss
  src/ui/public/management/components/_index.scss
  src/ui/public/management/components/_sidebar_nav.scss
  src/ui/public/management/components/sidebar_nav.tsx
  x-pack/plugins/beats_management/public/components/layouts/no_data.tsx
  x-pack/plugins/beats_management/public/components/layouts/walkthrough.tsx
  x-pack/plugins/beats_management/public/pages/walkthrough/initial/finish.tsx
  x-pack/plugins/cross_cluster_replication/public/app/_app.scss
  x-pack/plugins/cross_cluster_replication/public/app/sections/auto_follow_pattern_add/auto_follow_pattern_add.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/home.js
  x-pack/plugins/index_lifecycle_management/__jest__/components/__snapshots__/policy_table.test.js.snap
  x-pack/plugins/index_lifecycle_management/public/sections/policy_table/components/policy_table/policy_table.js
  x-pack/plugins/remote_clusters/public/sections/remote_cluster_list/remote_cluster_list.js
  x-pack/plugins/reporting/public/views/management/jobs.html
  x-pack/plugins/rollup/public/crud_app/_crud_app.scss
  x-pack/plugins/rollup/public/crud_app/main.html
  x-pack/plugins/rollup/public/crud_app/sections/job_create/job_create.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.js
  x-pack/plugins/spaces/public/views/management/_manage_spaces.scss
  x-pack/plugins/spaces/public/views/management/spaces_grid/__snapshots__/spaces_grid_pages.test.tsx.snap
  x-pack/plugins/spaces/public/views/management/spaces_grid/spaces_grid_page.tsx
  x-pack/plugins/upgrade_assistant/public/app.tsx
Labels: backport

#29804 [Code] Click on search resule line should go to source view page
  x-pack/plugins/code/public/components/search_page/code_result.tsx
Labels: :Code

#29741 Improve stability of markdown functional tests
  test/functional/page_objects/visual_builder_page.js
Labels: review, test_ui_functional

#29813 [Code] use `replace` instead of `push` when enter a repo
  x-pack/plugins/code/public/sagas/repository.ts
Labels: :Code

#29613 [6.x] [InfraUI] Add Discuss feedback links to Infrastructure and Logs (#29519)
  x-pack/plugins/infra/public/components/header_feedback_link.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
Labels: backport

#29815 [6.x] [page_objects/visual_builder_page] fixes #29670 with proper wait for visualization loaded (#29741)
  test/functional/page_objects/visual_builder_page.js
Labels: backport

#29810 [ML] Add ml-ui team to .github/CODEOWNERS
  .github/CODEOWNERS
Labels: :ml, v7.0.0

#29808 [Code] index progress should not trigger the clone status in source view
  x-pack/plugins/code/public/components/main/clone_status.tsx
  x-pack/plugins/code/public/components/main/content.tsx
  x-pack/plugins/code/public/components/main/main.tsx
  x-pack/plugins/code/public/reducers/index.ts
  x-pack/plugins/code/public/reducers/status.ts
  x-pack/plugins/code/public/selectors/index.ts
Labels: :Code

#29801 [6.x] [Maps] Apply tile styles before waiting for _tileLoadErrorTracker timer to expire (#29798)
  x-pack/plugins/gis/public/shared/layers/tile_layer.js
Labels: backport

#29823 [ML] Adding ui-select imports
  x-pack/plugins/ml/public/_hacks.scss
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_controller.js
Labels: :ml, :ml-config, regression, review, v6.7.0, v7.0.0

#29799 [Maps] Fix new map showing no layers
  x-pack/plugins/gis/public/meta.js
Labels: :Geo, bug, v6.7.0, v7.0.0

#29817 [ML] Removes unused filter bar from the Anomaly Explorer
  x-pack/plugins/ml/public/components/annotations_table/annotations_table.js
  x-pack/plugins/ml/public/components/anomalies_table/links_menu.js
  x-pack/plugins/ml/public/explorer/__tests__/explorer_controller.js
  x-pack/plugins/ml/public/explorer/explorer.html
  x-pack/plugins/ml/public/explorer/explorer_controller.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_details/forecasts_table/forecasts_table.js
  x-pack/plugins/ml/public/services/job_service.js
  x-pack/plugins/ml/public/util/chart_utils.js
  x-pack/plugins/ml/public/util/chart_utils.test.js
Labels: :ml, :ml-results, non-issue, review, v7.0.0

#29537 fix: add datetime as a date identifier
  x-pack/plugins/canvas/server/lib/normalize_type.js
Labels: :Canvas, review, v7.0.0

#29830 [6.x] [Maps] Fix new map showing no layers (#29799)
  x-pack/plugins/gis/public/meta.js
Labels: backport

#29557 [Uptime] Allow filter dropdown search for id, remove client-side size limits
  x-pack/plugins/uptime/common/graphql/introspection.json
  x-pack/plugins/uptime/common/graphql/types.ts
  x-pack/plugins/uptime/public/components/queries/filter_bar/filter_bar.tsx
  x-pack/plugins/uptime/public/components/queries/filter_bar/get_filter_bar.ts
  x-pack/plugins/uptime/server/graphql/monitors/resolvers.ts
  x-pack/plugins/uptime/server/graphql/monitors/schema.gql.ts
  x-pack/plugins/uptime/server/lib/adapters/monitors/elasticsearch_monitors_adapter.ts
  x-pack/test/api_integration/apis/uptime/graphql/fixtures/filter_list.json
Labels: :uptime, bug, v6.7.0, v7.0.0

#29819 [Code] show setup guide if no code node available
  x-pack/plugins/code/public/actions/index.ts
  x-pack/plugins/code/public/components/admin_page/setup_guide.tsx
  x-pack/plugins/code/public/components/app.tsx
  x-pack/plugins/code/public/reducers/index.ts
  x-pack/plugins/code/public/reducers/setup.ts
  x-pack/plugins/code/public/sagas/index.ts
  x-pack/plugins/code/public/sagas/patterns.ts
  x-pack/plugins/code/public/sagas/setup.ts
  x-pack/plugins/code/server/init.ts
  x-pack/plugins/code/server/routes/setup.ts
Labels: :Code

#29837 [6.x] [Maps] Language improvements (#29473)
  x-pack/plugins/gis/public/angular/map_controller.js
  x-pack/plugins/gis/public/components/layer_panel/settings_panel/settings_panel.js
  x-pack/plugins/gis/public/components/widget_overlay/view_control/set_view/set_view.js
  x-pack/plugins/gis/public/components/widget_overlay/view_control/view_control.js
  x-pack/plugins/gis/public/shared/components/map_listing.js
  x-pack/plugins/gis/public/shared/layers/sources/es_geo_grid_source/create_source_editor.js
  x-pack/plugins/gis/public/shared/layers/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/gis/public/shared/layers/sources/es_search_source/update_source_editor.js
  x-pack/plugins/gis/public/shared/layers/sources/wms_source.js
  x-pack/plugins/gis/public/shared/layers/styles/components/static_dynamic_style_row.js
  x-pack/plugins/gis/public/shared/layers/styles/vector_style.js
Labels: backport

#29664 [WIP] Add help menu item to header
  src/core/public/chrome/chrome_service.test.ts
  src/core/public/chrome/chrome_service.ts
  src/core/public/legacy_platform/__snapshots__/legacy_platform_service.test.ts.snap
  src/core/public/legacy_platform/legacy_platform_service.test.ts
  src/core/public/legacy_platform/legacy_platform_service.ts
  src/ui/public/chrome/api/angular.js
  src/ui/public/chrome/api/help_extension.ts
  src/ui/public/chrome/chrome.js
  src/ui/public/chrome/directives/header_global_nav/_header_global_nav.scss
  src/ui/public/chrome/directives/header_global_nav/components/header.tsx
  src/ui/public/chrome/directives/header_global_nav/components/header_extension.test.tsx
  src/ui/public/chrome/directives/header_global_nav/components/header_extension.tsx
  src/ui/public/chrome/directives/header_global_nav/components/header_help_menu.tsx
  src/ui/public/chrome/directives/header_global_nav/components/header_nav_control.test.tsx
  src/ui/public/chrome/directives/header_global_nav/components/header_nav_controls.tsx
  src/ui/public/chrome/directives/header_global_nav/header_global_nav.js
  src/ui/public/chrome/directives/header_global_nav/index.ts
  src/ui/public/chrome/index.d.ts
  src/ui/public/documentation_links/documentation_links.ts
  src/ui/public/documentation_links/get_doc_link.ts
  src/ui/public/documentation_links/index.ts
Labels: :Design, :Platform, WIP, release_note:enhancement, v7.0.0

#29834 [6.x] fix: add datetime as a date identifier (#29537)
  x-pack/plugins/canvas/server/lib/normalize_type.js
Labels: backport

#29832 [6.x] [ML] Adding ui-select imports (#29823)
  x-pack/plugins/ml/public/_hacks.scss
  x-pack/plugins/ml/public/jobs/new_job/advanced/new_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/multi_metric/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/population/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/recognize/create_job/create_job_controller.js
  x-pack/plugins/ml/public/jobs/new_job/simple/single_metric/create_job/create_job_controller.js
Labels: :ml, backport

#29684 Dark mode for kql bar
  src/ui/public/query_bar/components/__snapshots__/query_bar.test.tsx.snap
  src/ui/public/query_bar/components/query_bar.tsx
  src/ui/public/query_bar/components/typeahead/__snapshots__/suggestion_component.test.tsx.snap
  src/ui/public/query_bar/components/typeahead/__snapshots__/suggestions_component.test.tsx.snap
  src/ui/public/query_bar/components/typeahead/_suggestion.scss
  src/ui/public/query_bar/components/typeahead/suggestion_component.test.tsx
  src/ui/public/query_bar/components/typeahead/suggestion_component.tsx
  src/ui/public/query_bar/components/typeahead/suggestions_component.tsx
  x-pack/plugins/kuery_autocomplete/public/autocomplete_providers/conjunction.js
  x-pack/plugins/kuery_autocomplete/public/autocomplete_providers/field.js
  x-pack/plugins/kuery_autocomplete/public/autocomplete_providers/operator.js
Labels: :Design, v6.7.0, v7.0.0

#29779 [Infra UI] Disable add button on custom group by when field is empty
  x-pack/plugins/infra/public/components/waffle/custom_field_panel.tsx
Labels: :Infra UI, blocker, review, v6.7.0, v7.0.0

#29844 [Uptime] Backport #29557
  x-pack/plugins/uptime/common/graphql/introspection.json
  x-pack/plugins/uptime/common/graphql/types.ts
  x-pack/plugins/uptime/public/components/queries/filter_bar/filter_bar.tsx
  x-pack/plugins/uptime/server/graphql/monitors/resolvers.ts
  x-pack/plugins/uptime/server/graphql/monitors/schema.gql.ts
  x-pack/plugins/uptime/server/lib/adapters/monitors/elasticsearch_monitors_adapter.ts
  x-pack/test/api_integration/apis/uptime/graphql/fixtures/filter_list.json
Labels: :uptime, backport, v6.7.0

#29594 [Canvas] Perf: save workbook assets separately from lighter weight structures
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/lib/workpad_service.js
  x-pack/plugins/canvas/public/state/middleware/es_persist.js
  x-pack/plugins/canvas/public/state/selectors/workpad.js
  x-pack/plugins/canvas/server/routes/workpad.js
Labels: :Canvas, review, v6.7.0, v7.0.0

#29839 [docs][apm] Backport/6.6/apm docs
  docs/apm/bottlenecks.asciidoc
  docs/apm/errors.asciidoc
  docs/apm/getting-started.asciidoc
  docs/apm/images/apm-distributed-tracing.png
  docs/apm/images/apm-error-group.png
  docs/apm/images/apm-errors-overview.png
  docs/apm/images/apm-errors-watcher-assistant.png
  docs/apm/images/apm-metrics.png
  docs/apm/images/apm-query-bar.png
  docs/apm/images/apm-services-overview.png
  docs/apm/images/apm-services-trace.png
  docs/apm/images/apm-setup-dashboards.png
  docs/apm/images/apm-setup.jpg
  docs/apm/images/apm-setup.png
  docs/apm/images/apm-span-detail.png
  docs/apm/images/apm-traces.png
  docs/apm/images/apm-transaction-detail.png
  docs/apm/images/apm-transaction-duration-dist.png
  docs/apm/images/apm-transaction-response-dist.png
  docs/apm/images/apm-transaction-sample.png
  docs/apm/images/apm-transaction.png
  docs/apm/images/apm-transactions-overview.png
  docs/apm/images/apm-view-full-trace.png
  docs/apm/images/transaction-icon.png
  docs/apm/index.asciidoc
  docs/apm/metrics.asciidoc
  docs/apm/query-bar.asciidoc
  docs/apm/services.asciidoc
  docs/apm/spans.asciidoc
  docs/apm/traces.asciidoc
  docs/apm/transactions.asciidoc
  docs/apm/using-the-apm-ui.asciidoc
Labels: :apm, docs

#29855 [6.x] [Canvas] Perf: save workbook assets separately from lighter weight structures (#29594)
  x-pack/plugins/canvas/common/lib/constants.js
  x-pack/plugins/canvas/public/lib/workpad_service.js
  x-pack/plugins/canvas/public/state/middleware/es_persist.js
  x-pack/plugins/canvas/public/state/selectors/workpad.js
  x-pack/plugins/canvas/server/routes/workpad.js
Labels: backport

#29789 [CCR] Adjust spacing around descriptions in list views, link to transport port docs, etc
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/auto_follow_pattern_list/auto_follow_pattern_list.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/follower_indices_list/components/detail_panel/detail_panel.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/follower_indices_list/follower_indices_list.js
  x-pack/plugins/remote_clusters/public/sections/components/remote_cluster_form/__snapshots__/remote_cluster_form.test.js.snap
  x-pack/plugins/remote_clusters/public/sections/components/remote_cluster_form/remote_cluster_form.js
  x-pack/plugins/remote_clusters/public/services/documentation_links.js
Labels: :Elasticsearch UI, CCR

#29867 [Maps] Rename gis variable names to maps
  x-pack/plugins/maps/check_license.js
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/_main.scss
  x-pack/plugins/maps/public/angular/map.html
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/components/gis_map/_gis_map.scss
  x-pack/plugins/maps/public/components/gis_map/view.js
  x-pack/plugins/maps/public/components/layer_addpanel/_layer_addpanel.scss
  x-pack/plugins/maps/public/components/layer_addpanel/view.js
  x-pack/plugins/maps/public/components/layer_panel/_layer_panel.scss
  x-pack/plugins/maps/public/components/layer_panel/join_editor/resources/_join.scss
  x-pack/plugins/maps/public/components/layer_panel/join_editor/resources/join.js
  x-pack/plugins/maps/public/components/layer_panel/settings_panel/_settings_panel.scss
  x-pack/plugins/maps/public/components/layer_panel/settings_panel/settings_panel.js
  x-pack/plugins/maps/public/components/layer_panel/view.js
  x-pack/plugins/maps/public/components/toasts/_toasts.scss
  x-pack/plugins/maps/public/components/toasts/view.js
  x-pack/plugins/maps/public/components/widget_overlay/_widget_overlay.scss
  x-pack/plugins/maps/public/components/widget_overlay/attribution_control/_attribution_control.scss
  x-pack/plugins/maps/public/components/widget_overlay/attribution_control/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/_layer_control.scss
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/_toc_entry.scss
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/view.js
  x-pack/plugins/maps/public/components/widget_overlay/view_control/_view_control.scss
  x-pack/plugins/maps/public/components/widget_overlay/view_control/view_control.js
  x-pack/plugins/maps/public/components/widget_overlay/widget_overlay.js
  x-pack/plugins/maps/public/index.scss
  x-pack/plugins/maps/public/shared/components/map_listing.js
  x-pack/plugins/maps/public/shared/icons/_color_gradient.scss
  x-pack/plugins/maps/public/shared/icons/color_gradient.js
  x-pack/plugins/maps/public/shared/layers/styles/components/_static_dynamic_style_row.scss
  x-pack/plugins/maps/public/shared/layers/styles/components/static_dynamic_style_row.js
  x-pack/plugins/maps/public/shared/layers/styles/components/vector/color/_static_color_selection.scss
  x-pack/plugins/maps/public/shared/layers/styles/components/vector/color/static_color_selection.js
  x-pack/test/functional/apps/maps/es_geo_grid_source.js
  x-pack/test/functional/apps/maps/es_search_source.js
  x-pack/test/functional/apps/maps/joins.js
  x-pack/test/functional/apps/maps/sample_data.js
  x-pack/test/functional/apps/maps/saved_object_management.js
  x-pack/test/functional/config.js
  x-pack/test/functional/page_objects/gis_page.js
Labels: :Geo, v6.7.0, v7.0.0

#29861 [Maps] recently accessed
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/index.js
Labels: :Geo, v6.7.0, v7.0.0

#29852 [6.x] Fixing #29778 - Disable add button when field select is empty (#29779)
  x-pack/plugins/infra/public/components/waffle/custom_field_panel.tsx
Labels: backport

#29860 EUI 6.8.0
  package.json
  x-pack/package.json
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/test/functional/apps/maps/saved_object_management.js
  yarn.lock
Labels: v6.7.0, v7.0.0

#29871 [6.x] set recenlty accessed when /map/:id route is accessed (#29861)
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/index.js
Labels: backport

#29870 [6.x] [Backport] [Maps] Rename gis variable names to maps (#29867)
  x-pack/plugins/maps/check_license.js
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/_main.scss
  x-pack/plugins/maps/public/angular/map.html
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/components/gis_map/_gis_map.scss
  x-pack/plugins/maps/public/components/gis_map/view.js
  x-pack/plugins/maps/public/components/layer_addpanel/_layer_addpanel.scss
  x-pack/plugins/maps/public/components/layer_addpanel/view.js
  x-pack/plugins/maps/public/components/layer_panel/_layer_panel.scss
  x-pack/plugins/maps/public/components/layer_panel/join_editor/resources/_join.scss
  x-pack/plugins/maps/public/components/layer_panel/join_editor/resources/join.js
  x-pack/plugins/maps/public/components/layer_panel/settings_panel/_settings_panel.scss
  x-pack/plugins/maps/public/components/layer_panel/settings_panel/settings_panel.js
  x-pack/plugins/maps/public/components/layer_panel/view.js
  x-pack/plugins/maps/public/components/toasts/_toasts.scss
  x-pack/plugins/maps/public/components/toasts/view.js
  x-pack/plugins/maps/public/components/widget_overlay/_widget_overlay.scss
  x-pack/plugins/maps/public/components/widget_overlay/attribution_control/_attribution_control.scss
  x-pack/plugins/maps/public/components/widget_overlay/attribution_control/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/_layer_control.scss
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/_toc_entry.scss
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/view.js
  x-pack/plugins/maps/public/components/widget_overlay/view_control/_view_control.scss
  x-pack/plugins/maps/public/components/widget_overlay/view_control/view_control.js
  x-pack/plugins/maps/public/components/widget_overlay/widget_overlay.js
  x-pack/plugins/maps/public/index.scss
  x-pack/plugins/maps/public/shared/components/map_listing.js
  x-pack/plugins/maps/public/shared/icons/_color_gradient.scss
  x-pack/plugins/maps/public/shared/icons/color_gradient.js
  x-pack/plugins/maps/public/shared/layers/styles/components/_static_dynamic_style_row.scss
  x-pack/plugins/maps/public/shared/layers/styles/components/static_dynamic_style_row.js
  x-pack/plugins/maps/public/shared/layers/styles/components/vector/color/_static_color_selection.scss
  x-pack/plugins/maps/public/shared/layers/styles/components/vector/color/static_color_selection.js
  x-pack/test/functional/apps/maps/es_geo_grid_source.js
  x-pack/test/functional/apps/maps/es_search_source.js
  x-pack/test/functional/apps/maps/joins.js
  x-pack/test/functional/apps/maps/sample_data.js
  x-pack/test/functional/apps/maps/saved_object_management.js
  x-pack/test/functional/config.js
  x-pack/test/functional/page_objects/gis_page.js
Labels: backport, v6.7.0

#29534 [Maps] better error handling when layer configs can not be found
  x-pack/plugins/maps/public/components/layer_panel/join_editor/resources/join.js
  x-pack/plugins/maps/public/components/layer_panel/settings_panel/settings_panel.js
  x-pack/plugins/maps/public/components/widget_overlay/attribution_control/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/view.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_file_source/ems_file_source.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_tms_source/ems_tms_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_source.js
  x-pack/plugins/maps/public/shared/layers/sources/kibana_regionmap_source/kibana_regionmap_source.js
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/apps/maps/layer_errors.js
  x-pack/test/functional/es_archives/maps/kibana/data.json
  x-pack/test/functional/page_objects/gis_page.js
Labels: :Geo, v6.7.0, v7.0.0

#29885 [CCR] Re-order follower index form sections: remote cluster, leader index, follower index.
  x-pack/plugins/cross_cluster_replication/public/app/components/follower_index_form/follower_index_form.js
Labels: :Elasticsearch UI, CCR

#29872 [kbn/es-query] build ts with babel7
  packages/kbn-es-query/.babelrc
  packages/kbn-es-query/babel.config.js
  packages/kbn-es-query/package.json
  packages/kbn-es-query/tasks/build_cli.js
Labels: :KQL, review, v7.0.0

#29865 [CCR] Fix deep-linking to follower index after creating/updating it.
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/follower_indices_list/components/detail_panel/detail_panel.js
  x-pack/plugins/cross_cluster_replication/public/app/store/actions/follower_index.js
Labels: :Elasticsearch UI, CCR

#29676 [CCR] Copy edits
  src/ui/public/indices/constants/index.js
  x-pack/plugins/cross_cluster_replication/public/app/app.js
  x-pack/plugins/cross_cluster_replication/public/app/components/auto_follow_pattern_form.js
  x-pack/plugins/cross_cluster_replication/public/app/components/follower_index_form/advanced_settings_fields.js
  x-pack/plugins/cross_cluster_replication/public/app/components/follower_index_form/follower_index_form.js
  x-pack/plugins/cross_cluster_replication/public/app/components/follower_index_pause_provider.js
  x-pack/plugins/cross_cluster_replication/public/app/components/follower_index_resume_provider.js
  x-pack/plugins/cross_cluster_replication/public/app/components/follower_index_unfollow_provider.js
  x-pack/plugins/cross_cluster_replication/public/app/components/remote_clusters_form_field.js
  x-pack/plugins/cross_cluster_replication/public/app/components/section_error.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/auto_follow_pattern_add/auto_follow_pattern_add.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/auto_follow_pattern_edit/auto_follow_pattern_edit.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/follower_index_add/follower_index_add.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/follower_index_edit/follower_index_edit.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/auto_follow_pattern_list/auto_follow_pattern_list.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/auto_follow_pattern_list/components/auto_follow_pattern_table/auto_follow_pattern_table.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/follower_indices_list/components/context_menu/context_menu.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/follower_indices_list/components/follower_indices_table/follower_indices_table.js
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/follower_indices_list/follower_indices_list.js
Labels: :Elasticsearch UI, CCR

#29770 [chrome/nav] implement forcedNavigation logic in new nav
  src/legacy/core_plugins/status_page/public/status_page.js
  src/ui/public/chrome/api/nav.d.ts
  src/ui/public/chrome/api/nav.js
  src/ui/public/chrome/directives/header_global_nav/components/header.tsx
  src/ui/public/chrome/directives/header_global_nav/header_global_nav.js
Labels: :Platform, review, v7.0.0

#29673 [kbn-es] platform specific snapshots
  packages/kbn-es/src/install/snapshot.js
  x-pack/test/api_integration/apis/xpack_main/telemetry/telemetry_local.js
Labels: :Operations, review, v7.0.0

#29901 [Code] Disable index/settings button when repo is in clone
  x-pack/plugins/code/public/components/admin_page/project_item.tsx
  x-pack/plugins/code/public/components/main/content.tsx
  x-pack/plugins/code/public/sagas/index.ts
  x-pack/plugins/code/public/sagas/project_status.ts
Labels: :Code

#29751 [Maps] Full screen
  src/legacy/core_plugins/kibana/public/dashboard/_index.scss
  src/legacy/core_plugins/kibana/public/dashboard/viewport/dashboard_viewport.js
  src/ui/public/_index.scss
  src/ui/public/exit_full_screen/__snapshots__/exit_full_screen_button.test.js.snap
  src/ui/public/exit_full_screen/_exit_full_screen_button.scss
  src/ui/public/exit_full_screen/_index.scss
  src/ui/public/exit_full_screen/exit_full_screen_button.js
  src/ui/public/exit_full_screen/exit_full_screen_button.test.js
  src/ui/public/exit_full_screen/index.js
  x-pack/plugins/maps/public/_main.scss
  x-pack/plugins/maps/public/angular/map.html
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/components/gis_map/index.js
  x-pack/plugins/maps/public/components/gis_map/view.js
  x-pack/plugins/maps/public/store/ui.js
Labels: :Geo, :KibanaApp, v6.7.0, v7.0.0

#29910 [6.x] [Maps] Full screen
  src/legacy/core_plugins/kibana/public/dashboard/_index.scss
  src/legacy/core_plugins/kibana/public/dashboard/viewport/dashboard_viewport.js
  src/ui/public/_index.scss
  src/ui/public/exit_full_screen/__snapshots__/exit_full_screen_button.test.js.snap
  src/ui/public/exit_full_screen/_exit_full_screen_button.scss
  src/ui/public/exit_full_screen/_index.scss
  src/ui/public/exit_full_screen/exit_full_screen_button.js
  src/ui/public/exit_full_screen/exit_full_screen_button.test.js
  src/ui/public/exit_full_screen/index.js
  x-pack/plugins/maps/public/_main.scss
  x-pack/plugins/maps/public/angular/map.html
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/components/gis_map/index.js
  x-pack/plugins/maps/public/components/gis_map/view.js
  x-pack/plugins/maps/public/store/ui.js
Labels: backport

#29908 Make ReindexWorker resilient to ES connection issues
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/worker.ts
Labels: :Operations, review, v6.7.0, v7.0.0

#29907 [6.x] [Maps] better error handling when layer configs can not be found (#29534)
  x-pack/plugins/maps/public/components/layer_panel/join_editor/resources/join.js
  x-pack/plugins/maps/public/components/layer_panel/settings_panel/settings_panel.js
  x-pack/plugins/maps/public/components/widget_overlay/attribution_control/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/view.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_file_source/ems_file_source.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_tms_source/ems_tms_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_search_source/es_search_source.js
  x-pack/plugins/maps/public/shared/layers/sources/es_source.js
  x-pack/plugins/maps/public/shared/layers/sources/kibana_regionmap_source/kibana_regionmap_source.js
  x-pack/test/functional/apps/maps/index.js
  x-pack/test/functional/apps/maps/layer_errors.js
  x-pack/test/functional/es_archives/maps/kibana/data.json
  x-pack/test/functional/page_objects/gis_page.js
Labels: backport

#29774 Add UI for deleting old .tasks index
  src/legacy/core_plugins/console/public/src/__tests__/app.js
  src/legacy/core_plugins/console/public/src/app.js
  src/legacy/core_plugins/console/public/src/controllers/sense_controller.js
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/cell.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/delete_tasks_button.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/index_table.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/list.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/list.tsx
  x-pack/plugins/upgrade_assistant/public/index.tsx
  x-pack/plugins/upgrade_assistant/server/index.ts
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts
  x-pack/plugins/upgrade_assistant/server/routes/cluster_checkup.ts
  x-pack/plugins/upgrade_assistant/server/routes/delete_tasks.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/delete_tasks.ts
Labels: :Operations, review, v6.7.0, v7.0.0

#29912 [6.x] Make ReindexWorker resilient to ES connection issues (#29908)
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/worker.ts
Labels: backport

#29905 [Code] suppress delete status not found error log
  x-pack/plugins/code/server/routes/repository.ts
Labels: :Code

#29710 [Code] Add initial functional tests
  x-pack/plugins/code/public/components/admin_page/project_item.tsx
  x-pack/plugins/code/public/components/editor/editor.tsx
  x-pack/plugins/code/public/components/file_tree/__snapshots__/file_tree.test.tsx.snap
  x-pack/plugins/code/public/components/file_tree/file_tree.tsx
  x-pack/plugins/code/public/components/main/directory.tsx
  x-pack/plugins/code/public/components/main/side_tabs.tsx
  x-pack/plugins/code/public/components/query_bar/components/typeahead/__snapshots__/suggestion_component.test.tsx.snap
  x-pack/plugins/code/public/components/query_bar/components/typeahead/__snapshots__/suggestions_component.test.tsx.snap
  x-pack/plugins/code/public/components/query_bar/components/typeahead/suggestion_component.tsx
  x-pack/plugins/code/public/components/query_bar/components/typeahead/suggestions_component.tsx
  x-pack/plugins/code/public/components/search_page/code_result.tsx
  x-pack/plugins/code/public/components/search_page/side_bar.tsx
  x-pack/plugins/code/public/components/symbol_tree/__snapshots__/symbol_tree.test.tsx.snap
  x-pack/plugins/code/public/components/symbol_tree/code_symbol_tree.tsx
  x-pack/test/functional/apps/code/explore_repository.ts
  x-pack/test/functional/apps/code/index.ts
  x-pack/test/functional/apps/code/manage_repositories.ts
  x-pack/test/functional/apps/code/search.ts
  x-pack/test/functional/config.js
  x-pack/test/functional/es_archives/code/data.json
  x-pack/test/functional/page_objects/code_page.ts
Labels: :Code

#29895 [Maps] make getStore synchronous
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/shared/layers/vector_layer.js
  x-pack/plugins/maps/public/store/store.js
Labels: :Geo, v6.7.0, v7.0.0

#29909 [Maps] Add layer - provide message when EMS is unavailable
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_file_source/create_source_editor.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_file_source/ems_file_source.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_tms_source/create_source_editor.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_unavailable_message.js
  x-pack/plugins/maps/server/routes.js
Labels: :Geo, v6.7.0, v7.0.0

#29887 [CCR] Open index after unfollowing leader
  x-pack/plugins/cross_cluster_replication/public/app/store/actions/follower_index.js
  x-pack/plugins/cross_cluster_replication/server/routes/api/follower_index.js
  x-pack/plugins/cross_cluster_replication/server/routes/api/follower_index.test.js
Labels: :Elasticsearch UI, CCR

#29897 [sass/mixins] move kibanaFullScreenGraphics keyframes to mixin
  src/legacy/core_plugins/kibana/public/home/components/_welcome.scss
  src/ui/public/styles/_mixins.scss
  x-pack/plugins/security/public/views/logged_out/_logged_out.scss
  x-pack/plugins/security/public/views/login/_login.scss
Labels: :Design, review, v7.0.0

#29918 [Code] fix editor layout
  x-pack/plugins/code/public/components/editor/editor.tsx
  x-pack/plugins/code/public/components/main/content.tsx
Labels: :Code

#29931 [6.x] [Infra UI] Handle no metrics data gracefully (#29424)
  x-pack/plugins/infra/public/components/empty_states/index.tsx
  x-pack/plugins/infra/public/components/empty_states/no_data.tsx
  x-pack/plugins/infra/public/components/empty_states/no_indices.tsx
  x-pack/plugins/infra/public/components/logging/log_text_stream/empty_view.tsx
  x-pack/plugins/infra/public/components/logging/log_text_stream/scrollable_log_text_stream_view.tsx
  x-pack/plugins/infra/public/components/metrics/index.tsx
  x-pack/plugins/infra/public/components/nodes_overview/index.tsx
  x-pack/plugins/infra/public/containers/metrics/with_metrics.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/logs/logs.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
  x-pack/plugins/infra/public/store/local/metric_time/actions.ts
Labels: backport

#29731 [CCR] IE and Screen reader accesibility
  x-pack/plugins/cross_cluster_replication/public/app/services/api.js
  x-pack/plugins/remote_clusters/public/index.scss
  x-pack/plugins/remote_clusters/public/sections/remote_cluster_list/components/connection_status/_index.scss
  x-pack/plugins/remote_clusters/public/sections/remote_cluster_list/components/connection_status/connection_status.js
  x-pack/plugins/remote_clusters/public/sections/remote_cluster_list/detail_panel/__snapshots__/detail_panel.test.js.snap
  x-pack/plugins/remote_clusters/public/sections/remote_cluster_list/remote_cluster_table/__snapshots__/remote_cluster_table.test.js.snap
Labels: CCR, IE11, accessibility

#29932 [6.x] [CCR] Put back API integration tests for cross-cluster replication (#29494)
  x-pack/test/api_integration/apis/management/cross_cluster_replication/auto_follow_pattern.js
  x-pack/test/api_integration/apis/management/remote_clusters/constants.js
  x-pack/test/api_integration/apis/management/remote_clusters/remote_clusters.js
Labels: backport

#29818 [Watcher] Add missing Action types on client
  x-pack/plugins/watcher/public/models/action/action.js
  x-pack/plugins/watcher/public/models/action/webhook.action.js
Labels: :Elasticsearch UI, :watcher, bug, v6.6.1, v6.7.0, v7.0.0

#29121 [ML] adds telemetry to ML
  x-pack/plugins/ml/common/constants/file_datavisualizer.ts
  x-pack/plugins/ml/index.js
  x-pack/plugins/ml/mappings.json
  x-pack/plugins/ml/server/client/call_with_internal_user_factory.d.ts
  x-pack/plugins/ml/server/client/call_with_internal_user_factory.test.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/index.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/make_ml_usage_collector.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/ml_telemetry.test.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/ml_telemetry.ts
  x-pack/plugins/ml/server/routes/file_data_visualizer.js
Labels: :ml, v6.7.0, v7.0.0

#29942 [6.6] [Watcher] Add missing Action types on client (#29818)
  x-pack/plugins/watcher/public/models/action/action.js
  x-pack/plugins/watcher/public/models/action/webhook.action.js
Labels: backport

#29941 [6.x] [Watcher] Add missing Action types on client (#29818)
  x-pack/plugins/watcher/public/models/action/action.js
  x-pack/plugins/watcher/public/models/action/webhook.action.js
Labels: backport

#29939 [6.x] [ML] adds telemetry to ML (#29121)
  x-pack/plugins/ml/common/constants/file_datavisualizer.ts
  x-pack/plugins/ml/index.js
  x-pack/plugins/ml/mappings.json
  x-pack/plugins/ml/server/client/call_with_internal_user_factory.d.ts
  x-pack/plugins/ml/server/client/call_with_internal_user_factory.test.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/index.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/make_ml_usage_collector.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/ml_telemetry.test.ts
  x-pack/plugins/ml/server/lib/ml_telemetry/ml_telemetry.ts
  x-pack/plugins/ml/server/routes/file_data_visualizer.js
  x-pack/test/api_integration/apis/xpack_main/telemetry/telemetry_local.js
Labels: :ml, backport

#29856 Content security policy strict mode
  docs/setup/production.asciidoc
  docs/setup/settings.asciidoc
  src/server/config/schema.js
  src/ui/ui_render/bootstrap/template.js.hbs
  src/ui/ui_render/ui_render_mixin.js
  src/ui/ui_render/views/ui_app.pug
Labels: :CSP, :Security, release_note:enhancement, review, v6.7.0, v7.0.0

#29822 [APM] Replace colour vars with EUI
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/DetailView/index.tsx
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/view.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/DatabaseContext.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/SpanFlyout/HttpContext.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/plugins/apm/public/components/shared/KueryBar/Typeahead/Suggestion.js
  x-pack/plugins/apm/public/components/shared/KueryBar/Typeahead/Suggestions.js
  x-pack/plugins/apm/public/components/shared/PropertiesTable/NestedKeyValueTable.tsx
  x-pack/plugins/apm/public/components/shared/PropertiesTable/__test__/__snapshots__/NestedKeyValueTable.test.tsx.snap
  x-pack/plugins/apm/public/components/shared/PropertiesTable/index.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/Context.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/FrameHeading.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/Stackframe.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/Variables.tsx
  x-pack/plugins/apm/public/components/shared/Stacktrace/__test__/__snapshots__/Stackframe.test.tsx.snap
  x-pack/plugins/apm/public/components/shared/StickyProperties/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/Legends.js
  x-pack/plugins/apm/public/components/shared/charts/CustomPlot/test/__snapshots__/CustomPlot.test.js.snap
  x-pack/plugins/apm/public/components/shared/charts/Histogram/__test__/__snapshots__/Histogram.test.js.snap
  x-pack/plugins/apm/public/components/shared/charts/Histogram/index.js
  x-pack/plugins/apm/public/components/shared/charts/Legend/index.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/AgentMarker.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/TimelineAxis.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/VerticalLines.js
  x-pack/plugins/apm/public/components/shared/charts/Timeline/__test__/__snapshots__/Timeline.test.js.snap
  x-pack/plugins/apm/public/components/shared/charts/Tooltip/index.js
  x-pack/plugins/apm/public/store/selectors/__tests__/chartSelectors.test.ts
  x-pack/plugins/apm/public/store/selectors/chartSelectors.ts
  x-pack/plugins/apm/public/style/variables.ts
Labels: :apm, [zube]: In Review

#29923 [6.x] [Maps] make getStore syncrouns (#29895)
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/shared/layers/vector_layer.js
  x-pack/plugins/maps/public/store/store.js
Labels: backport

#29925 [6.x] [Maps] provide better error message when vector shapes can not be fetched (#29888)
  x-pack/plugins/maps/public/shared/layers/sources/ems_file_source/ems_file_source.js
  x-pack/plugins/maps/public/shared/layers/sources/kibana_regionmap_source/kibana_regionmap_source.js
  x-pack/plugins/maps/public/shared/layers/sources/vector_source.js
Labels: backport

#29924 [6.x] [Maps] Add layer - provide message when EMS is unavailable (#29909)
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_file_source/create_source_editor.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_file_source/ems_file_source.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_tms_source/create_source_editor.js
  x-pack/plugins/maps/public/shared/layers/sources/ems_unavailable_message.js
  x-pack/plugins/maps/server/routes.js
Labels: backport

#29671 Use Kibana locale when loading content from the Elastic Maps Service
  src/legacy/core_plugins/region_map/public/region_map_visualization.js
  src/legacy/core_plugins/tile_map/common/ems_client.js
  src/legacy/core_plugins/tile_map/common/file_layer.js
  src/server/config/schema.js
  src/ui/public/vis/__tests__/map/ems_client.js
  src/ui/public/vis/__tests__/map/service_settings.js
  src/ui/public/vis/map/service_settings.js
  x-pack/plugins/maps/server/routes.js
Labels: :Geo, :i18n, blocker-ff, v6.7.0, v7.0.0

#29952 [6.x] [Infra UI] Always pass index patterns as strings. (#29927)
  x-pack/plugins/infra/server/lib/adapters/fields/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/fields/framework_fields_adapter.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/kibana_metrics_adapter.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/lib/calculate_cardinality.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/lib/create_partition_bodies.ts
  x-pack/plugins/infra/server/lib/domains/fields_domain.ts
Labels: backport

#29849 [6.x] Decoupling UI Settings from buildEsQuery (#25994)
  packages/kbn-es-query/src/es_query/__tests__/build_es_query.js
  packages/kbn-es-query/src/es_query/__tests__/decorate_query.js
  packages/kbn-es-query/src/es_query/__tests__/from_kuery.js
  packages/kbn-es-query/src/es_query/__tests__/from_lucene.js
  packages/kbn-es-query/src/es_query/build_es_query.js
  packages/kbn-es-query/src/es_query/decorate_query.js
  packages/kbn-es-query/src/es_query/from_kuery.js
  packages/kbn-es-query/src/es_query/from_lucene.js
  packages/kbn-es-query/src/es_query/index.js
  src/legacy/core_plugins/metrics/public/kbn_vis_types/request_handler.js
  src/legacy/core_plugins/timelion/public/vis/timelion_request_handler.js
  src/legacy/core_plugins/vega/public/vega_request_handler.js
  src/ui/public/agg_types/buckets/filters.js
  src/ui/public/courier/search_source/search_source.js
  x-pack/plugins/ml/public/datavisualizer/datavisualizer_controller.js
  x-pack/plugins/ml/public/jobs/new_job/utils/new_job_utils.js
Labels: backport

#29868 [Docs]Updates to Discover docs
  docs/discover.asciidoc
  docs/discover/set-time-filter.asciidoc
  docs/images/Discover-Start-Annotated.png
  docs/images/Discover-Start.png
  docs/images/Histogram-Time.png
  docs/images/TImepicker-Select.png
Labels: docs

#29862 [Maps] Add zoom in/out map controls
  x-pack/plugins/maps/public/components/map/mb/utils.js
Labels: :Geo, enhancement, v6.7.0, v7.0.0

#29961 [DOCS]Fixes broken image link from PR 29868
  docs/discover/set-time-filter.asciidoc
  docs/images/Timepicker-View.png
Labels: docs

#29858 [Uptime] Add loading states for Snapshot and Filter Bar
  x-pack/plugins/uptime/public/components/functional/filter_bar_loading.tsx
  x-pack/plugins/uptime/public/components/functional/index.ts
  x-pack/plugins/uptime/public/components/functional/snapshot_loading.tsx
  x-pack/plugins/uptime/public/components/queries/filter_bar/filter_bar.tsx
  x-pack/plugins/uptime/public/components/queries/snapshot/snapshot.tsx
Labels: :uptime, enhancement, v6.7.0, v7.0.0

#29958 [Maps] full screen getStore synchronous
  x-pack/plugins/maps/public/angular/map_controller.js
Labels: :Geo, v6.7.0, v7.0.0

#29959 [6.x] [Maps] Add zoom in/out map controls (#29862)
  x-pack/plugins/maps/public/components/map/mb/utils.js
Labels: backport

#28205 [Infra UI] ECS Migration
  x-pack/plugins/infra/public/components/waffle/waffle_group_by_controls.tsx
  x-pack/plugins/infra/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/metadata/elasticsearch_metadata_adapter.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/nginx/nginx_hits.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/constants.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/lib/create_node_item.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/processors/common/nodes_processor.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_apache2.test.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_apache2.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_nginx.test.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_nginx.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/index.ts
  x-pack/plugins/infra/server/lib/domains/metadata_domain/metadata_domain.ts
  x-pack/test/api_integration/apis/infra/constants.ts
  x-pack/test/api_integration/apis/infra/index.js
  x-pack/test/api_integration/apis/infra/metadata.ts
  x-pack/test/api_integration/apis/infra/metrics.ts
  x-pack/test/api_integration/apis/infra/waffle.ts
  x-pack/test/functional/es_archives/infra/6.6.0/docker/data.json.gz
  x-pack/test/functional/es_archives/infra/6.6.0/docker/mappings.json
  x-pack/test/functional/es_archives/infra/7.0.0/hosts/data.json.gz
  x-pack/test/functional/es_archives/infra/7.0.0/hosts/mappings.json
  x-pack/test/functional/es_archives/infra/legacy/data.json.gz
  x-pack/test/functional/es_archives/infra/legacy/mappings.json
Labels: :Infra UI, :infrastructure, [zube]: In Review, v6.7.0, v7.0.0

#29935 [ML] Edits to labels in the Apache and Nginx ECS data recognizer modules
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/dashboard/ml_http_access_explorer_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/search/ml_http_access_filebeat_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/visualization/ml_http_access_events_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/visualization/ml_http_access_map_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/visualization/ml_http_access_source_ip_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/visualization/ml_http_access_status_code_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/visualization/ml_http_access_top_source_ips_table_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/visualization/ml_http_access_top_urls_table_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/kibana/visualization/ml_http_access_unique_count_url_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/low_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/source_ip_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/source_ip_url_count_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/status_code_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/visitor_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/dashboard/ml_http_access_explorer_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/search/ml_http_access_filebeat_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/visualization/ml_http_access_events_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/visualization/ml_http_access_map_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/visualization/ml_http_access_source_ip_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/visualization/ml_http_access_status_code_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/visualization/ml_http_access_top_source_ips_table_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/visualization/ml_http_access_top_urls_table_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/kibana/visualization/ml_http_access_unique_count_url_timechart_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/low_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/source_ip_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/source_ip_url_count_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/status_code_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/visitor_rate_ecs.json
Labels: :ml, :ml-config, review, v7.0.0

#29965 [6.x] [Infra UI] ECS Migration (#28205)
  x-pack/plugins/infra/public/components/waffle/waffle_group_by_controls.tsx
  x-pack/plugins/infra/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/metadata/elasticsearch_metadata_adapter.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/models/nginx/nginx_hits.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/constants.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/lib/create_node_item.ts
  x-pack/plugins/infra/server/lib/adapters/nodes/processors/common/nodes_processor.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_apache2.test.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_apache2.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_nginx.test.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/filebeat_nginx.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/builtin_rules/index.ts
  x-pack/plugins/infra/server/lib/domains/metadata_domain/metadata_domain.ts
  x-pack/test/api_integration/apis/infra/constants.ts
  x-pack/test/api_integration/apis/infra/index.js
  x-pack/test/api_integration/apis/infra/metadata.ts
  x-pack/test/api_integration/apis/infra/metrics.ts
  x-pack/test/api_integration/apis/infra/waffle.ts
  x-pack/test/functional/es_archives/infra/6.6.0/docker/data.json.gz
  x-pack/test/functional/es_archives/infra/6.6.0/docker/mappings.json
  x-pack/test/functional/es_archives/infra/7.0.0/hosts/data.json.gz
  x-pack/test/functional/es_archives/infra/7.0.0/hosts/mappings.json
  x-pack/test/functional/es_archives/infra/legacy/data.json.gz
  x-pack/test/functional/es_archives/infra/legacy/mappings.json
Labels: backport

#29873 Prepare vis data loader cutover
  packages/kbn-es-query/src/es_query/__tests__/build_es_query.js
  packages/kbn-es-query/src/es_query/__tests__/from_kuery.js
  packages/kbn-es-query/src/es_query/build_es_query.js
  src/dev/mocha/run_mocha_cli.js
  src/legacy/core_plugins/interpreter/public/functions/tilemap.js
  src/legacy/core_plugins/kibana/public/discover/controllers/discover.js
  src/legacy/core_plugins/table_vis/public/table_vis.js
  src/legacy/core_plugins/tile_map/public/tile_map_vis.js
  src/ui/public/vis/response_handlers/response_handlers.d.ts
  src/ui/public/visualize/loader/embedded_visualize_handler.ts
  src/ui/public/visualize/loader/pipeline_helpers/__snapshots__/build_pipeline.test.js.snap
  src/ui/public/visualize/loader/pipeline_helpers/build_pipeline.ts
  src/ui/public/visualize/loader/types.ts
  src/ui/public/visualize/loader/visualize_data_loader.ts
Labels: :KibanaApp, v7.0.0

#29962 [6.x] [Maps] fix full screen (#29958)
  x-pack/plugins/maps/public/angular/map_controller.js
Labels: backport

#29964 [Backport] Add loading states for Snapshot and Filter Bar. (#29858)
  x-pack/plugins/uptime/public/components/functional/filter_bar_loading.tsx
  x-pack/plugins/uptime/public/components/functional/index.ts
  x-pack/plugins/uptime/public/components/functional/snapshot_loading.tsx
  x-pack/plugins/uptime/public/components/queries/filter_bar/filter_bar_query.tsx
  x-pack/plugins/uptime/public/components/queries/snapshot/snapshot_query.tsx
Labels: :uptime, backport, v6.7.0

#29681 [Uptime] Allow greater than default size for snapshot count
  x-pack/plugins/uptime/server/lib/adapters/monitors/elasticsearch_monitors_adapter.ts
Labels: :uptime, bug, v6.7.0, v7.0.0

#29748 [Monitoring] Add default search fields for each table
  x-pack/plugins/monitoring/public/components/alerts/alerts.js
  x-pack/plugins/monitoring/public/components/apm/instances/instances.js
  x-pack/plugins/monitoring/public/components/beats/listing/listing.js
  x-pack/plugins/monitoring/public/components/cluster/listing/listing.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/__snapshots__/ccr.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/indices.js
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_activity/shard_activity.js
  x-pack/plugins/monitoring/public/components/logstash/listing/listing.js
  x-pack/plugins/monitoring/public/components/logstash/pipeline_listing/pipeline_listing.js
  x-pack/plugins/monitoring/public/directives/elasticsearch/ml_job_listing/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
Labels: :Monitoring, review, v6.7.0, v7.0.0

#29737 Fix plugin deprecations
  docs/CHANGELOG.asciidoc
  src/legacy/core_plugins/elasticsearch/index.js
  src/server/config/complete.js
  src/server/config/complete.test.js
  x-pack/plugins/monitoring/deprecations.js
Labels: :Operations, review, v6.6.1

#29663 Upgrade Assistant Follow-ups
  src/legacy/core_plugins/elasticsearch/index.d.ts
  x-pack/.kibana-plugin-helpers.json
  x-pack/plugins/upgrade_assistant/common/types.ts
  x-pack/plugins/upgrade_assistant/public/components/error_banner.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/__snapshots__/checkup_tab.test.tsx.snap
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/checkup_tab.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/checkup_tab.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/__snapshots__/checklist_step.test.tsx.snap
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/polling_service.ts
  x-pack/plugins/upgrade_assistant/public/components/tabs/overview/index.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/overview/steps.tsx
  x-pack/plugins/upgrade_assistant/public/components/types.ts
  x-pack/plugins/upgrade_assistant/server/lib/__fixtures__/fake_deprecations.json
  x-pack/plugins/upgrade_assistant/server/lib/__snapshots__/es_migration_apis.test.ts.snap
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_actions.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_actions.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/worker.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.ts
  x-pack/plugins/xpack_main/server/lib/xpack_info.d.ts
  x-pack/plugins/xpack_main/server/lib/xpack_info_license.d.ts
  x-pack/plugins/xpack_main/xpack_main.d.ts
  x-pack/tsconfig.json
  x-pack/typings/hapi.d.ts
Labels: :Operations, review, v6.7.0, v7.0.0

#29981 [6.x] [Monitoring] Add default search fields for each table (#29748)
  x-pack/plugins/monitoring/public/components/alerts/alerts.js
  x-pack/plugins/monitoring/public/components/apm/instances/instances.js
  x-pack/plugins/monitoring/public/components/beats/listing/listing.js
  x-pack/plugins/monitoring/public/components/cluster/listing/listing.js
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/__snapshots__/ccr.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/ccr/ccr.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/indices.js
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_activity/shard_activity.js
  x-pack/plugins/monitoring/public/components/logstash/listing/listing.js
  x-pack/plugins/monitoring/public/components/logstash/pipeline_listing/pipeline_listing.js
  x-pack/plugins/monitoring/public/directives/elasticsearch/ml_job_listing/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
Labels: backport

#29757 [Monitoring] Address some UI regressions with shard allocation
  x-pack/plugins/monitoring/public/components/elasticsearch/index/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_allocation/_shard_allocation.scss
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_allocation/components/shard.js
  x-pack/plugins/monitoring/public/views/elasticsearch/index/index.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/overview.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch_settings/set_collection_interval.js
  x-pack/test/functional/apps/monitoring/elasticsearch/shards.js
  x-pack/test/functional/services/monitoring/elasticsearch_shards.js
Labels: :Monitoring, review, v6.6.1, v6.7.0, v7.0.0

#29879 [6.x] EUI 6.8.0 (#29860)
  package.json
  x-pack/package.json
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.js.snap
  x-pack/test/functional/apps/maps/saved_object_management.js
  yarn.lock
Labels: backport

#29982 [DOCS] Deprecate elasticsearch.url
  docs/setup/settings.asciidoc
Labels: :Operations, docs, v6.6.1, v6.7.0

#29988 [6.x] Index management table made more responsive (#28882)
  x-pack/plugins/index_management/public/_index_management.scss
  x-pack/plugins/index_management/public/main.html
  x-pack/plugins/index_management/public/sections/index_list/components/index_list/index_list.js
  x-pack/plugins/index_management/public/sections/index_list/components/index_table/index_table.js
  x-pack/plugins/index_management/public/styles/table.less
Labels: backport

#29996 [Docs/Fixes header in 6.6.0 release notes
  docs/CHANGELOG.asciidoc
Labels: docs

#28840 [Monitoring] Add flag to enable/disable CCR monitoring UI
  x-pack/plugins/monitoring/public/directives/main/index.html
  x-pack/plugins/monitoring/public/directives/main/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/nodes/index.html
  x-pack/plugins/monitoring/public/views/elasticsearch/nodes/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/overview/controller.js
  x-pack/plugins/monitoring/public/views/elasticsearch/overview/index.html
  x-pack/plugins/monitoring/server/lib/cluster/__test__/__snapshots__/get_clusters_summary.test.js.snap
  x-pack/plugins/monitoring/server/lib/cluster/get_clusters_from_request.js
  x-pack/plugins/monitoring/server/lib/cluster/get_clusters_summary.js
  x-pack/plugins/monitoring/server/lib/elasticsearch/ccr.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/indices.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/nodes.js
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/overview.js
  x-pack/test/api_integration/apis/monitoring/cluster/fixtures/multicluster.json
  x-pack/test/api_integration/apis/monitoring/cluster/fixtures/overview.json
  x-pack/test/api_integration/apis/monitoring/standalone_cluster/cluster.js
  x-pack/test/api_integration/apis/monitoring/standalone_cluster/clusters.js
  x-pack/test/api_integration/apis/monitoring/standalone_cluster/fixtures/cluster.json
  x-pack/test/api_integration/apis/monitoring/standalone_cluster/fixtures/clusters.json
  x-pack/test/api_integration/apis/xpack_main/telemetry/fixtures/multicluster.json
  x-pack/test/functional/es_archives/monitoring/multicluster/data.json.gz
  x-pack/test/functional/es_archives/monitoring/multicluster/mappings.json
  x-pack/test/functional/es_archives/monitoring/singlecluster-green-gold/data.json.gz
  x-pack/test/functional/es_archives/monitoring/standalone_cluster/data.json.gz
  x-pack/test/functional/es_archives/monitoring/standalone_cluster/mappings.json
Labels: :Monitoring, review, v6.7.0, v7.0.0

#28878 Upgrade assistant telemetry
  src/server/saved_objects/service/lib/repository.d.ts
  x-pack/plugins/upgrade_assistant/common/types.ts
  x-pack/plugins/upgrade_assistant/index.ts
  x-pack/plugins/upgrade_assistant/mappings.json
  x-pack/plugins/upgrade_assistant/public/components/tabs.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/button.tsx
  x-pack/plugins/upgrade_assistant/public/components/types.ts
  x-pack/plugins/upgrade_assistant/server/index.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_open_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_open_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_reindex_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_reindex_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/index.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/usage_collector.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/usage_collector.ts
  x-pack/plugins/upgrade_assistant/server/routes/telemetry.test.js
  x-pack/plugins/upgrade_assistant/server/routes/telemetry.ts
  x-pack/test/api_integration/apis/xpack_main/telemetry/telemetry_local.js
  x-pack/test/functional/apps/upgrade_assistant/upgrade_assistant.ts
  x-pack/test/functional/page_objects/upgrade_assistant.js
Labels: :Operations, :Telemetry, review, v6.7.0, v7.0.0

#29826 [Feature Controls] - fixes from recent merge from master
  test/functional/page_objects/common_page.js
  x-pack/plugins/maps/index.js
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/feature_table/feature_table.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_section/privilege_matrix.tsx
  x-pack/plugins/security/public/views/management/edit_role/components/privileges/kibana/space_aware_privilege_section/privilege_space_table.tsx
  x-pack/plugins/spaces/index.ts
  x-pack/test/api_integration/apis/security/privileges.ts
  x-pack/test/api_integration/apis/xpack_main/features/features.ts
  x-pack/test/functional/apps/security/feature_privileges/dashboard.js
  x-pack/test/functional/apps/security/feature_privileges/discover.js
  x-pack/test/functional/apps/spaces/disabled_features/dashboard.ts
  x-pack/test/functional/apps/spaces/disabled_features/discover.ts
  x-pack/test/functional/apps/spaces/spaces_selection.ts
  x-pack/test/functional/es_archives/maps/kibana/mappings.json
  x-pack/test/functional/es_archives/security/feature_privileges/mappings.json
  x-pack/test/functional/es_archives/spaces/disabled_features/mappings.json
  x-pack/test/ui_capabilities/README.md
  x-pack/test/ui_capabilities/common/features.ts
  x-pack/test/ui_capabilities/security_only/scenarios.ts
  x-pack/test/ui_capabilities/security_only/tests/dashboard.ts
  x-pack/test/ui_capabilities/security_only/tests/discover.ts
  x-pack/test/ui_capabilities/security_only/tests/nav_links.ts
  x-pack/test/ui_capabilities/spaces_only/scenarios.ts
  x-pack/test/ui_capabilities/spaces_only/tests/dashboard.ts
  x-pack/test/ui_capabilities/spaces_only/tests/discover.ts
  x-pack/test/ui_capabilities/spaces_only/tests/nav_links.ts
Labels: :Security/Feature Controls

#29993 [6.x] [Monitoring] Address some UI regressions with shard allocation (#29757)
  x-pack/plugins/monitoring/public/components/elasticsearch/index/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_allocation/_shard_allocation.scss
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_allocation/components/shard.js
  x-pack/plugins/monitoring/public/views/elasticsearch/index/index.js
  x-pack/test/functional/apps/monitoring/elasticsearch/shards.js
  x-pack/test/functional/services/monitoring/elasticsearch_shards.js
Labels: backport

#29610 [BeatsCM] Fix license error when enrolling a beat
  x-pack/plugins/beats_management/server/lib/framework.ts
Labels: :Beats, beats-cm

#29989 [6.x] Upgrade Assistant Follow-ups (#29663)
  src/legacy/core_plugins/elasticsearch/index.d.ts
  x-pack/.kibana-plugin-helpers.json
  x-pack/plugins/upgrade_assistant/common/types.ts
  x-pack/plugins/upgrade_assistant/public/components/error_banner.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/__snapshots__/checkup_tab.test.tsx.snap
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/checkup_tab.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/checkup_tab.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/__snapshots__/checklist_step.test.tsx.snap
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/polling_service.ts
  x-pack/plugins/upgrade_assistant/public/components/tabs/overview/index.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/overview/steps.tsx
  x-pack/plugins/upgrade_assistant/public/components/types.ts
  x-pack/plugins/upgrade_assistant/server/lib/__fixtures__/fake_deprecations.json
  x-pack/plugins/upgrade_assistant/server/lib/__snapshots__/es_migration_apis.test.ts.snap
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_actions.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_actions.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/worker.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.ts
  x-pack/plugins/xpack_main/server/lib/xpack_info.d.ts
  x-pack/plugins/xpack_main/server/lib/xpack_info_license.d.ts
  x-pack/plugins/xpack_main/xpack_main.d.ts
  x-pack/tsconfig.json
  x-pack/typings/hapi.d.ts
Labels: backport

#29764 [6.x] Monitoring design touchup (#29479)
  x-pack/plugins/monitoring/public/_hacks.scss
  x-pack/plugins/monitoring/public/components/alerts/__tests__/map_severity.js
  x-pack/plugins/monitoring/public/components/alerts/map_severity.js
  x-pack/plugins/monitoring/public/components/beats/beat/beat.js
  x-pack/plugins/monitoring/public/components/chart/monitoring_timeseries_container.js
  x-pack/plugins/monitoring/public/components/cluster/overview/alerts_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/apm_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/beats_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/elasticsearch_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/kibana_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/logstash_panel.js
  x-pack/plugins/monitoring/public/components/elasticsearch/index/advanced.js
  x-pack/plugins/monitoring/public/components/elasticsearch/index/index.js
  x-pack/plugins/monitoring/public/components/elasticsearch/indices/indices.js
  x-pack/plugins/monitoring/public/components/elasticsearch/node/advanced.js
  x-pack/plugins/monitoring/public/components/elasticsearch/node/node.js
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/__tests__/__snapshots__/cells.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/cells.js
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/plugins/monitoring/public/components/elasticsearch/overview/overview.js
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_activity/source_destination.js
  x-pack/plugins/monitoring/public/components/elasticsearch/shard_allocation/_shard_allocation.scss
  x-pack/plugins/monitoring/public/components/license/index.js
  x-pack/plugins/monitoring/public/components/logstash/listing/listing.js
  x-pack/plugins/monitoring/public/components/logstash/node/node.js
  x-pack/plugins/monitoring/public/components/logstash/overview/overview.js
  x-pack/plugins/monitoring/public/components/logstash/pipeline_listing/pipeline_listing.js
  x-pack/plugins/monitoring/public/components/summary_status/__snapshots__/summary_status.test.js.snap
  x-pack/plugins/monitoring/public/components/summary_status/summary_status.js
  x-pack/plugins/monitoring/public/directives/chart/_chart.scss
  x-pack/plugins/monitoring/public/directives/elasticsearch/ml_job_listing/index.js
  x-pack/plugins/monitoring/public/directives/main/index.html
  x-pack/plugins/monitoring/public/views/kibana/instance/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
  x-pack/plugins/monitoring/public/views/kibana/overview/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/advanced/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/index.js
  x-pack/test/functional/apps/monitoring/beats/beat_detail.js
  x-pack/test/functional/apps/monitoring/beats/listing.js
  x-pack/test/functional/apps/monitoring/beats/overview.js
  x-pack/test/functional/apps/monitoring/elasticsearch/index_detail.js
  x-pack/test/functional/apps/monitoring/elasticsearch/indices.js
  x-pack/test/functional/apps/monitoring/elasticsearch/node_detail.js
  x-pack/test/functional/apps/monitoring/elasticsearch/nodes.js
  x-pack/test/functional/apps/monitoring/elasticsearch/overview.js
  x-pack/test/functional/apps/monitoring/kibana/instance.js
  x-pack/test/functional/apps/monitoring/kibana/instances.js
  x-pack/test/functional/apps/monitoring/kibana/overview.js
  x-pack/test/functional/apps/monitoring/logstash/pipelines.js
Labels: backport

#29877 Add Events table to the Host Details Page
  x-pack/plugins/secops/public/components/empty_string/index.test.tsx
  x-pack/plugins/secops/public/components/empty_string/index.tsx
  x-pack/plugins/secops/public/components/empty_string/translations.ts
  x-pack/plugins/secops/public/components/page/hosts/host_summary/index.test.tsx
  x-pack/plugins/secops/public/components/page/hosts/host_summary/index.tsx
  x-pack/plugins/secops/public/pages/hosts/host_details.tsx
  x-pack/plugins/secops/server/lib/hosts/query.dsl.ts
  x-pack/test/api_integration/apis/secops/hosts.ts
Labels: :SecOps UI, loe:hours

#29990 [DOCS] Deprecate SSL settings
  docs/setup/settings.asciidoc
Labels: :Operations, docs, v5.3.3, v5.4.3, v5.5.3, v5.6.15, v6.0.1, v6.1.4, v6.2.5, v6.3.3, v6.4.4, v6.5.5, v6.6.1, v6.7.0

#30004 [DOCS] Deprecate monitor settings
  docs/settings/monitoring-settings.asciidoc
Labels: :Monitoring, docs, v6.6.1, v6.7.0

#30003 [6.x] Upgrade assistant telemetry (#28878)
  src/server/saved_objects/service/lib/repository.d.ts
  x-pack/plugins/upgrade_assistant/common/types.ts
  x-pack/plugins/upgrade_assistant/index.ts
  x-pack/plugins/upgrade_assistant/mappings.json
  x-pack/plugins/upgrade_assistant/public/components/tabs.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/button.tsx
  x-pack/plugins/upgrade_assistant/public/components/types.ts
  x-pack/plugins/upgrade_assistant/server/index.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_open_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_open_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_reindex_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_reindex_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/index.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/usage_collector.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/usage_collector.ts
  x-pack/plugins/upgrade_assistant/server/routes/telemetry.test.js
  x-pack/plugins/upgrade_assistant/server/routes/telemetry.ts
  x-pack/test/api_integration/apis/xpack_main/telemetry/telemetry_local.js
  x-pack/test/functional/apps/upgrade_assistant/upgrade_assistant.ts
  x-pack/test/functional/page_objects/upgrade_assistant.js
Labels: backport

#28797 [Maps] add saved objects for all sample data sets
  test/functional/apps/dashboard/_dashboard_snapshots.js
  test/functional/page_objects/time_picker.js
  test/functional/services/lib/compare_pngs.js
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/view.js
  x-pack/plugins/maps/public/shared/components/layer_toc_actions.js
  x-pack/plugins/maps/public/shared/layers/sources/vector_source.js
  x-pack/plugins/maps/server/sample_data/ecommerce_saved_objects.json
  x-pack/plugins/maps/server/sample_data/flights_saved_objects.json
  x-pack/plugins/maps/server/sample_data/web_logs_saved_objects.json
  x-pack/test/functional/apps/maps/sample_data.js
  x-pack/test/functional/page_objects/gis_page.js
  x-pack/test/functional/screenshots/baseline/ecommerce_map.png
  x-pack/test/functional/screenshots/baseline/flights_map.png
  x-pack/test/functional/screenshots/baseline/web_logs_map.png
Labels: :Geo, v6.7.0, v7.0.0

#30017 Removing deprecated xpack.monitoring.report_stats setting
  docs/settings/monitoring-settings.asciidoc
  x-pack/plugins/monitoring/config.js
  x-pack/plugins/monitoring/deprecations.js
  x-pack/plugins/xpack_main/index.js
Labels: :Monitoring, review, v7.0.0

#28609 remove deprecated "regionmap" and "tilemap" kibana.yml settings
  src/legacy/core_plugins/kibana/inject_vars.js
  src/server/config/schema.js
Labels: :Geo, release_note:breaking, review, v7.0.0

#30032 [Maps] ensure resiveChecker exists before calling destroy
  x-pack/plugins/maps/public/components/map/mb/view.js
Labels: :Geo, v6.7.0, v7.0.0

#30018 Filter out security realm deprecations on Cloud
  x-pack/plugins/cloud/index.d.ts
  x-pack/plugins/cloud/index.js
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts
  x-pack/plugins/upgrade_assistant/server/routes/cluster_checkup.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/cluster_checkup.ts
  x-pack/typings/hapi.d.ts
Labels: :Operations, blocker, review, v6.7.0, v7.0.0

#29913 [upgrade] Add cancel button to reindexing
  x-pack/plugins/upgrade_assistant/common/types.ts
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/button.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/__snapshots__/checklist_step.test.tsx.snap
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/_step_progress.scss
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/container.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/step_progress.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/polling_service.test.ts
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/polling_service.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.ts
Labels: :Operations, review, v6.7.0, v7.0.0

#29947 [Infra UI] Let drag-selecting a timerange disable autorefresh
  x-pack/plugins/infra/public/components/metrics/index.tsx
  x-pack/plugins/infra/public/components/metrics/section.tsx
  x-pack/plugins/infra/public/components/metrics/sections/chart_section.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
Labels: :Infra UI, [zube]: In Review, review, v6.7.0, v7.0.0

#30042 [6.x] [Infra UI] Let drag-selecting a timerange disable autorefresh (#29947)
  x-pack/plugins/infra/public/components/metrics/index.tsx
  x-pack/plugins/infra/public/components/metrics/section.tsx
  x-pack/plugins/infra/public/components/metrics/sections/chart_section.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
Labels: backport

#29969 [ML] Adds an integrity check to creating, updating and deleting annotations.
  x-pack/plugins/ml/server/routes/annotations.js
Labels: :ml, :ml-results, bug, release_note:fix, v6.6.1, v6.7.0, v7.0.0

#29950 [visualize/_point_series_options] update test with proper wait: fixes…
  test/functional/apps/visualize/_point_series_options.js
Labels: review, test_ui_functional

#29987 Microsoft SQL Server Kibana Tutorial
  src/legacy/core_plugins/kibana/public/home/tutorial_resources/mssql_metrics/screenshot.png
  src/legacy/core_plugins/kibana/server/tutorials/mssql_metrics/index.js
  src/legacy/core_plugins/kibana/server/tutorials/register.js
Labels: :KibanaApp, review

#30045 [6.x] [ML] Adds an integrity check to creating, updating and deleting annotations. (#29969)
  x-pack/plugins/ml/server/routes/annotations.js
Labels: :ml, backport

#29831 [APM] Fixes EUI font update typography issues
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/Distribution/index.js
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/index.tsx
  x-pack/plugins/apm/public/components/app/ServiceDetails/CPUUsageChart.tsx
  x-pack/plugins/apm/public/components/app/ServiceDetails/MemoryUsageChart.tsx
  x-pack/plugins/apm/public/components/app/ServiceDetails/ServiceIntegrations/WatcherFlyout.tsx
  x-pack/plugins/apm/public/components/app/ServiceDetails/ServiceMetrics.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Distribution/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/Transaction/WaterfallContainer/Waterfall/WaterfallItem.tsx
  x-pack/plugins/apm/public/components/shared/charts/TransactionCharts/view.tsx
Labels: :apm, [zube]: In Progress

#30046 [6.6] [ML] Adds an integrity check to creating, updating and deleting annotations. (#29969)
  x-pack/plugins/ml/server/routes/annotations.js
Labels: :ml, backport

#29954 [Infra UI] Remove infrastructure breadcrumb from logs page
  x-pack/plugins/infra/public/components/header/header.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
Labels: :Infra UI, :infrastructure, [zube]: In Review, review, v6.7.0, v7.0.0

#30053 [6.x] [Infra UI] Remove infrastructure breadcrumb from logs page (#29954)
  x-pack/plugins/infra/public/components/header/header.tsx
  x-pack/plugins/infra/public/pages/home/index.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
Labels: backport

#30052 [6.x] Fix TSVB flot chart render after index pattern change (#29949)
  src/legacy/core_plugins/metrics/public/visualizations/components/flot_chart.js
Labels: backport

#30039 [6.x] Filter out security realm deprecations on Cloud (#30018)
  x-pack/plugins/cloud/index.d.ts
  x-pack/plugins/cloud/index.js
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.ts
  x-pack/plugins/upgrade_assistant/server/routes/cluster_checkup.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/cluster_checkup.ts
  x-pack/typings/hapi.d.ts
Labels: backport

#30038 [6.x] [upgrade] Add cancel button to reindexing (#29913)
  x-pack/plugins/upgrade_assistant/common/types.ts
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/button.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/__snapshots__/checklist_step.test.tsx.snap
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/_step_progress.scss
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/checklist_step.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/container.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.test.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/progress.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/flyout/step_progress.tsx
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/polling_service.test.ts
  x-pack/plugins/upgrade_assistant/public/components/tabs/checkup/deprecations/reindex/polling_service.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/reindex_service.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/reindex_indices.ts
Labels: backport

#30049 [Infra UI] Honor maxConcurrentShardRequests setting.
  x-pack/plugins/infra/server/lib/adapters/framework/kibana_framework_adapter.ts
Labels: :Infra UI, [zube]: In Review, review, v6.7.0, v7.0.0

#30044 [Infra UI] Fix z-index problems with waffle map and kuery autocompletion
  x-pack/plugins/infra/public/components/eui/toolbar/toolbar.tsx
Labels: :Infra UI, [zube]: In Review, review, v6.7.0, v7.0.0

#29972 Fixes #23821 - Change link to traces
  x-pack/plugins/infra/public/components/waffle/node_context_menu.tsx
Labels: :Infra UI, review, v6.7.0, v7.0.0

#29980 [ML] Fixing the unmounting jobs list react component on page change
  x-pack/plugins/ml/public/jobs/jobs_list/directive.js
Labels: :ml, bug, regression, v6.6.1, v6.7.0, v7.0.0

#30035 [6.x] [Maps] ensure resiveChecker exists before calling destroy (#30032)
  x-pack/plugins/maps/public/components/map/mb/view.js
Labels: backport

#30071 [6.x] Honor maxConcurrentShardRequests setting. (#30049)
  x-pack/plugins/infra/server/lib/adapters/framework/kibana_framework_adapter.ts
Labels: backport

#30062 [6.x] [ML] Job deleting optimisations (#29848)
  x-pack/plugins/ml/common/util/string_utils.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/delete_job_modal/delete_job_modal.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/management.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_actions/results.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/job_group/job_group.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list/jobs_list.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list_view/jobs_list_view.js
  x-pack/plugins/ml/public/services/ml_api_service/jobs.js
  x-pack/plugins/ml/server/client/elasticsearch_ml.js
  x-pack/plugins/ml/server/models/job_service/jobs.js
  x-pack/plugins/ml/server/routes/job_service.js
Labels: :ml, backport

#30059 [6.x] [ML] Adding index migration warnings (#28938)
  x-pack/plugins/ml/public/components/upgrade/index.js
  x-pack/plugins/ml/public/components/upgrade/upgrade_warning.js
  x-pack/plugins/ml/public/jobs/jobs_list/components/jobs_list_view/jobs_list_view.js
  x-pack/plugins/ml/public/privilege/get_privileges.js
  x-pack/plugins/ml/public/services/upgrade_service.js
  x-pack/plugins/ml/server/routes/system.js
Labels: :ml, backport

#30080 [6.x] [ML] Fixing the unmounting jobs list react component on page change (#29980)
  x-pack/plugins/ml/public/jobs/jobs_list/directive.js
Labels: :ml, backport

#30066 [ML] Fix filter params in HTTP Access job custom URLs
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/low_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/source_ip_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/source_ip_url_count_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/status_code_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apache_ecs/ml/visitor_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/low_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/source_ip_request_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/source_ip_url_count_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/status_code_rate_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/nginx_ecs/ml/visitor_rate_ecs.json
Labels: :ml, :ml-config, non-issue, review, v7.0.0

#30031 [Maps] fix issues with keyboard input for setting view coordinates
  x-pack/plugins/maps/public/components/widget_overlay/view_control/set_view/set_view.js
Labels: :Geo, v6.7.0, v7.0.0

#30033 [6.x] [Maps] add saved objects for all sample data sets (#28797)
  test/functional/apps/dashboard/_dashboard_snapshots.js
  test/functional/page_objects/time_picker.js
  test/functional/services/lib/compare_pngs.js
  x-pack/plugins/maps/index.js
  x-pack/plugins/maps/public/angular/map_controller.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/plugins/maps/public/components/widget_overlay/layer_control/layer_toc/view.js
  x-pack/plugins/maps/public/shared/components/layer_toc_actions.js
  x-pack/plugins/maps/public/shared/layers/sources/vector_source.js
  x-pack/plugins/maps/server/sample_data/ecommerce_saved_objects.json
  x-pack/plugins/maps/server/sample_data/flights_saved_objects.json
  x-pack/plugins/maps/server/sample_data/web_logs_saved_objects.json
  x-pack/test/functional/apps/maps/sample_data.js
  x-pack/test/functional/page_objects/gis_page.js
  x-pack/test/functional/screenshots/baseline/ecommerce_map.png
  x-pack/test/functional/screenshots/baseline/flights_map.png
  x-pack/test/functional/screenshots/baseline/web_logs_map.png
Labels: backport

#29992 [Uptime] Remove pointless max search size box
  x-pack/plugins/uptime/public/components/functional/__tests__/__snapshots__/ping_list.test.tsx.snap
  x-pack/plugins/uptime/public/components/functional/__tests__/ping_list.test.tsx
  x-pack/plugins/uptime/public/components/functional/ping_list.tsx
  x-pack/plugins/uptime/public/components/queries/ping_list/ping_list_query.tsx
Labels: :uptime, bug, review

#30072 [6.x] Tweak z-index. (#30044)
  x-pack/plugins/infra/public/components/eui/toolbar/toolbar.tsx
Labels: backport

#30013 [CCR] Add callout to paused follower index detail panel
  x-pack/plugins/cross_cluster_replication/public/app/sections/home/follower_indices_list/components/detail_panel/detail_panel.js
Labels: :Elasticsearch UI, CCR

#30088 [6.x] [Maps] fix issues with keyboard input for setting view coordinates (#30031)
  x-pack/plugins/maps/public/components/widget_overlay/view_control/set_view/set_view.js
Labels: backport

#30083 add removal of deprecated tilemap and regionmap kibana.yml settings to breaking changes log
  docs/migration/migrate_7_0.asciidoc
Labels: docs, v7.0.0

#29792 Remove WebSockets from Canvas expressions interpreter
  package.json
  packages/kbn-interpreter/package.json
  packages/kbn-interpreter/src/common/index.js
  packages/kbn-interpreter/src/common/interpreter/interpret.js
  packages/kbn-interpreter/src/common/interpreter/socket_interpret.js
  packages/kbn-interpreter/src/public/create_handlers.js
  packages/kbn-interpreter/src/public/index.js
  packages/kbn-interpreter/src/public/interpreter.js
  packages/kbn-interpreter/src/public/interpreter.test.js
  packages/kbn-interpreter/src/public/socket.js
  src/legacy/core_plugins/interpreter/public/interpreter.js
  src/legacy/core_plugins/interpreter/public/interpreter.test.js
  src/legacy/core_plugins/interpreter/server/lib/get_request.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/browser.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/server.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/thread/babeled.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/thread/index.js
  src/legacy/core_plugins/interpreter/server/lib/route_expression/thread/worker.js
  src/legacy/core_plugins/interpreter/server/routes/index.js
  src/legacy/core_plugins/interpreter/server/routes/server_functions.js
  src/legacy/core_plugins/interpreter/server/routes/socket.js
  x-pack/plugins/canvas/public/components/app/index.js
  yarn.lock
Labels: :AppArch, :Canvas, v7.0.0

#30093 [Uptime] Update title and remove redundant paragraph from empty index prompt
  x-pack/plugins/uptime/public/components/functional/empty_state/__tests__/__snapshots__/empty_state.test.tsx.snap
  x-pack/plugins/uptime/public/components/functional/empty_state/empty_index.tsx
Labels: :uptime, v6.7.0, v7.0.0

#30027 [CCR] Skip call to stats api if follower index is paused
  x-pack/plugins/cross_cluster_replication/server/routes/api/follower_index.js
Labels: :Elasticsearch UI, CCR

#30061 [BeatsCM] Use new EUI beta badge
  x-pack/plugins/beats_management/public/components/layouts/no_data.tsx
  x-pack/plugins/beats_management/public/components/layouts/primary.tsx
  x-pack/plugins/beats_management/public/index.tsx
  x-pack/plugins/beats_management/public/pages/overview/index.tsx
  x-pack/plugins/beats_management/public/pages/walkthrough/initial/index.tsx
  x-pack/plugins/beats_management/server/lib/tags.ts
Labels: :Beats, beats-cm

#30087 [Monitoring] Ensure we are showing the cluster name in the breadcrumbs
  x-pack/plugins/monitoring/public/directives/main/index.js
Labels: :Monitoring, review, v6.7.0, v7.0.0

#29291 [6.x] [Uptime] Remove non-scaleable monitor select box. (#29217)
  x-pack/plugins/uptime/public/components/queries/index.ts
  x-pack/plugins/uptime/public/components/queries/monitor_select/get_latest_monitors.ts
  x-pack/plugins/uptime/public/components/queries/monitor_select/index.ts
  x-pack/plugins/uptime/public/components/queries/monitor_select/monitor_select_query.tsx
  x-pack/plugins/uptime/public/pages/monitor.tsx
  x-pack/test/api_integration/apis/uptime/graphql/fixtures/monitor_select.json
  x-pack/test/api_integration/apis/uptime/graphql/index.js
  x-pack/test/api_integration/apis/uptime/graphql/monitor_select.js
Labels: :uptime, backport
