Repository elastic/kibana, pull requests merged in 2020-10, with the labels that each got.

#79043 [7.x] [ts] enable "resolveJsonModule" and disable existing failures (#78855)
  tsconfig.base.json
  typings/index.d.ts
  x-pack/plugins/apm/public/components/app/ErrorGroupOverview/List/__test__/List.test.tsx
  x-pack/plugins/apm/public/components/shared/Links/DiscoverLinks/__test__/DiscoverTransactionButton.test.tsx
  x-pack/plugins/apm/server/lib/service_map/group_resource_nodes.test.ts
  x-pack/plugins/apm/server/lib/services/annotations/index.test.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/server/demodata/index.ts
  x-pack/plugins/canvas/shareable_runtime/components/__tests__/app.test.tsx
  x-pack/plugins/canvas/shareable_runtime/test/index.ts
  x-pack/plugins/infra/public/utils/apollo_client.ts
  x-pack/plugins/ml/public/application/components/annotations/annotation_description_list/index.test.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/action_delete/delete_action_name.test.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart_annotations.test.ts
  x-pack/plugins/ml/server/models/job_validation/validate_time_range.test.ts
  x-pack/plugins/security_solution/public/common/lib/compose/helpers.test.ts
  x-pack/plugins/security_solution/public/common/lib/compose/kibana_compose.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/suricata/suricata_links.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/get_prepackaged_rules.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/get_prepackaged_rules.ts
  x-pack/plugins/transform/public/app/common/transform_stats.test.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_start/start_action_name.test.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_stop/stop_action_name.test.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/common.test.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row.test.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/tabs/checkup/checkup_tab.test.tsx
  x-pack/plugins/upgrade_assistant/server/lib/es_migration_apis.test.ts
  x-pack/test/api_integration/services/infraops_graphql_client.ts
  x-pack/test/api_integration/services/security_solution_graphql_client.ts
  x-pack/tsconfig.json
  x-pack/typings/index.d.ts
Labels: backport

#78890 [QA][Code Coverage] Team Assignment Docs Update
  src/dev/code_coverage/docs/team_assignment/README.md
  src/dev/code_coverage/docs/team_assignment/security_privleges.png
Labels: release_note:skip, test-coverage, v8.0.0

#78759 [UX] Improve page responsive
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageLoadDistChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageViewsChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/VisitorBreakdownChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/CoreVitals/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/ImpactfulMetrics/JSErrors.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/PercentileAnnotations.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageViewsTrend/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Panels/PageLoadAndViews.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Panels/VisitorBreakdowns.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/RumDashboard.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/RumHome.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/KeyUXMetrics.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/VisitorBreakdown/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/hooks/useBreakPoints.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/translations.ts
  x-pack/plugins/apm/server/lib/rum_client/get_visitor_breakdown.ts
Labels: Team:apm, Team:uptime, release_note:skip, v7.10.0, v8.0.0

#78950 [ML] Functional tests - stabilize calendar edit tests
  x-pack/plugins/ml/public/application/settings/calendars/edit/calendar_form/__snapshots__/calendar_form.test.js.snap
  x-pack/plugins/ml/public/application/settings/calendars/edit/calendar_form/calendar_form.js
  x-pack/test/functional/apps/ml/settings/calendar_edit.ts
  x-pack/test/functional/apps/ml/settings/index.ts
  x-pack/test/functional/services/ml/settings_calendar.ts
Labels: :ml, release_note:skip, test_ui_functional, v7.10.0, v8.0.0

#78600 [Discover] Unskip doc link functional test
  test/functional/apps/discover/_doc_navigation.js
Labels: :KibanaApp/fix-it-week, Feature:Discover, Team:KibanaApp, release_note:skip, v7.10.0, v8.0.0

#78772 [Actions][Jira] Set parent issue for Sub-task issue type
  docs/user/alerting/action-types/jira.asciidoc
  x-pack/plugins/actions/README.md
  x-pack/plugins/actions/server/builtin_action_types/jira/api.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/api.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/index.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/mocks.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/schema.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/search_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/translations.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_single_issue.tsx
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/jira.ts
Labels: Team:Alerting Services, release_note:skip, v7.10.0, v8.0.0

#78827 [Usage Collection] [schema] `ui_metric`
  .telemetryrc.json
  src/plugins/kibana_usage_collection/server/collectors/ui_metric/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/ui_metric/telemetry_ui_metric_collector.ts
  src/plugins/telemetry/schema/oss_plugins.json
Labels: Feature:Telemetry, Team:KibanaTelemetry, release_note:skip, v7.10.0, v8.0.0

#79031 [7.x] [Security] Alert Telemetry for the Security app (#77200)
  x-pack/plugins/security_solution/kibana.json
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/send_telemetry_events.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/send_telemetry_events.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_threat_signal.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_threat_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/types.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: backport

#78130 [Loggers] Rename "telemetry" to "usage"
  src/plugins/home/server/services/sample_data/sample_data_registry.ts
  x-pack/plugins/actions/server/plugin.ts
  x-pack/plugins/alerts/server/plugin.ts
  x-pack/plugins/lens/server/plugin.tsx
Labels: Feature:Alerting, Feature:Home, Feature:Lens, Feature:Telemetry, Team:Alerting Services, Team:Core UI, Team:KibanaApp, Team:KibanaTelemetry, release_note:skip, review, v7.10.0, v8.0.0

#78129 [Task names in TaskManager] Rename "telemetry" to "usage"
  x-pack/plugins/actions/server/usage/task.ts
  x-pack/plugins/alerts/server/usage/task.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/index.ts
  x-pack/plugins/lens/server/usage/task.ts
Labels: Feature:Actions, Feature:Alerting, Feature:Lens, Feature:Telemetry, Team:Alerting Services, Team:AppArch, Team:KibanaApp, Team:KibanaTelemetry, Team:apm, release_note:skip, review, v7.10.0, v8.0.0

#78962 [7.x] Optimize charts plugin (#78922)
  src/plugins/charts/public/services/colors/color_palette.ts
  src/plugins/charts/public/services/colors/colors_palette.test.ts
  src/plugins/charts/public/services/colors/mapped_colors.test.ts
  src/plugins/charts/public/services/colors/mapped_colors.ts
Labels: backport

#78964 [APM] Fixing api test
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/distribution.ts
Labels: release_note:skip, v7.10.0

#78750 Data plugin README
  docs/developer/plugin-list.asciidoc
  src/plugins/data/README.md
  src/plugins/data/public/search/README.md
Labels: Team:AppArch, release_note:skip, v7.10.0, v8.0.0

#79053 [7.x] [ML] Functional tests - stabilize calendar edit tests (#78950)
  x-pack/plugins/ml/public/application/settings/calendars/edit/calendar_form/__snapshots__/calendar_form.test.js.snap
  x-pack/plugins/ml/public/application/settings/calendars/edit/calendar_form/calendar_form.js
  x-pack/test/functional/apps/ml/settings/calendar_edit.ts
  x-pack/test/functional/apps/ml/settings/index.ts
  x-pack/test/functional/services/ml/settings_calendar.ts
Labels: :ml, backport

#78999 [7.x] [ML] Fixing module datafeed overrides (#78925)
  x-pack/plugins/ml/common/types/modules.ts
  x-pack/plugins/ml/server/models/data_recognizer/data_recognizer.ts
  x-pack/plugins/ml/server/models/data_recognizer/modules/logs_ui_categories/ml/log_entry_categories_count.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/logo.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/ml/datafeed_high_mean_cpu_iowait_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/ml/datafeed_max_disk_utilization_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/ml/datafeed_metricbeat_outages_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/ml/high_mean_cpu_iowait_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/ml/max_disk_utilization_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metricbeat_system_ecs/ml/metricbeat_outages_ecs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/logo.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/ml/datafeed_hosts_memory_usage.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/ml/datafeed_hosts_network_in.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/ml/datafeed_hosts_network_out.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/ml/hosts_memory_usage.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/ml/hosts_network_in.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_hosts/ml/hosts_network_out.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/logo.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/ml/datafeed_k8s_memory_usage.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/ml/datafeed_k8s_network_in.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/ml/datafeed_k8s_network_out.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/ml/k8s_memory_usage.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/ml/k8s_network_in.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/metrics_ui_k8s/ml/k8s_network_out.json
Labels: backport

#78610 [SECURITY SOLUTIONS] Map embeddable working with index patterns selection
  x-pack/plugins/security_solution/public/network/components/embeddables/__snapshots__/embedded_map.test.tsx.snap
  x-pack/plugins/security_solution/public/network/components/embeddables/embedded_map.test.tsx
  x-pack/plugins/security_solution/public/network/components/embeddables/embedded_map.tsx
  x-pack/plugins/security_solution/public/network/components/embeddables/selector.test.tsx
  x-pack/plugins/security_solution/public/network/components/embeddables/selector.tsx
Labels: Team:SIEM, release_note:enhancement, v7.10.0, v8.0.0

#79058 [7.x] [UX] Add percentile selector (#78562)
  x-pack/plugins/apm/common/ui_filter.ts
  x-pack/plugins/apm/e2e/cypress/integration/csm_dashboard.feature
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/percentile_select.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/url_search_filter.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/utils.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/ClientMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageViewsTrend/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/RumHome.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/URLFilter/URLSearch/SelectableUrlList.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/URLFilter/URLSearch/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/URLFilter/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/KeyUXMetrics.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UserPercentile/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/VisitorBreakdown/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/VisitorBreakdownMap/EmbeddedMap.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/VisitorBreakdownMap/useMapFilters.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/hooks/useUxQuery.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/translations.ts
  x-pack/plugins/apm/public/components/shared/Links/url_helpers.ts
  x-pack/plugins/apm/public/components/shared/LocalUIFilters/index.tsx
  x-pack/plugins/apm/public/context/UrlParamsContext/index.tsx
  x-pack/plugins/apm/public/context/UrlParamsContext/resolveUrlParams.ts
  x-pack/plugins/apm/public/context/UrlParamsContext/types.ts
  x-pack/plugins/apm/public/hooks/useLocalUIFilters.ts
  x-pack/plugins/apm/server/lib/rum_client/get_client_metrics.ts
  x-pack/plugins/apm/server/lib/rum_client/get_page_view_trends.ts
  x-pack/plugins/apm/server/lib/rum_client/get_url_search.ts
  x-pack/plugins/apm/server/lib/rum_client/get_web_core_vitals.ts
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/config.ts
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/get_local_filter_query.ts
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/index.ts
  x-pack/plugins/apm/server/routes/rum_client.ts
  x-pack/plugins/apm/server/routes/ui_filters.ts
  x-pack/plugins/apm/typings/ui_filters.ts
  x-pack/plugins/observability/public/typings/fetch_overview_data/index.ts
  x-pack/plugins/observability/typings/common.ts
  x-pack/test/apm_api_integration/trial/tests/csm/url_search.ts
  x-pack/test/apm_api_integration/trial/tests/csm/web_core_vitals.ts
Labels: backport

#78392 [UX] Improve page-load axis
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/breakdown_filter.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/csm_dashboard.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/csm_filters.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/percentile_select.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/service_name_filter.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageLoadDistChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageViewsChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/ClientMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/BreakdownSeries.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/KeyUXMetrics.tsx
  x-pack/plugins/apm/server/lib/rum_client/__snapshots__/queries.test.ts.snap
  x-pack/plugins/apm/server/lib/rum_client/get_client_metrics.ts
  x-pack/plugins/apm/server/lib/rum_client/get_page_load_distribution.ts
  x-pack/plugins/apm/server/lib/rum_client/get_pl_dist_breakdown.ts
  x-pack/plugins/apm/server/routes/rum_client.ts
Labels: Team:apm, Team:uptime, release_note:skip, v7.10.0, v8.0.0

#79057 [7.x] [Discover] Unskip doc link functional test (#78600)
  test/functional/apps/discover/_doc_navigation.js
Labels: backport

#78761 [Drilldowns][Docs] Communicate the visualization types that support drilldowns
  docs/user/dashboard/dashboard-drilldown.asciidoc
  docs/user/dashboard/url-drilldown.asciidoc
Labels: Feature:Drilldowns, Team:AppArch, docs, release_note:skip, v7.10.0, v8.0.0

#78568 Fix ML conditionals links Cypress tests
  x-pack/plugins/security_solution/cypress/integration/ml_conditional_links.spec.ts
Labels: Team:SIEM, release_note:skip, v7.10.0, v8.0.0

#78949 Make the actual Vislib import async
  src/plugins/vis_type_vislib/public/vis_controller.tsx
Labels: Feature:Vislib, Team:KibanaApp, performance, release_note:skip, v7.10.0, v8.0.0

#78768 Changed the color of the confirm button in trusted app deletion dialog.
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/__snapshots__/trusted_app_deletion_dialog.test.tsx.snap
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_app_deletion_dialog.tsx
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.10.0, v8.0.0

#79063 [7.x] [APM] Service Map: `Not Defined` option doesn't work properly (#77757) | fixing api test (#78964)
  x-pack/plugins/apm/server/lib/service_map/__snapshots__/get_service_map_from_trace_ids.test.ts.snap
  x-pack/plugins/apm/server/lib/service_map/get_service_map.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_from_trace_ids.test.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_from_trace_ids.ts
  x-pack/plugins/apm/server/lib/service_map/mock_responses/get_service_map_from_trace_ids_script_response.json
  x-pack/test/apm_api_integration/basic/tests/observability_overview/observability_overview.ts
  x-pack/test/apm_api_integration/basic/tests/services/top_services.ts
  x-pack/test/apm_api_integration/basic/tests/settings/agent_configuration.ts
  x-pack/test/apm_api_integration/basic/tests/traces/__snapshots__/top_traces.snap
  x-pack/test/apm_api_integration/basic/tests/traces/top_traces.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/__snapshots__/breakdown.snap
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/__snapshots__/error_rate.snap
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/__snapshots__/top_transaction_groups.snap
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/__snapshots__/transaction_charts.snap
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/breakdown.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/distribution.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/error_rate.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/top_transaction_groups.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/transaction_charts.ts
  x-pack/test/apm_api_integration/common/archives_metadata.ts
  x-pack/test/apm_api_integration/common/fixtures/es_archiver/apm_8.0.0/data.json.gz
  x-pack/test/apm_api_integration/common/fixtures/es_archiver/apm_8.0.0/mappings.json
  x-pack/test/apm_api_integration/trial/tests/service_maps/__snapshots__/service_maps.snap
  x-pack/test/apm_api_integration/trial/tests/service_maps/service_maps.ts
  x-pack/test/apm_api_integration/trial/tests/services/top_services.ts
Labels: backport

#79067 [7.x] [Usage Collection] [schema] `ui_metric` (#78827)
  .telemetryrc.json
  src/plugins/kibana_usage_collection/server/collectors/ui_metric/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/ui_metric/telemetry_ui_metric_collector.ts
  src/plugins/telemetry/schema/oss_plugins.json
Labels: backport

#79068 [7.x] [Loggers] Rename "telemetry" to "usage" (#78130)
  src/plugins/home/server/services/sample_data/sample_data_registry.ts
  x-pack/plugins/actions/server/plugin.ts
  x-pack/plugins/alerts/server/plugin.ts
  x-pack/plugins/lens/server/plugin.tsx
Labels: backport

#79069 [7.x] [Task names in TaskManager] Rename "telemetry" to "usage" (#78129)
  x-pack/plugins/actions/server/usage/task.ts
  x-pack/plugins/alerts/server/usage/task.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/index.ts
  x-pack/plugins/lens/server/usage/task.ts
Labels: backport

#78951 [I18n] fix eui tokens
  src/core/public/i18n/i18n_eui_mapping.tsx
  src/core/public/i18n/i18n_service.tsx
Labels: release_note:skip, v7.10.0, v8.0.0

#78751 [Security Solution] Fix useMatrixHistogram to refetch data when stackbyField change
  x-pack/plugins/security_solution/public/common/containers/matrix_histogram/index.test.ts
  x-pack/plugins/security_solution/public/common/containers/matrix_histogram/index.ts
Labels: Team:SIEM, bug, release_note:skip, v7.10.0, v8.0.0

#78571 [ES UI] Reintroduce import of brace/mode/json
  packages/kbn-ace/README.md
  src/plugins/es_ui_shared/static/forms/components/index.ts
Labels: Team:Elasticsearch UI, release_note:skip, v7.10.0, v8.0.0

#78938 Reduce bundle size of the default editor
  src/plugins/vis_default_editor/public/components/sidebar/index.ts
  src/plugins/vis_default_editor/public/components/sidebar/navbar.tsx
  src/plugins/vis_default_editor/public/components/sidebar/sidebar.tsx
  src/plugins/vis_default_editor/public/components/sidebar/use_option_tabs.ts
  src/plugins/vis_default_editor/public/default_editor.tsx
  src/plugins/vis_default_editor/public/default_editor_controller.tsx
Labels: Feature:Vis Editor, Team:KibanaApp, release_note:skip, v7.10.0, v8.0.0

#79059 [7.x] [Actions][Jira] Set parent issue for Sub-task issue type (#78772)
  docs/user/alerting/action-types/jira.asciidoc
  x-pack/plugins/actions/README.md
  x-pack/plugins/actions/server/builtin_action_types/jira/api.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/api.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/index.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/mocks.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/schema.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/search_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/translations.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_single_issue.tsx
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/jira.ts
Labels: backport

#78754 [Functional] Fixes flakiness on TSVB indexpattern switch
  test/functional/apps/visualize/_tsvb_chart.ts
  test/functional/page_objects/visual_builder_page.ts
  test/functional/services/combo_box.ts
Labels: Feature:TSVB, Team:KibanaApp, failed-test, release_note:skip, v7.10.0, v8.0.0

#79073 [7.x] [SECURITY SOLUTIONS] Map embeddable working with index patterns selection (#78610)
  x-pack/plugins/security_solution/public/network/components/embeddables/__snapshots__/embedded_map.test.tsx.snap
  x-pack/plugins/security_solution/public/network/components/embeddables/embedded_map.test.tsx
  x-pack/plugins/security_solution/public/network/components/embeddables/embedded_map.tsx
  x-pack/plugins/security_solution/public/network/components/embeddables/selector.test.tsx
  x-pack/plugins/security_solution/public/network/components/embeddables/selector.tsx
Labels: backport

#78734 [Lens] Don't allow values outside of range for number of top values
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/terms.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/values_range_input.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/values_range_input.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:fix, v7.10.0, v8.0.0

#78733 [Lens] Close flyout on outside click
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.10.0, v8.0.0

#79074 [7.x] [Lens] fix wrong message in fields accordion (#78924)
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_list.tsx
Labels: backport

#79071 [7.x] [UX] Improve page responsive (#78759)
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageLoadDistChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageViewsChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/VisitorBreakdownChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/CoreVitals/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/ImpactfulMetrics/JSErrors.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/PercentileAnnotations.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageViewsTrend/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Panels/PageLoadAndViews.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Panels/VisitorBreakdowns.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/RumDashboard.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/RumHome.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/KeyUXMetrics.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/VisitorBreakdown/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/hooks/useBreakPoints.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/translations.ts
  x-pack/plugins/apm/server/lib/rum_client/get_visitor_breakdown.ts
Labels: backport

#79075 [7.x] [UX] Improve page-load axis (#78392)
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/breakdown_filter.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/csm_dashboard.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/csm_filters.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/percentile_select.ts
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/csm/service_name_filter.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageLoadDistChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/Charts/PageViewsChart.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/ClientMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/BreakdownSeries.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/UXMetrics/KeyUXMetrics.tsx
  x-pack/plugins/apm/server/lib/rum_client/__snapshots__/queries.test.ts.snap
  x-pack/plugins/apm/server/lib/rum_client/get_client_metrics.ts
  x-pack/plugins/apm/server/lib/rum_client/get_page_load_distribution.ts
  x-pack/plugins/apm/server/lib/rum_client/get_pl_dist_breakdown.ts
  x-pack/plugins/apm/server/routes/rum_client.ts
Labels: backport

#70919 [KP] instrument platform server-side code with apm agent
  src/core/server/server.ts
Labels: Team:Platform, chore, release_note:skip, v7.10.0

#79070 [Actions][Jira] Fix bug with Jira sub-task
  x-pack/plugins/actions/server/builtin_action_types/jira/service.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_fields_by_issue_type.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issue_types.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_single_issue.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/use_get_incident_types.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/use_get_severity.tsx
Labels: Team:Alerting Services, bug, release_note:skip, v7.10.0, v8.0.0

#78173 [Lens] Handle missing fields gracefully
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/bucket_nesting_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.ts
  x-pack/plugins/lens/public/indexpattern_datasource/utils.ts
Labels: Feature:Lens, Team:KibanaApp, release_note:fix, v7.10.0, v8.0.0

#79076 [7.x] [Drilldowns][Docs] Communicate the visualization types that support drilldowns (#78761)
  docs/user/dashboard/dashboard-drilldown.asciidoc
  docs/user/dashboard/url-drilldown.asciidoc
Labels: backport

#78742 @testing-library remove "pure" hack
  src/dev/jest/setup/react_testing_library.js
  src/plugins/embeddable/public/lib/embeddables/embeddable_renderer.test.tsx
  src/plugins/embeddable/public/lib/embeddables/error_embeddable.test.tsx
  src/plugins/vis_type_markdown/public/markdown_vis_controller.test.tsx
  x-pack/plugins/dashboard_enhanced/public/services/drilldowns/actions/flyout_edit_drilldown/menu_item.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/components/action_wizard/action_wizard.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/connected_flyout_manage_drilldowns/connected_flyout_manage_drilldowns.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/flyout_frame/flyout_frame.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/form_drilldown_wizard/form_drilldown_wizard.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/list_manage_drilldowns/list_manage_drilldowns.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/components/url_drilldown_collect_config/url_drilldown_collect_config.test.tsx
Labels: Feature:Drilldowns, Feature:Embedding, Feature:Unit Testing, release_note:skip, v7.10.0, v8.0.0

#79065 [7.x] [TSVB] Request validation error: [panels.0.series.0.metrics.0.percentiles.1.value] (#79009)
  src/plugins/vis_type_timeseries/common/vis_schema.ts
Labels: backport

#79086 [7.x] [Security Solution] Fix useMatrixHistogram to refetch data when stackbyField change (#78751)
  x-pack/plugins/security_solution/public/common/containers/matrix_histogram/index.test.ts
  x-pack/plugins/security_solution/public/common/containers/matrix_histogram/index.ts
Labels: backport

#79089 [7.x] Change implementation on TSVB functional when testing the indexPattern switch (#78754)
  test/functional/apps/visualize/_tsvb_chart.ts
  test/functional/page_objects/visual_builder_page.ts
  test/functional/services/combo_box.ts
Labels: backport

#78328 [Lens] Histogram/range operation new copy
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/advanced_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/range_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/ranges.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.10.0, v8.0.0

#78330 Omit runtime fields from FLS suggestions
  x-pack/plugins/security/server/routes/indices/get_fields.test.ts
  x-pack/plugins/security/server/routes/indices/get_fields.ts
  x-pack/test/api_integration/apis/security/index_fields.ts
  x-pack/test/functional/es_archives/security/flstest/data/mappings.json
Labels: Team:Security, release_note:enhancement, v7.10.0, v8.0.0

#78581 [Usage Collection] [schema] `infra`
  x-pack/.telemetryrc.json
  x-pack/plugins/infra/server/usage/usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: Feature:Telemetry, Team:KibanaTelemetry, Team:logs-metrics-ui, release_note:skip, review, v7.10.0, v8.0.0

#79081 [7.x] Changed the color of the confirm button in trusted app deletion dialog. (#78768)
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/__snapshots__/trusted_app_deletion_dialog.test.tsx.snap
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_app_deletion_dialog.tsx
Labels: backport

#79084 [7.x] Data plugin README (#78750)
  docs/developer/architecture/code-exploration.asciidoc
  docs/developer/plugin-list.asciidoc
  src/plugins/data/README.md
  src/plugins/data/public/search/README.md
Labels: backport

#79095 [7.x] fix: add EuiOutsideClickDetector (#78733)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.tsx
Labels: backport

#79094 [7.x] [Lens] Don't allow values outside of range for number of top values (#78734)
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/terms.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/values_range_input.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/values_range_input.tsx
Labels: backport

#78707 [Mappings editor] Fix bug when switching between mapping tabs
  x-pack/plugins/index_management/public/application/components/mappings_editor/__jest__/client_integration/mappings_editor.test.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/templates_form/templates_form.tsx
Labels: Feature:Index Management, Feature:Mappings Editor, Team:Elasticsearch UI, release_note:fix, v7.10.0, v8.0.0

#78206 [Mappings editor] Add support for version field type
  x-pack/plugins/index_management/public/application/components/mappings_editor/__jest__/client_integration/datatypes/version_datatype.test.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/field_types/index.ts
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/field_types/version_type.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/constants/data_types_definition.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/types/document_fields.ts
Labels: Feature:Index Management, Feature:Mappings Editor, Team:Elasticsearch UI, release_note:enhancement, v7.10.0, v8.0.0

#79087 [7.x] [ES UI] Reintroduce import of brace/mode/json (#78571)
  packages/kbn-ace/README.md
  src/plugins/es_ui_shared/static/forms/components/index.ts
Labels: backport

#79097 [7.x] [KP] instrument platform server-side code with apm agent (#70919)
  src/core/server/server.ts
Labels: backport

#78542 [Canvas] Move Handlebars and Flot dependencies out of main bundle
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/markdown.test.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/markdown.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/pie/index.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/plot/index.ts
  x-pack/plugins/canvas/common/lib/index.ts
Labels: Team:Canvas, impact:medium, release_note:skip, v7.10.0, v8.0.0

#78994 [Actions] fixes error in UI in the Edit Flyout for PreConfigured Connectors
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/es_index/es_index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/pagerduty/pagerduty.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/resilient.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/server_log/server_log.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/server_log/server_log.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/servicenow.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/slack/slack.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/webhook/webhook.tsx
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/check_action_type_enabled.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_connector_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_connector_form.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_edit_flyout.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors.ts
  x-pack/test/functional_with_es_ssl/config.ts
Labels: Feature:Actions, Team:Alerting Services, release_note:fix, v7.10.0, v8.0.0

#79028 [7.x] [SECURITY_SOLUTION][ENDPOINT] Improve Endpoint Host data generator to also integrate with Ingest (#74305)
  packages/kbn-dev-utils/src/kbn_client/kbn_client.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/common/endpoint/index_data.ts
  x-pack/plugins/security_solution/scripts/endpoint/kbn_client_with_api_key_support.ts
  x-pack/plugins/security_solution/scripts/endpoint/resolver_generator_script.ts
Labels: backport

#78957 core route handler context is now lazy
  src/core/server/core_route_handler_context.test.ts
  src/core/server/core_route_handler_context.ts
  src/core/server/server.ts
Labels: release_note:skip, v7.10.0, v8.0.0

#79102 [7.x] [Lens] Handle missing fields gracefully (#78173)
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/bucket_nesting_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.ts
  x-pack/plugins/lens/public/indexpattern_datasource/utils.ts
Labels: backport

#79103 [7.x] @testing-library remove "pure" hack (#78742)
  src/dev/jest/setup/react_testing_library.js
  src/plugins/embeddable/public/lib/embeddables/embeddable_renderer.test.tsx
  src/plugins/embeddable/public/lib/embeddables/error_embeddable.test.tsx
  src/plugins/vis_type_markdown/public/markdown_vis_controller.test.tsx
  x-pack/plugins/dashboard_enhanced/public/services/drilldowns/actions/flyout_edit_drilldown/menu_item.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/components/action_wizard/action_wizard.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/connected_flyout_manage_drilldowns/connected_flyout_manage_drilldowns.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/flyout_frame/flyout_frame.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/form_drilldown_wizard/form_drilldown_wizard.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/list_manage_drilldowns/list_manage_drilldowns.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/components/url_drilldown_collect_config/url_drilldown_collect_config.test.tsx
Labels: backport

#79042 Remove APM-specific loading indicator
  x-pack/plugins/apm/public/application/csmApp.tsx
  x-pack/plugins/apm/public/application/index.tsx
  x-pack/plugins/apm/public/components/app/ServiceMap/LoadingOverlay.tsx
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/Delayed/index.test.tsx
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/Delayed/index.ts
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/index.test.tsx
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/index.ts
  x-pack/plugins/apm/public/context/LoadingIndicatorContext.tsx
  x-pack/plugins/apm/public/hooks/useFetcher.tsx
  x-pack/plugins/apm/public/hooks/useLoadingIndicator.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:apm, Team:uptime, release_note:skip, v7.10.0, v8.0.0

#78987 [7.x] [DOCS] Adds #74289 to 7.9 Release Notes (#78980)
  docs/CHANGELOG.asciidoc
Labels: backport

#79107 [7.x] Reduce bundle size of the default editor (#78938)
  src/plugins/vis_default_editor/public/components/sidebar/index.ts
  src/plugins/vis_default_editor/public/components/sidebar/navbar.tsx
  src/plugins/vis_default_editor/public/components/sidebar/sidebar.tsx
  src/plugins/vis_default_editor/public/components/sidebar/use_option_tabs.ts
  src/plugins/vis_default_editor/public/default_editor.tsx
  src/plugins/vis_default_editor/public/default_editor_controller.tsx
Labels: backport

#79108 [7.x] [Usage Collection] [schema] `infra` (#78581)
  x-pack/.telemetryrc.json
  x-pack/plugins/infra/server/usage/usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: backport

#79106 [7.x] Omit runtime fields from FLS suggestions (#78330)
  x-pack/plugins/security/server/routes/indices/get_fields.test.ts
  x-pack/plugins/security/server/routes/indices/get_fields.ts
  x-pack/test/api_integration/apis/security/index_fields.ts
  x-pack/test/functional/es_archives/security/flstest/data/mappings.json
Labels: backport

#78986 [ML] Improve calendar ics file parsing
  x-pack/plugins/ml/public/application/settings/calendars/edit/import_modal/utils.js
Labels: :ml, bug, release_note:fix, review, v7.10.0, v8.0.0

#78952 [Usage Collection] [schema] `maps`
  x-pack/.telemetryrc.json
  x-pack/plugins/maps/server/maps_telemetry/collectors/register.ts
  x-pack/plugins/maps/server/maps_telemetry/collectors/register_collector.test.js
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: Feature:Telemetry, Team:Geo, Team:KibanaTelemetry, release_note:skip, v7.10.0, v8.0.0

#79079 [7.x] Make the actual Vislib import async (#78949)
  src/plugins/vis_type_vislib/public/vis_controller.tsx
Labels: backport

#79100 [7.x] [Actions][Jira] Fix bug with Jira sub-task (#79070)
  x-pack/plugins/actions/server/builtin_action_types/jira/service.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_fields_by_issue_type.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issue_types.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_single_issue.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/use_get_incident_types.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/use_get_severity.tsx
Labels: backport

#79111 [7.x] [Mappings editor] Add support for version field type (#78206)
  x-pack/plugins/index_management/public/application/components/mappings_editor/__jest__/client_integration/datatypes/version_datatype.test.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/field_types/index.ts
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/field_types/version_type.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/constants/data_types_definition.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/types/document_fields.ts
Labels: backport

#78238 [ML] Add feature importance summary charts
  x-pack/plugins/ml/common/types/feature_importance.ts
  x-pack/plugins/ml/common/types/inference.ts
  x-pack/plugins/ml/public/application/components/data_grid/feature_importance/decision_path_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/feature_importance/decision_path_classification.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/common/use_results_view_config.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/classification_exploration/classification_exploration.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/exploration_page_wrapper/exploration_page_wrapper.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/regression_exploration/regression_exploration.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/total_feature_importance_summary/feature_importance_summary.tsx
  x-pack/plugins/ml/public/application/services/ml_api_service/inference.ts
  x-pack/plugins/ml/server/routes/schemas/inference_schema.ts
Labels: :ml, Feature:Data Frame Analytics, release_note:enhancement, v7.10.0, v8.0.0

#79104 [7.x] [Maps] Add layer type preview icons (#78650)
  x-pack/plugins/maps/public/classes/_index.scss
  x-pack/plugins/maps/public/classes/layers/_index.scss
  x-pack/plugins/maps/public/classes/layers/_layers.scss
  x-pack/plugins/maps/public/classes/layers/choropleth_layer_wizard/choropleth_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/layers/choropleth_layer_wizard/cloropleth_layer_icon.tsx
  x-pack/plugins/maps/public/classes/layers/layer_wizard_registry.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/clusters_layer_icon.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/clusters_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/heatmap_layer_icon.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/heatmap_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_pew_pew_source/point_2_point_layer_icon.tsx
  x-pack/plugins/maps/public/classes/sources/es_pew_pew_source/point_2_point_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_documents_layer_icon.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_documents_layer_wizard.tsx
Labels: backport

#79109 [7.x] [Mappings editor] Fix bug when switching between mapping tabs (#78707)
  x-pack/plugins/index_management/public/application/components/mappings_editor/__jest__/client_integration/mappings_editor.test.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/templates_form/templates_form.tsx
Labels: backport

#79035 [Logs UI] Move alerting components to public/alerting
  x-pack/plugins/infra/public/alerting/common/criterion_preview_chart/criterion_preview_chart.tsx
  x-pack/plugins/infra/public/alerting/common/group_by_expression/group_by_expression.tsx
  x-pack/plugins/infra/public/alerting/common/group_by_expression/selector.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_dropdown.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_flyout.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criteria.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criterion.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criterion_preview_chart.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/editor.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/hooks/use_chart_preview_data.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/index.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/threshold.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/type_switcher.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/index.ts
  x-pack/plugins/infra/public/alerting/log_threshold/log_threshold_alert_type.ts
  x-pack/plugins/infra/public/alerting/log_threshold/validation.ts
  x-pack/plugins/infra/public/pages/logs/page_content.tsx
  x-pack/plugins/infra/public/plugin.ts
  x-pack/plugins/triggers_actions_ui/public/index.ts
Labels: Feature:Logs UI, Team:logs-metrics-ui, release_note:skip, v7.10.0, v8.0.0

#78854 [SECURITY_SOLUTION][ENDPOINT] Add ability to view Trusted Apps from Ingest Integration Policy Edit page
  x-pack/plugins/security_solution/common/endpoint/types/trusted_apps.ts
  x-pack/plugins/security_solution/public/common/components/header_page/index.tsx
  x-pack/plugins/security_solution/public/management/components/administration_list_page.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/configure_package_policy.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/page_objects/ingest_manager_create_package_policy_page.ts
  x-pack/test/security_solution_endpoint/page_objects/trusted_apps_page.ts
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.10.0, v8.0.0

#78977 [SECURITY_SOLUTION][ENDPOINT] Additional Trusted Apps Create API Validations
  x-pack/plugins/security_solution/common/endpoint/schema/trusted_apps.test.ts
  x-pack/plugins/security_solution/common/endpoint/schema/trusted_apps.ts
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.10.0, v8.0.0

#78515 Update EMS landing page link
  src/plugins/maps_legacy/config.ts
Labels: Team:Geo, release_note:skip, v7.10.0, v8.0.0

#78860 Fix alert add and edit flyout to not close when user clicks outside
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_add.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_edit.tsx
Labels: Feature:Alerting, Team:Alerting Services, release_note:fix, v7.10.0, v8.0.0

#79132 [docs] Fixes wording in backport policy
  docs/developer/contributing/development-github.asciidoc
Labels: Team:Operations, docs, release_note:skip, v7.10.0, v8.0.0

#78843 Fix scenario where orphaned API keys can exist when SO operations fail
  x-pack/plugins/alerts/server/alerts_client.test.ts
  x-pack/plugins/alerts/server/alerts_client.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.10.0, v8.0.0

#77408 [Vega] Fix unexpected change in autosizing behavior post upgrade
  docs/user/dashboard/vega-reference.asciidoc
  src/plugins/vis_type_vega/public/__snapshots__/vega_visualization.test.js.snap
  src/plugins/vis_type_vega/public/data_model/types.ts
  src/plugins/vis_type_vega/public/data_model/vega_parser.test.js
  src/plugins/vis_type_vega/public/data_model/vega_parser.ts
  src/plugins/vis_type_vega/public/vega_view/vega_base_view.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Vega, Team:KibanaApp, release_note:fix, v7.10.0, v7.9.3, v8.0.0

#79105 update rum agent version which contains longtasks
  package.json
  x-pack/package.json
  yarn.lock
Labels: release_note:skip, v7.10.0, v8.0.0

#79121 [7.x] Remove APM-specific loading indicator (#79042)
  x-pack/plugins/apm/public/application/csmApp.tsx
  x-pack/plugins/apm/public/application/index.tsx
  x-pack/plugins/apm/public/components/app/ServiceMap/LoadingOverlay.tsx
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/Delayed/index.test.tsx
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/Delayed/index.ts
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/index.test.tsx
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/index.ts
  x-pack/plugins/apm/public/context/LoadingIndicatorContext.tsx
  x-pack/plugins/apm/public/hooks/useFetcher.tsx
  x-pack/plugins/apm/public/hooks/useLoadingIndicator.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#79117 [7.x] core route handler context is now lazy (#78957)
  src/core/server/core_route_handler_context.test.ts
  src/core/server/core_route_handler_context.ts
  src/core/server/server.ts
Labels: backport

#79126 [7.x] [Usage Collection] [schema] `maps` (#78952)
  x-pack/.telemetryrc.json
  x-pack/plugins/maps/server/maps_telemetry/collectors/register.ts
  x-pack/plugins/maps/server/maps_telemetry/collectors/register_collector.test.js
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: backport

#79027 [Security Solution]Fix basepath used by endpoint telemetry tests
  x-pack/test/security_solution_endpoint/services/endpoint_telemetry.ts
Labels: release_note:skip, v7.10.0

#78875 [Metrics UI] Add ability to override datafeeds and job config for partition field
  x-pack/plugins/infra/public/containers/ml/infra_ml_module_types.ts
  x-pack/plugins/infra/public/containers/ml/infra_ml_setup_state.ts
  x-pack/plugins/infra/public/containers/ml/modules/metrics_hosts/module_descriptor.ts
  x-pack/plugins/infra/public/containers/ml/modules/metrics_k8s/module_descriptor.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/ml/anomaly_detection/anomoly_detection_flyout.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/ml/anomaly_detection/flyout_home.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/ml/anomaly_detection/job_setup_screen.tsx
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:enhancement, v7.10.0, v8.0.0

#78674 [Lens] Consistent Drag and Drop styles
  src/plugins/kibana_react/public/field_button/field_button.tsx
  x-pack/plugins/lens/public/_mixins.scss
  x-pack/plugins/lens/public/drag_drop/__snapshots__/drag_drop.test.tsx.snap
  x-pack/plugins/lens/public/drag_drop/drag_drop.scss
  x-pack/plugins/lens/public/drag_drop/drag_drop.test.tsx
  x-pack/plugins/lens/public/drag_drop/drag_drop.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/frame_layout.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.scss
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.scss
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.scss
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/shared_components/buckets.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Lens, release_note:skip, v7.10.0, v8.0.0

#78767 [Lens] Fix embeddable title and description for reporting and dashboard tooltip
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  src/plugins/visualizations/public/embeddable/visualize_embeddable.ts
  x-pack/plugins/lens/public/datatable_visualization/__snapshots__/expression.test.tsx.snap
  x-pack/plugins/lens/public/datatable_visualization/expression.tsx
  x-pack/plugins/lens/public/datatable_visualization/visualization.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/expression_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/state_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/metric_visualization/expression.test.tsx
  x-pack/plugins/lens/public/metric_visualization/expression.tsx
  x-pack/plugins/lens/public/metric_visualization/types.ts
  x-pack/plugins/lens/public/metric_visualization/visualization.test.ts
  x-pack/plugins/lens/public/metric_visualization/visualization.tsx
  x-pack/plugins/lens/public/pie_visualization/expression.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/pie_visualization/to_expression.ts
  x-pack/plugins/lens/public/pie_visualization/types.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/visualization_container.test.tsx
  x-pack/plugins/lens/public/visualization_container.tsx
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/to_expression.test.ts.snap
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
  x-pack/plugins/lens/public/xy_visualization/types.ts
Labels: Feature:Dashboard, Feature:Embedding, Feature:Lens, Team:KibanaApp, release_note:fix, v7.10.0, v8.0.0

#79145 [7.x] [docs] Fixes wording in backport policy (#79132)
  docs/developer/contributing/development-github.asciidoc
Labels: backport

#78208 [Monitoring] Missing data alert
  x-pack/plugins/monitoring/common/constants.ts
  x-pack/plugins/monitoring/common/types.ts
  x-pack/plugins/monitoring/public/alerts/badge.tsx
  x-pack/plugins/monitoring/public/alerts/callout.tsx
  x-pack/plugins/monitoring/public/alerts/filter_alert_states.ts
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/expression.tsx
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/index.ts
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/missing_monitoring_data_alert.tsx
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/validation.tsx
  x-pack/plugins/monitoring/public/alerts/panel.tsx
  x-pack/plugins/monitoring/public/alerts/status.tsx
  x-pack/plugins/monitoring/public/components/apm/instance/instance.js
  x-pack/plugins/monitoring/public/components/apm/instance/status.js
  x-pack/plugins/monitoring/public/components/apm/instances/instances.js
  x-pack/plugins/monitoring/public/components/apm/instances/status.js
  x-pack/plugins/monitoring/public/components/apm/overview/index.js
  x-pack/plugins/monitoring/public/components/beats/beat/beat.js
  x-pack/plugins/monitoring/public/components/beats/listing/listing.js
  x-pack/plugins/monitoring/public/components/beats/overview/overview.js
  x-pack/plugins/monitoring/public/components/beats/stats.js
  x-pack/plugins/monitoring/public/components/cluster/overview/apm_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/beats_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/elasticsearch_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/index.js
  x-pack/plugins/monitoring/public/components/cluster/overview/kibana_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/logstash_panel.js
  x-pack/plugins/monitoring/public/components/elasticsearch/node/node.js
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/plugins/monitoring/public/components/kibana/instances/instances.js
  x-pack/plugins/monitoring/public/components/logstash/listing/listing.js
  x-pack/plugins/monitoring/public/plugin.ts
  x-pack/plugins/monitoring/public/views/apm/instance/index.js
  x-pack/plugins/monitoring/public/views/apm/instances/index.js
  x-pack/plugins/monitoring/public/views/apm/overview/index.js
  x-pack/plugins/monitoring/public/views/beats/beat/index.js
  x-pack/plugins/monitoring/public/views/beats/listing/index.js
  x-pack/plugins/monitoring/public/views/beats/overview/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/node/advanced/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/node/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/nodes/index.js
  x-pack/plugins/monitoring/public/views/kibana/instance/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/advanced/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/index.js
  x-pack/plugins/monitoring/public/views/logstash/nodes/index.js
  x-pack/plugins/monitoring/server/alerts/alerts_factory.test.ts
  x-pack/plugins/monitoring/server/alerts/alerts_factory.ts
  x-pack/plugins/monitoring/server/alerts/base_alert.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/index.ts
  x-pack/plugins/monitoring/server/alerts/missing_monitoring_data_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/missing_monitoring_data_alert.ts
  x-pack/plugins/monitoring/server/alerts/types.d.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_clusters.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_missing_monitoring_data.test.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_missing_monitoring_data.ts
  x-pack/plugins/monitoring/server/lib/alerts/get_listing_link_for_stack_product.ts
  x-pack/plugins/monitoring/server/lib/alerts/get_stack_product_label.ts
  x-pack/plugins/monitoring/server/lib/alerts/get_type_label_for_stack_product.ts
Labels: Team:Monitoring, release_note:enhancement, review, v7.10.0, v8.0.0

#79131 [7.x] [Logs UI] Move alerting components to public/alerting (#79035)
  x-pack/plugins/infra/public/alerting/common/criterion_preview_chart/criterion_preview_chart.tsx
  x-pack/plugins/infra/public/alerting/common/group_by_expression/group_by_expression.tsx
  x-pack/plugins/infra/public/alerting/common/group_by_expression/selector.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_dropdown.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_flyout.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criteria.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criterion.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criterion_preview_chart.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/editor.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/hooks/use_chart_preview_data.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/index.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/threshold.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/type_switcher.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/index.ts
  x-pack/plugins/infra/public/alerting/log_threshold/log_threshold_alert_type.ts
  x-pack/plugins/infra/public/alerting/log_threshold/validation.ts
  x-pack/plugins/infra/public/pages/logs/page_content.tsx
  x-pack/plugins/infra/public/plugin.ts
  x-pack/plugins/triggers_actions_ui/public/index.ts
Labels: backport

#78038 [Metrics UI] Display No Data context.values as [NO DATA]
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:fix, v7.10.0, v8.0.0

#79118 [7.x] [Lens] Histogram/range operation new copy (#78328)
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/advanced_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/range_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/ranges.tsx
Labels: backport

#78868 [7.x] [Metrics UI] Inventory shows * node when there are no results (#78371)
  x-pack/plugins/infra/server/lib/metrics/constants.ts
  x-pack/test/api_integration/apis/metrics_ui/metrics_explorer.ts
Labels: backport

#79021 [7.x] [Reporting] API Integration tests: fix flaky tests for Spaces CSV formatting (#78849)
  x-pack/test/reporting_api_integration/reporting_and_security/spaces.ts
Labels: backport

#79143 [7.x] Fix alert add and edit flyout to not close when user clicks outside (#78860)
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_add.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_edit.tsx
Labels: backport

#78836 [Ingest Manager] Ensure we trigger agent policy updated event when we bump revision.
  x-pack/plugins/ingest_manager/server/services/agent_policy.ts
  x-pack/test/ingest_manager_api_integration/apis/settings/update.ts
Labels: Team:Ingest Management, bug, release_note:skip, v7.10.0, v8.0.0

#79127 chore(NA): remove non existing plugin paths from case api integration tests
  x-pack/test/case_api_integration/common/config.ts
Labels: Team:Operations, chore, release_note:skip, v7.10.0, v7.9.3, v8.0.0

#79150 [7.x] update rum agent version which contains longtasks (#79105)
  package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#79146 [7.x] [Vega] Fix unexpected change in autosizing behavior post upgrade (#77408)
  docs/user/dashboard/vega-reference.asciidoc
  src/plugins/vis_type_vega/public/__snapshots__/vega_visualization.test.js.snap
  src/plugins/vis_type_vega/public/data_model/types.ts
  src/plugins/vis_type_vega/public/data_model/vega_parser.test.js
  src/plugins/vis_type_vega/public/data_model/vega_parser.ts
  src/plugins/vis_type_vega/public/vega_view/vega_base_view.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#79137 [7.x] [SECURITY_SOLUTION][ENDPOINT] Add ability to view Trusted Apps from Ingest Integration Policy Edit page (#78854)
  x-pack/plugins/security_solution/common/endpoint/types/trusted_apps.ts
  x-pack/plugins/security_solution/public/common/components/header_page/index.tsx
  x-pack/plugins/security_solution/public/management/components/administration_list_page.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/configure_package_policy.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/page_objects/ingest_manager_create_package_policy_page.ts
  x-pack/test/security_solution_endpoint/page_objects/trusted_apps_page.ts
Labels: backport

#79138 [7.x] [SECURITY_SOLUTION][ENDPOINT] Additional Trusted Apps Create API Validations (#78977)
  x-pack/plugins/security_solution/common/endpoint/schema/trusted_apps.test.ts
  x-pack/plugins/security_solution/common/endpoint/schema/trusted_apps.ts
Labels: backport

#78364 [ML] Update transform cloning to include description and new fields
  x-pack/plugins/transform/public/app/common/request.test.ts
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_summary.tsx
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: :ml, Feature:Transforms, release_note:enhancement, v7.10.0, v8.0.0

#79144 [7.x] Fix scenario where orphaned API keys can exist when SO operations fail (#78843)
  x-pack/plugins/alerts/server/alerts_client.test.ts
  x-pack/plugins/alerts/server/alerts_client.ts
Labels: backport

#79161 [7.x] [Metrics UI] Display No Data context.values as [NO DATA] (#78038)
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
Labels: backport

#79046 [Fleet] Fix agent policy change action migration
  x-pack/plugins/ingest_manager/server/plugin.ts
  x-pack/plugins/ingest_manager/server/saved_objects/index.ts
  x-pack/plugins/ingest_manager/server/saved_objects/migrations/to_v7_10_0.ts
Labels: Team:Ingest Management, bug, release_note:skip, v7.10.0, v8.0.0

#79163 [7.x] [Monitoring] Missing data alert (#78208)
  x-pack/plugins/monitoring/common/constants.ts
  x-pack/plugins/monitoring/common/types.ts
  x-pack/plugins/monitoring/public/alerts/badge.tsx
  x-pack/plugins/monitoring/public/alerts/callout.tsx
  x-pack/plugins/monitoring/public/alerts/filter_alert_states.ts
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/expression.tsx
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/index.ts
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/missing_monitoring_data_alert.tsx
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/validation.tsx
  x-pack/plugins/monitoring/public/alerts/panel.tsx
  x-pack/plugins/monitoring/public/alerts/status.tsx
  x-pack/plugins/monitoring/public/components/apm/instance/instance.js
  x-pack/plugins/monitoring/public/components/apm/instance/status.js
  x-pack/plugins/monitoring/public/components/apm/instances/instances.js
  x-pack/plugins/monitoring/public/components/apm/instances/status.js
  x-pack/plugins/monitoring/public/components/apm/overview/index.js
  x-pack/plugins/monitoring/public/components/beats/beat/beat.js
  x-pack/plugins/monitoring/public/components/beats/listing/listing.js
  x-pack/plugins/monitoring/public/components/beats/overview/overview.js
  x-pack/plugins/monitoring/public/components/beats/stats.js
  x-pack/plugins/monitoring/public/components/cluster/overview/apm_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/beats_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/elasticsearch_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/index.js
  x-pack/plugins/monitoring/public/components/cluster/overview/kibana_panel.js
  x-pack/plugins/monitoring/public/components/cluster/overview/logstash_panel.js
  x-pack/plugins/monitoring/public/components/elasticsearch/node/node.js
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/plugins/monitoring/public/components/kibana/instances/instances.js
  x-pack/plugins/monitoring/public/components/logstash/listing/listing.js
  x-pack/plugins/monitoring/public/plugin.ts
  x-pack/plugins/monitoring/public/views/apm/instance/index.js
  x-pack/plugins/monitoring/public/views/apm/instances/index.js
  x-pack/plugins/monitoring/public/views/apm/overview/index.js
  x-pack/plugins/monitoring/public/views/beats/beat/index.js
  x-pack/plugins/monitoring/public/views/beats/listing/index.js
  x-pack/plugins/monitoring/public/views/beats/overview/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/node/advanced/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/node/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/nodes/index.js
  x-pack/plugins/monitoring/public/views/kibana/instance/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/advanced/index.js
  x-pack/plugins/monitoring/public/views/logstash/node/index.js
  x-pack/plugins/monitoring/public/views/logstash/nodes/index.js
  x-pack/plugins/monitoring/server/alerts/alerts_factory.test.ts
  x-pack/plugins/monitoring/server/alerts/alerts_factory.ts
  x-pack/plugins/monitoring/server/alerts/base_alert.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/index.ts
  x-pack/plugins/monitoring/server/alerts/missing_monitoring_data_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/missing_monitoring_data_alert.ts
  x-pack/plugins/monitoring/server/alerts/types.d.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_clusters.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_missing_monitoring_data.test.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_missing_monitoring_data.ts
  x-pack/plugins/monitoring/server/lib/alerts/get_listing_link_for_stack_product.ts
  x-pack/plugins/monitoring/server/lib/alerts/get_stack_product_label.ts
  x-pack/plugins/monitoring/server/lib/alerts/get_type_label_for_stack_product.ts
Labels: backport

#79149 [7.x] [Security Solution]Fix basepath used by endpoint telemetry tests (#79027)
  x-pack/test/security_solution_endpoint/services/endpoint_telemetry.ts
Labels: backport

#76641 [ML] DF Analytics: Collapsable sections on results pages
  x-pack/plugins/ml/public/application/components/color_range_legend/color_range_legend.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/common/fields.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/expandable_section/expandable_section.scss
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/expandable_section/expandable_section.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/expandable_section/index.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/outlier_exploration/outlier_exploration.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/outlier_exploration/use_outlier_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/page.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_details_pane.scss
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_details_pane.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_messages_pane.scss
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_messages_pane.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/services/ml/data_frame_analytics_results.ts
Labels: :ml, Feature:Data Frame Analytics, release_note:enhancement, v7.10.0

#79153 [7.x] [Lens] Consistent Drag and Drop styles (#78674)
  src/plugins/kibana_react/public/field_button/field_button.tsx
  x-pack/plugins/lens/public/_mixins.scss
  x-pack/plugins/lens/public/drag_drop/__snapshots__/drag_drop.test.tsx.snap
  x-pack/plugins/lens/public/drag_drop/drag_drop.scss
  x-pack/plugins/lens/public/drag_drop/drag_drop.test.tsx
  x-pack/plugins/lens/public/drag_drop/drag_drop.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/frame_layout.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.scss
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.scss
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.scss
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/shared_components/buckets.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#79159 [7.x] [ML] Add feature importance summary charts (#78238)
  x-pack/plugins/ml/common/types/feature_importance.ts
  x-pack/plugins/ml/common/types/inference.ts
  x-pack/plugins/ml/public/application/components/data_grid/feature_importance/decision_path_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/feature_importance/decision_path_classification.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/common/use_results_view_config.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/classification_exploration/classification_exploration.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/exploration_page_wrapper/exploration_page_wrapper.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/regression_exploration/regression_exploration.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/total_feature_importance_summary/feature_importance_summary.tsx
  x-pack/plugins/ml/public/application/services/ml_api_service/inference.ts
  x-pack/plugins/ml/server/routes/schemas/inference_schema.ts
Labels: backport

#79154 78024: add more test for transform index
  x-pack/test/ingest_manager_api_integration/apis/epm/install_remove_assets.ts
Labels: release_note:skip, v7.10.0, v8.0.0

#79174 [7.x] chore(NA): remove non existing plugin paths from case api integration tests (#79127)
  x-pack/test/case_api_integration/common/config.ts
Labels: backport

#79152 Always Show Embeddable Panel Header in Edit Mode
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  test/functional/apps/dashboard/dashboard_options.js
Labels: Feature:Dashboard, Feature:Embedding, release_note:skip, v7.10.0, v8.0.0

#79045 [Search] Fix timeout upgrade link
  src/plugins/data/public/search/errors/timeout_error.test.tsx
  src/plugins/data/public/search/errors/timeout_error.tsx
Labels: Feature:Search, Team:AppArch, release_note:skip, review, v7.10.0, v8.0.0

#79170 [7.x] [Ingest Manager] Ensure we trigger agent policy updated event when we bump revision. (#78836)
  x-pack/plugins/ingest_manager/server/services/agent_policy.ts
  x-pack/test/ingest_manager_api_integration/apis/settings/update.ts
Labels: backport

#79175 [7.9] chore(NA): remove non existing plugin paths from case api integration tests (#79127)
  x-pack/test/case_api_integration/common/config.ts
Labels: backport

#79173 [babel] remove unused/unneeded babel plugins
  packages/kbn-babel-preset/node_preset.js
  packages/kbn-babel-preset/package.json
  packages/kbn-babel-preset/webpack_preset.js
  yarn.lock
Labels: Team:Operations, release_note:skip, v7.10.0, v8.0.0

#79181 [7.x] [ML] Update transform cloning to include description and new fields (#78364)
  x-pack/plugins/transform/public/app/common/request.test.ts
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_summary.tsx
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: backport

#79185 [7.x] [Fleet] Fix agent policy change action migration (#79046)
  x-pack/plugins/ingest_manager/server/plugin.ts
  x-pack/plugins/ingest_manager/server/saved_objects/index.ts
  x-pack/plugins/ingest_manager/server/saved_objects/migrations/to_v7_10_0.ts
Labels: backport

#79184 Fix z-index of KQL Suggestions dropdown
  src/plugins/data/public/ui/typeahead/suggestions_component.tsx
Labels: release_note:skip, v7.10.0

#79191 [7.x] Always Show Embeddable Panel Header in Edit Mode (#79152)
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  test/functional/apps/dashboard/dashboard_options.js
Labels: backport

#79001 move apps lower in tree, add metricbeat dashboard screenshot test
  test/functional/services/common/failure_debugging.ts
  test/functional/services/common/screenshots.ts
  test/functional/services/common/snapshots.ts
  x-pack/test/stack_functional_integration/apps/ccs/ccs.js
  x-pack/test/stack_functional_integration/apps/ccs/index.js
  x-pack/test/stack_functional_integration/apps/filebeat/filebeat.js
  x-pack/test/stack_functional_integration/apps/filebeat/index.js
  x-pack/test/stack_functional_integration/apps/heartbeat/_heartbeat.js
  x-pack/test/stack_functional_integration/apps/heartbeat/index.js
  x-pack/test/stack_functional_integration/apps/management/_index_pattern_create.js
  x-pack/test/stack_functional_integration/apps/management/index.js
  x-pack/test/stack_functional_integration/apps/metricbeat/_metricbeat.js
  x-pack/test/stack_functional_integration/apps/metricbeat/_metricbeat_dashboard.js
  x-pack/test/stack_functional_integration/apps/metricbeat/index.js
  x-pack/test/stack_functional_integration/apps/monitoring/_monitoring.js
  x-pack/test/stack_functional_integration/apps/monitoring/_monitoring_metricbeat.js
  x-pack/test/stack_functional_integration/apps/monitoring/index.js
  x-pack/test/stack_functional_integration/apps/packetbeat/_packetbeat.js
  x-pack/test/stack_functional_integration/apps/packetbeat/index.js
  x-pack/test/stack_functional_integration/apps/reporting/index.js
  x-pack/test/stack_functional_integration/apps/reporting/reporting_watcher.js
  x-pack/test/stack_functional_integration/apps/reporting/reporting_watcher_png.js
  x-pack/test/stack_functional_integration/apps/reporting/util.js
  x-pack/test/stack_functional_integration/apps/sample_data/e_commerce.js
  x-pack/test/stack_functional_integration/apps/sample_data/index.js
  x-pack/test/stack_functional_integration/apps/telemetry/_telemetry.js
  x-pack/test/stack_functional_integration/apps/telemetry/index.js
  x-pack/test/stack_functional_integration/apps/winlogbeat/_winlogbeat.js
  x-pack/test/stack_functional_integration/apps/winlogbeat/index.js
  x-pack/test/stack_functional_integration/configs/config.stack_functional_integration_base.js
  x-pack/test/stack_functional_integration/configs/tests_list.js
Labels: Team:QA, release_note:skip, test-stack-integration, v7.10.0, v8.0.0

#78147 [Security Solution] Searchstrategy integration
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/last_first_seen/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/last_first_seen/index.ts
  x-pack/test/api_integration/apis/security_solution/authentications.ts
  x-pack/test/api_integration/apis/security_solution/host_details.ts
  x-pack/test/api_integration/apis/security_solution/hosts.ts
  x-pack/test/api_integration/apis/security_solution/index.js
  x-pack/test/api_integration/apis/security_solution/kpi_host_details.ts
  x-pack/test/api_integration/apis/security_solution/kpi_hosts.ts
  x-pack/test/api_integration/apis/security_solution/kpi_network.ts
  x-pack/test/api_integration/apis/security_solution/network_details.ts
  x-pack/test/api_integration/apis/security_solution/network_dns.ts
  x-pack/test/api_integration/apis/security_solution/network_top_n_flow.ts
  x-pack/test/api_integration/apis/security_solution/overview_host.ts
  x-pack/test/api_integration/apis/security_solution/overview_network.ts
  x-pack/test/api_integration/apis/security_solution/sources.ts
  x-pack/test/api_integration/apis/security_solution/timeline.ts
  x-pack/test/api_integration/apis/security_solution/timeline_details.ts
  x-pack/test/api_integration/apis/security_solution/tls.ts
  x-pack/test/api_integration/apis/security_solution/uncommon_processes.ts
  x-pack/test/api_integration/apis/security_solution/users.ts
  x-pack/test/functional/es_archives/filebeat/default/data.json.gz
  x-pack/test/functional/es_archives/packetbeat/default/data.json.gz
Labels: release_note:skip, v7.10.0

#79196 [7.x] Prevent multiple calls to backend from UI (#77970)
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.tsx
Labels: backport

#79099 Fix long tasks query
  x-pack/plugins/apm/server/lib/rum_client/__snapshots__/queries.test.ts.snap
  x-pack/plugins/apm/server/lib/rum_client/get_long_task_metrics.ts
  x-pack/plugins/apm/server/projections/rum_page_load_transactions.ts
  x-pack/plugins/apm/server/routes/rum_client.ts
  x-pack/test/apm_api_integration/trial/tests/csm/long_task_metrics.ts
Labels: Team:apm, Team:uptime, release_note:skip, v7.10.0, v8.0.0

#78235 Extended Email action configuration with hasAuth property to identify if the connector require user credentials. Improved UX for Email connector
  x-pack/plugins/actions/server/builtin_action_types/email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/email.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.ts
  x-pack/plugins/actions/server/saved_objects/migrations.test.ts
  x-pack/plugins/actions/server/saved_objects/migrations.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email_connector.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email_connector.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_connector_form.tsx
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/email.ts
Labels: Feature:Actions, Project:Alerting, Team:Alerting Services, release_note:skip, v7.10.0, v8.0.0

#79200 [7.x] [babel] remove unused/unneeded babel plugins (#79173)
  packages/kbn-babel-preset/node_preset.js
  packages/kbn-babel-preset/package.json
  packages/kbn-babel-preset/webpack_preset.js
  yarn.lock
Labels: backport

#79140 [7.x] Update dependency vega to ^5.17.0 (#79088)
  package.json
  yarn.lock
Labels: backport

#78720 Bumps Jest related packages
  package.json
  packages/elastic-eslint-config-kibana/package.json
  packages/kbn-es/src/integration_tests/cluster.test.js
  packages/kbn-i18n/src/core/i18n.test.ts
  packages/kbn-optimizer/package.json
  packages/kbn-spec-to-console/package.json
  src/legacy/server/logging/rotate/log_rotator.test.ts
  src/plugins/dashboard/public/application/listing/dashboard_listing.test.js
  src/plugins/index_pattern_management/public/components/create_index_pattern_wizard/components/step_time_field/step_time_field.test.tsx
  src/plugins/vis_default_editor/public/components/controls/components/number_list/number_list.test.tsx
  src/plugins/vis_type_timeseries/public/application/components/splits/terms.test.js
  x-pack/package.json
  x-pack/plugins/alerts/server/alerts_client.test.ts
  x-pack/plugins/canvas/shareable_runtime/components/__tests__/app.test.tsx
  x-pack/plugins/canvas/shareable_runtime/components/footer/settings/__tests__/settings.test.tsx
  x-pack/plugins/event_log/server/lib/ready_signal.test.ts
  x-pack/plugins/licensing/public/plugin.test.ts
  x-pack/plugins/ml/public/application/services/ml_server_info.test.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities._service.test.ts
  x-pack/plugins/ml/server/lib/capabilities/check_capabilities.test.ts
  x-pack/plugins/ml/server/models/annotation_service/annotation.test.ts
  x-pack/plugins/ml/server/models/job_service/new_job_caps/new_job_caps.test.ts
  x-pack/plugins/monitoring/public/lib/ensure_minimum_time.test.js
  x-pack/plugins/monitoring/public/lib/setup_mode.test.js
  x-pack/plugins/monitoring/public/lib/setup_mode.tsx
  x-pack/plugins/reporting/server/routes/lib/authorized_user_pre_routing.test.ts
  x-pack/plugins/rollup/public/crud_app/sections/job_list/detail_panel/detail_panel.test.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_list.test.js
  x-pack/plugins/rollup/public/crud_app/sections/job_list/job_table/job_table.test.js
  x-pack/plugins/rollup/public/test/client_integration/job_create_review.test.js
  x-pack/plugins/rollup/public/test/client_integration/job_list.test.js
  x-pack/plugins/rollup/public/test/client_integration/job_list_clone.test.js
  x-pack/plugins/security_solution/public/network/components/flow_controls/__snapshots__/flow_target_select.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/new_template_timeline.test.tsx
  x-pack/plugins/task_manager/server/lib/bulk_operation_buffer.test.ts
  x-pack/plugins/task_manager/server/task_store.test.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.test.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_form.test.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_summary.test.tsx
  x-pack/plugins/ui_actions_enhanced/public/custom_time_range_action.test.ts
  x-pack/plugins/ui_actions_enhanced/public/custom_time_range_badge.test.ts
  yarn.lock
Labels: Team:Operations, release_note:skip, v7.10.0, v8.0.0

#79203 [7.x] Fix z-index of KQL Suggestions dropdown (#79184)
  src/plugins/data/public/ui/typeahead/suggestions_component.tsx
Labels: backport

#79205 [Ingest Manager] Fix condition for filtering to installed packages
  x-pack/plugins/ingest_manager/server/services/epm/packages/get.ts
Labels: Team:Ingest Management, bug, release_note:skip, v7.10.0, v7.9.3, v8.0.0

#75553 [Alerting] formalize alert status and add status fields to alert saved object
  x-pack/plugins/alerts/common/alert.ts
  x-pack/plugins/alerts/server/alerts_client.test.ts
  x-pack/plugins/alerts/server/alerts_client.ts
  x-pack/plugins/alerts/server/lib/alert_execution_status.test.ts
  x-pack/plugins/alerts/server/lib/alert_execution_status.ts
  x-pack/plugins/alerts/server/lib/alert_instance_summary_from_event_log.test.ts
  x-pack/plugins/alerts/server/lib/error_with_reason.test.ts
  x-pack/plugins/alerts/server/lib/error_with_reason.ts
  x-pack/plugins/alerts/server/lib/index.ts
  x-pack/plugins/alerts/server/lib/is_alert_not_found_error.test.ts
  x-pack/plugins/alerts/server/lib/is_alert_not_found_error.ts
  x-pack/plugins/alerts/server/plugin.ts
  x-pack/plugins/alerts/server/routes/create.test.ts
  x-pack/plugins/alerts/server/routes/get.test.ts
  x-pack/plugins/alerts/server/saved_objects/index.ts
  x-pack/plugins/alerts/server/saved_objects/mappings.json
  x-pack/plugins/alerts/server/saved_objects/migrations.test.ts
  x-pack/plugins/alerts/server/saved_objects/migrations.ts
  x-pack/plugins/alerts/server/saved_objects/partially_update_alert.ts
  x-pack/plugins/alerts/server/task_runner/alert_task_instance.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.ts
  x-pack/plugins/alerts/server/task_runner/task_runner_factory.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner_factory.ts
  x-pack/plugins/alerts/server/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/patch_rules.mock.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_details.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_details_route.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_instances.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_instances_route.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/view_in_app.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_edit.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/common/components/with_bulk_alert_api_operations.test.tsx
  x-pack/test/alerting_api_integration/common/lib/test_assertions.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/create.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/execution_status.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/get.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/create.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/execution_status.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/get.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/update.ts
  x-pack/test/detection_engine_api_integration/utils.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.10.0, v8.0.0

#78667 [7.x] Adding comment about importing lodash library (#78156)
  .eslintrc.js
  packages/kbn-std/src/merge.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/source_icon/source_icon.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/source_row/source_row.tsx
  x-pack/plugins/grokdebugger/public/components/grok_debugger/grok_debugger.js
  x-pack/plugins/index_lifecycle_management/public/application/services/policies/policy_serialization.test.ts
  x-pack/plugins/index_lifecycle_management/public/application/services/policies/shared/serialize_phase_with_allocation.ts
  x-pack/plugins/infra/public/components/logging/log_analysis_job_status/quality_warning_notices.tsx
  x-pack/plugins/infra/public/pages/link_to/redirect_to_node_logs.tsx
  x-pack/plugins/licensing/public/services/feature_usage_service.ts
  x-pack/plugins/ml/common/util/job_utils.ts
  x-pack/plugins/ml/public/application/components/annotations/annotations_table/annotations_table.js
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table.js
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table_columns.js
  x-pack/plugins/ml/public/application/components/anomalies_table/anomaly_details.js
  x-pack/plugins/ml/public/application/components/anomalies_table/influencers_cell.js
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.js
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/use_table_settings.ts
  x-pack/plugins/ml/public/application/datavisualizer/file_based/components/combined_fields/geo_point.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container_service.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container_service.test.js
  x-pack/plugins/ml/public/application/explorer/explorer_swimlane.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/jobs_list/jobs_list.js
  x-pack/plugins/ml/public/application/services/forecast_service.js
  x-pack/plugins/ml/public/application/services/job_service.js
  x-pack/plugins/ml/public/application/services/mapping_service.js
  x-pack/plugins/ml/public/application/services/results_service/result_service_rx.ts
  x-pack/plugins/ml/public/application/services/results_service/results_service.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/forecasting_modal/forecasting_modal.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseries_search_service.ts
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer_utils/timeseriesexplorer_utils.js
  x-pack/plugins/ml/public/application/util/chart_config_builder.js
  x-pack/plugins/ml/public/application/util/time_buckets.js
  x-pack/plugins/ml/public/ml_url_generator/anomaly_detection_urls_generator.ts
  x-pack/plugins/ml/public/ml_url_generator/common.ts
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.tsx
  x-pack/plugins/security_solution/public/common/store/sourcerer/reducer.ts
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/timelines/containers/api.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/advanced_pivot_editor/advanced_pivot_editor.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/aggregation_list/popover_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/apply_transform_config_to_define_state.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/filter_agg/components/filter_term_form.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/edit_transform_flyout/use_edit_transform_flyout.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/use_table_settings.ts
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/components/connected_flyout_manage_drilldowns/connected_flyout_manage_drilldowns.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/url_drilldown_scope.ts
Labels: backport

#79220 [7.x] [canvas] only import templates when necessary (#78709)
  x-pack/plugins/canvas/i18n/templates/template_strings.test.ts
  x-pack/plugins/canvas/server/templates/index.ts
Labels: backport

#79215 [7.x] Extended Email action configuration with hasAuth property to identify if the connector require user credentials. Improved UX for Email connector (#78235)
  x-pack/plugins/actions/server/builtin_action_types/email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/email.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.ts
  x-pack/plugins/actions/server/saved_objects/migrations.test.ts
  x-pack/plugins/actions/server/saved_objects/migrations.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email_connector.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/email/email_connector.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_connector_form.tsx
  x-pack/test/alerting_api_integration/security_and_spaces/tests/actions/builtin_action_types/email.ts
Labels: backport

#79221 [optimizer] strip proptypes from plugin bundles in production
  packages/kbn-babel-preset/package.json
  packages/kbn-babel-preset/webpack_preset.js
  packages/kbn-optimizer/src/worker/webpack.config.ts
  yarn.lock
Labels: Team:Operations, release_note:skip, v7.10.0, v8.0.0

#79224 [7.x] Fix condition for filtering to installed packages (#79205)
  x-pack/plugins/ingest_manager/server/services/epm/packages/get.ts
Labels: backport

#78825 chore(NA): assures a single version for the same dependency across the entire project
  package.json
  packages/kbn-apm-config-loader/package.json
  packages/kbn-es/package.json
  packages/kbn-plugin-helpers/package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/package.json
  packages/kbn-pm/src/utils/validate_yarn_lock.ts
  packages/kbn-release-notes/package.json
  packages/kbn-storybook/package.json
  packages/kbn-storybook/webpack.config.ts
  packages/kbn-test/package.json
  packages/kbn-ui-framework/package.json
  tasks/config/run.js
  tasks/jenkins.js
  tasks/verify_dependency_versions.js
  test/scripts/checks/verify_dependency_versions.sh
  vars/tasks.groovy
  x-pack/package.json
  x-pack/plugins/apm/e2e/package.json
  x-pack/plugins/apm/scripts/package.json
  x-pack/plugins/reporting/server/browsers/extract/unzip.js
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/scripts/beat_docs/build.js
  yarn.lock
Labels: Team:Operations, Team:apm, chore, release_note:skip, v7.10.0, v8.0.0

#79214 [Metrics UI] Override anomaly detection partition field
  x-pack/plugins/infra/public/containers/ml/infra_ml_module_types.ts
  x-pack/plugins/infra/public/containers/ml/infra_ml_setup_state.ts
  x-pack/plugins/infra/public/containers/ml/modules/metrics_hosts/module_descriptor.ts
  x-pack/plugins/infra/public/containers/ml/modules/metrics_k8s/module_descriptor.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/ml/anomaly_detection/anomoly_detection_flyout.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/ml/anomaly_detection/flyout_home.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/ml/anomaly_detection/job_setup_screen.tsx
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:enhancement, v7.10.0, v8.0.0

#79227 [7.x] [Alerting] formalize alert status and add status fields to alert saved object (#75553)
  x-pack/plugins/alerts/common/alert.ts
  x-pack/plugins/alerts/server/alerts_client.test.ts
  x-pack/plugins/alerts/server/alerts_client.ts
  x-pack/plugins/alerts/server/lib/alert_execution_status.test.ts
  x-pack/plugins/alerts/server/lib/alert_execution_status.ts
  x-pack/plugins/alerts/server/lib/alert_instance_summary_from_event_log.test.ts
  x-pack/plugins/alerts/server/lib/error_with_reason.test.ts
  x-pack/plugins/alerts/server/lib/error_with_reason.ts
  x-pack/plugins/alerts/server/lib/index.ts
  x-pack/plugins/alerts/server/lib/is_alert_not_found_error.test.ts
  x-pack/plugins/alerts/server/lib/is_alert_not_found_error.ts
  x-pack/plugins/alerts/server/plugin.ts
  x-pack/plugins/alerts/server/routes/create.test.ts
  x-pack/plugins/alerts/server/routes/get.test.ts
  x-pack/plugins/alerts/server/saved_objects/index.ts
  x-pack/plugins/alerts/server/saved_objects/mappings.json
  x-pack/plugins/alerts/server/saved_objects/migrations.test.ts
  x-pack/plugins/alerts/server/saved_objects/migrations.ts
  x-pack/plugins/alerts/server/saved_objects/partially_update_alert.ts
  x-pack/plugins/alerts/server/task_runner/alert_task_instance.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.ts
  x-pack/plugins/alerts/server/task_runner/task_runner_factory.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner_factory.ts
  x-pack/plugins/alerts/server/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/patch_rules.mock.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_details.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_details_route.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_instances.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_instances_route.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/view_in_app.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_edit.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/common/components/with_bulk_alert_api_operations.test.tsx
  x-pack/test/alerting_api_integration/common/lib/test_assertions.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/create.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/execution_status.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/get.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/create.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/execution_status.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/get.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/update.ts
  x-pack/test/detection_engine_api_integration/utils.ts
Labels: backport

#78490 Convert VectorLayer to typescript
  x-pack/plugins/maps/common/descriptor_types/data_request_descriptor_types.ts
  x-pack/plugins/maps/common/descriptor_types/map_descriptor.ts
  x-pack/plugins/maps/common/elasticsearch_util/es_agg_utils.ts
  x-pack/plugins/maps/public/actions/data_request_actions.ts
  x-pack/plugins/maps/public/classes/joins/inner_join.d.ts
  x-pack/plugins/maps/public/classes/joins/join.ts
  x-pack/plugins/maps/public/classes/layers/blended_vector_layer/blended_vector_layer.ts
  x-pack/plugins/maps/public/classes/layers/heatmap_layer/heatmap_layer.js
  x-pack/plugins/maps/public/classes/layers/layer.test.ts
  x-pack/plugins/maps/public/classes/layers/layer.tsx
  x-pack/plugins/maps/public/classes/layers/tile_layer/tile_layer.js
  x-pack/plugins/maps/public/classes/layers/tiled_vector_layer/tiled_vector_layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.d.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
  x-pack/plugins/maps/public/classes/sources/es_agg_source/es_agg_source.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.d.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.test.ts
  x-pack/plugins/maps/public/classes/sources/es_source/es_source.d.ts
  x-pack/plugins/maps/public/classes/sources/es_source/es_source.js
  x-pack/plugins/maps/public/classes/sources/es_term_source/es_term_source.d.ts
  x-pack/plugins/maps/public/classes/sources/es_term_source/es_term_source.js
  x-pack/plugins/maps/public/classes/sources/kibana_regionmap_source/kibana_regionmap_source.js
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/mvt_single_layer_vector_source.tsx
  x-pack/plugins/maps/public/classes/sources/vector_source/vector_source.d.ts
  x-pack/plugins/maps/public/classes/styles/vector/vector_style.tsx
  x-pack/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/toc_entry_actions_popover/toc_entry_actions_popover.test.tsx
Labels: Team:Geo, chore, release_note:skip, v7.10.0, v8.0.0

#79236 [7.x] [optimizer] strip proptypes from plugin bundles in production (#79221)
  packages/kbn-babel-preset/package.json
  packages/kbn-babel-preset/webpack_preset.js
  packages/kbn-optimizer/src/worker/webpack.config.ts
  yarn.lock
Labels: backport

#79237 [7.x] chore(NA): assures a single version for the same dependency across the entire project (#78825)
  package.json
  packages/kbn-apm-config-loader/package.json
  packages/kbn-es/package.json
  packages/kbn-plugin-helpers/package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/package.json
  packages/kbn-pm/src/utils/validate_yarn_lock.ts
  packages/kbn-release-notes/package.json
  packages/kbn-test/package.json
  packages/kbn-ui-framework/package.json
  packages/kbn-ui-shared-deps/package.json
  tasks/config/run.js
  tasks/jenkins.js
  tasks/verify_dependency_versions.js
  test/scripts/checks/verify_dependency_versions.sh
  vars/tasks.groovy
  x-pack/package.json
  x-pack/plugins/apm/e2e/package.json
  x-pack/plugins/apm/scripts/package.json
  x-pack/plugins/reporting/server/browsers/extract/unzip.js
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/scripts/beat_docs/build.js
  yarn.lock
Labels: backport

#77844 [APM] Service Inventory Updated the `EuiBadge` to use the `behind_text` vars instead of the base colors for the health status badges
  x-pack/plugins/apm/common/service_health_status.ts
  x-pack/plugins/apm/public/components/app/ServiceOverview/ServiceList/HealthBadge.tsx
  x-pack/plugins/apm/public/components/app/ServiceOverview/__test__/__snapshots__/ServiceOverview.test.tsx.snap
Labels: Team:apm, release_note:skip, v7.10.0, v8.0.0, 💝community
