Repository elastic/kibana, pull requests merged in 2020-11, with the labels that each got.

#82123 Rename `batchSize` parameter to `batch_size` to be consistent with the API namings guidelines.
  docs/api/saved-objects/rotate_encryption_key.asciidoc
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.test.ts
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.ts
Labels: Team:Security, release_note:skip, v7.11.0, v8.0.0

#82225 [7.10] Rename `batchSize` parameter to `batch_size` to be consisten with the API namings guidelines. (#82123)
  docs/api/saved-objects/rotate_encryption_key.asciidoc
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.test.ts
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.ts
Labels: backport

#82224 [7.x] Rename `batchSize` parameter to `batch_size` to be consisten with the API namings guidelines. (#82123)
  docs/api/saved-objects/rotate_encryption_key.asciidoc
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.test.ts
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.ts
Labels: backport

#82018 [Visualize] Vis listing page breaks on unknown vis type
  src/plugins/kibana_react/public/table_list_view/table_list_view.tsx
  src/plugins/visualizations/public/vis_types/vis_type_alias_registry.ts
  src/plugins/visualize/public/application/components/visualize_listing.tsx
  src/plugins/visualize/public/application/utils/get_table_columns.tsx
Labels: Feature:Visualizations, Team:KibanaApp, release_note:fix, v7.10.1, v7.11.0, v8.0.0

#81838 [Discover] Deangularize context_app.html, part 3
  src/plugins/discover/public/application/angular/context/components/action_bar/action_bar.tsx
  src/plugins/discover/public/application/angular/context_app.html
  src/plugins/discover/public/application/components/context_app/context_app_legacy.scss
  src/plugins/discover/public/application/components/context_app/context_app_legacy.test.tsx
  src/plugins/discover/public/application/components/context_app/context_app_legacy.tsx
  src/plugins/discover/public/application/components/context_app/context_app_legacy_directive.ts
  src/plugins/discover/public/application/components/context_error_message/context_error_message_directive.ts
  src/plugins/discover/public/application/components/context_error_message/index.ts
  src/plugins/discover/public/get_inner_angular.ts
Labels: Feature:Discover, release_note:skip, v7.11.0

#82241 [7.x] [Visualize] Vis listing page breaks on unknown vis type (#82018)
  src/plugins/kibana_react/public/table_list_view/table_list_view.tsx
  src/plugins/visualizations/public/vis_types/vis_type_alias_registry.ts
  src/plugins/visualize/public/application/components/visualize_listing.tsx
  src/plugins/visualize/public/application/utils/get_table_columns.tsx
Labels: backport

#82126 [Actions & Connectors] removes Connector flyouts after usage
  x-pack/plugins/security_solution/public/cases/components/configure_cases/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/configure_cases/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_edit_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_edit_flyout.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/actions_connectors_list/components/actions_connectors_list.tsx
  x-pack/plugins/uptime/public/components/settings/add_connector_flyout.tsx
Labels: Feature:Actions, Team:Alerting Services, Team:uptime, release_note:fix, v7.11.0, v8.0.0

#82232 Enable send to background in Timelion
  src/plugins/vis_type_timelion/public/helpers/plugin_services.ts
  src/plugins/vis_type_timelion/public/helpers/timelion_request_handler.ts
  src/plugins/vis_type_timelion/public/plugin.ts
  src/plugins/vis_type_timelion/server/routes/run.ts
  src/plugins/vis_type_timelion/server/series_functions/es/es.test.js
  src/plugins/vis_type_timelion/server/series_functions/es/index.js
Labels: Feature:Timelion, Team:KibanaApp, release_note:skip, v7.11.0, v8.0.0

#82229 Enable send to background in Vega
  src/plugins/vis_type_vega/public/data_model/search_api.ts
Labels: Feature:Vega, Team:KibanaApp, release_note:skip, v7.11.0, v8.0.0

#81579 [Telemetry] Remove `from` and `to` timestamps from usage stats APIs
  src/plugins/telemetry/public/services/telemetry_service.test.ts
  src/plugins/telemetry/public/services/telemetry_service.ts
  src/plugins/telemetry/server/fetcher.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in_stats.ts
  src/plugins/telemetry/server/routes/telemetry_usage_stats.ts
  src/plugins/telemetry/server/telemetry_collection/get_local_stats.test.ts
  src/plugins/telemetry_collection_manager/server/plugin.ts
  src/plugins/telemetry_collection_manager/server/types.ts
  test/api_integration/apis/telemetry/telemetry_local.js
  x-pack/dev-tools/api_debug/apis/telemetry/index.js
  x-pack/plugins/monitoring/common/constants.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_all_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_all_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_beats_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_beats_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_cluster_uuids.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_cluster_uuids.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_high_level_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_high_level_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_kibana_stats.ts
  x-pack/test/api_integration/apis/telemetry/fixtures/multicluster.json
  x-pack/test/api_integration/apis/telemetry/telemetry.js
  x-pack/test/api_integration/apis/telemetry/telemetry_local.js
  x-pack/test/api_integration/services/usage_api.ts
  x-pack/test/functional/apps/infra/home_page.ts
  x-pack/test/functional/apps/infra/logs_source_configuration.ts
Labels: release_note:skip, v7.11.0, v8.0.0

#82019 [Uptime] Remove custom handling of license enabling
  x-pack/plugins/uptime/public/components/monitor/ml/__tests__/__snapshots__/license_info.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/__tests__/__snapshots__/ml_flyout.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/license_info.tsx
Labels: Team:uptime, release_note:fix, v7.10.0, v7.11.0, v8.0.0

#82155 [APM] Scale transaction rate correctly
  x-pack/plugins/apm/server/lib/transactions/charts/get_timeseries_data/transform.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/__snapshots__/transaction_charts.snap
  x-pack/test/apm_api_integration/trial/tests/csm/__snapshots__/page_views.snap
Labels: Team:apm, release_note:fix, v7.10.0, v7.11.0

#82254 [7.x] [Discover] Deangularize context_app.html, part 3 (#81838)
  src/plugins/discover/public/application/angular/context/components/action_bar/action_bar.tsx
  src/plugins/discover/public/application/angular/context_app.html
  src/plugins/discover/public/application/components/context_app/context_app_legacy.scss
  src/plugins/discover/public/application/components/context_app/context_app_legacy.test.tsx
  src/plugins/discover/public/application/components/context_app/context_app_legacy.tsx
  src/plugins/discover/public/application/components/context_app/context_app_legacy_directive.ts
  src/plugins/discover/public/application/components/context_error_message/context_error_message_directive.ts
  src/plugins/discover/public/application/components/context_error_message/index.ts
  src/plugins/discover/public/get_inner_angular.ts
Labels: backport

#81487 [CCR] Update README.md on how to start 2 clusters for testing
  x-pack/plugins/cross_cluster_replication/README.md
Labels: Feature:CCR, Team:Elasticsearch UI, release_note:skip, v7.11.0, v8.0.0

#82262 [7.x] [Uptime] Use base path for screenshot url (#81930)
  x-pack/plugins/uptime/public/components/monitor/synthetics/__tests__/executed_journey.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/executed_journey.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/executed_step.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_screenshot_display.tsx
Labels: backport

#82263 [7.10] [Uptime] Use base path for screenshot url (#81930)
  x-pack/plugins/uptime/public/components/monitor/synthetics/__tests__/executed_journey.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/executed_journey.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/executed_step.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_screenshot_display.tsx
Labels: backport

#82217 [KP] Don't stop not started yet http server
  src/core/server/http/http_server.ts
Labels: Team:Platform, chore, release_note:skip, v7.11.0, v8.0.0

#82266 [7.x] [Telemetry] Remove `from` and `to` timestamps from usage stats APIs (#81579)
  src/plugins/telemetry/public/services/telemetry_service.test.ts
  src/plugins/telemetry/public/services/telemetry_service.ts
  src/plugins/telemetry/server/fetcher.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in_stats.ts
  src/plugins/telemetry/server/routes/telemetry_usage_stats.ts
  src/plugins/telemetry/server/telemetry_collection/get_local_stats.test.ts
  src/plugins/telemetry_collection_manager/server/plugin.ts
  src/plugins/telemetry_collection_manager/server/types.ts
  test/api_integration/apis/telemetry/telemetry_local.js
  x-pack/dev-tools/api_debug/apis/telemetry/index.js
  x-pack/plugins/monitoring/common/constants.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_all_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_all_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_beats_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_beats_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_cluster_uuids.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_cluster_uuids.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_high_level_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_high_level_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_kibana_stats.ts
  x-pack/test/api_integration/apis/telemetry/fixtures/multicluster.json
  x-pack/test/api_integration/apis/telemetry/telemetry.js
  x-pack/test/api_integration/apis/telemetry/telemetry_local.js
  x-pack/test/api_integration/services/usage_api.ts
Labels: backport

#81748 [TSVB] Handle correctly {{key}} placeholder on series name
  src/plugins/vis_type_timeseries/public/application/components/vis_with_splits.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.test.js
Labels: Feature:TSVB, Team:KibanaApp, release_note:fix, v7.11.0, v8.0.0

#82270 [7.10] [Uptime] Remove custom handling of license enabling (#82019)
  x-pack/plugins/uptime/public/components/monitor/ml/__tests__/__snapshots__/license_info.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/__tests__/__snapshots__/ml_flyout.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/license_info.tsx
Labels: backport

#82236 Export DefaultFormatEditor from IndexPatternManagement
  src/plugins/index_pattern_management/public/index.ts
Labels: Feature:Index Patterns, Team:AppArch, release_note:skip, v7.10.1, v7.11.0, v8.0.0

#82252 [GS] Fix `onChange` error when submitting with no selected item(s)
  x-pack/plugins/global_search_bar/public/components/search_bar.tsx
Labels: release_note:skip, v7.10.1, v7.11.0, v8.0.0

#82258 [7.x] Enable send to background in Timelion (#82232)
  src/plugins/vis_type_timelion/public/helpers/plugin_services.ts
  src/plugins/vis_type_timelion/public/helpers/timelion_request_handler.ts
  src/plugins/vis_type_timelion/public/plugin.ts
  src/plugins/vis_type_timelion/server/routes/run.ts
  src/plugins/vis_type_timelion/server/series_functions/es/es.test.js
  src/plugins/vis_type_timelion/server/series_functions/es/index.js
Labels: backport

#82257 [7.x] Enable send to background in Vega (#82229)
  src/plugins/vis_type_vega/public/data_model/search_api.ts
Labels: backport

#81510 [ML] Configure sorting for partition values on Single Metric Viewer
  x-pack/plugins/ml/common/types/anomalies.ts
  x-pack/plugins/ml/common/types/storage.ts
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/contexts/ml/use_storage.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/results.ts
  x-pack/plugins/ml/public/application/services/results_service/result_service_rx.ts
  x-pack/plugins/ml/public/application/timeseriesexplorer/_timeseriesexplorer.scss
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/entity_control/entity_config.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/entity_control/entity_control.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/series_controls/index.ts
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/series_controls/series_controls.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/get_controls_for_detector.ts
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
  x-pack/plugins/ml/server/models/results_service/get_partition_fields_values.ts
  x-pack/plugins/ml/server/routes/results_service.ts
  x-pack/plugins/ml/server/routes/schemas/results_service_schema.ts
  x-pack/test/functional/apps/ml/anomaly_detection/annotations.ts
  x-pack/test/functional/apps/ml/anomaly_detection/single_metric_viewer.ts
  x-pack/test/functional/apps/ml/permissions/full_ml_access.ts
  x-pack/test/functional/apps/ml/permissions/read_ml_access.ts
  x-pack/test/functional/services/ml/common_ui.ts
  x-pack/test/functional/services/ml/index.ts
  x-pack/test/functional/services/ml/single_metric_viewer.ts
Labels: :ml, Feature:Anomaly Detection, release_note:enhancement, v7.11.0, v8.0.0

#82269 [7.x] [Uptime] Remove custom handling of license enabling (#82019)
  x-pack/plugins/uptime/public/components/monitor/ml/__tests__/__snapshots__/license_info.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/__tests__/__snapshots__/ml_flyout.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/license_info.tsx
Labels: backport

#82251 [7.x] [Actions & Connectors] removes Connector flyouts after usage (#82126)
  x-pack/plugins/security_solution/public/cases/components/configure_cases/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/configure_cases/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_edit_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_edit_flyout.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/actions_connectors_list/components/actions_connectors_list.tsx
  x-pack/plugins/uptime/public/components/settings/add_connector_flyout.tsx
Labels: backport

#82260 [Case] avoids rerendering unnecessarily by using useCallback
  x-pack/plugins/security_solution/public/cases/components/configure_cases/index.tsx
Labels: Feature:Alerting, Feature:Cases, Team: SecuritySolution, release_note:skip, v7.11.0, v8.0.0

#82279 [7.x] [CCR] Update README.md on how to start 2 clusters for testing (#81487)
  x-pack/plugins/cross_cluster_replication/README.md
Labels: backport

#81716 [docs] describe steps for resolving limit overages
  docs/developer/contributing/development-ci-metrics.asciidoc
Labels: Team:Operations, release_note:skip, v7.10.0, v7.11.0, v8.0.0

#82281 [Uptime / synthetics] Add secondary sort
  x-pack/plugins/uptime/server/lib/requests/get_journey_steps.ts
Labels: Team:uptime, bug, release_note:skip, v7.10.0, v7.11.0, v8.0.0

#82284 [7.x] [TSVB] Handle correctly {{key}} placeholder on series name (#81748)
  src/plugins/vis_type_timeseries/public/application/components/vis_with_splits.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.test.js
Labels: backport

#82185 Fix example in docs
  docs/user/alerting/action-types/index.asciidoc
Labels: Feature:Alerting, Team:Alerting Services, docs, release_note:skip, v7.10.0, v7.7.0, v7.8.0, v7.9.0, v8.0.0

#82288 [7.10] Export DefaultFormatEditor from IndexPatternManagement (#82236)
  src/plugins/index_pattern_management/public/index.ts
Labels: backport

#82287 [7.x] Export DefaultFormatEditor from IndexPatternManagement (#82236)
  src/plugins/index_pattern_management/public/index.ts
Labels: backport

#82289 [7.x] Fireproof onChange (#82252)
  x-pack/plugins/global_search_bar/public/components/search_bar.tsx
Labels: backport

#82290 [7.10] Fireproof onChange (#82252)
  x-pack/plugins/global_search_bar/public/components/search_bar.tsx
Labels: backport

#82247 Replace handlebars documentation link
  docs/user/dashboard/url-drilldown.asciidoc
  src/plugins/vis_type_timeseries/public/application/components/markdown_editor.js
  x-pack/plugins/canvas/canvas_plugin_src/elements/markdown/index.ts
  x-pack/plugins/canvas/public/components/workpad_header/element_menu/__stories__/element_menu.stories.tsx
Labels: Feature:Canvas, Feature:TSVB, Team:KibanaApp, release_note:skip, v7.11.0, v8.0.0

#82082 Add error rate chart to overview
  x-pack/plugins/apm/public/components/app/ServiceDetails/ServiceDetailTabs.tsx
  x-pack/plugins/apm/public/components/app/ServiceMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/ServiceNodeMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionOverview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/MetricsChart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/TransactionCharts/TransactionLineChart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/TransactionCharts/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/chart_container.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/chart_container.tsx
  x-pack/plugins/apm/public/components/shared/charts/erroneous_transactions_rate_chart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/erroneous_transactions_rate_chart/legacy.tsx
  x-pack/plugins/apm/public/components/shared/charts/helper/helper.test.ts
  x-pack/plugins/apm/public/components/shared/charts/helper/helper.ts
  x-pack/plugins/apm/public/components/shared/charts/helper/timezone.test.ts
  x-pack/plugins/apm/public/components/shared/charts/line_chart/index.tsx
  x-pack/plugins/apm/public/context/charts_sync_context.tsx
  x-pack/plugins/apm/public/hooks/use_charts_sync.tsx
Labels: Team:apm, release_note:skip, v7.11.0, v8.0.0

#82072 [Time to Visualize] Small Attribute Service Fixes
  examples/embeddable_examples/public/book/book_embeddable_factory.tsx
  examples/embeddable_examples/public/book/edit_book_action.tsx
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.test.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.tsx
  src/plugins/visualizations/public/embeddable/visualize_embeddable_factory.tsx
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/lens_attribute_service.ts
Labels: Feature:Dashboard, Feature:Embedding, Project:TimeToVisualize, Team:Presentation, release_note:skip, v7.10.0, v7.11.0, v8.0.0

#82302 [7.x] [docs] describe steps for resolving limit overages (#81716)
  docs/developer/contributing/development-ci-metrics.asciidoc
Labels: backport

#82303 [7.10] [docs] describe steps for resolving limit overages (#81716)
  docs/developer/contributing/development-ci-metrics.asciidoc
Labels: backport

#82087 [Security Solution][Detections] Prevent rules from being created with a blank name or description
  x-pack/plugins/security_solution/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/create_rules_schema.test.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/patch_rules_schema.test.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/update_rules_schema.test.ts
Labels: Team: SecuritySolution, Team:Detections and Resp, release_note:skip, v7.11.0, v8.0.0

#82295 [7.x] [ML] Configure sorting for partition values on Single Metric Viewer (#81510)
  x-pack/plugins/ml/common/types/anomalies.ts
  x-pack/plugins/ml/common/types/storage.ts
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/contexts/ml/use_storage.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/results.ts
  x-pack/plugins/ml/public/application/services/results_service/result_service_rx.ts
  x-pack/plugins/ml/public/application/timeseriesexplorer/_timeseriesexplorer.scss
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/entity_control/entity_config.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/entity_control/entity_control.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/series_controls/index.ts
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/series_controls/series_controls.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/get_controls_for_detector.ts
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
  x-pack/plugins/ml/server/models/results_service/get_partition_fields_values.ts
  x-pack/plugins/ml/server/routes/results_service.ts
  x-pack/plugins/ml/server/routes/schemas/results_service_schema.ts
  x-pack/test/functional/apps/ml/anomaly_detection/annotations.ts
  x-pack/test/functional/apps/ml/anomaly_detection/single_metric_viewer.ts
  x-pack/test/functional/apps/ml/permissions/full_ml_access.ts
  x-pack/test/functional/apps/ml/permissions/read_ml_access.ts
  x-pack/test/functional/services/ml/common_ui.ts
  x-pack/test/functional/services/ml/index.ts
  x-pack/test/functional/services/ml/single_metric_viewer.ts
Labels: :ml, backport

#79854 [Telemetry Management Section] Lazy-load security payload
  src/plugins/telemetry_management_section/public/components/__snapshots__/example_security_payload.test.tsx.snap
  src/plugins/telemetry_management_section/public/components/__snapshots__/opt_in_security_example_flyout.test.tsx.snap
  src/plugins/telemetry_management_section/public/components/example_security_payload.test.tsx
  src/plugins/telemetry_management_section/public/components/example_security_payload.tsx
  src/plugins/telemetry_management_section/public/components/loading_spinner.tsx
  src/plugins/telemetry_management_section/public/components/opt_in_example_flyout.tsx
  src/plugins/telemetry_management_section/public/components/opt_in_security_example_flyout.tsx
Labels: Feature:Telemetry, Team:KibanaTelemetry, release_note:skip, v7.11.0, v8.0.0

#82306 [7.10] Add secondary sort to getJourneySteps query (#82281)
  x-pack/plugins/uptime/server/lib/requests/get_journey_steps.ts
Labels: backport

#81981 Fix "other bucket" for fields containing dashes
  src/plugins/data/common/search/aggs/buckets/_terms_other_bucket_helper.test.ts
  src/plugins/data/common/search/aggs/buckets/_terms_other_bucket_helper.ts
Labels: Feature:Aggregations, Team:AppArch, release_note:fix, v7.11.0, v8.0.0

#82304 [7.x] Add secondary sort to getJourneySteps query (#82281)
  x-pack/plugins/uptime/server/lib/requests/get_journey_steps.ts
Labels: backport

#82197 Convert Dev Tools app to TS project.
  src/plugins/dev_tools/tsconfig.json
  tsconfig.json
  tsconfig.refs.json
Labels: Feature:Dev Tools, Team:Elasticsearch UI, chore, release_note:skip, v7.11.0, v8.0.0

#82215 [7.10] Minor edits in Single Metric Viewer (#82159)
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
Labels: backport

#82213 [7.x] Minor edits in Single Metric Viewer (#82159)
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
Labels: backport

#80149 [Task Manager] Changed alerts schedule logic to use Task Manager internals
  x-pack/plugins/alerts/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerts/server/alerts_client/tests/create.test.ts
  x-pack/plugins/alerts/server/alerts_client/tests/enable.test.ts
  x-pack/plugins/alerts/server/task_runner/get_next_run_at.test.ts
  x-pack/plugins/alerts/server/task_runner/get_next_run_at.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.ts
  x-pack/plugins/task_manager/README.md
  x-pack/plugins/task_manager/server/buffered_task_store.ts
  x-pack/plugins/task_manager/server/index.ts
  x-pack/plugins/task_manager/server/lib/intervals.test.ts
  x-pack/plugins/task_manager/server/lib/intervals.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.ts
  x-pack/plugins/task_manager/server/polling_lifecycle.ts
  x-pack/plugins/task_manager/server/task.ts
  x-pack/plugins/task_manager/server/task_events.ts
  x-pack/plugins/task_manager/server/task_pool.ts
  x-pack/plugins/task_manager/server/task_running/errors.test.ts
  x-pack/plugins/task_manager/server/task_running/errors.ts
  x-pack/plugins/task_manager/server/task_running/index.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.test.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.ts
  x-pack/plugins/task_manager/server/task_scheduling.test.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/alerts_base.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.11.0, v8.0.0

#82094 Adds README to newsfeed plugin
  docs/developer/plugin-list.asciidoc
  src/plugins/newsfeed/README.md
Labels: Team:KibanaTelemetry, chore, release_note:skip, v7.11.0, v8.0.0

#82096 [i18n] Adds translations README
  docs/developer/plugin-list.asciidoc
  x-pack/plugins/translations/README.asciidoc
Labels: Team:Localization, chore, release_note:skip, v7.11.0, v8.0.0

#82178 [Fleet] add force flag to upgrade agents api
  x-pack/plugins/ingest_manager/server/routes/agent/upgrade_handler.ts
  x-pack/plugins/ingest_manager/server/services/agents/upgrade.ts
  x-pack/plugins/ingest_manager/server/types/rest_spec/agent.ts
  x-pack/test/ingest_manager_api_integration/apis/fleet/agents/upgrade.ts
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v8.0.0

#82282 [Lens] Fix console error by passing I18nProvider to metric vis
  x-pack/plugins/lens/public/metric_visualization/expression.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.11.0, v8.0.0

#82297 [7.x] avoid refreshing by using useCallback (#82260)
  x-pack/plugins/security_solution/public/cases/components/configure_cases/index.tsx
Labels: backport

#82316 [7.x] [Time to Visualize] Small Attribute Service Fixes (#82072)
  examples/embeddable_examples/public/book/book_embeddable_factory.tsx
  examples/embeddable_examples/public/book/edit_book_action.tsx
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.test.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.tsx
  src/plugins/visualizations/public/embeddable/visualize_embeddable_factory.tsx
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/lens_attribute_service.ts
Labels: backport

#82319 [7.x] [Security Solution][Detections] Prevent rules from being created with a blank name or description (#82087)
  x-pack/plugins/security_solution/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/create_rules_schema.test.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/patch_rules_schema.test.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/update_rules_schema.test.ts
Labels: backport

#82195 [lens] fix unhandled promise rejection when saving Lens with duplicate title
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:KibanaApp, chore, release_note:skip, v7.11.0, v8.0.0

#82322 [7.x] Add error rate chart to overview (#82082)
  x-pack/plugins/apm/public/components/app/ServiceDetails/ServiceDetailTabs.tsx
  x-pack/plugins/apm/public/components/app/ServiceMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/ServiceNodeMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionDetails/index.tsx
  x-pack/plugins/apm/public/components/app/TransactionOverview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/MetricsChart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/TransactionCharts/TransactionLineChart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/TransactionCharts/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/chart_container.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/chart_container.tsx
  x-pack/plugins/apm/public/components/shared/charts/erroneous_transactions_rate_chart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/erroneous_transactions_rate_chart/legacy.tsx
  x-pack/plugins/apm/public/components/shared/charts/helper/helper.test.ts
  x-pack/plugins/apm/public/components/shared/charts/helper/helper.ts
  x-pack/plugins/apm/public/components/shared/charts/helper/timezone.test.ts
  x-pack/plugins/apm/public/components/shared/charts/line_chart/index.tsx
  x-pack/plugins/apm/public/context/charts_sync_context.tsx
  x-pack/plugins/apm/public/hooks/use_charts_sync.tsx
Labels: backport

#82321 [7.x] Fix link to upgrade assistant (#82138)
  x-pack/plugins/apm/public/setHelpExtension.ts
Labels: backport

#82190 [7.x] [Fleet]: add log statement when deleting transform (#81927)
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/transform/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/transform/remove.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/transform/transform.test.ts
Labels: backport

#82326 [7.x] Convert Dev Tools app to TS project. (#82197)
  src/plugins/dev_tools/tsconfig.json
  tsconfig.json
  tsconfig.refs.json
Labels: backport

#82187 [APM] docs: Update anomaly detection callout
  x-pack/plugins/apm/e2e/cypress/integration/snapshots.js
  x-pack/plugins/apm/public/components/app/Settings/anomaly_detection/index.tsx
  x-pack/plugins/apm/public/components/app/service_inventory/ServiceList/MLCallout.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:apm, release_note:skip, v7.10.0

#82192 [Monitoring] Fix the plugins passed into legacy routes
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/monitoring/server/types.ts
Labels: Team:Monitoring, release_note:fix, review, v7.10.1, v7.11.0, v8.0.0

#82179 [Monitoring] Add catch clause to handle exceptions on loading page
  x-pack/plugins/monitoring/public/views/loading/index.js
Labels: Team:Monitoring, release_note:fix, review, v7.10.1, v7.11.0, v8.0.0

#82228 fix invalid json
  docs/user/security/api-keys/index.asciidoc
Labels: Team:Docs, release_note:skip, v7.10.0, v7.11.0, v7.6.0, v7.7.0, v7.8.0, v7.9.0, 💝community

#82325 [7.x] Fix other bucket for fields containing dashes (#81981)
  src/plugins/data/common/search/aggs/buckets/_terms_other_bucket_helper.test.ts
  src/plugins/data/common/search/aggs/buckets/_terms_other_bucket_helper.ts
Labels: backport

#82331 [7.x] Adds README to newsfeed plugin (#82094)
  docs/developer/plugin-list.asciidoc
  src/plugins/newsfeed/README.md
Labels: backport

#82333 [7.x] [i18n] Adds translations README (#82096)
  docs/developer/plugin-list.asciidoc
  x-pack/plugins/translations/README.asciidoc
Labels: backport

#82330 [7.x] [Task Manager] Changed alerts schedule logic to use Task Manager internals (#80149)
  x-pack/plugins/alerts/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerts/server/alerts_client/tests/create.test.ts
  x-pack/plugins/alerts/server/alerts_client/tests/enable.test.ts
  x-pack/plugins/alerts/server/task_runner/get_next_run_at.test.ts
  x-pack/plugins/alerts/server/task_runner/get_next_run_at.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerts/server/task_runner/task_runner.ts
  x-pack/plugins/task_manager/README.md
  x-pack/plugins/task_manager/server/buffered_task_store.ts
  x-pack/plugins/task_manager/server/index.ts
  x-pack/plugins/task_manager/server/lib/intervals.test.ts
  x-pack/plugins/task_manager/server/lib/intervals.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.ts
  x-pack/plugins/task_manager/server/polling_lifecycle.ts
  x-pack/plugins/task_manager/server/task.ts
  x-pack/plugins/task_manager/server/task_events.ts
  x-pack/plugins/task_manager/server/task_pool.ts
  x-pack/plugins/task_manager/server/task_running/errors.test.ts
  x-pack/plugins/task_manager/server/task_running/errors.ts
  x-pack/plugins/task_manager/server/task_running/index.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.test.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.ts
  x-pack/plugins/task_manager/server/task_scheduling.test.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/alerts_base.ts
Labels: backport

#82342 [7.x] [lens] fix unhandled promise rejection when saving Lens with duplicate title (#82195)
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#82334 [ML] Fix regression decision path broken if result is an array with only one element
  x-pack/plugins/ml/public/application/components/data_grid/common.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/common/get_index_data.ts
Labels: :ml, Feature:Data Frame Analytics, bug, release_note:skip, v7.10.0, v7.11.0, v8.0.0

#82169 Initialize to empty state when registering telemetry tasks
  x-pack/plugins/actions/server/usage/task.ts
  x-pack/plugins/alerts/server/usage/task.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.11.0, v8.0.0

#82336 [7.x] [Fleet] add force flag to upgrade agents api (#82178)
  x-pack/plugins/ingest_manager/server/routes/agent/upgrade_handler.ts
  x-pack/plugins/ingest_manager/server/services/agents/upgrade.ts
  x-pack/plugins/ingest_manager/server/types/rest_spec/agent.ts
  x-pack/test/ingest_manager_api_integration/apis/fleet/agents/upgrade.ts
Labels: backport

#73077 [Maps] Iterate over saved object & index patterns pages to collect telemetry results
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.test.js
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.ts
Labels: Feature:Telemetry, Team:Geo, release_note:fix, v7.11.0, v8.0.0

#82361 [7.6] [DOCS] Fix API Keys doc example (#82228)
  docs/user/security/api-keys/index.asciidoc
Labels: backport

#82360 [7.7] [DOCS] Fix API Keys doc example (#82228)
  docs/user/security/api-keys/index.asciidoc
Labels: backport

#82359 [7.8] [DOCS] Fix API Keys doc example (#82228)
  docs/user/security/api-keys/index.asciidoc
Labels: backport

#82358 [7.9] [DOCS] Fix API Keys doc example (#82228)
  docs/user/security/api-keys/index.asciidoc
Labels: backport

#82357 [7.10] [DOCS] Fix API Keys doc example (#82228)
  docs/user/security/api-keys/index.asciidoc
Labels: backport

#82356 [7.x] [DOCS] Fix API Keys doc example (#82228)
  docs/user/security/api-keys/index.asciidoc
Labels: backport

#82309 [7.9] Fix example in docs (#82185)
  docs/user/alerting/action-types/index.asciidoc
Labels: backport

#82308 [7.10] Fix example in docs (#82185)
  docs/user/alerting/action-types/index.asciidoc
Labels: backport

#82307 [7.x] Fix example in docs (#82185)
  docs/user/alerting/action-types/index.asciidoc
Labels: backport

#82351 [7.10] Fix the plugins passed into legacy routes to ensure they are setup and not start plugins (#82192)
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/monitoring/server/types.ts
Labels: backport

#82350 [7.x] Fix the plugins passed into legacy routes to ensure they are setup and not start plugins (#82192)
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/monitoring/server/types.ts
Labels: backport

#82355 [7.10] Add catch clause to handle exceptions (#82179)
  x-pack/plugins/monitoring/public/views/loading/index.js
Labels: backport

#82354 [7.x] Add catch clause to handle exceptions (#82179)
  x-pack/plugins/monitoring/public/views/loading/index.js
Labels: backport

#82188 [IngestManager] Move RequiredPackage type near DefaultPackages
  x-pack/plugins/ingest_manager/common/constants/epm.ts
  x-pack/plugins/ingest_manager/common/types/index.ts
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/index.ts
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v8.0.0

#82370 [7.10] [ML] Fix regression decision path broken if result is an array with only one element (#82334)
  x-pack/plugins/ml/public/application/components/data_grid/common.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/common/get_index_data.ts
Labels: backport

#82369 [7.x] [ML] Fix regression decision path broken if result is an array with only one element (#82334)
  x-pack/plugins/ml/public/application/components/data_grid/common.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/common/get_index_data.ts
Labels: backport

#82373 [7.x] Initialize to empty state when registering telemetry tasks (#82169)
  x-pack/plugins/actions/server/usage/task.ts
  x-pack/plugins/alerts/server/usage/task.ts
Labels: backport

#81685 [Security Solution][Endpoint][Admin] Custom user notification message for malware protections
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/malware.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: Feature:Endpoint, Team: SecuritySolution, Team:Onboarding and Lifecycle Mgt, release_note:skip, v7.11.0, v8.0.0

#82374 [7.x] [Maps] Iterate over saved object & index patterns pages to collect telemetry results (#73077)
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.test.js
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.ts
Labels: backport

#81827 [Usage Collection] Home Page UI Metrics
  src/plugins/home/public/application/components/__snapshots__/home.test.js.snap
  src/plugins/home/public/application/components/add_data/add_data.test.tsx
  src/plugins/home/public/application/components/add_data/add_data.tsx
  src/plugins/home/public/application/components/home.js
  src/plugins/home/public/application/components/manage_data/manage_data.test.tsx
  src/plugins/home/public/application/components/manage_data/manage_data.tsx
  src/plugins/home/public/application/components/solutions_section/solution_panel.test.tsx
  src/plugins/home/public/application/components/solutions_section/solution_panel.tsx
  src/plugins/kibana_react/public/overview_page/overview_page_footer/overview_page_footer.tsx
Labels: Feature:Telemetry, Team:Core UI, Team:KibanaTelemetry, release_note:skip, v7.11.0, v8.0.0

#82231 Replace DataType enum with type & add runtime dataTypes
  x-pack/plugins/ingest_manager/common/constants/epm.ts
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
  x-pack/plugins/ingest_manager/server/services/epm/kibana/index_pattern/install.ts
  x-pack/plugins/ingest_manager/server/types/index.tsx
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v8.0.0

#82379 [APM] docs: Add xpack.apm.searchAggregatedTransactions
  docs/settings/apm-settings.asciidoc
Labels: Team:apm, release_note:skip, v7.10.0

#82349 [7.x] [APM] docs: Update anomaly detection callout (#82187)
  x-pack/plugins/apm/e2e/cypress/integration/snapshots.js
  x-pack/plugins/apm/public/components/app/Settings/anomaly_detection/index.tsx
  x-pack/plugins/apm/public/components/app/service_inventory/ServiceList/MLCallout.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#82353 [7.10] [APM] docs: Update anomaly detection callout (#82187)
  x-pack/plugins/apm/e2e/cypress/integration/snapshots.js
  x-pack/plugins/apm/public/components/app/ServiceOverview/ServiceList/MLCallout.tsx
  x-pack/plugins/apm/public/components/app/Settings/anomaly_detection/index.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#82381 fixing nav visualize nav order
  src/plugins/dashboard/public/plugin.tsx
  src/plugins/discover/public/plugin.ts
  src/plugins/visualize/public/plugin.ts
Labels: Team:Core UI, Team:KibanaApp, release_note:skip, v7.10.0

#82376 Always use summary events for monitor info
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_latest_monitor.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_latest_monitor.ts
Labels: Team:uptime, bug, release_note:skip, v7.10.0

#82385 [7.x] [docs] Add missing App Arch READMEs. (#82080)
  docs/developer/plugin-list.asciidoc
  examples/bfetch_explorer/README.md
  examples/embeddable_examples/README.md
  examples/embeddable_explorer/README.md
  examples/state_containers_examples/README.md
  x-pack/plugins/data_enhanced/README.md
Labels: backport

#82305 add a script to find ready to migrate to ts project refs plugins
  scripts/find_plugins_ready_to_migrate_to_ts_refs.js
  src/dev/run_find_plugins_ready_migrate_to_ts_refs.ts
Labels: Team:Platform, chore, release_note:skip, v7.11.0, v8.0.0

#82368 [7.x] do not stop not started yet hapi server (#82217)
  src/core/server/http/http_server.ts
Labels: backport

#82277 [7.10] [APM] Scale transaction rate correctly (#82155)
  x-pack/plugins/apm/server/lib/transactions/charts/get_timeseries_data/transform.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/__snapshots__/transaction_charts.snap
  x-pack/test/apm_api_integration/trial/tests/csm/__snapshots__/page_views.snap
Labels: backport

#82276 [7.x] [APM] Scale transaction rate correctly (#82155)
  x-pack/plugins/apm/server/lib/transactions/charts/get_timeseries_data/transform.ts
  x-pack/test/apm_api_integration/basic/tests/transaction_groups/__snapshots__/transaction_charts.snap
  x-pack/test/apm_api_integration/trial/tests/csm/__snapshots__/page_views.snap
Labels: backport

#82323 [7.x] [Telemetry Management Section] Lazy-load security payload (#79854)
  src/plugins/telemetry_management_section/public/components/__snapshots__/example_security_payload.test.tsx.snap
  src/plugins/telemetry_management_section/public/components/__snapshots__/opt_in_security_example_flyout.test.tsx.snap
  src/plugins/telemetry_management_section/public/components/example_security_payload.test.tsx
  src/plugins/telemetry_management_section/public/components/example_security_payload.tsx
  src/plugins/telemetry_management_section/public/components/loading_spinner.tsx
  src/plugins/telemetry_management_section/public/components/opt_in_example_flyout.tsx
  src/plugins/telemetry_management_section/public/components/opt_in_security_example_flyout.tsx
Labels: backport

#82337 [7.x] [Lens] Fix console error by passing I18nProvider to metric vis (#82282)
  x-pack/plugins/lens/public/metric_visualization/expression.tsx
Labels: backport

#80709 [Step 2] Use Observables on server search API
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.iscompleteresponse.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.ispartialresponse.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.getdefaultsearchparams.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.id.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.is_partial.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.is_running.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.search.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.tosnakecase.md
  packages/kbn-optimizer/limits.yml
  src/plugins/data/common/search/es_search/es_search_rxjs_utils.ts
  src/plugins/data/common/search/es_search/get_total_loaded.test.ts
  src/plugins/data/common/search/es_search/get_total_loaded.ts
  src/plugins/data/common/search/es_search/index.ts
  src/plugins/data/common/search/es_search/shim_abort_signal.test.ts
  src/plugins/data/common/search/es_search/shim_abort_signal.ts
  src/plugins/data/common/search/es_search/to_snake_case.ts
  src/plugins/data/common/search/es_search/types.ts
  src/plugins/data/common/search/es_search/utils.ts
  src/plugins/data/common/search/search_source/search_source.ts
  src/plugins/data/common/search/search_source/types.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/public/search/search_interceptor.ts
  src/plugins/data/server/index.ts
  src/plugins/data/server/search/aggs/mocks.ts
  src/plugins/data/server/search/es_search/es_search_rxjs_utils.ts
  src/plugins/data/server/search/es_search/es_search_strategy.ts
  src/plugins/data/server/search/es_search/get_default_search_params.ts
  src/plugins/data/server/search/es_search/index.ts
  src/plugins/data/server/search/routes/call_msearch.test.ts
  src/plugins/data/server/search/routes/call_msearch.ts
  src/plugins/data/server/search/routes/msearch.test.ts
  src/plugins/data/server/search/routes/search.ts
  src/plugins/data/server/server.api.md
  src/plugins/vis_type_timelion/server/routes/validate_es.ts
  src/plugins/vis_type_timelion/server/series_functions/es/index.js
  src/plugins/vis_type_timeseries/server/lib/search_strategies/strategies/abstract_search_strategy.test.js
  src/plugins/vis_type_timeseries/server/lib/search_strategies/strategies/abstract_search_strategy.ts
  src/plugins/vis_type_timeseries/server/lib/search_strategies/strategies/default_search_strategy.js
  x-pack/plugins/data_enhanced/common/index.ts
  x-pack/plugins/data_enhanced/common/search/es_search/es_search_rxjs_utils.ts
  x-pack/plugins/data_enhanced/common/search/es_search/index.ts
  x-pack/plugins/data_enhanced/common/search/index.ts
  x-pack/plugins/data_enhanced/common/search/types.ts
  x-pack/plugins/data_enhanced/public/search/search_interceptor.ts
  x-pack/plugins/data_enhanced/public/search/types.ts
  x-pack/plugins/data_enhanced/server/search/eql_search_strategy.test.ts
  x-pack/plugins/data_enhanced/server/search/eql_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/get_default_search_params.ts
  x-pack/plugins/rollup/server/lib/search_strategies/rollup_search_strategy.ts
Labels: Feature:Search, Team:AppArch, release_note:skip, v7.11.0, v8.0.0

#82402 [7.x] add a script to find ready to migrate to ts project refs plugins (#82305)
  scripts/find_plugins_ready_to_migrate_to_ts_refs.js
  src/dev/run_find_plugins_ready_migrate_to_ts_refs.ts
Labels: backport

#82396 [7.10] Always use summary events for monitor info (#82376)
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_latest_monitor.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_latest_monitor.ts
Labels: backport

#82395 [7.x] Always use summary events for monitor info (#82376)
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_latest_monitor.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_latest_monitor.ts
Labels: backport

#82230 [Ingest Manager] Replace OutputType enum with separate type and runtime object
  x-pack/plugins/ingest_manager/common/constants/output.ts
  x-pack/plugins/ingest_manager/common/types/models/output.ts
  x-pack/plugins/ingest_manager/server/services/agents/checkin/state_new_actions.test.ts
  x-pack/plugins/ingest_manager/server/types/models/output.ts
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v8.0.0

#68043 [Ingest Manager] Add code required for APM
  x-pack/plugins/ingest_manager/dev_docs/tracing.md
  x-pack/plugins/ingest_manager/server/index.ts
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v8.0.0

#81819 [Alerting] Return alert execution status rollup from `_find` API
  x-pack/plugins/alerts/common/alert.ts
  x-pack/plugins/alerts/server/alerts_client.mock.ts
  x-pack/plugins/alerts/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerts/server/alerts_client/tests/aggregate.test.ts
  x-pack/plugins/alerts/server/plugin.ts
  x-pack/plugins/alerts/server/routes/aggregate.test.ts
  x-pack/plugins/alerts/server/routes/aggregate.ts
  x-pack/plugins/alerts/server/routes/index.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/aggregate.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.11.0, v8.0.0

#82409 [7.x] [Step 2] Use Observables on server search API (#80709)
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.iscompleteresponse.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.ispartialresponse.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.getdefaultsearchparams.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.id.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.is_partial.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.is_running.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.iesrawsearchresponse.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.search.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.tosnakecase.md
  packages/kbn-optimizer/limits.yml
  src/plugins/data/common/search/es_search/es_search_rxjs_utils.ts
  src/plugins/data/common/search/es_search/get_total_loaded.test.ts
  src/plugins/data/common/search/es_search/get_total_loaded.ts
  src/plugins/data/common/search/es_search/index.ts
  src/plugins/data/common/search/es_search/shim_abort_signal.test.ts
  src/plugins/data/common/search/es_search/shim_abort_signal.ts
  src/plugins/data/common/search/es_search/to_snake_case.ts
  src/plugins/data/common/search/es_search/types.ts
  src/plugins/data/common/search/es_search/utils.ts
  src/plugins/data/common/search/search_source/search_source.ts
  src/plugins/data/common/search/search_source/types.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/public/search/search_interceptor.ts
  src/plugins/data/server/index.ts
  src/plugins/data/server/search/aggs/mocks.ts
  src/plugins/data/server/search/es_search/es_search_rxjs_utils.ts
  src/plugins/data/server/search/es_search/es_search_strategy.ts
  src/plugins/data/server/search/es_search/get_default_search_params.ts
  src/plugins/data/server/search/es_search/index.ts
  src/plugins/data/server/search/routes/call_msearch.test.ts
  src/plugins/data/server/search/routes/call_msearch.ts
  src/plugins/data/server/search/routes/msearch.test.ts
  src/plugins/data/server/search/routes/search.ts
  src/plugins/data/server/server.api.md
  src/plugins/vis_type_timelion/server/routes/validate_es.ts
  src/plugins/vis_type_timelion/server/series_functions/es/index.js
  src/plugins/vis_type_timeseries/server/lib/search_strategies/strategies/abstract_search_strategy.test.js
  src/plugins/vis_type_timeseries/server/lib/search_strategies/strategies/abstract_search_strategy.ts
  src/plugins/vis_type_timeseries/server/lib/search_strategies/strategies/default_search_strategy.js
  x-pack/plugins/data_enhanced/common/index.ts
  x-pack/plugins/data_enhanced/common/search/es_search/es_search_rxjs_utils.ts
  x-pack/plugins/data_enhanced/common/search/es_search/index.ts
  x-pack/plugins/data_enhanced/common/search/index.ts
  x-pack/plugins/data_enhanced/common/search/types.ts
  x-pack/plugins/data_enhanced/public/search/search_interceptor.ts
  x-pack/plugins/data_enhanced/public/search/types.ts
  x-pack/plugins/data_enhanced/server/search/eql_search_strategy.test.ts
  x-pack/plugins/data_enhanced/server/search/eql_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/get_default_search_params.ts
  x-pack/plugins/rollup/server/lib/search_strategies/rollup_search_strategy.ts
Labels: backport

#82271 [Security Solution][Detections] Fix "Severity override" dropdowns in "Create new rule" -> "About rule"
  x-pack/plugins/security_solution/public/common/components/autocomplete/field.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/risk_score_mapping/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/severity_mapping/index.tsx
Labels: Team: SecuritySolution, Team:Detections and Resp, release_note:fix, v7.11.0, v8.0.0

#82393 Add best practices section to test_utils readme
  x-pack/test_utils/README.md
Labels: Team:Elasticsearch UI, release_note:skip, v7.11.0, v8.0.0

#82248 [Discover] Remove visualize dependency
  src/plugins/discover/kibana.json
  src/plugins/discover/public/application/angular/discover.js
  src/plugins/discover/public/application/angular/discover_legacy.html
  src/plugins/discover/public/application/components/create_discover_legacy_directive.ts
  src/plugins/discover/public/application/components/discover_legacy.tsx
  src/plugins/discover/public/build_services.ts
  src/plugins/discover/public/plugin.ts
Labels: Feature:Discover, Team:KibanaApp, release_note:skip, v7.11.0, v8.0.0

#81753 [Lens] Reload on change via history object
  x-pack/plugins/lens/public/app_plugin/mounter.tsx
  x-pack/plugins/lens/public/editor_frame_service/service.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:fix, v7.11.0, v8.0.0

#82425 [7.x] Add best practices section to test_utils readme (#82393)
  x-pack/test_utils/README.md
Labels: backport

#82387 [Ingest Manager] Replace AgentAssetType enum with new approach
  x-pack/plugins/ingest_manager/common/constants/epm.ts
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v8.0.0

#82399 chore(NA): hard code @kbn/ui-framework in the create package json task
  src/dev/build/tasks/package_json/find_used_dependencies.ts
Labels: Team:Operations, chore, release_note:skip, v7.11.0, v8.0.0

#82416 [7.x] [Alerting] Return alert execution status rollup from `_find` API (#81819)
  x-pack/plugins/alerts/common/alert.ts
  x-pack/plugins/alerts/server/alerts_client.mock.ts
  x-pack/plugins/alerts/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerts/server/alerts_client/tests/aggregate.test.ts
  x-pack/plugins/alerts/server/plugin.ts
  x-pack/plugins/alerts/server/routes/aggregate.test.ts
  x-pack/plugins/alerts/server/routes/aggregate.ts
  x-pack/plugins/alerts/server/routes/index.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/aggregate.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
Labels: backport

#82404 Sort and clean up dependencies in package.json
  package.json
Labels: release_note:skip, v7.11.0, v8.0.0

#82186 [IngestManager] Convert AgentPolicyStatus from enum to type
  x-pack/plugins/ingest_manager/common/constants/agent_policy.ts
  x-pack/plugins/ingest_manager/common/types/models/agent_policy.ts
  x-pack/plugins/ingest_manager/server/services/agent_policy.ts
  x-pack/plugins/ingest_manager/server/types/models/agent_policy.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v8.0.0

#82394 [7.10] fixing nav visualize nav order (#82381)
  src/plugins/dashboard/public/plugin.tsx
  src/plugins/discover/public/plugin.ts
  src/plugins/visualize/public/plugin.ts
Labels: backport

#82061 [Enterprise Search] Added Settings page to App Search
  x-pack/plugins/enterprise_search/public/applications/app_search/components/settings/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/settings/settings.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/settings/settings.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/index.tsx
Labels: release_note:skip, v7.11.0

#82423 [Visualizations] Fix Moving Avg help link in Vis Editor
  src/core/public/doc_links/doc_links_service.ts
Labels: Feature:Visualizations, Team:KibanaApp, release_note:fix, v7.11.0, v8.0.0

#82422 Fix report name of api_integration_basic test suite
  x-pack/test/api_integration_basic/config.ts
Labels: release_note:skip, test-api-integration, v7.11.0, v8.0.0

#82363 [7.x] [SECURITY_SOLUTION] 145: Advanced Policy UI (#80390)
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
  x-pack/plugins/security_solution/public/management/pages/policy/models/policy_details_config.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_advanced.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/malware.tsx
Labels: backport

#82249 [Uptime] Add-aria-labels-for-filter-inputs
  x-pack/plugins/uptime/public/components/overview/filter_group/__tests__/__snapshots__/filter_popover.test.tsx.snap
  x-pack/plugins/uptime/public/components/overview/filter_group/filter_popover.tsx
Labels: Project:Accessibility, Team:uptime, release_note:skip, v7.11.0, v8.0.0

#82429 [7.x] [Lens] Reload on change via history object (#81753)
  x-pack/plugins/lens/public/app_plugin/mounter.tsx
  x-pack/plugins/lens/public/editor_frame_service/service.tsx
Labels: backport

#82437 [7.x] Sort and clean up dependencies in package.json (#82404)
  package.json
Labels: backport

#82105 [TableListView] Fix table scope issues
  src/plugins/dashboard/public/application/listing/__snapshots__/dashboard_listing.test.js.snap
  src/plugins/dashboard/public/application/listing/dashboard_listing.js
  src/plugins/kibana_react/public/table_list_view/table_list_view.tsx
  src/plugins/visualize/public/application/components/visualize_listing.tsx
  x-pack/plugins/graph/public/components/listing.tsx
Labels: Feature:Dashboard, Feature:Graph, Feature:Visualizations, Project:Accessibility, Team:KibanaApp, release_note:skip, v7.11.0, v8.0.0

#82436 [7.x] chore(NA): hard code @kbn/ui-framework in the create package json task (#82399)
  src/dev/build/tasks/package_json/find_used_dependencies.ts
Labels: backport

#82343 Team:Presentation Code Owners and automation changes
  .github/CODEOWNERS
  .github/workflows/pr-project-assigner.yml
  .github/workflows/project-assigner.yml
  packages/kbn-release-notes/src/release_notes_config.ts
Labels: Team:Presentation, release_note:skip, v7.10.1, v7.11.0, v8.0.0

#82443 [7.x] Fix report name of api_integration_basic test suite (#82422)
  x-pack/test/api_integration_basic/config.ts
Labels: backport

#82372 [Workplace Search] Migrate shared LicenseBadge component
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/index.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.scss
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.tsx
Labels: Feature:Plugins, release_note:skip, v7.11.0

#82442 [7.x] [Visualizations] Fix Moving Avg help link in Vis Editor (#82423)
  src/core/public/doc_links/doc_links_service.ts
Labels: backport

#82162 [Enterprise Search] Added App Search log settings routes
  x-pack/plugins/enterprise_search/server/plugin.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/settings.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/settings.ts
Labels: release_note:skip, v7.11.0

#81864 [DOCS] Updates index patterns docs
  docs/management/index-patterns.asciidoc
  docs/management/index-patterns/images/delete.png
  docs/management/index-patterns/images/edit-field-format.png
  docs/management/index-patterns/images/index-pattern-ui.png
  docs/management/index-patterns/images/refresh-icon.png
  docs/management/index-patterns/images/rollup-index-pattern.png
  docs/management/index-patterns/images/star.png
  docs/user/management.asciidoc
Labels: Team:Docs, release_note:skip, v7.10.0, v7.11.0, v8.0.0

#82456 [7.x] [Usage Collection] Home Page UI Metrics (#81827)
  src/plugins/home/public/application/components/__snapshots__/home.test.js.snap
  src/plugins/home/public/application/components/add_data/add_data.test.tsx
  src/plugins/home/public/application/components/add_data/add_data.tsx
  src/plugins/home/public/application/components/home.js
  src/plugins/home/public/application/components/manage_data/manage_data.test.tsx
  src/plugins/home/public/application/components/manage_data/manage_data.tsx
  src/plugins/home/public/application/components/solutions_section/solution_panel.test.tsx
  src/plugins/home/public/application/components/solutions_section/solution_panel.tsx
  src/plugins/kibana_react/public/overview_page/overview_page_footer/overview_page_footer.tsx
Labels: backport

#82362 [Remote clusters] Reorganize test files
  x-pack/plugins/remote_clusters/__jest__/client_integration/add/remote_clusters_add.helpers.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/add/remote_clusters_add.test.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/add/special_characters.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/edit/remote_clusters_edit.helpers.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/edit/remote_clusters_edit.test.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/helpers/http_requests.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/helpers/index.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/list/remote_clusters_list.helpers.js
  x-pack/plugins/remote_clusters/__jest__/client_integration/list/remote_clusters_list.test.js
Labels: Feature:CCR, Team:Elasticsearch UI, release_note:skip, v7.11.0, v8.0.0

#81850 Add descriptions to alert types
  x-pack/examples/alerting_example/public/alert_types/always_firing.tsx
  x-pack/examples/alerting_example/public/alert_types/astros.tsx
  x-pack/plugins/apm/public/components/alerting/register_apm_alerts.ts
  x-pack/plugins/infra/public/alerting/inventory/index.ts
  x-pack/plugins/infra/public/alerting/log_threshold/log_threshold_alert_type.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/index.ts
  x-pack/plugins/monitoring/common/constants.ts
  x-pack/plugins/monitoring/public/alerts/cpu_usage_alert/cpu_usage_alert.tsx
  x-pack/plugins/monitoring/public/alerts/disk_usage_alert/index.tsx
  x-pack/plugins/monitoring/public/alerts/legacy_alert/legacy_alert.tsx
  x-pack/plugins/monitoring/public/alerts/memory_usage_alert/index.tsx
  x-pack/plugins/monitoring/public/alerts/missing_monitoring_data_alert/missing_monitoring_data_alert.tsx
  x-pack/plugins/monitoring/public/alerts/thread_pool_rejections_alert/index.tsx
  x-pack/plugins/monitoring/server/alerts/base_alert.ts
  x-pack/plugins/monitoring/server/alerts/cluster_health_alert.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/disk_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/elasticsearch_version_mismatch_alert.ts
  x-pack/plugins/monitoring/server/alerts/kibana_version_mismatch_alert.ts
  x-pack/plugins/monitoring/server/alerts/license_expiration_alert.ts
  x-pack/plugins/monitoring/server/alerts/logstash_version_mismatch_alert.ts
  x-pack/plugins/monitoring/server/alerts/memory_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/missing_monitoring_data_alert.ts
  x-pack/plugins/monitoring/server/alerts/nodes_changed_alert.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_alert_types/geo_threshold/index.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_alert_types/threshold/index.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_add.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_edit.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/type_registry.test.ts
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/plugins/uptime/common/translations.ts
  x-pack/plugins/uptime/public/lib/alert_types/__tests__/monitor_status.test.ts
  x-pack/plugins/uptime/public/lib/alert_types/duration_anomaly.tsx
  x-pack/plugins/uptime/public/lib/alert_types/monitor_status.tsx
  x-pack/plugins/uptime/public/lib/alert_types/tls.tsx
  x-pack/plugins/uptime/public/lib/alert_types/translations.ts
  x-pack/test/functional_with_es_ssl/fixtures/plugins/alerts/public/plugin.ts
Labels: Feature:Alerting, Team:Alerting Services, Team:apm, Team:uptime, release_note:skip, v7.11.0, v8.0.0

#82469 [7.x] [Workplace Search] Migrate shared LicenseBadge component (#82372)
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/index.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.scss
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.tsx
Labels: backport

#81405 [Resolver] Screenshot the nodes of the test plugin.
  .gitignore
  test/functional/services/common/screenshots.ts
  x-pack/plugins/security_solution/public/resolver/mocks/resolver_tree.ts
  x-pack/plugins/security_solution/public/resolver/view/clickthrough.test.tsx
  x-pack/plugins/security_solution/public/resolver/view/panel.test.tsx
  x-pack/plugins/security_solution/public/resolver/view/submenu.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/plugin_functional/config.ts
  x-pack/test/plugin_functional/screenshots/baseline/first_child.png
  x-pack/test/plugin_functional/screenshots/baseline/first_child_selected.png
  x-pack/test/plugin_functional/screenshots/baseline/first_child_selected_with_primary_button_hovered.png
  x-pack/test/plugin_functional/screenshots/baseline/first_child_with_primary_button_hovered.png
  x-pack/test/plugin_functional/screenshots/baseline/origin.png
  x-pack/test/plugin_functional/screenshots/baseline/origin_selected.png
  x-pack/test/plugin_functional/screenshots/baseline/origin_selected_with_first_pill_hovered.png
  x-pack/test/plugin_functional/screenshots/baseline/origin_selected_with_first_pill_selected.png
  x-pack/test/plugin_functional/screenshots/baseline/origin_selected_with_primary_button_hovered.png
  x-pack/test/plugin_functional/screenshots/baseline/origin_with_primary_button_hovered.png
  x-pack/test/plugin_functional/screenshots/baseline/second_child.png
  x-pack/test/plugin_functional/screenshots/baseline/second_child_selected.png
  x-pack/test/plugin_functional/screenshots/baseline/second_child_selected_with_primary_button_hovered.png
  x-pack/test/plugin_functional/screenshots/baseline/second_child_with_primary_button_hovered.png
  x-pack/test/plugin_functional/test_suites/resolver/index.ts
Labels: Feature:Resolver, Team: SecuritySolution, Team:Threat Hunting, release_note:skip, v7.11.0

#78912 [Security Solution] Fix host details query when missing IP
  x-pack/plugins/security_solution/server/lib/hosts/helpers.test.ts
  x-pack/plugins/security_solution/server/lib/hosts/helpers.ts
  x-pack/plugins/security_solution/server/lib/types.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/__mocks__/index.ts
Labels: Team:SIEM, bug, release_note:fix, v7.10.0, v8.0.0
