Repository elastic/kibana, pull requests merged in 2020-07, with the labels that each got.

#70343 [SECURITY] fix bug to add timeline to case
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/helpers.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/helpers.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/index.tsx
Labels: Team:SIEM, bug, release_note:skip, v7.9.0, v8.0.0

#70377 [7.x] [Metrics UI] Add context.reason and alertOnNoData to Inventory alerts (#70260)
  x-pack/plugins/infra/common/inventory_models/shared/components/metrics_and_groupby_toolbar_items.tsx
  x-pack/plugins/infra/common/snapshot_metric_i18n.ts
  x-pack/plugins/infra/public/alerting/inventory/components/expression.tsx
  x-pack/plugins/infra/public/alerting/inventory/index.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/toolbars/toolbar_wrapper.tsx
  x-pack/plugins/infra/server/lib/alerting/common/messages.ts
  x-pack/plugins/infra/server/lib/alerting/common/types.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/evaluate_condition.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/register_inventory_metric_threshold_alert_type.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/types.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/evaluate_alert.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/types.ts
Labels: backport

#70330 [7.x] [APM] Add API test for service maps (#70185)
  .eslintrc.js
  x-pack/test/apm_api_integration/basic/config.ts
  x-pack/test/apm_api_integration/basic/tests/agent_configuration.ts
  x-pack/test/apm_api_integration/basic/tests/annotations.ts
  x-pack/test/apm_api_integration/basic/tests/custom_link.ts
  x-pack/test/apm_api_integration/basic/tests/feature_controls.ts
  x-pack/test/apm_api_integration/basic/tests/index.ts
  x-pack/test/apm_api_integration/basic/tests/service_maps.ts
  x-pack/test/apm_api_integration/trial/config.ts
  x-pack/test/apm_api_integration/trial/fixtures/es_archiver/8.0.0/data.json.gz
  x-pack/test/apm_api_integration/trial/fixtures/es_archiver/8.0.0/mappings.json
  x-pack/test/apm_api_integration/trial/tests/annotations.ts
  x-pack/test/apm_api_integration/trial/tests/index.ts
  x-pack/test/apm_api_integration/trial/tests/service_maps.ts
Labels: backport

#70368 [7.x] [SIEM][Timeline] Reset fields based on timeline (#70209)
  x-pack/plugins/security_solution/public/alerts/components/alerts_table/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/header.tsx
  x-pack/plugins/security_solution/public/timelines/components/manage_timeline/index.tsx
Labels: backport

#69911 [Lens] Multiple y axes
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/to_expression.test.ts.snap
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/xy_expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/axes_configuration.test.ts
  x-pack/plugins/lens/public/xy_visualization/axes_configuration.ts
  x-pack/plugins/lens/public/xy_visualization/index.ts
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
  x-pack/plugins/lens/public/xy_visualization/types.ts
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_expression.test.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_expression.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_suggestions.ts
  x-pack/plugins/lens/public/xy_visualization/xy_visualization.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:enhancement, v7.9.0, v8.0.0

#70326 chore: add missing mjs extension
  src/dev/jest/config.js
Labels: release_note:skip, v7.9.0, v8.0.0

#70182 [Lens] Move chart switcher over
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/_index.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/index.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.9.0, v8.0.0

#69147 [Lens] Add "no data" popover
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.searchbar.md
  src/plugins/data/public/public.api.md
  src/plugins/data/public/ui/query_string_input/no_data_popover.test.tsx
  src/plugins/data/public/ui/query_string_input/no_data_popover.tsx
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.tsx
  src/plugins/data/public/ui/search_bar/create_search_bar.tsx
  src/plugins/data/public/ui/search_bar/search_bar.tsx
  test/functional/page_objects/time_picker.ts
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/data_panel_wrapper.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/state_management.test.ts
  x-pack/plugins/lens/public/editor_frame_service/service.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/service.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/__mocks__/loader.ts
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/layerpanel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/loader.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/loader.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/operations.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/state_helpers.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/types.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/test/functional/apps/lens/persistent_context.ts
  x-pack/test/functional/page_objects/lens_page.ts
Labels: Feature:Lens, Team:KibanaApp, release_note:enhancement, v7.9.0, v8.0.0

#70090 [Discover] Deangularization context error message refactoring
  src/plugins/discover/public/application/angular/context_app.html
  src/plugins/discover/public/application/components/context_error_message/context_error_message.test.tsx
  src/plugins/discover/public/application/components/context_error_message/context_error_message.tsx
  src/plugins/discover/public/application/components/context_error_message/context_error_message_directive.ts
  src/plugins/discover/public/application/components/context_error_message/index.ts
  src/plugins/discover/public/get_inner_angular.ts
Labels: Feature:Discover, Team:KibanaApp, release_note:skip, v7.9.0, v8.0.0

#70315 expressions indexPattern function
  src/plugins/data/public/index_patterns/expressions/index.ts
  src/plugins/data/public/index_patterns/expressions/load_index_pattern.test.ts
  src/plugins/data/public/index_patterns/expressions/load_index_pattern.ts
  src/plugins/data/public/plugin.ts
Labels: Feature:ExpressionLanguage, Feature:Index Patterns, Team:AppArch, release_note:skip, v7.9.0, v8.0.0

#70135 Initial work on uptime homepage API
  x-pack/plugins/uptime/common/runtime_types/ping/histogram.ts
  x-pack/plugins/uptime/kibana.json
  x-pack/plugins/uptime/public/apps/plugin.ts
  x-pack/plugins/uptime/public/apps/uptime_overview_fetcher.ts
  x-pack/plugins/uptime/public/state/api/ping.ts
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_ping_histogram.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_ping_histogram.ts
  x-pack/plugins/uptime/server/rest_api/pings/get_ping_histogram.ts
Labels: Team:uptime, enhancement, release_note:skip, v7.9.0

#70047 Enable "Explore underlying data" actions for Lens visualizations
  src/plugins/data/public/actions/filters/create_filters_from_range_select.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.test.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.ts
  src/plugins/data/public/actions/select_range_action.ts
  src/plugins/data/public/actions/value_click_action.ts
  src/plugins/embeddable/public/index.ts
  src/plugins/embeddable/public/lib/triggers/triggers.ts
  src/plugins/ui_actions/public/types.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_hello_world_drilldown/index.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/types.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_url_drilldown/index.tsx
  x-pack/plugins/dashboard_enhanced/public/services/drilldowns/dashboard_to_dashboard_drilldown/drilldown.test.tsx
  x-pack/plugins/dashboard_enhanced/public/services/drilldowns/dashboard_to_dashboard_drilldown/types.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/abstract_explore_data_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.test.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_context_menu_action.test.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_context_menu_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/shared.ts
Labels: Feature:Drilldowns, Feature:Embedding, Feature:UIActions, Team:AppArch, Team:KibanaApp, release_note:enhancement, review, v7.9.0, v8.0.0

#70403 [7.x] [Lens] Add "no data" popover (#69147)
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.searchbar.md
  src/plugins/data/public/public.api.md
  src/plugins/data/public/ui/query_string_input/no_data_popover.test.tsx
  src/plugins/data/public/ui/query_string_input/no_data_popover.tsx
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.tsx
  src/plugins/data/public/ui/search_bar/create_search_bar.tsx
  src/plugins/data/public/ui/search_bar/search_bar.tsx
  test/functional/page_objects/time_picker.ts
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/data_panel_wrapper.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/state_management.test.ts
  x-pack/plugins/lens/public/editor_frame_service/service.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/service.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/__mocks__/loader.ts
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/layerpanel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/loader.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/loader.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/operations.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/state_helpers.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/types.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/test/functional/apps/lens/persistent_context.ts
  x-pack/test/functional/page_objects/lens_page.ts
Labels: backport

#70402 [7.x] [Lens] Move chart switcher over (#70182)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/_index.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/index.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.tsx
Labels: backport

#70400 [7.x] [Lens] Multiple y axes (#69911)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/to_expression.test.ts.snap
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/xy_expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/axes_configuration.test.ts
  x-pack/plugins/lens/public/xy_visualization/axes_configuration.ts
  x-pack/plugins/lens/public/xy_visualization/index.ts
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
  x-pack/plugins/lens/public/xy_visualization/types.ts
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_expression.test.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_expression.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_suggestions.ts
  x-pack/plugins/lens/public/xy_visualization/xy_visualization.tsx
Labels: backport

#70407 [7.x] expressions indexPattern function (#70315)
  src/plugins/data/public/index_patterns/expressions/index.ts
  src/plugins/data/public/index_patterns/expressions/load_index_pattern.test.ts
  src/plugins/data/public/index_patterns/expressions/load_index_pattern.ts
  src/plugins/data/public/plugin.ts
Labels: backport

#70391 [7.x] [SECURITY] Bug overview link (#70214)
  x-pack/plugins/security_solution/public/alerts/components/alerts_histogram_panel/index.test.tsx
  x-pack/plugins/security_solution/public/alerts/components/alerts_histogram_panel/index.tsx
  x-pack/plugins/security_solution/public/common/components/link_to/index.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.test.tsx
  x-pack/plugins/security_solution/public/overview/components/overview_network/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/overview_network/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/search_or_filter/pick_events.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/search_or_filter/translations.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#70392 [7.x] fix bug to add timeline to case (#70343)
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/helpers.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/helpers.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/index.tsx
Labels: backport

#70390 [7.x] remove logs link and alerts count (#70282)
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/host_details.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/hooks.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
Labels: backport

#70179 [Logs UI] Avoid CCS-incompatible index name resolution
  x-pack/plugins/infra/common/http_api/log_sources/get_log_source_status.ts
  x-pack/plugins/infra/public/containers/logs/log_source/log_source.ts
  x-pack/plugins/infra/public/pages/logs/stream/page_content.tsx
  x-pack/plugins/infra/public/pages/logs/stream/page_providers.tsx
  x-pack/plugins/infra/server/routes/log_sources/status.ts
Labels: Feature:Logs UI, Team:logs-metrics-ui, release_note:fix, v7.8.1, v7.9.0, v8.0.0

#70424 [Uptime] Fix type issue cause by conflicting merged PR's
  x-pack/plugins/uptime/public/apps/uptime_overview_fetcher.ts
Labels: Team:uptime, release_note:skip, v7.9.0, v8.0.0

#70371 [7.x] [SECURITY SOLUTION] [Detections] Increase lookback when gap is detected (#68339)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/filter_events_with_list.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/filter_events_with_list.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/single_bulk_create.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
Labels: backport

#70415 [7.x] Enable "Explore underlying data" actions for Lens visualizations (#70047)
  src/plugins/data/public/actions/filters/create_filters_from_range_select.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.test.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.ts
  src/plugins/data/public/actions/select_range_action.ts
  src/plugins/data/public/actions/value_click_action.ts
  src/plugins/embeddable/public/index.ts
  src/plugins/embeddable/public/lib/triggers/triggers.ts
  src/plugins/ui_actions/public/types.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_hello_world_drilldown/index.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_discover_drilldown/types.ts
  x-pack/examples/ui_actions_enhanced_examples/public/dashboard_to_url_drilldown/index.tsx
  x-pack/plugins/dashboard_enhanced/public/services/drilldowns/dashboard_to_dashboard_drilldown/drilldown.test.tsx
  x-pack/plugins/dashboard_enhanced/public/services/drilldowns/dashboard_to_dashboard_drilldown/types.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/abstract_explore_data_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.test.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_context_menu_action.test.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_context_menu_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/shared.ts
Labels: backport

#70427 [7.x] [Logs UI] Avoid CCS-incompatible index name resolution (#70179)
  x-pack/plugins/infra/common/http_api/log_sources/get_log_source_status.ts
  x-pack/plugins/infra/public/containers/logs/log_source/log_source.ts
  x-pack/plugins/infra/public/pages/logs/stream/page_content.tsx
  x-pack/plugins/infra/public/pages/logs/stream/page_providers.tsx
  x-pack/plugins/infra/server/routes/log_sources/status.ts
Labels: backport

#70439 Changes observability plugin codeowner
  .github/CODEOWNERS
Labels: chore, release_note:skip, v7.9.0

#70408 [7.x] Initial work on uptime homepage API (#70135)
  x-pack/plugins/uptime/common/runtime_types/ping/histogram.ts
  x-pack/plugins/uptime/kibana.json
  x-pack/plugins/uptime/public/apps/plugin.ts
  x-pack/plugins/uptime/public/apps/uptime_overview_fetcher.ts
  x-pack/plugins/uptime/public/state/api/ping.ts
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_ping_histogram.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_ping_histogram.ts
  x-pack/plugins/uptime/server/rest_api/pings/get_ping_histogram.ts
Labels: backport

#70378 Move logger configuration integration test to jest
  src/core/server/logging/integration_tests/logging.test.ts
  test/plugin_functional/plugins/core_logging/kibana.json
  test/plugin_functional/plugins/core_logging/server/.gitignore
  test/plugin_functional/plugins/core_logging/server/index.ts
  test/plugin_functional/plugins/core_logging/server/plugin.ts
  test/plugin_functional/plugins/core_logging/tsconfig.json
  test/plugin_functional/test_suites/core_plugins/index.ts
  test/plugin_functional/test_suites/core_plugins/logging.ts
Labels: Team:Platform, release_note:skip, v7.9.0

#70406 [7.x] [Discover] Deangularization context error message refactoring (#70090)
  src/plugins/discover/public/application/angular/context_app.html
  src/plugins/discover/public/application/components/context_error_message/context_error_message.test.tsx
  src/plugins/discover/public/application/components/context_error_message/context_error_message.tsx
  src/plugins/discover/public/application/components/context_error_message/context_error_message_directive.ts
  src/plugins/discover/public/application/components/context_error_message/index.ts
  src/plugins/discover/public/get_inner_angular.ts
Labels: backport

#70443 [7.x] Resolver refactoring (#70312)
  x-pack/plugins/security_solution/public/resolver/store/data/reducer.ts
  x-pack/plugins/security_solution/public/resolver/store/data/selectors.ts
  x-pack/plugins/security_solution/public/resolver/store/middleware/index.ts
  x-pack/plugins/security_solution/public/resolver/store/selectors.ts
  x-pack/plugins/security_solution/public/resolver/types.ts
  x-pack/plugins/security_solution/public/resolver/view/map.tsx
  x-pack/plugins/security_solution/public/resolver/view/process_event_dot.tsx
Labels: backport

#70423 [i18n] integrate new translations + new i18n check #70193
  src/dev/i18n/integrate_locale_files.test.ts
  src/dev/i18n/integrate_locale_files.ts
  src/dev/i18n/tasks/check_compatibility.ts
  src/dev/i18n/utils.js
  src/dev/run_i18n_check.ts
  src/dev/run_i18n_integrate.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, v7.8.1, v7.9.0, v8.0.0

#70319 [Ingest Manager] add _meta field to index templates
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/__snapshots__/template.test.ts.snap
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/template.ts
  x-pack/test/ingest_manager_api_integration/apis/template.ts
Labels: Feature:Ingest Management, Team:Ingest Management, release_note:skip, v7.9.0, v8.0.0

#70372 [Security Solution][Lists] More composable hooks/utilities
  x-pack/plugins/lists/public/common/hooks/use_async.test.ts
  x-pack/plugins/lists/public/common/hooks/use_async.ts
  x-pack/plugins/lists/public/common/hooks/use_async_task.test.ts
  x-pack/plugins/lists/public/common/hooks/use_async_task.ts
  x-pack/plugins/lists/public/common/hooks/use_is_mounted.test.ts
  x-pack/plugins/lists/public/common/hooks/use_is_mounted.ts
  x-pack/plugins/lists/public/common/with_optional_signal.test.ts
  x-pack/plugins/lists/public/common/with_optional_signal.ts
  x-pack/plugins/lists/public/lists/hooks/use_delete_list.ts
  x-pack/plugins/lists/public/lists/hooks/use_export_list.ts
  x-pack/plugins/lists/public/lists/hooks/use_find_lists.ts
  x-pack/plugins/lists/public/lists/hooks/use_import_list.ts
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#70447 [7.x] Move logger configuration integration test to jest (#70378)
  src/core/server/logging/integration_tests/logging.test.ts
  test/plugin_functional/plugins/core_logging/kibana.json
  test/plugin_functional/plugins/core_logging/server/.gitignore
  test/plugin_functional/plugins/core_logging/server/index.ts
  test/plugin_functional/plugins/core_logging/server/plugin.ts
  test/plugin_functional/plugins/core_logging/tsconfig.json
  test/plugin_functional/test_suites/core_plugins/index.ts
  test/plugin_functional/test_suites/core_plugins/logging.ts
Labels: backport

#70344 Issue 63621 Fix Flaky Tests
  x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list.ts
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.9.0, v8.0.0

#69757 [Metrics UI] Enhance Inventory View Tooltips
  x-pack/plugins/infra/common/http_api/snapshot_api.ts
  x-pack/plugins/infra/common/inventory_models/aws_ec2/index.ts
  x-pack/plugins/infra/common/inventory_models/aws_rds/index.ts
  x-pack/plugins/infra/common/inventory_models/aws_s3/index.ts
  x-pack/plugins/infra/common/inventory_models/aws_sqs/index.ts
  x-pack/plugins/infra/common/inventory_models/container/index.ts
  x-pack/plugins/infra/common/inventory_models/host/index.ts
  x-pack/plugins/infra/common/inventory_models/intl_strings.ts
  x-pack/plugins/infra/common/inventory_models/pod/index.ts
  x-pack/plugins/infra/common/inventory_models/types.ts
  x-pack/plugins/infra/public/lib/lib.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/layout.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/nodes_overview.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/table_view.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/__snapshots__/conditional_tooltip.test.tsx.snap
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.test.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/node.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/hooks/use_snaphot.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/calculate_bounds_from_nodes.test.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/calculate_bounds_from_nodes.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/create_uptime_link.test.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/nodes_to_wafflemap.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/sort_nodes.test.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/sort_nodes.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/evaluate_condition.ts
  x-pack/plugins/infra/server/lib/snapshot/query_helpers.ts
  x-pack/plugins/infra/server/lib/snapshot/response_helpers.ts
  x-pack/plugins/infra/server/lib/snapshot/snapshot.ts
  x-pack/plugins/infra/server/routes/snapshot/index.ts
  x-pack/test/api_integration/apis/metrics_ui/snapshot.ts
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:enhancement, v7.9.0, v8.0.0

#70069 [ML] Adding capabilities checks to shared functions
  x-pack/plugins/apm/server/lib/helpers/setup_request.ts
  x-pack/plugins/infra/server/plugin.ts
  x-pack/plugins/ml/common/types/capabilities.ts
  x-pack/plugins/ml/server/lib/capabilities/check_capabilities.test.ts
  x-pack/plugins/ml/server/lib/capabilities/check_capabilities.ts
  x-pack/plugins/ml/server/lib/capabilities/errors.ts
  x-pack/plugins/ml/server/lib/capabilities/index.ts
  x-pack/plugins/ml/server/lib/capabilities/upgrade.ts
  x-pack/plugins/ml/server/models/data_visualizer/data_visualizer.ts
  x-pack/plugins/ml/server/models/filter/filter_manager.ts
  x-pack/plugins/ml/server/plugin.ts
  x-pack/plugins/ml/server/routes/system.ts
  x-pack/plugins/ml/server/shared.ts
  x-pack/plugins/ml/server/shared_services/providers/anomaly_detectors.ts
  x-pack/plugins/ml/server/shared_services/providers/job_service.ts
  x-pack/plugins/ml/server/shared_services/providers/modules.ts
  x-pack/plugins/ml/server/shared_services/providers/results_service.ts
  x-pack/plugins/ml/server/shared_services/providers/system.ts
  x-pack/plugins/ml/server/shared_services/shared_services.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
Labels: :ml, Feature:Security/Spaces, Team:apm, non-issue, release_note:skip, review, v7.9.0, v8.0.0

#70365 [Maps] convert GeojsonFileSource to typescript
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/maps/common/descriptor_types/descriptor_types.d.ts
  x-pack/plugins/maps/public/classes/layers/file_upload_wizard/config.tsx
  x-pack/plugins/maps/public/classes/layers/file_upload_wizard/index.ts
  x-pack/plugins/maps/public/classes/layers/file_upload_wizard/wizard.tsx
  x-pack/plugins/maps/public/classes/layers/load_layer_wizards.ts
  x-pack/plugins/maps/public/classes/sources/client_file_source/geojson_file_source.js
  x-pack/plugins/maps/public/classes/sources/geojson_file_source/geojson_file_source.ts
  x-pack/plugins/maps/public/classes/sources/geojson_file_source/index.ts
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/selectors/map_selectors.ts
Labels: Team:Geo, chore, release_note:skip, v7.9.0, v8.0.0

#70460 [RUM Dashboard] Update rum title to be consistent with APM
  x-pack/plugins/apm/public/components/app/Home/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/RumDashboard.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/translations.ts
Labels: Team:apm, Team:uptime, release_note:skip, v7.9.0, v8.0.0

#70274 [ui-shared-deps/theme] implement auto-switching theme vars module
  packages/kbn-ui-shared-deps/entry.js
  packages/kbn-ui-shared-deps/index.js
  packages/kbn-ui-shared-deps/theme.ts
  packages/kbn-ui-shared-deps/tsconfig.json
  packages/kbn-ui-shared-deps/webpack.config.js
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/apm/public/services/rest/observability.dashboard.test.ts
  x-pack/plugins/apm/public/services/rest/observability_dashboard.ts
  x-pack/plugins/apm/public/utils/get_theme.ts
Labels: Team:Operations, Team:apm, release_note:skip, v7.9.0, v8.0.0

#70456 [ML] DF Analytics: ensure failed job state handled
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/create_step/progress_stats.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation.ts
Labels: :ml, Feature:Data Frame Analytics, release_note:skip, v7.9.0

#70464 fix styling for the SIEM Resolver integration
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx
Labels: Feature:Endpoint, Team:Endpoint Data Visibility, release_note:skip, v7.9.0, v8.0.0

#69769 Update KQL/filter bar suggestions to cancel when navigating away
  src/plugins/data/public/ui/filter_bar/filter_editor/phrase_suggestor.tsx
  src/plugins/data/public/ui/query_string_input/query_string_input.tsx
Labels: :Filters, Feature:KQL, Team:AppArch, release_note:fix, review, v7.9.0, v8.0.0

#70481 [7.x] [Maps] convert GeojsonFileSource to typescript (#70365)
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/maps/common/descriptor_types/descriptor_types.d.ts
  x-pack/plugins/maps/public/classes/layers/file_upload_wizard/config.tsx
  x-pack/plugins/maps/public/classes/layers/file_upload_wizard/index.ts
  x-pack/plugins/maps/public/classes/layers/file_upload_wizard/wizard.tsx
  x-pack/plugins/maps/public/classes/layers/load_layer_wizards.ts
  x-pack/plugins/maps/public/classes/sources/client_file_source/geojson_file_source.js
  x-pack/plugins/maps/public/classes/sources/geojson_file_source/geojson_file_source.ts
  x-pack/plugins/maps/public/classes/sources/geojson_file_source/index.ts
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/selectors/map_selectors.ts
Labels: backport

#70098 Add more detailed unmet deps logging
  src/core/server/plugins/plugins_service.test.ts
  src/core/server/plugins/plugins_service.ts
Labels: release_note:skip, v7.9.0, v8.0.0

#70485 [7.x] [ui-shared-deps/theme] implement auto-switching theme vars module (#70274)
  packages/kbn-ui-shared-deps/entry.js
  packages/kbn-ui-shared-deps/index.js
  packages/kbn-ui-shared-deps/theme.ts
  packages/kbn-ui-shared-deps/tsconfig.json
  packages/kbn-ui-shared-deps/webpack.config.js
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/apm/public/services/rest/observability.dashboard.test.ts
  x-pack/plugins/apm/public/services/rest/observability_dashboard.ts
  x-pack/plugins/apm/public/utils/get_theme.ts
Labels: backport

#70484 [7.x] Issue 63621 Fix Flaky Tests (#70344)
  x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list.ts
Labels: backport

#70129 [Security_Solution][Endpoint] Refactor resolver generator for ancestry array
  x-pack/plugins/security_solution/common/endpoint/generate_data.test.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/scripts/endpoint/resolver_generator.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/tree.test.ts
Labels: Feature:Endpoint, Team:Endpoint Data Visibility, release_note:skip, v7.9.0, v8.0.0

#69744 Remove injected vars from maps legacy
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_vega/vega_visualization.js
  src/plugins/maps_legacy/public/index.ts
  src/plugins/maps_legacy/public/kibana_services.js
  src/plugins/maps_legacy/public/map/base_maps_visualization.js
  src/plugins/maps_legacy/public/map/service_settings.js
  src/plugins/maps_legacy/public/plugin.ts
  src/plugins/region_map/public/__tests__/region_map_visualization.js
  src/plugins/region_map/public/plugin.ts
  src/plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
  src/plugins/tile_map/public/plugin.ts
  src/plugins/vis_type_vega/public/plugin.ts
Labels: Feature:Coordinate Map, Feature:Region Map, Team:Geo, release_note:skip, v7.9.0, v8.0.0

#70474 Revert "[eslint][ts] Enable prefer-ts-expect-error"
  packages/eslint-config-kibana/typescript.js
Labels: release_note:skip, v7.9.0, v8.0.0

#70379 Use modern mount context in Dev Tools and Console
  src/plugins/console/public/plugin.ts
  src/plugins/dev_tools/public/application.tsx
  src/plugins/dev_tools/public/dev_tool.ts
  src/plugins/dev_tools/public/plugin.ts
  x-pack/plugins/grokdebugger/public/index.js
  x-pack/plugins/grokdebugger/public/plugin.js
  x-pack/plugins/painless_lab/public/plugin.tsx
  x-pack/plugins/searchprofiler/public/index.ts
  x-pack/plugins/searchprofiler/public/plugin.ts
Labels: Feature:Console, Feature:Dev Tools, Feature:Grok Debugger, Feature:Painless Lab, Feature:Search Profiler, Team:Elasticsearch UI, chore, release_note:skip, v7.9.0, v8.0.0

#70488 [7.x] [ML] DF Analytics: ensure failed job state handled (#70456)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/create_step/progress_stats.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation.ts
Labels: :ml, backport

#70016 [7.x] [Reporting] ReportingStore module (#69426)
  x-pack/plugins/reporting/server/core.ts
  x-pack/plugins/reporting/server/lib/create_queue.ts
  x-pack/plugins/reporting/server/lib/enqueue_job.ts
  x-pack/plugins/reporting/server/lib/esqueue/__tests__/helpers/create_index.js
  x-pack/plugins/reporting/server/lib/esqueue/__tests__/helpers/index_timestamp.js
  x-pack/plugins/reporting/server/lib/esqueue/__tests__/job.js
  x-pack/plugins/reporting/server/lib/esqueue/index.js
  x-pack/plugins/reporting/server/lib/esqueue/job.js
  x-pack/plugins/reporting/server/lib/esqueue/worker.js
  x-pack/plugins/reporting/server/lib/index.ts
  x-pack/plugins/reporting/server/lib/store/index.ts
  x-pack/plugins/reporting/server/lib/store/index_timestamp.ts
  x-pack/plugins/reporting/server/lib/store/mapping.ts
  x-pack/plugins/reporting/server/lib/store/report.test.ts
  x-pack/plugins/reporting/server/lib/store/report.ts
  x-pack/plugins/reporting/server/lib/store/store.test.ts
  x-pack/plugins/reporting/server/lib/store/store.ts
  x-pack/plugins/reporting/server/plugin.ts
  x-pack/plugins/reporting/server/test_helpers/create_mock_levellogger.ts
  x-pack/plugins/reporting/server/test_helpers/create_mock_reportingplugin.ts
  x-pack/test/reporting_api_integration/services.ts
Labels: backport

#70388 More permissive with IE warning
  src/core/public/chrome/chrome_service.tsx
  x-pack/plugins/uptime/public/components/overview/monitor_list/__tests__/__snapshots__/monitor_list.test.tsx.snap
Labels: Team:uptime, release_note:fix, v7.8.0

#70122 [ENDPOINT][SIEM] Display dismissible Endpoint notice on Overview page if no endpoints are deployed
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/public/common/containers/local_storage/use_messages_storage.test.tsx
  x-pack/plugins/security_solution/public/common/containers/local_storage/use_messages_storage.tsx
  x-pack/plugins/security_solution/public/common/containers/source/index.tsx
  x-pack/plugins/security_solution/public/management/common/constants.ts
  x-pack/plugins/security_solution/public/management/components/hooks/use_management_format_url.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/configure_datasource.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.tsx
  x-pack/plugins/security_solution/public/overview/components/endpoint_notice/index.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.test.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.tsx
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.9.0, v8.0.0

#70476 [7.x] [Security Solution][Lists] More composable hooks/utilities (#70372)
  x-pack/plugins/lists/public/common/hooks/use_async.test.ts
  x-pack/plugins/lists/public/common/hooks/use_async.ts
  x-pack/plugins/lists/public/common/hooks/use_async_task.test.ts
  x-pack/plugins/lists/public/common/hooks/use_async_task.ts
  x-pack/plugins/lists/public/common/hooks/use_is_mounted.test.ts
  x-pack/plugins/lists/public/common/hooks/use_is_mounted.ts
  x-pack/plugins/lists/public/common/with_optional_signal.test.ts
  x-pack/plugins/lists/public/common/with_optional_signal.ts
  x-pack/plugins/lists/public/lists/hooks/use_delete_list.ts
  x-pack/plugins/lists/public/lists/hooks/use_export_list.ts
  x-pack/plugins/lists/public/lists/hooks/use_find_lists.ts
  x-pack/plugins/lists/public/lists/hooks/use_import_list.ts
Labels: backport

#70349 [RUM Dashboard] Added service name filter
  x-pack/plugins/apm/common/agent_name.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/ClientMetrics/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/PageLoadDistribution/use_breakdowns.ts
  x-pack/plugins/apm/public/components/app/RumDashboard/PageViewsTrend/index.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/index.tsx
  x-pack/plugins/apm/public/components/shared/LocalUIFilters/ServiceNameFilter/index.tsx
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/config.ts
Labels: Team:apm, release_note:skip, v7.9.0, v8.0.0

#70479 [7.x] [ML] Adding capabilities checks to shared functions (#70069)
  x-pack/plugins/apm/server/lib/helpers/setup_request.ts
  x-pack/plugins/infra/server/plugin.ts
  x-pack/plugins/ml/common/types/capabilities.ts
  x-pack/plugins/ml/server/lib/capabilities/check_capabilities.test.ts
  x-pack/plugins/ml/server/lib/capabilities/check_capabilities.ts
  x-pack/plugins/ml/server/lib/capabilities/errors.ts
  x-pack/plugins/ml/server/lib/capabilities/index.ts
  x-pack/plugins/ml/server/lib/capabilities/upgrade.ts
  x-pack/plugins/ml/server/models/data_visualizer/data_visualizer.ts
  x-pack/plugins/ml/server/models/filter/filter_manager.ts
  x-pack/plugins/ml/server/plugin.ts
  x-pack/plugins/ml/server/routes/system.ts
  x-pack/plugins/ml/server/shared.ts
  x-pack/plugins/ml/server/shared_services/providers/anomaly_detectors.ts
  x-pack/plugins/ml/server/shared_services/providers/job_service.ts
  x-pack/plugins/ml/server/shared_services/providers/modules.ts
  x-pack/plugins/ml/server/shared_services/providers/results_service.ts
  x-pack/plugins/ml/server/shared_services/providers/system.ts
  x-pack/plugins/ml/server/shared_services/shared_services.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
Labels: :ml, backport

#70462 [Ingest Manager] remove requirements component
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/epm/screens/detail/content.tsx
Labels: Team:Ingest Management, release_note:skip, v7.9.0, v8.0.0

#70469 [7.x] [Ingest Manager] add _meta field to index templates (#70319)
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/__snapshots__/template.test.ts.snap
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/template.ts
  x-pack/test/ingest_manager_api_integration/apis/template.ts
Labels: backport

#70504 [7.x] Remove injected vars from maps legacy (#69744)
  src/legacy/core_plugins/kibana/public/__tests__/vis_type_vega/vega_visualization.js
  src/plugins/maps_legacy/public/index.ts
  src/plugins/maps_legacy/public/kibana_services.js
  src/plugins/maps_legacy/public/map/base_maps_visualization.js
  src/plugins/maps_legacy/public/map/service_settings.js
  src/plugins/maps_legacy/public/plugin.ts
  src/plugins/region_map/public/__tests__/region_map_visualization.js
  src/plugins/region_map/public/plugin.ts
  src/plugins/tile_map/public/__tests__/coordinate_maps_visualization.js
  src/plugins/tile_map/public/plugin.ts
  src/plugins/vis_type_vega/public/plugin.ts
Labels: backport

#70393 [SECURITY-ENDPOINT] use ingest manager unenroll services to remove unenrolled endpoint
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.ts
  x-pack/test/api_integration/apis/endpoint/data_stream_helper.ts
  x-pack/test/api_integration/apis/endpoint/metadata.ts
  x-pack/test/functional/es_archives/endpoint/metadata/unenroll_feature/metadata/data.json.gz
  x-pack/test/functional/es_archives/endpoint/metadata/unenroll_feature/metadata_mirror/data.json.gz
Labels: release_note:skip, v7.9.0, v8.0.0

#70507 [7.x] Use modern mount context in Dev Tools and Console (#70379)
  src/plugins/console/public/plugin.ts
  src/plugins/dev_tools/public/application.tsx
  src/plugins/dev_tools/public/dev_tool.ts
  src/plugins/dev_tools/public/plugin.ts
  x-pack/plugins/grokdebugger/public/index.js
  x-pack/plugins/grokdebugger/public/plugin.js
  x-pack/plugins/painless_lab/public/plugin.tsx
  x-pack/plugins/searchprofiler/public/index.ts
  x-pack/plugins/searchprofiler/public/plugin.ts
Labels: backport

#70473 fix export response
  x-pack/plugins/security_solution/public/common/components/generic_downloader/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/generic_downloader/translations.ts
  x-pack/plugins/security_solution/public/timelines/containers/api.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/api.ts
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#70503 [Metrics UI] Fix asynchronicity and error handling in Snapshot API
  x-pack/plugins/infra/server/lib/snapshot/snapshot.ts
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:fix, v7.9.0, v8.0.0

#70510 [7.8] More permissive with IE warning (#70388)
  src/core/public/chrome/chrome_service.tsx
Labels: backport

#70480 [7.x] [Metrics UI] Enhance Inventory View Tooltips (#69757)
  x-pack/plugins/infra/common/http_api/snapshot_api.ts
  x-pack/plugins/infra/common/inventory_models/aws_ec2/index.ts
  x-pack/plugins/infra/common/inventory_models/aws_rds/index.ts
  x-pack/plugins/infra/common/inventory_models/aws_s3/index.ts
  x-pack/plugins/infra/common/inventory_models/aws_sqs/index.ts
  x-pack/plugins/infra/common/inventory_models/container/index.ts
  x-pack/plugins/infra/common/inventory_models/host/index.ts
  x-pack/plugins/infra/common/inventory_models/intl_strings.ts
  x-pack/plugins/infra/common/inventory_models/pod/index.ts
  x-pack/plugins/infra/common/inventory_models/types.ts
  x-pack/plugins/infra/public/lib/lib.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/layout.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/nodes_overview.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/table_view.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/__snapshots__/conditional_tooltip.test.tsx.snap
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.test.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/node.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/hooks/use_snaphot.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/calculate_bounds_from_nodes.test.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/calculate_bounds_from_nodes.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/create_uptime_link.test.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/nodes_to_wafflemap.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/sort_nodes.test.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/sort_nodes.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/evaluate_condition.ts
  x-pack/plugins/infra/server/lib/snapshot/query_helpers.ts
  x-pack/plugins/infra/server/lib/snapshot/response_helpers.ts
  x-pack/plugins/infra/server/lib/snapshot/snapshot.ts
  x-pack/plugins/infra/server/routes/snapshot/index.ts
  x-pack/test/api_integration/apis/metrics_ui/snapshot.ts
Labels: backport

#70522 [7.x] [Ingest Manager] Make setupIngestManager wait if setup is in progress (#70008)
  x-pack/plugins/ingest_manager/server/services/setup.ts
Labels: backport

#70523 [7.x] [Ingest Manager] Fix agent ack after input format change (#70335)
  x-pack/plugins/ingest_manager/server/services/agents/acks.test.ts
  x-pack/plugins/ingest_manager/server/services/agents/acks.ts
  x-pack/test/api_integration/apis/fleet/agent_flow.ts
Labels: backport

#70511 [7.x] [ENDPOINT][SIEM] Display dismissible Endpoint notice on Overview page if no endpoints are deployed (#70122)
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/public/common/containers/local_storage/use_messages_storage.test.tsx
  x-pack/plugins/security_solution/public/common/containers/local_storage/use_messages_storage.tsx
  x-pack/plugins/security_solution/public/common/containers/source/index.tsx
  x-pack/plugins/security_solution/public/management/common/constants.ts
  x-pack/plugins/security_solution/public/management/components/hooks/use_management_format_url.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/configure_datasource.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.tsx
  x-pack/plugins/security_solution/public/overview/components/endpoint_notice/index.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.test.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.tsx
Labels: backport

#70527 [7.x] Make custom errors by extending Error (#69966)
  x-pack/plugins/ingest_manager/server/errors.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/requests.ts
Labels: backport

#67013 [SIEM][Exceptions] - Exception builder component
  x-pack/plugins/lists/common/schemas/common/schemas.test.ts
  x-pack/plugins/lists/common/schemas/common/schemas.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_api.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_api.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.ts
  x-pack/plugins/security_solution/public/common/components/and_or_badge/rounded_badge_antenna.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_exists.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_exists.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_lists.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_lists.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match_any.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match_any.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/helpers.test.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/helpers.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/hooks/use_field_value_autocomplete.test.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/hooks/use_field_value_autocomplete.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/operator.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/operator.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/operators.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/readme.md
  x-pack/plugins/security_solution/public/common/components/autocomplete/translations.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/types.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/__examples__/index.stories.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/index.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/suggestion_item.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/builder_button_options.stories.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/builder_button_options.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/builder_button_options.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/entry_item.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/exception_item.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/index.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/translations.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/types.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exception_item/exception_entries.test.tsx
  x-pack/plugins/security_solution/public/lists_plugin_deps.ts
Labels: Team:SIEM, release_note:enhancement, v7.9.0, v8.0.0

#70130 Fixed assertion in hybrid index pattern test to iterate through indices
  test/functional/page_objects/settings_page.ts
  x-pack/test/functional/apps/rollup_job/hybrid_index_pattern.js
Labels: Team:Elasticsearch UI, release_note:skip, v7.8.1, v7.9.0, v8.0.0

#70539 [7.x] [SIEM][Exceptions] - Exception builder component (#67013)
  x-pack/plugins/lists/common/schemas/common/schemas.test.ts
  x-pack/plugins/lists/common/schemas/common/schemas.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_api.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_api.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.test.ts
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.ts
  x-pack/plugins/security_solution/public/common/components/and_or_badge/rounded_badge_antenna.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_exists.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_exists.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_lists.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_lists.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match_any.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/field_value_match_any.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/helpers.test.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/helpers.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/hooks/use_field_value_autocomplete.test.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/hooks/use_field_value_autocomplete.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/operator.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/operator.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete/operators.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/readme.md
  x-pack/plugins/security_solution/public/common/components/autocomplete/translations.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete/types.ts
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/__examples__/index.stories.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/index.tsx
  x-pack/plugins/security_solution/public/common/components/autocomplete_field/suggestion_item.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/builder_button_options.stories.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/builder_button_options.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/builder_button_options.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/entry_item.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/exception_item.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/index.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/translations.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/types.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exception_item/exception_entries.test.tsx
  x-pack/plugins/security_solution/public/lists_plugin_deps.ts
Labels: backport

#70227 [7.x] Ensure that security is enabled before doing user authentication checks (#70127)
  x-pack/plugins/reporting/server/routes/generation.test.ts
  x-pack/plugins/reporting/server/routes/jobs.test.ts
  x-pack/plugins/reporting/server/routes/lib/authorized_user_pre_routing.test.ts
  x-pack/plugins/reporting/server/routes/lib/authorized_user_pre_routing.ts
Labels: backport

#70491 SECURITY-ENDPOINT: add fields for events to metadata document
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/common/endpoint/types.ts
Labels: release_note:skip, v7.9.0, v8.0.0

#67707 [SIEM][Security Solution][Endpoint] Endpoint Artifact Manifest Management + Artifact Download and Distribution
  x-pack/plugins/lists/server/mocks.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/common/endpoint/schema/common.ts
  x-pack/plugins/security_solution/common/endpoint/schema/manifest.ts
  x-pack/plugins/security_solution/common/endpoint/types.ts
  x-pack/plugins/security_solution/kibana.json
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.test.ts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/endpoint/ingest_integration.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/cache.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/cache.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/common.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/index.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/lists.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/lists.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/manifest.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/manifest.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/manifest_entry.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/manifest_entry.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/saved_object_mappings.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/task.mock.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/task.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/task.ts
  x-pack/plugins/security_solution/server/endpoint/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/artifacts/download_exception_list.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/artifacts/download_exception_list.ts
  x-pack/plugins/security_solution/server/endpoint/routes/artifacts/index.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/common.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/index.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/lists.mock.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/lists.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/request/download_artifact_schema.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/request/index.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/response/download_artifact_schema.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/response/index.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/saved_objects.mock.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/saved_objects.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/index.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.mock.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/index.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_client.mock.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/index.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.mock.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
  x-pack/plugins/security_solution/server/endpoint/services/index.ts
  x-pack/plugins/security_solution/server/endpoint/types.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/saved_objects.ts
  x-pack/test/api_integration/apis/endpoint/artifacts/index.ts
  x-pack/test/functional/es_archives/endpoint/artifacts/api_feature/data.json
Labels: Feature:Endpoint, Team:Endpoint Response, release_note:skip, v7.9.0

#70397 [SIEM] Reenabling Cypress tests
  test/scripts/jenkins_security_solution_cypress.sh
  x-pack/plugins/security_solution/cypress/integration/overview.spec.ts
  x-pack/plugins/security_solution/cypress/integration/search_bar.spec.ts
  x-pack/plugins/security_solution/cypress/integration/url_state.spec.ts
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#70307 [7.x] updates wording in Cases connectors (#70298)
  x-pack/plugins/security_solution/public/common/lib/connectors/jira/translations.ts
  x-pack/plugins/security_solution/public/common/lib/connectors/servicenow/translations.ts
Labels: backport

#70548 Skip failing endgame tests
  x-pack/test/endpoint_api_integration_no_ingest/apis/index.ts
Labels: release_note:skip, v7.9.0, v8.0.0

#69978 [Lens] fix dimension label performance issues
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/popover_editor.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.9.0, v8.0.0

#70475 Reduce SavedObjects mappings for Application Usage
  src/plugins/kibana_usage_collection/server/collectors/application_usage/saved_objects_types.ts
Labels: Feature:Telemetry, Team:KibanaTelemetry, Team:Platform, release_note:skip, v7.9.0, v8.0.0

#70325 [7.x] chore: improve support for mjs file extension (#70186)
  .eslintrc.js
  docs/developer/core/development-unit-tests.asciidoc
  packages/eslint-config-kibana/jest.js
  src/dev/jest/config.js
  src/dev/run_eslint.js
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/test_utils/jest/config.integration.js
  x-pack/test_utils/jest/config.js
Labels: backport

#70401 [7.x] chore: add missing mjs extension (#70326)
  src/dev/jest/config.js
Labels: backport

#70552 [7.x] Skip failing endgame tests (#70548)
  x-pack/test/endpoint_api_integration_no_ingest/apis/index.ts
Labels: backport

#70177 [Visualizations] Each visType returns its supported triggers
  src/plugins/vis_type_table/public/table_vis_type.ts
  src/plugins/vis_type_tagcloud/public/tag_cloud_type.ts
  src/plugins/vis_type_vislib/public/area.ts
  src/plugins/vis_type_vislib/public/heatmap.ts
  src/plugins/vis_type_vislib/public/histogram.ts
  src/plugins/vis_type_vislib/public/horizontal_bar.ts
  src/plugins/vis_type_vislib/public/line.ts
  src/plugins/vis_type_vislib/public/pie.ts
  src/plugins/visualizations/public/embeddable/visualize_embeddable.ts
  src/plugins/visualizations/public/vis_types/base_vis_type.ts
  src/plugins/visualizations/public/vis_types/types_service.ts
  src/plugins/visualizations/public/vis_types/vis_type_alias_registry.ts
Labels: Feature:Drilldowns, Feature:Visualizations, release_note:skip, v7.9.0, v8.0.0

#69934 [Data table] Fix Date Histogram error when index does not have a time field
  src/plugins/data/public/search/tabify/get_columns.test.ts
  src/plugins/data/public/search/tabify/get_columns.ts
Labels: Feature:Data Table, Team:KibanaApp, bug, release_note:fix, v7.8.1, v7.9.0, v8.0.0

#70336 [APM] Show transaction rate per minute on Observability Overview page
  x-pack/plugins/apm/public/services/rest/observability.dashboard.test.ts
  x-pack/plugins/apm/public/services/rest/observability_dashboard.ts
  x-pack/plugins/apm/server/lib/observability_dashboard/get_transaction_coordinates.ts
Labels: Team:apm, release_note:skip, v7.9.0

#70167 [Ingest Pipelines] Error messages
  x-pack/plugins/ingest_pipelines/__jest__/client_integration/fixtures.ts
  x-pack/plugins/ingest_pipelines/__jest__/client_integration/helpers/pipeline_form.helpers.ts
  x-pack/plugins/ingest_pipelines/__jest__/client_integration/ingest_pipelines_create.test.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/error_utils.test.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/error_utils.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/i18n_texts.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/index.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/pipeline_form_error.tsx
  x-pack/plugins/ingest_pipelines/server/routes/api/create.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/shared/index.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/shared/is_object_with_keys.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/update.ts
Labels: Feature:Ingest Node Pipelines, Team:Elasticsearch UI, release_note:skip, v7.9.0, v8.0.0

#70553 [7.x] [Lens] fix dimension label performance issues (#69978)
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/popover_editor.tsx
Labels: backport

#70556 [7.x] Reduce SavedObjects mappings for Application Usage (#70475)
  src/plugins/kibana_usage_collection/server/collectors/application_usage/saved_objects_types.ts
Labels: backport

#70436 Use dynamic: false for config saved object mappings
  src/core/server/ui_settings/saved_objects/ui_settings.ts
Labels: Team:Platform, release_note:skip, v7.9.0, v8.0.0

#70561 [7.x] [Visualizations] Each visType returns its supported triggers (#70177)
  src/plugins/vis_type_table/public/table_vis_type.ts
  src/plugins/vis_type_tagcloud/public/tag_cloud_type.ts
  src/plugins/vis_type_vislib/public/area.ts
  src/plugins/vis_type_vislib/public/heatmap.ts
  src/plugins/vis_type_vislib/public/histogram.ts
  src/plugins/vis_type_vislib/public/horizontal_bar.ts
  src/plugins/vis_type_vislib/public/line.ts
  src/plugins/vis_type_vislib/public/pie.ts
  src/plugins/visualizations/public/embeddable/visualize_embeddable.ts
  src/plugins/visualizations/public/vis_types/base_vis_type.ts
  src/plugins/visualizations/public/vis_types/types_service.ts
  src/plugins/visualizations/public/vis_types/vis_type_alias_registry.ts
Labels: backport

#70563 [7.x] Filter out error when calculating a label (#69934)
  src/plugins/data/public/search/tabify/get_columns.test.ts
  src/plugins/data/public/search/tabify/get_columns.ts
Labels: backport

#69688 [Visualize] Add missing advanced settings and custom label for pipeline aggs
  src/plugins/vis_default_editor/public/components/agg_group.tsx
  src/plugins/vis_default_editor/public/components/agg_params_helper.ts
  src/plugins/vis_default_editor/public/components/controls/sub_metric.tsx
  test/functional/apps/visualize/_line_chart.js
Labels: :KibanaApp/fix-it-week, Team:KibanaApp, regression, release_note:fix, v7.9.0, v8.0.0

#70564 [7.8] Filter out error when calculating a label (#69934)
  src/plugins/data/public/search/tabify/get_columns.test.ts
  src/plugins/data/public/search/tabify/get_columns.ts
Labels: backport

#70559 add getVisibleTypes API to SO type registry
  docs/development/core/server/kibana-plugin-core-server.savedobjecttyperegistry.getalltypes.md
  docs/development/core/server/kibana-plugin-core-server.savedobjecttyperegistry.getvisibletypes.md
  docs/development/core/server/kibana-plugin-core-server.savedobjecttyperegistry.md
  src/core/server/saved_objects/saved_objects_type_registry.mock.ts
  src/core/server/saved_objects/saved_objects_type_registry.test.ts
  src/core/server/saved_objects/saved_objects_type_registry.ts
  src/core/server/server.api.md
  src/legacy/server/saved_objects/saved_objects_mixin.js
  x-pack/plugins/features/server/plugin.test.ts
  x-pack/plugins/features/server/plugin.ts
Labels: Team:Platform, release_note:skip, v7.9.0, v8.0.0

#70545 [7.x] [SECURITY-ENDPOINT] use ingest manager unenroll services to remove unenrolled endpoint (#70393)
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.ts
  x-pack/test/api_integration/apis/endpoint/data_stream_helper.ts
  x-pack/test/api_integration/apis/endpoint/metadata.ts
  x-pack/test/functional/es_archives/endpoint/metadata/unenroll_feature/metadata/data.json.gz
  x-pack/test/functional/es_archives/endpoint/metadata/unenroll_feature/metadata_mirror/data.json.gz
Labels: backport

#70547 [7.x] SECURITY-ENDPOINT: add fields for events to metadata document (#70491)
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/common/endpoint/types.ts
Labels: backport

#70577 chore(NA): disable alerts_detection_rules cypress suites
  x-pack/plugins/security_solution/cypress/integration/alerts_detection_rules_custom.spec.ts
  x-pack/plugins/security_solution/cypress/integration/alerts_detection_rules_export.spec.ts
Labels: chore, release_note:skip, v8.0.0

#70360 [7.x] [Discover] Remove column from sorting array when removed from table (#65990)
  src/plugins/discover/public/application/angular/discover.js
  test/functional/apps/discover/_discover.js
  test/functional/page_objects/discover_page.ts
Labels: backport

#66819 Update docs for api authentication usage
  docs/api/using-api.asciidoc
Labels: release_note:skip, v8.0.0

#70531 [7.x] fix export response (#70473)
  x-pack/plugins/security_solution/public/common/components/generic_downloader/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/generic_downloader/translations.ts
  x-pack/plugins/security_solution/public/timelines/containers/api.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/api.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#70569 [7.x] Use dynamic: false for config saved object mappings (#70436)
  src/core/server/ui_settings/saved_objects/ui_settings.ts
Labels: backport

#70573 [7.x] [Visualize] Add missing advanced settings and custom label for pipeline aggs (#69688)
  src/plugins/vis_default_editor/public/components/agg_group.tsx
  src/plugins/vis_default_editor/public/components/agg_params_helper.ts
  src/plugins/vis_default_editor/public/components/controls/sub_metric.tsx
  test/functional/apps/visualize/_line_chart.js
Labels: backport

#70496 [7.x] update mse to access value property (#70438)
  x-pack/plugins/ml/public/application/data_frame_analytics/common/analytics.ts
Labels: :ml, backport

#70428 [7.8] [Logs UI] Avoid CCS-incompatible index name resolution (#70179)
  x-pack/plugins/infra/common/http_api/log_sources/get_log_source_status.ts
  x-pack/plugins/infra/public/containers/logs/log_source/log_source.ts
  x-pack/plugins/infra/public/pages/logs/stream/page_content.tsx
  x-pack/plugins/infra/public/pages/logs/stream/page_providers.tsx
  x-pack/plugins/infra/server/routes/log_sources/status.ts
Labels: backport

#70518 [7.x] [Security_Solution][Endpoint] Refactor resolver generator for ancestry array (#70129)
  x-pack/plugins/security_solution/common/endpoint/generate_data.test.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/scripts/endpoint/resolver_generator.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/tree.test.ts
Labels: backport

#70134 [Security_Solution][Endpoint] Leveraging msearch and ancestry array for resolver
  x-pack/plugins/security_solution/common/endpoint/models/event.ts
  x-pack/plugins/security_solution/common/endpoint/schema/resolver.ts
  x-pack/plugins/security_solution/common/endpoint/types.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/alerts.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/base.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/events.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/lifecycle.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/multi_searcher.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/stats.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/alerts_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/ancestry_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_start_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/events_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/fetch.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/node.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
  x-pack/test/api_integration/apis/endpoint/resolver.ts
  x-pack/test/api_integration/services/resolver.ts
Labels: Feature:Endpoint, Team:Endpoint Data Visibility, release_note:skip, v7.9.0, v8.0.0

#70514 [7.x] [Ingest Manager] remove requirements component (#70462)
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/epm/screens/detail/content.tsx
Labels: backport

#70578 [7.x] add getVisibleTypes API to SO type registry (#70559)
  docs/development/core/server/kibana-plugin-core-server.savedobjecttyperegistry.getalltypes.md
  docs/development/core/server/kibana-plugin-core-server.savedobjecttyperegistry.getvisibletypes.md
  docs/development/core/server/kibana-plugin-core-server.savedobjecttyperegistry.md
  src/core/server/saved_objects/saved_objects_type_registry.mock.ts
  src/core/server/saved_objects/saved_objects_type_registry.test.ts
  src/core/server/saved_objects/saved_objects_type_registry.ts
  src/core/server/server.api.md
  src/legacy/server/saved_objects/saved_objects_mixin.js
  x-pack/plugins/features/server/plugin.test.ts
  x-pack/plugins/features/server/plugin.ts
Labels: backport

#70308 [APM] Don't fetch dynamic index pattern in setupRequest
  x-pack/plugins/apm/server/lib/errors/distribution/__tests__/get_buckets.test.ts
  x-pack/plugins/apm/server/lib/helpers/convert_ui_filters/get_ui_filters_es.ts
  x-pack/plugins/apm/server/lib/helpers/es_client.ts
  x-pack/plugins/apm/server/lib/helpers/setup_request.ts
  x-pack/plugins/apm/server/lib/transactions/charts/get_timeseries_data/fetcher.test.ts
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/get_local_filter_query.ts
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/index.ts
  x-pack/plugins/apm/server/routes/index_pattern.ts
  x-pack/plugins/apm/server/routes/ui_filters.ts
Labels: Team:apm, release_note:skip, v7.9.0

#70417 Redirect to default app if hash can not be forwarded
  src/plugins/kibana_legacy/public/forward_app/forward_app.ts
Labels: Feature:NP Migration, Team:KibanaApp, release_note:skip, v7.9.0, v8.0.0

#70567 [7.x] [Ingest Pipelines] Error messages (#70167)
  x-pack/plugins/ingest_pipelines/__jest__/client_integration/fixtures.ts
  x-pack/plugins/ingest_pipelines/__jest__/client_integration/helpers/pipeline_form.helpers.ts
  x-pack/plugins/ingest_pipelines/__jest__/client_integration/ingest_pipelines_create.test.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/error_utils.test.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/error_utils.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/i18n_texts.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/index.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_form/pipeline_form_error/pipeline_form_error.tsx
  x-pack/plugins/ingest_pipelines/server/routes/api/create.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/shared/index.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/shared/is_object_with_keys.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/update.ts
Labels: backport

#70433 Allow Saved Object type mappings to set a field's `doc_values` property
  docs/development/core/server/kibana-plugin-core-server.savedobjectscomplexfieldmapping.doc_values.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectscomplexfieldmapping.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectscorefieldmapping.doc_values.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectscorefieldmapping.md
  src/core/server/saved_objects/mappings/types.ts
  src/core/server/server.api.md
Labels: Team:Platform, release_note:skip, v7.9.0, v8.0.0

#69695 fix: discover and tsvb theming issues
  package.json
  packages/kbn-ui-shared-deps/package.json
  src/plugins/charts/README.md
  src/plugins/charts/public/services/theme/README.md
  src/plugins/charts/public/services/theme/mock.ts
  src/plugins/charts/public/services/theme/theme.test.tsx
  src/plugins/charts/public/services/theme/theme.ts
  src/plugins/discover/public/application/angular/directives/histogram.tsx
  src/plugins/vis_type_timeseries/public/application/components/vis_types/_vis_types.scss
  src/plugins/vis_type_timeseries/public/application/components/vis_types/timeseries/vis.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/index.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/utils/theme.test.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/utils/theme.ts
  x-pack/plugins/lens/kibana.json
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/fields_accordion.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/fields_accordion.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/index.ts
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/pie_visualization/index.ts
  x-pack/plugins/lens/public/pie_visualization/register_expression.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.test.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/xy_expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/index.ts
  x-pack/plugins/lens/public/xy_visualization/xy_expression.test.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_expression.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_alert_types/threshold/visualization.tsx
  yarn.lock
Labels: Feature:Discover, Feature:TSVB, Team:KibanaApp, bug, release_note:skip, v7.9.0, v8.0.0

#70320 [Ingest Manager] Update asset paths to use _ instead of -
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/epm/constants.tsx
Labels: Ingest Management:beta1, Team:Ingest Management, release_note:skip, v7.9.0, v8.0.0

#70063 [ML] Anomaly Explorer swim lane pagination
  x-pack/plugins/ml/public/application/app.tsx
  x-pack/plugins/ml/public/application/components/job_selector/job_selector_flyout.tsx
  x-pack/plugins/ml/public/application/components/navigation_menu/date_picker_wrapper/date_picker_wrapper.tsx
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/contexts/ml/ml_context.ts
  x-pack/plugins/ml/public/application/explorer/_explorer.scss
  x-pack/plugins/ml/public/application/explorer/actions/load_explorer_data.ts
  x-pack/plugins/ml/public/application/explorer/add_to_dashboard_control.tsx
  x-pack/plugins/ml/public/application/explorer/anomaly_timeline.tsx
  x-pack/plugins/ml/public/application/explorer/components/explorer_no_influencers_found/__snapshots__/explorer_no_influencers_found.test.js.snap
  x-pack/plugins/ml/public/application/explorer/components/explorer_no_influencers_found/explorer_no_influencers_found.tsx
  x-pack/plugins/ml/public/application/explorer/components/no_overall_data.tsx
  x-pack/plugins/ml/public/application/explorer/explorer.js
  x-pack/plugins/ml/public/application/explorer/explorer_constants.ts
  x-pack/plugins/ml/public/application/explorer/explorer_dashboard_service.ts
  x-pack/plugins/ml/public/application/explorer/explorer_swimlane.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_utils.d.ts
  x-pack/plugins/ml/public/application/explorer/explorer_utils.js
  x-pack/plugins/ml/public/application/explorer/hooks/use_selected_cells.ts
  x-pack/plugins/ml/public/application/explorer/legacy_utils.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/clear_influencer_filter_settings.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/job_selection_change.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/reducer.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/set_influencer_filter_settings.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/state.ts
  x-pack/plugins/ml/public/application/explorer/select_limit/index.ts
  x-pack/plugins/ml/public/application/explorer/select_limit/select_limit.test.tsx
  x-pack/plugins/ml/public/application/explorer/select_limit/select_limit.tsx
  x-pack/plugins/ml/public/application/explorer/swimlane_container.tsx
  x-pack/plugins/ml/public/application/explorer/swimlane_pagination.tsx
  x-pack/plugins/ml/public/application/routing/routes/explorer.tsx
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.test.tsx
  x-pack/plugins/ml/public/application/routing/use_refresh.ts
  x-pack/plugins/ml/public/application/services/anomaly_timeline_service.ts
  x-pack/plugins/ml/public/application/services/dashboard_service.test.ts
  x-pack/plugins/ml/public/application/services/dashboard_service.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/index.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/jobs.ts
  x-pack/plugins/ml/public/application/services/results_service/results_service.d.ts
  x-pack/plugins/ml/public/application/services/results_service/results_service.js
  x-pack/plugins/ml/public/application/services/timefilter_refresh_service.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_embeddable.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_embeddable_factory.test.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_embeddable_factory.ts
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_initializer.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/embeddable_swim_lane_container.test.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/embeddable_swim_lane_container.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/explorer_swimlane_container.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/swimlane_input_resolver.test.ts
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/swimlane_input_resolver.ts
  x-pack/plugins/ml/public/ui_actions/edit_swimlane_panel_action.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/services/ml/anomaly_explorer.ts
Labels: :ml, Feature:Anomaly Detection, Feature:Embedding, release_note:enhancement, v7.9.0, v8.0.0

#70583 [7.x] [Security_Solution][Endpoint] Leveraging msearch and ancestry array for resolver (#70134)
  x-pack/plugins/security_solution/common/endpoint/models/event.ts
  x-pack/plugins/security_solution/common/endpoint/schema/resolver.ts
  x-pack/plugins/security_solution/common/endpoint/types.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/alerts.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/base.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/events.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/lifecycle.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/multi_searcher.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/stats.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/alerts_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/ancestry_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_start_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/events_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/fetch.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/node.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
  x-pack/test/api_integration/apis/endpoint/resolver.ts
  x-pack/test/api_integration/services/resolver.ts
Labels: backport

#69370 Update known-plugins.asciidoc
  docs/plugins/known-plugins.asciidoc
Labels: release_note:skip, v7.9.0, v8.0.0, 💝community

#70533 Make Index Management functional and API integration tests robust against side effects introduced by Ingest Manager.
  x-pack/test/api_integration/apis/management/index_management/templates.js
  x-pack/test/functional/apps/index_management/home_page.ts
Labels: Feature:Index Management, Team:Elasticsearch UI, chore, release_note:skip, v7.9.0, v8.0.0

#70361 [ML] Updates APM Module to Work with Service Maps
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/datafeed_high_mean_transaction_duration.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/high_mean_response_time.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/high_mean_transaction_duration.json
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
Labels: :ml, apm:ml, release_note:enhancement, v7.9.0

#69433 [Security Solution] Reposition EuiPopovers on scroll
  src/plugins/data/public/ui/filter_bar/filter_bar.tsx
  src/plugins/data/public/ui/filter_bar/filter_options.tsx
  src/plugins/data/public/ui/query_string_input/language_switcher.tsx
  src/plugins/data/public/ui/saved_query_management/saved_query_management_component.tsx
  x-pack/plugins/security_solution/public/alerts/components/rules/rule_actions_overflow/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/alerts/components/rules/rule_actions_overflow/index.tsx
  x-pack/plugins/security_solution/public/alerts/pages/detection_engine/rules/all/rules_table_filters/tags_filter_popover.tsx
  x-pack/plugins/security_solution/public/cases/components/filter_popover/index.tsx
  x-pack/plugins/security_solution/public/cases/components/property_actions/index.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exceptions_pagination.tsx
  x-pack/plugins/security_solution/public/common/components/ml/score/__snapshots__/anomaly_score.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/ml/score/anomaly_score.tsx
  x-pack/plugins/security_solution/public/common/components/ml_popover/jobs_table/filters/__snapshots__/groups_filter_popover.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/ml_popover/jobs_table/filters/groups_filter_popover.tsx
  x-pack/plugins/security_solution/public/common/components/ml_popover/ml_popover.tsx
  x-pack/plugins/security_solution/public/common/components/paginated_table/index.tsx
  x-pack/plugins/security_solution/public/common/components/tables/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/utility_bar/utility_bar_action.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.tsx
  x-pack/plugins/security_solution/public/resolver/view/submenu.tsx
  x-pack/plugins/security_solution/public/timelines/components/field_renderers/field_renderers.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/insert_timeline_popover/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/properties_right.tsx
Labels: Team:SIEM, bug, release_note:fix, v7.9.0, v8.0.0

#70137 Adds FOSSA CLI configuration file
  .fossa.yml
Labels: Team:Operations, release_note:skip, v7.9.0, v8.0.0

#70525 [QA] [Code Coverage] Add Three Dot Compare Url
  .ci/Jenkinsfile_coverage
  src/dev/code_coverage/ingest_coverage/__tests__/either.test.js
  src/dev/code_coverage/ingest_coverage/__tests__/transforms.test.js
  src/dev/code_coverage/ingest_coverage/integration_tests/ingest_coverage.test.js
  src/dev/code_coverage/ingest_coverage/maybe.js
  src/dev/code_coverage/ingest_coverage/transforms.js
  src/dev/code_coverage/shell_scripts/ingest_coverage.sh
  vars/kibanaCoverage.groovy
Labels: backport:skip, release_note:skip, test-coverage, v8.0.0

#70598 [7.x] Fix discover, tsvb and Lens chart theming issues (#69695)
  package.json
  packages/kbn-ui-shared-deps/package.json
  src/plugins/charts/README.md
  src/plugins/charts/public/services/theme/README.md
  src/plugins/charts/public/services/theme/mock.ts
  src/plugins/charts/public/services/theme/theme.test.tsx
  src/plugins/charts/public/services/theme/theme.ts
  src/plugins/discover/public/application/angular/directives/histogram.tsx
  src/plugins/vis_type_timeseries/public/application/components/vis_types/_vis_types.scss
  src/plugins/vis_type_timeseries/public/application/components/vis_types/timeseries/vis.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/index.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/utils/theme.test.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/utils/theme.ts
  x-pack/plugins/lens/kibana.json
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/fields_accordion.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/fields_accordion.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/index.ts
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/pie_visualization/index.ts
  x-pack/plugins/lens/public/pie_visualization/register_expression.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.test.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/xy_expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/index.ts
  x-pack/plugins/lens/public/xy_visualization/xy_expression.test.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_expression.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_alert_types/threshold/visualization.tsx
  yarn.lock
Labels: backport

#70599 [7.x] Add more detailed unmet deps logging (#70098)
  src/core/server/plugins/plugins_service.test.ts
  src/core/server/plugins/plugins_service.ts
Labels: backport

#70600 [7.x] [Ingest Manager] Update asset paths to use _ instead of - (#70320)
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/epm/constants.tsx
Labels: backport

#70604 [ML] DF Analytics Regression results: ensure evaluate values are accessed correctly
  x-pack/plugins/ml/public/application/data_frame_analytics/common/analytics.ts
Labels: :ml, Feature:Data Frame Analytics, release_note:skip, v7.9.0

#70605 [7.x] [ML] Anomaly Explorer swim lane pagination (#70063)
  x-pack/plugins/ml/public/application/app.tsx
  x-pack/plugins/ml/public/application/components/job_selector/job_selector_flyout.tsx
  x-pack/plugins/ml/public/application/components/navigation_menu/date_picker_wrapper/date_picker_wrapper.tsx
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/contexts/ml/ml_context.ts
  x-pack/plugins/ml/public/application/explorer/_explorer.scss
  x-pack/plugins/ml/public/application/explorer/actions/load_explorer_data.ts
  x-pack/plugins/ml/public/application/explorer/add_to_dashboard_control.tsx
  x-pack/plugins/ml/public/application/explorer/anomaly_timeline.tsx
  x-pack/plugins/ml/public/application/explorer/components/explorer_no_influencers_found/__snapshots__/explorer_no_influencers_found.test.js.snap
  x-pack/plugins/ml/public/application/explorer/components/explorer_no_influencers_found/explorer_no_influencers_found.tsx
  x-pack/plugins/ml/public/application/explorer/components/no_overall_data.tsx
  x-pack/plugins/ml/public/application/explorer/explorer.js
  x-pack/plugins/ml/public/application/explorer/explorer_constants.ts
  x-pack/plugins/ml/public/application/explorer/explorer_dashboard_service.ts
  x-pack/plugins/ml/public/application/explorer/explorer_swimlane.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_utils.d.ts
  x-pack/plugins/ml/public/application/explorer/explorer_utils.js
  x-pack/plugins/ml/public/application/explorer/hooks/use_selected_cells.ts
  x-pack/plugins/ml/public/application/explorer/legacy_utils.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/clear_influencer_filter_settings.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/job_selection_change.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/reducer.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/set_influencer_filter_settings.ts
  x-pack/plugins/ml/public/application/explorer/reducers/explorer_reducer/state.ts
  x-pack/plugins/ml/public/application/explorer/select_limit/index.ts
  x-pack/plugins/ml/public/application/explorer/select_limit/select_limit.test.tsx
  x-pack/plugins/ml/public/application/explorer/select_limit/select_limit.tsx
  x-pack/plugins/ml/public/application/explorer/swimlane_container.tsx
  x-pack/plugins/ml/public/application/explorer/swimlane_pagination.tsx
  x-pack/plugins/ml/public/application/routing/routes/explorer.tsx
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.test.tsx
  x-pack/plugins/ml/public/application/routing/use_refresh.ts
  x-pack/plugins/ml/public/application/services/anomaly_timeline_service.ts
  x-pack/plugins/ml/public/application/services/dashboard_service.test.ts
  x-pack/plugins/ml/public/application/services/dashboard_service.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/index.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/jobs.ts
  x-pack/plugins/ml/public/application/services/results_service/results_service.d.ts
  x-pack/plugins/ml/public/application/services/results_service/results_service.js
  x-pack/plugins/ml/public/application/services/timefilter_refresh_service.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_embeddable.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_embeddable_factory.test.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_embeddable_factory.ts
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_initializer.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/embeddable_swim_lane_container.test.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/embeddable_swim_lane_container.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/explorer_swimlane_container.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/swimlane_input_resolver.test.ts
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/swimlane_input_resolver.ts
  x-pack/plugins/ml/public/ui_actions/edit_swimlane_panel_action.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/services/ml/anomaly_explorer.ts
Labels: :ml, backport

#70534 [7.x] [Metrics UI] Fix asynchronicity and error handling in Snapshot API (#70503)
  x-pack/plugins/infra/server/lib/snapshot/snapshot.ts
Labels: backport

#67742 [DOC] CSV Reporting settings
  docs/settings/reporting-settings.asciidoc
Labels: Feature:Reporting, docs, release_note:skip, v7.3.0, v7.4.0, v7.5.0, v7.6.0, v7.7.0, v7.8.0, v7.9.0, v8.0.0

#70615 [7.x] [Security Solution] Reposition EuiPopovers on scroll (#69433)
  src/plugins/data/public/ui/filter_bar/filter_bar.tsx
  src/plugins/data/public/ui/filter_bar/filter_options.tsx
  src/plugins/data/public/ui/query_string_input/language_switcher.tsx
  src/plugins/data/public/ui/saved_query_management/saved_query_management_component.tsx
  x-pack/plugins/security_solution/public/alerts/components/rules/rule_actions_overflow/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/alerts/components/rules/rule_actions_overflow/index.tsx
  x-pack/plugins/security_solution/public/alerts/pages/detection_engine/rules/all/rules_table_filters/tags_filter_popover.tsx
  x-pack/plugins/security_solution/public/cases/components/filter_popover/index.tsx
  x-pack/plugins/security_solution/public/cases/components/property_actions/index.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exceptions_pagination.tsx
  x-pack/plugins/security_solution/public/common/components/ml/score/__snapshots__/anomaly_score.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/ml/score/anomaly_score.tsx
  x-pack/plugins/security_solution/public/common/components/ml_popover/jobs_table/filters/__snapshots__/groups_filter_popover.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/ml_popover/jobs_table/filters/groups_filter_popover.tsx
  x-pack/plugins/security_solution/public/common/components/ml_popover/ml_popover.tsx
  x-pack/plugins/security_solution/public/common/components/paginated_table/index.tsx
  x-pack/plugins/security_solution/public/common/components/tables/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/utility_bar/utility_bar_action.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.tsx
  x-pack/plugins/security_solution/public/resolver/view/submenu.tsx
  x-pack/plugins/security_solution/public/timelines/components/field_renderers/field_renderers.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/insert_timeline_popover/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/properties_right.tsx
Labels: backport

#70620 [7.8] [Security Solution] Reposition EuiPopovers on scroll (#69433)
  src/plugins/data/public/ui/filter_bar/filter_bar.tsx
  src/plugins/data/public/ui/filter_bar/filter_options.tsx
  src/plugins/data/public/ui/query_string_input/language_switcher.tsx
  src/plugins/data/public/ui/saved_query_management/saved_query_management_component.tsx
  x-pack/plugins/siem/public/components/field_renderers/field_renderers.tsx
  x-pack/plugins/siem/public/components/filter_popover/index.tsx
  x-pack/plugins/siem/public/components/ml/score/__snapshots__/anomaly_score.test.tsx.snap
  x-pack/plugins/siem/public/components/ml/score/anomaly_score.tsx
  x-pack/plugins/siem/public/components/ml_popover/jobs_table/filters/__snapshots__/groups_filter_popover.test.tsx.snap
  x-pack/plugins/siem/public/components/ml_popover/jobs_table/filters/groups_filter_popover.tsx
  x-pack/plugins/siem/public/components/ml_popover/ml_popover.tsx
  x-pack/plugins/siem/public/components/paginated_table/index.tsx
  x-pack/plugins/siem/public/components/tables/helpers.tsx
  x-pack/plugins/siem/public/components/timeline/insert_timeline_popover/index.tsx
  x-pack/plugins/siem/public/components/timeline/properties/properties_right.tsx
  x-pack/plugins/siem/public/components/utility_bar/utility_bar_action.tsx
  x-pack/plugins/siem/public/pages/case/components/property_actions/index.tsx
  x-pack/plugins/siem/public/pages/detection_engine/rules/all/rules_table_filters/tags_filter_popover.tsx
  x-pack/plugins/siem/public/pages/detection_engine/rules/components/rule_actions_overflow/__snapshots__/index.test.tsx.snap
  x-pack/plugins/siem/public/pages/detection_engine/rules/components/rule_actions_overflow/index.tsx
Labels: backport

#70588 [7.x] [APM] Simpler security check (#69780)
  x-pack/plugins/apm/scripts/kibana-security/setup-custom-kibana-user-role.ts
Labels: backport

#70591 [7.x] [APM] Don't fetch index pattern in setupRequest (#70308)
  x-pack/plugins/apm/server/lib/errors/distribution/__tests__/get_buckets.test.ts
  x-pack/plugins/apm/server/lib/helpers/convert_ui_filters/get_ui_filters_es.ts
  x-pack/plugins/apm/server/lib/helpers/es_client.ts
  x-pack/plugins/apm/server/lib/helpers/setup_request.ts
  x-pack/plugins/apm/server/lib/transactions/charts/get_timeseries_data/fetcher.test.ts
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/get_local_filter_query.ts
  x-pack/plugins/apm/server/lib/ui_filters/local_ui_filters/index.ts
  x-pack/plugins/apm/server/routes/index_pattern.ts
  x-pack/plugins/apm/server/routes/ui_filters.ts
Labels: backport

#70482 Build docker image for elasticsearch snapshot
  .ci/es-snapshots/Jenkinsfile_build_es
Labels: release_note:skip, v7.8.1, v7.9.0, v8.0.0

#70437 Remove the base package from the default packages
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
Labels: Ingest Management:beta1, Team:Ingest Management, release_note:skip, v7.9.0, v8.0.0

#70529 [Metrics UI] Register function for Observability homepage
  x-pack/plugins/infra/public/__snapshots__/metrics_overview_fetchers.test.ts.snap
  x-pack/plugins/infra/public/metrics_overview_fetchers.test.ts
  x-pack/plugins/infra/public/metrics_overview_fetchers.ts
  x-pack/plugins/infra/public/plugin.ts
  x-pack/plugins/infra/public/test_utils/index.ts
  x-pack/plugins/observability/public/typings/fetch_overview_data/index.ts
Labels: Feature:Metrics UI, Feature:Observability Landing - Milestone 1, Team:logs-metrics-ui, release_note:enhancement, v7.9.0, v8.0.0

#70625 [7.x] update reg evaluate property names (#70604)
  x-pack/plugins/ml/public/application/data_frame_analytics/common/analytics.ts
Labels: :ml, backport

#70546 [SECURITY SOLUTION] Remove unneeded options from default policy, remove Notify user option from UI
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/types.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/malware.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.9.0, v8.0.0

#70638 [APM] Disable flaky useFetcher test
  x-pack/plugins/apm/public/components/shared/useDelayedVisibility/index.test.tsx
Labels: Team:apm, release_note:skip, v7.9.0

#70616 [7.x] [ML] Updates APM Module to Work with Service Maps (#70361)
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/datafeed_high_mean_transaction_duration.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/high_mean_response_time.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_transaction/ml/high_mean_transaction_duration.json
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
Labels: :ml, backport

#70629 Update network idle timeout
  test/scripts/jenkins_visual_regression.sh
  test/scripts/jenkins_xpack_visual_regression.sh
Labels: release_note:skip, v7.8.1, v7.9.0, v8.0.0

#70606 [Maps] fix unable to edit heatmap metric
  x-pack/plugins/maps/public/classes/sources/es_agg_source/es_agg_source.js
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/plugins/maps/public/classes/sources/es_pew_pew_source/es_pew_pew_source.js
  x-pack/plugins/maps/public/components/__snapshots__/metrics_editor.test.js.snap
  x-pack/plugins/maps/public/components/metrics_editor.js
  x-pack/plugins/maps/public/components/metrics_editor.test.js
Labels: Team:Geo, release_note:fix, v7.8.1, v7.9.0, v8.0.0

#70618 [SIEM][Detections Engine] - Fix initial 400 error on signals search
  x-pack/plugins/security_solution/public/alerts/components/alerts_info/query.dsl.ts
Labels: Team:SIEM, release_note:fix, v7.8.0, v7.9.0, v8.0.0

#70509 [7.x] More permissive with IE warning (#70388)
  src/core/public/chrome/chrome_service.tsx
  x-pack/plugins/uptime/public/components/overview/monitor_list/__tests__/__snapshots__/monitor_list.test.tsx.snap
Labels: backport

#70645 [7.x] Remove the base package from the default packages (#70437)
  x-pack/plugins/ingest_manager/common/types/models/epm.ts
Labels: backport

#70634 [Security Solution] Renames the `Investigate in Resolver` Timeline action
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/translations.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/styles.tsx
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#70633 Update component templates list to render empty prompt inside of content container
  x-pack/plugins/index_management/public/application/components/component_templates/component_template_list/component_template_list.tsx
Labels: Feature:Index Management, Team:Elasticsearch UI, release_note:skip, v7.9.0, v8.0.0

#68826 Fix saved query modal overlay
  src/plugins/data/public/ui/saved_query_management/saved_query_management_component.tsx
  x-pack/plugins/security_solution/public/common/components/query_bar/index.test.tsx
Labels: Team:AppArch, Team:SIEM, bug, release_note:skip, v7.8.1, v8.0.0
