Repository elastic/kibana, pull requests merged in 2020-04, with the labels that each got.

#61565 [Search service] Shim total hits in async search response
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/shim_hits_total.test.ts
  x-pack/plugins/data_enhanced/server/search/shim_hits_total.ts
Labels: Feature:Search, Team:AppArch, release_note:skip, review, v7.7.0, v8.0.0

#62067 [7.7] [ci/es] always pull snapshots, break early when they're not av… (#62040)
  src/dev/ci_setup/setup.sh
  test/scripts/jenkins_build_kibana.sh
  test/scripts/jenkins_xpack_build_kibana.sh
Labels: backport

#62071 Don't fetch service map data if no license
  x-pack/legacy/plugins/apm/public/components/app/ServiceMap/index.tsx
Labels: release_note:skip, v7.7.0

#62064 [SIEM] Fix race condition in integration tests
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/utils.ts
Labels: Team:SIEM, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62092 [Maps] Updates tests to not rely on field order
  x-pack/test/functional/apps/maps/documents_source/docvalue_fields.js
Labels: Team:Geo, release_note:skip, v7.8.0, v8.0.0

#62098 [7.7] Fix race condition in integration tests (#62064)
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/utils.ts
Labels: backport

#62097 [7.x] Fix race condition in integration tests (#62064)
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/utils.ts
Labels: backport

#62096 [7.7] [Search service] Shim total hits in async search response (#61565)
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/shim_hits_total.test.ts
  x-pack/plugins/data_enhanced/server/search/shim_hits_total.ts
Labels: backport

#62095 [7.x] [Search service] Shim total hits in async search response (#61565)
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/shim_hits_total.test.ts
  x-pack/plugins/data_enhanced/server/search/shim_hits_total.ts
Labels: backport

#61650 [APM] Filters are not prefilled when the custom link flyout is opened from a transaction page.
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkFlyout/FiltersSection.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/__test__/TransactionActionMenu.test.tsx
Labels: Feature:Custom Links, release_note:fix, v7.7.0

#62063 [7.7] slows down timeline creation (#62037)
  x-pack/legacy/plugins/siem/cypress/integration/url_state.spec.ts
Labels: backport

#62062 [7.x] slows down timeline creation (#62037)
  x-pack/legacy/plugins/siem/cypress/integration/url_state.spec.ts
Labels: backport

#62057 [7.7] increases default command timeout (#62022)
  x-pack/legacy/plugins/siem/cypress.json
Labels: backport

#62056 [7.x] increases default command timeout (#62022)
  x-pack/legacy/plugins/siem/cypress.json
Labels: backport

#62001 [7.7] [UA] Tight worker loop can cause high CPU usage (#60950)
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/op_utils.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/worker.ts
Labels: backport

#62000 [7.x] [UA] Tight worker loop can cause high CPU usage (#60950)
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/op_utils.ts
  x-pack/plugins/upgrade_assistant/server/lib/reindexing/worker.ts
Labels: backport

#62112 Update docs on how to run ingest manager
  x-pack/plugins/ingest_manager/README.md
Labels: Team:Ingest Management, release_note:skip, v7.8, v8.0.0

#62108 [7.7] [APM] Filters are not prefilled when the custom link flyout is opened from a transaction page. (#61650)
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkFlyout/FiltersSection.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/__test__/TransactionActionMenu.test.tsx
Labels: backport

#62107 [7.x] [APM] Filters are not prefilled when the custom link flyout is opened from a transaction page. (#61650)
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkFlyout/FiltersSection.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkFlyout/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/index.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
  x-pack/legacy/plugins/apm/public/components/shared/TransactionActionMenu/__test__/TransactionActionMenu.test.tsx
Labels: backport

#62019 [DOCS] Show new date picker in logs UI docs
  docs/logs/images/logs-console.png
  docs/logs/using.asciidoc
Labels: Team:Docs, release_note:skip, v7.7.0, v8.0.0

#61957 [APM] Ensure telemetry data matches SO/telemetry mapping
  x-pack/legacy/plugins/apm/mappings.json
  x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/types.ts
Labels: bug, release_note:skip, v7.7.0

#61971 [7.7] [APM] Fix deduplication for focused service maps (#61580)
  x-pack/plugins/apm/server/lib/service_map/dedupe_connections/index.test.ts
  x-pack/plugins/apm/server/lib/service_map/dedupe_connections/index.ts
Labels: backport

#61973 [7.7] APM] Set ignore_above to 1024 for telemetry saved object (#61732)
  x-pack/legacy/plugins/apm/mappings.json
Labels: backport

#61972 [7.x] APM] Set ignore_above to 1024 for telemetry saved object (#61732)
  x-pack/legacy/plugins/apm/mappings.json
Labels: backport

#61595 [Home][Tutorial] Add Oracle data UI
  src/legacy/core_plugins/kibana/public/home/tutorial_resources/logos/oracle.svg
  src/plugins/home/server/tutorials/oracle_metrics/index.ts
  src/plugins/home/server/tutorials/register.ts
Labels: Feature:Home, release_note:skip, v7.7.0, v8.0.0

#62005 [ML] Fix maximum default enabled columns for data grid.
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/hooks/use_explore_data/use_explore_data.ts
  x-pack/plugins/transform/public/app/common/data_grid.ts
  x-pack/plugins/transform/public/app/common/index.ts
  x-pack/plugins/transform/public/app/components/pivot_preview/pivot_preview.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/source_index_preview/source_index_preview.tsx
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
Labels: :ml, Feature:Data Frame Analytics, Feature:Transforms, bug, regression, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#61346 [Fleet] Enrollment list page
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/constants/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/hooks/use_request/enrollment_api_keys.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/yaml/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_list_page/components/enrollment_api_keys/hooks.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/components/list_layout.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/enrollment_token_list_page/components/confirm_delete_modal.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/enrollment_token_list_page/components/new_enrollment_key_flyout.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/enrollment_token_list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/types/index.ts
  x-pack/plugins/ingest_manager/server/services/api_keys/enrollment_api_key.ts
  x-pack/test/api_integration/apis/fleet/enrollment_api_keys/crud.ts
Labels: Feature:Fleet, Team:Ingest Management, release_note:skip, v7.8.0, v8.0.0

#61610 [APM] .apm-agent-configuration is not created if Kibana is started while ES is not ready
  x-pack/package.json
  x-pack/plugins/apm/server/lib/helpers/create_or_update_index.ts
  yarn.lock
Labels: apm-test-plan-7.7.0, release_note:fix, v7.7.0

#62117 [backport] Bump to 5.1.2
  package.json
  yarn.lock
Labels: release_note:skip, v8.0.0

#60825 [SIEM][Detection Engine] Adds release notes link and updates one UI section
  x-pack/legacy/plugins/siem/cypress/integration/signal_detection_rules_prebuilt.spec.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/pre_packaged_rules/translations.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/pre_packaged_rules/update_callout.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/translations.ts
Labels: Team:SIEM, release_note:enhancement, v7.7.0, v8.0.0

#61615 Fix validation for index threshold when selecting an index
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_alert_types/threshold/expression.tsx
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62116 [ML] Functional API tests - fix mml request bodies
  x-pack/test/api_integration/apis/ml/calculate_model_memory_limit.ts
Labels: :ml, release_note:skip, test-api-integration, v7.7.0, v7.8.0, v8.0.0

#62136 [7.7] [APM] .apm-agent-configuration is not created if Kibana is started while ES is not ready (#61610)
  x-pack/package.json
  x-pack/plugins/apm/server/lib/helpers/create_or_update_index.ts
  yarn.lock
Labels: backport

#62135 [7.x] [APM] .apm-agent-configuration is not created if Kibana is started while ES is not ready (#61610)
  x-pack/package.json
  x-pack/plugins/apm/server/lib/helpers/create_or_update_index.ts
  yarn.lock
Labels: backport

#62041 [ML] DF Analytics job list: ensure filter works as expected
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/analytics_list.tsx
Labels: :ml, Feature:Data Frame Analytics, bug, release_note:fix, v7.7.0, v7.8.0, v8.0.0

#61510 [Maps] Highlight selected layer in TOC
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/__snapshots__/view.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/_toc_entry.scss
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/view.test.js
Labels: Team:Geo, release_note:enhancement, v7.8.0, v8.0.0

#62083 [Task Manager] Change info message "ran out Available Workers" to debug
  x-pack/plugins/task_manager/server/task_manager.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62120 [7.x] [DOCS] Show new date picker in logs UI docs (#62019)
  docs/logs/images/logs-console.png
  docs/logs/using.asciidoc
Labels: backport

#62121 [7.7] [DOCS] Show new date picker in logs UI docs (#62019)
  docs/logs/images/logs-console.png
  docs/logs/using.asciidoc
Labels: backport

#62088 [7.7] [Uptime] Fix action variables for monitor status alert (#61844)
  x-pack/legacy/plugins/uptime/public/lib/alert_types/__tests__/monitor_status.test.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/monitor_status.tsx
  x-pack/plugins/uptime/server/lib/alerts/__tests__/status_check.test.ts
  x-pack/plugins/uptime/server/lib/alerts/status_check.ts
Labels: Team:uptime, backport, v7.7.0

#62087 [7.x] [Uptime] Fix action variables for monitor status alert (#61844)
  x-pack/legacy/plugins/uptime/public/lib/alert_types/__tests__/monitor_status.test.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/monitor_status.tsx
  x-pack/plugins/uptime/server/lib/alerts/__tests__/status_check.test.ts
  x-pack/plugins/uptime/server/lib/alerts/status_check.ts
Labels: Team:uptime, backport, v7.8.0

#61765 [7.x] Graph: Migrate feature registration (#61419)
  x-pack/legacy/plugins/graph/index.ts
  x-pack/plugins/graph/kibana.json
  x-pack/plugins/graph/server/plugin.ts
Labels: backport

#61799 [ML] Transforms: Fix handling of default and advanced search on step summary view.
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_summary.tsx
Labels: :ml, Feature:Transforms, bug, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62076 [7.7] Close create alert popover after the create alert flyout has been selected. (#62036)
  x-pack/legacy/plugins/uptime/public/components/functional/alerts/toggle_alert_flyout_button.tsx
Labels: backport

#61774 [Alerting] Add "Start trial" button for connectors
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.tsx
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.7.0, v8.0.0

#62131 [7.7] [ML] Fix maximum default enabled columns for data grid. (#62005)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/hooks/use_explore_data/use_explore_data.ts
  x-pack/plugins/transform/public/app/common/data_grid.ts
  x-pack/plugins/transform/public/app/common/index.ts
  x-pack/plugins/transform/public/app/components/pivot_preview/pivot_preview.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/source_index_preview/source_index_preview.tsx
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
Labels: :ml, backport

#62130 [7.x] [ML] Fix maximum default enabled columns for data grid. (#62005)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/hooks/use_explore_data/use_explore_data.ts
  x-pack/plugins/transform/public/app/common/data_grid.ts
  x-pack/plugins/transform/public/app/common/index.ts
  x-pack/plugins/transform/public/app/components/pivot_preview/pivot_preview.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/source_index_preview/source_index_preview.tsx
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
Labels: :ml, backport

#62138 [7.x] [Fleet] Enrollment list page (#61346)
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/constants/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/hooks/use_request/enrollment_api_keys.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/yaml/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_list_page/components/enrollment_api_keys/hooks.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/components/list_layout.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/enrollment_token_list_page/components/confirm_delete_modal.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/enrollment_token_list_page/components/new_enrollment_key_flyout.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/enrollment_token_list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/types/index.ts
  x-pack/plugins/ingest_manager/server/services/api_keys/enrollment_api_key.ts
  x-pack/test/api_integration/apis/fleet/enrollment_api_keys/crud.ts
Labels: backport

#61443 Document new `xpack.security.authc.*` settings and related 8.0.0 breaking changes.
  docs/migration/migrate_8_0.asciidoc
  docs/setup/settings.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: Feature:Security/Authentication, Team:Docs, Team:Security, release_note:skip, v7.7.0

#60319 [Fleet] Ouput api key do not need metricbeat* access
  x-pack/plugins/ingest_manager/server/services/api_keys/index.ts
Labels: Feature:Fleet, Team:Ingest Management, release_note:skip, v7.8.0, v8.0.0

#62153 [7.7] [ML] Functional API tests - fix mml request bodies (#62116)
  x-pack/test/api_integration/apis/ml/calculate_model_memory_limit.ts
Labels: :ml, backport

#62152 [7.x] [ML] Functional API tests - fix mml request bodies (#62116)
  x-pack/test/api_integration/apis/ml/calculate_model_memory_limit.ts
Labels: :ml, backport

#62100 [7.x] [Maps] Updates tests to not rely on field order (#62092)
  x-pack/test/functional/apps/maps/documents_source/docvalue_fields.js
Labels: backport

#61979 [7.x] [Maps] Explicitly pass fetch function to ems-client (#61846)
  src/legacy/ui/public/vis/map/service_settings.js
  x-pack/legacy/plugins/maps/server/routes.js
Labels: backport

#62146 [7.7] [SIEM][Detection Engine] Adds release notes link and updates one UI section (#60825)
  x-pack/legacy/plugins/siem/cypress/integration/signal_detection_rules_prebuilt.spec.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/pre_packaged_rules/translations.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/pre_packaged_rules/update_callout.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/translations.ts
Labels: backport

#62145 [7.x] [SIEM][Detection Engine] Adds release notes link and updates one UI section (#60825)
  x-pack/legacy/plugins/siem/cypress/integration/signal_detection_rules_prebuilt.spec.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/pre_packaged_rules/translations.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/pre_packaged_rules/update_callout.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/translations.ts
Labels: backport

#62157 [7.7] ensure pageIndex is set correclty in analytics list (#62041)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/analytics_list.tsx
Labels: :ml, backport

#61556 [APM] Update central configuration text
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/general_settings.ts
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/java_settings.ts
Labels: Team:apm, release_note:skip, v7.7.0

#62147 [7.x] Fix validation for index threshold when selecting an index (#61615)
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_alert_types/threshold/expression.tsx
Labels: backport

#62148 [7.7] Fix validation for index threshold when selecting an index (#61615)
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_alert_types/threshold/expression.tsx
Labels: backport

#62156 [7.x] ensure pageIndex is set correclty in analytics list (#62041)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/analytics_list.tsx
Labels: :ml, backport

#62163 [7.7] [ML] Transforms: Fix handling of default and advanced search on step summary view. (#61799)
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_summary.tsx
Labels: :ml, backport

#62162 [7.x] [ML] Transforms: Fix handling of default and advanced search on step summary view. (#61799)
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_summary.tsx
Labels: :ml, backport

#62089 Update percy agent to latest version
  package.json
  packages/kbn-pm/dist/index.js
  yarn.lock
Labels: release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62165 [7.7] [Alerting] Add "Start trial" button for connectors (#61774)
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.tsx
Labels: backport

#62164 [7.x] [Alerting] Add "Start trial" button for connectors (#61774)
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.tsx
Labels: backport

#62158 [7.x] [Maps] Highlight selected layer in TOC (#61510)
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/__snapshots__/view.test.js.snap
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/_toc_entry.scss
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/view.js
  x-pack/legacy/plugins/maps/public/connected_components/widget_overlay/layer_control/layer_toc/toc_entry/view.test.js
Labels: backport

#61113 [Alerting] add alerting privileges for uptime and metrics
  x-pack/plugins/infra/server/features.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/capabilities.ts
  x-pack/plugins/uptime/server/kibana.index.ts
Labels: Feature:Alerting, Team:Alerting Services, Team:uptime, release_note:skip, v7.7.0, v8.0.0

#62174 [7.x] [Fleet] Ouput api key do not need metricbeat* access (#60319)
  x-pack/plugins/ingest_manager/server/services/api_keys/index.ts
Labels: backport

#62161 [7.7] [Task Manager] Change info message "ran out Available Workers" to debug (#62083)
  x-pack/plugins/task_manager/server/task_manager.ts
Labels: backport

#62160 [7.x] [Task Manager] Change info message "ran out Available Workers" to debug (#62083)
  x-pack/plugins/task_manager/server/task_manager.ts
Labels: backport

#62093 Update ILM node attributes blacklist.
  x-pack/legacy/plugins/index_lifecycle_management/server/routes/api/nodes/constants.ts
Labels: Feature:ILM, Team:Elasticsearch UI, chore, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62045 Update CODEOWNERS with ES-UI apps, including grok debugger.
  .github/CODEOWNERS
Labels: Feature:Grok Debugger, Team:Elasticsearch UI, backport:skip, chore, release_note:skip, v8.0.0

#62061 [Metrics Alerts] Fix action variables, default message, and EUI casing
  x-pack/plugins/infra/public/components/alerting/metrics/alert_dropdown.tsx
  x-pack/plugins/infra/public/components/alerting/metrics/metric_threshold_alert_type.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_alert_type.ts
Labels: Feature:Alerting, Feature:Metrics UI, Team:logs-metrics-ui, bug, release_note:skip, v7.7.0, v8.0.0

#62181 [Maps] Update ems client dependency to 7.8.0
  package.json
  x-pack/package.json
  yarn.lock
Labels: Feature:Coordinate Map, Feature:Region Map, Team:Geo, release_note:skip, v7.8.0, v8.0.0

#62185 [7.x] Update percy agent to latest version (#62089)
  package.json
  packages/kbn-pm/dist/index.js
  yarn.lock
Labels: backport

#62094 [SIEM] Restores the External alert count widget's subtitle
  x-pack/legacy/plugins/siem/public/components/matrix_histogram/index.tsx
  x-pack/legacy/plugins/siem/public/pages/overview/alerts_by_category/index.test.tsx
  x-pack/legacy/plugins/siem/public/pages/overview/alerts_by_category/index.tsx
Labels: Team:SIEM, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62191 [7.x] Update ILM node attributes blacklist. (#62093)
  x-pack/legacy/plugins/index_lifecycle_management/server/routes/api/nodes/constants.ts
Labels: backport

#62111 [APM] Disable client caching for Service map API call
  x-pack/legacy/plugins/apm/public/components/app/ServiceMap/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/AgentConfigurations/AgentConfigurationCreateEdit/ServicePage/ServicePage.tsx
  x-pack/legacy/plugins/apm/public/hooks/useDynamicIndexPattern.ts
  x-pack/legacy/plugins/apm/public/services/__test__/callApi.test.ts
  x-pack/legacy/plugins/apm/public/services/rest/callApi.ts
Labels: Feature:Service Maps, apm-test-plan-7.7.0, release_note:skip, v7.7.0

#62188 [7.x] [Alerting] add alerting privileges for uptime and metrics (#61113)
  x-pack/plugins/infra/server/features.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/capabilities.ts
  x-pack/plugins/uptime/server/kibana.index.ts
Labels: backport

#62189 [7.7] [Alerting] add alerting privileges for uptime and metrics (#61113)
  x-pack/plugins/infra/server/features.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/capabilities.ts
  x-pack/plugins/uptime/server/kibana.index.ts
Labels: backport

#62196 [7.7] [Metrics Alerts] Fix action variables, default message, and EU… (#62061)
  x-pack/plugins/infra/public/components/alerting/metrics/alert_dropdown.tsx
  x-pack/plugins/infra/public/components/alerting/metrics/metric_threshold_alert_type.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_alert_type.ts
Labels: backport

#62195 [7.x] [Metrics Alerts] Fix action variables, default message, and EU… (#62061)
  x-pack/plugins/infra/public/components/alerting/metrics/alert_dropdown.tsx
  x-pack/plugins/infra/public/components/alerting/metrics/metric_threshold_alert_type.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_alert_type.ts
Labels: backport

#62197 Revert "Endpoint: Add ts-node dev dependency (#61884)"
  x-pack/plugins/endpoint/package.json
  x-pack/plugins/endpoint/scripts/README.md
  yarn.lock
Labels: release_note:skip, v7.7.0, v8.0.0

#61872 [7.x] [ERT-221] Add backwards paging (#60986)
  x-pack/plugins/endpoint/common/schema/alert_index.ts
  x-pack/plugins/endpoint/common/types.ts
  x-pack/plugins/endpoint/server/routes/alerts/lib/index.ts
  x-pack/plugins/endpoint/server/routes/alerts/list/lib/index.ts
  x-pack/plugins/endpoint/server/routes/alerts/types.ts
  x-pack/test/api_integration/apis/endpoint/alerts.ts
  x-pack/test/functional/es_archives/endpoint/alerts/api_feature/data.json.gz
Labels: Feature:Endpoint, Team:Endpoint Response, backport

#62200 [7.x] [Maps] Update ems client dependency to 7.8.0 (#62181)
  package.json
  x-pack/package.json
  yarn.lock
Labels: backport

#62182 [7.x] [APM] Update central configuration text (#61556)
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/general_settings.ts
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/java_settings.ts
Labels: backport

#62183 [7.7] [APM] Update central configuration text (#61556)
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/general_settings.ts
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/java_settings.ts
Labels: backport

#62205 [7.x] [SIEM] Restores the _External alert count_ widget's subtitle (#62094)
  x-pack/legacy/plugins/siem/public/components/matrix_histogram/index.tsx
  x-pack/legacy/plugins/siem/public/pages/overview/alerts_by_category/index.test.tsx
  x-pack/legacy/plugins/siem/public/pages/overview/alerts_by_category/index.tsx
Labels: backport

#62206 [7.7] [SIEM] Restores the _External alert count_ widget's subtitle (#62094)
  x-pack/legacy/plugins/siem/public/components/matrix_histogram/index.tsx
  x-pack/legacy/plugins/siem/public/pages/overview/alerts_by_category/index.test.tsx
  x-pack/legacy/plugins/siem/public/pages/overview/alerts_by_category/index.tsx
Labels: backport

#62187 [7.7] Update percy agent to latest version (#62089)
  package.json
  packages/kbn-pm/dist/index.js
  yarn.lock
Labels: backport

#62170 [SIEM] CASES Bugs BC2
  x-pack/legacy/plugins/siem/public/containers/case/api.ts
  x-pack/legacy/plugins/siem/public/containers/case/configure/use_configure.tsx
  x-pack/legacy/plugins/siem/public/containers/case/translations.ts
  x-pack/legacy/plugins/siem/public/containers/case/use_get_cases.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/all_cases/columns.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/all_cases/index.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/use_push_to_service/index.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/user_action_tree/user_action_item.tsx
  x-pack/plugins/case/server/routes/api/cases/find_cases.ts
Labels: Team:SIEM, bug, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62220 [7.x] Add username/password validation to login form (#60681)
  x-pack/plugins/security/public/authentication/login/components/login_form/__snapshots__/login_form.test.tsx.snap
  x-pack/plugins/security/public/authentication/login/components/login_form/login_form.tsx
  x-pack/plugins/security/public/authentication/login/components/login_form/validate_login.test.ts
  x-pack/plugins/security/public/authentication/login/components/login_form/validate_login.ts
Labels: backport

#62039 [SIEM] [Detection Engine] Fixes all rules sorting
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/columns.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/index.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/reducer.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/all_rules_tables/index.tsx
Labels: Team:SIEM, release_note:skip, review, v7.7.0, v8.0.0

#62177 [7.x] Document new `xpack.security.authc.*` settings and related 8.0.0 breaking changes. (#61443)
  docs/setup/settings.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#62179 [7.7] Document new `xpack.security.authc.*` settings and related 8.0.0 breaking changes. (#61443)
  docs/setup/settings.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#62212 [7.x] Closes #60173 by turning off client caching for the main service map API call (#62111)
  x-pack/legacy/plugins/apm/public/components/app/ServiceMap/index.tsx
  x-pack/legacy/plugins/apm/public/components/app/Settings/AgentConfigurations/AgentConfigurationCreateEdit/ServicePage/ServicePage.tsx
  x-pack/legacy/plugins/apm/public/hooks/useDynamicIndexPattern.ts
  x-pack/legacy/plugins/apm/public/services/__test__/callApi.test.ts
  x-pack/legacy/plugins/apm/public/services/rest/callApi.ts
Labels: backport

#62055 accessibility tests for dashboard panel ( OSS)
  test/accessibility/apps/dashboard_panel.ts
  test/accessibility/config.ts
Labels: Feature:Dashboard, Project:Accessibility, Team:KibanaApp, test_ui_functional, v8.0.0

#61917 [7.7] Rename async search params (#61641)
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
Labels: backport

#62233 [7.7] [ML] Functional API test - disable mml value check (#61446)
  x-pack/test/api_integration/apis/ml/calculate_model_memory_limit.ts
Labels: backport

#62099 [Search] Remove polling delay when using async search
  x-pack/plugins/data_enhanced/public/search/es_search_strategy.ts
Labels: Feature:Search, Team:AppArch, release_note:skip, review, v7.8.0, v8.0.0

#62244 [7.x] accessibility tests for dashboard panel ( OSS) (#62055)
  test/accessibility/apps/dashboard_panel.ts
  test/accessibility/config.ts
Labels: backport

#62248 [7.7] [Search] Remove polling delay when using async search (#62099)
  x-pack/plugins/data_enhanced/public/search/es_search_strategy.ts
Labels: backport

#62247 [7.x] [Search] Remove polling delay when using async search (#62099)
  x-pack/plugins/data_enhanced/public/search/es_search_strategy.ts
Labels: backport

#62234 [7.x] [SIEM] [Detection Engine] Fixes all rules sorting (#62039)
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/columns.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/index.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/reducer.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/all_rules_tables/index.tsx
Labels: backport

#62222 [7.x] Revert "Endpoint: Add ts-node dev dependency (#61884)" (#62197)
  x-pack/plugins/endpoint/package.json
  x-pack/plugins/endpoint/scripts/README.md
  yarn.lock
Labels: backport

#62224 [7.x] [Endpoint] Get current host info when retrieving alert details (#60906)
  x-pack/plugins/endpoint/common/types.ts
  x-pack/plugins/endpoint/public/applications/endpoint/store/alerts/action.ts
  x-pack/plugins/endpoint/public/applications/endpoint/store/alerts/middleware.ts
  x-pack/plugins/endpoint/public/applications/endpoint/store/alerts/mock_alert_result_list.ts
  x-pack/plugins/endpoint/public/applications/endpoint/types.ts
  x-pack/plugins/endpoint/public/applications/endpoint/view/alerts/alert_details.test.tsx
  x-pack/plugins/endpoint/server/routes/alerts/details/handlers.ts
  x-pack/plugins/endpoint/server/routes/metadata.ts
  x-pack/plugins/endpoint/server/services/endpoint/metadata_query_builders.test.ts
  x-pack/plugins/endpoint/server/services/endpoint/metadata_query_builders.ts
  x-pack/test/api_integration/apis/endpoint/alerts.ts
Labels: backport

#60870 [Maps] Separate layer wizards for Clusters and heatmap
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/import_editor/view.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/source_editor/view.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/source_select/source_select.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/view.js
  x-pack/legacy/plugins/maps/public/layers/layer_wizard_registry.ts
  x-pack/legacy/plugins/maps/public/layers/load_layer_wizards.js
  x-pack/legacy/plugins/maps/public/layers/sources/all_sources.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/geojson_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/ems_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/ems_tms_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/render_as_select.tsx
  x-pack/legacy/plugins/maps/public/layers/sources/es_pew_pew_source/es_pew_pew_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/es_search_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_regionmap_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_regionmap_source/kibana_regionmap_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_tilemap_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_tilemap_source/kibana_tilemap_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/source_registry.ts
  x-pack/legacy/plugins/maps/public/layers/sources/wms_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/wms_source/wms_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/xyz_tms_source.js
  x-pack/legacy/plugins/maps/public/plugin.ts
  x-pack/legacy/plugins/maps/public/selectors/map_selectors.js
  x-pack/legacy/plugins/maps/public/selectors/map_selectors.test.js
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/page_objects/gis_page.js
Labels: Team:Geo, release_note:enhancement, v7.8.0, v8.0.0

#62172 [Uptime] Update heartbeat index name for 7.7
  x-pack/legacy/plugins/uptime/common/constants/index_names.ts
  x-pack/legacy/plugins/uptime/common/runtime_types/dynamic_settings.ts
  x-pack/plugins/uptime/server/lib/requests/__tests__/__snapshots__/get_monitor_charts.test.ts.snap
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_monitor_status.test.ts
Labels: Team:uptime, release_note:fix, v7.7.0

#61820 [Uptime] Optimize get latest monitor API
  x-pack/legacy/plugins/uptime/common/constants/rest_api.ts
  x-pack/legacy/plugins/uptime/public/components/connected/monitor/status_bar_container.tsx
  x-pack/legacy/plugins/uptime/public/pages/__tests__/__snapshots__/monitor.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/pages/monitor.tsx
  x-pack/legacy/plugins/uptime/public/state/actions/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/api/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/effects/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/reducers/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/selectors/__tests__/index.test.ts
  x-pack/legacy/plugins/uptime/public/state/selectors/index.ts
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_latest_monitor.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_latest_monitor.ts
  x-pack/plugins/uptime/server/lib/requests/get_monitor.ts
  x-pack/plugins/uptime/server/lib/requests/index.ts
  x-pack/plugins/uptime/server/lib/requests/uptime_requests.ts
  x-pack/plugins/uptime/server/rest_api/index.ts
  x-pack/plugins/uptime/server/rest_api/monitors/index.ts
  x-pack/plugins/uptime/server/rest_api/monitors/status.ts
  x-pack/test/api_integration/apis/uptime/rest/fixtures/monitor_latest_status.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/selected_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/index.ts
  x-pack/test/api_integration/apis/uptime/rest/selected_monitor.ts
Labels: Team:uptime, release_note:skip, v7.8, v8.0.0

#62211 ci: remove AppArch label from ProBot path-labeler
  .github/paths-labeller.yml
Labels: Team:AppArch, release_note:skip, review, v8.0.0

#61931 [Lens] fix error for minInterval>computedInterval for XYChart
  x-pack/legacy/plugins/lens/public/xy_visualization/xy_expression.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization/xy_expression.tsx
Labels: Feature:Lens, Team:KibanaApp, bug, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62259 [7.x] [Uptime] Optimize get latest monitor API (#61820)
  x-pack/legacy/plugins/uptime/common/constants/rest_api.ts
  x-pack/legacy/plugins/uptime/public/components/connected/monitor/status_bar_container.tsx
  x-pack/legacy/plugins/uptime/public/pages/__tests__/__snapshots__/monitor.test.tsx.snap
  x-pack/legacy/plugins/uptime/public/pages/monitor.tsx
  x-pack/legacy/plugins/uptime/public/state/actions/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/api/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/effects/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/reducers/monitor_status.ts
  x-pack/legacy/plugins/uptime/public/state/selectors/__tests__/index.test.ts
  x-pack/legacy/plugins/uptime/public/state/selectors/index.ts
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_latest_monitor.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_latest_monitor.ts
  x-pack/plugins/uptime/server/lib/requests/get_monitor.ts
  x-pack/plugins/uptime/server/lib/requests/index.ts
  x-pack/plugins/uptime/server/lib/requests/uptime_requests.ts
  x-pack/plugins/uptime/server/rest_api/index.ts
  x-pack/plugins/uptime/server/rest_api/monitors/index.ts
  x-pack/plugins/uptime/server/rest_api/monitors/status.ts
  x-pack/test/api_integration/apis/uptime/rest/fixtures/monitor_latest_status.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/selected_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/index.ts
  x-pack/test/api_integration/apis/uptime/rest/selected_monitor.ts
Labels: backport

#62260 [7.x] [Lens] fix error for minInterval>computedInterval for XYChart (#61931)
  x-pack/legacy/plugins/lens/public/xy_visualization/xy_expression.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization/xy_expression.tsx
Labels: backport

#62261 [7.7] [Lens] fix error for minInterval>computedInterval for XYChart (#61931)
  x-pack/legacy/plugins/lens/public/xy_visualization/xy_expression.test.tsx
  x-pack/legacy/plugins/lens/public/xy_visualization/xy_expression.tsx
Labels: backport

#62186 [HomeApp] Set breadcrumbs when coming back from add data dir
  src/plugins/home/public/application/components/home.js
  src/plugins/home/public/application/components/home.test.js
Labels: :KibanaApp/fix-it-week, Team:KibanaApp, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#61410 [NP] Remove IndexedArray usage in Schemas
  src/legacy/core_plugins/vis_default_editor/public/components/agg_group.test.tsx
  src/legacy/core_plugins/vis_default_editor/public/components/agg_group.tsx
  src/legacy/core_plugins/vis_default_editor/public/components/sidebar/sidebar.tsx
  src/legacy/core_plugins/vis_default_editor/public/schemas.ts
Labels: Feature:NP Migration, Team:KibanaApp, release_note:skip, v7.8.0, v8.0.0

#61618 Move `src/legacy/server/index_patterns` to data plugin (server) (Remove step)
  kibana.d.ts
  src/legacy/server/index_patterns/index.ts
  src/legacy/server/index_patterns/mixin.ts
  src/legacy/server/kbn_server.d.ts
  src/legacy/server/kbn_server.js
  src/legacy/server/saved_objects/saved_objects_mixin.test.js
  x-pack/plugins/infra/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/framework/kibana_framework_adapter.ts
Labels: Feature:NP Migration, Team:AppArch, release_note:dev_docs, release_note:skip, v7.8.0, v8.0.0

#62184 [ML] Clear Kibana index pattern cache on creation or form reset.
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/use_create_analytics_form.ts
  x-pack/plugins/ml/public/application/datavisualizer/file_based/components/import_view/import_view.js
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_create/step_create_form.tsx
Labels: :ml, Feature:Data Frame Analytics, Feature:Transforms, bug, release_note:fix, v7.7.0, v7.8.0, v8.0.0

#62271 [7.x] [APM] Ensure telemetry data matches SO/telemetry mapping (#61957)
  x-pack/legacy/plugins/apm/mappings.json
  x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/types.ts
Labels: backport

#62265 [APM] Agent duration-type configuration input has incorrect/missing units
  x-pack/plugins/apm/common/agent_configuration/runtime_types/duration_rt.test.ts
  x-pack/plugins/apm/common/agent_configuration/runtime_types/duration_rt.ts
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/__snapshots__/index.test.ts.snap
Labels: release_note:skip, v7.7.0

#62175 [Uptime] Update default heartbeat index name
  x-pack/legacy/plugins/uptime/common/constants/index_names.ts
  x-pack/legacy/plugins/uptime/common/runtime_types/dynamic_settings.ts
  x-pack/plugins/uptime/server/lib/requests/__tests__/__snapshots__/get_monitor_charts.test.ts.snap
  x-pack/plugins/uptime/server/lib/requests/__tests__/get_monitor_status.test.ts
Labels: Team:uptime, release_note:skip, v7.8.0

#62275 [7.7] [HomeApp] Set breadcrumbs when coming back from add data dir (#62186)
  src/plugins/home/public/application/components/home.js
  src/plugins/home/public/application/components/home.test.js
Labels: backport

#62274 [7.x] [HomeApp] Set breadcrumbs when coming back from add data dir (#62186)
  src/plugins/home/public/application/components/home.js
  src/plugins/home/public/application/components/home.test.js
Labels: backport

#61449 [7.7] Use new grantAPIKeyAsInternalUser and invalidateAPIKeyAsInternalUser APIs from the security plugin (#60967)
  x-pack/plugins/alerting/server/alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client_factory.test.ts
  x-pack/plugins/alerting/server/alerts_client_factory.ts
  x-pack/plugins/security/server/authentication/index.ts
  x-pack/plugins/security/server/index.ts
Labels: backport

#61693 Rename some alert types
  x-pack/legacy/plugins/siem/server/lib/detection_engine/notifications/rules_notification_alert_type.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/__tests__/monitor_status.test.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/monitor_status.tsx
  x-pack/plugins/alerting_builtins/server/alert_types/index_threshold/alert_type.test.ts
  x-pack/plugins/alerting_builtins/server/alert_types/index_threshold/alert_type.ts
  x-pack/plugins/alerting_builtins/server/plugin.test.ts
  x-pack/plugins/apm/common/alert_types.ts
  x-pack/plugins/infra/public/components/alerting/metrics/metric_threshold_alert_type.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_alert_type.ts
  x-pack/plugins/triggers_actions_ui/README.md
  x-pack/plugins/uptime/server/lib/alerts/__tests__/status_check.test.ts
  x-pack/plugins/uptime/server/lib/alerts/status_check.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62283 [7.x] [ML] Clear Kibana index pattern cache on creation or form reset. (#62184)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/use_create_analytics_form.ts
  x-pack/plugins/ml/public/application/datavisualizer/file_based/components/import_view/import_view.js
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_create/step_create_form.tsx
Labels: :ml, backport

#62284 [7.7] [ML] Clear Kibana index pattern cache on creation or form reset. (#62184)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/use_create_analytics_form.ts
  x-pack/plugins/ml/public/application/datavisualizer/file_based/components/import_view/import_view.js
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_create/step_create_form.tsx
Labels: :ml, backport

#62279 [7.x] [NP] Remove IndexedArray usage in Schemas (#61410)
  src/legacy/core_plugins/vis_default_editor/public/components/agg_group.test.tsx
  src/legacy/core_plugins/vis_default_editor/public/components/agg_group.tsx
  src/legacy/core_plugins/vis_default_editor/public/components/sidebar/sidebar.tsx
  src/legacy/core_plugins/vis_default_editor/public/schemas.ts
Labels: backport

#62250 Show server name in Remote Cluster detail panel
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/components/connection_status/connection_status.js
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/detail_panel/detail_panel.js
Labels: Feature:CCR, Team:Elasticsearch UI, bug, release_note:skip, v7.7.0, v7.8.0, v8.0.0

#62272 [7.7] [APM] Ensure telemetry data matches SO/telemetry mapping (#61957)
  x-pack/legacy/plugins/apm/mappings.json
  x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/types.ts
Labels: backport

#62235 [7.7] [SIEM] [Detection Engine] Fixes all rules sorting (#62039)
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/columns.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/index.tsx
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/all/reducer.ts
  x-pack/legacy/plugins/siem/public/pages/detection_engine/rules/components/all_rules_tables/index.tsx
Labels: backport, bug

#62286 [backport] Bump to 5.1.3
  package.json
  yarn.lock
Labels: release_note:skip, v8.0.0

#62292 [7.7] changing duration type to ms, s, m (#62265)
  x-pack/plugins/apm/common/agent_configuration/runtime_types/duration_rt.test.ts
  x-pack/plugins/apm/common/agent_configuration/runtime_types/duration_rt.ts
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/__snapshots__/index.test.ts.snap
Labels: backport

#62232 [7.7] [SIEM] CASES Bugs BC2 (#62170)
  x-pack/legacy/plugins/siem/public/containers/case/api.ts
  x-pack/legacy/plugins/siem/public/containers/case/configure/use_configure.tsx
  x-pack/legacy/plugins/siem/public/containers/case/translations.ts
  x-pack/legacy/plugins/siem/public/containers/case/use_get_cases.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/all_cases/columns.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/all_cases/index.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/use_push_to_service/index.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/user_action_tree/user_action_item.tsx
  x-pack/plugins/case/server/routes/api/cases/find_cases.ts
Labels: backport

#62231 [7.x] [SIEM] CASES Bugs BC2 (#62170)
  x-pack/legacy/plugins/siem/public/containers/case/api.ts
  x-pack/legacy/plugins/siem/public/containers/case/configure/use_configure.tsx
  x-pack/legacy/plugins/siem/public/containers/case/translations.ts
  x-pack/legacy/plugins/siem/public/containers/case/use_get_cases.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/all_cases/columns.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/all_cases/index.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/use_push_to_service/index.tsx
  x-pack/legacy/plugins/siem/public/pages/case/components/user_action_tree/user_action_item.tsx
  x-pack/plugins/case/server/routes/api/cases/find_cases.ts
Labels: backport

#62298 [7.x] Rename some alert types (#61693)
  x-pack/legacy/plugins/siem/server/lib/detection_engine/notifications/rules_notification_alert_type.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/__tests__/monitor_status.test.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/monitor_status.tsx
  x-pack/plugins/alerting_builtins/server/alert_types/index_threshold/alert_type.test.ts
  x-pack/plugins/alerting_builtins/server/alert_types/index_threshold/alert_type.ts
  x-pack/plugins/alerting_builtins/server/plugin.test.ts
  x-pack/plugins/apm/common/alert_types.ts
  x-pack/plugins/infra/public/components/alerting/metrics/metric_threshold_alert_type.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_alert_type.ts
  x-pack/plugins/triggers_actions_ui/README.md
  x-pack/plugins/uptime/server/lib/alerts/__tests__/status_check.test.ts
  x-pack/plugins/uptime/server/lib/alerts/status_check.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts.ts
Labels: backport

#62295 [7.x] [Uptime] Added func test for obsv location map (#61518)
  x-pack/legacy/plugins/uptime/public/components/functional/location_map/embeddables/embedded_map.tsx
  x-pack/legacy/plugins/uptime/public/routes.tsx
  x-pack/test/functional/apps/uptime/locations.ts
  x-pack/test/functional/apps/uptime/monitor.ts
  x-pack/test/functional/apps/uptime/overview.ts
  x-pack/test/functional/apps/uptime/settings.ts
  x-pack/test/functional/page_objects/uptime_page.ts
  x-pack/test/functional/services/uptime.ts
  x-pack/test/functional/services/uptime/alerts.ts
  x-pack/test/functional/services/uptime/common.ts
  x-pack/test/functional/services/uptime/index.ts
  x-pack/test/functional/services/uptime/monitor.ts
  x-pack/test/functional/services/uptime/navigation.ts
  x-pack/test/functional/services/uptime/settings.ts
  x-pack/test/functional/services/uptime/uptime.ts
Labels: backport

#62299 [7.7] Rename some alert types (#61693)
  x-pack/legacy/plugins/siem/server/lib/detection_engine/notifications/rules_notification_alert_type.ts
  x-pack/legacy/plugins/siem/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/__tests__/monitor_status.test.ts
  x-pack/legacy/plugins/uptime/public/lib/alert_types/monitor_status.tsx
  x-pack/plugins/alerting_builtins/server/alert_types/index_threshold/alert_type.test.ts
  x-pack/plugins/alerting_builtins/server/alert_types/index_threshold/alert_type.ts
  x-pack/plugins/alerting_builtins/server/plugin.test.ts
  x-pack/plugins/apm/common/alert_types.ts
  x-pack/plugins/infra/public/components/alerting/metrics/metric_threshold_alert_type.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_alert_type.ts
  x-pack/plugins/triggers_actions_ui/README.md
  x-pack/plugins/uptime/server/lib/alerts/__tests__/status_check.test.ts
  x-pack/plugins/uptime/server/lib/alerts/status_check.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts.ts
Labels: backport

#62280 [7.x] Move `src/legacy/server/index_patterns` to data plugin (server) (Remove step) (#61618)
  kibana.d.ts
  src/legacy/server/index_patterns/index.ts
  src/legacy/server/index_patterns/mixin.ts
  src/legacy/server/kbn_server.d.ts
  src/legacy/server/kbn_server.js
  src/legacy/server/saved_objects/saved_objects_mixin.test.js
  x-pack/plugins/infra/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/infra/server/lib/adapters/framework/kibana_framework_adapter.ts
Labels: backport, v7.8.0

#62257 Remove border around popover service map popover trigger
  x-pack/legacy/plugins/apm/public/components/app/ServiceMap/Popover/index.tsx
Labels: release_note:skip, v7.7.0

#62178 Install e2e dependencies for vanilla workspaces
  x-pack/legacy/plugins/apm/e2e/package.json
  x-pack/legacy/plugins/apm/e2e/run-e2e.sh
  x-pack/legacy/plugins/apm/e2e/yarn.lock
Labels: automation, release_note:skip, v7.7.0

#62256 [Uptime] Remove static constant for index name completely
  x-pack/legacy/plugins/uptime/common/constants/index.ts
  x-pack/legacy/plugins/uptime/common/constants/index_names.ts
  x-pack/legacy/plugins/uptime/public/components/monitor_details/ml/ml_flyout_container.tsx
  x-pack/legacy/plugins/uptime/public/state/actions/ml_anomaly.ts
  x-pack/legacy/plugins/uptime/public/state/actions/types.ts
  x-pack/legacy/plugins/uptime/public/state/api/ml_anomaly.ts
  x-pack/plugins/uptime/server/lib/requests/get_monitor_status.ts
Labels: Team:uptime, bug, release_note:skip, v7.7.0

#62254 [7.x] [Maps] Separate layer wizards for Clusters and heatmap (#60870)
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/import_editor/view.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/source_editor/view.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/source_select/source_select.js
  x-pack/legacy/plugins/maps/public/connected_components/layer_addpanel/view.js
  x-pack/legacy/plugins/maps/public/layers/layer_wizard_registry.ts
  x-pack/legacy/plugins/maps/public/layers/load_layer_wizards.js
  x-pack/legacy/plugins/maps/public/layers/sources/all_sources.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/geojson_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/client_file_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/ems_file_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_file_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/ems_tms_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/ems_tms_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/create_source_editor.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/es_geo_grid_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_geo_grid_source/render_as_select.tsx
  x-pack/legacy/plugins/maps/public/layers/sources/es_pew_pew_source/es_pew_pew_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/es_search_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_search_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/es_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_regionmap_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_regionmap_source/kibana_regionmap_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_tilemap_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/kibana_tilemap_source/kibana_tilemap_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/source_registry.ts
  x-pack/legacy/plugins/maps/public/layers/sources/wms_source/index.js
  x-pack/legacy/plugins/maps/public/layers/sources/wms_source/wms_source.js
  x-pack/legacy/plugins/maps/public/layers/sources/xyz_tms_source.js
  x-pack/legacy/plugins/maps/public/plugin.ts
  x-pack/legacy/plugins/maps/public/selectors/map_selectors.js
  x-pack/legacy/plugins/maps/public/selectors/map_selectors.test.js
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/page_objects/gis_page.js
Labels: backport

#51142 Remove support for deprecated xpack.telemetry configurations
  docs/migration/migrate_8_0.asciidoc
  docs/settings/telemetry-settings.asciidoc
  docs/setup/settings.asciidoc
  src/core/server/config/deprecation/core_deprecations.ts
  x-pack/legacy/plugins/xpack_main/index.js
Labels: Feature:Telemetry, Team:Docs, Team:Pulse, release_note:breaking, v8.0.0

#62305 [7.7] Show server name in Remote Cluster detail panel (#62250)
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/components/connection_status/connection_status.js
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/detail_panel/detail_panel.js
Labels: backport

#62304 [7.x] Show server name in Remote Cluster detail panel (#62250)
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/components/connection_status/connection_status.js
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/detail_panel/detail_panel.js
Labels: backport

#62202 [Maps] fix replaceLayerList to handle case where map is not intialized
  x-pack/legacy/plugins/maps/public/actions/map_actions.js
Labels: Team:Geo, release_note:fix, v7.8.0, v8.0.0

#62252 EMT-287: update schema with elastic agent id
  x-pack/plugins/endpoint/common/generate_data.ts
  x-pack/plugins/endpoint/common/types.ts
  x-pack/plugins/endpoint/server/test_data/all_metadata_data.json
  x-pack/test/api_integration/apis/endpoint/metadata.ts
  x-pack/test/functional/es_archives/endpoint/metadata/api_feature/data.json
  x-pack/test/functional/es_archives/endpoint/metadata/api_feature/mappings.json
Labels: release_note:skip, v7.8.0, v8.0.0

#62318 [7.x] [APM] E2E: install dependencies for vanilla workspaces (#62178)
  x-pack/legacy/plugins/apm/e2e/package.json
  x-pack/legacy/plugins/apm/e2e/run-e2e.sh
  x-pack/legacy/plugins/apm/e2e/yarn.lock
Labels: backport
