Repository elastic/kibana, pull requests merged in 2020-08, with the labels that each got.

#74003 [SIEM][Detection Engine] Fixes tags to accept characters such as AND, OR, (, ), ", *
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.test.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.ts
Labels: Team:SIEM, bug, release_note:fix, v7.10.0, v7.9.0, v8.0.0

#74012 [CI] In-progress Slack notifications
  .ci/pipeline-library/src/test/slackNotifications.groovy
  Jenkinsfile
  vars/githubPr.groovy
  vars/kibanaPipeline.groovy
  vars/slackNotifications.groovy
  vars/workers.groovy
Labels: Feature:CI, release_note:skip, v6.8.11, v7.10.0, v7.8.2, v7.9.0, v8.0.0

#73309 [Canvas][tech-debt] Refactor Toolbar (completes Kill Recompose.pure)
  x-pack/plugins/canvas/i18n/components.ts
  x-pack/plugins/canvas/public/components/navbar/navbar.js
  x-pack/plugins/canvas/public/components/navbar/navbar.scss
  x-pack/plugins/canvas/public/components/toolbar/__examples__/__snapshots__/toolbar.stories.storyshot
  x-pack/plugins/canvas/public/components/toolbar/__examples__/toolbar.stories.tsx
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/toolbar/index.ts
  x-pack/plugins/canvas/public/components/toolbar/toolbar.component.tsx
  x-pack/plugins/canvas/public/components/toolbar/toolbar.scss
  x-pack/plugins/canvas/public/components/toolbar/toolbar.ts
  x-pack/plugins/canvas/public/components/toolbar/tray/index.ts
  x-pack/plugins/canvas/public/components/toolbar/tray/tray.tsx
  x-pack/plugins/canvas/public/style/index.scss
  x-pack/plugins/canvas/storybook/decorators/router_decorator.tsx
Labels: Team:Canvas, impact:medium, loe:hours, release_note:skip, review, technical debt, v7.10.0, v8.0.0

#74024 [7.9] Tweak injected metadata (#73990)
  src/core/server/rendering/__snapshots__/rendering_service.test.ts.snap
  src/core/server/rendering/rendering_service.test.ts
  src/core/server/rendering/rendering_service.tsx
  src/core/server/rendering/types.ts
Labels: backport

#74023 [7.x] Tweak injected metadata (#73990)
  src/core/server/rendering/__snapshots__/rendering_service.test.ts.snap
  src/core/server/rendering/rendering_service.test.ts
  src/core/server/rendering/rendering_service.tsx
  src/core/server/rendering/types.ts
Labels: backport

#73984 [7.9] [Ingest Manager] Revert fleet config concurrency rollout to rate limit (#73940)
  x-pack/plugins/ingest_manager/common/types/index.ts
  x-pack/plugins/ingest_manager/server/index.ts
  x-pack/plugins/ingest_manager/server/services/agents/checkin/rxjs_utils.test.ts
  x-pack/plugins/ingest_manager/server/services/agents/checkin/rxjs_utils.ts
  x-pack/plugins/ingest_manager/server/services/agents/checkin/state_new_actions.ts
Labels: backport

#73994 [7.x] [Ingest Manager] Fix limited concurrency helper (#73976)
  x-pack/plugins/ingest_manager/server/routes/limited_concurrency.test.ts
  x-pack/plugins/ingest_manager/server/routes/limited_concurrency.ts
Labels: backport

#73983 [7.x] [Ingest Manager] Revert fleet config concurrency rollout to rate limit (#73940)
  x-pack/plugins/ingest_manager/common/types/index.ts
  x-pack/plugins/ingest_manager/server/index.ts
  x-pack/plugins/ingest_manager/server/services/agents/checkin/rxjs_utils.test.ts
  x-pack/plugins/ingest_manager/server/services/agents/checkin/rxjs_utils.ts
  x-pack/plugins/ingest_manager/server/services/agents/checkin/state_new_actions.ts
Labels: backport

#74033 [7.9] [SIEM][Detection Engine] Fixes tags to accept characters such as AND, OR, (, ), ", * (#74003)
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.test.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.ts
Labels: backport

#74032 [7.x] [SIEM][Detection Engine] Fixes tags to accept characters such as AND, OR, (, ), ", * (#74003)
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.test.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.ts
Labels: backport

#73985 [maps] fix fit to bounds for ES document layers with joins
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.js
  x-pack/test/functional/apps/maps/auto_fit_to_bounds.js
Labels: Team:Geo, release_note:fix, v7.10.0, v7.9.0, v8.0.0

#73851 [maps] convert top nav config to TS
  x-pack/plugins/maps/public/routing/page_elements/top_nav_menu/index.js
  x-pack/plugins/maps/public/routing/routes/maps_app/index.js
  x-pack/plugins/maps/public/routing/routes/maps_app/maps_app_view.js
  x-pack/plugins/maps/public/routing/routes/maps_app/top_nav_config.tsx
Labels: Team:Geo, chore, release_note:skip, v7.10.0, v8.0.0

#74044 [7.9] Fix view saved search through a visualization (#73040)
  src/plugins/vis_default_editor/public/components/sidebar/sidebar_title.tsx
  test/functional/apps/visualize/_linked_saved_searches.ts
Labels: backport

#71445 Use "Apply_filter_trigger" in "explore underlying data" action
  src/plugins/embeddable/kibana.json
  src/plugins/embeddable/public/mocks.tsx
  src/plugins/embeddable/public/plugin.tsx
  src/plugins/ui_actions/public/triggers/apply_filter_trigger.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/abstract_explore_data_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.test.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_context_menu_action.test.ts
  x-pack/plugins/discover_enhanced/public/plugin.ts
Labels: Feature:Embedding, Feature:UIActions, Team:AppArch, refactoring, release_note:skip, v7.10.0, v8.0.0

#74045 [7.x] Use "Apply_filter_trigger" in "explore underlying data" action (#71445)
  src/plugins/embeddable/kibana.json
  src/plugins/embeddable/public/mocks.tsx
  src/plugins/embeddable/public/plugin.tsx
  src/plugins/ui_actions/public/triggers/apply_filter_trigger.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/abstract_explore_data_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.test.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_chart_action.ts
  x-pack/plugins/discover_enhanced/public/actions/explore_data/explore_data_context_menu_action.test.ts
  x-pack/plugins/discover_enhanced/public/plugin.ts
Labels: backport

#74040 [7.x] [maps] fix fit to bounds for ES document layers with joins (#73985)
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.js
  x-pack/test/functional/apps/maps/auto_fit_to_bounds.js
Labels: backport

#74041 [7.9] [maps] fix fit to bounds for ES document layers with joins (#73985)
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.js
Labels: backport

#74042 [7.x] [maps] convert top nav config to TS (#73851)
  x-pack/plugins/maps/public/routing/page_elements/top_nav_menu/index.js
  x-pack/plugins/maps/public/routing/routes/maps_app/index.js
  x-pack/plugins/maps/public/routing/routes/maps_app/maps_app_view.js
  x-pack/plugins/maps/public/routing/routes/maps_app/top_nav_config.tsx
Labels: backport

#74048 [7.x] [Canvas][tech-debt] Refactor Toolbar (completes Kill Recompose.pure) (#73309)
  x-pack/plugins/canvas/i18n/components.ts
  x-pack/plugins/canvas/public/components/navbar/navbar.js
  x-pack/plugins/canvas/public/components/navbar/navbar.scss
  x-pack/plugins/canvas/public/components/toolbar/__examples__/__snapshots__/toolbar.stories.storyshot
  x-pack/plugins/canvas/public/components/toolbar/__examples__/toolbar.stories.tsx
  x-pack/plugins/canvas/public/components/toolbar/index.js
  x-pack/plugins/canvas/public/components/toolbar/index.ts
  x-pack/plugins/canvas/public/components/toolbar/toolbar.component.tsx
  x-pack/plugins/canvas/public/components/toolbar/toolbar.scss
  x-pack/plugins/canvas/public/components/toolbar/toolbar.ts
  x-pack/plugins/canvas/public/components/toolbar/tray/index.ts
  x-pack/plugins/canvas/public/components/toolbar/tray/tray.tsx
  x-pack/plugins/canvas/public/style/index.scss
  x-pack/plugins/canvas/storybook/decorators/router_decorator.tsx
Labels: backport

#74043 [7.9] [Ingest Manager] Fix limited concurrency helper (#73976)
  x-pack/plugins/ingest_manager/server/routes/limited_concurrency.ts
Labels: backport

#74034 [7.x] [CI] In-progress Slack notifications (#74012)
  .ci/pipeline-library/src/test/slackNotifications.groovy
  Jenkinsfile
  vars/githubPr.groovy
  vars/kibanaPipeline.groovy
  vars/slackNotifications.groovy
  vars/workers.groovy
Labels: backport, release_note:skip

#74035 [7.9] [CI] In-progress Slack notifications (#74012)
  .ci/pipeline-library/src/test/slackNotifications.groovy
  Jenkinsfile
  vars/githubPr.groovy
  vars/kibanaPipeline.groovy
  vars/slackNotifications.groovy
  vars/workers.groovy
Labels: backport, release_note:skip

#74036 [7.8] [CI] In-progress Slack notifications (#74012)
  .ci/pipeline-library/src/test/slackNotifications.groovy
  Jenkinsfile
  vars/githubPr.groovy
  vars/kibanaPipeline.groovy
  vars/slackNotifications.groovy
  vars/workers.groovy
Labels: backport, release_note:skip

#74038 [6.8] [CI] In-progress PR comments (#72211)
  vars/githubPr.groovy
  vars/jenkinsApi.groovy
  vars/kibanaPipeline.groovy
  vars/workers.groovy
Labels: backport, release_note:skip

#73974 [7.x] [ML] Add API integration testing for AD annotations (#73068)
  x-pack/test/api_integration/apis/ml/annotations/common_jobs.ts
  x-pack/test/api_integration/apis/ml/annotations/create_annotations.ts
  x-pack/test/api_integration/apis/ml/annotations/delete_annotations.ts
  x-pack/test/api_integration/apis/ml/annotations/get_annotations.ts
  x-pack/test/api_integration/apis/ml/annotations/index.ts
  x-pack/test/api_integration/apis/ml/annotations/update_annotations.ts
  x-pack/test/api_integration/apis/ml/index.ts
  x-pack/test/functional/services/ml/api.ts
Labels: backport

#73975 [7.9] [ML] Add API integration testing for AD annotations (#73068)
  x-pack/test/api_integration/apis/ml/annotations/common_jobs.ts
  x-pack/test/api_integration/apis/ml/annotations/create_annotations.ts
  x-pack/test/api_integration/apis/ml/annotations/delete_annotations.ts
  x-pack/test/api_integration/apis/ml/annotations/get_annotations.ts
  x-pack/test/api_integration/apis/ml/annotations/index.ts
  x-pack/test/api_integration/apis/ml/annotations/update_annotations.ts
  x-pack/test/api_integration/apis/ml/index.ts
  x-pack/test/functional/services/ml/api.ts
Labels: backport

#74053 [6.8] [CI] In-progress Slack notifications (#74012)
  .ci/pipeline-library/src/test/slackNotifications.groovy
  Jenkinsfile
  vars/githubPr.groovy
  vars/kibanaPipeline.groovy
  vars/slackNotifications.groovy
  vars/workers.groovy
Labels: backport, release_note:skip

#73965 [7.x][ML] Removes link from helper text on ML overview page
  x-pack/plugins/ml/public/application/overview/components/sidebar.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, backport:skip, release_note:skip, v7.10.0

#73687 [Security Solution] Disable bulk actions for immutable timeline templates
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline_modal/open_timeline_modal_body.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/actions_columns.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/types.ts
Labels: Team:SIEM, bug, release_note:skip, v7.9.0, v8.0.0

#73823 [ Functional Test ] Unskip X-Pack "Advanced Settings - spaces feature controls" suite
  x-pack/test/functional/apps/advanced_settings/feature_controls/advanced_settings_spaces.ts
Labels: Team:KibanaApp, release_note:skip, v7.10.0, v8.0.0

#72117 [ML] Adding combined job and datafeed JSON editing
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/datafeed_preview.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/datafeed_preview_flyout.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/index.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/json_editor_flyout/json_editor_flyout.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/datafeed.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/job_details_step/job_details.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/pick_fields.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/summary_step/summary.tsx
Labels: :ml, Feature:Anomaly Detection, release_note:enhancement, review, v7.10.0, v8.0.0

#73958 [ML] Add datafeed query reset button
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/reset_query/index.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/reset_query/reset_query.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/datafeed.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/utils/new_job_utils.ts
Labels: :ml, Feature:Anomaly Detection, release_note:enhancement, review, v7.10.0, v8.0.0

#74027 [7.x] [SECURITY_SOLUTION][ENDPOINT] Fix host list Configuration Status cell link loosing list page/size state (#73989)
  x-pack/plugins/security_solution/public/management/common/routing.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
Labels: backport

#74070 [7.x] [ML] Adding combined job and datafeed JSON editing (#72117)
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/datafeed_preview.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/datafeed_preview_flyout.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/index.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/json_editor_flyout/json_editor_flyout.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/datafeed.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/job_details_step/job_details.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/pick_fields.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/summary_step/summary.tsx
Labels: :ml, backport

#74068 [APM] Disable auto-refresh by default
  x-pack/plugins/apm/public/components/shared/DatePicker/__test__/DatePicker.test.tsx
  x-pack/plugins/apm/public/components/shared/DatePicker/index.tsx
Labels: Team:apm, release_note:skip, v7.10.0, v7.9.0

#74072 [7.x] [ML] Add datafeed query reset button (#73958)
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/reset_query/index.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/reset_query/reset_query.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/datafeed.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/utils/new_job_utils.ts
Labels: :ml, backport

#74067 [7.9] [Security Solution] Disable bulk actions for immutable timeline templates (#73687)
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline_modal/open_timeline_modal_body.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/actions_columns.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/types.ts
Labels: backport

#74066 [7.x] [Security Solution] Disable bulk actions for immutable timeline templates (#73687)
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline_modal/open_timeline_modal_body.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/actions_columns.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/types.ts
Labels: backport

#74021 [7.x] Closes #73998 by using `canAccessML` in the ML capabilities API to (#73999)
  x-pack/plugins/apm/public/components/app/Home/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/index.tsx
Labels: backport

#74077 [7.x] [APM] Disable auto-refresh by default (#74068)
  x-pack/plugins/apm/public/components/shared/DatePicker/__test__/DatePicker.test.tsx
  x-pack/plugins/apm/public/components/shared/DatePicker/index.tsx
Labels: backport

#74078 [7.9] [APM] Disable auto-refresh by default (#74068)
  x-pack/plugins/apm/public/components/shared/DatePicker/__test__/DatePicker.test.tsx
  x-pack/plugins/apm/public/components/shared/DatePicker/index.tsx
Labels: backport

#72690 [Security solution] Get all timeline
  x-pack/plugins/security_solution/public/graphql/introspection.json
  x-pack/plugins/security_solution/public/graphql/types.ts
  x-pack/plugins/security_solution/server/graphql/timeline/resolvers.ts
  x-pack/plugins/security_solution/server/graphql/timeline/schema.gql.ts
  x-pack/plugins/security_solution/server/graphql/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/find_timeline_by_filter.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_all_timelines.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_timeline_by_id.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_timeline_by_template_timeline_id.sh
  x-pack/plugins/security_solution/server/lib/timeline/routes/__mocks__/import_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/get_timeline_route.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/get_timeline_route.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/schemas/get_timeline_by_id_schema.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/check_timelines_status.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/export_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/get_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/import_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object.ts
  x-pack/plugins/security_solution/server/routes/index.ts
Labels: Team:SIEM, release_note:skip, v7.9.0

#73712 [Search] Set keep_alive parameter in async search
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.test.ts
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
Labels: Feature:Search, Team:AppArch, release_note:fix, v7.9.0, v8.0.0

#73982 Added this.name in replace of New Watch string - isNew Create else Save
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/watcher/public/application/models/watch/base_watch.js
  x-pack/plugins/watcher/public/application/sections/watch_edit/watch_edit_actions.ts
Labels: Feature:Watcher, Team:Elasticsearch UI, release_note:fix, v7.10.0, v8.0.0

#74064 [ML] Functional tests - stabilize waiting for AD,DFA,TFM job list refresh
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/refresh_analytics_list_button/refresh_analytics_list_button.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/refresh_jobs_list_button/refresh_jobs_list_button.js
  x-pack/plugins/transform/public/app/sections/transform_management/components/refresh_transform_list_button/refresh_transform_list_button.tsx
  x-pack/test/functional/services/ml/data_frame_analytics_table.ts
  x-pack/test/functional/services/ml/job_table.ts
  x-pack/test/functional/services/transform/transform_table.ts
Labels: :ml, release_note:skip, test_ui_functional, v7.10.0, v7.9.0, v8.0.0

#74008 Kibana issue #73932 - enrollment flyout changes
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/enrollment_instructions/manual/index.tsx
Labels: Team:Ingest Management, release_note:skip, v7.10.0, v7.9.0, v8.0.0

#74002 change 'Add from Visualize library' button text to 'Add from Kibana'
  x-pack/plugins/canvas/i18n/components.ts
Labels: Team:Canvas, chore, release_note:skip, v7.10.0, v7.9.0, v8.0.0

#71882 [Security Solution] Filter endpoint hosts by agent status
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.ts
  x-pack/test/security_solution_endpoint_api_int/apis/metadata.ts
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.10.0

#73728 [Ingest Manager] improve error handling of package install
  x-pack/plugins/ingest_manager/server/errors.ts
  x-pack/plugins/ingest_manager/server/routes/epm/handlers.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ingest_pipeline/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/kibana/assets/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/remove.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/index.ts
  x-pack/test/ingest_manager_api_integration/apis/epm/index.js
  x-pack/test/ingest_manager_api_integration/apis/epm/install_errors.ts
  x-pack/test/ingest_manager_api_integration/apis/epm/install_remove_assets.ts
  x-pack/test/ingest_manager_api_integration/apis/epm/list.ts
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/dataset/test/fields/fields.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/dataset/test/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/docs/README.md
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/dataset/test/fields/fields.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/dataset/test/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/docs/README.md
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/index.js
Labels: Ingest Management:beta2, Team:Ingest Management, release_note:skip, v7.10.0, v8.0.0

#74080 [7.x] [Maps] Improve language for mvt card (#71947)
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/__snapshots__/mvt_single_layer_source_settings.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/mvt_single_layer_source_settings.tsx
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/mvt_single_layer_vector_source.test.tsx
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/mvt_single_layer_vector_source.tsx
Labels: backport

#74081 [7.9] [Maps] Improve language for mvt card (#71947)
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/__snapshots__/mvt_single_layer_source_settings.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/mvt_single_layer_source_settings.tsx
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/mvt_single_layer_vector_source.test.tsx
  x-pack/plugins/maps/public/classes/sources/mvt_single_layer_vector_source/mvt_single_layer_vector_source.tsx
Labels: backport

#74084 [Metrics UI] Fix typo on view selector in metrics explorer
  x-pack/plugins/infra/public/components/saved_views/toolbar_control.tsx
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:skip, v7.9.0, v8.0.0

#74065 [SIEM] Adds threshold rule creation Cypress test
  x-pack/plugins/security_solution/cypress/integration/alerts_detection_rules_threshold.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/screens/create_new_rule.ts
  x-pack/plugins/security_solution/cypress/screens/rule_details.ts
  x-pack/plugins/security_solution/cypress/tasks/create_new_rule.ts
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#74086 [7.x] [Security solution] Get all timeline (#72690)
  x-pack/plugins/security_solution/public/graphql/introspection.json
  x-pack/plugins/security_solution/public/graphql/types.ts
  x-pack/plugins/security_solution/server/graphql/timeline/resolvers.ts
  x-pack/plugins/security_solution/server/graphql/timeline/schema.gql.ts
  x-pack/plugins/security_solution/server/graphql/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/find_timeline_by_filter.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_all_timelines.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_timeline_by_id.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_timeline_by_template_timeline_id.sh
  x-pack/plugins/security_solution/server/lib/timeline/routes/__mocks__/import_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/get_timeline_route.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/get_timeline_route.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/schemas/get_timeline_by_id_schema.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/check_timelines_status.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/export_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/get_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/import_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object.ts
  x-pack/plugins/security_solution/server/routes/index.ts
Labels: backport

#74087 [7.9] [Security solution] Get all timeline (#72690)
  x-pack/plugins/security_solution/public/graphql/introspection.json
  x-pack/plugins/security_solution/public/graphql/types.ts
  x-pack/plugins/security_solution/server/graphql/timeline/resolvers.ts
  x-pack/plugins/security_solution/server/graphql/timeline/schema.gql.ts
  x-pack/plugins/security_solution/server/graphql/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/find_timeline_by_filter.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_all_timelines.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_timeline_by_id.sh
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/timelines/get_timeline_by_template_timeline_id.sh
  x-pack/plugins/security_solution/server/lib/timeline/routes/__mocks__/import_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/get_timeline_route.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/get_timeline_route.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/schemas/get_timeline_by_id_schema.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/check_timelines_status.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/export_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/get_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/utils/import_timelines.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object.ts
  x-pack/plugins/security_solution/server/routes/index.ts
Labels: backport

#71419 [Telemetry] Data: Report dataset info only if there is known metadata
  src/plugins/telemetry/server/telemetry_collection/get_data_telemetry/get_data_telemetry.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_data_telemetry/get_data_telemetry.ts
Labels: Feature:Telemetry, Team:KibanaTelemetry, release_note:skip, v7.10.0, v8.0.0

#74092 [SECURITY] fix bug when clicking on start a new case
  x-pack/plugins/security_solution/public/overview/components/recent_cases/no_cases/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/recent_cases/no_cases/index.tsx
Labels: Team:SIEM, bug, release_note:skip, v7.9.0, v8.0.0

#74107 [7.9] change 'Add from Visualize library' button text to 'Add from Kibana' (#74002)
  x-pack/plugins/canvas/i18n/components.ts
Labels: backport

#74100 [7.x] [Search] Set keep_alive parameter in async search (#73712)
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.test.ts
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
Labels: backport

#74106 [7.x] change 'Add from Visualize library' button text to 'Add from Kibana' (#74002)
  x-pack/plugins/canvas/i18n/components.ts
Labels: backport

#74103 [SIEM][Exceptions] Updates exceptions 'Add to clipboard' copy for comments
  x-pack/plugins/security_solution/public/common/components/exceptions/translations.ts
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#74099 [7.9] Kibana issue #73932 - enrollment flyout changes (#74008)
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/enrollment_instructions/manual/index.tsx
Labels: backport

#74098 [7.x] Kibana issue #73932 - enrollment flyout changes (#74008)
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/enrollment_instructions/manual/index.tsx
Labels: backport

#74010 [7.x] [Metrics UI] Fix Metrics Explorer TSVB link to use workaround pattern (#73986)
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_tsvb_link.test.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_tsvb_link.ts
Labels: backport

#74011 [7.9] [Metrics UI] Fix Metrics Explorer TSVB link to use workaround pattern (#73986)
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_tsvb_link.test.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_tsvb_link.ts
Labels: backport

#74018 [7.x] Resolver/test panel presence (#73889)
  x-pack/plugins/security_solution/public/resolver/test_utilities/simulator/index.tsx
  x-pack/plugins/security_solution/public/resolver/view/clickthrough.test.tsx
  x-pack/plugins/security_solution/public/resolver/view/panel.tsx
  x-pack/plugins/security_solution/public/resolver/view/panels/panel_content_process_list.tsx
Labels: backport

#74113 [7.x] Added this.name in replace of New Watch string - isNew Create else Save (#73982)
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/watcher/public/application/models/watch/base_watch.js
  x-pack/plugins/watcher/public/application/sections/watch_edit/watch_edit_actions.ts
Labels: backport

#74114 [7.x] [Ingest Manager] improve error handling of package install (#73728)
  x-pack/plugins/ingest_manager/server/errors.ts
  x-pack/plugins/ingest_manager/server/routes/epm/handlers.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ingest_pipeline/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/kibana/assets/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/remove.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/index.ts
  x-pack/test/ingest_manager_api_integration/apis/epm/index.js
  x-pack/test/ingest_manager_api_integration/apis/epm/install_errors.ts
  x-pack/test/ingest_manager_api_integration/apis/epm/install_remove_assets.ts
  x-pack/test/ingest_manager_api_integration/apis/epm/list.ts
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/dataset/test/fields/fields.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/dataset/test/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/docs/README.md
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.1.0/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/dataset/test/fields/fields.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/dataset/test/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/docs/README.md
  x-pack/test/ingest_manager_api_integration/apis/fixtures/test_packages/update/0.2.0/manifest.yml
  x-pack/test/ingest_manager_api_integration/apis/index.js
Labels: backport

#74116 [Security Solution] Filter endpoint hosts by agent status (#71882)
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/query_builders.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.ts
  x-pack/test/security_solution_endpoint_api_int/apis/metadata.ts
Labels: backport

#74051 [Security Solution] Set default template timelines' filter to 'timeline'
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/use_timeline_types.tsx
Labels: bug, release_note:skip, v7.9.0, v8.0.0

#74028 [7.9] [SECURITY_SOLUTION][ENDPOINT] Fix host list Configuration Status cell link loosing list page/size state (#73989)
  x-pack/plugins/security_solution/public/management/common/routing.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
Labels: backport

#74119 [7.x] [Metrics UI] Fix typo on view selector in metrics explorer (#74084)
  x-pack/plugins/infra/public/components/saved_views/toolbar_control.tsx
Labels: backport

#74120 [7.9] [Metrics UI] Fix typo on view selector in metrics explorer (#74084)
  x-pack/plugins/infra/public/components/saved_views/toolbar_control.tsx
Labels: backport

#74093 [Security Solutions][Case] Fix quote handling
  x-pack/plugins/security_solution/public/cases/components/add_comment/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/add_comment/index.tsx
  x-pack/plugins/security_solution/public/cases/components/user_action_tree/index.tsx
Labels: Team:SIEM, bug, release_note:skip, v7.9.0, v8.0.0

#74115 [Security Solution] Fix legend's color
  x-pack/plugins/security_solution/public/common/components/charts/barchart.test.tsx
  x-pack/plugins/security_solution/public/common/components/charts/barchart.tsx
Labels: Team:SIEM, bug, release_note:skip, v7.9.0, v8.0.0

#74082 [Monitoring] Different messaging for CPU usage alert on cloud
  x-pack/plugins/monitoring/server/alerts/base_alert.ts
  x-pack/plugins/monitoring/server/alerts/cluster_health_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/elasticsearch_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/kibana_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/license_expiration_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/logstash_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/nodes_changed_alert.test.ts
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/monitoring/server/types.ts
Labels: Team:Monitoring, release_note:skip, review, v7.10.0, v7.9.0, v8.0.0

#74126 [7.x] [Telemetry] Data: Report dataset info only if there is known metadata (#71419)
  src/plugins/telemetry/server/telemetry_collection/get_data_telemetry/get_data_telemetry.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_data_telemetry/get_data_telemetry.ts
Labels: backport

#74101 [7.9] [Search] Set keep_alive parameter in async search (#73712)
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.test.ts
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
Labels: backport

#74123 [7.x] fix bug when clicking on start a new case (#74092)
  x-pack/plugins/security_solution/public/overview/components/recent_cases/no_cases/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/recent_cases/no_cases/index.tsx
Labels: backport

#74124 [7.9] fix bug when clicking on start a new case (#74092)
  x-pack/plugins/security_solution/public/overview/components/recent_cases/no_cases/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/recent_cases/no_cases/index.tsx
Labels: backport

#74075 Fix API Keys functional test in cloud
  x-pack/test/functional/apps/api_keys/home_page.ts
  x-pack/test/functional/page_objects/api_keys_page.ts
Labels: release_note:skip, v7.10.0, v7.9.1, v8.0.0

#74128 [7.9] [SIEM] Adds threshold rule creation Cypress test (#74065)
  x-pack/plugins/security_solution/cypress/integration/alerts_detection_rules_threshold.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/screens/create_new_rule.ts
  x-pack/plugins/security_solution/cypress/screens/rule_details.ts
  x-pack/plugins/security_solution/cypress/tasks/create_new_rule.ts
Labels: backport

#74131 [7.9] updates exceptions 'Add to clipboard' copy for comments (#74103)
  x-pack/plugins/security_solution/public/common/components/exceptions/translations.ts
Labels: backport

#74132 Change / to \ for Windows Enrollment command in Fleet
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/enrollment_instructions/manual/index.tsx
Labels: Team:Ingest Management, release_note:skip, v7.10.0, v7.9.1, v8.0.0

#74138 [7.9] fix default timeline's tab (#74051)
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/use_timeline_types.tsx
Labels: backport

#74137 [7.x] fix default timeline's tab (#74051)
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/use_timeline_types.tsx
Labels: backport

#74147 [7.x] fix legend's color (#74115)
  x-pack/plugins/security_solution/public/common/components/charts/barchart.test.tsx
  x-pack/plugins/security_solution/public/common/components/charts/barchart.tsx
Labels: backport

#74149 [7.9] [Security Solutions][Case] Fix quote handling (#74093)
  x-pack/plugins/security_solution/public/cases/components/add_comment/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/add_comment/index.tsx
  x-pack/plugins/security_solution/public/cases/components/user_action_tree/index.tsx
Labels: backport

#74146 [7.x] [Security Solutions][Case] Fix quote handling (#74093)
  x-pack/plugins/security_solution/public/cases/components/add_comment/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/add_comment/index.tsx
  x-pack/plugins/security_solution/public/cases/components/user_action_tree/index.tsx
Labels: backport

#74152 [7.x] [Monitoring] Different messaging for CPU usage alert on cloud (#74082)
  x-pack/plugins/monitoring/server/alerts/base_alert.ts
  x-pack/plugins/monitoring/server/alerts/cluster_health_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/elasticsearch_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/kibana_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/license_expiration_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/logstash_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/nodes_changed_alert.test.ts
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/monitoring/server/types.ts
Labels: backport

#74153 [7.9] [Monitoring] Different messaging for CPU usage alert on cloud (#74082)
  x-pack/plugins/monitoring/server/alerts/base_alert.ts
  x-pack/plugins/monitoring/server/alerts/cluster_health_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/cpu_usage_alert.ts
  x-pack/plugins/monitoring/server/alerts/elasticsearch_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/kibana_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/license_expiration_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/logstash_version_mismatch_alert.test.ts
  x-pack/plugins/monitoring/server/alerts/nodes_changed_alert.test.ts
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/monitoring/server/types.ts
Labels: backport

#73580 [DOCS] Remove the ILM tutorial, which is now in the ES Ref
  docs/management/index-lifecycle-policies/example-index-lifecycle-policy.asciidoc
  docs/user/management.asciidoc
Labels: Team:Docs, docs, release_note:skip, v7.10.0, v7.8.2, v7.9.0, v8.0.0

#73750 Migrate timepicker:timeDefaults ui setting to the data plugin.
  src/legacy/core_plugins/kibana/server/ui_setting_defaults.js
  src/plugins/data/public/query/state_sync/connect_to_query_state.test.ts
  src/plugins/data/public/query/timefilter/timefilter_service.ts
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.test.tsx
  src/plugins/data/public/ui/query_string_input/query_bar_top_row.tsx
  src/plugins/data/server/ui_settings.ts
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/monitoring/public/plugin.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:NP Migration, Team:AppArch, chore, release_note:skip, review, v7.10.0, v8.0.0

#74182 [7.9] [DOCS] Remove the ILM tutorial, which is now in the ES Ref (#73580)
  docs/management/index-lifecycle-policies/example-index-lifecycle-policy.asciidoc
  docs/user/management.asciidoc
Labels: backport

#74181 [7.x] [DOCS] Remove the ILM tutorial, which is now in the ES Ref (#73580)
  docs/management/index-lifecycle-policies/example-index-lifecycle-policy.asciidoc
  docs/user/management.asciidoc
Labels: backport

#62889 [Search] Send ID in path, rather than body
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.searchinterceptor.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.searchinterceptor.runsearch.md
  src/plugins/data/public/public.api.md
  src/plugins/data/public/search/search_interceptor.ts
  src/plugins/data/server/search/routes.ts
Labels: Feature:Search, Team:AppArch, release_note:skip, review, v7.9.0, v8.0.0

#73903 [Maps] convert dynamic icon style to TS
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/__snapshots__/vector_icon.test.tsx.snap
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/breaked_legend.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/category.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/circle_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/line_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/ordinal_legend.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/polygon_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/symbol_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/vector_icon.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/vector_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/vector_style_legend.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_icon_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_icon_property.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_style_property.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/style_property.ts
Labels: Team:Geo, chore, release_note:skip, v7.10.0, v8.0.0

#74184 [7.8] [DOCS] Remove the ILM tutorial, which is now in the ES Ref (#73580)
  docs/management/index-lifecycle-policies/example-index-lifecycle-policy.asciidoc
  docs/user/management.asciidoc
Labels: backport

#74148 [7.9] fix legend's color (#74115)
  x-pack/plugins/security_solution/public/common/components/charts/barchart.test.tsx
  x-pack/plugins/security_solution/public/common/components/charts/barchart.tsx
Labels: backport

#71989 [Reporting] Handle error gracefully when browser driver unexpectedly exits or crashes.
  x-pack/plugins/reporting/server/browsers/chromium/driver/chromium_driver.ts
  x-pack/plugins/reporting/server/browsers/chromium/driver_factory/index.ts
  x-pack/plugins/reporting/server/browsers/chromium/index.ts
  x-pack/plugins/reporting/server/export_types/csv_from_savedobject/create_job.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/lib/generate_pdf.ts
  x-pack/plugins/reporting/server/lib/screenshots/check_browser_open.ts
  x-pack/plugins/reporting/server/lib/screenshots/observable.test.ts
  x-pack/plugins/reporting/server/lib/screenshots/observable.ts
  x-pack/plugins/reporting/server/test_helpers/create_mock_browserdriverfactory.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/es_archives/reporting/canvas_disallowed_url/data.json.gz
  x-pack/test/functional/es_archives/reporting/canvas_disallowed_url/mappings.json
  x-pack/test/reporting_api_integration/config.js
  x-pack/test/reporting_api_integration/reporting/index.ts
  x-pack/test/reporting_api_integration/reporting/network_policy.ts
Labels: release_note:fix, v7.9.0, v8.0.0

#74175 [APM] Fix anomaly detection setup link alert icon wrapping to new line
  x-pack/plugins/apm/public/components/shared/Links/apm/AnomalyDetectionSetupLink.tsx
Labels: Team:apm, release_note:skip, v7.10.0, v7.9.0

#74178 [kbn/optimizer] remove unneeded DisallowSyntaxPlugin
  packages/kbn-optimizer/src/common/disallowed_syntax_plugin/disallowed_syntax.ts
  packages/kbn-optimizer/src/common/disallowed_syntax_plugin/disallowed_syntax_plugin.ts
  packages/kbn-optimizer/src/common/disallowed_syntax_plugin/index.ts
  packages/kbn-optimizer/src/common/index.ts
  packages/kbn-optimizer/src/index.ts
  packages/kbn-optimizer/src/worker/webpack.config.ts
Labels: Team:Operations, release_note:skip, v7.10.0, v8.0.0

#74122 [7.x] [Ingest Management] main branch uses epr-snapshot. Others production (#73555)
  x-pack/plugins/ingest_manager/common/constants/epm.ts
  x-pack/plugins/ingest_manager/server/constants/index.ts
  x-pack/plugins/ingest_manager/server/index.ts
  x-pack/plugins/ingest_manager/server/plugin.ts
  x-pack/plugins/ingest_manager/server/services/app_context.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/registry_url.ts
  x-pack/plugins/ingest_manager/server/services/index.ts
  x-pack/test/security_solution_endpoint/apps/endpoint/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
  x-pack/test/security_solution_endpoint_api_int/registry.ts
Labels: backport

#74160 [Metrics UI] Fix pluralization in Alert Preview
  x-pack/plugins/infra/public/alerting/common/components/alert_preview.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:skip, v7.10.0, v7.9.0, v8.0.0

#74183 [Security Solution][Detections] Do not display our app URL field on read-only view
  x-pack/plugins/security_solution/public/detections/components/rules/description_step/index.tsx
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#74007 [Security Solution][Resolver] Handle info and change events for children
  x-pack/plugins/security_solution/common/endpoint/models/event.test.ts
  x-pack/plugins/security_solution/common/endpoint/models/event.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/children.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/tree.ts
Labels: Feature:Endpoint, Team:Endpoint Data Visibility, release_note:skip, v7.9.0, v8.0.0

#74186 [7.x][Search] Send ID in path, rather than body (#62889)
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.searchinterceptor.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.searchinterceptor.runsearch.md
  src/plugins/data/public/public.api.md
  src/plugins/data/public/search/search_interceptor.ts
  src/plugins/data/server/search/routes.ts
Labels: backport

#74062 [Security Solution] Fixes scroll issues related to the sticky header
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/filters_global/__snapshots__/filters_global.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/filters_global/filters_global.test.tsx
  x-pack/plugins/security_solution/public/common/components/filters_global/filters_global.tsx
  x-pack/plugins/security_solution/public/common/components/header_global/index.tsx
  x-pack/plugins/security_solution/public/common/components/inspect/index.tsx
  x-pack/plugins/security_solution/public/common/components/page/index.tsx
  x-pack/plugins/security_solution/public/common/components/wrapper_page/index.tsx
  x-pack/plugins/security_solution/public/common/containers/use_full_screen/index.tsx
  x-pack/plugins/security_solution/public/common/hooks/use_global_header_portal.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/hosts.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/network/pages/ip_details/index.tsx
  x-pack/plugins/security_solution/public/network/pages/network.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/flyout/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/helpers.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/stateful_body.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/footer/index.tsx
Labels: Team:SIEM, release_note:skip, v7.10.0, v7.9.0, v8.0.0

#73145 [7.9] changes for upgrade assistant functional test to incorporate test user (#70071)
  x-pack/test/functional/apps/upgrade_assistant/upgrade_assistant.ts
  x-pack/test/functional/config.js
Labels: backport

#74200 [7.x] Do not display our app URL field on read-only view (#74183)
  x-pack/plugins/security_solution/public/detections/components/rules/description_step/index.tsx
Labels: backport

#74196 [7.x] [Metrics UI] Fix pluralization in Alert Preview (#74160)
  x-pack/plugins/infra/public/alerting/common/components/alert_preview.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#74197 [7.9] [Metrics UI] Fix pluralization in Alert Preview (#74160)
  x-pack/plugins/infra/public/alerting/common/components/alert_preview.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#74208 [7.9] [Security Solution] Fixes scroll issues related to the sticky header (#74062)
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/filters_global/__snapshots__/filters_global.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/filters_global/filters_global.test.tsx
  x-pack/plugins/security_solution/public/common/components/filters_global/filters_global.tsx
  x-pack/plugins/security_solution/public/common/components/header_global/index.tsx
  x-pack/plugins/security_solution/public/common/components/inspect/index.tsx
  x-pack/plugins/security_solution/public/common/components/page/index.tsx
  x-pack/plugins/security_solution/public/common/components/wrapper_page/index.tsx
  x-pack/plugins/security_solution/public/common/containers/use_full_screen/index.tsx
  x-pack/plugins/security_solution/public/common/hooks/use_global_header_portal.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/hosts.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/network/pages/ip_details/index.tsx
  x-pack/plugins/security_solution/public/network/pages/network.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/flyout/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/helpers.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/stateful_body.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/footer/index.tsx
Labels: backport

#74207 [7.x] [Security Solution] Fixes scroll issues related to the sticky header (#74062)
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/filters_global/__snapshots__/filters_global.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/filters_global/filters_global.test.tsx
  x-pack/plugins/security_solution/public/common/components/filters_global/filters_global.tsx
  x-pack/plugins/security_solution/public/common/components/header_global/index.tsx
  x-pack/plugins/security_solution/public/common/components/inspect/index.tsx
  x-pack/plugins/security_solution/public/common/components/page/index.tsx
  x-pack/plugins/security_solution/public/common/components/wrapper_page/index.tsx
  x-pack/plugins/security_solution/public/common/containers/use_full_screen/index.tsx
  x-pack/plugins/security_solution/public/common/hooks/use_global_header_portal.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/hosts.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/network/pages/ip_details/index.tsx
  x-pack/plugins/security_solution/public/network/pages/network.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/flyout/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/helpers.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/stateful_body.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/footer/index.tsx
Labels: backport

#74205 [7.x] [Security Solution][Resolver] Handle info and change events for children (#74007)
  x-pack/plugins/security_solution/common/endpoint/models/event.test.ts
  x-pack/plugins/security_solution/common/endpoint/models/event.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/children.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/tree.ts
Labels: backport

#74201 [7.9] Do not display our app URL field on read-only view (#74183)
  x-pack/plugins/security_solution/public/detections/components/rules/description_step/index.tsx
Labels: backport

#73566 [Ingest Manager] Improve agent config list -> detail UI transition
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/index.tsx
Labels: Team:Ingest Management, release_note:skip, v7.10.0, v8.0.0

#74135 [7.9] Unskip functional tests for feature controls (#71173)
  test/functional/services/saved_query_management_component.ts
  x-pack/test/functional/apps/dashboard/feature_controls/dashboard_security.ts
  x-pack/test/functional/apps/discover/feature_controls/discover_security.ts
  x-pack/test/functional/apps/maps/feature_controls/maps_security.ts
  x-pack/test/functional/apps/maps/full_screen_mode.js
  x-pack/test/functional/apps/visualize/feature_controls/visualize_security.ts
  x-pack/test/functional/es_archives/dashboard/feature_controls/security/data.json
  x-pack/test/functional/es_archives/discover/feature_controls/security/data.json
  x-pack/test/functional/es_archives/maps/kibana/data.json
  x-pack/test/functional/es_archives/visualize/default/data.json
  x-pack/test/functional/page_objects/gis_page.js
  x-pack/test/functional/services/user_menu.js
  x-pack/test/plugin_functional/es_archives/global_search/basic/data.json
Labels: backport

#74094 [7.x] [ML] Functional tests - stabilize waiting for AD, DFA, TFM job list refresh (#74064)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/refresh_analytics_list_button/refresh_analytics_list_button.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/refresh_jobs_list_button/refresh_jobs_list_button.js
  x-pack/plugins/transform/public/app/sections/transform_management/components/refresh_transform_list_button/refresh_transform_list_button.tsx
  x-pack/test/functional/services/ml/data_frame_analytics_table.ts
  x-pack/test/functional/services/ml/job_table.ts
  x-pack/test/functional/services/transform/transform_table.ts
Labels: :ml, backport

#74095 [7.9] [ML] Functional tests - stabilize waiting for AD, DFA, TFM job list refresh (#74064)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/refresh_analytics_list_button/refresh_analytics_list_button.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/refresh_jobs_list_button/refresh_jobs_list_button.js
  x-pack/plugins/transform/public/app/sections/transform_management/components/refresh_transform_list_button/refresh_transform_list_button.tsx
  x-pack/test/functional/services/ml/data_frame_analytics_table.ts
  x-pack/test/functional/services/ml/job_table.ts
  x-pack/test/functional/services/transform/transform_table.ts
Labels: :ml, backport

#74193 [7.9] Closes #74031 by adding nowrap style to the link. (#74175)
  x-pack/plugins/apm/public/components/shared/Links/apm/AnomalyDetectionSetupLink.tsx
Labels: backport

#74192 [7.x] Closes #74031 by adding nowrap style to the link. (#74175)
  x-pack/plugins/apm/public/components/shared/Links/apm/AnomalyDetectionSetupLink.tsx
Labels: backport

#74127 [7.x] [SIEM] Adds threshold rule creation Cypress test (#74065)
  x-pack/plugins/security_solution/cypress/integration/alerts_detection_rules_threshold.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/screens/create_new_rule.ts
  x-pack/plugins/security_solution/cypress/screens/rule_details.ts
  x-pack/plugins/security_solution/cypress/tasks/create_new_rule.ts
Labels: backport

#74129 [7.x] updates exceptions 'Add to clipboard' copy for comments (#74103)
  x-pack/plugins/security_solution/public/common/components/exceptions/translations.ts
Labels: backport

#74136 [SIEM][Exceptions] Updates file picker label
  x-pack/plugins/security_solution/public/detections/components/value_lists_management_modal/translations.ts
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#74154 [7.x] Fix API Keys functional test in cloud (#74075)
  x-pack/test/functional/apps/api_keys/home_page.ts
  x-pack/test/functional/page_objects/api_keys_page.ts
Labels: backport

#74155 [7.9] Fix API Keys functional test in cloud (#74075)
  x-pack/test/functional/apps/api_keys/home_page.ts
  x-pack/test/functional/page_objects/api_keys_page.ts
Labels: backport

#73241 [KP] update ES client migration guide
  src/core/MIGRATION_EXAMPLES.md
Labels: Team:Platform, chore, release_note:skip, v7.10.0

#74216 [7.9] updates file picker label (#74136)
  x-pack/plugins/security_solution/public/detections/components/value_lists_management_modal/translations.ts
Labels: backport

#74215 [7.x] updates file picker label (#74136)
  x-pack/plugins/security_solution/public/detections/components/value_lists_management_modal/translations.ts
Labels: backport

#74224 Observabilty overview APM section doesn't fully collapse
  x-pack/plugins/observability/public/pages/overview/index.tsx
Labels: Feature:Observability Landing - Milestone 1, release_note:skip, v7.10.0, v7.9.0

#74230 [7.x] [KP] update ES client migration guide (#73241)
  src/core/MIGRATION_EXAMPLES.md
Labels: backport

#74139 [SECURITY] Bug do not allow saving when opening a timeline
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/actions.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic.ts
Labels: Team:SIEM, bug, release_note:skip, v7.9.0, v8.0.0

#74210 [SECURITY] Timeline reset date picker to global date
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/use_create_timeline.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/use_create_timeline.tsx
Labels: Team:SIEM, bug, release_note:skip, v7.9.0, v8.0.0

#74059 [kbn-storybook] Kill tsdocgen for immediate perf improvement
  packages/kbn-storybook/storybook_config/webpack.config.js
Labels: Feature:Storybook, release_note:skip, review, v7.10.0, v8.0.0

#74228 [7.x] Observabilty overview APM section doesn't fully collapse (#74224)
  x-pack/plugins/observability/public/pages/overview/index.tsx
Labels: backport

#74229 [7.9] Observabilty overview APM section doesn't fully collapse (#74224)
  x-pack/plugins/observability/public/pages/overview/index.tsx
Labels: backport

#74164 [7.9] Change / to \ for Windows Enrollment command in Fleet (#74132)
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/enrollment_instructions/manual/index.tsx
Labels: backport

#74163 [7.x] Change / to \ for Windows Enrollment command in Fleet (#74132)
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/enrollment_instructions/manual/index.tsx
Labels: backport

#74204 [7.9] [Security Solution][Resolver] Handle info and change events for children (#74007)
  x-pack/plugins/security_solution/common/endpoint/models/event.test.ts
  x-pack/plugins/security_solution/common/endpoint/models/event.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/children.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/tree.ts
Labels: backport

#74110 [ Functional Tests ] TVSB charts flaky tests on index pattern switch fix
  test/functional/apps/visualize/_tsvb_chart.ts
Labels: Team:KibanaApp, release_note:skip, v7.10.0, v8.0.0

#74211 [SIEM] Fixes error toaster in one spot with custom date time formats
  x-pack/plugins/security_solution/server/lib/hosts/query.detail_host.dsl.ts
Labels: Team:SIEM, release_note:fix, v7.10.0, v7.9.0, v8.0.0

#74060 [Ingest Manager] Change 7.9 to use epr-7-9.elastic.co as registry
  x-pack/plugins/ingest_manager/common/constants/epm.ts
Labels: Ingest Management:beta1, Team:Ingest Management, release_note:skip, v7.9.0

#74076 refactor: 💡 clean up and simplify replace panel input update
  src/plugins/dashboard/public/application/actions/replace_panel_flyout.tsx
Labels: Feature:Embedding, Team:AppArch, Team:KibanaApp, release_note:skip, review, v7.10.0, v8.0.0

#74102 feat: 🎸 navigate from maps embeddable to app in SPA way
  x-pack/plugins/maps/public/embeddable/map_embeddable.tsx
  x-pack/plugins/maps/public/embeddable/map_embeddable_factory.ts
  x-pack/plugins/maps/public/embeddable/types.ts
Labels: Feature:Embedding, Feature:Mappings Editor, release_note:skip, review, v7.10.0, v8.0.0

#74187 [7.x] [Maps] convert dynamic icon style to TS (#73903)
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/__snapshots__/vector_icon.test.tsx.snap
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/breaked_legend.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/category.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/circle_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/line_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/ordinal_legend.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/polygon_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/symbol_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/vector_icon.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/vector_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/vector_style_legend.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_icon_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_icon_property.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_style_property.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/style_property.ts
Labels: backport

#74236 [Security Solution] Fix Fullscreen view
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/common/components/page/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/use_timeline_types.tsx
Labels: 7.9.0, Team:SIEM, bug, release_note:skip, v8.0.0

#74232 [7.x] [SECURITY] Bug do not allow saving when opening a timeline (#74139)
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/actions.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic.ts
Labels: backport

#74233 [7.9] [SECURITY] Bug do not allow saving when opening a timeline (#74139)
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/actions.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic.ts
Labels: backport

#74235 [7.9] reset datepicker of timeline (#74210)
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/use_create_timeline.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/use_create_timeline.tsx
Labels: backport
