Repository elastic/kibana, pull requests merged in 2020-06, with the labels that each got.

#67741 [Console] Added autocompletion for update by query
  src/plugins/console/server/lib/spec_definitions/json/overrides/update_by_query.json
Labels: Feature:Console, Team:Elasticsearch UI, release_note:skip, v7.8.0, v7.8.1, v7.9.0, v8.0.0

#67827 [ILM] Fix fetch policies query
  x-pack/plugins/index_lifecycle_management/public/application/services/api.js
Labels: Feature:ILM, Team:Elasticsearch UI, release_note:fix, v7.7.2, v7.8.0, v7.9.0, v8.0.0

#66596 [Component templates] Server side
  x-pack/plugins/index_management/server/client/elasticsearch.ts
  x-pack/plugins/index_management/server/plugin.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/create.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/delete.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/get.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/index.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/schema_validation.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/update.ts
  x-pack/plugins/index_management/server/routes/index.ts
  x-pack/plugins/index_management/server/services/license.ts
  x-pack/test/api_integration/apis/management/index_management/component_templates.ts
  x-pack/test/api_integration/apis/management/index_management/index.js
  x-pack/test/api_integration/apis/management/index_management/lib/elasticsearch.js
  x-pack/test/api_integration/services/legacy_es.js
Labels: Feature:Index Management, Team:Elasticsearch UI, release_note:skip, v7.9.0, v8.0.0

#67846 Fix support for `xpack.spaces.maxSpaces`
  x-pack/legacy/plugins/spaces/index.ts
Labels: Team:Security, release_note:fix, v7.7.2, v7.8.1, v7.9.0, v8.0.0

#67596 Deprecate es API exposed from setup contract
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.adminclient.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.createclient.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.dataclient.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.legacy.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicestart.legacy.md
  docs/development/core/server/kibana-plugin-core-server.md
  docs/development/core/server/kibana-plugin-core-server.requesthandlercontext.md
  src/core/server/elasticsearch/elasticsearch_service.mock.ts
  src/core/server/elasticsearch/elasticsearch_service.test.ts
  src/core/server/elasticsearch/elasticsearch_service.ts
  src/core/server/elasticsearch/types.ts
  src/core/server/http/integration_tests/core_services.test.ts
  src/core/server/index.ts
  src/core/server/legacy/legacy_service.ts
  src/core/server/mocks.ts
  src/core/server/plugins/plugin_context.ts
  src/core/server/saved_objects/saved_objects_service.test.ts
  src/core/server/saved_objects/saved_objects_service.ts
  src/core/server/server.api.md
  src/core/server/server.ts
  src/legacy/core_plugins/elasticsearch/index.js
  src/legacy/server/saved_objects/saved_objects_mixin.test.js
  src/plugins/telemetry/server/plugin.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/execute_job.test.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/execute_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/lib/generate_csv_search.ts
  x-pack/legacy/plugins/reporting/export_types/png/server/execute_job/index.test.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/execute_job/index.test.ts
  x-pack/legacy/plugins/reporting/server/lib/create_queue.ts
  x-pack/legacy/plugins/reporting/server/lib/jobs_query.ts
  x-pack/legacy/plugins/reporting/server/lib/validate/validate_max_content_length.test.js
  x-pack/legacy/plugins/reporting/server/lib/validate/validate_max_content_length.ts
  x-pack/legacy/plugins/reporting/server/routes/generation.test.ts
  x-pack/legacy/plugins/reporting/server/routes/jobs.test.ts
  x-pack/plugins/licensing/server/plugin.ts
  x-pack/plugins/ml/server/plugin.ts
  x-pack/plugins/monitoring/server/kibana_monitoring/bulk_uploader.js
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/remote_clusters/server/routes/api/add_route.test.ts
  x-pack/plugins/remote_clusters/server/routes/api/delete_route.test.ts
  x-pack/plugins/remote_clusters/server/routes/api/get_route.test.ts
  x-pack/plugins/remote_clusters/server/routes/api/update_route.test.ts
  x-pack/plugins/security/server/plugin.test.ts
  x-pack/plugins/security/server/plugin.ts
  x-pack/plugins/telemetry_collection_xpack/server/plugin.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/action_types.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/alert_types.ts
  x-pack/test/plugin_api_integration/plugins/sample_task_plugin/server/init_routes.ts
  x-pack/test/plugin_api_integration/plugins/sample_task_plugin/server/plugin.ts
Labels: Feature:New Platform, Team:Platform, chore, release_note:dev_docs, v7.9.0

#67834 [7.x] [Endpoint]EMT: temporarily skip test till package update. (#67778)
  x-pack/test/api_integration/apis/endpoint/alerts/index.ts
  x-pack/test/api_integration/apis/endpoint/alerts/index_pattern.ts
  x-pack/test/api_integration/apis/endpoint/metadata.ts
Labels: backport

#67854 [7.x] [Component templates] Server side (#66596)
  x-pack/plugins/index_management/server/client/elasticsearch.ts
  x-pack/plugins/index_management/server/plugin.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/create.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/delete.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/get.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/index.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/schema_validation.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/update.ts
  x-pack/plugins/index_management/server/routes/index.ts
  x-pack/plugins/index_management/server/services/license.ts
  x-pack/test/api_integration/apis/management/index_management/component_templates.ts
  x-pack/test/api_integration/apis/management/index_management/index.js
  x-pack/test/api_integration/apis/management/index_management/lib/elasticsearch.js
  x-pack/test/api_integration/services/legacy_es.js
Labels: backport

#67851 [7.x] [ILM] Fix fetch policies query (#67827)
  x-pack/plugins/index_lifecycle_management/public/application/services/api.js
Labels: backport

#67852 [7.8] [ILM] Fix fetch policies query (#67827)
  x-pack/plugins/index_lifecycle_management/public/application/services/api.js
Labels: backport

#67850 [7.8] Added autocompletion for update by query (#67741)
  src/plugins/console/server/lib/spec_definitions/json/overrides/update_by_query.json
Labels: backport

#67708 [Ingest Manager] Optimize installation of integration
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ilm/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ingest_pipeline/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/kibana/index_pattern/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/assets.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/cache.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/index.ts
Labels: Ingest Management:alpha1, Team:Ingest Management, release_note:skip, v7.8.0, v8.0.0

#67857 [7.7] Fix support for `xpack.spaces.maxSpaces` (#67846)
  x-pack/legacy/plugins/spaces/index.ts
Labels: backport

#67855 [7.x] Fix support for `xpack.spaces.maxSpaces` (#67846)
  x-pack/legacy/plugins/spaces/index.ts
Labels: backport

#67856 [7.8] Fix support for `xpack.spaces.maxSpaces` (#67846)
  x-pack/legacy/plugins/spaces/index.ts
Labels: backport

#66934 [ML] Add optional ability to delete target index and index pattern when deleting DFA job
  x-pack/plugins/ml/common/types/data_frame_analytics.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/action_delete.test.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/action_delete.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/services/analytics_service/delete_analytics.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/services/analytics_service/index.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/data_frame_analytics.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/jobs.ts
  x-pack/plugins/ml/public/application/util/error_utils.ts
  x-pack/plugins/ml/server/models/data_frame_analytics/index_patterns.ts
  x-pack/plugins/ml/server/routes/data_frame_analytics.ts
  x-pack/plugins/ml/server/routes/schemas/data_analytics_schema.ts
  x-pack/test/api_integration/apis/ml/data_frame_analytics/delete.ts
  x-pack/test/api_integration/apis/ml/data_frame_analytics/index.ts
  x-pack/test/functional/services/ml/api.ts
  x-pack/test/functional/services/ml/test_resources.ts
Labels: :ml, Feature:Data Frame Analytics, release_note:enhancement, v7.9.0, v8.0.0

#67750 [ML] Add minor refresh button to DFA and AD Job Messages tabs
  x-pack/plugins/ml/public/application/components/job_messages/job_messages.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_messages_pane.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/job_details/job_messages_pane.tsx
Labels: :ml, release_note:enhancement, v7.9.0, v8.0.0

#67712 Updating the licensed feature usage API response format
  x-pack/plugins/licensing/server/routes/feature_usage.ts
  x-pack/plugins/licensing/server/services/feature_usage_service.test.ts
  x-pack/plugins/licensing/server/services/feature_usage_service.ts
  x-pack/test/plugin_api_integration/plugins/feature_usage_test/server/plugin.ts
  x-pack/test/plugin_api_integration/test_suites/licensed_feature_usage/feature_usage.ts
Labels: release_note:skip, v7.9.0, v8.0.0

#67560 [Lens] Allow visualizations to provide a dimension editor
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/_layer_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_popover.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/types.ts
  x-pack/plugins/lens/public/types.ts
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.9.0, v8.0.0

#67868 [7.x] [Ingest Manager] Optimize installation of integration (#67708)
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ilm/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ingest_pipeline/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/kibana/index_pattern/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/assets.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/cache.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/index.ts
Labels: backport

#67869 [7.8] [Ingest Manager] Optimize installation of integration (#67708)
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ilm/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/ingest_pipeline/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/kibana/index_pattern/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/assets.ts
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/cache.ts
  x-pack/plugins/ingest_manager/server/services/epm/registry/index.ts
Labels: backport

#67558 [Uptime] Use date histogram in monitor states
  x-pack/plugins/uptime/server/lib/requests/search/enrich_monitor_groups.ts
Labels: Team:uptime, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#67435 [SIEM][Exceptions] - Update exceptions hooks to include _find filtering
  x-pack/plugins/lists/common/constants.mock.ts
  x-pack/plugins/lists/common/constants.ts
  x-pack/plugins/lists/common/schemas/request/create_exception_list_item_schema.mock.ts
  x-pack/plugins/lists/public/exceptions/__mocks__/api.ts
  x-pack/plugins/lists/public/exceptions/api.test.ts
  x-pack/plugins/lists/public/exceptions/api.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.test.tsx
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.tsx
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.test.tsx
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.tsx
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.test.tsx
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.tsx
  x-pack/plugins/lists/public/exceptions/types.ts
Labels: Team:SIEM, release_note:enhancement, v7.9.0, v8.0.0

#67773 [CI] Fix packer cache node_modules references
  .ci/packer_cache.sh
Labels: Feature:CI, Team:Operations, release_note:skip, v8.0.0

#67689 [Lens] Warn if leaving with unsaved visualization
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/lens/public/app_plugin/mounter.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:enhancement, v7.9.0, v8.0.0

#67880 [7.x] Updating the licensed feature usage API response format (#67712)
  x-pack/plugins/licensing/server/routes/feature_usage.ts
  x-pack/plugins/licensing/server/services/feature_usage_service.test.ts
  x-pack/plugins/licensing/server/services/feature_usage_service.ts
  x-pack/test/plugin_api_integration/plugins/feature_usage_test/server/plugin.ts
  x-pack/test/plugin_api_integration/test_suites/licensed_feature_usage/feature_usage.ts
Labels: backport

#67853 [7.7] [ILM] Fix fetch policies query (#67827)
  x-pack/legacy/plugins/index_lifecycle_management/public/np_ready/application/services/api.js
Labels: backport

#67885 [7.x] [Lens] Allow visualizations to provide a dimension editor (#67560)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/_layer_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_popover.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/types.ts
  x-pack/plugins/lens/public/types.ts
Labels: backport

#67888 [7.x] [SIEM][Exceptions] - Update exceptions hooks to include _find filtering (#67435)
  x-pack/plugins/lists/common/constants.mock.ts
  x-pack/plugins/lists/common/constants.ts
  x-pack/plugins/lists/common/schemas/request/create_exception_list_item_schema.mock.ts
  x-pack/plugins/lists/public/exceptions/__mocks__/api.ts
  x-pack/plugins/lists/public/exceptions/api.test.ts
  x-pack/plugins/lists/public/exceptions/api.ts
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.test.tsx
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_item.tsx
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.test.tsx
  x-pack/plugins/lists/public/exceptions/hooks/persist_exception_list.tsx
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.test.tsx
  x-pack/plugins/lists/public/exceptions/hooks/use_exception_list.tsx
  x-pack/plugins/lists/public/exceptions/types.ts
Labels: backport

#67877 [7.x] [ML] Add minor refresh button to DFA and AD Job Messages tabs (#67750)
  x-pack/plugins/ml/public/application/components/job_messages/job_messages.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_messages_pane.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/job_details/job_messages_pane.tsx
Labels: backport

#67866 [7.x] [Canvas] Reduce Bundle Size (#66099)
  x-pack/plugins/canvas/public/application.tsx
  x-pack/plugins/canvas/public/lib/run_interpreter.ts
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/services/expressions.ts
  x-pack/plugins/canvas/public/services/index.ts
Labels: backport

#67867 [7.8] [Canvas] Reduce Bundle Size (#66099)
  x-pack/plugins/canvas/public/application.tsx
  x-pack/plugins/canvas/public/lib/run_interpreter.ts
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/services/expressions.ts
  x-pack/plugins/canvas/public/services/index.ts
Labels: backport

#67900 [7.x] [Lens] Warn if leaving with unsaved visualization (#67689)
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/lens/public/app_plugin/mounter.tsx
Labels: backport

#67772 [7.8] Refactoring nav links and header components (#66685)
  docs/development/core/public/kibana-plugin-core-public.chromenavlink.euiicontype.md
  docs/development/core/public/kibana-plugin-core-public.chromenavlink.href.md
  docs/development/core/public/kibana-plugin-core-public.chromenavlink.md
  docs/development/core/public/kibana-plugin-core-public.chromenavlinkupdateablefields.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.querystringinput.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.searchbar.md
  src/core/public/chrome/chrome_service.tsx
  src/core/public/chrome/nav_links/nav_link.ts
  src/core/public/chrome/nav_links/to_nav_link.ts
  src/core/public/chrome/recently_accessed/recently_accessed_service.ts
  src/core/public/chrome/ui/header/__snapshots__/collapsible_nav.test.tsx.snap
  src/core/public/chrome/ui/header/__snapshots__/header.test.tsx.snap
  src/core/public/chrome/ui/header/__snapshots__/header_breadcrumbs.test.tsx.snap
  src/core/public/chrome/ui/header/_index.scss
  src/core/public/chrome/ui/header/collapsible_nav.scss
  src/core/public/chrome/ui/header/collapsible_nav.test.tsx
  src/core/public/chrome/ui/header/collapsible_nav.tsx
  src/core/public/chrome/ui/header/header.test.tsx
  src/core/public/chrome/ui/header/header.tsx
  src/core/public/chrome/ui/header/header_breadcrumbs.test.tsx
  src/core/public/chrome/ui/header/header_breadcrumbs.tsx
  src/core/public/chrome/ui/header/header_logo.tsx
  src/core/public/chrome/ui/header/header_nav_controls.tsx
  src/core/public/chrome/ui/header/nav_drawer.tsx
  src/core/public/chrome/ui/header/nav_link.tsx
  src/core/public/public.api.md
  src/core/server/legacy/types.ts
  src/plugins/data/public/public.api.md
Labels: backport

#67907 [DOCS] Replace docdir attribute with kib-repo-dir
  docs/index.asciidoc
  docs/setup/settings.asciidoc
Labels: Team:Docs, docs, release_note:skip, v8.0.0

#67876 [SEIM][Detection Engine] Moves the io-ts schemas to the common folder from the server side
  x-pack/plugins/siem/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/__mocks__/utils.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/error_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/error_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/find_rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/find_rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/import_rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/import_rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_status_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_status_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_bulk_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_bulk_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/type_timeline_only_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/type_timeline_only_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/iso_date_string.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/iso_date_string.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/lists_default_array.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/lists_default_array.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/positive_integer.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/positive_integer_greater_than_zero.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/positive_integer_greater_than_zero.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/postive_integer.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/references_default_array.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/references_default_array.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/risk_score.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/risk_score.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/uuid.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/uuid.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/add_prepackaged_rules_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/create_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/delete_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/get_prepackaged_rules_status_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/import_rules_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/update_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/validate.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/validate.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/schemas/response/check_type_dependents.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/schemas/response/rules_schema.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/signals/build_exceptions_query.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/signals/build_exceptions_query.ts
  x-pack/plugins/siem/server/lib/detection_engine/signals/filter_events_with_list.ts
  x-pack/plugins/siem/server/lib/detection_engine/types.ts
  x-pack/plugins/siem/server/lib/timeline/routes/import_timelines_route.ts
Labels: Team:SIEM, refactoring, release_note:skip, v7.9.0, v8.0.0

#67912 [7.7] [DOCS] Replace docdir attribute with kib-repo-dir (#67907)
  docs/index.asciidoc
  docs/setup/settings.asciidoc
Labels: backport

#67911 [7.8] [DOCS] Replace docdir attribute with kib-repo-dir (#67907)
  docs/index.asciidoc
  docs/setup/settings.asciidoc
Labels: backport

#67910 [7.x] [DOCS] Replace docdir attribute with kib-repo-dir (#67907)
  docs/index.asciidoc
  docs/setup/settings.asciidoc
Labels: backport

#67913 [7.x] [SEIM][Detection Engine] Moves the io-ts schemas to the common folder from the server side (#67876)
  x-pack/plugins/siem/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/__mocks__/utils.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/error_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/error_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/find_rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/find_rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/import_rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/import_rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_status_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/prepackaged_rules_status_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_bulk_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_bulk_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/rules_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/type_timeline_only_schema.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/response/type_timeline_only_schema.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/iso_date_string.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/iso_date_string.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/lists_default_array.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/lists_default_array.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/positive_integer.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/positive_integer_greater_than_zero.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/positive_integer_greater_than_zero.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/postive_integer.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/references_default_array.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/references_default_array.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/risk_score.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/risk_score.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/uuid.test.ts
  x-pack/plugins/siem/common/detection_engine/schemas/types/uuid.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/add_prepackaged_rules_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/create_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/delete_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/get_prepackaged_rules_status_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/import_rules_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/update_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/validate.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/validate.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/schemas/response/check_type_dependents.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/schemas/response/rules_schema.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/signals/build_exceptions_query.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/signals/build_exceptions_query.ts
  x-pack/plugins/siem/server/lib/detection_engine/signals/filter_events_with_list.ts
  x-pack/plugins/siem/server/lib/detection_engine/types.ts
  x-pack/plugins/siem/server/lib/timeline/routes/import_timelines_route.ts
Labels: backport

#67818 [7.x] [Reporting]: Move router + license checks to new platform (#66331)
  x-pack/legacy/plugins/reporting/common/constants.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/create_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/create_job/create_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/execute_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/lib/generate_csv.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/lib/generate_csv_search.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/lib/get_filters.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/lib/get_job_params_from_request.ts
  x-pack/legacy/plugins/reporting/export_types/png/server/create_job/index.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/create_job/compatibility_shim.js
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/create_job/compatibility_shim.test.js
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/create_job/index.ts
  x-pack/legacy/plugins/reporting/server/core.ts
  x-pack/legacy/plugins/reporting/server/legacy.ts
  x-pack/legacy/plugins/reporting/server/lib/__tests__/check_license.js
  x-pack/legacy/plugins/reporting/server/lib/check_license.test.ts
  x-pack/legacy/plugins/reporting/server/lib/check_license.ts
  x-pack/legacy/plugins/reporting/server/lib/enqueue_job.ts
  x-pack/legacy/plugins/reporting/server/lib/get_user.ts
  x-pack/legacy/plugins/reporting/server/lib/index.ts
  x-pack/legacy/plugins/reporting/server/lib/jobs_query.ts
  x-pack/legacy/plugins/reporting/server/plugin.ts
  x-pack/legacy/plugins/reporting/server/routes/generate_from_jobparams.ts
  x-pack/legacy/plugins/reporting/server/routes/generate_from_savedobject.ts
  x-pack/legacy/plugins/reporting/server/routes/generate_from_savedobject_immediate.ts
  x-pack/legacy/plugins/reporting/server/routes/generation.test.ts
  x-pack/legacy/plugins/reporting/server/routes/generation.ts
  x-pack/legacy/plugins/reporting/server/routes/index.ts
  x-pack/legacy/plugins/reporting/server/routes/jobs.test.ts
  x-pack/legacy/plugins/reporting/server/routes/jobs.ts
  x-pack/legacy/plugins/reporting/server/routes/legacy.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/authorized_user_pre_routing.test.js
  x-pack/legacy/plugins/reporting/server/routes/lib/authorized_user_pre_routing.test.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/authorized_user_pre_routing.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/get_document_payload.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/job_response_handler.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/make_request_facade.test.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/make_request_facade.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/reporting_feature_pre_routing.ts
  x-pack/legacy/plugins/reporting/server/routes/lib/route_config_factories.ts
  x-pack/legacy/plugins/reporting/server/routes/types.d.ts
  x-pack/legacy/plugins/reporting/server/types.ts
  x-pack/legacy/plugins/reporting/test_helpers/create_mock_reportingplugin.ts
  x-pack/legacy/plugins/reporting/test_helpers/create_mock_server.ts
  x-pack/plugins/reporting/kibana.json
  x-pack/test/reporting_api_integration/reporting/csv_job_params.ts
Labels: backport

#67858 APM-specific Jest configuration
  x-pack/dev-tools/jest/create_jest_config.js
  x-pack/dev-tools/jest/index.js
  x-pack/plugins/apm/dev_docs/vscode_setup.md
  x-pack/plugins/apm/jest.config.js
  x-pack/plugins/apm/readme.md
Labels: Team:apm, release_note:skip, v7.9.0

#67875 [7.x] [ML] Add ability to delete target index & index pattern when deleting DFA job (#66934)
  x-pack/plugins/ml/common/types/data_frame_analytics.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/action_delete.test.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/action_delete.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/services/analytics_service/delete_analytics.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/services/analytics_service/index.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/data_frame_analytics.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/jobs.ts
  x-pack/plugins/ml/public/application/util/error_utils.ts
  x-pack/plugins/ml/server/models/data_frame_analytics/index_patterns.ts
  x-pack/plugins/ml/server/routes/data_frame_analytics.ts
  x-pack/plugins/ml/server/routes/schemas/data_analytics_schema.ts
  x-pack/test/api_integration/apis/ml/data_frame_analytics/delete.ts
  x-pack/test/api_integration/apis/ml/data_frame_analytics/index.ts
  x-pack/test/functional/services/ml/api.ts
  x-pack/test/functional/services/ml/test_resources.ts
Labels: backport

#67849 [7.x] Added autocompletion for update by query (#67741)
  src/plugins/console/server/lib/spec_definitions/json/overrides/update_by_query.json
Labels: backport

#67924 [7.x] Deprecate es API exposed from setup contract (#67596)
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.adminclient.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.createclient.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.dataclient.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.legacy.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicesetup.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchservicestart.legacy.md
  docs/development/core/server/kibana-plugin-core-server.md
  docs/development/core/server/kibana-plugin-core-server.requesthandlercontext.md
  src/core/server/elasticsearch/elasticsearch_service.mock.ts
  src/core/server/elasticsearch/elasticsearch_service.test.ts
  src/core/server/elasticsearch/elasticsearch_service.ts
  src/core/server/elasticsearch/types.ts
  src/core/server/http/integration_tests/core_services.test.ts
  src/core/server/index.ts
  src/core/server/legacy/legacy_service.ts
  src/core/server/mocks.ts
  src/core/server/plugins/plugin_context.ts
  src/core/server/saved_objects/saved_objects_service.test.ts
  src/core/server/saved_objects/saved_objects_service.ts
  src/core/server/server.api.md
  src/core/server/server.ts
  src/legacy/core_plugins/elasticsearch/index.js
  src/legacy/server/saved_objects/saved_objects_mixin.test.js
  src/plugins/telemetry/server/plugin.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/execute_job.test.ts
  x-pack/legacy/plugins/reporting/export_types/csv/server/execute_job.ts
  x-pack/legacy/plugins/reporting/export_types/csv_from_savedobject/server/lib/generate_csv_search.ts
  x-pack/legacy/plugins/reporting/export_types/png/server/execute_job/index.test.ts
  x-pack/legacy/plugins/reporting/export_types/printable_pdf/server/execute_job/index.test.ts
  x-pack/legacy/plugins/reporting/server/lib/create_queue.ts
  x-pack/legacy/plugins/reporting/server/lib/jobs_query.ts
  x-pack/legacy/plugins/reporting/server/lib/validate/validate_max_content_length.test.js
  x-pack/legacy/plugins/reporting/server/lib/validate/validate_max_content_length.ts
  x-pack/legacy/plugins/reporting/server/routes/generation.test.ts
  x-pack/legacy/plugins/reporting/server/routes/jobs.test.ts
  x-pack/plugins/licensing/server/plugin.ts
  x-pack/plugins/ml/server/plugin.ts
  x-pack/plugins/monitoring/server/kibana_monitoring/bulk_uploader.js
  x-pack/plugins/monitoring/server/plugin.ts
  x-pack/plugins/remote_clusters/server/routes/api/add_route.test.ts
  x-pack/plugins/remote_clusters/server/routes/api/delete_route.test.ts
  x-pack/plugins/remote_clusters/server/routes/api/get_route.test.ts
  x-pack/plugins/remote_clusters/server/routes/api/update_route.test.ts
  x-pack/plugins/security/server/plugin.test.ts
  x-pack/plugins/security/server/plugin.ts
  x-pack/plugins/telemetry_collection_xpack/server/plugin.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/action_types.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/alert_types.ts
  x-pack/test/plugin_api_integration/plugins/sample_task_plugin/server/init_routes.ts
  x-pack/test/plugin_api_integration/plugins/sample_task_plugin/server/plugin.ts
Labels: backport

#67844 [SIEM] Fix draft timeline can be attached to a case
  x-pack/plugins/siem/public/timelines/components/flyout/header/index.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/helpers.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/index.test.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/index.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/properties_right.tsx
  x-pack/plugins/siem/public/timelines/containers/one/index.gql_query.ts
Labels: Team:SIEM, bug, release_note:skip, v7.8.0

#67763 [TSVB] Fixes the problem on adding color rules
  src/plugins/vis_type_timeseries/public/application/components/color_rules.js
Labels: Feature:TSVB, Team:KibanaApp, bug, release_note:fix, v7.8.0, v7.9.0, v8.0.0

#67820 [7.x] [SIEM] Covers 'Import query from saved timeline' functionality with Cypress (#67459)
  x-pack/plugins/siem/cypress/integration/signal_detection_rules_custom.spec.ts
  x-pack/plugins/siem/cypress/objects/rule.ts
  x-pack/plugins/siem/cypress/screens/create_new_rule.ts
  x-pack/plugins/siem/cypress/screens/timeline.ts
  x-pack/plugins/siem/cypress/tasks/create_new_rule.ts
  x-pack/plugins/siem/public/alerts/components/rules/step_define_rule/index.tsx
  x-pack/test/siem_cypress/es_archives/custom_rule_with_timeline/data.json.gz
  x-pack/test/siem_cypress/es_archives/custom_rule_with_timeline/mappings.json
Labels: backport

#67323 [Endpoint] add new policy fields
  x-pack/plugins/siem/public/management/pages/policy/store/policy_list/middleware.ts
  x-pack/plugins/siem/public/management/pages/policy/store/policy_list/mock_policy_result_list.ts
  x-pack/plugins/siem/public/management/pages/policy/view/policy_list.test.tsx
  x-pack/plugins/siem/public/management/pages/policy/view/policy_list.tsx
Labels: Feature:Endpoint, Team:Endpoint Management, release_note:skip, v7.9.0, v8.0.0

#67927 [7.x] [SIEM] Fix draft timeline can be attached to a case (#67844)
  x-pack/plugins/siem/public/timelines/components/flyout/header/index.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/helpers.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/index.test.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/index.tsx
  x-pack/plugins/siem/public/timelines/components/timeline/properties/properties_right.tsx
  x-pack/plugins/siem/public/timelines/containers/one/index.gql_query.ts
Labels: backport

#67891 [7.8] [Uptime] Use date histogram in monitor states (#67558)
  x-pack/plugins/uptime/server/lib/requests/search/enrich_monitor_groups.ts
Labels: backport

#67890 [7.x] [Uptime] Use date histogram in monitor states (#67558)
  x-pack/plugins/uptime/server/lib/requests/search/enrich_monitor_groups.ts
Labels: backport

#67928 [7.x] Fix Azure metrics tutorial inside the App Home/ Add data area (#66901)
  src/plugins/home/public/assets/azure_metrics/screenshot.png
  src/plugins/home/server/tutorials/azure_metrics/index.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#67933 [7.x] Add Azure tutorial for logs in Kibana Home/ Add data area #66910
  src/plugins/home/public/assets/azure_logs/screenshot.png
  src/plugins/home/server/tutorials/azure_logs/index.ts
  src/plugins/home/server/tutorials/register.ts
Labels: backport

#67930 [7.8] Fix bug in tsvb metric add color rules (#67763)
  src/plugins/vis_type_timeseries/public/application/components/color_rules.js
Labels: backport

#67932 [7.8] [SIEM] Fix draft timeline can be attached to a case (#67844)
  x-pack/plugins/siem/public/components/flyout/header/index.tsx
  x-pack/plugins/siem/public/components/timeline/properties/helpers.tsx
  x-pack/plugins/siem/public/components/timeline/properties/index.test.tsx
  x-pack/plugins/siem/public/components/timeline/properties/index.tsx
  x-pack/plugins/siem/public/components/timeline/properties/properties_right.tsx
  x-pack/plugins/siem/public/containers/timeline/one/index.gql_query.ts
Labels: backport

#67752 [7.x] [APM] Correctly format url when linking to apps (#67446)
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/__test__/TransactionActionMenu.test.tsx
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/sections.ts
Labels: backport

#67758 [7.8] [APM] Correctly format url when linking to apps (#67446)
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/__test__/TransactionActionMenu.test.tsx
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/sections.ts
Labels: backport

#67893 [Ingest Manager] install default packages in parallel
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
Labels: Ingest Management:alpha1, Team:Ingest Management, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#67887 [Ingest Manager] Remove settings non available in 7.8
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/settings_flyout.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Ingest Management, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#67463 Move application.applications$ to public contract
  docs/development/core/public/kibana-plugin-core-public.applicationstart.applications_.md
  docs/development/core/public/kibana-plugin-core-public.applicationstart.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.appurl.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.disablesuburltracking.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.linktolastsuburl.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.suburlbase.md
  docs/development/core/public/kibana-plugin-core-public.md
  docs/development/core/public/kibana-plugin-core-public.publicappinfo.md
  docs/development/core/public/kibana-plugin-core-public.publiclegacyappinfo.md
  src/core/public/application/application_service.mock.ts
  src/core/public/application/application_service.test.ts
  src/core/public/application/application_service.tsx
  src/core/public/application/index.ts
  src/core/public/application/types.ts
  src/core/public/application/utils.test.ts
  src/core/public/application/utils.ts
  src/core/public/chrome/chrome_service.test.ts
  src/core/public/chrome/nav_links/to_nav_link.test.ts
  src/core/public/chrome/nav_links/to_nav_link.ts
  src/core/public/index.ts
  src/core/public/legacy/legacy_service.ts
  src/core/public/plugins/plugin_context.ts
  src/core/public/public.api.md
Labels: Feature:New Platform, Team:Platform, release_note:skip, v7.9.0, v8.0.0

#67929 [7.x] Fix bug in tsvb metric add color rules (#67763)
  src/plugins/vis_type_timeseries/public/application/components/color_rules.js
Labels: backport

#67502 [DOCS] 7.7.1 Release Notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.7.1

#67550 [7.x] Fix typos (#66984)
  config/kibana.yml
  docs/api/saved-objects/bulk_get.asciidoc
  docs/development/core/public/kibana-plugin-core-public.appcategory.label.md
  docs/development/core/public/kibana-plugin-core-public.appcategory.md
  src/core/types/app_category.ts
Labels: backport

#67934 [7.x] Add IIS metrics tutorial for logs in Kibana Home/ Add data area #66918
  src/plugins/home/public/assets/iis_metrics/screenshot.png
  src/plugins/home/server/tutorials/iis_metrics/index.ts
  src/plugins/home/server/tutorials/register.ts
Labels: backport

#67941 [7.x] install default packages in parallel (#67893)
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
Labels: backport

#67427 [Maps] fix mapbox glyphs error when EMS access is turned off
  src/dev/precommit_hook/casing_check_config.js
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/maps/public/connected_components/map/mb/view.js
  x-pack/plugins/maps/public/meta.js
  x-pack/plugins/maps/public/meta.test.js
  x-pack/plugins/maps/server/fonts/open_sans/0-255.pbf
  x-pack/plugins/maps/server/fonts/open_sans/1024-1279.pbf
  x-pack/plugins/maps/server/fonts/open_sans/256-511.pbf
  x-pack/plugins/maps/server/fonts/open_sans/768-1023.pbf
  x-pack/plugins/maps/server/fonts/open_sans/8192-8447.pbf
  x-pack/plugins/maps/server/fonts/open_sans/license.txt
  x-pack/plugins/maps/server/routes.js
  x-pack/test/api_integration/apis/maps/fonts_api.js
  x-pack/test/api_integration/apis/maps/index.js
Labels: Team:Geo, release_note:fix, v7.8.0, v7.9.0, v8.0.0

#67172 [Monitoring] Ensure we fetch all collection status
  x-pack/plugins/monitoring/server/lib/setup/collection/get_collection_status.js
Labels: Team:Monitoring, release_note:fix, review, v7.7.1, v7.8.0, v8.0.0

#67799 [SIEM] Fixes column drag and drop in timeline-based views
  x-pack/plugins/siem/cypress/integration/events_viewer.spec.ts
  x-pack/plugins/siem/cypress/screens/timeline.ts
  x-pack/plugins/siem/cypress/tasks/hosts/events.ts
  x-pack/plugins/siem/public/common/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/siem/public/common/components/drag_and_drop/helpers.test.ts
  x-pack/plugins/siem/public/common/components/drag_and_drop/helpers.ts
Labels: Team:SIEM, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#67796 Allow functions to return falsy values
  src/plugins/bfetch/public/batching/create_streaming_batched_function.test.ts
  src/plugins/bfetch/public/batching/create_streaming_batched_function.ts
Labels: Feature:ExpressionLanguage, release_note:skip, review, v7.8.0, v7.9.0, v8.0.0

#67935 [Logs UI] Ensure live stream always gets latest entries
  x-pack/plugins/infra/public/containers/logs/log_entries/index.ts
Labels: Feature:Logs UI, Team:logs-metrics-ui, release_note:fix, v7.7.1, v7.8.0, v8.0.0

#67948 [7.x] ci(jenkins): use APM e2e in the CI (#61803)
  .ci/end2end.groovy
  x-pack/plugins/apm/e2e/README.md
  x-pack/plugins/apm/e2e/ci/Dockerfile
  x-pack/plugins/apm/e2e/ci/entrypoint.sh
  x-pack/plugins/apm/e2e/ci/prepare-kibana.sh
  x-pack/plugins/apm/e2e/ci/run-e2e.sh
  x-pack/plugins/apm/e2e/cypress.json
  x-pack/plugins/apm/e2e/cypress/support/step_definitions/apm.ts
  x-pack/plugins/apm/e2e/cypress/videos/apm.feature.mp4
  x-pack/plugins/apm/e2e/run-e2e.sh
Labels: backport

#67687 Fix authentication loop when upgrading Kibana from 6.8 to 7.7+
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
Labels: release_note:fix, v7.7.2, v7.8.1

#67956 [7.x] [Maps] fix mapbox glyphs error when EMS access is turned off (#67427)
  src/dev/precommit_hook/casing_check_config.js
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/maps/public/connected_components/map/mb/view.js
  x-pack/plugins/maps/public/meta.js
  x-pack/plugins/maps/public/meta.test.js
  x-pack/plugins/maps/server/fonts/open_sans/0-255.pbf
  x-pack/plugins/maps/server/fonts/open_sans/1024-1279.pbf
  x-pack/plugins/maps/server/fonts/open_sans/256-511.pbf
  x-pack/plugins/maps/server/fonts/open_sans/768-1023.pbf
  x-pack/plugins/maps/server/fonts/open_sans/8192-8447.pbf
  x-pack/plugins/maps/server/fonts/open_sans/license.txt
  x-pack/plugins/maps/server/routes.js
  x-pack/test/api_integration/apis/maps/fonts_api.js
  x-pack/test/api_integration/apis/maps/index.js
Labels: backport

#66926 [Uptime] Fix ping io ts type
  x-pack/plugins/uptime/common/runtime_types/ping/ping.ts
Labels: Team:uptime, release_note:skip, v7.8.0, v8.0.0

#67965 [7.x] [SIEM] Fixes column drag and drop in timeline-based views (#67799)
  x-pack/plugins/siem/cypress/integration/events_viewer.spec.ts
  x-pack/plugins/siem/cypress/screens/timeline.ts
  x-pack/plugins/siem/cypress/tasks/hosts/events.ts
  x-pack/plugins/siem/public/common/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/siem/public/common/components/drag_and_drop/helpers.test.ts
  x-pack/plugins/siem/public/common/components/drag_and_drop/helpers.ts
Labels: backport

#67914 [SIEM][Detections] Allow synchronous rule actions to be updated via PATCH
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/rules/patch_rules.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/rules/patch_rules.ts
Labels: Team:SIEM, release_note:skip, v7.7.2, v7.8.0, v7.9.0, v8.0.0

#67961 [SIEM] Update cypress to 4.5.0
  x-pack/package.json
  yarn.lock
Labels: Team:SIEM, release_note:skip, v7.9.0, v8.0.0

#67942 [7.8] install default packages in parallel (#67893)
  x-pack/plugins/ingest_manager/server/services/epm/packages/install.ts
Labels: backport

#67984 [7.7] Fix authentication loop when upgrading Kibana from 6.8 to 7.7+ (#67687)
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
Labels: backport

#67983 [7.8] Fix authentication loop when upgrading Kibana from 6.8 to 7.7+ (#67687)
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
Labels: backport

#67903 [DOCS] Adds 6.8.10 Release Notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v6.8.10

#67990 [7.8] [SIEM][Detections] Allow synchronous rule actions to be updated via PATCH (#67914)
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/rules/patch_rules.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/rules/patch_rules.ts
Labels: backport

#67947 [7.x] Move application.applications$ to public contract (#67463)
  docs/development/core/public/kibana-plugin-core-public.applicationstart.applications_.md
  docs/development/core/public/kibana-plugin-core-public.applicationstart.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.appurl.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.disablesuburltracking.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.linktolastsuburl.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.md
  docs/development/core/public/kibana-plugin-core-public.legacyapp.suburlbase.md
  docs/development/core/public/kibana-plugin-core-public.md
  docs/development/core/public/kibana-plugin-core-public.publicappinfo.md
  docs/development/core/public/kibana-plugin-core-public.publiclegacyappinfo.md
  src/core/public/application/application_service.mock.ts
  src/core/public/application/application_service.test.ts
  src/core/public/application/application_service.tsx
  src/core/public/application/index.ts
  src/core/public/application/types.ts
  src/core/public/application/utils.test.ts
  src/core/public/application/utils.ts
  src/core/public/chrome/chrome_service.test.ts
  src/core/public/chrome/nav_links/to_nav_link.test.ts
  src/core/public/chrome/nav_links/to_nav_link.ts
  src/core/public/index.ts
  src/core/public/legacy/legacy_service.ts
  src/core/public/plugins/plugin_context.ts
  src/core/public/public.api.md
Labels: backport

#67994 [7.8] [Uptime] Fix ping io ts type (#66926)
  x-pack/plugins/uptime/common/runtime_types/ping/ping.ts
Labels: backport

#67993 [7.x] [Uptime] Fix ping io ts type (#66926)
  x-pack/plugins/uptime/common/runtime_types/ping/ping.ts
Labels: backport

#67988 [7.x] [SIEM][Detections] Allow synchronous rule actions to be updated via PATCH (#67914)
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_bulk_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/routes/rules/patch_rules_route.ts
  x-pack/plugins/siem/server/lib/detection_engine/rules/patch_rules.test.ts
  x-pack/plugins/siem/server/lib/detection_engine/rules/patch_rules.ts
Labels: backport

#67967 EMT-395: add policy configuration and reenable tests
  x-pack/plugins/siem/common/endpoint/generate_data.ts
  x-pack/plugins/siem/common/endpoint/types.ts
  x-pack/plugins/siem/scripts/endpoint/resolver_generator.ts
  x-pack/plugins/siem/server/endpoint/alerts/index_pattern.ts
  x-pack/test/api_integration/apis/endpoint/alerts/index.ts
  x-pack/test/api_integration/apis/endpoint/alerts/index_pattern.ts
  x-pack/test/api_integration/apis/endpoint/metadata.ts
  x-pack/test/functional/es_archives/endpoint/alerts/host_api_feature/data.json.gz
  x-pack/test/functional/es_archives/endpoint/alerts/host_api_feature/mappings.json
  x-pack/test/functional/es_archives/endpoint/metadata/api_feature/data.json
  x-pack/test/functional/es_archives/endpoint/metadata/api_feature/mappings.json
Labels: release_note:skip, v7.9.0, v8.0.0

#67998 [7.6] [CI] Bump chromedriver and use DETECT_CHROMEDRIVER_VERSION (#67642) (#67794)
  package.json
  src/dev/ci_setup/setup_env.sh
  yarn.lock
Labels: backport

#67768 [Endpoint][SIEM] Adjust types related to subplugin's redux
  x-pack/plugins/siem/common/endpoint_alerts/types.ts
  x-pack/plugins/siem/public/app/types.ts
  x-pack/plugins/siem/public/common/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/siem/public/common/components/error_toast_dispatcher/index.test.tsx
  x-pack/plugins/siem/public/common/mock/endpoint/app_context_render.tsx
  x-pack/plugins/siem/public/common/mock/global_state.ts
  x-pack/plugins/siem/public/common/mock/utils.ts
  x-pack/plugins/siem/public/common/store/app/selectors.ts
  x-pack/plugins/siem/public/common/store/drag_and_drop/selectors.ts
  x-pack/plugins/siem/public/common/store/index.ts
  x-pack/plugins/siem/public/common/store/inputs/selectors.ts
  x-pack/plugins/siem/public/common/store/reducer.ts
  x-pack/plugins/siem/public/common/store/store.ts
  x-pack/plugins/siem/public/common/store/test_utils.ts
  x-pack/plugins/siem/public/common/store/types.ts
  x-pack/plugins/siem/public/common/utils/clone_http_fetch_query.ts
  x-pack/plugins/siem/public/endpoint_alerts/index.ts
  x-pack/plugins/siem/public/endpoint_alerts/models/index_pattern.ts
  x-pack/plugins/siem/public/endpoint_alerts/routes.tsx
  x-pack/plugins/siem/public/endpoint_alerts/store/action.ts
  x-pack/plugins/siem/public/endpoint_alerts/store/alert_details.test.ts
  x-pack/plugins/siem/public/endpoint_alerts/store/alert_list.test.ts
  x-pack/plugins/siem/public/endpoint_alerts/store/index.ts
  x-pack/plugins/siem/public/endpoint_alerts/store/middleware.ts
  x-pack/plugins/siem/public/endpoint_alerts/store/reducer.ts
  x-pack/plugins/siem/public/endpoint_alerts/store/selectors.ts
  x-pack/plugins/siem/public/endpoint_alerts/view/alert_details.test.tsx
  x-pack/plugins/siem/public/endpoint_alerts/view/details/metadata/file_accordion.tsx
  x-pack/plugins/siem/public/endpoint_alerts/view/details/metadata/general_accordion.tsx
  x-pack/plugins/siem/public/endpoint_alerts/view/details/metadata/hash_accordion.tsx
  x-pack/plugins/siem/public/endpoint_alerts/view/details/metadata/host_accordion.tsx
  x-pack/plugins/siem/public/endpoint_alerts/view/details/metadata/source_process_accordion.tsx
  x-pack/plugins/siem/public/endpoint_alerts/view/details/metadata/source_process_token_accordion.tsx
  x-pack/plugins/siem/public/endpoint_alerts/view/hooks/use_alerts_selector.ts
  x-pack/plugins/siem/public/endpoint_alerts/view/index.test.tsx
  x-pack/plugins/siem/public/endpoint_hosts/index.ts
  x-pack/plugins/siem/public/endpoint_hosts/routes.tsx
  x-pack/plugins/siem/public/endpoint_hosts/store/index.test.ts
  x-pack/plugins/siem/public/endpoint_hosts/store/index.ts
  x-pack/plugins/siem/public/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/siem/public/endpoint_hosts/store/middleware.ts
  x-pack/plugins/siem/public/endpoint_hosts/store/reducer.ts
  x-pack/plugins/siem/public/endpoint_hosts/view/hooks.ts
  x-pack/plugins/siem/public/hosts/store/selectors.ts
  x-pack/plugins/siem/public/management/index.ts
  x-pack/plugins/siem/public/management/pages/policy/store/policy_details/middleware.ts
  x-pack/plugins/siem/public/management/pages/policy/store/policy_details/reducer.ts
  x-pack/plugins/siem/public/management/pages/policy/store/policy_list/index.test.ts
  x-pack/plugins/siem/public/management/pages/policy/store/policy_list/middleware.ts
  x-pack/plugins/siem/public/management/pages/policy/store/policy_list/reducer.ts
  x-pack/plugins/siem/public/management/routes.tsx
  x-pack/plugins/siem/public/management/store/index.ts
  x-pack/plugins/siem/public/management/store/middleware.ts
  x-pack/plugins/siem/public/management/store/reducer.ts
  x-pack/plugins/siem/public/management/store/types.ts
  x-pack/plugins/siem/public/management/types.ts
  x-pack/plugins/siem/public/network/store/selectors.ts
  x-pack/plugins/siem/public/timelines/store/timeline/model.ts
  x-pack/plugins/siem/public/timelines/store/timeline/selectors.ts
Labels: Feature:Endpoint, release_note:skip, v7.9.0, v8.0.0

#68007 [scripts/type_check] increase memory limit for all x-pack* projects
  src/dev/typescript/run_type_check_cli.ts
Labels: Team:Operations, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#67892 share core bundle with plugins
  packages/kbn-optimizer/src/optimizer/optimizer_config.ts
  packages/kbn-optimizer/src/worker/webpack.config.ts
  src/core/public/index.ts
  src/core/public/kbn_bootstrap.ts
  src/core/public/public.api.md
  src/legacy/ui/ui_render/bootstrap/template.js.hbs
  src/legacy/ui/ui_render/ui_render_mixin.js
Labels: Team:Operations, release_note:skip, v7.8.1, v7.9.0, v8.0.0

#66703 [test/functional/services] convert dashboard and pie-chart to ts
  test/functional/services/dashboard/add_panel.ts
  test/functional/services/dashboard/expectations.ts
  test/functional/services/dashboard/index.ts
  test/functional/services/dashboard/panel_actions.ts
  test/functional/services/dashboard/replace_panel.ts
  test/functional/services/dashboard/visualizations.ts
  test/functional/services/index.ts
  test/functional/services/visualizations/elastic_chart.ts
  test/functional/services/visualizations/index.ts
  test/functional/services/visualizations/pie_chart.ts
Labels: release_note:skip, test_ui_functional, v7.9.0, v8.0.0

#67991 New Kibana app link order
  src/legacy/core_plugins/kibana/index.js
Labels: Team:Core UI, Team:KibanaApp, release_note:fix, v7.8.0

#66320 New Kibana app link order
  src/core/public/chrome/nav_links/to_nav_link.ts
  src/core/public/chrome/ui/header/nav_link.tsx
  src/plugins/dashboard/public/plugin.tsx
  src/plugins/discover/public/plugin.ts
  src/plugins/visualize/public/plugin.ts
Labels: Team:Core UI, release_note:fix, v7.9.0, v8.0.0

#67055 [7.8] [Uptime] Use React.lazy for alert type registration (#66829)
  x-pack/plugins/uptime/public/components/overview/alerts/alerts_containers/alert_monitor_status.tsx
  x-pack/plugins/uptime/public/components/overview/alerts/alerts_containers/alert_tls.tsx
  x-pack/plugins/uptime/public/lib/alert_types/monitor_status.tsx
  x-pack/plugins/uptime/public/lib/alert_types/tls.tsx
Labels: Team:uptime, backport, v7.8.0

#67966 [7.8] [SIEM] Fixes column drag and drop in timeline-based views (#67799)
  x-pack/plugins/siem/cypress/integration/events_viewer.spec.ts
  x-pack/plugins/siem/cypress/screens/timeline.ts
  x-pack/plugins/siem/cypress/tasks/hosts/events.ts
  x-pack/plugins/siem/public/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/siem/public/components/drag_and_drop/helpers.test.ts
  x-pack/plugins/siem/public/components/drag_and_drop/helpers.ts
Labels: backport

#68016 [7.x] [scripts/type_check] increase memory limit for all x-pack* projects (#68007)
  src/dev/typescript/run_type_check_cli.ts
Labels: backport

#68017 [7.8] [scripts/type_check] increase memory limit for all x-pack* projects (#68007)
  src/dev/typescript/run_type_check_cli.ts
Labels: backport

#68024 [7.8] share core bundle with plugins (#67892)
  packages/kbn-optimizer/src/optimizer/optimizer_config.ts
  packages/kbn-optimizer/src/worker/webpack.config.ts
  src/core/public/index.ts
  src/core/public/kbn_bootstrap.ts
  src/core/public/public.api.md
  src/legacy/ui/ui_render/bootstrap/template.js.hbs
  src/legacy/ui/ui_render/ui_render_mixin.js
Labels: backport

#68023 [7.x] share core bundle with plugins (#67892)
  packages/kbn-optimizer/src/optimizer/optimizer_config.ts
  packages/kbn-optimizer/src/worker/webpack.config.ts
  src/core/public/index.ts
  src/core/public/kbn_bootstrap.ts
  src/core/public/public.api.md
  src/legacy/ui/ui_render/bootstrap/template.js.hbs
  src/legacy/ui/ui_render/ui_render_mixin.js
Labels: backport

#67918 [Ingest Manager] Change agent config YAML view to flyout
  x-pack/plugins/ingest_manager/common/constants/routes.ts
  x-pack/plugins/ingest_manager/common/services/config_to_yaml.ts
  x-pack/plugins/ingest_manager/common/services/index.ts
  x-pack/plugins/ingest_manager/common/services/routes.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/context_menu_actions.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/table_row_actions_nested.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/constants/page_paths.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/hooks/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/hooks/use_request/agent_config.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/actions_menu.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/config_yaml_flyout.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/table_row_actions.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/datasources/datasources_table.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/yaml/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/data_stream/list_page/components/data_stream_row_actions.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_details_page/components/actions_menu.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/services/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/types/index.ts
  x-pack/plugins/ingest_manager/server/routes/agent_config/handlers.ts
  x-pack/plugins/ingest_manager/server/routes/agent_config/index.ts
  x-pack/plugins/ingest_manager/server/services/index.ts
  x-pack/plugins/ingest_manager/server/types/rest_spec/agent_config.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Ingest Management, release_note:skip, v7.9.0, v8.0.0

#67406 [SIEM][Exceptions] Add success/error toast component on alert state change
  x-pack/plugins/siem/public/alerts/components/signals/actions.tsx
  x-pack/plugins/siem/public/alerts/components/signals/default_config.test.tsx
  x-pack/plugins/siem/public/alerts/components/signals/default_config.tsx
  x-pack/plugins/siem/public/alerts/components/signals/index.tsx
  x-pack/plugins/siem/public/alerts/components/signals/translations.ts
  x-pack/plugins/siem/public/alerts/components/signals/types.ts
  x-pack/plugins/siem/public/alerts/containers/detection_engine/signals/api.ts
Labels: Team:Endpoint Response, Team:SIEM, release_note:enhancement, v7.9.0, v8.0.0

#66425 [Uptime] Switch from `EuiFieldNumber` to `EuiFieldText` on settings page
  x-pack/plugins/uptime/common/translations.ts
  x-pack/plugins/uptime/public/components/settings/__tests__/certificate_form.test.tsx
  x-pack/plugins/uptime/public/components/settings/certificate_form.tsx
  x-pack/plugins/uptime/public/pages/__tests__/settings.test.tsx
  x-pack/plugins/uptime/public/pages/settings.tsx
  x-pack/plugins/uptime/public/pages/translations.ts
  x-pack/plugins/uptime/server/rest_api/__tests__/dynamic_settings.test.ts
  x-pack/plugins/uptime/server/rest_api/dynamic_settings.ts
Labels: Team:uptime, bug, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#67582 [Discover] Fix missing histogram time range update when query is refreshed
  src/plugins/discover/public/application/angular/discover.js
  test/functional/apps/discover/_discover.js
Labels: :KibanaApp/fix-it-week, Feature:Discover, Team:KibanaApp, release_note:fix, v7.7.2, v7.8.0, v8.0.0

#66979 Add error if filter index pattern is missing
  src/plugins/data/common/es_query/filters/get_display_value.ts
  src/plugins/data/common/query/filter_manager/compare_filters.test.ts
  src/plugins/data/common/query/filter_manager/compare_filters.ts
  src/plugins/data/public/ui/filter_bar/_global_filter_item.scss
  src/plugins/data/public/ui/filter_bar/filter_bar.tsx
  src/plugins/data/public/ui/filter_bar/filter_editor/index.tsx
  src/plugins/data/public/ui/filter_bar/filter_item.tsx
  src/plugins/data/public/ui/filter_bar/filter_view/index.tsx
  test/functional/apps/dashboard/dashboard_filter_bar.js
  test/functional/fixtures/es_archiver/README.md
  test/functional/fixtures/es_archiver/dashboard/current/kibana/data.json.gz
  test/functional/fixtures/es_archiver/dashboard/current/kibana/mappings.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/apps/maps/embeddable/tooltip_filter_actions.js
Labels: bug, release_note:fix, v7.8.0, v8.0.0

#67997 [7.x] [SIEM] Update cypress to 4.5.0 (#67961)
  x-pack/package.json
  yarn.lock
Labels: backport

#67973 [7.x] [Logs UI] Ensure live stream always gets latest entries (#67935)
  x-pack/plugins/infra/public/containers/logs/log_entries/index.ts
Labels: backport

#67974 [7.8] [Logs UI] Ensure live stream always gets latest entries (#67935)
  x-pack/plugins/infra/public/containers/logs/log_entries/index.ts
Labels: backport

#68050 [7.x] Add error if filter index pattern is missing (#66979)
  src/plugins/data/common/es_query/filters/get_display_value.ts
  src/plugins/data/common/query/filter_manager/compare_filters.test.ts
  src/plugins/data/common/query/filter_manager/compare_filters.ts
  src/plugins/data/public/ui/filter_bar/_global_filter_item.scss
  src/plugins/data/public/ui/filter_bar/filter_bar.tsx
  src/plugins/data/public/ui/filter_bar/filter_editor/index.tsx
  src/plugins/data/public/ui/filter_bar/filter_item.tsx
  src/plugins/data/public/ui/filter_bar/filter_view/index.tsx
  test/functional/apps/dashboard/dashboard_filter_bar.js
  test/functional/fixtures/es_archiver/README.md
  test/functional/fixtures/es_archiver/dashboard/current/kibana/data.json.gz
  test/functional/fixtures/es_archiver/dashboard/current/kibana/mappings.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/apps/maps/embeddable/tooltip_filter_actions.js
Labels: backport

#65868 Lens editor auto refresh
  src/plugins/expressions/public/react_expression_renderer.test.tsx
  src/plugins/expressions/public/react_expression_renderer.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel.tsx
Labels: Feature:Drilldowns, Feature:Embedding, Feature:ExpressionLanguage, Team:AppArch, Team:KibanaApp, release_note:enhancement, v7.9.0, v8.0.0

#68048 [7.x] [Discover] Fix missing histogram time range update when query is refreshed (#67582)
  src/plugins/discover/public/application/angular/discover.js
  test/functional/apps/discover/_discover.js
Labels: backport

#68025 [7.x] [test/functional/services] convert dashboard and pie-chart to ts (#66703)
  test/functional/services/dashboard/add_panel.ts
  test/functional/services/dashboard/expectations.ts
  test/functional/services/dashboard/index.ts
  test/functional/services/dashboard/panel_actions.ts
  test/functional/services/dashboard/replace_panel.ts
  test/functional/services/dashboard/visualizations.ts
  test/functional/services/index.ts
  test/functional/services/visualizations/elastic_chart.ts
  test/functional/services/visualizations/index.ts
  test/functional/services/visualizations/pie_chart.ts
Labels: backport

#68061 [7.x] Lens editor auto refresh (#65868)
  src/plugins/expressions/public/react_expression_renderer.test.tsx
  src/plugins/expressions/public/react_expression_renderer.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel.tsx
Labels: backport

#68058 [7.7] [Logs UI] Ensure live stream always gets latest entries (#67935)
  x-pack/plugins/infra/public/containers/logs/log_entries/index.ts
Labels: backport

#67111 TSVB: handle division by zero in math agg
  src/plugins/vis_type_timeseries/server/lib/vis_data/response_processors/series/math.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/response_processors/series/math.test.js
Labels: Feature:TSVB, Team:KibanaApp, release_note:fix, v7.9.0, v8.0.0

#67635 Deprecate kibana.defaultAppId setting
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  src/plugins/kibana_legacy/server/index.ts
Labels: Team:KibanaApp, release_note:deprecation, v7.9.0, v8.0.0

#67951 [7.x] [DOCS] 7.7.1 Release Notes (#67502)
  docs/CHANGELOG.asciidoc
Labels: backport

#67759 TSVB Validation fix color rule validation
  src/plugins/vis_type_timeseries/server/routes/post_vis_schema.ts
Labels: Feature:TSVB, release_note:fix, v7.8.0, v7.9.0, v8.0.0

#68070 [7.x] Deprecate kibana.defaultAppId setting (#67635)
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  src/plugins/kibana_legacy/server/index.ts
Labels: backport

#68045 [7.8] [Uptime] Switch from `EuiFieldNumber` to `EuiFieldText` on settings page (#66425)
  x-pack/plugins/uptime/common/translations.ts
  x-pack/plugins/uptime/public/components/settings/__tests__/certificate_form.test.tsx
  x-pack/plugins/uptime/public/components/settings/certificate_form.tsx
  x-pack/plugins/uptime/public/pages/__tests__/settings.test.tsx
  x-pack/plugins/uptime/public/pages/settings.tsx
  x-pack/plugins/uptime/public/pages/translations.ts
  x-pack/plugins/uptime/server/rest_api/__tests__/dynamic_settings.test.ts
  x-pack/plugins/uptime/server/rest_api/dynamic_settings.ts
Labels: Team:uptime, backport, v7.8.0

#68044 [7.x] [Uptime] Switch from `EuiFieldNumber` to `EuiFieldText` on settings page (#66425)
  x-pack/plugins/uptime/common/translations.ts
  x-pack/plugins/uptime/public/components/settings/__tests__/certificate_form.test.tsx
  x-pack/plugins/uptime/public/components/settings/certificate_form.tsx
  x-pack/plugins/uptime/public/pages/__tests__/settings.test.tsx
  x-pack/plugins/uptime/public/pages/settings.tsx
  x-pack/plugins/uptime/public/pages/translations.ts
  x-pack/plugins/uptime/server/rest_api/__tests__/dynamic_settings.test.ts
  x-pack/plugins/uptime/server/rest_api/dynamic_settings.ts
Labels: Team:uptime, backport, v7.9.0

#68072 [7.8] use individual route for each KP app (#65977)
  src/core/public/application/application_service.tsx
  src/core/public/application/integration_tests/router.test.tsx
  src/core/public/application/integration_tests/utils.tsx
  src/core/public/application/types.ts
  src/core/public/application/ui/app_container.test.tsx
  src/core/public/application/ui/app_router.tsx
Labels: backport

#68073 [7.7] use individual route for each KP app (#65977)
  src/core/public/application/application_service.tsx
  src/core/public/application/integration_tests/router.test.tsx
  src/core/public/application/integration_tests/utils.tsx
  src/core/public/application/types.ts
  src/core/public/application/ui/app_container.test.tsx
  src/core/public/application/ui/app_router.tsx
Labels: backport

#67953 [ML] Adding per_partition_categorization to job interface and schema
  x-pack/plugins/ml/common/types/anomaly_detection_jobs/job.ts
  x-pack/plugins/ml/common/types/categories.ts
  x-pack/plugins/ml/server/routes/schemas/anomaly_detectors_schema.ts
Labels: :ml, Feature:Anomaly Detection, non-issue, release_note:skip, review, v7.9.0, v8.0.0

#68074 [ML] Fix expanded row bug when job has no datafeed
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/job_details/extract_job_details.js
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/job_details/job_details.js
Labels: :ml, Feature:Anomaly Detection, bug, release_note:fix, review, v7.8.1, v7.9.0, v8.0.0

#68054 [7.7] move role reset into the top level after clause (#66971)
  test/functional/apps/visualize/_area_chart.js
Labels: backport

#67840 Kibana 7.7.0: Chart split orientation is wrong
  src/plugins/visualizations/server/saved_objects/visualization_migrations.test.ts
  src/plugins/visualizations/server/saved_objects/visualization_migrations.ts
Labels: Feature:Vis Editor, Team:KibanaApp, bug, regression, release_note:fix, v7.7.2, v7.8.1, v8.0.0

#68053 [7.8] move role reset into the top level after clause (#66971)
  test/functional/apps/visualize/_area_chart.js
Labels: backport

#68079 [7.x] relax color rule validation (#67759)
  src/plugins/vis_type_timeseries/server/routes/post_vis_schema.ts
Labels: backport

#68105 [Docs][SIEM]Updates to clarify SIEM known issue fixes
  docs/CHANGELOG.asciidoc
Labels: release_note:skip, v7.7.0

#68081 [7.8] relax color rule validation (#67759)
  src/plugins/vis_type_timeseries/server/routes/post_vis_schema.ts
Labels: backport

#68037 [APM] Fix query bar Japanese translation
  x-pack/plugins/translations/translations/ja-JP.json
Labels: release_note:fix, v7.8.0

#68093 [7.8] [Discover] Fix missing histogram time range update when query is refreshed (#67582)
  src/legacy/core_plugins/kibana/public/discover/np_ready/angular/discover.js
  test/functional/apps/discover/_discover.js
Labels: backport

#68092 [7.x] [ML] Fix expanded row bug when job has no datafeed (#68074)
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/job_details/extract_job_details.js
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/job_details/job_details.js
Labels: :ml, backport

#68091 [7.x] [ML] Adding per_partition_categorization to job interface and schema (#67953)
  x-pack/plugins/ml/common/types/anomaly_detection_jobs/job.ts
  x-pack/plugins/ml/common/types/categories.ts
  x-pack/plugins/ml/server/routes/schemas/anomaly_detectors_schema.ts
Labels: :ml, backport

#68095 [7.x] [SIEM][Exceptions] Add success/error toast component on alert state change (#67406)
  x-pack/plugins/siem/public/alerts/components/signals/actions.tsx
  x-pack/plugins/siem/public/alerts/components/signals/default_config.test.tsx
  x-pack/plugins/siem/public/alerts/components/signals/default_config.tsx
  x-pack/plugins/siem/public/alerts/components/signals/index.tsx
  x-pack/plugins/siem/public/alerts/components/signals/translations.ts
  x-pack/plugins/siem/public/alerts/components/signals/types.ts
  x-pack/plugins/siem/public/alerts/containers/detection_engine/signals/api.ts
Labels: backport

#68098 [7.x] Kibana 7.7.0: Chart split orientation is wrong (#67840)
  src/plugins/visualizations/server/saved_objects/visualization_migrations.test.ts
  src/plugins/visualizations/server/saved_objects/visualization_migrations.ts
Labels: backport

#68099 [7.8] Kibana 7.7.0: Chart split orientation is wrong (#67840)
  src/plugins/visualizations/server/saved_objects/visualization_migrations.test.ts
  src/plugins/visualizations/server/saved_objects/visualization_migrations.ts
Labels: backport

#68089 [7.8] only block registration when appRoute contains the exact basePath (#67125)
  src/core/public/application/application_service.test.ts
  src/core/public/application/application_service.tsx
Labels: backport

#68110 [DOCS] Adds security update to 6.8.10 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v6.8.10

#68021 [Ingest Manager] Fix invalidating agent output api key
  x-pack/plugins/ingest_manager/server/services/agents/checkin.ts
  x-pack/plugins/ingest_manager/server/services/api_keys/index.ts
  x-pack/test/api_integration/apis/fleet/agent_flow.ts
  x-pack/test/api_integration/apis/fleet/index.js
Labels: Team:Ingest Management, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#68114 [DOCS] Adds security update to 7.7.1 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.7.1

#68030 [7.8] Fix branding (#64712)
  src/core/public/chrome/ui/header/__snapshots__/header.test.tsx.snap
  src/core/public/chrome/ui/header/header_logo.tsx
  src/core/server/core_app/assets/favicons/android-chrome-192x192.png
  src/core/server/core_app/assets/favicons/android-chrome-256x256.png
  src/core/server/core_app/assets/favicons/android-chrome-512x512.png
  src/core/server/core_app/assets/favicons/apple-touch-icon.png
  src/core/server/core_app/assets/favicons/favicon-16x16.png
  src/core/server/core_app/assets/favicons/favicon-32x32.png
  src/core/server/core_app/assets/favicons/favicon.ico
  src/core/server/core_app/assets/favicons/manifest.json
  src/core/server/core_app/assets/favicons/mstile-144x144.png
  src/core/server/core_app/assets/favicons/mstile-150x150.png
  src/core/server/core_app/assets/favicons/mstile-310x150.png
  src/core/server/core_app/assets/favicons/mstile-310x310.png
  src/core/server/core_app/assets/favicons/mstile-70x70.png
  src/core/server/core_app/assets/favicons/safari-pinned-tab.svg
  src/core/server/rendering/views/template.tsx
  src/legacy/ui/public/exit_full_screen/__snapshots__/exit_full_screen_button.test.js.snap
  src/plugins/home/public/application/components/__snapshots__/welcome.test.tsx.snap
  src/plugins/home/public/application/components/welcome.tsx
  src/plugins/kibana_react/public/exit_full_screen_button/__snapshots__/exit_full_screen_button.test.tsx.snap
  src/plugins/kibana_react/public/exit_full_screen_button/_exit_full_screen_button.scss
  src/plugins/kibana_react/public/exit_full_screen_button/exit_full_screen_button.tsx
  src/plugins/newsfeed/public/components/__snapshots__/loading_news.test.tsx.snap
  src/plugins/newsfeed/public/components/loading_news.tsx
  test/functional/screenshots/baseline/area_chart.png
  test/functional/screenshots/baseline/tsvb_dashboard.png
  x-pack/plugins/security/public/authentication/login/__snapshots__/login_page.test.tsx.snap
  x-pack/plugins/security/public/authentication/login/login_page.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/apps/security/security.ts
Labels: backport

#67906 Clean up doc title when navigating away from Snapshot Restore.
  x-pack/plugins/snapshot_restore/public/application/mount_management_section.ts
Labels: Feature:Snapshot and Restore, Team:Elasticsearch UI, release_note:fix, v7.8.0, v7.9.0, v8.0.0

#68112 [7.x] Pointing kibana on 7.x to master epr
  x-pack/plugins/ingest_manager/common/constants/epm.ts
Labels: Feature:EPM, Team:Ingest Management, release_note:skip, v7.9.0

#67949 [7.x] [APM][E2E] remove unnecessary video (#67362)
  x-pack/plugins/apm/e2e/.gitignore
Labels: backport

#66298 [Ingest Manager] Remove default namespace toggle
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/config_form.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Ingest Management, release_note:skip, v7.9.0, v8.0.0

#68034 [7.x] [Ingest Manager] Change agent config YAML view to flyout (#67918)
  x-pack/plugins/ingest_manager/common/constants/routes.ts
  x-pack/plugins/ingest_manager/common/services/config_to_yaml.ts
  x-pack/plugins/ingest_manager/common/services/index.ts
  x-pack/plugins/ingest_manager/common/services/routes.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/context_menu_actions.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/components/table_row_actions_nested.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/constants/page_paths.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/hooks/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/hooks/use_request/agent_config.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/actions_menu.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/config_yaml_flyout.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/components/table_row_actions.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/datasources/datasources_table.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/components/yaml/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/details_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/data_stream/list_page/components/data_stream_row_actions.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_details_page/components/actions_menu.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/fleet/agent_list_page/index.tsx
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/services/index.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/types/index.ts
  x-pack/plugins/ingest_manager/server/routes/agent_config/handlers.ts
  x-pack/plugins/ingest_manager/server/routes/agent_config/index.ts
  x-pack/plugins/ingest_manager/server/services/index.ts
  x-pack/plugins/ingest_manager/server/types/rest_spec/agent_config.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#67950 [Ingest Manager] Fix datasource validation for streams without vars
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/create_datasource_page/services/validate_datasource.test.ts
  x-pack/plugins/ingest_manager/public/applications/ingest_manager/sections/agent_config/create_datasource_page/services/validate_datasource.ts
Labels: Team:Ingest Management, bug, release_note:skip, v7.8.0, v7.9.0, v8.0.0

#68134 [7.x] [Ingest Manager] Fix invalidating agent output api key (#68021)
  x-pack/plugins/ingest_manager/server/services/agents/checkin.ts
  x-pack/plugins/ingest_manager/server/services/api_keys/index.ts
  x-pack/test/api_integration/apis/fleet/agent_flow.ts
  x-pack/test/api_integration/apis/fleet/index.js
Labels: backport
