Repository elastic/kibana, pull requests merged in 2021-04, with the labels that each got.

#95999 [7.x] [DOCS] Adds deprecation admonitions (#95847)
  docs/api/actions-and-connectors/legacy/create.asciidoc
  docs/api/actions-and-connectors/legacy/delete.asciidoc
  docs/api/actions-and-connectors/legacy/execute.asciidoc
  docs/api/actions-and-connectors/legacy/get.asciidoc
  docs/api/actions-and-connectors/legacy/get_all.asciidoc
  docs/api/actions-and-connectors/legacy/list.asciidoc
  docs/api/actions-and-connectors/legacy/update.asciidoc
  docs/api/alerting/legacy/create.asciidoc
  docs/api/alerting/legacy/delete.asciidoc
  docs/api/alerting/legacy/disable.asciidoc
  docs/api/alerting/legacy/enable.asciidoc
  docs/api/alerting/legacy/find.asciidoc
  docs/api/alerting/legacy/get.asciidoc
  docs/api/alerting/legacy/health.asciidoc
  docs/api/alerting/legacy/list.asciidoc
  docs/api/alerting/legacy/mute.asciidoc
  docs/api/alerting/legacy/mute_all.asciidoc
  docs/api/alerting/legacy/unmute.asciidoc
  docs/api/alerting/legacy/unmute_all.asciidoc
  docs/api/alerting/legacy/update.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/settings.asciidoc
  docs/user/dashboard/timelion.asciidoc
Labels: backport

#96005 [7.x] [APM] Fix spaces issue for static index patterns (#95799)
  x-pack/plugins/apm/kibana.json
  x-pack/plugins/apm/server/lib/index_pattern/create_static_index_pattern.test.ts
  x-pack/plugins/apm/server/lib/index_pattern/create_static_index_pattern.ts
  x-pack/plugins/apm/server/plugin.ts
  x-pack/plugins/apm/server/routes/index_pattern.ts
  x-pack/plugins/apm/server/routes/typings.ts
Labels: backport

#96006 [7.x] [Fleet] Match telemetry key names to UI agent states (#95567)
  x-pack/plugins/fleet/server/collectors/agent_collectors.ts
  x-pack/plugins/fleet/server/collectors/register.ts
  x-pack/plugins/fleet/server/services/agents/status.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/test/fleet_api_integration/apis/agents/status.ts
Labels: backport

#95126 [Maps] Show empty list when all saved maps in list deleted
  src/plugins/kibana_react/public/table_list_view/table_list_view.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Geo, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#96010 [7.12] [Maps] Show empty list when all saved maps in list deleted (#95126)
  src/plugins/kibana_react/public/table_list_view/table_list_view.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#96009 [7.x] [Maps] Show empty list when all saved maps in list deleted (#95126)
  src/plugins/kibana_react/public/table_list_view/table_list_view.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#96012 [7.x] Index pattern scripted field / runtime field usage collection (#95366)
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpatternsserviceprovider.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpatternsserviceprovider.setup.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpatternsserviceprovider.start.md
  src/plugins/data/server/index_patterns/index_patterns_service.ts
  src/plugins/data/server/index_patterns/register_index_pattern_usage_collection.test.ts
  src/plugins/data/server/index_patterns/register_index_pattern_usage_collection.ts
  src/plugins/data/server/plugin.ts
  src/plugins/data/server/search/search_service.test.ts
  src/plugins/data/server/search/search_service.ts
  src/plugins/data/server/server.api.md
  src/plugins/telemetry/schema/oss_plugins.json
Labels: backport

#96013 [7.x] [kbn/optimizer] import source-map-support in script to avoid breaking jest snapshots (#96011)
  packages/kbn-optimizer/src/cli.ts
  scripts/build_kibana_platform_plugins.js
Labels: backport

#96016 [7.x] [Maps] Make bundle smaller (#95881)
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/apm/public/components/app/RumDashboard/VisitorBreakdownMap/EmbeddedMap.tsx
  x-pack/plugins/apm/public/components/app/RumDashboard/VisitorBreakdownMap/MapToolTip.tsx
  x-pack/plugins/maps/public/classes/tooltips/tooltip_property.ts
  x-pack/plugins/maps/public/embeddable/map_embeddable_factory.ts
  x-pack/plugins/maps/public/index.ts
  x-pack/plugins/maps/public/kibana_services.ts
  x-pack/plugins/maps/public/lazy_load_bundle/lazy/index.ts
  x-pack/plugins/maps/public/maps_vis_type_alias.ts
  x-pack/plugins/maps/public/plugin.ts
  x-pack/plugins/maps/public/url_generator.ts
  x-pack/plugins/security_solution/public/network/components/embeddables/embedded_map_helpers.tsx
  x-pack/plugins/security_solution/public/network/components/embeddables/types.ts
  x-pack/plugins/uptime/public/components/monitor/status_details/location_map/embeddables/embedded_map.tsx
  x-pack/plugins/uptime/public/components/monitor/status_details/location_map/embeddables/map_tool_tip.tsx
Labels: backport

#95651 [ML] Refactor imports using 'elasticsearch' to '@elastic/elasticsearch'. Extend 'isPopulatedOjbect()'.
  x-pack/plugins/ml/common/index.ts
  x-pack/plugins/ml/common/types/es_client.ts
  x-pack/plugins/ml/common/types/feature_importance.ts
  x-pack/plugins/ml/common/util/object_utils.test.ts
  x-pack/plugins/ml/common/util/object_utils.ts
  x-pack/plugins/ml/common/util/runtime_field_utils.test.ts
  x-pack/plugins/ml/common/util/runtime_field_utils.ts
  x-pack/plugins/ml/public/application/components/data_grid/types.ts
  x-pack/plugins/ml/public/application/components/data_grid/use_data_grid.tsx
  x-pack/plugins/ml/public/application/components/scatterplot_matrix/scatterplot_matrix.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/common/get_index_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/hooks/use_index_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/expandable_section/expandable_section_results.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/common/job_creator/util/filter_runtime_mappings.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/datafeed_preview.tsx
  x-pack/plugins/ml/public/application/services/anomaly_explorer_charts_service.ts
  x-pack/plugins/ml/public/application/services/job_service.d.ts
  x-pack/plugins/ml/public/embeddables/types.ts
  x-pack/plugins/ml/public/index.ts
  x-pack/plugins/ml/server/models/data_frame_analytics/validation.ts
  x-pack/plugins/ml/server/models/job_service/new_job/categorization/examples.ts
  x-pack/plugins/ml/server/models/job_service/new_job/categorization/top_categories.ts
  x-pack/plugins/ml/server/models/job_validation/job_validation.test.ts
  x-pack/plugins/ml/server/shared_services/providers/system.ts
  x-pack/plugins/transform/common/api_schemas/type_guards.ts
  x-pack/plugins/transform/common/shared_imports.ts
  x-pack/plugins/transform/common/types/index_pattern.ts
  x-pack/plugins/transform/common/types/transform.ts
  x-pack/plugins/transform/common/types/transform_stats.ts
  x-pack/plugins/transform/common/utils/errors.ts
  x-pack/plugins/transform/common/utils/object_utils.test.ts
  x-pack/plugins/transform/common/utils/object_utils.ts
  x-pack/plugins/transform/public/__mocks__/shared_imports.ts
  x-pack/plugins/transform/public/app/common/pivot_aggs.ts
  x-pack/plugins/transform/public/app/common/pivot_group_by.ts
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/hooks/__mocks__/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/hooks/use_pivot_data.ts
  x-pack/plugins/transform/public/app/lib/authorization/components/common.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/advanced_runtime_mappings_editor/advanced_runtime_mappings_editor.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_create/step_create_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/filter_agg/components/filter_agg_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/filter_agg/components/filter_term_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.test.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.ts
  x-pack/plugins/transform/public/shared_imports.ts
  x-pack/plugins/transform/server/routes/api/transforms_nodes.ts
Labels: :ml, auto-backport, release_note:skip, v7.13.0, v8.0.0

#95980 [Maps] fix fit to data doesn't work in TMS
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/classes/sources/vector_source/vector_source.tsx
Labels: Team:Geo, release_note:fix, v7.13.0, v8.0.0

#95787 Update breaking changes issue template
  .github/ISSUE_TEMPLATE/v8_breaking_change.md
Labels: backport:skip, release_note:skip, v8.0.0

#95846 [Security Solution][Artifacts] Refactor endpoint Artifact manifest processing
  x-pack/plugins/fleet/server/services/artifacts/artifacts.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/common.ts
  x-pack/plugins/security_solution/server/endpoint/routes/artifacts/download_artifact.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/artifacts/download_artifact.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.mock.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: Team:Fleet, Team:Onboarding and Lifecycle Mgt, release_note:skip, v7.13.0, v8.0.0

#95354 [Security Solution][Detections][Threshold Rules] Add `threshold_result` to alert notification context
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_bulk_body.ts
Labels: Feature:Detection Alerts, Team: SecuritySolution, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#96003 [cli-dev-mode] complete state subjects when shutting down
  packages/kbn-cli-dev-mode/src/dev_server.ts
  packages/kbn-cli-dev-mode/src/optimizer.test.ts
  packages/kbn-cli-dev-mode/src/optimizer.ts
  packages/kbn-cli-dev-mode/src/watcher.ts
Labels: Team:Operations, auto-backport, release_note:skip, v7.13.0, v8.0.0

#95989 Ui changes
  docs/discover/search.asciidoc
  src/plugins/timelion/public/directives/timelion_help/timelion_help.html
  x-pack/plugins/translations/translations/ja-JP.json
Labels: Feature:Discover, Feature:Timelion, Team:Docs, Team:KibanaApp, release_note:skip, v7.10.0, v7.11.0, v7.12.0, v7.13.0, v7.6.0, v7.7.0, v7.8.0, v7.9.0

#95983 Bump concaveman to 1.2.0
  yarn.lock
Labels: Feature:CSP, auto-backport, release_note:skip, v7.13.0, v8.0.0

#96042 [7.x] [Maps] fix fit to data doesn't work in TMS (#95980)
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/classes/sources/vector_source/vector_source.tsx
Labels: backport

#95997 [Dashboard] Fix iFrame Filtering Issues
  src/plugins/dashboard/public/application/dashboard_router.tsx
Labels: Feature:Dashboard, Feature:Embedding, Team:Presentation, impact:high, loe:days, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#96035 [Cases][RBAC] Rename scope to owner
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/common/api/cases/sub_case.ts
  x-pack/plugins/cases/common/constants.ts
  x-pack/plugins/cases/server/authorization/authorization.ts
  x-pack/plugins/cases/server/authorization/utils.ts
  x-pack/plugins/cases/server/client/cases/create.test.ts
  x-pack/plugins/cases/server/client/cases/create.ts
  x-pack/plugins/cases/server/client/cases/find.ts
  x-pack/plugins/cases/server/routes/api/cases/post_case.test.ts
  x-pack/plugins/cases/server/saved_object_types/cases.ts
  x-pack/plugins/cases/server/saved_object_types/comments.ts
  x-pack/plugins/cases/server/saved_object_types/configure.ts
  x-pack/plugins/cases/server/saved_object_types/connector_mappings.ts
  x-pack/plugins/cases/server/saved_object_types/migrations.ts
  x-pack/plugins/cases/server/saved_object_types/sub_case.ts
  x-pack/plugins/cases/server/saved_object_types/user_actions.ts
  x-pack/plugins/security/server/authorization/actions/cases.test.ts
  x-pack/plugins/security/server/authorization/actions/cases.ts
  x-pack/plugins/security/server/authorization/privileges/feature_privilege_builder/cases.ts
  x-pack/plugins/security_solution/public/cases/components/create/form_context.tsx
  x-pack/plugins/security_solution/public/cases/components/create/schema.tsx
Labels: Feature:Cases, Feature:Cases-RAC-RBAC, Team: SecuritySolution, Team:Threat Hunting, Theme: rac, v8.0.0

#95966 [Fleet] Correctly parse falsy YAML fields in agent policy integrations
  x-pack/plugins/fleet/server/services/epm/agent/agent.test.ts
  x-pack/plugins/fleet/server/services/epm/agent/agent.ts
Labels: Feature:Fleet, NeededFor:Uptime, Team:Fleet, release_note:fix, v7.13.0, v8.0.0

#95979 [packer] skip docker pull if docker is unavailable or running on ARM
  .ci/packer_cache.sh
Labels: Team:Operations, release_note:skip, v7.13.0, v8.0.0

#96049 [7.x] [cli-dev-mode] complete state subjects when shutting down (#96003)
  packages/kbn-cli-dev-mode/src/dev_server.ts
  packages/kbn-cli-dev-mode/src/optimizer.test.ts
  packages/kbn-cli-dev-mode/src/optimizer.ts
  packages/kbn-cli-dev-mode/src/watcher.ts
Labels: backport

#96052 [7.12] Ui changes (#95989)
  docs/discover/search.asciidoc
  src/plugins/timelion/public/directives/timelion_help/timelion_help.html
  x-pack/plugins/translations/translations/ja-JP.json
Labels: backport

#96051 [7.x] Ui changes (#95989)
  docs/discover/search.asciidoc
  src/plugins/timelion/public/directives/timelion_help/timelion_help.html
  x-pack/plugins/translations/translations/ja-JP.json
Labels: backport

#96057 [7.12] Fixed iframe filtering by not re-creating embed settings on URL change (#95997)
  src/plugins/dashboard/public/application/dashboard_router.tsx
Labels: backport

#96055 [7.x] Bump concaveman to 1.2.0 (#95983)
  yarn.lock
Labels: backport

#96056 [7.x] Fixed iframe filtering by not re-creating embed settings on URL change (#95997)
  src/plugins/dashboard/public/application/dashboard_router.tsx
Labels: backport

#96064 [7.x] [Fleet] Correctly parse falsy YAML fields in agent policy integrations (#95966)
  x-pack/plugins/fleet/server/services/epm/agent/agent.test.ts
  x-pack/plugins/fleet/server/services/epm/agent/agent.ts
Labels: backport

#95743 [APM] Correlations support for progressively loading sections
  x-pack/plugins/apm/public/components/app/correlations/correlations_table.tsx
  x-pack/plugins/apm/public/components/app/correlations/error_correlations.tsx
  x-pack/plugins/apm/public/components/app/correlations/latency_correlations.tsx
  x-pack/plugins/apm/server/lib/correlations/errors/get_correlations_for_failed_transactions.ts
  x-pack/plugins/apm/server/lib/correlations/errors/get_overall_error_timeseries.ts
  x-pack/plugins/apm/server/lib/correlations/get_correlations_for_slow_transactions/get_latency_distribution.ts
  x-pack/plugins/apm/server/lib/correlations/get_filters.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_correlations_for_slow_transactions.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_duration_for_percentile.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_latency_distribution.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_max_latency.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_overall_latency_distribution.ts
  x-pack/plugins/apm/server/lib/helpers/transaction_error_rate.ts
  x-pack/plugins/apm/server/routes/correlations.ts
  x-pack/plugins/apm/server/routes/create_apm_api.ts
  x-pack/test/apm_api_integration/tests/correlations/errors_failed_transactions.ts
  x-pack/test/apm_api_integration/tests/correlations/errors_overall.ts
  x-pack/test/apm_api_integration/tests/correlations/latency_overall.ts
  x-pack/test/apm_api_integration/tests/correlations/latency_slow_transactions.ts
  x-pack/test/apm_api_integration/tests/correlations/slow_transactions.ts
  x-pack/test/apm_api_integration/tests/index.ts
Labels: Team:apm, release_note:skip, v7.13.0

#96004 Fix and unskip functional test
  x-pack/test/functional/apps/security/users.js
Labels: auto-backport, release_note:skip, v7.13.0, v8.0.0

#96047 [7.x] [Security Solution][Artifacts] Refactor endpoint Artifact manifest processing (#95846)
  x-pack/plugins/fleet/server/services/artifacts/artifacts.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/common.ts
  x-pack/plugins/security_solution/server/endpoint/routes/artifacts/download_artifact.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/artifacts/download_artifact.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.mock.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: backport

#96066 chore(NA): stop grouping bazel out symlink folders
  .bazelignore
  .bazelrc.common
  .eslintignore
  .gitignore
  .stylelintignore
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/project.ts
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.13.0, v8.0.0

#96054 [Fleet] Invalidate fleet API keys as internal user
  x-pack/plugins/fleet/server/services/agents/unenroll.ts
  x-pack/plugins/fleet/server/services/api_keys/enrollment_api_key.ts
  x-pack/plugins/fleet/server/services/api_keys/security.ts
  x-pack/plugins/fleet/server/services/fleet_server/saved_object_migrations.ts
Labels: Team:Fleet, auto-backport, release_note:skip, v7.13.0, v8.0.0

#91908 Test Export and Import saved objects between versions
  x-pack/test/functional/apps/saved_objects_management/exports/_7.12_import_saved_objects.ndjson
  x-pack/test/functional/apps/saved_objects_management/import_saved_objects_between_versions.ts
  x-pack/test/functional/apps/saved_objects_management/index.ts
  x-pack/test/functional/es_archives/getting_started/shakespeare/data.json.gz
  x-pack/test/functional/es_archives/getting_started/shakespeare/mappings.json
Labels: Feature:Saved Objects, backport:skip, release_note:skip, test_xpack_functional, v7.12.0, v8.0.0

#95987 [7.x] [Reporting] CSV Export: fix and unskip failing test (#95824)
  x-pack/test/functional/apps/discover/__snapshots__/reporting.snap
  x-pack/test/functional/apps/discover/reporting.ts
  x-pack/test/reporting_api_integration/reporting_and_security/__snapshots__/csv_searchsource_immediate.snap
  x-pack/test/reporting_api_integration/reporting_and_security/csv_searchsource_immediate.ts
Labels: backport

#96071 [Rollups] Update API integration test
  x-pack/test/api_integration/apis/management/rollup/rollup.js
Labels: Feature:Rollups, Team:Elasticsearch UI, failed-es-promotion, release_note:skip, v7.13.0, v8.0.0

#95836 Standardize process fields in Endpoint Security Telemetry
  x-pack/plugins/security_solution/server/lib/telemetry/sender.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
Labels: Team: SecuritySolution, release_note:fix, v7.12.1

#96058 [7.x] [ML] Refactor imports using 'elasticsearch' to '@elastic/elasticsearch'. Extend 'isPopulatedOjbect()'. (#95651)
  x-pack/plugins/ml/common/index.ts
  x-pack/plugins/ml/common/types/es_client.ts
  x-pack/plugins/ml/common/types/feature_importance.ts
  x-pack/plugins/ml/common/util/object_utils.test.ts
  x-pack/plugins/ml/common/util/object_utils.ts
  x-pack/plugins/ml/common/util/runtime_field_utils.test.ts
  x-pack/plugins/ml/common/util/runtime_field_utils.ts
  x-pack/plugins/ml/public/application/components/data_grid/types.ts
  x-pack/plugins/ml/public/application/components/data_grid/use_data_grid.tsx
  x-pack/plugins/ml/public/application/components/scatterplot_matrix/scatterplot_matrix.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/common/get_index_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/hooks/use_index_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/expandable_section/expandable_section_results.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/common/job_creator/util/filter_runtime_mappings.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/common/datafeed_preview_flyout/datafeed_preview.tsx
  x-pack/plugins/ml/public/application/services/anomaly_explorer_charts_service.ts
  x-pack/plugins/ml/public/application/services/job_service.d.ts
  x-pack/plugins/ml/public/embeddables/types.ts
  x-pack/plugins/ml/public/index.ts
  x-pack/plugins/ml/server/models/data_frame_analytics/validation.ts
  x-pack/plugins/ml/server/models/job_service/new_job/categorization/examples.ts
  x-pack/plugins/ml/server/models/job_service/new_job/categorization/top_categories.ts
  x-pack/plugins/ml/server/models/job_validation/job_validation.test.ts
  x-pack/plugins/ml/server/shared_services/providers/system.ts
  x-pack/plugins/transform/common/api_schemas/type_guards.ts
  x-pack/plugins/transform/common/shared_imports.ts
  x-pack/plugins/transform/common/types/index_pattern.ts
  x-pack/plugins/transform/common/types/transform.ts
  x-pack/plugins/transform/common/types/transform_stats.ts
  x-pack/plugins/transform/common/utils/errors.ts
  x-pack/plugins/transform/common/utils/object_utils.test.ts
  x-pack/plugins/transform/common/utils/object_utils.ts
  x-pack/plugins/transform/public/__mocks__/shared_imports.ts
  x-pack/plugins/transform/public/app/common/pivot_aggs.ts
  x-pack/plugins/transform/public/app/common/pivot_group_by.ts
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/hooks/__mocks__/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/hooks/use_pivot_data.ts
  x-pack/plugins/transform/public/app/lib/authorization/components/common.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/advanced_runtime_mappings_editor/advanced_runtime_mappings_editor.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_create/step_create_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/filter_agg/components/filter_agg_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/filter_agg/components/filter_term_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.test.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.ts
  x-pack/plugins/transform/public/shared_imports.ts
  x-pack/plugins/transform/server/routes/api/transforms_nodes.ts
Labels: :ml, backport

#96075 [7.x] [APM] Correlations support for progressively loading sections (#95743)
  x-pack/plugins/apm/public/components/app/correlations/correlations_table.tsx
  x-pack/plugins/apm/public/components/app/correlations/error_correlations.tsx
  x-pack/plugins/apm/public/components/app/correlations/latency_correlations.tsx
  x-pack/plugins/apm/server/lib/correlations/errors/get_correlations_for_failed_transactions.ts
  x-pack/plugins/apm/server/lib/correlations/errors/get_overall_error_timeseries.ts
  x-pack/plugins/apm/server/lib/correlations/get_correlations_for_slow_transactions/get_latency_distribution.ts
  x-pack/plugins/apm/server/lib/correlations/get_filters.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_correlations_for_slow_transactions.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_duration_for_percentile.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_latency_distribution.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_max_latency.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_overall_latency_distribution.ts
  x-pack/plugins/apm/server/lib/helpers/transaction_error_rate.ts
  x-pack/plugins/apm/server/routes/correlations.ts
  x-pack/plugins/apm/server/routes/create_apm_api.ts
  x-pack/test/apm_api_integration/tests/correlations/errors_failed_transactions.ts
  x-pack/test/apm_api_integration/tests/correlations/errors_overall.ts
  x-pack/test/apm_api_integration/tests/correlations/latency_overall.ts
  x-pack/test/apm_api_integration/tests/correlations/latency_slow_transactions.ts
  x-pack/test/apm_api_integration/tests/correlations/slow_transactions.ts
  x-pack/test/apm_api_integration/tests/index.ts
Labels: backport

#95837 Adds ingest pipeline links to documentation link service
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
Labels: Team:Core, release_note:skip, v7.13.0, v8.0.0

#96085 [7.x] chore(NA): stop grouping bazel out symlink folders (#96066)
  .bazelignore
  .bazelrc.common
  .eslintignore
  .gitignore
  .stylelintignore
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/project.ts
Labels: backport

#96088 [7.x] [Fleet] Fleet server invalidate api keys for agent < 7.13 (#95789)
  x-pack/plugins/fleet/server/services/fleet_server/saved_object_migrations.ts
Labels: backport

#94665 chore(NA): moving @elastic/datemath into bazel
  .bazelrc.common
  BUILD.bazel
  package.json
  packages/BUILD.bazel
  packages/elastic-datemath/.npmignore
  packages/elastic-datemath/BUILD.bazel
  packages/elastic-datemath/package.json
  packages/elastic-datemath/tsconfig.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/production/build_bazel_production_projects.ts
  packages/kbn-pm/src/utils/__snapshots__/link_project_executables.test.ts.snap
  packages/kbn-pm/src/utils/bazel/ensure_yarn_integrity_exists.ts
  packages/kbn-pm/src/utils/bazel/index.ts
  packages/kbn-pm/src/utils/bazel/yarn_integrity.ts
  packages/kbn-pm/src/utils/fs.ts
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/project.ts
  packages/kbn-test/jest-preset.js
  packages/kbn-test/src/jest/setup/preserve_symlinks_resolver.js
  x-pack/package.json
  x-pack/scripts/jest.js
  yarn.lock
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.13.0, v8.0.0

#96092 [7.12] Standardize process fields in Endpoint Security Telemetry (#95836)
  x-pack/plugins/security_solution/server/lib/telemetry/sender.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
Labels: backport

#96090 [App Search] Update instances of EuiPanel/EuiPageContent to bordered or filled panels
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/views/analytics.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/views/query_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/credentials/credentials.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/credentials/credentials_flyout/form_components/key_engine_access.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/credentials/credentials_flyout/form_components/key_read_write_access.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_creation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/data_panel/data_panel.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/data_panel/data_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/api_code_example.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/document_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_creation/engine_creation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_overview/components/recent_api_logs.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_overview/components/total_charts.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/components/empty_state.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/components/loading_state.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/engines_overview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/error_connecting/error_connecting.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/library/library.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/meta_engine_creation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/boost_item_content.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boosts.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_preview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/role_mappings/role_mapping.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/role_mappings/role_mappings.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/sample_engine_creation_cta/sample_engine_creation_cta.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/settings/settings.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/not_found/not_found.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/attribute_selector.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/attribute_selector.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/role_mappings/role_mapping.tsx
Labels: auto-backport, release_note:skip, v7.13.0

#96091 [7.x] Standardize process fields in Endpoint Security Telemetry (#95836)
  x-pack/plugins/security_solution/server/lib/telemetry/sender.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
Labels: backport

#96045 Remove unneeded articles from button labels
  x-pack/plugins/index_management/public/application/components/component_templates/component_template_list/table.tsx
  x-pack/plugins/ingest_pipelines/public/application/sections/pipelines_list/table.tsx
  x-pack/plugins/snapshot_restore/public/application/sections/home/policy_list/policy_table/policy_table.tsx
  x-pack/plugins/snapshot_restore/public/application/sections/home/repository_list/repository_table/repository_table.tsx
Labels: Feature:Index Management, Feature:Ingest Node Pipelines, Feature:Snapshot and Restore, release_note:skip, v7.13.0, v8.0.0

#96104 [7.x] [App Search] Update instances of EuiPanel/EuiPageContent to bordered or filled panels (#96090)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/views/analytics.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/views/query_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/credentials/credentials.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/credentials/credentials_flyout/form_components/key_engine_access.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/credentials/credentials_flyout/form_components/key_read_write_access.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_creation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/data_panel/data_panel.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/data_panel/data_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/api_code_example.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/document_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_creation/engine_creation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_overview/components/recent_api_logs.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_overview/components/total_charts.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/components/empty_state.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/components/loading_state.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/engines_overview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/error_connecting/error_connecting.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/library/library.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/meta_engine_creation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/boost_item_content.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boosts.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_preview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/role_mappings/role_mapping.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/role_mappings/role_mappings.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/sample_engine_creation_cta/sample_engine_creation_cta.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/settings/settings.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/not_found/not_found.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/attribute_selector.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/attribute_selector.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/role_mappings/role_mapping.tsx
Labels: backport

#96105 [7.x] chore(NA): moving @elastic/datemath into bazel (#94665)
  .bazelrc.common
  BUILD.bazel
  package.json
  packages/BUILD.bazel
  packages/elastic-datemath/.npmignore
  packages/elastic-datemath/BUILD.bazel
  packages/elastic-datemath/package.json
  packages/elastic-datemath/tsconfig.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/cli.ts
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/production/build_bazel_production_projects.ts
  packages/kbn-pm/src/utils/__snapshots__/link_project_executables.test.ts.snap
  packages/kbn-pm/src/utils/bazel/ensure_yarn_integrity_exists.ts
  packages/kbn-pm/src/utils/bazel/index.ts
  packages/kbn-pm/src/utils/bazel/yarn_integrity.ts
  packages/kbn-pm/src/utils/fs.ts
  packages/kbn-pm/src/utils/package_json.ts
  packages/kbn-pm/src/utils/project.ts
  packages/kbn-test/jest-preset.js
  packages/kbn-test/src/jest/setup/preserve_symlinks_resolver.js
  x-pack/package.json
  x-pack/scripts/jest.js
  yarn.lock
Labels: backport

#96108 [7.x] Remove unneeded articles from button text (#96045)
  x-pack/plugins/index_management/public/application/components/component_templates/component_template_list/table.tsx
  x-pack/plugins/ingest_pipelines/public/application/sections/pipelines_list/table.tsx
  x-pack/plugins/snapshot_restore/public/application/sections/home/policy_list/policy_table/policy_table.tsx
  x-pack/plugins/snapshot_restore/public/application/sections/home/repository_list/repository_table/repository_table.tsx
Labels: backport

#96076 [7.x] Fix and unskip functional test (#96004)
  x-pack/test/functional/apps/security/users.js
Labels: backport

#95305 migrations v2: Retry tasks that timeout
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.mock.ts
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.test.ts
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.ts
  src/core/server/saved_objects/migrationsv2/actions/index.ts
  src/core/server/saved_objects/migrationsv2/index.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrationsv2/migrations_state_action_machine.test.ts
  src/core/server/saved_objects/migrationsv2/model.test.ts
  src/core/server/saved_objects/migrationsv2/model.ts
  src/core/server/saved_objects/migrationsv2/state_action_machine.test.ts
  src/core/server/saved_objects/migrationsv2/state_action_machine.ts
  src/core/server/saved_objects/migrationsv2/types.ts
  src/core/server/saved_objects/saved_objects_config.ts
  src/core/server/saved_objects/saved_objects_service.ts
  src/core/server/saved_objects/service/lib/repository.ts
Labels: Team:Core, auto-backport, bug, project:ResilientSavedObjectMigrations, release_note:fix, v7.12.1

#96118 [7.12] migrations v2: Retry tasks that timeout (#95305)
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.mock.ts
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.test.ts
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.ts
  src/core/server/saved_objects/migrationsv2/actions/index.ts
  src/core/server/saved_objects/migrationsv2/index.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrationsv2/migrations_state_action_machine.test.ts
  src/core/server/saved_objects/migrationsv2/model.test.ts
  src/core/server/saved_objects/migrationsv2/model.ts
  src/core/server/saved_objects/migrationsv2/state_action_machine.test.ts
  src/core/server/saved_objects/migrationsv2/state_action_machine.ts
  src/core/server/saved_objects/migrationsv2/types.ts
  src/core/server/saved_objects/saved_objects_config.ts
  src/core/server/saved_objects/saved_objects_service.ts
  src/core/server/saved_objects/service/lib/repository.ts
Labels: backport

#95296 [TSVB] Enables url drilldowns for range selection
  src/plugins/vis_type_timeseries/common/types.ts
  src/plugins/vis_type_timeseries/public/application/components/lib/convert_series_to_datatable.test.ts
  src/plugins/vis_type_timeseries/public/application/components/lib/convert_series_to_datatable.ts
  src/plugins/vis_type_timeseries/public/application/components/timeseries_visualization.tsx
  src/plugins/vis_type_timeseries/public/application/components/vis_types/index.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/constants/chart.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/constants/icons.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/constants/index.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/index.js
  src/plugins/vis_type_timeseries/public/metrics_type.ts
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.test.js
Labels: Feature:TSVB, Team:KibanaApp, release_note:feature, v7.13.0, v8.0.0

#96099 [SECURITY SOLUTIONS][Timeline] correlation bug
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/actions.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/containers/index.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/defaults.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/helpers.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.ts
Labels: Team:Threat Hunting, bug, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#96070 [Enterprise Search] Fix eslint import rule not ordering sibling mocks with parent mocks
  .eslintrc.js
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/search_experience_content.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/role_mappings_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/group_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/groups_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/onboarding_steps.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/organization_stats.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/overview_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/recent_activity.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/onboarding_steps.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/organization_stats.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/overview_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/recent_activity.test.tsx
Labels: auto-backport, release_note:skip, technical debt, v7.13.0

#95734 [ML] Data Frame Analytics: adds support for runtime fields
  x-pack/plugins/ml/common/types/data_frame_analytics.ts
  x-pack/plugins/ml/common/types/fields.ts
  x-pack/plugins/ml/public/application/components/data_grid/common.ts
  x-pack/plugins/ml/public/application/components/data_grid/index.ts
  x-pack/plugins/ml/public/application/components/scatterplot_matrix/scatterplot_matrix.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/configuration_step/configuration_step.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/configuration_step/configuration_step_form.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/configuration_step/form_options_validation.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/runtime_mappings/index.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/runtime_mappings/runtime_mappings.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/runtime_mappings/runtime_mappings_editor.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/hooks/use_index_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/page.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/action_clone/clone_action_name.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
  x-pack/plugins/ml/public/application/datavisualizer/index_based/data_loader/data_loader.ts
  x-pack/plugins/ml/server/routes/schemas/data_analytics_schema.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, Feature:Data Frame Analytics, release_note:enhancement, v7.13.0, v8.0.0

#95724 Fix autocomplete telemetry
  src/plugins/data/public/ui/query_string_input/query_string_input.tsx
Labels: Feature:Telemetry, Team:AppServices, release_note:skip, review, v7.12.1, v7.13.0, v8.0.0

#96130 [7.x] [Enterprise Search] Fix eslint import rule not ordering sibling mocks with parent mocks (#96070)
  .eslintrc.js
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/search_experience_content.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/role_mappings_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/group_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/groups_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/onboarding_steps.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/organization_stats.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/overview_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/recent_activity.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/onboarding_steps.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/organization_stats.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/overview_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview_mvp/recent_activity.test.tsx
Labels: backport

#95511 [Cases] RBAC: Create & Find integration tests
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/common/api/runtime_types.ts
  x-pack/plugins/cases/common/constants.ts
  x-pack/plugins/cases/server/authorization/mock.ts
  x-pack/plugins/cases/server/client/cases/create.ts
  x-pack/plugins/cases/server/client/cases/find.ts
  x-pack/plugins/cases/server/client/cases/update.ts
  x-pack/plugins/cases/server/client/client.ts
  x-pack/plugins/cases/server/client/comments/add.ts
  x-pack/plugins/cases/server/client/index.test.ts
  x-pack/plugins/cases/server/client/types.ts
  x-pack/plugins/cases/server/common/utils.test.ts
  x-pack/plugins/cases/server/connectors/case/index.test.ts
  x-pack/plugins/cases/server/routes/api/__fixtures__/mock_saved_objects.ts
  x-pack/plugins/cases/server/routes/api/__mocks__/request_responses.ts
  x-pack/plugins/cases/server/routes/api/cases/comments/find_comments.ts
  x-pack/plugins/cases/server/routes/api/cases/find_cases.ts
  x-pack/plugins/cases/server/routes/api/cases/helpers.ts
  x-pack/plugins/cases/server/routes/api/cases/sub_case/patch_sub_cases.ts
  x-pack/plugins/cases/server/services/index.ts
  x-pack/plugins/security/server/authorization/privileges/feature_privilege_builder/index.ts
  x-pack/plugins/security_solution/public/cases/components/create/mock.ts
  x-pack/plugins/security_solution/public/cases/containers/api.test.tsx
  x-pack/plugins/security_solution/public/cases/containers/mock.ts
  x-pack/plugins/security_solution/public/cases/containers/use_post_case.test.tsx
  x-pack/scripts/functional_tests.js
  x-pack/test/case_api_integration/common/config.ts
  x-pack/test/case_api_integration/common/fixtures/plugins/observability/kibana.json
  x-pack/test/case_api_integration/common/fixtures/plugins/observability/package.json
  x-pack/test/case_api_integration/common/fixtures/plugins/observability/server/index.ts
  x-pack/test/case_api_integration/common/fixtures/plugins/observability/server/plugin.ts
  x-pack/test/case_api_integration/common/fixtures/plugins/security_solution/kibana.json
  x-pack/test/case_api_integration/common/fixtures/plugins/security_solution/package.json
  x-pack/test/case_api_integration/common/fixtures/plugins/security_solution/server/index.ts
  x-pack/test/case_api_integration/common/fixtures/plugins/security_solution/server/plugin.ts
  x-pack/test/case_api_integration/common/lib/authentication/roles.ts
  x-pack/test/case_api_integration/common/lib/authentication/users.ts
  x-pack/test/case_api_integration/common/lib/mock.ts
  x-pack/test/case_api_integration/common/lib/utils.ts
  x-pack/test/case_api_integration/security_and_spaces/tests/common/cases/find_cases.ts
  x-pack/test/case_api_integration/security_and_spaces/tests/common/cases/post_case.ts
  x-pack/test/case_api_integration/security_and_spaces/tests/common/cases/sub_cases/find_sub_cases.ts
Labels: Feature:Cases, Feature:Cases-RAC-RBAC, Team: SecuritySolution, Team:Threat Hunting, release_note:skip, v8.0.0

#96138 [7.12] [SECURITY SOLUTIONS][Timeline] correlation bug (#96099)
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/actions.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/containers/index.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/defaults.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/helpers.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.ts
Labels: backport

#96140 [Workplace Search] Fix broken reauthenticate URLs and fix spelling
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/source_row/source_row.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/reauthenticate.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/reauthenticate.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/sources_router.tsx
Labels: Feature:Plugins, auto-backport, release_note:skip, v7.13.0

#95981 [Enterprise Search] Add toasts support to FlashMessages component
  x-pack/plugins/enterprise_search/public/applications/__mocks__/flash_messages_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/api_logs_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/api_logs_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages_logic.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/set_message_helpers.test.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/set_message_helpers.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/groups.test.tsx
Labels: Feature:Plugins, auto-backport, release_note:skip, v7.13.0

#96143 [7.x] [ML] Data Frame Analytics: adds support for runtime fields (#95734)
  x-pack/plugins/ml/common/types/data_frame_analytics.ts
  x-pack/plugins/ml/common/types/fields.ts
  x-pack/plugins/ml/public/application/components/data_grid/common.ts
  x-pack/plugins/ml/public/application/components/data_grid/index.ts
  x-pack/plugins/ml/public/application/components/scatterplot_matrix/scatterplot_matrix.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/configuration_step/configuration_step.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/configuration_step/configuration_step_form.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/configuration_step/form_options_validation.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/runtime_mappings/index.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/runtime_mappings/runtime_mappings.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/runtime_mappings/runtime_mappings_editor.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/hooks/use_index_data.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/page.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/action_clone/clone_action_name.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/reducer.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/hooks/use_create_analytics_form/state.ts
  x-pack/plugins/ml/public/application/datavisualizer/index_based/data_loader/data_loader.ts
  x-pack/plugins/ml/server/routes/schemas/data_analytics_schema.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, Feature:Data Frame Analytics, backport

#96132 [App Search] Move `tr`s to be under `tbody` in Result Settings
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/column_headers.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/column_headers.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/disabled_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/disabled_fields_header.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/non_text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/non_text_fields_header.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/result_settings_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/text_fields_header.tsx
Labels: auto-backport, release_note:skip, v7.13.0

#96153 [7.x] [Workplace Search] Fix broken reauthenticate URLs and fix spelling (#96140)
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/source_row/source_row.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/reauthenticate.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/reauthenticate.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/sources_router.tsx
Labels: backport

#96155 [7.x] [Enterprise Search] Add toasts support to FlashMessages component (#95981)
  x-pack/plugins/enterprise_search/public/applications/__mocks__/flash_messages_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/api_logs_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/api_logs_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/flash_messages_logic.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/set_message_helpers.test.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/set_message_helpers.ts
  x-pack/plugins/enterprise_search/public/applications/shared/flash_messages/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/groups.test.tsx
Labels: backport

#96156 [7.x] Move `tr`s to be under `tbody` in ResultSettings (#96132)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/column_headers.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/column_headers.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/disabled_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/disabled_fields_header.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/non_text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/non_text_fields_header.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/result_settings_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/text_fields_header.tsx
Labels: backport

#96157 [DOCS] Fix docker run code snippet
  docs/setup/docker.asciidoc
Labels: Team:Docs, release_note:skip, v7.10.3, v7.11.3, v7.12.1, v7.13.0, v7.2.3, v7.3.3, v7.4.3, v7.5.2, v7.6.3, v7.7.2, v7.8.2, v7.9.4, v8.0.0

#96164 [7.x] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96165 [7.12] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96166 [7.11] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96168 [7.9] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96169 [7.8] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96170 [7.7] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96171 [7.6] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96167 [7.10] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96159 [App Search] API logs: remove incorrect error toast on successful poll
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/api_logs_logic.ts
Labels: auto-backport, bug, release_note:skip, v7.13.0

#96081 [docker] Consistent timestamps across builds
  src/dev/build/tasks/os_packages/create_os_package_tasks.ts
  src/dev/build/tasks/os_packages/docker_generator/run.ts
Labels: Team:Operations, auto-backport, release_note:skip, v7.12.1, v7.13.0, v8.0.0

#96173 [7.5] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96174 [7.4] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96175 [7.3] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96179 [7.x] Remove incorrect error toast on successful poll (#96159)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/api_logs/api_logs_logic.ts
Labels: backport

#96176 [7.2] [DOCS] Fix docker run code snippet (#96157)
  docs/setup/docker.asciidoc
Labels: backport

#96183 [7.x] [docker] Consistent timestamps across builds (#96081)
  src/dev/build/tasks/os_packages/create_os_package_tasks.ts
  src/dev/build/tasks/os_packages/docker_generator/run.ts
Labels: backport

#96048 Replace lodash templates with static react renderer for field formatters
  src/plugins/data/common/field_formats/converters/color.test.ts
  src/plugins/data/common/field_formats/converters/color.tsx
  src/plugins/data/common/field_formats/converters/source.test.ts
  src/plugins/data/common/field_formats/converters/source.tsx
Labels: Feature:CSP, auto-backport, release_note:skip, v7.13.0, v8.0.0

#96182 [7.12] [docker] Consistent timestamps across builds (#96081)
  src/dev/build/tasks/os_packages/create_os_package_tasks.ts
  src/dev/build/tasks/os_packages/docker_generator/run.ts
Labels: backport

#96188 [7.x] Replace lodash templates with static react renderer for field formatters (#96048)
  src/plugins/data/common/field_formats/converters/color.test.ts
  src/plugins/data/common/field_formats/converters/color.tsx
  src/plugins/data/common/field_formats/converters/source.test.ts
  src/plugins/data/common/field_formats/converters/source.tsx
Labels: backport

#95360 [7.x] Revert "use index patterns and search services for autocomplete (#92861)" (#95335)
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.searchrequesthandlercontext.md
  src/plugins/data/server/autocomplete/routes.ts
  src/plugins/data/server/autocomplete/value_suggestions_route.ts
  src/plugins/data/server/index.ts
  src/plugins/data/server/index_patterns/index.ts
  src/plugins/data/server/index_patterns/index_patterns_service.ts
  src/plugins/data/server/mocks.ts
  src/plugins/data/server/search/routes/msearch.ts
  src/plugins/data/server/search/routes/search.ts
  src/plugins/data/server/search/search_service.ts
  src/plugins/data/server/search/types.ts
  src/plugins/data/server/server.api.md
  src/plugins/data/server/types.ts
  x-pack/plugins/infra/server/types.ts
Labels: backport

#96195 stop wrapping steps in runbld
  vars/runbld.groovy
Labels: Team:Operations, release_note:skip, v7.13.0, v8.0.0

#96197 stop wrapping steps in runbld (#96195)
  vars/runbld.groovy
Labels: backport

#96198 pass script to bash to support scripts which aren't actually executable
  vars/runbld.groovy
Labels: Team:Operations, auto-backport, release_note:skip, v7.13.0, v8.0.0

#96200 [7.x] pass script to bash to support scripts which aren't actually executable (#96198)
  vars/runbld.groovy
Labels: backport

#96128 [7.x] [TSVB] Enables url drilldowns for range selection (#95296)
  src/plugins/vis_type_timeseries/common/types.ts
  src/plugins/vis_type_timeseries/public/application/components/lib/convert_series_to_datatable.test.ts
  src/plugins/vis_type_timeseries/public/application/components/lib/convert_series_to_datatable.ts
  src/plugins/vis_type_timeseries/public/application/components/timeseries_visualization.tsx
  src/plugins/vis_type_timeseries/public/application/components/vis_types/index.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/constants/chart.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/constants/icons.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/constants/index.ts
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/index.js
  src/plugins/vis_type_timeseries/public/metrics_type.ts
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/get_splits.test.js
Labels: backport

#96123 [Search Sessions] fix updating deleting sessions from non-default space
  x-pack/plugins/data_enhanced/server/search/session/check_running_sessions.test.ts
  x-pack/plugins/data_enhanced/server/search/session/check_running_sessions.ts
  x-pack/test/api_integration/apis/search/session.ts
Labels: Feature:Search, Team:AppServices, auto-backport, bug, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#96204 [TSVB] Fixes wrong field list on overriding index pattern for series
  src/plugins/vis_type_timeseries/public/application/components/aggs/agg.tsx
  src/plugins/vis_type_timeseries/public/application/components/aggs/filter_ratio.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/percentile.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/positive_rate.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/std_agg.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/std_deviation.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/top_hit.js
  src/plugins/vis_type_timeseries/public/application/components/series_config.js
  src/plugins/vis_type_timeseries/public/application/components/split.js
  src/plugins/vis_type_timeseries/public/application/components/vis_types/timeseries/config.js
Labels: Feature:TSVB, Team:KibanaApp, release_note:fix, v7.13.0, v8.0.0

#96190 [KQL] Fixed styles of KQL textarea for the K8 theme
  src/plugins/data/public/ui/filter_bar/filter_editor/index.tsx
  src/plugins/data/public/ui/filter_bar/filter_options.tsx
  src/plugins/data/public/ui/query_string_input/_query_bar.scss
  src/plugins/data/public/ui/query_string_input/language_switcher.tsx
  src/plugins/data/public/ui/saved_query_management/saved_query_management_component.tsx
Labels: Feature:KQL, release_note:skip, v7.13.0

#96210 [7.x] [Search Sessions] fix updating deleting sessions from non-default space (#96123)
  x-pack/plugins/data_enhanced/server/search/session/check_running_sessions.test.ts
  x-pack/plugins/data_enhanced/server/search/session/check_running_sessions.ts
  x-pack/test/api_integration/apis/search/session.ts
Labels: backport

#96211 [7.12] [Search Sessions] fix updating deleting sessions from non-default space (#96123)
  x-pack/plugins/data_enhanced/server/search/session/check_running_sessions.test.ts
  x-pack/plugins/data_enhanced/server/search/session/check_running_sessions.ts
  x-pack/test/api_integration/apis/search/session.ts
Labels: backport

#95991 [OBS]home page is showing incorrect value of APM throughput (tpm)
  x-pack/plugins/apm/public/services/rest/apm_observability_overview_fetchers.test.ts
  x-pack/plugins/apm/public/services/rest/apm_observability_overview_fetchers.ts
  x-pack/plugins/apm/server/lib/observability_overview/get_transaction_coordinates.ts
  x-pack/plugins/apm/server/lib/observability_overview/get_transactions_per_minute.ts
  x-pack/plugins/apm/server/routes/observability_overview.ts
  x-pack/plugins/observability/public/components/app/section/apm/index.test.tsx
  x-pack/plugins/observability/public/components/app/section/apm/index.tsx
  x-pack/plugins/observability/public/typings/fetch_overview_data/index.ts
  x-pack/test/apm_api_integration/tests/observability_overview/observability_overview.ts
Labels: Feature:Observability Landing, Team:apm, auto-backport, release_note:fix, v7.13.0

#96100 [Workplace Search] Add sub nav and fix rendering bugs in Personal dashboard
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/source_sub_nav.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/private_sources_layout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/private_sources_layout.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/source_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/source_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/sources.scss
  x-pack/plugins/enterprise_search/server/routes/workplace_search/sources.ts
Labels: Feature:Plugins, auto-backport, release_note:skip, v7.13.0

#95984 [Enterprise Search] Expose core.chrome.setIsVisible for use in Workplace Search
  x-pack/plugins/enterprise_search/public/applications/__mocks__/kibana_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/kibana/kibana_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/index.tsx
  x-pack/plugins/enterprise_search/public/plugin.ts
Labels: Feature:Plugins, auto-backport, release_note:skip, v7.13.0

#96137 [7.x] [SECURITY SOLUTIONS][Timeline] correlation bug (#96099)
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/actions.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/containers/index.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/defaults.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/helpers.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.ts
Labels: backport

#95945 Use plugin version in its publicPath
  src/core/server/core_app/bundle_routes/register_bundle_routes.test.ts
  src/core/server/core_app/bundle_routes/register_bundle_routes.ts
  src/core/server/legacy/legacy_service.test.ts
  src/core/server/plugins/plugins_service.test.ts
  src/core/server/plugins/plugins_service.ts
  src/core/server/plugins/plugins_system.ts
  src/core/server/plugins/types.ts
  src/core/server/rendering/bootstrap/get_plugin_bundle_paths.test.ts
  src/core/server/rendering/bootstrap/get_plugin_bundle_paths.ts
  src/core/server/server.api.md
Labels: Team:Core, release_note:skip, v7.13.0

#96093 [Maps] Enable all zoom levels for all users
  .github/CODEOWNERS
  docs/developer/plugin-list.asciidoc
  packages/kbn-optimizer/limits.yml
  src/plugins/maps_ems/public/service_settings/service_settings.test.js
  src/plugins/maps_ems/public/service_settings/service_settings.ts
  src/plugins/maps_ems/public/service_settings/service_settings_types.ts
  src/plugins/maps_legacy/kibana.json
  src/plugins/maps_legacy/public/map/base_maps_visualization.js
  src/plugins/maps_legacy/public/map/kibana_map.js
  src/plugins/maps_legacy/public/map/map_messages.js
  test/functional/apps/visualize/_tile_map.ts
  tsconfig.json
  tsconfig.refs.json
  x-pack/plugins/maps_legacy_licensing/README.md
  x-pack/plugins/maps_legacy_licensing/kibana.json
  x-pack/plugins/maps_legacy_licensing/public/index.ts
  x-pack/plugins/maps_legacy_licensing/public/plugin.ts
  x-pack/plugins/maps_legacy_licensing/tsconfig.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Geo, release_note:enhancement, v7.13.0, v8.0.0

#96220 [7.x] [Workplace Search] Add sub nav and fix rendering bugs in Personal dashboard (#96100)
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/source_sub_nav.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/private_sources_layout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/private_sources_layout.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/source_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/source_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/sources.scss
  x-pack/plugins/enterprise_search/server/routes/workplace_search/sources.ts
Labels: backport

#96221 [7.x] [Enterprise Search] Expose core.chrome.setIsVisible for use in Workplace Search (#95984)
  x-pack/plugins/enterprise_search/public/applications/__mocks__/kibana_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/kibana/kibana_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/index.tsx
  x-pack/plugins/enterprise_search/public/plugin.ts
Labels: backport

#96213 [7.x] [KQL] Fixed styles of KQL textarea for the K8 theme (#96190)
  src/plugins/data/public/ui/filter_bar/filter_editor/index.tsx
  src/plugins/data/public/ui/filter_bar/filter_options.tsx
  src/plugins/data/public/ui/query_string_input/_query_bar.scss
  src/plugins/data/public/ui/query_string_input/language_switcher.tsx
  src/plugins/data/public/ui/saved_query_management/saved_query_management_component.tsx
Labels: backport

#96098 [RAC][Alert Triage][TGrid] Update the Alerts Table (TGrid) API to implement `renderCellValue`
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.test.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/stateful_cell.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/stateful_cell.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/stateful_event.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/get_row_renderer.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/index.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/cell_rendering/default_cell_renderer.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/cell_rendering/default_cell_renderer.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/cell_rendering/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/eql_tab_content/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/eql_tab_content/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/eql_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/pinned_tab_content/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/pinned_tab_content/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/pinned_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/tabs_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic_local_storage.test.tsx
Labels: Feature:Detection Alerts, Feature:RAC, Feature:Timeline, Team: SecuritySolution, Team:Threat Hunting, Theme: rac, release_note:skip, v7.13.0, v8.0.0

#94873 [Maps] Safe-erase text-field
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_text_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_text_property.ts
  x-pack/plugins/maps/public/classes/styles/vector/properties/static_text_property.test.ts
  x-pack/plugins/maps/public/classes/styles/vector/properties/static_text_property.ts
Labels: Team:Geo, auto-backport, release_note:fix, v7.13.0, v8.0.0

#95971 [App Search] Added Sample Response section to Result Settings
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/non_text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/types.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/result_settings.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/result_settings.ts
Labels: auto-backport, release_note:skip, v7.13.0

#96222 [7.x] Update dependency @elastic/charts to v26.1.0 (#95582)
  package.json
  yarn.lock
Labels: backport

#96224 [7.x] Use plugin version in its publicPath (#95945)
  src/core/server/core_app/bundle_routes/register_bundle_routes.test.ts
  src/core/server/core_app/bundle_routes/register_bundle_routes.ts
  src/core/server/legacy/legacy_service.test.ts
  src/core/server/plugins/plugins_service.test.ts
  src/core/server/plugins/plugins_service.ts
  src/core/server/plugins/plugins_system.ts
  src/core/server/plugins/types.ts
  src/core/server/rendering/bootstrap/get_plugin_bundle_paths.test.ts
  src/core/server/rendering/bootstrap/get_plugin_bundle_paths.ts
  src/core/server/server.api.md
Labels: backport

#96228 [7.x] [Maps] Enable all zoom levels for all users (#96093)
  docs/developer/plugin-list.asciidoc
  packages/kbn-optimizer/limits.yml
  src/plugins/maps_ems/public/service_settings/service_settings.test.js
  src/plugins/maps_ems/public/service_settings/service_settings.ts
  src/plugins/maps_ems/public/service_settings/service_settings_types.ts
  src/plugins/maps_legacy/kibana.json
  src/plugins/maps_legacy/public/map/base_maps_visualization.js
  src/plugins/maps_legacy/public/map/kibana_map.js
  src/plugins/maps_legacy/public/map/map_messages.js
  test/functional/apps/visualize/_tile_map.ts
  tsconfig.json
  tsconfig.refs.json
  x-pack/plugins/maps_legacy_licensing/README.md
  x-pack/plugins/maps_legacy_licensing/kibana.json
  x-pack/plugins/maps_legacy_licensing/public/index.ts
  x-pack/plugins/maps_legacy_licensing/public/plugin.ts
  x-pack/plugins/maps_legacy_licensing/tsconfig.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#96217 [7.x] [OBS]home page is showing incorrect value of APM throughput (tpm) (#95991)
  x-pack/plugins/apm/public/services/rest/apm_observability_overview_fetchers.test.ts
  x-pack/plugins/apm/public/services/rest/apm_observability_overview_fetchers.ts
  x-pack/plugins/apm/server/lib/observability_overview/get_transaction_coordinates.ts
  x-pack/plugins/apm/server/lib/observability_overview/get_transactions_per_minute.ts
  x-pack/plugins/apm/server/routes/observability_overview.ts
  x-pack/plugins/observability/public/components/app/section/apm/index.test.tsx
  x-pack/plugins/observability/public/components/app/section/apm/index.tsx
  x-pack/plugins/observability/public/typings/fetch_overview_data/index.ts
  x-pack/test/apm_api_integration/tests/observability_overview/observability_overview.ts
Labels: backport

#96219 [7.12] Fix autocomplete telemetry (#95724)
  src/plugins/data/public/ui/query_string_input/query_string_input.tsx
Labels: backport

#95883 [file upload] document file upload privileges and provide actionable UI when failures occur
  docs/maps/import-geospatial-data.asciidoc
  src/core/public/doc_links/doc_links_service.ts
  x-pack/plugins/file_upload/common/types.ts
  x-pack/plugins/file_upload/public/components/import_complete_view.tsx
  x-pack/plugins/file_upload/public/components/json_upload_and_parse.tsx
  x-pack/plugins/file_upload/public/kibana_services.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Docs, Team:Geo, release_note:fix, v7.13.0, v8.0.0

#96232 [7.x] [Maps] Safe-erase text-field (#94873)
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_text_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_text_property.ts
  x-pack/plugins/maps/public/classes/styles/vector/properties/static_text_property.test.ts
  x-pack/plugins/maps/public/classes/styles/vector/properties/static_text_property.ts
Labels: backport

#96234 [7.x] [App Search] Added Sample Response section to Result Settings (#95971)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/non_text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/result_settings_table/text_fields_body.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/sample_response/sample_response_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result_settings/types.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/result_settings.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/result_settings.ts
Labels: backport

#96238 Add Input Controls project configuration
  .github/workflows/project-assigner.yml
Labels: Feature:Input Control, Team:Presentation, auto-backport, impact:low, loe:hours, release_note:skip, review, v7.13.0, v8.0.0

#96191 [tech-debt] Remove defunct opacity parameters from EUI shadow functions
  x-pack/plugins/canvas/public/components/page_manager/page_manager.scss
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.scss
Labels: Feature:Canvas, Team:Presentation, auto-backport, impact:low, loe:hours, release_note:skip, review, v7.13.0, v8.0.0

#96233 [7.x] [RAC][Alert Triage][TGrid] Update the Alerts Table (TGrid) API to implement `renderCellValue` (#96098)
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.test.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/timelines/components/flyout/pane/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/stateful_cell.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/stateful_cell.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/stateful_event.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/get_row_renderer.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/index.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/cell_rendering/default_cell_renderer.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/cell_rendering/default_cell_renderer.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/cell_rendering/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/eql_tab_content/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/eql_tab_content/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/eql_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/pinned_tab_content/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/pinned_tab_content/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/pinned_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/tabs_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic_local_storage.test.tsx
Labels: backport

#96178 fixes a skipped management x-pack test
  x-pack/plugins/security/public/management/users/edit_user/user_form.tsx
  x-pack/test/functional/apps/security/management.js
  x-pack/test/functional/page_objects/security_page.ts
Labels: failed-test, release_note:skip, test_ui_functional, test_xpack_functional, v7.13.0, v8.0.0

#94247 [Dashboard] Fix Lens and TSVB tooltip positioning relative to global headers
  src/core/public/rendering/_base.scss
  src/core/public/rendering/rendering_service.tsx
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/index.js
  src/plugins/vis_type_xy/public/components/xy_settings.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
Labels: Feature:Dashboard, Feature:Lens, Feature:TSVB, Feature:XYAxis, Team:KibanaApp, Team:Presentation, bug, impact:high, loe:hours, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#96260 [7.x] [tech-debt] Remove defunct opacity parameters from EUI shadow functions (#96191)
  x-pack/plugins/canvas/public/components/page_manager/page_manager.scss
  x-pack/plugins/canvas/public/components/workpad_page/workpad_page.scss
Labels: backport

#96259 [7.x] Convert Canvas docs to MDX for use in Elastic Docs (#91969)
  x-pack/plugins/canvas/PLUGINS.mdx
  x-pack/plugins/canvas/README.md
  x-pack/plugins/canvas/shareable_runtime/README.mdx
Labels: backport

#95976 [7.12] [Time to Visualize] Allow By Value Flow Without Visualize Save Permissions (#95951)
  src/plugins/dashboard/public/application/actions/add_to_library_action.test.tsx
  src/plugins/dashboard/public/application/actions/add_to_library_action.tsx
  src/plugins/dashboard/public/application/actions/clone_panel_action.tsx
  src/plugins/dashboard/public/plugin.tsx
  src/plugins/dashboard/public/services/core.ts
  src/plugins/presentation_util/public/components/saved_object_save_modal_dashboard.tsx
  src/plugins/presentation_util/public/components/saved_object_save_modal_dashboard_selector.stories.tsx
  src/plugins/presentation_util/public/components/saved_object_save_modal_dashboard_selector.tsx
  src/plugins/presentation_util/public/services/index.ts
  src/plugins/presentation_util/public/services/kibana/capabilities.ts
  src/plugins/presentation_util/public/services/storybook/capabilities.ts
  src/plugins/presentation_util/public/services/storybook/index.ts
  src/plugins/presentation_util/public/services/stub/capabilities.ts
  src/plugins/visualizations/public/embeddable/create_vis_embeddable_from_object.ts
  src/plugins/visualizations/public/embeddable/visualize_embeddable.ts
  src/plugins/visualize/public/application/utils/get_top_nav_config.tsx
  src/plugins/visualize/public/application/utils/utils.ts
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/lens/public/app_plugin/lens_top_nav.tsx
  x-pack/plugins/lens/public/app_plugin/save_modal.tsx
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable_factory.ts
  x-pack/plugins/maps/public/routes/map_page/top_nav_config.tsx
  x-pack/test/functional/apps/dashboard/feature_controls/index.ts
  x-pack/test/functional/apps/dashboard/feature_controls/time_to_visualize_security.ts
Labels: backport

#96267 [7.12] fixes a skipped management x-pack test (#96178)
  x-pack/plugins/security/public/management/users/edit_user/user_form.tsx
  x-pack/test/functional/apps/security/management.js
  x-pack/test/functional/page_objects/security_page.ts
Labels: backport

#96266 [7.x] fixes a skipped management x-pack test (#96178)
  x-pack/plugins/security/public/management/users/edit_user/user_form.tsx
  x-pack/test/functional/apps/security/management.js
  x-pack/test/functional/page_objects/security_page.ts
Labels: backport

#96212 [7.x] [TSVB] fix wrong field list on overriding index pattern for series (#96204)
  src/plugins/vis_type_timeseries/public/application/components/aggs/agg.tsx
  src/plugins/vis_type_timeseries/public/application/components/aggs/filter_ratio.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/percentile.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/positive_rate.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/std_agg.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/std_deviation.js
  src/plugins/vis_type_timeseries/public/application/components/aggs/top_hit.js
  src/plugins/vis_type_timeseries/public/application/components/series_config.js
  src/plugins/vis_type_timeseries/public/application/components/split.js
  src/plugins/vis_type_timeseries/public/application/components/vis_types/timeseries/config.js
Labels: backport

#96117 [Lens] don't use eui variables for zindex
  x-pack/plugins/lens/public/_variables.scss
  x-pack/plugins/lens/public/drag_drop/drag_drop.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/frame_layout.scss
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.13.0, v8.0.0

#96068 Fix link to TypeScript/JavaScript section
  STYLEGUIDE.md
Labels: auto-backport, docs, release_note:skip, v7.13.0, v8.0.0, 💝community

#95760 Upgrade `globby` dependency (`8.0.1` → `11.0.3`).
  package.json
  packages/kbn-optimizer/src/optimizer/optimizer_config.test.ts
  packages/kbn-pm/dist/index.js
  src/core/server/i18n/get_translation_paths.test.ts
  src/core/server/i18n/get_translation_paths.ts
  src/dev/run_check_file_casing.ts
  yarn.lock
Labels: auto-backport, chore, release_note:skip, v7.13.0

#96243 [7.12] [Uptime] Update query for ping histogram (#95495)
  x-pack/plugins/uptime/common/runtime_types/ping/histogram.ts
  x-pack/plugins/uptime/server/lib/requests/__snapshots__/get_ping_histogram.test.ts.snap
  x-pack/plugins/uptime/server/lib/requests/get_ping_histogram.test.ts
  x-pack/plugins/uptime/server/lib/requests/get_ping_histogram.ts
  x-pack/plugins/uptime/server/rest_api/pings/get_ping_histogram.ts
Labels: backport

#96285 [7.x] [Lens] don't use eui variables for zindex (#96117)
  x-pack/plugins/lens/public/_variables.scss
  x-pack/plugins/lens/public/drag_drop/drag_drop.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/frame_layout.scss
Labels: backport

#96287 [7.x] Upgrade `globby` dependency (`8.0.1` → `11.0.3`). (#95760)
  package.json
  packages/kbn-optimizer/src/optimizer/optimizer_config.test.ts
  packages/kbn-pm/dist/index.js
  src/core/server/i18n/get_translation_paths.test.ts
  src/core/server/i18n/get_translation_paths.ts
  src/dev/run_check_file_casing.ts
  yarn.lock
Labels: backport

#95644 Change top_hits aggregation to top_metrics for snapshot api
  x-pack/plugins/infra/common/inventory_models/types.ts
  x-pack/plugins/infra/server/lib/metrics/lib/__snapshots__/convert_histogram_buckets_to_timeseries.test.ts.snap
  x-pack/plugins/infra/server/lib/metrics/lib/convert_histogram_buckets_to_timeseries.test.ts
  x-pack/plugins/infra/server/lib/metrics/lib/convert_histogram_buckets_to_timeseries.ts
  x-pack/plugins/infra/server/lib/metrics/types.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/apply_metadata_to_last_path.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/transform_request_to_metrics_api_request.ts
Labels: Feature:Metrics UI, Team:logs-metrics-ui, auto-backport, release_note:enhancement, v7.13.0, v8.0.0

#95939 [Snapshot Restore] Disable navigation when a step is invalid
  x-pack/plugins/snapshot_restore/__jest__/client_integration/helpers/restore_snapshot.helpers.ts
  x-pack/plugins/snapshot_restore/__jest__/client_integration/restore_snapshot.test.ts
  x-pack/plugins/snapshot_restore/public/application/components/restore_snapshot_form/restore_snapshot_form.tsx
  x-pack/plugins/snapshot_restore/public/application/components/restore_snapshot_form/steps/step_settings.tsx
Labels: Feature:Snapshot and Restore, Team:Elasticsearch UI, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#94592 [Security Solution] Remove graphQL host
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/all/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/common/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/details/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/first_last_seen/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/index.ts
  x-pack/plugins/security_solution/public/common/components/ml/criteria/host_to_criteria.test.ts
  x-pack/plugins/security_solution/public/common/components/ml/criteria/host_to_criteria.ts
  x-pack/plugins/security_solution/public/common/components/ml/influencers/host_to_influencers.ts
  x-pack/plugins/security_solution/public/graphql/introspection.json
  x-pack/plugins/security_solution/public/graphql/types.ts
  x-pack/plugins/security_solution/public/hosts/components/hosts_table/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/hosts/components/hosts_table/columns.tsx
  x-pack/plugins/security_solution/public/hosts/components/hosts_table/index.test.tsx
  x-pack/plugins/security_solution/public/hosts/components/hosts_table/index.tsx
  x-pack/plugins/security_solution/public/hosts/components/hosts_table/mock.ts
  x-pack/plugins/security_solution/public/hosts/containers/hosts/details/_index.tsx
  x-pack/plugins/security_solution/public/hosts/containers/hosts/details/host_overview.gql_query.ts
  x-pack/plugins/security_solution/public/hosts/containers/hosts/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/containers/hosts/first_last_seen/first_last_seen.gql_query.ts
  x-pack/plugins/security_solution/public/hosts/containers/hosts/first_last_seen/index.tsx
  x-pack/plugins/security_solution/public/hosts/containers/hosts/hosts_table.gql_query.ts
  x-pack/plugins/security_solution/public/hosts/pages/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/store/actions.ts
  x-pack/plugins/security_solution/public/hosts/store/helpers.test.ts
  x-pack/plugins/security_solution/public/hosts/store/model.ts
  x-pack/plugins/security_solution/public/hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/overview/components/host_overview/endpoint_overview/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/endpoint_overview/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/__snapshots__/expandable_host.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/expandable_host.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/expandable_host.tsx
  x-pack/plugins/security_solution/server/graphql/hosts/index.ts
  x-pack/plugins/security_solution/server/graphql/hosts/resolvers.ts
  x-pack/plugins/security_solution/server/graphql/index.ts
  x-pack/plugins/security_solution/server/graphql/types.ts
  x-pack/plugins/security_solution/server/init_server.ts
  x-pack/plugins/security_solution/server/lib/compose/kibana.ts
  x-pack/plugins/security_solution/server/lib/hosts/elasticsearch_adapter.test.ts
  x-pack/plugins/security_solution/server/lib/hosts/elasticsearch_adapter.ts
  x-pack/plugins/security_solution/server/lib/hosts/helpers.ts
  x-pack/plugins/security_solution/server/lib/hosts/index.ts
  x-pack/plugins/security_solution/server/lib/hosts/mock.ts
  x-pack/plugins/security_solution/server/lib/hosts/query.detail_host.dsl.ts
  x-pack/plugins/security_solution/server/lib/hosts/query.hosts.dsl.ts
  x-pack/plugins/security_solution/server/lib/hosts/query.last_first_seen_host.dsl.ts
  x-pack/plugins/security_solution/server/lib/hosts/types.ts
  x-pack/plugins/security_solution/server/lib/types.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helper.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/query.host_details.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/last_first_seen/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/last_first_seen/index.test.ts
Labels: Team: SecuritySolution, Team:Threat Hunting, release_note:skip, v7.13.0

#96207 migration v2 respects the config.batchSize value
  src/core/server/saved_objects/migrationsv2/actions/index.test.ts
  src/core/server/saved_objects/migrationsv2/actions/index.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrationsv2/migrations_state_action_machine.test.ts
  src/core/server/saved_objects/migrationsv2/model.test.ts
  src/core/server/saved_objects/migrationsv2/model.ts
  src/core/server/saved_objects/migrationsv2/next.ts
  src/core/server/saved_objects/migrationsv2/types.ts
  src/core/server/saved_objects/saved_objects_config.ts
Labels: Team:Core, auto-backport, release_note:skip, v7.13.0, v8.0.0

#96125 [TSVB] Fixes bug with TSVB not visible on Safari
  src/plugins/vis_type_timeseries/public/application/components/vis_types/_vis_types.scss
  src/plugins/vis_type_timeseries/public/application/components/vis_types/timeseries/vis.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/timeseries/index.js
Labels: Feature:TSVB, Team:KibanaApp, bug, release_note:skip, v7.13.0, v8.0.0

#95797 [ML] Data Frame Analytics: Fix color assertion with risk of percentage being rounded to 0.
  x-pack/plugins/ml/public/application/components/scatterplot_matrix/scatterplot_matrix.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation.ts
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
  x-pack/test/functional/apps/transform/creation_runtime_mappings.ts
  x-pack/test/functional/services/canvas_element.ts
  x-pack/test/functional/services/ml/common_ui.ts
  x-pack/test/functional/services/ml/data_frame_analytics_creation.ts
  x-pack/test/functional/services/ml/data_frame_analytics_results.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: :ml, backport pending, release_note:skip, test_xpack_functional, v7.12.1, v7.13.0, v8.0.0

#96296 [Uptime] Simplift rtl test
  x-pack/plugins/observability/public/components/shared/exploratory_view/exploratory_view.test.tsx
Labels: auto-backport, release_note:skip, v7.13.0, v8.0.0

#96240 Adds links to advanced logging documentation from settings
  docs/migration/migrate_8_0.asciidoc
  docs/setup/settings.asciidoc
Labels: Feature:Logging, Team:Core, Team:Docs, auto-backport, release_note:skip, v7.13.0, v8.0.0

#96087 [Fleet] Can't select managed agent. Bulk upgrade agent UI changes
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Fleet, auto-backport, release_note:skip, v7.13.0, v8.0.0

#96299 [7.x] [Fleet] Invalidate fleet API keys as internal user (#96054)
  x-pack/plugins/fleet/server/services/agents/unenroll.ts
  x-pack/plugins/fleet/server/services/api_keys/enrollment_api_key.ts
  x-pack/plugins/fleet/server/services/api_keys/security.ts
  x-pack/plugins/fleet/server/services/fleet_server/saved_object_migrations.ts
Labels: backport

#95767 Fix 7.12 migration fail if the "timepicker:quickRanges" is null
  src/core/server/ui_settings/saved_objects/migrations.test.ts
  src/core/server/ui_settings/saved_objects/migrations.ts
Labels: Team:AppServices, bug, release_note:fix, v7.12.1, v7.13.0, v8.0.0

#96300 [7.x] Change top_hits aggregation to top_metrics for snapshot api (#95644)
  x-pack/plugins/infra/common/inventory_models/types.ts
  x-pack/plugins/infra/server/lib/metrics/lib/__snapshots__/convert_histogram_buckets_to_timeseries.test.ts.snap
  x-pack/plugins/infra/server/lib/metrics/lib/convert_histogram_buckets_to_timeseries.test.ts
  x-pack/plugins/infra/server/lib/metrics/lib/convert_histogram_buckets_to_timeseries.ts
  x-pack/plugins/infra/server/lib/metrics/types.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/apply_metadata_to_last_path.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/transform_request_to_metrics_api_request.ts
Labels: backport

#96316 [7.x] Adds links to advanced logging documentation from settings (#96240)
  docs/setup/settings.asciidoc
Labels: backport
