Repository elastic/kibana, pull requests merged in 2021-11, with the labels that each got.

#116668 [8.0] [Fleet] Fix edit package policy save button (#116482)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
Labels: backport

#116801 [8.0] [Fleet] Fix pipeline with id [*] does not exists (#116707)
  x-pack/plugins/fleet/server/services/epm/archive/storage.ts
  x-pack/plugins/fleet/server/services/epm/archive/validation.ts
  x-pack/test/fleet_api_integration/apis/epm/__snapshots__/install_by_upload.snap
  x-pack/test/fleet_api_integration/apis/epm/install_by_upload.ts
Labels: backport

#116615 [Cases] Do not show deprecated callout on deleted connectors
  x-pack/plugins/cases/public/components/utils.test.ts
  x-pack/plugins/cases/public/components/utils.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/helpers.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/helpers.ts
Labels: bug, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0, Team:Threat Hunting:Cases

#116604 [8.0] [ML] Functional tests - remove monitor cluster privilege from test role (#116581)
  x-pack/test/functional/services/ml/security_common.ts
Labels: backport

#115998 [Security Solution][Endpoint] Add tests for pending status API changes
  x-pack/plugins/security_solution/server/endpoint/routes/actions/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/status.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions.ts
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v7.16.0, v8.1.0

#116911 [8.0] [Cases] Do not show deprecated callout on deleted connectors (#116615)
  x-pack/plugins/cases/public/components/utils.test.ts
  x-pack/plugins/cases/public/components/utils.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/helpers.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/helpers.ts
Labels: backport

#116912 [7.16] [Cases] Do not show deprecated callout on deleted connectors (#116615)
  x-pack/plugins/cases/public/components/utils.test.ts
  x-pack/plugins/cases/public/components/utils.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/helpers.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/helpers.ts
Labels: backport

#116559 [8.0] retry reading suggestion list (#116405)
  test/functional/apps/visualize/_timelion.ts
  test/functional/page_objects/timelion_page.ts
Labels: backport

#116648 Add API tests for dependencies metadata
  x-pack/test/apm_api_integration/tests/dependencies/generate_data.ts
  x-pack/test/apm_api_integration/tests/dependencies/metadata.ts
  x-pack/test/apm_api_integration/tests/event_metadata/event_metadata.ts
  x-pack/test/apm_api_integration/tests/index.ts
Labels: Team:apm, v8.0.0, release_note:skip, auto-backport, v7.16.0

#116909 Timelion: retry specific metric suggestion check
  test/functional/apps/visualize/_timelion.ts
Labels: Team:VisEditors, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0

#116922 [Actions][Docs] Rename isLegacy to usesTableApi
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: v8.0.0, release_note:skip, docs, auto-backport, v7.16.0, v8.1.0

#116767 [Security Solution] Show searchbar when a search doesn't return results in Host isolation exceptions.
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.tsx
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v7.16.0, v8.1.0

#116250 [ML] Renaming index patterns for job wizards
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/change_data_view.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/change_data_view_button.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/description.tsx
Labels: chore, non-issue, :ml, Feature:Anomaly Detection, v8.0.0, release_note:skip, auto-backport, v8.1.0

#116747 Remove unused isNewInstance code
  src/plugins/home/server/services/new_instance_status.test.ts
  src/plugins/home/server/services/new_instance_status.ts
Labels: Team:Core, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0

#116932 [8.0] [Actions][Docs] Rename isLegacy to usesTableApi (#116922)
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: backport

#116621 [8.0] [Reporting] Remove `Boom` (#116289)
  x-pack/plugins/reporting/server/routes/lib/request_handler.ts
  x-pack/plugins/reporting/server/routes/management/jobs.test.ts
  x-pack/plugins/reporting/server/routes/management/jobs.ts
Labels: backport

#116924 [8.0] [Security Solution][Endpoint] Add tests for pending status API changes (#115998)
  x-pack/plugins/security_solution/server/endpoint/routes/actions/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/status.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions.ts
Labels: backport

#116664 Update testing dev docs for APM
  x-pack/plugins/apm/dev_docs/testing.md
Labels: Team:apm, v8.0.0, release_note:skip, auto-backport, v7.16.0

#116925 [7.16] [Security Solution][Endpoint] Add tests for pending status API changes (#115998)
  x-pack/plugins/security_solution/server/endpoint/routes/actions/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/status.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions.ts
Labels: backport

#116647 [8.0] [Security Solution][Endpoint] Fix bug where users without `superuser` role are not able to see Endpoint data on Host Details (#116202)
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
Labels: backport

#116833 [7.16] [Security Solution][Endpoint] Fix and un-skip Jest UT for Policy Details remove trusted app modal (#116492)
  x-pack/plugins/security_solution/public/management/pages/policy/view/trusted_apps/list/remove_trusted_app_from_policy_modal.test.tsx
Labels: backport

#116952 [8.0] Update testing dev docs for APM (#116664)
  x-pack/plugins/apm/dev_docs/testing.md
Labels: backport

#116953 [7.16] Update testing dev docs for APM (#116664)
  x-pack/plugins/apm/dev_docs/testing.md
Labels: backport

#113768 [Security Solution][Platform] - Replace ts-ignore in favor of ts-expect
  x-pack/plugins/security_solution/common/endpoint/data_generators/trusted_app_generator.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/setup_fleet_for_endpoint.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/index.test.tsx
  x-pack/plugins/security_solution/public/common/mock/endpoint/http_handler_mock_factory.ts
  x-pack/plugins/security_solution/public/detections/components/value_lists_management_modal/modal.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/actions_menu.test.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/selectors.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware/policy_trusted_apps_middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_trusted_apps_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/with_security_context.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.test.tsx
  x-pack/plugins/security_solution/public/overview/components/link_panel/link_panel.tsx
  x-pack/plugins/security_solution/public/ueba/store/reducer.ts
  x-pack/plugins/security_solution/scripts/endpoint/trusted_apps/index.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/migrate_artifacts_to_fleet.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/trusted_apps/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0

#115936 [Exploaratory View ] Styling: Fix duplicate labels for operation select
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/operation_type_select.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/expanded_series_row.tsx
Labels: v8.0.0, Team:uptime, release_note:skip, auto-backport, v7.16.0

#116643 [8.0] [Security Solution][Endpoint] Un-skip Policy Details FTR test suite and fix bug in Policy Details page when saving changes (#115662)
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_edit_extension.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/page_objects/policy_page.ts
Labels: backport

#116832 [8.0] [Security Solution][Endpoint] Fix and un-skip Jest UT for Policy Details remove trusted app modal (#116492)
  x-pack/plugins/security_solution/public/management/pages/policy/view/trusted_apps/list/remove_trusted_app_from_policy_modal.test.tsx
Labels: backport

#116830 [8.0] Fix skipped test to be more robust in matching relative dates (#116474)
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card.test.tsx
Labels: backport

#116929 [7.16] Add API tests for dependencies metadata (#116648)
  x-pack/test/apm_api_integration/tests/dependencies/generate_data.ts
  x-pack/test/apm_api_integration/tests/dependencies/metadata.ts
  x-pack/test/apm_api_integration/tests/event_metadata/event_metadata.ts
  x-pack/test/apm_api_integration/tests/index.ts
Labels: backport

#116780 [Security Solution][Endpoint] Fix display of long description text values (with no spaces) on Artifact Entry Cards
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card_minified.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/card_compressed_header.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/description_field.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/text_value_display.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/trusted_apps_grid/__snapshots__/index.test.tsx.snap
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, OLM Sprint, v7.16.0

#116126 [AppServices] @timestamp as default for timestamp field name in index pattern (#25863)
  src/plugins/index_pattern_editor/public/components/form_fields/timestamp_field.tsx
Labels: release_note:fix, Feature:Data Views, Feature:Kibana Management, Team:AppServicesSv, auto-backport, v8.1.0

#116931 [7.16] retry specific metric suggestion check (#116909)
  test/functional/apps/visualize/_timelion.ts
Labels: backport

#116940 [7.16] Remove unused isNewInstance code (#116747)
  src/plugins/home/server/services/new_instance_status.test.ts
  src/plugins/home/server/services/new_instance_status.ts
Labels: backport

#116773 [Canvas] Fix undo/redo and saved object resolve redirect issues
  x-pack/plugins/canvas/public/components/app/index.tsx
  x-pack/plugins/canvas/public/routes/workpad/hooks/use_workpad.ts
Labels: review, Team:Presentation, loe:hours, v8.0.0, release_note:skip, impact:high, Feature:Canvas, v7.16.0, v8.1.0, v7.16.1

#116934 [8.0] [Security Solution] Show searchbar when a search doesn't return results in Host isolation exceptions. (#116767)
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.tsx
Labels: backport

#116147 [Reporting] Remove banner from reports
  src/plugins/screenshot_mode/public/mocks.ts
  x-pack/plugins/banners/kibana.json
  x-pack/plugins/banners/public/plugin.test.tsx
  x-pack/plugins/banners/public/plugin.tsx
  x-pack/plugins/banners/public/types.ts
  x-pack/plugins/banners/tsconfig.json
Labels: Team:Core, release_note:fix, v8.0.0, auto-backport, v7.16.1

#116464 [Security Solution][Endpoint][Cases] Fixes bug in alert details flyout where summary view is not formatted
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.tsx
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v7.16.0

#116930 [8.0] retry specific metric suggestion check (#116909)
  test/functional/apps/visualize/_timelion.ts
Labels: backport

#116935 [8.0] [ML] Renaming index patterns for job wizards (#116250)
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/change_data_view.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/change_data_view_button.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/description.tsx
Labels: backport

#116485 [Logs UI] Respect the advanced settings for queries
  x-pack/plugins/infra/public/components/log_stream/log_stream.tsx
  x-pack/plugins/infra/public/containers/logs/log_filter/log_filter_state.ts
  x-pack/plugins/infra/public/containers/logs/log_stream/index.ts
  x-pack/plugins/infra/public/utils/use_kibana_query_settings.ts
Labels: release_note:fix, v8.0.0, Feature:Logs UI, Team:Infra Monitoring UI, auto-backport, v8.1.0, v7.16.1

#116641 [Fleet] Use event.ingested where possible for data stream last activity
  x-pack/plugins/fleet/public/applications/fleet/sections/data_stream/list_page/index.tsx
  x-pack/plugins/fleet/server/routes/data_streams/handlers.ts
  x-pack/test/fleet_api_integration/apis/data_streams/list.ts
Labels: release_note:fix, v8.0.0, Team:Fleet, auto-backport, v7.16.0, v8.1.0

#116688 [8.0] Jest and Storybook fixes (#116132)
  x-pack/plugins/apm/public/components/shared/backend_link.stories.tsx
Labels: backport

#116788 Add API tests for top dependencies
  x-pack/test/apm_api_integration/tests/dependencies/generate_data.ts
  x-pack/test/apm_api_integration/tests/dependencies/metadata.ts
  x-pack/test/apm_api_integration/tests/dependencies/top_dependencies.ts
  x-pack/test/apm_api_integration/tests/index.ts
Labels: Team:apm, v8.0.0, release_note:skip, auto-backport, v7.16.0

#116681 [8.0] [APM] Errors api test: error_groups/main_statistics (#116337)
  x-pack/test/apm_api_integration/common/fixtures/es_archiver/apm_mappings_only_8.0.0/mappings.json
  x-pack/test/apm_api_integration/common/registry.ts
  x-pack/test/apm_api_integration/common/synthtrace_es_client.ts
  x-pack/test/apm_api_integration/tests/error_rate/service_apis.ts
  x-pack/test/apm_api_integration/tests/index.ts
  x-pack/test/apm_api_integration/tests/latency/service_apis.ts
  x-pack/test/apm_api_integration/tests/observability_overview/observability_overview.ts
  x-pack/test/apm_api_integration/tests/service_overview/instances_main_statistics.ts
  x-pack/test/apm_api_integration/tests/services/error_groups/error_groups_detailed_statistics.ts
  x-pack/test/apm_api_integration/tests/services/error_groups/error_groups_main_statistics.ts
  x-pack/test/apm_api_integration/tests/services/error_groups/generate_data.ts
  x-pack/test/apm_api_integration/tests/services/error_groups/get_error_group_ids.ts
  x-pack/test/apm_api_integration/tests/services/error_groups_detailed_statistics.ts
  x-pack/test/apm_api_integration/tests/services/error_groups_main_statistics.ts
  x-pack/test/apm_api_integration/tests/services/throughput.ts
  x-pack/test/apm_api_integration/tests/throughput/dependencies_apis.ts
  x-pack/test/apm_api_integration/tests/throughput/service_apis.ts
  x-pack/test/apm_api_integration/tests/transactions/transactions_groups_detailed_statistics.ts
Labels: backport

#116798 [8.0] [Maps] do not allow label overlap (#116190)
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
  x-pack/plugins/maps/public/classes/styles/vector/vector_style.tsx
Labels: backport

#116960 [7.16] [Exploaratory View ] Styling: Fix duplicate labels for operation select (#115936)
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/operation_type_select.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/expanded_series_row.tsx
Labels: backport

#116658 [8.0] Include failure reason when packages cannot be installed during setup (#116612)
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport

#116957 [7.16] replace ts_ignore with ts_expect_error (#113768)
  x-pack/plugins/security_solution/common/endpoint/data_generators/trusted_app_generator.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/setup_fleet_for_endpoint.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/index.test.tsx
  x-pack/plugins/security_solution/public/common/mock/endpoint/http_handler_mock_factory.ts
  x-pack/plugins/security_solution/public/detections/components/value_lists_management_modal/modal.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/actions_menu.test.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/selectors.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware/policy_trusted_apps_middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_trusted_apps_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/with_security_context.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.test.tsx
  x-pack/plugins/security_solution/public/overview/components/link_panel/link_panel.tsx
  x-pack/plugins/security_solution/public/ueba/store/reducer.ts
  x-pack/plugins/security_solution/scripts/endpoint/trusted_apps/index.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/migrate_artifacts_to_fleet.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/trusted_apps/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
Labels: backport

#116899 Fix mixspelt team name in plugin
  src/plugins/kibana_usage_collection/kibana.json
  x-pack/plugins/ui_actions_enhanced/kibana.json
Labels: release_note:skip, v8.1.0

#115871 [7.16] un-skip maps/feature_controls/maps_spaces.ts functional test (#113656)
  x-pack/test/functional/apps/maps/feature_controls/maps_spaces.ts
  x-pack/test/functional/page_objects/gis_page.ts
Labels: backport

#116732 [7.15] [Canvas] Fixes Reveal Image background is not contained. (#116403)
  src/plugins/expression_reveal_image/public/components/reveal_image_component.tsx
Labels: backport

#116963 [7.16] [Security Solution][Endpoint] Fix display of long description text values (with no spaces) on Artifact Entry Cards (#116780)
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card_minified.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/card_compressed_header.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/description_field.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/text_value_display.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/trusted_apps_grid/__snapshots__/index.test.tsx.snap
Labels: backport

#116974 [Fleet] Ensure "keep policies up to date" is honored for non-managed policies
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0, v8.1.0

#116962 [8.0] [Security Solution][Endpoint] Fix display of long description text values (with no spaces) on Artifact Entry Cards (#116780)
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card_minified.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/card_compressed_header.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/description_field.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/text_value_display.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/trusted_apps_grid/__snapshots__/index.test.tsx.snap
Labels: backport

#116966 [7.16] [Reporting] Remove banner from reports (#116147)
  src/plugins/screenshot_mode/public/mocks.ts
  x-pack/plugins/banners/kibana.json
  x-pack/plugins/banners/public/plugin.test.tsx
  x-pack/plugins/banners/public/plugin.tsx
  x-pack/plugins/banners/public/types.ts
  x-pack/plugins/banners/tsconfig.json
Labels: backport

#116623 [8.0] [Canvas] Fixes Reveal Image background is not contained. (#116403)
  src/plugins/expression_reveal_image/public/components/reveal_image_component.tsx
Labels: backport

#116965 [8.0] [Reporting] Remove banner from reports (#116147)
  src/plugins/screenshot_mode/public/mocks.ts
  x-pack/plugins/banners/kibana.json
  x-pack/plugins/banners/public/plugin.test.tsx
  x-pack/plugins/banners/public/plugin.tsx
  x-pack/plugins/banners/public/types.ts
  x-pack/plugins/banners/tsconfig.json
Labels: backport

#116770 [APM] Synthtrace ES Client
  packages/elastic-apm-synthtrace/src/index.ts
  packages/elastic-apm-synthtrace/src/lib/client/synthtrace_es_client.ts
  packages/elastic-apm-synthtrace/src/lib/utils/clean_write_targets.ts
  packages/elastic-apm-synthtrace/src/lib/utils/create_logger.ts
  packages/elastic-apm-synthtrace/src/lib/utils/get_write_targets.ts
  packages/elastic-apm-synthtrace/src/lib/utils/logger.ts
  packages/elastic-apm-synthtrace/src/scripts/run.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/get_common_resources.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/get_scenario.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/start_historical_data_upload.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/start_live_data_upload.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/upload_events.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/upload_next_batch.ts
  x-pack/plugins/apm/ftr_e2e/cypress/fixtures/es_archiver/apm_8.0.0_empty/mappings.json
  x-pack/plugins/apm/ftr_e2e/cypress/fixtures/synthtrace/opbeans.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/rules/error_count.spec.ts
  x-pack/test/apm_api_integration/common/config.ts
  x-pack/test/apm_api_integration/common/synthtrace_es_client.ts
  x-pack/test/apm_api_integration/common/synthtrace_es_client_service.ts
  x-pack/test/apm_api_integration/tests/dependencies/generate_data.ts
  x-pack/test/apm_api_integration/tests/services/error_groups/generate_data.ts
Labels: Team:apm, release_note:skip, auto-backport, v7.16.0

#116523 [Fleet] Allow user-configured namespace for managed policies
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: release_note:fix, v8.0.0, Team:Fleet, auto-backport, v7.16.0, v8.1.0

#116977 [8.0] [Fleet] Use event.ingested where possible for data stream last activity (#116641)
  x-pack/plugins/fleet/public/applications/fleet/sections/data_stream/list_page/index.tsx
  x-pack/plugins/fleet/server/routes/data_streams/handlers.ts
  x-pack/test/fleet_api_integration/apis/data_streams/list.ts
Labels: backport

#116984 [7.15] [105264] Fix error not surfacing bug for Jira (#114800)
  x-pack/plugins/cases/common/utils/index.ts
  x-pack/plugins/cases/public/components/connectors/jira/api.test.ts
  x-pack/plugins/cases/public/components/connectors/jira/api.ts
  x-pack/plugins/cases/public/components/connectors/jira/use_get_fields_by_issue_type.tsx
  x-pack/plugins/cases/public/components/connectors/jira/use_get_issue_types.tsx
  x-pack/plugins/cases/public/components/connectors/resilient/api.ts
  x-pack/plugins/cases/public/components/connectors/rewrite_response_to_camel_case.test.ts
  x-pack/plugins/cases/public/components/connectors/rewrite_response_to_camel_case.ts
  x-pack/plugins/cases/public/components/connectors/servicenow/api.ts
  x-pack/plugins/cases/public/components/connectors/servicenow/use_get_choices.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/api.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/search_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_fields_by_issue_type.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issue_types.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_issues.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_single_issue.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/api.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/resilient/api.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/rewrite_response_body.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/api.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/use_choices.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/use_choices.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/use_get_choices.tsx
Labels: backport

#116967 [8.0] [Security Solution][Endpoint][Cases] Add cases path to sourcerer init so browser fields load (#116464)
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.tsx
Labels: backport

#116988 [7.16] Add API tests for top dependencies (#116788)
  x-pack/test/apm_api_integration/tests/dependencies/generate_data.ts
  x-pack/test/apm_api_integration/tests/dependencies/metadata.ts
  x-pack/test/apm_api_integration/tests/dependencies/top_dependencies.ts
  x-pack/test/apm_api_integration/tests/index.ts
Labels: backport

#116976 [8.0] [Logs UI] Respect the advanced settings for queries (#116485)
  x-pack/plugins/infra/public/components/log_stream/log_stream.tsx
  x-pack/plugins/infra/public/containers/logs/log_filter/log_filter_state.ts
  x-pack/plugins/infra/public/containers/logs/log_stream/index.ts
  x-pack/plugins/infra/public/utils/use_kibana_query_settings.ts
Labels: backport

#116986 [Maps] remove cruft
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/maps/public/classes/util/geo_tile_utils.ts
  x-pack/plugins/maps/public/legacy_visualizations/tile_map/types.ts
Labels: chore, Team:Geo, v8.0.0, release_note:skip

#116956 [8.0] replace ts_ignore with ts_expect_error (#113768)
  x-pack/plugins/security_solution/common/endpoint/data_generators/trusted_app_generator.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/setup_fleet_for_endpoint.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/index.test.tsx
  x-pack/plugins/security_solution/public/common/mock/endpoint/http_handler_mock_factory.ts
  x-pack/plugins/security_solution/public/detections/components/value_lists_management_modal/modal.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/actions_menu.test.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/selectors.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware/policy_trusted_apps_middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_trusted_apps_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/with_security_context.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.test.tsx
  x-pack/plugins/security_solution/public/overview/components/link_panel/link_panel.tsx
  x-pack/plugins/security_solution/public/ueba/store/reducer.ts
  x-pack/plugins/security_solution/scripts/endpoint/trusted_apps/index.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/migrate_artifacts_to_fleet.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/trusted_apps/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
Labels: backport

#116968 [7.16] [Security Solution][Endpoint][Cases] Add cases path to sourcerer init so browser fields load (#116464)
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.tsx
Labels: backport

#116834 [8.0] [Maps] fix data-mapping switch enabled for vector tiles (#116366)
  x-pack/plugins/maps/public/classes/fields/agg/agg_field.test.ts
  x-pack/plugins/maps/public/classes/fields/agg/agg_field.ts
  x-pack/plugins/maps/public/classes/fields/agg/agg_field_types.ts
  x-pack/plugins/maps/public/classes/fields/agg/count_agg_field.test.ts
  x-pack/plugins/maps/public/classes/fields/agg/count_agg_field.ts
  x-pack/plugins/maps/public/classes/fields/agg/es_agg_factory.ts
  x-pack/plugins/maps/public/classes/fields/agg/percentile_agg_field.ts
  x-pack/plugins/maps/public/classes/fields/agg/top_term_percentage_field.ts
  x-pack/plugins/maps/public/classes/fields/ems_file_field.ts
  x-pack/plugins/maps/public/classes/fields/es_doc_field.ts
  x-pack/plugins/maps/public/classes/fields/field.ts
  x-pack/plugins/maps/public/classes/fields/inline_field.ts
  x-pack/plugins/maps/public/classes/fields/mvt_field.ts
  x-pack/plugins/maps/public/classes/sources/es_agg_source/es_agg_source.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_line_source/es_geo_line_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.test.ts
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/data_mapping/categorical_data_mapping_popover.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/data_mapping/ordinal_data_mapping_popover.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/symbol/dynamic_icon_form.js
  x-pack/plugins/maps/public/classes/styles/vector/components/vector_style_editor.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/__snapshots__/dynamic_color_property.test.tsx.snap
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_color_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_color_property.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_size_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_style_property.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_text_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/test_helpers/test_util.ts
  x-pack/plugins/maps/public/classes/styles/vector/style_fields_helper.test.ts
  x-pack/plugins/maps/public/classes/styles/vector/style_fields_helper.ts
  x-pack/plugins/maps/public/classes/styles/vector/vector_style.test.js
Labels: backport

#116942 [7.15] [Fleet] Fix pipeline with id [*] does not exists (#116707)
  x-pack/plugins/fleet/server/services/epm/archive/storage.ts
  x-pack/plugins/fleet/server/services/epm/archive/validation.ts
  x-pack/test/fleet_api_integration/apis/epm/__snapshots__/install_by_upload.snap
  x-pack/test/fleet_api_integration/apis/epm/install_by_upload.ts
Labels: backport

#116539 [8.0] Revert "[Canvas] By-Value Embeddables (#113827)" (#116527)
  src/plugins/dashboard/public/application/top_nav/editor_menu.tsx
  src/plugins/kibana_usage_collection/server/collectors/management/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/management/types.ts
  src/plugins/presentation_util/common/labs.ts
  src/plugins/presentation_util/public/components/solution_toolbar/items/quick_group.scss
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/canvas/canvas_plugin_src/expression_types/embeddable.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/index.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/embeddable.test.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/embeddable.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/index.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/saved_lens.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/saved_map.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/saved_visualization.ts
  x-pack/plugins/canvas/canvas_plugin_src/plugin.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/embeddable.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/embeddable_input_to_expression.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/embeddable.test.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/embeddable.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/lens.test.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/lens.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/map.test.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/map.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/visualization.test.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/visualization.ts
  x-pack/plugins/canvas/common/lib/embeddable_dataurl.ts
  x-pack/plugins/canvas/i18n/functions/dict/embeddable.ts
  x-pack/plugins/canvas/i18n/functions/function_help.ts
  x-pack/plugins/canvas/kibana.json
  x-pack/plugins/canvas/public/components/embeddable_flyout/flyout.component.tsx
  x-pack/plugins/canvas/public/components/embeddable_flyout/flyout.tsx
  x-pack/plugins/canvas/public/components/hooks/workpad/index.tsx
  x-pack/plugins/canvas/public/components/hooks/workpad/use_incoming_embeddable.ts
  x-pack/plugins/canvas/public/components/workpad/workpad.tsx
  x-pack/plugins/canvas/public/components/workpad_app/workpad_app.scss
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/__stories__/__snapshots__/editor_menu.stories.storyshot
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/__stories__/editor_menu.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.component.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/index.ts
  x-pack/plugins/canvas/public/components/workpad_header/element_menu/element_menu.component.tsx
  x-pack/plugins/canvas/public/components/workpad_header/element_menu/index.ts
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.component.tsx
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/routes/workpad/hooks/use_workpad.ts
  x-pack/plugins/canvas/public/services/embeddables.ts
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/embeddables.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/kibana/visualizations.ts
  x-pack/plugins/canvas/public/services/stubs/embeddables.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/visualizations.ts
  x-pack/plugins/canvas/public/services/visualizations.ts
  x-pack/plugins/canvas/public/state/reducers/embeddable.ts
  x-pack/plugins/canvas/server/plugin.ts
  x-pack/plugins/canvas/server/setup_interpreter.ts
  x-pack/plugins/canvas/types/embeddables.ts
  x-pack/plugins/canvas/types/functions.ts
  x-pack/plugins/canvas/types/index.ts
Labels: backport

#117000 [7.16] Unskip jest handled promise rejections (#116021)
  x-pack/plugins/index_management/__jest__/client_integration/home/indices_tab.test.ts
  x-pack/plugins/uptime/public/components/fleet_package/custom_fields.test.tsx
Labels: backport

#117002 [7.16] Fix bug w/ keep policies up to date setting (#116974)
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport

#116993 [Fleet] Set `keep_policies_up_to_date` during package installation
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v7_16_0.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0, v8.1.0

#117012 [7.16] [Fleet] Allow user-configured namespace for managed policies (#116523)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport

#116840 [Maps] use single layer for map labels
  x-pack/plugins/maps/public/classes/layers/tiled_vector_layer/tiled_vector_layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
  x-pack/plugins/maps/public/classes/util/mb_filter_expressions.ts
  x-pack/test/functional/apps/maps/mapbox_styles.js
Labels: chore, Team:Geo, release_note:skip, v8.1.0

#117011 [8.0] [Fleet] Allow user-configured namespace for managed policies (#116523)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport

#117001 [8.0] Fix bug w/ keep policies up to date setting (#116974)
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport

#116795 [8.0] [Security Solution][Detections] Fix truncated values in columns for rules table (#115825)
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/columns.tsx
Labels: backport

#117016 UI copy changes for adaptive relevance
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/automated_curation_history.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations_history/components/automated_curations_history_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations_settings/curations_settings.tsx
Labels: release_note:skip, auto-backport, v7.16.0

#116692 Upgrade to EUI v40.1.0
  package.json
  src/dev/license_checker/config.ts
  src/plugins/data/public/utils/table_inspector_view/components/__snapshots__/data_view.test.tsx.snap
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/url/__snapshots__/url.test.tsx.snap
  src/plugins/vis_types/table/public/components/__snapshots__/table_vis_basic.test.tsx.snap
  src/plugins/vis_types/table/public/components/table_vis_basic.tsx
  x-pack/plugins/canvas/public/components/home/my_workpads/__snapshots__/workpad_table.stories.storyshot
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/waffle_time_controls.tsx
  x-pack/plugins/reporting/public/management/__snapshots__/report_listing.test.tsx.snap
  yarn.lock
Labels: v8.0.0, release_note:skip, EUI, auto-backport, v8.1.0

#116867 Don't show telemetry opt-in/out notice when it has been disabled via yml config.
  src/plugins/home/public/application/components/__snapshots__/welcome.test.tsx.snap
  src/plugins/home/public/application/components/welcome.test.tsx
  src/plugins/home/public/application/components/welcome.tsx
Labels: Team:Core, Feature:Telemetry, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0, v7.15.2

#116938 [8.0] Remove unused isNewInstance code (#116747)
  src/plugins/home/server/services/new_instance_status.test.ts
  src/plugins/home/server/services/new_instance_status.ts
Labels: backport

#116483 [DOCS] Adds the 8.0.0-beta1 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, backport:skip

#117043 [DOCS] Changes 1h to 8h for #106061
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, backport:skip

#117046 [8.0] [DOCS] Adds the 8.0.0-beta1 release notes (#116483)
  docs/CHANGELOG.asciidoc
Labels: backport

#116978 [7.16] [Logs UI] Respect the advanced settings for queries (#116485)
  x-pack/plugins/infra/public/components/log_stream/log_stream.tsx
  x-pack/plugins/infra/public/containers/logs/log_filter/log_filter_state.ts
  x-pack/plugins/infra/public/containers/logs/log_stream/index.ts
  x-pack/plugins/infra/public/utils/use_kibana_query_settings.ts
Labels: backport

#116339 [7.15] [buildkite] Add Docker CI Group to flaky test job (#116307)
  .buildkite/pipelines/flaky_tests/pipeline.js
Labels: backport

#117026 [8.0] [Fleet] Set `keep_policies_up_to_date` during package installation (#116993)
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v7_16_0.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
Labels: backport

#116340 [7.16] [buildkite] Add Docker CI Group to flaky test job (#116307)
  .buildkite/pipelines/flaky_tests/pipeline.js
Labels: backport

#116529 Update links to APM docs
  src/core/public/doc_links/doc_links_service.ts
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0

#117027 [7.16] [Fleet] Set `keep_policies_up_to_date` during package installation (#116993)
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v7_16_0.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
Labels: backport

#116598 [8.0] [ML] Fix Transforms not retaining _meta on clone (#116206)
  x-pack/plugins/transform/common/api_schemas/transforms.ts
  x-pack/plugins/transform/common/types/transform.ts
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/common.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_form.tsx
Labels: backport

#117041 [7.15] Don't show telemetry opt-in/out notice when it has been disabled via yml config. (#116867)
  src/plugins/home/public/application/components/__snapshots__/welcome.test.tsx.snap
  src/plugins/home/public/application/components/welcome.test.tsx
  src/plugins/home/public/application/components/welcome.tsx
Labels: backport

#117037 [8.0] Upgrade to EUI v40.1.0 (#116692)
  package.json
  src/dev/license_checker/config.ts
  src/plugins/data/public/utils/table_inspector_view/components/__snapshots__/data_view.test.tsx.snap
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/url/__snapshots__/url.test.tsx.snap
  src/plugins/vis_types/table/public/components/__snapshots__/table_vis_basic.test.tsx.snap
  src/plugins/vis_types/table/public/components/table_vis_basic.tsx
  x-pack/plugins/canvas/public/components/home/my_workpads/__snapshots__/workpad_table.stories.storyshot
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/waffle_time_controls.tsx
  x-pack/plugins/reporting/public/management/__snapshots__/report_listing.test.tsx.snap
  yarn.lock
Labels: backport

#117039 [8.0] Don't show telemetry opt-in/out notice when it has been disabled via yml config. (#116867)
  src/plugins/home/public/application/components/__snapshots__/welcome.test.tsx.snap
  src/plugins/home/public/application/components/welcome.test.tsx
  src/plugins/home/public/application/components/welcome.tsx
Labels: backport

#117035 [7.16] UI copy changes for adaptive relevance (#117016)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/automated_curation_history.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations_history/components/automated_curations_history_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations_settings/curations_settings.tsx
Labels: backport

#116516 [8.0] [Security Solution] fix endpoint being visible after unenrolling agent (#116372)
  x-pack/plugins/fleet/server/services/agents/helpers.ts
Labels: backport

#117040 [7.16] Don't show telemetry opt-in/out notice when it has been disabled via yml config. (#116867)
  src/plugins/home/public/application/components/__snapshots__/welcome.test.tsx.snap
  src/plugins/home/public/application/components/welcome.test.tsx
  src/plugins/home/public/application/components/welcome.tsx
Labels: backport

#117050 [8.0] [ML] Re-enable explorer link jest test (#116324)
  x-pack/plugins/apm/public/components/shared/Links/MachineLearningLinks/MLExplorerLink.test.tsx
Labels: backport

#114731 [Metrics UI] Finish removing enabled for code base
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
Labels: Feature:Metrics UI, v8.0.0, Team:Infra Monitoring UI, release_note:skip

#117051 [8.0] docs: update links to apm docs (#116529)
  src/core/public/doc_links/doc_links_service.ts
Labels: backport

#117052 [7.16] docs: update links to apm docs (#116529)
  src/core/public/doc_links/doc_links_service.ts
Labels: backport

#114326 [7.15] [Fullstory] Report mem usage (#114108)
  x-pack/plugins/cloud/public/plugin.test.ts
  x-pack/plugins/cloud/public/plugin.ts
Labels: backport

#116655 [8.0] adds import Timeline test (#114703)
  package.json
  x-pack/plugins/security_solution/cypress/fixtures/7_15_timeline.ndjson
  x-pack/plugins/security_solution/cypress/screens/timeline.ts
  x-pack/plugins/security_solution/cypress/screens/timelines.ts
  x-pack/plugins/security_solution/cypress/support/commands.js
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
  x-pack/plugins/security_solution/cypress/tasks/timelines.ts
  x-pack/plugins/security_solution/cypress/tsconfig.json
  x-pack/plugins/security_solution/cypress/upgrade_integration/import_timeline.spec.ts
  yarn.lock
Labels: backport

#116542 [8.0] e2e tests for dependencies (#116369)
  x-pack/plugins/apm/ftr_e2e/README.md
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/dependencies.spec.ts
Labels: backport, Team:apm

#116595 [8.0] [load testing] add default package to simulation class (#116375)
  x-pack/test/load/runner.ts
Labels: backport

#117049 [7.16] [ML] Re-enable explorer link jest test (#116324)
  x-pack/plugins/apm/public/components/shared/Links/MachineLearningLinks/MLExplorerLink.test.tsx
Labels: backport

#116851 [Integration] Fix landing page for Add APM Integration link in Observability
  x-pack/plugins/apm/public/components/routing/templates/apm_main_template.tsx
  x-pack/plugins/apm/public/components/routing/templates/no_data_config.ts
  x-pack/plugins/observability/public/utils/no_data_config.ts
Labels: Team:apm, release_note:skip, auto-backport, v7.16.0

#116593 Reply with 503 to unknown API requests at the preboot stage.
  src/core/server/core_app/core_app.test.ts
  src/core/server/core_app/core_app.ts
Labels: bug, Team:Core, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0

#116444 [Security Solution][Endpoint] Fix error when searching with special characters in policies filter
  x-pack/plugins/security_solution/public/management/components/policies_selector/policies_selector.test.tsx
  x-pack/plugins/security_solution/public/management/components/policies_selector/policies_selector.tsx
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v7.16.0, v8.1.0

#115952 Add column-gap to HeaderSectionComponent
  x-pack/plugins/security_solution/public/common/components/header_section/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/header_section/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
Labels: v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.16.0, Team:Threat Hunting:Explore

#116744 [Telemetry] Migrate off unix epoch to UTC ISO Timestamp.
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/plugins/security_solution/server/lib/telemetry/types.ts
Labels: Feature:Telemetry, v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v7.16.0, v7.16.1

#116608 [ML] APM Correlations: Fix boolean field support.
  x-pack/plugins/apm/server/lib/search_strategies/queries/query_field_candidates.ts
  x-pack/plugins/apm/server/lib/search_strategies/queries/query_field_value_pairs.ts
Labels: bug, release_note:fix, Team:apm, :ml, v8.0.0, apm:correlations, v7.16.0, v8.1.0

#116438 Replace noHits variable
  x-pack/plugins/apm/public/components/app/service_overview/service_overview.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/failed_transaction_rate_chart/index.tsx
  x-pack/plugins/apm/public/hooks/use_transaction_trace_samples_fetcher.ts
  x-pack/plugins/apm/server/lib/metrics/by_agent/java/gc/fetch_and_transform_gc_metrics.ts
  x-pack/plugins/apm/server/lib/metrics/by_agent/shared/memory/index.ts
  x-pack/plugins/apm/server/lib/metrics/transform_metrics_chart.test.ts
  x-pack/plugins/apm/server/lib/metrics/transform_metrics_chart.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_service_node_info.test.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_service_node_info.ts
  x-pack/plugins/apm/server/lib/transaction_groups/get_error_rate.ts
  x-pack/plugins/apm/server/lib/transactions/trace_samples/get_trace_samples/index.ts
  x-pack/test/apm_api_integration/tests/error_rate/service_apis.ts
  x-pack/test/apm_api_integration/tests/transactions/error_rate.ts
Labels: Team:apm, v8.0.0, release_note:skip, auto-backport

#116910 [Timelion] Fixes the deprecation message
  src/plugins/vis_types/timelion/server/ui_settings.ts
Labels: Feature:Timelion, Team:VisEditors, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0

#116921 [Visualize] Fixes the deprecation message of the colorMapping setting
  src/plugins/charts/server/plugin.ts
Labels: Feature:Visualizations, Team:VisEditors, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0

#117069 [8.0] Reply with 503 to unknown API requests at the preboot stage. (#116593)
  src/core/server/core_app/core_app.test.ts
  src/core/server/core_app/core_app.ts
Labels: backport

#116425 [Security Solution] Fixes upgrade tests
  x-pack/test/security_solution_cypress/runner.ts
Labels: v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v7.16.0

#116639 [ML] APM Correlations: Fix percentiles values.
  x-pack/plugins/apm/server/lib/search_strategies/latency_correlations/latency_correlations_search_service.ts
Labels: bug, regression, Team:apm, :ml, v8.0.0, release_note:skip, auto-backport, apm:correlations, v7.16.0, v8.1.0

#116618 [8.0] [ILM] Fixed skipped a11y and functional tests (#116207)
  x-pack/plugins/index_lifecycle_management/public/application/sections/policy_list/components/policy_table.tsx
  x-pack/test/accessibility/apps/index_lifecycle_management.ts
  x-pack/test/functional/apps/index_lifecycle_management/home_page.ts
Labels: backport

#117070 [7.16] Reply with 503 to unknown API requests at the preboot stage. (#116593)
  src/core/server/core_app/core_app.test.ts
  src/core/server/core_app/core_app.ts
Labels: backport

#116999 [ML] Fix logging in the trained models endpoint to prevent Kibana server from crashing
  x-pack/plugins/ml/server/lib/log.ts
  x-pack/plugins/ml/server/models/data_frame_analytics/models_provider.ts
  x-pack/plugins/ml/server/routes/trained_models.ts
Labels: :ml, v8.0.0, release_note:skip, v7.16.0, v8.1.0, Team:ML

#116404 Fix relative urls in external url service
  src/core/public/http/external_url_service.test.ts
  src/core/public/http/external_url_service.ts
Labels: Team:Core, release_note:fix, Team:Security, v8.0.0, auto-backport, v7.16.0, v8.1.0

#116627 [8.0] [Global search] Prevent unnecessary /internal/global_search/find http call at startup (#112535)
  x-pack/plugins/global_search_bar/public/components/__snapshots__/search_bar.test.tsx.snap
  x-pack/plugins/global_search_bar/public/components/search_bar.test.tsx
  x-pack/plugins/global_search_bar/public/components/search_bar.tsx
Labels: backport

#116588 [8.0] [Exploratory View]added loading state for metric selector (#115748)
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/report_metric_options.tsx
Labels: backport

#117074 [7.16] [Security Solution][Endpoint] Fix error when searching with special characters in policies filter (#116444)
  x-pack/plugins/security_solution/public/management/components/policies_selector/policies_selector.test.tsx
  x-pack/plugins/security_solution/public/management/components/policies_selector/policies_selector.tsx
Labels: backport

#115946 [Lens] Allows users to not render suggestions
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/visualization_container.scss
Labels: release_note:enhancement, Team:VisEditors, Feature:Lens, backport:skip, v8.1.0

#117075 [8.0] Add column-gap to HeaderSectionComponent (#115952)
  x-pack/plugins/security_solution/public/common/components/header_section/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/header_section/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
Labels: backport

#117076 [7.16] Add column-gap to HeaderSectionComponent (#115952)
  x-pack/plugins/security_solution/public/common/components/header_section/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/header_section/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
Labels: backport

#116936 [7.16] [Security Solution] Use useEndpointPrivileges instead of checking the license directly (#116142)
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/hooks.test.ts
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/hooks.ts
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.tsx
Labels: backport

#117082 [7.16] [ML] Fix boolean field support. (#116608)
  x-pack/plugins/apm/server/lib/search_strategies/queries/query_field_candidates.ts
  x-pack/plugins/apm/server/lib/search_strategies/queries/query_field_value_pairs.ts
Labels: backport

#117079 [7.16] [Telemetry] Migrate off unix epoch to UTC ISO Timestamp. (#116744)
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/plugins/security_solution/server/lib/telemetry/types.ts
Labels: backport

#116378 Fix sample data for share-capable objects
  src/plugins/home/public/application/components/sample_data_set_cards.js
  src/plugins/home/public/index.ts
  src/plugins/home/server/index.ts
  src/plugins/home/server/services/index.ts
  src/plugins/home/server/services/sample_data/data_sets/ecommerce/index.ts
  src/plugins/home/server/services/sample_data/data_sets/ecommerce/saved_objects.ts
  src/plugins/home/server/services/sample_data/data_sets/flights/index.ts
  src/plugins/home/server/services/sample_data/data_sets/logs/index.ts
  src/plugins/home/server/services/sample_data/data_sets/logs/saved_objects.ts
  src/plugins/home/server/services/sample_data/index.ts
  src/plugins/home/server/services/sample_data/lib/find_sample_objects.test.mock.ts
  src/plugins/home/server/services/sample_data/lib/find_sample_objects.test.ts
  src/plugins/home/server/services/sample_data/lib/find_sample_objects.ts
  src/plugins/home/server/services/sample_data/lib/sample_dataset_registry_types.ts
  src/plugins/home/server/services/sample_data/lib/sample_dataset_schema.ts
  src/plugins/home/server/services/sample_data/lib/utils.ts
  src/plugins/home/server/services/sample_data/routes/install.ts
  src/plugins/home/server/services/sample_data/routes/list.ts
  src/plugins/home/server/services/sample_data/routes/uninstall.ts
  src/plugins/home/server/services/sample_data/routes/utils.ts
  src/plugins/home/server/services/sample_data/sample_data_registry.ts
  src/plugins/home/server/services/tutorials/index.ts
  test/api_integration/apis/home/sample_data.ts
  x-pack/plugins/canvas/server/sample_data/load_sample_data.ts
  x-pack/plugins/graph/server/sample_data/ecommerce.ts
  x-pack/plugins/graph/server/sample_data/flights.ts
  x-pack/plugins/graph/server/sample_data/logs.ts
  x-pack/plugins/infra/server/plugin.ts
  x-pack/plugins/maps/server/plugin.ts
  x-pack/plugins/ml/server/lib/sample_data_sets/sample_data_sets.ts
Labels: Feature:Add Data, v8.0.0, release_note:skip, auto-backport, v8.1.0

#116905 remove unused public code from share plugin
  src/plugins/share/public/index.ts
Labels: chore, technical debt, release_note:skip, v8.1.0

#117085 [8.0] Replace noHits variable (#116438)
  x-pack/plugins/apm/public/components/app/service_overview/service_overview.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/failed_transaction_rate_chart/index.tsx
  x-pack/plugins/apm/public/hooks/use_transaction_trace_samples_fetcher.ts
  x-pack/plugins/apm/server/lib/metrics/by_agent/java/gc/fetch_and_transform_gc_metrics.ts
  x-pack/plugins/apm/server/lib/metrics/by_agent/shared/memory/index.ts
  x-pack/plugins/apm/server/lib/metrics/transform_metrics_chart.test.ts
  x-pack/plugins/apm/server/lib/metrics/transform_metrics_chart.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_service_node_info.test.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_service_node_info.ts
  x-pack/plugins/apm/server/lib/transaction_groups/get_error_rate.ts
  x-pack/plugins/apm/server/lib/transactions/trace_samples/get_trace_samples/index.ts
  x-pack/test/apm_api_integration/tests/error_rate/service_apis.ts
  x-pack/test/apm_api_integration/tests/transactions/error_rate.ts
Labels: backport

#116979 [7.16] [Fleet] Use event.ingested where possible for data stream last activity (#116641)
  x-pack/plugins/fleet/public/applications/fleet/sections/data_stream/list_page/index.tsx
  x-pack/plugins/fleet/server/routes/data_streams/handlers.ts
  x-pack/test/fleet_api_integration/apis/data_streams/list.ts
Labels: backport

#117090 [8.0] [Timelion] Fixes the deprecation message (#116910)
  src/plugins/vis_types/timelion/server/ui_settings.ts
Labels: backport

#117089 [8.0] [Visualize] Fixes the deprecation message of the colorMapping setting (#116921)
  src/plugins/charts/server/plugin.ts
Labels: backport

#116764 [APM] Apm errors api tests
  x-pack/test/apm_api_integration/tests/errors/error_group_list.ts
  x-pack/test/apm_api_integration/tests/index.ts
Labels: Team:apm, v8.0.0, release_note:skip, auto-backport, v7.16.0

#117073 [8.0] [Security Solution][Endpoint] Fix error when searching with special characters in policies filter (#116444)
  x-pack/plugins/security_solution/public/management/components/policies_selector/policies_selector.test.tsx
  x-pack/plugins/security_solution/public/management/components/policies_selector/policies_selector.tsx
Labels: backport

#117094 [8.0] [Security Solution] Fixes upgrade tests (#116425)
  x-pack/test/security_solution_cypress/runner.ts
Labels: backport

#117092 [7.16] [Timelion] Fixes the deprecation message (#116910)
  src/plugins/vis_types/timelion/server/ui_settings.ts
Labels: backport

#117097 [8.0] [ML] APM Correlations: Fix percentiles values. (#116639)
  x-pack/plugins/apm/server/lib/search_strategies/latency_correlations/latency_correlations_search_service.ts
Labels: backport

#116998 [Fleet] Delete non existing streams in overrideInputs
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
Labels: bug, v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0, v8.1.0

#117091 [7.16] [Visualize] Fixes the deprecation message of the colorMapping setting (#116921)
  src/plugins/charts/server/plugin.ts
Labels: backport

#113661 [Data] Fix flaky test
  test/interpreter_functional/test_suites/run_pipeline/esaggs_timeshift.ts
Labels: review, Feature:Aggregations, v8.0.0, Team:AppServicesSv, release_note:skip, v7.16.0

#117100 [8.0] fix relative urls in external url service (#116404)
  src/core/public/http/external_url_service.test.ts
  src/core/public/http/external_url_service.ts
Labels: backport

#117098 [7.16] [ML] APM Correlations: Fix percentiles values. (#116639)
  x-pack/plugins/apm/server/lib/search_strategies/latency_correlations/latency_correlations_search_service.ts
Labels: backport

#117099 [8.0] [ML] Replace console statement, add status code check (#116999)
  x-pack/plugins/ml/server/lib/log.ts
  x-pack/plugins/ml/server/models/data_frame_analytics/models_provider.ts
  x-pack/plugins/ml/server/routes/trained_models.ts
Labels: backport

#116796 [7.16] [Security Solution][Detections] Fix truncated values in columns for rules table (#115825)
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/columns.tsx
Labels: backport
