Repository elastic/kibana, pull requests merged in 2021-01, with the labels that each got.

#86631 [APM] Add range query to service map trace walk
  x-pack/plugins/apm/server/lib/service_map/fetch_service_paths_from_trace_ids.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_from_trace_ids.ts
Labels: Team:apm, release_note:fix, v7.11.0

#87093 [APM] Every time the new Header Icon is clicked it fetches data
  x-pack/plugins/apm/public/components/app/service_details/service_icons/index.tsx
Labels: Team:apm, release_note:skip, v7.11.0

#87113 Upgrade @hapi/hoek to revert hack introduced in hapi v20 upgrade
  package.json
  src/core/server/http/http_server.ts
  yarn.lock
Labels: release_note:skip, v7.12.0, v8.0.0

#86794 Expression renderer component: Prevent double update
  src/plugins/expressions/public/react_expression_renderer.test.tsx
  src/plugins/expressions/public/react_expression_renderer.tsx
Labels: Feature:ExpressionLanguage, Team:AppServices, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87089 [APM] Custom links can still be created with a read only user.
  x-pack/plugins/apm/public/components/app/Settings/AgentConfigurations/List/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/AgentConfigurations/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CreateCustomLinkButton.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkTable.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/index.test.tsx
  x-pack/plugins/apm/server/routes/settings/custom_link.ts
Labels: Team:apm, release_note:fix, v7.11.0

#87045 [Security Solution] Fix few styling issues
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/timeline/plugin.tsx
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/header.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/index.ts
  x-pack/test/api_integration/apis/security_solution/overview_host.ts
Labels: bug, release_note:fix, v7.10.2, v7.11.0, v8.0.0

#87122 [7.x] [APM] Add range query to service map trace walk (#86631)
  x-pack/plugins/apm/server/lib/service_map/fetch_service_paths_from_trace_ids.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_from_trace_ids.ts
Labels: backport

#86902 URL encoding for URL drilldown
  docs/user/dashboard/url-drilldown.asciidoc
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.test.ts
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/components/url_drilldown_collect_config/i18n.ts
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/components/url_drilldown_collect_config/url_drilldown_collect_config.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/types.ts
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.test.ts
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.ts
Labels: Feature:Drilldowns, Feature:UIActions, Team:AppServices, release_note:enhancement, review, v7.12.0, v8.0.0

#86994 remove SameSite:None cookie workaround
  src/core/server/http/cookie_session_storage.ts
Labels: Team:Core, chore, release_note:skip, v7.12.0

#87127 [7.x] [APM] Every time the new Header Icon is clicked it fetches data (#87093)
  x-pack/plugins/apm/public/components/app/service_details/service_icons/index.tsx
Labels: backport

#87128 [7.11] [APM] Every time the new Header Icon is clicked it fetches data (#87093)
  x-pack/plugins/apm/public/components/app/service_details/service_icons/index.tsx
Labels: backport

#87130 [7.x] Upgrade @hapi/hoek to revert hack introduced in hapi v20 upgrade (#87113)
  package.json
  src/core/server/http/http_server.ts
  yarn.lock
Labels: backport

#87097 [Uptime] adjust monitor status badge failed color
  x-pack/plugins/uptime/public/components/monitor/synthetics/__tests__/status_badge.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/status_badge.tsx
Labels: Team:uptime, bug, release_note:skip, v7.11.0, v8.0.0

#86878 [Synthetic check UI] waterfall view: moves arrow icon of next check btn to the right
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_detail.tsx
Labels: Team:uptime, bug, release_note:skip, v7.11.0

#87083 [7.11] [Security Solution] add a consistent spelling of ES in Policy Response (#87073)
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/policy_response_friendly_names.ts
Labels: backport

#87084 [7.x] [Security Solution] add a consistent spelling of ES in Policy Response (#87073)
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/policy_response_friendly_names.ts
Labels: backport

#87137 [APM] Change services panel guttersize to “xs”
  x-pack/plugins/apm/public/components/app/service_inventory/ServiceList/index.tsx
Labels: Team:apm, release_note:skip, v7.11.0

#85480 [Security Solution][Resolver] Adding docs for loading states and schema
  x-pack/plugins/security_solution/public/resolver/documentation/loading_node_data.md
  x-pack/plugins/security_solution/public/resolver/documentation/schema.md
Labels: Feature:Resolver, Team:Threat Hunting, release_note:skip, v7.12.0, v8.0.0

#87144 [7.10] [Security Solution] Fix few styling issues (#87045)
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/timeline/plugin.tsx
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/header.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/index.ts
  x-pack/test/api_integration/apis/security_solution/overview_host.ts
Labels: backport

#86837 [Alerting] Saved object remover for all e2e triggers_actions_ui tests
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alert_create_flyout.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_list.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/details.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/home_page.ts
  x-pack/test/functional_with_es_ssl/config.ts
  x-pack/test/functional_with_es_ssl/ftr_provider_context.d.ts
  x-pack/test/functional_with_es_ssl/lib/get_test_data.ts
  x-pack/test/functional_with_es_ssl/lib/object_remover.ts
  x-pack/test/functional_with_es_ssl/page_objects/alert_details.ts
  x-pack/test/functional_with_es_ssl/page_objects/triggers_actions_ui_page.ts
  x-pack/test/functional_with_es_ssl/services/alerting/actions.ts
  x-pack/test/functional_with_es_ssl/services/alerting/alerts.ts
  x-pack/test/functional_with_es_ssl/services/alerting/index.ts
  x-pack/test/functional_with_es_ssl/services/index.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.12.0, v8.0.0

#86468 [7.11][Telemetry] Update index name for diagnostic telemetry.
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
Labels: Team: SecuritySolution, release_note:fix, v7.11.0

#87140 [7.11] [APM] Custom links can still be created with a read only user. (#87089)
  x-pack/plugins/apm/public/components/app/Settings/AgentConfigurations/List/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/AgentConfigurations/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CreateCustomLinkButton.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkTable.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/index.test.tsx
  x-pack/plugins/apm/server/routes/settings/custom_link.ts
Labels: backport

#87139 [7.x] [APM] Custom links can still be created with a read only user. (#87089)
  x-pack/plugins/apm/public/components/app/Settings/AgentConfigurations/List/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/AgentConfigurations/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CreateCustomLinkButton.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/CustomLinkTable.tsx
  x-pack/plugins/apm/public/components/app/Settings/CustomizeUI/CustomLink/index.test.tsx
  x-pack/plugins/apm/server/routes/settings/custom_link.ts
Labels: backport

#87142 [7.11] [Security Solution] Fix few styling issues (#87045)
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/timeline/plugin.tsx
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/header.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/index.ts
  x-pack/test/api_integration/apis/security_solution/overview_host.ts
Labels: backport

#87145 [7.x] remove SameSite:None workaround (#86994)
  src/core/server/http/cookie_session_storage.ts
Labels: backport

#87135 [7.x] prevent double update (#86794)
  src/plugins/expressions/public/react_expression_renderer.test.tsx
  src/plugins/expressions/public/react_expression_renderer.tsx
Labels: backport

#87136 [7.11] prevent double update (#86794)
  src/plugins/expressions/public/react_expression_renderer.test.tsx
  src/plugins/expressions/public/react_expression_renderer.tsx
Labels: backport

#86277 [Fleet] add leading dot to hidden indices
  x-pack/plugins/fleet/server/services/api_keys/index.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/index.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/index.ts
  x-pack/plugins/fleet/server/services/setup.ts
  x-pack/test/fleet_api_integration/apis/agents_setup.ts
Labels: Team:Ingest Management, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#77981 Add missing backticks in reporting-settings.asciidoc (backport to 7.x)
  docs/settings/reporting-settings.asciidoc
Labels: Feature:Reporting, backport, docs, release_note:skip, v7.12.0, 💝community

#86789 [Alerting] Ensure a component is specified on the `actionParamsFields` field in all tests
  x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/utils.test.ts
  x-pack/plugins/triggers_actions_ui/README.md
  x-pack/plugins/triggers_actions_ui/public/application/action_type_registry.mock.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_connector_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_type_menu.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_modal.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_edit_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_add.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_edit.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/type_registry.test.ts
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: Feature:Alerting, Team:Alerting Services, release_note:skip, v7.12.0, v8.0.0

#46298 Add i18n test helper documentation.
  packages/kbn-i18n/GUIDELINE.md
Labels: Project:i18n, backport:skip, docs, release_note:skip, v8.0.0, 💝community

#87147 [APM] Forbidden Error when opening Indices page with read only user
  x-pack/plugins/apm/public/components/app/Settings/ApmIndices/index.tsx
Labels: Team:apm, release_note:skip, v7.11.0

#87150 [7.x] adjust monitor status badge failed color (#87097)
  x-pack/plugins/uptime/public/components/monitor/synthetics/__tests__/status_badge.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/status_badge.tsx
Labels: backport

#87151 [7.11] adjust monitor status badge failed color (#87097)
  x-pack/plugins/uptime/public/components/monitor/synthetics/__tests__/status_badge.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/status_badge.tsx
Labels: backport

#87079 [7.x] [SECURITY_SOLUTION][ENDPOINT] Delete Endpoint Policy List code (#87063)
  x-pack/plugins/security_solution/public/common/store/actions.ts
  x-pack/plugins/security_solution/public/management/common/constants.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/endpoint_pagination.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/mock_endpoint_result_list.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_list/action.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_list/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_list/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_list/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_list/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_list/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/services/ingest.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/services/ingest.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/test_mock_utils.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_hooks.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.tsx
  x-pack/plugins/security_solution/public/management/store/middleware.ts
  x-pack/plugins/security_solution/public/management/store/reducer.ts
  x-pack/plugins/security_solution/public/management/types.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_list.ts
  x-pack/test/security_solution_endpoint/page_objects/policy_page.ts
Labels: backport

#86764 [Logs UI] Adds purely visual changes to to the popovers and the settings view.
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_dropdown.tsx
  x-pack/plugins/infra/public/components/logging/log_text_stream/log_entry_context_menu.tsx
  x-pack/plugins/infra/public/pages/logs/settings/log_columns_configuration_panel.tsx
Labels: Team:logs-metrics-ui, release_note:skip, v7.12.0

#87158 [7.x] [Alerting] Saved object remover for all e2e triggers_actions_ui tests (#86837)
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alert_create_flyout.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_list.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/details.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/home_page.ts
  x-pack/test/functional_with_es_ssl/config.ts
  x-pack/test/functional_with_es_ssl/ftr_provider_context.d.ts
  x-pack/test/functional_with_es_ssl/lib/get_test_data.ts
  x-pack/test/functional_with_es_ssl/lib/object_remover.ts
  x-pack/test/functional_with_es_ssl/page_objects/alert_details.ts
  x-pack/test/functional_with_es_ssl/page_objects/triggers_actions_ui_page.ts
  x-pack/test/functional_with_es_ssl/services/alerting/actions.ts
  x-pack/test/functional_with_es_ssl/services/alerting/alerts.ts
  x-pack/test/functional_with_es_ssl/services/alerting/index.ts
  x-pack/test/functional_with_es_ssl/services/index.ts
Labels: backport

#87121 [7.10] Update dependency vega to ^5.17.1 (#86715)
  package.json
  yarn.lock
Labels: backport

#87118 [7.11] Update dependency vega to ^5.17.1 (#86715)
  package.json
  yarn.lock
Labels: backport

#87164 [7.11] Update index name for diagnostic telemetry. (#86468)
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
Labels: backport

#86905 [Security Solution][Resolver] Fix text overflow in panel breadcrumb
  x-pack/plugins/security_solution/public/resolver/view/panels/breadcrumbs.tsx
Labels: Team:Threat Hunting, bug, release_note:skip, v7.11.0, v8.0.0

#86919 [ML] Use doc links service for transforms
  src/core/public/doc_links/doc_links_service.ts
  x-pack/plugins/transform/public/app/constants/index.ts
  x-pack/plugins/transform/public/app/hooks/use_documentation_links.ts
Labels: :ml, Feature:Transforms, release_note:skip, v7.12.0, v8.0.0

#86942 Fix Dashboard Missing Default Path
  src/plugins/dashboard/public/application/dashboard_router.tsx
Labels: Feature:Dashboard, Team:Presentation, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#86475 [Security Solution][Resolver] Remove deprecated resolver routes
  x-pack/plugins/security_solution/common/endpoint/schema/resolver.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/public/resolver/models/resolver_tree.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/alerts.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/ancestry.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/docs/README.md
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/events.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/alerts.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/base.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/lifecycle.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/lifecycle.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/multi_searcher.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/stats.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/stats.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/queries/descendants.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/queries/lifecycle.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/utils/index.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/utils/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/alerts_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/ancestry_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_pagination.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_start_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/fetch.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/node.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/tree.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/tree.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/alerts.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/children.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/common.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/entity_id.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/tree.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/tree_entity_id.ts
Labels: Feature:Resolver, Team:Threat Hunting, release_note:skip, v7.12.0, v8.0.0

#87125 [Uptime] Fix breadcrumb for link back to monitor from waterfall page
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/__tests__/use_monitor_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_detail_container.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/use_monitor_breadcrumb.tsx
  x-pack/plugins/uptime/public/hooks/__tests__/use_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/hooks/use_breadcrumbs.ts
Labels: Team:uptime, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87197 [7.x] [Security Solution][Resolver] Adding docs for loading states and schema (#85480)
  x-pack/plugins/security_solution/public/resolver/documentation/loading_node_data.md
  x-pack/plugins/security_solution/public/resolver/documentation/schema.md
Labels: backport

#86684 Switches rollup usage collector's fetch es client to the new client
  x-pack/plugins/rollup/server/collectors/register.ts
Labels: Feature:Rollups, Feature:Telemetry, Team:Elasticsearch UI, release_note:skip, v7.12.0, v8.0.0

#86847 [Enterprise Search] Misc test branch coverage
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/build_search_ui_config.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/settings/log_retention/messaging/determine_tooltip_content.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/schema_add_field_modal.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/source_icon/source_icon.test.tsx
Labels: release_note:skip, v7.12.0

#87175 [7.x] [Alerting] Ensure a component is specified on the `actionParamsFields` field in all tests (#86789)
  x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/utils.test.ts
  x-pack/plugins/triggers_actions_ui/README.md
  x-pack/plugins/triggers_actions_ui/public/application/action_type_registry.mock.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_connector_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_type_menu.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_add_modal.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/connector_edit_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_add.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_edit.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/type_registry.test.ts
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: backport

#86973 [Security Solution] Fix pop up message
  x-pack/plugins/security_solution/public/common/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/security_solution/public/common/hooks/translations.ts
Labels: Team: SecuritySolution, Team:Threat Hunting, release_note:skip, v7.11.0, v8.0.0

#87171 [7.x] [Fleet] add leading dot to hidden indices (#86277)
  x-pack/plugins/fleet/server/services/api_keys/index.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/index.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/index.ts
  x-pack/plugins/fleet/server/services/setup.ts
  x-pack/test/fleet_api_integration/apis/agents_setup.ts
Labels: backport

#87172 [7.11] [Fleet] add leading dot to hidden indices (#86277)
  x-pack/plugins/fleet/server/services/api_keys/index.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/index.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/index.ts
  x-pack/plugins/fleet/server/services/setup.ts
  x-pack/test/fleet_api_integration/apis/agents_setup.ts
Labels: backport

#87179 [7.11] [APM] Forbidden Error when opening Indices page with read only user (#87147)
  x-pack/plugins/apm/public/components/app/Settings/ApmIndices/index.tsx
Labels: backport

#87178 [7.x] [APM] Forbidden Error when opening Indices page with read only user (#87147)
  x-pack/plugins/apm/public/components/app/Settings/ApmIndices/index.tsx
Labels: backport

#86822 [App Search] Final Document Creation API, Logic, & Summary/Error views
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/constants.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/paste_json_text.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/paste_json_text.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/upload_json_file.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/upload_json_file.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/errors.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/errors.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_documents.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_documents.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_section.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_section.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_section.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_sections.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_sections.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_flyout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_flyout.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/utils.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/documents.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/documents.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/index.ts
Labels: Feature:Plugins, release_note:skip, v7.12.0

#85862 [Monitoring] Fully control the in memory table pagination/sorting properties
  x-pack/plugins/monitoring/public/views/apm/instances/index.js
  x-pack/plugins/monitoring/public/views/base_eui_table_controller.js
  x-pack/plugins/monitoring/public/views/beats/listing/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
  x-pack/plugins/monitoring/public/views/logstash/nodes/index.js
Labels: Team:Monitoring, release_note:fix, review, v7.11.0, v8.0.0

#86702 [App Search] Fixed links to documents within meta engines
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.tsx
Labels: Feature:Plugins, release_note:skip, v7.11.0

#87193 update add data icon for consistency
  x-pack/plugins/infra/public/pages/logs/page_content.tsx
  x-pack/plugins/infra/public/pages/metrics/index.tsx
Labels: Feature:Logs UI, Feature:Metrics UI, Team:logs-metrics-ui, release_note:skip, v7.12.0, v8.0.0

#87186 [7.x] [Security Solution][Resolver] Fix text overflow in panel breadcrumb (#86905)
  x-pack/plugins/security_solution/public/resolver/view/panels/breadcrumbs.tsx
Labels: backport

#87209 Bump Node.js from version 10.22.1 to 10.23.1
  .node-version
  .nvmrc
  package.json
Labels: release_note:skip, v6.8.14

#87192 [7.11] Added default path to dashboard (#86942)
  src/plugins/dashboard/public/application/dashboard_router.tsx
Labels: backport

#87191 [7.x] Added default path to dashboard (#86942)
  src/plugins/dashboard/public/application/dashboard_router.tsx
Labels: backport

#87187 [7.11] [Security Solution][Resolver] Fix text overflow in panel breadcrumb (#86905)
  x-pack/plugins/security_solution/public/resolver/view/panels/breadcrumbs.tsx
Labels: backport

#87196 [Fleet] Add definition for existing route to OpenAPI file
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/update_package_policy.yaml
  x-pack/plugins/fleet/common/openapi/paths/package_policies@{package_policy_id}.yaml
Labels: Team:Ingest Management, release_note:skip, v7.12.0, v8.0.0

#87194 [7.x] [ML] Use doc links service for transforms (#86919)
  src/core/public/doc_links/doc_links_service.ts
  x-pack/plugins/transform/public/app/constants/index.ts
  x-pack/plugins/transform/public/app/hooks/use_documentation_links.ts
Labels: backport

#86500 [ML] Add doc link in help menu on more ML pages
  x-pack/plugins/ml/public/application/access_denied/page.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/page.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/page.tsx
  x-pack/plugins/ml/public/application/datavisualizer/datavisualizer_selector.tsx
  x-pack/plugins/ml/public/application/datavisualizer/file_based/file_datavisualizer.tsx
  x-pack/plugins/ml/public/application/datavisualizer/index_based/page.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/jobs.tsx
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.test.tsx
  x-pack/plugins/ml/public/application/settings/calendars/edit/__snapshots__/new_calendar.test.js.snap
  x-pack/plugins/ml/public/application/settings/calendars/edit/new_calendar.js
  x-pack/plugins/ml/public/application/settings/calendars/edit/new_calendar.test.js
  x-pack/plugins/ml/public/application/settings/calendars/list/__snapshots__/calendars_list.test.js.snap
  x-pack/plugins/ml/public/application/settings/calendars/list/calendars_list.js
  x-pack/plugins/ml/public/application/settings/calendars/list/calendars_list.test.js
  x-pack/plugins/ml/public/application/settings/filter_lists/edit/__snapshots__/edit_filter_list.test.js.snap
  x-pack/plugins/ml/public/application/settings/filter_lists/edit/edit_filter_list.js
  x-pack/plugins/ml/public/application/settings/filter_lists/edit/edit_filter_list.test.js
  x-pack/plugins/ml/public/application/settings/filter_lists/list/__snapshots__/filter_lists.test.js.snap
  x-pack/plugins/ml/public/application/settings/filter_lists/list/filter_lists.js
  x-pack/plugins/ml/public/application/settings/filter_lists/list/filter_lists.test.js
  x-pack/plugins/ml/public/application/settings/settings.test.tsx
  x-pack/plugins/ml/public/application/settings/settings.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer_page.tsx
Labels: :ml, release_note:skip, v7.12.0, v8.0.0

#87198 [7.x] [Security Solution][Resolver] Remove deprecated resolver routes (#86475)
  x-pack/plugins/security_solution/common/endpoint/schema/resolver.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/public/resolver/models/resolver_tree.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/alerts.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/ancestry.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/docs/README.md
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/events.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/alerts.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/base.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/children.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/lifecycle.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/lifecycle.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/multi_searcher.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/stats.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/stats.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/queries/descendants.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/queries/lifecycle.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/utils/index.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/utils/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/alerts_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/ancestry_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_helper.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_pagination.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/children_start_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/fetch.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/lifecycle_query_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/node.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/tree.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/tree.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/alerts.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/children.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/common.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/entity_id.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/tree.ts
  x-pack/test/security_solution_endpoint_api_int/apis/resolver/tree_entity_id.ts
Labels: backport

#87203 [7.x] Switches rollup usage collector's fetch es client to the new client (#86684)
  x-pack/plugins/rollup/server/collectors/register.ts
Labels: backport

#87005 [Metrics UI] Fix Process List layout issues
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/process_row.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/process_row_charts.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/processes_table.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/summary_table.tsx
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87199 [dev/cli] stop trimming log lines from the server
  src/dev/cli_dev_mode/log.ts
  src/dev/cli_dev_mode/optimizer.test.ts
  src/dev/cli_dev_mode/optimizer.ts
Labels: Team:Operations, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87141 [7.x] [Security Solution] Fix few styling issues (#87045)
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/timeline/plugin.tsx
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/header.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/index.ts
  x-pack/test/api_integration/apis/security_solution/overview_host.ts
Labels: backport

#87207 Bump Node.js from version 14.15.3 to 14.15.4
  .node-version
  .nvmrc
  package.json
Labels: release_note:skip, v7.10.2, v7.11.0, v7.12.0, v8.0.0

#86853 Migrates security solution usage collector es client from legacy to new
  x-pack/plugins/security_solution/server/usage/collector.ts
  x-pack/plugins/security_solution/server/usage/detections/detections.test.ts
  x-pack/plugins/security_solution/server/usage/detections/detections_helpers.ts
  x-pack/plugins/security_solution/server/usage/detections/index.ts
Labels: Feature:Telemetry, Team:SIEM, release_note:skip, v7.12.0, v8.0.0

#87182 Set containment alert recovery action group to 'No longer contained'
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/alert_type.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/alert_type.test.ts
Labels: Feature:Alerting, Team:Geo, release_note:enhancement, v7.12.0, v8.0.0

#87211 [7.x] [App Search] Final Document Creation API, Logic, & Summary/Error views (#86822)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/constants.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/paste_json_text.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/paste_json_text.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/upload_json_file.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_mode_components/upload_json_file.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/errors.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/errors.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_documents.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_documents.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_section.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_section.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_section.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_sections.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/creation_response_components/summary_sections.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_flyout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_flyout.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/utils.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/documents.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/documents.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/index.ts
Labels: backport

#87205 [7.11] [Security Solution] Fix pop up message (#86973)
  x-pack/plugins/security_solution/public/common/components/drag_and_drop/drag_drop_context_wrapper.tsx
  x-pack/plugins/security_solution/public/common/hooks/translations.ts
Labels: backport

#87202 [7.x] [Enterprise Search] Misc test branch coverage (#86847)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/build_search_ui_config.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/settings/log_retention/messaging/determine_tooltip_content.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/schema_add_field_modal.test.tsx
Labels: backport

#87174 [7.x] Update index name for diagnostic telemetry. (#86468)
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
Labels: backport

#87218 [7.11] [Monitoring] Fully control the in memory table pagination/sorting properties (#85862)
  x-pack/plugins/monitoring/public/views/apm/instances/index.js
  x-pack/plugins/monitoring/public/views/base_eui_table_controller.js
  x-pack/plugins/monitoring/public/views/beats/listing/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
  x-pack/plugins/monitoring/public/views/logstash/nodes/index.js
Labels: backport

#87217 [7.x] [Monitoring] Fully control the in memory table pagination/sorting properties (#85862)
  x-pack/plugins/monitoring/public/views/apm/instances/index.js
  x-pack/plugins/monitoring/public/views/base_eui_table_controller.js
  x-pack/plugins/monitoring/public/views/beats/listing/index.js
  x-pack/plugins/monitoring/public/views/elasticsearch/indices/index.js
  x-pack/plugins/monitoring/public/views/kibana/instances/index.js
  x-pack/plugins/monitoring/public/views/logstash/nodes/index.js
Labels: backport

#87053 [security/apiKeys] migrate from `id` to `ids` in ES request
  x-pack/plugins/alerts/server/invalidate_pending_api_keys/task.ts
  x-pack/plugins/security/server/authentication/api_keys/api_keys.test.ts
  x-pack/plugins/security/server/authentication/api_keys/api_keys.ts
  x-pack/plugins/security/server/routes/api_keys/invalidate.test.ts
  x-pack/plugins/security/server/routes/api_keys/invalidate.ts
  x-pack/test/api_integration/apis/security/api_keys.ts
  x-pack/test/fleet_api_integration/apis/agents/unenroll.ts
  x-pack/test/functional/apps/api_keys/home_page.ts
Labels: Team:Ingest Management, Team:Security, backport:skip, release_note:skip, v8.0.0

#87225 [7.x] [ML] Add doc link in help menu on more ML pages (#86500)
  x-pack/plugins/ml/public/application/access_denied/page.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/page.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/page.tsx
  x-pack/plugins/ml/public/application/datavisualizer/datavisualizer_selector.tsx
  x-pack/plugins/ml/public/application/datavisualizer/file_based/file_datavisualizer.tsx
  x-pack/plugins/ml/public/application/datavisualizer/index_based/page.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/jobs.tsx
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.test.tsx
  x-pack/plugins/ml/public/application/settings/calendars/edit/__snapshots__/new_calendar.test.js.snap
  x-pack/plugins/ml/public/application/settings/calendars/edit/new_calendar.js
  x-pack/plugins/ml/public/application/settings/calendars/edit/new_calendar.test.js
  x-pack/plugins/ml/public/application/settings/calendars/list/__snapshots__/calendars_list.test.js.snap
  x-pack/plugins/ml/public/application/settings/calendars/list/calendars_list.js
  x-pack/plugins/ml/public/application/settings/calendars/list/calendars_list.test.js
  x-pack/plugins/ml/public/application/settings/filter_lists/edit/__snapshots__/edit_filter_list.test.js.snap
  x-pack/plugins/ml/public/application/settings/filter_lists/edit/edit_filter_list.js
  x-pack/plugins/ml/public/application/settings/filter_lists/edit/edit_filter_list.test.js
  x-pack/plugins/ml/public/application/settings/filter_lists/list/__snapshots__/filter_lists.test.js.snap
  x-pack/plugins/ml/public/application/settings/filter_lists/list/filter_lists.js
  x-pack/plugins/ml/public/application/settings/filter_lists/list/filter_lists.test.js
  x-pack/plugins/ml/public/application/settings/settings.test.tsx
  x-pack/plugins/ml/public/application/settings/settings.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer_page.tsx
Labels: backport

#87185 [Fleet] Handle errors happenning during Fleet setup in the UI
  x-pack/plugins/fleet/public/applications/fleet/hooks/use_fleet_status.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.tsx
Labels: Team:Ingest Management, bug, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87228 [7.11] [Metrics UI] Fix Process List layout issues (#87005)
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/process_row.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/process_row_charts.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/processes_table.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/summary_table.tsx
Labels: backport

#87227 [7.x] [Metrics UI] Fix Process List layout issues (#87005)
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/process_row.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/process_row_charts.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/processes_table.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/summary_table.tsx
Labels: backport

#87229 [7.x] [dev/cli] stop trimming log lines from the server (#87199)
  src/dev/cli_dev_mode/log.ts
  src/dev/cli_dev_mode/optimizer.test.ts
  src/dev/cli_dev_mode/optimizer.ts
Labels: backport

#87230 [7.11] [dev/cli] stop trimming log lines from the server (#87199)
  src/dev/cli_dev_mode/log.ts
  src/dev/cli_dev_mode/optimizer.test.ts
  src/dev/cli_dev_mode/optimizer.ts
Labels: backport

#87183 [Fleet][EPM] Restore es-storage-related commits
  x-pack/plugins/fleet/common/constants/epm.ts
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/routes/epm/handlers.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/epm/archive/storage.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.ts
  x-pack/plugins/fleet/server/services/epm/packages/ensure_installed_default_packages.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/get_install_type.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/remove.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/update_assets.ts
Labels: Team:Ingest Management, release_note:skip, v7.12.0, v8.0.0

#87233 [7.x] Bump Node.js from version 14.15.3 to 14.15.4 (#87207)
  .node-version
  .nvmrc
  package.json
Labels: backport

#87234 [7.11] Bump Node.js from version 14.15.3 to 14.15.4 (#87207)
  .node-version
  .nvmrc
  package.json
Labels: backport

#87236 [7.x] Set containment alert recovery action group to 'No longer contained' (#87182)
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/alert_type.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/alert_type.test.ts
Labels: backport

#87238 Bump Node.js from version 10.22.1 to 10.23.1
  .node-version
  .nvmrc
  package.json
Labels: release_note:skip, v7.10.2

#87237 [7.x] Migrates security solution usage collector es client from legacy to new (#86853)
  x-pack/plugins/security_solution/server/usage/collector.ts
  x-pack/plugins/security_solution/server/usage/detections/detections.test.ts
  x-pack/plugins/security_solution/server/usage/detections/detections_helpers.ts
  x-pack/plugins/security_solution/server/usage/detections/index.ts
Labels: backport

#86057 [data.search.session] Store search strategy in saved object for background sessions
  x-pack/plugins/data_enhanced/common/index.ts
  x-pack/plugins/data_enhanced/common/search/session/types.ts
  x-pack/plugins/data_enhanced/server/search/session/session_service.test.ts
  x-pack/plugins/data_enhanced/server/search/session/session_service.ts
  x-pack/test/api_integration/apis/search/session.ts
Labels: Feature:Search, Project:AsyncSearch, Team:AppServices, release_note:skip, review, v7.12.0, v8.0.0

#87220 Toggle action and service icon menus
  x-pack/plugins/apm/public/components/app/service_details/service_icons/icon_popover.tsx
  x-pack/plugins/apm/public/components/app/service_details/service_icons/index.tsx
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
Labels: Team:apm, release_note:fix, v7.11.0, v8.0.0

#86835 [Security Solution] Cypress documentation updates
  x-pack/README.md
  x-pack/plugins/security_solution/cypress/README.md
Labels: Team: SecuritySolution, Team:Detections and Resp, release_note:skip, v7.12.0, v8.0.0

#87266 [7.x] [Security Solution] Cypress documentation updates (#86835)
  x-pack/README.md
  x-pack/plugins/security_solution/cypress/README.md
Labels: backport

#87249 [7.x] Add the existing route to openapi schema (#87196)
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/update_package_policy.yaml
  x-pack/plugins/fleet/common/openapi/paths/package_policies@{package_policy_id}.yaml
Labels: backport

#87263 [7.11] Toggle action and service icon menus (#87220)
  x-pack/plugins/apm/public/components/app/service_details/service_icons/icon_popover.tsx
  x-pack/plugins/apm/public/components/app/service_details/service_icons/index.tsx
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
Labels: backport

#87155 [7.11] [APM] Change services panel guttersize to “xs” (#87137)
  x-pack/plugins/apm/public/components/app/service_inventory/ServiceList/index.tsx
Labels: backport

#87065 [7.x] [Lens] Integrate searchSessionId into Lens app (#86297)
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/app.tsx
  x-pack/plugins/lens/public/app_plugin/mounter.tsx
  x-pack/plugins/lens/public/app_plugin/types.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/state_management.test.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/mocks.tsx
  x-pack/plugins/lens/public/editor_frame_service/service.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/service.tsx
  x-pack/plugins/lens/public/types.ts
Labels: backport

#87069 [7.x] [Lens] Add more chart editor tests based on the debug state (#86750)
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel.tsx
  x-pack/test/functional/apps/lens/chart_data.ts
  x-pack/test/functional/apps/lens/index.ts
  x-pack/test/functional/apps/lens/smokescreen.ts
  x-pack/test/functional/page_objects/lens_page.ts
Labels: backport

#86933 Remove extra external link in markdown editor
  src/plugins/vis_type_markdown/public/__snapshots__/markdown_options.test.tsx.snap
  src/plugins/vis_type_markdown/public/markdown_options.test.tsx
  src/plugins/vis_type_markdown/public/markdown_options.tsx
Labels: Feature:Markdown, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87201 [7.11] [Uptime] Fix breadcrumb for link back to monitor from waterfall page (#87125)
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/__tests__/use_monitor_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_detail_container.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/use_monitor_breadcrumb.tsx
  x-pack/plugins/uptime/public/hooks/__tests__/use_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/hooks/use_breadcrumbs.ts
Labels: backport

#87200 [7.x] [Uptime] Fix breadcrumb for link back to monitor from waterfall page (#87125)
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/__tests__/use_monitor_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_detail_container.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/use_monitor_breadcrumb.tsx
  x-pack/plugins/uptime/public/hooks/__tests__/use_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/hooks/use_breadcrumbs.ts
Labels: backport

#87146 [Uptime] Remove link to journey details page
  x-pack/plugins/uptime/public/components/monitor/ping_list/columns/__tests__/__snapshots__/ping_timestamp.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ping_list/columns/ping_timestamp.tsx
Labels: Team:uptime, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87154 [7.x] [APM] Change services panel guttersize to “xs” (#87137)
  x-pack/plugins/apm/public/components/app/service_inventory/ServiceList/index.tsx
Labels: backport

#87123 [7.11] [APM] Add range query to service map trace walk (#86631)
  x-pack/plugins/apm/server/lib/service_map/fetch_service_paths_from_trace_ids.ts
  x-pack/plugins/apm/server/lib/service_map/get_service_map_from_trace_ids.ts
Labels: backport

#87275 [7.x] Remove extra external link in markdown editor (#86933)
  src/plugins/vis_type_markdown/public/__snapshots__/markdown_options.test.tsx.snap
  src/plugins/vis_type_markdown/public/markdown_options.test.tsx
  src/plugins/vis_type_markdown/public/markdown_options.tsx
Labels: backport

#87276 [7.11] Remove extra external link in markdown editor (#86933)
  src/plugins/vis_type_markdown/public/__snapshots__/markdown_options.test.tsx.snap
  src/plugins/vis_type_markdown/public/markdown_options.test.tsx
  src/plugins/vis_type_markdown/public/markdown_options.tsx
Labels: backport

#87277 [7.x] [Uptime] Remove link to journey details page (#87146)
  x-pack/plugins/uptime/public/components/monitor/ping_list/columns/__tests__/__snapshots__/ping_timestamp.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ping_list/columns/ping_timestamp.tsx
Labels: backport

#87278 [7.11] [Uptime] Remove link to journey details page (#87146)
  x-pack/plugins/uptime/public/components/monitor/ping_list/columns/__tests__/__snapshots__/ping_timestamp.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ping_list/columns/ping_timestamp.tsx
Labels: backport

#87167 [APM] Settings: Move "HomeLink" into the sidebar
  x-pack/plugins/apm/public/components/app/Settings/index.tsx
Labels: Team:apm, release_note:skip, v7.11.0

#87256 [7.x] [Fleet] Handle errors happenning during Fleet setup in the UI (#87185)
  x-pack/plugins/fleet/public/applications/fleet/hooks/use_fleet_status.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.tsx
Labels: backport

#86473 Introduce mechanism to request default capabilities
  docs/development/core/server/kibana-plugin-core-server.capabilitiessetup.registerswitcher.md
  docs/development/core/server/kibana-plugin-core-server.capabilitiesswitcher.md
  src/core/public/application/capabilities/capabilities_service.test.ts
  src/core/public/application/capabilities/capabilities_service.tsx
  src/core/server/capabilities/capabilities_service.ts
  src/core/server/capabilities/integration_tests/capabilities_service.test.ts
  src/core/server/capabilities/resolve_capabilities.test.ts
  src/core/server/capabilities/resolve_capabilities.ts
  src/core/server/capabilities/routes/resolve_capabilities.ts
  src/core/server/capabilities/types.ts
  src/core/server/server.api.md
  x-pack/plugins/spaces/public/spaces_manager/spaces_manager.test.ts
  x-pack/plugins/spaces/public/spaces_manager/spaces_manager.ts
  x-pack/plugins/spaces/server/capabilities/capabilities_switcher.test.ts
  x-pack/plugins/spaces/server/capabilities/capabilities_switcher.ts
Labels: discuss, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87044 Improve webhook errror messages
  x-pack/plugins/actions/server/builtin_action_types/webhook.ts
Labels: Feature:Actions, Team:Alerting Services, release_note:enhancement, v7.12.0, v8.0.0

#87222 [7.x] Fixed links to meta engine documents (#86702)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.tsx
Labels: backport

#86926 [7.x] [Security Solution] [Detections] Multiple timestamp fields (#86368)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_events_query.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_events_query.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/single_search_after.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/single_search_after.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_find_previous_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
  x-pack/test/detection_engine_api_integration/basic/tests/find_statuses.ts
  x-pack/test/detection_engine_api_integration/basic/tests/open_close_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/add_actions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_exceptions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_rules.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_rules_bulk.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/date.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/double.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/float.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/integer.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/keyword.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/keyword_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/long.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/text.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/text_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/find_statuses.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/generating_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/open_close_signals.ts
  x-pack/test/detection_engine_api_integration/utils.ts
  x-pack/test/functional/es_archives/security_solution/timestamp_override/data.json.gz
  x-pack/test/functional/es_archives/security_solution/timestamp_override/mappings.json
Labels: backport

#86927 [7.11] [Security Solution] [Detections] Multiple timestamp fields (#86368)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_events_query.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_events_query.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/single_search_after.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/single_search_after.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_find_previous_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
  x-pack/test/detection_engine_api_integration/basic/tests/find_statuses.ts
  x-pack/test/detection_engine_api_integration/basic/tests/open_close_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/add_actions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_exceptions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_rules.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_rules_bulk.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/date.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/double.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/float.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/integer.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/ip_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/keyword.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/keyword_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/long.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/text.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/text_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/find_statuses.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/generating_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/open_close_signals.ts
  x-pack/test/detection_engine_api_integration/utils.ts
  x-pack/test/functional/es_archives/security_solution/timestamp_override/data.json.gz
  x-pack/test/functional/es_archives/security_solution/timestamp_override/mappings.json
Labels: backport

#87143 [7.x] URL encoding for URL drilldown (#86902)
  docs/user/dashboard/url-drilldown.asciidoc
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.test.ts
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/components/url_drilldown_collect_config/i18n.ts
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/components/url_drilldown_collect_config/url_drilldown_collect_config.tsx
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/types.ts
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.test.ts
  x-pack/plugins/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.ts
  x-pack/test/functional/apps/dashboard/drilldowns/dashboard_to_url_drilldown.ts
Labels: backport

#87102 uptime add title to waterfall sidebar truncated text
  x-pack/plugins/uptime/public/components/monitor/synthetics/waterfall/components/middle_truncated_text.test.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/waterfall/components/middle_truncated_text.tsx
Labels: Team:uptime, bug, release_note:skip, v7.11.0, v8.0.0

#87265 Add more URLs to documentation link service
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
Labels: Team:Core, release_note:skip, v7.12.0, v8.0.0

#87250 Fix broken documentation link in Visualize app
  docs/redirects.asciidoc
  src/core/public/doc_links/doc_links_service.ts
  src/plugins/visualize/public/application/utils/utils.ts
Labels: Team:Docs, Team:KibanaApp, release_note:skip, v7.10.2, v7.11.0, v7.12.0, v8.0.0

#87289 [7.x] [APM] Settings: Move "HomeLink" into the sidebar (#87167)
  x-pack/plugins/apm/public/components/app/Settings/index.tsx
Labels: backport

#87302 [DOCS] adding docs about distinction between two and three curly braces
  docs/user/alerting/defining-alerts.asciidoc
Labels: docs, release_note:skip, v7.11.0, v7.12.0, v8.0.0

#87262 [7.x] Toggle action and service icon menus (#87220)
  x-pack/plugins/apm/public/components/app/service_details/service_icons/icon_popover.tsx
  x-pack/plugins/apm/public/components/app/service_details/service_icons/index.tsx
  x-pack/plugins/apm/public/components/shared/TransactionActionMenu/TransactionActionMenu.tsx
Labels: backport

#87307 [7.x] adding docs about distinction between two and three curly braces for action variable interpolation (#87302)
  docs/user/alerting/defining-alerts.asciidoc
Labels: backport

#87308 [7.11] adding docs about distinction between two and three curly braces for action variable interpolation (#87302)
  docs/user/alerting/defining-alerts.asciidoc
Labels: backport

#87282 [7.x] [Logs UI] Adds purely visual changes to to the popovers and the settings view. (#86764)
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_dropdown.tsx
  x-pack/plugins/infra/public/components/logging/log_text_stream/log_entry_context_menu.tsx
  x-pack/plugins/infra/public/pages/logs/settings/log_columns_configuration_panel.tsx
Labels: backport

#87284 [7.x] [Synthetic check UI] waterfall view: moves arrow icon of next check btn to the right (#86878)
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_detail.tsx
Labels: backport

#87283 [7.x] [Logs UI] removes unnecessary panel in categories tabL (#86769)
  x-pack/plugins/infra/public/pages/logs/log_entry_categories/page_results_content.tsx
Labels: backport

#87290 [7.11] [APM] Settings: Move "HomeLink" into the sidebar (#87167)
  x-pack/plugins/apm/public/components/app/Settings/index.tsx
Labels: backport

#87291 [7.x] Introduce mechanism to request default capabilities (#86473)
  docs/development/core/server/kibana-plugin-core-server.capabilitiessetup.registerswitcher.md
  docs/development/core/server/kibana-plugin-core-server.capabilitiesswitcher.md
  src/core/public/application/capabilities/capabilities_service.test.ts
  src/core/public/application/capabilities/capabilities_service.tsx
  src/core/server/capabilities/capabilities_service.ts
  src/core/server/capabilities/integration_tests/capabilities_service.test.ts
  src/core/server/capabilities/resolve_capabilities.test.ts
  src/core/server/capabilities/resolve_capabilities.ts
  src/core/server/capabilities/routes/resolve_capabilities.ts
  src/core/server/capabilities/types.ts
  src/core/server/server.api.md
  x-pack/plugins/spaces/public/spaces_manager/spaces_manager.test.ts
  x-pack/plugins/spaces/public/spaces_manager/spaces_manager.ts
  x-pack/plugins/spaces/server/capabilities/capabilities_switcher.test.ts
  x-pack/plugins/spaces/server/capabilities/capabilities_switcher.ts
Labels: backport

#87292 [7.11] Introduce mechanism to request default capabilities (#86473)
  docs/development/core/server/kibana-plugin-core-server.capabilitiessetup.registerswitcher.md
  docs/development/core/server/kibana-plugin-core-server.capabilitiesswitcher.md
  src/core/public/application/capabilities/capabilities_service.test.ts
  src/core/public/application/capabilities/capabilities_service.tsx
  src/core/server/capabilities/capabilities_service.ts
  src/core/server/capabilities/integration_tests/capabilities_service.test.ts
  src/core/server/capabilities/resolve_capabilities.test.ts
  src/core/server/capabilities/resolve_capabilities.ts
  src/core/server/capabilities/routes/resolve_capabilities.ts
  src/core/server/capabilities/types.ts
  src/core/server/server.api.md
  x-pack/plugins/spaces/public/spaces_manager/spaces_manager.test.ts
  x-pack/plugins/spaces/public/spaces_manager/spaces_manager.ts
  x-pack/plugins/spaces/server/capabilities/capabilities_switcher.test.ts
  x-pack/plugins/spaces/server/capabilities/capabilities_switcher.ts
Labels: backport

#87299 [7.11] Improve webhook errror messages (#87044)
  x-pack/plugins/actions/server/builtin_action_types/webhook.ts
Labels: backport

#87297 [7.x] Improve webhook errror messages (#87044)
  x-pack/plugins/actions/server/builtin_action_types/webhook.ts
Labels: backport

#86893 [APM] `transactionType` should be required on service-specific endpoints
  x-pack/plugins/apm/public/components/shared/charts/transaction_error_rate_chart/index.tsx
  x-pack/plugins/apm/public/hooks/use_transaction_throughput_chart_fetcher.ts
  x-pack/plugins/apm/server/lib/services/get_service_transaction_groups/get_timeseries_data_for_transaction_groups.ts
  x-pack/plugins/apm/server/lib/services/get_service_transaction_groups/index.ts
  x-pack/plugins/apm/server/lib/services/get_service_transaction_groups/merge_transaction_group_data.ts
  x-pack/plugins/apm/server/lib/transactions/get_throughput_charts/index.ts
  x-pack/plugins/apm/server/routes/transactions.ts
  x-pack/test/apm_api_integration/basic/tests/feature_controls.ts
  x-pack/test/apm_api_integration/basic/tests/transactions/throughput.ts
Labels: Team:apm, release_note:fix, v7.11.0

#86195 [data.search.session] Add extend functionality to server-side search service
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.isearchstrategy.extend.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.isearchstrategy.md
  src/plugins/data/common/search/types.ts
  src/plugins/data/server/search/search_service.ts
  src/plugins/data/server/search/types.ts
  src/plugins/data/server/server.api.md
  x-pack/plugins/data_enhanced/server/search/eql_search_strategy.ts
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.test.ts
  x-pack/plugins/data_enhanced/server/search/es_search_strategy.ts
Labels: Feature:Search, Project:AsyncSearch, Team:AppServices, release_note:skip, v7.12.0, v8.0.0

#87264 [7.x] [data.search.session] Store search strategy in saved object for background sessions (#86057)
  x-pack/plugins/data_enhanced/common/index.ts
  x-pack/plugins/data_enhanced/common/search/session/types.ts
  x-pack/plugins/data_enhanced/server/search/session/session_service.test.ts
  x-pack/plugins/data_enhanced/server/search/session/session_service.ts
  x-pack/test/api_integration/apis/search/session.ts
Labels: backport

#86718 Use new es client in Uptime usage collector
  x-pack/plugins/uptime/server/lib/adapters/telemetry/kibana_telemetry_adapter.ts
  x-pack/plugins/uptime/server/lib/lib.ts
  x-pack/typings/elasticsearch/aggregations.d.ts
Labels: Feature:Telemetry, Team:uptime, release_note:skip, v7.12.0, v8.0.0

#87008 [Security Solution] JSON view for data is not displayed properly
  x-pack/plugins/security_solution/public/common/components/event_details/__snapshots__/event_details.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/event_details/event_details.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/event_details.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/event_details_flyout.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/expandable_event/index.tsx
Labels: Team: SecuritySolution, Team:Threat Hunting, release_note:skip, v7.11.0, v8.0.0

#86652 [7.x] [Security Solution] Fixing jest warnings and errors (#86532)
  x-pack/plugins/security_solution/public/cases/components/case_action_bar/index.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/event_details.test.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/events_viewer.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/builder/entry_item.test.tsx
  x-pack/plugins/security_solution/public/common/components/last_updated/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/ml/score/anomaly_score.test.tsx
  x-pack/plugins/security_solution/public/common/components/ml/score/anomaly_scores.test.tsx
  x-pack/plugins/security_solution/public/common/components/ml/score/create_descriptions_list.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/use_create_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_bar/index.test.tsx
Labels: backport

#87244 [Workplace Search] Move Personal Dashboard link to header
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/kibana_header_actions.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/kibana_header_actions.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/nav.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/nav.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/constants.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Plugins, backport:skip, release_note:skip, v8.0.0

#87323 [7.x] Add timestamp range example to kql docs (#87138)
  docs/discover/kuery.asciidoc
Labels: backport

#87239 [Workplace Search] Add routes for Org Settings
  x-pack/plugins/enterprise_search/server/routes/workplace_search/index.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/settings.test.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/settings.ts
Labels: Feature:Plugins, release_note:skip, v7.11.0

#87324 [7.11] Add timestamp range example to kql docs (#87138)
  docs/discover/kuery.asciidoc
Labels: backport

#87325 [7.10] Add timestamp range example to kql docs (#87138)
  docs/discover/kuery.asciidoc
Labels: backport

#87327 [7.9] Add timestamp range example to kql docs (#87138)
  docs/discover/kuery.asciidoc
Labels: backport

#87215 Update security docs
  docs/management/managing-saved-objects.asciidoc
  docs/user/security/securing-communications/index.asciidoc
  docs/user/security/securing-kibana.asciidoc
Labels: release_note:skip, v7.0.3, v7.1.3, v7.10.2, v7.11.0, v7.12.0, v7.2.3, v7.3.3, v7.4.3, v7.5.2, v7.6.3, v7.7.2, v7.8.2, v7.9.4, v8.0.0

#87258 [App Search] Minor var names follow-up
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.tsx
Labels: release_note:skip, v7.12.0
