Repository elastic/kibana, pull requests merged in 2021-12, with the labels that each got.

#119921 [Security Solution] Add alerts-as-data index names as alias to signals indices
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/__snapshots__/get_signals_template.test.ts.snap
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/create_index_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/create_preview_index_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.ts
Labels: v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v8.1.0, Team:Detection Alerts

#119314 [Alerting][Docs] Review usages of Alerting vs alerting
  docs/api/alerting.asciidoc
  docs/api/alerting/list_rule_types.asciidoc
  docs/apm/apm-alerts.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/user/alerting/alerting-getting-started.asciidoc
  docs/user/alerting/alerting-setup.asciidoc
  docs/user/alerting/alerting-troubleshooting.asciidoc
  docs/user/alerting/troubleshooting/alerting-common-issues.asciidoc
  docs/user/monitoring/kibana-alerts.asciidoc
  docs/user/production-considerations/task-manager-troubleshooting.asciidoc
  docs/user/security/tutorials/how-to-secure-access-to-kibana.asciidoc
Labels: release_note:skip, backport:skip, Team:Alerting Services, docs, v8.1.0

#120012 [8.0] [APM] Remove index_pattern.json and add custom field formatters (#119915)
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/errors/error_details.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress_start.ts
  x-pack/plugins/apm/scripts/test/e2e.js
  x-pack/plugins/apm/server/routes/data_view/create_static_data_view.ts
  x-pack/plugins/apm/server/routes/data_view/get_apm_data_view_attributes.ts
  x-pack/plugins/apm/server/tutorial/index.ts
  x-pack/plugins/apm/server/tutorial/index_pattern.json
  x-pack/test/apm_api_integration/tests/data_view/static.spec.ts
  x-pack/test/apm_api_integration/tests/historical_data/has_data.spec.ts
  x-pack/test/apm_api_integration/tests/traces/trace_by_id.spec.ts
Labels: backport

#120047 [8.0] [storybook] upgrade to 6.3.x (#119498)
  package.json
  packages/kbn-optimizer/src/integration_tests/__snapshots__/basic_optimization.test.ts.snap
  packages/kbn-storybook/BUILD.bazel
  packages/kbn-storybook/src/lib/default_config.ts
  packages/kbn-storybook/src/lib/theme_switcher.tsx
  packages/kbn-storybook/src/typings.ts
  packages/kbn-storybook/templates/index.ejs
  packages/kbn-ui-shared-deps-npm/webpack.config.js
  src/plugins/presentation_util/public/__stories__/wait_for.tsx
  typings/index.d.ts
  x-pack/plugins/fleet/storybook/preview.tsx
  yarn.lock
Labels: backport

#120048 [7.16] [storybook] upgrade to 6.3.x (#119498)
  package.json
  packages/kbn-optimizer/src/integration_tests/__snapshots__/basic_optimization.test.ts.snap
  packages/kbn-storybook/BUILD.bazel
  packages/kbn-storybook/src/lib/default_config.ts
  packages/kbn-storybook/src/lib/theme_switcher.tsx
  packages/kbn-storybook/src/typings.ts
  packages/kbn-storybook/templates/index.ejs
  packages/kbn-ui-shared-deps-npm/webpack.config.js
  src/plugins/presentation_util/public/__stories__/wait_for.tsx
  typings/index.d.ts
  x-pack/plugins/fleet/storybook/preview.tsx
  yarn.lock
Labels: backport

#120046 [8.0] [Security Solution] Add alerts-as-data index names as alias to signals indices (#119921)
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/__snapshots__/get_signals_template.test.ts.snap
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/create_index_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/create_preview_index_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.ts
Labels: backport

#120050 Analyze event external alerts
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0, Team:Threat Hunting:Investigations

#120055 [7.16] Use correct width for actions column (#120050)
  x-pack/plugins/security_solution/public/common/components/alerts_viewer/alerts_table.tsx
Labels: backport

#119958 [Canvas] Fixed layer controls visibility.
  x-pack/plugins/canvas/public/components/sidebar/sidebar_content/sidebar_content.component.tsx
  x-pack/plugins/canvas/public/components/sidebar_header/sidebar_header.tsx
Labels: release_note:fix, Team:Presentation, loe:hours, v8.0.0, impact:low, Feature:Canvas, auto-backport, v7.16.0, v8.1.0, backport-v7.16.0, backport-v8.0.0

#120061 [8.0] [Canvas] Fixed layer controls visibility. (#119958)
  x-pack/plugins/canvas/public/components/sidebar/sidebar_content/sidebar_content.component.tsx
  x-pack/plugins/canvas/public/components/sidebar_header/sidebar_header.tsx
Labels: backport

#119359 [Uptime] [Synthetics Service] Scheduled task to sync saved monitor objects
  x-pack/plugins/uptime/kibana.json
  x-pack/plugins/uptime/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/synthetics_service.ts
  x-pack/plugins/uptime/server/plugin.ts
Labels: v8.0.0, Team:uptime, release_note:skip, auto-backport

#119768 [Canvas] Added KibanaThemeProvider.
  x-pack/plugins/canvas/canvas_plugin_src/renderers/__stories__/table.stories.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/core.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/embeddable.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/filters/advanced_filter/index.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/filters/dropdown_filter/index.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/filters/index.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/filters/time_filter/index.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/markdown/__stories__/markdown.stories.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/markdown/index.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/table.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/text.tsx
  x-pack/plugins/canvas/public/application.tsx
  x-pack/plugins/canvas/public/lib/default_theme.ts
  x-pack/plugins/canvas/shareable_runtime/supported_renderers.js
Labels: Team:Presentation, loe:hours, release_note:skip, impact:low, backport:skip, Feature:Canvas, v8.1.0

#119940 [Exploratory View] Add a tooltip to the report metric badge [Closes #117447]
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/report_metric_options.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/report_metric_options.tsx
Labels: release_note:enhancement, enhancement, v8.0.0, auto-backport, v8.1.0

#120068 [8.0] [Uptime] [Synthetics Service] Scheduled task to sync saved monitor objects (#119359)
  x-pack/plugins/uptime/kibana.json
  x-pack/plugins/uptime/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/synthetics_service.ts
  x-pack/plugins/uptime/server/plugin.ts
Labels: backport

#120041 disable update view button
  x-pack/plugins/infra/public/components/saved_views/toolbar_control.tsx
Labels: v8.0.0, Team:Infra Monitoring UI, release_note:skip, v8.1.0

#120072 [8.0] [Exploratory View] Add a report metric tooltip to exploratory view [#117447] (#119940)
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/report_metric_options.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/report_metric_options.tsx
Labels: backport

#120062 [7.16] [Canvas] Fixed layer controls visibility. (#119958)
  x-pack/plugins/canvas/public/components/sidebar/sidebar_content/sidebar_content.component.tsx
  x-pack/plugins/canvas/public/components/sidebar_header/sidebar_header.tsx
Labels: backport

#119423 Remove deprecated imports
  src/plugins/vis_types/timelion/public/async_services.ts
  src/plugins/vis_types/timelion/public/components/timelion_vis_component.tsx
  src/plugins/vis_types/timelion/public/helpers/timelion_request_handler.ts
  src/plugins/vis_types/timelion/public/timelion_vis_fn.ts
  src/plugins/vis_types/timelion/public/timelion_vis_renderer.tsx
  src/plugins/vis_types/timeseries/common/types/index.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/annotations/query.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/filter_ratios.js
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/query.js
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/split_by_filter.js
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/split_by_filters.js
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/filter_ratios.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/query.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/split_by_everything.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/split_by_terms.ts
  src/plugins/vis_types/vega/public/async_services.ts
  src/plugins/vis_types/vega/public/components/vega_vis_component.tsx
  src/plugins/vis_types/vega/public/vega_fn.ts
  src/plugins/vis_types/vega/public/vega_request_handler.ts
  src/plugins/vis_types/vega/public/vega_vis_renderer.tsx
  src/plugins/visualizations/public/embeddable/visualize_embeddable.tsx
  src/plugins/visualize/common/locator.ts
  src/plugins/visualize/public/application/types.ts
  src/plugins/visualize/public/application/utils/use/use_linked_search_updates.ts
  src/plugins/visualize/public/application/utils/utils.ts
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/fields_accordion.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/validation.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx
  x-pack/plugins/lens/public/persistence/filter_references.test.ts
  x-pack/plugins/lens/public/state_management/types.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/server/migrations/saved_object_migrations.ts
  x-pack/plugins/lens/server/migrations/types.ts
Labels: Team:VisEditors, release_note:skip, backport:skip, v8.1.0

#120008 [ci] Include ciBuildJobId in APM globalLabels
  packages/kbn-apm-config-loader/src/config.ts
Labels: Team:Operations, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0

#120010 [Metrics UI] Stabilize home page tests
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/waffle_time_controls.tsx
  x-pack/test/functional/apps/infra/home_page.ts
  x-pack/test/functional/page_objects/infra_home_page.ts
  x-pack/test/functional/page_objects/infra_saved_views.ts
Labels: Feature:Metrics UI, v8.0.0, Team:Infra Monitoring UI, release_note:skip, v8.1.0

#119583 [Discover] Fix csv report for filtered discover result on dashboard
  src/plugins/discover/public/utils/get_sharing_data.ts
  x-pack/test/functional/apps/dashboard/reporting/__snapshots__/download_csv.snap
  x-pack/test/functional/apps/dashboard/reporting/download_csv.ts
Labels: Feature:Discover, release_note:fix, auto-backport, v8.1.0, Team:DataDiscovery, v7.16.1

#119945 [ML] Removes APM NodeJS and RUM Javascript modules
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/logo.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/abnormal_span_durations_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/anomalous_error_rate_for_user_agents_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_abnormal_span_durations_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_anomalous_error_rate_for_user_agents_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_decreased_throughput_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_high_count_by_user_agent_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/decreased_throughput_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/high_count_by_user_agent_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/logo.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/abnormal_span_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/abnormal_trace_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/datafeed_abnormal_span_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/datafeed_abnormal_trace_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/datafeed_decreased_throughput_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/decreased_throughput_nodejs.json
  x-pack/test/api_integration/apis/ml/index.ts
  x-pack/test/api_integration/apis/ml/modules/get_module.ts
  x-pack/test/api_integration/apis/ml/modules/recognize_module.ts
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
  x-pack/test/functional/es_archives/ml/module_apm/data.json.gz
  x-pack/test/functional/es_archives/ml/module_apm/mappings.json
Labels: review, release_note:breaking, :ml, Feature:Anomaly Detection, v8.0.0, auto-backport, v8.1.0

#119985 [RAC] fix failing alerts table pagination functional tests
  x-pack/test/functional/es_archives/observability/alerts/data.json.gz
  x-pack/test/functional/services/observability/alerts/common.ts
  x-pack/test/functional/services/observability/alerts/pagination.ts
  x-pack/test/observability_functional/apps/observability/alerts/index.ts
  x-pack/test/observability_functional/apps/observability/alerts/pagination.ts
Labels: release_note:fix, v8.0.0, auto-backport, Theme: rac, v8.1.0, Team: Actionable Observability

#119876 [Security Solution] Update host isolation exceptions test to check for specific API call
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.test.tsx
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport

#119831 [Console] Fix error markers in editor output
  src/plugins/console/public/application/containers/editor/legacy/console_editor/editor_output.tsx
Labels: Feature:Console, Feature:Dev Tools, release_note:fix, Team:Stack Management, backport:skip, v8.1.0

#120080 [8.0] [ci] Include ciBuildJobId in APM globalLabels (#120008)
  packages/kbn-apm-config-loader/src/config.ts
Labels: backport

#120081 [7.16] [ci] Include ciBuildJobId in APM globalLabels (#120008)
  packages/kbn-apm-config-loader/src/config.ts
Labels: backport

#120083 [8.0] [Metrics UI] Stabilize home page tests (#120010)
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/waffle_time_controls.tsx
  x-pack/test/functional/apps/infra/home_page.ts
  x-pack/test/functional/page_objects/infra_home_page.ts
  x-pack/test/functional/page_objects/infra_saved_views.ts
Labels: backport

#120084 [8.0] [ML] Removes APM NodeJS and RUM Javascript modules (#119945)
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/logo.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/abnormal_span_durations_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/anomalous_error_rate_for_user_agents_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_abnormal_span_durations_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_anomalous_error_rate_for_user_agents_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_decreased_throughput_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/datafeed_high_count_by_user_agent_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/decreased_throughput_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_jsbase/ml/high_count_by_user_agent_jsbase.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/logo.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/manifest.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/abnormal_span_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/abnormal_trace_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/datafeed_abnormal_span_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/datafeed_abnormal_trace_durations_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/datafeed_decreased_throughput_nodejs.json
  x-pack/plugins/ml/server/models/data_recognizer/modules/apm_nodejs/ml/decreased_throughput_nodejs.json
  x-pack/test/api_integration/apis/ml/index.ts
  x-pack/test/api_integration/apis/ml/modules/get_module.ts
  x-pack/test/api_integration/apis/ml/modules/recognize_module.ts
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
  x-pack/test/functional/es_archives/ml/module_apm/data.json.gz
  x-pack/test/functional/es_archives/ml/module_apm/mappings.json
Labels: backport

#119591 Improve the HTTP and routing doc with more examples
  dev_docs/tutorials/endpoints.mdx
Labels: Team:Core, v8.0.0, release_note:skip, Project:DevDocs, auto-backport, v8.1.0

#119972 [SecuritySolution] Fix styling issue for data views
  src/plugins/data_view_management/public/components/index_pattern_table/index_pattern_table.tsx
Labels: bug, v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v8.1.0, Team:Threat Hunting:Explore

#119640 add docs how to debug Kibana using log correlation
  docs/developer/getting-started/debugging.asciidoc
Labels: Team:Core, release_note:skip, backport:skip, docs, v8.1.0

#119932 enable execution_context by default
  src/core/server/execution_context/execution_context_config.ts
  test/plugin_functional/config.ts
  x-pack/test/functional_execution_context/config.ts
Labels: chore, Team:Core, release_note:plugin_api_changes, backport:skip, v8.1.0

#119415 [data views] data view api docs - index patterns => data views
  dev_docs/key_concepts/building_blocks.mdx
  dev_docs/tutorials/data_views.mdx
  docs/api/dashboard-api.asciidoc
  docs/api/data-views.asciidoc
  docs/api/data-views/create.asciidoc
  docs/api/data-views/default-get.asciidoc
  docs/api/data-views/default-set.asciidoc
  docs/api/data-views/delete.asciidoc
  docs/api/data-views/get.asciidoc
  docs/api/data-views/runtime-fields/create.asciidoc
  docs/api/data-views/runtime-fields/delete.asciidoc
  docs/api/data-views/runtime-fields/get.asciidoc
  docs/api/data-views/runtime-fields/update.asciidoc
  docs/api/data-views/runtime-fields/upsert.asciidoc
  docs/api/data-views/update-fields.asciidoc
  docs/api/data-views/update.asciidoc
  docs/api/index-patterns.asciidoc
  docs/api/saved-objects.asciidoc
  docs/redirects.asciidoc
  docs/user/api.asciidoc
Labels: Feature:Data Views, v8.0.0, Feature:Kibana Management, Team:AppServicesSv, release_note:skip, docs, auto-backport, v8.1.0

#120001 chore(NA): splits types from code on @kbn/apm-config-loader
  package.json
  packages/BUILD.bazel
  packages/kbn-apm-config-loader/BUILD.bazel
  packages/kbn-apm-config-loader/package.json
  yarn.lock
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v8.1.0

#120092 [8.0] Improve the HTTP and routing doc with more examples (#119591)
  dev_docs/tutorials/endpoints.mdx
Labels: backport

#120023 [File upload] Rename geo-shape field to geometry
  x-pack/plugins/file_upload/public/components/json_upload_and_parse.tsx
  x-pack/plugins/file_upload/public/importer/geojson_importer/geojson_importer.test.js
  x-pack/plugins/file_upload/public/importer/geojson_importer/geojson_importer.ts
Labels: release_note:enhancement, Team:Geo, release_note:skip, backport:skip, v8.1.0

#119709 [APM] Display relevant anomalies from multi-metric job
  packages/elastic-apm-synthtrace/src/lib/apm/base_span.ts
  packages/elastic-apm-synthtrace/src/lib/apm/utils/get_transaction_metrics.ts
  x-pack/plugins/apm/common/anomaly_detection/apm_ml_anomaly_query.ts
  x-pack/plugins/apm/common/anomaly_detection/apm_ml_detectors.ts
  x-pack/plugins/apm/common/anomaly_detection/get_preferred_service_anomaly_timeseries.test.ts
  x-pack/plugins/apm/common/anomaly_detection/get_preferred_service_anomaly_timeseries.ts
  x-pack/plugins/apm/common/anomaly_detection/service_anomaly_timeseries.ts
  x-pack/plugins/apm/public/components/app/error_group_overview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_throughput_chart.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_overview/index.tsx
  x-pack/plugins/apm/public/components/routing/settings/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_main_template.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/analyze_data_button.stories.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/settings_template.tsx
  x-pack/plugins/apm/public/components/shared/EnvironmentFilter/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/failed_transaction_rate_chart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/helper/get_chart_anomaly_timeseries.tsx
  x-pack/plugins/apm/public/components/shared/charts/latency_chart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/latency_chart/latency_chart.stories.tsx
  x-pack/plugins/apm/public/components/shared/charts/timeseries_chart.tsx
  x-pack/plugins/apm/public/components/shared/charts/transaction_charts/index.tsx
  x-pack/plugins/apm/public/context/apm_service/apm_service_context.tsx
  x-pack/plugins/apm/public/context/environments_context/environments_context.tsx
  x-pack/plugins/apm/public/context/environments_context/use_environments_context.tsx
  x-pack/plugins/apm/public/context/service_anomaly_timeseries/service_anomaly_timeseries_context.tsx
  x-pack/plugins/apm/public/context/service_anomaly_timeseries/use_service_anomaly_timeseries_context.tsx
  x-pack/plugins/apm/public/hooks/use_environments_fetcher.tsx
  x-pack/plugins/apm/public/hooks/use_preferred_service_anomaly_timeseries.ts
  x-pack/plugins/apm/public/selectors/latency_chart_selector.test.ts
  x-pack/plugins/apm/public/selectors/latency_chart_selectors.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/anomaly_search.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/apm_ml_anomaly_query.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/apm_ml_jobs_query.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/get_anomaly_result_bucket_size.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/get_anomaly_timeseries.ts
  x-pack/plugins/apm/server/routes/environments/get_environments.ts
  x-pack/plugins/apm/server/routes/service_map/get_service_anomalies.ts
  x-pack/plugins/apm/server/routes/services/route.ts
  x-pack/plugins/apm/server/routes/transactions/get_anomaly_data/fetcher.ts
  x-pack/plugins/apm/server/routes/transactions/get_anomaly_data/index.ts
  x-pack/plugins/apm/server/routes/transactions/route.ts
  x-pack/plugins/apm/typings/timeseries.ts
  x-pack/plugins/observability/server/index.ts
  x-pack/plugins/observability/server/utils/queries.ts
  x-pack/test/apm_api_integration/common/config.ts
  x-pack/test/apm_api_integration/tests/anomalies/anomaly_charts.spec.ts
  x-pack/test/apm_api_integration/tests/transactions/__snapshots__/latency.spec.snap
  x-pack/test/apm_api_integration/tests/transactions/latency.spec.ts
Labels: release_note:enhancement, Team:apm, v8.0.0, auto-backport, v8.1.0

#120096 [8.0] [SecuritySolution] Fix styling issue for data views (#119972)
  src/plugins/index_pattern_management/public/components/index_pattern_table/index_pattern_table.tsx
Labels: backport

#120097 [8.0] [data views] data view api docs - index patterns => data views (#119415)
  dev_docs/key_concepts/building_blocks.mdx
  dev_docs/tutorials/data_views.mdx
  docs/api/dashboard-api.asciidoc
  docs/api/data-views.asciidoc
  docs/api/data-views/create.asciidoc
  docs/api/data-views/default-get.asciidoc
  docs/api/data-views/default-set.asciidoc
  docs/api/data-views/delete.asciidoc
  docs/api/data-views/get.asciidoc
  docs/api/data-views/runtime-fields/create.asciidoc
  docs/api/data-views/runtime-fields/delete.asciidoc
  docs/api/data-views/runtime-fields/get.asciidoc
  docs/api/data-views/runtime-fields/update.asciidoc
  docs/api/data-views/runtime-fields/upsert.asciidoc
  docs/api/data-views/update-fields.asciidoc
  docs/api/data-views/update.asciidoc
  docs/api/index-patterns.asciidoc
  docs/api/saved-objects.asciidoc
  docs/redirects.asciidoc
  docs/user/api.asciidoc
Labels: backport

#118836 [APM] Adds support to install latest prerelease APM package version
  src/plugins/home/public/application/components/tutorial/instruction.js
  x-pack/plugins/apm/common/fleet.ts
  x-pack/plugins/apm/public/tutorial/config_agent/config_agent.stories.tsx
  x-pack/plugins/apm/public/tutorial/config_agent/index.test.tsx
  x-pack/plugins/apm/public/tutorial/config_agent/index.tsx
  x-pack/plugins/apm/public/tutorial/config_agent/rum_script.tsx
  x-pack/plugins/apm/public/tutorial/tutorial_fleet_instructions/index.tsx
  x-pack/plugins/apm/public/tutorial/tutorial_fleet_instructions/tutorial_fleet_instructions.stories.tsx
  x-pack/plugins/apm/server/plugin.ts
  x-pack/plugins/apm/server/routes/apm_routes/register_apm_server_routes.ts
  x-pack/plugins/apm/server/routes/fleet/create_cloud_apm_package_policy.ts
  x-pack/plugins/apm/server/routes/fleet/get_apm_package_policy_definition.ts
  x-pack/plugins/apm/server/routes/fleet/register_fleet_policy_callbacks.ts
  x-pack/plugins/apm/server/routes/fleet/route.ts
  x-pack/plugins/apm/server/routes/typings.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/security_solution/server/endpoint/mocks.ts
Labels: Team:apm, v8.0.0, release_note:skip, Team:Fleet, auto-backport

#120100 [8.0] chore(NA): splits types from code on @kbn/apm-config-loader (#120001)
  package.json
  packages/BUILD.bazel
  packages/kbn-apm-config-loader/BUILD.bazel
  packages/kbn-apm-config-loader/package.json
  yarn.lock
Labels: backport

#120107 [8.0] [App Search, Crawler] Fix typo: falure -> failure (#120065)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/utils.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#120087 [8.0] [Security Solution] Update host isolation exceptions test to check for specific API call (#119876)
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.test.tsx
Labels: backport

#119602 [RAC] turn off observability alerts as data writing in a more granular way
  x-pack/plugins/rule_registry/server/config.ts
  x-pack/plugins/rule_registry/server/plugin.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/resource_installer.test.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/resource_installer.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/rule_data_plugin_service.ts
Labels: v8.0.0, release_note:skip, auto-backport, Theme: rac, v8.1.0, Team: Actionable Observability

#119942 Improve data grid rendering performance
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
Labels: Feature:Discover, performance, release_note:skip, v8.1.0, Team:DataDiscovery

#120117 [8.0] [APM] Bug: Navigating between trace samples by pagination moves the viewport up to the top of the page (#119233)
  x-pack/plugins/apm/public/components/app/transaction_details/distribution/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/transaction_details_tabs.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/Waterfall/index.tsx
Labels: backport

#120114 [8.0] [APM] Adds support to install latest prerelease APM package version (#118836)
  src/plugins/home/public/application/components/tutorial/instruction.js
  x-pack/plugins/apm/common/fleet.ts
  x-pack/plugins/apm/public/tutorial/config_agent/config_agent.stories.tsx
  x-pack/plugins/apm/public/tutorial/config_agent/index.test.tsx
  x-pack/plugins/apm/public/tutorial/config_agent/index.tsx
  x-pack/plugins/apm/public/tutorial/config_agent/rum_script.tsx
  x-pack/plugins/apm/public/tutorial/tutorial_fleet_instructions/index.tsx
  x-pack/plugins/apm/public/tutorial/tutorial_fleet_instructions/tutorial_fleet_instructions.stories.tsx
  x-pack/plugins/apm/server/plugin.ts
  x-pack/plugins/apm/server/routes/apm_routes/register_apm_server_routes.ts
  x-pack/plugins/apm/server/routes/fleet/create_cloud_apm_package_policy.ts
  x-pack/plugins/apm/server/routes/fleet/get_apm_package_policy_definition.ts
  x-pack/plugins/apm/server/routes/fleet/register_fleet_policy_callbacks.ts
  x-pack/plugins/apm/server/routes/fleet/route.ts
  x-pack/plugins/apm/server/routes/typings.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/security_solution/server/endpoint/mocks.ts
Labels: backport

#120076 [ML] Functional tests - add retry to Fleet package install and removal
  x-pack/test/functional/services/ml/test_resources.ts
Labels: :ml, v8.0.0, release_note:skip, test-api-integration, auto-backport, v7.16.0, v8.1.0

#120118 [7.16] [APM] Bug: Navigating between trace samples by pagination moves the viewport up to the top of the page (#119233)
  x-pack/plugins/apm/public/components/app/transaction_details/distribution/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/transaction_details_tabs.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/Waterfall/index.tsx
Labels: backport

#120121 chore(NA): use internal pkg_npm on @kbn/babel-code-parser
  packages/kbn-babel-code-parser/BUILD.bazel
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v8.1.0

#119017 [Fleet] Add scoped AgentService
  x-pack/plugins/fleet/common/constants/plugin.ts
  x-pack/plugins/fleet/server/errors/index.ts
  x-pack/plugins/fleet/server/index.ts
  x-pack/plugins/fleet/server/mocks/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/security.ts
  x-pack/plugins/fleet/server/routes/setup/handlers.test.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.mock.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.test.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/index.ts
  x-pack/plugins/fleet/server/types/request_context.ts
  x-pack/plugins/osquery/server/lib/parse_agent_groups.ts
  x-pack/plugins/osquery/server/routes/action/create_action_route.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_policies.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_status_for_agent_policy.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agents.ts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/endpoint/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/enrichment.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.ts
  x-pack/plugins/security_solution/server/endpoint/routes/policy/handlers.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/policy/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/policy/service.ts
  x-pack/plugins/security_solution/server/endpoint/services/endpoint_fleet_services.ts
  x-pack/plugins/security_solution/server/endpoint/services/metadata/endpoint_metadata_service.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/metadata/endpoint_metadata_service.ts
  x-pack/plugins/security_solution/server/endpoint/services/metadata/mocks.ts
  x-pack/plugins/security_solution/server/fixtures.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/index.test.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/types.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/index.ts
  x-pack/plugins/security_solution/server/types.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, OLM Sprint, v8.1.0

#120126 [8.0] [RAC] turn off observability alerts as data writing in a more granular way (#119602)
  x-pack/plugins/rule_registry/server/config.ts
  x-pack/plugins/rule_registry/server/plugin.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/resource_installer.test.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/resource_installer.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/rule_data_plugin_service.ts
Labels: backport

#120098 [Fleet] Fix typo in Fleet fixtures
  x-pack/test/functional/es_archives/fleet/agents/mappings.json
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0

#120130 [8.0] [ML] Functional tests - add retry to Fleet package install and removal (#120076)
  x-pack/test/functional/services/ml/test_resources.ts
Labels: backport

#120131 [Workplace Search] Factor out Document-level Permissions components for re-use
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/connect_instance.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/connect_instance.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_callout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_callout.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_field.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_field.tsx
Labels: v8.0.0, release_note:skip, auto-backport, v8.1.0

#120132 [7.16] [ML] Functional tests - add retry to Fleet package install and removal (#120076)
  x-pack/test/functional/services/ml/test_resources.ts
Labels: backport

#120063 [App Search, Crawler] Optional domain validation
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.tsx
Labels: Feature:Plugins, v8.0.0, release_note:skip, auto-backport, v8.1.0

#117957 [DOCS] Updates Add Data page
  docs/setup/connect-to-elasticsearch.asciidoc
  docs/setup/images/add-data-fv.png
  docs/setup/images/add-data-tutorials.png
  docs/setup/images/add-integration.png
  docs/setup/images/add-sample-data.png
  docs/setup/images/addData_fleet_7.15.0.png
  docs/setup/images/addData_home_7.15.0.png
  docs/setup/images/integration-filter.png
Labels: Team:Docs, v8.0.0, release_note:skip, v7.16.0, v8.1.0

#120138 [8.0] chore(NA): use internal pkg_npm on @kbn/babel-code-parser (#120121)
  packages/kbn-babel-code-parser/BUILD.bazel
Labels: backport

#120148 [DOCS] Adds osquery to whats new
  docs/user/whats-new.asciidoc
Labels: Team:Docs, release_note:skip, v7.16.0

#120141 [8.0] [Fleet] Fix typo in Fleet fixtures (#120098)
  x-pack/test/functional/es_archives/fleet/agents/mappings.json
Labels: backport

#120140 [8.0] [Fleet] Add scoped AgentService (#119017)
  x-pack/plugins/fleet/common/constants/plugin.ts
  x-pack/plugins/fleet/server/errors/index.ts
  x-pack/plugins/fleet/server/index.ts
  x-pack/plugins/fleet/server/mocks/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/security.ts
  x-pack/plugins/fleet/server/routes/setup/handlers.test.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.mock.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.test.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/index.ts
  x-pack/plugins/fleet/server/types/request_context.ts
  x-pack/plugins/osquery/server/lib/parse_agent_groups.ts
  x-pack/plugins/osquery/server/routes/action/create_action_route.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_policies.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_status_for_agent_policy.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agents.ts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/endpoint/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/enrichment.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/agent_status.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/support/unenroll.ts
  x-pack/plugins/security_solution/server/endpoint/routes/policy/handlers.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/policy/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/policy/service.ts
  x-pack/plugins/security_solution/server/endpoint/services/endpoint_fleet_services.ts
  x-pack/plugins/security_solution/server/endpoint/services/metadata/endpoint_metadata_service.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/metadata/endpoint_metadata_service.ts
  x-pack/plugins/security_solution/server/endpoint/services/metadata/mocks.ts
  x-pack/plugins/security_solution/server/fixtures.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/index.test.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/types.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/index.ts
  x-pack/plugins/security_solution/server/types.ts
Labels: backport

#120145 [8.0] [Workplace Search] Factor out Document-level Permissions components for re-use (#120131)
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/connect_instance.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/connect_instance.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_callout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_callout.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_field.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/document_permissions_field.tsx
Labels: backport

#119682 [App Search] Add accordion lists for Domains, Seed URLs, and Sitemap URLs to Crawl Details Flyout
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/accordion_list.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/accordion_list.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/accordion_list.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/crawl_details_flyout.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/crawl_details_preview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/crawl_details_preview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_event_type_badge.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_requests_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawl_detail_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.ts
Labels: Feature:Plugins, v8.0.0, release_note:skip, auto-backport, v8.1.0

#120149 [8.0] [Crawler] Make domain validation optional (#120063)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.tsx
Labels: backport

#119913 [Dashboard] Move Sharing Saved Object Props into Meta Object
  examples/embeddable_examples/public/book/book_embeddable.tsx
  examples/embeddable_examples/public/book/book_embeddable_factory.tsx
  src/plugins/dashboard/public/application/lib/diff_dashboard_state.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.mock.tsx
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.test.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.tsx
  src/plugins/embeddable/public/plugin.tsx
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/lens_attribute_service.ts
  x-pack/plugins/lens/public/mocks/services_mock.tsx
  x-pack/plugins/lens/public/state_management/__snapshots__/load_initial.test.tsx.snap
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.ts
  x-pack/plugins/lens/public/state_management/load_initial.test.tsx
  x-pack/plugins/maps/public/map_attribute_service.ts
  x-pack/plugins/maps/public/routes/map_page/saved_map/saved_map.ts
Labels: Feature:Dashboard, Feature:Embedding, Team:Geo, Team:Presentation, loe:days, Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, impact:high, v7.16.0, v8.1.0

#120088 [Security Solution][Detections] Fix 409 conflict error happening when user enables a rule
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/perform_bulk_action_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/enable_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/patch_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/update_rules.ts
Labels: bug, release_note:fix, v8.0.0, Team:Detections and Resp, Team: SecuritySolution, auto-backport, Feature:Rule Management, v8.1.0, Team:Detection Rules, v7.16.1

#120139 chore(NA): use internal pkg_npm on @elastic/eslint-config-kibana
  packages/elastic-eslint-config-kibana/BUILD.bazel
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v8.1.0

#120168 [8.0] [DOCS] Updates Add Data page (#117957)
  docs/setup/connect-to-elasticsearch.asciidoc
  docs/setup/images/add-data-fv.png
  docs/setup/images/add-data-tutorials.png
  docs/setup/images/add-integration.png
  docs/setup/images/add-sample-data.png
  docs/setup/images/addData_fleet_7.15.0.png
  docs/setup/images/addData_home_7.15.0.png
  docs/setup/images/integration-filter.png
Labels: backport

#120160 [8.0] [App Search] Add accordion lists for Domains, Seed URLs, and Sitemap URLs to Crawl Details Flyout (#119682)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/accordion_list.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/accordion_list.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/accordion_list.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/crawl_details_flyout.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/crawl_details_preview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_details_flyout/crawl_details_preview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_event_type_badge.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_requests_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawl_detail_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.ts
Labels: backport

#120175 [7.16] [DOCS] Updates Add Data page (#117957)
  docs/images/add-data-fv.png
  docs/setup/connect-to-elasticsearch.asciidoc
  docs/setup/images/add-integration.png
  docs/setup/images/add-sample-data.png
  docs/setup/images/addData_fleet_7.15.0.png
  docs/setup/images/addData_home_7.15.0.png
  docs/setup/images/integration-filter.png
Labels: backport

#120153 [Cases] Refreshing all signals indices in test
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/patch_cases.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting, v8.1.0, Team:Threat Hunting:Cases

#120161 [8.0] [Security Solution][Detections] Fix 409 conflict error happening when user enables a rule (#120088)
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/perform_bulk_action_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/enable_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/patch_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/update_rules.ts
Labels: backport

#120166 [8.0] [Alerts] Uses aggregations in RulesClient.aggregate() method (#119852)
  x-pack/plugins/alerting/common/alert.ts
  x-pack/plugins/alerting/server/routes/aggregate_rules.test.ts
  x-pack/plugins/alerting/server/routes/aggregate_rules.ts
  x-pack/plugins/alerting/server/rules_client/audit_events.ts
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/alerting/server/rules_client/tests/aggregate.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api/aggregate.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/aggregate.ts
Labels: backport

#120171 [8.0] chore(NA): use internal pkg_npm on @elastic/eslint-config-kibana (#120139)
  packages/elastic-eslint-config-kibana/BUILD.bazel
Labels: backport

#119401 [Security Solution] remove POST metadata list API
  x-pack/plugins/security_solution/common/endpoint/schema/metadata.test.ts
  x-pack/plugins/security_solution/common/endpoint/schema/metadata.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/test/security_solution_endpoint_api_int/apis/metadata.ts
Labels: release_note:breaking, v8.0.0, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.1.0

#120173 [RAC] remove kibana.consumers from technical field names
  packages/kbn-rule-data-utils/src/technical_field_names.ts
Labels: v8.0.0, release_note:skip, auto-backport, v8.1.0, Team: Actionable Observability

#120176 [8.0] [Dashboard] Move Sharing Saved Object Props into Meta Object (#119913)
  examples/embeddable_examples/public/book/book_embeddable.tsx
  examples/embeddable_examples/public/book/book_embeddable_factory.tsx
  src/plugins/dashboard/public/application/lib/diff_dashboard_state.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.mock.tsx
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.test.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.tsx
  src/plugins/embeddable/public/plugin.tsx
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/lens_attribute_service.ts
  x-pack/plugins/lens/public/mocks/services_mock.tsx
  x-pack/plugins/lens/public/state_management/__snapshots__/load_initial.test.tsx.snap
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.ts
  x-pack/plugins/lens/public/state_management/load_initial.test.tsx
  x-pack/plugins/maps/public/map_attribute_service.ts
  x-pack/plugins/maps/public/routes/map_page/saved_map/saved_map.ts
Labels: backport

#120165 [ci] Add cloud image annotation
  .buildkite/scripts/build_kibana.sh
Labels: Team:Operations, release_note:skip, backport:skip, v8.1.0, ci:deploy-cloud

#120177 [7.16] [Dashboard] Move Sharing Saved Object Props into Meta Object (#119913)
  examples/embeddable_examples/public/book/book_embeddable.tsx
  examples/embeddable_examples/public/book/book_embeddable_factory.tsx
  src/plugins/dashboard/public/application/lib/diff_dashboard_state.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.mock.tsx
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.test.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.tsx
  src/plugins/embeddable/public/plugin.tsx
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/lens_attribute_service.ts
  x-pack/plugins/lens/public/mocks/services_mock.tsx
  x-pack/plugins/lens/public/state_management/__snapshots__/load_initial.test.tsx.snap
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.ts
  x-pack/plugins/lens/public/state_management/load_initial.test.tsx
  x-pack/plugins/maps/public/map_attribute_service.ts
  x-pack/plugins/maps/public/routes/map_page/saved_map/saved_map.ts
Labels: backport

#120179 [7.16] [APM] Remove log-log descriptions from correlation charts (#119700)
  x-pack/plugins/apm/public/components/app/correlations/chart_title_tool_tip.tsx
  x-pack/plugins/apm/public/components/app/correlations/failed_transactions_correlations.tsx
  x-pack/plugins/apm/public/components/app/correlations/get_transaction_distribution_chart_data.ts
  x-pack/plugins/apm/public/components/app/correlations/latency_correlations.tsx
  x-pack/plugins/apm/public/components/app/correlations/use_transaction_colors.ts
  x-pack/plugins/apm/public/components/app/transaction_details/distribution/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/distribution/use_transaction_distribution_chart_data.ts
  x-pack/plugins/apm/public/components/shared/charts/transaction_distribution_chart/index.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#120178 [8.0] [APM] Remove log-log descriptions from correlation charts (#119700)
  x-pack/plugins/apm/public/components/app/correlations/chart_title_tool_tip.tsx
  x-pack/plugins/apm/public/components/app/correlations/failed_transactions_correlations.tsx
  x-pack/plugins/apm/public/components/app/correlations/get_transaction_distribution_chart_data.ts
  x-pack/plugins/apm/public/components/app/correlations/latency_correlations.tsx
  x-pack/plugins/apm/public/components/app/correlations/use_transaction_colors.ts
  x-pack/plugins/apm/public/components/app/transaction_details/distribution/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/distribution/use_transaction_distribution_chart_data.ts
  x-pack/plugins/apm/public/components/shared/charts/transaction_distribution_chart/index.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#120162 [7.16] [Security Solution][Detections] Fix 409 conflict error happening when user enables a rule (#120088)
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/perform_bulk_action_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/enable_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/patch_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/update_rules.ts
Labels: backport

#120184 [8.0] remove kibana.consumers from technical field names (#120173)
  packages/kbn-rule-data-utils/src/technical_field_names.ts
Labels: backport

#120183 [8.0] [Security Solution] remove POST metadata list API (#119401)
  x-pack/plugins/security_solution/common/endpoint/schema/metadata.test.ts
  x-pack/plugins/security_solution/common/endpoint/schema/metadata.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/handlers.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/test/security_solution_endpoint_api_int/apis/metadata.ts
Labels: backport

#120186 [8.0] [APM] Disable telemetry in agent config endpoint (#120106)
  x-pack/plugins/apm/server/routes/settings/agent_configuration/route.ts
Labels: backport

#120185 [Security Solution] Fixes the formatting of the Alert Summary View in Timeline
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
Labels: bug, v8.0.0, release_note:skip, auto-backport, v7.16.0, v8.1.0, Team:Threat Hunting:Investigations, v7.16.1

#120016 [Maps] change resolution input from select to range slider
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/__snapshots__/resolution_editor.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/__snapshots__/update_source_editor.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/clusters_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/heatmap_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/resolution_editor.test.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/resolution_editor.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/update_source_editor.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Geo, release_note:skip, backport:skip, v8.1.0

#120123 chore(NA): use internal pkg_npm on @kbn/babel-preset
  packages/kbn-babel-preset/BUILD.bazel
  packages/kbn-react-field/BUILD.bazel
  packages/kbn-ui-shared-deps-src/BUILD.bazel
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v8.1.0

#120189 [8.0] [Security Solution] Fixes the formatting of the Alert Summary View in Timeline (#120185)
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
Labels: backport

#120190 [7.16] [Security Solution] Fixes the formatting of the Alert Summary View in Timeline (#120185)
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
Labels: backport

#120191 [8.0] chore(NA): use internal pkg_npm on @kbn/babel-preset (#120123)
  packages/kbn-babel-preset/BUILD.bazel
  packages/kbn-ui-shared-deps-src/BUILD.bazel
Labels: backport

#120112 [8.0] [APM] Display relevant anomalies (#119709)
  packages/elastic-apm-synthtrace/src/lib/apm/base_span.ts
  packages/elastic-apm-synthtrace/src/lib/apm/utils/get_transaction_metrics.ts
  x-pack/plugins/apm/common/anomaly_detection/apm_ml_anomaly_query.ts
  x-pack/plugins/apm/common/anomaly_detection/apm_ml_detectors.ts
  x-pack/plugins/apm/common/anomaly_detection/get_preferred_service_anomaly_timeseries.test.ts
  x-pack/plugins/apm/common/anomaly_detection/get_preferred_service_anomaly_timeseries.ts
  x-pack/plugins/apm/common/anomaly_detection/service_anomaly_timeseries.ts
  x-pack/plugins/apm/public/components/app/error_group_overview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_throughput_chart.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_overview/index.tsx
  x-pack/plugins/apm/public/components/routing/settings/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_main_template.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/analyze_data_button.stories.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/settings_template.tsx
  x-pack/plugins/apm/public/components/shared/EnvironmentFilter/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/failed_transaction_rate_chart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/helper/get_chart_anomaly_timeseries.tsx
  x-pack/plugins/apm/public/components/shared/charts/latency_chart/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/latency_chart/latency_chart.stories.tsx
  x-pack/plugins/apm/public/components/shared/charts/timeseries_chart.tsx
  x-pack/plugins/apm/public/components/shared/charts/transaction_charts/index.tsx
  x-pack/plugins/apm/public/context/apm_service/apm_service_context.tsx
  x-pack/plugins/apm/public/context/environments_context/environments_context.tsx
  x-pack/plugins/apm/public/context/environments_context/use_environments_context.tsx
  x-pack/plugins/apm/public/context/service_anomaly_timeseries/service_anomaly_timeseries_context.tsx
  x-pack/plugins/apm/public/context/service_anomaly_timeseries/use_service_anomaly_timeseries_context.tsx
  x-pack/plugins/apm/public/hooks/use_environments_fetcher.tsx
  x-pack/plugins/apm/public/hooks/use_preferred_service_anomaly_timeseries.ts
  x-pack/plugins/apm/public/selectors/latency_chart_selector.test.ts
  x-pack/plugins/apm/public/selectors/latency_chart_selectors.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/anomaly_search.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/apm_ml_anomaly_query.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/apm_ml_jobs_query.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/get_anomaly_result_bucket_size.ts
  x-pack/plugins/apm/server/lib/anomaly_detection/get_anomaly_timeseries.ts
  x-pack/plugins/apm/server/routes/environments/get_environments.ts
  x-pack/plugins/apm/server/routes/service_map/get_service_anomalies.ts
  x-pack/plugins/apm/server/routes/services/route.ts
  x-pack/plugins/apm/server/routes/transactions/get_anomaly_data/fetcher.ts
  x-pack/plugins/apm/server/routes/transactions/get_anomaly_data/index.ts
  x-pack/plugins/apm/server/routes/transactions/route.ts
  x-pack/plugins/apm/typings/timeseries.ts
  x-pack/plugins/observability/server/index.ts
  x-pack/plugins/observability/server/utils/queries.ts
  x-pack/test/apm_api_integration/common/config.ts
  x-pack/test/apm_api_integration/tests/anomalies/anomaly_charts.spec.ts
  x-pack/test/apm_api_integration/tests/transactions/__snapshots__/latency.spec.snap
  x-pack/test/apm_api_integration/tests/transactions/latency.spec.ts
Labels: backport

#120075 [Console] Unskip api integration proxy test
  test/api_integration/apis/console/proxy_route.ts
Labels: Feature:Console, failed-test, v8.0.0, Team:Stack Management, release_note:skip, v8.1.0, v7.16.1

#119339 [Lens] Waffle visualization type
  x-pack/plugins/lens/common/expressions/pie_chart/types.ts
  x-pack/plugins/lens/public/assets/chart_waffle.tsx
  x-pack/plugins/lens/public/pie_visualization/constants.ts
  x-pack/plugins/lens/public/pie_visualization/partition_charts_meta.ts
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/pie_visualization/render_helpers.test.ts
  x-pack/plugins/lens/public/pie_visualization/render_helpers.ts
  x-pack/plugins/lens/public/pie_visualization/suggestions.test.ts
  x-pack/plugins/lens/public/pie_visualization/suggestions.ts
  x-pack/plugins/lens/public/pie_visualization/to_expression.ts
  x-pack/plugins/lens/public/pie_visualization/toolbar.tsx
  x-pack/plugins/lens/public/pie_visualization/visualization.tsx
Labels: Team:VisEditors, Feature:Lens, backport:skip, release_note:feature, v8.1.0

#120069 [Uptimes] Push configs to service
  x-pack/plugins/uptime/common/types/index.ts
  x-pack/plugins/uptime/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/get_api_key.test.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/get_api_key.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/get_service_locations.test.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/get_service_locations.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/service_api_client.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/synthetics_service.ts
  x-pack/plugins/uptime/server/plugin.ts
  x-pack/plugins/uptime/server/rest_api/synthetics_service/add_monitor.ts
  x-pack/plugins/uptime/server/rest_api/synthetics_service/delete_monitor.ts
  x-pack/plugins/uptime/server/rest_api/synthetics_service/edit_monitor.ts
  x-pack/plugins/uptime/server/rest_api/synthetics_service/get_service_locations.ts
  x-pack/test/api_integration/config.ts
Labels: v8.0.0, Team:uptime, release_note:skip, auto-backport, v8.1.0

#120007 [Lens] Improve column type detection in table for alignment
  x-pack/plugins/lens/public/datatable_visualization/components/table_basic.test.tsx
  x-pack/plugins/lens/public/datatable_visualization/components/table_basic.tsx
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.1.0

#120157 [Security Solution][Detections] Add basic error handling to logging methods of Rule Execution Log
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/event_log_adapter/event_log_adapter.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/rule_execution_log_client.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/create_security_rule_type_wrapper.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/request_context_factory.ts
Labels: technical debt, v8.0.0, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, auto-backport, v8.1.0, Feature:Rule Monitoring, Team:Detection Rules

#120077 [Lens] Show generic error for invalid time shift string
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/time_shift.tsx
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.1.0

#118594 [Uptime] Add throttling parameters to the Fleet UI
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/step_select_agent_policy.tsx
  x-pack/plugins/uptime/public/components/fleet_package/browser/advanced_fields.test.tsx
  x-pack/plugins/uptime/public/components/fleet_package/browser/advanced_fields.tsx
  x-pack/plugins/uptime/public/components/fleet_package/browser/formatters.ts
  x-pack/plugins/uptime/public/components/fleet_package/browser/normalizers.test.ts
  x-pack/plugins/uptime/public/components/fleet_package/browser/normalizers.ts
  x-pack/plugins/uptime/public/components/fleet_package/browser/throttling_fields.test.tsx
  x-pack/plugins/uptime/public/components/fleet_package/browser/throttling_fields.tsx
  x-pack/plugins/uptime/public/components/fleet_package/contexts/browser_context_advanced.tsx
  x-pack/plugins/uptime/public/components/fleet_package/custom_fields.test.tsx
  x-pack/plugins/uptime/public/components/fleet_package/custom_fields.tsx
  x-pack/plugins/uptime/public/components/fleet_package/hooks/use_update_policy.test.tsx
  x-pack/plugins/uptime/public/components/fleet_package/types.tsx
  x-pack/plugins/uptime/public/components/fleet_package/validation.tsx
  x-pack/plugins/uptime/public/components/monitor_management/formatters/browser.ts
  x-pack/test/functional/apps/uptime/synthetics_integration.ts
  x-pack/test/functional/page_objects/synthetics_integration_page.ts
Labels: v8.0.0, Team:uptime, Team:Fleet, release_note:feature, auto-backport, v8.1.0

#120198 [8.0] [8.0][RAC] 117686 replace alert workflow status in alerts view (#118723)
  x-pack/plugins/observability/common/typings.ts
  x-pack/plugins/observability/public/pages/alerts/alerts_status_filter.tsx
  x-pack/plugins/observability/public/pages/alerts/alerts_table_t_grid.tsx
  x-pack/plugins/observability/public/pages/alerts/index.tsx
  x-pack/test/observability_functional/apps/observability/alerts/index.ts
  x-pack/test/observability_functional/apps/observability/alerts/state_synchronization.ts
  x-pack/test/observability_functional/apps/observability/alerts/workflow_status.ts
Labels: backport

#119736 [Discover] Close expanded document sidebar when switch data views
  src/plugins/discover/public/application/context/context_app_content.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.test.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/application/main/components/layout/discover_layout.test.tsx
  src/plugins/discover/public/application/main/components/layout/discover_layout.tsx
  src/plugins/discover/public/application/main/components/layout/types.ts
  src/plugins/discover/public/application/main/components/sidebar/discover_sidebar.test.tsx
  src/plugins/discover/public/application/main/components/sidebar/discover_sidebar.tsx
  src/plugins/discover/public/application/main/components/sidebar/discover_sidebar_responsive.test.tsx
  src/plugins/discover/public/application/main/components/sidebar/lib/get_details.ts
  src/plugins/discover/public/application/main/discover_main_app.tsx
  src/plugins/discover/public/application/main/utils/calc_field_counts.test.ts
  src/plugins/discover/public/application/main/utils/calc_field_counts.ts
  src/plugins/discover/public/application/main/utils/use_discover_state.test.ts
  src/plugins/discover/public/application/main/utils/use_discover_state.ts
  src/plugins/discover/public/application/main/utils/use_saved_search.test.ts
  src/plugins/discover/public/application/main/utils/use_saved_search.ts
  src/plugins/discover/public/components/discover_grid/discover_grid.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_context.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_document_selection.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_flyout.tsx
  src/plugins/discover/public/components/discover_grid/get_render_cell_value.test.tsx
  src/plugins/discover/public/components/discover_grid/get_render_cell_value.tsx
  src/plugins/discover/public/components/doc_table/components/table_row.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  src/plugins/discover/public/embeddable/saved_search_grid.tsx
  src/plugins/discover/public/services/doc_views/components/doc_viewer/doc_viewer_tab.test.tsx
  src/plugins/discover/public/services/doc_views/components/doc_viewer_table/table.test.tsx
  src/plugins/discover/public/services/doc_views/components/doc_viewer_table/table.tsx
  src/plugins/discover/public/services/doc_views/doc_views_registry.ts
  src/plugins/discover/public/services/doc_views/doc_views_types.ts
  src/plugins/discover/public/types.ts
  src/plugins/discover/public/utils/use_es_doc_search.ts
Labels: Feature:Discover, release_note:fix, v8.1.0, Team:DataDiscovery

#119973 [Fleet] Update calculateAuthz calls to respect superuser for now
  x-pack/plugins/fleet/public/mock/plugin_interfaces.ts
  x-pack/plugins/fleet/public/mock/types.ts
  x-pack/plugins/fleet/public/plugin.ts
  x-pack/plugins/fleet/server/routes/security.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0

#120200 [8.0] [Security Solution][Detections] Add basic error handling to logging methods of Rule Execution Log (#120157)
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/event_log_adapter/event_log_adapter.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/rule_execution_log_client.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/create_security_rule_type_wrapper.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/request_context_factory.ts
Labels: backport

#120158 [Fleet] Use predefined id for default output
  x-pack/plugins/fleet/common/constants/output.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/services/output.ts
Labels: release_note:skip, Team:Fleet, auto-backport, v8.1.0, 8.0.0

#120207 [8.0] [8.0][RAC] 19482 t grid fix always show checkboxes (#119608)
  x-pack/plugins/observability/public/pages/alerts/alerts_table_t_grid.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/standalone/index.tsx
  x-pack/test/observability_functional/apps/observability/alerts/add_to_case.ts
  x-pack/test/observability_functional/apps/observability/alerts/bulk_actions.ts
  x-pack/test/observability_functional/apps/observability/alerts/index.ts
Labels: backport

#120211 [Lens] fix not-working test for conflict for embeddables
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
Labels: Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, auto-backport, v8.1.0

#119901 [Cases] Removing alerts internal client
  x-pack/plugins/cases/server/client/alerts/client.ts
  x-pack/plugins/cases/server/client/alerts/get.ts
  x-pack/plugins/cases/server/client/alerts/update_status.ts
  x-pack/plugins/cases/server/client/attachments/add.ts
  x-pack/plugins/cases/server/client/cases/client.ts
  x-pack/plugins/cases/server/client/cases/push.ts
  x-pack/plugins/cases/server/client/cases/update.ts
  x-pack/plugins/cases/server/client/client.ts
  x-pack/plugins/cases/server/client/client_internal.ts
  x-pack/plugins/cases/server/client/factory.ts
  x-pack/plugins/cases/server/client/sub_cases/client.ts
  x-pack/plugins/cases/server/client/sub_cases/update.ts
  x-pack/plugins/cases/server/client/types.ts
  x-pack/plugins/cases/server/services/alerts/index.test.ts
  x-pack/plugins/cases/server/services/alerts/index.ts
  x-pack/plugins/cases/server/services/index.ts
  x-pack/plugins/cases/server/services/mocks.ts
Labels: release_note:skip, Team:Threat Hunting, Feature:Cases, v8.1.0, Team:Threat Hunting:Cases

#120064 [App Search, Crawler] Use consistent casing for validation step titles
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/utils.ts
Labels: Feature:Plugins, v8.0.0, release_note:skip, auto-backport, v8.1.0

#120216 [Storybook] Fixes Storybook is endlessly refreshed.
  packages/kbn-storybook/src/lib/theme_switcher.tsx
Labels: release_note:fix, loe:hours, impact:critical, backport:skip, Feature:Storybook, v8.1.0

#120224 [Workplace Search] fix overview page spacing
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/overview.tsx
Labels: Feature:Plugins, v8.0.0, release_note:skip, Team:WorkplaceSearch, auto-backport, v8.1.0

#120045 [Fleet] Re-enable registry version check
  x-pack/plugins/apm/ftr_e2e/ftr_config_run.ts
  x-pack/plugins/fleet/server/index.ts
  x-pack/plugins/fleet/server/services/epm/registry/index.ts
  x-pack/test/fleet_api_integration/config.ts
Labels: Team:apm, v8.0.0, release_note:skip, backport:skip, Team:Fleet, v8.1.0

#120049 [8.0][Fleet] Re-enable registry version check
  x-pack/plugins/apm/ftr_e2e/ftr_config_run.ts
  x-pack/plugins/fleet/server/index.ts
  x-pack/plugins/fleet/server/services/epm/registry/index.ts
  x-pack/test/fleet_api_integration/config.ts
Labels: backport

#120085 [Security Solution] [Endpoint] Adds new artifact hook to remove policies from endpoint artifacts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.ts
  x-pack/plugins/security_solution/server/fleet_integration/handlers/remove_policy_from_artifacts.ts
  x-pack/plugins/security_solution/server/fleet_integration/handlers/remove_policy_from_trusted_apps.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.1.0

#120170 [Security Solutions] Removes tech debt of exporting all from linter rule for lists plugin
  x-pack/plugins/lists/public/index.ts
  x-pack/plugins/security/common/licensing/index.mock.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/add_exception_modal/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/add_exception_modal/index.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/edit_exception_modal/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/edit_exception_modal/index.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/components/form/index.tsx
  x-pack/plugins/security_solution/public/plugin.tsx
  x-pack/plugins/security_solution/public/shared_imports.ts
  x-pack/plugins/security_solution/public/types.ts
Labels: v8.0.0, release_note:skip, auto-backport, v8.1.0, Team:Security Solution Platform

#120232 [8.0] [Fleet] Update calculateAuthz calls to respect superuser for now (#119973)
  x-pack/plugins/fleet/public/mock/plugin_interfaces.ts
  x-pack/plugins/fleet/public/mock/types.ts
  x-pack/plugins/fleet/public/plugin.ts
  x-pack/plugins/fleet/server/routes/security.ts
Labels: backport

#120241 [8.0] [DOCS] Fixes index pattern page (#119904)
  docs/concepts/data-views.asciidoc
  docs/index-extra-title-page.html
Labels: backport

#119864 [Cases] Move disabling features to the cases context
  x-pack/plugins/cases/common/constants.ts
  x-pack/plugins/cases/common/ui/types.ts
  x-pack/plugins/cases/public/common/mock/test_providers.tsx
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.test.tsx
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.tsx
  x-pack/plugins/cases/public/components/all_cases/columns.tsx
  x-pack/plugins/cases/public/components/all_cases/index.test.tsx
  x-pack/plugins/cases/public/components/all_cases/index.tsx
  x-pack/plugins/cases/public/components/app/routes.tsx
  x-pack/plugins/cases/public/components/app/types.ts
  x-pack/plugins/cases/public/components/case_action_bar/index.test.tsx
  x-pack/plugins/cases/public/components/case_action_bar/index.tsx
  x-pack/plugins/cases/public/components/case_view/index.tsx
  x-pack/plugins/cases/public/components/cases_context/index.tsx
  x-pack/plugins/cases/public/components/cases_context/use_cases_features.tsx
  x-pack/plugins/cases/public/components/create/flyout/create_case_flyout.tsx
  x-pack/plugins/cases/public/components/create/form.test.tsx
  x-pack/plugins/cases/public/components/create/form.tsx
  x-pack/plugins/cases/public/components/create/form_context.test.tsx
  x-pack/plugins/cases/public/components/create/form_context.tsx
  x-pack/plugins/cases/public/components/create/index.tsx
  x-pack/plugins/cases/public/methods/get_cases.tsx
  x-pack/plugins/cases/public/methods/get_create_case_flyout.tsx
  x-pack/plugins/observability/public/pages/cases/cases.tsx
  x-pack/plugins/timelines/public/components/actions/timeline/cases/add_to_case_action.tsx
  x-pack/plugins/timelines/public/components/t_grid/standalone/index.tsx
Labels: technical debt, release_note:skip, v8.1.0, Team:Threat Hunting:Cases

#119740 Normalize apm transaction names
  dev_docs/contributing/standards.mdx
  src/core/public/apm_system.ts
  src/core/server/server.ts
  x-pack/plugins/reporting/common/constants.ts
  x-pack/plugins/reporting/server/export_types/common/generate_png.ts
  x-pack/plugins/reporting/server/export_types/png/execute_job/index.ts
  x-pack/plugins/reporting/server/export_types/png_v2/execute_job.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/execute_job/index.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/lib/tracker.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf_v2/execute_job.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf_v2/lib/tracker.ts
  x-pack/plugins/reporting/server/lib/screenshots/observable.ts
  x-pack/plugins/reporting/server/lib/screenshots/observable_handler.ts
  x-pack/plugins/task_manager/server/queries/task_claiming.test.ts
  x-pack/plugins/task_manager/server/queries/task_claiming.ts
  x-pack/plugins/task_manager/server/task_running/ephemeral_task_runner.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.test.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.ts
Labels: v8.0.0, release_note:skip, auto-backport, v8.1.0

#120151 [Alerting] Adding custom deprecation messages for enabled flag
  x-pack/.i18nrc.json
  x-pack/plugins/actions/server/index.test.ts
  x-pack/plugins/actions/server/index.ts
  x-pack/plugins/event_log/server/index.ts
  x-pack/plugins/stack_alerts/server/index.test.ts
  x-pack/plugins/stack_alerts/server/index.ts
  x-pack/plugins/task_manager/server/index.test.ts
  x-pack/plugins/task_manager/server/index.ts
Labels: Feature:Alerting, release_note:skip, Feature:Task Manager, Feature:Actions, Team:Alerting Services, Feature:EventLog, v7.16.1

#120127 Remove links to docs about different auth methods in Enterprise Search
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  x-pack/plugins/enterprise_search/public/applications/app_search/components/setup_guide/setup_guide.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/routes.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search/components/setup_guide/setup_guide.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/doc_links/doc_links.ts
  x-pack/plugins/enterprise_search/public/applications/shared/setup_guide/instructions.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/setup_guide/instructions.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/setup_guide/setup_guide.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/routes.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/setup_guide/setup_guide.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: v8.0.0, release_note:skip

#120245 [8.0] Removes tech debt from export all (#120170)
  x-pack/plugins/lists/public/index.ts
  x-pack/plugins/security/common/licensing/index.mock.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/add_exception_modal/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/add_exception_modal/index.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/edit_exception_modal/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/edit_exception_modal/index.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/components/form/index.tsx
  x-pack/plugins/security_solution/public/plugin.tsx
  x-pack/plugins/security_solution/public/shared_imports.ts
  x-pack/plugins/security_solution/public/types.ts
Labels: backport

#120244 [Enterprise Search] Replace `EuiThemeProvider` with `KibanaThemeProvider`
  x-pack/plugins/enterprise_search/public/applications/index.tsx
Labels: release_note:skip, backport:skip, v8.1.0

#120156 [Maps] remove getIndexPatternsService from server.kibana_server_services
  x-pack/plugins/maps/server/kibana_server_services.ts
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.test.js
  x-pack/plugins/maps/server/maps_telemetry/maps_telemetry.ts
  x-pack/plugins/maps/server/plugin.ts
Labels: Team:Geo, release_note:skip, backport:skip, v8.1.0

#120134 [Security Solution][Endpoint] Remove (don't register) Endpoint Trusted Apps specific APIs
  x-pack/plugins/security_solution/scripts/endpoint/trusted_apps/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/trusted_apps/index.ts
Labels: release_note:breaking, v8.0.0, Team:Onboarding and Lifecycle Mgt, auto-backport, OLM Sprint, v8.1.0

#120256 [8.0] [Enterprise Search] Remove `external_id` from UI code (#120143)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/schema/reindex_job/reindex_job_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/__mocks__/content_sources.mock.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/display_settings/display_settings_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema_logic.test.ts
Labels: backport

#119802 [Graph] Add KibanaThemeProvider
  x-pack/plugins/graph/public/application.tsx
  x-pack/plugins/graph/public/components/workspace_layout/workspace_top_nav_menu.tsx
Labels: Feature:Discover, release_note:skip, v8.1.0, Team:DataDiscovery

#120248 chore(NA): splits types from code on @kbn/cli-dev-mode
  package.json
  packages/BUILD.bazel
  packages/kbn-cli-dev-mode/BUILD.bazel
  packages/kbn-cli-dev-mode/package.json
  yarn.lock
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v8.1.0

#120199 [Visualize] Fixes wrong display of split warning callout
  src/plugins/visualize/public/application/components/visualize_editor_common.test.tsx
  src/plugins/visualize/public/application/components/visualize_editor_common.tsx
Labels: Feature:Visualizations, Team:VisEditors, release_note:skip, v8.1.0

#120036 [DOCS] Updates security section of intro doc
  docs/user/introduction.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, v8.1.0

#120288 [8.0] [Security Solution][Endpoint] Remove (don't register) Endpoint Trusted Apps specific APIs (#120134)
  x-pack/plugins/security_solution/scripts/endpoint/trusted_apps/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/trusted_apps/index.ts
Labels: backport

#117122 [Security Solution] Doc pre-reqs for using the SN ITSM, SecOps, and ITOM connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
  docs/management/connectors/images/servicenow-params-test.png
  docs/management/connectors/images/servicenow-sir-update-connector.png
Labels: v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.16.0, v8.1.0, Team:Threat Hunting:Cases

#120159 [Alerting][UI] Adding tooltip to Last Run column title
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.tsx
Labels: v8.0.0, release_note:skip, Team:Alerting Services, auto-backport, Feature:Alerting/RulesManagement, v8.1.0, v7.16.1

#120298 [8.0] [APM] Service maps: Add sparklines to the detail popover (#120021)
  x-pack/plugins/apm/common/service_map.ts
  x-pack/plugins/apm/public/components/app/service_map/Popover/backend_contents.tsx
  x-pack/plugins/apm/public/components/app/service_map/Popover/index.tsx
  x-pack/plugins/apm/public/components/app/service_map/Popover/service_contents.tsx
  x-pack/plugins/apm/public/components/app/service_map/Popover/stats_list.tsx
  x-pack/plugins/apm/public/components/app/service_map/cytoscape_options.ts
  x-pack/plugins/apm/server/lib/helpers/transactions/index.ts
  x-pack/plugins/apm/server/lib/transaction_groups/get_error_rate.ts
  x-pack/plugins/apm/server/lib/transaction_groups/get_transaction_group_stats.ts
  x-pack/plugins/apm/server/routes/alerts/chart_preview/get_transaction_duration.ts
  x-pack/plugins/apm/server/routes/alerts/register_transaction_duration_alert_type.ts
  x-pack/plugins/apm/server/routes/service_map/get_service_map_backend_node_info.ts
  x-pack/plugins/apm/server/routes/service_map/get_service_map_service_node_info.test.ts
  x-pack/plugins/apm/server/routes/service_map/get_service_map_service_node_info.ts
  x-pack/plugins/apm/server/routes/services/get_service_instances/get_service_instances_transaction_statistics.ts
  x-pack/plugins/apm/server/routes/services/get_service_transaction_group_detailed_statistics.ts
  x-pack/plugins/apm/server/routes/services/get_service_transaction_groups.ts
  x-pack/plugins/apm/server/routes/services/get_services/get_service_transaction_stats.ts
  x-pack/plugins/apm/server/routes/services/get_services_detailed_statistics/get_service_transaction_detailed_statistics.ts
  x-pack/plugins/apm/server/routes/transactions/get_latency_charts/index.ts
  x-pack/test/apm_api_integration/tests/service_maps/service_maps.spec.ts
Labels: backport

#119750 [RAC] Adds stats about rules to Alerts page
  x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/alerts_page.tsx
  x-pack/plugins/triggers_actions_ui/public/index.ts
  x-pack/test/functional/services/observability/alerts/common.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_list.ts
  x-pack/test/functional_with_es_ssl/lib/alert_api_actions.ts
  x-pack/test/observability_functional/apps/observability/alerts/index.ts
  x-pack/test/observability_functional/with_rac_write.config.ts
Labels: v8.0.0, release_note:skip, auto-backport, Theme: rac, v8.1.0, Team: Actionable Observability

#120307 [8.0] [Alerting][UI] Adding tooltip to Last Run column title (#120159)
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.tsx
Labels: backport

#120308 [7.16] [Alerting][UI] Adding tooltip to Last Run column title (#120159)
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_list/components/alerts_list.tsx
Labels: backport

#120267 chore(NA): splits types from code on @kbn/config
  package.json
  packages/BUILD.bazel
  packages/kbn-cli-dev-mode/BUILD.bazel
  packages/kbn-config/BUILD.bazel
  packages/kbn-config/package.json
  packages/kbn-docs-utils/BUILD.bazel
  packages/kbn-optimizer/BUILD.bazel
  yarn.lock
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v8.1.0

#120316 [8.0] chore(NA): splits types from code on @kbn/cli-dev-mode (#120248)
  package.json
  packages/BUILD.bazel
  packages/kbn-cli-dev-mode/BUILD.bazel
  packages/kbn-cli-dev-mode/package.json
  yarn.lock
Labels: backport

#120252 [jest] restore integration test running x-pack
  jest.config.integration.js
  x-pack/plugins/global_search/server/routes/integration_tests/get_searchable_types.test.ts
  x-pack/plugins/task_manager/server/integration_tests/managed_configuration.test.ts
Labels: Team:Operations, v8.0.0, release_note:skip, auto-backport, v7.15.0, v7.16.0, v8.1.0

#120318 [8.0] chore(NA): splits types from code on @kbn/config (#120267)
  package.json
  packages/BUILD.bazel
  packages/kbn-cli-dev-mode/BUILD.bazel
  packages/kbn-config/BUILD.bazel
  packages/kbn-config/package.json
  packages/kbn-docs-utils/BUILD.bazel
  packages/kbn-optimizer/BUILD.bazel
  yarn.lock
Labels: backport

#113211 [DOCS] document missing enabledActionTypes value for Microsoft Teams action
  docs/settings/alert-action-settings.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, v7.16.0, v8.1.0

#117270 [Canvas] Filters panel for element settings.
  x-pack/plugins/canvas/public/components/sidebar/element_settings/element_settings.component.tsx
  x-pack/plugins/canvas/public/components/workpad_filters/__stories__/elements.ts
  x-pack/plugins/canvas/public/components/workpad_filters/__stories__/workpad_filters.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_filters/hooks/use_canvas_filters.ts
  x-pack/plugins/canvas/public/components/workpad_filters/workpad_filters.tsx
  x-pack/plugins/canvas/public/functions/filters.ts
  x-pack/plugins/canvas/public/lib/filter.test.ts
  x-pack/plugins/canvas/public/lib/filter.ts
Labels: Team:Presentation, loe:hours, impact:medium, backport:skip, Feature:Canvas, release_note:feature, v8.1.0

#120073 [Canvas] Added KibanaThemeProvider to expression_error.
  src/plugins/expression_error/public/expression_renderers/__stories__/error_renderer.stories.tsx
  src/plugins/expression_error/public/expression_renderers/debug_renderer.tsx
  src/plugins/expression_error/public/expression_renderers/error_renderer.tsx
  src/plugins/expression_error/public/expression_renderers/index.ts
  src/plugins/expression_error/public/index.ts
  src/plugins/expression_error/public/plugin.ts
  src/plugins/presentation_util/common/lib/utils/default_theme.ts
  src/plugins/presentation_util/common/lib/utils/index.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/external.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/markdown/index.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/table.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/text.tsx
  x-pack/plugins/canvas/shareable_runtime/supported_renderers.js
Labels: Team:Presentation, loe:hours, release_note:skip, impact:low, backport:skip, Feature:Canvas, v8.1.0

#119442 [navSearch] handle `displayName` for `savedObjects` result provider
  docs/user/introduction.asciidoc
  x-pack/plugins/global_search_bar/public/components/popover_footer.tsx
  x-pack/plugins/global_search_bar/public/components/popover_placeholder.tsx
  x-pack/plugins/global_search_bar/public/components/result_tag_list.tsx
  x-pack/plugins/global_search_bar/public/components/search_bar.tsx
  x-pack/plugins/global_search_bar/public/lib/index.ts
  x-pack/plugins/global_search_bar/public/lib/result_to_option.test.ts
  x-pack/plugins/global_search_bar/public/lib/result_to_option.tsx
  x-pack/plugins/global_search_bar/public/lib/suggestion_to_option.ts
  x-pack/plugins/global_search_providers/server/providers/saved_objects/get_searchable_types.test.ts
  x-pack/plugins/global_search_providers/server/providers/saved_objects/get_searchable_types.ts
  x-pack/plugins/global_search_providers/server/providers/saved_objects/map_object_to_result.test.ts
  x-pack/plugins/global_search_providers/server/providers/saved_objects/map_object_to_result.ts
  x-pack/plugins/global_search_providers/server/providers/saved_objects/provider.test.ts
  x-pack/plugins/global_search_providers/server/providers/saved_objects/provider.ts
Labels: Team:Core, v8.0.0, release_note:skip, auto-backport, Feature:Navigational Search, v8.1.0

#120142 Bump json-schema and uglify-js
  package.json
  src/dev/license_checker/config.ts
  yarn.lock
Labels: Team:Security, v8.0.0, release_note:skip, auto-backport, v8.1.0, v7.16.1

#120078 [Canvas] Added KibanaThemeProvider to expression_metric.
  src/plugins/expression_metric/kibana.json
  src/plugins/expression_metric/public/expression_renderers/__stories__/metric_renderer.stories.tsx
  src/plugins/expression_metric/public/expression_renderers/index.ts
  src/plugins/expression_metric/public/expression_renderers/metric_renderer.tsx
  src/plugins/expression_metric/public/index.ts
  src/plugins/expression_metric/public/plugin.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/external.ts
  x-pack/plugins/canvas/shareable_runtime/supported_renderers.js
Labels: Team:Presentation, loe:hours, release_note:skip, impact:low, backport:skip, Feature:Canvas, v8.1.0

#119784 [Discover] Add new KibanaThemeProvider
  src/plugins/discover/public/application/context/context_app.test.tsx
  src/plugins/discover/public/application/context/utils/use_context_app_fetch.test.ts
  src/plugins/discover/public/application/context/utils/use_context_app_fetch.tsx
  src/plugins/discover/public/application/index.tsx
  src/plugins/discover/public/application/main/components/top_nav/get_top_nav_links.ts
  src/plugins/discover/public/application/main/components/top_nav/open_options_popover.tsx
  src/plugins/discover/public/application/main/components/top_nav/show_open_search_panel.tsx
  src/plugins/discover/public/application/not_found/not_found_route.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
Labels: Feature:Discover, release_note:skip, backport:skip, v8.1.0, Team:DataDiscovery

#119644 [Security Solution][Detections] Adds Rules monitoring table actions
  x-pack/plugins/security_solution/cypress/integration/detection_rules/prebuilt_rules.spec.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_detection_rules.ts
  x-pack/plugins/security_solution/public/detections/components/rules/all_rules_tables/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/all_rules_tables/index.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_rule_status.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_rule_status.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/columns.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/columns.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/index.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/popover_tooltip.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/rules_tables.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/table_header_tooltip_cell.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/table_header_tooltip_cell.tsx
Labels: Team:Detections and Resp, Team: SecuritySolution, release_note:feature, Feature:Rule Management, v8.1.0, Feature:Rule Monitoring, Team:Detection Rules, Theme: simp_prot_mgmt
