Repository elastic/kibana, pull requests merged in 2021-09, with the labels that each got.

#110725 [7.x] [Fleet] Fix bug when upgrading Windows package policies (#110698)
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/data_stream/test_stream/agent/stream/stream.yml.hbs
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/data_stream/test_stream/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/data_stream/test_stream/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/docs/README.md
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/data_stream/test_stream/agent/stream/stream.yml.hbs
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/data_stream/test_stream/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/data_stream/test_stream/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/docs/README.md
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/manifest.yml
  x-pack/test/fleet_api_integration/apis/package_policy/upgrade.ts
Labels: backport

#110724 [7.15] [Fleet] Fix bug when upgrading Windows package policies (#110698)
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/data_stream/test_stream/agent/stream/stream.yml.hbs
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/data_stream/test_stream/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/data_stream/test_stream/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/docs/README.md
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/data_stream/test_stream/agent/stream/stream.yml.hbs
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/data_stream/test_stream/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/data_stream/test_stream/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/docs/README.md
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/manifest.yml
  x-pack/test/fleet_api_integration/apis/package_policy/upgrade.ts
Labels: backport

#110730 [7.x] [APM] Fleet: adding support for legacy fields (#110136)
  x-pack/plugins/apm/server/lib/fleet/get_apm_package_policy_definition.ts
Labels: backport

#110729 [7.15] [APM] Fleet: adding support for legacy fields (#110136)
  x-pack/plugins/apm/server/lib/fleet/get_apm_package_policy_definition.ts
Labels: backport

#110705 [Security Solution] Correct memory exception field names
  x-pack/plugins/security_solution/common/ecs/event/index.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/exceptionable_endpoint_fields.json
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v7.15.0, v7.16.0

#110626 chore(NA): check for used dependencies on multiple level plugins
  src/dev/build/tasks/package_json/find_used_dependencies.ts
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v7.16.0

#110676 [APM] Custom links creation don't work
  x-pack/plugins/apm/ftr_e2e/config.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/settings/custom_links.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/EmptyPrompt.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/create_edit_custom_link_flyout/FlyoutFooter.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/create_edit_custom_link_flyout/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/custom_link_table.tsx
Labels: release_note:fix, Team:apm, auto-backport, v7.15.0, v7.16.0

#110523 [APM] "Backends" naming
  x-pack/plugins/apm/common/backends.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/service_overview.spec.ts
  x-pack/plugins/apm/public/components/app/backend_detail_overview/index.tsx
  x-pack/plugins/apm/public/components/app/backend_inventory/backend_inventory_dependencies_table/index.tsx
  x-pack/plugins/apm/public/components/app/service_map/Popover/backend_contents.tsx
  x-pack/plugins/apm/public/components/app/service_map/Popover/popover.test.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_dependencies_table/index.tsx
  x-pack/plugins/apm/public/components/routing/home/index.tsx
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:apm, release_note:skip, auto-backport, v7.15.0, v7.16.0

#110742 [7.x] [Security Solution] Correct memory exception field names (#110705)
  x-pack/plugins/security_solution/common/ecs/event/index.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/exceptionable_endpoint_fields.json
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
Labels: backport

#110744 [7.14] [7.x] chore(NA): removes renovate config file (#110633)
  .gitignore
  renovate.json5
Labels: backport

#110624 [7.x] [APM] Fix for no-data state for fallback from aggregated transactions (#109995)
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/__snapshots__/get_is_using_transaction_events.test.ts.snap
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/get_fallback_to_transactions.ts
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/get_is_using_transaction_events.test.ts
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/get_is_using_transaction_events.ts
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/index.ts
  x-pack/plugins/apm/server/routes/fallback_to_transactions.ts
  x-pack/plugins/apm/server/utils/test_helpers.tsx
Labels: backport

#110625 [7.15] [APM] Fix for no-data state for fallback from aggregated transactions (#109995)
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/__snapshots__/get_is_using_transaction_events.test.ts.snap
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/get_fallback_to_transactions.ts
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/get_is_using_transaction_events.test.ts
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/get_is_using_transaction_events.ts
  x-pack/plugins/apm/server/lib/helpers/aggregated_transactions/index.ts
  x-pack/plugins/apm/server/routes/fallback_to_transactions.ts
  x-pack/plugins/apm/server/utils/test_helpers.tsx
Labels: backport

#110745 [7.x] chore(NA): check for used dependencies on multiple level plugins (#110626)
  src/dev/build/tasks/package_json/find_used_dependencies.ts
Labels: backport

#110743 [7.15] [7.x] chore(NA): removes renovate config file (#110633)
  .gitignore
  renovate.json5
Labels: backport

#110749 [7.x] [APM] Custom links creation don't work (#110676)
  x-pack/plugins/apm/ftr_e2e/config.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/settings/custom_links.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/EmptyPrompt.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/create_edit_custom_link_flyout/FlyoutFooter.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/create_edit_custom_link_flyout/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/custom_link_table.tsx
Labels: backport

#110748 [7.15] [APM] Custom links creation don't work (#110676)
  x-pack/plugins/apm/ftr_e2e/config.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/settings/custom_links.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/EmptyPrompt.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/create_edit_custom_link_flyout/FlyoutFooter.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/create_edit_custom_link_flyout/index.tsx
  x-pack/plugins/apm/public/components/app/Settings/customize_ui/custom_link/custom_link_table.tsx
Labels: backport

#110751 [7.x] [APM] "Backends" naming (#110523)
  x-pack/plugins/apm/common/backends.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/service_overview.spec.ts
  x-pack/plugins/apm/public/components/app/backend_detail_overview/index.tsx
  x-pack/plugins/apm/public/components/app/backend_inventory/backend_inventory_dependencies_table/index.tsx
  x-pack/plugins/apm/public/components/app/service_map/Popover/backend_contents.tsx
  x-pack/plugins/apm/public/components/app/service_map/Popover/popover.test.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_dependencies_table/index.tsx
  x-pack/plugins/apm/public/components/routing/home/index.tsx
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#110645 [APM] Filter throughput on transaction name
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_throughput_chart.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/transaction_charts/index.tsx
  x-pack/plugins/apm/server/lib/services/get_throughput.ts
  x-pack/plugins/apm/server/routes/services.ts
Labels: Team:apm, release_note:skip, auto-backport, v7.15.0

#110654 Bump Node.js from version 14.17.5 to 14.17.6
  .node-version
  .nvmrc
  WORKSPACE.bazel
  package.json
Labels: v8.0.0, release_note:skip, auto-backport, v7.15.0, v7.14.2

#110494 Remove skip from flaky test.
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v7.16.0

#110754 [7.x] [APM] Filter throughput on transaction name (#110645)
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_throughput_chart.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/transaction_charts/index.tsx
  x-pack/plugins/apm/server/lib/services/get_throughput.ts
  x-pack/plugins/apm/server/routes/services.ts
Labels: backport

#110757 [7.14] Bump Node.js from version 14.17.5 to 14.17.6 (#110654)
  .node-version
  .nvmrc
  WORKSPACE.bazel
  package.json
Labels: backport

#110755 [7.15] Bump Node.js from version 14.17.5 to 14.17.6 (#110654)
  .node-version
  .nvmrc
  WORKSPACE.bazel
  package.json
Labels: backport

#110756 [7.x] Bump Node.js from version 14.17.5 to 14.17.6 (#110654)
  .node-version
  .nvmrc
  WORKSPACE.bazel
  package.json
Labels: backport

#110710 [RAC] Reset fields button fix
  x-pack/plugins/security_solution/common/types/timeline/store.ts
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, Theme: rac, v7.15.0, v7.16.0

#110759 [7.x] Remove skip from flaky test. (#110494)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: backport

#110760 Bump the Node.js version used by Docker in CI
  .ci/Dockerfile
Labels: v8.0.0, release_note:skip, auto-backport, v7.15.0, v7.16.0, v7.14.2

#109840 [Core deprecations] Add title field to deprecation info
  .i18nrc.json
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.message.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.title.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsservicesetup.md
  packages/kbn-config/BUILD.bazel
  packages/kbn-config/src/deprecation/deprecation_factory.test.ts
  packages/kbn-config/src/deprecation/deprecation_factory.ts
  packages/kbn-config/src/deprecation/types.ts
  src/core/public/deprecations/deprecations_client.test.ts
  src/core/public/deprecations/deprecations_client.ts
  src/core/server/config/deprecation/core_deprecations.test.ts
  src/core/server/config/integration_tests/config_deprecation.test.ts
  src/core/server/deprecations/README.mdx
  src/core/server/deprecations/deprecations_factory.test.ts
  src/core/server/deprecations/deprecations_factory.ts
  src/core/server/deprecations/deprecations_service.test.ts
  src/core/server/deprecations/deprecations_service.ts
  src/core/server/deprecations/types.ts
  src/core/server/server.api.md
  src/plugins/data/server/config_deprecations.test.ts
  src/plugins/data/server/index_patterns/deprecations/scripted_fields.ts
  src/plugins/timelion/server/deprecations.ts
  test/plugin_functional/plugins/core_plugin_deprecations/server/plugin.ts
  test/plugin_functional/test_suites/core/deprecations.ts
  x-pack/plugins/reporting/server/deprecations/migrage_existing_indices_ilm_policy.test.ts
  x-pack/plugins/reporting/server/deprecations/migrate_existing_indices_ilm_policy.ts
  x-pack/plugins/reporting/server/deprecations/reporting_role.test.ts
  x-pack/plugins/reporting/server/deprecations/reporting_role.ts
  x-pack/plugins/security/server/config_deprecations.test.ts
  x-pack/plugins/security/server/config_deprecations.ts
  x-pack/plugins/upgrade_assistant/__jest__/client_integration/kibana.test.ts
  x-pack/plugins/upgrade_assistant/__jest__/client_integration/overview/review_logs_step/mocked_responses.ts
  x-pack/plugins/upgrade_assistant/server/lib/kibana_status.test.ts
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0

#110689 [7.15] [Security Solution] Updates loock-back time on Cypress tests (#110609)
  x-pack/plugins/security_solution/cypress/integration/header/navigation.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
Labels: backport

#110612 [Montiroing] Add monitoring toolbar with date picker
  x-pack/plugins/monitoring/public/application/global_state_context.tsx
  x-pack/plugins/monitoring/public/application/index.tsx
  x-pack/plugins/monitoring/public/application/pages/page_template.tsx
  x-pack/plugins/monitoring/public/application/pages/use_monitoring_time.tsx
  x-pack/plugins/monitoring/public/components/shared/toolbar.tsx
Labels: v8.0.0, Team:logs-metrics-ui, release_note:skip, Feature:Stack Monitoring, v7.16.0, Epic: Stack Monitoring de-angularization

#110770 [7.x] reset fields fix (#110710)
  x-pack/plugins/security_solution/common/types/timeline/store.ts
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
Labels: backport

#110767 [Elasticsearch] Skip the Product Check on the scopeable client
  src/core/server/elasticsearch/client/configure_client.test.ts
  src/core/server/elasticsearch/client/configure_client.ts
Labels: Team:Core, v8.0.0, release_note:skip, auto-backport, v7.16.0

#110775 [7.14] Bump the Node.js version used by Docker in CI (#110760)
  .ci/Dockerfile
Labels: backport

#110747 [data views] Create data views service and use in index pattern management
  src/plugins/data/public/index.ts
  src/plugins/data/public/index_patterns/index.ts
  src/plugins/data/public/mocks.ts
  src/plugins/data/public/plugin.ts
  src/plugins/data/public/types.ts
  src/plugins/index_pattern_management/public/components/edit_index_pattern/edit_index_pattern.tsx
  src/plugins/index_pattern_management/public/components/index_pattern_table/index_pattern_table.tsx
Labels: Feature:Data Views, v8.0.0, Team:AppServices, release_note:skip, auto-backport, v7.16.0

#110774 [7.x] Bump the Node.js version used by Docker in CI (#110760)
  .ci/Dockerfile
Labels: backport

#110773 [7.15] Bump the Node.js version used by Docker in CI (#110760)
  .ci/Dockerfile
Labels: backport

#110777 [7.14] [Discover] fix sidebar content for old ff (#103424)
  src/plugins/discover/public/application/apps/main/components/sidebar/discover_sidebar.scss
Labels: backport

#110352 [7.15] [Security Solution] Add additional advanced policy options for Memory protections (#110288)
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport

#110741 [7.15] [Security Solution] Correct memory exception field names (#110705)
  x-pack/plugins/security_solution/common/ecs/event/index.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/exceptionable_endpoint_fields.json
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
Labels: backport

#110716 [7.15] Merge junit results also for CCS functional tests (#110591)
  x-pack/plugins/security_solution/package.json
Labels: backport

#110714 [Cases][Observability] Disable sync toggle in flyout
  x-pack/plugins/cases/public/components/create/form.test.tsx
  x-pack/plugins/cases/public/components/create/form.tsx
  x-pack/plugins/observability/public/components/app/cases/create/flyout.test.tsx
  x-pack/plugins/observability/public/components/app/cases/create/flyout.tsx
  x-pack/plugins/timelines/public/components/actions/timeline/cases/add_to_case_action.tsx
  x-pack/plugins/timelines/public/components/actions/timeline/cases/create/flyout.tsx
  x-pack/plugins/timelines/public/components/t_grid/standalone/index.tsx
Labels: v8.0.0, release_note:skip, Team:Threat Hunting, Feature:Cases, auto-backport, Theme: rac, v7.15.0, v7.16.0

#110728 [7.15] [eslint] prevent async Promise constructor mistakes (#110349)
  package.json
  packages/elastic-eslint-config-kibana/.eslintrc.js
  packages/kbn-eslint-plugin-eslint/index.js
  packages/kbn-eslint-plugin-eslint/rules/no_async_promise_body.js
  packages/kbn-eslint-plugin-eslint/rules/no_async_promise_body.test.js
  src/core/public/application/integration_tests/utils.tsx
  src/core/public/application/ui/app_container.test.tsx
  src/core/public/chrome/ui/header/header_action_menu.test.tsx
  src/plugins/charts/public/services/active_cursor/use_active_cursor.test.ts
  src/plugins/kibana_react/public/util/mount_point_portal.test.tsx
  src/plugins/maps_ems/public/lazy_load_bundle/get_service_settings.ts
  src/plugins/maps_legacy/public/lazy_load_bundle/index.ts
  src/plugins/navigation/public/top_nav_menu/top_nav_menu.test.tsx
  src/plugins/vis_type_table/public/legacy/vis_controller.ts
  src/plugins/vis_type_vislib/public/vislib/components/legend/legend.tsx
  x-pack/plugins/data_visualizer/public/lazy_load_bundle/index.ts
  x-pack/plugins/file_upload/public/lazy_load_bundle/index.ts
  x-pack/plugins/index_management/public/application/components/mappings_editor/use_state_listener.tsx
  x-pack/plugins/maps/public/lazy_load_bundle/index.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities/load_new_job_capabilities.ts
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/common/resolve_job_selection.tsx
  x-pack/plugins/monitoring/server/lib/logstash/get_paginated_pipelines.js
  x-pack/plugins/security/server/session_management/session_index.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/import_rules_route.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/import_timelines/helpers.ts
  x-pack/plugins/task_manager/server/monitoring/configuration_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/workload_statistics.test.ts
  x-pack/plugins/task_manager/server/task_scheduling.ts
  x-pack/test/functional_enterprise_search/services/app_search_client.ts
  x-pack/test/lists_api_integration/utils.ts
  yarn.lock
Labels: backport

#110562 [7.15] [Security Solution][Endpoint][Policy] Updated Policy details UI (#110429)
  x-pack/plugins/security_solution/public/common/components/header_page/index.tsx
  x-pack/plugins/security_solution/public/management/components/administration_list_page.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/agents_summary.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/components/config_form/index.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/components/events_form/index.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details_form.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/components/radio_buttons.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/components/user_notification.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/behavior.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/memory.tsx
Labels: backport

#110769 [7.15] reset fields fix (#110710)
  x-pack/plugins/security_solution/common/types/timeline/store.ts
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
Labels: backport

#110783 [7.14] Increase timeout for displaying welcome interstitial for new users (#110498)
  src/plugins/home/public/application/components/home.js
Labels: backport

#110781 [7.15] Increase timeout for displaying welcome interstitial for new users (#110498)
  src/plugins/home/public/application/components/home.js
Labels: backport

#110753 [APM] Adds missing transaction events fallback badge to transaction details
  x-pack/plugins/apm/public/components/app/transaction_details/index.tsx
Labels: Team:apm, release_note:skip, auto-backport, v7.15.0, v7.16.0

#110787 [7.x] [Elasticsearch] Skip the Product Check on the scopeable client (#110767)
  src/core/server/elasticsearch/client/configure_client.test.ts
  src/core/server/elasticsearch/client/configure_client.ts
Labels: backport

#110674 [DOCS] Removes coming tag from 7.14.1 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, v7.14.1

#110672 [7.x] [DOCS] Adds the 7.14.1 release notes (#110107)
  docs/CHANGELOG.asciidoc
Labels: backport

#110671 [7.15] [DOCS] Adds the 7.14.1 release notes (#110107)
  docs/CHANGELOG.asciidoc
Labels: backport

#110548 Security usage data
  src/core/server/core_usage_data/core_usage_data_service.mock.ts
  src/core/server/core_usage_data/core_usage_data_service.test.ts
  src/core/server/core_usage_data/core_usage_data_service.ts
  src/core/server/core_usage_data/types.ts
  src/core/server/server.api.md
  src/plugins/kibana_usage_collection/server/collectors/core/core_usage_collector.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/security/server/config.test.ts
  x-pack/plugins/security/server/config.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.test.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: v8.0.0, release_note:skip, auto-backport, v7.15.0, v7.16.0

#109876 [Observability] [RAC] Add basic functional tests for observability alerts
  x-pack/test/functional/apps/observability/alerts/index.ts
  x-pack/test/functional/apps/observability/index.ts
  x-pack/test/functional/config.js
  x-pack/test/functional/es_archives/observability/alerts/data.json.gz
  x-pack/test/functional/es_archives/observability/alerts/mappings.json
Labels: v8.0.0, Team:logs-metrics-ui, release_note:skip, Feature:RAC, v7.15.0, Feature:Observability RAC

#110791 [7.x] create data views service and use in index pattern management (#110747)
  src/plugins/data/public/index.ts
  src/plugins/data/public/index_patterns/index.ts
  src/plugins/data/public/mocks.ts
  src/plugins/data/public/plugin.ts
  src/plugins/data/public/types.ts
  src/plugins/index_pattern_management/public/components/edit_index_pattern/edit_index_pattern.tsx
  src/plugins/index_pattern_management/public/components/index_pattern_table/index_pattern_table.tsx
Labels: backport

#110506 [RAC] Expand cell footer button changes to prevent overflow
  x-pack/plugins/security_solution/public/common/components/page/index.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/default_cell_actions.tsx
  x-pack/plugins/timelines/public/components/hover_actions/actions/copy.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, Theme: rac, v7.15.0, v7.16.0

#110702 Improve color picker handling in SavedObjects tagging test
  x-pack/test/functional/page_objects/tag_management_page.ts
Labels: Team:Core, v8.0.0, release_note:skip, Feature:Saved Object Tagging, auto-backport, v7.16.0, v7.14.2, v7.15.1

#110785 [ML] Functional tests - stability fixes
  x-pack/test/functional/services/ml/data_frame_analytics.ts
  x-pack/test/functional/services/ml/job_table.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: :ml, test_ui_functional, v8.0.0, release_note:skip, auto-backport, v7.15.0, v7.16.0

#110203 [Security Solution] Endpoint Exception status in flayout is not aligned with alerts context menu
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
  x-pack/plugins/security_solution/public/common/utils/endpoint_alert_check.test.ts
  x-pack/plugins/security_solution/public/common/utils/endpoint_alert_check.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/use_host_isolation_action.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.15.0, v7.16.0

#110796 [7.15] Disable sync toggle in flyout (#110714)
  x-pack/plugins/cases/public/components/create/form.test.tsx
  x-pack/plugins/cases/public/components/create/form.tsx
  x-pack/plugins/observability/public/components/app/cases/create/flyout.test.tsx
  x-pack/plugins/observability/public/components/app/cases/create/flyout.tsx
  x-pack/plugins/timelines/public/components/actions/timeline/cases/add_to_case_action.tsx
  x-pack/plugins/timelines/public/components/actions/timeline/cases/create/flyout.tsx
  x-pack/plugins/timelines/public/components/t_grid/standalone/index.tsx
Labels: backport

#110797 [7.x] Disable sync toggle in flyout (#110714)
  x-pack/plugins/cases/public/components/create/form.test.tsx
  x-pack/plugins/cases/public/components/create/form.tsx
  x-pack/plugins/observability/public/components/app/cases/create/flyout.test.tsx
  x-pack/plugins/observability/public/components/app/cases/create/flyout.tsx
  x-pack/plugins/timelines/public/components/actions/timeline/cases/add_to_case_action.tsx
  x-pack/plugins/timelines/public/components/actions/timeline/cases/create/flyout.tsx
  x-pack/plugins/timelines/public/components/t_grid/standalone/index.tsx
Labels: backport

#109754 [Maps] Add new index handling for users missing privs for index creation
  x-pack/plugins/maps/public/classes/layers/new_vector_layer_wizard/wizard.tsx
Labels: Team:Geo, v8.0.0, release_note:skip, v7.15.0, v7.16.0

#110525 [7.15] [Security Solution][Endpoint] Fix activity log load empty state flicker (#110233)
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/endpoint_details_tabs.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoint_activity_log.tsx
Labels: backport

#109926 Upgrade EUI to v37.3.1
  package.json
  src/core/public/i18n/__snapshots__/i18n_service.test.tsx.snap
  src/core/public/i18n/i18n_eui_mapping.test.ts
  src/core/public/i18n/i18n_eui_mapping.tsx
  src/dev/license_checker/config.ts
  src/plugins/advanced_settings/public/management_app/components/field/__snapshots__/field.test.tsx.snap
  src/plugins/data/public/utils/table_inspector_view/components/__snapshots__/data_view.test.tsx.snap
  x-pack/plugins/apm/public/components/app/error_group_overview/List/__snapshots__/List.test.tsx.snap
  x-pack/plugins/canvas/public/components/home/my_workpads/__snapshots__/workpad_table.stories.storyshot
  x-pack/plugins/canvas/shareable_runtime/api/__snapshots__/shareable.test.tsx.snap
  x-pack/plugins/canvas/shareable_runtime/components/__stories__/__snapshots__/canvas.stories.storyshot
  x-pack/plugins/canvas/shareable_runtime/components/footer/__stories__/__snapshots__/footer.stories.storyshot
  x-pack/plugins/canvas/shareable_runtime/components/footer/__stories__/__snapshots__/page_controls.stories.storyshot
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.tsx.snap
  x-pack/plugins/reporting/public/management/__snapshots__/report_listing.test.tsx.snap
  x-pack/plugins/security_solution/cypress/tasks/alerts.ts
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/enrichment_range_picker.test.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/trusted_apps_grid/__snapshots__/index.test.tsx.snap
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/__snapshots__/location_status_tags.test.tsx.snap
  yarn.lock
Labels: Team:apm, Team:uptime, release_note:skip, EUI, auto-backport, v7.16.0

#110799 [Security Solution][7.15] Fixes navigation skipped test
  x-pack/plugins/security_solution/cypress/integration/header/navigation.spec.ts
Labels: release_note:skip, Team: SecuritySolution, v7.15.0

#110713 [RAC] Add embeddable to o11y optionalPlugins
  x-pack/plugins/observability/kibana.json
Labels: bug, v8.0.0, release_note:skip, auto-backport, Feature:Cases-RAC-UI, v7.15.0, v7.16.0

#110776 [7.x] [Core deprecations] Add title field to deprecation info (#109840)
  .i18nrc.json
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.message.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.title.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsservicesetup.md
  packages/kbn-config/BUILD.bazel
  packages/kbn-config/src/deprecation/deprecation_factory.test.ts
  packages/kbn-config/src/deprecation/deprecation_factory.ts
  packages/kbn-config/src/deprecation/types.ts
  src/core/public/deprecations/deprecations_client.test.ts
  src/core/public/deprecations/deprecations_client.ts
  src/core/server/config/deprecation/core_deprecations.test.ts
  src/core/server/config/integration_tests/config_deprecation.test.ts
  src/core/server/deprecations/README.mdx
  src/core/server/deprecations/deprecations_factory.test.ts
  src/core/server/deprecations/deprecations_factory.ts
  src/core/server/deprecations/deprecations_service.test.ts
  src/core/server/deprecations/deprecations_service.ts
  src/core/server/deprecations/types.ts
  src/core/server/server.api.md
  src/plugins/data/server/config_deprecations.test.ts
  src/plugins/data/server/index_patterns/deprecations/scripted_fields.ts
  src/plugins/timelion/server/deprecations.ts
  test/plugin_functional/plugins/core_plugin_deprecations/server/plugin.ts
  test/plugin_functional/test_suites/core/deprecations.ts
  x-pack/plugins/reporting/server/deprecations/migrage_existing_indices_ilm_policy.test.ts
  x-pack/plugins/reporting/server/deprecations/migrate_existing_indices_ilm_policy.ts
  x-pack/plugins/reporting/server/deprecations/reporting_role.test.ts
  x-pack/plugins/reporting/server/deprecations/reporting_role.ts
  x-pack/plugins/security/server/config_deprecations.test.ts
  x-pack/plugins/security/server/config_deprecations.ts
  x-pack/plugins/upgrade_assistant/__jest__/client_integration/kibana_deprecations/kibana_deprecations.test.ts
  x-pack/plugins/upgrade_assistant/__jest__/client_integration/overview/fix_issues_step/mocked_responses.ts
  x-pack/plugins/upgrade_assistant/server/lib/kibana_status.test.ts
Labels: backport

#110794 [Fleet] Add Fleet diagrams to dev_docs
  x-pack/plugins/fleet/dev_docs/diagrams/README.md
  x-pack/plugins/fleet/dev_docs/diagrams/agent_and_package_policies/agent_and_package_policies.excalidraw
  x-pack/plugins/fleet/dev_docs/diagrams/agent_and_package_policies/agent_and_package_policies.png
  x-pack/plugins/fleet/dev_docs/diagrams/architecture_overview/architecture_overview.excalidraw
  x-pack/plugins/fleet/dev_docs/diagrams/architecture_overview/architecture_overview.png
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0

#110805 [7.x] [APM] Adds missing transaction events fallback badge to transaction details (#109846) (#110753)
  x-pack/plugins/apm/public/components/app/transaction_details/index.tsx
Labels: backport

#110814 [7.15] [APM] Adds missing transaction events fallback badge to transaction details (#109846) (#110753)
  x-pack/plugins/apm/public/components/app/transaction_details/index.tsx
Labels: backport

#110739 [Upgrade Assistant] Remove version from UA nav title
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/upgrade_assistant/public/plugin.ts
Labels: Team:Stack Management, release_note:skip, Feature:Upgrade Assistant, v7.16.0

#110815 [7.x] [Observability] [RAC] Add basic functional tests for observability alerts (#109876)
  x-pack/test/functional/apps/observability/alerts/index.ts
  x-pack/test/functional/apps/observability/index.ts
  x-pack/test/functional/config.js
  x-pack/test/functional/es_archives/observability/alerts/data.json.gz
  x-pack/test/functional/es_archives/observability/alerts/mappings.json
Labels: backport

#110816 [7.15] [Observability] [RAC] Add basic functional tests for observability alerts (#109876)
  x-pack/test/functional/apps/observability/alerts/index.ts
  x-pack/test/functional/apps/observability/index.ts
  x-pack/test/functional/config.js
  x-pack/test/functional/es_archives/observability/alerts/data.json.gz
  x-pack/test/functional/es_archives/observability/alerts/mappings.json
Labels: backport

#110811 [Timeline] Show cases create flyout with timeline open
  x-pack/plugins/timelines/public/components/actions/timeline/cases/create/flyout.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, v7.15.0, v7.16.0

#110817 [7.15] [RAC] Expand cell footer button changes to prevent overflow (#110506)
  x-pack/plugins/security_solution/public/common/components/page/index.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/default_cell_actions.tsx
  x-pack/plugins/timelines/public/components/hover_actions/actions/copy.tsx
Labels: backport

#110820 [7.15] Improve color picker handling in SavedObjects tagging test (#110702)
  x-pack/test/functional/page_objects/tag_management_page.ts
Labels: backport

#110819 [7.x] Improve color picker handling in SavedObjects tagging test (#110702)
  x-pack/test/functional/page_objects/tag_management_page.ts
Labels: backport

#110818 [7.x] [RAC] Expand cell footer button changes to prevent overflow (#110506)
  x-pack/plugins/security_solution/public/common/components/page/index.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/default_cell_actions.tsx
  x-pack/plugins/timelines/public/components/hover_actions/actions/copy.tsx
Labels: backport

#110825 [7.15] [ML] Functional tests - stability fixes (#110785)
  x-pack/test/functional/services/ml/data_frame_analytics.ts
  x-pack/test/functional/services/ml/job_table.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: backport

#110697 [7.14] [Security Solution] Updates loock-back time on Cypress tests (#110609)
  x-pack/plugins/security_solution/cypress/integration/header/navigation.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/plugins/security_solution/cypress/tasks/kibana_navigation.ts
Labels: backport

#110826 [7.x] [ML] Functional tests - stability fixes (#110785)
  x-pack/test/functional/services/ml/data_frame_analytics.ts
  x-pack/test/functional/services/ml/job_table.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: backport

#110829 [7.15] [Maps] Add new index handling for users missing privs for index creation (#109754)
  x-pack/plugins/maps/public/classes/layers/new_vector_layer_wizard/wizard.tsx
Labels: backport

#110828 [7.x] [Maps] Add new index handling for users missing privs for index creation (#109754)
  x-pack/plugins/maps/public/classes/layers/new_vector_layer_wizard/wizard.tsx
Labels: backport

#110831 [7.15] [Security Solution] Endpoint Exception status in flayout is not aligned with alerts context menu (#110203)
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
  x-pack/plugins/security_solution/public/common/utils/endpoint_alert_check.test.ts
  x-pack/plugins/security_solution/public/common/utils/endpoint_alert_check.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/use_host_isolation_action.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.tsx
Labels: backport

#110832 [7.x] [Security Solution] Endpoint Exception status in flayout is not aligned with alerts context menu (#110203)
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
  x-pack/plugins/security_solution/public/common/utils/endpoint_alert_check.test.ts
  x-pack/plugins/security_solution/public/common/utils/endpoint_alert_check.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/use_host_isolation_action.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.tsx
Labels: backport

#110833 [7.x] Upgrade EUI to v37.3.1 (#109926)
  package.json
  src/core/public/i18n/__snapshots__/i18n_service.test.tsx.snap
  src/core/public/i18n/i18n_eui_mapping.test.ts
  src/core/public/i18n/i18n_eui_mapping.tsx
  src/dev/license_checker/config.ts
  src/plugins/advanced_settings/public/management_app/components/field/__snapshots__/field.test.tsx.snap
  src/plugins/data/public/utils/table_inspector_view/components/__snapshots__/data_view.test.tsx.snap
  x-pack/plugins/apm/public/components/app/error_group_overview/List/__snapshots__/List.test.tsx.snap
  x-pack/plugins/canvas/public/components/home/my_workpads/__snapshots__/workpad_table.stories.storyshot
  x-pack/plugins/canvas/shareable_runtime/api/__snapshots__/shareable.test.tsx.snap
  x-pack/plugins/canvas/shareable_runtime/components/__stories__/__snapshots__/canvas.stories.storyshot
  x-pack/plugins/canvas/shareable_runtime/components/footer/__stories__/__snapshots__/footer.stories.storyshot
  x-pack/plugins/canvas/shareable_runtime/components/footer/__stories__/__snapshots__/page_controls.stories.storyshot
  x-pack/plugins/license_management/__jest__/__snapshots__/upload_license.test.tsx.snap
  x-pack/plugins/reporting/public/management/__snapshots__/report_listing.test.tsx.snap
  x-pack/plugins/security_solution/cypress/tasks/alerts.ts
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/enrichment_range_picker.test.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/trusted_apps_grid/__snapshots__/index.test.tsx.snap
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/__snapshots__/location_status_tags.test.tsx.snap
  yarn.lock
Labels: backport

#110858 [ci] Handle ci-stats HTTP errors a little better to avoid accidentally printing credentials
  .buildkite/scripts/lifecycle/build_status.js
  .buildkite/scripts/lifecycle/ci_stats_complete.js
  .buildkite/scripts/lifecycle/ci_stats_start.js
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v7.16.0, v7.14.2, v7.15.1

#110859 [7.x] [ci] Handle ci-stats HTTP errors a little better to avoid accidentally printing credentials (#110858)
  .buildkite/scripts/lifecycle/build_status.js
  .buildkite/scripts/lifecycle/ci_stats_complete.js
  .buildkite/scripts/lifecycle/ci_stats_start.js
Labels: backport

#110861 [7.15] [ci] Handle ci-stats HTTP errors a little better to avoid accidentally printing credentials (#110858)
  .buildkite/scripts/lifecycle/build_status.js
  .buildkite/scripts/lifecycle/ci_stats_complete.js
  .buildkite/scripts/lifecycle/ci_stats_start.js
Labels: backport

#110764 [Fleet] Only show upgrade button on older versions of package policy
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/policies/package_policies.tsx
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.15.0, v7.16.0

#110838 [7.x] [RAC] Add embeddable to o11y optionalPlugins (#110713)
  x-pack/plugins/observability/kibana.json
Labels: backport

#110837 [7.15] [RAC] Add embeddable to o11y optionalPlugins (#110713)
  x-pack/plugins/observability/kibana.json
Labels: backport

#110584 [Security Solution] Enable repositionOnScroll for overflow popovers
  x-pack/plugins/timelines/public/components/hover_actions/actions/overflow.test.tsx
  x-pack/plugins/timelines/public/components/hover_actions/actions/overflow.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.15.0, v7.16.0

#110648 Feature/109730 uptime synthetics integration browser functional tests
  x-pack/plugins/uptime/public/components/fleet_package/browser/formatters.ts
  x-pack/plugins/uptime/public/components/fleet_package/browser/source_field.tsx
  x-pack/plugins/uptime/public/components/fleet_package/common/formatters.test.ts
  x-pack/plugins/uptime/public/components/fleet_package/common/formatters.ts
  x-pack/test/functional/apps/uptime/synthetics_integration.ts
  x-pack/test/functional/page_objects/synthetics_integration_page.ts
Labels: enhancement, v8.0.0, Team:uptime, release_note:skip, auto-backport, v7.15.0, v7.16.0

#110842 [CI] Removes all verbose flags
  .buildkite/scripts/bootstrap.sh
  .buildkite/scripts/build_kibana_plugins.sh
  test/scripts/checks/commit/commit_check_runner.sh
  test/scripts/jenkins_unit.sh
  test/scripts/jenkins_xpack_build_plugins.sh
  test/scripts/test/jest_integration.sh
  test/scripts/test/jest_unit.sh
Labels: Team:Operations, release_note:skip, auto-backport, v7.16.0, v7.15.1

#109027 [APM] Use doc link service instead of ElasticDocsLink
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  x-pack/plugins/apm/public/components/app/service_map/EmptyBanner.tsx
  x-pack/plugins/apm/public/components/app/service_map/timeout_prompt.tsx
  x-pack/plugins/apm/public/context/apm_plugin/mock_apm_plugin_context.tsx
Labels: Team:apm, v8.0.0, release_note:skip, apm:service-maps, v7.16.0

#109741 [task manager] provide better diagnostics when task manager performance is degraded
  x-pack/plugins/alerting/server/health/get_state.test.ts
  x-pack/plugins/alerting/server/health/get_state.ts
  x-pack/plugins/alerting/server/plugin.ts
  x-pack/plugins/task_manager/server/lib/calculate_health_status.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.test.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.ts
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.test.ts
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.ts
  x-pack/plugins/task_manager/server/monitoring/monitoring_stats_stream.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
  x-pack/plugins/task_manager/server/routes/health.ts
Labels: release_note:enhancement, v8.0.0, Feature:Task Manager, Team:Alerting Services, v7.15.0, v7.16.0, v7.14.2

#110846 [7.x] [Timeline] Show cases create flyout with timeline open (#110811)
  x-pack/plugins/timelines/public/components/actions/timeline/cases/create/flyout.tsx
Labels: backport

#110847 [7.15] [Timeline] Show cases create flyout with timeline open (#110811)
  x-pack/plugins/timelines/public/components/actions/timeline/cases/create/flyout.tsx
Labels: backport

#110845 [ci-stats] retry calls to ci-stats slower
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-pm/dist/index.js
Labels: Team:Operations, v8.0.0, release_note:skip, v7.14.0, auto-backport, v7.15.0, v7.16.0

#110701 [Maps] 'index patter' -> 'data view' in user facing copy
  docs/maps/asset-tracking-tutorial.asciidoc
  docs/maps/geojson-upload.asciidoc
  docs/maps/indexing-geojson-data-tutorial.asciidoc
  docs/maps/maps-aggregations.asciidoc
  docs/maps/maps-getting-started.asciidoc
  docs/maps/reverse-geocoding-tutorial.asciidoc
  docs/maps/search.asciidoc
  docs/maps/trouble-shooting.asciidoc
  docs/maps/vector-tooltips.asciidoc
  x-pack/plugins/file_upload/public/components/import_complete_view.tsx
  x-pack/plugins/file_upload/public/components/json_upload_and_parse.tsx
  x-pack/plugins/file_upload/public/validate_index_name.ts
  x-pack/plugins/maps/common/i18n_getters.ts
  x-pack/plugins/maps/public/classes/layers/choropleth_layer_wizard/layer_template.tsx
  x-pack/plugins/maps/public/classes/layers/file_upload_wizard/config.tsx
  x-pack/plugins/maps/public/classes/layers/new_vector_layer_wizard/wizard.tsx
  x-pack/plugins/maps/public/classes/layers/solution_layers/observability/observability_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/layers/solution_layers/security/index_pattern_select.tsx
  x-pack/plugins/maps/public/classes/layers/solution_layers/security/security_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/update_source_editor.js
  x-pack/plugins/maps/public/classes/sources/es_geo_line_source/es_geo_line_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_pew_pew_source/create_source_editor.js
  x-pack/plugins/maps/public/classes/sources/es_pew_pew_source/es_pew_pew_source.js
  x-pack/plugins/maps/public/classes/sources/es_pew_pew_source/update_source_editor.js
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/top_hits/update_source_editor.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/update_source_editor.js
  x-pack/plugins/maps/public/classes/sources/es_search_source/util/load_index_settings.ts
  x-pack/plugins/maps/public/classes/sources/es_source/es_source.ts
  x-pack/plugins/maps/public/components/__snapshots__/geo_index_pattern_select.test.tsx.snap
  x-pack/plugins/maps/public/components/geo_index_pattern_select.tsx
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/join_editor/resources/join.tsx
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/join_editor/resources/join_expression.tsx
  x-pack/plugins/maps/server/routes.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Geo, v8.0.0, release_note:skip, backport:skip

#110874 Add GitHub action for synchronizing commits from master to main branch
  .github/workflows/sync-main-branch.yml
Labels: Team:Operations, v8.0.0, release_note:skip, backport:skip

#110752 [Reporting/Docs] Call out where additional user action will be needed
  docs/settings/reporting-settings.asciidoc
Labels: Feature:Reporting, v8.0.0, Team:AppServices, release_note:skip, Team:Reporting Services, docs, v7.16.0, v7.14.2, v7.15.1

#110883 [7.15] Update reporting-settings.asciidoc (#110752)
  docs/settings/reporting-settings.asciidoc
Labels: backport

#110882 [7.x] Update reporting-settings.asciidoc (#110752)
  docs/settings/reporting-settings.asciidoc
Labels: backport

#110528 [Rule Registry][RAC] Rename kibana.alert.id to kibana.alert.instance.id
  packages/kbn-rule-data-utils/src/technical_field_names.ts
  x-pack/plugins/apm/public/components/shared/charts/helper/get_alert_annotations.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/latency_chart/latency_chart.stories.tsx
  x-pack/plugins/observability/public/pages/alerts/example_data.ts
  x-pack/plugins/rule_registry/README.md
  x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.ts
  x-pack/plugins/rule_registry/server/routes/get_alert_by_id.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_type.test.ts
  x-pack/plugins/rule_registry/server/utils/create_persistence_rule_type_factory.ts
  x-pack/plugins/rule_registry/server/utils/get_common_alert_fields.ts
  x-pack/plugins/rule_registry/server/utils/rule_executor_test_utils.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/default_config.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
  x-pack/test/apm_api_integration/tests/alerts/rule_registry.ts
  x-pack/test/timeline/security_and_spaces/tests/basic/events.ts
  x-pack/test/timeline/security_and_spaces/tests/trial/events.ts
  x-pack/test/timeline/security_only/tests/basic/events.ts
  x-pack/test/timeline/security_only/tests/trial/events.ts
  x-pack/test/timeline/spaces_only/tests/events.ts
Labels: Team:apm, v8.0.0, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, auto-backport, Theme: rac, v7.15.0, v7.16.0

#110865 [7.15] [Security Solution] Enable repositionOnScroll for overflow popovers (#110584)
  x-pack/plugins/timelines/public/components/hover_actions/actions/overflow.test.tsx
  x-pack/plugins/timelines/public/components/hover_actions/actions/overflow.tsx
Labels: backport

#110866 [7.x] [Security Solution] Enable repositionOnScroll for overflow popovers (#110584)
  x-pack/plugins/timelines/public/components/hover_actions/actions/overflow.test.tsx
  x-pack/plugins/timelines/public/components/hover_actions/actions/overflow.tsx
Labels: backport

#110868 [7.x] [Uptime] [Synthetics Integration] browser functional tests (#110648)
  x-pack/plugins/uptime/public/components/fleet_package/browser/formatters.ts
  x-pack/plugins/uptime/public/components/fleet_package/browser/source_field.tsx
  x-pack/plugins/uptime/public/components/fleet_package/common/formatters.test.ts
  x-pack/plugins/uptime/public/components/fleet_package/common/formatters.ts
  x-pack/test/functional/apps/uptime/synthetics_integration.ts
  x-pack/test/functional/page_objects/synthetics_integration_page.ts
Labels: backport

#110870 [7.15] [task manager] provide better diagnostics when task manager performance is degraded (#109741)
  x-pack/plugins/alerting/server/health/get_state.test.ts
  x-pack/plugins/alerting/server/health/get_state.ts
  x-pack/plugins/alerting/server/plugin.ts
  x-pack/plugins/task_manager/server/lib/calculate_health_status.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.test.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.ts
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.test.ts
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.ts
  x-pack/plugins/task_manager/server/monitoring/monitoring_stats_stream.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
  x-pack/plugins/task_manager/server/routes/health.ts
Labels: backport

#110869 [7.x] [task manager] provide better diagnostics when task manager performance is degraded (#109741)
  x-pack/plugins/alerting/server/health/get_state.test.ts
  x-pack/plugins/alerting/server/health/get_state.ts
  x-pack/plugins/alerting/server/plugin.ts
  x-pack/plugins/task_manager/server/lib/calculate_health_status.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.test.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.ts
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.test.ts
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.ts
  x-pack/plugins/task_manager/server/monitoring/monitoring_stats_stream.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
  x-pack/plugins/task_manager/server/routes/health.ts
Labels: backport

#110872 [7.x] fix: do not show upgrade button on latest version of package (#110764)
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/policies/package_policies.tsx
Labels: backport

#110871 [7.15] fix: do not show upgrade button on latest version of package (#110764)
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/policies/package_policies.tsx
Labels: backport

#110873 [7.x] [APM] Use doc link service instead of ElasticDocsLink (#109027)
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  x-pack/plugins/apm/public/components/app/service_map/EmptyBanner.tsx
  x-pack/plugins/apm/public/components/app/service_map/timeout_prompt.tsx
  x-pack/plugins/apm/public/context/apm_plugin/mock_apm_plugin_context.tsx
Labels: backport

#110328 Add snapshotsUrl to Cloud plugin public interface.
  x-pack/plugins/cloud/README.md
  x-pack/plugins/cloud/common/constants.ts
  x-pack/plugins/cloud/public/plugin.test.ts
  x-pack/plugins/cloud/public/plugin.ts
Labels: chore, Team:Core, v8.0.0, release_note:skip, v7.16.0

#110877 [7.14] [ci-stats] retry calls to ci-stats slower (#110845)
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-pm/dist/index.js
Labels: backport

#110879 [7.x] [ci-stats] retry calls to ci-stats slower (#110845)
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-pm/dist/index.js
Labels: backport

#110878 [7.15] [ci-stats] retry calls to ci-stats slower (#110845)
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-pm/dist/index.js
Labels: backport

#110731 [7.14] [eslint] prevent async Promise constructor mistakes (#110349)
  package.json
  packages/elastic-eslint-config-kibana/.eslintrc.js
  packages/kbn-eslint-plugin-eslint/index.js
  packages/kbn-eslint-plugin-eslint/rules/no_async_promise_body.js
  packages/kbn-eslint-plugin-eslint/rules/no_async_promise_body.test.js
  src/core/public/application/integration_tests/utils.tsx
  src/core/public/application/ui/app_container.test.tsx
  src/core/public/chrome/ui/header/header_action_menu.test.tsx
  src/plugins/kibana_react/public/util/mount_point_portal.test.tsx
  src/plugins/maps_ems/public/lazy_load_bundle/get_service_settings.ts
  src/plugins/maps_legacy/public/lazy_load_bundle/index.ts
  src/plugins/navigation/public/top_nav_menu/top_nav_menu.test.tsx
  src/plugins/vis_type_table/public/legacy/vis_controller.ts
  src/plugins/vis_type_vislib/public/vislib/components/legend/legend.tsx
  x-pack/plugins/data_visualizer/public/lazy_load_bundle/index.ts
  x-pack/plugins/file_upload/public/lazy_load_bundle/index.ts
  x-pack/plugins/index_management/public/application/components/mappings_editor/use_state_listener.tsx
  x-pack/plugins/maps/public/lazy_load_bundle/index.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities/load_new_job_capabilities.ts
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/common/resolve_job_selection.tsx
  x-pack/plugins/monitoring/server/lib/logstash/get_paginated_pipelines.js
  x-pack/plugins/security/server/session_management/session_index.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/import_rules_route.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/import_timelines/helpers.ts
  x-pack/plugins/task_manager/server/monitoring/configuration_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/workload_statistics.test.ts
  x-pack/plugins/task_manager/server/task_scheduling.ts
  x-pack/test/functional_enterprise_search/services/app_search_client.ts
  x-pack/test/lists_api_integration/utils.ts
  yarn.lock
Labels: backport

#110887 [7.x] [DOCS] Latency correlations (#110557)
  docs/apm/correlations.asciidoc
  docs/apm/images/correlations-hover.png
  x-pack/plugins/apm/public/components/app/correlations/latency_correlations_help_popover.tsx
Labels: backport

#110888 [7.15] [DOCS] Latency correlations (#110557)
  docs/apm/correlations.asciidoc
  docs/apm/images/correlations-hover.png
  x-pack/plugins/apm/public/components/app/correlations/latency_correlations_help_popover.tsx
Labels: backport

#110908 [7.x] [APM] tests restructure (#110703)
  test/scripts/jenkins_apm_cypress.sh
  x-pack/plugins/apm/ftr_e2e/README.md
  x-pack/plugins/apm/ftr_e2e/cypress_start.ts
  x-pack/plugins/apm/readme.md
  x-pack/plugins/apm/scripts/ftr_e2e/cypress_open.js
  x-pack/plugins/apm/scripts/ftr_e2e/cypress_run.js
  x-pack/plugins/apm/scripts/test/README.md
  x-pack/plugins/apm/scripts/test/api.js
  x-pack/plugins/apm/scripts/test/e2e.js
  x-pack/plugins/apm/scripts/test/jest.js
Labels: backport

#110530 [7.x] Locator for console app (#110116)
  src/plugins/console/kibana.json
  src/plugins/console/public/index.ts
  src/plugins/console/public/plugin.ts
  src/plugins/console/public/types/plugin_dependencies.ts
  src/plugins/console/tsconfig.json
  src/plugins/home/kibana.json
  src/plugins/home/public/application/components/manage_data/__snapshots__/manage_data.test.tsx.snap
  src/plugins/home/public/application/components/manage_data/manage_data.test.tsx
  src/plugins/home/public/application/components/manage_data/manage_data.tsx
  src/plugins/home/public/application/kibana_services.ts
  src/plugins/home/public/plugin.test.ts
  src/plugins/home/public/plugin.ts
  src/plugins/home/tsconfig.json
  src/plugins/inspector/kibana.json
  src/plugins/inspector/public/mocks.ts
  src/plugins/inspector/public/plugin.tsx
  src/plugins/inspector/public/ui/__snapshots__/inspector_panel.test.tsx.snap
  src/plugins/inspector/public/ui/inspector_panel.test.tsx
  src/plugins/inspector/public/ui/inspector_panel.tsx
  src/plugins/inspector/public/views/requests/components/details/req_code_viewer.tsx
  src/plugins/inspector/tsconfig.json
  src/plugins/kibana_overview/kibana.json
  src/plugins/kibana_overview/public/components/overview/__snapshots__/overview.test.tsx.snap
  src/plugins/kibana_overview/public/components/overview/overview.test.tsx
  src/plugins/kibana_overview/public/components/overview/overview.tsx
  src/plugins/kibana_overview/public/types.ts
  src/plugins/kibana_react/public/overview_page/overview_page_actions/__snapshots__/overview_page_actions.test.tsx.snap
  src/plugins/kibana_react/public/overview_page/overview_page_actions/overview_page_actions.test.tsx
  src/plugins/kibana_react/public/overview_page/overview_page_actions/overview_page_actions.tsx
  src/plugins/share/common/url_service/locators/README.md
Labels: backport

#110822 [7.x] Security usage data (#110548)
  src/core/server/core_usage_data/core_usage_data_service.mock.ts
  src/core/server/core_usage_data/core_usage_data_service.test.ts
  src/core/server/core_usage_data/core_usage_data_service.ts
  src/core/server/core_usage_data/types.ts
  src/core/server/server.api.md
  src/plugins/kibana_usage_collection/server/collectors/core/core_usage_collector.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/security/server/config.test.ts
  x-pack/plugins/security/server/config.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.test.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: backport

#109875 Security Telemetry Refactor
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/send_telemetry_events.ts
  x-pack/plugins/security_solution/server/lib/telemetry/constants.ts
  x-pack/plugins/security_solution/server/lib/telemetry/filters.ts
  x-pack/plugins/security_solution/server/lib/telemetry/mocks.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/diagnostic.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/diagnostic.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/index.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.ts
  x-pack/plugins/security_solution/server/lib/telemetry/types.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: Feature:Telemetry, v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v7.16.0

#110915 [7.x] Add snapshotsUrl to Cloud plugin public interface. (#110328)
  x-pack/plugins/cloud/README.md
  x-pack/plugins/cloud/common/constants.ts
  x-pack/plugins/cloud/public/plugin.test.ts
  x-pack/plugins/cloud/public/plugin.ts
Labels: backport

#110727 [7.x] [eslint] prevent async Promise constructor mistakes (#110349)
  package.json
  packages/elastic-eslint-config-kibana/.eslintrc.js
  packages/kbn-eslint-plugin-eslint/index.js
  packages/kbn-eslint-plugin-eslint/rules/no_async_promise_body.js
  packages/kbn-eslint-plugin-eslint/rules/no_async_promise_body.test.js
  src/core/public/application/integration_tests/utils.tsx
  src/core/public/application/ui/app_container.test.tsx
  src/core/public/chrome/ui/header/header_action_menu.test.tsx
  src/plugins/charts/public/services/active_cursor/use_active_cursor.test.ts
  src/plugins/kibana_react/public/util/mount_point_portal.test.tsx
  src/plugins/maps_ems/public/lazy_load_bundle/get_service_settings.ts
  src/plugins/maps_legacy/public/lazy_load_bundle/index.ts
  src/plugins/navigation/public/top_nav_menu/top_nav_menu.test.tsx
  src/plugins/vis_type_table/public/legacy/vis_controller.ts
  src/plugins/vis_types/vislib/public/vislib/components/legend/legend.tsx
  x-pack/plugins/data_visualizer/public/lazy_load_bundle/index.ts
  x-pack/plugins/file_upload/public/lazy_load_bundle/index.ts
  x-pack/plugins/index_management/public/application/components/mappings_editor/use_state_listener.tsx
  x-pack/plugins/maps/public/lazy_load_bundle/index.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities/load_new_job_capabilities.ts
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/common/resolve_job_selection.tsx
  x-pack/plugins/monitoring/server/lib/logstash/get_paginated_pipelines.js
  x-pack/plugins/security/server/session_management/session_index.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/import_rules_route.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/import_timelines/helpers.ts
  x-pack/plugins/task_manager/server/monitoring/configuration_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/workload_statistics.test.ts
  x-pack/plugins/task_manager/server/task_scheduling.ts
  x-pack/test/functional_enterprise_search/services/app_search_client.ts
  x-pack/test/lists_api_integration/utils.ts
  yarn.lock
Labels: backport

#109576 [data plugin] index pattern => data view text changes
  src/plugins/data/common/index_patterns/expressions/load_index_pattern.ts
  src/plugins/data/common/index_patterns/index_patterns/index_patterns.ts
  src/plugins/data/common/index_patterns/lib/errors.ts
  src/plugins/data/common/search/aggs/param_types/field.ts
  src/plugins/data/common/search/expressions/esaggs/esaggs_fn.ts
  src/plugins/data/common/search/expressions/esdsl.ts
  src/plugins/data/common/search/search_source/inspect/inspector_stats.ts
  src/plugins/index_pattern_editor/public/components/form_schema.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Data Views, v8.0.0, Feature:Kibana Management, Team:AppServices, release_note:skip

#110823 [7.15] Security usage data (#110548)
  src/core/server/core_usage_data/core_usage_data_service.mock.ts
  src/core/server/core_usage_data/core_usage_data_service.test.ts
  src/core/server/core_usage_data/core_usage_data_service.ts
  src/core/server/core_usage_data/types.ts
  src/core/server/server.api.md
  src/plugins/kibana_usage_collection/server/collectors/core/core_usage_collector.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/security/server/config.test.ts
  x-pack/plugins/security/server/config.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.test.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: backport

#110715 [7.14] Merge junit results also for CCS functional tests (#110591)
  x-pack/plugins/security_solution/package.json
Labels: backport

#110803 [Security Solution] update topN panel width
  x-pack/plugins/security_solution/public/common/components/top_n/top_n.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.15.0, v7.16.0

#110922 [App Search] Remove beta tag from Crawler UX
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_buttons.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Plugins, release_note:skip, auto-backport, v7.15.0, v7.16.0, v7.15.1

#110784 Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table should display correct values on changing metrics aggregation
  test/functional/apps/visualize/_tsvb_table.ts
Labels: Feature:TSVB, Team:VisEditors, v8.0.0, release_note:skip, v7.16.0

#110782 [TSVB] Add migration script for 'drop_last_bucket' value
  src/plugins/visualizations/server/embeddable/visualize_embeddable_factory.ts
  src/plugins/visualizations/server/migrations/visualization_common_migrations.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.test.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.ts
Labels: Feature:TSVB, release_note:fix, Team:VisEditors, v8.0.0, auto-backport, v7.16.0, v7.14.2, v7.15.1

#110910 [7.x] [Rule Registry][RAC] Rename kibana.alert.id to kibana.alert.instance.id (#110528)
  packages/kbn-rule-data-utils/src/technical_field_names.ts
  x-pack/plugins/apm/public/components/shared/charts/helper/get_alert_annotations.test.tsx
  x-pack/plugins/apm/public/components/shared/charts/latency_chart/latency_chart.stories.tsx
  x-pack/plugins/observability/public/pages/alerts/example_data.ts
  x-pack/plugins/rule_registry/README.md
  x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.ts
  x-pack/plugins/rule_registry/server/routes/get_alert_by_id.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_type.test.ts
  x-pack/plugins/rule_registry/server/utils/create_persistence_rule_type_factory.ts
  x-pack/plugins/rule_registry/server/utils/get_common_alert_fields.ts
  x-pack/plugins/rule_registry/server/utils/rule_executor_test_utils.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/default_config.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
  x-pack/test/apm_api_integration/tests/alerts/rule_registry.ts
  x-pack/test/timeline/security_and_spaces/tests/basic/events.ts
  x-pack/test/timeline/security_and_spaces/tests/trial/events.ts
  x-pack/test/timeline/security_only/tests/basic/events.ts
  x-pack/test/timeline/security_only/tests/trial/events.ts
  x-pack/test/timeline/spaces_only/tests/events.ts
Labels: backport

#110940 [7.15] update topN panel width (#110803)
  x-pack/plugins/security_solution/public/common/components/top_n/top_n.tsx
Labels: backport

#110942 do not export all the types from licensing plugin
  x-pack/plugins/licensing/public/index.ts
  x-pack/plugins/licensing/public/services/index.ts
  x-pack/plugins/licensing/server/index.ts
  x-pack/plugins/licensing/server/services/index.ts
  x-pack/plugins/licensing/tsconfig.json
Labels: chore, Team:Core, v8.0.0, release_note:skip, auto-backport, v7.16.0

#110953 [7.x] Failing test: Chrome UI Functional Tests.test/functional/apps/visualize/_tsvb_table·ts - visualize app visualize ciGroup12 visual builder table should display correct values on changing metrics aggregation (#110784)
  test/functional/apps/visualize/_tsvb_table.ts
Labels: backport

#110951 [7.15] Remove beta tag from Crawler document ingestion card (#110922)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_buttons.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#110952 [7.x] Remove beta tag from Crawler document ingestion card (#110922)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/document_creation/document_creation_buttons.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#110957 [7.15] [TSVB] Add migration script for 'drop_last_bucket' value (#110782)
  src/plugins/visualizations/server/embeddable/visualize_embeddable_factory.ts
  src/plugins/visualizations/server/migrations/visualization_common_migrations.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.test.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.ts
Labels: backport

#110950 [Security Solution] Fixes unskipped test
  x-pack/plugins/security_solution/cypress/integration/detection_alerts/alerts_details.spec.ts
Labels: release_note:skip, Team:Threat Hunting, v7.15.0

#110793 [ML] Add job audit messages API integration tests
  x-pack/plugins/ml/.gitignore
  x-pack/plugins/ml/server/routes/job_audit_messages.ts
  x-pack/test/api_integration/apis/ml/index.ts
  x-pack/test/api_integration/apis/ml/job_audit_messages/clear_messages.ts
  x-pack/test/api_integration/apis/ml/job_audit_messages/get_job_audit_messages.ts
  x-pack/test/api_integration/apis/ml/job_audit_messages/index.ts
Labels: :ml, v8.0.0, release_note:skip, test-api-integration, auto-backport, v7.15.0, v7.16.0

#110647 Fix request inspector text display
  src/plugins/inspector/public/ui/__snapshots__/inspector_panel.test.tsx.snap
  src/plugins/inspector/public/ui/inspector_panel.tsx
  src/plugins/inspector/public/views/requests/components/details/req_code_viewer.tsx
Labels: v8.0.0, Team:AppServices, release_note:skip, auto-backport, v7.16.0

#108858 [XY axis] Split chart and alphabetical descending order doesn't work as expected
  src/plugins/vis_types/xy/public/chart_splitter.tsx
  src/plugins/vis_types/xy/public/vis_component.tsx
Labels: release_note:fix, Feature:XYAxis, Team:VisEditors, v8.0.0, auto-backport, v7.16.0

#110850 [App Search] Split CrawlerLogic from CrawlerOverviewLogic
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_requests_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_requests_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawler_status_banner.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawler_status_indicator/crawler_status_indicator.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/domains_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_router.tsx
Labels: Feature:Plugins, release_note:skip, auto-backport, v7.15.0, v7.16.0, v7.15.1

#109344 [Cases] Cleaning up migration and re-hiding comments saved object
  x-pack/plugins/cases/server/saved_object_types/comments.ts
  x-pack/plugins/cases/server/saved_object_types/migrations/index.ts
Labels: v8.0.0, release_note:skip, Team:Threat Hunting, Feature:Cases, auto-backport, v7.16.0

#110864 [App Search] Support the warning state for crawler validation steps
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/utils.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_state_icon.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_state_icon.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_step_panel.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_step_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.ts
Labels: Feature:Plugins, release_note:skip, auto-backport, v7.15.0, v7.16.0, v7.15.1

#110685 [RAC] Persistent timeline fields fix
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/actions.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/local_storage/index.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/local_storage/index.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/defaults.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.test.ts
  x-pack/plugins/timelines/public/store/t_grid/model.ts
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.15.0, v7.16.0

#110346 [DOCS] Updates Discover docs
  docs/discover/images/add-field-to-pattern.png
  docs/discover/images/customer.png
  docs/discover/images/discover-from-visualize.png
  docs/discover/images/discover-search-for-relevance.png
  docs/discover/images/document-table-expanded.png
  docs/discover/images/document-table.png
  docs/discover/images/double-arrow.png
  docs/discover/images/downward-arrow.png
  docs/discover/images/hello-field.png
  docs/discover/search-for-relevance.asciidoc
  docs/user/discover.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, v7.15.0, v7.16.0

#110321 [DOCS] Adds doc for plugin API changes
  docs/developer/index.asciidoc
  docs/developer/plugin-api-changes/plugin-api-changes-7_12.asciidoc
  docs/developer/plugin-api-changes/plugin-api-changes.asciidoc
Labels: Team:Docs, release_note:skip, v7.15.0
