Repository elastic/kibana, pull requests merged in 2021-03, with the labels that each got.

#92833 [Logs UI] Round up the end timestamp in the log stream embeddable
  x-pack/plugins/infra/public/components/log_stream/log_stream_embeddable.tsx
Labels: Feature:Logs UI, Team:logs-metrics-ui, auto-backport, bug, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#92996 [7.12] [Logs UI] Round up the end timestamp in the log stream embeddable (#92833)
  x-pack/plugins/infra/public/components/log_stream/log_stream_embeddable.tsx
Labels: backport

#92997 [7.x] [Logs UI] Round up the end timestamp in the log stream embeddable (#92833)
  x-pack/plugins/infra/public/components/log_stream/log_stream_embeddable.tsx
Labels: backport

#92858 [7.11] [Rollup] Fix use of undefined value in JS import (#92791)
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps_config/index.js
  x-pack/plugins/rollup/public/test/client_integration/job_create_logistics.test.js
Labels: backport

#92871 [7.11] [ILM] Fix replicas not showing (#92782)
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.test.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/cold_phase/cold_phase.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/searchable_snapshot_field/searchable_snapshot_field.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#92868 [7.12][Rollup] Fix use of undefined value in JS import (#92791)
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps_config/index.js
  x-pack/plugins/rollup/public/test/client_integration/job_create_logistics.test.js
Labels: backport

#92857 [7.x] [Rollup] Fix use of undefined value in JS import (#92791)
  x-pack/plugins/rollup/public/crud_app/sections/job_create/steps_config/index.js
  x-pack/plugins/rollup/public/test/client_integration/job_create_logistics.test.js
Labels: backport

#92859 fix: 🐛 remove "beta" label from URL Drilldown as it is now GA
  docs/user/dashboard/drilldowns.asciidoc
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.tsx
Labels: Feature:Drilldowns, Team:AppServices, bug, release_note:roadmap, review, v7.12.0, v7.13.0, v8.0.0

#92604 Added alerting ui mock for jest test
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_row.test.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_row.tsx
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_conditions.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_conditions_group.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/index.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/for_the_last.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/group_by_over.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/index.ts
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/of.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/threshold.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/value.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/when.tsx
  x-pack/plugins/triggers_actions_ui/public/index.ts
  x-pack/plugins/triggers_actions_ui/public/mocks.ts
  x-pack/plugins/triggers_actions_ui/public/plugin.ts
Labels: release_note:skip, v7.13.0, v8.0.0

#91293 Control round and decimal places in Gauge Visualization when using aggregate functions like average
  src/plugins/vis_default_editor/public/components/options/index.ts
  src/plugins/vis_default_editor/public/components/options/percentage_mode.test.tsx
  src/plugins/vis_default_editor/public/components/options/percentage_mode.tsx
  src/plugins/vis_type_metric/public/components/metric_vis_options.tsx
  src/plugins/vis_type_metric/public/to_ast.ts
  src/plugins/vis_type_metric/public/types.ts
  src/plugins/vis_type_vislib/public/editor/components/gauge/ranges_panel.tsx
  src/plugins/vis_type_vislib/public/editor/components/heatmap/index.tsx
  src/plugins/vis_type_vislib/public/fixtures/mocks.js
  src/plugins/vis_type_vislib/public/gauge.ts
  src/plugins/vis_type_vislib/public/heatmap.ts
  src/plugins/vis_type_vislib/public/to_ast.ts
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.js
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.test.js
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/tooltip.js
  src/plugins/vis_type_vislib/public/vislib/percentage_mode_transform.ts
  src/plugins/vis_type_vislib/public/vislib/visualizations/_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/gauge_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/gauges/meter.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/area_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/column_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/heatmap_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/heatmap_chart.test.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/line_chart.js
  test/functional/apps/visualize/_gauge_chart.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:KibanaApp, release_note:enhancement, v7.13.0, v8.0.0

#93013 [7.12] Remove "beta" label from URL Drilldown as it is now GA (#92859)
  docs/user/dashboard/drilldowns.asciidoc
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.tsx
Labels: backport

#93012 [7.x] Remove "beta" label from URL Drilldown as it is now GA (#92859)
  docs/user/dashboard/drilldowns.asciidoc
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.tsx
Labels: backport

#93020 [7.x] Added alerting ui mock for jest test (#92604)
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_row.test.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_row.tsx
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_conditions.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_conditions_group.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/index.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/for_the_last.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/group_by_over.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/index.ts
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/of.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/threshold.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/value.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/when.tsx
  x-pack/plugins/triggers_actions_ui/public/index.ts
  x-pack/plugins/triggers_actions_ui/public/mocks.ts
  x-pack/plugins/triggers_actions_ui/public/plugin.ts
Labels: backport

#93014 [7.x] Control round and decimal places in Gauge Visualization when using aggregate functions like average (#91293)
  src/plugins/vis_default_editor/public/components/options/index.ts
  src/plugins/vis_default_editor/public/components/options/percentage_mode.test.tsx
  src/plugins/vis_default_editor/public/components/options/percentage_mode.tsx
  src/plugins/vis_type_metric/public/components/metric_vis_options.tsx
  src/plugins/vis_type_metric/public/to_ast.ts
  src/plugins/vis_type_metric/public/types.ts
  src/plugins/vis_type_vislib/public/editor/components/gauge/ranges_panel.tsx
  src/plugins/vis_type_vislib/public/editor/components/heatmap/index.tsx
  src/plugins/vis_type_vislib/public/fixtures/mocks.js
  src/plugins/vis_type_vislib/public/gauge.ts
  src/plugins/vis_type_vislib/public/heatmap.ts
  src/plugins/vis_type_vislib/public/to_ast.ts
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.js
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.test.js
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/tooltip.js
  src/plugins/vis_type_vislib/public/vislib/percentage_mode_transform.ts
  src/plugins/vis_type_vislib/public/vislib/visualizations/_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/gauge_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/gauges/meter.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/area_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/column_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/heatmap_chart.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/heatmap_chart.test.js
  src/plugins/vis_type_vislib/public/vislib/visualizations/point_series/line_chart.js
  test/functional/apps/visualize/_gauge_chart.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#92928 [Security Solutions][Detection Engine] Adds missing mappings to the signals for the indicator rules
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/signals_mapping.json
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_bulk_body.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.ts
Labels: Feature:Detection Alerts, Feature:Indicator Match Rule, auto-backport, bug, release_note:fix, v7.12.0, v7.13.0, v8.0.0

#92956 [7.x] [Vega] Allow image loading without CORS policy by changing the default to crossOrigin=null (#91991)
  src/plugins/vis_type_vega/public/vega_view/vega_base_view.js
Labels: backport

#93015 Fix metric visualization layout breakage
  src/plugins/vis_type_metric/public/components/metric_vis.scss
Labels: Feature:MetricVis, release_note:skip, v7.11.2, v7.12.0

#93023 [7.12] [Security Solution][Case][Bug] Improve case logging (#91924)
  x-pack/plugins/case/server/client/alerts/get.ts
  x-pack/plugins/case/server/client/alerts/update_status.test.ts
  x-pack/plugins/case/server/client/alerts/update_status.ts
  x-pack/plugins/case/server/client/cases/create.test.ts
  x-pack/plugins/case/server/client/cases/create.ts
  x-pack/plugins/case/server/client/cases/get.ts
  x-pack/plugins/case/server/client/cases/push.ts
  x-pack/plugins/case/server/client/cases/update.test.ts
  x-pack/plugins/case/server/client/cases/update.ts
  x-pack/plugins/case/server/client/client.ts
  x-pack/plugins/case/server/client/comments/add.test.ts
  x-pack/plugins/case/server/client/comments/add.ts
  x-pack/plugins/case/server/client/configure/get_mappings.ts
  x-pack/plugins/case/server/client/index.test.ts
  x-pack/plugins/case/server/client/mocks.ts
  x-pack/plugins/case/server/client/types.ts
  x-pack/plugins/case/server/common/error.ts
  x-pack/plugins/case/server/common/models/commentable_case.ts
  x-pack/plugins/case/server/connectors/case/index.ts
  x-pack/plugins/case/server/plugin.ts
  x-pack/plugins/case/server/routes/api/__fixtures__/mock_router.ts
  x-pack/plugins/case/server/routes/api/__fixtures__/route_contexts.ts
  x-pack/plugins/case/server/routes/api/cases/comments/delete_all_comments.ts
  x-pack/plugins/case/server/routes/api/cases/comments/delete_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/find_comments.ts
  x-pack/plugins/case/server/routes/api/cases/comments/get_all_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/get_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/patch_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/post_comment.ts
  x-pack/plugins/case/server/routes/api/cases/configure/get_configure.ts
  x-pack/plugins/case/server/routes/api/cases/configure/get_connectors.ts
  x-pack/plugins/case/server/routes/api/cases/configure/patch_configure.ts
  x-pack/plugins/case/server/routes/api/cases/configure/post_configure.ts
  x-pack/plugins/case/server/routes/api/cases/delete_cases.ts
  x-pack/plugins/case/server/routes/api/cases/find_cases.ts
  x-pack/plugins/case/server/routes/api/cases/get_case.ts
  x-pack/plugins/case/server/routes/api/cases/patch_cases.ts
  x-pack/plugins/case/server/routes/api/cases/post_case.ts
  x-pack/plugins/case/server/routes/api/cases/push_case.ts
  x-pack/plugins/case/server/routes/api/cases/reporters/get_reporters.ts
  x-pack/plugins/case/server/routes/api/cases/status/get_status.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/delete_sub_cases.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/find_sub_cases.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/get_sub_case.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/patch_sub_cases.ts
  x-pack/plugins/case/server/routes/api/cases/user_actions/get_all_user_actions.ts
  x-pack/plugins/case/server/routes/api/types.ts
  x-pack/plugins/case/server/routes/api/utils.ts
  x-pack/plugins/case/server/services/alerts/index.test.ts
  x-pack/plugins/case/server/services/alerts/index.ts
  x-pack/plugins/case/server/services/connector_mappings/index.ts
  x-pack/plugins/case/server/services/index.ts
  x-pack/plugins/case/server/services/user_actions/index.ts
Labels: backport

#93022 [7.x] [Security Solution][Case][Bug] Improve case logging (#91924)
  x-pack/plugins/case/server/client/alerts/get.ts
  x-pack/plugins/case/server/client/alerts/update_status.test.ts
  x-pack/plugins/case/server/client/alerts/update_status.ts
  x-pack/plugins/case/server/client/cases/create.test.ts
  x-pack/plugins/case/server/client/cases/create.ts
  x-pack/plugins/case/server/client/cases/get.ts
  x-pack/plugins/case/server/client/cases/push.ts
  x-pack/plugins/case/server/client/cases/update.test.ts
  x-pack/plugins/case/server/client/cases/update.ts
  x-pack/plugins/case/server/client/client.ts
  x-pack/plugins/case/server/client/comments/add.test.ts
  x-pack/plugins/case/server/client/comments/add.ts
  x-pack/plugins/case/server/client/configure/get_mappings.ts
  x-pack/plugins/case/server/client/index.test.ts
  x-pack/plugins/case/server/client/mocks.ts
  x-pack/plugins/case/server/client/types.ts
  x-pack/plugins/case/server/common/error.ts
  x-pack/plugins/case/server/common/models/commentable_case.ts
  x-pack/plugins/case/server/connectors/case/index.ts
  x-pack/plugins/case/server/plugin.ts
  x-pack/plugins/case/server/routes/api/__fixtures__/mock_router.ts
  x-pack/plugins/case/server/routes/api/__fixtures__/route_contexts.ts
  x-pack/plugins/case/server/routes/api/cases/comments/delete_all_comments.ts
  x-pack/plugins/case/server/routes/api/cases/comments/delete_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/find_comments.ts
  x-pack/plugins/case/server/routes/api/cases/comments/get_all_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/get_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/patch_comment.ts
  x-pack/plugins/case/server/routes/api/cases/comments/post_comment.ts
  x-pack/plugins/case/server/routes/api/cases/configure/get_configure.ts
  x-pack/plugins/case/server/routes/api/cases/configure/get_connectors.ts
  x-pack/plugins/case/server/routes/api/cases/configure/patch_configure.ts
  x-pack/plugins/case/server/routes/api/cases/configure/post_configure.ts
  x-pack/plugins/case/server/routes/api/cases/delete_cases.ts
  x-pack/plugins/case/server/routes/api/cases/find_cases.ts
  x-pack/plugins/case/server/routes/api/cases/get_case.ts
  x-pack/plugins/case/server/routes/api/cases/patch_cases.ts
  x-pack/plugins/case/server/routes/api/cases/post_case.ts
  x-pack/plugins/case/server/routes/api/cases/push_case.ts
  x-pack/plugins/case/server/routes/api/cases/reporters/get_reporters.ts
  x-pack/plugins/case/server/routes/api/cases/status/get_status.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/delete_sub_cases.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/find_sub_cases.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/get_sub_case.ts
  x-pack/plugins/case/server/routes/api/cases/sub_case/patch_sub_cases.ts
  x-pack/plugins/case/server/routes/api/cases/user_actions/get_all_user_actions.ts
  x-pack/plugins/case/server/routes/api/types.ts
  x-pack/plugins/case/server/routes/api/utils.ts
  x-pack/plugins/case/server/services/alerts/index.test.ts
  x-pack/plugins/case/server/services/alerts/index.ts
  x-pack/plugins/case/server/services/connector_mappings/index.ts
  x-pack/plugins/case/server/services/index.ts
  x-pack/plugins/case/server/services/user_actions/index.ts
Labels: backport

#93018 [Security Solution][Case] Show the current connector name in case view
  x-pack/plugins/security_solution/public/cases/components/case_view/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/case_view/index.tsx
Labels: Team: SecuritySolution, Team:Threat Hunting, bug, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#92977 [Security Solution][Case][Bug] Only add rule object for alert comments
  x-pack/plugins/case/server/saved_object_types/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/comments/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/user_actions/migrations.ts
  x-pack/test/case_api_integration/basic/tests/configure/migrations.ts
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/data.json.gz
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/mappings.json
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/data.json.gz
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/mappings.json
  x-pack/test/functional/es_archives/cases/migrations/data.json
Labels: Team:Threat Hunting, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93039 [7.x] Adds mapping to the signals for the indicator rules that were missing (#92928)
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/signals_mapping.json
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_bulk_body.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.ts
Labels: backport

#93038 [7.12] Adds mapping to the signals for the indicator rules that were missing (#92928)
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/get_signals_template.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/signals_mapping.json
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_bulk_body.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.ts
Labels: backport

#92550 [Reporting] Clean up test helpers and mocks
  x-pack/plugins/reporting/server/config/create_config.test.ts
  x-pack/plugins/reporting/server/export_types/png/execute_job/index.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/execute_job/index.ts
  x-pack/plugins/reporting/server/routes/diagnostic/browser.test.ts
  x-pack/plugins/reporting/server/routes/diagnostic/config.test.ts
  x-pack/plugins/reporting/server/routes/diagnostic/screenshot.test.ts
  x-pack/plugins/reporting/server/routes/generation.test.ts
  x-pack/plugins/reporting/server/routes/jobs.test.ts
  x-pack/plugins/reporting/server/test_helpers/create_mock_reportingplugin.ts
  x-pack/plugins/reporting/server/test_helpers/create_mock_server.ts
  x-pack/plugins/reporting/server/test_helpers/index.ts
  x-pack/plugins/reporting/server/types.ts
Labels: Team:AppServices, release_note:skip, v7.13.0

#92552 [Reporting] Remove unused priority field
  x-pack/plugins/reporting/common/types.ts
  x-pack/plugins/reporting/public/components/buttons/report_info_button.tsx
  x-pack/plugins/reporting/server/lib/store/report.test.ts
  x-pack/plugins/reporting/server/lib/store/report.ts
  x-pack/plugins/reporting/server/lib/store/store.test.ts
  x-pack/plugins/reporting/server/routes/generation.test.ts
  x-pack/test/reporting_api_integration/reporting_without_security/job_apis.ts
Labels: Feature:Reporting, Team:AppServices, chore, release_note:skip, v7.13.0

#92670 [Usage Collection] Remove unused `applicationUsageTracker` from Public API
  src/plugins/data/public/public.api.md
  src/plugins/kibana_usage_collection/server/collectors/application_usage/README.md
  src/plugins/usage_collection/public/mocks.tsx
  src/plugins/usage_collection/public/plugin.tsx
  src/plugins/usage_collection/public/services/application_usage.ts
Labels: Feature:Telemetry, auto-backport, chore, release_note:skip, v7.13.0

#90273 [Telemetry] Full `schema` definition
  .telemetryrc.json
  src/plugins/telemetry/schema/README.md
  src/plugins/telemetry/schema/legacy_plugins.json
  src/plugins/telemetry/schema/oss_root.json
  test/api_integration/apis/telemetry/telemetry_local.ts
  test/api_integration/apis/telemetry/utils/flat_keys.test.js
  test/api_integration/apis/telemetry/utils/flat_keys.ts
  test/api_integration/apis/telemetry/utils/index.ts
  test/api_integration/apis/telemetry/utils/schema_to_config_schema.test.js
  test/api_integration/apis/telemetry/utils/schema_to_config_schema.ts
  test/api_integration/jest.config.js
  x-pack/plugins/actions/server/usage/actions_usage_collector.ts
  x-pack/plugins/alerts/server/usage/alerts_telemetry.ts
  x-pack/plugins/alerts/server/usage/alerts_usage_collector.ts
  x-pack/plugins/alerts/server/usage/types.ts
  x-pack/plugins/apm/common/__snapshots__/apm_telemetry.test.ts.snap
  x-pack/plugins/apm/server/lib/apm_telemetry/schema.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/types.ts
  x-pack/plugins/spaces/server/usage_collection/spaces_usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/README.md
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_root.json
  x-pack/test/api_integration/apis/telemetry/telemetry_local.ts
Labels: Team:apm, auto-backport, release_note:skip, v7.13.0

#93059 [7.12] [Security Solution][Case] Show the current connector name in case view (#93018)
  x-pack/plugins/security_solution/public/cases/components/case_view/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/case_view/index.tsx
Labels: backport

#93061 [7.12] [Security Solution][Case][Bug] Only add rule object for alert comments (#92977)
  x-pack/plugins/case/server/saved_object_types/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/comments/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/user_actions/migrations.ts
  x-pack/test/case_api_integration/basic/tests/configure/migrations.ts
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/data.json.gz
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/mappings.json
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/data.json.gz
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/mappings.json
  x-pack/test/functional/es_archives/cases/migrations/data.json
Labels: backport

#93057 [7.x] [Security Solution][Case] Show the current connector name in case view (#93018)
  x-pack/plugins/security_solution/public/cases/components/case_view/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/case_view/index.tsx
Labels: backport

#92640 [7.12] [Security Solution][Endpoint][Admin] Match Policy Details in Security Solution with Fleet (#92047)
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.tsx
Labels: backport

#93060 [7.x] [Security Solution][Case][Bug] Only add rule object for alert comments (#92977)
  x-pack/plugins/case/server/saved_object_types/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/comments/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/user_actions/migrations.ts
  x-pack/test/case_api_integration/basic/tests/configure/migrations.ts
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/data.json.gz
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/mappings.json
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/data.json.gz
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/mappings.json
  x-pack/test/functional/es_archives/cases/migrations/data.json
Labels: backport

#92951 [7.12] [APM] Fix for default fields in correlations view (#91868) (#92090)
  x-pack/plugins/apm/public/hooks/useLocalStorage.ts
Labels: backport

#92950 [7.x] [APM] Fix for default fields in correlations view (#91868) (#92090)
  x-pack/plugins/apm/public/hooks/useLocalStorage.ts
Labels: backport

#93063 [Security Solutions][Detection Engine] Adds types and removes default arrays
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_bulk_body.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.ts
Labels: Feature:Detection Rules, auto-backport, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#92048 [Security Solution][Case][Bug] Removing empty collections when filtering on status
  x-pack/plugins/case/server/services/index.ts
  x-pack/test/case_api_integration/basic/tests/cases/find_cases.ts
Labels: Feature:Cases, Team:Threat Hunting, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93076 [7.x] [Usage Collection] Remove unused `applicationUsageTracker` from Public API (#92670)
  src/plugins/data/public/public.api.md
  src/plugins/kibana_usage_collection/server/collectors/application_usage/README.md
  src/plugins/usage_collection/public/mocks.tsx
  src/plugins/usage_collection/public/plugin.tsx
  src/plugins/usage_collection/public/services/application_usage.ts
Labels: backport

#92948 [Alerting][Docs] Fixed Kibana API does not consistently refer to Kibana Spaces Requests for Alarms and Connectors.
  docs/api/actions-and-connectors/create.asciidoc
  docs/api/actions-and-connectors/delete.asciidoc
  docs/api/actions-and-connectors/execute.asciidoc
  docs/api/actions-and-connectors/get.asciidoc
  docs/api/actions-and-connectors/get_all.asciidoc
  docs/api/actions-and-connectors/list.asciidoc
  docs/api/actions-and-connectors/update.asciidoc
  docs/api/alerts/create.asciidoc
  docs/api/alerts/delete.asciidoc
  docs/api/alerts/disable.asciidoc
  docs/api/alerts/enable.asciidoc
  docs/api/alerts/find.asciidoc
  docs/api/alerts/get.asciidoc
  docs/api/alerts/health.asciidoc
  docs/api/alerts/list.asciidoc
  docs/api/alerts/mute.asciidoc
  docs/api/alerts/mute_all.asciidoc
  docs/api/alerts/unmute.asciidoc
  docs/api/alerts/unmute_all.asciidoc
  docs/api/alerts/update.asciidoc
Labels: Feature:Actions, Feature:Alerting, docs, release_note:skip, v7.12.0, v8.0.0

#93099 [7.x] [Alerting][Docs] Fixed Kibana API does not consistently refer to Kibana Spaces Requests for Alarms and Connectors. (#92948)
  docs/api/actions-and-connectors/create.asciidoc
  docs/api/actions-and-connectors/delete.asciidoc
  docs/api/actions-and-connectors/execute.asciidoc
  docs/api/actions-and-connectors/get.asciidoc
  docs/api/actions-and-connectors/get_all.asciidoc
  docs/api/actions-and-connectors/list.asciidoc
  docs/api/actions-and-connectors/update.asciidoc
  docs/api/alerts/create.asciidoc
  docs/api/alerts/delete.asciidoc
  docs/api/alerts/disable.asciidoc
  docs/api/alerts/enable.asciidoc
  docs/api/alerts/find.asciidoc
  docs/api/alerts/get.asciidoc
  docs/api/alerts/health.asciidoc
  docs/api/alerts/list.asciidoc
  docs/api/alerts/mute.asciidoc
  docs/api/alerts/mute_all.asciidoc
  docs/api/alerts/unmute.asciidoc
  docs/api/alerts/unmute_all.asciidoc
  docs/api/alerts/update.asciidoc
Labels: backport

#92747 [Dashboard] Refactor Initial View Mode
  src/plugins/dashboard/public/application/dashboard_app.tsx
  src/plugins/dashboard/public/application/dashboard_state.test.ts
  src/plugins/dashboard/public/application/dashboard_state_manager.ts
  src/plugins/dashboard/public/application/hooks/use_dashboard_container.test.tsx
  src/plugins/dashboard/public/application/hooks/use_dashboard_container.ts
  src/plugins/dashboard/public/application/hooks/use_dashboard_state_manager.ts
  src/plugins/dashboard/public/application/lib/get_app_state_defaults.ts
  src/plugins/dashboard/public/application/lib/session_restoration.test.ts
  src/plugins/dashboard/public/application/top_nav/dashboard_top_nav.tsx
  src/plugins/dashboard/public/application/top_nav/get_top_nav_config.ts
Labels: Feature:Dashboard, Team:Presentation, release_note:fix, v7.12.0, v7.13.0, v8.0.0

#93100 [7.12] [Alerting][Docs] Fixed Kibana API does not consistently refer to Kibana Spaces Requests for Alarms and Connectors. (#92948)
  docs/api/actions-and-connectors/create.asciidoc
  docs/api/actions-and-connectors/delete.asciidoc
  docs/api/actions-and-connectors/execute.asciidoc
  docs/api/actions-and-connectors/get.asciidoc
  docs/api/actions-and-connectors/get_all.asciidoc
  docs/api/actions-and-connectors/list.asciidoc
  docs/api/actions-and-connectors/update.asciidoc
  docs/api/alerts/create.asciidoc
  docs/api/alerts/delete.asciidoc
  docs/api/alerts/disable.asciidoc
  docs/api/alerts/enable.asciidoc
  docs/api/alerts/find.asciidoc
  docs/api/alerts/get.asciidoc
  docs/api/alerts/health.asciidoc
  docs/api/alerts/list.asciidoc
  docs/api/alerts/mute.asciidoc
  docs/api/alerts/mute_all.asciidoc
  docs/api/alerts/unmute.asciidoc
  docs/api/alerts/unmute_all.asciidoc
  docs/api/alerts/update.asciidoc
Labels: backport

#93102 [7.11] [Alerting][Docs] Fixed Kibana API does not consistently refer to Kibana Spaces Requests for Alarms and Connectors. (#92948)
  docs/api/actions-and-connectors/create.asciidoc
  docs/api/actions-and-connectors/delete.asciidoc
  docs/api/actions-and-connectors/execute.asciidoc
  docs/api/actions-and-connectors/get.asciidoc
  docs/api/actions-and-connectors/get_all.asciidoc
  docs/api/actions-and-connectors/list.asciidoc
  docs/api/actions-and-connectors/update.asciidoc
  docs/api/alerts/create.asciidoc
  docs/api/alerts/delete.asciidoc
  docs/api/alerts/disable.asciidoc
  docs/api/alerts/enable.asciidoc
  docs/api/alerts/find.asciidoc
  docs/api/alerts/get.asciidoc
  docs/api/alerts/health.asciidoc
  docs/api/alerts/list.asciidoc
  docs/api/alerts/mute.asciidoc
  docs/api/alerts/mute_all.asciidoc
  docs/api/alerts/unmute.asciidoc
  docs/api/alerts/unmute_all.asciidoc
  docs/api/alerts/update.asciidoc
Labels: backport

#92639 [Security Solution][Endpoint][Admin] Fixes 7.12 ransomware migration and mac bug
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/policy/migrations/to_v7_12_0.test.ts
  x-pack/plugins/security_solution/common/endpoint/policy/migrations/to_v7_12_0.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/common/license/policy_config.test.ts
  x-pack/plugins/security_solution/common/license/policy_config.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/ransomware.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: Feature:Endpoint, Team:Onboarding and Lifecycle Mgt, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93101 [DOCS] Fixes documentation version
  docs/index.asciidoc
Labels: Team:Docs, docs, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#92919 [Security Solution][Endpoint][Admin] Fixes policy sticky footer save test
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/page_objects/policy_page.ts
Labels: Feature:Endpoint, Team:Onboarding and Lifecycle Mgt, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93073 [7.x] [Reporting] Remove unused priority field (#92552)
  x-pack/plugins/reporting/common/types.ts
  x-pack/plugins/reporting/public/components/buttons/report_info_button.tsx
  x-pack/plugins/reporting/server/lib/store/report.test.ts
  x-pack/plugins/reporting/server/lib/store/report.ts
  x-pack/plugins/reporting/server/lib/store/store.test.ts
  x-pack/plugins/reporting/server/routes/generation.test.ts
  x-pack/test/reporting_api_integration/reporting_without_security/job_apis.ts
Labels: backport

#92697 [Maps] fix fit to data on heatmap not working
  x-pack/plugins/maps/public/classes/layers/heatmap_layer/heatmap_layer.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/index.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/utils.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
Labels: Team:Geo, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93110 [7.x] [DOCS] Fixes documentation version (#93101)
  docs/index.asciidoc
Labels: backport

#93067 [7.11] Add note dropping support for glibc 2.12
  docs/migration/migrate_7_11.asciidoc
Labels: release_note:skip, v7.11.0, v7.12.0, v7.13.0

#92989 [Security Solution][Detecttions] Indicator enrichment tweaks
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule/schema.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_mapping_filter.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.mock.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching.ts
Labels: Team: SecuritySolution, Team:Detections and Resp, release_note:skip, v7.12.0, v8.0.0

#93119 [7.12] [7.11] Add note dropping support for glibc 2.12 (#93067)
  docs/migration/migrate_7_11.asciidoc
Labels: backport

#92932 [Maps] fix results trimmed tooltip message doubles feature count for line and polygon features
  x-pack/plugins/maps/common/descriptor_types/data_request_descriptor_types.ts
  x-pack/plugins/maps/public/actions/data_request_actions.ts
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
Labels: Team:Geo, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93087 [Maps] change MapboxDraw import to @mapbox/mapbox-gl-draw
  x-pack/plugins/maps/public/connected_components/mb_map/draw_control/draw_control.js
Labels: Team:Geo, chore, release_note:skip, v7.13.0, v8.0.0

#92869 Hide instances latency distribution chart
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_chart_and_table.tsx
Labels: Team:apm, auto-backport, release_note:skip, v7.12.0, v8.0.0

#93092 [Security Solution][Case] Migrate category & subcategory fields of ServiceNow ITSM connector
  x-pack/plugins/case/server/saved_object_types/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/migrations.ts
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/data.json.gz
Labels: Team: SecuritySolution, Team:Threat Hunting, auto-backport, bug, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93090 [7.x] Changes out the default arrays and adds types (#93063)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_bulk_body.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.ts
Labels: backport

#93089 [7.12] Changes out the default arrays and adds types (#93063)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_bulk_body.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/build_rule.ts
Labels: backport

#91760 [actions] for simplistic email servers, set rejectUnauthorized to false
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.ts
Labels: Feature:Actions, Team:Alerting Services, release_note:fix, v7.11.2, v7.12.0, v7.13.0, v8.0.0

#92644 [App Search] Implement various Relevance Tuning states and form actions
  x-pack/plugins/enterprise_search/public/applications/app_search/__mocks__/engine_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/__mocks__/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/boost_item_content.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/boost_item_content.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/value_boost_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_callouts.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_callouts.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_layout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_layout.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_logic.ts
Labels: auto-backport, release_note:skip, v7.13.0

#93097 [7.12] [Security Solution][Case][Bug] Removing empty collections when filtering on status (#92048)
  x-pack/plugins/case/server/services/index.ts
  x-pack/test/case_api_integration/basic/tests/cases/find_cases.ts
Labels: backport

#93096 [7.x] [Security Solution][Case][Bug] Removing empty collections when filtering on status (#92048)
  x-pack/plugins/case/server/services/index.ts
  x-pack/test/case_api_integration/basic/tests/cases/find_cases.ts
Labels: backport

#93065 Bump ems landing page to 7.12
  src/plugins/maps_legacy/common/ems_defaults.ts
Labels: Team:Geo, chore, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#92667 [Security Solution][Detections][7.12] Critical Threshold Rule Fixes
  x-pack/plugins/security_solution/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/security_solution/common/detection_engine/utils.test.ts
  x-pack/plugins/security_solution/common/detection_engine/utils.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/matrix_histogram/index.ts
  x-pack/plugins/security_solution/cypress/integration/detection_rules/threshold_rule.spec.ts
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/types.ts
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/reducer.test.ts
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/schema.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/threshold_input/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/__mocks__/mock.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/create/helpers.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/schemas/rule_converters.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/__mocks__/es_results.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_threshold_signals.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_params_schema.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_params_schema.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_get_bucket_filters.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_get_bucket_filters.ts
Labels: Feature:Detection Alerts, Team: SecuritySolution, Team:Detections and Resp, docs, documentation, needs_docs, release_note:enhancement, v7.12.0

#93095 [Security Solution][Case][Bug] Prevent closing collection when pushing
  x-pack/plugins/case/server/client/cases/push.ts
  x-pack/plugins/security_solution/public/cases/components/configure_cases/closure_options.tsx
  x-pack/plugins/security_solution/public/cases/components/configure_cases/translations.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/case_api_integration/basic/tests/cases/push_case.ts
Labels: Feature:Cases, Team:Threat Hunting, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93105 [7.12] [Security Solution][Endpoint][Admin] Fixes 7.12 ransomware migration and mac bug (#92639)
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/policy/migrations/to_v7_12_0.test.ts
  x-pack/plugins/security_solution/common/endpoint/policy/migrations/to_v7_12_0.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/common/license/policy_config.test.ts
  x-pack/plugins/security_solution/common/license/policy_config.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/ransomware.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: backport

#93010 [SecuritySolution][Case] Disable cases on detections in read-only mode
  x-pack/plugins/security_solution/cypress/integration/detection_alerts/attach_to_case.spec.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_detection_rules.ts
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/add_to_case_action.test.tsx
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/add_to_case_action.tsx
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/translations.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.tsx
Labels: Team: SecuritySolution, Team:Threat Hunting, auto-backport, bug, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93106 [7.x] [Dashboard] Refactor Initial View Mode (#92747)
  src/plugins/dashboard/public/application/dashboard_app.tsx
  src/plugins/dashboard/public/application/dashboard_state.test.ts
  src/plugins/dashboard/public/application/dashboard_state_manager.ts
  src/plugins/dashboard/public/application/hooks/use_dashboard_container.test.tsx
  src/plugins/dashboard/public/application/hooks/use_dashboard_container.ts
  src/plugins/dashboard/public/application/hooks/use_dashboard_state_manager.ts
  src/plugins/dashboard/public/application/lib/get_app_state_defaults.ts
  src/plugins/dashboard/public/application/lib/session_restoration.test.ts
  src/plugins/dashboard/public/application/top_nav/dashboard_top_nav.tsx
  src/plugins/dashboard/public/application/top_nav/get_top_nav_config.ts
Labels: backport

#93103 [7.x] [Security Solution][Endpoint][Admin] Fixes 7.12 ransomware migration and mac bug (#92639)
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/policy/migrations/to_v7_12_0.test.ts
  x-pack/plugins/security_solution/common/endpoint/policy/migrations/to_v7_12_0.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/common/license/policy_config.test.ts
  x-pack/plugins/security_solution/common/license/policy_config.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/protections/ransomware.tsx
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: backport

#93108 [7.x] [Security Solution][Endpoint][Admin] Fixes policy sticky footer save test (#92919)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/page_objects/policy_page.ts
Labels: backport

#93113 [7.12] [Maps] fix fit to data on heatmap not working (#92697)
  x-pack/plugins/maps/public/classes/layers/heatmap_layer/heatmap_layer.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/index.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/utils.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
Labels: backport

#93107 [7.12] [Dashboard] Refactor Initial View Mode (#92747)
  src/plugins/dashboard/public/application/dashboard_app.tsx
  src/plugins/dashboard/public/application/dashboard_state.test.ts
  src/plugins/dashboard/public/application/dashboard_state_manager.ts
  src/plugins/dashboard/public/application/hooks/use_dashboard_container.test.tsx
  src/plugins/dashboard/public/application/hooks/use_dashboard_container.ts
  src/plugins/dashboard/public/application/hooks/use_dashboard_state_manager.ts
  src/plugins/dashboard/public/application/lib/get_app_state_defaults.ts
  src/plugins/dashboard/public/application/lib/session_restoration.test.ts
  src/plugins/dashboard/public/application/top_nav/dashboard_top_nav.tsx
  src/plugins/dashboard/public/application/top_nav/get_top_nav_config.ts
Labels: backport

#93112 [7.x] [Maps] fix fit to data on heatmap not working (#92697)
  x-pack/plugins/maps/public/classes/layers/heatmap_layer/heatmap_layer.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/index.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/utils.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
Labels: backport

#93120 [7.x] [Security Solution][Detecttions] Indicator enrichment tweaks (#92989)
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule/schema.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_mapping_filter.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.mock.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching.ts
Labels: backport

#93121 [7.12] [Security Solution][Detecttions] Indicator enrichment tweaks (#92989)
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule/schema.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_mapping_filter.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.mock.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching.ts
Labels: backport

#93133 [7.11] [actions] for simplistic email servers, set rejectUnauthorized to false (#91760)
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.ts
Labels: backport

#93124 [7.x] [Maps] fix results trimmed tooltip message doubles feature count for line and polygon features (#92932)
  x-pack/plugins/maps/common/descriptor_types/data_request_descriptor_types.ts
  x-pack/plugins/maps/public/actions/data_request_actions.ts
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
Labels: backport

#93125 [7.12] [Maps] fix results trimmed tooltip message doubles feature count for line and polygon features (#92932)
  x-pack/plugins/maps/common/descriptor_types/data_request_descriptor_types.ts
  x-pack/plugins/maps/public/actions/data_request_actions.ts
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
Labels: backport

#93128 [7.12] [Security Solution][Case] Migrate category & subcategory fields of ServiceNow ITSM connector (#93092)
  x-pack/plugins/case/server/saved_object_types/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/migrations.ts
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/data.json.gz
Labels: backport

#93126 [7.x] [Maps] fix MapboxDraw import from pointing to dist just pointing to folder (#93087)
  x-pack/plugins/maps/public/connected_components/mb_map/draw_control/draw_control.js
Labels: backport

#93127 [7.12] Hide instances latency distribution chart (#92869)
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_chart_and_table.tsx
Labels: backport

#93129 [7.x] [Security Solution][Case] Migrate category & subcategory fields of ServiceNow ITSM connector (#93092)
  x-pack/plugins/case/server/saved_object_types/migrations.ts
  x-pack/test/case_api_integration/basic/tests/cases/migrations.ts
  x-pack/test/functional/es_archives/cases/migrations/7.11.1/data.json.gz
Labels: backport

#93131 [7.x] [actions] for simplistic email servers, set rejectUnauthorized to false (#91760)
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.ts
Labels: backport

#93134 [7.12] [Security Solution][Endpoint][Admin] Fixes policy sticky footer save test (#92919)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/page_objects/policy_page.ts
Labels: backport

#93132 [7.12] [actions] for simplistic email servers, set rejectUnauthorized to false (#91760)
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.test.ts
  x-pack/plugins/actions/server/builtin_action_types/lib/send_email.ts
Labels: backport

#93137 [7.x] Bump ems landing page to 7.12 (#93065)
  src/plugins/maps_legacy/common/ems_defaults.ts
Labels: backport

#93140 [7.x] [Security Solution][Detections][7.12] Critical Threshold Rule Fixes (#92667)
  x-pack/plugins/security_solution/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/security_solution/common/detection_engine/utils.test.ts
  x-pack/plugins/security_solution/common/detection_engine/utils.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/matrix_histogram/index.ts
  x-pack/plugins/security_solution/cypress/integration/detection_rules/threshold_rule.spec.ts
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/types.ts
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/reducer.test.ts
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/schema.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/threshold_input/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/__mocks__/mock.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/create/helpers.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/schemas/rule_converters.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/__mocks__/es_results.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_threshold_signals.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_params_schema.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_params_schema.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_get_bucket_filters.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_get_bucket_filters.ts
Labels: backport

#93138 [7.12] Bump ems landing page to 7.12 (#93065)
  src/plugins/maps_legacy/common/ems_defaults.ts
Labels: backport

#93144 [7.12] [SecuritySolution][Case] Disable cases on detections in read-only mode (#93010)
  x-pack/plugins/security_solution/cypress/integration/detection_alerts/attach_to_case.spec.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_detection_rules.ts
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/add_to_case_action.test.tsx
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/add_to_case_action.tsx
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/translations.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.tsx
Labels: backport

#93145 [7.x] [SecuritySolution][Case] Disable cases on detections in read-only mode (#93010)
  x-pack/plugins/security_solution/cypress/integration/detection_alerts/attach_to_case.spec.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_detection_rules.ts
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/add_to_case_action.test.tsx
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/add_to_case_action.tsx
  x-pack/plugins/security_solution/public/cases/components/timeline_actions/translations.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/event_column_view.tsx
Labels: backport

#92748 [Security Solution][Detections] -Fixes rule edit flow bug with max_signals (#92748)
  x-pack/plugins/security_solution/cypress/integration/detection_rules/custom_query_rule.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/plugins/security_solution/cypress/tasks/rule_details.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/edit/index.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/rules/queries/query_with_max_signals.json
Labels: Team: SecuritySolution, Team:Detections and Resp, auto-backport, bug, impact:critical, release_note:fix, v7.11.2, v7.12.0, v7.13.0, v8.0.0

#92744 [DOCS] Fixes links for machine learning alerts
  docs/user/alerting/alert-types.asciidoc
  docs/user/alerting/alerting-getting-started.asciidoc
  docs/user/alerting/defining-alerts.asciidoc
Labels: Feature:Alerting, docs, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93160 [7.x] [DOCS] Fixes links for machine learning alerts (#92744)
  docs/user/alerting/alert-types.asciidoc
  docs/user/alerting/alerting-getting-started.asciidoc
  docs/user/alerting/defining-alerts.asciidoc
Labels: backport

#93161 [7.12] [DOCS] Fixes links for machine learning alerts (#92744)
  docs/user/alerting/alert-types.asciidoc
  docs/user/alerting/alerting-getting-started.asciidoc
  docs/user/alerting/defining-alerts.asciidoc
Labels: backport

#93139 [APM] Fix hidden search bar in error pages while loading
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/index.tsx
  x-pack/plugins/apm/public/components/app/error_group_overview/index.tsx
Labels: Team:apm, release_note:fix, v7.12.0, v7.13.0

#93074 [7.x] [Reporting] Clean up test helpers and mocks (#92550)
  x-pack/plugins/reporting/server/config/create_config.test.ts
  x-pack/plugins/reporting/server/export_types/png/execute_job/index.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/execute_job/index.ts
  x-pack/plugins/reporting/server/routes/diagnostic/browser.test.ts
  x-pack/plugins/reporting/server/routes/diagnostic/config.test.ts
  x-pack/plugins/reporting/server/routes/diagnostic/screenshot.test.ts
  x-pack/plugins/reporting/server/routes/generation.test.ts
  x-pack/plugins/reporting/server/routes/jobs.test.ts
  x-pack/plugins/reporting/server/test_helpers/create_mock_reportingplugin.ts
  x-pack/plugins/reporting/server/test_helpers/create_mock_server.ts
  x-pack/plugins/reporting/server/test_helpers/index.ts
  x-pack/plugins/reporting/server/types.ts
Labels: backport

#93141 [7.12] [Security Solution][Detections][7.12] Critical Threshold Rule Fixes (#92667)
  x-pack/plugins/security_solution/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/security_solution/common/detection_engine/utils.test.ts
  x-pack/plugins/security_solution/common/detection_engine/utils.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/matrix_histogram/index.ts
  x-pack/plugins/security_solution/cypress/integration/detection_rules/threshold_rule.spec.ts
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/types.ts
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/query_preview/reducer.test.ts
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/schema.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/threshold_input/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/__mocks__/mock.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/create/helpers.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/helpers.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/schemas/rule_converters.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/__mocks__/es_results.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_threshold_signals.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/find_threshold_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_params_schema.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_params_schema.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_get_bucket_filters.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threshold_get_bucket_filters.ts
Labels: backport

#92942 [Alerting][Docs] Changed alerting documentation to point to a single source of explaining the configurations.
  docs/settings/alert-action-settings.asciidoc
  docs/user/alerting/action-types/pre-configured-connectors.asciidoc
  docs/user/alerting/alerting-getting-started.asciidoc
  docs/user/alerting/alerting-production-considerations.asciidoc
  docs/user/alerting/defining-alerts.asciidoc
  x-pack/plugins/triggers_actions_ui/README.md
Labels: Feature:Alerting, docs, release_note:skip, v7.12.0, v8.0.0

#92025 [Security Solution] [Timeline] Bugfix to include unmapped fields in the timeline event details JSON
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/details/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/__snapshots__/json_view.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/event_fields_browser.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/json_view.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/translations.ts
  x-pack/plugins/security_solution/public/common/mock/mock_detail_item.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/column_headers/header/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/get_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/plain_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/formatted_field.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/server/search_strategy/helpers/to_array.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/authentications/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/network/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/eql/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/eql/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/mocks.ts
  x-pack/test/api_integration/apis/security_solution/timeline_details.ts
Labels: Feature:Timeline, Team: SecuritySolution, Team:Threat Hunting, bug, release_note:skip, v7.11.2, v7.12.0, v7.13.0, v8.0.0

#93104 [SECURITY SOLUTIONS] Bug case connector
  x-pack/plugins/security_solution/public/cases/components/case_view/index.tsx
  x-pack/plugins/security_solution/public/cases/components/configure_cases/connectors_dropdown.test.tsx
  x-pack/plugins/security_solution/public/cases/components/configure_cases/connectors_dropdown.tsx
  x-pack/plugins/security_solution/public/cases/components/connector_selector/form.tsx
  x-pack/plugins/security_solution/public/cases/components/connectors/case/alert_fields.tsx
  x-pack/plugins/security_solution/public/cases/components/connectors/case/existing_case.tsx
  x-pack/plugins/security_solution/public/cases/components/connectors/case/translations.ts
  x-pack/plugins/security_solution/public/cases/components/create/connector.tsx
  x-pack/plugins/security_solution/public/cases/components/create/form.tsx
  x-pack/plugins/security_solution/public/cases/components/create/form_context.tsx
  x-pack/plugins/security_solution/public/cases/components/edit_connector/index.tsx
  x-pack/plugins/security_solution/public/cases/components/use_create_case_modal/create_case_modal.tsx
  x-pack/plugins/security_solution/public/cases/components/use_create_case_modal/index.tsx
  x-pack/plugins/security_solution/public/cases/containers/api.ts
  x-pack/plugins/security_solution/public/cases/containers/types.ts
  x-pack/plugins/security_solution/public/cases/containers/use_get_cases.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_actions_field/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_actions_field/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/use_manage_case_action.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Cases, Team: SecuritySolution, Team:Threat Hunting, bug, release_note:skip, v7.12.0, v8.0.0

#93157 [7.12] [Security Solution][Detections] -Fixes rule edit flow bug with max_signals (#92748)
  x-pack/plugins/security_solution/cypress/integration/detection_rules/custom_query_rule.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/plugins/security_solution/cypress/tasks/rule_details.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/edit/index.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/rules/queries/query_with_max_signals.json
Labels: backport

#92999 [Discover] Fix expanding document when using saved search data grid
  src/plugins/discover/public/application/components/create_discover_grid_directive.tsx
  test/functional/apps/dashboard/embeddable_data_grid.ts
Labels: Feature:Discover, Team:KibanaApp, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#92982 Converts usage collection README to .mdx
  docs/developer/plugin-list.asciidoc
  src/core/CONVENTIONS.md
  src/core/server/saved_objects/service/lib/repository.ts
  src/plugins/telemetry/README.md
  src/plugins/usage_collection/README.mdx
  x-pack/plugins/apm/dev_docs/telemetry.md
Labels: Feature:Telemetry, Team:Core, Team:apm, auto-backport, enhancement, release_note:skip, v7.13.0, v8.0.0

#93177 [7.x] [APM] Include services with only metrics (#92378)
  x-pack/plugins/apm/common/utils/as_mutable_array.ts
  x-pack/plugins/apm/server/lib/services/__snapshots__/queries.test.ts.snap
  x-pack/plugins/apm/server/lib/services/get_services/get_service_transaction_stats.ts
  x-pack/plugins/apm/server/lib/services/get_services/get_services_from_metric_documents.ts
  x-pack/plugins/apm/server/lib/services/get_services/get_services_items.ts
  x-pack/test/apm_api_integration/tests/services/top_services.ts
Labels: backport

#93034 [Lens] Fix selection when dragging
  x-pack/plugins/lens/public/drag_drop/drag_drop.test.tsx
  x-pack/plugins/lens/public/drag_drop/drag_drop.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.13.0, v8.0.0

#91844 [Lens] Introduces new chart switcher
  x-pack/plugins/lens/public/datatable_visualization/visualization.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/editor_frame_service/mocks.tsx
  x-pack/plugins/lens/public/metric_visualization/visualization.tsx
  x-pack/plugins/lens/public/pie_visualization/constants.ts
  x-pack/plugins/lens/public/pie_visualization/visualization.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/xy_visualization/types.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.test.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_suggestions.test.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/page_objects/lens_page.ts
Labels: Feature:Lens, Team:KibanaApp, release_note:enhancement, v7.13.0, v8.0.0

#93086 [chore] Enable core's eslint rule: `@ts-expect-error`
  .eslintrc.js
  src/plugins/kibana_usage_collection/server/collectors/kibana/get_saved_object_counts.test.ts
  src/plugins/telemetry/public/services/telemetry_sender.test.ts
  src/plugins/telemetry/public/services/telemetry_service.test.ts
  src/plugins/telemetry/server/fetcher.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in_stats.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_cluster_info.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_cluster_stats.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_data_telemetry/get_data_telemetry.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_local_stats.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_nodes_usage.test.ts
  x-pack/plugins/telemetry_collection_xpack/server/telemetry_collection/get_stats_with_xpack.test.ts
  x-pack/plugins/telemetry_collection_xpack/server/telemetry_collection/get_xpack.test.ts
Labels: auto-backport, release_note:skip, v7.13.0

#93042 [7.11] Fix visualization overflow (#93015)
  src/plugins/vis_type_metric/public/components/metric_vis.scss
Labels: backport

#93186 [7.x] Converts usage collection README to .mdx (#92982)
  docs/developer/plugin-list.asciidoc
  src/core/CONVENTIONS.md
  src/core/server/saved_objects/service/lib/repository.ts
  src/plugins/telemetry/README.md
  src/plugins/usage_collection/README.mdx
  x-pack/plugins/apm/dev_docs/telemetry.md
Labels: backport

#93189 [7.x] [Lens] fix selection when dragging (#93034)
  x-pack/plugins/lens/public/drag_drop/drag_drop.test.tsx
  x-pack/plugins/lens/public/drag_drop/drag_drop.tsx
Labels: backport

#93028 [ML] Transforms: Fixes chart histograms for runtime fields.
  x-pack/plugins/ml/common/index.ts
  x-pack/plugins/ml/common/types/field_histograms.ts
  x-pack/plugins/ml/public/application/components/data_grid/column_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/index.ts
  x-pack/plugins/ml/public/application/components/data_grid/types.ts
  x-pack/plugins/ml/public/application/components/data_grid/use_column_chart.test.tsx
  x-pack/plugins/ml/public/application/components/data_grid/use_column_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/use_data_grid.tsx
  x-pack/plugins/ml/public/application/datavisualizer/stats_table/components/field_data_row/boolean_content_preview.tsx
  x-pack/plugins/ml/public/application/datavisualizer/stats_table/components/field_data_row/top_values_preview.tsx
  x-pack/plugins/ml/server/models/data_visualizer/data_visualizer.ts
  x-pack/plugins/transform/common/api_schemas/common.ts
  x-pack/plugins/transform/common/api_schemas/field_histograms.ts
  x-pack/plugins/transform/common/api_schemas/transforms.ts
  x-pack/plugins/transform/common/shared_imports.ts
  x-pack/plugins/transform/public/app/hooks/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/advanced_runtime_mappings_editor/advanced_runtime_mappings_editor.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.test.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.ts
  x-pack/plugins/transform/server/routes/api/field_histograms.ts
Labels: :ml, Feature:Transforms, auto-backport, bug, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#92968 [Enterprise Search] Updated doc links to use dynamic prefixes
  x-pack/plugins/enterprise_search/public/applications/enterprise_search/components/setup_guide/setup_guide.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/setup_guide/setup_guide.tsx
Labels: auto-backport, release_note:skip, v7.13.0

#93190 [7.x] [Lens] Introduces new chart switcher (#91844)
  x-pack/plugins/lens/public/datatable_visualization/visualization.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/editor_frame_service/mocks.tsx
  x-pack/plugins/lens/public/metric_visualization/visualization.tsx
  x-pack/plugins/lens/public/pie_visualization/constants.ts
  x-pack/plugins/lens/public/pie_visualization/visualization.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/xy_visualization/types.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.test.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_suggestions.test.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/page_objects/lens_page.ts
Labels: backport

#93192 [7.x] [chore] Enable core's eslint rule: `@ts-expect-error` (#93086)
  .eslintrc.js
  src/plugins/kibana_usage_collection/server/collectors/kibana/get_saved_object_counts.test.ts
  src/plugins/telemetry/public/services/telemetry_sender.test.ts
  src/plugins/telemetry/public/services/telemetry_service.test.ts
  src/plugins/telemetry/server/fetcher.ts
  src/plugins/telemetry/server/routes/telemetry_opt_in_stats.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_cluster_info.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_cluster_stats.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_data_telemetry/get_data_telemetry.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_local_stats.test.ts
  src/plugins/telemetry/server/telemetry_collection/get_nodes_usage.test.ts
  x-pack/plugins/telemetry_collection_xpack/server/telemetry_collection/get_stats_with_xpack.test.ts
  x-pack/plugins/telemetry_collection_xpack/server/telemetry_collection/get_xpack.test.ts
Labels: backport

#93193 [7.12] [Lens] Fix Workspace hidden when using Safari (#92616)
  x-pack/plugins/lens/public/drag_drop/__snapshots__/drag_drop.test.tsx.snap
  x-pack/plugins/lens/public/drag_drop/drag_drop.scss
  x-pack/plugins/lens/public/drag_drop/drag_drop.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.scss
Labels: backport

#92294 [Security Solution] - Bug fixes
  x-pack/plugins/security_solution/public/common/components/overview_description_list/index.tsx
  x-pack/plugins/security_solution/public/network/components/details/index.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/endpoint_overview/index.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/index.tsx
  x-pack/plugins/security_solution/public/resolver/view/resolver_no_process_events.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/expandable_event.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/__snapshots__/expandable_host.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/expandable_host.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/expandable_host.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/network_details/index.tsx
Labels: Team: SecuritySolution, Team:Threat Hunting, bug, release_note:skip, v7.12.0, v8.0.0

#93150 [Security Solution] Fixes the Customize Event Renderers modal by removing the EuiOverlayMask
  x-pack/plugins/security_solution/public/timelines/components/row_renderers_browser/index.tsx
Labels: Team:Threat Hunting, bug, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93049 [Lens] Remove warning about ordinal x-domain
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/expression.test.tsx
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:fix, v7.13.0, v8.0.0

#93195 [Lens] Fix runtime validation error message
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93198 [Fleet] Always collect agent telemetry
  x-pack/plugins/fleet/server/collectors/agent_collectors.ts
  x-pack/plugins/fleet/server/collectors/register.ts
Labels: Feature:Fleet, Team:Fleet, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93094 [Security Solution] [Detections] Updates warning message when no indices match provided index patterns
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_rules.ts
Labels: Feature:Detection Rules, Team: SecuritySolution, Team:Detections and Resp, auto-backport, release_note:fix, review, v7.11.2, v7.12.0, v7.13.0, v8.0.0

#91863 [Security Solution] Case ui enhancement
  x-pack/plugins/case/server/routes/api/cases/find_cases.ts
  x-pack/plugins/case/server/routes/api/cases/helpers.ts
  x-pack/plugins/security_solution/cypress/integration/cases/creation.spec.ts
  x-pack/plugins/security_solution/cypress/screens/all_cases.ts
  x-pack/plugins/security_solution/cypress/tasks/create_new_case.ts
  x-pack/plugins/security_solution/public/cases/components/all_cases/actions.tsx
  x-pack/plugins/security_solution/public/cases/components/all_cases/columns.tsx
  x-pack/plugins/security_solution/public/cases/components/all_cases/helpers.ts
  x-pack/plugins/security_solution/public/cases/components/all_cases/index.test.tsx
  x-pack/plugins/security_solution/public/cases/components/all_cases/index.tsx
  x-pack/plugins/security_solution/public/cases/components/all_cases/status_filter.test.tsx
  x-pack/plugins/security_solution/public/cases/components/all_cases/status_filter.tsx
  x-pack/plugins/security_solution/public/cases/components/all_cases/table_filters.tsx
  x-pack/plugins/security_solution/public/cases/components/bulk_actions/index.tsx
  x-pack/plugins/security_solution/public/cases/components/case_action_bar/status_context_menu.tsx
  x-pack/plugins/security_solution/public/cases/components/status/config.ts
  x-pack/plugins/security_solution/public/cases/components/status/index.ts
  x-pack/plugins/security_solution/public/cases/components/status/status.tsx
  x-pack/plugins/security_solution/public/cases/components/status/translations.ts
  x-pack/plugins/security_solution/public/cases/components/status/types.ts
  x-pack/plugins/security_solution/public/cases/containers/api.test.tsx
  x-pack/plugins/security_solution/public/cases/containers/api.ts
  x-pack/plugins/security_solution/public/cases/containers/types.ts
  x-pack/plugins/security_solution/public/cases/containers/use_get_cases.tsx
Labels: Team: SecuritySolution, Team:Threat Hunting, release_note:skip, v7.12.0, v8.0.0

#92743 Add developer documentation about the building blocks we offer plugin developers
  dev_docs/building_blocks.mdx
Labels: release_note:skip, v7.13.0, v8.0.0

#92826 [ILM] Refactor edit_policy client integration tests into separate feature files
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/constants.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/cold_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/delete_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/request_flyout.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/rollover.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/searchable_snapshots.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/timeline.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/warm_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/form_validation/error_indicators.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/reactive_form/reactive_form.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/serialization/policy_serialization.test.ts
Labels: Feature:ILM, Team:Elasticsearch UI, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93135 [7.x] [App Search] Implement various Relevance Tuning states and form actions (#92644)
  x-pack/plugins/enterprise_search/public/applications/app_search/__mocks__/engine_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/__mocks__/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/boost_item_content.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/boost_item_content.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/boosts/boost_item_content/value_boost_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_callouts.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_callouts.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_form/relevance_tuning_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_layout.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_layout.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_logic.ts
Labels: backport

#93202 [7.12] [ML] Transforms: Fixes chart histograms for runtime fields. (#93028)
  x-pack/plugins/ml/common/index.ts
  x-pack/plugins/ml/common/types/field_histograms.ts
  x-pack/plugins/ml/public/application/components/data_grid/column_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/index.ts
  x-pack/plugins/ml/public/application/components/data_grid/types.ts
  x-pack/plugins/ml/public/application/components/data_grid/use_column_chart.test.tsx
  x-pack/plugins/ml/public/application/components/data_grid/use_column_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/use_data_grid.tsx
  x-pack/plugins/ml/public/application/datavisualizer/stats_table/components/field_data_row/boolean_content_preview.tsx
  x-pack/plugins/ml/public/application/datavisualizer/stats_table/components/field_data_row/top_values_preview.tsx
  x-pack/plugins/ml/server/models/data_visualizer/data_visualizer.ts
  x-pack/plugins/transform/common/api_schemas/common.ts
  x-pack/plugins/transform/common/api_schemas/field_histograms.ts
  x-pack/plugins/transform/common/api_schemas/transforms.ts
  x-pack/plugins/transform/common/shared_imports.ts
  x-pack/plugins/transform/public/app/hooks/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/advanced_runtime_mappings_editor/advanced_runtime_mappings_editor.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.test.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.ts
  x-pack/plugins/transform/server/routes/api/field_histograms.ts
Labels: backport

#93203 [7.x] [ML] Transforms: Fixes chart histograms for runtime fields. (#93028)
  x-pack/plugins/ml/common/index.ts
  x-pack/plugins/ml/common/types/field_histograms.ts
  x-pack/plugins/ml/public/application/components/data_grid/column_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/index.ts
  x-pack/plugins/ml/public/application/components/data_grid/types.ts
  x-pack/plugins/ml/public/application/components/data_grid/use_column_chart.test.tsx
  x-pack/plugins/ml/public/application/components/data_grid/use_column_chart.tsx
  x-pack/plugins/ml/public/application/components/data_grid/use_data_grid.tsx
  x-pack/plugins/ml/public/application/datavisualizer/stats_table/components/field_data_row/boolean_content_preview.tsx
  x-pack/plugins/ml/public/application/datavisualizer/stats_table/components/field_data_row/top_values_preview.tsx
  x-pack/plugins/ml/server/models/data_visualizer/data_visualizer.ts
  x-pack/plugins/transform/common/api_schemas/common.ts
  x-pack/plugins/transform/common/api_schemas/field_histograms.ts
  x-pack/plugins/transform/common/api_schemas/transforms.ts
  x-pack/plugins/transform/common/shared_imports.ts
  x-pack/plugins/transform/public/app/hooks/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/advanced_runtime_mappings_editor/advanced_runtime_mappings_editor.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.test.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.ts
  x-pack/plugins/transform/server/routes/api/field_histograms.ts
Labels: backport

#92694 Improve consistency for display of management items
  x-pack/plugins/beats_management/public/bootstrap.tsx
  x-pack/plugins/cross_cluster_replication/public/plugin.ts
  x-pack/plugins/watcher/public/plugin.ts
Labels: auto-backport, release_note:skip, v7.11.2, v7.12.0, v7.13.0, v8.0.0

#93204 [7.x] Updated doc links (#92968)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search/components/setup_guide/setup_guide.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/setup_guide/setup_guide.tsx
Labels: backport

#92789 [ILM] Allow multiple searchable snapshot actions
  src/plugins/es_ui_shared/__packages_do_not_import__/errors/es_error_parser.ts
  src/plugins/es_ui_shared/__packages_do_not_import__/errors/handle_es_error.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/searchable_snapshot_field/searchable_snapshot_field.tsx
  x-pack/plugins/index_lifecycle_management/public/application/services/api_errors.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:ILM, Team:Elasticsearch UI, release_note:skip, v7.12.1, v7.13.0, v8.0.0

#93173 [7.11] [Security Solution] [Timeline] Bugfix to include unmapped fields in the timeline event details JSON (#92025)
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/details/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/__snapshots__/json_view.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/event_fields_browser.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/json_view.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/translations.ts
  x-pack/plugins/security_solution/public/common/mock/mock_detail_item.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/column_headers/header/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/column_headers/header/header_content.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/column_headers/header/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/get_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/plain_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/formatted_field.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/server/search_strategy/helpers/to_array.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/authentications/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/network/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/mocks.ts
  x-pack/test/api_integration/apis/security_solution/timeline_details.ts
Labels: backport

#93172 [7.12] [Security Solution] [Timeline] Bugfix to include unmapped fields in the timeline event details JSON (#92025)
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/details/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/__snapshots__/json_view.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/event_fields_browser.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/json_view.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/translations.ts
  x-pack/plugins/security_solution/public/common/mock/mock_detail_item.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/column_headers/header/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/get_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/plain_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/formatted_field.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/server/search_strategy/helpers/to_array.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/authentications/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/network/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/eql/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/eql/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/mocks.ts
  x-pack/test/api_integration/apis/security_solution/timeline_details.ts
Labels: backport

#93171 [7.x] [Security Solution] [Timeline] Bugfix to include unmapped fields in the timeline event details JSON (#92025)
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/details/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/__snapshots__/json_view.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/event_fields_browser.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/json_view.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/translations.ts
  x-pack/plugins/security_solution/public/common/mock/mock_detail_item.ts
  x-pack/plugins/security_solution/public/common/mock/timeline_results.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/helpers.test.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/column_headers/header/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/get_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/__snapshots__/plain_column_renderer.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/formatted_field.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/model.ts
  x-pack/plugins/security_solution/server/search_strategy/helpers/to_array.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/authentications/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/network/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/eql/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/eql/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/mocks.ts
  x-pack/test/api_integration/apis/security_solution/timeline_details.ts
Labels: backport

#93208 [7.x] [Security Solution] - Bug fixes (#92294)
  x-pack/plugins/security_solution/public/common/components/overview_description_list/index.tsx
  x-pack/plugins/security_solution/public/network/components/details/index.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/endpoint_overview/index.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/index.tsx
  x-pack/plugins/security_solution/public/resolver/view/resolver_no_process_events.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/expandable_event.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/__snapshots__/expandable_host.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/expandable_host.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/expandable_host.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/network_details/index.tsx
Labels: backport

#92917 [Time to Visualize] Disable Visualize URL Tracker When Linked to OriginatingApp
  src/plugins/visualize/public/plugin.ts
  test/functional/apps/dashboard/create_and_add_embeddables.ts
  test/functional/apps/dashboard/edit_visualizations.js
Labels: Feature:Dashboard, Team:Presentation, release_note:skip, v7.12.0, v7.13.0, v8.0.0

#93212 [7.x] [Lens] Remove warning about ordinal x-domain (#93049)
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/expression.test.tsx
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
Labels: backport

#93213 [7.x] [Security Solution] Fixes the Customize Event Renderers modal by removing the EuiOverlayMask (#93150)
  x-pack/plugins/security_solution/public/timelines/components/row_renderers_browser/index.tsx
Labels: backport

#93217 [7.12] [Lens] Fix runtime validation error message (#93195)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
Labels: backport

#93216 [7.x] [Lens] Fix runtime validation error message (#93195)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
Labels: backport

#93164 [7.x] [APM] Fix hidden search bar in error pages while loading (#84476) (#93139)
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/index.tsx
  x-pack/plugins/apm/public/components/app/error_group_overview/index.tsx
Labels: backport

#93165 [7.12] [APM] Fix hidden search bar in error pages while loading (#84476) (#93139)
  x-pack/plugins/apm/public/components/app/ErrorGroupDetails/index.tsx
  x-pack/plugins/apm/public/components/app/error_group_overview/index.tsx
Labels: backport

#92127 [App Search] Migrate Create Meta Engine View
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/constants.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/engines_overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/engines_overview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/engines_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/engines_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/constants.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/meta_engine_creation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/meta_engine_creation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/meta_engine_creation_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/meta_engine_creation/meta_engine_creation_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/index.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/routes.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/engines.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/engines.ts
Labels: auto-backport, release_note:skip, v7.13.0

#92836 Remove ms label from CPU load on status page
  src/core/public/core_app/status/lib/load_status.ts
Labels: Team:Core, auto-backport, release_note:fix, v7.13.0, v8.0.0

#93223 [7.x] [Security Solution] [Detections] Updates warning message when no indices match provided index patterns (#93094)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_rules.ts
Labels: backport

#93148 [7.12] [Security Solution][Case][Bug] Prevent closing collection when pushing (#93095)
  x-pack/plugins/case/server/client/cases/push.ts
  x-pack/plugins/security_solution/public/cases/components/configure_cases/closure_options.tsx
  x-pack/plugins/security_solution/public/cases/components/configure_cases/translations.ts
  x-pack/test/case_api_integration/basic/tests/cases/push_case.ts
Labels: backport

#93222 [7.12] Collect agent telemetry even when fleet server is disabled. (#93198)
  x-pack/plugins/fleet/server/collectors/agent_collectors.ts
  x-pack/plugins/fleet/server/collectors/register.ts
Labels: backport

#93220 [7.x] Collect agent telemetry even when fleet server is disabled. (#93198)
  x-pack/plugins/fleet/server/collectors/agent_collectors.ts
  x-pack/plugins/fleet/server/collectors/register.ts
Labels: backport

#93237 [7.11] Improve consistency for display of management items (#92694)
  x-pack/plugins/beats_management/public/bootstrap.tsx
  x-pack/plugins/cross_cluster_replication/public/plugin.ts
  x-pack/plugins/watcher/public/plugin.ts
Labels: backport

#92617 [Lens] Set pie chart slices sorted clockwise
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/test/functional/apps/lens/dashboard.ts
Labels: Feature:Lens, Team:KibanaApp, release_note:fix, v7.13.0, v8.0.0

#93226 [7.x] Add developer documentation about the building blocks we offer plugin developers (#92743)
  dev_docs/building_blocks.mdx
Labels: backport

#93221 [7.12] [Security Solution] [Detections] Updates warning message when no indices match provided index patterns (#93094)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_rules.ts
Labels: backport
