Repository elastic/kibana, pull requests merged in 2021-10, with the labels that each got.

#112980 [Security Solution] Top-level Cases feature under the Security
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/cypress/integration/cases/privileges.spec.ts
  x-pack/plugins/security_solution/public/app/deep_links/index.test.ts
  x-pack/plugins/security_solution/public/app/deep_links/index.ts
  x-pack/plugins/security_solution/public/common/lib/kibana/hooks.ts
  x-pack/plugins/security_solution/server/features.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/detections_admin/detections_role.json
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/hunter/detections_role.json
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/platform_engineer/detections_role.json
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/reader/detections_role.json
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/rule_author/detections_role.json
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/soc_manager/detections_role.json
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/t1_analyst/detections_role.json
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/roles_users/t2_analyst/detections_role.json
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/test/api_integration/apis/features/features/features.ts
  x-pack/test/api_integration/apis/security/privileges.ts
  x-pack/test/api_integration/apis/security/privileges_basic.ts
  x-pack/test/api_integration/apis/security_solution/cases_privileges.ts
  x-pack/test/api_integration_basic/apis/security_solution/cases_privileges.ts
Labels: release_note:enhancement, v8.0.0, Team:Threat Hunting, Team:Threat Hunting:Cases

#113582 [7.14] [buildkite] Improve failed test experience (#113483)
  .buildkite/pipelines/es_snapshots/verify.yml
  .buildkite/pipelines/hourly.yml
  .buildkite/scripts/lifecycle/annotate_test_failures.js
  .buildkite/scripts/lifecycle/post_command.sh
  packages/kbn-test/BUILD.bazel
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file.ts
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file_html_template.html
  packages/kbn-test/src/failed_tests_reporter/run_failed_tests_reporter_cli.ts
Labels: backport

#113578 [7.x] [vscode] Set typescript.enablePromptUseWorkspaceTsdk (#113476)
  packages/kbn-dev-utils/src/vscode_config/managed_config_keys.ts
  packages/kbn-dev-utils/src/vscode_config/update_vscode_config.ts
Labels: backport

#113581 [7.15] [buildkite] Improve failed test experience (#113483)
  .buildkite/pipelines/es_snapshots/verify.yml
  .buildkite/pipelines/hourly.yml
  .buildkite/scripts/lifecycle/annotate_test_failures.js
  .buildkite/scripts/lifecycle/post_command.sh
  packages/kbn-test/BUILD.bazel
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file.ts
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file_html_template.html
  packages/kbn-test/src/failed_tests_reporter/run_failed_tests_reporter_cli.ts
Labels: backport

#113579 [7.x] [Lens] Design updates in prep for thresholds (#113428)
  x-pack/plugins/lens/public/_mixins.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/add_layer.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/buttons/empty_dimension_button.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/frame_layout.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.scss
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.scss
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/formula.scss
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/formula_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/formula_help.tsx
  x-pack/plugins/lens/public/shared_components/coloring/palette_configuration.scss
  x-pack/plugins/lens/public/shared_components/coloring/palette_panel_container.scss
  x-pack/plugins/lens/public/shared_components/coloring/palette_panel_container.tsx
Labels: backport

#113580 [7.x] [buildkite] Improve failed test experience (#113483)
  .buildkite/pipelines/es_snapshots/verify.yml
  .buildkite/pipelines/hourly.yml
  .buildkite/scripts/lifecycle/annotate_test_failures.js
  .buildkite/scripts/lifecycle/post_command.sh
  packages/kbn-test/BUILD.bazel
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file.ts
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file_html_template.html
  packages/kbn-test/src/failed_tests_reporter/run_failed_tests_reporter_cli.ts
Labels: backport

#113584 [7.x] Prevent spec file updates from restarting dev server (#113336)
  packages/kbn-cli-dev-mode/src/get_server_watch_paths.test.ts
  packages/kbn-cli-dev-mode/src/get_server_watch_paths.ts
Labels: backport

#112875 [7.x] [CI] Balance CI Groups (#112836)
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/exception_operators_data_types/index.ts
  x-pack/test/functional/apps/ml/index.ts
Labels: backport

#113590 [docs] Fixes typo in Deb install docs
  docs/setup/install/deb.asciidoc
Labels: Team:Operations, v8.0.0, release_note:skip, auto-backport, v7.16.0, v7.15.1

#113591 [7.x] [docs] Fixes typo in Deb install docs (#113590)
  docs/setup/install/deb.asciidoc
Labels: backport

#113592 [7.15] [docs] Fixes typo in Deb install docs (#113590)
  docs/setup/install/deb.asciidoc
Labels: backport

#113300 Lint git index content on commit
  src/dev/eslint/lint_files.ts
  src/dev/file.ts
  src/dev/precommit_hook/get_files_for_commit.js
  src/dev/run_precommit_hook.js
  src/dev/stylelint/lint_files.js
Labels: v8.0.0, release_note:skip, auto-backport, v7.15.0, v7.16.0

#113367 [8.0] Remove `--plugin-dir` cli option
  src/cli/serve/serve.js
  src/core/server/i18n/get_kibana_translation_files.test.ts
  src/core/server/plugins/plugins_config.ts
  src/core/test_helpers/kbn_server.ts
  x-pack/plugins/fleet/server/integration_tests/router.test.ts
Labels: release_note:breaking, Team:Core, v8.0.0, backport:skip, Team:Fleet

#113593 [7.15] Lint git index content on commit (#113300)
  src/dev/eslint/lint_files.ts
  src/dev/file.ts
  src/dev/precommit_hook/get_files_for_commit.js
  src/dev/run_precommit_hook.js
  src/dev/stylelint/lint_files.js
Labels: backport

#113594 [7.x] Lint git index content on commit (#113300)
  src/dev/eslint/lint_files.ts
  src/dev/file.ts
  src/dev/precommit_hook/get_files_for_commit.js
  src/dev/run_precommit_hook.js
  src/dev/stylelint/lint_files.js
Labels: backport

#113438 Update title and description on APM tutorial in cloud hosted deployments
  x-pack/plugins/apm/server/tutorial/envs/elastic_cloud.ts
Labels: release_note:fix, Team:apm, v7.16.0

#113008 [Lens] Threshold: set default color for new thresholds
  x-pack/plugins/lens/public/xy_visualization/color_assignment.ts
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
  x-pack/plugins/lens/public/xy_visualization/expression_thresholds.tsx
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.test.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/color_picker.tsx
Labels: Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, auto-backport, v7.16.0

#113504 Set product name (fixes setup mode)
  x-pack/plugins/monitoring/public/application/pages/beats/instances.tsx
Labels: Team:Monitoring, v8.0.0, Team:logs-metrics-ui, release_note:skip, Feature:Stack Monitoring, auto-backport, v7.16.0, Epic: Stack Monitoring de-angularization

#86984 Fixes list formatting in documentation
  docs/apm/getting-started.asciidoc
Labels: Team:apm, v8.0.0, release_note:skip, 💝community, v7.11.0

#113598 [7.x] [Lens] Threshold: set default color for new thresholds (#113008)
  x-pack/plugins/lens/public/xy_visualization/color_assignment.ts
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
  x-pack/plugins/lens/public/xy_visualization/expression_thresholds.tsx
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.test.ts
  x-pack/plugins/lens/public/xy_visualization/visualization.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/color_picker.tsx
Labels: backport

#113599 [7.x] [Stack Monitoring] Set beats react product name (fixes setup mode) (#113504)
  x-pack/plugins/monitoring/public/application/pages/beats/instances.tsx
Labels: backport

#113537 [7.15] [Security Solutions] Search results deepLinks fix inconsistency (#113046)
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/public/app/deep_links/index.test.ts
  x-pack/plugins/security_solution/public/app/deep_links/index.ts
  x-pack/plugins/security_solution/public/app/types.ts
Labels: backport

#113443 chore: add modifications to staging automatically after eslint fix
  src/dev/run_precommit_hook.js
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v7.16.0

#113563 [Stack Monitoring] fix useTable sorting and pagination
  x-pack/plugins/monitoring/public/application/hooks/use_table.ts
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/plugins/monitoring/public/components/logstash/pipeline_listing/pipeline_listing.js
  x-pack/plugins/monitoring/public/components/table/eui_table_ssp.js
Labels: v8.0.0, Team:logs-metrics-ui, release_note:skip, auto-backport, v7.16.0, Epic: Stack Monitoring de-angularization

#113291 [Fleet] Show beats replacements in integration browser
  src/plugins/custom_integrations/common/index.ts
  src/plugins/custom_integrations/public/mocks.ts
  src/plugins/custom_integrations/public/plugin.ts
  src/plugins/custom_integrations/public/types.ts
  src/plugins/custom_integrations/server/custom_integration_registry.test.ts
  src/plugins/custom_integrations/server/custom_integration_registry.ts
  src/plugins/custom_integrations/server/index.ts
  src/plugins/custom_integrations/server/plugin.test.ts
  src/plugins/custom_integrations/server/plugin.ts
  src/plugins/custom_integrations/server/routes/define_routes.ts
  src/plugins/home/server/plugin.test.ts
  src/plugins/home/server/plugin.ts
  src/plugins/home/server/services/tutorials/lib/tutorial_schema.ts
  src/plugins/home/server/services/tutorials/tutorials_registry.test.ts
  src/plugins/home/server/services/tutorials/tutorials_registry.ts
  src/plugins/home/server/tutorials/activemq_logs/index.ts
  src/plugins/home/server/tutorials/activemq_metrics/index.ts
  src/plugins/home/server/tutorials/aws_logs/index.ts
  src/plugins/home/server/tutorials/aws_metrics/index.ts
  src/plugins/home/server/tutorials/cloudwatch_logs/index.ts
  src/plugins/home/server/tutorials/oracle_metrics/index.ts
  src/plugins/home/server/tutorials/prometheus_metrics/index.ts
  test/api_integration/apis/custom_integration/integrations.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/category_facets.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/util.ts
  x-pack/plugins/fleet/public/hooks/use_merge_epr_with_replacements.test.ts
  x-pack/plugins/fleet/public/hooks/use_merge_epr_with_replacements.ts
  x-pack/plugins/fleet/public/hooks/use_request/epm.ts
Labels: Team:apm, v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0, Feature:Unified Integrations

#113287 [Discover] Save collapse sidebar state in local storage
  src/plugins/discover/public/__mocks__/services.ts
  src/plugins/discover/public/application/apps/main/components/layout/discover_layout.test.tsx
  src/plugins/discover/public/application/apps/main/components/layout/discover_layout.tsx
  src/plugins/discover/public/application/apps/main/components/sidebar/discover_sidebar_responsive.tsx
  src/plugins/discover/public/build_services.ts
Labels: Feature:Discover, v8.0.0, release_note:skip, auto-backport, v7.16.0, Team:DataDiscovery

#112372 [systemd] Use a private /tmp directory
  src/dev/build/tasks/os_packages/service_templates/systemd/usr/lib/systemd/system/kibana.service
Labels: Team:Operations, v8.0.0, release_note:skip

#113611 [7.x] chore: add modifications to staging automatically after eslint fix (#113443)
  src/dev/run_precommit_hook.js
Labels: backport

#113615 [7.x] [Fleet] Show beats replacements in integration browser (#113291)
  src/plugins/custom_integrations/common/index.ts
  src/plugins/custom_integrations/public/mocks.ts
  src/plugins/custom_integrations/public/plugin.ts
  src/plugins/custom_integrations/public/types.ts
  src/plugins/custom_integrations/server/custom_integration_registry.test.ts
  src/plugins/custom_integrations/server/custom_integration_registry.ts
  src/plugins/custom_integrations/server/index.ts
  src/plugins/custom_integrations/server/plugin.test.ts
  src/plugins/custom_integrations/server/plugin.ts
  src/plugins/custom_integrations/server/routes/define_routes.ts
  src/plugins/home/server/plugin.test.ts
  src/plugins/home/server/plugin.ts
  src/plugins/home/server/services/tutorials/lib/tutorial_schema.ts
  src/plugins/home/server/services/tutorials/tutorials_registry.test.ts
  src/plugins/home/server/services/tutorials/tutorials_registry.ts
  src/plugins/home/server/tutorials/activemq_logs/index.ts
  src/plugins/home/server/tutorials/activemq_metrics/index.ts
  src/plugins/home/server/tutorials/aws_logs/index.ts
  src/plugins/home/server/tutorials/aws_metrics/index.ts
  src/plugins/home/server/tutorials/cloudwatch_logs/index.ts
  src/plugins/home/server/tutorials/oracle_metrics/index.ts
  src/plugins/home/server/tutorials/prometheus_metrics/index.ts
  test/api_integration/apis/custom_integration/integrations.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/category_facets.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/util.ts
  x-pack/plugins/fleet/public/hooks/use_merge_epr_with_replacements.test.ts
  x-pack/plugins/fleet/public/hooks/use_merge_epr_with_replacements.ts
  x-pack/plugins/fleet/public/hooks/use_request/epm.ts
Labels: backport

#113613 [7.x] fix sorting, pagination, state (#113563)
  x-pack/plugins/monitoring/public/application/hooks/use_table.ts
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/nodes.js
  x-pack/plugins/monitoring/public/components/logstash/pipeline_listing/pipeline_listing.js
  x-pack/plugins/monitoring/public/components/table/eui_table_ssp.js
Labels: backport

#113616 [7.x] [Discover] Save collapse sidebar state in local storage (#113287)
  src/plugins/discover/public/__mocks__/services.ts
  src/plugins/discover/public/application/apps/main/components/layout/discover_layout.test.tsx
  src/plugins/discover/public/application/apps/main/components/layout/discover_layout.tsx
  src/plugins/discover/public/application/apps/main/components/sidebar/discover_sidebar_responsive.tsx
  src/plugins/discover/public/build_services.ts
Labels: backport

#113124 [Discover] Fix doc viewer table columns
  src/plugins/discover/public/application/components/doc_viewer/doc_viewer.scss
Labels: Feature:Discover, release_note:fix, v8.0.0, v7.16.0, v7.15.1, Team:DataDiscovery

#113047 [Archive Migration] xpack..saved_objects_management/spaces_integration
  x-pack/test/functional/apps/saved_objects_management/spaces_integration.ts
  x-pack/test/functional/es_archives/saved_objects_management/spaces_integration/data.json
  x-pack/test/functional/es_archives/saved_objects_management/spaces_integration/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/saved_objects_management/spaces_integration.json
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0

#113302 [QA][SO INFO SVC] Add jq filtering
  package.json
  test/common/services/saved_object_info/README.md
  test/common/services/saved_object_info/index.ts
  test/common/services/saved_object_info/saved_object_info.ts
  test/common/services/saved_object_info/saved_objects_info_svc.md
  yarn.lock
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0

#113313 Document our newly agreed upon HTTP standards
  dev_docs/contributing/standards.mdx
Labels: v8.0.0, release_note:skip, v7.16.0

#113639 [7.x] Exclude cypress folders from Jest test coverage (#113482)
  x-pack/plugins/enterprise_search/jest.config.js
Labels: backport

#113575 [buildkite] Add a minimal flaky test suite runner job
  .buildkite/pipelines/flaky_tests/pipeline.js
  .buildkite/pipelines/flaky_tests/pipeline.sh
  .buildkite/pipelines/flaky_tests/runner.js
  .buildkite/pipelines/flaky_tests/runner.sh
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v7.16.0, v7.15.1, v7.14.3

#113658 [7.15] [buildkite] Add a minimal flaky test suite runner job (#113575)
  .buildkite/pipelines/flaky_tests/pipeline.js
  .buildkite/pipelines/flaky_tests/pipeline.sh
  .buildkite/pipelines/flaky_tests/runner.js
  .buildkite/pipelines/flaky_tests/runner.sh
Labels: backport

#113657 [7.x] [buildkite] Add a minimal flaky test suite runner job (#113575)
  .buildkite/pipelines/flaky_tests/pipeline.js
  .buildkite/pipelines/flaky_tests/pipeline.sh
  .buildkite/pipelines/flaky_tests/runner.js
  .buildkite/pipelines/flaky_tests/runner.sh
Labels: backport

#113659 [7.14] [buildkite] Add a minimal flaky test suite runner job (#113575)
  .buildkite/pipelines/flaky_tests/pipeline.js
  .buildkite/pipelines/flaky_tests/pipeline.sh
  .buildkite/pipelines/flaky_tests/runner.js
  .buildkite/pipelines/flaky_tests/runner.sh
Labels: backport

#113638 [7.15] [Discover] Fix doc viewer table columns (#113124)
  src/plugins/discover/public/application/components/doc_viewer/doc_viewer.scss
Labels: backport

#113637 [7.x] [Discover] Fix doc viewer table columns (#113124)
  src/plugins/discover/public/application/components/doc_viewer/doc_viewer.scss
Labels: backport

#113654 [7.x] Create standards.mdx (#113313)
  dev_docs/contributing/standards.mdx
Labels: backport

#113571 [Cases] [104932] Remove newline characters from summary field and add tests
  x-pack/plugins/actions/server/builtin_action_types/jira/service.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.ts
Labels: release_note:fix, v8.0.0, Team:Threat Hunting, auto-backport, v7.16.0, v7.15.1, Team:Threat Hunting:Cases

#113625 [Fleet] Add APM card to integration browser
  x-pack/plugins/apm/server/tutorial/index.ts
Labels: chore, Team:apm, v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0, Feature:Unified Integrations

#113669 [7.15] [Cases] [104932] Remove newline characters from summary field and add tests (#113571)
  x-pack/plugins/actions/server/builtin_action_types/jira/service.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.ts
Labels: backport

#113665 Revert "[Upgrade Assistant] Refactor telemetry (#112177)"
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/plugins/upgrade_assistant/README.md
  x-pack/plugins/upgrade_assistant/common/types.ts
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/index_settings/flyout.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/ml_snapshots/flyout.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/reindex/flyout/__snapshots__/checklist_step.test.tsx.snap
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/reindex/flyout/checklist_step.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/reindex/table_row.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/reindex/use_reindex_state.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/es_deprecations.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/kibana_deprecations/deprecation_details_flyout.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/kibana_deprecations/kibana_deprecations.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/overview/backup_step/cloud_backup.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/overview/backup_step/on_prem_backup.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/overview/fix_logs_step/deprecations_count_checkpoint/deprecations_count_checkpoint.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/overview/fix_logs_step/external_links.tsx
  x-pack/plugins/upgrade_assistant/public/application/components/overview/overview.tsx
  x-pack/plugins/upgrade_assistant/public/application/lib/api.ts
  x-pack/plugins/upgrade_assistant/public/application/lib/ui_metric.ts
  x-pack/plugins/upgrade_assistant/public/plugin.ts
  x-pack/plugins/upgrade_assistant/public/types.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_open_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_open_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_reindex_apis.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/es_ui_reindex_apis.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/usage_collector.test.ts
  x-pack/plugins/upgrade_assistant/server/lib/telemetry/usage_collector.ts
  x-pack/plugins/upgrade_assistant/server/plugin.ts
  x-pack/plugins/upgrade_assistant/server/routes/register_routes.ts
  x-pack/plugins/upgrade_assistant/server/routes/telemetry.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/telemetry.ts
  x-pack/plugins/upgrade_assistant/server/saved_object_types/telemetry_saved_object_type.ts
Labels: Team:Stack Management, release_note:skip, Feature:Upgrade Assistant, v7.16.0

#113643 [7.x] [Archive Migration] xpack..saved_objects_management/spaces_integration (#113047)
  x-pack/test/functional/apps/saved_objects_management/spaces_integration.ts
  x-pack/test/functional/fixtures/kbn_archiver/saved_objects_management/spaces_integration.json
Labels: backport

#113668 [7.x] [Cases] [104932] Remove newline characters from summary field and add tests (#113571)
  x-pack/plugins/actions/server/builtin_action_types/jira/service.test.ts
  x-pack/plugins/actions/server/builtin_action_types/jira/service.ts
Labels: backport

#113687 [buildkite] Fix unbound variable in post_build script
  .buildkite/scripts/lifecycle/post_build.sh
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v7.16.0, v7.15.1, v7.14.3

#113688 [7.x] [buildkite] Fix unbound variable in post_build script (#113687)
  .buildkite/scripts/lifecycle/post_build.sh
Labels: backport

#113690 [7.14] [buildkite] Fix unbound variable in post_build script (#113687)
  .buildkite/scripts/lifecycle/post_build.sh
Labels: backport

#113689 [7.15] [buildkite] Fix unbound variable in post_build script (#113687)
  .buildkite/scripts/lifecycle/post_build.sh
Labels: backport

#113263 [ML] APM Correlations: Remove unused server side queries code.
  x-pack/plugins/apm/server/lib/correlations/errors/get_correlations_for_failed_transactions.ts
  x-pack/plugins/apm/server/lib/correlations/errors/get_overall_error_timeseries.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_correlations_for_slow_transactions.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_duration_for_percentile.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_latency_distribution.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_max_latency.ts
  x-pack/plugins/apm/server/lib/correlations/latency/get_overall_latency_distribution.ts
  x-pack/plugins/apm/server/lib/correlations/process_significant_term_aggs.ts
  x-pack/plugins/apm/server/lib/search_strategies/queries/get_filters.ts
  x-pack/plugins/apm/server/lib/search_strategies/queries/get_query_with_params.ts
Labels: Team:apm, :ml, v8.0.0, release_note:skip, auto-backport, apm:correlations, v7.16.0

#113492 [ci-stats] Local metrics fixes
  packages/kbn-cli-dev-mode/src/cli_dev_mode.ts
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-dev-utils/src/run/metrics.ts
  packages/kbn-optimizer/src/report_optimizer_timings.ts
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/run.ts
Labels: Team:Operations, v8.0.0, release_note:skip, v7.16.0

#113710 [7.x] [ci-stats] Local metrics fixes (#113492)
  packages/kbn-cli-dev-mode/src/cli_dev_mode.ts
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-dev-utils/src/run/metrics.ts
  packages/kbn-optimizer/src/report_optimizer_timings.ts
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/run.ts
Labels: backport

#113516 [Vislib] Removes fontAwesome usage
  src/plugins/vis_types/vislib/kibana.json
  src/plugins/vis_types/vislib/public/editor/components/gauge/labels_panel.tsx
  src/plugins/vis_types/vislib/public/plugin.ts
  src/plugins/vis_types/vislib/public/vis_controller.tsx
  src/plugins/vis_types/vislib/public/vislib/components/tooltip/_tooltip.scss
  src/plugins/vis_types/vislib/public/vislib/lib/_alerts.scss
  src/plugins/vis_types/vislib/public/vislib/lib/_index.scss
  src/plugins/vis_types/vislib/public/vislib/lib/alerts.js
  src/plugins/vis_types/vislib/public/vislib/lib/binder.ts
  src/plugins/vis_types/vislib/public/vislib/lib/handler.js
  src/plugins/vis_types/vislib/public/vislib/lib/layout/_layout.scss
  src/plugins/vis_types/vislib/public/vislib/lib/layout/types/column_layout.js
  src/plugins/vis_types/vislib/public/vislib/lib/layout/types/gauge_layout.js
  src/plugins/vis_types/vislib/public/vislib/lib/vis_config.js
  src/plugins/vis_types/vislib/public/vislib/partials/touchdown_template.tsx
  src/plugins/vis_types/vislib/public/vislib/visualizations/gauges/meter.js
  src/plugins/vis_types/vislib/public/vislib/visualizations/point_series/heatmap_chart.js
  src/plugins/vis_types/vislib/tsconfig.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Vislib, release_note:breaking, Team:VisEditors, v8.0.0, backport:skip

#113535 Unskips the visualize reporting functional test suite
  x-pack/test/functional/apps/visualize/reporting.ts
Labels: Feature:Visualizations, Team:VisEditors, failed-test, v8.0.0, release_note:skip, auto-backport, v7.16.0

#113441 Partial revert "[DOCS] Adds #112562 known issue to 7.14.2 release notes"
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, v7.14.0, v7.15.0, v7.16.0, v7.15.1

#113595 [7.x] Deprecates the `--plugins` alias
  src/cli/serve/serve.js
Labels: Team:Core, release_note:skip, backport:skip, v7.16.0

#110252 [Lens] Rename Index pattern to Data view
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/add_layer.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/error_helper.ts
  x-pack/plugins/lens/public/indexpattern_datasource/change_indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimensions_editor_helpers.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/layerpanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/no_fields_callout.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/no_fields_callout.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/last_value.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/last_value.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.ts
  x-pack/plugins/lens/server/routes/field_stats.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, backport:skip

#110985 [TSVB] Removes less support from markdown editor
  docs/user/dashboard/tsvb.asciidoc
  package.json
  src/plugins/vis_types/timeseries/public/application/components/panel_config/markdown.tsx
  src/plugins/vis_types/timeseries/public/application/components/vis_types/markdown/vis.js
  src/plugins/visualizations/server/embeddable/visualize_embeddable_factory.ts
  src/plugins/visualizations/server/migrations/visualization_common_migrations.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.test.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.ts
  x-pack/test/api_integration/apis/maps/migrations.js
  yarn.lock
Labels: release_note:breaking, Feature:TSVB, Team:VisEditors, v8.0.0, backport:skip

#112952 [Lens] Threshold: add padding to avoid axis label collision with threshold markers
  x-pack/plugins/lens/common/expressions/xy_chart/axis_config.ts
  x-pack/plugins/lens/public/shared_components/tooltip_wrapper.tsx
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
  x-pack/plugins/lens/public/xy_visualization/expression_thresholds.tsx
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/index.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/threshold_panel.tsx
Labels: Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, auto-backport, v7.16.0

#113722 [7.x] Unskips the visualize reporting functional test suite (#113535)
  x-pack/test/functional/apps/visualize/reporting.ts
Labels: backport

#113324 [Lens] move from slice to reducers/actions and simplify loading
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_actions.test.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_helpers.test.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/mocks.tsx
  x-pack/plugins/lens/public/state_management/__snapshots__/load_initial.test.tsx.snap
  x-pack/plugins/lens/public/state_management/index.ts
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.test.tsx
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.ts
  x-pack/plugins/lens/public/state_management/lens_slice.test.ts
  x-pack/plugins/lens/public/state_management/lens_slice.ts
  x-pack/plugins/lens/public/state_management/load_initial.test.tsx
  x-pack/plugins/lens/public/state_management/time_range_middleware.test.ts
Labels: Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, auto-backport, v7.16.0

#113735 [7.x] [Lens] Threshold: add padding to avoid axis label collision with threshold markers (#112952)
  x-pack/plugins/lens/common/expressions/xy_chart/axis_config.ts
  x-pack/plugins/lens/public/shared_components/tooltip_wrapper.tsx
  x-pack/plugins/lens/public/xy_visualization/__snapshots__/expression.test.tsx.snap
  x-pack/plugins/lens/public/xy_visualization/expression.tsx
  x-pack/plugins/lens/public/xy_visualization/expression_thresholds.tsx
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/index.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/threshold_panel.tsx
Labels: backport

#113723 Remove `jsonwebtoken` and `base64url` dependencies.
  package.json
  renovate.json5
  x-pack/test/security_api_integration/fixtures/oidc/oidc_tools.ts
  yarn.lock
Labels: chore, Team:Security, v8.0.0, release_note:skip, auto-backport, v7.16.0

#113604 [Stack Monitoring] React migration kibana overview
  x-pack/plugins/monitoring/public/application/index.tsx
  x-pack/plugins/monitoring/public/application/pages/kibana/kibana_template.tsx
  x-pack/plugins/monitoring/public/application/pages/kibana/overview.tsx
Labels: Team:Monitoring, v8.0.0, Team:logs-metrics-ui, release_note:skip, Feature:Stack Monitoring, auto-backport, v7.16.0, Epic: Stack Monitoring de-angularization

#108831 [Discover] Extract fetch observable initialization to separate function
  src/plugins/discover/public/application/apps/main/services/use_saved_search.ts
  src/plugins/discover/public/application/apps/main/utils/get_fetch_observable.ts
  src/plugins/discover/public/application/apps/main/utils/get_fetch_observeable.test.ts
Labels: chore, Feature:Discover, v8.0.0, release_note:skip, auto-backport, v7.16.0, Team:DataDiscovery

#113740 [7.x] [Lens] move from slice to reducers/actions and simplify loading (#113324)
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_actions.test.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_helpers.test.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/mocks.tsx
  x-pack/plugins/lens/public/state_management/__snapshots__/load_initial.test.tsx.snap
  x-pack/plugins/lens/public/state_management/index.ts
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.test.tsx
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.ts
  x-pack/plugins/lens/public/state_management/lens_slice.test.ts
  x-pack/plugins/lens/public/state_management/lens_slice.ts
  x-pack/plugins/lens/public/state_management/load_initial.test.tsx
  x-pack/plugins/lens/public/state_management/time_range_middleware.test.ts
Labels: backport

#113557 [Task Manager] Updating aggregation for `ownerId` to only include recently started tasks
  x-pack/plugins/task_manager/server/monitoring/workload_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/workload_statistics.ts
Labels: v8.0.0, release_note:skip, Feature:Task Manager, Team:Alerting Services, auto-backport, v7.16.0

#113686 [Security Solution] create task for auto restarting failed OLM transforms
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/mocks.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/mock_endpoint_result_list.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/types.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
  x-pack/plugins/security_solution/server/endpoint/lib/metadata/check_metadata_transforms_task.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/metadata/check_metadata_transforms_task.ts
  x-pack/plugins/security_solution/server/endpoint/lib/metadata/index.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v7.16.0

#113620 [Fleet] Fix how we get the default output in the Fleet UI
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_requirements_page/components/fleet_server_on_prem_instructions.tsx
  x-pack/plugins/fleet/public/components/settings_flyout/index.tsx
  x-pack/plugins/fleet/public/hooks/use_request/outputs.ts
Labels: bug, v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0

#113619 [TSVB] Update the series and metrics Ids that are numbers to strings
  src/plugins/vis_types/timeseries/public/vis_state.test.ts
  src/plugins/visualizations/public/legacy/vis_update_state.js
  src/plugins/visualizations/public/legacy/vis_update_state.test.js
Labels: Feature:TSVB, release_note:fix, Team:VisEditors, v8.0.0, auto-backport, v7.16.0, v7.15.1

#113769 [buildkite] Fix packer cache issues
  .buildkite/scripts/common/env.sh
  .buildkite/scripts/packer_cache.sh
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v7.16.0, v7.15.1, v7.14.3

#112852 [Security] Add EQL rule test in CCS config
  x-pack/plugins/security_solution/cypress/ccs_integration/detection_rules/event_correlation_rule.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/test/security_solution_cypress/es_archives/linux_process/data.json
  x-pack/test/security_solution_cypress/es_archives/linux_process/mappings.json
Labels: v8.0.0, release_note:skip, auto-backport, v7.15.0, v7.16.0

#113773 [7.x] [buildkite] Fix packer cache issues (#113769)
  .buildkite/scripts/common/env.sh
  .buildkite/scripts/packer_cache.sh
Labels: backport

#113774 [7.15] [buildkite] Fix packer cache issues (#113769)
  .buildkite/scripts/common/env.sh
  .buildkite/scripts/packer_cache.sh
Labels: backport

#113775 [7.14] [buildkite] Fix packer cache issues (#113769)
  .buildkite/scripts/common/env.sh
  .buildkite/scripts/packer_cache.sh
Labels: backport

#113626 [Cases] Priority reset when fields loading fix
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_fields_by_issue_type.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.15.0, v7.16.0

#113122 [Uptime] Increase timeout for long-running unit test assertions
  x-pack/plugins/uptime/public/hooks/use_composite_image.test.tsx
Labels: failed-test, v8.0.0, Team:uptime, release_note:skip, v7.16.0

#113753 [7.x] Remove `jsonwebtoken` and `base64url` dependencies. (#113723)
  package.json
  x-pack/test/security_api_integration/fixtures/oidc/oidc_tools.ts
  yarn.lock
Labels: backport

#113458 [Uptime] Supress fetch errors on no data screen
  x-pack/plugins/uptime/public/apps/uptime_page_template.tsx
  x-pack/plugins/uptime/public/components/overview/empty_state/use_has_data.tsx
  x-pack/plugins/uptime/public/contexts/uptime_index_pattern_context.tsx
Labels: v8.0.0, Team:uptime, release_note:skip, auto-backport, v7.16.0

#113758 [7.x] [Stack Monitoring] React migration kibana overview (#113604)
  x-pack/plugins/monitoring/public/application/index.tsx
  x-pack/plugins/monitoring/public/application/pages/kibana/kibana_template.tsx
  x-pack/plugins/monitoring/public/application/pages/kibana/overview.tsx
Labels: backport

#113760 [7.x] [Discover] Extract fetch observable initialization to separate function (#108831)
  src/plugins/discover/public/application/apps/main/services/use_saved_search.ts
  src/plugins/discover/public/application/apps/main/utils/get_fetch_observable.ts
  src/plugins/discover/public/application/apps/main/utils/get_fetch_observeable.test.ts
Labels: backport

#113205 [Security Solution] Migrates siem.notifications ruleAlertId to saved object references array
  x-pack/plugins/alerting/server/saved_objects/migrations.test.ts
  x-pack/plugins/alerting/server/saved_objects/migrations.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_rules_notification_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/README.md
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_extract_references.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_extract_references.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_extract_rule_id.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_extract_rule_id.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_inject_references.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_inject_references.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_inject_rule_id_references.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_saved_object_references/legacy_inject_rule_id_references.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/notifications/legacy_types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/scripts/legacy_notifications/one_action.json
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/saved_object_references/README.md
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/migrations.ts
  x-pack/test/functional/es_archives/alerts/data.json
Labels: v8.0.0, release_note:skip, Feature:Detection Rules, auto-backport, v7.16.0, Team:Security Solution Platform

#113761 [7.x] Adding range filter to ownerId aggregation (#113557)
  x-pack/plugins/task_manager/server/monitoring/workload_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/workload_statistics.ts
Labels: backport

#113642 [Lens] Color assignment issue when metric is moved to right axis
  x-pack/plugins/lens/public/xy_visualization/to_expression.test.ts
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
Labels: Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, auto-backport, v7.16.0

#110253 [TSVB] Rename Index pattern to Data view
  src/plugins/vis_types/timeseries/public/application/components/lib/index_pattern_select/index_pattern_select.tsx
  src/plugins/vis_types/timeseries/public/application/components/lib/index_pattern_select/switch_mode_popover.tsx
  src/plugins/vis_types/timeseries/public/application/components/series_config.js
  src/plugins/vis_types/timeseries/public/application/components/use_index_patter_mode_callout.tsx
  src/plugins/vis_types/timeseries/public/application/components/vis_types/timeseries/config.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:TSVB, Team:VisEditors, v8.0.0, release_note:skip, backport:skip

#113460 Better message for unanticipated authorisation errors
  x-pack/plugins/security/common/types.ts
  x-pack/plugins/security/public/authentication/login/components/index.ts
  x-pack/plugins/security/public/authentication/login/components/login_form/index.ts
  x-pack/plugins/security/public/authentication/login/components/login_form/login_form.tsx
  x-pack/plugins/security/public/authentication/login/login_page.tsx
  x-pack/plugins/security/public/session/session_expired.mock.ts
  x-pack/plugins/security/public/session/session_expired.test.ts
  x-pack/plugins/security/public/session/session_expired.ts
  x-pack/plugins/security/public/session/session_timeout.ts
  x-pack/plugins/security/public/session/unauthorized_response_http_interceptor.test.ts
  x-pack/plugins/security/public/session/unauthorized_response_http_interceptor.ts
Labels: release_note:fix, Team:Security, v8.0.0, auto-backport, v7.16.0

#113772 [7.x] [TSVB] Update the series and metrics Ids that are numbers to strings (#113619)
  src/plugins/vis_types/timeseries/public/vis_state.test.ts
  src/plugins/visualizations/public/legacy/vis_update_state.js
  src/plugins/visualizations/public/legacy/vis_update_state.test.js
Labels: backport

#113777 [7.x] [Security] Add EQL rule test in CCS config (#112852)
  x-pack/plugins/security_solution/cypress/ccs_integration/detection_rules/event_correlation_rule.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/test/security_solution_cypress/es_archives/linux_process/data.json
  x-pack/test/security_solution_cypress/es_archives/linux_process/mappings.json
Labels: backport

#112730 [Fleet] Use elastic_agent package to build monitoring permissions for elastic agent
  x-pack/plugins/fleet/common/constants/agent_policy.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/services/agent_policies/__snapshots__/full_agent_policy.test.ts.snap
  x-pack/plugins/fleet/server/services/agent_policies/__snapshots__/monitoring_permissions.test.ts.snap
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/monitoring_permissions.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/monitoring_permissions.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0

#113778 [7.x] [APM] Show APM Server stand-alone mode in Kibana Upgrade Assistant (cloud-only) (#113567)
  x-pack/plugins/apm/server/deprecations/deprecations.test.ts
  x-pack/plugins/apm/server/deprecations/index.ts
  x-pack/plugins/apm/server/plugin.ts
Labels: backport

#113785 Dev docs: updates DevPrinciples URL
  dev_docs/contributing/standards.mdx
Labels: release_note:skip, v7.16.0

#113776 [7.15] [Security] Add EQL rule test in CCS config (#112852)
  x-pack/plugins/security_solution/cypress/ccs_integration/detection_rules/event_correlation_rule.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/test/security_solution_cypress/es_archives/linux_process/data.json
  x-pack/test/security_solution_cypress/es_archives/linux_process/mappings.json
Labels: backport

#113522 [Timelines] Prevent undefined filterQuery error
  x-pack/plugins/timelines/public/components/t_grid/helpers.tsx
Labels: bug, failed-test, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.15.0, v7.16.0

#113788 [7.15] fix priority reset bug (#113626)
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_fields_by_issue_type.tsx
Labels: backport

#113789 [7.x] fix priority reset bug (#113626)
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/jira_params.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/jira/use_get_fields_by_issue_type.tsx
Labels: backport

#113798 Fix bulkResolve for duplicate requests
  src/core/public/saved_objects/saved_objects_client.test.ts
  src/core/public/saved_objects/saved_objects_client.ts
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0

#113793 [7.x] Increase timeout for long-running unit test assertions. (#113122)
  x-pack/plugins/uptime/public/hooks/use_composite_image.test.tsx
Labels: backport

#113237 [Reporting] Improve _read code in ContentStream
  x-pack/plugins/reporting/server/lib/content_stream.ts
Labels: v8.0.0, release_note:skip, auto-backport, v7.16.0, v7.15.1

#113797 [7.x] [Uptime] Supress fetch errors on no data screen (#113458)
  x-pack/plugins/uptime/public/apps/uptime_page_template.tsx
  x-pack/plugins/uptime/public/components/overview/empty_state/use_has_data.tsx
  x-pack/plugins/uptime/public/contexts/uptime_index_pattern_context.tsx
Labels: backport

#113727 [Uptime] Refactor snapshots into RTL
  x-pack/plugins/uptime/public/components/certificates/__snapshots__/fingerprint_col.test.tsx.snap
  x-pack/plugins/uptime/public/components/certificates/fingerprint_col.test.tsx
  x-pack/plugins/uptime/public/components/common/__snapshots__/uptime_date_picker.test.tsx.snap
  x-pack/plugins/uptime/public/components/common/uptime_date_picker.test.tsx
  x-pack/plugins/uptime/public/components/monitor/ml/__snapshots__/license_info.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/__snapshots__/ml_flyout.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/license_info.test.tsx
  x-pack/plugins/uptime/public/components/monitor/ml/ml_flyout.test.tsx
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/__snapshots__/availability_reporting.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/__snapshots__/location_status_tags.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/availability_reporting.test.tsx
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/availability_reporting.tsx
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/location_status_tags.test.tsx
  x-pack/plugins/uptime/public/components/overview/monitor_list/__snapshots__/monitor_list.test.tsx.snap
  x-pack/plugins/uptime/public/components/overview/monitor_list/monitor_list.test.tsx
  x-pack/plugins/uptime/public/lib/helper/rtl_helpers.tsx
  x-pack/plugins/uptime/public/pages/__snapshots__/certificates.test.tsx.snap
  x-pack/plugins/uptime/public/pages/__snapshots__/monitor.test.tsx.snap
  x-pack/plugins/uptime/public/pages/__snapshots__/not_found.test.tsx.snap
  x-pack/plugins/uptime/public/pages/__snapshots__/overview.test.tsx.snap
  x-pack/plugins/uptime/public/pages/certificates.test.tsx
  x-pack/plugins/uptime/public/pages/monitor.test.tsx
  x-pack/plugins/uptime/public/pages/not_found.test.tsx
  x-pack/plugins/uptime/public/pages/overview.test.tsx
Labels: v8.0.0, Team:uptime, release_note:skip, auto-backport, v7.16.0

#113672 Partial forward-port of dacf0c2a6cabf088b0f17f4eca57e01c466286c0.
  src/plugins/es_ui_shared/__packages_do_not_import__/authorization/components/authorization_provider.tsx
  src/plugins/es_ui_shared/__packages_do_not_import__/authorization/components/index.ts
  src/plugins/es_ui_shared/__packages_do_not_import__/authorization/components/with_privileges.test.ts
  src/plugins/es_ui_shared/__packages_do_not_import__/authorization/components/with_privileges.tsx
  src/plugins/es_ui_shared/__packages_do_not_import__/authorization/index.ts
  src/plugins/es_ui_shared/common/index.ts
  src/plugins/es_ui_shared/public/authorization/index.ts
  src/plugins/es_ui_shared/public/index.ts
Labels: enhancement, v8.0.0, Team:Stack Management, release_note:skip, backport:skip, v7.16.0

#113796 [App Search] Wired up Suggestion detail data
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_result_panel.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_result_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_suggestion.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_suggestion.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_suggestion_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_suggestion_logic.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_relevance_suggestions.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_relevance_suggestions.ts
Labels: release_note:skip, auto-backport, v7.16.0

#113648 [Getting Started] Added “Add data” button to Global Nav Drawer
  .github/CODEOWNERS
  src/core/public/chrome/ui/header/__snapshots__/collapsible_nav.test.tsx.snap
  src/core/public/chrome/ui/header/collapsible_nav.tsx
  src/core/public/chrome/ui/header/nav_link.tsx
Labels: release_note:enhancement, v8.0.0, auto-backport, v7.16.0, Feature:Unified Integrations

#113628 [Stack Monitoring] Node Advanced View
  x-pack/plugins/monitoring/public/application/index.tsx
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/node_advanced_page.tsx
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/node_page.tsx
Labels: v8.0.0, Team:logs-metrics-ui, release_note:skip, auto-backport, v7.16.0, Epic: Stack Monitoring de-angularization

#113805 [7.x] :bug: Fix color fallback for different type of layers (#113642)
  x-pack/plugins/lens/public/xy_visualization/to_expression.test.ts
  x-pack/plugins/lens/public/xy_visualization/to_expression.ts
Labels: backport

#113574 [APM] Fleet: Update "switch to datastreams" wording for apm migration
  x-pack/plugins/apm/public/components/app/Settings/schema/confirm_switch_modal.tsx
  x-pack/plugins/apm/public/components/app/Settings/schema/migration_in_progress_panel.tsx
  x-pack/plugins/apm/public/components/app/Settings/schema/schema_overview.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:apm, release_note:skip, auto-backport, v7.16.0

#113806 [7.x] Better message for unanticipated authorisation errors (#113460)
  x-pack/plugins/security/common/types.ts
  x-pack/plugins/security/public/authentication/login/components/index.ts
  x-pack/plugins/security/public/authentication/login/components/login_form/index.ts
  x-pack/plugins/security/public/authentication/login/components/login_form/login_form.tsx
  x-pack/plugins/security/public/authentication/login/login_page.tsx
  x-pack/plugins/security/public/session/session_expired.mock.ts
  x-pack/plugins/security/public/session/session_expired.test.ts
  x-pack/plugins/security/public/session/session_expired.ts
  x-pack/plugins/security/public/session/session_timeout.ts
  x-pack/plugins/security/public/session/unauthorized_response_http_interceptor.test.ts
  x-pack/plugins/security/public/session/unauthorized_response_http_interceptor.ts
Labels: backport

#113817 [7.15] prevent undefined filterQuery error (#113522)
  x-pack/plugins/timelines/public/components/t_grid/helpers.tsx
Labels: backport

#113813 [7.x] [Fleet] Use elastic_agent package to build monitoring permissions for agent (#112730)
  x-pack/plugins/fleet/common/constants/agent_policy.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/services/agent_policies/__snapshots__/full_agent_policy.test.ts.snap
  x-pack/plugins/fleet/server/services/agent_policies/__snapshots__/monitoring_permissions.test.ts.snap
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/monitoring_permissions.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/monitoring_permissions.ts
Labels: backport

#113819 [7.x] updates DevPrinciples URL (#113785)
  dev_docs/contributing/standards.mdx
Labels: backport

#113818 [7.x] prevent undefined filterQuery error (#113522)
  x-pack/plugins/timelines/public/components/t_grid/helpers.tsx
Labels: backport

#113812 [Fleet] Fix integration category redirect after loading categories
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v7.16.0

#113830 [7.x] [Reporting] Improve _read code in ContentStream (#113237)
  x-pack/plugins/reporting/server/lib/content_stream.ts
Labels: backport

#113430 Fix issue with incorrect policy response attachment.
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.ts
Labels: bug, v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v7.16.0, v7.15.1

#113838 [7.15] [test/page_objects] validate selected dates for timepicker (#113597)
  test/functional/apps/discover/_discover_histogram.ts
  test/functional/page_objects/time_picker.ts
  x-pack/test/functional/apps/discover/feature_controls/discover_spaces.ts
  x-pack/test/functional/apps/lens/persistent_context.ts
Labels: backport

#113834 Dev docs: correct relativity in best practies images
  dev_docs/contributing/best_practices.mdx
Labels: release_note:skip, v7.16.0

#113836 [7.x] [Uptime] Refactor snapshots into RTL (#113727)
  x-pack/plugins/uptime/public/components/certificates/__snapshots__/fingerprint_col.test.tsx.snap
  x-pack/plugins/uptime/public/components/certificates/fingerprint_col.test.tsx
  x-pack/plugins/uptime/public/components/common/__snapshots__/uptime_date_picker.test.tsx.snap
  x-pack/plugins/uptime/public/components/common/uptime_date_picker.test.tsx
  x-pack/plugins/uptime/public/components/monitor/ml/__snapshots__/license_info.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/__snapshots__/ml_flyout.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/ml/license_info.test.tsx
  x-pack/plugins/uptime/public/components/monitor/ml/ml_flyout.test.tsx
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/__snapshots__/availability_reporting.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/__snapshots__/location_status_tags.test.tsx.snap
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/availability_reporting.test.tsx
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/availability_reporting.tsx
  x-pack/plugins/uptime/public/components/monitor/status_details/availability_reporting/location_status_tags.test.tsx
  x-pack/plugins/uptime/public/components/overview/monitor_list/__snapshots__/monitor_list.test.tsx.snap
  x-pack/plugins/uptime/public/components/overview/monitor_list/monitor_list.test.tsx
  x-pack/plugins/uptime/public/lib/helper/rtl_helpers.tsx
  x-pack/plugins/uptime/public/pages/__snapshots__/certificates.test.tsx.snap
  x-pack/plugins/uptime/public/pages/__snapshots__/monitor.test.tsx.snap
  x-pack/plugins/uptime/public/pages/__snapshots__/not_found.test.tsx.snap
  x-pack/plugins/uptime/public/pages/__snapshots__/overview.test.tsx.snap
  x-pack/plugins/uptime/public/pages/certificates.test.tsx
  x-pack/plugins/uptime/public/pages/monitor.test.tsx
  x-pack/plugins/uptime/public/pages/not_found.test.tsx
  x-pack/plugins/uptime/public/pages/overview.test.tsx
Labels: backport

#113837 [7.x] [test/page_objects] validate selected dates for timepicker (#113597)
  test/functional/apps/discover/_discover_histogram.ts
  test/functional/page_objects/time_picker.ts
  x-pack/test/functional/apps/discover/feature_controls/discover_spaces.ts
  x-pack/test/functional/apps/discover/saved_searches.ts
  x-pack/test/functional/apps/lens/persistent_context.ts
Labels: backport

#113831 [7.x] [@kbn/securitysolution-es-utils] remove transport API in favour of typed public API (#113717)
  packages/kbn-securitysolution-es-utils/src/create_boostrap_index/index.ts
  packages/kbn-securitysolution-es-utils/src/delete_all_index/index.ts
  packages/kbn-securitysolution-es-utils/src/delete_policy/index.ts
  packages/kbn-securitysolution-es-utils/src/delete_template/index.ts
  packages/kbn-securitysolution-es-utils/src/elasticsearch_client/index.ts
  packages/kbn-securitysolution-es-utils/src/get_index_aliases/index.ts
  packages/kbn-securitysolution-es-utils/src/get_index_count/index.ts
  packages/kbn-securitysolution-es-utils/src/get_index_exists/index.ts
  packages/kbn-securitysolution-es-utils/src/get_policy_exists/index.ts
  packages/kbn-securitysolution-es-utils/src/get_template_exists/index.ts
  packages/kbn-securitysolution-es-utils/src/read_index/index.ts
  packages/kbn-securitysolution-es-utils/src/read_privileges/index.ts
  packages/kbn-securitysolution-es-utils/src/set_policy/index.ts
  packages/kbn-securitysolution-es-utils/src/set_template/index.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_context.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/privileges/read_privileges_route.test.ts
Labels: backport

#113634 [fleet] Add component story smoke test
  x-pack/plugins/fleet/jest.config.js
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid.stories.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/details.tsx
  x-pack/plugins/fleet/public/components/header.tsx
  x-pack/plugins/fleet/public/hooks/use_package_icon_type.ts
  x-pack/plugins/fleet/storybook/context/index.tsx
  x-pack/plugins/fleet/storybook/smoke.test.tsx
Labels: review, loe:hours, v8.0.0, release_note:skip, impact:medium, Team:Fleet, auto-backport, v7.16.0, Feature:Unified Integrations

#113839 [7.x] [Stack Monitoring] Node Advanced View (#113628)
  x-pack/plugins/monitoring/public/application/index.tsx
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/node_advanced_page.tsx
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/node_page.tsx
Labels: backport

#113550 [App Search] Detail Page for Automated Curations
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/components/suggestions_logic.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/components/suggestions_logic.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/constants.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/automated_curation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/automated_curation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/organic_documents.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/organic_documents.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/promoted_documents.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/promoted_documents.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/manual_curation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/manual_curation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/results/add_result_button.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/results/add_result_button.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result/result_actions.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result/types.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_relevance_suggestions.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_relevance_suggestions.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Plugins, release_note:skip, auto-backport, v7.16.0

#113787 [7.x] [APM] Disabling apm e2e test (#113618)
  vars/tasks.groovy
Labels: backport

#113826 [7.x] Fix bulkResolve for duplicate requests (#113798)
  src/core/public/saved_objects/saved_objects_client.test.ts
  src/core/public/saved_objects/saved_objects_client.ts
Labels: backport

#113846 [7.15] don't wait for nav:not(.ng-hide) on status page (#113674)
  test/functional/page_objects/common_page.ts
Labels: backport

#113062 [Alerting][Docs] Elasticsearch setting `search.allow_expensive_queries` should be set as true.
  docs/user/alerting/alerting-setup.asciidoc
Labels: v8.0.0, release_note:skip, Team:Alerting Services, documentation, v7.16.0, Feature:Alerting/RulesFramework

#113863 [7.x] [Alerting][Docs] Elasticsearch setting `search.allow_expensive_queries` should be set as true. (#113062)
  docs/user/alerting/alerting-setup.asciidoc
Labels: backport

#113845 [7.x] don't wait for nav:not(.ng-hide) on status page (#113674)
  test/functional/page_objects/common_page.ts
Labels: backport

#113848 [APM] Update schema_overview.tsx
  x-pack/plugins/apm/public/components/app/Settings/schema/schema_overview.tsx
Labels: Team:apm, release_note:skip, auto-backport, v7.16.0

#113847 [7.x] [Fleet] Fix integration category redirect after loading categories (#113812)
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
Labels: backport

#113851 [7.15] Fix issue with incorrect policy response attachment. (#113430)
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.ts
Labels: backport

#113852 [buildkite] Fix off-by-one problem for test failure annotations
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file.ts
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v7.16.0, buildkite-ci, v7.15.1, v7.14.3

#113850 [7.x] Fix issue with incorrect policy response attachment. (#113430)
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.ts
Labels: backport

#113859 [7.x] [fleet] Add component story smoke test (#113634)
  x-pack/plugins/fleet/jest.config.js
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid.stories.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/details.tsx
  x-pack/plugins/fleet/public/components/header.tsx
  x-pack/plugins/fleet/public/hooks/use_package_icon_type.ts
  x-pack/plugins/fleet/storybook/context/index.tsx
  x-pack/plugins/fleet/storybook/smoke.test.tsx
Labels: backport

#113861 [7.x] [App Search] Detail Page for Automated Curations (#113550)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/components/suggestions_logic.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/components/suggestions_logic.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/constants.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/automated_curation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/automated_curation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/organic_documents.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/organic_documents.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/promoted_documents.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/promoted_documents.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/manual_curation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/manual_curation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/results/add_result_button.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/results/add_result_button.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result/result_actions.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result/types.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_relevance_suggestions.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_relevance_suggestions.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#113860 [ci] Add branch to failed test reporter github comments
  packages/kbn-test/src/failed_tests_reporter/report_failure.test.ts
  packages/kbn-test/src/failed_tests_reporter/report_failure.ts
  packages/kbn-test/src/failed_tests_reporter/run_failed_tests_reporter_cli.ts
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v7.16.0, buildkite-ci, v7.15.1, v7.14.3

#113855 [buildkite] Speed up OSS misc tests by removing TS refs and bumping instance
  .buildkite/pipelines/hourly.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/scripts/steps/functional/oss_misc.sh
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v7.16.0, buildkite-ci, v7.15.1, v7.14.3

#113879 [7.x] [buildkite] Speed up OSS misc tests by removing TS refs and bumping instance (#113855)
  .buildkite/pipelines/hourly.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/scripts/steps/functional/oss_misc.sh
Labels: backport

#113880 [7.15] [buildkite] Speed up OSS misc tests by removing TS refs and bumping instance (#113855)
  .buildkite/pipelines/hourly.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/scripts/steps/functional/oss_misc.sh
Labels: backport

#113882 [7.14] [buildkite] Speed up OSS misc tests by removing TS refs and bumping instance (#113855)
  .buildkite/pipelines/hourly.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/scripts/steps/functional/oss_misc.sh
Labels: backport

#113770 [7.x] [Security Solution] create task for auto restarting failed OLM transforms (#113686)
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/mocks.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/mock_endpoint_result_list.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/types.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
  x-pack/plugins/security_solution/server/endpoint/lib/metadata/check_metadata_transforms_task.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/metadata/check_metadata_transforms_task.ts
  x-pack/plugins/security_solution/server/endpoint/lib/metadata/index.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: backport

#113870 [7.15] [buildkite] Fix off-by-one problem for test failure annotations (#113852)
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file.ts
Labels: backport

#113871 [7.14] [buildkite] Fix off-by-one problem for test failure annotations (#113852)
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file.ts
Labels: backport

#113157 [Security Solution][Timelines] - Timeline resolve api
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/types/timeline/index.ts
  x-pack/plugins/security_solution/public/timelines/containers/api.ts
  x-pack/plugins/security_solution/server/lib/timeline/__mocks__/resolve_timeline.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/resolve_timeline/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.ts
  x-pack/plugins/security_solution/server/routes/index.ts
  x-pack/test/api_integration/apis/security_solution/timeline.ts
Labels: v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v7.16.0, Team:Threat Hunting:Investigations

#113869 [7.x] [buildkite] Fix off-by-one problem for test failure annotations (#113852)
  packages/kbn-test/src/failed_tests_reporter/report_failures_to_file.ts
Labels: backport

#113875 [7.x] [Getting Started] Added “Add data” button to Global Nav Drawer (#113648)
  src/core/public/chrome/ui/header/__snapshots__/collapsible_nav.test.tsx.snap
  src/core/public/chrome/ui/header/collapsible_nav.tsx
  src/core/public/chrome/ui/header/nav_link.tsx
Labels: backport
