Repository elastic/kibana, pull requests merged in 2021-08, with the labels that each got.

#107187 [apm] use IndexPattern instead of IIndexPattern
  x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx
Labels: Feature:Index Patterns, Team:apm, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107349 [7.x] [apm] use IndexPattern instead of IIndexPattern (#107187)
  x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx
Labels: backport

#107181 [Discover] Improve functional testing searchOnPageLoad
  test/functional/apps/discover/_discover.ts
Labels: Feature:Discover, Team:KibanaApp, auto-backport, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#106968 [Vislib] Removes the angular import
  src/plugins/vis_type_vislib/public/vislib/lib/binder.ts
Labels: Feature:Vislib, Team:KibanaApp, release_note:skip, technical debt, v7.15.0, v8.0.0

#107357 [7.x] Fix typo in ReasonFound test (#102690)
  x-pack/plugins/monitoring/public/components/no_data/reasons/reason_found.test.js
Labels: backport

#106685 Filter out empty values for exceptions
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
Labels: Team:Onboarding and Lifecycle Mgt, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107362 [7.14] [Discover] Improve functional testing searchOnPageLoad (#107181)
  test/functional/apps/discover/_discover.ts
Labels: backport

#107363 [7.x] [Discover] Improve functional testing searchOnPageLoad (#107181)
  test/functional/apps/discover/_discover.ts
Labels: backport

#107237 [discover] remove IFieldType references
  src/plugins/discover/public/application/angular/doc_table/components/table_header/table_header.test.tsx
  src/plugins/discover/public/application/embeddable/saved_search_embeddable.tsx
  src/plugins/discover/public/kibana_services.ts
Labels: Feature:Discover, Feature:Index Patterns, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107225 [lens] use IndexPattern instead of IIndexPattern
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx
Labels: Feature:Index Patterns, Feature:Lens, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107223 [saved object management] use IndexPattern instead of IIndexPattern
  src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx
Labels: Feature:Index Patterns, Feature:Saved Objects, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107169 [Data] Cleanup filter docs
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.castestokbnfieldtypename.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.esfilters.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.getkbntypenames.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.buildqueryfromfilters.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.castestokbnfieldtypename.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.esfilters.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.esqueryconfig.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.filter.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.ifieldsubtype.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.kuerynode.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.md
  packages/kbn-es-query/src/es_query/build_es_query.ts
  packages/kbn-es-query/src/es_query/decorate_query.ts
  packages/kbn-es-query/src/es_query/es_query_dsl.ts
  packages/kbn-es-query/src/es_query/filter_matches_index.ts
  packages/kbn-es-query/src/es_query/from_filters.ts
  packages/kbn-es-query/src/es_query/from_kuery.ts
  packages/kbn-es-query/src/es_query/from_lucene.ts
  packages/kbn-es-query/src/es_query/handle_nested_filter.ts
  packages/kbn-es-query/src/es_query/lucene_string_to_dsl.ts
  packages/kbn-es-query/src/es_query/migrate_filter.ts
  packages/kbn-es-query/src/es_query/types.ts
  packages/kbn-es-query/src/filters/build_filters/build_empty_filter.ts
  packages/kbn-es-query/src/filters/build_filters/build_filters.ts
  packages/kbn-es-query/src/filters/build_filters/custom_filter.ts
  packages/kbn-es-query/src/filters/build_filters/exists_filter.ts
  packages/kbn-es-query/src/filters/build_filters/geo_bounding_box_filter.ts
  packages/kbn-es-query/src/filters/build_filters/geo_polygon_filter.ts
  packages/kbn-es-query/src/filters/build_filters/get_filter_field.ts
  packages/kbn-es-query/src/filters/build_filters/get_filter_params.ts
  packages/kbn-es-query/src/filters/build_filters/match_all_filter.ts
  packages/kbn-es-query/src/filters/build_filters/missing_filter.ts
  packages/kbn-es-query/src/filters/build_filters/phrase_filter.ts
  packages/kbn-es-query/src/filters/build_filters/phrases_filter.ts
  packages/kbn-es-query/src/filters/build_filters/query_string_filter.ts
  packages/kbn-es-query/src/filters/build_filters/range_filter.ts
  packages/kbn-es-query/src/filters/build_filters/types.ts
  packages/kbn-es-query/src/filters/helpers/compare_filters.ts
  packages/kbn-es-query/src/filters/helpers/dedup_filters.ts
  packages/kbn-es-query/src/filters/helpers/meta_filter.ts
  packages/kbn-es-query/src/filters/helpers/only_disabled.ts
  packages/kbn-es-query/src/filters/helpers/uniq_filters.ts
  packages/kbn-es-query/src/filters/index.ts
  packages/kbn-es-query/src/kuery/kuery_syntax_error.ts
  packages/kbn-es-query/src/kuery/node_types/index.ts
  packages/kbn-es-query/src/kuery/types.ts
  packages/kbn-es-query/src/utils.ts
  src/core/public/fatal_errors/fatal_errors_service.tsx
  src/plugins/data/public/index.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/server/server.api.md
  x-pack/plugins/maps/public/classes/tooltips/es_tooltip_property.ts
  x-pack/plugins/observability/public/components/shared/filter_value_label/filter_value_label.tsx
Labels: Team:AppServices, auto-backport, docs, release_note:skip, v7.15.0, v8.0.0

#106983 [Lens] Updates UI terminology
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/change_indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Lens, Team:KibanaApp, release_note:skip, v7.15.0, v8.0.0

#107369 [7.x] [Vislib] Removes the angular import (#106968)
  src/plugins/vis_type_vislib/public/vislib/lib/binder.ts
Labels: backport

#107204 [Discover] Improve functional saved query test to prevent flakiness
  test/functional/services/saved_query_management_component.ts
Labels: Feature:Discover, Team:KibanaApp, auto-backport, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107198 [discover] use IndexPattern instead of IIndexPattern
  src/plugins/discover/public/application/angular/doc_table/create_doc_table_react.tsx
  src/plugins/discover/public/application/embeddable/types.ts
  src/plugins/discover/public/kibana_services.ts
Labels: Feature:Discover, Feature:Index Patterns, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107378 [7.x] use IndexPattern instead of IIndexPattern (#107223)
  src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx
Labels: backport

#107371 [7.x] [Sample data] Use Lens in Logs sample data (#106486)
  docs/maps/images/gs_dashboard_with_map.png
  docs/maps/images/gs_dashboard_with_terms_filter.png
  docs/maps/maps-getting-started.asciidoc
  docs/user/dashboard/make-dashboards-interactive.asciidoc
  src/plugins/home/public/assets/sample_data_resources/logs/dashboard.png
  src/plugins/home/public/assets/sample_data_resources/logs/dashboard_dark.png
  src/plugins/home/server/services/sample_data/data_sets/logs/saved_objects.ts
  test/functional/apps/home/_sample_data.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#107381 [7.x] use IndexPattern instead of IIndexPattern (#107225)
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx
Labels: backport

#107373 [7.x] [Archive Migration] x-pack..security/discover (#106896)
  x-pack/test/functional/apps/security/secure_roles_perm.js
  x-pack/test/functional/apps/security/user_email.js
  x-pack/test/functional/es_archives/security/discover/data.json.gz
  x-pack/test/functional/es_archives/security/discover/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/security/discover.json
Labels: backport

#107278 [data][bfetch] Avoid using `Buffer` in client code
  packages/kbn-optimizer/limits.yml
  src/plugins/bfetch/public/streaming/inflate_response.ts
  src/plugins/data/common/field_formats/converters/string.ts
Labels: Feature:ExpressionLanguage, Team:AppServices, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107032 [Alerting] Fix health check to allow access to alerting when ES security is disabled
  docs/user/alerting/alerting-setup.asciidoc
  x-pack/plugins/alerting/server/lib/license_state.mock.ts
  x-pack/plugins/alerting/server/lib/license_state.test.ts
  x-pack/plugins/alerting/server/lib/license_state.ts
  x-pack/plugins/alerting/server/routes/health.test.ts
  x-pack/plugins/alerting/server/routes/health.ts
  x-pack/plugins/alerting/server/routes/legacy/health.test.ts
  x-pack/plugins/alerting/server/routes/legacy/health.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/health_check.tsx
Labels: Feature:Alerting, Feature:Alerting/RulesManagement, Team:Alerting Services, auto-backport, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107386 [7.x] [Discover] Improve functional saved query test to prevent flakiness (#107204)
  test/functional/services/saved_query_management_component.ts
Labels: backport

#107389 [7.x] use IndexPattern instead of IIndexPattern (#107198)
  src/plugins/discover/public/application/angular/doc_table/create_doc_table_react.tsx
  src/plugins/discover/public/application/embeddable/types.ts
  src/plugins/discover/public/kibana_services.ts
Labels: backport

#107176 Maps - use IndexPattern instead of IIndexPattern
  x-pack/plugins/maps/public/embeddable/types.ts
Labels: Feature:Index Patterns, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107222 [saved objects] use IndexPattern instead of IIndexPattern
  src/plugins/saved_objects/public/saved_object/saved_object.test.ts
  src/plugins/saved_objects/public/types.ts
Labels: Feature:Index Patterns, Feature:Saved Objects, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107304 [Fleet] Improve preconfiguration robustness
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: Team:Fleet, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107259 remove core dependency on data plugin
  src/core/server/saved_objects/es_query.js
  src/core/server/saved_objects/service/lib/collect_multi_namespace_references.ts
  src/core/server/saved_objects/service/lib/filter_utils.test.ts
  src/core/server/saved_objects/service/lib/filter_utils.ts
  src/core/server/saved_objects/service/lib/repository.test.js
  src/core/server/saved_objects/service/lib/search_dsl/query_params.test.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.ts
Labels: Team:Core, auto-backport, chore, release_note:skip, v7.15.0, v8.0.0

#107360 Disable reporting for all "oss: false" integration tests
  src/core/server/saved_objects/migrationsv2/integration_tests/migration.test.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/migration_7.7.2_xpack_100k.test.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/migration_7_13_0_failed_action_tasks.test.ts
  src/core/test_helpers/kbn_server.ts
Labels: Team:Core, auto-backport, chore, release_note:skip, v7.15.0, v8.0.0

#107346 [canvas] Create Nav Link service; remove legacy service
  x-pack/plugins/canvas/public/components/app/index.tsx
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/kibana/nav_link.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/nav_link.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/nav_link.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/nav_link.ts
Labels: Feature:Canvas, Team:Presentation, impact:medium, loe:hours, release_note:skip, review, v7.15.0, v8.0.0

#107393 [7.x] [data][bfetch] Avoid using `Buffer` in client code (#107278)
  packages/kbn-optimizer/limits.yml
  src/plugins/bfetch/public/streaming/inflate_response.ts
  src/plugins/data/common/field_formats/converters/string.ts
Labels: backport

#107377 [7.x] [discover] remove IFieldType references (#107237)
  src/plugins/discover/public/application/angular/doc_table/components/table_header/table_header.test.tsx
  src/plugins/discover/public/application/embeddable/saved_search_embeddable.tsx
  src/plugins/discover/public/kibana_services.ts
Labels: backport

#107403 [7.14] [Alerting] Fix health check to allow access to alerting when ES security is disabled (#107032)
  docs/user/alerting/alerting-setup.asciidoc
  x-pack/plugins/alerting/server/lib/license_state.mock.ts
  x-pack/plugins/alerting/server/lib/license_state.test.ts
  x-pack/plugins/alerting/server/lib/license_state.ts
  x-pack/plugins/alerting/server/routes/health.test.ts
  x-pack/plugins/alerting/server/routes/health.ts
  x-pack/plugins/alerting/server/routes/legacy/health.test.ts
  x-pack/plugins/alerting/server/routes/legacy/health.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/health_check.tsx
Labels: backport

#107401 [7.x] [Alerting] Fix health check to allow access to alerting when ES security is disabled (#107032)
  docs/user/alerting/alerting-setup.asciidoc
  x-pack/plugins/alerting/server/lib/license_state.mock.ts
  x-pack/plugins/alerting/server/lib/license_state.test.ts
  x-pack/plugins/alerting/server/lib/license_state.ts
  x-pack/plugins/alerting/server/routes/health.test.ts
  x-pack/plugins/alerting/server/routes/health.ts
  x-pack/plugins/alerting/server/routes/legacy/health.test.ts
  x-pack/plugins/alerting/server/routes/legacy/health.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/health_check.tsx
Labels: backport

#106137 [Reporting] add version to all export types job params
  x-pack/examples/reporting_example/public/application.tsx
  x-pack/examples/reporting_example/public/components/app.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/utils.test.ts
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/utils.ts
  x-pack/plugins/reporting/common/constants.ts
  x-pack/plugins/reporting/common/types.ts
  x-pack/plugins/reporting/public/lib/reporting_api_client/reporting_api_client.ts
  x-pack/plugins/reporting/public/lib/stream_handler.test.ts
  x-pack/plugins/reporting/public/management/report_info_button.test.tsx
  x-pack/plugins/reporting/public/management/report_listing.test.tsx
  x-pack/plugins/reporting/public/mocks.ts
  x-pack/plugins/reporting/public/panel_actions/get_csv_panel_action.test.ts
  x-pack/plugins/reporting/public/panel_actions/get_csv_panel_action.tsx
  x-pack/plugins/reporting/public/plugin.ts
  x-pack/plugins/reporting/public/share_context_menu/__snapshots__/screen_capture_panel_content.test.tsx.snap
  x-pack/plugins/reporting/public/share_context_menu/index.ts
  x-pack/plugins/reporting/public/share_context_menu/register_csv_reporting.tsx
  x-pack/plugins/reporting/public/share_context_menu/register_pdf_png_reporting.tsx
  x-pack/plugins/reporting/public/share_context_menu/reporting_panel_content.test.tsx
  x-pack/plugins/reporting/public/share_context_menu/reporting_panel_content.tsx
  x-pack/plugins/reporting/public/share_context_menu/screen_capture_panel_content.test.tsx
  x-pack/plugins/reporting/public/share_context_menu/screen_capture_panel_content.tsx
  x-pack/plugins/reporting/public/shared/get_shared_components.tsx
  x-pack/plugins/reporting/server/core.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource/execute_job.test.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource/generate_csv/generate_csv.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource/types.d.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource_immediate/execute_job.ts
  x-pack/plugins/reporting/server/export_types/png/create_job/index.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/create_job/index.ts
  x-pack/plugins/reporting/server/lib/check_params_version.ts
  x-pack/plugins/reporting/server/lib/enqueue_job.test.ts
  x-pack/plugins/reporting/server/lib/enqueue_job.ts
  x-pack/plugins/reporting/server/lib/index.ts
  x-pack/plugins/reporting/server/lib/store/report.test.ts
  x-pack/plugins/reporting/server/lib/store/store.test.ts
  x-pack/plugins/reporting/server/routes/csv_searchsource_immediate.ts
  x-pack/plugins/reporting/server/routes/generate_from_jobparams.ts
  x-pack/plugins/reporting/server/routes/generation.test.ts
  x-pack/test/reporting_api_integration/reporting_and_security/security_roles_privileges.ts
Labels: Team:AppServices, Team:Reporting Services, release_note:skip, technical debt, v7.15.0, v8.0.0

#107388 [7.x] [Lens] Updates UI terminology (#106983)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/change_indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/pie_visualization/render_function.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#107404 [7.x] use IndexPattern instead of IIndexPattern (#107176)
  x-pack/plugins/maps/public/embeddable/types.ts
Labels: backport

#106541 [RAC] [TGrid] Field Browser migrated to modal
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/actions/header_actions.tsx
  x-pack/plugins/timelines/public/components/fields_browser/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/categories_pane.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/category.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/field_browser.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/field_browser.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/fields_pane.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/fields_pane.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/header.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/helpers.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/index.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/search.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/search.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/types.ts
  x-pack/plugins/timelines/public/methods/index.tsx
  x-pack/plugins/timelines/public/plugin.ts
  x-pack/plugins/timelines/public/types.ts
Labels: Team: SecuritySolution, Team:Threat Hunting, Theme: rac, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107251 [App Search] Add multi-step validation to the Crawler Add Domain Form
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form_submit_button.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form_submit_button.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/utils.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_state_icon.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_state_icon.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_step_panel.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_step_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.ts
Labels: Feature:Plugins, auto-backport, release_note:skip, v7.15.0

#107406 [7.x] use IndexPattern instead of IIndexPattern (#107222)
  src/plugins/saved_objects/public/saved_object/saved_object.test.ts
  src/plugins/saved_objects/public/types.ts
Labels: backport

#107407 [7.x] [Fleet] Make preconfiguration add package policy error fatal and allow recovery on next setup retry (#107304)
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport

#107408 [7.x] remove core dependency on data plugin (#107259)
  src/core/server/saved_objects/es_query.js
  src/core/server/saved_objects/service/lib/collect_multi_namespace_references.ts
  src/core/server/saved_objects/service/lib/filter_utils.test.ts
  src/core/server/saved_objects/service/lib/filter_utils.ts
  src/core/server/saved_objects/service/lib/repository.test.js
  src/core/server/saved_objects/service/lib/search_dsl/query_params.test.ts
  src/core/server/saved_objects/service/lib/search_dsl/query_params.ts
Labels: backport

#107409 [7.x] Disable reporting for all "oss: false" integration tests (#107360)
  src/core/server/saved_objects/migrationsv2/integration_tests/migration.test.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/migration_7.7.2_xpack_100k.test.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/migration_7_13_0_failed_action_tasks.test.ts
  src/core/test_helpers/kbn_server.ts
Labels: backport

#107411 [7.x] Add initContext as optional service param; add Kibana version to Canvas (#106756)
  src/plugins/presentation_util/public/services/create/factory.ts
  x-pack/plugins/canvas/public/index.ts
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/services/kibana/platform.ts
  x-pack/plugins/canvas/public/services/platform.ts
  x-pack/plugins/canvas/public/services/stubs/platform.ts
Labels: backport

#107400 [APM] Adds custom tabs with new UI extension point 'package-policy-edit-tabs'
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/layout.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
  x-pack/plugins/fleet/public/types/ui_extensions.ts
Labels: Team:Fleet, auto-backport, release_note:skip, v7.15.0

#107410 [7.x] [canvas] Create Nav Link service; remove legacy service (#107346)
  x-pack/plugins/canvas/public/components/app/index.tsx
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/kibana/nav_link.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/nav_link.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/nav_link.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/nav_link.ts
Labels: backport

#107352 [canvas] Create Reporting Service; remove legacy service
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/__stories__/share_menu.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/flyout/__stories__/flyout.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/share_menu.component.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/share_menu.tsx
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/kibana/reporting.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/reporting.ts
  x-pack/plugins/canvas/public/services/reporting.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/reporting.tsx
Labels: Feature:Canvas, Team:Presentation, auto-backport, impact:medium, loe:hours, release_note:skip, review, v7.15.0, v8.0.0

#107240 [Workplace Search] Fix a11y issues for Workplace Search dashboards
  x-pack/plugins/enterprise_search/public/applications/shared/constants/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/constants/tables.ts
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/role_mappings_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/account_header/account_header.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/personal_dashboard_layout/personal_dashboard_layout.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/personal_dashboard_sidebar/account_settings_sidebar.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/personal_dashboard_sidebar/private_sources_sidebar.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/content_section/content_section.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/content_section/content_section.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/source_icon/source_icon.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/sources_table/sources_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/sources_table/sources_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/view_content_header/view_content_header.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/view_content_header/view_content_header.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source_header.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/configuration_intro.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/configuration_intro.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/configured_sources_list.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/connect_instance.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/source_features.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/display_settings/display_settings.scss
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/overview.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/source_info_card.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/private_sources.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/components/group_row.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/components/groups_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/onboarding_card.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/onboarding_steps.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/security/components/private_sources_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/security/security.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/settings/components/customize.tsx
Labels: auto-backport, release_note:skip, v7.15.0

#107258 [docs] Include information on supplying array config options
  docs/setup/docker.asciidoc
Labels: Team:Operations, auto-backport, docs, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107217 [kbn/pm] Remove legacy build code
  package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/utils/bootstrap_cache_file.ts
  packages/kbn-pm/src/utils/project_checksums.ts
Labels: Team:Operations, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107445 [7.x] [docs] Include information on supplying array config options (#107258)
  docs/setup/docker.asciidoc
Labels: backport

#107444 [7.14] [docs] Include information on supplying array config options (#107258)
  docs/setup/docker.asciidoc
Labels: backport

#107419 [DOCS] Adds runtime fields vs formula to Lens
  docs/user/dashboard/lens.asciidoc
Labels: Team:Docs, release_note:skip, v7.14.0, v7.15.0, v8.0.0

#107451 [7.14] [DOCS] Adds runtime fields vs formula to Lens (#107419)
  docs/user/dashboard/lens.asciidoc
Labels: backport

#107450 [7.x] [DOCS] Adds runtime fields vs formula to Lens (#107419)
  docs/user/dashboard/lens.asciidoc
Labels: backport

#107440 STYLEGUIDE reference `.md` => `.mdx`
  README.md
Labels: auto-backport, release_note:skip, v7.15.0, v8.0.0

#107429 [DOCS] Updates images in what's new
  docs/index-extra-title-page.html
  docs/user/images/new-enterprise-search.png
  docs/user/images/new-labs.png
  docs/user/images/new-lens-custom-formulas.png
  docs/user/whats-new.asciidoc
Labels: Team:Docs, release_note:skip, v7.14.0

#107383 [7.x] [Lens] Fix suffix field format leaks to index pattern management (#107139)
  x-pack/plugins/lens/common/suffix_formatter/index.ts
  x-pack/plugins/lens/common/suffix_formatter/suffix_formatter.test.ts
Labels: backport

#107456 [7.x] STYLEGUIDE reference `.md` => `.mdx` (#107440)
  README.md
Labels: backport

#107152 [Alerting] Removing legacy es client from alerting test
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/ephemeral.ts
Labels: Feature:Alerting, Team:Alerting Services, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107030 [DOCS] Adds the 6.8.18 release notes
  docs/CHANGELOG.asciidoc
  docs/migration.asciidoc
Labels: Team:Docs, release_note:skip, v6.8.18

#107058 [DOCS] Adds the 7.14.0 release notes
  docs/CHANGELOG.asciidoc
  docs/settings/fleet-settings.asciidoc
  docs/setup/settings.asciidoc
Labels: Team:Docs, release_note:skip, v7.14.0, v7.15.0

#107430 [7.x] [App Search] Add multi-step validation to the Crawler Add Domain Form (#107251)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form_submit_button.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_form_submit_button.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/add_domain_validation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/utils.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_state_icon.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_state_icon.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_step_panel.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/add_domain/validation_step_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.ts
Labels: backport

#107438 [7.x] [APM] Adds custom tabs with new UI extension point 'package-policy-edit-tabs' (#107400)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/layout.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
  x-pack/plugins/fleet/public/types/ui_extensions.ts
Labels: backport

#107439 [7.x] [canvas] Create Reporting Service; remove legacy service (#107352)
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/__stories__/share_menu.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/flyout/__stories__/flyout.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/share_menu.component.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/share_menu.tsx
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/kibana/reporting.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/reporting.ts
  x-pack/plugins/canvas/public/services/reporting.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/reporting.tsx
Labels: backport

#107466 [7.x] [DOCS] Adds the 7.14.0 release notes (#107058)
  docs/CHANGELOG.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/fleet-settings.asciidoc
  docs/setup/settings.asciidoc
  docs/user/alerting/alerting-setup.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#107425 [7.x] [RAC] [TGrid] Field Browser migrated to modal (#106541)
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/actions/header_actions.tsx
  x-pack/plugins/timelines/public/components/fields_browser/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/categories_pane.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/category.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/field_browser.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/field_browser.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/fields_pane.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/fields_pane.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/header.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/helpers.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/index.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/search.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/search.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/types.ts
  x-pack/plugins/timelines/public/methods/index.tsx
  x-pack/plugins/timelines/public/plugin.ts
  x-pack/plugins/timelines/public/types.ts
Labels: backport

#107443 [7.x] [Workplace Search] Fix a11y issues for Workplace Search dashboards (#107240)
  x-pack/plugins/enterprise_search/public/applications/shared/constants/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/constants/tables.ts
  x-pack/plugins/enterprise_search/public/applications/shared/role_mapping/role_mappings_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/account_header/account_header.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/personal_dashboard_layout/personal_dashboard_layout.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/personal_dashboard_sidebar/account_settings_sidebar.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/personal_dashboard_sidebar/private_sources_sidebar.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/content_section/content_section.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/content_section/content_section.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/license_badge/license_badge.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/source_icon/source_icon.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/sources_table/sources_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/sources_table/sources_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/view_content_header/view_content_header.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/shared/view_content_header/view_content_header.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/add_source_header.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/configuration_intro.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/configuration_intro.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/configured_sources_list.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/connect_instance.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/source_features.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/display_settings/display_settings.scss
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/overview.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/source_info_card.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/private_sources.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/components/group_row.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/components/groups_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/onboarding_card.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/onboarding_steps.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/security/components/private_sources_table.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/security/security.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/settings/components/customize.tsx
Labels: backport

#107155 [Observability] Change Resource links and labels
  x-pack/plugins/observability/public/components/app/resources/index.test.tsx
  x-pack/plugins/observability/public/components/app/resources/index.tsx
Labels: Team:Observability, auto-backport, enhancement, release_note:skip, v7.15.0

#107350 [canvas] Create Expressions Service; remove legacy service
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/render.ts
  x-pack/plugins/canvas/public/application.tsx
  x-pack/plugins/canvas/public/components/element_content/element_content.tsx
  x-pack/plugins/canvas/public/components/element_content/index.js
  x-pack/plugins/canvas/public/components/element_content/index.tsx
  x-pack/plugins/canvas/public/components/element_content/invalid_element_type.tsx
  x-pack/plugins/canvas/public/components/element_content/invalid_expression.tsx
  x-pack/plugins/canvas/public/components/expression/index.tsx
  x-pack/plugins/canvas/public/lib/run_interpreter.ts
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/services/expressions.ts
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/expressions.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/expressions.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/expressions.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/setup_expressions.ts
Labels: Feature:Canvas, Team:Presentation, auto-backport, impact:medium, loe:hours, release_note:skip, review, v7.15.0, v8.0.0

#107431 [7.x] Migrate Index Management and enrichers to the new ES JS client (#105863)
  docs/developer/plugin-list.asciidoc
  src/plugins/es_ui_shared/__packages_do_not_import__/errors/index.ts
  src/plugins/es_ui_shared/__packages_do_not_import__/errors/is_es_error.ts
  src/plugins/es_ui_shared/server/errors/index.ts
  src/plugins/es_ui_shared/server/index.ts
  x-pack/plugins/cross_cluster_replication/README.md
  x-pack/plugins/cross_cluster_replication/server/plugin.ts
  x-pack/plugins/index_lifecycle_management/server/plugin.ts
  x-pack/plugins/index_management/README.md
  x-pack/plugins/index_management/public/application/components/index_templates/simulate_template/simulate_template.tsx
  x-pack/plugins/index_management/server/client/elasticsearch.ts
  x-pack/plugins/index_management/server/index.ts
  x-pack/plugins/index_management/server/lib/fetch_indices.ts
  x-pack/plugins/index_management/server/lib/get_managed_templates.ts
  x-pack/plugins/index_management/server/plugin.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/create.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/delete.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/get.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/privileges.test.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/privileges.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/update.ts
  x-pack/plugins/index_management/server/routes/api/data_streams/register_delete_route.ts
  x-pack/plugins/index_management/server/routes/api/data_streams/register_get_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_clear_cache_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_close_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_delete_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_flush_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_forcemerge_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_freeze_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_list_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_open_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_refresh_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_reload_route.ts
  x-pack/plugins/index_management/server/routes/api/indices/register_unfreeze_route.ts
  x-pack/plugins/index_management/server/routes/api/mapping/register_mapping_route.ts
  x-pack/plugins/index_management/server/routes/api/settings/register_load_route.ts
  x-pack/plugins/index_management/server/routes/api/settings/register_update_route.ts
  x-pack/plugins/index_management/server/routes/api/stats/register_stats_route.ts
  x-pack/plugins/index_management/server/routes/api/templates/lib.ts
  x-pack/plugins/index_management/server/routes/api/templates/register_create_route.ts
  x-pack/plugins/index_management/server/routes/api/templates/register_delete_route.ts
  x-pack/plugins/index_management/server/routes/api/templates/register_get_routes.ts
  x-pack/plugins/index_management/server/routes/api/templates/register_simulate_route.ts
  x-pack/plugins/index_management/server/routes/api/templates/register_update_route.ts
  x-pack/plugins/index_management/server/routes/helpers.ts
  x-pack/plugins/index_management/server/services/index_data_enricher.ts
  x-pack/plugins/index_management/server/shared_imports.ts
  x-pack/plugins/index_management/server/types.ts
  x-pack/plugins/rollup/server/rollup_data_enricher.ts
  x-pack/test/api_integration/apis/management/index_management/component_templates.ts
  x-pack/test/api_integration/apis/management/index_management/data_streams.ts
  x-pack/test/api_integration/apis/management/index_management/indices.js
  x-pack/test/api_integration/apis/management/index_management/lib/elasticsearch.js
  x-pack/test/api_integration/apis/management/index_management/templates.js
  x-pack/test/api_integration/services/legacy_es.js
Labels: backport

#107437 chore(NA): moving @kbn/typed-react-router-config to babel transpiler
  packages/kbn-typed-react-router-config/.babelrc
  packages/kbn-typed-react-router-config/.babelrc.browser
  packages/kbn-typed-react-router-config/BUILD.bazel
  packages/kbn-typed-react-router-config/tsconfig.browser.json
  packages/kbn-typed-react-router-config/tsconfig.json
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107455 chore(NA): moving @kbn/test to babel transpiler
  packages/kbn-test/.babelrc
  packages/kbn-test/BUILD.bazel
  packages/kbn-test/babel.config.js
  packages/kbn-test/tsconfig.json
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107460 [7.x] Removing legacy es client from alerting test (#107152)
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/ephemeral.ts
Labels: backport

#107414 Fix alerts-modal-button in stack-integration-test
  x-pack/test/functional/services/monitoring/cluster_overview.js
  x-pack/test/stack_functional_integration/apps/monitoring/_monitoring_metricbeat.js
Labels: auto-backport, release_note:skip, test-stack-integration, v7.14.0, v7.15.0, v8.0.0

#107449 [7.x] [kbn/pm] Remove legacy build code (#107217)
  package.json
  packages/kbn-pm/dist/index.js
  packages/kbn-pm/src/commands/bootstrap.ts
  packages/kbn-pm/src/utils/bootstrap_cache_file.ts
  packages/kbn-pm/src/utils/project_checksums.ts
Labels: backport

#107472 [7.x] [Observability] Change Resource links and labels (#107155)
  x-pack/plugins/observability/public/components/app/resources/index.test.tsx
  x-pack/plugins/observability/public/components/app/resources/index.tsx
Labels: backport

#107473 [7.x] [canvas] Create Expressions Service; remove legacy service (#107350)
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/render.ts
  x-pack/plugins/canvas/public/application.tsx
  x-pack/plugins/canvas/public/components/element_content/element_content.tsx
  x-pack/plugins/canvas/public/components/element_content/index.js
  x-pack/plugins/canvas/public/components/element_content/index.tsx
  x-pack/plugins/canvas/public/components/element_content/invalid_element_type.tsx
  x-pack/plugins/canvas/public/components/element_content/invalid_expression.tsx
  x-pack/plugins/canvas/public/components/expression/index.tsx
  x-pack/plugins/canvas/public/lib/run_interpreter.ts
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/services/expressions.ts
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/expressions.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/expressions.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/expressions.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/setup_expressions.ts
Labels: backport

#107476 [7.x] chore(NA): moving @kbn/test to babel transpiler (#107455)
  packages/kbn-test/.babelrc
  packages/kbn-test/BUILD.bazel
  packages/kbn-test/babel.config.js
  packages/kbn-test/tsconfig.json
Labels: backport

#107474 [7.x] chore(NA): moving @kbn/typed-react-router-config to babel transpiler (#107437)
  packages/kbn-typed-react-router-config/.babelrc
  packages/kbn-typed-react-router-config/.babelrc.browser
  packages/kbn-typed-react-router-config/BUILD.bazel
  packages/kbn-typed-react-router-config/tsconfig.browser.json
  packages/kbn-typed-react-router-config/tsconfig.json
Labels: backport

#107478 [7.14] add accept alerts option (#107414)
  x-pack/test/functional/services/monitoring/cluster_overview.js
  x-pack/test/stack_functional_integration/apps/monitoring/_monitoring_metricbeat.js
Labels: backport

#107321 [Canvas] Fixes embeddables filter error
  x-pack/plugins/canvas/public/lib/build_embeddable_filters.ts
Labels: Feature:Canvas, Team:Presentation, auto-backport, bug, impact:critical, loe:hours, release_note:skip, review, v7.15.0, v8.0.0

#107479 [7.x] add accept alerts option (#107414)
  x-pack/test/functional/services/monitoring/cluster_overview.js
  x-pack/test/stack_functional_integration/apps/monitoring/_monitoring_metricbeat.js
Labels: backport

#107351 [canvas] Create Embeddables Service; remove legacy service
  x-pack/plugins/canvas/public/components/embeddable_flyout/flyout.component.tsx
  x-pack/plugins/canvas/public/services/embeddables.ts
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/embeddables.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/embeddables.ts
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/embeddables.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
Labels: Feature:Canvas, Team:Presentation, auto-backport, impact:medium, loe:hours, release_note:skip, review, v7.15.0, v8.0.0

#107461 chore(NA): moving @kbn/monaco to babel transpiler
  packages/kbn-monaco/.babelrc
  packages/kbn-monaco/.babelrc.browser
  packages/kbn-monaco/BUILD.bazel
  packages/kbn-monaco/package.json
  packages/kbn-monaco/src/painless/lib/index.ts
  packages/kbn-monaco/src/register_globals.ts
  packages/kbn-monaco/tsconfig.json
  packages/kbn-monaco/webpack.config.js
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107486 [7.x] Fixed import for buildQueryFilter helper function (#107321)
  x-pack/plugins/canvas/public/lib/build_embeddable_filters.ts
Labels: backport

#107475 [7.14] chore(NA): moving @kbn/test to babel transpiler (#107455)
  packages/kbn-test/.babelrc
  packages/kbn-test/BUILD.bazel
  packages/kbn-test/babel.config.js
  packages/kbn-test/tsconfig.json
Labels: backport

#107489 [7.x] [canvas] Create Embeddables Service; remove legacy service (#107351)
  x-pack/plugins/canvas/public/components/embeddable_flyout/flyout.component.tsx
  x-pack/plugins/canvas/public/services/embeddables.ts
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/embeddables.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/legacy/context.tsx
  x-pack/plugins/canvas/public/services/legacy/embeddables.ts
  x-pack/plugins/canvas/public/services/legacy/index.ts
  x-pack/plugins/canvas/public/services/legacy/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/embeddables.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
Labels: backport

#107491 [7.14] chore(NA): moving @kbn/monaco to babel transpiler (#107461)
  packages/kbn-monaco/.babelrc
  packages/kbn-monaco/.babelrc.browser
  packages/kbn-monaco/BUILD.bazel
  packages/kbn-monaco/package.json
  packages/kbn-monaco/src/painless/lib/index.ts
  packages/kbn-monaco/src/register_globals.ts
  packages/kbn-monaco/tsconfig.json
  packages/kbn-monaco/webpack.config.js
Labels: backport

#107492 [7.x] chore(NA): moving @kbn/monaco to babel transpiler (#107461)
  packages/kbn-monaco/.babelrc
  packages/kbn-monaco/.babelrc.browser
  packages/kbn-monaco/BUILD.bazel
  packages/kbn-monaco/package.json
  packages/kbn-monaco/src/painless/lib/index.ts
  packages/kbn-monaco/src/register_globals.ts
  packages/kbn-monaco/tsconfig.json
  packages/kbn-monaco/webpack.config.js
Labels: backport

#107448 [7.x] [Reporting] add version to all export types job params (#106137)
  x-pack/examples/reporting_example/public/application.tsx
  x-pack/examples/reporting_example/public/components/app.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/utils.test.ts
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/utils.ts
  x-pack/plugins/reporting/common/constants.ts
  x-pack/plugins/reporting/common/types.ts
  x-pack/plugins/reporting/public/lib/reporting_api_client/reporting_api_client.ts
  x-pack/plugins/reporting/public/lib/stream_handler.test.ts
  x-pack/plugins/reporting/public/management/report_info_button.test.tsx
  x-pack/plugins/reporting/public/management/report_listing.test.tsx
  x-pack/plugins/reporting/public/mocks.ts
  x-pack/plugins/reporting/public/panel_actions/get_csv_panel_action.test.ts
  x-pack/plugins/reporting/public/panel_actions/get_csv_panel_action.tsx
  x-pack/plugins/reporting/public/plugin.ts
  x-pack/plugins/reporting/public/share_context_menu/__snapshots__/screen_capture_panel_content.test.tsx.snap
  x-pack/plugins/reporting/public/share_context_menu/index.ts
  x-pack/plugins/reporting/public/share_context_menu/register_csv_reporting.tsx
  x-pack/plugins/reporting/public/share_context_menu/register_pdf_png_reporting.tsx
  x-pack/plugins/reporting/public/share_context_menu/reporting_panel_content.test.tsx
  x-pack/plugins/reporting/public/share_context_menu/reporting_panel_content.tsx
  x-pack/plugins/reporting/public/share_context_menu/screen_capture_panel_content.test.tsx
  x-pack/plugins/reporting/public/share_context_menu/screen_capture_panel_content.tsx
  x-pack/plugins/reporting/public/shared/get_shared_components.tsx
  x-pack/plugins/reporting/server/core.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource/execute_job.test.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource/generate_csv/generate_csv.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource/types.d.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource_immediate/execute_job.ts
  x-pack/plugins/reporting/server/export_types/png/create_job/index.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/create_job/index.ts
  x-pack/plugins/reporting/server/lib/check_params_version.ts
  x-pack/plugins/reporting/server/lib/enqueue_job.test.ts
  x-pack/plugins/reporting/server/lib/enqueue_job.ts
  x-pack/plugins/reporting/server/lib/index.ts
  x-pack/plugins/reporting/server/lib/store/report.test.ts
  x-pack/plugins/reporting/server/lib/store/store.test.ts
  x-pack/plugins/reporting/server/routes/csv_searchsource_immediate.ts
  x-pack/plugins/reporting/server/routes/generate_from_jobparams.ts
  x-pack/plugins/reporting/server/routes/generation.test.ts
  x-pack/plugins/reporting/server/routes/legacy.ts
  x-pack/test/reporting_api_integration/reporting_and_security/security_roles_privileges.ts
Labels: backport

#107144 [Security solution] [RAC] Add checkbox control column to t-grid
  x-pack/plugins/observability/public/pages/alerts/alerts_table_t_grid.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/actions/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/actions/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/control_columns/checkbox.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/control_columns/checkbox.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/control_columns/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/control_columns/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/body/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/standalone/index.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team: SecuritySolution, Team:Threat Hunting, release_note:skip, v7.15.0, v8.0.0

#107497 [7.14][DOCS] Updates ML screenshots in What's new section
  docs/user/images/new-ml-choropleth-map.png
  docs/user/images/new-ml-delayed-data.png
  docs/user/images/new-ml-rare-job.jpg
  docs/user/images/new-ml-rare-job.png
  docs/user/whats-new.asciidoc
Labels: :ml, docs, release_note:skip, v7.14.0

#107265 [Visualizations] Adds dimensionName in datatable meta info
  src/plugins/vis_type_metric/public/__snapshots__/metric_vis_fn.test.ts.snap
  src/plugins/vis_type_metric/public/metric_vis_fn.test.ts
  src/plugins/vis_type_metric/public/metric_vis_fn.ts
  src/plugins/vis_type_table/public/__snapshots__/table_vis_fn.test.ts.snap
  src/plugins/vis_type_table/public/table_vis_fn.test.ts
  src/plugins/vis_type_table/public/table_vis_fn.ts
  src/plugins/vis_type_tagcloud/public/__snapshots__/tag_cloud_fn.test.ts.snap
  src/plugins/vis_type_tagcloud/public/tag_cloud_fn.test.ts
  src/plugins/vis_type_tagcloud/public/tag_cloud_fn.ts
  src/plugins/vis_type_vislib/public/to_ast.ts
  src/plugins/vis_type_vislib/public/vislib/helpers/point_series/_init_x_axis.test.ts
  src/plugins/vis_type_vislib/public/vislib/helpers/point_series/_ordered_date_axis.test.ts
  src/plugins/vis_type_vislib/public/vislib/helpers/point_series/point_series.ts
  src/plugins/vis_type_xy/public/config/get_config.ts
  src/plugins/vis_type_xy/public/expression_functions/index.ts
  src/plugins/vis_type_xy/public/expression_functions/xy_vis_fn.ts
  src/plugins/vis_type_xy/public/index.ts
  src/plugins/vis_type_xy/public/plugin.ts
  src/plugins/vis_type_xy/public/to_ast.ts
  src/plugins/vis_type_xy/public/types/param.ts
  src/plugins/vis_type_xy/public/utils/accessors.tsx
  src/plugins/vis_type_xy/public/utils/domain.ts
  src/plugins/visualizations/common/expression_functions/xy_dimension.ts
  src/plugins/visualizations/common/prepare_log_table.ts
  src/plugins/visualizations/public/index.ts
  src/plugins/visualizations/public/plugin.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:ExpressionLanguage, Feature:Visualizations, Team:KibanaApp, release_note:skip, v7.15.0, v8.0.0

#107156 [Archive Migration] x-pack..discover/feature_controls/security
  x-pack/test/functional/apps/discover/feature_controls/discover_security.ts
  x-pack/test/functional/es_archives/discover/feature_controls/security/data.json
  x-pack/test/functional/es_archives/discover/feature_controls/security/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/discover/feature_controls/security.json
Labels: auto-backport, release_note:skip, v7.15.0, v8.0.0

#102533 [Archive Migration] Swap es archiver for kbn archiver - Canvas app
  x-pack/test/functional/apps/canvas/custom_elements.ts
  x-pack/test/functional/apps/canvas/expression.ts
  x-pack/test/functional/apps/canvas/feature_controls/canvas_security.ts
  x-pack/test/functional/apps/canvas/feature_controls/canvas_spaces.ts
  x-pack/test/functional/apps/canvas/filters.ts
  x-pack/test/functional/apps/canvas/lens.ts
  x-pack/test/functional/apps/canvas/reports.ts
  x-pack/test/functional/apps/canvas/smoke_test.js
  x-pack/test/functional/es_archives/canvas/filter/data.json.gz
  x-pack/test/functional/es_archives/canvas/filter/mappings.json
  x-pack/test/functional/es_archives/canvas/lens/data.json
  x-pack/test/functional/es_archives/canvas/lens/mappings.json
  x-pack/test/functional/es_archives/canvas/logstash_lens/data.json
  x-pack/test/functional/es_archives/canvas/logstash_lens/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/canvas/default.json
  x-pack/test/functional/fixtures/kbn_archiver/canvas/filter.json
  x-pack/test/functional/fixtures/kbn_archiver/canvas/lens.json
  x-pack/test/functional/fixtures/kbn_archiver/canvas/reports.json
  x-pack/test/functional/fixtures/kbn_archiver/spaces/disabled_features.json
Labels: auto-backport, release_note:skip, v7.15.0, v8.0.0

#106646 Make url saved object in SO app clickable
  src/plugins/saved_objects_management/public/management_section/saved_objects_table_page.tsx
  src/plugins/share/server/saved_objects/url.ts
Labels: Feature:SharingURLs, Team:AppServices, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107501 [7.x] [Visualizations] Adds dimensionName in datatable meta info (#107265)
  src/plugins/vis_type_metric/public/__snapshots__/metric_vis_fn.test.ts.snap
  src/plugins/vis_type_metric/public/metric_vis_fn.test.ts
  src/plugins/vis_type_metric/public/metric_vis_fn.ts
  src/plugins/vis_type_table/public/__snapshots__/table_vis_fn.test.ts.snap
  src/plugins/vis_type_table/public/table_vis_fn.test.ts
  src/plugins/vis_type_table/public/table_vis_fn.ts
  src/plugins/vis_type_tagcloud/public/__snapshots__/tag_cloud_fn.test.ts.snap
  src/plugins/vis_type_tagcloud/public/tag_cloud_fn.test.ts
  src/plugins/vis_type_tagcloud/public/tag_cloud_fn.ts
  src/plugins/vis_type_vislib/public/to_ast.ts
  src/plugins/vis_type_vislib/public/vislib/helpers/point_series/_init_x_axis.test.ts
  src/plugins/vis_type_vislib/public/vislib/helpers/point_series/_ordered_date_axis.test.ts
  src/plugins/vis_type_vislib/public/vislib/helpers/point_series/point_series.ts
  src/plugins/vis_type_xy/public/config/get_config.ts
  src/plugins/vis_type_xy/public/expression_functions/index.ts
  src/plugins/vis_type_xy/public/expression_functions/xy_vis_fn.ts
  src/plugins/vis_type_xy/public/index.ts
  src/plugins/vis_type_xy/public/plugin.ts
  src/plugins/vis_type_xy/public/to_ast.ts
  src/plugins/vis_type_xy/public/types/param.ts
  src/plugins/vis_type_xy/public/utils/accessors.tsx
  src/plugins/vis_type_xy/public/utils/domain.ts
  src/plugins/visualizations/common/expression_functions/xy_dimension.ts
  src/plugins/visualizations/common/prepare_log_table.ts
  src/plugins/visualizations/public/index.ts
  src/plugins/visualizations/public/plugin.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#107447 chore(NA): moving @kbn/i18n to babel transpiler
  packages/kbn-i18n/.babelrc
  packages/kbn-i18n/.babelrc.browser
  packages/kbn-i18n/BUILD.bazel
  packages/kbn-i18n/babel.config.js
  packages/kbn-i18n/tsconfig.browser.json
  packages/kbn-i18n/tsconfig.json
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107506 [7.x] Make url saved object in SO app clickable (#106646)
  src/plugins/saved_objects_management/public/management_section/saved_objects_table_page.tsx
  src/plugins/share/server/saved_objects/url.ts
Labels: backport

#107508 [7.x] [Archive Migration] x-pack..discover/feature_controls/security (#107156)
  x-pack/test/functional/apps/discover/feature_controls/discover_security.ts
  x-pack/test/functional/es_archives/discover/feature_controls/security/data.json
  x-pack/test/functional/es_archives/discover/feature_controls/security/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/discover/feature_controls/security.json
Labels: backport

#104044 [Fleet] Remove subseconds from event.ingested
  x-pack/plugins/fleet/server/constants/fleet_es_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/final_pipeline.ts
Labels: Feature:Fleet, Team:Fleet, auto-backport, release_note:enhancement, v7.15.0, v8.0.0

#107471 [7.x] [DOCS] Removes coming tag from 7.14 release notes (#107470)
  docs/CHANGELOG.asciidoc
Labels: backport

#107470 [DOCS] Removes coming tag from 7.14 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.14.0

#107468 [DOCS] Removes tags from 6.8.18 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v6.8.18

#107503 [Visualizations] Fixes the wrong desciption of the kibana.json file
  src/plugins/visualizations/kibana.json
Labels: Feature:Visualizations, Team:KibanaApp, release_note:skip, v7.15.0, v8.0.0

#107480 [Actions] Fixed broken link for ServiceNow docs
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Feature:Alerting/RuleActions, Team:Alerting Services, docs, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107469 [DOCS] Removes tag from what's new
  docs/index-extra-title-page.html
  docs/user/whats-new.asciidoc
Labels: Team:Docs, release_note:skip, v7.14.0

#105222 Implement `interactiveSetup` plugin server side functionality: `setup` layout
  .eslintrc.js
  .github/CODEOWNERS
  .i18nrc.json
  docs/developer/plugin-list.asciidoc
  packages/kbn-optimizer/limits.yml
  src/plugins/interactive_setup/README.md
  src/plugins/interactive_setup/common/elasticsearch_connection_status.ts
  src/plugins/interactive_setup/common/index.ts
  src/plugins/interactive_setup/common/types.ts
  src/plugins/interactive_setup/jest.config.js
  src/plugins/interactive_setup/kibana.json
  src/plugins/interactive_setup/public/app.tsx
  src/plugins/interactive_setup/public/index.ts
  src/plugins/interactive_setup/public/plugin.tsx
  src/plugins/interactive_setup/server/config.ts
  src/plugins/interactive_setup/server/index.ts
  src/plugins/interactive_setup/server/plugin.ts
  src/plugins/interactive_setup/server/routes/enroll.ts
  src/plugins/interactive_setup/server/routes/index.ts
  src/plugins/interactive_setup/tsconfig.json
  tsconfig.json
  tsconfig.refs.json
Labels: Team:Security, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107526 [7.x] [Actions] Fixed broken link for ServiceNow docs (#107480)
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: backport

#107527 [7.14] [Actions] Fixed broken link for ServiceNow docs (#107480)
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: backport

#107528 [7.14][DOCS] Changes delayed data screenshot in what's new section.
  docs/user/images/new-ml-delayed-data.png
Labels: :ml, docs, release_note:skip, v7.14.0

#107372 [7.x] [Archive Migration] x-pack..security/flstest (#107045)
  x-pack/test/functional/apps/security/field_level_security.js
  x-pack/test/functional/es_archives/security/flstest/kibana/data.json
  x-pack/test/functional/es_archives/security/flstest/kibana/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/security/flstest/index_pattern.json
Labels: backport

#106977 [l10n] remove a couple of unused translations
  x-pack/plugins/cases/public/components/markdown_editor/translations.ts
  x-pack/plugins/security_solution/public/common/components/markdown_editor/translations.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Project:i18n, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107511 [7.14] chore(NA): moving @kbn/i18n to babel transpiler (#107447)
  packages/kbn-i18n/.babelrc
  packages/kbn-i18n/.babelrc.browser
  packages/kbn-i18n/BUILD.bazel
  packages/kbn-i18n/babel.config.js
  packages/kbn-i18n/tsconfig.browser.json
  packages/kbn-i18n/tsconfig.json
Labels: backport

#107512 [7.x] chore(NA): moving @kbn/i18n to babel transpiler (#107447)
  packages/kbn-i18n/.babelrc
  packages/kbn-i18n/.babelrc.browser
  packages/kbn-i18n/BUILD.bazel
  packages/kbn-i18n/babel.config.js
  packages/kbn-i18n/tsconfig.browser.json
  packages/kbn-i18n/tsconfig.json
Labels: backport

#106255 Jest and Storybook fixes for observability plugin
  x-pack/plugins/observability/public/components/shared/core_web_vitals/web_core_vitals_title.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/report_definition_col.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_viewer/columns/filter_expanded.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_viewer/columns/filter_value_btn.test.tsx
  x-pack/plugins/observability/public/pages/alerts/alerts.stories.tsx
  x-pack/plugins/observability/public/pages/cases/cases.stories.tsx
  x-pack/plugins/observability/public/pages/landing/landing.stories.tsx
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
Labels: auto-backport, release_note:skip, v7.15.0, v8.0.0

#107248 [Security Solution] add transform failed warning banner on endpoints …
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/mocks.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/action.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/builders.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/mock_endpoint_result_list.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/types.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
Labels: Team:Onboarding and Lifecycle Mgt, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107420 Update SM doc for alert per object
  docs/user/monitoring/kibana-alerts.asciidoc
Labels: Team:Monitoring, docs, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107325 [Reporting] unskip legacy test
  x-pack/test/reporting_api_integration/reporting_and_security/bwc_generation_urls.ts
Labels: Team:AppServices, Team:Reporting Services, release_note:skip, v7.14.0, v7.15.0, v8.0.0

#107327 [Reporting] revive legacy test
  x-pack/test/reporting_api_integration/reporting_and_security/bwc_existing_indexes.ts
Labels: Team:AppServices, Team:Reporting Services, release_note:skip, v7.14.1, v7.15.0, v8.0.0

#107520 [7.x] [Fleet] Remove subseconds from event.ingested (#104044)
  x-pack/plugins/fleet/server/constants/fleet_es_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/final_pipeline.ts
Labels: backport

#107306 [Fleet] Agent policy search, support simple text filter.
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/saved_object.ts
Labels: Team:Fleet, auto-backport, release_note:fix, v7.15.0, v8.0.0

#107428 [cli-dev-mode] get values from completed state subjects
  packages/kbn-cli-dev-mode/src/cli_dev_mode.ts
Labels: Team:Operations, auto-backport, release_note:skip, v7.14.0, v7.15.0, v8.0.0

#107519 [Fleet] Remove references to legacy Elasticsearch types
  x-pack/plugins/fleet/server/errors/handlers.test.ts
  x-pack/plugins/fleet/server/errors/handlers.ts
  x-pack/plugins/fleet/server/errors/index.ts
Labels: Team:Fleet, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107515 [6.8] bump version to 6.8.19
  package.json
  x-pack/package.json
Labels: Team:Operations, chore, release_note:skip, v6.8.19

#107481 [actions] change cloud icon usage for the customHostSettings connector settings
  docs/settings/alert-action-settings.asciidoc
Labels: Feature:Actions, Team:Alerting Services, docs, release_note:skip, v7.14.1, v7.15.0

#107549 [DOCS] Remove out-dated notable breaking changes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, docs, release_note:skip, v7.14.1

#107436 [App Search] Crawler Overview: Migrate Crawl Requests Table, Add Domains Table empty state
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_requests_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_requests_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_overview_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/utils.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/crawler.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/crawler.ts
Labels: Feature:Plugins, auto-backport, release_note:skip, v7.15.0

#107463 Index Management ES JS client migration followup
  x-pack/plugins/index_lifecycle_management/server/plugin.ts
  x-pack/plugins/index_management/README.md
  x-pack/plugins/index_management/server/lib/fetch_indices.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/index.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_create_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_delete_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_get_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_privileges_route.test.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_privileges_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_update_route.ts
  x-pack/plugins/index_management/server/routes/api/data_streams/register_get_route.ts
  x-pack/plugins/index_management/server/routes/api/templates/lib.ts
Labels: Team:Stack Management, chore, release_note:skip, v7.15.0, v8.0.0

#107553 [7.14] [actions] change cloud icon usage for the customHostSettings connector settings (#107481)
  docs/settings/alert-action-settings.asciidoc
Labels: backport

#107552 [7.x] [actions] change cloud icon usage for the customHostSettings connector settings (#107481)
  docs/settings/alert-action-settings.asciidoc
Labels: backport

#107529 [7.x] [l10n] remove a couple of unused translations (#106977)
  x-pack/plugins/cases/public/components/markdown_editor/translations.ts
  x-pack/plugins/security_solution/public/common/components/markdown_editor/translations.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#107309 [Expressions] Fix bug with expression reference extraction
  src/plugins/expressions/common/executor/executor.test.ts
  src/plugins/expressions/common/executor/executor.ts
Labels: Feature:ExpressionLanguage, Team:AppServices, impact:medium, loe:hours, release_note:skip, v7.15.0, v8.0.0

#107530 [7.x] Jest and Storybook fixes for observability plugin (#106255)
  x-pack/plugins/observability/public/components/shared/core_web_vitals/web_core_vitals_title.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/report_definition_col.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_viewer/columns/filter_expanded.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_viewer/columns/filter_value_btn.test.tsx
  x-pack/plugins/observability/public/pages/alerts/alerts.stories.tsx
  x-pack/plugins/observability/public/pages/cases/cases.stories.tsx
  x-pack/plugins/observability/public/pages/landing/landing.stories.tsx
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
Labels: backport

#106872 [Lens] moving store loading to middleware
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/mounter.tsx
  x-pack/plugins/lens/public/app_plugin/types.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/types.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/data_panel_wrapper.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/expression_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/state_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/chart_switch.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.tsx
  x-pack/plugins/lens/public/mocks.tsx
  x-pack/plugins/lens/public/state_management/index.ts
  x-pack/plugins/lens/public/state_management/init_middleware/index.ts
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.test.tsx
  x-pack/plugins/lens/public/state_management/init_middleware/load_initial.ts
  x-pack/plugins/lens/public/state_management/init_middleware/subscribe_to_external_context.ts
  x-pack/plugins/lens/public/state_management/lens_slice.ts
  x-pack/plugins/lens/public/state_management/optimizing_middleware.ts
  x-pack/plugins/lens/public/state_management/types.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/utils.ts
Labels: Feature:Lens, Team:KibanaApp, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107531 [7.x] [Security Solution] add transform failed warning banner on endpoints … (#107248)
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/mocks.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/action.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/builders.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/mock_endpoint_result_list.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/types.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
Labels: backport

#105981 [maps] deprecate xpack.maps.showMapVisualizationTypes
  x-pack/plugins/maps/server/index.ts
Labels: Team:Geo, auto-backport, release_note:deprecation, v7.15.0, v8.0.0

#107522 [APM] Add and link to service dependencies page
  x-pack/plugins/apm/public/components/app/backend_detail_overview/backend_detail_dependencies_table.tsx
  x-pack/plugins/apm/public/components/app/backend_inventory/backend_inventory_dependencies_table/index.tsx
  x-pack/plugins/apm/public/components/app/service_dependencies/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_dependencies_table/index.tsx
  x-pack/plugins/apm/public/components/routing/service_detail/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/index.tsx
  x-pack/plugins/apm/public/components/shared/dependencies_table/dependencies_table_service_map_link.tsx
  x-pack/plugins/apm/public/components/shared/dependencies_table/index.tsx
Labels: Team:apm, auto-backport, release_note:skip, v7.15.0

#107513 [7.14] bump version to 7.14.1
  package.json
  x-pack/package.json
Labels: Team:Operations, chore, release_note:skip, v7.14.1

#107541 [7.x] [Fleet] Agent policy search, support simple text filter. (#107306)
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/saved_object.ts
Labels: backport

#107544 [7.14] [cli-dev-mode] get values from completed state subjects (#107428)
  packages/kbn-cli-dev-mode/src/cli_dev_mode.ts
Labels: backport

#107543 [7.x] [Visualizations] Fixes the wrong desciption of the kibana.json file (#107503)
  src/plugins/visualizations/kibana.json
Labels: backport

#107568 [7.x] Update SM doc for alert per object (#107420)
  docs/user/monitoring/kibana-alerts.asciidoc
Labels: backport

#107569 [7.14] Update SM doc for alert per object (#107420)
  docs/user/monitoring/kibana-alerts.asciidoc
Labels: backport

#107545 [7.x] [cli-dev-mode] get values from completed state subjects (#107428)
  packages/kbn-cli-dev-mode/src/cli_dev_mode.ts
Labels: backport

#107141 [RAC] [TGrid] Bulk actions to EuiDataGrid toolbar
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/observability/public/pages/alerts/alerts_table_t_grid.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.tsx
  x-pack/plugins/timelines/common/constants.ts
  x-pack/plugins/timelines/common/types/timeline/actions/index.ts
  x-pack/plugins/timelines/public/components/t_grid/body/index.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/integrated/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/integrated/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/standalone/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/standalone/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/styles.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/bulk_actions/alert_status_bulk_actions.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/bulk_actions/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/bulk_actions/translations.ts
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/translations.ts
  x-pack/plugins/timelines/public/container/use_update_alerts.ts
  x-pack/plugins/timelines/public/hooks/use_status_bulk_action_items.tsx
  x-pack/plugins/timelines/public/store/t_grid/model.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/plugin_functional/plugins/timelines_test/public/applications/timelines_test/index.tsx
Labels: Team: SecuritySolution, Team:Threat Hunting, auto-backport, release_note:skip, v7.15.0, v8.0.0

#107548 [7.x] [Fleet] Remove references to legacy Elasticsearch types (#107519)
  x-pack/plugins/fleet/server/errors/handlers.test.ts
  x-pack/plugins/fleet/server/errors/handlers.ts
  x-pack/plugins/fleet/server/errors/index.ts
Labels: backport

#107299 [APM] Share components across Service overview and transactions. Add time comparison to the Transactions page
  x-pack/plugins/apm/public/components/app/service_overview/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_table/get_columns.tsx
  x-pack/plugins/apm/public/components/app/trace_overview/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_overview/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_overview/transaction_list/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_overview/transaction_list/transaction_list.stories.tsx
  x-pack/plugins/apm/public/components/app/transaction_overview/use_transaction_list.ts
  x-pack/plugins/apm/public/components/routing/service_detail/index.tsx
  x-pack/plugins/apm/public/components/shared/charts/transaction_charts/index.tsx
  x-pack/plugins/apm/public/components/shared/transactions_table/get_columns.tsx
  x-pack/plugins/apm/public/components/shared/transactions_table/get_latency_column_label.ts
  x-pack/plugins/apm/public/components/shared/transactions_table/index.tsx
  x-pack/plugins/apm/public/hooks/use_transaction_throughput_chart_fetcher.ts
  x-pack/plugins/apm/public/selectors/throughput_chart_selectors.test.ts
  x-pack/plugins/apm/public/selectors/throughput_chart_selectors.ts
  x-pack/plugins/apm/server/lib/services/get_service_transaction_groups.ts
  x-pack/plugins/apm/server/lib/transaction_groups/__snapshots__/queries.test.ts.snap
  x-pack/plugins/apm/server/lib/transaction_groups/fetcher.ts
  x-pack/plugins/apm/server/lib/transaction_groups/get_transaction_group_stats.ts
  x-pack/plugins/apm/server/lib/transaction_groups/index.ts
  x-pack/plugins/apm/server/lib/transaction_groups/queries.test.ts
  x-pack/plugins/apm/server/lib/transactions/get_throughput_charts/index.ts
  x-pack/plugins/apm/server/lib/transactions/get_throughput_charts/transform.ts
  x-pack/plugins/apm/server/projections/transaction_groups.ts
  x-pack/plugins/apm/server/projections/transactions.ts
  x-pack/plugins/apm/server/routes/traces.ts
  x-pack/plugins/apm/server/routes/transactions.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/apm_api_integration/tests/feature_controls.ts
  x-pack/test/apm_api_integration/tests/index.ts
  x-pack/test/apm_api_integration/tests/traces/top_traces.ts
  x-pack/test/apm_api_integration/tests/transactions/throughput.ts
  x-pack/test/apm_api_integration/tests/transactions/top_transaction_groups.ts
Labels: Team:apm, apm:ux-refresh, auto-backport, release_note:enhancement, v7.15.0

#107555 [7.x] Index Management ES JS client migration followup (#107463)
  x-pack/plugins/index_lifecycle_management/server/plugin.ts
  x-pack/plugins/index_management/README.md
  x-pack/plugins/index_management/server/lib/fetch_indices.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/index.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_create_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_delete_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_get_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_privileges_route.test.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_privileges_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/register_update_route.ts
  x-pack/plugins/index_management/server/routes/api/data_streams/register_get_route.ts
  x-pack/plugins/index_management/server/routes/api/templates/lib.ts
Labels: backport
