Repository elastic/kibana, pull requests merged in 2021-06, with the labels that each got.

#101023 [7.x] [so-migrationsv2] Use named arguments in migrationsv2 actions (#100964)
  src/core/server/saved_objects/migrationsv2/actions/index.test.ts
  src/core/server/saved_objects/migrationsv2/actions/index.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrationsv2/migrations_state_machine_cleanup.ts
  src/core/server/saved_objects/migrationsv2/next.ts
Labels: backport

#101004 adding expressions dev_docs tutorial
  dev_docs/tutorials/expressions.mdx
Labels: Team:AppServices, release_note:skip, v7.14.0, v8.0.0

#100886 [Observability] Expose options to customize sidebar route matching
  x-pack/plugins/observability/public/components/shared/page_template/README.md
  x-pack/plugins/observability/public/components/shared/page_template/page_template.tsx
  x-pack/plugins/observability/public/services/navigation_registry.ts
Labels: Team:Observability, Team:logs-metrics-ui, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101033 [7.x] [TSVB] By Value Migrations for 7.13 (#100746)
  src/plugins/dashboard/server/saved_objects/dashboard_migrations.ts
  src/plugins/visualizations/server/embeddable/visualize_embeddable_factory.ts
  src/plugins/visualizations/server/migrations/visualization_common_migrations.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.test.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.ts
  src/plugins/visualizations/server/plugin.ts
  src/plugins/visualizations/server/saved_objects/visualization.ts
Labels: backport

#100983 [Deprecations service] add `deprecationType` and use it in configs deprecations
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.deprecationtype.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.md
  src/core/server/deprecations/deprecations_factory.mock.ts
  src/core/server/deprecations/deprecations_factory.test.ts
  src/core/server/deprecations/deprecations_registry.mock.ts
  src/core/server/deprecations/deprecations_registry.test.ts
  src/core/server/deprecations/deprecations_registry.ts
  src/core/server/deprecations/deprecations_service.test.ts
  src/core/server/deprecations/deprecations_service.ts
  src/core/server/deprecations/types.ts
  src/core/server/server.api.md
  src/core/server/server.ts
  test/plugin_functional/plugins/core_plugin_deprecations/server/plugin.ts
  test/plugin_functional/test_suites/core/deprecations.ts
Labels: Team:Core, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101036 [7.x] [Observability] Expose options to customize sidebar route matching (#100886)
  x-pack/plugins/observability/public/components/shared/page_template/README.md
  x-pack/plugins/observability/public/components/shared/page_template/page_template.tsx
  x-pack/plugins/observability/public/services/navigation_registry.ts
Labels: backport

#99447 [Discover] Add EUIDataGrid to surrounding documents
  src/plugins/discover/public/__mocks__/ui_settings.ts
  src/plugins/discover/public/application/angular/context.html
  src/plugins/discover/public/application/angular/context.js
  src/plugins/discover/public/application/angular/context/api/anchor.test.ts
  src/plugins/discover/public/application/angular/context/api/anchor.ts
  src/plugins/discover/public/application/angular/context/api/context.predecessors.test.ts
  src/plugins/discover/public/application/angular/context/api/context.successors.test.ts
  src/plugins/discover/public/application/angular/context/api/context.ts
  src/plugins/discover/public/application/angular/context/api/utils/get_es_query_search_after.ts
  src/plugins/discover/public/application/angular/context/query/actions.tsx
  src/plugins/discover/public/application/angular/context/query_parameters/actions.test.ts
  src/plugins/discover/public/application/angular/context_app.html
  src/plugins/discover/public/application/angular/context_app.js
  src/plugins/discover/public/application/angular/context_app_state.ts
  src/plugins/discover/public/application/angular/context_state.test.ts
  src/plugins/discover/public/application/angular/context_state.ts
  src/plugins/discover/public/application/angular/discover_legacy.html
  src/plugins/discover/public/application/angular/doc_table/actions/columns.ts
  src/plugins/discover/public/application/angular/doc_table/doc_table.html
  src/plugins/discover/public/application/components/context_app/context_app_legacy.scss
  src/plugins/discover/public/application/components/context_app/context_app_legacy.test.tsx
  src/plugins/discover/public/application/components/context_app/context_app_legacy.tsx
  src/plugins/discover/public/application/components/context_app/context_app_legacy_directive.ts
  src/plugins/discover/public/application/components/create_discover_directive.ts
  src/plugins/discover/public/application/components/discover.tsx
  src/plugins/discover/public/application/components/discover_grid/discover_grid.scss
  src/plugins/discover/public/application/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/application/components/discover_grid/discover_grid_columns.test.tsx
  src/plugins/discover/public/application/components/discover_grid/discover_grid_columns.tsx
  src/plugins/discover/public/application/components/discover_grid/discover_grid_document_selection.test.tsx
  src/plugins/discover/public/application/components/discover_grid/discover_grid_document_selection.tsx
  src/plugins/discover/public/application/components/discover_grid/discover_grid_expand_button.tsx
  src/plugins/discover/public/application/components/discover_grid/get_render_cell_value.tsx
  src/plugins/discover/public/application/embeddable/search_embeddable.ts
  src/plugins/discover/public/application/helpers/use_data_grid_columns.test.tsx
  src/plugins/discover/public/application/helpers/use_data_grid_columns.ts
  test/functional/apps/discover/_data_grid_context.ts
  test/functional/services/data_grid.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Discover, Team:KibanaApp, release_note:skip, v7.14.0, v8.0.0

#101029 [Lens] Reduce lodash footprint
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_actions.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/operation_support.ts
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.ts
  x-pack/plugins/lens/public/indexpattern_datasource/loader.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/loader.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.ts
  x-pack/plugins/lens/public/metric_visualization/auto_scale.tsx
  x-pack/plugins/lens/public/state_management/external_context_middleware.ts
Labels: Feature:Lens, Team:KibanaApp, auto-backport, release_note:skip, v7.14.0, v8.0.0

#100540 [Index Patterns Field Formatter] Added human readable precise formatter for duration
  src/plugins/data/common/field_formats/converters/duration.test.ts
  src/plugins/data/common/field_formats/converters/duration.ts
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/duration/__snapshots__/duration.test.tsx.snap
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/duration/duration.test.tsx
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/duration/duration.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:FieldFormatters, Team:AppServices, Team:uptime, auto-backport, release_note:enhancement, v7.14.0, v8.0.0

#101039 [7.x] [Deprecations service] add `deprecationType` and use it in configs deprecations (#100983)
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.deprecationtype.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.md
  src/core/server/deprecations/deprecations_factory.mock.ts
  src/core/server/deprecations/deprecations_factory.test.ts
  src/core/server/deprecations/deprecations_registry.mock.ts
  src/core/server/deprecations/deprecations_registry.test.ts
  src/core/server/deprecations/deprecations_registry.ts
  src/core/server/deprecations/deprecations_service.test.ts
  src/core/server/deprecations/deprecations_service.ts
  src/core/server/deprecations/types.ts
  src/core/server/server.api.md
  src/core/server/server.ts
  test/plugin_functional/plugins/core_plugin_deprecations/server/plugin.ts
  test/plugin_functional/test_suites/core/deprecations.ts
Labels: backport

#100908 [Fleet] Include ID field in packages on get/create
  x-pack/plugins/fleet/server/types/models/package_policy.ts
Labels: Team:Fleet, auto-backport, release_note:skip, v7.14.0, v8.0.0

#100716 [Logs UI] Replace legacy es client usage in category examples
  x-pack/plugins/infra/server/lib/log_analysis/log_entry_categories_analysis.ts
Labels: Feature:Logs UI, Team:logs-metrics-ui, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101046 [7.x] [Index Patterns Field Formatter] Added human readable precise formatter for duration (#100540)
  src/plugins/data/common/field_formats/converters/duration.test.ts
  src/plugins/data/common/field_formats/converters/duration.ts
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/duration/__snapshots__/duration.test.tsx.snap
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/duration/duration.test.tsx
  src/plugins/index_pattern_field_editor/public/components/field_format_editor/editors/duration/duration.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#101058 remove CODEOWNERS
  .github/CODEOWNERS
Labels: backport

#101031 [7.x] [Lens] By Value Migrations for 7.13 (#100622)
  x-pack/plugins/lens/server/embeddable/lens_embeddable_factory.ts
  x-pack/plugins/lens/server/migrations/__snapshots__/saved_object_migrations.test.ts.snap
  x-pack/plugins/lens/server/migrations/common_migrations.ts
  x-pack/plugins/lens/server/migrations/saved_object_migrations.test.ts
  x-pack/plugins/lens/server/migrations/saved_object_migrations.ts
  x-pack/plugins/lens/server/migrations/types.ts
  x-pack/plugins/lens/server/plugin.tsx
  x-pack/plugins/lens/server/saved_objects.ts
Labels: backport

#98354 Re-enable _mb suffixed stack monitoring func tests
  x-pack/test/functional/apps/monitoring/_get_lifecycle_methods.js
  x-pack/test/functional/apps/monitoring/enable_monitoring/index.js
  x-pack/test/functional/apps/monitoring/index.js
  x-pack/test/functional/page_objects/monitoring_page.ts
Labels: release_note:skip, v7.14.0, v8.0.0

#100954 [DOCS] Remove recommendation of coordinating only node (#100632)
  docs/user/production-considerations/production.asciidoc
Labels: Team:Docs, release_note:skip, v8.0.0

#101053 [7.x] Allow for ID in create package policy request (#100908)
  x-pack/plugins/fleet/server/types/models/package_policy.ts
Labels: backport

#100907 [Index patterns] Deprecate scripted field API functions
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.indexpattern.addscriptedfield.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.indexpattern.getnonscriptedfields.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.indexpattern.getscriptedfields.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.indexpattern.removescriptedfield.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpattern.addscriptedfield.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpattern.getnonscriptedfields.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpattern.getscriptedfields.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpattern.removescriptedfield.md
  src/plugins/data/common/index_patterns/index_patterns/index_pattern.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/server/server.api.md
Labels: Feature:Index Patterns, Team:AppServices, release_note:skip, v7.14.0, v8.0.0

#101055 [7.x] [Logs UI] Replace legacy es client usage in category examples (#100716)
  x-pack/plugins/infra/server/lib/log_analysis/log_entry_categories_analysis.ts
Labels: backport

#101042 [Lens] Mock htmlIDGenerator to avoid warnings when running tests
  x-pack/plugins/lens/public/shared_components/coloring/color_stops.test.tsx
  x-pack/plugins/lens/public/shared_components/coloring/palette_configuration.test.tsx
Labels: Feature:Lens, Team:KibanaApp, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101057 [ML] Functional tests - disable categorization tests
  x-pack/test/api_integration/apis/ml/jobs/categorization_field_examples.ts
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
  x-pack/test/api_integration/apis/ml/results/get_categorizer_stats.ts
  x-pack/test/api_integration/apis/ml/results/get_stopped_partitions.ts
  x-pack/test/functional/apps/ml/anomaly_detection/advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection/categorization_job.ts
Labels: :ml, auto-backport, release_note:skip, test-api-integration, test_ui_functional, v7.14.0, v8.0.0

#100682 Create API keys with metadata
  docs/user/security/api-keys/images/create-api-key.png
  x-pack/plugins/security/common/model/api_key.ts
  x-pack/plugins/security/public/management/api_keys/api_keys_api_client.ts
  x-pack/plugins/security/public/management/api_keys/api_keys_grid/create_api_key_flyout.tsx
  x-pack/plugins/security/server/authentication/api_keys/api_keys.ts
  x-pack/plugins/security/server/routes/api_keys/create.test.ts
  x-pack/plugins/security/server/routes/api_keys/create.ts
  x-pack/test/api_integration/apis/security/api_keys.ts
Labels: Team:Security, auto-backport, release_note:enhancement, v7.14.0, v8.0.0

#100492 [CI] Buildkite support with Baseline pipeline
  .buildkite/README.md
  .buildkite/agents.json
  .buildkite/hooks/post-command
  .buildkite/hooks/pre-command
  .buildkite/pipelines/on_merge.yml
  .buildkite/scripts/bootstrap.sh
  .buildkite/scripts/build_kibana.sh
  .buildkite/scripts/build_kibana_plugins.sh
  .buildkite/scripts/common/env.sh
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/common/setup_node.sh
  .buildkite/scripts/common/util.sh
  .buildkite/scripts/download_build_artifacts.sh
  .buildkite/scripts/lifecycle/ci_stats.js
  .buildkite/scripts/lifecycle/ci_stats_complete.js
  .buildkite/scripts/lifecycle/ci_stats_start.js
  .buildkite/scripts/lifecycle/commit_status_complete.sh
  .buildkite/scripts/lifecycle/commit_status_start.sh
  .buildkite/scripts/lifecycle/post_build.sh
  .buildkite/scripts/lifecycle/post_command.sh
  .buildkite/scripts/lifecycle/pre_build.sh
  .buildkite/scripts/lifecycle/pre_command.sh
  .buildkite/scripts/packer_cache.sh
  .buildkite/scripts/post_build_kibana.sh
  .buildkite/scripts/saved_object_field_metrics.sh
  .buildkite/scripts/steps/on_merge_build_and_metrics.sh
  .buildkite/scripts/steps/on_merge_ts_refs_api_docs.sh
  .github/CODEOWNERS
  packages/kbn-optimizer/src/optimizer/cache_keys.ts
  packages/kbn-optimizer/src/optimizer/get_changes.test.ts
  packages/kbn-optimizer/src/optimizer/get_changes.ts
  packages/kbn-test/src/functional_test_runner/functional_test_runner.ts
  packages/kbn-test/src/functional_tests/tasks.js
  packages/kbn-test/src/report_path.ts
  src/dev/build/lib/version_info.ts
  src/dev/precommit_hook/casing_check_config.js
  x-pack/tasks/helpers/git_info.ts
Labels: Feature:CI, Team:Operations, release_note:skip, v7.14.0, v8.0.0

#101020 [Fleet] Better input for multi text input in agent policy builder
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/multi_text_input.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/multi_text_input.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/package_policy_input_var_field.tsx
Labels: Team:Fleet, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101066 [7.x] [Lens] mock htmlIDGenerator to avoid messages when running tests (#101042)
  x-pack/plugins/lens/public/shared_components/coloring/color_stops.test.tsx
  x-pack/plugins/lens/public/shared_components/coloring/palette_configuration.test.tsx
Labels: backport

#101069 [7.x] [ML] Functional tests - disable categorization tests (#101057)
  x-pack/test/api_integration/apis/ml/jobs/categorization_field_examples.ts
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
  x-pack/test/api_integration/apis/ml/results/get_categorizer_stats.ts
  x-pack/test/api_integration/apis/ml/results/get_stopped_partitions.ts
  x-pack/test/functional/apps/ml/anomaly_detection/advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection/categorization_job.ts
Labels: backport

#100244 [FTR] Use importExport for saved_object/basic archive
  packages/kbn-test/src/kbn_client/kbn_client.ts
  packages/kbn-test/src/kbn_client/kbn_client_requester.ts
  packages/kbn-test/src/kbn_client/kbn_client_spaces.ts
  src/dev/precommit_hook/casing_check_config.js
  test/api_integration/apis/kql_telemetry/kql_telemetry.ts
  test/api_integration/apis/saved_objects/bulk_create.ts
  test/api_integration/apis/saved_objects/bulk_get.ts
  test/api_integration/apis/saved_objects/bulk_update.ts
  test/api_integration/apis/saved_objects/create.ts
  test/api_integration/apis/saved_objects/delete.ts
  test/api_integration/apis/saved_objects/export.ts
  test/api_integration/apis/saved_objects/find.ts
  test/api_integration/apis/saved_objects/get.ts
  test/api_integration/apis/saved_objects/import.ts
  test/api_integration/apis/saved_objects/resolve.ts
  test/api_integration/apis/saved_objects/resolve_import_errors.ts
  test/api_integration/apis/saved_objects/update.ts
  test/api_integration/apis/saved_objects_management/find.ts
  test/api_integration/apis/saved_objects_management/get.ts
  test/api_integration/apis/saved_objects_management/relationships.ts
  test/api_integration/apis/shorten/index.js
  test/api_integration/apis/stats/stats.js
  test/api_integration/apis/suggestions/suggestions.js
  test/api_integration/config.js
  test/api_integration/fixtures/es_archiver/index_patterns/basic_kibana/data.json
  test/api_integration/fixtures/es_archiver/index_patterns/basic_kibana/mappings.json
  test/api_integration/fixtures/es_archiver/management/saved_objects/relationships/data.json
  test/api_integration/fixtures/es_archiver/management/saved_objects/relationships/mappings.json
  test/api_integration/fixtures/es_archiver/saved_objects/10k/data.json.gz
  test/api_integration/fixtures/es_archiver/saved_objects/10k/mappings.json
  test/api_integration/fixtures/es_archiver/saved_objects/basic/data.json.gz
  test/api_integration/fixtures/es_archiver/saved_objects/basic/mappings.json
  test/api_integration/fixtures/es_archiver/saved_objects/find_edgecases/data.json
  test/api_integration/fixtures/es_archiver/saved_objects/find_edgecases/mappings.json
  test/api_integration/fixtures/es_archiver/saved_objects/references/data.json
  test/api_integration/fixtures/es_archiver/saved_objects/references/mappings.json
  test/api_integration/fixtures/kbn_archiver/index_patterns/basic_kibana.json
  test/api_integration/fixtures/kbn_archiver/management/saved_objects/relationships.json
  test/api_integration/fixtures/kbn_archiver/saved_objects/basic.json
  test/api_integration/fixtures/kbn_archiver/saved_objects/basic/foo-ns.json
  test/api_integration/fixtures/kbn_archiver/saved_objects/find_edgecases.json
  test/api_integration/fixtures/kbn_archiver/saved_objects/references.json
  x-pack/test/api_integration/apis/kibana/kql_telemetry/kql_telemetry.js
Labels: Team:Operations, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101074 [7.x] Create API keys with metadata (#100682)
  docs/user/security/api-keys/images/create-api-key.png
  x-pack/plugins/security/common/model/api_key.ts
  x-pack/plugins/security/public/management/api_keys/api_keys_api_client.ts
  x-pack/plugins/security/public/management/api_keys/api_keys_grid/create_api_key_flyout.tsx
  x-pack/plugins/security/server/authentication/api_keys/api_keys.ts
  x-pack/plugins/security/server/routes/api_keys/create.test.ts
  x-pack/plugins/security/server/routes/api_keys/create.ts
  x-pack/test/api_integration/apis/security/api_keys.ts
Labels: backport

#100147 [Uptime] New width/delay definition for waterfall sidebar item tooltip
  x-pack/plugins/uptime/public/components/monitor/synthetics/waterfall/components/middle_truncated_text.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/waterfall/components/styles.ts
Labels: Team:uptime, auto-backport, release_note:enhancement, v7.14.0, v8.0.0

#101077 [7.x] [Fleet] Better input for multi text input in agent policy builder (#101020)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/multi_text_input.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/multi_text_input.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/package_policy_input_var_field.tsx
Labels: backport

#100586 Migrate kibana.autocomplete config to data plugin
  docs/setup/settings.asciidoc
  src/core/server/kibana_config.test.ts
  src/core/server/kibana_config.ts
  src/core/server/mocks.ts
  src/core/server/plugins/legacy_config.test.ts
  src/core/server/plugins/plugin_context.test.ts
  src/core/server/plugins/types.ts
  src/plugins/data/config.ts
  src/plugins/data/public/autocomplete/autocomplete_service.ts
  src/plugins/data/public/mocks.ts
  src/plugins/data/server/autocomplete/autocomplete_service.ts
  src/plugins/data/server/autocomplete/routes.ts
  src/plugins/data/server/autocomplete/value_suggestions_route.ts
  src/plugins/data/server/config_deprecations.test.ts
  src/plugins/data/server/config_deprecations.ts
  src/plugins/data/server/index.ts
  src/plugins/data/server/server.api.md
  src/plugins/input_control_vis/kibana.json
  src/plugins/input_control_vis/public/plugin.ts
  src/plugins/input_control_vis/server/index.ts
Labels: Team:AppServices, auto-backport, release_note:deprecation, review, v7.14.0, v8.0.0

#100885 [DOCS] Adds the 7.13.1 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.13.1

#101092 [7.x] [DOCS] Adds the 7.13.1 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, backport, v7.13.1

#100926 [DOCS] Updates runtime example in Discover
  docs/discover/images/add-field-to-pattern.png
  docs/discover/images/customer.png
  docs/discover/images/discover-from-visualize.png
  docs/discover/images/discover-visualize.png
  docs/discover/images/document-table-expanded.png
  docs/discover/images/document-table.png
  docs/discover/images/hello-field.png
  docs/user/discover.asciidoc
Labels: Team:Docs, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#101079 [DOCS] Corrects typo in step 3
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: Team:Docs, release_note:skip, v7.12.0, v7.13.0, v7.14.0

#100749 [DOCS] Updates docs landing page
  docs/index-extra-title-page.html
Labels: Team:Docs, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#101081 [7.x] Re-enable _mb suffixed stack monitoring func tests (#98354)
  x-pack/test/functional/apps/monitoring/_get_lifecycle_methods.js
  x-pack/test/functional/apps/monitoring/enable_monitoring/index.js
  x-pack/test/functional/apps/monitoring/index.js
  x-pack/test/functional/page_objects/monitoring_page.ts
Labels: backport

#101083 [7.x] [Uptime] New width/delay definition for waterfall sidebar item tooltip (#100147)
  x-pack/plugins/uptime/public/components/monitor/synthetics/waterfall/components/middle_truncated_text.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/waterfall/components/styles.ts
Labels: backport

#101096 [7.x] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101097 [7.13] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101099 [7.11] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101098 [7.12] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101101 [7.9] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101100 [7.10] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101102 [7.8] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101103 [7.7] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#101104 [7.6] [DOCS] Corrects typo in step 3 (#101079)
  docs/user/security/securing-communications/elasticsearch-mutual-tls.asciidoc
Labels: backport

#99724 [Expressions] Use table column ID instead of name when set
  src/plugins/expressions/common/expression_functions/specs/map_column.ts
  src/plugins/expressions/common/expression_functions/specs/math.ts
  src/plugins/expressions/common/expression_functions/specs/tests/map_column.test.ts
  src/plugins/expressions/common/expression_functions/specs/tests/math.test.ts
  src/plugins/expressions/common/expression_functions/specs/tests/utils.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:ExpressionLanguage, Feature:Lens, Team:AppServices, release_note:skip, v7.14.0, v8.0.0

#101112 [7.x] [DOCS] Updates runtime example in Discover (#100926)
  docs/discover/images/add-field-to-pattern.png
  docs/discover/images/customer.png
  docs/discover/images/discover-from-visualize.png
  docs/discover/images/discover-visualize.png
  docs/discover/images/document-table-expanded.png
  docs/discover/images/document-table.png
  docs/discover/images/hello-field.png
  docs/user/discover.asciidoc
Labels: backport

#101113 [7.13] [DOCS] Updates runtime example in Discover (#100926)
  docs/discover/images/add-field-to-pattern.png
  docs/discover/images/customer.png
  docs/discover/images/discover-from-visualize.png
  docs/discover/images/discover-visualize.png
  docs/discover/images/document-table-expanded.png
  docs/discover/images/document-table.png
  docs/discover/images/hello-field.png
  docs/user/discover.asciidoc
Labels: backport

#101087 [7.x] Ensure comments on parameters in arrow functions are captured in the docs and ci metrics. (#100823)
  api_docs/bfetch.json
  api_docs/bfetch.mdx
  api_docs/charts.json
  api_docs/core.json
  api_docs/core_application.json
  api_docs/core_saved_objects.json
  api_docs/data.json
  api_docs/data_field_formats.json
  api_docs/data_index_patterns.json
  api_docs/data_query.json
  api_docs/data_search.json
  api_docs/data_ui.json
  api_docs/deprecations.mdx
  api_docs/embeddable.json
  api_docs/expressions.json
  api_docs/kibana_react.json
  api_docs/kibana_utils.json
  api_docs/lens.json
  api_docs/observability.json
  api_docs/presentation_util.json
  api_docs/security.json
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/build_arrow_fn_dec.ts
  packages/kbn-docs-utils/src/api_docs/tests/api_doc_suite.test.ts
  packages/kbn-docs-utils/src/api_docs/tests/snapshots/plugin_a.json
Labels: backport

#101114 [7.x] [DOCS] Updates docs landing page (#100749)
  docs/index-extra-title-page.html
Labels: backport

#101115 [7.13] [DOCS] Updates docs landing page (#100749)
  docs/index-extra-title-page.html
Labels: backport

#101088 [7.x] Migrate kibana.autocomplete config to data plugin (#100586)
  docs/setup/settings.asciidoc
  src/core/server/kibana_config.test.ts
  src/core/server/kibana_config.ts
  src/core/server/mocks.ts
  src/core/server/plugins/legacy_config.test.ts
  src/core/server/plugins/plugin_context.test.ts
  src/core/server/plugins/types.ts
  src/plugins/data/config.ts
  src/plugins/data/public/autocomplete/autocomplete_service.ts
  src/plugins/data/public/mocks.ts
  src/plugins/data/server/autocomplete/autocomplete_service.ts
  src/plugins/data/server/autocomplete/routes.ts
  src/plugins/data/server/autocomplete/value_suggestions_route.ts
  src/plugins/data/server/config_deprecations.test.ts
  src/plugins/data/server/config_deprecations.ts
  src/plugins/data/server/index.ts
  src/plugins/data/server/server.api.md
  src/plugins/input_control_vis/kibana.json
  src/plugins/input_control_vis/public/plugin.ts
  src/plugins/input_control_vis/server/index.ts
Labels: backport

#101110 [7.x] [Expressions] Use table column ID instead of name when set (#99724)
  src/plugins/expressions/common/expression_functions/specs/map_column.ts
  src/plugins/expressions/common/expression_functions/specs/math.ts
  src/plugins/expressions/common/expression_functions/specs/tests/map_column.test.ts
  src/plugins/expressions/common/expression_functions/specs/tests/math.test.ts
  src/plugins/expressions/common/expression_functions/specs/tests/utils.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#101085 [Maps] fix line and polygon label regression
  x-pack/plugins/maps/public/classes/util/mb_filter_expressions.ts
Labels: Team:Geo, release_note:skip, v7.14.0, v8.0.0

#101124 [7.x] [Maps] fix line and polygon label regression (#101085)
  x-pack/plugins/maps/public/classes/util/mb_filter_expressions.ts
Labels: backport

#100791 [CI] For PRs, build TS refs before public api docs check
  .ci/Jenkinsfile_baseline_capture
  test/scripts/checks/baseline_plugin_public_api_docs.sh
  test/scripts/checks/plugin_public_api_docs.sh
  test/scripts/checks/type_check_plugin_public_api_docs.sh
  vars/tasks.groovy
Labels: Feature:CI, Team:Operations, auto-backport, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#101127 [7.13] [CI] For PRs, build TS refs before public api docs check (#100791)
  .ci/Jenkinsfile_baseline_capture
  test/scripts/checks/baseline_plugin_public_api_docs.sh
  test/scripts/checks/plugin_public_api_docs.sh
  test/scripts/checks/type_check_plugin_public_api_docs.sh
  vars/tasks.groovy
Labels: backport

#101128 [7.x] [CI] For PRs, build TS refs before public api docs check (#100791)
  .ci/Jenkinsfile_baseline_capture
  test/scripts/checks/baseline_plugin_public_api_docs.sh
  test/scripts/checks/plugin_public_api_docs.sh
  test/scripts/checks/type_check_plugin_public_api_docs.sh
  vars/tasks.groovy
Labels: backport

#100995 [Docs] Update timelion removal version on deprecations sections
  docs/CHANGELOG.asciidoc
Labels: Feature:TimelionApp, release_note:skip, v7.10.3

#101051 [Index Patterns] Fix return saved index pattern object
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.indexpattern.getassavedobjectbody.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpattern.getassavedobjectbody.md
  src/plugins/data/common/index_patterns/index_patterns/index_pattern.ts
  src/plugins/data/common/index_patterns/index_patterns/index_patterns.test.ts
  src/plugins/data/common/index_patterns/index_patterns/index_patterns.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/server/index_patterns/routes/create_index_pattern.ts
  src/plugins/data/server/server.api.md
  test/api_integration/apis/index_patterns/index_pattern_crud/create_index_pattern/main.ts
  test/api_integration/apis/index_patterns/scripted_fields_crud/create_scripted_field/main.ts
Labels: Feature:Index Patterns, Team:AppServices, release_note:skip, v7.14.0, v8.0.0

#101123 [Lens] Use a setter function for the dimension panel
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/index.ts
Labels: Feature:Lens, Team:KibanaApp, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101034 [Security solution][Endpoint] Add unit tests for fleet event filters/trusted apps cards
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/exception_items_summary.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/exception_items_summary.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_trusted_apps_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_trusted_apps_card.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/styled_components.tsx
Labels: Team:Onboarding and Lifecycle Mgt, auto-backport, release_note:skip, v7.14.0, v8.0.0

#100320 [Exploratory view] Core web vitals
  x-pack/plugins/lens/public/index.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/constants.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/elasticsearch_fieldnames.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/labels.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/default_configs.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.test.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/rum/core_web_vitals_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/rum/kpi_trends_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/rum/performance_dist_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/hooks/use_lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/columns/chart_types.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/columns/report_breakdowns.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/columns/report_definition_col.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/custom_report_field.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/series_builder.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/chart_edit_options.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/breakdowns.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/breakdowns.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/types.ts
Labels: Team:apm, Team:uptime, release_note:enhancement, v7.14.0, v8.0.0

#101135 [7.x] [TSVB] Fix color rules are not applied for null series (#100404)
  src/plugins/vis_type_timeseries/common/get_last_value.test.js
  src/plugins/vis_type_timeseries/common/last_value_utils.test.ts
  src/plugins/vis_type_timeseries/common/last_value_utils.ts
  src/plugins/vis_type_timeseries/common/operators_utils.test.ts
  src/plugins/vis_type_timeseries/common/operators_utils.ts
  src/plugins/vis_type_timeseries/public/application/components/color_rules.test.tsx
  src/plugins/vis_type_timeseries/public/application/components/color_rules.tsx
  src/plugins/vis_type_timeseries/public/application/components/lib/convert_series_to_vars.js
  src/plugins/vis_type_timeseries/public/application/components/lib/tick_formatter.js
  src/plugins/vis_type_timeseries/public/application/components/vis_types/gauge/vis.js
  src/plugins/vis_type_timeseries/public/application/components/vis_types/metric/vis.js
  src/plugins/vis_type_timeseries/public/application/components/vis_types/top_n/vis.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/gauge.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/gauge_vis.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/metric.js
  src/plugins/vis_type_timeseries/public/application/visualizations/views/top_n.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/table/process_bucket.js
  src/plugins/visualizations/server/embeddable/visualize_embeddable_factory.ts
  src/plugins/visualizations/server/migrations/visualization_common_migrations.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.test.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.ts
Labels: backport

#101068 [Security Solution] add Ransomware canary advanced policy option
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: Team:Onboarding and Lifecycle Mgt, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101134 [7.x] [Index Patterns] Fix return saved index pattern object (#101051)
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.indexpattern.getaggregationrestrictions.md
  docs/development/plugins/data/public/kibana-plugin-plugins-data-public.indexpattern.getassavedobjectbody.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpattern.getaggregationrestrictions.md
  docs/development/plugins/data/server/kibana-plugin-plugins-data-server.indexpattern.getassavedobjectbody.md
  src/plugins/data/common/index_patterns/index_patterns/index_pattern.ts
  src/plugins/data/common/index_patterns/index_patterns/index_patterns.test.ts
  src/plugins/data/common/index_patterns/index_patterns/index_patterns.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/server/index_patterns/routes/create_index_pattern.ts
  src/plugins/data/server/server.api.md
  test/api_integration/apis/index_patterns/index_pattern_crud/create_index_pattern/main.ts
  test/api_integration/apis/index_patterns/scripted_fields_crud/create_scripted_field/main.ts
Labels: backport

#100735 [Maps] spatially filter by all geo fields
  src/plugins/data/public/query/filter_manager/lib/mappers/map_spatial_filter.test.ts
  src/plugins/data/public/query/filter_manager/lib/mappers/map_spatial_filter.ts
  x-pack/plugins/maps/common/descriptor_types/map_descriptor.ts
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.test.js
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.ts
  x-pack/plugins/maps/common/elasticsearch_util/index.ts
  x-pack/plugins/maps/common/elasticsearch_util/spatial_filter_utils.test.ts
  x-pack/plugins/maps/common/elasticsearch_util/spatial_filter_utils.ts
  x-pack/plugins/maps/common/elasticsearch_util/types.ts
  x-pack/plugins/maps/public/components/__snapshots__/geometry_filter_form.test.js.snap
  x-pack/plugins/maps/public/components/distance_filter_form.tsx
  x-pack/plugins/maps/public/components/geo_field_with_index.ts
  x-pack/plugins/maps/public/components/geometry_filter_form.js
  x-pack/plugins/maps/public/components/geometry_filter_form.test.js
  x-pack/plugins/maps/public/components/multi_index_geo_field_select.tsx
  x-pack/plugins/maps/public/connected_components/map_container/map_container.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/draw_control/draw_filter_control/draw_filter_control.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/draw_control/draw_filter_control/index.ts
  x-pack/plugins/maps/public/connected_components/mb_map/mb_map.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/features_tooltip/feature_geometry_filter_form.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/index.ts
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/tooltip_control.test.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/tooltip_control.tsx
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/__snapshots__/toolbar_overlay.test.tsx.snap
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/index.ts
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/toolbar_overlay.test.tsx
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/toolbar_overlay.tsx
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/tools_control/__snapshots__/tools_control.test.tsx.snap
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/tools_control/tools_control.tsx
  x-pack/plugins/maps/public/embeddable/map_embeddable.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Geo, auto-backport, release_note:enhancement, v7.14.0, v8.0.0

#101144 [7.x] [Exploratory view] Core web vitals (#100320)
  x-pack/plugins/lens/public/index.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/constants.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/elasticsearch_fieldnames.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/labels.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/default_configs.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.test.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/rum/core_web_vitals_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/rum/kpi_trends_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/rum/performance_dist_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/hooks/use_lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/columns/chart_types.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/columns/report_breakdowns.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/columns/report_definition_col.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/custom_report_field.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_builder/series_builder.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/chart_edit_options.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/breakdowns.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/breakdowns.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/types.ts
Labels: backport

#100649 Add "Risk Matrix" section to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
  RISK_MATRIX.mdx
Labels: Team:AppServices, release_note:skip, review, v8.0.0

#100997 [Deprecations service] make `correctiveActions.manualSteps` required
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.correctiveactions.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.md
  packages/kbn-config/src/config_service.test.ts
  packages/kbn-config/src/deprecation/types.ts
  src/core/public/deprecations/deprecations_client.test.ts
  src/core/server/config/deprecation/core_deprecations.test.ts
  src/core/server/config/deprecation/core_deprecations.ts
  src/core/server/deprecations/deprecations_service.ts
  src/core/server/deprecations/types.ts
  src/core/server/elasticsearch/elasticsearch_config.ts
  src/core/server/kibana_config.ts
  src/core/server/saved_objects/saved_objects_config.ts
  src/core/server/server.api.md
  test/plugin_functional/plugins/core_plugin_deprecations/server/config.ts
  test/plugin_functional/plugins/core_plugin_deprecations/server/plugin.ts
  test/plugin_functional/test_suites/core/deprecations.ts
  x-pack/plugins/actions/server/index.ts
  x-pack/plugins/banners/server/config.ts
  x-pack/plugins/monitoring/server/deprecations.ts
  x-pack/plugins/reporting/server/config/index.test.ts
  x-pack/plugins/reporting/server/config/index.ts
  x-pack/plugins/security/server/config_deprecations.test.ts
  x-pack/plugins/security/server/config_deprecations.ts
  x-pack/plugins/spaces/server/config.ts
  x-pack/plugins/task_manager/server/index.ts
  x-pack/plugins/upgrade_assistant/__jest__/client_integration/overview.test.ts
Labels: Team:Core, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101153 [7.x] [Maps] spatially filter by all geo fields (#100735)
  src/plugins/data/public/query/filter_manager/lib/mappers/map_spatial_filter.test.ts
  src/plugins/data/public/query/filter_manager/lib/mappers/map_spatial_filter.ts
  x-pack/plugins/maps/common/descriptor_types/map_descriptor.ts
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.test.js
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.ts
  x-pack/plugins/maps/common/elasticsearch_util/index.ts
  x-pack/plugins/maps/common/elasticsearch_util/spatial_filter_utils.test.ts
  x-pack/plugins/maps/common/elasticsearch_util/spatial_filter_utils.ts
  x-pack/plugins/maps/common/elasticsearch_util/types.ts
  x-pack/plugins/maps/public/components/__snapshots__/geometry_filter_form.test.js.snap
  x-pack/plugins/maps/public/components/distance_filter_form.tsx
  x-pack/plugins/maps/public/components/geo_field_with_index.ts
  x-pack/plugins/maps/public/components/geometry_filter_form.js
  x-pack/plugins/maps/public/components/geometry_filter_form.test.js
  x-pack/plugins/maps/public/components/multi_index_geo_field_select.tsx
  x-pack/plugins/maps/public/connected_components/map_container/map_container.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/draw_control/draw_filter_control/draw_filter_control.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/draw_control/draw_filter_control/index.ts
  x-pack/plugins/maps/public/connected_components/mb_map/mb_map.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/features_tooltip/feature_geometry_filter_form.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/index.ts
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/tooltip_control.test.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/tooltip_control.tsx
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/__snapshots__/toolbar_overlay.test.tsx.snap
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/index.ts
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/toolbar_overlay.test.tsx
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/toolbar_overlay.tsx
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/tools_control/__snapshots__/tools_control.test.tsx.snap
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/tools_control/tools_control.tsx
  x-pack/plugins/maps/public/embeddable/map_embeddable.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#101121 [DOCS] Adds server.uuid to settings docs
  docs/setup/settings.asciidoc
Labels: release_note:skip, v7.13.0, v7.14.0, v8.0.0

#101093 [DOCS] Removes 7.13.1 coming tags
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.13.1

#101094 [DOCS] Removes 7.13.1 coming tags
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.13.1

#101137 [ML] Functional tests - reenable categorization tests
  x-pack/test/api_integration/apis/ml/jobs/categorization_field_examples.ts
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
  x-pack/test/api_integration/apis/ml/results/get_categorizer_stats.ts
  x-pack/test/api_integration/apis/ml/results/get_stopped_partitions.ts
  x-pack/test/functional/apps/ml/anomaly_detection/advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection/categorization_job.ts
  x-pack/test/functional/services/ml/test_resources.ts
Labels: :ml, release_note:skip, test-api-integration, test_ui_functional, v7.14.0, v8.0.0

#100863 [Home] Adding file upload to add data page
  src/plugins/home/public/application/components/tutorial_directory.js
  src/plugins/home/public/application/kibana_services.ts
  src/plugins/home/public/mocks.ts
  src/plugins/home/public/plugin.test.mocks.ts
  src/plugins/home/public/plugin.ts
  src/plugins/home/public/services/add_data/add_data_service.mock.ts
  src/plugins/home/public/services/add_data/add_data_service.test.tsx
  src/plugins/home/public/services/add_data/add_data_service.ts
  src/plugins/home/public/services/add_data/index.ts
  src/plugins/home/public/services/index.ts
  x-pack/plugins/file_data_visualizer/kibana.json
  x-pack/plugins/file_data_visualizer/public/application/file_datavisualizer.tsx
  x-pack/plugins/file_data_visualizer/public/lazy_load_bundle/component_wrapper.tsx
  x-pack/plugins/file_data_visualizer/public/plugin.ts
  x-pack/plugins/file_data_visualizer/public/register_home.ts
Labels: :ml, Feature:File Data Viz, auto-backport, release_note:enhancement, review, v7.14.0, v8.0.0

#101073 Fix cases plugin ownership
  .github/CODEOWNERS
Labels: release_note:skip, v7.14.0

#100991 [Lens] Update label if operation and field are changed at once
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.ts
Labels: Feature:Lens, Team:KibanaApp, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101155 [DOCS] Clarify when to use kbn clean
  docs/developer/getting-started/index.asciidoc
Labels: Project:DevDocs, Team:Docs, release_note:skip, v7.0.0, v7.1.0, v7.10.0, v7.11.0, v7.12.0, v7.13.0, v7.14.0, v7.2.0, v7.3.0, v7.4.0, v7.5.0, v7.6.0, v7.7.0, v7.8.0, v7.9.0

#101156 [7.x] [Deprecations service] make `correctiveActions.manualSteps` required (#100997)
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.correctiveactions.md
  docs/development/core/server/kibana-plugin-core-server.deprecationsdetails.md
  packages/kbn-config/src/config_service.test.ts
  packages/kbn-config/src/deprecation/types.ts
  src/core/public/deprecations/deprecations_client.test.ts
  src/core/server/config/deprecation/core_deprecations.test.ts
  src/core/server/config/deprecation/core_deprecations.ts
  src/core/server/deprecations/deprecations_service.ts
  src/core/server/deprecations/types.ts
  src/core/server/elasticsearch/elasticsearch_config.ts
  src/core/server/kibana_config.ts
  src/core/server/saved_objects/saved_objects_config.ts
  src/core/server/server.api.md
  test/plugin_functional/plugins/core_plugin_deprecations/server/config.ts
  test/plugin_functional/plugins/core_plugin_deprecations/server/plugin.ts
  test/plugin_functional/test_suites/core/deprecations.ts
  x-pack/plugins/actions/server/index.ts
  x-pack/plugins/banners/server/config.ts
  x-pack/plugins/monitoring/server/deprecations.ts
  x-pack/plugins/reporting/server/config/index.test.ts
  x-pack/plugins/reporting/server/config/index.ts
  x-pack/plugins/security/server/config_deprecations.test.ts
  x-pack/plugins/security/server/config_deprecations.ts
  x-pack/plugins/spaces/server/config.ts
  x-pack/plugins/task_manager/server/index.ts
  x-pack/plugins/upgrade_assistant/__jest__/client_integration/overview.test.ts
Labels: backport

#100822 [App Search] Crawler Landing Page
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/assets/bg_crawler_landing.png
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/constants.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_landing.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_landing.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_landing.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_router.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_nav.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.tsx
Labels: Feature:Plugins, auto-backport, release_note:skip, v7.14.0

#101173 [DOCS] [7.x] Clarify when to use kbn clean (#101155)
  docs/developer/getting-started/index.asciidoc
Labels: Project:DevDocs, Team:Docs, backport, release_note:skip, v7.14.0

#101174 [DOCS] [7.13] Clarify when to use kbn clean (#101155)
  docs/developer/getting-started/index.asciidoc
Labels: Project:DevDocs, Team:Docs, backport, release_note:skip, v7.13.1

#101138 [7.x] [Lens] Use a setter function for the dimension panel (#101123)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/index.ts
Labels: backport

#100558 Unskip advanced settings a11y test
  x-pack/test/accessibility/apps/advanced_settings.ts
Labels: Feature:Kibana Management, Project:Accessibility, release_note:skip, v8.0.0

#101179 [7.x] [DOCS] Adds server.uuid to settings docs (#101121)
  docs/setup/settings.asciidoc
Labels: backport

#101180 [7.13] [DOCS] Adds server.uuid to settings docs (#101121)
  docs/setup/settings.asciidoc
Labels: backport

#101166 [7.x] [Home] Adding file upload to add data page (#100863)
  src/plugins/home/public/application/components/tutorial_directory.js
  src/plugins/home/public/application/kibana_services.ts
  src/plugins/home/public/mocks.ts
  src/plugins/home/public/plugin.test.mocks.ts
  src/plugins/home/public/plugin.ts
  src/plugins/home/public/services/add_data/add_data_service.mock.ts
  src/plugins/home/public/services/add_data/add_data_service.test.tsx
  src/plugins/home/public/services/add_data/add_data_service.ts
  src/plugins/home/public/services/add_data/index.ts
  src/plugins/home/public/services/index.ts
  x-pack/plugins/file_data_visualizer/kibana.json
  x-pack/plugins/file_data_visualizer/public/application/file_datavisualizer.tsx
  x-pack/plugins/file_data_visualizer/public/lazy_load_bundle/component_wrapper.tsx
  x-pack/plugins/file_data_visualizer/public/plugin.ts
  x-pack/plugins/file_data_visualizer/public/register_home.ts
Labels: backport

#101043 [7.x] [Lens] Reduce lodash footprint (#101029)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_actions.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/operation_support.ts
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.ts
  x-pack/plugins/lens/public/indexpattern_datasource/loader.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/loader.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.ts
  x-pack/plugins/lens/public/metric_visualization/auto_scale.tsx
  x-pack/plugins/lens/public/state_management/external_context_middleware.ts
Labels: backport

#100931 [Fleet] Add support for meta in fields.yml
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/plugins/fleet/server/services/epm/fields/field.ts
Labels: Team:Fleet, auto-backport, release_note:enhancement, v7.14.0, v8.0.0

#100753 Edit text strings in Heartbeat setup prompt
  x-pack/plugins/uptime/public/components/overview/empty_state/__snapshots__/data_or_index_missing.test.tsx.snap
  x-pack/plugins/uptime/public/components/overview/empty_state/data_or_index_missing.tsx
  x-pack/plugins/uptime/public/components/overview/empty_state/empty_state.tsx
Labels: Team:uptime, release_note:skip, v7.14.0

#100879 Fix alerting health API to consider rules in all spaces
  x-pack/plugins/alerting/server/health/get_health.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/health.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/index.ts
Labels: Feature:Alerting, Team:Alerting Services, auto-backport, release_note:fix, v7.14.0, v8.0.0

#101172 [7.x] change label behavior (#100991)
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.ts
Labels: backport

#101184 [6.8] [npm] upgrade gulp to 4.0.2
  x-pack/gulpfile.js
  x-pack/package.json
  x-pack/tasks/build.js
  x-pack/tasks/clean.js
  x-pack/tasks/dev.js
  x-pack/tasks/helpers/paths.js
  x-pack/tasks/index.js
  x-pack/tasks/prepare.js
  x-pack/tasks/report.js
  x-pack/tasks/test.js
  yarn.lock
Labels: Team:Operations, backport, release_note:skip, v6.8.17

#101175 [7.x] [App Search] Crawler Landing Page (#100822)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/assets/bg_crawler_landing.png
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/constants.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_landing.scss
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_landing.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_landing.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/crawler_router.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/index.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_nav.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine/engine_router.tsx
Labels: backport

#101178 [Fleet] Fix host input with empty value
  x-pack/plugins/fleet/public/applications/fleet/components/settings_flyout/hosts_input.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/components/settings_flyout/hosts_input.tsx
Labels: Team:Fleet, auto-backport, release_note:skip, v7.14.0, v8.0.0

#100948 [QA] Bind the retry to fixup error in it repo tests
  x-pack/test/stack_functional_integration/apps/reporting/reporting_watcher.js
  x-pack/test/stack_functional_integration/apps/reporting/reporting_watcher_png.js
Labels: release_note:skip, v8.0.0

#101196 [DOCS] Adds missing bug fixes to 7.13.1 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.13.1

#101187 [Fleet] Convert `$json` to `json` in package README code blocks
  x-pack/plugins/fleet/public/applications/fleet/sections/epm/screens/detail/overview/markdown_renderers.tsx
Labels: Team:Fleet, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101199 [DOCS] Updates homebrew content to use latest version
  docs/setup/install/brew.asciidoc
Labels: Team:Docs, release_note:skip, v7.11.0, v7.12.0, v7.13.0, v7.14.0, v8.0.0

#101201 [DOCS] Adds missing bug fixes to 7.13.1 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, backport, v7.13.1

#101189 [7.x] [Fleet] Add support for meta in fields.yml (#100931)
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/plugins/fleet/server/services/epm/fields/field.ts
Labels: backport

#101192 [7.x] Edit text strings in Heartbeat setup prompt (#100753)
  x-pack/plugins/uptime/public/components/overview/empty_state/__snapshots__/data_or_index_missing.test.tsx.snap
  x-pack/plugins/uptime/public/components/overview/empty_state/data_or_index_missing.tsx
  x-pack/plugins/uptime/public/components/overview/empty_state/empty_state.tsx
Labels: backport

#101193 [7.x] Fix alerting health API to consider rules in all spaces (#100879)
  x-pack/plugins/alerting/server/health/get_health.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/health.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/index.ts
Labels: backport

#101203 [DOCS] Adds the 7.12.2 bug fixes to the 7.13.0 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.13.0

#101204 [DOCS] Adds the 7.12.2 bug fixes to the 7.13.0 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.13.0

#101181 docs(NA): update developer getting started guide to build on windows within Bazel
  docs/developer/getting-started/index.asciidoc
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.14.0, v8.0.0

#101205 [7.x] docs(NA): update developer getting started guide to build on windows within Bazel (#101181)
  docs/developer/getting-started/index.asciidoc
Labels: backport

#101195 [7.x] [Fleet] Fix host input with empty value (#101178)
  x-pack/plugins/fleet/public/applications/fleet/components/settings_flyout/hosts_input.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/components/settings_flyout/hosts_input.tsx
Labels: backport

#101165 chore(NA): bump version to 7.13.2
  package.json
  x-pack/package.json
Labels: Team:Operations, chore, release_note:skip, v7.13.2

#101202 [7.x] Convert $json to json in package README code blocks (#101187)
  x-pack/plugins/fleet/public/applications/fleet/sections/epm/screens/detail/overview/markdown_renderers.tsx
Labels: backport

#101214 [7.11] [DOCS] Updates homebrew content to use latest version (#101199)
  docs/setup/install/brew.asciidoc
Labels: backport

#101213 [7.12] [DOCS] Updates homebrew content to use latest version (#101199)
  docs/setup/install/brew.asciidoc
Labels: backport

#101212 [7.13] [DOCS] Updates homebrew content to use latest version (#101199)
  docs/setup/install/brew.asciidoc
Labels: backport

#101211 [7.x] [DOCS] Updates homebrew content to use latest version (#101199)
  docs/setup/install/brew.asciidoc
Labels: backport

#101210 [DOCS] Removes outdated OSS homebrew tap
  docs/setup/install/brew.asciidoc
Labels: Team:Docs, release_note:skip, v7.1.0, v7.10.0, v7.2.0, v7.3.0, v7.4.0, v7.5.0, v7.6.0, v7.7.0, v7.8.0, v7.9.0

#101221 [7.9] [DOCS] Removes outdated OSS homebrew tap (#101210)
  docs/setup/install/brew.asciidoc
Labels: backport

#101222 [7.8] [DOCS] Removes outdated OSS homebrew tap (#101210)
  docs/setup/install/brew.asciidoc
Labels: backport

#101223 [7.7] [DOCS] Removes outdated OSS homebrew tap (#101210)
  docs/setup/install/brew.asciidoc
Labels: backport

#101224 [7.6] [DOCS] Removes outdated OSS homebrew tap (#101210)
  docs/setup/install/brew.asciidoc
Labels: backport

#101218 [7.13] Unskip advanced settings a11y test (#100558)
  x-pack/test/accessibility/apps/advanced_settings.ts
Labels: backport

#101217 [7.x] Unskip advanced settings a11y test (#100558)
  x-pack/test/accessibility/apps/advanced_settings.ts
Labels: backport

#101220 [7.x] [QA] Bind the retry to fixup error in it repo tests (#100948)
  x-pack/test/stack_functional_integration/apps/reporting/reporting_watcher.js
  x-pack/test/stack_functional_integration/apps/reporting/reporting_watcher_png.js
Labels: backport

#101231 [Security Solution] [Bug Fix] Fix flakey cypress tests
  x-pack/plugins/security_solution/cypress/support/commands.js
Labels: Team: SecuritySolution, Team:Threat Hunting, bug, release_note:skip, v7.14.0, v8.0.0

#101237 [7.x] [Security Solution] [Bug Fix] Fix flakey cypress tests (#101231)
  x-pack/plugins/security_solution/cypress/support/commands.js
Labels: backport

#101149 [7.x] [Security Solution] Add Ransomware canary advanced policy option (#101068)
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport

#99795 [Security Solution] [Endpoint] Add endpoint details activity log
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/common/endpoint/schema/actions.ts
  x-pack/plugins/security_solution/public/common/components/endpoint/formatted_date_time.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/api.ts
  x-pack/plugins/security_solution/public/management/common/utils.test.ts
  x-pack/plugins/security_solution/public/management/common/utils.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/action.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/builders.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/types.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/endpoint_details_tabs.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/log_entry.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoint_activity_log.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoint_details.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoints.stories.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/index.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/service/index.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/service/utils.test.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/service/utils.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.test.tsx
  x-pack/plugins/security_solution/public/management/store/reducer.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/audit_log.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/audit_log_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/index.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: Team:Onboarding and Lifecycle Mgt, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101241 [7.x] [ML] Functional tests - reenable categorization tests (#101137)
  x-pack/test/api_integration/apis/ml/jobs/categorization_field_examples.ts
  x-pack/test/api_integration/apis/ml/modules/setup_module.ts
  x-pack/test/api_integration/apis/ml/results/get_categorizer_stats.ts
  x-pack/test/api_integration/apis/ml/results/get_stopped_partitions.ts
  x-pack/test/functional/apps/ml/anomaly_detection/advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection/categorization_job.ts
  x-pack/test/functional/services/ml/test_resources.ts
Labels: backport

#101243 Link and formatting fix
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Team:AppServices, release_note:skip, v8.0.0

#101151 [7.x] [Security solution][Endpoint] Add unit tests for fleet event filters/trusted apps cards (#101034)
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/exception_items_summary.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/exception_items_summary.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_trusted_apps_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_trusted_apps_card.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/styled_components.tsx
Labels: backport

#101064 Gauge/goal: Tooltip always includes "_all"
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.js
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.test.js
Labels: Team:KibanaApp, release_note:skip, v7.14.0, v8.0.0

#101244 [7.x] [Security Solution] [Endpoint] Add endpoint details activity log (#99795)
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/common/endpoint/schema/actions.ts
  x-pack/plugins/security_solution/public/common/components/endpoint/formatted_date_time.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/api.ts
  x-pack/plugins/security_solution/public/management/common/utils.test.ts
  x-pack/plugins/security_solution/public/management/common/utils.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/action.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/builders.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/types.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/endpoint_details_tabs.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/log_entry.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoint_activity_log.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoint_details.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoints.stories.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/index.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/service/index.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/service/utils.test.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/service/utils.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.test.tsx
  x-pack/plugins/security_solution/public/management/store/reducer.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/audit_log.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/audit_log_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/index.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: backport

#101147 [bfetch] fflate tree shaking
  packages/kbn-ui-shared-deps/entry.js
Labels: Team:Operations, auto-backport, release_note:skip, v7.14.0, v8.0.0

#100775 [TSVB] Math params._interval is incorrect when using entire timerange mode
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/bucket_transform.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/date_histogram.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/date_histogram.test.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/metric_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/sibling_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/table/date_histogram.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/table/metric_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/table/sibling_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/response_processors/series/math.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/response_processors/series/math.test.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/series/build_request_body.test.ts
Labels: Feature:TSVB, Team:KibanaApp, auto-backport, release_note:fix, v7.14.0, v8.0.0

#101248 [7.x] Gauge/goal: Tooltip always includes "_all" (#101064)
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.js
  src/plugins/vis_type_vislib/public/vislib/components/tooltip/_pointseries_tooltip_formatter.test.js
Labels: backport

#101148 [Lens] setFocusTrap after animation is ended and not with timeout
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.tsx
Labels: Feature:Lens, Team:KibanaApp, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101025 [7.x] adding expressions dev_docs tutorial (#101004)
  dev_docs/tutorials/expressions.mdx
Labels: backport

#101251 [7.x] attempt at tree shaking (#101147)
  packages/kbn-ui-shared-deps/entry.js
Labels: backport

#101252 [7.x] [TSVB] Math params._interval is incorrect when using entire timerange mode (#100775)
  src/plugins/vis_type_timeseries/server/lib/vis_data/helpers/bucket_transform.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/date_histogram.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/date_histogram.test.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/metric_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/series/sibling_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/table/date_histogram.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/table/metric_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/request_processors/table/sibling_buckets.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/response_processors/series/math.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/response_processors/series/math.test.js
  src/plugins/vis_type_timeseries/server/lib/vis_data/series/build_request_body.test.ts
Labels: backport

#99498 feat: 🎸 connect dasdhboard telemetry to persistable state
  src/plugins/dashboard/server/usage/dashboard_telemetry.ts
  src/plugins/dashboard/server/usage/register_collector.ts
  src/plugins/embeddable/public/plugin.tsx
  src/plugins/embeddable/server/plugin.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/ui_actions_enhanced/public/dynamic_actions/action_factory.ts
  x-pack/plugins/ui_actions_enhanced/server/plugin.ts
  x-pack/plugins/ui_actions_enhanced/server/telemetry/dynamic_actions_collector.ts
Labels: Feature:Embedding, Feature:Telemetry, Team:AppServices, release_note:skip, review, v7.14.0, v8.0.0

#101254 Use fake timers to avoid test flakiness
  src/plugins/bfetch/public/batching/create_streaming_batched_function.test.ts
Labels: Feature:ExpressionLanguage, Team:AppServices, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101258 [7.x] [Lens] setFocusTrap after animation is ended and not with timeout (#101148)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/dimension_container.tsx
Labels: backport

#100905 [Uptime] Move uptime to new solution nav
  x-pack/plugins/uptime/kibana.json
  x-pack/plugins/uptime/public/apps/plugin.ts
  x-pack/plugins/uptime/public/apps/uptime_app.tsx
  x-pack/plugins/uptime/public/components/certificates/certificate_title.tsx
  x-pack/plugins/uptime/public/components/common/header/action_menu_content.test.tsx
  x-pack/plugins/uptime/public/components/common/header/page_header.test.tsx
  x-pack/plugins/uptime/public/components/common/header/page_header.tsx
  x-pack/plugins/uptime/public/components/monitor/monitor_title.test.tsx
  x-pack/plugins/uptime/public/components/monitor/monitor_title.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_detail.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_detail_container.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_page_nav.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/step_page_title.tsx
  x-pack/plugins/uptime/public/components/monitor/synthetics/step_detail/use_monitor_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/hooks/use_breadcrumbs.test.tsx
  x-pack/plugins/uptime/public/hooks/use_breadcrumbs.ts
  x-pack/plugins/uptime/public/lib/helper/rtl_helpers.tsx
  x-pack/plugins/uptime/public/pages/certificates.tsx
  x-pack/plugins/uptime/public/pages/overview.tsx
  x-pack/plugins/uptime/public/pages/settings.tsx
  x-pack/plugins/uptime/public/pages/synthetics/synthetics_checks.tsx
  x-pack/plugins/uptime/public/routes.tsx
  x-pack/test/functional/services/uptime/certificates.ts
  x-pack/test/functional/services/uptime/navigation.ts
Labels: Team:uptime, release_note:enhancement, v7.14.0, v8.0.0

#101091 [Actions] Gracefully handle timestamp fields that are empty or have spaces in PagerDuty action params
  x-pack/plugins/actions/server/builtin_action_types/pagerduty.test.ts
  x-pack/plugins/actions/server/builtin_action_types/pagerduty.ts
Labels: Feature:Actions, Team:Alerting Services, auto-backport, release_note:skip, v7.14.0, v8.0.0

#101215 [Cases] Renaming all saved object variables to unsecuredSavedObjectsClient
  x-pack/plugins/cases/server/client/attachments/add.ts
  x-pack/plugins/cases/server/client/attachments/delete.ts
  x-pack/plugins/cases/server/client/attachments/get.ts
  x-pack/plugins/cases/server/client/attachments/update.ts
  x-pack/plugins/cases/server/client/cases/create.ts
  x-pack/plugins/cases/server/client/cases/delete.ts
  x-pack/plugins/cases/server/client/cases/find.ts
  x-pack/plugins/cases/server/client/cases/get.ts
  x-pack/plugins/cases/server/client/cases/push.ts
  x-pack/plugins/cases/server/client/cases/update.ts
  x-pack/plugins/cases/server/client/configure/client.ts
  x-pack/plugins/cases/server/client/configure/create_mappings.ts
  x-pack/plugins/cases/server/client/configure/get_mappings.ts
  x-pack/plugins/cases/server/client/configure/update_mappings.ts
  x-pack/plugins/cases/server/client/stats/client.ts
  x-pack/plugins/cases/server/client/sub_cases/client.ts
  x-pack/plugins/cases/server/client/sub_cases/update.ts
  x-pack/plugins/cases/server/client/user_actions/get.ts
  x-pack/plugins/cases/server/common/models/commentable_case.ts
  x-pack/plugins/cases/server/services/attachments/index.ts
  x-pack/plugins/cases/server/services/cases/index.ts
  x-pack/plugins/cases/server/services/configure/index.ts
  x-pack/plugins/cases/server/services/connector_mappings/index.ts
  x-pack/plugins/cases/server/services/index.ts
  x-pack/plugins/cases/server/services/user_actions/index.ts
Labels: Feature:Cases, Feature:Cases-RAC-RBAC, Team:Threat Hunting, release_note:skip, v7.14.0, v8.0.0

#101262 [7.x] feat: 🎸 connect dasdhboard telemetry to persistable state (#99498)
  src/plugins/dashboard/server/usage/dashboard_telemetry.ts
  src/plugins/dashboard/server/usage/register_collector.ts
  src/plugins/embeddable/public/plugin.tsx
  src/plugins/embeddable/server/plugin.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/ui_actions_enhanced/public/dynamic_actions/action_factory.ts
  x-pack/plugins/ui_actions_enhanced/server/plugin.ts
  x-pack/plugins/ui_actions_enhanced/server/telemetry/dynamic_actions_collector.ts
Labels: backport

#101263 [7.x] use fake timers to avoid flakiness (#101254)
  src/plugins/bfetch/public/batching/create_streaming_batched_function.test.ts
Labels: backport
