Repository elastic/kibana, pull requests merged in 2021-05, with the labels that each got.

#98994 [7.x] [Fleet] Hide delete policy button for default policies (#98962)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
Labels: backport

#98993 [7.13] [Fleet] Hide delete policy button for default policies (#98962)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
Labels: backport

#98973 [7.x] [packages] Move @kbn/legacy-logging to Bazel (#98810)
  docs/developer/getting-started/monorepo-packages.asciidoc
  package.json
  packages/BUILD.bazel
  packages/kbn-legacy-logging/BUILD.bazel
  packages/kbn-legacy-logging/package.json
  packages/kbn-legacy-logging/tsconfig.json
  yarn.lock
Labels: backport

#98957 [Fleet] Enforce port in fleet server url even for default http|https port
  x-pack/plugins/fleet/server/services/settings.test.ts
  x-pack/plugins/fleet/server/services/settings.ts
Labels: Team:Fleet, auto-backport, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#98982 [7.x] Allow saved_query rules to validate properly for query executor (#98921)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/executors/query.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/signal_rule_alert_type.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/generating_signals.ts
Labels: backport

#98996 [7.13] Fixes some flake by loosening up some test logic around 0 (#98959)
  x-pack/test/api_integration/apis/security_solution/matrix_dns_histogram.ts
Labels: backport

#98997 [7.x] Fixes some flake by loosening up some test logic around 0 (#98959)
  x-pack/test/api_integration/apis/security_solution/matrix_dns_histogram.ts
Labels: backport

#99002 [7.x] [Fleet] Enforce port in fleet server url even for default http|https port (#98957)
  x-pack/plugins/fleet/server/services/settings.test.ts
  x-pack/plugins/fleet/server/services/settings.ts
Labels: backport

#99001 [7.13] [Fleet] Enforce port in fleet server url even for default http|https port (#98957)
  x-pack/plugins/fleet/server/services/settings.test.ts
  x-pack/plugins/fleet/server/services/settings.ts
Labels: backport

#96111 Provide guidance of "Custom" allocation behavior in ILM
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/app/app.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/init_test_bed.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_enable_phase_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_set_value_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_toggle_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_node_allocation_actions.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/global_mocks.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/index.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/save_policy_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/set_replicas_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/types.ts
  x-pack/plugins/index_lifecycle_management/common/types/policies.ts
  x-pack/plugins/index_lifecycle_management/public/application/lib/data_tiers/get_available_node_roles_for_phase.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/data_tier_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_nodes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_tiers_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/index.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_custom_attributes_messages.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_node_attributes_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_role_to_fallback_tier_map.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/types.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/data_tier_allocation_field.tsx
  x-pack/plugins/index_lifecycle_management/public/application/services/documentation.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:ILM, Team:Elasticsearch UI, release_note:enhancement, v7.14.0, v8.0.0

#99004 [7.x] Provide guidance of "Custom" allocation behavior in ILM (#96111)
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/app/app.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/init_test_bed.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_enable_phase_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_set_value_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_toggle_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_node_allocation_actions.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/global_mocks.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/index.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/save_policy_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/set_replicas_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/types.ts
  x-pack/plugins/index_lifecycle_management/common/types/policies.ts
  x-pack/plugins/index_lifecycle_management/public/application/lib/data_tiers/get_available_node_roles_for_phase.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/data_tier_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_nodes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_tiers_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/index.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_custom_attributes_messages.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_node_attributes_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_role_to_fallback_tier_map.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/types.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/data_tier_allocation_field.tsx
  x-pack/plugins/index_lifecycle_management/public/application/services/documentation.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#98998 [7.x] [Reporting] code cleanup for reporting browser build/install/setup utilities (#98799)
  src/dev/chromium_version.ts
  x-pack/.gitignore
  x-pack/build_chromium/README.md
  x-pack/build_chromium/build.py
  x-pack/build_chromium/build_util.py
  x-pack/build_chromium/darwin/args.gn
  x-pack/build_chromium/init.py
  x-pack/build_chromium/linux/args.gn
  x-pack/build_chromium/windows/args.gn
  x-pack/plugins/reporting/server/browsers/chromium/driver/chromium_driver.ts
  x-pack/plugins/reporting/server/browsers/chromium/driver_factory/index.ts
  x-pack/plugins/reporting/server/browsers/chromium/driver_factory/start_logs.ts
  x-pack/plugins/reporting/server/browsers/chromium/index.ts
  x-pack/plugins/reporting/server/browsers/chromium/paths.ts
  x-pack/plugins/reporting/server/browsers/download/checksum.ts
  x-pack/plugins/reporting/server/browsers/download/clean.ts
  x-pack/plugins/reporting/server/browsers/download/download.ts
  x-pack/plugins/reporting/server/browsers/download/ensure_downloaded.ts
  x-pack/plugins/reporting/server/browsers/download/util.ts
  x-pack/plugins/reporting/server/browsers/extract/extract.test.ts
  x-pack/plugins/reporting/server/browsers/extract/extract.ts
  x-pack/plugins/reporting/server/browsers/extract/extract_error.ts
  x-pack/plugins/reporting/server/browsers/extract/index.ts
  x-pack/plugins/reporting/server/browsers/extract/unzip.ts
  x-pack/plugins/reporting/server/browsers/index.ts
  x-pack/plugins/reporting/server/browsers/install.ts
  x-pack/plugins/reporting/server/lib/screenshots/get_screenshots.ts
Labels: backport

#98828 [ML] Remove versioning check for Analytics list row expansion content functional tests
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation.ts
  x-pack/test/functional/services/ml/data_frame_analytics_table.ts
Labels: :ml, Feature:Data Frame Analytics, release_note:skip, test_ui_functional, v7.13.0, v7.14.0

#98795 [7.x] [ML] Functional tests for Analytics list row expansion content (#98678)
  x-pack/plugins/ml/public/application/components/job_messages/job_messages.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_details_pane.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_json_pane.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_messages_pane.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation.ts
  x-pack/test/functional/apps/ml/permissions/full_ml_access.ts
  x-pack/test/functional/apps/ml/permissions/read_ml_access.ts
  x-pack/test/functional/services/ml/data_frame_analytics_table.ts
Labels: backport

#98794 [7.13] [ML] Functional tests for Analytics list row expansion content (#98678)
  x-pack/plugins/ml/public/application/components/job_messages/job_messages.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_details_pane.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_json_pane.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/expanded_row_messages_pane.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation.ts
  x-pack/test/functional/apps/ml/permissions/full_ml_access.ts
  x-pack/test/functional/apps/ml/permissions/read_ml_access.ts
  x-pack/test/functional/services/ml/data_frame_analytics_table.ts
Labels: backport

#98919 [Search Sessions] adjust docs for 7.13 changes
  docs/discover/images/search-session-awhile.png
  docs/discover/images/search-session.png
  docs/discover/images/search-sessions-menu.png
  docs/discover/search-sessions.asciidoc
Labels: Feature:Search, Team:AppServices, docs, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#99025 [7.13] [Search Sessions] adjust docs for 7.13 changes (#98919)
  docs/discover/images/search-session-awhile.png
  docs/discover/images/search-session.png
  docs/discover/images/search-sessions-menu.png
  docs/discover/search-sessions.asciidoc
Labels: backport

#99024 [7.x] [Search Sessions] adjust docs for 7.13 changes (#98919)
  docs/discover/images/search-session-awhile.png
  docs/discover/images/search-session.png
  docs/discover/images/search-sessions-menu.png
  docs/discover/search-sessions.asciidoc
Labels: backport

#98970 [Fleet] Remove disabled uninstall button for some integrations
  x-pack/plugins/fleet/public/applications/fleet/sections/epm/screens/detail/settings/settings.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:Fleet, release_note:skip, v7.14.0, v8.0.0

#98964 [7.x] [ML] Fix alerting rule preview (#98907)
  x-pack/plugins/ml/public/alerting/config_validator.tsx
  x-pack/plugins/ml/public/alerting/interim_results_control.tsx
  x-pack/plugins/ml/public/alerting/ml_anomaly_alert_trigger.tsx
  x-pack/plugins/ml/public/alerting/preview_alert_condition.tsx
  x-pack/plugins/ml/server/lib/alerts/alerting_service.ts
  x-pack/test/functional_with_es_ssl/apps/ml/alert_flyout.ts
Labels: backport

#98779 [Fleet] Namespace - Provide better descriptions and access to more info
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/step_define_package_policy.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:EPM, Team:Docs, Team:Fleet, auto-backport, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#98253 Turn off progress plugin in storybook
  packages/kbn-storybook/webpack.config.ts
Labels: auto-backport, release_note:skip, v7.14.0, v8.0.0

#98065 [Alerting] Properly validating of multiple actions using same connector id when creating/editing rule
  x-pack/plugins/triggers_actions_ui/public/application/lib/value_validators.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/value_validators.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_form.tsx
Labels: Feature:Alerting, Team:Alerting Services, auto-backport, release_note:skip, v7.14.0, v8.0.0

#99038 [7.x] [Fleet] Namespace - Provide better descriptions and access to more info (#98779)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/step_define_package_policy.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#99037 [7.13] [Fleet] Namespace - Provide better descriptions and access to more info (#98779)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_form.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/step_define_package_policy.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#98923 [ML] Transforms/Data Frame Analytics: Fix data grid height.
  x-pack/plugins/ml/public/application/components/data_grid/data_grid.tsx
  x-pack/plugins/transform/public/app/hooks/use_index_data.test.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row.test.tsx
Labels: :ml, Feature:Data Frame Analytics, Feature:Transforms, auto-backport, bug, regression, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#98940 [Security Solutions][UI/UX] Empty APM index pattern hidden from data source selector
  x-pack/plugins/security_solution/server/search_strategy/index_fields/index.test.ts
  x-pack/plugins/security_solution/server/search_strategy/index_fields/index.ts
Labels: Team: SecuritySolution, Team:Threat Hunting, bug, release_note:skip, v7.12.2, v7.13.0, v8.0.0

#98637 [Security Solution][Timeline] - Fix the continued flake for one of the timeline cypress tests
  x-pack/plugins/security_solution/cypress/integration/timelines/notes_tab.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/open_timeline.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/query_tab.spec.ts
  x-pack/plugins/security_solution/cypress/screens/timeline.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
Labels: Team:Detections and Resp, Team:Threat Hunting, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#99050 RFC- How this scales
  rfcs/0000_template.md
Labels: release_note:skip, v8.0.0

#98291 [APM] Creating e2e test for Comparison Feature
  package.json
  x-pack/plugins/apm/ftr_e2e/cypress/integration/home.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/home.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/time_comparison.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
  x-pack/plugins/apm/ftr_e2e/cypress/tasks/es_archiver.ts
  x-pack/plugins/apm/ftr_e2e/tsconfig.json
  x-pack/plugins/apm/public/components/shared/charts/chart_container.tsx
  x-pack/plugins/apm/public/components/shared/charts/timeseries_chart.tsx
  yarn.lock
Labels: Team:apm, auto-backport, release_note:skip, v7.14.0

#99047 [7.13] [Discover][DocViewer] Fix toggle columns from doc viewer table tab (#95748)
  src/plugins/discover/public/application/components/doc_viewer/doc_viewer_tab.test.tsx
  src/plugins/discover/public/application/components/doc_viewer/doc_viewer_tab.tsx
Labels: backport

#99048 [7.x] Allowing validation of multiple actions with same connector id (#98065)
  x-pack/plugins/triggers_actions_ui/public/application/lib/value_validators.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/value_validators.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_form/alert_form.tsx
Labels: backport

#99003 fix(NA): @kbn/babel-code-parser bazel build to link to the local .babelrc config
  packages/kbn-babel-code-parser/BUILD.bazel
Labels: Team:Operations, auto-backport, chore, release_note:skip, v7.14.0, v8.0.0

#99049 [7.x] [Fleet] Remove disabled uninstall button for some integrations (#98970)
  x-pack/plugins/fleet/public/applications/fleet/sections/epm/screens/detail/settings/settings.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#98328 [Maps] add attribution to layer editor
  x-pack/plugins/maps/common/descriptor_types/layer_descriptor_types.ts
  x-pack/plugins/maps/common/descriptor_types/source_descriptor_types.ts
  x-pack/plugins/maps/common/migrations/move_attribution.test.ts
  x-pack/plugins/maps/common/migrations/move_attribution.ts
  x-pack/plugins/maps/public/actions/layer_actions.ts
  x-pack/plugins/maps/public/actions/map_action_constants.ts
  x-pack/plugins/maps/public/classes/layers/layer.tsx
  x-pack/plugins/maps/public/classes/sources/ems_file_source/ems_file_source.tsx
  x-pack/plugins/maps/public/classes/sources/ems_tms_source/ems_tms_source.js
  x-pack/plugins/maps/public/classes/sources/ems_tms_source/ems_tms_source.test.js
  x-pack/plugins/maps/public/classes/sources/kibana_tilemap_source/kibana_tilemap_source.js
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/classes/sources/tms_source/tms_source.d.ts
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_create_source_editor.js
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_source.js
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/__snapshots__/xyz_tms_editor.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_editor.test.tsx
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_editor.tsx
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_source.ts
  x-pack/plugins/maps/public/connected_components/layer_panel/_index.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/__snapshots__/attribution_form_row.test.tsx.snap
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/_attribution_form_row.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/_attribution_popover.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/_index.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/attribution_form_row.test.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/attribution_form_row.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/attribution_popover.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/index.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/layer_settings.tsx
  x-pack/plugins/maps/public/connected_components/right_side_controls/attribution_control/attribution_control.tsx
  x-pack/plugins/maps/public/reducers/map/layer_utils.ts
  x-pack/plugins/maps/public/reducers/map/map.ts
  x-pack/plugins/maps/server/saved_objects/migrations.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/api_integration/apis/maps/migrations.js
Labels: Team:Geo, release_note:enhancement, v7.14.0, v8.0.0

#99015 [Osquery] Fix Live query form errors handling
  x-pack/plugins/osquery/common/search_strategy/osquery/results/index.ts
  x-pack/plugins/osquery/kibana.json
  x-pack/plugins/osquery/public/action_results/action_results_summary.tsx
  x-pack/plugins/osquery/public/action_results/use_action_results.ts
  x-pack/plugins/osquery/public/fleet_integration/osquery_managed_policy_create_import_extension.tsx
  x-pack/plugins/osquery/public/live_queries/form/index.tsx
  x-pack/plugins/osquery/public/queries/edit/tabs.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/results/use_all_results.ts
  x-pack/plugins/osquery/public/routes/live_queries/details/actions_menu.tsx
  x-pack/plugins/osquery/public/routes/live_queries/details/index.tsx
  x-pack/plugins/osquery/public/routes/scheduled_query_groups/details/actions_menu.tsx
  x-pack/plugins/osquery/public/routes/scheduled_query_groups/details/index.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/active_state_switch.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/add_query_flyout.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/edit_query_flyout.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/queries_field.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/scheduled_query_group_queries_table.tsx
  x-pack/plugins/osquery/public/types.ts
  x-pack/plugins/osquery/server/lib/parse_agent_groups.ts
  x-pack/plugins/osquery/server/routes/action/create_action_route.ts
  x-pack/plugins/osquery/server/search_strategy/osquery/factory/results/query.all_results.dsl.ts
Labels: Team:Asset Management, auto-backport, release_note:feature, v7.13.0, v7.14.0, v8.0.0

#98969 [Enterprise Search] Refactor out IndexingStatus to just a SchemaErrorsCallout
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_content.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_content.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_errors.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_errors.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_logic.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_callout/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_callout/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_callout/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/index.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema.tsx
  x-pack/plugins/enterprise_search/server/routes/workplace_search/sources.test.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/sources.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: auto-backport, release_note:skip, technical debt, v7.14.0

#99052 [7.13] [Security_Solution][ Fix alert details table and resolver scroll bug (#98546)
  x-pack/plugins/security_solution/public/common/components/event_details/columns.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/resolver/store/data/selectors.ts
  x-pack/plugins/security_solution/public/resolver/store/selectors.ts
  x-pack/plugins/security_solution/public/resolver/view/resolver_without_providers.tsx
Labels: backport

#99054 [7.x] [ML] Transforms/Data Frame Analytics: Fix data grid height. (#98923)
  x-pack/plugins/ml/public/application/components/data_grid/data_grid.tsx
  x-pack/plugins/transform/public/app/hooks/use_index_data.test.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row.test.tsx
Labels: backport

#99053 [7.12] [Security_Solution][ Fix alert details table and resolver scroll bug (#98546)
  x-pack/plugins/security_solution/public/common/components/event_details/columns.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/resolver/store/data/selectors.ts
  x-pack/plugins/security_solution/public/resolver/store/selectors.ts
  x-pack/plugins/security_solution/public/resolver/view/resolver_without_providers.tsx
Labels: backport

#99055 [7.13] [ML] Transforms/Data Frame Analytics: Fix data grid height. (#98923)
  x-pack/plugins/ml/public/application/components/data_grid/data_grid.tsx
  x-pack/plugins/transform/public/app/hooks/use_index_data.test.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row.test.tsx
Labels: backport

#99056 [7.13] check data present for apm indices to consider it exists on seach strategy (#98940)
  x-pack/plugins/security_solution/server/search_strategy/index_fields/index.test.ts
  x-pack/plugins/security_solution/server/search_strategy/index_fields/index.ts
Labels: backport

#99058 [7.x] [Security Solution][Timeline] - Fix the continued flake for one of the timeline cypress tests (#98637)
  x-pack/plugins/security_solution/cypress/integration/timelines/notes_tab.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/open_timeline.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/query_tab.spec.ts
  x-pack/plugins/security_solution/cypress/screens/timeline.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
Labels: backport

#99059 [7.13] [Security Solution][Timeline] - Fix the continued flake for one of the timeline cypress tests (#98637)
  x-pack/plugins/security_solution/cypress/integration/timelines/notes_tab.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/open_timeline.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/query_tab.spec.ts
  x-pack/plugins/security_solution/cypress/screens/timeline.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
Labels: backport

#99057 [7.12] check data present for apm indices to consider it exists on seach strategy (#98940)
  x-pack/plugins/security_solution/server/search_strategy/index_fields/index.test.ts
  x-pack/plugins/security_solution/server/search_strategy/index_fields/index.ts
Labels: backport

#99061 [ML] Fix pagination and sorting on trained models list page
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/expanded_row.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/models_list.tsx
Labels: :ml, Feature:Data Frame Analytics, release_note:fix, v7.12.2, v7.13.0, v7.14.0, v8.0.0

#98988 Reporting/Docs: update version of reporting_user deprecation
  docs/settings/reporting-settings.asciidoc
  docs/user/reporting/index.asciidoc
  docs/user/security/reporting.asciidoc
Labels: Feature:Reporting, docs, release_note:skip, v7.14.0, v8.0.0

#99085 [7.x] Reporting/Docs: update version of reporting_user deprecation (#98988)
  docs/settings/reporting-settings.asciidoc
  docs/user/reporting/index.asciidoc
  docs/user/security/reporting.asciidoc
Labels: backport

#98535 [CI] Create a ciGroup just for tests that use Docker
  .ci/es-snapshots/Jenkinsfile_verify_es
  .ci/jobs.yml
  test/scripts/jenkins_xpack_build_kibana.sh
  vars/kibanaPipeline.groovy
  vars/tasks.groovy
  vars/workers.groovy
  x-pack/test/fleet_api_integration/apis/index.js
  x-pack/test/security_solution_endpoint/apps/endpoint/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
Labels: Feature:CI, Team:Fleet, Team:Operations, release_note:skip, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#99065 [App Search] Fixed Search UI route
  x-pack/plugins/enterprise_search/server/routes/app_search/search_ui.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_ui.ts
Labels: release_note:skip, v7.14.0

#99066 [7.x] [APM] Creating e2e test for Comparison Feature (#98291)
  package.json
  x-pack/plugins/apm/ftr_e2e/cypress/integration/home.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/home.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/time_comparison.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
  x-pack/plugins/apm/ftr_e2e/cypress/tasks/es_archiver.ts
  x-pack/plugins/apm/ftr_e2e/tsconfig.json
  x-pack/plugins/apm/public/components/shared/charts/chart_container.tsx
  x-pack/plugins/apm/public/components/shared/charts/timeseries_chart.tsx
  yarn.lock
Labels: backport

#99067 [7.x] Turn off progress plugin in storybook (#98253)
  packages/kbn-storybook/webpack.config.ts
Labels: backport

#99073 [7.x] [Maps] add attribution to layer editor (#98328)
  x-pack/plugins/maps/common/descriptor_types/layer_descriptor_types.ts
  x-pack/plugins/maps/common/descriptor_types/source_descriptor_types.ts
  x-pack/plugins/maps/common/migrations/move_attribution.test.ts
  x-pack/plugins/maps/common/migrations/move_attribution.ts
  x-pack/plugins/maps/public/actions/layer_actions.ts
  x-pack/plugins/maps/public/actions/map_action_constants.ts
  x-pack/plugins/maps/public/classes/layers/layer.tsx
  x-pack/plugins/maps/public/classes/sources/ems_file_source/ems_file_source.tsx
  x-pack/plugins/maps/public/classes/sources/ems_tms_source/ems_tms_source.js
  x-pack/plugins/maps/public/classes/sources/ems_tms_source/ems_tms_source.test.js
  x-pack/plugins/maps/public/classes/sources/kibana_tilemap_source/kibana_tilemap_source.js
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/classes/sources/tms_source/tms_source.d.ts
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_create_source_editor.js
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_source.js
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/__snapshots__/xyz_tms_editor.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_editor.test.tsx
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_editor.tsx
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_source.ts
  x-pack/plugins/maps/public/connected_components/layer_panel/_index.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/__snapshots__/attribution_form_row.test.tsx.snap
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/_attribution_form_row.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/_attribution_popover.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/_index.scss
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/attribution_form_row.test.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/attribution_form_row.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/attribution_popover.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/index.tsx
  x-pack/plugins/maps/public/connected_components/layer_panel/layer_settings/layer_settings.tsx
  x-pack/plugins/maps/public/connected_components/right_side_controls/attribution_control/attribution_control.tsx
  x-pack/plugins/maps/public/reducers/map/layer_utils.ts
  x-pack/plugins/maps/public/reducers/map/map.ts
  x-pack/plugins/maps/server/saved_objects/migrations.js
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/api_integration/apis/maps/migrations.js
Labels: backport

#99075 [7.x] [Enterprise Search] Refactor out IndexingStatus to just a SchemaErrorsCallout (#98969)
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_content.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_content.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_errors.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_errors.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/shared/indexing_status/indexing_status_logic.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_callout/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_callout/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_callout/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/index.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/constants.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema.tsx
  x-pack/plugins/enterprise_search/server/routes/workplace_search/sources.test.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/sources.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#99074 [7.13] [Osquery] Fix Live query form errors handling (#99015)
  x-pack/plugins/osquery/common/search_strategy/osquery/results/index.ts
  x-pack/plugins/osquery/kibana.json
  x-pack/plugins/osquery/public/action_results/action_results_summary.tsx
  x-pack/plugins/osquery/public/action_results/use_action_results.ts
  x-pack/plugins/osquery/public/fleet_integration/osquery_managed_policy_create_import_extension.tsx
  x-pack/plugins/osquery/public/live_queries/form/index.tsx
  x-pack/plugins/osquery/public/queries/edit/tabs.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/results/use_all_results.ts
  x-pack/plugins/osquery/public/routes/live_queries/details/actions_menu.tsx
  x-pack/plugins/osquery/public/routes/live_queries/details/index.tsx
  x-pack/plugins/osquery/public/routes/scheduled_query_groups/details/actions_menu.tsx
  x-pack/plugins/osquery/public/routes/scheduled_query_groups/details/index.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/active_state_switch.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/add_query_flyout.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/edit_query_flyout.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/queries_field.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/scheduled_query_group_queries_table.tsx
  x-pack/plugins/osquery/public/types.ts
  x-pack/plugins/osquery/server/lib/parse_agent_groups.ts
  x-pack/plugins/osquery/server/routes/action/create_action_route.ts
  x-pack/plugins/osquery/server/search_strategy/osquery/factory/results/query.all_results.dsl.ts
Labels: backport

#99076 [7.x] [Osquery] Fix Live query form errors handling (#99015)
  x-pack/plugins/osquery/common/search_strategy/osquery/results/index.ts
  x-pack/plugins/osquery/kibana.json
  x-pack/plugins/osquery/public/action_results/action_results_summary.tsx
  x-pack/plugins/osquery/public/action_results/use_action_results.ts
  x-pack/plugins/osquery/public/fleet_integration/osquery_managed_policy_create_import_extension.tsx
  x-pack/plugins/osquery/public/live_queries/form/index.tsx
  x-pack/plugins/osquery/public/queries/edit/tabs.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/results/use_all_results.ts
  x-pack/plugins/osquery/public/routes/live_queries/details/actions_menu.tsx
  x-pack/plugins/osquery/public/routes/live_queries/details/index.tsx
  x-pack/plugins/osquery/public/routes/scheduled_query_groups/details/actions_menu.tsx
  x-pack/plugins/osquery/public/routes/scheduled_query_groups/details/index.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/active_state_switch.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/add_query_flyout.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/edit_query_flyout.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/form/queries_field.tsx
  x-pack/plugins/osquery/public/scheduled_query_groups/scheduled_query_group_queries_table.tsx
  x-pack/plugins/osquery/public/types.ts
  x-pack/plugins/osquery/server/lib/parse_agent_groups.ts
  x-pack/plugins/osquery/server/routes/action/create_action_route.ts
  x-pack/plugins/osquery/server/search_strategy/osquery/factory/results/query.all_results.dsl.ts
Labels: backport

#99081 [7.13] [ML] Fix pagination and sorting on trained models list page (#99061)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/expanded_row.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/models_list.tsx
Labels: backport

#99080 [7.x] [ML] Fix pagination and sorting on trained models list page (#99061)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/expanded_row.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/models_list.tsx
Labels: backport

#99082 [7.12] [ML] Fix pagination and sorting on trained models list page (#99061)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/expanded_row.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/models_management/models_list.tsx
Labels: backport

#99007 Reintroduce 96111: Provide guidance of "Custom" allocation behavior in ILM
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/app/app.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/init_test_bed.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_enable_phase_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_set_value_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_toggle_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_node_allocation_actions.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/global_mocks.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/index.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/save_policy_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/set_replicas_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/types.ts
  x-pack/plugins/index_lifecycle_management/common/types/policies.ts
  x-pack/plugins/index_lifecycle_management/public/application/lib/data_tiers/get_available_node_roles_for_phase.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/data_tier_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_nodes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_tiers_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/index.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_custom_attributes_messages.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_node_attributes_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_role_to_fallback_tier_map.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/types.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/data_tier_allocation_field.tsx
  x-pack/plugins/index_lifecycle_management/public/application/services/documentation.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:ILM, Team:Elasticsearch UI, chore, release_note:skip, v7.14.0, v8.0.0

#99009 [x-pack/build] exclude plugins/*/target when copying source to build
  x-pack/tasks/build.ts
Labels: Team:Operations, auto-backport, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#99070 [7.x] fix(NA): @kbn/babel-code-parser bazel build to link to the local .babelrc config (#99003)
  packages/kbn-babel-code-parser/BUILD.bazel
Labels: backport

#98739 [Fleet] Remove Agent events saved object and unused types
  x-pack/plugins/fleet/common/constants/agent.ts
  x-pack/plugins/fleet/common/constants/routes.ts
  x-pack/plugins/fleet/common/openapi/components/schemas/agent.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@{agent_id}@events.yaml
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/routes.ts
  x-pack/plugins/fleet/common/types/models/agent.ts
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/public/applications/fleet/constants/index.ts
  x-pack/plugins/fleet/public/applications/fleet/hooks/use_request/agents.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_health.tsx
  x-pack/plugins/fleet/public/applications/fleet/types/index.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/routes/agent/index.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v7_10_0.ts
  x-pack/plugins/fleet/server/services/agents/events.ts
  x-pack/plugins/fleet/server/services/agents/helpers.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/agents/saved_objects.ts
  x-pack/plugins/fleet/server/services/agents/status.ts
  x-pack/plugins/fleet/server/types/index.tsx
  x-pack/plugins/fleet/server/types/models/agent.ts
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
  x-pack/plugins/security_solution/common/endpoint/index_data.ts
  x-pack/plugins/security_solution/server/usage/endpoints/endpoint.mocks.ts
  x-pack/plugins/security_solution/server/usage/endpoints/endpoint.test.ts
  x-pack/plugins/security_solution/server/usage/endpoints/fleet_saved_objects.ts
  x-pack/plugins/security_solution/server/usage/endpoints/index.ts
Labels: Team:Fleet, auto-backport, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#99088 [7.x] [CI] Create a ciGroup just for tests that use Docker (#98535)
  .ci/es-snapshots/Jenkinsfile_verify_es
  .ci/jobs.yml
  test/scripts/jenkins_xpack_build_kibana.sh
  vars/kibanaPipeline.groovy
  vars/tasks.groovy
  vars/workers.groovy
  x-pack/test/fleet_api_integration/apis/index.js
  x-pack/test/security_solution_endpoint/apps/endpoint/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
Labels: backport, release_note:skip

#99090 [7.13] [CI] Create a ciGroup just for tests that use Docker (#98535)
  .ci/es-snapshots/Jenkinsfile_verify_es
  .ci/jobs.yml
  test/scripts/jenkins_xpack_build_kibana.sh
  vars/kibanaPipeline.groovy
  vars/tasks.groovy
  vars/workers.groovy
  x-pack/test/fleet_api_integration/apis/index.js
  x-pack/test/security_solution_endpoint/apps/endpoint/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
Labels: backport, release_note:skip

#99094 [7.13] [Uptime] Fix Monitor status toggle alert receovery state (#89273)
  x-pack/plugins/uptime/public/components/monitor/monitor_title.tsx
  x-pack/plugins/uptime/public/components/overview/monitor_list/columns/__snapshots__/enable_alert.test.tsx.snap
  x-pack/plugins/uptime/public/components/overview/monitor_list/columns/enable_alert.test.tsx
  x-pack/plugins/uptime/public/components/overview/monitor_list/columns/enable_alert.tsx
  x-pack/plugins/uptime/public/components/overview/monitor_list/monitor_list.tsx
  x-pack/plugins/uptime/public/components/overview/synthetics_callout.test.tsx
  x-pack/plugins/uptime/public/components/overview/synthetics_callout.tsx
  x-pack/plugins/uptime/public/state/api/alert_actions.test.ts
  x-pack/plugins/uptime/public/state/api/alert_actions.ts
  x-pack/plugins/uptime/public/state/api/alerts.ts
  x-pack/plugins/uptime/server/lib/alerts/status_check.ts
  x-pack/test/functional_with_es_ssl/apps/uptime/simple_down_alert.ts
Labels: backport

#99091 [7.12] [CI] Create a ciGroup just for tests that use Docker (#98535)
  .ci/es-snapshots/Jenkinsfile_verify_es
  .ci/jobs.yml
  test/scripts/jenkins_xpack_build_kibana.sh
  vars/kibanaPipeline.groovy
  vars/tasks.groovy
  vars/workers.groovy
  x-pack/test/fleet_api_integration/apis/index.js
  x-pack/test/security_solution_endpoint/apps/endpoint/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
Labels: backport, release_note:skip

#99093 [7.x] Fixed Search UI route (#99065)
  x-pack/plugins/enterprise_search/server/routes/app_search/search_ui.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/search_ui.ts
Labels: backport

#99097 [Security Solution][Timeline] - Update cypress tests
  x-pack/plugins/security_solution/cypress/integration/timelines/notes_tab.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/open_timeline.spec.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
Labels: Team:Threat Hunting, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#98094 Fix malformed geo alerts call to `transformResults`
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/alert_type.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/geo_containment.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response_shapes.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response_with_nesting.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/geo_containment.test.ts
Labels: Feature:Alerting, Team:Geo, bug, release_note:skip, v7.13.0, v8.0.0

#99107 [7.13] [x-pack/build] exclude plugins/*/target when copying source to build (#99009)
  x-pack/tasks/build.ts
Labels: backport

#99108 [7.x] [x-pack/build] exclude plugins/*/target when copying source to build (#99009)
  x-pack/tasks/build.ts
Labels: backport

#99084 [Fleet] Fix fleet server host port during settings creation
  x-pack/plugins/fleet/server/services/settings.ts
  x-pack/test/fleet_api_integration/apis/settings/update.ts
Labels: Team:Fleet, bug, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#99113 [7.x] [Fleet] Remove Agent events saved object and unused types (#98739)
  x-pack/plugins/fleet/common/constants/agent.ts
  x-pack/plugins/fleet/common/constants/routes.ts
  x-pack/plugins/fleet/common/openapi/components/schemas/agent.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@{agent_id}@events.yaml
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/routes.ts
  x-pack/plugins/fleet/common/types/models/agent.ts
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/public/applications/fleet/constants/index.ts
  x-pack/plugins/fleet/public/applications/fleet/hooks/use_request/agents.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_health.tsx
  x-pack/plugins/fleet/public/applications/fleet/types/index.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/routes/agent/index.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v7_10_0.ts
  x-pack/plugins/fleet/server/services/agents/events.ts
  x-pack/plugins/fleet/server/services/agents/helpers.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/agents/saved_objects.ts
  x-pack/plugins/fleet/server/services/agents/status.ts
  x-pack/plugins/fleet/server/types/index.tsx
  x-pack/plugins/fleet/server/types/models/agent.ts
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
  x-pack/plugins/security_solution/common/endpoint/index_data.ts
  x-pack/plugins/security_solution/server/usage/endpoints/endpoint.mocks.ts
  x-pack/plugins/security_solution/server/usage/endpoints/endpoint.test.ts
  x-pack/plugins/security_solution/server/usage/endpoints/fleet_saved_objects.ts
  x-pack/plugins/security_solution/server/usage/endpoints/index.ts
Labels: backport

#99111 [7.13] [Fleet] Remove Agent events saved object and unused types (#98739)
  x-pack/plugins/fleet/common/constants/agent.ts
  x-pack/plugins/fleet/common/constants/routes.ts
  x-pack/plugins/fleet/common/openapi/components/schemas/agent.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@{agent_id}@events.yaml
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/routes.ts
  x-pack/plugins/fleet/common/types/models/agent.ts
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/public/applications/fleet/constants/index.ts
  x-pack/plugins/fleet/public/applications/fleet/hooks/use_request/agents.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_health.tsx
  x-pack/plugins/fleet/public/applications/fleet/types/index.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/routes/agent/index.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v7_10_0.ts
  x-pack/plugins/fleet/server/services/agents/events.ts
  x-pack/plugins/fleet/server/services/agents/helpers.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/agents/saved_objects.ts
  x-pack/plugins/fleet/server/services/agents/status.ts
  x-pack/plugins/fleet/server/types/index.tsx
  x-pack/plugins/fleet/server/types/models/agent.ts
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
  x-pack/plugins/security_solution/common/endpoint/index_data.ts
  x-pack/plugins/security_solution/server/usage/endpoints/endpoint.mocks.ts
  x-pack/plugins/security_solution/server/usage/endpoints/endpoint.test.ts
  x-pack/plugins/security_solution/server/usage/endpoints/fleet_saved_objects.ts
  x-pack/plugins/security_solution/server/usage/endpoints/index.ts
Labels: backport

#98545 [docs/build] Update build dependencies list
  docs/developer/getting-started/building-kibana.asciidoc
Labels: Team:Docs, Team:Operations, release_note:skip, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#99106 Reintroduce 96111: Provide guidance of "Custom" allocation behavior in ILM (#99007)
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/app/app.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/edit_policy.helpers.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cloud_aware_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/cold_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/general_behavior.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.helpers.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/features/node_allocation/warm_phase.test.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/edit_policy/init_test_bed.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_enable_phase_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_set_value_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_form_toggle_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/create_node_allocation_actions.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/global_mocks.tsx
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/index.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/save_policy_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/set_replicas_action.ts
  x-pack/plugins/index_lifecycle_management/__jest__/client_integration/helpers/types.ts
  x-pack/plugins/index_lifecycle_management/common/types/policies.ts
  x-pack/plugins/index_lifecycle_management/public/application/lib/data_tiers/get_available_node_roles_for_phase.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/data_tier_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_allocation_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_nodes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/default_to_data_tiers_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/index.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_custom_attributes_messages.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_node_attributes_warning.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/no_tiers_available_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_allocation.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/node_role_to_fallback_tier_map.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/types.ts
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/components/will_use_fallback_tier_using_node_attributes_notice.tsx
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phases/shared_fields/data_tier_allocation_field/data_tier_allocation_field.tsx
  x-pack/plugins/index_lifecycle_management/public/application/services/documentation.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#99123 [7.x] [Security Solution][Timeline] - update flakey timeline cypress tests (#99097)
  x-pack/plugins/security_solution/cypress/integration/timelines/notes_tab.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/open_timeline.spec.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
Labels: backport

#99118 [Maps][File upload] Add validation check that ensure index name has been provided
  x-pack/plugins/file_upload/public/validate_index_name.ts
Labels: Feature:File Upload, Team:Geo, release_note:skip, v7.14.0, v8.0.0

#99014 [Bug] Fix saved query parsing
  src/plugins/data/public/query/saved_query/saved_query_service.test.ts
  src/plugins/data/public/query/saved_query/saved_query_service.ts
Labels: Team:AppServices, auto-backport, bug, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#98773 [Alerting][Docs] Adding query to identify long running rules to docs
  docs/user/alerting/alerting-troubleshooting.asciidoc
Labels: Feature:Alerting, Team:Alerting Services, auto-backport, release_note:skip, v7.14.0, v8.0.0

#99069 [Enterprise Search] Refactor shared SchemaErrorsAccordion component
  x-pack/plugins/enterprise_search/public/applications/shared/schema/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/schema_errors_accordion.scss
  x-pack/plugins/enterprise_search/public/applications/shared/schema/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/schema_errors_accordion.scss
  x-pack/plugins/enterprise_search/public/applications/shared/schema/schema_errors_accordion.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema_change_errors.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema_change_errors.tsx
Labels: auto-backport, release_note:skip, technical debt, v7.14.0

#99132 [7.13] Fix malformed geo alerts call to `transformResults` (#98094)
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/alert_type.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/geo_containment.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response_shapes.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response_with_nesting.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/geo_containment.test.ts
Labels: backport

#99131 [7.x] Fix malformed geo alerts call to `transformResults` (#98094)
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/alert_type.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/geo_containment.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response_shapes.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/es_sample_response_with_nesting.json
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/geo_containment.test.ts
Labels: backport

#99141 [7.x] [Alerting][Docs] Adding query to identify long running rules to docs (#98773)
  docs/user/alerting/alerting-troubleshooting.asciidoc
Labels: backport

#99138 [7.x] [Maps][File upload] Add validation check that ensure index name has been provided (#99118)
  x-pack/plugins/file_upload/public/validate_index_name.ts
Labels: backport

#99124 [7.13] [Security Solution][Timeline] - update flakey timeline cypress tests (#99097)
  x-pack/plugins/security_solution/cypress/integration/timelines/notes_tab.spec.ts
  x-pack/plugins/security_solution/cypress/integration/timelines/open_timeline.spec.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
Labels: backport

#99140 [7.x] [Bug] Fix saved query parsing (#99014)
  src/plugins/data/public/query/saved_query/saved_query_service.test.ts
  src/plugins/data/public/query/saved_query/saved_query_service.ts
Labels: backport

#99139 [7.13] [Bug] Fix saved query parsing (#99014)
  src/plugins/data/public/query/saved_query/saved_query_service.test.ts
  src/plugins/data/public/query/saved_query/saved_query_service.ts
Labels: backport

#99142 [7.x] [Enterprise Search] Refactor shared SchemaErrorsAccordion component (#99069)
  x-pack/plugins/enterprise_search/public/applications/shared/schema/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/errors_accordion/schema_errors_accordion.scss
  x-pack/plugins/enterprise_search/public/applications/shared/schema/index.ts
  x-pack/plugins/enterprise_search/public/applications/shared/schema/schema_errors_accordion.scss
  x-pack/plugins/enterprise_search/public/applications/shared/schema/schema_errors_accordion.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema_change_errors.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/schema/schema_change_errors.tsx
Labels: backport

#99103 Observability alerting flyout and page layout improvements
  x-pack/plugins/observability/public/pages/alerts/alerts_flyout/index.tsx
  x-pack/plugins/observability/public/pages/alerts/index.tsx
  x-pack/plugins/observability/public/pages/cases/index.tsx
Labels: Team:Observability, Theme: rac, auto-backport, release_note:skip, v7.14.0

#99152 [7.x] Observability alerting flyout and page layout improvements (#99103)
  x-pack/plugins/observability/public/pages/alerts/alerts_flyout/index.tsx
  x-pack/plugins/observability/public/pages/alerts/index.tsx
  x-pack/plugins/observability/public/pages/cases/index.tsx
Labels: backport

#99130 [SECURITY SOLUTION] Fix unmapped field timeline
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/all/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/columns.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/cti/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
Labels: Team:Threat Hunting, auto-backport, bug, impact:critical, release_note:skip, v7.12.2, v7.13.0, v7.14.0, v8.0.0

#99155 [7.13] [SECURITY SOLUTION] Fix unmapped field timeline (#99130)
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/all/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/columns.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/cti/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
Labels: backport

#98800 [Security Solution] adds 'Alert details with unmapped fields' test
  x-pack/plugins/security_solution/cypress/integration/detection_alerts/alerts_details.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts_details.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/test/security_solution_cypress/es_archives/unmapped_fields/data.json
  x-pack/test/security_solution_cypress/es_archives/unmapped_fields/mappings.json
Labels: Team: SecuritySolution, Team:Detections and Resp, release_note:skip, v7.14.0, v8.0.0

#95102 Fixes assignment v comparison and null type check in metrics detail page
  src/core/public/http/types.ts
  x-pack/plugins/infra/public/hooks/use_http_request.tsx
  x-pack/plugins/infra/public/pages/metrics/metric_detail/components/page_error.tsx
  x-pack/plugins/infra/public/types.ts
Labels: release_note:fix, v7.12.1, v7.13.0, v7.14.0, v8.0.0

#99156 [7.x] [SECURITY SOLUTION] Fix unmapped field timeline (#99130)
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/all/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/columns.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/cti/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
Labels: backport

#98720 [Search] use core's sha256, fix cached search abort bug
  src/plugins/data/public/search/search_interceptor/search_interceptor.test.ts
  src/plugins/data/public/search/search_interceptor/search_interceptor.ts
  src/plugins/data/public/search/search_interceptor/utils.ts
Labels: AppServicesSync-7-14, auto-backport, bug, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#99158 [7.x] [Security Solution] adds 'Alert details with unmapped fields' test (#98800)
  x-pack/plugins/security_solution/cypress/integration/detection_alerts/alerts_details.spec.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts_details.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/test/security_solution_cypress/es_archives/unmapped_fields/data.json
  x-pack/test/security_solution_cypress/es_archives/unmapped_fields/mappings.json
Labels: backport

#98770 [Discover] Fix horizontal scrolling of legacy table
  src/plugins/discover/public/application/components/discover.tsx
  test/functional/apps/discover/_doc_table.ts
Labels: Feature:Discover, Team:KibanaApp, release_note:skip, v7.13.0, v7.14.0, v8.0.0

#98918 [Search Sessions] Fix search sessions docs link
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/main.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/documentation.ts
Labels: Feature:Search, Team:AppServices, bug, docs, release_note:fix, v7.12.2, v7.13.0, v7.14.0, v8.0.0

#99039 [Metrics UI] Don't mount AlertFlyout and NodeContextPopover when they aren't visible
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/node.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/node_context_menu.tsx
Labels: Epic: Metrics UI Performance, Feature:Metrics UI, Team:logs-metrics-ui, auto-backport, release_note:fix, v7.14.0, v8.0.0

#98588 [Lens] Avoid to have fieldless operations by restored last valid state
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
Labels: Feature:Lens, Team:KibanaApp, auto-backport, release_note:fix, v7.14.0, v8.0.0

#99162 [7.x] [Search] use core's sha256, fix cached search abort bug (#98720)
  src/plugins/data/public/search/search_interceptor/search_interceptor.test.ts
  src/plugins/data/public/search/search_interceptor/search_interceptor.ts
  src/plugins/data/public/search/search_interceptor/utils.ts
Labels: backport

#98797 Use PiT for outdated document search
  src/core/server/saved_objects/migrations/core/document_migrator.ts
  src/core/server/saved_objects/migrations/core/elastic_index.ts
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.test.ts
  src/core/server/saved_objects/migrationsv2/actions/index.test.ts
  src/core/server/saved_objects/migrationsv2/actions/index.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/archives/8.0.0_migrated_with_outdated_docs.zip
  src/core/server/saved_objects/migrationsv2/integration_tests/outdated_docs.test.ts
  src/core/server/saved_objects/migrationsv2/migrations_state_action_machine.test.ts
  src/core/server/saved_objects/migrationsv2/model.test.ts
  src/core/server/saved_objects/migrationsv2/model.ts
  src/core/server/saved_objects/migrationsv2/next.ts
  src/core/server/saved_objects/migrationsv2/types.ts
Labels: auto-backport, chore, project:ResilientSavedObjectMigrations, release_note:skip, v7.14.0, v8.0.0

#98915 [Search Sessions] Fix display of expired session state in management
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/table/table.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.test.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/types.ts
  x-pack/test/functional/es_archives/data/search_sessions/data.json.gz
  x-pack/test/functional/page_objects/search_sessions_management_page.ts
  x-pack/test/search_sessions_integration/tests/apps/management/search_sessions/sessions_management.ts
Labels: Feature:Search, Team:AppServices, bug, release_note:fix, v7.12.2, v7.13.0, v7.14.0, v8.0.0

#99166 [7.x] [Search Sessions] Fix search sessions docs link (#98918)
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/main.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/documentation.ts
Labels: backport

#99167 [7.13] [Search Sessions] Fix search sessions docs link (#98918)
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/main.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/documentation.ts
Labels: backport

#99168 [7.x] [Metrics UI] Don't mount AlertFlyout and NodeContextPopover when they aren't visible (#99039)
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/node.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/node_context_menu.tsx
Labels: backport

#99169 [7.12] [Search Sessions] Fix search sessions docs link (#98918)
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/main.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/documentation.ts
Labels: backport

#99173 [7.x] [Lens] Avoid to have fieldless operations by restored last valid state (#98588)
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
Labels: backport

#98656 [API DOCS] Usage Collection
  api_docs/usage_collection.json
  api_docs/usage_collection.mdx
  src/fixtures/telemetry_collectors/nested_collector.ts
  src/plugins/data/kibana.json
  src/plugins/data/public/autocomplete/collectors/create_usage_collector.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/public/search/collectors/create_usage_collector.ts
  src/plugins/data/server/server.api.md
  src/plugins/usage_collection/public/components/index.ts
  src/plugins/usage_collection/public/components/track_application_view/track_application_view.tsx
  src/plugins/usage_collection/public/components/track_application_view/types.ts
  src/plugins/usage_collection/public/index.ts
  src/plugins/usage_collection/public/plugin.tsx
  src/plugins/usage_collection/server/collector/collector.test.ts
  src/plugins/usage_collection/server/collector/collector.ts
  src/plugins/usage_collection/server/collector/collector_set.test.ts
  src/plugins/usage_collection/server/collector/collector_set.ts
  src/plugins/usage_collection/server/collector/index.ts
  src/plugins/usage_collection/server/collector/types.ts
  src/plugins/usage_collection/server/collector/usage_collector.ts
  src/plugins/usage_collection/server/index.ts
  src/plugins/usage_collection/server/mocks.ts
  src/plugins/usage_collection/server/plugin.ts
  src/plugins/usage_collection/server/usage_counters/index.ts
  src/plugins/usage_collection/server/usage_counters/saved_objects.ts
  src/plugins/usage_collection/server/usage_counters/usage_counter.ts
  x-pack/plugins/lens/kibana.json
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.tsx
Labels: APIDocs, Feature:Telemetry, Team:Core, Team:KibanaTelemetry, auto-backport, release_note:skip, v7.14.0

#99176 [7.x] Use PiT for outdated document search (#98797)
  src/core/server/saved_objects/migrations/core/document_migrator.ts
  src/core/server/saved_objects/migrations/core/elastic_index.ts
  src/core/server/saved_objects/migrations/kibana/kibana_migrator.test.ts
  src/core/server/saved_objects/migrationsv2/actions/index.test.ts
  src/core/server/saved_objects/migrationsv2/actions/index.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/archives/8.0.0_migrated_with_outdated_docs.zip
  src/core/server/saved_objects/migrationsv2/integration_tests/outdated_docs.test.ts
  src/core/server/saved_objects/migrationsv2/migrations_state_action_machine.test.ts
  src/core/server/saved_objects/migrationsv2/model.test.ts
  src/core/server/saved_objects/migrationsv2/model.ts
  src/core/server/saved_objects/migrationsv2/next.ts
  src/core/server/saved_objects/migrationsv2/types.ts
Labels: backport

#99178 [7.x] [Search Sessions] Fix display of expired session state in management (#98915)
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/table/table.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.test.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/types.ts
  x-pack/test/functional/es_archives/data/search_sessions/data.json.gz
  x-pack/test/functional/page_objects/search_sessions_management_page.ts
  x-pack/test/search_sessions_integration/tests/apps/management/search_sessions/sessions_management.ts
Labels: backport

#99170 Upgrade `underscore` dependency (`1.9.1/1.6.0` → `1.13.1`).
  package.json
  yarn.lock
Labels: auto-backport, chore, release_note:skip, v7.14.0

#99179 [7.13] [Search Sessions] Fix display of expired session state in management (#98915)
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/table/table.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.test.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/types.ts
  x-pack/test/functional/es_archives/data/search_sessions/data.json.gz
  x-pack/test/functional/page_objects/search_sessions_management_page.ts
  x-pack/test/search_sessions_integration/tests/apps/management/search_sessions/sessions_management.ts
Labels: backport

#99032 [Inspector] Fix requests JSON editor height on Safari
  src/plugins/inspector/public/views/requests/_requests.scss
Labels: Team:AppServices, bug, release_note:fix, v7.12.2, v7.13.1, v7.14.0, v8.0.0

#99183 [7.12] [Search Sessions] Fix display of expired session state in management (#98915)
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/components/table/table.test.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.test.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/api.ts
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/types.ts
  x-pack/test/functional/es_archives/data/search_sessions/data.json.gz
  x-pack/test/functional/page_objects/search_sessions_management_page.ts
  x-pack/test/send_search_to_background_integration/tests/apps/management/search_sessions/sessions_management.ts
Labels: backport

#99186 [7.x] [API DOCS] Usage Collection (#98656)
  api_docs/usage_collection.json
  api_docs/usage_collection.mdx
  src/fixtures/telemetry_collectors/nested_collector.ts
  src/plugins/data/kibana.json
  src/plugins/data/public/autocomplete/collectors/create_usage_collector.ts
  src/plugins/data/public/public.api.md
  src/plugins/data/public/search/collectors/create_usage_collector.ts
  src/plugins/data/server/server.api.md
  src/plugins/usage_collection/public/components/index.ts
  src/plugins/usage_collection/public/components/track_application_view/track_application_view.tsx
  src/plugins/usage_collection/public/components/track_application_view/types.ts
  src/plugins/usage_collection/public/index.ts
  src/plugins/usage_collection/public/plugin.tsx
  src/plugins/usage_collection/server/collector/collector.test.ts
  src/plugins/usage_collection/server/collector/collector.ts
  src/plugins/usage_collection/server/collector/collector_set.test.ts
  src/plugins/usage_collection/server/collector/collector_set.ts
  src/plugins/usage_collection/server/collector/index.ts
  src/plugins/usage_collection/server/collector/types.ts
  src/plugins/usage_collection/server/collector/usage_collector.ts
  src/plugins/usage_collection/server/index.ts
  src/plugins/usage_collection/server/mocks.ts
  src/plugins/usage_collection/server/plugin.ts
  src/plugins/usage_collection/server/usage_counters/index.ts
  src/plugins/usage_collection/server/usage_counters/saved_objects.ts
  src/plugins/usage_collection/server/usage_counters/usage_counter.ts
  x-pack/plugins/lens/kibana.json
  x-pack/plugins/lens/public/editor_frame_service/embeddable/embeddable.tsx
Labels: backport

#98930 [Maps][Alerts] Do not show error when re-opening alert
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/__snapshots__/geo_index_pattern_select.test.tsx.snap
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/geo_index_pattern_select.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/geo_index_pattern_select.tsx
Labels: Team:Geo, auto-backport, release_note:skip, v7.13.0, v8.0.0

#98675 [Security Solution][Endpoint] Display list of Endpoint Event Filters
  x-pack/plugins/security_solution/public/common/components/exceptions/translations.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exception_item/exception_details.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exception_item/exception_details.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exception_item/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exception_item/index.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/navigation/breadcrumbs/index.ts
  x-pack/plugins/security_solution/public/management/common/breadcrumbs.ts
  x-pack/plugins/security_solution/public/management/components/paginated_content/paginated_content.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/index.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/service/index.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/state/index.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/action.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/builders.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/middleware.test.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/reducer.test.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/selector.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/selectors.test.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/types.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/components/empty/index.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/event_filters_list_page.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/hooks.ts
  x-pack/plugins/security_solution/public/management/pages/index.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/trusted_apps_grid/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.test.tsx
  x-pack/plugins/security_solution/public/management/state/async_resource_builders.ts
  x-pack/plugins/security_solution/public/management/state/index.ts
Labels: Team:Onboarding and Lifecycle Mgt, release_note:skip, v7.14.0, v8.0.0

#98874 [Discover] Request docvalue fields from fields
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/discover/public/application/components/doc/use_es_doc_search.test.tsx
  src/plugins/discover/public/application/components/doc/use_es_doc_search.ts
Labels: Feature:Discover, Team:KibanaApp, release_note:fix, v7.13.0, v7.14.0, v8.0.0

#99188 [7.x] Pin `underscore` version to `^1.13.1`. (#99170)
  package.json
  yarn.lock
Labels: backport

#98882 [ML] Transforms: Fix handling of fields with keyword mapping available
  x-pack/plugins/transform/common/utils/field_utils.test.ts
  x-pack/plugins/transform/common/utils/field_utils.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/server/routes/api/transforms.ts
  x-pack/test/accessibility/apps/transform.ts
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
  x-pack/test/functional/apps/transform/creation_runtime_mappings.ts
  x-pack/test/functional/apps/transform/editing.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: :ml, Feature:Transforms, auto-backport, bug, release_note:fix, v7.13.0, v7.14.0, v8.0.0

#98995 [Metrics UI] Use the normalized field for CPU usage for Observability Overview
  x-pack/plugins/infra/common/inventory_models/host/metrics/tsvb/host_system_overview.ts
  x-pack/plugins/infra/server/routes/overview/lib/create_top_nodes_query.ts
Labels: Feature:Metrics UI, Team:logs-metrics-ui, release_note:fix, v7.13.0, v7.14.0, v8.0.0

#99195 [7.x] Fixes assignment v comparison and null type check in metrics detail page (#95102)
  src/core/public/http/types.ts
  x-pack/plugins/infra/public/hooks/use_http_request.tsx
  x-pack/plugins/infra/public/pages/metrics/metric_detail/components/page_error.tsx
  x-pack/plugins/infra/public/types.ts
Labels: backport

#99196 [7.x] [Inspector] Fix requests JSON editor height on Safari (#99032)
  src/plugins/inspector/public/views/requests/_requests.scss
Labels: backport

#99197 [7.13] [Inspector] Fix requests JSON editor height on Safari (#99032)
  src/plugins/inspector/public/views/requests/_requests.scss
Labels: backport

#99198 [7.12] [Inspector] Fix requests JSON editor height on Safari (#99032)
  src/plugins/inspector/public/views/requests/_requests.scss
Labels: backport

#99201 [7.13] [Maps][Alerts] Do not show error when re-opening alert (#98930)
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/__snapshots__/geo_index_pattern_select.test.tsx.snap
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/geo_index_pattern_select.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/geo_index_pattern_select.tsx
Labels: backport

#99204 [7.x] [Discover] Request docvalue fields from fields (#98874)
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/discover/public/application/components/doc/use_es_doc_search.test.tsx
  src/plugins/discover/public/application/components/doc/use_es_doc_search.ts
Labels: backport

#99206 [7.x] [Maps][Alerts] Do not show error when re-opening alert (#98930)
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/__snapshots__/geo_index_pattern_select.test.tsx.snap
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/geo_index_pattern_select.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/geo_containment/query_builder/util_components/geo_index_pattern_select.tsx
Labels: backport

#99205 [7.13] [Discover] Request docvalue fields from fields (#98874)
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/discover/public/application/components/doc/use_es_doc_search.test.tsx
  src/plugins/discover/public/application/components/doc/use_es_doc_search.ts
Labels: backport

#99209 [7.13] [ML] Transforms: Fix handling of fields with keyword mapping available (#98882)
  x-pack/plugins/transform/common/utils/field_utils.test.ts
  x-pack/plugins/transform/common/utils/field_utils.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/server/routes/api/transforms.ts
  x-pack/test/accessibility/apps/transform.ts
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
  x-pack/test/functional/apps/transform/creation_runtime_mappings.ts
  x-pack/test/functional/apps/transform/editing.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: backport

#99210 [7.x] [ML] Transforms: Fix handling of fields with keyword mapping available (#98882)
  x-pack/plugins/transform/common/utils/field_utils.test.ts
  x-pack/plugins/transform/common/utils/field_utils.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/server/routes/api/transforms.ts
  x-pack/test/accessibility/apps/transform.ts
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
  x-pack/test/functional/apps/transform/creation_runtime_mappings.ts
  x-pack/test/functional/apps/transform/editing.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: backport

#98618 [Alerting] Handling connectors with missing secrets during rule creation and action execution
  x-pack/plugins/actions/server/create_execute_function.test.ts
  x-pack/plugins/actions/server/create_execute_function.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/tests/create.test.ts
  x-pack/plugins/alerting/server/alerts_client/tests/update.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api/connectors.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api/create.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api/update.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_form.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: Feature:Alerting, Team:Alerting Services, auto-backport, release_note:skip, v7.14.0, v8.0.0

#99098 [APM] e2e tests
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/home.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/header_filters.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/instances_table.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_table/get_columns.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_table/index.tsx
  x-pack/plugins/apm/public/components/shared/KueryBar/Typeahead/Suggestions.js
  x-pack/plugins/apm/public/components/shared/KueryBar/Typeahead/index.js
  x-pack/plugins/apm/public/components/shared/transaction_type_select.tsx
Labels: Team:apm, auto-backport, release_note:skip, v7.14.0

#99119 [ftr/esArchiver] disable geo_shape field of maps saved objects in archives
  test/functional/fixtures/es_archiver/saved_objects_management/edit_saved_object/mappings.json
  test/functional/fixtures/es_archiver/saved_objects_management/export_transform/mappings.json
  test/functional/fixtures/es_archiver/saved_objects_management/hidden_saved_objects/mappings.json
  test/functional/fixtures/es_archiver/saved_objects_management/hidden_types/mappings.json
  test/functional/fixtures/es_archiver/saved_objects_management/show_relationships/mappings.json
  x-pack/test/encrypted_saved_objects_api_integration/fixtures/es_archiver/encrypted_saved_objects/mappings.json
  x-pack/test/functional/es_archives/dashboard/feature_controls/security/mappings.json
  x-pack/test/functional/es_archives/dashboard/feature_controls/spaces/mappings.json
  x-pack/test/functional/es_archives/discover/feature_controls/security/mappings.json
  x-pack/test/functional/es_archives/discover/feature_controls/spaces/mappings.json
  x-pack/test/functional/es_archives/fleet/agents/mappings.json
  x-pack/test/functional/es_archives/hybrid/kibana/mappings.json
  x-pack/test/functional/es_archives/kibana_scripted_fields_on_logstash/mappings.json
  x-pack/test/functional/es_archives/lens/basic/mappings.json
  x-pack/test/functional/es_archives/lens/reporting/mappings.json
  x-pack/test/functional/es_archives/lens/rollup/config/mappings.json
  x-pack/test/functional/es_archives/maps/kibana/mappings.json
  x-pack/test/functional/es_archives/reporting/nanos/mappings.json
  x-pack/test/functional/es_archives/saved_objects_management/feature_controls/security/mappings.json
  x-pack/test/functional/es_archives/security/flstest/kibana/mappings.json
  x-pack/test/functional/es_archives/spaces/disabled_features/mappings.json
  x-pack/test/functional/es_archives/timelion/feature_controls/mappings.json
  x-pack/test/plugin_functional/es_archives/global_search/basic/mappings.json
Labels: Team:Operations, backport:skip, release_note:skip, v8.0.0

#99226 [7.x] [Alerting] Handling connectors with missing secrets during rule creation and action execution (#98618)
  x-pack/plugins/actions/server/create_execute_function.test.ts
  x-pack/plugins/actions/server/create_execute_function.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/tests/create.test.ts
  x-pack/plugins/alerting/server/alerts_client/tests/update.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api/connectors.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api/create.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_connector_api/update.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_form.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: backport

#99231 [7.x] [APM] e2e tests (#99098)
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/home.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/header_filters.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/instances_table.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_table/get_columns.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_table/index.tsx
  x-pack/plugins/apm/public/components/shared/KueryBar/Typeahead/Suggestions.js
  x-pack/plugins/apm/public/components/shared/KueryBar/Typeahead/index.js
  x-pack/plugins/apm/public/components/shared/transaction_type_select.tsx
Labels: backport

#99235 [7.x] [Metrics UI] Use the normalized field for CPU usage for Observability Overview (#98995)
  x-pack/plugins/infra/common/inventory_models/host/metrics/tsvb/host_system_overview.ts
  x-pack/plugins/infra/server/routes/overview/lib/create_top_nodes_query.ts
Labels: backport

#99230 [APM][E2E] Add search deep links for APM, Metrics, Logs, and Dev Tools
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/deep_links.spec.ts
Labels: Team:apm, auto-backport, release_note:skip, v7.14.0

#99236 [7.13] [Metrics UI] Use the normalized field for CPU usage for Observability Overview (#98995)
  x-pack/plugins/infra/common/inventory_models/host/metrics/tsvb/host_system_overview.ts
  x-pack/plugins/infra/server/routes/overview/lib/create_top_nodes_query.ts
Labels: backport

#99254 upload artifact when building building Kibana to verify ES
  .ci/es-snapshots/Jenkinsfile_verify_es
Labels: Team:Operations, auto-backport, release_note:skip, v7.12.0, v7.13.0, v7.14.0, v8.0.0

#99146 [actions] fix broken doc for responseTimeout setting
  docs/settings/alert-action-settings.asciidoc
Labels: Feature:Actions, Team:Alerting Services, docs, release_note:skip, v7.12.2, v7.13.0

#97719 [Security Solution] Updates Beats fields metadata
  x-pack/plugins/security_solution/scripts/beat_docs/build.js
  x-pack/plugins/security_solution/server/search_strategy/index_fields/index.test.ts
  x-pack/plugins/security_solution/server/utils/beat_schema/fields.ts
Labels: Team: SecuritySolution, Team:Threat Hunting, auto-backport, release_note:enhancement, v7.13.0, v8.0.0

#99259 [7.12] [actions] fix broken doc for responseTimeout setting (#99146)
  docs/settings/alert-action-settings.asciidoc
Labels: backport

#98980 [Metrics UI] Don't render node if group width is 0 or NaN
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/group_of_nodes.tsx
Labels: Team:logs-metrics-ui, release_note:fix, v7.13.0, v7.14.0, v8.0.0

#99213 [7.12] [SECURITY SOLUTION] Fix unmapped field timeline (#99130)
  x-pack/plugins/security_solution/common/search_strategy/timeline/events/all/index.ts
  x-pack/plugins/security_solution/public/common/components/event_details/columns.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/columns.tsx
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/timeline/factory/events/details/query.events_details.dsl.ts
Labels: backport

#99266 [7.12] upload artifact when building building Kibana to verify ES (#99254)
  .ci/es-snapshots/Jenkinsfile_verify_es
Labels: backport
