Repository elastic/kibana, pull requests merged in 2022-11, with the labels that each got.

#144275 chore(NA): include progress on Bazel tasks
  .bazelrc.common
  packages/kbn-bazel-runner/src/bazel_runner.js
  src/dev/typescript/run_type_check_cli.ts
Labels: chore, Team:Operations, release_note:skip

#142423 CCS Smoke Test for Remote Clusters and Index Management
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/components/connection_status/connection_status.js
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/remote_cluster_table/remote_cluster_table.js
  x-pack/test/accessibility/apps/cross_cluster_replication.ts
  x-pack/test/functional/apps/remote_clusters/ccs/remote_clusters_index_management_flow.ts
  x-pack/test/functional/config.base.js
  x-pack/test/functional/config.ccs.ts
  x-pack/test/functional/page_objects/cross_cluster_replication_page.ts
  x-pack/test/functional/page_objects/index_management_page.ts
  x-pack/test/functional/page_objects/remote_clusters_page.ts
Labels: Team:QA, test_ui_functional, test_xpack_functional, release_note:skip, Feature:Functional Testing, auto-backport, v8.6.0, v8.5.1

#143739 [Monaco] Add JSON syntax support to the Monaco editor
  package.json
  packages/kbn-monaco/src/helpers.ts
  packages/kbn-monaco/src/monaco_imports.ts
  packages/kbn-monaco/src/register_globals.ts
  packages/kbn-monaco/src/worker.d.ts
  packages/kbn-monaco/src/xjson/language.ts
  packages/kbn-monaco/webpack.config.js
  src/plugins/kibana_react/public/code_editor/code_editor.stories.tsx
  src/plugins/kibana_react/public/code_editor/code_editor.test.tsx
  src/plugins/presentation_util/public/components/expression_input/language.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/editor/math_tokenization.tsx
  yarn.lock
Labels: review, release_note:skip, Team:AppServicesUx, v8.6.0

#143751 Correct wrong multiplier for byte conversion
  x-pack/plugins/monitoring/server/lib/alerts/fetch_index_shard_size.test.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_index_shard_size.ts
Labels: Team:Infra Monitoring UI, release_note:skip, 💝community, >bug, backport:prev-minor, v8.6.0

#144267 [packages/kbn-journeys] fix apm agent start/stop to track browser interactions only
  packages/kbn-journeys/journey/journey_ftr_harness.ts
Labels: release_note:skip, backport:skip, wg:performance

#144173 [Lens] Datatable expression types improvement.
  x-pack/plugins/lens/common/expressions/collapse/index.ts
  x-pack/plugins/lens/common/expressions/datatable/datatable_column.ts
  x-pack/plugins/lens/common/expressions/datatable/index.ts
  x-pack/plugins/lens/public/visualizations/datatable/visualization.test.tsx
  x-pack/plugins/lens/public/visualizations/datatable/visualization.tsx
Labels: loe:hours, Team:VisEditors, release_note:skip, Feature:Lens, impact:low, backport:skip, v8.6.0

#144298 [8.5] Correct wrong multiplier for byte conversion (#143751)
  x-pack/plugins/monitoring/server/lib/alerts/fetch_index_shard_size.test.ts
  x-pack/plugins/monitoring/server/lib/alerts/fetch_index_shard_size.ts
Labels: backport

#144004 [7.17] Bump caniuse-lite from v1.0.30001309 to v1.0.30001425
  yarn.lock
Labels: release_note:skip, backport:skip

#143924 [Synthetics Telemetry] Make consistent use of stackVersion
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/types.ts
  x-pack/plugins/synthetics/server/plugin.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/add_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/delete_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/edit_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.test.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.ts
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.test.ts
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter.ts
  x-pack/plugins/synthetics/server/synthetics_service/service_api_client.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/service_api_client.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
Labels: Team:uptime, release_note:skip, v8.5.0, v8.6.0

#144238 [7.17] Upgrade @elastic/makelogs from v6.0.0 to v6.1.1 (#144231)
  package.json
  yarn.lock
Labels: backport

#144316 [APM] Add beta badge and update tooltips in storage explorer
  x-pack/plugins/apm/public/components/app/storage_explorer/index.tsx
  x-pack/plugins/apm/public/components/app/storage_explorer/summary_stats.tsx
  x-pack/plugins/apm/public/components/routing/home/storage_explorer.tsx
Labels: Team:APM, release_note:skip, v8.6.0

#142985 [Lens] Shard failure notices make it impossible to use Lens
  src/plugins/data/public/index.ts
  src/plugins/data/public/search/fetch/handle_warnings.test.ts
  src/plugins/data/public/search/fetch/handle_warnings.tsx
  src/plugins/data/public/search/index.ts
  src/plugins/data/public/search/search_service.ts
  src/plugins/data/public/search/types.ts
  src/plugins/data/public/shard_failure_modal/shard_failure_open_modal_button.test.tsx
  src/plugins/data/public/shard_failure_modal/shard_failure_open_modal_button.tsx
  x-pack/plugins/lens/public/datasources/form_based/form_based.tsx
  x-pack/plugins/lens/public/datasources/form_based/utils.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/state_management/lens_slice.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/utils.ts
  x-pack/test/functional/apps/lens/group2/tsdb.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.6.0

#144300 [APM] Use force_synthetic_source in API tests
  x-pack/plugins/apm/common/__snapshots__/elasticsearch_fieldnames.test.ts.snap
  x-pack/plugins/apm/server/index.ts
  x-pack/plugins/apm/server/lib/helpers/create_es_client/create_apm_event_client/index.test.ts
  x-pack/plugins/apm/server/lib/helpers/create_es_client/create_apm_event_client/index.ts
  x-pack/plugins/apm/server/lib/helpers/get_apm_event_client.ts
  x-pack/plugins/apm/server/plugin.ts
  x-pack/test/apm_api_integration/common/fixtures/es_archiver/apm_8.0.0/mappings.json
  x-pack/test/apm_api_integration/common/fixtures/es_archiver/infra_metrics_and_apm/mappings.json
  x-pack/test/apm_api_integration/configs/index.ts
Labels: Team:APM, release_note:skip, v8.6.0

#144307 [7.17] Correct wrong multiplier for byte conversion (#143751)
  x-pack/plugins/monitoring/server/lib/alerts/fetch_index_shard_size.ts
Labels: backport

#144277 [Security Solution][Endpoint] Re-organize responder folder and hooks folder within endpoint management
  x-pack/plugins/security_solution/public/management/components/endpoint_action_failure_message/endpoint_action_failure_message.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/get_file_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/get_processes_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/get_file_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/get_processes_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/isolate_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/kill_process_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/release_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/suspend_process_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/isolate_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/kill_process_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/release_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/status_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/suspend_process_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/action_error.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/action_log_button.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/action_success.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/header_endpoint_info.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/header_endpoint_info.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/offline_callout.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/offline_callout.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/hooks/use_console_action_submitter.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/index.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/console_commands_definition.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/constants.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/endpoint_action_response_codes.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/get_command_about_info.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/utils.test.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/utils.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.test.tsx
  x-pack/plugins/security_solution/public/management/components/response_action_file_download_link/response_action_file_download_link.tsx
  x-pack/plugins/security_solution/public/management/hooks/index.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_action_details.test.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_action_details.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_endpoint_action_list.test.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_endpoint_action_list.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_endpoint_pending_actions_summary.test.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_endpoint_pending_actions_summary.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_file_info.test.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_file_info.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_send_get_endpoint_processes_request.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_send_get_file_request.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_send_isolate_endpoint_request.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_send_kill_process_endpoint_request.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_send_release_endpoint_request.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_send_suspend_process_endpoint_request.ts
  x-pack/plugins/security_solution/public/management/hooks/use_with_show_endpoint_responder.tsx
  x-pack/plugins/security_solution/public/management/pages/response_actions/view/response_actions_list_page.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/netflow/__snapshots__/netflow_row_renderer.test.tsx.snap
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.6.0

#143584 [DOCS] Removes 8.5 release docs tags
  docs/CHANGELOG.asciidoc
  docs/user/whats-new.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, v8.5.0

#144178 [Security solution] Guided onboarding unhappy path fixes
  x-pack/plugins/security_solution/public/common/components/guided_onboarding_tour/README.md
  x-pack/plugins/security_solution/public/common/components/guided_onboarding_tour/tour.tsx
  x-pack/plugins/security_solution/public/common/components/guided_onboarding_tour/tour_config.ts
  x-pack/plugins/security_solution/public/common/components/guided_onboarding_tour/tour_step.test.tsx
  x-pack/plugins/security_solution/public/common/components/guided_onboarding_tour/tour_step.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_add_to_case_actions.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/actions/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/actions/index.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.6.0

#144127 [APM] Average latency map for mobile service overview
  x-pack/plugins/apm/kibana.json
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/latency_map/embedded_map.test.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/latency_map/embedded_map.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/latency_map/get_layer_list.ts
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/latency_map/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/service_oveview_mobile_charts.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/use_filters_for_mobile_charts.ts
  x-pack/plugins/apm/server/routes/data_view/create_static_data_view.ts
  x-pack/test/apm_api_integration/tests/data_view/static.spec.ts
Labels: Team:APM, release_note:skip, v8.6.0

#144205 [Actionable Observability] Verify missing groups for Metric Threshold rule before scheduling no-data actions
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/check_missing_group.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/convert_strings_to_missing_groups_record.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/evaluate_rule.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/get_data.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/metric_query.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/test/api_integration/apis/metrics_ui/metric_threshold_alert.ts
Labels: release_note:fix, auto-backport, Team: Actionable Observability, v8.5.0, v8.6.0

#144274 check that the sample data menu is really open, retry
  test/functional/page_objects/home_page.ts
Labels: Team:QA, test_ui_functional, release_note:skip, backport:all-open

#143999 [TSVB] In the case of 2 or more panels on the dashboard, TSVB renderComplete fires 2 times
  packages/kbn-optimizer/limits.yml
  src/plugins/data_views/common/data_views/data_views.test.ts
  src/plugins/data_views/common/data_views/data_views.ts
Labels: release_note:fix, Team:VisEditors, Feature:Data Views, v8.6.0

#144349 [8.5] alternative path for upgrade reporting test for headless browser (#143994)
  x-pack/test/upgrade/apps/reporting/reporting_smoke_tests.ts
Labels: backport

#144279 [Enterprise Search][ML Inference] disable ml inference pipeline delete
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/delete_inference_pipeline_button.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/delete_inference_pipeline_button.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/inference_pipeline_card.tsx
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.6.0

#144350 [8.5] [Actionable Observability] Verify missing groups for Metric Threshold rule before scheduling no-data actions (#144205)
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/check_missing_group.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/convert_strings_to_missing_groups_record.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/evaluate_rule.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/get_data.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/metric_query.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/test/api_integration/apis/metrics_ui/metric_threshold_alert.ts
Labels: backport

#144353 [8.5] check that the sample data menu is really open, retry (#144274)
  test/functional/page_objects/home_page.ts
Labels: backport

#144196 [ResponseOps] Ping the response-ops team whenever a new task type is added in a PR
  x-pack/plugins/task_manager/server/mocks.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/test/plugin_api_integration/plugins/sample_task_plugin/server/init_routes.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/index.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps

#143321 Add legends to custom map layers and convert wms_source to typescript
  x-pack/examples/third_party_maps_source_example/public/classes/custom_raster_source.tsx
  x-pack/plugins/maps/public/classes/layers/raster_tile_layer/raster_tile_layer.test.tsx
  x-pack/plugins/maps/public/classes/layers/raster_tile_layer/raster_tile_layer.ts
  x-pack/plugins/maps/public/classes/sources/kibana_tilemap_source/kibana_tilemap_source.js
  x-pack/plugins/maps/public/classes/sources/raster_source/index.ts
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_source.tsx
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_source.tsx
Labels: Team:Geo, release_note:skip, 💝community, v8.6.0

#144272 Bump field limit for esArchiver indices using
  test/api_integration/fixtures/es_archiver/saved_objects/delete_unknown_types/mappings.json
Labels: Team:Core, release_note:skip, Feature:Migrations

#144352 [7.17] check that the sample data menu is really open, retry (#144274)
  test/functional/page_objects/home_page.ts
Labels: backport

#144280 [SharedUX][Bugfix] Solution nav with no data page
  packages/shared-ux/page/solution_nav/src/__snapshots__/with_solution_nav.test.tsx.snap
  packages/shared-ux/page/solution_nav/src/with_solution_nav.styles.ts
  packages/shared-ux/page/solution_nav/src/with_solution_nav.tsx
Labels: release_note:fix, v8.6.0

#144356 Remove buildbuddy cache
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/lifecycle/pre_command.sh
  .buildkite/scripts/steps/on_merge_ts_refs_api_docs.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: Team:Operations, release_note:skip, backport:all-open

#144335 7.17 pre upgrade Rules pre-upgrade and load 6.8 & 7.12 saved objects
  test/functional/page_objects/common_page.ts
  x-pack/test/stack_functional_integration/apps/rules/_create_upgrade_rule.js
  x-pack/test/stack_functional_integration/apps/rules/index.js
  x-pack/test/stack_functional_integration/apps/telemetry/_telemetry.js
Labels: Team:QA, release_note:skip, backport:skip, v7.17.8

#144328 chore(NA): bump version to 8.5.1
  package.json
  x-pack/package.json
  x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list.ts
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.5.1

#144330 chore(NA): update versions after v8.5.1 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip

#144083 Fix some SO tagging flaky FTR tests
  x-pack/test/saved_object_tagging/functional/tests/dashboard_integration.ts
Labels: Team:Core, release_note:skip, v8.6.0

#144164 [Guided Onboarding] Panel style modifications
  src/plugins/guided_onboarding/public/components/guide_panel.styles.ts
  src/plugins/guided_onboarding/public/components/guide_panel.tsx
  src/plugins/guided_onboarding/public/components/guide_panel_step.styles.ts
  src/plugins/guided_onboarding/public/components/guide_panel_step.tsx
Labels: release_note:skip, backport:skip, Team:Journey/Onboarding, v8.6.0

#143628 [Synthetics] Add failed tests heatmap in errors page
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/constants.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/labels.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.test.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes/heatmap_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes/single_metric_attributes.test.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes/single_metric_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/synthetics/heatmap_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/test_data/sample_attribute_cwv.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/test_data/test_formula_metric_attribute.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/embeddable/embeddable.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/hooks/use_lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/obsv_exploratory_view.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/types.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_errors/failed_tests.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_errors/monitor_errors.tsx
Labels: Team:uptime, release_note:skip, v8.6.0

#144318 [ML] Fix model testing flyout reload
  x-pack/plugins/ml/public/application/trained_models/models_management/test_models/selected_model.tsx
Labels: bug, release_note:fix, :ml, Feature:3rd Party Models, v8.6.0, v8.5.1

#143222 [Logs UI] Support the Unified Search Bar for Query input
  src/plugins/unified_search/public/__stories__/search_bar.stories.tsx
  src/plugins/unified_search/public/search_bar/create_search_bar.tsx
  src/plugins/unified_search/public/search_bar/search_bar.test.tsx
  src/plugins/unified_search/public/search_bar/search_bar.tsx
  x-pack/plugins/infra/common/log_views/resolved_log_view.mock.ts
  x-pack/plugins/infra/common/log_views/resolved_log_view.ts
  x-pack/plugins/infra/public/components/log_stream/log_stream.tsx
  x-pack/plugins/infra/public/containers/logs/log_filter/errors.ts
  x-pack/plugins/infra/public/containers/logs/log_filter/log_filter_state.ts
  x-pack/plugins/infra/public/containers/logs/log_filter/with_log_filter_url_state.tsx
  x-pack/plugins/infra/public/hooks/use_log_view.mock.ts
  x-pack/plugins/infra/public/hooks/use_log_view.ts
  x-pack/plugins/infra/public/pages/logs/stream/page_logs_content.tsx
  x-pack/plugins/infra/public/pages/logs/stream/page_providers.tsx
  x-pack/plugins/infra/public/pages/logs/stream/page_toolbar.tsx
  x-pack/plugins/infra/public/services/log_views/log_views_client.ts
  x-pack/plugins/infra/public/services/log_views/types.ts
  x-pack/plugins/infra/public/utils/url_state.tsx
  x-pack/plugins/infra/server/services/log_views/log_views_client.test.ts
  x-pack/plugins/infra/server/services/log_views/log_views_client.ts
  x-pack/plugins/infra/server/services/log_views/types.ts
Labels: Feature:Logs UI, Team:Infra Monitoring UI, release_note:feature, v8.6.0

#143840 [Actionable Observability] Refactor alert search bar
  x-pack/plugins/observability/common/typings.ts
  x-pack/plugins/observability/public/application/types.ts
  x-pack/plugins/observability/public/pages/alerts/components/alerts_search_bar.tsx
  x-pack/plugins/observability/public/pages/alerts/components/alerts_status_filter.tsx
  x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/alerts_page.tsx
  x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/constants.ts
  x-pack/plugins/observability/public/pages/alerts/containers/state_container/state_container.tsx
  x-pack/plugins/observability/public/pages/alerts/containers/state_container/use_alerts_page_state_container.tsx
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/overview_page.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/utils/build_es_query/__snapshots__/build_es_query.test.ts.snap
  x-pack/plugins/observability/public/utils/build_es_query/build_es_query.test.ts
  x-pack/plugins/observability/public/utils/build_es_query/build_es_query.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.tsx
Labels: chore, release_note:skip, Team: Actionable Observability

#144388 [8.5] [ML] Fix model test flyout reload (#144318)
  x-pack/plugins/ml/public/application/trained_models/models_management/test_models/selected_model.tsx
Labels: backport

#144174 [Lens] Heatmap expression types improvement.
  src/plugins/chart_expressions/expression_heatmap/common/expression_functions/heatmap_legend.ts
  src/plugins/chart_expressions/expression_heatmap/common/index.ts
  src/plugins/chart_expressions/expression_heatmap/common/types/expression_functions.ts
  x-pack/plugins/lens/public/visualizations/heatmap/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/heatmap/visualization.tsx
Labels: loe:hours, Team:VisEditors, release_note:skip, Feature:Lens, impact:low, backport:skip, v8.6.0

#144396 [8.5] [ML] Explain Log Rate Spikes: Fix uncompressed streams and backpressure handling. (#142970)
  examples/response_stream/common/api/reducer_stream/request_body_schema.ts
  examples/response_stream/common/api/simple_string_stream/request_body_schema.ts
  examples/response_stream/public/containers/app/pages/page_reducer_stream/index.tsx
  examples/response_stream/public/containers/app/pages/page_simple_string_stream/index.tsx
  examples/response_stream/server/routes/reducer_stream.ts
  examples/response_stream/server/routes/single_string_stream.ts
  x-pack/packages/ml/aiops_utils/src/stream_factory.test.ts
  x-pack/packages/ml/aiops_utils/src/stream_factory.ts
  x-pack/plugins/aiops/common/api/explain_log_rate_spikes/schema.ts
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_analysis.tsx
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes.ts
  x-pack/test/api_integration/apis/aiops/parse_stream.ts
Labels: backport

#144319 Fix Incorrect alerts are displayed in timeline when navigating from Detection & Responses page
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/host_alerts_table.test.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/host_alerts_table.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/rule_alerts_table/rule_alerts_table.test.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/rule_alerts_table/rule_alerts_table.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/user_alerts_table/user_alerts_table.test.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/user_alerts_table/user_alerts_table.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/utils.tsx
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/risk_score/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/risk_score/index.tsx
Labels: bug, release_note:fix, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.6.0, v8.5.1

#138995 [Security Solution] Add custom features to lens
  src/plugins/chart_expressions/expression_legacy_metric/common/expression_functions/metric_vis_function.ts
  src/plugins/chart_expressions/expression_legacy_metric/common/types/expression_functions.ts
  src/plugins/chart_expressions/expression_legacy_metric/common/types/expression_renderers.ts
  src/plugins/chart_expressions/expression_legacy_metric/public/components/__snapshots__/with_auto_scale.test.tsx.snap
  src/plugins/chart_expressions/expression_legacy_metric/public/components/metric_component.tsx
  src/plugins/chart_expressions/expression_legacy_metric/public/components/with_auto_scale.tsx
  x-pack/plugins/lens/common/types.ts
  x-pack/plugins/lens/public/embeddable/embeddable_component.tsx
  x-pack/plugins/lens/public/visualizations/legacy_metric/visualization.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/__snapshots__/kpi_dns_queries.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/__snapshots__/kpi_network_events.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/__snapshots__/kpi_tls_handshakes.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/__snapshots__/kpi_unique_flow_ids.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/kpi_dns_queries.ts
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/kpi_network_events.ts
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/kpi_tls_handshakes.ts
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/network/kpi_unique_flow_ids.ts
Labels: Team:VisEditors, release_note:skip, backport:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.6.0

#144394 added settings action to agent activity flyout
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agent_activity_flyout.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#144345 [Synthetics] Step details add object weight breakdown
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/components/color_palette.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/components/object_weight_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/hooks/use_object_metrics.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/step_detail_page.tsx
Labels: Team:uptime, release_note:skip, v8.6.0

#144400 [8.5] [ML] Explain Log Rate Spikes: Wrap analysis in try/catch block.
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
Labels: backport

#144401 [8.5] Adds SavedObjectsWarning to analytics results pages. (#144109)
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/exploration_page_wrapper/exploration_page_wrapper.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/components/outlier_exploration/outlier_exploration.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_exploration/page.tsx
Labels: backport

#144397 [Lens] Hide the titles of the axis from the preview
  x-pack/plugins/lens/public/visualizations/heatmap/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/heatmap/visualization.tsx
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:skip, v8.6.0

#144386 added tooltip on last checkin message in agent details
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_details/agent_details_overview.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#143135 Background task instances wait for another instance to complete the migration
  packages/core/node/core-node-server-internal/index.ts
  packages/core/node/core-node-server-internal/src/node_service.test.ts
  packages/core/node/core-node-server-internal/src/node_service.ts
  packages/core/node/core-node-server-mocks/src/node_service.mock.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/README.md
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/__snapshots__/migrations_state_action_machine.test.ts.snap
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/initial_state.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/initial_state.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/migrations_state_action_machine.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/helpers.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/helpers.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/state.ts
  packages/core/saved-objects/core-saved-objects-server-internal/BUILD.bazel
  packages/core/saved-objects/core-saved-objects-server-internal/src/saved_objects_service.test.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/saved_objects_service.ts
  src/core/server/integration_tests/saved_objects/migrations/wait_for_migration_completion.test.ts
  src/core/server/server.ts
  test/node_roles_functional/background_tasks.config.ts
  test/node_roles_functional/test_suites/background_tasks/initializer_context.ts
Labels: Team:Core, release_note:skip, Feature:Migrations

#144329 [Fleet] Move default_pipeline declaration to component template
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/test/fleet_api_integration/apis/epm/install_overrides.ts
  x-pack/test/fleet_api_integration/apis/epm/update_assets.ts
Labels: bug, release_note:skip, Team:Fleet, v8.6.0

#144390 [8.5] [APM] Disable refresh in ML links
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlexplorer_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlexplorer_link.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlmanage_jobs_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlsingle_metric_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlsingle_metric_link.tsx
  x-pack/plugins/apm/public/hooks/use_ml_manage_jobs_href.ts
Labels: backport, Team:APM

#144199 [ResponseOps][Cases] Add more fields to getCasesByAlertId API
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/server/client/cases/get.ts
  x-pack/plugins/cases/server/services/attachments/index.ts
  x-pack/plugins/cases/server/services/cases/index.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/response_actions.test.ts
  x-pack/test/cases_api_integration/common/lib/validation.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/alerts/get_cases.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/alerts/get_cases.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.6.0

#144243 Fix discover embeddable ready state for tests
  src/plugins/discover/public/embeddable/saved_search_embeddable.test.ts
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  x-pack/performance/journeys/ecommerce_dashboard.ts
  x-pack/performance/journeys/flight_dashboard.ts
Labels: release_note:skip, v8.6.0

#144092 [APM] Aggregated critical path
  x-pack/plugins/apm/common/critical_path/get_aggregated_critical_path_root_nodes.ts
  x-pack/plugins/apm/common/critical_path/get_critical_path.ts
  x-pack/plugins/apm/common/index.ts
  x-pack/plugins/apm/public/components/app/error_group_details/detail_view/index.tsx
  x-pack/plugins/apm/public/components/app/service_map/popover/edge_contents.tsx
  x-pack/plugins/apm/public/components/app/top_traces_overview/index.tsx
  x-pack/plugins/apm/public/components/app/trace_explorer/index.tsx
  x-pack/plugins/apm/public/components/app/trace_explorer/trace_explorer_aggregated_critical_path.tsx
  x-pack/plugins/apm/public/components/app/trace_explorer/trace_explorer_waterfall.tsx
  x-pack/plugins/apm/public/components/app/trace_overview/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/aggregated_critical_path_tab.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/transaction_details_tabs.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/index.tsx
  x-pack/plugins/apm/public/components/routing/home/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_main_template.tsx
  x-pack/plugins/apm/public/components/shared/critical_path_flamegraph/critical_path_flamegraph_tooltip.tsx
  x-pack/plugins/apm/public/components/shared/critical_path_flamegraph/critical_path_to_flamegraph.ts
  x-pack/plugins/apm/public/components/shared/critical_path_flamegraph/index.tsx
  x-pack/plugins/apm/public/components/shared/technical_preview_badge.tsx
  x-pack/plugins/apm/public/hooks/create_shared_use_fetcher.tsx
  x-pack/plugins/apm/public/hooks/use_trace_explorer_samples.ts
  x-pack/plugins/apm/server/routes/traces/get_aggregated_critical_path.ts
  x-pack/plugins/apm/server/routes/traces/route.ts
  x-pack/plugins/observability/public/hooks/use_chart_theme.tsx
  x-pack/test/apm_api_integration/tests/traces/critical_path.spec.ts
  x-pack/test/apm_api_integration/tests/traces/find_traces.spec.ts
Labels: Team:APM, release_note:skip, v8.6.0

#144091 [Security Solution] Simplify bulk action execution
  x-pack/plugins/security_solution/common/detection_engine/rule_management/api/rules/bulk_actions/request_schema.mock.ts
  x-pack/plugins/security_solution/common/detection_engine/rule_management/api/rules/bulk_actions/request_schema.test.ts
  x-pack/plugins/security_solution/common/detection_engine/rule_management/api/rules/bulk_actions/request_schema.ts
  x-pack/plugins/security_solution/cypress/tasks/rule_details.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/api.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/hooks/use_bulk_action_mutation.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/hooks/use_bulk_export_mutation.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/show_bulk_error_toast.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/show_bulk_success_toast.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_bulk_export.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_bulk_export.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_execute_bulk_action.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_execute_bulk_action.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_guess_rule_ids_for_bulk_action.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/bulk_action_dry_run_confirmation.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/bulk_action_rule_errors_list.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/bulk_action_rule_errors_list.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/types.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/use_bulk_actions.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/use_bulk_actions_dry_run.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/utils/compute_dry_run_edit_payload.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/utils/compute_dry_run_edit_payload.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/utils/prepare_search_params.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/utils/prepare_search_params.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/use_rules_table_actions.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_actions_overflow/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_actions_overflow/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_switch/index.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_actions/route.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/perform_bulk_action.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/perform_bulk_action_dry_run.ts
Labels: release_note:skip, backport:skip, Feature:Detection Rules, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rules, v8.6.0

#144331 [Security Solution][Endpoint] Add Endpoint error codes for `get-file` response action
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_action_generator.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/get_file_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/endpoint_action_response_codes.ts
  x-pack/plugins/security_solution/scripts/endpoint/agent_emulator/services/endpoint_response_actions.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.6.0

#144399 Add a refresh:false when deleting action_task_params
  x-pack/plugins/actions/server/lib/task_runner_factory.test.ts
  x-pack/plugins/actions/server/lib/task_runner_factory.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Actions/Framework, v8.6.0

#144234 [Guided onboarding] Search guide copy
  examples/guided_onboarding_example/public/components/main.tsx
  packages/kbn-guided-onboarding/src/types.ts
  src/plugins/guided_onboarding/public/components/guide_panel.test.tsx
  src/plugins/guided_onboarding/public/components/guide_panel_step.styles.ts
  src/plugins/guided_onboarding/public/components/guide_panel_step.tsx
  src/plugins/guided_onboarding/public/constants/guides_config/observability.ts
  src/plugins/guided_onboarding/public/constants/guides_config/search.ts
  src/plugins/guided_onboarding/public/constants/guides_config/test_guide.ts
  src/plugins/guided_onboarding/public/types.ts
Labels: release_note:skip, Team:Journey/Onboarding, v8.6.0

#144419 [ResponseOps] Fixing failing test x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types·ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
Labels: release_note:skip, Team:ResponseOps

#144311 [performance] add gauge and saved search dashboard journeys
  .buildkite/ftr_configs.yml
  x-pack/performance/journeys/ecommerce_dashboard_saved_search_only.ts
  x-pack/performance/journeys/ecommerce_dashboard_tsvb_gauge_only.ts
  x-pack/performance/kbn_archives/ecommerce_saved_search_only_dashboard.json
  x-pack/performance/kbn_archives/ecommerce_tsvb_gauge_only_dashboard.json
Labels: release_note:skip, v8.6.0

#144232 [APM] Mobile most used pie charts with Lens
  x-pack/plugins/apm/common/__snapshots__/elasticsearch_fieldnames.test.ts.snap
  x-pack/plugins/apm/common/elasticsearch_fieldnames.ts
  x-pack/plugins/apm/kibana.json
  x-pack/plugins/apm/public/application/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/most_used_chart/__snapshots__/most_used_chart.test.tsx.snap
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/most_used_chart/get_lens_attributes.ts
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/most_used_chart/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/most_used_chart/most_used_chart.test.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/service_oveview_mobile_charts.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/use_filters_for_mobile_charts.ts
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/apm/server/routes/mobile/get_mobile_filters.ts
Labels: release_note:enhancement, Team:APM, v8.6.0

#144087 [Security Solution][Endpoint] Guided onboarding configures events only for endpoint policy
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.test.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/handlers/create_default_policy.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/handlers/create_default_policy.ts
Labels: release_note:skip, backport:skip, Team:Onboarding and Lifecycle Mgt, OLM Sprint, ci:cloud-deploy, v8.6.0

#144236 [Lens] Legacy metric expression types improvement.
  src/plugins/visualizations/common/expression_functions/vis_dimension.ts
  x-pack/plugins/lens/kibana.json
  x-pack/plugins/lens/public/visualizations/legacy_metric/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/legacy_metric/visualization.tsx
  x-pack/plugins/lens/tsconfig.json
Labels: loe:hours, Team:VisEditors, release_note:skip, Feature:Lens, impact:low, backport:skip, v8.6.0

#144242 [Fleet] Support per agent policy Fleet Server hosts
  src/core/server/integration_tests/saved_objects/migrations/check_registered_types.test.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/hooks.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/hooks.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/details_page/components/settings/index.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/index.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/instructions.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/steps/compute_steps.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/types.ts
  x-pack/plugins/fleet/public/hooks/index.ts
  x-pack/plugins/fleet/public/hooks/use_fleet_server_hosts_for_policy.test.tsx
  x-pack/plugins/fleet/public/hooks/use_fleet_server_hosts_for_policy.ts
  x-pack/plugins/fleet/server/routes/fleet_server_policy_config/handler.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/fleet_server_host.ts
  x-pack/plugins/fleet/server/services/preconfiguration/fleet_server_host.ts
  x-pack/plugins/fleet/server/services/setup.ts
  x-pack/plugins/fleet/server/types/models/agent_policy.ts
Labels: release_note:skip, Team:Fleet, v8.6.0

#144336 [Synthetics] Step details add network timings breakdown
  x-pack/plugins/observability/public/utils/observability_data_views/observability_data_views.ts
  x-pack/plugins/synthetics/e2e/page_objects/synthetics_app.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/network_timings_breakdown.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/step_detail_page.tsx
Labels: Team:uptime, release_note:skip, v8.6.0

#144431 added fix for add and edit integrations page not loading for beta versions
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#142289 [Security Solution] [Exceptions] Updates the exceptions list table to match mockups
  packages/kbn-securitysolution-io-ts-types/src/import_query_schema/index.test.ts
  packages/kbn-securitysolution-io-ts-types/src/import_query_schema/index.ts
  x-pack/plugins/lists/server/routes/import_exceptions_route.ts
  x-pack/plugins/lists/server/services/exception_lists/exception_list_client.test.ts
  x-pack/plugins/lists/server/services/exception_lists/exception_list_client.ts
  x-pack/plugins/lists/server/services/exception_lists/exception_list_client_types.ts
  x-pack/plugins/lists/server/services/exception_lists/import_exception_list_and_items.test.ts
  x-pack/plugins/lists/server/services/exception_lists/import_exception_list_and_items.ts
  x-pack/plugins/lists/server/services/exception_lists/utils/import/import_exception_lists.ts
  x-pack/plugins/lists/server/services/exception_lists/utils/import/sort_exception_items_to_create_or_update.test.ts
  x-pack/plugins/lists/server/services/exception_lists/utils/import/sort_exception_items_to_create_update.ts
  x-pack/plugins/lists/server/services/exception_lists/utils/import/sort_exception_lists_to_create_or_update.test.ts
  x-pack/plugins/lists/server/services/exception_lists/utils/import/sort_exception_lists_to_create_update.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/exceptions_management_flow/exceptions_table.cy.ts
  x-pack/plugins/security_solution/cypress/screens/exceptions.ts
  x-pack/plugins/security_solution/cypress/tasks/exceptions_table.ts
  x-pack/plugins/security_solution/public/app/translations.ts
  x-pack/plugins/security_solution/public/common/components/navigation/breadcrumbs/index.test.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions_ui/pages/exceptions/columns.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions_ui/pages/exceptions/types.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/helpers.test.ts
  x-pack/plugins/security_solution/public/exceptions/jest.config.js
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/exceptions_list_card.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/exceptions_search_bar.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/exceptions_table.test.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/exceptions_table.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/exceptions_table_utility_bar.test.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/exceptions_table_utility_bar.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/import_exceptions_list_flyout.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/title_badge.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/translations.ts
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/translations_exceptions_table.ts
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/use_all_exception_lists.tsx
  x-pack/plugins/security_solution/public/exceptions/manage_exceptions/use_import_exception_list.tsx
  x-pack/plugins/security_solution/public/exceptions/routes.tsx
Labels: release_note:enhancement, review, Feature:Rule Exceptions, Team:Security Solution Platform, v8.6.0

#144437 adding missing action types to Agent activity UI
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agent_activity_flyout.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#144259 [Maps] add in product help for layer group drag and drop instructions
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/layer_settings/layer_settings.tsx
Labels: Team:Geo, release_note:skip, backport:skip, v8.6.0

#144160 [Guided onboarding] Fix multiple API requests when fetching guide state
  packages/kbn-guided-onboarding/index.ts
  src/plugins/guided_onboarding/public/components/guide_panel.test.tsx
  src/plugins/guided_onboarding/public/components/guide_panel.tsx
  src/plugins/guided_onboarding/public/services/api.mocks.ts
  src/plugins/guided_onboarding/public/services/api.test.ts
  src/plugins/guided_onboarding/public/services/api.ts
  x-pack/test/functional/apps/infra/tour.ts
Labels: release_note:skip, Team:Journey/Onboarding, v8.6.0

#144359 [Security Solution] Fix rules table refresh after rule's import
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/import_rules.cy.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/index.tsx
Labels: release_note:fix, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rules, v8.6.0

#144426 [APM] Disable refresh in ML links (#144390)
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlexplorer_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlexplorer_link.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlmanage_jobs_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlsingle_metric_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/machine_learning_links/mlsingle_metric_link.tsx
  x-pack/plugins/apm/public/hooks/use_ml_manage_jobs_href.ts
Labels: backport, Team:APM

#144416 [APM] Prefix services from synthtrace scenarios with “synth” instead of "opbeans"
  packages/kbn-apm-synthtrace/src/scenarios/distributed_trace.ts
  packages/kbn-apm-synthtrace/src/scenarios/distributed_trace_long.ts
  packages/kbn-apm-synthtrace/src/scenarios/simple_trace.ts
Labels: release_note:skip

#144374 docs: Add known issue for 8.5.0
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip

#144333 [App-search] should not show 'nested' option in managed docs
  x-pack/plugins/enterprise_search/public/applications/shared/schema/field_type_select/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/schema/types.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.6.0

#144432 [Fleet] Fix test packages & add validation test
  x-pack/plugins/fleet/scripts/verify_test_packages/index.js
  x-pack/plugins/fleet/scripts/verify_test_packages/verify_test_packages.test.ts
  x-pack/plugins/fleet/scripts/verify_test_packages/verify_test_packages.ts
  x-pack/plugins/fleet/server/services/epm/archive/parse.ts
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/all_assets/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/all_assets/0.2.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/datastreams/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/datastreams/0.2.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/deprecated/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/error_handling/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/error_handling/0.2.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/experimental/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/experimental2/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/filetest/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/multiple_versions/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/multiple_versions/0.2.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/multiple_versions/0.3.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/only_dashboard/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/overrides/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.1.0/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.2.0-add-non-required-test-var/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.2.5-non-breaking-change/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.3.0-remove-test-var/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.4.0-add-test-var-as-bool/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.5.0-restructure-inputs/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.6.0-restructure-policy-templates/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.7.0-add-stream-with-no-vars/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/package_policy_upgrade/0.8.0-add-vars-to-stream-with-no-vars/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/prerelease/0.1.0-dev.0+abc/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/with_required_variables/0.1.0/manifest.yml
Labels: release_note:skip, Team:Fleet, v8.6.0

#144204 [Input Controls Vis] Fixes list control popover background color in dark mode
  src/plugins/input_control_vis/public/components/vis/__snapshots__/list_control.test.tsx.snap
  src/plugins/input_control_vis/public/components/vis/input_control_vis.tsx
  src/plugins/input_control_vis/public/components/vis/list_control.tsx
  src/plugins/input_control_vis/public/vis_controller.tsx
Labels: release_note:fix, Feature:Input Control, Team:Presentation, loe:days, impact:medium, v8.6.0

#144459 Revert "Revert "[Guided onboarding] Fix multiple API requests when fetching guide state (#144160)""
  packages/kbn-guided-onboarding/index.ts
  src/plugins/guided_onboarding/public/components/guide_panel.test.tsx
  src/plugins/guided_onboarding/public/components/guide_panel.tsx
  src/plugins/guided_onboarding/public/services/api.mocks.ts
  src/plugins/guided_onboarding/public/services/api.test.ts
  src/plugins/guided_onboarding/public/services/api.ts
  x-pack/test/functional/apps/infra/tour.ts
Labels: release_note:skip, Team:Journey/Onboarding, v8.6.0

#144210 [Osquery] Fix missing data view when viewing results in Discover/Lens…
  x-pack/plugins/osquery/cypress/e2e/all/discover.cy.ts
  x-pack/plugins/osquery/public/common/hooks/use_logs_data_view.tsx
  x-pack/plugins/osquery/public/discover/view_results_in_discover.tsx
  x-pack/plugins/osquery/public/lens/view_results_in_lens.tsx
  x-pack/plugins/osquery/public/packs/pack_queries_status_table.tsx
  x-pack/plugins/osquery/scripts/roles_users/soc_manager/role.json
Labels: release_note:fix, Team:Asset Management, Feature:Osquery, v8.6.0

#144382 Correct compute usage: sum over all invocations in a bucket
  x-pack/plugins/apm/server/routes/metrics/serverless/get_compute_usage_chart.ts
  x-pack/plugins/apm/server/routes/metrics/serverless/get_serverless_summary.ts
  x-pack/plugins/apm/server/routes/metrics/serverless/helper.test.ts
  x-pack/plugins/apm/server/routes/metrics/serverless/helper.ts
  x-pack/test/apm_api_integration/tests/metrics/serverless/serverless_metrics_charts.spec.ts
Labels: Team:APM, release_note:skip, v8.6.0

#144453 [APM] Use consistent filtering for fetching mobile data
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/filters/index.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/service_oveview_mobile_charts.tsx
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_charts/use_filters_for_mobile_charts.ts
  x-pack/plugins/apm/server/routes/mobile/get_mobile_filters.ts
  x-pack/plugins/apm/server/routes/mobile/route.ts
Labels: bug, Team:APM, release_note:skip, v8.6.0

#144348 [TIP] add field existence check to the painless script
  x-pack/plugins/threat_intelligence/public/modules/indicators/lib/display_name.test.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/lib/display_name.ts
Labels: release_note:skip, backport:skip, Team: Protections Experience, v8.5.1

#143896 [Guided onboarding] Implement telemetry
  src/plugins/guided_onboarding/public/components/guide_panel.test.tsx
  src/plugins/guided_onboarding/public/components/guide_panel.tsx
  src/plugins/guided_onboarding/public/components/guide_panel_step.tsx
  src/plugins/guided_onboarding/public/components/quit_guide_modal.tsx
  src/plugins/home/public/application/components/guided_onboarding/__snapshots__/getting_started.test.tsx.snap
  src/plugins/home/public/application/components/guided_onboarding/getting_started.test.tsx
  src/plugins/home/public/application/components/guided_onboarding/getting_started.tsx
Labels: release_note:skip, Team:Journey/Onboarding

#144472 [APM] Metadata API does not filter by environment
  x-pack/plugins/apm/public/components/app/metrics_details/service_node_metrics/index.tsx
  x-pack/plugins/apm/server/routes/services/get_service_node_metadata.ts
  x-pack/plugins/apm/server/routes/services/route.ts
  x-pack/test/apm_api_integration/tests/services/get_service_node_metadata.spec.ts
Labels: release_note:fix, Team:APM, v8.6.0, v8.5.1

#144477 CCS Console test for integration test framework
  x-pack/test/stack_functional_integration/apps/ccs/ccs_console.js
  x-pack/test/stack_functional_integration/apps/ccs/index.js
Labels: Feature:Console, test_ui_functional, test_xpack_functional, release_note:skip, backport:skip, test-stack-integration, Feature:Functional Testing, v8.6.0

#144384 [Lens] Exclude the reference layer from the cursor sync hook
  src/plugins/chart_expressions/expression_xy/public/components/xy_chart.tsx
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.6.0

#144306 [Lens] Text based languages fixes and UX improvements
  x-pack/plugins/lens/public/datasources/text_based/field_select.test.tsx
  x-pack/plugins/lens/public/datasources/text_based/field_select.tsx
  x-pack/plugins/lens/public/datasources/text_based/text_based_languages.test.ts
  x-pack/plugins/lens/public/datasources/text_based/text_based_languages.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/visualizations/datatable/visualization.tsx
  x-pack/plugins/lens/public/visualizations/gauge/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/gauge/visualization.tsx
  x-pack/plugins/lens/public/visualizations/heatmap/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/heatmap/visualization.tsx
  x-pack/plugins/lens/public/visualizations/legacy_metric/visualization.tsx
  x-pack/plugins/lens/public/visualizations/metric/__snapshots__/visualization.test.ts.snap
  x-pack/plugins/lens/public/visualizations/metric/visualization.tsx
  x-pack/plugins/lens/public/visualizations/partition/visualization.tsx
  x-pack/plugins/lens/public/visualizations/xy/visualization.tsx
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:skip, v8.6.0

#144239 [Lens] Metric expression types improvement.
  src/plugins/chart_expressions/expression_metric/common/index.ts
  x-pack/plugins/lens/public/visualizations/metric/to_expression.ts
  x-pack/plugins/lens/public/visualizations/metric/visualization.test.ts
Labels: loe:hours, Team:VisEditors, release_note:skip, Feature:Lens, impact:low, backport:skip, v8.6.0

#144409 [Synthetics] Step details page object count breakdown
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/components/color_palette.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/components/object_count_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/step_detail_page.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/routes.tsx
Labels: Team:uptime, release_note:skip, v8.6.0

#144398 [Files] Copy updates and file picker single select
  examples/files_example/public/components/file_picker.tsx
  src/plugins/files/public/components/file_picker/components/empty_prompt.tsx
  src/plugins/files/public/components/file_picker/components/modal_footer.tsx
  src/plugins/files/public/components/file_picker/components/title.tsx
  src/plugins/files/public/components/file_picker/context.tsx
  src/plugins/files/public/components/file_picker/file_picker.stories.tsx
  src/plugins/files/public/components/file_picker/file_picker.test.tsx
  src/plugins/files/public/components/file_picker/file_picker.tsx
  src/plugins/files/public/components/file_picker/file_picker_state.test.ts
  src/plugins/files/public/components/file_picker/file_picker_state.ts
  src/plugins/files/public/components/file_picker/i18n_texts.ts
Labels: release_note:skip, auto-backport, Team:AppServicesUx, Team:Global Experience, feature:Files, v8.6.0

#144422 Performance journeys: log how many visualisations were loaded / rendered out of expected count
  x-pack/performance/journeys/data_stress_test_lens.ts
  x-pack/performance/journeys/ecommerce_dashboard.ts
  x-pack/performance/journeys/flight_dashboard.ts
  x-pack/performance/journeys/many_fields_discover.ts
  x-pack/performance/journeys/promotion_tracking_dashboard.ts
  x-pack/performance/journeys/web_logs_dashboard.ts
  x-pack/performance/utils.ts
Labels: release_note:skip, backport:skip, wg:performance

#144219 [ML] Explain Log Rate Spikes: Fix applying overall params to histogram queries.
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/plugins/aiops/server/routes/queries/get_histogram_query.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_histogram_query.ts
Labels: bug, release_note:fix, :ml, Feature:ML/AIOps, v8.6.0

#144179 [Fleet] Update landing page for add fleet server
  x-pack/plugins/fleet/cypress/e2e/a11y/home_page.cy.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_settings.cy.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_startup.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_fleet_server_host.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_quick_start_form.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/instructions.stories.tsx
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/steps/get_started.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_requirements_page/fleet_server_requirement_page.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/settings_page/fleet_server_hosts_section.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#144132 [Telemetry] Smarter next attempt timer to avoid skipping days
  src/plugins/telemetry/common/constants.ts
  src/plugins/telemetry/common/is_report_interval_expired.test.ts
  src/plugins/telemetry/common/is_report_interval_expired.ts
  src/plugins/telemetry/server/fetcher.test.mock.ts
  src/plugins/telemetry/server/fetcher.test.ts
  src/plugins/telemetry/server/fetcher.ts
  src/plugins/telemetry/server/get_next_attempt_date.test.ts
  src/plugins/telemetry/server/get_next_attempt_date.ts
Labels: Team:Core, release_note:skip, backport:prev-minor

#144478 [LaunchDarkly] Match deployment metadata format to Cloud UI convention
  x-pack/plugins/cloud_integrations/cloud_experiments/common/metadata_service/metadata_service.test.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/common/metadata_service/metadata_service.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/public/plugin.test.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/public/plugin.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/plugin.test.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/plugin.ts
Labels: Team:Core, technical debt, release_note:skip, backport:skip

#144450 fix autocomplete for fleet
  x-pack/plugins/fleet/public/applications/fleet/components/search_bar.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#143917 [Guided onboarding] [Security] Add EUI tour to Integrations pages
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.test.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.tsx
  x-pack/plugins/fleet/public/components/with_guided_onboarding_tour.tsx
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Journey/Onboarding, v8.6.0

#143062 [Synthetics] Getting started use url as monitor name
  x-pack/plugins/synthetics/public/apps/synthetics/components/getting_started/simple_monitor_form.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/getting_started/use_simple_monitor.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview_page.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:uptime, release_note:skip, ci:build-cloud-image, v8.6.0

#143632 [Lens] Allow date functions in formula
  src/plugins/expressions/common/expression_functions/specs/math_column.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/editor/math_completion.test.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/editor/math_completion.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/formula.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/formula.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/generate.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/math.test.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/math.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/last_value.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/last_value.tsx
Labels: release_note:enhancement, Feature:ExpressionLanguage, Team:VisEditors, Feature:Lens, backport:skip

#144429 [APM] Use FNV1 for hashing critical path data
  x-pack/plugins/apm/server/routes/traces/get_aggregated_critical_path.ts
Labels: Team:APM, release_note:skip, v8.6.0

#144442 [ML] Remove the CPU autoscale warning
  x-pack/plugins/ml/public/application/trained_models/models_management/start_deployment_setup.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: :ml, release_note:skip, Feature:3rd Party Models, Team:ML, v8.6.0, v8.5.1

#144507 [performance/journeys] fix journeys
  x-pack/performance/journeys/ecommerce_dashboard_saved_search_only.ts
  x-pack/performance/journeys/ecommerce_dashboard_tsvb_gauge_only.ts
Labels: release_note:skip, wg:performance

#143586 [ResponseOps][Alerting] Provide scaling metrics for Kibana Alerting
  x-pack/plugins/task_manager/server/lib/adhoc_task_counter.test.ts
  x-pack/plugins/task_manager/server/lib/adhoc_task_counter.ts
  x-pack/plugins/task_manager/server/lib/intervals.test.ts
  x-pack/plugins/task_manager/server/lib/intervals.ts
  x-pack/plugins/task_manager/server/monitoring/background_task_utilization_statistics.test.ts
  x-pack/plugins/task_manager/server/monitoring/background_task_utilization_statistics.ts
  x-pack/plugins/task_manager/server/monitoring/index.ts
  x-pack/plugins/task_manager/server/monitoring/monitoring_stats_stream.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/plugins/task_manager/server/routes/background_task_utilization.test.ts
  x-pack/plugins/task_manager/server/routes/background_task_utilization.ts
  x-pack/plugins/task_manager/server/routes/index.ts
  x-pack/plugins/task_manager/server/task_store.test.ts
  x-pack/plugins/task_manager/server/task_store.ts
  x-pack/plugins/task_manager/server/usage/task_manager_usage_collector.test.ts
  x-pack/plugins/task_manager/server/usage/task_manager_usage_collector.ts
  x-pack/plugins/task_manager/server/usage/types.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/test/plugin_api_integration/test_suites/task_manager/background_task_utilization_route.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/index.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Alerting/RulesFramework

#144516 [8.5] [ML] Remove the CPU autoscale warning (#144442)
  x-pack/plugins/ml/public/application/trained_models/models_management/start_deployment_setup.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#144502 starting with loading:true for packages and categories
  x-pack/plugins/fleet/public/applications/integrations/hooks/use_categories.tsx
  x-pack/plugins/fleet/public/applications/integrations/hooks/use_packages.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#144407 [Synthetics] Organise api tests
  x-pack/test/api_integration/apis/index.ts
  x-pack/test/api_integration/apis/synthetics/add_monitor.ts
  x-pack/test/api_integration/apis/synthetics/add_monitor_private_location.ts
  x-pack/test/api_integration/apis/synthetics/add_monitor_project.ts
  x-pack/test/api_integration/apis/synthetics/delete_monitor.ts
  x-pack/test/api_integration/apis/synthetics/delete_monitor_project.ts
  x-pack/test/api_integration/apis/synthetics/edit_monitor.ts
  x-pack/test/api_integration/apis/synthetics/get_monitor.ts
  x-pack/test/api_integration/apis/synthetics/get_monitor_overview.ts
  x-pack/test/api_integration/apis/synthetics/get_monitor_project.ts
  x-pack/test/api_integration/apis/synthetics/index.ts
  x-pack/test/api_integration/apis/synthetics/services/private_location_test_service.ts
  x-pack/test/api_integration/apis/synthetics/synthetics_enablement.ts
  x-pack/test/api_integration/apis/uptime/rest/index.ts
Labels: release_note:skip, v8.6.0

#144527 [8.5] [Synthetics Telemetry] Make consistent use of stackVersion (#143924)
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/types.ts
  x-pack/plugins/synthetics/server/plugin.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/add_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/delete_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/edit_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.test.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.ts
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.test.ts
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter.ts
  x-pack/plugins/synthetics/server/synthetics_service/service_api_client.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/service_api_client.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
Labels: backport, Team:uptime

#144487 [DOCS] Fixes landing page links
  docs/index-custom-title-page.html
Labels: Team:Docs, release_note:skip, v8.5.0

#144489 [8.5] Remove buildbuddy cache (#144356)
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/lifecycle/pre_command.sh
  .buildkite/scripts/steps/on_merge_ts_refs_api_docs.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: backport

#144536 [8.5] [DOCS] Fixes landing page links (#144487)
  docs/index-custom-title-page.html
Labels: backport

#143303 Add notifications plugin, offering basic email service
  .github/CODEOWNERS
  docs/developer/plugin-list.asciidoc
  src/plugins/telemetry/README.md
  tsconfig.base.json
  x-pack/plugins/actions/server/mocks.ts
  x-pack/plugins/actions/server/plugin.ts
  x-pack/plugins/actions/server/unsecured_actions_client/unsecured_actions_client.mock.ts
  x-pack/plugins/notifications/README.md
  x-pack/plugins/notifications/common/index.ts
  x-pack/plugins/notifications/jest.config.js
  x-pack/plugins/notifications/kibana.json
  x-pack/plugins/notifications/server/config/config.ts
  x-pack/plugins/notifications/server/config/index.ts
  x-pack/plugins/notifications/server/index.ts
  x-pack/plugins/notifications/server/mocks.ts
  x-pack/plugins/notifications/server/plugin.test.ts
  x-pack/plugins/notifications/server/plugin.ts
  x-pack/plugins/notifications/server/services/connectors_email_service.test.ts
  x-pack/plugins/notifications/server/services/connectors_email_service.ts
  x-pack/plugins/notifications/server/services/connectors_email_service_provider.test.ts
  x-pack/plugins/notifications/server/services/connectors_email_service_provider.ts
  x-pack/plugins/notifications/server/services/index.ts
  x-pack/plugins/notifications/server/services/licensed_email_service.test.ts
  x-pack/plugins/notifications/server/services/licensed_email_service.ts
  x-pack/plugins/notifications/server/services/types.ts
  x-pack/plugins/notifications/server/types.ts
  x-pack/plugins/notifications/tsconfig.json
Labels: Team:Core, Team:AppServicesSv, backport:skip, release_note:feature, v8.6.0

#144456 [Synthetics] Show to date monitor summary for new monitors
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/hooks/use_earliest_start_data.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/availability_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_error_sparklines.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_errors_count.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_summary.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/routes.tsx
Labels: Team:uptime, release_note:skip, v8.6.0

#144424 [ResponseOps][Alerting] Ping the response-ops team whenever a new rule type is registered
  x-pack/plugins/alerting/server/mocks.ts
  x-pack/plugins/alerting/server/plugin.ts
  x-pack/plugins/alerting/server/rule_type_registry.mock.ts
  x-pack/plugins/alerting/server/rule_type_registry.test.ts
  x-pack/plugins/alerting/server/rule_type_registry.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/plugin.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/routes.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/check_registered_rule_types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, v8.6.0

#143879 [Synthetics] add monitor id migration
  src/core/server/integration_tests/saved_objects/migrations/check_registered_types.test.ts
  x-pack/plugins/synthetics/common/constants/monitor_defaults.ts
  x-pack/plugins/synthetics/common/constants/monitor_management.ts
  x-pack/plugins/synthetics/common/formatters/common/formatters.ts
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/locations.ts
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/monitor_types.ts
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/synthetics_private_locations.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/getting_started.journey.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/defaults.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/test_runs_table.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/utils/testing/__mocks__/synthetics_store.mock.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/fleet_package/common/normalizers.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/requests/get_monitor.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/saved_objects/migrations/monitors/8.6.0.test.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/saved_objects/migrations/monitors/8.6.0.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/saved_objects/migrations/monitors/index.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/saved_objects/saved_objects.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/saved_objects/synthetics_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/add_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/monitor_validation.test.ts
  x-pack/plugins/synthetics/server/routes/synthetics_service/test_now_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_service/formatters/common.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/browser_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
  x-pack/test/api_integration/apis/synthetics/add_monitor.ts
  x-pack/test/api_integration/apis/synthetics/add_monitor_private_location.ts
  x-pack/test/api_integration/apis/synthetics/add_monitor_project.ts
  x-pack/test/api_integration/apis/synthetics/edit_monitor.ts
  x-pack/test/api_integration/apis/synthetics/get_monitor.ts
Labels: enhancement, Team:uptime, release_note:skip, v8.6.0

#142126 [Discover] Enable context docs navigation from embeddable using adhoc data views
  src/plugins/discover/public/__mocks__/services.ts
  src/plugins/discover/public/application/context/context_app.test.tsx
  src/plugins/discover/public/application/context/context_app.tsx
  src/plugins/discover/public/application/context/context_app_content.tsx
  src/plugins/discover/public/application/context/context_app_route.tsx
  src/plugins/discover/public/application/context/hooks/use_context_app_state.ts
  src/plugins/discover/public/application/context/services/locator.test.ts
  src/plugins/discover/public/application/context/services/locator.ts
  src/plugins/discover/public/application/context/utils/replace_context_location.ts
  src/plugins/discover/public/application/discover_router.tsx
  src/plugins/discover/public/application/doc/components/doc.test.tsx
  src/plugins/discover/public/application/doc/components/doc.tsx
  src/plugins/discover/public/application/doc/locator.test.ts
  src/plugins/discover/public/application/doc/locator.ts
  src/plugins/discover/public/application/doc/single_doc_route.tsx
  src/plugins/discover/public/application/index.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/application/main/discover_main_route.test.tsx
  src/plugins/discover/public/application/main/discover_main_route.tsx
  src/plugins/discover/public/build_services.ts
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_flyout.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_flyout.tsx
  src/plugins/discover/public/components/doc_table/components/table_row.tsx
  src/plugins/discover/public/components/doc_table/components/table_row_details.tsx
  src/plugins/discover/public/components/doc_table/create_doc_table_embeddable.tsx
  src/plugins/discover/public/components/doc_table/doc_table_wrapper.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  src/plugins/discover/public/hooks/use_data_view.test.tsx
  src/plugins/discover/public/hooks/use_data_view.tsx
  src/plugins/discover/public/hooks/use_navigation_props.test.tsx
  src/plugins/discover/public/hooks/use_navigation_props.tsx
  src/plugins/discover/public/locator.ts
  src/plugins/discover/public/plugin.tsx
  src/plugins/discover/public/utils/with_query_params.test.tsx
  src/plugins/discover/public/utils/with_query_params.tsx
  test/functional/apps/context/_context_navigation.ts
  test/functional/apps/context/_discover_navigation.ts
  test/functional/apps/context/classic/_discover_navigation.ts
  test/functional/apps/discover/group2/_adhoc_data_views.ts
  test/functional/apps/discover/group2/_data_grid_context.ts
  test/functional/services/data_grid.ts
  test/functional/services/toasts.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Discover, release_note:skip, Team:DataDiscovery, v8.6.0

#143370 [Osquery] Fix more bugs
  x-pack/plugins/osquery/cypress/e2e/all/packs.cy.ts
  x-pack/plugins/osquery/cypress/screens/live_query.ts
  x-pack/plugins/osquery/public/form/results_type_field.tsx
  x-pack/plugins/osquery/public/lens/view_results_in_lens.tsx
  x-pack/plugins/osquery/public/live_queries/form/live_query_query_field.tsx
  x-pack/plugins/osquery/public/live_queries/form/pack_queries_status_table.tsx
  x-pack/plugins/osquery/public/packs/form/queries_field.tsx
  x-pack/plugins/osquery/public/packs/queries/ecs_mapping_editor_field.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/edit/tabs.tsx
  x-pack/plugins/osquery/public/timelines/add_to_timeline_button.tsx
  x-pack/plugins/osquery/server/routes/pack/create_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/update_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/utils.test.ts
  x-pack/plugins/osquery/server/routes/pack/utils.ts
Labels: release_note:skip, Team:Asset Management, Feature:Osquery, auto-backport, v8.6.0, v8.5.1

#144535 [Lens] Add section about re-render performance
  x-pack/plugins/lens/readme.md
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:skip

#144542 [Fleet] Fix refresh in settings section and flyout state
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_fleet_server_host.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/steps/get_started.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/settings_page/fleet_server_hosts_section.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/index.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0

#144545 [8.5] [APM] Metadata API does not filter by environment (#144472)
  x-pack/plugins/apm/public/components/app/service_node_metrics/index.tsx
  x-pack/plugins/apm/server/routes/service_nodes/queries.test.ts
  x-pack/plugins/apm/server/routes/services/get_service_node_metadata.ts
  x-pack/plugins/apm/server/routes/services/route.ts
  x-pack/test/apm_api_integration/tests/services/get_service_node_metadata.spec.ts
Labels: backport, Team:APM

#144497 [Security Solution] Fix success bulk edit toast message
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/bulk_edit_rules.cy.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/show_bulk_success_toast.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_bulk_export.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_download_exported_rules.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_execute_bulk_action.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_show_bulk_error_toast.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/use_show_bulk_success_toast.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/use_bulk_actions.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/use_rules_table_actions.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_actions_overflow/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/translations.ts
Labels: bug, release_note:fix, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rules, v8.6.0

#144474 [APM] Metadata API does not filter by environment
  x-pack/plugins/apm/public/components/app/service_node_metrics/index.tsx
  x-pack/plugins/apm/server/lib/service_nodes/queries.test.ts
  x-pack/plugins/apm/server/lib/services/get_service_node_metadata.ts
  x-pack/plugins/apm/server/routes/services.ts
Labels: release_note:fix, v7.17.8

#144376 [Guided onboarding] Update kubernetes dashboard url
  src/plugins/guided_onboarding/public/constants/guides_config/observability.ts
Labels: release_note:skip, Team:Journey/Onboarding

#144547 Change codeowners
  .github/CODEOWNERS
Labels: Team:Visualizations, release_note:skip, backport:skip

#144490 [7.17] Remove buildbuddy cache (#144356)
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/lifecycle/pre_command.sh
  .buildkite/scripts/steps/on_merge_ts_refs_api_docs.sh
  src/dev/ci_setup/load_env_keys.sh
Labels: backport

#144555 [8.5] [Osquery] Fix missing data view when viewing results in Discover/Lens in non-default Kibana space (#144210)
  x-pack/plugins/osquery/cypress/e2e/all/discover.cy.ts
  x-pack/plugins/osquery/public/common/hooks/use_logs_data_view.tsx
  x-pack/plugins/osquery/public/discover/view_results_in_discover.tsx
  x-pack/plugins/osquery/public/lens/view_results_in_lens.tsx
  x-pack/plugins/osquery/public/packs/pack_queries_status_table.tsx
  x-pack/plugins/osquery/scripts/roles_users/soc_manager/role.json
Labels: backport

#144248 [Lens] PartitionVis expression types improvement.
  src/plugins/chart_expressions/expression_partition_vis/common/index.ts
  src/plugins/chart_expressions/expression_partition_vis/common/types/expression_functions.ts
  x-pack/plugins/lens/kibana.json
  x-pack/plugins/lens/public/visualizations/partition/to_expression.ts
  x-pack/plugins/lens/tsconfig.json
Labels: loe:hours, Team:Visualizations, release_note:skip, Feature:Lens, impact:low, backport:skip, v8.6.0

#144454 [Security Solution][Endpoint][Response Actions] Update deleted file message for file link
  x-pack/plugins/security_solution/public/common/utils/resolve_path_variables.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.test.tsx
  x-pack/plugins/security_solution/public/management/components/response_action_file_download_link/response_action_file_download_link.test.tsx
  x-pack/plugins/security_solution/public/management/components/response_action_file_download_link/response_action_file_download_link.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, OLM Sprint, v8.6.0

#144494 [Fleet] add DELETED file update task
  x-pack/plugins/fleet/common/constants/index.ts
  x-pack/plugins/fleet/server/constants/fleet_es_assets.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/services/files/index.test.ts
  x-pack/plugins/fleet/server/services/files/index.ts
  x-pack/plugins/fleet/server/tasks/check_deleted_files_task.test.ts
  x-pack/plugins/fleet/server/tasks/check_deleted_files_task.ts
  x-pack/plugins/fleet/server/types/files/index.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/health_route.ts
Labels: release_note:skip, Team:Fleet, Team:Onboarding and Lifecycle Mgt, v8.6.0

#144465 Cache ad-hoc data views to avoid repeated field list calls
  src/plugins/data_views/common/data_views/data_views.test.ts
  src/plugins/data_views/common/data_views/data_views.ts
Labels: release_note:fix, Team:Visualizations, Feature:Data Views, backport:skip, v8.6.0

#144464 [Fleet] parse `elasticsearch.source_mode` from manifest + small refactor
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/services/epm/archive/parse.test.ts
  x-pack/plugins/fleet/server/services/epm/archive/parse.ts
Labels: release_note:skip, Team:Fleet, v8.6.0

#144568 [8.5] Update dependency react-hook-form to ^7.38.0 (#143996)
  package.json
  yarn.lock
Labels: backport

#144553 update chromium MD5 checksum
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
Labels: Feature:Reporting, release_note:skip, backport:skip, Team:Global Experience, v8.6.0

#144563 [8.5] [Osquery] Fix more bugs (#143370)
  x-pack/plugins/osquery/cypress/e2e/all/packs.cy.ts
  x-pack/plugins/osquery/cypress/screens/live_query.ts
  x-pack/plugins/osquery/public/form/results_type_field.tsx
  x-pack/plugins/osquery/public/lens/view_results_in_lens.tsx
  x-pack/plugins/osquery/public/live_queries/form/live_query_query_field.tsx
  x-pack/plugins/osquery/public/live_queries/form/pack_queries_status_table.tsx
  x-pack/plugins/osquery/public/packs/form/queries_field.tsx
  x-pack/plugins/osquery/public/packs/queries/ecs_mapping_editor_field.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/edit/tabs.tsx
  x-pack/plugins/osquery/public/timelines/add_to_timeline_button.tsx
  x-pack/plugins/osquery/server/routes/pack/create_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/update_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/utils.test.ts
  x-pack/plugins/osquery/server/routes/pack/utils.ts
Labels: backport

#144573 chore(NA): update ci step name to Check Public API Docs
  .buildkite/pipelines/on_merge.yml
  .buildkite/scripts/steps/on_merge_api_docs.sh
Labels: chore, Team:Operations, release_note:skip

#144571 [UsageCollection] Allow `pass_through` on `Record<string, unknown>` types
  packages/kbn-telemetry-tools/src/tools/__fixture__/mock_schema_with_descriptions.json
  packages/kbn-telemetry-tools/src/tools/__fixture__/parsed_working_collector_with_description.ts
  packages/kbn-telemetry-tools/src/tools/manage_schema.ts
  packages/kbn-telemetry-tools/src/tools/serializer.test.ts
  packages/kbn-telemetry-tools/src/tools/serializer.ts
  src/fixtures/telemetry_collectors/constants.ts
  src/fixtures/telemetry_collectors/working_collector_with_description.ts
  src/plugins/usage_collection/server/collector/types.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/usage/register_usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: Team:Core, release_note:skip, backport:prev-minor

#144528 [Enterprise Search] Adds cancel syncs functionality for connectors
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/cancel_syncs_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/cancel_syncs_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/header_actions/header_actions.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/header_actions/header_actions.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/header_actions/sync_button.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/header_actions/syncs_context_menu.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/header_actions/syncs_context_menu.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/cancel_syncs_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/cancel_syncs_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/crawler_status_indicator/stop_crawl_popover_context_menu.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/sync_status_to_text.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/sync_status_to_text.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/post_cancel_syncs.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/post_cancel_syncs.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
Labels: release_note:feature, Team:EnterpriseSearch, v8.6.0

#144587 [8.5] [UsageCollection] Allow `pass_through` on `Record<string, unknown>` types (#144571)
  packages/kbn-telemetry-tools/src/tools/__fixture__/mock_schema_with_descriptions.json
  packages/kbn-telemetry-tools/src/tools/__fixture__/parsed_working_collector_with_description.ts
  packages/kbn-telemetry-tools/src/tools/manage_schema.ts
  packages/kbn-telemetry-tools/src/tools/serializer.test.ts
  packages/kbn-telemetry-tools/src/tools/serializer.ts
  src/fixtures/telemetry_collectors/constants.ts
  src/fixtures/telemetry_collectors/working_collector_with_description.ts
  src/plugins/usage_collection/server/collector/types.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/usage/register_usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: backport

#144570 [Fleet] Bugifx - support dot notation for elasticsearch index_template fields in data stream manifest
  x-pack/plugins/fleet/server/services/epm/archive/parse.test.ts
  x-pack/plugins/fleet/server/services/epm/archive/parse.ts
Labels: release_note:skip, Team:Fleet, v8.6.0

#142363 [Archive Migrations] security_solution-timelines
  scripts/archive_migration_functions.sh
  x-pack/test/api_integration/apis/security_solution/timeline_migrations.ts
  x-pack/test/functional/es_archives/security_solution/timelines/7.15.0_space/data.json.gz
  x-pack/test/functional/fixtures/kbn_archiver/security_solution/timelines/7.15.0_space
Labels: test_xpack_functional, release_note:skip, backport:skip, v8.6.0

#144385 [Synthetics] User experience and monitor details, load when in view
  x-pack/plugins/observability/public/components/shared/index.tsx
  x-pack/plugins/observability/public/components/shared/load_when_in_view/load_when_in_view.tsx
  x-pack/plugins/observability/public/index.ts
  x-pack/plugins/synthetics/e2e/page_objects/monitor_management.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_summary.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/test_runs_table.tsx
  x-pack/plugins/ux/e2e/journeys/ux_js_errors.journey.ts
  x-pack/plugins/ux/e2e/journeys/ux_long_task_metric_journey.ts
  x-pack/plugins/ux/e2e/journeys/ux_visitor_breakdown.journey.ts
  x-pack/plugins/ux/public/components/app/rum_dashboard/rum_dashboard.tsx
Labels: Team:uptime, release_note:skip, v8.6.0

#144241 [Expressions] Add a flag to opt-out of the partial results in the expressions
  examples/partial_results_example/public/app/app.tsx
  src/plugins/expressions/common/execution/execution.test.ts
  src/plugins/expressions/common/execution/execution.ts
  src/plugins/expressions/common/execution/execution_contract.test.ts
  src/plugins/expressions/common/service/expressions_services.ts
  src/plugins/expressions/public/loader.ts
Labels: review, Feature:ExpressionLanguage, Team:AppServicesSv, release_note:skip, v8.6.0

#144383 [Security Solution][Exceptions] Complete List-Header's use-cases
  packages/kbn-securitysolution-exception-list-components/src/exception_item_card/comments/__snapshots__/comments.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/exception_item_card/comments/comments.test.tsx
  packages/kbn-securitysolution-exception-list-components/src/exception_item_card/comments/index.tsx
  packages/kbn-securitysolution-exception-list-components/src/exception_item_card/meta/meta.test.tsx
  packages/kbn-securitysolution-exception-list-components/src/header_menu/__snapshots__/header_menu.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/header_menu/header_menu.test.tsx
  packages/kbn-securitysolution-exception-list-components/src/header_menu/index.tsx
  packages/kbn-securitysolution-exception-list-components/src/list_header/__snapshots__/list_header.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/list_header/edit_modal/__snapshots__/edit_modal.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/list_header/edit_modal/edit_modal.test.tsx
  packages/kbn-securitysolution-exception-list-components/src/list_header/edit_modal/index.tsx
  packages/kbn-securitysolution-exception-list-components/src/list_header/edit_modal/use_edit_modal.test.ts
  packages/kbn-securitysolution-exception-list-components/src/list_header/edit_modal/use_edit_modal.ts
  packages/kbn-securitysolution-exception-list-components/src/list_header/index.tsx
  packages/kbn-securitysolution-exception-list-components/src/list_header/list_header.styles.ts
  packages/kbn-securitysolution-exception-list-components/src/list_header/list_header.test.tsx
  packages/kbn-securitysolution-exception-list-components/src/list_header/menu_items/__snapshots__/menu_items.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/list_header/menu_items/index.tsx
  packages/kbn-securitysolution-exception-list-components/src/list_header/menu_items/menu_items.test.tsx
  packages/kbn-securitysolution-exception-list-components/src/list_header/use_list_header.ts
  packages/kbn-securitysolution-exception-list-components/src/mocks/header.mock.ts
  packages/kbn-securitysolution-exception-list-components/src/mocks/rule_references.mock.ts
  packages/kbn-securitysolution-exception-list-components/src/mocks/security_link_component.mock.tsx
  packages/kbn-securitysolution-exception-list-components/src/text_with_edit/__snapshots__/text_with_edit.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/text_with_edit/index.tsx
  packages/kbn-securitysolution-exception-list-components/src/text_with_edit/text_with_edit.styles.ts
  packages/kbn-securitysolution-exception-list-components/src/translations.ts
  packages/kbn-securitysolution-exception-list-components/src/types/index.ts
Labels: release_note:feature

#144608 Change CODEOWNERS for @kbn/rule-data-utils
  .github/CODEOWNERS
Labels: release_note:skip, v8.6.0

#144325 [SecuritySolution] Risk Score api clean up and update documentation
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/public/risk_score/containers/onboarding/api/index.ts
  x-pack/plugins/security_solution/public/risk_score/containers/onboarding/api/indices.test.ts
  x-pack/plugins/security_solution/public/risk_score/containers/onboarding/api/indices.ts
  x-pack/plugins/security_solution/public/risk_score/containers/onboarding/api/transforms.ts
  x-pack/plugins/security_solution/public/risk_score/containers/onboarding/api/translations.ts
  x-pack/plugins/security_solution/public/risk_score/containers/onboarding/api/types.ts
  x-pack/plugins/security_solution/server/lib/risk_score/readme.md
  x-pack/plugins/security_solution/server/lib/risk_score/routes/index.ts
  x-pack/plugins/security_solution/server/lib/risk_score/transform/helpers/transforms.ts
  x-pack/plugins/security_solution/server/lib/risk_score/transform/restart_transform.ts
  x-pack/plugins/security_solution/server/routes/index.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.6.0

#144512 [ML] Correcting the size of the free ML node on cloud
  x-pack/plugins/ml/common/constants/cloud.ts
  x-pack/plugins/ml/common/license/ml_license.ts
  x-pack/plugins/ml/public/application/components/node_available_warning/node_available_warning.tsx
  x-pack/plugins/ml/public/application/license/check_license.tsx
Labels: bug, release_note:fix, :ml, v8.6.0, v8.5.1

#144470 [Fleet] Fix fleet server instructions with existing fleet server hosts
  x-pack/plugins/fleet/common/types/rest_spec/fleet_server_hosts.ts
  x-pack/plugins/fleet/cypress/e2e/a11y/home_page.cy.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_settings.cy.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_startup.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet.ts
  x-pack/plugins/fleet/cypress/tasks/fleet_server.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/advanced_tab.tsx
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_fleet_server_host.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_quick_start_form.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/quick_start_tab.tsx
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/steps/add_fleet_server_host.tsx
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/steps/get_started.tsx
  x-pack/plugins/fleet/public/hooks/use_fleet_server_hosts_for_policy.ts
  x-pack/plugins/fleet/public/hooks/use_request/fleet_server_hosts.ts
Labels: release_note:skip, Team:Fleet, v8.6.0

#144604 fix issue with single agent schedule upgrade
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
Labels: release_note:skip, Team:Fleet, v8.6.0
