Repository elastic/kibana, pull requests merged in 2022-09, with the labels that each got.

#139507 [Security Solution] Clear graph event id when overlay unmounts
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.5.0

#139824 allows to disable automatic handling of shard warnings on expressions
  src/plugins/data/common/search/expressions/esaggs/request_handler.test.ts
  src/plugins/data/common/search/expressions/esaggs/request_handler.ts
  src/plugins/data/common/search/expressions/kibana_context_type.ts
  src/plugins/data/public/search/expressions/esaggs.test.ts
  src/plugins/data/public/search/expressions/esaggs.ts
  src/plugins/data/server/search/expressions/esaggs.test.ts
  src/plugins/data/server/search/expressions/esaggs.ts
Labels: release_note:skip, backport:skip, v8.5.0

#139098 Ingest ciBuildName flag to telemetry along with labels
  src/plugins/telemetry/server/config/telemetry_labels.ts
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/test/performance/journeys/base.config.ts
Labels: Team:Operations, performance, release_note:skip, backport:skip, wg:performance, v8.5.0

#139711 SO management: Use display name for type in overwrite modal
  src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/components/overwrite_modal.test.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/components/overwrite_modal.tsx
Labels: Team:Core, release_note:skip, Feature:Saved Objects Management, backport:prev-minor, v8.5.0

#139884 [8.4] SO management: Use diplay name for type in overwrite modal (#139711)
  src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/components/overwrite_modal.test.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/components/overwrite_modal.tsx
Labels: backport

#139698 [Files] Add developer documentation
  nav-kibana-dev.docnav.json
  x-pack/plugins/files/docs/tutorial.mdx
Labels: release_note:skip, auto-backport, Team:AppServicesUx, v8.5.0, feature:Files

#139813 [Enterprise Search] Add ability to create a native connector
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/add_connector_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/add_connector_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/generate_connector_api_key_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/generate_connector_api_key_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/start_sync_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/start_sync_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/update_connector_configuration_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/update_connector_configuration_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/update_connector_scheduling_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/method_connector/add_connector_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/method_connector/add_connector_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/method_connector/add_connector_package_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/method_connector/method_connector.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/method_connector/method_connector.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/new_index.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/new_search_index_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/utils/error_to_text.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/api_key_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_form.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team:EnterpriseSearch, v8.5.0

#139827 [Cases] Improve attachments rendering
  x-pack/plugins/cases/public/components/user_actions/comment/comment.test.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/registered_attachments.tsx
Labels: release_note:skip, Feature:Cases, v8.5.0

#139761 [Security Solution][Endpoint] Improve stability of `.click()` action in FTR `pageObjects` for Endpoint Responder
  x-pack/test/security_solution_endpoint/apps/endpoint/responder.ts
  x-pack/test/security_solution_endpoint/page_objects/endpoint_responder.ts
  x-pack/test/security_solution_ftr/page_objects/timeline/index.ts
  x-pack/test/security_solution_ftr/services/detections/index.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.5.0

#139255 [Synthetics] only check for allowed status on ess
  x-pack/plugins/synthetics/server/routes/synthetics_service/get_service_allowed.ts
Labels: bug, release_note:fix, Team:uptime, v8.4.0, v8.5.0, ci:cloud-deploy

#137321 Timepicker UI refactoring of x-pack/test/functional/apps/maps/group4/discover.js to use ui settings
  test/functional/page_objects/common_page.ts
  x-pack/test/functional/apps/maps/group4/discover.js
Labels: Team:QA, release_note:skip, Feature:Maps, v8.5.0

#139852 Report performance metrics docs followup
  dev_docs/tutorials/adding_performance_metrics.mdx
Labels: release_note:skip, backport:skip, DevDocs, v8.5.0

#139814 [TIP] Compute Indicator Names with ES runtime fields
  x-pack/plugins/threat_intelligence/common/types/indicator.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_flyout/indicators_flyout.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_flyout/indicators_flyout.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_flyout_table/indicators_flyout_table.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_table/cell_renderer.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_indicators.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_sourcerer_data_view.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/lib/display_name.test.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/lib/display_name.ts
  x-pack/plugins/threat_intelligence/public/modules/timeline/components/add_to_timeline/add_to_timeline.tsx
Labels: release_note:skip, backport:skip, 8.5 candidate, Team: Protections Experience

#139696 [TIP] Preserve indicator grid state
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_table/hooks/use_column_settings.test.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_table/hooks/use_column_settings.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_table/indicators_table.tsx
Labels: release_note:skip, backport:skip, 8.5 candidate, Team: Protections Experience

#139567 [Fleet] Add support for forcing stack aligned versions on bundled packages
  fleet_packages.json
  package.json
  src/dev/build/lib/archive_utils.ts
  src/dev/build/lib/index.ts
  src/dev/build/tasks/bundle_fleet_packages.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  yarn.lock
Labels: release_note:skip, Team:Fleet, ci:cloud-deploy, ci:cloud-redeploy

#139853 Unskip functional test
  x-pack/test/encrypted_saved_objects_api_integration/tests/encrypted_saved_objects_api.ts
Labels: Team:Security, release_note:skip, v8.5.0

#139004 Set table min width for column split tables
  src/plugins/vis_types/table/public/components/table_vis_split.tsx
  src/plugins/vis_types/table/public/components/table_visualization.test.tsx
  src/plugins/vis_types/table/public/components/table_visualization.tsx
Labels: release_note:fix, Team:VisEditors, backport:skip

#138571 Clean up glob related dependencies
  package.json
  packages/kbn-es/BUILD.bazel
  packages/kbn-es/src/utils/find_most_recently_changed.test.ts
  packages/kbn-es/src/utils/find_most_recently_changed.ts
  packages/kbn-spec-to-console/BUILD.bazel
  packages/kbn-spec-to-console/bin/spec_to_console.js
  packages/kbn-telemetry-tools/BUILD.bazel
  packages/kbn-telemetry-tools/src/tools/extract_collectors.ts
  packages/kbn-telemetry-tools/src/tools/utils.ts
  src/cli_plugin/install/download.test.js
  src/cli_plugin/install/pack.test.js
  src/cli_plugin/install/zip.test.js
  src/cli_plugin/remove/remove.test.js
  src/dev/code_coverage/ingest_coverage/__tests__/enumerate_patterns.test.js
  src/dev/code_coverage/ingest_coverage/team_assignment/enumeration_helpers.js
  src/dev/i18n/extract_default_translations.js
  src/dev/i18n/utils/index.ts
  src/dev/i18n/utils/utils.js
  src/dev/notice/bundled_notices.js
  src/plugins/console/server/services/spec_definitions_service.ts
  src/plugins/vis_types/timelion/server/lib/load_functions.js
  x-pack/dev-tools/api_debug/index.js
  x-pack/plugins/fleet/server/services/epm/fields/field.test.ts
  x-pack/test/apm_api_integration/tests/index.ts
  x-pack/test/security_solution_cypress/runner.ts
  x-pack/test/threat_intelligence_cypress/runner.ts
  yarn.lock
Labels: Team:Operations, release_note:skip, Team:Fleet

#139846 [Expressions] Fix the `var_set` expressions function to use input when there is no value
  src/plugins/expressions/common/expression_functions/specs/tests/var_set.test.ts
  src/plugins/expressions/common/expression_functions/specs/var_set.ts
Labels: review, Feature:ExpressionLanguage, Team:AppServicesSv, release_note:skip, v8.5.0

#139861 Attempt to harden lens dashboard flaky test
  test/functional/services/filter_bar.ts
Labels: release_note:skip, backport:skip

#139593 Auto-generate preview links for DOC PRs
  .github/workflows/docs-preview-links.yml
  docs/user/security/audit-logging.asciidoc
Labels: Team:Docs, release_note:skip, docs, v8.5.0, v8.4.2

#139878 [api-docs] automatically strip deleted doc files from the nav
  packages/kbn-docs-utils/BUILD.bazel
  packages/kbn-docs-utils/src/api_docs/build_api_docs_cli.ts
  packages/kbn-docs-utils/src/api_docs/mdx/get_all_doc_file_ids.ts
  packages/kbn-docs-utils/src/api_docs/trim_deleted_docs_from_nav.ts
Labels: Team:Operations, release_note:skip

#139808 [core] [i18n] Move i18n core server
  package.json
  packages/BUILD.bazel
  packages/core/i18n/core-i18n-server-internal/BUILD.bazel
  packages/core/i18n/core-i18n-server-internal/README.md
  packages/core/i18n/core-i18n-server-internal/index.ts
  packages/core/i18n/core-i18n-server-internal/jest.config.js
  packages/core/i18n/core-i18n-server-internal/package.json
  packages/core/i18n/core-i18n-server-internal/src/get_kibana_translation_files.test.ts
  packages/core/i18n/core-i18n-server-internal/src/get_kibana_translation_files.ts
  packages/core/i18n/core-i18n-server-internal/src/get_translation_paths.test.mocks.ts
  packages/core/i18n/core-i18n-server-internal/src/get_translation_paths.test.ts
  packages/core/i18n/core-i18n-server-internal/src/get_translation_paths.ts
  packages/core/i18n/core-i18n-server-internal/src/i18n_config.ts
  packages/core/i18n/core-i18n-server-internal/src/i18n_service.test.mocks.ts
  packages/core/i18n/core-i18n-server-internal/src/i18n_service.test.ts
  packages/core/i18n/core-i18n-server-internal/src/i18n_service.ts
  packages/core/i18n/core-i18n-server-internal/src/index.ts
  packages/core/i18n/core-i18n-server-internal/src/init_translations.ts
  packages/core/i18n/core-i18n-server-internal/src/routes/index.ts
  packages/core/i18n/core-i18n-server-internal/src/routes/translations.ts
  packages/core/i18n/core-i18n-server-internal/tsconfig.json
  packages/core/i18n/core-i18n-server-mocks/BUILD.bazel
  packages/core/i18n/core-i18n-server-mocks/README.md
  packages/core/i18n/core-i18n-server-mocks/index.ts
  packages/core/i18n/core-i18n-server-mocks/jest.config.js
  packages/core/i18n/core-i18n-server-mocks/package.json
  packages/core/i18n/core-i18n-server-mocks/src/i18n_service.mock.ts
  packages/core/i18n/core-i18n-server-mocks/tsconfig.json
  packages/core/i18n/core-i18n-server/BUILD.bazel
  packages/core/i18n/core-i18n-server/README.md
  packages/core/i18n/core-i18n-server/index.ts
  packages/core/i18n/core-i18n-server/jest.config.js
  packages/core/i18n/core-i18n-server/package.json
  packages/core/i18n/core-i18n-server/src/types.ts
  packages/core/i18n/core-i18n-server/tsconfig.json
  src/core/server/index.ts
  src/core/server/internal_types.ts
  src/core/server/mocks.ts
  src/core/server/server.test.mocks.ts
  src/core/server/server.ts
  yarn.lock
Labels: release_note:skip, v8.5.0

#139936 [8.4] Auto-generate preview links for DOC PRs (#139593)
  .github/workflows/docs-preview-links.yml
  docs/user/security/audit-logging.asciidoc
Labels: backport

#139866 [docs/ops] write docs about flaky tests
  dev_docs/operations/ci_stats.mdx
  dev_docs/operations/flaky_test_runner.mdx
  dev_docs/operations/flaky_tests.mdx
  dev_docs/operations/operations_landing.mdx
  dev_docs/operations/writing_stable_functional_tests.mdx
  nav-kibana-dev.docnav.json
  packages/kbn-es-archiver/README.mdx
  test/functional/services/common/test_subjects.ts
Labels: Team:Operations, release_note:skip, docs

#139775 [Security Solution] updates for FleetServerAgent interface
  x-pack/plugins/fleet/common/constants/agent.ts
  x-pack/plugins/fleet/common/index.ts
  x-pack/plugins/fleet/common/openapi/components/schemas/agent.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_component.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_component_status.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_component_unit.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_component_unit_type.yaml
  x-pack/plugins/fleet/common/types/models/agent.ts
  x-pack/plugins/security_solution/common/endpoint/data_generators/fleet_agent_generator.ts
Labels: release_note:skip, Team:Fleet, Team:Onboarding and Lifecycle Mgt, v8.5.0

#139941 [api-docs] 2022-09-01 Daily api_docs build
  api_docs/core.devdocs.json
  api_docs/core.mdx
  api_docs/core_chrome.mdx
  api_docs/data.devdocs.json
  api_docs/data.mdx
  api_docs/data_query.mdx
  api_docs/data_search.devdocs.json
  api_docs/data_search.mdx
  api_docs/kbn_core_i18n_server.devdocs.json
  api_docs/kbn_core_i18n_server.mdx
  api_docs/kbn_core_i18n_server_internal.devdocs.json
  api_docs/kbn_core_i18n_server_internal.mdx
  api_docs/kbn_core_i18n_server_mocks.devdocs.json
  api_docs/kbn_core_i18n_server_mocks.mdx
  api_docs/plugin_directory.mdx
Labels: release_note:skip, backport:auto-version

#139648 [Fleet] Improve performance with many integration policies
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_inputs.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_inputs.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: release_note:fix, Team:Fleet, backport:prev-minor

#136162 [Discover] Enable tags for saved searches
  .github/CODEOWNERS
  .i18nrc.json
  docs/developer/plugin-list.asciidoc
  packages/kbn-optimizer/limits.yml
  src/plugins/discover/kibana.json
  src/plugins/discover/public/__mocks__/services.ts
  src/plugins/discover/public/application/main/components/top_nav/__snapshots__/open_search_panel.test.tsx.snap
  src/plugins/discover/public/application/main/components/top_nav/on_save_search.test.tsx
  src/plugins/discover/public/application/main/components/top_nav/on_save_search.tsx
  src/plugins/discover/public/application/main/components/top_nav/open_search_panel.test.tsx
  src/plugins/discover/public/application/main/components/top_nav/open_search_panel.tsx
  src/plugins/discover/public/application/main/discover_main_route.tsx
  src/plugins/discover/public/application/main/hooks/use_discover_state.ts
  src/plugins/discover/public/application/main/utils/persist_saved_search.ts
  src/plugins/discover/public/build_services.ts
  src/plugins/discover/public/embeddable/search_embeddable_factory.ts
  src/plugins/discover/public/plugin.tsx
  src/plugins/discover/tsconfig.json
  src/plugins/saved_objects_finder/README.md
  src/plugins/saved_objects_finder/jest.config.js
  src/plugins/saved_objects_finder/kibana.json
  src/plugins/saved_objects_finder/public/finder/index.tsx
  src/plugins/saved_objects_finder/public/finder/saved_object_finder.test.tsx
  src/plugins/saved_objects_finder/public/finder/saved_object_finder.tsx
  src/plugins/saved_objects_finder/public/index.ts
  src/plugins/saved_objects_finder/public/plugin.ts
  src/plugins/saved_objects_finder/tsconfig.json
  src/plugins/saved_objects_management/public/mocks.ts
  src/plugins/saved_objects_management/public/plugin.ts
  src/plugins/saved_search/public/services/saved_searches/get_saved_searches.test.ts
  src/plugins/saved_search/public/services/saved_searches/get_saved_searches.ts
  src/plugins/saved_search/public/services/saved_searches/save_saved_searches.test.ts
  src/plugins/saved_search/public/services/saved_searches/save_saved_searches.ts
  src/plugins/saved_search/public/services/saved_searches/saved_searches_utils.test.ts
  src/plugins/saved_search/public/services/saved_searches/saved_searches_utils.ts
  src/plugins/saved_search/public/services/saved_searches/types.ts
  src/plugins/saved_search/tsconfig.json
  src/plugins/visualizations/public/plugin.ts
  src/plugins/visualizations/public/services.ts
  src/plugins/visualizations/public/vis.ts
  src/plugins/visualizations/public/visualize_app/utils/get_visualization_instance.ts
  test/functional/page_objects/discover_page.ts
  tsconfig.base.json
  x-pack/plugins/fleet/server/services/epm/kibana/assets/tag_assets.test.ts
  x-pack/plugins/saved_objects_tagging/common/constants.ts
  x-pack/plugins/saved_objects_tagging/server/usage/schema.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/fleet_api_integration/apis/package_policy/create.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/_get_assignable_types.ts
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/discover/data.json
  x-pack/test/saved_object_tagging/functional/tests/discover_integration.ts
  x-pack/test/saved_object_tagging/functional/tests/index.ts
Labels: Feature:Discover, Team:Fleet, release_note:feature, Team:DataDiscovery

#139891 [scalability testing] store relative path to kbnArchives/esArchives in dataset extractor output file
  packages/kbn-performance-testing-dataset-extractor/src/cli.ts
  packages/kbn-performance-testing-dataset-extractor/src/extractor.ts
  packages/kbn-performance-testing-dataset-extractor/src/types.ts
  test/common/services/es_archiver.ts
  test/common/services/kibana_server/kibana_server.ts
  x-pack/test/performance/journeys/ecommerce_dashboard/config.ts
  x-pack/test/performance/journeys/flight_dashboard/config.ts
  x-pack/test/performance/journeys/login/config.ts
  x-pack/test/performance/journeys/many_fields_discover/config.ts
  x-pack/test/performance/journeys/many_fields_discover/many_fields_discover.ts
  x-pack/test/performance/journeys/promotion_tracking_dashboard/config.ts
  x-pack/test/performance/journeys/promotion_tracking_dashboard/promotion_tracking_dashboard.ts
  x-pack/test/performance/journeys/web_logs_dashboard/config.ts
Labels: release_note:skip, backport:skip, wg:performance

#139492 Audit events for user_login can be missing when using PKI or Kerberos
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
  x-pack/test/security_api_integration/anonymous.config.ts
  x-pack/test/security_api_integration/kerberos.config.ts
  x-pack/test/security_api_integration/oidc.config.ts
  x-pack/test/security_api_integration/pki.config.ts
  x-pack/test/security_api_integration/saml.config.ts
  x-pack/test/security_api_integration/tests/anonymous/login.ts
  x-pack/test/security_api_integration/tests/audit/audit_log.ts
  x-pack/test/security_api_integration/tests/audit/file_wrapper.ts
  x-pack/test/security_api_integration/tests/kerberos/kerberos_login.ts
  x-pack/test/security_api_integration/tests/oidc/authorization_code_flow/oidc_auth.ts
  x-pack/test/security_api_integration/tests/pki/pki_auth.ts
  x-pack/test/security_api_integration/tests/saml/saml_login.ts
  x-pack/test/security_api_integration/tests/token/audit.ts
  x-pack/test/security_api_integration/tests/token/index.ts
  x-pack/test/security_api_integration/token.config.ts
Labels: release_note:enhancement, Team:Security, backport:skip, v8.5.0

#139505 [Archive Migrations] remove es_archiver/empty_kibana from Fleet api tests
  packages/kbn-test/src/kbn_client/kbn_client_saved_objects.ts
  test/functional/fixtures/es_archiver/empty_kibana/data.json.gz
  test/functional/fixtures/es_archiver/empty_kibana/mappings.json
  x-pack/test/fleet_api_integration/apis/epm/install_error_rollback.ts
  x-pack/test/fleet_api_integration/apis/epm/install_remove_multiple.ts
  x-pack/test/fleet_api_integration/apis/fleet_setup.ts
  x-pack/test/fleet_api_integration/apis/package_policy/delete.ts
  x-pack/test/fleet_api_integration/apis/package_policy/update.ts
  x-pack/test/functional/es_archives/empty_kibana/mappings.json
Labels: test_xpack_functional, release_note:skip, backport:skip, Team:Fleet, v8.5.0

#139898 [Expressions] Fix the `switch` expressions function not to resolve the next case if not necessary
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/switch.test.js
  x-pack/plugins/canvas/canvas_plugin_src/functions/common/switch.ts
Labels: review, Feature:ExpressionLanguage, Team:AppServicesSv, release_note:skip, v8.5.0

#139960 [8.4] [Security Solution] Fix to persist the timeline on changing data provider (#139713)
  x-pack/plugins/security_solution/cypress/integration/timelines/data_providers.spec.ts
  x-pack/plugins/security_solution/cypress/screens/timeline.ts
  x-pack/plugins/security_solution/cypress/tasks/hosts/all_hosts.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
  x-pack/plugins/security_solution/public/common/components/hover_actions/use_hover_action_items.test.tsx
  x-pack/plugins/security_solution/public/common/components/hover_actions/use_hover_action_items.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/add_to_timeline.test.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/add_to_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/actions.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/helpers.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.test.ts
  x-pack/plugins/security_solution/public/timelines/store/timeline/reducer.ts
Labels: backport

#139951 [8.4] [Fleet] Improve performance with many integration policies (#139648)
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_inputs.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_inputs.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport, Team:Fleet

#139342 [Archive Migrations] dashboard/feature_controls/spaces
  scripts/archive_migration_functions.sh
  x-pack/test/common/services/spaces.ts
  x-pack/test/functional/apps/dashboard/group1/feature_controls/dashboard_spaces.ts
  x-pack/test/functional/es_archives/dashboard/feature_controls/spaces/data.json
  x-pack/test/functional/es_archives/dashboard/feature_controls/spaces/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/dashboard/feature_controls/custom_space.json
Labels: test_xpack_functional, release_note:skip, backport:skip, v8.5.0

#139333 [ML] Anomaly Detection explorer view: adds maps link when source data contains geo fields
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table.js
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table_columns.js
  x-pack/plugins/ml/public/application/components/anomalies_table/get_query_string_for_influencers.test.ts
  x-pack/plugins/ml/public/application/components/anomalies_table/get_query_string_for_influencers.ts
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.tsx
  x-pack/plugins/ml/public/application/explorer/explorer.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_utils.ts
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.test.tsx
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
  x-pack/plugins/ml/public/maps/util.ts
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, v8.5.0

#139929 [Bug][Security Solution][Timelines] - Fix modal visibility
  x-pack/plugins/security_solution/cypress/integration/cases/attach_timeline.spec.ts
  x-pack/plugins/security_solution/public/timelines/components/flyout/add_to_case_button/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/translations.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: bug, release_note:fix, Team: SecuritySolution, Team:Threat Hunting:Investigations, v8.5.0, v8.4.2

#139957 [Enterprise Search] Fix bug preventing Custom Crawl flyout in App Search from opening
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.ts
Labels: release_note:skip, Team:EnterpriseSearch, backport:prev-minor

#139967 [8.4] [Bug][Security Solution][Timelines] - Fix modal visibility (#139929)
  x-pack/plugins/security_solution/cypress/integration/cases/attach_timeline.spec.ts
  x-pack/plugins/security_solution/public/timelines/components/flyout/add_to_case_button/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/properties/translations.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#139872 Unskip failing Ingest Node Pipelines test based on 132159
  x-pack/test/functional/apps/ingest_pipelines/feature_controls/ingest_pipelines_security.ts
Labels: Team:QA, test_ui_functional, test_xpack_functional, Team:Deployment Management, release_note:skip, Feature:Functional Testing, v8.4.0, v8.5.0

#139388 [Archive Migrations] Kbn archive migration security
  scripts/archive_migration_functions.sh
  x-pack/test/functional/apps/dashboard/group1/feature_controls/dashboard_security.ts
  x-pack/test/functional/apps/dashboard/group1/feature_controls/time_to_visualize_security.ts
  x-pack/test/functional/apps/home/feature_controls/home_security.ts
  x-pack/test/functional/es_archives/dashboard/feature_controls/security/data.json
  x-pack/test/functional/es_archives/dashboard/feature_controls/security/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/dashboard/feature_controls/security/security.json
  x-pack/test/functional/fixtures/kbn_archiver/home/feature_controls/security/security.json
Labels: Team:QA, test_ui_functional, test_xpack_functional, release_note:skip, backport:skip, Feature:Functional Testing, v8.5.0

#139968 [8.4] Fix wrong API path for domain configs (#139957)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.ts
Labels: backport

#139911 Use theme for the telemetry opt-in banner
  src/plugins/telemetry/public/mocks.ts
  src/plugins/telemetry/public/plugin.ts
  src/plugins/telemetry/public/services/telemetry_notifications/render_opted_in_notice_banner.test.ts
  src/plugins/telemetry/public/services/telemetry_notifications/render_opted_in_notice_banner.tsx
  src/plugins/telemetry/public/services/telemetry_notifications/telemetry_notifications.ts
Labels: Team:Core, Feature:Telemetry, release_note:skip, backport:prev-minor, v8.5.0

#139638 Unskip significant_text agg test
  test/interpreter_functional/test_suites/run_pipeline/esaggs_significanttext.ts
Labels: Feature:Aggregations, Team:AppServicesSv, release_note:skip, v8.5.0

#140001 [8.4] Use theme for the telemetry opt-in banner (#139911)
  src/plugins/telemetry/public/mocks.ts
  src/plugins/telemetry/public/plugin.ts
  src/plugins/telemetry/public/services/telemetry_notifications/render_opted_in_notice_banner.test.ts
  src/plugins/telemetry/public/services/telemetry_notifications/render_opted_in_notice_banner.tsx
  src/plugins/telemetry/public/services/telemetry_notifications/telemetry_notifications.ts
Labels: backport

#139842 [Files] Limit concurrent uploads (server-side)
  packages/kbn-std/index.ts
  packages/kbn-std/src/semaphore.test.ts
  packages/kbn-std/src/semaphore.ts
  x-pack/plugins/files/common/types.ts
  x-pack/plugins/files/server/blob_storage_service/adapters/es/es.test.ts
  x-pack/plugins/files/server/blob_storage_service/adapters/es/es.ts
  x-pack/plugins/files/server/blob_storage_service/adapters/es/integration_tests/es.test.ts
  x-pack/plugins/files/server/blob_storage_service/blob_storage_service.ts
  x-pack/plugins/files/server/file/errors.ts
  x-pack/plugins/files/server/file/file.test.ts
  x-pack/plugins/files/server/file/file.ts
  x-pack/plugins/files/server/routes/file_kind/upload.ts
  x-pack/plugins/screenshotting/server/screenshots/index.ts
Labels: release_note:skip, auto-backport, Team:AppServicesUx, v8.5.0, feature:Files

#138781 Add "exclude previous hits" check box to ESQuery rule form
  docs/user/alerting/images/rule-types-es-query-conditions.png
  docs/user/alerting/rule-types/es-query.asciidoc
  x-pack/plugins/stack_alerts/public/alert_types/es_query/constants.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/es_query_expression.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/es_query_expression.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/expression.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/search_source_expression.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/search_source_expression.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/search_source_expression_form.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/rule_common_expressions/rule_common_expressions.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/rule_common_expressions/threshold_help_popover.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/types.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/validation.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/executor.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/lib/fetch_es_query.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/lib/fetch_search_source_query.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/lib/fetch_search_source_query.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/rule_type.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/rule_type_params.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/rule_type_params.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/es_query/rule.ts
Labels: release_note:enhancement, backport:skip, Team:ResponseOps, Feature:Alerting/RulesFramework, ui-copy, v8.5.0

#139651 [Enterprise Search] Register crawlers as connectors upon creation
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/create_crawler_index_api_logic.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.ts
  x-pack/plugins/enterprise_search/server/lib/indices/delete_index.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/delete_index.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/crawler/crawler.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/crawler/crawler.ts
Labels: release_note:skip, backport:skip, v8.5.0

#139844 Migrate server-side usageData service to packages
  package.json
  packages/BUILD.bazel
  packages/core/usage-data/core-usage-data-server-internal/BUILD.bazel
  packages/core/usage-data/core-usage-data-server-internal/README.md
  packages/core/usage-data/core-usage-data-server-internal/index.ts
  packages/core/usage-data/core-usage-data-server-internal/jest.config.js
  packages/core/usage-data/core-usage-data-server-internal/package.json
  packages/core/usage-data/core-usage-data-server-internal/src/core_usage_data_service.test.ts
  packages/core/usage-data/core-usage-data-server-internal/src/core_usage_data_service.ts
  packages/core/usage-data/core-usage-data-server-internal/src/core_usage_stats_client.test.ts
  packages/core/usage-data/core-usage-data-server-internal/src/core_usage_stats_client.ts
  packages/core/usage-data/core-usage-data-server-internal/src/index.ts
  packages/core/usage-data/core-usage-data-server-internal/src/is_configured.test.ts
  packages/core/usage-data/core-usage-data-server-internal/src/is_configured.ts
  packages/core/usage-data/core-usage-data-server-internal/src/saved_objects/core_usage_stats.ts
  packages/core/usage-data/core-usage-data-server-internal/src/saved_objects/index.ts
  packages/core/usage-data/core-usage-data-server-internal/src/saved_objects/migrations.test.ts
  packages/core/usage-data/core-usage-data-server-internal/src/saved_objects/migrations.ts
  packages/core/usage-data/core-usage-data-server-internal/tsconfig.json
  packages/core/usage-data/core-usage-data-server-mocks/BUILD.bazel
  packages/core/usage-data/core-usage-data-server-mocks/README.md
  packages/core/usage-data/core-usage-data-server-mocks/index.ts
  packages/core/usage-data/core-usage-data-server-mocks/jest.config.js
  packages/core/usage-data/core-usage-data-server-mocks/package.json
  packages/core/usage-data/core-usage-data-server-mocks/src/core_usage_data_service.mock.ts
  packages/core/usage-data/core-usage-data-server-mocks/src/core_usage_stats_client.mock.ts
  packages/core/usage-data/core-usage-data-server-mocks/src/index.ts
  packages/core/usage-data/core-usage-data-server-mocks/tsconfig.json
  src/core/server/core_usage_data/index.ts
  src/core/server/index.ts
  src/core/server/integration_tests/saved_objects/routes/bulk_create.test.ts
  src/core/server/integration_tests/saved_objects/routes/bulk_get.test.ts
  src/core/server/integration_tests/saved_objects/routes/bulk_resolve.test.ts
  src/core/server/integration_tests/saved_objects/routes/bulk_update.test.ts
  src/core/server/integration_tests/saved_objects/routes/create.test.ts
  src/core/server/integration_tests/saved_objects/routes/delete.test.ts
  src/core/server/integration_tests/saved_objects/routes/export.test.ts
  src/core/server/integration_tests/saved_objects/routes/find.test.ts
  src/core/server/integration_tests/saved_objects/routes/get.test.ts
  src/core/server/integration_tests/saved_objects/routes/import.test.ts
  src/core/server/integration_tests/saved_objects/routes/legacy_import_export/export.test.ts
  src/core/server/integration_tests/saved_objects/routes/legacy_import_export/import.test.ts
  src/core/server/integration_tests/saved_objects/routes/resolve.test.ts
  src/core/server/integration_tests/saved_objects/routes/resolve_import_errors.test.ts
  src/core/server/integration_tests/saved_objects/routes/update.test.ts
  src/core/server/internal_types.ts
  src/core/server/mocks.ts
  src/core/server/server.ts
  src/core/server/status/status_service.test.ts
  src/core/server/status/status_service.ts
  yarn.lock
Labels: Team:Core, release_note:skip, v8.5.0

#140009 [Actionable Observability] Update links to Observability rule management
  x-pack/plugins/observability/public/components/app/observability_status/content.ts
  x-pack/plugins/observability/public/pages/overview/empty_section.ts
Labels: release_note:fix, Team: Actionable Observability

#139701 [Lens] Add one click filter to Lens table
  x-pack/plugins/lens/common/expressions/datatable/datatable_column.ts
  x-pack/plugins/lens/public/visualizations/datatable/components/__snapshots__/table_basic.test.tsx.snap
  x-pack/plugins/lens/public/visualizations/datatable/components/cell_value.test.tsx
  x-pack/plugins/lens/public/visualizations/datatable/components/cell_value.tsx
  x-pack/plugins/lens/public/visualizations/datatable/components/columns.tsx
  x-pack/plugins/lens/public/visualizations/datatable/components/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/datatable/components/table_basic.tsx
  x-pack/plugins/lens/public/visualizations/datatable/components/types.ts
  x-pack/plugins/lens/public/visualizations/datatable/visualization.tsx
Labels: release_note:enhancement, Team:VisEditors, Feature:Lens, backport:skip

#139978 Narrow types in authenticator
  x-pack/plugins/security/server/authentication/authenticator.ts
Labels: Team:Security, release_note:skip, v8.5.0

#140027 [8.4] Update platform security modules (main) (#139169)
  package.json
  yarn.lock
Labels: backport

#139556 [Table list view] Integrate package in Dashboard
  package.json
  packages/content-management/table_list/BUILD.bazel
  packages/content-management/table_list/index.ts
  packages/content-management/table_list/src/__jest__/tests.helpers.tsx
  packages/content-management/table_list/src/actions.ts
  packages/content-management/table_list/src/components/confirm_delete_modal.tsx
  packages/content-management/table_list/src/components/index.ts
  packages/content-management/table_list/src/components/listing_limit_warning.tsx
  packages/content-management/table_list/src/components/table.tsx
  packages/content-management/table_list/src/components/updated_at_field.tsx
  packages/content-management/table_list/src/index.ts
  packages/content-management/table_list/src/mocks.ts
  packages/content-management/table_list/src/reducer.tsx
  packages/content-management/table_list/src/services.tsx
  packages/content-management/table_list/src/table_list_view.stories.tsx
  packages/content-management/table_list/src/table_list_view.test.tsx
  packages/content-management/table_list/src/table_list_view.tsx
  packages/content-management/table_list/src/table_list_view/reducer.tsx
  packages/content-management/table_list/src/table_list_view/services.tsx
  packages/content-management/table_list/tsconfig.json
  src/plugins/dashboard/public/application/dashboard_router.tsx
  src/plugins/dashboard/public/application/listing/__snapshots__/dashboard_listing.test.tsx.snap
  src/plugins/dashboard/public/application/listing/dashboard_listing.test.tsx
  src/plugins/dashboard/public/application/listing/dashboard_listing.tsx
  src/plugins/dashboard/public/application/test_helpers/make_default_services.ts
  src/plugins/dashboard/public/dashboard_strings.ts
  src/plugins/saved_objects/public/types.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  yarn.lock
Labels: Team:Shared UX, Feature:Content Management

#139548 Add pipeline to run scalability tests from APM traces
  .buildkite/ftr_configs.yml
  .buildkite/pipelines/scalability/daily.yml
  .buildkite/scripts/steps/functional/scalability_dataset_extraction.sh
  .buildkite/scripts/steps/scalability/benchmarking.sh
  x-pack/test/performance/scalability/config.ts
  x-pack/test/performance/scalability/runner.ts
Labels: release_note:skip, backport:skip, wg:performance

#140033 [7.17] Update platform security modules (main) (#139169)
  package.json
  packages/kbn-pm/dist/index.js
  yarn.lock
Labels: backport

#139791 Make sure shard size stays stable for low number of sizes in TSVB, Lens and Agg based
  src/plugins/data/common/search/aggs/buckets/terms.test.ts
  src/plugins/data/common/search/aggs/buckets/terms.ts
  src/plugins/unified_field_list/common/utils/field_stats_utils.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/split_by_terms.js
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/split_by_terms.test.js
  x-pack/test/functional/apps/lens/group3/time_shift.ts
Labels: release_note:enhancement, Feature:Aggregations, Feature:TSVB, Team:VisEditors, Team:AppServicesSv, Feature:Lens, backport:skip

#139722 Update README.md with unit tests and integration tests
  x-pack/plugins/cloud_security_posture/README.md
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.5.0

#139912 Enable skipped e2e tests
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/integration_settings/integration_policy.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/settings/custom_links.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/dependencies.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/errors/error_details.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/home.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_inventory/service_inventory.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/header_filters.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/instances_table.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/service_overview.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/time_comparison.spec.ts
  x-pack/plugins/apm/public/components/app/service_overview/service_overview_instances_table/index.tsx
Labels: Team:APM, release_note:skip, backport:skip, v8.5.0

#140048 Add a `missing` to our debug query
  x-pack/plugins/monitoring/dev_docs/runbook/diagnostic_queries.md
Labels: Team:Infra Monitoring UI, release_note:skip

#139950 [Lens] Add time marker setting for time axis
  x-pack/plugins/lens/public/visualizations/xy/__snapshots__/to_expression.test.ts.snap
  x-pack/plugins/lens/public/visualizations/xy/to_expression.test.ts
  x-pack/plugins/lens/public/visualizations/xy/to_expression.ts
  x-pack/plugins/lens/public/visualizations/xy/types.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/axis_settings_popover.test.tsx
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/axis_settings_popover.tsx
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/index.tsx
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/xy_config_panel.test.tsx
  x-pack/plugins/lens/public/visualizations/xy/xy_suggestions.ts
Labels: release_note:enhancement, Feature:Lens, backport:skip, Team:DataDiscovery, v8.5.0

#140069 [Fleet] fix for package policy upgrade API with multiple ids
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
Labels: release_note:fix, Team:Fleet, auto-backport, v8.5.0, v8.4.2

#139541 [APM] Synthtrace: Add rate per minute helper
  packages/kbn-apm-synthtrace/README.md
  packages/kbn-apm-synthtrace/src/cli/utils/start_historical_data_upload.ts
  packages/kbn-apm-synthtrace/src/lib/apm/base_span.ts
  packages/kbn-apm-synthtrace/src/lib/entity_generator.ts
  packages/kbn-apm-synthtrace/src/lib/entity_iterable.ts
  packages/kbn-apm-synthtrace/src/lib/entity_streams.ts
  packages/kbn-apm-synthtrace/src/lib/interval.ts
  packages/kbn-apm-synthtrace/src/lib/stream_processor.ts
  packages/kbn-apm-synthtrace/src/lib/timerange.ts
  packages/kbn-apm-synthtrace/src/lib/utils/merge_iterable.ts
  packages/kbn-apm-synthtrace/src/scenarios/aws_lambda.ts
  packages/kbn-apm-synthtrace/src/scenarios/low_throughput.ts
  packages/kbn-apm-synthtrace/src/scenarios/many_services.ts
  packages/kbn-apm-synthtrace/src/scenarios/simple_trace.ts
  packages/kbn-apm-synthtrace/src/test/rate_per_minute.test.ts
Labels: Team:APM, release_note:skip, v8.5.0

#130152 [APM] Storage Usage Explorer
  x-pack/plugins/apm/common/__snapshots__/elasticsearch_fieldnames.test.ts.snap
  x-pack/plugins/apm/common/elasticsearch_fieldnames.ts
  x-pack/plugins/apm/common/storage_explorer_types.ts
  x-pack/plugins/apm/dev_docs/routing_and_linking.md
  x-pack/plugins/apm/public/components/app/service_map/popover/popover.stories.tsx
  x-pack/plugins/apm/public/components/app/settings/agent_configurations/agent_configuration_create_edit/service_page/service_page.tsx
  x-pack/plugins/apm/public/components/app/settings/schema/migrated/card_footer_content.tsx
  x-pack/plugins/apm/public/components/app/storage_explorer/index.tsx
  x-pack/plugins/apm/public/components/app/storage_explorer/index_lifecycle_phase_select.tsx
  x-pack/plugins/apm/public/components/app/storage_explorer/services_table/index.tsx
  x-pack/plugins/apm/public/components/app/storage_explorer/services_table/size_label.tsx
  x-pack/plugins/apm/public/components/app/storage_explorer/services_table/storage_details_per_service.tsx
  x-pack/plugins/apm/public/components/routing/home/index.tsx
  x-pack/plugins/apm/public/components/routing/home/storage_explorer.tsx
  x-pack/plugins/apm/public/components/shared/apm_header_action_menu/index.tsx
  x-pack/plugins/apm/public/components/shared/is_route_with_time_range.ts
  x-pack/plugins/apm/public/components/shared/links/apm/apm_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/apm/apm_link.tsx
  x-pack/plugins/apm/public/components/shared/links/apm/apn_link.test.tsx
  x-pack/plugins/apm/public/components/shared/links/apm/error_detail_link.tsx
  x-pack/plugins/apm/public/components/shared/links/apm/home_link.tsx
  x-pack/plugins/apm/public/components/shared/links/apm/metric_overview_link.tsx
  x-pack/plugins/apm/public/components/shared/ml_callout/index.tsx
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/custom_link_menu_section/custom_link_toolbar.tsx
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/apm/server/routes/apm_routes/get_global_apm_server_route_repository.ts
  x-pack/plugins/apm/server/routes/storage_explorer/get_service_statistics.ts
  x-pack/plugins/apm/server/routes/storage_explorer/get_storage_details_per_processor_event.ts
  x-pack/plugins/apm/server/routes/storage_explorer/get_total_transactions_per_service.ts
  x-pack/plugins/apm/server/routes/storage_explorer/indices_stats_helpers.ts
  x-pack/plugins/apm/server/routes/storage_explorer/route.ts
Labels: Team:APM, release_note:skip, backport:skip, v8.3.0

#139443 Removing check to see if user is a cloud user before activating
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
Labels: Team:Security, release_note:feature, v8.5.0, ci:cloud-deploy

#140083 [8.4] fix for package policy upgrade API with multiple ids (#140069)
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
Labels: backport, Team:Fleet

#139996 Migrate browser-side rendering service to packages
  package.json
  packages/BUILD.bazel
  packages/core/rendering/core-rendering-browser-internal/BUILD.bazel
  packages/core/rendering/core-rendering-browser-internal/README.md
  packages/core/rendering/core-rendering-browser-internal/index.ts
  packages/core/rendering/core-rendering-browser-internal/jest.config.js
  packages/core/rendering/core-rendering-browser-internal/package.json
  packages/core/rendering/core-rendering-browser-internal/src/app_containers.test.tsx
  packages/core/rendering/core-rendering-browser-internal/src/app_containers.tsx
  packages/core/rendering/core-rendering-browser-internal/src/index.ts
  packages/core/rendering/core-rendering-browser-internal/src/rendering_service.test.tsx
  packages/core/rendering/core-rendering-browser-internal/src/rendering_service.tsx
  packages/core/rendering/core-rendering-browser-internal/tsconfig.json
  packages/core/rendering/core-rendering-browser-mocks/BUILD.bazel
  packages/core/rendering/core-rendering-browser-mocks/README.md
  packages/core/rendering/core-rendering-browser-mocks/index.ts
  packages/core/rendering/core-rendering-browser-mocks/jest.config.js
  packages/core/rendering/core-rendering-browser-mocks/package.json
  packages/core/rendering/core-rendering-browser-mocks/src/index.ts
  packages/core/rendering/core-rendering-browser-mocks/src/rendering_service.mock.ts
  packages/core/rendering/core-rendering-browser-mocks/tsconfig.json
  src/core/public/core_system.test.mocks.ts
  src/core/public/core_system.ts
  src/core/public/index.scss
  src/core/public/styles/_index.scss
  src/core/public/styles/rendering/_base.scss
  src/core/public/styles/rendering/_index.scss
  yarn.lock
Labels: Team:Core, release_note:skip, v8.5.0

#137325 [Cloud Posture] fix rules configuration updates
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_bottom_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/use_csp_rules.ts
  x-pack/plugins/cloud_security_posture/server/plugin.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.ts
  x-pack/plugins/cloud_security_posture/server/types.ts
  x-pack/test/api_integration/apis/cloud_security_posture/update_rules_config.ts
Labels: release_note:skip, Team:Cloud Security Posture, v8.5.0

#139501 [Response Ops] Add framework services for rule types to respect alert circuit breaker
  x-pack/plugins/alerting/server/alert/create_alert_factory.test.ts
  x-pack/plugins/alerting/server/alert/create_alert_factory.ts
  x-pack/plugins/alerting/server/mocks.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/plugins/alerting/server/types.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/preview_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/__mocks__/rule_type.ts
  x-pack/plugins/stack_alerts/server/alert_types/geo_containment/tests/geo_containment.test.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/alert_types.ts
  x-pack/test/alerting_api_integration/common/fixtures/plugins/alerts/server/plugin.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/circuit_breaker/alert_limit_services.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/circuit_breaker/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/circuit_breaker/index_threshold_max_alerts.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, v8.5.0

#139754 [Cases] Assign users when creating a case
  x-pack/plugins/cases/public/common/translations.ts
  x-pack/plugins/cases/public/components/case_view/translations.ts
  x-pack/plugins/cases/public/components/create/assignees.test.tsx
  x-pack/plugins/cases/public/components/create/assignees.tsx
  x-pack/plugins/cases/public/components/create/form.tsx
  x-pack/plugins/cases/public/components/create/form_context.test.tsx
  x-pack/plugins/cases/public/components/create/index.test.tsx
  x-pack/plugins/cases/public/components/create/mock.ts
  x-pack/plugins/cases/public/components/create/schema.tsx
  x-pack/plugins/cases/public/components/create/translations.ts
  x-pack/test/functional/services/cases/create.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.5.0

#138964 [Stack Monitoring] health api support for data ingested from package
  x-pack/plugins/monitoring/server/routes/api/v1/_health/index.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/monitored_clusters/build_monitored_clusters.test.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/monitored_clusters/build_monitored_clusters.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/monitored_clusters/monitored_clusters_query.ts
Labels: release_note:enhancement, Team:Infra Monitoring UI, v8.5.0

#139863 Add unsupported cluster routing allocation warning
  docs/setup/upgrade/upgrade-migrations.asciidoc
Labels: Team:Core, release_note:skip, docs, project:ResilientSavedObjectMigrations

#137299 Update Users/Hosts risk score to useSearchStrategy
  x-pack/plugins/security_solution/common/search_strategy/security_solution/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/risk_score/all/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/risk_score/common/index.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/spaces.ts
  x-pack/plugins/security_solution/public/common/containers/use_search_strategy/index.test.ts
  x-pack/plugins/security_solution/public/common/containers/use_search_strategy/index.tsx
  x-pack/plugins/security_solution/public/hosts/components/kpi_hosts/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/host_risk_tab_body.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/index.tsx
  x-pack/plugins/security_solution/public/overview/components/user_overview/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/user_overview/index.tsx
  x-pack/plugins/security_solution/public/overview/pages/overview.tsx
  x-pack/plugins/security_solution/public/risk_score/containers/all/index.test.tsx
  x-pack/plugins/security_solution/public/risk_score/containers/all/index.tsx
  x-pack/plugins/security_solution/public/risk_score/jest.config.js
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/index.test.tsx
  x-pack/plugins/security_solution/public/users/components/kpi_users/index.tsx
  x-pack/plugins/security_solution/public/users/pages/navigation/user_risk_tab_body.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/risk_score/all/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/risk_score/index.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore

#140092 [kbn-performance-testing-dataset-extractor] add missing 'url.query' value
  .buildkite/scripts/steps/functional/scalability_dataset_extraction.sh
  packages/kbn-performance-testing-dataset-extractor/src/es_client.ts
  packages/kbn-performance-testing-dataset-extractor/src/request.ts
  packages/kbn-performance-testing-dataset-extractor/src/types.ts
Labels: release_note:skip, backport:skip, wg:performance

#139964 [ftr/testSubjects/clickOnEnabled] retry on stale-element exceptions
  test/functional/apps/discover/group2/_data_grid_doc_table.ts
  test/functional/apps/visualize/replaced_vislib_chart_types/_area_chart.ts
  test/functional/page_objects/discover_page.ts
  test/functional/page_objects/settings_page.ts
  test/functional/page_objects/visual_builder_page.ts
  test/functional/page_objects/visualize_editor_page.ts
  test/functional/services/common/find.ts
  test/functional/services/common/retry_on_stale.ts
  test/functional/services/common/test_subjects.ts
  test/functional/services/common/types.ts
  test/functional/services/dashboard/panel_actions.ts
  test/functional/services/field_editor.ts
  test/functional/services/filter_bar.ts
  x-pack/test/examples/search_examples/search_session_example.ts
  x-pack/test/functional/apps/dashboard/group3/drilldowns/explore_data_chart_action.ts
  x-pack/test/functional/apps/dashboard/group3/drilldowns/explore_data_panel_action.ts
  x-pack/test/functional/apps/discover/feature_controls/discover_security.ts
  x-pack/test/functional/apps/lens/group2/show_underlying_data.ts
  x-pack/test/functional/page_objects/gis_page.ts
  x-pack/test/functional/page_objects/lens_page.ts
  x-pack/test/functional/services/aiops/explain_log_rate_spikes.ts
  x-pack/test/functional/services/dashboard/panel_drilldown_actions.ts
  x-pack/test/functional/services/ml/anomaly_explorer.ts
  x-pack/test/functional/services/ml/common_ui.ts
  x-pack/test/functional/services/ml/dashboard_embeddables.ts
  x-pack/test/functional/services/ml/dashboard_job_selection_table.ts
  x-pack/test/functional/services/ml/data_frame_analytics_creation.ts
  x-pack/test/functional/services/ml/data_frame_analytics_results.ts
  x-pack/test/functional/services/ml/data_visualizer_file_based.ts
  x-pack/test/functional/services/ml/data_visualizer_index_based.ts
  x-pack/test/functional/services/ml/data_visualizer_index_pattern_management.ts
  x-pack/test/functional/services/ml/data_visualizer_table.ts
  x-pack/test/functional/services/ml/job_annotations_table.ts
  x-pack/test/functional/services/ml/job_management.ts
  x-pack/test/functional/services/ml/job_source_selection.ts
  x-pack/test/functional/services/ml/job_type_selection.ts
  x-pack/test/functional/services/ml/job_wizard_advanced.ts
  x-pack/test/functional/services/ml/job_wizard_categorization.ts
  x-pack/test/functional/services/ml/job_wizard_common.ts
  x-pack/test/functional/services/ml/lens_visualizations.ts
  x-pack/test/functional/services/ml/settings_calendar.ts
  x-pack/test/functional/services/ml/stack_management_jobs.ts
  x-pack/test/functional/services/ml/trained_models_table.ts
  x-pack/test/functional/services/transform/source_selection.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: Team:Operations, release_note:skip

#139015 [Cloud Posture] Add ecs event to csp types
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/types.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.5.0

#139806 [Actionable Observability] - Hide the alert details page behind a feature flag
  src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/kibana-docker
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/README.md
  x-pack/plugins/observability/public/application/application.test.tsx
  x-pack/plugins/observability/public/application/index.tsx
  x-pack/plugins/observability/public/components/app/section/apm/index.test.tsx
  x-pack/plugins/observability/public/context/plugin_context.tsx
  x-pack/plugins/observability/public/pages/404.tsx
  x-pack/plugins/observability/public/pages/alert_details/index.tsx
  x-pack/plugins/observability/public/pages/alerts/components/observability_actions.test.tsx
  x-pack/plugins/observability/public/pages/alerts/components/observability_actions.tsx
  x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/alerts_page.tsx
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
  x-pack/plugins/observability/public/pages/rules/index.test.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/utils/test_helper.tsx
  x-pack/plugins/observability/server/index.ts
  x-pack/test/functional/services/observability/alerts/common.ts
  x-pack/test/observability_functional/apps/observability/index.ts
  x-pack/test/observability_functional/apps/observability/pages/alert_details_page.ts
  x-pack/test/observability_functional/apps/observability/pages/rule_details_page.ts
Labels: release_note:skip, Team: Actionable Observability, v8.5.0

#139217 Adding Global Access Agreement
  docs/settings/security-settings.asciidoc
  docs/user/security/access-agreement.asciidoc
  src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/kibana-docker
  x-pack/plugins/security/server/authentication/authentication_service.ts
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
  x-pack/plugins/security/server/config.test.ts
  x-pack/plugins/security/server/config.ts
  x-pack/plugins/security/server/routes/views/access_agreement.test.ts
  x-pack/plugins/security/server/routes/views/access_agreement.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.test.ts
  x-pack/plugins/security/server/usage_collector/security_usage_collector.ts
Labels: Team:Security, release_note:feature, v8.5.0

#139552 [Archive Migrations] x-pack spaces-multi-space
  scripts/archive_migration_functions.sh
  x-pack/test/functional/apps/dashboard/group1/preserve_url.ts
  x-pack/test/functional/apps/discover/preserve_url.ts
  x-pack/test/functional/apps/visualize/preserve_url.ts
  x-pack/test/functional/es_archives/spaces/multi_space/data.json
  x-pack/test/functional/es_archives/spaces/multi_space/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/spaces/multi_space_another_space.json
  x-pack/test/functional/fixtures/kbn_archiver/spaces/multi_space_default_space.json
Labels: test_xpack_functional, release_note:skip, backport:skip, v8.5.0

#139633 feat(slo): Create resource installer for common resources
  x-pack/plugins/observability/server/assets/component_templates/slo_mappings_template.ts
  x-pack/plugins/observability/server/assets/component_templates/slo_settings_template.ts
  x-pack/plugins/observability/server/assets/constants.ts
  x-pack/plugins/observability/server/assets/index_templates/slo_index_templates.ts
  x-pack/plugins/observability/server/assets/ingest_templates/slo_pipeline_template.ts
  x-pack/plugins/observability/server/plugin.ts
  x-pack/plugins/observability/server/routes/register_routes.ts
  x-pack/plugins/observability/server/routes/types.ts
  x-pack/plugins/observability/server/services/slo/index.ts
  x-pack/plugins/observability/server/services/slo/resource_installer.test.ts
  x-pack/plugins/observability/server/services/slo/resource_installer.ts
Labels: release_note:skip, Team: Actionable Observability, v8.5.0

#139973 [ML] Edits anomaly detection embeddables for cases
  x-pack/plugins/ml/public/application/explorer/anomaly_context_menu.tsx
  x-pack/plugins/ml/public/application/explorer/anomaly_timeline.tsx
  x-pack/plugins/ml/public/cases/register_anomaly_charts_attachment.tsx
  x-pack/plugins/ml/public/cases/register_anomaly_swim_lane_attachment.tsx
Labels: :ml, release_note:skip, ui-copy, v8.5.0

#140006 [SecuritySolution] Enable prevalence by process ancestry by default
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_process_ancestry.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_process_ancestry.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_session.tsx
  x-pack/test/security_solution_cypress/config.ts
Labels: release_note:feature, auto-backport, Team:Threat Hunting:Investigations, v8.5.0

#140110 [Fleet] Fix package icon margin
  x-pack/plugins/fleet/public/components/package_icon.tsx
Labels: release_note:skip, Team:Fleet, backport:prev-minor

#139876 [DOCS] Augment create connector API
  docs/api/actions-and-connectors/create.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Actions/ConnectorTypes, v8.5.0

#137775 [artifacts] Improve cloud deployment error handling
  .buildkite/pipelines/artifacts.yml
  .buildkite/scripts/steps/artifacts/cloud.sh
Labels: Team:Operations, release_note:skip, backport:prev-minor, ci:skip-when-possible

#140117 [8.4] [Fleet] Fix package icon margin (#140110)
  x-pack/plugins/fleet/public/components/package_icon.tsx
Labels: backport, Team:Fleet

#140114 [8.4] Use "compatibility" rather than "availability" on connectors table (#139024)
  x-pack/plugins/actions/common/connector_feature_config.test.ts
  x-pack/plugins/actions/common/connector_feature_config.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/create_connector_flyout/header.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/create_connector_flyout/index.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/create_connector_flyout/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/actions_connectors_list/components/actions_connectors_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/actions_connectors_list/components/actions_connectors_list.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: backport

#140123 [8.4] [artifacts] Improve cloud deployment error handling (#137775)
  .buildkite/pipelines/artifacts.yml
  .buildkite/scripts/steps/artifacts/cloud.sh
Labels: backport

#140111 [Enterprise Search] Add a recent jobs table to connector overview
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/common/types/pagination.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/fetch_sync_jobs_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/fetch_sync_jobs_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/overview.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/sync_jobs.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/sync_jobs_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/sync_jobs_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/duration_to_text.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/duration_to_text.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/sync_status_to_text.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/sync_status_to_text.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/fetch_sync_jobs.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/fetch_sync_jobs.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
Labels: release_note:skip, v8.5.0

#139771 [DOCS] Refresh screenshots for Connectors
  docs/management/action-types.asciidoc
  docs/management/connectors/images/connector-delete.png
  docs/management/connectors/images/connector-filter-by-search.png
  docs/management/connectors/images/connector-filter-by-type.png
  docs/management/connectors/images/connector-listing.png
  docs/management/connectors/images/connector-select-type.png
  docs/management/connectors/images/connectors-import-banner.png
  docs/management/connectors/images/connectors-with-missing-secrets.png
  docs/management/images/connectors-with-missing-secrets.png
  docs/management/images/coonectors-import-banner.png
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Actions/ConnectorsManagement, v8.5.0, v8.4.2

#140129 [Newsletter] Add August newsletter
  nav-kibana-dev.docnav.json
Labels: release_note:skip, v8.5.0

#140130 [8.4] [DOCS] Refresh screenshots for Connectors (#139771)
  docs/management/action-types.asciidoc
  docs/management/connectors/images/connector-delete.png
  docs/management/connectors/images/connector-filter-by-search.png
  docs/management/connectors/images/connector-filter-by-type.png
  docs/management/connectors/images/connector-listing.png
  docs/management/connectors/images/connector-select-type.png
  docs/management/connectors/images/connectors-import-banner.png
  docs/management/connectors/images/connectors-with-missing-secrets.png
  docs/management/images/connectors-with-missing-secrets.png
  docs/management/images/coonectors-import-banner.png
Labels: backport

#139908 [Stack Monitoring] Ensure GlobalState class has it's destroy() method called on unmount
  x-pack/plugins/monitoring/public/application/contexts/global_state_context.tsx
Labels: release_note:fix, Team:Infra Monitoring UI, Feature:Stack Monitoring, v8.5.0, v8.4.2

#140133 [8.4] [Stack Monitoring] Ensure GlobalState class has it's destroy() method called on unmount (#139908)
  x-pack/plugins/monitoring/public/application/contexts/global_state_context.tsx
Labels: backport

#139413 Update Watcher docs with guidance regarding simulating watches that contain passwords.
  docs/management/watcher-ui/index.asciidoc
Labels: Feature:Watcher, Team:Deployment Management, release_note:skip, docs

#139449 [Discover] Respect line breaks in Document explorer
  src/plugins/discover/public/components/discover_grid/discover_grid.scss
Labels: Feature:Discover, release_note:fix, Team:DataDiscovery, v8.5.0

#139717 [APM] Synthtrace: add `dbExitSpan` and `httpExitSpan` helpers
  packages/kbn-apm-synthtrace/src/lib/apm/apm_fields.ts
  packages/kbn-apm-synthtrace/src/lib/apm/instance.ts
  packages/kbn-apm-synthtrace/src/lib/apm/span.ts
  packages/kbn-apm-synthtrace/src/lib/stream_processor.ts
  packages/kbn-apm-synthtrace/src/scenarios/distributed_trace.ts
  packages/kbn-apm-synthtrace/src/test/apm_events_to_elasticsearch_output.test.ts
Labels: Team:APM, release_note:skip, v8.5.0

#140105 [ML] Modifies script for DFA screenshots
  x-pack/test/screenshot_creation/apps/ml_docs/data_frame_analytics/classification.ts
Labels: :ml, release_note:skip, auto-backport, v8.5.0, v8.3.4, v8.4.2

#139693 [Fleet] [Spacetime] Refactoring Fleet Cypress tests
  x-pack/plugins/fleet/cypress/integration/a11y/home_page.spec.ts
  x-pack/plugins/fleet/cypress/integration/agent_binary_download_source.spec.ts
  x-pack/plugins/fleet/cypress/integration/agent_list.spec.ts
  x-pack/plugins/fleet/cypress/integration/agent_policy.spec.ts
  x-pack/plugins/fleet/cypress/integration/enrollment_token.spec.ts
  x-pack/plugins/fleet/cypress/integration/fleet_agent_flyout.spec.ts
  x-pack/plugins/fleet/cypress/integration/fleet_settings.spec.ts
  x-pack/plugins/fleet/cypress/integration/fleet_startup.spec.ts
  x-pack/plugins/fleet/cypress/integration/install_assets.spec.ts
  x-pack/plugins/fleet/cypress/integration/integrations_mock.spec.ts
  x-pack/plugins/fleet/cypress/integration/integrations_real.spec.ts
  x-pack/plugins/fleet/cypress/integration/package_policy.spec.ts
  x-pack/plugins/fleet/cypress/integration/privileges_fleet_all_integrations_read.spec.ts
  x-pack/plugins/fleet/cypress/integration/privileges_fleet_none_integrations_all.spec.ts
  x-pack/plugins/fleet/cypress/screens/fleet.ts
  x-pack/plugins/fleet/cypress/screens/integrations.ts
  x-pack/plugins/fleet/cypress/screens/navigation.ts
  x-pack/plugins/fleet/cypress/tasks/cleanup.ts
  x-pack/plugins/fleet/cypress/tasks/fleet.ts
  x-pack/plugins/fleet/cypress/tasks/fleet_server.ts
  x-pack/plugins/fleet/cypress/tasks/integrations.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/step_select_hosts.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/current_bulk_upgrade_callout.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/enrollment_token_list_page/components/confirm_delete_modal.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/enrollment_token_list_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/settings.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/uninstall_button.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/update_button.tsx
  x-pack/plugins/fleet/public/components/new_enrollment_key_modal.tsx
Labels: release_note:skip, Team:Fleet

#139718 [Files] Distinct `FilesClient` and `ScopedFilesClient`
  x-pack/examples/files_example/public/types.ts
  x-pack/plugins/files/public/files_client/files_client.ts
  x-pack/plugins/files/public/index.ts
  x-pack/plugins/files/public/plugin.ts
  x-pack/plugins/files/public/types.ts
Labels: release_note:skip, auto-backport, Team:AppServicesUx, v8.5.0, feature:Files

#140161 [8.4] [ML] Modifies script for DFA screenshots. (#140105)
  x-pack/test/screenshot_creation/apps/ml_docs/data_frame_analytics/classification.ts
Labels: backport

#139906 [Actionable Observability] Refactor overview page
  x-pack/plugins/observability/public/components/app/empty_sections/index.tsx
  x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/alerts_page.tsx
  x-pack/plugins/observability/public/pages/cases/index.tsx
  x-pack/plugins/observability/public/pages/overview/components/data_sections.tsx
  x-pack/plugins/observability/public/pages/overview/components/empty_section.ts
  x-pack/plugins/observability/public/pages/overview/components/index.ts
  x-pack/plugins/observability/public/pages/overview/components/loading_observability.tsx
  x-pack/plugins/observability/public/pages/overview/containers/index.ts
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/constants.ts
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/helpers/calculate_bucket_size.ts
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/helpers/index.ts
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/index.ts
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/overview_page.tsx
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/types.ts
  x-pack/plugins/observability/public/pages/overview/index.ts
Labels: chore, release_note:skip, Team: Actionable Observability

#140068 [Console] Fix bug in which selecting requests with characters ending with '{}' was not possible
  src/plugins/console/public/lib/row_parser.test.ts
  src/plugins/console/public/lib/row_parser.ts
Labels: Feature:Console, Feature:Dev Tools, release_note:fix, Team:Deployment Management, v8.5.0

#139935 [ML] Adds functional tests for data frame analytics jobs with filters
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation_saved_search.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation_saved_search.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation_saved_search.ts
  x-pack/test/functional/services/ml/test_resources.ts
  x-pack/test/functional/services/ml/test_resources_data.ts
Labels: review, :ml, test_ui_functional, release_note:skip, Feature:Data Frame Analytics, v8.5.0

#139496 Guided onboarding/header extension
  packages/core/chrome/core-chrome-browser-internal/src/chrome_service.tsx
  packages/core/chrome/core-chrome-browser-internal/src/nav_controls/nav_controls_service.ts
  packages/core/chrome/core-chrome-browser-internal/src/ui/header/__snapshots__/header.test.tsx.snap
  packages/core/chrome/core-chrome-browser-internal/src/ui/header/header.test.tsx
  packages/core/chrome/core-chrome-browser-internal/src/ui/header/header.tsx
  packages/core/chrome/core-chrome-browser-mocks/src/chrome_service.mock.ts
  packages/core/chrome/core-chrome-browser/src/nav_controls.ts
Labels: release_note:skip, v8.5.0, Team:Journey/Onboarding

#139534 [bfetch] set `'X-Accel-Buffering':'no'` to streaming response headers
  src/plugins/bfetch/server/plugin.ts
Labels: Feature:Search, release_note:fix, Feature:ExpressionLanguage, auto-backport, v8.5.0, ci:cloud-deploy, v8.4.2

#140182 [8.4] [bfetch] set `'X-Accel-Buffering':'no'` to streaming response headers (#139534)
  src/plugins/bfetch/server/plugin.ts
Labels: backport, Feature:ExpressionLanguage

#134751 Update apm tracing docs for latest ESS behavior
  x-pack/plugins/monitoring/dev_docs/how_to/apm_tracing.md
Labels: Team:Infra Monitoring UI, release_note:skip, Feature:Stack Monitoring

#139382 Initial split into different files
  x-pack/plugins/enterprise_search/server/__mocks__/fetch_indices.mock.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index_counts.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index_counts.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index_privileges.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index_privileges.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index_stats.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index_stats.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_indices.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/extract_always_show_indices.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/extract_always_show_indices.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/get_index_data.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/get_index_data.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/map_index_stats.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/map_index_stats.ts
Labels: Feature:Plugins, release_note:skip, Team:EnterpriseSearch, v8.5.0

#140074 fix silently failing journeys
  x-pack/test/performance/journeys/base.config.ts
  x-pack/test/performance/journeys/ecommerce_dashboard/ecommerce_dashboard.ts
  x-pack/test/performance/journeys/flight_dashboard/flight_dashboard.ts
  x-pack/test/performance/journeys/promotion_tracking_dashboard/promotion_tracking_dashboard.ts
  x-pack/test/performance/journeys/web_logs_dashboard/web_logs_dashboard.ts
  x-pack/test/performance/services/performance.ts
  x-pack/test/performance/utils.ts
Labels: Team:Operations, release_note:skip, backport:skip, v8.5.0

#140126 [DOCS] Minor linting issues in alerting
  docs/user/alerting/alerting-getting-started.asciidoc
  docs/user/alerting/alerting-setup.asciidoc
  docs/user/alerting/alerting-troubleshooting.asciidoc
  docs/user/alerting/create-and-manage-rules.asciidoc
  docs/user/alerting/rule-types.asciidoc
  docs/user/alerting/troubleshooting/alerting-common-issues.asciidoc
  docs/user/alerting/troubleshooting/testing-connectors.asciidoc
Labels: Team:Docs, release_note:skip, docs, v8.5.0, v8.4.2

#140134 [Security Solution] Fix risk score `isModuleEnabled` bug
  x-pack/plugins/security_solution/public/risk_score/containers/all/index.test.tsx
  x-pack/plugins/security_solution/public/risk_score/containers/all/index.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.5.0

#140190 [Enterprise Search] Add replica and shard settings to document indices
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.ts
  x-pack/plugins/enterprise_search/server/lib/indices/create_index.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/create_index.ts
  x-pack/plugins/enterprise_search/server/lib/indices/text_analysis.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.5.0

#140148 Add codeowners for ML API specifications
  .github/CODEOWNERS
Labels: :ml, release_note:skip, docs, v8.5.0

#138943 [Synthetics] Async crud and sync of the monitor
  x-pack/plugins/synthetics/server/legacy_uptime/lib/saved_objects/private_locations.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.test.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor_formatter.ts
Labels: Team:uptime, release_note:skip, v8.5.0

#140146 Edit UI text for "exclude previous hits" check box in Elasticsearch query rule
  docs/user/alerting/images/rule-types-es-query-conditions.png
  docs/user/alerting/rule-types.asciidoc
  docs/user/alerting/rule-types/es-query.asciidoc
  x-pack/plugins/stack_alerts/public/alert_types/es_query/rule_common_expressions/rule_common_expressions.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/rule_common_expressions/threshold_help_popover.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team:ResponseOps, Feature:Alerting/RulesFramework, ui-copy, v8.5.0

#138366 [API Docs] Add `@track-adoption`
  packages/analytics/client/src/analytics_client/types.ts
  packages/kbn-ci-stats-reporter/src/ci_stats_reporter.ts
  packages/kbn-docs-utils/jest.integration.config.js
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/buid_api_declaration.test.ts
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/build_basic_api_declaration.ts
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/extract_import_refs.test.ts
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/get_references.ts
  packages/kbn-docs-utils/src/api_docs/build_api_docs_cli.ts
  packages/kbn-docs-utils/src/api_docs/count_eslint_disable.test.ts
  packages/kbn-docs-utils/src/api_docs/count_eslint_disable.ts
  packages/kbn-docs-utils/src/api_docs/get_plugin_api_map.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/common/foo/index.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/common/index.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/kibana.json
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/public/classes.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/public/const_vars.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/public/fns.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/public/foo/index.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/public/index.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/public/plugin.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_a/public/types.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_b/kibana.json
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/plugin_b/public/index.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/__fixtures__/src/tsconfig.json
  packages/kbn-docs-utils/src/api_docs/integration_tests/api_doc_suite.test.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/kibana_platform_plugin_mock.ts
  packages/kbn-docs-utils/src/api_docs/integration_tests/snapshots/plugin_a.devdocs.json
  packages/kbn-docs-utils/src/api_docs/integration_tests/snapshots/plugin_a.mdx
  packages/kbn-docs-utils/src/api_docs/integration_tests/snapshots/plugin_a_foo.devdocs.json
  packages/kbn-docs-utils/src/api_docs/integration_tests/snapshots/plugin_a_foo.mdx
  packages/kbn-docs-utils/src/api_docs/integration_tests/snapshots/plugin_b.devdocs.json
  packages/kbn-docs-utils/src/api_docs/integration_tests/snapshots/plugin_b.mdx
  packages/kbn-docs-utils/src/api_docs/mdx/build_plugin_deprecations_table.ts
  packages/kbn-docs-utils/src/api_docs/mdx/split_apis_by_folder.test.ts
  packages/kbn-docs-utils/src/api_docs/mdx/write_deprecations_doc_by_api.ts
  packages/kbn-docs-utils/src/api_docs/mdx/write_deprecations_doc_by_plugin.ts
  packages/kbn-docs-utils/src/api_docs/mdx/write_deprecations_due_by_team.ts
  packages/kbn-docs-utils/src/api_docs/mdx/write_plugin_directory_doc.ts
  packages/kbn-docs-utils/src/api_docs/mdx/write_plugin_mdx_docs.ts
  packages/kbn-docs-utils/src/api_docs/mdx/write_plugin_split_by_folder.test.ts
  packages/kbn-docs-utils/src/api_docs/mdx/write_plugin_split_by_folder.ts
  packages/kbn-docs-utils/src/api_docs/stats.ts
  packages/kbn-docs-utils/src/api_docs/types.ts
  packages/kbn-docs-utils/src/api_docs/utils.test.ts
  src/plugins/telemetry/server/plugin.ts
Labels: release_note:skip, backport:skip, v8.5.0

#139877 [ML] AI Ops: Adds discover link to analysis table
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_analysis.tsx
  x-pack/plugins/aiops/public/components/spike_analysis_table/spike_analysis_table.tsx
  x-pack/plugins/aiops/public/plugin.ts
Labels: release_note:enhancement, :ml, v8.5.0, Feature:ML/AIOps

#140136 [Fleet] Reenable Flaky tests package policy create
  x-pack/test/fleet_api_integration/apis/package_policy/create.ts
Labels: release_note:skip, Team:Fleet

#140128 [Fleet] API integration test make docker server waitForLogline timeout configurable
  packages/kbn-test/src/functional_test_runner/lib/config/schema.ts
  packages/kbn-test/src/functional_test_runner/lib/docker_servers/define_docker_servers_config.ts
  packages/kbn-test/src/functional_test_runner/lib/docker_servers/docker_servers_service.ts
  x-pack/test/fleet_api_integration/config.ts
Labels: release_note:skip, Team:Fleet

#139865 Migrate Host and User Risk Score transforms and dashboards to ECS
  x-pack/plugins/security_solution/server/lib/prebuilt_dev_tool_content/console_templates/enable_host_risk_score.console
  x-pack/plugins/security_solution/server/lib/prebuilt_dev_tool_content/console_templates/enable_user_risk_score.console
  x-pack/plugins/security_solution/server/lib/prebuilt_dev_tool_content/routes/__snapshots__/read_prebuilt_dev_tool_content_route.test.ts.snap
  x-pack/plugins/security_solution/server/lib/prebuilt_dev_tool_content/routes/read_prebuilt_dev_tool_content_route.test.ts
  x-pack/plugins/security_solution/server/lib/prebuilt_saved_objects/routes/__snapshots__/create_prebuilt_saved_objects.test.ts.snap
  x-pack/plugins/security_solution/server/lib/prebuilt_saved_objects/routes/create_prebuilt_saved_objects.test.ts
  x-pack/plugins/security_solution/server/lib/prebuilt_saved_objects/saved_object/host_risk_score_dashboards.ts
  x-pack/plugins/security_solution/server/lib/prebuilt_saved_objects/saved_object/user_risk_score_dashboards.ts
Labels: release_note:skip, backport:skip, v8.5.0

#139970 [DOCS] Troubleshooting alerting upgrade issues
  docs/user/alerting/troubleshooting/alerting-common-issues.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Alerting/RulesManagement, v8.5.0, v8.3.4, v8.4.2

#139517 [Security Solution] Update Endpoint integration to have Elastic Defend name
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/available_packages.tsx
  x-pack/plugins/security_solution/public/detections/components/endpoint_responder/responder_context_menu_item.tsx
  x-pack/plugins/security_solution/public/management/components/management_empty_state.tsx
  x-pack/plugins/security_solution/public/management/links.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_artifacts_card.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_create_extension.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.test.tsx
Labels: release_note:enhancement, Team:Fleet, Team:Onboarding and Lifecycle Mgt, v8.5.0

#140137 [ML] Anomaly Detection: Anomalies table in results - only show maps link if maps is enabled
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.tsx
Labels: :ml, Feature:Anomaly Detection, release_note:skip, v8.5.0

#139721 [Response Ops] [Alerting] Refactor error handling in alerting task runner
  x-pack/plugins/alerting/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
Labels: release_note:skip, Team:ResponseOps

#140170 [Lens] Add ad-hoc data view section to readme
  x-pack/plugins/lens/readme.md
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:skip

#140219 [APM] Fix synthtrace cli script
  scripts/synthtrace.js
Labels: Team:APM, release_note:skip, v8.5.0

#139828 [Lens] Deprecate and remove Lens field list sampling strategy
  docs/management/advanced-options.asciidoc
  x-pack/plugins/lens/public/drag_drop/providers/providers.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/banner_wrapper.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/frame_layout.scss
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/frame_layout.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/server/ui_settings.ts
Labels: Team:VisEditors, release_note:skip, Feature:Lens, v8.5.0

#139214 [Lens] Introduce separate dimension groups for mosaic rows and columns
  x-pack/examples/testing_embedded_lens/public/app.tsx
  x-pack/plugins/lens/common/index.ts
  x-pack/plugins/lens/common/types.ts
  x-pack/plugins/lens/common/visualizations/index.ts
  x-pack/plugins/lens/common/visualizations/partition/utils.ts
  x-pack/plugins/lens/public/visualizations/partition/partition_charts_meta.ts
  x-pack/plugins/lens/public/visualizations/partition/render_helpers.ts
  x-pack/plugins/lens/public/visualizations/partition/suggestions.test.ts
  x-pack/plugins/lens/public/visualizations/partition/suggestions.ts
  x-pack/plugins/lens/public/visualizations/partition/to_expression.ts
  x-pack/plugins/lens/public/visualizations/partition/toolbar.tsx
  x-pack/plugins/lens/public/visualizations/partition/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/partition/visualization.tsx
  x-pack/plugins/lens/server/embeddable/make_lens_embeddable_factory.ts
  x-pack/plugins/lens/server/migrations/common_migrations.test.ts
  x-pack/plugins/lens/server/migrations/common_migrations.ts
  x-pack/plugins/lens/server/migrations/saved_object_migrations.ts
  x-pack/plugins/lens/server/migrations/types.ts
  x-pack/plugins/osquery/public/live_queries/form/pack_queries_status_table.tsx
  x-pack/plugins/osquery/public/packs/pack_queries_status_table.tsx
  x-pack/plugins/ux/public/components/app/rum_dashboard/charts/__snapshots__/visitor_breakdown_chart.test.tsx.snap
  x-pack/plugins/ux/public/components/app/rum_dashboard/charts/visitor_breakdown_chart.tsx
Labels: release_note:enhancement, Team:VisEditors, Team:uptime, Feature:Lens, backport:skip, v8.5.0

#139910 Update anomalies tab to display the same quantity of anomalies when navigating from entity analytics page
  x-pack/plugins/security_solution/public/common/components/ml/anomaly/anomaly_table_provider.tsx
  x-pack/plugins/security_solution/public/common/components/ml/anomaly/use_anomalies_search.test.ts
  x-pack/plugins/security_solution/public/common/components/ml/anomaly/use_anomalies_search.ts
  x-pack/plugins/security_solution/public/common/components/ml/anomaly/use_anomalies_table_data.ts
  x-pack/plugins/security_solution/public/common/components/ml/hooks/use_installed_security_jobs.ts
  x-pack/plugins/security_solution/public/common/components/ml/tables/anomalies_host_table.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/anomalies_network_table.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/anomalies_user_table.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/default_equality.test.ts
  x-pack/plugins/security_solution/public/common/components/ml/tables/default_equality.ts
  x-pack/plugins/security_solution/public/common/components/ml/tables/job_id_filter.stories.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/job_id_filter.test.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/job_id_filter.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/network_equality.test.ts
  x-pack/plugins/security_solution/public/common/components/ml/tables/network_equality.ts
  x-pack/plugins/security_solution/public/common/components/ml/tables/select_interval.test.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/select_interval.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/translations.ts
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/hosts/store/actions.ts
  x-pack/plugins/security_solution/public/hosts/store/helpers.test.ts
  x-pack/plugins/security_solution/public/hosts/store/model.ts
  x-pack/plugins/security_solution/public/hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/hosts/store/selectors.ts
  x-pack/plugins/security_solution/public/network/pages/details/index.tsx
  x-pack/plugins/security_solution/public/network/store/actions.ts
  x-pack/plugins/security_solution/public/network/store/helpers.test.ts
  x-pack/plugins/security_solution/public/network/store/model.ts
  x-pack/plugins/security_solution/public/network/store/reducer.ts
  x-pack/plugins/security_solution/public/network/store/selectors.ts
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/columns.tsx
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/config.ts
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/query/index.ts
  x-pack/plugins/security_solution/public/timelines/components/side_panel/network_details/expandable_network.tsx
  x-pack/plugins/security_solution/public/users/store/actions.ts
  x-pack/plugins/security_solution/public/users/store/model.ts
  x-pack/plugins/security_solution/public/users/store/reducer.ts
  x-pack/plugins/security_solution/public/users/store/selectors.ts
Labels: Team:Threat Hunting, Team: SecuritySolution, release_note:feature, Team:Threat Hunting:Explore, v8.5.0

#140211 [8.4] [DOCS] Troubleshooting alerting upgrade issues (#139970)
  docs/user/alerting/troubleshooting/alerting-common-issues.asciidoc
Labels: backport

#139675 [Lens][Coloring] Clarify "auto" bounds in color stops UI
  packages/kbn-coloring/src/shared_components/coloring/color_ranges/color_ranges.test.tsx
  packages/kbn-coloring/src/shared_components/coloring/color_ranges/color_ranges.tsx
  packages/kbn-coloring/src/shared_components/coloring/color_ranges/color_ranges_item.tsx
  packages/kbn-coloring/src/shared_components/coloring/color_ranges/color_ranges_item_buttons.tsx
  packages/kbn-coloring/src/shared_components/coloring/color_ranges/color_ranges_validation.test.ts
  packages/kbn-coloring/src/shared_components/coloring/color_ranges/color_ranges_validation.tsx
  packages/kbn-coloring/src/shared_components/coloring/color_ranges/utils/utils.ts
  packages/kbn-coloring/src/shared_components/coloring/palette_configuration.test.tsx
  packages/kbn-coloring/src/shared_components/coloring/palette_configuration.tsx
  x-pack/plugins/lens/public/visualizations/legacy_metric/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/metric/dimension_editor.tsx
Labels: Team:VisEditors, release_note:skip, Feature:Lens, ui-copy

#140210 [8.3] [DOCS] Troubleshooting alerting upgrade issues (#139970)
  docs/user/alerting/troubleshooting/alerting-common-issues.asciidoc
Labels: backport

#140184 [ML] Functional tests - update compressed trained model definitions
  x-pack/test/functional/services/ml/resources/trained_model_definitions/minimum_valid_config_classification.json.gz.b64
  x-pack/test/functional/services/ml/resources/trained_model_definitions/minimum_valid_config_regression.json.gz.b64
Labels: :ml, test_ui_functional, release_note:skip, backport:prev-minor, v8.5.0, v8.4.2

#137367 Edits confirmation model for snooze schedule removal
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_snooze/panel/base_snooze_panel.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, ui-copy, v8.5.0

#139920 [APM] Add timeseries chart for storage explorer
  x-pack/plugins/apm/public/components/app/storage_explorer/index.tsx
  x-pack/plugins/apm/public/components/app/storage_explorer/storage_chart.tsx
  x-pack/plugins/apm/server/routes/storage_explorer/get_size_timeseries.ts
  x-pack/plugins/apm/server/routes/storage_explorer/route.ts
  x-pack/test/apm_api_integration/common/authentication.ts
  x-pack/test/apm_api_integration/common/config.ts
  x-pack/test/apm_api_integration/tests/storage_explorer/storage_explorer_timeseries_chart.spec.ts
Labels: Team:APM, release_note:skip

#140238 [8.4] [ML] Functional tests - update compressed trained model definitions (#140184)
  x-pack/test/functional/services/ml/resources/trained_model_definitions/minimum_valid_config_classification.json.gz.b64
  x-pack/test/functional/services/ml/resources/trained_model_definitions/minimum_valid_config_regression.json.gz.b64
Labels: backport

#139921 [Canvas] Migrate the `esdocs` function to the SQL search strategy
  src/plugins/data/common/search/expressions/essql.ts
  x-pack/plugins/canvas/canvas_plugin_src/functions/browser/esdocs.ts
  x-pack/plugins/canvas/common/lib/constants.ts
  x-pack/plugins/canvas/common/lib/request/sanitize_name.ts
  x-pack/plugins/canvas/server/lib/essql_strategy.test.ts
  x-pack/plugins/canvas/server/lib/essql_strategy.ts
  x-pack/plugins/canvas/server/plugin.ts
Labels: review, Team:Presentation, Feature:ExpressionLanguage, loe:hours, Team:AppServicesSv, release_note:skip, impact:medium, Feature:Canvas, v8.5.0

#140043 [Exploratory view] Fix single metric and add e2e test
  x-pack/plugins/observability/e2e/journeys/index.ts
  x-pack/plugins/observability/e2e/journeys/single_metric.journey.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes/sample_formula_metric_attribute.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes/single_metric_attributes.test.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes/single_metric_attributes.ts
Labels: Team:uptime, release_note:skip, v8.5.0

#139112 [Kibana Overview] Fix failing test
  test/functional/apps/kibana_overview/_solutions.ts
Labels: release_note:skip, v8.4.0, v8.5.0

#139982 [Security Solution][Endpoint][Response Actions] Add status filter to actions log
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_action_generator.ts
  x-pack/plugins/security_solution/common/endpoint/data_generators/fleet_action_generator.ts
  x-pack/plugins/security_solution/common/endpoint/schema/actions.test.ts
  x-pack/plugins/security_solution/common/endpoint/schema/actions.ts
  x-pack/plugins/security_solution/common/endpoint/service/response_actions/constants.ts
  x-pack/plugins/security_solution/common/endpoint/types/actions.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_filter.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_filters.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/hooks.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/status_badge.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/translations.tsx
  x-pack/plugins/security_solution/public/management/hooks/endpoint/use_get_endpoint_action_list.test.ts
  x-pack/plugins/security_solution/public/management/hooks/endpoint/use_get_endpoint_action_list.ts
  x-pack/plugins/security_solution/public/management/mocks/response_actions_http_mocks.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/list_handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/response_actions.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/action_details_by_id.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/action_details_by_id.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/action_list.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/action_list.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/index.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/utils.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/utils.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, OLM Sprint, v8.5.0

#140251 [7.17] [DOCS] Updates note about security settings (#139591)
  docs/settings/security-settings.asciidoc
Labels: backport

#139886 only calls onResponse on final response
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/data/common/search/search_source/search_source.ts
Labels: release_note:skip, backport:skip, v8.5.0

#140189 [Index Template] Fix previewing data streams in template editor
  x-pack/plugins/index_management/__jest__/client_integration/index_template_wizard/template_create.test.tsx
  x-pack/plugins/index_management/__jest__/client_integration/index_template_wizard/template_form.helpers.ts
  x-pack/plugins/index_management/public/application/components/index_templates/simulate_template/simulate_template.tsx
  x-pack/plugins/index_management/public/application/components/template_form/template_form.tsx
Labels: release_note:fix, Feature:Index Management, Team:Deployment Management, Team:AppServicesUx, v8.5.0

#140178 [TIP] Use runtime fields in aggregated indicators query
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_aggregated_indicators.ts
Labels: release_note:skip, backport:skip, 8.5 candidate, Team: Protections Experience

#140171 [Console] Fix missing `id` auto-suggested parameter for `_search/template` requests
  src/plugins/console/server/lib/spec_definitions/js/search.ts
  src/plugins/console/server/lib/spec_definitions/json/overrides/search_template.json
Labels: Feature:Console, Feature:Dev Tools, Team:Deployment Management, release_note:skip, v8.5.0

#140062 [Lens] Hide chrome for formula full screen mode
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/formula.scss
  x-pack/plugins/lens/public/state_management/fullscreen_middleware.ts
  x-pack/plugins/lens/public/state_management/index.ts
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:skip

#140050 [Lens] Improve field drag defaults
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/droppable/get_drop_props.ts
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/droppable/on_drop_handler.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/droppable/on_drop_handler.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/operations.ts
  x-pack/plugins/lens/public/visualizations/metric/__snapshots__/visualization.test.ts.snap
  x-pack/plugins/lens/public/visualizations/metric/visualization.tsx
Labels: release_note:enhancement, Team:VisEditors, Feature:Lens, backport:skip

#140260 [8.4] [ML] Explain Log Rate Spikes: Histogram fixes. (#139933)
  x-pack/plugins/aiops/public/components/document_count_content/document_count_chart/document_count_chart.tsx
  x-pack/plugins/aiops/public/components/document_count_content/document_count_content/document_count_content.tsx
  x-pack/test/functional/apps/aiops/explain_log_rate_spikes.ts
  x-pack/test/functional/apps/aiops/test_data.ts
Labels: backport
