Repository elastic/kibana, pull requests merged in 2022-08, with the labels that each got.

#137510 [Lens] Fixes the styling issue of dropping a geo field
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/geo_field_workspace_panel.tsx
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:prev-minor

#137656 [8.4] [Lens] Fixes the styling issue of dropping a geo field (#137510)
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/geo_field_workspace_panel.tsx
Labels: backport

#137272 Search session object migrations
  src/plugins/data/common/search/session/status.ts
  src/plugins/data/common/search/session/types.ts
  src/plugins/data/public/search/session/search_session_state.test.ts
  src/plugins/data/public/search/session/session_service.test.ts
  src/plugins/data/server/search/saved_objects/search_session.ts
  src/plugins/data/server/search/saved_objects/search_session_migration.test.ts
  src/plugins/data/server/search/saved_objects/search_session_migration.ts
  src/plugins/data/server/search/session/get_search_status.ts
  src/plugins/data/server/search/session/get_session_status.test.ts
  src/plugins/data/server/search/session/get_session_status.ts
  src/plugins/data/server/search/session/session_service.test.ts
  src/plugins/data/server/search/session/session_service.ts
  src/plugins/data/server/search/session/types.ts
  x-pack/test/api_integration/apis/search/session.ts
Labels: Feature:Search, Team:AppServicesSv, Feature:Search Sessions

#137469 [ignore - goes into feature branch] Search session configs clean up
  docs/settings/search-sessions-settings.asciidoc
  src/plugins/data/config.ts
  src/plugins/data/server/config_deprecations.test.ts
  src/plugins/data/server/config_deprecations.ts
  src/plugins/data/server/search/session/session_service.test.ts
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/test/api_integration/config.ts
Labels: Team:AppServicesSv, Feature:Search Sessions

#137634 [Infra Monitoring UI] update metrics breadcrumb to infrastructure
  x-pack/plugins/infra/public/translations.ts
Labels: bug, Team:Infra Monitoring UI, release_note:skip, backport:prev-minor

#136927 [APM] Diplay logs only matching `trace.id` query
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/transaction_tabs.tsx
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/sections.test.ts
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/sections.ts
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/transaction_action_menu.test.tsx
Labels: release_note:fix, Team:apm, v8.4.0, backport:prev-minor

#137669 [8.4] [ML] Fix flaky job selection on the Anomaly Explorer page (#137596)
  x-pack/plugins/ml/public/application/explorer/anomaly_explorer_common_state.ts
  x-pack/plugins/ml/public/application/explorer/anomaly_timeline_state_service.ts
Labels: backport

#137674 [8.4] Rename Metrics breadcrumb to Infrastructure (#137634)
  x-pack/plugins/infra/public/translations.ts
Labels: backport

#137037 [Discover] Fix storybook dependencies
  src/plugins/discover/public/__mocks__/__storybook_mocks__/with_discover_services.tsx
  src/plugins/discover/public/application/main/components/layout/__stories__/get_services.tsx
Labels: WIP, Feature:Discover, release_note:skip, Team:DataDiscovery, v8.4.0, backport:prev-minor, v8.5.0

#137693 [8.4] [Discover] clean up storybook config (#137037)
  src/plugins/discover/public/__mocks__/__storybook_mocks__/with_discover_services.tsx
  src/plugins/discover/public/application/main/components/layout/__stories__/get_services.tsx
Labels: backport

#137697 [APM] Improve synthtrace environment
  packages/elastic-apm-synthtrace/src/lib/utils/get_synthtrace_environment.ts
  packages/elastic-apm-synthtrace/src/scenarios/aws_lambda.ts
  packages/elastic-apm-synthtrace/src/scenarios/low_throughput.ts
  packages/elastic-apm-synthtrace/src/scenarios/many_services.ts
  packages/elastic-apm-synthtrace/src/scenarios/simple_trace.ts
  packages/elastic-apm-synthtrace/src/scenarios/span_links.ts
Labels: release_note:skip, v8.4.0

#137617 [ResponseOps][Cases] Use lodash for array comparison logic
  x-pack/plugins/cases/server/client/utils.test.ts
  x-pack/plugins/cases/server/client/utils.ts
  x-pack/plugins/cases/server/services/user_actions/index.ts
  x-pack/plugins/cases/server/services/user_actions/type_guards.test.ts
  x-pack/plugins/cases/server/services/user_actions/type_guards.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.5.0

#137506 Properly limit a number of suggested user profiles to the number requested by the consumer.
  x-pack/plugins/security/server/user_profile/user_profile_service.test.ts
  x-pack/plugins/security/server/user_profile/user_profile_service.ts
  x-pack/test/security_api_integration/fixtures/user_profiles/user_profiles_consumer/server/init_routes.ts
  x-pack/test/security_api_integration/tests/user_profiles/get_current.ts
  x-pack/test/security_api_integration/tests/user_profiles/suggest.ts
Labels: bug, Team:Security, release_note:skip, backport:skip, Feature:Security/User Profile

#137706 [Security Solution] Client side check for safe number in PID and correct usage message
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/endpoint_response_actions_console_commands.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/kill_process_action.test.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.4.0, v8.5.0

#137679 [8.4] [APM] Diplay logs only matching `trace.id` query (#136927)
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/transaction_tabs.tsx
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/sections.test.ts
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/sections.ts
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/transaction_action_menu.test.tsx
Labels: backport, Team:apm

#137633 Migrates search example mountReactNode to `kibana-react` toMountPoint
  examples/search_examples/README.md
  examples/search_examples/public/search/app.tsx
Labels: release_note:skip, backport:skip, v8.5.0

#137589 [ML] Explain log rates spikes: Fix API messages translations.
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes.ts
Labels: bug, :ml, release_note:skip, auto-backport, v8.4.0, ci:build-cloud-image, v8.5.0

#137054 [Search] Fix filtering to handle custom date mapping format correctly
  src/plugins/data/public/query/filter_manager/lib/generate_filter.test.ts
  src/plugins/data/public/query/filter_manager/lib/generate_filters.ts
Labels: review, Feature:Search, Team:AppServicesSv, release_note:skip, Feature:Unified search, v8.5.0

#137717 [8.4] [Discover] fix callout header (#137423)
  src/plugins/discover/public/application/main/components/document_explorer_callout/document_explorer_callout.scss
Labels: backport

#137712 [Fleet] Removed successful message from toast when upgrading agents
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team:Fleet, v8.4.0, v8.5.0

#137650 [Synthetics] update spaces logic for private locations
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_route_wrapper.ts
  x-pack/plugins/synthetics/server/synthetics_service/private_location/synthetics_private_location.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/private_location/synthetics_private_location.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.ts
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_private_location.ts
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_project.ts
  x-pack/test/api_integration/apis/uptime/rest/sample_data/test_policy.ts
Labels: bug, Team:uptime, release_note:skip, auto-backport, v8.4.0, v8.5.0

#137597 [Lens] add rounded corners to metric vis
  x-pack/plugins/lens/public/visualization_container.scss
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:prev-minor

#137718 [8.4] [Security Solution] Client side check for safe number in PID and correct usage message (#137706)
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/endpoint_response_actions_console_commands.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/kill_process_action.test.tsx
Labels: backport

#137268 [Lens] Fixes bug on new metric viz when transitioning to an empty formula
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.test.tsx
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.tsx
  src/plugins/chart_expressions/expression_metric/public/expression_renderers/metric_vis_renderer.tsx
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:prev-minor

#137720 [8.4] [ML] Explain log rates spikes: Fix API messages translations. (#137589)
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes.ts
Labels: backport

#137653 Migrates core's notifications service to packages
  package.json
  packages/BUILD.bazel
  packages/core/notifications/core-notifications-browser-internal/BUILD.bazel
  packages/core/notifications/core-notifications-browser-internal/README.md
  packages/core/notifications/core-notifications-browser-internal/jest.config.js
  packages/core/notifications/core-notifications-browser-internal/package.json
  packages/core/notifications/core-notifications-browser-internal/src/index.ts
  packages/core/notifications/core-notifications-browser-internal/src/notifications_service.ts
  packages/core/notifications/core-notifications-browser-internal/src/toasts/__snapshots__/error_toast.test.tsx.snap
  packages/core/notifications/core-notifications-browser-internal/src/toasts/__snapshots__/global_toast_list.test.tsx.snap
  packages/core/notifications/core-notifications-browser-internal/src/toasts/__snapshots__/toasts_service.test.tsx.snap
  packages/core/notifications/core-notifications-browser-internal/src/toasts/error_toast.test.tsx
  packages/core/notifications/core-notifications-browser-internal/src/toasts/error_toast.tsx
  packages/core/notifications/core-notifications-browser-internal/src/toasts/global_toast_list.test.tsx
  packages/core/notifications/core-notifications-browser-internal/src/toasts/global_toast_list.tsx
  packages/core/notifications/core-notifications-browser-internal/src/toasts/index.ts
  packages/core/notifications/core-notifications-browser-internal/src/toasts/toasts_api.test.ts
  packages/core/notifications/core-notifications-browser-internal/src/toasts/toasts_api.tsx
  packages/core/notifications/core-notifications-browser-internal/src/toasts/toasts_service.test.mocks.ts
  packages/core/notifications/core-notifications-browser-internal/src/toasts/toasts_service.test.tsx
  packages/core/notifications/core-notifications-browser-internal/src/toasts/toasts_service.tsx
  packages/core/notifications/core-notifications-browser-internal/tsconfig.json
  packages/core/notifications/core-notifications-browser-mocks/BUILD.bazel
  packages/core/notifications/core-notifications-browser-mocks/README.md
  packages/core/notifications/core-notifications-browser-mocks/jest.config.js
  packages/core/notifications/core-notifications-browser-mocks/package.json
  packages/core/notifications/core-notifications-browser-mocks/src/index.ts
  packages/core/notifications/core-notifications-browser-mocks/src/notifications_service.mock.ts
  packages/core/notifications/core-notifications-browser-mocks/src/toasts_service.mock.ts
  packages/core/notifications/core-notifications-browser-mocks/tsconfig.json
  packages/core/notifications/core-notifications-browser/BUILD.bazel
  packages/core/notifications/core-notifications-browser/README.md
  packages/core/notifications/core-notifications-browser/jest.config.js
  packages/core/notifications/core-notifications-browser/package.json
  packages/core/notifications/core-notifications-browser/src/contracts.ts
  packages/core/notifications/core-notifications-browser/src/index.ts
  packages/core/notifications/core-notifications-browser/src/types.ts
  packages/core/notifications/core-notifications-browser/tsconfig.json
  src/core/public/chrome/chrome_service.test.ts
  src/core/public/chrome/chrome_service.tsx
  src/core/public/core_app/core_app.ts
  src/core/public/core_app/errors/public_base_url.test.tsx
  src/core/public/core_app/errors/url_overflow.test.ts
  src/core/public/core_app/errors/url_overflow.tsx
  src/core/public/core_app/status/lib/load_status.test.ts
  src/core/public/core_app/status/lib/load_status.ts
  src/core/public/core_app/status/render_app.tsx
  src/core/public/core_app/status/status_app.tsx
  src/core/public/core_system.test.mocks.ts
  src/core/public/core_system.ts
  src/core/public/index.ts
  src/core/public/mocks.ts
  src/core/public/plugins/plugins_service.test.ts
  src/plugins/data/public/search/fetch/handle_response.test.ts
  src/plugins/data_views/common/types.ts
  yarn.lock
Labels: Team:Core, release_note:skip, backport:skip, v8.5.0

#137243 [Security Solution][Endpoint][Responder] Hide responder action menu option when endpoint is unenrolled
  x-pack/plugins/security_solution/public/detections/components/endpoint_responder/responder_context_menu_item.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_host_isolation_status.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.4.0, v8.5.0

#137725 [8.4] [Fleet] Removed successful message from toast when upgrading agents (#137712)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport, Team:Fleet

#136675 [Maps] fallback to GeoJSON with runtime geo_point field
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.test.js
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.ts
  x-pack/plugins/maps/public/classes/sources/es_search_source/__snapshots__/update_source_editor.test.js.snap
  x-pack/plugins/maps/public/classes/sources/es_search_source/create_source_editor.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_documents_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/update_source_editor.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/util/__snapshots__/scaling_form.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/es_search_source/util/scaling_form.test.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/util/scaling_form.tsx
Labels: release_note:fix, Team:Geo, auto-backport, v8.4.0, v8.5.0

#137729 [8.4] add border-radius (#137597)
  x-pack/plugins/lens/public/visualization_container.scss
Labels: backport

#137736 [8.4] [Lens] Fixes bug on new metric viz when transitioning to an empty formula (#137268)
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.test.tsx
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.tsx
  src/plugins/chart_expressions/expression_metric/public/expression_renderers/metric_vis_renderer.tsx
Labels: backport

#137747 [8.4] [Security Solution][Endpoint][Responder] Hide responder action menu option when endpoint is unenrolled (#137243)
  x-pack/plugins/security_solution/public/detections/components/endpoint_responder/responder_context_menu_item.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_host_isolation_status.tsx
Labels: backport

#137575 [Enterprise Search] Move crawler polling to index view logic
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_name_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index_router.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.4.0, v8.5.0

#137755 [8.4] [Maps] fallback to GeoJSON with runtime geo_point field (#136675)
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.test.js
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.ts
  x-pack/plugins/maps/public/classes/sources/es_search_source/__snapshots__/update_source_editor.test.js.snap
  x-pack/plugins/maps/public/classes/sources/es_search_source/create_source_editor.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_documents_layer_wizard.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/update_source_editor.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/util/__snapshots__/scaling_form.test.tsx.snap
  x-pack/plugins/maps/public/classes/sources/es_search_source/util/scaling_form.test.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/util/scaling_form.tsx
Labels: backport

#137620 [Security Solution] Fixes refresh issues on the Alerts page
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.tsx
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence.test.ts
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
Labels: bug, release_note:fix, Team:Threat Hunting:Investigations, v8.4.0, v8.5.0

#137721 [APM] Fix invalid version on initial mount of APM form
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/java_agent_version_input.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/runtime_attachment.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/supported_agents/java_runtime_attachment.tsx
Labels: Team:apm, release_note:skip, auto-backport, v8.4.0

#137754 [Uptime] show monitor management button on-prem
  x-pack/plugins/synthetics/public/legacy_uptime/components/common/header/manage_monitors_btn.tsx
Labels: bug, Team:uptime, release_note:skip, auto-backport, v8.4.0, v8.5.0

#137761 [8.4] [Enterprise Search] Move crawler polling to index view logic (#137575)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_name_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index_router.tsx
Labels: backport

#137014 [maps] fix type in getMapsVisTypeAlias
  x-pack/plugins/maps/public/maps_vis_type_alias.ts
Labels: Team:Geo, release_note:skip, backport:skip, v8.5.0

#137722 [TIP] change the link from Empty page to the new category
  x-pack/plugins/threat_intelligence/public/hooks/use_integrations_page_link.tsx
Labels: release_note:skip, 8.5 candidate, Team: Protections Experience

#137767 [8.4] [APM] Fix invalid version on initial mount of APM form (#137721)
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/java_agent_version_input.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/runtime_attachment.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/supported_agents/java_runtime_attachment.tsx
Labels: backport, Team:apm

#137764 [8.4] [Security Solution] Fixes refresh issues on the Alerts page (#137620)
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.tsx
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence.test.ts
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
Labels: backport

#137727 [8.4] [Synthetics] update spaces logic for private locations (#137650)
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_route_wrapper.ts
  x-pack/plugins/synthetics/server/synthetics_service/private_location/synthetics_private_location.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/private_location/synthetics_private_location.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.ts
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_private_location.ts
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_project.ts
  x-pack/test/api_integration/apis/uptime/rest/delete_monitor.ts
  x-pack/test/api_integration/apis/uptime/rest/sample_data/test_policy.ts
Labels: backport, Team:uptime

#137636 Migrates vis_controller from `mountReactNode` to `toMountPoint`
  src/plugins/vis_types/vislib/public/vis_controller.tsx
Labels: release_note:skip, backport:skip, v8.5.0

#137768 [8.4] uptime - show monitor management button on-prem (#137754)
  x-pack/plugins/synthetics/public/legacy_uptime/components/common/header/manage_monitors_btn.tsx
Labels: backport, Team:uptime

#137753 [docs] Update yarn dev-docs config format
  scripts/dev_docs.sh
Labels: Team:Operations, release_note:skip, Feature:CI

#137623 [Enterprise Search] Fix bug limiting domains displayed on Crawl with custom settings flyouts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/crawler.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/crawler.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/crawler/crawler.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/crawler/crawler.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.4.0

#137645 [Security solution] Fix bug for rendering CTI enrichments
  packages/kbn-securitysolution-t-grid/src/mock/mock_event_details.ts
  x-pack/plugins/security_solution/common/utils/field_formatters.ts
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/helpers.tsx
  x-pack/plugins/timelines/common/utils/field_formatters.test.ts
  x-pack/plugins/timelines/common/utils/field_formatters.ts
  x-pack/plugins/timelines/server/search_strategy/timeline/factory/helpers/build_ecs_objects.test.ts
  x-pack/plugins/timelines/server/search_strategy/timeline/factory/helpers/build_object_recursive.test.ts
  x-pack/plugins/timelines/server/search_strategy/timeline/factory/helpers/format_timeline_data.test.ts
Labels: bug, release_note:skip, Team:Threat Hunting:Investigations, v8.4.0

#137787 [8.4] [Enterprise Search] Fix bug limiting domains displayed on Crawl with custom settings flyouts (#137623)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/crawler/components/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawl_custom_settings_flyout/crawl_custom_settings_flyout_logic.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/crawler.test.ts
  x-pack/plugins/enterprise_search/server/routes/app_search/crawler.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/crawler/crawler.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/crawler/crawler.ts
Labels: backport

#137789 [8.4] [Security solution] Fix bug for rendering CTI enrichments (#137645)
  packages/kbn-securitysolution-t-grid/src/mock/mock_event_details.ts
  x-pack/plugins/security_solution/common/utils/field_formatters.ts
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/helpers.tsx
  x-pack/plugins/timelines/common/utils/field_formatters.test.ts
  x-pack/plugins/timelines/common/utils/field_formatters.ts
  x-pack/plugins/timelines/server/search_strategy/timeline/factory/helpers/build_ecs_objects.test.ts
  x-pack/plugins/timelines/server/search_strategy/timeline/factory/helpers/build_object_recursive.test.ts
  x-pack/plugins/timelines/server/search_strategy/timeline/factory/helpers/format_timeline_data.test.ts
Labels: backport

#137542 Unskip stack_monitoring a11y test
  x-pack/test/accessibility/apps/stack_monitoring.ts
  x-pack/test/functional/services/monitoring/kibana_overview.js
Labels: Project:Accessibility, release_note:skip, Feature:Stack Monitoring, backport:prev-minor, v8.5.0

#137792 [8.4] Unskip stack_monitoring a11y test (#137542)
  x-pack/test/accessibility/apps/stack_monitoring.ts
  x-pack/test/functional/services/monitoring/kibana_overview.js
Labels: backport

#137626 [Security Solution] Value List Telemetry
  x-pack/plugins/security_solution/server/lib/telemetry/__mocks__/index.ts
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.ts
  x-pack/plugins/security_solution/server/lib/telemetry/types.ts
Labels: Feature:Telemetry, release_note:skip, Team: SecuritySolution, auto-backport, v8.4.0

#137518 Revert "Add Console docs for Comments and Variables (#137225) (#137515)"
  docs/dev-tools/console/console.asciidoc
  docs/dev-tools/console/images/console-settings.png
  docs/dev-tools/console/images/console.png
  docs/dev-tools/console/images/copy-curl.png
  docs/dev-tools/console/images/request.png
  docs/dev-tools/console/images/settings.png
  docs/dev-tools/console/images/variables.png
Labels: backport, Team:Deployment Management

#137798 [8.4] [Security Solution] Value List Telemetry (#137626)
  x-pack/plugins/security_solution/server/lib/telemetry/__mocks__/index.ts
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.ts
  x-pack/plugins/security_solution/server/lib/telemetry/types.ts
Labels: backport

#137796 [Security Solution] Alerts Treemap fixes
  x-pack/plugins/security_solution/common/search_strategy/common/index.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/flatten/flatten_bucket.test.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/flatten/flatten_bucket.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/legend/index.test.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/legend/index.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/mocks/mock_alert_search_response.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/no_data/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/translations.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/types.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.tsx
  x-pack/plugins/security_solution/public/common/components/header_section/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/header_section/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/index.tsx
Labels: bug, release_note:skip, auto-backport, Team:Threat Hunting:Investigations, v8.4.0, v8.5.0

#137801 [8.4] [Security Solution] Alerts Treemap fixes (#137796)
  x-pack/plugins/security_solution/common/search_strategy/common/index.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/flatten/flatten_bucket.test.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/flatten/flatten_bucket.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/legend/index.test.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/legend/index.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/lib/mocks/mock_alert_search_response.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/no_data/index.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/translations.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap/types.ts
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.tsx
  x-pack/plugins/security_solution/public/common/components/header_section/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/header_section/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/index.tsx
Labels: backport

#137708 [Lens] Fix default value count label
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/count.tsx
  x-pack/test/functional/apps/lens/group3/drag_and_drop.ts
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:prev-minor

#137805 [8.4] [Lens] Fix default value count label (#137708)
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/count.tsx
  x-pack/test/functional/apps/lens/group3/drag_and_drop.ts
Labels: backport

#137670 [ML] Fix a query in the Anomaly Explorer when viewing a job with no influencers
  x-pack/plugins/ml/public/application/explorer/components/explorer_query_bar/explorer_query_bar.tsx
  x-pack/plugins/ml/public/application/explorer/explorer.tsx
Labels: release_note:fix, :ml, Team:ML, backport:prev-minor

#137715 [ML] Explain log rate spikes: Fix race conditions when loading document count stats.
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_page.tsx
  x-pack/plugins/aiops/public/hooks/use_data.ts
  x-pack/plugins/aiops/public/hooks/use_document_count_stats.ts
Labels: bug, :ml, release_note:skip, auto-backport, v8.4.0, v8.5.0

#137814 [8.4] [ML] Fix a query in the Anomaly Explorer when viewing a job with no influencers (#137670)
  x-pack/plugins/ml/public/application/explorer/components/explorer_query_bar/explorer_query_bar.tsx
  x-pack/plugins/ml/public/application/explorer/explorer.tsx
Labels: backport

#137817 [8.4] [ML] Explain log rate spikes: Fix race conditions when loading document count stats. (#137715)
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_page.tsx
  x-pack/plugins/aiops/public/hooks/use_data.ts
  x-pack/plugins/aiops/public/hooks/use_document_count_stats.ts
Labels: backport

#137361 Timepicker refactoring of x-pack/test/functional/apps/lens/geo_field.ts to use UI settings
  x-pack/test/functional/apps/lens/group3/annotations.ts
  x-pack/test/functional/apps/lens/group3/geo_field.ts
Labels: Team:QA, release_note:skip, Feature:Lens

#137598 [7.17] Update simple-git 1.116.0 -> 3.10.0 (#137232)
  package.json
  packages/kbn-es/src/install/install_source.ts
  src/dev/run_precommit_hook.js
  x-pack/tasks/helpers/git_info.ts
  yarn.lock
Labels: backport

#137603 [8.3] Update simple-git 1.116.0 -> 3.10.0 (#137232)
  package.json
  packages/kbn-es/src/install/install_source.ts
  src/dev/precommit_hook/get_files_for_commit.js
  src/dev/run_precommit_hook.js
  x-pack/tasks/helpers/git_info.ts
  yarn.lock
Labels: backport

#137834 [TIP] Fix failing QueryBar test suite
  x-pack/plugins/threat_intelligence/public/common/mocks/test_providers.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/query_bar/query_bar.test.tsx
Labels: release_note:skip, backport:prev-minor, Team: Protections Experience

#137829 [TIP] Prevent IndicatorsTable flash
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.tsx
Labels: release_note:skip, backport:prev-minor, Team: Protections Experience

#137760 [build] Move x-pack notice generation to to src/dev/build
  src/dev/build/build_distributables.ts
  src/dev/build/tasks/notice_file_task.ts
  x-pack/tasks/build.ts
Labels: Team:Operations, release_note:skip

#136986 Minify legacy css files
  packages/kbn-ui-framework/dist/kui_dark.min.css
  packages/kbn-ui-framework/dist/kui_light.min.css
  src/core/server/core_app/assets/legacy_dark_theme.min.css
  src/core/server/core_app/assets/legacy_light_theme.min.css
  src/core/server/rendering/render_utils.test.ts
  src/core/server/rendering/render_utils.ts
Labels: Team:Core, Team:Operations, release_note:skip

#137680 [Unified search] Fixes the theme for the editor on the dark mode
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/index.tsx
Labels: Team:AppServicesSv, release_note:skip, Feature:Unified search, v8.4.0, backport:prev-minor, v8.5.0

#137840 [8.4] [ResponseOps][BUG] - UI fixes for Alerts Summary chart (#137476)
  x-pack/plugins/triggers_actions_ui/public/application/hooks/use_load_rule_alerts_aggregations.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/alert_summary/helpers.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/alert_summary/rule_alerts_summary.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/alert_summary/types.ts
Labels: backport

#137530 add EBT Labels through CI
  src/plugins/telemetry/server/config/telemetry_labels.ts
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/test/performance/journeys/base.config.ts
  x-pack/test/performance/journeys/ecommerce_dashboard/config.ts
  x-pack/test/performance/journeys/flight_dashboard/config.ts
  x-pack/test/performance/journeys/login/config.ts
  x-pack/test/performance/journeys/many_fields_discover/config.ts
  x-pack/test/performance/journeys/promotion_tracking_dashboard/config.ts
  x-pack/test/performance/journeys/web_logs_dashboard/config.ts
Labels: Team:Operations, release_note:skip, backport:skip, v8.5.0

#134454 Fixes Spaces Menu Keyboard and Screen Reader Navigation
  x-pack/plugins/security/public/management/roles/edit_role/spaces_popover_list/spaces_popover_list.test.tsx
  x-pack/plugins/security/public/management/roles/edit_role/spaces_popover_list/spaces_popover_list.tsx
  x-pack/plugins/spaces/public/constants.ts
  x-pack/plugins/spaces/public/nav_control/__snapshots__/nav_control_popover.test.tsx.snap
  x-pack/plugins/spaces/public/nav_control/components/spaces_description.tsx
  x-pack/plugins/spaces/public/nav_control/components/spaces_menu.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control_popover.test.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control_popover.tsx
  x-pack/test/functional/apps/spaces/spaces_selection.ts
  x-pack/test/functional/page_objects/space_selector_page.ts
  x-pack/test/functional/services/ml/common_ui.ts
Labels: release_note:fix, Team:Security, Feature:Security/Spaces, v8.4.0

#137846 [Private location] Add loading to delete location button
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/manage_locations/delete_location.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/manage_locations/hooks/use_location_monitors.test.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/manage_locations/hooks/use_location_monitors.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/manage_locations/locations_table.tsx
Labels: Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137366 Refine Console settings modal copy.
  src/plugins/console/public/application/components/settings_modal.tsx
Labels: Feature:Console, Feature:Dev Tools, Team:Deployment Management, release_note:skip, backport:prev-minor

#137245 Fix Ingest Pipelines Grok processor to accept patterns that contain escaped characters
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/__jest__/processors/grok.test.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processor_form.container.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processors/grok.tsx
Labels: release_note:fix, Team:Deployment Management, Feature:Ingest Node Pipelines, backport:all-open

#137850 [8.4] [TIP] Prevent IndicatorsTable flash (#137829)
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.tsx
Labels: backport

#137826 [Synthetics] Filter out managed policies
  x-pack/plugins/synthetics/public/legacy_uptime/state/private_locations/api.ts
Labels: Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137851 [8.4] [TIP] Fix failing QueryBar test suite (#137834)
  x-pack/plugins/threat_intelligence/public/common/mocks/test_providers.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/query_bar/query_bar.test.tsx
Labels: backport

#137833 [Uptime] Fix overview flaky test
  x-pack/plugins/synthetics/public/legacy_uptime/pages/overview.test.tsx
Labels: Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137678 [Unified search] Improve the way that spaces are handled on inline mode
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/helpers.test.ts
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/helpers.ts
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/index.tsx
Labels: Team:AppServicesSv, release_note:skip, backport:skip, Feature:Unified search, v8.5.0

#137854 [8.4] [Unified search] Fixes the theme for the editor on the dark mode (#137680)
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/index.tsx
Labels: backport

#137786 [Workplace Search] Fix logic for displaying configuration fields for internal connectors
  x-pack/plugins/enterprise_search/public/applications/workplace_search/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/save_config.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/source_data.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.3.0, v8.4.0, v8.5.0

#137699 [Security Solution] Consolidate links configuration and needsUrlState function
  x-pack/plugins/security_solution/public/app/deep_links/index.ts
  x-pack/plugins/security_solution/public/cases/links.ts
  x-pack/plugins/security_solution/public/cloud_security_posture/links.ts
  x-pack/plugins/security_solution/public/common/components/link_to/index.ts
  x-pack/plugins/security_solution/public/common/links/types.ts
  x-pack/plugins/security_solution/public/common/utils/global_query_string/index.test.tsx
  x-pack/plugins/security_solution/public/detections/links.ts
  x-pack/plugins/security_solution/public/kubernetes/links.ts
  x-pack/plugins/security_solution/public/landing_pages/links.ts
  x-pack/plugins/security_solution/public/management/links.ts
  x-pack/plugins/security_solution/public/threat_intelligence/links.ts
  x-pack/plugins/security_solution/public/timelines/links.ts
Labels: technical debt, release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.5.0

#137346 [ResponseOps][Cases] User suggestion API
  x-pack/plugins/cases/common/api/cases/index.ts
  x-pack/plugins/cases/common/api/cases/user_profiles.ts
  x-pack/plugins/cases/common/constants.ts
  x-pack/plugins/cases/server/features.ts
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/server/routes/api/get_internal_routes.ts
  x-pack/plugins/cases/server/routes/api/internal/suggest_user_profiles.ts
  x-pack/plugins/cases/server/routes/api/register_routes.ts
  x-pack/plugins/cases/server/routes/api/types.ts
  x-pack/plugins/cases/server/services/index.ts
  x-pack/plugins/cases/server/services/user_profiles/index.ts
  x-pack/plugins/observability/server/plugin.ts
  x-pack/plugins/security_solution/server/features.ts
  x-pack/test/api_integration/apis/cases/index.ts
  x-pack/test/api_integration/apis/cases/privileges.ts
  x-pack/test/api_integration/apis/cases/suggest_user_profiles.ts
  x-pack/test/cases_api_integration/common/fixtures/plugins/observability/server/plugin.ts
  x-pack/test/cases_api_integration/common/fixtures/plugins/security_solution/server/plugin.ts
  x-pack/test/cases_api_integration/common/lib/authentication/roles.ts
  x-pack/test/cases_api_integration/common/lib/authentication/users.ts
  x-pack/test/cases_api_integration/common/lib/utils.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/suggest_user_profiles.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/index.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/internal/suggest_user_profiles.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.5.0

#137866 [8.3] Fix Ingest Pipelines Grok processor to accept patterns that contain escaped characters. (#137245)
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/__jest__/processors/grok.test.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processor_form.container.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processors/grok.tsx
Labels: backport

#137867 [8.4] Fix Ingest Pipelines Grok processor to accept patterns that contain escaped characters. (#137245)
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/__jest__/processors/grok.test.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processor_form.container.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processors/grok.tsx
Labels: backport

#137859 [8.4] Fixes Spaces Menu Keyboard and Screen Reader Navigation (#134454)
  x-pack/plugins/security/public/management/roles/edit_role/spaces_popover_list/spaces_popover_list.test.tsx
  x-pack/plugins/security/public/management/roles/edit_role/spaces_popover_list/spaces_popover_list.tsx
  x-pack/plugins/spaces/public/constants.ts
  x-pack/plugins/spaces/public/nav_control/__snapshots__/nav_control_popover.test.tsx.snap
  x-pack/plugins/spaces/public/nav_control/components/spaces_description.tsx
  x-pack/plugins/spaces/public/nav_control/components/spaces_menu.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control_popover.test.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control_popover.tsx
  x-pack/test/functional/apps/spaces/spaces_selection.ts
  x-pack/test/functional/page_objects/space_selector_page.ts
  x-pack/test/functional/services/ml/common_ui.ts
Labels: backport

#137870 [8.4] [Uptime] Fix overview flaky test (#137833)
  x-pack/plugins/synthetics/public/legacy_uptime/pages/overview.test.tsx
Labels: backport, Team:uptime

#137860 [Fleet] updated openapi spec for bulk actions
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/bulk_upgrade_agents.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_reassign.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_unenroll.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_update_tags.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_upgrade.yaml
Labels: release_note:skip, Team:Fleet, v8.4.0

#137771 [artifacts] Fix deployment termination on error
  .buildkite/scripts/steps/artifacts/cloud.sh
Labels: Team:Operations, release_note:skip

#137784 [ML] Explain log rate spikes: Fix check for time field based data view.
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_app_state.tsx
  x-pack/plugins/ml/public/application/aiops/explain_log_rate_spikes.tsx
Labels: bug, :ml, release_note:skip, v8.4.0, v8.5.0

#137637 Migrates use_bulk_actions mountReactNode to toMountPoint
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/bulk_actions/use_bulk_actions.tsx
Labels: release_note:skip, backport:skip, v8.5.0

#137865 [8.4] Refine Console settings modal copy. (#137366)
  src/plugins/console/public/application/components/settings_modal.tsx
Labels: backport

#136219 [ci] Conditional storybook builds
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/pipelines/pull_request/storybooks.yml
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: Team:Operations, release_note:skip, backport:all-open

#137875 [8.3] Do not display client id and secret form elements when connector has public key (#137786)
  x-pack/plugins/enterprise_search/public/applications/workplace_search/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/save_config.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/source_data.tsx
Labels: backport

#137876 [8.4] Do not display client id and secret form elements when connector has public key (#137786)
  x-pack/plugins/enterprise_search/public/applications/workplace_search/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/components/add_source/save_config.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/content_sources/source_data.tsx
Labels: backport

#137543 [Reporting] Improve API tests, reveal cause of test failure
  x-pack/test/reporting_api_integration/reporting_and_security/error_codes.ts
  x-pack/test/reporting_api_integration/services/usage.ts
Labels: test, release_note:skip, auto-backport-next, backport:prev-minor

#137336 Fix ILM timeline styles.
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phase_icon/phase_icon.scss
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/edit_policy.scss
Labels: Feature:ILM, Team:Deployment Management, release_note:skip, backport:prev-minor

#137370 [Security Solution] [Analyzer] Use more correct ids from alerts for entity request, clean up some tests
  x-pack/plugins/security_solution/cypress/integration/detection_alerts/alert_flyout.spec.ts
  x-pack/plugins/security_solution/cypress/integration/detection_rules/event_correlation_rule.spec.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_details.ts
  x-pack/plugins/security_solution/cypress/screens/date_picker.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts_details.ts
  x-pack/plugins/security_solution/cypress/tasks/date_picker.ts
  x-pack/plugins/security_solution/public/common/components/event_details/insights/insights.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_process_ancestry.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_process_ancestry.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/investigate_in_timeline_button.tsx
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence_from_process_tree.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/queries/stats.ts
  x-pack/test/security_solution_cypress/config.ts
  x-pack/test/security_solution_cypress/es_archives/auditbeat/data.json
Labels: release_note:skip, v8.4.0

#137881 [8.4] [Fleet] updated openapi spec for bulk actions (#137860)
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/bulk_upgrade_agents.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_reassign.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_unenroll.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_update_tags.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_upgrade.yaml
Labels: backport, Team:Fleet

#137856 [Enterprise Search] Add missing link to integrations page on new index creation
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/new_index.tsx
Labels: bug, release_note:skip, Team:EnterpriseSearch, v8.4.0

#137884 [8.4] [ML] Fix check for time field based data view. (#137784)
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_app_state.tsx
  x-pack/plugins/ml/public/application/aiops/explain_log_rate_spikes.tsx
Labels: backport

#137889 [8.3] [ci] Conditional storybook builds (#136219)
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/pipelines/pull_request/storybooks.yml
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: backport

#137890 [8.4] [ci] Conditional storybook builds (#136219)
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/pipelines/pull_request/storybooks.yml
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: backport

#137891 [8.4] [Reporting] Eliminate request timeout errors in functional test (#136896)
  x-pack/test/reporting_api_integration/reporting_and_security/usage/api_counters.ts
Labels: backport

#137892 [8.4] [Reporting] Improve API tests, reveal cause of test failure (#137543)
  x-pack/test/reporting_api_integration/reporting_and_security/error_codes.ts
  x-pack/test/reporting_api_integration/services/usage.ts
Labels: backport

#137893 [8.4] Fix ILM timeline styles. (#137336)
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/components/phase_icon/phase_icon.scss
  x-pack/plugins/index_lifecycle_management/public/application/sections/edit_policy/edit_policy.scss
Labels: backport

#137622 [Kubernetes Security][Bug Fix] Session view now closes upon choosing another entry within tree view
  x-pack/plugins/kubernetes_security/public/components/container_name_widget/index.tsx
  x-pack/plugins/kubernetes_security/public/components/tree_view_container/hooks.tsx
Labels: bug, release_note:skip, backport:skip, Team: AWP: Visualization, v8.4.0

#137896 [8.4] [Enterprise Search] Add missing link to integrations page on new index creation (#137856)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/new_index.tsx
Labels: backport

#137842 [Synthetics] adjust failing private locations tests
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_private_location.ts
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_project.ts
  x-pack/test/api_integration/apis/uptime/rest/delete_monitor.ts
  x-pack/test/api_integration/apis/uptime/rest/sample_data/test_policy.ts
Labels: failed-test, Team:uptime, release_note:skip, auto-backport, v8.4.0, v8.5.0

#137209 [APM] e2e tests fix (Comparison feature flag)
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/feature_flag/comparison.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/commands.ts
  x-pack/plugins/apm/ftr_e2e/cypress/support/types.d.ts
Labels: Team:apm, release_note:skip

#137541 137539 add missing network details revamp
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/cypress/integration/ml/ml_conditional_links.spec.ts
  x-pack/plugins/security_solution/public/common/components/link_to/redirect_to_network.tsx
  x-pack/plugins/security_solution/public/common/components/links/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/links/index.tsx
  x-pack/plugins/security_solution/public/common/components/matrix_histogram/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/navigation/breadcrumbs/index.test.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/use_primary_navigation.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/use_lens_attributes.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/utils.ts
  x-pack/plugins/security_solution/public/network/pages/constants.ts
  x-pack/plugins/security_solution/public/network/pages/details/details_tabs.tsx
  x-pack/plugins/security_solution/public/network/pages/details/index.test.tsx
  x-pack/plugins/security_solution/public/network/pages/details/index.tsx
  x-pack/plugins/security_solution/public/network/pages/details/nav_tabs.test.tsx
  x-pack/plugins/security_solution/public/network/pages/details/nav_tabs.tsx
  x-pack/plugins/security_solution/public/network/pages/details/types.ts
  x-pack/plugins/security_solution/public/network/pages/details/utils.ts
  x-pack/plugins/security_solution/public/network/pages/index.tsx
  x-pack/plugins/security_solution/public/network/pages/navigation/nav_tabs.tsx
  x-pack/plugins/security_solution/public/network/pages/navigation/network_routes.tsx
  x-pack/plugins/security_solution/public/network/pages/navigation/types.ts
  x-pack/plugins/security_solution/public/network/pages/navigation/utils.ts
  x-pack/plugins/security_solution/public/network/pages/network.tsx
  x-pack/plugins/security_solution/public/network/pages/translations.ts
  x-pack/plugins/security_solution/public/timelines/components/netflow/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/netflow/__snapshots__/netflow_row_renderer.test.tsx.snap
Labels: bug, release_note:enhancement, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.4.0

#137902 [8.4] synthetics - adjust failing private locations tests (#137842)
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_private_location.ts
  x-pack/test/api_integration/apis/uptime/rest/delete_monitor.ts
Labels: backport

#136653 [CI] Enable kibana build reuse where possible
  .buildkite/pipeline-utils/ci-stats/on_complete.ts
  .buildkite/pull_requests.json
  .buildkite/scripts/lifecycle/pre_build.sh
Labels: Team:Operations, release_note:skip, Feature:CI, backport:prev-minor, ci:reuse-kibana-build

#137766 Saved Object Finder - allow it to find data views
  src/plugins/saved_objects/public/finder/saved_object_finder.test.tsx
  src/plugins/saved_objects/public/finder/saved_object_finder.tsx
  src/plugins/visualizations/public/wizard/search_selection/search_selection.tsx
  x-pack/plugins/graph/public/components/source_picker.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/source_selection/source_selection.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/change_data_view.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/index_or_search/page.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/search_selection/search_selection.tsx
Labels: Feature:Saved Objects, Feature:Data Views, Team:AppServicesSv, release_note:skip, Feature:Saved Objects Management, backport:prev-minor

#137901 [Synthetics UI] Fix effect dependency issue for monitor enable/disable feature
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_errors/monitor_async_error.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_list_table/monitor_enabled.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/hooks/use_monitor_enable_handler.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/effects.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/selectors.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/root_effect.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/testing/__mocks__/syncthetics_store.mock.ts
Labels: bug, Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137910 [8.4] [CI] Enable kibana build reuse where possible (#136653)
  .buildkite/pipeline-utils/ci-stats/on_complete.ts
  .buildkite/pull_requests.json
  .buildkite/scripts/lifecycle/pre_build.sh
Labels: backport

#137780 [APM] Fixing infrastructure e2e test
  x-pack/plugins/apm/ftr_e2e/cypress/integration/power_user/feature_flag/infrastructure.spec.ts
Labels: Team:apm, release_note:skip

#137914 [8.4] Saved Object Finder - allow it to find data views (#137766)
  src/plugins/saved_objects/public/finder/saved_object_finder.test.tsx
  src/plugins/saved_objects/public/finder/saved_object_finder.tsx
  src/plugins/visualizations/public/wizard/search_selection/search_selection.tsx
  x-pack/plugins/graph/public/components/source_picker.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/source_selection/source_selection.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/datafeed_step/components/data_view/change_data_view.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/index_or_search/page.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/search_selection/search_selection.tsx
Labels: backport

#137667 [Fleet Synthetics] Upgrade to 0.10.1
  fleet_packages.json
  x-pack/plugins/fleet/server/integration_tests/__snapshots__/cloud_preconfiguration.test.ts.snap
  x-pack/plugins/fleet/server/integration_tests/helpers/docker_registry_helper.ts
  x-pack/test/fleet_api_integration/config.ts
  x-pack/test/functional/config.base.js
  x-pack/test/functional_synthetics/apps/uptime/synthetics_integration.ts
  x-pack/test/functional_synthetics/config.js
Labels: release_note:breaking, Team:uptime, Team:Fleet, v8.4.0, v8.5.0

#137907 [Synthetics UI] nit: Fix filename typo
  x-pack/plugins/synthetics/public/apps/synthetics/utils/testing/__mocks__/synthetics_store.mock.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/testing/rtl_helpers.tsx
Labels: Team:uptime, release_note:skip, v8.5.0

#137917 [8.4] [Synthetics UI] Fix effect dependency issue for monitor enable/disable feature (#137901)
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_errors/monitor_async_error.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_list_table/monitor_enabled.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/hooks/use_monitor_enable_handler.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/effects.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/selectors.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/root_effect.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/testing/__mocks__/syncthetics_store.mock.ts
Labels: backport, Team:uptime, v8.4.0

#137803 Update Filebeat tutorials to instruct users to enable filesets
  src/plugins/home/server/tutorials/instructions/filebeat_instructions.ts
Labels: Team:Docs, release_note:skip, backport:all-open

#137926 [8.4] Update Filebeat tutorials to instruct users to enable filesets (#137803)
  src/plugins/home/server/tutorials/instructions/filebeat_instructions.ts
Labels: backport

#137924 [7.17] Update Filebeat tutorials to instruct users to enable filesets (#137803)
  src/plugins/home/server/tutorials/instructions/filebeat_instructions.ts
Labels: backport

#137772 [Fleet] Support dynamic_template mappings from object field
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/__snapshots__/template.test.ts.snap
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/mappings.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/plugins/fleet/server/services/epm/fields/__snapshots__/field.test.ts.snap
  x-pack/plugins/fleet/server/services/epm/fields/field.ts
  x-pack/plugins/fleet/server/services/epm/fields/tests/cockroachdb_dynamic_templates.yml
Labels: bug, release_note:skip, Team:Fleet, v8.4.0, backport:prev-minor, v8.5.0

#137632 [RAM] Fix rule schedule interval handling of invalid input values
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
Labels: bug, release_note:skip, Team:ResponseOps, auto-backport, Feature:Alerting/RulesManagement, v8.4.0

#137925 [8.3] Update Filebeat tutorials to instruct users to enable filesets (#137803)
  src/plugins/home/server/tutorials/instructions/filebeat_instructions.ts
Labels: backport

#137929 [8.4] [Fleet] Support dynamic_template mappings from object field (#137772)
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/__snapshots__/template.test.ts.snap
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/mappings.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/plugins/fleet/server/services/epm/fields/__snapshots__/field.test.ts.snap
  x-pack/plugins/fleet/server/services/epm/fields/field.ts
  x-pack/plugins/fleet/server/services/epm/fields/tests/cockroachdb_dynamic_templates.yml
Labels: backport, Team:Fleet

#137930 [8.4] Fix rule schedule interval input invalid values (#137632)
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
Labels: backport

#137559 [APM] Create kibana package for shared svg
  package.json
  packages/BUILD.bazel
  packages/kbn-shared-svg/BUILD.bazel
  packages/kbn-shared-svg/README.md
  packages/kbn-shared-svg/jest.config.js
  packages/kbn-shared-svg/package.json
  packages/kbn-shared-svg/src/assets/no_results_dark.svg
  packages/kbn-shared-svg/src/assets/no_results_light.svg
  packages/kbn-shared-svg/src/index.ts
  packages/kbn-shared-svg/tsconfig.json
  yarn.lock
Labels: Team:apm, release_note:skip, backport:skip, v8.5.0

#137839 release_note:skip Issue #97976
  docs/developer/plugin/external-plugin-localization.asciidoc
Labels: Team:Docs, release_note:skip, 💝community, backport:all-open, v8.5.0

#137943 [8.3] release_note:skip Issue #97976 (#137839)
  docs/developer/plugin/external-plugin-localization.asciidoc
Labels: backport

#137944 [8.4] release_note:skip Issue #97976 (#137839)
  docs/developer/plugin/external-plugin-localization.asciidoc
Labels: backport

#137822 [User Experience App] Pass filters down to page view and page load charts
  x-pack/plugins/observability/public/index.ts
  x-pack/plugins/ux/public/components/app/rum_dashboard/charts/page_load_dist_chart.tsx
  x-pack/plugins/ux/public/components/app/rum_dashboard/charts/page_views_chart.tsx
  x-pack/plugins/ux/public/services/data/get_exp_view_filter.test.ts
  x-pack/plugins/ux/public/services/data/get_exp_view_filter.ts
Labels: Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137828 [Synthetics] Fix license flaky fetch
  src/core/server/integration_tests/saved_objects/migrations/incompatible_cluster_routing_allocation.test.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/sender.ts
Labels: Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137728 [RAM] Fix alert table with new props cases
  x-pack/plugins/apm/kibana.json
  x-pack/plugins/cases/public/components/case_view/case_view_page.test.tsx
  x-pack/plugins/observability/public/config/register_alerts_table_configuration.tsx
  x-pack/plugins/observability/public/pages/rule_details/index.tsx
  x-pack/plugins/security_solution/cypress/screens/kibana_navigation.ts
  x-pack/plugins/security_solution/public/common/lib/triggers_actions_ui/register_alerts_table_configuration.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_flyout/alerts_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_page/register_alerts_table_configuration.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/bulk_actions/bulk_actions.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_get_user_cases_permissions.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_table.ts
Labels: bug, critical, Team:apm, release_note:skip, Team:ResponseOps, v8.4.0, v8.5.0

#137790 [Stack Monitoring] health api: account for ccs in indices regex
  x-pack/plugins/monitoring/server/routes/api/v1/_health/monitored_clusters/build_monitored_clusters.ts
Labels: release_note:fix, Team:Infra Monitoring UI, Feature:Stack Monitoring

#137919 [Synthetics] prevent origin from being included on legacy Synthetics integration policies
  x-pack/plugins/synthetics/common/formatters/format_synthetics_policy.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/fleet_package/hooks/use_update_policy.ts
  x-pack/test/functional_synthetics/apps/uptime/synthetics_integration.ts
Labels: bug, Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137951 [8.4] [User Experience App] Pass filters down to page view and page load charts (#137822)
  x-pack/plugins/observability/public/index.ts
  x-pack/plugins/ux/public/components/app/rum_dashboard/charts/page_load_dist_chart.tsx
  x-pack/plugins/ux/public/components/app/rum_dashboard/charts/page_views_chart.tsx
  x-pack/plugins/ux/public/services/data/get_exp_view_filter.test.ts
  x-pack/plugins/ux/public/services/data/get_exp_view_filter.ts
Labels: backport, Team:uptime

#137813 [Lens] Fixes a bug in gauges number palette
  src/plugins/chart_expressions/expression_gauge/public/components/gauge_component.tsx
  src/plugins/chart_expressions/expression_gauge/public/components/utils/helpers.test.ts
  src/plugins/chart_expressions/expression_gauge/public/components/utils/helpers.ts
  src/plugins/chart_expressions/expression_gauge/public/components/utils/index.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, v8.4.0, backport:prev-minor, v8.5.0

#137953 [8.4] [Synthetics] Fix license flaky fetch (#137828)
  src/core/server/integration_tests/saved_objects/migrations/incompatible_cluster_routing_allocation.test.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/sender.ts
Labels: backport, Team:uptime

#137524 Addressing post-merge feedback on PR #136899 for removing calls to `cat` APIs and adding functional tests
  .buildkite/ftr_configs.yml
  x-pack/plugins/security/server/security_checkup/check_cluster_data.test.ts
  x-pack/plugins/security/server/security_checkup/check_cluster_data.ts
  x-pack/test/security_functional/insecure_cluster_warning.config.ts
  x-pack/test/security_functional/tests/insecure_cluster_warning/index.ts
  x-pack/test/security_functional/tests/insecure_cluster_warning/insecure_cluster_warning.ts
Labels: Team:Security, release_note:skip

#137952 [8.4] [RAM] Fix alert table with new props cases (#137728)
  x-pack/plugins/apm/kibana.json
  x-pack/plugins/cases/public/components/case_view/case_view_page.test.tsx
  x-pack/plugins/observability/public/config/register_alerts_table_configuration.tsx
  x-pack/plugins/observability/public/pages/rule_details/index.tsx
  x-pack/plugins/security_solution/cypress/screens/kibana_navigation.ts
  x-pack/plugins/security_solution/public/common/lib/triggers_actions_ui/register_alerts_table_configuration.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_flyout/alerts_flyout.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_page/register_alerts_table_configuration.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/bulk_actions/bulk_actions.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_get_user_cases_permissions.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_table.ts
Labels: backport, Team:apm

#137676 [Uptime] Un-skip rest api test
  x-pack/plugins/synthetics/common/runtime_types/common.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/effects/fetch_effect.test.ts
  x-pack/plugins/synthetics/public/plugin.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/requests/get_index_status.ts
  x-pack/test/api_integration/apis/uptime/rest/fixtures/doc_count.json
  x-pack/test/api_integration/apis/uptime/rest/index_status.ts
Labels: Team:uptime, release_note:skip, v8.4.0, v8.5.0

#137872 [SecuritySolution] Remove `empty` state from insight accordion
  x-pack/plugins/security_solution/public/common/components/event_details/insights/insight_accordion.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/insight_accordion.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_process_ancestry.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_session.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_source_event.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_cases.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/translations.ts
Labels: bug, release_note:skip, auto-backport, Team:Threat Hunting:Investigations, v8.4.0, v8.5.0

#137788 [Security Solution] Fix issue where Endpoint list page crashes on missing Policy Id
  x-pack/plugins/security_solution/public/management/components/endpoint_policy_link.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/utils.ts
Labels: release_note:fix, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.4.0, v8.5.0

#137288 [Stack Monitoring] Add metricbeat errors to Health API response
  x-pack/plugins/monitoring/server/routes/api/v1/_health/index.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/metricbeat/build_metricbeat_errors.test.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/metricbeat/build_metricbeat_errors.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/metricbeat/fetch_metricbeat_errors.test.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/metricbeat/fetch_metricbeat_errors.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/metricbeat/index.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/metricbeat/metricbeat_errors_query.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/monitored_clusters/build_monitored_clusters.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/monitored_clusters/fetch_monitored_clusters.ts
  x-pack/plugins/monitoring/server/routes/api/v1/_health/types.ts
  x-pack/test/api_integration/apis/monitoring/_health/fixtures/response_empty.json
  x-pack/test/api_integration/apis/monitoring/_health/fixtures/response_es_beats.js
  x-pack/test/api_integration/apis/monitoring/_health/index.js
  x-pack/test/api_integration/apis/monitoring/data_stream.js
  x-pack/test/api_integration/apis/monitoring/data_stream.ts
  x-pack/test/api_integration/apis/monitoring/es_archives/_health/metricbeat_8/data.json.gz
  x-pack/test/api_integration/apis/monitoring/es_archives/_health/metricbeat_8/mappings.json
Labels: Team:Infra Monitoring UI, release_note:skip, Feature:Stack Monitoring, backport:prev-minor, v8.5.0
