Repository elastic/kibana, pull requests merged in 2022-01, with the labels that each got.

#122176 Added Component Integration Test For Force Merging an Index
  x-pack/plugins/index_management/__jest__/client_integration/helpers/test_subjects.ts
  x-pack/plugins/index_management/__jest__/client_integration/home/indices_tab.helpers.ts
  x-pack/plugins/index_management/__jest__/client_integration/home/indices_tab.test.ts
Labels: Feature:Index Management, test-jest-integration, Team:Stack Management, release_note:skip, auto-backport, v8.1.0, v7.17.0

#122196 [Stack Integration] Fix repo_root path for es_archiver
  x-pack/test/stack_functional_integration/apps/alerts/alerts_encryption_keys.js
  x-pack/test/stack_functional_integration/configs/config.stack_functional_integration_base.js
  x-pack/test/stack_functional_integration/services/es_archiver.js
Labels: v8.0.0, release_note:skip, test-stack-integration, auto-backport, v8.1.0

#122141 [fleet][tech-debt] Tweak Storybook setup
  src/dev/storybook/aliases.ts
  x-pack/plugins/fleet/.storybook/context/application.ts
  x-pack/plugins/fleet/.storybook/context/chrome.ts
  x-pack/plugins/fleet/.storybook/context/cloud.ts
  x-pack/plugins/fleet/.storybook/context/doc_links.ts
  x-pack/plugins/fleet/.storybook/context/fixtures/categories.ts
  x-pack/plugins/fleet/.storybook/context/fixtures/integration.nginx.ts
  x-pack/plugins/fleet/.storybook/context/fixtures/integration.okta.ts
  x-pack/plugins/fleet/.storybook/context/fixtures/packages.ts
  x-pack/plugins/fleet/.storybook/context/fixtures/readme.nginx.ts
  x-pack/plugins/fleet/.storybook/context/fixtures/readme.okta.ts
  x-pack/plugins/fleet/.storybook/context/fixtures/replacement_integrations.ts
  x-pack/plugins/fleet/.storybook/context/http.ts
  x-pack/plugins/fleet/.storybook/context/index.tsx
  x-pack/plugins/fleet/.storybook/context/notifications.ts
  x-pack/plugins/fleet/.storybook/context/share.ts
  x-pack/plugins/fleet/.storybook/context/stubs.tsx
  x-pack/plugins/fleet/.storybook/context/ui_settings.ts
  x-pack/plugins/fleet/.storybook/decorator.tsx
  x-pack/plugins/fleet/.storybook/main.ts
  x-pack/plugins/fleet/.storybook/manager.ts
  x-pack/plugins/fleet/.storybook/preview.tsx
  x-pack/plugins/fleet/.storybook/smoke.test.tsx
  x-pack/plugins/fleet/tsconfig.json
Labels: review, loe:hours, technical debt, release_note:skip, impact:low, Feature:Fleet, Feature:Storybook, Team:Fleet, v8.1.0, v8.2.0

#122217 [8.0] fix repo_root path (#122196)
  x-pack/test/stack_functional_integration/apps/alerts/alerts_encryption_keys.js
  x-pack/test/stack_functional_integration/configs/config.stack_functional_integration_base.js
  x-pack/test/stack_functional_integration/services/es_archiver.js
Labels: backport

#122007 Stack monitoring - update standalone cluster query for metricbeat 8.0
  x-pack/plugins/monitoring/server/lib/standalone_clusters/has_standalone_clusters.ts
  x-pack/test/functional/apps/monitoring/cluster/list.js
  x-pack/test/functional/apps/monitoring/cluster/list_mb.js
  x-pack/test/functional/apps/monitoring/index.js
  x-pack/test/functional/es_archives/monitoring/standalone_cluster_mb/data.json.gz
  x-pack/test/functional/es_archives/monitoring/standalone_cluster_mb/mappings.json
  x-pack/test/functional/services/monitoring/cluster_list.js
Labels: v8.0.0, Team:Infra Monitoring UI, release_note:skip, auto-backport, v8.1.0, backport-v8.0.0

#122188 [8.0] fix kibana metricsets property paths (#122034)
  x-pack/plugins/monitoring/common/types/es.ts
  x-pack/plugins/monitoring/server/lib/kibana/build_kibana_info.ts
  x-pack/plugins/monitoring/server/lib/kibana/get_kibana_info.ts
  x-pack/plugins/monitoring/server/lib/kibana/get_kibanas.ts
  x-pack/test/api_integration/apis/monitoring/kibana/instance_mb.js
  x-pack/test/api_integration/apis/monitoring/kibana/listing_mb.js
  x-pack/test/api_integration/apis/monitoring/kibana/overview_mb.js
  x-pack/test/functional/apps/monitoring/kibana/instance_mb.js
  x-pack/test/functional/apps/monitoring/kibana/instances_mb.js
  x-pack/test/functional/apps/monitoring/kibana/overview_mb.js
  x-pack/test/functional/es_archives/monitoring/singlecluster_yellow_platinum_mb/data.json.gz
  x-pack/test/functional/es_archives/monitoring/singlecluster_yellow_platinum_mb/mappings.json
Labels: backport

#122219 [8.0] Stack monitoring - update standalone cluster query for metricbeat 8.0 (#122007)
  x-pack/plugins/monitoring/server/lib/standalone_clusters/has_standalone_clusters.ts
  x-pack/test/functional/apps/monitoring/cluster/list.js
  x-pack/test/functional/apps/monitoring/cluster/list_mb.js
  x-pack/test/functional/apps/monitoring/index.js
  x-pack/test/functional/es_archives/monitoring/standalone_cluster_mb/data.json.gz
  x-pack/test/functional/es_archives/monitoring/standalone_cluster_mb/mappings.json
  x-pack/test/functional/services/monitoring/cluster_list.js
Labels: backport

#122099 [Security Solution] Fix and unskip Policy details tests
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.1.0, v7.17.0

#122221 [8.0] [Security Solution] Fix and unskip Policy details tests (#122099)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: backport

#122222 [7.17] [Security Solution] Fix and unskip Policy details tests (#122099)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: backport

#121931 [8.0] Fix typo in alerting_framework_health field name (#120496)
  api_docs/alerting.json
  docs/api/alerting/health.asciidoc
  docs/api/alerting/legacy/health.asciidoc
  x-pack/plugins/alerting/common/index.ts
  x-pack/plugins/alerting/server/routes/health.test.ts
  x-pack/plugins/alerting/server/routes/health.ts
  x-pack/plugins/alerting/server/routes/legacy/health.test.ts
  x-pack/plugins/alerting/server/routes/legacy/health.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/health_check.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api/health.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api/health.ts
Labels: backport

#122162 [XY] Fix Y Axis visibility for Percentile aggregation
  src/plugins/vis_types/xy/public/config/get_config.test.ts
  src/plugins/vis_types/xy/public/config/get_config.ts
  src/plugins/vis_types/xy/public/mocks.ts
  src/plugins/vis_types/xy/public/utils/accessors.tsx
Labels: release_note:fix, Feature:XYAxis, Team:VisEditors, v8.0.0, auto-backport, v8.1.0, v7.17.0

#122235 [8.0] [XY] Fix Y Axis visibility for Percentile aggregation (#122162)
  src/plugins/vis_types/xy/public/config/get_config.test.ts
  src/plugins/vis_types/xy/public/config/get_config.ts
  src/plugins/vis_types/xy/public/mocks.ts
  src/plugins/vis_types/xy/public/utils/accessors.tsx
Labels: backport

#122236 [7.17] [XY] Fix Y Axis visibility for Percentile aggregation (#122162)
  src/plugins/vis_types/xy/public/config/get_config.test.ts
  src/plugins/vis_types/xy/public/config/get_config.ts
  src/plugins/vis_types/xy/public/mocks.ts
  src/plugins/vis_types/xy/public/utils/accessors.tsx
Labels: backport

#119967 [TSVB] Fix the broken "aggregate function" in TSVB table
  src/plugins/vis_types/timeseries/common/check_ui_restrictions.ts
  src/plugins/vis_types/timeseries/common/errors.ts
  src/plugins/vis_types/timeseries/common/ui_restrictions.ts
  src/plugins/vis_types/timeseries/public/application/components/aggs/agg.tsx
  src/plugins/vis_types/timeseries/public/application/components/aggs/agg_select.tsx
  src/plugins/vis_types/timeseries/public/application/components/aggs/field_select.tsx
  src/plugins/vis_types/timeseries/public/application/components/index_pattern.js
  src/plugins/vis_types/timeseries/public/application/components/query_bar_wrapper.tsx
  src/plugins/vis_types/timeseries/public/application/components/split.js
  src/plugins/vis_types/timeseries/public/application/components/splits/group_by_select.js
  src/plugins/vis_types/timeseries/public/application/components/vis_types/table/config.js
  src/plugins/vis_types/timeseries/public/application/components/vis_types/table/series.js
  src/plugins/vis_types/timeseries/public/application/components/vis_types/table/vis.js
  src/plugins/vis_types/timeseries/server/lib/search_strategies/capabilities/default_search_capabilities.test.ts
  src/plugins/vis_types/timeseries/server/lib/search_strategies/capabilities/default_search_capabilities.ts
  src/plugins/vis_types/timeseries/server/lib/search_strategies/capabilities/rollup_search_capabilities.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/get_series_data.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/get_table_data.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/helpers/check_aggs.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/helpers/get_splits.test.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/helpers/get_splits.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/normalize_query.js
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/series/normalize_query.test.js
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/apply_filters.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/calculate_agg_root.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/index.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/normalize_query.test.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/normalize_query.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/split_by_everything.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/split_by_terms.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/request_processors/table/types.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/drop_last_bucket.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/math.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/percentile.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/percentile_rank.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/series_agg.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/std_metric.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/std_sibling.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/table/types.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/series/build_request_body.test.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/table/build_request_body.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/table/process_bucket.test.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/table/process_bucket.ts
  test/functional/apps/visualize/_tsvb_chart.ts
  test/functional/page_objects/visual_builder_page.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:TSVB, release_note:fix, Team:VisEditors, backport:skip, v8.1.0

#122239 fixes #117448: button styles in exploratory view header
  x-pack/plugins/observability/public/components/shared/exploratory_view/components/action_menu/action_menu.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/header/add_to_case_action.tsx
Labels: release_note:skip, auto-backport, v8.1.0

#122139 [chrome] Update 'Ask Kibana' URL for Cloud users.
  x-pack/plugins/cloud/common/constants.ts
  x-pack/plugins/cloud/public/plugin.test.ts
Labels: bug, Team:Core, v8.0.0, release_note:skip, auto-backport, v8.1.0, ci:deploy-cloud, v7.17.0

#122238 [Security Solution] [Endpoint] Display backbutton for artifact empty states
  x-pack/plugins/security_solution/public/management/components/administration_list_page.tsx
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.1.0, v7.17.0

#122252 [8.0] Update 'Ask Kibana' URL for Cloud users. (#122139)
  x-pack/plugins/cloud/common/constants.ts
  x-pack/plugins/cloud/public/plugin.test.ts
Labels: backport

#121353 [ML] File data visualizer reduce chunk size for slow processors
  x-pack/plugins/file_upload/common/utils.ts
  x-pack/plugins/file_upload/public/importer/importer.ts
  x-pack/plugins/file_upload/server/get_time_field_range.ts
  x-pack/plugins/file_upload/server/utils/runtime_field_utils.ts
Labels: release_note:enhancement, enhancement, :ml, Feature:File Data Viz, auto-backport, v8.1.0, ci:deploy-cloud

#122072 chore: Adds test for asTransactionRate method
  x-pack/plugins/observability/common/utils/formatters/duration.test.ts
Labels: chore, release_note:skip, auto-backport, v8.1.0, Team: Actionable Observability

#122194 [storybook] Enable Emotion in non-EUI components
  packages/kbn-storybook/src/lib/default_config.ts
Labels: review, loe:hours, release_note:skip, impact:high, Feature:Storybook, auto-backport, v8.1.0, v8.2.0

#122242 [Security Solution][Investigations] Fixes rendering issue of last element of a task list when empty
  x-pack/plugins/security_solution/public/timelines/components/notes/helpers.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/notes/helpers.tsx
Labels: bug, v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v8.1.0, Team:Threat Hunting:Investigations

#122254 [8.0] [Security Solution] Enables telemetry for endpoint rules (#120225)
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/__mocks__/rule_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/eql/create_eql_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/indicator_match/create_indicator_match_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/indicator_match/create_indicator_match_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/ml/create_ml_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/query/create_query_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/query/create_query_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/threshold/create_threshold_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/types.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: backport

#122240 Change text in assistant to switch to Elastic Agent
  x-pack/plugins/apm/public/components/app/Settings/schema/schema_overview.tsx
Labels: bug, Team:apm, v8.0.0, release_note:skip, auto-backport, v7.17.0

#121915 Add link to December contributors newsletter
  nav-kibana-dev.docnav.json
Labels: release_note:skip, v8.1.0

#122262 [8.0] Fix P12 parsing for certificates with "Basic constraints" (#122056)
  package.json
  yarn.lock
Labels: backport

#122264 [7.17] Fix P12 parsing for certificates with "Basic constraints" (#122056)
  package.json
  yarn.lock
Labels: backport

#122260 [8.0] Update reporter to use username instead of full name (#121820)
  x-pack/plugins/cases/public/components/all_cases/columns.tsx
  x-pack/plugins/cases/public/components/all_cases/index.test.tsx
Labels: backport

#122258 [8.0] [Security Solution] [Endpoint] Display backbutton for artifact empty states (#122238)
  x-pack/plugins/security_solution/public/management/components/administration_list_page.tsx
Labels: backport

#122261 [7.17] Update reporter to use username instead of full name (#121820)
  x-pack/plugins/cases/public/components/all_cases/columns.tsx
  x-pack/plugins/cases/public/components/all_cases/index.test.tsx
Labels: backport

#122259 [7.17] [Security Solution] [Endpoint] Display backbutton for artifact empty states (#122238)
  x-pack/plugins/security_solution/public/management/components/administration_list_page.tsx
Labels: backport

#122255 [8.0] [Fleet] Remove code that handles Security plugin being disabled (#121779)
  x-pack/plugins/fleet/kibana.json
  x-pack/plugins/fleet/server/mocks/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/app/index.ts
  x-pack/plugins/fleet/server/routes/security.test.ts
  x-pack/plugins/fleet/server/routes/security.ts
  x-pack/plugins/fleet/server/services/app_context.ts
Labels: backport

#122074 Adds tests for asInteger and asDecimal methods
  x-pack/plugins/observability/common/utils/formatters/formatters.test.ts
Labels: chore, release_note:skip, auto-backport, v8.1.0, Team: Actionable Observability

#122169 [Metrics UI] Stabilize group header functional test
  x-pack/test/functional/apps/infra/home_page.ts
Labels: Feature:Metrics UI, v8.0.0, Team:Infra Monitoring UI, release_note:skip, auto-backport, v8.1.0, v7.17.0, v7.16.2

#122267 [Fleet] Fix policy count in output edit modal
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/services/agent_and_policies_count.tsx
Labels: bug, v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0

#122173 [Logs UI] Remove unnecessary mountReactNode usage
  x-pack/plugins/infra/public/components/logging/log_analysis_setup/setup_flyout/module_list_card.tsx
Labels: Feature:Logs UI, Team:Infra Monitoring UI, release_note:skip, v8.1.0

#122269 [8.0] Change text in assistant to switch to Elastic Agent (#122240)
  x-pack/plugins/apm/public/components/app/Settings/schema/schema_overview.tsx
Labels: backport

#122270 [7.17] Change text in assistant to switch to Elastic Agent (#122240)
  x-pack/plugins/apm/public/components/app/Settings/schema/schema_overview.tsx
Labels: backport

#122189 [Adaptive relevance] Improve handling of errors for bulk update.
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_suggestion_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_suggestion_logic.ts
Labels: v8.0.0, release_note:skip, auto-backport, v8.1.0, v7.17.0

#122223 [Maps] gzip mvt and do not unpack mvt streamed response
  x-pack/plugins/maps/server/mvt/get_grid_tile.ts
  x-pack/plugins/maps/server/mvt/get_tile.ts
  x-pack/plugins/maps/server/mvt/mvt_routes.ts
  x-pack/plugins/maps/server/mvt/util.ts
  x-pack/test/api_integration/apis/maps/get_grid_tile.js
  x-pack/test/api_integration/apis/maps/get_tile.js
Labels: release_note:enhancement, blocked, Team:Geo, release_note:skip, v8.1.0

#122276 [maps] fix x-pack/test/functional/apps/maps/documents_source/top_hits.js test
  x-pack/test/functional/apps/maps/documents_source/top_hits.js
Labels: Team:Geo, v8.0.0, release_note:skip, auto-backport, v8.1.0, v7.17.0

#122278 [8.0] [Fleet] Fix policy count in output edit modal (#122267)
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/services/agent_and_policies_count.tsx
Labels: backport

#122279 [8.0] [Metrics UI] Stabilize group header functional test (#122169)
  x-pack/test/functional/apps/infra/home_page.ts
Labels: backport

#122198 [Lens] Hide tooltips while dragging dimensions
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/buttons/draggable_dimension_button.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.tsx
  x-pack/plugins/lens/public/types.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, v8.1.0

#122286 [8.0] [maps] fix x-pack/test/functional/apps/maps/documents_source/top_hits.js test (#122276)
  x-pack/test/functional/apps/maps/documents_source/top_hits.js
Labels: backport

#122287 [7.17] [maps] fix x-pack/test/functional/apps/maps/documents_source/top_hits.js test (#122276)
  x-pack/test/functional/apps/maps/documents_source/top_hits.js
Labels: backport

#121112 [Uptime] Prevent UI Monitor Management bottom bar from overlapping content
  x-pack/plugins/uptime/public/apps/uptime_page_template.tsx
  x-pack/plugins/uptime/public/components/monitor_management/action_bar/action_bar.tsx
  x-pack/plugins/uptime/public/components/monitor_management/action_bar/action_bar_portal.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_config/monitor_config.tsx
  x-pack/plugins/uptime/public/pages/index.ts
  x-pack/plugins/uptime/public/pages/monitor_management/action_bar_portal_node.tsx
  x-pack/plugins/uptime/public/pages/monitor_management/add_monitor.tsx
  x-pack/plugins/uptime/public/pages/monitor_management/bottom_bar.tsx
  x-pack/plugins/uptime/public/pages/monitor_management/edit_monitor.tsx
  x-pack/plugins/uptime/public/pages/monitor_management/monitor_management.tsx
  x-pack/plugins/uptime/public/routes.tsx
Labels: bug, Team:uptime, release_note:skip, v8.1.0, ci:deploy-cloud

#122266 [8.0] [Security Solution][Investigations] Fixes rendering issue of last element of a task list when empty (#122242)
  x-pack/plugins/security_solution/public/timelines/components/notes/helpers.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/notes/helpers.tsx
Labels: backport

#122284 [8.0][Security Solution] Remove usage of kibana.alert.rule.severity and risk_score on 8.0
  x-pack/plugins/security_solution/public/common/components/event_details/get_alert_summary_rows.tsx
Labels: v8.0.0, release_note:skip, Team: SecuritySolution, Team:Detection Alerts

#120975 [Security Solution] [Platform] Migrate pre-8.0 action connector ids in rule params on import to post-8.0 _id
  packages/kbn-securitysolution-io-ts-alerting-types/src/actions/index.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/import_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/import_rules.ts
  x-pack/test/functional/es_archives/security_solution/import_rule_connector/data.json
  x-pack/test/functional/es_archives/security_solution/import_rule_connector/mappings.json
Labels: review, v8.0.0, release_note:skip, Feature:Detection Rules, Team:Detections and Resp, auto-backport, Feature:Rule Management, v8.1.0, Team:Security Solution Platform

#122302 [8.0] [Security Solution] [Platform] Migrate pre-8.0 action connector ids in rule params on import to post-8.0 _id (#120975)
  packages/kbn-securitysolution-io-ts-alerting-types/src/actions/index.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/import_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/import_rules.ts
  x-pack/test/functional/es_archives/security_solution/import_rule_connector/data.json
  x-pack/test/functional/es_archives/security_solution/import_rule_connector/mappings.json
Labels: backport

#122296 [ftsr] Fix flaky test suite runner job when using buildkite UI
  .buildkite/pipelines/flaky_tests/runner.js
Labels: Team:Operations, v8.0.0, release_note:skip, Feature:CI, auto-backport, v8.1.0, v7.16.1, v7.15.3, v7.17.0

#122307 [8.0] [ftsr] Fix flaky test suite runner jon when using buildkite UI (#122296)
  .buildkite/pipelines/flaky_tests/runner.js
Labels: backport

#122308 [7.16] [ftsr] Fix flaky test suite runner jon when using buildkite UI (#122296)
  .buildkite/pipelines/flaky_tests/runner.js
Labels: backport

#122309 [7.17] [ftsr] Fix flaky test suite runner jon when using buildkite UI (#122296)
  .buildkite/pipelines/flaky_tests/runner.js
Labels: backport

#118969 Adds validations for Saved Object types when calling `create` or `bulkCreate`.
  docs/development/core/server/kibana-plugin-core-server.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectsservicesetup.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectsservicesetup.registertype.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectstype.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectstype.schemas.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectsvalidationmap.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectsvalidationspec.md
  src/core/server/index.ts
  src/core/server/saved_objects/index.ts
  src/core/server/saved_objects/saved_objects_service.ts
  src/core/server/saved_objects/service/lib/repository.test.ts
  src/core/server/saved_objects/service/lib/repository.ts
  src/core/server/saved_objects/types.ts
  src/core/server/saved_objects/validation/index.ts
  src/core/server/saved_objects/validation/integration_tests/validator.test.ts
  src/core/server/saved_objects/validation/schema.test.ts
  src/core/server/saved_objects/validation/schema.ts
  src/core/server/saved_objects/validation/types.ts
  src/core/server/saved_objects/validation/validator.test.ts
  src/core/server/saved_objects/validation/validator.ts
  src/core/server/server.api.md
Labels: Team:Core, release_note:plugin_api_changes, Feature:Saved Objects, backport:skip, v8.1.0

#122310 [7.16] Fix P12 parsing for certificates with "Basic constraints" (#122056)
  package.json
  yarn.lock
Labels: backport

#122158 [Canvas] Fixes Error overflow.
  src/plugins/expression_error/public/components/debug/debug.scss
Labels: release_note:fix, Team:Presentation, loe:hours, v8.0.0, impact:low, Feature:Canvas, auto-backport, v8.1.0, backport-v8.0.0

#122299 [7.17] Added Component Integration Test For Force Merging an Index (#122176)
  x-pack/plugins/index_management/__jest__/client_integration/helpers/test_subjects.ts
  x-pack/plugins/index_management/__jest__/client_integration/home/indices_tab.helpers.ts
  x-pack/plugins/index_management/__jest__/client_integration/home/indices_tab.test.ts
Labels: backport

#122163 [Uptime] Fix report crashing when no report dates exist
  x-pack/plugins/observability/public/components/shared/exploratory_view/components/date_range_picker.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/header/add_to_case_action.test.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/header/add_to_case_action.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/header/last_updated.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/lens_embeddable.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/rtl_helpers.tsx
Labels: release_note:fix, v8.0.0, Team:uptime, auto-backport, v8.1.0, v7.17.0

#122247 [ML] Functional tests - stabilize anomaly explorer tests
  x-pack/plugins/ml/public/application/explorer/dashboard_controls/add_to_dashboard_controls.tsx
  x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer.ts
  x-pack/test/functional/services/ml/anomaly_explorer.ts
Labels: :ml, test_ui_functional, v8.0.0, release_note:skip, auto-backport, v8.1.0

#122313 [8.0] [Canvas] Fixes Error overflow. (#122158)
  src/plugins/expression_error/public/components/debug/debug.scss
Labels: backport

#122317 [8.0] [ML] Functional tests - stabilize anomaly explorer tests (#122247)
  x-pack/plugins/ml/public/application/explorer/dashboard_controls/add_to_dashboard_controls.tsx
  x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer.ts
  x-pack/test/functional/services/ml/anomaly_explorer.ts
Labels: backport

#120881 [Exploratory view] Add basic infra metrics config
  x-pack/plugins/infra/public/metrics_overview_fetchers.test.ts
  x-pack/plugins/infra/public/metrics_overview_fetchers.ts
  x-pack/plugins/infra/public/pages/metrics/index.tsx
  x-pack/plugins/infra/server/routes/metrics_sources/index.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/constants.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/field_names/infra_metrics.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/labels.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/default_configs.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/infra_metrics/field_formats.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/infra_metrics/kpi_over_time_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/mobile/distribution_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/mobile/kpi_over_time_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/hooks/use_app_index_pattern.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/obsv_exploratory_view.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/breakdown/breakdowns.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/series_filter.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/use_filter_values.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/utils/observability_index_patterns.ts
  x-pack/plugins/observability/public/context/has_data_context.test.tsx
  x-pack/plugins/observability/public/context/has_data_context.tsx
  x-pack/plugins/observability/public/data_handler.test.ts
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
  x-pack/plugins/observability/public/typings/fetch_overview_data/index.ts
Labels: release_note:enhancement, v8.1.0

#122316 [Unified Observability] Replace deprecated imports from the data plugin
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/utils.ts
  x-pack/plugins/observability/public/components/shared/filter_value_label/filter_value_label.tsx
Labels: technical debt, release_note:skip, backport:skip, auto-backport, v8.1.0, Team:Unified observability

#122277 [Fleet] Fix bumpAllPolicy to fetch all policies
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: bug, v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0, v7.17.0

#122174 [Lens] Update Lens empty state copy
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
Labels: release_note:enhancement, Team:VisEditors, Feature:Lens, 💝community, v8.1.0

#122331 [8.0] [Fleet] Fix bumpAllPolicy to fetch all policies (#122277)
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: backport

#122332 [7.17] [Fleet] Fix bumpAllPolicy to fetch all policies (#122277)
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: backport

#122311 use `KibanaThemeProvider` for `pipelines` management app
  x-pack/plugins/logstash/kibana.json
  x-pack/plugins/logstash/public/application/index.tsx
Labels: release_note:skip, v8.1.0

#122334 [8.0] Fix elastic/fleet-server access to agent policies (#122320)
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
Labels: backport

#122166 Add Significant Text agg to AggConfigs
  src/plugins/data/common/search/aggs/agg_types.ts
  src/plugins/data/common/search/aggs/aggs_service.test.ts
  src/plugins/data/common/search/aggs/buckets/bucket_agg_type.ts
  src/plugins/data/common/search/aggs/buckets/bucket_agg_types.ts
  src/plugins/data/common/search/aggs/buckets/index.ts
  src/plugins/data/common/search/aggs/buckets/significant_text.test.ts
  src/plugins/data/common/search/aggs/buckets/significant_text.ts
  src/plugins/data/common/search/aggs/buckets/significant_text_fn.test.ts
  src/plugins/data/common/search/aggs/buckets/significant_text_fn.ts
  src/plugins/data/common/search/aggs/param_types/field.test.ts
  src/plugins/data/common/search/aggs/param_types/field.ts
  src/plugins/data/common/search/aggs/types.ts
  src/plugins/data/public/search/aggs/aggs_service.test.ts
  src/plugins/vis_types/heatmap/public/vis_type/heatmap.tsx
  src/plugins/vis_types/metric/public/metric_vis_type.ts
  src/plugins/vis_types/pie/public/sample_vis.test.mocks.ts
  src/plugins/vis_types/pie/public/vis_type/pie.ts
  src/plugins/vis_types/vislib/public/gauge.ts
  src/plugins/vis_types/vislib/public/goal.ts
  src/plugins/vis_types/xy/public/editor/components/options/point_series/point_series.mocks.ts
  src/plugins/vis_types/xy/public/sample_vis.test.mocks.ts
  src/plugins/vis_types/xy/public/vis_types/area.ts
  src/plugins/vis_types/xy/public/vis_types/histogram.ts
  src/plugins/vis_types/xy/public/vis_types/horizontal_bar.ts
  src/plugins/vis_types/xy/public/vis_types/line.ts
  test/interpreter_functional/test_suites/run_pipeline/esaggs_significanttext.ts
  test/interpreter_functional/test_suites/run_pipeline/index.ts
Labels: Feature:Aggregations, Team:AppServicesSv, release_note:skip, v8.1.0

#122341 [Fleet] Handle error correctly in fleet server host input on prem instructions
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_requirements_page/components/fleet_server_on_prem_instructions.tsx
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0, v7.17.0

#122164 [java-agent] disable java-attacher tab
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/agent_instructions_mappings.ts
Labels: Team:apm, v8.0.0, release_note:skip, auto-backport, backport-v8.0.0

#122342 Fix indentation in trace waterfall
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/Waterfall/accordion_waterfall.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/Waterfall/waterfall_item.tsx
Labels: bug, Team:apm, v8.0.0, release_note:skip, auto-backport

#122275 [Security Solution] Adjust policy details test
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.1.0, v7.17.0

#122336 [8.0] [Security Solution] Unskip test suite
  x-pack/test/security_solution_endpoint_api_int/apis/index.ts
Labels: v8.0.0, release_note:skip, Team:Onboarding and Lifecycle Mgt

#122351 [8.0] [Fleet] Handle error correctly in fleet server host input on prem instructions (#122341)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_requirements_page/components/fleet_server_on_prem_instructions.tsx
Labels: backport

#122282 [Maps] fix Missing data outline not visible for shapes
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/line_icon.tsx
  x-pack/plugins/maps/public/classes/styles/vector/components/legend/polygon_icon.tsx
Labels: Team:Geo, release_note:skip, backport:skip, v8.1.0

#122356 [8.0] [java-agent] disable java-attacher tab (#122164)
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/agent_instructions_mappings.ts
Labels: backport

#122359 [8.0] Fix indentation in trace waterfall (#122342)
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/Waterfall/accordion_waterfall.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/Waterfall/waterfall_item.tsx
Labels: backport

#122337 [7.17] Fix elastic/fleet-server access to agent policies (#122320)
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
Labels: backport

#122360 [8.0] [Security Solution] Adjust policy details test (#122275)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: backport

#122361 [7.17] [Security Solution] Adjust policy details test (#122275)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
Labels: backport

#122303 [DOCS] Updates fleet settings doc
  docs/settings/fleet-settings.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, v7.16.0, v8.1.0, v7.17.0

#121053 [ML] Add ability to save session to Index data visualizer
  src/plugins/discover/public/application/main/components/field_stats_table/field_stats_table.tsx
  src/plugins/discover/public/application/main/components/field_stats_table/field_stats_table_saved_search_embeddable.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  x-pack/plugins/data_enhanced/public/search/sessions_mgmt/lib/get_columns.tsx
  x-pack/plugins/data_visualizer/public/application/common/components/help_menu/help_menu.tsx
  x-pack/plugins/data_visualizer/public/application/common/constants.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/components/index_data_visualizer_view/index_data_visualizer_view.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/components/search_panel/shard_size_select.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/grid_embeddable/grid_embeddable.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/hooks/use_data_visualizer_grid_data.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/index_data_visualizer.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/locator/locator.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/search_strategy/requests/overall_stats.ts
  x-pack/plugins/data_visualizer/public/plugin.ts
  x-pack/plugins/ml/public/application/app.tsx
Labels: release_note:enhancement, :ml, Feature:File Data Viz, v8.1.0

#122350 [Fleet] Use uuidv5 value if preconfigured agent policy id is not provided
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0, v7.17.0, v7.16.3

#122358 [CI] Try to prevent npm/yarn problems from causing an agent to fail all future jobs
  .buildkite/scripts/common/setup_node.sh
  .buildkite/scripts/lifecycle/pre_command.sh
Labels: Team:Operations, release_note:skip, Feature:CI, auto-backport, v8.1.0, v7.15.3, v7.17.0, v7.16.3

#122374 [8.0] [DOCS] Updates fleet settings doc (#122303)
  docs/settings/fleet-settings.asciidoc
Labels: backport

#122375 [7.17] [DOCS] Updates fleet settings doc (#122303)
  docs/settings/fleet-settings.asciidoc
Labels: backport

#122376 [7.16] [DOCS] Updates fleet settings doc (#122303)
  docs/settings/fleet-settings.asciidoc
Labels: backport

#122038 [7.17] [Security Solution][Endpoint] Use internal kibana client to write to ES system indices (#121642)
  x-pack/plugins/security_solution/server/endpoint/routes/actions/audit_log.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/isolation.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/isolation.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/status.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/status.ts
  x-pack/plugins/security_solution/server/endpoint/utils/audit_log_helpers.ts
Labels: backport

#122384 Update CODEOWNERS to reference Deployment Management team instead of Stack Management
  .github/CODEOWNERS
Labels: chore, Team:Deployment Management, release_note:skip, backport:skip, v8.1.0

#122304 [8.0] [Reporting] Unskip Flaky Dashboard > Download CSV test (#121914)
  x-pack/test/functional/apps/dashboard/reporting/__snapshots__/download_csv.snap
  x-pack/test/functional/apps/dashboard/reporting/download_csv.ts
  x-pack/test/functional/fixtures/kbn_archiver/reporting/ecommerce.json
Labels: backport

#122377 [8.0] [Fleet] Use uuidv5 value if preconfigured agent policy id is not provided (#122350)
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: backport

#122381 [7.17] [CI] Try to prevent npm/yarn problems from causing an agent to fail all future jobs (#122358)
  .buildkite/scripts/common/setup_node.sh
  .buildkite/scripts/lifecycle/pre_command.sh
Labels: backport

#122378 [7.17] [Fleet] Use uuidv5 value if preconfigured agent policy id is not provided (#122350)
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: backport

#122382 [7.16] [CI] Try to prevent npm/yarn problems from causing an agent to fail all future jobs (#122358)
  .buildkite/scripts/common/setup_node.sh
  .buildkite/scripts/lifecycle/pre_command.sh
Labels: backport

#122380 [7.15] [CI] Try to prevent npm/yarn problems from causing an agent to fail all future jobs (#122358)
  .buildkite/scripts/common/setup_node.sh
  .buildkite/scripts/lifecycle/pre_command.sh
Labels: backport

#122379 [7.16] [Fleet] Use uuidv5 value if preconfigured agent policy id is not provided (#122350)
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: backport

#122119 Bump backport to 6.1.1
  .backportrc.json
  package.json
  yarn.lock
Labels: release_note:skip, backport:skip, v8.2.0

#122024 [Security Solution][Detections] Fix GET /api/detection_engine/rules?id={ruleId} endpoint
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/read_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/legacy_rule_status/legacy_migrations.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/types.ts
Labels: bug, release_note:fix, v8.0.0, impact:high, Team:Detections and Resp, Team: SecuritySolution, auto-backport, Feature:Rule Management, v8.1.0, Team:Detection Rules

#122402 Fix backport script
  scripts/backport.js
Labels: release_note:skip, backport:skip, v8.1.0

#122354 [Fleet] Show missing fleet server host callout for fleet server policy
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/index.tsx
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0, v7.17.0

#121480 [Rule Registry][Security Solution] Populate kibana.alert.rule.tags by default
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_type.test.ts
  x-pack/plugins/rule_registry/server/utils/get_common_alert_fields.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_ml.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching.ts
  x-pack/test/rule_registry/spaces_only/tests/trial/__snapshots__/create_rule.snap
Labels: v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v8.1.0, Team:Detection Alerts

#121249 [Security Solution] Rule Preview Follow-up
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/rule_schemas.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/callout_group.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/callout_group.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/helpers.test.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/helpers.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/preview_histogram.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/preview_histogram.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/preview_logs.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/translations.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/use_preview_histogram.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/use_preview_route.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_preview_rule.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/create/index.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/preview_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/preview/preview_rule_execution_log_client.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/preview_rules.ts
  x-pack/test/detection_engine_api_integration/utils.ts
Labels: bug, v8.0.0, release_note:skip, Feature:Detection Rule Preview, Team:Detection Alerts

#122406 [8.0] [Security Solution][Detections] Fix GET /api/detection_engine/rules?id={ruleId} endpoint (#122024)
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/read_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/legacy_rule_status/legacy_migrations.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/types.ts
Labels: backport

#122409 [8.0] [Rule Registry][Security Solution] Populate kibana.alert.rule.tags by default (#121480)
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_type.test.ts
  x-pack/plugins/rule_registry/server/utils/get_common_alert_fields.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_ml.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/create_threat_matching.ts
  x-pack/test/rule_registry/spaces_only/tests/trial/__snapshots__/create_rule.snap
Labels: backport

#122410 [8.0] [Security Solution] Rule Preview Follow-up (#121249)
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/rule_schemas.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/callout_group.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/callout_group.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/helpers.test.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/helpers.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/preview_histogram.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/preview_histogram.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/preview_logs.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/translations.ts
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/use_preview_histogram.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_preview/use_preview_route.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_preview_rule.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/create/index.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/preview_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/preview/preview_rule_execution_log_client.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/preview_rules.ts
  x-pack/test/detection_engine_api_integration/utils.ts
Labels: backport

#122057 [Screenshotting] Have Darwin download Chromium at startup, add ARM support for Darwin
  docs/settings/reporting-settings.asciidoc
  docs/user/production-considerations/reporting-production-considerations.asciidoc
  docs/user/reporting/reporting-troubleshooting.asciidoc
  src/dev/build/tasks/install_chromium.js
  x-pack/build_chromium/README.md
  x-pack/build_chromium/build.py
  x-pack/build_chromium/darwin/args.gn
  x-pack/plugins/screenshotting/README.md
  x-pack/plugins/screenshotting/server/browsers/chromium/index.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
  x-pack/plugins/screenshotting/server/browsers/download/index.test.ts
  x-pack/plugins/screenshotting/server/browsers/download/index.ts
  x-pack/plugins/screenshotting/server/browsers/install.ts
  x-pack/plugins/screenshotting/server/plugin.ts
  x-pack/plugins/screenshotting/server/utils.ts
  x-pack/tasks/build.ts
  x-pack/tasks/download_chromium.ts
Labels: release_note:enhancement, Team:Reporting Services, v8.1.0, Team:AppServicesUx

#122154 [Canvas] Fixes Workpad element is breaking after changing the expression from expression editor and resizing.
  x-pack/plugins/canvas/public/components/render_with_fn/render_with_fn.tsx
Labels: release_note:fix, Team:Presentation, loe:hours, v8.0.0, impact:low, Feature:Canvas, auto-backport, v8.1.0, backport-v8.0.0, v7.17.0

#121763 [PieVis] Charts expressions pie adaptation.
  src/dev/storybook/aliases.ts
  src/plugins/chart_expressions/expression_pie/.storybook/main.js
  src/plugins/chart_expressions/expression_pie/common/expression_functions/__snapshots__/pie_vis_function.test.ts.snap
  src/plugins/chart_expressions/expression_pie/common/expression_functions/pie_labels_function.ts
  src/plugins/chart_expressions/expression_pie/common/expression_functions/pie_vis_function.test.ts
  src/plugins/chart_expressions/expression_pie/common/expression_functions/pie_vis_function.ts
  src/plugins/chart_expressions/expression_pie/common/types/expression_functions.ts
  src/plugins/chart_expressions/expression_pie/common/types/expression_renderers.ts
  src/plugins/chart_expressions/expression_pie/kibana.json
  src/plugins/chart_expressions/expression_pie/public/__mocks__/format_service.ts
  src/plugins/chart_expressions/expression_pie/public/__mocks__/index.ts
  src/plugins/chart_expressions/expression_pie/public/__mocks__/palettes.ts
  src/plugins/chart_expressions/expression_pie/public/__mocks__/start_deps.ts
  src/plugins/chart_expressions/expression_pie/public/__mocks__/theme.ts
  src/plugins/chart_expressions/expression_pie/public/__stories__/pie_renderer.stories.tsx
  src/plugins/chart_expressions/expression_pie/public/components/pie_vis_component.scss
  src/plugins/chart_expressions/expression_pie/public/components/pie_vis_component.styles.ts
  src/plugins/chart_expressions/expression_pie/public/components/pie_vis_component.test.tsx
  src/plugins/chart_expressions/expression_pie/public/components/pie_vis_component.tsx
  src/plugins/chart_expressions/expression_pie/public/expression_renderers/pie_vis_renderer.tsx
  src/plugins/chart_expressions/expression_pie/public/plugin.ts
  src/plugins/chart_expressions/expression_pie/public/types.ts
  src/plugins/chart_expressions/expression_pie/public/utils/accessor.ts
  src/plugins/chart_expressions/expression_pie/public/utils/get_columns.ts
  src/plugins/chart_expressions/expression_pie/public/utils/get_config.test.ts
  src/plugins/chart_expressions/expression_pie/public/utils/get_layers.ts
  src/plugins/chart_expressions/expression_pie/public/utils/get_legend_actions.tsx
  src/plugins/chart_expressions/expression_pie/public/utils/get_split_dimension_accessor.ts
  src/plugins/chart_expressions/expression_pie/public/utils/index.ts
  src/plugins/chart_expressions/expression_pie/tsconfig.json
  src/plugins/vis_types/pie/public/__snapshots__/to_ast.test.ts.snap
  src/plugins/vis_types/pie/public/to_ast.ts
  src/plugins/vis_types/pie/public/types/types.ts
Labels: Feature:ExpressionLanguage, loe:days, Team:VisEditors, Feature:Vis Editor, release_note:skip, impact:low, backport:skip, v8.1.0

#122416 [8.0] [Canvas] Fixes Workpad element is breaking after changing the expression from expression editor and resizing.(#122154) (#122154)
  x-pack/plugins/canvas/public/components/render_with_fn/render_with_fn.tsx
Labels: backport

#122417 [7.17] [Canvas] Fixes Workpad element is breaking after changing the expression from expression editor and resizing.(#122154) (#122154)
  x-pack/plugins/canvas/public/components/render_with_fn/render_with_fn.tsx
Labels: backport

#122327 [Uptime][Monitor Management] Make synthetics service monitors config sync task interval configurable
  x-pack/plugins/uptime/common/config.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/synthetics_service.ts
Labels: Team:uptime, release_note:skip, backport:skip, v8.1.0

#118001 Add requireAllSpaces and disable options to FeatureKibanaPrivileges
  x-pack/plugins/features/common/feature_kibana_privileges.ts
  x-pack/plugins/features/server/feature_schema.ts
  x-pack/plugins/security/public/management/roles/__fixtures__/kibana_features.ts
  x-pack/plugins/security/public/management/roles/edit_role/privileges/kibana/feature_table/feature_table.test.tsx
  x-pack/plugins/security/public/management/roles/edit_role/privileges/kibana/feature_table/feature_table.tsx
  x-pack/plugins/security/public/management/roles/edit_role/privileges/kibana/privilege_form_calculator/privilege_form_calculator.ts
  x-pack/plugins/security/public/management/roles/edit_role/privileges/kibana/privilege_summary/privilege_summary_table.tsx
  x-pack/plugins/security/public/management/roles/edit_role/privileges/kibana/space_aware_privilege_section/privilege_space_form.test.tsx
  x-pack/plugins/security/public/management/roles/edit_role/privileges/kibana/space_aware_privilege_section/privilege_space_form.tsx
  x-pack/plugins/security/public/management/roles/model/kibana_privileges.ts
  x-pack/plugins/security/public/management/roles/model/primary_feature_privilege.ts
  x-pack/plugins/security/server/authorization/roles/elasticsearch_role.test.ts
  x-pack/plugins/security/server/authorization/roles/elasticsearch_role.ts
  x-pack/plugins/security/server/deprecations/privilege_deprecations.test.ts
  x-pack/plugins/security/server/deprecations/privilege_deprecations.ts
  x-pack/plugins/security/server/plugin.ts
  x-pack/plugins/security/server/routes/authorization/roles/get.test.ts
  x-pack/plugins/security/server/routes/authorization/roles/get.ts
  x-pack/plugins/security/server/routes/authorization/roles/get_all.test.ts
  x-pack/plugins/security/server/routes/authorization/roles/get_all.ts
  x-pack/plugins/security/server/routes/authorization/roles/model/index.ts
  x-pack/plugins/security/server/routes/authorization/roles/model/put_payload.test.ts
  x-pack/plugins/security/server/routes/authorization/roles/model/put_payload.ts
  x-pack/plugins/security/server/routes/authorization/roles/put.test.ts
  x-pack/plugins/security/server/routes/authorization/roles/put.ts
Labels: Team:Security, release_note:skip, Team:Fleet, auto-backport, v8.1.0

#112916 [data views] data_views REST API
  src/plugins/data_views/server/constants.ts
  src/plugins/data_views/server/index.ts
  src/plugins/data_views/server/routes.ts
  src/plugins/data_views/server/routes/create_index_pattern.ts
  src/plugins/data_views/server/routes/default_index_pattern.ts
  src/plugins/data_views/server/routes/delete_index_pattern.ts
  src/plugins/data_views/server/routes/fields/update_fields.ts
  src/plugins/data_views/server/routes/get_index_pattern.ts
  src/plugins/data_views/server/routes/has_user_index_pattern.ts
  src/plugins/data_views/server/routes/runtime_fields/create_runtime_field.ts
  src/plugins/data_views/server/routes/runtime_fields/delete_runtime_field.ts
  src/plugins/data_views/server/routes/runtime_fields/get_runtime_field.ts
  src/plugins/data_views/server/routes/runtime_fields/put_runtime_field.ts
  src/plugins/data_views/server/routes/runtime_fields/update_runtime_field.ts
  src/plugins/data_views/server/routes/update_index_pattern.ts
  test/api_integration/apis/index_patterns/constants.ts
  test/api_integration/apis/index_patterns/default_index_pattern/default_index_pattern.ts
  test/api_integration/apis/index_patterns/fields_api/update_fields/errors.ts
  test/api_integration/apis/index_patterns/fields_api/update_fields/main.ts
  test/api_integration/apis/index_patterns/has_user_index_pattern/has_user_index_pattern.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/create_index_pattern/main.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/create_index_pattern/validation.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/delete_index_pattern/errors.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/delete_index_pattern/main.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/get_index_pattern/errors.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/get_index_pattern/main.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/update_index_pattern/errors.ts
  test/api_integration/apis/index_patterns/index_pattern_crud/update_index_pattern/main.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/create_runtime_field/errors.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/create_runtime_field/main.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/delete_runtime_field/errors.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/delete_runtime_field/main.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/get_runtime_field/errors.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/get_runtime_field/main.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/put_runtime_field/errors.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/put_runtime_field/main.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/update_runtime_field/errors.ts
  test/api_integration/apis/index_patterns/runtime_fields_crud/update_runtime_field/main.ts
Labels: Feature:Data Views, Team:AppServicesSv, release_note:skip, v8.1.0

#121656 [Telemetry] Use server's `lastReported` on the browser
  src/plugins/home/public/application/components/__snapshots__/home.test.tsx.snap
  src/plugins/telemetry/common/is_report_interval_expired.test.ts
  src/plugins/telemetry/common/is_report_interval_expired.ts
  src/plugins/telemetry/public/services/telemetry_sender.test.ts
  src/plugins/telemetry/public/services/telemetry_sender.ts
  src/plugins/telemetry/public/services/telemetry_service.ts
  src/plugins/telemetry/server/fetcher.ts
  src/plugins/telemetry/server/plugin.ts
  src/plugins/telemetry/server/routes/index.ts
  src/plugins/telemetry/server/routes/telemetry_last_reported.ts
  src/plugins/telemetry_management_section/public/components/__snapshots__/telemetry_management_section.test.tsx.snap
  test/api_integration/apis/telemetry/index.js
  test/api_integration/apis/telemetry/telemetry_last_reported.ts
Labels: Team:Core, enhancement, Feature:Telemetry, v8.0.0, release_note:skip, auto-backport, v8.1.0

#122422 [7.17] [Security Solution][Investigations] Don't show the empty label in charts for number values (#121274)
  x-pack/plugins/security_solution/public/common/components/charts/barchart.tsx
  x-pack/plugins/security_solution/public/common/components/charts/draggable_legend_item.test.tsx
  x-pack/plugins/security_solution/public/common/components/charts/draggable_legend_item.tsx
  x-pack/plugins/security_solution/public/common/components/draggables/index.tsx
  x-pack/plugins/security_solution/public/common/utils/validators/index.test.ts
  x-pack/plugins/security_solution/public/common/utils/validators/index.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/alerts_histogram.tsx
Labels: backport

#122428 [7.17] Update naming in duplicate integration policy error message (#119622)
  x-pack/plugins/fleet/server/services/package_policy.ts
Labels: backport

#122241 [Security Solution] [Endpoint] Allow user see exception full details filtering event filters list by item_id
  x-pack/plugins/security_solution/public/management/pages/event_filters/constants.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/list/policy_event_filters_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/list/policy_event_filters_list.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.1.0

#120472 [Security Solution][Detections] Adds Bulk edit API
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/common/schemas.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/perform_bulk_action_schema.mock.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/perform_bulk_action_schema.test.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/perform_bulk_action_schema.ts
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/rules_table/rules_table_reducer.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/types.ts
  x-pack/plugins/security_solution/server/endpoint/routes/limited_concurrency.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/patch_rules_bulk_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/patch_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/perform_bulk_action_route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/perform_bulk_action_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/update_rules_bulk_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/update_rules_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/utils/import_rules_utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/bulk_action_edit.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/bulk_action_edit.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/patch_rules.mock.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/patch_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/update_prepacked_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/update_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rules/utils.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/routes/limited_concurrency.ts
  x-pack/plugins/security_solution/server/utils/promise_pool.test.ts
  x-pack/plugins/security_solution/server/utils/promise_pool.ts
  x-pack/plugins/security_solution/server/utils/route_limited_concurrency_tag.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/perform_bulk_action.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, v8.1.0, Team:Detection Rules

#122415 fixing broken links
  docs/developer/best-practices/index.asciidoc
Labels: Team:AppServicesSv, release_note:skip, v8.1.0

#122294 [Metrics UI] Honor time unit for Inventory Threshold
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/evaluate_condition.ts
  x-pack/test/api_integration/apis/metrics_ui/constants.ts
  x-pack/test/api_integration/apis/metrics_ui/index.js
  x-pack/test/api_integration/apis/metrics_ui/inventory_threshold_alert.ts
  x-pack/test/functional/es_archives/infra/8.0.0/hosts_only/data.json.gz
  x-pack/test/functional/es_archives/infra/8.0.0/hosts_only/mappings.json
Labels: release_note:fix, Feature:Metrics UI, Team:Infra Monitoring UI, v8.1.0

#122407 [Uptime][Monitor Management] Hide Zip Url (for Tech Preview)/ Allow only Minutes as Monitor interval
  x-pack/plugins/uptime/public/components/fleet_package/browser/source_field.test.tsx
  x-pack/plugins/uptime/public/components/fleet_package/browser/source_field.tsx
  x-pack/plugins/uptime/public/components/fleet_package/contexts/policy_config_context.tsx
  x-pack/plugins/uptime/public/components/fleet_package/schedule_field.test.tsx
  x-pack/plugins/uptime/public/components/fleet_package/schedule_field.tsx
  x-pack/plugins/uptime/public/components/monitor_management/edit_monitor_config.tsx
  x-pack/plugins/uptime/public/pages/monitor_management/add_monitor.tsx
Labels: Team:uptime, release_note:skip, backport:skip, v8.1.0

#122444 [8.0] [Metrics UI] Honor time unit for Inventory Threshold (#122294)
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/evaluate_condition.ts
  x-pack/test/api_integration/apis/metrics_ui/constants.ts
  x-pack/test/api_integration/apis/metrics_ui/index.js
  x-pack/test/api_integration/apis/metrics_ui/inventory_threshold_alert.ts
  x-pack/test/functional/es_archives/infra/8.0.0/hosts_only/data.json.gz
  x-pack/test/functional/es_archives/infra/8.0.0/hosts_only/mappings.json
Labels: backport

#122315 [Security Solution] [Endpoint] Allows user remove event filter from policy using a modal
  x-pack/plugins/security_solution/public/management/pages/event_filters/service/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/delete_modal/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/delete_modal/policy_event_filters_delete_modal.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/delete_modal/policy_event_filters_delete_modal.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/flyout/policy_event_filters_flyout.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/hooks.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/layout/policy_event_filters_layout.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/event_filters/list/policy_event_filters_list.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_event_filters_card.test.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.1.0

#121720 [Security Solution][Exceptions] Fixes exceptions modal prepopulate bug
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
Labels: bug, v8.0.0, release_note:skip, Feature:Rule Exceptions, auto-backport, Team:Detection Alerts

#121879 [Security Solution][Endpoint] Artifacts event filter card on integration policy edit view
  x-pack/plugins/security_solution/public/management/common/routing.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/exception_items_summary.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_integration_event_filters_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_package_custom_extension/components/fleet_integration_event_filters_card.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_edit_extension.tsx
Labels: Team:Onboarding and Lifecycle Mgt, release_note:feature, auto-backport, v8.1.0

#122373 [shared-ux] Create Shared UX Plugin
  .github/CODEOWNERS
  .i18nrc.json
  docs/developer/plugin-list.asciidoc
  packages/kbn-optimizer/limits.yml
  src/dev/storybook/aliases.ts
  src/plugins/shared_ux/.i18nrc.json
  src/plugins/shared_ux/.storybook/main.ts
  src/plugins/shared_ux/.storybook/manager.ts
  src/plugins/shared_ux/README.md
  src/plugins/shared_ux/common/index.ts
  src/plugins/shared_ux/docs/about.mdx
  src/plugins/shared_ux/kibana.json
  src/plugins/shared_ux/nav_shared_ux.docnav.json
  src/plugins/shared_ux/public/index.ts
  src/plugins/shared_ux/public/plugin.ts
  src/plugins/shared_ux/public/types.ts
  src/plugins/shared_ux/server/index.ts
  src/plugins/shared_ux/server/plugin.ts
  src/plugins/shared_ux/server/types.ts
  src/plugins/shared_ux/tsconfig.json
Labels: review, loe:hours, release_note:skip, impact:high, v8.1.0, v8.2.0, Team:SharedUX

#122466 [8.0] [Security Solution][Exceptions] Fixes exceptions modal prepopulate bug (#121720)
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/exceptions/helpers.tsx
Labels: backport

#122451 [8.0] [Reporting] Fix TypeError in CSV export (#121697)
  x-pack/plugins/reporting/server/export_types/csv_searchsource/generate_csv/generate_csv.ts
  x-pack/test/functional/apps/discover/__snapshots__/reporting.snap
  x-pack/test/functional/apps/discover/reporting.ts
  x-pack/test/functional/fixtures/kbn_archiver/reporting/logs.json
Labels: backport

#122463 [Security Solution] Create Field READ access of data view management bug fix
  x-pack/plugins/security_solution/public/timelines/components/create_field_button/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/create_field_button/index.tsx
Labels: v8.0.0, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, v8.1.0, Team:Threat Hunting:Explore

#122449 [7.16] [Reporting] Fix TypeError in CSV export (#121697)
  x-pack/plugins/reporting/server/export_types/csv_searchsource/generate_csv/generate_csv.ts
Labels: backport

#122479 Update Github Action for backport
  .backportrc.json
  .github/workflows/backport.yml
  package.json
  yarn.lock
Labels: release_note:skip, backport:skip, v8.1.0

#122265 [Security Solution][Investigations] Fix favorite filter behaviour in timeline search
  x-pack/plugins/security_solution/cypress/integration/timelines/overview.tsx
  x-pack/plugins/security_solution/cypress/objects/timeline.ts
  x-pack/plugins/security_solution/cypress/screens/timelines.ts
  x-pack/plugins/security_solution/public/timelines/pages/timelines_page.tsx
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.ts
Labels: bug, v8.0.0, release_note:skip, Team: SecuritySolution, auto-backport, v8.1.0, Team:Threat Hunting:Investigations, v7.17.0

#122487 [7.17] [Security Solution][Investigations] Fix favorite filter behaviour in timeline search (#122265)
  x-pack/plugins/security_solution/cypress/integration/timelines/overview.tsx
  x-pack/plugins/security_solution/cypress/objects/timeline.ts
  x-pack/plugins/security_solution/cypress/screens/timelines.ts
  x-pack/plugins/security_solution/public/timelines/pages/timelines_page.tsx
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.ts
Labels: backport

#122051 [Osquery] Add `KibanaThemeProvider` to the app
  x-pack/plugins/osquery/public/application.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_action/index.tsx
  x-pack/plugins/osquery/public/shared_imports.ts
Labels: v8.0.0, release_note:skip, Team:Asset Management, Feature:Osquery, auto-backport, v8.1.0

#122486 [8.0] [Security Solution][Investigations] Fix favorite filter behaviour in timeline search (#122265)
  x-pack/plugins/security_solution/cypress/integration/timelines/overview.tsx
  x-pack/plugins/security_solution/cypress/objects/timeline.ts
  x-pack/plugins/security_solution/cypress/screens/timelines.ts
  x-pack/plugins/security_solution/public/timelines/pages/timelines_page.tsx
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/saved_object/timelines/index.ts
Labels: backport

#122493 [8.0] Update node-forge to v1.1.0 (#122475)
  package.json
  yarn.lock
Labels: backport

#122494 [7.17] Update node-forge to v1.1.0 (#122475)
  package.json
  yarn.lock
Labels: backport

#122333 [Lens] Wait for vis before asserting
  x-pack/test/functional/page_objects/lens_page.ts
Labels: Team:VisEditors, v8.0.0, release_note:skip, auto-backport, v8.1.0, v7.17.0

#121682 [Uptime][Monitor Management UI] Add Enabled column in monitor management monitors list table.
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/actions.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_enabled.test.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_enabled.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_list.tsx
  x-pack/plugins/uptime/public/pages/monitor_management/monitor_management.tsx
  x-pack/plugins/uptime/public/state/api/monitor_management.ts
Labels: Team:uptime, release_note:skip, backport:skip, v8.1.0, ci:deploy-cloud

#122324 [Discover] Unskip flaky histogram time range test
  test/functional/apps/discover/_discover.ts
Labels: Feature:Discover, v8.0.0, release_note:skip, v8.1.0, Team:DataDiscovery, v7.17.0

#122107 [Security Solution] Remove feature flag trustedAppsByPolicyEnabled
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_edit_extension.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/trusted_apps/list/policy_trusted_apps_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/create_trusted_app_flyout.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/create_trusted_app_form.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.test.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_page.tsx
  x-pack/plugins/security_solution/server/config.ts
  x-pack/test/security_solution_endpoint/config.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.1.0

#122421 Export all Security, Spaces and EncryptedSavedObjects types referenced in the public API contracts.
  x-pack/plugins/encrypted_saved_objects/server/crypto/index.ts
  x-pack/plugins/encrypted_saved_objects/server/index.ts
  x-pack/plugins/security/common/index.ts
  x-pack/plugins/security/common/model/index.ts
  x-pack/plugins/security/public/index.ts
  x-pack/plugins/security/server/index.ts
  x-pack/plugins/spaces/public/copy_saved_objects_to_space/index.ts
  x-pack/plugins/spaces/public/index.ts
Labels: chore, Team:Security, v8.0.0, release_note:skip, auto-backport, v8.1.0, v7.17.0

#122512 [8.0] [Lens] Wait for vis before asserting (#122333)
  x-pack/test/functional/page_objects/lens_page.ts
Labels: backport

#122509 [7.16] added fleet setup before installing integration (#121379)
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/install_button.tsx
Labels: backport

#122513 [7.17] [Lens] Wait for vis before asserting (#122333)
  x-pack/test/functional/page_objects/lens_page.ts
Labels: backport
