Repository elastic/kibana, pull requests merged in 2022-07, with the labels that each got.

#135608 [8.3] Fixing the flakiness in openInspectorView method in inspector service (#135488)
  test/functional/services/inspector.ts
  test/functional/services/visualizations/vega_debug_inspector.ts
  x-pack/test/accessibility/apps/maps.ts
  x-pack/test/functional/page_objects/gis_page.ts
  x-pack/test/search_sessions_integration/tests/apps/dashboard/async_search/save_search_session_relative_time.ts
Labels: backport

#134541 Remove/replace uses of "sanity" in comments and test code
  packages/kbn-flot-charts/lib/jquery_flot_errorbars.js
  src/core/public/chrome/ui/header/collapsible_nav.test.tsx
  src/core/server/saved_objects/migrations/core/document_migrator.ts
  src/plugins/visualizations/public/persisted_state/persisted_state.ts
  test/api_integration/apis/index_patterns/es_errors/lib/get_es_errors.js
  x-pack/plugins/canvas/public/components/home/hooks/use_upload_workpad.ts
  x-pack/plugins/lists/server/services/exception_lists/exception_list_client.test.ts
  x-pack/plugins/lists/server/services/lists/list_client.test.ts
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container.test.js
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/manifest_entry.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/task.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_client.test.ts
  x-pack/test/api_integration/apis/uptime/rest/delete_monitor.ts
  x-pack/test/api_integration/apis/uptime/rest/get_monitor.ts
  x-pack/test/lists_api_integration/security_and_spaces/tests/delete_lists.ts
Labels: Team:Infra Monitoring UI, release_note:skip, backport:skip, v8.4.0

#135456 [Security Solution][Endpoint][Responder Console] Console UX updates
  x-pack/plugins/security_solution/public/management/components/console/components/command_input/command_input.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/console_footer.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/console_manager/components/console_page_overlay.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/history_item.tsx
  x-pack/plugins/security_solution/public/management/components/console/console.tsx
Labels: release_note:skip, backport:skip, Team:Onboarding and Lifecycle Mgt, v8.4.0

#135563 [8.3] [CI] Install global npm modules with a retry and failsafe (#135437)
  .buildkite/scripts/common/setup_node.sh
  .buildkite/scripts/common/util.sh
  .buildkite/scripts/lifecycle/pre_command.sh
Labels: backport

#131752 [Stack Monitoring] Removes beta icon from logstash pipeline
  x-pack/plugins/monitoring/public/components/cluster/overview/logstash_panel.js
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:fix, Team:Infra Monitoring UI, Feature:Stack Monitoring, v8.3.0

#135449 [ML] Limit Use full data button to past data only
  x-pack/plugins/ml/public/application/components/full_time_range_selector/full_time_range_selector.tsx
  x-pack/plugins/ml/public/application/components/full_time_range_selector/full_time_range_selector_service.ts
  x-pack/plugins/ml/public/application/jobs/new_job/common/job_creator/job_creator.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/time_range_step/time_range.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/recognize/page.tsx
  x-pack/plugins/ml/public/application/services/ml_api_service/index.ts
  x-pack/plugins/ml/server/models/data_recognizer/data_recognizer.ts
  x-pack/plugins/ml/server/models/fields_service/fields_service.ts
  x-pack/plugins/ml/server/models/job_validation/job_validation.ts
  x-pack/plugins/ml/server/routes/schemas/fields_service_schema.ts
  x-pack/test/api_integration/apis/ml/fields_service/time_field_range.ts
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, v8.4.0

#135426 [Security Solution] fixes display of long title and description in timeline template controller
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/selectable_timeline/index.tsx
Labels: bug, release_note:fix, impact:low, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rules, ci:deploy-cloud, v8.4.0

#135560 [8.3] Fix value list for IM rule (#135014)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_enrichment.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_event_signal.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_threat_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_threat_list.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_threat_list.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/types.ts
Labels: backport

#135603 [Fleet] Hide add agent tour based on uiSetting
  x-pack/plugins/fleet/public/components/add_agent_help_popover.tsx
Labels: release_note:skip, Team:Fleet, v8.4.0

#135520 [Fleet] added API to bulk update tags
  x-pack/plugins/fleet/common/constants/routes.ts
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/entrypoint.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_update_tags.yaml
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/routes/agent/index.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/agents/update_agent_tags.ts
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
  x-pack/test/fleet_api_integration/apis/agents/index.js
  x-pack/test/fleet_api_integration/apis/agents/update_agent_tags.ts
  x-pack/test/functional/es_archives/fleet/agents/data.json
Labels: Team:Fleet, release_note:feature, v8.4.0

#134674 [Discover] Add data view changed warning after alert rule created
  src/plugins/data_view_management/public/components/edit_index_pattern/source_filters_table/components/add_filter/__snapshots__/add_filter.test.tsx.snap
  src/plugins/data_view_management/public/components/edit_index_pattern/source_filters_table/components/add_filter/add_filter.tsx
  src/plugins/discover/public/application/view_alert/view_alert_route.tsx
  src/plugins/discover/public/application/view_alert/view_alert_utils.tsx
  x-pack/test/functional_with_es_ssl/apps/discover/search_source_alert.ts
  x-pack/test/functional_with_es_ssl/config.ts
Labels: release_note:enhancement, Feature:Discover, Team:DataDiscovery, ci:deploy-cloud, v8.4.0

#135548 [Fleet] added secondary sort if default sort agents
  x-pack/plugins/fleet/server/services/agents/crud.test.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/test/fleet_api_integration/apis/agents/list.ts
  x-pack/test/functional/es_archives/fleet/agents/data.json
Labels: release_note:skip, Team:Fleet, auto-backport, v8.4.0, v8.3.2

#135446 [Discover] Fix loading of a single doc JSON
  src/plugins/discover/public/hooks/use_es_doc_search.test.tsx
  src/plugins/discover/public/hooks/use_es_doc_search.ts
  src/plugins/discover/public/hooks/use_navigation_props.test.tsx
  src/plugins/discover/public/hooks/use_navigation_props.tsx
  x-pack/test/functional/apps/discover/feature_controls/discover_security.ts
Labels: Feature:Discover, release_note:fix, Team:DataDiscovery, backport:prev-minor

#134850 [Log UI] Replace sourceId with mandatory logView prop in LogStream component
  x-pack/plugins/apm/public/components/app/service_logs/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/transaction_tabs.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/automated_curation_history.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations_history/components/automated_curations_history_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curations_history/components/rejected_curations_history_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engines/components/audit_logs_modal/audit_logs_modal.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/log_stream/log_stream.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/log_stream/log_stream.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_logs/agent_logs.tsx
  x-pack/plugins/infra/public/components/log_stream/lazy_log_stream_wrapper.tsx
  x-pack/plugins/infra/public/components/log_stream/log_stream.tsx
  x-pack/plugins/infra/public/components/log_stream/log_stream_embeddable.tsx
  x-pack/plugins/infra/public/pages/logs/stream/page_view_log_in_context.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/logs.tsx
Labels: release_note:enhancement, Team:apm, Feature:Logs UI, Team:Infra Monitoring UI, backport:skip, Team:Fleet, v8.4.0

#135644 [8.3] [Discover] Fix loading of a single doc JSON (#135446)
  src/plugins/discover/public/utils/use_es_doc_search.test.tsx
  src/plugins/discover/public/utils/use_es_doc_search.ts
  src/plugins/discover/public/utils/use_navigation_props.test.tsx
  src/plugins/discover/public/utils/use_navigation_props.tsx
  x-pack/test/functional/apps/discover/feature_controls/discover_security.ts
Labels: backport

#135485 [Fleet] Add install_format_version to package and reinstall on setup
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/dev_docs/epm.md
  x-pack/plugins/fleet/server/constants/fleet_es_assets.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/integration_tests/upgrade_package_install_version.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.ts
  x-pack/plugins/fleet/server/services/epm/packages/index.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/reinstall.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/reinstall.ts
  x-pack/plugins/fleet/server/services/setup.test.ts
  x-pack/plugins/fleet/server/services/setup.ts
  x-pack/plugins/fleet/server/services/setup/index.ts
  x-pack/plugins/fleet/server/services/setup/upgrade_package_install_version.ts
  x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/update_assets.ts
Labels: release_note:skip, Team:Fleet, v8.4.0

#134791 [Dashboard] Fix Embeddable Container Race Condition
  src/plugins/controls/public/control_group/embeddable/control_group_chaining_system.ts
  src/plugins/controls/public/control_group/embeddable/control_group_container.tsx
  src/plugins/embeddable/public/lib/containers/container.ts
  src/plugins/embeddable/public/lib/panel/embeddable_panel.tsx
  src/plugins/embeddable/public/tests/container.test.ts
Labels: Feature:Dashboard, Feature:Embedding, release_note:fix, Team:Presentation, loe:days, impact:high, v8.4.0, v8.3.1

#135652 [8.3] [Dashboard] Fix Embeddable Container Race Condition (#134791)
  src/plugins/controls/public/control_group/embeddable/control_group_chaining_system.ts
  src/plugins/controls/public/control_group/embeddable/control_group_container.tsx
  src/plugins/embeddable/public/lib/containers/container.ts
  src/plugins/embeddable/public/lib/panel/embeddable_panel.tsx
  src/plugins/embeddable/public/tests/container.test.ts
Labels: backport, Feature:Embedding

#135377 [Controls] [Accessibility] Fix controls aria-label a11y issues
  src/plugins/controls/public/control_group/component/control_group_sortable_item.tsx
  src/plugins/controls/public/control_group/control_group_strings.ts
  src/plugins/controls/public/control_group/editor/create_control.tsx
  src/plugins/controls/public/control_group/editor/edit_control.tsx
Labels: Feature:Dashboard, release_note:fix, Project:Accessibility, Feature:Input Control, Team:Presentation, loe:hours, impact:medium, auto-backport, Project:Controls, v8.3.0, v8.3.1

#134535 [8.4] [Kubernetes Security] Update k8s page percent charts title and tooltips
  x-pack/plugins/kubernetes_security/public/components/kubernetes_security_routes/index.tsx
Labels: release_note:skip, backport:skip, Team: AWP: Visualization, v8.4.0

#135659 [8.3] [Controls] [Accessibility] Fix controls aria-label a11y issues (#135377)
  src/plugins/controls/public/control_group/component/control_group_sortable_item.tsx
  src/plugins/controls/public/control_group/control_group_strings.ts
  src/plugins/controls/public/control_group/editor/create_control.tsx
  src/plugins/controls/public/control_group/editor/edit_control.tsx
Labels: backport

#135626 [Canvas] Fixes `Run expression` keybinding.
  src/plugins/presentation_util/public/components/expression_input/expression_input.tsx
  src/plugins/presentation_util/public/components/types.ts
  x-pack/plugins/canvas/public/components/expression/expression.tsx
Labels: Team:Presentation, loe:hours, release_note:skip, impact:high, backport:skip, NeededFor:Canvas, Feature:Canvas, v8.4.0

#135514 Cross cluster replication a11y tests
  x-pack/test/accessibility/apps/cross_cluster_replication.ts
  x-pack/test/accessibility/config.ts
  x-pack/test/functional/page_objects/cross_cluster_replication_page.ts
  x-pack/test/functional/page_objects/remote_clusters_page.ts
Labels: Team:QA, Project:Accessibility, Feature:CCR and Remote Clusters, test_ui_functional, test_xpack_functional, Team:Deployment Management, release_note:skip, Feature:Functional Testing, auto-backport, v8.4.0, v8.3.1

#135666 [8.3] Cross cluster replication a11y tests (#135514)
  x-pack/test/accessibility/apps/cross_cluster_replication.ts
  x-pack/test/accessibility/config.ts
  x-pack/test/functional/page_objects/cross_cluster_replication_page.ts
  x-pack/test/functional/page_objects/remote_clusters_page.ts
Labels: backport

#135595 [Shared UX][packages] Kill Storybook bloat; remove stories from BAZEL build
  packages/kbn-generate/templates/package/BUILD.bazel.ejs
  packages/shared-ux/avatar/solution/BUILD.bazel
  packages/shared-ux/button/exit_full_screen/BUILD.bazel
  packages/shared-ux/button_toolbar/BUILD.bazel
  packages/shared-ux/card/no_data/BUILD.bazel
  packages/shared-ux/card/no_data/src/mocks.ts
  packages/shared-ux/card/no_data/src/no_data_card.stories.tsx
  packages/shared-ux/link/redirect_app/BUILD.bazel
  packages/shared-ux/link/redirect_app/src/mocks.ts
  packages/shared-ux/link/redirect_app/src/redirect_app_links.stories.tsx
  packages/shared-ux/page/kibana_no_data/BUILD.bazel
  packages/shared-ux/prompt/no_data_views/BUILD.bazel
  packages/shared-ux/prompt/no_data_views/src/mocks.ts
  packages/shared-ux/prompt/no_data_views/src/no_data_views.stories.tsx
Labels: review, loe:hours, release_note:skip, impact:high, backport:skip, Team:Shared UX, v8.4.0

#135648 [8.3] added secondary sort if default sort agents
  x-pack/plugins/fleet/server/services/agents/crud.test.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/test/fleet_api_integration/apis/agents/list.ts
  x-pack/test/functional/es_archives/fleet/agents/data.json
Labels: backport, Team:Fleet, v8.3.2

#135393 Update logs source config test for APJ timezones
  x-pack/test/functional/apps/infra/logs_source_configuration.ts
Labels: Team:Infra Monitoring UI, release_note:skip, backport:skip, v8.4.0

#135628 [Visualize] Remove saved search references from all places on unlink
  src/plugins/visualizations/public/visualize_app/utils/use/use_linked_search_updates.test.ts
  src/plugins/visualizations/public/visualize_app/utils/use/use_linked_search_updates.ts
Labels: release_note:fix, Team:VisEditors, backport:skip, v8.4.0

#135544 Fix waterfall skew due to accordion left margins
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/accordion_waterfall.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/waterfall_item.tsx
Labels: release_note:fix, Team:apm, apm, v8.4.0

#135658 [ML] Disable/Subdue AIOps sidenav item when not enough permissions.
  x-pack/plugins/ml/public/application/components/ml_page/side_nav.tsx
Labels: :ml, release_note:skip, v8.4.0

#135646 [Fleet] bulk update agent tags ui
  x-pack/plugins/fleet/common/services/routes.ts
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/search_and_filter_bar.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/tags_add_remove.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/tags_add_remove.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/hooks/use_update_tags.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/hooks/use_update_tags.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/utils/get_common_tags.test.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/utils/get_common_tags.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/utils/index.ts
  x-pack/plugins/fleet/public/hooks/use_request/agents.ts
Labels: Team:Fleet, release_note:feature, v8.4.0

#135654 [Lens] Fix non-editable Lens panel when using prefix wildcard
  x-pack/plugins/lens/public/app_plugin/lens_top_nav.tsx
  x-pack/plugins/lens/public/app_plugin/show_underlying_data.test.ts
  x-pack/plugins/lens/public/app_plugin/show_underlying_data.ts
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/embeddable/embeddable_factory.ts
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/lens/public/trigger_actions/open_in_discover_helpers.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.4.0

#135581 [Lens] Heatmap: Fix multi-field top values
  src/plugins/chart_expressions/expression_heatmap/public/components/heatmap_component.test.tsx
  src/plugins/chart_expressions/expression_heatmap/public/components/heatmap_component.tsx
  src/plugins/chart_expressions/expression_heatmap/public/components/helpers.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.4.0

#135655 [Alerting][Discover] Hide Alerts menu item when user does not have access to Stack Rules
  src/plugins/discover/public/application/main/components/top_nav/get_top_nav_links.tsx
Labels: Feature:Discover, release_note:fix, Feature:Alerting, Team:DataDiscovery, backport:prev-minor

#135569 [Security Solutions][Endpoint] `Running-processes` rename and refactor to `processes`
  x-pack/plugins/security_solution/common/endpoint/constants.ts
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_action_generator.ts
  x-pack/plugins/security_solution/common/endpoint/types/actions.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/endpoint_response_actions_console_commands.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/get_processes_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/get_processes_action.tsx
  x-pack/plugins/security_solution/public/management/hooks/endpoint/use_get_action_details.ts
  x-pack/plugins/security_solution/public/management/hooks/endpoint/use_send_get_endpoint_processes_request.ts
  x-pack/plugins/security_solution/public/management/mocks/response_actions_http_mocks.ts
  x-pack/plugins/security_solution/scripts/endpoint/action_responder/utils.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/response_actions.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/response_actions.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/utils.test.ts
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_authz.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.4.0

#135690 [8.3] [Alerting][Discover] Hide Alerts menu item when no access to Stack Management (#135655)
  src/plugins/discover/public/application/main/components/top_nav/get_top_nav_links.tsx
Labels: backport

#135661 Remove remaining core generated API files
  src/core/public/public.api.md
  src/core/server/server.api.md
Labels: Team:Core, release_note:skip, backport:skip, v8.4.0

#135007 [Graph] Remove Venn diagram dependency
  .eslintrc.js
  package.json
  x-pack/plugins/graph/public/components/venn_diagram/venn_diagram.tsx
  x-pack/plugins/graph/public/components/venn_diagram/vennjs/LICENSE
  x-pack/plugins/graph/public/components/venn_diagram/vennjs/index.ts
  yarn.lock
Labels: Feature:Graph, release_note:skip, auto-backport, Team:DataDiscovery, v8.4.0, v7.17.6, v8.3.2

#135700 [ML] Add a link to ML trained models list from ID in Stack Management app table
  x-pack/plugins/ml/public/application/management/jobs_list/components/jobs_list_page/space_management/columns.tsx
  x-pack/plugins/ml/public/application/trained_models/models_management/index.ts
  x-pack/plugins/ml/public/application/trained_models/models_management/model_link.tsx
  x-pack/plugins/ml/public/locator/formatters/trained_models.ts
  x-pack/plugins/ml/public/locator/ml_locator.test.ts
Labels: :ml, release_note:skip, backport:skip, Feature:3rd Party Models, Team:ML, v8.4.0

#135328 [Cloud Posture] refactoring - renaming package configuration types
  x-pack/plugins/cloud_security_posture/common/schemas/benchmark.ts
  x-pack/plugins/cloud_security_posture/common/schemas/csp_rule.ts
  x-pack/plugins/cloud_security_posture/common/schemas/csp_rule_metadata.ts
  x-pack/plugins/cloud_security_posture/common/schemas/csp_rule_template.ts
  x-pack/plugins/cloud_security_posture/common/schemas/csp_rules_configuration.ts
  x-pack/plugins/cloud_security_posture/common/schemas/index.ts
  x-pack/plugins/cloud_security_posture/public/pages/benchmarks/use_csp_benchmark_integrations.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/types.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/use_csp_rules.ts
  x-pack/plugins/cloud_security_posture/server/fleet_integration/fleet_integration.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/benchmarks.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/benchmarks.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.ts
  x-pack/plugins/cloud_security_posture/server/saved_objects/migrations/csp_rule.ts
  x-pack/plugins/cloud_security_posture/server/saved_objects/migrations/csp_rule_template.ts
  x-pack/plugins/cloud_security_posture/server/saved_objects/saved_objects.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.4.0

#135639 Move `csp` and `external_url` under `http`
  .github/CODEOWNERS
  src/core/server/external_url/config.ts
  src/core/server/http/csp/config.test.ts
  src/core/server/http/csp/config.ts
  src/core/server/http/csp/csp_config.test.mocks.ts
  src/core/server/http/csp/csp_config.test.ts
  src/core/server/http/csp/csp_config.ts
  src/core/server/http/csp/csp_directives.test.ts
  src/core/server/http/csp/csp_directives.ts
  src/core/server/http/csp/index.ts
  src/core/server/http/external_url/config.test.ts
  src/core/server/http/external_url/config.ts
  src/core/server/http/external_url/external_url_config.ts
  src/core/server/http/external_url/index.ts
  src/core/server/http/http_config.test.ts
  src/core/server/http/http_config.ts
  src/core/server/http/http_service.mock.ts
  src/core/server/http/http_service.test.ts
  src/core/server/http/http_service.ts
  src/core/server/http/index.ts
  src/core/server/http/types.ts
  src/core/server/index.ts
  src/core/server/rendering/types.ts
  src/core/server/server.ts
  src/core/server/types.ts
Labels: Team:Core, release_note:skip, backport:skip, v8.4.0

#135663 Restoring snoozeEndTime to AlertAttributesExcludedFromAAD
  x-pack/plugins/alerting/server/saved_objects/index.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/migrations/8_2_0.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/migrations/index.ts
  x-pack/test/functional/es_archives/alerting/8_2_0/data.json
  x-pack/test/functional/es_archives/alerting/8_2_0/mappings.json
Labels: release_note:skip, Team:ResponseOps, auto-backport, v8.4.0, v8.3.2

#135317 Removing Flex styled elements
  x-pack/plugins/security/public/components/form_label.tsx
Labels: Team:Security, release_note:skip, ci:deploy-cloud, v8.4.0

#135556 [Actionable Observability] - Rule Details Page - Make RuleStatusPanel component sharable from triggersActionsUi plugin
  x-pack/plugins/triggers_actions_ui/public/application/sections/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_status_panel.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_status_panel.tsx
  x-pack/plugins/triggers_actions_ui/public/common/get_rule_status_panel.tsx
  x-pack/plugins/triggers_actions_ui/public/mocks.ts
  x-pack/plugins/triggers_actions_ui/public/plugin.ts
Labels: release_note:skip, Team: Actionable Observability, v8.4.0

#135542 Avoid data loss when cloud proxy returns 404
  src/core/server/saved_objects/migrations/actions/fetch_indices.test.ts
  src/core/server/saved_objects/migrations/actions/fetch_indices.ts
  src/core/server/saved_objects/migrations/kibana_migrator.test.ts
  src/core/server/saved_objects/migrations/model/helpers.test.ts
  src/core/server/saved_objects/migrations/model/helpers.ts
  src/core/server/saved_objects/migrations/model/model.test.ts
  src/core/server/saved_objects/migrations/model/model.ts
Labels: Team:Core, release_note:skip, Feature:Migrations, v8.4.0

#135713 [ci] fix ftr script when called with parallelism
  .buildkite/pipelines/flaky_tests/pipeline.ts
  .buildkite/scripts/steps/test/ftr_configs.sh
Labels: Team:Operations, release_note:skip, backport:prev-major

#135706 [Security Solution] Update tooltip text on responder
  x-pack/plugins/security_solution/public/detections/components/endpoint_responder/responder_context_menu_item.tsx
Labels: release_note:skip, backport:skip, Team: SecuritySolution, v8.4.0

#135607 [Fleet] Turn on monitoring for Cloud user first policy
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/hooks/use_get_agent_policy_or_default.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_details/agent_details_overview.tsx
Labels: release_note:fix, Team:Fleet, auto-backport, v8.4.0, v8.3.2

#135269 Bump mocha to 10.0.0
  package.json
  yarn.lock
Labels: Team:Operations, release_note:skip, backport:auto-version

#135439 Remove underscore from dependencies
  package.json
  yarn.lock
Labels: Team:Operations, release_note:skip, backport:auto-version

#135260 Kill Process action UI
  x-pack/plugins/security_solution/common/endpoint/types/actions.ts
  x-pack/plugins/security_solution/public/common/lib/process_actions/index.ts
  x-pack/plugins/security_solution/public/management/components/console/components/bad_argument.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/command_input/command_input.test.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/command_input/hooks/use_input_hints.ts
  x-pack/plugins/security_solution/public/management/components/console/components/command_usage.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/console_code_block.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_execute_command.test.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_execute_command.tsx
  x-pack/plugins/security_solution/public/management/components/console/mocks.tsx
  x-pack/plugins/security_solution/public/management/components/console/service/builtin_commands.tsx
  x-pack/plugins/security_solution/public/management/components/console/service/parse_command_input.test.ts
  x-pack/plugins/security_solution/public/management/components/console/service/parsed_command_input.ts
  x-pack/plugins/security_solution/public/management/components/console/types.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/endpoint_response_actions_console_commands.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/kill_process_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/kill_process_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_list.tsx
  x-pack/plugins/security_solution/public/management/hooks/endpoint/use_send_kill_process_endpoint_request.ts
  x-pack/plugins/security_solution/public/management/mocks/response_actions_http_mocks.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, backport:skip, Team:Onboarding and Lifecycle Mgt, v8.4.0

#135679 savedObjectTagging: use `importExport` instead of `esArchiver` for FTR tests
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/_bulk_delete.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/_find.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/_get_assignable_types.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/bulk_assign.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/create.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/delete.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/get.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/get_all.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/test_utils.ts
  x-pack/test/saved_object_tagging/api_integration/security_and_spaces/apis/update.ts
  x-pack/test/saved_object_tagging/api_integration/tagging_api/apis/bulk_assign.ts
  x-pack/test/saved_object_tagging/api_integration/tagging_api/apis/create.ts
  x-pack/test/saved_object_tagging/api_integration/tagging_api/apis/delete.ts
  x-pack/test/saved_object_tagging/api_integration/tagging_api/apis/update.ts
  x-pack/test/saved_object_tagging/api_integration/tagging_api/apis/usage_collection.ts
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/bulk_assign/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/bulk_assign/mappings.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/dashboard/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/dashboard/mappings.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/delete_with_references/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/delete_with_references/mappings.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/functional_base/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/functional_base/mappings.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/maps/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/rbac_tags/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/rbac_tags/default_space.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/rbac_tags/mappings.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/rbac_tags/space_1.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/so_management/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/so_management/mappings.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/usage_collection/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/usage_collection/mappings.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/visualize/data.json
  x-pack/test/saved_object_tagging/common/fixtures/es_archiver/visualize/mappings.json
  x-pack/test/saved_object_tagging/functional/tests/bulk_actions.ts
  x-pack/test/saved_object_tagging/functional/tests/bulk_assign.ts
  x-pack/test/saved_object_tagging/functional/tests/create.ts
  x-pack/test/saved_object_tagging/functional/tests/dashboard_integration.ts
  x-pack/test/saved_object_tagging/functional/tests/edit.ts
  x-pack/test/saved_object_tagging/functional/tests/feature_control.ts
  x-pack/test/saved_object_tagging/functional/tests/listing.ts
  x-pack/test/saved_object_tagging/functional/tests/maps_integration.ts
  x-pack/test/saved_object_tagging/functional/tests/som_integration.ts
  x-pack/test/saved_object_tagging/functional/tests/visualize_integration.ts
Labels: Team:Core, release_note:skip, v8.4.0

#135649 [Archive Migration] Drop oss search/count
  test/api_integration/fixtures/es_archiver/search/count/data.json.gz
  test/api_integration/fixtures/es_archiver/search/count/mappings.json
Labels: Team:QA, test_ui_functional, release_note:skip, backport:skip, v8.4.0

#135650 [ML] Fixes padding between Anomaly Explorer controls and table
  x-pack/plugins/ml/public/application/explorer/explorer.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_charts/_explorer_charts_container.scss
  x-pack/plugins/ml/public/application/explorer/explorer_charts/_index.scss
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_anomalies_container.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container.test.js
Labels: review, :ml, Feature:Anomaly Detection, release_note:skip, v8.4.0

#135728 [APM] Add config field to kibana docs
  docs/settings/apm-settings.asciidoc
Labels: Team:apm, release_note:skip, backport:skip, v8.4.0, apm:cloud-support

#135442 Bazel config maintenance
  .bazelignore
  WORKSPACE.bazel
  package.json
Labels: Team:Operations, release_note:skip, backport:auto-version

#135724 [8.3] Turn on monitoring for cloud user first policy (#135607)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/hooks/use_get_agent_policy_or_default.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_details/agent_details_overview.tsx
Labels: backport, Team:Fleet

#135551 [DOCS] Adds #128185 to 8.3.0 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, v8.3.0

#135187 [Synthetics] Added step duration breakdown on summary page
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_summary/tabs_content/step_duration_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_summary/tabs_content/summary_tab_content.tsx
Labels: Team:uptime, release_note:skip, v8.4.0

#135714 [8.3] Restoring snoozeEndTime to AlertAttributesExcludedFromAAD (#135663)
  x-pack/plugins/alerting/server/saved_objects/index.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/migrations/8_2_0.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/migrations/index.ts
  x-pack/test/functional/es_archives/alerting/8_2_0/data.json
  x-pack/test/functional/es_archives/alerting/8_2_0/mappings.json
Labels: backport, ci:deploy-cloud

#135611 [Security Solution][Endpoint][Response Actions] Show relative dates on date picker
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/action_list_date_range_picker.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/hooks.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_list.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_list.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/translations.tsx
Labels: release_note:skip, backport:skip, Team:Onboarding and Lifecycle Mgt, OLM Sprint, v8.4.0

#135733 [8.3] [docker] Retry fonts download (#134933)
  src/dev/build/tasks/os_packages/docker_generator/templates/base/Dockerfile
Labels: backport

#135502 [Session View] Searchbar fixes
  x-pack/plugins/session_view/common/types/process_tree/index.ts
  x-pack/plugins/session_view/public/components/process_tree/helpers.ts
  x-pack/plugins/session_view/public/components/process_tree/hooks.ts
  x-pack/plugins/session_view/public/components/process_tree/index.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/index.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/index.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/split_text.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/split_text.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_node/text_highlight.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/text_highlight.tsx
Labels: bug, release_note:fix, auto-backport, v8.3.2

#135732 [7.17] [docker] Retry fonts download (#134933)
  src/dev/build/tasks/os_packages/docker_generator/templates/base/Dockerfile
Labels: backport

#135730 [APM] Rename xpack.apm.maxServiceSelections to xpack.apm.maxServiceSelection
  x-pack/plugins/apm/server/index.ts
Labels: bug, Team:apm, release_note:skip, backport:skip, v8.4.0

#135741 [8.3] [Session View] Searchbar fixes (#135502)
  x-pack/plugins/session_view/common/types/process_tree/index.ts
  x-pack/plugins/session_view/public/components/process_tree/helpers.ts
  x-pack/plugins/session_view/public/components/process_tree/hooks.ts
  x-pack/plugins/session_view/public/components/process_tree/index.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/index.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/index.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/split_text.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/split_text.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_node/text_highlight.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/text_highlight.tsx
Labels: backport

#134015 Custom inline/row actions for alerts table
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: Team:ResponseOps, release_note:feature, ci:deploy-cloud, v8.4.0

#135738 [Canvas] Fix check for "by-ref" embeddable during migration
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/embeddable.ts
  x-pack/test/functional/apps/canvas/exports/8.1.embeddable_test.ndjson
  x-pack/test/functional/apps/canvas/migrations_smoke_test.ts
Labels: review, Team:Presentation, loe:hours, release_note:skip, impact:high, Feature:Canvas, auto-backport, v8.4.0, v8.3.2

#135252 Bump license-checker to 25.0.1
  package.json
  packages/kbn-pm/dist/index.js
  src/dev/license_checker/config.ts
  yarn.lock
Labels: Team:Operations, release_note:skip, backport:auto-version

#135143 Bump prettier to 2.7.1
  .eslintrc.js
  package.json
  packages/kbn-eslint-config/typescript.js
  yarn.lock
Labels: Team:Operations, release_note:skip, backport:all-open

#135734 [Fleet] Fix syncing issue in Agent flyout
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_wait_for_fleet_server.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/steps/confirm_fleet_server_connection.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.tsx
  x-pack/plugins/fleet/public/hooks/use_fleet_status.tsx
Labels: release_note:fix, Team:Fleet, auto-backport, v8.4.0, v8.3.2

#135745 [8.3] [Canvas] Fix check for "by-ref" embeddable during migration (#135738)
  x-pack/plugins/canvas/canvas_plugin_src/functions/external/embeddable.ts
  x-pack/test/functional/apps/canvas/exports/8.1.embeddable_test.ndjson
  x-pack/test/functional/apps/canvas/migrations_smoke_test.ts
Labels: backport

#135751 [8.3] Bump prettier to 2.7.1 (#135143)
  .eslintrc.js
  package.json
  packages/kbn-eslint-config/typescript.js
  yarn.lock
Labels: backport

#135747 [Fleet] Add separate buttons for add agent/add fleet server to prevent "stuck" states
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/search_and_filter_bar.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/public/hooks/use_agent_enrollment_flyout_data.ts
Labels: release_note:skip, Team:Fleet, auto-backport, v8.4.0

#135753 [8.3] [Fleet] Fix syncing issue in Agent flyout (#135734)
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_wait_for_fleet_server.ts
  x-pack/plugins/fleet/public/applications/fleet/components/fleet_server_instructions/steps/confirm_fleet_server_connection.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.tsx
  x-pack/plugins/fleet/public/hooks/use_fleet_status.tsx
Labels: backport, Team:Fleet

#134388 [Response Ops] Conditionally run background tasks based on `node.roles` configuration
  x-pack/plugins/task_manager/server/lib/calculate_health_status.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.test.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.ts
  x-pack/plugins/task_manager/server/monitoring/index.ts
  x-pack/plugins/task_manager/server/monitoring/monitoring_stats_stream.ts
  x-pack/plugins/task_manager/server/plugin.test.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
  x-pack/plugins/task_manager/server/routes/health.ts
  x-pack/plugins/task_manager/server/task_scheduling.test.ts
  x-pack/plugins/task_manager/server/task_scheduling.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.4.0

#135737 Upgrade Search UI and fix all type errors
  package.json
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/documents/organic_documents.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/results/curation_result.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/results/utils.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_result_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/views/curation_suggestion/curation_suggestion.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/build_search_ui_config.test.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/build_search_ui_config.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/hooks.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/hooks.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/pagination.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/pagination.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/search_experience.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/search_experience.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/search_experience_content.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/search_experience_content.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/views/multi_checkbox_facets_view.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/views/multi_checkbox_facets_view.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/views/paging_view.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/views/result_view.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/documents/search_experience/views/results_per_page_view.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/relevance_tuning/relevance_tuning_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result/result.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/result/types.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/search/search_logic.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/utils/results/index.test.ts
  yarn.lock
Labels: release_note:skip, auto-backport, v8.4.0

#135582 [Security Solution] fix endpoint tests
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_endpoint_hosts.ts
  x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list.ts
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_list.ts
  x-pack/test/security_solution_endpoint/services/endpoint.ts
Labels: release_note:skip, backport:skip, Team:Onboarding and Lifecycle Mgt, v8.4.0

#134471 [Unified Observability] update network fields
  x-pack/plugins/infra/common/inventory_models/host/metrics/snapshot/rx.ts
  x-pack/plugins/infra/common/inventory_models/host/metrics/snapshot/tx.ts
  x-pack/plugins/infra/common/inventory_models/host/metrics/tsvb/host_network_traffic.ts
  x-pack/plugins/infra/common/inventory_models/host/metrics/tsvb/host_system_overview.ts
  x-pack/plugins/infra/common/inventory_models/types.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_formatter_for_metrics.test.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_tsvb_link.test.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/metric_to_format.test.ts
  x-pack/plugins/infra/server/lib/metrics/lib/__snapshots__/create_metrics_aggregations.test.ts.snap
  x-pack/plugins/infra/server/lib/metrics/lib/create_metrics_aggregations.test.ts
  x-pack/plugins/infra/server/lib/metrics/types.ts
  x-pack/plugins/infra/server/routes/metrics_explorer/lib/convert_metric_to_metrics_api_metric.test.ts
  x-pack/plugins/infra/server/routes/overview/lib/convert_es_response_to_top_nodes_response.ts
  x-pack/plugins/infra/server/routes/overview/lib/create_top_nodes_query.ts
  x-pack/test/api_integration/apis/metrics_ui/constants.ts
  x-pack/test/api_integration/apis/metrics_ui/inventory_threshold_alert.ts
  x-pack/test/functional/es_archives/infra/8.0.0/hosts_only/data.json.gz
  x-pack/test/functional/es_archives/infra/8.0.0/hosts_only/mappings.json
Labels: release_note:fix, Team:Infra Monitoring UI, Team:Unified observability, v8.4.0

#135694 [Security Solution][Detections] fixes timeline template selection when templates have same name
  x-pack/plugins/security_solution/public/detections/components/rules/pick_timeline/index.tsx
Labels: bug, release_note:fix, impact:low, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rules, ci:deploy-cloud, v8.4.0

#135181 [Security Solution] Adds related integrations test coverage
  x-pack/plugins/security_solution/cypress/fixtures/related_integrations.ndjson
  x-pack/plugins/security_solution/cypress/integration/detection_rules/related_integrations.spec.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_details.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_detection_rules.ts
  x-pack/plugins/security_solution/cypress/screens/integrations.ts
  x-pack/plugins/security_solution/cypress/screens/rule_details.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts_details.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts_detection_rules.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/kibana_advanced_settings.ts
  x-pack/plugins/security_solution/cypress/tasks/api_calls/rules.ts
  x-pack/plugins/security_solution/cypress/tasks/common.ts
  x-pack/plugins/security_solution/cypress/tasks/integrations.ts
  x-pack/plugins/security_solution/public/detections/components/rules/related_integrations/integrations_description/integration_status_badge.tsx
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, auto-backport, Team:Detection Rules, v8.4.0, v8.3.2

#135710 [Security Solutions] Fix Inspect modal header should be in single linear of Host and User risk
  x-pack/plugins/security_solution/public/hosts/components/host_risk_score_table/index.tsx
  x-pack/plugins/security_solution/public/users/components/user_risk_score_table/index.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, Team:Threat Hunting:Explore, v8.3.2

#135689 [Usage Collection] Use PIT for collecting UI/Usage Counters & AppUsage
  src/plugins/kibana_usage_collection/server/collectors/application_usage/fetch_all_saved_objects.ts
  src/plugins/kibana_usage_collection/server/collectors/application_usage/rollups/total.ts
  src/plugins/kibana_usage_collection/server/collectors/application_usage/telemetry_application_usage_collector.ts
  src/plugins/kibana_usage_collection/server/collectors/ui_counters/register_ui_counters_collector.ts
  src/plugins/kibana_usage_collection/server/collectors/ui_metric/telemetry_ui_metric_collector.ts
  src/plugins/kibana_usage_collection/server/collectors/usage_counters/register_usage_counters_collector.ts
Labels: Team:Core, Feature:Telemetry, release_note:skip, backport:skip, v8.4.0

#135776 [8.3] Fix Inspect modal header should be in single linear of Host and User risk (#135710)
  x-pack/plugins/security_solution/public/hosts/components/host_risk_score_table/index.tsx
  x-pack/plugins/security_solution/public/users/components/user_risk_score_table/index.tsx
Labels: backport

#134627 [Console] Render most severe response status code from Console response pane
  src/plugins/console/public/application/containers/main/main.tsx
  src/plugins/console/public/lib/utils/index.ts
  src/plugins/console/public/lib/utils/utils.test.js
Labels: release_note:enhancement, Feature:Console, Feature:Dev Tools, Team:Deployment Management, v8.4.0

#135635 [Cloud Posture] Add navigation links to security solution grouped nav…
  .github/CODEOWNERS
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/cases/links.ts
  x-pack/plugins/security_solution/public/cloud_security_posture/index.ts
  x-pack/plugins/security_solution/public/cloud_security_posture/links.ts
  x-pack/plugins/security_solution/public/cloud_security_posture/routes.tsx
  x-pack/plugins/security_solution/public/common/components/navigation/solution_grouped_nav/solution_grouped_nav_panel.test.tsx
  x-pack/plugins/security_solution/public/common/components/navigation/solution_grouped_nav/solution_grouped_nav_panel.tsx
  x-pack/plugins/security_solution/public/common/images/cloud_security_posture_dashboard_page.png
  x-pack/plugins/security_solution/public/common/links/app_links.ts
  x-pack/plugins/security_solution/public/landing_pages/links.ts
  x-pack/plugins/security_solution/public/lazy_sub_plugins.tsx
  x-pack/plugins/security_solution/public/management/links.ts
  x-pack/plugins/security_solution/public/plugin.tsx
  x-pack/plugins/security_solution/public/timelines/links.ts
  x-pack/plugins/security_solution/public/types.ts
Labels: release_note:skip, Team:Cloud Security Posture, v8.4.0

#135543 Navigate to profile without full page reload
  x-pack/plugins/security/public/nav_control/nav_control_component.test.tsx
  x-pack/plugins/security/public/nav_control/nav_control_component.tsx
  x-pack/plugins/security/public/nav_control/nav_control_service.test.ts
  x-pack/plugins/security/public/nav_control/nav_control_service.tsx
Labels: release_note:enhancement, Team:Security, backport:skip, Feature:Security/User Profile, v8.4.0

#135787 [8.3] Shortens helper text for fields in advanced settings for transforms (#135711)
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_form.tsx
Labels: backport

#134811 [Lens] Rank top values by custom metric
  packages/kbn-coloring/src/shared_components/coloring/palette_configuration.tsx
  packages/kbn-coloring/src/shared_components/coloring/palette_picker.tsx
  src/plugins/data/common/search/aggs/agg_config.ts
  x-pack/plugins/lens/public/datatable_visualization/components/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/bucket_nesting_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/droppable/get_drop_props.ts
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/time_scaling.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/time_shift.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/__mocks__/index.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/calculations/moving_average.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/cardinality.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/count.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/filters/filters.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/filters/filters.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/formula_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/helpers.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/index.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/last_value.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/last_value.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/metrics.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/percentile.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/percentile.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/percentile_ranks.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/percentile_ranks.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/advanced_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/ranges.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/ranges.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/shared_components/form_row.scss
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/shared_components/form_row.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/shared_components/index.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/static_value.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/static_value.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/index.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/terms.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/types.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/values_input.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/layer_helpers.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/operations.ts
  x-pack/plugins/lens/public/indexpattern_datasource/to_expression.ts
  x-pack/plugins/lens/public/shared_components/collapse_setting.tsx
  x-pack/plugins/lens/public/shared_components/palette_picker.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/xy_visualization/reference_line_helpers.tsx
  x-pack/test/functional/apps/lens/group2/index.ts
  x-pack/test/functional/apps/lens/group2/multi_terms.ts
  x-pack/test/functional/apps/lens/group2/terms.ts
Labels: release_note:enhancement, Team:VisEditors, Feature:Lens, v8.4.0

#135799 Shortens helper text for fields in advanced settings for edit transforms
  x-pack/plugins/transform/public/app/sections/transform_management/components/edit_transform_flyout/edit_transform_flyout_form.tsx
Labels: Team:Docs, :ml, release_note:skip, docs, auto-backport, ui-copy, v8.4.0, v8.2.4, v8.3.2

#135792 [Lens] Fix normalizeTable performance bottleneck
  src/plugins/chart_expressions/expression_xy/common/helpers/table.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.4.0

#135819 [8.3] Shortens helper text for fields in advanced settings for edit transforms. (#135799)
  x-pack/plugins/transform/public/app/sections/transform_management/components/edit_transform_flyout/edit_transform_flyout_form.tsx
Labels: backport

#135822 [Synthetics] fix delete action
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_list_table/actions.tsx
Labels: bug, Team:uptime, release_note:skip, backport:skip, v8.4.0

#135830 [Fleet] Hide add agent/fleet server buttons when actions is shown
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/search_and_filter_bar.tsx
Labels: release_note:skip, Team:Fleet, v8.4.0

#135817 [Fleet] Fix data stream API when event.ingested is null
  x-pack/plugins/fleet/server/routes/data_streams/get_data_streams_query_metadata.ts
Labels: release_note:skip, Team:Fleet, ci:deploy-cloud, v8.4.0

#135671 Add openAPI specifications for get tags API
  docs/api/cases/cases-api-get-tags.asciidoc
  x-pack/plugins/cases/docs/openapi/bundled.json
  x-pack/plugins/cases/docs/openapi/bundled.yaml
  x-pack/plugins/cases/docs/openapi/components/examples/get_tags_response.yaml
  x-pack/plugins/cases/docs/openapi/entrypoint.yaml
  x-pack/plugins/cases/docs/openapi/paths/api@cases@tags.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@tags.yaml
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Cases, auto-backport, v8.4.0, v8.3.2

#135749 [Synthetics] Add some keywords to synthetics plugin setup
  x-pack/plugins/synthetics/public/plugin.ts
Labels: Team:uptime, release_note:skip, v8.4.0

#135500 [Security Solution][Endpoint] Add an additional hint message for Console commands pending more than 15s
  x-pack/plugins/security_solution/public/management/components/console/components/command_execution_output.test.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/command_execution_output.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/command_execution_result.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_execute_command.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/console_state/types.ts
  x-pack/plugins/security_solution/public/management/components/console/components/console_text.tsx
  x-pack/plugins/security_solution/public/management/components/console/components/long_running_command_hint.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.4.0

#135835 [8.3] Add openAPI specifications for get tags API (#135671)
  docs/api/cases/cases-api-get-tags.asciidoc
  x-pack/plugins/cases/docs/openapi/bundled.json
  x-pack/plugins/cases/docs/openapi/bundled.yaml
  x-pack/plugins/cases/docs/openapi/components/examples/get_tags_response.yaml
  x-pack/plugins/cases/docs/openapi/entrypoint.yaml
  x-pack/plugins/cases/docs/openapi/paths/api@cases@tags.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@tags.yaml
Labels: backport

#135596 [Discover] Fix flaky accessibility functional tests
  test/functional/apps/discover/_discover_accessibility.ts
  test/functional/apps/discover/_doc_accessibility.ts
Labels: Feature:Discover, release_note:fix, Team:DataDiscovery, v8.4.0

#135839 [8.3] Add separate buttons for add agent/add fleet server (#135747)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/search_and_filter_bar.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/public/hooks/use_agent_enrollment_flyout_data.ts
Labels: backport, Team:Fleet

#134461 [APM UI] Add dynamic version selection for Java agent integration
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/index.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/java_agent_version_input.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/runtime_attachment.stories.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/runtime_attachment.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_agents/runtime_attachment/validate_java_version.test.ts
  x-pack/plugins/apm/server/routes/fleet/get_java_agent_versions.test.ts
  x-pack/plugins/apm/server/routes/fleet/get_java_agent_versions.ts
  x-pack/plugins/apm/server/routes/fleet/route.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:apm, release_note:skip, backport:skip, v8.4.0

#135546 Removing the RAC code-owner from the rule_registry plugin
  .github/CODEOWNERS
Labels: v8.0.0, release_note:skip

#135842 [8.3] [Security Solution] Fix FieldBrowser dataView selector
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/create_field_button/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/create_field_button/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/fields_browser/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/field_browser.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/toolbar/fields_browser/field_browser.tsx
Labels: bug, release_note:fix, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.3.2

#135849 [8.3] Hide add agent/fleet server buttons when actions is shown (#135830)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/search_and_filter_bar.tsx
Labels: backport, Team:Fleet

#135848 Osquery doc fixes
  docs/osquery/osquery-faq.asciidoc
  docs/osquery/osquery.asciidoc
Labels: Team:Docs, release_note:skip, auto-backport, v8.3.0, v8.4.0

#135748 [Index Mgmt] Fix the count of docs per index
  x-pack/plugins/index_management/server/lib/fetch_indices.ts
  x-pack/plugins/index_management/server/test/helpers/indices_fixtures.ts
Labels: release_note:fix, Feature:Index Management, Team:Deployment Management, v8.4.0

#135867 [8.3] Osquery doc fixes (#135848)
  docs/osquery/osquery-faq.asciidoc
  docs/osquery/osquery.asciidoc
Labels: backport

#135862 Bump moment to 2.29.4
  package.json
  yarn.lock
Labels: Team:Operations, release_note:skip, backport:all-open

#135870 [8.3] Bump moment to 2.29.4 (#135862)
  package.json
  yarn.lock
Labels: backport

#135866 Switched _handle_alias and _scripted_fields to use UI settings to change date and time instead of time picker.
  test/functional/apps/management/_handle_alias.ts
  test/functional/apps/management/_scripted_fields.ts
Labels: Team:QA, Feature:Timepicker, test_ui_functional, release_note:skip, backport:skip, Feature:uiSettings, v8.4.0

#135841 Update the 8.3 alerting upgrade known issue to recommend enable/disable
  docs/CHANGELOG.asciidoc
Labels: release_note:skip, docs, v8.3.0

#135289 [Exploratory view] Palette at metric config
  x-pack/plugins/observability/e2e/journeys/exploratory_view.ts
  x-pack/plugins/observability/e2e/journeys/index.ts
  x-pack/plugins/observability/e2e/journeys/step_duration.journey.ts
  x-pack/plugins/observability/e2e/synthetics_run.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/synthetics/kpi_over_time_config.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/types.ts
Labels: Team:uptime, release_note:skip, v8.4.0

#135829 [Canvas] Fixes "Element status" is inaccurate for grouped elements.
  x-pack/plugins/canvas/public/components/workpad_page/integration_utils.js
  x-pack/plugins/canvas/public/components/workpad_page/positioning_utils.ts
  x-pack/plugins/canvas/public/components/workpad_page/workpad_static_page/static_workpad_page.js
  x-pack/plugins/canvas/public/lib/workpad.ts
  x-pack/plugins/canvas/public/state/actions/elements.js
  x-pack/plugins/canvas/public/state/reducers/pages.js
Labels: release_note:fix, Team:Presentation, loe:hours, impact:low, backport:skip, Feature:Canvas, v8.4.0

#134810 [Console] Save state of folding/unfolding of commands
  src/plugins/console/public/application/containers/editor/legacy/console_editor/editor.test.mock.tsx
  src/plugins/console/public/application/containers/editor/legacy/console_editor/editor.tsx
  src/plugins/console/public/application/models/legacy_core_editor/legacy_core_editor.ts
  src/plugins/console/public/services/storage.ts
  src/plugins/console/public/types/core_editor.ts
  test/functional/apps/console/_console.ts
  test/functional/page_objects/console_page.ts
Labels: release_note:enhancement, Feature:Console, Feature:Dev Tools, Team:Deployment Management, v8.4.0

#134763 [Alerting] Improve creation and editing of "Elasticsearch query" rule in Management
  src/plugins/home/server/services/sample_data/routes/list.ts
  test/api_integration/apis/home/sample_data.ts
  x-pack/plugins/stack_alerts/public/alert_types/components/data_view_select_popover.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/components/data_view_select_popover.tsx
  x-pack/plugins/stack_alerts/public/alert_types/components/index_select_popover.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/constants.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/es_query_expression.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/expression.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/expression.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/query_form_type_chooser.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/search_source_expression.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/search_source_expression.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/expression/search_source_expression_form.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/rule_common_expressions/index.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/rule_common_expressions/rule_common_expressions.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/test_query_row/index.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/test_query_row/test_query_row.test.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/test_query_row/test_query_row.tsx
  x-pack/plugins/stack_alerts/public/alert_types/es_query/test_query_row/use_test_query.test.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/test_query_row/use_test_query.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/types.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/validation.test.ts
  x-pack/plugins/stack_alerts/public/alert_types/es_query/validation.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/triggers_actions_ui/kibana.json
  x-pack/plugins/triggers_actions_ui/public/application/app.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/confirm_rule_close.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_edit.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/for_the_last.tsx
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/value.tsx
  x-pack/plugins/triggers_actions_ui/public/common/lib/kibana/kibana_react.mock.ts
  x-pack/plugins/triggers_actions_ui/public/plugin.ts
  x-pack/plugins/triggers_actions_ui/tsconfig.json
Labels: release_note:enhancement, Feature:Alerting, backport:skip, Team:DataDiscovery, ci:deploy-cloud, ui-copy, v8.4.0

#135821 Unskip tags a11y test
  x-pack/test/accessibility/apps/tags.ts
Labels: Team:QA, Project:Accessibility, release_note:skip, Feature:Saved Object Tagging, auto-backport, v8.4.0, v8.3.2

#135847 Changed the description of deployment view
  x-pack/plugins/fleet/public/applications/integrations/components/header/deployment_details.component.tsx
Labels: release_note:skip, 💝community, Team:Fleet, v8.4.0

#133325 [Discover] Security functionals - set default data view before test execution
  x-pack/test/functional/apps/discover/feature_controls/discover_security.ts
  x-pack/test/functional/apps/graph/graph.ts
Labels: Feature:Discover, release_note:fix, auto-backport, Team:DataDiscovery, v8.3.0, v8.4.0, v8.2.3

#135825 [Flaky Tests] Event Loop Delays collector
  src/plugins/kibana_usage_collection/server/collectors/event_loop_delays/rollups/integration_tests/daily_rollups.test.ts
Labels: Team:Core, Feature:Telemetry, release_note:skip, backport:skip, v8.4.0

#135651 Clean ES-related types exposed from core
  src/core/server/elasticsearch/client/index.ts
  src/core/server/elasticsearch/client/types.ts
  src/core/server/elasticsearch/index.ts
  src/core/server/index.ts
  src/plugins/home/server/services/sample_data/usage/collector_fetch.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/response_processors/annotations/buckets.ts
  x-pack/plugins/reporting/server/export_types/csv_searchsource/generate_csv/generate_csv.test.ts
Labels: Team:Core, release_note:skip, backport:skip, v8.4.0

#135660 fix es wait logic during the performance tests
  .buildkite/scripts/steps/functional/performance_playwright.sh
Labels: Team:Operations, release_note:skip, backport:skip, v8.4.0

#135872 [7.17] Bump moment to 2.29.4 (#135862)
  package.json
  yarn.lock
Labels: backport

#135585 [Metrics] Display node details metrics for kubernetes containers
  x-pack/plugins/infra/common/inventory_models/container/index.ts
  x-pack/plugins/infra/common/inventory_models/container/layout.tsx
  x-pack/plugins/infra/common/inventory_models/container/metrics/index.ts
  x-pack/plugins/infra/common/inventory_models/container/metrics/tsvb/container_k8s_cpu_usage.ts
  x-pack/plugins/infra/common/inventory_models/container/metrics/tsvb/container_k8s_memory_usage.ts
  x-pack/plugins/infra/common/inventory_models/container/metrics/tsvb/container_k8s_overview.ts
  x-pack/plugins/infra/common/inventory_models/types.ts
Labels: release_note:enhancement, Feature:Metrics UI, Team:Infra Monitoring UI, v8.4.0

#135869 [DOCS] Removes tag from 8.3.2 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, v8.3.2

#134773 [Lens] Refactor field select component as shared
  x-pack/plugins/lens/public/indexpattern_datasource/datapanel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/field_select.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/field_item.tsx
  x-pack/plugins/lens/public/shared_components/field_picker/__snapshots__/lens_field_icon.test.tsx.snap
  x-pack/plugins/lens/public/shared_components/field_picker/field_picker.scss
  x-pack/plugins/lens/public/shared_components/field_picker/field_picker.tsx
  x-pack/plugins/lens/public/shared_components/field_picker/index.ts
  x-pack/plugins/lens/public/shared_components/field_picker/lens_field_icon.test.tsx
  x-pack/plugins/lens/public/shared_components/field_picker/lens_field_icon.tsx
  x-pack/plugins/lens/public/shared_components/field_picker/truncated_label.test.tsx
  x-pack/plugins/lens/public/shared_components/field_picker/truncated_label.tsx
  x-pack/plugins/lens/public/shared_components/field_picker/types.ts
  x-pack/plugins/lens/public/shared_components/index.ts
Labels: Team:VisEditors, release_note:skip, Feature:Lens, backport:skip, v8.4.0

#135757 [Dashboard] (Accessibility) Adds an H1 tag with the dashboard title
  src/plugins/dashboard/public/application/dashboard_app.tsx
  src/plugins/home/server/services/sample_data/data_sets/ecommerce/saved_objects.ts
  src/plugins/home/server/services/sample_data/data_sets/flights/saved_objects.ts
  src/plugins/home/server/services/sample_data/data_sets/logs/saved_objects.ts
Labels: Feature:Dashboard, Project:Accessibility, Team:Presentation, loe:hours, release_note:skip, impact:medium, v8.4.0

#135019 [APM] Add scenario for AWS lambda to synthtrace
  packages/elastic-apm-synthtrace/src/lib/apm/instance.ts
  packages/elastic-apm-synthtrace/src/lib/apm/service.ts
  packages/elastic-apm-synthtrace/src/scenarios/aws_lambda.ts
  packages/elastic-apm-synthtrace/src/test/scenarios/01_simple_trace.test.ts
  x-pack/test/apm_api_integration/tests/services/get_service_node_metadata.spec.ts
  x-pack/test/apm_api_integration/tests/services/service_details/generate_data.ts
Labels: Team:apm, release_note:skip, backport:skip, v8.4.0

#135570 [Fleet] Add experimental package verification (server side)
  x-pack/plugins/fleet/.storybook/context/fixtures/packages.ts
  x-pack/plugins/fleet/common/experimental_features.ts
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.stories.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/index.test.tsx
  x-pack/plugins/fleet/server/errors/handlers.ts
  x-pack/plugins/fleet/server/errors/index.ts
  x-pack/plugins/fleet/server/integration_tests/validate_bundled_packages.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/epm/archive/cache.ts
  x-pack/plugins/fleet/server/services/epm/archive/index.ts
  x-pack/plugins/fleet/server/services/epm/package_service.test.ts
  x-pack/plugins/fleet/server/services/epm/package_service.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.ts
  x-pack/plugins/fleet/server/services/epm/packages/get.ts
  x-pack/plugins/fleet/server/services/epm/packages/get_install_type.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/package_verification.ts
  x-pack/plugins/fleet/server/services/epm/registry/index.ts
  x-pack/plugins/fleet/server/types/index.tsx
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/response_actions.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/metadata/metadata.test.ts
  x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/update_assets.ts
Labels: release_note:skip, Team:Fleet, v8.4.0

#133539 130186 update firstlastseen query to be used by all details pages
  x-pack/plugins/security_solution/common/search_strategy/security_solution/first_last_seen/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/index.ts
  x-pack/plugins/security_solution/public/common/components/first_last_seen/first_last_seen.test.tsx
  x-pack/plugins/security_solution/public/common/components/first_last_seen/first_last_seen.tsx
  x-pack/plugins/security_solution/public/common/components/first_last_seen/index.ts
  x-pack/plugins/security_solution/public/common/containers/use_first_last_seen/index.ts
  x-pack/plugins/security_solution/public/common/containers/use_first_last_seen/translations.ts
  x-pack/plugins/security_solution/public/common/containers/use_first_last_seen/use_first_last_seen.test.ts
  x-pack/plugins/security_solution/public/common/containers/use_first_last_seen/use_first_last_seen.tsx
  x-pack/plugins/security_solution/public/hosts/components/first_last_seen_host/index.test.tsx
  x-pack/plugins/security_solution/public/hosts/components/first_last_seen_host/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/details/index.tsx
  x-pack/plugins/security_solution/public/network/components/details/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/network/components/details/index.test.tsx
  x-pack/plugins/security_solution/public/network/components/details/index.tsx
  x-pack/plugins/security_solution/public/network/pages/details/index.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/overview/components/host_overview/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/host_overview/index.tsx
  x-pack/plugins/security_solution/public/overview/components/user_overview/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/overview/components/user_overview/index.test.tsx
  x-pack/plugins/security_solution/public/overview/components/user_overview/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/__snapshots__/expandable_host.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/side_panel/host_details/expandable_host.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/network_details/expandable_network.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/user_details/expandable_user.tsx
  x-pack/plugins/security_solution/public/users/pages/details/index.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/index.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/last_first_seen/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/last_first_seen/index.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/last_first_seen/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/last_first_seen/query.first_or_last_seen.dsl.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/last_first_seen/query.first_or_last_seen.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/network/details/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/network/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/network/details/query.details_network.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/users/details/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/users/details/__snapshots__/query.user_details.dsl.test.ts.snap
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/users/details/query.user_details.dsl.ts
  x-pack/test/api_integration/apis/security_solution/hosts.ts
Labels: release_note:fix, performance, Team:Threat Hunting, auto-backport, Team:Threat Hunting:Explore, v8.3.2

#135916 Use enterpriseSearch.customHeaders during access check
  x-pack/plugins/enterprise_search/server/lib/enterprise_search_config_api.ts
Labels: release_note:skip, auto-backport, Team:EnterpriseSearch, v8.4.0, v8.3.2

#135925 [8.3] Use enterpriseSearch.customHeaders during access check (#135916)
  x-pack/plugins/enterprise_search/server/lib/enterprise_search_config_api.ts
Labels: backport

#135662 [Dashboard] [Controls] Use KibanaThemeProvider
  src/plugins/controls/public/control_group/editor/control_editor.tsx
  src/plugins/controls/public/control_group/editor/create_control.tsx
  src/plugins/controls/public/control_group/editor/edit_control.tsx
  src/plugins/controls/public/control_group/editor/edit_control_group.tsx
  src/plugins/controls/public/control_group/editor/forward_all_context.tsx
  src/plugins/controls/public/control_group/embeddable/control_group_container.tsx
  src/plugins/controls/public/control_types/options_list/options_list_embeddable.tsx
  src/plugins/controls/public/control_types/range_slider/range_slider_embeddable.tsx
  src/plugins/controls/public/services/index.ts
  src/plugins/controls/public/services/kibana/index.ts
  src/plugins/controls/public/services/kibana/theme.ts
  src/plugins/controls/public/services/storybook/index.ts
  src/plugins/controls/public/services/storybook/theme.ts
  src/plugins/controls/public/services/stub/index.ts
  src/plugins/controls/public/services/theme.ts
  test/functional/apps/dashboard/group2/dashboard_snapshots.ts
  test/functional/screenshots/baseline/dashboard_controls_dark.png
  test/functional/screenshots/baseline/dashboard_controls_light.png
Labels: Feature:Dashboard, release_note:fix, Team:Presentation, loe:days, impact:high, auto-backport, Project:Controls, v8.4.0, v8.3.2

#135277 [Discover] Add support for accessing the edit field flyout from the document explorer column popover
  src/plugins/discover/public/__mocks__/services.ts
  src/plugins/discover/public/application/context/context_app.tsx
  src/plugins/discover/public/application/context/context_app_content.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.test.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/application/main/components/layout/discover_layout.tsx
  src/plugins/discover/public/application/main/components/sidebar/discover_field.tsx
  src/plugins/discover/public/application/main/components/sidebar/discover_sidebar.test.tsx
  src/plugins/discover/public/application/main/components/sidebar/discover_sidebar.tsx
  src/plugins/discover/public/application/main/components/sidebar/discover_sidebar_responsive.test.tsx
  src/plugins/discover/public/application/main/components/sidebar/discover_sidebar_responsive.tsx
  src/plugins/discover/public/application/main/components/top_nav/discover_topnav.test.tsx
  src/plugins/discover/public/application/main/components/top_nav/discover_topnav.tsx
  src/plugins/discover/public/components/discover_grid/build_edit_field_button.test.tsx
  src/plugins/discover/public/components/discover_grid/build_edit_field_button.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_columns.tsx
  src/plugins/discover/public/utils/get_field_capabilities.test.ts
  src/plugins/discover/public/utils/get_field_capabilities.ts
Labels: release_note:enhancement, Feature:Discover, Team:DataDiscovery, v8.4.0

#135941 [8.3] [Dashboard] [Controls] Use KibanaThemeProvider (#135662)
  src/plugins/controls/public/control_group/editor/control_editor.tsx
  src/plugins/controls/public/control_group/editor/create_control.tsx
  src/plugins/controls/public/control_group/editor/edit_control.tsx
  src/plugins/controls/public/control_group/editor/edit_control_group.tsx
  src/plugins/controls/public/control_group/editor/forward_all_context.tsx
  src/plugins/controls/public/control_group/embeddable/control_group_container.tsx
  src/plugins/controls/public/control_types/options_list/options_list_embeddable.tsx
  src/plugins/controls/public/control_types/range_slider/range_slider_embeddable.tsx
  src/plugins/controls/public/services/index.ts
  src/plugins/controls/public/services/kibana/index.ts
  src/plugins/controls/public/services/kibana/theme.ts
  src/plugins/controls/public/services/storybook/index.ts
  src/plugins/controls/public/services/storybook/theme.ts
  src/plugins/controls/public/services/stub/index.ts
  src/plugins/controls/public/services/theme.ts
  test/functional/apps/dashboard/group2/dashboard_snapshots.ts
  test/functional/screenshots/baseline/dashboard_controls_dark.png
  test/functional/screenshots/baseline/dashboard_controls_light.png
Labels: backport

#135917 [Fleet] Verification status Saved Object migration
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v8_4_0.ts
Labels: release_note:skip, Team:Fleet, v8.4.0

#135932 Marking the node.roles kibana.yml setting as technical preview
  docs/setup/settings.asciidoc
Labels: release_note:skip, v9.0.0, v8.4.0

#135926 Bump Node.js to 16.16.0
  .ci/Dockerfile
  .node-version
  .nvmrc
  WORKSPACE.bazel
  docs/developer/advanced/upgrading-nodejs.asciidoc
  package.json
Labels: Team:Operations, release_note:skip, backport:all-open

#135958 [8.3] Bump Node.js to 16.16.0 (#135926)
  .ci/Dockerfile
  .node-version
  .nvmrc
  WORKSPACE.bazel
  docs/developer/advanced/upgrading-nodejs.asciidoc
  package.json
Labels: backport

#135962 [ci] prevent failures caused by excluding function configs
  .buildkite/pipeline-utils/ci-stats/pick_test_group_run_order.ts
Labels: Team:Operations, release_note:skip, backport:auto-version

#135959 [7.17] Bump Node.js to 16.16.0 (#135926)
  .ci/Dockerfile
  .node-version
  .nvmrc
  WORKSPACE.bazel
  package.json
Labels: backport

#135276 [RAM] add columns selector from EuiDatagrid into rules list
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list_column_selector.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list_column_selector.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list_table.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.4.0

#135919 [Discover] Fix filter in / filter out buttons for empty values
  src/plugins/discover/public/__mocks__/es_hits.ts
  src/plugins/discover/public/application/main/components/layout/discover_layout.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_cell_actions.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_cell_actions.tsx
  src/plugins/discover/public/components/doc_table/components/table_row.test.tsx
  src/plugins/discover/public/components/doc_table/components/table_row.tsx
Labels: Feature:Discover, release_note:fix, Team:DataDiscovery, backport:prev-minor

#135909 [vislib] fix extra rendering
  src/plugins/vis_types/vislib/public/vis_controller.tsx
Labels: Feature:Vislib, Team:VisEditors, release_note:skip, backport:skip, v8.4.0

#135890 [Vega] Fix internal links
  src/plugins/vis_types/vega/public/vega_view/vega_base_view.js
Labels: release_note:fix, Feature:Vega, Team:VisEditors, backport:skip, v8.4.0

#135978 [8.3] [Discover] Fix filter in / filter out buttons for empty values (#135919)
  src/plugins/discover/public/__mocks__/es_hits.ts
  src/plugins/discover/public/application/main/components/layout/discover_layout.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_cell_actions.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_cell_actions.tsx
  src/plugins/discover/public/components/doc_table/components/table_row.test.tsx
Labels: backport

#135643 [Actionable Observability] - Rule Details Page - Use RuleStatusPanel from triggersActionsUI
  x-pack/plugins/observability/public/hooks/use_fetch_last24h_alerts.ts
  x-pack/plugins/observability/public/hooks/use_fetch_last24h_rule_execution_log.ts
  x-pack/plugins/observability/public/pages/rule_details/components/index.ts
  x-pack/plugins/observability/public/pages/rule_details/components/item_title_rule_summary.tsx
  x-pack/plugins/observability/public/pages/rule_details/components/item_value_rule_summary.tsx
  x-pack/plugins/observability/public/pages/rule_details/config.ts
  x-pack/plugins/observability/public/pages/rule_details/index.tsx
  x-pack/plugins/observability/public/pages/rule_details/translations.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/observability_functional/apps/observability/pages/rule_details_page.ts
Labels: release_note:feature, Team: Actionable Observability, v8.4.0

#135976 [Heatmap] Display Y-axis tick labels
  src/plugins/vis_types/heatmap/public/to_ast.ts
Labels: Feature:Heatmap, release_note:fix, Team:VisEditors, backport:skip, v8.4.0

#133005 [APM] Add api test for infrastructure attributes endpoint
  x-pack/test/apm_api_integration/tests/infrastructure/generate_data.ts
  x-pack/test/apm_api_integration/tests/infrastructure/infrastructure_attributes.spec.ts
Labels: Team:apm, release_note:skip, backport:skip, v8.4.0

#135934 [Enterprise Search] Adds connector scheduling
  x-pack/plugins/enterprise_search/kibana.json
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector_package/update_connector_scheduling_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/index/fetch_index_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/scheduling.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
  x-pack/plugins/enterprise_search/server/lib/connectors/update_connector_scheduling.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/update_connector_scheduling.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
  x-pack/plugins/enterprise_search/server/types/connector.ts
Labels: release_note:skip, backport:skip, v8.4.0
