Repository elastic/kibana, pull requests merged in 2022-02, with the labels that each got.

#124192 [8.0] [DOCS] Add deprecated index pattern APIs (#124065)
  docs/api/index-patterns.asciidoc
  docs/api/index-patterns/create.asciidoc
  docs/api/index-patterns/default-get.asciidoc
  docs/api/index-patterns/default-set.asciidoc
  docs/api/index-patterns/delete.asciidoc
  docs/api/index-patterns/get.asciidoc
  docs/api/index-patterns/runtime-fields/create.asciidoc
  docs/api/index-patterns/runtime-fields/delete.asciidoc
  docs/api/index-patterns/runtime-fields/get.asciidoc
  docs/api/index-patterns/runtime-fields/update.asciidoc
  docs/api/index-patterns/runtime-fields/upsert.asciidoc
  docs/api/index-patterns/update-fields.asciidoc
  docs/api/index-patterns/update.asciidoc
  docs/redirects.asciidoc
  docs/user/api.asciidoc
Labels: backport

#124188 [Security Solution][Lists] - Update exception list page text
  x-pack/plugins/security_solution/public/app/deep_links/index.ts
  x-pack/plugins/security_solution/public/app/translations.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/index.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/exceptions/exceptions_table.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/exceptions/translations.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team: SecuritySolution, v8.1.0, Team:Security Solution Platform

#124144 [Security Solution] add create/update api validations for host isolation
  x-pack/plugins/security_solution/common/endpoint/data_generators/exceptions_list_item_generator.ts
  x-pack/plugins/security_solution/common/endpoint/utils/is_valid_ip.ts
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/utils.ts
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/components/form.tsx
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_create_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_delete_item_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_export_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_get_one_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_multi_list_find_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_single_list_find_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_summary_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/handlers/exceptions_pre_update_handler.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/validators/base_validator.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/validators/host_isolation_exceptions_validator.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/validators/index.ts
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_artifacts/host_isolation_exceptions.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.1.0

#124143 Adapt the `savedObjects` plugin to use `dataViews` instead of `data`
  src/plugins/saved_objects/kibana.json
  src/plugins/saved_objects/public/plugin.ts
  src/plugins/saved_objects/public/saved_object/helpers/build_saved_object.ts
  src/plugins/saved_objects/public/saved_object/helpers/hydrate_index_pattern.ts
  src/plugins/saved_objects/public/types.ts
Labels: chore, Team:Core, technical debt, release_note:skip, v8.1.0

#124133 Adapt the `kibanaOverview` plugin to use `dataViews` instead of `data`
  src/plugins/kibana_overview/kibana.json
  src/plugins/kibana_overview/public/components/overview/overview.test.mocks.ts
  src/plugins/kibana_overview/public/components/overview/overview.tsx
  src/plugins/kibana_overview/public/types.ts
Labels: chore, Team:Core, technical debt, release_note:skip, v8.1.0

#124126 Adapt the `home` plugin to use `dataViews` instead of `data`
  src/plugins/home/kibana.json
  src/plugins/home/public/application/components/home_app.js
  src/plugins/home/public/application/kibana_services.ts
  src/plugins/home/public/application/sample_data_client.ts
  src/plugins/home/public/plugin.ts
Labels: chore, Team:Core, technical debt, release_note:skip, v8.1.0

#124131 Adapt the `SOM` plugin to use `dataViews` instead of `data`
  src/plugins/saved_objects_management/kibana.json
  src/plugins/saved_objects_management/public/management_section/mount_section.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.test.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/components/flyout.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/saved_objects_table.test.tsx
  src/plugins/saved_objects_management/public/management_section/objects_table/saved_objects_table.tsx
  src/plugins/saved_objects_management/public/management_section/saved_objects_table_page.tsx
  src/plugins/saved_objects_management/public/plugin.test.ts
  src/plugins/saved_objects_management/public/plugin.ts
Labels: chore, Team:Core, technical debt, release_note:skip, v8.1.0

#124009 Allow to enable compression for communications with ES
  config/kibana.yml
  docs/development/core/server/kibana-plugin-core-server.elasticsearchclientconfig.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchconfig.compression.md
  docs/development/core/server/kibana-plugin-core-server.elasticsearchconfig.md
  docs/setup/settings.asciidoc
  src/core/server/elasticsearch/client/client_config.test.ts
  src/core/server/elasticsearch/client/client_config.ts
  src/core/server/elasticsearch/client/cluster_client.test.ts
  src/core/server/elasticsearch/elasticsearch_config.test.ts
  src/core/server/elasticsearch/elasticsearch_config.ts
  src/core/server/server.api.md
  x-pack/plugins/monitoring/server/config.test.ts
Labels: release_note:enhancement, Feature:elasticsearch, Team:Core, v8.1.0

#123992 [Lens][Visualize][Canvas] Adds titles to the heatmap axis
  src/plugins/chart_expressions/expression_heatmap/common/expression_functions/__snapshots__/heatmap_function.test.ts.snap
  src/plugins/chart_expressions/expression_heatmap/common/expression_functions/heatmap_function.test.ts
  src/plugins/chart_expressions/expression_heatmap/common/expression_functions/heatmap_grid.ts
  src/plugins/chart_expressions/expression_heatmap/common/types/expression_functions.ts
  src/plugins/chart_expressions/expression_heatmap/public/components/heatmap_component.test.tsx
  src/plugins/chart_expressions/expression_heatmap/public/components/heatmap_component.tsx
  src/plugins/vis_types/heatmap/public/to_ast.ts
  x-pack/plugins/canvas/canvas_plugin_src/uis/models/heatmap_grid.ts
  x-pack/plugins/canvas/i18n/ui.ts
  x-pack/plugins/lens/public/heatmap_visualization/suggestions.test.ts
  x-pack/plugins/lens/public/heatmap_visualization/suggestions.ts
  x-pack/plugins/lens/public/heatmap_visualization/toolbar_component.tsx
  x-pack/plugins/lens/public/heatmap_visualization/visualization.test.ts
  x-pack/plugins/lens/public/heatmap_visualization/visualization.tsx
  x-pack/plugins/lens/public/shared_components/axis_title_settings.test.tsx
  x-pack/plugins/lens/public/shared_components/axis_title_settings.tsx
  x-pack/plugins/lens/public/shared_components/index.ts
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/axis_settings_popover.test.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/axis_settings_popover.tsx
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:enhancement, Feature:Heatmap, Team:Presentation, loe:hours, Team:VisEditors, Feature:Lens, impact:medium, Feature:Canvas, v8.1.0

#124112 show panel index in aria label
  src/plugins/dashboard/public/application/embeddable/grid/dashboard_grid.tsx
  src/plugins/dashboard/public/application/embeddable/grid/dashboard_grid_item.tsx
  src/plugins/embeddable/public/lib/containers/embeddable_child_panel.tsx
  src/plugins/embeddable/public/lib/panel/embeddable_panel.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_options_menu.tsx
  src/plugins/embeddable/public/plugin.tsx
Labels: Feature:Embedding, Team:Presentation, release_note:skip, auto-backport, v8.1.0, Team:AppServicesUx

#123814 [Discover] Add document explorer callout
  src/plugins/discover/public/__mocks__/local_storage_mock.ts
  src/plugins/discover/public/application/main/components/document_explorer_callout/document_explorer_callout.scss
  src/plugins/discover/public/application/main/components/document_explorer_callout/document_explorer_callout.tsx
  src/plugins/discover/public/application/main/components/document_explorer_callout/document_explorere_callout.test.tsx
  src/plugins/discover/public/application/main/components/document_explorer_callout/index.ts
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
Labels: Feature:Discover, release_note:feature, v8.1.0, Team:DataDiscovery

#123948 [Cases] Only show sub-category if there are available items in the cases form
  x-pack/plugins/cases/public/components/connectors/mock.ts
  x-pack/plugins/cases/public/components/connectors/servicenow/servicenow_itsm_case_fields.test.tsx
  x-pack/plugins/cases/public/components/connectors/servicenow/servicenow_itsm_case_fields.tsx
  x-pack/plugins/cases/public/components/connectors/servicenow/servicenow_sir_case_fields.test.tsx
  x-pack/plugins/cases/public/components/connectors/servicenow/servicenow_sir_case_fields.tsx
  x-pack/plugins/cases/public/components/create/form_context.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/servicenow_itsm_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/servicenow_itsm_params.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/servicenow_sir_params.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/components/builtin_action_types/servicenow/servicenow_sir_params.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.1.0

#123818 Create server-side docLinks service
  .github/CODEOWNERS
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.links.md
  docs/development/core/public/kibana-plugin-core-public.doclinksstart.md
  docs/development/core/server/kibana-plugin-core-server.coresetup.doclinks.md
  docs/development/core/server/kibana-plugin-core-server.coresetup.md
  docs/development/core/server/kibana-plugin-core-server.corestart.doclinks.md
  docs/development/core/server/kibana-plugin-core-server.corestart.md
  docs/development/core/server/kibana-plugin-core-server.doclinksservicesetup.elasticwebsiteurl.md
  docs/development/core/server/kibana-plugin-core-server.doclinksservicesetup.links.md
  docs/development/core/server/kibana-plugin-core-server.doclinksservicesetup.md
  docs/development/core/server/kibana-plugin-core-server.doclinksservicesetup.version.md
  docs/development/core/server/kibana-plugin-core-server.doclinksservicestart.md
  docs/development/core/server/kibana-plugin-core-server.md
  package.json
  packages/BUILD.bazel
  packages/kbn-doc-links/BUILD.bazel
  packages/kbn-doc-links/README.md
  packages/kbn-doc-links/jest.config.js
  packages/kbn-doc-links/package.json
  packages/kbn-doc-links/src/get_doc_links.test.ts
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/get_doc_meta.test.ts
  packages/kbn-doc-links/src/get_doc_meta.ts
  packages/kbn-doc-links/src/index.ts
  packages/kbn-doc-links/src/types.ts
  packages/kbn-doc-links/tsconfig.json
  src/core/public/doc_links/doc_links_service.test.mocks.ts
  src/core/public/doc_links/doc_links_service.test.ts
  src/core/public/doc_links/doc_links_service.ts
  src/core/public/public.api.md
  src/core/server/doc_links/doc_links_service.mock.ts
  src/core/server/doc_links/doc_links_service.test.mocks.ts
  src/core/server/doc_links/doc_links_service.test.ts
  src/core/server/doc_links/doc_links_service.ts
  src/core/server/doc_links/index.ts
  src/core/server/doc_links/types.ts
  src/core/server/index.ts
  src/core/server/internal_types.ts
  src/core/server/mocks.ts
  src/core/server/plugins/plugin_context.ts
  src/core/server/server.api.md
  src/core/server/server.test.mocks.ts
  src/core/server/server.test.ts
  src/core/server/server.ts
  yarn.lock
Labels: Team:Core, release_note:skip, v8.1.0

#124099 [Lens] Fix heatmap suggestions
  x-pack/plugins/lens/public/heatmap_visualization/suggestions.test.ts
  x-pack/plugins/lens/public/heatmap_visualization/suggestions.ts
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern_suggestions.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.1.0

#124049 [ML] Fix breadcrumbs levels
  x-pack/plugins/ml/public/application/components/ml_page/side_nav.tsx
  x-pack/plugins/ml/public/application/contexts/ml/use_job_selection_flyout.tsx
  x-pack/plugins/ml/public/application/routing/routes/data_frame_analytics/analytics_jobs_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/data_frame_analytics/analytics_map.tsx
  x-pack/plugins/ml/public/application/routing/routes/jobs_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/trained_models/models_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/trained_models/nodes_list.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseriesexplorer_no_jobs_found/timeseriesexplorer_no_jobs_found.tsx
  x-pack/plugins/ml/public/register_helper/register_search_links/search_deep_links.ts
Labels: :ml, release_note:skip, v8.1.0, Team:ML

#124090 [Cases] Validate tags on server
  x-pack/plugins/cases/common/utils/validators.test.ts
  x-pack/plugins/cases/common/utils/validators.ts
  x-pack/plugins/cases/public/common/translations.ts
  x-pack/plugins/cases/public/components/create/schema.tsx
  x-pack/plugins/cases/server/client/cases/create.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/post_case.ts
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Cases, v8.1.0

#124116 [Cases] Show settting "sync alert" in user actions
  x-pack/plugins/cases/public/components/case_view/translations.ts
  x-pack/plugins/cases/public/components/user_actions/builder.tsx
  x-pack/plugins/cases/public/components/user_actions/common.tsx
  x-pack/plugins/cases/public/components/user_actions/constants.ts
  x-pack/plugins/cases/public/components/user_actions/helpers.test.ts
  x-pack/plugins/cases/public/components/user_actions/settings.test.tsx
  x-pack/plugins/cases/public/components/user_actions/settings.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.1.0

#123735 [ML] Transforms: Adds reset action to transforms management.
  x-pack/plugins/transform/common/api_schemas/reset_transforms.ts
  x-pack/plugins/transform/common/api_schemas/type_guards.ts
  x-pack/plugins/transform/common/constants.ts
  x-pack/plugins/transform/public/app/hooks/index.ts
  x-pack/plugins/transform/public/app/hooks/use_api.ts
  x-pack/plugins/transform/public/app/hooks/use_reset_transform.tsx
  x-pack/plugins/transform/public/app/lib/authorization/components/authorization_provider.tsx
  x-pack/plugins/transform/public/app/lib/authorization/components/common.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_reset/index.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_reset/reset_action_modal.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_reset/reset_action_name.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_reset/use_reset_action.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/transform_list.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/use_actions.test.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/use_actions.tsx
  x-pack/plugins/transform/server/routes/api/error_utils.ts
  x-pack/plugins/transform/server/routes/api/transforms.ts
  x-pack/test/api_integration/apis/transform/index.ts
  x-pack/test/api_integration/apis/transform/reset_transforms.ts
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/apps/transform/index.ts
  x-pack/test/functional/apps/transform/resetting.ts
  x-pack/test/functional/services/transform/transform_table.ts
Labels: release_note:enhancement, :ml, Feature:Transforms, v8.1.0

#123409 [maps] allow feature editing with vector tile scaling
  x-pack/plugins/maps/public/classes/layers/vector_layer/geojson_vector_layer/geojson_vector_layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_source_data.test.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_source_data.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_vector_layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
Labels: release_note:fix, Team:Geo, backport:skip, v8.1.0

#123386 [maps] fix Unable to load layers from WMS capabilities for a specific URL
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_client.js
Labels: release_note:fix, v8.0.0, auto-backport, v8.1.0, v7.17.0

#124020 Remove deployment URL from deployment details flyout
  x-pack/plugins/fleet/public/applications/integrations/components/header/deployment_details.component.tsx
  x-pack/plugins/fleet/public/applications/integrations/components/header/deployment_details.stories.tsx
  x-pack/plugins/fleet/public/applications/integrations/components/header/deployment_details.tsx
Labels: release_note:skip, Team:Fleet, v8.1.0

#123226 eql expression function
  src/plugins/data/common/search/expressions/__snapshots__/eql_raw_response.test.ts.snap
  src/plugins/data/common/search/expressions/eql.ts
  src/plugins/data/common/search/expressions/eql_raw_response.test.ts
  src/plugins/data/common/search/expressions/eql_raw_response.ts
  src/plugins/data/common/search/expressions/index.ts
  src/plugins/data/public/search/expressions/__snapshots__/eql.test.ts.snap
  src/plugins/data/public/search/expressions/eql.test.ts
  src/plugins/data/public/search/expressions/eql.ts
  src/plugins/data/public/search/expressions/index.ts
  src/plugins/data/public/search/search_service.ts
  src/plugins/data/server/search/expressions/eql.ts
  src/plugins/data/server/search/expressions/index.ts
  src/plugins/data/server/search/search_service.ts
Labels: Team:AppServicesSv, release_note:skip, v8.2.0

#124134 Replace deprecated index patterns API usage with data views API
  x-pack/plugins/security/public/management/roles/edit_role/edit_role_page.test.tsx
  x-pack/plugins/security/public/management/roles/edit_role/edit_role_page.tsx
  x-pack/plugins/security/public/management/roles/roles_management_app.tsx
Labels: Team:Security, release_note:skip, backport:skip, v8.1.0

#123983 [Observability] Enable parseTechnicalFields to accept partial alert documents
  x-pack/plugins/observability/public/pages/alerts/components/parse_alert.ts
  x-pack/plugins/rule_registry/common/parse_experimental_fields.ts
  x-pack/plugins/rule_registry/common/parse_technical_fields.test.ts
  x-pack/plugins/rule_registry/common/parse_technical_fields.ts
Labels: release_note:fix, Feature:Observability RAC, v8.1.0, Team: Actionable Observability

#123491 [Index Management] Fix cluster_nodes API test
  x-pack/test/api_integration/apis/management/index_management/cluster_nodes.ts
Labels: Feature:Index Management, failed-test, v8.0.0, Team:Deployment Management, test-cloud, release_note:skip, v8.1.0

#124123 Switch transform plugin to use locators
  src/plugins/discover/public/index.ts
  src/plugins/discover/public/url_generator.ts
  src/plugins/share/common/url_service/locators/locator.ts
  src/plugins/share/common/url_service/locators/types.ts
  src/plugins/share/public/mocks.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_create/step_create_form.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_discover/use_action_discover.tsx
Labels: release_note:skip, auto-backport, v8.1.0

#124217 [7.17] [maps] fix Unable to load layers from WMS capabilities for a specific URL (#123386)
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_client.js
Labels: backport

#124216 [8.0] [maps] fix Unable to load layers from WMS capabilities for a specific URL (#123386)
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_client.js
Labels: backport

#124059 [data views] Reduce deprecated api usage
  packages/kbn-optimizer/limits.yml
  src/plugins/data/common/index.ts
  src/plugins/data/common/kbn_field_types/index.ts
  src/plugins/data/public/index.ts
  src/plugins/data/server/index.ts
  src/plugins/data_view_editor/public/components/data_view_editor_flyout_content.tsx
  src/plugins/data_view_editor/public/components/data_view_flyout_content_container.tsx
  src/plugins/data_view_editor/public/shared_imports.ts
  src/plugins/data_view_field_editor/public/components/field_format_editor/field_format_editor.tsx
  src/plugins/data_view_management/public/components/edit_index_pattern/scripted_fields_table/scripted_field_table.test.tsx
  src/plugins/data_views/common/data_views/data_views.ts
  src/plugins/data_views/common/fields/types.ts
  src/plugins/data_views/common/index.ts
  src/plugins/data_views/public/index.ts
  src/plugins/data_views/server/deprecations/scripted_fields.ts
  src/plugins/data_views/server/utils.ts
Labels: Feature:Data Views, Team:AppServicesSv, release_note:skip, v8.1.0

#123005 [Lens] use data plugin migrations for search sources in legacy visualizations
  docs/development/core/server/kibana-plugin-core-server.md
  docs/development/core/server/kibana-plugin-core-server.mergesavedobjectmigrationmaps.md
  src/core/server/index.ts
  src/core/server/saved_objects/index.ts
  src/core/server/saved_objects/migrations/index.ts
  src/core/server/saved_objects/migrations/utils.test.ts
  src/core/server/saved_objects/migrations/utils.ts
  src/core/server/server.api.md
  src/plugins/data/common/search/search_source/search_source_service.ts
  src/plugins/data/server/search/mocks.ts
  src/plugins/data/server/search/search_service.ts
  src/plugins/data/server/search/search_source/mocks.ts
  src/plugins/data/server/search/types.ts
  src/plugins/visualizations/common/types.ts
  src/plugins/visualizations/public/types.ts
  src/plugins/visualizations/public/vis.ts
  src/plugins/visualizations/server/embeddable/make_visualize_embeddable_factory.test.ts
  src/plugins/visualizations/server/embeddable/make_visualize_embeddable_factory.ts
  src/plugins/visualizations/server/embeddable/visualize_embeddable_factory.test.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.test.ts
  src/plugins/visualizations/server/migrations/visualization_saved_object_migrations.ts
  src/plugins/visualizations/server/plugin.ts
  src/plugins/visualizations/server/saved_objects/index.ts
  src/plugins/visualizations/server/saved_objects/visualization.ts
  x-pack/plugins/cases/server/common/utils.test.ts
  x-pack/plugins/cases/server/saved_object_types/migrations/comments.test.ts
  x-pack/plugins/lens/server/embeddable/make_lens_embeddable_factory.test.ts
  x-pack/plugins/lens/server/embeddable/make_lens_embeddable_factory.ts
  x-pack/plugins/lens/server/migrations/common_migrations.ts
  x-pack/plugins/lens/server/migrations/saved_object_migrations.ts
  x-pack/plugins/lens/server/plugin.tsx
  x-pack/plugins/lens/server/saved_objects.ts
Labels: Team:VisEditors, release_note:skip, Feature:Lens, v8.1.0

#123373 [Maps] drawing layer documentation
  docs/maps/images/drawing_layer.png
  docs/maps/import-geospatial-data.asciidoc
Labels: Team:Docs, Team:Geo, v8.0.0, release_note:skip, v7.14.0, auto-backport, v7.15.0, v7.16.0, v8.1.0, v7.17.0

#124229 [8.0] [Maps] drawing layer documentation (#123373)
  docs/maps/images/drawing_layer.png
  docs/maps/import-geospatial-data.asciidoc
Labels: backport

#124224 [8.0] [Index Management] Fix cluster_nodes API test (#123491)
  x-pack/test/api_integration/apis/management/index_management/cluster_nodes.ts
Labels: backport

#124225 [Fleet] fix fleet server host placeholder
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_requirements_page/components/fleet_server_on_prem_instructions.tsx
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0

#124172 [cloud] Add Chat to File Upload
  x-pack/plugins/data_visualizer/kibana.json
  x-pack/plugins/data_visualizer/public/application/file_data_visualizer/components/file_data_visualizer_view/file_data_visualizer_view.js
  x-pack/plugins/data_visualizer/public/application/file_data_visualizer/file_data_visualizer.tsx
  x-pack/plugins/data_visualizer/public/plugin.ts
  x-pack/plugins/data_visualizer/tsconfig.json
Labels: review, Team:Cloud, loe:hours, release_note:skip, impact:high, v8.1.0

#124043 [Security Solution] Update in-memory rules table implementation feature switch logic
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/cypress/integration/detection_rules/links.spec.ts
  x-pack/plugins/security_solution/cypress/integration/detection_rules/prebuilt_rules.spec.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_detection_rules.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts_detection_rules.ts
  x-pack/plugins/security_solution/public/common/components/header_page/__snapshots__/title.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/header_page/title.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_switch/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_switch/index.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/rules_table/__mocks__/rules_table_context.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/rules_table/rules_table_context.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/rules_table/use_find_rules.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/rules_table/utils.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_create_rule.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_create_rule.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_update_rule.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_update_rule.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/actions.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/bulk_actions/use_bulk_actions.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/helpers.test.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/index.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/rules_table_actions.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/rules_table_toolbar.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/all/rules_tables.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/create/index.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/edit/index.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/rules_page_header.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/translations.ts
  x-pack/plugins/security_solution/server/ui_settings.ts
Labels: release_note:skip, backport:skip, Team:Detections and Resp, Team: SecuritySolution, v8.1.0, Team:Detection Rules

#124241 docs: remove coming in 7.17 tags
  docs/CHANGELOG.asciidoc
  docs/user/whats-new.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, v7.17.0

#124145 audit space deletion
  x-pack/plugins/cases/server/authorization/audit_logger.test.ts
  x-pack/plugins/cases/server/authorization/authorization.test.ts
  x-pack/plugins/rule_registry/server/alert_data_client/alerts_client_factory.test.ts
  x-pack/plugins/rule_registry/server/alert_data_client/tests/bulk_update.test.ts
  x-pack/plugins/rule_registry/server/alert_data_client/tests/find_alerts.test.ts
  x-pack/plugins/rule_registry/server/alert_data_client/tests/get.test.ts
  x-pack/plugins/rule_registry/server/alert_data_client/tests/update.test.ts
  x-pack/plugins/security/server/audit/audit_events.ts
  x-pack/plugins/security/server/audit/audit_service.test.ts
  x-pack/plugins/security/server/audit/audit_service.ts
  x-pack/plugins/security/server/audit/index.mock.ts
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/plugin.test.ts
  x-pack/plugins/security/server/spaces/secure_spaces_client_wrapper.test.ts
  x-pack/plugins/security/server/spaces/secure_spaces_client_wrapper.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client.mock.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client.test.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client_service.ts
Labels: release_note:enhancement, Team:Security, Feature:Security/Audit, auto-backport, v8.1.0

#124025 Add Tail-based sampling settings
  x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/index.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/settings_definition/tail_sampling_settings.test.ts
  x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/settings_definition/tail_sampling_settings.ts
  x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/settings_form/form_row_setting.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/settings_form/index.tsx
  x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/typings.ts
  x-pack/plugins/apm/server/routes/fleet/get_apm_package_policy_definition.ts
Labels: Team:apm, release_note:feature, v8.1.0

#124244 [8.0] fix fleet server host placeholder (#124225)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_requirements_page/components/fleet_server_on_prem_instructions.tsx
Labels: backport

#123875 [RAM] Need to hide monitoring.* from our public API
  x-pack/plugins/alerting/public/alert_api.test.ts
  x-pack/plugins/alerting/public/alert_api.ts
  x-pack/plugins/alerting/server/routes/find_rules.test.ts
  x-pack/plugins/alerting/server/routes/find_rules.ts
  x-pack/plugins/alerting/server/routes/get_rule.ts
  x-pack/plugins/alerting/server/routes/index.ts
  x-pack/plugins/alerting/server/routes/legacy/find.test.ts
  x-pack/plugins/alerting/server/routes/legacy/find.ts
  x-pack/plugins/alerting/server/routes/legacy/get.ts
  x-pack/plugins/alerting/server/rules_client/lib/index.ts
  x-pack/plugins/alerting/server/rules_client/lib/validate_attributes.test.ts
  x-pack/plugins/alerting/server/rules_client/lib/validate_attributes.ts
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api/get_rule.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api/get_rule.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api/rules.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/alert_api/rules.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/create.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/get.ts
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/update.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/create.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/get.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/monitoring.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/update.ts
Labels: release_note:skip, Team:ResponseOps, v8.1.0

#124178 [App Search] Fix bugs where non-owner/admins shown schema actions they can't access
  x-pack/plugins/enterprise_search/public/applications/app_search/components/schema/components/schema_callouts.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/schema/components/schema_callouts.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/schema/components/schema_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/schema/components/schema_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/schema/views/schema.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/schema/views/schema.tsx
Labels: release_note:skip, backport:skip, v8.1.0, Team:EnterpriseSearch

#124233 [7.17] [Maps] drawing layer documentation (#123373)
  docs/maps/images/drawing_layer.png
  docs/maps/import-geospatial-data.asciidoc
Labels: backport

#124230 [7.14] [Maps] drawing layer documentation (#123373)
  docs/maps/images/drawing_layer.png
  docs/maps/import-geospatial-data.asciidoc
Labels: backport

#124231 [7.15] [Maps] drawing layer documentation (#123373)
  docs/maps/images/drawing_layer.png
  docs/maps/import-geospatial-data.asciidoc
Labels: backport

#124232 [7.16] [Maps] drawing layer documentation (#123373)
  docs/maps/images/drawing_layer.png
  docs/maps/import-geospatial-data.asciidoc
Labels: backport

#124091 [Maps] Replace deprecated Filter imports in maps plugin
  x-pack/plugins/maps/common/descriptor_types/data_request_descriptor_types.ts
  x-pack/plugins/maps/common/elasticsearch_util/types.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_line_source/es_geo_line_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
  x-pack/plugins/maps/public/classes/tooltips/es_tooltip_property.ts
  x-pack/plugins/maps/public/embeddable/map_component.tsx
  x-pack/plugins/maps/public/embeddable/map_embeddable.tsx
  x-pack/plugins/maps/public/embeddable/types.ts
  x-pack/plugins/maps/public/legacy_visualizations/region_map/region_map_fn.ts
  x-pack/plugins/maps/public/legacy_visualizations/region_map/region_map_visualization.tsx
  x-pack/plugins/maps/public/legacy_visualizations/tile_map/tile_map_fn.ts
  x-pack/plugins/maps/public/legacy_visualizations/tile_map/tile_map_visualization.tsx
  x-pack/plugins/maps/public/locators.ts
  x-pack/plugins/maps/public/routes/map_page/map_app/map_app.tsx
  x-pack/plugins/maps/public/routes/map_page/url_state/app_sync.ts
Labels: chore, Team:Geo, release_note:skip, backport:skip, v8.1.0

#124018 Improve `<CodeEditor/>` font glitches fix
  src/plugins/kibana_react/public/code_editor/code_editor.tsx
  src/plugins/kibana_react/public/code_editor/remeasure_fonts.ts
Labels: release_note:skip, Feature:kibana-react, v8.1.0, Team:AppServicesUx

#124266 [8.0] [Workplace Search] Fix bug where modal visible after deleting a group (#123976)
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/group_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/group_logic.ts
Labels: backport

#124267 [ML] Transforms: Fix refresh when transform list is filtered.
  x-pack/plugins/transform/public/app/common/transform_stats.test.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/common.test.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/common.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/transform_list.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/transform_search_bar_filters.tsx
Labels: bug, release_note:fix, :ml, Feature:Transforms, v8.1.0

#124238 [Security Solution][Endpoint] Extend base schema to validate host isolation exception entry
  x-pack/plugins/security_solution/common/endpoint/data_generators/exceptions_list_item_generator.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/validators/base_validator.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/validators/host_isolation_exceptions_validator.ts
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_artifacts/host_isolation_exceptions.ts
Labels: bug, release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.1.0

#124270 [8.0] [Docs] Add missing reporting config (#123917)
  docs/settings/reporting-settings.asciidoc
  src/plugins/data/common/exports/escape_value.ts
Labels: backport

#124038 [ML] Changes DFA intro text
  packages/kbn-doc-links/src/get_doc_links.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/empty_prompt/empty_prompt.tsx
Labels: :ml, v8.0.0, release_note:skip, v8.1.0

#123951 [ML] Synchronize Anomaly charts cursor position for X-axis with Lens visualizations in Dashboard
  x-pack/plugins/ml/kibana.json
  x-pack/plugins/ml/public/application/app.tsx
  x-pack/plugins/ml/public/application/contexts/kibana/__mocks__/kibana_context.ts
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/explorer/anomaly_context_menu.tsx
  x-pack/plugins/ml/public/application/explorer/explorer.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/constants.ts
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_anomalies_container.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_distribution.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_distribution.test.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_single_metric.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_single_metric.test.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container.test.js
  x-pack/plugins/ml/public/embeddables/anomaly_charts/__snapshots__/embeddable_anomaly_charts_container.test.tsx.snap
  x-pack/plugins/ml/public/embeddables/anomaly_charts/embeddable_anomaly_charts_container.tsx
  x-pack/plugins/ml/public/plugin.ts
Labels: release_note:enhancement, Feature:Dashboard, :ml, Feature:Anomaly Detection, Team:Presentation, loe:hours, impact:medium, v8.1.0

#124125 [ML] Add missing document titles
  x-pack/plugins/ml/public/application/components/ml_page/ml_page.tsx
  x-pack/plugins/ml/public/application/components/ml_page/side_nav.tsx
  x-pack/plugins/ml/public/application/routing/routes/access_denied.tsx
  x-pack/plugins/ml/public/application/routing/routes/data_frame_analytics/analytics_job_creation.tsx
  x-pack/plugins/ml/public/application/routing/routes/data_frame_analytics/analytics_job_exploration.tsx
  x-pack/plugins/ml/public/application/routing/routes/data_frame_analytics/analytics_jobs_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/data_frame_analytics/analytics_map.tsx
  x-pack/plugins/ml/public/application/routing/routes/datavisualizer/datavisualizer.tsx
  x-pack/plugins/ml/public/application/routing/routes/datavisualizer/file_based.tsx
  x-pack/plugins/ml/public/application/routing/routes/datavisualizer/index_based.tsx
  x-pack/plugins/ml/public/application/routing/routes/explorer.tsx
  x-pack/plugins/ml/public/application/routing/routes/jobs_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/new_job/index_or_search.tsx
  x-pack/plugins/ml/public/application/routing/routes/settings/calendar_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/settings/calendar_new_edit.tsx
  x-pack/plugins/ml/public/application/routing/routes/settings/filter_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/settings/filter_list_new_edit.tsx
  x-pack/plugins/ml/public/application/routing/routes/settings/settings.tsx
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.tsx
  x-pack/plugins/ml/public/application/routing/routes/trained_models/models_list.tsx
  x-pack/plugins/ml/public/application/routing/routes/trained_models/nodes_list.tsx
  x-pack/plugins/ml/public/application/routing/use_active_route.ts
  x-pack/plugins/ml/public/application/routing/use_doc_title.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:enhancement, :ml, v8.1.0, accessibility: cognition, Team:ML

#124055 [7.17] [Security Solution] Update trusted apps matches placeholder (#124042)
  x-pack/plugins/security_solution/common/utils/path_placeholder.ts
Labels: backport

#124272 [Security Solution][Endpoint] Fix event filters create/update API body validator to allow for nested fields
  x-pack/plugins/security_solution/common/endpoint/data_generators/exceptions_list_item_generator.ts
  x-pack/plugins/security_solution/server/lists_integration/endpoint/validators/event_filter_validator.ts
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_artifacts/event_filters.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, OLM Sprint, v8.1.0

#123834 [7.13] [7.17] Add correlation section to audit logging docs (#123757) (#123830)
  docs/user/security/audit-logging.asciidoc
Labels: backport

#122297 [Fleet] Support bundling packages as zip archives with Kibana source
  .gitignore
  fleet_packages.json
  src/dev/build/args.test.ts
  src/dev/build/args.ts
  src/dev/build/build_distributables.ts
  src/dev/build/tasks/bundle_fleet_packages.ts
  src/dev/build/tasks/index.ts
  src/dev/precommit_hook/casing_check_config.js
  x-pack/plugins/fleet/common/constants/epm.ts
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/services/epm/archive/validation.ts
  x-pack/plugins/fleet/server/services/epm/packages/bulk_install_packages.ts
  x-pack/plugins/fleet/server/services/epm/packages/get_bundled_packages.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
  x-pack/test/fleet_api_integration/apis/epm/list.ts
  x-pack/test/fleet_api_integration/apis/epm/setup.ts
  x-pack/test/fleet_api_integration/apis/preconfiguration/preconfiguration.ts
Labels: release_note:enhancement, Team:Fleet, auto-backport, v8.1.0, ci:build-os-packages

#123989 [Security Solutions] Adds a security solutions experimental telemetry preview endpoint and e2e tests
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/signals/open_close_signals_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/telemetry/telemetry_detection_rules_preview_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/telemetry/utils/get_detecton_rules_preview.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/telemetry/utils/get_diagnostics_preview.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/telemetry/utils/get_endpoint_preview.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/telemetry/utils/get_security_lists_preview.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/telemetry/utils/parse_ndjson.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/executors/query.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/executors/threat_match.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/send_telemetry_events.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/types.ts
  x-pack/plugins/security_solution/server/lib/telemetry/preview_sender.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
  x-pack/plugins/security_solution/server/lib/telemetry/task.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/detection_rule.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/diagnostic.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/routes/index.ts
  x-pack/test/detection_engine_api_integration/common/config.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/telemetry/README.md
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/telemetry/index.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/telemetry/task_based/all_types.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/telemetry/task_based/detection_rules.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/telemetry/task_based/security_lists.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/telemetry/usage_collector/all_types.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/telemetry/usage_collector/detection_rules.ts
  x-pack/test/detection_engine_api_integration/utils.ts
  x-pack/test/lists_api_integration/utils.ts
Labels: release_note:skip, v8.1.0, Team:Security Solution Platform

#124258 [7.17] bump version to 7.17.1
  package.json
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, v7.17.1

#124187 Refactor saved query request to not set page size of 10000
  src/plugins/data/public/query/saved_query/saved_query_service.test.ts
  src/plugins/data/public/query/saved_query/saved_query_service.ts
  src/plugins/data/server/query/route_handler_context.ts
  src/plugins/data/server/query/routes.ts
Labels: Feature:Filters, Feature:Query Bar, v8.0.0, Team:AppServicesSv, release_note:skip, v8.1.0

#124180 [DOCS] Removes APM NodeJS and RUM Javascript modules
  docs/apm/machine-learning.asciidoc
Labels: v8.0.0, release_note:skip, apm:ml, docs, v8.1.0

#124297 [8.0] [DOCS] Removes APM NodeJS and RUM Javascript modules (#124180)
  docs/apm/machine-learning.asciidoc
Labels: backport

#124296 [Security Solution] Advanced policy options for Mac NetworkExtensions
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: release_note:skip, backport:skip, Team:Onboarding and Lifecycle Mgt, v8.1.0

#123911 [ML] Transforms: Support to set destination ingest pipeline.
  x-pack/plugins/transform/common/api_schemas/type_guards.ts
  x-pack/plugins/transform/common/constants.ts
  x-pack/plugins/transform/common/types/es_ingest_pipeline.ts
  x-pack/plugins/transform/public/app/common/request.test.ts
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/hooks/use_api.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/common.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_form.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/edit_transform_flyout/edit_transform_flyout_form.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/edit_transform_flyout/use_edit_transform_flyout.ts
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/apps/transform/permissions/full_transform_access.ts
  x-pack/test/functional/services/transform/edit_flyout.ts
  x-pack/test/functional/services/transform/security_common.ts
Labels: release_note:enhancement, :ml, Feature:Transforms, v8.1.0

#124199 chore(NA): splits types from code on @kbn/storybook
  package.json
  packages/BUILD.bazel
  packages/kbn-storybook/BUILD.bazel
  packages/kbn-storybook/package.json
  packages/kbn-storybook/src/webpack.config.ts
  yarn.lock
Labels: chore, Team:Operations, release_note:skip, v8.1.0

#124201 Ensure logstash getNodes always contains a uuid
  x-pack/plugins/monitoring/server/lib/logstash/get_nodes.test.ts
  x-pack/plugins/monitoring/server/lib/logstash/get_nodes.ts
Labels: release_note:fix, v8.0.0, Team:Infra Monitoring UI, Feature:Stack Monitoring, auto-backport

#124310 [Security Solution] Use timelineId to tell when investigate in timeline is in a table
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/investigate_in_timeline_action.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_investigate_in_timeline.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_fetch_ecs_alerts_data.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/actions/index.tsx
Labels: v8.0.0, release_note:skip, Team:Threat Hunting, auto-backport, v8.1.0, Team:Threat Hunting:Investigations

#122087 [Discover] Add row height options
  src/plugins/discover/common/index.ts
  src/plugins/discover/public/__mocks__/services.ts
  src/plugins/discover/public/__mocks__/ui_settings.ts
  src/plugins/discover/public/application/context/context_app.test.tsx
  src/plugins/discover/public/application/context/context_app_content.test.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.test.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/application/main/components/layout/discover_layout.test.tsx
  src/plugins/discover/public/application/main/services/discover_state.ts
  src/plugins/discover/public/application/main/utils/get_state_defaults.test.ts
  src/plugins/discover/public/application/main/utils/get_state_defaults.ts
  src/plugins/discover/public/application/main/utils/persist_saved_search.ts
  src/plugins/discover/public/application/main/utils/use_discover_state.ts
  src/plugins/discover/public/components/discover_grid/constants.ts
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable_component.tsx
  src/plugins/discover/public/embeddable/saved_search_grid.tsx
  src/plugins/discover/public/embeddable/types.ts
  src/plugins/discover/public/services/saved_searches/get_saved_searches.test.ts
  src/plugins/discover/public/services/saved_searches/saved_searches_utils.test.ts
  src/plugins/discover/public/services/saved_searches/saved_searches_utils.ts
  src/plugins/discover/public/services/saved_searches/types.ts
  src/plugins/discover/public/utils/row_heights.ts
  src/plugins/discover/public/utils/use_row_heights_options.test.tsx
  src/plugins/discover/public/utils/use_row_heights_options.ts
  src/plugins/discover/public/utils/validate_row_height.ts
  src/plugins/discover/server/saved_objects/search.ts
  src/plugins/discover/server/ui_settings.ts
  test/functional/apps/dashboard/embeddable_data_grid.ts
Labels: Feature:Discover, release_note:feature, v8.1.0, Team:DataDiscovery

#124284 [Lens] Improve mock
  x-pack/plugins/lens/public/mocks/data_plugin_mock.ts
Labels: Team:VisEditors, v8.0.0, release_note:skip, Feature:Lens, auto-backport, v8.1.0

#124319 [8.0] Ensure logstash getNodes always contains a uuid (#124201)
  x-pack/plugins/monitoring/server/lib/logstash/get_nodes.test.ts
  x-pack/plugins/monitoring/server/lib/logstash/get_nodes.ts
Labels: backport

#124322 [8.0] improve mock (#124284)
  x-pack/plugins/lens/public/mocks/data_plugin_mock.ts
Labels: backport

#124255 [Fleet] support setting id in new agent policy API
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/new_agent_policy.yaml
  x-pack/plugins/fleet/common/types/models/agent_policy.ts
  x-pack/plugins/fleet/common/types/models/preconfiguration.ts
  x-pack/plugins/fleet/server/services/agent_policy_create.test.ts
  x-pack/plugins/fleet/server/services/agent_policy_create.ts
  x-pack/plugins/fleet/server/types/models/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/epm/setup.ts
Labels: release_note:skip, Team:Fleet, v8.1.0

#121886 Short url browser client
  src/plugins/share/common/short_url_routes.ts
  src/plugins/share/common/url_service/locators/short_url_redirect_locator.ts
  src/plugins/share/common/url_service/locators/types.ts
  src/plugins/share/common/url_service/short_urls/types.ts
  src/plugins/share/common/url_service/url_service.ts
  src/plugins/share/public/components/__snapshots__/share_context_menu.test.tsx.snap
  src/plugins/share/public/components/__snapshots__/url_panel_content.test.tsx.snap
  src/plugins/share/public/components/share_context_menu.test.tsx
  src/plugins/share/public/components/share_context_menu.tsx
  src/plugins/share/public/components/url_panel_content.test.tsx
  src/plugins/share/public/components/url_panel_content.tsx
  src/plugins/share/public/index.ts
  src/plugins/share/public/lib/url_shortener.test.ts
  src/plugins/share/public/lib/url_shortener.ts
  src/plugins/share/public/mocks.ts
  src/plugins/share/public/plugin.test.ts
  src/plugins/share/public/plugin.ts
  src/plugins/share/public/services/share_menu_manager.tsx
  src/plugins/share/public/services/short_url_redirect_app.ts
  src/plugins/share/public/types.ts
  src/plugins/share/public/url_service/redirect/redirect_manager.test.ts
  src/plugins/share/public/url_service/redirect/redirect_manager.ts
  src/plugins/share/public/url_service/short_urls/short_url_client.test.ts
  src/plugins/share/public/url_service/short_urls/short_url_client.ts
  src/plugins/share/public/url_service/short_urls/short_url_client_factory.ts
  src/plugins/share/server/plugin.ts
  src/plugins/share/server/url_service/http/register_url_service_routes.ts
  src/plugins/share/server/url_service/http/short_urls/register_shorten_url_route.ts
  test/functional/apps/discover/_shared_links.ts
Labels: release_note:enhancement, v8.1.0, Team:AppServicesUx

#123950 [7.17] [Fixtures/Newsfeed] Server-side importing public types (#123923)
  test/common/fixtures/plugins/newsfeed/server/index.ts
  test/common/fixtures/plugins/newsfeed/server/plugin.ts
Labels: backport

#124328 [ML] Fix anomaly detector jobs list filter delay
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/jobs_list_view/jobs_list_view.js
Labels: bug, release_note:fix, :ml, Feature:Anomaly Detection, v8.1.0, v8.2.0

#124222 [Lens] Label placeholder always defaults to the lens proposed text
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimensions_editor_helpers.tsx
  x-pack/plugins/lens/public/shared_components/debounced_value.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, v8.1.0

#123924 [Lens] Color stop UI follow-ups
  src/plugins/chart_expressions/expression_gauge/public/components/gauge_component.test.tsx
  src/plugins/chart_expressions/expression_gauge/public/components/gauge_component.tsx
  src/plugins/chart_expressions/expression_heatmap/public/components/heatmap_component.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges.test.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges_extra_actions.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges_item.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges_item_buttons.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges_validation.test.ts
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges_validation.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/utils/color_ranges_crud.test.ts
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/utils/color_ranges_crud.ts
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/utils/utils.test.ts
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/utils/utils.ts
  x-pack/plugins/lens/public/shared_components/coloring/palette_configuration.tsx
  x-pack/plugins/lens/public/shared_components/coloring/utils.ts
  x-pack/plugins/lens/public/visualizations/gauge/dimension_editor.tsx
Labels: Team:VisEditors, release_note:skip, Feature:Lens, v8.1.0

#124103 [Uptime][Monitor Management UI]Add sorting to Monitor Management monitors list table.
  x-pack/plugins/uptime/common/runtime_types/monitor_management/state.ts
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/actions.test.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/actions.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_enabled.test.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_enabled.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_list.test.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_list.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/monitor_locations.tsx
  x-pack/plugins/uptime/public/components/monitor_management/monitor_list/tags.tsx
  x-pack/plugins/uptime/public/pages/monitor_management/monitor_management.tsx
  x-pack/plugins/uptime/server/rest_api/synthetics_service/get_monitor.ts
Labels: Team:uptime, release_note:skip, auto-backport, v8.1.0

#124257 [Exploratory view] Update constant from lens
  .github/CODEOWNERS
  x-pack/plugins/apm/public/components/app/rum_dashboard/action_menu/index.tsx
  x-pack/plugins/observability/kibana.json
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/constants/constants.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_attributes.test.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/lens_columns/overall_column.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/test_data/sample_attribute.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/test_data/sample_attribute_cwv.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/configurations/test_data/sample_attribute_kpi.ts
  x-pack/plugins/observability/public/index.ts
Labels: Team:apm, release_note:skip, v8.1.0

#124239 [Uptime] [Synthetics Service] log errors when fetching service locations
  x-pack/plugins/uptime/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/get_service_locations.test.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/get_service_locations.ts
  x-pack/plugins/uptime/server/lib/synthetics_service/synthetics_service.ts
  x-pack/plugins/uptime/server/plugin.ts
  x-pack/plugins/uptime/server/rest_api/synthetics_service/get_service_locations.ts
Labels: bug, Team:uptime, release_note:skip, v8.1.0

#124210 [Lens] Add step value to make Safari validation work properly
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/advanced_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/static_value.tsx
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/color_ranges_item.tsx
  x-pack/plugins/lens/public/shared_components/legend_location_settings.tsx
  x-pack/plugins/lens/public/shared_components/legend_settings_popover.tsx
  x-pack/plugins/lens/public/xy_visualization/xy_config_panel/axis_settings_popover.tsx
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.1.0

#124163 [Index Management] Added `features` parameter to ES request fetching indices
  x-pack/plugins/index_management/server/lib/fetch_indices.ts
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip, auto-backport, v8.1.0

#124301 [cloud] Get user email from saml metadata
  x-pack/plugins/cloud/server/routes/chat.test.ts
  x-pack/plugins/cloud/server/routes/chat.ts
Labels: review, Team:Cloud, loe:hours, release_note:skip, impact:critical, v8.1.0, Team:Shared UX

#124253 refresh cache on unencrypted telemetry request
  src/dev/i18n/extract_default_translations.js
  src/dev/i18n/tasks/extract_untracked_translations.ts
  src/plugins/telemetry/server/routes/telemetry_usage_stats.test.ts
  src/plugins/telemetry/server/routes/telemetry_usage_stats.ts
  src/plugins/telemetry_collection_manager/server/mocks.ts
  src/plugins/telemetry_collection_manager/server/plugin.test.ts
  src/plugins/telemetry_collection_manager/server/plugin.ts
  x-pack/test/api_integration/apis/telemetry/telemetry.ts
Labels: release_note:skip, auto-backport, v8.1.0, v8.2.0

#124337 [Transform] Fix redirect to the wizard
  x-pack/plugins/transform/public/app/common/navigation.tsx
Labels: release_note:fix, :ml, v8.0.0, Feature:Transforms, auto-backport, v8.1.0, v8.2.0, v7.17.1

#124288 [Stack Monitoring] Replace deprecated esKuery and IFieldType usages
  x-pack/plugins/monitoring/public/alerts/components/param_details_form/use_derived_index_pattern.tsx
  x-pack/plugins/monitoring/public/components/kuery_bar/index.tsx
  x-pack/plugins/monitoring/public/lib/kuery.ts
Labels: Team:Infra Monitoring UI, release_note:skip, Feature:Stack Monitoring, auto-backport, v8.1.0, v8.0.1

#124349 [8.0] [Transform] Fix redirect to the wizard (#124337)
  x-pack/plugins/transform/public/app/common/navigation.tsx
Labels: backport

#124350 [7.17] [Transform] Fix redirect to the wizard (#124337)
  x-pack/plugins/transform/public/app/common/navigation.tsx
Labels: backport

#124351 [8.0] [Stack Monitoring] Replace deprecated esKuery and IFieldType usages (#124288)
  x-pack/plugins/monitoring/public/alerts/components/param_details_form/use_derived_index_pattern.tsx
  x-pack/plugins/monitoring/public/components/kuery_bar/index.tsx
  x-pack/plugins/monitoring/public/lib/kuery.ts
Labels: backport

#124313 [data views] remove unused deprecated 'index pattern' apis
  src/plugins/data/common/index.ts
  src/plugins/data/public/index.ts
  src/plugins/data_view_editor/public/components/data_view_editor_flyout_content.tsx
  src/plugins/data_views/common/data_views/data_views.ts
  src/plugins/data_views/common/index.ts
  src/plugins/data_views/common/types.ts
  src/plugins/data_views/server/index_patterns_api_client.ts
  src/plugins/data_views/server/rest_api_routes/create_data_view.ts
  test/common/services/index_patterns.ts
Labels: Feature:Data Views, Team:AppServicesSv, release_note:skip, v8.2.0

#124215 [Fleet] fixed undefined error when missing policy vars in template
  x-pack/plugins/fleet/common/services/validate_package_policy.test.ts
  x-pack/plugins/fleet/common/services/validate_package_policy.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0, v7.17.1

#124291 [Stack Monitoring] fix Alerts and Rules menu persisting to other apps
  x-pack/plugins/monitoring/public/application/pages/page_template.tsx
  x-pack/plugins/monitoring/public/components/action_menu/index.tsx
Labels: release_note:fix, Team:Infra Monitoring UI, v8.1.0

#124209 [Visualize] guard against parse failures
  src/plugins/visualizations/public/embeddable/visualize_embeddable_factory.tsx
Labels: Feature:Visualizations, release_note:fix, Team:VisEditors, backport:skip, v8.1.0

#124213 [Lens] Show warning for completely static formula
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/formula.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/formula.tsx
Labels: release_note:fix, Team:VisEditors, Feature:Lens, backport:skip, v8.1.0

#124379 [8.0] [Fleet] fixed undefined error when missing policy vars in template (#124215)
  x-pack/plugins/fleet/common/services/validate_package_policy.test.ts
  x-pack/plugins/fleet/common/services/validate_package_policy.ts
Labels: backport

#124363 [Fleet] fixing bug with preconfigured fleet server policy missing input
  x-pack/plugins/fleet/README.md
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0, v8.2.0, v8.0.1, v7.17.1

#124293 [7.17] [Dashboard][Embeddable] Create Explicit Diffing System (#121241)
  examples/embeddable_examples/public/book/book_embeddable.tsx
  examples/embeddable_examples/public/book/edit_book_action.tsx
  src/plugins/dashboard/public/application/hooks/use_dashboard_app_state.ts
  src/plugins/dashboard/public/application/lib/diff_dashboard_state.test.ts
  src/plugins/dashboard/public/application/lib/diff_dashboard_state.ts
  src/plugins/dashboard/public/application/lib/index.ts
  src/plugins/embeddable/public/index.ts
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.tsx
  src/plugins/embeddable/public/lib/containers/container.ts
  src/plugins/embeddable/public/lib/embeddables/diff_embeddable_input.test.ts
  src/plugins/embeddable/public/lib/embeddables/diff_embeddable_input.ts
  src/plugins/embeddable/public/lib/embeddables/embeddable.tsx
  src/plugins/embeddable/public/lib/embeddables/i_embeddable.ts
  src/plugins/embeddable/public/lib/embeddables/index.ts
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/maps/public/embeddable/map_embeddable.tsx
  x-pack/plugins/maps/server/plugin.ts
Labels: backport

#123111 [data views] Add data view REST api docs, keep deprecated equivalents
  docs/api/data-views/create.asciidoc
  docs/api/data-views/default-get.asciidoc
  docs/api/data-views/default-set.asciidoc
  docs/api/data-views/delete.asciidoc
  docs/api/data-views/get.asciidoc
  docs/api/data-views/runtime-fields/create.asciidoc
  docs/api/data-views/runtime-fields/delete.asciidoc
  docs/api/data-views/runtime-fields/get.asciidoc
  docs/api/data-views/runtime-fields/update.asciidoc
  docs/api/data-views/runtime-fields/upsert.asciidoc
  docs/api/data-views/update-fields.asciidoc
  docs/api/data-views/update.asciidoc
Labels: Feature:Data Views, Team:AppServicesSv, release_note:skip, docs, v8.1.0

#124303 [Security Solution] api validation cleanup
  x-pack/plugins/security_solution/public/management/pages/event_filters/constants.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/service/service_actions.ts
  x-pack/test/security_solution_endpoint/services/endpoint_artifacts.ts
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_artifacts/event_filters.ts
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_artifacts/host_isolation_exceptions.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.1.0

#124289 [Maps] fix Unable to apply styles to vector tiles
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_size_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_style_property.tsx
Labels: release_note:fix, Team:Geo, auto-backport, v8.1.0, v8.0.1

#124400 [8.0] fixing bug with preconfigured fleet server policy missing input, updated README (#124363)
  x-pack/plugins/fleet/README.md
  x-pack/plugins/fleet/server/services/preconfiguration.ts
Labels: backport

#124411 chore(NA): adds backport config for 8.2.0 bump
  .backportrc.json
Labels: chore, Team:Operations, v8.0.0, release_note:skip, auto-backport, v8.1.0, v8.2.0

#124426 [8.1] chore(NA): adds backport config for 8.2.0 bump (#124411)
  .backportrc.json
Labels: backport

#124427 [8.0] chore(NA): adds backport config for 8.2.0 bump (#124411)
  .backportrc.json
Labels: backport

#124404 [8.0] [Maps] fix Unable to apply styles to vector tiles (#124289)
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_size_property.test.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_style_property.tsx
Labels: backport

#124295 [7.17] [Dashboard] Fix blank panel save and display issue. (#120815)
  src/plugins/dashboard/public/application/actions/unlink_from_library_action.tsx
  src/plugins/embeddable/public/lib/attribute_service/attribute_service.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_header.tsx
  src/plugins/visualizations/public/vis.ts
  test/functional/page_objects/dashboard_page.ts
  test/functional/services/dashboard/panel_actions.ts
  x-pack/test/functional/apps/dashboard/index.ts
  x-pack/test/functional/apps/dashboard/panel_titles.ts
Labels: backport

#124417 [7.17] update typo in watcher docs (#123690)
  docs/management/watcher-ui/index.asciidoc
Labels: backport

#124419 [7.15] update typo in watcher docs (#123690)
  docs/management/watcher-ui/index.asciidoc
Labels: backport

#124420 [7.14] update typo in watcher docs (#123690)
  docs/management/watcher-ui/index.asciidoc
Labels: backport

#124418 [7.16] update typo in watcher docs (#123690)
  docs/management/watcher-ui/index.asciidoc
Labels: backport

#124423 [7.11] update typo in watcher docs (#123690)
  docs/management/watcher-ui/index.asciidoc
Labels: backport

#122102 [cloud-first-testing] Automated deployments
  .buildkite/pipelines/pull_request/deploy_cloud.yml
  .buildkite/pipelines/purge_cloud_deployments.yml
  .buildkite/scripts/build_kibana.sh
  .buildkite/scripts/lifecycle/pre_command.sh
  .buildkite/scripts/pipelines/pull_request/pipeline.js
  .buildkite/scripts/steps/cloud/build_and_deploy.sh
  .buildkite/scripts/steps/cloud/deploy.json
  .buildkite/scripts/steps/cloud/purge.js
  .buildkite/scripts/steps/cloud/purge.sh
Labels: Team:Operations, release_note:skip, v8.1.0, ci:deploy-cloud

#124416 [8.0] update typo in watcher docs (#123690)
  docs/management/watcher-ui/index.asciidoc
Labels: backport

#124422 [7.12] update typo in watcher docs (#123690)
  docs/management/watcher-ui/index.asciidoc
Labels: backport

#123884 [DOCS] Adds what's new for 8.0
  docs/user/images/highlights-canvas.png
  docs/user/images/highlights-discover.gif
  docs/user/images/highlights-lens.png
  docs/user/images/highlights-maps.png
  docs/user/images/highlights-security.png
  docs/user/images/highlights-time-axis.gif
  docs/user/whats-new.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip

#124409 chore(NA): bump version to 8.2.0
  package.json
  src/core/server/saved_objects/validation/integration_tests/validator.test.ts
  x-pack/package.json
  x-pack/plugins/file_upload/kibana.json
  x-pack/plugins/global_search_bar/kibana.json
  x-pack/plugins/graph/kibana.json
  x-pack/plugins/grokdebugger/kibana.json
  x-pack/plugins/index_management/common/constants/plugin.ts
  x-pack/plugins/ingest_pipelines/kibana.json
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/analytics_list/__mocks__/analytics_list_item.json
  x-pack/plugins/painless_lab/kibana.json
  x-pack/plugins/remote_clusters/common/constants.ts
  x-pack/plugins/stack_alerts/kibana.json
  x-pack/plugins/task_manager/kibana.json
  x-pack/plugins/uptime/e2e/fixtures/es_archiver/browser/mappings.json
Labels: chore, Team:Operations, Team:uptime, release_note:skip, v8.2.0

#124330 [Visualize] Coloring tooltips in Pie are not properly positioned
  src/plugins/chart_expressions/expression_pie/public/components/pie_vis_component.tsx
  src/plugins/chart_expressions/expression_pie/public/utils/get_color_picker.test.tsx
  src/plugins/chart_expressions/expression_pie/public/utils/get_color_picker.tsx
  src/plugins/chart_expressions/expression_pie/public/utils/index.ts
Labels: Feature:Visualizations, release_note:fix, Team:VisEditors, v8.1.0

#124237 [Stack Monitoring] Align text size of offline cells with metric cells
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/__snapshots__/cells.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/cells.js
Labels: Team:Infra Monitoring UI, release_note:skip, auto-backport, v8.1.0, v8.2.0

#124398 [Osquery] Update cypress runner to latest Fleet changes
  x-pack/plugins/osquery/cypress/tasks/integrations.ts
  x-pack/test/osquery_cypress/agent.ts
  x-pack/test/osquery_cypress/artifact_manager.ts
  x-pack/test/osquery_cypress/fleet_server.ts
  x-pack/test/osquery_cypress/runner.ts
  x-pack/test/osquery_cypress/users.ts
Labels: release_note:skip, Team:Asset Management, Feature:Osquery, auto-backport, v8.1.0

#124167 [Security Solution][Endpoint] Removes Eslint rule exception extracting code outside component
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.1.0, v8.2.0

#124220 [Remote Clusters] Fix table filtering when there are clusters with proxy mode
  x-pack/plugins/remote_clusters/__jest__/client_integration/list/remote_clusters_list.test.js
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/remote_cluster_table/remote_cluster_table.js
Labels: bug, Feature:CCR and Remote Clusters, v8.0.0, Team:Deployment Management, release_note:skip, auto-backport, v8.1.0, v7.17.0, v8.2.0

#124483 [8.1] [Stack Monitoring] Align text size of offline cells with metric cells (#124237)
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/__snapshots__/cells.test.js.snap
  x-pack/plugins/monitoring/public/components/elasticsearch/nodes/cells.js
Labels: backport

#124333 [Security Solution][Endpoint] Fix data generator for event filter artifact
  x-pack/plugins/security_solution/common/endpoint/data_generators/event_filter_generator.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.1.0

#124485 [8.1] [Osquery] Update cypress runner to latest Fleet changes (#124398)
  x-pack/plugins/osquery/cypress/tasks/integrations.ts
  x-pack/test/osquery_cypress/agent.ts
  x-pack/test/osquery_cypress/artifact_manager.ts
  x-pack/test/osquery_cypress/fleet_server.ts
  x-pack/test/osquery_cypress/runner.ts
  x-pack/test/osquery_cypress/users.ts
Labels: backport

#124373 [ML] Transforms: Stabilize tests
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_summary.tsx
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/services/ml/common_ui.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: bug, :ml, release_note:skip, Feature:Transforms, auto-backport, v8.1.0, v8.2.0

#124493 [7.17] [Remote Clusters] Fix table filtering when there are clusters with proxy mode (#124220)
  x-pack/plugins/remote_clusters/__jest__/client_integration/list/remote_clusters_list.test.js
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/remote_cluster_table/remote_cluster_table.js
Labels: backport

#124492 [8.1] [Remote Clusters] Fix table filtering when there are clusters with proxy mode (#124220)
  x-pack/plugins/remote_clusters/__jest__/client_integration/list/remote_clusters_list.test.js
  x-pack/plugins/remote_clusters/public/application/sections/remote_cluster_list/remote_cluster_table/remote_cluster_table.js
Labels: backport

#124482 [7.17] fixed undefined error when missing policy vars in template
  x-pack/plugins/fleet/common/services/validate_package_policy.test.ts
  x-pack/plugins/fleet/common/services/validate_package_policy.ts
Labels: backport, v7.17.1

#124336 Fix validation for duration vars on APM configuration settings
  x-pack/plugins/apm/public/components/fleet_integration/apm_policy_form/settings_definition/apm_settings.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/utils/fix_apm_duration_vars.test.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/utils/fix_apm_duration_vars.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/utils/index.ts
  x-pack/plugins/fleet/public/constants/index.ts
Labels: bug, Team:apm, v8.0.0, release_note:skip, Team:Fleet, auto-backport, v8.1.0, v8.0.1

#124496 [8.1] [Security Solution][Endpoint] Fix data generator for event filter artifact (#124333)
  x-pack/plugins/security_solution/common/endpoint/data_generators/event_filter_generator.ts
Labels: backport

#124497 [8.1] [Security Solution][Endpoint] Removes Eslint rule exception extracting code outside component (#124167)
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/host_isolation_exceptions_list.tsx
Labels: backport

#124476 [7.17] fixing visualize enbeddableRendered event #115336
  src/plugins/vis_default_editor/public/default_editor.tsx
  src/plugins/visualizations/public/embeddable/visualize_embeddable.tsx
Labels: backport

#123926 [TSVB] Switch default bar width to 0px
  src/plugins/vis_types/timeseries/public/application/visualizations/views/top_n.js
Labels: Feature:TSVB, release_note:fix, Team:VisEditors, auto-backport, v8.1.0, v8.2.0

#124505 [8.1] [ML] Transforms: Stabilize tests (#124373)
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_summary.tsx
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/services/ml/common_ui.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: backport

#124031 [TSVB] Clicking a series agg timeseries chart split by terms should not create a filter
  src/plugins/vis_types/timeseries/public/application/components/lib/convert_series_to_datatable.test.ts
  src/plugins/vis_types/timeseries/public/application/components/lib/convert_series_to_datatable.ts
Labels: Feature:TSVB, release_note:fix, Team:VisEditors, auto-backport, v8.1.0, v8.2.0

#124401 [Response Ops][Cases] adding ignore_unavailable to alerts query
  x-pack/plugins/cases/server/services/alerts/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/metrics/get_case_metrics_alerts.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.1.0

#124098 [XY] Fixes the percentage format for percentiles series
  src/plugins/vis_types/xy/public/to_ast.ts
Labels: release_note:fix, Feature:XYAxis, Team:VisEditors, auto-backport, v8.1.0, v8.2.0

#124207 [7.17] [TSVB] Fix shard failures are not reported (#123474)
  src/plugins/data/public/index.ts
  src/plugins/data/public/search/index.ts
  src/plugins/inspector/common/adapters/request/request_responder.ts
  src/plugins/inspector/common/adapters/request/types.ts
  src/plugins/kibana_usage_collection/server/collectors/management/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/management/types.ts
  src/plugins/telemetry/schema/oss_plugins.json
  src/plugins/vis_types/timeseries/common/constants.ts
  src/plugins/vis_types/timeseries/common/types/index.ts
  src/plugins/vis_types/timeseries/common/types/vis_data.ts
  src/plugins/vis_types/timeseries/kibana.json
  src/plugins/vis_types/timeseries/public/application/components/annotation_row.tsx
  src/plugins/vis_types/timeseries/public/application/components/lib/index_pattern_select/field_text_select.tsx
  src/plugins/vis_types/timeseries/public/application/components/lib/index_pattern_select/index_pattern_select.tsx
  src/plugins/vis_types/timeseries/public/metrics_fn.ts
  src/plugins/vis_types/timeseries/public/metrics_type.ts
  src/plugins/vis_types/timeseries/public/request_handler.ts
  src/plugins/vis_types/timeseries/server/lib/search_strategies/index.ts
  src/plugins/vis_types/timeseries/server/lib/search_strategies/strategies/abstract_search_strategy.test.ts
  src/plugins/vis_types/timeseries/server/lib/search_strategies/strategies/abstract_search_strategy.ts
  src/plugins/vis_types/timeseries/server/lib/search_strategies/strategies/rollup_search_strategy.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/annotations/get_request_params.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/get_annotations.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/get_series_data.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/get_table_data.ts
  src/plugins/vis_types/timeseries/server/lib/vis_data/series/get_request_params.ts
  src/plugins/vis_types/timeseries/server/ui_settings.ts
  test/functional/apps/visualize/_tsvb_chart.ts
  x-pack/plugins/infra/server/lib/adapters/metrics/kibana_metrics_adapter.ts
Labels: backport

#124515 [8.1] [TSVB] Switch default bar width to 0px (#123926)
  src/plugins/vis_types/timeseries/public/application/visualizations/views/top_n.js
Labels: backport

#124489 Fix sorting behavior in color ranges when auto max is enabled
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/utils/utils.test.ts
  x-pack/plugins/lens/public/shared_components/coloring/color_ranges/utils/utils.ts
  x-pack/plugins/lens/public/shared_components/coloring/utils.ts
Labels: Team:VisEditors, release_note:skip, auto-backport, v8.1.0, v8.2.0

#124517 [8.1] [TSVB] Not creates filter by clicking a series agg timeseries chart split by terms (#124031)
  src/plugins/vis_types/timeseries/public/application/components/lib/convert_series_to_datatable.test.ts
  src/plugins/vis_types/timeseries/public/application/components/lib/convert_series_to_datatable.ts
Labels: backport

#123743 [DOCS] Removes tag from 8.0.0-rc2 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip

#123981 [Reporting] Correct CSV and ILM tests when run against ES 8.0
  x-pack/plugins/reporting/server/routes/deprecations.ts
  x-pack/test/functional/apps/discover/__snapshots__/reporting.snap
  x-pack/test/functional/apps/discover/reporting.ts
  x-pack/test/reporting_api_integration/reporting_and_security/__snapshots__/download_csv_dashboard.snap
  x-pack/test/reporting_api_integration/reporting_and_security/__snapshots__/generate_csv_discover.snap
  x-pack/test/reporting_api_integration/reporting_and_security/download_csv_dashboard.ts
  x-pack/test/reporting_api_integration/reporting_and_security/generate_csv_discover.ts
  x-pack/test/reporting_api_integration/reporting_and_security/ilm_migration_apis.ts
  x-pack/test/reporting_api_integration/reporting_and_security/index.ts
  x-pack/test/reporting_api_integration/services/index.ts
  x-pack/test/reporting_api_integration/services/scenarios.ts
Labels: Feature:Reporting, release_note:skip, Team:Reporting Services, Team:AppServicesUx, v7.17.1

#124300 [Maps][ML] Filter out kbn prop from tooltip
  x-pack/plugins/maps/public/index.ts
  x-pack/plugins/ml/public/maps/anomaly_source.tsx
Labels: Team:Geo, release_note:skip, auto-backport, v8.1.0, Team:ML, v8.2.0

#124308 Appends the saved objects documents count to the CoreUsageData service
  docs/development/core/server/kibana-plugin-core-server.md
  docs/development/core/server/kibana-plugin-core-server.mergesavedobjectmigrationmaps.md
  src/core/server/core_usage_data/core_usage_data_service.mock.ts
  src/core/server/core_usage_data/core_usage_data_service.test.ts
  src/core/server/core_usage_data/core_usage_data_service.ts
  src/core/server/core_usage_data/types.ts
  src/core/server/server.api.md
  src/plugins/kibana_usage_collection/server/collectors/core/core_usage_collector.ts
  src/plugins/telemetry/schema/oss_plugins.json
Labels: bug, Feature:Saved Objects, v8.0.0, release_note:skip, v8.1.0, v7.17.1

#124526 [8.1] [XY] Fixes the percentage format for percentiles series (#124098)
  src/plugins/vis_types/xy/public/to_ast.ts
Labels: backport

#124537 [8.0][DOCS] Removes tag from 8.0.0-rc2 release notes.
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, docs

#124384 [Metrics UI] Allow single values for ip and mac node metadata
  x-pack/plugins/infra/common/http_api/metadata_api.ts
Labels: bug, release_note:fix, Feature:Metrics UI, Team:Infra Monitoring UI, auto-backport, v8.1.0, v8.2.0, v8.0.1
