Repository elastic/kibana, pull requests merged in 2022-06, with the labels that each got.

#133234 [Security Solution][Investigations] - Fix no data found on bulk update
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.tsx
Labels: bug, release_note:skip, auto-backport, Team:Threat Hunting:Investigations, v8.3.0, v8.4.0

#133267 [8.3] [Security Solution][Investigations] - Fix no data found on bulk update (#133234)
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/data_driven_columns/index.tsx
Labels: backport

#133013 [Security Solution] App Links async filtering
  x-pack/plugins/security_solution/public/common/components/navigation/breadcrumbs/index.test.ts
  x-pack/plugins/security_solution/public/common/components/url_state/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/url_state/index_mocked.test.tsx
  x-pack/plugins/security_solution/public/common/links/app_links.ts
  x-pack/plugins/security_solution/public/common/links/links.test.ts
  x-pack/plugins/security_solution/public/common/links/links.ts
  x-pack/plugins/security_solution/public/common/utils/timeline/use_show_timeline.test.tsx
  x-pack/plugins/security_solution/public/management/links.ts
  x-pack/plugins/security_solution/public/plugin.tsx
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.4.0

#133136 [Fleet] Disallow downgrades and filter out old versions from modal
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/fleet/common/services/get_max_version.test.ts
  x-pack/plugins/fleet/common/services/get_max_version.ts
  x-pack/plugins/fleet/common/services/get_min_max_version.test.ts
  x-pack/plugins/fleet/common/services/get_min_max_version.ts
  x-pack/plugins/fleet/common/services/index.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.ts
  x-pack/test/fleet_api_integration/apis/agents/upgrade.ts
Labels: release_note:skip, Team:Fleet, auto-backport, v8.3.0

#133264 Pass decorated server to routes
  x-pack/plugins/monitoring/server/routes/index.ts
Labels: release_note:fix, Team:Infra Monitoring UI, v8.3.0

#130880 [Discover] Fix modify the time range test
  test/functional/apps/discover/_discover.ts
  test/functional/page_objects/discover_page.ts
Labels: Feature:Discover, release_note:fix, auto-backport, Team:DataDiscovery, v8.3.0, v8.2.1, v8.4.0

#133248 [Cloud Posture] change default rules page size
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_container.tsx
Labels: release_note:skip, auto-backport, Team:Cloud Security Posture, v8.3.0, v8.4.0

#133105 [Cloud Posture] Create rules configuration when create new package
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/cloud_security_posture/server/plugin.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.ts
Labels: release_note:skip, auto-backport, Team:Cloud Security Posture, v8.3.0, v8.4.0

#133280 [8.3] [Fleet] Disallow downgrades and filter out old versions from modal (#133136)
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/fleet/common/services/get_max_version.test.ts
  x-pack/plugins/fleet/common/services/get_max_version.ts
  x-pack/plugins/fleet/common/services/get_min_max_version.test.ts
  x-pack/plugins/fleet/common/services/get_min_max_version.ts
  x-pack/plugins/fleet/common/services/index.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.ts
  x-pack/test/fleet_api_integration/apis/agents/upgrade.ts
Labels: backport, Team:Fleet

#132622 Prevent cloud users from updating their user profile
  x-pack/plugins/cloud/public/plugin.test.ts
  x-pack/plugins/cloud/public/plugin.tsx
  x-pack/plugins/cloud/server/plugin.test.ts
  x-pack/plugins/cloud/server/plugin.ts
  x-pack/plugins/security/common/model/authenticated_user.mock.ts
  x-pack/plugins/security/common/model/authenticated_user.ts
  x-pack/plugins/security/public/nav_control/nav_control_component.test.tsx
  x-pack/plugins/security/server/authentication/authentication_service.test.ts
  x-pack/plugins/security/server/authentication/authentication_service.ts
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
  x-pack/plugins/security/server/authentication/providers/base.mock.ts
  x-pack/plugins/security/server/authentication/providers/base.ts
  x-pack/plugins/security/server/authentication/providers/saml.test.ts
  x-pack/plugins/security/server/elasticsearch/index.ts
  x-pack/plugins/security/server/mocks.ts
  x-pack/plugins/security/server/plugin.test.ts
  x-pack/plugins/security/server/plugin.ts
  x-pack/plugins/security/server/routes/index.mock.ts
  x-pack/plugins/security/server/routes/user_profile/update.test.ts
  x-pack/plugins/security/server/routes/user_profile/update.ts
  x-pack/plugins/security/server/user_profile/user_profile_service.test.ts
  x-pack/test/api_integration/apis/security/basic_login.js
  x-pack/test/security_api_integration/tests/http_bearer/header.ts
  x-pack/test/security_api_integration/tests/kerberos/kerberos_login.ts
  x-pack/test/security_api_integration/tests/login_selector/basic_functionality.ts
  x-pack/test/security_api_integration/tests/oidc/authorization_code_flow/oidc_auth.ts
  x-pack/test/security_api_integration/tests/oidc/implicit_flow/oidc_auth.ts
  x-pack/test/security_api_integration/tests/pki/pki_auth.ts
  x-pack/test/security_api_integration/tests/saml/saml_login.ts
Labels: blocked, Team:Security, release_note:skip, ci:deploy-cloud, Feature:Security/UserProfile, ci:no-auto-commit, v8.4.0

#133283 [8.3] [Discover] Fix modify the time range test (#130880)
  test/functional/apps/discover/_discover.ts
  test/functional/page_objects/discover_page.ts
Labels: backport

#133272 [Cloud Posture] fix CIS integration link
  x-pack/plugins/cloud_security_posture/public/common/navigation/use_navigate_to_cis_integration.ts
  x-pack/plugins/cloud_security_posture/public/components/csp_page_template.tsx
  x-pack/plugins/cloud_security_posture/public/pages/benchmarks/benchmarks.tsx
Labels: release_note:skip, auto-backport, Team:Cloud Security Posture, v8.3.0, v8.4.0

#133285 [8.3] [Cloud Posture] change default rules page size (#133248)
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_container.tsx
Labels: backport

#133164 [Synthetic] Remove synthetics feature flag
  src/plugins/kibana_usage_collection/server/collectors/application_usage/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/management/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/management/types.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/observability/common/ui_settings_keys.ts
  x-pack/plugins/observability/public/index.ts
  x-pack/plugins/observability/server/ui_settings.ts
  x-pack/plugins/synthetics/public/plugin.ts
  x-pack/test/functional/apps/uptime/feature_controls/uptime_security.ts
  x-pack/test/functional/config.base.js
Labels: Team:uptime, release_note:skip, v8.3.0

#133191 [Lens] Do not reset session on Lens load with filters
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/mounter.tsx
  x-pack/plugins/lens/public/state_management/context_middleware/index.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, auto-backport, v8.3.0, v8.4.0

#133303 [APM] Synthtrace improvements
  packages/elastic-apm-synthtrace/README.md
  packages/elastic-apm-synthtrace/bin/synthtrace
  packages/elastic-apm-synthtrace/src/lib/apm/client/apm_synthtrace_kibana_client.ts
  packages/elastic-apm-synthtrace/src/scenarios/agent_config.ts
  packages/elastic-apm-synthtrace/src/scenarios/kibana_stats.ts
  packages/elastic-apm-synthtrace/src/scenarios/low_throughput.ts
  packages/elastic-apm-synthtrace/src/scenarios/many_services.ts
  packages/elastic-apm-synthtrace/src/scenarios/monitoring.ts
  packages/elastic-apm-synthtrace/src/scenarios/simple_trace.ts
  packages/elastic-apm-synthtrace/src/scenarios/span_links.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/get_scenario.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/parse_run_cli_flags.ts
  scripts/synthtrace.js
  x-pack/plugins/apm/dev_docs/local_setup.md
Labels: Team:apm, release_note:skip, v8.3.0

#133047 [artifact testing] Use local ansible provisioner
  test/package/Vagrantfile
Labels: Team:Operations, release_note:skip, auto-backport, v8.3.0, v8.2.2, v7.17.5

#133249 [os packages] Mark all files in /etc/kibana as config files
  src/dev/build/tasks/os_packages/run_fpm.ts
Labels: Team:Operations, release_note:fix, auto-backport, ci:build-os-packages, v8.3.0, v8.4.0, v8.2.3

#128189 [8.0] [release notes] Note systemd service file logging changes
  docs/migration/migrate_8_0.asciidoc
Labels: Team:Operations, v8.0.0, release_note:skip, docs

#133324 [8.3] [jest] fix module mapper regex (#133311)
  packages/kbn-test/jest-preset.js
Labels: backport

#133308 [APM] Fix script used to run API tests
  x-pack/plugins/apm/scripts/test/api.js
Labels: Team:apm, release_note:skip, auto-backport, v8.3.0

#133326 [8.3] [esTestCluster] when stopping nodes, finish cleanup before throwing (#133252)
  packages/kbn-test/src/es/test_es_cluster.ts
Labels: backport

#133330 [8.3] [os packages] Mark all files in /etc/kibana as config files (#133249)
  src/dev/build/tasks/os_packages/run_fpm.ts
Labels: backport

#133329 [7.17] [artifact testing] Use local ansible provisioner (#133047)
  test/package/Vagrantfile
Labels: backport

#133082 [data views] indexPatternContract => dataViewsContract
  src/plugins/data/common/index.ts
  src/plugins/data/common/search/expressions/esaggs/esaggs_fn.ts
  src/plugins/data/common/search/search_source/create_search_source.test.ts
  src/plugins/data/common/search/search_source/create_search_source.ts
  src/plugins/data/common/search/search_source/search_source_service.test.ts
  src/plugins/data/common/search/search_source/search_source_service.ts
  src/plugins/data/public/actions/filters/create_filters_from_range_select.test.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.test.ts
  src/plugins/data/public/index.ts
  src/plugins/data/public/search/aggs/aggs_service.ts
  src/plugins/data/public/search/expressions/esaggs.test.ts
  src/plugins/data/public/search/search_service.ts
  src/plugins/data/public/search/types.ts
  src/plugins/data/public/services.ts
  src/plugins/data/server/search/expressions/esaggs.test.ts
  src/plugins/data_views/common/data_views/data_views.ts
  src/plugins/data_views/common/index.ts
  src/plugins/data_views/public/index.ts
  x-pack/plugins/maps/public/lazy_load_bundle/index.ts
Labels: Feature:Data Views, Team:AppServicesSv, release_note:skip, v8.4.0

#132972 [Reporting] Fix CSV generator to include unmapped fields in the search source
  src/plugins/discover/public/utils/get_sharing_data.test.ts
  src/plugins/discover/public/utils/get_sharing_data.ts
  x-pack/test/functional/es_archives/reporting/unmapped_fields/data.json
  x-pack/test/functional/es_archives/reporting/unmapped_fields/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/reporting/unmapped_fields.json
  x-pack/test/reporting_api_integration/reporting_and_security/__snapshots__/generate_csv_discover.snap
  x-pack/test/reporting_api_integration/reporting_and_security/generate_csv_discover.ts
Labels: review, release_note:fix, Feature:Reporting, Team:AppServicesUx, v8.4.0

#133012 docs(NA): adds @kbn/cli-dev-mode into ops devdocs
  dev_docs/operations/operations_landing.mdx
  nav-kibana-dev.docnav.json
  packages/kbn-cli-dev-mode/BUILD.bazel
  packages/kbn-cli-dev-mode/README.md
  packages/kbn-cli-dev-mode/README.mdx
Labels: Team:Operations, release_note:skip, backport:skip, DevDocs, v8.4.0

#133051 [data views] Remove deprecated exports - IndexPatternAttributes, IFieldType
  src/plugins/data/common/index.ts
  src/plugins/data/common/search/aggs/buckets/date_histogram.ts
  src/plugins/data/public/actions/filters/create_filters_from_range_select.ts
  src/plugins/data/public/index.ts
  src/plugins/data/public/query/filter_manager/lib/generate_filters.ts
  src/plugins/data/public/query/filter_manager/lib/mappers/map_exists.test.ts
  src/plugins/data/server/index.ts
  src/plugins/data_views/common/data_views/data_view.test.ts
  src/plugins/data_views/common/data_views/data_view.ts
  src/plugins/data_views/common/fields/data_view_field.ts
  src/plugins/data_views/common/fields/field_list.ts
  src/plugins/data_views/common/fields/index.ts
  src/plugins/data_views/common/fields/types.ts
  src/plugins/data_views/common/fields/utils.ts
  src/plugins/data_views/common/index.ts
  src/plugins/data_views/common/types.ts
  src/plugins/data_views/common/utils.test.ts
  src/plugins/unified_search/public/autocomplete/providers/kql_query_suggestion/field.test.ts
  src/plugins/unified_search/public/autocomplete/providers/kql_query_suggestion/field.tsx
  src/plugins/unified_search/public/autocomplete/providers/kql_query_suggestion/value.ts
  src/plugins/unified_search/public/autocomplete/providers/value_suggestion_provider.test.ts
  src/plugins/unified_search/public/autocomplete/providers/value_suggestion_provider.ts
  x-pack/plugins/apm/public/components/shared/kuery_bar/index.tsx
  x-pack/plugins/canvas/public/lib/es_service.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_logs/filter_dataset.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_logs/filter_log_level.tsx
Labels: Team:apm, Feature:Data Views, Team:AppServicesSv, release_note:skip, Team:Fleet, v8.4.0

#133165 [7.17] [Fleet] Lazy load package icons in integrations grid (#132455)
  x-pack/plugins/fleet/public/components/package_icon.tsx
Labels: backport

#133317 [Fleet] Re-enable uninstall package tests
  x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts
Labels: release_note:skip, Team:Fleet, auto-backport, v8.2.0, v8.3.0

#133281 [Cases] refactor configuration page hooks to usereact-query
  x-pack/plugins/cases/public/common/mock/test_providers.tsx
  x-pack/plugins/cases/public/components/configure_cases/__mock__/index.tsx
  x-pack/plugins/cases/public/components/configure_cases/index.test.tsx
  x-pack/plugins/cases/public/components/configure_cases/index.tsx
  x-pack/plugins/cases/public/containers/configure/use_action_types.test.tsx
  x-pack/plugins/cases/public/containers/configure/use_action_types.tsx
  x-pack/plugins/cases/public/containers/constants.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.4.0

#133359 [8.3] [Fleet] Re-enable uninstall package tests (#133317)
  x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts
Labels: backport, Team:Fleet

#132167 Add migrations.discardUnknownObjects flag
  docs/setup/upgrade/resolving-migration-failures.asciidoc
  src/core/server/saved_objects/deprecations/unknown_object_types.test.ts
  src/core/server/saved_objects/deprecations/unknown_object_types.ts
  src/core/server/saved_objects/migrations/__snapshots__/migrations_state_action_machine.test.ts.snap
  src/core/server/saved_objects/migrations/actions/calculate_exclude_filters.test.ts
  src/core/server/saved_objects/migrations/actions/calculate_exclude_filters.ts
  src/core/server/saved_objects/migrations/actions/check_for_unknown_docs.mocks.ts
  src/core/server/saved_objects/migrations/actions/check_for_unknown_docs.test.ts
  src/core/server/saved_objects/migrations/actions/check_for_unknown_docs.ts
  src/core/server/saved_objects/migrations/actions/index.ts
  src/core/server/saved_objects/migrations/actions/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrations/actions/reindex.test.ts
  src/core/server/saved_objects/migrations/actions/reindex.ts
  src/core/server/saved_objects/migrations/core/unused_types.ts
  src/core/server/saved_objects/migrations/initial_state.test.ts
  src/core/server/saved_objects/migrations/initial_state.ts
  src/core/server/saved_objects/migrations/integration_tests/7_13_0_unknown_types.test.ts
  src/core/server/saved_objects/migrations/integration_tests/type_registrations.test.ts
  src/core/server/saved_objects/migrations/kibana_migrator.ts
  src/core/server/saved_objects/migrations/migrations_state_action_machine.test.ts
  src/core/server/saved_objects/migrations/model/extract_errors.test.ts
  src/core/server/saved_objects/migrations/model/extract_errors.ts
  src/core/server/saved_objects/migrations/model/helpers.test.ts
  src/core/server/saved_objects/migrations/model/helpers.ts
  src/core/server/saved_objects/migrations/model/model.test.ts
  src/core/server/saved_objects/migrations/model/model.ts
  src/core/server/saved_objects/migrations/next.ts
  src/core/server/saved_objects/migrations/run_resilient_migrator.ts
  src/core/server/saved_objects/migrations/state.ts
  src/core/server/saved_objects/saved_objects_config.ts
  x-pack/test/functional/es_archives/cases/default/mappings.json
Labels: release_note:enhancement, Team:Core, backport:skip, docs, v8.4.0

#133373 [8.3] [APM] Allow plugins to link to APM UI using locators (#130251)
  x-pack/plugins/apm/kibana.json
  x-pack/plugins/apm/public/locator/helpers.ts
  x-pack/plugins/apm/public/locator/service_detail_locator.test.ts
  x-pack/plugins/apm/public/locator/service_detail_locator.ts
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/fleet/common/types/models/data_stream.ts
  x-pack/plugins/fleet/public/applications/fleet/hooks/index.ts
  x-pack/plugins/fleet/public/applications/fleet/hooks/use_apm_service_href.test.ts
  x-pack/plugins/fleet/public/applications/fleet/hooks/use_apm_service_href.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/data_stream/list_page/components/data_stream_row_actions.tsx
  x-pack/plugins/fleet/public/constants/index.ts
  x-pack/plugins/fleet/public/hooks/use_locator.ts
  x-pack/plugins/fleet/server/routes/data_streams/get_metadata_from_aggregations.ts
  x-pack/plugins/fleet/server/routes/data_streams/get_metadata_from_terms_enum.ts
  x-pack/plugins/fleet/server/routes/data_streams/handlers.ts
  x-pack/test/fleet_api_integration/apis/data_streams/list.ts
Labels: backport, Team:apm, Team:Fleet

#133375 [8.3] [Cloud Posture] Add test for uninstall resources
  x-pack/plugins/cloud_security_posture/server/lib/task_manager_util.ts
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/cloud_security_posture/server/tasks/findings_stats_task.ts
Labels: backport

#133369 [Fleet] Fix maintenance options for rolling upgrades
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/constants.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
Labels: bug, release_note:skip, Team:Fleet, auto-backport, v8.3.0, v8.4.0

#133371 [Cases] refactor useConnectors and useGetActionLicense hook to use react-query
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.test.tsx
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.tsx
  x-pack/plugins/cases/public/components/all_cases/index.test.tsx
  x-pack/plugins/cases/public/components/all_cases/index.tsx
  x-pack/plugins/cases/public/components/all_cases/selector_modal/all_cases_selector_modal.tsx
  x-pack/plugins/cases/public/components/case_view/case_view_page.test.tsx
  x-pack/plugins/cases/public/components/case_view/components/case_view_activity.test.tsx
  x-pack/plugins/cases/public/components/case_view/components/case_view_activity.tsx
  x-pack/plugins/cases/public/components/case_view/index.test.tsx
  x-pack/plugins/cases/public/components/configure_cases/__mock__/index.tsx
  x-pack/plugins/cases/public/components/configure_cases/index.test.tsx
  x-pack/plugins/cases/public/components/configure_cases/index.tsx
  x-pack/plugins/cases/public/components/create/flyout/create_case_flyout.tsx
  x-pack/plugins/cases/public/components/create/form.test.tsx
  x-pack/plugins/cases/public/components/create/form_context.test.tsx
  x-pack/plugins/cases/public/components/create/form_context.tsx
  x-pack/plugins/cases/public/components/create/index.test.tsx
  x-pack/plugins/cases/public/components/create/mock.ts
  x-pack/plugins/cases/public/components/recent_cases/index.tsx
  x-pack/plugins/cases/public/components/use_push_to_service/index.test.tsx
  x-pack/plugins/cases/public/components/use_push_to_service/index.tsx
  x-pack/plugins/cases/public/containers/configure/use_connectors.test.tsx
  x-pack/plugins/cases/public/containers/configure/use_connectors.tsx
  x-pack/plugins/cases/public/containers/constants.ts
  x-pack/plugins/cases/public/containers/use_get_action_license.test.tsx
  x-pack/plugins/cases/public/containers/use_get_action_license.tsx
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.4.0

#133278 Unskip flaky test in Alerting API Integration
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/es_query/alert.ts
Labels: release_note:fix, auto-backport, Team:DataDiscovery, v8.3.0, v8.4.0

#133387 [8.3] [Fleet] Fix maintenance options for rolling upgrades (#133369)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/constants.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
Labels: backport, Team:Fleet

#133300 [Fleet] Update pinned EPR docker image for 8.3.0
  x-pack/plugins/fleet/README.md
  x-pack/plugins/fleet/server/integration_tests/__snapshots__/cloud_preconfiguration.test.ts.snap
  x-pack/plugins/fleet/server/integration_tests/cloud_preconfiguration.test.ts
  x-pack/plugins/fleet/server/integration_tests/helpers/docker_registry_helper.ts
  x-pack/test/fleet_api_integration/apis/epm/setup.ts
  x-pack/test/fleet_api_integration/config.ts
  x-pack/test/functional/config.base.js
  x-pack/test/functional_synthetics/config.js
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_list.ts
Labels: release_note:skip, Team:Fleet, v8.3.0

#133389 [8.3] [Discover] Fix flaky test by increasing interval between generated events (#133278)
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/es_query/alert.ts
Labels: backport

#132498 remove the flaky test assertion
  x-pack/test/plugin_api_integration/test_suites/task_manager/health_route.ts
Labels: release_note:skip, Team:ResponseOps, v8.3.0

#133364 [Fleet] improve navigation between integration list and details
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/cypress/screens/integrations.ts
  x-pack/plugins/fleet/public/applications/integrations/hooks/index.ts
  x-pack/plugins/fleet/public/applications/integrations/hooks/use_integrations_state.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.test.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/update_button.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/installed_packages.tsx
  x-pack/plugins/fleet/public/constants/page_paths.ts
  x-pack/plugins/fleet/public/types/intra_app_route_state.ts
Labels: release_note:skip, Team:Fleet, auto-backport, v8.3.0, v8.4.0

#133395 [8.3] [SecuritySolution] Hide the "Investigate in TL" button for the agent status field (#132829)
  x-pack/plugins/security_solution/public/common/components/event_details/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/add_to_timeline_cell.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/add_to_timeline_cell.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/summary_value_cell.tsx
Labels: backport

#133357 Avoid using Powershell Invoke-Webrequest alias, "wget"
  x-pack/plugins/fleet/public/components/enrollment_instructions/manual/index.tsx
  x-pack/plugins/fleet/public/components/enrollment_instructions/standalone/index.tsx
Labels: release_note:skip, 💝community, Team:Fleet, auto-backport, v8.3.0, v8.4.0

#133399 [8.3] [Synthetics] Rename synthetics e2e tests (#133161)
  .buildkite/pipelines/pull_request/synthetics_plugin.yml
  .buildkite/scripts/pipelines/pull_request/pipeline.js
  .buildkite/scripts/steps/functional/synthetics_plugin.sh
  x-pack/plugins/synthetics/e2e/journeys/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/synthetics_app.tsx
Labels: backport

#133402 [8.3] [Fleet] improve navigation between integration list and details (#133364)
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/cypress/screens/integrations.ts
  x-pack/plugins/fleet/public/applications/integrations/hooks/index.ts
  x-pack/plugins/fleet/public/applications/integrations/hooks/use_integrations_state.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.test.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/update_button.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/installed_packages.tsx
  x-pack/plugins/fleet/public/constants/page_paths.ts
  x-pack/plugins/fleet/public/types/intra_app_route_state.ts
Labels: backport, Team:Fleet

#133363 [Cases] Improve README
  x-pack/plugins/cases/README.md
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.4.0

#133404 [8.3] Avoid using Powershell Invoke-Webrequest alias, "wget" (#133357)
  x-pack/plugins/fleet/public/components/enrollment_instructions/manual/index.tsx
  x-pack/plugins/fleet/public/components/enrollment_instructions/standalone/index.tsx
Labels: backport, Team:Fleet

#133214 [Infrastructure UI][Rules] Change bucket_scripts to use params for thresholds
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/lib/create_condition_script.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/create_condition_script.ts
  x-pack/test/api_integration/apis/metrics_ui/inventory_threshold_alert.ts
  x-pack/test/api_integration/apis/metrics_ui/metric_threshold_alert.ts
Labels: bug, release_note:fix, Feature:Metrics UI, Team:Infra Monitoring UI, auto-backport, Team: Actionable Observability, v8.3.0, v8.4.0

#133408 [8.3] [Reporting] Fix job completion notification to disappear after 24 hours (#133381)
  x-pack/plugins/reporting/public/lib/__snapshots__/stream_handler.test.ts.snap
  x-pack/plugins/reporting/public/lib/stream_handler.test.ts
  x-pack/plugins/reporting/public/lib/stream_handler.ts
  x-pack/plugins/reporting/public/notifier/job_success.tsx
Labels: backport

#133407 [8.2] [Reporting] Fix job completion notification to disappear after 24 hours (#133381)
  x-pack/plugins/reporting/public/lib/__snapshots__/stream_handler.test.ts.snap
  x-pack/plugins/reporting/public/lib/stream_handler.test.ts
  x-pack/plugins/reporting/public/lib/stream_handler.ts
  x-pack/plugins/reporting/public/notifier/job_success.tsx
Labels: backport

#133365 [Cases] Fix spaces_only integration tests
  x-pack/test/cases_api_integration/spaces_only/tests/common/alerts/get_cases.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/delete_cases.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/find_cases.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/get_case.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/patch_cases.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/post_case.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/reporters/get_reporters.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/status/get_status.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/cases/tags/get_tags.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/comments/delete_comment.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/comments/find_comments.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/comments/get_all_comments.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/comments/get_comment.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/comments/patch_comment.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/comments/post_comment.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/configure/get_configure.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/configure/patch_configure.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/configure/post_configure.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/metrics/get_cases_metrics.ts
  x-pack/test/cases_api_integration/spaces_only/tests/common/user_actions/get_all_user_actions.ts
  x-pack/test/cases_api_integration/spaces_only/tests/trial/cases/push_case.ts
  x-pack/test/cases_api_integration/spaces_only/tests/trial/configure/get_configure.ts
  x-pack/test/cases_api_integration/spaces_only/tests/trial/configure/get_connectors.ts
  x-pack/test/cases_api_integration/spaces_only/tests/trial/configure/patch_configure.ts
  x-pack/test/cases_api_integration/spaces_only/tests/trial/configure/post_configure.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.4.0

#133386 [Security Solution] Update integration name in Endpoint onboarding steps to include Cloud
  x-pack/plugins/security_solution/public/management/components/management_empty_state.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.test.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.3.0, v8.4.0

#133412 [8.3] Add openAPI specifications for cases configure endpoint (#133265)
  docs/api/cases/cases-api-get-cases-by-alert.asciidoc
  docs/api/cases/cases-api-get-configuration.asciidoc
  docs/api/cases/cases-api-set-configuration.asciidoc
  docs/api/cases/cases-api-update-configuration.asciidoc
  x-pack/plugins/cases/docs/openapi/bundled.json
  x-pack/plugins/cases/docs/openapi/bundled.yaml
  x-pack/plugins/cases/docs/openapi/components/parameters/alert_id.yaml
  x-pack/plugins/cases/docs/openapi/components/parameters/configuration_id.yaml
  x-pack/plugins/cases/docs/openapi/components/parameters/owner.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/case_configure_response_properties.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/case_response_properties.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/closure_types.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/connector_properties.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/connector_types.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/owners.yaml
  x-pack/plugins/cases/docs/openapi/entrypoint.yaml
  x-pack/plugins/cases/docs/openapi/paths/api@cases.yaml
  x-pack/plugins/cases/docs/openapi/paths/api@cases@_find.yaml
  x-pack/plugins/cases/docs/openapi/paths/api@cases@alerts@{alertid}.yaml
  x-pack/plugins/cases/docs/openapi/paths/api@cases@configure.yaml
  x-pack/plugins/cases/docs/openapi/paths/api@cases@configure@{configurationid}.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@alerts@{alertid}.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@configure.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@configure@{configurationid}.yaml
Labels: backport

#133414 [8.3] [Infrastructure UI][Rules] Change bucket_scripts to use params for thresholds (#133214)
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/lib/create_condition_script.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/create_condition_script.ts
  x-pack/test/api_integration/apis/metrics_ui/inventory_threshold_alert.ts
  x-pack/test/api_integration/apis/metrics_ui/metric_threshold_alert.ts
Labels: backport

#132853 esArchiver datastream support
  packages/kbn-es-archiver/src/actions/save.ts
  packages/kbn-es-archiver/src/actions/unload.ts
  packages/kbn-es-archiver/src/lib/docs/generate_doc_records_stream.test.ts
  packages/kbn-es-archiver/src/lib/docs/generate_doc_records_stream.ts
  packages/kbn-es-archiver/src/lib/docs/index_doc_records_stream.test.ts
  packages/kbn-es-archiver/src/lib/docs/index_doc_records_stream.ts
  packages/kbn-es-archiver/src/lib/index.ts
  packages/kbn-es-archiver/src/lib/index_template.test.ts
  packages/kbn-es-archiver/src/lib/index_template.ts
  packages/kbn-es-archiver/src/lib/indices/__mocks__/stubs.ts
  packages/kbn-es-archiver/src/lib/indices/create_index_stream.test.ts
  packages/kbn-es-archiver/src/lib/indices/create_index_stream.ts
  packages/kbn-es-archiver/src/lib/indices/delete_data_stream.ts
  packages/kbn-es-archiver/src/lib/indices/delete_index_stream.test.ts
  packages/kbn-es-archiver/src/lib/indices/delete_index_stream.ts
  packages/kbn-es-archiver/src/lib/indices/generate_index_records_stream.test.ts
  packages/kbn-es-archiver/src/lib/indices/generate_index_records_stream.ts
  packages/kbn-es-archiver/src/lib/records/filter_records_stream.test.ts
  packages/kbn-es-archiver/src/lib/records/filter_records_stream.ts
  packages/kbn-es-archiver/src/lib/stats.ts
Labels: release_note:enhancement, Team:Operations, v8.3.0

#133421 [8.3] [Security Solution] Update integration name in Endpoint onboarding steps to include Cloud (#133386)
  x-pack/plugins/security_solution/public/management/components/management_empty_state.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_list.test.tsx
Labels: backport

#133239 [Security Solution][Endpoint Console][Response Actions] Add the Release response action command to endpoint console
  x-pack/plugins/security_solution/public/management/components/endpoint_console/endpoint_response_actions_console_commands.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_console/release_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_console/release_action.tsx
  x-pack/plugins/security_solution/public/management/hooks/endpoint/use_send_release_endpoint_request.ts
Labels: release_note:skip, backport:skip, Team:Onboarding and Lifecycle Mgt, v8.4.0

#132071 docs: APM spaces
  docs/apm/apm-spaces.asciidoc
  docs/apm/how-to-guides.asciidoc
  docs/apm/images/apm-integration-config.png
  docs/apm/images/apm-roles-config.png
  docs/apm/images/apm-settings.png
  docs/settings/apm-settings.asciidoc
  docs/settings/images/apm-settings.png
Labels: Team:apm, release_note:skip, auto-backport, v8.3.0, v8.2.2

#133442 [8.3] docs: APM spaces (#132071)
  docs/apm/apm-spaces.asciidoc
  docs/apm/how-to-guides.asciidoc
  docs/apm/images/apm-integration-config.png
  docs/apm/images/apm-roles-config.png
  docs/apm/images/apm-settings.png
  docs/settings/apm-settings.asciidoc
  docs/settings/images/apm-settings.png
Labels: backport

#133443 [8.2] docs: APM spaces (#132071)
  docs/apm/apm-spaces.asciidoc
  docs/apm/how-to-guides.asciidoc
  docs/apm/images/apm-integration-config.png
  docs/apm/images/apm-roles-config.png
  docs/apm/images/apm-settings.png
  docs/settings/apm-settings.asciidoc
  docs/settings/images/apm-settings.png
Labels: backport

#133245 [DOCS] Add more PR label advice
  dev_docs/contributing/how_we_use_github.mdx
Labels: release_note:skip, backport:skip, DevDocs, v8.4.0

#133353 docs(NA): adds @kbn/es into ops devdocs
  dev_docs/operations/operations_landing.mdx
  nav-kibana-dev.docnav.json
  packages/kbn-es/BUILD.bazel
  packages/kbn-es/README.mdx
  packages/kbn-es/src/cli_commands/build_snapshots.js
Labels: Team:Operations, release_note:skip, backport:skip, DevDocs, v8.4.0

#133427 [Fleet] Fix EuiComboBox in agent upgrade modal to disallow clear
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
Labels: release_note:skip, Team:Fleet, auto-backport, v8.2.0, v8.3.0

#133462 [8.3] [Fleet] Fix EuiComboBox in agent upgrade modal to disallow clear (#133427)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
Labels: backport, Team:Fleet

#133288 [TSVB] Error messages not centered
  src/plugins/visualizations/public/vis.scss
Labels: Feature:Visualizations, release_note:fix, Team:VisEditors, v8.4.0

#133468 [8.2] Add Elasticsearch Serverless Forwarder to integrations UI (#130085)
  src/plugins/custom_integrations/common/index.ts
  src/plugins/custom_integrations/public/assets/placeholders/logo_esf.svg
  src/plugins/custom_integrations/server/external_integration/index.ts
  src/plugins/custom_integrations/server/plugin.test.ts
  src/plugins/custom_integrations/server/plugin.ts
  test/api_integration/apis/custom_integration/integrations.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
Labels: backport, Team:Integrations, Team:Fleet

#133465 [Cases] fix edit tags list displaying old values after edit
  x-pack/plugins/cases/public/components/tag_list/index.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, auto-backport, v8.3.0, v8.4.0

#133477 [7.17] Add Elasticsearch Serverless Forwarder to integrations UI (#130085)
  src/plugins/custom_integrations/common/index.ts
  src/plugins/custom_integrations/public/assets/placeholders/logo_esf.svg
  src/plugins/custom_integrations/server/external_integration/index.ts
  src/plugins/custom_integrations/server/plugin.test.ts
  src/plugins/custom_integrations/server/plugin.ts
  test/api_integration/apis/custom_integration/integrations.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
Labels: backport, Team:Integrations

#133491 [Synthetics] Add uptime team to exploratory view
  .github/CODEOWNERS
Labels: release_note:skip, v8.4.0

#133490 [8.3] fix edit tags list displaying old values after edit (#133465)
  x-pack/plugins/cases/public/components/tag_list/index.tsx
Labels: backport

#133334 [Lens] Fix discover drilldown for non-time field case
  x-pack/plugins/lens/public/app_plugin/lens_top_nav.tsx
  x-pack/plugins/lens/public/app_plugin/show_underlying_data.test.ts
  x-pack/plugins/lens/public/app_plugin/show_underlying_data.ts
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/utils.tsx
  x-pack/plugins/lens/public/types.ts
Labels: release_note:fix, Team:VisEditors, Feature:Lens, auto-backport, v8.3.0, v8.4.0

#133271 [Actionable Observability] Add functional tests for the Rule Details page
  x-pack/plugins/observability/public/pages/rule_details/components/item_value_rule_summary.tsx
  x-pack/plugins/observability/public/pages/rule_details/components/page_title.tsx
  x-pack/plugins/observability/public/pages/rule_details/index.tsx
  x-pack/test/functional/services/observability/alerts/common.ts
  x-pack/test/observability_functional/apps/observability/index.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/add_to_case.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/alert_disclaimer.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/alert_status.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/index.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/pagination.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/rule_stats.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/state_synchronization.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/table_storage.ts
  x-pack/test/observability_functional/apps/observability/pages/rule_details_page.ts
  x-pack/test/observability_functional/apps/observability/pages/rules_page.ts
Labels: release_note:skip, auto-backport, Team: Actionable Observability, v8.3.0, v8.4.0

#133492 [8.3] [Security Solution] Fixes pinned and notes count display for three digit numbers on timeline (#132848)
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/common_styles.ts
Labels: backport

#133493 [8.3] [Security Solution] Avoid displaying cases information when the alert details flyout is opened on the preview (#132840)
  x-pack/plugins/security_solution/public/common/components/event_details/event_details.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/related_cases.tsx
Labels: backport

#132660 [Data] Add support of expression AST generation to the search source
  src/plugins/data/common/search/aggs/agg_configs.test.ts
  src/plugins/data/common/search/aggs/agg_configs.ts
  src/plugins/data/common/search/expressions/esaggs/request_handler.test.ts
  src/plugins/data/common/search/expressions/esaggs/request_handler.ts
  src/plugins/data/common/search/expressions/kibana_context.test.ts
  src/plugins/data/common/search/expressions/kibana_context.ts
  src/plugins/data/common/search/search_source/create_search_source.test.ts
  src/plugins/data/common/search/search_source/mocks.ts
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/data/common/search/search_source/search_source.ts
  src/plugins/data/common/search/search_source/search_source_service.test.ts
  src/plugins/data/public/search/expressions/esaggs.test.ts
  src/plugins/data/public/search/expressions/esaggs.ts
  src/plugins/data/public/search/search_service.ts
  src/plugins/data/server/search/expressions/esaggs.test.ts
  src/plugins/data/server/search/expressions/esaggs.ts
  src/plugins/data/server/search/search_service.ts
  src/plugins/discover/public/services/saved_searches/get_saved_searches.test.ts
  src/plugins/discover/public/services/saved_searches/saved_searches_utils.test.ts
  src/plugins/vis_types/gauge/public/__snapshots__/to_ast.test.ts.snap
  src/plugins/vis_types/gauge/public/to_ast.test.ts
  src/plugins/vis_types/gauge/public/to_ast.ts
  src/plugins/vis_types/gauge/public/to_ast_esaggs.ts
  src/plugins/vis_types/gauge/public/vis_type/gauge.tsx
  src/plugins/vis_types/gauge/public/vis_type/goal.tsx
  src/plugins/vis_types/heatmap/public/to_ast.test.ts
  src/plugins/vis_types/heatmap/public/to_ast.ts
  src/plugins/vis_types/heatmap/public/to_ast_esaggs.ts
  src/plugins/vis_types/heatmap/public/vis_type/heatmap.tsx
  src/plugins/vis_types/metric/public/__snapshots__/to_ast.test.ts.snap
  src/plugins/vis_types/metric/public/metric_vis_type.ts
  src/plugins/vis_types/metric/public/to_ast.test.ts
  src/plugins/vis_types/metric/public/to_ast.ts
  src/plugins/vis_types/pie/public/__snapshots__/to_ast.test.ts.snap
  src/plugins/vis_types/pie/public/to_ast.ts
  src/plugins/vis_types/pie/public/to_ast_esaggs.ts
  src/plugins/vis_types/pie/public/vis_type/pie.ts
  src/plugins/vis_types/table/public/table_vis_type.ts
  src/plugins/vis_types/table/public/to_ast.test.ts
  src/plugins/vis_types/table/public/to_ast.ts
  src/plugins/vis_types/tagcloud/public/__snapshots__/to_ast.test.ts.snap
  src/plugins/vis_types/tagcloud/public/tag_cloud_type.ts
  src/plugins/vis_types/tagcloud/public/to_ast.test.ts
  src/plugins/vis_types/tagcloud/public/to_ast.ts
  src/plugins/vis_types/vislib/public/to_ast.test.ts
  src/plugins/vis_types/vislib/public/to_ast.ts
  src/plugins/vis_types/vislib/public/to_ast_esaggs.ts
  src/plugins/vis_types/vislib/public/to_ast_pie.test.ts
  src/plugins/vis_types/vislib/public/to_ast_pie.ts
  src/plugins/vis_types/xy/public/to_ast.test.ts
  src/plugins/vis_types/xy/public/to_ast.ts
  src/plugins/vis_types/xy/public/to_ast_esaggs.ts
  src/plugins/vis_types/xy/public/vis_types/area.ts
  src/plugins/vis_types/xy/public/vis_types/histogram.ts
  src/plugins/vis_types/xy/public/vis_types/horizontal_bar.ts
  src/plugins/vis_types/xy/public/vis_types/line.ts
  src/plugins/visualizations/public/embeddable/to_ast.ts
  src/plugins/visualizations/public/vis_types/base_vis_type.ts
  src/plugins/visualizations/public/vis_types/types.ts
Labels: review, Feature:Search, Team:AppServicesSv, release_note:skip, v8.4.0

#133496 [8.3] pass decorated server to routes (#133264)
  x-pack/plugins/monitoring/server/routes/index.ts
Labels: backport

#133460 [TSVB2Lens] Use pick_max instead of clamp for positive only
  src/plugins/vis_types/timeseries/public/trigger_action/get_series.test.ts
  src/plugins/vis_types/timeseries/public/trigger_action/metrics_helpers.ts
  src/plugins/vis_types/timeseries/public/trigger_action/supported_metrics.ts
Labels: release_note:enhancement, Feature:TSVB, Team:VisEditors, Feature:Lens, backport:skip, v8.4.0

#133504 [8.3] [Actionable Observability] Add functional tests for the Rule Details page (#133271)
  x-pack/plugins/observability/public/pages/rule_details/components/item_value_rule_summary.tsx
  x-pack/plugins/observability/public/pages/rule_details/components/page_title.tsx
  x-pack/plugins/observability/public/pages/rule_details/index.tsx
  x-pack/test/functional/services/observability/alerts/common.ts
  x-pack/test/observability_functional/apps/observability/index.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/add_to_case.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/alert_disclaimer.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/alert_status.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/index.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/pagination.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/rule_stats.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/state_synchronization.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/table_storage.ts
  x-pack/test/observability_functional/apps/observability/pages/rule_details_page.ts
  x-pack/test/observability_functional/apps/observability/pages/rules_page.ts
Labels: backport

#133506 [7.17] [Discover] Fix csv export with relative time filter from discover main view (#123206)
  src/plugins/discover/public/application/apps/main/services/discover_state.ts
  src/plugins/discover/public/application/apps/main/utils/get_sharing_data.ts
  x-pack/test/functional/apps/discover/reporting.ts
Labels: backport

#133420 [Fleet] Update bundled versions of elastic_agent and fleet_server integrations
  fleet_packages.json
Labels: release_note:skip, Team:Fleet, v8.3.0

#133232 [Security Solution][Investigations] - Fix no data found on bulk update & reorg files
  x-pack/plugins/security_solution/public/common/lib/cell_actions/add_to_timeline.test.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/add_to_timeline.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/copy.test.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/copy.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/default_cell_actions.test.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/default_cell_actions.ts
  x-pack/plugins/security_solution/public/common/lib/cell_actions/default_cell_actions.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/field_value.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/filter_for.test.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/filter_for.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/filter_out.test.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/filter_out.tsx
  x-pack/plugins/security_solution/public/common/lib/cell_actions/helpers.tsx
Labels: technical debt, release_note:skip, backport:skip, Team: SecuritySolution, Team:Threat Hunting:Investigations, v8.4.0

#133410 [SecuritySolution] Only allow alerts to added to cases
  x-pack/plugins/security_solution/public/common/mock/mock_detection_alerts.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_add_to_case_actions.tsx
Labels: release_note:fix, auto-backport, Team:Threat Hunting:Investigations, v8.3.0

#125334 Add item descriptions to edit button screen reader labels in TableListView
  src/plugins/kibana_react/public/table_list_view/table_list_view.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:fix, Team:AppServicesSv, v8.1.0, v8.2.0

#133295 [data views][Lens] Only use Data Views API to load data views
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/dimension_panel.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/droppable/droppable.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/indexpattern.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/filters/filters.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/formula_editor.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/math_completion.test.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/formula/editor/math_completion.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/index.ts
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/last_value.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/percentile.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/percentile_ranks.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/ranges/ranges.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/static_value.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/terms/terms.test.tsx
Labels: WIP, Team:VisEditors, release_note:skip, Feature:Lens, auto-backport, v8.3.0, v8.4.0

#133463 Add coloring package storybook preview in CI
  .buildkite/scripts/steps/storybooks/build_and_upload.js
Labels: Team:VisEditors, release_note:skip, backport:skip, v8.4.0

#133500 [Stack Monitoring] Relax check on `cgroup` key in test
  x-pack/test/api_integration/apis/monitoring/apm/instances.js
Labels: Team:Infra Monitoring UI, release_note:skip, Feature:Stack Monitoring, auto-backport, v8.0.2, v8.1.4, 7.17.5, v8.2.3, v8.3.1

#133522 [8.3] [SecuritySolution] Only allow alerts to added to cases (#133410)
  x-pack/plugins/security_solution/public/common/mock/mock_detection_alerts.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_add_to_case_actions.tsx
Labels: backport

#133247 [Security Solution] Re-enable unmapped fields column in timeline
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, Team:Threat Hunting:Investigations, Team:Threat Hunting:Explore, v8.3.0, v8.4.0, v8.2.3

#133502 Move contribution declarations to the bottom of LICENSE files
  packages/elastic-safer-lodash-set/LICENSE
  packages/kbn-handlebars/LICENSE
Labels: release_note:skip, auto-backport, v8.4.0, v7.17.5, v8.2.3, v8.3.1

#133529 [8.3] [Security Solution] Hide empty state for timeline when graph overlay is rendered (#132835)
  x-pack/plugins/timelines/public/components/t_grid/integrated/index.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/integrated/index.tsx
Labels: backport

#133527 [8.2] [Stack Monitoring] Relax check on `cgroup` key in test (#133500)
  x-pack/test/api_integration/apis/monitoring/apm/instances.js
Labels: backport

#133391 [data views] remove ensureDefaultDataView and unused deprecated types
  src/plugins/data/common/index.ts
  src/plugins/data/public/index.ts
  src/plugins/data/server/index.ts
  src/plugins/data_views/common/data_views/data_views.ts
  src/plugins/data_views/common/data_views/ensure_default_data_view.ts
  src/plugins/data_views/common/index.ts
  src/plugins/data_views/common/lib/errors.ts
  src/plugins/data_views/common/types.ts
  src/plugins/data_views/kibana.json
  src/plugins/data_views/public/data_views/index.ts
  src/plugins/data_views/public/data_views/redirect_no_index_pattern.tsx
  src/plugins/data_views/public/index.ts
  src/plugins/data_views/public/plugin.ts
  x-pack/plugins/maps/server/data_indexing/create_doc_source.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Data Views, Team:AppServicesSv, release_note:skip, v8.4.0

#133531 [8.3] [ML] Fixes handling of unrecognised URLs (#133157)
  x-pack/plugins/ml/public/application/components/ml_page/ml_page.tsx
  x-pack/plugins/ml/public/application/components/ml_page/side_nav.tsx
  x-pack/plugins/ml/public/application/routing/use_active_route.ts
  x-pack/plugins/ml/public/application/routing/use_active_route.tsx
  x-pack/test/functional/apps/ml/permissions/read_ml_access.ts
  x-pack/test/functional/services/ml/overview_page.ts
Labels: backport

#133305 [Security Solutions] Remove hover actions from Authentication Successes and Failures column
  x-pack/plugins/security_solution/public/common/components/authentication/__snapshots__/authentications_host_table.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/authentication/__snapshots__/authentications_user_table.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/authentication/helpers.tsx
Labels: bug, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, Team:Threat Hunting:Explore, v8.4.0, v8.2.3, v8.3.1

#133535 [8.3] [Security Solution] Re-enable unmapped fields column in timeline (#133247)
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.test.tsx
  x-pack/plugins/timelines/public/components/t_grid/body/index.tsx
Labels: backport

#133537 [8.3] Move contribution declarations to the bottom of LICENSE files (#133502)
  packages/elastic-safer-lodash-set/LICENSE
  packages/kbn-handlebars/LICENSE
Labels: backport

#133366 [ML] Fix bucket span initialisation on the Anomaly Explorer page
  x-pack/plugins/ml/public/application/explorer/anomaly_timeline_state_service.ts
  x-pack/test/functional/apps/ml/anomaly_detection/anomaly_explorer.ts
Labels: :ml, Feature:Anomaly Detection, release_note:skip, auto-backport, Team:ML, v8.3.0, v8.4.0

#133335 Don't load connectors and connector types when there isn't an encryptionKey
  src/plugins/discover/public/application/main/components/top_nav/open_alerts_popover.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_add.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_add.tsx
Labels: release_note:fix, Team:ResponseOps, Feature:Alerting/RulesFramework, v8.3.0

#132384 [Screenshotting] fix server crash with non-numeric width or height
  x-pack/examples/reporting_example/kibana.json
  x-pack/examples/reporting_example/public/containers/main.tsx
  x-pack/plugins/canvas/public/components/workpad_header/share_menu/utils.ts
  x-pack/plugins/reporting/common/errors/index.ts
  x-pack/plugins/reporting/common/errors/map_to_reporting_error.test.ts
  x-pack/plugins/reporting/common/errors/map_to_reporting_error.ts
  x-pack/plugins/reporting/common/test/fixtures.ts
  x-pack/plugins/reporting/server/export_types/common/generate_png.ts
  x-pack/plugins/reporting/server/export_types/png/execute_job/index.ts
  x-pack/plugins/reporting/server/export_types/png_v2/execute_job.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf/execute_job/index.ts
  x-pack/plugins/reporting/server/export_types/printable_pdf_v2/execute_job.ts
  x-pack/plugins/reporting/server/usage/__snapshots__/reporting_usage_collector.test.ts.snap
  x-pack/plugins/reporting/server/usage/get_export_stats.test.ts
  x-pack/plugins/reporting/server/usage/schema.test.ts
  x-pack/plugins/reporting/server/usage/schema.ts
  x-pack/plugins/reporting/server/usage/types.ts
  x-pack/plugins/screenshotting/common/errors.ts
  x-pack/plugins/screenshotting/common/index.ts
  x-pack/plugins/screenshotting/common/layout.ts
  x-pack/plugins/screenshotting/public/index.ts
  x-pack/plugins/screenshotting/server/formats/pdf/index.ts
  x-pack/plugins/screenshotting/server/formats/png.ts
  x-pack/plugins/screenshotting/server/layouts/base_layout.ts
  x-pack/plugins/screenshotting/server/layouts/canvas_layout.ts
  x-pack/plugins/screenshotting/server/layouts/create_layout.ts
  x-pack/plugins/screenshotting/server/layouts/mock.ts
  x-pack/plugins/screenshotting/server/layouts/preserve_layout.ts
  x-pack/plugins/screenshotting/server/layouts/print_layout.ts
  x-pack/plugins/screenshotting/server/screenshots/observable.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/test/reporting_api_integration/reporting_and_security/index.ts
  x-pack/test/reporting_api_integration/reporting_and_security/security_roles_privileges.ts
  x-pack/test/reporting_api_integration/reporting_and_security/validation.ts
Labels: release_note:skip, Team:AppServicesUx, v8.4.0

#133538 [7.17] Move contribution declarations to the bottom of LICENSE files (#133502)
  packages/elastic-safer-lodash-set/LICENSE
Labels: backport

#133405 [Security Solution][Endpoint] New endpoint policy response UI and fleet UI for integrations in agent details page
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_details/agent_details_integrations.tsx
  x-pack/plugins/fleet/public/types/ui_extensions.ts
  x-pack/plugins/security_solution/public/management/components/policy_response/policy_response.tsx
  x-pack/plugins/security_solution/public/management/components/policy_response/policy_response_action_item.tsx
  x-pack/plugins/security_solution/public/management/components/policy_response/policy_response_wrapper.test.tsx
  x-pack/plugins/security_solution/public/management/components/policy_response/policy_response_wrapper.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_response_extension.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team:Fleet, Team:Onboarding and Lifecycle Mgt, v8.4.0

#133238 [Synthetics] Fixed error telemetry event channel name
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/constants.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/types.ts
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.ts
Labels: release_note:skip, v8.3.0, v8.4.0

#133542 [8.3] [Security Solutions] Remove hover actions from Authentication Successes and Failures column (#133305)
  x-pack/plugins/security_solution/public/common/components/authentication/__snapshots__/authentications_host_table.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/authentication/__snapshots__/authentications_user_table.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/authentication/helpers.tsx
Labels: backport

#133453 [Enterprise Search] Apply two-column layout to overview page header
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/product_selector.tsx
Labels: Feature:Plugins, release_note:skip, auto-backport, Team:EnterpriseSearch, v8.3.0, v8.4.0

#133554 [8.3] [Synthetics] Fixed error telemetry event channel name (#133238)
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/constants.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/telemetry/types.ts
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.ts
Labels: backport

#133556 [8.3] [Inspector] Disambigutate request names (#133511)
  src/plugins/inspector/public/views/requests/components/disambiguate_request_names.test.ts
  src/plugins/inspector/public/views/requests/components/disambiguate_request_names.ts
  src/plugins/inspector/public/views/requests/components/requests_view.tsx
Labels: backport

#133555 [8.2] [Inspector] Disambigutate request names (#133511)
  src/plugins/inspector/public/views/requests/components/disambiguate_request_names.test.ts
  src/plugins/inspector/public/views/requests/components/disambiguate_request_names.ts
  src/plugins/inspector/public/views/requests/components/requests_view.tsx
Labels: backport

#133559 [8.3] Apply two-column layout to overview page header (#133453)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/product_selector.tsx
Labels: backport

#133545 Added the console CCS test.
  test/functional/apps/console/_console_ccs.ts
  test/functional/apps/console/index.js
  test/functional/config.ccs.ts
Labels: Feature:Console, Feature:Dev Tools, Team:QA, test_ui_functional, release_note:skip, Feature:Functional Testing, auto-backport, v8.4.0, v8.3.1

#133446 [Controls] Hide in Print Mode
  src/plugins/dashboard/public/application/embeddable/viewport/dashboard_viewport.tsx
Labels: Feature:Dashboard, release_note:fix, Feature:Input Control, Feature:Reporting, Team:Presentation, loe:hours, impact:low, v8.3.0, v8.4.0

#133577 [8.3] Added the console CCS test. (#133545)
  test/functional/apps/console/_console_ccs.ts
  test/functional/apps/console/index.js
  test/functional/config.ccs.ts
Labels: backport

#133576 [8.3] Hide controls when dashboard is in print mode (#133446)
  src/plugins/dashboard/public/application/embeddable/viewport/dashboard_viewport.tsx
Labels: backport

#133582 [8.3] Update pinned EPR docker image for 8.3.0 (#133300)
  x-pack/plugins/fleet/README.md
  x-pack/plugins/fleet/server/integration_tests/__snapshots__/cloud_preconfiguration.test.ts.snap
  x-pack/plugins/fleet/server/integration_tests/cloud_preconfiguration.test.ts
  x-pack/plugins/fleet/server/integration_tests/helpers/docker_registry_helper.ts
  x-pack/test/fleet_api_integration/apis/epm/setup.ts
  x-pack/test/fleet_api_integration/config.ts
  x-pack/test/functional/config.base.js
  x-pack/test/functional_synthetics/config.js
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_list.ts
Labels: backport, Team:Fleet

#133521 [8.3] Update bundled versions of elastic_agent and fleet_server integrations (#133420)
  fleet_packages.json
Labels: backport

#132839 [Response Ops] Adds recovery context for ES query rule type
  x-pack/plugins/stack_alerts/server/alert_types/es_query/action_context.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/action_context.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/executor.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/executor.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/index.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/lib/fetch_es_query.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/lib/fetch_search_source_query.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/lib/fetch_search_source_query.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/lib/get_search_params.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/rule_type.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/rule_type.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/rule_type_params.test.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/rule_type_params.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/types.ts
  x-pack/plugins/stack_alerts/server/alert_types/es_query/util.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/es_query/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/es_query/rule.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/builtin_alert_types/lib/create_test_data.ts
Labels: release_note:enhancement, Team:ResponseOps, Feature:Alerting/RuleTypes, v8.4.0

#131331 [Security Solution]Migrate hosts queries to use fields API instead of _source
  x-pack/plugins/osquery/common/search_strategy/osquery/common/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/common/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/hosts/uncommon_processes/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/users/authentications/index.ts
  x-pack/plugins/security_solution/common/search_strategy/security_solution/users/common/index.ts
  x-pack/plugins/security_solution/public/common/components/authentication/authentications_host_table.tsx
  x-pack/plugins/security_solution/public/common/components/authentication/authentications_user_table.tsx
  x-pack/plugins/security_solution/public/common/containers/authentications/index.tsx
  x-pack/plugins/security_solution/public/hosts/components/uncommon_process_table/index.tsx
  x-pack/plugins/security_solution/public/hosts/containers/uncommon_processes/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/details/details_tabs.tsx
  x-pack/plugins/security_solution/public/hosts/pages/details/index.tsx
  x-pack/plugins/security_solution/public/hosts/pages/details/types.ts
  x-pack/plugins/security_solution/public/hosts/pages/hosts.tsx
  x-pack/plugins/security_solution/public/hosts/pages/hosts_tabs.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/authentications_query_tab_body.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/hosts_query_tab_body.tsx
  x-pack/plugins/security_solution/public/hosts/pages/navigation/types.ts
  x-pack/plugins/security_solution/public/hosts/pages/navigation/uncommon_process_query_tab_body.tsx
  x-pack/plugins/security_solution/public/hosts/pages/types.ts
  x-pack/plugins/security_solution/server/search_strategy/helpers/get_flattened_fields.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/cti/event_enrichment/query.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/cti/event_enrichment/query.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/cti/event_enrichment/response.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/all/query.all_hosts.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/details/query.host_details.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/kpi/authentications/query.hosts_kpi_authentications.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/kpi/hosts/query.hosts_kpi_hosts.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/kpi/unique_ips/query.hosts_kpi_unique_ips.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/last_first_seen/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/last_first_seen/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/last_first_seen/query.first_or_last_seen_host.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/overview/query.overview_host.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/__mocks__/index.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/dsl/query.dsl.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/helpers.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/helpers.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/hosts/uncommon_processes/index.ts
  x-pack/test/api_integration/apis/security_solution/host_details.ts
  x-pack/test/api_integration/apis/security_solution/hosts.ts
  x-pack/test/api_integration/apis/security_solution/uncommon_processes.ts
Labels: release_note:skip, Team:Threat Hunting:Explore, v8.4.0

#132978 [Stack Monitoring] Runbook updates from support debugging
  x-pack/plugins/monitoring/dev_docs/runbook/diagnostic_queries.md
Labels: Team:Infra Monitoring UI, release_note:skip, Feature:Stack Monitoring, backport:skip, v8.3.0

#132798 [Lens] Disable appLeave when opening Lens in new Tab
  src/plugins/embeddable/public/lib/state_transfer/embeddable_state_transfer.ts
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/osquery/public/packs/pack_queries_status_table.tsx
Labels: Feature:Embedding, enhancement, release_note:skip, Team:Asset Management, Feature:Osquery, v8.4.0

#133376 [Cloud Posture] add info callout in rules page
  x-pack/plugins/cloud_security_posture/public/pages/rules/index.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/translations.ts
Labels: release_note:skip, auto-backport, Team:Cloud Security Posture, v8.3.0, v8.4.0

#132494 [Console] Improve UX around handling multiple requests
  src/plugins/console/public/application/containers/editor/legacy/console_editor/editor_output.tsx
  src/plugins/console/public/application/hooks/use_send_current_request/send_request.ts
  src/plugins/console/public/application/models/legacy_core_editor/create_readonly.ts
  src/plugins/console/public/application/models/legacy_core_editor/mode/output.ts
  src/plugins/console/public/application/models/legacy_core_editor/mode/output_highlight_rules.js
  src/plugins/console/public/application/models/legacy_core_editor/mode/output_highlight_rules.test.ts
  src/plugins/console/public/application/models/legacy_core_editor/mode/output_highlight_rules.ts
  src/plugins/console/public/styles/_app.scss
  test/functional/apps/console/_console.ts
  test/functional/page_objects/console_page.ts
Labels: release_note:enhancement, Feature:Console, Feature:Dev Tools, Team:Deployment Management, v8.4.0

#133596 [8.3] [Cloud Posture] add info callout in rules page (#133376)
  x-pack/plugins/cloud_security_posture/public/pages/rules/index.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/translations.ts
Labels: backport

#132191 [Console] Handle encoded characters in API requests
  src/plugins/console/server/lib/proxy_request.test.ts
  src/plugins/console/server/lib/proxy_request.ts
  src/plugins/console/server/routes/api/console/proxy/create_handler.ts
Labels: Feature:Console, Feature:Dev Tools, release_note:fix, Team:Deployment Management, auto-backport, v8.4.0, v8.3.1

#133141 [AggConfigs] Use correct time zone for time shifting
  src/plugins/data/common/search/aggs/agg_config.test.ts
  src/plugins/data/common/search/aggs/agg_config.ts
  src/plugins/data/common/search/aggs/agg_configs.test.ts
  src/plugins/data/common/search/aggs/agg_configs.ts
  src/plugins/data/common/search/aggs/agg_types.ts
  src/plugins/data/common/search/aggs/aggs_service.test.ts
  src/plugins/data/common/search/aggs/aggs_service.ts
  src/plugins/data/common/search/aggs/buckets/_terms_order_helper.ts
  src/plugins/data/common/search/aggs/buckets/_terms_other_bucket_helper.test.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/date_histogram.test.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/date_histogram.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/date_range.test.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/date_range.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/filters.test.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/histogram.test.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/ip_range.test.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/range.test.ts
  src/plugins/data/common/search/aggs/buckets/create_filter/terms.test.ts
  src/plugins/data/common/search/aggs/buckets/date_histogram.ts
  src/plugins/data/common/search/aggs/buckets/date_range.test.ts
  src/plugins/data/common/search/aggs/buckets/date_range.ts
  src/plugins/data/common/search/aggs/buckets/filters.test.ts
  src/plugins/data/common/search/aggs/buckets/geo_hash.test.ts
  src/plugins/data/common/search/aggs/buckets/histogram.test.ts
  src/plugins/data/common/search/aggs/buckets/multi_terms.test.ts
  src/plugins/data/common/search/aggs/buckets/range.test.ts
  src/plugins/data/common/search/aggs/buckets/rare_terms.test.ts
  src/plugins/data/common/search/aggs/buckets/shard_delay.test.ts
  src/plugins/data/common/search/aggs/buckets/significant_terms.test.ts
  src/plugins/data/common/search/aggs/buckets/significant_text.test.ts
  src/plugins/data/common/search/aggs/buckets/terms.test.ts
  src/plugins/data/common/search/aggs/index.test.ts
  src/plugins/data/common/search/aggs/metrics/filtered_metric.test.ts
  src/plugins/data/common/search/aggs/metrics/median.test.ts
  src/plugins/data/common/search/aggs/metrics/parent_pipeline.test.ts
  src/plugins/data/common/search/aggs/metrics/percentile_ranks.test.ts
  src/plugins/data/common/search/aggs/metrics/percentiles.test.ts
  src/plugins/data/common/search/aggs/metrics/sibling_pipeline.test.ts
  src/plugins/data/common/search/aggs/metrics/single_percentile.test.ts
  src/plugins/data/common/search/aggs/metrics/single_percentile_rank.test.ts
  src/plugins/data/common/search/aggs/metrics/std_deviation.test.ts
  src/plugins/data/common/search/aggs/metrics/top_hit.test.ts
  src/plugins/data/common/search/aggs/metrics/top_metrics.test.ts
  src/plugins/data/common/search/aggs/test_helpers/mock_agg_types_registry.ts
  src/plugins/data/common/search/aggs/utils/infer_time_zone.test.ts
  src/plugins/data/common/search/aggs/utils/infer_time_zone.ts
  src/plugins/data/common/search/aggs/utils/time_splits.ts
  src/plugins/data/common/search/expressions/esaggs/create_filter.test.ts
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/data/common/search/tabify/buckets.test.ts
  src/plugins/data/common/search/tabify/buckets.ts
  src/plugins/data/common/search/tabify/get_columns.test.ts
  src/plugins/data/common/search/tabify/response_writer.test.ts
  src/plugins/data/common/search/tabify/tabify.test.ts
  src/plugins/data/common/search/utils.ts
  src/plugins/data/public/search/aggs/aggs_service.ts
  src/plugins/data/public/search/aggs/mocks.ts
  src/plugins/data/public/search/session/sessions_mgmt/lib/date_string.ts
  src/plugins/data/server/search/aggs/aggs_service.ts
  src/plugins/data/server/search/aggs/mocks.ts
Labels: Feature:Aggregations, release_note:fix, Team:VisEditors, v8.4.0

#133530 [Fleet] Ensure that Elastic Agent is installed when updating policy with monitoring_enabled
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
Labels: release_note:fix, Team:Fleet, auto-backport, v8.3.0, v8.2.3

#133495 Update manifests for agent on kubernetes with new permissions
  x-pack/plugins/fleet/server/services/elastic_agent_manifest.ts
Labels: release_note:enhancement, Team:Fleet, v8.4.0

#133598 [Fleet] Add cypress test for bulk upgrade
  x-pack/plugins/fleet/cypress/integration/agent.spec.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/current_bulk_upgrade_callout.tsx
Labels: release_note:skip, Team:Fleet, auto-backport, v8.3.0, v8.4.0

#133601 [8.3] [Console] Handle encoded characters in API requests (#132191)
  src/plugins/console/server/lib/proxy_request.test.ts
  src/plugins/console/server/lib/proxy_request.ts
  src/plugins/console/server/routes/api/console/proxy/create_handler.ts
Labels: backport

#133603 [8.3] [Fleet] Ensure that Elastic Agent is installed when updating policy with monitoring_enabled (#133530)
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
Labels: backport, Team:Fleet

#133489 [Fleet] Use package policy id in output permission instead of name
  x-pack/plugins/fleet/server/integration_tests/__snapshots__/cloud_preconfiguration.test.ts.snap
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/monitoring_permissions.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.ts
Labels: release_note:skip, Team:Fleet, auto-backport, v8.3.0, v8.4.0

#133604 [8.2] [Fleet] Ensure that Elastic Agent is installed when updating policy with monitoring_enabled (#133530)
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
Labels: backport, Team:Fleet

#133606 [8.3] [Fleet] Add cypress test for bulk upgrade (#133598)
  x-pack/plugins/fleet/cypress/integration/agent.spec.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/current_bulk_upgrade_callout.tsx
Labels: backport, Team:Fleet

#133609 [8.3] [Fleet] Use package policy id in output permission instead of name (#133489)
  x-pack/plugins/fleet/server/integration_tests/__snapshots__/cloud_preconfiguration.test.ts.snap
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/monitoring_permissions.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.test.ts
  x-pack/plugins/fleet/server/services/agent_policies/package_policies_to_agent_permissions.ts
Labels: backport, Team:Fleet

#132849 [Cloud Posture] use query service
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_container.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/use_latest_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/use_resource_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/use_findings_by_resource.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/error_callout.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_distribution_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_search_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/translations.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/types.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/use_findings_count.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/utils.ts
Labels: release_note:skip, auto-backport, Team:Cloud Security Posture, v8.3.0, v8.4.0

#133297 [SecuritySolution] Comma-separate array values in the alerts table
  x-pack/plugins/security_solution/public/common/mock/mock_timeline_data.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.tsx
Labels: release_note:enhancement, auto-backport, Team:Threat Hunting:Investigations, v8.3.0, v8.4.0

#133614 [8.3] [Cloud Posture] use query service (#132849)
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_container.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/use_latest_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/use_resource_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/use_findings_by_resource.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/error_callout.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_distribution_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_search_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/translations.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/types.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/use_findings_count.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/utils.ts
Labels: backport

#133617 [8.3] [SecuritySolution] Comma-separate array values in the alerts table (#133297)
  x-pack/plugins/security_solution/public/common/mock/mock_timeline_data.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/plain_column_renderer.tsx
Labels: backport

#133619 [8.2] [Fleet] Use search limit constant to fetch policies instead of an hardcoded 1000 (#132958)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/step_select_agent_policy.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/step_select_hosts.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_reassign_policy_modal/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/enrollment_token_list_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/hooks/use_fleet_server_unhealthy.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/settings.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/update_button.tsx
  x-pack/plugins/fleet/public/hooks/use_agent_enrollment_flyout_data.ts
Labels: backport, Team:Fleet

#133594 [Shared UX][No Data] Enable custom descriptions on Agent cards
  packages/kbn-shared-ux-components/src/page_template/no_data_page/no_data_card/elastic_agent_card.component.tsx
  packages/kbn-shared-ux-components/src/page_template/no_data_page/no_data_card/elastic_agent_card.stories.tsx
  packages/kbn-shared-ux-components/src/page_template/no_data_page/no_data_card/elastic_agent_card.test.tsx
  packages/kbn-shared-ux-components/src/page_template/no_data_page/no_data_card/elastic_agent_card.tsx
  packages/kbn-shared-ux-components/src/page_template/no_data_page/types.ts
Labels: review, loe:hours, release_note:skip, impact:medium, backport:skip, Team:Shared UX, v8.4.0

#133624 [Fleet] Do not allow to select a time in the past
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/hooks.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/hooks.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
Labels: release_note:skip, Team:Fleet, auto-backport, v8.3.0, v8.4.0

#133629 [8.3] [ML] Prevent duplicate field selection in detector modal (#133018)
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/advanced_detector_modal/advanced_detector_modal.tsx
Labels: backport

#133567 [Cases] Edits tooltip for average time to close
  x-pack/plugins/cases/public/components/all_cases/translations.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, auto-backport, v8.4.0, v8.3.1

#133552 [DOCS] Clarify case duration
  docs/api/cases/cases-api-find-cases.asciidoc
  docs/api/cases/cases-api-get-case.asciidoc
  x-pack/plugins/cases/docs/openapi/bundled.json
  x-pack/plugins/cases/docs/openapi/bundled.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/case_response_properties.yaml
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Cases, auto-backport, v8.4.0, v8.3.1

#133565 [Security Solution] Advanced Endpoint Policy otions for 8.3
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.3.0, v8.4.0

#133644 [7.12] [DOCS] Reformats the Configure Kibana settings tables into definition lists (#132531)
  docs/setup/settings.asciidoc
Labels: backport

#133040 Move UX JS Errors out of APM UI
  x-pack/plugins/apm/server/routes/rum_client/__snapshots__/queries.test.ts.snap
  x-pack/plugins/apm/server/routes/rum_client/queries.test.ts
  x-pack/plugins/apm/server/routes/rum_client/route.ts
  x-pack/plugins/ux/common/elasticsearch_fieldnames.ts
  x-pack/plugins/ux/e2e/journeys/index.ts
  x-pack/plugins/ux/e2e/journeys/ux_js_errors.journey.ts
  x-pack/plugins/ux/public/components/app/rum_dashboard/impactful_metrics/js_errors.tsx
  x-pack/plugins/ux/public/hooks/use_js_errors_query.tsx
  x-pack/plugins/ux/public/services/data/__snapshots__/js_errors_query.test.ts.snap
  x-pack/plugins/ux/public/services/data/js_errors_query.test.ts
  x-pack/plugins/ux/public/services/data/js_errors_query.ts
  x-pack/plugins/ux/public/services/data/projections.ts
  x-pack/test/apm_api_integration/tests/csm/js_errors.spec.ts
Labels: chore, Team:apm, technical debt, Team:uptime, release_note:skip, backport:skip, v8.4.0

#133634 [Fleet] Use `terms_enum` query by default for data streams
  x-pack/plugins/fleet/common/constants/data_streams.ts
  x-pack/plugins/fleet/server/routes/data_streams/get_data_streams_query_metadata.ts
  x-pack/plugins/fleet/server/routes/data_streams/get_metadata_from_aggregations.ts
  x-pack/plugins/fleet/server/routes/data_streams/handlers.ts
  x-pack/plugins/fleet/server/routes/data_streams/index.ts
Labels: release_note:skip, Team:Fleet, v8.4.0

#133638 [8.3] [Cases] Edits tooltip for average time to close (#133567)
  x-pack/plugins/cases/public/components/all_cases/translations.ts
Labels: backport

#133626 [Fleet] Fix release fallback logic in Fleet package archive code
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/common/types/models/package_spec.ts
  x-pack/plugins/fleet/public/applications/integrations/hooks/use_merge_epr_with_replacements.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/index.tsx
  x-pack/plugins/fleet/server/services/epm/archive/parse.ts
  x-pack/test/fleet_api_integration/apis/epm/install_by_upload.ts
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/access/agent/stream/log.yml.hbs
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/access/elasticsearch/ingest_pipeline/default.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/access/fields/base-fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/access/fields/ecs.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/access/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/access/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/error/agent/stream/log.yml.hbs
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/error/elasticsearch/ingest_pipeline/default.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/error/fields/base-fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/error/fields/ecs.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/error/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/error/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/status/agent/stream/stream.yml.hbs
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/status/fields/base-fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/status/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/status/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/dataset/status/sample_event.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/docs/README.md
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/img/apache_httpd_server_status.png
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/img/kibana-apache.png
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/img/logo_apache.svg
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/dashboard/apache-Logs-Apache-Dashboard-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/dashboard/apache-Metrics-Apache-HTTPD-server-status-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/search/Apache-HTTPD-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/search/Apache-access-logs-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/search/Apache-errors-log-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-HTTPD-CPU-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-HTTPD-Hostname-list-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-HTTPD-Load1-slash-5-slash-15-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-HTTPD-Scoreboard-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-HTTPD-Total-accesses-and-kbytes-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-HTTPD-Uptime-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-HTTPD-Workers-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-access-unique-IPs-map-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-browsers-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-error-logs-over-time-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-operating-systems-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-response-codes-of-top-URLs-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/kibana/visualization/Apache-response-codes-over-time-ecs.json
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache-0.1.4/manifest.yml
  x-pack/test/fleet_api_integration/apis/fixtures/direct_upload_packages/apache_invalid_manifest_missing_field_0.1.4.zip
Labels: release_note:skip, Team:Fleet, auto-backport, v8.3.0, v8.4.0
