Repository elastic/kibana, pull requests merged in 2022-10, with the labels that each got.

#141829 Allow custom sources to have control over data sync
  x-pack/plugins/maps/public/classes/layers/raster_tile_layer/raster_tile_layer.test.ts
  x-pack/plugins/maps/public/classes/layers/raster_tile_layer/raster_tile_layer.ts
  x-pack/plugins/maps/public/classes/sources/kibana_tilemap_source/kibana_tilemap_source.js
  x-pack/plugins/maps/public/classes/sources/raster_source/index.ts
  x-pack/plugins/maps/public/classes/sources/tms_source/index.ts
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_source.js
  x-pack/plugins/maps/public/classes/sources/xyz_tms_source/xyz_tms_source.ts
  x-pack/plugins/maps/public/selectors/map_selectors.ts
Labels: Team:Geo, release_note:skip, backport:skip, 💝community, v8.6.0

#142364 changed order of update agents and actions
  x-pack/plugins/fleet/server/services/agents/actions.ts
  x-pack/plugins/fleet/server/services/agents/unenroll.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.ts
Labels: release_note:skip, Team:Fleet

#142299 [Fleet] Bulk action refactor and small fixes
  x-pack/plugins/fleet/cypress/plugins/index.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/tags_add_remove.tsx
  x-pack/plugins/fleet/server/services/agents/action_status.ts
  x-pack/plugins/fleet/server/services/agents/actions.test.ts
  x-pack/plugins/fleet/server/services/agents/actions.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/reassign_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/unenroll.test.ts
  x-pack/plugins/fleet/server/services/agents/unenroll_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/update_agent_tags_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.test.ts
  x-pack/plugins/fleet/server/services/agents/upgrade_action_runner.ts
Labels: release_note:skip, Team:Fleet, v8.5.0, v8.6.0

#141770 [ML] Explain Log Rate Spikes: Fix loading state for grouping.
  x-pack/packages/ml/aiops_components/BUILD.bazel
  x-pack/packages/ml/aiops_components/src/progress_controls/progress_controls.tsx
  x-pack/packages/ml/aiops_components/src/progress_controls/use_animated_progress_bar_background.ts
  x-pack/packages/ml/aiops_components/tsconfig.json
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
Labels: bug, :ml, release_note:skip, v8.5.0, Feature:ML/AIOps, v8.6.0

#142378 [ML] Api tests for ml/modules/jobs_exist/{moduleId}
  x-pack/test/api_integration/apis/ml/modules/index.ts
  x-pack/test/api_integration/apis/ml/modules/jobs_exist.ts
  x-pack/test/functional/services/ml/api.ts
  x-pack/test/functional/services/ml/test_resources.ts
Labels: non-issue, :ml, release_note:skip, v8.5.0, v8.6.0

#142446 [8.5] [ML] Api tests for ml/modules/jobs_exist/{moduleId} (#142378)
  x-pack/test/api_integration/apis/ml/modules/index.ts
  x-pack/test/api_integration/apis/ml/modules/jobs_exist.ts
  x-pack/test/functional/services/ml/api.ts
  x-pack/test/functional/services/ml/test_resources.ts
Labels: backport

#142444 [8.5] [Fleet] Bulk action refactor and small fixes (#142299)
  x-pack/plugins/fleet/cypress/plugins/index.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/tags_add_remove.tsx
  x-pack/plugins/fleet/server/services/agents/action_status.ts
  x-pack/plugins/fleet/server/services/agents/actions.test.ts
  x-pack/plugins/fleet/server/services/agents/actions.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/reassign_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/unenroll.test.ts
  x-pack/plugins/fleet/server/services/agents/unenroll_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/update_agent_tags_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.test.ts
  x-pack/plugins/fleet/server/services/agents/upgrade_action_runner.ts
Labels: backport, Team:Fleet

#142445 [8.5] [ML] Explain Log Rate Spikes: Fix loading state for grouping. (#141770)
  x-pack/packages/ml/aiops_components/BUILD.bazel
  x-pack/packages/ml/aiops_components/src/progress_controls/progress_controls.tsx
  x-pack/packages/ml/aiops_components/src/progress_controls/use_animated_progress_bar_background.ts
  x-pack/packages/ml/aiops_components/tsconfig.json
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
Labels: backport

#142256 [7.17] Fix SO export sorting algorithm (#142078)
  src/core/server/saved_objects/export/saved_objects_exporter.test.ts
  src/core/server/saved_objects/export/sort_objects.test.ts
  src/core/server/saved_objects/export/sort_objects.ts
Labels: backport

#142355 [ML] Add a tooltip for the Avg inference time column
  x-pack/plugins/ml/public/application/trained_models/nodes_overview/allocated_models.tsx
Labels: :ml, release_note:skip, Feature:3rd Party Models, Team:ML, v8.5.0, v8.6.0

#142402 [Unified search] Fixes the problem with the button popover buttons on DSL filters
  src/plugins/unified_search/public/filter_bar/filter_editor/filter_editor.tsx
Labels: Team:AppServicesSv, release_note:skip, Feature:Unified search, backport:prev-minor, v8.5.0, v8.6.0

#142377 [Actionable Observability][ResponseOps] Fix time filter in alerts table
  x-pack/plugins/observability/public/utils/build_es_query/__snapshots__/build_es_query.test.ts.snap
  x-pack/plugins/observability/public/utils/build_es_query/build_es_query.test.ts
  x-pack/plugins/observability/public/utils/build_es_query/build_es_query.ts
Labels: release_note:skip, Team: Actionable Observability, backport:prev-minor, v8.5.0, v8.6.0

#142455 [8.5] [ML] Add a tooltip for the Avg inference time column (#142355)
  x-pack/plugins/ml/public/application/trained_models/nodes_overview/allocated_models.tsx
Labels: backport

#142367 [Lens] Migrate away from EuiPageTemplate/EuiPageContent
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/geo_field_workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel_wrapper.tsx
Labels: Team:VisEditors, release_note:skip, Feature:Lens, v8.6.0

#142454 [ML] Api tests for ml/results/anomaly_search
  x-pack/test/api_integration/apis/ml/results/get_anomaly_search.ts
  x-pack/test/api_integration/apis/ml/results/index.ts
Labels: non-issue, :ml, release_note:skip, v8.5.0, v8.6.0

#141092 Add user profile ID to audit log events
  docs/user/security/audit-logging.asciidoc
  x-pack/plugins/security/common/model/authenticated_user.mock.ts
  x-pack/plugins/security/common/model/authenticated_user.ts
  x-pack/plugins/security/server/audit/audit_events.test.ts
  x-pack/plugins/security/server/audit/audit_events.ts
  x-pack/plugins/security/server/audit/audit_service.test.ts
  x-pack/plugins/security/server/audit/audit_service.ts
  x-pack/plugins/security/server/authentication/authentication_service.test.ts
  x-pack/plugins/security/server/authentication/authenticator.test.ts
  x-pack/plugins/security/server/authentication/authenticator.ts
  x-pack/test/api_integration/apis/security/basic_login.js
  x-pack/test/security_api_integration/tests/kerberos/kerberos_login.ts
  x-pack/test/security_api_integration/tests/login_selector/basic_functionality.ts
  x-pack/test/security_api_integration/tests/oidc/authorization_code_flow/oidc_auth.ts
  x-pack/test/security_api_integration/tests/oidc/implicit_flow/oidc_auth.ts
  x-pack/test/security_api_integration/tests/pki/pki_auth.ts
  x-pack/test/security_api_integration/tests/saml/saml_login.ts
  x-pack/test/security_api_integration/tests/user_profiles/get_current.ts
Labels: release_note:enhancement, Team:Security, backport:skip, Feature:Security/Audit, v8.6.0

#142458 [8.5] [Unified search] Fixes the problem with the button popover buttons on DSL filters (#142402)
  src/plugins/unified_search/public/filter_bar/filter_editor/filter_editor.tsx
Labels: backport

#141349 [Synthetics] Remove unused sync telemetry
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
Labels: Team:uptime, release_note:skip, v8.5.0, v8.6.0

#142210 [Observability] Fix flaky test
  x-pack/plugins/observability/public/components/shared/exploratory_view/series_editor/columns/series_actions.tsx
  x-pack/test/observability_functional/apps/observability/exploratory_view.ts
Labels: failed-test, Team:uptime, release_note:skip, ci:reuse-kibana-build, v8.6.0

#142452 [TSVB] [Annotations] Update label for Time field
  src/plugins/vis_types/timeseries/public/application/components/aggs/field_select/field_select.tsx
  src/plugins/vis_types/timeseries/public/application/components/annotation_row.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:TSVB, release_note:fix, Team:VisEditors, backport:skip, v8.6.0

#142465 [8.5] [ML] Api tests for ml/results/anomaly_search (#142454)
  x-pack/test/api_integration/apis/ml/results/get_anomaly_search.ts
  x-pack/test/api_integration/apis/ml/results/index.ts
Labels: backport

#142468 [8.5] [Synthetics] Remove unused sync telemetry (#141349)
  x-pack/plugins/synthetics/server/routes/telemetry/monitor_upgrade_sender.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
Labels: backport, Team:uptime

#142275 [Security Solution][Endpoint] Move artifact list page and host isolation exception skipped tests to jest integration
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/components/integration_tests/artifact_delete_modal.test.ts
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/integration_tests/artifact_list_page.test.tsx
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/components/integration_tests/form.test.tsx
  x-pack/plugins/security_solution/public/management/pages/host_isolation_exceptions/view/integration_tests/host_isolation_exceptions_list.test.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, v8.6.0

#142162 Added user avatar tooltip
  examples/user_profile_examples/public/panel_with_code_block.tsx
  examples/user_profile_examples/public/plugin.tsx
  examples/user_profile_examples/public/tooltip_demo.tsx
  packages/kbn-user-profile-components/index.ts
  packages/kbn-user-profile-components/src/user_avatar_tip.test.tsx
  packages/kbn-user-profile-components/src/user_avatar_tip.tsx
  packages/kbn-user-profile-components/src/user_profiles_selectable.tsx
  packages/kbn-user-profile-components/src/user_tooltip.test.tsx
  packages/kbn-user-profile-components/src/user_tooltip.tsx
Labels: Team:Security, release_note:skip, backport:skip, Feature:Security/User Profile, v8.6.0

#142469 [Fleet] Check enrollment api token only for created agent policy
  x-pack/plugins/fleet/server/services/agent_policy_create.test.ts
  x-pack/plugins/fleet/server/services/agent_policy_create.ts
  x-pack/plugins/fleet/server/services/api_keys/enrollment_api_key.ts
  x-pack/plugins/fleet/server/services/setup.ts
Labels: release_note:skip, Team:Fleet, v8.6.0

#141808 [DOCS] Adds 8.4.3 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v8.5.0, v8.4.3, v8.6.0

#142229 [APM] Migrate api tests to use apm api client
  x-pack/test/apm_api_integration/common/config.ts
  x-pack/test/apm_api_integration/common/utils/expect_to_reject.ts
  x-pack/test/apm_api_integration/tests/services/annotations.spec.ts
  x-pack/test/apm_api_integration/tests/settings/agent_keys/agent_keys.spec.ts
  x-pack/test/apm_api_integration/tests/settings/anomaly_detection/no_access_user.spec.ts
Labels: release_note:skip, backport:skip

#141947 [7.17] [Security Solution][Timeline][Fix] - Use dynamic language for search bar (#137606)
  x-pack/plugins/security_solution/cypress/integration/timelines/search_or_filter.spec.ts
  x-pack/plugins/security_solution/cypress/screens/timeline.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/store/timeline/epic_local_storage.test.tsx
Labels: backport

#142266 [Enterprise Search] remove "beta" from UI
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_creation/select_engine_type.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/header_actions/create_engine_menu_item.tsx
Labels: release_note:skip, Team:EnterpriseSearch, backport:prev-minor, v8.5.0

#142384 [Security Solution][DOCS][8.5] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, Team:ResponseOps, v8.5.0, v8.6.0

#140725 [Stack Integration] Change time interval for beats tests in preparation for upgrade tests
  x-pack/test/stack_functional_integration/apps/filebeat/filebeat.ts
  x-pack/test/stack_functional_integration/apps/heartbeat/_heartbeat.ts
  x-pack/test/stack_functional_integration/apps/metricbeat/_metricbeat.ts
  x-pack/test/stack_functional_integration/apps/packetbeat/_packetbeat.ts
  x-pack/test/stack_functional_integration/apps/winlogbeat/_winlogbeat.ts
Labels: test, Team:QA, release_note:skip, test-stack-integration, backport:prev-minor, backport:auto-version, v8.5.0, v8.4.2, v8.6.0

#142350 [Security Solution][DOCS][8.0] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, Team:ResponseOps

#142349 [Security Solution][DOCS][7.17] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, backport, release_note:skip, Team:ResponseOps, v7.17.0

#142380 [Security Solution][DOCS][8.3] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, backport, release_note:skip, Team:ResponseOps, v8.3.0

#142352 [Security Solution][DOCS][8.2] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, backport, release_note:skip, Team:ResponseOps, v8.2.0

#142351 [Security Solution][DOCS][8.1] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, release_note:skip, Team:ResponseOps, v8.1.0

#142346 [Security Solution][DOCS][7.16] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, backport, release_note:skip, Team:ResponseOps, v7.16.0

#142336 [TIP] Sync filters and dates with the rest of SIEM
  x-pack/plugins/security_solution/public/threat_intelligence/routes.tsx
  x-pack/plugins/threat_intelligence/kibana.json
  x-pack/plugins/threat_intelligence/public/common/mocks/mock_indicators_filters_context.tsx
  x-pack/plugins/threat_intelligence/public/common/mocks/mock_security_context.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/barchart/wrapper.stories.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/barchart/wrapper.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/containers/indicators_filters/context.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/containers/indicators_filters/indicators_filters.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_aggregated_indicators.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_aggregated_indicators.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_indicators.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_indicators.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/components/query_bar/index.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/components/query_bar/query_bar.stories.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/components/query_bar/query_bar.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/components/query_bar/query_bar.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/hooks/use_filters/use_filters.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/hooks/use_filters/utils.test.ts
  x-pack/plugins/threat_intelligence/public/modules/query_bar/hooks/use_filters/utils.ts
  x-pack/plugins/threat_intelligence/public/types.ts
Labels: release_note:skip, backport:skip, Team: SecuritySolution, Team: Protections Experience

#142491 [8.4] change time interval to 1 year (#140725)
  x-pack/test/stack_functional_integration/apps/filebeat/filebeat.ts
  x-pack/test/stack_functional_integration/apps/heartbeat/_heartbeat.ts
  x-pack/test/stack_functional_integration/apps/metricbeat/_metricbeat.ts
  x-pack/test/stack_functional_integration/apps/packetbeat/_packetbeat.ts
  x-pack/test/stack_functional_integration/apps/winlogbeat/_winlogbeat.ts
Labels: backport

#142260 [APM] Refactoring API test to use synthtrace
  x-pack/test/apm_api_integration/tests/transactions/__snapshots__/error_rate.spec.snap
  x-pack/test/apm_api_integration/tests/transactions/__snapshots__/latency.spec.snap
  x-pack/test/apm_api_integration/tests/transactions/error_rate.spec.ts
  x-pack/test/apm_api_integration/tests/transactions/latency.spec.ts
Labels: Team:APM, release_note:skip, v8.5.0

#142492 [8.5] change time interval to 1 year (#140725)
  x-pack/test/stack_functional_integration/apps/filebeat/filebeat.ts
  x-pack/test/stack_functional_integration/apps/heartbeat/_heartbeat.ts
  x-pack/test/stack_functional_integration/apps/metricbeat/_metricbeat.ts
  x-pack/test/stack_functional_integration/apps/packetbeat/_packetbeat.ts
  x-pack/test/stack_functional_integration/apps/winlogbeat/_winlogbeat.ts
Labels: backport

#142489 [8.5] [Enterprise Search] remove "beta" from UI (#142266)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/engine_creation/select_engine_type.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/header_actions/create_engine_menu_item.tsx
Labels: backport

#132662 [Security Solution][DOCS][7.9-7.11] Cases and rules support for SN connectors
  docs/user/alerting/action-types/servicenow.asciidoc
Labels: Team:Docs, release_note:skip, Team:ResponseOps, v7.10.0, v7.9.0, v7.11.0, auto-backport

#132481 [Security Solution][DOCS][7.12-7.15] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: Team:Docs, release_note:skip, Team:ResponseOps, v7.12.0, v7.14.0, v7.13.0, auto-backport, v7.15.0, v8.3.0

#142502 [8.5] [APM] Refactoring API test to use synthtrace (#142260)
  x-pack/test/apm_api_integration/tests/transactions/__snapshots__/error_rate.spec.snap
  x-pack/test/apm_api_integration/tests/transactions/__snapshots__/latency.spec.snap
  x-pack/test/apm_api_integration/tests/transactions/error_rate.spec.ts
  x-pack/test/apm_api_integration/tests/transactions/latency.spec.ts
Labels: backport

#142416 [Explore] Risk score restart button bug fix
  x-pack/plugins/security_solution/public/common/components/risk_score/risk_score_onboarding/risk_score_restart_button.test.tsx
  x-pack/plugins/security_solution/public/common/components/risk_score/risk_score_onboarding/risk_score_restart_button.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, auto-backport, Team:Threat Hunting:Explore, v8.5.0, v8.6.0

#141909 [Profiling] Fix calculation/formatting of frame info values
  x-pack/plugins/profiling/public/components/flame_graphs_view/flamegraph_information_window.tsx
  x-pack/plugins/profiling/public/components/flame_graphs_view/get_impact_rows.ts
  x-pack/plugins/profiling/public/components/flamegraph.tsx
  x-pack/plugins/profiling/public/components/subchart.tsx
  x-pack/plugins/profiling/public/utils/formatters/as_cost.ts
  x-pack/plugins/profiling/public/utils/formatters/as_duration.ts
  x-pack/plugins/profiling/public/utils/formatters/as_number.test.ts
  x-pack/plugins/profiling/public/utils/formatters/as_number.ts
  x-pack/plugins/profiling/public/utils/formatters/as_percentage.ts
  x-pack/plugins/profiling/public/utils/formatters/as_weight.ts
Labels: bug, release_note:skip, v8.5.0

#141984 [8.5] Hide curl request in Search Index pipelines tab for connector and crawler indices (#141976)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipelines_card.tsx
Labels: backport

#142169 [8.5] Change back the analytics js file url in integration tab (#142114)
  x-pack/plugins/enterprise_search/public/applications/analytics/components/analytics_collection_view/analytics_collection_integrate.tsx
Labels: backport

#142509 [Security Solution][DOCS][7.14] Cases and rules support for SN connectors
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: backport

#142512 [Security Solution][DOCS][7.13] Cases and rules support for SN c…
  docs/management/connectors/action-types/servicenow.asciidoc
Labels: backport

#142515 [Security Solution][DOCS][7.12] Cases and rules support for SN connectors
  docs/user/alerting/action-types/servicenow.asciidoc
Labels: backport

#139157 [RAM] Storybook implementation for triggers actions UI shareable components
  x-pack/plugins/triggers_actions_ui/.storybook/context/action_type_registry.tsx
  x-pack/plugins/triggers_actions_ui/.storybook/context/http.ts
  x-pack/plugins/triggers_actions_ui/.storybook/context/rule_type_registry.ts
  x-pack/plugins/triggers_actions_ui/.storybook/decorator.tsx
  x-pack/plugins/triggers_actions_ui/.storybook/main.ts
  x-pack/plugins/triggers_actions_ui/.storybook/manager.ts
  x-pack/plugins/triggers_actions_ui/.storybook/preview.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_event_log_list.stories.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_event_log_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/test_helpers.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_status_dropdown.stories.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_tag_badge.stories.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_tag_filter.stories.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.stories.tsx
  x-pack/plugins/triggers_actions_ui/tsconfig.json
Labels: release_note:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.5.0

#142511 [8.5] [Profiling] Fix calculation/formatting of frame info values (#141909)
  x-pack/plugins/profiling/public/components/flame_graphs_view/flamegraph_information_window.tsx
  x-pack/plugins/profiling/public/components/flame_graphs_view/get_impact_rows.ts
  x-pack/plugins/profiling/public/components/flamegraph.tsx
  x-pack/plugins/profiling/public/components/subchart.tsx
  x-pack/plugins/profiling/public/utils/formatters/as_cost.ts
  x-pack/plugins/profiling/public/utils/formatters/as_duration.ts
  x-pack/plugins/profiling/public/utils/formatters/as_number.test.ts
  x-pack/plugins/profiling/public/utils/formatters/as_number.ts
  x-pack/plugins/profiling/public/utils/formatters/as_percentage.ts
  x-pack/plugins/profiling/public/utils/formatters/as_weight.ts
Labels: backport

#142508 [8.5] [Explore] Risk score restart button bug fix (#142416)
  x-pack/plugins/security_solution/public/common/components/risk_score/risk_score_onboarding/risk_score_restart_button.test.tsx
  x-pack/plugins/security_solution/public/common/components/risk_score/risk_score_onboarding/risk_score_restart_button.tsx
Labels: backport

#142392 [8.5] [Session View] fix missing metadata info from text-output events
  x-pack/plugins/session_view/public/components/session_view_detail_panel/index.tsx
Labels: bug, release_note:skip, Team: AWP: Visualization, backport:prev-minor, v8.5.0, v8.6.0

#142527 [8.5] fix: missing metadata info from text-ouput events (#142392)
  x-pack/plugins/session_view/public/components/session_view_detail_panel/index.tsx
Labels: backport

#142409 [ML] Fix Index data visualizer doc count when time field is not defined
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/search_strategy/requests/get_document_stats.ts
Labels: release_note:fix, :ml, backport:prev-minor, v8.5.0, v8.6.0, v8.5.1

#142516 [Security Solution][DOCS][7.10] Cases and rules support for SN connectors
  docs/user/alerting/action-types/servicenow.asciidoc
Labels: backport

#142467 [Security Solution] Trusted Apps about text updated to add new docs link
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/artifact_list_page.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/components/no_data_empty_state.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/artifacts_docs_link.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_list.tsx
Labels: release_note:enhancement, Team:Onboarding and Lifecycle Mgt, v8.5.0, v8.6.0

#142406 [Enterprise Search] pipelines copy tweaks
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipeline_modal.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.6.0, v8.5.1

#142532 [8.5] [ML] Fix Index data visualizer doc count when time field is not defined (#142409)
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/search_strategy/requests/get_document_stats.ts
Labels: backport

#142535 [8.5] [Enterprise Search] pipelines copy tweaks (#142406)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipeline_modal.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
Labels: backport

#142534 [8.5] [Security Solution] Trusted Apps about text updated to add new docs link (#142467)
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/artifact_list_page.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/components/no_data_empty_state.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/artifacts_docs_link.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/translations.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/trusted_apps_list.tsx
Labels: backport

#142193 [Osquery] Another batch of small fixes
  x-pack/plugins/osquery/cypress/e2e/roles/alert_test.cy.ts
  x-pack/plugins/osquery/cypress/e2e/roles/t1_analyst.cy.ts
  x-pack/plugins/osquery/cypress/fixtures/saved_objects/rule.ndjson
  x-pack/plugins/osquery/kibana.json
  x-pack/plugins/osquery/public/actions/actions_table.tsx
  x-pack/plugins/osquery/public/common/schemas/ecs/v8.4.0.json
  x-pack/plugins/osquery/public/common/schemas/ecs/v8.5.0.json
  x-pack/plugins/osquery/public/live_queries/form/index.tsx
  x-pack/plugins/osquery/public/live_queries/index.tsx
  x-pack/plugins/osquery/public/packs/packs_table.tsx
  x-pack/plugins/osquery/public/packs/queries/ecs_mapping_editor_field.tsx
  x-pack/plugins/osquery/public/packs/queries/query_flyout.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/edit/form.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/list/index.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/new/form.tsx
  x-pack/plugins/osquery/scripts/roles_users/t1_analyst/role.json
  x-pack/plugins/osquery/scripts/schema_formatter/ecs_formatter.ts
  x-pack/plugins/osquery/server/lib/osquery_app_context_services.ts
  x-pack/plugins/osquery/server/plugin.ts
  x-pack/plugins/osquery/server/routes/live_query/create_live_query_route.ts
  x-pack/plugins/osquery/server/routes/live_query/osquery_parser.ts
  x-pack/plugins/osquery/server/types.ts
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/osquery/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/footer.tsx
Labels: bug, release_note:skip, Team:Asset Management, Feature:Osquery, auto-backport, v8.5.0, v8.6.0

#142259 [Synthetics UI] Serialize errors before sending to redux store to prevent warnings
  x-pack/plugins/synthetics/public/apps/synthetics/state/index_status/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/index_status/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_details/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/effects.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/overview/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/service_locations/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/service_locations/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/synthetics_enablement/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/synthetics_enablement/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/fetch_effect.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/private_locations/index.ts
Labels: bug, Team:uptime, release_note:skip, v8.5.0, v8.6.0

#142524 [Terminal Output] bug fixes to text sizer and missed lines rendered issue.
  x-pack/plugins/session_view/common/constants.ts
  x-pack/plugins/session_view/public/components/session_view/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/hooks.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/hooks.ts
  x-pack/plugins/session_view/public/components/tty_player/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/index.tsx
  x-pack/plugins/session_view/public/components/tty_text_sizer/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_text_sizer/index.tsx
  x-pack/plugins/session_view/server/routes/get_total_io_bytes_route.ts
  x-pack/plugins/session_view/server/routes/io_events_route.ts
Labels: bug, release_note:skip, backport:prev-minor, v8.5.0

#142138 [8.5][Elastic Defend onboarding] Updates to text for Endpoint presets
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_create_extension/endpoint_policy_create_extension.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_create_extension/translations.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, Team: AWP: Visualization, backport:prev-minor, v8.5.0, ci:cloud-deploy, v8.6.0

#141824 [Sample data] replace legacy control visualizations with dashboard controls
  src/plugins/home/public/assets/sample_data_resources/ecommerce/dashboard.webp
  src/plugins/home/public/assets/sample_data_resources/ecommerce/dashboard_dark.webp
  src/plugins/home/public/assets/sample_data_resources/flights/dashboard.webp
  src/plugins/home/public/assets/sample_data_resources/flights/dashboard_dark.webp
  src/plugins/home/public/assets/sample_data_resources/logs/dashboard.webp
  src/plugins/home/public/assets/sample_data_resources/logs/dashboard_dark.webp
  src/plugins/home/server/services/sample_data/data_sets/ecommerce/saved_objects.ts
  src/plugins/home/server/services/sample_data/data_sets/flights/saved_objects.ts
  src/plugins/home/server/services/sample_data/data_sets/logs/saved_objects.ts
  test/analytics/tests/instrumented_events/from_the_browser/loaded_dashboard.ts
  test/functional/apps/home/_sample_data.ts
  test/functional/services/dashboard/expectations.ts
  x-pack/performance/journeys/ecommerce_dashboard.ts
  x-pack/performance/journeys/flight_dashboard.ts
  x-pack/performance/journeys/web_logs_dashboard.ts
  x-pack/test/functional/apps/dashboard/group2/_async_dashboard.ts
  x-pack/test/search_sessions_integration/tests/apps/dashboard/async_search/save_search_session_relative_time.ts
  x-pack/test/upgrade/apps/dashboard/dashboard_smoke_tests.ts
Labels: Team:Presentation, release_note:skip, backport:skip, v8.6.0

#142544 [8.5] [Synthetics UI] Serialize errors before sending to redux store to prevent warnings (#142259)
  x-pack/plugins/synthetics/public/apps/synthetics/state/index_status/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/index_status/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_details/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/effects.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/overview/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/service_locations/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/service_locations/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/synthetics_enablement/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/synthetics_enablement/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/fetch_effect.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/private_locations/index.ts
Labels: backport, Team:uptime

#142505 [Response Ops][Alerting] Fixing bug with using `runSoon` on pre-8.x rule
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/alerting/server/rules_client/tests/run_soon.test.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/run_soon.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, v8.5.0, v8.6.0

#142545 [8.5] [Terminal Output] bug fixes to text sizer and missed lines rendered issue. (#142524)
  x-pack/plugins/session_view/common/constants.ts
  x-pack/plugins/session_view/public/components/session_view/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/hooks.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/hooks.ts
  x-pack/plugins/session_view/public/components/tty_player/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/index.tsx
  x-pack/plugins/session_view/public/components/tty_text_sizer/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_text_sizer/index.tsx
  x-pack/plugins/session_view/server/routes/get_total_io_bytes_route.ts
  x-pack/plugins/session_view/server/routes/io_events_route.ts
Labels: backport

#142546 [8.5] [8.5][Elastic Defend onboarding] Updates to text for Endpoint presets (#142138)
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_create_extension/endpoint_policy_create_extension.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_policy_create_extension/translations.ts
Labels: backport

#142550 [8.5] [Response Ops][Alerting] Fixing bug with using `runSoon` on pre-8.x rule (#142505)
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/alerting/server/rules_client/tests/run_soon.test.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/run_soon.ts
Labels: backport

#140299 [Actionable Observability] Add Alert Details page header
  x-pack/plugins/cases/public/components/case_view/components/case_view_alerts.tsx
  x-pack/plugins/cases/public/mocks.ts
  x-pack/plugins/observability/public/hooks/use_fetch_alert_detail.ts
  x-pack/plugins/observability/public/pages/alert_details/components/alert_details.test.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/alert_details.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/alert_summary.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/header_actions.test.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/header_actions.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/index.ts
  x-pack/plugins/observability/public/pages/alert_details/components/page_title.stories.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/page_title.test.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/page_title.tsx
  x-pack/plugins/observability/public/pages/alert_details/mock/alert.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_snooze_modal.tsx
  x-pack/plugins/triggers_actions_ui/public/common/get_rule_snooze_modal.tsx
  x-pack/plugins/triggers_actions_ui/public/mocks.ts
  x-pack/plugins/triggers_actions_ui/public/plugin.ts
Labels: release_note:skip, Team: Actionable Observability, v8.6.0

#142487 [8.5] Mimic native link behaviour for SPA links (#142304)
  x-pack/plugins/security_solution/public/common/components/links/index.tsx
Labels: backport

#142344 Add Url state parameter for external alerts checkbox
  x-pack/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.test.tsx
  x-pack/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/common/utils/global_query_string/helpers.ts
  x-pack/plugins/security_solution/public/common/utils/global_query_string/index.test.tsx
  x-pack/plugins/security_solution/public/common/utils/global_query_string/index.ts
Labels: enhancement, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.6.0

#142464 [Security Solution][Detections] refactors update rule actions tests
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/update_actions.ts
  x-pack/test/detection_engine_api_integration/utils/index.ts
  x-pack/test/detection_engine_api_integration/utils/rule_to_update_schema.ts
Labels: refactoring, technical debt, release_note:skip, test-coverage, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rules, backport:prev-minor, v8.5.0, v8.6.0

#142543 [8.5] [Osquery] Another batch of small fixes (#142193)
  x-pack/plugins/osquery/cypress/e2e/roles/alert_test.cy.ts
  x-pack/plugins/osquery/cypress/e2e/roles/t1_analyst.cy.ts
  x-pack/plugins/osquery/cypress/fixtures/saved_objects/rule.ndjson
  x-pack/plugins/osquery/kibana.json
  x-pack/plugins/osquery/public/actions/actions_table.tsx
  x-pack/plugins/osquery/public/common/schemas/ecs/v8.4.0.json
  x-pack/plugins/osquery/public/common/schemas/ecs/v8.5.0.json
  x-pack/plugins/osquery/public/live_queries/form/index.tsx
  x-pack/plugins/osquery/public/live_queries/index.tsx
  x-pack/plugins/osquery/public/packs/packs_table.tsx
  x-pack/plugins/osquery/public/packs/queries/ecs_mapping_editor_field.tsx
  x-pack/plugins/osquery/public/packs/queries/query_flyout.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/edit/form.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/list/index.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/new/form.tsx
  x-pack/plugins/osquery/scripts/roles_users/t1_analyst/role.json
  x-pack/plugins/osquery/scripts/schema_formatter/ecs_formatter.ts
  x-pack/plugins/osquery/server/lib/osquery_app_context_services.ts
  x-pack/plugins/osquery/server/plugin.ts
  x-pack/plugins/osquery/server/routes/live_query/create_live_query_route.ts
  x-pack/plugins/osquery/server/routes/live_query/osquery_parser.ts
  x-pack/plugins/osquery/server/types.ts
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/osquery/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/footer.tsx
Labels: backport

#142470 [Security Solution][Endpoint][Response Actions] Gate response actions history page based on license
  x-pack/plugins/security_solution/common/endpoint/service/authz/authz.test.ts
  x-pack/plugins/security_solution/common/endpoint/service/authz/authz.ts
  x-pack/plugins/security_solution/common/endpoint/types/authz.ts
  x-pack/plugins/security_solution/public/common/components/navigation/types.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/use_navigation_items.tsx
  x-pack/plugins/security_solution/public/management/links.test.ts
  x-pack/plugins/security_solution/public/management/links.ts
  x-pack/plugins/security_solution/public/management/pages/index.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, OLM Sprint, v8.5.0

#142450 [Fleet] Allow agent force upgrading to a newer patch release
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.test.ts
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.ts
Labels: release_note:skip, Team:Fleet, backport:all-open

#142320 fix: Make sure 404 step screenshots are rendered as "Not Available" instead of indefinite loading
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor/ping_list/columns/ping_timestamp/ping_timestamp.tsx
Labels: bug, Team:uptime, release_note:skip, v8.4.0, ci:build-cloud-image, v8.5.0

#142479 [SavedObjectClient] Add support to exclude references when searching
  docs/api/saved-objects/find.asciidoc
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/repository.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/repository.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/search_dsl/query_params.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/search_dsl/query_params.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/search_dsl/references_filter.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/search_dsl/references_filter.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/search_dsl/search_dsl.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/search_dsl/search_dsl.ts
  packages/core/saved-objects/core-saved-objects-api-server/src/apis/find.ts
  packages/core/saved-objects/core-saved-objects-browser-internal/src/saved_objects_client.test.ts
  packages/core/saved-objects/core-saved-objects-browser-internal/src/saved_objects_client.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/find.ts
  src/core/server/integration_tests/saved_objects/routes/find.test.ts
  test/api_integration/apis/saved_objects/find.ts
Labels: Team:Core, release_note:plugin_api_changes, Team:Shared UX, Feature:Content Management, v8.6.0

#141921 [Enterprise Search] Add ml doc links
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/configure_pipeline.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/no_models.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/doc_links/doc_links.ts
Labels: Feature:Plugins, release_note:skip, documentation, auto-backport, v8.5.0, v8.6.0

#142047 [ML] Explain Log Rate Spikes: Fix error handling.
  x-pack/plugins/aiops/common/api/explain_log_rate_spikes/actions.ts
  x-pack/plugins/aiops/common/api/explain_log_rate_spikes/index.ts
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_analysis.tsx
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_change_point_p_values.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_frequent_items.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes.ts
Labels: bug, release_note:fix, :ml, ci:build-cloud-image, v8.5.0, Feature:ML/AIOps, v8.6.0

#142482 [Security Solution][Endpoint][Response Actions] Add license check to actions log management RBAC
  x-pack/plugins/security_solution/common/endpoint/service/authz/authz.ts
  x-pack/plugins/security_solution/public/common/components/navigation/types.ts
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/navigation/use_security_solution_navigation/use_navigation_items.tsx
  x-pack/plugins/security_solution/public/management/links.test.ts
  x-pack/plugins/security_solution/public/management/links.ts
  x-pack/plugins/security_solution/public/management/pages/index.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, OLM Sprint, v8.6.0

#142391 [Profiling] Show Top 1000 functions
  x-pack/plugins/profiling/public/components/topn_functions.tsx
Labels: bug, release_note:skip, v8.5.0

#142453 [TSVB][Lens]Fix conversion from static value in timeseries to reference line in lens
  src/plugins/vis_types/timeseries/public/convert_to_lens/lib/configurations/xy/layers.test.ts
  src/plugins/vis_types/timeseries/public/convert_to_lens/lib/configurations/xy/layers.ts
  src/plugins/vis_types/timeseries/public/convert_to_lens/timeseries/index.test.ts
  src/plugins/vis_types/timeseries/public/convert_to_lens/timeseries/index.ts
  src/plugins/vis_types/timeseries/public/convert_to_lens/top_n/index.ts
Labels: Feature:TSVB, Team:VisEditors, release_note:skip, Feature:Lens, backport:prev-minor, v8.5.0, v8.6.0

#142581 [8.5] [Fleet] Allow agent force upgrading to a newer patch release (#142450)
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.test.ts
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.ts
Labels: backport, Team:Fleet

#142583 [8.5] Fix: Render 404 step screenshots as "Image not available". (#142320)
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor/ping_list/columns/ping_timestamp/ping_timestamp.tsx
Labels: backport, Team:uptime

#142582 [8.4] Fix: Render 404 step screenshots as "Image not available". (#142320)
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor/ping_list/columns/ping_timestamp/ping_timestamp.tsx
Labels: backport, Team:uptime

#142540 [Enterprise Search] Allow null description field value to round trip from server
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/update_connector_name_and_description_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_name_and_description/connector_name_and_description.tsx
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
Labels: release_note:skip, backport:prev-minor

#142498 [ResponseOps][Alerting] Fixing flaky test in x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/telemetry/alerting_and_actions_telemetry·ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/telemetry/alerting_and_actions_telemetry.ts
Labels: release_note:skip, Team:ResponseOps

#142483 Fixing Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/disable·ts - alerting api integration security and spaces enabled Alerts - Group 1 alerts disable superuser at space1 should still be able to disable alert when AAD is broken
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/disable.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, v8.6.0

#142585 [8.5] [Infra] Make nav react to Hosts view enabled flag changing (#142477)
  x-pack/plugins/infra/public/plugin.ts
Labels: backport

#142140 [Synthetics] Increase project API payload limit
  src/plugins/bfetch/server/plugin.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor_project.ts
  x-pack/plugins/synthetics/server/server.ts
  x-pack/plugins/synthetics/server/synthetics_route_wrapper.ts
Labels: Feature:ExpressionLanguage, Team:uptime, release_note:skip, v8.5.0, v8.6.0

#140998 Removing esArchiver in favor of testDataLoader for `bulk_get` Saved Objects integration tests
  x-pack/test/common/lib/test_data_loader.ts
  x-pack/test/saved_object_api_integration/common/fixtures/kbn_archiver/default_space.json
  x-pack/test/saved_object_api_integration/common/fixtures/kbn_archiver/space_1.json
  x-pack/test/saved_object_api_integration/common/fixtures/kbn_archiver/space_2.json
  x-pack/test/saved_object_api_integration/common/suites/bulk_get.ts
  x-pack/test/saved_object_api_integration/security_and_spaces/apis/bulk_get.ts
  x-pack/test/saved_object_api_integration/spaces_only/apis/bulk_get.ts
  x-pack/test/spaces_api_integration/common/suites/copy_to_space.ts
  x-pack/test/spaces_api_integration/common/suites/resolve_copy_to_space_conflicts.ts
Labels: Team:Security, release_note:skip, backport:all-open, v8.5.0

#142590 [8.5] [Profiling] Show Top 1000 functions (#142391)
  x-pack/plugins/profiling/public/components/topn_functions.tsx
Labels: backport

#140902 [Console] Refactor Console settings toggles to follow best practices
  src/plugins/console/public/application/components/settings_modal.tsx
  src/plugins/console/public/application/containers/editor/legacy/console_editor/editor.tsx
  src/plugins/console/public/application/hooks/use_send_current_request/use_send_current_request.test.tsx
  src/plugins/console/public/application/hooks/use_send_current_request/use_send_current_request.ts
  src/plugins/console/public/services/settings.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Feature:Console, Feature:Dev Tools, Team:Deployment Management, release_note:skip, >enhancement, v8.6.0

#142536 [Security Solution][Analyzer] Make all analyzer apis have time range as optional
  x-pack/plugins/security_solution/common/endpoint/schema/resolver.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/resolver.cy.ts
  x-pack/plugins/security_solution/public/resolver/data_access_layer/factory.ts
  x-pack/plugins/security_solution/public/resolver/data_access_layer/mocks/generator_tree.ts
  x-pack/plugins/security_solution/public/resolver/data_access_layer/mocks/no_ancestors_two_children.ts
  x-pack/plugins/security_solution/public/resolver/data_access_layer/mocks/no_ancestors_two_children_in_index_called_awesome_index.ts
  x-pack/plugins/security_solution/public/resolver/data_access_layer/mocks/no_ancestors_two_children_with_related_events_on_origin.ts
  x-pack/plugins/security_solution/public/resolver/data_access_layer/mocks/one_node_with_paginated_related_events.ts
  x-pack/plugins/security_solution/public/resolver/store/middleware/current_related_event_fetcher.ts
  x-pack/plugins/security_solution/public/resolver/store/middleware/node_data_fetcher.ts
  x-pack/plugins/security_solution/public/resolver/store/middleware/related_events_fetcher.ts
  x-pack/plugins/security_solution/public/resolver/store/middleware/resolver_tree_fetcher.ts
  x-pack/plugins/security_solution/public/resolver/types.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/events.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/tree/queries/base.ts
Labels: release_note:skip, Feature:Resolver, Team:Threat Hunting:Investigations, v8.5.0

#142588 [8.5] [ML] Explain Log Rate Spikes: Fix error handling. (#142047)
  x-pack/plugins/aiops/common/api/explain_log_rate_spikes/actions.ts
  x-pack/plugins/aiops/common/api/explain_log_rate_spikes/index.ts
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_analysis.tsx
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_change_point_p_values.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_frequent_items.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes.ts
Labels: backport

#142579 [Fleet] Update unenroll logic to account for new API key fields
  x-pack/plugins/fleet/common/types/models/agent.ts
  x-pack/plugins/fleet/server/services/agents/unenroll.test.ts
  x-pack/plugins/fleet/server/services/agents/unenroll_action_runner.ts
Labels: release_note:skip, Team:Fleet, backport:prev-minor

#142594 [8.5] added beta tag for linux config (#142171)
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/components/policy_form_layout.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/events/linux.tsx
Labels: backport

#142519 [TIP] Add full screen feature for indicators table
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_table/hooks/__snapshots__/use_toolbar_options.test.tsx.snap
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_table/hooks/use_toolbar_options.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/indicators_table/hooks/use_toolbar_options.tsx
Labels: release_note:skip, 8.6 candidate, Team: Protections Experience

#142600 [8.5] Removing esArchiver in favor of testDataLoader for `bulk_get` Saved Objects integration tests (#140998)
  x-pack/test/common/lib/test_data_loader.ts
  x-pack/test/saved_object_api_integration/common/fixtures/kbn_archiver/default_space.json
  x-pack/test/saved_object_api_integration/common/fixtures/kbn_archiver/space_1.json
  x-pack/test/saved_object_api_integration/common/fixtures/kbn_archiver/space_2.json
  x-pack/test/saved_object_api_integration/common/suites/bulk_get.ts
  x-pack/test/saved_object_api_integration/security_and_spaces/apis/bulk_get.ts
  x-pack/test/saved_object_api_integration/spaces_only/apis/bulk_get.ts
  x-pack/test/spaces_api_integration/common/suites/copy_to_space.ts
  x-pack/test/spaces_api_integration/common/suites/resolve_copy_to_space_conflicts.ts
Labels: backport

#142597 [8.5] [Synthetics] Increase project API payload limit (#142140)
  src/plugins/bfetch/server/plugin.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor_project.ts
  x-pack/plugins/synthetics/server/server.ts
  x-pack/plugins/synthetics/server/synthetics_route_wrapper.ts
Labels: backport, Feature:ExpressionLanguage, Team:uptime

#142587 [8.5] [Enterprise Search] Add ml doc links (#141921)
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/configure_pipeline.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/no_models.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/doc_links/doc_links.ts
Labels: backport

#142604 [8.5] [Fleet] Update unenroll logic to account for new API key fields (#142579)
  x-pack/plugins/fleet/common/types/models/agent.ts
  x-pack/plugins/fleet/server/services/agents/unenroll.test.ts
  x-pack/plugins/fleet/server/services/agents/unenroll_action_runner.ts
Labels: backport, Team:Fleet

#142063 [Infrastructure UI] Use same no data messaging on hosts view
  x-pack/plugins/infra/public/pages/metrics/hosts/components/hosts_table.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/hosts_content.tsx
Labels: Team:Infra Monitoring UI, release_note:skip, backport:skip

#142560 [TIP] Add update status component
  x-pack/plugins/threat_intelligence/cypress/e2e/indicators.cy.ts
  x-pack/plugins/threat_intelligence/cypress/screens/indicators.ts
  x-pack/plugins/threat_intelligence/public/components/layout/layout.tsx
  x-pack/plugins/threat_intelligence/public/components/update_status/index.ts
  x-pack/plugins/threat_intelligence/public/components/update_status/update_status.test.tsx
  x-pack/plugins/threat_intelligence/public/components/update_status/update_status.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_indicators.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_indicators.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.tsx
Labels: release_note:skip, backport:skip, Team: Protections Experience

#142613 [8.5] [Uptime] Unskip flaky api test (#142595)
  x-pack/test/api_integration/apis/uptime/feature_controls.ts
Labels: backport

#142603 [Synthetics] Serialize errors before sending to redux store
  x-pack/plugins/synthetics/public/apps/synthetics/state/index_status/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/index_status/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_details/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/effects.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/overview/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/service_locations/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/service_locations/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/synthetics_enablement/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/synthetics_enablement/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/fetch_effect.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/private_locations/index.ts
Labels: bug, Team:uptime, release_note:skip, v8.5.0, v8.6.0

#142619 [Enterprise Search] Remove Minutes from connector scheduling frequency dropdown
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling.tsx
Labels: release_note:skip, backport:prev-minor

#141979 [Enterprise Search] Update copy for landing page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/product_selector.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/add_content_empty_prompt/add_content_empty_prompt.tsx
Labels: release_note:skip, Team:EnterpriseSearch, backport:prev-minor

#142620 [Enterprise Search] Update copy for authentication form in Crawler Domain Management view
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/crawler_domain_detail/authentication_panel/authentication_panel_edit_content.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/crawler_domain_detail/authentication_panel/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/constants/labels.ts
Labels: release_note:skip, backport:prev-minor

#142580 [SecuritySolution] Fix for an unxpected empty state in Insights
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_process_ancestry.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_process_ancestry.tsx
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence_from_process_tree.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations, backport:prev-minor

#142621 [8.5] Removing link from native connector advanced configuration steps (#142541)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/native_connector_configuration/native_connector_advanced_configuration.tsx
Labels: backport

#142292 [RAM] Fix rule details page not displaying the rule snooze status properly
  x-pack/plugins/alerting/server/routes/resolve_rule.ts
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/alerting/server/rules_client/tests/resolve.test.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/details.ts
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.4.0, backport:prev-minor, v8.5.0, v8.6.0

#142410 Fixing incorrect error that was being displayed on Share to Spaces flyout
  x-pack/plugins/security/server/routes/authorization/spaces/share_saved_object_permissions.test.ts
  x-pack/plugins/security/server/routes/authorization/spaces/share_saved_object_permissions.ts
Labels: Team:Security, release_note:skip, ci:cloud-deploy, v8.5.1

#142537 Migrate server-side http_resources service to packages
  .github/CODEOWNERS
  package.json
  packages/BUILD.bazel
  packages/core/http/core-http-resources-server-internal/BUILD.bazel
  packages/core/http/core-http-resources-server-internal/README.md
  packages/core/http/core-http-resources-server-internal/index.ts
  packages/core/http/core-http-resources-server-internal/jest.config.js
  packages/core/http/core-http-resources-server-internal/kibana.jsonc
  packages/core/http/core-http-resources-server-internal/package.json
  packages/core/http/core-http-resources-server-internal/src/get_apm_config.test.mocks.ts
  packages/core/http/core-http-resources-server-internal/src/get_apm_config.test.ts
  packages/core/http/core-http-resources-server-internal/src/get_apm_config.ts
  packages/core/http/core-http-resources-server-internal/src/http_resources_service.test.mocks.ts
  packages/core/http/core-http-resources-server-internal/src/http_resources_service.test.ts
  packages/core/http/core-http-resources-server-internal/src/http_resources_service.ts
  packages/core/http/core-http-resources-server-internal/src/index.ts
  packages/core/http/core-http-resources-server-internal/src/test_helpers/http_resources_service_test_mocks.ts
  packages/core/http/core-http-resources-server-internal/src/types.ts
  packages/core/http/core-http-resources-server-internal/tsconfig.json
  packages/core/http/core-http-resources-server-mocks/BUILD.bazel
  packages/core/http/core-http-resources-server-mocks/README.md
  packages/core/http/core-http-resources-server-mocks/index.ts
  packages/core/http/core-http-resources-server-mocks/jest.config.js
  packages/core/http/core-http-resources-server-mocks/kibana.jsonc
  packages/core/http/core-http-resources-server-mocks/package.json
  packages/core/http/core-http-resources-server-mocks/src/http_resources_server.mock.ts
  packages/core/http/core-http-resources-server-mocks/tsconfig.json
  packages/core/http/core-http-resources-server/BUILD.bazel
  packages/core/http/core-http-resources-server/README.md
  packages/core/http/core-http-resources-server/index.ts
  packages/core/http/core-http-resources-server/jest.config.js
  packages/core/http/core-http-resources-server/kibana.jsonc
  packages/core/http/core-http-resources-server/package.json
  packages/core/http/core-http-resources-server/src/index.ts
  packages/core/http/core-http-resources-server/src/types.ts
  packages/core/http/core-http-resources-server/tsconfig.json
  src/core/server/core_app/core_app.test.ts
  src/core/server/core_app/core_app.ts
  src/core/server/index.ts
  src/core/server/internal_types.ts
  src/core/server/mocks.ts
  src/core/server/server.ts
  yarn.lock
Labels: Team:Core, release_note:skip, backport:skip, v8.6.0

#142624 [Security Solution] [Cases] Bugfix, properly encode `externalId` json
  x-pack/plugins/stack_connectors/server/connector_types/cases/cases_webhook/service.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/cases/cases_webhook/service.ts
Labels: release_note:skip, Team:ResponseOps, Team: SecuritySolution, Feature:Cases, auto-backport, Team:Threat Hunting:Explore, v8.5.0, v8.6.0

#142631 [8.5] Remove Minutes from connector scheduling frequency dropdown (#142619)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling.tsx
Labels: backport

#142632 [8.5] [Enterprise Search] Update copy for landing page (#141979)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/product_selector.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/add_content_empty_prompt/add_content_empty_prompt.tsx
Labels: backport

#142633 [8.5] Update copy for authentication header form (#142620)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/crawler_domain_detail/authentication_panel/authentication_panel_edit_content.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/crawler_domain_detail/authentication_panel/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/constants/labels.ts
Labels: backport

#142622 [Fleet] Remove Fleet server upgrade modal
  x-pack/plugins/fleet/common/openapi/components/schemas/settings.yaml
  x-pack/plugins/fleet/common/types/models/settings.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/fleet_server_upgrade_modal.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/index.tsx
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/to_v8_6_0.ts
  x-pack/plugins/fleet/server/types/rest_spec/settings.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team:Fleet, v8.6.0

#142638 [8.5] Checking if security license isEnabled, and if not, throwing 404 that is expected downstream (#142410)
  x-pack/plugins/security/server/routes/authorization/spaces/share_saved_object_permissions.test.ts
  x-pack/plugins/security/server/routes/authorization/spaces/share_saved_object_permissions.ts
Labels: backport

#142478 [Synthetics] preserve id field on monitor attributes
  x-pack/plugins/synthetics/common/constants/monitor_defaults.ts
  x-pack/plugins/synthetics/common/constants/monitor_management.ts
  x-pack/plugins/synthetics/common/formatters/common/formatters.ts
  x-pack/plugins/synthetics/common/formatters/tcp/formatters.ts
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/monitor_types.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/formatter.test.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/fleet_package/common/normalizers.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/fleet_package/tcp/normalizers.ts
  x-pack/plugins/synthetics/server/synthetics_service/formatters/common.ts
  x-pack/plugins/synthetics/server/synthetics_service/formatters/tcp.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/browser_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/http_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/icmp_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/tcp_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter.test.ts
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_project.ts
  x-pack/test/api_integration/apis/uptime/rest/fixtures/browser_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/http_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/icmp_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/tcp_monitor.json
Labels: bug, Team:uptime, release_note:skip, v8.5.0, v8.6.0

#142510 [TIP] Reorganize table folder within indicators module
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/actions_row_cell.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/cell_actions.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/cell_renderer.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/field_browser/field_browser.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/field_browser/field_browser.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/field_browser/index.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/index.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/open_flyout_button/index.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/open_flyout_button/open_flyout_button.stories.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/open_flyout_button/open_flyout_button.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/components/open_flyout_button/open_flyout_button.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/contexts/context.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/contexts/index.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/hooks/__snapshots__/use_toolbar_options.test.tsx.snap
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/hooks/index.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/hooks/use_column_settings.test.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/hooks/use_column_settings.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/hooks/use_toolbar_options.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/hooks/use_toolbar_options.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/index.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/table.stories.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/table.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/components/table/table.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/indicators/indicators_page.tsx
Labels: release_note:skip, Team: Protections Experience, v8.6.0

#142641 [8.5] [Security Solution] [Cases] Bugfix, properly encode `externalId` json (#142624)
  x-pack/plugins/stack_connectors/server/connector_types/cases/cases_webhook/service.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/cases/cases_webhook/service.ts
Labels: backport

#142273 feat(slo): Handle updating SLO
  x-pack/plugins/observability/server/assets/constants.ts
  x-pack/plugins/observability/server/routes/slo/route.ts
  x-pack/plugins/observability/server/services/slo/create_slo.ts
  x-pack/plugins/observability/server/services/slo/delete_slo.test.ts
  x-pack/plugins/observability/server/services/slo/delete_slo.ts
  x-pack/plugins/observability/server/services/slo/fixtures/slo.ts
  x-pack/plugins/observability/server/services/slo/get_slo.test.ts
  x-pack/plugins/observability/server/services/slo/get_slo.ts
  x-pack/plugins/observability/server/services/slo/index.ts
  x-pack/plugins/observability/server/services/slo/slo_repository.test.ts
  x-pack/plugins/observability/server/services/slo/slo_repository.ts
  x-pack/plugins/observability/server/services/slo/transform_generators/__snapshots__/apm_transaction_duration.test.ts.snap
  x-pack/plugins/observability/server/services/slo/transform_generators/__snapshots__/apm_transaction_error_rate.test.ts.snap
  x-pack/plugins/observability/server/services/slo/transform_generators/apm_transaction_duration.test.ts
  x-pack/plugins/observability/server/services/slo/transform_generators/apm_transaction_duration.ts
  x-pack/plugins/observability/server/services/slo/transform_generators/apm_transaction_error_rate.test.ts
  x-pack/plugins/observability/server/services/slo/transform_generators/apm_transaction_error_rate.ts
  x-pack/plugins/observability/server/services/slo/transform_manager.test.ts
  x-pack/plugins/observability/server/services/slo/transform_manager.ts
  x-pack/plugins/observability/server/services/slo/update_slo.test.ts
  x-pack/plugins/observability/server/services/slo/update_slo.ts
  x-pack/plugins/observability/server/types/models/slo.ts
  x-pack/plugins/observability/server/types/rest_specs/slo.ts
  x-pack/plugins/observability/server/types/schema/common.ts
  x-pack/plugins/observability/server/types/schema/indicators.ts
  x-pack/plugins/observability/server/types/schema/slo.ts
Labels: release_note:skip, Team: Actionable Observability, v8.6.0

#142643 [8.5] [Osquery] Fix ResponseActions form logic (#142612)
  x-pack/plugins/osquery/public/shared_components/osquery_response_action_type/index.tsx
Labels: backport

#142609 [Enterprise Search] Index Pipelines JSON Configurations
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipeline_json_badges.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_json_configurations.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_json_configurations_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.ts
  x-pack/plugins/enterprise_search/public/applications/shared/pipelines/is_managed.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/get_pipeline.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.6.0

#142648 [8.5] [Synthetics] preserve id field on monitor attributes (#142478)
  x-pack/plugins/synthetics/common/constants/monitor_defaults.ts
  x-pack/plugins/synthetics/common/constants/monitor_management.ts
  x-pack/plugins/synthetics/common/formatters/common/formatters.ts
  x-pack/plugins/synthetics/common/formatters/tcp/formatters.ts
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/monitor_types.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/formatter.test.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/fleet_package/common/normalizers.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/fleet_package/tcp/normalizers.ts
  x-pack/plugins/synthetics/server/synthetics_service/formatters/common.ts
  x-pack/plugins/synthetics/server/synthetics_service/formatters/tcp.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/browser_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/http_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/icmp_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/tcp_monitor.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter.test.ts
  x-pack/test/api_integration/apis/uptime/rest/add_monitor_project.ts
  x-pack/test/api_integration/apis/uptime/rest/fixtures/browser_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/http_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/icmp_monitor.json
  x-pack/test/api_integration/apis/uptime/rest/fixtures/tcp_monitor.json
Labels: backport, Team:uptime

#142398 [APM] Record e2e tests to Cypress dashboard and enable screenshots, videos and test retries
  .buildkite/scripts/steps/functional/apm_cypress.sh
  x-pack/plugins/apm/ftr_e2e/cypress.config.ts
  x-pack/plugins/apm/ftr_e2e/cypress/e2e/power_user/storage_explorer/storage_explorer.cy.ts
  x-pack/plugins/apm/ftr_e2e/cypress/e2e/read_only_user/service_overview/aws_lambda/aws_lambda.cy.ts
  x-pack/plugins/apm/ftr_e2e/setup_cypress_node_events.ts
Labels: Team:APM, release_note:skip, v8.6.0

#142637 [8.5] [RAM] Fix rule details page not displaying the rule snooze status properly (#142292)
  x-pack/plugins/alerting/server/routes/resolve_rule.ts
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/alerting/server/rules_client/tests/resolve.test.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/details.ts
Labels: backport

#142639 [Enterprise Search] Custom pipelines update optimistically on creation
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipelines_card.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.test.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.ts
Labels: release_note:skip, Team:EnterpriseSearch, backport:prev-minor

#142526 [Guided onboarding] Fix steps status
  src/plugins/guided_onboarding/public/components/guide_panel_step.styles.ts
  src/plugins/guided_onboarding/public/components/guide_panel_step.tsx
Labels: release_note:skip, Team:Journey/Onboarding

#141828 [artifacts] Reuse Cloud image for tests
  .buildkite/scripts/steps/artifacts/cloud.sh
Labels: Team:Operations, release_note:skip

#141309 [ResponseOps] Add kibana.alert.time_range field to Alert-As-Data mappings and populate it
  packages/kbn-rule-data-utils/src/technical_field_names.ts
  x-pack/plugins/rule_registry/README.md
  x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.test.ts
  x-pack/plugins/rule_registry/common/assets/field_maps/technical_rule_field_map.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_type.test.ts
Labels: release_note:enhancement, Team:ResponseOps, Team: Actionable Observability, v8.6.0

#142658 [8.5] [APM] Adding tech preview on the logs tab for AWS lambda service (#142605)
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/index.tsx
Labels: backport, Team:APM

#142659 [8.5] Fix: Consider all summary pings to determine if monitor is only fleet managed. (#142004)
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/action_bar/action_bar.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/overview/monitor_list/columns/test_now_col.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/overview/monitor_list/monitor_list.tsx
Labels: backport, Team:uptime

#142660 [8.5] [Enterprise Search] Custom pipelines update optimistically on creation (#142639)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipelines_card.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.test.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.ts
Labels: backport

#142664 [Maps] Fix third party maps source developer example
  x-pack/examples/third_party_maps_source_example/public/classes/custom_raster_source.tsx
  x-pack/plugins/maps/public/classes/sources/kibana_tilemap_source/kibana_tilemap_source.js
  x-pack/plugins/maps/public/classes/sources/wms_source/wms_source.js
  x-pack/plugins/maps/public/index.ts
Labels: Team:Geo, release_note:skip, v8.6.0

#142529 [Security Solution] [Analyzer] Fixed fullscreen Analyzer not displaying contents fully
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx
Labels: bug, release_note:skip, Feature:Resolver, Team:Threat Hunting, Team:Threat Hunting:Investigations, v8.5.0, v8.6.0

#141137 [Security Solution] Ignore timerange in session view, to mirror session view component
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_session.tsx
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence.ts
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence_from_process_tree.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.5.0

#142662 Use `@emotion/server` for server-side security prompts
  package.json
  x-pack/plugins/security/server/__snapshots__/prompt_page.test.tsx.snap
  x-pack/plugins/security/server/authentication/__snapshots__/unauthenticated_page.test.tsx.snap
  x-pack/plugins/security/server/authorization/__snapshots__/reset_session_page.test.tsx.snap
  x-pack/plugins/security/server/prompt_page.tsx
  yarn.lock
Labels: release_note:skip, v8.5.0

#142677 [8.5] [Security Solution] Ignore timerange in session view, to mirror session view component (#141137)
  x-pack/plugins/security_solution/public/common/components/event_details/insights/related_alerts_by_session.tsx
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence.ts
  x-pack/plugins/security_solution/public/common/containers/alerts/use_alert_prevalence_from_process_tree.ts
Labels: backport

#142678 [8.5][Security Solution][Analyzer] Added margin at the bottom to fully show event description list (#142529)
  x-pack/plugins/security_solution/public/timelines/components/graph_overlay/index.tsx
Labels: backport

#142674 [Security Solution] [Analyzer] Update text for autotune toast
  x-pack/plugins/security_solution/public/resolver/view/use_autotune_timerange.ts
Labels: release_note:skip, Feature:Resolver, Team:Threat Hunting:Investigations, v8.5.0

#142689 [8.5] Use `@emotion/server` for server-side security prompts
  package.json
  x-pack/plugins/security/server/__snapshots__/prompt_page.test.tsx.snap
  x-pack/plugins/security/server/authentication/__snapshots__/unauthenticated_page.test.tsx.snap
  x-pack/plugins/security/server/authorization/__snapshots__/reset_session_page.test.tsx.snap
  x-pack/plugins/security/server/prompt_page.tsx
  yarn.lock
Labels: bug, release_note:skip, v8.5.0
