Repository elastic/kibana, pull requests merged in 2022-05, with the labels that each got.

#131137 [Cloud Security]Update package name
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/common/api/use_cis_kubernetes_integration.tsx
  x-pack/plugins/cloud_security_posture/server/create_indices/create_transforms_indices.ts
  x-pack/plugins/cloud_security_posture/server/create_transforms/benchmark_score_transform.ts
  x-pack/plugins/cloud_security_posture/server/create_transforms/latest_findings_transform.ts
  x-pack/plugins/cloud_security_posture/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/cloud_security_posture/server/fleet_integration/fleet_integration.ts
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/cloud_security_posture/server/plugin.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/benchmarks.ts
  x-pack/plugins/cloud_security_posture/server/routes/compliance_dashboard/compliance_dashboard.ts
  x-pack/plugins/cloud_security_posture/server/routes/compliance_dashboard/get_trends.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.3.0

#131244 Use new cases app icon
  x-pack/plugins/cases/public/components/case_view/does_not_exist.tsx
  x-pack/plugins/cases/public/components/no_privileges/index.tsx
  x-pack/plugins/cases/public/plugin.ts
  x-pack/plugins/cases/server/saved_object_types/cases.ts
  x-pack/plugins/observability/public/pages/cases/empty_page.tsx
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.3.0

#131202 [7.17] [ci] validate that all tests are in a ciGroup (#131173)
  .buildkite/scripts/steps/checks.sh
  .buildkite/scripts/steps/checks/validate_ci_groups.sh
  x-pack/test/alerting_api_integration/security_and_spaces/tests/alerting/index.ts
Labels: backport

#131158 [Synthetics] Fix throttling config formatter
  x-pack/plugins/synthetics/server/lib/synthetics_service/formatters/browser.ts
Labels: release_note:skip, auto-backport, v8.2.0, v8.3.0

#131154 [Stack Monitoring] Use server.publicBaseUrl in Alert links
  x-pack/plugins/monitoring/server/alerts/base_rule.ts
  x-pack/plugins/monitoring/server/static_globals.ts
Labels: release_note:fix, Team:Infra Monitoring UI, Feature:Stack Monitoring, v8.3.0

#126679 [APM] Replace environment dropdown with SuggestionsSelect in landing pages and service overview page
  x-pack/plugins/apm/common/environment_filter_values.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_inventory/service_inventory.spec.ts
  x-pack/plugins/apm/ftr_e2e/cypress/integration/read_only_user/service_overview/service_overview.spec.ts
  x-pack/plugins/apm/public/components/alerting/fields.tsx
  x-pack/plugins/apm/public/components/app/settings/agent_configurations/agent_configuration_create_edit/service_page/form_row_suggestions_select.tsx
  x-pack/plugins/apm/public/components/app/settings/agent_configurations/agent_configuration_create_edit/service_page/service_page.tsx
  x-pack/plugins/apm/public/components/app/settings/custom_link/create_edit_custom_link_flyout/filters_section.tsx
  x-pack/plugins/apm/public/components/shared/environment_filter/index.tsx
  x-pack/plugins/apm/public/components/shared/environment_select/index.tsx
  x-pack/plugins/apm/public/components/shared/suggestions_select/index.tsx
  x-pack/plugins/apm/public/components/shared/suggestions_select/suggestions_select.stories.tsx
  x-pack/plugins/apm/public/context/environments_context/environments_context.tsx
  x-pack/plugins/apm/public/hooks/use_environments_fetcher.tsx
  x-pack/plugins/apm/server/routes/suggestions/get_suggestions.ts
  x-pack/plugins/apm/server/routes/suggestions/get_suggestions_with_terms_aggregation.ts
  x-pack/plugins/apm/server/routes/suggestions/route.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/apm_api_integration/tests/suggestions/suggestions.spec.ts
  x-pack/test/functional/apps/apm/correlations/latency_correlations.ts
Labels: release_note:enhancement, Team:apm, backport:skip, v8.3.0

#131304 [TSVB] Wait for vis update before asserting chart
  test/functional/apps/visualize/_tsvb_chart.ts
Labels: Feature:TSVB, Team:VisEditors, release_note:skip, auto-backport, v8.3.0, v8.2.1

#131309 [8.2] [Synthetics] Fix throttling config formatter (#131158)
  x-pack/plugins/uptime/server/lib/synthetics_service/formatters/browser.ts
Labels: backport, Team:uptime

#131305 [Cloud_security] update constants usages
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/cloud_security_posture/server/create_indices/create_transforms_indices.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.3.0

#131313 [8.2] wait for vis update before asserting chart (#131304)
  test/functional/apps/visualize/_tsvb_chart.ts
Labels: backport

#131133 [Fleet] Move the agents list bulk actions from the table to a new button
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agents_selection_status.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/empty_prompt.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/search_and_filter_bar.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/table_header.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/table_row_actions.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/types.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_reassign_policy_modal/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_unenroll_modal/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
  x-pack/plugins/fleet/public/mocks.ts
Labels: release_note:skip, Team:Fleet, v8.3.0

#131316 [Workplace Search] Remove unused user filtering in groups
  x-pack/plugins/enterprise_search/public/applications/workplace_search/types.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/__mocks__/groups_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/components/group_overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/components/group_row.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/groups.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/groups_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/groups/groups_logic.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/groups.test.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/groups.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: technical debt, release_note:skip, v8.3.0

#130862 [DataViewEditor] Skip empty prompt screen
  src/plugins/data_view_editor/public/components/data_view_editor.tsx
  src/plugins/data_view_editor/public/components/data_view_editor_flyout_content.tsx
  src/plugins/data_view_editor/public/components/data_view_flyout_content_container.tsx
  src/plugins/data_view_editor/public/components/empty_prompts/empty_prompts.tsx
  src/plugins/data_view_editor/public/open_editor.tsx
  src/plugins/data_view_editor/public/types.ts
Labels: release_note:enhancement, Feature:Data Views, Team:AppServicesUx, v8.3.0

#130978 [Controls] Disable time slider control
  src/plugins/controls/public/plugin.ts
  src/plugins/controls/server/plugin.ts
Labels: Feature:Dashboard, Team:Presentation, loe:hours, release_note:skip, impact:low, auto-backport, Project:Controls, v8.3.0, v8.2.1

#131327 [8.2] Disable time slider control (#130978)
  src/plugins/controls/public/plugin.ts
  src/plugins/controls/server/plugin.ts
Labels: backport

#130225 [Synthetics] Prevent duplicate requests on monitor management page
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/hooks/use_monitor_list.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_list/monitor_list_container.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/pages/monitor_management/monitor_management.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/pages/monitor_management/service_allowed_wrapper.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/state/effects/monitor_management.ts
Labels: Team:uptime, release_note:skip, v8.3.0

#131159 [Security Solution][Endpoint] Change Endpoint Dev data generator and data loaders so that `agent.id` and `elastic.agent.id` are identical
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_endpoint_fleet_actions.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_endpoint_hosts.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_fleet_agent.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_fleet_server.ts
  x-pack/plugins/security_solution/common/endpoint/generate_data.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.test.ts
  x-pack/plugins/security_solution/public/resolver/models/indexed_process_tree/__snapshots__/isometric_taxi_layout.test.ts.snap
  x-pack/test/security_solution_endpoint/apps/endpoint/endpoint_list.ts
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, OLM Sprint, v8.3.0

#131263 Add owner to hello_world plugin tutorial manifest
  dev_docs/getting_started/hello_world_plugin.mdx
  dev_docs/getting_started/setting_up_a_development_env.mdx
Labels: release_note:skip, docs, DevDocs, v8.3.0

#131336 [Cloud Posture] Enable benchmarks
  x-pack/plugins/cloud_security_posture/common/constants.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.3.0

#131294 [Cloud Posture] General and Remediation tabs updates
  x-pack/plugins/cloud_security_posture/public/pages/findings/findings_flyout/findings_flyout.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/findings_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/translations.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/types.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.3.0

#130044 [Security Solution][Alerts] Return tuple of included and excluded docs from value list exception evaluation
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/__mocks__/es_results.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/bulk_create_ml_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/executors/ml.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/filters/filter_events.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/filters/filter_events.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/filters/filter_events_against_list.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/filters/filter_events_against_list.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/filters/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/search_after_bulk_create.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/send_telemetry_events.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/send_telemetry_events.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_enrichment.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_event_signal.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/types.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Alerts, v8.3.0

#131300 [Actionable Observability] state containers for last response filtering
  x-pack/plugins/observability/public/pages/rules/index.tsx
  x-pack/plugins/observability/public/pages/rules/state_container/index.tsx
  x-pack/plugins/observability/public/pages/rules/state_container/state_container.tsx
  x-pack/plugins/observability/public/pages/rules/state_container/use_rules_page_state_container.tsx
Labels: release_note:skip, Team: Actionable Observability, v8.3.0

#131185 [Reporting/Maps] fix background tiles in a map panel might not load in a screenshot report
  x-pack/plugins/maps/public/classes/layers/ems_vector_tile_layer/ems_vector_tile_layer.test.ts
  x-pack/plugins/maps/public/classes/layers/ems_vector_tile_layer/ems_vector_tile_layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_vector_layer.test.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_vector_layer.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tile_status_tracker.test.ts
  x-pack/plugins/maps/public/connected_components/mb_map/tile_status_tracker.ts
Labels: release_note:fix, Team:Geo, auto-backport, v8.3.0, v8.2.1

#131026 Change execution to run in Rules app
  x-pack/plugins/triggers_actions_ui/public/application/sections/common/components/execution_duration_chart.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.tsx
Labels: release_note:skip, Team:ResponseOps, auto-backport, Feature:Alerting/RulesManagement, ci:deploy-cloud, v8.3.0, v8.2.1

#131348 [8.2] Change execution to run in Rules app (#131026)
  x-pack/plugins/triggers_actions_ui/public/application/sections/common/components/execution_duration_chart.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.tsx
Labels: backport

#131287 [`@kbn/docs-utils`] Support ConstructSignatures
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/buid_api_declaration.test.ts
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/build_api_declaration.ts
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/build_function_dec.ts
  packages/kbn-docs-utils/src/api_docs/build_api_declarations/utils.ts
  packages/kbn-docs-utils/src/api_docs/build_api_docs_cli.ts
  packages/kbn-docs-utils/src/api_docs/mdx/split_apis_by_folder.test.ts
  packages/kbn-docs-utils/src/api_docs/tests/__fixtures__/src/plugin_a/public/index.ts
  packages/kbn-docs-utils/src/api_docs/tests/snapshots/plugin_a.devdocs.json
  packages/kbn-docs-utils/src/api_docs/tests/snapshots/plugin_a.mdx
  packages/kbn-docs-utils/src/api_docs/tests/snapshots/plugin_a_foo.mdx
  packages/kbn-docs-utils/src/api_docs/tests/snapshots/plugin_b.mdx
Labels: Team:Operations, release_note:skip, backport:skip, v8.3.0

#131266 [Controls] Prevent resizing range slider during selection change
  src/plugins/controls/public/control_types/range_slider/range_slider_popover.tsx
Labels: Feature:Dashboard, Feature:Input Control, Team:Presentation, loe:hours, release_note:skip, impact:high, v8.3.0

#130821 [Maps] show "no results" found for vector tile aggregations when there are no results
  x-pack/plugins/maps/common/descriptor_types/layer_descriptor_types.ts
  x-pack/plugins/maps/public/classes/fields/agg/agg_field.ts
  x-pack/plugins/maps/public/classes/fields/agg/count_agg_field.ts
  x-pack/plugins/maps/public/classes/layers/heatmap_layer/heatmap_layer.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_vector_layer.tsx
  x-pack/plugins/maps/public/classes/util/tile_meta_feature_utils.test.ts
  x-pack/plugins/maps/public/classes/util/tile_meta_feature_utils.ts
  x-pack/plugins/maps/public/connected_components/mb_map/utils.ts
Labels: release_note:fix, Team:Geo, backport:skip, v8.3.0

#131349 131034 format detail panel array values
  x-pack/plugins/session_view/common/mocks/constants/session_view_process.mock.ts
  x-pack/plugins/session_view/common/mocks/responses/session_view_process_events.mock.ts
  x-pack/plugins/session_view/common/types/process_tree/index.ts
  x-pack/plugins/session_view/public/components/detail_panel_copy/index.test.tsx
  x-pack/plugins/session_view/public/components/detail_panel_copy/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/helpers.test.ts
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/helpers.ts
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/index.test.tsx
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/helpers.test.ts
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/helpers.ts
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/index.test.tsx
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/index.tsx
  x-pack/plugins/session_view/public/components/session_view_detail_panel/helpers.test.ts
  x-pack/plugins/session_view/public/components/session_view_detail_panel/helpers.ts
  x-pack/plugins/session_view/public/components/session_view_detail_panel/index.tsx
  x-pack/plugins/session_view/public/constants.ts
  x-pack/plugins/session_view/public/types.ts
  x-pack/plugins/session_view/public/utils/data_or_dash.test.ts
  x-pack/plugins/session_view/public/utils/data_or_dash.ts
Labels: bug, release_note:skip, backport:skip, v8.3.0, v8.2.1, Team: AWP: Visualization

#131350 [8.2] [Reporting/Maps] fix background tiles in a map panel might not load in a screenshot report (#131185)
  x-pack/plugins/maps/public/classes/layers/ems_vector_tile_layer/ems_vector_tile_layer.test.ts
  x-pack/plugins/maps/public/classes/layers/ems_vector_tile_layer/ems_vector_tile_layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_vector_layer.test.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_vector_layer.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tile_status_tracker.test.ts
  x-pack/plugins/maps/public/connected_components/mb_map/tile_status_tracker.ts
Labels: backport

#128531 [responseOps][task manager] fix timing issue in event loop delay test
  x-pack/plugins/task_manager/server/task_events.test.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.2.0

#131362 [7.17] [responseOps][task manager] fix timing issue in event loop delay test (#128531)
  x-pack/plugins/task_manager/server/task_events.test.ts
Labels: backport

#130533 [Unified search] Support fields custom label on filter editor
  src/plugins/data/public/index.ts
  src/plugins/data/public/query/filter_manager/index.ts
  src/plugins/data/public/query/filter_manager/lib/get_display_value.test.ts
  src/plugins/data/public/query/filter_manager/lib/get_display_value.ts
  src/plugins/data_views/common/field.stub.ts
  src/plugins/unified_search/public/apply_filters/apply_filter_popover_content.tsx
  src/plugins/unified_search/public/filter_bar/filter_editor/index.tsx
  src/plugins/unified_search/public/filter_bar/filter_editor/lib/__snapshots__/filter_label.test.tsx.snap
  src/plugins/unified_search/public/filter_bar/filter_editor/lib/filter_label.test.tsx
  src/plugins/unified_search/public/filter_bar/filter_editor/lib/filter_label.tsx
  src/plugins/unified_search/public/filter_bar/filter_item.tsx
  src/plugins/unified_search/public/filter_bar/filter_view/index.tsx
Labels: release_note:enhancement, backport:skip, Feature: Unified search, v8.3.0

#131335 [Fleet] [Debug UI] Implement "Agent Policy Debugger" UI
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/agent_policy_debugger.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/code_block.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/index.tsx
Labels: release_note:skip, Team:Fleet, v8.3.0

#131315 Newsfeed: correctly fallback to default language when user language not available
  src/plugins/newsfeed/public/lib/convert_items.test.ts
  src/plugins/newsfeed/public/lib/convert_items.ts
Labels: Team:Core, release_note:fix, Feature:Newsfeed, auto-backport, v8.3.0, v8.2.1

#130878 [Vega] fix requesting not permitted or used data views
  src/plugins/vis_types/vega/public/data_model/search_api.ts
  src/plugins/vis_types/vega/public/lib/extract_index_pattern.ts
  src/plugins/vis_types/vega/public/vega_view/vega_base_view.js
Labels: release_note:fix, Feature:Vega, Team:VisEditors, auto-backport, v8.3.0, v8.2.1, v7.17.4

#130653 [Unified search] Allows the negative character on the number type fields
  src/plugins/unified_search/public/filter_bar/filter_editor/value_input_type.tsx
Labels: release_note:fix, backport:skip, Feature: Unified search, v8.3.0

#131252 [Discover] Unskip graph security flaky tests
  x-pack/test/functional/apps/graph/feature_controls/graph_security.ts
Labels: Feature:Graph, release_note:skip, backport:skip, Team:DataDiscovery, v8.3.0

#130449 [Visualize][Lens] Sync panels tooltips on dashboard level
  src/plugins/chart_expressions/expression_xy/public/components/__snapshots__/xy_chart.test.tsx.snap
  src/plugins/chart_expressions/expression_xy/public/components/xy_chart.test.tsx
  src/plugins/chart_expressions/expression_xy/public/components/xy_chart.tsx
  src/plugins/chart_expressions/expression_xy/public/expression_renderers/xy_chart_renderer.tsx
  src/plugins/dashboard/public/application/embeddable/dashboard_container.tsx
  src/plugins/dashboard/public/application/embeddable/dashboard_container_factory.tsx
  src/plugins/dashboard/public/application/lib/diff_dashboard_state.test.ts
  src/plugins/dashboard/public/application/state/dashboard_state_slice.ts
  src/plugins/dashboard/public/application/top_nav/dashboard_top_nav.tsx
  src/plugins/dashboard/public/application/top_nav/options.tsx
  src/plugins/dashboard/public/application/top_nav/show_options_popover.tsx
  src/plugins/dashboard/public/application/top_nav/show_share_modal.test.tsx
  src/plugins/dashboard/public/saved_dashboards/saved_dashboard.ts
  src/plugins/dashboard/public/types.ts
  src/plugins/embeddable/common/types.ts
  src/plugins/embeddable/public/lib/embeddables/diff_embeddable_input.test.ts
  src/plugins/embeddable/public/lib/embeddables/diff_embeddable_input.ts
  src/plugins/expressions/common/execution/execution.ts
  src/plugins/expressions/common/execution/types.ts
  src/plugins/expressions/common/expression_renderers/types.ts
  src/plugins/expressions/common/service/expressions_services.ts
  src/plugins/expressions/public/loader.ts
  src/plugins/expressions/public/react_expression_renderer/use_expression_renderer.ts
  src/plugins/expressions/public/render.ts
  src/plugins/expressions/public/types/index.ts
  src/plugins/presentation_util/public/__stories__/render.tsx
  src/plugins/vis_types/timelion/public/components/timelion_vis_component.tsx
  src/plugins/vis_types/timelion/public/timelion_vis_fn.ts
  src/plugins/vis_types/timelion/public/timelion_vis_renderer.tsx
  src/plugins/vis_types/timeseries/public/application/components/timeseries_visualization.tsx
  src/plugins/vis_types/timeseries/public/application/components/vis_types/index.ts
  src/plugins/vis_types/timeseries/public/application/components/vis_types/timeseries/vis.js
  src/plugins/vis_types/timeseries/public/application/visualizations/views/timeseries/index.js
  src/plugins/vis_types/timeseries/public/metrics_fn.ts
  src/plugins/vis_types/timeseries/public/timeseries_vis_renderer.tsx
  src/plugins/vis_types/xy/public/components/xy_settings.tsx
  src/plugins/vis_types/xy/public/expression_functions/xy_vis_fn.ts
  src/plugins/vis_types/xy/public/vis_component.tsx
  src/plugins/vis_types/xy/public/vis_renderer.tsx
  src/plugins/visualizations/public/embeddable/visualize_embeddable.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/__stories__/render.tsx
  x-pack/plugins/canvas/public/lib/create_handlers.ts
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/embeddable/expression_wrapper.tsx
Labels: release_note:enhancement, Feature:Embedding, Feature:ExpressionLanguage, Team:VisEditors, Feature:Vis Editor, Feature:Lens, backport:skip, v8.3.0

#131298 [Cloud Posture] refactor findings layout
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_navigate_findings.ts
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_url_query.ts
  x-pack/plugins/cloud_security_posture/public/common/navigation/constants.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/findings.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/findings.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/findings_group_by_selector.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_container.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/use_latest_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/use_findings_by_resource.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_distribution_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_group_by_selector.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_layout.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_search_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/types.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/use_findings_count.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/utils.ts
Labels: release_note:skip, Team:Cloud Security Posture, v8.3.0

#131364 [8.2] Newsfeed: correctly fallback to default language when user language not available (#131315)
  src/plugins/newsfeed/public/lib/convert_items.test.ts
  src/plugins/newsfeed/public/lib/convert_items.ts
Labels: backport

#131319 [Synthetics] Remove buffer usage
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/action_bar/action_bar.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_config/use_monitor_name.test.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_config/use_monitor_name.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_list/actions.test.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_list/actions.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_list/monitor_list.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/pages/monitor_management/edit_monitor.tsx
Labels: release_note:skip, v8.3.0

#131367 [8.2] [Vega] fix requesting not permitted or used data views (#130878)
  src/plugins/vis_types/vega/public/data_model/search_api.ts
  src/plugins/vis_types/vega/public/lib/extract_index_pattern.ts
  src/plugins/vis_types/vega/public/vega_view/vega_base_view.js
Labels: backport

#130789 [Cases] Introduce tabs in the case view page.
  x-pack/plugins/cases/public/common/navigation/__mocks__/hooks.ts
  x-pack/plugins/cases/public/common/navigation/hooks.ts
  x-pack/plugins/cases/public/common/navigation/paths.ts
  x-pack/plugins/cases/public/components/case_view/case_view_page.test.tsx
  x-pack/plugins/cases/public/components/case_view/case_view_page.tsx
  x-pack/plugins/cases/public/components/case_view/translations.ts
  x-pack/plugins/cases/public/components/case_view/types.ts
  x-pack/plugins/cases/public/components/wrappers/index.tsx
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.3.0

#131213 [Timelion] Fix timezone bucket shift
  src/plugins/vis_types/timelion/server/lib/build_target.js
Labels: Feature:Timelion, release_note:fix, Team:VisEditors, backport:skip, v8.3.0

#131339 Expose refresh option to SavedObjectsImporter
  docs/development/core/server/kibana-plugin-core-server.savedobjectsimporter.import.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectsimporter.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectsimportoptions.md
  docs/development/core/server/kibana-plugin-core-server.savedobjectsimportoptions.refresh.md
  src/core/server/saved_objects/import/import_saved_objects.ts
  src/core/server/saved_objects/import/lib/create_saved_objects.ts
  src/core/server/saved_objects/import/saved_objects_importer.ts
  src/core/server/saved_objects/import/types.ts
  src/core/server/server.api.md
Labels: Team:Core, Feature:Saved Objects, release_note:skip, v8.3.0

#131325 [Cloud Posture] add resource findings page
  x-pack/plugins/cloud_security_posture/public/common/navigation/constants.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_layout.tsx
Labels: release_note:skip, Team:Cloud Security Posture, v8.3.0

#131373 [Lens] remove warnings when running the tests
  src/plugins/chart_expressions/expression_partition_vis/public/components/partition_vis_component.test.tsx
Labels: Team:VisEditors, release_note:skip, backport:skip, v8.3.0

#130102 Fix imports from restricted paths
  src/plugins/embeddable/common/index.ts
  src/plugins/embeddable/common/types.ts
  src/plugins/embeddable/server/index.ts
  src/plugins/embeddable/server/plugin.ts
  src/plugins/embeddable/server/types.ts
  src/plugins/visualizations/common/types.ts
  src/plugins/visualizations/server/embeddable/make_visualize_embeddable_factory.test.ts
  src/plugins/visualizations/server/embeddable/make_visualize_embeddable_factory.ts
  x-pack/plugins/lens/common/embeddable_factory/index.ts
  x-pack/plugins/lens/common/expressions/counter_rate/counter_rate.test.ts
  x-pack/plugins/lens/common/expressions/format_column/format_column.test.ts
  x-pack/plugins/lens/common/expressions/merge_tables/merge_tables.test.ts
  x-pack/plugins/lens/common/expressions/time_scale/time_scale.test.ts
  x-pack/plugins/lens/server/migrations/saved_object_migrations.ts
  x-pack/plugins/lens/server/migrations/types.ts
  x-pack/plugins/maps/common/embeddable/extract.ts
  x-pack/plugins/maps/common/embeddable/inject.ts
Labels: Feature:Embedding, Team:VisEditors, release_note:skip, v8.3.0

#131370 [Fleet] Saved Objects Debugger
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/saved_object_names_combo.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/saved_objects_debugger.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/index.tsx
Labels: release_note:skip, Team:Fleet, v8.3.0

#130662 [Unified search] Optimise the bundle size unified search plugin
  packages/kbn-optimizer/limits.yml
  src/plugins/unified_search/public/autocomplete/providers/kql_query_suggestion/field.tsx
  src/plugins/unified_search/public/autocomplete/providers/kql_query_suggestion/index.ts
  src/plugins/unified_search/public/autocomplete/providers/kql_query_suggestion/lib/escape_kuery.ts
  src/plugins/unified_search/public/autocomplete/providers/kql_query_suggestion/types.ts
  src/plugins/unified_search/public/autocomplete/providers/value_suggestion_provider.ts
  src/plugins/unified_search/public/filter_bar/filter_item.tsx
  src/plugins/unified_search/public/index.ts
  src/plugins/unified_search/public/plugin.ts
Labels: Team:VisEditors, release_note:skip, backport:skip, Feature: Unified search, v8.3.0

#131326 [Infra] Add getMetricIndices to start contract
  x-pack/plugins/infra/server/lib/metrics/make_get_metric_indices.test.ts
  x-pack/plugins/infra/server/lib/metrics/make_get_metric_indices.ts
  x-pack/plugins/infra/server/plugin.ts
  x-pack/plugins/infra/server/types.ts
Labels: Feature:Metrics UI, Team:Infra Monitoring UI, release_note:skip, v8.3.0

#131072 [DOCS] Adds the 7.17.4 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, v7.17.4

#130700 [DOCS] Removes tags from 8.2.0 release docs
  docs/CHANGELOG.asciidoc
  docs/user/whats-new.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, v8.2.0

#131398 [Docs] Add April 2022 newsletter to side-nav
  nav-kibana-dev.docnav.json
Labels: release_note:skip, v9.0.0, APIDocs

#130703 [8.2] [Session View] Update alert icon color to danger (#130612)
  x-pack/plugins/session_view/public/components/process_tree_alert/__snapshots__/index.test.tsx.snap
  x-pack/plugins/session_view/public/components/process_tree_alert/index.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_alert/index.tsx
Labels: backport

#131334 [Cloud Posture] add resource findings table
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/use_resource_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/layout/findings_layout.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/translations.ts
Labels: release_note:skip, Team:Cloud Security Posture, v8.3.0

#131347 [APM] Services without application metrics display an error
  x-pack/plugins/apm/server/routes/metrics/by_agent/shared/memory/index.ts
Labels: release_note:fix, Team:apm, auto-backport, v8.3.0, v8.2.1

#131430 Bump version caniuse-lite
  yarn.lock
Labels: Team:Operations, release_note:skip, auto-backport, v8.2.0, v8.3.0

#131425 [8.2] Add tooltip to session view details panel values (#130829)
  x-pack/plugins/session_view/public/components/detail_panel_copy/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_list_item/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_list_item/styles.ts
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/styles.ts
Labels: backport

#131426 [8.2] [8.2.1] [Session View] Fix jump to alert can add extra space to the right of detail panel (#130935)
  x-pack/plugins/session_view/public/components/detail_panel_alert_tab/styles.ts
  x-pack/plugins/session_view/public/components/session_view/index.tsx
  x-pack/plugins/session_view/public/components/session_view_detail_panel/helpers.ts
  x-pack/plugins/session_view/public/components/session_view_detail_panel/index.test.tsx
  x-pack/plugins/session_view/public/components/session_view_detail_panel/index.tsx
Labels: backport

#131408 changes to the `nav-kibana-dev.docnav.json` file are "docs only"
  .buildkite/scripts/pipelines/pull_request/pipeline.js
Labels: Team:Operations, release_note:skip, auto-backport, v8.3.0, v8.2.1, v7.17.4

#131432 [8.2] Bump version caniuse-lite (#131430)
  yarn.lock
Labels: backport

#131337 [Enterprise Search] Search indices empty states
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_engines.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_indices/search_indices.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_indices/search_indices.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_indices/search_indices_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_indices/search_indices_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/types.ts
  x-pack/plugins/enterprise_search/public/applications/shared/add_content_empty_prompt/add_content_empty_prompt.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/add_content_empty_prompt/add_content_empty_prompt.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/getting_started_steps/getting_started_steps.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/getting_started_steps/getting_started_steps.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.3.0

#131429 [8.2] [APM] Services without application metrics display an error (#131347)
  x-pack/plugins/apm/server/routes/metrics/by_agent/shared/memory/index.ts
Labels: backport, Team:apm

#131428 [ci-stats-reporter] use a default timeout of 60 seconds
  packages/kbn-ci-stats-reporter/src/ci_stats_reporter.ts
  packages/kbn-pm/dist/index.js
Labels: Team:Operations, release_note:skip, auto-backport, v8.3.0, v8.2.1, v7.17.4

#131409 [8.2] [docs] Adds paragraphs on inter-app navigation with application service (#129421)
  dev_docs/key_concepts/navigation.mdx
  docs/developer/best-practices/navigation.asciidoc
  src/core/public/application/types.ts
Labels: backport

#131434 [8.2] changes to the `nav-kibana-dev.docnav.json` file are "docs only" (#131408)
  .buildkite/scripts/pipelines/pull_request/pipeline.js
Labels: backport

#131301 [Actionable Observability] filter o11y rule aggregations
  x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/alerts_page.tsx
Labels: release_note:skip, Team: Actionable Observability, v8.3.0

#131435 [7.17] changes to the `nav-kibana-dev.docnav.json` file are "docs only" (#131408)
  .buildkite/scripts/pipelines/pull_request/pipeline.js
Labels: backport

#131433 [8.2] [8.2.1] [Session View] mouse over highlighting gap fix (#129679)
  x-pack/plugins/session_view/public/components/detail_panel_alert_group_item/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_alert_list_item/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_alert_list_item/styles.ts
  x-pack/plugins/session_view/public/components/detail_panel_description_list/styles.ts
  x-pack/plugins/session_view/public/components/detail_panel_list_item/styles.ts
Labels: backport

#131277 Adding aria-label for discover data grid select document checkbox
  src/plugins/discover/public/components/discover_grid/discover_grid_document_selection.tsx
Labels: Feature:Discover, release_note:fix, Project:Accessibility, backport:skip, v8.3.0

#131438 [8.2] [ci-stats-reporter] use v2 test group APIs (#131001)
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-pm/dist/index.js
Labels: backport

#131441 [8.2] [Session View] fix CSS and Dark Mode issues (#131020)
  x-pack/plugins/session_view/public/components/back_to_investigated_alert/index.tsx
  x-pack/plugins/session_view/public/components/back_to_investigated_alert/styles.ts
  x-pack/plugins/session_view/public/components/process_tree/index.tsx
  x-pack/plugins/session_view/public/components/process_tree/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_alert/__snapshots__/index.test.tsx.snap
  x-pack/plugins/session_view/public/components/process_tree_alert/index.tsx
  x-pack/plugins/session_view/public/components/process_tree_alert/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_node/buttons.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/index.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/index.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_node/use_button_styles.ts
  x-pack/plugins/session_view/public/components/session_view/index.tsx
  x-pack/plugins/session_view/public/components/session_view/styles.ts
  x-pack/plugins/session_view/public/components/session_view_search_bar/index.test.tsx
  x-pack/plugins/session_view/public/components/session_view_search_bar/index.tsx
  x-pack/plugins/session_view/public/components/session_view_search_bar/styles.ts
  x-pack/plugins/session_view/public/hooks/index.ts
  x-pack/plugins/session_view/public/hooks/use_eui_theme.ts
Labels: backport

#131440 [7.17] [ci-stats-reporter] use v2 test group APIs (#131001)
  packages/kbn-dev-utils/src/ci_stats_reporter/ci_stats_reporter.ts
  packages/kbn-pm/dist/index.js
Labels: backport

#131392 [7.17] [Vega] fix requesting not permitted or used data views (#130878)
  src/plugins/vis_types/vega/public/data_model/search_api.ts
  src/plugins/vis_types/vega/public/lib/extract_index_pattern.ts
  src/plugins/vis_types/vega/public/vega_view/vega_base_view.js
Labels: backport

#131345 [CI] Use GCS buckets for bazel remote caching
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/steps/bazel_cache/bootstrap_mac.sh
  .buildkite/scripts/steps/on_merge_ts_refs_api_docs.sh
Labels: Team:Operations, release_note:skip, Feature:CI, auto-backport, v8.3.0, v8.2.1, v7.17.4

#131232 [Actionable Observability] Add license modal to rules table
  x-pack/plugins/observability/public/pages/rules/components/execution_status.tsx
  x-pack/plugins/observability/public/pages/rules/components/manage_license_model.tsx
  x-pack/plugins/observability/public/pages/rules/index.tsx
  x-pack/plugins/observability/public/pages/rules/types.ts
Labels: release_note:skip, Team: Actionable Observability, v8.3.0

#131463 [8.2] [CI] Use GCS buckets for bazel remote caching (#131345)
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/steps/bazel_cache/bootstrap_mac.sh
  .buildkite/scripts/steps/on_merge_ts_refs_api_docs.sh
Labels: backport

#131456 [8.2] [8.2.1] [Session View] Add process fields name to text to copy (#131167)
  x-pack/plugins/session_view/public/components/detail_panel_copy/__snapshots__/index.test.tsx.snap
  x-pack/plugins/session_view/public/components/detail_panel_copy/index.test.tsx
  x-pack/plugins/session_view/public/components/detail_panel_copy/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/index.tsx
Labels: backport

#131464 [7.17] [CI] Use GCS buckets for bazel remote caching (#131345)
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/steps/bazel_cache/bootstrap_mac.sh
  .buildkite/scripts/steps/on_merge_ts_refs_api_docs.sh
Labels: backport

#131460 [8.2] [ML] Fixing management app docs links (#130776)
  packages/kbn-doc-links/src/get_doc_links.ts
  x-pack/plugins/ml/public/application/management/breadcrumbs.ts
  x-pack/plugins/ml/public/application/management/jobs_list/components/jobs_list_page/jobs_list_page.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: backport

#131457 [8.2] [Session View] Font weight and session leader padding fix (#131132)
  x-pack/plugins/session_view/public/components/process_tree_node/index.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/styles.ts
Labels: backport

#131466 [7.17] Revert broadcast-channel to 4.10.0 (#131189)
  package.json
  yarn.lock
Labels: backport

#130705 [RAM] Add shareable rule status filter
  x-pack/plugins/observability/public/hooks/use_fetch_rules.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/plugins/triggers_actions_ui/common/experimental_features.ts
  x-pack/plugins/triggers_actions_ui/public/application/internal/shareable_components_sandbox/rule_status_filter_sandbox.tsx
  x-pack/plugins/triggers_actions_ui/public/application/internal/shareable_components_sandbox/shareable_components_sandbox.tsx
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_api/aggregate.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_api/aggregate.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_api/map_filters_to_kql.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_api/map_filters_to_kql.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_api/rules.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_api/rules.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_execution_status_filter.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_status_filter.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_status_filter.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.tsx
  x-pack/plugins/triggers_actions_ui/public/common/get_experimental_features.test.tsx
  x-pack/plugins/triggers_actions_ui/public/common/get_rule_status_filter.tsx
  x-pack/plugins/triggers_actions_ui/public/common/types.ts
  x-pack/plugins/triggers_actions_ui/public/mocks.ts
  x-pack/plugins/triggers_actions_ui/public/plugin.ts
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/alerts_list.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/index.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/rule_status_filter.ts
  x-pack/test/functional_with_es_ssl/config.ts
  x-pack/test/functional_with_es_ssl/lib/alert_api_actions.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.3.0

#131467 [storybook] Watch for changes in packages
  packages/kbn-storybook/src/lib/default_config.ts
Labels: review, loe:hours, release_note:skip, impact:medium, backport:skip, Feature:Storybook, v8.3.0

#131469 [8.2] 131034 format detail panel array values (#131349)
  x-pack/plugins/session_view/common/mocks/constants/session_view_process.mock.ts
  x-pack/plugins/session_view/common/mocks/responses/session_view_process_events.mock.ts
  x-pack/plugins/session_view/common/types/process_tree/index.ts
  x-pack/plugins/session_view/public/components/detail_panel_copy/index.test.tsx
  x-pack/plugins/session_view/public/components/detail_panel_copy/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/helpers.test.ts
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/helpers.ts
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/index.test.tsx
  x-pack/plugins/session_view/public/components/detail_panel_host_tab/index.tsx
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/helpers.test.ts
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/helpers.ts
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/index.test.tsx
  x-pack/plugins/session_view/public/components/detail_panel_process_tab/index.tsx
  x-pack/plugins/session_view/public/components/session_view_detail_panel/helpers.test.ts
  x-pack/plugins/session_view/public/components/session_view_detail_panel/helpers.ts
  x-pack/plugins/session_view/public/components/session_view_detail_panel/index.tsx
  x-pack/plugins/session_view/public/constants.ts
  x-pack/plugins/session_view/public/types.ts
  x-pack/plugins/session_view/public/utils/data_or_dash.test.ts
  x-pack/plugins/session_view/public/utils/data_or_dash.ts
Labels: backport

#131359 Improve saved objects migrations failure errors and logs
  docs/setup/upgrade/resolving-migration-failures.asciidoc
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  src/core/server/saved_objects/migrations/__snapshots__/migrations_state_action_machine.test.ts.snap
  src/core/server/saved_objects/migrations/actions/initialize_action.ts
  src/core/server/saved_objects/migrations/actions/integration_tests/actions.test.ts
  src/core/server/saved_objects/migrations/initial_state.test.ts
  src/core/server/saved_objects/migrations/integration_tests/cluster_routing_allocation_disabled.test.ts
  src/core/server/saved_objects/migrations/model/extract_errors.test.ts
  src/core/server/saved_objects/migrations/model/extract_errors.ts
  src/core/server/saved_objects/migrations/model/model.test.ts
  src/core/server/saved_objects/migrations/model/model.ts
  src/core/server/saved_objects/migrations/state.ts
Labels: release_note:skip, backport:skip, project:ResilientSavedObjectMigrations, Feature:Migrations, v8.3.0

#131477 [8.2] Make only a single api request for exceptions when opening an alert in timeline (#130941)
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_investigate_in_timeline.tsx
Labels: backport

#131395 [Fleet] Added fleet indices query to debug UI
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/fleet_indices_debugger.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/saved_object_names_combo.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/saved_objects_debugger.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/index.tsx
Labels: release_note:skip, Team:Fleet, v8.3.0

#131041 [8.2][Cases] Revert preconfigured connectors support for Cases (#130372)
  x-pack/plugins/cases/public/components/connectors/servicenow/servicenow_itsm_case_fields.test.tsx
  x-pack/plugins/cases/public/components/connectors/servicenow/servicenow_sir_case_fields.test.tsx
  x-pack/plugins/cases/public/components/connectors/servicenow/validator.test.ts
  x-pack/plugins/cases/public/components/connectors/servicenow/validator.ts
  x-pack/plugins/cases/public/components/utils.test.ts
  x-pack/plugins/cases/public/components/utils.ts
  x-pack/plugins/cases/server/client/configure/client.test.ts
  x-pack/plugins/cases/server/client/configure/client.ts
  x-pack/test/cases_api_integration/common/config.ts
  x-pack/test/cases_api_integration/common/lib/utils.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/basic/configure/create_connector.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/basic/configure/get_connectors.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/basic/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/configure/get_connectors.ts
  x-pack/test/cases_api_integration/spaces_only/tests/trial/configure/get_connectors.ts
Labels: backport

#131149 [Unified observability] Add tour step to guided setup
  x-pack/plugins/observability/public/components/app/observability_status/observability_status_progress.tsx
  x-pack/plugins/observability/public/pages/overview/index.tsx
Labels: release_note:skip, auto-backport, Team:Unified observability, v8.3.0

#131372 [Lens] Improved interval input
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.test.tsx
  x-pack/plugins/lens/public/indexpattern_datasource/operations/definitions/date_histogram.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:enhancement, Team:VisEditors, release_note:skip, Feature:Lens, v8.3.0

#130948 [Vega] Adjust vega doc for usage of ems files
  docs/user/dashboard/vega-reference.asciidoc
Labels: Feature:Vega, Team:VisEditors, release_note:skip, auto-backport, v8.0.2, v8.2.1, v7.17.4, v8.1.4

#131482 [Fleet] removed useEffects, simplified use of useQuery
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/fleet_indices_debugger.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/saved_objects_debugger.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/index.tsx
Labels: Team:Fleet

#131485 [8.0] [Vega] Adjust vega doc for usage of ems files (#130948)
  docs/user/dashboard/vega-reference.asciidoc
Labels: backport

#131483 [8.2] [ML] Fixing management app docs links (#130776)
  x-pack/plugins/ml/public/application/management/jobs_list/components/jobs_list_page/jobs_list_page.tsx
Labels: backport

#131488 [8.1] [Vega] Adjust vega doc for usage of ems files (#130948)
  docs/user/dashboard/vega-reference.asciidoc
Labels: backport

#131487 [7.17] [Vega] Adjust vega doc for usage of ems files (#130948)
  docs/user/dashboard/vega-reference.asciidoc
Labels: backport

#131486 [8.2] [Vega] Adjust vega doc for usage of ems files (#130948)
  docs/user/dashboard/vega-reference.asciidoc
Labels: backport

#131481 [Cloud Security] fetch all rules templates
  x-pack/plugins/cloud_security_posture/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/cloud_security_posture/server/fleet_integration/fleet_integration.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.3.0

#131407 [Cases] Fix `find` method of the cases UI client.
  x-pack/plugins/cases/common/ui/types.ts
  x-pack/plugins/cases/public/api/__mocks__/index.ts
  x-pack/plugins/cases/public/api/decoders.ts
  x-pack/plugins/cases/public/api/index.test.ts
  x-pack/plugins/cases/public/api/index.ts
  x-pack/plugins/cases/public/api/utils.test.ts
  x-pack/plugins/cases/public/api/utils.ts
  x-pack/plugins/cases/public/client/api/index.test.ts
  x-pack/plugins/cases/public/client/api/index.ts
  x-pack/plugins/cases/public/common/lib/kibana/hooks.ts
  x-pack/plugins/cases/public/components/all_cases/table.tsx
  x-pack/plugins/cases/public/components/all_cases/utility_bar.tsx
  x-pack/plugins/cases/public/containers/__mocks__/api.ts
  x-pack/plugins/cases/public/containers/api.test.tsx
  x-pack/plugins/cases/public/containers/api.ts
  x-pack/plugins/cases/public/containers/configure/api.ts
  x-pack/plugins/cases/public/containers/mock.ts
  x-pack/plugins/cases/public/containers/use_get_cases.tsx
  x-pack/plugins/cases/public/containers/use_get_cases_status.test.tsx
  x-pack/plugins/cases/public/containers/use_get_cases_status.tsx
  x-pack/plugins/cases/public/containers/utils.ts
  x-pack/plugins/cases/public/mocks.ts
  x-pack/plugins/cases/public/types.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_by_status/use_cases_by_status.test.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_by_status/use_cases_by_status.tsx
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Cases, v8.3.0

#131245 Create Manage landing page
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/public/landing_pages/components/landing_links_icons.test.tsx
  x-pack/plugins/security_solution/public/landing_pages/components/landing_links_icons.tsx
  x-pack/plugins/security_solution/public/landing_pages/components/landing_links_images.test.tsx
  x-pack/plugins/security_solution/public/landing_pages/components/landing_links_images.tsx
  x-pack/plugins/security_solution/public/landing_pages/components/translations.ts
  x-pack/plugins/security_solution/public/landing_pages/icons/blocklist.tsx
  x-pack/plugins/security_solution/public/landing_pages/icons/endpoint_policies.tsx
  x-pack/plugins/security_solution/public/landing_pages/icons/endpoints.tsx
  x-pack/plugins/security_solution/public/landing_pages/icons/event_filters.tsx
  x-pack/plugins/security_solution/public/landing_pages/icons/exception_lists.tsx
  x-pack/plugins/security_solution/public/landing_pages/icons/host_isolation.tsx
  x-pack/plugins/security_solution/public/landing_pages/icons/siem_rules.tsx
  x-pack/plugins/security_solution/public/landing_pages/icons/trusted_applications.tsx
  x-pack/plugins/security_solution/public/landing_pages/pages/manage.test.tsx
  x-pack/plugins/security_solution/public/landing_pages/pages/manage.tsx
  x-pack/plugins/security_solution/public/landing_pages/pages/translations.ts
  x-pack/plugins/security_solution/public/landing_pages/routes.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.3.0

#131480 [Discover] Add project tree to README.md
  src/plugins/discover/README.md
Labels: chore, Feature:Discover, release_note:skip, Team:DataDiscovery, v8.3.0

#129104 [Discover] Migrate legacy searchSource fetch() to fetch$()
  src/plugins/discover/public/application/context/services/_stubs.ts
  src/plugins/discover/public/application/context/services/anchor.test.ts
  src/plugins/discover/public/application/context/services/anchor.ts
  src/plugins/discover/public/application/context/services/context.predecessors.test.ts
  src/plugins/discover/public/application/context/services/context.successors.test.ts
  src/plugins/discover/public/application/context/utils/fetch_hits_in_interval.ts
Labels: chore, Feature:Discover, technical debt, release_note:skip, Team:DataDiscovery, v8.3.0

#131411 [docs] Update search session config docs
  docs/settings/search-sessions-settings.asciidoc
Labels: Team:Docs, Team:AppServicesSv, release_note:skip, docs, Feature:Search Sessions, v8.3.0

#131494 [EBT] Fix flaky test
  packages/analytics/client/src/analytics_client/analytics_client.test.ts
Labels: release_note:skip, backport:skip, v8.3.0

#131491 using different query for saved objects
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/saved_objects_debugger.tsx
Labels: Team:Fleet

#130561 [Security Solution] [Endpoint] Update blocklist flyout license banner copy
  x-pack/plugins/security_solution/public/management/pages/blocklist/view/blocklist.tsx
Labels: release_note:skip, Team:Onboarding and Lifecycle Mgt, auto-backport, v8.2.1

#131148 [FullStory] Filter custom events by an allowlist
  packages/analytics/client/src/analytics_client/types.ts
  packages/analytics/client/src/events/types.ts
  packages/analytics/client/src/shippers/types.ts
  packages/analytics/shippers/fullstory/README.md
  packages/analytics/shippers/fullstory/src/fullstory_shipper.test.ts
  packages/analytics/shippers/fullstory/src/fullstory_shipper.ts
  packages/analytics/shippers/fullstory/src/load_snippet.ts
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/cloud/public/plugin.tsx
  x-pack/plugins/cloud/server/config.ts
Labels: release_note:skip, backport:skip, v8.3.0

#130886 updating managed agent manifest needed resources for cloudbeat
  x-pack/plugins/fleet/common/constants/epm.ts
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/hooks.tsx
  x-pack/plugins/fleet/server/services/elastic_agent_manifest.ts
Labels: release_note:skip, backport:skip, Team:Fleet, v8.3.0

#131381 [APM] Rename service groups template titles and links
  x-pack/plugins/apm/public/components/routing/apm_route_config.tsx
  x-pack/plugins/apm/public/components/routing/templates/service_group_template.tsx
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:fix, Team:apm, v8.3.0

#131415 Fixes worker silent failure after style violations fixes
  packages/elastic-apm-synthtrace/src/scripts/utils/synthtrace_worker.ts
  packages/elastic-apm-synthtrace/src/scripts/utils/worker.js
Labels: release_note:skip, v8.3.0

#130893 [Cloud Security] add rules status to benchmark API
  x-pack/plugins/cloud_security_posture/common/types.ts
  x-pack/plugins/cloud_security_posture/public/test/fixtures/csp_benchmark_integration.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/benchmarks.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/benchmarks.ts
  x-pack/plugins/cloud_security_posture/server/routes/configuration/update_rules_configuration.ts
  x-pack/plugins/cloud_security_posture/server/saved_objects/csp_rule_type.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security Posture, v8.3.0

#131500 [EBT] Remove unnecessary async from tests
  packages/analytics/client/src/analytics_client/analytics_client.test.ts
Labels: release_note:skip, backport:skip, v8.3.0

#131060 [Osquery] Add osquery logo to navigation
  x-pack/plugins/osquery/public/plugin.ts
Labels: bug, release_note:skip, Team:Asset Management, Feature:Osquery, auto-backport, v8.3.0, v8.2.1

#131493 [Cases] Export `getCasesMetrics` from the cases UI client
  x-pack/plugins/cases/common/api/metrics/case.ts
  x-pack/plugins/cases/common/ui/types.ts
  x-pack/plugins/cases/public/api/decoders.ts
  x-pack/plugins/cases/public/api/index.test.ts
  x-pack/plugins/cases/public/api/index.ts
  x-pack/plugins/cases/public/client/api/index.test.ts
  x-pack/plugins/cases/public/client/api/index.ts
  x-pack/plugins/cases/public/mocks.ts
  x-pack/plugins/cases/public/types.ts
  x-pack/plugins/cases/server/routes/api/metrics/get_case_metrics.ts
  x-pack/plugins/cases/server/routes/api/metrics/get_cases_metrics.ts
  x-pack/test/cases_api_integration/common/lib/utils.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/metrics/get_case_metrics.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/metrics/get_cases_metrics.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.3.0

#131436 [Fleet] [Debug UI] Implement "Preconfiguration debugger" UI
  x-pack/plugins/fleet/common/services/routes.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/preconfiguration_debugger.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/index.tsx
  x-pack/plugins/fleet/public/hooks/use_request/agent_policy.ts
Labels: release_note:skip, Team:Fleet, v8.3.0

#131473 Delete data views from list visible for read users
  src/plugins/data_view_management/public/components/index_pattern_table/index_pattern_table.tsx
Labels: bug, Feature:Data Views, Team:AppServicesSv, release_note:skip, auto-backport, v8.3.0, v8.2.1

#131512 [8.2] passing default selection enables selection. boo (#131473)
  src/plugins/data_view_management/public/components/index_pattern_table/index_pattern_table.tsx
Labels: backport

#131501 [8.2] [Security Solution] [Endpoint] Update blocklist flyout license banner copy (#130561)
  x-pack/plugins/security_solution/public/management/pages/blocklist/view/blocklist.tsx
Labels: backport

#131356 [Session View] Alert UI Fixes
  x-pack/plugins/session_view/public/components/process_tree_alert/__snapshots__/index.test.tsx.snap
  x-pack/plugins/session_view/public/components/process_tree_alert/index.tsx
  x-pack/plugins/session_view/public/components/process_tree_alert/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_alerts/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_node/index.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/index.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/nbsp.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/split_text.test.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/split_text.tsx
  x-pack/plugins/session_view/public/components/process_tree_node/styles.ts
  x-pack/plugins/session_view/public/components/process_tree_node/use_button_styles.ts
  x-pack/plugins/session_view/public/hooks/use_eui_theme.ts
Labels: bug, release_note:skip, auto-backport, v8.3.0, v8.2.1

#131526 [8.2] Fixing test data for import and export between versions tests (#131470)
  x-pack/test/functional/apps/saved_objects_management/exports/_7.13_import_saved_objects.ndjson
  x-pack/test/functional/apps/saved_objects_management/import_saved_objects_between_versions.ts
Labels: backport, test_xpack_functional, release_note:skip, Feature:Saved Objects Management, v8.2.1

#131527 [FullStory] Document browser exposed config in the test
  test/plugin_functional/test_suites/core_plugins/rendering.ts
Labels: release_note:skip, backport:skip, v8.3.0

#131338 [RAM] Bug api find/index alerts
  x-pack/plugins/alerting/server/authorization/alerting_authorization.ts
  x-pack/plugins/rule_registry/common/types.ts
  x-pack/plugins/rule_registry/server/alert_data_client/alerts_client.ts
  x-pack/plugins/rule_registry/server/routes/find.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/rule_data_plugin_service.mock.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/rule_data_plugin_service.ts
  x-pack/plugins/rule_registry/server/search_strategy/search_strategy.test.ts
  x-pack/plugins/rule_registry/server/search_strategy/search_strategy.ts
  x-pack/plugins/security/server/authorization/privileges/feature_privilege_builder/alerting.test.ts
  x-pack/plugins/security/server/authorization/privileges/feature_privilege_builder/alerting.ts
  x-pack/plugins/security_solution/server/features.ts
  x-pack/test/functional/es_archives/rule_registry/alerts/data.json
  x-pack/test/rule_registry/security_and_spaces/tests/basic/find_alerts.ts
  x-pack/test/rule_registry/security_and_spaces/tests/basic/get_alerts_index.ts
  x-pack/test/rule_registry/security_and_spaces/tests/basic/index.ts
  x-pack/test/rule_registry/spaces_only/tests/trial/get_alert_by_id.ts
  x-pack/test/rule_registry/spaces_only/tests/trial/update_alert.ts
Labels: bug, release_note:skip, backport:skip, Team:ResponseOps, v8.3.0

#130202 [DOCS] Update details about alert visibility in Stack Management
  docs/user/alerting/alerting-troubleshooting.asciidoc
  docs/user/alerting/rule-types.asciidoc
Labels: Feature:Alerting, release_note:skip, docs, auto-backport, v8.2.0, v8.0.2, v8.3.0, v8.1.3

#131542 [8.1] [DOCS] Update details about alert visibility in Stack Management (#130202)
  docs/user/alerting/alerting-troubleshooting.asciidoc
  docs/user/alerting/rule-types.asciidoc
Labels: backport

#131541 [8.2] [DOCS] Update details about alert visibility in Stack Management (#130202)
  docs/user/alerting/alerting-troubleshooting.asciidoc
  docs/user/alerting/rule-types.asciidoc
Labels: backport

#131534 [flaky-tests] require using the new UI to trigger
  .buildkite/pipelines/flaky_tests/pipeline.js
  .buildkite/pipelines/flaky_tests/pipeline.sh
  .buildkite/pipelines/flaky_tests/runner.js
  .buildkite/pipelines/flaky_tests/runner.sh
Labels: Team:Operations, release_note:skip, v8.3.0

#131545 Bump versions.json
  versions.json
Labels: Team:Operations, release_note:skip, backport:skip, v8.3.0

#131543 [8.1] Bump version caniuse-lite (#131430)
  yarn.lock
Labels: backport

#131549 [ci] hide browserslist outdated warnings
  .buildkite/scripts/common/env.sh
Labels: Team:Operations, release_note:skip, v8.3.0, v8.2.1, v7.17.4, v8.1.4

#130393 [ResponseOps] Fix broken search strategy test
  x-pack/test/common/services/bsearch_secure.ts
  x-pack/test/rule_registry/security_and_spaces/tests/basic/search_strategy.ts
Labels: review, release_note:skip, Team:ResponseOps, v8.3.0, v8.2.1

#131552 [8.2] Add some missing Endpoint telemetry fields (#131529)
  x-pack/plugins/security_solution/server/lib/telemetry/filterlists/endpoint_alerts.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.test.ts
Labels: backport

#131029 [Security Solution][Detection & Response] 131028 implement recently opened cases table
  x-pack/plugins/security_solution/public/common/components/formatted_date/index.test.tsx
  x-pack/plugins/security_solution/public/common/components/formatted_date/index.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/alerts_by_status.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_by_status/cases_by_status.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_table/cases_table.test.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_table/cases_table.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_table/index.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_table/mock_data.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_table/status_badge.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_table/use_case_items.test.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/cases_table/use_case_items.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/host_alerts_table.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/use_host_alerts_items.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/translations.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/user_alerts_table/use_user_alerts_items.ts
  x-pack/plugins/security_solution/public/overview/components/detection_response/user_alerts_table/user_alerts_table.tsx
  x-pack/plugins/security_solution/public/overview/pages/detection_response.test.tsx
  x-pack/plugins/security_solution/public/overview/pages/detection_response.tsx
Labels: enhancement, Team:Threat Hunting, release_note:feature, Team:Threat Hunting:Explore, v8.3.0

#131459 [Response Ops][Docs] Alerting circuit breaker docs
  docs/settings/alert-action-settings.asciidoc
  docs/user/production-considerations/alerting-production-considerations.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, v8.3.0

#131559 [8.2] [ci] hide browserslist outdated warnings (#131549)
  .buildkite/scripts/common/env.sh
Labels: backport

#130072 [Security Solution][Detections] Rule Execution Log Feedback and Fixes Part Deux
  x-pack/plugins/security_solution/common/detection_engine/schemas/common/rule_monitoring.ts
  x-pack/plugins/security_solution/common/detection_engine/schemas/request/get_rule_execution_events_schema.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts.ts
  x-pack/plugins/security_solution/public/common/components/exceptions/viewer/exceptions_viewer_items.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/index.test.tsx
  x-pack/plugins/security_solution/public/common/containers/events/last_event_time/index.test.ts
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.test.tsx
  x-pack/plugins/security_solution/public/common/hooks/use_app_toasts.mock.ts
  x-pack/plugins/security_solution/public/common/hooks/use_app_toasts.test.ts
  x-pack/plugins/security_solution/public/common/hooks/use_app_toasts.ts
  x-pack/plugins/security_solution/public/common/lib/kibana/kibana_react.mock.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/__mocks__/api.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.test.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/mock.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_pre_packaged_rules.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_rule_execution_events.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_rule_execution_events.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/__mocks__/rule_details_context.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/__snapshots__/execution_log_table.test.tsx.snap
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/__snapshots__/rule_duration_format.test.tsx.snap
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/execution_log_columns.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/execution_log_search_bar.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/execution_log_table.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/execution_log_table.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/rule_duration_format.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/rule_duration_format.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/execution_log_table/translations.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/details/rule_details_context.tsx
  x-pack/plugins/security_solution/public/network/pages/network.test.tsx
  x-pack/plugins/security_solution/public/timelines/containers/index.test.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/rules/get_rule_execution_events_route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/client_for_routes/client_interface.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/event_log/event_log_reader.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/event_log/get_execution_event_aggregation/index.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_execution_log/event_log/get_execution_event_aggregation/index.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/get_rule_execution_events.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/tests/template_data/execution_events.ts
  x-pack/test/detection_engine_api_integration/utils/index_event_log_execution_events.ts
Labels: bug, technical debt, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, auto-backport, Feature:Rule Monitoring, Team:Detection Rules, v8.3.0, v8.2.1

#131560 [7.17] [ci] hide browserslist outdated warnings (#131549)
  .buildkite/scripts/common/env.sh
Labels: backport

#131561 [8.1] [ci] hide browserslist outdated warnings (#131549)
  .buildkite/scripts/common/env.sh
Labels: backport

#131284 [ML] Anomaly Detection: Adds View in Maps item to Actions menu in the anomalies table
  x-pack/plugins/ml/common/types/anomalies.ts
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table_columns.js
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container.js
  x-pack/plugins/ml/public/application/explorer/explorer_utils.ts
  x-pack/plugins/ml/public/maps/anomaly_layer_wizard_factory.tsx
  x-pack/plugins/ml/public/maps/util.ts
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, v8.3.0

#131563 [DOCS] Fix broken blob attributes
  docs/index.asciidoc
Labels: Team:Docs, release_note:skip, docs, auto-backport, v8.0.2, v8.3.0, v8.2.1, v7.17.4, v8.1.4

#131570 [8.0] [DOCS] Fix broken blob attributes (#131563)
  docs/index.asciidoc
Labels: backport

#131571 [8.2] [DOCS] Fix broken blob attributes (#131563)
  docs/index.asciidoc
Labels: backport

#131572 [8.1] [DOCS] Fix broken blob attributes (#131563)
  docs/index.asciidoc
Labels: backport

#131568 Remove link to kibDataAutocompletePluginApi in doc nav
  nav-kibana-dev.docnav.json
Labels: release_note:skip, backport:skip, v8.3.0

#131558 [Fleet] Clean up unused `installed_bundled` installation status
  x-pack/plugins/fleet/common/constants/epm.ts
  x-pack/plugins/fleet/common/types/models/epm.ts
Labels: technical debt, release_note:skip, Team:Fleet, v8.3.0

#128326 Fix broken/missing APM app links and use `docLinks` service
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/apm/public/components/app/settings/custom_link/empty_prompt.tsx
  x-pack/plugins/apm/public/components/app/settings/custom_link/index.test.tsx
  x-pack/plugins/apm/public/components/app/settings/schema/schema_overview.tsx
  x-pack/plugins/translations/translations/fr-FR.json
  x-pack/plugins/translations/translations/ja-JP.json
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:apm, release_note:skip, auto-backport, v8.2.1

#131462 Osquery pack attribution
  docs/osquery/osquery.asciidoc
  docs/osquery/prebuilt-packs.asciidoc
Labels: Team:Docs, release_note:skip, auto-backport, v8.2.0, v8.3.0

#131580 [8.2] Osquery pack attribution (#131462)
  docs/osquery/osquery.asciidoc
  docs/osquery/prebuilt-packs.asciidoc
Labels: backport
