Repository elastic/kibana, pull requests merged in 2023-12, with the labels that each got.

#172334 Revert "Update page for missing Short URL (#171679)"
  .buildkite/ftr_configs.yml
  src/plugins/share/public/lib/get_home_href.ts
  src/plugins/share/public/url_service/redirect/components/empty_prompt.tsx
  src/plugins/share/public/url_service/redirect/components/error.tsx
  src/plugins/share/public/url_service/redirect/components/page.tsx
  src/plugins/share/public/url_service/redirect/redirect_manager.ts
  src/plugins/share/tsconfig.json
  test/functional/apps/sharing/_short_urls.ts
  test/functional/apps/sharing/config.ts
  test/functional/apps/sharing/index.ts
Labels: ci:build-canvas-shareable-runtime

#172163 [Entity Analytics] Enable risk engine privileges callout + API
  .github/CODEOWNERS
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/default_license/risk_engine/configs/ess.config.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/default_license/risk_engine/configs/serverless.config.ts
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/entity_analytics_management_page_privileges_callout.ts
Labels: release_note:skip, Team:Entity Analytics, EA Sprint 2 (2023.11.21 - 2023.12.5)

#172279 [Security Solution]{Detection Engine] unskip ES|QL tests
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/esql_rule_ess.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_edit/esql_rule.cy.ts
Labels: release_note:skip, v8.12.0

#172278 [Security Solution][Endpoint] Re-enable authz API tests
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_authz.ts
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.12.0

#172198 [Lens] Handle invalid values gracefully for static value operation
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/static_value.tsx
Labels: release_note:fix, Team:Visualizations, Feature:Lens, v8.12.0

#172053 [ML] Add E5 model configs
  packages/kbn-doc-links/src/get_doc_links.ts
  x-pack/packages/ml/trained_models_utils/index.ts
  x-pack/packages/ml/trained_models_utils/src/constants/trained_models.ts
  x-pack/plugins/elastic_assistant/server/plugin.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/text_expansion_callout/text_expansion_callout_logic.ts
  x-pack/plugins/ml/public/application/model_management/add_model_flyout.tsx
  x-pack/plugins/ml/public/application/model_management/models_list.tsx
  x-pack/plugins/ml/public/application/services/elastic_models_service.ts
  x-pack/plugins/ml/public/application/services/ml_api_service/trained_models.ts
  x-pack/plugins/ml/public/mocks.ts
  x-pack/plugins/ml/server/models/model_management/model_provider.test.ts
  x-pack/plugins/ml/server/models/model_management/models_provider.ts
  x-pack/plugins/ml/server/shared_services/providers/__mocks__/trained_models.ts
  x-pack/plugins/ml/server/shared_services/providers/trained_models.ts
Labels: release_note:enhancement, :ml, Feature:3rd Party Models, Team:ML, v8.12.0

#172072 [Defend Workflows] Handling message signing decryption fail during Fleet setup
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/security/message_signing_service.ts
  x-pack/plugins/fleet/server/services/security/uninstall_token_service/index.test.ts
  x-pack/plugins/fleet/server/services/security/uninstall_token_service/index.ts
  x-pack/plugins/fleet/server/services/setup.ts
Labels: release_note:skip, backport:skip, Team:Fleet, OLM Sprint

#172022 [ML] Adding capabilities and ML node check to create job button in dashboard
  x-pack/plugins/ml/public/application/components/job_selector/job_selector_table/job_selector_table.js
  x-pack/plugins/ml/public/application/components/job_selector/job_selector_table/job_selector_table.test.js
  x-pack/plugins/ml/public/application/contexts/kibana/__mocks__/kibana_context.ts
Labels: release_note:fix, :ml, Feature:Anomaly Detection, v8.12.0

#172294 Fix credentials leak from synthtrace
  packages/kbn-apm-synthtrace/src/cli/run_synthtrace.ts
  packages/kbn-apm-synthtrace/src/cli/utils/bootstrap.ts
  packages/kbn-apm-synthtrace/src/cli/utils/get_service_urls.ts
  packages/kbn-apm-synthtrace/src/cli/utils/parse_run_cli_flags.ts
Labels: Team:APM, release_note:skip, Team:obs-ux-logs, Team:obs-ux-infra_services

#172363 [Entity Analytics] Move all entity analytics API schemas into `entity_analytics` folder.
  .github/CODEOWNERS
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/common.gen.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/common.schema.yaml
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/create_asset_criticality.schema.yaml
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/delete_asset_criticality.schema.yaml
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/get_asset_criticality.schema.yaml
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/get_asset_criticality_status.gen.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/get_asset_criticality_status.schema.yaml
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/index.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_engine/calculation_route_schema.yml
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_engine/common.yml
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_engine/engine_disable_route_schema.yml
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_engine/engine_enable_route_schema.yml
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_engine/engine_init_route_schema.yml
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_engine/engine_status_route_schema.yml
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_engine/preview_route_schema.yml
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/create_index/create_index_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/create_prebuilt_saved_objects/create_prebuilt_saved_objects_route.test.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/create_prebuilt_saved_objects/create_prebuilt_saved_objects_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/create_stored_script/create_stored_script_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/delete_indices/delete_indices_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/delete_prebuilt_saved_objects/delete_prebuilt_saved_objects_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/delete_stored_script/delete_stored_script_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/index.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/index_status/index_status_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/install_modules/install_modules_route.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/risk_score/read_prebuilt_dev_tool_content/read_prebuilt_dev_tool_content_route.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/asset_criticality_data_client.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/delete.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/get.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/status.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/upsert.ts
  x-pack/plugins/security_solution/server/lib/risk_score/index_status/index.ts
  x-pack/plugins/security_solution/server/lib/risk_score/indices/create_index_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/indices/delete_indices_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/indices/lib/create_index.ts
  x-pack/plugins/security_solution/server/lib/risk_score/onboarding/routes/install_risk_scores.ts
  x-pack/plugins/security_solution/server/lib/risk_score/prebuilt_dev_tool_content/routes/read_prebuilt_dev_tool_content_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/prebuilt_dev_tool_content/schema.test.ts
  x-pack/plugins/security_solution/server/lib/risk_score/prebuilt_saved_objects/routes/create_prebuilt_saved_objects.ts
  x-pack/plugins/security_solution/server/lib/risk_score/prebuilt_saved_objects/routes/delete_prebuilt_saved_objects.ts
  x-pack/plugins/security_solution/server/lib/risk_score/stored_scripts/create_script_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/stored_scripts/delete_script_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/stored_scripts/lib/create_script.ts
  x-pack/plugins/security_solution/server/lib/risk_score/stored_scripts/lib/delete_script.ts
Labels: release_note:skip, Team:Entity Analytics, EA Sprint 2 (2023.11.21 - 2023.12.5)

#172362 [Fleet] Unskip upgrade integration test and fix date error
  x-pack/test/fleet_api_integration/apis/agents/upgrade.ts
Labels: release_note:skip, Team:Fleet, v8.12.0

#172336 [7.17] [Discover/CSV Reporting] Fix support for nested field columns in CSV reports (#172240)
  src/plugins/discover/public/application/apps/main/utils/get_sharing_data.test.ts
  src/plugins/discover/public/application/apps/main/utils/get_sharing_data.ts
  x-pack/plugins/reporting/public/panel_actions/get_csv_panel_action.test.ts
Labels: backport, Team:DataDiscovery

#171760 [Actions][ServiceNow] Allow to close serviceNow incident when alert resolves
  x-pack/plugins/alerting/common/disabled_action_groups.ts
  x-pack/plugins/stack_connectors/public/connector_types/lib/servicenow/helpers.ts
  x-pack/plugins/stack_connectors/public/connector_types/lib/servicenow/translations.ts
  x-pack/plugins/stack_connectors/public/connector_types/servicenow_itsm/servicenow_itsm.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/servicenow_itsm/servicenow_itsm.tsx
  x-pack/plugins/stack_connectors/public/connector_types/servicenow_itsm/servicenow_itsm_params.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/servicenow_itsm/servicenow_itsm_params.tsx
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/api.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/api.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/mocks.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/schema.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/service.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/service.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/types.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/utils.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/servicenow/utils.ts
  x-pack/plugins/stack_connectors/server/connector_types/servicenow_itsm/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/servicenow_itsm/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/servicenow_itsm/service.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_type_form.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/servicenow_itsm.ts
Labels: release_note:enhancement, Feature:Actions, Team:ResponseOps, v8.12.0

#172191 [ResponseOps][Task Manager] fix infinite recursion in taskPool recursion
  x-pack/plugins/task_manager/server/task_pool.test.ts
  x-pack/plugins/task_manager/server/task_pool.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, ci:build-serverless-image, v8.12.0

#172370 [8.11] [Lens] Handle invalid values gracefully for static value operation (#172198)
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/static_value.tsx
Labels: backport

#172323 [Security Solution]Fix page reload crash when preview panel is open in alerts flyout
  x-pack/plugins/security_solution/public/flyout/right/components/description.test.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/description.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/reason.test.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/reason.tsx
Labels: release_note:fix, Team:Threat Hunting, Team:Threat Hunting:Investigations, v8.11.2

#172377 [SLO][8.11] Add `date_formats` to SLI ingest pipeline template
  x-pack/plugins/observability/server/assets/ingest_templates/slo_pipeline_template.ts
Labels: release_note:fix, Team:obs-ux-management, v8.11.2

#172102 Add native connector definition for oracle
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: release_note:skip

#167202 [UnifiedDocViewer] Remove usage of KibanaContextProvider
  src/plugins/discover/public/application/doc/components/doc.test.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer/doc_viewer.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer_source/source.test.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer_source/source.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer_table/legacy/table.test.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer_table/legacy/table.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer_table/table.tsx
  src/plugins/unified_doc_viewer/public/hooks/index.ts
  src/plugins/unified_doc_viewer/public/hooks/use_doc_viewer_services.ts
  src/plugins/unified_doc_viewer/public/hooks/use_es_doc_search.test.tsx
  src/plugins/unified_doc_viewer/public/hooks/use_es_doc_search.ts
  src/plugins/unified_doc_viewer/public/index.tsx
  src/plugins/unified_doc_viewer/public/plugin.tsx
  src/plugins/unified_doc_viewer/public/types.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/view_document.tsx
  x-pack/plugins/synthetics/tsconfig.json
Labels: Team:Uptime - DEPRECATED, release_note:skip, Team:DataDiscovery, ci:collect-apm, Feature:UnifiedDocViewer, v8.12.0, apm:review, Team:uptime

#171436 [Enterprise Search] Replace model selection dropdown with list
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.test.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/configure_pipeline.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_option.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_option.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_model_health.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_model_health.tsx
  x-pack/plugins/enterprise_search/server/lib/ml/start_ml_model_deployment.ts
  x-pack/plugins/enterprise_search/server/lib/ml/utils.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.12.0

#172256 [Cloud Security] [Misconfiguration] Add Grouping custom renderers
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_cloud_posture_data_table/index.ts
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_cloud_posture_data_table/use_base_es_query.ts
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_cloud_posture_data_table/use_cloud_posture_data_table.ts
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_cloud_posture_data_table/use_persisted_query.ts
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_cloud_posture_data_table/utils.ts
  x-pack/plugins/cloud_security_posture/public/common/utils/get_abbreviated_number.test.ts
  x-pack/plugins/cloud_security_posture/public/common/utils/get_abbreviated_number.ts
  x-pack/plugins/cloud_security_posture/public/components/cloud_security_data_table/additional_controls.tsx
  x-pack/plugins/cloud_security_posture/public/components/cloud_security_data_table/use_styles.ts
  x-pack/plugins/cloud_security_posture/public/components/cloud_security_grouping/cloud_security_grouping.tsx
  x-pack/plugins/cloud_security_posture/public/components/cloud_security_grouping/use_cloud_security_grouping.ts
  x-pack/plugins/cloud_security_posture/public/components/compliance_score_bar.tsx
  x-pack/plugins/cloud_security_posture/public/components/test_subjects.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/constants.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/latest_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/latest_findings_group_renderer.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/latest_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_grouped_findings.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings_grouping.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings_by_resource/findings_by_resource_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings_by_resource/findings_by_resource_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings_by_resource/resource_findings/resource_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings_by_resource/resource_findings/resource_findings_table.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings_by_resource/resource_findings/use_resource_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings_by_resource/use_findings_by_resource.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/layout/findings_distribution_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/test_subjects.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/findings.tsx
  x-pack/test/cloud_security_posture_functional/pages/findings_grouping.ts
Labels: release_note:skip, Team:Cloud Security, v8.12.0

#172403 [8.11] fix Failing test: X-Pack Saved Object Tagging Functional Tests.x-pack/test/saved_object_tagging/functional/tests/dashboard_integration·ts (#172395)
  test/functional/page_objects/dashboard_page.ts
Labels: backport

#172398 [Enterprise Search] Fetch and filter ELSER/E5 to compatible variants
  x-pack/plugins/enterprise_search/server/lib/ml/fetch_ml_models.test.ts
  x-pack/plugins/enterprise_search/server/lib/ml/fetch_ml_models.ts
  x-pack/plugins/enterprise_search/server/lib/ml/utils.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.12.0

#172409 [Enterprise Search] Model state change error handling
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/configure_pipeline.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_logic.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.12.0

#172172 [Entity Analytics] Use docLinks service for documentation links
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/public/explore/components/risk_score/risk_score_onboarding/risk_score_doc_link.tsx
Labels: release_note:skip, Team:Entity Analytics, EA Sprint 2 (2023.11.21 - 2023.12.5)

#171876 [SLO] Form, Mark fields required only when not disabled
  x-pack/plugins/observability/public/pages/slo_edit/components/apm_common/field_selector.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/common/index_field_selector.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/custom_kql/custom_kql_indicator_type_form.tsx
Labels: release_note:skip, Team:obs-ux-management

#172037 [Ops] Auto promote serverless rc
  .buildkite/pipeline-utils/buildkite/client.ts
  .buildkite/pipelines/serverless_deployment/create_deployment_tag.yml
  .buildkite/scripts/serverless/create_deploy_tag/collect_commit_info.sh
  .buildkite/scripts/serverless/create_deploy_tag/info_sections/so_snapshot_comparison.ts
  .buildkite/scripts/serverless/create_deploy_tag/list_commit_candidates.ts
  .buildkite/scripts/serverless/create_deploy_tag/release_wizard_messaging.ts
  .buildkite/scripts/serverless/create_deploy_tag/shared.ts
Labels: Team:Operations, release_note:skip, backport:skip

#172166 [Grok Debugger] Add API integration tests
  .buildkite/ftr_configs.yml
  x-pack/test/api_integration/apis/grok_debugger/config.ts
  x-pack/test/api_integration/apis/grok_debugger/grok_debugger.ts
  x-pack/test/api_integration/apis/grok_debugger/index.ts
  x-pack/test_serverless/api_integration/test_suites/common/grok_debugger/grok_debugger.ts
  x-pack/test_serverless/api_integration/test_suites/common/grok_debugger/index.ts
  x-pack/test_serverless/api_integration/test_suites/observability/common_configs/config.group1.ts
  x-pack/test_serverless/api_integration/test_suites/security/common_configs/config.group1.ts
Labels: Team:Deployment Management, release_note:skip, test-api-integration, Feature:Grok Debugger

#172264 [ML] Adjust assertion for Change point detection results
  x-pack/test/functional/apps/aiops/change_point_detection.ts
Labels: :ml, test_ui_functional, release_note:skip, Team:ML, Feature:ML/AIOps, v8.12.0

#172273 [UnifiedSearch] Fix cursor type on single filter case
  src/plugins/unified_search/public/filter_bar/filter_editor/filter_editor.tsx
  src/plugins/unified_search/public/filter_bar/filter_item/filter_item.tsx
  src/plugins/unified_search/public/filter_bar/filter_item/filter_items.tsx
  src/plugins/unified_search/public/filters_builder/filter_group.tsx
  src/plugins/unified_search/public/filters_builder/filter_item/filter_item.tsx
  src/plugins/unified_search/public/filters_builder/filters_builder.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Unified search, v8.12.0

#172426 Upgrade EUI to latest 8.12 FF backport
  package.json
  src/dev/license_checker/config.ts
  yarn.lock
Labels: release_note:skip, EUI, v8.12.0

#172439 Retry ES calls when receiving `504 Gateway Timeout`
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/retryable_es_client_errors.test.ts
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/retryable_es_client_errors.ts
Labels: Team:Core, enhancement, release_note:skip, backport:skip

#172087 Remove limitation on sending diagnostic telemetry from endpoint agent
  x-pack/plugins/security_solution/server/lib/telemetry/__mocks__/index.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/diagnostic.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/diagnostic.ts
Labels: Feature:Telemetry, release_note:skip, Team: SecuritySolution, v8.12.0

#171958 [Metric threshold] Fix incorrect rule params when changing nonCount agg to count in custom equation
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/metric_row_with_agg.tsx
Labels: release_note:fix, Team:obs-ux-management, Feature: Custom threshold

#172432 fleet: upgrade universal profiling integrations
  fleet_packages.json
Labels: release_note:skip, backport:skip, 8.12 candidate

#172447 [Cloud Security] reduce the size of the CIS logo to match the benchmark logo size
  x-pack/plugins/cloud_security_posture/public/pages/configurations/findings_flyout/findings_flyout.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security

#171364 [ES Query] Make rule created in Discover visible in Observability
  packages/kbn-rule-data-utils/src/rule_types/index.ts
  src/plugins/discover/public/application/main/components/top_nav/open_alerts_popover.tsx
  src/plugins/discover/tsconfig.json
  x-pack/plugins/observability/public/pages/rules/rules.tsx
  x-pack/plugins/stack_alerts/public/rule_types/es_query/index.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_add.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_add.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form_consumer_selection.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form_consumer_selection.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
  x-pack/test/functional_with_es_ssl/config.base.ts
Labels: release_note:enhancement, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.12.0, Team:obs-ux-management

#171697 [Cypress][Flake][Detection Engine] Fix flakey add/edit exception test
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/related_integrations/related_integrations.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/exceptions/entry/match_any.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/exceptions/rule_details_flow/add_edit_exception_data_view.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/rule_details.ts
Labels: release_note:skip, Team:Detection Engine, v8.12.0

#172484 Fix broken slack messages in Kibana serverless release
  .buildkite/scripts/serverless/create_deploy_tag/release_wizard_messaging.ts
Labels: Team:Operations, release_note:skip, backport:skip

#171032 [APM] Encode custom links values
  x-pack/plugins/apm/common/custom_link/custom_link.test.ts
  x-pack/plugins/apm/common/custom_link/index.ts
  x-pack/plugins/apm/public/components/app/settings/custom_link/create_edit_custom_link_flyout/helper.ts
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/custom_link_menu_section/custom_link_list.tsx
Labels: release_note:fix, Team:APM, v8.12.0

#172494 [performance] Move scalability and load APM to e2e-perf cluster
  x-pack/test/load/config.ts
  x-pack/test/scalability/config.ts
Labels: Team:QA, release_note:skip, backport:all-open

#172368 [APM] Mobile UI tweaks
  x-pack/plugins/apm/public/components/app/mobile/search_bar.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/filters/index.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/index.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/stats/location_stats.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/stats/stats.tsx
  x-pack/plugins/apm/public/components/shared/time_comparison/index.tsx
Labels: Team:APM, release_note:skip, v8.12.0

#172252 [RAM][Maintenance Window] Maintenance window scoped query task manager changes
  x-pack/plugins/alerting/server/alerts_client/alerts_client.mock.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client_fixtures.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.mock.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/lib/get_summarized_alerts_query.ts
  x-pack/plugins/alerting/server/alerts_client/lib/index.ts
  x-pack/plugins/alerting/server/alerts_client/types.ts
  x-pack/plugins/alerting/server/index.ts
  x-pack/plugins/alerting/server/task_runner/execution_handler.test.ts
  x-pack/plugins/alerting/server/task_runner/execution_handler.ts
  x-pack/plugins/alerting/server/task_runner/fixtures.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_alerts_client.test.ts
  x-pack/plugins/alerting/server/task_runner/types.ts
  x-pack/plugins/alerting/server/types.ts
  x-pack/test/alerting_api_integration/common/plugins/alerts/server/alert_types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/maintenance_window_flows.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/maintenance_window_scoped_query.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/test_helpers.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.12.0

#172508 [8.11] [performance] Move scalability and load APM to e2e-perf cluster (#172494)
  x-pack/test/load/config.ts
  x-pack/test/scalability/config.ts
Labels: backport

#170417 [FTR] add service to test user roles on serverless
  .gitignore
  packages/kbn-es/src/utils/docker.test.ts
  packages/kbn-es/src/utils/docker.ts
  test/functional/services/common/browser.ts
  x-pack/test_serverless/api_integration/test_suites/common/platform_security/index.ts
  x-pack/test_serverless/api_integration/test_suites/common/platform_security/request_as_viewer.ts
  x-pack/test_serverless/functional/page_objects/svl_common_page.ts
  x-pack/test_serverless/functional/test_suites/common/platform_security/index.ts
  x-pack/test_serverless/functional/test_suites/common/platform_security/viewer_role_login.ts
  x-pack/test_serverless/shared/services/index.ts
  x-pack/test_serverless/shared/services/supertest.ts
  x-pack/test_serverless/shared/services/user_manager/saml_auth.ts
  x-pack/test_serverless/shared/services/user_manager/svl_user_manager.ts
Labels: release_note:skip, FTR, v8.12.0

#172399 [Fleet] Add prerelease option to preconfigured package
  x-pack/plugins/fleet/common/types/models/preconfiguration.ts
  x-pack/plugins/fleet/server/services/epm/packages/bulk_install_packages.ts
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
  x-pack/plugins/fleet/server/types/models/preconfiguration.ts
  x-pack/plugins/fleet/server/types/rest_spec/epm.ts
Labels: release_note:skip, Team:Fleet

#171355 feat(slo): introduce compact view in slo list page
  x-pack/plugins/observability/public/components/slo/slo_status_badge/slo_active_alerts_badge.tsx
  x-pack/plugins/observability/public/components/slo/slo_status_badge/slo_status_badge.tsx
  x-pack/plugins/observability/public/hooks/slo/use_clone_slo.ts
  x-pack/plugins/observability/public/pages/slos/components/card_view/cards_per_row.tsx
  x-pack/plugins/observability/public/pages/slos/components/compact_view/slo_list_compact_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_item.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_items.stories.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_items.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_search_bar.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_sparkline.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_view_settings.tsx
  x-pack/plugins/observability/public/pages/slos/components/slos_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/toggle_slo_view.tsx
  x-pack/plugins/observability/public/pages/slos/hooks/use_url_search_state.ts
  x-pack/plugins/observability/public/pages/slos/slos.test.tsx
Labels: release_note:skip, v8.12.0, Team:obs-ux-management

#172511 [Enterprise Search] Remove E5 callout
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference_pipeline_processors_card.tsx
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.12.0

#172527 [Secuurity Solution][Endpoint] Renable ftr tests
  x-pack/test/security_solution_endpoint/apps/integrations/index.ts
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.12.0

#172438 [Serverless][Security Solution][Endpoint] Re-enable serverless endpoint list test
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/endpoint_list_with_security_essentials.cy.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_server/fleet_server_services.ts
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.12.0

#172491 [Enterprise Search] Combine and update license/model URLs
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_option.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_option.tsx
  x-pack/plugins/enterprise_search/server/lib/ml/utils.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.12.0

#172505 [Security solution] Add feature flag for AI streaming
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_send_messages/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant_context/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant_context/index.tsx
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/assistant/provider.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, Feature:Elastic AI Assistant, v8.12.0

#170344 [Reporting] Add max concurrent shards setting to schema
  packages/kbn-generate-csv/src/generate_csv.test.ts
  packages/kbn-generate-csv/src/generate_csv.ts
  packages/kbn-generate-csv/src/get_export_settings.test.ts
  packages/kbn-generate-csv/src/get_export_settings.ts
  packages/kbn-reporting/server/__snapshots__/config_schema.test.ts.snap
  packages/kbn-reporting/server/config_schema.ts
Labels: release_note:enhancement, Team:SharedUX, backport:all-open

#172498 [BUG][OBS-UX-MNGMT] Alert details page search bar doesn't consider QueryConfig in the Kibana Advanced setting
  x-pack/plugins/observability/public/components/alert_search_bar/alert_search_bar.tsx
  x-pack/plugins/observability/public/utils/build_es_query/build_es_query.ts
Labels: bug, release_note:fix, Feature:Alerting, backport:skip, v8.12.0, Team:obs-ux-management

#172474 [Log threshold alert] Remove technical preview from alert details page
  x-pack/plugins/observability/public/pages/alert_details/alert_details.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/page_title.tsx
Labels: release_note:skip, v8.12.0, Team:obs-ux-management

#172450 [Cases] Copy file hash from within the files table
  x-pack/plugins/cases/public/components/files/file_actions_popover_button.test.tsx
  x-pack/plugins/cases/public/components/files/file_actions_popover_button.tsx
  x-pack/plugins/cases/public/components/files/files_table.test.tsx
  x-pack/plugins/cases/public/components/files/translations.tsx
  x-pack/plugins/cases/public/components/files/use_files_table_columns.test.tsx
  x-pack/plugins/cases/public/components/files/use_files_table_columns.tsx
  x-pack/plugins/cases/public/containers/mock.ts
  x-pack/test/functional/services/cases/files.ts
Labels: release_note:enhancement, Team:ResponseOps, Feature:Cases, v8.12.0

#168441 SentinelOne manual host isolation/release in Alert details
  package.json
  x-pack/plugins/actions/server/action_type_registry.ts
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/common/components/endpoint/endpoint_agent_status/endpoint_agent_status.tsx
  x-pack/plugins/security_solution/public/common/components/endpoint/host_isolation/isolate_form.tsx
  x-pack/plugins/security_solution/public/common/components/endpoint/host_isolation/unisolate_form.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/alert_summary_view.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/get_alert_summary_rows.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/response_actions/response_actions_results.tsx
  x-pack/plugins/security_solution/public/common/components/response_actions/translations.ts
  x-pack/plugins/security_solution/public/common/components/response_actions/use_load_connectors/index.tsx
  x-pack/plugins/security_solution/public/common/utils/sentinelone_alert_check.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions/utils/helpers.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions/utils/helpers.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/index.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/isolate_sentinelone.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/sentinel_one_agent_status.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/unisolate_sentinelone.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/use_host_isolation_action.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/use_sentinelone_host_isolation.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/highlighted_fields_cell.tsx
  x-pack/plugins/security_solution/public/management/cypress/cypress_base.config.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/policy/policy_details.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/policy/policy_list.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/sentinelone/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/support/data_loaders.ts
  x-pack/plugins/security_solution/public/management/cypress/support/e2e.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/alerts.ts
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/use_sub_action.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/use_sub_action_mutation.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/formatted_field.tsx
  x-pack/plugins/security_solution/scripts/endpoint/common/elastic_agent_service.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_services.ts
  x-pack/plugins/security_solution/scripts/run_cypress/get_ftr_config.ts
  x-pack/plugins/security_solution/scripts/run_cypress/utils.ts
  x-pack/plugins/security_solution/tsconfig.json
  x-pack/plugins/stack_connectors/common/sentinelone/constants.ts
  x-pack/plugins/stack_connectors/common/sentinelone/schema.ts
  x-pack/plugins/stack_connectors/common/sentinelone/types.ts
  x-pack/plugins/stack_connectors/public/common/index.ts
  x-pack/plugins/stack_connectors/public/connector_types/sentinelone/sentinelone.ts
  x-pack/plugins/stack_connectors/public/connector_types/sentinelone/sentinelone_params.tsx
  x-pack/plugins/stack_connectors/public/connector_types/sentinelone/types.ts
  x-pack/plugins/stack_connectors/server/connector_types/sentinelone/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/sentinelone/sentinelone.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/capabilities.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/edit_connector_flyout/header.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/edit_connector_flyout/index.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/edit_connector_flyout/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/actions_connectors_list/components/actions_connectors_list.tsx
  yarn.lock
Labels: Team:Defend Workflows, release_note:feature, v8.12.0

#172532 [Detection Engine] Add back cypress tests that were removed
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/callouts/alerts_index_outdated_callout.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/callouts/missing_privileges_callout.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/enrichments/alert_threat_enrichments.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/status/alert_status.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/tags/alert_tags.cy.ts
Labels: release_note:skip, Team:Detection Engine, v8.12.0

#166002 [EDR Workflows] Add matches capabilities to Endpoint Exception creation
  packages/kbn-securitysolution-io-ts-list-types/src/common/endpoint/entry_match_wildcard/index.test.ts
  packages/kbn-securitysolution-io-ts-list-types/src/common/endpoint/entry_match_wildcard/index.ts
  packages/kbn-securitysolution-io-ts-types/src/operator/index.ts
  packages/kbn-securitysolution-list-utils/src/helpers/index.ts
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/helpers.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
  x-pack/test/security_solution_endpoint/apps/integrations/artifact_entries_list.ts
  x-pack/test/security_solution_endpoint/apps/integrations/endpoint_exceptions.ts
  x-pack/test/security_solution_endpoint/apps/integrations/index.ts
  x-pack/test/security_solution_endpoint/services/endpoint_artifacts.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows, ci:cloud-deploy

#172464 [Fleet] enable feature flags
  x-pack/plugins/fleet/common/experimental_features.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_settings_outputs.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet.ts
  x-pack/plugins/fleet/cypress/screens/fleet_outputs.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
Labels: release_note:skip, Team:Fleet

#172553 Fix Cypress FTR config support
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/threshold_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/threshold_rule_serverless_essentials.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_edit/threshold_rule.cy.ts
Labels: release_note:skip, backport:skip

#172449 [Profiling] Adding toast notification
  x-pack/plugins/profiling/public/hooks/use_async.ts
  x-pack/plugins/profiling/server/routes/flamechart.ts
  x-pack/plugins/profiling/server/routes/functions.ts
  x-pack/plugins/profiling/server/routes/index.ts
  x-pack/plugins/profiling/server/routes/topn.ts
Labels: release_note:skip, v8.12.0

#172531 [Lens] apply max-based dynamic color to metric background when no supporting vis
  src/plugins/chart_expressions/expression_metric/common/expression_functions/metric_vis_function.ts
  src/plugins/chart_expressions/expression_metric/common/types/expression_functions.ts
  src/plugins/chart_expressions/expression_metric/common/types/expression_renderers.ts
  x-pack/plugins/lens/public/visualizations/metric/to_expression.ts
  x-pack/plugins/lens/public/visualizations/metric/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/metric/visualization.tsx
Labels: release_note:enhancement, Team:Visualizations, Feature:Lens, v8.12.0

#172544 [Unified Field List] fix long single-word values
  packages/kbn-unified-field-list/src/components/field_stats/field_top_values_bucket.tsx
Labels: Team:Visualizations, release_note:skip, Feature:UnifiedFieldList, v8.12.0

#172485 Set up feedback telemetry gathering
  x-pack/plugins/observability_ai_assistant/public/analytics/schema.ts
  x-pack/plugins/observability_ai_assistant/public/application.tsx
  x-pack/plugins/observability_ai_assistant/public/components/chat/chat_body.tsx
  x-pack/plugins/observability_ai_assistant/public/components/insight/insight.tsx
  x-pack/plugins/observability_ai_assistant/public/hooks/use_chat.test.ts
  x-pack/plugins/observability_ai_assistant/public/plugin.tsx
  x-pack/plugins/observability_ai_assistant/public/service/create_chat_service.test.ts
  x-pack/plugins/observability_ai_assistant/public/service/create_chat_service.ts
  x-pack/plugins/observability_ai_assistant/public/service/create_mock_chat_service.ts
  x-pack/plugins/observability_ai_assistant/public/service/create_service.ts
  x-pack/plugins/observability_ai_assistant/public/types.ts
  x-pack/plugins/observability_ai_assistant/public/utils/get_timeline_items_from_conversation.test.tsx
  x-pack/plugins/observability_ai_assistant/public/utils/get_timeline_items_from_conversation.tsx
  x-pack/plugins/observability_ai_assistant/public/utils/storybook_decorator.tsx
  x-pack/plugins/observability_ai_assistant/tsconfig.json
Labels: release_note:skip

#172094 [ObsUx] [Controls] Add popover message in the control title
  x-pack/plugins/infra/public/pages/metrics/hosts/components/search_bar/controls_content.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/search_bar/controls_title.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_control_panels_url_state.ts
Labels: release_note:enhancement, Team:Presentation, backport:skip, Team:obs-ux-infra_services

#172514 [Cases] Activate Status & Severity Filters on Load
  x-pack/plugins/cases/public/components/all_cases/table_filter_config/use_filter_config.test.tsx
  x-pack/plugins/cases/public/components/all_cases/table_filter_config/use_filter_config.tsx
  x-pack/plugins/cases/public/components/all_cases/table_filters.test.tsx
  x-pack/plugins/cases/public/components/all_cases/table_filters.tsx
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Cases, v8.12.0

#172188 [ML] [AIOps] Using standard analyser in pattern analysis
  x-pack/plugins/aiops/common/__mocks__/artificial_logs/significant_log_patterns.ts
  x-pack/plugins/aiops/common/api/log_categorization/create_category_request.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/queries/fetch_categories.test.ts
Labels: release_note:fix, :ml, Feature:ML/AIOps, v8.12.0

#172550 [Fleet] Fix preconfigured remote ES outputs with secrets
  x-pack/plugins/fleet/server/services/preconfiguration/outputs.ts
  x-pack/plugins/fleet/server/types/models/preconfiguration.test.ts
  x-pack/plugins/fleet/server/types/models/preconfiguration.ts
Labels: release_note:skip, backport:skip, Team:Fleet, v8.12.0

#168644 feat: add back minBarHeight on discover histogram
  src/plugins/chart_expressions/expression_xy/common/__mocks__/index.ts
  src/plugins/chart_expressions/expression_xy/common/expression_functions/common_xy_args.ts
  src/plugins/chart_expressions/expression_xy/common/expression_functions/layered_xy_vis_fn.ts
  src/plugins/chart_expressions/expression_xy/common/expression_functions/validate.ts
  src/plugins/chart_expressions/expression_xy/common/expression_functions/xy_vis_fn.ts
  src/plugins/chart_expressions/expression_xy/common/i18n/index.tsx
  src/plugins/chart_expressions/expression_xy/common/types/expression_functions.ts
  src/plugins/chart_expressions/expression_xy/public/components/__snapshots__/xy_chart.test.tsx.snap
  src/plugins/chart_expressions/expression_xy/public/components/data_layers.tsx
  src/plugins/chart_expressions/expression_xy/public/components/xy_chart.test.tsx
  src/plugins/chart_expressions/expression_xy/public/components/xy_chart.tsx
  src/plugins/unified_histogram/public/chart/utils/get_lens_attributes.test.ts
  src/plugins/unified_histogram/public/chart/utils/get_lens_attributes.ts
  src/plugins/visualizations/common/convert_to_lens/types/configurations.ts
  x-pack/plugins/lens/public/visualizations/xy/__snapshots__/to_expression.test.ts.snap
  x-pack/plugins/lens/public/visualizations/xy/to_expression.ts
  x-pack/plugins/lens/public/visualizations/xy/types.ts
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.12.0

#172560 [Entity Analytics] Update Entity Risk Scoring doc link to point to new page
  packages/kbn-doc-links/src/get_doc_links.ts
Labels: release_note:skip, Team:Entity Analytics, EA Sprint 2 (2023.11.21 - 2023.12.5)

#169400 [ML] Adding pattern analysis to anomaly action menu
  x-pack/plugins/aiops/common/api/log_categorization/create_categorize_query.ts
  x-pack/plugins/aiops/common/api/log_categorization/create_category_request.ts
  x-pack/plugins/aiops/common/api/log_categorization/get_category_query.ts
  x-pack/plugins/aiops/common/api/log_categorization/process_category_results.ts
  x-pack/plugins/aiops/common/api/log_categorization/types.ts
  x-pack/plugins/aiops/public/components/log_categorization/categorize_field_actions.ts
  x-pack/plugins/aiops/public/components/log_categorization/category_table/category_table.tsx
  x-pack/plugins/aiops/public/components/log_categorization/category_table/table_header.tsx
  x-pack/plugins/aiops/public/components/log_categorization/document_count_chart.tsx
  x-pack/plugins/aiops/public/components/log_categorization/log_categorization_for_flyout.tsx
  x-pack/plugins/aiops/public/components/log_categorization/log_categorization_page.tsx
  x-pack/plugins/aiops/public/components/log_categorization/show_flyout.tsx
  x-pack/plugins/aiops/public/components/log_categorization/use_categorize_request.ts
  x-pack/plugins/aiops/public/components/log_categorization/use_discover_links.ts
  x-pack/plugins/aiops/public/components/log_categorization/use_validate_category_field.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/queries/fetch_categories.test.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/queries/fetch_categories.ts
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.tsx
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/util/index_utils.ts
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, v8.12.0

#172332 Puppeteer update v21.5.2
  package.json
  x-pack/build_chromium/build.py
  x-pack/build_chromium/build_util.py
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.test.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/metrics.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
  x-pack/plugins/screenshotting/server/browsers/download/checksum.test.ts
  x-pack/plugins/screenshotting/server/browsers/download/checksum.ts
  x-pack/plugins/screenshotting/server/browsers/download/fetch.test.ts
  x-pack/plugins/screenshotting/server/browsers/download/fetch.ts
  x-pack/plugins/screenshotting/server/browsers/download/index.test.ts
  x-pack/plugins/screenshotting/server/browsers/download/index.ts
  x-pack/plugins/screenshotting/server/browsers/install.ts
  yarn.lock
Labels: Feature:Reporting, release_note:skip, Team:SharedUX, ci:cloud-deploy, 8.10 candidate, 8.11 candidate, 8.12 candidate

#172580 [Security Solution] Adding missing test to detection engine
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/overview/cti_link_panel.cy.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, v8.12.0

#172422 Update page for missing Short URL Part II
  .buildkite/ftr_configs.yml
  src/plugins/share/public/lib/get_home_href.ts
  src/plugins/share/public/url_service/redirect/components/empty_prompt.tsx
  src/plugins/share/public/url_service/redirect/components/error.tsx
  src/plugins/share/public/url_service/redirect/components/page.tsx
  src/plugins/share/public/url_service/redirect/redirect_manager.ts
  src/plugins/share/tsconfig.json
  test/functional/apps/sharing/_short_urls.ts
  test/functional/apps/sharing/config.ts
  test/functional/apps/sharing/index.ts
  x-pack/plugins/canvas/shareable_runtime/webpack.config.js
Labels: Feature:SharingURLs, release_note:skip, Team:SharedUX, ci:build-canvas-shareable-runtime

#172543 [Lens] Fixes the transition to a dashboard when originatingApp is not given
  x-pack/plugins/lens/public/app_plugin/save_modal_container.tsx
  x-pack/plugins/lens/public/app_plugin/save_modal_container_helpers.test.ts
  x-pack/plugins/lens/public/app_plugin/save_modal_container_helpers.ts
Labels: release_note:skip, Feature:Lens, backport:skip, v8.12.0

#172566 [TSVB][AggBased] Carry filters/query when navigating from dashboard -> editor -> lens
  src/plugins/visualizations/public/visualize_app/utils/get_top_nav_config.tsx
  x-pack/test/functional/apps/lens/open_in_lens/tsvb/dashboard.ts
Labels: Feature:Visualizations, release_note:fix, Team:Visualizations, Feature:Lens, backport:skip, v8.12.0

#172497 [Advanced Settings][Serverless] Improve functional tests
  x-pack/test_serverless/functional/test_suites/common/management/advanced_settings.ts
Labels: Feature:Kibana Management, Team:Deployment Management, release_note:skip, Project:Serverless

#172524 [ci] Add sonarqube scan pipeline
  .buildkite/pipelines/sonarqube.yml
  .buildkite/pull_requests.json
  catalog-info.yaml
Labels: Team:Operations, release_note:skip

#172563 [Security Solution][Endpoint] Set perPage to 1000 for package policies query in Endpoint Artifacts form
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/artifact_list_page.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/integration_tests/artifact_list_page.test.tsx
Labels: release_note:skip, backport:skip, Team:Defend Workflows, v8.12.0

#172301 [Search] Add API key panel to Search Hub
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  packages/kbn-guided-onboarding/src/components/landing_page/guide/__snapshots__/guide_cards.test.tsx.snap
  packages/kbn-search-api-panels/index.tsx
  x-pack/plugins/enterprise_search/public/applications/__mocks__/kea_logic/kibana_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/app_search/components/curations/curation/curation.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/applications/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/api/create_elasticsearch_api_key_logic.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/api/fetch_api_keys_logic.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/assets/search_header.png
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/assets/search_header.svg
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/ingestion_selector.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/product_selector.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/product_selector.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/product_selector/welcome_banner.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/index.tsx
  x-pack/plugins/enterprise_search/public/applications/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/api_key/api_key_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/api_key/basic_setup_form.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/api_key/create_api_key_flyout.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/api_key/metadata_form.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/api_key/security_privileges_form.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/doc_links/doc_links.ts
  x-pack/plugins/enterprise_search/public/applications/shared/kibana/kibana_logic.ts
  x-pack/plugins/enterprise_search/public/applications/shared/layout/endpoints_header_action.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/search_labs_banner/search_labs_banner.tsx
  x-pack/plugins/enterprise_search/public/applications/test_helpers/test_utils.test_helper.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/gated_form_page.tsx
  x-pack/plugins/enterprise_search/public/assets/images/endpoint_icon.svg
  x-pack/plugins/enterprise_search/public/assets/images/search_labs_banner_background.svg
  x-pack/plugins/enterprise_search/public/assets/images/search_labs_logo.svg
  x-pack/plugins/enterprise_search/server/plugin.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/api_keys.ts
  x-pack/plugins/enterprise_search/tsconfig.json
Labels: release_note:skip, Team:EnterpriseSearch, v8.12.0

#172565 [Console][Serverless] Add functional smoke tests
  x-pack/test_serverless/functional/test_suites/common/console/console.ts
  x-pack/test_serverless/functional/test_suites/common/console/index.ts
  x-pack/test_serverless/functional/test_suites/observability/common_configs/config.group1.ts
  x-pack/test_serverless/functional/test_suites/search/common_configs/config.group1.ts
  x-pack/test_serverless/functional/test_suites/security/common_configs/config.group1.ts
Labels: Feature:Console, test_ui_functional, Team:Deployment Management, release_note:skip, Project:Serverless

#172222 [Fleet] Fix agent policy timeout to accept only integer
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_policy.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_policy_create_request.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_policy_update_request.yaml
  x-pack/plugins/fleet/server/types/models/agent_policy.ts
Labels: bug, release_note:fix, Team:Fleet, backport:prev-minor

#171956 [data views] Add fields for wildcard scalability test
  x-pack/test/scalability/apis/api.fields_for_wildcard.32_fields.json
  x-pack/test/scalability/apis/api.fields_for_wildcard.6800_fields.json
Labels: Feature:Data Views, release_note:skip, Team:DataDiscovery

#171433 [SLO] Set "budget consumed mode" as the default mode for burn rate rule configuration
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/alert_time_table.tsx
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/burn_rate_rule_editor.tsx
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/constants.ts
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/windows.tsx
Labels: release_note:enhancement, v8.12.0, Team:obs-ux-management

#172479 [Enterprise Search] Dedicated crawlers page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/stats/fetch_sync_jobs_stats_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connector_stats.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connector_type.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connectors.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/crawler_empty_state.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/new_search_index_page.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/select_connector/connector_checkable.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/select_connector/select_connector.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/index.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/routes.ts
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.tsx
  x-pack/plugins/enterprise_search/server/lib/stats/get_sync_jobs.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/stats.ts
  x-pack/plugins/enterprise_search/server/utils/get_sync_jobs_queries.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.12.0

#172621 [Alerting/API Tests] Add await to objectRemover.removeAll()
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/max_queued_actions_circuit_breaker.ts
Labels: release_note:skip

#172619 [8.11] [Fleet] Fix agent policy timeout to accept only integer (#172222)
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_policy.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_policy_create_request.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/agent_policy_update_request.yaml
  x-pack/plugins/fleet/server/types/models/agent_policy.ts
Labels: backport, Team:Fleet

#172218 [Fleet] Fixes for various flaky tests
  x-pack/plugins/fleet/server/integration_tests/ha_setup.test.ts
  x-pack/plugins/fleet/server/integration_tests/helpers/docker_registry_helper.ts
  x-pack/plugins/fleet/server/integration_tests/upgrade_agent_policy_schema_version.test.ts
  x-pack/plugins/fleet/server/services/agents/crud.test.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.test.ts
  x-pack/test/fleet_api_integration/apis/agents/reassign.ts
  x-pack/test/fleet_api_integration/apis/epm/install_integration_in_multiple_spaces.ts
Labels: release_note:skip, Team:Fleet

#172614 [Security Solution] Increase parallelism for Defend Workflows tests
  .buildkite/pipelines/pull_request/base.yml
Labels: release_note:skip, Team:Defend Workflows, v8.12.0

#172620 [Dashboard] Prevent overflowing dashboard title on save toast
  src/plugins/dashboard/public/services/dashboard_content_management/lib/save_dashboard_state.test.ts
  src/plugins/dashboard/public/services/dashboard_content_management/lib/save_dashboard_state.ts
Labels: release_note:fix, Team:Presentation, v8.13.0

#172638 Emergency Release - Revert "[Fleet] Fix get file handler for bundled package (#172182)"
  x-pack/plugins/fleet/server/routes/epm/file_handler.test.ts
  x-pack/plugins/fleet/server/routes/epm/file_handler.ts
  x-pack/plugins/fleet/server/routes/epm/handlers.ts
  x-pack/plugins/fleet/server/routes/epm/index.ts
  x-pack/plugins/fleet/tsconfig.json
Labels: release_note:skip, Team:Fleet, ci:project-deploy-observability

#172496 [Cases] Return correct total comments and alerts on bulk update cases.
  x-pack/plugins/cases/server/client/cases/update.test.ts
  x-pack/plugins/cases/server/client/cases/update.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/patch_cases.ts
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Cases, v8.12.0

#172175 [Ops] Switch to using the migrated secret paths for vault secrets
  .buildkite/scripts/common/util.sh
  .buildkite/scripts/lifecycle/pre_command.sh
  .buildkite/scripts/pipelines/security_solution_quality_gate/api-integration-tests.sh
  .buildkite/scripts/pipelines/security_solution_quality_gate/security_solution_cypress/mki_security_solution_cypress.sh
  .buildkite/scripts/steps/cloud/build_and_deploy.sh
  .buildkite/scripts/steps/cloud/purge_deployment.ts
  .buildkite/scripts/steps/cloud/purge_deployments.ts
  .buildkite/scripts/steps/functional/apm_cypress.sh
  .buildkite/scripts/steps/functional/report_performance_metrics.sh
  .buildkite/scripts/steps/functional/scalability_dataset_extraction.sh
  .buildkite/scripts/steps/serverless/build_and_deploy.sh
  .ci/Jenkinsfile_baseline_capture
Labels: Team:Operations, release_note:skip, backport:skip

#169750 [Lens] New lens config builder api
  .github/CODEOWNERS
  packages/kbn-lens-embeddable-utils/config_builder/charts/gauge.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/gauge.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/heatmap.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/heatmap.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/index.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/metric.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/metric.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/partition.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/partition.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/region_map.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/region_map.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/table.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/table.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/tag_cloud.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/tag_cloud.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/xy.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/charts/xy.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/breakdown.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/breakdown.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/date_histogram.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/filters.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/formula.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/index.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/intervals.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/static.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/top_values.ts
  packages/kbn-lens-embeddable-utils/config_builder/columns/value.ts
  packages/kbn-lens-embeddable-utils/config_builder/config_builder.ts
  packages/kbn-lens-embeddable-utils/config_builder/index.ts
  packages/kbn-lens-embeddable-utils/config_builder/types.ts
  packages/kbn-lens-embeddable-utils/config_builder/utils.test.ts
  packages/kbn-lens-embeddable-utils/config_builder/utils.ts
  packages/kbn-lens-embeddable-utils/kibana.jsonc
  packages/kbn-lens-embeddable-utils/tsconfig.json
  x-pack/plugins/lens/public/datasources/text_based/types.ts
  x-pack/plugins/lens/public/index.ts
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.12.0

#172442 [Index Management] Add missing enrich policies tests
  x-pack/test/api_integration/apis/management/index_management/constants.ts
  x-pack/test/api_integration/apis/management/index_management/enrich_policies.ts
  x-pack/test/api_integration/apis/management/index_management/index.ts
  x-pack/test/api_integration/apis/management/index_management/lib/enrich_policies.api.ts
  x-pack/test/api_integration/apis/management/index_management/lib/enrich_policies.helpers.ts
  x-pack/test/api_integration/services/index_management.ts
  x-pack/test_serverless/api_integration/test_suites/common/index_management/enrich_policies.ts
  x-pack/test_serverless/api_integration/test_suites/common/index_management/index.ts
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip, backport:skip, v8.12.0

#170829 [EDR Workflows] POC - Show Sentinel One data in analyzer
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/common/components/header_actions/actions.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/investigate_in_resolver.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/investigate_in_resolver.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/analyzer_preview_container.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/analyzer_preview_container.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/shared/hooks/use_show_related_alerts_by_ancestry.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/entity/handler.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/entity/utils/build_resolver_entity.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/entity/utils/supported_schemas.ts
  x-pack/plugins/security_solution/server/lib/telemetry/__mocks__/index.ts
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
Labels: release_note:skip, Team:Defend Workflows, release_note:feature, v8.12.0

#172653 [Lens] Fixes the overwriting of the description when updating a by ref chart
  x-pack/plugins/lens/public/app_plugin/lens_top_nav.tsx
Labels: release_note:fix, Team:Visualizations, Feature:Lens, backport:skip, v8.12.0

#172267 [ESQL][Lens] Active data is not updated correctly in the dimension panel always
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, v8.12.0

#172673 [Fleet] fix for update optional secrets
  x-pack/plugins/fleet/server/services/secrets.test.ts
  x-pack/plugins/fleet/server/services/secrets.ts
Labels: release_note:skip, Team:Fleet, v8.12.0

#172568 [Cases] Fix flaky Case Activity View test
  x-pack/plugins/cases/public/components/case_view/components/case_view_activity.test.tsx
Labels: technical debt, release_note:skip, Team:ResponseOps, Feature:Cases, v8.12.0

#172583 [DOCS] Adds the 8.11.2 release notes.
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, docs, v8.12.0, v8.11.2

#172572 [Obs UX] Fix infra home_page test
  x-pack/test/functional/page_objects/infra_home_page.ts
Labels: release_note:skip, backport:prev-minor, Team:obs-ux-infra_services, v8.13.0

#172164 Ask LLM to select relevant documents as part of recall
  x-pack/plugins/observability_ai_assistant/public/functions/recall.ts
  x-pack/plugins/observability_ai_assistant/server/service/knowledge_base_service/index.ts
Labels: release_note:skip, backport:prev-minor, v8.12.0

#172633 [Dashboard] Fix flaky `sync_colors.tsx` test
  test/functional/page_objects/time_picker.ts
  x-pack/test/functional/page_objects/lens_page.ts
Labels: Team:Presentation, loe:small, release_note:skip, impact:critical, backport:prev-minor, v8.13.0

#172576 [Lens] cleanup - remove non used css
  x-pack/plugins/lens/public/datasources/form_based/datapanel.scss
Labels: Team:Visualizations, release_note:skip, Feature:Lens, v8.12.0

#172689 [8.11] [DOCS] Adds the 8.11.2 release notes. (#172583)
  docs/CHANGELOG.asciidoc
Labels: backport

#172486 [DOCS] 7.17.16 release notes
  docs/CHANGELOG.asciidoc
Labels: release_note:skip, backport:skip, v7.17.16

#172353 Remove dead code left over from legacy to NP migration
  packages/core/plugins/core-plugins-server-internal/index.ts
  packages/core/plugins/core-plugins-server-internal/src/discovery/index.ts
  packages/core/plugins/core-plugins-server-internal/src/discovery/plugin_manifest_parser.ts
  packages/core/plugins/core-plugins-server-internal/src/index.ts
Labels: Team:Core, release_note:skip

#172592 [Entity Analytics] Update Entity Risk Scoring doc link to point to the new page
  packages/kbn-doc-links/src/get_doc_links.ts
Labels: release_note:skip, Team:Entity Analytics, EA Sprint 2 (2023.11.21 - 2023.12.5)

#172682 [tests] skip advanced_settings for MKI run
  x-pack/test_serverless/functional/test_suites/common/management/advanced_settings.ts
Labels: release_note:skip, backport:skip, v8.12.0

#172661 [TSVB] Replace missing icon with EUI one
  src/plugins/vis_types/timeseries/public/application/components/vis_editor_visualization.js
Labels: Feature:TSVB, Team:Visualizations, release_note:skip, v8.12.0

#172659 [Security Solution][Detection Engine] fixes codeowners file for Cypress Detection Engine tests
  .github/CODEOWNERS
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine

#172603 [Security Solution] fix broken encoding for the expandable flyout values
  packages/kbn-url-state/index.test.ts
  packages/kbn-url-state/index.ts
Labels: bug, release_note:skip, backport:skip, Team:Threat Hunting:Investigations, 8.12 candidate

#172499 [Cases] Remove useEffects from cases table filters
  x-pack/plugins/cases/public/components/all_cases/table_filter_config/use_custom_fields_filter_config.tsx
  x-pack/plugins/cases/public/components/all_cases/table_filter_config/use_filter_config.tsx
  x-pack/plugins/cases/public/components/all_cases/table_filter_config/use_system_filter_config.tsx
Labels: technical debt, release_note:skip, Team:ResponseOps, Feature:Cases, v8.12.0

#172625 [RAM] Fix maintenance window scoped query functional test
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/maintenance_window_scoped_query.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.12.0, v8.13.0

#172347 [EDR Workflows] Include timeout in saved query run
  x-pack/plugins/osquery/public/live_queries/form/index.tsx
  x-pack/plugins/osquery/public/live_queries/index.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/list/index.tsx
Labels: release_note:skip, backport:skip, Team:Defend Workflows, Osquery, v8.12.0

#172695 [Fleet] fix optional secret update
  x-pack/plugins/fleet/server/services/secrets.test.ts
  x-pack/plugins/fleet/server/services/secrets.ts
Labels: release_note:skip, Team:Fleet, v8.12.0, v8.11.3

#171789 [Security Solution][Investigations] - Fix ESQL query size
  x-pack/plugins/security_solution/public/common/components/discover_in_timeline/use_discover_in_timeline_actions.tsx
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/esql/cell_actions.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/esql/discover_timeline_state_integration.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/esql/esql_state.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/esql/search_filter.cy.ts
  x-pack/test/security_solution_cypress/cypress/screens/discover.ts
  x-pack/test/security_solution_cypress/cypress/tasks/discover.ts
  x-pack/test/security_solution_cypress/cypress/tasks/timeline.ts
Labels: bug, release_note:fix, Team:Threat Hunting:Investigations, ci:cloud-deploy, v8.12.0

#172721 [Controls] Clean up deprecated `KibanaThemeProvider` + `toMountPoint`
  src/plugins/controls/public/control_group/actions/edit_control_action.tsx
  src/plugins/controls/public/control_group/editor/open_add_data_control_flyout.tsx
  src/plugins/controls/public/control_group/editor/open_edit_control_group_flyout.tsx
  src/plugins/controls/public/control_group/embeddable/control_group_container.tsx
  src/plugins/controls/public/options_list/embeddable/options_list_embeddable.tsx
  src/plugins/controls/public/range_slider/embeddable/range_slider_embeddable.tsx
  src/plugins/controls/public/services/core/core.story.ts
  src/plugins/controls/public/services/core/core_service.ts
  src/plugins/controls/public/services/core/types.ts
  src/plugins/controls/public/services/plugin_services.story.ts
  src/plugins/controls/public/services/plugin_services.stub.ts
  src/plugins/controls/public/services/plugin_services.ts
  src/plugins/controls/public/services/types.ts
  src/plugins/controls/public/time_slider/embeddable/time_slider_embeddable.tsx
  src/plugins/controls/tsconfig.json
Labels: Feature:Input Control, Team:Presentation, loe:small, technical debt, release_note:skip, impact:low, backport:skip, Project:Controls

#172736 Add `/ci` comment trigger to run CI
  .buildkite/pull_requests.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.12.0

#172455 Fixup issues with the data view openapi spec.
  src/plugins/data_views/docs/openapi/bundled.json
  src/plugins/data_views/docs/openapi/bundled.yaml
  src/plugins/data_views/docs/openapi/components/schemas/sourcefilters.yaml
  src/plugins/data_views/docs/openapi/paths/api@data_views@data_view@{viewid}.yaml
  src/plugins/data_views/docs/openapi/paths/api@data_views@data_view@{viewid}@runtime_field.yaml
Labels: release_note:fix

#172732 Remove details from migrations logging
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/__snapshots__/migrations_state_action_machine.test.ts.snap
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/common/utils/logs.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/cleanup.test.ts
Labels: chore, release_note:skip, backport:all-open

#172743 [8.11] Remove details from migrations logging (#172732)
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/__snapshots__/migrations_state_action_machine.test.ts.snap
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/common/utils/logs.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/cleanup.test.ts
Labels: backport

#172723 [Security Solution] Skip long runnng test that is timing out
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/cases_response_console.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.12.0

#172747 chore(NA): bump version to 8.13.0
  package.json
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.13.0

#172748 chore(NA): adds 8.13 into backportrc
  .backportrc.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.13.0

#172749 chore(NA): update versions after v8.13.0 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.13.0

#172456 [asset manager] docs updates
  x-pack/plugins/asset_manager/docs/api.md
  x-pack/plugins/asset_manager/server/lib/collectors/containers.ts
  x-pack/plugins/asset_manager/server/lib/collectors/hosts.ts
  x-pack/plugins/asset_manager/server/lib/collectors/pods.ts
  x-pack/plugins/asset_manager/server/lib/collectors/services.ts
  x-pack/plugins/asset_manager/server/lib/utils.ts
  x-pack/test/api_integration/apis/asset_manager/tests/containers.ts
  x-pack/test/api_integration/apis/asset_manager/tests/hosts.ts
  x-pack/test/api_integration/apis/asset_manager/tests/pods.ts
Labels: release_note:skip, Feature:Asset Manager, Team:obs-knowledge

#172730 [Fleet] Backport fixes for updating secrets to 8.11
  x-pack/plugins/fleet/server/services/secrets.test.ts
  x-pack/plugins/fleet/server/services/secrets.ts
Labels: release_note:skip, Team:Fleet, v8.11.3

#172554 Deprecate feature flag for Log threshold alert details page
  x-pack/README.md
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/plugins/observability/public/application/application.test.tsx
  x-pack/plugins/observability/public/pages/alert_details/alert_details.test.tsx
  x-pack/plugins/observability/public/pages/alerts/alerts.test.tsx
  x-pack/plugins/observability/public/pages/alerts/components/alert_actions.test.tsx
  x-pack/plugins/observability/public/pages/overview/components/sections/apm/apm_section.test.tsx
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
  x-pack/plugins/observability/public/pages/rules/rules.test.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/utils/is_alert_details_enabled.test.ts
  x-pack/plugins/observability/public/utils/is_alert_details_enabled.ts
  x-pack/plugins/observability/public/utils/kibana_react.storybook_decorator.tsx
  x-pack/plugins/observability/public/utils/test_helper.tsx
  x-pack/plugins/observability/server/index.ts
Labels: release_note:skip, v8.12.0, Team:obs-ux-management

#172775 [8.12] Deprecate feature flag for Log threshold alert details page (#172554)
  x-pack/README.md
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/plugins/observability/public/application/application.test.tsx
  x-pack/plugins/observability/public/pages/alert_details/alert_details.test.tsx
  x-pack/plugins/observability/public/pages/alerts/alerts.test.tsx
  x-pack/plugins/observability/public/pages/alerts/components/alert_actions.test.tsx
  x-pack/plugins/observability/public/pages/overview/components/sections/apm/apm_section.test.tsx
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
  x-pack/plugins/observability/public/pages/rules/rules.test.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/utils/is_alert_details_enabled.test.ts
  x-pack/plugins/observability/public/utils/is_alert_details_enabled.ts
  x-pack/plugins/observability/public/utils/kibana_react.storybook_decorator.tsx
  x-pack/plugins/observability/public/utils/test_helper.tsx
  x-pack/plugins/observability/server/index.ts
Labels: backport, Team:obs-ux-management

#172676 [EBT] fix browser-side elasticsearch context schema
  packages/core/analytics/core-analytics-browser-internal/src/analytics_service.ts
  packages/core/injected-metadata/core-injected-metadata-common-internal/src/types.ts
Labels: Team:Core, Feature:Telemetry, release_note:skip, v8.12.0

#172685 [Lens] fixed equality check for visualization
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, v8.12.0

#172584 Deprecate feature flag for Custom threshold rule
  x-pack/plugins/observability/public/pages/alerts/alerts.test.tsx
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
  x-pack/plugins/observability/public/pages/rules/rules.test.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/rules/register_observability_rule_types.ts
  x-pack/plugins/observability/public/utils/kibana_react.storybook_decorator.tsx
  x-pack/plugins/observability/public/utils/test_helper.tsx
  x-pack/plugins/observability/server/index.ts
  x-pack/plugins/observability/server/lib/rules/register_rule_types.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test_serverless/api_integration/test_suites/observability/config.feature_flags.ts
  x-pack/test_serverless/functional/test_suites/observability/config.feature_flags.ts
Labels: release_note:skip, v8.12.0, Team:obs-ux-management

#172792 [8.12] Deprecate feature flag for Custom threshold rule (#172584)
  x-pack/plugins/observability/public/pages/alerts/alerts.test.tsx
  x-pack/plugins/observability/public/pages/overview/overview.stories.tsx
  x-pack/plugins/observability/public/pages/rules/rules.test.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/rules/register_observability_rule_types.ts
  x-pack/plugins/observability/public/utils/kibana_react.storybook_decorator.tsx
  x-pack/plugins/observability/public/utils/test_helper.tsx
  x-pack/plugins/observability/server/index.ts
  x-pack/plugins/observability/server/lib/rules/register_rule_types.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test_serverless/api_integration/test_suites/observability/config.feature_flags.ts
  x-pack/test_serverless/functional/test_suites/observability/config.feature_flags.ts
Labels: backport, Team:obs-ux-management

#172483 [Cloud] Remove connection details link icon
  x-pack/plugins/cloud_integrations/cloud_links/public/maybe_add_cloud_links/help_menu_links.tsx
  x-pack/plugins/cloud_integrations/cloud_links/public/maybe_add_cloud_links/maybe_add_cloud_links.test.ts
Labels: release_note:skip, Team:SharedUX

#172589 [EDR Workflows][CI] Indicate in the name of burning specs that they're only soft failing
  .buildkite/pipelines/pull_request/cypress_burn.yml
Labels: release_note:skip, Team:Defend Workflows

#172691 [Datatable] Sorts null values last
  src/plugins/vis_types/table/public/components/table_vis_basic.tsx
  src/plugins/vis_types/table/public/components/utils.test.ts
  src/plugins/vis_types/table/public/components/utils.ts
Labels: Feature:Data Table, release_note:fix, Team:Visualizations, backport:prev-minor, v8.12.0, v8.13.0

#172791 [Lens] Pass user messages to the config panel
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/layer_configuration_section.tsx
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/types.ts
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:prev-minor, v8.12.0, v8.13.0

#172795 [Fleet] fix validation of output secret fields
  x-pack/plugins/fleet/cypress/e2e/fleet_settings_outputs.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet_outputs.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_kafka_authentication.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_remote_es.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_secret_form_row.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_secret_form_row.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_validators.tsx
Labels: release_note:skip, Team:Fleet, v8.12.0

#171571 [Response Ops][Alerting] Adding evaluation threshold to alert payload for ES query rule
  packages/kbn-alerts-as-data-utils/src/schemas/generated/stack_schema.ts
  x-pack/plugins/observability/public/utils/format_alert_evaluation_value.test.ts
  x-pack/plugins/observability/public/utils/format_alert_evaluation_value.ts
  x-pack/plugins/stack_alerts/server/rule_types/constants.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/executor.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/executor.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/rule_type.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/rule_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/types.ts
  x-pack/plugins/stack_alerts/server/rule_types/index_threshold/rule_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/es_query/esql_only.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/es_query/rule.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/alert_documents.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/summary_actions.ts
Labels: release_note:fix, Feature:Alerting, Team:ResponseOps, v8.12.0, Team:obs-ux-management, v8.13.0

#172762 [8.12] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#172807 [8.12] [Datatable] Sorts null values last (#172691)
  src/plugins/vis_types/table/public/components/table_vis_basic.tsx
  src/plugins/vis_types/table/public/components/utils.test.ts
  src/plugins/vis_types/table/public/components/utils.ts
Labels: backport

#172740 [RAM] Fix o11y view in app
  x-pack/plugins/observability/public/pages/alerts/components/alert_actions.tsx
Labels: bug, high, release_note:skip, Team:ResponseOps, v8.12.0, Team:obs-ux-management, v8.11.2

#172810 [8.12] [Profiling] Fixing CO2 and Cost calcs (#172608)
  packages/kbn-profiling-utils/common/__fixtures__/base_flamegraph.ts
  packages/kbn-profiling-utils/common/flamegraph.ts
  packages/kbn-profiling-utils/common/functions.ts
  x-pack/plugins/profiling/common/__fixtures__/base_flamegraph.ts
  x-pack/plugins/profiling/e2e/cypress/e2e/profiling_views/differential_functions.cy.ts
  x-pack/plugins/profiling/public/views/flamegraphs/differential_flamegraphs/index.tsx
Labels: backport

#172809 Add fieldsForAAD to observability plugin rule types
  x-pack/plugins/observability/common/field_names/slo.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/constants.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/register_custom_threshold_rule_type.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/register.ts
Labels: bug, release_note:skip, backport:prev-minor, Team:obs-ux-management

#172812 [8.12] [Fleet] fix validation of output secret fields (#172795)
  x-pack/plugins/fleet/cypress/e2e/fleet_settings_outputs.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet_outputs.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_kafka_authentication.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_remote_es.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_secret_form_row.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_secret_form_row.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_validators.tsx
Labels: backport, Team:Fleet

#172814 [8.12] [Response Ops][Alerting] Adding evaluation threshold to alert payload for ES query rule (#171571)
  packages/kbn-alerts-as-data-utils/src/schemas/generated/stack_schema.ts
  x-pack/plugins/observability/public/utils/format_alert_evaluation_value.test.ts
  x-pack/plugins/observability/public/utils/format_alert_evaluation_value.ts
  x-pack/plugins/stack_alerts/server/rule_types/constants.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/executor.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/executor.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/rule_type.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/rule_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/types.ts
  x-pack/plugins/stack_alerts/server/rule_types/index_threshold/rule_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/es_query/esql_only.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/es_query/rule.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/alert_documents.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/summary_actions.ts
Labels: backport, Team:obs-ux-management

#172817 [8.12] [SecuritySolutions] Code review improvements for PR 8038 (#172650)
  x-pack/plugins/security_solution/common/search_strategy/security_solution/users/managed_details/index.ts
  x-pack/plugins/security_solution/public/flyout/entity_details/user_right/header.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/new_user_detail/__mocks__/index.ts
  x-pack/plugins/security_solution/public/timelines/components/side_panel/new_user_detail/columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/new_user_detail/hooks/use_managed_user.ts
  x-pack/plugins/security_solution/public/timelines/components/side_panel/new_user_detail/managed_user.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/new_user_detail/managed_user.tsx
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/users/managed_details/index.ts
Labels: backport
