Repository elastic/kibana, pull requests merged in 2023-02, with the labels that each got.

#149905 [DOCS] Improve server log connector, automate screenshots
  docs/management/connectors/action-types/server-log.asciidoc
  docs/management/connectors/images/serverlog-connector.png
  docs/management/connectors/images/serverlog-params-test.png
  docs/management/connectors/index.asciidoc
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/connector_types.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/index.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/list_view.ts
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Actions/ConnectorTypes, backport:prev-minor, v8.7.0

#149974 Add filebeat_input index to agent policy default
  x-pack/plugins/fleet/common/constants/agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/__snapshots__/monitoring_permissions.test.ts.snap
Labels: release_note:enhancement, Team:Fleet

#149935 Add SLO cloning functionality
  x-pack/plugins/observability/public/data/slo/slo.ts
  x-pack/plugins/observability/public/hooks/slo/use_create_slo.ts
  x-pack/plugins/observability/public/pages/slos/components/slo_list.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_item.stories.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_item.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_items.stories.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_items.tsx
  x-pack/plugins/observability/public/pages/slos/index.test.tsx
Labels: release_note:skip

#149922 [Lens] Unskips share tests
  x-pack/test/functional/apps/lens/group2/share.ts
Labels: Team:Visualizations, failed-test, release_note:skip, Feature:Lens, backport:skip

#149049 [ML] Transforms: Adds date picker to transform wizard for data view with time fields.
  x-pack/plugins/ml/public/application/routing/routes/timeseriesexplorer.test.tsx
  x-pack/plugins/transform/common/types/date_picker.ts
  x-pack/plugins/transform/public/app/common/data_grid.test.ts
  x-pack/plugins/transform/public/app/common/data_grid.ts
  x-pack/plugins/transform/public/app/common/index.ts
  x-pack/plugins/transform/public/app/common/request.test.ts
  x-pack/plugins/transform/public/app/common/request.ts
  x-pack/plugins/transform/public/app/hooks/use_index_data.ts
  x-pack/plugins/transform/public/app/hooks/use_search_items/use_search_items.ts
  x-pack/plugins/transform/public/app/hooks/use_transform_config_data.test.ts
  x-pack/plugins/transform/public/app/hooks/use_transform_config_data.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/date_picker_apply_switch/date_picker_apply_switch.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/date_picker_apply_switch/index.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_default_step_define_state.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/hooks/use_date_picker.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/hooks/use_search_bar.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/hooks/use_step_define_form.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/pivot_function_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_form.test.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/step_define_summary.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_details/step_details_form.tsx
  x-pack/plugins/transform/public/app/sections/create_transform/components/wizard/storage.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/wizard/wizard.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row_preview_pane.tsx
  x-pack/plugins/transform/tsconfig.json
  x-pack/test/accessibility/apps/transform.ts
  x-pack/test/functional/apps/transform/creation/index_pattern/creation_index_pattern.ts
  x-pack/test/functional/apps/transform/creation/runtime_mappings_saved_search/creation_runtime_mappings.ts
  x-pack/test/functional/apps/transform/creation/runtime_mappings_saved_search/creation_saved_search.ts
  x-pack/test/functional/apps/transform/edit_clone/cloning.ts
  x-pack/test/functional/apps/transform/feature_controls/transform_security.ts
  x-pack/test/functional/services/transform/date_picker.ts
  x-pack/test/functional/services/transform/discover.ts
  x-pack/test/functional/services/transform/index.ts
  x-pack/test/functional/services/transform/navigation.ts
  x-pack/test/functional/services/transform/security_ui.ts
  x-pack/test/functional/services/transform/wizard.ts
Labels: release_note:enhancement, :ml, Feature:Transforms, v8.7.0

#149972 [8.6] [Lens] Fix formula validation issue with non-default locale (#149806)
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/util.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/validation.ts
  x-pack/test/localization/tests/index.ts
  x-pack/test/localization/tests/lens/formula.ts
  x-pack/test/localization/tests/lens/index.ts
  x-pack/test/localization/tests/lens/smokescreen.ts
  x-pack/test/localization/tests/login_page.ts
  x-pack/test/localization/tests/utils.ts
Labels: backport

#149686 [Enterprise Search] Extraction rules UI for crawler
  x-pack/plugins/enterprise_search/common/types/extraction_rules.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/_mocks_/crawler_domains.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/add_extraction_rule_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/add_extraction_rule_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/delete_extraction_rule_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/delete_extraction_rule_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/fetch_extraction_rules_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/fetch_extraction_rules_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/update_extraction_rule_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/extraction_rules/update_extraction_rule_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/types.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/crawler/utils.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/authentication_panel/authentication_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/crawl_rules_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/crawler_domain_detail_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/crawler_domain_detail_tabs.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/deduplication_panel/deduplication_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/entry_points_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/entry_points_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/content_fields_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/edit_extraction_rule.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/edit_field_rule_flyout.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/extraction_rules.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/extraction_rules_logic.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/extraction_rules_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/extraction_rules_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/extraction_rules/field_rules_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/sitemaps_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/crawler_domain_detail/sitemaps_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/crawler/domain_management/domains_table.test.tsx
  x-pack/plugins/enterprise_search/server/routes/app_search/index.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/crawler/crawler_extraction_rules.ts
Labels: release_note:feature, Team:EnterpriseSearch, v8.7.0

#150008 [AO] Fix slo failed test
  x-pack/plugins/observability/server/services/slo/__snapshots__/historical_summary_client.test.ts.snap
Labels: release_note:skip, Team: Actionable Observability

#149392 [@kbn/handlebars] Support custom decorator return value
  packages/kbn-handlebars/index.test.ts
  packages/kbn-handlebars/index.ts
  packages/kbn-handlebars/src/__jest__/test_bench.ts
Labels: release_note:skip, backport:prev-minor

#149481 [Synthetics] Step metrics
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/thershold_indicator.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/result_details.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/hooks/use_network_timings.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/hooks/use_network_timings_prev.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/hooks/use_step_filters.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/hooks/use_step_metrics.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/hooks/use_step_prev_metrics.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/step_metrics/labels.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/step_metrics/step_metrics.tsx
Labels: Team:uptime, release_note:skip, v8.7.0

#147195 [Discover] Add a way to quickly expand time range from "No results" screen
  src/plugins/discover/public/application/main/components/layout/discover_layout.tsx
  src/plugins/discover/public/application/main/components/no_results/assets/no_results_illustration.scss
  src/plugins/discover/public/application/main/components/no_results/assets/no_results_illustration.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results.test.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/assets/no_results_illustration.scss
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/assets/no_results_illustration.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/no_results_suggestion_default.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/no_results_suggestion_when_filters.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/no_results_suggestion_when_query.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/no_results_suggestion_when_time_range.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/no_results_suggestions.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/syntax_suggestions_popover.tsx
  src/plugins/discover/public/application/main/components/no_results/no_results_suggestions/use_fetch_occurances_range.ts
  test/functional/apps/discover/group1/_discover.ts
  test/functional/page_objects/discover_page.ts
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:enhancement, Feature:Discover, backport:skip, Team:DataDiscovery, v8.7.0

#150005 [APM] Remove `host.name` correlation
  x-pack/plugins/apm/public/components/app/service_logs/index.test.ts
  x-pack/plugins/apm/public/components/app/service_logs/index.tsx
Labels: release_note:fix, Team:APM, v8.7.0

#150006 [8.6] [Security Solution][Endpoint] Flx and unskip flaky test (#149839)
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.test.tsx
Labels: backport

#149124 [Enterprise Search] Delete engine from Engine Overview
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_indices.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_view.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_view_header_actions.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/delete_engine_modal.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_list.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_list_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_list_logic.ts
Labels: release_note:skip, Team:EnterpriseSearch

#150023 [8.6] [@kbn/handlebars] Support custom decorator return value (#149392)
  packages/kbn-handlebars/index.test.ts
  packages/kbn-handlebars/index.ts
  packages/kbn-handlebars/src/__jest__/test_bench.ts
Labels: backport

#150016 [Security Solution][Endpoint][Response Actions] response action history `execute` action filter behind FF
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/hooks.tsx
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.7.0

#149944 [Fleet] Do not verify package policy unique name if not updated
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#150037 [8.6] [Fleet] Add Agent logs panic messages from last hour to telemetry (#149825)
  x-pack/plugins/fleet/server/collectors/agent_logs_panics.ts
  x-pack/plugins/fleet/server/collectors/agent_logs_top_errors.ts
  x-pack/plugins/fleet/server/collectors/register.ts
  x-pack/plugins/fleet/server/integration_tests/fleet_usage_telemetry.test.ts
  x-pack/plugins/fleet/server/services/telemetry/fleet_usages_schema.ts
Labels: backport, Team:Fleet

#150029 [Infrastructure UI]: Use dateRange as source of truth for Hosts View
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_hosts_view.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_unified_search.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_unified_search_url_state.ts
Labels: Team:Infra Monitoring UI, release_note:skip, v8.7.0

#149815 Supprt custom scheduling in Connectors
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.test.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/update_connector_scheduling.test.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.7.0

#150039 Fix escaping of double quote
  x-pack/plugins/fleet/server/services/saved_object.test.ts
  x-pack/plugins/fleet/server/services/saved_object.ts
Labels: release_note:skip, Team:Fleet, backport:all-open

#149963 [Fleet] Add `getStatusSummary` query parameter to `GET /api/fleet/agents` API
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/get_agents_response.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents.yaml
  x-pack/plugins/fleet/common/services/agent_statuses_to_summary.test.ts
  x-pack/plugins/fleet/common/services/agent_statuses_to_summary.ts
  x-pack/plugins/fleet/common/services/index.ts
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/status.ts
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
  x-pack/test/fleet_api_integration/apis/agents/list.ts
Labels: Team:Fleet, release_note:feature

#149272 [Fleet] Move callbacks from http methods to package policy service
  x-pack/plugins/apm/server/plugin.ts
  x-pack/plugins/apm/server/routes/fleet/register_fleet_policy_callbacks.ts
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/cloud_security_posture/server/plugin.ts
  x-pack/plugins/fleet/server/routes/package_policy/handlers.test.ts
  x-pack/plugins/fleet/server/routes/package_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/plugins/fleet/server/services/package_policy_service.ts
  x-pack/plugins/fleet/server/types/extensions.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.ts
Labels: Team:APM, release_note:skip, Team:Fleet, ci:cloud-deploy, v8.7.0

#147928 Add context.originalAlertState to the Metric Threshold and Inventory Threshold recovery context
  x-pack/plugins/infra/server/lib/alerting/common/messages.ts
  x-pack/plugins/infra/server/lib/alerting/common/utils.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/register_inventory_metric_threshold_rule_type.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_rule_type.ts
  x-pack/plugins/infra/server/utils/get_original_action_group.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/lifecycle_alert_services.mock.ts
Labels: release_note:enhancement, Team: Actionable Observability, v8.7.0

#149841 [Security Solution][Endpoint] Fix and unskip flaky test
  x-pack/plugins/security_solution/public/management/pages/integration_tests/index.test.tsx
Labels: release_note:skip, test-failure-flaky, Team:Defend Workflows, OLM Sprint, v8.6.0, v8.7.0

#148732 Custom equation editor for Metric Threshold Rule
  x-pack/plugins/infra/common/alerting/metrics/types.ts
  x-pack/plugins/infra/common/http_api/metrics_explorer.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/custom_equation_editor.stories.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/custom_equation_editor.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/index.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/metric_row_controls.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/metric_row_with_agg.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/metric_row_with_count.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/custom_equation/types.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_chart.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_row.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/validation.test.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/components/validation.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/hooks/use_metrics_explorer_chart_data.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/i18n_strings.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/types.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/create_inventory_metric_formatter.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/aggregation.tsx
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_formatter_for_metric.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/hooks/use_metrics_explorer_data.ts
  x-pack/plugins/infra/server/lib/alerting/common/messages.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/create_bucket_selector.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/create_rate_aggregation.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/evaluate_rule.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/get_data.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/metric_query.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/lib/wrap_in_period.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/register_metric_threshold_rule_type.ts
  x-pack/plugins/infra/server/lib/create_custom_metrics_aggregations.ts
  x-pack/plugins/infra/server/lib/metrics/index.ts
  x-pack/plugins/infra/server/lib/metrics/types.ts
  x-pack/plugins/infra/server/routes/metrics_explorer/lib/convert_metric_to_metrics_api_metric.ts
  x-pack/test/api_integration/apis/metrics_ui/metric_threshold_alert.ts
  x-pack/test/api_integration/apis/metrics_ui/metrics_explorer.ts
Labels: release_note:enhancement, Feature:Metrics UI, Team:Infra Monitoring UI, Team: Actionable Observability, v8.7.0

#150036 [8.6] [Fleet] Bugfix: count agent policies not agent policy revisions in telemetry (#149858)
  x-pack/plugins/fleet/server/collectors/agent_policies.ts
  x-pack/plugins/fleet/server/collectors/register.ts
  x-pack/plugins/fleet/server/integration_tests/fleet_usage_telemetry.test.ts
Labels: backport, Team:Fleet

#150055 [8.6] Fix escaping of double quote (#150039)
  x-pack/plugins/fleet/server/services/saved_object.test.ts
  x-pack/plugins/fleet/server/services/saved_object.ts
Labels: backport, Team:Fleet

#150052 [AO] Use EuiLoadingChart for AlertSummaryWidget loading state
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/alert_summary/alert_summary_widget.tsx
Labels: release_note:skip, Team: Actionable Observability

#149954 [Fleet] Add a visual indication of selected subcategory in Integrations page
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid/controls.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid/index.stories.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid/search_box.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/hooks/use_available_packages.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/hooks/use_build_integrations_url.tsx
Labels: release_note:skip, Team:Fleet, v8.7.0

#150066 fix(slo): use fake timer in tests
  x-pack/plugins/observability/server/services/slo/__snapshots__/historical_summary_client.test.ts.snap
  x-pack/plugins/observability/server/services/slo/historical_summary_client.test.ts
Labels: release_note:skip, Team: Actionable Observability, v8.7.0

#150012 fix banner overlap in dashboard embed and fullscreen mode
  src/core/public/styles/rendering/_base.scss
Labels: bug, release_note:fix, Team:SharedUX, backport:prev-minor, Feature:Global Banner

#150020 Prepare to enable GitHub Code Scanning on the 7.17 branch
  .github/codeql/codeql-config.yml
Labels: release_note:skip, backport:skip

#149653 [Fleet] Create a new `UIExtensionPoint` to replace the integration define step
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
  x-pack/plugins/fleet/public/types/ui_extensions.ts
Labels: release_note:skip, backport:skip, Team:Fleet, v8.7.0

#150072 [8.6] [TIP] Ensure non-primitive values are not rendered (#150015)
  x-pack/plugins/threat_intelligence/public/modules/indicators/utils/unwrap_value.test.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/utils/unwrap_value.ts
Labels: backport

#150070 [8.6] [Security Solution][Endpoint] Fix and unskip flaky test (#149841)
  x-pack/plugins/security_solution/public/management/pages/integration_tests/index.test.tsx
Labels: backport

#150074 [8.6] fix banner overlap in dashboard embed and fullscreen mode (#150012)
  src/core/public/styles/rendering/_base.scss
Labels: backport

#149996 [Enterprise Search] Replace Engines UI Settings feature flag
  src/plugins/kibana_usage_collection/server/collectors/management/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/management/types.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/enterprise_search/common/__mocks__/initial_app_data.ts
  x-pack/plugins/enterprise_search/common/types/index.ts
  x-pack/plugins/enterprise_search/common/ui_settings_keys.ts
  x-pack/plugins/enterprise_search/public/applications/__mocks__/kea_logic/kibana_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_router.tsx
  x-pack/plugins/enterprise_search/public/applications/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.tsx
  x-pack/plugins/enterprise_search/server/lib/check_access.test.ts
  x-pack/plugins/enterprise_search/server/lib/check_access.ts
  x-pack/plugins/enterprise_search/server/lib/enterprise_search_config_api.test.ts
  x-pack/plugins/enterprise_search/server/lib/enterprise_search_config_api.ts
  x-pack/plugins/enterprise_search/server/ui_settings.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.7.0

#149469 [Synthetics] Overview and Management filters
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/state.ts
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/synthetics_overview_status.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/getting_started.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/management_list.journey.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/filter_button.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/filter_fields.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/filter_group.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/list_filters.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/use_filters.test.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/use_filters.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/search_field.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/hooks/use_monitor_list.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/hooks/use_monitor_list.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/list_filters/filter_button.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/list_filters/use_filters.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_list_container.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_list_table/columns.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_list_table/monitor_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_stats.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_test_runs.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_test_runs_sparkline.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/monitors_page.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview_page.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/effects.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/models.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/selectors.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/overview/api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/overview/effects.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/overview/models.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/testing/__mocks__/synthetics_store.mock.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/url_params/get_supported_url_params.test.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/url_params/get_supported_url_params.ts
  x-pack/plugins/synthetics/server/alert_rules/status_rule/status_rule_executor.ts
  x-pack/plugins/synthetics/server/queries/query_monitor_status.ts
  x-pack/plugins/synthetics/server/routes/common.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/get_monitor.ts
  x-pack/plugins/synthetics/server/routes/status/current_status.test.ts
  x-pack/plugins/synthetics/server/routes/status/current_status.ts
  x-pack/plugins/synthetics/server/saved_objects/synthetics_monitor/get_all_monitors.ts
Labels: Team:uptime, release_note:skip, v8.7.0

#149863 [Cases] Create internal endpoint to get user action stats
  x-pack/plugins/cases/common/api/cases/user_actions/response.ts
  x-pack/plugins/cases/common/api/cases/user_actions/stats.ts
  x-pack/plugins/cases/common/api/helpers.ts
  x-pack/plugins/cases/common/constants.ts
  x-pack/plugins/cases/server/authorization/__snapshots__/audit_logger.test.ts.snap
  x-pack/plugins/cases/server/authorization/index.ts
  x-pack/plugins/cases/server/authorization/types.ts
  x-pack/plugins/cases/server/client/mocks.ts
  x-pack/plugins/cases/server/client/user_actions/client.ts
  x-pack/plugins/cases/server/client/user_actions/stats.ts
  x-pack/plugins/cases/server/routes/api/get_internal_routes.ts
  x-pack/plugins/cases/server/routes/api/internal/get_case_user_actions_stats.ts
  x-pack/plugins/cases/server/services/mocks.ts
  x-pack/plugins/cases/server/services/user_actions/index.ts
  x-pack/test/cases_api_integration/common/lib/user_actions.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/user_actions/get_user_action_stats.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/internal/get_user_action_stats.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.7.0

#149883 [Cloud-Posture][Findings] disable sortable columns except compliance score
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/findings_by_resource_table.tsx
Labels: bug, release_note:skip, backport:skip, Team:Cloud Security, v8.7.0

#150073 [Discover] Fix flaky test in field list
  src/plugins/unified_field_list/public/components/field_list_grouped/field_list_grouped.test.tsx
Labels: release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#148681 [Filters] Remove any from Filter['meta']['params'] in kbn/es-query
  packages/kbn-es-query/src/filters/build_filters/get_filter_params.ts
  packages/kbn-es-query/src/filters/build_filters/match_all_filter.ts
  packages/kbn-es-query/src/filters/build_filters/phrase_filter.ts
  packages/kbn-es-query/src/filters/build_filters/range_filter.ts
  packages/kbn-es-query/src/filters/build_filters/types.ts
  packages/kbn-es-query/src/filters/helpers/update_filter.ts
  packages/kbn-es-query/src/filters/stubs/phrase_filter.ts
  packages/kbn-es-query/src/filters/stubs/range_filter.ts
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/data/common/search/search_source/search_source.ts
  src/plugins/data/public/query/filter_manager/lib/mappers/map_phrase.ts
  src/plugins/data/public/query/filter_manager/lib/mappers/map_phrases.ts
  src/plugins/data/public/query/filter_manager/lib/mappers/map_range.ts
  src/plugins/unified_search/public/filter_badge/filter_badge_expression.tsx
  src/plugins/unified_search/public/filter_bar/filter_editor/filter_editor.tsx
  src/plugins/unified_search/public/filters_builder/filter_group.tsx
  src/plugins/unified_search/public/filters_builder/filter_item/filter_item.tsx
  src/plugins/unified_search/public/filters_builder/filter_item/params_editor.tsx
  src/plugins/unified_search/public/filters_builder/utils/filters_builder.test.ts
  src/plugins/unified_search/public/filters_builder/utils/filters_builder.ts
  x-pack/plugins/infra/public/pages/logs/log_entry_rate/use_dataset_filtering.ts
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.tsx
  x-pack/plugins/ml/public/ui_actions/apply_entity_filters_action.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/utils/filter.test.ts
  x-pack/plugins/threat_intelligence/public/modules/query_bar/utils/filter.ts
  x-pack/plugins/upgrade_assistant/public/application/components/es_deprecation_logs/fix_deprecation_logs/external_links.tsx
Labels: Feature:Filters, release_note:skip

#149906 [Cloud Posture] Dashboard navigation to the Findings page using filter
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_navigate_findings.test.ts
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_navigate_findings.ts
Labels: release_note:skip, Team:Cloud Security

#150045 Improve script URL detection logic
  src/plugins/vis_types/timeseries/public/application/components/vis_types/table/vis.js
Labels: release_note:skip, backport:all-open

#149983 [Cases] Refactor the getConnectors push field
  x-pack/plugins/cases/common/api/connectors/get_connectors.ts
  x-pack/plugins/cases/public/common/mock/connectors.ts
  x-pack/plugins/cases/public/components/case_action_bar/index.tsx
  x-pack/plugins/cases/public/components/user_actions/index.test.tsx
  x-pack/plugins/cases/public/components/user_actions/pushed.test.tsx
  x-pack/plugins/cases/public/components/user_actions/pushed.tsx
  x-pack/plugins/cases/public/containers/api.test.tsx
  x-pack/plugins/cases/server/client/user_actions/connectors.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/internal/get_connectors.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.7.0

#150087 fix Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/group2/sync_colors·ts
  test/functional/services/dashboard/add_panel.ts
  x-pack/test/functional/apps/dashboard/group2/sync_colors.ts
Labels: Team:Presentation, release_note:skip

#150046 [Cross Cluster Replication] Update jest matcher
  x-pack/plugins/cross_cluster_replication/public/__jest__/client_integration/follower_indices_list.test.js
Labels: Feature:CCR and Remote Clusters, Team:Deployment Management, release_note:skip, backport:skip, v8.7.0

#150093 [8.6] Improve script URL detection logic (#150045)
  src/plugins/vis_types/timeseries/public/application/components/vis_types/table/vis.js
Labels: backport

#149137 [Cloud Posture] Use extension point to replace integration configuration
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/aws_credentials_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/mocks.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_extension_create.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_extension_edit.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.test.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_input_selector.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_selectors.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/utils.test.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/utils.ts
  x-pack/plugins/cloud_security_posture/public/plugin.tsx
  x-pack/plugins/cloud_security_posture/server/plugin.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Cloud Security, ci:cloud-deploy, v8.7.0

#150089 Address PR comments from merge
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings/latest_findings_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/resource_findings_table.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/findings/latest_findings_by_resource/resource_findings/use_resource_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/findings/utils/utils.ts
  x-pack/plugins/cloud_security_posture/public/test/fixtures/findings_fixture.ts
Labels: release_note:skip, Team:Cloud Security, v8.7.0

#148808 [Cases] Fix failing migration tests
  x-pack/plugins/cases/server/saved_object_types/migrations/configuration.test.ts
  x-pack/plugins/cases/server/saved_object_types/migrations/configuration.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/migrations.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/comments/migrations.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/configure/migrations.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/user_actions/migrations.ts
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/data.json.gz
  x-pack/test/functional/es_archives/cases/migrations/7.10.0/mappings.json
  x-pack/test/functional/fixtures/kbn_archiver/cases/7.10.0/data.json
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, backport:prev-minor, v8.7.0

#150094 Code cleanup: Remove unnecessary Promise.all
  x-pack/plugins/rule_registry/scripts/generate_ecs_fieldmap/index.js
Labels: release_note:skip, backport:all-open

#150092 [7.17] Improve script URL detection logic (#150045)
  src/plugins/vis_types/timeseries/public/application/components/vis_types/table/vis.js
Labels: backport

#150078 [Maps] show embeddable filters in spatial layer
  x-pack/plugins/maps/public/classes/sources/geojson_file_source/geojson_file_source.ts
  x-pack/plugins/maps/public/selectors/map_selectors.test.ts
  x-pack/plugins/maps/public/selectors/map_selectors.ts
Labels: release_note:fix, Team:Presentation, backport:skip, v8.7.0

#150109 [8.6] Code cleanup: Remove unnecessary Promise.all (#150094)
  x-pack/plugins/rule_registry/scripts/generate_ecs_fieldmap/index.js
Labels: backport

#150108 [7.17] Code cleanup: Remove unnecessary Promise.all (#150094)
  x-pack/plugins/rule_registry/scripts/generate_ecs_fieldmap/index.js
Labels: backport

#149848 [Synthetics] implement project monitors read only
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/index.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/index.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/project_monitor_read_only.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/services/add_monitor_project.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/services/get_monitor.ts
  x-pack/plugins/synthetics/e2e/page_objects/synthetics/synthetics_app.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/advanced/index.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/fields/code_editor.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/fields/header_field.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/fields/index_response_body_field.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/fields/key_value_field.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/fields/request_body_field.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/controlled_field.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/field.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/field_config.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/field_wrappers.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/form_config.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/formatter.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/formatter.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/index.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/submit.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/monitor_edit_page.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/index.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/read_only_callout.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/step_config.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/step_fields.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/types.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_config/monitor_fields.test.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor_management/monitor_config/project_readonly_view/readonly_common_fields.tsx
Labels: enhancement, Team:uptime, release_note:skip, v8.7.0

#149957 [Custom Branding] Replace EuiLoadingElastic with EuiLoadingSpinner
  src/plugins/discover/public/application/main/discover_main_route.tsx
  src/plugins/newsfeed/public/components/__snapshots__/loading_news.test.tsx.snap
  src/plugins/newsfeed/public/components/flyout_list.tsx
  src/plugins/newsfeed/public/components/loading_news.test.tsx
  src/plugins/newsfeed/public/components/loading_news.tsx
  src/plugins/newsfeed/public/components/newsfeed_header_nav_button.tsx
  src/plugins/newsfeed/public/plugin.tsx
  x-pack/plugins/osquery/public/components/app.tsx
Labels: release_note:skip, v8.7.0

#150081 [Discover] Fix flaky sidebar test
  test/functional/apps/discover/group1/_sidebar.ts
Labels: release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#150076 [Discover] Unskip search alert tests
  test/functional/services/filter_bar.ts
  x-pack/test/functional_with_es_ssl/apps/discover/search_source_alert.ts
Labels: release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#150083 [Discover] Fix flaky adhoc test
  test/functional/apps/discover/group2/_adhoc_data_views.ts
Labels: release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#150007 [Defend workflows] Disable rule fetching when there is no id
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/hooks/use_fetch_rule_by_id_query.ts
Labels: bug, release_note:skip, Team:Defend Workflows, v8.7.0

#150022 [Defend workflows] Simple tests for create_queries
  x-pack/plugins/osquery/server/handlers/action/create_queries.test.ts
Labels: release_note:skip, Team:Defend Workflows, v8.7.0

#150069 [Fleet] Truncate long names in agents table
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agent_list_table.tsx
Labels: release_note:fix, Team:Fleet, backport:prev-minor, v8.7.0

#150014 [ML] Adding multi-modal distribution to the explain anomaly results
  x-pack/plugins/ml/common/types/anomalies.ts
  x-pack/plugins/ml/public/application/components/anomalies_table/anomaly_details_utils.tsx
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, v8.7.0

#149834 [Synthetics] Fix delete monitor flaky test
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_service/private_location/synthetics_private_location.ts
  x-pack/test/api_integration/apis/synthetics/delete_monitor.ts
Labels: Team:uptime, release_note:skip, ci:reuse-kibana-build, v8.7.0

#149497 [Infrastructure UI]: Implement Telemetry events for Hosts View
  x-pack/plugins/cloud_integrations/cloud_full_story/server/config.ts
  x-pack/plugins/infra/common/formatters/telemetry_time_range.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/components/cloud_provider_icon_with_title.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/hosts_table.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/hosts_table_columns.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/hosts_table_entry_title.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/kpi_charts/kpi_chart.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/truncate_link_with_tooltip.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_hosts_table.test.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_hosts_table.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_hosts_table.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_unified_search.ts
  x-pack/plugins/infra/public/services/telemetry/types.ts
  x-pack/plugins/infra/public/types.ts
Labels: Feature:Metrics UI, Team:Infra Monitoring UI, release_note:skip, v8.7.0

#150024 [@kbn/handlebars] Simplify the way upstream changes are discovered
  .buildkite/scripts/steps/test/kbn_handlebars.sh
  .eslintrc.js
  packages/kbn-handlebars/.gitignore
  packages/kbn-handlebars/.patches/basic.patch
  packages/kbn-handlebars/.patches/blocks.patch
  packages/kbn-handlebars/.patches/builtins.patch
  packages/kbn-handlebars/.patches/compiler.patch
  packages/kbn-handlebars/.patches/data.patch
  packages/kbn-handlebars/.patches/helpers.patch
  packages/kbn-handlebars/.patches/regressions.patch
  packages/kbn-handlebars/.patches/security.patch
  packages/kbn-handlebars/.patches/strict.patch
  packages/kbn-handlebars/.patches/subexpressions.patch
  packages/kbn-handlebars/.patches/utils.patch
  packages/kbn-handlebars/.patches/whitespace-control.patch
  packages/kbn-handlebars/README.md
  packages/kbn-handlebars/scripts/check_for_test_changes.sh
  packages/kbn-handlebars/scripts/check_for_upstream_updates.sh
  packages/kbn-handlebars/scripts/update_test_patches.sh
  packages/kbn-handlebars/scripts/update_upstream_git_hash.sh
  packages/kbn-handlebars/src/spec/.upstream_git_hash
  packages/kbn-handlebars/src/spec/index.basic.test.ts
  packages/kbn-handlebars/src/spec/index.blocks.test.ts
  packages/kbn-handlebars/src/spec/index.builtins.test.ts
  packages/kbn-handlebars/src/spec/index.compiler.test.ts
  packages/kbn-handlebars/src/spec/index.data.test.ts
  packages/kbn-handlebars/src/spec/index.helpers.test.ts
  packages/kbn-handlebars/src/spec/index.regressions.test.ts
  packages/kbn-handlebars/src/spec/index.security.test.ts
  packages/kbn-handlebars/src/spec/index.strict.test.ts
  packages/kbn-handlebars/src/spec/index.subexpressions.test.ts
  packages/kbn-handlebars/src/spec/index.utils.test.ts
  packages/kbn-handlebars/src/spec/index.whitespace_control.test.ts
Labels: release_note:skip, backport:prev-minor

#150147 [Infrastructure UI] Fix broken type on telemetry tracking
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_unified_search.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_unified_search_url_state.ts
Labels: Team:Infra Monitoring UI, release_note:skip, v8.7.0

#150049 Improve security of links using target=_blank
  packages/core/apps/core-apps-browser-internal/src/errors/public_base_url.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/configuration_form/source_field_section/source_field_section.tsx
Labels: release_note:skip, backport:all-open

#150137 [APM] Add missing `IntlProvider` to unit test
  x-pack/plugins/apm/public/components/app/transaction_overview/transaction_overview.test.tsx
Labels: Team:APM, release_note:skip

#150131 [8.6] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#150142 [8.6] [@kbn/handlebars] Simplify the way upstream changes are discovered (#150024)
  .buildkite/scripts/steps/test/kbn_handlebars.sh
  .eslintrc.js
  packages/kbn-handlebars/.gitignore
  packages/kbn-handlebars/.patches/basic.patch
  packages/kbn-handlebars/.patches/blocks.patch
  packages/kbn-handlebars/.patches/builtins.patch
  packages/kbn-handlebars/.patches/compiler.patch
  packages/kbn-handlebars/.patches/data.patch
  packages/kbn-handlebars/.patches/helpers.patch
  packages/kbn-handlebars/.patches/regressions.patch
  packages/kbn-handlebars/.patches/security.patch
  packages/kbn-handlebars/.patches/strict.patch
  packages/kbn-handlebars/.patches/subexpressions.patch
  packages/kbn-handlebars/.patches/utils.patch
  packages/kbn-handlebars/.patches/whitespace-control.patch
  packages/kbn-handlebars/README.md
  packages/kbn-handlebars/scripts/check_for_test_changes.sh
  packages/kbn-handlebars/scripts/check_for_upstream_updates.sh
  packages/kbn-handlebars/scripts/update_test_patches.sh
  packages/kbn-handlebars/scripts/update_upstream_git_hash.sh
  packages/kbn-handlebars/src/spec/.upstream_git_hash
  packages/kbn-handlebars/src/spec/index.basic.test.ts
  packages/kbn-handlebars/src/spec/index.blocks.test.ts
  packages/kbn-handlebars/src/spec/index.builtins.test.ts
  packages/kbn-handlebars/src/spec/index.compiler.test.ts
  packages/kbn-handlebars/src/spec/index.data.test.ts
  packages/kbn-handlebars/src/spec/index.helpers.test.ts
  packages/kbn-handlebars/src/spec/index.regressions.test.ts
  packages/kbn-handlebars/src/spec/index.security.test.ts
  packages/kbn-handlebars/src/spec/index.strict.test.ts
  packages/kbn-handlebars/src/spec/index.subexpressions.test.ts
  packages/kbn-handlebars/src/spec/index.utils.test.ts
  packages/kbn-handlebars/src/spec/index.whitespace_control.test.ts
Labels: backport

#149448 [ResponseOps][Flapping] Update flapping code once the flapping lookback value is configurable
  x-pack/plugins/alerting/common/rules_settings.ts
  x-pack/plugins/alerting/server/alert/create_alert_factory.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.ts
  x-pack/plugins/alerting/server/lib/flapping_utils.test.ts
  x-pack/plugins/alerting/server/lib/flapping_utils.ts
  x-pack/plugins/alerting/server/lib/get_alerts_for_notification.test.ts
  x-pack/plugins/alerting/server/lib/get_alerts_for_notification.ts
  x-pack/plugins/alerting/server/lib/process_alerts.test.ts
  x-pack/plugins/alerting/server/lib/process_alerts.ts
  x-pack/plugins/alerting/server/lib/set_flapping.test.ts
  x-pack/plugins/alerting/server/lib/set_flapping.ts
  x-pack/plugins/alerting/server/plugin.ts
  x-pack/plugins/alerting/server/rules_settings_client.mock.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_cancel.test.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_factory.test.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_factory.ts
  x-pack/plugins/alerting/server/types.ts
  x-pack/plugins/apm/server/routes/alerts/test_utils/index.ts
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/executor.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_rule_type.test.ts
  x-pack/plugins/rule_registry/server/utils/get_alerts_for_notification.test.ts
  x-pack/plugins/rule_registry/server/utils/get_alerts_for_notification.ts
  x-pack/plugins/rule_registry/server/utils/get_updated_flapping_history.test.ts
  x-pack/plugins/rule_registry/server/utils/get_updated_flapping_history.ts
  x-pack/plugins/rule_registry/server/utils/rule_executor.test_helpers.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_actions_legacy/logic/notifications/legacy_rules_notification_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_preview/api/preview_rules/route.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/rule_type.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/index_threshold/rule_type.test.ts
  x-pack/test/alerting_api_integration/common/lib/index.ts
  x-pack/test/alerting_api_integration/common/lib/reset_rules_settings.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group3/tests/alerting/get_flapping_settings.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group3/tests/alerting/update_flapping_settings.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/event_log.ts
  x-pack/test/rule_registry/spaces_only/tests/trial/get_summarized_alerts.ts
Labels: Team:APM, Feature:Alerting, release_note:skip, Team:ResponseOps

#150161 [8.6] Improve security of links using target=_blank (#150049)
  packages/core/apps/core-apps-browser-internal/src/errors/public_base_url.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/configuration_form/source_field_section/source_field_section.tsx
Labels: backport

#150065 [APM] Add `service.environment` log correlation
  x-pack/plugins/apm/public/components/app/service_logs/index.test.ts
  x-pack/plugins/apm/public/components/app/service_logs/index.tsx
Labels: release_note:fix, Team:APM, v8.7.0

#150107 [APM] Cannot read/write APM Settings Indices page with minimally-privileged user
  x-pack/plugins/apm/public/components/app/settings/apm_indices/index.tsx
  x-pack/plugins/apm/server/feature.ts
Labels: release_note:fix, Team:APM, v8.7.0

#149305 [Defend workflows] Small fixes to osquery
  x-pack/plugins/osquery/cypress/e2e/all/alerts.cy.ts
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/osquery/osquery_investigation_guide_panel.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/response_actions_list.tsx
Labels: release_note:skip, Team:Defend Workflows, Feature:Osquery, v8.7.0

#149541 [DOCS] Removes tag from 7.17.9 release notes
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v7.17.9

#150160 [7.17] Improve security of links using target=_blank (#150049)
  src/core/public/core_app/errors/public_base_url.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/configuration_form/source_field_section/source_field_section.tsx
Labels: backport

#150170 [Enterprise search] Promote ingest pipelines in mappings
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_mappings.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.7.0

#150097 [Security Solution] Avoid exporting execution_summary field
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_by_object_ids.ts
Labels: bug, release_note:skip, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rules, v8.7.0

#149903 [Security Solution][Endpoint] CLI dev tool to run Elastic Agent/Endpoint against an Elastic stack
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_fleet_endpoint_policy.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/localhost_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/stack_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/elastic_endpoint.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/fleet_server.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/index.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/pre_check.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/runtime.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/setup.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/types.ts
  x-pack/plugins/security_solution/scripts/endpoint/run_endpoint_agent.js
Labels: release_note:skip, Team:Defend Workflows, v8.7.0

#149655 [DOCS] Add specifications for deprecated alert APIs
  docs/api-generated/rules/rule-apis-passthru.asciidoc
  x-pack/plugins/alerting/docs/openapi/bundled.json
  x-pack/plugins/alerting/docs/openapi/bundled.yaml
  x-pack/plugins/alerting/docs/openapi/components/schemas/alert_response_properties.yaml
  x-pack/plugins/alerting/docs/openapi/entrypoint.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@_find.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@_health.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@alert@{alertid}.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@alert@{alertid}@_disable.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@alert@{alertid}@_enable.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@alert@{alertid}@_mute_all.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@alert@{alertid}@_unmute_all.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@alert@{alertid}@alert_instance@{alertinstanceid}@_mute.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@alert@{alertid}@alert_instance@{alertinstanceid}@_unmute.yaml
  x-pack/plugins/alerting/docs/openapi/paths/s@{spaceid}@api@alerts@list_alert_types.yaml
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Alerting/RulesManagement, backport:prev-minor, v8.7.0

#149637 [DOCS] Add specifications for deprecated connector APIs
  docs/api-generated/connectors/connector-apis-passthru.asciidoc
  x-pack/plugins/actions/docs/openapi/bundled.json
  x-pack/plugins/actions/docs/openapi/bundled.yaml
  x-pack/plugins/actions/docs/openapi/components/headers/kbn_xsrf.yaml
  x-pack/plugins/actions/docs/openapi/components/parameters/action_id.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/action_response_properties.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/config_properties_servicenow.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/config_properties_servicenow_itom.yaml
  x-pack/plugins/actions/docs/openapi/entrypoint.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions@action@{actionid}.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions@action@{actionid}@_execute.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions@list_action_types.yaml
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Actions/ConnectorTypes, backport:prev-minor, v8.7.0

#149967 [Fleet] Update write indices on experimental datastream settings change
  x-pack/plugins/fleet/server/services/package_policies/experimental_datastream_features.test.ts
  x-pack/plugins/fleet/server/services/package_policies/experimental_datastream_features.ts
  x-pack/test/fleet_api_integration/apis/epm/data_stream.ts
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/datastreams/0.1.0/data_stream/test_logs/fields/fields.yml
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/datastreams/0.1.0/data_stream/test_metrics/fields/fields.yml
Labels: release_note:skip, Team:Fleet, v8.7.0

#150119 [Fleet] Fix metrics flaky test
  x-pack/test/fleet_api_integration/apis/agents/list.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#150021 Mark spaces as optional on the contracts
  x-pack/plugins/lens/public/app_plugin/app.test.tsx
  x-pack/plugins/lens/public/app_plugin/types.ts
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/lens/public/state_management/load_initial.test.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip

#143754 Osquery: Update exported fields reference for osquery 5.5.1
  docs/osquery/exported-fields-reference.asciidoc
Labels: Team:Docs, release_note:skip, Team:Defend Workflows, Team:Asset Management, v8.7.0

#150192 [7.17] [Docs] Adds authentication providers sync to load balancing documentation (#149961)
  docs/user/production-considerations/production.asciidoc
Labels: backport

#150193 [8.6] [Docs] Adds authentication providers sync to load balancing documentation (#149961)
  docs/user/production-considerations/production.asciidoc
Labels: backport

#150103 [ML] Data Frame Analytics: adds functional test for scatterplot chart link to custom visualization
  x-pack/plugins/ml/public/application/components/scatterplot_matrix/scatterplot_matrix.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/results_view_content.ts
  x-pack/test/functional/services/ml/data_frame_analytics_results.ts
Labels: :ml, release_note:skip, Feature:Data Frame Analytics, v8.7.0

#149993 [ML] Data Frame Analytics maps view: Fix update of map when selecting results index node
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/job_map/use_fetch_analytics_map_data.ts
Labels: release_note:fix, :ml, Feature:Data Frame Analytics, v8.7.0

#150148 Use all monitors when checking loading state
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_alerts.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_errors/overview_errors.tsx
Labels: Team:uptime, release_note:skip, v8.7.0

#150189 [8.6] [DOCS] Add specifications for deprecated connector APIs (#149637)
  docs/api-generated/connectors/connector-apis-passthru.asciidoc
  x-pack/plugins/actions/docs/openapi/bundled.json
  x-pack/plugins/actions/docs/openapi/bundled.yaml
  x-pack/plugins/actions/docs/openapi/components/headers/kbn_xsrf.yaml
  x-pack/plugins/actions/docs/openapi/components/parameters/action_id.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/action_response_properties.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/config_properties_servicenow.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/config_properties_servicenow_itom.yaml
  x-pack/plugins/actions/docs/openapi/entrypoint.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions@action@{actionid}.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions@action@{actionid}@_execute.yaml
  x-pack/plugins/actions/docs/openapi/paths/s@{spaceid}@api@actions@list_action_types.yaml
Labels: backport

#144511 Terms query for Indicator Match rule
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_enrichment.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_mapping_filter.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_mapping_filter.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_event_signal.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_threat_signal.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_threat_signals.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.mock.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_allowed_fields_for_terms_query.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_allowed_fields_for_terms_query.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_event_count.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/utils.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/rule_execution_logic/threat_match.ts
Labels: release_note:enhancement, ci:cloud-deploy

#150053 [Obs] fixing news feed by using dynamic kibana version
  x-pack/plugins/observability/public/application/application.test.tsx
  x-pack/plugins/observability/public/application/index.tsx
  x-pack/plugins/observability/public/application/types.ts
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/overview_page.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/services/get_news_feed.test.ts
  x-pack/plugins/observability/public/services/get_news_feed.ts
Labels: release_note:fix, v8.7.0, v8.6.2

#150165 [Enterprise Search] Add preferences to connectors
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.test.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/update_connector_scheduling.test.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.7.0

#150112 [ML] Data Frame Analytics creation wizard: ensure includes table is populated correctly on job type change
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/shared/fetch_explain_data.ts
Labels: release_note:fix, :ml, Feature:Data Frame Analytics, v8.7.0

#150182 [Fleet] Handle package registry with no categories
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/hooks/use_available_packages.tsx
Labels: bug, release_note:skip, Team:Fleet

#150174 [Fleet] Fix discard changes link taking user to "page not found"
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/hooks/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/hooks/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/hooks/use_history_block.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/hooks/use_history_block.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
Labels: bug, release_note:enhancement, Team:Fleet

#150124 Adds deprecation notice to saved objects API docs
  docs/api/saved-objects.asciidoc
Labels: Team:Core, Feature:Saved Objects, release_note:skip, backport:skip, docs, v8.7.0

#150086 [Cloud Posture] CIS AWS - Cloud dashboard supports new findings fields
  x-pack/plugins/cloud_security_posture/common/schemas/csp_finding.ts
  x-pack/plugins/cloud_security_posture/common/schemas/csp_rule_template_metadata.ts
  x-pack/plugins/cloud_security_posture/common/types.ts
  x-pack/plugins/cloud_security_posture/public/common/api/use_stats_api.ts
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/compliance_dashboard.tsx
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/dashboard_sections/benchmarks_section.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/dashboard_sections/benchmarks_section.tsx
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/dashboard_sections/cluster_details_box.tsx
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/dashboard_sections/summary_section.tsx
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/mock.ts
  x-pack/plugins/cloud_security_posture/public/test/fixtures/findings_fixture.ts
  x-pack/plugins/cloud_security_posture/server/create_indices/benchmark_score_mapping.ts
  x-pack/plugins/cloud_security_posture/server/lib/get_identifier_runtime_mapping.ts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/accounts_stats_collector.ts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/resources_stats_collector.ts
  x-pack/plugins/cloud_security_posture/server/routes/compliance_dashboard/compliance_dashboard.ts
  x-pack/plugins/cloud_security_posture/server/routes/compliance_dashboard/get_clusters.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/compliance_dashboard/get_clusters.ts
  x-pack/plugins/cloud_security_posture/server/tasks/findings_stats_task.ts
Labels: release_note:skip, Team:Cloud Security

#150206 [Enterprise Search] Fix bug with pagination on fetch sync jobs
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.7.0

#150201 [ci/es_snapshots] Set DOCKER_BUILDKIT as a bool
  .buildkite/scripts/steps/es_snapshots/build.sh
Labels: Team:Operations, release_note:skip, backport:all-open

#149471 [APM] Add 404 page
  packages/kbn-typed-react-router-config/src/create_router.ts
  packages/kbn-typed-react-router-config/src/use_route_path.tsx
  x-pack/plugins/apm/ftr_e2e/cypress/e2e/read_only_user/_404.cy.ts
  x-pack/plugins/apm/public/components/routing/apm_error_boundary.tsx
  x-pack/plugins/apm/public/components/routing/app_root.tsx
  x-pack/plugins/apm/tsconfig.json
Labels: release_note:enhancement, Team:APM, v8.7.0

#150217 [7.17] [ci/es_snapshots] Set DOCKER_BUILDKIT as a bool (#150201)
  .buildkite/scripts/steps/es_snapshots/build.sh
Labels: backport

#150155 [docs] Document considerations around major Node.js upgrades
  docs/developer/advanced/upgrading-nodejs.asciidoc
Labels: release_note:skip, backport:skip

#150013 Remove unused/obsolete source type field from frames metadata
  x-pack/plugins/profiling/common/__fixtures__/stacktraces.ts
  x-pack/plugins/profiling/common/elasticsearch.ts
  x-pack/plugins/profiling/common/profiling.ts
  x-pack/plugins/profiling/common/stack_traces.ts
  x-pack/plugins/profiling/server/routes/search_stacktraces.test.ts
  x-pack/plugins/profiling/server/routes/search_stacktraces.ts
  x-pack/plugins/profiling/server/routes/stacktrace.ts
Labels: release_note:skip, v8.7.0, v8.6.2

#150218 [8.6] [ci/es_snapshots] Set DOCKER_BUILDKIT as a bool (#150201)
  .buildkite/scripts/steps/es_snapshots/build.sh
Labels: backport

#150151 [@kbn/handlebars] Add support for partials
  docs/setup/settings.asciidoc
  packages/kbn-handlebars/README.md
  packages/kbn-handlebars/index.test.ts
  packages/kbn-handlebars/index.ts
  packages/kbn-handlebars/src/__jest__/test_bench.ts
  packages/kbn-handlebars/src/spec/index.data.test.ts
  packages/kbn-handlebars/src/spec/index.partials.test.ts
  packages/kbn-handlebars/src/spec/index.regressions.test.ts
  packages/kbn-handlebars/src/spec/index.whitespace_control.test.ts
Labels: release_note:enhancement, backport:prev-minor

#148749 [ResponseOps][Alert Summaries] Add default summary message
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/triggers_actions_ui/public/application/constants/index.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_variables.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/action_variables.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_form.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_type_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_type_form.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: Team:ResponseOps, release_note:feature

#150223 [8.6] [@kbn/handlebars] Add support for partials (#150151)
  docs/setup/settings.asciidoc
  packages/kbn-handlebars/README.md
  packages/kbn-handlebars/index.test.ts
  packages/kbn-handlebars/index.ts
  packages/kbn-handlebars/src/__jest__/test_bench.ts
  packages/kbn-handlebars/src/spec/index.data.test.ts
  packages/kbn-handlebars/src/spec/index.partials.test.ts
  packages/kbn-handlebars/src/spec/index.regressions.test.ts
  packages/kbn-handlebars/src/spec/index.whitespace_control.test.ts
Labels: backport

#149886 fix Failing test: Chrome UI Functional Tests.test/functional/apps/dashboard/group1/embeddable_rendering·ts
  test/functional/services/visualizations/pie_chart.ts
Labels: Team:Presentation, release_note:skip

#149363 [Enterprise Search] Show engine table when search return empty list of engines
  x-pack/plugins/enterprise_search/common/types/engines.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/engines/fetch_engines_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/engines/fetch_engines_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_list.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_list.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_list_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_list_logic.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.7.0

#149553 [Security Solution][Admin][Policy] Add credential access to endpoint policy windows eventing
  src/core/server/integration_tests/saved_objects/migrations/check_registered_types.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_7_0.test.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_7_0.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.test.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_forms/events/windows.tsx
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows, v8.7.0

#150205 Fix handling the stackframes response from the ES plugin
  x-pack/plugins/profiling/server/routes/search_stacktraces.ts
Labels: release_note:skip, v8.7.0

#150105 [Security Solution][Cases] Do not call hooks inside anything but a functional component
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_bulk_add_to_case_actions.tsx
Labels: release_note:skip, Feature:Cases, Team:Threat Hunting:Investigations

#150211 [Security Solution] Fix OSQuery action padding in alert action overflow menu
  x-pack/plugins/security_solution/public/detections/components/osquery/osquery_action_item.tsx
Labels: bug, release_note:skip, UX, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Alerts

#150179 chore(NA): bump version to 7.17.10
  package.json
  src/core/server/saved_objects/migrationsv2/integration_tests/batch_size_bytes.test.ts
  src/core/server/saved_objects/migrationsv2/integration_tests/batch_size_bytes_exceeds_es_content_length.test.ts
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v7.17.10

#150180 chore(NA): update versions after v7.17.10 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.7.0

#149721 Add link to ingest pipeline dashboard from Stack Monitoring
  x-pack/plugins/monitoring/kibana.json
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/elasticsearch_template.tsx
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/ingest_pipeline_modal.tsx
  x-pack/plugins/monitoring/public/application/pages/page_template.tsx
  x-pack/plugins/monitoring/public/types.ts
  x-pack/plugins/monitoring/tsconfig.json
Labels: enhancement, Team:Infra Monitoring UI, release_note:feature, v8.7.0

#149861 [Discover] Refresh fields when data view is edited
  src/plugins/data_view_editor/public/components/data_view_flyout_content_container.tsx
  test/functional/apps/discover/group2/_data_view_edit.ts
  test/functional/page_objects/discover_page.ts
Labels: release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#150057 [performance] unskip journey
  x-pack/performance/journeys/ecommerce_dashboard_saved_search_only.ts
Labels: release_note:skip, backport:skip

#150183 Fix incorrect query for Open in timeline and Copy to clipboard cellActions
  x-pack/plugins/security_solution/public/actions/add_to_timeline/data_provider.ts
  x-pack/plugins/security_solution/public/actions/add_to_timeline/lens/add_to_timeline.test.ts
  x-pack/plugins/security_solution/public/actions/add_to_timeline/lens/add_to_timeline.ts
  x-pack/plugins/security_solution/public/actions/copy_to_clipboard/lens/copy_to_clipboard.test.ts
  x-pack/plugins/security_solution/public/actions/copy_to_clipboard/lens/copy_to_clipboard.ts
  x-pack/plugins/security_solution/public/actions/utils.ts
Labels: bug, release_note:skip, backport:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.7.0

#150250 [Enterprise Search] Fix painless script bug cancelling syncs
  x-pack/plugins/enterprise_search/server/lib/connectors/post_cancel_syncs.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/post_cancel_syncs.ts
Labels: release_note:fix, Team:EnterpriseSearch, v8.7.0, v8.6.2

#148503 Additional context for log threshold rule
  x-pack/plugins/infra/common/alerting/logs/log_threshold/types.ts
  x-pack/plugins/infra/server/lib/alerting/common/utils.ts
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/log_threshold/register_log_threshold_rule_type.ts
  x-pack/plugins/infra/server/utils/get_original_action_group.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/fetch_alert_by_uuid.ts
  x-pack/test/api_integration/apis/logs_ui/log_threshold_alert.ts
  x-pack/test/api_integration/apis/metrics_ui/metric_threshold_alert.ts
  x-pack/test/functional/es_archives/infra/alerts_test_data/data.json.gz
  x-pack/test/functional/es_archives/infra/alerts_test_data/mappings.json
Labels: release_note:feature, v8.7.0

#150256 [8.6] [Enterprise Search] Fix painless script bug cancelling syncs (#150250)
  x-pack/plugins/enterprise_search/server/lib/connectors/post_cancel_syncs.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/post_cancel_syncs.ts
Labels: backport

#150153 [Security Solution] Add an enable or disabled state rules filter
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/types.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/utils.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/rules_table_saved_state.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/use_initialize_rules_table_saved_state.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/use_initialize_rules_table_saved_state.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/use_sync_rules_table_saved_state.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/use_sync_rules_table_saved_state.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_filters/rule_search_field.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_filters/rules_table_filters.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/translations.ts
Labels: release_note:enhancement, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rules, v8.7.0

#150056 [RAM] Try to fix flaky rules_list test - filter by rule state
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.test.tsx
Labels: release_note:skip, Team:ResponseOps, v8.7.0

#150032 [Stack Monitoring] Use UI time range filter in logstash pipeline details query
  x-pack/plugins/monitoring/common/http_api/logstash/post_logstash_pipeline.ts
  x-pack/plugins/monitoring/public/application/pages/logstash/pipeline.tsx
  x-pack/plugins/monitoring/server/lib/logstash/get_pipeline.ts
  x-pack/plugins/monitoring/server/lib/logstash/get_pipeline_stats_aggregation.ts
  x-pack/plugins/monitoring/server/lib/logstash/get_pipeline_vertex.ts
  x-pack/plugins/monitoring/server/lib/logstash/get_pipeline_vertex_stats_aggregation.ts
  x-pack/test/functional/apps/monitoring/logstash/pipeline_viewer.js
Labels: release_note:fix, Team:Infra Monitoring UI, Feature:Stack Monitoring, backport:skip, v8.7.0

#149586 [RAM] Alerts Table- Inspect Modal
  x-pack/plugins/rule_registry/common/search_strategy/index.ts
  x-pack/plugins/rule_registry/server/search_strategy/search_strategy.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/bulk_actions/bulk_actions.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/empty_state.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_fetch_alerts.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/components/inspect/hover_visibility_container/index.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/components/inspect/hover_visibility_container/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/components/inspect/index.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/components/inspect/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/components/inspect/modal.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/components/inspect/modal.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/components/inspect/translations.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/toolbar/toolbar_visibility.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: Team:ResponseOps, release_note:feature, Feature:Alerting/Alerts-as-Data, v8.7.0

#150298 Improve alert summary data fetching in Alerts and Overview pages
  x-pack/plugins/observability/public/pages/alerts/containers/alerts_page/alerts_page.tsx
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/overview_page.tsx
Labels: release_note:skip, Team: Actionable Observability

#150028 [Guided onboarding] Telemetry ids for landing page cards
  packages/kbn-guided-onboarding/src/components/landing_page/__snapshots__/guide_cards.test.tsx.snap
  packages/kbn-guided-onboarding/src/components/landing_page/guide_card.tsx
  packages/kbn-guided-onboarding/src/components/landing_page/guide_cards.constants.ts
Labels: release_note:skip, Team:Journey/Onboarding, v8.7.0

#150058 Fix overly permissive regular expression range
  packages/kbn-es-query/src/kuery/node_types/wildcard.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/parse_search_string.ts
Labels: release_note:skip, backport:all-open

#149968 [Guided onboarding] Registers 3 separate guide IDs for search
  examples/guided_onboarding_example/public/components/main.tsx
  packages/kbn-guided-onboarding/src/components/landing_page/__snapshots__/guide_cards.test.tsx.snap
  packages/kbn-guided-onboarding/src/components/landing_page/guide_cards.constants.ts
  packages/kbn-guided-onboarding/src/types.ts
  test/api_integration/apis/guided_onboarding/get_config.ts
  test/api_integration/apis/guided_onboarding/get_guides.ts
  test/api_integration/apis/guided_onboarding/put_state.ts
  test/tsconfig.json
  x-pack/plugins/enterprise_search/common/guided_onboarding/search_guide_config.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
  x-pack/plugins/enterprise_search/server/plugin.ts
Labels: release_note:skip, Team:Journey/Onboarding, v8.7.0

#148983 [Guided onboarding] Change the saved objects' type to hidden
  src/plugins/guided_onboarding/server/routes/guide_state_routes.ts
  src/plugins/guided_onboarding/server/routes/plugin_state_routes.ts
  src/plugins/guided_onboarding/server/saved_objects/guided_setup.ts
Labels: release_note:skip, Team:Journey/Onboarding, v8.7.0

#149101 [APM] Add widgets for Most HTTP requests, Errors and Sessions, at the bottom of the Map layer/component in the service overview page
  x-pack/plugins/apm/common/es_fields/__snapshots__/es_fields.test.ts.snap
  x-pack/plugins/apm/common/es_fields/apm.ts
  x-pack/plugins/apm/public/components/app/mobile/service_overview/index.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/latency_map/embedded_map.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/stats/location_stats.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/stats/metric_item.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/stats/stats.tsx
  x-pack/plugins/apm/server/routes/mobile/get_mobile_http_requests.ts
  x-pack/plugins/apm/server/routes/mobile/get_mobile_http_requests_by_location.ts
  x-pack/plugins/apm/server/routes/mobile/get_mobile_location_stats.ts
  x-pack/plugins/apm/server/routes/mobile/get_mobile_sessions_by_location.ts
  x-pack/plugins/apm/server/routes/mobile/route.ts
  x-pack/test/apm_api_integration/tests/mobile/generate_mobile_data.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_http_requests_timeseries.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_location_stats.spec.ts
Labels: Team:APM, release_note:skip, backport:skip, apm:mobile, v8.7.0

#150253 [Security Solution] Mac and Linux env variables advanced option and default values
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
Labels: Team:Defend Workflows, release_note:feature, v8.7.0

#149149 [Security Solution][Alerts] Provide more information about rule exception behavior before creation
  packages/kbn-securitysolution-autocomplete/src/field/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field/types.ts
  packages/kbn-securitysolution-autocomplete/src/field/use_field.tsx
  packages/kbn-securitysolution-autocomplete/src/translations/index.ts
  packages/kbn-securitysolution-list-utils/src/helpers/index.test.ts
  packages/kbn-securitysolution-list-utils/src/helpers/index.ts
  packages/kbn-securitysolution-list-utils/src/types/index.ts
  src/plugins/data_views/common/fields/fields.mocks.ts
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.test.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/translations.ts
  x-pack/plugins/security_solution/public/common/containers/source/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions/logic/use_exception_flyout_data.tsx
  x-pack/plugins/timelines/common/search_strategy/index_fields/index.ts
  x-pack/plugins/timelines/server/search_strategy/index_fields/index.test.ts
  x-pack/plugins/timelines/server/search_strategy/index_fields/index.ts
Labels: release_note:enhancement, Team: SecuritySolution, Team:Security Solution Platform, Team:Detection Alerts, ci:cloud-deploy

#150324 [8.6] Fix overly permissive regular expression range (#150058)
  packages/kbn-es-query/src/kuery/node_types/wildcard.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/parse_search_string.ts
Labels: backport

#150328 Revert "[Enterprise Search] Add preferences to connectors (#150165)"
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.test.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/update_connector_scheduling.test.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.7.0

#150181 [Security Solution] Fix prebuilt rules installation when the detection engine package is missing
  x-pack/plugins/security_solution/common/detection_engine/constants.ts
  x-pack/plugins/security_solution/public/common/hooks/use_upgrade_security_packages.ts
  x-pack/plugins/security_solution/server/client/client.test.ts
  x-pack/plugins/security_solution/server/client/client.ts
  x-pack/plugins/security_solution/server/client/factory.test.ts
  x-pack/plugins/security_solution/server/client/factory.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/install_prebuilt_rules_and_timelines/install_prebuilt_rules_package.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/install_prebuilt_rules_and_timelines/route.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/request_context_factory.ts
Labels: bug, release_note:skip, impact:high, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rules, Feature:Prebuilt Detection Rules, v8.7.0

#149959 Add dynamic:false to both connector index mappings
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.test.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.ts
Labels: release_note:skip, Team:EnterpriseSearch

#150047 [Fleet] fix issue that not all agents went back to Healthy after Cancel Upgrade
  x-pack/plugins/fleet/server/services/agents/action_status.ts
  x-pack/plugins/fleet/server/services/agents/actions.test.ts
  x-pack/plugins/fleet/server/services/agents/actions.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.test.ts
  x-pack/plugins/fleet/server/services/agents/upgrade_action_runner.ts
Labels: release_note:skip, Team:Fleet, ci:cloud-deploy, v8.7.0

#150150 [ML] Explain Log Rate Spikes: rename frequent_items to frequent_item_sets
  x-pack/plugins/aiops/common/__mocks__/artificial_logs/filtered_frequent_item_sets.ts
  x-pack/plugins/aiops/common/__mocks__/artificial_logs/frequent_item_sets.ts
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/plugins/aiops/server/routes/queries/duplicate_identifier.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_frequent_item_sets.ts
  x-pack/plugins/aiops/server/routes/queries/get_change_point_groups.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_change_point_groups.ts
  x-pack/plugins/aiops/server/routes/queries/get_field_value_pair_counts.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_filtered_frequent_item_sets.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_filtered_frequent_item_sets.ts
  x-pack/plugins/aiops/server/routes/queries/get_filtered_frequent_items.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_groups_with_readded_duplicates.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_marked_duplicates.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_missing_change_points.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_simple_hierarchical_tree.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_simple_hierarchical_tree_leaves.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_value_counts.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_values_descending.test.ts
  x-pack/plugins/aiops/server/routes/queries/transform_change_point_to_group.test.ts
Labels: :ml, release_note:skip, Feature:ML/AIOps, v8.7.0

#150335 [8.6] [Obs] fixing news feed by using dynamic kibana version (#150053)
  x-pack/plugins/observability/public/application/application.test.tsx
  x-pack/plugins/observability/public/application/index.tsx
  x-pack/plugins/observability/public/application/types.ts
  x-pack/plugins/observability/public/pages/overview/containers/overview_page/overview_page.tsx
  x-pack/plugins/observability/public/plugin.ts
  x-pack/plugins/observability/public/services/get_news_feed.test.ts
  x-pack/plugins/observability/public/services/get_news_feed.ts
Labels: backport

#150040 [APM] Mobile Geographic map for sessions and https requests
  x-pack/plugins/apm/common/es_fields/__snapshots__/es_fields.test.ts.snap
  x-pack/plugins/apm/common/es_fields/apm.ts
  x-pack/plugins/apm/common/mobile/constants.ts
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/embedded_map.test.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/embedded_map.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/index.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/map_layers/get_http_requests_map_layer_list.ts
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/map_layers/get_layer_list.ts
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/map_layers/get_map_layer_style.ts
  x-pack/plugins/apm/public/components/app/mobile/service_overview/geo_map/map_layers/get_session_map_layer_list.ts
  x-pack/plugins/apm/public/components/app/mobile/service_overview/index.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/latency_map/embedded_map.test.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/latency_map/embedded_map.tsx
  x-pack/plugins/apm/public/components/app/mobile/service_overview/latency_map/get_layer_list.ts
  x-pack/plugins/apm/public/components/app/mobile/service_overview/latency_map/index.tsx
  x-pack/plugins/apm/public/hooks/use_filters_for_embeddable_charts.ts
  x-pack/plugins/apm/server/routes/mobile/get_mobile_http_requests.ts
  x-pack/plugins/translations/translations/zh-CN.json
Labels: Team:APM, release_note:skip, v8.7.0

#149663 [Cases] Create internal endpoint to get all participants of the case
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/aggregations/aggs_types/bucket_aggs.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/aggregations/validation.test.ts
  src/core/server/integration_tests/saved_objects/migrations/check_registered_types.test.ts
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/common/api/cases/comment.ts
  x-pack/plugins/cases/common/api/cases/configure.ts
  x-pack/plugins/cases/common/api/cases/user_actions/common.ts
  x-pack/plugins/cases/common/api/helpers.ts
  x-pack/plugins/cases/common/api/user.ts
  x-pack/plugins/cases/common/constants.ts
  x-pack/plugins/cases/server/authorization/__snapshots__/audit_logger.test.ts.snap
  x-pack/plugins/cases/server/authorization/index.ts
  x-pack/plugins/cases/server/authorization/types.ts
  x-pack/plugins/cases/server/client/cases/push.ts
  x-pack/plugins/cases/server/client/cases/utils.ts
  x-pack/plugins/cases/server/client/mocks.ts
  x-pack/plugins/cases/server/client/user_actions/client.ts
  x-pack/plugins/cases/server/client/user_actions/types.ts
  x-pack/plugins/cases/server/client/user_actions/users.ts
  x-pack/plugins/cases/server/routes/api/get_internal_routes.ts
  x-pack/plugins/cases/server/routes/api/internal/get_case_users.ts
  x-pack/plugins/cases/server/saved_object_types/user_actions.ts
  x-pack/plugins/cases/server/services/mocks.ts
  x-pack/plugins/cases/server/services/user_actions/index.ts
  x-pack/test/cases_api_integration/common/lib/user_actions.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/find_cases.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/user_actions_get_users.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/internal/user_actions_get_users.ts
  x-pack/test/functional/fixtures/kbn_archiver/cases/8.5.0/cases_no_users.json
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.7.0
