Repository elastic/kibana, pull requests merged in 2023-04, with the labels that each got.

#154024 [Cases] Remove case info from alerts when deleting an alert attachment
  x-pack/plugins/cases/common/utils/attachments.test.ts
  x-pack/plugins/cases/public/components/user_actions/comment/alert.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/comment.test.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/registered_attachments.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/translations.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/user.tsx
  x-pack/plugins/cases/public/components/user_actions/types.ts
  x-pack/plugins/cases/public/components/user_actions/use_user_actions_handler.tsx
  x-pack/plugins/cases/public/containers/use_delete_comment.test.tsx
  x-pack/plugins/cases/public/containers/use_delete_comment.tsx
  x-pack/plugins/cases/server/client/alerts/types.ts
  x-pack/plugins/cases/server/client/attachments/delete.test.ts
  x-pack/plugins/cases/server/client/attachments/delete.ts
  x-pack/plugins/cases/server/services/alerts/index.test.ts
  x-pack/plugins/cases/server/services/alerts/index.ts
  x-pack/plugins/cases/server/services/mocks.ts
  x-pack/plugins/rule_registry/server/alert_data_client/alerts_client.mock.ts
  x-pack/plugins/rule_registry/server/alert_data_client/alerts_client.ts
  x-pack/plugins/rule_registry/server/alert_data_client/tests/bulk_update_cases.test.ts
  x-pack/plugins/rule_registry/server/alert_data_client/tests/remove_alerts_from_case.test.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/comments/delete_comment.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/comments/post_comment.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.8.0

#153957 [Cases] File user action in Case detail view
  x-pack/plugins/cases/common/api/cases/comment/files.ts
  x-pack/plugins/cases/public/client/attachment_framework/types.ts
  x-pack/plugins/cases/public/components/cases_context/index.tsx
  x-pack/plugins/cases/public/components/files/add_file.test.tsx
  x-pack/plugins/cases/public/components/files/add_file.tsx
  x-pack/plugins/cases/public/components/files/file_download_button_icon.test.tsx
  x-pack/plugins/cases/public/components/files/file_download_button_icon.tsx
  x-pack/plugins/cases/public/components/files/file_name_link.test.tsx
  x-pack/plugins/cases/public/components/files/file_name_link.tsx
  x-pack/plugins/cases/public/components/files/file_preview.test.tsx
  x-pack/plugins/cases/public/components/files/file_preview.tsx
  x-pack/plugins/cases/public/components/files/file_type.test.tsx
  x-pack/plugins/cases/public/components/files/file_type.tsx
  x-pack/plugins/cases/public/components/files/files_table.test.tsx
  x-pack/plugins/cases/public/components/files/files_table.tsx
  x-pack/plugins/cases/public/components/files/translations.tsx
  x-pack/plugins/cases/public/components/files/use_file_preview.test.tsx
  x-pack/plugins/cases/public/components/files/use_file_preview.tsx
  x-pack/plugins/cases/public/components/files/use_files_table_columns.test.tsx
  x-pack/plugins/cases/public/components/files/use_files_table_columns.tsx
  x-pack/plugins/cases/public/components/files/utils.test.tsx
  x-pack/plugins/cases/public/components/files/utils.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/registered_attachments.tsx
  x-pack/plugins/cases/public/internal_attachments/index.ts
  x-pack/plugins/cases/public/plugin.ts
  x-pack/plugins/cases/server/common/limiter_checker/test_utils.ts
  x-pack/test/cases_api_integration/common/lib/mock.ts
Labels: enhancement, Team:ResponseOps, Feature:Cases, v8.8.0

#154205 [8.7] [Cloud Security] fixed onboarding link directs to cspm integration (#153268)
  packages/kbn-guided-onboarding/src/components/landing_page/__snapshots__/guide_cards.test.tsx.snap
  packages/kbn-guided-onboarding/src/components/landing_page/guide_cards.constants.tsx
Labels: backport

#154122 [8.7] [Synthetics] Fixes all spaces params usage in monitors (#153826)
  x-pack/plugins/synthetics/server/alert_rules/status_rule/status_rule_executor.test.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.test.ts
  x-pack/plugins/synthetics/server/saved_objects/synthetics_monitor/get_all_monitors.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/project_monitor_formatter_legacy.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
  x-pack/plugins/synthetics/server/synthetics_service/utils/mocks.ts
Labels: backport, Team:uptime

#153921 DocumentMigration: implement downward transformation of documents
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/core/migrate_raw_docs.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/document_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/document_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/model_version.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/model_version.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/pipelines/downgrade_pipeline.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/pipelines/downgrade_pipeline.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/pipelines/index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/pipelines/types.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/pipelines/upgrade_pipeline.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/pipelines/upgrade_pipeline.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/pipelines/utils.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/types.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/utils.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/test_helpers/document_migrator.ts
Labels: Team:Core, release_note:skip, Feature:Migrations

#153778 [ML] AIOps: Adding execution context to ES requests.
  x-pack/plugins/aiops/server/plugin.ts
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/plugins/aiops/tsconfig.json
Labels: release_note:enhancement, :ml, Feature:ML/AIOps, v8.8.0

#154176 [Fleet] Disable button in agent details when policy is managed
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_dashboard_link.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_dashboard_link.tsx
Labels: release_note:skip, Team:Fleet, backport:prev-minor, v8.8.0

#149021 Support generating legacy URL aliases for objects that change IDs during import.
  docs/api/saved-objects/import.asciidoc
  docs/api/spaces-management/copy_saved_objects.asciidoc
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/repository.spaces_extension.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/repository.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/repository.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/mocks/repository.mock.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/saved_objects_client.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/saved_objects_client.ts
  packages/core/saved-objects/core-saved-objects-api-server-mocks/src/repository.mock.ts
  packages/core/saved-objects/core-saved-objects-api-server-mocks/src/saved_objects_client.mock.ts
  packages/core/saved-objects/core-saved-objects-api-server/src/saved_objects_client.ts
  packages/core/saved-objects/core-saved-objects-api-server/src/saved_objects_repository.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/import_saved_objects.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/lib/create_saved_objects.test.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/lib/create_saved_objects.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/lib/extract_errors.test.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/lib/extract_errors.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/resolve_import_errors.test.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/resolve_import_errors.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/saved_objects_importer.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/tsconfig.json
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/import.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/resolve_import_errors.ts
  packages/core/saved-objects/core-saved-objects-server/src/import.ts
  packages/core/usage-data/core-usage-data-base-server-internal/src/usage_stats_client.ts
  packages/core/usage-data/core-usage-data-server-internal/src/core_usage_stats_client.test.ts
  packages/core/usage-data/core-usage-data-server-internal/src/core_usage_stats_client.ts
  src/core/server/integration_tests/saved_objects/routes/import.test.ts
  src/core/server/integration_tests/saved_objects/routes/resolve_import_errors.test.ts
  x-pack/plugins/spaces/server/lib/copy_to_spaces/copy_to_spaces.test.ts
  x-pack/plugins/spaces/server/lib/copy_to_spaces/copy_to_spaces.ts
  x-pack/plugins/spaces/server/lib/copy_to_spaces/resolve_copy_conflicts.test.ts
  x-pack/plugins/spaces/server/lib/copy_to_spaces/resolve_copy_conflicts.ts
  x-pack/plugins/spaces/server/lib/copy_to_spaces/types.ts
  x-pack/plugins/spaces/server/routes/api/external/copy_to_space.test.ts
  x-pack/plugins/spaces/server/routes/api/external/copy_to_space.ts
  x-pack/plugins/spaces/server/usage_collection/spaces_usage_collector.test.ts
  x-pack/plugins/spaces/server/usage_collection/spaces_usage_collector.ts
  x-pack/plugins/spaces/server/usage_stats/types.ts
  x-pack/plugins/spaces/server/usage_stats/usage_stats_client.test.ts
  x-pack/plugins/spaces/server/usage_stats/usage_stats_client.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: Team:Core, Team:Security, release_note:skip, ci:no-auto-commit

#153863 [Infrastructure UI] Fix time range filter in alerts query
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_alerts_query.ts
  x-pack/test/functional/es_archives/infra/alerts/data.json.gz
  x-pack/test/functional/es_archives/infra/alerts/mappings.json
Labels: Team:Infra Monitoring UI, release_note:skip, v8.8.0, v8.7.1

#154213 [8.7] [Fleet] Disable button in agent details when policy is managed (#154176)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_dashboard_link.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_dashboard_link.tsx
Labels: backport, Team:Fleet

#154214 [8.7][DOCS] Adds transforms-related items to 8.7 release notes
  docs/CHANGELOG.asciidoc
Labels: release_note:skip, backport:skip, docs, v8.7.0

#153060 [Security Solution][Admin][Policy] Add License to Endpoint policy
  src/core/server/integration_tests/saved_objects/migrations/group2/check_registered_types.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_8_0.test.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_8_0.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.test.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/common/license/license.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/policy/license_watch.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/handlers/create_default_policy.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/handlers/create_default_policy.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows, ci:cloud-deploy, v8.8.0

#154077 [Fleet] Show pipelines and mappings editor for input packages
  src/dev/precommit_hook/casing_check_config.js
  x-pack/plugins/fleet/cypress/e2e/package_policy_real.cy.ts
  x-pack/plugins/fleet/cypress/packages/input_package-1.0.0.zip
  x-pack/plugins/fleet/cypress/plugins/index.ts
  x-pack/plugins/fleet/cypress/screens/integrations.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/datastream_hooks.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/datastream_mappings.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/datastream_pipelines.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_combo.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/multi_text_input.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_stream.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_var_field.tsx
Labels: release_note:enhancement, Team:Fleet

#152118 [Fleet] Implement audit logging for core CRUD operations
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agent_policies/output_helpers.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policy_create.ts
  x-pack/plugins/fleet/server/services/agents/actions.test.ts
  x-pack/plugins/fleet/server/services/agents/actions.ts
  x-pack/plugins/fleet/server/services/agents/crud.test.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/reassign.test.ts
  x-pack/plugins/fleet/server/services/agents/request_diagnostics.test.ts
  x-pack/plugins/fleet/server/services/agents/unenroll.test.ts
  x-pack/plugins/fleet/server/services/agents/update_agent_tags.test.ts
  x-pack/plugins/fleet/server/services/api_keys/enrollment_api_key.test.ts
  x-pack/plugins/fleet/server/services/api_keys/enrollment_api_key.ts
  x-pack/plugins/fleet/server/services/app_context.ts
  x-pack/plugins/fleet/server/services/audit_logging.ts
  x-pack/plugins/fleet/server/services/download_source.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/default_settings.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.ts
  x-pack/plugins/fleet/server/services/epm/packages/get.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/get.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/remove.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/remove.ts
  x-pack/plugins/fleet/server/services/epm/packages/update.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/update.ts
  x-pack/plugins/fleet/server/services/index.ts
  x-pack/plugins/fleet/server/services/managed_package_policies.test.ts
  x-pack/plugins/fleet/server/services/output.test.ts
  x-pack/plugins/fleet/server/services/output.ts
  x-pack/plugins/fleet/server/services/package_policies/experimental_datastream_features.test.ts
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration/fleet_server_host.test.ts
  x-pack/plugins/fleet/server/services/request_store.ts
  x-pack/plugins/fleet/server/services/settings.test.ts
  x-pack/plugins/fleet/server/services/settings.ts
Labels: Team:Fleet, release_note:feature

#154240 [Fleet] Fix functional test failures after new custom logs package released
  x-pack/test/fleet_api_integration/apis/epm/custom_ingest_pipeline.ts
  x-pack/test/fleet_api_integration/apis/epm/final_pipeline.ts
Labels: release_note:skip, Team:Fleet

#154175 feat(slo): create rule from slo details page
  x-pack/plugins/observability/public/pages/slo_details/components/header_control.tsx
  x-pack/plugins/observability/public/pages/slo_details/slo_details.test.tsx
  x-pack/plugins/observability/public/pages/slo_details/slo_details.tsx
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#154247 [DOCS] Add details to xpack.fleet.outputs settings
  docs/settings/fleet-settings.asciidoc
Labels: Team:Docs, release_note:skip, Team:Fleet, docs, v8.6.2, v8.7.1

#154250 [8.7] [DOCS] Add details to xpack.fleet.outputs settings (#154247)
  docs/settings/fleet-settings.asciidoc
Labels: backport

#154249 [8.6] [DOCS] Add details to xpack.fleet.outputs settings (#154247)
  docs/settings/fleet-settings.asciidoc
Labels: backport

#153639 [ML] Removing counter fields from wizards
  x-pack/plugins/ml/common/types/fields.ts
  x-pack/plugins/ml/public/application/jobs/new_job/common/job_creator/job_creator.ts
  x-pack/plugins/ml/public/application/jobs/new_job/common/job_creator/util/general.ts
  x-pack/plugins/ml/public/application/services/__mocks__/cloudwatch_job_caps_response.json
  x-pack/plugins/ml/public/application/services/__mocks__/nested_field_index_response.json
  x-pack/plugins/ml/public/application/services/new_job_capabilities/new_job_capabilities.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities/new_job_capabilities_service.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities/new_job_capabilities_service_analytics.ts
  x-pack/plugins/ml/server/models/job_service/new_job_caps/__mocks__/results/cloudwatch_rollup_job_caps.json
  x-pack/plugins/ml/server/models/job_service/new_job_caps/__mocks__/results/farequote_job_caps.json
  x-pack/plugins/ml/server/models/job_service/new_job_caps/field_service.ts
Labels: :ml, Feature:Anomaly Detection, release_note:skip, Feature:Data Frame Analytics, v8.8.0

#153930 [AO] - Add Logs history chart to the Logs Alert Details page
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_details_app_section/components/alert_annotation.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_details_app_section/components/logs_history_chart.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_details_app_section/index.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criterion_preview_chart.tsx
  x-pack/plugins/infra/public/hooks/use_alerts_history.ts
  x-pack/plugins/infra/tsconfig.json
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#154046 [ML] Adding trained models utils package
  .github/CODEOWNERS
  package.json
  tsconfig.base.json
  x-pack/.i18nrc.json
  x-pack/packages/ml/trained_models_utils/README.md
  x-pack/packages/ml/trained_models_utils/index.ts
  x-pack/packages/ml/trained_models_utils/jest.config.js
  x-pack/packages/ml/trained_models_utils/kibana.jsonc
  x-pack/packages/ml/trained_models_utils/package.json
  x-pack/packages/ml/trained_models_utils/src/constants/trained_models.ts
  x-pack/packages/ml/trained_models_utils/tsconfig.json
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.test.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/inference_config.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/target_field_help_text.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/ml_inference/utils.ts
  x-pack/plugins/enterprise_search/tsconfig.json
  x-pack/plugins/ml/common/constants/data_frame_analytics.ts
  x-pack/plugins/ml/common/types/trained_models.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/components/analytics_selector/analytics_id_selector.tsx
  x-pack/plugins/ml/public/application/model_management/model_actions.tsx
  x-pack/plugins/ml/public/application/model_management/models_list.tsx
  x-pack/plugins/ml/public/application/model_management/test_models/models/inference_base.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/ner/ner_inference.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/question_answering/question_answering_inference.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/text_classification/fill_mask_inference.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/text_classification/text_classification_inference.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/text_classification/zero_shot_classification_inference.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/text_embedding/text_embedding_inference.ts
  x-pack/plugins/ml/public/application/model_management/test_models/selected_model.tsx
  x-pack/plugins/ml/public/application/model_management/test_models/utils.ts
  x-pack/plugins/ml/server/routes/management.ts
  x-pack/plugins/ml/tsconfig.json
  yarn.lock
Labels: chore, non-issue, :ml, release_note:skip, Feature:3rd Party Models, v8.8.0

#154043 [Enterprise Search] Search Applications - Search Preview Highlighting
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/convert_results.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/convert_results.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/document_flyout.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/engine_search_preview.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/engine_search_preview_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/field_value_cell.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/search_ui_components.tsx
Labels: release_note:skip, Team:EnterpriseSearch

#154218 [ML] Transforms: Fix `_schedule_now` capabilities check
  x-pack/plugins/transform/public/app/lib/authorization/components/authorization_provider.tsx
Labels: :ml, release_note:skip, Feature:Transforms, v8.8.0

#154212 [Lens] Metric non-clickable if not filterable
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.test.tsx
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.8.0

#154228 [Fleet] Mark shipper feature as experimental in Fleet UI
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/advanced_options_section.tsx
Labels: release_note:skip, Team:Fleet, v8.8.0

#153604 [Cases] Delete file API
  x-pack/plugins/cases/common/api/cases/comment/files.ts
  x-pack/plugins/cases/common/api/helpers.ts
  x-pack/plugins/cases/common/constants/files.ts
  x-pack/plugins/cases/common/constants/index.ts
  x-pack/plugins/cases/common/files/index.test.ts
  x-pack/plugins/cases/common/files/index.ts
  x-pack/plugins/cases/common/schema/index.test.ts
  x-pack/plugins/cases/common/schema/index.ts
  x-pack/plugins/cases/common/utils/api_tags.ts
  x-pack/plugins/cases/public/files/index.ts
  x-pack/plugins/cases/server/client/attachments/bulk_delete.ts
  x-pack/plugins/cases/server/client/attachments/bulk_get.ts
  x-pack/plugins/cases/server/client/attachments/client.ts
  x-pack/plugins/cases/server/client/attachments/delete.ts
  x-pack/plugins/cases/server/client/attachments/types.ts
  x-pack/plugins/cases/server/client/factory.ts
  x-pack/plugins/cases/server/client/mocks.ts
  x-pack/plugins/cases/server/client/types.ts
  x-pack/plugins/cases/server/common/limiter_checker/limiters/files.ts
  x-pack/plugins/cases/server/common/partitioning.test.ts
  x-pack/plugins/cases/server/common/partitioning.ts
  x-pack/plugins/cases/server/common/references.test.ts
  x-pack/plugins/cases/server/common/references.ts
  x-pack/plugins/cases/server/common/types.ts
  x-pack/plugins/cases/server/features.ts
  x-pack/plugins/cases/server/files/index.ts
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/server/routes/api/get_internal_routes.ts
  x-pack/plugins/cases/server/routes/api/internal/bulk_delete_file_attachments.ts
  x-pack/plugins/cases/server/services/attachments/index.ts
  x-pack/plugins/cases/server/services/attachments/operations/get.ts
  x-pack/plugins/cases/server/services/mocks.ts
  x-pack/plugins/cases/server/services/user_actions/operations/create.ts
  x-pack/plugins/cases/server/services/user_actions/transform.ts
  x-pack/plugins/observability/server/plugin.ts
  x-pack/plugins/security_solution/server/features.ts
  x-pack/test/api_integration/apis/cases/common/roles.ts
  x-pack/test/api_integration/apis/cases/common/users.ts
  x-pack/test/api_integration/apis/cases/files.ts
  x-pack/test/cases_api_integration/common/lib/api/attachments.ts
  x-pack/test/cases_api_integration/common/lib/api/files.ts
  x-pack/test/cases_api_integration/common/lib/authentication/roles.ts
  x-pack/test/cases_api_integration/common/lib/authentication/users.ts
  x-pack/test/cases_api_integration/common/lib/constants.ts
  x-pack/test/cases_api_integration/common/lib/mock.ts
  x-pack/test/cases_api_integration/common/plugins/cases/kibana.jsonc
  x-pack/test/cases_api_integration/common/plugins/cases/server/files/index.ts
  x-pack/test/cases_api_integration/common/plugins/cases/server/plugin.ts
  x-pack/test/cases_api_integration/common/plugins/observability/server/plugin.ts
  x-pack/test/cases_api_integration/common/plugins/security_solution/server/plugin.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/bulk_delete_file_attachments.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/index.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/internal/bulk_delete_file_attachments.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.8.0

#154149 [Enterprise Search] Search Applications - Switch to only show conflicts on schema page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_schema.tsx
Labels: release_note:skip, Team:EnterpriseSearch

#154260 chore(slo): improve burn rate rule reason
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/executor.ts
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#153866 [Infrastructure UI] Show processes on a single hosts
  x-pack/plugins/infra/public/pages/metrics/hosts/components/host_details_flyout/flyout.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/host_details_flyout/metadata/index.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/components/host_details_flyout/metadata/metadata.test.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/host_details_flyout/metadata/metadata.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/host_details_flyout/processes/index.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/components/host_details_flyout/processes/processes.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/hosts_table.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_host_flyout_open_url_state.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_hosts_table.test.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_hosts_table.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/processes_table.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/node_details/tabs/processes/summary_table.tsx
  x-pack/test/functional/apps/infra/constants.ts
  x-pack/test/functional/apps/infra/hosts_view.ts
  x-pack/test/functional/es_archives/infra/metrics_hosts_processes/data.json.gz
  x-pack/test/functional/es_archives/infra/metrics_hosts_processes/mappings.json
  x-pack/test/functional/page_objects/infra_hosts_view.ts
Labels: Team:Infra Monitoring UI, release_note:skip, backport:skip

#154201 [Observability] Add Rule type and Rule name filtering to Rule List via query params
  x-pack/plugins/observability/public/pages/rules/rules.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.tsx
Labels: release_note:skip

#154281 [8.3] [Docs] Fix curl examples in update data view api docs (#153292)
  docs/api/data-views/update.asciidoc
Labels: backport

#154283 [8.5] [Docs] Fix curl examples in update data view api docs (#153292)
  docs/api/data-views/update.asciidoc
Labels: backport

#154282 [8.4] [Docs] Fix curl examples in update data view api docs (#153292)
  docs/api/data-views/update.asciidoc
Labels: backport

#154285 [8.7] [Docs] Fix curl examples in update data view api docs (#153292)
  docs/api/data-views/update.asciidoc
Labels: backport

#154284 [8.6] [Docs] Fix curl examples in update data view api docs (#153292)
  docs/api/data-views/update.asciidoc
Labels: backport

#153896 Support ELSER model in inference pipeline config
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/model_select_option.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_model_type_badge.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/ml_inference/utils.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.8.0

#154289 [Stack Functional Integration] Fix test from #154115
  x-pack/test/stack_functional_integration/apps/heartbeat/_heartbeat.ts
Labels: test, Team:QA, release_note:skip, test-stack-integration, v8.8.0, v8.7.1

#153898 Pass full pipeline definition in ML pipeline creation for ELSER model
  x-pack/plugins/enterprise_search/common/types/pipelines.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/ml_models.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/ml_models/ml_trained_models_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/pipelines/create_ml_inference_pipeline.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.8.0

#154298 [8.7] [Stack Functional Integration] Fix test from #154115 (#154289)
  x-pack/test/stack_functional_integration/apps/heartbeat/_heartbeat.ts
Labels: backport

#154303 docs: link to android agent central config docs
  docs/apm/agent-configuration.asciidoc
Labels: Team:APM, release_note:skip, v8.7.1

#154304 [8.7] docs: link to android agent central config docs (#154303)
  docs/apm/agent-configuration.asciidoc
Labels: backport

#154181 [Security Solution][Endpoint][Response Actions]Show file is truncated message if execute response metadata has that …
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_action_generator.ts
  x-pack/plugins/security_solution/common/endpoint/types/actions.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/execute_action_host_response.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/execute_action_host_response.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/execute_action_host_response_output.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/index.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/execute_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/action_log_expanded_tray.tsx
  x-pack/plugins/security_solution/public/management/components/response_action_file_download_link/response_action_file_download_link.test.tsx
  x-pack/plugins/security_solution/public/management/components/response_action_file_download_link/response_action_file_download_link.tsx
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.8.0

#154251 [RAM] Fix broken custom snooze recurrences with monthly frequency
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_snooze/panel/base_snooze_panel.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_snooze/recurrence_scheduler/custom_recurrence_scheduler.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_snooze/recurrence_scheduler/helpers.tsx
Labels: release_note:fix, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.8.0

#153931 [Lens] Improvements on the suggestions api
  src/plugins/unified_histogram/public/layout/hooks/use_lens_suggestions.ts
  x-pack/plugins/lens/public/lens_suggestions_api.test.ts
  x-pack/plugins/lens/public/lens_suggestions_api.ts
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/visualizations/gauge/suggestions.test.ts
  x-pack/plugins/lens/public/visualizations/gauge/suggestions.ts
  x-pack/plugins/lens/public/visualizations/heatmap/suggestions.test.ts
  x-pack/plugins/lens/public/visualizations/heatmap/suggestions.ts
  x-pack/plugins/lens/public/visualizations/partition/suggestions.test.ts
  x-pack/plugins/lens/public/visualizations/partition/suggestions.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_suggestions.test.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_suggestions.ts
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.8.0

#153367 Filter guided onboarding solutions based on cloud discovery questions…
  packages/kbn-guided-onboarding/src/components/landing_page/guide_filters.tsx
  src/plugins/home/public/application/components/guided_onboarding/__snapshots__/getting_started.test.tsx.snap
  src/plugins/home/public/application/components/guided_onboarding/getting_started.test.tsx
  src/plugins/home/public/application/components/guided_onboarding/getting_started.tsx
Labels: release_note:skip, backport:skip, Team:Journey/Onboarding, v8.8.0

#154056 Use components from Exploratory View app in Synthetics
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/step_field_trend/step_field_trend.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_errors/failed_tests.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_errors/failed_tests_count.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/availability_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/availability_sparklines.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/duration_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/duration_sparklines.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/duration_trend.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_alerts.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_complete_count.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_complete_sparklines.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_error_sparklines.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_errors_count.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_total_runs_count.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/step_duration_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/filter_button.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_test_runs.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_test_runs_sparkline.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/monitor_detail_flyout.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_alerts.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_errors/overview_errors_count.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_errors/overview_errors_sparklines.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/network_timings_breakdown.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/step_waterfall_chart/waterfall/waterfall_marker/waterfall_marker_test_helper.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/synthetics_app.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/utils/testing/rtl_helpers.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/app/uptime_app.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor/synthetics/waterfall/components/waterfall_marker_test_helper.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/overview/alerts/monitor_expressions/filters_expression_select.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/overview/filter_group/filter_group.test.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/overview/filter_group/filter_group.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/synthetics/check_steps/stderr_logs.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/synthetics/check_steps/step_field_trend.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/lib/helper/rtl_helpers.tsx
  x-pack/plugins/synthetics/public/plugin.ts
Labels: Team:uptime, release_note:skip

#154210 [Lens] Supports icon in the new metric
  src/plugins/chart_expressions/expression_metric/common/constants.ts
  src/plugins/chart_expressions/expression_metric/common/expression_functions/metric_vis_function.ts
  src/plugins/chart_expressions/expression_metric/common/index.ts
  src/plugins/chart_expressions/expression_metric/common/types/expression_functions.ts
  src/plugins/chart_expressions/expression_metric/common/types/expression_renderers.ts
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.test.tsx
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.tsx
  x-pack/plugins/lens/public/shared_components/icon_select/icon_select.tsx
  x-pack/plugins/lens/public/shared_components/index.ts
  x-pack/plugins/lens/public/visualizations/metric/dimension_editor.test.tsx
  x-pack/plugins/lens/public/visualizations/metric/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/metric/icon_set.ts
  x-pack/plugins/lens/public/visualizations/metric/to_expression.ts
  x-pack/plugins/lens/public/visualizations/metric/toolbar.test.tsx
  x-pack/plugins/lens/public/visualizations/metric/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/metric/visualization.tsx
  x-pack/plugins/lens/public/visualizations/xy/to_expression.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/annotations_config_panel/icon_set.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/reference_line_config_panel/icon_set.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/shared/marker_decoration_settings.tsx
Labels: release_note:enhancement, Team:Visualizations, Feature:Lens, backport:skip, v8.8.0

#154313 [ML] Fix relative time range for Change Point Detection
  x-pack/plugins/aiops/public/components/change_point_detection/change_point_detection_context.tsx
Labels: release_note:fix, :ml, Team:ML, v8.8.0, v8.7.1

#154235 [Cases ]Expose the bulk get cases API from the cases UI client
  x-pack/plugins/cases/public/api/decoders.ts
  x-pack/plugins/cases/public/api/index.test.ts
  x-pack/plugins/cases/public/api/index.ts
  x-pack/plugins/cases/public/client/api/index.test.ts
  x-pack/plugins/cases/public/client/api/index.ts
  x-pack/plugins/cases/public/mocks.ts
  x-pack/plugins/cases/public/types.ts
  x-pack/plugins/cases/server/client/cases/client.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases

#154332 [8.7] [Security Solution] Allow rewriting rule create props in Cypress tests (#153474)
  x-pack/plugins/security_solution/cypress/e2e/dashboards/enable_risk_score.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/dashboards/upgrade_risk_score.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/alerts_detection_callouts_index_outdated.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/changing_alert_status.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/detection_page_filters.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/enrichments.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/all_rules_read_only.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/bulk_edit_rules.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/bulk_edit_rules_actions.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/bulk_edit_rules_data_view.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/custom_query_rule.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/custom_saved_query_rule.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/export_rule.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/indicator_match_rule.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/links.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/persistent_rules_table_state.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/rules_table_auto_refresh.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/sorting.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/add_edit_flyout/flyout_validation.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/alerts_table_flow/add_exception.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/exceptions_management_flow/exceptions_table.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/list_management_flow/list_details.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/rule_details_flow/add_edit_endpoint_exception.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/rule_details_flow/add_edit_exception.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/rule_details_flow/add_edit_exception_data_view.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/rule_details_flow/read_only_view.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/guided_onboarding/tour.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/users/user_details.cy.ts
  x-pack/plugins/security_solution/cypress/objects/rule.ts
  x-pack/plugins/security_solution/cypress/objects/types.ts
  x-pack/plugins/security_solution/cypress/tasks/create_new_rule.ts
  x-pack/plugins/security_solution/cypress/tasks/sourcerer.ts
Labels: backport

#153828 [FTR] Switch to new browser headless mode
  test/functional/apps/discover/group2/_data_grid_copy_to_clipboard.ts
  test/functional/apps/discover/group2/index.ts
  test/functional/screenshots/baseline/area_chart.png
  test/functional/services/remote/webdriver.ts
  x-pack/test/functional/apps/infra/hosts_view.ts
  x-pack/test/functional/apps/maps/group1/blended_vector_layer.js
  x-pack/test/functional/apps/maps/group1/documents_source/search_hits.js
  x-pack/test/functional/apps/maps/group2/es_geo_grid_source.js
  x-pack/test/functional/screenshots/baseline/flights_map.png
  x-pack/test/functional/screenshots/baseline/web_logs_map.png
Labels: test_ui_functional, release_note:skip, backport:prev-minor, v8.8.0

#154317 [Fleet] un-skip flaky pipeline tests
  x-pack/test/fleet_api_integration/apis/epm/custom_ingest_pipeline.ts
  x-pack/test/fleet_api_integration/apis/epm/final_pipeline.ts
Labels: release_note:skip, Team:Fleet

#154335 [AO] - Add chart series filter capability for the Logs Alert Details page
  x-pack/plugins/infra/common/utils/get_chart_group_names.ts
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_details_app_section/index.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/alert_details_app_section/types.ts
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/criterion_preview_chart.tsx
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#154328 [8.7] [Security Solution] Support rule id in wait for rule status helper (#153410)
  x-pack/test/cases_api_integration/common/lib/alerts.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/patch_cases.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/comments/post_comment.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/bulk_create_attachments.ts
  x-pack/test/detection_engine_api_integration/basic/tests/open_close_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/add_actions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/aliases.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/check_privileges.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/create_rules.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/create_rules_bulk.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/export_rules.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group1/update_actions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/get_rule_execution_results.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/ignore_fields.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/open_close_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/runtime.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/timestamps.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group2/create_endpoint_exceptions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group3/create_exceptions.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group4/telemetry/usage_collector/detection_rule_status.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group4/telemetry/usage_collector/detection_rules.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group5/keyword_family/const_keyword.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group5/keyword_family/keyword.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group5/keyword_family/keyword_mixed_with_const.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group6/alerts/alerts_compatibility.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group7/exception_operators_data_types/date.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group7/exception_operators_data_types/double.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group7/exception_operators_data_types/float.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group7/exception_operators_data_types/integer.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group8/exception_operators_data_types/keyword.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group8/exception_operators_data_types/keyword_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group8/exception_operators_data_types/long.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group8/exception_operators_data_types/text.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group9/exception_operators_data_types/ip.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group9/exception_operators_data_types/ip_array.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group9/exception_operators_data_types/text_array.ts
  x-pack/test/detection_engine_api_integration/utils/get_open_signals.ts
  x-pack/test/detection_engine_api_integration/utils/index.ts
  x-pack/test/detection_engine_api_integration/utils/wait_for_rule_status.ts
  x-pack/test/detection_engine_api_integration/utils/wait_for_rule_success_or_status.ts
  x-pack/test/rule_registry/security_and_spaces/tests/basic/search_strategy.ts
Labels: backport

#154207 [Synthetics] unskip monitor summary test
  x-pack/plugins/synthetics/e2e/journeys/synthetics/index.ts
Labels: test, Team:uptime, release_note:skip, v8.8.0

#154288 [Enterprise Search] Search Applications - remove raw field capabilities API response
  x-pack/plugins/enterprise_search/common/types/engines.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_overview_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_overview_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/engine_search_preview_logic.ts
  x-pack/plugins/enterprise_search/server/lib/engines/field_capabilities.test.ts
  x-pack/plugins/enterprise_search/server/lib/engines/field_capabilities.ts
Labels: release_note:skip, Team:EnterpriseSearch

#154352 chore(slo): Autofill the slo when creating an alert from slo details page
  x-pack/plugins/observability/public/pages/slo_details/components/header_control.tsx
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#153807 [Security Solution] add expandable flyout investigation section
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/expandable_flyout/alert_details_left_panel.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/expandable_flyout/alert_details_right_panel_overview_tab.cy.ts
  x-pack/plugins/security_solution/cypress/screens/document_expandable_flyout.ts
  x-pack/plugins/security_solution/cypress/tasks/document_expandable_flyout.ts
  x-pack/plugins/security_solution/public/flyout/right/components/highlighted_fields.stories.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/highlighted_fields.test.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/highlighted_fields.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/investigation_section.stories.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/investigation_section.test.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/investigation_section.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/test_ids.ts
  x-pack/plugins/security_solution/public/flyout/right/components/translations.ts
  x-pack/plugins/security_solution/public/flyout/right/tabs/overview_tab.tsx
Labels: Team:Threat Hunting, release_note:feature, Team:Threat Hunting:Investigations, v8.8.0

#153954 [AO] Metric threshold alert details - custom time range and alert start annotation
  .github/CODEOWNERS
  .i18nrc.json
  package.json
  tsconfig.base.json
  x-pack/packages/observability/alert_details/README.md
  x-pack/packages/observability/alert_details/index.ts
  x-pack/packages/observability/alert_details/jest.config.js
  x-pack/packages/observability/alert_details/kibana.jsonc
  x-pack/packages/observability/alert_details/package.json
  x-pack/packages/observability/alert_details/src/components/alert_annotation.tsx
  x-pack/packages/observability/alert_details/src/helpers/get_alert_time_range.test.ts
  x-pack/packages/observability/alert_details/src/helpers/get_alert_time_range.ts
  x-pack/packages/observability/alert_details/tsconfig.json
  x-pack/plugins/infra/public/alerting/metric_threshold/components/__snapshots__/alert_details_app_section.test.tsx.snap
  x-pack/plugins/infra/public/alerting/metric_threshold/components/alert_details_app_section.test.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/alert_details_app_section.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_chart.test.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/expression_chart.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/hooks/use_metrics_explorer_chart_data.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/mocks/metric_threshold_rule.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/types.ts
  x-pack/plugins/infra/tsconfig.json
  x-pack/test/functional/es_archives/observability/alerts/data.json.gz
  yarn.lock
Labels: release_note:skip, Team: Actionable Observability, feature:Alert Details Page

#154219 [AO] Add functional test for alert summary widget on alerts page.
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_summary_widget/alert_summary_widget.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_summary_widget/components/active_alert_counts.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_summary_widget/components/alert_summary_widget_compact.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_summary_widget/components/alert_summary_widget_full_size.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_summary_widget/components/all_alert_counts.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_summary_widget/components/constants.tsx
  x-pack/test/functional/services/observability/components/alert_summary_widget.ts
  x-pack/test/observability_functional/apps/observability/index.ts
  x-pack/test/observability_functional/apps/observability/pages/alerts/alert_summary_widget.ts
Labels: release_note:skip, Team: Actionable Observability

#154253 [Dashboard Usability] Change color of Unsaved changes badge to warning
  src/plugins/dashboard/public/dashboard_app/_dashboard_app_strings.ts
  src/plugins/dashboard/public/dashboard_app/top_nav/dashboard_top_nav.tsx
  src/plugins/navigation/public/top_nav_menu/top_nav_menu.tsx
Labels: Team:Presentation, release_note:skip, v8.8.0

#154346 [Snapshot & Restore] Add support for S3 onezone_ia
  x-pack/plugins/snapshot_restore/__jest__/client_integration/repository_add.test.ts
  x-pack/plugins/snapshot_restore/public/application/components/repository_form/type_settings/s3_settings.tsx
Labels: Team:Deployment Management, release_note:skip, Feature:Snapshot and Restore, backport:skip, v8.8.0

#154171 [ML] Add better support for counter fields in Transform
  x-pack/packages/ml/agg_utils/index.ts
  x-pack/packages/ml/agg_utils/src/time_series_metric_fields.ts
  x-pack/packages/ml/agg_utils/tsconfig.json
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/hooks/use_data_visualizer_grid_data.ts
  x-pack/plugins/ml/public/application/components/data_grid/common.ts
  x-pack/plugins/ml/server/models/job_service/new_job_caps/field_service.ts
  x-pack/plugins/transform/public/app/common/pivot_aggs.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/get_pivot_dropdown_options.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/common/types.ts
  x-pack/plugins/transform/public/app/sections/create_transform/components/step_define/hooks/use_latest_function_config.ts
Labels: release_note:enhancement, :ml, Feature:Transforms, v8.8.0

#154087 [unified search] fix Changing label of a geospatial filter on causes filter disappear from map
  src/plugins/unified_search/public/filter_bar/filter_editor/filter_editor.tsx
Labels: release_note:fix, Team:Presentation, Team:Visualizations, Feature:Unified search, v8.8.0

#154076 [Response Ops][Alerting] Enable framework alerts as data by default
  packages/kbn-securitysolution-es-utils/src/delete_all_index/index.ts
  x-pack/plugins/alerting/server/config.test.ts
  x-pack/plugins/alerting/server/config.ts
  x-pack/plugins/security_solution/cypress/e2e/data_sources/sourcerer.cy.ts
  x-pack/plugins/security_solution/cypress/tasks/sourcerer.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/index/delete_index_route.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/alerting/alerts.ts
  x-pack/test/api_integration/apis/maps/maps_telemetry.ts
  x-pack/test/apm_api_integration/tests/alerts/error_count_threshold.spec.ts
  x-pack/test/apm_api_integration/tests/service_groups/service_group_count/service_group_count.spec.ts
  x-pack/test/apm_api_integration/tests/services/service_alerts.spec.ts
  x-pack/test/detection_engine_api_integration/basic/tests/query_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/finalize_signals_migrations.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/get_signals_migration_status.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/rule_execution_logic/index.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/rule_execution_logic/query.ts
  x-pack/test/functional/es_archives/rule_registry/alerts/data.json
  x-pack/test/functional/es_archives/rule_registry/alerts/mappings.json
  x-pack/test/functional/es_archives/security_solution/alerts/8.1.0/mappings.json.gz
  x-pack/test/functional/es_archives/session_view/alerts/mappings.json
  x-pack/test/rule_registry/security_and_spaces/tests/basic/get_browser_fields_by_feature_id.ts
  x-pack/test/rule_registry/spaces_only/tests/basic/bootstrap.ts
  x-pack/test/rule_registry/spaces_only/tests/basic/index.ts
  x-pack/test/rule_registry/spaces_only/tests/trial/create_rule.ts
Labels: Team:APM, Feature:Alerting, release_note:skip, Team:ResponseOps, Feature:Alerting/Alerts-as-Data, v8.8.0

#154385 [Canvas] Fix image upload component not loading for image elements
  src/plugins/presentation_util/common/index.ts
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
Labels: release_note:fix, Team:Presentation, loe:hours, impact:high, Feature:Canvas, v8.8.0, v8.7.1

#154393 [8.7] [Canvas] Fix image upload component not loading for image elements (#154385)
  src/plugins/presentation_util/common/index.ts
  x-pack/plugins/canvas/canvas_plugin_src/uis/arguments/image_upload/index.js
Labels: backport

#154195 [ML inference] Change ML pipeline body generator to work with field mappings
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.test.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.8.0

#151830 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#154314 Added C++ agent icon
  x-pack/plugins/apm/common/__snapshots__/apm_telemetry.test.ts.snap
  x-pack/plugins/apm/common/agent_name.ts
  x-pack/plugins/apm/public/components/shared/agent_icon/get_agent_icon.test.ts
  x-pack/plugins/apm/public/components/shared/agent_icon/get_agent_icon.ts
  x-pack/plugins/apm/public/components/shared/agent_icon/icons/cpp.svg
  x-pack/plugins/apm/public/components/shared/agent_icon/icons/cpp_dark.svg
  x-pack/plugins/apm/public/components/shared/agent_icon/icons/erlang_dark.svg
  x-pack/plugins/apm/server/lib/apm_telemetry/schema.ts
  x-pack/plugins/apm/server/routes/agent_explorer/get_agent_url_repository.ts
  x-pack/plugins/apm/typings/es_schemas/ui/fields/agent.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: Team:APM, release_note:skip, backport:skip

#154411 SO migration: recognize `document_parsing_exception` as incompatible mapping exceptions
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/es_errors.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/es_errors.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/actions/actions.test.ts
Labels: Team:Core, release_note:skip, Feature:Migrations, v8.8.0

#153211 [CM] Event Stream service
  package.json
  packages/kbn-es-query/src/kuery/node_types/node_builder.test.ts
  packages/kbn-es-query/src/kuery/node_types/node_builder.ts
  src/plugins/bfetch/common/buffer/item_buffer.ts
  src/plugins/bfetch/common/buffer/timed_item_buffer.ts
  src/plugins/content_management/README.md
  src/plugins/content_management/jest.integration.config.js
  src/plugins/content_management/server/core/core.test.ts
  src/plugins/content_management/server/core/core.ts
  src/plugins/content_management/server/event_stream/README.md
  src/plugins/content_management/server/event_stream/es/es_event_stream_client.ts
  src/plugins/content_management/server/event_stream/es/es_event_stream_client_factory.ts
  src/plugins/content_management/server/event_stream/es/es_event_stream_names.ts
  src/plugins/content_management/server/event_stream/es/index.ts
  src/plugins/content_management/server/event_stream/es/init/es_event_stream_initializer.ts
  src/plugins/content_management/server/event_stream/es/init/index_template.ts
  src/plugins/content_management/server/event_stream/es/init/mappings.ts
  src/plugins/content_management/server/event_stream/es/integration_tests/es_event_stream_client.test.ts
  src/plugins/content_management/server/event_stream/es/types.ts
  src/plugins/content_management/server/event_stream/es/util.ts
  src/plugins/content_management/server/event_stream/event_stream_service.test.ts
  src/plugins/content_management/server/event_stream/event_stream_service.ts
  src/plugins/content_management/server/event_stream/index.ts
  src/plugins/content_management/server/event_stream/memory/index.ts
  src/plugins/content_management/server/event_stream/memory/memory_event_stream_client.test.ts
  src/plugins/content_management/server/event_stream/memory/memory_event_stream_client.ts
  src/plugins/content_management/server/event_stream/memory/memory_event_stream_client_factory.ts
  src/plugins/content_management/server/event_stream/memory/util.ts
  src/plugins/content_management/server/event_stream/tests/event_stream_logger_mock.ts
  src/plugins/content_management/server/event_stream/tests/setup_event_stream_service.ts
  src/plugins/content_management/server/event_stream/tests/test_event_stream_client.ts
  src/plugins/content_management/server/event_stream/tests/util.ts
  src/plugins/content_management/server/event_stream/types.ts
  src/plugins/content_management/server/event_stream/validation.ts
  src/plugins/content_management/server/plugin.test.ts
  src/plugins/content_management/server/plugin.ts
  src/plugins/content_management/tsconfig.json
Labels: review, Feature:ExpressionLanguage, release_note:skip, Team:SharedUX, Feature:Content Management, v8.8.0

#154408 Set last_sync_scheduled_at when create a connector
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/update_connector_scheduling.test.ts
  x-pack/plugins/enterprise_search/server/lib/crawler/post_connector.test.ts
  x-pack/plugins/enterprise_search/server/utils/create_connector_document.test.ts
  x-pack/plugins/enterprise_search/server/utils/create_connector_document.ts
Labels: release_note:skip, backport:skip, v8.8.0

#154242 Fix stale submit handler ref update
  src/plugins/unified_search/public/search_bar/create_search_bar.tsx
Labels: release_note:fix, backport:skip, v8.8.0

#152842 [Lens] Introduce ability to prevent default behaviour from action callback
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/readme.md
Labels: release_note:enhancement, Team:Visualizations, Feature:Lens, v8.8.0

#154216 [Unified search] Fixes wrong negation label on the filter builder
  src/plugins/unified_search/public/filter_bar/filter_editor/filter_editor.tsx
  test/functional/apps/context/_filters.ts
  test/functional/services/filter_bar.ts
Labels: Team:Visualizations, release_note:skip, backport:skip, Feature:Unified search, v8.8.0

#154413 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#154340 [SecuritySolution] Fix users events' query
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/common/__snapshots__/event.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/common/event.test.ts
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/users/__snapshots__/kpi_total_users_area.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/users/__snapshots__/kpi_total_users_metric.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/users/__snapshots__/kpi_user_authentication_metric_failure.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/users/__snapshots__/kpi_user_authentications_area.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/users/__snapshots__/kpi_user_authentications_bar.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_attributes/users/__snapshots__/kpi_user_authentications_metric_success.test.ts.snap
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/types.ts
  x-pack/plugins/security_solution/public/common/components/visualization_actions/use_lens_attributes.test.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/use_lens_attributes.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/utils.ts
  x-pack/plugins/security_solution/public/explore/hosts/pages/hosts.tsx
  x-pack/plugins/security_solution/public/explore/hosts/pages/hosts_tabs.tsx
  x-pack/plugins/security_solution/public/explore/hosts/pages/navigation/sessions_tab_body.tsx
  x-pack/plugins/security_solution/public/overview/components/event_counts/index.tsx
Labels: bug, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.8.0, Feature:Users, Feature:Lens Charts

#139849 [Fleet] Action APM tracing
  x-pack/plugins/fleet/common/types/models/agent.ts
  x-pack/plugins/fleet/server/services/agents/actions.ts
Labels: release_note:skip, Team:Fleet, v8.8.0

#153036 [Defend Workflows] Automated response actions results
  x-pack/plugins/osquery/public/actions/actions_table.tsx
  x-pack/plugins/osquery/public/actions/use_all_live_queries.ts
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_action_generator.ts
  x-pack/plugins/security_solution/common/endpoint/schema/actions.test.ts
  x-pack/plugins/security_solution/common/endpoint/schema/actions.ts
  x-pack/plugins/security_solution/common/endpoint/types/actions.ts
  x-pack/plugins/security_solution/public/common/components/event_details/endpoint_response_actions_tab.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/event_details.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/osquery_tab.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/translations.ts
  x-pack/plugins/security_solution/public/common/components/event_details/types.ts
  x-pack/plugins/security_solution/public/common/lib/kibana/kibana_react.mock.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_filters.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_table.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_with_rule_toggle.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/use_action_history_url_params.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/translations.tsx
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_endpoint_action_list.test.ts
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_endpoint_action_list.ts
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/index.test.tsx
  x-pack/plugins/security_solution/public/types.ts
  x-pack/plugins/security_solution/scripts/endpoint/agent_emulator/services/action_responder.ts
  x-pack/plugins/security_solution/scripts/endpoint/agent_emulator/services/endpoint_response_actions.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/list_handler.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/list_handler.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/action_list.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/create/index.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/utils.ts
  x-pack/plugins/security_solution/server/endpoint/utils/action_list_helpers.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_context.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_preview/api/preview_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/endpoint_response_action.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/osquery_response_action.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/schedule_notification_response_actions.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/schedule_notification_response_actions.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/query/create_query_alert_type.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/query/create_query_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/query/query.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/types.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/request_context_factory.ts
  x-pack/plugins/security_solution/server/types.ts
Labels: Team:Defend Workflows, release_note:feature, v8.8.0

#152184 [8.7] [Fleet] Allow viewing package verification status with "integrations: all" permissions (#152130)
  x-pack/plugins/fleet/common/constants/routes.ts
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/entrypoint.yaml
  x-pack/plugins/fleet/common/openapi/paths/epm@verification_key_id.yaml
  x-pack/plugins/fleet/common/services/routes.ts
  x-pack/plugins/fleet/common/types/rest_spec/epm.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/overview.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/installed_packages.tsx
  x-pack/plugins/fleet/public/hooks/use_fleet_status.tsx
  x-pack/plugins/fleet/public/hooks/use_request/epm.ts
  x-pack/plugins/fleet/public/types/index.ts
  x-pack/plugins/fleet/server/routes/epm/handlers.ts
  x-pack/plugins/fleet/server/routes/epm/index.ts
  x-pack/test/fleet_api_integration/apis/epm/index.js
  x-pack/test/fleet_api_integration/apis/epm/verification_key_id.ts
Labels: backport, Team:Fleet

#154419 [Observability overview] Fix ux app has data section
  x-pack/plugins/ux/public/components/app/rum_dashboard/rum_home.tsx
  x-pack/plugins/ux/public/components/app/rum_dashboard/ux_overview_fetchers.ts
  x-pack/plugins/ux/public/services/data/core_web_vitals_query.ts
  x-pack/plugins/ux/public/services/data/has_rum_data_query.ts
Labels: release_note:fix, Team:uptime, v8.7.0, v8.8.0

#154007 [ML] Expose Transform capabilities to Kibana's core.capabilities
  x-pack/plugins/transform/common/privilege/has_privilege_factory.test.ts
  x-pack/plugins/transform/common/privilege/has_privilege_factory.ts
  x-pack/plugins/transform/public/app/lib/authorization/components/authorization_provider.tsx
  x-pack/plugins/transform/public/app/lib/authorization/components/index.ts
  x-pack/plugins/transform/public/app/lib/authorization/components/with_privileges.tsx
  x-pack/plugins/transform/server/capabilities.ts
  x-pack/plugins/transform/server/plugin.ts
  x-pack/plugins/transform/server/routes/api/privileges.ts
  x-pack/plugins/transform/server/types.ts
  x-pack/plugins/transform/tsconfig.json
Labels: :ml, release_note:skip, Feature:Transforms, v8.8.0

#154398 [Canvas] Fix `createElement` callback
  x-pack/plugins/canvas/public/components/workpad_header/workpad_header.component.tsx
Labels: bug, release_note:fix, Team:Presentation, loe:hours, v8.0.0, impact:high, Feature:Canvas

#154082 [Enterprise Search] Start syncs with new sync jobs
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/sync_jobs/sync_job_flyout.tsx
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.8.0

#154463 [8.7] [Observability overview] Fix ux app has data section (#154419)
  x-pack/plugins/ux/public/components/app/rum_dashboard/rum_home.tsx
  x-pack/plugins/ux/public/components/app/rum_dashboard/ux_overview_fetchers.ts
  x-pack/plugins/ux/public/services/data/core_web_vitals_query.ts
  x-pack/plugins/ux/public/services/data/has_rum_data_query.ts
Labels: backport, Team:uptime

#154461 [8.7][DOCS] Changes a link in release notes that points to a PR
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip, docs, v8.7.0

#154004 [Dashboard] [Controls] Improve async controls flyout behaviour
  src/plugins/controls/public/control_group/editor/control_editor.tsx
  src/plugins/controls/public/control_group/editor/data_control_editor_tools.ts
  src/plugins/controls/public/options_list/embeddable/options_list_embeddable_factory.tsx
  src/plugins/controls/public/range_slider/embeddable/range_slider_embeddable_factory.tsx
  src/plugins/controls/public/types.ts
  src/plugins/presentation_util/public/components/data_view_picker/data_view_picker.tsx
  src/plugins/presentation_util/public/components/field_picker/field_picker.scss
  src/plugins/presentation_util/public/components/field_picker/field_picker.tsx
  src/plugins/presentation_util/public/components/field_picker/field_type_filter.tsx
Labels: Feature:Dashboard, release_note:fix, Feature:Input Control, Team:Presentation, loe:days, impact:high, backport:prev-minor, v8.8.0

#154008 [DOCS] How to duplicate a search
  docs/discover/save-search.asciidoc
Labels: Team:Docs, release_note:skip, v8.8.0

#154440 [AO] Add alert time range annotation for metric threshold
  x-pack/packages/observability/alert_details/index.ts
  x-pack/packages/observability/alert_details/src/components/alert_active_time_range_annotation.tsx
  x-pack/packages/observability/alert_details/src/components/alert_annotation.tsx
  x-pack/packages/observability/alert_details/src/helpers/get_padded_alert_time_range.test.ts
  x-pack/packages/observability/alert_details/src/helpers/get_padded_alert_time_range.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/components/__snapshots__/alert_details_app_section.test.tsx.snap
  x-pack/plugins/infra/public/alerting/metric_threshold/components/alert_details_app_section.test.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/components/alert_details_app_section.tsx
Labels: release_note:skip, Team: Actionable Observability, feature:Alert Details Page

#154504 [Cloud Posture] add rule number column sort in findings table
  x-pack/plugins/cloud_security_posture/public/pages/configurations/layout/findings_layout.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.8.0

#152160 [Unified Histogram] Convert Unified Histogram to getCreationOptions pattern
  src/plugins/discover/public/application/main/components/layout/discover_histogram_layout.tsx
  src/plugins/discover/public/application/main/components/layout/use_discover_histogram.test.tsx
  src/plugins/discover/public/application/main/components/layout/use_discover_histogram.ts
  src/plugins/unified_histogram/README.md
  src/plugins/unified_histogram/public/chart/chart.tsx
  src/plugins/unified_histogram/public/chart/hooks/use_edit_visualization.test.ts
  src/plugins/unified_histogram/public/chart/hooks/use_edit_visualization.ts
  src/plugins/unified_histogram/public/container/container.test.tsx
  src/plugins/unified_histogram/public/container/container.tsx
  src/plugins/unified_histogram/public/container/hooks/use_state_props.test.ts
  src/plugins/unified_histogram/public/container/hooks/use_state_props.ts
  src/plugins/unified_histogram/public/container/index.tsx
  src/plugins/unified_histogram/public/container/services/state_service.test.ts
  src/plugins/unified_histogram/public/container/services/state_service.ts
  src/plugins/unified_histogram/public/container/utils/state_selectors.ts
  src/plugins/unified_histogram/public/index.ts
  src/plugins/unified_histogram/public/layout/layout.tsx
  src/plugins/unified_histogram/public/mocks.ts
Labels: refactoring, release_note:skip, Team:DataDiscovery, Feature:UnifiedHistogram

#153972 [RAM] Initial fix for snooze timezone bug
  x-pack/plugins/alerting/server/lib/is_rule_snoozed.test.ts
  x-pack/plugins/alerting/server/lib/snooze/index.ts
  x-pack/plugins/alerting/server/lib/snooze/is_snooze_active.test.ts
  x-pack/plugins/alerting/server/lib/snooze/is_snooze_active.ts
  x-pack/plugins/alerting/server/lib/snooze/timezone_helpers.ts
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.8.0

#154114 [Security Solution] expanded flyout using dynamic width
  packages/kbn-expandable-flyout/README.md
  packages/kbn-expandable-flyout/src/components/left_section.tsx
  packages/kbn-expandable-flyout/src/components/preview_section.tsx
  packages/kbn-expandable-flyout/src/components/right_section.tsx
  packages/kbn-expandable-flyout/src/index.test.tsx
  packages/kbn-expandable-flyout/src/index.tsx
  packages/kbn-expandable-flyout/src/types.ts
  x-pack/plugins/security_solution/public/flyout/index.tsx
  x-pack/plugins/security_solution/public/flyout/right/components/description.stories.tsx
Labels: Team:Threat Hunting, release_note:feature, Team:Threat Hunting:Investigations, v8.8.0

#154308 [Discover] Unskip flaky alerts tests
  test/functional/services/filter_bar.ts
  x-pack/test/functional_with_es_ssl/apps/discover_ml_uptime/discover/search_source_alert.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#154319 [UnifiedFieldList] Skip requests for time series metric counter field
  src/plugins/unified_field_list/common/utils/field_stats_utils.ts
Labels: release_note:fix, backport:skip, Team:DataDiscovery, Feature:UnifiedFieldList

#154467 [Enterprise Search] Add ingestion name column to indices page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_indices/indices_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_indices/search_indices.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.8.0

#154420 [Upgrade Assistant] Fix watermark calculation
  x-pack/plugins/upgrade_assistant/server/routes/node_disk_space.test.ts
  x-pack/plugins/upgrade_assistant/server/routes/node_disk_space.ts
Labels: Team:Deployment Management, release_note:skip, Feature:Upgrade Assistant, backport:skip, v8.8.0

#154462 [Guided onboarding] Fix the value of `data-test-subj` for telemetry
  src/plugins/home/public/application/components/guided_onboarding/getting_started.tsx
  test/functional/page_objects/home_page.ts
Labels: release_note:skip, Team:Journey/Onboarding, v8.8.0, v8.7.1

#153730 [asset_manager] Add /assets/diff endpoint
  x-pack/plugins/asset_manager/docs/index.md
  x-pack/plugins/asset_manager/server/routes/assets.ts
  x-pack/test/api_integration/apis/asset_manager/tests/assets.ts
Labels: release_note:skip, Team:Observability Topology, Feature:Asset Manager

#154528 [8.7] [Discover] Unskip flaky alerts tests (#154308)
  test/functional/services/filter_bar.ts
Labels: backport

#154432 [Cases] Deleting file attachments from a case
  x-pack/plugins/cases/public/components/files/add_file.test.tsx
  x-pack/plugins/cases/public/components/files/add_file.tsx
  x-pack/plugins/cases/public/components/files/file_delete_button_icon.test.tsx
  x-pack/plugins/cases/public/components/files/file_delete_button_icon.tsx
  x-pack/plugins/cases/public/components/files/file_type.test.tsx
  x-pack/plugins/cases/public/components/files/file_type.tsx
  x-pack/plugins/cases/public/components/files/files_table.test.tsx
  x-pack/plugins/cases/public/components/files/files_table.tsx
  x-pack/plugins/cases/public/components/files/translations.tsx
  x-pack/plugins/cases/public/components/files/use_files_table_columns.test.tsx
  x-pack/plugins/cases/public/components/files/use_files_table_columns.tsx
  x-pack/plugins/cases/public/components/user_actions/content_toolbar.tsx
  x-pack/plugins/cases/public/containers/__mocks__/api.ts
  x-pack/plugins/cases/public/containers/api.test.tsx
  x-pack/plugins/cases/public/containers/api.ts
  x-pack/plugins/cases/public/containers/constants.ts
  x-pack/plugins/cases/public/containers/translations.ts
  x-pack/plugins/cases/public/containers/use_delete_file_attachment.test.tsx
  x-pack/plugins/cases/public/containers/use_delete_file_attachment.tsx
  x-pack/plugins/cases/public/containers/use_get_case_file_stats.test.tsx
  x-pack/plugins/cases/public/containers/use_get_case_file_stats.tsx
  x-pack/plugins/cases/public/containers/use_get_case_files.test.tsx
  x-pack/plugins/cases/public/containers/use_get_case_files.tsx
Labels: enhancement, Team:ResponseOps, Feature:Cases, v8.8.0

#154540 [asset_manager] Fix linting after bad merge
  x-pack/plugins/asset_manager/server/routes/assets.ts
Labels: release_note:skip, Team:Observability Topology, Feature:Asset Manager

#154409 Fix SO management fulltext search
  src/core/server/integration_tests/saved_objects/migrations/group2/check_registered_types.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/default_search_fields.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/type_registrations.test.ts
  x-pack/plugins/observability/server/saved_objects/slo.ts
Labels: Team:Core, release_note:skip, Feature:Saved Objects Management, v8.8.0

#154521 [Defend Workflows] Disable automated response actions experimental feature
  x-pack/plugins/security_solution/common/experimental_features.ts
Labels: release_note:skip, Team:Defend Workflows, v8.8.0

#154508 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#154446 Make sure test kit migrators are run only once
  src/core/server/integration_tests/saved_objects/migrations/group3/skip_reindex.test.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.ts
Labels: bug, Team:Core, release_note:skip, test-failure-flaky, backport:skip, Feature:Migrations, v8.8.0

#154550 [AO] Fix annotation key
  x-pack/plugins/infra/public/alerting/metric_threshold/components/alert_details_app_section.tsx
Labels: chore, release_note:skip, Team: Actionable Observability, feature:Alert Details Page

#154450 [Cases] Attachment framework improvements
  x-pack/plugins/cases/public/client/attachment_framework/types.ts
  x-pack/plugins/cases/public/components/user_actions/comment/comment.test.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/comment.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/registered_attachments.tsx
  x-pack/plugins/cases/public/components/user_actions/content_toolbar.tsx
  x-pack/plugins/cases/public/components/user_actions/property_actions/registered_attachments_property_actions.test.tsx
  x-pack/plugins/cases/public/components/user_actions/property_actions/registered_attachments_property_actions.tsx
  x-pack/test/functional_with_es_ssl/apps/cases/group2/attachment_framework.ts
  x-pack/test/functional_with_es_ssl/plugins/cases/public/attachments/external_reference.tsx
  x-pack/test/functional_with_es_ssl/plugins/cases/public/attachments/persistable_state.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.8.0

#154366 feat(slo): Add active alerts badge in slo details page
  x-pack/plugins/observability/public/components/slo/slo_status_badge/slo_active_alerts_badge.stories.tsx
  x-pack/plugins/observability/public/components/slo/slo_status_badge/slo_active_alerts_badge.tsx
  x-pack/plugins/observability/public/components/slo/slo_status_badge/slo_status_badge.stories.tsx
  x-pack/plugins/observability/public/components/slo/slo_status_badge/slo_status_badge.tsx
  x-pack/plugins/observability/public/pages/slo_details/components/header_title.tsx
  x-pack/plugins/observability/public/pages/slo_details/slo_details.test.tsx
  x-pack/plugins/observability/public/pages/slos/components/badges/slo_badges.tsx
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#154546 [Fleet] Fix pipelines and mapping editor not showing for integration packages
  x-pack/plugins/fleet/cypress/e2e/package_policy_pipelines_and_mappings_real.cy.ts
  x-pack/plugins/fleet/cypress/e2e/package_policy_real.cy.ts
  x-pack/plugins/fleet/cypress/packages/logs_int_no_dataset-1.0.0.zip
  x-pack/plugins/fleet/cypress/packages/logs_integration-1.0.0.zip
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/datastream_hooks.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_stream.tsx
Labels: release_note:skip, Team:Fleet

#154464 [Content Management] Cross Type Search (`savedObjects.find()` based)
  examples/content_management_examples/public/examples/todos/stories/todo.stories.tsx
  src/plugins/content_management/common/index.ts
  src/plugins/content_management/common/rpc/constants.ts
  src/plugins/content_management/common/rpc/index.ts
  src/plugins/content_management/common/rpc/msearch.ts
  src/plugins/content_management/common/rpc/rpc.ts
  src/plugins/content_management/common/rpc/search.ts
  src/plugins/content_management/public/content_client/content_client.test.ts
  src/plugins/content_management/public/content_client/content_client.tsx
  src/plugins/content_management/public/crud_client/crud_client.mock.ts
  src/plugins/content_management/public/crud_client/crud_client.ts
  src/plugins/content_management/public/plugin.ts
  src/plugins/content_management/public/rpc_client/rpc_client.test.ts
  src/plugins/content_management/public/rpc_client/rpc_client.ts
  src/plugins/content_management/server/core/msearch.test.ts
  src/plugins/content_management/server/core/msearch.ts
  src/plugins/content_management/server/core/types.ts
  src/plugins/content_management/server/plugin.test.ts
  src/plugins/content_management/server/rpc/procedures/all_procedures.ts
  src/plugins/content_management/server/rpc/procedures/msearch.test.ts
  src/plugins/content_management/server/rpc/procedures/msearch.ts
  src/plugins/content_management/server/rpc/routes/routes.ts
  src/plugins/content_management/server/rpc/types.ts
  src/plugins/content_management/tsconfig.json
Labels: release_note:skip, Team:SharedUX, Feature:Content Management

#154563 [Fleet] Enable agent policy "Host name format" selector by default
  x-pack/plugins/fleet/common/experimental_features.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
Labels: release_note:enhancement, Team:Fleet, v8.8.0, v8.7.1

#154474 [maps] unskip Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/group4/lens/choropleth_chart·ts
  test/functional/services/combo_box.ts
  x-pack/plugins/maps/public/components/ems_file_select.tsx
  x-pack/test/functional/apps/maps/group4/lens/choropleth_chart.ts
  x-pack/test/functional/page_objects/gis_page.ts
Labels: Team:Presentation, release_note:skip, backport:skip, Feature:Maps, v8.8.0

#154016 [Discover] [Saved Search] Cleanup saved search mappings
  src/core/server/integration_tests/saved_objects/migrations/group2/check_registered_types.test.ts
  src/plugins/saved_search/common/types.ts
  src/plugins/saved_search/public/services/saved_searches/saved_searches_utils.ts
  src/plugins/saved_search/server/saved_objects/search.ts
  src/plugins/saved_search/tsconfig.json
  x-pack/test/api_integration/apis/security/index_fields.ts
Labels: chore, Feature:Discover, release_note:skip, backport:skip, Team:DataDiscovery, v8.8.0

#153562 fix(NA): external plugins development flow with the new modern package plugins in place
  docs/developer/plugin/plugin-tooling.asciidoc
  packages/kbn-optimizer/src/common/bundle.ts
  packages/kbn-plugin-discovery/tsconfig.json
  packages/kbn-plugin-generator/README.md
  packages/kbn-plugin-generator/template/.eslintrc.js.ejs
  packages/kbn-plugin-generator/template/README.md.ejs
  packages/kbn-plugin-generator/template/package.json.ejs
  packages/kbn-plugin-helpers/README.md
  packages/kbn-plugin-helpers/src/cli.ts
  packages/kbn-plugin-helpers/src/integration_tests/build.test.ts
  packages/kbn-plugin-helpers/src/task_context.ts
  packages/kbn-plugin-helpers/src/tasks/clean.ts
  packages/kbn-plugin-helpers/src/tasks/create_archive.ts
  packages/kbn-plugin-helpers/src/tasks/optimize.ts
  packages/kbn-plugin-helpers/src/tasks/optimize_worker.ts
  packages/kbn-plugin-helpers/src/tasks/write_public_assets.ts
  packages/kbn-plugin-helpers/src/tasks/write_server_files.ts
  packages/kbn-plugin-helpers/src/tasks/yarn_install.ts
Labels: chore, Team:Operations, skipped-test, release_note:skip, backport:skip, v8.8.0

#154565 Bump nth-check to 2.0.1
  yarn.lock
Labels: chore, Team:Security, release_note:skip, backport:prev-MAJOR

#154502 [Cloud Posture]Added counter on Rules table
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_table_header.tsx
Labels: release_note:skip, Team:Cloud Security, v8.8.0

#148800 [Security Solution][Timeline] - Store flyout information in the url
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/alerts_details.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/navigation.cy.ts
  x-pack/plugins/security_solution/cypress/screens/alerts_details.ts
  x-pack/plugins/security_solution/public/common/hooks/flyout/types.ts
  x-pack/plugins/security_solution/public/common/hooks/flyout/use_init_flyout_url_param.ts
  x-pack/plugins/security_solution/public/common/hooks/flyout/use_sync_flyout_url_param.ts
  x-pack/plugins/security_solution/public/common/hooks/use_url_state.ts
  x-pack/plugins/security_solution/public/detections/pages/alerts/alert_details_redirect.tsx
  x-pack/plugins/security_solution/public/detections/pages/alerts/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/expandable_event.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/header.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/translations.ts
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/use_get_alert_details_flyout_link.ts
  x-pack/plugins/security_solution/public/timelines/components/side_panel/index.test.tsx
Labels: release_note:enhancement, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Investigations, ci:cloud-deploy, 8.8 candidate, v8.8.0

#154248 Add March 2023 Newsletter link
  nav-kibana-dev.docnav.json
Labels: release_note:skip, docs

#154576 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#154110 [Fleet] Fail build on unable to retrieve agent versions list
  src/dev/build/tasks/fetch_agent_versions_list.ts
Labels: chore, release_note:skip, Team:Fleet, backport:all-open

#154591 [8.7] Bump nth-check to 2.0.1 (#154565)
  yarn.lock
Labels: backport

#154592 [8.7] [Fleet] Enable Host name format selector by default + remove FQDN feature flag references (#154563)
  x-pack/plugins/fleet/common/experimental_features.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
Labels: backport, Team:Fleet

#154391 [Canvas] Restore enabled config in dev
  x-pack/plugins/canvas/server/config.test.ts
  x-pack/plugins/canvas/server/config.ts
  x-pack/plugins/canvas/server/index.ts
  x-pack/plugins/canvas/server/plugin.ts
Labels: Team:Presentation, loe:days, release_note:skip, impact:high, Feature:Canvas, v8.8.0, Project:Serverless MVP

#154577 [ML Inference] Change fieldMappings type to array
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.test.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.8.0

#154293 [Dashboard] [Controls] Fix inherited input race condition
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  x-pack/test/functional/apps/dashboard/group3/drilldowns/dashboard_to_dashboard_drilldown.ts
Labels: Feature:Dashboard, release_note:fix, Feature:Input Control, Team:Presentation, loe:days, impact:critical

#154608 [8.7] [Fleet] Fail build on unable to retrieve agent versions list (#154110)
  src/dev/build/tasks/fetch_agent_versions_list.ts
Labels: backport

#154333 [Cloud Security] Fix dash location in cloud security posture dashboard
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/compliance_charts/cloud_posture_score_chart.tsx
Labels: release_note:skip, Team:Cloud Security, v8.8.0

#154518 [Cloud Security] Update Failed dot and Distribution bar color to match failed badge color
  x-pack/plugins/cloud_security_posture/public/pages/configurations/layout/findings_distribution_bar.tsx
Labels: release_note:skip, Team:Cloud Security, v8.8.0

#154507 [Cloud Posture] reduce column width to see rule name
  x-pack/plugins/cloud_security_posture/public/pages/configurations/layout/findings_layout.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.8.0

#154506 [Cloud Posture] add hover to posture score cells
  x-pack/plugins/cloud_security_posture/public/components/compliance_score_bar.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings_by_resource/findings_by_resource_table.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.8.0

#154519 [TSVB] Fix flaky test
  x-pack/test/functional/apps/lens/open_in_lens/tsvb/table.ts
Labels: Feature:TSVB, Team:Visualizations, failed-test, release_note:skip, backport:skip

#154453 [CM] Add content onboarding docs
  src/plugins/content_management/docs/content_onboarding.md
Labels: release_note:skip, docs, Team:SharedUX, Feature:Content Management

#154318 [Security Solution][Endpoint][Response Actions] Show shell info above `execute` action output
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_action_generator.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/execute_action_host_response.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/execute_action_host_response_output.tsx
  x-pack/plugins/security_solution/server/endpoint/services/actions/utils.test.ts
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.8.0

#154513 [Cloud Posture] Add Coming soon options for KSPM
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/assets/icons/cis_aks_logo.svg
  x-pack/plugins/cloud_security_posture/public/assets/icons/cis_gke_logo.svg
  x-pack/plugins/cloud_security_posture/public/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.test.tsx
Labels: release_note:skip, Team:Cloud Security, v8.8.0

#154466 [Enterprise Search] [Search application] Adding filter by field type to Schema Page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_schema.tsx
  x-pack/plugins/enterprise_search/tsconfig.json
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.8.0

#154609 Enterprise Search: remove search applications feature flag
  x-pack/plugins/enterprise_search/common/__mocks__/initial_app_data.ts
  x-pack/plugins/enterprise_search/common/constants.ts
  x-pack/plugins/enterprise_search/common/types/index.ts
  x-pack/plugins/enterprise_search/public/applications/__mocks__/kea_logic/kibana_logic.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engines/engines_router.tsx
  x-pack/plugins/enterprise_search/public/applications/index.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.tsx
  x-pack/plugins/enterprise_search/server/lib/check_access.test.ts
  x-pack/plugins/enterprise_search/server/lib/check_access.ts
  x-pack/plugins/enterprise_search/server/lib/enterprise_search_config_api.test.ts
  x-pack/plugins/enterprise_search/server/lib/enterprise_search_config_api.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.8.0

#154503 [RAM] Fix Delete Schedule button padding issue
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_snooze/scheduler.tsx
Labels: release_note:fix, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.8.0

#154460 [Fleet] Disable ILM policy in serverless
  config/serverless.yml
  x-pack/plugins/fleet/common/types/index.ts
  x-pack/plugins/fleet/server/config.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/default_settings.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.ts
Labels: release_note:skip, Team:Fleet, v8.8.0

#154094 Fix for k8s dashboard getting letterboxed when there is no data.
  x-pack/plugins/security_solution/public/common/utils/empty_view/use_show_pages_with_empty_view.tsx
Labels: bug, release_note:skip, v8.8.0

#154478 [Profling] Adding symbols callout on frame information window
  src/dev/storybook/aliases.ts
  x-pack/plugins/profiling/.storybook/jest_setup.js
  x-pack/plugins/profiling/.storybook/main.js
  x-pack/plugins/profiling/.storybook/preview.js
  x-pack/plugins/profiling/common/profiling.test.ts
  x-pack/plugins/profiling/common/profiling.ts
  x-pack/plugins/profiling/public/components/contexts/profiling_dependencies/mock_profiling_dependencies_storybook.tsx
  x-pack/plugins/profiling/public/components/frame_information_window/frame_information_tooltip.tsx
  x-pack/plugins/profiling/public/components/frame_information_window/index.tsx
  x-pack/plugins/profiling/public/components/frame_information_window/missing_symbols_callout.stories.tsx
  x-pack/plugins/profiling/public/components/frame_information_window/missing_symbols_callout.tsx
  x-pack/plugins/profiling/public/components/profiling_app_page_template/index.tsx
  x-pack/plugins/profiling/tsconfig.json
Labels: release_note:enhancement, v8.8.0

#154604 [Cloud Posture] Center Framework Sources icons centered
  x-pack/plugins/cloud_security_posture/public/pages/configurations/findings_flyout/findings_flyout.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.8.0

#154652 Upgrade chromedriver to 112.0.0
  package.json
  yarn.lock
Labels: Team:Operations, release_note:skip, backport:all-open

#154636 [Cloud Security] Added new Benchmark Error message component
  x-pack/plugins/cloud_security_posture/public/pages/benchmarks/benchmarks.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/benchmarks/benchmarks_table.tsx
Labels: release_note:skip, Team:Cloud Security, v8.8.0

#154671 [8.7] Upgrade chromedriver to 112.0.0 (#154652)
  package.json
  yarn.lock
Labels: backport

#154661 [Fleet] Loosen validation for experimental data stream features
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/services/epm/packages/update.ts
  x-pack/plugins/fleet/server/services/experimental_datastream_features_helper.ts
  x-pack/plugins/fleet/server/types/models/package_policy.ts
  x-pack/test/fleet_api_integration/apis/epm/data_stream.ts
Labels: release_note:skip, Team:Fleet, backport:prev-minor

#154662 [Security Solution] skip failing related_integrations e2e test
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/related_integrations.cy.ts
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Investigations, v8.8.0

#154681 [8.7] [Fleet] Loosen validation for experimental data stream features (#154661)
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/services/epm/packages/update.ts
  x-pack/plugins/fleet/server/services/experimental_datastream_features_helper.ts
  x-pack/plugins/fleet/server/types/models/package_policy.ts
  x-pack/test/fleet_api_integration/apis/epm/data_stream.ts
Labels: backport, Team:Fleet
