Repository elastic/kibana, pull requests merged in 2023-06, with the labels that each got.

#158716 [7.17][cli] Adjust CLI to treat extra options consistently (backport of #158257)
  src/cli/command.js
  src/cli/command.test.js
Labels: backport, release_note:fix

#158714 SO model versions: add validation for mapping additions
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/validate_migration.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/validate_migrations.ts
Labels: Team:Core, Feature:Saved Objects, release_note:skip, v8.9.0

#158721 [EventLog] Use performance.now() rather than Date.now() to calculate elapsed time in tests
  x-pack/plugins/event_log/server/es/init.test.ts
Labels: release_note:skip, Team:ResponseOps, v8.9.0

#158726 [ML] Increasing calendar events request limit
  x-pack/plugins/ml/server/models/calendar/calendar_manager.ts
  x-pack/plugins/ml/server/models/calendar/event_manager.ts
Labels: bug, release_note:fix, :ml, Feature:Anomaly Detection, v8.9.0, v8.8.1

#158640 Modify scheduling structure of Connector index
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.test.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.ts
Labels: release_note:skip, backport:skip, v8.9.0

#158799 improve TSDoc for model version types
  packages/core/saved-objects/core-saved-objects-server/index.ts
  packages/core/saved-objects/core-saved-objects-server/src/model_version/index.ts
  packages/core/saved-objects/core-saved-objects-server/src/model_version/model_change.ts
  packages/core/saved-objects/core-saved-objects-server/src/model_version/model_version.ts
  packages/core/saved-objects/core-saved-objects-server/src/model_version/schemas.ts
  packages/core/saved-objects/core-saved-objects-server/src/saved_objects_type.ts
Labels: Team:Core, release_note:skip, documentation, v8.9.0

#158752 [Infrastructure UI] Hosts View flaky test - Remove async from describe
  x-pack/test/functional/apps/infra/hosts_view.ts
Labels: Team:Infra Monitoring UI, release_note:skip, backport:prev-minor, Feature:ObsHosts, v8.9.0

#158623 [Discover] Enable expanded row view
  src/plugins/discover/public/application/doc/components/doc.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.scss
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_flyout.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_flyout.tsx
  src/plugins/discover/public/components/doc_table/components/table_row.test.tsx
  src/plugins/discover/public/components/doc_table/components/table_row.tsx
  src/plugins/discover/public/components/doc_table/components/table_row_details.tsx
  src/plugins/discover/public/components/doc_table/create_doc_table_embeddable.tsx
  src/plugins/discover/public/components/doc_table/doc_table_wrapper.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable_component.tsx
  src/plugins/discover/public/embeddable/saved_search_grid.tsx
  src/plugins/discover/public/hooks/use_es_doc_search.test.tsx
  src/plugins/discover/public/hooks/use_es_doc_search.ts
  src/plugins/discover/public/plugin.tsx
  src/plugins/discover/public/services/doc_views/components/doc_viewer_source/source.tsx
  src/plugins/discover/public/services/doc_views/doc_views_types.ts
  test/functional/apps/discover/group2/_sql_view.ts
Labels: Feature:Discover, release_note:skip, backport:skip, Team:DataDiscovery, v8.9.0

#158812 [8.8] [ML] Increasing calendar events request limit (#158726)
  x-pack/plugins/ml/server/models/calendar/calendar_manager.ts
  x-pack/plugins/ml/server/models/calendar/event_manager.ts
Labels: backport

#158814 [Serverless Search] Fix curl icon
  x-pack/plugins/serverless_search/public/application/components/languages/curl.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0

#158816 [8.8] [Infrastructure UI] Hosts View flaky test - Remove async from describe (#158752)
  x-pack/test/functional/apps/infra/hosts_view.ts
Labels: backport

#158742 [Response Ops][Alerting] Adding null checks when iterating through index template list
  x-pack/plugins/alerting/server/alerts_service/lib/create_or_update_component_template.test.ts
  x-pack/plugins/alerting/server/alerts_service/lib/create_or_update_component_template.ts
Labels: bug, release_note:fix, Feature:Alerting, Team:ResponseOps, v8.9.0, v8.8.1

#157129 [spacetime] Improve `scripts/build_api_docs` stats output speed.
  packages/kbn-docs-utils/src/build_api_docs_cli.ts
  packages/kbn-docs-utils/src/find_plugins.ts
  packages/kbn-docs-utils/tsconfig.json
Labels: release_note:skip

#155693 Refactor KibanaMigrator, improve readability, maintainability and UT
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/retry_call_cluster.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/index.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/src/constants.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_constants.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.fixtures.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.fixtures.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/saved_objects_service.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/active_delete_multiple_instances.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/dot_kibana_split.test.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.ts
Labels: Team:Core, enhancement, technical debt, release_note:skip, backport:skip, Feature:Migrations, v8.9.0

#158521 [DOC+] Move logging location reference
  docs/settings/logs-ui-settings.asciidoc
Labels: Team:Docs, enhancement, release_note:skip, docs

#158645 removing references to saved object client in lens and graph
  x-pack/plugins/graph/public/helpers/saved_objects_utils/save_with_confirmation.ts
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/dimension_panel.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/dimension_panel.tsx
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/reference_editor.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/reference_editor.tsx
  x-pack/plugins/lens/public/datasources/form_based/form_based.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/date_histogram.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/filters/filters.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/index.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/last_value.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/percentile.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/percentile_ranks.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/ranges/ranges.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/static_value.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/terms/terms.test.tsx
Labels: Team:Visualizations, release_note:skip, backport:skip, v8.9.0

#158806 [ML] Versioning AIOps APIs
  examples/response_stream/public/containers/app/pages/page_reducer_stream/index.tsx
  examples/response_stream/public/containers/app/pages/page_simple_string_stream/index.tsx
  examples/response_stream/server/routes/reducer_stream.ts
  examples/response_stream/server/routes/single_string_stream.ts
  x-pack/packages/ml/aiops_utils/src/fetch_stream.ts
  x-pack/packages/ml/aiops_utils/src/get_window_parameters.ts
  x-pack/packages/ml/aiops_utils/src/use_fetch_stream.ts
  x-pack/packages/ml/aiops_utils/tsconfig.json
  x-pack/plugins/aiops/common/api/index.ts
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_analysis.tsx
  x-pack/plugins/aiops/server/routes/explain_log_rate_spikes.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes_full_analysis.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes_groups_only.ts
  x-pack/test/api_integration/apis/aiops/explain_log_rate_spikes_no_index.ts
Labels: release_note:enhancement, non-issue, :ml, Feature:ML/AIOps, v8.9.0

#158771 [Docs] Add new Fleet preconfiguration settings
  docs/settings/fleet-settings.asciidoc
Labels: release_note:skip, Team:Fleet, v8.8.0

#158836 [8.8] [Docs] Add new Fleet preconfiguration settings (#158771)
  docs/settings/fleet-settings.asciidoc
Labels: backport

#158823 [Enterprise Search] Add "last_access_control_sync_scheduled_at" field to connector
  x-pack/plugins/enterprise_search/common/types/connectors.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.test.ts
  x-pack/plugins/enterprise_search/server/index_management/setup_indices.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/update_connector_scheduling.test.ts
  x-pack/plugins/enterprise_search/server/lib/crawler/post_connector.test.ts
  x-pack/plugins/enterprise_search/server/utils/create_connector_document.test.ts
  x-pack/plugins/enterprise_search/server/utils/create_connector_document.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.9.0

#158579 [DOCS] Telemetry in advanced settings
  docs/management/advanced-options.asciidoc
Labels: Team:Docs, release_note:skip, backport:skip

#158568 [ML] Reenable data visualizer tests
  x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer.ts
  x-pack/test/functional/services/ml/data_visualizer_index_based.ts
Labels: :ml, test_ui_functional, release_note:skip, backport:prev-minor, v8.9.0, v8.8.1

#158817 [SecuritySolution] Replace entity analytics paywall image
  x-pack/plugins/security_solution/public/common/images/entity_paywall.png
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.9.0

#158839 [8.8] [ML] Reenable data visualizer tests (#158568)
  x-pack/test/functional/apps/ml/data_visualizer/index_data_visualizer.ts
  x-pack/test/functional/services/ml/data_visualizer_index_based.ts
Labels: backport

#158764 Upgrade `proxy` to 2.1.1
  package.json
  x-pack/plugins/actions/server/integration_tests/axios_utils_connection.test.ts
  x-pack/plugins/actions/server/integration_tests/axios_utils_proxy.test.ts
  yarn.lock
Labels: Team:Security, release_note:skip, backport:prev-MAJOR

#158855 [DOCS] Fixes errors in Troubleshoot Kibana UI error
  docs/setup/access.asciidoc
Labels: Team:Docs, release_note:skip, v8.9.0

#158848 [8.8] Upgrade `proxy` to 2.1.1 (#158764)
  package.json
  x-pack/plugins/actions/server/integration_tests/axios_utils_connection.test.ts
  x-pack/plugins/actions/server/integration_tests/axios_utils_proxy.test.ts
  yarn.lock
Labels: backport

#158737 [Security Solution][Endpoint] Messages for `upload` response action return codes
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/upload_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/lib/endpoint_action_response_codes.ts
Labels: release_note:skip, Team:Defend Workflows, v8.9.0

#158763 [SLO] Enable multiple windows and action groups for SLO Burn Rate Rule
  x-pack/plugins/observability/common/constants.ts
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/burn_rate.tsx
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/burn_rate_rule_editor.stories.tsx
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/burn_rate_rule_editor.tsx
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/long_window_duration.tsx
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/validation.test.ts
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/validation.ts
  x-pack/plugins/observability/public/components/burn_rate_rule_editor/windows.tsx
  x-pack/plugins/observability/public/typings/slo/index.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/executor.test.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/executor.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/register.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/types.ts
Labels: release_note:enhancement, Team: Actionable Observability, v8.9.0

#158883 [7.17] [TypeScript] Upgrade to 4.5.3 (#120812)
  package.json
  packages/kbn-test/src/jest/utils/enzyme_helpers.tsx
  src/core/public/chrome/recently_accessed/recently_accessed_service.test.ts
  src/dev/build/lib/fs.ts
  src/plugins/dashboard/public/application/top_nav/editor_menu.tsx
  src/plugins/embeddable/public/lib/panel/panel_header/panel_actions/add_panel/add_panel_flyout.tsx
  src/plugins/telemetry/server/telemetry_collection/get_kibana.ts
  tsconfig.base.json
  x-pack/plugins/apm/public/application/uxApp.tsx
  x-pack/plugins/apm/public/components/shared/time_comparison/index.tsx
  x-pack/plugins/apm/server/lib/services/get_services_detailed_statistics/index.ts
  x-pack/plugins/encrypted_saved_objects/server/saved_objects/encrypted_saved_objects_client_wrapper.ts
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/maps/public/connected_components/right_side_controls/attribution_control/attribution_control.tsx
  x-pack/plugins/reporting/public/panel_actions/get_csv_panel_action.tsx
  x-pack/plugins/security_solution/public/common/components/auto_download/auto_download.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/anomalies_host_table.tsx
  x-pack/plugins/security_solution/public/common/components/ml/tables/anomalies_network_table.tsx
  x-pack/plugins/security_solution/public/common/lib/helpers/scheduler.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/api.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/__mocks__/import_timelines.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row_messages_pane.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alert_details/components/alert_details_route.tsx
  yarn.lock
Labels: backport

#158791 chore(NA): update caniuse-lite into v1.0.30001492
  yarn.lock
Labels: chore, Team:Operations, release_note:skip, backport:all-open, v8.9.0

#158888 [7.17] Bump prettier/eslint packages related to Typescript after TS upgrade (#121119)
  package.json
  yarn.lock
Labels: backport

#158891 [7.17] chore(NA): update caniuse-lite into v1.0.30001492 (#158791)
  yarn.lock
Labels: backport

#158889 [8.8] chore(NA): update caniuse-lite into v1.0.30001492 (#158791)
  yarn.lock
Labels: backport

#158886 [8.8] [Security solution] Generative AI Connector (#157228)
  docs/management/action-types.asciidoc
  docs/management/connectors/action-types/gen-ai.asciidoc
  docs/management/connectors/images/gen-ai-connector.png
  docs/management/connectors/images/gen-ai-params-test.png
  docs/management/connectors/index.asciidoc
  docs/settings/alert-action-settings.asciidoc
  x-pack/plugins/actions/common/connector_feature_config.test.ts
  x-pack/plugins/actions/common/connector_feature_config.ts
  x-pack/plugins/actions/common/types.ts
  x-pack/plugins/actions/server/sub_action_framework/helpers/validators.test.ts
  x-pack/plugins/actions/server/sub_action_framework/helpers/validators.ts
  x-pack/plugins/actions/server/sub_action_framework/sub_action_connector.ts
  x-pack/plugins/stack_connectors/common/gen_ai/constants.ts
  x-pack/plugins/stack_connectors/common/gen_ai/schema.ts
  x-pack/plugins/stack_connectors/common/gen_ai/types.ts
  x-pack/plugins/stack_connectors/kibana.jsonc
  x-pack/plugins/stack_connectors/public/common/index.ts
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/connector.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/connector.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/constants.ts
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/gen_ai.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/gen_ai.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/index.ts
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/logo.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/params.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/params.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/translations.ts
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/types.ts
  x-pack/plugins/stack_connectors/public/connector_types/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/gen_ai/gen_ai.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/gen_ai/gen_ai.ts
  x-pack/plugins/stack_connectors/server/connector_types/gen_ai/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/gen_ai/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/gen_ai/render.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/gen_ai/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/index.ts
  x-pack/plugins/stack_connectors/server/plugin.test.ts
  x-pack/plugins/triggers_actions_ui/public/common/constants/index.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/alerting_api_integration/common/plugins/actions_simulators/server/gen_ai_simulation.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/gen_ai.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/check_registered_connector_types.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
Labels: backport

#158815 [Cases] Fix bug where the Cases users API will thrown an error when `imageUrl` is set to `null`
  packages/kbn-user-profile-components/src/user_profile.ts
  packages/shared-ux/avatar/user_profile/impl/user_profile.ts
  x-pack/plugins/cases/common/api/user.test.ts
  x-pack/plugins/cases/common/api/user.ts
  x-pack/plugins/cases/server/client/user_actions/users.ts
  x-pack/plugins/security/common/model/user_profile.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/user_actions_get_users.ts
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Cases, v8.9.0

#158899 [8.8] [Cases] Fix bugs when in dark mode in the Cases UI (#158741)
  x-pack/plugins/cases/public/application.tsx
  x-pack/plugins/cases/public/common/use_is_dark_theme.test.tsx
  x-pack/plugins/cases/public/common/use_is_dark_theme.tsx
  x-pack/plugins/cases/public/components/all_cases/use_cases_columns.tsx
  x-pack/plugins/cases/public/components/case_view/case_view_page.tsx
  x-pack/plugins/cases/public/components/configure_cases/index.tsx
  x-pack/plugins/cases/public/components/header_page/index.test.tsx
  x-pack/plugins/cases/public/components/header_page/index.tsx
  x-pack/plugins/cases/public/components/subtitle/__snapshots__/index.test.tsx.snap
  x-pack/plugins/cases/public/components/subtitle/index.test.tsx
  x-pack/plugins/cases/public/components/subtitle/index.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/alert.tsx
  x-pack/plugins/cases/public/components/user_actions/user_actions_list.tsx
  x-pack/plugins/cases/public/components/wrappers/index.tsx
  x-pack/plugins/cases/tsconfig.json
Labels: backport

#158796 bwca for unified search suggestions route
  src/plugins/unified_search/public/autocomplete/providers/value_suggestion_provider.ts
  src/plugins/unified_search/server/autocomplete/value_suggestions_route.ts
  test/api_integration/apis/suggestions/suggestions.js
  test/tsconfig.json
  x-pack/test/apm_api_integration/tests/data_view/static.spec.ts
Labels: Team:APM, Team:Visualizations, release_note:skip, backport:skip, v8.9.0

#158697 V2 migration algorithm: add tests for model versions
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/validate_migration.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/document_migrator/validate_migrations.ts
  src/core/server/integration_tests/saved_objects/migrations/group4/jest.integration.config.js
  src/core/server/integration_tests/saved_objects/migrations/group4/v2_with_mv_same_stack_version.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group4/v2_with_mv_stack_version_bump.test.ts
Labels: Team:Core, release_note:skip, Feature:Migrations, v8.9.0

#154918 Register Add to new case and add to existing case action
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/cases/common/utils/owner.test.ts
  x-pack/plugins/cases/common/utils/owner.ts
  x-pack/plugins/cases/kibana.jsonc
  x-pack/plugins/cases/public/common/lib/kibana/services.ts
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.test.tsx
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.tsx
  x-pack/plugins/cases/public/components/all_cases/selector_modal/all_cases_selector_modal.tsx
  x-pack/plugins/cases/public/components/all_cases/selector_modal/use_cases_add_to_existing_case_modal.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/__mocks__/action_wrapper.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/action_wrapper.test.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/action_wrapper.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/add_to_existing_case.test.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/add_to_existing_case.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/add_to_new_case.test.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/add_to_new_case.tsx
  x-pack/plugins/cases/public/components/visualizations/actions/index.ts
  x-pack/plugins/cases/public/components/visualizations/actions/mocks.ts
  x-pack/plugins/cases/public/components/visualizations/actions/register.ts
  x-pack/plugins/cases/public/components/visualizations/actions/translations.ts
  x-pack/plugins/cases/public/components/visualizations/actions/types.ts
  x-pack/plugins/cases/public/components/visualizations/actions/utils.test.ts
  x-pack/plugins/cases/public/components/visualizations/actions/utils.ts
  x-pack/plugins/cases/public/plugin.ts
  x-pack/plugins/cases/public/types.ts
  x-pack/plugins/cases/tsconfig.json
Labels: release_note:enhancement, Team:ResponseOps, Team:Threat Hunting, Team: SecuritySolution, Feature:Cases, Team:Threat Hunting:Explore, v8.9.0

#158907 [8.8] [Security Solution][Response Ops] Alert Table column metadata does not have the columns data type (#157653)
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_columns/use_columns.ts
Labels: backport

#158708 Discover SQL mode: Allow sorting
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_columns.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_columns.tsx
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  test/functional/apps/discover/group2/_sql_view.ts
Labels: Team:Visualizations, release_note:skip, backport:skip, v8.9.0

#158906 [8.8] [Security Solution] [Controls] [Fix] Move fieldFilterPredicate function out of redux (#157004)
  src/plugins/controls/public/control_group/editor/control_editor.tsx
  src/plugins/controls/public/control_group/embeddable/control_group_container.tsx
  src/plugins/controls/public/control_group/embeddable/control_group_container_factory.ts
  src/plugins/controls/public/control_group/external_api/control_group_renderer.test.tsx
  src/plugins/controls/public/control_group/external_api/control_group_renderer.tsx
  src/plugins/controls/public/control_group/types.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/detection_page_filters.cy.ts
  x-pack/plugins/security_solution/cypress/screens/common/filter_group.ts
  x-pack/plugins/security_solution/cypress/tasks/common/filter_group.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/index.tsx
Labels: backport

#158828 [HTTP/Docs] Clarify versioning practices for `internal` vs `public` endpoints
  dev_docs/tutorials/versioning_http_apis.mdx
Labels: Team:Core, release_note:skip, DevDocs

#158902 Fix hover Action showing for zero Count on D&R Dashboard
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/host_alerts_table.test.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/host_alerts_table.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/user_alerts_table/user_alerts_table.tsx
Labels: bug, release_note:fix, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore

#158728 [RCS 2.0] Bypasses query for field list when configuring FLS against a remote cluster
  x-pack/plugins/security/public/management/roles/edit_role/privileges/es/index_privilege_form.test.tsx
  x-pack/plugins/security/public/management/roles/edit_role/privileges/es/index_privilege_form.tsx
Labels: Team:Security, Feature:CCR and Remote Clusters, release_note:skip, v8.9.0

#158909 [APM] Use transaction.duration.histogram for percentile aggs
  x-pack/plugins/apm/server/routes/transactions/get_latency_charts/index.ts
  x-pack/test/apm_api_integration/tests/transactions/latency.spec.ts
Labels: release_note:fix, Team:APM, v8.8.1

#158667 [http] Make http headers required for `internal` and when in dev mode
  packages/core/http/core-http-common/src/constants.ts
  packages/core/http/core-http-router-server-internal/src/versioned_router/core_versioned_route.ts
  src/core/server/integration_tests/http/versioned_router.test.ts
  x-pack/packages/ml/date_picker/src/services/time_field_range.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/use_csp_rules.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/api/ml_anomaly.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/api/utils.ts
  x-pack/test/api_integration/apis/cloud_security_posture/get_csp_rule_template.ts
  x-pack/test/api_integration_basic/apis/aiops/permissions.ts
Labels: Feature:http, Team:Core, Team:uptime, release_note:skip, v8.9.0

#158821 [SecuritySolutions] Fix recently installed jobs remains greyed out on EA page
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/columns.test.tsx
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/columns.tsx
Labels: bug, release_note:fix, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.9.0, v8.8.1

#158871 [Enterprise Search] Fix broken indices page when an index with alias is closed
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_indices.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/get_index_data.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0, v8.8.1

#158914 [Fleet] Fix bulk action selection error
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.tsx
Labels: release_note:skip, Team:Fleet, backport:prev-minor, v8.8.1

#158938 [8.8] [Enterprise Search] Fix broken indices page when an index with alias is closed (#158871)
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_indices.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/utils/get_index_data.ts
Labels: backport

#158921 [Serverless] Disable plugin `interactiveSetup`
  config/serverless.yml
Labels: chore, Team:Core, Team:Security, release_note:skip, backport:skip

#158936 [Profling] Adding Elastic agent instructions
  x-pack/plugins/profiling/public/components/no_data_page.tsx
Labels: release_note:enhancement, v8.9.0, v8.8.1

#158825 [Guided onboarding] Fix Kibana crashing on Safari
  src/plugins/guided_onboarding/public/components/get_step_location.ts
Labels: bug, release_note:fix, backport:prev-minor, Team:Journey/Onboarding, v8.9.0, v8.8.1

#158943 [8.8] [Fleet] Fix bulk action selection error (#158914)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/bulk_actions.tsx
Labels: backport, Team:Fleet

#158952 [8.8] [Guided onboarding] Fix Kibana crashing on Safari (#158825)
  src/plugins/guided_onboarding/public/components/get_step_location.ts
Labels: backport

#158935 [Security Solution][Serverless] AppFeatures improvements
  config/serverless.security.yml
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/ess_security/server/constants.ts
  x-pack/plugins/security_solution/common/index.ts
  x-pack/plugins/security_solution/common/types/app_features.ts
  x-pack/plugins/security_solution/server/lib/app_features/app_features.test.ts
  x-pack/plugins/security_solution/server/lib/app_features/app_features.ts
  x-pack/plugins/security_solution/server/lib/app_features/app_features_config_merger.test.ts
  x-pack/plugins/security_solution/server/lib/app_features/app_features_config_merger.ts
  x-pack/plugins/security_solution/server/lib/app_features/security_cases_kibana_features.ts
  x-pack/plugins/security_solution/server/lib/app_features/security_cases_kibana_sub_features.ts
  x-pack/plugins/security_solution/server/lib/app_features/security_kibana_features.ts
  x-pack/plugins/security_solution/server/lib/app_features/security_kibana_sub_features.ts
  x-pack/plugins/security_solution/server/lib/app_features/types.ts
  x-pack/plugins/serverless_security/common/config.ts
  x-pack/plugins/serverless_security/common/pli/pli_config.ts
  x-pack/plugins/serverless_security/common/pli/pli_features.test.ts
  x-pack/plugins/serverless_security/common/pli/pli_features.ts
  x-pack/plugins/serverless_security/public/components/upselling/hooks/use_product_type_by_pli.ts
  x-pack/plugins/serverless_security/public/components/upselling/pages/generic_upselling_page.tsx
  x-pack/plugins/serverless_security/public/components/upselling/pages/generic_upselling_section.tsx
  x-pack/plugins/serverless_security/public/components/upselling/register_upsellings.test.tsx
  x-pack/plugins/serverless_security/public/components/upselling/register_upsellings.tsx
  x-pack/plugins/serverless_security/public/plugin.ts
  x-pack/plugins/serverless_security/public/types.ts
  x-pack/plugins/serverless_security/server/config.ts
  x-pack/plugins/serverless_security/server/plugin.ts
Labels: release_note:skip, Team: SecuritySolution, v8.9.0

#158887 Improve Reporting/Maps functional test
  x-pack/test/functional/apps/maps/group3/reports/baseline/example_map_report.png
  x-pack/test/functional/apps/maps/group3/reports/index.ts
  x-pack/test/functional/fixtures/kbn_archiver/maps.json
Labels: release_note:skip, backport:skip, Team:SharedUX

#158956 [Synthetics] Unskip alerting default test
  x-pack/test/api_integration/apis/synthetics/enable_default_alerting.ts
Labels: release_note:skip, v8.9.0

#158961 Revert "[http] Make http headers required for `internal` and when in …
  packages/core/http/core-http-common/src/constants.ts
  packages/core/http/core-http-router-server-internal/src/versioned_router/core_versioned_route.ts
  src/core/server/integration_tests/http/versioned_router.test.ts
  x-pack/packages/ml/date_picker/src/services/time_field_range.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/use_csp_rules.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/api/ml_anomaly.ts
  x-pack/plugins/synthetics/public/legacy_uptime/state/api/utils.ts
  x-pack/test/api_integration/apis/cloud_security_posture/get_csp_rule_template.ts
  x-pack/test/api_integration_basic/apis/aiops/permissions.ts
Labels: ci:all-cypress-suites

#158939 [Security solution] Second attempt at 8.8.1 GenAi Connector Feature Flag :)
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/plugin_contract.ts
  x-pack/plugins/security_solution/tsconfig.json
  x-pack/plugins/stack_connectors/public/connector_types/gen_ai/gen_ai.tsx
  x-pack/plugins/stack_connectors/server/connector_types/index.ts
  x-pack/plugins/stack_connectors/server/plugin.test.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/plugin_api_integration/config.ts
Labels: release_note:skip, Team: SecuritySolution, v8.8.1

#158830 [Telemetry] Log opt-in status at the INFO level
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  src/plugins/telemetry/server/plugin.ts
Labels: Team:Docs, Team:Core, Feature:Telemetry, release_note:skip, backport:prev-minor

#158973 Update reporting-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
Labels: release_note:enhancement

#158975 Update reporting-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
Labels: release_note:enhancement

#158971 [8.8] [Telemetry] Log opt-in status at the INFO level (#158830)
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  src/plugins/telemetry/server/plugin.ts
Labels: backport

#158976 [8.8] Upgrade EUI to v77.1.5
  package.json
  src/dev/license_checker/config.ts
  yarn.lock
Labels: release_note:skip, EUI, v8.8.1

#158953 [8.8] Refactor KibanaMigrator, improve readability, maintainability and UT (#155693)
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/retry_call_cluster.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/index.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/src/constants.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_constants.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.fixtures.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.fixtures.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/saved_objects_service.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/__snapshots__/dot_kibana_split.test.ts.snap
  src/core/server/integration_tests/saved_objects/migrations/group3/active_delete_multiple_instances.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/dot_kibana_split.test.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.ts
Labels: backport

#158182 Migrations: Don't auto-create temp index
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/__snapshots__/migrations_state_action_machine.test.ts.snap
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/bulk_overwrite_transformed_documents.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/initial_state.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/initial_state.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/create_batches.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/create_batches.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/helpers.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/state.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/batch_size_bytes.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/actions/actions.test.ts
Labels: bug, Team:Core, release_note:fix, Feature:Migrations, backport:prev-minor

#158996 [8.8] Migrations: Don't auto-create temp index (#158182)
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/__snapshots__/migrations_state_action_machine.test.ts.snap
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/bulk_overwrite_transformed_documents.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/initial_state.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/initial_state.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/create_batches.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/create_batches.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/helpers.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/state.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/batch_size_bytes.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/actions/actions.test.ts
Labels: backport

#158941 chore(slo): simplify error budget calculations
  x-pack/plugins/observability/server/assets/constants.ts
  x-pack/plugins/observability/server/domain/services/compute_error_budget.test.ts
  x-pack/plugins/observability/server/domain/services/compute_error_budget.ts
  x-pack/plugins/observability/server/domain/services/compute_sli.test.ts
  x-pack/plugins/observability/server/domain/services/compute_sli.ts
  x-pack/plugins/observability/server/domain/services/compute_summary_status.ts
  x-pack/plugins/observability/server/domain/services/error_budget.ts
  x-pack/plugins/observability/server/domain/services/index.ts
  x-pack/plugins/observability/server/services/slo/__snapshots__/historical_summary_client.test.ts.snap
  x-pack/plugins/observability/server/services/slo/historical_summary_client.ts
  x-pack/plugins/observability/server/services/slo/sli_client.ts
  x-pack/plugins/observability/server/services/slo/summary_client.ts
Labels: release_note:skip, Team: Actionable Observability, v8.9.0

#158940 [Migrations] Update all aliases with a single updateAliases() when relocating SO documents
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/create_index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/synchronize_migrators.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/synchronize_migrators.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/helpers.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/state.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/actions/actions.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/dot_kibana_split.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/incompatible_cluster_routing_allocation.test.ts
Labels: bug, Team:Core, release_note:fix, Feature:Migrations, backport:prev-minor, v8.9.0, v8.8.1

#158992 [8.8] [Migrations] Update all aliases with a single updateAliases() when relocating SO documents #158940
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/create_index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/synchronize_migrators.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/synchronize_migrators.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/kibana_migrator_utils.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/helpers.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_resilient_migrator.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/run_v2_migration.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/state.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/actions/actions.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/dot_kibana_split.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/incompatible_cluster_routing_allocation.test.ts
Labels: backport

#158920 [AO] Add alertDetailsUrl to SLO rule type
  x-pack/plugins/observability/server/lib/rules/register_rule_types.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/executor.test.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/executor.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/register.ts
  x-pack/plugins/observability/server/plugin.ts
Labels: release_note:skip, Team: Actionable Observability

#158998 Test for a failed clone during split migration
  src/core/server/integration_tests/saved_objects/migrations/group3/split_failed_to_clone.test.ts
Labels: Team:Core, release_note:skip, backport:prev-minor, Epic:KBNA-7838

#157036 [8.8] [RAM][SecuritySolution] Simplify rules list notify badge (#155500)
  x-pack/examples/triggers_actions_ui_example/public/components/rules_list_notify_badge_sandbox.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/api.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/api/hooks/use_fetch_rules_snooze_settings.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/components/rule_snooze_badge/rule_snooze_badge.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management/components/rule_snooze_badge/use_rule_snooze_settings.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/types.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/rules_table_context.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/rules_table_context.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/logs_list/components/logs_list.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_action_error_log_flyout.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_details.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_details.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_details_route.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_error_log.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_event_log_list.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_event_log_list_kpi.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_event_log_list_table.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_execution_summary_and_chart.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_route.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_status_panel.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/collapsed_item_actions.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/notify_badge/notify_badge.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/notify_badge/notify_badge.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/notify_badge/notify_badge_with_api.stories.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/notify_badge/notify_badge_with_api.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/notify_badge/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rule_snooze/panel/index.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list_table.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: backport

#159007 [8.8] Test for a failed clone during split migration (#158998)
  src/core/server/integration_tests/saved_objects/migrations/group3/split_failed_to_clone.test.ts
Labels: backport

#158746 [APM] Display size for hidden indices in storage explorer
  x-pack/plugins/apm/server/routes/storage_explorer/get_storage_details_per_service.ts
  x-pack/plugins/apm/server/routes/storage_explorer/indices_stats_helpers.ts
Labels: release_note:fix, Team:APM, backport:prev-minor

#157978 [Synthetics] Added inspect panel for monitor config
  x-pack/plugins/fleet/server/mocks/index.ts
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/plugins/fleet/server/services/package_policy_service.ts
  x-pack/plugins/synthetics/common/constants/rest_api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/monitor_inspect.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/portals.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/index.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/inspect_monitor_portal.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/routes.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_management/api.ts
  x-pack/plugins/synthetics/public/utils/api_service/api_service.ts
  x-pack/plugins/synthetics/server/common/unzipt_project_code.ts
  x-pack/plugins/synthetics/server/routes/index.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/inspect_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_service/formatters/public_formatters/convert_to_data_stream.ts
  x-pack/plugins/synthetics/server/synthetics_service/private_location/synthetics_private_location.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/private_location/synthetics_private_location.ts
  x-pack/plugins/synthetics/server/synthetics_service/service_api_client.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/service_api_client.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
  x-pack/test/api_integration/apis/synthetics/add_monitor_project.ts
  x-pack/test/api_integration/apis/synthetics/fixtures/inspect_browser_monitor.json
  x-pack/test/api_integration/apis/synthetics/index.ts
  x-pack/test/api_integration/apis/synthetics/inspect_monitor.ts
  x-pack/test/api_integration/apis/synthetics/services/private_location_test_service.ts
  x-pack/test/api_integration/apis/synthetics/services/synthetics_monitor_test_service.ts
  x-pack/test/tsconfig.json
Labels: Team:uptime, release_note:skip, Team:Fleet, v8.9.0

#158192 [Defend Workflows] Adjust osquery editor to use monaco
  x-pack/plugins/osquery/cypress/e2e/all/live_query.cy.ts
  x-pack/plugins/osquery/cypress/screens/live_query.ts
  x-pack/plugins/osquery/cypress/tasks/saved_queries.ts
  x-pack/plugins/osquery/public/editor/ace_types.ts
  x-pack/plugins/osquery/public/editor/index.tsx
  x-pack/plugins/osquery/public/editor/osquery_highlight_rules.test.ts
  x-pack/plugins/osquery/public/editor/osquery_highlight_rules.ts
  x-pack/plugins/osquery/public/editor/osquery_mode.ts
  x-pack/plugins/osquery/public/editor/osquery_tables.ts
  x-pack/plugins/osquery/public/live_queries/form/live_query_query_field.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/saved_queries/form/playground_flyout.tsx
  x-pack/plugins/osquery/public/saved_queries/saved_query_flyout.tsx
  x-pack/plugins/osquery/tsconfig.json
Labels: chore, release_note:skip, Team:Defend Workflows, Feature:Osquery, v8.9.0

#158527 [SOR] Adds support for validation schema with models
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/helpers/validation.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/helpers/validation.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/helpers/validation_fixtures.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/src/validation/validator.test.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/src/validation/validator.ts
  packages/core/saved-objects/core-saved-objects-server/src/model_version/schemas.ts
Labels: Team:Core, Feature:Saved Objects, release_note:skip, backport:skip, Epic:KBNA-7996, v8.9.0

#158827 Fix config stacking order
  config/README.md
  packages/core/root/core-root-server-internal/src/bootstrap.test.mocks.ts
  packages/core/root/core-root-server-internal/src/bootstrap.ts
  src/cli/serve/integration_tests/config_ordering.test.ts
  src/cli/serve/serve.js
Labels: Team:Operations, release_note:fix, backport:prev-minor

#159021 [Profiling]Fixing profiling package version
  x-pack/plugins/profiling/public/components/no_data_page.tsx
Labels: release_note:skip, v8.9.0, v8.8.1

#159013 [8.8] Change kibana.alert.evaluation.threshold unit to microseconds (#158703)
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/index.tsx
  x-pack/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.ts
  x-pack/plugins/observability/public/components/alerts_flyout_body.tsx
Labels: backport, Team:APM

#158569 D3 Security Sub Actions Connector
  docs/management/action-types.asciidoc
  docs/management/connectors/action-types/d3security.asciidoc
  docs/management/connectors/images/d3security-connector.png
  docs/management/connectors/images/d3security-params-test.png
  docs/management/connectors/index.asciidoc
  docs/settings/alert-action-settings.asciidoc
  x-pack/plugins/stack_connectors/common/d3security/constants.ts
  x-pack/plugins/stack_connectors/common/d3security/schema.ts
  x-pack/plugins/stack_connectors/common/d3security/types.ts
  x-pack/plugins/stack_connectors/public/connector_types/d3security/connector.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/d3security/connector.tsx
  x-pack/plugins/stack_connectors/public/connector_types/d3security/d3security.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/d3security/d3security.tsx
  x-pack/plugins/stack_connectors/public/connector_types/d3security/index.ts
  x-pack/plugins/stack_connectors/public/connector_types/d3security/logo.tsx
  x-pack/plugins/stack_connectors/public/connector_types/d3security/params.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/d3security/params.tsx
  x-pack/plugins/stack_connectors/public/connector_types/d3security/translations.ts
  x-pack/plugins/stack_connectors/public/connector_types/d3security/types.ts
  x-pack/plugins/stack_connectors/public/connector_types/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/d3security.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/d3security.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/helpers.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/render.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/index.ts
  x-pack/plugins/stack_connectors/server/plugin.test.ts
  x-pack/plugins/triggers_actions_ui/README.md
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/alerting_api_integration/common/plugins/actions_simulators/server/d3security_simulation.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/d3security.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/check_registered_connector_types.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
Labels: release_note:enhancement, Team: SecuritySolution, v8.9.0

#158844 [Console] Add a setting to disable the a11y overlay
  src/plugins/console/public/application/components/settings_modal.tsx
  src/plugins/console/public/application/containers/editor/legacy/console_editor/editor.tsx
  src/plugins/console/public/services/settings.ts
  src/plugins/es_ui_shared/__packages_do_not_import__/ace/use_ui_ace_keyboard_mode.tsx
  test/functional/apps/console/_settings.ts
  test/functional/apps/console/index.js
  test/functional/page_objects/console_page.ts
Labels: Feature:Console, Team:Deployment Management, release_note:skip, ui-copy, v8.9.0

#159024 [Enterprise Search] Fix pending syncs logic
  x-pack/plugins/enterprise_search/common/types/indices.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0

#159026 [Versioned HTTP] Track adoption
  packages/core/http/core-http-server/src/router/router.ts
  packages/core/http/core-http-server/src/versioning/types.ts
Labels: chore, Feature:http, Team:Core, release_note:skip, backport:skip, Project:BWCA compliance

#158634 [APM] Fallback to the default space ID
  x-pack/plugins/apm/server/routes/service_groups/route.ts
Labels: Team:APM, release_note:skip, apm:serverless, v8.9.0

#158993 Bump cypress@12.13.0
  package.json
  x-pack/plugins/apm/ftr_e2e/cypress_test_runner.ts
  yarn.lock
Labels: Team:APM, release_note:skip, ci:all-cypress-suites

#159005 Bump react-virtualized@9.22.5
  package.json
  yarn.lock
Labels: release_note:skip

#158692 [Osquery] Switch Osquery Cypress to run in parallel
  .buildkite/pipelines/pull_request/osquery_cypress.yml
  .buildkite/scripts/steps/functional/osquery_cypress.sh
  x-pack/plugins/osquery/cypress.config.ts
  x-pack/plugins/osquery/cypress/e2e/all/alerts.cy.ts
  x-pack/plugins/osquery/package.json
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/fleet_server.ts
  x-pack/plugins/security_solution/scripts/run_cypress/parallel.ts
  x-pack/test/osquery_cypress/agent.ts
  x-pack/test/osquery_cypress/cli_config.ts
  x-pack/test/osquery_cypress/runner.ts
  x-pack/test/osquery_cypress/visual_config.ts
Labels: release_note:skip

#159025 [8.8] Fix config stacking order (#158827)
  config/README.md
  packages/core/root/core-root-server-internal/src/bootstrap.test.mocks.ts
  packages/core/root/core-root-server-internal/src/bootstrap.ts
  src/cli/serve/integration_tests/config_ordering.test.ts
  src/cli/serve/serve.js
Labels: backport

#157749 [Security Solution] Remove extra data structures in create/edit rule forms
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/custom_query_rule.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/custom_saved_query_rule.cy.ts
  x-pack/plugins/security_solution/cypress/screens/common/rule_actions.ts
  x-pack/plugins/security_solution/cypress/screens/create_new_rule.ts
  x-pack/plugins/security_solution/cypress/tasks/common/rule_actions.ts
  x-pack/plugins/security_solution/cypress/tasks/create_new_rule.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/form.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/helpers.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/translations.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_editing/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_details_ui/pages/rule_details/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/description_step/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule/schema.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule_details/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/schema.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_define_rule/translations.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_rule_actions/translations.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_schedule_rule/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_schedule_rule/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/types.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/use_get_saved_query.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/utils.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, v8.9.0

#157909 [RAM] Improve performance of clearing expired snooze schedules
  x-pack/plugins/alerting/server/rules_client/methods/clear_expired_snoozes.ts
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/alerting/server/rules_client/tests/clear_expired_snoozes.test.ts
  x-pack/plugins/alerting/server/task_runner/rule_loader.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/snooze.ts
Labels: release_note:enhancement, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.9.0

#159055 [SLO] Fix transformer bug with custom metric timeslices
  x-pack/plugins/observability/server/services/slo/transform_generators/__snapshots__/metric_custom.test.ts.snap
  x-pack/plugins/observability/server/services/slo/transform_generators/metric_custom.ts
Labels: release_note:skip, Team: Actionable Observability, v8.9.0

#158676 feat(openapi): rule parameters documentation for observability rules
  x-pack/plugins/apm/server/routes/alerts/rule_types/docs/params_property_apm_anomaly.yaml
  x-pack/plugins/apm/server/routes/alerts/rule_types/docs/params_property_apm_error_count.yaml
  x-pack/plugins/apm/server/routes/alerts/rule_types/docs/params_property_apm_transaction_duration.yaml
  x-pack/plugins/apm/server/routes/alerts/rule_types/docs/params_property_apm_transaction_error_rate.yaml
  x-pack/plugins/infra/server/lib/alerting/docs/params_property_infra_inventory.yaml
  x-pack/plugins/infra/server/lib/alerting/docs/params_property_infra_metric_threshold.yaml
  x-pack/plugins/infra/server/lib/alerting/docs/params_property_log_threshold.yaml
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/docs/params_property_slo_burn_rate.yaml
  x-pack/plugins/synthetics/server/legacy_uptime/lib/alerts/docs/params_property_synthetics_monitor_status.yaml
  x-pack/plugins/synthetics/server/legacy_uptime/lib/alerts/docs/params_property_synthetics_uptime_tls.yaml
Labels: Team:APM, Team:uptime, release_note:skip, Team: Actionable Observability, v8.9.0

#158781 Upgrade EUI to v81.2.0
  package.json
  packages/core/i18n/core-i18n-browser-internal/src/__snapshots__/i18n_service.test.tsx.snap
  packages/core/i18n/core-i18n-browser-internal/src/i18n_eui_mapping.tsx
  src/dev/license_checker/config.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/filters/time_filter/components/time_filter.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/filters/time_filter/time_filter.scss
  x-pack/plugins/canvas/public/style/index.scss
  x-pack/plugins/exploratory_view/public/components/shared/exploratory_view/components/series_date_picker/index.tsx
  x-pack/plugins/exploratory_view/public/components/shared/exploratory_view/series_editor/columns/date_picker_col.tsx
  x-pack/plugins/ml/public/application/settings/calendars/edit/new_event_modal/new_event_modal.js
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/eql_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/query_tab_content/index.tsx
  yarn.lock
Labels: release_note:skip, EUI, v8.9.0

#157949 [Profiling] Manage indices via Elasticsearch
  x-pack/plugins/profiling/common/setup.ts
  x-pack/plugins/profiling/common/stack_traces.ts
  x-pack/plugins/profiling/e2e/cypress/fixtures/es_resources_data_false.json
  x-pack/plugins/profiling/e2e/cypress/fixtures/es_resources_setup_false.json
  x-pack/plugins/profiling/e2e/cypress_test_runner.ts
  x-pack/plugins/profiling/server/lib/setup/README.md
  x-pack/plugins/profiling/server/lib/setup/apm_package.ts
  x-pack/plugins/profiling/server/lib/setup/cluster_settings.ts
  x-pack/plugins/profiling/server/lib/setup/fleet_policies.ts
  x-pack/plugins/profiling/server/lib/setup/get_apm_policy.ts
  x-pack/plugins/profiling/server/lib/setup/get_setup_instructions.ts
  x-pack/plugins/profiling/server/lib/setup/has_profiling_data.ts
  x-pack/plugins/profiling/server/lib/setup/security_role.ts
  x-pack/plugins/profiling/server/lib/setup/steps/catch_resource_already_exists_exception.ts
  x-pack/plugins/profiling/server/lib/setup/steps/component_template_profiling_events.json
  x-pack/plugins/profiling/server/lib/setup/steps/component_template_profiling_executables.json
  x-pack/plugins/profiling/server/lib/setup/steps/component_template_profiling_ilm.json
  x-pack/plugins/profiling/server/lib/setup/steps/component_template_profiling_stackframes.json
  x-pack/plugins/profiling/server/lib/setup/steps/component_template_profiling_stacktraces.json
  x-pack/plugins/profiling/server/lib/setup/steps/get_apm_package_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_cluster_settings_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_component_templates_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_create_events_data_streams.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_create_indices_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_fleet_policy_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_ilm_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_index_templates_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_is_cloud_enabled_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/get_security_step.ts
  x-pack/plugins/profiling/server/lib/setup/steps/ilm_profiling.json
  x-pack/plugins/profiling/server/lib/setup/steps/index.ts
  x-pack/plugins/profiling/server/lib/setup/steps/mappings/profiling_returnpads_private.json
  x-pack/plugins/profiling/server/lib/setup/steps/mappings/profiling_sq_executables.json
  x-pack/plugins/profiling/server/lib/setup/steps/mappings/profiling_sq_leafframes.json
  x-pack/plugins/profiling/server/lib/setup/steps/mappings/profiling_symbols.json
  x-pack/plugins/profiling/server/lib/setup/steps/mappings/profiling_symbols_private.json
  x-pack/plugins/profiling/server/lib/setup/types.ts
  x-pack/plugins/profiling/server/routes/setup.ts
  x-pack/plugins/profiling/server/routes/topn.test.ts
  x-pack/plugins/profiling/server/utils/create_profiling_es_client.ts
  x-pack/plugins/profiling/tsconfig.json
Labels: release_note:skip, backport:skip, v8.9.0

#158785 [build] Rename serverless image from kibana to kibana-serverless
  .buildkite/scripts/steps/artifacts/docker_image.sh
Labels: Team:Operations, release_note:skip

#159045 [DOCS] Fix typo in AIOps Labs
  docs/user/ml/index.asciidoc
Labels: :ml, release_note:skip, docs, backport:prev-minor

#159062 [Security Solution] Fix package.json script
  x-pack/plugins/security_solution/package.json
Labels: release_note:skip, ci:all-cypress-suites

#159068 [8.8] [DOCS] Fix typo in AIOps Labs (#159045)
  docs/user/ml/index.asciidoc
Labels: backport

#157500 [APM] Initial diagnostics tool
  .gitignore
  packages/kbn-apm-synthtrace/src/lib/apm/client/apm_synthtrace_es_client/get_routing_transform.ts
  x-pack/plugins/apm/ftr_e2e/cypress/e2e/power_user/diagnostics/apm_diagnostics_8.9.0_1685708312530.json
  x-pack/plugins/apm/ftr_e2e/cypress/e2e/power_user/diagnostics/diagnostics.cy.ts
  x-pack/plugins/apm/public/components/app/diagnostics/context/diagnostics_context.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/context/use_diagnostics.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/data_stream_tab.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/import_export_tab.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/index.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/index_pattern_settings_tab.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/index_templates_tab.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/indices_tab.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/summary_tab/apm_integration_package_status.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/summary_tab/data_streams_status.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/summary_tab/index.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/summary_tab/index_templates_status.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/summary_tab/indicies_status.tsx
  x-pack/plugins/apm/public/components/app/diagnostics/summary_tab/tab_status.tsx
  x-pack/plugins/apm/public/components/routing/apm_route_config.tsx
  x-pack/plugins/apm/public/components/routing/home/index.tsx
  x-pack/plugins/apm/public/components/routing/mobile_service_detail/index.tsx
  x-pack/plugins/apm/public/components/routing/service_detail/index.tsx
  x-pack/plugins/apm/public/components/routing/settings/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_main_template.tsx
  x-pack/plugins/apm/scripts/diagnostics_bundle.js
  x-pack/plugins/apm/scripts/diagnostics_bundle/diagnostics_bundle.ts
  x-pack/plugins/apm/scripts/diagnostics_bundle/main.ts
  x-pack/plugins/apm/scripts/test/api.js
  x-pack/plugins/apm/server/lib/helpers/create_es_client/create_apm_event_client/index.ts
  x-pack/plugins/apm/server/routes/apm_routes/get_global_apm_server_route_repository.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_data_streams.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_existing_index_templates.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_field_caps.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_index_template.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_index_templates_by_index_pattern.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_indices.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_indices_states.ts
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_non_data_stream_indices.ts
  x-pack/plugins/apm/server/routes/diagnostics/get_apm_index_template_names.ts
  x-pack/plugins/apm/server/routes/diagnostics/get_diagnostics_bundle.ts
  x-pack/plugins/apm/server/routes/diagnostics/get_elasticsearch_version.ts
  x-pack/plugins/apm/server/routes/diagnostics/get_fleet_package_info.ts
  x-pack/plugins/apm/server/routes/diagnostics/route.ts
  x-pack/test/apm_api_integration/common/bootstrap_apm_synthtrace.ts
  x-pack/test/apm_api_integration/common/config.ts
  x-pack/test/apm_api_integration/common/registry.ts
  x-pack/test/apm_api_integration/tests/diagnostics/data_streams.spec.ts
  x-pack/test/apm_api_integration/tests/diagnostics/index_pattern_settings.ts
  x-pack/test/apm_api_integration/tests/diagnostics/index_templates.spec.ts
  x-pack/test/apm_api_integration/tests/diagnostics/indices.spec.ts
  x-pack/test/apm_api_integration/tests/index.ts
  x-pack/test/apm_api_integration/tests/service_overview/__snapshots__/instances_detailed_statistics.spec.snap
  x-pack/test/apm_api_integration/tests/traces/__snapshots__/top_traces.spec.snap
  x-pack/test/apm_api_integration/tests/transactions/__snapshots__/breakdown.spec.snap
Labels: Team:APM, release_note:skip, v8.9.0

#158508 [Security solution] Generative AI Connector - track token usage per user
  x-pack/plugins/actions/server/lib/action_executor.test.ts
  x-pack/plugins/actions/server/lib/action_executor.ts
  x-pack/plugins/actions/server/plugin.ts
  x-pack/plugins/event_log/generated/README.md
  x-pack/plugins/event_log/generated/mappings.json
  x-pack/plugins/event_log/generated/schemas.ts
  x-pack/plugins/event_log/scripts/mappings.js
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.9.0

#158968 [Canvas] Remove dark mode prop on editor menu component
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/__stories__/editor_menu.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.component.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.tsx
Labels: Team:Presentation, loe:hours, release_note:skip, impact:medium, Feature:Canvas, v8.9.0, v8.8.1

#159081 [8.8] [Canvas] Remove dark mode prop on editor menu component (#158968)
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/__stories__/editor_menu.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.component.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.tsx
Labels: backport

#159039 [Failing Tests] Skips and comments tests failing with no_shard_available_action
  x-pack/test/saved_object_api_integration/spaces_only/apis/import.ts
  x-pack/test/saved_object_api_integration/spaces_only/apis/resolve.ts
  x-pack/test/saved_object_api_integration/spaces_only/apis/resolve_import_errors.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/get.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/index.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/update.ts
  x-pack/test/spaces_api_integration/spaces_only/apis/update_objects_spaces.ts
Labels: Feature:Saved Objects, Feature:Security/Spaces, skipped-test, release_note:skip, backport:prev-minor, v8.9.0

#158798 [esql] autocomplete on indexes
  packages/kbn-text-based-editor/src/text_based_languages_editor.tsx
Labels: Team:Visualizations, backport:skip, v8.9.0

#158749 [ML] Fixing saved object sync in a serverless environment when apis are missing part 2
  x-pack/plugins/ml/server/saved_objects/initialization/initialization.ts
  x-pack/plugins/ml/server/saved_objects/sync.ts
  x-pack/plugins/ml/server/saved_objects/util.ts
Labels: non-issue, :ml, Feature:Anomaly Detection, release_note:skip, Feature:Data Frame Analytics, Feature:3rd Party Models, v8.9.0

#159034 [Fleet] Fix getting agent count without agents being populated
  x-pack/plugins/fleet/server/services/agent_policies/agent_policy_agent_count.ts
Labels: bug, release_note:skip, Team:Fleet

#159006 Fix bug with memoization
  x-pack/plugins/cases/public/components/user_actions/comment/registered_attachments.tsx
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Cases, v8.9.0, v8.8.1

#158104 [8.8] [Security Solution] Add support for multiple values in cell actions (#158060)
  packages/kbn-cell-actions/src/actions/copy_to_clipboard/copy_to_clipboard.test.ts
  packages/kbn-cell-actions/src/actions/copy_to_clipboard/copy_to_clipboard.ts
  packages/kbn-cell-actions/src/actions/filter/create_filter.test.ts
  packages/kbn-cell-actions/src/actions/filter/create_filter.ts
  x-pack/plugins/security_solution/public/actions/add_to_timeline/cell_action/add_to_timeline.test.ts
  x-pack/plugins/security_solution/public/actions/add_to_timeline/cell_action/add_to_timeline.ts
  x-pack/plugins/security_solution/public/common/components/event_details/overview/overview_card.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/summary_value_cell.tsx
Labels: backport

#159091 [8.8] Fix bug with memoization (#159006)
  x-pack/plugins/cases/public/components/user_actions/comment/registered_attachments.tsx
Labels: backport

#159010 [Profiling] Organizing UI code structure
  x-pack/plugins/profiling/public/components/check_setup.tsx
  x-pack/plugins/profiling/public/components/contexts/license/license_context.tsx
  x-pack/plugins/profiling/public/components/cpu_label_with_hint/index.tsx
  x-pack/plugins/profiling/public/components/flamegraph/flame_graph_legend.tsx
  x-pack/plugins/profiling/public/components/flamegraph/flamegraph_tooltip.tsx
  x-pack/plugins/profiling/public/components/flamegraph/index.tsx
  x-pack/plugins/profiling/public/components/frame_information_window/get_impact_rows.tsx
  x-pack/plugins/profiling/public/components/license_prompt/index.tsx
  x-pack/plugins/profiling/public/components/subchart.tsx
  x-pack/plugins/profiling/public/components/topn_functions/index.tsx
  x-pack/plugins/profiling/public/routing/index.tsx
  x-pack/plugins/profiling/public/routing/route_breadcrumb.tsx
  x-pack/plugins/profiling/public/views/flame_graphs_view/differential_comparison_mode.tsx
  x-pack/plugins/profiling/public/views/flame_graphs_view/flame_graph_search_panel.tsx
  x-pack/plugins/profiling/public/views/flame_graphs_view/index.tsx
  x-pack/plugins/profiling/public/views/flame_graphs_view/normalization_menu.tsx
  x-pack/plugins/profiling/public/views/functions_view/index.tsx
  x-pack/plugins/profiling/public/views/no_data_view/index.tsx
  x-pack/plugins/profiling/public/views/stack_traces_view/get_stack_traces_tabs.ts
  x-pack/plugins/profiling/public/views/stack_traces_view/index.tsx
  x-pack/plugins/profiling/public/views/stack_traces_view/utils.test.ts
  x-pack/plugins/profiling/public/views/stack_traces_view/utils.ts
Labels: release_note:skip, 8.9 candidate

#158144 Cleanup extraneous Observability Services type
  x-pack/plugins/observability/public/application/types.ts
  x-pack/plugins/observability/public/components/alert_search_bar/alert_search_bar_with_url_sync.tsx
  x-pack/plugins/observability/public/context/has_data_context/has_data_context.tsx
  x-pack/plugins/observability/public/hooks/use_toast.ts
  x-pack/plugins/observability/public/pages/alert_details/alert_details.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/header_actions.tsx
  x-pack/plugins/observability/public/pages/alerts/alerts.tsx
  x-pack/plugins/observability/public/pages/overview/components/header_menu/header_menu.tsx
  x-pack/plugins/observability/public/pages/overview/components/observability_status/index.tsx
  x-pack/plugins/observability/public/pages/overview/components/sections/empty/empty_sections.tsx
  x-pack/plugins/observability/public/pages/overview/components/sections/section_container.tsx
  x-pack/plugins/observability/public/pages/overview/helpers/use_overview_metrics.ts
  x-pack/plugins/observability/public/pages/overview/overview.tsx
  x-pack/plugins/observability/public/pages/rule_details/index.tsx
  x-pack/plugins/observability/public/pages/slo_details/slo_details.tsx
  x-pack/plugins/observability/public/pages/slos/slos.tsx
  x-pack/plugins/observability/public/routes/json_rt.ts
  x-pack/plugins/observability/public/utils/kibana_react.ts
  x-pack/plugins/observability/tsconfig.json
Labels: release_note:skip

#158701 [Defend Workflows] Refactor response actions response from _source to fields
  x-pack/plugins/osquery/common/types/osquery_action.ts
  x-pack/plugins/osquery/public/shared_components/osquery_results/types.ts
  x-pack/plugins/security_solution/common/utils/expand_dotted.test.ts
  x-pack/plugins/security_solution/common/utils/expand_dotted.ts
  x-pack/plugins/security_solution/public/common/components/response_actions/endpoint_action_results.tsx
  x-pack/plugins/security_solution/public/common/components/response_actions/response_actions_results.tsx
  x-pack/plugins/security_solution/public/management/hooks/response_actions/use_get_automated_action_list.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/endpoint_response_action.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/osquery_response_action.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/schedule_notification_response_actions.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/types.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/response_actions/actions/query.all_actions.dsl.ts
Labels: chore, release_note:skip, Team:Defend Workflows, Feature:Osquery, v8.9.0

#159090 [Logs UI] Fix Log Categorization UI failure due to infinite loop
  x-pack/plugins/infra/public/pages/logs/log_entry_categories/use_log_entry_categories_results.ts
Labels: release_note:fix, Feature:Logs UI, Team:Infra Monitoring UI, backport:prev-minor

#158610 [Guided onboarding] fix: fixes shadow on Continue using Elastic button
  src/plugins/guided_onboarding/public/components/guide_panel_flyout/guide_panel_flyout_body.tsx
Labels: release_note:skip, 💝community, Team:Journey/Onboarding, v8.9.0

#159044 [Uptime] Remove unused telemetry
  x-pack/plugins/synthetics/common/constants/rest_api.ts
  x-pack/plugins/synthetics/public/legacy_uptime/hooks/index.ts
  x-pack/plugins/synthetics/public/legacy_uptime/hooks/use_telemetry.ts
  x-pack/plugins/synthetics/public/legacy_uptime/routes.tsx
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/index.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/telemetry/__snapshots__/kibana_telemetry_adapter.test.ts.snap
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/telemetry/index.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/telemetry/kibana_telemetry_adapter.test.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/telemetry/kibana_telemetry_adapter.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/telemetry/types.ts
  x-pack/plugins/synthetics/server/legacy_uptime/routes/index.ts
  x-pack/plugins/synthetics/server/legacy_uptime/routes/telemetry/index.ts
  x-pack/plugins/synthetics/server/legacy_uptime/routes/telemetry/log_page_view.ts
  x-pack/plugins/synthetics/server/plugin.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/test/api_integration/apis/uptime/rest/index.ts
  x-pack/test/api_integration/apis/uptime/rest/telemetry_collectors.ts
  x-pack/test/api_integration/apis/uptime/rest/telemetry_collectors_fleet.ts
Labels: Team:uptime, release_note:skip, v8.9.0

#158452 [Lens] Enable new context constants in formula
  src/plugins/vis_types/timeseries/public/convert_to_lens/lib/convert/formula.test.ts
  src/plugins/vis_types/timeseries/public/convert_to_lens/lib/convert/formula.ts
  x-pack/plugins/lens/public/datasources/form_based/form_based.test.ts
  x-pack/plugins/lens/public/datasources/form_based/form_based.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/context_variables.test.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/context_variables.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/editor/formula_editor.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/editor/formula_help.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/editor/math_completion.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/formula.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/formula.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/index.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/formula/parse.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/index.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/layer_helpers.test.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/layer_helpers.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/operations.test.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/operations.ts
  x-pack/plugins/lens/public/datasources/form_based/to_expression.ts
  x-pack/plugins/lens/public/datasources/form_based/utils.tsx
  x-pack/plugins/lens/public/datasources/text_based/text_based_languages.test.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/expression_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/state_helpers.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/suggestion_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/service.tsx
  x-pack/plugins/lens/public/mocks/datasource_mock.ts
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/visualizations/xy/to_expression.test.ts
  x-pack/plugins/lens/tsconfig.json
Labels: release_note:enhancement, Team:Visualizations, Feature:Lens, ci:cloud-deploy, v8.9.0

#158890 [TaskManager] log health on interval with background_tasks only role
  x-pack/plugins/task_manager/server/lib/log_health_metrics.ts
  x-pack/plugins/task_manager/server/plugin.ts
Labels: enhancement, release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.9.0, v8.8.1

#159106 [8.8] [Logs UI] Fix Log Categorization UI failure due to infinite loop (#159090)
  x-pack/plugins/infra/public/pages/logs/log_entry_categories/use_log_entry_categories_results.ts
Labels: backport

#159097 [TSVB] Stabilize flaky test
  test/functional/apps/visualize/group5/_tsvb_time_series.ts
Labels: Team:Visualizations, failed-test, release_note:skip, backport:skip, v8.9.0

#159104 [8.8] [SecuritySolutions] Fix anomalies table pagination on EA page (#158739)
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/query/index.ts
Labels: backport

#159105 [8.8] [SecuritySolutions] Fix recently installed jobs remains greyed out on EA page (#158821)
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/columns.test.tsx
  x-pack/plugins/security_solution/public/overview/components/entity_analytics/anomalies/columns.tsx
Labels: backport

#159093 [Text based] Use disabled All time text on the date picker
  src/plugins/unified_search/public/query_string_input/query_bar_top_row.test.tsx
  src/plugins/unified_search/public/query_string_input/query_bar_top_row.tsx
Labels: Team:Visualizations, release_note:skip, backport:skip, Feature:Unified search, v8.9.0

#158583 [Enterprise Search] [Search application] Fix permission error when indices are closed in Search application
  x-pack/plugins/enterprise_search/server/lib/engines/available_indices.ts
  x-pack/plugins/enterprise_search/server/lib/engines/fetch_indices_stats.test.ts
  x-pack/plugins/enterprise_search/server/lib/engines/field_capabilities.test.ts
Labels: release_note:skip, v8.9.0, v8.8.1

#158898 [Text-based languages] Hides generated adhoc dataviews from the picker
  src/plugins/unified_search/public/dataview_picker/change_dataview.test.tsx
  src/plugins/unified_search/public/dataview_picker/change_dataview.tsx
  src/plugins/unified_search/public/dataview_picker/mocks/dataview.ts
Labels: Team:Visualizations, release_note:skip, backport:skip, Feature:Unified search, v8.9.0

#158674 [Search Applications] Add console autocomplete for search applications
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.delete.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.delete_behavioral_analytics.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.get.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.get_behavioral_analytics.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.list.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.post_behavioral_analytics_event.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.put.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.put_behavioral_analytics.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.render_query.json
  src/plugins/console/server/lib/spec_definitions/json/generated/search_application.search.json
  src/plugins/console/server/lib/spec_definitions/json/overrides/search_application.post_behavioral_analytics_event.json
  src/plugins/console/server/lib/spec_definitions/json/overrides/search_application.put.json
  src/plugins/console/server/lib/spec_definitions/json/overrides/search_application.search.json
Labels: release_note:enhancement, Team:EnterpriseSearch, v8.9.0

#159092 [Cases] Validate cases table queryParams.
  x-pack/plugins/cases/common/ui/types.ts
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.tsx
  x-pack/plugins/cases/public/components/all_cases/types.ts
  x-pack/plugins/cases/public/components/all_cases/use_all_cases_state.test.tsx
  x-pack/plugins/cases/public/components/all_cases/use_all_cases_state.tsx
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Cases

#159129 [8.8] [Enterprise Search] [Search application] Fix permission error when indices are closed in Search application (#158583)
  x-pack/plugins/enterprise_search/server/lib/engines/available_indices.ts
  x-pack/plugins/enterprise_search/server/lib/engines/fetch_indices_stats.test.ts
  x-pack/plugins/enterprise_search/server/lib/engines/field_capabilities.test.ts
Labels: backport

#143799 [Synthetics] Implement standard time formatting
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/monitor_details_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/links/test_details_link.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/error_details/components/error_started_at.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/error_details/components/failed_tests_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/error_details/components/resolved_at.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/error_details/error_details_page.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_errors/errors_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/last_test_run.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/metric_item_icon.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/step_details_page/step_page_nav.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/utils/monitor_test_result/test_time_formats.ts
  x-pack/plugins/synthetics/public/hooks/use_date_format.test.tsx
  x-pack/plugins/synthetics/public/hooks/use_date_format.ts
  x-pack/plugins/synthetics/public/hooks/use_kibana_date_format.ts
Labels: release_note:enhancement, Team:uptime, v8.9.0

#159030 [Ingest Pipelines] Add ignore_missing_pipeline field to Pipeline processor
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/__jest__/processors/pipeline.test.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/__jest__/processors/processor.helpers.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processors/pipeline.tsx
Labels: Team:Deployment Management, release_note:skip, Feature:Ingest Node Pipelines, ui-copy

#159095 [Fleet] Mark some parameters as deprecated
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/parameters/kuery.yaml
  x-pack/plugins/fleet/common/openapi/components/parameters/sort_field.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/search_result.yaml
  x-pack/plugins/fleet/common/openapi/paths/agent_status.yaml
  x-pack/plugins/fleet/common/openapi/paths/epm@packages@{pkg_name}@{pkg_version}.yaml
  x-pack/plugins/fleet/common/types/rest_spec/common.ts
  x-pack/plugins/fleet/server/types/rest_spec/common.ts
Labels: release_note:skip, Team:Fleet, v8.9.0

#159133 [Synthetics] Status alert fix index used for alerting query
  x-pack/plugins/synthetics/server/alert_rules/status_rule/status_rule_executor.ts
Labels: Team:uptime, release_note:skip, v8.9.0, v8.8.2

#159134 [SLO] Updating find interface to support name and adding frontend hook
  packages/kbn-slo-schema/src/rest_specs/composite_slo.ts
  packages/kbn-slo-schema/src/schema/common.ts
  x-pack/plugins/observability/public/hooks/slo/query_key_factory.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_composite_slo_list.ts
  x-pack/plugins/observability/server/services/composite_slo/composite_slo_repository.ts
  x-pack/plugins/observability/server/services/composite_slo/find_composite_slo.ts
Labels: release_note:skip, Team: Actionable Observability, v8.9.0

#158847 [Dashboard] Fix edit embeddable test
  test/functional/apps/dashboard/group1/edit_embeddable_redirects.ts
Labels: Feature:Dashboard, Team:Presentation, loe:days, release_note:skip, impact:critical, v8.9.0

#159135 [Synthetics] adjust synthetics api routes to use /internal prefix
  x-pack/plugins/synthetics/common/constants/synthetics/rest_api.ts
  x-pack/plugins/synthetics/server/routes/filters/filters.ts
Labels: bug, Team:uptime, release_note:skip, v8.8.2

#159069 chore(slo): improve calendar slo
  packages/kbn-slo-schema/src/schema/time_window.test.ts
  packages/kbn-slo-schema/src/schema/time_window.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/check_registered_types.test.ts
  x-pack/plugins/observability/public/data/slo/slo.ts
  x-pack/plugins/observability/public/data/slo/time_window.ts
  x-pack/plugins/observability/public/pages/slo_details/components/error_budget_chart_panel.tsx
  x-pack/plugins/observability/public/pages/slo_details/components/overview.tsx
  x-pack/plugins/observability/public/pages/slo_details/components/sli_chart_panel.tsx
  x-pack/plugins/observability/public/pages/slo_edit/constants.ts
  x-pack/plugins/observability/public/pages/slo_edit/slo_edit.test.tsx
  x-pack/plugins/observability/public/pages/slos/components/badges/slo_time_window_badge.stories.tsx
  x-pack/plugins/observability/public/pages/slos/components/badges/slo_time_window_badge.tsx
  x-pack/plugins/observability/public/utils/slo/labels.ts
  x-pack/plugins/observability/server/domain/services/date_range.test.ts
  x-pack/plugins/observability/server/domain/services/validate_slo.test.ts
  x-pack/plugins/observability/server/lib/collectors/fetcher.ts
  x-pack/plugins/observability/server/saved_objects/slo.ts
  x-pack/plugins/observability/server/services/slo/find_slo.test.ts
  x-pack/plugins/observability/server/services/slo/fixtures/slo.ts
  x-pack/plugins/observability/server/services/slo/fixtures/time_window.ts
  x-pack/plugins/observability/server/services/slo/get_slo.test.ts
  x-pack/plugins/observability/server/services/slo/historical_summary_client.test.ts
  x-pack/plugins/observability/server/services/slo/sli_client.ts
  x-pack/test/observability_api_integration/apis/composite_slo/create.ts
  x-pack/test/observability_api_integration/fixtures/composite_slo.ts
  x-pack/test/observability_api_integration/fixtures/kbn_archiver/saved_objects/simple_composite_slo.json
  x-pack/test/observability_api_integration/fixtures/kbn_archiver/saved_objects/slo.json
Labels: release_note:skip, Team: Actionable Observability, v8.9.0

#159142 [8.8] [TaskManager] log health on interval with background_tasks only role (#158890)
  x-pack/plugins/task_manager/server/lib/log_health_metrics.ts
  x-pack/plugins/task_manager/server/plugin.ts
Labels: backport

#159140 Adds link to May 2023 contributors newsletter.
  nav-kibana-dev.docnav.json
Labels: release_note:skip, backport:skip, docs, v8.9.0

#159160 [8.8] [maps] fix Map orphans sources on layer deletion (#159067)
  packages/kbn-mapbox-gl/index.ts
  x-pack/plugins/maps/public/connected_components/mb_map/mb_map.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/remove_orphaned.test.ts
  x-pack/plugins/maps/public/connected_components/mb_map/remove_orphaned.ts
Labels: backport

#158983 Fix observability solution name
  docs/setup/connect-to-elasticsearch.asciidoc
Labels: release_note:skip, backport-v8.0.0, v8.8.0

#159163 [8.8] Fix observability solution name (#158983)
  docs/setup/connect-to-elasticsearch.asciidoc
Labels: backport

#158984 [DOCS] Fix links to ingest content in the obs guide
  docs/getting-started/quick-start-guide.asciidoc
Labels: release_note:skip, backport-v8.0.0, v8.8.0

#158904 Add introduction and examples for the model version API
  packages/core/saved-objects/core-saved-objects-server/README.md
  packages/core/saved-objects/core-saved-objects-server/docs/assets/mv_img_1.png
  packages/core/saved-objects/core-saved-objects-server/docs/model_versions.md
  packages/core/saved-objects/core-saved-objects-server/src/model_version/model_change.ts
  packages/core/saved-objects/core-saved-objects-server/src/model_version/model_version.ts
Labels: Team:Core, release_note:skip, v8.9.0

#159015 [Profling] reading kibana yml values
  x-pack/plugins/profiling/server/index.ts
  x-pack/plugins/profiling/server/lib/setup/fleet_policies.test.ts
  x-pack/plugins/profiling/server/lib/setup/fleet_policies.ts
  x-pack/plugins/profiling/server/lib/setup/types.ts
  x-pack/plugins/profiling/server/plugin.ts
  x-pack/plugins/profiling/server/routes/index.ts
  x-pack/plugins/profiling/server/routes/setup.ts
Labels: release_note:skip, ci:build-cloud-image, v8.9.0

#159111 [ML] Explain Log Rate Spikes: Support `WindowParameters` for `autoAnalysisStart`.
  x-pack/packages/ml/aiops_utils/src/get_window_parameters.ts
  x-pack/packages/ml/aiops_utils/tsconfig.json
  x-pack/plugins/aiops/public/components/document_count_content/document_count_chart/document_count_chart.tsx
  x-pack/plugins/aiops/public/components/document_count_content/document_count_content/document_count_content.tsx
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_content/explain_log_rate_spikes_content.tsx
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_content/explain_log_rate_spikes_content_wrapper.tsx
Labels: :ml, release_note:skip, Feature:ML/AIOps, v8.9.0

#159108 [8.8] Fix hover Action showing for zero Count on D&R Dashboard (#158902)
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/host_alerts_table.test.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/host_alerts_table/host_alerts_table.tsx
  x-pack/plugins/security_solution/public/overview/components/detection_response/user_alerts_table/user_alerts_table.tsx
Labels: backport
