Repository elastic/kibana, pull requests merged in 2023-10, with the labels that each got.

#162383 Bump cypress@13.3.0
  .buildkite/pipelines/pull_request/security_solution.yml
  package.json
  renovate.json
  x-pack/plugins/apm/ftr_e2e/cypress.config.ts
  x-pack/plugins/apm/ftr_e2e/cypress_test_runner.ts
  x-pack/plugins/apm/ftr_e2e/ftr_config.ts
  x-pack/plugins/observability_onboarding/e2e/cypress.config.ts
  x-pack/plugins/observability_onboarding/e2e/ftr_config_runner.ts
  x-pack/plugins/profiling/e2e/cypress.config.ts
  x-pack/plugins/profiling/e2e/ftr_config_runner.ts
  x-pack/plugins/security_solution/scripts/run_cypress/parallel.ts
  x-pack/plugins/security_solution/scripts/run_cypress/print_run.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/detection_page_filters.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/open_timeline.cy.ts
  x-pack/test_serverless/functional/test_suites/observability/cypress/cypress.config.ts
  yarn.lock
Labels: Team:APM, release_note:skip, Team:Fleet, ci:all-cypress-suites

#166501 [DE][Cypress] Re-enable cypress serverless tests subset
  .github/CODEOWNERS
  x-pack/plugins/security_solution/public/detections/components/rules/multi_select_fields/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/step_about_rule/index.tsx
  x-pack/test/security_solution_cypress/cypress/data/detection_engine.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/common_flows.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/custom_query_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_details/common_flows.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_edit/custom_query_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/deletion/rule_delete.cy.ts
  x-pack/test/security_solution_cypress/cypress/screens/create_new_rule.ts
  x-pack/test/security_solution_cypress/cypress/screens/rule_details.ts
  x-pack/test/security_solution_cypress/cypress/tasks/create_new_rule.ts
  x-pack/test/security_solution_cypress/package.json
Labels: release_note:skip, v8.11.0

#166772 Single list of rule types in observability without grouping
  x-pack/plugins/apm/common/rules/apm_rule_types.ts
  x-pack/plugins/apm/public/components/alerting/rule_types/register_apm_rule_types.ts
  x-pack/plugins/infra/public/alerting/inventory/index.ts
  x-pack/plugins/infra/public/alerting/log_threshold/log_threshold_rule_type.tsx
  x-pack/plugins/infra/public/alerting/metric_threshold/index.ts
  x-pack/plugins/observability/public/pages/rules/rules.test.tsx
  x-pack/plugins/observability/public/pages/rules/rules.tsx
  x-pack/plugins/observability/public/rules/create_observability_rule_type_registry.ts
  x-pack/plugins/observability/public/rules/register_observability_rule_types.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_type_compare.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/rule_type_compare.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_add.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: Team:APM, release_note:skip

#167612 Move single migration failure integration tests to a separate group
  src/core/server/integration_tests/saved_objects/migrations/group5/dot_kibana_split.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group6/jest.integration.config.js
  src/core/server/integration_tests/saved_objects/migrations/group6/single_migrator_failures.test.ts
Labels: Team:Core, release_note:skip, backport:skip, v8.11.0

#167132 [APM] Add time range to event metadata API
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/transaction_tabs.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/span_flyout/index.tsx
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/transaction_flyout/index.tsx
  x-pack/plugins/apm/public/components/shared/metadata_table/error_metadata/index.tsx
  x-pack/plugins/apm/public/components/shared/metadata_table/span_metadata/index.tsx
  x-pack/plugins/apm/public/components/shared/metadata_table/transaction_metadata/index.tsx
  x-pack/plugins/apm/server/routes/event_metadata/get_event_metadata.ts
  x-pack/plugins/apm/server/routes/event_metadata/route.ts
  x-pack/test/apm_api_integration/tests/event_metadata/event_metadata.spec.ts
Labels: release_note:enhancement, Team:APM, v8.11.0

#167600 [TLS-697] Chore: Add Production GPCTL dashboard link
  .github/workflows/create-deploy-tag.yml
Labels: Team:Operations, release_note:skip, Internal

#167732 [8.10] Bump cypress@13.3.0 (#162383)
  .buildkite/pipelines/pull_request/security_solution.yml
  package.json
  renovate.json
  x-pack/plugins/apm/ftr_e2e/cypress.config.ts
  x-pack/plugins/apm/ftr_e2e/cypress_test_runner.ts
  x-pack/plugins/apm/ftr_e2e/ftr_config.ts
  x-pack/plugins/observability_onboarding/e2e/cypress.config.ts
  x-pack/plugins/observability_onboarding/e2e/ftr_config_runner.ts
  x-pack/plugins/profiling/e2e/cypress.config.ts
  x-pack/plugins/profiling/e2e/ftr_config_runner.ts
  x-pack/plugins/security_solution/scripts/run_cypress/parallel.ts
  x-pack/plugins/security_solution/scripts/run_cypress/print_run.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/detection_page_filters.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/open_timeline.cy.ts
  x-pack/test_serverless/functional/test_suites/observability/cypress/cypress.config.ts
  yarn.lock
Labels: backport, Team:APM

#167748 [Fleet] fix endpoint test
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
Labels: release_note:skip, Team:Fleet

#167704 [APM] Ensure APM data view is available across all spaces
  x-pack/plugins/apm/server/plugin.ts
Labels: release_note:fix, Team:APM, v8.11.0

#167745 [Security Solution][Detection Engine] fixes type errors, adds category for new ES|QL rule type
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/esql/create_esql_alert_type.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, v8.11.0

#167550 [8.10] [Uptime] Filter out run once documents (#166704)
  x-pack/plugins/synthetics/common/requests/get_certs_request_body.ts
  x-pack/plugins/uptime/common/requests/get_certs_request_body.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/lib.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/__snapshots__/get_monitor_duration.test.ts.snap
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_certs.test.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_latest_monitor.test.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_latest_monitor.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_monitor_availability.test.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_monitor_availability.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_monitor_duration.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_monitor_locations.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_monitor_status.test.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_monitor_status.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_ping_histogram.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_pings.test.ts
  x-pack/plugins/uptime/server/legacy_uptime/lib/requests/get_pings.ts
  x-pack/test/api_integration/apis/uptime/constants.ts
  x-pack/test/api_integration/apis/uptime/get_all_pings.ts
  x-pack/test/api_integration/apis/uptime/rest/__snapshots__/monitor_states_real_data.snap
  x-pack/test/api_integration/apis/uptime/rest/monitor_states_real_data.ts
Labels: backport, Team:uptime

#167318 [Fleet] Vastly improve performance of Fleet final pipeline's date formatting logic for `event.ingested`
  x-pack/plugins/fleet/server/constants/fleet_es_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/final_pipeline.ts
Labels: release_note:fix, Team:Fleet

#167546 [8.10] [Security Solution] Correct the license_uuid reference name in the Endpoint Policy (#167194)
  src/core/server/integration_tests/saved_objects/migrations/group2/check_registered_types.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_11_0.test.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_11_0.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_11_0_2.test.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_11_0_2.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.test.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.ts
Labels: backport, Team:Fleet

#167708 [test/cases] Fix unhandled promise rejection
  x-pack/test/functional/services/cases/list.ts
Labels: release_note:skip, Team:ResponseOps

#159486 [SecuritySolution] Security Solution Dashboard edit mode
  src/plugins/dashboard/public/dashboard_app/dashboard_app.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/dashboard_editing_toolbar.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/use_dashboard_menu_items.tsx
  src/plugins/dashboard/public/dashboard_container/component/empty_screen/dashboard_empty_screen.tsx
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container_factory.tsx
  src/plugins/dashboard/public/dashboard_top_nav/_dashboard_top_nav.scss
  src/plugins/dashboard/public/dashboard_top_nav/dashboard_top_nav_with_context.tsx
  src/plugins/dashboard/public/dashboard_top_nav/index.tsx
  src/plugins/dashboard/public/dashboard_top_nav/internal_dashboard_top_nav.tsx
  src/plugins/dashboard/public/index.ts
  src/plugins/embeddable/public/embeddable_panel/embeddable_panel.tsx
  src/plugins/embeddable/public/embeddable_panel/panel_actions/edit_panel_action/edit_panel_action.test.tsx
  src/plugins/embeddable/public/embeddable_panel/panel_actions/edit_panel_action/edit_panel_action.ts
  src/plugins/embeddable/public/embeddable_panel/types.ts
  src/plugins/embeddable/public/index.ts
  src/plugins/embeddable/public/lib/embeddables/embeddable.tsx
  src/plugins/embeddable/public/lib/embeddables/i_embeddable.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/security_solution/public/app/app.tsx
  x-pack/plugins/security_solution/public/app/home/global_header/index.test.tsx
  x-pack/plugins/security_solution/public/app/home/global_header/index.tsx
  x-pack/plugins/security_solution/public/app/home/index.test.tsx
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/app/index.tsx
  x-pack/plugins/security_solution/public/app/routes.tsx
  x-pack/plugins/security_solution/public/common/components/visualization_actions/use_actions.test.tsx
  x-pack/plugins/security_solution/public/common/containers/tags/__mocks__/api.ts
  x-pack/plugins/security_solution/public/common/lib/kibana/kibana_react.mock.ts
  x-pack/plugins/security_solution/public/dashboards/components/dashboard_renderer.test.tsx
  x-pack/plugins/security_solution/public/dashboards/components/dashboard_renderer.tsx
  x-pack/plugins/security_solution/public/dashboards/components/dashboard_title.tsx
  x-pack/plugins/security_solution/public/dashboards/components/dashboard_tool_bar.test.tsx
  x-pack/plugins/security_solution/public/dashboards/components/dashboard_tool_bar.tsx
  x-pack/plugins/security_solution/public/dashboards/components/edit_dashboard_button.test.tsx
  x-pack/plugins/security_solution/public/dashboards/components/edit_dashboard_button.tsx
  x-pack/plugins/security_solution/public/dashboards/context/dashboard_context.tsx
  x-pack/plugins/security_solution/public/dashboards/hooks/translations.ts
  x-pack/plugins/security_solution/public/dashboards/hooks/use_create_security_dashboard_link.test.tsx
  x-pack/plugins/security_solution/public/dashboards/hooks/use_create_security_dashboard_link.ts
  x-pack/plugins/security_solution/public/dashboards/hooks/use_dashboard_renderer.test.tsx
  x-pack/plugins/security_solution/public/dashboards/hooks/use_dashboard_renderer.tsx
  x-pack/plugins/security_solution/public/dashboards/hooks/use_security_dashboards_table.tsx
  x-pack/plugins/security_solution/public/dashboards/pages/breadcrumbs.ts
  x-pack/plugins/security_solution/public/dashboards/pages/details/index.test.tsx
  x-pack/plugins/security_solution/public/dashboards/pages/details/index.tsx
  x-pack/plugins/security_solution/public/dashboards/pages/details/translations.ts
  x-pack/plugins/security_solution/public/dashboards/pages/index.tsx
  x-pack/plugins/security_solution/public/dashboards/pages/landing_page/index.test.tsx
  x-pack/plugins/security_solution/public/dashboards/pages/landing_page/index.tsx
  x-pack/plugins/security_solution/public/dashboards/pages/translations.ts
  x-pack/plugins/security_solution/public/helpers.tsx
  x-pack/plugins/security_solution/public/plugin.tsx
  x-pack/plugins/security_solution/public/types.ts
  x-pack/plugins/security_solution/tsconfig.json
Labels: Feature:Embedding, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, ci:cloud-deploy, Feature:Security Dashboards, v8.11.0

#164087 [AO] Save group information in AAD for the new threshold rule
  packages/kbn-alerts-as-data-utils/src/field_maps/legacy_experimental_field_map.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_apm_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_logs_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_metrics_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_slo_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_uptime_schema.ts
  packages/kbn-rule-data-utils/src/technical_field_names.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/custom_threshold_executor.test.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/custom_threshold_executor.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/register_custom_threshold_rule_type.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/utils.test.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/utils.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/documents_count_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/group_by_fired.ts
Labels: release_note:skip

#166295 [Security solution] Cases webhook, include additional fields
  x-pack/plugins/cases/server/client/cases/utils.test.ts
  x-pack/plugins/cases/server/client/user_actions/connectors.ts
  x-pack/plugins/cases/server/connectors/cases_webook/format.ts
  x-pack/plugins/cases/server/services/user_actions/index.test.ts
  x-pack/plugins/cases/server/services/user_actions/index.ts
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/action_variables.ts
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/severity_filter.tsx
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/status_filter.tsx
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/translations.ts
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/webhook_params.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/webhook_params.tsx
  x-pack/plugins/stack_connectors/server/connector_types/cases_webhook/api.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/cases_webhook/mock.ts
  x-pack/plugins/stack_connectors/server/connector_types/cases_webhook/schema.ts
  x-pack/plugins/stack_connectors/server/connector_types/cases_webhook/service.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/cases_webhook/service.ts
  x-pack/plugins/stack_connectors/tsconfig.json
Labels: release_note:enhancement, Team:Threat Hunting, Team: SecuritySolution, Feature:Cases, Feature:Actions/ConnectorTypes, v8.11.0

#167614 [8.10][Osquery] Backport of Move Osquery/cypress configurations close to cypress (#167428)
  x-pack/plugins/osquery/cypress/cypress.config.ts
  x-pack/plugins/osquery/cypress/e2e/all/add_integration.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/packs_create_edit.cy.ts
  x-pack/plugins/osquery/cypress/e2e/roles/reader.cy.ts
  x-pack/plugins/osquery/cypress/e2e/roles/t1_and_t2_analyst.cy.ts
  x-pack/plugins/osquery/cypress/serverless_cypress.config.ts
  x-pack/plugins/osquery/cypress/support/e2e.ts
  x-pack/plugins/osquery/cypress/tasks/navigation.ts
  x-pack/plugins/osquery/cypress/tsconfig.json
  x-pack/plugins/osquery/package.json
  x-pack/plugins/osquery/tsconfig.json
  x-pack/plugins/security_solution/package.json
  x-pack/plugins/security_solution/public/management/cypress/cypress.config.ts
  x-pack/plugins/security_solution/public/management/cypress/cypress_endpoint.config.ts
  x-pack/plugins/security_solution/public/management/cypress/tsconfig.json
  x-pack/plugins/security_solution/tsconfig.json
  x-pack/test_serverless/functional/test_suites/security/cypress/tasks/login.ts
Labels: backport, chore, Team:Operations, release_note:skip, backport:skip, v8.10.3

#167734 [ML] Fix JSDoc for `@kbn/ml-agg-utils`.
  x-pack/packages/ml/agg_utils/src/build_sampler_aggregation.ts
  x-pack/packages/ml/agg_utils/src/fetch_agg_intervals.ts
  x-pack/packages/ml/agg_utils/src/fetch_histograms_for_fields.ts
  x-pack/packages/ml/agg_utils/src/get_sampler_aggregations_response_path.ts
  x-pack/packages/ml/agg_utils/src/types.ts
  x-pack/packages/ml/agg_utils/src/validate_number.ts
Labels: :ml, release_note:skip, v8.11.0

#167765 chore(deps): Update LaunchDarkly clients
  package.json
  x-pack/plugins/cloud_integrations/cloud_experiments/public/launch_darkly_client/launch_darkly_client.test.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/public/launch_darkly_client/launch_darkly_client.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/launch_darkly_client/launch_darkly_client.test.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/launch_darkly_client/launch_darkly_client.ts
  yarn.lock
Labels: Team:Core, release_note:skip, backport:prev-minor, Team:Journey/Onboarding

#167501 Add test utilities for model version testing
  .github/CODEOWNERS
  package.json
  packages/core/test-helpers/core-test-helpers-model-versions/README.md
  packages/core/test-helpers/core-test-helpers-model-versions/index.ts
  packages/core/test-helpers/core-test-helpers-model-versions/jest.config.js
  packages/core/test-helpers/core-test-helpers-model-versions/kibana.jsonc
  packages/core/test-helpers/core-test-helpers-model-versions/package.json
  packages/core/test-helpers/core-test-helpers-model-versions/src/elasticsearch.ts
  packages/core/test-helpers/core-test-helpers-model-versions/src/test_bed.ts
  packages/core/test-helpers/core-test-helpers-model-versions/src/test_kit.ts
  packages/core/test-helpers/core-test-helpers-model-versions/src/type_registry.ts
  packages/core/test-helpers/core-test-helpers-model-versions/src/types.ts
  packages/core/test-helpers/core-test-helpers-model-versions/tsconfig.json
  src/core/server/integration_tests/saved_objects/migrations/zdt_2/sor_higher_version_docs.test.ts
  src/core/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: Team:Core, release_note:skip, Feature:Unit Testing, v8.11.0

#167305 [APM] Add telemetry for calculating global labels used in computing aggrega…
  x-pack/plugins/apm/common/__snapshots__/apm_telemetry.test.ts.snap
  x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.test.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/schema.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/telemetry_client.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/types.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: Team:APM, release_note:skip

#167697 [ML] Trained models: Functional tests
  x-pack/plugins/ml/public/application/components/ml_inference/add_inference_pipeline_flyout.tsx
  x-pack/plugins/ml/public/application/components/ml_inference/components/review_and_create_pipeline.tsx
  x-pack/test/functional/apps/ml/short_tests/model_management/model_list.ts
  x-pack/test/functional/services/ml/deploy_models_flyout.ts
Labels: :ml, release_note:skip, Feature:Data Frame Analytics, Feature:Functional Testing, v8.11.0

#166668 [ML] Add Create a data view button to index or saved search selector in ML pages and Transforms management
  x-pack/plugins/ml/public/application/app.tsx
  x-pack/plugins/ml/public/application/components/create_data_view_button/create_data_view_button.tsx
  x-pack/plugins/ml/public/application/components/create_data_view_button/index.ts
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/source_selection/source_selection.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/index_or_search/page.tsx
  x-pack/plugins/transform/kibana.jsonc
  x-pack/plugins/transform/public/app/app_dependencies.tsx
  x-pack/plugins/transform/public/app/mount_management_section.ts
  x-pack/plugins/transform/public/app/sections/transform_management/components/search_selection/search_selection.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/transform_management_section.tsx
  x-pack/plugins/transform/public/plugin.ts
  x-pack/plugins/transform/tsconfig.json
Labels: release_note:enhancement, :ml, Feature:Transforms, v8.11.0

#167498 Update check_type_commits.sh with changes from 8.10
  .buildkite/scripts/steps/check_types_commits.sh
Labels: release_note:skip, auto-backport, v8.11.0, v8.10.3

#167190 [Logs onboarding] Landing page UI tweaks
  x-pack/plugins/observability_onboarding/public/components/app/home/index.tsx
Labels: Team:APM, release_note:skip, v8.11.0

#166843 [ML] Amends the ML app description on the management page
  packages/kbn-management/cards_navigation/src/consts.tsx
  x-pack/plugins/ml/public/application/management/jobs_list/components/jobs_list_page/jobs_list_page.tsx
Labels: :ml, release_note:skip, ui-copy, v8.11.0

#167609 [8.10][Ops] Re-enable typecheck
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/pipelines/pull_request/type_check_selective.yml
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: backport, chore, Team:Operations, release_note:skip, backport:skip, v8.10.3

#167477 [Profiling] New Profiling ES Flamegraph API
  src/plugins/kibana_usage_collection/server/collectors/management/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/management/types.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/apm/server/routes/profiling/route.ts
  x-pack/plugins/observability/common/index.ts
  x-pack/plugins/observability/common/ui_settings_keys.ts
  x-pack/plugins/observability/server/ui_settings.ts
  x-pack/plugins/profiling/server/routes/flamechart.ts
  x-pack/plugins/profiling/server/routes/topn.test.ts
  x-pack/plugins/profiling/server/utils/create_profiling_es_client.ts
  x-pack/plugins/profiling_data_access/common/profiling_es_client.ts
  x-pack/plugins/profiling_data_access/server/services/fetch_flamechart/index.ts
  x-pack/plugins/profiling_data_access/server/utils/create_profiling_es_client.ts
  x-pack/test/profiling_api_integration/tests/__snapshots__/flamegraph.spec.snap
  x-pack/test/profiling_api_integration/tests/flamegraph.spec.ts
Labels: release_note:enhancement, Team:APM, v8.11.0

#167627 [Defend Workflows][Fleet] Hide uninstall token for Cloud Agent Policy
  x-pack/plugins/fleet/server/services/security/uninstall_token_service/index.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows, ci:cloud-deploy, v8.11.0

#167534 [8.10] [Maps] Update map report image test threshold for new EMS styles (#167162)
  x-pack/test/functional/apps/dashboard/group3/reporting/screenshots.ts
Labels: backport

#167570 Adds api integration tests for core to serverless common
  x-pack/test_serverless/api_integration/test_suites/common/core/capabilities.ts
  x-pack/test_serverless/api_integration/test_suites/common/core/compression.ts
  x-pack/test_serverless/api_integration/test_suites/common/core/index.ts
  x-pack/test_serverless/api_integration/test_suites/common/core/translations.ts
  x-pack/test_serverless/api_integration/test_suites/observability/common_configs/config.group1.ts
  x-pack/test_serverless/api_integration/test_suites/search/common_configs/config.group1.ts
  x-pack/test_serverless/api_integration/test_suites/security/common_configs/config.group1.ts
Labels: Team:Core, release_note:skip, backport:skip, ci:build-serverless-image, v8.11.0

#167584 [ML] Data frame analytics: ensures destination index setting is persisted when cloning
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_creation/components/details_step/details_step_form.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/cloning.ts
  x-pack/test/functional/services/ml/data_frame_analytics_creation.ts
Labels: :ml, release_note:skip, Feature:Data Frame Analytics, v8.11.0

#167780 [Fleet] fix upgradeable check to allow to newer snapshot
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.ts
Labels: release_note:skip, Team:Fleet

#167770 [Enterprise Search] Show advanced ui configs for managed connectors
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration_logic.ts
Labels: release_note:enhancement, Team:EnterpriseSearch, v8.11.0

#167797 [8.10] Update check_type_commits.sh with changes from 8.10 (#167498)
  .buildkite/scripts/steps/check_types_commits.sh
Labels: backport

#167718 [ci] Add timeout to pick test groups step
  .buildkite/pipelines/code_coverage/daily.yml
  .buildkite/pipelines/es_serverless/verify_es_serverless_image.yml
  .buildkite/pipelines/es_snapshots/verify.yml
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/base.yml
Labels: Team:Operations, release_note:skip, backport:all-open

#167693 Upgrade chai to 4.3.10
  .buildkite/package-lock.json
  .buildkite/package.json
Labels: Team:Operations, release_note:skip, backport:all-open

#166760 remove duplicative types from search_source types
  src/plugins/data/common/search/search_source/normalize_sort_request.test.ts
  src/plugins/data/common/search/search_source/normalize_sort_request.ts
  src/plugins/data/common/search/search_source/types.ts
  src/plugins/discover/public/application/context/utils/fetch_hits_in_interval.ts
  src/plugins/discover/public/application/context/utils/get_es_query_search_after.ts
Labels: release_note:skip, Team:DataDiscovery, v8.11.0

#167460 [Security Solution][Entity Analytics] Risk Scoring Task tuning
  x-pack/plugins/security_solution/server/lib/risk_engine/calculate_risk_scores.ts
  x-pack/plugins/security_solution/server/lib/risk_engine/tasks/constants.ts
  x-pack/plugins/security_solution/server/lib/risk_engine/tasks/risk_scoring_task.test.ts
  x-pack/plugins/security_solution/server/lib/risk_engine/tasks/risk_scoring_task.ts
  x-pack/plugins/security_solution/server/lib/risk_engine/utils/saved_object_configuration.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/risk_engine/init_and_status_apis.ts
Labels: release_note:skip, Theme: entity_analytics, AET, Feature:Entity Analytics, Team:Detection Engine, v8.11.0

#167782 [AO] Set the Custom Threshold ONLY available on stateful as Tech Preview
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/observability/public/components/custom_threshold/mocks/metric_threshold_rule.ts
  x-pack/plugins/observability/server/index.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/register_custom_threshold_rule_type.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/avg_pct_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/avg_pct_no_data.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/avg_us_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/custom_eq_avg_bytes_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/documents_count_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/group_by_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_no_data.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/custom_eq_avg_bytes_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/documents_count_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/group_by_fired.ts
Labels: release_note:skip, backport:skip, Team: Actionable Observability, v8.11.0

#167216 [Fleet] Add sidebarNav showing headings extracted from the readme
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/markdown_renderers.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/overview.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/readme.tsx
Labels: release_note:enhancement, Team:Fleet, v8.11.0

#167796 [Search][Search Experience]Add backend gated API to WS gated form
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/gated_form.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/gated_form_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/gated_form_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/gated_form_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/gated_form_logic.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/gated_form_page.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/index.ts
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/overview.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/views/overview/overview.tsx
  x-pack/plugins/enterprise_search/server/routes/workplace_search/gated_form.test.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/gated_form.ts
  x-pack/plugins/enterprise_search/server/routes/workplace_search/index.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.11.0

#167141 [Lens] Other bucket defaults to false for top values greater than equal 1000
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/dimension_editor.tsx
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/dimension_editor_helpers.test.ts
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/dimensions_editor_helpers.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/terms/constants.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/terms/helpers.test.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/terms/helpers.ts
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/terms/index.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/terms/terms.test.tsx
Labels: release_note:enhancement, Team:Visualizations, Feature:Lens, backport:skip, v8.11.0

#167810 [kbn-journey] temporary disable APM for ES
  src/dev/performance/run_performance_cli.ts
  src/dev/tsconfig.json
Labels: release_note:skip, backport:skip, v8.11.0

#167691 [Response Ops][Alerting] Update framework alerts client to write flattened alerts docs
  packages/kbn-alerts-as-data-utils/src/schemas/create_schema_from_field_map.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/alert_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/ecs_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/legacy_alert_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/ml_anomaly_detection_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_apm_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_logs_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_metrics_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_slo_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_uptime_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/security_schema.ts
  packages/kbn-alerts-as-data-utils/src/schemas/generated/stack_schema.ts
  x-pack/plugins/alerting/server/alert/alert.test.ts
  x-pack/plugins/alerting/server/alert/alert.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/lib/alert_conflict_resolver.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/alert_conflict_resolver.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_new_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_new_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_ongoing_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_ongoing_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_recovered_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_recovered_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_updated_recovered_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_updated_recovered_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/format_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/format_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/format_rule.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/format_rule.ts
  x-pack/plugins/alerting/server/alerts_client/lib/get_summarized_alerts_query.ts
  x-pack/plugins/alerting/server/alerts_client/lib/index.ts
  x-pack/plugins/alerting/server/alerts_client/lib/strip_framework_fields.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/test_fixtures.ts
  x-pack/plugins/alerting/server/alerts_client/types.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_alerts_client.test.ts
  x-pack/plugins/ml/server/lib/alerts/register_anomaly_detection_alert_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/executor.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/executor.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/rule_type.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/index_threshold/rule_type.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/index_threshold/rule_type.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group2/ml_rule_types/anomaly_detection/alert.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/es_query/esql_only.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/es_query/rule.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/index_threshold/alert.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/alerts_as_data.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/alerts_as_data_conflicts.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/alerts_as_data_flapping.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/alert_documents.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/summary_actions.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, Feature:Alerting/Alerts-as-Data, v8.11.0

#167813 [8.10] Upgrade chai to 4.3.10 (#167693)
  .buildkite/package-lock.json
  .buildkite/package.json
Labels: backport

#167149 [Fleet] Prefer sha256 for reading GPG package verification key
  src/dev/build/tasks/fleet/download_elastic_gpg_key.ts
  x-pack/plugins/fleet/server/config.ts
  x-pack/plugins/fleet/server/services/epm/packages/package_verification.ts
Labels: release_note:skip, Team:Fleet, backport:prev-minor

#167778 Make risk engine feature flags default true
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/explore/components/risk_score/risk_score_onboarding/risk_score_enable_button.test.tsx
  x-pack/test/detection_engine_api_integration/common/config.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
  x-pack/test/security_solution_cypress/config.ts
  x-pack/test/security_solution_cypress/serverless_config.ts
Labels: release_note:skip

#164506 [search source] remove is_partial check
  examples/search_examples/public/search/app.tsx
  examples/search_examples/public/search_sessions/app.tsx
  examples/search_examples/public/sql_search/app.tsx
  src/plugins/data/README.mdx
  src/plugins/data/common/search/poll_search.test.ts
  src/plugins/data/common/search/poll_search.ts
  src/plugins/data/common/search/search_source/search_source.ts
  src/plugins/data/common/search/utils.test.ts
  src/plugins/data/common/search/utils.ts
  src/plugins/data/public/index.ts
  src/plugins/data/public/search/search_interceptor/search_interceptor.test.ts
  src/plugins/data/public/search/search_interceptor/search_interceptor.ts
  src/plugins/data/public/search/search_interceptor/search_response_cache.test.ts
  src/plugins/data/public/search/search_interceptor/search_response_cache.ts
  src/plugins/data/server/search/collectors/search/usage.ts
  src/plugins/data/server/search/session/get_search_status.test.ts
  src/plugins/data/server/search/session/get_search_status.ts
  src/plugins/data/server/search/strategies/sql_search/sql_search_strategy.test.ts
  src/plugins/data/server/search/strategies/sql_search/sql_search_strategy.ts
  src/plugins/discover/public/application/main/utils/fetch_documents.ts
  src/plugins/unified_histogram/public/chart/hooks/use_total_hits.ts
  x-pack/plugins/aiops/public/components/log_categorization/use_categorize_request.ts
  x-pack/plugins/aiops/public/hooks/use_cancellable_search.ts
  x-pack/plugins/enterprise_search/public/applications/analytics/components/analytics_collection_view/analytics_collection_explore_table_logic.ts
  x-pack/plugins/observability_shared/public/hooks/use_es_search.ts
  x-pack/plugins/security_solution/public/common/components/events_viewer/use_timelines_events.tsx
  x-pack/plugins/security_solution/public/common/containers/cti/event_enrichment/api.ts
  x-pack/plugins/security_solution/public/common/containers/events/last_event_time/index.ts
  x-pack/plugins/security_solution/public/common/containers/matrix_histogram/index.ts
  x-pack/plugins/security_solution/public/common/containers/use_search_strategy/index.test.ts
  x-pack/plugins/security_solution/public/common/containers/use_search_strategy/index.tsx
  x-pack/plugins/security_solution/public/explore/network/containers/kpi_network/dns/index.tsx
  x-pack/plugins/security_solution/public/explore/network/containers/kpi_network/network_events/index.tsx
  x-pack/plugins/security_solution/public/explore/network/containers/kpi_network/tls_handshakes/index.tsx
  x-pack/plugins/security_solution/public/explore/network/containers/kpi_network/unique_flows/index.tsx
  x-pack/plugins/security_solution/public/explore/network/containers/kpi_network/unique_private_ips/index.tsx
  x-pack/plugins/security_solution/public/flyout/left/services/find_alerts.ts
  x-pack/plugins/security_solution/public/overview/containers/overview_cti_links/use_ti_data_sources.ts
  x-pack/plugins/security_solution/public/timelines/containers/details/index.tsx
  x-pack/plugins/security_solution/public/timelines/containers/index.tsx
  x-pack/plugins/security_solution/public/timelines/containers/kpis/index.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/state/elasticsearch/api.ts
  x-pack/plugins/threat_intelligence/public/modules/indicators/hooks/use_total_count.tsx
  x-pack/plugins/threat_intelligence/public/utils/search.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_fetch_alerts.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_fetch_alerts.tsx
  x-pack/plugins/ux/public/components/app/rum_dashboard/ux_overview_fetchers.ts
Labels: Feature:Search, Team:uptime, release_note:skip, Team:DataDiscovery, ci:skip-cypress-osquery, v8.11.0

#166141 [Defend Workflows] User receives warnings that an artifact is expiring and that they should update
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/protection_updates/protection_updates_layout.tsx
Labels: release_note:skip, Team:Defend Workflows, v8.11.0

#167722 [8.10] fix(slo): Handle partial indicator url state (#167247)
  x-pack/plugins/observability/public/pages/slo_edit/components/apm_availability/apm_availability_indicator_type_form.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/apm_latency/apm_latency_indicator_type_form.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form.tsx
  x-pack/plugins/observability/public/pages/slo_edit/helpers/process_slo_form_values.test.ts
  x-pack/plugins/observability/public/pages/slo_edit/helpers/process_slo_form_values.ts
  x-pack/plugins/observability/public/pages/slo_edit/hooks/use_parse_url_state.ts
  x-pack/plugins/observability/public/pages/slo_edit/hooks/use_unregister_fields.ts
  x-pack/plugins/observability/public/pages/slo_edit/slo_edit.test.tsx
Labels: backport

#165280 [Security Solution] Migrate risk score internal APIs to versioned router
  x-pack/plugins/security_solution/public/explore/containers/risk_score/feature_status/api.ts
  x-pack/plugins/security_solution/public/explore/containers/risk_score/onboarding/api/onboarding.ts
  x-pack/plugins/security_solution/public/explore/containers/risk_score/onboarding/api/saved_objects.ts
  x-pack/plugins/security_solution/public/explore/containers/risk_score/onboarding/api/stored_scripts.ts
  x-pack/plugins/security_solution/server/lib/risk_score/index_status/index.ts
  x-pack/plugins/security_solution/server/lib/risk_score/indices/create_index_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/indices/delete_indices_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/onboarding/routes/install_risk_scores.ts
  x-pack/plugins/security_solution/server/lib/risk_score/prebuilt_dev_tool_content/routes/read_prebuilt_dev_tool_content_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/prebuilt_saved_objects/routes/create_prebuilt_saved_objects.ts
  x-pack/plugins/security_solution/server/lib/risk_score/prebuilt_saved_objects/routes/delete_prebuilt_saved_objects.ts
  x-pack/plugins/security_solution/server/lib/risk_score/stored_scripts/create_script_route.ts
  x-pack/plugins/security_solution/server/lib/risk_score/stored_scripts/delete_script_route.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/risk_engine/utils.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/risk_scores/index.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/risk_scores/indices.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/risk_scores/saved_objects.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/risk_scores/stored_scripts.ts
Labels: release_note:skip, Team: SecuritySolution, v8.11.0

#167738 [7.17] Bump cypress@13.3.0 (#162383)
  .buildkite/pipelines/pull_request/security_solution.yml
  package.json
  x-pack/plugins/apm/ftr_e2e/cypress_start.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/alerts_details.cy.ts
  x-pack/plugins/security_solution/cypress/scripts/run_cypress/parallel.ts
  x-pack/plugins/security_solution/cypress/scripts/run_cypress/print_run.ts
  x-pack/plugins/security_solution/cypress/tasks/timeline.ts
  yarn.lock
Labels: backport

#167725 [UnifiedDataTable] add row line-height override support
  packages/kbn-unified-data-table/src/components/data_table.test.tsx
  packages/kbn-unified-data-table/src/components/data_table.tsx
  packages/kbn-unified-data-table/src/constants.ts
  packages/kbn-unified-data-table/src/hooks/use_row_heights_options.ts
Labels: release_note:skip, 8.11 candidate, Feature:UnifiedDataTable

#166576 [data views mgmt] Disable spaces UI in single space mode
  src/plugins/data_view_management/public/components/index_pattern_table/index_pattern_table.tsx
  src/plugins/data_view_management/public/management_app/mount_management_section.tsx
  x-pack/test_serverless/functional/test_suites/common/management/data_view_mgmt.ts
Labels: Feature:Data Views, Feature:Kibana Management, release_note:skip, Team:DataDiscovery

#167674 [Security solution] Improve AI connector error handling
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/chat_send/use_chat_send.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/helpers.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/translations.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_send_messages/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant_context/types.tsx
  x-pack/plugins/security_solution/public/assistant/get_comments/index.test.tsx
  x-pack/plugins/security_solution/public/assistant/get_comments/index.tsx
  x-pack/plugins/stack_connectors/public/connector_types/bedrock/bedrock.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/bedrock/bedrock.tsx
  x-pack/plugins/stack_connectors/public/connector_types/openai/openai.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/openai/openai.tsx
  x-pack/plugins/stack_connectors/server/connector_types/bedrock/bedrock.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/bedrock/bedrock.ts
  x-pack/plugins/stack_connectors/server/connector_types/openai/openai.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/openai/openai.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/bedrock.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/openai.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/chat/chat.spec.ts
Labels: release_note:fix, Team:Threat Hunting, Team: SecuritySolution, v8.11.0

#167800 [CIoud Security][CIS GCP]Fix for commands to be copied
  x-pack/plugins/fleet/public/components/enrollment_instructions/manual/index.tsx
Labels: release_note:skip, Team:Fleet, Team:Cloud Security, v8.11.0

#167835 [Security solution] Bedrock connector - fix svg in dark mode
  x-pack/plugins/stack_connectors/public/connector_types/bedrock/logo.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, v8.11.0

#167839 Reenable type check in api docs build
  .buildkite/scripts/steps/build_api_docs.sh
Labels: release_note:skip, backport:prev-minor, v8.11.0

#167816 [ci] Add cypress based serverless tests to es image verification
  .buildkite/pipelines/es_serverless/verify_es_serverless_image.yml
Labels: Team:Operations, release_note:skip

#167842 [8.10] Reenable type check in api docs build (#167839)
  .buildkite/scripts/steps/build_api_docs.sh
Labels: backport

#167801 [Index Management] Add tech preview badge for DSL
  x-pack/plugins/index_management/public/application/sections/home/data_stream_list/data_stream_table/data_stream_table.tsx
  x-pack/plugins/index_management/public/application/sections/home/data_stream_list/edit_data_retention_modal/edit_data_retention_modal.tsx
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip, ci:cloud-deploy, v8.11.0

#166729 [Security Solution] Add versioned router for timelines #7144
  x-pack/plugins/security_solution/public/timelines/containers/api.test.ts
  x-pack/plugins/security_solution/public/timelines/containers/api.ts
  x-pack/plugins/security_solution/public/timelines/containers/notes/api.ts
  x-pack/plugins/security_solution/public/timelines/containers/pinned_event/api.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/draft_timelines/clean_draft_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/draft_timelines/get_draft_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/notes/delete_note.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/notes/persist_note.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/pinned_events/persist_pinned_event.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/prepackaged_timelines/install_prepackaged_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/create_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/delete_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/export_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/get_timeline/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/get_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/import_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/patch_timelines/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/persist_favorite/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/timelines/resolve_timeline/index.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Threat Hunting:Investigations, 8.11 candidate, v8.11.0

#167500 [APM] Refactor transaction types API to use RollupIntervals and Metrics
  x-pack/plugins/apm/public/components/shared/search_bar/search_bar.test.tsx
  x-pack/plugins/apm/public/context/apm_service/apm_service_context.tsx
  x-pack/plugins/apm/public/context/apm_service/use_service_transaction_types_fetcher.tsx
  x-pack/plugins/apm/public/hooks/use_preferred_data_source_and_bucket_size.ts
  x-pack/plugins/apm/server/lib/helpers/create_es_client/document_type.ts
  x-pack/plugins/apm/server/lib/helpers/transactions/index.ts
  x-pack/plugins/apm/server/lib/transaction_groups/get_coldstart_rate.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/transaction_duration/get_transaction_duration_chart_preview.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/get_transaction_error_rate_chart_preview.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.ts
  x-pack/plugins/apm/server/routes/correlations/queries/fetch_duration_histogram_range_steps.ts
  x-pack/plugins/apm/server/routes/correlations/queries/fetch_duration_percentiles.ts
  x-pack/plugins/apm/server/routes/correlations/queries/fetch_duration_ranges.ts
  x-pack/plugins/apm/server/routes/observability_overview/get_transactions_per_minute.ts
  x-pack/plugins/apm/server/routes/service_map/get_service_map_service_node_info.ts
  x-pack/plugins/apm/server/routes/services/__snapshots__/queries.test.ts.snap
  x-pack/plugins/apm/server/routes/services/annotations/get_derived_service_annotations.ts
  x-pack/plugins/apm/server/routes/services/get_service_instance_metadata_details.ts
  x-pack/plugins/apm/server/routes/services/get_service_instances/get_service_instances_transaction_statistics.ts
  x-pack/plugins/apm/server/routes/services/get_service_transaction_types.ts
  x-pack/plugins/apm/server/routes/services/queries.test.ts
  x-pack/plugins/apm/server/routes/services/route.ts
  x-pack/plugins/apm/server/routes/storage_explorer/get_summary_statistics.ts
  x-pack/plugins/apm/server/routes/storage_explorer/get_total_transactions_per_service.ts
  x-pack/plugins/apm/server/routes/traces/get_top_traces_primary_stats.ts
  x-pack/test/apm_api_integration/tests/feature_controls.spec.ts
  x-pack/test/apm_api_integration/tests/services/transaction_types.spec.ts
Labels: Team:APM, release_note:skip

#167775 [Cloud Security] Add copy and paste fields to the azure guide
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/components/post_install_azure_arm_template_modal.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/azure_arm_template_instructions.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/steps/compute_steps.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/steps/install_azure_arm_template_managed_agent_step.tsx
  x-pack/plugins/fleet/public/components/azure_arm_template_guide.tsx
Labels: release_note:skip, Team:Fleet, Team:Cloud Security

#167746 [Cloud Security] Remove azure suffix from account type
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.test.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/types.ts
  x-pack/plugins/fleet/public/components/azure_arm_template_guide.tsx
Labels: release_note:skip, Team:Fleet, Team:Cloud Security

#167493 [ML] Initial serverless functional tests for ML
  x-pack/plugins/ml/public/register_helper/register_search_links/search_deep_links.ts
  x-pack/test/functional/services/ml/common_api.ts
  x-pack/test/functional/services/ml/test_resources.ts
  x-pack/test/functional/services/ml/trained_models_table.ts
  x-pack/test_serverless/functional/services/deployment_agnostic_services.ts
  x-pack/test_serverless/functional/services/index.ts
  x-pack/test_serverless/functional/services/ml/index.ts
  x-pack/test_serverless/functional/services/ml/observability_navigation.ts
  x-pack/test_serverless/functional/services/ml/security_navigation.ts
  x-pack/test_serverless/functional/test_suites/observability/index.ts
  x-pack/test_serverless/functional/test_suites/observability/ml/anomaly_detection_jobs_list.ts
  x-pack/test_serverless/functional/test_suites/observability/ml/index.ts
  x-pack/test_serverless/functional/test_suites/observability/ml/search_bar_features.ts
  x-pack/test_serverless/functional/test_suites/search/index.ts
  x-pack/test_serverless/functional/test_suites/search/ml/index.ts
  x-pack/test_serverless/functional/test_suites/search/ml/search_bar_features.ts
  x-pack/test_serverless/functional/test_suites/search/ml/trained_models_list.ts
  x-pack/test_serverless/functional/test_suites/security/index.ts
  x-pack/test_serverless/functional/test_suites/security/ml/anomaly_detection_jobs_list.ts
  x-pack/test_serverless/functional/test_suites/security/ml/data_frame_analytics_jobs_list.ts
  x-pack/test_serverless/functional/test_suites/security/ml/index.ts
  x-pack/test_serverless/functional/test_suites/security/ml/search_bar_features.ts
  x-pack/test_serverless/functional/test_suites/security/ml/trained_models_list.ts
Labels: :ml, release_note:skip, v8.11.0

#166611 [Security Solution] [Exceptions] Fix selection `Add to rule` radio button from Alert table
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions/components/add_exception_flyout/index.tsx
Labels: release_note:skip, ci:cloud-deploy, Team:Detection Engine, ci:build-serverless-image, v8.10.3

#166846 [SecuritySolutions] Fix delay when enabling risk engine
  x-pack/plugins/security_solution/public/entity_analytics/components/risk_score_enable_section.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, Theme: entity_analytics, v8.11.0

#162217 [Cloud Security] Vulnerability dashboard api testings
  x-pack/plugins/cloud_security_posture/server/routes/vulnerabilities_dashboard/vulnerabilities_dashboard.ts
  x-pack/test/cloud_security_posture_api/config.ts
  x-pack/test/cloud_security_posture_api/routes/mocks/vulnerabilities_latest_mock.ts
  x-pack/test/cloud_security_posture_api/routes/vulnerabilities_dashboard.ts
  x-pack/test/cloud_security_posture_functional/config.ts
  x-pack/test/cloud_security_posture_functional/mocks/vulnerabilities_latest_mock.ts
  x-pack/test/cloud_security_posture_functional/page_objects/csp_dashboard_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/findings_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/index.ts
  x-pack/test/cloud_security_posture_functional/page_objects/vulnerability_dashboard_page_object.ts
  x-pack/test/cloud_security_posture_functional/pages/index.ts
  x-pack/test/cloud_security_posture_functional/pages/vulnerability_dashboard.ts
  x-pack/test/tsconfig.json
Labels: release_note:skip, Team:Cloud Security

#167848 [TSVB] Stabilize flaky TSVB test
  test/functional/page_objects/visual_builder_page.ts
Labels: Feature:TSVB, Team:Visualizations, release_note:skip, backport:skip

#167407 [ML] ELSER v2 download in the Trained Models UI
  packages/kbn-doc-links/src/get_doc_links.ts
  x-pack/packages/ml/trained_models_utils/index.ts
  x-pack/packages/ml/trained_models_utils/src/constants/trained_models.ts
  x-pack/plugins/ml/common/types/storage.ts
  x-pack/plugins/ml/public/application/model_management/get_model_state_color.tsx
  x-pack/plugins/ml/public/application/model_management/model_actions.tsx
  x-pack/plugins/ml/public/application/model_management/models_list.tsx
  x-pack/plugins/ml/server/models/model_management/model_provider.test.ts
  x-pack/plugins/ml/server/models/model_management/models_provider.ts
  x-pack/test/functional/services/ml/trained_models_table.ts
Labels: release_note:enhancement, :ml, Team:ML, v8.11.0

#167823 [8.10] [Fleet] Prefer sha256 for reading GPG package verification key (#167149)
  src/dev/build/tasks/fleet/download_elastic_gpg_key.ts
  x-pack/plugins/fleet/server/config.ts
  x-pack/plugins/fleet/server/services/epm/packages/package_verification.ts
Labels: backport, Team:Fleet

#167547 [8.10] [Synthetics] Refactor cardinality test runs query (#166608)
  x-pack/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/lens_attributes.ts
  x-pack/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/synthetics/kpi_over_time_config.ts
  x-pack/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/synthetics/single_metric_config.ts
  x-pack/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/test_data/sample_attribute_cwv.ts
  x-pack/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/test_data/sample_attribute_kpi.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_test_runs_sparkline.tsx
  x-pack/plugins/uptime/server/legacy_uptime/lib/lib.ts
  x-pack/plugins/uptime/server/legacy_uptime/routes/uptime_route_wrapper.ts
Labels: backport, Team:uptime

#167783 [Actions] Expose `getAllSystemActions` from the actions client
  x-pack/plugins/actions/server/actions_client/actions_client.mock.ts
  x-pack/plugins/actions/server/actions_client/actions_client.ts
  x-pack/plugins/actions/server/application/connector/methods/get_all/get_all.test.ts
  x-pack/plugins/actions/server/application/connector/methods/get_all/get_all.ts
  x-pack/plugins/actions/server/mocks.ts
  x-pack/plugins/actions/server/plugin.test.ts
  x-pack/plugins/actions/server/plugin.ts
Labels: Team:ResponseOps, Feature:Actions/Framework

#167808 [Cases] Make Cases in the Stack Management GA
  x-pack/plugins/cases/public/components/app/index.tsx
Labels: release_note:enhancement, Team:ResponseOps, Feature:Cases, v8.11.0

#167857 [Cloud Security] Azure manual option - temporary solution
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/azure_credentials_form/azure_credentials_form.tsx
Labels: release_note:skip, Team:Cloud Security

#167507 [APM] Add best practices for API testing
  x-pack/plugins/apm/dev_docs/testing.md
Labels: Team:APM, release_note:skip, v8.11.0

#167860 [Serverless Tests] Use public headers for the public telemetry config endpoint
  x-pack/test_serverless/api_integration/test_suites/search/telemetry/telemetry_config.ts
Labels: Team:Core, release_note:skip, backport:skip, Project:Serverless, Serverless

#167512 [Security Solution] Unskipping `x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/` working tests on serverless
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_correlations_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_entities_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_investigation_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_prevalence_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_response_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_session_view_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_threat_intelligence_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_preview_panel_alert_reason_preview.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_preview_panel_rule_preview.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_right_panel.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_right_panel_json_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_right_panel_overview_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_right_panel_table_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_url_sync.cy.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Threat Hunting:Investigations, v8.11.0

#167540 [Security Solution] fix serverless nextLastSuccessfulReport.toISOString logs
  x-pack/plugins/security_solution_serverless/server/task_manager/usage_reporting_task.test.ts
  x-pack/plugins/security_solution_serverless/server/task_manager/usage_reporting_task.ts
Labels: release_note:skip, Team:Defend Workflows, ci:build-serverless-image

#167690 [Cloud Security][BugFix] Fix for missing account_type on env created via Github action
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.tsx
Labels: release_note:skip, Team:Cloud Security, v8.11.0

#167820 [ML] Anomaly detection results functional tests: retry forecast chart check
  x-pack/test/functional/apps/ml/anomaly_detection_result_views/forecasts.ts
  x-pack/test/functional/services/ml/forecast.ts
Labels: :ml, Feature:Anomaly Detection, release_note:skip, Feature:Functional Testing

#166797 [ML] Transforms: Use `delete_dest_index` flag instead of ES call to delete destination index.
  x-pack/plugins/ml/public/application/data_frame_analytics/common/get_destination_index.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/action_delete/use_delete_action.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/services/analytics_service/delete_analytics.ts
  x-pack/plugins/transform/public/app/hooks/use_data_view_exists.ts
  x-pack/plugins/transform/public/app/hooks/use_delete_transform.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/action_discover/use_action_discover.tsx
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row.tsx
  x-pack/plugins/transform/server/routes/api/transforms.ts
Labels: :ml, release_note:skip, Feature:Transforms, v8.11.0

#167814 [inspector] rename clusters tab to 'Clustesrs and shards'
  src/plugins/inspector/public/views/requests/components/request_details.tsx
Labels: Feature:Inspector, Team:Presentation, release_note:skip, v8.11.0

#167882 [8.10] chore(deps): Update LaunchDarkly clients (#167765)
  package.json
  x-pack/plugins/cloud_integrations/cloud_experiments/public/launch_darkly_client/launch_darkly_client.test.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/public/launch_darkly_client/launch_darkly_client.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/launch_darkly_client/launch_darkly_client.test.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/server/launch_darkly_client/launch_darkly_client.ts
  yarn.lock
Labels: backport

#166202 [DOCS] Move preconfigured ServiceNow connector details
  docs/management/connectors/action-types/servicenow-itom.asciidoc
  docs/management/connectors/action-types/servicenow-sir.asciidoc
  docs/management/connectors/action-types/servicenow.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/settings/alert-action-settings.asciidoc
Labels: release_note:skip, backport:skip, Team:ResponseOps, docs, Feature:Actions/ConnectorTypes, v8.11.0

#167545 [Cloud Security][CIS GCP]Migration for new fields
  src/core/server/integration_tests/saved_objects/migrations/group2/check_registered_types.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/cloud_security_posture/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/cloud_security_posture/to_v8_11_0.test.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/cloud_security_posture/to_v8_11_0.ts
Labels: release_note:skip, Team:Fleet, Team:Cloud Security, v8.11.0

#167508 [Cloud Security] add more information about testing to Cloud Security Posture plugin readme
  x-pack/plugins/cloud_security_posture/README.md
Labels: release_note:skip, backport:skip, Team:Cloud Security

#167922 [8.10] Upgrade postcss@8.4.14→8.4.31 (#167815)
  package.json
  yarn.lock
Labels: backport

#167920 [Security Solution] Increassing parallelism for Serverless Investigations execution
  .buildkite/pipelines/pull_request/base.yml
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Investigations, v8.11.0

#167934 [ci] Synchronize serverless tests between pipelines
  .buildkite/pipelines/es_serverless/verify_es_serverless_image.yml
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/base.yml
Labels: Team:Operations, release_note:skip

#167918 [Search][Search Experience] Gated form is shown only when user is admin and kibana_uis_enabled is false
  x-pack/plugins/enterprise_search/public/applications/workplace_search/index.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/index.tsx
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.11.0

#167522 [ML] Update ELSER version for Elastic Assistant
  x-pack/plugins/elastic_assistant/kibana.jsonc
  x-pack/plugins/elastic_assistant/server/lib/langchain/execute_custom_llm_chain/index.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/executors/types.ts
  x-pack/plugins/elastic_assistant/server/plugin.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/constants.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.test.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/post_knowledge_base.test.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/post_knowledge_base.ts
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.test.ts
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.ts
  x-pack/plugins/elastic_assistant/server/types.ts
  x-pack/plugins/elastic_assistant/tsconfig.json
  x-pack/plugins/enterprise_search/server/__mocks__/routerDependencies.mock.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
  x-pack/plugins/ml/server/mocks.ts
  x-pack/plugins/ml/server/shared_services/providers/__mocks__/trained_models.ts
  x-pack/plugins/ml/server/shared_services/providers/trained_models.ts
Labels: release_note:enhancement, :ml, Feature:Elastic AI Assistant, v8.11.0

#164362 [Controls] Support date fields in options list
  src/plugins/controls/common/options_list/types.ts
  src/plugins/controls/public/hooks/use_field_formatter.ts
  src/plugins/controls/public/options_list/components/options_list.scss
  src/plugins/controls/public/options_list/components/options_list_control.tsx
  src/plugins/controls/public/options_list/components/options_list_editor_options.tsx
  src/plugins/controls/public/options_list/components/options_list_popover.test.tsx
  src/plugins/controls/public/options_list/components/options_list_popover_action_bar.tsx
  src/plugins/controls/public/options_list/components/options_list_popover_invalid_selections.tsx
  src/plugins/controls/public/options_list/components/options_list_popover_sorting_button.tsx
  src/plugins/controls/public/options_list/components/options_list_popover_suggestions.tsx
  src/plugins/controls/public/options_list/components/options_list_strings.ts
  src/plugins/controls/public/options_list/embeddable/options_list_embeddable.tsx
  src/plugins/controls/public/options_list/embeddable/options_list_embeddable_factory.tsx
  src/plugins/controls/public/range_slider/components/range_slider.scss
  src/plugins/controls/public/range_slider/components/range_slider_control.tsx
  src/plugins/controls/public/time_slider/components/index.scss
  src/plugins/controls/public/time_slider/components/time_slider_popover_button.tsx
  src/plugins/controls/server/options_list/options_list_cheap_suggestion_queries.test.ts
  src/plugins/controls/server/options_list/options_list_cheap_suggestion_queries.ts
  src/plugins/controls/server/options_list/options_list_expensive_suggestion_queries.test.ts
  src/plugins/controls/server/options_list/options_list_expensive_suggestion_queries.ts
  src/plugins/controls/server/options_list/options_list_suggestions_route.ts
  src/plugins/controls/server/options_list/options_list_validation_queries.ts
Labels: release_note:enhancement, Feature:Input Control, Team:Presentation, loe:medium, impact:medium, Project:Controls, v8.11.0

#167821 [Response Ops][Alerting] Write alert duration out as microseconds
  x-pack/plugins/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_new_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_new_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_ongoing_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_ongoing_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_recovered_alert.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/build_recovered_alert.ts
  x-pack/plugins/alerting/server/alerts_client/lib/nanos_to_micros.test.ts
  x-pack/plugins/alerting/server/alerts_client/lib/nanos_to_micros.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_alerts_client.test.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/alerts_as_data.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/alert_documents.ts
Labels: bug, release_note:skip, Team:ResponseOps, Feature:Alerting/Alerts-as-Data, v8.11.0

#167877 Revert "[Task Manager] Force validation on all tasks using state (#16…
  x-pack/plugins/task_manager/server/task_validator.test.ts
  x-pack/plugins/task_manager/server/task_validator.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.11.0

#167888 [ML] Use release ELSER version
  x-pack/packages/ml/trained_models_utils/src/constants/trained_models.ts
  x-pack/plugins/enterprise_search/server/lib/ml/start_ml_model_deployment.test.ts
  x-pack/plugins/enterprise_search/server/lib/ml/start_ml_model_download.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.test.ts
  x-pack/plugins/ml/server/models/model_management/model_provider.test.ts
Labels: :ml, release_note:skip, Team:ML, v8.11.0

#166299 [Dashboard] Generate new panel ids on Dashboard clone
  src/plugins/controls/common/control_group/control_group_persistence.ts
  src/plugins/controls/common/index.ts
  src/plugins/dashboard/common/lib/dashboard_panel_converters.ts
  src/plugins/dashboard/public/services/dashboard_content_management/lib/save_dashboard_state.test.ts
  src/plugins/dashboard/public/services/dashboard_content_management/lib/save_dashboard_state.ts
Labels: bug, Feature:Dashboard, release_note:fix, Team:Presentation, loe:medium, impact:high

#167554 Reporting Puppeteer update v21.3.5
  package.json
  x-pack/build_chromium/README.md
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.test.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
  yarn.lock
Labels: chore, Feature:Reporting, release_note:skip, Team:SharedUX, backport:prev-MAJOR, backport:all-open, ci:cloud-redeploy

#167836 unskip Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/group1/preserve_url·ts
  test/functional/page_objects/dashboard_page.ts
  x-pack/test/functional/apps/dashboard/group1/preserve_url.ts
Labels: Team:Presentation, release_note:skip, v8.11.0

#167881 [Security Solution] fix serverless metering tasks not registering
  x-pack/plugins/security_solution_serverless/server/task_manager/task_state.ts
  x-pack/plugins/security_solution_serverless/server/task_manager/usage_reporting_task.ts
Labels: release_note:skip, Team:Defend Workflows, ci:build-serverless-image

#167935 [Security Solution][Elastic AI Assistant] Refactors Knowledge Base feature flag to UI feature toggle
  x-pack/packages/kbn-elastic-assistant/impl/assistant/settings/advanced_settings/advanced_settings.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/settings/advanced_settings/translations.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/settings/assistant_settings.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/settings/translations.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/settings/use_settings_updater/use_settings_updater.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/types.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_send_messages/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant_context/constants.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant_context/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant_context/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings/knowledge_base_settings.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings/translations.ts
  x-pack/packages/kbn-elastic-assistant/impl/mock/test_providers/test_providers.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/mock/test_providers/test_providers.tsx
  x-pack/plugins/security_solution/public/assistant/provider.tsx
  x-pack/plugins/security_solution/public/common/mock/mock_assistant_provider.tsx
Labels: release_note:skip, backport:skip, Team: SecuritySolution, Feature:Elastic AI Assistant, v8.11.0

#167944 [8.10] Reporting Puppeteer update v21.3.5 (#167554)
  package.json
  x-pack/build_chromium/README.md
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.test.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
  yarn.lock
Labels: backport

#167579 [RAM] Add bulk action to Untrack selected alerts
  x-pack/plugins/alerting/common/routes/rule/apis/bulk_untrack/index.ts
  x-pack/plugins/alerting/common/routes/rule/apis/bulk_untrack/schemas/latest.ts
  x-pack/plugins/alerting/common/routes/rule/apis/bulk_untrack/schemas/v1.ts
  x-pack/plugins/alerting/common/routes/rule/apis/bulk_untrack/types/latest.ts
  x-pack/plugins/alerting/common/routes/rule/apis/bulk_untrack/types/v1.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/types.ts
  x-pack/plugins/alerting/server/alerts_service/alerts_service.mock.ts
  x-pack/plugins/alerting/server/alerts_service/alerts_service.ts
  x-pack/plugins/alerting/server/alerts_service/lib/set_alerts_to_untracked.test.ts
  x-pack/plugins/alerting/server/alerts_service/lib/set_alerts_to_untracked.ts
  x-pack/plugins/alerting/server/application/rule/methods/bulk_delete/bulk_delete_rules.ts
  x-pack/plugins/alerting/server/application/rule/methods/bulk_untrack/bulk_untrack_alerts.test.ts
  x-pack/plugins/alerting/server/application/rule/methods/bulk_untrack/bulk_untrack_alerts.ts
  x-pack/plugins/alerting/server/application/rule/methods/bulk_untrack/schemas/bulk_untrack_body_schema.ts
  x-pack/plugins/alerting/server/application/rule/methods/bulk_untrack/schemas/index.ts
  x-pack/plugins/alerting/server/application/rule/methods/bulk_untrack/types/bulk_untrack_body.ts
  x-pack/plugins/alerting/server/application/rule/methods/bulk_untrack/types/index.ts
  x-pack/plugins/alerting/server/routes/index.ts
  x-pack/plugins/alerting/server/routes/rule/apis/bulk_untrack/bulk_untrack_alert_route.ts
  x-pack/plugins/alerting/server/routes/rule/apis/bulk_untrack/index.ts
  x-pack/plugins/alerting/server/routes/rule/apis/bulk_untrack/transforms/index.ts
  x-pack/plugins/alerting/server/routes/rule/apis/bulk_untrack/transforms/transform_request_body_to_application/latest.ts
  x-pack/plugins/alerting/server/routes/rule/apis/bulk_untrack/transforms/transform_request_body_to_application/v1.ts
  x-pack/plugins/alerting/server/rules_client.mock.ts
  x-pack/plugins/alerting/server/rules_client/common/audit_events.ts
  x-pack/plugins/alerting/server/rules_client/lib/untrack_rule_alerts.ts
  x-pack/plugins/alerting/server/rules_client/methods/bulk_disable.ts
  x-pack/plugins/alerting/server/rules_client/methods/delete.ts
  x-pack/plugins/alerting/server/rules_client/methods/disable.ts
  x-pack/plugins/alerting/server/rules_client/rules_client.ts
  x-pack/plugins/alerting/tsconfig.json
  x-pack/plugins/observability/public/pages/alerts/components/alert_actions.test.tsx
  x-pack/plugins/observability/public/pages/alerts/components/alert_actions.tsx
  x-pack/plugins/task_manager/server/mocks.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/plugins/task_manager/server/task_scheduling.test.ts
  x-pack/plugins/task_manager/server/task_scheduling.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/bulk_actions/bulk_actions.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/translations.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_bulk_actions.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_bulk_actions.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/hooks/use_bulk_untrack_alerts.tsx
  x-pack/plugins/triggers_actions_ui/public/index.ts
  x-pack/test/alerting_api_integration/packages/helpers/es_test_index_tool.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/bulk_untrack.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/index.ts
  x-pack/test/apm_api_integration/tests/alerts/helpers/alerting_api_helper.ts
  x-pack/test/examples/triggers_actions_ui_examples/alerts_table.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_no_data.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/custom_eq_avg_bytes_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/documents_count_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/group_by_fired.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/configure.ts
Labels: Team:APM, Team:ResponseOps, release_note:feature, Feature:Alerting/RulesManagement, v8.11.0

#167866 [APM] Add telemetry from custom dashboards
  x-pack/plugins/apm/common/__snapshots__/apm_telemetry.test.ts.snap
  x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.test.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/collect_data_telemetry/tasks.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/schema.ts
  x-pack/plugins/apm/server/lib/apm_telemetry/types.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: Team:APM, release_note:skip, v8.11.0

#166764 [Security Solution][Timeline] - ESQL in timeline
  config/serverless.security.yml
  src/plugins/discover/public/application/main/components/top_nav/discover_topnav.test.tsx
  src/plugins/discover/public/application/main/components/top_nav/discover_topnav.tsx
  src/plugins/discover/public/customizations/customization_types/search_bar_customization.ts
  x-pack/plugins/osquery/cypress/e2e/all/alerts_cases.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/alerts_multiple_agents.cy.ts
  x-pack/plugins/osquery/cypress/screens/live_query.ts
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/common/components/discover_in_timeline/__mocks__/use_discover_in_timeline_actions.tsx
  x-pack/plugins/security_solution/public/common/components/discover_in_timeline/use_discover_in_timeline_actions.test.tsx
  x-pack/plugins/security_solution/public/common/components/discover_in_timeline/use_discover_in_timeline_actions.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/discover_tab_content/customizations/use_search_bar_customizations.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/discover_tab_content/customizations/use_set_discover_customizations.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/discover_tab_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/tabs_content/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/tabs_content/translations.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/discover/cell_actions.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/discover/discover_state.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/discover/discover_timeline_state_integration.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/discover/search_filter.cy.ts
  x-pack/test/security_solution_cypress/cypress/screens/discover.ts
  x-pack/test/security_solution_cypress/cypress/tasks/alerts.ts
  x-pack/test/security_solution_cypress/cypress/tasks/discover.ts
  x-pack/test/security_solution_cypress/cypress/tasks/timeline.ts
Labels: backport:skip, release_note:feature, Team:Threat Hunting:Investigations, ci:cloud-deploy, ci:cloud-redeploy, ci:cloud-persist-deployment, v8.11.0

#167532 [Enterprise Search] Bugfix - Updating search applications removed custom template
  x-pack/plugins/enterprise_search/common/types/search_applications.ts
  x-pack/plugins/enterprise_search/public/applications/applications/api/search_applications/update_search_application_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/applications/api/search_applications/update_search_application_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_application/search_application_indices_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_application/search_application_indices_logic.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_applications/search_application_indices_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/search_applications.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/search_applications.ts
Labels: bug, release_note:fix, Team:EnterpriseSearch, v8.11.0, v8.10.3

#167898 [Serveless tests] Fix /telemetry/config in local runs
  src/plugins/telemetry/server/routes/telemetry_config.ts
  x-pack/test_serverless/api_integration/test_suites/observability/telemetry/telemetry_config.ts
  x-pack/test_serverless/api_integration/test_suites/security/telemetry/telemetry_config.ts
Labels: Team:Core, release_note:skip, backport:skip

#167886 Merge `semver@7` dependencies in yarn lock
  yarn.lock
Labels: Team:Operations, release_note:skip, backport:prev-minor

#167950 [8.10] [Enterprise Search] Bugfix - Updating search applications removed custom template (#167532)
  x-pack/plugins/enterprise_search/common/types/search_applications.ts
  x-pack/plugins/enterprise_search/public/applications/applications/api/search_applications/update_search_application_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/applications/api/search_applications/update_search_application_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_application/search_application_indices_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_application/search_application_indices_logic.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_applications/search_application_indices_flyout_logic.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/search_applications.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/search_applications.ts
Labels: backport

#167083 [Security Solution] Unskip Serverless Threshold rule creation Cypress test
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_actions/rule_actions.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/common_flows.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/custom_query_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/custom_query_rule_data_view.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/custom_saved_query_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/esql_rule_create.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/event_correlation_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/indicator_match_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/machine_learning_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/new_terms_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/override.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/threshold_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/screens/breadcrumbs.ts
  x-pack/test/security_solution_cypress/cypress/screens/rule_details.ts
  x-pack/test/security_solution_cypress/cypress/tasks/create_new_rule.ts
  x-pack/test/security_solution_cypress/cypress/tasks/prebuilt_rules.ts
  x-pack/test/security_solution_cypress/cypress/tasks/rule_details.ts
  x-pack/test/security_solution_cypress/cypress/tasks/rules_management.ts
Labels: test, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, v8.11.0, Serverless

#167628 [Stack Monitoring] Convert node roles into array
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/nodes_page.tsx
Labels: release_note:fix, Team:Infra Monitoring UI, backport:prev-minor

#167927 [SecuritySolution] It should return to the origin app and path after editing markdown from the dashboard
  src/plugins/visualizations/public/visualize_app/utils/get_top_nav_config.test.tsx
  src/plugins/visualizations/public/visualize_app/utils/get_top_nav_config.tsx
Labels: bug, release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, Feature:Security Dashboards, v8.11.0

#165124 [ML] AIOps: Support text fields in log rate analysis
  x-pack/packages/ml/agg_utils/index.ts
  x-pack/packages/ml/agg_utils/src/type_guards.test.ts
  x-pack/packages/ml/agg_utils/src/type_guards.ts
  x-pack/packages/ml/agg_utils/src/types.ts
  x-pack/plugins/aiops/common/__mocks__/artificial_logs/final_significant_term_groups.ts
  x-pack/plugins/aiops/common/__mocks__/artificial_logs/significant_term_groups.ts
  x-pack/plugins/aiops/common/__mocks__/artificial_logs/significant_terms.ts
  x-pack/plugins/aiops/common/__mocks__/farequote/significant_term_groups.ts
  x-pack/plugins/aiops/common/api/stream_reducer.test.ts
  x-pack/plugins/aiops/common/types.ts
  x-pack/plugins/aiops/public/application/utils/build_extended_base_filter_criteria.test.ts
  x-pack/plugins/aiops/public/application/utils/build_extended_base_filter_criteria.ts
  x-pack/plugins/aiops/public/components/log_rate_analysis_results_table/get_group_table_items.test.ts
  x-pack/plugins/aiops/public/components/log_rate_analysis_results_table/get_group_table_items.ts
  x-pack/plugins/aiops/public/components/log_rate_analysis_results_table/log_rate_analysis_results_table.tsx
  x-pack/plugins/aiops/public/components/log_rate_analysis_results_table/types.ts
  x-pack/plugins/aiops/public/components/log_rate_analysis_results_table/use_view_in_log_pattern_analysis_action.tsx
  x-pack/plugins/aiops/server/routes/log_rate_analysis.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_categories.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_category_counts.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_index_info.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_significant_categories.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_significant_term_p_values.ts
  x-pack/plugins/aiops/server/routes/queries/fetch_terms_2_categories_counts.ts
  x-pack/plugins/aiops/server/routes/queries/get_field_value_pair_counts.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_group_filter.ts
  x-pack/plugins/aiops/server/routes/queries/get_groups_with_readded_duplicates.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_groups_with_readded_duplicates.ts
  x-pack/plugins/aiops/server/routes/queries/get_histogram_query.ts
  x-pack/plugins/aiops/server/routes/queries/get_marked_duplicates.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_missing_significant_terms.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_normalized_score.ts
  x-pack/plugins/aiops/server/routes/queries/get_query_with_params.ts
  x-pack/plugins/aiops/server/routes/queries/get_significant_term_groups.ts
  x-pack/plugins/aiops/server/routes/queries/get_simple_hierarchical_tree.test.ts
  x-pack/plugins/aiops/server/routes/queries/get_simple_hierarchical_tree.ts
  x-pack/plugins/aiops/server/routes/queries/get_simple_hierarchical_tree_leaves.test.ts
  x-pack/plugins/aiops/server/routes/queries/transform_significant_term_to_group.test.ts
  x-pack/plugins/aiops/server/routes/queries/transform_significant_term_to_group.ts
  x-pack/plugins/aiops/tsconfig.json
  x-pack/test/api_integration/apis/aiops/test_data.ts
  x-pack/test/functional/apps/aiops/test_data.ts
Labels: release_note:enhancement, :ml, Feature:ML/AIOps, v8.11.0

#167910 [Cloud Security] CSPM fleet forms disabled on edit mode
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/aws_credentials_form/aws_credentials_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/azure_credentials_form/azure_credentials_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/gcp_credential_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_selectors.tsx
Labels: release_note:skip, Team:Cloud Security, v8.11.0

#167307 fleet packages: upgrade profiling bundled integrations
  fleet_packages.json
Labels: release_note:skip, ci:build-cloud-image, 8.11 candidate

#167958 [8.10] Merge `semver@7` dependencies in yarn lock (#167886)
  yarn.lock
Labels: backport

#167720 Setup E2E against Serverless ES, Kibana, Fleet server standalone and Elastic endpoint agent in VM
  .buildkite/ftr_configs.yml
  packages/kbn-es/src/cli_commands/serverless.ts
  packages/kbn-es/src/utils/docker.test.ts
  packages/kbn-es/src/utils/docker.ts
  packages/kbn-test/src/es/test_es_cluster.ts
  packages/kbn-test/src/functional_test_runner/lib/config/schema.ts
  packages/kbn-test/src/functional_tests/lib/run_elasticsearch.ts
  x-pack/plugins/security_solution/package.json
  x-pack/plugins/security_solution/public/management/cypress/cypress_base.config.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/artifacts/artifacts_mocked_data.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/form.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/history_log.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/results.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_list/endpoints.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_list/endpoints_mocked_data.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_list/policy_response.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/policy/policy_details.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/policy/policy_experimental_features_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/policy/policy_list.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/isolate_mocked_data.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/reponse_actions_history.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/responder.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console_mocked_data.cy.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/network_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/stack_services.ts
  x-pack/plugins/security_solution/scripts/run_cypress/get_ftr_config.ts
  x-pack/plugins/security_solution/scripts/run_cypress/parallel.ts
  x-pack/test/defend_workflows_cypress/config.ts
  x-pack/test/defend_workflows_cypress/endpoint_serverless_config.ts
  x-pack/test/defend_workflows_cypress/serverless_config.ts
Labels: release_note:skip, v8.11.0

#167966 [8.10] [Stack Monitoring] Convert node roles into array (#167628)
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/nodes_page.tsx
Labels: backport

#167233 [Infra UI] Disable Osquery in serverless
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/infra/common/plugin_config_types.ts
  x-pack/plugins/infra/public/components/asset_details/hooks/use_page_header.tsx
  x-pack/plugins/infra/public/components/asset_details/tabs/osquery/osquery.tsx
  x-pack/plugins/infra/public/containers/plugin_config_context.test.tsx
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/sources/sources.test.ts
  x-pack/plugins/infra/server/plugin.ts
Labels: Feature:Metrics UI, Team:Infra Monitoring UI, release_note:skip, backport:skip, v8.11.0

#167968 [APM] Show Profiling data explanation callout
  x-pack/plugins/apm/public/components/app/profiling_overview/host_names_filter_warning.tsx
  x-pack/plugins/apm/public/components/app/profiling_overview/index.tsx
Labels: Team:APM, release_note:skip, v8.11.0

#167804 [Search] Create connectors page
  packages/kbn-search-connectors/lib/create_connector.ts
  packages/kbn-search-connectors/lib/update_connector_name_and_description.ts
  x-pack/plugins/serverless_search/common/i18n_string.ts
  x-pack/plugins/serverless_search/public/application/components/connectors/edit_connector.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors/edit_description.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors/edit_name.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors/edit_service_type.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors_overview.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors_router.tsx
  x-pack/plugins/serverless_search/public/application/connectors.tsx
  x-pack/plugins/serverless_search/public/application/hooks/api/use_connector_types.tsx
  x-pack/plugins/serverless_search/public/application/hooks/use_kibana.tsx
  x-pack/plugins/serverless_search/public/application/routes.ts
  x-pack/plugins/serverless_search/public/plugin.ts
  x-pack/plugins/serverless_search/server/routes/connectors_routes.ts
  x-pack/plugins/serverless_search/tsconfig.json
Labels: release_note:skip, Team:EnterpriseSearch, v8.11.0, Serverless

#167985 Give @pheyos and @dmlemeshko permissions to create deploy tags
  .github/workflows/create-deploy-tag.yml
Labels: release_note:skip, backport:skip, skip-ci

#167875 [Fleet] Fix TS expect-error in experimental features helper
  x-pack/plugins/fleet/common/experimental_features.ts
Labels: release_note:skip, Team:Fleet

#167639 [Infra UI] Add custom threshold alerts for serverless
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/infra/common/plugin_config_types.ts
  x-pack/plugins/infra/kibana.jsonc
  x-pack/plugins/infra/public/alerting/common/components/metrics_alert_dropdown.tsx
  x-pack/plugins/infra/public/alerting/custom_threshold/components/alert_flyout.tsx
  x-pack/plugins/infra/public/alerting/custom_threshold/index.ts
  x-pack/plugins/infra/public/alerting/metric_threshold/components/alert_flyout.tsx
  x-pack/plugins/infra/public/containers/plugin_config_context.test.tsx
  x-pack/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.test.ts
  x-pack/plugins/infra/server/lib/sources/sources.test.ts
  x-pack/plugins/infra/server/plugin.ts
  x-pack/test/functional/apps/infra/home_page.ts
  x-pack/test/functional/page_objects/infra_home_page.ts
  x-pack/test_serverless/functional/test_suites/observability/config.ts
  x-pack/test_serverless/functional/test_suites/observability/index.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/constants.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/header_menu.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/index.ts
Labels: Team:Infra Monitoring UI, release_note:skip, backport:skip

#167822 [Event annotations] Cache annotation group metadata
  packages/kbn-event-annotation-components/components/annotation_editor_controls/annotation_editor_controls.tsx
  packages/kbn-visualization-ui-components/components/color_picker.tsx
  x-pack/plugins/lens/public/visualizations/xy/annotations/actions/revert_changes_action.tsx
  x-pack/plugins/lens/public/visualizations/xy/annotations/actions/save_action.tsx
  x-pack/plugins/lens/public/visualizations/xy/annotations/actions/unlink_action.tsx
  x-pack/plugins/lens/public/visualizations/xy/state_helpers.ts
  x-pack/plugins/lens/public/visualizations/xy/types.ts
  x-pack/plugins/lens/public/visualizations/xy/visualization.test.tsx
  x-pack/plugins/lens/public/visualizations/xy/visualization.tsx
  x-pack/plugins/lens/public/visualizations/xy/visualization_helpers.tsx
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/layer_header.test.tsx
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/layer_header.tsx
Labels: Team:Visualizations, release_note:skip

#167829 [ML] Unskip Transform continuous creation test
  x-pack/test/functional/apps/transform/creation/index_pattern/continuous_transform.ts
Labels: :ml, release_note:skip, Feature:Transforms

#167127 [Security Solution] Integrate default shared-ux left navigation
  packages/kbn-optimizer/limits.yml
  x-pack/packages/security-solution/side_nav/panel.ts
  x-pack/plugins/security_solution/public/common/links/deep_links.ts
  x-pack/plugins/security_solution/public/mocks.ts
  x-pack/plugins/security_solution/public/plugin.tsx
  x-pack/plugins/security_solution/public/plugin_contract.ts
  x-pack/plugins/security_solution/public/types.ts
  x-pack/plugins/security_solution/server/lib/app_features_service/app_features_service.ts
  x-pack/plugins/security_solution/server/lib/app_features_service/types.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/plugin_contract.ts
  x-pack/plugins/security_solution_ess/server/app_features/security_app_features_config.ts
  x-pack/plugins/security_solution_serverless/common/config.ts
  x-pack/plugins/security_solution_serverless/common/experimental_features.ts
  x-pack/plugins/security_solution_serverless/public/common/services/__mocks__/services.mock.tsx
  x-pack/plugins/security_solution_serverless/public/common/services/create_services.ts
  x-pack/plugins/security_solution_serverless/public/common/services/types.ts
  x-pack/plugins/security_solution_serverless/public/navigation/default_navigation.tsx
  x-pack/plugins/security_solution_serverless/public/navigation/index.ts
  x-pack/plugins/security_solution_serverless/public/navigation/links/app_links.ts
  x-pack/plugins/security_solution_serverless/public/navigation/links/deep_links.ts
  x-pack/plugins/security_solution_serverless/public/navigation/links/nav.links.test.ts
  x-pack/plugins/security_solution_serverless/public/navigation/links/nav_links.ts
  x-pack/plugins/security_solution_serverless/public/navigation/navigation_tree.test.ts
  x-pack/plugins/security_solution_serverless/public/navigation/navigation_tree/chrome_navigation_tree.test.ts
  x-pack/plugins/security_solution_serverless/public/navigation/navigation_tree/chrome_navigation_tree.ts
  x-pack/plugins/security_solution_serverless/public/navigation/navigation_tree/index.ts
  x-pack/plugins/security_solution_serverless/public/navigation/navigation_tree/navigation_tree.test.ts
  x-pack/plugins/security_solution_serverless/public/navigation/navigation_tree/navigation_tree.ts
  x-pack/plugins/security_solution_serverless/public/navigation/navigation_tree/utils.ts
  x-pack/plugins/security_solution_serverless/public/plugin.ts
  x-pack/plugins/security_solution_serverless/public/types.ts
  x-pack/plugins/security_solution_serverless/server/app_features/index.ts
  x-pack/plugins/security_solution_serverless/server/app_features/security_app_features_config.ts
  x-pack/plugins/security_solution_serverless/server/config.ts
  x-pack/plugins/security_solution_serverless/server/plugin.ts
  x-pack/plugins/security_solution_serverless/tsconfig.json
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.11.0

#167825 Unskip flaky test functional/apps/dashboard/group2/dashboard_filter_bar·ts
  test/functional/apps/dashboard/group2/dashboard_filter_bar.ts
  test/functional/apps/discover/group2/_data_grid_doc_table.ts
  test/functional/apps/management/data_views/_scripted_fields.ts
  test/functional/services/data_grid.ts
Labels: Team:Presentation, release_note:skip, ci:skip-cypress-osquery, v8.11.0

#167566 unskip Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/maps/group2/embeddable/add_to_dashboard·js
  src/plugins/presentation_util/public/components/dashboard_picker/dashboard_picker.tsx
  src/plugins/presentation_util/public/components/saved_object_save_modal_dashboard.tsx
  src/plugins/presentation_util/public/components/saved_object_save_modal_dashboard_selector.stories.tsx
  src/plugins/presentation_util/public/components/saved_object_save_modal_dashboard_selector.tsx
  test/functional/page_objects/time_to_visualize_page.ts
  x-pack/test/functional/apps/maps/group2/embeddable/add_to_dashboard.js
Labels: Feature:Dashboard, Team:Presentation, loe:small, release_note:skip, impact:high

#167900 [Search] Add connectors table
  packages/kbn-search-connectors/utils/index.ts
  packages/kbn-search-connectors/utils/sync_status_to_text.test.ts
  packages/kbn-search-connectors/utils/sync_status_to_text.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/sync_jobs/sync_jobs_history_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/sync_status_to_text.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/sync_status_to_text.ts
  x-pack/plugins/serverless_search/common/i18n_string.ts
  x-pack/plugins/serverless_search/public/application/components/connectors/connectors_table.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors/edit_description.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors/empty_connectors_prompt.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors_overview.tsx
  x-pack/plugins/serverless_search/public/application/components/connectors_router.tsx
  x-pack/plugins/serverless_search/public/application/hooks/api/use_connector_types.tsx
  x-pack/plugins/serverless_search/public/application/hooks/api/use_connectors.tsx
  x-pack/plugins/serverless_search/public/application/hooks/use_asset_base_path.tsx
  x-pack/plugins/translations/translations/zh-CN.json
Labels: release_note:skip, Team:EnterpriseSearch, v8.12.0

#167757 [AO] Add testing action variables to the Custom threshold rule API integration tests
  x-pack/packages/kbn-infra-forge/src/data_sources/fake_hosts/index.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/avg_pct_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/avg_pct_no_data.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/avg_us_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/custom_eq_avg_bytes_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/documents_count_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/group_by_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/typings.ts
Labels: chore, release_note:skip

#167295 [Rollups] Disable Rollups index data enricher if Rollups UI is disabled
  .buildkite/ftr_configs.yml
  x-pack/plugins/rollup/public/plugin.ts
  x-pack/plugins/rollup/server/plugin.ts
  x-pack/test/api_integration/apis/management/index_management/disabled_data_enrichers/config.ts
  x-pack/test/api_integration/apis/management/index_management/disabled_data_enrichers/index.ts
  x-pack/test/api_integration/apis/management/index_management/disabled_data_enrichers/indices.ts
Labels: Team:Deployment Management, release_note:skip, Feature:Rollups, v8.11.0

#167833 Remove KUI Framework
  .github/CODEOWNERS
  docs/developer/getting-started/monorepo-packages.asciidoc
  package.json
  packages/core/apps/core-apps-server-internal/src/core_app.ts
  packages/core/rendering/core-rendering-server-internal/src/render_utils.test.ts
  packages/core/rendering/core-rendering-server-internal/src/render_utils.ts
  packages/kbn-ui-framework/README.md
  packages/kbn-ui-framework/dist/kui_dark.css
  packages/kbn-ui-framework/dist/kui_dark.min.css
  packages/kbn-ui-framework/dist/kui_light.css
  packages/kbn-ui-framework/dist/kui_light.min.css
  packages/kbn-ui-framework/kibana.jsonc
  packages/kbn-ui-framework/package.json
  src/dev/build/tasks/package_json/find_used_dependencies.ts
  tsconfig.base.json
  yarn.lock
Labels: release_note:skip, backport:skip, v8.11.0

#166610 [RAM] Create serverless functional tests for rules list
  x-pack/test_serverless/api_integration/test_suites/common/alerting/helpers/alerting_api_helper.ts
  x-pack/test_serverless/functional/page_objects/index.ts
  x-pack/test_serverless/functional/page_objects/svl_triggers_actions_ui_page.ts
  x-pack/test_serverless/functional/test_suites/observability/index.ts
  x-pack/test_serverless/functional/test_suites/observability/rules/rules_list.ts
Labels: release_note:skip, Team:ResponseOps, v8.11.0

#167995 [Lens] Fix heatmap color assignment on single value scenario
  src/plugins/chart_expressions/expression_heatmap/public/components/heatmap_component.test.tsx
  src/plugins/chart_expressions/expression_heatmap/public/components/heatmap_component.tsx
Labels: release_note:fix, Team:Visualizations, Feature:Lens, v8.11.0

#167764 [Lens] Disables palette container focus trap for inline editing mode
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/shared_components/coloring/palette_panel_container.tsx
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/visualizations/datatable/components/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/gauge/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/heatmap/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/legacy_metric/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/metric/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/partition/dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/tagcloud/tagcloud_visualization.tsx
  x-pack/plugins/lens/public/visualizations/tagcloud/tags_dimension_editor.tsx
  x-pack/plugins/lens/public/visualizations/xy/xy_config_panel/dimension_editor.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.11.0

#168002 [Log Explorer] enabling redirect link to discover ESQL
  x-pack/plugins/log_explorer/public/components/dataset_selector/constants.tsx
  x-pack/plugins/log_explorer/public/components/dataset_selector/dataset_selector.tsx
  x-pack/plugins/log_explorer/public/components/dataset_selector/sub_components/esql_selector.tsx
  x-pack/plugins/log_explorer/public/components/dataset_selector/types.ts
  x-pack/plugins/log_explorer/public/customizations/custom_dataset_selector.tsx
  x-pack/plugins/log_explorer/public/customizations/log_explorer_profile.tsx
  x-pack/plugins/log_explorer/public/hooks/use_esql.tsx
  x-pack/plugins/log_explorer/public/utils/get_router_link_props.ts
  x-pack/plugins/log_explorer/public/utils/use_kibana.tsx
Labels: release_note:skip

#167760 [Security Solution][Detection Engine] unskips ESS, Serverless Cypress tests for ES|QL rules
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/esql_rule_ess.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/esql_rule_serverless.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_details/esql_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_edit/esql_rule.cy.ts
  x-pack/test/security_solution_cypress/serverless_config.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, v8.11.0

#167926 [Dashboard] Fix flaky pluggable actions test
  test/functional/page_objects/dashboard_page.ts
  test/plugin_functional/test_suites/panel_actions/panel_actions.js
Labels: Team:Presentation, loe:small, release_note:skip, impact:critical, backport:skip

#167762 [Observability AI Assistant] ES|QL function calling improvements
  x-pack/plugins/observability_ai_assistant/public/functions/index.ts
Labels: release_note:skip, v8.11.0, v8.12.0, v8.11.1

#167979 [Synthetics] Project monitor retest on failure updates
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/field_config.tsx
  x-pack/plugins/synthetics/server/synthetics_service/project_monitor/normalizers/common_fields.ts
Labels: Team:uptime, release_note:skip, v8.11.0

#168013 [AO] Fix alerting rules order
  x-pack/plugins/observability/public/hooks/use_get_filtered_rule_types.ts
  x-pack/plugins/observability/public/rules/register_observability_rule_types.ts
Labels: release_note:skip, v8.11.0

#168003 unskip Failing test: Chrome X-Pack UI Functional Tests.x-pack/test/functional/apps/dashboard/group2/dashboard_maps_by_value·ts
  x-pack/test/functional/apps/dashboard/group2/dashboard_maps_by_value.ts
Labels: Team:Presentation, release_note:skip, v8.11.0, v8.12.0

#167446 [Security Solution][Endpoint] Add serverless Security project users/roles to cypress e2e test setup
  packages/kbn-test/src/es/test_es_cluster.ts
  packages/kbn-test/src/functional_test_runner/lib/config/schema.ts
  packages/kbn-test/src/functional_tests/lib/run_elasticsearch.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/artifacts/artifact_tabs_in_policy_details.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/no_license.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_alerts.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_role_rbac.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/endpoint_list_with_security_essentials.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/complete.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/complete_with_endpoint.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/essentials.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/essentials_with_endpoint.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/policy_details_with_security_essentials.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/roles/complete_with_endpoint_roles.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/roles/essentials_with_endpoint.roles.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/login.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/response_actions.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_server/fleet_server.yml
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_server/fleet_server_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/network_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/roles_users/endpoint_operations_analyst.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/stack_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/endpoint_agent_runner/fleet_server.ts
  x-pack/plugins/security_solution/scripts/endpoint/fleet_server/index.ts
  x-pack/plugins/security_solution/scripts/endpoint/start_fleet_server.js
  x-pack/plugins/security_solution/scripts/run_cypress/get_ftr_config.ts
  x-pack/test/defend_workflows_cypress/config.ts
  x-pack/test/defend_workflows_cypress/serverless_config.ts
  x-pack/test_serverless/functional/test_suites/security/cypress/security_config.ts
Labels: release_note:skip, Team:Defend Workflows, v8.11.0

#168024 chore(NA): update versions after v8.12.0 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.12.0

#168025 chore(NA): adds 8.11 into backportrc
  .backportrc.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.12.0

#167555 Upgrade EUI to v88.5.4
  package.json
  packages/kbn-securitysolution-autocomplete/src/field/__tests__/__snapshots__/index.test.tsx.snap
  packages/kbn-securitysolution-autocomplete/src/field/__tests__/index.test.tsx
  packages/shared-ux/chrome/navigation/src/ui/components/navigation_section_ui.tsx
  packages/shared-ux/chrome/navigation/src/ui/components/navigation_ui.tsx
  src/dev/license_checker/config.ts
  x-pack/plugins/cases/public/components/connectors/jira/case_fields.test.tsx
  x-pack/plugins/security_solution/public/common/components/use_combo_box_reset/index.test.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/index.test.tsx
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_creation/indicator_match_rule.cy.ts
  yarn.lock
Labels: release_note:skip, EUI, v8.12.0
