Repository elastic/kibana, pull requests merged in 2023-01, with the labels that each got.

#148071 Upgrade elastic_agent bundled package to 1.4.0
  fleet_packages.json
Labels: release_note:skip, Team:Fleet, backport:prev-minor

#148137 [Unified Search] Fixed warnings with keys and state on update.
  src/plugins/unified_search/public/filter_badge/filter_badge_group.tsx
  src/plugins/unified_search/public/filter_bar/filter_item/filter_item.tsx
  src/plugins/unified_search/public/filters_builder/filter_group.tsx
  src/plugins/unified_search/public/query_string_input/filter_editor_wrapper.tsx
  src/plugins/unified_search/public/query_string_input/query_bar_menu.tsx
Labels: loe:hours, Team:Visualizations, release_note:skip, impact:low, backport:skip, Feature:Unified search, v8.7.0

#148138 [Cloud Posture]CSPM telemetry accounts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/accounts_stats_collector.ts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/indices_stats_collector.ts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/register.ts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/resources_stats_collector.ts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/schema.ts
  x-pack/plugins/cloud_security_posture/server/lib/telemetry/collectors/types.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: release_note:skip, Team:Cloud Security

#148171 [Discover][Unified Search] Clicking on an individual error should focus the error on the monaco editor.
  src/plugins/discover/public/application/main/hooks/use_data_state.ts
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/editor_footer.tsx
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/helpers.ts
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/index.tsx
Labels: Feature:Discover, loe:hours, Team:Visualizations, release_note:skip, impact:low, backport:skip, Feature:Unified search, v8.7.0

#148141 [Fleet] Fix crashes when installing a package with a lot of saved objects
  src/core/server/integration_tests/saved_objects/migrations/check_registered_types.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/epm/archive/storage.ts
  x-pack/plugins/fleet/server/services/epm/packages/remove.ts
Labels: performance, release_note:skip, Team:Fleet, v8.7.0

#148198 [Unified Search] Sql editor border fix on resize.
  src/plugins/unified_search/public/query_string_input/text_based_languages_editor/index.tsx
Labels: loe:hours, Team:Visualizations, release_note:skip, impact:low, backport:skip, Feature:Unified search, v8.7.0

#146989 [Security Solution][feat] Alert filters for Detection Page
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/common/utils/format_page_filter_search_param.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/changing_alert_status.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/detection_page_filters.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/rule_details_flow/add_edit_exception.cy.ts
  x-pack/plugins/security_solution/cypress/e2e/exceptions/rule_details_flow/add_edit_exception_data_view.cy.ts
  x-pack/plugins/security_solution/cypress/screens/alerts.ts
  x-pack/plugins/security_solution/cypress/screens/common/filter_group.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts.ts
  x-pack/plugins/security_solution/kibana.json
  x-pack/plugins/security_solution/public/common/components/filter_group/hooks/use_filter_update_to_url_sync.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/hooks/use_filters.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/index.scss
  x-pack/plugins/security_solution/public/common/components/filter_group/index.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/loading.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/types.ts
  x-pack/plugins/security_solution/public/common/components/local_storage/index.tsx
  x-pack/plugins/security_solution/public/common/components/with_space_id/index.tsx
  x-pack/plugins/security_solution/public/common/hooks/use_url_state.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/plugins/security_solution/public/detections/components/detection_page_filters/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
  x-pack/plugins/security_solution/tsconfig.json
Labels: release_note:enhancement, Team:Presentation, release_note:feature, Team:Security Solution Platform, Team:Threat Hunting:Investigations, Team:Threat Hunting:Explore, 8.7 candidate, ci:cloud-deploy, v8.7.0

#148193 [ResponseOps] [Cases] Allow sorting cases list by status, severity and title
  x-pack/plugins/cases/common/ui/types.ts
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.test.tsx
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.tsx
  x-pack/plugins/cases/public/components/all_cases/use_cases_columns.test.tsx
  x-pack/plugins/cases/public/components/all_cases/use_cases_columns.tsx
Labels: release_note:enhancement, enhancement, backport:skip, Team:ResponseOps, Feature:Cases, v8.7.0

#148229 [ML] AIOps: Replace useMount with useEffect to consider return cleanup callback.
  x-pack/plugins/aiops/public/components/change_point_detection/change_point_detection_context.tsx
Labels: bug, :ml, release_note:skip, Feature:ML/AIOps, v8.7.0

#148304 [7.17] Update NOTICE.txt year
  NOTICE.txt
Labels: Team:Operations, release_note:skip, v7.17.9

#148274 [Infrastructure UI] Hosts: Right align table number columns and fix spacing between value and unit (test fix)
  x-pack/plugins/infra/common/formatters/bytes.test.ts
  x-pack/plugins/infra/common/formatters/bytes.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/components/hosts_table_columns.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/__snapshots__/conditional_tooltip.test.tsx.snap
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/helpers/create_formatter_for_metrics.test.ts
  x-pack/test/functional/apps/infra/hosts_view.ts
Labels: Team:Infra Monitoring UI, release_note:skip, backport:skip, v8.7.0

#148187 [Discover] Migrate `field_calculator.js` to typescript
  src/plugins/discover/public/application/main/components/sidebar/deprecated_stats/discover_field_details.tsx
  src/plugins/discover/public/application/main/components/sidebar/deprecated_stats/field_calculator.test.ts
  src/plugins/discover/public/application/main/components/sidebar/deprecated_stats/field_calculator.ts
  src/plugins/discover/public/application/main/components/sidebar/deprecated_stats/get_details.ts
  src/plugins/discover/public/application/main/components/sidebar/deprecated_stats/types.ts
Labels: Feature:Discover, release_note:skip, Team:DataDiscovery, v8.7.0

#148001 [Actions] Remove duplicated `ActionResult` type from `common` folder
  x-pack/plugins/actions/common/types.ts
  x-pack/plugins/monitoring/server/routes/api/v1/alerts/enable.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Actions/Framework, v8.7.0

#148249 Fix typo in "Behavioral Analytics" nav labels
  x-pack/plugins/enterprise_search/common/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.test.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/layout/nav.tsx
Labels: release_note:skip, backport:skip, v8.7.0

#148190 [Synthetics] Fix overview status query
  x-pack/plugins/synthetics/e2e/journeys/uptime/private_locations/manage_locations.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/metric_item.tsx
  x-pack/plugins/synthetics/server/alert_rules/status_rule/status_rule_executor.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/adapters/telemetry/kibana_telemetry_adapter.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/alerts/duration_anomaly.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/alerts/status_check.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/alerts/tls.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/alerts/tls_legacy.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/lib.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/requests/get_index_status.ts
  x-pack/plugins/synthetics/server/legacy_uptime/lib/requests/test_helpers.ts
  x-pack/plugins/synthetics/server/legacy_uptime/routes/uptime_route_wrapper.ts
  x-pack/plugins/synthetics/server/queries/query_monitor_status.ts
  x-pack/plugins/synthetics/server/routes/status/current_status.test.ts
  x-pack/plugins/synthetics/server/routes/status/current_status.ts
  x-pack/plugins/synthetics/server/saved_objects/synthetics_monitor/get_all_monitors.ts
  x-pack/plugins/synthetics/server/synthetics_route_wrapper.ts
Labels: Team:uptime, release_note:skip, v8.7.0

#147941 Add wait for before asserting user event
  x-pack/plugins/stack_connectors/public/connector_types/lib/servicenow/update_connector.test.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Actions/ConnectorTypes, v8.7.0

#148315 [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: Team:Docs, v8.0.0, release_note:skip, v8.1.0, v7.17.0, v8.2.0, v8.3.0, v8.4.0, v8.5.0, v8.6.0, v8.7.0

#148322 [8.2] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148319 [7.17] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148320 [8.0] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148321 [8.1] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148323 [8.3] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148324 [8.4] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148325 [8.5] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148327 [8.6] [DOCS] Update create-panels-with-editors.asciidoc Bucket Script supported with TSVB (#148315)
  docs/user/dashboard/create-panels-with-editors.asciidoc
Labels: backport

#148055 Include client IP address in audit log
  docs/user/security/audit-logging.asciidoc
  packages/core/http/core-http-router-server-internal/src/socket.test.ts
  packages/core/http/core-http-router-server-internal/src/socket.ts
  packages/core/http/core-http-server/src/router/socket.ts
  x-pack/plugins/security/server/audit/audit_events.ts
  x-pack/plugins/security/server/audit/audit_service.test.ts
  x-pack/plugins/security/server/audit/audit_service.ts
  x-pack/plugins/security/server/audit/index.ts
  x-pack/plugins/security/server/authentication/api_keys/index.ts
  x-pack/plugins/security/server/authentication/index.ts
  x-pack/plugins/security/server/index.ts
  x-pack/test/security_api_integration/tests/audit/audit_log.ts
Labels: release_note:enhancement, Team:Security, backport:skip, Feature:Security/Audit, v8.7.0

#148332 [8.5] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148333 [8.4] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148335 [8.2] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148336 [8.1] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148337 [8.0] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148338 [7.17] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148339 [7.16] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148340 [7.15] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#148341 [7.14] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#147820 [Dashboard][Portable Dashboards] Unskip Unsaved Listing Tests
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  src/plugins/dashboard/public/dashboard_container/embeddable/integrations/diff_state/dashboard_diffing_integration.ts
  test/functional/apps/dashboard/group1/dashboard_unsaved_listing.ts
  test/functional/page_objects/dashboard_page.ts
Labels: Feature:Dashboard, Team:Presentation, loe:days, release_note:skip, impact:medium

#148342 [7.13] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#147798 [Dashboards][Portable Dashboard] Fix Performance Metric Baseline
  src/plugins/dashboard/public/dashboard_container/component/grid/dashboard_grid.tsx
Labels: Feature:Dashboard, performance, Team:Presentation, loe:days, release_note:skip, impact:low

#148334 [8.3] [DOCS] Add redirect for alerts and actions (#144251)
  docs/redirects.asciidoc
Labels: backport

#147843 [SLO] Create SLO / Edit SLO Form - Custom KQL
  packages/kbn-slo-schema/src/rest_specs/slo.ts
  packages/kbn-slo-schema/src/schema/indicators.ts
  packages/kbn-slo-schema/src/schema/slo.ts
  x-pack/plugins/observability/dev_docs/slo.md
  x-pack/plugins/observability/public/config/paths.ts
  x-pack/plugins/observability/public/data/slo.ts
  x-pack/plugins/observability/public/hooks/__storybook_mocks__/use_fetch_indices.ts
  x-pack/plugins/observability/public/hooks/slo/use_create_slo.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_slo_details.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_slo_list.ts
  x-pack/plugins/observability/public/hooks/use_fetch_indices.ts
  x-pack/plugins/observability/public/pages/slo_details/index.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form.stories.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_definition_custom_kql.stories.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_definition_custom_kql.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_description.stories.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_description.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_objectives.stories.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_objectives.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_objectives_timeslices.stories.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/slo_edit_form_objectives_timeslices.tsx
  x-pack/plugins/observability/public/pages/slo_edit/constants.ts
  x-pack/plugins/observability/public/pages/slo_edit/helpers/process_slo_form_values.ts
  x-pack/plugins/observability/public/pages/slo_edit/helpers/use_check_form_partial_validities.ts
  x-pack/plugins/observability/public/pages/slo_edit/index.test.tsx
  x-pack/plugins/observability/public/pages/slo_edit/index.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_item.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_welcome_prompt.tsx
  x-pack/plugins/observability/public/pages/slos/helpers/index.ts
  x-pack/plugins/observability/public/pages/slos/index.test.tsx
  x-pack/plugins/observability/public/pages/slos/index.tsx
  x-pack/plugins/observability/public/routes/index.tsx
  x-pack/plugins/observability/server/routes/slo/route.ts
  x-pack/plugins/observability/server/services/slo/find_slo.test.ts
  x-pack/plugins/observability/server/services/slo/find_slo.ts
  x-pack/plugins/observability/server/services/slo/fixtures/slo.ts
  x-pack/plugins/observability/server/services/slo/get_slo.test.ts
  x-pack/plugins/observability/server/services/slo/slo_repository.test.ts
  x-pack/plugins/observability/server/services/slo/transform_manager.test.ts
  x-pack/plugins/observability/tsconfig.json
Labels: release_note:feature

#147964 [Security Solution][Bug] Add privilege check in open timeline
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/edit_timeline_batch_actions.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/actions_columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/index.tsx
  x-pack/plugins/security_solution/public/timelines/pages/timelines_page.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Feature:Timeline, Team:Threat Hunting:Investigations, v8.6.0, v8.7.0

#147696 [Fleet][RBAC v2] Update `agent_status` route to use `calculateRouteAuthz`
  x-pack/plugins/fleet/server/routes/agent/index.ts
  x-pack/plugins/fleet/server/services/security/route_required_authz.ts
  x-pack/test/fleet_api_integration/apis/agents/status.ts
  x-pack/test/fleet_api_integration/apis/test_users.ts
Labels: Team:Fleet, Team:Defend Workflows, release_note:feature, OLM Sprint, 8.7 candidate

#148153 Clarify outcome: unknown in audit logging docs
  docs/user/security/audit-logging.asciidoc
Labels: Team:Security, release_note:skip, backport:skip, v8.7.0

#147940 Use docLinks plugin to generate server side URL
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.test.ts
  x-pack/plugins/task_manager/server/lib/log_health_metrics.ts
  x-pack/plugins/task_manager/server/plugin.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
  x-pack/plugins/task_manager/server/routes/health.ts
  x-pack/plugins/task_manager/tsconfig.json
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.7.0

#148299 [7.17] Upgrade node-sass to 8.0.0 (#145355)
  package.json
  yarn.lock
Labels: backport

#148018 [Stack Monitoring] Filter CCR list by currently viewed cluster
  x-pack/plugins/monitoring/common/http_api/elasticsearch/post_elasticsearch_ccr.ts
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/ccr_page.tsx
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/ccr.ts
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr_mb.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/ccr.json
Labels: Team:Infra Monitoring UI, release_note:skip, Feature:Stack Monitoring, backport:prev-minor, v8.6.0, v8.7.0

#148275 [Synthetics] Remove usage of @emotion
  x-pack/plugins/observability/public/components/shared/exploratory_view/embeddable/embeddable.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/empty_thumbnail.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/journey_step_image_popover.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/screenshot_overlay_footer.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/empty_image.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/journey_step_screenshot_container.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_status/monitor_status_header.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_status/monitor_status_legend.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_status/monitor_status_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_details_panel.tsx
Labels: Team:uptime, release_note:skip, v8.7.0

#148251 [Synthetics] Custom reporter for e2e testing
  .buildkite/pipelines/pull_request/observability_plugin.yml
  .buildkite/pipelines/pull_request/synthetics_plugin.yml
  .buildkite/pipelines/pull_request/ux_plugin_e2e.yml
  x-pack/plugins/observability/e2e/journeys/exploratory_view.ts
  x-pack/plugins/observability/e2e/journeys/single_metric.journey.ts
  x-pack/plugins/observability/e2e/journeys/step_duration.journey.ts
  x-pack/plugins/observability/e2e/record_video.ts
  x-pack/plugins/observability/e2e/synthetics_runner.ts
  x-pack/plugins/observability/e2e/test_reporter.ts
  x-pack/plugins/synthetics/e2e/helpers/record_video.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/add_monitor.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/alert_rules/default_status_alert.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/alerting_default.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/getting_started.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/global_parameters.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/management_list.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/monitor_selector.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/overview_scrolling.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/overview_search.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/overview_sorting.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/private_locations.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/project_api_keys.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/alerts/default_email_settings.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/alerts/status_alert_flyouts_in_alerting_app.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/alerts/tls_alert_flyouts_in_alerting_app.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/data_view_permissions.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/locations/locations.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/monitor_details.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/monitor_details/monitor_alerts.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/monitor_details/monitor_details.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/monitor_details/ping_redirects.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/monitor_management.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/monitor_management_enablement.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/monitor_name.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/private_locations/add_monitor_private_location.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/private_locations/manage_locations.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/read_only_user/monitor_management.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/step_duration.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/uptime.journey.ts
  x-pack/plugins/ux/e2e/journeys/core_web_vitals.ts
  x-pack/plugins/ux/e2e/journeys/page_views.ts
  x-pack/plugins/ux/e2e/journeys/url_ux_query.journey.ts
  x-pack/plugins/ux/e2e/journeys/ux_client_metrics.journey.ts
  x-pack/plugins/ux/e2e/journeys/ux_js_errors.journey.ts
  x-pack/plugins/ux/e2e/journeys/ux_long_task_metric_journey.ts
  x-pack/plugins/ux/e2e/journeys/ux_visitor_breakdown.journey.ts
Labels: Team:uptime, release_note:skip, v8.7.0

#148300 [Discover] Unskip a11y flaky test
  test/accessibility/apps/discover.ts
Labels: Feature:Discover, release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#148276 [Lens] Fixes the scrollbar on small multiples metric
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.test.tsx
  src/plugins/chart_expressions/expression_metric/public/components/metric_vis.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip

#148268 [8.6] Upgrade elastic_agent bundled package to 1.4.0 (#148071)
  fleet_packages.json
Labels: backport

#148363 [8.6] [Stack Monitoring] Filter CCR list by currently viewed cluster (#148018)
  x-pack/plugins/monitoring/common/http_api/elasticsearch/post_elasticsearch_ccr.ts
  x-pack/plugins/monitoring/public/application/pages/elasticsearch/ccr_page.tsx
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch/ccr.ts
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/ccr_mb.js
  x-pack/test/api_integration/apis/monitoring/elasticsearch/fixtures/ccr.json
Labels: backport

#147973 Remove state from csp rule template
  src/core/server/integration_tests/saved_objects/migrations/check_registered_types.test.ts
  x-pack/plugins/cloud_security_posture/common/schemas/csp_rule_template.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_container.test.tsx
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/cloud_security_posture/server/saved_objects/migrations/csp_rule_template.ts
  x-pack/plugins/cloud_security_posture/server/saved_objects/saved_objects.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security, 8.7 candidate

#148239 [ML] Anomaly Detection: Fix button switch issue with unmounted component.
  x-pack/plugins/ml/public/application/components/anomaly_results_view_selector/anomaly_results_view_selector.tsx
Labels: bug, release_note:fix, :ml, Feature:Anomaly Detection, v8.7.0

#148292 [Fleet] Honor index mode time_serie from the package
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/experimental_datastream_settings.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_panel.tsx
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/install.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/test/fleet_api_integration/apis/epm/template.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#148286 [Discover] Remove allow js setting
  src/plugins/discover/tsconfig.json
Labels: Feature:Discover, release_note:skip, Team:DataDiscovery, v8.7.0

#147963 [Fleet] Add deprecation warning to unenrollment timeout agent policy setting
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
Labels: release_note:enhancement, Team:Fleet

#148269 simplify discover grid dependencies
  src/plugins/data_view_field_editor/public/index.ts
  src/plugins/discover/public/__mocks__/grid_context.ts
  src/plugins/discover/public/application/context/context_app_content.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/components/discover_grid/build_copy_column_button.test.tsx
  src/plugins/discover/public/components/discover_grid/build_copy_column_button.tsx
  src/plugins/discover/public/components/discover_grid/build_edit_field_button.test.tsx
  src/plugins/discover/public/components/discover_grid/build_edit_field_button.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_cell_actions.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_columns.test.tsx
  src/plugins/discover/public/components/discover_grid/discover_grid_columns.tsx
  src/plugins/discover/public/utils/convert_value_to_string.test.tsx
  src/plugins/discover/public/utils/convert_value_to_string.ts
  src/plugins/discover/public/utils/copy_value_to_clipboard.test.tsx
  src/plugins/discover/public/utils/copy_value_to_clipboard.ts
Labels: Feature:Discover, release_note:skip, Team:DataDiscovery, v8.7.0

#148212 [8.6] [Monitoring] Read expiryDateMS from the right path in License rule (#148129)
  x-pack/plugins/monitoring/common/types/alerts.ts
  x-pack/plugins/monitoring/server/alerts/license_expiration_rule.ts
Labels: backport

#147492 [ResponseOps] Automate screenshots for new rule statuses
  docs/user/alerting/create-and-manage-rules.asciidoc
  docs/user/alerting/images/individual-enable-disable.png
  docs/user/alerting/images/rules-ui.png
  docs/user/alerting/images/snooze-panel.png
  x-pack/test/functional/services/rules/api.ts
  x-pack/test/functional/services/rules/index.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/list_view.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, docs, v8.7.0, 8.6.1

#148028 [controls] anchor time slider to start
  src/plugins/controls/common/time_slider/types.ts
  src/plugins/controls/public/time_slider/components/time_slider.tsx
  src/plugins/controls/public/time_slider/components/time_slider_anchored_range.tsx
  src/plugins/controls/public/time_slider/components/time_slider_popover_content.tsx
  src/plugins/controls/public/time_slider/components/time_slider_sliding_window_range.tsx
  src/plugins/controls/public/time_slider/components/time_slider_strings.ts
  src/plugins/controls/public/time_slider/embeddable/time_slider_embeddable.tsx
  src/plugins/controls/public/time_slider/time_slider_reducers.ts
  src/plugins/controls/public/time_slider/time_slider_selectors.ts
Labels: release_note:enhancement, Feature:Input Control, Team:Presentation, v8.7.0

#148073 [Cases] added unsaved draft message and conflict warning message
  x-pack/plugins/cases/public/common/translations.ts
  x-pack/plugins/cases/public/components/add_comment/index.tsx
  x-pack/plugins/cases/public/components/markdown_editor/eui_form.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/comment.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/translations.tsx
  x-pack/plugins/cases/public/components/user_actions/comment/user.tsx
  x-pack/plugins/cases/public/components/user_actions/description.tsx
  x-pack/plugins/cases/public/components/user_actions/index.tsx
  x-pack/plugins/cases/public/components/user_actions/markdown_form_footer.tsx
  x-pack/plugins/cases/public/components/user_actions/translations.ts
  x-pack/plugins/cases/public/components/user_actions/types.ts
  x-pack/test/functional_with_es_ssl/apps/cases/view_case.ts
Labels: release_note:skip, Feature:Cases, v8.7.0

#148231 [ML] Anomaly Detection: Fix Anomaly Explorer context handling.
  x-pack/plugins/ml/public/application/explorer/actions/load_explorer_data.ts
  x-pack/plugins/ml/public/application/explorer/anomaly_explorer_context.tsx
  x-pack/plugins/ml/public/application/overview/components/anomaly_detection_panel/anomaly_detection_panel.tsx
  x-pack/plugins/ml/public/application/overview/components/content.tsx
  x-pack/plugins/ml/public/application/routing/routes/explorer.tsx
Labels: bug, release_note:fix, :ml, Feature:Anomaly Detection, v8.7.0

#148155 Fix flaky Api Key Update test
  x-pack/test/functional/apps/api_keys/home_page.ts
  x-pack/test/functional/page_objects/api_keys_page.ts
Labels: Team:Security, release_note:skip, v8.7.0

#148352 [EnterpriseSearch] engines list proxy endpoint
  x-pack/plugins/enterprise_search/common/types/engines.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/engines.test.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/engines.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/index.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.7.0

#148354 Upgrade EUI to v72.1.0.
  package.json
  src/dev/license_checker/config.ts
  yarn.lock
Labels: release_note:skip, EUI, backport:skip, v8.7.0

#148284 [ML] Migrate SCSS use of euiBreakpoint to emotion.
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_page.scss
  x-pack/plugins/aiops/public/components/explain_log_rate_spikes/explain_log_rate_spikes_page.tsx
  x-pack/plugins/aiops/public/components/log_categorization/log_categorization_page.tsx
  x-pack/plugins/aiops/public/components/page_header/page_header.tsx
  x-pack/plugins/aiops/public/hooks/use_css.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/components/search_panel/_index.scss
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/components/search_panel/search_panel.scss
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/components/search_panel/search_panel.tsx
Labels: :ml, release_note:skip, v8.7.0

#147328 [Unified search] Sort the dataviews on the picker
  src/plugins/unified_search/public/dataview_picker/dataview_list.tsx
  src/plugins/unified_search/public/dataview_picker/sorting_service.test.ts
  src/plugins/unified_search/public/dataview_picker/sorting_service.ts
  x-pack/plugins/lens/public/datasources/form_based/layerpanel.test.tsx
Labels: Team:Visualizations, release_note:skip, backport:skip, Feature:Unified search, v8.7.0

#148293 [APM] Use p-retry instead of custom retry logic
  x-pack/test/apm_api_integration/common/utils/wait_for_active_alert.ts
  x-pack/test/apm_api_integration/tests/sourcemaps/sourcemaps.ts
Labels: Team:APM, release_note:skip

#146634 [DOCS] Refreshed URL to value list docs
  packages/kbn-doc-links/src/get_doc_links.ts
Labels: Team:Docs, release_note:skip, docs, v8.6.0, v8.7.0

#148054 [Docs][Image Embeddable] Add user-facing docs for image panel
  docs/user/dashboard/dashboard.asciidoc
  docs/user/dashboard/images/dashboard_addImageEditor_8.7.0.png
  docs/user/dashboard/images/dashboard_createNewImageButton_8.7.0.png
Labels: release_note:skip, docs, Team:Global Experience

#148399 [8.6] [DOCS] Refreshed URL to value list docs (#146634)
  packages/kbn-doc-links/src/get_doc_links.ts
Labels: backport

#147822 [Defend Workflows] Init Cypress
  .buildkite/ftr_configs.yml
  .buildkite/pipelines/pull_request/defend_workflows.yml
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
  .buildkite/scripts/steps/functional/defend_workflows.sh
  test/scripts/jenkins_defend_workflows_cypress.sh
  x-pack/plugins/security_solution/package.json
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/management/cypress.config.ts
  x-pack/plugins/security_solution/public/management/cypress/README.md
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoints.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/fixtures/example.json
  x-pack/plugins/security_solution/public/management/cypress/screens/navigation.ts
  x-pack/plugins/security_solution/public/management/cypress/support/e2e.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/login.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/navigation.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/run_endpoint_loader.ts
  x-pack/plugins/security_solution/public/management/cypress/tsconfig.json
  x-pack/plugins/security_solution/tsconfig.json
  x-pack/test/defend_workflows_cypress/cli_config.ts
  x-pack/test/defend_workflows_cypress/config.ts
  x-pack/test/defend_workflows_cypress/ftr_provider_context.d.ts
  x-pack/test/defend_workflows_cypress/runner.ts
  x-pack/test/defend_workflows_cypress/services.ts
  x-pack/test/defend_workflows_cypress/visual_config.ts
Labels: release_note:skip, Team:Defend Workflows, v8.7.0

#148355 [Dashboard] Unskip Create and Add Embeddables test
  test/functional/apps/dashboard/group1/create_and_add_embeddables.ts
Labels: Feature:Dashboard, Team:Presentation, loe:days, release_note:skip, impact:low

#148394 [controls] fix pin start text
  src/plugins/controls/public/time_slider/components/time_slider_strings.ts
Labels: Team:Presentation, release_note:skip, v8.7.0

#148402 Fix typo in "Behavioral Analytics" page title
  x-pack/plugins/enterprise_search/public/applications/analytics/components/analytics_overview/analytics_overview.tsx
  x-pack/plugins/enterprise_search/server/plugin.ts
Labels: release_note:skip, backport:skip

#148396 [Cases] Comments with long unbroken text layout fixed
  x-pack/plugins/cases/public/components/markdown_editor/renderer.tsx
  x-pack/plugins/cases/public/components/user_actions/markdown_form.tsx
Labels: release_note:skip, Feature:Cases, v8.7.0

#148359 synthetics - adjust e2e selectors to reduce flakiness
  x-pack/plugins/synthetics/e2e/journeys/synthetics/add_monitor.journey.ts
  x-pack/plugins/synthetics/e2e/page_objects/synthetics/synthetics_app.tsx
Labels: test, Team:uptime, release_note:skip, v8.7.0

#147260 [Cases][Security] Updating audit log
  docs/user/security/audit-logging.asciidoc
  x-pack/plugins/cases/server/services/user_actions/__snapshots__/audit_logger.test.ts.snap
  x-pack/plugins/cases/server/services/user_actions/__snapshots__/index.test.ts.snap
  x-pack/plugins/cases/server/services/user_actions/audit_logger.ts
  x-pack/plugins/cases/server/services/user_actions/index.test.ts
Labels: Team:Security, release_note:skip, Team:ResponseOps, Feature:Cases, v8.7.0

#147713 [DOCS] Notify assignees when assigned to a case
  docs/management/cases/manage-cases.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Cases, v8.7.0, v8.6.1

#148357 [DOCS] Fix typo in Tines connector
  docs/management/connectors/action-types/tines.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Actions/ConnectorTypes, v8.7.0, 8.6.1

#148408 [8.6] [DOCS] Notify assignees when assigned to a case (#147713)
  docs/management/cases/manage-cases.asciidoc
Labels: backport

#148397 Fix Enterprise Search document search bug in indices without position data indexed
  x-pack/plugins/enterprise_search/README.md
  x-pack/plugins/enterprise_search/server/lib/fetch_search_results.test.ts
  x-pack/plugins/enterprise_search/server/lib/fetch_search_results.ts
Labels: bug, release_note:skip, Team:EnterpriseSearch, auto-backport-next, v8.6.0, v8.7.0, v7.17.9

#148378 [Synthetics] Fix test run details tab content
  x-pack/plugins/synthetics/public/apps/synthetics/components/test_run_details/step_tabs.tsx
Labels: Team:uptime, release_note:skip, v8.7.0

#148410 [8.5] Fix Enterprise Search document search bug in indices without position data indexed (#148397)
  x-pack/plugins/enterprise_search/README.md
  x-pack/plugins/enterprise_search/server/lib/fetch_search_results.test.ts
  x-pack/plugins/enterprise_search/server/lib/fetch_search_results.ts
Labels: backport

#148407 [@kbn/babel-register] ensure that source maps are included inline
  packages/kbn-babel-transform/options.js
Labels: Team:Operations, release_note:skip

#148405 [8.6] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#148403 [file upload] verify CRS for geojson upload
  x-pack/plugins/file_upload/public/importer/geo/geojson_importer/geojson_importer.test.js
  x-pack/plugins/file_upload/public/importer/geo/geojson_importer/geojson_importer.ts
Labels: release_note:fix, Team:Presentation, Feature:File Upload, Feature:Maps

#148223 feat(slo): use sync delay for burn rate alerting
  packages/kbn-slo-schema/src/models/duration.test.ts
  packages/kbn-slo-schema/src/models/duration.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/executor.ts
Labels: release_note:skip, Team: Actionable Observability, v8.7.0

#148413 [maps] fix space in geo field name cause vector tiles to break
  x-pack/plugins/maps/common/mvt_request_body.test.ts
  x-pack/plugins/maps/common/mvt_request_body.ts
Labels: Team:Presentation, release_note:skip, Feature:Maps, v8.7.0

#148271 [8.6] [Endpoint filtering] Added more options to filter predicates (#147209)
  x-pack/plugins/security_solution/common/endpoint/exceptions/exceptionable_endpoint_event_fields.ts
Labels: backport

#148205 [Fleet] Speed up first install of Elastic Defend integration by changing artifact creation to bulk es query
  x-pack/plugins/fleet/server/services/artifacts/artifacts.test.ts
  x-pack/plugins/fleet/server/services/artifacts/artifacts.ts
  x-pack/plugins/fleet/server/services/artifacts/client.test.ts
  x-pack/plugins/fleet/server/services/artifacts/client.ts
  x-pack/plugins/fleet/server/services/artifacts/mocks.ts
  x-pack/plugins/fleet/server/services/artifacts/types.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/mocks.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#148400 [Discover] Fix flaky "Visualize text-based queries" test
  x-pack/test/functional/apps/discover/visualize_field.ts
Labels: release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#148312 [Discover] Support case-insensitive search in Document Viewer
  src/plugins/discover/public/components/field_name/__snapshots__/field_name.test.tsx.snap
  src/plugins/discover/public/components/field_name/field_name.test.tsx
  src/plugins/discover/public/components/field_name/field_name.tsx
  src/plugins/discover/public/services/doc_views/components/doc_viewer_table/table.tsx
Labels: release_note:fix, Team:DataDiscovery, backport:prev-minor

#148383 [AO] Sync Alert Summary Widget time range with Alert search bar
  x-pack/plugins/observability/public/pages/rule_details/helpers/get_alert_summary_time_range.test.tsx
  x-pack/plugins/observability/public/pages/rule_details/helpers/get_alert_summary_time_range.tsx
  x-pack/plugins/observability/public/pages/rule_details/helpers/index.ts
  x-pack/plugins/observability/public/pages/rule_details/index.tsx
Labels: release_note:skip, Team: Actionable Observability

#148295 [Discover] Unskip sidebar tests
  test/functional/apps/discover/group1/_sidebar.ts
Labels: Feature:Discover, release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#148429 [8.6] [Discover] Support case-insensitive search in Document Viewer (#148312)
  src/plugins/discover/public/components/field_name/__snapshots__/field_name.test.tsx.snap
  src/plugins/discover/public/components/field_name/field_name.test.tsx
  src/plugins/discover/public/components/field_name/field_name.tsx
  src/plugins/discover/public/services/doc_views/components/doc_viewer_table/table.tsx
Labels: backport

#148236 [Fleet] fixed tags query, added missing runtime fields
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/services/agents/crud.test.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/update_agent_tags_action_runner.ts
  x-pack/plugins/fleet/server/services/telemetry/fleet_usages_schema.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#148431 [Fleet] updated based on review comments
  x-pack/plugins/fleet/server/services/artifacts/artifacts.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#148346 [Maps] un-skip X-Pack API Integration Tests.x-pack/test/api_integration/apis/maps/get_grid_tile.js
  x-pack/test/api_integration/apis/maps/get_grid_tile.js
Labels: Team:Presentation, release_note:skip, Feature:Maps, v8.7.0

#146598 [Osquery] Substitute Event Data in place of {{parameter}} in Osquery run from Alerts
  packages/kbn-osquery-io-ts-types/src/live_query/index.ts
  x-pack/plugins/osquery/common/ecs/file/index.ts
  x-pack/plugins/osquery/common/ecs/rule/index.ts
  x-pack/plugins/osquery/common/schemas/routes/live_query/create_live_query_request_body_schema.ts
  x-pack/plugins/osquery/common/utils/replace_params_query.test.ts
  x-pack/plugins/osquery/common/utils/replace_params_query.ts
  x-pack/plugins/osquery/cypress/e2e/all/alerts.cy.ts
  x-pack/plugins/osquery/cypress/tasks/response_actions.ts
  x-pack/plugins/osquery/public/action_results/action_results_summary.tsx
  x-pack/plugins/osquery/public/actions/use_all_live_queries.ts
  x-pack/plugins/osquery/public/common/contexts.tsx
  x-pack/plugins/osquery/public/live_queries/form/pack_queries_status_table.tsx
  x-pack/plugins/osquery/public/live_queries/form/query_pack_selectable.tsx
  x-pack/plugins/osquery/public/live_queries/index.tsx
  x-pack/plugins/osquery/public/packs/form/shards/pack_type_selectable.tsx
  x-pack/plugins/osquery/public/plugin.ts
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/routes/saved_queries/edit/tabs.tsx
  x-pack/plugins/osquery/public/shared_components/lazy_live_query_field.tsx
  x-pack/plugins/osquery/public/shared_components/lazy_osquery_action.tsx
  x-pack/plugins/osquery/public/shared_components/lazy_osquery_results.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_action/index.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_response_action_type/index.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/index.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/osquery_result.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/osquery_results.test.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/types.ts
  x-pack/plugins/osquery/public/types.ts
  x-pack/plugins/osquery/server/handlers/action/create_action_handler.ts
  x-pack/plugins/osquery/server/handlers/action/create_queries.ts
  x-pack/plugins/osquery/server/plugin.ts
  x-pack/plugins/osquery/server/routes/live_query/create_live_query_route.ts
  x-pack/plugins/osquery/server/types.ts
  x-pack/plugins/osquery/tsconfig.json
  x-pack/plugins/security_solution/common/detection_engine/rule_response_actions/schemas/osquery.ts
  x-pack/plugins/security_solution/public/common/components/event_details/event_details.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/osquery_tab.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/osquery/index.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/osquery/parser.ts
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/osquery/plugin.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/osquery/renderer.tsx
  x-pack/plugins/security_solution/public/common/lib/kibana/__mocks__/index.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/osquery/osquery_investigation_guide_panel.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/response_actions_form.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/response_actions_form.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/response_actions_list.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/response_actions_wrapper.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/utils.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/utils.tsx
  x-pack/plugins/security_solution/public/detections/components/osquery/osquery_flyout.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/schedule_notification_response_actions.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_response_actions/schedule_notification_response_actions.ts
  x-pack/plugins/security_solution/tsconfig.json
Labels: release_note:enhancement, Team:Defend Workflows, Team:Asset Management, Feature:Osquery, ci:cloud-deploy, ci:cloud-redeploy, v8.7.0

#148440 [Fleet] Use `enrollled_at` timestamp for inactive status calulcation if `last_checkin` not present
  x-pack/plugins/fleet/server/services/agents/build_status_runtime_field.test.ts
  x-pack/plugins/fleet/server/services/agents/build_status_runtime_field.ts
  x-pack/test/fleet_api_integration/apis/agents/status.ts
Labels: release_note:skip, Team:Fleet

#148288 [Discover] Fix field stats for epoch time format
  src/plugins/unified_field_list/common/utils/__snapshots__/field_stats_utils.test.ts.snap
  src/plugins/unified_field_list/common/utils/field_stats_utils.test.ts
  src/plugins/unified_field_list/common/utils/field_stats_utils.ts
Labels: release_note:fix, Team:DataDiscovery, backport:prev-minor, Feature:UnifiedFieldList

#120674 [Fleet] Discuss: Cleanup model for each fleet index
  x-pack/plugins/fleet/dev_docs/data_model.md
Labels: release_note:skip, Team:Fleet

#148267 [Journeys] Add dashboard delete to dashboards listing
  src/plugins/dashboard/public/dashboard_app/listing/dashboard_listing.tsx
  src/plugins/dashboard/public/dashboard_constants.ts
  x-pack/performance/journeys/dashboard_listing_page.ts
Labels: release_note:skip, v8.7.0

#148416 [ML] Anomaly Detection geo wizard: hide bucket span estimator since not supported
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/geo_view/settings.tsx
Labels: :ml, Feature:Anomaly Detection, release_note:skip, v8.7.0

#148457 [8.6] [Discover] Fix field stats for epoch time format (#148288)
  src/plugins/unified_field_list/common/utils/__snapshots__/field_stats_utils.test.ts.snap
  src/plugins/unified_field_list/common/utils/field_stats_utils.test.ts
  src/plugins/unified_field_list/common/utils/field_stats_utils.ts
Labels: backport

#148302 [APM] Add API tests for APM package policy
  x-pack/test/apm_api_integration/tests/fleet/apm_package_policy.spec.ts
  x-pack/test/apm_api_integration/tests/fleet/apm_package_policy_setup.ts
Labels: release_note:skip

#147218 [Security Solution] Global query string functionality improvements
  packages/kbn-rison/kbn_rison.test.ts
  packages/kbn-rison/kbn_rison.ts
  x-pack/plugins/security_solution/common/utils/format_page_filter_search_param.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_alerts/detection_page_filters.cy.ts
  x-pack/plugins/security_solution/cypress/tsconfig.json
  x-pack/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.tsx
  x-pack/plugins/security_solution/public/common/components/markdown_editor/plugins/timeline/parser.ts
  x-pack/plugins/security_solution/public/common/hooks/timeline/use_query_timeline_by_id_on_url_change.test.ts
  x-pack/plugins/security_solution/public/common/hooks/timeline/use_query_timeline_by_id_on_url_change.ts
  x-pack/plugins/security_solution/public/common/hooks/use_resolve_conflict.test.tsx
  x-pack/plugins/security_solution/public/common/hooks/use_resolve_conflict.tsx
  x-pack/plugins/security_solution/public/common/hooks/use_resolve_redirect.test.ts
  x-pack/plugins/security_solution/public/common/hooks/use_resolve_redirect.ts
  x-pack/plugins/security_solution/public/common/store/global_url_param/actions.ts
  x-pack/plugins/security_solution/public/common/store/global_url_param/reducer.ts
  x-pack/plugins/security_solution/public/common/utils/global_query_string/helpers.ts
  x-pack/plugins/security_solution/public/common/utils/global_query_string/index.test.tsx
  x-pack/plugins/security_solution/public/common/utils/global_query_string/index.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/__mocks__/mock_rules_table_persistent_state.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/use_initialize_rules_table_saved_state.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/use_sync_rules_table_saved_state.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table/use_sync_rules_table_saved_state.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_rule_from_timeline.test.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/rules/use_rule_from_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.tsx
Labels: release_note:skip, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rules, Team:Threat Hunting:Investigations, v8.7.0

#148458 [Synthetics] Fixed public location edit remove
  x-pack/plugins/synthetics/server/routes/monitor_cruds/bulk_cruds/edit_monitor_bulk.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/edit_monitor.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.test.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_monitor/synthetics_monitor_client.ts
Labels: Team:uptime, release_note:skip, v8.7.0

#148461 support disabling kibana build download in functional/common.sh
  .buildkite/pipelines/fleet/packages_daily.yml
  .buildkite/scripts/download_build_artifacts.sh
Labels: Team:Operations, release_note:skip

#148424 Fixes Spaces loading spinner alignment
  x-pack/plugins/spaces/public/nav_control/__snapshots__/nav_control_popover.test.tsx.snap
  x-pack/plugins/spaces/public/nav_control/nav_control_popover.tsx
Labels: Team:Security, Feature:Security/Spaces, release_note:skip, v8.7.0

#148326 Upgrade json5 dependency (2.2.1 → 2.2.3)
  package.json
  yarn.lock
Labels: Team:Security, release_note:skip, backport:all-open

#148350 [kbn/es] Add dev docs for snapshot promotion pipeline
  packages/kbn-es/README.mdx
Labels: Team:Operations, release_note:skip

#148467 [ResponseOps] Opsgenie fix flaky execute button test
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors/opsgenie.ts
Labels: release_note:skip, Team:ResponseOps, v8.7.0

#148476 [8.6] Upgrade json5 dependency (2.2.1 → 2.2.3) (#148326)
  package.json
  yarn.lock
Labels: backport

#148475 [8.5] Upgrade json5 dependency (2.2.1 → 2.2.3) (#148326)
  package.json
  yarn.lock
Labels: backport

#148411 [8.6] Fix Enterprise Search document search bug in indices without position data indexed (#148397)
  x-pack/plugins/enterprise_search/README.md
  x-pack/plugins/enterprise_search/server/lib/fetch_search_results.test.ts
  x-pack/plugins/enterprise_search/server/lib/fetch_search_results.ts
Labels: backport

#148480 Added 143948
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, Team:Asset Mgmt, v8.6.0

#148226 [Reporting] Allow Reporting APIs to work when there is no headless browser
  x-pack/plugins/reporting/server/core.ts
  x-pack/plugins/reporting/server/lib/screenshots/observable.ts
  x-pack/plugins/reporting/server/plugin.ts
Labels: release_note:skip, Team:Global Experience, v7.17.9

#148502 [8.6] [Fleet] fix for rolling upgrade for <=2h
  x-pack/plugins/fleet/server/services/agents/upgrade.test.ts
  x-pack/plugins/fleet/server/services/agents/upgrade_action_runner.ts
Labels: release_note:skip, Team:Fleet, v8.6.1

#148428 [Synthetics] Fix nav path
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/hooks/use_breadcrumbs.ts
  x-pack/plugins/synthetics/public/plugin.ts
Labels: Team:uptime, release_note:skip, v8.7.0

#148436 [Discover] Unskip and fix "Search source alert" tests
  .github/CODEOWNERS
  x-pack/test/functional_with_es_ssl/apps/discover/search_source_alert.ts
Labels: release_note:skip, backport:skip, Team:DataDiscovery, v8.7.0

#148443 Add screenshot tests for reset session page
  x-pack/test/security_functional/screenshots/baseline/reset_session_page.png
  x-pack/test/security_functional/tests/login_selector/index.ts
  x-pack/test/security_functional/tests/login_selector/reset_session_page.ts
Labels: Team:Security, release_note:skip, backport:skip, v8.7.0

#148522 Upgrade luxon 1.x/2.x to latest version
  package.json
  yarn.lock
Labels: release_note:skip, backport:all-open

#148156 [Infrastructure UI] Hosts page controls don't have top spacing in mobile/tablet view
  x-pack/plugins/infra/public/pages/metrics/hosts/components/unified_search_bar.tsx
Labels: Team:Infra Monitoring UI, release_note:skip, backport:skip, v8.7.0

#148526 [Fleet] added saved object import `refresh:false`
  x-pack/plugins/fleet/server/services/epm/kibana/assets/install.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#147761 [Enterprise Search] [Behavioral Analytics] Fix onboarding docs
  x-pack/plugins/enterprise_search/public/applications/analytics/components/analytics_collection_view/analytics_collection_integrate/analytics_collection_integrate_javascript_client_embed.tsx
  x-pack/plugins/enterprise_search/public/applications/analytics/components/analytics_collection_view/analytics_collection_integrate/analytics_collection_integrate_searchui.tsx
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.7.0

#148543 [8.5] Upgrade luxon 1.x/2.x to latest version (#148522)
  package.json
  yarn.lock
Labels: backport

#147996 [ML] Transforms: Fix transforms JSON display
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/__snapshots__/expanded_row_json_pane.test.tsx.snap
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row_json_pane.tsx
Labels: bug, release_note:fix, :ml, Feature:Transforms, v8.6.0, v8.7.0

#148517 [Fleet] improvements to install packages script run by daily job
  x-pack/test/fleet_packages/tests/install_all.ts
Labels: release_note:skip, Team:Fleet, v8.7.0

#147848 [Actionable Observability] - Add alert annotation and threshold shade on the APM latency chart on the Alert Details page
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/alert_details_app_section.tsx
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/constants.ts
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/helpers.ts
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/latency_chart_components/alert_active_rect.tsx
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/latency_chart_components/alert_annotation.tsx
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/latency_chart_components/alert_threshold_annotation.tsx
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/latency_chart_components/alert_threshold_rect.tsx
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/latency_chart_components/index.ts
  x-pack/plugins/apm/public/components/alerting/ui_components/alert_details_app_section/types.ts
  x-pack/plugins/apm/public/components/shared/charts/timeseries_chart.tsx
  x-pack/plugins/apm/public/components/shared/charts/timeseries_chart_with_context.tsx
Labels: Team:APM, release_note:feature, Team: Actionable Observability, v8.7.0

#147995 [Image Embeddable] Integrate with drilldowns
  src/plugins/embeddable/public/lib/triggers/triggers.ts
  src/plugins/image_embeddable/kibana.json
  src/plugins/image_embeddable/public/actions/image_click_trigger.ts
  src/plugins/image_embeddable/public/actions/index.ts
  src/plugins/image_embeddable/public/image_embeddable/image_embeddable.scss
  src/plugins/image_embeddable/public/image_embeddable/image_embeddable.tsx
  src/plugins/image_embeddable/public/image_embeddable/image_embeddable_factory.tsx
  src/plugins/image_embeddable/public/image_embeddable/image_embeddable_lazy.tsx
  src/plugins/image_embeddable/public/image_viewer/image_viewer.tsx
  src/plugins/image_embeddable/public/imports.ts
  src/plugins/image_embeddable/public/index.ts
  src/plugins/image_embeddable/public/plugin.ts
  src/plugins/image_embeddable/tsconfig.json
  test/functional/apps/dashboard_elements/image_embeddable/image_embeddable.ts
  test/functional/services/dashboard/drilldowns_manage.ts
  test/functional/services/dashboard/index.ts
  test/functional/services/dashboard/panel_drilldown_actions.ts
  test/functional/services/index.ts
  x-pack/plugins/dashboard_enhanced/kibana.json
  x-pack/plugins/dashboard_enhanced/public/services/drilldowns/embeddable_to_dashboard_drilldown/embeddable_to_dashboard_drilldown.tsx
  x-pack/plugins/dashboard_enhanced/tsconfig.json
  x-pack/plugins/drilldowns/url_drilldown/kibana.json
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.tsx
  x-pack/plugins/drilldowns/url_drilldown/tsconfig.json
  x-pack/plugins/embeddable_enhanced/public/embeddables/embeddable_action_storage.test.ts
  x-pack/plugins/embeddable_enhanced/public/embeddables/embeddable_action_storage.ts
  x-pack/plugins/translations/translations/zh-CN.json
  x-pack/test/functional/services/dashboard/drilldowns_manage.ts
  x-pack/test/functional/services/dashboard/index.ts
  x-pack/test/functional/services/dashboard/panel_drilldown_actions.ts
  x-pack/test/functional/services/index.ts
Labels: Feature:Embedding, release_note:skip, Feature:Drilldowns, Team:Global Experience

#148497 [data view field editor] Fix runtime field format editor
  src/plugins/data_view_field_editor/public/open_editor.tsx
  test/functional/apps/management/_runtime_fields.ts
Labels: release_note:fix, Feature:Data Views, Feature:Kibana Management, backport:prev-minor

#148546 [8.6] [ResponseOps] Opsgenie fix flaky execute button test (#148467)
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors/opsgenie.ts
Labels: backport

#148544 [8.6] Upgrade luxon 1.x/2.x to latest version (#148522)
  package.json
  yarn.lock
Labels: backport

#148477 Files Service: .find() by mime type and user ID
  src/plugins/files/server/file_client/file_metadata_client/adapters/query_filters.ts
  src/plugins/files/server/file_service/file_action_types.ts
  src/plugins/files/server/integration_tests/file_service.test.ts
Labels: review, release_note:skip, Team:Global Experience, v8.7.0

#148474 [Bug] Fix JS Client instructions for Behavioral Analytics
  x-pack/plugins/enterprise_search/public/applications/analytics/components/analytics_collection_view/analytics_collection_integrate/analytics_collection_integrate_javascript_client_embed.tsx
Labels: bug, release_note:skip, backport:skip, v8.7.0

#148551 [8.6] [ML] Transforms: Fix transforms JSON display (#147996)
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/__snapshots__/expanded_row_json_pane.test.tsx.snap
  x-pack/plugins/transform/public/app/sections/transform_management/components/transform_list/expanded_row_json_pane.tsx
Labels: backport

#148523 [Synthetics] Monitor select append location id
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_selector/monitor_searchable_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_selector/use_monitor_name.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_selector/use_recently_viewed_monitors.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_selector/use_recently_viewed_monitors.ts
Labels: Team:uptime, release_note:skip, v8.7.0

#148534 Unskip migration test
  src/core/server/integration_tests/saved_objects/migrations/multiple_kibana_nodes.test.ts
Labels: Team:Core, release_note:skip, auto-backport, Feature:Migrations, v8.7.0

#148358 [DOCS] Bulk actions in Cases
  docs/management/cases/manage-cases.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Cases, v8.7.0, v8.6.1

#148535 [Lens] Allows cleaning up of the filters agg custom label
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/shared_components/label_input.tsx
Labels: release_note:fix, Team:Visualizations, Feature:Lens, backport:skip, v8.7.0

#148566 [8.6] [DOCS] Bulk actions in Cases (#148358)
  docs/management/cases/manage-cases.asciidoc
Labels: backport

#148554 [8.6] [data view field editor] Fix runtime field format editor (#148497)
  src/plugins/data_view_field_editor/public/open_editor.tsx
  test/functional/apps/management/_runtime_fields.ts
Labels: backport

#148437 [Synthetics] Fix settings data retention update
  .gitignore
  x-pack/plugins/observability/e2e/synthetics_runner.ts
  x-pack/plugins/observability/e2e/test_reporter.ts
  x-pack/plugins/observability/e2e/tsconfig.json
  x-pack/plugins/synthetics/e2e/fixtures/es_archiver/synthetics_data/data.json.gz
  x-pack/plugins/synthetics/e2e/helpers/record_video.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/alert_rules/default_status_alert.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/data_retention.journey.ts
  x-pack/plugins/synthetics/e2e/journeys/synthetics/index.ts
  x-pack/plugins/synthetics/e2e/journeys/uptime/alerts/status_alert_flyouts_in_alerting_app.ts
  x-pack/plugins/synthetics/e2e/synthetics_run.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/data_retention.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/hooks/use_get_ilm_policies.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/policy_link.tsx
Labels: Team:uptime, release_note:skip, v8.7.0

#148450 [TIP] fix indicator document not retrieved in cases view and use better query
  x-pack/plugins/threat_intelligence/public/modules/cases/hooks/use_indicator_by_id.ts
Labels: release_note:fix, Team: Protections Experience, v8.7.0

#148451 [TIP] fix indicator document not retrieved in cases view
  x-pack/plugins/threat_intelligence/public/modules/cases/hooks/use_indicator_by_id.ts
Labels: release_note:fix, Team: Protections Experience, 8.6.1

#148559 [Synthetics] Fix monitor status refresh
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/hooks/use_monitor_latest_ping.tsx
Labels: bug, Team:uptime, release_note:skip, v8.7.0

#147454 [Security Solution][Alerts] limits Indicator Match rule memory usage to prevent Kibana crash
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/enrich_signal_threat_matches.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_threat_list.ts
Labels: bug, release_note:fix, Team: SecuritySolution, Feature:Indicator Match Rule, Feature:Detection Rule Preview, Team:Detection Alerts, v8.7.0
