Repository elastic/kibana, pull requests merged in 2023-07, with the labels that each got.

#161050 [8.9] [Cloud Security] Remove CloudFormation from manual options (#161037)
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/aws_credentials_form/get_aws_credentials_form_options.tsx
Labels: backport

#159433 [ML] Integrating into serverless kibana
  packages/default-nav/ml/default_navigation.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.test.ts
  x-pack/plugins/ml/common/types/capabilities.ts
  x-pack/plugins/ml/public/application/app.tsx
  x-pack/plugins/ml/public/application/components/ml_page/ml_page.tsx
  x-pack/plugins/ml/public/application/contexts/kibana/use_is_serverless.ts
  x-pack/plugins/ml/public/application/memory_usage/memory_usage_page.tsx
  x-pack/plugins/ml/public/application/model_management/model_actions.tsx
  x-pack/plugins/ml/public/application/notifications/components/notifications_list.tsx
  x-pack/plugins/ml/public/application/overview/components/content.tsx
  x-pack/plugins/ml/public/application/overview/overview_page.tsx
  x-pack/plugins/ml/public/application/routing/routes/notifications.tsx
  x-pack/plugins/ml/public/application/routing/routes/overview.tsx
  x-pack/plugins/ml/public/plugin.ts
  x-pack/plugins/ml/public/register_helper/register_search_links/register_search_links.ts
  x-pack/plugins/ml/public/register_helper/register_search_links/search_deep_links.ts
  x-pack/plugins/ml/server/lib/capabilities/capabilities_switcher.ts
  x-pack/plugins/ml/server/lib/capabilities/check_capabilities.test.ts
  x-pack/plugins/ml/server/models/notifications_service/notifications_service_provider.ts
  x-pack/plugins/ml/server/plugin.ts
  x-pack/plugins/ml/server/routes/notifications.ts
  x-pack/plugins/ml/server/types.ts
  x-pack/plugins/serverless_observability/kibana.jsonc
  x-pack/plugins/serverless_observability/server/plugin.ts
  x-pack/plugins/serverless_observability/server/types.ts
  x-pack/plugins/serverless_observability/tsconfig.json
  x-pack/plugins/serverless_search/kibana.jsonc
  x-pack/plugins/serverless_search/public/layout/nav.tsx
  x-pack/plugins/serverless_search/server/plugin.ts
  x-pack/plugins/serverless_search/server/types.ts
  x-pack/plugins/serverless_search/tsconfig.json
  x-pack/plugins/serverless_security/kibana.jsonc
  x-pack/plugins/serverless_security/server/plugin.ts
  x-pack/plugins/serverless_security/server/types.ts
  x-pack/plugins/serverless_security/tsconfig.json
  x-pack/test/api_integration/apis/ml/system/capabilities.ts
  x-pack/test/api_integration/apis/ml/system/space_capabilities.ts
Labels: release_note:enhancement, :ml, v8.10.0

#160243 [Defend Workflows] Add API versioning to Osquery
  x-pack/plugins/osquery/common/constants.ts
  x-pack/plugins/osquery/cypress/e2e/all/packs.cy.ts
  x-pack/plugins/osquery/cypress/tasks/api_fixtures.ts
  x-pack/plugins/osquery/cypress/tasks/common.ts
  x-pack/plugins/osquery/cypress/tasks/packs.ts
  x-pack/plugins/osquery/public/action_results/use_action_privileges.tsx
  x-pack/plugins/osquery/public/actions/use_all_live_queries.ts
  x-pack/plugins/osquery/public/actions/use_live_query_details.ts
  x-pack/plugins/osquery/public/agent_policies/use_agent_policies.ts
  x-pack/plugins/osquery/public/agent_policies/use_agent_policy.ts
  x-pack/plugins/osquery/public/agents/use_agent_details.ts
  x-pack/plugins/osquery/public/agents/use_agent_policies.ts
  x-pack/plugins/osquery/public/agents/use_agent_policy_agent_ids.ts
  x-pack/plugins/osquery/public/agents/use_agent_status.ts
  x-pack/plugins/osquery/public/agents/use_all_agents.ts
  x-pack/plugins/osquery/public/agents/use_osquery_policies.ts
  x-pack/plugins/osquery/public/assets/use_assets_status.ts
  x-pack/plugins/osquery/public/assets/use_import_assets.ts
  x-pack/plugins/osquery/public/common/hooks/use_osquery_integration.tsx
  x-pack/plugins/osquery/public/fleet_integration/use_fetch_status.tsx
  x-pack/plugins/osquery/public/live_queries/use_create_live_query_action.tsx
  x-pack/plugins/osquery/public/packs/use_create_pack.ts
  x-pack/plugins/osquery/public/packs/use_delete_pack.ts
  x-pack/plugins/osquery/public/packs/use_pack.ts
  x-pack/plugins/osquery/public/packs/use_packs.ts
  x-pack/plugins/osquery/public/packs/use_update_pack.ts
  x-pack/plugins/osquery/public/saved_queries/use_create_saved_query.ts
  x-pack/plugins/osquery/public/saved_queries/use_delete_saved_query.ts
  x-pack/plugins/osquery/public/saved_queries/use_saved_queries.ts
  x-pack/plugins/osquery/public/saved_queries/use_saved_query.ts
  x-pack/plugins/osquery/public/saved_queries/use_update_saved_query.ts
  x-pack/plugins/osquery/public/shared_components/osquery_action/use_is_osquery_available_simple.tsx
  x-pack/plugins/osquery/server/routes/asset/get_assets_status_route.ts
  x-pack/plugins/osquery/server/routes/asset/update_assets_route.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_details.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_policies.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_policy.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_status_for_agent_policy.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agents.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_package_policies.ts
  x-pack/plugins/osquery/server/routes/live_query/create_live_query_route.ts
  x-pack/plugins/osquery/server/routes/live_query/find_live_query_route.ts
  x-pack/plugins/osquery/server/routes/live_query/get_live_query_details_route.ts
  x-pack/plugins/osquery/server/routes/live_query/get_live_query_results_route.ts
  x-pack/plugins/osquery/server/routes/pack/create_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/delete_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/find_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/read_pack_route.ts
  x-pack/plugins/osquery/server/routes/pack/update_pack_route.ts
  x-pack/plugins/osquery/server/routes/privileges_check/privileges_check_route.ts
  x-pack/plugins/osquery/server/routes/saved_query/create_saved_query_route.ts
  x-pack/plugins/osquery/server/routes/saved_query/delete_saved_query_route.ts
  x-pack/plugins/osquery/server/routes/saved_query/find_saved_query_route.ts
  x-pack/plugins/osquery/server/routes/saved_query/read_saved_query_route.ts
  x-pack/plugins/osquery/server/routes/saved_query/update_saved_query_route.ts
  x-pack/plugins/osquery/server/routes/status/create_status_route.ts
Labels: chore, release_note:skip, Team:Defend Workflows, Feature:Osquery, v8.10.0

#158800 [Cloud Security] update benchmark api
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/cloud_security_posture/common/schemas/benchmark.ts
  x-pack/plugins/cloud_security_posture/common/types.ts
  x-pack/plugins/cloud_security_posture/public/pages/benchmarks/use_csp_benchmark_integrations.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/use_csp_rules.ts
  x-pack/plugins/cloud_security_posture/server/lib/fleet_util.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/benchmarks.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/benchmarks.ts
  x-pack/test/api_integration/apis/cloud_security_posture/benchmark.ts
Labels: release_note:skip, Team:Cloud Security

#152873 [RAM] Remove third party RRule library, replace with own timezone-compliant lib
  .github/CODEOWNERS
  package.json
  packages/kbn-rrule/README.md
  packages/kbn-rrule/index.ts
  packages/kbn-rrule/jest.config.js
  packages/kbn-rrule/kibana.jsonc
  packages/kbn-rrule/package.json
  packages/kbn-rrule/rrule.test.ts
  packages/kbn-rrule/rrule.ts
  packages/kbn-rrule/tsconfig.json
  tsconfig.base.json
  x-pack/plugins/alerting/common/rrule_type.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/components/recurring_schedule_form/custom_recurring_schedule.test.tsx
  x-pack/plugins/alerting/public/pages/maintenance_windows/components/recurring_schedule_form/custom_recurring_schedule.tsx
  x-pack/plugins/alerting/public/pages/maintenance_windows/components/recurring_schedule_form/recurring_schedule.test.tsx
  x-pack/plugins/alerting/public/pages/maintenance_windows/components/recurring_schedule_form/recurring_schedule.tsx
  x-pack/plugins/alerting/public/pages/maintenance_windows/components/schema.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/constants.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/helpers/convert_from_maintenance_window_to_form.test.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/helpers/convert_from_maintenance_window_to_form.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/helpers/convert_to_rrule.test.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/helpers/convert_to_rrule.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/helpers/get_presets.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/helpers/recurring_summary.test.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/helpers/recurring_summary.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/translations.ts
  x-pack/plugins/alerting/public/pages/maintenance_windows/types.ts
  x-pack/plugins/alerting/server/lib/is_rule_snoozed.test.ts
  x-pack/plugins/alerting/server/lib/rrule/index.ts
  x-pack/plugins/alerting/server/lib/rrule/parse_by_weekday.ts
  x-pack/plugins/alerting/server/lib/snooze/index.ts
  x-pack/plugins/alerting/server/lib/snooze/is_snooze_active.test.ts
  x-pack/plugins/alerting/server/lib/snooze/is_snooze_active.ts
  x-pack/plugins/alerting/server/lib/snooze/is_snooze_expired.test.ts
  x-pack/plugins/alerting/server/lib/snooze/is_snooze_expired.ts
  x-pack/plugins/alerting/server/lib/snooze/timezone_helpers.ts
  x-pack/plugins/alerting/server/lib/validate_snooze_schedule.ts
  x-pack/plugins/alerting/server/maintenance_window_client/generate_maintenance_window_events.test.ts
  x-pack/plugins/alerting/server/maintenance_window_client/generate_maintenance_window_events.ts
  x-pack/plugins/alerting/server/maintenance_window_client/methods/archive.test.ts
  x-pack/plugins/alerting/server/maintenance_window_client/methods/finish.test.ts
  x-pack/plugins/alerting/server/maintenance_window_client/methods/test_helpers.ts
  x-pack/plugins/alerting/server/maintenance_window_client/methods/update.test.ts
  x-pack/plugins/alerting/server/routes/lib/rrule_schema.ts
  x-pack/plugins/alerting/server/routes/maintenance_window/update_maintenance_window.test.ts
  x-pack/plugins/alerting/tsconfig.json
  yarn.lock
Labels: release_note:fix, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.9.0

#161022 [Ops] Fix es snapshot startup for params with dots in their path
  packages/kbn-es/src/utils/extract_config_files.test.js
  packages/kbn-es/src/utils/extract_config_files.ts
Labels: Team:Operations, release_note:fix, backport:prev-minor, v8.10.0

#160977 [8.9] [Synthetics] Schedule test now run for getting started monitor (#160839)
  x-pack/plugins/synthetics/common/types/synthetics_monitor.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/getting_started/use_simple_monitor.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/test_now_mode/test_now_mode_flyout.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/state/manual_test_runs/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor/monitor_duration/monitor_duration_container.tsx
  x-pack/plugins/synthetics/public/legacy_uptime/components/monitor/status_details/status_details_container.tsx
  x-pack/plugins/synthetics/server/routes/default_alerts/enable_default_alert.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/synthetics_service/test_now_monitor.ts
Labels: backport, Team:uptime

#160506 [Security Solution][Endpoint] Use fleet agent `last_checkin` status to show endpoint last seen status
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_metadata_generator.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_endpoint_hosts.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/status_action.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/status_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/header_endpoint_info.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/header_endpoint_info.tsx
  x-pack/plugins/security_solution/public/management/hooks/endpoint/use_get_endpoints_list.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/builders.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/middleware.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/mock_endpoint_result_list.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/reducer.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/store/selectors.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/types.ts
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/actions_menu.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/components/flyout_header.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoint_details.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/details/endpoint_details_content.tsx
  x-pack/plugins/security_solution/public/management/pages/endpoint_hosts/view/index.test.tsx
  x-pack/plugins/security_solution/server/endpoint/services/metadata/endpoint_metadata_service.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/metadata/endpoint_metadata_service.ts
Labels: release_note:fix, Team:Defend Workflows, OLM Sprint, v8.10.0

#161071 [8.9] [Ops] Fix es snapshot startup for params with dots in their path (#161022)
  packages/kbn-es/src/utils/extract_config_files.test.js
  packages/kbn-es/src/utils/extract_config_files.ts
Labels: backport

#159548 [Cloud Security] convert status api router to be versioned
  x-pack/performance/journeys/cloud_security_dashboard.ts
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/common/api/use_setup_status_api.ts
  x-pack/plugins/cloud_security_posture/server/routes/csp_rule_template/get_csp_rule_template.ts
  x-pack/plugins/cloud_security_posture/server/routes/status/status.ts
  x-pack/plugins/cloud_security_posture/tsconfig.json
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_index_timeout.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_indexed.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_indexing.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_not_deployed_not_installed.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_unprivileged.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_waiting_for_results.ts
  x-pack/test/cloud_security_posture_api/telemetry/telemetry.ts
  x-pack/test/cloud_security_posture_functional/page_objects/csp_dashboard_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/findings_page.ts
Labels: release_note:skip, Team:Cloud Security

#160850 [SecuritySolution] Get Started Page UI update
  x-pack/plugins/serverless_security/common/config.ts
  x-pack/plugins/serverless_security/common/pli/pli_features.test.ts
  x-pack/plugins/serverless_security/public/components/get_started/get_started.test.tsx
  x-pack/plugins/serverless_security/public/components/get_started/get_started.tsx
  x-pack/plugins/serverless_security/public/components/get_started/helpers.test.ts
  x-pack/plugins/serverless_security/public/components/get_started/helpers.ts
  x-pack/plugins/serverless_security/public/components/get_started/index.tsx
  x-pack/plugins/serverless_security/public/components/get_started/lazy.tsx
  x-pack/plugins/serverless_security/public/components/get_started/product_switch.test.tsx
  x-pack/plugins/serverless_security/public/components/get_started/product_switch.tsx
  x-pack/plugins/serverless_security/public/components/get_started/reducer.test.ts
  x-pack/plugins/serverless_security/public/components/get_started/reducer.tsx
  x-pack/plugins/serverless_security/public/components/get_started/sections.tsx
  x-pack/plugins/serverless_security/public/components/get_started/toggle_panel.test.tsx
  x-pack/plugins/serverless_security/public/components/get_started/toggle_panel.tsx
  x-pack/plugins/serverless_security/public/components/get_started/translations.ts
  x-pack/plugins/serverless_security/public/components/get_started/types.ts
  x-pack/plugins/serverless_security/public/components/get_started/use_setup_cards.test.tsx
  x-pack/plugins/serverless_security/public/components/get_started/use_setup_cards.tsx
  x-pack/plugins/serverless_security/public/components/get_started/use_toggle_panel.test.tsx
  x-pack/plugins/serverless_security/public/components/get_started/use_toggle_panel.tsx
  x-pack/plugins/serverless_security/public/components/upselling/register_upsellings.test.tsx
  x-pack/plugins/serverless_security/public/lib/get_started/storage.test.ts
  x-pack/plugins/serverless_security/public/lib/get_started/storage.ts
  x-pack/plugins/serverless_security/public/plugin.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.10.0

#161065 [ftr/test_serverless] Remove common tests from serverless pipeline
  .buildkite/pipelines/serverless.yml
Labels: release_note:skip, backport:prev-minor, v8.9.0, v8.10.0

#160631 Increase timeout for costly ".kibana split" integration test
  src/core/server/integration_tests/saved_objects/migrations/group3/dot_kibana_split.test.ts
Labels: Team:Core, release_note:skip, test-failure-flaky, Feature:Migrations, backport:prev-minor, v8.9.0, v8.10.0

#161077 [8.9] [ftr/test_serverless] Remove common tests from serverless pipeline (#161065)
  .buildkite/pipelines/serverless.yml
Labels: backport

#161009 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#161078 [8.9] Increase timeout for costly ".kibana split" integration test (#160631)
  src/core/server/integration_tests/saved_objects/migrations/group3/dot_kibana_split.test.ts
Labels: backport

#160866 [Serverless] Update observability side navigation
  packages/deeplinks/management/deep_links.ts
  x-pack/plugins/serverless_observability/public/components/side_navigation/index.tsx
Labels: release_note:skip, apm:serverless, v8.10.0

#160976 [Synthetics] Fix test now monitor in non default space
  x-pack/plugins/synthetics/public/apps/synthetics/state/manual_test_runs/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/manual_test_runs/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/actions.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/synthetics_service/test_now_monitor.ts
  x-pack/test/api_integration/apis/synthetics/index.ts
  x-pack/test/api_integration/apis/synthetics/services/synthetics_monitor_test_service.ts
  x-pack/test/api_integration/apis/synthetics/test_now_monitor.ts
Labels: Team:uptime, release_note:skip, v8.9.0, v8.10.0

#161029 [Discover] Fix search sessions using temporary data views
  src/plugins/discover/public/application/main/services/discover_state.test.ts
  src/plugins/discover/public/application/main/services/discover_state.ts
Labels: Feature:Discover, release_note:fix, Team:DataDiscovery

#161063 [http] capture errors thrown from handlers
  packages/core/http/core-http-router-server-internal/src/router.ts
  src/core/server/integration_tests/http/router.test.mocks.ts
  src/core/server/integration_tests/http/router.test.ts
  src/core/server/integration_tests/http/versioned_router.test.mocks.ts
  src/core/server/integration_tests/http/versioned_router.test.ts
Labels: Feature:http, Team:Core, release_note:skip, backport:skip, apm, v8.10.0

#161015 [Security Solution] Added changelog links to the rules install and update pages
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_table.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_changelog_link.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/translations.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.9.0

#161097 [Enterprise Search] Copyedits and typo fixes
  x-pack/plugins/enterprise_search/common/constants.ts
  x-pack/plugins/enterprise_search/public/applications/esre/components/esre_guide/esre_docs_section.tsx
  x-pack/plugins/enterprise_search/public/applications/esre/components/esre_guide/measure_performance_section.tsx
  x-pack/plugins/enterprise_search/public/applications/esre/components/esre_guide/rrf_ranking_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/vector_search/components/vector_search_guide/vector_search_guide.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0, v8.10.0

#161091 Fix publicUrlWarning message related to server.publicBaseUrl
  x-pack/plugins/triggers_actions_ui/public/application/lib/validate_params_for_warnings.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/validate_params_for_warnings.ts
Labels: bug, release_note:skip, backport:prev-minor

#161099 [Enterprise Search] Minor copyedits for connector configs
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0, v8.10.0

#160925 Implements profile theme selection with KeyPadMenu
  x-pack/plugins/security/public/account_management/user_profile/user_profile.test.tsx
  x-pack/plugins/security/public/account_management/user_profile/user_profile.tsx
Labels: Team:Security, enhancement, release_note:skip, Feature:Security/User Profile, v8.10.0

#161102 [8.9] [Security Solution] Added changelog links to the rules install and update pages (#161015)
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_table.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_changelog_link.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/translations.ts
Labels: backport

#161103 [8.9] [Security Solution] [Cypress] Fix flaky cypress tests (#160225)
  x-pack/plugins/security_solution/cypress/e2e/investigations/dasbhoards/detection_response.cy.ts
  x-pack/plugins/security_solution/cypress/screens/common/controls.ts
  x-pack/plugins/security_solution/cypress/screens/detection_response.ts
  x-pack/plugins/security_solution/cypress/tasks/dashboards/common.ts
  x-pack/plugins/security_solution/cypress/tasks/network/flows.ts
Labels: backport

#161107 [8.9] [Enterprise Search] Copyedits and typo fixes (#161097)
  x-pack/plugins/enterprise_search/common/constants.ts
  x-pack/plugins/enterprise_search/public/applications/esre/components/esre_guide/esre_docs_section.tsx
  x-pack/plugins/enterprise_search/public/applications/esre/components/esre_guide/measure_performance_section.tsx
  x-pack/plugins/enterprise_search/public/applications/esre/components/esre_guide/rrf_ranking_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/vector_search/components/vector_search_guide/vector_search_guide.tsx
Labels: backport

#161110 [8.9] Fix publicUrlWarning message related to server.publicBaseUrl (#161091)
  x-pack/plugins/triggers_actions_ui/public/application/lib/validate_params_for_warnings.test.ts
  x-pack/plugins/triggers_actions_ui/public/application/lib/validate_params_for_warnings.ts
Labels: backport

#161082 [Enterprise Search] Change minute values to preset intervals
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling/connector_cron_editor.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/__snapshots__/cron_editor.test.tsx.snap
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/cron_editor.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/services/cron.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0, v8.10.0

#161115 [8.9] [Enterprise Search] Minor copyedits for connector configs (#161099)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_configuration.tsx
Labels: backport

#161114 [8.9] [Infrastructure UI] Hosts view charts fix (#160736)
  x-pack/plugins/infra/public/pages/metrics/hosts/components/kpis/tile.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/tabs/metrics/metric_chart.tsx
Labels: backport

#160448 [Security Solution] Update session viewer Policy permissions to use Policy specific check
  x-pack/plugins/security_solution/public/timelines/components/timeline/session_tab_content/use_session_view.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/session_tab_content/use_session_view.tsx
  x-pack/plugins/session_view/public/components/session_view/index.tsx
  x-pack/plugins/session_view/public/components/tty_player/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/index.tsx
  x-pack/plugins/session_view/public/types.ts
Labels: release_note:fix, Team:Defend Workflows, v8.9.0, v8.10.0

#161125 [8.9] [Enterprise Search] Change minute values to preset intervals (#161082)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/connector_scheduling/connector_cron_editor.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/__snapshots__/cron_editor.test.tsx.snap
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/constants.ts
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/cron_editor.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/cron_editor/services/cron.ts
Labels: backport

#160688 [ML] Add functional tests for Anomaly detection job conversion
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/single_metric_view/settings.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/summary_step/summary.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/new_job/page.tsx
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/convert_jobs_to_advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/convert_single_metric_job_to_multi_metric.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/date_nanos_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/index.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/types.ts
  x-pack/test/functional/services/ml/job_wizard_common.ts
Labels: :ml, test_ui_functional, release_note:skip, v8.9.0, v8.10.0

#161127 [8.9] [Security Solution] Update session viewer Policy permissions to use Policy specific check (#160448)
  x-pack/plugins/security_solution/public/timelines/components/timeline/session_tab_content/use_session_view.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/session_tab_content/use_session_view.tsx
  x-pack/plugins/session_view/public/components/session_view/index.tsx
  x-pack/plugins/session_view/public/components/tty_player/index.test.tsx
  x-pack/plugins/session_view/public/components/tty_player/index.tsx
  x-pack/plugins/session_view/public/types.ts
Labels: backport

#161118 [8.9] [Synthetics] Fix test now monitor in non default space (#160976)
  x-pack/plugins/synthetics/public/apps/synthetics/state/manual_test_runs/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/manual_test_runs/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/utils/actions.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/add_monitor.ts
  x-pack/plugins/synthetics/server/routes/monitor_cruds/delete_monitor.ts
  x-pack/plugins/synthetics/server/routes/synthetics_service/test_now_monitor.ts
  x-pack/test/api_integration/apis/synthetics/index.ts
  x-pack/test/api_integration/apis/synthetics/services/synthetics_monitor_test_service.ts
  x-pack/test/api_integration/apis/synthetics/test_now_monitor.ts
Labels: backport, Team:uptime

#161132 [8.9] [ML] Add functional tests for Anomaly detection job conversion (#160688)
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/single_metric_view/settings.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/summary_step/summary.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/new_job/page.tsx
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/convert_jobs_to_advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/convert_single_metric_job_to_multi_metric.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/date_nanos_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/index.ts
  x-pack/test/functional/apps/ml/anomaly_detection_jobs/types.ts
  x-pack/test/functional/services/ml/job_wizard_common.ts
Labels: backport

#161112 Upgrading cssnano
  package.json
  yarn.lock
Labels: chore, Team:Security, release_note:skip, v7.17.12

#160416 Restrict ability to disable features within a Space
  config/serverless.yml
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/spaces/public/config.ts
  x-pack/plugins/spaces/public/management/edit_space/manage_space_page.test.tsx
  x-pack/plugins/spaces/public/management/edit_space/manage_space_page.tsx
  x-pack/plugins/spaces/public/management/management_service.test.ts
  x-pack/plugins/spaces/public/management/spaces_management_app.test.tsx
  x-pack/plugins/spaces/public/management/spaces_management_app.tsx
  x-pack/plugins/spaces/server/config.test.ts
  x-pack/plugins/spaces/server/config.ts
  x-pack/plugins/spaces/server/index.ts
  x-pack/plugins/spaces/server/routes/api/external/post.test.ts
  x-pack/plugins/spaces/server/routes/api/external/put.test.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client.test.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client.ts
  x-pack/test_serverless/api_integration/test_suites/common/spaces.ts
Labels: Team:Security, release_note:skip, v8.10.0

#160498 [Profiling] fetching latest package version to use in instructions
  x-pack/plugins/profiling/public/views/no_data_view/index.tsx
  x-pack/plugins/profiling/server/lib/setup/get_setup_instructions.ts
Labels: release_note:skip, v8.10.0

#161084 [Infrastructure UI] Fix disk space usage chart Y axis
  x-pack/plugins/infra/public/common/visualizations/lens/formulas/host/disk_space_usage.ts
Labels: Feature:Metrics UI, Team:Infra Monitoring UI, release_note:skip, backport:prev-minor, Feature:ObsHosts, v8.9.0, v8.10.0

#160973 [APM] Diagnostics: show both doc count and event count
  x-pack/plugins/apm/common/utils/formatters/formatters.test.ts
  x-pack/plugins/apm/common/utils/formatters/formatters.ts
  x-pack/plugins/apm/public/components/app/diagnostics/apm_documents_tab.tsx
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_apm_events.ts
  x-pack/test/apm_api_integration/tests/diagnostics/apm_events.spec.ts
Labels: Team:APM, release_note:skip, v8.9.0

#160971 [Logs+] Add All entry for DatasetSelector
  x-pack/plugins/discover_log_explorer/common/datasets/models/dataset.ts
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/dataset_selector.stories.tsx
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/dataset_selector.tsx
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/state_machine/defaults.ts
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/state_machine/state_machine.ts
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/state_machine/types.ts
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/state_machine/use_dataset_selector.ts
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/sub_components/datasets_popover.tsx
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/sub_components/integrations_list_status.tsx
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/types.ts
  x-pack/plugins/discover_log_explorer/public/components/dataset_selector/utils.tsx
  x-pack/plugins/discover_log_explorer/public/customizations/custom_dataset_selector.tsx
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/all_dataset_selection.ts
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/encoding.test.ts
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/encoding.ts
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/errors.ts
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/hydrate_dataset_selection.ts.ts
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/index.ts
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/single_dataset_selection.ts
  x-pack/plugins/discover_log_explorer/public/utils/dataset_selection/types.ts
  x-pack/plugins/discover_log_explorer/tsconfig.json
Labels: Team:Infra Monitoring UI, release_note:skip, Team:Fleet

#161108 [Cases] update API schema params as object
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/common/api/cases/comment/files.ts
  x-pack/plugins/cases/common/schema/index.test.ts
  x-pack/plugins/cases/common/schema/index.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.10.0

#161130 [Lens] Automatically unlink cloned library annotation group layers
  x-pack/plugins/lens/public/visualizations/xy/visualization.test.tsx
  x-pack/plugins/lens/public/visualizations/xy/visualization.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:prev-minor

#161145 [8.9] [Infrastructure UI] Fix disk space usage chart Y axis (#161084)
  x-pack/plugins/infra/public/common/visualizations/lens/formulas/host/disk_space_usage.ts
Labels: backport

#160195 [Discover] Refresh fields when entering Discover
  src/plugins/discover/public/application/main/utils/resolve_data_view.ts
Labels: release_note:fix, Team:DataDiscovery, backport:prev-minor

#161143 [8.9] [APM] Diagnostics: show both doc count and event count (#160973)
  x-pack/plugins/apm/common/utils/formatters/formatters.test.ts
  x-pack/plugins/apm/common/utils/formatters/formatters.ts
  x-pack/plugins/apm/public/components/app/diagnostics/apm_documents_tab.tsx
  x-pack/plugins/apm/server/routes/diagnostics/bundle/get_apm_events.ts
  x-pack/test/apm_api_integration/tests/diagnostics/apm_events.spec.ts
Labels: backport, Team:APM

#161088 [Cases] Guardrails: Limit bulk get cases and bulk get attachments
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/common/api/cases/comment/index.ts
  x-pack/plugins/cases/common/constants/index.ts
  x-pack/plugins/cases/server/client/attachments/bulk_get.test.ts
  x-pack/plugins/cases/server/client/attachments/bulk_get.ts
  x-pack/plugins/cases/server/client/cases/bulk_get.test.ts
  x-pack/plugins/cases/server/client/cases/bulk_get.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/bulk_get_attachments.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/bulk_get_cases.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.10.0

#161134 Fix infinite loading of APM alert table
  x-pack/plugins/apm/public/components/app/alerts_overview/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/mobile_service_template/index.tsx
  x-pack/test/functional/apps/apm/correlations/failed_transaction_correlations.ts
Labels: bug, release_note:fix, Team:APM, backport:prev-minor, v8.8.3

#159703 Modify open_close_signals route to avoid using update_by_query when possible
  x-pack/plugins/security_solution/public/common/components/event_details/event_details.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/overview/index.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/overview/status_popover_button.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/overview/status_popover_button.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/use_alert_bulk_actions.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/alert_bulk_actions.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/alert_bulk_tags.test.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/helpers.ts
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/update_alerts.test.ts
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/update_alerts.ts
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/use_bulk_action_items.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/use_set_alert_tags.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/use_update_alerts.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions/logic/use_close_alerts.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/actions.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/alerts_sub_grouping.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/group_take_action_items.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/group_take_action_items.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_alerts_actions.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/take_action_dropdown/index.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/api.test.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/api.ts
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/types.ts
  x-pack/plugins/security_solution/public/detections/hooks/trigger_actions_alert_table/use_alert_actions.tsx
  x-pack/plugins/security_solution/public/flyout/right/footer.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/expandable_event.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/footer.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/footer.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/flyout/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/event_details/index.tsx
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/signals/open_close_signals.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/signals/open_close_signals_route.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/open_close_signals.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/set_alert_tags.ts
  x-pack/test/detection_engine_api_integration/utils/get_signal_status_empty_response.ts
  x-pack/test/detection_engine_api_integration/utils/set_signal_status.ts
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, v8.10.0

#161093 [Cloud Security] Fix search in benchmark page
  x-pack/plugins/cloud_security_posture/public/pages/rules/use_csp_rules.ts
  x-pack/plugins/cloud_security_posture/server/routes/csp_rule_template/get_csp_rule_template.ts
Labels: release_note:skip, Team:Cloud Security

#161160 [8.9] Fix infinite loading of APM alert table (#161134)
  x-pack/plugins/apm/public/components/app/alerts_overview/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/apm_service_template/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/mobile_service_template/index.tsx
  x-pack/test/functional/apps/apm/correlations/failed_transaction_correlations.ts
Labels: backport, Team:APM

#161165 [8.9] [DOCS] Update the 8.8.2 release notes (#161163)
  docs/CHANGELOG.asciidoc
Labels: backport

#161154 [8.9] [Discover] Refresh fields when entering Discover (#160195)
  src/plugins/discover/public/application/main/utils/resolve_data_view.ts
Labels: backport

#161164 [8.8] [DOCS] Update the 8.8.2 release notes (#161163)
  docs/CHANGELOG.asciidoc
Labels: backport

#160374 [Security Solution][Fix] Alert Page Filter Controls should not ignore Invalid Selections
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/cypress/e2e/investigations/alerts/detection_page_filters.cy.ts
  x-pack/plugins/security_solution/cypress/screens/common/filter_group.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts.ts
  x-pack/plugins/security_solution/cypress/tasks/common/filter_group.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/constants.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/context_menu.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/filter_group.test.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/index.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/types.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/utils.test.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/utils.ts
Labels: release_note:fix, Team:Threat Hunting:Investigations, ci:cloud-deploy, v8.9.0

#161122 [Enterprise Search] Remove access control as well if exists
  x-pack/plugins/enterprise_search/server/lib/indices/delete_access_control_index.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
  x-pack/plugins/enterprise_search/tsconfig.json
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0, v8.10.0

#161060 [Deployment Management] Add landing page redirect feature and implement in security solution
  src/plugins/management/README.md
  src/plugins/management/public/components/management_app/management_app.tsx
  src/plugins/management/public/components/management_app/management_router.tsx
  src/plugins/management/public/mocks/index.ts
  src/plugins/management/public/plugin.ts
  src/plugins/management/public/types.ts
  src/plugins/management/tsconfig.json
  x-pack/plugins/serverless_security/kibana.jsonc
  x-pack/plugins/serverless_security/public/common/services.mock.tsx
  x-pack/plugins/serverless_security/public/plugin.ts
  x-pack/plugins/serverless_security/public/types.ts
  x-pack/plugins/serverless_security/tsconfig.json
  x-pack/test_serverless/functional/config.base.ts
  x-pack/test_serverless/functional/test_suites/security/index.ts
  x-pack/test_serverless/functional/test_suites/security/management.ts
Labels: Team:Deployment Management, release_note:skip, backport:skip, Project:Serverless, v8.10.0

#161176 [DOC+] License not available is KB-ES connection error
  docs/setup/access.asciidoc
Labels: Team:Docs, enhancement, release_note:skip, docs, v8.9.0, v8.10.0

#160673 chore(slo): use doclinks
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/observability/public/rules/register_observability_rule_types.ts
Labels: release_note:skip, Team: Actionable Observability, v8.10.0

#161191 [8.9] [DOC+] License not available is KB-ES connection error (#161176)
  docs/setup/access.asciidoc
Labels: backport

#161123 [ZDT] Pickup updated types only
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/check_target_mappings.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/check_target_mappings.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/core/build_pickup_mappings_query.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/core/build_pickup_mappings_query.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/next.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/next.ts
Labels: Team:Core, release_note:skip, backport:skip, Feature:Migrations, v8.10.0

#161178 [8.9] [Enterprise Search] Remove access control as well if exists (#161122)
  x-pack/plugins/enterprise_search/server/lib/indices/delete_access_control_index.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
  x-pack/plugins/enterprise_search/tsconfig.json
Labels: backport

#161188 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#161025 [ftr] Improve FTR error handling for NoSuchSessionError
  test/functional/services/common/browser.ts
  test/functional/services/common/failure_debugging.ts
  test/functional/services/common/screenshots.ts
  test/functional/services/remote/remote.ts
Labels: release_note:skip, v8.9.0, v8.10.0, v8.8.3

#161172 [Discover] Fix shared links flaky test
  test/functional/apps/discover/group1/_shared_links.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#161207 [8.9] [ftr] Improve FTR error handling for NoSuchSessionError (#161025)
  test/functional/services/common/browser.ts
  test/functional/services/common/failure_debugging.ts
  test/functional/services/common/screenshots.ts
  test/functional/services/remote/remote.ts
Labels: backport

#161193 Have SLO routes return a 403 instead of a 400 when user has an insufficient license
  x-pack/plugins/observability/docs/openapi/slo/README.md
  x-pack/plugins/observability/docs/openapi/slo/bundled.json
  x-pack/plugins/observability/docs/openapi/slo/bundled.yaml
  x-pack/plugins/observability/docs/openapi/slo/components/schemas/403_response.yaml
  x-pack/plugins/observability/docs/openapi/slo/paths/s@{spaceid}@api@composite_slos.yaml
  x-pack/plugins/observability/docs/openapi/slo/paths/s@{spaceid}@api@composite_slos@{compositesloid}.yaml
  x-pack/plugins/observability/docs/openapi/slo/paths/s@{spaceid}@api@slos.yaml
  x-pack/plugins/observability/docs/openapi/slo/paths/s@{spaceid}@api@slos@_historical_summary.yaml
  x-pack/plugins/observability/docs/openapi/slo/paths/s@{spaceid}@api@slos@{sloid}.yaml
  x-pack/plugins/observability/docs/openapi/slo/paths/s@{spaceid}@api@slos@{sloid}@{disable}.yaml
  x-pack/plugins/observability/docs/openapi/slo/paths/s@{spaceid}@api@slos@{sloid}@{enable}.yaml
  x-pack/plugins/observability/public/pages/slo_details/components/header_control.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_item.tsx
  x-pack/plugins/observability/server/routes/slo/route.ts
Labels: release_note:skip

#161212 [8.9] [Discover] Fix shared links flaky test (#161172)
  test/functional/apps/discover/group1/_shared_links.ts
Labels: backport

#160694 [Cloud Security][FTR]Refactor API FTR to use .to.eql instead of .to.be
  x-pack/test/api_integration/apis/cloud_security_posture/get_csp_rule_template.ts
  x-pack/test/api_integration/apis/cloud_security_posture/helper.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_index_timeout.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_indexed.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_indexing.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_not_deployed_not_installed.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_unprivileged.ts
  x-pack/test/api_integration/apis/cloud_security_posture/status/status_waiting_for_results.ts
Labels: release_note:skip, Team:Cloud Security, v8.10.0

#160575 [Synthetics] Perform params API HTTP migration
  x-pack/plugins/synthetics/common/runtime_types/monitor_management/synthetics_params.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/global_params/add_param_flyout.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/global_params/add_param_form.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/global_params/delete_param.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/global_params/params_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/hooks/use_params_list.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/certs/index.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/global_params/actions.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/global_params/api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/global_params/index.ts
  x-pack/plugins/synthetics/public/utils/api_service/api_service.ts
  x-pack/plugins/synthetics/server/routes/settings/add_param.ts
  x-pack/plugins/synthetics/server/routes/settings/delete_param.ts
  x-pack/plugins/synthetics/server/routes/settings/edit_param.ts
  x-pack/plugins/synthetics/server/routes/settings/params.ts
  x-pack/plugins/synthetics/server/synthetics_service/synthetics_service.ts
  x-pack/test/api_integration/apis/synthetics/add_edit_params.ts
  x-pack/test/api_integration/apis/synthetics/sync_global_params.ts
Labels: Team:uptime, release_note:skip, v8.10.0

#160953 [data views] Fix overwrite param for create
  src/plugins/data_views/common/content_management/v1/cm_services.ts
  src/plugins/data_views/common/content_management/v1/types.ts
  src/plugins/data_views/common/data_views/data_views.ts
  src/plugins/data_views/common/types.ts
  test/api_integration/apis/data_views/fields_api/update_fields/main.ts
Labels: release_note:fix, Feature:Data Views, Team:DataDiscovery, backport:all-open

#161141 Fix errors in custom metric payload in SLO dev docs
  x-pack/plugins/observability/dev_docs/slo.md
Labels: release_note:skip, Team:Observability

#160852 [Infrastructure UI] Add strict payload validation to inventory_views endpoint
  packages/kbn-io-ts-utils/src/in_range_rt/index.ts
  x-pack/plugins/infra/common/http_api/inventory_views/v1/common.ts
  x-pack/plugins/infra/common/http_api/inventory_views/v1/create_inventory_view.ts
  x-pack/plugins/infra/common/http_api/inventory_views/v1/find_inventory_view.ts
  x-pack/plugins/infra/common/http_api/inventory_views/v1/get_inventory_view.ts
  x-pack/plugins/infra/common/http_api/inventory_views/v1/update_inventory_view.ts
  x-pack/plugins/infra/common/inventory_views/types.ts
  x-pack/plugins/infra/common/metrics_explorer_views/types.ts
  x-pack/plugins/infra/common/saved_views/index.ts
  x-pack/plugins/infra/common/saved_views/types.ts
  x-pack/plugins/infra/public/components/saved_views/manage_views_flyout.tsx
  x-pack/plugins/infra/public/components/saved_views/toolbar_control.tsx
  x-pack/plugins/infra/public/hooks/use_inventory_views.ts
  x-pack/plugins/infra/public/hooks/use_metrics_explorer_views.ts
  x-pack/plugins/infra/public/lib/lib.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/saved_views.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/legend_controls.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/components/waffle/palette_preview.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/hooks/use_waffle_filters.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/hooks/use_waffle_options.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/hooks/use_waffle_view_state.ts
  x-pack/plugins/infra/public/pages/metrics/inventory_view/lib/create_legend.ts
  x-pack/plugins/infra/public/pages/metrics/metrics_explorer/components/saved_views.tsx
  x-pack/plugins/infra/public/services/inventory_views/inventory_views_client.ts
  x-pack/plugins/infra/public/services/inventory_views/types.ts
  x-pack/plugins/infra/server/routes/inventory_views/README.md
  x-pack/plugins/infra/server/saved_objects/inventory_view/types.ts
  x-pack/plugins/infra/server/services/inventory_views/inventory_views_client.ts
  x-pack/test/functional/apps/infra/home_page.ts
  x-pack/test/functional/page_objects/infra_saved_views.ts
Labels: chore, Feature:Metrics UI, Team:Infra Monitoring UI, release_note:skip, backport:skip, Feature:ObsHosts, v8.10.0

#161150 [SecuritySolutions] Remove filter actions from Cases alerts table and fix show_top_n action
  packages/kbn-cell-actions/src/hooks/use_data_grid_column_cell_actions.tsx
  x-pack/plugins/security_solution/public/common/components/top_n/helpers.ts
  x-pack/plugins/security_solution/public/detections/hooks/trigger_actions_alert_table/use_cell_actions.tsx
Labels: bug, release_note:fix, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, Feature:Cell Actions

#159645 [Security Solutions] Fix CellActions component should hide ShowTopN action for nested fields
  x-pack/plugins/security_solution/public/actions/show_top_n/cell_action/show_top_n.test.tsx
  x-pack/plugins/security_solution/public/actions/show_top_n/cell_action/show_top_n.tsx
  x-pack/plugins/security_solution/public/common/utils/lens.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/common/hooks.ts
Labels: release_note:fix, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore

#161208 [8.9] [Security Solution][Fix] Alert Page Filter Controls should not ignore Invalid Selections (#160374)
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
  x-pack/plugins/security_solution/common/constants.ts
  x-pack/plugins/security_solution/cypress/e2e/investigations/alerts/detection_page_filters.cy.ts
  x-pack/plugins/security_solution/cypress/screens/common/filter_group.ts
  x-pack/plugins/security_solution/cypress/tasks/alerts.ts
  x-pack/plugins/security_solution/cypress/tasks/common/filter_group.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/constants.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/context_menu.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/filter_group.test.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/index.tsx
  x-pack/plugins/security_solution/public/common/components/filter_group/types.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/utils.test.ts
  x-pack/plugins/security_solution/public/common/components/filter_group/utils.ts
Labels: backport

#161203 [Enterprise Search]Add 404 error handling for mappings and documents endpoints
  x-pack/plugins/enterprise_search/common/constants.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/documents.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_mappings.tsx
  x-pack/plugins/enterprise_search/server/index.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.ts
  x-pack/plugins/enterprise_search/server/lib/indices/delete_access_control_index.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/mapping.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/search.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.9.0, v8.10.0

#160899 [ML] Fix Anomaly Explorer URL for alerting context with non-default space
  x-pack/plugins/ml/server/lib/alerts/alerting_service.ts
  x-pack/plugins/ml/server/lib/alerts/register_anomaly_detection_alert_type.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group2/ml_rule_types/anomaly_detection/alert.ts
Labels: release_note:fix, :ml, Feature:Anomaly Detection, Team:ML, v8.9.0, v8.10.0

#161233 [Fleet] Fix permissions in integrations Assets page
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/assets/assets.tsx
Labels: release_note:skip, Team:Fleet, backport:prev-minor, v8.10.0

#161075 fixing the path of manifets for hints autodiscover
  x-pack/plugins/fleet/server/services/elastic_agent_manifest.ts
Labels: release_note:fix, Team:Fleet

#161234 [8.9] [Enterprise Search]Add 404 error handling for mappings and documents endpoints (#161203)
  x-pack/plugins/enterprise_search/common/constants.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/documents.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_mappings.tsx
  x-pack/plugins/enterprise_search/server/index.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.ts
  x-pack/plugins/enterprise_search/server/lib/indices/delete_access_control_index.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/mapping.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/search.ts
Labels: backport

#161173 [Synthetics] Remove TLS alert option for ICMP monitor
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/field_config.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/form_config.tsx
  x-pack/plugins/synthetics/server/alert_rules/tls_rule/tls_rule_executor.test.ts
  x-pack/plugins/synthetics/server/alert_rules/tls_rule/tls_rule_executor.ts
Labels: Team:uptime, release_note:skip, v8.9.0, v8.10.0

#161235 [8.9] [ML] Fix Anomaly Explorer URL for alerting context with non-default space (#160899)
  x-pack/plugins/ml/server/lib/alerts/alerting_service.ts
  x-pack/plugins/ml/server/lib/alerts/register_anomaly_detection_alert_type.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group2/ml_rule_types/anomaly_detection/alert.ts
Labels: backport

#161086 [Synthetics] Overview page fix last refresh value display
  x-pack/plugins/synthetics/common/constants/ui.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/last_refreshed.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/utils/formatting/format.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/monitor_test_result/timestamp.ts
  x-pack/plugins/synthetics/public/hooks/use_date_format.test.tsx
  x-pack/plugins/synthetics/public/hooks/use_date_format.ts
Labels: Team:uptime, release_note:skip, v8.9.0, v8.10.0

#161236 [8.9] [Fleet] Fix permissions in integrations Assets page (#161233)
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/assets/assets.tsx
Labels: backport, Team:Fleet

#160515 [Console] Add logic for query params
  packages/kbn-generate-console-definitions/README.md
  packages/kbn-generate-console-definitions/src/generate_console_definitions.ts
  packages/kbn-generate-console-definitions/src/generate_query_params.test.ts
  packages/kbn-generate-console-definitions/src/generate_query_params.ts
  packages/kbn-generate-console-definitions/src/types/autocomplete_definition_types.ts
  packages/kbn-generate-console-definitions/src/types/index.ts
  packages/kbn-generate-console-definitions/src/types/specification_types.ts
  packages/kbn-generate-console-definitions/src/utils.ts
Labels: Feature:Console, enhancement, Team:Deployment Management, release_note:skip, v8.10.0

#161175 Use alert details page URL for the log threshold rule if the config is enabled
  x-pack/plugins/infra/server/lib/alerting/common/utils.ts
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/plugins/infra/server/lib/infra_types.ts
  x-pack/plugins/infra/server/plugin.ts
Labels: release_note:skip, backport:prev-minor

#161092 [Security Solution] [Exceptions] Amend `Rule Exception's Comment` text
  x-pack/plugins/security_solution/cypress/e2e/exceptions/alerts_table_flow/rule_exceptions.cy.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions/components/add_exception_flyout/translations.ts
Labels: release_note:skip, backport:prev-minor, v8.9.0, Team:Detection Engine

#161111 [Cases] Validate page and perPage parameters in find APIs
  docs/api-generated/cases/case-apis-passthru.asciidoc
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/common/api/cases/comment/index.ts
  x-pack/plugins/cases/common/api/cases/user_actions/operations/find.ts
  x-pack/plugins/cases/common/constants/index.ts
  x-pack/plugins/cases/common/schema/index.test.ts
  x-pack/plugins/cases/common/schema/index.ts
  x-pack/plugins/cases/common/schema/types.ts
  x-pack/plugins/cases/docs/openapi/bundled.json
  x-pack/plugins/cases/docs/openapi/bundled.yaml
  x-pack/plugins/cases/docs/openapi/components/parameters/page_size.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@{caseid}@comments@_find.yaml
  x-pack/plugins/cases/server/client/attachments/get.test.ts
  x-pack/plugins/cases/server/client/attachments/get.ts
  x-pack/plugins/cases/server/client/attachments/validators.test.ts
  x-pack/plugins/cases/server/client/attachments/validators.ts
  x-pack/plugins/cases/server/client/cases/find.test.ts
  x-pack/plugins/cases/server/client/user_actions/find.test.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/find_cases.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/comments/find_comments.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/user_actions/find_user_actions.ts
Labels: release_note:breaking, Team:ResponseOps, Feature:Cases, v8.10.0

#161241 [8.9] Use alert details page URL for the log threshold rule if the config is enabled (#161175)
  x-pack/plugins/infra/server/lib/alerting/common/utils.ts
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/plugins/infra/server/lib/infra_types.ts
  x-pack/plugins/infra/server/plugin.ts
Labels: backport

#161238 [8.9] [Synthetics] Overview page fix last refresh value display (#161086)
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/last_refreshed.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/utils/formatting/format.ts
  x-pack/plugins/synthetics/public/apps/synthetics/utils/monitor_test_result/timestamp.ts
  x-pack/plugins/synthetics/public/hooks/use_date_format.test.tsx
  x-pack/plugins/synthetics/public/hooks/use_date_format.ts
Labels: backport, Team:uptime

#161242 [8.9] [Security Solution] [Exceptions] Amend `Rule Exception's Comment` text (#161092)
  x-pack/plugins/security_solution/cypress/e2e/exceptions/alerts_table_flow/rule_exceptions.cy.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_exceptions/components/add_exception_flyout/translations.ts
Labels: backport

#161152 [APM] Add type for route options
  x-pack/plugins/apm/server/routes/typings.ts
Labels: Team:APM, release_note:skip, v8.10.0

#160625 [Security Solution] Exp flyout expandable widget rendering
  packages/kbn-expandable-flyout/src/index.tsx
  x-pack/plugins/security_solution/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_left_panel_correlations_tab.cy.ts
  x-pack/plugins/security_solution/public/flyout/right/components/expandable_section.tsx
  x-pack/plugins/security_solution/public/flyout/right/hooks/use_accordion_state.ts
Labels: release_note:skip, Feature:Expandable Flyout, v8.10.0

#161249 [Fleet] Change default batch size
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/server/services/setup/upgrade_agent_policy_schema_version.ts
Labels: release_note:skip, Team:Fleet, v8.9.0

#160685 [Security Solution] Create test plan for prebuilt rule installation and upgrade workflows
  x-pack/plugins/security_solution/cypress/test_plans/README.md
  x-pack/plugins/security_solution/cypress/test_plans/detection_response/prebuilt_rules/installation_and_upgrade.md
  x-pack/plugins/security_solution/cypress/test_plans/detection_response/prebuilt_rules/todo
  x-pack/plugins/security_solution/cypress/test_plans/test_plan_template.md
Labels: release_note:skip, test-plan, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.9.0

#160384 [HTTP] Additional tests for response validation in dev
  src/core/server/integration_tests/http/versioned_router.test.ts
Labels: Feature:http, Team:Core, release_note:skip, v8.10.0

#161220 [Search Application] Connect page : update search application search doc link and minor wording
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_application/connect/search_application_api_integration.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/doc_links/doc_links.ts
Labels: release_note:skip, v8.9.0

#160822 [ML] Data Frame Analytics functional tests: adds custom urls creation tests
  x-pack/plugins/ml/public/application/components/custom_urls/custom_url_editor/interval_time_range_selector.tsx
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/analytics_management/components/action_edit/edit_action_flyout.tsx
  x-pack/test/functional/apps/ml/data_frame_analytics/classification_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/custom_urls.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/index.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/outlier_detection_creation.ts
  x-pack/test/functional/apps/ml/data_frame_analytics/regression_creation.ts
  x-pack/test/functional/services/ml/custom_urls.ts
  x-pack/test/functional/services/ml/data_frame_analytics_edit.ts
  x-pack/test/functional/services/ml/index.ts
Labels: :ml, release_note:skip, Feature:Data Frame Analytics, Feature:Functional Testing, v8.10.0

#161260 [8.9] [Fleet] Change default batch size (#161249)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/plugins/fleet/server/services/setup/upgrade_agent_policy_schema_version.ts
Labels: backport, Team:Fleet

#161262 [8.9] [Search Application] Connect page : update search application search doc link and minor wording (#161220)
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/enterprise_search/public/applications/applications/components/search_application/connect/search_application_api_integration.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/doc_links/doc_links.ts
Labels: backport

#160950 [Enterprise Search] Remove MlTrainedModelConfigWithDefined interface
  x-pack/plugins/enterprise_search/common/types/ml.ts
  x-pack/plugins/enterprise_search/server/lib/ml/get_ml_model_deployment_status.ts
Labels: technical debt, release_note:skip, Team:EnterpriseSearch, v8.10.0

#160772 [Ops] Backport v7.17: "update geckodriver to 4.0.0"
  package.json
  src/dev/license_checker/config.ts
  test/functional/services/remote/remote.ts
  test/functional/services/remote/webdriver.ts
  yarn.lock
Labels: chore, Team:Operations, release_note:skip, backport:skip, v7.17.12

#161259 [8.9] [Security Solution] Create test plan for prebuilt rule installation and upgrade workflows (#160685)
  x-pack/plugins/security_solution/cypress/test_plans/README.md
  x-pack/plugins/security_solution/cypress/test_plans/detection_response/prebuilt_rules/installation_and_upgrade.md
  x-pack/plugins/security_solution/cypress/test_plans/detection_response/prebuilt_rules/todo
  x-pack/plugins/security_solution/cypress/test_plans/test_plan_template.md
Labels: backport

#161243 [Index management] Fix flaky functional tests
  x-pack/test/functional/apps/index_management/index_template_wizard.ts
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip

#161177 [ML] Adding update_groups api tests
  x-pack/plugins/ml/common/types/job_service.ts
  x-pack/plugins/ml/server/models/job_service/groups.ts
  x-pack/test/api_integration/apis/ml/jobs/index.ts
  x-pack/test/api_integration/apis/ml/jobs/update_groups.ts
  x-pack/test/functional/services/ml/api.ts
Labels: :ml, Feature:Anomaly Detection, release_note:skip, v8.10.0

#161120 [ML] Removing unused reset and records endpoints
  x-pack/plugins/ml/public/application/services/ml_api_service/index.ts
  x-pack/plugins/ml/server/routes/anomaly_detectors.ts
  x-pack/plugins/ml/server/routes/schemas/anomaly_detectors_schema.ts
Labels: :ml, Feature:Anomaly Detection, release_note:skip, v8.10.0

#161264 Add Cypress tests to Security Solution Serverless
  .buildkite/scripts/steps/functional/serverless_ftr.sh
Labels: release_note:skip

#154966 [Dashboard] Editing toolbar update
  packages/shared-ux/button_toolbar/src/buttons/add_from_library/add_from_library.tsx
  packages/shared-ux/button_toolbar/src/buttons/icon_button_group/icon_button_group.tsx
  packages/shared-ux/button_toolbar/src/buttons/toolbar_button/toolbar_button.tsx
  packages/shared-ux/button_toolbar/src/popover/popover.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/controls_toolbar_button/add_time_slider_control_button.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/controls_toolbar_button/controls_toolbar_button.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/dashboard_editing_toolbar.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/editor_menu.tsx
  test/functional/apps/dashboard/group1/create_and_add_embeddables.ts
  test/functional/apps/dashboard_elements/image_embeddable/image_embeddable.ts
  test/functional/services/dashboard/add_panel.ts
Labels: release_note:enhancement, Feature:Dashboard, Team:Presentation, loe:hours, impact:medium, Team:SharedUX

#160463 [Fleet][Agent Tamper Protection] License watcher for agent policy
  x-pack/plugins/fleet/common/mocks.ts
  x-pack/plugins/fleet/common/services/agent_policy_config.test.ts
  x-pack/plugins/fleet/common/services/agent_policy_config.ts
  x-pack/plugins/fleet/common/services/generate_new_agent_policy.test.ts
  x-pack/plugins/fleet/common/services/generate_new_agent_policy.ts
  x-pack/plugins/fleet/common/services/index.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_create_inline.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/hooks/use_get_agent_policy_or_default.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/list_page/components/create_agent_policy.tsx
  x-pack/plugins/fleet/public/services/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/services/agent_policy_watch.test.ts
  x-pack/plugins/fleet/server/services/agent_policy_watch.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows, v8.10.0

#161218 [Synthetics] Fixed action connectors and added api test for default alerting
  .github/CODEOWNERS
  x-pack/plugins/synthetics/server/routes/default_alerts/default_alert_service.ts
  x-pack/plugins/synthetics/server/routes/default_alerts/update_default_alert.ts
  x-pack/test/alerting_api_integration/observability/index.ts
  x-pack/test/alerting_api_integration/observability/synthetics_rule.ts
  x-pack/test/api_integration/apis/synthetics/enable_default_alerting.ts
Labels: Team:uptime, release_note:skip, v8.9.0, v8.10.0

#161148 [8.9] [Lens] Automatically unlink cloned library annotation group layers (#161130)
  x-pack/plugins/lens/public/visualizations/xy/visualization.test.tsx
  x-pack/plugins/lens/public/visualizations/xy/visualization.tsx
Labels: backport

#161247 [Security Solution] Support rule type changes in the rule upgrade workflow
  x-pack/plugins/security_solution/common/detection_engine/prebuilt_rules/model/diff/diffable_rule/diffable_rule.ts
  x-pack/plugins/security_solution/common/detection_engine/prebuilt_rules/model/diff/rule_diff/rule_diff.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/calculation/calculate_rule_fields_diff.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/normalization/convert_rule_to_diffable.ts
Labels: bug, release_note:skip, impact:critical, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.9.0, v8.10.0

#161184 Consolidating `browserslist` under the same compatible package
  yarn.lock
Labels: chore, Team:Security, release_note:skip, v7.17.12

#161304 [8.9] [Security Solution] Support rule type changes in the rule upgrade workflow (#161247)
  x-pack/plugins/security_solution/common/detection_engine/prebuilt_rules/model/diff/diffable_rule/diffable_rule.ts
  x-pack/plugins/security_solution/common/detection_engine/prebuilt_rules/model/diff/rule_diff/rule_diff.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/calculation/calculate_rule_fields_diff.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/normalization/convert_rule_to_diffable.ts
Labels: backport

#161293 Fix capture width for optimized-for-print Dashboard PDF
  x-pack/plugins/reporting/server/lib/layouts/create_layout.test.ts
  x-pack/plugins/reporting/server/lib/layouts/print_layout.ts
Labels: release_note:fix, Team:SharedUX, v7.17.12

#161309 [Security Solution] Skip flaky cases cypress tests
  x-pack/plugins/security_solution/public/management/cypress/e2e/mocked_data/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/mocked_data/responder.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.10.0

#161231 Im rule test
  x-pack/test/detection_engine_api_integration/security_and_spaces/rule_execution_logic/threat_match.ts
Labels: release_note:skip, Team:Detection Engine

#161048 [Event annotations] fix table list tag filtering
  src/plugins/event_annotation/public/components/table_list.test.tsx
  src/plugins/event_annotation/public/components/table_list.tsx
  src/plugins/event_annotation/public/event_annotation_service/service.test.ts
  src/plugins/event_annotation/public/event_annotation_service/service.tsx
  src/plugins/event_annotation/public/event_annotation_service/types.ts
Labels: Team:Visualizations, release_note:skip, backport:prev-minor

#161320 [8.9] [Event annotations] fix table list tag filtering (#161048)
  src/plugins/event_annotation/public/components/table_list.test.tsx
  src/plugins/event_annotation/public/components/table_list.tsx
  src/plugins/event_annotation/public/event_annotation_service/service.test.ts
  src/plugins/event_annotation/public/event_annotation_service/service.tsx
  src/plugins/event_annotation/public/event_annotation_service/types.ts
Labels: backport

#161244 [Infra UI] Hosts flyout test fix
  x-pack/test/functional/apps/infra/hosts_view.ts
Labels: Team:Infra Monitoring UI, release_note:skip

#161321 Add config deprecation for securitySolutionServerless config rename
  x-pack/plugins/security_solution_serverless/server/config.ts
Labels: release_note:skip, v8.10.0

#159110 [Fleet] Kafka integration API
  packages/kbn-check-mappings-update-cli/current_mappings.json
  src/core/server/integration_tests/saved_objects/migrations/group2/check_registered_types.test.ts
  x-pack/plugins/fleet/common/constants/output.ts
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_create_request.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_create_request_elasticsearch.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_create_request_kafka.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_create_request_logstash.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_update_request.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_update_request_elasticsearch.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_update_request_kafka.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/output_update_request_logstash.yaml
  x-pack/plugins/fleet/common/openapi/paths/outputs.yaml
  x-pack/plugins/fleet/common/openapi/paths/outputs@{output_id}.yaml
  x-pack/plugins/fleet/common/types/models/output.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/outputs_table/index.tsx
  x-pack/plugins/fleet/server/routes/output/handler.ts
  x-pack/plugins/fleet/server/routes/output/index.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/outputs_helpers.ts
  x-pack/plugins/fleet/server/services/output.test.ts
  x-pack/plugins/fleet/server/services/output.ts
  x-pack/plugins/fleet/server/types/models/output.ts
  x-pack/plugins/fleet/server/types/models/preconfiguration.ts
  x-pack/plugins/fleet/server/types/rest_spec/output.ts
  x-pack/plugins/fleet/server/types/so_attributes.ts
  x-pack/test/fleet_api_integration/apis/outputs/crud.ts
Labels: Team:Fleet, release_note:feature, v8.10.0

#160756 fix: run apm-synthtrace on systems with multiple spaces
  packages/kbn-apm-synthtrace/src/cli/utils/get_service_urls.ts
Labels: Team:APM, release_note:skip, backport:skip

#161166 [Unified search] Make the dataview optional in the search input ui
  src/plugins/unified_search/public/query_string_input/query_bar_top_row.tsx
  x-pack/plugins/apm/public/components/shared/unified_search_bar/index.tsx
Labels: Team:APM, Team:Visualizations, release_note:skip, backport:skip, Feature:Unified search, v8.10.0

#161245 [8.9] [Synthetics] Remove TLS alert option for ICMP monitor (#161173)
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/field_config.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_add_edit/form/form_config.tsx
  x-pack/plugins/synthetics/server/alert_rules/tls_rule/tls_rule_executor.test.ts
  x-pack/plugins/synthetics/server/alert_rules/tls_rule/tls_rule_executor.ts
Labels: backport, Team:uptime

#161087 [Cases] UI validations for max description characters, max tag characters and maximum tags per case
  x-pack/plugins/cases/common/utils/validators.test.ts
  x-pack/plugins/cases/common/utils/validators.ts
  x-pack/plugins/cases/public/common/translations.ts
  x-pack/plugins/cases/public/components/case_view/components/edit_tags.test.tsx
  x-pack/plugins/cases/public/components/category/category_form_field.tsx
  x-pack/plugins/cases/public/components/create/description.test.tsx
  x-pack/plugins/cases/public/components/create/schema.tsx
  x-pack/plugins/cases/public/components/create/tags.test.tsx
  x-pack/plugins/cases/public/components/description/index.test.tsx
  x-pack/plugins/cases/public/components/description/schema.ts
  x-pack/plugins/cases/public/components/header_page/editable_title.test.tsx
  x-pack/plugins/cases/public/components/header_page/editable_title.tsx
  x-pack/test/functional/services/cases/common.ts
  x-pack/test/functional_with_es_ssl/apps/cases/group1/create_case_form.ts
  x-pack/test/functional_with_es_ssl/apps/cases/group1/view_case.ts
Labels: release_note:breaking, Team:ResponseOps, Feature:Cases, v8.10.0

#161294 [8.9] [Synthetics] Fixed action connectors and added api test for default alerting (#161218)
  x-pack/plugins/synthetics/server/routes/default_alerts/default_alert_service.ts
  x-pack/plugins/synthetics/server/routes/default_alerts/update_default_alert.ts
  x-pack/test/alerting_api_integration/observability/index.ts
  x-pack/test/alerting_api_integration/observability/synthetics_rule.ts
  x-pack/test/api_integration/apis/synthetics/enable_default_alerting.ts
Labels: backport, Team:uptime

#161335 [Serverless Search] Use Enterprise Search logo for connectors
  x-pack/plugins/serverless_search/public/application/components/overview_panels/integrations_panel.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.10.0

#161322 [Defend Workflows][E2E] Unskip cases e2e tests
  x-pack/plugins/security_solution/public/management/cypress/e2e/mocked_data/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/mocked_data/responder.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/add_alerts_to_case.ts
Labels: release_note:skip, Team:Defend Workflows, v8.10.0

#161196 [Security Solution] Hide Rule Updates tab when no updates are available
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/prebuilt_rules_notifications.cy.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_toolbar.tsx
Labels: bug, release_note:skip, impact:high, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.9.0

#157665 [data views] REST endpoint for swapping saved object references
  src/plugins/data_views/server/constants.ts
  src/plugins/data_views/server/index.ts
  src/plugins/data_views/server/rest_api_routes/public/index.ts
  src/plugins/data_views/server/rest_api_routes/public/swap_references.ts
  test/api_integration/apis/data_views/index.ts
  test/api_integration/apis/data_views/swap_references/errors.ts
  test/api_integration/apis/data_views/swap_references/index.ts
  test/api_integration/apis/data_views/swap_references/main.ts
Labels: Feature:Data Views, Feature:Kibana Management, release_note:feature, Team:DataDiscovery

#161268 [SLO] Allow null values for maxBurnRateThreshold
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/register.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/types.ts
Labels: release_note:fix, auto-backport, Team: Actionable Observability, v8.9.0, v8.10.0

#161308 [SLO] Support filters for good/total custom metrics
  x-pack/packages/kbn-slo-schema/src/schema/indicators.ts
  x-pack/plugins/observability/docs/openapi/slo/components/schemas/indicator_properties_custom_metric.yaml
  x-pack/plugins/observability/public/pages/slo_edit/components/custom_metric/custom_metric_type_form.tsx
  x-pack/plugins/observability/public/pages/slo_edit/components/custom_metric/metric_indicator.tsx
  x-pack/plugins/observability/server/services/slo/transform_generators/__snapshots__/metric_custom.test.ts.snap
  x-pack/plugins/observability/server/services/slo/transform_generators/metric_custom.test.ts
  x-pack/plugins/observability/server/services/slo/transform_generators/metric_custom.ts
Labels: release_note:enhancement, Team: Actionable Observability, v8.10.0

#161306 [Fleet] Support id when creating a package policy through API
  x-pack/plugins/fleet/server/routes/package_policy/handlers.ts
  x-pack/test/fleet_api_integration/apis/package_policy/create.ts
Labels: bug, release_note:skip, Team:Fleet, v8.9.0

#161269 [Profiling] fixing user privileges
  x-pack/plugins/profiling/server/lib/setup/security_role.ts
  x-pack/plugins/profiling/server/routes/setup.ts
Labels: release_note:skip, v8.9.0

#161216 [DOCS] Remove deprecated action variables from rule APIs
  docs/api/alerting/create_rule.asciidoc
  docs/api/alerting/get_rules.asciidoc
  docs/api/alerting/legacy/create.asciidoc
  x-pack/plugins/alerting/docs/openapi/bundled.json
  x-pack/plugins/alerting/docs/openapi/bundled.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/create_rule_request.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/create_rule_response.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/find_rules_response.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/get_rule_response.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/update_rule_request.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/update_rule_response.yaml
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, docs, backport:all-open

#161074 [Infrastructure UI] Asset Details: Add pins to the metadata table
  x-pack/plugins/infra/public/components/asset_details/tabs/metadata/add_pin_to_row.tsx
  x-pack/plugins/infra/public/components/asset_details/tabs/metadata/table.tsx
  x-pack/plugins/infra/public/components/asset_details/tabs/metadata/utils.ts
  x-pack/test/functional/apps/infra/hosts_view.ts
  x-pack/test/functional/page_objects/infra_hosts_view.ts
Labels: Team:Infra Monitoring UI, release_note:skip

#161348 [8.9] [Cases] Update notify user HTML email template to use current year dynamically (#161327)
  x-pack/plugins/cases/server/services/notifications/templates/assignees/renderer.ts
  x-pack/plugins/cases/server/services/notifications/templates/assignees/template.html
  x-pack/plugins/cases/server/services/notifications/templates/assignees/template.test.ts
Labels: backport

#161352 [8.9] [Security Solution] Hide Rule Updates tab when no updates are available (#161196)
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/prebuilt_rules_notifications.cy.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_toolbar.tsx
Labels: backport

#161364 [8.9] [DOCS] Remove deprecated action variables from rule APIs (#161216)
  docs/api/alerting/create_rule.asciidoc
  docs/api/alerting/get_rules.asciidoc
  docs/api/alerting/legacy/create.asciidoc
  x-pack/plugins/alerting/docs/openapi/bundled.json
  x-pack/plugins/alerting/docs/openapi/bundled.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/create_rule_request.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/create_rule_response.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/find_rules_response.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/get_rule_response.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/update_rule_request.yaml
  x-pack/plugins/alerting/docs/openapi/components/examples/update_rule_response.yaml
Labels: backport

#161192 [Cloud Security] Restarting transform on failure
  x-pack/plugins/cloud_security_posture/server/create_transforms/create_transforms.test.ts
  x-pack/plugins/cloud_security_posture/server/create_transforms/create_transforms.ts
Labels: release_note:skip, Team:Cloud Security

#161315 [DOCS] Add "Category" field to cases
  docs/management/cases/images/cases-visualization.png
  docs/management/cases/images/cases.png
  docs/management/cases/manage-cases.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Cases, backport:prev-minor, v8.9.0, v8.10.0

#161363 [8.9] [Profiling] fixing user privileges (#161269)
  x-pack/plugins/profiling/server/lib/setup/security_role.ts
  x-pack/plugins/profiling/server/routes/setup.ts
Labels: backport

#161076 [Cases] Guardrails: Total number cases update
  x-pack/plugins/cases/common/api/cases/case.ts
  x-pack/plugins/cases/common/constants/index.ts
  x-pack/plugins/cases/docs/openapi/bundled.json
  x-pack/plugins/cases/docs/openapi/bundled.yaml
  x-pack/plugins/cases/docs/openapi/components/schemas/update_case_request.yaml
  x-pack/plugins/cases/server/client/cases/update.test.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/patch_cases.ts
Labels: release_note:breaking, Team:ResponseOps, Feature:Cases, v8.10.0

#161011 [maps] replace duplicated elasticsearch geo types with types from elasticsearch-specification
  x-pack/plugins/maps/common/constants.ts
  x-pack/plugins/maps/common/descriptor_types/map_descriptor.ts
  x-pack/plugins/maps/common/elasticsearch_util/elasticsearch_geo_utils.ts
  x-pack/plugins/maps/common/elasticsearch_util/index.ts
  x-pack/plugins/maps/common/elasticsearch_util/spatial_filter_utils.test.ts
  x-pack/plugins/maps/common/elasticsearch_util/spatial_filter_utils.ts
  x-pack/plugins/maps/common/elasticsearch_util/types.ts
  x-pack/plugins/maps/common/i18n_getters.ts
  x-pack/plugins/maps/common/mvt_request_body.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.tsx
  x-pack/plugins/maps/public/classes/sources/es_search_source/es_search_source.tsx
  x-pack/plugins/maps/public/components/draw_forms/geometry_filter_form/__snapshots__/geometry_filter_form.test.js.snap
  x-pack/plugins/maps/public/components/draw_forms/geometry_filter_form/geometry_filter_form.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/draw_control/draw_filter_control/draw_filter_control.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tooltip_control/features_tooltip/feature_geometry_filter_form.tsx
  x-pack/plugins/maps/public/connected_components/toolbar_overlay/tools_control/tools_control.tsx
  x-pack/plugins/maps/public/index.ts
  x-pack/plugins/maps/server/mvt/mvt_routes.ts
Labels: Team:Presentation, technical debt, release_note:skip, Feature:Maps, v8.10.0

#159686 [Integrate Profiling with APM] Navigate from the transaction details view into the Profiling
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/apm/kibana.jsonc
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/sections.ts
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/sections_helper.ts
  x-pack/plugins/apm/public/components/shared/transaction_action_menu/transaction_action_menu.tsx
  x-pack/plugins/apm/public/hooks/use_profiling_plugin.tsx
  x-pack/plugins/apm/public/plugin.ts
  x-pack/plugins/apm/tsconfig.json
  x-pack/plugins/observability_shared/public/components/section/section.tsx
  x-pack/plugins/profiling/common/setup.ts
  x-pack/plugins/profiling/kibana.jsonc
  x-pack/plugins/profiling/public/index.tsx
  x-pack/plugins/profiling/public/locators/flamegraph_locator.ts
  x-pack/plugins/profiling/public/locators/stacktraces_locator.ts
  x-pack/plugins/profiling/public/locators/topn_functions_locator.ts
  x-pack/plugins/profiling/public/plugin.tsx
  x-pack/plugins/profiling/public/types.ts
  x-pack/plugins/profiling/tsconfig.json
Labels: release_note:enhancement, Team:APM, v8.10.0
