Repository elastic/kibana, pull requests merged in 2023-03, with the labels that each got.

#152371 [8.7] [DOCS] Add deprecation details to case APIs (#152033)
  docs/api-generated/cases/case-apis-passthru.asciidoc
  x-pack/plugins/cases/docs/openapi/bundled.json
  x-pack/plugins/cases/docs/openapi/bundled.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@_find.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@configure@connectors@_find.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@status.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@{caseid}.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@{caseid}@comments.yaml
  x-pack/plugins/cases/docs/openapi/paths/s@{spaceid}@api@cases@{caseid}@user_actions.yaml
Labels: backport

#152055 [Security Solution] Fixes Related Integrations showing as not installed or enabled when they actually are
  x-pack/plugins/fleet/server/services/epm/package_service.mock.ts
  x-pack/plugins/fleet/server/services/epm/package_service.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/related_integrations.cy.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/fleet_integrations/api/get_installed_integrations/installed_integration_set.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/fleet_integrations/api/get_installed_integrations/route.ts
Labels: bug, release_note:fix, Team:Fleet, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rules, v8.7.0, v8.8.0, v8.6.3, Feature:Related Integrations

#151799 [embeddable] centralize should fetch embeddable observable logic
  src/plugins/dashboard/public/dashboard_container/embeddable/integrations/diff_state/dashboard_diffing_functions.ts
  src/plugins/embeddable/public/index.ts
  src/plugins/embeddable/public/lib/filterable_embeddable/index.ts
  src/plugins/embeddable/public/lib/filterable_embeddable/should_fetch.tsx
  src/plugins/embeddable/public/lib/filterable_embeddable/types.ts
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/maps/public/embeddable/map_embeddable.test.tsx
  x-pack/plugins/maps/public/embeddable/map_embeddable.tsx
  x-pack/plugins/maps/public/embeddable/types.ts
Labels: Feature:Visualizations, Feature:Embedding, Team:Presentation, release_note:skip, backport:skip, Feature:Maps, v8.8.0

#152411 [8.6] [Security Solution] Fixes Related Integrations showing as not installed or enabled when they actually are (#152055)
  x-pack/plugins/fleet/server/services/epm/package_service.mock.ts
  x-pack/plugins/fleet/server/services/epm/package_service.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/related_integrations.cy.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/fleet_integrations/api/get_installed_integrations/installed_integration_set.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/fleet_integrations/api/get_installed_integrations/route.ts
Labels: backport

#152412 [8.7] [Security Solution] Fixes Related Integrations showing as not installed or enabled when they actually are (#152055)
  x-pack/plugins/fleet/server/services/epm/package_service.mock.ts
  x-pack/plugins/fleet/server/services/epm/package_service.ts
  x-pack/plugins/security_solution/cypress/e2e/detection_rules/related_integrations.cy.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/fleet_integrations/api/get_installed_integrations/installed_integration_set.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/fleet_integrations/api/get_installed_integrations/route.ts
Labels: backport, Team:Fleet

#151996 [Synthetics] Private location , remove deprecated api usage
  x-pack/plugins/synthetics/common/constants/synthetics/rest_api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/hooks/use_locations_api.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/hooks/use_locations_api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/location_form.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/manage_private_locations.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/policy_name.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/route_config.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/private_locations/api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/root_effect.ts
  x-pack/plugins/synthetics/server/routes/index.ts
  x-pack/plugins/synthetics/server/routes/settings/private_locations/add_private_location.ts
  x-pack/plugins/synthetics/server/routes/settings/private_locations/delete_private_location.ts
  x-pack/plugins/synthetics/server/routes/settings/private_locations/get_private_locations.ts
Labels: Team:uptime, release_note:skip, v8.7.0, v8.8.0

#152417 [8.7] [Synthetics] Private location , remove deprecated api usage (#151996)
  x-pack/plugins/synthetics/common/constants/synthetics/rest_api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/hooks/use_locations_api.test.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/hooks/use_locations_api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/location_form.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/manage_private_locations.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/private_locations/policy_name.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/settings/route_config.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/private_locations/api.ts
  x-pack/plugins/synthetics/public/apps/synthetics/state/root_effect.ts
  x-pack/plugins/synthetics/server/routes/index.ts
  x-pack/plugins/synthetics/server/routes/settings/private_locations/add_private_location.ts
  x-pack/plugins/synthetics/server/routes/settings/private_locations/delete_private_location.ts
  x-pack/plugins/synthetics/server/routes/settings/private_locations/get_private_locations.ts
Labels: backport, Team:uptime

#152226 [Cloud Security] update transform max age
  x-pack/plugins/cloud_security_posture/server/create_transforms/create_transforms.ts
  x-pack/plugins/cloud_security_posture/server/create_transforms/latest_findings_transform.ts
Labels: release_note:skip, Team:Cloud Security

#152075 [Security Solution] Re-enable a skipped url state e2e test
  x-pack/plugins/security_solution/cypress/e2e/urls/state.cy.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rules, backport:prev-minor, v8.7.0, v8.8.0

#149326 Allow for additive mappings update without creating a new version index
  packages/core/saved-objects/core-saved-objects-migration-server-internal/index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/update_and_pickup_mappings.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/update_and_pickup_mappings.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/update_mappings.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/update_mappings.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/update_target_mappings_meta.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/update_target_mappings_meta.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/helpers.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/state.ts
  src/core/server/integration_tests/saved_objects/migrations/archives/7.13.0_with_corrupted_so.zip
  src/core/server/integration_tests/saved_objects/migrations/group1/7_13_0_failed_action_tasks.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group1/7_13_0_transform_failures.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/check_target_mappings.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/cleanup.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/multiple_kibana_nodes.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/outdated_docs.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/actions/actions.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/active_delete.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/multiple_es_nodes.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/rewriting_id.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/skip_reindex.test.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.fixtures.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.ts
Labels: Team:Core, enhancement, release_note:skip, backport:skip, Feature:Migrations, v8.8.0

#150677 [Security Solution][Alerts] addresses IM performance PR feedback
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/indicator_match/threat_mapping/build_threat_enrichment.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/indicator_match/threat_mapping/create_event_signal.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/indicator_match/threat_mapping/get_signals_map_from_threat_index.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/indicator_match/threat_mapping/get_signals_map_from_threat_index.ts
Labels: release_note:skip, Team: SecuritySolution, Feature:Detection Alerts, Team:Detection Alerts, backport:prev-minor, v8.7.0, v8.8.0

#152387 [Logs UI] Correctly round and update the log stream end timestamps
  x-pack/plugins/infra/public/observability_logs/log_stream_position_state/src/state_machine.ts
  x-pack/plugins/infra/public/observability_logs/log_stream_query_state/src/state_machine.ts
  x-pack/plugins/infra/public/observability_logs/log_stream_query_state/src/time_filter_state_service.ts
Labels: bug, Feature:Logs UI, Team:Infra Monitoring UI, release_note:skip, backport:prev-minor

#151004 [Security Solution][Alerts] fixes merge fields with source in Detection Engine on Alerts creation
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/source_fields_merging/strategies/merge_all_fields_with_source.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/source_fields_merging/strategies/merge_all_fields_with_source.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/source_fields_merging/strategies/merge_missing_fields_with_source.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/source_fields_merging/strategies/merge_missing_fields_with_source.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/source_fields_merging/utils/is_path_valid.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/source_fields_merging/utils/is_path_valid.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/rule_execution_logic/non_ecs_fields.ts
  x-pack/test/functional/es_archives/security_solution/ecs_non_compliant/mappings.json
Labels: bug, release_note:skip, impact:high, Team: SecuritySolution, Team:Detection Alerts, backport:prev-minor, v8.7.0, v8.8.0

#152426 [8.7] [Security Solution][Alerts] addresses IM performance PR feedback (#150677)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/build_threat_enrichment.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/create_event_signal.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_signals_map_from_threat_index.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/threat_mapping/get_signals_map_from_threat_index.ts
Labels: backport

#152436 [8.7] [APM] Manage state for enviroments toggle in preview alerts chart (#150918)
  x-pack/plugins/apm/public/components/alerting/ui_components/chart_preview/index.tsx
Labels: backport, Team:APM

#152449 [8.7] [Security Solution][Alerts] fixes merge fields with source in Detection Engine on Alerts creation (#151004)
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/source_fields_merging/strategies/merge_all_fields_with_source.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/source_fields_merging/strategies/merge_all_fields_with_source.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/source_fields_merging/strategies/merge_missing_fields_with_source.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/source_fields_merging/strategies/merge_missing_fields_with_source.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/source_fields_merging/utils/is_path_valid.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/signals/source_fields_merging/utils/is_path_valid.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/rule_execution_logic/non_ecs_fields.ts
  x-pack/test/functional/es_archives/security_solution/ecs_non_compliant/mappings.json
Labels: backport

#152333 [Infrastructure UI] Filter out null bucket items from average calculation
  x-pack/plugins/infra/common/http_api/snapshot_api.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/components/kpi_charts/tile.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/hooks/use_snaphot.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/transform_metrics_ui_response.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/transform_request_to_metrics_api_request.ts
  x-pack/test/api_integration/apis/metrics_ui/snapshot.ts
Labels: Feature:Metrics UI, Team:Infra Monitoring UI, release_note:skip, backport:prev-minor, v8.7.0, Feature:ObsHosts, v8.8.0

#152373 [Synthetics] Hide location and enabled toggle on `MonitorDetailsPanel` for test run details
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/monitor_details_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/error_details/error_details_page.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_details_panel_container.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_summary.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/monitor_detail_flyout.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/test_run_details/test_run_details.tsx
Labels: bug, Team:uptime, release_note:skip, v8.7.0

#152396 [maps] fix layers are not displayed in offline environment and map.includeElasticMapsService not set to false
  x-pack/plugins/maps/public/connected_components/mb_map/mb_map.tsx
  x-pack/plugins/maps/public/util.test.js
  x-pack/plugins/maps/public/util.ts
Labels: release_note:fix, Team:Presentation, backport:skip, Feature:Maps, v8.8.0

#152455 [RAM] Fix flaky test on rule find api integration
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/find_with_post.ts
Labels: release_note:skip, Team:ResponseOps, v8.7.0, v8.8.0

#152461 [8.7] [Infrastructure UI] Filter out null bucket items from average calculation (#152333)
  x-pack/plugins/infra/common/http_api/snapshot_api.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/components/kpi_charts/tile.tsx
  x-pack/plugins/infra/public/pages/metrics/inventory_view/hooks/use_snaphot.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/transform_metrics_ui_response.ts
  x-pack/plugins/infra/server/routes/snapshot/lib/transform_request_to_metrics_api_request.ts
  x-pack/test/api_integration/apis/metrics_ui/snapshot.ts
Labels: backport

#150705 [Versioned APIs] Versioned interfaces dev docs guide
  dev_docs/tutorials/versioning_interfaces.mdx
  nav-kibana-dev.docnav.json
Labels: Team:Core, release_note:skip, backport:skip, docs, DevDocs, ci:build-next-docs, v8.8.0

#152462 [8.7] [Synthetics] Hide location and enabled toggle on `MonitorDetailsPanel` for test run details (#152373)
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/components/monitor_details_panel.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/error_details/error_details_page.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_details_panel_container.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/monitor_summary.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/monitor_detail_flyout.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/test_run_details/test_run_details.tsx
Labels: backport, Team:uptime

#152463 [SLO] Alternative split to remote indices
  x-pack/plugins/observability/server/services/slo/transform_generators/common.test.ts
  x-pack/plugins/observability/server/services/slo/transform_generators/common.ts
Labels: release_note:skip

#152423 [8.7] [Security Solution] Re-enable a skipped url state e2e test (#152075)
  x-pack/plugins/security_solution/cypress/e2e/urls/state.cy.ts
Labels: backport

#152466 [8.7] [RAM] Fix flaky test on rule find api integration (#152455)
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/find.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/find_with_post.ts
Labels: backport

#152071 Threat match tests for term query
  x-pack/test/detection_engine_api_integration/security_and_spaces/rule_execution_logic/threat_match.ts
  x-pack/test/tsconfig.json
Labels: release_note:skip, Team:Security Solution Platform

#152458 Upgrade `undici` dependency (`5.14.0` → `5.20.0`).
  yarn.lock
Labels: chore, release_note:skip, backport:prev-minor

#152457 [Security Solution] Make timeline confirm prompt space aware
  x-pack/plugins/security_solution/public/common/hooks/timeline/use_timeline_save_prompt.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.7.0

#151344 [Security Solution][Endpoint][Response Actions] Show `execute` action output on response actions history
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_action_generator.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/execute_action_host_response_output.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_execute_action/execute_action_host_response_output.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/execute_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/get_file_action.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/action_log_expanded_tray.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_date_range_picker.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_filter.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_filter_popover.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_filters.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_table.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_users_filter.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/actions_log_users_filter.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/status_badge.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/use_action_history_url_params.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/response_actions_log.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/translations.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/use_response_actions_log_table.tsx
  x-pack/plugins/security_solution/public/management/components/response_action_file_download_link/response_action_file_download_link.test.tsx
  x-pack/plugins/security_solution/public/management/components/response_action_file_download_link/response_action_file_download_link.tsx
Labels: Team:Defend Workflows, release_note:feature, OLM Sprint, v8.8.0

#152482 [8.7] Upgrade `undici` dependency (`5.14.0` → `5.20.0`). (#152458)
  yarn.lock
Labels: backport

#152418 [Security Solution] Analyzer with sysmon via filebeat
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/investigate_in_resolver.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/investigate_in_resolver.tsx
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/entity/utils/supported_schemas.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/events.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
Labels: release_note:fix, Team:Threat Hunting:Investigations, v8.7.0, v8.8.0

#152484 [8.7] [Security Solution] Make timeline confirm prompt space aware (#152457)
  x-pack/plugins/security_solution/public/common/hooks/timeline/use_timeline_save_prompt.ts
Labels: backport

#152492 [8.7] [Security Solution] Analyzer with sysmon via filebeat (#152418)
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/investigate_in_resolver.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/investigate_in_resolver.tsx
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/entity/utils/supported_schemas.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/queries/events.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.test.ts
  x-pack/plugins/security_solution/server/endpoint/routes/resolver/utils/pagination.ts
Labels: backport

#151148 [ResponseOps] Update flapping logic order to determine whether an alert is flapping after it's returned for notification
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/event_log.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/event_log_alerts.ts
Labels: release_note:skip, Team:ResponseOps, v8.7.0, v8.8.0

#151045 [DOCS] Adds Visualizations features for 8.7
  docs/user/dashboard/create-panels-with-editors.asciidoc
  docs/user/dashboard/images/lens_lineChartMetricOverTimeBottomAxis_8.3.png
  docs/user/dashboard/images/lens_lineChartMetricOverTimeBottomAxis_8.7.png
  docs/user/dashboard/images/lens_lineChartMetricOverTimeLeftAxis_8.3.png
  docs/user/dashboard/images/lens_lineChartMetricOverTimeLeftAxis_8.7.png
  docs/user/dashboard/lens.asciidoc
  docs/user/dashboard/tutorial-create-a-dashboard-of-lens-panels.asciidoc
  docs/user/reporting/index.asciidoc
Labels: Team:Docs, Team:Visualizations, release_note:skip, v8.7.0

#152401 [canvas] unskip Jest Tests.x-pack/plugins/canvas/shareable_runtime/components
  x-pack/plugins/canvas/shareable_runtime/components/__snapshots__/app.test.tsx.snap
  x-pack/plugins/canvas/shareable_runtime/components/app.test.tsx
Labels: Team:Presentation, loe:hours, release_note:skip, impact:high, backport:skip, Feature:Canvas, v8.8.0

#152475 [RAM] Uptime allow rac api in read
  x-pack/plugins/synthetics/server/feature.ts
Labels: bug, Team:uptime, release_note:skip, impact:critical, Team:ResponseOps, v8.7.0, v8.8.0

#151764 [Saved Object Finder] Move to the component in saved_objects_finder plugin
  src/plugins/dashboard/kibana.jsonc
  src/plugins/dashboard/public/dashboard_actions/index.ts
  src/plugins/dashboard/public/dashboard_container/embeddable/api/add_panel_from_library.ts
  src/plugins/dashboard/public/plugin.tsx
  src/plugins/dashboard/public/services/plugin_services.stub.ts
  src/plugins/dashboard/public/services/plugin_services.ts
  src/plugins/dashboard/public/services/saved_objects_management/saved_objects_management_service.stub.ts
  src/plugins/dashboard/public/services/saved_objects_management/saved_objects_management_service.ts
  src/plugins/dashboard/public/services/types.ts
  src/plugins/dashboard/tsconfig.json
  src/plugins/embeddable/kibana.jsonc
  src/plugins/embeddable/public/mocks.tsx
  src/plugins/embeddable/public/plugin.tsx
  src/plugins/embeddable/public/tests/test_plugin.ts
  src/plugins/embeddable/tsconfig.json
  src/plugins/saved_objects_finder/kibana.jsonc
  src/plugins/saved_objects_finder/public/finder/index.tsx
  src/plugins/saved_objects_finder/public/finder/saved_object_finder.tsx
  src/plugins/saved_objects_finder/public/index.ts
  src/plugins/saved_objects_finder/tsconfig.json
  test/examples/embeddables/adding_children.ts
  test/functional/apps/dashboard/group2/embeddable_library.ts
  test/functional/apps/dashboard/group3/panel_replacing.ts
  test/functional/services/dashboard/add_panel.ts
  test/functional/services/dashboard/replace_panel.ts
  test/functional/services/index.ts
  test/functional/services/saved_objects_finder.ts
  x-pack/plugins/canvas/kibana.jsonc
  x-pack/plugins/canvas/public/components/embeddable_flyout/flyout.component.tsx
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/services/kibana/platform.ts
  x-pack/plugins/canvas/public/services/platform.ts
  x-pack/plugins/canvas/public/services/stubs/platform.ts
  x-pack/plugins/canvas/tsconfig.json
Labels: Feature:Embedding, release_note:skip, v8.8.0

#152403 [Security Solution][Exceptions] - Fix bulk rule duplicate, exception modal rule count
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_tables.tsx
Labels: bug, release_note:fix, Team: SecuritySolution, Team:Security Solution Platform, v8.7.0

#152511 [8.7] [RAM] Uptime allow rac api in read (#152475)
  x-pack/plugins/synthetics/server/feature.ts
Labels: backport, Team:uptime

#152507 [8.7] [ResponseOps] Update flapping logic order to determine whether an alert is flapping after it's returned for notification (#151148)
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/event_log.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/event_log_alerts.ts
Labels: backport

#152518 [8.7] [Security Solution][Exceptions] - Fix bulk rule duplicate, exception modal rule count (#152403)
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_tables.tsx
Labels: backport

#152196 [ML] removed orphaned code
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/services/time_field_range.ts
Labels: :ml, release_note:skip, v8.8.0

#152460 [SLO] Add Auto-Refresh button on SLO List
  x-pack/plugins/observability/public/hooks/slo/__storybook_mocks__/use_fetch_historical_summary.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_historical_summary.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_slo_list.ts
  x-pack/plugins/observability/public/pages/slos/components/auto_refresh_button.stories.tsx
  x-pack/plugins/observability/public/pages/slos/components/auto_refresh_button.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list.stories.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_items.tsx
  x-pack/plugins/observability/public/pages/slos/index.test.tsx
  x-pack/plugins/observability/public/pages/slos/index.tsx
Labels: release_note:skip

#152348 Add details to Fleet README
  docs/developer/plugin-list.asciidoc
  x-pack/plugins/fleet/README.md
Labels: release_note:skip, Team:Fleet

#152435 [ML] Fix regression to skip considering future data on use full data button in ML plugin.
  x-pack/packages/ml/date_picker/index.ts
  x-pack/packages/ml/date_picker/src/components/full_time_range_selector.tsx
  x-pack/packages/ml/date_picker/src/services/full_time_range_selector_service.ts
  x-pack/packages/ml/date_picker/src/services/time_field_range.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/time_range_step/time_range.tsx
Labels: bug, non-issue, regression, :ml, release_note:skip, v8.7.0, v8.8.0

#152554 [8.7] [ML] Fix regression to skip considering future data on use full data button in ML plugin. (#152435)
  x-pack/packages/ml/date_picker/index.ts
  x-pack/packages/ml/date_picker/src/components/full_time_range_selector.tsx
  x-pack/packages/ml/date_picker/src/services/full_time_range_selector_service.ts
  x-pack/packages/ml/date_picker/src/services/time_field_range.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/time_range_step/time_range.tsx
Labels: backport

#152031 [Cases] Integrating file service and registering file kinds
  x-pack/plugins/cases/common/constants/application.ts
  x-pack/plugins/cases/common/constants/files.ts
  x-pack/plugins/cases/common/constants/index.ts
  x-pack/plugins/cases/common/constants/mime_types.ts
  x-pack/plugins/cases/common/constants/owners.ts
  x-pack/plugins/cases/common/constants/types.ts
  x-pack/plugins/cases/common/index.ts
  x-pack/plugins/cases/common/utils/__snapshots__/api_tags.test.ts.snap
  x-pack/plugins/cases/common/utils/api_tags.test.ts
  x-pack/plugins/cases/common/utils/api_tags.ts
  x-pack/plugins/cases/kibana.jsonc
  x-pack/plugins/cases/public/files/index.ts
  x-pack/plugins/cases/public/plugin.ts
  x-pack/plugins/cases/public/types.ts
  x-pack/plugins/cases/server/features.ts
  x-pack/plugins/cases/server/files/index.ts
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/tsconfig.json
  x-pack/plugins/observability/kibana.jsonc
  x-pack/plugins/observability/server/plugin.ts
  x-pack/plugins/observability/tsconfig.json
  x-pack/plugins/security_solution/server/features.ts
  x-pack/test/api_integration/apis/cases/common/users.ts
  x-pack/test/api_integration/apis/cases/files.ts
  x-pack/test/api_integration/apis/cases/index.ts
  x-pack/test/cases_api_integration/common/lib/api/files.ts
  x-pack/test/cases_api_integration/common/lib/api/index.ts
  x-pack/test/cases_api_integration/common/lib/authentication/index.ts
  x-pack/test/tsconfig.json
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.8.0

#150414 Clean up and align central config for APM Agents
  x-pack/plugins/apm/common/agent_configuration/runtime_types/log_ecs_reformatting_rt.ts
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/__snapshots__/index.test.ts.snap
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/general_settings.ts
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/java_settings.ts
Labels: Team:APM, release_note:skip

#151760 [Logs UI] Support inline Log Views in routes
  x-pack/plugins/infra/common/alerting/logs/log_threshold/types.ts
  x-pack/plugins/infra/common/http_api/log_alerts/chart_preview_data.ts
  x-pack/plugins/infra/common/http_api/log_analysis/results/log_entry_anomalies.ts
  x-pack/plugins/infra/common/http_api/log_analysis/results/log_entry_anomalies_datasets.ts
  x-pack/plugins/infra/common/http_api/log_analysis/results/log_entry_categories.ts
  x-pack/plugins/infra/common/http_api/log_analysis/results/log_entry_category_datasets.ts
  x-pack/plugins/infra/common/http_api/log_analysis/results/log_entry_category_examples.ts
  x-pack/plugins/infra/common/http_api/log_analysis/results/log_entry_examples.ts
  x-pack/plugins/infra/common/http_api/log_entries/highlights.ts
  x-pack/plugins/infra/common/http_api/log_entries/summary.ts
  x-pack/plugins/infra/common/log_views/types.ts
  x-pack/plugins/infra/common/search_strategies/log_entries/log_entries.ts
  x-pack/plugins/infra/common/search_strategies/log_entries/log_entry.ts
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/editor.tsx
  x-pack/plugins/infra/public/alerting/log_threshold/components/expression_editor/hooks/use_chart_preview_data.tsx
  x-pack/plugins/infra/public/containers/logs/log_entry.ts
  x-pack/plugins/infra/public/containers/logs/log_highlights/log_entry_highlights.tsx
  x-pack/plugins/infra/public/containers/logs/log_highlights/log_summary_highlights.ts
  x-pack/plugins/infra/public/containers/logs/log_stream/use_fetch_log_entries_after.ts
  x-pack/plugins/infra/public/containers/logs/log_stream/use_fetch_log_entries_before.ts
  x-pack/plugins/infra/public/containers/logs/log_summary/log_summary.test.tsx
  x-pack/plugins/infra/public/containers/logs/log_summary/log_summary.tsx
  x-pack/plugins/infra/public/pages/logs/log_entry_categories/service_calls/get_log_entry_category_datasets.ts
  x-pack/plugins/infra/public/pages/logs/log_entry_categories/service_calls/get_log_entry_category_examples.ts
  x-pack/plugins/infra/public/pages/logs/log_entry_categories/service_calls/get_top_log_entry_categories.ts
  x-pack/plugins/infra/public/pages/logs/log_entry_rate/service_calls/get_log_entry_anomalies.ts
  x-pack/plugins/infra/public/pages/logs/log_entry_rate/service_calls/get_log_entry_anomalies_datasets.ts
  x-pack/plugins/infra/public/pages/logs/log_entry_rate/service_calls/get_log_entry_examples.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/plugins/infra/server/lib/domains/log_entries_domain/log_entries_domain.ts
  x-pack/plugins/infra/server/lib/log_analysis/log_entry_anomalies.ts
  x-pack/plugins/infra/server/lib/log_analysis/log_entry_categories_analysis.ts
  x-pack/plugins/infra/server/lib/log_analysis/log_entry_rate_analysis.ts
  x-pack/plugins/infra/server/routes/log_alerts/chart_preview_data.ts
  x-pack/plugins/infra/server/routes/log_analysis/results/log_entry_anomalies.ts
  x-pack/plugins/infra/server/routes/log_analysis/results/log_entry_anomalies_datasets.ts
  x-pack/plugins/infra/server/routes/log_analysis/results/log_entry_categories.ts
  x-pack/plugins/infra/server/routes/log_analysis/results/log_entry_category_datasets.ts
  x-pack/plugins/infra/server/routes/log_analysis/results/log_entry_category_examples.ts
  x-pack/plugins/infra/server/routes/log_analysis/results/log_entry_examples.ts
  x-pack/plugins/infra/server/routes/log_entries/highlights.ts
  x-pack/plugins/infra/server/routes/log_entries/summary.ts
  x-pack/plugins/infra/server/routes/log_entries/summary_highlights.ts
  x-pack/plugins/infra/server/routes/snapshot/index.ts
  x-pack/plugins/infra/server/services/log_entries/log_entries_search_strategy.test.ts
  x-pack/plugins/infra/server/services/log_entries/log_entries_search_strategy.ts
  x-pack/plugins/infra/server/services/log_entries/log_entry_search_strategy.test.ts
  x-pack/plugins/infra/server/services/log_entries/log_entry_search_strategy.ts
  x-pack/plugins/infra/server/services/log_views/log_views_client.mock.ts
  x-pack/plugins/infra/server/services/log_views/log_views_client.ts
  x-pack/plugins/infra/server/services/log_views/types.ts
  x-pack/test/api_integration/apis/metrics_ui/log_entry_highlights.ts
  x-pack/test/api_integration/apis/metrics_ui/log_summary.ts
Labels: Feature:Logs UI, Team:Infra Monitoring UI, release_note:skip, v8.8.0

#152560 [8.7] [ML] Fixing wizard input vertical alignment (#152469)
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/job_details_step/components/advanced_section/components/annotations/description.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/job_details_step/components/advanced_section/components/dedicated_index/description.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/job_details_step/components/advanced_section/components/model_plot/description.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/categorization_partition_field/description.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/geo_field/description.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/population_field/description.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/rare_field/description.tsx
  x-pack/plugins/ml/public/application/jobs/new_job/pages/components/pick_fields_step/components/sparse_data/description.tsx
Labels: backport

#152330 [Security Solution][Endpoint] Hide policy link from artifacts flyout when no policy management privileges
  x-pack/plugins/security_solution/public/management/components/effected_policy_select/effected_policy_select.test.tsx
  x-pack/plugins/security_solution/public/management/components/effected_policy_select/effected_policy_select.tsx
Labels: release_note:skip, Team:Defend Workflows, v8.8.0

#152564 [8.7] [ML] Fixing lens integration for ad hoc data views (#152487)
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_lens/utils.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_lens/visualization_extractor.ts
  x-pack/plugins/ml/public/embeddables/job_creation/common/create_flyout.tsx
Labels: backport

#152444 add loading state to delete data streams modal
  x-pack/plugins/index_management/public/application/sections/home/data_stream_list/delete_data_stream_confirmation_modal/delete_data_stream_confirmation_modal.tsx
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip, v8.8.0

#152445 [XY] Order by metric/custom metric doesn't work well for split chart
  package.json
  src/plugins/vis_types/xy/public/chart_split.tsx
  src/plugins/vis_types/xy/public/chart_splitter.tsx
  src/plugins/vis_types/xy/public/vis_component.tsx
  yarn.lock
Labels: Feature:XYAxis, Team:Visualizations, release_note:skip, backport:skip, v7.17.10

#152526 [APM] Adds service map dsl to synthtrace
  packages/kbn-apm-synthtrace-client/index.ts
  packages/kbn-apm-synthtrace-client/src/lib/dsl/service_map.test.ts
  packages/kbn-apm-synthtrace-client/src/lib/dsl/service_map.ts
  packages/kbn-apm-synthtrace-client/src/types/agent_names.ts
  packages/kbn-apm-synthtrace/src/scenarios/service_map.ts
  packages/kbn-apm-synthtrace/tsconfig.json
  x-pack/test/apm_api_integration/tests/service_maps/service_maps_kuery_filter.spec.ts
Labels: Team:APM, release_note:skip, v8.8.0

#152547 [ML] Fixing single to multi metric wizard redirect
  x-pack/plugins/ml/public/application/routing/routes/new_job/wizard.tsx
Labels: bug, non-issue, :ml, Feature:Anomaly Detection, release_note:skip, v8.7.0, v8.8.0

#152432 [Graph] Replace SavedObjectsFinder component
  src/plugins/unified_search/kibana.jsonc
  src/plugins/unified_search/public/types.ts
  src/plugins/unified_search/tsconfig.json
  x-pack/plugins/graph/kibana.jsonc
  x-pack/plugins/graph/public/application.tsx
  x-pack/plugins/graph/public/apps/workspace_route.tsx
  x-pack/plugins/graph/public/components/guidance_panel/guidance_panel.tsx
  x-pack/plugins/graph/public/components/search_bar.test.tsx
  x-pack/plugins/graph/public/components/search_bar.tsx
  x-pack/plugins/graph/public/components/source_picker.tsx
  x-pack/plugins/graph/public/plugin.ts
  x-pack/plugins/graph/public/services/source_modal.tsx
  x-pack/plugins/graph/tsconfig.json
Labels: release_note:skip, v8.8.0

#152404 [http] Adds route config option access flag to indicate if an API is public or internal
  packages/core/http/core-http-router-server-internal/src/request.ts
  packages/core/http/core-http-router-server-mocks/src/router.mock.ts
  packages/core/http/core-http-server-internal/src/http_server.test.ts
  packages/core/http/core-http-server-internal/src/http_server.ts
  packages/core/http/core-http-server-internal/src/lifecycle_handlers.test.ts
  packages/core/http/core-http-server-internal/src/lifecycle_handlers.ts
  packages/core/http/core-http-server/src/router/request.ts
  packages/core/http/core-http-server/src/router/route.ts
  packages/core/versioning/core-version-http-server/src/example.ts
  packages/core/versioning/core-version-http-server/src/version_http_toolkit.ts
Labels: Feature:http, release_note:skip, backport:skip, Epic:KBNA-3947, v8.8.0

#152513 [8.6] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#152527 [Synthetics] adjust overview status to account for various filters
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_status.tsx
  x-pack/plugins/synthetics/server/queries/query_monitor_status.ts
  x-pack/plugins/synthetics/server/routes/overview_status/overview_status.test.ts
  x-pack/plugins/synthetics/server/routes/overview_status/overview_status.ts
  x-pack/plugins/synthetics/server/saved_objects/synthetics_monitor/get_all_monitors.ts
Labels: bug, Team:uptime, release_note:skip, v8.7.0, v8.8.0

#152508 chore(slo): change rule license
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/register.ts
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#152556 [Enterprise Search] Allow custom pipelines to be deleted
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/index/create_custom_pipeline_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/pipelines/revert_connector_pipeline_api_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/pipelines/revert_connector_pipeline_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipelines/customize_pipeline_item.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipelines/ingest_pipelines_card.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ingest_pipelines/ingest_pipelines_card.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.test.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/delete_pipelines.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/revert_custom_pipeline.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.7.0, v8.8.0

#152353 [Ingest Pipelines] Add support for redact processor
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/__jest__/processors/processor.helpers.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/__jest__/processors/redact.test.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/field_components/index.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/field_components/input_list.scss
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/field_components/input_list.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processors/index.ts
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processors/redact.tsx
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/shared/map_processor_type_to_form.tsx
Labels: Team:Deployment Management, release_note:skip, backport:skip, Feature:Ingest Node Pipelines, v8.8.0

#152493 [Profiling] Blank page when an invalid query string is given and when…
  x-pack/plugins/profiling/public/app.tsx
  x-pack/plugins/profiling/public/routing/router_error_boundary.tsx
  x-pack/plugins/profiling/tsconfig.json
Labels: release_note:skip, v8.8.0

#152310 [DOCS] Refresh index threshold rule screenshots
  docs/user/alerting/images/rule-types-index-threshold-conditions.png
  docs/user/alerting/images/rule-types-index-threshold-example-action.png
  docs/user/alerting/images/rule-types-index-threshold-example-aggregation.png
  docs/user/alerting/images/rule-types-index-threshold-example-alerts.png
  docs/user/alerting/images/rule-types-index-threshold-example-comparison.png
  docs/user/alerting/images/rule-types-index-threshold-example-grouping.png
  docs/user/alerting/images/rule-types-index-threshold-example-index.png
  docs/user/alerting/images/rule-types-index-threshold-example-preview.png
  docs/user/alerting/images/rule-types-index-threshold-example-threshold.png
  docs/user/alerting/images/rule-types-index-threshold-example-timefield.png
  docs/user/alerting/images/rule-types-index-threshold-example-window.png
  docs/user/alerting/images/rule-types-index-threshold-preview.png
  docs/user/alerting/images/rule-types-index-threshold-select.png
  docs/user/alerting/rule-types.asciidoc
  docs/user/alerting/rule-types/index-threshold.asciidoc
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/group_by_over.tsx
  x-pack/test/functional/services/rules/api.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/index.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/index_threshold_rule.ts
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Alerting/RuleTypes, v8.7.0, v8.8.0

#152581 [8.7] [Enterprise Search] Change Azure Cloud Storage to Azure Blob Storage (#152566)
  x-pack/plugins/enterprise_search/public/assets/source_icons/azure_blob.svg
  x-pack/plugins/enterprise_search/server/integrations.ts
Labels: backport

#152563 [APM] Awaiting yellow status of the cluster when creating an anomaly detection jobs
  x-pack/plugins/apm/server/lib/anomaly_detection/create_anomaly_detection_jobs.ts
Labels: Team:APM, release_note:skip

#152545 [Discover] Unskip discover field jest tests
  src/plugins/discover/public/application/main/components/sidebar/discover_field.test.tsx
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#152019 [ML] Update jest test for FieldTypeIcon
  x-pack/plugins/data_visualizer/public/application/common/components/field_type_icon/__snapshots__/field_type_icon.test.tsx.snap
  x-pack/plugins/data_visualizer/public/application/common/components/field_type_icon/field_type_icon.test.tsx
  x-pack/plugins/data_visualizer/public/application/common/components/field_type_icon/field_type_icon.tsx
Labels: :ml, release_note:skip, Feature:File and Index Data Viz, v8.7.0, v8.8.0

#152585 [8.7] [ML] Fixing single to multi metric wizard redirect (#152547)
  x-pack/plugins/ml/public/application/routing/routes/new_job/wizard.tsx
Labels: backport

#152588 [8.7] [Synthetics] adjust overview status to account for various filters (#152527)
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_status.tsx
  x-pack/plugins/synthetics/server/queries/query_monitor_status.ts
  x-pack/plugins/synthetics/server/routes/overview_status/overview_status.test.ts
  x-pack/plugins/synthetics/server/routes/overview_status/overview_status.ts
  x-pack/plugins/synthetics/server/saved_objects/synthetics_monitor/get_all_monitors.ts
Labels: backport, Team:uptime

#152505 Generate a different hash for summary actions
  x-pack/plugins/alerting/server/task_runner/rule_action_helper.test.ts
  x-pack/plugins/alerting/server/task_runner/rule_action_helper.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.test.ts
Labels: bug, release_note:fix, Team:ResponseOps, v8.7.0, v8.8.0

#152593 [8.7] [Discover] Unskip discover field jest tests (#152545)
  src/plugins/discover/public/application/main/components/sidebar/discover_field.test.tsx
Labels: backport

#152594 [8.7] [ML] Update jest test for FieldTypeIcon (#152019)
  x-pack/plugins/data_visualizer/public/application/common/components/field_type_icon/__snapshots__/field_type_icon.test.tsx.snap
  x-pack/plugins/data_visualizer/public/application/common/components/field_type_icon/field_type_icon.test.tsx
  x-pack/plugins/data_visualizer/public/application/common/components/field_type_icon/field_type_icon.tsx
Labels: backport

#152489 [Lens][Embeddable] Reset removable error list on search/context update
  test/functional/apps/discover/group1/_discover_histogram.ts
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/test/functional/apps/lens/group2/dashboard.ts
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:prev-minor, v8.7.0, v8.8.0

#152601 [Enterprise Search] Delete pipelines on index cleanup
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.7.0, v8.8.0

#152541 Upgrade `vega` dependency (`5.22.1` → `5.23.0`).
  package.json
  packages/kbn-optimizer/src/worker/webpack.config.ts
  src/plugins/vis_types/vega/public/__snapshots__/vega_visualization.test.js.snap
  yarn.lock
Labels: chore, release_note:skip, backport:all-open

#152600 [8.7] Generate a different hash for summary actions (#152505)
  x-pack/plugins/alerting/server/task_runner/rule_action_helper.test.ts
  x-pack/plugins/alerting/server/task_runner/rule_action_helper.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.test.ts
Labels: backport

#152385 [Security solution] Grouping UI package
  .github/CODEOWNERS
  .i18nrc.json
  package.json
  packages/kbn-securitysolution-grouping/README.md
  packages/kbn-securitysolution-grouping/index.tsx
  packages/kbn-securitysolution-grouping/jest.config.js
  packages/kbn-securitysolution-grouping/kibana.jsonc
  packages/kbn-securitysolution-grouping/package.json
  packages/kbn-securitysolution-grouping/setup_test.ts
  packages/kbn-securitysolution-grouping/src/components/accordion_panel/group_stats.test.tsx
  packages/kbn-securitysolution-grouping/src/components/accordion_panel/group_stats.tsx
  packages/kbn-securitysolution-grouping/src/components/accordion_panel/helpers.ts
  packages/kbn-securitysolution-grouping/src/components/accordion_panel/index.test.tsx
  packages/kbn-securitysolution-grouping/src/components/accordion_panel/index.tsx
  packages/kbn-securitysolution-grouping/src/components/empty_resuls_panel.tsx
  packages/kbn-securitysolution-grouping/src/components/group_selector/custom_field_panel.tsx
  packages/kbn-securitysolution-grouping/src/components/group_selector/index.test.tsx
  packages/kbn-securitysolution-grouping/src/components/group_selector/index.tsx
  packages/kbn-securitysolution-grouping/src/components/grouping.test.tsx
  packages/kbn-securitysolution-grouping/src/components/grouping.tsx
  packages/kbn-securitysolution-grouping/src/components/index.tsx
  packages/kbn-securitysolution-grouping/src/components/styles.tsx
  packages/kbn-securitysolution-grouping/src/components/translations.ts
  packages/kbn-securitysolution-grouping/src/components/types.ts
  packages/kbn-securitysolution-grouping/src/containers/index.ts
  packages/kbn-securitysolution-grouping/src/containers/query/index.test.ts
  packages/kbn-securitysolution-grouping/src/containers/query/index.ts
  packages/kbn-securitysolution-grouping/src/containers/query/types.ts
  packages/kbn-securitysolution-grouping/src/helpers.ts
  packages/kbn-securitysolution-grouping/src/index.ts
  packages/kbn-securitysolution-grouping/tsconfig.json
  tsconfig.base.json
  x-pack/plugins/security_solution/public/common/components/grouping/translations.ts
  x-pack/plugins/security_solution/public/common/containers/grouping/hooks/use_get_group_selector.tsx
  x-pack/plugins/security_solution/public/common/containers/grouping/hooks/use_grouping_pagination.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_details_ui/pages/rule_details/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/group_panel_renderers.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/group_stats.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/query_builder.test.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/query_builder.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/index.test.tsx
  x-pack/plugins/security_solution/public/detections/hooks/trigger_actions_alert_table/use_persistent_controls.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
  x-pack/plugins/security_solution/tsconfig.json
  yarn.lock
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, 8.8 candidate, v8.8.0

#152605 [8.7] [Enterprise Search] Delete pipelines on index cleanup (#152601)
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: backport

#152286 [Synthetics] Exp view reload state on missing data
  .github/CODEOWNERS
  src/plugins/data_views/common/index.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/embeddable/index.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/embeddable/use_app_data_view.ts
  x-pack/plugins/observability/public/utils/observability_data_views/observability_data_views.ts
Labels: Team:uptime, release_note:skip, ci:cloud-deploy, v8.8.0

#152606 [8.7] Upgrade `vega` dependency (`5.22.1` → `5.23.0`). (#152541)
  package.json
  packages/kbn-optimizer/src/worker/webpack.config.ts
  src/plugins/vis_types/vega/public/__snapshots__/vega_visualization.test.js.snap
  yarn.lock
Labels: backport

#152590 [8.7] [DOCS] Refresh index threshold rule screenshots (#152310)
  docs/user/alerting/images/rule-types-index-threshold-conditions.png
  docs/user/alerting/images/rule-types-index-threshold-example-action.png
  docs/user/alerting/images/rule-types-index-threshold-example-aggregation.png
  docs/user/alerting/images/rule-types-index-threshold-example-alerts.png
  docs/user/alerting/images/rule-types-index-threshold-example-comparison.png
  docs/user/alerting/images/rule-types-index-threshold-example-grouping.png
  docs/user/alerting/images/rule-types-index-threshold-example-index.png
  docs/user/alerting/images/rule-types-index-threshold-example-preview.png
  docs/user/alerting/images/rule-types-index-threshold-example-threshold.png
  docs/user/alerting/images/rule-types-index-threshold-example-timefield.png
  docs/user/alerting/images/rule-types-index-threshold-example-window.png
  docs/user/alerting/images/rule-types-index-threshold-preview.png
  docs/user/alerting/images/rule-types-index-threshold-select.png
  docs/user/alerting/rule-types.asciidoc
  docs/user/alerting/rule-types/index-threshold.asciidoc
  x-pack/plugins/triggers_actions_ui/public/common/expression_items/group_by_over.tsx
  x-pack/test/functional/services/rules/api.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/index.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/index_threshold_rule.ts
Labels: backport

#152616 [8.7] [Synthetics] Exp view reload state on missing data (#152286)
  src/plugins/data_views/common/index.ts
  x-pack/plugins/observability/public/components/shared/exploratory_view/embeddable/index.tsx
  x-pack/plugins/observability/public/components/shared/exploratory_view/embeddable/use_app_data_view.ts
  x-pack/plugins/observability/public/utils/observability_data_views/observability_data_views.ts
Labels: backport, Team:uptime

#152576 [QA][CODEOWNERS] Notify appex-qa for changes to FTR
  .github/CODEOWNERS
Labels: Team:QA, release_note:skip, backport:skip, v8.8.0

#152643 [8.6] [RAM] bug on _run_soon API (#151218
  x-pack/plugins/security/server/authorization/privileges/feature_privilege_builder/alerting.test.ts
  x-pack/plugins/security/server/authorization/privileges/feature_privilege_builder/alerting.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/index.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/run_soon.ts
Labels: backport

#152654 [Security Solution] Fixes breaking type in main
  x-pack/plugins/security_solution/public/exceptions/hooks/use_exceptions_list.card/index.tsx
Labels: bug, release_note:skip, v8.8.0

#152548 [Discover] Address flaky filters modal in alerting tests
  test/functional/apps/context/_discover_navigation.ts
  test/functional/services/filter_bar.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#152313 [Security Solution]Fix incorrect number of invalid connectors is shown on the toast message
  x-pack/plugins/security_solution/public/common/components/import_data_modal/utils.test.ts
  x-pack/plugins/security_solution/public/common/components/import_data_modal/utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/action_connectors/import_rule_action_connectors.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/action_connectors/utils/index.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/import_rules.ts
Labels: release_note:skip, Team:Security Solution Platform, backport:prev-minor, ci:cloud-deploy, v8.7.0

#152660 [8.7] [Discover] Address flaky filters modal in alerting tests (#152548)
  test/functional/apps/context/_discover_navigation.ts
  test/functional/services/filter_bar.ts
Labels: backport

#152543 [Synthetics] Fix filters persistance
  .github/CODEOWNERS
  x-pack/plugins/observability/public/components/shared/field_value_suggestions/field_value_selection.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/filter_group.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitors_page/common/monitor_filters/list_filters.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/state/monitor_list/index.ts
Labels: Team:uptime, release_note:skip, v8.7.0, v8.8.0

#152591 [ML] Functional tests - fix report names in API configs
  x-pack/test/api_integration/apis/ml/config.ts
  x-pack/test/api_integration/apis/transform/config.ts
Labels: :ml, release_note:skip, backport:prev-minor, v8.7.0, v8.8.0

#152661 [8.7] [Security Solution]Fix incorrect number of invalid connectors is shown on the toast message (#152313)
  x-pack/plugins/security_solution/public/common/components/import_data_modal/utils.test.ts
  x-pack/plugins/security_solution/public/common/components/import_data_modal/utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/action_connectors/import_rule_action_connectors.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/action_connectors/utils/index.ts
  x-pack/test/detection_engine_api_integration/security_and_spaces/group10/import_rules.ts
Labels: backport

#152687 [8.7] [Fleet] Disable FQDN selector by default (#152592)
  x-pack/plugins/fleet/common/experimental_features.ts
Labels: backport, Team:Fleet

#152587 [fleet] Add feature flag for Agent Tamper Protection
  x-pack/plugins/fleet/common/experimental_features.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows

#152549 [Infrastructure UI] Improve alerts query and fix import
  x-pack/plugins/infra/public/pages/metrics/hosts/constants.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_alerts_query.ts
  x-pack/plugins/infra/public/pages/metrics/hosts/types.ts
Labels: Team:Infra Monitoring UI, release_note:skip, v8.8.0

#152366 [Console] Fix an error with folds in the editor
  src/plugins/console/public/application/models/legacy_core_editor/legacy_core_editor.ts
  test/functional/apps/console/_console.ts
Labels: bug, Feature:Console, Team:Deployment Management, release_note:skip, v8.8.0

#152571 [Elasticsearch] Log queued requests
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/index.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/agent_manager.test.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/agent_manager.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/cluster_client.test.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/configure_client.test.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/get_agents_sockets_stats.test.mocks.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/get_agents_sockets_stats.test.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/src/get_agents_sockets_stats.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-internal/tsconfig.json
  packages/core/elasticsearch/core-elasticsearch-client-server-mocks/index.ts
  packages/core/elasticsearch/core-elasticsearch-client-server-mocks/src/agent_manager.mocks.ts
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/elasticsearch_service.test.mocks.ts
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/elasticsearch_service.test.ts
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/elasticsearch_service.ts
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/types.ts
  packages/core/elasticsearch/core-elasticsearch-server-mocks/src/elasticsearch_service.mock.ts
  packages/core/metrics/core-metrics-collectors-server-internal/src/elasticsearch_client.test.ts
  packages/core/metrics/core-metrics-collectors-server-internal/src/elasticsearch_client.ts
  packages/core/metrics/core-metrics-server-internal/src/metrics_service.test.ts
  packages/core/metrics/core-metrics-server-internal/src/metrics_service.ts
  packages/core/metrics/core-metrics-server-internal/src/ops_metrics_collector.test.ts
  packages/core/metrics/core-metrics-server-internal/src/ops_metrics_collector.ts
  src/cli_setup/utils.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.ts
Labels: Feature:elasticsearch, Team:Core, release_note:skip, backport:skip

#152650 Fix flaky test
  x-pack/plugins/cases/public/components/all_cases/use_actions.tsx
  x-pack/test/functional/services/cases/list.ts
  x-pack/test/functional_with_es_ssl/apps/cases/group2/list_view.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, backport:prev-minor, v8.8.0

#152215 [Cloud Security] added vulnerability mgmt deployment
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/utils.ts
Labels: release_note:skip, Team:Cloud Security

#152339 [Infrastructure UI] Fix Hosts View date picker for some preset values
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_unified_search_url_state.ts
Labels: Team:Infra Monitoring UI, release_note:skip, backport:prev-minor, v8.8.0

#152263 [Security Solution][Endpoint] Fix flaky test and unskip
  x-pack/plugins/security_solution/public/management/pages/integration_tests/index.test.tsx
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.6.0, v8.7.0

#151788 [DataViews] Remove `No matching indices found` toasts 🍞
  src/plugins/data_views/common/data_views/data_views.test.ts
  src/plugins/data_views/common/data_views/data_views.ts
Labels: Feature:Data Views, release_note:skip, Team:DataDiscovery

#152709 [8.7] Fix flaky test (#152650)
  x-pack/plugins/cases/public/components/all_cases/use_actions.tsx
  x-pack/test/functional/services/cases/list.ts
  x-pack/test/functional_with_es_ssl/apps/cases/group2/list_view.ts
Labels: backport

#152713 [8.7] [Infrastructure UI] Fix Hosts View date picker for some preset values (#152339)
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_unified_search_url_state.ts
Labels: backport

#151869 [Security Solution]Rule preview when returns zero value it overlaps the No results match your search criteria banner
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/shared/index.tsx
Labels: release_note:fix, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Alerts, backport:prev-minor

#152718 [8.7] [Security Solution][Endpoint] Fix flaky test and unskip (#152263)
  x-pack/plugins/security_solution/public/management/pages/integration_tests/index.test.tsx
Labels: backport

#152724 [8.7] Upgrade `vega` dependency (`5.22.1` → `5.23.0`). (#152541) (#152700)
  package.json
  packages/kbn-optimizer/src/worker/webpack.config.ts
  packages/kbn-storybook/src/webpack.config.ts
  src/plugins/vis_types/vega/public/__snapshots__/vega_visualization.test.js.snap
  yarn.lock
Labels: backport

#152716 [8.7] [APM] Awaiting yellow status of the cluster when creating an anomaly detection jobs (#152563)
  x-pack/plugins/apm/server/lib/anomaly_detection/create_anomaly_detection_jobs.ts
Labels: backport, Team:APM

#152079 [Defend Workflows] Osquery UI fixes
  x-pack/plugins/osquery/public/live_queries/form/pack_queries_status_table.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/index.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/osquery_result.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/osquery_results.test.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/types.ts
  x-pack/plugins/security_solution/public/common/components/event_details/osquery_tab.tsx
Labels: bug, release_note:skip, Team:Defend Workflows, Feature:Osquery, v8.7.0, v8.8.0

#152644 [Security Solution] Fix release action failing with 0 cases
  x-pack/plugins/security_solution/public/detections/components/host_isolation/isolate.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/unisolate.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_host_isolation.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_host_unisolation.tsx
Labels: release_note:skip, Team:Defend Workflows, v8.7.0, v8.8.0

#152717 [8.6] [Security Solution][Endpoint] Fix flaky test and unskip (#152263)
  x-pack/plugins/security_solution/public/management/pages/integration_tests/index.test.tsx
Labels: backport

#152399 [Cases] Registering file attachment type
  x-pack/plugins/cases/common/api/cases/comment/files.ts
  x-pack/plugins/cases/common/api/cases/comment/index.ts
  x-pack/plugins/cases/common/constants/files.ts
  x-pack/plugins/cases/server/attachment_framework/types.ts
  x-pack/plugins/cases/server/client/attachments/add.ts
  x-pack/plugins/cases/server/client/attachments/bulk_create.ts
  x-pack/plugins/cases/server/client/attachments/update.ts
  x-pack/plugins/cases/server/client/utils.ts
  x-pack/plugins/cases/server/common/limiter_checker/base_limiter.ts
  x-pack/plugins/cases/server/common/limiter_checker/index.test.ts
  x-pack/plugins/cases/server/common/limiter_checker/index.ts
  x-pack/plugins/cases/server/common/limiter_checker/limiters/alerts.test.ts
  x-pack/plugins/cases/server/common/limiter_checker/limiters/alerts.ts
  x-pack/plugins/cases/server/common/limiter_checker/limiters/files.test.ts
  x-pack/plugins/cases/server/common/limiter_checker/limiters/files.ts
  x-pack/plugins/cases/server/common/limiter_checker/test_utils.ts
  x-pack/plugins/cases/server/common/limiter_checker/types.ts
  x-pack/plugins/cases/server/common/models/case_with_comments.ts
  x-pack/plugins/cases/server/common/types.ts
  x-pack/plugins/cases/server/common/utils.ts
  x-pack/plugins/cases/server/internal_attachments/index.ts
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/server/services/attachments/index.ts
  x-pack/plugins/cases/server/services/mocks.ts
  x-pack/test/cases_api_integration/common/lib/mock.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/comments/patch_comment.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/comments/post_comment.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/internal/bulk_create_attachments.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/internal/get_connectors.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Cases, v8.8.0

#152602 [Security Solution] [Sourcerer] do not display error toast if user aborts query
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.test.tsx
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.tsx
  x-pack/plugins/security_solution/public/common/containers/sourcerer/use_signal_helpers.test.tsx
  x-pack/plugins/security_solution/public/common/containers/sourcerer/use_signal_helpers.tsx
Labels: review, release_note:skip, Team:Security Solution Platform, v8.7.0, Feature:Sourcerer

#152728 [8.7] [Security Solution]Rule preview when returns zero value it overlaps the No results match your search criteria banner (#151869)
  x-pack/plugins/security_solution/public/common/components/events_viewer/index.tsx
  x-pack/plugins/security_solution/public/common/components/events_viewer/shared/index.tsx
Labels: backport

#152045 Fix selected text not showing correct entity
  x-pack/plugins/security_solution/common/types/data_table/index.ts
  x-pack/plugins/security_solution/public/common/components/events_viewer/use_alert_bulk_actions.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/alert_bulk_actions.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/index.tsx
  x-pack/plugins/security_solution/public/common/components/toolbar/bulk_actions/translations.ts
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, backport:prev-minor, v8.7.0, v8.8.0

#152253 [Enterprise Search] Engines Search Preview - "Sort By"
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/engine_search_preview.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/engine_search_preview_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/engine/engine_search_preview/search_ui_components.tsx
Labels: release_note:skip, Team:EnterpriseSearch

#152726 [Security Solution][Alerts] Update mapping conflicts warning message
  packages/kbn-securitysolution-autocomplete/src/translations/index.ts
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.test.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/translations.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Security Solution Platform, Team:Detection Alerts, backport:prev-minor, ci:cloud-deploy

#152736 [8.7] [Defend Workflows] Osquery UI fixes (#152079)
  x-pack/plugins/osquery/public/live_queries/form/pack_queries_status_table.tsx
  x-pack/plugins/osquery/public/results/results_table.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/index.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/osquery_result.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/osquery_results.test.tsx
  x-pack/plugins/osquery/public/shared_components/osquery_results/types.ts
  x-pack/plugins/security_solution/public/common/components/event_details/osquery_tab.tsx
Labels: backport

#152737 [8.7] [Security Solution] Fix release action failing with 0 cases (#152644)
  x-pack/plugins/security_solution/public/detections/components/host_isolation/isolate.tsx
  x-pack/plugins/security_solution/public/detections/components/host_isolation/unisolate.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_host_isolation.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_host_unisolation.tsx
Labels: backport

#152628 [Security solution] Grouping package - generic type argument
  packages/kbn-securitysolution-grouping/index.tsx
  packages/kbn-securitysolution-grouping/src/components/accordion_panel/group_stats.tsx
  packages/kbn-securitysolution-grouping/src/components/accordion_panel/index.tsx
  packages/kbn-securitysolution-grouping/src/components/grouping.tsx
  packages/kbn-securitysolution-grouping/src/components/types.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/group_panel_renderers.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/group_stats.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/types.ts
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, 8.8 candidate

#152755 [8.7] [Security Solution][Alerts] Update mapping conflicts warning message (#152726)
  packages/kbn-securitysolution-autocomplete/src/translations/index.ts
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.test.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/translations.ts
Labels: backport

#152745 [8.7] [Security Solution] [Sourcerer] do not display error toast if user aborts query (#152602)
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.test.tsx
  x-pack/plugins/security_solution/public/common/containers/sourcerer/index.tsx
  x-pack/plugins/security_solution/public/common/containers/sourcerer/use_signal_helpers.test.tsx
  x-pack/plugins/security_solution/public/common/containers/sourcerer/use_signal_helpers.tsx
Labels: backport

#152747 [Cases] Refactoring file kinds
  x-pack/plugins/cases/common/constants/files.ts
  x-pack/plugins/cases/public/files/index.ts
  x-pack/plugins/cases/server/common/limiter_checker/limiters/files.ts
  x-pack/plugins/cases/server/files/index.ts
  x-pack/test/api_integration/apis/cases/files.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.8.0

#152629 [Security Solution][Exceptions] - Fix breadcrumbs text for shared exception list
  packages/kbn-securitysolution-exception-list-components/src/list_header/__snapshots__/list_header.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/translations.ts
Labels: bug, release_note:fix, Team: SecuritySolution, Team:Security Solution Platform, v8.7.0

#152763 [Cases] Adding comments indicating which fields are not indexed
  x-pack/plugins/cases/server/saved_object_types/comments.ts
  x-pack/plugins/cases/server/saved_object_types/configure.ts
  x-pack/plugins/cases/server/saved_object_types/connector_mappings.ts
  x-pack/plugins/cases/server/saved_object_types/user_actions.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.8.0

#152621 [http] Add log for route path access
  packages/core/http/core-http-server-internal/src/http_server.ts
Labels: Feature:http, Team:Core, release_note:skip, backport:skip, Epic:KBNA-3947, v8.8.0

#152402 [Security Solution] Fix empty fields and tab titles on Alerts page charts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/alerts_progress_bar.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/alerts_progress_bar.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/helpers.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/helpers.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/mock_data.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/translations.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/types.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/aggregations.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/use_summary_chart_data.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/common/types.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/chart_select/helpers.test.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/chart_select/helpers.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/chart_select/translations.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
Labels: Team:Threat Hunting, Team: SecuritySolution, release_note:feature, Team:Threat Hunting:Investigations, v8.7.0, v8.8.0

#152764 [8.7] [Security Solution][Exceptions] - Fix breadcrumbs text for shared exception list (#152629)
  packages/kbn-securitysolution-exception-list-components/src/list_header/__snapshots__/list_header.test.tsx.snap
  packages/kbn-securitysolution-exception-list-components/src/translations.ts
Labels: backport

#152710 [Synthetics] Adjust screenshot backoff logic for older runs
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/browser_steps_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/journey_screenshot_preview.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/use_retrieve_step_image.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/journey_last_screenshot.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/journey_screenshot_dialog.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/journey_step_screenshot_container.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/test_runs_table.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/test_run_details/step_screenshot_details.tsx
  x-pack/plugins/synthetics/server/queries/get_journey_details.ts
Labels: Team:uptime, release_note:skip, v8.7.0, v8.8.0

#152155 [Dashboard] [Controls] Make floating actions keyboard accessible
  examples/portable_dashboards_example/public/static_by_reference_example.tsx
  src/plugins/controls/public/control_group/component/control_frame_component.tsx
  src/plugins/controls/public/control_group/control_group.scss
  src/plugins/dashboard/public/dashboard_app/_dashboard_app.scss
  src/plugins/dashboard/public/dashboard_app/dashboard_app.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/_dashboard_top_nav.scss
  src/plugins/dashboard/public/dashboard_app/top_nav/dashboard_top_nav.tsx
  src/plugins/dashboard/public/dashboard_container/dashboard_container_renderer.tsx
  src/plugins/presentation_util/public/components/floating_actions/floating_actions.scss
  src/plugins/presentation_util/public/components/floating_actions/floating_actions.tsx
  test/functional/apps/dashboard_elements/controls/options_list/options_list_creation_and_editing.ts
  test/functional/screenshots/baseline/area_chart.png
  test/functional/screenshots/baseline/dashboard_controls_dark.png
  test/functional/screenshots/baseline/dashboard_controls_light.png
  test/functional/screenshots/baseline/tsvb_dashboard.png
  test/functional/services/dashboard/panel_actions.ts
Labels: Feature:Dashboard, Project:Accessibility, Feature:Input Control, Team:Presentation, loe:week, release_note:skip, impact:medium, backport:skip, Project:Controls

#152761 [APM] fix cypress test
  x-pack/plugins/apm/ftr_e2e/cypress/e2e/read_only_user/deep_links.cy.ts
Labels: Team:APM, release_note:skip

#152768 [8.7] [Synthetics] Adjust screenshot backoff logic for older runs (#152710)
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/browser_steps_list.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/journey_screenshot_preview.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/monitor_test_result/use_retrieve_step_image.ts
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/journey_last_screenshot.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/journey_screenshot_dialog.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/common/screenshot/journey_step_screenshot_container.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/monitor_details/monitor_summary/test_runs_table.tsx
  x-pack/plugins/synthetics/public/apps/synthetics/components/test_run_details/step_screenshot_details.tsx
  x-pack/plugins/synthetics/server/queries/get_journey_details.ts
Labels: backport, Team:uptime

#152769 [8.7] [Security Solution] Fix empty fields and tab titles on Alerts page charts (#152402)
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/alerts_progress_bar.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/alerts_progress_bar.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/helpers.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/helpers.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/mock_data.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/translations.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_progress_bar_panel/types.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/aggregations.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/use_summary_chart_data.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/common/types.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/chart_select/helpers.test.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/chart_select/helpers.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/chart_select/translations.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/chart_panels/index.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
Labels: backport

#152722 [APM] Show logs for all environments
  x-pack/plugins/apm/public/components/app/service_logs/index.test.ts
  x-pack/plugins/apm/public/components/app/service_logs/index.tsx
Labels: Team:APM, release_note:skip, v8.7.0

#151436 [Profiling] Adding a feedback link in Profiling
  x-pack/plugins/profiling/public/components/profiling_app_page_template/index.tsx
Labels: release_note:skip

#152779 [8.7] [APM] Show logs for all environments (#152722)
  x-pack/plugins/apm/public/components/app/service_logs/index.test.ts
  x-pack/plugins/apm/public/components/app/service_logs/index.tsx
Labels: backport, Team:APM

#152781 change kbn-performance-testing-dataset-extractor codeowner
  .github/CODEOWNERS
Labels: release_note:skip, backport:skip

#152577 [APM] remove redundant unit tests for getEnvironment
  x-pack/plugins/apm/server/routes/environments/__snapshots__/get_environments.test.ts.snap
  x-pack/plugins/apm/server/routes/environments/get_environments.test.ts
Labels: Team:APM, release_note:skip

#152441 [Migrations] Improve naming on some states' names
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/README.md
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/refresh_index.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/refresh_index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/update_mappings.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/model/model.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/state.ts
  src/core/server/integration_tests/saved_objects/migrations/group2/check_target_mappings.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/active_delete.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/skip_reindex.test.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.ts
Labels: Team:Core, release_note:skip, backport:skip, Feature:Migrations, v8.8.0

#152798 [8.7] [Lens] Reinstate config errors in embeddable (#150650)
  x-pack/plugins/lens/public/app_plugin/get_application_user_messages.test.tsx
  x-pack/plugins/lens/public/app_plugin/get_application_user_messages.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/state_helpers.ts
  x-pack/plugins/lens/public/embeddable/embeddable.test.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/test/functional/apps/lens/group3/error_handling.ts
  x-pack/test/functional/fixtures/kbn_archiver/lens/fundamental_config_errors_on_dashboard.json
Labels: backport

#152799 [Profiling] Fine-tune mappings
  x-pack/plugins/profiling/server/lib/setup/steps/component_template_profiling_stackframes.json
  x-pack/plugins/profiling/server/lib/setup/steps/component_template_profiling_stacktraces.json
Labels: bug, release_note:skip, v8.7.0, v8.8.0

#150499 [Security Solution] Narrow skipped endpoint list and policy tests
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/services/endpoint_policy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.7.0, v8.8.0

#152596 [performance] use journey own ftr config to run scalability test
  packages/kbn-performance-testing-dataset-extractor/src/cli.ts
  packages/kbn-performance-testing-dataset-extractor/src/extractor.ts
  packages/kbn-performance-testing-dataset-extractor/src/types.ts
  x-pack/test/scalability/config.ts
  x-pack/test/scalability/types.ts
Labels: release_note:skip, wg:performance, v8.6.3, v8.7.1

#152440 [APM] Fix breadcrumb for mobile services
  x-pack/plugins/apm/public/components/routing/mobile_service_detail/index.tsx
  x-pack/plugins/apm/public/components/routing/templates/mobile_service_template/index.tsx
  x-pack/plugins/apm/public/plugin.ts
Labels: Team:APM, release_note:skip

#152732 feat(slo): use UI settings date format
  x-pack/plugins/observability/public/pages/slo_details/components/overview.tsx
  x-pack/plugins/observability/public/pages/slo_details/components/wide_chart.tsx
  x-pack/plugins/observability/public/pages/slo_details/constants.ts
  x-pack/plugins/observability/public/pages/slo_details/index.test.tsx
Labels: release_note:skip, Team: Actionable Observability, v8.8.0

#152739 [HTTP] Dev doc for HTTP API versioning
  dev_docs/tutorials/versioning_http_apis.mdx
  nav-kibana-dev.docnav.json
Labels: Team:Core, release_note:skip, v8.8.0

#152805 [8.7] [Security Solution] Narrow skipped endpoint list and policy tests (#150499)
  x-pack/test/security_solution_endpoint/apps/endpoint/policy_details.ts
  x-pack/test/security_solution_endpoint/services/endpoint_policy.ts
Labels: backport
