Repository elastic/kibana, pull requests merged in 2024-06, with the labels that each got.

#184604 [Reporting] Ensure ILM call is made only in stateful
  packages/kbn-reporting/mocks_server/index.ts
  x-pack/plugins/reporting/server/lib/store/store.test.ts
  x-pack/plugins/reporting/server/lib/store/store.ts
Labels: release_note:skip, Team:SharedUX

#184531 [data.search] Improve SearchSource types (part 1)
  examples/embeddable_examples/public/react_embeddables/data_table/data_table_queries.ts
  packages/kbn-es-types/index.ts
  packages/kbn-es-types/src/index.ts
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/data/common/search/search_source/search_source.ts
  src/plugins/data/common/search/search_source/types.ts
  src/plugins/discover/public/application/context/services/anchor.test.ts
  src/plugins/discover/public/application/context/services/anchor.ts
  src/plugins/discover/public/application/context/services/context.ts
  src/plugins/discover/public/application/main/data_fetching/update_search_source.test.ts
  src/plugins/discover/public/application/main/data_fetching/update_search_source.ts
  src/plugins/discover/public/embeddable/utils/update_search_source.test.ts
  src/plugins/discover/public/embeddable/utils/update_search_source.ts
  src/plugins/discover/public/utils/get_sharing_data.test.ts
  src/plugins/discover/public/utils/get_sharing_data.ts
  src/plugins/unified_doc_viewer/public/hooks/use_es_doc_search.test.tsx
  src/plugins/unified_doc_viewer/public/hooks/use_es_doc_search.ts
  x-pack/test/reporting_api_integration/reporting_and_security/generate_csv_discover.ts
  x-pack/test/reporting_api_integration/reporting_and_security/security_roles_privileges.ts
  x-pack/test_serverless/api_integration/test_suites/common/reporting/generate_csv_discover.ts
Labels: Feature:Search, release_note:skip, Team:DataDiscovery

#184553 [Fleet] Add cypress test for installing a integration package that contains ML module and transform
  x-pack/plugins/fleet/cypress/e2e/assets_integration_with_ml_and_transforms.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/assets/assets_accordion.tsx
Labels: :ml, test_ui_functional, test_xpack_functional, release_note:skip, Team:Fleet

#184508 [flaky on mki] Increase timeout for kibanaReportCompletion, add delay between report checks
  x-pack/test_serverless/api_integration/test_suites/common/reporting/generate_csv_discover.ts
  x-pack/test_serverless/shared/config.base.ts
  x-pack/test_serverless/shared/services/svl_reporting.ts
Labels: release_note:skip

#183694 [search source] ES Query rule loads fewer fields on query execution
  packages/kbn-generate-csv/src/generate_csv.test.ts
  src/plugins/data/common/search/search_source/create_search_source.test.ts
  src/plugins/data/common/search/search_source/create_search_source.ts
  src/plugins/data/common/search/search_source/mocks.ts
  src/plugins/data/common/search/search_source/search_source.test.ts
  src/plugins/data/common/search/search_source/search_source.ts
  src/plugins/data/common/search/search_source/search_source_service.test.ts
  src/plugins/data/common/search/search_source/search_source_service.ts
  src/plugins/data/common/search/search_source/types.ts
  src/plugins/data/public/search/search_service.ts
  src/plugins/data/server/search/search_service.ts
  src/plugins/data_views/common/data_views/data_view_lazy.ts
  src/plugins/saved_search/common/service/get_saved_searches.test.ts
  src/plugins/saved_search/common/service/saved_searches_utils.test.ts
  src/plugins/saved_search/public/services/saved_searches/saved_search_attribute_service.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/lib/fetch_search_source_query.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/lib/fetch_search_source_query.ts
Labels: release_note:enhancement, Feature:Search, Team:DataDiscovery, ci:collect-apm

#184530 [8.14] Fix Alert exception flyout don&#x27;t open for ESQL alerts (#184389)
  packages/kbn-securitysolution-ecs/src/index.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
Labels: backport

#184623 [Cloud Security] Update Transform Version
  x-pack/plugins/cloud_security_posture/server/create_transforms/create_transforms.ts
  x-pack/plugins/cloud_security_posture/server/create_transforms/latest_findings_transform.ts
  x-pack/plugins/cloud_security_posture/server/create_transforms/latest_vulnerabilities_transforms.ts
Labels: release_note:skip, Team:Cloud Security

#184403 [Lens] Fix prepend sizing on duration formatter
  x-pack/plugins/lens/public/shared_components/prepend_provider.tsx
Labels: release_note:fix, Team:Visualizations, Feature:Lens, v8.15.0

#184418 [Spaces] Inited spaces API for serverless
  x-pack/plugins/spaces/server/routes/api/external/index.ts
  x-pack/test_serverless/api_integration/test_suites/common/management/spaces.ts
Labels: release_note:enhancement, chore, Team:Security, Feature:Security/Spaces, 8.15 candidate

#184598 [Security Solution] Rename `rulesManagementClient` -> `detectionRulesClient`
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/install_prebuilt_rules_and_timelines/install_prebuilt_rules_and_timelines_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_installation/perform_rule_installation_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_objects/create_prebuilt_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_objects/upgrade_prebuilt_rules.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_context.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_exceptions/api/create_rule_exceptions/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_actions/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_create_rules/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_create_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_delete_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_patch_rules/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_patch_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_update_rules/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_update_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/create_rule/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/create_rule/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/delete_rule/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/delete_rule/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/import_rules/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/import_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/patch_rule/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/patch_rule/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/update_rule/route.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/update_rule/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/import_rules_utils.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/import_rules_utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/__mocks__/detection_rules_client.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/create_custom_rule.rule_management_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/create_prebuilt_rule.rule_management_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/delete_rule.rule_management_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/detection_rules_client.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/import_rule.rule_management_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/patch_rule.rule_management_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/update_rule.rule_management_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/upgrade_prebuilt_rule.rule_management_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_monitoring/logic/detection_engine_health/rule_objects/fetch_rule_by_id.ts
  x-pack/plugins/security_solution/server/request_context_factory.ts
  x-pack/plugins/security_solution/server/types.ts
Labels: refactoring, release_note:skip, backport:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rule Management, v8.15.0

#184192 [Spaces] Telemetry for space solution property
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/spaces/server/usage_collection/spaces_usage_collector.test.ts
  x-pack/plugins/spaces/server/usage_collection/spaces_usage_collector.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/test/spaces_api_integration/spaces_only/telemetry/telemetry.ts
Labels: release_note:enhancement, Team:Security, Feature:Security/Spaces, 8.15 candidate

#184367 [Stateful sidenav] Cleanup iteration 2
  .buildkite/ftr_configs.yml
  packages/core/chrome/core-chrome-browser-internal/src/chrome_service.tsx
  packages/core/chrome/core-chrome-browser-internal/src/project_navigation/breadcrumbs.tsx
  packages/core/chrome/core-chrome-browser-internal/src/project_navigation/project_navigation_service.test.ts
  packages/core/chrome/core-chrome-browser-internal/src/project_navigation/project_navigation_service.ts
  packages/core/chrome/core-chrome-browser-internal/src/ui/solution_nav_switcher_breadcrumbs.tsx
  src/plugins/navigation/common/constants.ts
  src/plugins/navigation/common/index.ts
  src/plugins/navigation/kibana.jsonc
  src/plugins/navigation/public/plugin.test.ts
  src/plugins/navigation/public/plugin.tsx
  src/plugins/navigation/public/solution_nav_userprofile_toggle/index.ts
  src/plugins/navigation/public/solution_nav_userprofile_toggle/solution_nav_userprofile_toggle.test.tsx
  src/plugins/navigation/public/solution_nav_userprofile_toggle/solution_nav_userprofile_toggle.tsx
  src/plugins/navigation/public/solution_nav_userprofile_toggle/use_solution_nav_userprofile_toggle.ts
  src/plugins/navigation/public/types.ts
  src/plugins/navigation/server/config.ts
  src/plugins/navigation/server/index.ts
  src/plugins/navigation/server/plugin.ts
  src/plugins/navigation/server/ui_settings.ts
  src/plugins/navigation/tsconfig.json
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/test/functional/apps/navigation/config.ts
  x-pack/test/functional/apps/navigation/ftr_provider_context.ts
  x-pack/test/functional/apps/navigation/tests/index.ts
  x-pack/test/functional/apps/navigation/tests/solution_nav_switcher.ts
  x-pack/test/functional/apps/navigation/tests/user_optin_optout.ts
  x-pack/test/functional/apps/spaces/in_solution_navigation/config.ts
  x-pack/test/functional/apps/spaces/in_solution_navigation/index.ts
  x-pack/test/functional/apps/spaces/in_solution_navigation/spaces_selection.ts
Labels: release_note:skip, Team:SharedUX, Feature:Chrome

#184511 [Search] [Playground] Clip context when it exceeds LLM input token limit
  x-pack/plugins/search_playground/common/models.ts
  x-pack/plugins/search_playground/common/types.ts
  x-pack/plugins/search_playground/public/components/message_list/assistant_message.tsx
  x-pack/plugins/search_playground/public/components/message_list/token_estimate_tooltip.test.tsx
  x-pack/plugins/search_playground/public/components/message_list/token_estimate_tooltip.tsx
  x-pack/plugins/search_playground/public/hooks/use_llms_models.test.ts
  x-pack/plugins/search_playground/public/hooks/use_llms_models.ts
  x-pack/plugins/search_playground/public/types.ts
  x-pack/plugins/search_playground/public/utils/transform_to_messages.test.ts
  x-pack/plugins/search_playground/public/utils/transform_to_messages.ts
  x-pack/plugins/search_playground/server/lib/conversational_chain.test.ts
  x-pack/plugins/search_playground/server/lib/conversational_chain.ts
  x-pack/plugins/search_playground/server/routes.test.ts
  x-pack/plugins/search_playground/server/routes.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0

#184576 [Onboarding] Install integrations and run Agent from auto-detect script
  x-pack/plugins/observability_solution/observability_onboarding/common/elastic_agent_logs/system_logs/generate_system_logs_yml.ts
  x-pack/plugins/observability_solution/observability_onboarding/public/assets/auto_detect.sh
  x-pack/plugins/observability_solution/observability_onboarding/server/routes/flow/route.ts
Labels: release_note:skip, ci:project-deploy-observability

#184226 [SecuritySolution] Unified timeline table header fixes
  x-pack/plugins/security_solution/public/common/components/header_actions/header_actions.test.tsx
  x-pack/plugins/security_solution/public/common/components/header_actions/header_actions.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/footer/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/footer/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/footer/last_updated.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/footer/last_updated.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/unified_components/data_table/toolbar_additional_controls.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/unified_components/styles.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#182835 [Obs AI Assistant] Add Langtrace instrumentation
  package.json
  x-pack/plugins/observability_solution/observability_ai_assistant/TRACING.md
  x-pack/plugins/observability_solution/observability_ai_assistant/server/plugin.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/routes/chat/route.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/instrumentation/get_langtrace_span_attributes.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/instrumentation/get_langtrace_tracer.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/instrumentation/init_langtrace.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/instrumentation/lang_tracer.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/instrumentation/lang_tracer.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/continue_conversation.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/get_generated_title.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/get_generated_title.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/with_langtrace_chat_complete_span.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/knowledge_base_service/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/types.ts
  yarn.lock
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0

#183608 [Security Solution] Changes default role for serverless from admin to platform_engineer
  x-pack/test/functional/es_archives/security_solution/no_at_timestamp_field/data.json
  x-pack/test/functional/es_archives/security_solution/no_at_timestamp_field/mappings.json
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/eql.ts
  x-pack/test/security_solution_cypress/cypress/README.md
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/alerts_table_flow/rule_exceptions/closing_all_matching_alerts.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/entry/match_any.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/rule_details_flow/add_edit_exception_data_view.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/eql_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/new_terms_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/override.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/threshold_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/maintenance_windows/maintenance_window_callout.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/dashboards/entity_analytics/legacy_risk_score.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/dashboards/upgrade_risk_score.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/host_details/risk_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/hosts/host_risk_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/hosts/hosts_risk_column.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/explore/cases/creation.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/explore/users/users_tabs.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_right_panel.cy.ts
  x-pack/test/security_solution_cypress/cypress/objects/rule.ts
  x-pack/test/security_solution_cypress/cypress/tasks/common/users.ts
  x-pack/test/security_solution_cypress/cypress/tasks/login.ts
  x-pack/test/security_solution_cypress/es_archives/conflicts_1/data.json
  x-pack/test/security_solution_cypress/es_archives/conflicts_1/mappings.json
  x-pack/test/security_solution_cypress/es_archives/conflicts_2/data.json
  x-pack/test/security_solution_cypress/es_archives/conflicts_2/mappings.json
  x-pack/test/security_solution_cypress/es_archives/exceptions/data.json
  x-pack/test/security_solution_cypress/es_archives/exceptions/mappings.json
  x-pack/test/security_solution_cypress/es_archives/exceptions_2/data.json
  x-pack/test/security_solution_cypress/es_archives/exceptions_2/mappings.json
  x-pack/test/security_solution_cypress/es_archives/linux_process/data.json
  x-pack/test/security_solution_cypress/es_archives/linux_process/mappings.json
  x-pack/test/security_solution_cypress/es_archives/suspicious_source_event/data.json
  x-pack/test/security_solution_cypress/es_archives/suspicious_source_event/mappings.json
  x-pack/test/security_solution_cypress/es_archives/unmapped_fields/data.json
  x-pack/test/security_solution_cypress/es_archives/unmapped_fields/mappings.json
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Rule Management, Team:Threat Hunting:Investigations, Team:Threat Hunting:Explore, Team:Detection Engine, Team:Entity Analytics, v8.15.0

#184586 [Fleet] fix restart upgrade disabled condition
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
Labels: release_note:fix, Team:Fleet, backport:prev-minor

#184411 [Connectors] Use API to start on-demand connector sync
  packages/kbn-search-connectors/lib/start_sync.test.ts
  packages/kbn-search-connectors/lib/start_sync.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/start_sync.ts
Labels: release_note:skip, backport:skip, v8.15.0

#184589 [Search] Move sync logic to an independent logic
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/native_connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/overview.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/cancel_syncs_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/cancel_syncs_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/connector/native_connector_configuration/native_connector_advanced_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/overview.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/sync_jobs/sync_jobs.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/sync_jobs/sync_jobs_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/header_actions.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/header_actions.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/syncs_context_menu.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/syncs_context_menu.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/syncs_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/syncs_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/connector_helpers.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/connector_helpers.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0

#184630 [SLO Doc] Fix SLO OpenAPI component links
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/README.md
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/components/README.md
Labels: release_note:skip, ci:project-deploy-observability

#184661 [8.13] describe the values in the CCR metrics table (#184545)
  docs/user/monitoring/elasticsearch-details.asciidoc
Labels: backport

#184662 [8.14] describe the values in the CCR metrics table (#184545)
  docs/user/monitoring/elasticsearch-details.asciidoc
Labels: backport

#184536 [Telemetry][Security Solution] Update log events and messages
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/configuration.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/detection_rule.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/diagnostic.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/filterlists.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/prebuilt_rule_alerts.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/timelines.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/timelines_diagnostic.ts
Labels: release_note:skip, Team: SecuritySolution

#184003 fix: [Obs Infrastructure > Hosts][KEYBOARD]: Logs tab at the bottom of the page cannot be scrolled by keyboard
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_text_stream/scrollable_log_text_stream_view.tsx
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_text_stream/vertical_scroll_panel.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, v8.15.0

#184605 [Visualize] Unskip function test heatmap
  test/functional/apps/visualize/group2/_heatmap_chart.ts
Labels: test, Team:Visualizations, release_note:skip, v8.15.0

#184032 [Console Monaco migration] Autocomplete fixes
  src/plugins/console/public/application/containers/editor/monaco/monaco_editor_actions_provider.ts
  src/plugins/console/public/application/containers/editor/monaco/utils/autocomplete_utils.ts
  src/plugins/console/public/application/containers/editor/monaco/utils/tokens_utils.test.ts
  src/plugins/console/public/application/containers/editor/monaco/utils/tokens_utils.ts
  src/plugins/console/public/lib/autocomplete/autocomplete.ts
  src/plugins/console/public/lib/autocomplete/types.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip, v8.15.0

#184666 transition sourcerer code ownership to threat hunting investigations
  .github/CODEOWNERS
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, Team:Detection Engine

#184182 [HTTP/OAS] Add descriptions for data view APIs
  src/plugins/data_views/server/constants.ts
  src/plugins/data_views/server/rest_api_routes/public/create_data_view.ts
  src/plugins/data_views/server/rest_api_routes/public/default_data_view.ts
  src/plugins/data_views/server/rest_api_routes/public/delete_data_view.ts
  src/plugins/data_views/server/rest_api_routes/public/fields/update_fields.ts
  src/plugins/data_views/server/rest_api_routes/public/get_data_view.ts
  src/plugins/data_views/server/rest_api_routes/public/get_data_views.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/create_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/delete_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/get_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/put_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/update_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/swap_references.ts
  src/plugins/data_views/server/rest_api_routes/public/update_data_view.ts
Labels: Feature:Data Views, release_note:skip, docs, v8.15.0

#184255 [ResponseOps] Flapping recovered alerts do not show up as active in the alerts table
  x-pack/plugins/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/types.ts
  x-pack/plugins/alerting/server/lib/get_alerts_for_notification.test.ts
  x-pack/plugins/alerting/server/lib/get_alerts_for_notification.ts
  x-pack/plugins/alerting/server/task_runner/rule_type_runner.test.ts
  x-pack/plugins/alerting/server/task_runner/rule_type_runner.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_alerts_client.test.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/event_log.ts
Labels: bug, release_note:skip, Team:ResponseOps, v8.15.0

#184672 Upgrade EUI to v94.6.0
  package.json
  src/dev/license_checker/config.ts
  yarn.lock
Labels: release_note:skip, EUI, v8.15.0

#184380 [Synthetics]Lightweight monitors allow 10 and 30 seconds schedules
  x-pack/plugins/observability_solution/synthetics/common/constants/monitor_defaults.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/common/components/monitor_inspect.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitor_add_edit/form/defaults.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitor_add_edit/form/field_config.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitor_add_edit/form/formatter.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/index.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitor_add_edit/steps/inspect_monitor_portal.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitor_add_edit/types.ts
  x-pack/plugins/observability_solution/synthetics/public/hooks/use_date_format.test.tsx
  x-pack/plugins/observability_solution/synthetics/public/hooks/use_date_format.ts
  x-pack/plugins/observability_solution/synthetics/server/routes/monitor_cruds/monitor_validation.test.ts
  x-pack/plugins/observability_solution/synthetics/server/saved_objects/migrations/monitors/8.8.0.test.ts
Labels: release_note:enhancement, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review

#184565 [Search] Renaming the search frontend group
  .github/CODEOWNERS
  packages/deeplinks/search/kibana.jsonc
  packages/kbn-ipynb/kibana.jsonc
  packages/kbn-search-api-panels/kibana.jsonc
  packages/kbn-search-connectors/kibana.jsonc
  packages/kbn-search-index-documents/kibana.jsonc
  packages/kbn-try-in-console/kibana.jsonc
  packages/serverless/settings/search_project/kibana.jsonc
  renovate.json
  x-pack/plugins/enterprise_search/README.md
  x-pack/plugins/enterprise_search/kibana.jsonc
  x-pack/plugins/search_connectors/kibana.jsonc
  x-pack/plugins/search_notebooks/kibana.jsonc
  x-pack/plugins/search_playground/kibana.jsonc
  x-pack/plugins/serverless_search/kibana.jsonc
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0

#182875 [Security Solution][Alert KPI] Fix leading wildcard in KPI visualizations
  x-pack/plugins/security_solution/public/common/components/alerts_treemap_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/use_summary_chart_data.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/use_summary_chart_data.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.test.tsx
Labels: release_note:fix, Team:Threat Hunting, Team:Threat Hunting:Investigations, v8.15.0

#184613 [HTTP/OAS] Add Fleet API descriptions
  x-pack/plugins/fleet/server/routes/agent_policy/index.ts
  x-pack/plugins/fleet/server/routes/app/index.ts
  x-pack/plugins/fleet/server/routes/epm/index.ts
  x-pack/plugins/fleet/server/routes/health_check/index.ts
  x-pack/plugins/fleet/server/routes/settings/index.ts
  x-pack/plugins/fleet/server/routes/setup/index.ts
Labels: release_note:skip, backport:skip, Team:Fleet, docs, v8.15.0

#184653 [Search] Add last_seen status for the connector
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/connector_status_helpers.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0, v8.14.1

#184486 [Security Solution] - remove alertsPageFiltersEnabled feature flag
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.15.0

#183762 [Global Search] Fix cmd + click open in new tab for results
  x-pack/plugins/global_search_bar/public/components/search_bar.tsx
Labels: release_note:skip, Team:SharedUX

#184625 [ES|QL] Update grammars
  packages/kbn-esql-ast/src/antlr/esql_lexer.g4
  packages/kbn-esql-ast/src/antlr/esql_lexer.interp
  packages/kbn-esql-ast/src/antlr/esql_lexer.tokens
  packages/kbn-esql-ast/src/antlr/esql_lexer.ts
  packages/kbn-esql-ast/src/antlr/esql_parser.g4
  packages/kbn-esql-ast/src/antlr/esql_parser.interp
  packages/kbn-esql-ast/src/antlr/esql_parser.tokens
  packages/kbn-esql-ast/src/antlr/esql_parser.ts
  packages/kbn-esql-ast/src/antlr/esql_parser_listener.ts
  packages/kbn-esql-ast/src/ast_walker.ts
  packages/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  packages/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
Labels: release_note:skip, Team:ESQL

#184519 [Observability Onboarding] Expose getAgentPolicyInputs in the package service
  x-pack/plugins/fleet/common/index.ts
  x-pack/plugins/fleet/common/types/models/agent_policy.ts
  x-pack/plugins/fleet/server/services/epm/package_service.mock.ts
  x-pack/plugins/fleet/server/services/epm/package_service.ts
  x-pack/plugins/fleet/server/services/epm/packages/get_template_inputs.ts
  x-pack/plugins/fleet/server/types/index.tsx
  x-pack/plugins/observability_solution/observability_onboarding/server/routes/flow/route.ts
Labels: release_note:skip, Team:Fleet, ci:project-deploy-observability, Feature: Observability Onboarding

#184221 [Obs AI Assistant] Evaluation framework log scores per scenario
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/evaluation.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/kibana_client.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/types.ts
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0

#184652 [Observability] Set observable initial value to prevent rerender
  x-pack/plugins/observability_solution/observability_shared/public/components/page_template/lazy_page_template.tsx
  x-pack/test/functional/apps/observability_logs_explorer/index.ts
  x-pack/test/functional/apps/observability_logs_explorer/navigation.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/index.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/navigation.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-logs, Feature:LogsExplorer

#184407 fix: [Obs Infrastructure > Inventory][KEYBOARD]: Kubernetes Pods Create Inventory Rule modal has tooltip that does not take keyboard focus
  x-pack/plugins/observability_solution/infra/public/alerting/inventory/components/expression.tsx
  x-pack/plugins/observability_solution/infra/public/alerting/metric_threshold/components/expression.tsx
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/custom_threshold_rule_expression.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-management, apm:review, v8.15.0

#184629 [Fleet] Update README and local setup dev docs
  docs/developer/plugin-list.asciidoc
  x-pack/plugins/fleet/README.md
  x-pack/plugins/fleet/dev_docs/local_setup/developing_kibana_and_fleet_server.md
  x-pack/plugins/fleet/dev_docs/local_setup/developing_kibana_in_serverless.md
  x-pack/plugins/fleet/dev_docs/local_setup/enrolling_agents.md
  x-pack/plugins/fleet/dev_docs/local_setup/run_dockerized_elastic_agent.sh
  x-pack/plugins/fleet/dev_docs/local_setup/sample_kibana_dev_yml.md
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/docker_add_agent_1.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/docker_add_agent_2.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/docker_fleet_server.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/docker_fleet_settings.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/no_fleet_server.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/vm_add_agent_1.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/vm_add_agent_2.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/vm_fleet_server_1.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/vm_fleet_server_2.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/vm_fleet_server_3.png
  x-pack/plugins/fleet/dev_docs/local_setup/screenshots/vm_fleet_settings.png
Labels: release_note:skip, Team:Fleet

#184650 [Fleet] Remove FQDN beta badge from agent policies settings
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
Labels: release_note:skip, Team:Fleet, v8.15.0

#184509 [Security Solution] Introduce method to clean up/delete Risk Scoring resources
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_engine/risk_engine_data_client.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_engine/risk_engine_data_client.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_engine/utils/saved_object_configuration.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/risk_score_data_client.mock.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/risk_score_data_client.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/risk_score_data_client.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Entity Analytics

#184659 [fix flaky on mki] add dismiss all toasts
  x-pack/test_serverless/functional/test_suites/observability/cases/list_view.ts
Labels: release_note:skip, backport:skip

#184657 [Security Solution][DQD] add nested field items for incompatible and …
  x-pack/plugins/ecs_data_quality_dashboard/server/lib/data_stream/results_field_map.ts
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.15.0

#184506 Add treeshake to react-field package
  packages/kbn-react-field/package.json
Labels: release_note:skip, v8.15.0

#184711 [ML] Fix Change Point embeddable infinite re-rendering on a dashboard
  x-pack/plugins/aiops/public/embeddables/change_point_chart/embeddable_change_point_chart_factory.tsx
  x-pack/plugins/aiops/public/shared_components/index.tsx
Labels: :ml, release_note:skip, Team:ML, v8.15.0

#184252 [HTTP/OAS] Add descriptions for spaces APIs
  x-pack/plugins/spaces/server/routes/api/external/copy_to_space.ts
  x-pack/plugins/spaces/server/routes/api/external/delete.ts
  x-pack/plugins/spaces/server/routes/api/external/disable_legacy_url_aliases.ts
  x-pack/plugins/spaces/server/routes/api/external/get.ts
  x-pack/plugins/spaces/server/routes/api/external/get_all.ts
  x-pack/plugins/spaces/server/routes/api/external/get_shareable_references.ts
  x-pack/plugins/spaces/server/routes/api/external/post.ts
  x-pack/plugins/spaces/server/routes/api/external/put.ts
  x-pack/plugins/spaces/server/routes/api/external/update_objects_spaces.ts
Labels: Feature:Security/Spaces, release_note:skip, docs, v8.15.0

#184688 [UII] On serverless, remove `manage_service_account` and `read_cross_cluster` privileges
  x-pack/plugins/fleet/server/mocks/index.ts
  x-pack/plugins/fleet/server/routes/app/index.ts
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
Labels: release_note:skip, Team:Fleet

#184320 [OAS] Support tags
  oas_docs/bundle.json
  packages/kbn-router-to-openapispec/src/__snapshots__/generate_oas.test.ts.snap
  packages/kbn-router-to-openapispec/src/generate_oas.test.ts
  packages/kbn-router-to-openapispec/src/generate_oas.test.util.ts
  packages/kbn-router-to-openapispec/src/generate_oas.ts
  packages/kbn-router-to-openapispec/src/process_router.ts
  packages/kbn-router-to-openapispec/src/process_versioned_router.ts
  packages/kbn-router-to-openapispec/src/util.test.ts
  packages/kbn-router-to-openapispec/src/util.ts
Labels: Team:Core, release_note:skip, v8.15.0, Feature:OAS

#184749 [8.14] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#184754 [Search] [Playground] increase conversational chain tests timeout
  x-pack/plugins/search_playground/server/lib/conversational_chain.test.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0

#183778 [Embeddables] Fix missing panel references when Duplicate, Copy to Dashboard, or Save as new dashboard
  packages/presentation/presentation_containers/interfaces/serialized_state.ts
  src/plugins/dashboard/common/dashboard_container/types.ts
  src/plugins/dashboard/common/index.ts
  src/plugins/dashboard/common/lib/dashboard_panel_converters.ts
  src/plugins/dashboard/public/dashboard_actions/copy_to_dashboard_modal.tsx
  src/plugins/dashboard/public/dashboard_container/embeddable/api/duplicate_dashboard_panel.ts
  src/plugins/dashboard/public/dashboard_container/embeddable/api/run_save_functions.tsx
  src/plugins/dashboard/public/dashboard_container/embeddable/create/create_dashboard.ts
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  src/plugins/dashboard/public/services/dashboard_content_management/lib/save_dashboard_state.test.ts
  src/plugins/dashboard/public/services/dashboard_content_management/lib/save_dashboard_state.ts
  src/plugins/embeddable/public/lib/state_transfer/types.ts
  src/plugins/embeddable/tsconfig.json
Labels: Feature:Embedding, Team:Presentation, release_note:skip, project:embeddableRebuild, v8.15.0

#184064 Fix Bedrock connector Security AI assistant auto title functionality
  x-pack/packages/kbn-elastic-assistant/impl/assistant/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/connectorland/connector_selector/index.tsx
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.ts
Labels: release_note:skip, ci:cloud-deploy, v8.14.0, v8.15.0

#184616 [Reporting] Serverless API/Functional tests: fix to delete all reports
  x-pack/test_serverless/shared/services/svl_reporting.ts
  x-pack/test_serverless/tsconfig.json
Labels: release_note:skip, Team:SharedUX

#184780 [8.14] Fix Bedrock connector Security AI assistant auto title functionality (#184064)
  x-pack/packages/kbn-elastic-assistant/impl/assistant/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/connectorland/connector_selector/index.tsx
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.ts
Labels: backport

#184480 Telemetry collection support for Logstash agent driven monitoring.
  x-pack/plugins/monitoring/common/constants.ts
  x-pack/plugins/monitoring/public/alerts/components/param_details_form/use_derived_index_pattern.tsx
  x-pack/plugins/monitoring/server/kibana_monitoring/collectors/lib/get_stack_products_usage.ts
  x-pack/plugins/monitoring/server/lib/cluster/get_index_patterns.ts
  x-pack/plugins/monitoring/server/routes/api/v1/elasticsearch_settings/check/internal_monitoring.ts
  x-pack/plugins/monitoring/server/telemetry_collection/__mocks__/fixtures/logstash_state_agent_monitoring_results_1n1p.json
  x-pack/plugins/monitoring/server/telemetry_collection/__mocks__/fixtures/logstash_state_agent_monitoring_results_1nmp.json
  x-pack/plugins/monitoring/server/telemetry_collection/__mocks__/fixtures/logstash_state_agent_monitoring_results_mnmp.json
  x-pack/plugins/monitoring/server/telemetry_collection/__mocks__/fixtures/logstash_state_metricbeat_monitoring_results_1nmp.json
  x-pack/plugins/monitoring/server/telemetry_collection/__mocks__/fixtures/logstash_state_metricbeat_monitoring_results_mnmp.json
  x-pack/plugins/monitoring/server/telemetry_collection/__mocks__/fixtures/logstash_stats_agent_monitoring_results.json
  x-pack/plugins/monitoring/server/telemetry_collection/__mocks__/fixtures/logstash_stats_self_monitoring_results.json
  x-pack/plugins/monitoring/server/telemetry_collection/get_all_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_all_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_high_level_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_logstash_stats.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/get_logstash_stats.ts
  x-pack/plugins/monitoring/server/telemetry_collection/logstash_agent_monitoring.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/logstash_agent_monitoring.ts
  x-pack/plugins/monitoring/server/telemetry_collection/logstash_metricbeat_monitoring.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/logstash_metricbeat_monitoring.ts
  x-pack/plugins/monitoring/server/telemetry_collection/logstash_monitoring.ts
  x-pack/plugins/monitoring/server/telemetry_collection/logstash_self_monitoring.test.ts
  x-pack/plugins/monitoring/server/telemetry_collection/logstash_self_monitoring.ts
  x-pack/plugins/monitoring/server/telemetry_collection/register_monitoring_telemetry_collection.ts
  x-pack/plugins/monitoring/tsconfig.json
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_monitoring.json
  x-pack/test/api_integration/apis/telemetry/fixtures/multicluster.json
  x-pack/test/api_integration/apis/telemetry/telemetry.ts
Labels: release_note:enhancement, enhancement, 8.15 candidate

#183691 [DOCS] Add Elasticsearch query rule action variables and data types
  docs/user/alerting/rule-types/es-query.asciidoc
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, docs, v8.14.0, v8.15.0

#184791 [8.14] [DOCS] Add Elasticsearch query rule action variables and data types (#183691)
  docs/user/alerting/rule-types/es-query.asciidoc
Labels: backport

#184758 [Security Solution][Sourcerer] Extract sourcerer init hook
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/hooks.test.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/use_init_sourcerer.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#184414 [Lens] Fix reference line width stale update
  packages/kbn-event-annotation-components/components/annotation_editor_controls/annotation_editor_controls.tsx
  packages/kbn-visualization-ui-components/components/line_style_settings.tsx
Labels: release_note:fix, Team:Visualizations, Feature:Lens, v8.15.0

#183980 [Index management] Add some time to guarantee execution before deletion
  x-pack/test/functional/apps/index_management/enrich_policies_tab/enrich_policies_tab.ts
Labels: Feature:Index Management, Team:Kibana Management, release_note:skip, backport:skip, v8.15.0

#184369 chore(Lens): remove inline editor empty space
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/layer_configuration_section.tsx
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
Labels: bug, release_note:skip, Feature:Lens, Feature:Inline Editing, v8.15.0

#184730 [Console] Address ts-expect-error
  src/plugins/console/public/lib/autocomplete/autocomplete.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip, backport:skip, v8.15.0

#184796 [Security Solution] Sourcerer cleanups
  x-pack/plugins/security_solution/public/app/components/top_values_popover/top_values_popover.tsx
  x-pack/plugins/security_solution/public/app/home/global_header/index.test.tsx
  x-pack/plugins/security_solution/public/app/home/global_header/index.tsx
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/common/components/inspect/modal.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/common/hooks.ts
  x-pack/plugins/security_solution/public/sourcerer/components/readme.md
  x-pack/plugins/security_solution/public/sourcerer/containers/hooks.test.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/sourcerer_paths.ts
  x-pack/plugins/security_solution/public/timelines/containers/use_timeline_data_filters.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, Team:Threat Hunting:Explore, v8.15.0

#183381 [FTR](alerting) update common serverless api tests to use api keys
  x-pack/test_serverless/api_integration/services/alerting_api.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/alert_documents.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/helpers/alerting_api_helper.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/helpers/alerting_wait_for_helpers.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/rules.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/summary_actions.ts
  x-pack/test_serverless/api_integration/test_suites/common/core/translations.ts
  x-pack/test_serverless/api_integration/test_suites/observability/burn_rate_rule/burn_rate_rule.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_no_data.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/custom_eq_avg_bytes_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/documents_count_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/group_by_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/p99_pct_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/es_query_rule/es_query_rule.ts
  x-pack/test_serverless/functional/test_suites/observability/rules/rules_list.ts
  x-pack/test_serverless/functional/test_suites/search/rules/rule_details.ts
Labels: release_note:skip, backport:skip

#184656 [8.14] [Fleet] fix restart upgrade disabled condition (#184586)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
Labels: backport, Team:Fleet

#184799 [Security Solution] [Security Solution] Fix Timeline date picker to honor the date format config
  x-pack/plugins/security_solution/public/common/components/super_date_picker/index.tsx
Labels: release_note:fix, Team:Threat Hunting, Team:Threat Hunting:Investigations, v8.12.0, v8.13.0, v8.14.0, v8.15.0

#183613 Updates the docs with the advanced setting option for enabling Uptime
  docs/management/advanced-options.asciidoc
Labels: release_note:skip, docs, backport:all-open

#184821 [8.14] Updates the docs with the advanced setting option for enabling Uptime (#183613)
  docs/management/advanced-options.asciidoc
Labels: backport

#184772 [Observability Onboarding] Prompt when Elastic Agent is already installed
  x-pack/plugins/observability_solution/observability_onboarding/public/assets/auto_detect.sh
Labels: release_note:skip, ci:project-deploy-observability

#184789 [data views] Fix single quotes on field save confirm toast
  packages/kbn-i18n/GUIDELINE.md
  src/plugins/data_view_field_editor/public/components/preview/preview_controller.tsx
  src/plugins/data_view_management/public/components/edit_index_pattern/create_edit_field/create_edit_field.tsx
Labels: Feature:Data Views, Feature:Kibana Management, release_note:skip, Team:DataDiscovery

#184816 [8.14] [Security Solution] [Security Solution] Fix Timeline date picker to honor the date format config (#184799)
  x-pack/plugins/security_solution/public/common/components/super_date_picker/index.tsx
Labels: backport

#184336 [7.17] Backport comment flaky results
  .buildkite/package-lock.json
  .buildkite/package.json
  .buildkite/pipelines/flaky_tests/post_stats_on_pr.js
  .buildkite/pipelines/flaky_tests/runner.js
Labels: backport, Team:Operations, release_note:skip, backport:skip, skip-ci

#184775 [Synthetics] Fix editing enabled state for project monitor
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/state/monitor_list/api.ts
Labels: release_note:fix, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review

#184818 Update the docs to clarify the ID of the private location created
  docs/api/synthetics/private-locations/create-private-location.asciidoc
Labels: backport, backport:all-open, Team:obs-ux-infra_services

#182941 [Obs AI Assistant] Evaluation framework improvements
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/adapters/simulate_function_calling/get_system_message_instructions.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/catch_function_not_found_error.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/continue_conversation.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/alert_templates/templates.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/evaluation.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/kibana_client.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/scenarios/alerts/index.spec.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/scenarios/apm/index.spec.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/scenarios/esql/index.spec.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/scripts/evaluation/types.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/query/index.ts
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0, v8.14.1

#184839 [8.14] Update the docs to clarify the ID of the private location created (#184818)
  docs/api/synthetics/private-locations/create-private-location.asciidoc
Labels: backport

#184717 [Onboarding] Save installed integrations to the onboarding SO
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  x-pack/plugins/observability_solution/observability_onboarding/server/routes/flow/get_has_logs.ts
  x-pack/plugins/observability_solution/observability_onboarding/server/routes/flow/route.ts
  x-pack/plugins/observability_solution/observability_onboarding/server/routes/types.ts
  x-pack/plugins/observability_solution/observability_onboarding/server/saved_objects/observability_onboarding_status.ts
Labels: release_note:skip, ci:project-deploy-observability

#184779 [CI] Add docs link to deployment secrets
  .buildkite/scripts/steps/cloud/build_and_deploy.sh
  .buildkite/scripts/steps/serverless/deploy.sh
Labels: Team:Operations, release_note:skip, backport:skip, ci:cloud-deploy, ci:project-deploy-elasticsearch

#184841 [CI] Fix inverted DRY_RUN behaviour
  .buildkite/scripts/serverless/emergency_release/trigger_container_build.ts
Labels: release_note:skip, backport:skip, skip-ci

#184835 [8.14] [Synthetics] Fix editing enabled state for project monitor (#184775)
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/state/monitor_list/api.ts
Labels: backport, Team:obs-ux-infra_services

#184676 [Fleet] Write space aware .fleet-policies and .fleet-enrollment-token…
  x-pack/plugins/fleet/common/types/models/agent_policy.ts
  x-pack/plugins/fleet/server/routes/download_source/handler.ts
  x-pack/plugins/fleet/server/routes/fleet_proxies/handler.ts
  x-pack/plugins/fleet/server/routes/fleet_server_hosts/handler.ts
  x-pack/plugins/fleet/server/routes/output/handler.ts
  x-pack/plugins/fleet/server/routes/settings/index.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policies/utils.ts
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/agent_policy_update.ts
  x-pack/plugins/fleet/server/services/api_keys/enrollment_api_key.test.ts
  x-pack/plugins/fleet/server/services/api_keys/enrollment_api_key.ts
  x-pack/plugins/fleet/server/services/app_context.ts
  x-pack/plugins/fleet/server/services/output.ts
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration.ts
  x-pack/plugins/fleet/server/services/preconfiguration/fleet_proxies.ts
  x-pack/plugins/fleet/server/services/preconfiguration/fleet_server_host.ts
  x-pack/plugins/fleet/server/services/preconfiguration/outputs.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration/outputs.ts
  x-pack/plugins/fleet/tsconfig.json
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy_with_agents_setup.ts
  x-pack/test/fleet_api_integration/apis/outputs/crud.ts
Labels: release_note:skip, Team:Fleet

#184626 [ES|QL] Update function definitions
  packages/kbn-esql-validation-autocomplete/package.json
  packages/kbn-esql-validation-autocomplete/scripts/generate_function_definitions.ts
  packages/kbn-esql-validation-autocomplete/scripts/generate_function_validation_tests.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/functions.ts
  packages/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  packages/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
Labels: release_note:skip, Team:ESQL

#184721 [8.14] [Search] Add last_seen status for the connector (#184653)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/utils/connector_status_helpers.ts
Labels: backport

#184846 Revert "[Response Ops][Task Manager] Emitting metrics when metrics are reset
  x-pack/plugins/task_manager/server/metrics/create_aggregator.test.ts
  x-pack/plugins/task_manager/server/metrics/create_aggregator.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/metrics_route.ts
Labels: release_note:skip, Team:ResponseOps, v8.15.0

#184785 Update renovate config
  renovate.json
Labels: release_note:skip, backport:skip

#184106 [ES|QL] Render a Discover-like table in the assistant instead of a Lens chart
  .github/CODEOWNERS
  .i18nrc.json
  docs/developer/plugin-list.asciidoc
  package.json
  packages/kbn-optimizer/limits.yml
  packages/kbn-unified-data-table/index.ts
  packages/kbn-unified-data-table/src/components/data_table.tsx
  src/plugins/esql_datagrid/.i18nrc.json
  src/plugins/esql_datagrid/README.md
  src/plugins/esql_datagrid/jest.config.js
  src/plugins/esql_datagrid/kibana.jsonc
  src/plugins/esql_datagrid/package.json
  src/plugins/esql_datagrid/public/create_datagrid.tsx
  src/plugins/esql_datagrid/public/data_grid.tsx
  src/plugins/esql_datagrid/public/index.ts
  src/plugins/esql_datagrid/public/kibana_services.ts
  src/plugins/esql_datagrid/public/plugin.ts
  src/plugins/esql_datagrid/public/row_viewer.test.tsx
  src/plugins/esql_datagrid/public/row_viewer.tsx
  src/plugins/esql_datagrid/public/row_viewer_lazy.tsx
  src/plugins/esql_datagrid/tsconfig.json
  tsconfig.base.json
  x-pack/plugins/observability_solution/observability_ai_assistant_app/kibana.jsonc
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/functions/visualize_esql.test.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/functions/visualize_esql.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/query/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/query/validate_esql_query.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/visualize_esql.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/tsconfig.json
  yarn.lock
Labels: release_note:enhancement, backport:skip, Team:Obs AI Assistant, Feature:ES|QL, ci:project-deploy-observability, v8.15.0

#184847 chore(NA): bump version to 8.14.1
  package.json
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.14.1

#184848 chore(NA): update versions after v8.14.1 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.15.0

#184861 Fix typo in ESQLSearchResponse type
  packages/kbn-es-types/index.ts
  packages/kbn-es-types/src/index.ts
  packages/kbn-es-types/src/search.ts
  packages/kbn-esql-utils/src/utils/run_query.ts
  packages/kbn-generate-csv/src/generate_csv_esql.test.ts
  packages/kbn-generate-csv/src/generate_csv_esql.ts
  packages/kbn-unified-field-list/src/services/field_stats_text_based/field_stats_utils_text_based.ts
  src/plugins/data/common/search/expressions/esql.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/search_strategy/esql_requests/get_count_and_cardinality.ts
  x-pack/plugins/maps/public/classes/sources/esql_source/convert_to_geojson.ts
  x-pack/plugins/maps/public/classes/sources/esql_source/esql_source.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/query/validate_esql_query.ts
Labels: release_note:skip, backport:skip, Team:Obs AI Assistant, ci:project-deploy-observability

#183868 [UII] Remove references to `.fleet-servers` index
  x-pack/plugins/fleet/common/constants/index.ts
  x-pack/plugins/fleet/common/index.ts
  x-pack/plugins/fleet/cypress/e2e/agents/agent_list.cy.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_agent_flyout.cy.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_startup.cy.ts
  x-pack/plugins/fleet/cypress/tasks/cleanup.ts
  x-pack/plugins/fleet/cypress/tasks/fleet_server.ts
  x-pack/plugins/fleet/dev_docs/data_model.md
  x-pack/plugins/fleet/public/applications/fleet/sections/debug/components/fleet_index_debugger.tsx
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/routes/settings/enrollment_settings_handler.test.ts
  x-pack/plugins/fleet/server/routes/settings/enrollment_settings_handler.ts
  x-pack/plugins/fleet/server/routes/setup/handlers.ts
  x-pack/plugins/fleet/server/services/agents/status.ts
  x-pack/plugins/fleet/server/services/fleet_server/index.test.ts
  x-pack/plugins/fleet/server/services/fleet_server/index.ts
  x-pack/plugins/security_solution/common/endpoint/data_generators/fleet_agent_generator.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_fleet_agent.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_fleet_server.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/utils.ts
  x-pack/plugins/security_solution/common/endpoint/index_data.ts
  x-pack/plugins/security_solution/public/management/cypress/support/common.ts
  x-pack/plugins/security_solution/public/management/cypress/support/data_loaders.ts
  x-pack/plugins/security_solution/public/management/cypress/support/plugin_handlers/endpoint_data_loader.ts
  x-pack/plugins/security_solution/scripts/endpoint/agent_emulator/services/endpoint_loader.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_server/fleet_server_services.ts
  x-pack/test/defend_workflows_cypress/serverless_config.ts
  x-pack/test/functional/es_archives/fleet/agents/mappings.json
  x-pack/test/functional/es_archives/fleet/empty_fleet_server/mappings.json
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/services/endpoint.ts
Labels: release_note:skip, Team:Fleet, v8.15.0

#184492 [Cloud Security] Update CSP Version to 1.8.1 for Test
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/test/api_integration/apis/cloud_security_posture/helper.ts
  x-pack/test/cloud_security_posture_api/config.ts
  x-pack/test/cloud_security_posture_functional/config.ts
  x-pack/test_serverless/functional/test_suites/security/config.cloud_security_posture.ts
Labels: release_note:skip, Team:Cloud Security, v8.15.0

#184384 [DOCS] Stack Management Alerts app
  docs/user/alerting/alerting-setup.asciidoc
  docs/user/alerting/create-and-manage-rules.asciidoc
  docs/user/alerting/images/stack-management-alerts-page.png
  docs/user/alerting/images/stack-management-alerts-query-menu.png
  docs/user/alerting/index.asciidoc
  docs/user/alerting/view-alerts.asciidoc
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/list_view.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, docs, v8.14.0, v8.15.0

#184884 [8.14] [DOCS] Stack Management Alerts app (#184384)
  docs/user/alerting/alerting-setup.asciidoc
  docs/user/alerting/create-and-manage-rules.asciidoc
  docs/user/alerting/images/stack-management-alerts-page.png
  docs/user/alerting/images/stack-management-alerts-query-menu.png
  docs/user/alerting/index.asciidoc
  docs/user/alerting/view-alerts.asciidoc
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/list_view.ts
Labels: backport

#184610 [Security Solution] Add a severless-dev version of the generator script that works with local defaults
  x-pack/plugins/security_solution/package.json
Labels: release_note:skip, Team: SecuritySolution, Team:Threat Hunting:Investigations

#184880 [Data grid] Allow consumer to set initial columns
  src/plugins/esql_datagrid/public/create_datagrid.tsx
  src/plugins/esql_datagrid/public/data_grid.tsx
Labels: release_note:skip, v8.15.0

#184571 [Alert details page][Custom threshold] Add warning threshold info
  x-pack/plugins/observability_solution/infra/public/alerting/common/components/threshold.stories.tsx
  x-pack/plugins/observability_solution/infra/public/alerting/common/components/threshold.test.tsx
  x-pack/plugins/observability_solution/infra/public/alerting/common/components/threshold.tsx
  x-pack/plugins/observability_solution/infra/public/alerting/log_threshold/components/alert_details_app_section/index.tsx
  x-pack/plugins/observability_solution/infra/public/alerting/metric_threshold/components/alert_details_app_section.tsx
Labels: release_note:skip, ci:project-deploy-observability

#184722 [Roles] ComboBox overflow fix
  x-pack/plugins/security/public/management/roles/edit_role/privileges/es/__snapshots__/index_privilege_form.test.tsx.snap
  x-pack/plugins/security/public/management/roles/edit_role/privileges/es/__snapshots__/remote_cluster_privileges_form.test.tsx.snap
  x-pack/plugins/security/public/management/roles/edit_role/privileges/es/index_privilege_form.tsx
  x-pack/plugins/security/public/management/roles/edit_role/privileges/es/remote_cluster_privileges_form.tsx
Labels: release_note:fix, Team:Security, Feature:Security/Feature Controls, v8.15.0

#184822 [Security Solution] Toggle new sourcerer implementation with local storage switch
  x-pack/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/experimental/is_enabled.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/readme.md
  x-pack/plugins/security_solution/public/sourcerer/experimental/use_unstable_security_solution_data_view.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#184622 [Cloud Security] FTRs for Accessing Pages with Custom Roles
  x-pack/plugins/cloud_security_posture/common/dev_docs/__auto_generated_csp_requirements_test_coverage.md
  x-pack/plugins/cloud_security_posture/common/scripts/__auto_generated_csp_test_log.json
  x-pack/plugins/cloud_security_posture/server/create_transforms/latest_findings_transform.ts
  x-pack/plugins/cloud_security_posture/server/create_transforms/latest_vulnerabilities_transforms.ts
  x-pack/test/cloud_security_posture_functional/page_objects/benchmark_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/findings_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/index.ts
  x-pack/test/cloud_security_posture_functional/page_objects/security_common.ts
  x-pack/test/cloud_security_posture_functional/pages/benchmark.ts
  x-pack/test/cloud_security_posture_functional/pages/compliance_dashboard.ts
  x-pack/test/cloud_security_posture_functional/pages/findings.ts
  x-pack/test/cloud_security_posture_functional/pages/findings_grouping.ts
  x-pack/test/cloud_security_posture_functional/pages/index.ts
Labels: release_note:skip, Team:Cloud Security

#184827 [security-in-core] flag APIs as deprecated
  x-pack/packages/security/plugin_types_public/src/plugin.ts
  x-pack/packages/security/plugin_types_server/src/plugin.ts
Labels: Team:Core, release_note:skip, v8.15.0

#184667 [TableListView] Persist table sorting
  packages/content-management/table_list_view_table/src/components/index.ts
  packages/content-management/table_list_view_table/src/components/table_sort_select.tsx
  packages/content-management/table_list_view_table/src/reducer.tsx
  packages/content-management/table_list_view_table/src/table_list_view.test.tsx
  packages/content-management/table_list_view_table/src/table_list_view_table.tsx
Labels: release_note:skip, Team:SharedUX, Component:TableListView

#184638 [Security Solution] Change risk scoring sum max and simplify risk score calculations
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/helpers.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/helpers.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/calculate_risk_scores.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/constants.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/painless/index.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/painless/risk_scoring_reduce.painless
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/risk_engine/trial_license_complete_tier/risk_score_calculation.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/risk_engine/trial_license_complete_tier/risk_score_entity_calculation.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/risk_engine/trial_license_complete_tier/risk_score_preview.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/risk_engine/trial_license_complete_tier/risk_scoring_task/task_execution.ts
Labels: release_note:enhancement, Team: SecuritySolution, Team:Entity Analytics

#184050 [Cloud Security][Quick Wins] Fix for Rules Flyout
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_flyout.tsx
Labels: release_note:skip, Team:Cloud Security, v8.15.0

#184820 [Security Solution] `DetectionRulesClient`: move public methods out and add APM spans
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/__mocks__/detection_rules_client.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/create_custom_rule.detection_rules_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/create_custom_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/create_prebuilt_rule.detection_rules_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/create_prebuilt_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/delete_rule.detection_rules_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/delete_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/detection_rules_client.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/import_rule.detection_rules_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/import_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/patch_rule.detection_rules_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/patch_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/update_rule.detection_rules_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/update_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/upgrade_prebuilt_rule.detection_rules_client.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/upgrade_prebuilt_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/rule_management/utils.ts
  x-pack/plugins/security_solution/server/lib/machine_learning/authz.ts
  x-pack/plugins/security_solution/server/request_context_factory.ts
Labels: refactoring, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rule Management, v8.15.0

#183866 [Fix] Add isLoading state to Global Search
  x-pack/plugins/global_search_bar/public/components/search_bar.tsx
Labels: release_note:skip, Team:SharedUX

#184883 Fix sort field error message for last value
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/last_value.test.tsx
  x-pack/plugins/lens/public/datasources/form_based/operations/definitions/last_value.tsx
Labels: bug, release_note:fix, Feature:Lens

#184845 [IUI] Add unprivilieged agent install instruction
  x-pack/plugins/fleet/public/components/enrollment_instructions/install_section.tsx
  x-pack/plugins/fleet/public/components/enrollment_instructions/unprivileged_info.tsx
Labels: release_note:skip, Team:Fleet

#184858 [Spaces] Support for query params in next route when entering space
  x-pack/plugins/spaces/server/routes/views/index.test.ts
  x-pack/plugins/spaces/server/routes/views/index.ts
Labels: Team:Security, Feature:Security/Spaces, release_note:skip, v8.15.0

#183802 [APM] Trace sample performance improvements
  packages/kbn-apm-synthtrace-client/src/lib/apm/apm_error.ts
  packages/kbn-apm-synthtrace-client/src/lib/apm/mobile_device.ts
  packages/kbn-apm-synthtrace-client/src/lib/utils/generate_id.ts
  packages/kbn-apm-synthtrace/src/test/scenarios/01_simple_trace.test.ts
  packages/kbn-apm-synthtrace/src/test/scenarios/__snapshots__/01_simple_trace.test.ts.snap
  x-pack/plugins/observability_solution/apm/ftr_e2e/cypress/e2e/errors/error_details.cy.ts
  x-pack/plugins/observability_solution/apm/ftr_e2e/cypress/e2e/transaction_details/large_trace_in_waterfall/large_traces_in_waterfall.cy.ts
  x-pack/plugins/observability_solution/apm/public/components/app/dependency_operation_detail_view/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/trace_explorer/trace_explorer_waterfall.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/distribution/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/accordion_waterfall.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/context/use_waterfall.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/context/waterfall_context.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/waterfall_helpers/waterfall_helpers.test.ts
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/waterfall_helpers/waterfall_helpers.ts
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/waterfall_item.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/charts/timeline/__snapshots__/timeline.test.tsx.snap
  x-pack/plugins/observability_solution/apm/public/components/shared/charts/timeline/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/charts/timeline/plot_utils.ts
  x-pack/plugins/observability_solution/apm/public/components/shared/charts/timeline/timeline.test.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/charts/timeline/timeline_axis.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/charts/timeline/vertical_lines.tsx
Labels: release_note:skip, backport:skip, apm:trace-explorer, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.15.0

#184773 [EntSearch] standardize side nav header to search for all apps
  x-pack/plugins/enterprise_search/public/applications/ai_search/components/layout/page_template.test.tsx
  x-pack/plugins/enterprise_search/public/applications/ai_search/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/analytics/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/applications/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/elasticsearch/components/layout/page_template.test.tsx
  x-pack/plugins/enterprise_search/public/applications/elasticsearch/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_overview/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/search_experiences/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/vector_search/components/layout/page_template.test.tsx
  x-pack/plugins/enterprise_search/public/applications/vector_search/components/layout/page_template.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0, v8.14.1

#184036 [Fleet] Add rate limiting to install by upload endpoint
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/responses/error.yaml
  x-pack/plugins/fleet/common/openapi/paths/epm@packages.yaml
  x-pack/plugins/fleet/server/errors/handlers.ts
  x-pack/plugins/fleet/server/errors/index.ts
  x-pack/plugins/fleet/server/routes/epm/handlers.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/utils.ts
  x-pack/test/fleet_api_integration/apis/epm/file.ts
  x-pack/test/fleet_api_integration/apis/epm/get.ts
  x-pack/test/fleet_api_integration/apis/epm/install_bundled.ts
  x-pack/test/fleet_api_integration/apis/epm/install_by_upload.ts
  x-pack/test/fleet_api_integration/apis/epm/remove_legacy_templates.ts
  x-pack/test/monitoring_api_integration/apis/kibana/index.ts
  x-pack/test/monitoring_api_integration/packages.ts
Labels: release_note:breaking, Team:Fleet, v8.15.0

#184830 [Obs AI Assistant] Use const for function names
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/context.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/get_dataset_info/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/summarize.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/chat_function_client/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/chat_function_client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/adapters/simulate_function_calling/get_system_message_instructions.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/get_context_function_request_if_needed.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/continue_conversation.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/components/chat/chat_body.test.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/utils/get_timeline_items_from_conversation.test.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/changes/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/query/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/index.ts
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0

#184700 [Share Modal][Fix] Serverless environments customizations
  src/plugins/share/public/components/context/index.tsx
  src/plugins/share/public/components/tabs/export/export_content.tsx
  src/plugins/share/public/components/tabs/export/index.tsx
  src/plugins/share/public/services/share_menu_manager.tsx
  src/plugins/share/public/types.ts
Labels: release_note:skip, Team:SharedUX

#184808 [Stateful sidenav] Add cloud yml setting for onboarding default solution
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/cloud/common/index.ts
  x-pack/plugins/cloud/common/parse_onboarding_default_solution.test.ts
  x-pack/plugins/cloud/common/parse_onboarding_default_solution.ts
  x-pack/plugins/cloud/common/types.ts
  x-pack/plugins/cloud/public/mocks.tsx
  x-pack/plugins/cloud/public/plugin.test.ts
  x-pack/plugins/cloud/public/plugin.tsx
  x-pack/plugins/cloud/public/types.ts
  x-pack/plugins/cloud/server/__snapshots__/plugin.test.ts.snap
  x-pack/plugins/cloud/server/config.ts
  x-pack/plugins/cloud/server/mocks.ts
  x-pack/plugins/cloud/server/plugin.test.ts
  x-pack/plugins/cloud/server/plugin.ts
  x-pack/plugins/enterprise_search/public/applications/shared/get_cloud_enterprise_search_host/get_cloud_enterprise_search_host.test.ts
  x-pack/plugins/fleet/.storybook/context/cloud.ts
  x-pack/plugins/fleet/server/services/preconfiguration/fleet_server_host.test.ts
Labels: release_note:skip, Team:Fleet, Team:SharedUX, Feature:Chrome

#184951 [Security Solution][Alert details] - fix timeline osquery flyout showm behind
  x-pack/plugins/security_solution/public/detections/components/osquery/osquery_flyout.tsx
Labels: release_note:fix, Team:Threat Hunting:Investigations, v8.14.1

#183668 Gemini connector integration
  .github/CODEOWNERS
  docs/management/action-types.asciidoc
  docs/management/connectors/action-types/gemini.asciidoc
  docs/management/connectors/images/gemini-connector.png
  docs/management/connectors/images/gemini-params.png
  docs/management/connectors/index.asciidoc
  docs/settings/alert-action-settings.asciidoc
  package.json
  x-pack/packages/kbn-elastic-assistant/impl/mock/connectors.ts
  x-pack/plugins/actions/docs/openapi/bundled_serverless.json
  x-pack/plugins/actions/docs/openapi/components/examples/get_connector_types_generativeai_response.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/connector_response_properties.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/connector_types.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/create_connector_request.yaml
  x-pack/plugins/actions/docs/openapi/components/schemas/update_connector_request.yaml
  x-pack/plugins/actions/server/integration_tests/__snapshots__/connector_types.test.ts.snap
  x-pack/plugins/actions/server/integration_tests/mocks/connector_types.ts
  x-pack/plugins/actions/server/lib/gen_ai_token_tracking.test.ts
  x-pack/plugins/actions/server/lib/gen_ai_token_tracking.ts
  x-pack/plugins/actions/server/lib/get_gcp_oauth_access_token.test.ts
  x-pack/plugins/actions/server/lib/get_gcp_oauth_access_token.ts
  x-pack/plugins/stack_connectors/common/gemini/constants.ts
  x-pack/plugins/stack_connectors/common/gemini/schema.ts
  x-pack/plugins/stack_connectors/common/gemini/types.ts
  x-pack/plugins/stack_connectors/public/connector_types/gemini/connector.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/connector.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/constants.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/dashboard_link.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/gemini.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/gemini.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/index.ts
  x-pack/plugins/stack_connectors/public/connector_types/gemini/logo.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/params.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/params.tsx
  x-pack/plugins/stack_connectors/public/connector_types/gemini/translations.ts
  x-pack/plugins/stack_connectors/public/connector_types/gemini/types.ts
  x-pack/plugins/stack_connectors/public/connector_types/index.ts
  x-pack/plugins/stack_connectors/public/connector_types/lib/gen_ai/use_get_dashboard.ts
  x-pack/plugins/stack_connectors/server/connector_types/gemini/gemini.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/gemini/gemini.ts
  x-pack/plugins/stack_connectors/server/connector_types/gemini/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/gemini/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/gemini/render.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/gemini/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/gen_ai/create_gen_ai_dashboard.ts
  x-pack/plugins/stack_connectors/server/connector_types/lib/gen_ai/gen_ai_dashboard.ts
  x-pack/plugins/stack_connectors/server/plugin.test.ts
  x-pack/test/alerting_api_integration/common/plugins/actions_simulators/server/gemini_simulation.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/gemini.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/check_registered_connector_types.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/invoke_ai/trial_license_complete_tier/configs/ess.config.ts
  yarn.lock
Labels: release_note:enhancement, 💝community, ci:cloud-deploy, Team:Security Generative AI, v8.15.0

#184879 [Dashboard] Export SavedDashboardPanel type
  src/plugins/dashboard/common/index.ts
Labels: release_note:skip, v8.15.0

#183553 [Security Solution][Expandable flyout] - add onClose to the API to let developers know when the expandable flyout is being closed
  packages/kbn-expandable-flyout/README.md
  packages/kbn-expandable-flyout/src/index.tsx
Labels: release_note:enhancement, Team:Threat Hunting:Investigations, v8.15.0

#183225 TextBasedLanguageEditor: use automaticLayout: true instead of custom resize logic
  packages/kbn-text-based-editor/src/editor_footer.tsx
  packages/kbn-text-based-editor/src/overwrite.scss
  packages/kbn-text-based-editor/src/query_history.tsx
  packages/kbn-text-based-editor/src/text_based_languages_editor.styles.ts
  packages/kbn-text-based-editor/src/text_based_languages_editor.tsx
Labels: release_note:skip, v8.15.0

#184955 [Embeddables Rebuild] Fix unsaved changes on new dashboards bug
  src/plugins/dashboard/public/dashboard_container/state/diffing/dashboard_diffing_integration.ts
Labels: release_note:fix, Team:Presentation, loe:small, impact:low, project:embeddableRebuild

#184957 [8.14] [Response Ops][Task Manager] TM status affected by capacity estimation which is based on a best estimate of number of Kibana instances (#179982)
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.test.ts
  x-pack/plugins/task_manager/server/monitoring/capacity_estimation.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
Labels: backport

#184959 [8.14] [Security Solution][Alert details] - fix timeline osquery flyout showm behind (#184951)
  x-pack/plugins/security_solution/public/detections/components/osquery/osquery_flyout.tsx
Labels: backport

#184476 [Serverless] Disable `allowDynamicConfigOverrides`
  config/serverless.yml
  x-pack/test_serverless/api_integration/test_suites/observability/telemetry/telemetry_config.ts
  x-pack/test_serverless/api_integration/test_suites/search/telemetry/telemetry_config.ts
  x-pack/test_serverless/api_integration/test_suites/security/telemetry/telemetry_config.ts
Labels: Team:Core, release_note:skip, Feature:Configuration, backport:skip

#184967 [8.14] [ResponseOps] Fix for flaky task state validation jest integration test (#181206)
  x-pack/plugins/task_manager/server/integration_tests/task_state_validation.test.ts
Labels: backport

#184918 [Obs AI Assistant] Rename `knowledgeBaseInstructions` to `userInstructions`
  x-pack/plugins/observability_solution/observability_ai_assistant/server/routes/functions/route.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/continue_conversation.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/knowledge_base_service/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/util/get_system_message_from_instructions.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/util/get_system_message_from_instructions.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/rule_connector/index.ts
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0

#184925 [Logs Shared] Reduce load bundle size
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_entry_flyout/log_entry_flyout.tsx
  x-pack/plugins/observability_solution/logs_shared/public/containers/logs/log_summary/with_summary.ts
  x-pack/plugins/observability_solution/logs_shared/public/index.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-logs

#184817 [Logs Explorer] Move table control actions column to the left
  x-pack/plugins/observability_solution/logs_explorer/public/customizations/custom_control_column.tsx
  x-pack/test/functional/apps/observability_logs_explorer/columns_selection.ts
  x-pack/test/functional/apps/observability_logs_explorer/custom_control_columns.ts
  x-pack/test/functional/apps/observability_logs_explorer/flyout.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/columns_selection.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/custom_control_columns.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/flyout.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-logs, Feature:LogsExplorer

#184740 [Discover] Notify the user about issues with access to the default data view
  src/plugins/discover/public/application/main/state_management/utils/resolve_data_view.ts
Labels: release_note:fix, Team:DataDiscovery, backport:prev-minor

#184668 [Discover] Fix resetting of breakdown field in a saved search
  src/plugins/discover/public/application/main/state_management/discover_saved_search_container.ts
  src/plugins/discover/public/application/main/state_management/discover_state.test.ts
  src/plugins/discover/public/application/main/state_management/utils/update_saved_search.test.ts
  src/plugins/discover/public/application/main/state_management/utils/update_saved_search.ts
Labels: Feature:Discover, release_note:fix, Team:DataDiscovery, backport:prev-minor

#184945 Added resolution for d3-color@2.0.0 version to point to elastic fork
  package.json
  yarn.lock
Labels: chore, Team:Security, release_note:skip

#176662 [SLO Form] Use saved Data view id , handle runtime mappings
  x-pack/packages/kbn-slo-schema/src/schema/indicators.ts
  x-pack/plugins/observability_solution/observability/server/plugin.ts
  x-pack/plugins/observability_solution/observability/server/routes/register_routes.ts
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/components/schemas/indicator_properties_custom_kql.yaml
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/components/schemas/indicator_properties_custom_metric.yaml
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/components/schemas/indicator_properties_histogram.yaml
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/components/schemas/indicator_properties_timeslice_metric.yaml
  x-pack/plugins/observability_solution/slo/kibana.jsonc
  x-pack/plugins/observability_solution/slo/public/hooks/use_create_data_view.ts
  x-pack/plugins/observability_solution/slo/public/pages/slo_details/slo_details.test.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/apm_availability/apm_availability_indicator_type_form.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/apm_latency/apm_latency_indicator_type_form.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/common/query_builder.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/common/query_search_bar.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/common/runtime_field_used.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/custom_common/index_selection.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/custom_common/use_adhoc_data_views.ts
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/custom_kql/custom_kql_indicator_type_form.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/custom_metric/custom_metric_type_form.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/custom_metric/metric_indicator.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/histogram/histogram_indicator.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/histogram/histogram_indicator_type_form.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/synthetics_availability/synthetics_availability_indicator_type_form.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/timeslice_metric/metric_indicator.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/timeslice_metric/metric_input.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/components/timeslice_metric/timeslice_metric_indicator.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/hooks/use_find_runtime_usage.ts
  x-pack/plugins/observability_solution/slo/public/pages/slo_edit/slo_edit.test.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slos/slos.test.tsx
  x-pack/plugins/observability_solution/slo/server/plugin.ts
  x-pack/plugins/observability_solution/slo/server/routes/register_routes.ts
  x-pack/plugins/observability_solution/slo/server/routes/slo/route.ts
  x-pack/plugins/observability_solution/slo/server/services/create_slo.ts
  x-pack/plugins/observability_solution/slo/server/services/get_preview_data.ts
  x-pack/plugins/observability_solution/slo/server/services/summay_transform_manager.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/apm_transaction_duration.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/apm_transaction_duration.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/apm_transaction_error_rate.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/apm_transaction_error_rate.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/common.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/histogram.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/histogram.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/kql_custom.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/kql_custom.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/metric_custom.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/metric_custom.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/synthetics_availability.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/synthetics_availability.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/timeslice_metric.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/timeslice_metric.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/transform_generator.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_manager.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_manager.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-management

#184997 [8.14] [Discover] Notify the user about issues with access to the default data view (#184740)
  src/plugins/discover/public/application/main/utils/resolve_data_view.ts
Labels: backport

#184996 [EDR Workflows][MKI test] Skip Policy Details cy test on MKI due to feature flags
  x-pack/plugins/security_solution/public/management/cypress/e2e/policy/policy_details.cy.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows

#184797 [SecuritySolution] Remove transform delay time + add unattended setting
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_engine/risk_engine_data_client.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/configurations.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/configurations.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/risk_score_data_client.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/risk_score_data_client.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/risk_score_service.mock.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/risk_score_service.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/routes/entity_calculation.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/routes/entity_calculation.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/tasks/risk_scoring_task.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/tasks/risk_scoring_task.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/utils/transforms.test.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/utils/transforms.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/risk_engine/trial_license_complete_tier/telemetry_usage.ts
Labels: release_note:enhancement, Team: SecuritySolution, Team:Entity Analytics

#184334 Implements 'Key concepts' developer documentation for Encrypted Saved Objects
  dev_docs/key_concepts/encrypted_saved_objects.mdx
Labels: Team:Security, release_note:skip, backport:skip, DevDocs, Feature:Security/Encrypted Saved Objects, v8.15.0

#184908 [Investigate] Create plugin
  .github/CODEOWNERS
  docs/developer/plugin-list.asciidoc
  package.json
  packages/kbn-optimizer/limits.yml
  tsconfig.base.json
  x-pack/.i18nrc.json
  x-pack/plugins/observability_solution/investigate/README.md
  x-pack/plugins/observability_solution/investigate/common/index.ts
  x-pack/plugins/observability_solution/investigate/common/types.ts
  x-pack/plugins/observability_solution/investigate/jest.config.js
  x-pack/plugins/observability_solution/investigate/kibana.jsonc
  x-pack/plugins/observability_solution/investigate/public/create_widget.ts
  x-pack/plugins/observability_solution/investigate/public/esql_widget/constants.ts
  x-pack/plugins/observability_solution/investigate/public/esql_widget/create_esql_widget.ts
  x-pack/plugins/observability_solution/investigate/public/esql_widget/types.ts
  x-pack/plugins/observability_solution/investigate/public/index.ts
  x-pack/plugins/observability_solution/investigate/public/plugin.tsx
  x-pack/plugins/observability_solution/investigate/public/types.ts
  x-pack/plugins/observability_solution/investigate/public/util/get_es_filters_from_global_parameters.ts
  x-pack/plugins/observability_solution/investigate/public/widget_registry.ts
  x-pack/plugins/observability_solution/investigate/server/config.ts
  x-pack/plugins/observability_solution/investigate/server/index.ts
  x-pack/plugins/observability_solution/investigate/server/plugin.ts
  x-pack/plugins/observability_solution/investigate/server/types.ts
  x-pack/plugins/observability_solution/investigate/tsconfig.json
  x-pack/plugins/observability_solution/observability_ai_assistant/public/index.ts
  yarn.lock
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0

#184998 [8.14] [Discover] Fix resetting of breakdown field in a saved search (#184668)
  src/plugins/discover/public/application/main/services/discover_saved_search_container.ts
  src/plugins/discover/public/application/main/services/discover_state.test.ts
  src/plugins/discover/public/application/main/utils/update_saved_search.test.ts
  src/plugins/discover/public/application/main/utils/update_saved_search.ts
Labels: backport

#184968 [Inventory/Metric/Custom threshold] Specify fields instead of '*' in fieldCaps request
  x-pack/plugins/observability_solution/infra/server/lib/alerting/common/utils.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/utils.ts
Labels: backport, release_note:skip, ci:project-deploy-observability, Team:obs-ux-management, v8.15.0

#185002 [8.14] Added resolution for d3-color@2.0.0 version to point to elastic fork (#184945)
  package.json
  yarn.lock
Labels: backport

#184733 [ES|QL] Some UI enhancements in the editor
  packages/kbn-text-based-editor/src/query_history.tsx
  packages/kbn-text-based-editor/src/text_based_languages_editor.styles.ts
  packages/kbn-text-based-editor/src/text_based_languages_editor.tsx
  packages/kbn-text-based-editor/tsconfig.json
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v8.15.0

#183676 chore(slo): improve operation rollback on create and update services
  x-pack/plugins/observability_solution/slo/server/services/__snapshots__/update_slo.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/create_slo.test.ts
  x-pack/plugins/observability_solution/slo/server/services/create_slo.ts
  x-pack/plugins/observability_solution/slo/server/services/update_slo.test.ts
  x-pack/plugins/observability_solution/slo/server/services/update_slo.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-management, v8.15.0

#184453 [Security Solution][Detection Engine] removes suppression terms from alert id
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/esql/utils/generate_alert_id.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/esql/utils/generate_alert_id.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/esql/wrap_suppressed_esql_alerts.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/esql/wrap_suppressed_esql_alerts.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/new_terms/wrap_suppressed_new_terms_alerts.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/new_terms/wrap_suppressed_new_terms_alerts.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/threshold/wrap_suppressed_threshold_alerts.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/wrap_suppressed_alerts.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/eql_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/esql_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/indicator_match_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/new_terms_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/threshold_alert_suppression.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine

#185010 [8.14] [Inventory/Metric/Custom threshold] Specify fields instead of '*' in fieldCaps request (#184968)
  x-pack/plugins/observability_solution/infra/server/lib/alerting/common/utils.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/utils.ts
Labels: backport, Team:obs-ux-management

#184654 [Serverless][Observability] Use roles-based testing - api_integration
  x-pack/test/api_integration/services/usage_api.ts
  x-pack/test_serverless/api_integration/services/slo_api.ts
  x-pack/test_serverless/api_integration/services/svl_cases/api.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/alert_documents.ts
  x-pack/test_serverless/api_integration/test_suites/common/alerting/rules.ts
  x-pack/test_serverless/api_integration/test_suites/observability/apm_api_integration/common/apm_api_supertest.ts
  x-pack/test_serverless/api_integration/test_suites/observability/apm_api_integration/feature_flags.ts
  x-pack/test_serverless/api_integration/test_suites/observability/burn_rate_rule/burn_rate_rule.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/find_cases.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_case.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/post_case.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/avg_pct_no_data.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/custom_eq_avg_bytes_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/documents_count_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/group_by_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/custom_threshold_rule/p99_pct_fired.ts
  x-pack/test_serverless/api_integration/test_suites/observability/dataset_quality_api_integration/common/dataset_quality_api_supertest.ts
  x-pack/test_serverless/api_integration/test_suites/observability/dataset_quality_api_integration/data_stream_details.ts
  x-pack/test_serverless/api_integration/test_suites/observability/dataset_quality_api_integration/data_stream_settings.ts
  x-pack/test_serverless/api_integration/test_suites/observability/es_query_rule/es_query_rule.ts
  x-pack/test_serverless/api_integration/test_suites/observability/fleet/fleet.ts
  x-pack/test_serverless/api_integration/test_suites/observability/infra/infra.ts
  x-pack/test_serverless/api_integration/test_suites/observability/infra/metadata.ts
  x-pack/test_serverless/api_integration/test_suites/observability/infra/processes.ts
  x-pack/test_serverless/api_integration/test_suites/observability/infra/snapshot.ts
  x-pack/test_serverless/api_integration/test_suites/observability/slos/create_slo.ts
  x-pack/test_serverless/api_integration/test_suites/observability/slos/delete_slo.ts
  x-pack/test_serverless/api_integration/test_suites/observability/slos/fetch_historical_summary.ts
  x-pack/test_serverless/api_integration/test_suites/observability/telemetry/snapshot_telemetry.ts
  x-pack/test_serverless/api_integration/test_suites/observability/telemetry/telemetry_config.ts
  x-pack/test_serverless/api_integration/test_suites/security/cases/find_cases.ts
  x-pack/test_serverless/api_integration/test_suites/security/cases/get_case.ts
  x-pack/test_serverless/api_integration/test_suites/security/cases/post_case.ts
  x-pack/test_serverless/functional/test_suites/observability/screenshot_creation/response_ops_docs/cases/list_view.ts
  x-pack/test_serverless/functional/test_suites/security/screenshot_creation/response_ops_docs/cases/list_view.ts
Labels: release_note:skip, backport:skip, v8.15.0

#184923 [Obs ai assistant] Hide the grid in case of errors
  x-pack/plugins/observability_solution/observability_ai_assistant_app/common/functions/visualize_esql.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/functions/visualize_esql.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/query/validate_esql_query.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/visualize_esql.ts
Labels: release_note:skip, backport:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0
