Repository elastic/kibana, pull requests merged in 2024-11, with the labels that each got.

#196056 basic enhancements for import logging
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/import_saved_objects.test.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/import_saved_objects.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/saved_objects_importer.ts
  src/core/server/integration_tests/saved_objects/routes/import.test.ts
Labels: Feature:Saved Objects, release_note:skip, 💝community, backport:prev-minor, v8.17.0

#198101 fix: remove the _score field (#197197)
  src/plugins/unified_doc_viewer/public/components/doc_viewer_source/source.test.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer_source/source.tsx
Labels: release_note:skip, backport:skip, 💝community, Team:DataDiscovery

#198627 [8.x] [Security assistant] Fix &#x60;invoke_assistant_*&#x60; telemetry (#198594)
  x-pack/plugins/elastic_assistant/server/routes/chat/chat_complete_route.test.ts
  x-pack/plugins/elastic_assistant/server/routes/chat/chat_complete_route.ts
  x-pack/plugins/elastic_assistant/server/routes/helpers.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/constants.ts
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.test.ts
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.ts
Labels: backport

#198378 [ResponseOps][Cases] Make deprecated APIs internal in serverless
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/server/routes/api/cases/get_case.test.ts
  x-pack/plugins/cases/server/routes/api/cases/get_case.ts
  x-pack/plugins/cases/server/routes/api/comments/get_all_comment.test.ts
  x-pack/plugins/cases/server/routes/api/comments/get_all_comment.ts
  x-pack/plugins/cases/server/routes/api/get_external_routes.ts
  x-pack/plugins/cases/server/routes/api/stats/get_status.test.ts
  x-pack/plugins/cases/server/routes/api/stats/get_status.ts
  x-pack/plugins/cases/server/routes/api/user_actions/get_all_user_actions.test.ts
  x-pack/plugins/cases/server/routes/api/user_actions/get_all_user_actions.ts
  x-pack/test/cases_api_integration/common/lib/api/index.ts
  x-pack/test_serverless/api_integration/services/svl_cases/api.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_all_comments.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_all_user_actions.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_case.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_status.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/index.ts
  x-pack/test_serverless/api_integration/test_suites/security/cases/get_case.ts
Labels: release_note:skip, Team:ResponseOps, v9.0.0, Feature:Cases, backport:prev-minor, ci:project-deploy-observability, v8.17.0

#198640 [8.x] [ResponseOps][Cases] Make deprecated APIs internal in serverless (#198378)
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/server/routes/api/cases/get_case.test.ts
  x-pack/plugins/cases/server/routes/api/cases/get_case.ts
  x-pack/plugins/cases/server/routes/api/comments/get_all_comment.test.ts
  x-pack/plugins/cases/server/routes/api/comments/get_all_comment.ts
  x-pack/plugins/cases/server/routes/api/get_external_routes.ts
  x-pack/plugins/cases/server/routes/api/stats/get_status.test.ts
  x-pack/plugins/cases/server/routes/api/stats/get_status.ts
  x-pack/plugins/cases/server/routes/api/user_actions/get_all_user_actions.test.ts
  x-pack/plugins/cases/server/routes/api/user_actions/get_all_user_actions.ts
  x-pack/test/cases_api_integration/common/lib/api/index.ts
  x-pack/test_serverless/api_integration/services/svl_cases/api.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_all_comments.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_all_user_actions.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_case.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/get_status.ts
  x-pack/test_serverless/api_integration/test_suites/observability/cases/index.ts
  x-pack/test_serverless/api_integration/test_suites/security/cases/get_case.ts
Labels: backport

#198284 [8.16] [Synthetics] Fixes partial updates for params and params viewing (#195866)
  docs/api/synthetics/params/edit-param.asciidoc
  x-pack/plugins/observability_solution/synthetics/e2e/synthetics/journeys/global_parameters.journey.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/settings/components/optional_text.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/settings/global_params/add_param_flyout.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/settings/global_params/add_param_form.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/settings/global_params/param_value_field.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/state/global_params/api.ts
  x-pack/plugins/observability_solution/synthetics/server/routes/common.ts
  x-pack/plugins/observability_solution/synthetics/server/routes/settings/params/add_param.ts
  x-pack/plugins/observability_solution/synthetics/server/routes/settings/params/edit_param.ts
  x-pack/plugins/observability_solution/synthetics/server/routes/settings/params/params.ts
  x-pack/test/api_integration/apis/synthetics/add_edit_params.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-management

#198623 [8.x][OpenAPI] Remove staging and serverless files and commands
  oas_docs/kibana.info.serverless.yaml
  oas_docs/makefile
  oas_docs/output/kibana.serverless.staging.yaml
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.staging.yaml
  oas_docs/overlays/kibana.overlays.serverless.yaml
  oas_docs/scripts/merge_ess_oas_staging.js
  oas_docs/scripts/merge_serverless_oas.js
  oas_docs/scripts/merge_serverless_oas_staging.js
Labels: Team:Docs, release_note:skip, docs, Feature:OAS, v8.16.0, backport:version

#198634 [8.x] basic enhancements for import logging (#196056)
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/import_saved_objects.test.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/import_saved_objects.ts
  packages/core/saved-objects/core-saved-objects-import-export-server-internal/src/import/saved_objects_importer.ts
  src/core/server/integration_tests/saved_objects/routes/import.test.ts
Labels: backport

#198635 [Cloud Security] Update Findings page runtime fields required for third party data compatibility
  x-pack/plugins/cloud_security_posture/common/utils/helpers.ts
  x-pack/plugins/cloud_security_posture/public/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/components/cloud_provider_icon.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_grouped_findings.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings_grouping.tsx
  x-pack/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities.tsx
  x-pack/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities_grouping.tsx
Labels: release_note:skip, v9.0.0, Team:Cloud Security, backport:prev-minor, ci:build-cloud-image, v8.16.0, backport:version, v8.17.0

#198307 [ES|QL] Fixes the error in the console
  packages/kbn-es-types/src/search.ts
  packages/kbn-search-response-warnings/src/extract_warnings.test.ts
  packages/kbn-search-response-warnings/src/extract_warnings.ts
  packages/kbn-search-response-warnings/tsconfig.json
Labels: release_note:skip, v9.0.0, Feature:ES|QL, Team:ESQL, backport:version, v8.17.0

#198380 Authorized route migration for routes owned by kibana-security
  x-pack/plugins/security/server/routes/authorization/roles/get_all_by_space.test.ts
  x-pack/plugins/security/server/routes/authorization/roles/get_all_by_space.ts
  x-pack/plugins/security/server/routes/session_management/invalidate.test.ts
  x-pack/plugins/security/server/routes/session_management/invalidate.ts
  x-pack/plugins/security/server/routes/user_profile/bulk_get.test.ts
  x-pack/plugins/security/server/routes/user_profile/bulk_get.ts
  x-pack/plugins/spaces/server/routes/api/external/copy_to_space.ts
  x-pack/plugins/spaces/server/routes/api/internal/get_content_summary.test.ts
  x-pack/plugins/spaces/server/routes/api/internal/get_content_summary.ts
  x-pack/test/spaces_api_integration/common/suites/copy_to_space.ts
  x-pack/test/spaces_api_integration/common/suites/resolve_copy_to_space_conflicts.ts
Labels: Team:Security, enhancement, release_note:skip, Feature:Security/Authorization, backport:prev-minor, Authz: API migration

#198649 [8.x] [Cloud Security] Update Findings page runtime fields required for third party data compatibility (#198635)
  x-pack/plugins/cloud_security_posture/common/utils/helpers.ts
  x-pack/plugins/cloud_security_posture/public/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/components/cloud_provider_icon.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_grouped_findings.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings_grouping.tsx
  x-pack/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities.tsx
  x-pack/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities_grouping.tsx
Labels: backport

#197293 [8.x] [Synthtrace][Inventory] K8s entities support (#197077)
  packages/kbn-apm-synthtrace-client/src/lib/entities/index.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/cluster_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/container_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/cron_job_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/daemon_set_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/deployment_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/index.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/job_set_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/node_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/pod_entity.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/replica_set.ts
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/stateful_set.ts
  packages/kbn-apm-synthtrace/src/lib/entities/entities_synthtrace_es_client.ts
  packages/kbn-apm-synthtrace/src/scenarios/k8s_entities.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#198648 [8.16] [Cloud Security] Update Findings page runtime fields required for third party data compatibility (#198635)
  x-pack/plugins/cloud_security_posture/common/utils/helpers.ts
  x-pack/plugins/cloud_security_posture/public/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/components/cloud_provider_icon.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_grouped_findings.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings_grouping.tsx
  x-pack/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities.tsx
  x-pack/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities_grouping.tsx
Labels: backport

#198645 [SecuritySolution] Fix dashboard page when the entity store state is stopped
  x-pack/plugins/security_solution/public/entity_analytics/components/entity_store/components/dashboard_panels.tsx
Labels: bug, release_note:skip, v9.0.0, Team: SecuritySolution, Theme: entity_analytics, Feature:Entity Analytics, Team:Entity Analytics, v8.16.0, backport:version, v8.17.0

#198313 [Fleet] Remove deprecated APIs for agents endpoints
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/plugins/cloud_defend/server/routes/policies/policies.ts
  x-pack/plugins/cloud_security_posture/server/routes/benchmarks/v1.ts
  x-pack/plugins/fleet/common/constants/routes.ts
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/details_page/components/settings/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/routes/agent/index.test.ts
  x-pack/plugins/fleet/server/routes/agent/index.ts
  x-pack/plugins/fleet/server/routes/app/index.ts
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
  x-pack/plugins/osquery/server/routes/fleet_wrapper/get_agent_policies.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/fleet.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_details.tsx
  x-pack/test/fleet_api_integration/apis/agents/list.ts
  x-pack/test/fleet_api_integration/apis/agents/privileges.ts
  x-pack/test/fleet_api_integration/apis/agents/status.ts
  x-pack/test/fleet_api_integration/apis/agents/update_agent_tags.ts
  x-pack/test/fleet_api_integration/apis/agents/upgrade.ts
  x-pack/test/fleet_api_integration/apis/fleet_telemetry.ts
  x-pack/test/fleet_api_integration/apis/service_tokens.ts
Labels: release_note:breaking, backport:skip, Team:Fleet

#198416 Remove stale tasks from task conflict count during task claiming
  x-pack/plugins/task_manager/server/monitoring/task_run_statistics.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
  x-pack/plugins/task_manager/server/task_claimers/index.ts
  x-pack/plugins/task_manager/server/task_claimers/strategy_mget.test.ts
  x-pack/plugins/task_manager/server/task_claimers/strategy_mget.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v9.0.0, backport:prev-minor, v8.17.0

#198653 [8.x] [ES|QL] Fixes the error in the console (#198307)
  packages/kbn-es-types/src/search.ts
  packages/kbn-search-response-warnings/src/extract_warnings.test.ts
  packages/kbn-search-response-warnings/src/extract_warnings.ts
  packages/kbn-search-response-warnings/tsconfig.json
Labels: backport

#198599 [Synthetics] Added error track trace to status/tls rule context variable !!
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_uptime_schema.ts
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/alert_as_data_fields.test.ts.snap
  x-pack/plugins/observability_solution/synthetics/common/field_names.ts
  x-pack/plugins/observability_solution/synthetics/common/requests/get_certs_request_body.ts
  x-pack/plugins/observability_solution/synthetics/common/rules/synthetics_rule_field_map.ts
  x-pack/plugins/observability_solution/synthetics/common/runtime_types/certs.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/status_rule/message_utils.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/status_rule/types.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/tls_rule/message_utils.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/translations.ts
  x-pack/plugins/observability_solution/uptime/common/rules/uptime_rule_field_map.ts
Labels: release_note:fix, ci:project-deploy-observability, Team:obs-ux-management, v8.16.0, backport:version, v8.17.0

#198229 [Automatic Import] Fix yarn draw-graphs command
  x-pack/plugins/integration_assistant/docs/imgs/categorization_graph.png
  x-pack/plugins/integration_assistant/docs/imgs/cel_graph.png
  x-pack/plugins/integration_assistant/docs/imgs/log_detection_graph.png
  x-pack/plugins/integration_assistant/docs/imgs/related_graph.png
  x-pack/plugins/integration_assistant/docs/imgs/unstructured_graph.png
  x-pack/plugins/integration_assistant/scripts/draw_graphs_script.ts
  x-pack/plugins/integration_assistant/server/graphs/categorization/graph.ts
  x-pack/plugins/integration_assistant/server/graphs/cel/graph.ts
  x-pack/plugins/integration_assistant/server/graphs/ecs/graph.ts
  x-pack/plugins/integration_assistant/server/graphs/kv/graph.ts
  x-pack/plugins/integration_assistant/server/graphs/log_type_detection/graph.ts
  x-pack/plugins/integration_assistant/server/graphs/related/graph.ts
  x-pack/plugins/integration_assistant/server/graphs/unstructured/graph.ts
  x-pack/plugins/integration_assistant/server/routes/analyze_logs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/categorization_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/categorization_routes.ts
  x-pack/plugins/integration_assistant/server/routes/cel_route.test.ts
  x-pack/plugins/integration_assistant/server/routes/cel_routes.ts
  x-pack/plugins/integration_assistant/server/routes/ecs_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/ecs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/related_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/related_routes.ts
Labels: release_note:skip, backport:prev-minor, Team:Security-Scalability, Feature:AutomaticImport

#198662 [8.16] [ResponseOps]]MaintenaceWindow] Increase MW table limit to 1k (#198504)
  x-pack/plugins/alerting/common/routes/maintenance_window/apis/find/schemas/v1.ts
Labels: backport

#198659 [8.16] [SecuritySolution] Fix dashboard page when the entity store state is stopped (#198645)
  x-pack/plugins/security_solution/public/entity_analytics/components/entity_store/components/dashboard_panels.tsx
Labels: backport

#198660 [8.x] [SecuritySolution] Fix dashboard page when the entity store state is stopped (#198645)
  x-pack/plugins/security_solution/public/entity_analytics/components/entity_store/components/dashboard_panels.tsx
Labels: backport

#198665 [8.x] [Inventory] List k8s entities in the grid (#197292)
  packages/kbn-apm-synthtrace/src/scenarios/many_entities.ts
  x-pack/plugins/observability_solution/inventory/common/entities.ts
  x-pack/plugins/observability_solution/inventory/common/entitites.test.ts
  x-pack/plugins/observability_solution/inventory/common/utils/parse_identity_field_values_to_kql.test.ts
  x-pack/plugins/observability_solution/inventory/e2e/cypress/e2e/home.cy.ts
  x-pack/plugins/observability_solution/inventory/public/components/alerts_badge/alerts_badge.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/entities_grid.stories.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/entity_name/entity_name.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/index.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/mock/entities_mock.ts
  x-pack/plugins/observability_solution/inventory/public/components/entity_icon/index.tsx
  x-pack/plugins/observability_solution/inventory/public/components/search_bar/discover_button.tsx
  x-pack/plugins/observability_solution/inventory/public/components/search_bar/entity_types_controls.tsx
  x-pack/plugins/observability_solution/inventory/public/components/search_bar/index.tsx
  x-pack/plugins/observability_solution/inventory/public/context/inventory_search_bar_context_provider/index.tsx
  x-pack/plugins/observability_solution/inventory/public/pages/inventory_page/index.tsx
  x-pack/plugins/observability_solution/inventory/public/utils/get_entity_type_label.test.ts
  x-pack/plugins/observability_solution/inventory/public/utils/get_entity_type_label.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_entity_types.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_identify_fields.test.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_identity_fields_per_entity_type.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_latest_entities.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_latest_entities_alerts.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/query_helper.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/route.ts
  x-pack/plugins/observability_solution/inventory/server/routes/has_data/get_has_data.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#198672 [8.x] [Synthetics] Added error track trace to status/tls rule context variable !! (#198599)
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_uptime_schema.ts
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/alert_as_data_fields.test.ts.snap
  x-pack/plugins/observability_solution/synthetics/common/field_names.ts
  x-pack/plugins/observability_solution/synthetics/common/requests/get_certs_request_body.ts
  x-pack/plugins/observability_solution/synthetics/common/rules/synthetics_rule_field_map.ts
  x-pack/plugins/observability_solution/synthetics/common/runtime_types/certs.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/status_rule/message_utils.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/status_rule/types.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/tls_rule/message_utils.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/translations.ts
  x-pack/plugins/observability_solution/uptime/common/rules/uptime_rule_field_map.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-management

#198671 [8.16] [Synthetics] Added error track trace to status/tls rule context variable !! (#198599)
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_uptime_schema.ts
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/alert_as_data_fields.test.ts.snap
  x-pack/plugins/observability_solution/synthetics/common/field_names.ts
  x-pack/plugins/observability_solution/synthetics/common/requests/get_certs_request_body.ts
  x-pack/plugins/observability_solution/synthetics/common/rules/synthetics_rule_field_map.ts
  x-pack/plugins/observability_solution/synthetics/common/runtime_types/certs.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/status_rule/message_utils.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/status_rule/types.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/tls_rule/message_utils.ts
  x-pack/plugins/observability_solution/synthetics/server/alert_rules/translations.ts
  x-pack/plugins/observability_solution/uptime/common/rules/uptime_rule_field_map.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-management

#198224 [ES|QL] separate `STATS` autocomplete routine
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.stats.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/drop/index.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/keep/index.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/stats/index.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/stats/util.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/factories.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/helper.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/commands.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/types.ts
  packages/kbn-esql-validation-autocomplete/src/shared/context.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.ts
Labels: release_note:skip, v9.0.0, Feature:ES|QL, Team:ESQL, backport:version, v8.17.0

#198610 fix(slo): Override transform _id to ensure uniqness
  x-pack/packages/kbn-slo-schema/src/schema/slo.ts
  x-pack/packages/kbn-slo-schema/tsconfig.json
  x-pack/plugins/observability_solution/slo/server/assets/ingest_templates/slo_pipeline_template.ts
  x-pack/plugins/observability_solution/slo/server/services/__snapshots__/create_slo.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/__snapshots__/reset_slo.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/__snapshots__/synthetics_availability.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/__snapshots__/transform_generator.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/synthetics_availability.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/transform_generator.test.ts
Labels: bug, release_note:skip, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-management, v8.16.0

#198657 [8.x] Authorized route migration for routes owned by kibana-security (#198380)
  x-pack/plugins/security/server/routes/authorization/roles/get_all_by_space.test.ts
  x-pack/plugins/security/server/routes/authorization/roles/get_all_by_space.ts
  x-pack/plugins/security/server/routes/session_management/invalidate.test.ts
  x-pack/plugins/security/server/routes/session_management/invalidate.ts
  x-pack/plugins/security/server/routes/user_profile/bulk_get.test.ts
  x-pack/plugins/security/server/routes/user_profile/bulk_get.ts
  x-pack/plugins/spaces/server/routes/api/external/copy_to_space.ts
  x-pack/plugins/spaces/server/routes/api/internal/get_content_summary.test.ts
  x-pack/plugins/spaces/server/routes/api/internal/get_content_summary.ts
  x-pack/test/spaces_api_integration/common/suites/copy_to_space.ts
  x-pack/test/spaces_api_integration/common/suites/resolve_copy_to_space_conflicts.ts
Labels: backport

#198687 [8.x] Unauthorized route migration for routes owned by security-threat-hunting-explore (#198339)
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/get_unallowed_field_values.ts
Labels: backport

#198686 [8.x] [Inventory][ECO] Entities Group By View (#195475)
  x-pack/plugins/observability_solution/inventory/common/entities.ts
  x-pack/plugins/observability_solution/inventory/e2e/cypress/e2e/home.cy.ts
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/group_selector.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/group_selector.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/grouped_entities_grid.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/index.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/inventory_group_accordion.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/inventory_group_accordion.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/inventory_panel_badge.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/inventory_summary.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/inventory_summary.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/mock/inventory_component_wrapper_mock.tsx
  x-pack/plugins/observability_solution/inventory/public/components/grouped_inventory/unified_inventory.tsx
  x-pack/plugins/observability_solution/inventory/public/components/search_bar/index.tsx
  x-pack/plugins/observability_solution/inventory/public/context/inventory_search_bar_context_provider/index.tsx
  x-pack/plugins/observability_solution/inventory/public/pages/inventory_page/index.tsx
  x-pack/plugins/observability_solution/inventory/public/routes/config.tsx
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_entity_groups.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_latest_entities.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/route.ts
  x-pack/plugins/observability_solution/inventory/tsconfig.json
Labels: backport, ci:project-deploy-observability

#198410 [SecuritySolution] Fix styling issues for visualizations
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.tsx
Labels: backport, v9.0.0, Team:Threat Hunting:Explore, v8.17.0

#198693 [8.x] [ES|QL] separate &#x60;STATS&#x60; autocomplete routine (#198224)
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.stats.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/drop/index.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/keep/index.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/stats/index.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/commands/stats/util.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/factories.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/helper.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/commands.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/types.ts
  packages/kbn-esql-validation-autocomplete/src/shared/context.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.ts
Labels: backport

#198586 [Security Solution][Investigations] - update list of dependencies to run cypress tests
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: release_note:skip, v9.0.0, Team:Threat Hunting:Investigations, backport:version, v8.17.0

#198700 [8.x] fix(slo): Override transform _id to ensure uniqness (#198610)
  x-pack/packages/kbn-slo-schema/src/schema/slo.ts
  x-pack/packages/kbn-slo-schema/tsconfig.json
  x-pack/plugins/observability_solution/slo/server/assets/ingest_templates/slo_pipeline_template.ts
  x-pack/plugins/observability_solution/slo/server/services/__snapshots__/create_slo.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/__snapshots__/reset_slo.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/__snapshots__/synthetics_availability.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/__snapshots__/transform_generator.test.ts.snap
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/synthetics_availability.test.ts
  x-pack/plugins/observability_solution/slo/server/services/transform_generators/transform_generator.test.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-management

#198704 [8.x] [SecuritySolution] Fix styling issues for visualizations (#198410)
  x-pack/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.tsx
Labels: backport

#196591 [Security Solution][Data Quality Dashboard] fix tests and potential tests timing out on ci
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/historical_results_tour/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/historical_results_list/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/historical_results_list/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/summary_table/utils/columns.tsx
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, backport:prev-minor

#198025 [kbn-test] validate isCloud by checking kbnHost
  packages/kbn-test/src/auth/saml_auth.ts
  packages/kbn-test/src/auth/session_manager.test.ts
  packages/kbn-test/src/auth/session_manager.ts
Labels: release_note:skip, v9.0.0, FTR, backport:version, v8.17.0

#198706 [8.x] [Security Solution][Investigations] - update list of dependencies to run cypress tests (#198586)
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: backport

#198717 [8.x] [Security Solution][Data Quality Dashboard] fix tests and potential tests timing out on ci (#196591)
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/historical_results_tour/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/historical_results_list/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/historical_results_list/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/historical_results/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/index_check_flyout/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/data_quality_details/indices_details/pattern/summary_table/utils/columns.tsx
Labels: backport

#198718 [8.x] [kbn-test] validate isCloud by checking kbnHost (#198025)
  packages/kbn-test/src/auth/saml_auth.ts
  packages/kbn-test/src/auth/session_manager.test.ts
  packages/kbn-test/src/auth/session_manager.ts
Labels: backport

#197422 [Security Solution] Disable deprecated rules bulk CRUD API endpoints in Serverless and 9.0
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/register_routes.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_create_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_delete_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_patch_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_update_rules/route.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/prebuilt_rule_customization/trial_license_complete_tier/rules_export.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_creation/basic_license_essentials_tier/create_rules_bulk.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_creation/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_creation/trial_license_complete_tier/create_rules_bulk.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_delete/basic_license_essentials_tier/delete_rules_bulk.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_delete/trial_license_complete_tier/delete_rules_bulk.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_delete/trial_license_complete_tier/delete_rules_bulk_legacy.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_patch/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_patch/basic_license_essentials_tier/patch_rules_bulk.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_patch/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_patch/trial_license_complete_tier/patch_rules_bulk.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_update/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_update/basic_license_essentials_tier/update_rules_bulk.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_update/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_update/trial_license_complete_tier/update_rules_bulk.ts
Labels: release_note:breaking, backport:skip, v9.0.0, Team:Detections and Resp, Team: SecuritySolution, Breaking Change, Feature:Rule Management, Team:Detection Rule Management

#198724 [8.x] [Inventory] Fix discover link (#198690)
  x-pack/plugins/observability_solution/inventory/e2e/cypress/e2e/home.cy.ts
  x-pack/plugins/observability_solution/inventory/public/components/search_bar/discover_button.tsx
Labels: backport, ci:project-deploy-observability

#197272 [8.x] [EDR Workflows] Add missing services to Osquery Cypress (#197213)
  x-pack/test/osquery_cypress/cli_config.ts
  x-pack/test/osquery_cypress/services.ts
Labels: backport

#198308 [ML] Updates references to apps and pages in ML-related guides
  docs/user/ml/index.asciidoc
Labels: Team:Docs, release_note:skip, v9.0.0, v8.16.0, backport:version, v8.17.0

#198762 [8.16] [ML] Updates references to apps and pages in ML-related guides (#198308)
  docs/user/ml/index.asciidoc
Labels: backport

#198763 [8.x] [ML] Updates references to apps and pages in ML-related guides (#198308)
  docs/user/ml/index.asciidoc
Labels: backport

#198759 Fix tablelistview test due to timezone switch
  packages/content-management/table_list_view_table/src/table_list_view.test.tsx
Labels: release_note:skip, backport:prev-major

#195224 [8.15] [Reporting] Improvements to reporting diagnostics (#191790)
  x-pack/plugins/reporting/public/management/components/report_diagnostic.test.tsx
  x-pack/plugins/reporting/public/management/components/report_diagnostic.tsx
  x-pack/plugins/reporting/server/routes/internal/diagnostic/browser.ts
  x-pack/plugins/reporting/server/routes/internal/diagnostic/integration_tests/browser.test.ts
Labels: backport

#198767 [8.15] Fix tablelistview test due to timezone switch (#198759)
  packages/content-management/table_list_view_table/src/table_list_view.test.tsx
Labels: backport

#198769 [8.x] Fix tablelistview test due to timezone switch (#198759)
  packages/content-management/table_list_view_table/src/table_list_view.test.tsx
Labels: backport

#198654 [ES|QL] Fixes the wrongly focused suggestion
  src/plugins/unified_search/public/query_string_input/esql_menu_popover.tsx
Labels: release_note:skip, v9.0.0, Feature:ES|QL, Team:ESQL, backport:version, v8.17.0

#198296 Enable search bar/timepicker for logs only services
  x-pack/plugins/observability_solution/apm/public/components/routing/templates/apm_service_template/index.tsx
Labels: release_note:skip, v9.0.0, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.17.0

#198768 [8.16] Fix tablelistview test due to timezone switch (#198759)
  packages/content-management/table_list_view_table/src/table_list_view.test.tsx
Labels: backport

#198668 [Entity Store] Add enablement errors to entity store management page
  x-pack/plugins/security_solution/public/entity_analytics/components/entity_store/components/dashboard_panels.tsx
  x-pack/plugins/security_solution/public/entity_analytics/pages/entity_store_management_page.tsx
Labels: release_note:skip, v9.0.0, Team:Entity Analytics, v8.16.0, backport:version, v8.17.0

#198739 Reducing vulnerability runtime mappings
  x-pack/plugins/cloud_security_posture/public/common/constants.ts
Labels: release_note:skip, v9.0.0, Team:Cloud Security, v8.16.0, backport:version, v8.17.0

#197611 [7.17] [CodeQL] resolve issue with prototype pollution (#196685)
  src/core/public/ui_settings/ui_settings_client.ts
Labels: backport

#198487 [Lens] Add Esc key handling to lens_configuration_flyout
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:prev-minor

#184842 Create portable dashboard for OTel .NET runtime metrics
  packages/kbn-apm-synthtrace-client/src/types/agent_names.ts
  x-pack/plugins/observability_solution/apm/public/components/app/metrics/static_dashboard/dashboards/dashboard_catalog.ts
  x-pack/plugins/observability_solution/apm/public/components/app/metrics/static_dashboard/dashboards/opentelemetry_dotnet.json
Labels: release_note:skip, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review

#195609 [FTR][Ownership] Fixup test_serverless entries
  .github/CODEOWNERS
Labels: release_note:skip, backport:skip, FTR

#198555 [Lens] revert Select line chart by default if the x-axis contains a timestamp
  x-pack/plugins/lens/public/visualizations/xy/xy_suggestions.test.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_suggestions.ts
  x-pack/test/functional/apps/lens/group1/multiple_data_views.ts
Labels: release_note:skip, Feature:Lens, v9.0.0, backport:version, v8.17.0

#197456 fix: [Stateful: Home page] Not accessible element, showing number of active API keys, via keyboard
  x-pack/plugins/enterprise_search/public/applications/shared/api_key/api_key_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/getting_started/panels/api_key_panel_content.tsx
Labels: Project:Accessibility, release_note:skip, v9.0.0, Team:Search, backport:prev-minor

#198549 [Security Solution][Data Quality Dashboard] fix pattern state reset on ilm phase filter change
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/hooks/use_results_rollup/hooks/use_stored_pattern_results/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/hooks/use_results_rollup/hooks/use_stored_pattern_results/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/hooks/use_results_rollup/index.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/hooks/use_results_rollup/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/mock/test_providers/utils/format.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/mock/test_providers/utils/get_merged_data_quality_context_props.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality_panel/stub/get_pattern_rollup_stub/index.ts
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, backport:prev-minor, ci:cloud-deploy, ci:project-deploy-security

#198397 [ci] Add flag to keep build-on-ready functionality
  .buildkite/pull_requests.json
Labels: Team:Operations, release_note:skip, backport:skip

#198780 [8.x] [ES|QL] Fixes the wrongly focused suggestion (#198654)
  src/plugins/unified_search/public/query_string_input/esql_menu_popover.tsx
Labels: backport

#198782 [8.x] Enable search bar/timepicker for logs only services (#198296)
  x-pack/plugins/observability_solution/apm/public/components/routing/templates/apm_service_template/index.tsx
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#198784 [8.16] [Entity Store] Add enablement errors to entity store management page (#198668)
  x-pack/plugins/security_solution/public/entity_analytics/components/entity_store/components/dashboard_panels.tsx
  x-pack/plugins/security_solution/public/entity_analytics/pages/entity_store_management_page.tsx
Labels: backport

#198789 [8.x] [Lens] Add Esc key handling to lens_configuration_flyout (#198487)
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
Labels: backport

#198788 [8.x] Reducing vulnerability runtime mappings (#198739)
  x-pack/plugins/cloud_security_posture/public/common/constants.ts
Labels: backport

#198787 [8.16] Reducing vulnerability runtime mappings (#198739)
  x-pack/plugins/cloud_security_posture/public/common/constants.ts
Labels: backport

#198054 [Authz] Fix description generation for Open API spec for an API
  oas_docs/bundle.json
  oas_docs/output/kibana.yaml
  packages/kbn-router-to-openapispec/src/extract_authz_description.test.ts
  packages/kbn-router-to-openapispec/src/extract_authz_description.ts
  packages/kbn-router-to-openapispec/src/process_router.test.ts
  packages/kbn-router-to-openapispec/src/process_router.ts
  packages/kbn-router-to-openapispec/src/process_versioned_router.test.ts
  packages/kbn-router-to-openapispec/src/process_versioned_router.ts
Labels: bug, Team:Security, release_note:skip, Feature:Security/Authorization, v9.0.0, backport:prev-major, v8.16.0, v8.17.0

#198795 [8.x] Create portable dashboard for OTel .NET runtime metrics (#184842)
  packages/kbn-apm-synthtrace-client/src/types/agent_names.ts
  x-pack/plugins/observability_solution/apm/public/components/app/metrics/static_dashboard/dashboards/dashboard_catalog.ts
  x-pack/plugins/observability_solution/apm/public/components/app/metrics/static_dashboard/dashboards/opentelemetry_dotnet.json
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#197222 [ECO][Inventory] Redirect ECS k8s entities to dashboards
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/index.ts
  x-pack/packages/observability/observability_utils/es/utils/esql_result_to_plain_objects.test.ts
  x-pack/packages/observability/observability_utils/es/utils/esql_result_to_plain_objects.ts
  x-pack/plugins/entity_manager/public/lib/entity_client.test.ts
  x-pack/plugins/entity_manager/public/lib/entity_client.ts
  x-pack/plugins/observability_solution/apm/common/entities/types.ts
  x-pack/plugins/observability_solution/apm/common/es_fields/entities.ts
  x-pack/plugins/observability_solution/infra/public/components/asset_details/hooks/use_entity_summary.ts
  x-pack/plugins/observability_solution/infra/public/components/asset_details/tabs/processes/processes.tsx
  x-pack/plugins/observability_solution/infra/server/routes/entities/index.ts
  x-pack/plugins/observability_solution/inventory/common/entities.ts
  x-pack/plugins/observability_solution/inventory/common/utils/parse_identity_field_values_to_kql.test.ts
  x-pack/plugins/observability_solution/inventory/common/utils/parse_identity_field_values_to_kql.ts
  x-pack/plugins/observability_solution/inventory/common/utils/unflatten_entity.ts
  x-pack/plugins/observability_solution/inventory/public/components/alerts_badge/alerts_badge.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/alerts_badge/alerts_badge.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/entity_name/entity_name.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/entity_name/index.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entity_icon/index.tsx
  x-pack/plugins/observability_solution/inventory/public/hooks/use_detail_view_redirect.test.ts
  x-pack/plugins/observability_solution/inventory/public/hooks/use_detail_view_redirect.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_identify_fields.test.ts
  x-pack/plugins/observability_solution/inventory/server/routes/has_data/get_has_data.ts
  x-pack/plugins/observability_solution/inventory/tsconfig.json
  x-pack/plugins/observability_solution/observability_shared/common/entity/entity_types.ts
  x-pack/plugins/observability_solution/observability_shared/common/entity/index.ts
  x-pack/plugins/observability_solution/observability_shared/common/index.ts
  x-pack/plugins/observability_solution/observability_shared/common/locators/apm/service_overview_locator.ts
Labels: release_note:skip, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-infra_services

#198764 [8.x] [ObsUx][Infra] Processes Tab: Fix failling test (#197823)
  x-pack/test/functional/apps/infra/node_details.ts
Labels: backport

#198702 [ML] Enable change point detection functional tests
  x-pack/plugins/aiops/public/components/change_point_detection/fields_config.tsx
  x-pack/test/functional/apps/aiops/change_point_detection.ts
  x-pack/test/functional/services/aiops/change_point_detection_page.ts
Labels: :ml, release_note:skip, v9.0.0, Team:ML, Feature:ML/AIOps, v8.16.0, backport:version, v8.17.0

#198798 [8.x] [Lens] revert Select line chart by default if the x-axis contains a timestamp (#198555)
  x-pack/plugins/lens/public/visualizations/xy/xy_suggestions.test.ts
  x-pack/plugins/lens/public/visualizations/xy/xy_suggestions.ts
  x-pack/test/functional/apps/lens/group1/multiple_data_views.ts
Labels: backport

#198770 [Dashboard] Keep pinned filters on dashboard reset
  src/plugins/dashboard/public/dashboard_container/state/dashboard_container_reducers.ts
Labels: bug, Feature:Dashboard, Team:Presentation, loe:small, release_note:skip, impact:medium, backport:prev-minor

#198804 [8.x] fix: [Stateful: Home page] Not accessible element, showing number of active API keys, via keyboard (#197456)
  x-pack/plugins/enterprise_search/public/applications/shared/api_key/api_key_panel.tsx
  x-pack/plugins/enterprise_search/public/applications/shared/getting_started/panels/api_key_panel_content.tsx
Labels: backport

#198003 fix: [Stateful: Connectors:New connector page]Copy buttons are missing their name during announcement
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/components/generated_config_fields.tsx
Labels: Project:Accessibility, release_note:skip, v9.0.0, Team:Search, backport:prev-minor

#197212 fix: [Stateful: Indices: Overview page] Wrong focus order after generating API key on the dialog
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/components/generate_api_key_modal/modal.tsx
Labels: Project:Accessibility, release_note:skip, v9.0.0, Team:Search, backport:prev-minor

#198560 [Security Solution][Endpoint] Enable API test for creation of DOT prefixed indices for serverless MKI runs
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/policy/trial_license_complete_tier/datastream_index_creation.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows, v8.17.0

#198337 [ML] Unauthorized route migration for routes owned by ml-ui
  x-pack/plugins/aiops/server/routes/categorization_field_validation/define_route.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/define_route.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis_field_candidates/define_route.ts
  x-pack/plugins/ml/server/routes/system.ts
  x-pack/plugins/transform/server/routes/api/audit_messages/register_route.ts
  x-pack/plugins/transform/server/routes/api/delete_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/field_histograms/register_route.ts
  x-pack/plugins/transform/server/routes/api/reauthorize_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/reset_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/schedule_now_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/start_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/stop_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_all/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_create/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_nodes/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_preview/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_single/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_stats_all/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_stats_single/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_update/register_route.ts
Labels: enhancement, :ml, release_note:skip, Feature:Security/Authorization, backport:prev-minor, Authz: API migration

#198808 [8.x] [Fleet] Add &lt;type&gt;@custom component template to integrations index te… (#192731)
  x-pack/plugins/fleet/server/constants/fleet_es_assets.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_save_system_object.test.ts
  x-pack/test/fleet_api_integration/apis/epm/__snapshots__/bulk_get_assets.snap
  x-pack/test/fleet_api_integration/apis/epm/install_by_upload.ts
  x-pack/test/fleet_api_integration/apis/epm/install_overrides.ts
  x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/update_assets.ts
  x-pack/test/fleet_api_integration/apis/package_policy/input_package_create_upgrade.ts
  x-pack/test/fleet_api_integration/apis/package_policy/update.ts
  x-pack/test/fleet_api_integration/apis/package_policy/upgrade.ts
Labels: backport, Team:Fleet

#198622 [Security solution] Update LangChain packages to latest
  package.json
  x-pack/packages/kbn-langchain/server/language_models/mocks/index.ts
  x-pack/packages/kbn-langchain/server/language_models/types.ts
  yarn.lock
Labels: release_note:skip, v9.0.0, Team: SecuritySolution, backport:prev-minor, Team:Security Generative AI, v8.17.0

#198625 [ML] Fix page header right side items flex responsiveness
  x-pack/plugins/aiops/public/components/page_header/page_header.tsx
  x-pack/plugins/data_visualizer/public/application/data_drift/data_drift_page.tsx
Labels: release_note:skip, v9.0.0, v8.16.0, backport:version, v8.17.0

#198814 [8.x] [Authz] Fix description generation for Open API spec for an API (#198054)
  oas_docs/bundle.json
  oas_docs/output/kibana.yaml
  packages/kbn-router-to-openapispec/src/extract_authz_description.test.ts
  packages/kbn-router-to-openapispec/src/extract_authz_description.ts
  packages/kbn-router-to-openapispec/src/process_router.test.ts
  packages/kbn-router-to-openapispec/src/process_router.ts
  packages/kbn-router-to-openapispec/src/process_versioned_router.test.ts
  packages/kbn-router-to-openapispec/src/process_versioned_router.ts
Labels: backport

#198815 [8.x] [ECO][Inventory] Redirect ECS k8s entities to dashboards (#197222)
  packages/kbn-apm-synthtrace-client/src/lib/entities/kubernetes/index.ts
  x-pack/packages/observability/observability_utils/es/utils/esql_result_to_plain_objects.test.ts
  x-pack/packages/observability/observability_utils/es/utils/esql_result_to_plain_objects.ts
  x-pack/plugins/entity_manager/public/lib/entity_client.test.ts
  x-pack/plugins/entity_manager/public/lib/entity_client.ts
  x-pack/plugins/observability_solution/apm/common/entities/types.ts
  x-pack/plugins/observability_solution/apm/common/es_fields/entities.ts
  x-pack/plugins/observability_solution/infra/public/components/asset_details/hooks/use_entity_summary.ts
  x-pack/plugins/observability_solution/infra/public/components/asset_details/tabs/processes/processes.tsx
  x-pack/plugins/observability_solution/infra/server/routes/entities/index.ts
  x-pack/plugins/observability_solution/inventory/common/entities.ts
  x-pack/plugins/observability_solution/inventory/common/utils/parse_identity_field_values_to_kql.test.ts
  x-pack/plugins/observability_solution/inventory/common/utils/parse_identity_field_values_to_kql.ts
  x-pack/plugins/observability_solution/inventory/common/utils/unflatten_entity.ts
  x-pack/plugins/observability_solution/inventory/public/components/alerts_badge/alerts_badge.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/alerts_badge/alerts_badge.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/entity_name/entity_name.test.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entities_grid/entity_name/index.tsx
  x-pack/plugins/observability_solution/inventory/public/components/entity_icon/index.tsx
  x-pack/plugins/observability_solution/inventory/public/hooks/use_detail_view_redirect.test.ts
  x-pack/plugins/observability_solution/inventory/public/hooks/use_detail_view_redirect.ts
  x-pack/plugins/observability_solution/inventory/server/routes/entities/get_identify_fields.test.ts
  x-pack/plugins/observability_solution/inventory/server/routes/has_data/get_has_data.ts
  x-pack/plugins/observability_solution/inventory/tsconfig.json
  x-pack/plugins/observability_solution/observability_shared/common/entity/entity_types.ts
  x-pack/plugins/observability_solution/observability_shared/common/entity/index.ts
  x-pack/plugins/observability_solution/observability_shared/common/index.ts
  x-pack/plugins/observability_solution/observability_shared/common/locators/apm/service_overview_locator.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#198818 [8.x] [ML] Enable change point detection functional tests (#198702)
  x-pack/plugins/aiops/public/components/change_point_detection/fields_config.tsx
  x-pack/test/functional/apps/aiops/change_point_detection.ts
  x-pack/test/functional/services/aiops/change_point_detection_page.ts
Labels: backport

#198817 [8.16] [ML] Enable change point detection functional tests (#198702)
  x-pack/plugins/aiops/public/components/change_point_detection/fields_config.tsx
  x-pack/test/functional/apps/aiops/change_point_detection.ts
  x-pack/test/functional/services/aiops/change_point_detection_page.ts
Labels: backport

#198822 [8.x] fix: [Stateful: Connectors:New connector page]Copy buttons are missing their name during announcement (#198003)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/components/generated_config_fields.tsx
Labels: backport

#198826 [8.x] [ML] Unauthorized route migration for routes owned by kibana-presentation,ml-ui (#198350)
  x-pack/plugins/file_upload/server/routes.ts
Labels: backport

#198179 [ML] AIOps Log rate analysis: switch to Rerun analysis copy if search bar search changes
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_results.tsx
Labels: :ml, release_note:skip, v9.0.0, Feature:ML/AIOps, backport:version, v8.17.0

#198825 [8.x] [ML] Unauthorized route migration for routes owned by ml-ui (#198337)
  x-pack/plugins/aiops/server/routes/categorization_field_validation/define_route.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/define_route.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis_field_candidates/define_route.ts
  x-pack/plugins/ml/server/routes/system.ts
  x-pack/plugins/transform/server/routes/api/audit_messages/register_route.ts
  x-pack/plugins/transform/server/routes/api/delete_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/field_histograms/register_route.ts
  x-pack/plugins/transform/server/routes/api/reauthorize_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/reset_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/schedule_now_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/start_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/stop_transforms/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_all/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_create/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_nodes/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_preview/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_single/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_stats_all/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_stats_single/register_route.ts
  x-pack/plugins/transform/server/routes/api/transforms_update/register_route.ts
Labels: backport

#198126 [Search] [Playground] [Bug] Fix flaky test
  x-pack/test/functional/apps/search_playground/playground_overview.ess.ts
  x-pack/test_serverless/functional/test_suites/search/search_playground/playground_overview.ts
Labels: release_note:skip, backport:skip, Team:Search

#198828 [8.x] [Security solution] Update LangChain packages to latest (#198622)
  package.json
  x-pack/packages/kbn-langchain/server/language_models/mocks/index.ts
  x-pack/packages/kbn-langchain/server/language_models/types.ts
  yarn.lock
Labels: backport

#198036 [ResponseOps][New Rule Form] Fix new rule form issues with basic license
  packages/kbn-alerts-ui-shared/src/rule_type_modal/components/rule_type_list.test.tsx
  packages/kbn-alerts-ui-shared/src/rule_type_modal/components/rule_type_list.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list_table.tsx
Labels: release_note:skip, Team:ResponseOps, v9.0.0, backport:prev-minor, v8.17.0

#198835 [8.x] [ML] Fix page header right side items flex responsiveness (#198625)
  x-pack/plugins/aiops/public/components/page_header/page_header.tsx
  x-pack/plugins/data_visualizer/public/application/data_drift/data_drift_page.tsx
Labels: backport

#198352 Unauthorized route migration for routes owned by security-scalability
  x-pack/plugins/integration_assistant/server/routes/analyze_logs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/build_integration_routes.ts
  x-pack/plugins/integration_assistant/server/routes/categorization_routes.ts
  x-pack/plugins/integration_assistant/server/routes/cel_routes.ts
  x-pack/plugins/integration_assistant/server/routes/ecs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/pipeline_routes.ts
  x-pack/plugins/integration_assistant/server/routes/related_routes.ts
Labels: enhancement, release_note:skip, Feature:Security/Authorization, backport:prev-minor, Team:Security-Scalability, Authz: API migration

#198705 Update EUI to v97.0.0-backport.2
  package.json
  packages/kbn-securitysolution-exception-list-components/src/list_header/__snapshots__/list_header.test.tsx.snap
  packages/shared-ux/page/kibana_template/impl/src/__snapshots__/page_template.test.tsx.snap
  src/dev/license_checker/config.ts
  src/plugins/saved_objects_management/public/management_section/object_view/components/__snapshots__/header.test.tsx.snap
  yarn.lock
Labels: release_note:skip, EUI, v8.16.0, backport:version

#198452 [ci] Run checks before tests
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/apm_cypress.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/pipelines/pull_request/deploy_cloud.yml
  .buildkite/pipelines/pull_request/exploratory_view_plugin.yml
  .buildkite/pipelines/pull_request/fips.yml
  .buildkite/pipelines/pull_request/fleet_cypress.yml
  .buildkite/pipelines/pull_request/inventory_cypress.yml
  .buildkite/pipelines/pull_request/kbn_handlebars.yml
  .buildkite/pipelines/pull_request/observability_onboarding_cypress.yml
  .buildkite/pipelines/pull_request/profiling_cypress.yml
  .buildkite/pipelines/pull_request/response_ops.yml
  .buildkite/pipelines/pull_request/response_ops_cases.yml
  .buildkite/pipelines/pull_request/security_solution/ai_assistant.yml
  .buildkite/pipelines/pull_request/security_solution/cloud_security_posture.yml
  .buildkite/pipelines/pull_request/security_solution/cypress_burn.yml
  .buildkite/pipelines/pull_request/security_solution/defend_workflows.yml
  .buildkite/pipelines/pull_request/security_solution/detection_engine.yml
  .buildkite/pipelines/pull_request/security_solution/entity_analytics.yml
  .buildkite/pipelines/pull_request/security_solution/explore.yml
  .buildkite/pipelines/pull_request/security_solution/investigations.yml
  .buildkite/pipelines/pull_request/security_solution/osquery_cypress.yml
  .buildkite/pipelines/pull_request/security_solution/playwright.yml
  .buildkite/pipelines/pull_request/security_solution/rule_management.yml
  .buildkite/pipelines/pull_request/slo_plugin_e2e.yml
  .buildkite/pipelines/pull_request/synthetics_plugin.yml
  .buildkite/pipelines/pull_request/uptime_plugin.yml
  .buildkite/pipelines/pull_request/ux_plugin_e2e.yml
Labels: Team:Operations, release_note:skip, backport:prev-major

#198435 [ResponseOps] Remove 7.x deprecated kibana.yml settings
  docs/settings/alert-action-settings.asciidoc
  src/dev/build/tasks/os_packages/docker_generator/resources/base/bin/kibana-docker
  x-pack/plugins/actions/server/actions_client/actions_client.test.ts
  x-pack/plugins/actions/server/actions_config.test.ts
  x-pack/plugins/actions/server/actions_config.ts
  x-pack/plugins/actions/server/config.test.ts
  x-pack/plugins/actions/server/config.ts
  x-pack/plugins/actions/server/index.test.ts
  x-pack/plugins/actions/server/index.ts
  x-pack/plugins/actions/server/integration_tests/axios_utils_connection.test.ts
  x-pack/plugins/actions/server/integration_tests/axios_utils_proxy.test.ts
  x-pack/plugins/actions/server/lib/custom_host_settings.test.ts
  x-pack/plugins/actions/server/lib/get_custom_agents.ts
  x-pack/plugins/actions/server/plugin.test.ts
  x-pack/plugins/actions/tsconfig.json
  x-pack/plugins/alerting/server/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/send_email.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/send_email.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/connector_types/stack/webhook.ts
  x-pack/test/alerting_api_integration/spaces_only_legacy/tests/actions/connector_types/stack/webhook.ts
Labels: release_note:breaking, backport:skip, Team:ResponseOps, v9.0.0

#198523 [8.x] [Obs AI Assistant] Fix chat on the Alerts page (#197126)
  x-pack/plugins/observability_solution/observability_ai_assistant/server/routes/functions/route.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/chat_function_client/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/chat_function_client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/operators/continue_conversation.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/types.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/util/get_system_message_from_instructions.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/rule_connector/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/rule_connector/index.ts
Labels: backport, Team:Obs AI Assistant, ci:project-deploy-observability

#198552 [7.17] Update ftr (main) (#198455)
  package.json
  yarn.lock
Labels: backport

#198548 [8.15] Update ftr (main) (#198455)
  package.json
  yarn.lock
Labels: backport

#198546 [8.16] Update ftr (main) (#198455)
  package.json
  yarn.lock
Labels: backport

#198544 [8.x] Update ftr (main) (#198455)
  package.json
  yarn.lock
Labels: backport

#198569 Update CODEOWNERS for @kbn/typed-react-router-config
  .github/CODEOWNERS
  packages/kbn-typed-react-router-config/kibana.jsonc
Labels: release_note:skip, backport:skip

#198821 [8.15][ci] Update cloud deployment template (#198674)
  .buildkite/scripts/steps/cloud/deploy.json
Labels: backport, ci:cloud-deploy

#198779 [8.x] [ci] Update cloud deployment template (#198674)
  .buildkite/scripts/steps/cloud/deploy.json
Labels: backport, ci:cloud-deploy

#198778 [8.16] [ci] Update cloud deployment template (#198674)
  .buildkite/scripts/steps/cloud/deploy.json
Labels: backport, ci:cloud-deploy

#198618 [ci] Remove local SSDs
  .buildkite/pipeline-utils/agent_images.ts
  .buildkite/pipelines/artifacts.yml
  .buildkite/pipelines/chrome_forward_testing.yml
  .buildkite/pipelines/es_serverless/verify_es_serverless_image.yml
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pointer_compression.yml
  .buildkite/pipelines/pull_request/security_solution/cypress_burn.yml
  .buildkite/pipelines/pull_request/security_solution/defend_workflows.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_defend_workflows.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_defend_workflows.yml
Labels: Team:Operations, release_note:skip, ci:all-cypress-suites, backport:prev-major

#198841 [8.x] [ML] AIOps Log rate analysis: switch to Rerun analysis copy if search bar search changes (#198179)
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_results.tsx
Labels: backport

#198842 [8.x] [ResponseOps][New Rule Form] Fix new rule form issues with basic license (#198036)
  packages/kbn-alerts-ui-shared/src/rule_type_modal/components/rule_type_list.test.tsx
  packages/kbn-alerts-ui-shared/src/rule_type_modal/components/rule_type_list.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list_table.tsx
Labels: backport

#198837 [8.16] [Authz] Fix description generation for Open API spec for an API (#198054)
  packages/kbn-router-to-openapispec/src/extract_authz_description.test.ts
  packages/kbn-router-to-openapispec/src/extract_authz_description.ts
  packages/kbn-router-to-openapispec/src/process_router.test.ts
  packages/kbn-router-to-openapispec/src/process_router.ts
  packages/kbn-router-to-openapispec/src/process_versioned_router.test.ts
  packages/kbn-router-to-openapispec/src/process_versioned_router.ts
Labels: backport

#198844 [8.x] Unauthorized route migration for routes owned by security-scalability (#198352)
  x-pack/plugins/integration_assistant/server/routes/analyze_logs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/build_integration_routes.ts
  x-pack/plugins/integration_assistant/server/routes/categorization_routes.ts
  x-pack/plugins/integration_assistant/server/routes/cel_routes.ts
  x-pack/plugins/integration_assistant/server/routes/ecs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/pipeline_routes.ts
  x-pack/plugins/integration_assistant/server/routes/related_routes.ts
Labels: backport

#198527 [Response Ops][Actions] Add `deprecations` object for legacy action APIs
  x-pack/plugins/actions/server/routes/legacy/create.test.ts
  x-pack/plugins/actions/server/routes/legacy/create.ts
  x-pack/plugins/actions/server/routes/legacy/delete.test.ts
  x-pack/plugins/actions/server/routes/legacy/delete.ts
  x-pack/plugins/actions/server/routes/legacy/execute.test.ts
  x-pack/plugins/actions/server/routes/legacy/execute.ts
  x-pack/plugins/actions/server/routes/legacy/get.test.ts
  x-pack/plugins/actions/server/routes/legacy/get.ts
  x-pack/plugins/actions/server/routes/legacy/get_all.test.ts
  x-pack/plugins/actions/server/routes/legacy/get_all.ts
  x-pack/plugins/actions/server/routes/legacy/list_action_types.test.ts
  x-pack/plugins/actions/server/routes/legacy/list_action_types.ts
  x-pack/plugins/actions/server/routes/legacy/update.test.ts
  x-pack/plugins/actions/server/routes/legacy/update.ts
Labels: release_note:skip, backport:skip, Feature:Actions, Team:ResponseOps, v8.17.0

#198613 [ci] Reuse .yarn-local-mirror
  .buildkite/scripts/bootstrap.sh
  .buildkite/scripts/common/setup_node.sh
Labels: Team:Operations, release_note:skip, backport:prev-major

#198874 [8.x] [ci] Reuse .yarn-local-mirror (#198613)
  .buildkite/scripts/bootstrap.sh
  .buildkite/scripts/common/setup_node.sh
Labels: backport

#198872 [8.15] [ci] Reuse .yarn-local-mirror (#198613)
  .buildkite/scripts/bootstrap.sh
  .buildkite/scripts/common/setup_node.sh
Labels: backport

#197341 [ES|QL] don't suggest in comments
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/suggestions_in_comments.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  packages/kbn-esql-validation-autocomplete/src/shared/context.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.test.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  packages/kbn-monaco/src/esql/worker/esql_worker.ts
Labels: release_note:fix, v9.0.0, Feature:ES|QL, Team:ESQL, v8.16.0, backport:version, v8.17.0

#196500 [LogsUI] Clean up indices before running no data test suite
  x-pack/test/functional/apps/infra/logs/log_entry_categories_tab.ts
  x-pack/test/functional/apps/infra/logs/log_entry_rate_tab.ts
  x-pack/test/functional/services/logs_ui/index.ts
Labels: release_note:skip, backport:prev-minor, Team:obs-ux-logs

#198861 [Security GenAI] Fix and un-skip Knowledge Base Integration Tests
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.schema.yaml
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/post_knowledge_base.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/entries.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/utils/helpers.ts
Labels: release_note:skip, v9.0.0, Team: SecuritySolution, Team:Security Generative AI, backport:version, v8.17.0, v8.16.1

#198781 [ObsUX] [APM-OTEL] Filter by trace.id instead of transaction.if for dependency spans
  x-pack/plugins/observability_solution/apm/public/components/app/dependency_operation_detail_view/maybe_redirect_to_available_span_sample.ts
  x-pack/plugins/observability_solution/apm/server/routes/dependencies/get_top_dependency_spans.ts
Labels: release_note:skip, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.17.0

#198885 [8.x] [ES|QL] don&#x27;t suggest in comments (#197341)
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/suggestions_in_comments.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  packages/kbn-esql-validation-autocomplete/src/shared/context.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.test.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  packages/kbn-monaco/src/esql/worker/esql_worker.ts
Labels: backport

#197868 [Logs Overview] Improve analyzer by filtering unsuitable tokens
  packages/kbn-apm-synthtrace/src/scenarios/helpers/unstructured_logs.ts
  x-pack/packages/observability/logs_overview/src/services/categorize_logs_service/queries.ts
Labels: release_note:enhancement, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-logs, Team:obs-ux-infra_services

#198667 [ML] Removing validate detector endpoint
  x-pack/plugins/ml/public/application/services/ml_api_service/index.ts
  x-pack/plugins/ml/server/lib/ml_client/types.ts
  x-pack/plugins/ml/server/routes/anomaly_detectors.ts
Labels: non-issue, :ml, Feature:Anomaly Detection, release_note:skip, v9.0.0, backport:version, v8.17.0

#198044 [FTR][Ownership] Assign guided_onboarding, etc
  .github/CODEOWNERS
Labels: release_note:skip, backport:skip

#198888 [8.x] [LogsUI] Clean up indices before running no data test suite (#196500)
  x-pack/test/functional/apps/infra/logs/log_entry_categories_tab.ts
  x-pack/test/functional/apps/infra/logs/log_entry_rate_tab.ts
  x-pack/test/functional/services/logs_ui/index.ts
Labels: backport

#198889 [8.16] [Security GenAI] Fix and un-skip Knowledge Base Integration Tests (#198861)
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.schema.yaml
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/post_knowledge_base.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/entries.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/utils/helpers.ts
Labels: backport

#198248 Clean up loading state for solution nav
  src/plugins/navigation/public/side_navigation/index.tsx
  src/plugins/navigation/tsconfig.json
  x-pack/plugins/serverless/public/navigation/index.tsx
  x-pack/plugins/serverless/tsconfig.json
Labels: release_note:skip, backport:skip, v8.17.0

#198813 [SKIP ON MKI] `x-pack/test_serverless/api_integration/test_suites/common/reporting/datastream.ts`
  x-pack/test_serverless/api_integration/test_suites/common/reporting/datastream.ts
Labels: skipped-test, release_note:skip, backport:skip

#198893 [8.x] [ObsUX] [APM-OTEL] Filter by trace.id instead of transaction.if for dependency spans (#198781)
  x-pack/plugins/observability_solution/apm/public/components/app/dependency_operation_detail_view/maybe_redirect_to_available_span_sample.ts
  x-pack/plugins/observability_solution/apm/server/routes/dependencies/get_top_dependency_spans.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#198890 [8.x] [Security GenAI] Fix and un-skip Knowledge Base Integration Tests (#198861)
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.schema.yaml
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/post_knowledge_base.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/entries.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/utils/helpers.ts
Labels: backport

#198707 [Security GenAI][BUG] Knowledge Base: Show only indices with `semantic_text` fields
  x-pack/packages/kbn-elastic-assistant-common/constants.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/index.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/get_knowledge_base_indices_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/get_knowledge_base_indices_route.schema.yaml
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/api.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/api.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_indices.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_indices.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index_entry_editor.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index_entry_editor.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/translations.ts
  x-pack/plugins/elastic_assistant/server/__mocks__/request.ts
  x-pack/plugins/elastic_assistant/server/routes/index.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_indices.test.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_indices.ts
  x-pack/plugins/elastic_assistant/server/routes/register_routes.ts
  x-pack/test/functional/es_archives/security_solution/semantic_text_fields/data.json
  x-pack/test/functional/es_archives/security_solution/semantic_text_fields/mappings.json
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/semntic_text_indices.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/utils/helpers.ts
Labels: release_note:skip, v9.0.0, Team: SecuritySolution, Team:Security Generative AI, backport:version, v8.17.0, v8.16.1

#197660 [Security Solution] Unskip perform bulk action ESS FTR tests
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_bulk_actions/trial_license_complete_tier/perform_bulk_action_ess.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/rules/get_rule_with_legacy_investigation_fields.ts
Labels: test, failed-test, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, backport:prev-major

#198897 [8.x] [Logs Overview] Improve analyzer by filtering unsuitable tokens (#197868)
  packages/kbn-apm-synthtrace/src/scenarios/helpers/unstructured_logs.ts
  x-pack/packages/observability/logs_overview/src/services/categorize_logs_service/queries.ts
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#198854 [DOCS] Fix links to aggregation-based visualizations
  docs/CHANGELOG.asciidoc
  docs/upgrade-notes.asciidoc
Labels: Team:Docs, release_note:skip, docs, v8.7.2, v8.8.3, v8.9.3, v8.10.5, v8.11.5, v8.12.3, v8.13.5, v8.16.0, v8.14.4, backport:version, v8.17.0, v8.15.4

#198916 [8.16] [DOCS] Fix links to aggregation-based visualizations (#198854)
  docs/CHANGELOG.asciidoc
  docs/upgrade-notes.asciidoc
Labels: backport

#198827 Adds cleanup to serverless platform security authorization test suite
  x-pack/test_serverless/api_integration/test_suites/common/platform_security/authorization.ts
Labels: Team:Security, release_note:skip, backport:skip, v9.0.0, FTR

#198917 [8.x] [DOCS] Fix links to aggregation-based visualizations (#198854)
  docs/CHANGELOG.asciidoc
  docs/upgrade-notes.asciidoc
Labels: backport

#198906 [8.16] [Security GenAI][BUG] Knowledge Base: Show only indices with &#x60;semantic_text&#x60; fields (#198707)
  x-pack/packages/kbn-elastic-assistant-common/constants.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/index.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/get_knowledge_base_indices_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/get_knowledge_base_indices_route.schema.yaml
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/api.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/api.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_indices.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_indices.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index_entry_editor.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index_entry_editor.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/translations.ts
  x-pack/plugins/elastic_assistant/server/__mocks__/request.ts
  x-pack/plugins/elastic_assistant/server/routes/index.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_indices.test.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_indices.ts
  x-pack/plugins/elastic_assistant/server/routes/register_routes.ts
  x-pack/test/functional/es_archives/security_solution/semantic_text_fields/data.json
  x-pack/test/functional/es_archives/security_solution/semantic_text_fields/mappings.json
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/semntic_text_indices.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/utils/helpers.ts
Labels: backport

#198907 [8.x] [Security GenAI][BUG] Knowledge Base: Show only indices with &#x60;semantic_text&#x60; fields (#198707)
  x-pack/packages/kbn-elastic-assistant-common/constants.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/index.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/get_knowledge_base_indices_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/knowledge_base/get_knowledge_base_indices_route.schema.yaml
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/api.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/api.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_indices.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_indices.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index_entry_editor.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index_entry_editor.tsx
  x-pack/packages/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/translations.ts
  x-pack/plugins/elastic_assistant/server/__mocks__/request.ts
  x-pack/plugins/elastic_assistant/server/routes/index.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_indices.test.ts
  x-pack/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_indices.ts
  x-pack/plugins/elastic_assistant/server/routes/register_routes.ts
  x-pack/test/functional/es_archives/security_solution/semantic_text_fields/data.json
  x-pack/test/functional/es_archives/security_solution/semantic_text_fields/mappings.json
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/trial_license_complete_tier/semntic_text_indices.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/knowledge_base/entries/utils/helpers.ts
Labels: backport

#198908 [8.16] [Security Solution] Unskip perform bulk action ESS FTR tests (#197660)
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_bulk_actions/trial_license_complete_tier/perform_bulk_action_ess.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/rules/get_rule_with_legacy_investigation_fields.ts
Labels: backport

#198794 Don't shutdown server until we're done with the starting phase
  src/core/server/integration_tests/saved_objects/migrations/group3/incompatible_cluster_routing_allocation.test.ts
Labels: Team:Core, release_note:skip, backport:prev-minor

#198909 [8.x] [Security Solution] Unskip perform bulk action ESS FTR tests (#197660)
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_bulk_actions/trial_license_complete_tier/perform_bulk_action_ess.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/rules/get_rule_with_legacy_investigation_fields.ts
Labels: backport

#198914 [Observability] [Alerts table] Fix cannot display alerts error
  x-pack/plugins/observability_solution/observability/public/components/alert_overview/helpers/map_rules_params_with_flyout.ts
Labels: release_note:skip, v9.0.0, ci:project-deploy-observability, Team:obs-ux-management, v8.16.0, backport:version, v8.17.0, v8.15.4

#198919 [8.x] migrate es query rule tests to the deployment agnostic framework (#195715)
  x-pack/test/api_integration/deployment_agnostic/apis/observability/alerting/es_query_rule.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/alerting/index.ts
  x-pack/test_serverless/api_integration/test_suites/observability/index.ts
Labels: backport

#198928 [Spaces solution tour] Fix functional test
  x-pack/test/functional/apps/spaces/solution_view_flag_enabled/solution_tour.ts
Labels: Feature:Security/Spaces, release_note:skip, backport:prev-minor

#198937 [8.x] Don&#x27;t shutdown server until we&#x27;re done with the starting phase (#198794)
  src/core/server/integration_tests/saved_objects/migrations/group3/incompatible_cluster_routing_allocation.test.ts
Labels: backport

#198936 [8.x] [Fleet] [Security Solution] Install prebuilt rules package using stream-based approach (#195888)
  x-pack/plugins/fleet/common/types/models/epm.ts
  x-pack/plugins/fleet/server/routes/epm/file_handler.test.ts
  x-pack/plugins/fleet/server/routes/epm/file_handler.ts
  x-pack/plugins/fleet/server/routes/epm/kibana_assets_handler.ts
  x-pack/plugins/fleet/server/services/epm/archive/archive_iterator.ts
  x-pack/plugins/fleet/server/services/epm/archive/extract.ts
  x-pack/plugins/fleet/server/services/epm/archive/index.ts
  x-pack/plugins/fleet/server/services/epm/archive/parse.ts
  x-pack/plugins/fleet/server/services/epm/archive/storage.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/ingest_pipeline/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/transform/mappings.test.ts
  x-pack/plugins/fleet/server/services/epm/kibana/assets/install.ts
  x-pack/plugins/fleet/server/services/epm/kibana/assets/install_with_streaming.ts
  x-pack/plugins/fleet/server/services/epm/package_service.ts
  x-pack/plugins/fleet/server/services/epm/packages/assets.ts
  x-pack/plugins/fleet/server/services/epm/packages/get.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/_state_machine_package_install.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/_state_machine_package_install.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_create_restart_installation.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_delete_previous_pipelines.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_install_ilm_policies.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_install_index_template_pipelines.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_install_kibana_assets.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_install_kibana_assets.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_install_mlmodel.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_install_transforms.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_remove_legacy_templates.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_save_archive_entries.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_save_archive_entries.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_save_system_object.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/step_update_current_write_indices.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_state_machine/steps/update_latest_executed_state.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/remove.ts
  x-pack/plugins/fleet/server/services/epm/registry/index.ts
  x-pack/plugins/fleet/server/services/package_policies/experimental_datastream_features.ts
  x-pack/test/fleet_api_integration/apis/epm/index.js
  x-pack/test/fleet_api_integration/apis/epm/install_by_upload.ts
  x-pack/test/fleet_api_integration/apis/epm/install_with_streaming.ts
  x-pack/test/fleet_api_integration/apis/fixtures/test_packages/security_detection_engine/security_detection_engine-8.16.0.zip
Labels: backport, Team:Fleet
