Repository elastic/kibana, pull requests merged in 2024-03, with the labels that each got.

#177132 [Cases] Fix plugin lifecycle inconsistencies
  x-pack/plugins/aiops/public/cases/register_change_point_charts_attachment.tsx
  x-pack/plugins/aiops/public/hooks/use_aiops_app_context.ts
  x-pack/plugins/aiops/public/types.ts
  x-pack/plugins/aiops/server/register_cases.ts
  x-pack/plugins/aiops/server/types.ts
  x-pack/plugins/cases/kibana.jsonc
  x-pack/plugins/cases/public/client/api/index.ts
  x-pack/plugins/cases/public/common/lib/kibana/services.ts
  x-pack/plugins/cases/public/components/utils.ts
  x-pack/plugins/cases/public/components/visualizations/actions/types.ts
  x-pack/plugins/cases/public/index.tsx
  x-pack/plugins/cases/public/mocks.ts
  x-pack/plugins/cases/public/plugin.test.ts
  x-pack/plugins/cases/public/plugin.ts
  x-pack/plugins/cases/public/types.ts
  x-pack/plugins/cases/server/index.ts
  x-pack/plugins/cases/server/mocks.ts
  x-pack/plugins/cases/server/plugin.test.ts
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/server/types.ts
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/cases/register_anomaly_charts_attachment.tsx
  x-pack/plugins/ml/public/cases/register_anomaly_swim_lane_attachment.tsx
  x-pack/plugins/ml/public/cases/register_cases_attachments.ts
  x-pack/plugins/ml/public/plugin.ts
  x-pack/plugins/ml/server/lib/register_cases.ts
  x-pack/plugins/ml/server/plugin.ts
  x-pack/plugins/ml/server/types.ts
  x-pack/plugins/observability_solution/apm/kibana.jsonc
  x-pack/plugins/observability_solution/exploratory_view/public/application/types.ts
  x-pack/plugins/observability_solution/exploratory_view/public/plugin.ts
  x-pack/plugins/observability_solution/infra/public/types.ts
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/types.ts
  x-pack/plugins/observability_solution/observability/public/embeddable/slo/alerts/slo_alerts_embeddable.tsx
  x-pack/plugins/observability_solution/observability/public/pages/alert_details/components/header_actions.test.tsx
  x-pack/plugins/observability_solution/observability/public/plugin.ts
  x-pack/plugins/observability_solution/observability_shared/public/plugin.ts
  x-pack/plugins/observability_solution/synthetics/public/plugin.ts
  x-pack/plugins/observability_solution/uptime/public/plugin.ts
  x-pack/plugins/osquery/public/types.ts
  x-pack/plugins/osquery/server/types.ts
  x-pack/plugins/security_solution/public/types.ts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/plugin_contract.ts
  x-pack/plugins/threat_intelligence/public/types.ts
  x-pack/plugins/threat_intelligence/server/types.ts
  x-pack/plugins/timelines/public/types.ts
  x-pack/test/cases_api_integration/common/plugins/cases/server/plugin.ts
  x-pack/test/functional_with_es_ssl/plugins/cases/public/application.tsx
  x-pack/test/functional_with_es_ssl/plugins/cases/public/plugin.ts
  x-pack/test/functional_with_es_ssl/plugins/cases/server/plugin.ts
Labels: chore, release_note:skip, Team:ResponseOps, Feature:Cases, Team:obs-ux-infra_services, Team:obs-ux-management, v8.14.0

#176464 [Cloud Security] Flaky FTR fix
  x-pack/test/cloud_security_posture_functional/page_objects/rule_page.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.13.0

#177886 [Cloud Security] Removed unused / duplicate function
  x-pack/plugins/cloud_security_posture/public/pages/configurations/findings_flyout/findings_detection_rule_counter.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/findings_flyout/findings_flyout.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/utils/create_detection_rule_from_benchmark.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/utils/create_detection_rule_from_finding.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_detection_rule_counter.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_flyout.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.13.0

#177887 [Cloud Security] Fix for console error message in rules benchmark page
  x-pack/plugins/cloud_security_posture/public/common/api/use_fetch_detection_rules_by_tags.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.13.0

#177577 [Security Solution] Unskip flacky cellActions test
  x-pack/test/security_solution_cypress/cypress/e2e/explore/network/hover_actions.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/network/flows.ts
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.13.0

#176597 [Detection Engine][Rule Suppression] Eql suppression Backend implementation and FTR tests for Non-sequence queries
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/serverless_upgrade_and_rollback_checks.test.ts.snap
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/eql/create_eql_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/eql/eql.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/eql/eql.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/bulk_create_suppressed_alerts_in_memory.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/is_alert_suppression_active.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/is_alert_suppression_active.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/search_after_bulk_create_suppressed_alerts.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/wrap_suppressed_alerts.ts
  x-pack/test/security_solution_api_integration/config/ess/config.base.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/eql_alert_suppresssion.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/index.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/prebuilt_rules_preview.cy.ts
Labels: release_note:skip

#177578 [Security Solution][Detection Engine] fixes multiple index requests
  x-pack/plugins/security_solution/public/common/store/reducer.test.tsx
  x-pack/plugins/security_solution/public/common/store/reducer.ts
  x-pack/plugins/security_solution/public/common/store/sourcerer/model.ts
  x-pack/plugins/security_solution/public/common/store/sourcerer/selectors.ts
  x-pack/plugins/security_solution/public/common/store/store.ts
  x-pack/plugins/security_solution/public/detections/components/user_info/index.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_signal_index.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/alerts/use_signal_index.tsx
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, 8.14 candidate

#177914 [APM] Infinite Loop Caused by Matching Child and Parent IDs
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/index.tsx
Labels: release_note:fix, Team:obs-ux-infra_services, v8.13.0

#177911 [App Search] Fix document URL in query analytics page
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/components/analytics_tables/query_clicks_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/components/analytics_tables/query_clicks_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/types.ts
Labels: release_note:skip, Team:EnterpriseSearch, backport:prev-minor, v8.14.0

#177847 [APM] Update Indices API to support sourcemap param
  x-pack/plugins/observability_solution/apm/scripts/test/api.js
  x-pack/plugins/observability_solution/apm/scripts/test/e2e.js
  x-pack/plugins/observability_solution/apm/server/routes/settings/apm_indices/route.ts
  x-pack/test/apm_api_integration/tests/settings/apm_indices/apm_indices.spec.ts
Labels: release_note:fix, Team:obs-ux-infra_services, v8.13.0

#177714 [Infra] Add obs-ux-infra-servicess to metrics-data-access owners
  .github/CODEOWNERS
  x-pack/plugins/metrics_data_access/kibana.jsonc
Labels: release_note:skip, Team:obs-knowledge, Team:obs-ux-infra_services

#177929 [8.13] [App Search] Fix document URL in query analytics page (#177911)
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/components/analytics_tables/query_clicks_table.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/components/analytics_tables/query_clicks_table.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/analytics/types.ts
Labels: backport

#177871 [SLO] increase retry for time on api integration test
  x-pack/test/api_integration/apis/slos/get_slo.ts
Labels: test, release_note:skip, Team:obs-ux-management, v8.13.0, v8.14.0

#177370 [data views] Field retrieval - better handling of closed indices
  src/plugins/data_views/server/fetcher/lib/es_api.ts
  test/api_integration/apis/data_views/fields_for_wildcard_route/response.ts
Labels: Feature:Data Views, release_note:skip, Team:DataDiscovery

#177928 [8.13] [APM] Infinite Loop Caused by Matching Child and Parent IDs (#177914)
  x-pack/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/index.tsx
Labels: backport, Team:obs-ux-infra_services

#177926 [Profiling] Allow paginating all Topn functions
  x-pack/plugins/observability_solution/profiling/public/components/differential_topn_functions_grid/index.tsx
  x-pack/plugins/observability_solution/profiling/public/components/topn_functions/index.tsx
Labels: release_note:skip, Team:obs-ux-infra_services, v8.13.0, v8.14.0

#177747 [Infra UI] Wrap infra content in RedirectAppLinks
  x-pack/plugins/observability_solution/infra/public/apps/common_providers.tsx
  x-pack/plugins/observability_solution/infra/public/components/asset_details/components/services_tooltip_content.tsx
  x-pack/plugins/observability_solution/infra/public/components/asset_details/links/link_to_alerts_page.tsx
  x-pack/plugins/observability_solution/infra/public/components/asset_details/links/link_to_apm_service.tsx
  x-pack/plugins/observability_solution/infra/public/components/asset_details/links/link_to_apm_services.tsx
  x-pack/plugins/observability_solution/infra/public/components/asset_details/tabs/logs/logs.tsx
  x-pack/plugins/observability_solution/infra/public/components/subscription_splash_content.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/hosts/components/tabs/logs/logs_link_to_stream.tsx
Labels: release_note:skip, backport:skip, Team:obs-ux-infra_services

#177723 [8.13] [DataViews] Improve management functional tests for serverless (#177146)
  src/plugins/data_view_editor/public/components/form_fields/timestamp_field.tsx
  test/functional/page_objects/settings_page.ts
Labels: backport

#177900 [maps] fix Request-URI Too Long (414) with heatmap layer when data view has larger number of date fields
  x-pack/plugins/maps/common/mvt_request_body.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.test.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.tsx
  x-pack/plugins/maps/public/inspector/vector_tile_adapter/components/get_tile_request.test.ts
  x-pack/test/functional/apps/maps/group4/mvt_geotile_grid.js
Labels: release_note:fix, Team:Presentation, Feature:Maps, v8.13.0, v8.14.0

#177939 [8.13] [Profiling] Allow paginating all Topn functions (#177926)
  x-pack/plugins/profiling/public/components/differential_topn_functions_grid/index.tsx
  x-pack/plugins/profiling/public/components/topn_functions/index.tsx
Labels: backport

#177933 [8.13] [APM] Update Indices API to support sourcemap param (#177847)
  x-pack/plugins/apm/server/routes/settings/apm_indices/route.ts
  x-pack/test/apm_api_integration/tests/settings/apm_indices/apm_indices.spec.ts
Labels: backport, Team:obs-ux-infra_services

#177866 console(embeddable): only load deps when null
  src/plugins/console/public/application/containers/embeddable/console_wrapper.tsx
Labels: release_note:skip, Team:Search, v8.13.0, v8.14.0

#177936 [Search] Update help text error condition to avoid confusion on attach box
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/attach_index_box.tsx
Labels: bug, release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#177945 [8.13] [maps] fix Request-URI Too Long (414) with heatmap layer when data view has larger number of date fields (#177900)
  x-pack/plugins/maps/common/mvt_request_body.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.test.ts
  x-pack/plugins/maps/public/classes/sources/es_geo_grid_source/es_geo_grid_source.tsx
  x-pack/plugins/maps/public/inspector/vector_tile_adapter/components/get_tile_request.test.ts
  x-pack/test/functional/apps/maps/group4/mvt_geotile_grid.js
Labels: backport

#177942 Remove max_concurrent_tasks from outlook native connector definition
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: release_note:skip, Team:EnterpriseSearch, backport:prev-minor, v8.13.0

#177943 [Search] Update the docs count field to use _count instead of total count
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_stats.tsx
Labels: bug, release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#177060 [RAM] Fix editing alerts filter on multi-consumer rule types
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
Labels: release_note:fix, Team:ResponseOps, Feature:Alerting/RulesManagement, v8.13.0, v8.12.2

#177948 [Search] Fix line break bug in Crawler name page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/new_search_index_template.tsx
Labels: bug, release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#177954 [8.13] [Search] Update help text error condition to avoid confusion on attach box (#177936)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/attach_index_box.tsx
Labels: backport

#177226 [Security Solution][Detection Engine] fixes potentially flaky tests
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/esql.ts
  x-pack/test/security_solution_cypress/cypress/tasks/create_new_rule.ts
Labels: release_note:skip, Team: SecuritySolution, backport:prev-minor, Team:Detection Engine, 8.13 candidate

#177953 [8.13] console(embeddable): only load deps when null (#177866)
  src/plugins/console/public/application/containers/embeddable/console_wrapper.tsx
Labels: backport

#177955 [8.13] [Security Solution][Endpoint] Show offline callout for sentinel one agent (#177941)
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/offline_callout.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/components/offline_callout.tsx
  x-pack/plugins/security_solution/public/management/hooks/use_with_show_responder.tsx
Labels: backport

#177963 [8.13] [RAM] Fix editing alerts filter on multi-consumer rule types (#177060)
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
Labels: backport

#177951 [Console] fix(embeddable): lower control bar z-index by 2
  src/plugins/console/public/application/containers/embeddable/_embeddable_console.scss
Labels: backport, release_note:skip, Team:Search, v8.13.0, v8.14.0

#177957 [8.13] Remove max_concurrent_tasks from outlook native connector definition (#177942)
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: backport

#177967 [8.13] [Search] Fix line break bug in Crawler name page (#177948)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/new_index/new_search_index_template.tsx
Labels: backport

#177968 [8.13] [Security Solution][Detection Engine] fixes potentially flaky tests (#177226)
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/esql.ts
  x-pack/test/security_solution_cypress/cypress/tasks/create_new_rule.ts
Labels: backport

#177969 [8.13] [Console] fix(embeddable): lower control bar z-index by 2 (#177951)
  src/plugins/console/public/application/containers/embeddable/_embeddable_console.scss
Labels: backport

#177623 [SLOs] Removes custom implementation for badges via portal
  x-pack/plugins/observability_solution/observability/public/components/slo/slo_status_badge/slo_status_badge.tsx
  x-pack/plugins/observability_solution/observability/public/embeddable/slo/common/slo_overview_details.tsx
  x-pack/plugins/observability_solution/observability/public/embeddable/slo/overview/slo_overview.tsx
  x-pack/plugins/observability_solution/observability/public/embeddable/slo/overview/slo_overview_grid.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/components/header_title.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/components/slo_details.stories.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/components/slo_details.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/hooks/use_slo_details_tabs.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/slo_details.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slos/components/badges/slo_indicator_type_badge.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slos/components/badges/slo_time_window_badge.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slos/components/card_view/badges_portal.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slos/components/card_view/slo_card_item.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slos/components/card_view/slo_card_item_badges.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slos/slos.test.tsx
  x-pack/plugins/observability_solution/observability_shared/public/components/tags_list/tags_list.tsx
Labels: release_note:skip, Team:obs-ux-management

#177683 [8.13] [DataView] Show previously selected no time field setting (#177221)
  src/plugins/data_view_editor/public/components/data_view_editor_flyout_content.tsx
  src/plugins/data_view_editor/public/lib/extract_time_fields.ts
  test/functional/apps/management/data_views/_data_view_create_delete.ts
  test/functional/page_objects/settings_page.ts
Labels: backport

#177435 [SearchSession] Switch to a static search session status list
  src/plugins/data/public/search/session/sessions_mgmt/components/table/status_filter.tsx
Labels: release_note:fix, backport:skip, Team:DataDiscovery, Feature:Search Sessions

#177931 [Infra] Split infra plugin ownership
  .github/CODEOWNERS
Labels: release_note:skip, Team:obs-ux-logs, Team:obs-ux-infra_services

#177895 [Obs ai assistant] Supports table visualization
  x-pack/plugins/lens/public/lens_suggestions_api.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/common/functions/visualize_esql.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/public/functions/visualize_esql.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/query/index.ts
Labels: release_note:skip, backport:prev-minor, Team:Obs AI Assistant, Feature:ES|QL, v8.13.0, v8.14.0

#177865 fix: [Dashboard > Detection & Response][AXE-CORE]: Text must have contrast ratio of 4.5:1 or higher
  x-pack/plugins/security_solution/public/common/components/charts/donutchart.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Feature:Security Dashboards, v8.13.0, v8.14.0

#177846 fix: [Explore > Users][AXE-CORE]: Text must have contrast ratio of 4.5:1 or higher
  x-pack/plugins/security_solution/public/common/components/empty_value/empty_value.test.tsx
  x-pack/plugins/security_solution/public/common/components/empty_value/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/__snapshots__/index.test.tsx.snap
Labels: release_note:skip, Team: SecuritySolution, Feature:Users, v8.13.0, v8.14.0

#177801 fix: [Rules > Create new detection rule][AXE-CORE]: Form elements must have an accessible label
  x-pack/plugins/security_solution/public/detection_engine/rule_creation/components/pick_timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/search_super_select/index.tsx
Labels: release_note:skip, Feature:Detection Rules, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rule Management, v8.13.0, v8.14.0

#177205 fix: #[Rules > Detection rules][AXE-CORE]: Form elements must have anaccessible label
  x-pack/plugins/security_solution/public/common/components/import_data_modal/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/import_data_modal/index.tsx
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rule Management, v8.13.0, v8.14.0

#177977 chore: bump `es5-ext` from `0.10.46` to `0.10.64`
  yarn.lock
Labels: chore, release_note:skip, backport:all-open

#177979 [8.13] [ML] Fixing quick create geo job created by ID (#177691)
  x-pack/plugins/ml/common/constants/new_job.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_map/quick_create_job.ts
  x-pack/plugins/ml/public/application/jobs/new_job/pages/index_or_search/preconfigured_job_redirect.ts
Labels: backport

#177980 [Cases] Use the default value of observables on the `useApplication` hook
  x-pack/plugins/cases/public/components/cases_context/use_application.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.13.0, v8.14.0

#177983 [8.13] fix: [Explore &gt; Users][AXE-CORE]: Text must have contrast ratio of 4.5:1 or higher (#177846)
  x-pack/plugins/security_solution/public/common/components/empty_value/empty_value.test.tsx
  x-pack/plugins/security_solution/public/common/components/empty_value/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/side_panel/__snapshots__/index.test.tsx.snap
Labels: backport

#177984 [8.13] fix: [Rules &gt; Create new detection rule][AXE-CORE]: Form elements must have an accessible label (#177801)
  x-pack/plugins/security_solution/public/detection_engine/rule_creation/components/pick_timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/search_super_select/index.tsx
Labels: backport

#177772 [Advanced Settings] Fix code editor field
  packages/kbn-management/settings/components/field_input/input/code_editor_input.tsx
Labels: Feature:Kibana Management, Team:Deployment Management, release_note:skip

#177992 [8.13] chore: bump &#x60;es5-ext&#x60; from &#x60;0.10.46&#x60; to &#x60;0.10.64&#x60; (#177977)
  yarn.lock
Labels: backport

#177916 [Cloud Security] fix flakiness test
  x-pack/plugins/cloud_security_posture/server/routes/benchmark_rules/bulk_action/utils.ts
  x-pack/test/cloud_security_posture_api/routes/csp_benchmark_rules_bulk_update.ts
Labels: release_note:skip

#177982 [8.13] fix: [Dashboard &gt; Detection &amp; Response][AXE-CORE]: Text must have contrast ratio of 4.5:1 or higher (#177865)
  x-pack/plugins/security_solution/public/common/components/charts/donutchart.tsx
Labels: backport

#177987 [8.13] fix: #[Rules &gt; Detection rules][AXE-CORE]: Form elements must have anaccessible label (#177205)
  x-pack/plugins/security_solution/public/common/components/import_data_modal/__snapshots__/index.test.tsx.snap
  x-pack/plugins/security_solution/public/common/components/import_data_modal/index.tsx
Labels: backport

#176788 [ML] Anomaly Detection: Fix anomaly marker click in Single Metric Viewer embeddable
  x-pack/plugins/ml/public/application/app.tsx
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table.js
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table.test.js
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table_columns.js
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.tsx
  x-pack/plugins/ml/public/application/components/custom_urls/custom_urls.tsx
  x-pack/plugins/ml/public/application/contexts/kibana/__mocks__/kibana_context.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/common/use_results_view_config.ts
  x-pack/plugins/ml/public/application/data_frame_analytics/pages/job_map/components/controls.tsx
  x-pack/plugins/ml/public/application/explorer/actions/job_selection.ts
  x-pack/plugins/ml/public/application/explorer/anomaly_explorer_context.tsx
  x-pack/plugins/ml/public/application/explorer/explorer.tsx
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_distribution.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_distribution.test.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_single_metric.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_chart_single_metric.test.js
  x-pack/plugins/ml/public/application/explorer/explorer_charts/explorer_charts_container.test.js
  x-pack/plugins/ml/public/application/explorer/explorer_dashboard_service.ts
  x-pack/plugins/ml/public/application/explorer/explorer_utils.ts
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/edit_job_flyout/edit_utils.d.ts
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/edit_job_flyout/edit_utils.js
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_dashboard/quick_create_job_base.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_lens/quick_create_job.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_lens/route_resolver.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_map/quick_create_job.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_map/route_resolver.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_pattern_analysis/quick_create_job.ts
  x-pack/plugins/ml/public/application/jobs/new_job/job_from_pattern_analysis/route_resolver.ts
  x-pack/plugins/ml/public/application/management/jobs_list/components/jobs_list_page/jobs_list_page.tsx
  x-pack/plugins/ml/public/application/routing/routes/explorer.tsx
  x-pack/plugins/ml/public/application/routing/routes/new_job/from_lens.tsx
  x-pack/plugins/ml/public/application/routing/routes/new_job/from_map.tsx
  x-pack/plugins/ml/public/application/services/field_format_service.ts
  x-pack/plugins/ml/public/application/services/job_service.d.ts
  x-pack/plugins/ml/public/application/services/job_service.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer_embeddable_chart/timeseriesexplorer_embeddable_chart.js
  x-pack/plugins/ml/public/application/util/dependency_cache.ts
  x-pack/plugins/ml/public/application/util/index_service.ts
  x-pack/plugins/ml/public/application/util/index_utils.ts
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_embeddable.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_embeddable_factory.test.ts
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_embeddable_factory.ts
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_embeddable_factory.ts
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/common/resolve_job_selection.tsx
  x-pack/plugins/ml/public/embeddables/job_creation/aiops/flyout/create_job.tsx
  x-pack/plugins/ml/public/embeddables/job_creation/common/create_flyout.tsx
  x-pack/plugins/ml/public/embeddables/job_creation/lens/lens_vis_layer_selection_flyout/layer/compatible_layer.tsx
  x-pack/plugins/ml/public/embeddables/job_creation/map/map_vis_layer_selection_flyout/layer/compatible_layer.tsx
  x-pack/plugins/ml/public/embeddables/single_metric_viewer/embeddable_single_metric_viewer_container.tsx
  x-pack/plugins/ml/public/embeddables/single_metric_viewer/single_metric_viewer_embeddable.tsx
  x-pack/plugins/ml/public/embeddables/single_metric_viewer/single_metric_viewer_embeddable_factory.ts
  x-pack/plugins/ml/public/embeddables/single_metric_viewer/single_metric_viewer_setup_flyout.tsx
  x-pack/plugins/ml/public/embeddables/types.ts
  x-pack/plugins/ml/public/plugin.ts
  x-pack/plugins/ml/public/ui_actions/edit_anomaly_charts_panel_action.tsx
  x-pack/plugins/ml/public/ui_actions/edit_swimlane_panel_action.tsx
Labels: bug, :ml, Feature:Anomaly Detection, release_note:skip, Team:obs-ux-infra_services, v8.14.0

#177996 [8.13] [Cases] Use the default value of observables on the &#x60;useApplication&#x60; hook (#177980)
  x-pack/plugins/cases/public/components/cases_context/use_application.tsx
Labels: backport

#177999 [8.13] [Advanced Settings] Fix code editor field (#177772)
  packages/kbn-management/settings/components/field_input/input/code_editor_input.tsx
Labels: backport

#177416 [Security Solution][Detection Engine] fixes list index requests behaviour
  packages/kbn-securitysolution-list-hooks/src/constants.ts
  packages/kbn-securitysolution-list-hooks/src/use_create_list_index/index.ts
  packages/kbn-securitysolution-list-hooks/src/use_read_list_index/index.ts
  x-pack/plugins/lists/public/lists/hooks/use_create_list_index.test.ts
  x-pack/plugins/lists/public/lists/hooks/use_read_list_index.test.ts
  x-pack/plugins/lists/public/lists/mocks/query_wrapper.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/lists/use_lists_config.test.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/lists/use_lists_config.tsx
  x-pack/plugins/security_solution/public/detections/containers/detection_engine/lists/use_lists_index.tsx
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, 8.14 candidate

#177989 [Canvas] Attempt markdown render in workpad when passed content has a value
  x-pack/plugins/canvas/canvas_plugin_src/renderers/markdown/index.tsx
Labels: release_note:skip, Team:SharedUX

#177211 Migrate to official antlr4 package
  package.json
  packages/kbn-monaco/BUILD.bazel
  packages/kbn-monaco/package.json
  packages/kbn-monaco/scripts/antlr4_tools/.gitignore
  packages/kbn-monaco/scripts/antlr4_tools/README.md
  packages/kbn-monaco/scripts/antlr4_tools/brewfile
  packages/kbn-monaco/scripts/esql_update_ast_script.js
  packages/kbn-monaco/scripts/fix_generated_antlr.js
  packages/kbn-monaco/src/common/error_listener.ts
  packages/kbn-monaco/src/esql/antlr/esql_lexer.interp
  packages/kbn-monaco/src/esql/antlr/esql_lexer.ts
  packages/kbn-monaco/src/esql/antlr/esql_parser.interp
  packages/kbn-monaco/src/esql/antlr/esql_parser.ts
  packages/kbn-monaco/src/esql/antlr/esql_parser_listener.ts
  packages/kbn-monaco/src/esql/language.ts
  packages/kbn-monaco/src/esql/lib/antlr_facade.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_errors.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_factory.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_position_utils.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_walker.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/autocomplete.test.ts
  packages/kbn-monaco/src/esql/lib/ast/code_actions/actions.test.ts
  packages/kbn-monaco/src/esql/lib/ast/code_actions/actions.ts
  packages/kbn-monaco/src/esql/lib/ast/hover/hover.test.ts
  packages/kbn-monaco/src/esql/lib/ast/shared/resources_helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/validation.test.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/validation.ts
  packages/kbn-monaco/src/esql/lib/monaco/esql_error_listener.ts
  packages/kbn-monaco/src/esql/lib/monaco/esql_tokens_provider.ts
  packages/kbn-monaco/src/esql/worker/esql_worker.ts
  packages/kbn-monaco/src/painless/README.md
  packages/kbn-monaco/src/painless/antlr/painless_lexer.interp
  packages/kbn-monaco/src/painless/antlr/painless_lexer.ts
  packages/kbn-monaco/src/painless/antlr/painless_parser.interp
  packages/kbn-monaco/src/painless/antlr/painless_parser.ts
  packages/kbn-monaco/src/painless/antlr/painless_parser_listener.ts
  packages/kbn-monaco/src/painless/worker/lib/lexer.ts
  packages/kbn-monaco/src/painless/worker/lib/parser.ts
  yarn.lock
Labels: release_note:skip, Team:SharedUX

#178002 Display username field of ServiceNow as textbox
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.12.0, v8.13.0, v8.14.0

#177988 [SecuritySolution] Fix entity page link clickable area on entity flyout header
  x-pack/plugins/security_solution/public/flyout/entity_details/host_right/header.tsx
  x-pack/plugins/security_solution/public/flyout/entity_details/user_right/header.tsx
Labels: bug, release_note:skip, Team:Entity Analytics, v8.13.0

#176366 Update usage collectors for connectors to collect full telemetry data
  packages/kbn-search-connectors/lib/collect_connector_stats.test.ts
  packages/kbn-search-connectors/lib/collect_connector_stats.ts
  packages/kbn-search-connectors/lib/collect_connector_stats_test_data.ts
  packages/kbn-search-connectors/lib/create_connector_document.test.ts
  packages/kbn-search-connectors/lib/create_connector_document.ts
  packages/kbn-search-connectors/lib/index.ts
  packages/kbn-search-connectors/types/connector_stats.ts
  packages/kbn-search-connectors/types/connectors.ts
  packages/kbn-search-connectors/types/index.ts
  x-pack/plugins/enterprise_search/common/types/connector_stats.ts
  x-pack/plugins/enterprise_search/common/types/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/collectors/connectors/telemetry.test.ts
  x-pack/plugins/enterprise_search/server/collectors/connectors/telemetry.ts
  x-pack/plugins/enterprise_search/server/lib/crawler/post_connector.test.ts
  x-pack/plugins/enterprise_search/server/plugin.ts
  x-pack/plugins/serverless_search/common/types/connector_stats.ts
  x-pack/plugins/serverless_search/common/types/index.ts
  x-pack/plugins/serverless_search/server/collectors/connectors/telemetry.test.ts
  x-pack/plugins/serverless_search/server/collectors/connectors/telemetry.ts
  x-pack/plugins/serverless_search/server/plugin.ts
  x-pack/plugins/serverless_search/tsconfig.json
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.13.0

#176947 [Synthetics] Fix breadcrumbs in serverless
  packages/deeplinks/observability/deep_links.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/contexts/synthetics_settings_context.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/hooks/use_breadcrumbs.test.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/hooks/use_breadcrumbs.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/render_app.tsx
  x-pack/plugins/observability_solution/synthetics/public/plugin.ts
  x-pack/plugins/serverless_observability/public/navigation_tree.ts
Labels: release_note:skip, Team:obs-ux-infra_services

#177956 [Reporting/Share Menu] use browser module for url-resolving features
  packages/kbn-reporting/public/share/share_context_menu/reporting_panel_content/reporting_panel_content.tsx
Labels: release_note:skip, Team:SharedUX

#177994 [7.17] chore: bump `es5-ext` from `0.10.46` to `0.10.64` (#177977)
  yarn.lock
Labels: backport

#178013 [8.13] Display username field of ServiceNow as textbox (#178002)
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: backport

#178012 [8.12] Display username field of ServiceNow as textbox (#178002)
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: backport

#178011 [Search] Fixes visual bugs on connector overview page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_stats.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/native_connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connectors.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
Labels: bug, release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#178022 [8.13] [SecuritySolution] Fix entity page link clickable area on entity flyout header (#177988)
  x-pack/plugins/security_solution/public/flyout/entity_details/host_right/header.tsx
  x-pack/plugins/security_solution/public/flyout/entity_details/user_right/header.tsx
Labels: backport

#177095 [ResponseOps] Hide the alert delay in the rule flyout
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
Labels: release_note:skip, Team:ResponseOps, v8.13.0, v8.14.0

#177904 [data views] Use Map for data view cache instead of custom code
  src/plugins/data_views/common/data_views/_pattern_cache.ts
  src/plugins/data_views/common/data_views/data_views.ts
  src/plugins/data_views/common/data_views/index.ts
Labels: Feature:Data Views, release_note:skip, Team:DataDiscovery

#177997 [Inventory rule] Fix bug in inventory rule for Inbound and Outbound traffic threshold (both preview and executor)
  x-pack/plugins/observability_solution/infra/public/alerting/inventory/components/expression_chart.tsx
  x-pack/plugins/observability_solution/infra/server/lib/alerting/inventory_metric_threshold/lib/convert_metric_value.ts
  x-pack/plugins/observability_solution/infra/server/lib/alerting/inventory_metric_threshold/lib/create_bucket_selector.test.ts
  x-pack/plugins/observability_solution/infra/server/lib/alerting/inventory_metric_threshold/lib/create_condition_script.test.ts
Labels: bug, release_note:fix, backport:prev-minor

#177907 (DOC+) Link Kibana Health Troubleshooting blog to related doc
  docs/setup/access.asciidoc
Labels: Team:Docs, enhancement, release_note:skip, docs, documentation, >enhancement

#178019 [Inventory rule] Fix alerts not being visible when number of alerts are more than max alert limit
  x-pack/plugins/observability_solution/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
Labels: bug, release_note:fix, backport:prev-minor

#178029 [8.13] [Search] Fixes visual bugs on connector overview page (#178011)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_stats.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/native_connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connectors.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
Labels: backport

#178030 [8.13] Update usage collectors for connectors to collect full telemetry data (#176366)
  packages/kbn-search-connectors/lib/collect_connector_stats.test.ts
  packages/kbn-search-connectors/lib/collect_connector_stats.ts
  packages/kbn-search-connectors/lib/collect_connector_stats_test_data.ts
  packages/kbn-search-connectors/lib/create_connector_document.test.ts
  packages/kbn-search-connectors/lib/create_connector_document.ts
  packages/kbn-search-connectors/lib/index.ts
  packages/kbn-search-connectors/types/connector_stats.ts
  packages/kbn-search-connectors/types/connectors.ts
  packages/kbn-search-connectors/types/index.ts
  x-pack/plugins/enterprise_search/common/types/connector_stats.ts
  x-pack/plugins/enterprise_search/common/types/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/collectors/connectors/telemetry.test.ts
  x-pack/plugins/enterprise_search/server/collectors/connectors/telemetry.ts
  x-pack/plugins/enterprise_search/server/lib/crawler/post_connector.test.ts
  x-pack/plugins/enterprise_search/server/plugin.ts
  x-pack/plugins/serverless_search/common/types/connector_stats.ts
  x-pack/plugins/serverless_search/common/types/index.ts
  x-pack/plugins/serverless_search/server/collectors/connectors/telemetry.test.ts
  x-pack/plugins/serverless_search/server/collectors/connectors/telemetry.ts
  x-pack/plugins/serverless_search/server/plugin.ts
  x-pack/plugins/serverless_search/tsconfig.json
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
Labels: backport

#178025 [8.13] fixed field data sourcing (#177472)
  x-pack/plugins/security_solution/public/flyout/document_details/shared/hooks/use_highlighted_fields.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/shared/hooks/use_highlighted_fields.ts
  x-pack/plugins/security_solution/public/flyout/document_details/shared/mocks/mock_data_formatted_for_field_browser.ts
  x-pack/plugins/security_solution/public/flyout/document_details/shared/utils/highlighted_fields_helpers.test.ts
  x-pack/plugins/security_solution/public/flyout/document_details/shared/utils/highlighted_fields_helpers.ts
Labels: backport

#177631 [Response Ops][Task Manager] Returning status as `OK` immediately when not running background tasks
  x-pack/plugins/task_manager/server/lib/calculate_health_status.test.ts
  x-pack/plugins/task_manager/server/lib/calculate_health_status.ts
  x-pack/plugins/task_manager/server/routes/health.test.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.14.0

#178037 [8.13] [ResponseOps] Hide the alert delay in the rule flyout (#177095)
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_form/rule_form.tsx
Labels: backport

#178039 [8.13] [Cloud Security] Fix for console error message in rules benchmark page (#177887)
  x-pack/plugins/cloud_security_posture/public/common/api/use_fetch_detection_rules_by_tags.ts
Labels: backport

#178040 [8.13] [Cloud Security] Flaky FTR fix (#176464)
  x-pack/test/cloud_security_posture_functional/page_objects/rule_page.ts
Labels: backport

#178038 [8.13] [Cloud Security] Update Toast Message (#177296)
  x-pack/plugins/cloud_security_posture/public/components/take_action.tsx
Labels: backport

#178042 [8.13] [Inventory rule] Fix alerts not being visible when number of alerts are more than max alert limit (#178019)
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
Labels: backport

#177557 [Stateful sidenav] Activation mechanism
  packages/core/chrome/core-chrome-browser-internal/src/chrome_service.tsx
  packages/core/chrome/core-chrome-browser-internal/src/project_navigation/project_navigation_service.test.ts
  packages/core/chrome/core-chrome-browser-internal/src/project_navigation/project_navigation_service.ts
  packages/core/chrome/core-chrome-browser-internal/src/types.ts
  packages/core/chrome/core-chrome-browser-mocks/src/chrome_service.mock.ts
  packages/core/chrome/core-chrome-browser/index.ts
  packages/core/chrome/core-chrome-browser/src/index.ts
  packages/core/chrome/core-chrome-browser/src/project_navigation.ts
  packages/core/ui-settings/core-ui-settings-server-internal/src/clients/ui_settings_client_common.ts
  packages/core/ui-settings/core-ui-settings-server-internal/src/clients/ui_settings_global_client.test.ts
  packages/core/ui-settings/core-ui-settings-server-internal/src/clients/ui_settings_global_client.ts
  packages/core/ui-settings/core-ui-settings-server/src/ui_settings_client.ts
  packages/kbn-management/settings/application/application.tsx
  src/plugins/navigation/common/constants.ts
  src/plugins/navigation/common/index.ts
  src/plugins/navigation/kibana.jsonc
  src/plugins/navigation/public/index.ts
  src/plugins/navigation/public/mocks.ts
  src/plugins/navigation/public/plugin.test.ts
  src/plugins/navigation/public/plugin.ts
  src/plugins/navigation/public/side_navigation/index.tsx
  src/plugins/navigation/public/side_navigation/side_navigation.tsx
  src/plugins/navigation/public/types.ts
  src/plugins/navigation/server/config.ts
  src/plugins/navigation/server/index.ts
  src/plugins/navigation/server/plugin.ts
  src/plugins/navigation/server/types.ts
  src/plugins/navigation/server/ui_settings.ts
  src/plugins/navigation/tsconfig.json
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/test/functional/apps/saved_objects_management/feature_controls/saved_objects_management_security.ts
Labels: release_note:skip, Team:SharedUX, Feature:Chrome

#177524 [DataViews] Use 'rollup' data view type constant
  src/plugins/data/server/search/strategies/ese_search/ese_search_strategy.test.ts
  src/plugins/data/server/search/strategies/ese_search/ese_search_strategy.ts
  src/plugins/data_view_management/public/components/edit_index_pattern/edit_index_pattern.tsx
  src/plugins/data_view_management/public/components/index_pattern_table/index_pattern_table.tsx
  src/plugins/data_view_management/public/components/utils.ts
  src/plugins/data_views/common/content_management/v1/cm_services.ts
  src/plugins/data_views/server/fetcher/index_patterns_fetcher.test.ts
  src/plugins/data_views/server/fetcher/index_patterns_fetcher.ts
  src/plugins/discover/public/application/main/utils/fetch_documents.ts
  src/plugins/vis_types/timeseries/server/lib/search_strategies/strategies/rollup_search_strategy.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities/new_job_capabilities_service.ts
  x-pack/plugins/ml/public/application/services/new_job_capabilities/new_job_capabilities_service_analytics.ts
  x-pack/plugins/ml/server/models/job_service/new_job_caps/rollup.ts
  x-pack/plugins/rollup/server/collectors/helpers.ts
  x-pack/test/api_integration/apis/management/rollup/index_patterns_extensions.js
  x-pack/test/api_integration/apis/search/search.ts
  x-pack/test_serverless/api_integration/test_suites/common/management/rollups.ts
  x-pack/test_serverless/functional/test_suites/common/management/data_views/serverless.ts
Labels: Feature:Data Views, release_note:skip, Team:DataDiscovery, v8.14.0

#177902 clean up @ts-expect-error failures from typescript v4.9.5 upgrade
  src/plugins/embeddable/public/lib/embeddables/default_embeddable_factory_provider.ts
  src/plugins/embeddable/public/lib/embeddables/embeddable_factory.ts
  src/plugins/embeddable/public/lib/embeddables/embeddable_factory_definition.ts
  src/plugins/embeddable/public/types.ts
  src/plugins/presentation_util/public/services/create/index.ts
  src/plugins/presentation_util/public/services/create/provider.tsx
  src/plugins/presentation_util/public/services/create/providers_mediator.ts
  src/plugins/presentation_util/public/services/create/registry.tsx
  x-pack/plugins/embeddable_enhanced/public/plugin.ts
  x-pack/plugins/embeddable_enhanced/tsconfig.json
  x-pack/plugins/maps/public/classes/sources/es_agg_source/index.ts
  x-pack/plugins/maps/public/classes/sources/es_agg_source/types.ts
  x-pack/plugins/maps/public/classes/sources/es_source/es_source.ts
  x-pack/plugins/maps/public/classes/styles/vector/properties/dynamic_style_property.tsx
  x-pack/plugins/maps/public/classes/styles/vector/properties/static_style_property.ts
  x-pack/plugins/maps/public/classes/styles/vector/properties/style_property.ts
  x-pack/plugins/maps/public/classes/styles/vector/symbol_utils.tsx
  x-pack/plugins/maps/public/lazy_wrapper.tsx
Labels: Feature:Embedding, Team:Presentation, release_note:skip, v8.14.0

#177635 [Response Ops][Actions] Fixing issues identified by GH Code Scanner
  x-pack/plugins/stack_connectors/server/connector_types/openai/lib/azure_openai_utils.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/openai/lib/azure_openai_utils.ts
Labels: release_note:skip, Feature:Actions, Team:ResponseOps, v8.14.0

#177918 [Security Solution][Endpoint] Re-enable responder release action test
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/release_action.test.tsx
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.13.0, v8.14.0

#178063 [8.13] [Security Solution][Endpoint] Re-enable responder release action test (#177918)
  x-pack/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/release_action.test.tsx
Labels: backport

#177985 Fix CDN task assets discovery
  src/dev/build/cli.ts
  src/dev/build/tasks/create_cdn_assets_task.ts
Labels: Team:Operations, release_note:skip, v8.14.0

#178068 [Actions] Support system actions in the sub actions framework
  x-pack/plugins/actions/server/sub_action_framework/register.test.ts
  x-pack/plugins/actions/server/sub_action_framework/register.ts
  x-pack/plugins/actions/server/sub_action_framework/types.ts
Labels: release_note:skip, Feature:Actions, Team:ResponseOps, v8.14.0

#177970 [SLO] Details page display used queries in slo
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/components/overview/display_query.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/components/overview/overview.tsx
  x-pack/plugins/observability_solution/observability/public/pages/slo_details/slo_details.test.tsx
Labels: release_note:skip, Team:obs-ux-management

#176930 Flaky alert assignment tests
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/assignments/assignments.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/assignments/assignments_serverless_complete.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/assignments/assignments_serverless_essentials.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/alert_assignments.ts
  x-pack/test/security_solution_cypress/cypress/tasks/login.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine

#177329 [Security Solution] Set socket timeout for potentially long running Rule Management API endpoints
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/install_prebuilt_rules_and_timelines/install_prebuilt_rules_and_timelines_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_installation/perform_rule_installation_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_installation/review_rule_installation_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/constants.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_actions/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_create_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_delete_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_patch_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_update_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/export_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/import_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/timeouts.ts
Labels: bug, release_note:skip, impact:high, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rule Management, v8.13.0, v8.14.0

#177811 fix: [Cases > Case Detail][AXE-CORE]: <dl> elements must only directly contain properly-ordered <dd> <dt> or <div> elements
  x-pack/plugins/cases/public/components/case_action_bar/action_bar_status_item.test.tsx
  x-pack/plugins/cases/public/components/case_action_bar/action_bar_status_item.tsx
  x-pack/plugins/cases/public/components/case_action_bar/index.test.tsx
  x-pack/plugins/cases/public/components/case_action_bar/index.tsx
Labels: release_note:skip, Team:ResponseOps, Team: SecuritySolution, Feature:Cases, v8.13.0, v8.14.0

#177841 fix: [Rules > MITRE Attack][AXE-CORE]: Scrollable regions must have keyboard access
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/pages/coverage_overview/coverage_overview_dashboard.tsx
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Feature:Rule Management, Team:Detection Rule Management, v8.13.0, v8.14.0

#177746 [Security Solution][Detection Engine] improves ES|QL investigation fields for detection rules
  x-pack/plugins/security_solution/public/common/__mocks__/query_wrapper.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/esql_autocomplete/esql_autocomplete.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/esql_autocomplete/index.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/esql_autocomplete/use_esql_fields_options.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/esql_autocomplete/use_esql_fields_options.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_about_rule/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/hooks/use_investigation_fields.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/hooks/use_investigation_fields.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/esql_rule_ess.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/create_new_rule.ts
Labels: release_note:enhancement, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, 8.14 candidate

#178033 [data views] Consolidate code that gets ui settings
  src/plugins/data_views/common/constants.ts
  src/plugins/data_views/common/data_views/data_views.ts
Labels: Feature:Data Views, release_note:skip, Team:DataDiscovery

#178084 [8.13] [Security Solution] Set socket timeout for potentially long running Rule Management API endpoints (#177329)
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/install_prebuilt_rules_and_timelines/install_prebuilt_rules_and_timelines_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_installation/perform_rule_installation_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_installation/review_rule_installation_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/constants.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_actions/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_create_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_delete_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_patch_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_update_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/export_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/import_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/timeouts.ts
Labels: backport

#177889 Fix text wrap issue on Benchmark Rules page
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_table_header.tsx
Labels: release_note:skip, 💝community

#178086 [8.13] fix: [Cases &gt; Case Detail][AXE-CORE]: &lt;dl&gt; elements must only directly contain properly-ordered &lt;dd&gt; &lt;dt&gt; or &lt;div&gt; elements (#177811)
  x-pack/plugins/cases/public/components/case_action_bar/action_bar_status_item.test.tsx
  x-pack/plugins/cases/public/components/case_action_bar/action_bar_status_item.tsx
  x-pack/plugins/cases/public/components/case_action_bar/index.test.tsx
  x-pack/plugins/cases/public/components/case_action_bar/index.tsx
Labels: backport

#178009 [SecuritySolution] Add timeline middleware tests
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_changed.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_changed.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_favorite.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_note.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_pinned_event.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_save.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_save.ts
Labels: refactoring, technical debt, release_note:skip, Team:Threat Hunting:Investigations, backport:prev-minor, v8.14.0

#177923 fix: [Rules > Add/Edit rule exception][AXE-CORE]: Form elements must have an accessible label
  packages/kbn-securitysolution-autocomplete/src/field/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field/types.ts
  packages/kbn-securitysolution-autocomplete/src/field_value_exists/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_lists/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_match/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_match_any/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_wildcard/index.tsx
  packages/kbn-securitysolution-autocomplete/src/operator/index.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.test.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/exception_item_renderer.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/translations.ts
Labels: release_note:skip, Team: SecuritySolution, Feature:Rule Details, Team:Detection Engine, v8.13.0, v8.14.0

#178034 fix: [Rules > Add Elastic rules][SCREEN READER]: Install all button should have a more explicit accessible label
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_header_buttons.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/translations.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.13.0, v8.14.0

#178087 [8.13] fix: [Rules &gt; MITRE Attack][AXE-CORE]: Scrollable regions must have keyboard access (#177841)
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/pages/coverage_overview/coverage_overview_dashboard.tsx
Labels: backport

#177843 [Observability plugin] adjust URI encoding
  x-pack/plugins/observability_solution/observability/common/locators/paths.ts
  x-pack/plugins/observability_solution/observability/public/locators/rule_details.ts
  x-pack/plugins/observability_solution/observability/public/locators/slo_details.ts
  x-pack/plugins/observability_solution/observability/public/locators/slo_edit.ts
Labels: bug, release_note:fix, Team:obs-ux-management, v8.13.0, v8.14.0

#177949 [APM] unskipping e2e tests
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
  .buildkite/scripts/steps/functional/apm_cypress.sh
  .buildkite/scripts/steps/functional/synthetics.sh
  x-pack/plugins/observability_solution/apm/ftr_e2e/cypress/e2e/service_overview/mobile_overview_with_most_used_charts.cy.ts
Labels: release_note:skip, Team:obs-ux-infra_services, v8.14.0

#177730 Track total error count in Task Manager metrics
  x-pack/plugins/task_manager/server/metrics/create_aggregator.test.ts
  x-pack/plugins/task_manager/server/metrics/task_run_metrics_aggregator.test.ts
  x-pack/plugins/task_manager/server/metrics/task_run_metrics_aggregator.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.14.0

#178120 [Fleet] Allow to upload package for non superuser
  x-pack/plugins/fleet/common/authz.ts
  x-pack/test/fleet_api_integration/apis/epm/install_by_upload.ts
Labels: release_note:skip, Team:Fleet

#175177 [APM]Improve performance of join_by_key
  x-pack/plugins/observability_solution/apm/common/utils/join_by_key/index.ts
Labels: release_note:fix, backport:skip, 💝community, Team:obs-ux-infra_services, apm:review, v8.14.0

#178118 [8.13] [SecuritySolution] Add timeline middleware tests (#178009)
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_changed.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_changed.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_favorite.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_note.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_pinned_event.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_save.test.ts
  x-pack/plugins/security_solution/public/timelines/store/middlewares/timeline_save.ts
Labels: backport

#178117 [8.13] fix: [Rules &gt; Add/Edit rule exception][AXE-CORE]: Form elements must have an accessible label (#177923)
  packages/kbn-securitysolution-autocomplete/src/field/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field/types.ts
  packages/kbn-securitysolution-autocomplete/src/field_value_exists/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_lists/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_match/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_match_any/index.tsx
  packages/kbn-securitysolution-autocomplete/src/field_value_wildcard/index.tsx
  packages/kbn-securitysolution-autocomplete/src/operator/index.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.test.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/entry_renderer.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/exception_item_renderer.tsx
  x-pack/plugins/lists/public/exceptions/components/builder/translations.ts
Labels: backport

#178071 [Search] Show correct heading when deleting a crawler
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connectors.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/delete_connector_modal.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#178076 [Search] Only show DLS docs, if connector supports the feature
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/native_connector_configuration.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#178121 [8.13] fix: [Rules &gt; Add Elastic rules][SCREEN READER]: Install all button should have a more explicit accessible label (#178034)
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_header_buttons.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/translations.ts
Labels: backport

#178057 [Synthetics] Enable in Serverless by default
  config/serverless.oblt.yml
  config/serverless.yml
Labels: release_note:skip, Team:obs-ux-infra_services, v8.14.0

#178127 [DataStreamAdapter] Remove alerts-as-data package dependency
  packages/kbn-data-stream-adapter/src/field_maps/mapping_from_field_map.test.ts
  packages/kbn-data-stream-adapter/tsconfig.json
Labels: release_note:skip, Team: SecuritySolution, v8.14.0

#178109 [Security Solution] Unskip flacky hover action test
  x-pack/test/security_solution_cypress/cypress/e2e/explore/network/overflow_items.cy.ts
Labels: release_note:skip, Team:Threat Hunting, Team:Threat Hunting:Explore, v8.14.0

#177859 [Index Management][Mappings editor] Fix "type" field
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/field_parameters/subtype_parameter.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/field_parameters/type_parameter.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/create_field/create_field.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/edit_field/edit_field.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/edit_field/edit_field_header_form.tsx
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip, Feature:Mappings Editor, v8.13.0, v8.14.0

#178035 [Share Modal Redesign] set up yml setting to show new share modal version
  src/plugins/share/common/config.ts
  src/plugins/share/kibana.jsonc
  src/plugins/share/public/components/share_tabs.tsx
  src/plugins/share/public/index.ts
  src/plugins/share/public/plugin.test.ts
  src/plugins/share/public/plugin.ts
  src/plugins/share/public/services/share_menu_manager.tsx
  src/plugins/share/public/types.ts
  src/plugins/share/server/index.ts
  src/plugins/share/tsconfig.json
  test/plugin_functional/test_suites/core_plugins/rendering.ts
Labels: release_note:skip, backport:skip, Team:SharedUX

#178132 [8.13] [Observability plugin] adjust URI encoding (#177843)
  x-pack/plugins/observability/common/locators/paths.ts
  x-pack/plugins/observability/public/locators/rule_details.ts
  x-pack/plugins/observability/public/locators/slo_details.ts
  x-pack/plugins/observability/public/locators/slo_edit.ts
Labels: backport, Team:obs-ux-management

#177716 [Profiling] Fix default value of profiling settings
  packages/kbn-management/settings/utilities/setting/normalize_settings.test.ts
  packages/kbn-management/settings/utilities/setting/normalize_settings.ts
  packages/kbn-management/settings/utilities/tsconfig.json
  x-pack/plugins/observability_solution/observability/server/ui_settings.ts
Labels: Team:Deployment Management, release_note:skip, Feature:uiSettings, backport:prev-minor, Team:obs-ux-management, v8.13.0

#178051 [Dashboard Navigation] Unskip links panel test
  src/plugins/links/public/components/editor/link_editor.tsx
  test/functional/apps/dashboard_elements/links/links_create_edit.ts
  test/functional/page_objects/dashboard_page_links.ts
Labels: Team:Presentation, loe:small, technical debt, release_note:skip, impact:critical, backport:prev-minor

#178144 [8.13] [Search] Show correct heading when deleting a crawler (#178071)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connectors.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/delete_connector_modal.tsx
Labels: backport

#178143 [8.13] [Search] Fix singular/plural for connector and crawler counts (#178110)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connector_stats.tsx
Labels: backport

#178133 [SLOs] only display group by cardinality when group by exists
  x-pack/plugins/observability_solution/observability/public/pages/slo_edit/components/common/group_by_field.tsx
Labels: bug, release_note:fix, Feature:SLO, Team:obs-ux-management, v8.13.0, v8.14.0

#178145 [8.13] [Search] Only show DLS docs, if connector supports the feature (#178076)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/native_connector_configuration.tsx
Labels: backport

#178148 [Search] Fix connector recheck and polling related issues
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/cached_fetch_connector_by_id_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/attach_index_box.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail_router.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
Labels: bug, release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#178149 [8.13] [Index Management][Mappings editor] Fix &quot;type&quot; field (#177859)
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/field_parameters/subtype_parameter.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/field_parameters/type_parameter.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/create_field/create_field.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/edit_field/edit_field.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/edit_field/edit_field_header_form.tsx
Labels: backport

#178153 [8.13] [Dashboard Navigation] Unskip links panel test (#178051)
  src/plugins/links/public/components/editor/link_editor.tsx
  test/functional/apps/dashboard_elements/links/links_create_edit.ts
  test/functional/page_objects/dashboard_page_links.ts
Labels: backport

#178154 [8.13] [SLOs] only display group by cardinality when group by exists (#178133)
  x-pack/plugins/observability/public/pages/slo_edit/components/common/group_by_field.tsx
Labels: backport, Team:obs-ux-management

#178155 [8.13] [Search] Fix connector recheck and polling related issues (#178148)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/cached_fetch_connector_by_id_api_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/attach_index_box.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_configuration.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail_router.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
Labels: backport

#178016 [Watcher] Fix simulate flyout blank page
  x-pack/plugins/watcher/__jest__/client_integration/watch_create_json_page.test.tsx
  x-pack/plugins/watcher/public/application/sections/watch_edit_page/components/json_watch_edit/simulate_watch_results_flyout.tsx
Labels: Feature:Watcher, Team:Deployment Management, release_note:skip, backport:prev-minor, v8.13.0

#178146 chore(console): rename metric id for opening embedded
  src/plugins/console/public/application/containers/embeddable/console_wrapper.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.14.0

#178160 [8.13] [Watcher] Fix simulate flyout blank page (#178016)
  x-pack/plugins/watcher/__jest__/client_integration/watch_create_json_page.test.tsx
  x-pack/plugins/watcher/public/application/sections/watch_edit_page/components/json_watch_edit/simulate_watch_results_flyout.tsx
Labels: backport

#178152 [8.13] [Obs AI Assistant] More lenient parsing of suggestion scores (#177898)
  x-pack/plugins/observability_ai_assistant/server/functions/context.ts
  x-pack/plugins/observability_ai_assistant/server/functions/parse_suggestion_scores.test.ts
  x-pack/plugins/observability_ai_assistant/server/functions/parse_suggestion_scores.ts
Labels: backport

#178161 [8.13] chore(console): rename metric id for opening embedded (#178146)
  src/plugins/console/public/application/containers/embeddable/console_wrapper.tsx
Labels: backport

#178124 [ML] API integration tests for `PUT /internal/ml/trained_models/:modelId` endpoint
  x-pack/test/api_integration/apis/ml/trained_models/index.ts
  x-pack/test/api_integration/apis/ml/trained_models/put_model.ts
Labels: :ml, test_api, release_note:skip, Team:ML, v8.13.0, v8.14.0

#178175 [8.13] [ML] API integration tests for &#x60;PUT /internal/ml/trained_models/:modelId&#x60; endpoint (#178124)
  x-pack/test/api_integration/apis/ml/trained_models/index.ts
  x-pack/test/api_integration/apis/ml/trained_models/put_model.ts
Labels: backport

#175954 update es client to 8.12.2
  package.json
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/actions/wait_for_task.ts
  packages/kbn-search-response-warnings/src/extract_warnings.test.ts
  packages/kbn-securitysolution-es-utils/src/transform_error/index.test.ts
  src/plugins/data/server/search/strategies/es_search/es_search_strategy.test.ts
  src/plugins/data/server/search/strategies/ese_search/ese_search_strategy.test.ts
  src/plugins/data/server/search/strategies/esql_async_search/esql_async_search_strategy.test.ts
  src/plugins/data/server/search/strategies/sql_search/sql_search_strategy.test.ts
  x-pack/plugins/alerting/common/rule_tags_aggregation.ts
  x-pack/plugins/alerting/server/alerts_service/alerts_service.test.ts
  x-pack/plugins/alerting/server/application/rule/methods/aggregate/validation/validate_rule_aggregation_fields.test.ts
  x-pack/plugins/elastic_assistant/server/__mocks__/msearch_query.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/elasticsearch_store/helpers/get_vector_search_query.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.test.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/pipelines/create_ml_inference_pipeline.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/pipeline_select_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/test_pipeline_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_json_configurations_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/pipelines/ml_inference/pipeline_processors/create_ml_inference_pipeline.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/pipelines/ml_inference/pipeline_processors/get_ml_inference_pipeline_processors.test.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
  x-pack/plugins/event_log/server/es/cluster_client_adapter.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/transform/remove.ts
  x-pack/plugins/grokdebugger/server/routes/api/grokdebugger/register_grok_simulate_route.ts
  x-pack/plugins/index_management/common/types/data_streams.ts
  x-pack/plugins/index_management/server/routes/api/data_streams/register_get_route.ts
  x-pack/plugins/ingest_pipelines/common/lib/pipeline_serialization.test.ts
  x-pack/plugins/ingest_pipelines/common/lib/pipeline_serialization.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/simulate.ts
  x-pack/plugins/maps/common/elasticsearch_util/spatial_filter_utils.ts
  x-pack/plugins/ml/public/application/components/ml_inference/add_inference_pipeline_flyout.tsx
  x-pack/plugins/ml/public/application/components/ml_inference/components/test_pipeline.tsx
  x-pack/plugins/ml/public/application/model_management/create_pipeline_for_model/get_pipeline_config.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/inference_base.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/text_classification/fill_mask_inference.ts
  x-pack/plugins/ml/server/routes/trained_models.ts
  x-pack/plugins/monitoring/server/lib/errors/esclient_errors.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/knowledge_base_service/index.ts
  x-pack/plugins/rule_registry/server/rule_data_plugin_service/resource_installer.test.ts
  x-pack/plugins/security/server/routes/api_keys/has_active.ts
  x-pack/plugins/security/server/routes/role_mapping/post.ts
  x-pack/plugins/transform/server/routes/api/delete_transforms/delete_transforms.ts
  x-pack/plugins/triggers_actions_ui/server/data/lib/time_series_query.test.ts
  x-pack/test/functional/apps/ml/short_tests/model_management/model_list.ts
  yarn.lock
Labels: Feature:elasticsearch, Team:Core, release_note:skip, Team:Fleet, v8.14.0

#178135 [8.13] [Inventory rule] Fix bug in inventory rule for Inbound and Outbound traffic threshold (both preview and executor) (#177997)
  x-pack/plugins/infra/public/alerting/inventory/components/expression_chart.tsx
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/lib/convert_metric_value.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/lib/create_bucket_selector.test.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/lib/create_condition_script.test.ts
Labels: backport

#177958 Add data CTA to datasource selector
  x-pack/plugins/observability_solution/logs_explorer/public/components/data_source_selector/constants.tsx
  x-pack/plugins/observability_solution/logs_explorer/public/components/data_source_selector/data_source_selector.stories.tsx
  x-pack/plugins/observability_solution/logs_explorer/public/components/data_source_selector/data_source_selector.tsx
  x-pack/plugins/observability_solution/logs_explorer/public/components/data_source_selector/sub_components/add_data_button.tsx
  x-pack/plugins/observability_solution/logs_explorer/public/types.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-logs, Feature:LogsExplorer

#178178 [8.12] [Obs AI Assistant] More lenient parsing of suggestion scores (#177898)
  x-pack/plugins/observability_ai_assistant/server/functions/parse_suggestion_scores.test.ts
  x-pack/plugins/observability_ai_assistant/server/functions/parse_suggestion_scores.ts
  x-pack/plugins/observability_ai_assistant/server/functions/recall.ts
Labels: backport

#177940 Puppeteer 22.3.0 update
  package.json
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.test.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/index.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
  yarn.lock
Labels: Feature:Reporting, release_note:skip, Team:SharedUX

#176412 [RAM] Add error boundary to AlertsTable
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/translations.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/common/components/error_boundary.test.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/common/components/error_boundary.tsx
Labels: release_note:enhancement, Team:ResponseOps, v8.14.0

#176488 Add async timeouts to correctly wait session cleanup in test
  x-pack/test/security_api_integration/tests/session_concurrent_limit/cleanup.ts
Labels: Team:Security, release_note:skip, test-failure-flaky, backport:skip
