Repository elastic/kibana, pull requests merged in 2024-08, with the labels that each got.

#189336 [data views] Allow selection of timestamp when some index pattern segments are unmet
  src/plugins/data_view_editor/public/data_view_editor_service.ts
  src/plugins/data_views/server/fetcher/index_patterns_fetcher.ts
  test/functional/apps/management/data_views/_data_view_create_delete.ts
Labels: release_note:fix, Feature:Data Views, Feature:Kibana Management, Team:DataDiscovery, backport:prev-minor

#189677 [Search] [Playground] Fix cloud streaming
  x-pack/plugins/search_playground/public/utils/stream.ts
  x-pack/plugins/search_playground/server/routes.ts
  x-pack/plugins/search_playground/server/types.ts
  x-pack/plugins/search_playground/server/utils/handle_stream_response.test.ts
  x-pack/plugins/search_playground/server/utils/handle_stream_response.ts
  x-pack/plugins/search_playground/server/utils/stream_factory.test.ts
  x-pack/plugins/search_playground/server/utils/stream_factory.ts
  x-pack/plugins/search_playground/tsconfig.json
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0, v8.16.0

#188767 [Docs] 8.15 Kibana What's new
  docs/user/images/array-in-metrics.png
  docs/user/images/create-simple-api-key.png
  docs/user/images/dashboard-creator-filter.png
  docs/user/images/dashboard-creator.png
  docs/user/images/dashboard-last-editor.png
  docs/user/images/esql-field-statistics.png
  docs/user/images/field-statistics-esql.png
  docs/user/images/field-statistics-panel-in-dashboards.png
  docs/user/images/integrations-in-esql.png
  docs/user/images/obs-log-rate-analysis-insigths.png
  docs/user/images/share-modal.png
  docs/user/images/statistics-in-legends.png
  docs/user/images/statistics-in-legends2.png
  docs/user/whats-new.asciidoc
Labels: Team:Docs, backport, release_note:skip, documentation, v8.15.0

#189340 [Role Mappings] Warn when empty any or all rule role mappings are added
  x-pack/plugins/security/common/index.ts
  x-pack/plugins/security/common/model/index.ts
  x-pack/plugins/security/common/model/role_mapping.ts
  x-pack/plugins/security/public/management/role_mappings/edit_role_mapping/edit_role_mapping_page.test.tsx
  x-pack/plugins/security/public/management/role_mappings/edit_role_mapping/edit_role_mapping_page.tsx
Labels: release_note:enhancement, Team:Security, enhancement, Feature:Users/Roles/API Keys, backport:skip

#189030 [Sharepoint Server] Add RCF for Authentication type
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: release_note:skip, Team:EnterpriseSearch

#189417 [Status] Log every error message even during setup phase
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/elasticsearch_service.test.ts
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/elasticsearch_service.ts
  packages/core/elasticsearch/core-elasticsearch-server-internal/src/version_check/ensure_es_version.ts
Labels: Feature:elasticsearch, Team:Core, release_note:skip, v8.16.0

#189707 [8.15] [data views] Allow selection of timestamp when some index pattern segments are unmet (#189336)
  src/plugins/data_view_editor/public/data_view_editor_service.ts
  src/plugins/data_views/server/fetcher/index_patterns_fetcher.ts
  test/functional/apps/management/data_views/_data_view_create_delete.ts
Labels: backport

#189709 [8.15] [Search] [Playground] Fix cloud streaming (#189677)
  x-pack/plugins/search_playground/public/utils/stream.ts
  x-pack/plugins/search_playground/server/routes.ts
  x-pack/plugins/search_playground/server/types.ts
  x-pack/plugins/search_playground/server/utils/handle_stream_response.test.ts
  x-pack/plugins/search_playground/server/utils/handle_stream_response.ts
  x-pack/plugins/search_playground/server/utils/stream_factory.test.ts
  x-pack/plugins/search_playground/server/utils/stream_factory.ts
  x-pack/plugins/search_playground/tsconfig.json
Labels: backport

#189711 [8.15] [Docs] 8.15 Kibana What's new (#188767)
  docs/user/images/array-in-metrics.png
  docs/user/images/create-simple-api-key.png
  docs/user/images/dashboard-creator-filter.png
  docs/user/images/dashboard-creator.png
  docs/user/images/dashboard-last-editor.png
  docs/user/images/esql-field-statistics.png
  docs/user/images/field-statistics-esql.png
  docs/user/images/field-statistics-panel-in-dashboards.png
  docs/user/images/integrations-in-esql.png
  docs/user/images/obs-log-rate-analysis-insigths.png
  docs/user/images/share-modal.png
  docs/user/images/statistics-in-legends.png
  docs/user/images/statistics-in-legends2.png
  docs/user/whats-new.asciidoc
Labels: backport

#189393 [Console Monaco] Fix autocomplete insert text
  src/plugins/console/public/application/containers/editor/monaco/utils/autocomplete_utils.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip

#189482 [Security Solution] Sort root level tags alphabetically by name in the result bundle
  packages/kbn-openapi-bundler/src/bundler/merge_documents/merge_tags.ts
  packages/kbn-openapi-bundler/tests/bundler/result_overrides/sort_tags.test.ts
  packages/kbn-openapi-bundler/tests/create_oas_document.ts
  packages/kbn-openapi-bundler/tests/merger/result_overrides/sort_tags.test.ts
Labels: release_note:skip, docs, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, v8.16.0

#189700 [APM][ECO] renaming log error rate to log error %
  x-pack/plugins/observability_solution/apm/public/components/app/entities/charts/log_error_rate_chart.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/multi_signal_inventory/table/get_service_columns.tsx
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.16.0

#189515 [Console] Only allow to send requests that have a valid method
  src/plugins/console/public/application/containers/editor/monaco/monaco_editor_actions_provider.ts
  test/functional/apps/console/monaco/_console.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip, backport:skip, v8.16.0

#189485 [Reporting] upgrade puppeteer to v22.13.1
  package.json
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.test.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
  yarn.lock
Labels: Feature:Reporting, release_note:skip, Team:SharedUX, backport:all-open, ci:cloud-deploy

#189664 [Index management] Unskip api_integration tests for inference endpoints
  x-pack/test/api_integration/apis/management/index_management/inference_endpoints.ts
  x-pack/test_serverless/api_integration/test_suites/common/index_management/inference_endpoints.ts
Labels: release_note:skip, Team:Search, v8.15.0

#189281 [Infra] Create new formulas for rx and tx metrics
  x-pack/plugins/observability_solution/infra/common/formatters/snapshot_metric_formats.ts
  x-pack/plugins/observability_solution/infra/common/http_api/infra/get_infra_metrics.ts
  x-pack/plugins/observability_solution/infra/common/inventory_models/intl_strings.ts
  x-pack/plugins/observability_solution/infra/common/snapshot_metric_i18n.ts
  x-pack/plugins/observability_solution/infra/public/alerting/inventory/components/expression.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/inventory_view/components/timeline/timeline.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/inventory_view/components/toolbars/metrics_and_groupby_toolbar_items.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.test.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/inventory_view/lib/create_inventory_metric_formatter.ts
  x-pack/plugins/observability_solution/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/plugins/observability_solution/metrics_data_access/common/inventory_models/host/index.ts
  x-pack/plugins/observability_solution/metrics_data_access/common/inventory_models/host/metrics/formulas/network.ts
  x-pack/plugins/observability_solution/metrics_data_access/common/inventory_models/host/metrics/snapshot/index.ts
  x-pack/plugins/observability_solution/metrics_data_access/common/inventory_models/host/metrics/snapshot/rx_v2.ts
  x-pack/plugins/observability_solution/metrics_data_access/common/inventory_models/host/metrics/snapshot/tx_v2.ts
  x-pack/plugins/observability_solution/metrics_data_access/common/inventory_models/types.ts
  x-pack/test/api_integration/apis/metrics_ui/infra.ts
  x-pack/test/functional/apps/infra/home_page.ts
  x-pack/test/functional/apps/infra/hosts_view.ts
  x-pack/test/functional/page_objects/infra_hosts_view.ts
Labels: release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services

#189239 [ML] Job selection flyout: UX improvements
  x-pack/plugins/ml/public/alerting/anomaly_detection_rule/ml_anomaly_alert_trigger.tsx
  x-pack/plugins/ml/public/alerting/job_selector.tsx
  x-pack/plugins/ml/public/alerting/jobs_health_rule/anomaly_detection_jobs_health_rule_trigger.tsx
  x-pack/plugins/ml/public/application/components/job_selector/job_selector_flyout.tsx
  x-pack/plugins/ml/public/application/components/job_selector/job_selector_table/job_selector_table.js
  x-pack/plugins/ml/public/embeddables/anomaly_charts/anomaly_charts_initializer.tsx
  x-pack/plugins/ml/public/embeddables/anomaly_swimlane/anomaly_swimlane_initializer.tsx
  x-pack/plugins/ml/public/embeddables/single_metric_viewer/single_metric_viewer_initializer.tsx
Labels: :ml, release_note:skip, v8.16.0

#189367 [ES|QL] Initialize with time named params for dataviews without @timestamp
  packages/kbn-esql-utils/src/utils/get_initial_esql_query.test.ts
  packages/kbn-esql-utils/src/utils/get_initial_esql_query.ts
  src/plugins/discover/common/esql_locator.ts
  src/plugins/discover/public/application/main/discover_main_route.tsx
  src/plugins/discover/public/global_search/search_provider.ts
  src/plugins/discover/public/plugin.tsx
  src/plugins/unified_search/public/dataview_picker/change_dataview.tsx
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/create_action_helpers.ts
Labels: release_note:enhancement, backport:skip, Feature:ES|QL, Team:ESQL, v8.16.0

#189689 [ES|QL] Improved support for Elasticsearch sub-types in AST for both validation and autocomplete
  packages/kbn-esql-ast/src/__tests__/ast_parser.literal.test.ts
  packages/kbn-esql-ast/src/ast_factory.ts
  packages/kbn-esql-ast/src/ast_helpers.ts
  packages/kbn-esql-ast/src/ast_walker.ts
  packages/kbn-esql-ast/src/builder/index.test.ts
  packages/kbn-esql-ast/src/builder/index.ts
  packages/kbn-esql-ast/src/types.ts
  packages/kbn-esql-ast/src/visitor/contexts.ts
  packages/kbn-esql-ast/src/walker/walker.test.ts
  packages/kbn-esql-validation-autocomplete/scripts/generate_function_definitions.ts
  packages/kbn-esql-validation-autocomplete/scripts/generate_function_validation_tests.ts
  packages/kbn-esql-validation-autocomplete/src/__tests__/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.stats.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/factories.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/helper.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/aggs.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/builtin.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/commands.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/functions.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/grouping.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/types.ts
  packages/kbn-esql-validation-autocomplete/src/shared/esql_to_kibana_type.ts
  packages/kbn-esql-validation-autocomplete/src/shared/esql_types.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/shared/variables.ts
  packages/kbn-esql-validation-autocomplete/src/validation/__tests__/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/validation/__tests__/test_suites/validation.command.metrics.ts
  packages/kbn-esql-validation-autocomplete/src/validation/__tests__/test_suites/validation.command.stats.ts
  packages/kbn-esql-validation-autocomplete/src/validation/__tests__/validation.eval.date_diff.test.ts
  packages/kbn-esql-validation-autocomplete/src/validation/__tests__/validation.params.test.ts
  packages/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  packages/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
  packages/kbn-esql-validation-autocomplete/src/validation/validation.ts
  packages/kbn-text-based-editor/src/ecs_metadata_helper.test.ts
  packages/kbn-text-based-editor/src/ecs_metadata_helper.ts
  packages/kbn-text-based-editor/src/text_based_languages_editor.tsx
  packages/kbn-text-based-editor/tsconfig.json
  test/api_integration/apis/esql/errors.ts
Labels: release_note:enhancement, Feature:ES|QL, Team:ESQL, v8.16.0

#189322 [OAS][DOCS] Add temporary overlays for Kibana API documents
  .github/CODEOWNERS
  oas_docs/makefile
  oas_docs/overlays/kibana.overlays.serverless.yaml
  oas_docs/overlays/kibana.overlays.yaml
Labels: Team:Docs, release_note:skip, docs, backport:prev-minor, Feature:OAS

#189553 Update ARIA role attribute in the log stream
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_text_stream/column_headers.tsx
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_text_stream/log_entry_column.tsx
Labels: release_note:skip, ci:project-deploy-observability

#189723 chore(NA): skip defend workflows tests failing because of vagrant
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/automated_response_actions.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_alerts.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_list/endpoints.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/alerts_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/document_signing.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/endpoints_list_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/execute.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/file_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/process_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/release.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/scan.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_enabled.cy.ts
Labels: Team:Operations, skipped-test, release_note:skip, auto-backport, v8.15.0, v8.16.0, v8.14.4

#189548 chore(NA): update versions after v7.17.24 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.16.0

#189547 chore(NA): bump version to 7.17.24
  package.json
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v7.17.24

#188261 [Spaces] UX improvements to spaces grid
  docs/spaces/images/space-management.png
  x-pack/plugins/spaces/public/management/spaces_grid/spaces_grid_page.test.tsx
  x-pack/plugins/spaces/public/management/spaces_grid/spaces_grid_page.tsx
  x-pack/plugins/spaces/public/management/spaces_management_app.test.tsx
  x-pack/plugins/spaces/public/management/spaces_management_app.tsx
  x-pack/test/functional/apps/spaces/index.ts
  x-pack/test/functional/apps/spaces/spaces_grid.ts
  x-pack/test/functional/config.base.js
  x-pack/test/functional/page_objects/space_selector_page.ts
Labels: release_note:enhancement, Team:Security

#189740 [8.15] chore(NA): skip defend workflows tests failing because of vagrant (#189723)
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/automated_response_actions.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_alerts.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_list/endpoints.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/alerts_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/document_signing.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/endpoints_list_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/execute.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/file_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/process_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/release.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/scan.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_enabled.cy.ts
Labels: backport

#186641 [Console Monaco migration] Fix flaky documentation tests
  test/functional/apps/console/monaco/_misc_console_behavior.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip

#189583 [DOCS] Add known issue to 8.14 release notes
  docs/CHANGELOG.asciidoc
Labels: release_note:skip, Team:ResponseOps, docs, v8.15.0, v8.16.0, v8.14.4

#189751 [8.15] [DOCS] Add known issue to 8.14 release notes (#189583)
  docs/CHANGELOG.asciidoc
Labels: backport

#189750 [8.14] [DOCS] Add known issue to 8.14 release notes (#189583)
  docs/CHANGELOG.asciidoc
Labels: backport

#189680 [Embeddable Rebuild] [Controls] Fix range slider state on field change
  examples/controls_example/public/react_controls/data_controls/initialize_data_control.ts
  examples/controls_example/public/react_controls/data_controls/range_slider/get_range_slider_control_factory.tsx
Labels: Team:Presentation, loe:small, release_note:skip, impact:high, Project:Controls, project:embeddableRebuild

#187929 [Security Solution][AVC banner] Hide AVC banner on January 1, 2025
  packages/kbn-avc-banner/src/index.tsx
  packages/kbn-doc-links/src/get_doc_links.ts
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/overview.tsx
  x-pack/plugins/security_solution/public/common/components/landing_page/onboarding/onboarding.test.tsx
  x-pack/plugins/security_solution/public/common/components/landing_page/onboarding/onboarding.tsx
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows, v8.16.0

#189656 [Console] Fix autocomplete suggestions after a comma
  src/plugins/console/public/application/containers/editor/monaco/utils/autocomplete_utils.test.ts
  src/plugins/console/public/application/containers/editor/monaco/utils/autocomplete_utils.ts
  test/functional/apps/console/monaco/_autocomplete.ts
Labels: Feature:Console, release_note:fix, Team:Kibana Management

#189429 feat(slo): create burn rate embeddable
  x-pack/plugins/observability_solution/slo/public/components/slo/simple_burn_rate/burn_rate.tsx
  x-pack/plugins/observability_solution/slo/public/embeddable/slo/alerts/slo_selector.tsx
  x-pack/plugins/observability_solution/slo/public/embeddable/slo/burn_rate/burn_rate.tsx
  x-pack/plugins/observability_solution/slo/public/embeddable/slo/burn_rate/burn_rate_react_embeddable_factory.tsx
  x-pack/plugins/observability_solution/slo/public/embeddable/slo/burn_rate/configuration.tsx
  x-pack/plugins/observability_solution/slo/public/embeddable/slo/burn_rate/constants.ts
  x-pack/plugins/observability_solution/slo/public/embeddable/slo/burn_rate/open_configuration.tsx
  x-pack/plugins/observability_solution/slo/public/embeddable/slo/burn_rate/types.ts
  x-pack/plugins/observability_solution/slo/public/hooks/query_key_factory.ts
  x-pack/plugins/observability_solution/slo/public/hooks/use_fetch_slo_burn_rates.ts
  x-pack/plugins/observability_solution/slo/public/hooks/use_fetch_slo_details.ts
  x-pack/plugins/observability_solution/slo/public/pages/slo_details/hooks/use_get_query_params.ts
  x-pack/plugins/observability_solution/slo/public/plugin.ts
  x-pack/plugins/observability_solution/slo/public/ui_actions/create_burn_rate_panel_action.tsx
  x-pack/plugins/observability_solution/slo/public/ui_actions/index.ts
Labels: release_note:feature, ci:project-deploy-observability, Team:obs-ux-management, v8.16.0

#189754 [8.15] obs: deploy serverless when targeting main only (#187741)
  .buildkite/scripts/steps/serverless/deploy.sh
Labels: backport

#189742 Revert "[Index management] Unskip api_integration tests for inference endpoints"
  x-pack/test/api_integration/apis/management/index_management/inference_endpoints.ts
  x-pack/test_serverless/api_integration/test_suites/common/index_management/inference_endpoints.ts
Labels: release_note:skip, Team:Search, v8.16.0

#189753 Revert "chore(NA): skip defend workflows tests failing because of vagrant (#189723)
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/automated_response_actions.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_alerts.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_list/endpoints.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/alerts_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/document_signing.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/endpoints_list_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/execute.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/file_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/process_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/release.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/scan.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_enabled.cy.ts
Labels: chore, Team:Operations, release_note:skip, backport:prev-minor, v8.16.0

#189766 [8.15] Revert &quot;chore(NA): skip defend workflows tests failing because of vagrant (#189723) (#189753)
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/automated_response_actions.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_alerts.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_list/endpoints.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/alerts_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/document_signing.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/endpoints_list_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/execute.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/file_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/process_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/release.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/scan.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_enabled.cy.ts
Labels: backport

#189732 Revert "Replace 'model_id' with 'inference_id' for inference endpoints"
  x-pack/packages/ml/trained_models_utils/src/constants/trained_models.ts
  x-pack/plugins/index_management/__jest__/client_integration/index_details_page/index_details_page.test.tsx
  x-pack/plugins/index_management/__jest__/client_integration/index_details_page/select_inference_id.test.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/field_parameters/select_inference_id.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/create_field/semantic_text/use_semantic_text.test.ts
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/create_field/semantic_text/use_semantic_text.ts
  x-pack/plugins/index_management/public/application/hooks/use_index_errors.ts
  x-pack/plugins/index_management/public/hooks/use_details_page_mappings_model_management.test.ts
  x-pack/plugins/index_management/public/hooks/use_details_page_mappings_model_management.ts
  x-pack/plugins/ml/public/application/model_management/delete_models_modal.tsx
  x-pack/plugins/ml/public/application/model_management/force_stop_dialog.tsx
  x-pack/plugins/ml/public/application/model_management/inference_api_tab.tsx
  x-pack/plugins/ml/public/application/model_management/model_actions.tsx
  x-pack/plugins/ml/server/routes/trained_models.test.ts
  x-pack/plugins/ml/server/routes/trained_models.ts
  x-pack/plugins/search_inference_endpoints/public/components/all_inference_endpoints/render_table_columns/render_actions/actions/copy_id/copy_id_action.test.tsx
  x-pack/plugins/search_inference_endpoints/public/components/all_inference_endpoints/render_table_columns/render_actions/actions/copy_id/copy_id_action.tsx
  x-pack/plugins/search_inference_endpoints/public/components/all_inference_endpoints/render_table_columns/render_actions/actions/delete/delete_action.tsx
  x-pack/plugins/search_inference_endpoints/public/components/all_inference_endpoints/render_table_columns/render_endpoint/endpoint_info.test.tsx
  x-pack/plugins/search_inference_endpoints/public/components/all_inference_endpoints/render_table_columns/render_endpoint/endpoint_info.tsx
  x-pack/plugins/search_inference_endpoints/public/components/all_inference_endpoints/tabular_page.test.tsx
  x-pack/plugins/search_inference_endpoints/public/components/all_inference_endpoints/tabular_page.tsx
  x-pack/plugins/search_inference_endpoints/public/hooks/use_table_data.test.tsx
  x-pack/plugins/search_inference_endpoints/public/hooks/use_table_data.tsx
  x-pack/plugins/search_inference_endpoints/server/lib/fetch_inference_endpoints.test.ts
  x-pack/test/api_integration/apis/management/index_management/inference_endpoints.ts
  x-pack/test_serverless/api_integration/test_suites/common/index_management/inference_endpoints.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.16.0

#189601 [ES|QL][Discover] Hide null values from the document viewer
  src/plugins/unified_doc_viewer/public/components/doc_viewer_table/table.tsx
  test/functional/apps/discover/group3/_doc_viewer.ts
Labels: release_note:enhancement, Feature:Discover, Team:DataDiscovery, Feature:ES|QL, v8.16.0

#189705 [8.15] [Custom threshold] Respect query:allowLeadingWildcards in optional query filter (#189488)
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/custom_threshold_executor.test.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/custom_threshold_executor.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/lib/check_missing_group.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/lib/evaluate_rule.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/lib/get_data.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/lib/metric_query.test.ts
  x-pack/plugins/observability_solution/observability/server/lib/rules/custom_threshold/lib/metric_query.ts
  x-pack/plugins/observability_solution/observability/server/utils/get_es_query_config.test.ts
  x-pack/plugins/observability_solution/observability/server/utils/get_es_query_config.ts
  x-pack/plugins/observability_solution/observability/server/utils/get_parsed_filtered_query.ts
  x-pack/plugins/observability_solution/observability/tsconfig.json
Labels: backport, ci:project-deploy-observability, Team:obs-ux-management

#189627 Display error message when failing to enable machine learning anomaly detection in Inventory
  x-pack/plugins/observability_solution/infra/public/components/ml/anomaly_detection/job_setup_screen.tsx
  x-pack/plugins/observability_solution/infra/public/containers/ml/api/ml_setup_module_api.ts
  x-pack/plugins/observability_solution/infra/public/containers/ml/infra_ml_module_status.test.ts
  x-pack/plugins/observability_solution/infra/public/containers/ml/infra_ml_module_status.tsx
Labels: release_note:fix, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.16.0

#189460 Reporting/8.14: CSV Docs formatting fix
  docs/settings/reporting-settings.asciidoc
Labels: bug, backport, docs, Team:SharedUX, v8.13.0, v8.14.0

#188108 [Entity Analytics] Remove internal asset criticality APIs
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/index.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/internal_create_asset_criticality.gen.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/internal_create_asset_criticality.schema.yaml
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/internal_delete_asset_criticality.gen.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/internal_delete_asset_criticality.schema.yaml
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/internal_get_asset_criticality.gen.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/internal_get_asset_criticality.schema.yaml
  x-pack/plugins/security_solution/common/entity_analytics/asset_criticality/constants.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/delete.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/get.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/register_asset_criticality_routes.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/upload_csv.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/upsert.ts
  x-pack/test/api_integration/services/security_solution_api.gen.ts
Labels: release_note:skip, Team:Entity Analytics

#188923 [Security Solution][Timeline] Remove BrowserField type
  x-pack/packages/security-solution/data_table/components/data_table/column_headers/helpers.tsx
  x-pack/packages/security-solution/data_table/tsconfig.json
  x-pack/plugins/security_solution/common/search_strategy/index_fields/index.ts
  x-pack/plugins/security_solution/public/common/components/drag_and_drop/helpers.ts
  x-pack/plugins/security_solution/public/common/components/event_details/table/use_action_cell_data_provider.ts
  x-pack/plugins/security_solution/public/common/components/event_details/types.ts
  x-pack/plugins/security_solution/public/common/components/ml/hooks/use_ml_rule_config.ts
  x-pack/plugins/security_solution/public/common/containers/source/index.tsx
  x-pack/plugins/security_solution/public/common/containers/source/use_data_view.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/utils.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/common/hooks.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/common/hooks.ts
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/table_field_value_cell.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/table_field_value_cell.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/tabs/table_tab.tsx
  x-pack/plugins/security_solution/public/sourcerer/store/model.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/formatted_field.tsx
  x-pack/plugins/timelines/common/index.ts
  x-pack/plugins/timelines/common/search_strategy/index_fields/index.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#189618 [Index management] Make allowAutoCreate param optional as its not available for legacy templates
  x-pack/plugins/index_management/server/routes/api/templates/validate_schemas.ts
Labels: Feature:Index Management, Team:Kibana Management, release_note:skip, v7.15.0, v8.16.0

#189763 [Logs UI] Fix missing `share` service in shared component fly-out
  x-pack/plugins/observability_solution/logs_shared/public/components/log_stream/log_stream.tsx
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_entry_flyout/log_entry_flyout.tsx
Labels: bug, release_note:fix, Feature:Logs UI, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-logs

#188340 [Observability Onboarding] Add customizable header for quickstart flows
  x-pack/plugins/observability_solution/observability_onboarding/public/application/header/custom_header.test.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/header/custom_header.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/header/header.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/header/index.ts
  x-pack/plugins/observability_solution/observability_onboarding/public/application/observability_onboarding_flow.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/auto_detect.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/custom_logs.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/index.ts
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/kubernetes.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/landing.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/otel_logs.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/system_logs.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/pages/template.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/shared/back_button.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/shared/logo_icon.tsx
  x-pack/plugins/observability_solution/observability_onboarding/public/application/shared/test_wrapper.tsx
Labels: release_note:enhancement, ci:project-deploy-observability, Team:obs-ux-logs, v8.16.0

#189418 [Console] Add sql highlighting inside triple quote strings
  packages/kbn-monaco/src/console/lexer_rules/nested_sql.ts
  packages/kbn-monaco/src/console/lexer_rules/shared.ts
  packages/kbn-monaco/src/sql/lexer_rules/index.ts
  packages/kbn-monaco/src/sql/lexer_rules/sql.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip

#189716 [Search] [Playground] Omit question from session state
  x-pack/plugins/search_playground/public/providers/form_provider.test.tsx
  x-pack/plugins/search_playground/public/providers/form_provider.tsx
  x-pack/test/functional/page_objects/search_playground_page.ts
  x-pack/test_serverless/functional/test_suites/search/search_playground/playground_overview.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.16.0

#189665 [Security Solution] Auto bundle endpoint exceptions api openapi specs
  .buildkite/scripts/steps/code_generation/security_solution_codegen.sh
  .buildkite/scripts/steps/openapi_bundling/security_solution_openapi_bundling.sh
  packages/kbn-securitysolution-endpoint-exceptions-common/docs/openapi/ess/security_solution_endpoint_exceptions_api_2023_10_31.bundled.schema.yaml
  packages/kbn-securitysolution-endpoint-exceptions-common/docs/openapi/serverless/security_solution_endpoint_exceptions_api_2023_10_31.bundled.schema.yaml
  packages/kbn-securitysolution-endpoint-exceptions-common/package.json
  packages/kbn-securitysolution-endpoint-exceptions-common/scripts/openapi_bundle.js
  x-pack/plugins/security_solution/docs/openapi/ess/security_solution_timeline_api_2023_10_31.bundled.schema.yaml
  x-pack/plugins/security_solution/docs/openapi/serverless/security_solution_timeline_api_2023_10_31.bundled.schema.yaml
  x-pack/plugins/security_solution/scripts/openapi/bundle_timeline.js
Labels: release_note:skip, docs, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Team:Detection Engine, v8.16.0

#189779 [8.15] [Index management] Make allowAutoCreate param optional as its not available for legacy templates (#189618)
  x-pack/plugins/index_management/server/routes/api/templates/validate_schemas.ts
Labels: backport

#189210 [Console Monaco] Improve highlighting for status codes in multiple responses
  packages/kbn-monaco/src/console/lexer_rules/console_output.ts
  packages/kbn-monaco/src/console/theme.ts
  src/plugins/console/public/application/containers/editor/monaco/monaco_editor_output.tsx
  src/plugins/console/public/application/containers/editor/monaco/utils/constants.ts
  src/plugins/console/public/application/containers/editor/monaco/utils/index.ts
  src/plugins/console/public/application/containers/editor/monaco/utils/status_code_decoration_utils.test.ts
  src/plugins/console/public/application/containers/editor/monaco/utils/status_code_decoration_utils.ts
  src/plugins/console/public/styles/_app.scss
Labels: Feature:Console, Team:Kibana Management, release_note:skip

#189781 [Search] Fix Jira connector DLS
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.15.0, v8.16.0

#189497 [Spaces] Added additional tests for space next route navigation
  x-pack/plugins/spaces/server/routes/views/index.test.ts
  x-pack/plugins/spaces/server/routes/views/index.ts
  x-pack/test/functional/apps/spaces/enter_space.ts
Labels: Team:Security, Feature:Security/Spaces, release_note:skip

#189782 [8.15] [Logs UI] Fix missing &#x60;share&#x60; service in shared component fly-out (#189763)
  x-pack/plugins/observability_solution/logs_shared/public/components/log_stream/log_stream.tsx
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_entry_flyout/log_entry_flyout.tsx
Labels: backport, ci:project-deploy-observability

#189784 [APM][ECO] Fix empty state alignment
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/multi_signal_inventory/table/no_entities_empty_state.tsx
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.16.0

#189788 [8.15] [Search] Fix Jira connector DLS (#189781)
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: backport

#189279 [8.15] [Search] Add index errors in Search Index page (#188682)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_error.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/search_index.tsx
  x-pack/plugins/ml/public/application/services/ml_api_service/inference_models.ts
  x-pack/plugins/ml/server/routes/inference_models.ts
Labels: backport

#189513 [Stateful sidenav] Remove Launch Darkly feature flag
  config/serverless.yml
  packages/kbn-capture-oas-snapshot-cli/src/kibana_worker.ts
  src/plugins/navigation/common/constants.ts
  src/plugins/navigation/common/index.ts
  src/plugins/navigation/kibana.jsonc
  src/plugins/navigation/public/plugin.test.ts
  src/plugins/navigation/public/plugin.tsx
  src/plugins/navigation/public/types.ts
  src/plugins/navigation/server/types.ts
  src/plugins/navigation/tsconfig.json
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/cloud_integrations/cloud_experiments/common/constants.ts
  x-pack/plugins/spaces/kibana.jsonc
  x-pack/plugins/spaces/public/config.ts
  x-pack/plugins/spaces/public/experiments/index.ts
  x-pack/plugins/spaces/public/experiments/is_solution_nav_enabled.ts
  x-pack/plugins/spaces/public/management/edit_space/manage_space_page.test.tsx
  x-pack/plugins/spaces/public/management/edit_space/manage_space_page.tsx
  x-pack/plugins/spaces/public/management/management_service.test.ts
  x-pack/plugins/spaces/public/management/management_service.tsx
  x-pack/plugins/spaces/public/management/spaces_grid/spaces_grid_page.test.tsx
  x-pack/plugins/spaces/public/management/spaces_grid/spaces_grid_page.tsx
  x-pack/plugins/spaces/public/management/spaces_management_app.test.tsx
  x-pack/plugins/spaces/public/management/spaces_management_app.tsx
  x-pack/plugins/spaces/public/nav_control/components/spaces_menu.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control_popover.test.tsx
  x-pack/plugins/spaces/public/nav_control/nav_control_popover.tsx
  x-pack/plugins/spaces/public/plugin.tsx
  x-pack/plugins/spaces/server/config.test.ts
  x-pack/plugins/spaces/server/config.ts
  x-pack/plugins/spaces/server/index.ts
  x-pack/plugins/spaces/server/plugin.test.ts
  x-pack/plugins/spaces/server/plugin.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client.test.ts
  x-pack/plugins/spaces/server/spaces_client/spaces_client.ts
  x-pack/plugins/spaces/tsconfig.json
  x-pack/test/functional/apps/spaces/solution_view_flag_enabled/config.ts
  x-pack/test/spaces_api_integration/common/config.ts
Labels: release_note:skip, Team:SharedUX, Feature:Chrome

#189718 [ResponseOps][Cases] Fix FilesUtilityBar flaky test
  x-pack/plugins/cases/public/common/mock/test_providers.tsx
  x-pack/plugins/cases/public/components/files/add_file.tsx
  x-pack/plugins/cases/public/components/files/files_utility_bar.test.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.16.0

#189519 [Fleet] RBAC - Make read agent actions space aware
  x-pack/plugins/fleet/server/routes/agent/actions_handlers.ts
  x-pack/plugins/fleet/server/routes/agent/handlers.ts
  x-pack/plugins/fleet/server/routes/enrollment_api_key/handler.ts
  x-pack/plugins/fleet/server/services/agents/action_status.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/update_agent_tags.ts
  x-pack/plugins/fleet/server/services/agents/update_agent_tags_action_runner.ts
  x-pack/plugins/fleet/server/services/spaces/agent_namespaces.test.ts
  x-pack/plugins/fleet/server/services/spaces/agent_namespaces.ts
  x-pack/plugins/fleet/server/services/spaces/get_current_namespace.ts
  x-pack/plugins/fleet/server/services/spaces/query_namespaces_filtering.test.ts
  x-pack/plugins/fleet/server/services/spaces/query_namespaces_filtering.ts
  x-pack/test/fleet_api_integration/apis/space_awareness/actions.ts
  x-pack/test/fleet_api_integration/apis/space_awareness/agents.ts
  x-pack/test/fleet_api_integration/apis/space_awareness/api_helper.ts
  x-pack/test/fleet_api_integration/apis/space_awareness/enrollment_settings.ts
  x-pack/test/fleet_api_integration/apis/space_awareness/helpers.ts
  x-pack/test/fleet_api_integration/apis/space_awareness/index.js
  x-pack/test/fleet_api_integration/apis/space_awareness/package_install.ts
Labels: release_note:skip, Team:Fleet

#189570 [EEM] Change codeowners for `kbn-entities-schema` package and `entity_manager` plugin
  .github/CODEOWNERS
  x-pack/packages/kbn-entities-schema/kibana.jsonc
  x-pack/plugins/observability_solution/entity_manager/kibana.jsonc
Labels: release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-knowledge, v8.16.0, Feature:EEM, team:obs-entities

#189789 [7.17] Update dependency require-in-the-middle to ^7.4.0 (main) (#189749)
  package.json
  packages/kbn-pm/dist/index.js
  yarn.lock
Labels: backport

#189786 Make ELU history route `internal`
  packages/core/metrics/core-metrics-server-internal/src/routes/elu_history.ts
  src/core/server/integration_tests/metrics/elu_load.test.ts
Labels: Team:Core, release_note:skip, ci:project-deploy-elasticsearch, Feature:OAS, v8.16.0

#189762 [project-deploy] Remove observability deploy
  .buildkite/scripts/steps/serverless/deploy.sh
Labels: Team:Operations, release_note:skip

#189727 [8.15] [Index management] Unskip api_integration tests for inference endpoints (#189664)
  x-pack/test/api_integration/apis/management/index_management/inference_endpoints.ts
  x-pack/test_serverless/api_integration/test_suites/common/index_management/inference_endpoints.ts
Labels: backport

#189795 [Observability Onboarding] Change k8s quick start flow title
  x-pack/plugins/observability_solution/observability_onboarding/public/application/quickstart_flows/kubernetes/index.tsx
Labels: release_note:skip, ci:project-deploy-observability

#189799 [artifacts] Publish kibana-wolfi docker image
  .buildkite/scripts/steps/artifacts/publish.sh
Labels: Team:Operations, release_note:skip

#189670 [Embeddable Rebuild] [Controls] Add `order` to control factory
  examples/controls_example/public/react_controls/data_controls/data_control_editor.test.tsx
  examples/controls_example/public/react_controls/data_controls/data_control_editor.tsx
  examples/controls_example/public/react_controls/data_controls/options_list_control/get_options_list_control_factory.tsx
  examples/controls_example/public/react_controls/types.ts
Labels: Team:Presentation, loe:small, release_note:skip, impact:high, Project:Controls, project:embeddableRebuild

#189765 [CI] Add suggestion from #189316
  .buildkite/scripts/common/util.sh
Labels: Team:Operations, release_note:skip, backport:all-open

#189734 [8.15] [OAS][DOCS] Add temporary overlays for Kibana API documents (#189322)
  oas_docs/makefile
  oas_docs/overlays/kibana.overlays.yaml
Labels: backport

#189655 [8.15] [OAS][DOCS] Deprecate saved object APIs (#189223)
  oas_docs/output/kibana.yaml
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/bulk_create.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/bulk_delete.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/bulk_get.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/bulk_resolve.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/bulk_update.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/create.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/delete.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/export.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/find.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/get.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/import.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/resolve.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/resolve_import_errors.ts
  packages/core/saved-objects/core-saved-objects-server-internal/src/routes/update.ts
  packages/core/saved-objects/docs/openapi/README.md
  packages/core/saved-objects/docs/openapi/bundled.json
  packages/core/saved-objects/docs/openapi/bundled.yaml
  packages/core/saved-objects/docs/openapi/bundled_serverless.json
  packages/core/saved-objects/docs/openapi/bundled_serverless.yaml
  packages/core/saved-objects/docs/openapi/entrypoint.yaml
  packages/core/saved-objects/docs/openapi/entrypoint_serverless.yaml
  packages/core/saved-objects/docs/openapi/paths/api@saved_objects@_export.yaml
  packages/core/saved-objects/docs/openapi/paths/api@saved_objects@_import.yaml
  packages/core/saved-objects/docs/openapi/paths/s@{spaceid}@api@saved_objects@_export.yaml
  packages/core/saved-objects/docs/openapi/paths/s@{spaceid}@api@saved_objects@_import.yaml
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.test.ts
  x-pack/plugins/encrypted_saved_objects/server/routes/key_rotation.ts
Labels: backport

#189075 [Security Solution] Hide settings button when no privileges
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  src/plugins/ai_assistant_management/selection/public/app_context.tsx
  src/plugins/ai_assistant_management/selection/public/index.ts
  src/plugins/ai_assistant_management/selection/public/management_section/mount_section.tsx
  src/plugins/ai_assistant_management/selection/public/plugin.ts
  src/plugins/ai_assistant_management/selection/public/routes/components/ai_assistant_selection_page.test.tsx
  src/plugins/ai_assistant_management/selection/public/routes/components/ai_assistant_selection_page.tsx
  src/plugins/ai_assistant_management/selection/tsconfig.json
  x-pack/plugins/security_solution/public/assistant/stack_management/management_settings.test.tsx
  x-pack/plugins/security_solution/public/assistant/stack_management/management_settings.tsx
Labels: bug, release_note:skip, Team:Security Generative AI, v8.15.0

#189768 [Cloud Security] Fix Detection Rule flaky FTR
  x-pack/test/cloud_security_posture_functional/pages/findings_alerts.ts
Labels: release_note:skip, Team:Cloud Security, v8.16.0

#189769 [Move `@kbn/config-schema` to server] `@kbn/optimizer`
  packages/kbn-optimizer/kibana.jsonc
  packages/kbn-plugin-helpers/kibana.jsonc
Labels: Team:Operations, technical debt, release_note:skip, backport:skip

#189824 [8.15] [CI] Add suggestion from #189316 (#189765)
  .buildkite/scripts/common/util.sh
Labels: backport

#189815 fix(es-setup): retry docker pull on "connection refused"
  packages/kbn-es/src/utils/docker.ts
Labels: bug, Team:Core, Team:Operations, release_note:skip, backport:skip

#189721 [8.15] [Reporting] upgrade puppeteer to v22.13.1 (#189485)
  package.json
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.test.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/driver_factory/args.ts
  x-pack/plugins/screenshotting/server/browsers/chromium/paths.ts
  yarn.lock
Labels: backport

#189828 [8.15] [Security Solution] Hide settings button when no privileges (#189075)
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  src/plugins/ai_assistant_management/selection/public/app_context.tsx
  src/plugins/ai_assistant_management/selection/public/index.ts
  src/plugins/ai_assistant_management/selection/public/management_section/mount_section.tsx
  src/plugins/ai_assistant_management/selection/public/plugin.ts
  src/plugins/ai_assistant_management/selection/public/routes/components/ai_assistant_selection_page.test.tsx
  src/plugins/ai_assistant_management/selection/public/routes/components/ai_assistant_selection_page.tsx
  src/plugins/ai_assistant_management/selection/tsconfig.json
  x-pack/plugins/security_solution/public/assistant/stack_management/management_settings.test.tsx
  x-pack/plugins/security_solution/public/assistant/stack_management/management_settings.tsx
Labels: backport

#189494 [Response Ops][Alerting] Classify `index pattern not found` errors from ES query rule as user error
  x-pack/plugins/stack_alerts/server/rule_types/es_query/lib/fetch_search_source_query.test.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/lib/fetch_search_source_query.ts
  x-pack/plugins/stack_alerts/tsconfig.json
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, v8.16.0

#189826 [7.17] [CI] Add suggestion from #189316 (#189765)
  .buildkite/scripts/common/util.sh
Labels: backport

#189217 [Cloud Security] [Agentless ] Added beta badge and defaulted selector to agent-based
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.test.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/setup_technology_selector/setup_technology_selector.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/setup_technology_selector/use_setup_technology.test.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/setup_technology_selector/use_setup_technology.ts
  x-pack/test/cloud_security_posture_functional/page_objects/add_cis_integration_form_page.ts
  x-pack/test_serverless/functional/test_suites/security/ftr/cloud_security_posture/agentless/cis_integration_aws.ts
  x-pack/test_serverless/functional/test_suites/security/ftr/cloud_security_posture/agentless/cis_integration_gcp.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Cloud Security, ci:build-cloud-image, 8.16 candidate

#189591 [ResponseOps][TaskManager] `TaskTypeDictionary::get()` no longer `throw`s
  x-pack/plugins/task_manager/server/task.ts
  x-pack/plugins/task_manager/server/task_pool.ts
  x-pack/plugins/task_manager/server/task_running/ephemeral_task_runner.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.ts
  x-pack/plugins/task_manager/server/task_type_dictionary.test.ts
  x-pack/plugins/task_manager/server/task_type_dictionary.ts
  x-pack/plugins/task_manager/server/task_validator.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, v8.16.0

#189447 [8.15] [OAS][DOCS] Remove some SLO APIs from OpenAPI documents (#189323)
  oas_docs/output/kibana.yaml
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/README.md
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/bundled.json
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/bundled.yaml
  x-pack/plugins/observability_solution/slo/docs/openapi/slo/entrypoint.yaml
Labels: backport, ci:project-deploy-observability

#189810 [Security assistant] Fix Bedrock Langgraph ESQL tool calling
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/index.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/prompts.ts
Labels: bug, release_note:skip, Team: SecuritySolution, ci:cloud-deploy, Team:Security Generative AI, v8.15.0, v8.16.0

#189845 [8.15] [Security assistant] Fix Bedrock Langgraph ESQL tool calling (#189810)
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/index.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/prompts.ts
Labels: backport

#189801 [Discover] Add functional tests for defaultRoute setting
  test/functional/apps/discover/group8/_default_route.ts
  test/functional/apps/discover/group8/index.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#189844 [8.13] Reporting/8.14: CSV Docs formatting fix (#189460)
  docs/settings/reporting-settings.asciidoc
Labels: backport

#189849 [8.15] [Discover] Add functional tests for defaultRoute setting (#189801)
  test/functional/apps/discover/group8/_default_route.ts
  test/functional/apps/discover/group8/index.ts
Labels: backport

#189806 [OneDiscover][DocViewer] Remember the last active tab
  packages/kbn-unified-doc-viewer/src/components/doc_viewer/__snapshots__/doc_viewer.test.tsx.snap
  packages/kbn-unified-doc-viewer/src/components/doc_viewer/doc_viewer.test.tsx
  packages/kbn-unified-doc-viewer/src/components/doc_viewer/doc_viewer.tsx
  src/plugins/unified_doc_viewer/public/components/doc_viewer_table/table.tsx
Labels: release_note:enhancement, backport:skip, Team:DataDiscovery, Project:OneDiscover

#188625 CDR Data View
  .buildkite/ftr_security_stateful_configs.yml
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/cloud_security_posture/kibana.jsonc
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/cloud_security_posture/server/routes/setup_routes.ts
  x-pack/plugins/cloud_security_posture/server/saved_objects/data_views.ts
  x-pack/plugins/cloud_security_posture/server/types.ts
  x-pack/plugins/cloud_security_posture/tsconfig.json
  x-pack/test/cloud_security_posture_functional/data_views/config.ts
  x-pack/test/cloud_security_posture_functional/data_views/data_views.ts
  x-pack/test/cloud_security_posture_functional/data_views/index.ts
  x-pack/test/cloud_security_posture_functional/page_objects/add_cis_integration_form_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/benchmark_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/csp_dashboard_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/findings_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/rule_page.ts
  x-pack/test/cloud_security_posture_functional/page_objects/vulnerability_dashboard_page_object.ts
Labels: release_note:skip, ci:cloud-deploy, ci:project-deploy-security, Team: Cloud Security

#189661 [Detection Engine][FTRs] Add missing tags
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/keyword_family/keyword.ts
Labels: release_note:fix, Team:Detection Engine, v8.16.0

#189155 [ML] AIOps: Chunk groups of field candidates into single queries for top items and histograms.
  x-pack/packages/ml/agg_utils/index.ts
  x-pack/packages/ml/agg_utils/src/fetch_histograms_for_fields.ts
  x-pack/packages/ml/agg_utils/src/type_guards.ts
  x-pack/packages/ml/agg_utils/src/types.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_categories.test.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_categories.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_category_counts.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_field_candidates.test.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_field_candidates.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_index_info.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_mini_histograms_for_significant_groups.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_mini_histograms_for_significant_items.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_significant_term_p_values.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_top_terms.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/mini_histogram_utils.test.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/mini_histogram_utils.ts
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_results.tsx
  x-pack/plugins/aiops/server/routes/log_rate_analysis/analysis_handlers/grouping_handler.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/analysis_handlers/histogram_handler.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/analysis_handlers/index_info_handler.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/analysis_handlers/overall_histogram_handler.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/analysis_handlers/significant_items_handler.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/analysis_handlers/top_items_handler.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/response_stream_utils/state_handler.ts
  x-pack/plugins/aiops/server/routes/log_rate_analysis/route_handler_factory.ts
  x-pack/plugins/aiops/tsconfig.json
  x-pack/test/api_integration/apis/aiops/log_rate_analysis_full_analysis.ts
  x-pack/test/api_integration/apis/aiops/test_data.ts
  x-pack/test/api_integration/apis/aiops/types.ts
Labels: release_note:enhancement, :ml, Feature:ML/AIOps, v8.16.0

#189715 [Discover] Deactivate client-side pagination for ES|QL results
  packages/kbn-unified-data-table/src/components/data_table.tsx
  src/plugins/discover/public/application/main/components/layout/discover_documents.tsx
  src/plugins/discover/public/embeddable/components/saved_search_grid.tsx
  test/functional/apps/discover/group2_data_grid3/_data_grid_pagination.ts
Labels: release_note:enhancement, backport:skip, Team:DataDiscovery, Project:OneDiscover

#189778 [8.14] [Index management] Make allowAutoCreate param optional as its not available for legacy templates (#189618)
  x-pack/plugins/index_management/server/routes/api/templates/validate_schemas.ts
Labels: backport

#188932 [Security Solution] Remove indexFields from security data view type
  x-pack/plugins/security_solution/common/search_strategy/index_fields/index.ts
  x-pack/plugins/security_solution/public/common/containers/source/index.test.tsx
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/sourcerer/components/use_pick_index_patterns.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/get_sourcerer_data_view.test.ts
  x-pack/plugins/security_solution/public/sourcerer/containers/get_sourcerer_data_view.ts
  x-pack/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/store/model.ts
  x-pack/plugins/timelines/common/index.ts
  x-pack/plugins/timelines/common/search_strategy/index_fields/index.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#189704 [APM][ECO] revert changes to use href instead of onClick to open link…
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/multi_signal_inventory/table/no_entities_empty_state.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/add_data_buttons/buttons.tsx
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.16.0

#189834 [Fleet] Fix space awareness tests
  x-pack/plugins/fleet/server/services/agents/action_status.ts
  x-pack/test/fleet_api_integration/apis/space_awareness/helpers.ts
Labels: release_note:skip, Team:Fleet

#188903 [EDR Workflows] Use token based authentication in API integration tests
  x-pack/test/security_solution_api_integration/config/ess/services_edr_workflows.ts
  x-pack/test/security_solution_api_integration/config/serverless/services_edr_workflows.ts
  x-pack/test/security_solution_api_integration/config/services/security_solution_ess_utils.ts
  x-pack/test/security_solution_api_integration/config/services/security_solution_serverless_utils.ts
  x-pack/test/security_solution_api_integration/config/services/types.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/artifacts/trial_license_complete_tier/blocklists.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/artifacts/trial_license_complete_tier/event_filters.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/artifacts/trial_license_complete_tier/host_isolation_exceptions.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/artifacts/trial_license_complete_tier/trusted_apps.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/authentication/trial_license_complete_tier/endpoint_authz.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/metadata/trial_license_complete_tier/metadata.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/policy_response/trial_license_complete_tier/policy_response.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/resolver/trial_license_complete_tier/entity.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/resolver/trial_license_complete_tier/entity_id.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/resolver/trial_license_complete_tier/events.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/resolver/trial_license_complete_tier/tree.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/response_actions/trial_license_complete_tier/agent_type_support.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/response_actions/trial_license_complete_tier/execute.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/create_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/delete_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/export_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/find_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/import_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/patch_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/read_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/update_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/create_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/create_lists_index.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/delete_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/find_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/find_lists_by_size.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/patch_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/read_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/update_lists.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows, v8.16.0

#189840 [8.14][ci] Use elastic-images-prod
  .buildkite/pipelines/artifacts.yml
  .buildkite/pipelines/artifacts_trigger.yml
  .buildkite/pipelines/security_solution/api_integration_serverless_release.yml
Labels: Team:Operations, release_note:skip

#189741 [EEM] Add exists filter to history transform for required identity fields
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/transform/__snapshots__/generate_history_transform.test.ts.snap
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/transform/generate_history_transform.ts
Labels: release_note:skip, ci:project-deploy-observability, v8.16.0, Feature:EEM, team:obs-entities

#189872 [Entity Analytics] Improve response body for asset criticality delete route
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/delete_asset_criticality.gen.ts
  x-pack/plugins/security_solution/common/api/entity_analytics/asset_criticality/delete_asset_criticality.schema.yaml
  x-pack/plugins/security_solution/docs/openapi/ess/security_solution_entity_analytics_api_2023_10_31.bundled.schema.yaml
  x-pack/plugins/security_solution/docs/openapi/serverless/security_solution_entity_analytics_api_2023_10_31.bundled.schema.yaml
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/asset_criticality_data_client.ts
  x-pack/plugins/security_solution/server/lib/entity_analytics/asset_criticality/routes/delete.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/risk_engine/trial_license_complete_tier/asset_criticality.ts
Labels: release_note:enhancement, Team:Entity Analytics

#189876 [DOCS] Updates log pattern analysis docs in Discover
  docs/discover/images/log-pattern-analysis-available-fields.png
  docs/discover/images/log-pattern-analysis-results.png
  docs/discover/log-pattern-analysis.asciidoc
Labels: Team:Docs, :ml, release_note:skip, docs, v8.15.0, v8.16.0

#189890 [8.15] [DOCS] Updates log pattern analysis docs in Discover (#189876)
  docs/discover/images/log-pattern-analysis-available-fields.png
  docs/discover/images/log-pattern-analysis-results.png
  docs/discover/log-pattern-analysis.asciidoc
Labels: backport

#189885 [Obs AI Assistant] Fix bug “Cannot set initialMessages if initialConversationId is set"
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/components/nav_control/index.tsx
Labels: release_note:fix, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0

#189809 [Fleet] Allow +build versions when upgrading agents
  package.json
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agent_list_table.tsx
  yarn.lock
Labels: release_note:skip, Team:Fleet, backport:prev-minor

#189675 Includes 'spaces' feature ID when disabling capabilities based on privilege
  x-pack/plugins/security/server/authorization/disable_ui_capabilities.test.ts
  x-pack/plugins/security/server/authorization/disable_ui_capabilities.ts
Labels: Team:Security, Feature:Security/Spaces, release_note:skip, backport:prev-minor, v8.16.0

#189550 [maps] fix EMS vector file manifest is loaded in Discover
  x-pack/plugins/maps/public/lens/choropleth_chart/region_key_editor.tsx
  x-pack/plugins/maps/public/lens/choropleth_chart/setup.ts
  x-pack/plugins/maps/public/lens/choropleth_chart/suggestions_lazy.ts
  x-pack/plugins/maps/public/lens/choropleth_chart/visualization.tsx
Labels: Team:Presentation, release_note:skip, Feature:Maps, v8.16.0

#189783 [EDR Workflows][tests] Improve artifacts mocked data CY
  x-pack/plugins/security_solution/public/management/cypress/e2e/artifacts/artifacts_mocked_data.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/fixtures/artifacts_page.ts
Labels: release_note:skip, Team:Defend Workflows, backport:prev-minor

#189790 [Security Solution] Extend the `/upgrade/_perform` API endpoint's contract migrating to Zod
  x-pack/plugins/security_solution/common/api/detection_engine/prebuilt_rules/model/aggregated_prebuilt_rules_error.ts
  x-pack/plugins/security_solution/common/api/detection_engine/prebuilt_rules/perform_rule_upgrade/perform_rule_upgrade_route.test.ts
  x-pack/plugins/security_solution/common/api/detection_engine/prebuilt_rules/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.16.0

#189483 [Infra] Improve hosts onboarding flow
  x-pack/plugins/observability_solution/infra/common/constants.ts
  x-pack/plugins/observability_solution/infra/public/components/asset_details/template/page.tsx
  x-pack/plugins/observability_solution/infra/public/components/error_callout.tsx
  x-pack/plugins/observability_solution/infra/public/components/shared/templates/infra_page_template.tsx
  x-pack/plugins/observability_solution/infra/public/components/shared/templates/no_data_config.ts
  x-pack/plugins/observability_solution/infra/public/pages/metrics/hosts/components/hosts_content.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/hosts/index.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/index.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/inventory_view/index.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/metric_detail/components/node_details_page.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/metric_detail/metric_detail_page.tsx
  x-pack/plugins/observability_solution/infra/public/pages/metrics/metrics_explorer/index.tsx
  x-pack/plugins/observability_solution/infra/server/routes/infra/lib/host/get_hosts_count.ts
  x-pack/plugins/observability_solution/infra/tsconfig.json
  x-pack/test/functional/apps/infra/home_page.ts
  x-pack/test/functional/apps/infra/hosts_view.ts
  x-pack/test/functional/apps/infra/metrics_source_configuration.ts
  x-pack/test/functional/apps/infra/node_details.ts
  x-pack/test/functional/page_objects/infra_home_page.ts
  x-pack/test/functional/page_objects/infra_hosts_view.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.16.0

#189562 [Task Manager] Add caching to the task partitioning logic
  x-pack/plugins/task_manager/server/lib/task_partitioner.test.ts
  x-pack/plugins/task_manager/server/lib/task_partitioner.ts
  x-pack/plugins/task_manager/server/task_claimers/strategy_mget.test.ts
  x-pack/test/task_manager_claimer_mget/test_suites/task_manager/task_partitions.ts
Labels: release_note:skip, Team:ResponseOps, v8.16.0

#189000 [Obs AI Assistant] knowledge base integration tests
  x-pack/plugins/observability_solution/observability_ai_assistant/server/config.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/plugin.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/knowledge_base_service/index.ts
  x-pack/test/functional/services/ml/api.ts
  x-pack/test/observability_ai_assistant_api_integration/configs/index.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/knowledge_base/helpers.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/knowledge_base/knowledge_base.spec.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/knowledge_base/knowledge_base.todo.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/knowledge_base/knowledge_base_setup.spec.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/knowledge_base/knowledge_base_status.spec.ts
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability

#189899 [8.15] [Fleet] Allow +build versions when upgrading agents (#189809)
  package.json
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agent_list_table.tsx
  yarn.lock
Labels: backport, Team:Fleet

#189904 [8.15] Includes &#x27;spaces&#x27; feature ID when disabling capabilities based on privilege (#189675)
  x-pack/plugins/security/server/authorization/disable_ui_capabilities.test.ts
  x-pack/plugins/security/server/authorization/disable_ui_capabilities.ts
Labels: backport

#189898 [8.15] [Obs AI Assistant] Fix bug “Cannot set initialMessages if initialConversationId is set&quot; (#189885)
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/components/nav_control/index.tsx
Labels: backport, Team:Obs AI Assistant, ci:project-deploy-observability

#189614 [Reporting] update puppeteer to 22.13.1 (7.17.x)
  package.json
  x-pack/plugins/reporting/server/browsers/chromium/driver_factory/args.ts
  x-pack/plugins/reporting/server/browsers/chromium/paths.ts
  x-pack/test/functional/apps/canvas/reports.ts
  yarn.lock
Labels: (Deprecated) Feature:Reporting, release_note:skip, Team:SharedUX, Feature:Reporting:Framework

#189248 [EDR Workflows] Reenable and improve endpoint FTR tests on serverless
  x-pack/test/security_solution_api_integration/tsconfig.json
  x-pack/test/security_solution_endpoint/apps/endpoint/index.ts
  x-pack/test/security_solution_endpoint/apps/integrations/index.ts
  x-pack/test/security_solution_endpoint/configs/config.base.ts
  x-pack/test/security_solution_endpoint/configs/endpoint.config.ts
  x-pack/test/security_solution_endpoint/configs/ftr_provider_context.d.ts
  x-pack/test/security_solution_endpoint/configs/integrations.config.ts
  x-pack/test/security_solution_endpoint/configs/serverless.endpoint.config.ts
  x-pack/test/security_solution_endpoint/configs/serverless.integrations.config.ts
  x-pack/test/security_solution_endpoint/page_objects/index.ts
  x-pack/test/security_solution_endpoint/page_objects/svl_common_page.ts
  x-pack/test/security_solution_endpoint/services/index.ts
  x-pack/test/security_solution_endpoint/tsconfig.json
  x-pack/test/tsconfig.json
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, backport:prev-minor

#189883 [ML] AIOps Fixing style of pattern analysis controls in Discover
  x-pack/plugins/aiops/public/components/log_categorization/log_categorization_for_embeddable/discover_tabs.tsx
Labels: non-issue, :ml, release_note:skip, Feature:ML/AIOps, v8.16.0

#189825 [Search][Notebooks] allow pre-selecting a specific notebook
  x-pack/plugins/search_notebooks/common/constants.ts
  x-pack/plugins/search_notebooks/public/components/notebooks_list.tsx
  x-pack/plugins/search_notebooks/public/components/search_notebooks.tsx
  x-pack/plugins/search_notebooks/public/plugin.ts
  x-pack/plugins/search_notebooks/public/types.ts
  x-pack/plugins/search_notebooks/public/utils/notebook_query_param.test.ts
  x-pack/plugins/search_notebooks/public/utils/notebook_query_param.ts
Labels: release_note:skip, Team:Search, v8.16.0

#189174 [EDR Workflows] Initialize agent with latest fleet supported version
  x-pack/plugins/security_solution/common/endpoint/data_generators/endpoint_rule_alert_generator.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_endpoint_rule_alerts.ts
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_fleet_server.ts
  x-pack/plugins/security_solution/common/endpoint/utils/fetch_fleet_version.ts
  x-pack/plugins/security_solution/common/endpoint/utils/kibana_status.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/scan.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/support/create_and_enroll_endpoint_host_ci.ts
  x-pack/plugins/security_solution/public/management/cypress/support/data_loaders.ts
  x-pack/plugins/security_solution/public/management/cypress/support/plugin_handlers/endpoint_data_loader.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/create_endpoint_host.ts
  x-pack/plugins/security_solution/scripts/endpoint/agent_emulator/services/endpoint_loader.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/delete_all_endpoint_data.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/endpoint_host_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_server/fleet_server_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/stack_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/resolver_generator_script.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/artifacts/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/authentication/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/metadata/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/package/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/policy_response/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/resolver/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/response_actions/trial_license_complete_tier/index.ts
  x-pack/test/security_solution_endpoint/apps/endpoint/index.ts
  x-pack/test/security_solution_endpoint/apps/integrations/index.ts
  x-pack/test/security_solution_endpoint/services/endpoint.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows, v8.16.0

#189917 Upgrade EUI to v95.6.0
  package.json
  src/dev/license_checker/config.ts
  yarn.lock
Labels: release_note:skip, EUI, v8.16.0

#189930 docs: updates notifications README
  x-pack/plugins/notifications/README.mdx
Labels: Team:Core, release_note:skip, backport:skip

#189847 [8.15] [Search] Fix index error incorrectly showing up (#189283)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/index_error.tsx
  x-pack/plugins/ml/public/application/services/ml_api_service/inference_models.ts
Labels: backport

#189907 [8.15] [EDR Workflows][tests] Improve artifacts mocked data CY (#189783)
  x-pack/plugins/security_solution/public/management/cypress/e2e/artifacts/artifacts_mocked_data.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/fixtures/artifacts_page.ts
Labels: backport

#188280 [Inference] Inference plugin + chatComplete API
  .github/CODEOWNERS
  docs/developer/plugin-list.asciidoc
  package.json
  packages/kbn-optimizer/limits.yml
  tsconfig.base.json
  x-pack/.i18nrc.json
  x-pack/plugins/inference/README.md
  x-pack/plugins/inference/common/chat_complete/errors.ts
  x-pack/plugins/inference/common/chat_complete/index.ts
  x-pack/plugins/inference/common/chat_complete/request.ts
  x-pack/plugins/inference/common/chat_complete/tool_schema.ts
  x-pack/plugins/inference/common/chat_complete/tools.ts
  x-pack/plugins/inference/common/chat_complete/without_chunk_events.ts
  x-pack/plugins/inference/common/chat_complete/without_token_count_events.ts
  x-pack/plugins/inference/common/connectors.ts
  x-pack/plugins/inference/common/errors.ts
  x-pack/plugins/inference/common/output/create_output_api.ts
  x-pack/plugins/inference/common/output/index.ts
  x-pack/plugins/inference/common/output/without_output_update_events.ts
  x-pack/plugins/inference/common/tasks.ts
  x-pack/plugins/inference/jest.config.js
  x-pack/plugins/inference/kibana.jsonc
  x-pack/plugins/inference/public/chat_complete/index.ts
  x-pack/plugins/inference/public/index.ts
  x-pack/plugins/inference/public/plugin.tsx
  x-pack/plugins/inference/public/types.ts
  x-pack/plugins/inference/public/util/create_observable_from_http_response.ts
  x-pack/plugins/inference/public/util/http_response_into_observable.test.ts
  x-pack/plugins/inference/public/util/http_response_into_observable.ts
  x-pack/plugins/inference/server/chat_complete/adapters/chunks_into_message.test.ts
  x-pack/plugins/inference/server/chat_complete/adapters/chunks_into_message.ts
  x-pack/plugins/inference/server/chat_complete/adapters/event_source_stream_into_observable.ts
  x-pack/plugins/inference/server/chat_complete/adapters/openai/index.test.ts
  x-pack/plugins/inference/server/chat_complete/adapters/openai/index.ts
  x-pack/plugins/inference/server/chat_complete/index.ts
  x-pack/plugins/inference/server/chat_complete/types.ts
  x-pack/plugins/inference/server/config.ts
  x-pack/plugins/inference/server/index.ts
  x-pack/plugins/inference/server/inference_client/index.ts
  x-pack/plugins/inference/server/plugin.ts
  x-pack/plugins/inference/server/routes/chat_complete.ts
  x-pack/plugins/inference/server/routes/connectors.ts
  x-pack/plugins/inference/server/tasks/nl_to_esql/index.ts
  x-pack/plugins/inference/server/types.ts
  x-pack/plugins/inference/server/util/observable_into_event_source_stream.test.ts
  x-pack/plugins/inference/server/util/observable_into_event_source_stream.ts
  x-pack/plugins/inference/server/util/validate_tool_calls.test.ts
  x-pack/plugins/inference/server/util/validate_tool_calls.ts
  x-pack/plugins/inference/tsconfig.json
  yarn.lock
Labels: release_note:skip, v8.16.0

#189873 [APM][ECO] Fetch detailed statistics from the history entities index
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/multi_signal_inventory/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/multi_signal_inventory/table/get_service_columns.tsx
  x-pack/plugins/observability_solution/apm/server/routes/entities/get_entities.ts
  x-pack/plugins/observability_solution/apm/server/routes/entities/get_service_entities_history_metrics.ts
  x-pack/plugins/observability_solution/apm/server/routes/entities/get_service_entities_history_timeseries.ts
  x-pack/plugins/observability_solution/apm/server/routes/entities/services/routes.ts
  x-pack/plugins/observability_solution/apm/server/routes/entities/utils/calculate_avg_metrics.test.ts
  x-pack/plugins/observability_solution/apm/server/routes/entities/utils/calculate_avg_metrics.ts
  x-pack/test/apm_api_integration/tests/entities/services/services_entities_detailed_statistics.spec.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.16.0

#189881 [Security Solution] Remove experimental sourcerer
  x-pack/plugins/security_solution/public/app/home/template_wrapper/index.tsx
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/common/store/reducer.test.tsx
  x-pack/plugins/security_solution/public/common/store/reducer.ts
  x-pack/plugins/security_solution/public/common/store/store.ts
  x-pack/plugins/security_solution/public/common/store/types.ts
  x-pack/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/experimental/components/dataview_picker/index.test.tsx
  x-pack/plugins/security_solution/public/sourcerer/experimental/components/dataview_picker/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/experimental/components/dataview_picker/readme.md
  x-pack/plugins/security_solution/public/sourcerer/experimental/constants.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/containers/dataview_picker_provider.test.tsx
  x-pack/plugins/security_solution/public/sourcerer/experimental/containers/dataview_picker_provider.tsx
  x-pack/plugins/security_solution/public/sourcerer/experimental/is_enabled.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/readme.md
  x-pack/plugins/security_solution/public/sourcerer/experimental/redux/actions.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/redux/listeners.test.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/redux/listeners.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/redux/reducer.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/redux/selectors.ts
  x-pack/plugins/security_solution/public/sourcerer/experimental/use_unstable_security_solution_data_view.ts
  x-pack/plugins/security_solution/public/timelines/components/timeline/search_or_filter/search_or_filter.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#189832 Remove border on default, filled toolbar button
  packages/shared-ux/button_toolbar/src/buttons/toolbar_button/toolbar_button.styles.ts
Labels: release_note:skip, backport:skip, v8.16.0

#188753 [Security Solution]]Detection Engine] adds telemetry for alert suppression
  x-pack/plugins/security_solution/scripts/telemetry/saved_objects/security_solution_ebt_kibana_server.ndjson
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/create_security_rule_type_wrapper.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/esql/esql.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/query/alert_suppression/group_and_bulk_create.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/bulk_create_with_suppression.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/get_number_of_suppressed_alerts.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/get_number_of_suppressed_alerts.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/telemetry/send_alert_suppression_telemetry_event.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/telemetry/send_alert_suppression_telemetry_event.ts
  x-pack/plugins/security_solution/server/lib/telemetry/event_based/events.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/usage/collector.ts
  x-pack/plugins/security_solution/server/usage/detections/get_metrics.test.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/get_initial_usage.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/transform_utils/get_rule_object_correlations.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/types.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/update_usage.test.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/usage_utils/get_alert_suppression_usage.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/usage_utils/update_alert_suppression_usage.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/usage_utils/update_query_usage.ts
  x-pack/plugins/security_solution/server/usage/detections/rules/usage_utils/update_total_usage.ts
  x-pack/plugins/telemetry_collection_xpack/schema/xpack_plugins.json
  x-pack/test/security_solution_api_integration/test_suites/detections_response/telemetry/trial_license_complete_tier/usage_collector/detection_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/telemetry/trial_license_complete_tier/usage_collector/detection_rules_legacy_action.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine, v8.16.0

#189940 [Security Solution][Notes] Cleanup timeline notes api spec
  x-pack/plugins/security_solution/common/api/timeline/get_notes/get_notes_route.ts
  x-pack/plugins/security_solution/common/api/timeline/index.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/notes/get_notes.test.ts
  x-pack/plugins/security_solution/server/lib/timeline/routes/notes/get_notes.ts
  x-pack/plugins/security_solution/server/lib/timeline/utils/common.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.16.0

#189759 [Console] expose function to open embedded console to the notebooks view
  src/plugins/console/public/plugin.ts
  src/plugins/console/public/services/embeddable_console.test.ts
  src/plugins/console/public/services/embeddable_console.ts
  src/plugins/console/public/types/plugin_dependencies.ts
Labels: release_note:skip, backport:skip, Team:Search, v8.16.0

#187654 [8.15] [Discover][Surrounding Documents] Fix time range filter (#187010)
  src/plugins/discover/public/application/context/services/__snapshots__/context.predecessors.test.ts.snap
  src/plugins/discover/public/application/context/services/__snapshots__/context.successors.test.ts.snap
  src/plugins/discover/public/application/context/services/_stubs.ts
  src/plugins/discover/public/application/context/services/context.predecessors.test.ts
  src/plugins/discover/public/application/context/services/context.successors.test.ts
  src/plugins/discover/public/application/context/services/context.ts
Labels: backport

#189659 [Detection Engine] Adding second quality gate tags
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/rule_exceptions_execution.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/eql_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/esql_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/indicator_match_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/machine_learning_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/new_terms_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/threshold_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/items/create_exception_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/items/delete_exception_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/items/find_exception_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/items/read_exception_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/items/update_exception_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/create_exception_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/delete_exception_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/duplicate_exception_list.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/export_exception_list.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/find_exception_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/get_exception_filter.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/import_exceptions.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/read_exception_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/summary_exception_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/exception_lists_items/trial_license_complete_tier/lists/update_exception_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/create_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/delete_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/export_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/find_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/import_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/patch_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/read_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/update_list_items.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/create_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/create_lists_index.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/delete_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/find_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/find_lists_by_size.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/patch_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/read_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/lists/update_lists.ts
Labels: release_note:skip, Team:Detection Engine, v8.16.0

#189837 [Security Solution][Alert Details] Alerts KPI clean up
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/alerts_count.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/alerts_count.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/columns.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/columns.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/helpers.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/helpers.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/mocks/mock_response_empty_field0.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/mocks/mock_response_multi_group.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_count_panel/mocks/mock_response_single_group.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/alerts_histogram.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/alerts_histogram.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/helpers.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/helpers.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/mock_data.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/types.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_summary_charts_panel/use_summary_chart_data.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/chart_panels/alerts_local_storage/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/chart_panels/chart_collapse/index.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/chart_panels/index.test.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting, Team:Threat Hunting:Investigations, v8.16.0

#189937 [ci] Update sonarqube scan paths to include packages
  sonar-project.properties
Labels: Team:Operations, release_note:skip, skip-ci

#189055 [8.15] [Search] Visual fixes on deployment section (#188912)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/deployment.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/syncs_context_menu.test.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/shared/header_actions/syncs_context_menu.tsx
Labels: backport

#189982 [ResponseOps][Cases] Fix `StatusFilter` flaky test
  x-pack/plugins/cases/public/components/all_cases/status_filter.test.tsx
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.16.0

#189988 fix(es-setup): retry docker pull on "i/o timeout"
  packages/kbn-es/src/utils/docker.ts
Labels: bug, Team:Core, Team:Operations, release_note:skip, backport:skip

#189990 [8.15] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#189991 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#189957 [ES|QL] Traversal high level APIs
  packages/kbn-esql-ast/src/walker/helpers.ts
  packages/kbn-esql-ast/src/walker/walker.test.ts
  packages/kbn-esql-ast/src/walker/walker.ts
Labels: review, release_note:skip, Team:DataDiscovery, Feature:ES|QL, Team:ESQL, v8.16.0

#189953 [ES|QL] Implements one-line pretty printing of the AST
  packages/kbn-esql-ast/src/pretty_print/pretty_print_one_line.test.ts
  packages/kbn-esql-ast/src/pretty_print/pretty_print_one_line.ts
  packages/kbn-esql-ast/src/visitor/README.md
  packages/kbn-esql-ast/src/visitor/contexts.ts
Labels: review, release_note:skip, Team:DataDiscovery, Feature:ES|QL, Team:ESQL, v8.16.0

#189989 [8.14] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#189931 Add a spaces management navigation card to the serverless management landing page
  packages/kbn-management/cards_navigation/src/consts.tsx
  packages/kbn-management/cards_navigation/src/types.ts
  x-pack/test_serverless/functional/page_objects/svl_management_page.ts
  x-pack/test_serverless/functional/test_suites/common/platform_security/navigation/management_nav_cards.ts
  x-pack/test_serverless/functional/test_suites/common/spaces/spaces_selection_enabled.ts
  x-pack/test_serverless/functional/test_suites/observability/config.feature_flags.ts
  x-pack/test_serverless/functional/test_suites/observability/index.feature_flags.ts
  x-pack/test_serverless/functional/test_suites/search/config.feature_flags.ts
  x-pack/test_serverless/functional/test_suites/search/index.feature_flags.ts
  x-pack/test_serverless/functional/test_suites/security/config.feature_flags.ts
  x-pack/test_serverless/functional/test_suites/security/index.feature_flags.ts
Labels: Team:Security, Feature:Security/Spaces, release_note:skip, backport:skip, Project:Serverless, v8.16.0

#189761 [Reporting] Update documentation to distinguish Screenshotting and CSV features
  docs/settings/reporting-settings.asciidoc
  docs/user/reporting/index.asciidoc
  docs/user/reporting/reporting-csv-troubleshooting.asciidoc
  docs/user/reporting/reporting-pdf-limitations.asciidoc
  docs/user/reporting/reporting-pdf-troubleshooting.asciidoc
Labels: release_note:skip, Team:SharedUX, backport:all-open, v8.15.0, v8.16.0

#189925 [KibanaErrorBoundary] Log the error that was caught
  packages/shared-ux/error_boundary/src/services/error_boundary_services.test.tsx
  packages/shared-ux/error_boundary/src/services/error_service.test.ts
  packages/shared-ux/error_boundary/src/ui/error_boundary.test.tsx
  packages/shared-ux/error_boundary/src/ui/error_boundary.tsx
Labels: release_note:skip, Team:SharedUX

#190001 [8.15] [Reporting] Update documentation to distinguish Screenshotting and CSV features (#189761)
  docs/settings/reporting-settings.asciidoc
  docs/user/reporting/index.asciidoc
  docs/user/reporting/reporting-csv-troubleshooting.asciidoc
  docs/user/reporting/reporting-pdf-limitations.asciidoc
  docs/user/reporting/reporting-pdf-troubleshooting.asciidoc
Labels: backport

#189936 [ci] Fix sonarqube scan
  .buildkite/pipeline-resource-definitions/kibana-sonarqube.yml
  .buildkite/pipeline-resource-definitions/locations.yml
  .buildkite/scripts/common/env.sh
  catalog-info.yaml
  x-pack/plugins/observability_solution/infra/server/routes/ip_to_hostname.ts
Labels: Team:Operations, release_note:skip, skip-ci, ci:project-deploy-observability
