Repository elastic/kibana, pull requests merged in 2024-07, with the labels that each got.

#187194 [UII] Remove gap between integration tab content and sidebar
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/side_bar_column.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/assets/assets.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/configs/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/custom/custom.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/documentation/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/overview.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/policies/package_policies.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/settings/settings.tsx
Labels: release_note:skip, Team:Fleet, v8.15.0

#186832 [Fleet] Add doc links to unprivileged agents documentation
  packages/kbn-doc-links/src/get_doc_links.ts
  packages/kbn-doc-links/src/types.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/root_callout.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/requirements.tsx
  x-pack/plugins/fleet/public/components/enrollment_instructions/root_privileges_callout.tsx
  x-pack/plugins/fleet/public/components/enrollment_instructions/unprivileged_info.tsx
Labels: release_note:skip, Team:Fleet, v8.15.0

#187216 [Integration Assistant] [ Security GenAI] Update readme template with the new integration guidelines
  x-pack/plugins/integration_assistant/server/templates/package_readme.md.njk
Labels: release_note:skip, Team: SecuritySolution, 8.15 candidate, v8.15.0

#187145 [Security Solution][Endpoint] Use "valid" agents for creating action requests and updating cases
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/endpoint/endpoint_actions_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/endpoint/endpoint_actions_client.ts
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.15.0

#186482 [Security Solution][Detection Engine] fixes flaky Detections > Callouts cypress (missing_privileges_callout.cy) tests
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/callouts/missing_privileges_callout.cy.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine

#186886 feat: enable TLS and SAML realm in local Serverless ES by default
  packages/kbn-es/src/cli_commands/serverless.ts
  packages/kbn-es/src/utils/docker.ts
  packages/kbn-mock-idp-plugin/public/login_page.tsx
  src/cli/serve/serve.js
Labels: release_note:skip, backport:skip

#187169 [7.17] Update platform security modules (main) (#187037)
  package.json
  yarn.lock
Labels: backport

#187053 [Security Solution] Filterlist Update for Endpoint Events
  x-pack/plugins/security_solution/server/lib/telemetry/filterlists/endpoint_alerts.ts
Labels: release_note:skip, Team: SecuritySolution, 8.15 candidate

#186826 [Obs AI Assistant] Capture error thrown in context
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/context.ts
Labels: release_note:skip, Team:Obs AI Assistant, ci:project-deploy-observability, v8.15.0

#187201 [SecuritySolution] Create integration link added to Security onboarding page
  x-pack/plugins/fleet/public/applications/integrations/layouts/default.tsx
  x-pack/plugins/integration_assistant/public/components/create_integration_card_button/create_integration_card_button.tsx
  x-pack/plugins/security_solution/kibana.jsonc
  x-pack/plugins/security_solution/public/common/components/landing_page/onboarding/step_links/add_integration_buttons.tsx
  x-pack/plugins/security_solution/public/types.ts
  x-pack/plugins/security_solution/tsconfig.json
Labels: release_note:skip, Team:Fleet, Team: SecuritySolution, Team:Threat Hunting:Explore, Team:Security Generative AI, v8.15.0

#186461 [ResponseOps][Connectors] Unhide cases webhook SSL UI.
  x-pack/plugins/stack_connectors/public/common/auth/auth_config.tsx
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/steps/auth.tsx
  x-pack/plugins/stack_connectors/public/connector_types/cases_webhook/webhook_connectors.test.tsx
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Actions/ConnectorTypes, v8.15.0

#187223 [EDR Workflows] remove checking the step tour
  x-pack/plugins/osquery/cypress/e2e/all/alerts_cases.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/alerts_linked_apps.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/alerts_multiple_agents.cy.ts
  x-pack/plugins/osquery/cypress/e2e/roles/alert_test.cy.ts
  x-pack/plugins/osquery/cypress/tasks/integrations.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#186973 fix: [Obs Applications > Service Error Detail][SCREEN READER]: Table rows need TH[scope="row"] for SR usability: 0010
  x-pack/plugins/observability_solution/apm/public/components/app/error_group_details/top_erroneous_transactions/index.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review, v8.15.0

#186872 [Logs UI] Add constraint check
  x-pack/plugins/observability_solution/logs_shared/server/lib/adapters/log_entries/kibana_log_entries_adapter.ts
Labels: Feature:Logs UI, release_note:skip, backport:prev-minor, backport:prev-MAJOR, ci:project-deploy-observability, Team:obs-ux-logs

#187105 [GenAI] Add License/productType controls to the integration assistant
  x-pack/packages/security-solution/features/src/product_features_keys.ts
  x-pack/packages/security-solution/features/src/security/product_feature_config.ts
  x-pack/packages/security-solution/upselling/service/types.ts
  x-pack/plugins/fleet/public/applications/integrations/layouts/default.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/create/index.tsx
  x-pack/plugins/integration_assistant/kibana.jsonc
  x-pack/plugins/integration_assistant/public/common/components/availability_wrapper/availability_wrapper.tsx
  x-pack/plugins/integration_assistant/public/common/components/availability_wrapper/index.ts
  x-pack/plugins/integration_assistant/public/common/components/availability_wrapper/license_paywall_card.tsx
  x-pack/plugins/integration_assistant/public/common/components/availability_wrapper/translations.ts
  x-pack/plugins/integration_assistant/public/common/hooks/use_availability.ts
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration.tsx
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration_landing/create_integration_landing.tsx
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration_landing/integration_assistant_card.tsx
  x-pack/plugins/integration_assistant/public/plugin.ts
  x-pack/plugins/integration_assistant/public/services/index.ts
  x-pack/plugins/integration_assistant/public/types.ts
  x-pack/plugins/integration_assistant/server/__mocks__/mock_server.ts
  x-pack/plugins/integration_assistant/server/__mocks__/request_context.ts
  x-pack/plugins/integration_assistant/server/__mocks__/test_adapters.ts
  x-pack/plugins/integration_assistant/server/plugin.ts
  x-pack/plugins/integration_assistant/server/routes/build_integration_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/build_integration_routes.ts
  x-pack/plugins/integration_assistant/server/routes/categorization_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/categorization_routes.ts
  x-pack/plugins/integration_assistant/server/routes/ecs_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/ecs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/pipeline_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/pipeline_routes.ts
  x-pack/plugins/integration_assistant/server/routes/related_routes.test.ts
  x-pack/plugins/integration_assistant/server/routes/related_routes.ts
  x-pack/plugins/integration_assistant/server/routes/with_availability.ts
  x-pack/plugins/integration_assistant/server/types.ts
  x-pack/plugins/integration_assistant/tsconfig.json
  x-pack/plugins/security_solution/public/common/components/landing_page/onboarding/step_links/add_integration_buttons.tsx
  x-pack/plugins/security_solution_serverless/common/pli/pli_config.ts
  x-pack/plugins/security_solution_serverless/kibana.jsonc
  x-pack/plugins/security_solution_serverless/public/plugin.ts
  x-pack/plugins/security_solution_serverless/public/types.ts
  x-pack/plugins/security_solution_serverless/public/upselling/hooks/use_product_type_by_pli.ts
  x-pack/plugins/security_solution_serverless/public/upselling/register_upsellings.test.tsx
  x-pack/plugins/security_solution_serverless/public/upselling/register_upsellings.tsx
  x-pack/plugins/security_solution_serverless/public/upselling/sections/integration_assistant/index.ts
  x-pack/plugins/security_solution_serverless/public/upselling/sections/integration_assistant/integration_assistant.tsx
  x-pack/plugins/security_solution_serverless/public/upselling/upsellings.tsx
  x-pack/plugins/security_solution_serverless/server/plugin.ts
  x-pack/plugins/security_solution_serverless/server/product_features/index.ts
  x-pack/plugins/security_solution_serverless/server/types.ts
  x-pack/plugins/security_solution_serverless/tsconfig.json
Labels: release_note:skip, Team:Fleet, Team: SecuritySolution, v8.15.0

#187222 [EDR Workflows] change osquery pipeline
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#187220 [ObsUX][Infra] Fix container image name not being displayed
  x-pack/plugins/observability_solution/infra/common/http_api/metadata_api.ts
  x-pack/plugins/observability_solution/infra/public/components/asset_details/tabs/overview/metadata_summary/metadata_summary_list.tsx
Labels: release_note:skip, backport:skip, ci:project-deploy-observability, v8.15.0

#187218 [Discover] Unskip ES|QL view flaky tests
  x-pack/test_serverless/functional/test_suites/common/discover/esql/_esql_view.ts
Labels: release_note:skip, backport:skip, Team:DataDiscovery

#187256 [8.14] [Logs UI] Add constraint check (#186872)
  x-pack/plugins/observability_solution/logs_shared/server/lib/adapters/log_entries/kibana_log_entries_adapter.ts
Labels: backport

#186884 fix: [Obs Applications > Services][SCREEN READER]: Tooltips must be able to take keyboard focus: 0001
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/apm_signal_inventory/service_list/apm_services_table.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.15.0

#186625 fix: Add `rowHeader` attribute for `observability_solution -> managed_table`
  x-pack/plugins/observability_solution/apm/public/components/shared/managed_table/index.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review, v8.15.0

#186957 fix: [Obs Synthetics > Monitor Test Run][SCREEN READER]: Table rows need TH[scope="row"] for SR usability: 0017
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/common/components/stderr_logs.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.15.0

#186962 fix: [Obs Infrastructure > Hosts, Kubernetes, Docker][SCREEN READER]: Table rows need TH[scope="row"] for SR usability: 0016
  x-pack/plugins/observability_solution/infra/public/pages/metrics/inventory_view/components/table_view.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, v8.15.0

#187140 [ftr] remove svlCommonPage.forceLogout(); for tests using SAML auth
  x-pack/test_serverless/functional/test_suites/common/platform_security/user_profiles/user_profiles.ts
  x-pack/test_serverless/functional/test_suites/observability/advanced_settings.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/attachment_framework.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/configure.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/create_case_form.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/list_view.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/view_case.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/header_menu.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/hosts_page.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/infra.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/navigation.ts
  x-pack/test_serverless/functional/test_suites/observability/infra/node_details.ts
  x-pack/test_serverless/functional/test_suites/observability/ml/anomaly_detection_jobs_list.ts
  x-pack/test_serverless/functional/test_suites/observability/ml/search_bar_features.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/columns_selection.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/custom_control_columns.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/data_source_selection_state.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/data_source_selector.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/field_list.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/filter_controls.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/flyout.ts
  x-pack/test_serverless/functional/test_suites/observability/observability_logs_explorer/header_menu.ts
  x-pack/test_serverless/functional/test_suites/observability/rules/rules_list.ts
  x-pack/test_serverless/functional/test_suites/observability/screenshot_creation/response_ops_docs/cases/list_view.ts
  x-pack/test_serverless/functional/test_suites/observability/screenshot_creation/response_ops_docs/connectors/server_log_connector.ts
  x-pack/test_serverless/functional/test_suites/observability/screenshot_creation/response_ops_docs/maintenance_windows/create_window.ts
  x-pack/test_serverless/functional/test_suites/security/ftr/advanced_settings.ts
  x-pack/test_serverless/functional/test_suites/security/ftr/cloud_security_posture/compliance_dashboard.ts
Labels: release_note:skip, backport:skip, v8.15.0

#187204 [GenAi] Improve Integration assistant generation errors
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration_assistant/steps/data_stream_step/generation_modal.tsx
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration_assistant/steps/data_stream_step/translations.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Security Generative AI, v8.15.0

#186991 [Fleet] Enable rollover in custom integrations install when getting mapper_exception error
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.test.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/test/fleet_api_integration/apis/epm/install_custom.ts
Labels: release_note:fix, Team:Fleet, v8.15.0

#187289 [api-docs] 2024-07-01 Daily api_docs build
  api_docs/integration_assistant.devdocs.json
  api_docs/integration_assistant.mdx
  api_docs/kbn_doc_links.devdocs.json
  api_docs/plugin_directory.mdx
Labels: release_note:skip, docs

#187006 [Config Service] Ignore unknown config on Serverless
  packages/core/config/core-config-server-internal/index.ts
  packages/core/config/core-config-server-internal/src/ensure_valid_configuration.test.ts
  packages/core/config/core-config-server-internal/src/ensure_valid_configuration.ts
  packages/core/root/core-root-server-internal/src/server.ts
  packages/kbn-config-mocks/src/config_service.mock.ts
  packages/kbn-config-schema/README.md
  packages/kbn-config-schema/index.ts
  packages/kbn-config-schema/src/types/index.ts
  packages/kbn-config-schema/src/types/object_type.test.ts
  packages/kbn-config-schema/src/types/object_type.ts
  packages/kbn-config-schema/src/types/type.ts
  packages/kbn-config/src/config_service.ts
  x-pack/plugins/actions/server/integration_tests/__snapshots__/connector_types.test.ts.snap
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/serverless_upgrade_and_rollback_checks.test.ts.snap
Labels: Team:Core, release_note:skip, backport:skip

#187280 [Detection Engine] Skips failing tests on the periodic pipeline
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/rule_details_flow/add_edit_endpoint_exception.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/custom_query_rule.cy.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, v8.15.0

#187276 [EDR Worklows] Fix and unskip packs_integration.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/packs_integration.cy.ts
Labels: release_note:skip, Team:Defend Workflows, Osquery, v8.15.0

#187294 Update stability.asciidoc
  docs/developer/best-practices/stability.asciidoc
Labels: Team:Docs, release_note:skip, backport:all-open, v8.13.0, v8.14.0

#186429 [Search] Project Navigation - Enterprise Search support
  x-pack/plugins/enterprise_search/public/applications/app_search/components/layout/page_template.test.tsx
  x-pack/plugins/enterprise_search/public/applications/app_search/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/page_template.test.tsx
  x-pack/plugins/enterprise_search/public/applications/workplace_search/components/layout/page_template.tsx
  x-pack/plugins/enterprise_search/public/navigation_tree.ts
Labels: release_note:skip, Team:Search, v8.15.0

#187299 [8.13] Update stability.asciidoc (#187294)
  docs/developer/best-practices/stability.asciidoc
Labels: backport

#186596 [EDR Workflows] Turn on new Manifest Manager feature flag.
  .buildkite/ftr_configs.yml
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/apps/integrations/artifact_entries_list.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/apps/integrations/endpoint_exceptions.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/apps/integrations/mocks.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/apps/integrations_feature_flag/artifact_entries_list.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/apps/integrations_feature_flag/endpoint_exceptions.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/apps/integrations_feature_flag/index.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/apps/integrations_feature_flag/mocks.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/configs/integrations_feature_flag.config.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/configs/serverless.integrations_feature_flag.config.ts
  x-pack/test/security_solution_api_integration/test_suites/security_solution_endpoint/services/endpoint_artifacts.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows, v8.15.0

#187298 [7.17] Update stability.asciidoc (#187294)
  docs/developer/best-practices/stability.asciidoc
Labels: backport

#187300 [8.14] Update stability.asciidoc (#187294)
  docs/developer/best-practices/stability.asciidoc
Labels: backport

#187267 Remove `joi` leakage to the browser in `@kbn/search-connectors`
  packages/kbn-search-connectors/components/sync_jobs/documents_panel.tsx
Labels: release_note:skip, backport:skip, Team:Search

#187152 [7.17] Update dependency selenium-webdriver to ^4.22.0 (main) (#187120)
  package.json
  yarn.lock
Labels: backport

#186195 [controls] migrate range slider control to new controls framework
  examples/controls_example/public/app/react_control_example.tsx
  examples/controls_example/public/plugin.tsx
  examples/controls_example/public/react_controls/constants.ts
  examples/controls_example/public/react_controls/control_group/data_control_fetch.ts
  examples/controls_example/public/react_controls/control_group/get_control_group_factory.tsx
  examples/controls_example/public/react_controls/control_group/types.ts
  examples/controls_example/public/react_controls/data_controls/range_slider/components/range_slider.scss
  examples/controls_example/public/react_controls/data_controls/range_slider/components/range_slider_control.tsx
  examples/controls_example/public/react_controls/data_controls/range_slider/get_range_slider_control_factory.test.tsx
  examples/controls_example/public/react_controls/data_controls/range_slider/get_range_slider_control_factory.tsx
  examples/controls_example/public/react_controls/data_controls/range_slider/has_no_results.ts
  examples/controls_example/public/react_controls/data_controls/range_slider/min_max.ts
  examples/controls_example/public/react_controls/data_controls/range_slider/range_slider_strings.ts
  examples/controls_example/public/react_controls/data_controls/range_slider/types.ts
Labels: Team:Presentation, release_note:skip, project:embeddableRebuild, v8.15.0

#187164 Embeddable error handling documentation
  src/plugins/embeddable/README.md
Labels: Feature:Embedding, Team:Presentation, release_note:skip, project:embeddableRebuild, v8.15.0

#187163 [Search][Notebooks] Introduce support for lists
  x-pack/plugins/search_notebooks/common/types.ts
  x-pack/plugins/search_notebooks/public/components/notebooks_button.tsx
  x-pack/plugins/search_notebooks/public/components/notebooks_view.tsx
  x-pack/plugins/search_notebooks/public/console_view.tsx
  x-pack/plugins/search_notebooks/public/hooks/use_kibana.ts
  x-pack/plugins/search_notebooks/public/hooks/use_notebook_catalog.ts
  x-pack/plugins/search_notebooks/public/hooks/use_notebooks_list.ts
  x-pack/plugins/search_notebooks/public/plugin.ts
  x-pack/plugins/search_notebooks/public/types.ts
  x-pack/plugins/search_notebooks/server/lib/notebook_catalog.test.ts
  x-pack/plugins/search_notebooks/server/lib/notebook_catalog.ts
  x-pack/plugins/search_notebooks/server/routes/index.ts
  x-pack/plugins/search_notebooks/server/utils.ts
Labels: release_note:skip, Team:Search, v8.15.0

#186199 [ResponseOps] Mark cloud SMTP rate limiting and recipient address rejected errors as user errors
  x-pack/plugins/stack_connectors/server/connector_types/email/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/index.ts
  x-pack/plugins/stack_connectors/tsconfig.json
Labels: release_note:skip, Team:ResponseOps, ci:cloud-deploy, v8.15.0

#187141 [EDR Workflows][Process descendants filter] Transform event filter entry for filtering process descendant
  x-pack/plugins/security_solution/common/endpoint/service/artifacts/constants.ts
  x-pack/plugins/security_solution/common/endpoint/service/artifacts/utils.ts
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/components/form.tsx
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/lists.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/lists.ts
  x-pack/plugins/security_solution/server/endpoint/schemas/artifacts/lists.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows, 8.15 candidate

#187020 [Alerting Plugin] Migrate authc.getCurrentUser usage to core.security
  x-pack/plugins/alerting/server/maintenance_window_client_factory.test.ts
  x-pack/plugins/alerting/server/maintenance_window_client_factory.ts
  x-pack/plugins/alerting/server/plugin.ts
  x-pack/plugins/alerting/server/rules_client_factory.test.ts
  x-pack/plugins/alerting/server/rules_client_factory.ts
  x-pack/plugins/alerting/server/rules_settings_client_factory.test.ts
  x-pack/plugins/alerting/server/rules_settings_client_factory.ts
Labels: release_note:skip, Team:ResponseOps

#187023 [Cloud Defend Plugin] Migrate authc.getCurrentUser usage to core.security
  x-pack/plugins/cloud_defend/server/routes/setup_routes.ts
  x-pack/plugins/cloud_defend/server/types.ts
  x-pack/plugins/cloud_defend/tsconfig.json
Labels: release_note:skip, Team:Defend Workflows

#187071 [Security Solution] make endpoint heartbeat cypress indexing more explicit
  x-pack/plugins/security_solution/common/endpoint/data_loaders/index_endpoint_hearbeats.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/metering.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/support/data_loaders.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/index_endpoint_heartbeats.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#187259 [ES|QL] Update function metadata
  packages/kbn-esql-ast/src/ast_walker.ts
  packages/kbn-esql-ast/src/types.ts
  packages/kbn-esql-validation-autocomplete/scripts/generate_function_definitions.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/functions.ts
  packages/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  packages/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
  packages/kbn-text-based-editor/src/esql_documentation_sections.tsx
Labels: release_note:skip, Team:ESQL

#184485 [Security AI Assistant] Chat complete API
  x-pack/packages/kbn-elastic-assistant-common/constants.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.schema.yaml
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/index.ts
  x-pack/packages/kbn-langchain/server/language_models/chat_openai.test.ts
  x-pack/packages/kbn-langchain/server/language_models/chat_openai.ts
  x-pack/packages/kbn-langchain/server/language_models/llm.test.ts
  x-pack/packages/kbn-langchain/server/language_models/llm.ts
  x-pack/packages/kbn-langchain/server/language_models/simple_chat_model.test.ts
  x-pack/packages/kbn-langchain/server/language_models/simple_chat_model.ts
  x-pack/packages/kbn-langchain/tsconfig.json
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/index.ts
  x-pack/plugins/elastic_assistant/server/lib/executor.test.ts
  x-pack/plugins/elastic_assistant/server/lib/executor.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/execute_custom_llm_chain/index.test.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/execute_custom_llm_chain/index.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/executors/openai_functions_executor.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/executors/types.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/graph.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/helpers.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/index.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/generate_chat_title.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/get_persisted_conversation.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/persist_conversation_changes.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/run_agent.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/should_continue.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/types.ts
  x-pack/plugins/elastic_assistant/server/routes/attack_discovery/helpers.test.ts
  x-pack/plugins/elastic_assistant/server/routes/attack_discovery/helpers.ts
  x-pack/plugins/elastic_assistant/server/routes/attack_discovery/post_attack_discovery.test.ts
  x-pack/plugins/elastic_assistant/server/routes/attack_discovery/post_attack_discovery.ts
  x-pack/plugins/elastic_assistant/server/routes/chat/chat_complete_route.test.ts
  x-pack/plugins/elastic_assistant/server/routes/chat/chat_complete_route.ts
  x-pack/plugins/elastic_assistant/server/routes/evaluate/post_evaluate.ts
  x-pack/plugins/elastic_assistant/server/routes/helpers.ts
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.test.ts
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.ts
  x-pack/plugins/elastic_assistant/server/routes/register_routes.ts
  x-pack/plugins/elastic_assistant/server/routes/user_conversations/create_route.ts
  x-pack/plugins/elastic_assistant/server/routes/user_conversations/update_route.ts
  x-pack/plugins/integration_assistant/server/routes/categorization_routes.ts
  x-pack/plugins/integration_assistant/server/routes/ecs_routes.ts
  x-pack/plugins/integration_assistant/server/routes/related_routes.ts
  x-pack/plugins/search_playground/server/lib/get_chat_params.test.ts
  x-pack/plugins/search_playground/server/lib/get_chat_params.ts
Labels: release_note:skip, v8.15.0

#184030 [ML] Add Field statistics embeddable as panel in Dashboard
  src/plugins/discover/public/application/main/components/field_stats_table/field_stats_table.tsx
  src/plugins/discover/public/application/main/components/field_stats_table/types.ts
  src/plugins/discover/public/embeddable/saved_search_embeddable.tsx
  x-pack/packages/ml/query_utils/src/build_base_filter_criteria.ts
  x-pack/plugins/data_visualizer/common/types/field_stats.ts
  x-pack/plugins/data_visualizer/common/utils/build_query_filters.ts
  x-pack/plugins/data_visualizer/kibana.jsonc
  x-pack/plugins/data_visualizer/public/application/common/hooks/use_document_count_stats.ts
  x-pack/plugins/data_visualizer/public/application/common/types/data_visualizer_plugin.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/components/index_data_visualizer_view/index_data_visualizer_view.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/constants.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/field_stats_esql_editor.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/field_stats_factory.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/field_stats_initializer.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/field_stats_initializer_view_type.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/index.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/initialize_field_stats_controls.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/resolve_field_stats_embeddable_input.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/field_stats/types.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/grid_embeddable/embeddable_esql_field_stats_table.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/grid_embeddable/embeddable_field_stats_table.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/grid_embeddable/field_stats_embeddable_wrapper.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/grid_embeddable/field_stats_wrapper.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/embeddables/grid_embeddable/types.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/hooks/esql/use_data_visualizer_esql_data.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/hooks/use_data_visualizer_grid_data.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/hooks/use_field_stats.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/hooks/use_overall_stats.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/search_strategy/requests/get_document_stats.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/search_strategy/requests/get_field_examples.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/search_strategy/requests/overall_stats.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/ui_actions/create_field_stats_table.tsx
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/ui_actions/index.ts
  x-pack/plugins/data_visualizer/public/application/index_data_visualizer/utils/get_fields_with_subfields_utils.ts
  x-pack/plugins/data_visualizer/public/plugin.ts
  x-pack/plugins/data_visualizer/tsconfig.json
Labels: Feature:Dashboard, :ml, Team:Presentation, loe:medium, impact:medium, Feature:File and Index Data Viz, release_note:feature, v8.15.0

#186835 [ESQL] Update inline docs for 8.15
  packages/kbn-text-based-editor/src/esql_documentation_sections.tsx
Labels: release_note:skip, v8.15.0

#187214 [Security Solution][Timeline] Notes management table
  x-pack/plugins/security_solution/public/common/components/link_to/redirect_to_timelines.tsx
  x-pack/plugins/security_solution/public/common/mock/global_state.ts
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/notes_list.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/notes_list.tsx
  x-pack/plugins/security_solution/public/management/links.ts
  x-pack/plugins/security_solution/public/notes/api/api.ts
  x-pack/plugins/security_solution/public/notes/components/delete_confirm_modal.tsx
  x-pack/plugins/security_solution/public/notes/components/search_row.tsx
  x-pack/plugins/security_solution/public/notes/components/translations.ts
  x-pack/plugins/security_solution/public/notes/components/utility_bar.tsx
  x-pack/plugins/security_solution/public/notes/index.ts
  x-pack/plugins/security_solution/public/notes/pages/note_management_page.tsx
  x-pack/plugins/security_solution/public/notes/store/notes.slice.test.ts
  x-pack/plugins/security_solution/public/notes/store/notes.slice.ts
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/edit_timeline_batch_actions.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline_modal/open_timeline_modal_body.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/actions_columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/common_columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/extended_columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/icon_header_columns.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/timelines_table/mocks.ts
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/types.ts
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/use_timeline_types.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/use_timeline_types.tsx
  x-pack/plugins/security_solution/public/timelines/links.ts
  x-pack/plugins/security_solution/public/timelines/pages/index.tsx
  x-pack/plugins/security_solution/public/timelines/pages/timelines_page.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.15.0

#187313 [8.14] [Obs AI Assistant] Boost user prompt in recall (#184933)
  x-pack/plugins/observability_solution/observability_ai_assistant/public/service/create_service.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/context.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/routes/functions/route.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/get_context_function_request_if_needed.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/knowledge_base_service/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/components/chat/chat_body.test.tsx
  x-pack/test/observability_ai_assistant_api_integration/tests/complete/complete.spec.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/public_complete/public_complete.spec.ts
  x-pack/test/observability_ai_assistant_functional/tests/conversations/index.spec.ts
Labels: backport, Team:Obs AI Assistant

#186971 [APM] Co-locate data fetcher and return format for AI Assistant Alert insights
  x-pack/plugins/observability_solution/apm/common/utils/flatten_object.test.ts
  x-pack/plugins/observability_solution/apm/common/utils/flatten_object.ts
  x-pack/plugins/observability_solution/apm/public/components/shared/key_value_table/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/stacktrace/variables.tsx
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_log_categories/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_observability_alert_details_context/index.ts
  x-pack/plugins/observability_solution/observability/server/services/index.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, Team:obs-ux-management, apm:review, v8.15.0

#185952 [CI] Use elastic-images-prod everywhere
  .buildkite/pipelines/artifacts.yml
  .buildkite/pipelines/artifacts_container_image.yml
  .buildkite/pipelines/artifacts_trigger.yml
  src/dev/buildkite_migration/rewrite_buildkite_agent_rules.ts
Labels: Team:Operations, release_note:skip, backport:skip, skip-ci

#187260 [7.17] [Logs UI] Add constraint check (#186872)
  x-pack/plugins/infra/server/lib/adapters/log_entries/kibana_log_entries_adapter.ts
Labels: backport

#187125 [Dataset quality] EBT for Datasets table and Dataset Details
  x-pack/plugins/observability_solution/dataset_quality/public/components/dataset_quality/context.ts
  x-pack/plugins/observability_solution/dataset_quality/public/components/dataset_quality/dataset_quality.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/components/dataset_quality/table/columns.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/components/dataset_quality/table/degraded_docs_percentage_link.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/components/flyout/flyout.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/components/flyout/flyout_summary/flyout_summary_kpi_item.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/components/flyout/flyout_summary/flyout_summary_kpis.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/components/flyout/flyout_summary/get_summary_kpis.test.ts
  x-pack/plugins/observability_solution/dataset_quality/public/components/flyout/flyout_summary/get_summary_kpis.ts
  x-pack/plugins/observability_solution/dataset_quality/public/components/flyout/header.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/hooks/index.ts
  x-pack/plugins/observability_solution/dataset_quality/public/hooks/use_degraded_docs_chart.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/hooks/use_flyout_integration_actions.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/hooks/use_redirect_link.ts
  x-pack/plugins/observability_solution/dataset_quality/public/hooks/use_telemetry.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/plugin.tsx
  x-pack/plugins/observability_solution/dataset_quality/public/services/telemetry/index.ts
  x-pack/plugins/observability_solution/dataset_quality/public/services/telemetry/telemetry_client.ts
  x-pack/plugins/observability_solution/dataset_quality/public/services/telemetry/telemetry_events.ts
  x-pack/plugins/observability_solution/dataset_quality/public/services/telemetry/telemetry_service.test.ts
  x-pack/plugins/observability_solution/dataset_quality/public/services/telemetry/telemetry_service.ts
  x-pack/plugins/observability_solution/dataset_quality/public/services/telemetry/types.ts
  x-pack/plugins/observability_solution/dataset_quality/tsconfig.json
  x-pack/test/functional/apps/dataset_quality/dataset_quality_flyout.ts
  x-pack/test_serverless/functional/test_suites/observability/dataset_quality/dataset_quality_flyout.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-logs, v8.15.0

#187302 [EDR Workflows] Fix saved_queries flaky tests
  x-pack/plugins/osquery/cypress/e2e/all/saved_queries.cy.ts
  x-pack/plugins/osquery/cypress/tasks/live_query.ts
  x-pack/plugins/osquery/cypress/tasks/saved_queries.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#186967 [Discover][ES|QL] Correctly adds the limit to the field statistics queries
  packages/kbn-esql-utils/src/utils/get_esql_with_safe_limit.test.ts
  packages/kbn-esql-utils/src/utils/get_esql_with_safe_limit.ts
Labels: Feature:Discover, release_note:fix, backport:skip, Feature:ES|QL, Team:ESQL, v8.15.0

#186980 fix: Obs Applications > Transaction Detail][SCREEN READER]: Table rows need TH[scope="row"] for SR usability: 0011
  x-pack/plugins/observability_solution/apm/public/components/app/correlations/correlations_table.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/correlations/failed_transactions_correlations.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/correlations/latency_correlations.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review, v8.15.0

#187329 [APM] Environment N/A badge for the classic view should not appear
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/multi_signal_inventory/table/get_service_columns.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/environment_badge/index.tsx
Labels: release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services

#186999 [CI] Display command on failure page
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/__fixtures__/ftr_report.xml
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/__fixtures__/jest_report.xml
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/__fixtures__/mocha_report.xml
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/add_messages_to_report.test.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/get_failures.test.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/get_failures.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/report_failures_to_file.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/test_report.ts
  packages/kbn-test/src/jest/junit_reporter/junit_reporter.ts
  packages/kbn-test/src/mocha/junit_report_generation.js
  packages/kbn-test/src/mocha/junit_report_generation.test.js
  packages/kbn-test/src/prettify_command_line.ts
Labels: Team:Operations, release_note:skip, backport:prev-minor

#187304 [EDR Workflows] Unskip add_integration.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/add_integration.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#187142 Improves the performance of the table ES|QL visualization
  x-pack/plugins/lens/common/expressions/map_to_columns/map_to_columns.test.ts
  x-pack/plugins/lens/common/expressions/map_to_columns/map_to_columns.ts
  x-pack/plugins/lens/common/expressions/map_to_columns/map_to_columns_fn_textbased.ts
  x-pack/plugins/lens/common/expressions/map_to_columns/types.ts
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/helpers.ts
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
  x-pack/plugins/lens/public/datasources/text_based/components/dimension_editor.tsx
  x-pack/plugins/lens/public/datasources/text_based/components/dimension_trigger.tsx
  x-pack/plugins/lens/public/datasources/text_based/text_based_languages.test.ts
  x-pack/plugins/lens/public/datasources/text_based/text_based_languages.tsx
  x-pack/plugins/lens/public/datasources/text_based/to_expression.ts
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/create_action_helpers.ts
Labels: release_note:fix, Team:Visualizations, Feature:Lens, Feature:ES|QL, v8.15.0

#187011 Add browser confirm to unsaved changes hook
  packages/kbn-unsaved-changes-prompt/src/unsaved_changes_prompt/unsaved_changes_prompt.test.tsx
  packages/kbn-unsaved-changes-prompt/src/unsaved_changes_prompt/unsaved_changes_prompt.tsx
Labels: release_note:skip, Team:Search, v8.15.0

#186961 [Index Management/ML] Fix broken retries on inference id creation
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/field_parameters/select_inference_id.tsx
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/create_field/semantic_text/use_semantic_text.test.ts
  x-pack/plugins/index_management/public/application/components/mappings_editor/components/document_fields/fields/create_field/semantic_text/use_semantic_text.ts
  x-pack/plugins/index_management/public/application/sections/home/index_list/details_page/details_page_mappings_content.tsx
  x-pack/plugins/index_management/public/application/services/api.ts
  x-pack/plugins/index_management/public/application/services/index.ts
  x-pack/plugins/index_management/public/hooks/use_details_page_mappings_model_management.test.ts
  x-pack/plugins/index_management/public/hooks/use_details_page_mappings_model_management.ts
  x-pack/plugins/index_management/public/hooks/use_ml_model_status_toasts.ts
  x-pack/plugins/ml/server/models/model_management/models_provider.ts
Labels: release_note:skip, Team:Search, v8.15.0

#187282 [7.17][.buildkite] Upgrade micromatch to 4.0.7
  .buildkite/package-lock.json
Labels: Team:Operations, release_note:skip

#186982 [Index Management] Add unsaved changes prompt
  x-pack/plugins/index_management/__jest__/client_integration/helpers/setup_environment.tsx
  x-pack/plugins/index_management/public/application/app_context.tsx
  x-pack/plugins/index_management/public/application/index.tsx
  x-pack/plugins/index_management/public/application/mount_management_section.ts
  x-pack/plugins/index_management/public/application/sections/home/index_list/details_page/details_page_mappings_content.tsx
  x-pack/plugins/index_management/tsconfig.json
Labels: release_note:skip, Team:Search, v8.15.0

#186323 [Security Solution] Adds diff algorithm and unit tests for scalar array values
  x-pack/plugins/security_solution/common/api/detection_engine/prebuilt_rules/model/diff/three_way_diff/three_way_diff_outcome.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/calculation/algorithms/index.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/calculation/algorithms/number_diff_algorithm.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/calculation/algorithms/scalar_array_diff_algorithm.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/calculation/algorithms/scalar_array_diff_algorithm.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/diff/calculation/algorithms/single_line_string_diff_algorithm.test.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.15.0

#186613 [Threat Hunting] Include Threat hunting API tests in Quality Gate Peroidic pipeline
  x-pack/test/security_solution_api_integration/package.json
  x-pack/test/security_solution_api_integration/scripts/index.js
  x-pack/test/security_solution_api_integration/test_suites/investigation/saved_objects/trial_license_complete_tier/configs/serverless.config.ts
Labels: release_note:skip, Team:Threat Hunting

#187305 Update java_settings.ts
  x-pack/plugins/observability_solution/apm/common/agent_configuration/setting_definitions/java_settings.ts
Labels: release_note:skip, backport:all-open, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.15.0

#187073 [Fleet] Show a shared label in integration table
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/details_page/components/package_policies/package_policies_table.tsx
Labels: release_note:skip, Team:Fleet, v8.15.0

#187283 [ML] Updates UI FTR serverless tests to not run with operator privilege
  x-pack/test_serverless/functional/test_suites/observability/ml/anomaly_detection_jobs_list.ts
  x-pack/test_serverless/functional/test_suites/security/ml/anomaly_detection_jobs_list.ts
  x-pack/test_serverless/functional/test_suites/security/ml/data_frame_analytics_jobs_list.ts
  x-pack/test_serverless/functional/test_suites/security/ml/search_bar_features.ts
  x-pack/test_serverless/functional/test_suites/security/ml/trained_models_list.ts
Labels: :ml, test_ui_functional, release_note:skip, ci:build-serverless-image, v8.15.0

#187347 [GenAI] Integrations Assistant license and default image fixes
  x-pack/plugins/integration_assistant/common/constants.ts
  x-pack/plugins/integration_assistant/public/common/hooks/use_availability.ts
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration_assistant/steps/default_logo.ts
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration_assistant/steps/deploy_step/use_deploy_integration.ts
  x-pack/plugins/integration_assistant/public/components/create_integration/create_integration_assistant/steps/integration_step/package_card_preview.tsx
  x-pack/plugins/integration_assistant/server/integration_builder/build_integration.ts
  x-pack/plugins/integration_assistant/server/plugin.ts
  x-pack/plugins/integration_assistant/server/templates/manifest/package_manifest.yml.njk
Labels: release_note:skip, Team:Security Generative AI, v8.15.0

#186857 [Security Solution] Enable alert preview in document details flyout
  packages/kbn-expandable-flyout/src/components/preview_section.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/correlations_details_alerts_table.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/correlations_details_alerts_table.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/related_alerts_by_ancestry.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/related_alerts_by_same_source_event.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/related_alerts_by_session.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/test_ids.ts
  x-pack/plugins/security_solution/public/flyout/document_details/preview/footer.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/preview/footer.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/preview/index.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/preview/test_ids.ts
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/correlations_overview.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/correlations_overview.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/entities_overview.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/entities_overview.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/investigation_guide.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/investigation_guide.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/prevalence_overview.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/prevalence_overview.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/response_section.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/response_section.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/threat_intelligence_overview.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/threat_intelligence_overview.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/header.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/rule_overview/components/footer.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/rule_overview/components/footer.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/rule_overview/index.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/shared/context.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/shared/mocks/mock_context.ts
  x-pack/plugins/security_solution/public/flyout/document_details/shared/types.tsx
  x-pack/plugins/security_solution/public/flyout/index.tsx
  x-pack/plugins/security_solution/public/flyout/shared/components/flyout_body.tsx
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_preview_panel_rule_preview.cy.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting, Team:Threat Hunting:Investigations, 8.15 candidate, v8.15.0

#187367 [8.14] Update java_settings.ts (#187305)
  x-pack/plugins/observability_solution/apm/common/agent_configuration/setting_definitions/java_settings.ts
Labels: backport, Team:obs-ux-infra_services

#187161 [Fleet] Allow global data tags to be readonly
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/custom_fields/global_data_tags_table.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/custom_fields/global_data_tags_table.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/custom_fields/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
Labels: bug, release_note:skip, Team:Fleet

#187354 [ci] Use org wide PR comment bot
  .buildkite/pipeline-resource-definitions/kibana-pr.yml
  .buildkite/pipeline-utils/test-failures/annotate.ts
Labels: Team:Operations, release_note:skip, backport:all-open

#187361 [Connectors] Include `manage_connector` privilege in generated api keys
  x-pack/plugins/enterprise_search/server/lib/indices/generate_api_key.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/generate_api_key.ts
Labels: release_note:skip, Team:Search, v8.15.0

#186182 [APM] Correlations: Update field candidates request.
  x-pack/plugins/observability_solution/apm/common/correlations/constants.ts
  x-pack/plugins/observability_solution/apm/server/routes/correlations/queries/fetch_duration_field_candidates.test.ts
  x-pack/plugins/observability_solution/apm/server/routes/correlations/queries/fetch_duration_field_candidates.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review, v8.15.0

#187352 [EDR Workflows] Fix saved query skipped test
  x-pack/plugins/osquery/cypress/e2e/all/saved_queries.cy.ts
  x-pack/plugins/osquery/cypress/tasks/saved_queries.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#187179 [Lists Plugin] Migrate authc.getCurrentUser usage to coreContext.secu…
  x-pack/plugins/lists/server/get_user.test.ts
  x-pack/plugins/lists/server/get_user.ts
  x-pack/plugins/lists/server/plugin.ts
  x-pack/plugins/lists/tsconfig.json
Labels: release_note:skip, Team:Detection Engine

#186924 [Actions Plugin] Use server-side authc.getCurrentUser from core.security
  x-pack/plugins/actions/server/authorization/actions_authorization.test.ts
  x-pack/plugins/actions/server/authorization/actions_authorization.ts
  x-pack/plugins/actions/server/lib/action_executor.test.ts
  x-pack/plugins/actions/server/lib/action_executor.ts
  x-pack/plugins/actions/server/lib/task_runner_factory.test.ts
  x-pack/plugins/actions/server/plugin.ts
Labels: release_note:skip, Team:ResponseOps

#185907 [ML] Single Metric Viewer embeddable: ensure chart height is responsive on resize
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart_with_tooltip.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer_embeddable_chart/timeseriesexplorer_embeddable_chart.js
  x-pack/plugins/ml/public/shared_components/single_metric_viewer/single_metric_viewer.tsx
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, v8.15.0

#187307 [Security Solution][Detections] Update copies for Custom Highlighted Fields bulk action
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/forms/investigation_fields_form.tsx
  x-pack/plugins/security_solution/public/detections/pages/detection_engine/rules/translations.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/bulk_actions/bulk_edit_rules.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/rules_bulk_actions.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine, v8.15.0

#187318 Exposes authenticate user mock from core-security-server-mocks
  packages/core/security/core-security-browser-mocks/src/security_service.mock.ts
  packages/core/security/core-security-browser-mocks/tsconfig.json
  packages/core/security/core-security-server-mocks/src/security_service.mock.ts
  packages/core/security/core-security-server-mocks/tsconfig.json
Labels: Team:Core, release_note:skip, v8.15.0

#187174 [EDR Workflows][Process descendants filter] Display process descendant filtering on event filter cards
  x-pack/plugins/security_solution/public/management/components/artifact_card_grid/artifact_card_grid.test.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card.test.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card_minified.test.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_card_minified.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_collapsible_card.test.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/artifact_entry_collapsible_card.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/card_decorators/event_filters_process_descendant_indicator.test.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_entry_card/components/card_decorators/event_filters_process_descendant_indicator.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/artifact_list_page.tsx
  x-pack/plugins/security_solution/public/management/components/artifact_list_page/integration_tests/artifact_list_page.test.tsx
  x-pack/plugins/security_solution/public/management/components/paginated_content/paginated_content.test.tsx
  x-pack/plugins/security_solution/public/management/components/paginated_content/paginated_content.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/components/form.test.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/components/form.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/components/process_descendant_tooltip.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/event_filters_list.tsx
  x-pack/plugins/security_solution/public/management/pages/event_filters/view/integration_tests/event_filters_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/artifacts/assignable/policy_artifacts_assignable_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/artifacts/assignable/policy_artifacts_assignable_list.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/artifacts/flyout/policy_artifacts_flyout.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/artifacts/flyout/policy_artifacts_flyout.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/artifacts/layout/policy_artifacts_layout.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/artifacts/list/policy_artifacts_list.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/artifacts/list/policy_artifacts_list.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/tabs/policy_tabs.tsx
Labels: release_note:skip, backport:skip, Team:Defend Workflows, 8.15 candidate

#187366 [7.17] Update java_settings.ts (#187305)
  x-pack/plugins/apm/common/agent_configuration/setting_definitions/java_settings.ts
Labels: backport

#187377 [8.14] [ci] Use org wide PR comment bot (#187354)
  .buildkite/pipeline-resource-definitions/kibana-pr.yml
  .buildkite/pipeline-utils/test-failures/annotate.ts
Labels: backport

#187308 Remove `joi` leakage to the browser in `synthetics`
  x-pack/plugins/observability_solution/synthetics/common/runtime_types/monitor_management/alert_config.ts
  x-pack/plugins/observability_solution/synthetics/common/runtime_types/monitor_management/alert_config_schema.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_list_table/monitor_list.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/sort_fields.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/use_infinite_scroll.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/lib/alert_types/lazy_wrapper/monitor_status.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/lib/alert_types/monitor_status.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/state/monitor_list/models.ts
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/state/overview/models.ts
  x-pack/plugins/observability_solution/synthetics/server/routes/monitor_cruds/monitor_validation.ts
Labels: release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services

#187351 [8.14] [CI] Display command on failure page (#186999)
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/__fixtures__/ftr_report.xml
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/__fixtures__/jest_report.xml
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/__fixtures__/mocha_report.xml
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/add_messages_to_report.test.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/get_failures.test.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/get_failures.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/report_failures_to_file.ts
  packages/kbn-failed-test-reporter-cli/failed_tests_reporter/test_report.ts
  packages/kbn-test/src/jest/junit_reporter/junit_reporter.ts
  packages/kbn-test/src/mocha/junit_report_generation.js
  packages/kbn-test/src/mocha/junit_report_generation.test.js
  packages/kbn-test/src/prettify_command_line.ts
Labels: backport

#187378 [Security Solution] Updates periodic pipeline job names
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_defend_workflows.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_detection_engine.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_entity_analytics.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_explore.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_gen_ai.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_investigations.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_rule_management.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_defend_workflows.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_detection_engine.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_entity_analytics.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_explore.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_gen_ai.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_investigations.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_rule_management.yml
Labels: release_note:skip, Team: SecuritySolution, v8.15.0

#187116 Fix form submit issue with key down
  x-pack/plugins/search_playground/public/components/question_input.test.tsx
  x-pack/plugins/search_playground/public/components/question_input.tsx
Labels: release_note:skip, Team:Search, v8.15.0

#187235 [Rollups] Update rollup badges in Data view form
  src/plugins/data_view_editor/public/components/form_fields/type_field.tsx
  src/plugins/data_view_editor/public/components/preview_panel/indices_list/indices_list.tsx
  src/plugins/data_view_editor/tsconfig.json
  src/plugins/data_views/public/services/get_indices.ts
Labels: Feature:Data Views, Team:Kibana Management, release_note:skip, Feature:Rollups, v8.15.0

#186870 [APM] Unskip apm api test suite
  x-pack/test/apm_api_integration/tests/alerts/error_count_threshold.spec.ts
  x-pack/test/apm_api_integration/tests/alerts/preview_chart_error_count.spec.ts
  x-pack/test/apm_api_integration/tests/alerts/preview_chart_error_rate.spec.ts
  x-pack/test/apm_api_integration/tests/dependencies/top_spans.spec.ts
  x-pack/test/apm_api_integration/tests/diagnostics/data_streams.spec.ts
  x-pack/test/apm_api_integration/tests/diagnostics/index_templates.spec.ts
  x-pack/test/apm_api_integration/tests/errors/group_id_samples.spec.ts
  x-pack/test/apm_api_integration/tests/errors/top_erroneous_transactions/top_erroneous_transactions.spec.ts
  x-pack/test/apm_api_integration/tests/errors/top_errors_for_transaction/top_errors_main_stats.spec.ts
  x-pack/test/apm_api_integration/tests/index.ts
  x-pack/test/apm_api_integration/tests/mobile/crashes/crash_group_list.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/crashes/distribution.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/errors/group_id_samples.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_detailed_statistics_by_field.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_filters.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_http_requests_timeseries.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_location_stats.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_main_statistics_by_field.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_most_used_chart.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_sessions_timeseries.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_stats.spec.ts
  x-pack/test/apm_api_integration/tests/mobile/mobile_terms_by_field.spec.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.15.0

#186340 [ES|QL] capitalize things
  packages/kbn-esql-utils/src/utils/append_to_query.test.ts
  packages/kbn-esql-utils/src/utils/append_to_query.ts
  packages/kbn-esql-utils/src/utils/get_initial_esql_query.test.ts
  packages/kbn-esql-utils/src/utils/get_initial_esql_query.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  packages/kbn-esql-validation-autocomplete/src/autocomplete/factories.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  packages/kbn-esql-validation-autocomplete/src/validation/validation.ts
  src/plugins/data/public/actions/filters/create_filters_from_value_click.test.ts
  test/functional/apps/discover/esql/_esql_view.ts
  test/functional/apps/discover/group6/_sidebar_field_stats.ts
  test/functional/apps/discover/group7/_new_search.ts
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/create_action_helpers.ts
  x-pack/plugins/observability_solution/logs_explorer/public/hooks/use_esql.tsx
  x-pack/test_serverless/functional/test_suites/common/discover/esql/_esql_view.ts
Labels: release_note:enhancement, Feature:ES|QL, ci:project-deploy-observability, Team:ESQL

#187330 [7.17] [Kibana Management] Add a limit when strings are too long (#186312)
  x-pack/plugins/cross_cluster_replication/server/routes/api/auto_follow_pattern/register_create_route.ts
  x-pack/plugins/cross_cluster_replication/server/routes/api/follower_index/register_create_route.ts
  x-pack/plugins/index_lifecycle_management/server/routes/api/policies/register_create_route.ts
  x-pack/plugins/index_management/server/routes/api/component_templates/schema_validation.ts
  x-pack/plugins/index_management/server/routes/api/templates/validate_schemas.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/create.ts
  x-pack/plugins/remote_clusters/server/routes/api/add_route.ts
  x-pack/plugins/rollup/server/routes/api/jobs/register_create_route.ts
  x-pack/plugins/snapshot_restore/server/routes/api/validate_schemas.ts
  x-pack/test/api_integration/apis/management/ingest_pipelines/ingest_pipelines.ts
Labels: backport

#186417 [APM] limit service map scripted metric agg based on shard count
  x-pack/plugins/observability_solution/apm/server/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/service_map/calculate_docs_per_shard.test.ts
  x-pack/plugins/observability_solution/apm/server/routes/service_map/calculate_docs_per_shard.ts
  x-pack/plugins/observability_solution/apm/server/routes/service_map/fetch_service_paths_from_trace_ids.ts
  x-pack/plugins/observability_solution/apm/server/routes/service_map/get_service_map.ts
  x-pack/plugins/observability_solution/apm/server/routes/service_map/get_service_map_from_trace_ids.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services

#186564 Defend Advanced Policy Options for Registry Event Filtering Enforcement
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport:skip, Team:Defend Workflows, release_note:feature, v8.15.0

#187337 fix(dev, serverless): do not inject mock SAML IdP configuration if conflicting configuration is provided via CLI arguments
  src/cli/serve/serve.js
Labels: bug, test, dev, release_note:skip, backport:skip

#181926 [Detection Engine] Adds Alert Suppression to ML Rules
  packages/kbn-es/src/serverless_resources/project_roles/security/roles.yml
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/serverless_upgrade_and_rollback_checks.test.ts.snap
  x-pack/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_request_schema.test.ts
  x-pack/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_schemas.gen.ts
  x-pack/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_schemas.schema.yaml
  x-pack/plugins/security_solution/common/detection_engine/constants.ts
  x-pack/plugins/security_solution/common/detection_engine/utils.test.ts
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/common/components/ml/hooks/use_ml_rule_config.ts
  x-pack/plugins/security_solution/public/common/components/ml/hooks/use_ml_rule_validations.test.ts
  x-pack/plugins/security_solution/public/common/components/ml/hooks/use_ml_rule_validations.ts
  x-pack/plugins/security_solution/public/common/components/ml_popover/api.mock.ts
  x-pack/plugins/security_solution/public/common/components/ml_popover/hooks/use_security_jobs_helpers.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/description_step/index.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/translations.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/use_experimental_feature_fields_transform.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/helpers.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/helpers.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/use_alert_suppression.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/use_alert_suppression.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management/logic/use_rule_fields.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/actions.tsx
  x-pack/plugins/security_solution/scripts/endpoint/common/roles_users/serverless/es_serverless_resources/roles.yml
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/normalization/rule_converters.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/normalization/rule_converters.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_schema/model/rule_schemas.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/ml/create_ml_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/ml/ml.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/ml/ml.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/types.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/utils/wrap_suppressed_alerts.ts
  x-pack/test/common/utils/security_solution/detections_response/delete_all_anomalies.ts
  x-pack/test/common/utils/security_solution/detections_response/index.ts
  x-pack/test/functional/es_archives/security_solution/anomalies/mappings.json
  x-pack/test/security_solution_api_integration/config/ess/config.base.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/machine_learning.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/machine_learning_alert_suppression.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/machine_learning/machine_learning_setup.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/rules/remove_server_generated_properties_including_rule_id.ts
  x-pack/test/security_solution_cypress/config.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/common_flows_suppression_serverless_essentials.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/common_flows_supression_ess_basic.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/machine_learning_rule_suppression.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_edit/machine_learning_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/prebuilt_rules_preview.cy.ts
  x-pack/test/security_solution_cypress/cypress/support/machine_learning.ts
  x-pack/test/security_solution_cypress/serverless_config.ts
  x-pack/test_serverless/shared/lib/security/kibana_roles/project_controller_security_roles.yml
Labels: release_note:enhancement, Feature:ML Rule, Feature:Alert Suppression, Team:Detection Engine, 8.15 candidate

#187186 [Security solution] Assistant race condition bug fixing
  x-pack/packages/kbn-elastic-assistant/impl/assistant/assistant_header/assistant_header_flyout.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/chat_send/use_chat_send.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/index.tsx
Labels: release_note:skip, Team: SecuritySolution, Team:Security Generative AI, v8.15.0

#186657 [Cloud Security] Update CSP Version to 1.9.0 for Test
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_var_field.tsx
  x-pack/test/cloud_security_posture_functional/page_objects/add_cis_integration_form_page.ts
  x-pack/test/cloud_security_posture_functional/pages/cis_integrations/cspm/cis_integration_aws.ts
  x-pack/test/cloud_security_posture_functional/pages/cis_integrations/cspm/cis_integration_azure.ts
  x-pack/test/cloud_security_posture_functional/pages/cis_integrations/kspm/cis_integration_eks.ts
  x-pack/test_serverless/functional/test_suites/security/config.cloud_security_posture.essentials.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Cloud Security, v8.15.0

#186364 Telemetry for manual rule run
  x-pack/plugins/security_solution/public/common/lib/telemetry/constants.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/event_log/index.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/event_log/types.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/manual_rule_run/index.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/manual_rule_run/types.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/telemetry_events.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/telemetry_client.mock.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/telemetry_client.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/types.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_details_ui/pages/rule_details/execution_log_table/execution_log_table.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_details_ui/pages/rule_details/execution_log_table/execution_log_table.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_gaps/components/rule_backfills_info/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_gaps/components/rule_backfills_info/stop_backfill.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_gaps/components/rule_backfills_info/stop_backfill.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_gaps/logic/use_schedule_rule_run.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_gaps/logic/use_schedule_rule_run.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/bulk_actions/use_bulk_actions.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/use_rules_table_actions.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_monitoring/components/basic/filters/execution_run_type_filter/index.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_monitoring/components/basic/filters/execution_run_type_filter/index.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_actions_overflow/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/rules/rule_actions_overflow/index.tsx
Labels: release_note:skip

#187391 [7.17] Use org wide PR comment bot
  .buildkite/package-lock.json
  .buildkite/package.json
Labels: backport

#187303 [Logs UI] Fix log entry fly-out when response is slow
  x-pack/plugins/observability_solution/logs_shared/server/services/log_entries/log_entries_search_strategy.ts
  x-pack/plugins/observability_solution/logs_shared/server/services/log_entries/log_entry_search_strategy.test.ts
  x-pack/plugins/observability_solution/logs_shared/server/services/log_entries/log_entry_search_strategy.ts
Labels: bug, release_note:fix, Feature:Logs UI, backport:prev-minor, ci:project-deploy-observability, Team:obs-ux-logs

#187387 [ML] Fixing upgrade warning
  x-pack/plugins/ml/public/application/capabilities/check_capabilities.ts
  x-pack/plugins/ml/public/application/capabilities/get_capabilities.ts
  x-pack/plugins/ml/public/application/components/upgrade/upgrade_warning.tsx
  x-pack/plugins/ml/public/application/management/jobs_list/components/jobs_list_page/jobs_list_page.tsx
  x-pack/plugins/ml/public/application/services/upgrade_service.ts
Labels: release_note:fix, :ml, v8.15.0, v8.16.0

#187158 [Security Solution] Fix risk score should not 404 when alerts index doesn't exist
  x-pack/plugins/security_solution/server/lib/entity_analytics/risk_score/calculate_risk_scores.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/risk_engine/trial_license_complete_tier/risk_score_preview.ts
Labels: release_note:skip, Team:Entity Analytics

#187346 [Security Solution][Notes] - prevent user from adding note if the markdown is invalid
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/add_note.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/add_note.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.15.0

#187306 [Security-in-core] Cloud Chat
  x-pack/plugins/cloud_integrations/cloud_chat/kibana.jsonc
  x-pack/plugins/cloud_integrations/cloud_chat/public/plugin.test.ts
  x-pack/plugins/cloud_integrations/cloud_chat/public/plugin.tsx
  x-pack/plugins/cloud_integrations/cloud_chat/server/plugin.ts
  x-pack/plugins/cloud_integrations/cloud_chat/server/routes/chat.test.ts
  x-pack/plugins/cloud_integrations/cloud_chat/server/routes/chat.ts
  x-pack/plugins/cloud_integrations/cloud_chat/tsconfig.json
Labels: Team:Core, release_note:skip, backport:skip

#187371 [APM][Serverless] Remove universal profiling setting from Advanced Settings
  packages/serverless/settings/observability_project/index.ts
Labels: release_note:skip, v8.15.0

#187332 [ResponseOps][Cases] Change login role in serverless UI tests.
  x-pack/test_serverless/functional/test_suites/observability/cases/attachment_framework.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/configure.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/create_case_form.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/list_view.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/view_case.ts
  x-pack/test_serverless/functional/test_suites/search/cases/attachment_framework.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.15.0

#187353 fix: [Obs Synthetics > Monitor test run][KEYBOARD]: Date (check) dropdown needs a semantic label for the current check
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/step_details_page/step_page_nav.tsx
  x-pack/plugins/observability_solution/uptime/public/legacy_uptime/components/monitor/synthetics/step_detail/step_page_nav.tsx
  x-pack/plugins/observability_solution/uptime/public/legacy_uptime/pages/synthetics/checks_navigation.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review, v8.15.0

#187439 [ES|QL] Add `weighted_avg` ES|QL function support
  packages/kbn-esql-validation-autocomplete/src/definitions/aggs.ts
  packages/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  packages/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
Labels: review, release_note:skip, Team:DataDiscovery, Feature:ES|QL, Team:ESQL, v8.15.0

#187355 include entity type in EEM output docs
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/ingest_pipeline/__snapshots__/generate_history_processors.test.ts.snap
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/ingest_pipeline/__snapshots__/generate_latest_processors.test.ts.snap
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/ingest_pipeline/generate_history_processors.ts
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/ingest_pipeline/generate_latest_processors.ts
  x-pack/plugins/observability_solution/entity_manager/server/templates/components/entity.ts
Labels: release_note:skip, ci:project-deploy-observability

#187215 [eem] improve enablement error handling
  x-pack/plugins/observability_solution/entity_manager/common/errors.ts
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/find_entity_definition.ts
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/types.ts
  x-pack/plugins/observability_solution/entity_manager/server/routes/enablement/check.ts
  x-pack/plugins/observability_solution/entity_manager/server/routes/enablement/disable.ts
  x-pack/plugins/observability_solution/entity_manager/server/routes/enablement/enable.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-knowledge

#187147 [OnWeek][ObsUX] Add fields to hosts in synthtrace to improve data generation
  packages/kbn-apm-synthtrace-client/src/lib/infra/docker_container.ts
  packages/kbn-apm-synthtrace-client/src/lib/infra/host.ts
  packages/kbn-apm-synthtrace-client/src/lib/infra/k8s_container.ts
  packages/kbn-apm-synthtrace/src/scenarios/infra_docker_containers.ts
  packages/kbn-apm-synthtrace/src/scenarios/infra_k8s_containers.ts
  x-pack/test/functional/apps/infra/helpers.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.15.0

#187281 [Lens] Fix telemetry for annotation layers
  src/plugins/chart_expressions/expression_xy/common/__mocks__/index.ts
  src/plugins/chart_expressions/expression_xy/public/expression_renderers/telemetry.test.ts
  src/plugins/chart_expressions/expression_xy/public/expression_renderers/xy_chart_renderer.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, v8.15.0

#187447 [Fleet] Bug - Add missing instance of enableReusableIntegrationPolicies under enterprise plan
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_delete_provider.tsx
Labels: release_note:skip, Team:Fleet, v8.15.0

#187334 [Fleet] handle multiple policies in edit package policy extension view
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.test.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/setup_technology_selector/use_setup_technology.test.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/setup_technology_selector/use_setup_technology.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
  x-pack/plugins/fleet/public/types/ui_extensions.ts
Labels: release_note:skip, Team:Fleet

#187453 [EDR Workflows] Change the .skip() place for saved_queries.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/saved_queries.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#187136 [ftr] mark basic auth login method for UI tests as deprecated
  x-pack/test_serverless/functional/page_objects/svl_common_page.ts
Labels: release_note:skip, v8.15.0

#186591 fix: [Obs Alerts > Rules Overview][SCREEN READER]: Table rows need TH[scope="row"] for SR usability: 0001
  x-pack/plugins/triggers_actions_ui/public/application/sections/rules_list/components/rules_list_table.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, v8.15.0

#187374 [EDR Workflows] Fix skipped timelines.cy.ts test
  x-pack/plugins/osquery/cypress/e2e/all/timelines.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#187370 [Fleet] update package policies to remove deleted agent policy ref
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
Labels: release_note:skip, Team:Fleet

#187386 [ci] Use org wide PR status bot
  .buildkite/pipeline-resource-definitions/kibana-on-merge.yml
  .buildkite/pipeline-resource-definitions/kibana-pr.yml
  .buildkite/scripts/lifecycle/post_build.sh
  .buildkite/scripts/lifecycle/pre_build.sh
Labels: Team:Operations, release_note:skip, backport:all-open

#187444 [APM] Reenable and stabilize APM correlations API integration tests.
  x-pack/test/apm_api_integration/tests/correlations/failed_transactions.spec.ts
  x-pack/test/apm_api_integration/tests/correlations/field_candidates.spec.ts
  x-pack/test/apm_api_integration/tests/correlations/field_value_pairs.spec.ts
  x-pack/test/apm_api_integration/tests/correlations/latency.spec.ts
  x-pack/test/apm_api_integration/tests/correlations/p_values.spec.ts
  x-pack/test/apm_api_integration/tests/correlations/significant_correlations.spec.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, v8.15.0

#186509 [ML] AIOps: Add AI Assistant contextual insight to Log Rate Analysis page in ML plugin in Observability serverless.
  packages/kbn-optimizer/limits.yml
  x-pack/plugins/aiops/kibana.jsonc
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_app_state.tsx
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_page.tsx
  x-pack/plugins/aiops/public/hooks/use_aiops_app_context.ts
  x-pack/plugins/aiops/public/types/index.ts
  x-pack/plugins/aiops/tsconfig.json
  x-pack/plugins/ml/kibana.jsonc
  x-pack/plugins/ml/public/application/aiops/log_rate_analysis.tsx
  x-pack/plugins/ml/public/application/app.tsx
  x-pack/plugins/ml/public/application/contexts/kibana/kibana_context.ts
  x-pack/plugins/ml/public/application/contexts/ml/serverless_context.tsx
  x-pack/plugins/ml/public/plugin.ts
  x-pack/plugins/ml/tsconfig.json
Labels: release_note:enhancement, :ml, Feature:ML/AIOps, v8.15.0

#187429 Update kubernetes templates for elastic-agent
  x-pack/plugins/fleet/server/services/elastic_agent_manifest.ts
Labels: release_note:skip, automation, Team:Fleet

#187467 [Fleet] added check for Enterprise license in package policy create/update APIs
  x-pack/plugins/fleet/server/routes/package_policy/handlers.test.ts
  x-pack/plugins/fleet/server/routes/package_policy/handlers.ts
  x-pack/plugins/fleet/server/routes/package_policy/utils/index.ts
Labels: release_note:skip, Team:Fleet, v8.15.0, v8.16.0

#186656 [Embeddable Rebuild] [Controls] Clean up styling + add clear selections to timeslider
  examples/controls_example/public/app/app.tsx
  examples/controls_example/public/app/react_control_example.tsx
  examples/controls_example/public/react_controls/control_error_component.tsx
  examples/controls_example/public/react_controls/control_group/get_control_group_factory.tsx
  examples/controls_example/public/react_controls/control_panel.scss
  examples/controls_example/public/react_controls/control_panel.tsx
  examples/controls_example/public/react_controls/control_renderer.tsx
  examples/controls_example/public/react_controls/data_controls/range_slider/components/range_slider.scss
  examples/controls_example/public/react_controls/data_controls/range_slider/components/range_slider_control.tsx
  examples/controls_example/public/react_controls/data_controls/range_slider/get_range_slider_control_factory.tsx
  examples/controls_example/public/react_controls/data_controls/search_control/get_search_control_factory.tsx
  examples/controls_example/public/react_controls/data_controls/types.ts
  examples/controls_example/public/react_controls/timeslider_control/components/index.scss
  examples/controls_example/public/react_controls/timeslider_control/components/time_slider_prepend.tsx
  examples/controls_example/public/react_controls/timeslider_control/get_timeslider_control_factory.tsx
  examples/controls_example/public/react_controls/types.ts
  examples/controls_example/tsconfig.json
  src/plugins/controls/common/options_list/types.ts
Labels: Team:Presentation, loe:small, release_note:skip, impact:high, project:embeddableRebuild

#187476 [8.14] [ci] Use org wide PR status bot (#187386)
  .buildkite/pipeline-resource-definitions/kibana-on-merge.yml
  .buildkite/pipeline-resource-definitions/kibana-pr.yml
  .buildkite/scripts/lifecycle/post_build.sh
  .buildkite/scripts/lifecycle/pre_build.sh
Labels: backport

#187471 [ResponseOps][Cases] Change login role in serverless API tests.
  x-pack/test_serverless/api_integration/test_suites/search/cases/find_cases.ts
  x-pack/test_serverless/api_integration/test_suites/search/cases/post_case.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.15.0

#186943 [7.17] [ML] Update esarchive ecommerce dataset, enable alerting flyout tests (#186630)
  x-pack/test/api_integration/apis/ml/fields_service/field_cardinality.ts
  x-pack/test/api_integration/apis/ml/fields_service/time_field_range.ts
  x-pack/test/api_integration/apis/ml/job_validation/bucket_span_estimator.ts
  x-pack/test/api_integration/apis/ml/job_validation/validate.ts
  x-pack/test/functional/apps/ml/anomaly_detection/advanced_job.ts
  x-pack/test/functional/apps/ml/anomaly_detection/population_job.ts
  x-pack/test/functional/apps/transform/cloning.ts
  x-pack/test/functional/apps/transform/creation_index_pattern.ts
  x-pack/test/functional/es_archives/ml/ecommerce/data.json.gz
  x-pack/test/functional_with_es_ssl/apps/ml/alert_flyout.ts
  x-pack/test/functional_with_es_ssl/apps/ml/index.ts
Labels: backport

#187458 validate that entity definition IDs do not overflow transform ID max length before installing them
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/errors/entity_definition_id_too_long_error.ts
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/install_entity_definition.ts
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/transform/validate_transform_ids.test.ts
  x-pack/plugins/observability_solution/entity_manager/server/lib/entities/transform/validate_transform_ids.ts
Labels: release_note:skip, ci:project-deploy-observability

#187189 [Serverless Search Plugin] Migrate browser-side authc.getCurrentUser usage to coreStart.security
  x-pack/plugins/serverless_search/public/plugin.ts
Labels: release_note:skip, Team:EnterpriseSearch

#187192 [APM Plugin - Browser] Migrate authc.getCurrentUser usage to coreStart.security
  x-pack/plugins/observability_solution/apm/public/hooks/use_current_user.ts
  x-pack/plugins/observability_solution/apm/public/plugin.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review

#187363 fix: [Obs Synthetics > Monitor detail][KEYBOARD]: Test run screenshots (in modal) need more comprehensive alt text
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/common/monitor_test_result/journey_screenshot_preview.test.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/common/monitor_test_result/journey_screenshot_preview.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/common/screenshot/journey_screenshot_dialog.tsx
  x-pack/plugins/observability_solution/synthetics/public/apps/synthetics/components/common/screenshot/journey_step_screenshot_container.test.tsx
Labels: Project:Accessibility, release_note:skip, backport:skip, ci:project-deploy-observability, Team:obs-ux-infra_services, apm:review, v8.15.0

#186458 [Security] Timeline OpenAPI documentation fixes
  x-pack/plugins/security_solution/common/api/timeline/clean_draft_timelines/clean_draft_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/create_timelines/create_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/delete_note/delete_note_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/delete_timelines/delete_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/export_timelines/export_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/get_draft_timelines/get_draft_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/get_timeline/get_timeline_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/get_timelines/get_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/import_timelines/import_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/install_prepackaged_timelines/install_prepackaged_timelines_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/patch_timelines/patch_timeline_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/persist_favorite/persist_favorite_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/persist_note/persist_note_route_schema.yaml
  x-pack/plugins/security_solution/common/api/timeline/pinned_events/pinned_events_route_schema.yaml
  x-pack/plugins/security_solution/server/lib/timeline/routes/notes/delete_note.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#187180 [Logstash Plugin] Migrate authc.getCurrentUser usage to coreContext.security
  x-pack/plugins/logstash/server/plugin.ts
  x-pack/plugins/logstash/server/routes/index.ts
  x-pack/plugins/logstash/server/routes/pipeline/save.ts
  x-pack/plugins/logstash/tsconfig.json
Labels: Team:Logstash, release_note:skip

#187426 Reuse core-security-service `createMockAuthenticatedUser` mock
  x-pack/plugins/security/public/mocks.ts
  x-pack/plugins/security/server/mocks.ts
  x-pack/plugins/security/tsconfig.json
Labels: Team:Security, release_note:skip, v8.15.0

#187061 [Security Solution] Fix generation of circular types using non-circular types
  packages/kbn-openapi-generator/src/template_service/templates/ts_input_type.handlebars
Labels: bug, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, v8.15.0

#179395 [Security Solution][CTI] Enable rendering of CTI indicators with flattened fields
  x-pack/plugins/security_solution/public/common/components/event_details/__mocks__/indicator_with_nested_objects.ts
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/enrichment_accordion_group.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/enrichment_accordion_group.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/helpers.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/helpers.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/translations.ts
Labels: bug, release_note:fix, Team: CTI, CTI area, v8.15.0

#187066 [SecuritySolution] remove "fields" from the BrowserField
  x-pack/plugins/security_solution/public/common/components/event_details/columns.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/cti_details/enrichment_summary.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/summary_view.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/field_value_cell.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/field_value_cell.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/prevalence_cell.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/summary_value_cell.test.tsx
  x-pack/plugins/security_solution/public/common/components/event_details/table/use_action_cell_data_provider.ts
  x-pack/plugins/security_solution/public/common/components/event_details/types.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/query_bar/index.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/query_bar/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/index.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/threatmatch_input/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_editing/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/edit_data_provider/helpers.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/formatted_field.tsx
  x-pack/plugins/timelines/common/search_strategy/index_fields/index.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#187518 [UII] Fix unsupported input callout not showing for Cloud Defend
  x-pack/plugins/fleet/common/constants/epm.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/custom_fields/global_data_tags_table.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/custom_fields/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/custom_fields/index.tsx
Labels: release_note:skip, Team:Fleet, v8.15.0

#187362 [Security Solution][Notes] - add telemetry
  x-pack/plugins/security_solution/public/common/components/control_columns/row_action/index.tsx
  x-pack/plugins/security_solution/public/common/lib/telemetry/constants.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/notes/index.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/notes/types.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/events/telemetry_events.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/telemetry_client.mock.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/telemetry_client.ts
  x-pack/plugins/security_solution/public/common/lib/telemetry/types.ts
  x-pack/plugins/security_solution/public/flyout/document_details/left/components/add_note.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/events/stateful_event.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/index.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/tabs/eql/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/tabs/pinned/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/tabs/query/index.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/unified_components/data_table/index.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.15.0

#187390 [Embeddables Rebuild] [Controls] Fix data control editor type selector
  examples/controls_example/public/react_controls/data_controls/data_control_editor.tsx
Labels: Team:Presentation, loe:small, release_note:skip, impact:high, Project:Controls, project:embeddableRebuild

#186938 [CloudSecurity] Converting Findings DistributionBar FTR into integration test
  x-pack/plugins/cloud_security_posture/public/common/hooks/use_cloud_posture_data_table/use_cloud_posture_data_table.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/configurations.handlers.mock.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/configurations.test.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/layout/findings_distribution_bar.tsx
  x-pack/test/cloud_security_posture_functional/pages/findings.ts
Labels: release_note:skip, Team:Cloud Security, v8.15.0

#187457 Unified Timeline - Fix - Docs for Event renderers
  x-pack/plugins/security_solution/public/timelines/components/row_renderer_switch/translations.ts
  x-pack/plugins/security_solution/public/timelines/components/row_renderers_browser/translations.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations, v8.15.0

#187431 [Security Solution] unskip endpoint metering tests
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/metering.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.15.0

#187532 [7.17] Update failing snapshot for kbn dev cli
  packages/kbn-cli-dev-mode/src/dev_server.test.ts
Labels: Team:Operations, release_note:skip, backport:skip
