Repository elastic/kibana, pull requests merged in 2024-02, with the labels that each got.

#175722 [EuiInMemoryTable] Replace basic usages of deprecated ref method with controlled `selection.selected` API
  x-pack/packages/kbn-elastic-assistant/impl/data_anonymization_editor/context_editor/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/data_anonymization_editor/context_editor/index.tsx
  x-pack/plugins/cases/public/components/all_cases/all_cases_list.tsx
  x-pack/plugins/cases/public/components/all_cases/table.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/components/hosts_table.tsx
  x-pack/plugins/infra/public/pages/metrics/hosts/hooks/use_hosts_table.tsx
  x-pack/plugins/saved_objects_tagging/public/management/components/table.tsx
Labels: release_note:skip, EUI, apm:review, v8.13.0

#175978 [Cases] Optional default values
  x-pack/plugins/cases/public/components/custom_fields/form.test.tsx
  x-pack/plugins/cases/public/components/custom_fields/form.tsx
  x-pack/plugins/cases/public/components/custom_fields/schema.tsx
  x-pack/plugins/cases/public/components/custom_fields/text/configure.tsx
  x-pack/plugins/cases/public/components/custom_fields/utils.test.ts
  x-pack/plugins/cases/public/components/custom_fields/utils.ts
  x-pack/plugins/cases/server/client/configure/client.test.ts
  x-pack/plugins/cases/server/client/configure/client.ts
  x-pack/plugins/cases/server/client/configure/validators.test.ts
  x-pack/plugins/cases/server/client/configure/validators.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/configure/patch_configure.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/configure/post_configure.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.13.0

#176039 Fix typo in referenced variable
  .buildkite/scripts/steps/code_coverage/reporting/uploadStaticSite.sh
Labels: release_note:skip, backport:skip

#174476 [Docs][Maps] Troublesooting common Mapes File Upload issues
  docs/maps/clean-data.asciidoc
  docs/maps/index.asciidoc
  docs/maps/trouble-shooting.asciidoc
Labels: Team:Presentation, release_note:skip, docs, backport:prev-minor, Feature:Maps

#175988 [Ops] Add debug logging to certain jest error cases
  packages/kbn-test/jest-preset.js
  packages/kbn-test/src/jest/result_processors/logging_result_processor.js
Labels: Team:Operations, release_note:skip, backport:skip

#175679 [EDR Workflows][Fleet] Improve uninstall token validation in Fleet setup
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/services/security/uninstall_token_service/index.test.ts
  x-pack/plugins/fleet/server/services/security/uninstall_token_service/index.ts
  x-pack/plugins/fleet/server/services/setup.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows

#175289 [ML] AIOps: Adds link to log rate analysis from anomaly table
  x-pack/plugins/aiops/common/api/log_categorization/create_categorize_query.ts
  x-pack/plugins/aiops/public/application/url_state/common.test.ts
  x-pack/plugins/aiops/public/application/url_state/common.ts
  x-pack/plugins/aiops/public/components/log_categorization/use_discover_links.ts
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_content/log_rate_analysis_content.tsx
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_page.tsx
  x-pack/plugins/aiops/public/hooks/use_data.ts
  x-pack/plugins/aiops/public/hooks/use_search.ts
  x-pack/plugins/ml/public/application/components/anomalies_table/links_menu.tsx
  x-pack/test/functional/apps/aiops/index.ts
  x-pack/test/functional/apps/aiops/log_rate_analysis_anomaly_table.ts
  x-pack/test/functional/services/aiops/log_rate_analysis_page.ts
  x-pack/test/functional/services/ml/anomalies_table.ts
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, Feature:ML/AIOps, v8.13.0

#175887 [Detection Engine][Rule Suppression] Add suppression fields to EQL schema
  x-pack/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_request_schema.mock.ts
  x-pack/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_request_schema.test.ts
  x-pack/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_schemas.gen.ts
  x-pack/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_schemas.schema.yaml
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/normalization/rule_converters.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/normalization/rule_converters.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_schema/model/rule_schemas.ts
Labels: release_note:skip

#176030 [ResizableLayout] Remove `onResizeEnd` stable callback workaround
  packages/kbn-resizable-layout/src/panels_resizable.tsx
Labels: release_note:skip, Team:DataDiscovery

#175850 [maps] replace isESSource class method with type guard
  x-pack/examples/third_party_maps_source_example/public/classes/custom_raster_source.tsx
  x-pack/plugins/maps/public/actions/layer_actions.ts
  x-pack/plugins/maps/public/classes/layers/layer.tsx
  x-pack/plugins/maps/public/classes/layers/layer_group/layer_group.tsx
  x-pack/plugins/maps/public/classes/layers/tile_errors_list.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_source_data.test.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_source_data.ts
  x-pack/plugins/maps/public/classes/layers/vector_layer/mvt_vector_layer/mvt_vector_layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
  x-pack/plugins/maps/public/classes/sources/es_source/es_source.ts
  x-pack/plugins/maps/public/classes/sources/es_source/index.ts
  x-pack/plugins/maps/public/classes/sources/es_source/types.ts
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/classes/util/mb_filter_expressions.ts
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/__snapshots__/edit_layer_panel.test.tsx.snap
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/edit_layer_panel.test.tsx
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/edit_layer_panel.tsx
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/join_editor/join_editor.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tile_status_tracker/tile_status_tracker.test.tsx
  x-pack/plugins/maps/public/connected_components/mb_map/tile_status_tracker/tile_status_tracker.tsx
  x-pack/plugins/ml/public/maps/anomaly_source.tsx
Labels: Team:Presentation, technical debt, release_note:skip, Feature:Maps, v8.13.0

#175286 Add new configurations in Jira and Confluence connectors
  packages/kbn-search-connectors/types/native_connectors.ts
Labels: release_note:skip

#175986 [ES|QL] Batch of fixes and new features for autocomplete and validation
  packages/kbn-monaco/src/esql/lib/ast/ast_factory.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_walker.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/autocomplete.test.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/autocomplete.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/complete_items.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/factories.ts
  packages/kbn-monaco/src/esql/lib/ast/code_actions/actions.test.ts
  packages/kbn-monaco/src/esql/lib/ast/code_actions/actions.ts
  packages/kbn-monaco/src/esql/lib/ast/definitions/commands.ts
  packages/kbn-monaco/src/esql/lib/ast/definitions/functions.ts
  packages/kbn-monaco/src/esql/lib/ast/definitions/helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/definitions/options.ts
  packages/kbn-monaco/src/esql/lib/ast/definitions/types.ts
  packages/kbn-monaco/src/esql/lib/ast/hover/hover.test.ts
  packages/kbn-monaco/src/esql/lib/ast/hover/hover.ts
  packages/kbn-monaco/src/esql/lib/ast/shared/context.ts
  packages/kbn-monaco/src/esql/lib/ast/shared/helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/shared/types.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/resources.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/types.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/validation.test.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/validation.ts
  packages/kbn-monaco/src/esql/lib/monaco/esql_ast_provider.ts
  packages/kbn-text-based-editor/src/text_based_languages_editor.tsx
Labels: Team:Visualizations, release_note:skip, ci:build-webpack-bundle-analyzer, Feature:ES|QL, v8.13.0

#175972 [Profiling] Add validations to settings
  x-pack/plugins/profiling/public/views/settings/bottom_bar_actions.tsx
  x-pack/plugins/profiling/public/views/settings/index.tsx
  x-pack/plugins/profiling/tsconfig.json
Labels: Team:Deployment Management, release_note:skip

#175788 [Cloud Security] Disabled rules counter and query invalidations
  x-pack/plugins/cloud_security_posture/public/common/api/use_stats_api.ts
  x-pack/plugins/cloud_security_posture/public/pages/benchmarks/use_csp_benchmark_integrations.ts
  x-pack/plugins/cloud_security_posture/public/pages/compliance_dashboard/compliance_charts/compliance_score_chart.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_get_benchmark_rules_state_api.ts
  x-pack/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/change_csp_rule_state.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_container.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_counters.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_table_header.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/test_subjects.ts
  x-pack/test/api_integration/apis/cloud_security_posture/benchmark/v2.ts
  x-pack/test/api_integration/apis/cloud_security_posture/helper.ts
  x-pack/test/cloud_security_posture_functional/mocks/latest_findings_mock.ts
  x-pack/test/cloud_security_posture_functional/page_objects/rule_page.ts
  x-pack/test/cloud_security_posture_functional/pages/rules.ts
  x-pack/test_serverless/api_integration/test_suites/security/cloud_security_posture/benchmark/v2.ts
Labels: release_note:skip, Team:Cloud Security

#175874 [APM] Add validations to general settings
  x-pack/plugins/apm/public/components/app/settings/general_settings/index.tsx
Labels: Team:Deployment Management, release_note:skip, apm:settings, Team:obs-ux-infra_services

#174696 Add docs for SentinelOne connector
  docs/management/action-types.asciidoc
  docs/management/connectors/action-types/sentinelone.asciidoc
  docs/management/connectors/images/sentinelone-connector.png
  docs/management/connectors/images/sentinelone-params-test.png
  docs/management/connectors/index.asciidoc
  x-pack/test/alerting_api_integration/common/plugins/actions_simulators/server/plugin.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_connectors/index.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_connectors/sentinelone_connector.ts
Labels: release_note:skip, docs, Feature:Actions/ConnectorTypes, v8.12.0, v8.13.0

#174278 [EDR Workflows][UI] Gate Agent Tamper Protection setting on Agent Policy Settings
  x-pack/packages/security-solution/features/src/app_features_keys.ts
  x-pack/packages/security-solution/features/src/security/app_feature_config.ts
  x-pack/packages/security-solution/upselling/service/types.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/index.tsx
  x-pack/plugins/fleet/public/types/ui_extensions.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/components/agent_policy_settings_complete.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/components/agent_policy_settings_essentials.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/screens/fleet/agent_settings.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/endpoint_agent_tamper_protection_extension.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/lazy_endpoint_agent_tamper_protection_extension.tsx
  x-pack/plugins/security_solution/public/plugin.tsx
  x-pack/plugins/security_solution_serverless/common/pli/pli_config.ts
  x-pack/plugins/security_solution_serverless/public/upselling/register_upsellings.tsx
  x-pack/plugins/security_solution_serverless/public/upselling/sections/endpoint_management/endpoint_agent_tamper_protection.tsx
  x-pack/plugins/security_solution_serverless/public/upselling/sections/endpoint_management/index.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows

#175812 [Response Ops][Actions] Adding configuration to override default MS Graph API Scope and Exchange URL values
  docs/settings/alert-action-settings.asciidoc
  x-pack/plugins/actions/common/index.ts
  x-pack/plugins/actions/server/actions_client/actions_client.test.ts
  x-pack/plugins/actions/server/actions_config.mock.ts
  x-pack/plugins/actions/server/actions_config.test.ts
  x-pack/plugins/actions/server/actions_config.ts
  x-pack/plugins/actions/server/config.test.ts
  x-pack/plugins/actions/server/config.ts
  x-pack/plugins/actions/server/integration_tests/axios_utils_connection.test.ts
  x-pack/plugins/actions/server/integration_tests/axios_utils_proxy.test.ts
  x-pack/plugins/actions/server/lib/custom_host_settings.test.ts
  x-pack/plugins/actions/server/plugin.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/send_email.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/send_email.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/send_email_graph_api.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/send_email_graph_api.ts
Labels: release_note:skip, Feature:Actions, Team:ResponseOps, backport:prev-minor, backport:prev-MAJOR, v8.13.0

#175503 [SLOs] In Embeddables, show all related instances option
  x-pack/plugins/observability/public/embeddable/slo/alerts/components/slo_alerts_summary.tsx
  x-pack/plugins/observability/public/embeddable/slo/alerts/components/slo_alerts_table.tsx
  x-pack/plugins/observability/public/embeddable/slo/alerts/components/slo_included_count.tsx
  x-pack/plugins/observability/public/embeddable/slo/alerts/slo_alerts_embeddable.tsx
  x-pack/plugins/observability/public/embeddable/slo/alerts/slo_alerts_wrapper.tsx
  x-pack/plugins/observability/public/embeddable/slo/alerts/slo_configuration.tsx
  x-pack/plugins/observability/public/embeddable/slo/alerts/types.ts
  x-pack/plugins/observability/public/embeddable/slo/overview/slo_configuration.tsx
  x-pack/plugins/observability/public/embeddable/slo/overview/slo_embeddable.tsx
  x-pack/plugins/observability/public/embeddable/slo/overview/slo_embeddable_factory.ts
  x-pack/plugins/observability/public/embeddable/slo/overview/slo_overview_grid.tsx
  x-pack/plugins/observability/public/embeddable/slo/overview/types.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_active_alerts.ts
  x-pack/plugins/observability/public/pages/slos/components/card_view/badges_portal.tsx
  x-pack/plugins/observability/public/pages/slos/components/card_view/slo_card_item.tsx
  x-pack/plugins/observability/public/pages/slos/hooks/use_slo_summary.ts
Labels: release_note:skip, Team:obs-ux-management

#175964 [ML] AIOps Fixing pattern analysis tests
  x-pack/test/functional/apps/aiops/log_pattern_analysis.ts
  x-pack/test/functional/apps/aiops/log_pattern_analysis_in_discover.ts
  x-pack/test/functional/services/aiops/log_pattern_analysis_page.ts
Labels: release_note:fix, :ml, Feature:ML/AIOps, v8.13.0

#176083 [8.12] Add docs for SentinelOne connector (#174696)
  docs/management/action-types.asciidoc
  docs/management/connectors/action-types/sentinelone.asciidoc
  docs/management/connectors/images/sentinelone-connector.png
  docs/management/connectors/images/sentinelone-params-test.png
  docs/management/connectors/index.asciidoc
  x-pack/test/alerting_api_integration/common/plugins/actions_simulators/server/plugin.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_connectors/index.ts
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_connectors/sentinelone_connector.ts
Labels: backport

#176042 [8.12] [Docs][Maps] Troublesooting common Mapes File Upload issues (#174476)
  docs/maps/clean-data.asciidoc
  docs/maps/index.asciidoc
  docs/maps/trouble-shooting.asciidoc
Labels: backport

#176081 [Fleet] Fix max agent for agent activity
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agent_activity_flyout.tsx
Labels: bug, release_note:skip, Team:Fleet, backport:prev-minor

#173818 Observability AI Assistant evaluation framework new scenarios
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/alert_templates/templates.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/evaluation.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/kibana_client.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/scenarios/alerts/index.spec.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/scenarios/apm/index.spec.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/scenarios/elasticsearch/index.spec.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/scenarios/esql/index.spec.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/scenarios/kb/index.spec.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/services/index.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/types.ts
  x-pack/plugins/observability_ai_assistant/server/functions/esql/correct_common_esql_mistakes.test.ts
  x-pack/plugins/observability_ai_assistant/server/functions/esql/correct_common_esql_mistakes.ts
  x-pack/plugins/observability_ai_assistant/server/functions/esql/index.ts
  x-pack/plugins/observability_ai_assistant/server/functions/esql/system_message.txt
  x-pack/plugins/observability_ai_assistant/server/service/client/index.ts
Labels: release_note:skip, v8.13.0

#176058 [8.12] Upgrade selenium-webdriver to 4.17.0 (#175746)
  package.json
  test/functional/services/remote/webdriver.ts
  yarn.lock
Labels: backport

#176021 [Links] Set empty default title for Links saved to library
  src/plugins/links/public/content_management/save_to_library.tsx
Labels: release_note:fix, Team:Presentation, v8.13.0

#175769 [Discover] Fix overwriting data view id when loading a saved search with ES|QL
  src/plugins/discover/public/__mocks__/data_view_esql.ts
  src/plugins/discover/public/__mocks__/saved_search.ts
  src/plugins/discover/public/application/main/services/discover_state.test.ts
  src/plugins/discover/public/application/main/services/load_saved_search.ts
Labels: Feature:Discover, release_note:skip, Team:DataDiscovery, Feature:ES|QL

#175832 [Ingest Pipelines] Fix gsub processor's replacement field serialization
  x-pack/plugins/ingest_pipelines/public/application/components/pipeline_editor/components/processor_form/processors/gsub.tsx
Labels: Team:Deployment Management, release_note:skip, Feature:Ingest Node Pipelines

#175882 [Security Solution][Flyout] Use kbn url storage provider, housekeeping
  packages/kbn-expandable-flyout/README.md
  packages/kbn-expandable-flyout/index.ts
  packages/kbn-expandable-flyout/kibana.jsonc
  packages/kbn-expandable-flyout/src/actions.ts
  packages/kbn-expandable-flyout/src/components/preview_section.test.tsx
  packages/kbn-expandable-flyout/src/context.tsx
  packages/kbn-expandable-flyout/src/context/url_state_provider.tsx
  packages/kbn-expandable-flyout/src/hooks/use_expandable_flyout_api.ts
  packages/kbn-expandable-flyout/src/hooks/use_expandable_flyout_state.ts
  packages/kbn-expandable-flyout/src/hooks/use_left_panel.ts
  packages/kbn-expandable-flyout/src/hooks/use_preview_panel.ts
  packages/kbn-expandable-flyout/src/hooks/use_right_panel.ts
  packages/kbn-expandable-flyout/src/index.stories.tsx
  packages/kbn-expandable-flyout/src/index.test.tsx
  packages/kbn-expandable-flyout/src/index.tsx
  packages/kbn-expandable-flyout/src/provider.tsx
  packages/kbn-expandable-flyout/src/reducer.test.ts
  packages/kbn-expandable-flyout/src/reducer.ts
  packages/kbn-expandable-flyout/src/redux.ts
  packages/kbn-expandable-flyout/src/state.ts
  packages/kbn-expandable-flyout/src/test/provider.tsx
  packages/kbn-expandable-flyout/src/types.ts
  packages/kbn-expandable-flyout/tsconfig.json
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/header_actions.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/right/components/investigation_guide.test.tsx
  x-pack/plugins/security_solution/public/flyout/document_details/shared/mocks/mock_flyout_context.ts
  x-pack/plugins/security_solution/public/flyout/shared/components/flyout_navigation.test.tsx
  x-pack/plugins/security_solution/public/timelines/components/timeline/body/renderers/host_name.test.tsx
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/expandable_flyout/alert_details_url_sync.cy.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations

#176092 [8.12] [Fleet] Fix max agent for agent activity (#176081)
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/agent_activity_flyout.tsx
Labels: backport, Team:Fleet

#174400 [EDR Workflows][API] Gate Agent Tamper Protection setting on Agent Policy Settings
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/fleet/server/mocks/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/plugins/fleet/server/services/app_context.ts
  x-pack/plugins/fleet/server/services/index.ts
  x-pack/plugins/fleet/server/services/preconfiguration.test.ts
  x-pack/plugins/fleet/server/types/extensions.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/api/agent_policy_settings_complete.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/serverless/feature_access/api/agent_policy_settings_essentials.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/tasks/fleet.ts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/endpoint/migrations/turn_off_agent_policy_features.test.ts
  x-pack/plugins/security_solution/server/endpoint/migrations/turn_off_agent_policy_features.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/plugins/security_solution/server/fleet_integration/fleet_integration.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: release_note:skip, Team:Fleet, Team:Defend Workflows

#174717 [Controls] Adds step setting for range slider control
  src/plugins/controls/common/range_slider/types.ts
  src/plugins/controls/public/control_group/editor/control_editor.test.tsx
  src/plugins/controls/public/control_group/editor/control_editor.tsx
  src/plugins/controls/public/range_slider/components/range_slider.scss
  src/plugins/controls/public/range_slider/components/range_slider_control.tsx
  src/plugins/controls/public/range_slider/components/range_slider_editor_options.tsx
  src/plugins/controls/public/range_slider/components/range_slider_strings.ts
  src/plugins/controls/public/range_slider/embeddable/range_slider_embeddable_factory.tsx
  src/plugins/controls/public/types.ts
  test/functional/apps/dashboard_elements/controls/common/range_slider.ts
  test/functional/page_objects/dashboard_page_controls.ts
Labels: release_note:enhancement, review, Feature:Dashboard, Team:Presentation, loe:medium, impact:medium, Project:Controls, v8.13.0

#175858 Use List connector sync jobs API instead of calling ES directly
  packages/kbn-search-connectors/lib/fetch_sync_jobs.test.ts
  packages/kbn-search-connectors/lib/fetch_sync_jobs.ts
  packages/kbn-search-connectors/types/connectors_api.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
  x-pack/plugins/serverless_search/server/routes/connectors_routes.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch

#175795 [Cases] Use custom field defaults on create/update case APIs
  x-pack/plugins/cases/server/client/cases/bulk_create.test.ts
  x-pack/plugins/cases/server/client/cases/create.test.ts
  x-pack/plugins/cases/server/client/cases/update.test.ts
  x-pack/plugins/cases/server/client/cases/utils.test.ts
  x-pack/plugins/cases/server/client/cases/utils.ts
  x-pack/plugins/cases/server/client/cases/validators.test.ts
  x-pack/plugins/cases/server/client/cases/validators.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/patch_cases.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/common/cases/post_case.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.13.0

#175995 Add autocomplete for pinned and rank_feature
  src/plugins/console/server/lib/spec_definitions/js/query/dsl.ts
Labels: Feature:Console, release_note:skip, v8.13.0

#176046 [Search] Generate API keys for native connectors
  packages/kbn-search-connectors/lib/create_connector_document.test.ts
  packages/kbn-search-connectors/lib/create_connector_document.ts
  packages/kbn-search-connectors/lib/create_connector_secret.test.ts
  packages/kbn-search-connectors/lib/create_connector_secret.ts
  packages/kbn-search-connectors/lib/index.ts
  packages/kbn-search-connectors/lib/update_connector_api_key_id.test.ts
  packages/kbn-search-connectors/lib/update_connector_api_key_id.ts
  packages/kbn-search-connectors/types/connectors.ts
  packages/kbn-search-connectors/types/connectors_api.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/search_indices.mock.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/__mocks__/view_index.mock.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.test.ts
  x-pack/plugins/enterprise_search/server/lib/connectors/add_connector.ts
  x-pack/plugins/enterprise_search/server/lib/crawler/post_connector.test.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.13.0

#176047 [ML] Sharing file upload's message importer class
  x-pack/plugins/file_upload/common/types.ts
  x-pack/plugins/file_upload/public/importer/geo/abstract_geo_file_importer.tsx
  x-pack/plugins/file_upload/public/importer/importer.ts
  x-pack/plugins/file_upload/public/importer/index.ts
  x-pack/plugins/file_upload/public/importer/message_importer.ts
  x-pack/plugins/file_upload/public/importer/ndjson_importer.ts
  x-pack/plugins/file_upload/public/importer/types.ts
  x-pack/plugins/file_upload/public/index.ts
Labels: :ml, release_note:skip, Feature:File and Index Data Viz, Feature:File Upload, v8.13.0

#176060 Rename `contexts` to `categories`
  x-pack/plugins/observability_ai_assistant/public/components/chat/chat_body.test.tsx
  x-pack/plugins/observability_ai_assistant/public/utils/get_timeline_items_from_conversation.test.tsx
  x-pack/plugins/observability_ai_assistant/server/functions/recall.ts
  x-pack/plugins/observability_ai_assistant/server/routes/functions/route.ts
  x-pack/plugins/observability_ai_assistant/server/service/client/index.test.ts
  x-pack/plugins/observability_ai_assistant/server/service/client/index.ts
  x-pack/plugins/observability_ai_assistant/server/service/knowledge_base_service/index.ts
  x-pack/plugins/observability_ai_assistant/server/service/util/get_category_query.ts
Labels: release_note:skip, v8.13.0

#175903 [Security Solution] Only query security alerts with the current user
  .github/CODEOWNERS
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/risk_score/all/index.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/risk_score/all/index.ts
Labels: bug, release_note:fix, impact:low, Team: SecuritySolution, v8.12.1, Team:Entity Analytics, v8.13.0

#175780 [EDR Workflows] Unskip e2e tests due vagrant up error
  x-pack/plugins/security_solution/public/management/cypress/e2e/endpoint_alerts.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/alerts_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/cases_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/document_signing.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/endpoints_list_response_console.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/execute.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/file_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/isolate.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/process_operations.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/disabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/unenroll_agent_from_fleet.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/enabled/uninstall_agent_from_host.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/unenroll_agent_from_fleet_changing_policy_from_enabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_disabled_to_enabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_disabled.cy.ts
  x-pack/plugins/security_solution/public/management/cypress/e2e/tamper_protection/switching_policies/uninstall_agent_from_host_changing_policy_from_enabled_to_enabled.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.12.1

#176061 [Docs][Chore] Fix asset tracking tutorial from 8.12 improvements
  docs/maps/asset-tracking-tutorial.asciidoc
Labels: chore, release_note:skip, backport:skip, docs

#176142 [Observability Shared] Fix layout issue due to wrapping node
  x-pack/plugins/observability_shared/public/components/page_template/page_template.tsx
  x-pack/plugins/observability_shared/public/components/page_template/search_bar_portal.tsx
Labels: release_note:skip

#175958 [Security Solution] JSON diffs test plan
  x-pack/plugins/security_solution/docs/testing/test_plans/detection_response/prebuilt_rules/installation_and_upgrade.md
Labels: release_note:skip, test-plan, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, v8.13.0

#176141 [Fleet] Fix categories labels in integration overview
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/details.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/overview.tsx
  x-pack/plugins/fleet/public/types/index.ts
Labels: release_note:fix, Team:Fleet, backport:prev-minor, v8.13.0

#175781 [ES Archiver][Load Action] Add perf option override to cli
  packages/kbn-es-archiver/src/cli.ts
  packages/kbn-es-archiver/src/lib/docs/index_doc_records_stream.ts
Labels: release_note:skip, backport:skip, ES-ARCHIVER

#176115 Updates test file wrapper to deterministically detect file write completion
  x-pack/test/security_api_integration/tests/anonymous/login.ts
  x-pack/test/security_api_integration/tests/audit/audit_log.ts
  x-pack/test/security_api_integration/tests/audit/file_wrapper.ts
  x-pack/test/security_api_integration/tests/kerberos/kerberos_login.ts
  x-pack/test/security_api_integration/tests/oidc/authorization_code_flow/oidc_auth.ts
  x-pack/test/security_api_integration/tests/pki/pki_auth.ts
  x-pack/test/security_api_integration/tests/saml/saml_login.ts
  x-pack/test/security_api_integration/tests/token/audit.ts
Labels: Team:Security, release_note:skip, backport:all-open, v8.13.0

#175549 [kbn-es] add required flag projectType for serverless script
  packages/core/test-helpers/core-test-helpers-kbn-server/src/create_serverless_root.ts
  packages/kbn-es/src/cli.ts
  packages/kbn-es/src/cli_commands/serverless.ts
  packages/kbn-es/src/integration_tests/cluster.test.ts
  packages/kbn-es/src/utils/docker.test.ts
  packages/kbn-es/src/utils/docker.ts
  packages/kbn-test/src/es/test_es_cluster.ts
  packages/kbn-test/src/functional_tests/lib/run_elasticsearch.ts
Labels: release_note:skip, backport:skip, v8.13.0

#176131 [8.12] [Fleet] Prevent deletion of agent policies with inactive agents from UI (#175815)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_delete_provider.tsx
  x-pack/plugins/fleet/server/services/agent_policy.test.ts
  x-pack/plugins/fleet/server/services/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
Labels: backport, Team:Fleet

#176010 [Fleet] Fix ES index patterns for custom package
  x-pack/plugins/cloud_defend/server/plugin.test.ts
  x-pack/plugins/cloud_security_posture/server/plugin.test.ts
  x-pack/plugins/fleet/common/constants/epm.ts
  x-pack/plugins/fleet/common/services/policy_template.test.ts
  x-pack/plugins/fleet/common/services/policy_template.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_combo.tsx
  x-pack/plugins/fleet/server/index.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/datastream_ilm/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/ilm/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/ingest_pipeline/remove.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/ml_model/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/transform/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/transform/reauthorize.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.ts
  x-pack/plugins/fleet/server/services/epm/packages/es_assets_reference.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.test.ts
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/plugins/fleet/server/services/epm/packages/install_index_template_pipeline.ts
  x-pack/plugins/fleet/server/services/es_index_pattern.ts
  x-pack/plugins/fleet/server/services/index.ts
  x-pack/plugins/fleet/server/services/setup.test.ts
Labels: bug, release_note:skip, Team:Fleet

#176157 [8.12] [Fleet] Fix categories labels in integration overview (#176141)
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/details.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/overview.tsx
  x-pack/plugins/fleet/public/types/index.ts
Labels: backport, Team:Fleet

#175983 [Cloud Security] Add is_internal flag to fleet server hosts configuration
  docs/settings/fleet-settings.asciidoc
  packages/kbn-check-mappings-update-cli/current_fields.json
  packages/kbn-check-mappings-update-cli/current_mappings.json
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/components/schemas/fleet_server_host.yaml
  x-pack/plugins/fleet/common/openapi/paths/fleet_server_hosts.yaml
  x-pack/plugins/fleet/common/openapi/paths/fleet_server_hosts@{item_id}.yaml
  x-pack/plugins/fleet/common/types/models/fleet_server_policy_config.ts
  x-pack/plugins/fleet/common/types/rest_spec/fleet_server_hosts.ts
  x-pack/plugins/fleet/cypress/e2e/fleet_settings.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/hooks.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/hooks.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_table/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/index.tsx
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/services/preconfiguration/fleet_server_host.test.ts
  x-pack/plugins/fleet/server/services/preconfiguration/fleet_server_host.ts
  x-pack/plugins/fleet/server/types/models/preconfiguration.ts
  x-pack/plugins/fleet/server/types/rest_spec/fleet_server_policy_config.ts
  x-pack/plugins/fleet/server/types/so_attributes.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Cloud Security

#176067 [EDR Workflows] Check flakiness of alerts_response_actions_form.cy.ts
  x-pack/plugins/osquery/cypress/e2e/all/alerts_response_actions_form.cy.ts
Labels: release_note:skip, Team:Defend Workflows, Feature:Osquery, v8.13.0

#176161 [8.12] Updates test file wrapper to deterministically detect file write completion (#176115)
  x-pack/test/security_api_integration/tests/anonymous/login.ts
  x-pack/test/security_api_integration/tests/audit/audit_log.ts
  x-pack/test/security_api_integration/tests/audit/file_wrapper.ts
  x-pack/test/security_api_integration/tests/kerberos/kerberos_login.ts
  x-pack/test/security_api_integration/tests/oidc/authorization_code_flow/oidc_auth.ts
  x-pack/test/security_api_integration/tests/pki/pki_auth.ts
  x-pack/test/security_api_integration/tests/saml/saml_login.ts
  x-pack/test/security_api_integration/tests/token/audit.ts
Labels: backport

#176048 [Infra] Add collapsible sections
  x-pack/plugins/infra/public/components/asset_details/tabs/common/popover.tsx
  x-pack/plugins/infra/public/components/asset_details/tabs/overview/alerts.tsx
  x-pack/plugins/infra/public/components/asset_details/tabs/overview/metadata_summary/metadata_summary_list.tsx
  x-pack/plugins/infra/public/components/asset_details/tabs/overview/metrics/metrics_section.tsx
  x-pack/plugins/infra/public/components/asset_details/tabs/overview/section/collapsible_section.tsx
  x-pack/test/functional/apps/infra/hosts_view.ts
  x-pack/test/functional/apps/infra/node_details.ts
  x-pack/test/functional/page_objects/asset_details.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-infra_services

#176133 [SLOs] Update toggle view options style
  x-pack/plugins/observability/public/locators/slo_list.test.ts
  x-pack/plugins/observability/public/pages/slos/components/card_view/slos_card_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_view_settings.tsx
  x-pack/plugins/observability/public/pages/slos/components/slos_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/toggle_slo_view.tsx
  x-pack/plugins/observability/public/pages/slos/hooks/use_url_search_state.ts
  x-pack/plugins/observability/public/pages/slos/slos.test.tsx
  x-pack/plugins/observability/public/pages/slos/slos.tsx
Labels: release_note:skip, Team:obs-ux-management

#176049 [ML] Prompt the user to delete alerting rules upon the anomaly detection job deletion
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/delete_job_modal/delete_job_modal.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/reset_job_modal/reset_job_modal.tsx
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/utils.d.ts
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/utils.js
  x-pack/plugins/ml/public/application/services/job_service.js
  x-pack/plugins/ml/public/application/services/ml_api_service/jobs.ts
  x-pack/plugins/ml/server/models/job_service/jobs.ts
  x-pack/plugins/ml/server/routes/job_service.ts
  x-pack/plugins/ml/server/routes/schemas/job_service_schema.ts
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, Team:ML, v8.13.0

#176090 [Security solution] Update default Bedrock api url
  docs/management/connectors/pre-configured-connectors.asciidoc
  x-pack/plugins/stack_connectors/common/bedrock/constants.ts
  x-pack/plugins/stack_connectors/public/connector_types/bedrock/constants.tsx
  x-pack/plugins/stack_connectors/server/connector_types/bedrock/bedrock.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/bedrock/bedrock.ts
Labels: release_note:fix, Team: SecuritySolution, ci:cloud-deploy, ci:cloud-redeploy, v8.13.0, Team:Security Generative AI, v8.12.2

#176171 [Slos] Fixes filter disappearing on reload
  x-pack/plugins/observability/public/pages/slos/components/common/quick_filters.tsx
Labels: release_note:skip, Team:obs-ux-management

#176182 [Ops/QA] Fix daily coverage job (ep2)
  .buildkite/scripts/steps/code_coverage/reporting/uploadStaticSite.sh
Labels: Team:Operations, release_note:skip, backport:skip

#176167 [7.17] Updates test file wrapper to deterministically detect file write completion (#176115)
  x-pack/test/security_api_integration/tests/audit/audit_log.ts
Labels: backport

#176120 Fix broken tests as a result of tsid hashing
  test/examples/search/warnings.ts
  test/functional/apps/discover/group3/_default_columns.ts
  test/functional/apps/visualize/group6/_tsvb_tsdb_basic.ts
  test/functional/fixtures/es_archiver/kibana_sample_data_logs_tsdb/data.json.gz
  test/functional/fixtures/es_archiver/search/downsampled/data.json.gz
  x-pack/performance/journeys/tsdb_logs_data_visualizer.ts
  x-pack/test/functional/apps/lens/group4/tsdb.ts
Labels: release_note:skip, Team:DataDiscovery

#176101 [ci] Create kibana-emergency-release pipeline
  .buildkite/pipelines/emergency_release.yml
  catalog-info.yaml
Labels: Team:Operations, release_note:skip

#176122 [Security Solution] Remove kbn-url-state package
  .github/CODEOWNERS
  package.json
  packages/kbn-url-state/README.md
  packages/kbn-url-state/index.test.ts
  packages/kbn-url-state/index.ts
  packages/kbn-url-state/jest.config.js
  packages/kbn-url-state/kibana.jsonc
  packages/kbn-url-state/package.json
  packages/kbn-url-state/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: release_note:skip, Team:Threat Hunting:Investigations, 8.13 candidate

#175513 [Custom threshold rule] Use lens chart with annotations in alert details page
  packages/kbn-lens-embeddable-utils/attribute_builder/visualization_types/constants.ts
  packages/kbn-lens-embeddable-utils/attribute_builder/visualization_types/layers/index.ts
  packages/kbn-lens-embeddable-utils/attribute_builder/visualization_types/layers/xy_by_value_annotation_layer.ts
  packages/kbn-lens-embeddable-utils/index.ts
  x-pack/plugins/observability/public/components/custom_threshold/components/alert_details_app_section/__snapshots__/alert_details_app_section.test.tsx.snap
  x-pack/plugins/observability/public/components/custom_threshold/components/alert_details_app_section/alert_details_app_section.test.tsx
  x-pack/plugins/observability/public/components/custom_threshold/components/alert_details_app_section/alert_details_app_section.tsx
  x-pack/plugins/observability/public/components/custom_threshold/components/alert_details_app_section/helpers/get_filter_query.test.ts
  x-pack/plugins/observability/public/components/custom_threshold/components/alert_details_app_section/helpers/get_filter_query.ts
  x-pack/plugins/observability/public/components/custom_threshold/components/rule_condition_chart/painless_tinymath_parser.test.ts
  x-pack/plugins/observability/public/components/custom_threshold/components/rule_condition_chart/painless_tinymath_parser.ts
  x-pack/plugins/observability/public/components/custom_threshold/components/rule_condition_chart/rule_condition_chart.test.tsx
  x-pack/plugins/observability/public/components/custom_threshold/components/rule_condition_chart/rule_condition_chart.tsx
  x-pack/plugins/observability/public/components/custom_threshold/custom_threshold_rule_expression.test.tsx
  x-pack/plugins/observability/public/components/custom_threshold/custom_threshold_rule_expression.tsx
  x-pack/plugins/observability/public/pages/alert_details/components/header_actions.tsx
  x-pack/plugins/observability/tsconfig.json
Labels: release_note:skip, Team:obs-ux-management, apm:review, v8.13.0

#176194 [Observability AI Assistant] [KB] Allow documents to not have `labels`
  src/plugins/ai_assistant_management/observability/public/helpers/categorize_entries.ts
  x-pack/plugins/observability_ai_assistant/common/types.ts
Labels: release_note:skip

#176190 [chore] update chromedriver to 121
  package.json
  yarn.lock
Labels: chore, release_note:skip, v8.12.1, v8.13.0, v7.17.18

#175799 [Obs AI Assistant] Add APM instrumentation for chat/complete
  x-pack/plugins/observability_ai_assistant/public/service/create_chat_service.test.ts
  x-pack/plugins/observability_ai_assistant/public/service/create_chat_service.ts
  x-pack/plugins/observability_ai_assistant/public/types.ts
  x-pack/plugins/observability_ai_assistant/scripts/evaluation/kibana_client.ts
  x-pack/plugins/observability_ai_assistant/server/functions/esql/index.ts
  x-pack/plugins/observability_ai_assistant/server/functions/get_dataset_info.ts
  x-pack/plugins/observability_ai_assistant/server/functions/recall.ts
  x-pack/plugins/observability_ai_assistant/server/routes/chat/route.ts
  x-pack/plugins/observability_ai_assistant/server/service/client/index.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/chat/chat.spec.ts
Labels: release_note:skip, v8.13.0

#176154 [Cloud Security] do not show confirmation modal when updating integration from agentless policy
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/edit_package_policy_page/index.tsx
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Cloud Security, v8.13.0

#176160 [ES|QL] Added more tests for various scenarios
  packages/kbn-monaco/src/esql/lib/ast/ast_factory.ts
  packages/kbn-monaco/src/esql/lib/ast/ast_walker.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/autocomplete.test.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/autocomplete.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/complete_items.ts
  packages/kbn-monaco/src/esql/lib/ast/autocomplete/factories.ts
  packages/kbn-monaco/src/esql/lib/ast/definitions/builtin.ts
  packages/kbn-monaco/src/esql/lib/ast/definitions/commands.ts
  packages/kbn-monaco/src/esql/lib/ast/shared/helpers.ts
  packages/kbn-monaco/src/esql/lib/ast/validation/validation.test.ts
Labels: Team:Visualizations, release_note:skip, Feature:ES|QL, v8.13.0

#176205 [SecuritySolutions] Fix Risk score visualization uses max aggregation instead of latest
  x-pack/plugins/security_solution/public/entity_analytics/lens_attributes/risk_score_summary.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Entity Analytics, v8.13.0

#176057 [Detection Engine][Rule Suppression] Add suppression fields to EQL Rule create/edit FE components
  x-pack/plugins/security_solution/common/detection_engine/constants.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/description_step/index.test.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/step_define_rule/use_experimental_feature_fields_transform.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/helpers.test.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/pages/rule_creation/helpers.ts
  x-pack/plugins/security_solution/public/detection_engine/rule_management/hooks/use_alert_suppression.tsx
Labels: release_note:skip

#175979 [Security Solution] Fix rule export for a large number of rules
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_actions/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/export_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/exportable_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_all.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_all.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_by_object_ids.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_by_object_ids.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_details_ndjson.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_details_ndjson.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_rule_action_connectors.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/transform_rule_to_exportable_format.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/utils/utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_schema/model/rule_schemas.mock.ts
Labels: bug, release_note:fix, impact:high, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Rule Import/Export, v8.13.0, v8.12.2

#175957 [uiSettings] Fix validation error for 0 and false value
  packages/core/ui-settings/core-ui-settings-server-internal/src/clients/base_ui_settings_client.ts
Labels: Team:Deployment Management, release_note:skip, Feature:uiSettings

#176211 [8.12] [Security Solution] Fix rule export for a large number of rules (#175979)
  x-pack/plugins/security_solution/server/lib/detection_engine/routes/__mocks__/request_responses.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/bulk_actions/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/export_rules/route.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/exportable_rule.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_all.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_all.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_by_object_ids.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_by_object_ids.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_details_ndjson.test.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_details_ndjson.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_rule_action_connectors.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/transform_rule_to_exportable_format.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_management/utils/utils.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_schema/model/rule_schemas.mock.ts
Labels: backport

#176178 [ILM] Fix missing ILM data on hidden indices
  x-pack/plugins/index_lifecycle_management/server/plugin.ts
  x-pack/test/api_integration/apis/management/index_management/data_enrichers/ilm.ts
  x-pack/test/api_integration/apis/management/index_management/data_enrichers/index.ts
  x-pack/test/api_integration/apis/management/index_management/index.ts
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip

#176214 [DOCS] Adds the release notes for 8.12.1
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, docs, v8.12.0, v8.12.1, v8.13.0

#176213 [Logs Explorer] Rename logsExplorer instances in the observability_logs_explorer plugin
  docs/developer/plugin-list.asciidoc
  x-pack/plugins/observability_solution/logs_explorer/README.md
  x-pack/plugins/observability_solution/observability_logs_explorer/README.md
  x-pack/plugins/observability_solution/observability_logs_explorer/common/plugin_config.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/common/translations.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/applications/observability_logs_explorer.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/applications/redirect_to_observability_logs_explorer.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/components/discover_link.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/components/logs_explorer_top_nav_menu.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/components/page_template.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/index.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/logs_explorer_customizations/flyout_content.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/logs_explorer_customizations/index.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/plugin.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/routes/main/dataset_quality_route.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/routes/main/main_route.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_log_explorer/src/provider.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/controller_service.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/defaults.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/index.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/notifications.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/provider.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/state_machine.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/time_filter_service.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/types.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/url_schema_v1.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/observability_logs_explorer/src/url_state_storage_service.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/origin_interpreter/src/location_state_service.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/origin_interpreter/src/notifications.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/origin_interpreter/src/state_machine.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/types.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/utils/breadcrumbs.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/utils/use_kibana.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/server/config.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/server/index.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/server/plugin.ts
Labels: release_note:skip

#176217 [8.12] [DOCS] Adds the release notes for 8.12.1 (#176214)
  docs/CHANGELOG.asciidoc
Labels: backport

#173875 [Infra] infra services api
  x-pack/plugins/infra/common/constants.ts
  x-pack/plugins/infra/common/http_api/host_details/get_infra_services.ts
  x-pack/plugins/infra/common/http_api/host_details/index.ts
  x-pack/plugins/infra/kibana.jsonc
  x-pack/plugins/infra/server/infra_server.ts
  x-pack/plugins/infra/server/lib/adapters/framework/adapter_types.ts
  x-pack/plugins/infra/server/lib/host_details/common.ts
  x-pack/plugins/infra/server/lib/host_details/get_services.ts
  x-pack/plugins/infra/server/lib/host_details/process_list.ts
  x-pack/plugins/infra/server/lib/host_details/process_list_chart.ts
  x-pack/plugins/infra/server/lib/infra_types.ts
  x-pack/plugins/infra/server/plugin.ts
  x-pack/plugins/infra/server/routes/services/index.ts
  x-pack/plugins/infra/server/routes/services/lib/utils.ts
  x-pack/plugins/infra/server/utils/route_validation.test.ts
  x-pack/plugins/infra/server/utils/route_validation.ts
  x-pack/plugins/infra/tsconfig.json
  x-pack/test/api_integration/apis/metrics_ui/config.ts
  x-pack/test/api_integration/apis/metrics_ui/helpers.ts
  x-pack/test/api_integration/apis/metrics_ui/index.js
  x-pack/test/api_integration/apis/metrics_ui/services.ts
  x-pack/test/api_integration/apis/metrics_ui/types.ts
Labels: release_note:skip, Team:obs-ux-infra_services

#176014 [Response Ops][Actions] Logging errors from the mustache lambda format functions
  x-pack/plugins/actions/server/lib/mustache_lambdas.test.ts
  x-pack/plugins/actions/server/lib/mustache_lambdas.ts
  x-pack/plugins/actions/server/lib/mustache_renderer.test.ts
  x-pack/plugins/actions/server/lib/mustache_renderer.ts
  x-pack/plugins/actions/server/lib/number_formatter.test.ts
  x-pack/plugins/actions/server/lib/number_formatter.ts
  x-pack/plugins/actions/server/mocks.ts
  x-pack/plugins/actions/server/plugin.ts
  x-pack/plugins/actions/server/sub_action_framework/register.test.ts
  x-pack/plugins/actions/server/types.ts
  x-pack/plugins/stack_connectors/server/connector_types/bedrock/render.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/bedrock/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/render.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/d3security/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/email/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/es_index/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/es_index/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/openai/render.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/openai/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/opsgenie/render_template_variables.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/opsgenie/render_template_variables.ts
  x-pack/plugins/stack_connectors/server/connector_types/sentinelone/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/slack/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/slack/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/slack_api/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/slack_api/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/tines/render.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/tines/render.ts
  x-pack/plugins/stack_connectors/server/connector_types/torq/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/torq/index.ts
  x-pack/plugins/stack_connectors/server/connector_types/webhook/index.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/webhook/index.ts
Labels: release_note:skip, Feature:Actions, Team:ResponseOps, v8.13.0

#176095 [maps] remove ISource.getIndexPatternIds and ISource.getQueryableIndexPatternIds methods
  x-pack/examples/third_party_maps_source_example/public/classes/custom_raster_source.tsx
  x-pack/plugins/maps/public/classes/joins/inner_join.ts
  x-pack/plugins/maps/public/classes/layers/heatmap_layer/heatmap_layer.ts
  x-pack/plugins/maps/public/classes/layers/layer.tsx
  x-pack/plugins/maps/public/classes/layers/vector_layer/vector_layer.tsx
  x-pack/plugins/maps/public/classes/sources/es_source/es_source.ts
  x-pack/plugins/maps/public/classes/sources/source.ts
  x-pack/plugins/maps/public/connected_components/edit_layer_panel/filter_editor/filter_editor.tsx
  x-pack/plugins/ml/public/maps/anomaly_source.tsx
Labels: Team:Presentation, technical debt, release_note:skip, Feature:Maps, v8.13.0

#175315 [Fleet] Support output and Fleet server proxies on serverless
  .buildkite/ftr_configs.yml
  config/serverless.yml
  test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/plugins/fleet/README.md
  x-pack/plugins/fleet/common/constants/fleet_server_policy_config.ts
  x-pack/plugins/fleet/common/constants/output.ts
  x-pack/plugins/fleet/common/types/index.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/components/search_and_filter_bar.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_elasticsearch.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/use_output_form.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_flyout/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_flyout/use_fleet_server_host_form.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/settings_page/fleet_server_hosts_section.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/settings_page/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/index.tsx
  x-pack/plugins/fleet/server/config.ts
  x-pack/plugins/fleet/server/constants/index.ts
  x-pack/plugins/fleet/server/routes/fleet_proxies/handler.ts
  x-pack/plugins/fleet/server/routes/fleet_server_hosts/handler.test.ts
  x-pack/plugins/fleet/server/routes/fleet_server_hosts/handler.ts
  x-pack/plugins/fleet/server/routes/output/handler.test.ts
  x-pack/plugins/fleet/server/routes/output/handler.ts
  x-pack/plugins/fleet/server/services/epm/packages/_install_package.test.ts
  x-pack/test_serverless/api_integration/test_suites/observability/fleet/config.ts
  x-pack/test_serverless/api_integration/test_suites/observability/fleet/fleet.ts
  x-pack/test_serverless/api_integration/test_suites/observability/index.ts
  x-pack/test_serverless/api_integration/test_suites/security/fleet/config.ts
  x-pack/test_serverless/api_integration/test_suites/security/fleet/fleet.ts
  x-pack/test_serverless/api_integration/test_suites/security/index.ts
Labels: release_note:enhancement, Team:Fleet, 8.13 candidate

#175808 add cancel button to discover search bar
  src/plugins/expressions/public/react_expression_renderer/react_expression_renderer.tsx
  src/plugins/expressions/public/react_expression_renderer/use_expression_renderer.ts
  src/plugins/expressions/public/types/index.ts
  src/plugins/unified_histogram/public/chart/chart.tsx
  src/plugins/unified_histogram/public/chart/histogram.tsx
  src/plugins/unified_histogram/public/container/container.tsx
  src/plugins/unified_histogram/public/layout/layout.tsx
  src/plugins/unified_search/public/query_string_input/query_bar_top_row.test.tsx
  src/plugins/unified_search/public/query_string_input/query_bar_top_row.tsx
  src/plugins/unified_search/public/search_bar/create_search_bar.tsx
  src/plugins/unified_search/public/search_bar/search_bar.tsx
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
  x-pack/plugins/lens/public/embeddable/embeddable_component.tsx
  x-pack/plugins/lens/public/embeddable/expression_wrapper.tsx
Labels: Feature:Discover, Feature:ExpressionLanguage, release_note:skip, backport:skip, Team:DataDiscovery, Feature:ES|QL

#176096 [DOCS] Add link to on-prem install tutorial
  docs/setup/install.asciidoc
  docs/setup/install/rpm.asciidoc
Labels: Team:Docs, release_note:skip, backport:prev-MAJOR, v8.13.0, v8.12.2

#176218 [Lens] rewrite tests for layer panel
  x-pack/plugins/lens/public/app_plugin/show_underlying_data.test.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_actions/layer_actions.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/layer_panel.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/types.ts
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/editor_frame.test.tsx
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/workspace_panel/workspace_panel.test.tsx
  x-pack/plugins/lens/public/mocks/datasource_mock.tsx
  x-pack/plugins/lens/public/mocks/store_mocks.tsx
  x-pack/plugins/lens/public/mocks/visualization_mock.tsx
  x-pack/plugins/lens/public/state_management/load_initial.test.tsx
  x-pack/plugins/lens/public/visualizations/gauge/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/heatmap/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/metric/visualization.test.ts
  x-pack/plugins/lens/public/visualizations/xy/to_expression.test.ts
  x-pack/plugins/lens/public/visualizations/xy/visualization.test.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, v8.13.0

#175469 [Fleet] Stop creating @custom component template during package installation
  x-pack/plugins/cloud_security_posture/server/create_indices/create_indices.ts
  x-pack/plugins/fleet/cypress/e2e/package_policy_pipelines_and_mappings_real.cy.ts
  x-pack/plugins/fleet/cypress/screens/integrations.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/datastream_mappings.tsx
  x-pack/plugins/fleet/public/hooks/use_request/index.ts
  x-pack/plugins/fleet/public/hooks/use_request/index_management.ts
  x-pack/plugins/fleet/public/hooks/use_request/ingest_pipelines.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/template.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/template/utils.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/transform/install.ts
  x-pack/plugins/fleet/server/services/epm/elasticsearch/transform/transforms.test.ts
  x-pack/test/fleet_api_integration/apis/epm/install_overrides.ts
  x-pack/test/fleet_api_integration/apis/epm/install_remove_assets.ts
  x-pack/test/fleet_api_integration/apis/epm/update_assets.ts
  x-pack/test/fleet_api_integration/apis/package_policy/upgrade.ts
Labels: release_note:enhancement, Team:Fleet

#175930 decouple url drilldown action from Embeddable framework
  packages/kbn-ui-actions-browser/src/triggers/row_click_trigger.ts
  packages/kbn-ui-actions-browser/tsconfig.json
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  src/plugins/embeddable/public/lib/embeddables/compatibility/legacy_embeddable_to_api.ts
  src/plugins/embeddable/public/lib/embeddables/embeddable.tsx
  src/plugins/embeddable/public/lib/embeddables/i_embeddable.ts
  src/plugins/embeddable/public/lib/triggers/triggers.ts
  x-pack/examples/ui_actions_enhanced_examples/public/drilldowns/dashboard_to_discover_drilldown/drilldown.tsx
  x-pack/examples/ui_actions_enhanced_examples/public/drilldowns/dashboard_to_discover_drilldown/types.ts
  x-pack/examples/ui_actions_enhanced_examples/tsconfig.json
  x-pack/plugins/drilldowns/url_drilldown/public/lib/test/data.ts
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.test.ts
  x-pack/plugins/drilldowns/url_drilldown/public/lib/url_drilldown.tsx
  x-pack/plugins/drilldowns/url_drilldown/public/lib/variables/context_variables.test.ts
  x-pack/plugins/drilldowns/url_drilldown/public/lib/variables/context_variables.ts
  x-pack/plugins/drilldowns/url_drilldown/public/lib/variables/event_variables.ts
  x-pack/plugins/drilldowns/url_drilldown/tsconfig.json
  x-pack/plugins/security_solution/public/actions/add_to_timeline/lens/add_to_timeline.ts
  x-pack/plugins/security_solution/public/actions/copy_to_clipboard/lens/copy_to_clipboard.ts
  x-pack/plugins/security_solution/public/actions/filter/lens/create_action.ts
Labels: Feature:Embedding, Team:Presentation, release_note:skip, Feature:Drilldowns, Feature:Embeddables, v8.13.0, project:embeddableRebuild

#176111 [ResponseOps] Pass in the timefield for ES|QL test query
  packages/kbn-text-based-editor/src/fetch_fields_from_esql.ts
  x-pack/plugins/stack_alerts/public/rule_types/es_query/expression/esql_query_expression.tsx
Labels: release_note:fix, Team:ResponseOps, v8.13.0

#176162 [Dataset quality] Toggle for showing/hidding inactive datasets and full dataset names
  x-pack/plugins/dataset_quality/common/translations.ts
  x-pack/plugins/dataset_quality/public/components/common/descriptive_switch.tsx
  x-pack/plugins/dataset_quality/public/components/dataset_quality/columns.tsx
  x-pack/plugins/dataset_quality/public/components/dataset_quality/table.tsx
  x-pack/plugins/dataset_quality/public/controller/public_state.ts
  x-pack/plugins/dataset_quality/public/controller/types.ts
  x-pack/plugins/dataset_quality/public/hooks/use_dataset_quality_table.tsx
  x-pack/plugins/dataset_quality/public/state_machines/dataset_quality_controller/src/defaults.ts
  x-pack/plugins/dataset_quality/public/state_machines/dataset_quality_controller/src/state_machine.ts
  x-pack/plugins/dataset_quality/public/state_machines/dataset_quality_controller/src/types.ts
  x-pack/plugins/dataset_quality/public/utils/filter_inactive_datasets.ts
  x-pack/plugins/dataset_quality/public/utils/merge_degraded_docs_into_datastreams.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/common/url_schema/dataset_quality/url_schema_v1.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/state_machines/dataset_quality/src/url_schema_v1.ts
Labels: release_note:skip

#175524 New Defend Advanced Policy Options for 8.13.0
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: release_note:skip, Team:Defend Workflows, ci:cloud-deploy, v8.13.0

#176163 [Index Management] Add sorting for index columns added via extensions service
  x-pack/plugins/index_management/public/application/services/sort_table.test.ts
  x-pack/plugins/index_management/public/application/services/sort_table.ts
  x-pack/plugins/index_management/public/application/store/selectors/index.js
  x-pack/plugins/index_management/public/services/extensions_service.ts
Labels: Feature:Index Management, Team:Deployment Management, release_note:skip

#176173 [Fleet] Fix assets being unintentionally moved to the default space during Fleet setup
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/test/fleet_api_integration/apis/epm/install_integration_in_multiple_spaces.ts
Labels: release_note:fix, Team:Fleet, backport:prev-minor

#176184 [Security Solution][Timeline] fix flakiness timeline-templates creation
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timeline_templates/creation.cy.ts
  x-pack/test/security_solution_cypress/cypress/objects/timeline.ts
  x-pack/test/security_solution_cypress/cypress/screens/date_picker.ts
  x-pack/test/security_solution_cypress/cypress/screens/search_bar.ts
  x-pack/test/security_solution_cypress/cypress/screens/timeline.ts
  x-pack/test/security_solution_cypress/cypress/screens/timelines.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/common.ts
  x-pack/test/security_solution_cypress/cypress/tasks/date_picker.ts
  x-pack/test/security_solution_cypress/cypress/tasks/timeline.ts
  x-pack/test/security_solution_cypress/cypress/tasks/timelines.ts
  x-pack/test/security_solution_cypress/cypress/urls/navigation.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations

#176079 [SLOs] Slo group feature
  x-pack/packages/kbn-slo-schema/src/rest_specs/slo.ts
  x-pack/packages/kbn-slo-schema/src/schema/common.ts
  x-pack/plugins/observability/common/slo/constants.ts
  x-pack/plugins/observability/public/hooks/slo/query_key_factory.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_historical_summary.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_slo_groups.ts
  x-pack/plugins/observability/public/hooks/slo/use_fetch_slo_list.ts
  x-pack/plugins/observability/public/locators/slo_list.test.ts
  x-pack/plugins/observability/public/pages/slos/components/card_view/slos_card_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/common/sort_by_select.tsx
  x-pack/plugins/observability/public/pages/slos/components/grouped_slos/group_list_empty.tsx
  x-pack/plugins/observability/public/pages/slos/components/grouped_slos/group_list_error.tsx
  x-pack/plugins/observability/public/pages/slos/components/grouped_slos/group_list_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/grouped_slos/group_view.test.tsx
  x-pack/plugins/observability/public/pages/slos/components/grouped_slos/group_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_context_menu.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_group_by.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_items.stories.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_items.tsx
  x-pack/plugins/observability/public/pages/slos/components/slo_list_view/slo_list_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/slos_view.tsx
  x-pack/plugins/observability/public/pages/slos/components/toggle_slo_view.tsx
  x-pack/plugins/observability/public/pages/slos/hooks/use_slo_summary.ts
  x-pack/plugins/observability/public/pages/slos/hooks/use_url_search_state.ts
  x-pack/plugins/observability/public/pages/slos/slos.tsx
  x-pack/plugins/observability/server/domain/models/common.ts
  x-pack/plugins/observability/server/routes/slo/route.ts
  x-pack/plugins/observability/server/services/slo/find_slo.ts
  x-pack/plugins/observability/server/services/slo/find_slo_groups.ts
  x-pack/plugins/observability/server/services/slo/index.ts
  x-pack/plugins/observability/tsconfig.json
Labels: release_note:skip, Feature:SLO, Team:obs-ux-management, v8.13.0

#176143 [Infra] Add Host Details Dashboard advanced setting
  docs/management/advanced-options.asciidoc
  packages/kbn-management/settings/setting_ids/index.ts
  packages/serverless/settings/observability_project/index.ts
  src/plugins/kibana_usage_collection/server/collectors/management/schema.ts
  src/plugins/kibana_usage_collection/server/collectors/management/types.ts
  src/plugins/telemetry/schema/oss_plugins.json
  x-pack/plugins/observability/common/index.ts
  x-pack/plugins/observability/common/ui_settings_keys.ts
  x-pack/plugins/observability/server/ui_settings.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-infra_services, Team:obs-ux-management, v8.13.0

#176250 [8.12] [Fleet] Fix assets being unintentionally moved to the default space during Fleet setup (#176173)
  x-pack/plugins/fleet/server/services/epm/packages/install.ts
  x-pack/test/fleet_api_integration/apis/epm/install_integration_in_multiple_spaces.ts
Labels: backport, Team:Fleet

#173936 Detect rule param changes for rolling upgrades and rollback assessment
  package.json
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/serverless_upgrade_and_rollback_checks.test.ts.snap
  x-pack/plugins/alerting/server/integration_tests/lib/setup_test_servers.ts
  x-pack/plugins/alerting/server/integration_tests/serverless_upgrade_and_rollback_checks.test.ts
  x-pack/plugins/alerting/server/types.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/anomaly/register_anomaly_rule_type.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.ts
  x-pack/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.ts
  x-pack/plugins/infra/server/lib/alerting/inventory_metric_threshold/register_inventory_metric_threshold_rule_type.ts
  x-pack/plugins/ml/server/lib/alerts/register_anomaly_detection_alert_type.ts
  x-pack/plugins/ml/server/lib/alerts/register_jobs_monitoring_rule_type.ts
  x-pack/plugins/observability/server/lib/rules/custom_threshold/register_custom_threshold_rule_type.ts
  x-pack/plugins/observability/server/lib/rules/slo_burn_rate/register.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_actions_legacy/logic/notifications/legacy_rules_notification_rule_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/eql/create_eql_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/esql/create_esql_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/indicator_match/create_indicator_match_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/ml/create_ml_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/new_terms/create_new_terms_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/query/create_query_alert_type.ts
  x-pack/plugins/security_solution/server/lib/detection_engine/rule_types/threshold/create_threshold_alert_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/rule_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/geo_containment/rule_type.ts
  x-pack/plugins/stack_alerts/server/rule_types/index_threshold/rule_type.ts
  x-pack/plugins/transform/server/lib/alerting/transform_health_rule_type/register_transform_health_rule_type.ts
  yarn.lock
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, Team:obs-ux-infra_services, Team:obs-ux-management, apm:review, v8.13.0

#176238 [7.17] [chore] update chromedriver to 121 (#176190)
  package.json
  yarn.lock
Labels: backport

#176254 [ResponseOps] Failing ES Promotion: FTR Configs #77 / Alerting builtin alertTypes es_query rule runs correctly: threshold on ungrouped hit count < >
  x-pack/plugins/alerting/server/lib/wrap_scoped_cluster_client.test.ts
  x-pack/plugins/alerting/server/lib/wrap_scoped_cluster_client.ts
  x-pack/plugins/stack_alerts/server/rule_types/es_query/lib/fetch_esql_query.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group3/builtin_alert_types/es_query/esql_only.ts
Labels: release_note:skip, Team:ResponseOps, v8.13.0

#176248 fix(slo): Error rate chart filter when instanceId is provided
  x-pack/plugins/observability/public/hooks/slo/use_get_preview_data.ts
  x-pack/plugins/observability/public/pages/slo_details/components/events_chart_panel.tsx
Labels: release_note:skip, Team:obs-ux-management, v8.13.0

#176089 Override main help URL for serverless
  packages/kbn-doc-links/src/get_doc_links.ts
Labels: release_note:skip, v8.13.0

#176134 [Discover] Unskip edit data view test
  test/functional/apps/management/data_views/_data_view_create_delete.ts
  test/functional/page_objects/settings_page.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#176223 [Search] Integrate updateStatus and updateIndexName with Connector API
  packages/kbn-search-connectors/lib/update_connector_index_name.test.ts
  packages/kbn-search-connectors/lib/update_connector_index_name.ts
  packages/kbn-search-connectors/lib/update_connector_status.test.ts
  packages/kbn-search-connectors/lib/update_connector_status.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.13.0

#176275 [8.12] [Discover] Unskip edit data view test (#176134)
  test/functional/apps/management/data_views/_data_view_create_delete.ts
  test/functional/page_objects/settings_page.ts
Labels: backport

#176174 [ES|QL] Reduce number of iterations on null columns
  src/plugins/data/common/search/expressions/esql.ts
Labels: Feature:Discover, Feature:ExpressionLanguage, release_note:skip, backport:skip, Team:DataDiscovery, Feature:ES|QL, v8.13.0

#176130 [ML] AIOps: Fix rerender issue with relative time ranges like "Last 15 minutes"
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_content/log_rate_analysis_content.tsx
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_content/log_rate_analysis_content_wrapper.tsx
  x-pack/plugins/aiops/public/components/log_rate_analysis/log_rate_analysis_page.tsx
  x-pack/plugins/aiops/public/hooks/use_data.ts
  x-pack/plugins/aiops/public/hooks/use_document_count_stats.ts
  x-pack/test/functional/apps/aiops/log_rate_analysis.ts
Labels: bug, regression, :ml, release_note:skip, Feature:ML/AIOps, v8.13.0

#176255 [Fleet] Add test for datastream without event.ingested
  x-pack/test/fleet_api_integration/apis/data_streams/list.ts
Labels: release_note:skip, Team:Fleet

#176281 [Lens] Removes duplicated code
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/helpers.ts
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/create_action_helpers.ts
Labels: technical debt, Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.13.0

#176059 [7.17] Upgrade selenium-webdriver to 4.17.0 (#175746)
  package.json
  test/functional/services/remote/webdriver.ts
  yarn.lock
Labels: backport

#176259 [Lens] fix custom time shift input
  x-pack/plugins/lens/public/datasources/form_based/dimension_panel/time_shift.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens

#176235 [Search] Fix connector config resetting without changes
  packages/kbn-search-connectors/components/configuration/connector_configuration.tsx
Labels: release_note:skip, Team:EnterpriseSearch, v8.13.0, v8.12.2

#175005 [Reporting] Support 'auto' value for csv scroll duration config
  docs/settings/reporting-settings.asciidoc
  packages/kbn-generate-csv/src/__snapshots__/generate_csv.test.ts.snap
  packages/kbn-generate-csv/src/generate_csv.test.ts
  packages/kbn-generate-csv/src/generate_csv.ts
  packages/kbn-generate-csv/src/generate_csv_esql.test.ts
  packages/kbn-generate-csv/src/generate_csv_esql.ts
  packages/kbn-generate-csv/src/lib/get_export_settings.test.ts
  packages/kbn-generate-csv/src/lib/get_export_settings.ts
  packages/kbn-generate-csv/src/lib/search_cursor.ts
  packages/kbn-generate-csv/src/lib/search_cursor_pit.test.ts
  packages/kbn-generate-csv/src/lib/search_cursor_pit.ts
  packages/kbn-generate-csv/src/lib/search_cursor_scroll.test.ts
  packages/kbn-generate-csv/src/lib/search_cursor_scroll.ts
  packages/kbn-reporting/export_types/csv/csv_v2.ts
  packages/kbn-reporting/server/config_schema.ts
  x-pack/plugins/task_manager/server/polling_lifecycle.ts
  x-pack/plugins/task_manager/server/task_running/task_runner.ts
Labels: Feature:Reporting, release_note:feature, Team:SharedUX

#176236 Make the drop_null_columns configurable in ES|QL search strategies
  packages/kbn-es-types/src/search.ts
  src/plugins/data/common/search/expressions/esql.ts
  src/plugins/data/server/search/strategies/esql_async_search/esql_async_search_strategy.test.ts
  src/plugins/data/server/search/strategies/esql_async_search/esql_async_search_strategy.ts
  src/plugins/data/server/search/strategies/esql_search/esql_search_strategy.ts
  test/api_integration/apis/search/bsearch.ts
Labels: release_note:skip, backport:skip, Feature:ES|QL, v8.13.0

#171859 [Security] Periodic testing for security against MKI, for latest Kibana commit
  .buildkite/pipelines/security_solution/api_integration.yml
  .buildkite/pipelines/security_solution/security_solution_cypress.yml
  .buildkite/scripts/pipelines/security_solution_quality_gate/api_integration/api-integration-tests.sh
  .buildkite/scripts/pipelines/security_solution_quality_gate/create_periodic_test_docker_image.sh
  .buildkite/scripts/pipelines/security_solution_quality_gate/security_solution_cypress/mki_security_solution_cypress.sh
  .buildkite/scripts/pipelines/security_solution_quality_gate/upload_image_metadata.sh
  x-pack/plugins/security_solution/scripts/run_cypress/parallel_serverless.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Defend Workflows, Team:Detection Engine, v8.12.0

#176249 [Fleet] Remove pre-release exception for Synthetics package
  x-pack/plugins/fleet/server/services/epm/registry/index.ts
Labels: release_note:fix, Team:Fleet, v8.13.0

#176297 [8.12] [Search] Fix connector config resetting without changes (#176235)
  packages/kbn-search-connectors/components/configuration/connector_configuration.tsx
Labels: backport

#176298 [Fleet] Logstash Output - being compliant to RFC-952
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_validators.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_validators.tsx
  x-pack/plugins/fleet/server/types/models/output.test.ts
  x-pack/plugins/fleet/server/types/models/output.ts
Labels: release_note:fix, Team:Fleet, backport:prev-minor

#176303 [ML] Anomaly Detection: Fix `values-dots` colors
  x-pack/plugins/ml/public/application/timeseriesexplorer/_timeseriesexplorer.scss
Labels: bug, release_note:fix, :ml, Feature:Anomaly Detection, v8.13.0, v8.12.2

#175556 [ML] Anomaly Detection: Adds actions menu to anomaly markers in Single Metric Viewer chart.
  x-pack/plugins/ml/public/application/components/anomalies_table/anomalies_table.js
  x-pack/plugins/ml/public/application/components/rule_editor/rule_editor_flyout.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart.test.js
  x-pack/plugins/ml/public/application/timeseriesexplorer/components/timeseries_chart/timeseries_chart_with_tooltip.tsx
  x-pack/plugins/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
  x-pack/test/functional/apps/ml/anomaly_detection_result_views/anomaly_explorer.ts
  x-pack/test/functional/apps/ml/anomaly_detection_result_views/single_metric_viewer.ts
  x-pack/test/functional/services/ml/anomalies_table.ts
  x-pack/test/functional/services/ml/single_metric_viewer.ts
Labels: release_note:enhancement, :ml, Feature:Anomaly Detection, v8.13.0

#175673 [Security Solution] Data Quality Dashboard persistence
  .github/CODEOWNERS
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/data_quality_panel/index_properties/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/data_quality_panel/pattern/helpers.test.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/data_quality_panel/pattern/helpers.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/data_quality_panel/summary_table/helpers.test.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/data_quality_panel/summary_table/helpers.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/data_quality_panel/summary_table/translations.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/helpers.test.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/helpers.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/mock/data_quality_check_result/mock_index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/mock/pattern_rollup/mock_alerts_pattern_rollup.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/mock/pattern_rollup/mock_auditbeat_pattern_rollup.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/mock/pattern_rollup/mock_packetbeat_pattern_rollup.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/types.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/use_results_rollup/helpers.test.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/use_results_rollup/helpers.ts
  x-pack/packages/security-solution/ecs_data_quality_dashboard/impl/data_quality/use_results_rollup/index.tsx
  x-pack/packages/security-solution/ecs_data_quality_dashboard/kibana.jsonc
  x-pack/plugins/ecs_data_quality_dashboard/kibana.jsonc
  x-pack/plugins/ecs_data_quality_dashboard/server/lib/data_stream/results_field_map.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/plugin.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/get_ilm_explain.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/get_index_mappings.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/get_index_stats.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/get_results.test.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/get_results.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/parser.test.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/parser.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/post_results.test.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/post_results.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/privileges.test.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/privileges.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/routes/results/results.mock.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/schemas/result.ts
  x-pack/plugins/ecs_data_quality_dashboard/tsconfig.json
Labels: Team:Threat Hunting, release_note:feature, Team:Threat Hunting:Explore, v8.13.0

#176326 [8.12] [ML] Anomaly Detection: Fix &#x60;values-dots&#x60; colors (#176303)
  x-pack/plugins/ml/public/application/timeseriesexplorer/_timeseriesexplorer.scss
Labels: backport

#176323 [8.12] [Fleet] Logstash Output - being compliant to RFC-952 (#176298)
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_validators.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_validators.tsx
  x-pack/plugins/fleet/server/types/models/output.test.ts
  x-pack/plugins/fleet/server/types/models/output.ts
Labels: backport, Team:Fleet

#176041 [Cloud Security]Detection Rules counter on Rules Flyout
  x-pack/plugins/cloud_security_posture/public/pages/configurations/findings_flyout/rule_tab.tsx
  x-pack/plugins/cloud_security_posture/public/pages/configurations/utils/create_detection_rule_from_benchmark.ts
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_detection_rule_counter.tsx
  x-pack/plugins/cloud_security_posture/public/pages/rules/rules_flyout.tsx
  x-pack/test/cloud_security_posture_functional/page_objects/rule_page.ts
  x-pack/test/cloud_security_posture_functional/pages/rules.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security, v8.13.0

#175851 [ResponseOps] Alert creation delay based on user definition
  x-pack/packages/kbn-alerting-state-types/src/lifecycle_state.ts
  x-pack/packages/kbn-alerting-state-types/src/task_state/v1/schema.ts
  x-pack/plugins/alerting/common/routes/rule/apis/create/schemas/v1.ts
  x-pack/plugins/alerting/common/routes/rule/apis/create/types/v1.ts
  x-pack/plugins/alerting/common/routes/rule/response/index.ts
  x-pack/plugins/alerting/common/routes/rule/response/schemas/v1.ts
  x-pack/plugins/alerting/common/routes/rule/response/types/v1.ts
  x-pack/plugins/alerting/common/rule.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/alerts_client_fixtures.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.test.ts
  x-pack/plugins/alerting/server/alerts_client/legacy_alerts_client.ts
  x-pack/plugins/alerting/server/alerts_client/lib/format_rule.test.ts
  x-pack/plugins/alerting/server/alerts_client/types.ts
  x-pack/plugins/alerting/server/alerts_service/alerts_service.test.ts
  x-pack/plugins/alerting/server/application/rule/methods/create/schemas/create_rule_data_schema.ts
  x-pack/plugins/alerting/server/application/rule/methods/create/types/create_rule_data.ts
  x-pack/plugins/alerting/server/application/rule/schemas/index.ts
  x-pack/plugins/alerting/server/application/rule/schemas/rule_schemas.ts
  x-pack/plugins/alerting/server/application/rule/transforms/transform_rule_attributes_to_rule_domain.ts
  x-pack/plugins/alerting/server/application/rule/transforms/transform_rule_domain_to_rule.ts
  x-pack/plugins/alerting/server/application/rule/transforms/transform_rule_domain_to_rule_attributes.ts
  x-pack/plugins/alerting/server/application/rule/types/rule.ts
  x-pack/plugins/alerting/server/data/rule/types/rule_attributes.ts
  x-pack/plugins/alerting/server/lib/get_alerts_for_notification.test.ts
  x-pack/plugins/alerting/server/lib/get_alerts_for_notification.ts
  x-pack/plugins/alerting/server/routes/rule/apis/create/transforms/transform_create_body/v1.ts
  x-pack/plugins/alerting/server/routes/rule/transforms/transform_rule_to_rule_response/v1.ts
  x-pack/plugins/alerting/server/saved_objects/schemas/raw_rule/v1.ts
  x-pack/plugins/alerting/server/task_runner/execution_handler.test.ts
  x-pack/plugins/alerting/server/task_runner/execution_handler.ts
  x-pack/plugins/alerting/server/task_runner/fixtures.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.test.ts
  x-pack/plugins/alerting/server/task_runner/task_runner.ts
  x-pack/plugins/alerting/server/task_runner/task_runner_alerts_client.test.ts
  x-pack/plugins/alerting/server/types.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.test.ts
  x-pack/plugins/rule_registry/server/utils/create_lifecycle_executor.ts
  x-pack/plugins/rule_registry/server/utils/get_alerts_for_notification.test.ts
  x-pack/plugins/rule_registry/server/utils/get_alerts_for_notification.ts
  x-pack/plugins/rule_registry/server/utils/get_updated_flapping_history.test.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/event_log.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alert_delay.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/alerts_as_data_alert_delay.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/index.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/index.ts
Labels: release_note:skip, Team:ResponseOps, v8.13.0

#174411 [Security Solution][Endpoint] Fix Manifest Manger so that it works with large (>10k)
  x-pack/plugins/fleet/server/mocks/index.ts
  x-pack/plugins/fleet/server/mocks/package_policy.mocks.ts
  x-pack/plugins/fleet/server/services/artifacts/artifacts.test.ts
  x-pack/plugins/fleet/server/services/artifacts/artifacts.ts
  x-pack/plugins/fleet/server/services/artifacts/client.ts
  x-pack/plugins/fleet/server/services/artifacts/mocks.ts
  x-pack/plugins/fleet/server/services/artifacts/types.ts
  x-pack/plugins/fleet/server/services/package_policies/index.ts
  x-pack/plugins/fleet/server/services/package_policies/utils.test.ts
  x-pack/plugins/fleet/server/services/package_policies/utils.ts
  x-pack/plugins/fleet/server/services/package_policy.test.ts
  x-pack/plugins/fleet/server/services/package_policy.ts
  x-pack/plugins/fleet/server/services/package_policy_service.ts
  x-pack/plugins/fleet/server/services/utils/create_es_search_iterable.ts
  x-pack/plugins/fleet/server/services/utils/create_so_find_iterable.ts
  x-pack/plugins/security_solution/common/endpoint/errors.ts
  x-pack/plugins/security_solution/server/config.mock.ts
  x-pack/plugins/security_solution/server/config.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/task.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/artifacts/task.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/artifact_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/manifest_manager/manifest_manager.ts
  x-pack/plugins/security_solution/server/endpoint/services/artifacts/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/utils/queue_processor.ts
  x-pack/plugins/security_solution/server/plugin.ts
Labels: release_note:skip, Team:Fleet, Team:Defend Workflows, ci:cloud-deploy, v8.13.0, v8.12.2

#176285 [Fleet] Add the uptime capability to observability projects
  config/serverless.oblt.yml
Labels: release_note:skip, backport:skip, Team:Fleet

#176313 chore(NA): update versions after v7.17.19 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.13.0

#176314 chore(NA): bump version to 7.17.19
  package.json
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v7.17.19

#176309 chore(NA): update versions after v8.12.2 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.13.0

#176315 chore(NA): bump version to 8.12.2
  package.json
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.12.2

#175749 [Cloud Security] [Grouping] Add URL Params support to the grouping components
  packages/kbn-securitysolution-grouping/src/hooks/use_get_group_selector.test.tsx
  packages/kbn-securitysolution-grouping/src/hooks/use_get_group_selector.tsx
  packages/kbn-securitysolution-grouping/src/hooks/use_grouping.tsx
  x-pack/plugins/cloud_security_posture/public/common/types.ts
  x-pack/plugins/cloud_security_posture/public/components/cloud_security_grouping/use_cloud_security_grouping.ts
  x-pack/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.tsx
Labels: release_note:skip, Team:Cloud Security, v8.13.0

#174756 [Ops] Fix GCS bucket access for future buildkite agents
  .buildkite/scripts/common/activate_service_account.sh
  .buildkite/scripts/common/setup_bazel.sh
  .buildkite/scripts/common/util.sh
  .buildkite/scripts/common/vault_fns.sh
  .buildkite/scripts/lifecycle/post_command.sh
  .buildkite/scripts/lifecycle/pre_command.sh
  .buildkite/scripts/steps/archive_so_migration_snapshot.sh
  .buildkite/scripts/steps/code_coverage/reporting/downloadPrevSha.sh
  .buildkite/scripts/steps/code_coverage/reporting/uploadPrevSha.sh
  .buildkite/scripts/steps/code_coverage/reporting/uploadStaticSite.sh
  .buildkite/scripts/steps/es_serverless/promote_es_serverless_image.sh
  .buildkite/scripts/steps/es_snapshots/create_manifest.ts
  .buildkite/scripts/steps/es_snapshots/promote_manifest.ts
  .buildkite/scripts/steps/functional/scalability_dataset_extraction.sh
  .buildkite/scripts/steps/scalability/benchmarking.sh
  .buildkite/scripts/steps/storybooks/build_and_upload.ts
  .buildkite/scripts/steps/webpack_bundle_analyzer/upload.ts
Labels: release_note:fix, backport:skip, ci:build-storybooks

#176074 [Exceptions][Value Lists] Add file type and size constraints to value list uploads (#8507)
  x-pack/plugins/lists/server/routes/list/import_list_item_route.ts
  x-pack/plugins/lists/server/services/lists/list_client.ts
  x-pack/plugins/lists/server/services/lists/list_client_types.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/trial_license_complete_tier/role_based_rule_exceptions_workflows.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/trial_license_complete_tier/rule_exception_synchronizations.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/rule_execution_logic/trial_license_complete_tier/execution_logic/machine_learning.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/lists_items/trial_license_complete_tier/items/import_list_items.ts
Labels: release_note:fix, Team: SecuritySolution, Team:Detection Engine, 8.13 candidate, v8.12.2, v7.17.19

#176368 [Discover] Removes project command from our code
  src/plugins/discover/public/application/main/hooks/use_text_based_query_language.ts
  src/plugins/unified_histogram/public/layout/helpers.ts
Labels: Feature:Discover, release_note:skip, backport:skip, Team:DataDiscovery, v8.13.0

#176158 [Search] Connector detail page
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/connector/fetch_connector_by_id_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_detail_router.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_stats.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/overview.logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/overview.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/connectors_table.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/index.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/routes.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/connectors.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.13.0

#176306 [Search] Use Connector API for update_service_type
  packages/kbn-search-connectors/lib/update_connector_service_type.test.ts
  packages/kbn-search-connectors/lib/update_connector_service_type.ts
Labels: release_note:skip, backport:skip, Team:EnterpriseSearch, v8.13.0

#175965 Fix flaky tests
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/assignments/assignments.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/assignments/assignments_serverless_complete.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/detection_alerts/assignments/assignments_serverless_essentials.cy.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine

#176375 [8.12] [Exceptions][Value Lists] Add file type and size constraints to value list uploads (#8507) (#176074)
  x-pack/plugins/lists/server/routes/list/import_list_item_route.ts
  x-pack/plugins/lists/server/services/lists/list_client.ts
  x-pack/plugins/lists/server/services/lists/list_client_types.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/default_license/exceptions/workflows/role_based_rule_exceptions_workflows.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/default_license/exceptions/workflows/rule_exception_synchronizations.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/default_license/rule_execution_logic/execution_logic/machine_learning.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/default_license/lists_items/items/import_list_items.ts
Labels: backport

#176380 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#176324 [Discover] fix using the data grid full screen mode causes the top nav buttons to disappear
  packages/core/chrome/core-chrome-browser-internal/src/ui/header/header_action_menu.test.tsx
  packages/core/chrome/core-chrome-browser-internal/src/ui/header/header_action_menu.tsx
Labels: release_note:skip, Team:SharedUX

#176280 [Security Solution][Endpoint] Hide agent types on `Types` filter when on a flyout and other UI changes
  x-pack/plugins/security_solution/public/common/translations.ts
  x-pack/plugins/security_solution/public/detections/components/endpoint_responder/use_responder_action_data.ts
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/action_log_expanded_tray.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/components/hooks.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/integration_tests/response_actions_log.test.tsx
  x-pack/plugins/security_solution/public/management/components/endpoint_response_actions_list/translations.tsx
  x-pack/plugins/security_solution/public/management/pages/response_actions/view/response_actions_list_page.test.tsx
Labels: release_note:skip, Team:Defend Workflows, OLM Sprint, v8.1.3

#176296 [CodeEditor] Explicitly call the latest `props.onChange`
  packages/shared-ux/code_editor/impl/code_editor.tsx
Labels: release_note:skip, Team:SharedUX

#175865 [Alert details page] [Custom threshold] Change title of condition charts
  x-pack/plugins/observability/public/components/custom_threshold/components/alert_details_app_section/alert_details_app_section.test.tsx
  x-pack/plugins/observability/public/components/custom_threshold/components/alert_details_app_section/alert_details_app_section.tsx
  x-pack/plugins/observability/public/components/custom_threshold/mocks/custom_threshold_rule.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-management, v8.13.0

#176305 [ES|QL] Correctly parse index pattern from remote clusters
  packages/kbn-esql-utils/src/utils/query_parsing_helpers.test.ts
  packages/kbn-esql-utils/src/utils/query_parsing_helpers.ts
Labels: release_note:skip, Feature:ES|QL, v8.13.0

#176006 [Dashboard] Keep managed panels out of unmanaged dashboards
  src/plugins/dashboard/public/dashboard_container/embeddable/api/run_save_functions.tsx
  src/plugins/embeddable/public/add_panel_flyout/add_panel_flyout.test.tsx
  src/plugins/embeddable/public/add_panel_flyout/add_panel_flyout.tsx
  src/plugins/embeddable/public/index.ts
  src/plugins/embeddable/public/registry/saved_object_to_panel_methods.ts
  src/plugins/saved_objects_finder/public/finder/saved_object_finder.test.tsx
  src/plugins/saved_objects_finder/public/finder/saved_object_finder.tsx
  src/plugins/saved_search/public/plugin.ts
  src/plugins/saved_search/public/services/saved_searches/saved_search_attribute_service.ts
  src/plugins/saved_search/tsconfig.json
  src/plugins/visualizations/public/plugin.ts
  test/functional/fixtures/kbn_archiver/managed_content.json
  test/functional/services/dashboard/add_panel.ts
  x-pack/plugins/lens/public/lens_attribute_service.ts
  x-pack/plugins/lens/public/plugin.ts
  x-pack/plugins/lens/tsconfig.json
  x-pack/plugins/maps/public/map_attribute_service.ts
  x-pack/plugins/maps/public/plugin.ts
  x-pack/plugins/maps/tsconfig.json
  x-pack/test/functional/apps/managed_content/managed_content.ts
Labels: release_note:breaking, Feature:Embedding

#176390 Enable `Mock IdP` plugin only in Serverless.
  packages/kbn-mock-idp-plugin/server/index.ts
  src/cli/serve/serve.js
Labels: dev, Team:Security, Feature:Security/Authentication, release_note:skip

#176395 [8.12] [Security Solution] Only query security alerts with the current user (#175903)
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/risk_score/all/index.test.ts
  x-pack/plugins/security_solution/server/search_strategy/security_solution/factory/risk_score/all/index.ts
Labels: backport

#176402 [OBS-UX-MNGMT] - Fix flaky test - Failing test: X-Pack Alerting API Integration Tests.x-pack/test/alerting_api_integration/observability/custom_threshold_rule/rate_bytes_fired·ts - Observability Rules Rules Endpoints Custom Threshold rule RATE - GROUP_BY - BYTES - FIRED Rule creation should set correct action variables
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/p99_pct_fired.ts
  x-pack/test/alerting_api_integration/observability/custom_threshold_rule/rate_bytes_fired.ts
Labels: Feature:Alerting, release_note:skip, backport:skip, Team:obs-ux-management, v8.13.0

#176110 [Embeddables rebuild] Decouple add panel trigger
  examples/embeddable_examples/public/migrations/migrations_embeddable_factory.ts
  examples/embeddable_examples/public/plugin.ts
  examples/embeddable_examples/public/react_embeddables/eui_markdown/constants.ts
  examples/embeddable_examples/public/react_embeddables/eui_markdown/create_eui_markdown_action.tsx
  examples/embeddable_examples/public/react_embeddables/eui_markdown/eui_markdown_react_embeddable.tsx
  examples/embeddable_examples/public/react_embeddables/eui_markdown/types.ts
  examples/embeddable_examples/public/react_embeddables/eui_markdown_react_embeddable.tsx
  examples/embeddable_examples/tsconfig.json
  packages/presentation/presentation_containers/interfaces/last_saved_state.ts
  packages/presentation/presentation_containers/interfaces/presentation_container.ts
  packages/presentation/presentation_containers/mocks.ts
  packages/presentation/presentation_publishing/index.ts
  src/plugins/dashboard/public/dashboard_app/top_nav/add_panel_action_menu_items.test.ts
  src/plugins/dashboard/public/dashboard_app/top_nav/add_panel_action_menu_items.ts
  src/plugins/dashboard/public/dashboard_app/top_nav/dashboard_editing_toolbar.tsx
  src/plugins/dashboard/public/dashboard_app/top_nav/editor_menu.tsx
  src/plugins/dashboard/public/dashboard_container/embeddable/api/run_save_functions.tsx
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  src/plugins/embeddable/public/lib/containers/container.ts
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/create_action.test.tsx
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/create_action.tsx
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/create_action_helpers.ts
Labels: Feature:Embedding, Team:Presentation, loe:medium, release_note:skip, impact:high, Feature:Embeddables, project:embeddableRebuild

#176363 [Lens] Cleanups the veil flag from the ExpressionWrapper
  x-pack/plugins/lens/public/embeddable/expression_wrapper.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.13.0
