Repository elastic/kibana, pull requests merged in 2024-04, with the labels that each got.

#176881 [ResponseOps] add parallel number arrays to task manager metric histograms
  x-pack/plugins/task_manager/server/metrics/create_aggregator.test.ts
  x-pack/plugins/task_manager/server/metrics/lib/simple_histogram.test.ts
  x-pack/plugins/task_manager/server/metrics/lib/simple_histogram.ts
  x-pack/plugins/task_manager/server/metrics/task_claim_metrics_aggregator.test.ts
  x-pack/plugins/task_manager/server/metrics/task_claim_metrics_aggregator.ts
  x-pack/plugins/task_manager/server/metrics/task_overdue_metrics_aggregator.test.ts
  x-pack/plugins/task_manager/server/metrics/task_overdue_metrics_aggregator.ts
  x-pack/plugins/task_manager/server/metrics/task_run_metrics_aggregator.test.ts
  x-pack/plugins/task_manager/server/metrics/task_run_metrics_aggregator.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, ci:build-cloud-image, ci:build-serverless-image, v8.14.0

#179472 [Part of #176153] Analytics client
  packages/analytics/client/src/analytics_client/analytics_client.ts
  packages/analytics/client/src/analytics_client/context_service.ts
  packages/analytics/client/src/analytics_client/index.ts
  packages/analytics/client/src/analytics_client/types.ts
Labels: chore, Team:Core, release_note:skip, backport:skip

#179577 [Lists] Remove capture of Stack trace when registering server-side extension points
  x-pack/plugins/lists/server/services/extension_points/extension_point_storage.test.ts
  x-pack/plugins/lists/server/services/extension_points/extension_point_storage.ts
  x-pack/plugins/lists/server/services/extension_points/extension_point_storage_client.ts
  x-pack/plugins/lists/server/services/extension_points/types.ts
Labels: release_note:skip, Team:Defend Workflows, v8.14.0

#179723 [Reporting/Docs] Update Developer API docs
  docs/developer/architecture/development/csv-integration.asciidoc
  docs/developer/architecture/development/index.asciidoc
  docs/developer/architecture/development/pdf-integration.asciidoc
Labels: release_note:skip

#179588 [Shared UX] Clean up after TS upgrade
  packages/shared-ux/router/impl/routes.tsx
  src/plugins/files/server/routes/file_kind/enhance_router.ts
  src/plugins/files/server/routes/types.ts
Labels: release_note:skip

#179722 [Security AI Assistant] Use dictionary for replacement in APIs and convert to object in storage.
  x-pack/packages/kbn-elastic-assistant-common/impl/data_anonymization/helpers/index.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/data_anonymization/transform_raw_data/index.test.tsx
  x-pack/packages/kbn-elastic-assistant-common/impl/data_anonymization/transform_raw_data/index.tsx
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/actions_connector/post_actions_connector_execute_route.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/actions_connector/post_actions_connector_execute_route.schema.yaml
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/conversations/common_attributes.gen.ts
  x-pack/packages/kbn-elastic-assistant-common/impl/schemas/conversations/common_attributes.schema.yaml
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/conversations/conversations.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/conversations/use_bulk_actions_conversations.test.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/api/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/assistant_header/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/chat_send/use_chat_send.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/conversations/conversation_selector/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/conversations/conversation_settings/conversation_settings.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/conversations/conversation_settings/conversation_settings.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/helpers.test.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/prompt/helpers.test.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/prompt/helpers.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/prompt_editor/system_prompt/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_conversation/helpers.test.ts
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_conversation/index.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_conversation/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_conversation/sample_conversations.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant/use_send_message/index.tsx
  x-pack/packages/kbn-elastic-assistant/impl/assistant_context/types.tsx
  x-pack/packages/kbn-elastic-assistant/impl/connectorland/connector_selector_inline/connector_selector_inline.test.tsx
  x-pack/packages/kbn-elastic-assistant/impl/mock/conversation.ts
  x-pack/plugins/elastic_assistant/server/__mocks__/conversations_schema.mock.ts
  x-pack/plugins/elastic_assistant/server/__mocks__/response.ts
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/create_conversation.test.ts
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/create_conversation.ts
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/transforms.ts
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/types.ts
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/update_conversation.test.ts
  x-pack/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/update_conversation.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/execute_custom_llm_chain/index.test.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/executors/types.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/helpers.test.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/helpers.ts
  x-pack/plugins/elastic_assistant/server/lib/langchain/types.ts
  x-pack/plugins/elastic_assistant/server/routes/evaluate/post_evaluate.ts
  x-pack/plugins/elastic_assistant/server/routes/post_actions_connector_execute.ts
  x-pack/plugins/elastic_assistant/server/types.ts
  x-pack/plugins/security_solution/public/assistant/content/conversations/index.tsx
  x-pack/plugins/security_solution/public/assistant/get_comments/index.test.tsx
  x-pack/plugins/security_solution/public/assistant/get_comments/index.tsx
  x-pack/plugins/security_solution/public/assistant/provider.tsx
  x-pack/plugins/security_solution/public/assistant/use_assistant_telemetry/index.test.tsx
  x-pack/plugins/security_solution/server/assistant/tools/alert_counts/alert_counts_tool.test.ts
  x-pack/plugins/security_solution/server/assistant/tools/open_and_acknowledged_alerts/open_and_acknowledged_alerts_tool.test.ts
  x-pack/plugins/security_solution/server/assistant/tools/open_and_acknowledged_alerts/open_and_acknowledged_alerts_tool.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/bedrock.ts
  x-pack/test/security_solution_api_integration/test_suites/genai/invoke_ai/trial_license_complete_tier/basic.ts
Labels: enhancement, release_note:skip, v8.14.0

#179749 Upgrade EUI to v93.5.2
  package.json
  src/dev/license_checker/config.ts
  yarn.lock
Labels: release_note:skip, EUI, v8.14.0

#178688 [Security Solution][Endpoint][Admin][Trusted Apps] Fix warning for fields that do not support matches that use wildcards
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.test.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/translations.ts
Labels: release_note:skip, Team:Defend Workflows, auto-backport, v8.13.1

#179732 [Fleet] Fix agent upgrade modal in serverless
  x-pack/plugins/fleet/common/services/check_fleet_server_versions.test.ts
  x-pack/plugins/fleet/common/services/check_fleet_server_versions.ts
Labels: bug, release_note:skip, Team:Fleet

#179760 [DOCS] Adds the release notes for 8.13.1
  docs/CHANGELOG.asciidoc
Labels: Team:Docs, release_note:skip, v8.14.0, v8.13.1

#179779 [8.13] [DOCS] Adds the release notes for 8.13.1 (#179760)
  docs/CHANGELOG.asciidoc
Labels: backport

#179777 [8.13] [Security Solution][Endpoint][Admin][Trusted Apps] Fix warning for fields that do not support matches that use wildcards (#178688)
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.test.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/translations.ts
Labels: backport

#179574 [Fleet] Add api integration test for subfeature privileges
  packages/kbn-test/src/kbn_client/kbn_client_saved_objects.ts
  x-pack/plugins/fleet/server/plugin.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/index.js
  x-pack/test/fleet_api_integration/apis/agent_policy/privileges.ts
  x-pack/test/fleet_api_integration/apis/agents/delete.ts
  x-pack/test/fleet_api_integration/apis/agents/index.js
  x-pack/test/fleet_api_integration/apis/agents/list.ts
  x-pack/test/fleet_api_integration/apis/agents/privileges.ts
  x-pack/test/fleet_api_integration/apis/agents/update_agent_tags.ts
  x-pack/test/fleet_api_integration/apis/enrollment_api_keys/crud.ts
  x-pack/test/fleet_api_integration/apis/enrollment_api_keys/privileges.ts
  x-pack/test/fleet_api_integration/apis/fleet_settings_privileges.ts
  x-pack/test/fleet_api_integration/apis/index.js
  x-pack/test/fleet_api_integration/apis/test_users.ts
  x-pack/test/fleet_api_integration/apis/uninstall_token/privileges.ts
  x-pack/test/fleet_api_integration/privileges_helpers.ts
Labels: release_note:skip, Team:Fleet

#179639 [Security Solution][Entity Analytics] Skipping failing tests on MKI environments
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/dashboards/entity_analytics/legacy_risk_score.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/dashboards/entity_analytics/new_risk_score.cy.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Entity Analytics, v8.14.0

#179270 [Stateful sidenav] User profile opt in/out
  .buildkite/ftr_configs.yml
  packages/core/chrome/core-chrome-browser-internal/src/chrome_service.tsx
  packages/core/chrome/core-chrome-browser-internal/src/project_navigation/project_navigation_service.test.ts
  packages/core/chrome/core-chrome-browser-internal/src/project_navigation/project_navigation_service.ts
  packages/core/chrome/core-chrome-browser-internal/src/types.ts
  packages/kbn-user-profile-components/src/hooks/use_update_user_profile.test.tsx
  packages/kbn-user-profile-components/src/hooks/use_update_user_profile.tsx
  packages/kbn-user-profile-components/src/types.ts
  src/plugins/navigation/kibana.jsonc
  src/plugins/navigation/public/mocks.ts
  src/plugins/navigation/public/plugin.test.ts
  src/plugins/navigation/public/plugin.tsx
  src/plugins/navigation/public/solution_nav_userprofile_toggle/index.ts
  src/plugins/navigation/public/solution_nav_userprofile_toggle/solution_nav_userprofile_toggle.test.tsx
  src/plugins/navigation/public/solution_nav_userprofile_toggle/solution_nav_userprofile_toggle.tsx
  src/plugins/navigation/public/solution_nav_userprofile_toggle/use_solution_nav_userprofile_toggle.ts
  src/plugins/navigation/public/types.ts
  src/plugins/navigation/tsconfig.json
  x-pack/packages/security/plugin_types_public/src/user_profile/user_profile_api_client.ts
  x-pack/plugins/cloud_integrations/cloud_links/public/maybe_add_cloud_links/theme_darkmode_hook.ts
  x-pack/plugins/security/public/account_management/user_profile/user_profile_api_client.test.ts
  x-pack/plugins/security/public/account_management/user_profile/user_profile_api_client.ts
  x-pack/plugins/security/public/mocks.ts
  x-pack/plugins/security/public/plugin.test.tsx
  x-pack/plugins/security/public/plugin.tsx
  x-pack/plugins/security/tsconfig.json
  x-pack/plugins/security_solution_serverless/public/navigation/side_navigation/index.tsx
  x-pack/plugins/serverless/public/plugin.tsx
  x-pack/plugins/serverless/public/types.ts
  x-pack/plugins/serverless_observability/public/plugin.ts
  x-pack/plugins/serverless_search/public/plugin.ts
  x-pack/test/functional/apps/navigation/config.ts
  x-pack/test/functional/apps/navigation/ftr_provider_context.ts
  x-pack/test/functional/apps/navigation/tests/index.ts
  x-pack/test/functional/apps/navigation/tests/user_optin_optout.ts
  x-pack/test/functional/services/user_menu.js
Labels: release_note:skip, Team:SharedUX, Feature:Chrome

#179785 [ES|QL] fix job path
  .buildkite/scripts/steps/esql_grammar_sync.sh
Labels: release_note:skip, Feature:ES|QL, v8.14.0, Team:ESQL

#179510 [SecuritySolutions] Fix Entity Analytics dashboard fires many risk_score/index_status requests
  x-pack/plugins/security_solution/public/entity_analytics/api/api.ts
Labels: release_note:fix, technical debt, Team: SecuritySolution, Team:Entity Analytics

#179752 [Part of #176153] Saved objects
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/bulk_update.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/update.ts
  packages/core/saved-objects/core-saved-objects-common/src/server_types.ts
Labels: chore, Team:Core, release_note:skip, backport:skip

#178701 fix threat intelligence loading screen
  packages/shared-ux/page/kibana_template/impl/src/__snapshots__/page_template_inner.test.tsx.snap
  packages/shared-ux/page/kibana_template/impl/src/page_template_inner.test.tsx
  packages/shared-ux/page/kibana_template/impl/src/page_template_inner.tsx
  packages/shared-ux/page/kibana_template/types/index.d.ts
  x-pack/plugins/security_solution/public/app/home/template_wrapper/index.test.tsx
  x-pack/plugins/security_solution/public/app/home/template_wrapper/index.tsx
  x-pack/plugins/security_solution/public/threat_intelligence/routes.tsx
  x-pack/plugins/threat_intelligence/public/containers/enterprise_guard.tsx
  x-pack/plugins/threat_intelligence/public/containers/indicators_page_wrapper.tsx
  x-pack/plugins/threat_intelligence/public/containers/integrations_guard.test.tsx
  x-pack/plugins/threat_intelligence/public/containers/integrations_guard.tsx
  x-pack/plugins/threat_intelligence/public/hooks/use_integrations.ts
  x-pack/plugins/threat_intelligence/public/mocks/mock_security_context.tsx
  x-pack/plugins/threat_intelligence/public/mocks/story_providers.tsx
  x-pack/plugins/threat_intelligence/public/mocks/test_providers.tsx
  x-pack/plugins/threat_intelligence/public/modules/empty_page/empty_page.tsx
  x-pack/plugins/threat_intelligence/public/types.ts
Labels: release_note:fix, Team:Threat Hunting:Investigations, backport:prev-minor

#179756 [Part of #176153] Server mocks
  src/core/server/mocks.ts
  x-pack/plugins/ecs_data_quality_dashboard/server/__mocks__/request_context.ts
Labels: chore, Team:Core, release_note:skip, backport:skip

#179644 [8.13][Fleet] fix bug in add agent instructions (#179603)
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/agent_enrollment_flyout.test.mocks.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/agent_enrollment_flyout.test.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/instructions.tsx
  x-pack/plugins/fleet/public/hooks/index.ts
  x-pack/plugins/fleet/public/hooks/use_fleet_server_agents.test.ts
  x-pack/plugins/fleet/public/hooks/use_fleet_server_agents.ts
Labels: backport, Team:Fleet, v8.13.1

#179754 [Part of #176153] HTTP service
  packages/core/http/core-http-router-server-internal/src/validator.ts
  packages/core/http/core-http-server-internal/src/cookie_session_storage.ts
  packages/core/http/core-http-server-internal/src/http_server.ts
  packages/core/http/core-http-server-mocks/src/cookie_session_storage.mocks.ts
  packages/core/http/core-http-server/src/http_contract.ts
Labels: chore, Feature:http, Team:Core, release_note:skip, backport:skip

#179738 Upgrade webpack-dev-middleware@5.3.3→5.3.4
  yarn.lock
Labels: Team:Security, release_note:skip, backport:all-open, v8.14.0

#179718 [AI Assistant for Observability] Add aria-label to AI Assistant button
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/components/nav_control/index.tsx
Labels: release_note:skip, Team:obs-knowledge

#179631 [Fleet] fix UI error when entering an invalid semver
  x-pack/plugins/fleet/common/services/check_fleet_server_versions.test.ts
  x-pack/plugins/fleet/common/services/check_fleet_server_versions.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_upgrade_modal/index.tsx
Labels: release_note:skip, Team:Fleet

#179801 [8.13] Upgrade webpack-dev-middleware@5.3.3→5.3.4 (#179738)
  yarn.lock
Labels: backport

#179716 [Observability AI Assistant] Fix dark mode
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/get_edit_lens_configuration.tsx
  x-pack/plugins/lens/public/trigger_actions/open_lens_config/edit_action_helpers.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/components/buttons/new_chat_button.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant_app/public/components/chat/chat_body.tsx
Labels: release_note:skip, Team:obs-knowledge

#179609 [HTTP/CDN] Set `connect-src` to HTTPS only when CDN is configured
  .github/CODEOWNERS
  packages/core/http/core-http-server-internal/src/cdn_config/cdn_config.test.ts
  packages/core/http/core-http-server-internal/src/cdn_config/cdn_config.ts
  packages/core/http/core-http-server-internal/src/cdn_config/index.ts
Labels: Feature:http, Team:Security, release_note:skip, ci:project-deploy-observability, v8.14.0

#179607 Fix threat intel edit filters
  x-pack/plugins/security_solution/public/app/home/template_wrapper/index.tsx
  x-pack/plugins/threat_intelligence/public/mocks/mock_security_context.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/components/filter_in.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/components/filter_out.test.tsx
  x-pack/plugins/threat_intelligence/public/modules/query_bar/hooks/use_filter_in_out.test.ts
  x-pack/plugins/threat_intelligence/public/modules/query_bar/hooks/use_filter_in_out.ts
  x-pack/plugins/threat_intelligence/public/modules/query_bar/utils/filter.ts
Labels: release_note:fix, Team:Threat Hunting:Investigations, backport:prev-minor, 8.14 candidate

#179800 [7.17] Upgrade webpack-dev-middleware@5.3.3→5.3.4 (#179738)
  yarn.lock
Labels: backport

#179388 [Security Solution][Endpoint] Change Response Actions client for SentinelOne to support Sub-Action new `UnsecuredActionsClient`
  x-pack/plugins/security_solution/scripts/endpoint/common/fleet_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/common/vm_services.ts
  x-pack/plugins/security_solution/scripts/endpoint/sentinelone_host/index.ts
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/endpoint/lib/response_actions/complete_external_actions_task.ts
  x-pack/plugins/security_solution/server/endpoint/lib/response_actions/complete_external_actions_task_runner.test.ts
  x-pack/plugins/security_solution/server/endpoint/lib/response_actions/complete_external_actions_task_runner.ts
  x-pack/plugins/security_solution/server/endpoint/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/errors.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/lib/normalized_external_connector_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/lib/normalized_external_connector_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.ts
  x-pack/plugins/security_solution/server/plugin.ts
  x-pack/plugins/security_solution/server/plugin_contract.ts
  x-pack/test/security_solution_endpoint_api_int/apis/endpoint_response_actions/agent_type_support.ts
Labels: release_note:skip, Team:Defend Workflows, v8.14.0

#179794 [Serverless] validate response
  x-pack/test_serverless/functional/test_suites/common/management/data_views/serverless.ts
Labels: release_note:skip, backport:skip, v8.14.0

#179824 [Observability AI Assistant] Update label in path-labeller.yml
  .github/paths-labeller.yml
Labels: release_note:skip

#179757 [Part of #176153] Rendering FTR core plugin
  test/plugin_functional/test_suites/core_plugins/rendering.ts
Labels: chore, Team:Core, release_note:skip, backport:skip

#179176 [EDR Workflows] Add possibility to disable malware filescan on write
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  x-pack/plugins/fleet/server/saved_objects/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/index.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_14_0.test.ts
  x-pack/plugins/fleet/server/saved_objects/migrations/security_solution/to_v8_14_0.ts
  x-pack/plugins/fleet/tsconfig.json
  x-pack/plugins/security_solution/common/endpoint/models/policy_config.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.test.ts
  x-pack/plugins/security_solution/common/endpoint/models/policy_config_helpers.ts
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/common/experimental_features.ts
  x-pack/plugins/security_solution/public/management/pages/policy/store/policy_details/index.test.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_settings_form/components/cards/malware_protections_card.test.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_settings_form/components/cards/malware_protections_card.tsx
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_settings_form/mocks.ts
  x-pack/plugins/security_solution/public/management/pages/policy/view/policy_settings_layout/policy_settings_layout.test.tsx
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Defend Workflows

#179792 [ZDT] add aliases when creating the index
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/model/stages/create_target_index.test.mocks.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/model/stages/create_target_index.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/model/stages/create_target_index.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/model/stages/init.test.mocks.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/model/stages/init.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/model/stages/init.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/next.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/next.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/state/types.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/utils/get_creation_aliases.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/utils/get_creation_aliases.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/zdt/utils/index.ts
  src/core/server/integration_tests/saved_objects/migrations/zdt_1/create_index.test.ts
  src/core/server/integration_tests/saved_objects/migrations/zdt_v2_compat/create_index.test.ts
Labels: Team:Core, release_note:skip, Feature:Migrations, v8.14.0

#179833 [ML] Unskip a11y tests and fix datavisualizer test
  x-pack/plugins/ml/public/application/datavisualizer/datavisualizer_selector.tsx
  x-pack/test/accessibility/apps/group2/ml.ts
Labels: :ml, release_note:skip, backport:skip, v8.14.0

#179804 [Lens] Not display the timeRange error for ES|QL charts
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
Labels: release_note:skip, Feature:Lens, backport:prev-minor, Feature:ES|QL, v8.14.0, v8.13.1, Team:ESQL

#179856 chore(NA): bump version to 8.13.2
  package.json
  x-pack/package.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.13.2

#179857 chore(NA): update versions after v8.13.2 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.14.0

#179849 [8.13] [Lens] Not display the timeRange error for ES|QL charts (#179804)
  x-pack/plugins/lens/public/embeddable/embeddable.tsx
Labels: backport

#179707 [ES|QL] client-side validation: make `and` and `or` accept `null`
  packages/kbn-esql-ast/src/ast_walker.ts
  packages/kbn-esql-validation-autocomplete/src/definitions/builtin.ts
  packages/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  packages/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
Labels: release_note:fix, Feature:ES|QL, v8.14.0, Team:ESQL

#179678 [kbn/es] Add support for data path
  packages/kbn-es/src/cli_commands/serverless.ts
  packages/kbn-es/src/utils/docker.test.ts
  packages/kbn-es/src/utils/docker.ts
  packages/kbn-test/src/es/test_es_cluster.ts
Labels: Team:Operations, release_note:skip, backport:skip, ci:serverless-test-all, ci:project-deploy-elasticsearch, v8.14.0

#179614 Fix license modal not showing every message
  x-pack/plugins/license_management/public/application/store/actions/start_basic.js
Labels: bug, release_note:skip, Team:EnterpriseSearch, v8.14.0, v8.13.2

#179637 [Search] Sanitize Create and Attach button index name
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/attach_index_box.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_name_and_description_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.14.0, v8.13.2

#178727 [EDR Workflows] Fix automated process action field name behavior
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/endpoint/field_name.tsx
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/form.cy.ts
Labels: release_note:skip, Team:Defend Workflows, v8.14.0, v8.13.2

#179770 [Response Ops][Alerting] Add managed: true to meta for alerting API keys
  x-pack/plugins/alerting/server/rules_client_factory.test.ts
  x-pack/plugins/alerting/server/rules_client_factory.ts
Labels: release_note:skip, Team:ResponseOps, v8.14.0

#179862 [8.13] [Search] Sanitize Create and Attach button index name (#179637)
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/attach_index_box.tsx
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_name_and_description_logic.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/connector_view_logic.ts
Labels: backport

#179863 [8.13] Fix license modal not showing every message (#179614)
  x-pack/plugins/license_management/public/application/store/actions/start_basic.js
Labels: backport

#179850 [ES|QL] Update grammars
  packages/kbn-esql-ast/src/antlr/esql_lexer.g4
  packages/kbn-esql-ast/src/antlr/esql_lexer.interp
  packages/kbn-esql-ast/src/antlr/esql_lexer.tokens
  packages/kbn-esql-ast/src/antlr/esql_lexer.ts
  packages/kbn-esql-ast/src/antlr/esql_parser.g4
  packages/kbn-esql-ast/src/antlr/esql_parser.interp
  packages/kbn-esql-ast/src/antlr/esql_parser.tokens
  packages/kbn-esql-ast/src/antlr/esql_parser.ts
  packages/kbn-esql-ast/src/antlr/esql_parser_listener.ts
  packages/kbn-esql-ast/src/ast_walker.ts
  packages/kbn-esql-validation-autocomplete/src/code_actions/actions.ts
  packages/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  packages/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
Labels: release_note:skip, Team:ESQL

#179866 [8.13] [EDR Workflows] Fix automated process action field name behavior (#178727)
  x-pack/plugins/security_solution/public/detection_engine/rule_response_actions/endpoint/field_name.tsx
  x-pack/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/form.cy.ts
Labels: backport

#179487 [Search] [Playground] Pick context fields + Mute support for Nested Vector
  x-pack/plugins/search_playground/__mocks__/fetch_query_source_fields.mock.ts
  x-pack/plugins/search_playground/public/components/chat.tsx
  x-pack/plugins/search_playground/public/components/edit_context/edit_context_action.tsx
  x-pack/plugins/search_playground/public/components/edit_context/edit_context_flyout.tsx
  x-pack/plugins/search_playground/public/components/sources_panel/sources_panel_for_start_chat.tsx
  x-pack/plugins/search_playground/public/components/toolbar.tsx
  x-pack/plugins/search_playground/public/providers/playground_provider.tsx
  x-pack/plugins/search_playground/public/types.ts
  x-pack/plugins/search_playground/public/utils/create_query.test.ts
  x-pack/plugins/search_playground/public/utils/create_query.ts
  x-pack/plugins/search_playground/server/routes.ts
  x-pack/plugins/search_playground/server/utils/conversational_chain.test.ts
  x-pack/plugins/search_playground/server/utils/conversational_chain.ts
  x-pack/plugins/search_playground/server/utils/elasticsearch_retriever.ts
  x-pack/plugins/search_playground/server/utils/fetch_query_source_fields.test.ts
  x-pack/plugins/search_playground/server/utils/fetch_query_source_fields.ts
Labels: release_note:skip, Team:EnterpriseSearch, v8.14.0

#177139 [Cases] Add documentation
  x-pack/plugins/cases/server/connectors/cases/README.md
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.14.0

#179842 [8.13] [Dashboard] [Controls] Fix bug with drilldowns when source dashboard has no controls (#179485)
  src/plugins/controls/public/control_group/embeddable/control_group_container.tsx
  src/plugins/controls/public/control_group/types.ts
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
Labels: backport

#179662 [Fleet] Use latest compatible version in K8's manifest instead of latest available version
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.ts
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.test.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.ts
  x-pack/plugins/fleet/server/services/agents/crud.test.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.test.ts
  x-pack/plugins/fleet/server/services/agents/upgrade_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/versions.test.ts
  x-pack/plugins/fleet/server/services/agents/versions.ts
  x-pack/plugins/fleet/server/services/index.ts
Labels: release_note:fix, Team:Fleet, backport:prev-minor, ci:project-deploy-security

#179706 [Detection Engine][FTR] Audit DE exceptions tests
  .buildkite/ftr_configs.yml
  .buildkite/scripts/pipelines/security_solution_quality_gate/api_integration/api-integration-tests.sh
  packages/kbn-es/src/serverless_resources/security_roles.json
  x-pack/test/security_solution_api_integration/package.json
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/alerts/basic_license_essentials_tier/query_alerts.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/date_numeric_types/basic_license_essentials_tier/configs/ess.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/date_numeric_types/basic_license_essentials_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/date_numeric_types/basic_license_essentials_tier/date.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/date_numeric_types/basic_license_essentials_tier/double.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/date_numeric_types/basic_license_essentials_tier/float.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/date_numeric_types/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/date_numeric_types/basic_license_essentials_tier/integer.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/ips/basic_license_essentials_tier/configs/ess.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/ips/basic_license_essentials_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/ips/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/ips/basic_license_essentials_tier/ip.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/ips/basic_license_essentials_tier/ip_array.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/keyword/basic_license_essentials_tier/configs/ess.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/keyword/basic_license_essentials_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/keyword/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/keyword/basic_license_essentials_tier/keyword.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/keyword/basic_license_essentials_tier/keyword_array.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/long/basic_license_essentials_tier/configs/ess.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/long/basic_license_essentials_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/long/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/long/basic_license_essentials_tier/long.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/text/basic_license_essentials_tier/configs/ess.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/text/basic_license_essentials_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/text/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/text/basic_license_essentials_tier/text.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/operators_data_types/text/basic_license_essentials_tier/text_array.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/configs/ess.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/configs/serverless.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/create_endpoint_exceptions.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/create_rule_exceptions.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/create_rule_exceptions_ess.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/exception_comments_ess.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/exception_comments_serverless.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/exceptions_data_integrity.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/find_rule_exception_references.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/index.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/prebuilt_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/basic_license_essentials_tier/rule_exceptions_execution.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/detection_engine/exceptions/workflows/trial_license_complete_tier/role_based_rule_exceptions_workflows.ts
Labels: release_note:skip, Team:Detection Engine, v8.14.0

#179781 [Fleet] Add cypress test for subfeature privileges
  x-pack/plugins/fleet/cypress/e2e/privilages_fleet_agents_read_integrations_none.cy.ts
  x-pack/plugins/fleet/cypress/e2e/privileges_editor_role.cy.ts
  x-pack/plugins/fleet/cypress/e2e/privileges_fleet_all_integrations_none.cy.ts
  x-pack/plugins/fleet/cypress/e2e/privileges_fleet_all_integrations_read.cy.ts
  x-pack/plugins/fleet/cypress/e2e/privileges_viewer_role.cy.ts
  x-pack/plugins/fleet/cypress/screens/fleet.ts
  x-pack/plugins/fleet/cypress/tasks/privileges.ts
  x-pack/plugins/fleet/public/applications/fleet/app.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_list_page/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/hooks/use_fleet_server_unhealthy.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/hooks/use_fleet_server_unhealthy.tsx
  x-pack/test/fleet_cypress/config.ts
Labels: release_note:skip, Team:Fleet

#178592 [Data Discovery] Unskip tests skipped in #175740
  test/functional/apps/discover/group1/_discover.ts
  test/functional/apps/discover/group1/_url_state.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
  x-pack/test_serverless/functional/test_suites/common/discover_ml_uptime/discover/index.ts
  x-pack/test_serverless/functional/test_suites/common/discover_ml_uptime/discover/search_source_alert.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#179876 [8.13] [Fleet] Use latest compatible version in K8&#x27;s manifest instead of latest available version (#179662)
  x-pack/plugins/fleet/server/routes/agent/upgrade_handler.ts
  x-pack/plugins/fleet/server/routes/agent_policy/handlers.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.test.ts
  x-pack/plugins/fleet/server/services/agents/agent_service.ts
  x-pack/plugins/fleet/server/services/agents/crud.test.ts
  x-pack/plugins/fleet/server/services/agents/crud.ts
  x-pack/plugins/fleet/server/services/agents/index.ts
  x-pack/plugins/fleet/server/services/agents/upgrade.test.ts
  x-pack/plugins/fleet/server/services/agents/upgrade_action_runner.ts
  x-pack/plugins/fleet/server/services/agents/versions.test.ts
  x-pack/plugins/fleet/server/services/agents/versions.ts
  x-pack/plugins/fleet/server/services/index.ts
Labels: backport, Team:Fleet

#179812 [8.13] [Discover] Unskip runtime field tests (#179627)
  test/functional/apps/discover/group4/_runtime_fields_editor.ts
Labels: backport

#179878 [8.13] [Data Discovery] Unskip tests skipped in #175740 (#178592)
  test/functional/apps/discover/group1/_discover.ts
  test/functional/apps/discover/group1/_url_state.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
  x-pack/test_serverless/functional/test_suites/common/discover_ml_uptime/discover/index.ts
  x-pack/test_serverless/functional/test_suites/common/discover_ml_uptime/discover/search_source_alert.ts
Labels: backport

#173948 [data views] DataViewLazy implementation phase 1
  packages/kbn-optimizer/limits.yml
  src/plugins/data_view_editor/public/components/data_view_flyout_content_container.tsx
  src/plugins/data_views/common/data_views/__snapshots__/data_view_lazy.test.ts.snap
  src/plugins/data_views/common/data_views/__snapshots__/data_views.test.ts.snap
  src/plugins/data_views/common/data_views/abstract_data_views.ts
  src/plugins/data_views/common/data_views/data_view.ts
  src/plugins/data_views/common/data_views/data_view_lazy.test.ts
  src/plugins/data_views/common/data_views/data_view_lazy.ts
  src/plugins/data_views/common/data_views/data_view_lazy_util.ts
  src/plugins/data_views/common/data_views/data_views.test.ts
  src/plugins/data_views/common/data_views/data_views.ts
  src/plugins/data_views/common/data_views/index.ts
  src/plugins/data_views/common/index.ts
  src/plugins/data_views/common/types.ts
  src/plugins/data_views/server/mocks.ts
  src/plugins/data_views/server/rest_api_routes/public/create_data_view.ts
  src/plugins/data_views/server/rest_api_routes/public/fields/update_fields.test.ts
  src/plugins/data_views/server/rest_api_routes/public/fields/update_fields.ts
  src/plugins/data_views/server/rest_api_routes/public/get_data_view.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/create_runtime_field.test.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/create_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/delete_runtime_field.test.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/delete_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/get_runtime_field.test.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/get_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/put_runtime_field.test.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/put_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/response_formatter.test.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/response_formatter.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/update_runtime_field.test.ts
  src/plugins/data_views/server/rest_api_routes/public/runtime_fields/update_runtime_field.ts
  src/plugins/data_views/server/rest_api_routes/public/scripted_fields/create_scripted_field.ts
  src/plugins/data_views/server/rest_api_routes/public/scripted_fields/delete_scripted_field.ts
  src/plugins/data_views/server/rest_api_routes/public/scripted_fields/get_scripted_field.ts
  src/plugins/data_views/server/rest_api_routes/public/scripted_fields/put_scripted_field.ts
  src/plugins/data_views/server/rest_api_routes/public/scripted_fields/update_scripted_field.ts
  src/plugins/data_views/server/rest_api_routes/public/update_data_view.ts
  x-pack/plugins/observability_solution/logs_shared/server/services/log_views/log_views_client.test.ts
Labels: Feature:Data Views, release_note:skip, Team:DataDiscovery

#179031 [Cloud Security] Move credentials type strings to constants for all cloud providers
  x-pack/plugins/cloud_security_posture/common/constants.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/aws_credentials_form/aws_credentials_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/aws_credentials_form/get_aws_credentials_form_options.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/aws_credentials_form/hooks.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/azure_credentials_form/azure_credentials_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/azure_credentials_form/azure_credentials_form_agentless.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/azure_credentials_form/get_azure_credentials_form_options.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/azure_credentials_form/hooks.ts
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/gcp_credentials_form/gcp_credential_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/policy_template_form.tsx
  x-pack/plugins/cloud_security_posture/public/components/fleet_extensions/utils.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security

#179819 [Fleet] added CPU metrics to request diagnostics
  x-pack/plugins/fleet/common/openapi/bundled.json
  x-pack/plugins/fleet/common/openapi/bundled.yaml
  x-pack/plugins/fleet/common/openapi/entrypoint.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@bulk_request_diagnostics.yaml
  x-pack/plugins/fleet/common/openapi/paths/agents@{agent_id}@request_diagnostics.yaml
  x-pack/plugins/fleet/common/openapi/paths/epm@templates@{pkg_name}@{pkg_version}@inputs.yaml
  x-pack/plugins/fleet/common/types/rest_spec/agent.ts
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/agent_details_page/components/agent_diagnostics/index.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_request_diagnostics_modal/index.test.tsx
  x-pack/plugins/fleet/public/applications/fleet/sections/agents/components/agent_request_diagnostics_modal/index.tsx
  x-pack/plugins/fleet/public/hooks/use_request/agents.ts
  x-pack/plugins/fleet/server/routes/agent/request_diagnostics_handler.test.ts
  x-pack/plugins/fleet/server/routes/agent/request_diagnostics_handler.ts
  x-pack/plugins/fleet/server/services/agents/request_diagnostics.ts
  x-pack/plugins/fleet/server/services/agents/request_diagnostics_action_runner.ts
  x-pack/plugins/fleet/server/types/rest_spec/agent.ts
  x-pack/test/fleet_api_integration/apis/agents/request_diagnostics.ts
Labels: release_note:enhancement, backport:skip, Team:Fleet

#179791 [ES|QL] Change team ownership
  .buildkite/scripts/steps/esql_grammar_sync.sh
Labels: release_note:skip, Feature:ES|QL, v8.14.0, Team:ESQL

#179865 [Console] Fix hook for setting initial value in Monaco editor
  src/plugins/console/public/application/containers/editor/monaco/monaco_editor.tsx
  src/plugins/console/public/application/containers/editor/monaco/use_set_initial_value.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip

#179867 fix issue with font size in markdown component
  packages/shared-ux/markdown/impl/markdown.tsx
Labels: release_note:skip, Team:SharedUX, backport:all-open

#179272 remove unused legacy markdown component
  src/plugins/kibana_react/public/index.ts
  src/plugins/kibana_react/public/markdown/__snapshots__/markdown.test.tsx.snap
  src/plugins/kibana_react/public/markdown/_markdown.scss
  src/plugins/kibana_react/public/markdown/index.scss
  src/plugins/kibana_react/public/markdown/index.tsx
  src/plugins/kibana_react/public/markdown/markdown.test.tsx
  src/plugins/kibana_react/public/markdown/markdown.tsx
  src/plugins/kibana_react/public/markdown/markdown_simple.tsx
Labels: release_note:fix, Team:SharedUX

#179892 Fix buttons must have discernible text issue by adding aria-label
  x-pack/plugins/observability_solution/observability/public/pages/alerts/components/rule_stats.tsx
Labels: bug, Feature:Alerting, release_note:skip, Team:obs-ux-management

#179409 [Cases] Case action UI implementation
  x-pack/plugins/cases/common/constants/index.ts
  x-pack/plugins/cases/public/components/system_actions/cases/cases.test.tsx
  x-pack/plugins/cases/public/components/system_actions/cases/cases.tsx
  x-pack/plugins/cases/public/components/system_actions/cases/cases_params.test.tsx
  x-pack/plugins/cases/public/components/system_actions/cases/cases_params.tsx
  x-pack/plugins/cases/public/components/system_actions/cases/constants.ts
  x-pack/plugins/cases/public/components/system_actions/cases/translations.ts
  x-pack/plugins/cases/public/components/system_actions/cases/types.ts
  x-pack/plugins/cases/public/components/system_actions/cases/utils.test.ts
  x-pack/plugins/cases/public/components/system_actions/cases/utils.ts
  x-pack/plugins/cases/public/components/system_actions/hooks/alert_fields.ts
  x-pack/plugins/cases/public/components/system_actions/hooks/alert_index.ts
  x-pack/plugins/cases/public/components/system_actions/hooks/use_alert_data_view.test.tsx
  x-pack/plugins/cases/public/components/system_actions/hooks/use_alert_data_view.ts
  x-pack/plugins/cases/public/components/system_actions/index.ts
  x-pack/plugins/cases/public/plugin.test.ts
  x-pack/plugins/cases/public/plugin.ts
  x-pack/plugins/cases/public/types.ts
  x-pack/plugins/cases/server/connectors/cases/cases_connector.test.ts
  x-pack/plugins/cases/server/connectors/cases/cases_connector.ts
  x-pack/plugins/cases/server/connectors/cases/constants.ts
  x-pack/plugins/cases/server/connectors/cases/index.ts
  x-pack/plugins/cases/server/connectors/cases/schema.ts
  x-pack/plugins/cases/tsconfig.json
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/action_type_form.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/action_connector_form/system_action_type_form.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases

#179902 [8.13] fix issue with font size in markdown component (#179867)
  packages/shared-ux/markdown/impl/markdown.tsx
Labels: backport

#179762 [Security Solution] Prepare for unattended endpoint transforms
  x-pack/plugins/security_solution/common/endpoint/utils/package_v2.ts
  x-pack/plugins/security_solution/public/management/cypress/support/plugin_handlers/endpoint_data_loader.ts
Labels: release_note:skip, v8.14.0

#179561 [kbn-test] remove deprecated auth route
  packages/kbn-test/src/auth/saml_auth.ts
Labels: release_note:skip, FTR, v8.14.0, v8.13.1

#179697 [CHORE][TELEMETRY] Remove unused value
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
Labels: chore, Team:Presentation, release_note:skip

#179900 Fix retries for parallel_serverless Cypress tests
  x-pack/plugins/security_solution/scripts/run_cypress/parallel.ts
  x-pack/plugins/security_solution/scripts/run_cypress/parallel_serverless.ts
Labels: release_note:skip

#179775 [RAM] add the must/must_not/should in the alert search strategy
  x-pack/plugins/rule_registry/server/search_strategy/search_strategy.ts
  x-pack/test/rule_registry/security_and_spaces/tests/basic/search_strategy.ts
Labels: bug, release_note:fix, Team:ResponseOps, v8.14.0, v8.13.1

#179262 [Connectors][Jira] Add support for custom fieldsin the UI
  x-pack/plugins/stack_connectors/common/jira/constants.ts
  x-pack/plugins/stack_connectors/public/connector_types/jira/jira.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/jira/jira.tsx
  x-pack/plugins/stack_connectors/public/connector_types/jira/jira_params.test.tsx
  x-pack/plugins/stack_connectors/public/connector_types/jira/jira_params.tsx
  x-pack/plugins/stack_connectors/public/connector_types/jira/translations.ts
  x-pack/plugins/stack_connectors/public/connector_types/jira/types.ts
  x-pack/plugins/stack_connectors/server/connector_types/jira/schema.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/jira/validators.ts
  x-pack/plugins/triggers_actions_ui/public/application/components/json_editor_with_message_variables.tsx
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/connector_types/jira.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors/jira.ts
Labels: Team:ResponseOps, release_note:feature, Feature:Actions/ConnectorTypes, v8.14.0

#179920 [8.13] [kbn-test] remove deprecated auth route (#179561)
  packages/kbn-test/src/auth/saml_auth.ts
Labels: backport

#179623 [Obs AI Assistant] Disable plugin in Serverless ES, Security
  config/serverless.es.yml
  config/serverless.security.yml
  x-pack/plugins/observability_solution/apm/kibana.jsonc
  x-pack/plugins/observability_solution/apm/public/components/app/error_group_details/error_sampler/error_sample_contextual_insight.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/service_inventory/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/service_overview/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/service_overview/service_overview_throughput_chart.tsx
  x-pack/plugins/observability_solution/apm/public/components/app/transaction_overview/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/routing/templates/apm_main_template.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/charts/latency_chart/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/transactions_table/index.tsx
  x-pack/plugins/observability_solution/apm/public/context/apm_plugin/apm_plugin_context.tsx
  x-pack/plugins/observability_solution/apm/public/plugin.ts
  x-pack/plugins/observability_solution/apm/server/plugin.ts
  x-pack/plugins/observability_solution/apm/server/types.ts
  x-pack/plugins/observability_solution/exploratory_view/kibana.jsonc
  x-pack/plugins/observability_solution/exploratory_view/public/plugin.ts
  x-pack/plugins/observability_solution/infra/kibana.jsonc
  x-pack/plugins/observability_solution/infra/public/alerting/log_threshold/components/alert_details_app_section/components/log_rate_analysis.tsx
  x-pack/plugins/observability_solution/infra/public/apps/common_providers.tsx
  x-pack/plugins/observability_solution/infra/public/apps/logs_app.tsx
  x-pack/plugins/observability_solution/infra/public/apps/metrics_app.tsx
  x-pack/plugins/observability_solution/infra/public/components/asset_details/tabs/processes/process_row.tsx
  x-pack/plugins/observability_solution/infra/public/types.ts
  x-pack/plugins/observability_solution/logs_shared/kibana.jsonc
  x-pack/plugins/observability_solution/logs_shared/public/components/logging/log_entry_flyout/log_entry_flyout.tsx
  x-pack/plugins/observability_solution/logs_shared/public/plugin.ts
  x-pack/plugins/observability_solution/logs_shared/public/types.ts
  x-pack/plugins/observability_solution/observability/kibana.jsonc
  x-pack/plugins/observability_solution/observability/public/pages/alert_details/alert_details.tsx
  x-pack/plugins/observability_solution/observability/public/plugin.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/kibana.jsonc
  x-pack/plugins/observability_solution/observability_logs_explorer/public/logs_explorer_customizations/flyout_content.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/types.ts
  x-pack/plugins/observability_solution/profiling/kibana.jsonc
  x-pack/plugins/observability_solution/profiling/public/components/frame_information_window/frame_information_ai_assistant.tsx
  x-pack/plugins/observability_solution/profiling/public/types.ts
  x-pack/plugins/observability_solution/slo/kibana.jsonc
  x-pack/plugins/observability_solution/slo/public/pages/slo_details/slo_details.tsx
  x-pack/plugins/observability_solution/slo/public/pages/slos/components/slo_list.tsx
  x-pack/plugins/observability_solution/slo/public/types.ts
  x-pack/plugins/observability_solution/synthetics/kibana.jsonc
  x-pack/plugins/observability_solution/synthetics/public/plugin.ts
  x-pack/plugins/observability_solution/uptime/kibana.jsonc
  x-pack/plugins/observability_solution/uptime/public/plugin.ts
  x-pack/plugins/observability_solution/ux/kibana.jsonc
  x-pack/plugins/observability_solution/ux/public/plugin.ts
Labels: release_note:skip, Team:Obs AI Assistant, Team:obs-ux-infra_services, Team:obs-ux-management, apm:review, v8.14.0

#178869 [Security Solution] Access visualization responses
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.test.tsx
  x-pack/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, ci:cloud-deploy, v8.14.0

#179917 [Fleet] Skip 10m wait after agent upgrade if agent cleared watching state
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.test.ts
  x-pack/plugins/fleet/common/services/is_agent_upgradeable.ts
Labels: release_note:fix, Team:Fleet, backport:prev-minor

#179847 Add .puppeteerrc
  .puppeteerrc
  src/dev/build/tasks/copy_legacy_source_task.ts
Labels: Team:Operations, release_note:fix, Feature:Reporting, backport:all-open

#179761 [ML] Single Metric Viewer embeddable: ensure detector index is passed to chart correctly
  x-pack/plugins/ml/public/embeddables/single_metric_viewer/embeddable_single_metric_viewer_container.tsx
Labels: release_note:fix, :ml, Feature:Anomaly Detection, v8.14.0, v8.13.2

#179925 Minimize use of `cliArgs.serverless`
  packages/kbn-config/src/config_service.ts
Labels: chore, Team:Core, release_note:skip, backport:skip

#179929 [8.13] [RAM] add the must/must_not/should in the alert search strategy (#179775)
  x-pack/plugins/rule_registry/server/search_strategy/search_strategy.ts
  x-pack/test/rule_registry/security_and_spaces/tests/basic/search_strategy.ts
Labels: backport

#178408 [Security Solution][Investigations] Improve cypress tests
  x-pack/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/common_flows.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/sourcerer/sourcerer_timeline.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_details/common_flows.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/explore/cases/attach_timeline.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/explore/overview/overview.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/explore/urls/state.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/alerts_details.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/investigate_in_timeline.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timeline_templates/export.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/correlation_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/creation.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/data_providers.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/esql/esql_state.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/export.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/filters.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/local_storage.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/open_timeline.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/overview.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/query_tab.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/url_state.cy.ts
  x-pack/test/security_solution_cypress/cypress/screens/timelines.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/timelines.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations, 8.14 candidate

#179882 [Reporting] update logs and docs on headless browser connection
  docs/setup/configuring-reporting.asciidoc
  x-pack/plugins/reporting/server/config/create_config.ts
Labels: release_note:skip, docs

#179939 [8.13] Add .puppeteerrc (#179847)
  .puppeteerrc
  src/dev/build/tasks/copy_legacy_source_task.ts
Labels: backport

#179747 Upgrade elasticsearch-js to 8.13.0
  package.json
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/internals/increment_counter_internal.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/internals/internal_bulk_resolve.ts
  src/plugins/data_views/server/fetcher/lib/es_api.ts
  x-pack/packages/ml/aiops_log_rate_analysis/queries/fetch_index_info.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.test.ts
  x-pack/plugins/enterprise_search/common/ml_inference_pipeline/index.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/api/pipelines/create_ml_inference_pipeline.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/ml_inference_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/pipeline_select_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/ml_inference/test_pipeline_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_json_configurations_logic.test.ts
  x-pack/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines_logic.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/pipelines/ml_inference/pipeline_processors/create_ml_inference_pipeline.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/pipelines/ml_inference/pipeline_processors/get_ml_inference_pipeline_processors.test.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/create_pipeline_definitions.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
  x-pack/plugins/file_upload/server/analyze_file.tsx
  x-pack/plugins/grokdebugger/server/routes/api/grokdebugger/register_grok_simulate_route.ts
  x-pack/plugins/ingest_pipelines/common/lib/pipeline_serialization.test.ts
  x-pack/plugins/ingest_pipelines/server/routes/api/simulate.ts
  x-pack/plugins/ml/public/application/components/ml_inference/add_inference_pipeline_flyout.tsx
  x-pack/plugins/ml/public/application/components/ml_inference/components/test_pipeline.tsx
  x-pack/plugins/ml/public/application/model_management/create_pipeline_for_model/get_pipeline_config.ts
  x-pack/plugins/ml/public/application/model_management/test_models/models/inference_base.ts
  x-pack/plugins/ml/server/routes/trained_models.ts
  x-pack/plugins/security/server/routes/authorization/roles/put.ts
  x-pack/plugins/snapshot_restore/server/routes/api/repositories.ts
  x-pack/test/accessibility/apps/group3/snapshot_and_restore.ts
  x-pack/test/functional/apps/ml/short_tests/model_management/model_list.ts
  x-pack/test/functional/apps/snapshot_restore/snapshot_restore.ts
  yarn.lock
Labels: Team:Core, release_note:skip, dependencies, backport:skip

#179927 [main] Sync bundled packages with Package Storage
  fleet_packages.json
Labels: release_note:skip, automation

#179910 [APM][Serverless] Fix missing settings key
  packages/serverless/settings/observability_project/index.ts
Labels: release_note:fix, v8.14.0

#179942 [8.13] [ML] Single Metric Viewer embeddable: ensure detector index is passed to chart correctly (#179761)
  x-pack/plugins/ml/public/embeddables/single_metric_viewer/embeddable_single_metric_viewer_container.tsx
Labels: backport

#179901 [serverless] add sorting
  x-pack/test/functional/es_archives/reporting/unmapped_fields/mappings.json
  x-pack/test_serverless/api_integration/test_suites/common/reporting/__snapshots__/generate_csv_discover.snap
  x-pack/test_serverless/api_integration/test_suites/common/reporting/generate_csv_discover.ts
Labels: release_note:skip, backport:skip

#179944 [7.17] Add .puppeteerrc (#179847)
  .puppeteerrc
  src/dev/build/tasks/copy_source_task.ts
Labels: backport

#179964 [8.13] Fix text settings to be honored in Canvas markdown elements (#179948)
  packages/shared-ux/markdown/impl/README.mdx
  packages/shared-ux/markdown/impl/markdown.test.tsx
  packages/shared-ux/markdown/impl/markdown.tsx
Labels: backport

#179938 fix: [Integrations > Kubernetes integration detail][BUG]: Empty button is throwing an axe-core error
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/detail/overview/overview.tsx
Labels: release_note:skip, Feature:Fleet, Team:Fleet, Team: SecuritySolution, v8.14.0

#179953 [ES|QL] Inline editing flyout styles
  x-pack/plugins/lens/public/app_plugin/shared/edit_on_the_fly/get_edit_lens_configuration.tsx
Labels: Team:Visualizations, release_note:skip, Feature:Lens, backport:skip, v8.14.0

#179667 [Embeddable Rebuild] Make React embeddables work in Canvas
  examples/embeddable_examples/public/react_embeddables/eui_markdown/create_eui_markdown_action.tsx
  examples/embeddable_examples/public/react_embeddables/field_list/create_field_list_action.tsx
  examples/embeddable_examples/public/react_embeddables/search/register_add_search_panel_action.tsx
  examples/embeddable_examples/tsconfig.json
  packages/presentation/presentation_containers/index.ts
  packages/presentation/presentation_containers/interfaces/presentation_container.ts
  packages/presentation/presentation_publishing/index.ts
  packages/presentation/presentation_publishing/interfaces/can_add_new_panel.ts
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  src/plugins/embeddable/public/lib/containers/container.ts
  src/plugins/embeddable/public/react_embeddable_system/react_embeddable_renderer.tsx
  src/plugins/ui_actions/public/mocks.ts
  src/plugins/ui_actions/public/service/ui_actions_service.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/embeddable.tsx
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/embeddable_input_to_expression.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/embeddable.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/lens.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/map.ts
  x-pack/plugins/canvas/canvas_plugin_src/renderers/embeddable/input_type_to_expression/visualization.ts
  x-pack/plugins/canvas/public/components/embeddable_flyout/flyout.tsx
  x-pack/plugins/canvas/public/components/hooks/use_canvas_api.tsx
  x-pack/plugins/canvas/public/components/hooks/workpad/use_incoming_embeddable.ts
  x-pack/plugins/canvas/public/components/render_with_fn/render_with_fn.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/__stories__/editor_menu.stories.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.component.tsx
  x-pack/plugins/canvas/public/components/workpad_header/editor_menu/editor_menu.tsx
  x-pack/plugins/canvas/public/plugin.tsx
  x-pack/plugins/canvas/public/services/index.ts
  x-pack/plugins/canvas/public/services/kibana/index.ts
  x-pack/plugins/canvas/public/services/kibana/ui_actions.ts
  x-pack/plugins/canvas/public/services/stubs/index.ts
  x-pack/plugins/canvas/public/services/stubs/ui_actions.ts
  x-pack/plugins/canvas/public/services/ui_actions.ts
  x-pack/plugins/canvas/public/state/triggers/add_canvas_element_trigger.ts
  x-pack/plugins/canvas/tsconfig.json
  x-pack/plugins/canvas/types/embeddables.ts
Labels: Feature:Embedding, Team:Presentation, loe:medium, release_note:skip, impact:critical, Feature:Canvas, project:embeddableRebuild

#179969 [maps] unskip tests from Chrome v121 upgrade
  x-pack/test/functional/apps/maps/group1/documents_source/search_hits.js
  x-pack/test/functional/apps/maps/group2/es_geo_grid_source.js
Labels: Team:Presentation, release_note:skip, Feature:Maps, v8.14.0

#179746 chore(NA): run failed jest suites only
  .buildkite/scripts/steps/test/jest_parallel.sh
Labels: chore, Team:Operations, release_note:skip, backport:skip, v8.14.0

#179550 [Custom threshold] Improve types by creating CustomThresholdSearchSourceFields
  x-pack/plugins/observability_solution/observability/common/custom_threshold_rule/types.ts
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/components/rule_condition_chart/rule_condition_chart.test.tsx
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/components/rule_condition_chart/rule_condition_chart.tsx
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/components/validation.tsx
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/custom_threshold_rule_expression.tsx
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/helpers/get_search_configuration.test.ts
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/helpers/get_search_configuration.ts
  x-pack/plugins/observability_solution/observability/public/components/custom_threshold/types.ts
  x-pack/plugins/observability_solution/observability/public/rules/register_observability_rule_types.ts
  x-pack/plugins/observability_solution/observability_logs_explorer/public/components/alerts_popover.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/tsconfig.json
Labels: release_note:skip, Team:obs-ux-management

#177263 [Security Solution][Telemetry] Paginate ES queries
  x-pack/plugins/security_solution/server/integration_tests/__mocks__/endpoint-meta-telemetry-request.json
  x-pack/plugins/security_solution/server/integration_tests/__mocks__/endpoint-metadata.json
  x-pack/plugins/security_solution/server/integration_tests/__mocks__/endpoint-metrics.json
  x-pack/plugins/security_solution/server/integration_tests/__mocks__/endpoint-policy.json
  x-pack/plugins/security_solution/server/integration_tests/__mocks__/fleet-agents.json
  x-pack/plugins/security_solution/server/integration_tests/lib/helpers.ts
  x-pack/plugins/security_solution/server/integration_tests/lib/telemetry_helpers.ts
  x-pack/plugins/security_solution/server/integration_tests/receiver.test.ts
  x-pack/plugins/security_solution/server/integration_tests/telemetry.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/__mocks__/fleet_agent_response.ts
  x-pack/plugins/security_solution/server/lib/telemetry/__mocks__/index.ts
  x-pack/plugins/security_solution/server/lib/telemetry/__mocks__/metrics.ts
  x-pack/plugins/security_solution/server/lib/telemetry/async_sender.ts
  x-pack/plugins/security_solution/server/lib/telemetry/configuration.ts
  x-pack/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/plugins/security_solution/server/lib/telemetry/receiver.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender.ts
  x-pack/plugins/security_solution/server/lib/telemetry/sender_helpers.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/configuration.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/detection_rule.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.test.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/endpoint.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/prebuilt_rule_alerts.ts
  x-pack/plugins/security_solution/server/lib/telemetry/tasks/security_lists.ts
  x-pack/plugins/security_solution/server/lib/telemetry/types.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/telemetry/trial_license_complete_tier/task_based/all_types.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/telemetry/trial_license_complete_tier/task_based/detection_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/telemetry/trial_license_complete_tier/task_based/security_lists.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/telemetry/remove_time_fields_from_telemetry_stats.ts
Labels: Feature:Telemetry, release_note:skip, Team: SecuritySolution

#179946 [Security Solution][Detection Engine] fixes getIndexPatternFromESQLQuery utility when parsing ES|QL queries with wildcards
  packages/kbn-esql-utils/src/utils/query_parsing_helpers.test.ts
  packages/kbn-esql-utils/src/utils/query_parsing_helpers.ts
Labels: release_note:skip, Team: SecuritySolution, Team:Detection Engine, v8.14.0

#179916 [Infra][Lens] Remove fields list from the ad-hoc data view object in lens attributes
  packages/kbn-lens-embeddable-utils/config_builder/utils.ts
Labels: Team:Visualizations, release_note:skip, Team:obs-ux-infra_services

#178330 [ObsAssistant] Add Insights component to alerts details
  packages/kbn-alerts-as-data-utils/src/schemas/generated/observability_apm_schema.ts
  packages/kbn-apm-synthtrace-client/src/lib/apm/instance.ts
  packages/kbn-apm-synthtrace-client/src/lib/logs/index.ts
  packages/kbn-apm-synthtrace/src/scenarios/simple_logs.ts
  packages/kbn-apm-synthtrace/src/scenarios/spiked_latency.ts
  packages/kbn-es-types/src/search.ts
  x-pack/plugins/alerting/server/integration_tests/__snapshots__/alert_as_data_fields.test.ts.snap
  x-pack/plugins/observability_solution/apm/public/components/alerting/ui_components/alert_details_app_section/alert_details_contextual_insights.tsx
  x-pack/plugins/observability_solution/apm/public/components/alerting/ui_components/alert_details_app_section/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/alerting/ui_components/alert_details_app_section/types.ts
  x-pack/plugins/observability_solution/apm/public/context/kibana_context/use_kibana.tsx
  x-pack/plugins/observability_solution/apm/server/assistant_functions/get_apm_downstream_dependencies.ts
  x-pack/plugins/observability_solution/apm/server/assistant_functions/get_apm_services_list.ts
  x-pack/plugins/observability_solution/apm/server/lib/helpers/get_random_sampler/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/alerts/register_apm_rule_types.ts
  x-pack/plugins/observability_solution/apm/server/routes/alerts/rule_types/anomaly/get_service_group_fields_for_anomaly.ts
  x-pack/plugins/observability_solution/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.ts
  x-pack/plugins/observability_solution/apm/server/routes/alerts/rule_types/get_service_group_fields.test.ts
  x-pack/plugins/observability_solution/apm/server/routes/alerts/rule_types/get_service_group_fields.ts
  x-pack/plugins/observability_solution/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.ts
  x-pack/plugins/observability_solution/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_alert_details_context/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_service_list/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_service_summary/get_anomalies.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_service_summary/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/fetch_timeseries.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/get_error_event_rate.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/get_exit_span_failure_rate.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/get_exit_span_latency.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/get_exit_span_throughput.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/get_transaction_failure_rate.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/get_transaction_latency.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/get_transaction_throughput.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_log_categories/index.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/route.ts
  x-pack/plugins/observability_solution/observability/public/hooks/use_fetch_alert_detail.ts
  x-pack/plugins/observability_solution/observability/public/pages/alert_details/alert_details.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant/public/components/insight/insight.tsx
  x-pack/plugins/observability_solution/observability_ai_assistant/public/index.ts
  x-pack/plugins/triggers_actions_ui/tsconfig.json
Labels: release_note:enhancement, Team:Obs AI Assistant, Team:obs-knowledge, Team:obs-ux-infra_services, Team:obs-ux-management, v8.14.0

#176804 [RAM] Enable custom alerts table cell popovers
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table.tsx
  x-pack/plugins/triggers_actions_ui/public/application/sections/alerts_table/alerts_table_state.tsx
  x-pack/plugins/triggers_actions_ui/public/types.ts
Labels: release_note:skip, Team:ResponseOps, v8.14.0

#179796 [Cases] Register connector adapter
  x-pack/plugins/actions/server/create_system_actions.test.ts
  x-pack/plugins/actions/server/create_system_actions.ts
  x-pack/plugins/actions/server/plugin.test.ts
  x-pack/plugins/alerting/server/connector_adapters/types.ts
  x-pack/plugins/alerting/server/task_runner/execution_handler.test.ts
  x-pack/plugins/alerting/server/task_runner/execution_handler.ts
  x-pack/plugins/cases/common/constants/owner.test.ts
  x-pack/plugins/cases/common/constants/owners.ts
  x-pack/plugins/cases/kibana.jsonc
  x-pack/plugins/cases/public/components/system_actions/cases/cases.tsx
  x-pack/plugins/cases/public/components/system_actions/cases/cases_params.test.tsx
  x-pack/plugins/cases/public/components/system_actions/cases/cases_params.tsx
  x-pack/plugins/cases/public/components/system_actions/cases/types.ts
  x-pack/plugins/cases/server/connectors/cases/cases_connector_executor.test.ts
  x-pack/plugins/cases/server/connectors/cases/cases_connector_executor.ts
  x-pack/plugins/cases/server/connectors/cases/cases_oracle_service.test.ts
  x-pack/plugins/cases/server/connectors/cases/cases_oracle_service.ts
  x-pack/plugins/cases/server/connectors/cases/constants.ts
  x-pack/plugins/cases/server/connectors/cases/index.mock.ts
  x-pack/plugins/cases/server/connectors/cases/index.test.ts
  x-pack/plugins/cases/server/connectors/cases/index.ts
  x-pack/plugins/cases/server/connectors/cases/schema.ts
  x-pack/plugins/cases/server/connectors/cases/types.ts
  x-pack/plugins/cases/server/connectors/index.ts
  x-pack/plugins/cases/server/plugin.test.ts
  x-pack/plugins/cases/server/plugin.ts
  x-pack/plugins/cases/server/types.ts
  x-pack/plugins/triggers_actions_ui/public/application/sections/rule_details/components/rule_actions.tsx
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/bulk_enqueue.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/execute.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group2/tests/actions/get_all_system.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group4/tests/alerting/alerts.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/execute.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/actions/get_all_system.ts
  x-pack/test/cases_api_integration/common/lib/api/connectors.ts
  x-pack/test/cases_api_integration/common/plugins/cases/kibana.jsonc
  x-pack/test/cases_api_integration/common/plugins/cases/server/plugin.ts
  x-pack/test/cases_api_integration/common/plugins/cases/server/routes.ts
  x-pack/test/cases_api_integration/security_and_spaces/tests/trial/connectors/cases/cases_connector.ts
Labels: release_note:skip, Team:ResponseOps, Feature:Cases, v8.14.0

#180032 [ObsAiAssistant] Fix invalid destructuring of optional
  x-pack/plugins/observability_solution/apm/public/components/alerting/ui_components/alert_details_app_section/alert_details_contextual_insights.tsx
Labels: release_note:skip, Team:obs-ux-infra_services

#180033 [apm] Add observabilityAIAssistant to required bundles
  x-pack/plugins/observability_solution/apm/kibana.jsonc
Labels: release_note:skip, backport:skip, Team:obs-ux-infra_services

#179822 [BK] Buildkite migration: recreate pipelines with no history retention
  .buildkite/pipeline-resource-definitions/fix-location-collection.ts
  .buildkite/pipeline-resource-definitions/kibana-coverage-daily.yml
  .buildkite/pipeline-resource-definitions/kibana-esql-grammar-sync.yml
  .buildkite/pipeline-resource-definitions/kibana-purge-cloud-deployments.yml
  .buildkite/pipeline-resource-definitions/locations.yml
  .buildkite/pipelines/code_coverage/daily.yml
  .buildkite/pipelines/esql_grammar_sync.yml
  .buildkite/pipelines/purge_cloud_deployment.yml
  .buildkite/pipelines/purge_cloud_deployments.yml
  .buildkite/scripts/steps/cloud/purge_deployment.sh
  .buildkite/scripts/steps/cloud/purge_deployment.ts
  .buildkite/scripts/steps/esql_grammar_sync.sh
Labels: Team:Operations, release_note:skip, backport:skip, skip-ci

#178553 [ML] Add more ML calendar UI tests
  x-pack/plugins/ml/public/application/jobs/jobs_list/components/job_details/extract_job_details.js
  x-pack/test/functional/apps/ml/short_tests/settings/calendar_creation.ts
  x-pack/test/functional/services/ml/api.ts
  x-pack/test/functional/services/ml/job_table.ts
  x-pack/test/functional/services/ml/settings_calendar.ts
Labels: :ml, release_note:skip, test-coverage, backport:skip

#179026 [AI Assistant] Compatibility with Portkey Gateway
  .buildkite/pipelines/pull_request/apm_cypress.yml
  x-pack/plugins/actions/server/integration_tests/__snapshots__/connector_types.test.ts.snap
  x-pack/plugins/observability_solution/apm/ftr_e2e/cypress/e2e/rules/error_count.cy.ts
  x-pack/plugins/observability_solution/apm/server/assistant_functions/get_apm_services_list.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/common/functions/types.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/common/utils/process_openai_stream.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/public/service/create_chat_service.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/context.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/get_dataset_info.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/kibana.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/functions/summarize.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/chat_function_client/index.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/adapters/openai_adapter.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/adapters/process_openai_stream.ts
  x-pack/plugins/observability_solution/observability_ai_assistant/server/service/client/index.test.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/common/functions/lens.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/common/functions/visualize_esql.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/alerts.ts
  x-pack/plugins/observability_solution/observability_ai_assistant_app/server/functions/query/index.ts
  x-pack/plugins/stack_connectors/common/openai/schema.ts
  x-pack/plugins/stack_connectors/server/connector_types/openai/openai.test.ts
  x-pack/plugins/stack_connectors/server/connector_types/openai/openai.ts
  x-pack/test/observability_ai_assistant_api_integration/tests/complete/complete.spec.ts
  x-pack/test/observability_ai_assistant_functional/tests/conversations/index.spec.ts
Labels: release_note:skip, Team:Obs AI Assistant, Team:obs-knowledge, Team:obs-ux-infra_services, v8.14.0

#180052 [BK] Add missed schedules from recreated pipelines
  .buildkite/pipeline-resource-definitions/kibana-coverage-daily.yml
  .buildkite/pipeline-resource-definitions/kibana-esql-grammar-sync.yml
Labels: Team:Operations, release_note:skip, backport:skip

#171856 [Security Solution] RFC for Prebuilt Rules Customization - Milestone 3
  .github/CODEOWNERS
  x-pack/plugins/security_solution/docs/rfcs/detection_response/prebuilt_rules_customization.md
Labels: release_note:skip, docs, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management

#179871 [Security Solution][Endpoint] Refactor arguments to Response Actions Clients
  x-pack/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/plugins/security_solution/server/endpoint/routes/actions/response_actions.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/get_response_actions_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/index.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/lib/normalized_external_connector_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/lib/normalized_external_connector_client.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/mocks.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.test.ts
  x-pack/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.ts
Labels: release_note:skip, Team:Defend Workflows, v8.14.0

#179344 Add `created_by` to saved objects
  packages/core/saved-objects/core-saved-objects-api-browser/src/simple_saved_object.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/bulk_create.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/create.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/find.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/helpers/index.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/helpers/user.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/utils/internal_utils.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/apis/utils/internal_utils.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/repository.security_extension.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/utils/create_helpers.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/utils/included_fields.test.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/lib/utils/included_fields.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/mocks/api_helpers.mocks.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/src/mocks/saved_objects_extensions.mock.ts
  packages/core/saved-objects/core-saved-objects-api-server-internal/tsconfig.json
  packages/core/saved-objects/core-saved-objects-api-server-mocks/src/saved_objects_extensions.mock.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/src/serialization/serializer.test.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/src/serialization/serializer.ts
  packages/core/saved-objects/core-saved-objects-base-server-internal/src/validation/schema.ts
  packages/core/saved-objects/core-saved-objects-browser-internal/src/simple_saved_object.ts
  packages/core/saved-objects/core-saved-objects-browser-mocks/src/simple_saved_object.mock.ts
  packages/core/saved-objects/core-saved-objects-common/src/server_types.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/__snapshots__/kibana_migrator.test.ts.snap
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/core/__snapshots__/build_active_mappings.test.ts.snap
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/core/build_active_mappings.test.ts
  packages/core/saved-objects/core-saved-objects-migration-server-internal/src/core/build_active_mappings.ts
  packages/core/saved-objects/core-saved-objects-server/src/extensions/security.ts
  packages/core/saved-objects/core-saved-objects-server/src/serialization.ts
  packages/core/saved-objects/core-saved-objects-server/tsconfig.json
  packages/core/security/core-security-common/mocks.ts
  packages/core/security/core-security-common/src/authentication/authenticated_user.mock.ts
  x-pack/plugins/cases/server/services/user_actions/test_utils.ts
  x-pack/plugins/security/common/model/authenticated_user.mock.ts
  x-pack/plugins/security/server/plugin.ts
  x-pack/plugins/security/server/saved_objects/index.ts
  x-pack/plugins/security/server/saved_objects/saved_objects_security_extension.test.ts
  x-pack/plugins/security/server/saved_objects/saved_objects_security_extension.ts
  x-pack/plugins/security/server/spaces/setup_spaces_client.test.ts
  x-pack/plugins/security/server/spaces/setup_spaces_client.ts
  x-pack/plugins/security/tsconfig.json
Labels: Team:Core, Team:Security, release_note:skip, Team:SharedUX

#179037 Share Modal
  .github/CODEOWNERS
  .i18nrc.json
  package.json
  packages/shared-ux/modal/tabbed/README.mdx
  packages/shared-ux/modal/tabbed/index.tsx
  packages/shared-ux/modal/tabbed/jest.config.js
  packages/shared-ux/modal/tabbed/kibana.jsonc
  packages/shared-ux/modal/tabbed/package.json
  packages/shared-ux/modal/tabbed/src/context/index.test.tsx
  packages/shared-ux/modal/tabbed/src/context/index.tsx
  packages/shared-ux/modal/tabbed/src/tabbed_modal.stories.tsx
  packages/shared-ux/modal/tabbed/src/tabbed_modal.test.tsx
  packages/shared-ux/modal/tabbed/src/tabbed_modal.tsx
  packages/shared-ux/modal/tabbed/storybook/setup.ts
  packages/shared-ux/modal/tabbed/tsconfig.json
  src/plugins/share/kibana.jsonc
  src/plugins/share/public/components/context/index.tsx
  src/plugins/share/public/components/share_tabs.tsx
  src/plugins/share/public/components/tabs/embed/embed_content.tsx
  src/plugins/share/public/components/tabs/embed/index.tsx
  src/plugins/share/public/components/tabs/index.ts
  src/plugins/share/public/components/tabs/link/index.tsx
  src/plugins/share/public/components/tabs/link/link_content.tsx
  src/plugins/share/public/services/share_menu_manager.tsx
  src/plugins/share/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: release_note:skip, Team:SharedUX

#179897 Fix loading default query on the rule details page alerts table and view in app URL for without group by rules
  x-pack/plugins/observability_solution/observability/common/custom_threshold_rule/helpers/get_group.test.ts
  x-pack/plugins/observability_solution/observability/common/custom_threshold_rule/helpers/get_group.ts
  x-pack/plugins/observability_solution/observability/public/components/alert_search_bar/alert_search_bar.test.tsx
  x-pack/plugins/observability_solution/observability/public/components/alert_search_bar/alert_search_bar.tsx
Labels: bug, Feature:Alerting, release_note:skip, Team:obs-ux-management

#179851 [Security Solution] `@brokenInServerlessQA` audit
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/machine_learning_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_edit/custom_query_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/install_update_authorization.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/install_update_error_handling.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/management.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/notifications.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/update_workflow.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/related_integrations/related_integrations.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/bulk_actions/bulk_edit_rules.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/bulk_actions/bulk_edit_rules_actions.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/import_export/export_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/snoozing/rule_snoozing.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rules_table/rules_table_selection.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/alerts/alerts_details.cy.ts
  x-pack/test/security_solution_cypress/cypress/helpers/common.ts
  x-pack/test/security_solution_cypress/cypress/screens/common/rule_actions.ts
  x-pack/test/security_solution_cypress/cypress/tasks/common/rule_actions.ts
  x-pack/test/security_solution_cypress/cypress/tsconfig.json
Labels: release_note:skip, Team: SecuritySolution, v8.14.0

#179758 [Part of #176153] `@kbn/es-types`
  packages/kbn-es-types/src/search.test.ts
  packages/kbn-es-types/src/search.ts
  x-pack/plugins/observability_solution/apm/server/routes/assistant_functions/get_apm_timeseries/fetch_timeseries.ts
Labels: chore, Team:Core, release_note:skip, backport:skip, Team:obs-ux-infra_services

#180053 revert to legacy markdown for TSVB Visualizations
  src/plugins/kibana_react/public/index.ts
  src/plugins/kibana_react/public/markdown/__snapshots__/markdown.test.tsx.snap
  src/plugins/kibana_react/public/markdown/_markdown.scss
  src/plugins/kibana_react/public/markdown/index.scss
  src/plugins/kibana_react/public/markdown/index.tsx
  src/plugins/kibana_react/public/markdown/markdown.test.tsx
  src/plugins/kibana_react/public/markdown/markdown.tsx
  src/plugins/kibana_react/public/markdown/markdown_simple.tsx
  src/plugins/vis_types/timeseries/public/application/components/vis_types/markdown/vis.js
  test/functional/apps/visualize/group6/_tsvb_markdown.ts
Labels: release_note:fix, Team:SharedUX, backport:prev-minor, ci:cloud-deploy, v8.14.0, v8.13.2

#179573 [Observability Onboarding] Export `PackageListGrid`
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.test.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_card.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid/grid.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid/index.stories.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/components/package_list_grid/index.tsx
  x-pack/plugins/fleet/public/applications/integrations/sections/epm/screens/home/card_utils.tsx
  x-pack/plugins/fleet/public/index.ts
Labels: release_note:skip, Team:Fleet, v8.14.0

#179852 [ES|QL] CI job creates non-draft PR
  .buildkite/scripts/steps/esql_grammar_sync.sh
Labels: release_note:skip

#180018 [Cloud Security] Handle empty cloud.account.id field
  x-pack/plugins/cloud_security_posture/common/runtime_mappings/get_belongs_to_runtime_mapping.ts
  x-pack/plugins/cloud_security_posture/common/runtime_mappings/get_identifier_runtime_mapping.ts
Labels: release_note:skip, Team:Cloud Security, v8.14.0

#179532 [Lens] Allow users to choose a layer type when adding a new layer
  x-pack/plugins/lens/public/editor_frame_service/editor_frame/config_panel/config_panel.tsx
  x-pack/plugins/lens/public/state_management/lens_slice.ts
  x-pack/plugins/lens/public/types.ts
  x-pack/plugins/lens/public/visualizations/xy/add_layer.test.tsx
  x-pack/plugins/lens/public/visualizations/xy/add_layer.tsx
  x-pack/plugins/lens/public/visualizations/xy/visualization.tsx
  x-pack/test/functional/apps/lens/group1/smokescreen.ts
  x-pack/test/functional/page_objects/lens_page.ts
  x-pack/test/localization/tests/lens/smokescreen.ts
  x-pack/test_serverless/functional/test_suites/common/visualizations/group1/smokescreen.ts
Labels: Team:Visualizations, release_note:skip, Feature:Lens, v8.14.0

#180073 Upgrade Node.js to 20.12.1
  .node-version
  .nvmrc
  WORKSPACE.bazel
  docs/developer/advanced/upgrading-nodejs.asciidoc
  package.json
Labels: Team:Operations, release_note:skip

#179870 [Search] introduce notebooks plugin
  .github/CODEOWNERS
  docs/developer/plugin-list.asciidoc
  package.json
  tsconfig.base.json
  x-pack/.i18nrc.json
  x-pack/plugins/search_notebooks/README.mdx
  x-pack/plugins/search_notebooks/common/index.ts
  x-pack/plugins/search_notebooks/jest.config.js
  x-pack/plugins/search_notebooks/kibana.jsonc
  x-pack/plugins/search_notebooks/package.json
  x-pack/plugins/search_notebooks/scripts/download_notebooks.sh
  x-pack/plugins/search_notebooks/scripts/notebooks.txt
  x-pack/plugins/search_notebooks/server/config.ts
  x-pack/plugins/search_notebooks/server/data/00_quick_start.json
  x-pack/plugins/search_notebooks/server/data/01_keyword_querying_filtering.json
  x-pack/plugins/search_notebooks/server/data/02_hybrid_search.json
  x-pack/plugins/search_notebooks/server/data/03_elser.json
  x-pack/plugins/search_notebooks/server/data/04_multilingual.json
  x-pack/plugins/search_notebooks/server/index.ts
  x-pack/plugins/search_notebooks/server/lib/notebook_catalog.test.ts
  x-pack/plugins/search_notebooks/server/lib/notebook_catalog.ts
  x-pack/plugins/search_notebooks/server/plugin.ts
  x-pack/plugins/search_notebooks/server/routes/index.ts
  x-pack/plugins/search_notebooks/server/types.ts
  x-pack/plugins/search_notebooks/tsconfig.json
  yarn.lock
Labels: release_note:skip, Team:EnterpriseSearch, v8.14.0

#179613 Tabbed modal component
  packages/shared-ux/modal/tabbed/src/context/index.tsx
Labels: release_note:skip, Team:SharedUX

#179947 [Console Monaco] Add support for loading from a URL
  src/plugins/console/public/application/containers/editor/monaco/use_set_initial_value.ts
Labels: Feature:Console, Team:Kibana Management, release_note:skip, ui-copy

#180081 [8.13] Upgrade Node.js to 20.12.1 (#180073)
  .node-version
  .nvmrc
  WORKSPACE.bazel
  docs/developer/advanced/upgrading-nodejs.asciidoc
  package.json
Labels: backport

#180004 [Fleet] Adjust add agent flyout copy
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_create_inline.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/agent_policy_selection.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/steps/agent_policy_selection_step.tsx
Labels: release_note:skip, Team:Fleet, v8.14.0, v8.13.2

#180075 [8.13] revert to legacy markdown for TSVB Visualizations (#180053)
  src/plugins/vis_types/timeseries/public/application/components/vis_types/markdown/vis.js
  test/functional/apps/visualize/group6/_tsvb_markdown.ts
Labels: backport

#180090 [8.13] [Fleet] Adjust add agent flyout copy (#180004)
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_create_inline.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/agent_policy_selection.tsx
  x-pack/plugins/fleet/public/components/agent_enrollment_flyout/steps/agent_policy_selection_step.tsx
Labels: backport, Team:Fleet

#176974 [DOCS] Add description for untracked alert status
  docs/user/alerting/create-and-manage-rules.asciidoc
  docs/user/alerting/images/rule-details-alerts-active.png
  docs/user/alerting/images/rule-types-index-threshold-example-alerts.png
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/list_view.ts
Labels: release_note:skip, Team:ResponseOps, docs, Feature:Alerting/RulesManagement, backport:prev-minor

#179869 Set app menu bg to shaded color
  packages/core/chrome/core-chrome-browser-internal/src/ui/project/app_menu.tsx
  src/plugins/discover/public/application/main/components/top_nav/discover_topnav_inline.tsx
  x-pack/plugins/observability_solution/observability_logs_explorer/public/components/logs_explorer_top_nav_menu.tsx
Labels: release_note:skip, v8.14.0

#180097 [8.13] [DOCS] Add description for untracked alert status (#176974)
  docs/user/alerting/create-and-manage-rules.asciidoc
  docs/user/alerting/images/rule-details-alerts-active.png
  docs/user/alerting/images/rule-types-index-threshold-example-alerts.png
  x-pack/test/screenshot_creation/apps/response_ops_docs/stack_alerting/list_view.ts
Labels: backport

#179562 [Dataset quality] Adjust Y-Axis scale of degraded docs visualization
  x-pack/plugins/observability_solution/dataset_quality/public/components/flyout/degraded_docs_trend/lens_attributes.ts
Labels: bug, release_note:skip, backport:skip, Team:obs-ux-logs

#180082 [7.17] Upgrade Node.js to 20.12.1 (#180073)
  .ci/Dockerfile
  .node-version
  .nvmrc
  WORKSPACE.bazel
  package.json
Labels: backport

#179776 [embeddable refactor] complete fetch context interface
  examples/embeddable_examples/public/react_embeddables/search/search_react_embeddable.tsx
  packages/presentation/presentation_publishing/index.ts
  packages/presentation/presentation_publishing/interfaces/fetch/initialize_time_range.ts
  packages/presentation/presentation_publishing/interfaces/fetch/on_fetch_context_changed.test.ts
  packages/presentation/presentation_publishing/interfaces/fetch/on_fetch_context_changed.ts
  packages/presentation/presentation_publishing/interfaces/fetch/publishes_reload.ts
  packages/presentation/presentation_publishing/interfaces/fetch/publishes_search_session.ts
  packages/presentation/presentation_publishing/interfaces/fetch/publishes_unified_search.ts
  packages/presentation/presentation_publishing/interfaces/unified_search/initialize_time_range.test.ts
  packages/presentation/presentation_publishing/interfaces/unified_search/initialize_time_range.ts
  src/plugins/dashboard/public/dashboard_container/embeddable/create/search_sessions/start_dashboard_search_session_integration.ts
  src/plugins/dashboard/public/dashboard_container/embeddable/dashboard_container.tsx
  src/plugins/embeddable/public/lib/embeddables/compatibility/embeddable_compatibility_utils.ts
  src/plugins/embeddable/public/lib/embeddables/compatibility/legacy_embeddable_to_api.ts
Labels: Feature:Embedding, Team:Presentation, release_note:skip, project:embeddableRebuild, v8.14.0

#180099 [dx][webpack] Output two additional and helpful visualizations of webpack stats
  package.json
  packages/kbn-optimizer/src/worker/webpack.config.ts
  yarn.lock
Labels: review, Team:Operations, release_note:skip, DX, v8.14.0

#179972 [Discover] Fix dashboard time range flaky test
  x-pack/test/functional/apps/discover/saved_searches.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#179036 [ObsUX] [Infra] Add Infra locators
  x-pack/plugins/observability_solution/observability_shared/public/locators/infra/asset_details_flyout_locator.ts
  x-pack/plugins/observability_solution/observability_shared/public/locators/infra/asset_details_locator.ts
  x-pack/plugins/observability_solution/observability_shared/public/locators/infra/hosts_locator.ts
  x-pack/plugins/observability_solution/observability_shared/public/locators/infra/locators.test.ts
  x-pack/plugins/observability_solution/observability_shared/public/plugin.ts
  x-pack/plugins/observability_solution/observability_shared/tsconfig.json
Labels: release_note:skip, Team:obs-ux-infra_services, v8.14.0

#179840 fix: [Integrations > Add integration prompt][SCREEN READER]: Headings must be properly nested for usability
  x-pack/plugins/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/components/add_first_integration_splash.tsx
Labels: release_note:skip, Feature:Fleet, Team:Fleet, Team: SecuritySolution, v8.14.0

#180111 [8.13] [Discover] Fix dashboard time range flaky test (#179972)
  x-pack/test/functional/apps/discover/saved_searches.ts
Labels: backport

#180083 [Search] [Playground] View code Flyout
  x-pack/plugins/search_playground/common/prompt.ts
  x-pack/plugins/search_playground/common/routes.ts
  x-pack/plugins/search_playground/kibana.jsonc
  x-pack/plugins/search_playground/public/components/view_code/examples/__snapshots__/py_lang_client.test.tsx.snap
  x-pack/plugins/search_playground/public/components/view_code/examples/__snapshots__/py_langchain_python.test.tsx.snap
  x-pack/plugins/search_playground/public/components/view_code/examples/py_lang_client.test.tsx
  x-pack/plugins/search_playground/public/components/view_code/examples/py_lang_client.tsx
  x-pack/plugins/search_playground/public/components/view_code/examples/py_langchain_python.test.tsx
  x-pack/plugins/search_playground/public/components/view_code/examples/py_langchain_python.tsx
  x-pack/plugins/search_playground/public/components/view_code/view_code_flyout.tsx
  x-pack/plugins/search_playground/public/types.ts
  x-pack/plugins/search_playground/server/routes.ts
  x-pack/plugins/search_playground/tsconfig.json
Labels: release_note:skip, v8.14.0

#180041 [Docs] Add markdown related issues to the 8.13 known issues
  docs/CHANGELOG.asciidoc
Labels: Team:Presentation, release_note:skip, docs, Team:SharedUX

#180113 Reenable serverless Discover CSV tests
  x-pack/test_serverless/api_integration/test_suites/common/reporting/generate_csv_discover.ts
Labels: release_note:skip, backport:skip, v8.14.0

#180070 revert markdown migration for canvas
  x-pack/plugins/canvas/canvas_plugin_src/renderers/markdown/index.tsx
  x-pack/plugins/canvas/tsconfig.json
Labels: release_note:fix, Team:SharedUX, backport:prev-minor, v8.14.0, v8.13.2

#179974 [Discover] Unskip flaky histogram test
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
Labels: release_note:skip, Team:DataDiscovery, backport:prev-minor

#179855 [Security Solution][Detection Engine] removes ES|QL tech preview badges from rule create form and rule details
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/description_step/helpers.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_creation_ui/components/select_rule_type/index.tsx
  x-pack/plugins/security_solution/public/detection_engine/rule_management/components/rule_details/rule_definition_section.tsx
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/esql_rule_ess.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_details/esql_rule.cy.ts
Labels: release_note:skip, Feature:Detection Rules, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Engine, v8.14.0
