Repository elastic/kibana, pull requests merged in 2025-08, with the labels that each got.

#230141 [8.19] [APM rules] Handle rule params being undefined in recovered alert (#230125)
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.ts
Labels: backport, Team:obs-ux-infra_services

#230001 Adding FIPS config to overridden YAML file
  x-pack/solutions/observability/test/api_integration/profiling/configs/index.ts
Labels: chore, Team:Security, release_note:skip, ci:enable-fips-agent, backport:version, v8.19.1

#230150 [8.19] Adding FIPS config to overridden YAML file (#230001)
  x-pack/solutions/observability/test/api_integration/profiling/configs/index.ts
Labels: backport

#229743 [Upgrade Assisgtant] Keep ML Snapshot status
  x-pack/platform/plugins/private/upgrade_assistant/server/routes/ml_snapshots.test.ts
  x-pack/platform/plugins/private/upgrade_assistant/server/routes/ml_snapshots.ts
Labels: Team:Kibana Management, release_note:skip, Feature:Upgrade Assistant, backport:version, UA_origin_8.19_not_fordwardported, v8.19.1

#230071 [9.1][Fleet] Fix Fleet Agent API Integration Tests x-pack/test/fleet_api_integration/apis/agents/status.ts
  x-pack/platform/test/fleet_api_integration/apis/agents/status.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#230082 [Fleet] fix flaky test
  x-pack/platform/test/fleet_api_integration/apis/agents/status.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#230116 [ES|QL] Incorrect filtering logic when removing comment field
  src/platform/packages/shared/kbn-esql-ast/scripts/generate_command_definitions.ts
Labels: release_note:fix, backport:skip, Feature:ES|QL, Team:ESQL, v9.2.0

#229951 [ML] Rewrite Log rate analysis flyout to load asynchronously
  x-pack/platform/plugins/shared/aiops/public/embeddables/log_rate_analysis/embeddable_log_rate_analysis_factory.tsx
  x-pack/platform/plugins/shared/aiops/public/embeddables/log_rate_analysis/log_rate_analysis_config_input.tsx
  x-pack/platform/plugins/shared/aiops/public/embeddables/log_rate_analysis/log_rate_analysis_embeddable_initializer.tsx
  x-pack/platform/plugins/shared/aiops/public/embeddables/log_rate_analysis/resolve_log_rate_analysis_config_input.tsx
  x-pack/platform/plugins/shared/aiops/public/ui_actions/create_log_rate_analysis_actions.tsx
Labels: Team:Presentation, release_note:skip, backport:skip, Feature:ML/AIOps, v9.2.0

#229950 update transform codeowners
  .github/CODEOWNERS
  x-pack/platform/plugins/private/transform/kibana.jsonc
Labels: release_note:skip, Feature:Transforms, backport:skip, v9.2.0

#230073 [FTR] Enabled Spaces API tests on MKI
  x-pack/platform/test/spaces_api_integration/deployment_agnostic/security_and_spaces/apis/copy_to_space/index_trial.ts
  x-pack/platform/test/spaces_api_integration/deployment_agnostic/security_and_spaces/apis/index.serverless.ts
Labels: Team:Security, release_note:skip, backport:skip, FTR, ci:build-serverless-image

#230167 [9.1] [Synthetics] Update synthetics integeration package version !! (#230160)
  x-pack/solutions/observability/test/api_integration/apis/synthetics/sample_data/test_policy.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/services/private_location_test_service.ts
  x-pack/solutions/observability/test/api_integration_deployment_agnostic/services/synthetics_private_location.ts
Labels: backport

#230163 [8.19] [Synthetics] Unskip private location test (#229841)
  x-pack/solutions/observability/test/api_integration/apis/synthetics/private_location_apis.ts
Labels: backport

#230162 [9.1] [Synthetics] Unskip private location test (#229841)
  x-pack/solutions/observability/test/api_integration/apis/synthetics/private_location_apis.ts
Labels: backport, author:obs-ux-management

#229964 [ES Query] Fix loading saved query's query in the rule definition
  x-pack/platform/plugins/shared/stack_alerts/public/rule_types/es_query/expression/search_source_expression_form.tsx
Labels: release_note:fix, backport:skip, Team:ResponseOps, author:obs-ux-management, v9.2.0

#230169 [EDR Workflows] Unskip flaky test
  x-pack/solutions/security/plugins/security_solution/public/management/hooks/response_actions/use_get_file_info.test.ts
Labels: release_note:skip, backport:skip

#230145 [9.0] Unskip network policy test (#230136)
  x-pack/test/reporting_api_integration/reporting_and_security/screenshot/network_policy.ts
Labels: backport

#230147 [8.18] Unskip network policy test (#230136)
  x-pack/test/reporting_api_integration/reporting_and_security/screenshot/network_policy.ts
Labels: backport

#230083 [Docs] Scan for unsafe URLs and replace with placeholders
  docs/api/synthetics/monitors/add-monitor-api.asciidoc
  docs/api/synthetics/monitors/get-monitor-api.asciidoc
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/ai-assistant-settings.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: Team:Docs, release_note:skip, docs, v8.0.2, v8.1.4, v8.2.4, v8.3.4, v8.4.4, v8.5.4, v8.6.3, v8.7.2, v8.8.3, v8.9.3, v8.10.5, v8.11.5, v8.12.3, v8.13.5, v8.14.4, backport:version, v8.15.6, v8.19.0, v8.16.7, v7.17.30, v8.17.10, v8.18.5

#230178 Add unused URLs cleanup task documentation
  docs/reference/configuration-reference.md
  docs/reference/configuration-reference/share-settings.md
  docs/reference/toc.yml
Labels: release_note:skip, Team:SharedUX, backport:version, v9.1.0

#230079 [Streams] Specify ignored_malformed for processing simulation
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/simulation_handler.ts
Labels: release_note:skip, Team:obs-ux-logs, backport:version, Feature:Streams, v9.1.0

#230108 [8.19] [EDR Workflows] Fix automated actions flaky test (#229938)
  x-pack/solutions/security/plugins/security_solution/public/management/cypress/e2e/automated_response_actions/automated_response_actions.cy.ts
  x-pack/solutions/security/plugins/security_solution/public/management/cypress/tasks/api_fixtures.ts
Labels: backport

#230209 [8.16] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/api/synthetics/monitors/add-monitor-api.asciidoc
  docs/api/synthetics/monitors/get-monitor-api.asciidoc
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230210 [8.15] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/api/synthetics/monitors/add-monitor-api.asciidoc
  docs/api/synthetics/monitors/get-monitor-api.asciidoc
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230218 [8.12] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230220 [8.11] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230222 [8.10] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230223 [8.9] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230224 [8.8] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230225 [8.7] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/action-types/opsgenie.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230230 [8.5] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/action-types/cases-webhook.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230232 [8.3] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230084 Fix for Distribution Bar Filter Segments
  x-pack/solutions/security/packages/distribution-bar/src/distribution_bar.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security, v9.2.0

#230236 [8.1] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/setup/settings.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230240 [7.17] [Docs] Scan for unsafe URLs and replace with placeholders (#230083)
  docs/developer/contributing/development-tests.asciidoc
  docs/management/connectors/pre-configured-connectors.asciidoc
  docs/management/field-formatters/url-formatter.asciidoc
  docs/maps/connect-to-ems.asciidoc
  docs/settings/alert-action-settings.asciidoc
  docs/settings/reporting-settings.asciidoc
  docs/setup/access.asciidoc
  docs/setup/docker.asciidoc
  docs/user/monitoring/monitoring-kibana.asciidoc
  docs/user/monitoring/monitoring-metricbeat.asciidoc
  docs/user/plugins.asciidoc
  docs/user/production-considerations/production.asciidoc
  docs/user/reporting/script-example.asciidoc
  docs/user/reporting/watch-example.asciidoc
  docs/user/security/authentication/index.asciidoc
Labels: backport

#230215 [8.19] [EDR Workflows] Initialize argument selector value (#227463)
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/command_input.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/components/argument_selector_wrapper.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/components/command_input_history.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/lib/utils.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/lib/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_execute_command.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_execute_command.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_input_area_state.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/types.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/service/parse_command_input.test.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/service/parsed_command_input.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/types.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console_argument_selectors/custom_scripts_selector/custom_script_selector.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console_argument_selectors/custom_scripts_selector/custom_script_selector.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/endpoint_responder/lib/console_commands_definition.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/agent/clients/microsoft_defender_endpoint/microsoft_defender_endpoint_agent_status_client.ts
Labels: backport

#230227 [9.0] [Discover] Fix flaky histogram test (#230037)
  test/functional/apps/discover/group1/_discover_histogram.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
Labels: backport

#230228 [9.1] [Discover] Fix flaky histogram test (#230037)
  src/platform/test/functional/apps/discover/group1/_discover_histogram.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
Labels: backport

#230217 [9.1] [Streams] Specify ignored_malformed for processing simulation (#230079)
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/simulation_handler.ts
Labels: backport

#230226 [8.19] [Discover] Fix flaky histogram test (#230037)
  src/platform/test/functional/apps/discover/group1/_discover_histogram.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
Labels: backport

#230244 [8.18] Update dependency @launchdarkly/node-server-sdk to ^9.10.1 (main) (#230028)
  package.json
  yarn.lock
Labels: backport

#226085 Support installing alert rules as kibana assets in packages
  x-pack/platform/plugins/shared/fleet/.storybook/context/fixtures/integration.nginx.ts
  x-pack/platform/plugins/shared/fleet/.storybook/context/fixtures/integration.okta.ts
  x-pack/platform/plugins/shared/fleet/common/services/package_to_package_policy.test.ts
  x-pack/platform/plugins/shared/fleet/common/types/models/epm.ts
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/constants.tsx
  x-pack/platform/plugins/shared/fleet/server/routes/epm/index.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/app_context.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/kibana/assets/alert.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/kibana/assets/alert.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/kibana/assets/install.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/kibana/assets/install.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/kibana/assets/install_with_streaming.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/kibana/assets/tag_assets.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/packages/install_state_machine/steps/step_install_kibana_assets.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/packages/remove.ts
  x-pack/platform/plugins/shared/fleet/tsconfig.json
  x-pack/platform/test/fleet_api_integration/apis/epm/__snapshots__/bulk_get_assets.snap
  x-pack/platform/test/fleet_api_integration/apis/epm/install_remove_assets.ts
  x-pack/platform/test/fleet_api_integration/apis/epm/update_assets.ts
  x-pack/platform/test/fleet_api_integration/apis/fixtures/test_packages/all_assets/0.1.0/kibana/alert/sample_alert_rule.json
  x-pack/platform/test/fleet_api_integration/apis/fixtures/test_packages/all_assets/0.2.0/kibana/alert/sample_alert_rule.json
  x-pack/platform/test/fleet_api_integration/config.base.ts
  x-pack/solutions/security/plugins/security_solution/public/management/pages/policy/view/ingest_manager_integration/mocks.tsx
Labels: release_note:skip, backport:skip, Team:Fleet

#229874 [Obs AI Assistant] knowledge base UI works offline
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_create_knowledge_base_entry.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_create_knowledge_base_user_instruction.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_delete_knowledge_base_entry.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_get_knowledge_base_entries.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_get_product_doc.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_get_user_instructions.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_import_knowledge_base_entries.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_install_product_doc.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_uninstall_product_doc.ts
Labels: release_note:fix, backport:all-open, Team:Obs AI Assistant, ci:project-deploy-observability

#230254 [8.17] Update dependency @launchdarkly/node-server-sdk to ^9.10.1 (main) (#230028)
  package.json
  yarn.lock
Labels: backport

#230260 [9.0] [Snapshot and restore] Display snapshot searchbar even if snapshots request fails (#229698)
  src/platform/plugins/shared/es_ui_shared/__packages_do_not_import__/authorization/types.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/helpers/http_requests.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/home.test.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/snapshot_list.test.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/constants/index.ts
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/components/repository_error.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/components/snapshot_table.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/snapshot_list.tsx
Labels: backport

#230261 [9.1] [Snapshot and restore] Display snapshot searchbar even if snapshots request fails (#229698)
  src/platform/plugins/shared/es_ui_shared/__packages_do_not_import__/authorization/types.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/helpers/http_requests.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/home.test.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/snapshot_list.test.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/constants/index.ts
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/components/repository_error.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/components/snapshot_table.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/snapshot_list.tsx
Labels: backport

#230255 [Core] Unzyme `src/core/packages/notifications` :shipit:
  src/core/packages/notifications/browser-internal/src/toasts/__snapshots__/deduplicate_toasts.test.tsx.snap
  src/core/packages/notifications/browser-internal/src/toasts/__snapshots__/error_toast.test.tsx.snap
  src/core/packages/notifications/browser-internal/src/toasts/deduplicate_toasts.test.tsx
  src/core/packages/notifications/browser-internal/src/toasts/error_toast.test.tsx
Labels: Team:Core, technical debt, release_note:skip, backport:prev-minor

#230277 [AI4DSOC] Fix last event ingested for sentinel_one integration
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alert_summary/use_integration_last_alert_ingested.ts
Labels: release_note:skip, Team:Threat Hunting:Investigations, backport:version, v9.2.0, v9.1.1, v8.19.1

#230284 [9.1] [Security Solution Cypress] Configure cypress es_archiver tasks to allow usage of platform archives (#230008)
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/alert_suppression/machine_learning_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_edit/machine_learning_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/support/es_archiver.ts
Labels: backport

#230283 [EASE] Only show supported actions on assistant messages
  x-pack/solutions/security/plugins/security_solution/public/assistant/comment_actions/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/assistant/comment_actions/index.tsx
Labels: release_note:skip, Team: SecuritySolution, Team:Security Generative AI, backport:version, v9.2.0

#229866 [OneChat] Conversation Response Errors
  packages/kbn-optimizer/limits.yml
  x-pack/platform/plugins/shared/onechat/common/events.ts
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_input/conversation_input_form.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/conversation_rounds.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/round_error.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/round_icon.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/round_layout.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/round_response.tsx
  x-pack/platform/plugins/shared/onechat/public/application/hooks/use_conversation.ts
  x-pack/platform/plugins/shared/onechat/public/application/hooks/use_is_sending_message.ts
  x-pack/platform/plugins/shared/onechat/public/application/hooks/use_report_error.ts
  x-pack/platform/plugins/shared/onechat/public/application/hooks/use_send_message_mutation.ts
  x-pack/platform/plugins/shared/onechat/public/application/mutation_keys.ts
  x-pack/platform/plugins/shared/onechat/public/plugin.tsx
  x-pack/platform/plugins/shared/onechat/public/register.ts
Labels: release_note:skip, backport:skip

#229562 [1Chat] Add support for structured tool call results
  x-pack/platform/packages/shared/onechat/onechat-common/chat/conversation.ts
  x-pack/platform/packages/shared/onechat/onechat-common/chat/events.ts
  x-pack/platform/packages/shared/onechat/onechat-common/tools/tool_result.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/index.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/langchain/graph_events.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/langchain/messages.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/langchain/tools.test.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/langchain/tools.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/generate_esql.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/index.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/index_explorer.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/nl_search.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/relevance_search.ts
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/steps/get_documents.ts
  x-pack/platform/packages/shared/onechat/onechat-server/src/runner.ts
  x-pack/platform/packages/shared/onechat/onechat-server/src/tools.ts
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/tool_call_panel.tsx
  x-pack/platform/plugins/shared/onechat/public/application/hooks/use_conversation.ts
  x-pack/platform/plugins/shared/onechat/public/application/hooks/use_send_message_mutation.ts
  x-pack/platform/plugins/shared/onechat/server/routes/tools.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/chat/convert_graph_events.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/chat/graph.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/chat/run_chat_agent.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/planner/convert_graph_events.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/planner/run_planner_agent.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/reasoning/convert_graph_events.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/utils/add_round_complete_event.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/utils/to_langchain_messages.test.ts
  x-pack/platform/plugins/shared/onechat/server/services/agents/modes/utils/to_langchain_messages.ts
  x-pack/platform/plugins/shared/onechat/server/services/conversation/converters.ts
  x-pack/platform/plugins/shared/onechat/server/services/conversation/storage.ts
  x-pack/platform/plugins/shared/onechat/server/services/runner/run_tool.test.ts
  x-pack/platform/plugins/shared/onechat/server/services/runner/run_tool.ts
  x-pack/platform/plugins/shared/onechat/server/services/runner/runner.test.ts
  x-pack/platform/plugins/shared/onechat/server/services/runner/runner.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/builtin_registry.test.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/builtin_registry.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/execute_esql.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/generate_esql.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/get_document_by_id.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/get_index_mapping.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/index_explorer.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/list_indices.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/nl_search.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/definitions/relevance_search.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/builtin/register_tools.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/esql/utils/to_tool_definition.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/tool_provider.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/tool_registry.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/types.ts
  x-pack/platform/plugins/shared/onechat/server/services/tools/utils/tool_conversion.ts
Labels: release_note:skip, backport:skip

#230221 [8.19] [ska] relocate platform banner, cloud, so, custom branding tests (#227269)
  .buildkite/ftr_platform_stateful_configs.yml
  .buildkite/scripts/saved_object_field_metrics.sh
  .github/CODEOWNERS
  package.json
  tsconfig.base.json
  x-pack/platform/test/banners_functional/config.ts
  x-pack/platform/test/banners_functional/ftr_provider_context.ts
  x-pack/platform/test/banners_functional/tests/global.ts
  x-pack/platform/test/banners_functional/tests/index.ts
  x-pack/platform/test/banners_functional/tests/spaces.ts
  x-pack/platform/test/cloud_integration/config.ts
  x-pack/platform/test/cloud_integration/ftr_provider_context.d.ts
  x-pack/platform/test/cloud_integration/plugins/saml_provider/constants.ts
  x-pack/platform/test/cloud_integration/plugins/saml_provider/kibana.jsonc
  x-pack/platform/test/cloud_integration/plugins/saml_provider/metadata.xml
  x-pack/platform/test/cloud_integration/plugins/saml_provider/server/index.ts
  x-pack/platform/test/cloud_integration/plugins/saml_provider/server/init_routes.ts
  x-pack/platform/test/cloud_integration/plugins/saml_provider/server/saml_tools.ts
  x-pack/platform/test/cloud_integration/plugins/saml_provider/tsconfig.json
  x-pack/platform/test/cloud_integration/tests/fullstory.ts
  x-pack/platform/test/custom_branding/config.ts
  x-pack/platform/test/custom_branding/ftr_provider_context.ts
  x-pack/platform/test/custom_branding/tests/acme_logo.png
  x-pack/platform/test/custom_branding/tests/acme_text.png
  x-pack/platform/test/custom_branding/tests/index.ts
  x-pack/platform/test/custom_branding/tests/settings.ts
  x-pack/platform/test/functional/page_objects/banners_page.ts
  x-pack/platform/test/functional/page_objects/index.ts
  x-pack/platform/test/saved_objects_field_count/config.ts
  x-pack/platform/test/saved_objects_field_count/test.ts
  x-pack/platform/test/tsconfig.json
  x-pack/test/functional/page_objects/index.ts
  x-pack/test/tsconfig.json
  yarn.lock
Labels: backport

#230300 [9.1] [AI4DSOC] Fix last event ingested for sentinel_one integration (#230277)
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alert_summary/use_integration_last_alert_ingested.ts
Labels: backport

#229513 [ES|QL] support expressions in STATS
  src/platform/packages/shared/kbn-esql-ast/src/__tests__/autocomplete.ts
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/sort/autocomplete.ts
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/stats/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/stats/autocomplete.ts
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/stats/utils.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/all_operators.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/utils/autocomplete/functions.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/utils/autocomplete/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/context.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/marker_node_removal.test.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/hover/hover.ts
Labels: release_note:enhancement, backport:skip, Feature:ES|QL, Team:ESQL, v9.2.0

#230306 [9.0] Change SLO not found error in SLO Burnrate to be user error, not frameework (#230143)
  x-pack/solutions/observability/plugins/slo/server/lib/rules/slo_burn_rate/executor.test.ts
  x-pack/solutions/observability/plugins/slo/server/lib/rules/slo_burn_rate/executor.ts
Labels: backport, Team:obs-ux-management

#230307 [9.1] Change SLO not found error in SLO Burnrate to be user error, not frameework (#230143)
  x-pack/solutions/observability/plugins/slo/server/lib/rules/slo_burn_rate/executor.test.ts
  x-pack/solutions/observability/plugins/slo/server/lib/rules/slo_burn_rate/executor.ts
Labels: backport, Team:obs-ux-management

#229384 [ci] Add Osquery tests to EPR verification pipeline
  .buildkite/pipelines/fleet/package_registry.yml
Labels: Team:Operations, release_note:skip, backport:skip, skip-ci

#230303 [8.18] Change SLO not found error in SLO Burnrate to be user error, not frameework (#230143)
  x-pack/solutions/observability/plugins/slo/server/lib/rules/slo_burn_rate/executor.test.ts
  x-pack/solutions/observability/plugins/slo/server/lib/rules/slo_burn_rate/executor.ts
Labels: backport, Team:obs-ux-management

#230319 [8.19] [Detection Engine] Unskip test failure caused by EPR issue (#230019)
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_gaps/fill_all_rule_gaps.cy.ts
Labels: backport

#230152 [Observability Nav] [Serverless Nav] remove apm link from application nav section
  x-pack/solutions/observability/plugins/observability/public/navigation_tree.ts
  x-pack/solutions/observability/plugins/serverless_observability/public/navigation_tree.ts
  x-pack/solutions/observability/test/functional_solution_sidenav/tests/observability_sidenav.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-management, backport:version, author:obs-ux-management, v9.2.0, v9.0.5, v9.1.1, v8.17.10, v8.18.5, v8.19.1

#230322 [9.1] [AI Assistant] Hide `Reset Conversation` option on New Chat. (#230288)
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/settings_context_menu/settings_context_menu.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/settings_context_menu/settings_context_menu.tsx
Labels: backport

#230316 [CI] Align action/checkout SHA with rest of repo
  .github/workflows/evaluate-dependency-health.yml
Labels: release_note:skip, backport:prev-minor

#230331 [9.1] [CI] Align action/checkout SHA with rest of repo (#230316)
  .github/workflows/evaluate-dependency-health.yml
Labels: backport

#230341 Useless commit, advancing Serverless build
  README.md
Labels: release_note:skip, backport:skip

#230259 [8.19] [Snapshot and restore] Display snapshot searchbar even if snapshots request fails (#229698)
  src/platform/plugins/shared/es_ui_shared/__packages_do_not_import__/authorization/types.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/helpers/http_requests.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/home.test.ts
  x-pack/platform/plugins/private/snapshot_restore/__jest__/client_integration/snapshot_list.test.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/constants/index.ts
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/components/repository_error.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/components/snapshot_table.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/sections/home/snapshot_list/snapshot_list.tsx
Labels: backport

#230182 [Streams] Flatten streams list when searching/sorting results
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/use_grok_pattern_suggestion.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/state_management/simulation_state_machine/selectors.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/preview_panel.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/state_management/stream_routing_state_machine/selectors.ts
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/documents_column.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/index.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/streams_list_empty_prompt.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/tree_table.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/utils.test.ts
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/utils.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-logs, Feature:Streams

#230047 [Examples plugin] Deprecated uiAction methods – Data table rewrite
  examples/embeddable_examples/public/plugin.ts
  examples/embeddable_examples/public/react_embeddables/data_table/create_data_table_action.ts
Labels: Team:Presentation, release_note:skip, backport:skip, v9.2.0

#230370 [9.0] [Fleet] fix ssl config in output preconfig (#230211)
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.ts
Labels: backport, Team:Fleet

#230270 [Search] Root Elasticsearch breadcrumb missing link
  x-pack/solutions/search/plugins/search_navigation/public/plugin.ts
Labels: release_note:fix, backport:version, v9.2.0, v9.1.1

#230157 [Synthetics] Fix global params sync for non default private locations !!
  src/platform/packages/shared/kbn-test/src/kbn_client/kbn_client_saved_objects.ts
  x-pack/solutions/observability/plugins/synthetics/server/synthetics_service/get_private_locations.ts
  x-pack/solutions/observability/plugins/synthetics/server/tasks/sync_private_locations_monitors_task.test.ts
  x-pack/solutions/observability/plugins/synthetics/server/tasks/sync_private_locations_monitors_task.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/add_monitor.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/add_monitor_private_location.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/add_monitor_project.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/edit_monitor.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/index.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/private_location_apis.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/services/private_location_test_service.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/services/synthetics_monitor_test_service.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/sync_global_params.ts
  x-pack/solutions/observability/test/api_integration/apis/synthetics/sync_global_params_spaces.ts
Labels: release_note:fix, Team:obs-ux-management, backport:version, author:obs-ux-management, v9.0.5, v9.1.1, v8.18.5, v8.19.1

#230338 [Security Solution] Wait for Fleet plugin setup completion in Rule Management integration tests
  x-pack/test/security_solution_api_integration/config/serverless/config.base.essentials.ts
  x-pack/test/security_solution_api_integration/config/serverless/config.base.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/constants.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.basic.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.trial.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.complete.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.essentials.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_installing_package.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/prebuilt_rules_package/air_gapped/bootstrap_prebuilt_rules.ts
Labels: test, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, backport:version, v9.2.0, v9.0.5, v9.1.1, v8.18.5, v8.19.1

#229791 [Streams] Implement Routing UI + Data retention e2e tests
  src/platform/packages/shared/kbn-scout/src/playwright/fixtures/scope/worker/apis/streams/index.ts
  src/platform/packages/shared/kbn-scout/tsconfig.json
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/condition_editor/index.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/preview_panel.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/routing_stream_entry.tsx
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/fixtures/constants.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/fixtures/generators.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/fixtures/index.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/fixtures/page_objects/streams_app.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/classic.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_retention.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/create_routing_rules.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/edit_routing_rules.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/error_handling.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/reorder_routing_rules.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/routing_data_preview.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/wired.spec.ts
  x-pack/platform/plugins/shared/streams_app/tsconfig.json
Labels: release_note:skip, backport:skip, Team:obs-ux-logs, Feature:Streams

#230390 [Examples plugin] Deprecated uiAction methods – Saved book rewrite
  examples/embeddable_examples/public/plugin.ts
  examples/embeddable_examples/public/react_embeddables/saved_book/create_saved_book_action.tsx
Labels: Team:Presentation, release_note:skip, backport:skip, v9.2.0

#227673 [Fleet] Introduce basic support for OTEL input integrations in Fleet
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/plugins/shared/fleet/common/constants/epm.ts
  x-pack/platform/plugins/shared/fleet/common/experimental_features.ts
  x-pack/platform/plugins/shared/fleet/common/types/models/epm.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/agent/agent.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/agent/agent.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/packages/get_template_inputs.ts
  x-pack/platform/plugins/shared/fleet/server/services/package_policies/upgrade.ts
  x-pack/platform/plugins/shared/fleet/server/services/package_policy.ts
  x-pack/platform/plugins/shared/fleet/server/types/models/agent_policy.ts
Labels: release_note:skip, backport:skip, Team:Fleet, v9.2.0

#230066 [ResponseOps][Rules] Prevent internally managed rule types to be created from the Rule Create API
  x-pack/platform/plugins/shared/alerting/README.md
  x-pack/platform/plugins/shared/alerting/server/routes/_mock_handler_arguments.ts
  x-pack/platform/plugins/shared/alerting/server/routes/rule/apis/create/create_rule_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/rule/apis/create/create_rule_route.ts
  x-pack/platform/plugins/shared/alerting/server/rule_type_registry.test.ts
  x-pack/platform/plugins/shared/alerting/server/rule_type_registry.ts
  x-pack/platform/test/alerting_api_integration/common/lib/alert_utils.ts
  x-pack/platform/test/alerting_api_integration/common/plugins/alerts/server/routes.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group5/tests/alerting/create.ts
  x-pack/platform/test/rule_registry/security_and_spaces/tests/basic/search_strategy.ts
Labels: Feature:Alerting, release_note:skip, backport:skip, Team:ResponseOps, v9.2.0

#230372 fix: Fix bug when updateWorkflowExecution replaced document instead of partially update it
  src/platform/plugins/shared/workflows_execution_engine/server/repositories/step_execution_repository.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/repositories/step_execution_repository.ts
  src/platform/plugins/shared/workflows_execution_engine/server/repositories/workflow_execution_repository.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/repositories/workflow_execution_repository.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_context_manager/workflow_execution_runtime_manager.ts
Labels: release_note:skip, backport:skip

#230412 [9.0] [Security Solution] Wait for Fleet plugin setup completion in Rule Management integration tests (#230338)
  x-pack/test/security_solution_api_integration/config/serverless/config.base.essentials.ts
  x-pack/test/security_solution_api_integration/config/serverless/config.base.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/constants.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.basic.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.trial.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.complete.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.essentials.config.ts
Labels: backport

#230299 [8.19] [AI4DSOC] Fix last event ingested for sentinel_one integration (#230277)
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alert_summary/use_integration_last_alert_ingested.ts
Labels: backport

#230117 Remove `react-is` dependency
  package.json
  renovate.json
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/form_based.test.ts
  yarn.lock
Labels: chore, Team:Security, release_note:skip, backport:all-open, dependency-reduction

#230282 [9.0] [Security Solution] Get rid of esArchiver in import custom rules integration tests (#229492)
  .github/CODEOWNERS
  src/platform/packages/shared/kbn-es-archiver/src/fixtures/override_saved_objects_index/exception_list.json
  x-pack/test/api_integration/services/index.ts
  x-pack/test/common/utils/security_solution/detections_response/rules/delete_all_rules.ts
  x-pack/test/common/utils/security_solution/index.ts
  x-pack/test/common/utils/security_solution/spaces.ts
  x-pack/test/functional/es_archives/security_solution/import_rule_connector/data.json
  x-pack/test/functional/es_archives/security_solution/import_rule_connector/mappings.json
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_import_export/trial_license_complete_tier/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/combine_to_ndjson.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/connectors/create_connector.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/rules/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/utils.ts
  x-pack/test/security_solution_api_integration/tsconfig.json
  x-pack/test_serverless/shared/services/deployment_agnostic_services.ts
Labels: backport

#230313 [Dashboard] Remove unncessary promises
  src/platform/plugins/shared/dashboard/server/content_management/dashboard_storage.ts
Labels: release_note:fix, Team:Presentation, backport:all-open

#230326 [8.19] [AI Assistant] Hide `Reset Conversation` option on New Chat. (#230288)
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/settings_context_menu/settings_context_menu.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/settings_context_menu/settings_context_menu.tsx
Labels: backport

#230411 [8.19] [Security Solution] Wait for Fleet plugin setup completion in Rule Management integration tests (#230338)
  x-pack/test/security_solution_api_integration/config/serverless/config.base.essentials.ts
  x-pack/test/security_solution_api_integration/config/serverless/config.base.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/constants.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.basic.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.trial.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.complete.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.essentials.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_installing_package.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/prebuilt_rules_package/air_gapped/bootstrap_prebuilt_rules.ts
Labels: backport

#230433 Demotes whatwg-fetch to a dev dependency
  package.json
  src/platform/packages/private/kbn-ui-shared-deps-npm/BUILD.bazel
  src/platform/packages/private/kbn-ui-shared-deps-npm/webpack.config.js
  src/platform/packages/private/kbn-ui-shared-deps-src/src/polyfills.js
  src/platform/packages/shared/kbn-test/src/jest/setup/polyfills.jsdom.js
  x-pack/platform/plugins/private/canvas/shareable_runtime/api/index.ts
Labels: chore, Team:Security, release_note:skip, backport:prev-major, dependency-reduction

#230451 [9.1] Moved scheduleNow call to privmon engine init instead of monitoring source engine - bug fix (#230263)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/entity_analytics/privilege_monitoring/common.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/entity_analytics/privilege_monitoring/common.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/entity_analytics/privilege_monitoring/health.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/entity_analytics/privilege_monitoring/health.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/openapi/ess/security_solution_entity_analytics_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/openapi/serverless/security_solution_entity_analytics_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/pages/entity_analytics_privileged_user_monitoring_page.tsx
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/constants.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/privilege_monitoring_data_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/privilege_monitoring_data_client.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/routes/health.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/routes/monitoring_entity_source/monitoring_entity_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/saved_objects/privilege_monitoring.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/tasks/privilege_monitoring_task.ts
Labels: backport

#230327 [8.18] [AI Assistant] Hide `Reset Conversation` option on New Chat. (#230288)
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/settings_context_menu/settings_context_menu.tsx
Labels: backport

#230424 [9.1] [SecuritySolution] Fix PrivMon sample viz (#230356)
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring_onboarding/components/sample_dashboard/__snapshots__/esql_data_generation.test.ts.snap
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring_onboarding/components/sample_dashboard/esql_data_generation.ts
Labels: backport

#230410 [8.18] [Security Solution] Wait for Fleet plugin setup completion in Rule Management integration tests (#230338)
  x-pack/test/security_solution_api_integration/config/serverless/config.base.essentials.ts
  x-pack/test/security_solution_api_integration/config/serverless/config.base.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/constants.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.basic.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/ess/rules_management.trial.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.complete.config.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/configs/serverless/rules_management.essentials.config.ts
Labels: backport

#229955 Prevent significant event alerts from deletion
  x-pack/platform/plugins/shared/alerting/server/alert_deletion/lib/delete_alerts_for_space.ts
  x-pack/platform/plugins/shared/alerting/server/alert_deletion/lib/preview.test.ts
  x-pack/platform/plugins/shared/alerting/server/alert_deletion/lib/preview.ts
  x-pack/platform/plugins/shared/alerting/server/alert_deletion/lib/run.test.ts
  x-pack/platform/plugins/shared/alerting/server/rule_type_registry.mock.ts
  x-pack/platform/plugins/shared/alerting/server/rule_type_registry.test.ts
  x-pack/platform/plugins/shared/alerting/server/rule_type_registry.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps

#230471 [9.1] [Dashboard][A11y] Improve usability of dashboard in 400% zoom (#228978)
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/grid/dashboard_grid.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_top_nav/internal_dashboard_top_nav.tsx
  src/platform/plugins/shared/unified_search/public/query_string_input/query_bar_top_row.tsx
  src/platform/plugins/shared/unified_search/public/query_string_input/query_string_input.tsx
Labels: backport

#230466 [8.19] [Dashboard] Remove unncessary promises (#230313)
  src/platform/plugins/shared/dashboard/server/content_management/dashboard_storage.ts
Labels: backport

#230472 [8.18] Demotes whatwg-fetch to a dev dependency (#230433)
  package.json
  src/platform/packages/private/kbn-ui-shared-deps-npm/BUILD.bazel
  src/platform/packages/private/kbn-ui-shared-deps-npm/webpack.config.js
  src/platform/packages/private/kbn-ui-shared-deps-src/src/polyfills.js
  src/platform/packages/shared/kbn-test/src/jest/setup/polyfills.jsdom.js
  x-pack/platform/plugins/private/canvas/shareable_runtime/api/index.ts
Labels: backport

#229627 [streams][content pack] add support for significant events
  .github/CODEOWNERS
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-content-packs-schema/src/models/api.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/error.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/export.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/export.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/helpers.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/helpers.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/import.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/import.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/index.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/test.utils.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/tree.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/tree.ts
  x-pack/platform/plugins/shared/streams/server/lib/significant_events/read_significant_events_from_alerts_indices.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/assets/asset_client.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/assets/query/query_client.ts
  x-pack/platform/plugins/shared/streams/server/routes/content/route.ts
  x-pack/platform/plugins/shared/streams/server/routes/queries/route.ts
  x-pack/platform/plugins/shared/streams/server/routes/streams/crud/read_stream.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/content_pack_objects_list.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/export_flyout.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/helpers.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/import_flyout.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/manifest.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/objects_list/index.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/objects_list/queries_list.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/content/utils.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_management/wrapper.tsx
  x-pack/platform/test/api_integration_deployment_agnostic/apis/streams/content.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:obs-entities, Feature:Streams, v9.2.0

#230179 [SCSS removal] Use precompiled .css files from `@elastic/charts`
  package.json
  src/core/packages/apps/server-internal/src/core_app.test.ts
  src/core/packages/apps/server-internal/src/core_app.ts
  src/core/packages/rendering/server-internal/src/render_utils.test.ts
  src/core/packages/rendering/server-internal/src/render_utils.ts
  src/core/public/styles/_base.scss
  src/dev/build/tasks/create_cdn_assets_task.ts
  yarn.lock
Labels: Team:Core, release_note:skip, backport:skip, ci:project-deploy-elasticsearch

#230432 [8.17] [Snapshot and restore] Display snapshot searchbar even if snapshots request fails (#229698)
  src/plugins/es_ui_shared/__packages_do_not_import__/authorization/types.ts
  x-pack/plugins/snapshot_restore/__jest__/client_integration/helpers/http_requests.ts
  x-pack/plugins/snapshot_restore/__jest__/client_integration/home.test.ts
  x-pack/plugins/snapshot_restore/__jest__/client_integration/snapshot_list.test.tsx
  x-pack/plugins/snapshot_restore/public/application/constants/index.ts
  x-pack/plugins/snapshot_restore/public/application/sections/home/snapshot_list/components/repository_error.tsx
  x-pack/plugins/snapshot_restore/public/application/sections/home/snapshot_list/components/snapshot_table.tsx
  x-pack/plugins/snapshot_restore/public/application/sections/home/snapshot_list/snapshot_list.tsx
Labels: backport

#230371 [9.1] [Fleet] fix ssl config in output preconfig (#230211)
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.ts
Labels: backport, Team:Fleet

#229932 [Fleet] Fix missing validation error in package policy editor
  x-pack/platform/plugins/shared/fleet/common/services/validate_package_policy.test.ts
  x-pack/platform/plugins/shared/fleet/common/services/validate_package_policy.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_var_field.tsx
Labels: release_note:fix, Team:Fleet, backport:prev-minor, v9.2.0

#230507 [9.0] [Drilldowns] Fix date math plus sign encoding (#230469)
  src/platform/plugins/shared/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.test.ts
  src/platform/plugins/shared/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.ts
Labels: backport

#230502 tests: Add unit tests for foreach step
  src/platform/plugins/shared/workflows_execution_engine/server/step/foreach_step/enter_foreach_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/foreach_step/exit_foreach_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/foreach_step/tests/enter_foreach_node_impl.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/foreach_step/tests/exit_foreach_node_impl.test.ts
Labels: release_note:skip, backport:skip

#230373 [FTR] update serverless testing README custom roles info
  x-pack/test_serverless/README.md
Labels: release_note:skip, backport:skip

#230505 [8.18] [Drilldowns] Fix date math plus sign encoding (#230469)
  src/platform/plugins/shared/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.test.ts
  src/platform/plugins/shared/ui_actions_enhanced/public/drilldowns/url_drilldown/url_template.ts
Labels: backport

#230398 [APM] Configure fleet docker container for APM tests
  x-pack/solutions/observability/test/apm_api_integration/common/config.ts
  x-pack/solutions/observability/test/apm_api_integration/common/fixtures/package_registry_config.yml
Labels: release_note:skip, v9.0.0, ci:project-deploy-observability, Team:obs-ux-infra_services, backport:version, v8.18.0, v9.1.0, v8.19.0, v9.2.0

#230291 [9.1] [Core] Unzyme `src/core/packages/notifications` :shipit: (#230255)
  src/core/packages/notifications/browser-internal/src/toasts/__snapshots__/deduplicate_toasts.test.tsx.snap
  src/core/packages/notifications/browser-internal/src/toasts/__snapshots__/error_toast.test.tsx.snap
  src/core/packages/notifications/browser-internal/src/toasts/deduplicate_toasts.test.tsx
  src/core/packages/notifications/browser-internal/src/toasts/error_toast.test.tsx
Labels: backport

#230514 [8.19] [Spaces] Excluded deprecated features from solution visibility (#230385)
  x-pack/platform/plugins/shared/spaces/server/lib/utils/space_solution_disabled_features.test.ts
  x-pack/platform/plugins/shared/spaces/server/lib/utils/space_solution_disabled_features.ts
  x-pack/platform/test/spaces_api_integration/common/suites/create.ts
  x-pack/platform/test/spaces_api_integration/common/suites/get.ts
  x-pack/platform/test/spaces_api_integration/common/suites/get_all.ts
Labels: backport

#230519 Lock manager: Fix setup bug
  packages/kbn-lock-manager/src/lock_manager_client.ts
  x-pack/solutions/observability/test/api_integration_deployment_agnostic/apis/ai_assistant/distributed_lock_manager/distributed_lock_manager.spec.ts
Labels: release_note:fix, Team:obs-knowledge, backport:version, v9.2.0, v9.1.1

#230520 [8.17] [Spaces] Excluded deprecated features from solution visibility (#230385)
  x-pack/plugins/spaces/server/lib/utils/space_solution_disabled_features.test.ts
  x-pack/plugins/spaces/server/lib/utils/space_solution_disabled_features.ts
  x-pack/test/spaces_api_integration/common/suites/create.ts
  x-pack/test/spaces_api_integration/common/suites/get.ts
  x-pack/test/spaces_api_integration/common/suites/get_all.ts
Labels: backport

#230420 [Entity Analytics][Privmon] Fix index sync in non-default spaces
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/auth/api_key.ts
Labels: bug, release_note:fix, backport:prev-minor, Team:Entity Analytics

#230532 [9.1] [Entity Analytics][Privmon] Only create default index source if it doesn't already exist (update otherwise) (#229693)
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/privilege_monitoring_data_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/privilege_monitoring_data_client.ts
  x-pack/test/security_solution_api_integration/test_suites/entity_analytics/monitoring/trial_license_complete_tier/engine.ts
Labels: backport

#229962 [Synthetics] Add recovery mode switch for status alerts
  src/platform/packages/shared/response-ops/rule_params/synthetics_monitor_status/v1.ts
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/alerts/common/for_the_last_expression.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/alerts/status_rule_expression.tsx
  x-pack/solutions/observability/plugins/synthetics/server/alert_rules/status_rule/status_rule_executor.ts
  x-pack/solutions/observability/test/api_integration_deployment_agnostic/apis/alerting/synthetics/custom_status_rule.ts
Labels: release_note:enhancement, backport:skip, Team:obs-ux-management, author:obs-ux-management, v9.2.0

#230449 [ResponseOps]Categorize Webhook connector 404 errors as user errors.
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/webhook/index.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/webhook/index.ts
Labels: release_note:skip, backport:skip, Team:ResponseOps, Feature:Actions/ConnectorTypes, Feature:Alerting/RuleActions, v9.2.0

#230558 [9.0] [FTR] update serverless testing README custom roles info (#230373)
  x-pack/test_serverless/README.md
Labels: backport

#230279 [9.1] [Security Solution] Get rid of esArchiver in import custom rules integration tests (#229492)
  .github/CODEOWNERS
  src/platform/packages/shared/kbn-es-archiver/src/fixtures/override_saved_objects_index/exception_list.json
  x-pack/solutions/security/test/fixtures/es_archives/security_solution/import_rule_connector/data.json
  x-pack/solutions/security/test/fixtures/es_archives/security_solution/import_rule_connector/mappings.json
  x-pack/test/api_integration/services/index.ts
  x-pack/test/common/utils/security_solution/detections_response/rules/delete_all_rules.ts
  x-pack/test/common/utils/security_solution/index.ts
  x-pack/test/common/utils/security_solution/spaces.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_import_export/trial_license_complete_tier/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/combine_to_ndjson.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/connectors/create_connector.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/utils/rules/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/lists_and_exception_lists/utils.ts
  x-pack/test/security_solution_api_integration/tsconfig.json
  x-pack/test_serverless/shared/services/deployment_agnostic_services.ts
Labels: backport

#230554 [9.0] Adjust cgroup_memory fields schema to how they arrive from the API (#229339)
  test/api_integration/apis/stats/stats.js
Labels: backport

#229626 [Entity Analytics][Privmon] Adding privmon e2e smoke test
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring_onboarding/onboarding_panel.tsx
  x-pack/test/security_solution_cypress/cypress/e2e/entity_analytics/privileged_user_monitoring_page.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/entity_analytics/enable_privmon.ts
  x-pack/test/security_solution_cypress/cypress/urls/navigation.ts
Labels: release_note:skip, Theme: entity_analytics, Team:Entity Analytics, backport:version, v9.2.0

#230555 [9.1] Adjust cgroup_memory fields schema to how they arrive from the API (#229339)
  src/platform/test/api_integration/apis/stats/stats.js
Labels: backport

#230500 [ES|QL] Add observability tier check for commands
  src/platform/packages/private/kbn-esql-editor/src/esql_editor.tsx
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.license.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.observability_tier.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/tsconfig.json
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.2.0

#230553 [8.19] Adjust cgroup_memory fields schema to how they arrive from the API (#229339)
  src/platform/test/api_integration/apis/stats/stats.js
Labels: backport

#230578 fix: [ML] Anomaly Detection: Supplied configurations flyout missing title from announcement
  x-pack/platform/plugins/shared/ml/public/application/supplied_configurations/supplied_configurations_flyout/flyout.tsx
Labels: Project:Accessibility, release_note:skip, backport:prev-minor

#230440 [Security Solution] unskip timelines_table Cypress test
  x-pack/test/security_solution_cypress/cypress/e2e/investigations/timelines/timelines_table.cy.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, v9.2.0

#230438 [8.19] [ska] relocate dataset quality api-integration tests (#227826)
  .buildkite/ftr_oblt_stateful_configs.yml
  .github/CODEOWNERS
  x-pack/platform/plugins/shared/dataset_quality/README.md
  x-pack/platform/plugins/shared/dataset_quality/scripts/api.js
  x-pack/solutions/observability/test/dataset_quality_api_integration/basic/config.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/common/config.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/common/dataset_quality_api_supertest.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/common/fixtures/package_registry_config.yml
  x-pack/solutions/observability/test/dataset_quality_api_integration/common/ftr_provider_context.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/common/registry.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/configs/index.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/tests/data_streams/data_stream_details.spec.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/tests/data_streams/es_utils.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/tests/data_streams/stats.spec.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/tests/data_streams/total_docs.spec.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/tests/data_streams/types_privileges.spec.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/tests/index.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/utils/expect_to_reject.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/utils/index.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/utils/join_by_key.ts
  x-pack/solutions/observability/test/dataset_quality_api_integration/utils/maybe.ts
  x-pack/test/api_integration/services/data_view_api.ts
  x-pack/test/api_integration/services/index.ts
  x-pack/test/api_integration/services/infraops_source_configuration.ts
  x-pack/test/api_integration/services/ingest_pipelines/index.ts
  x-pack/test/api_integration/services/ingest_pipelines/lib/api.ts
  x-pack/test/api_integration/services/ingest_pipelines/lib/fixtures.ts
  x-pack/test/api_integration/services/ingest_pipelines/lib/index.ts
  x-pack/test/common/services/index.ts
  x-pack/test/common/services/infra_synthtrace_kibana_client.ts
  x-pack/test/dataset_quality_api_integration/basic/config.ts
  x-pack/test/functional/services/index.ts
Labels: backport

#230216 [9.1] [EDR Workflows] Initialize argument selector value (#227463)
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/command_input.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/components/argument_selector_wrapper.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/components/command_input_history.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/lib/utils.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/command_input/lib/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_execute_command.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_execute_command.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/state_update_handlers/handle_input_area_state.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/components/console_state/types.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/service/parse_command_input.test.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/service/parsed_command_input.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console/types.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console_argument_selectors/custom_scripts_selector/custom_script_selector.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console_argument_selectors/custom_scripts_selector/custom_script_selector.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/endpoint_responder/lib/console_commands_definition.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/agent/clients/microsoft_defender_endpoint/microsoft_defender_endpoint_agent_status_client.ts
Labels: backport

#230474 [9.0] Demotes whatwg-fetch to a dev dependency (#230433)
  package.json
  src/platform/packages/private/kbn-ui-shared-deps-npm/BUILD.bazel
  src/platform/packages/private/kbn-ui-shared-deps-npm/webpack.config.js
  src/platform/packages/private/kbn-ui-shared-deps-src/src/polyfills.js
  src/platform/packages/shared/kbn-test/src/jest/setup/polyfills.jsdom.js
  x-pack/platform/plugins/private/canvas/shareable_runtime/api/index.ts
Labels: backport

#230476 [8.19] Demotes whatwg-fetch to a dev dependency (#230433)
  package.json
  src/platform/packages/private/kbn-ui-shared-deps-npm/BUILD.bazel
  src/platform/packages/private/kbn-ui-shared-deps-npm/webpack.config.js
  src/platform/packages/private/kbn-ui-shared-deps-src/src/polyfills.js
  src/platform/packages/shared/kbn-test/src/jest/setup/polyfills.jsdom.js
  x-pack/platform/plugins/private/canvas/shareable_runtime/api/index.ts
Labels: backport

#230419 [Workspace Chrome] Clean up some of EUI hacks
  src/core/packages/chrome/layout/core-chrome-layout-components/header/layout_header.tsx
  src/core/packages/chrome/layout/core-chrome-layout-components/navigation/layout_navigation.tsx
  src/core/packages/chrome/layout/core-chrome-layout-constants/index.ts
  src/core/packages/chrome/layout/core-chrome-layout/layouts/grid/grid_global_app_style.tsx
  src/core/packages/chrome/layout/core-chrome-layout/layouts/grid/hack_use_sync_push_flyout.tsx
  src/platform/packages/shared/react/kibana_context/root/eui_provider.test.tsx
  src/platform/packages/shared/react/kibana_context/root/eui_provider.tsx
  src/platform/packages/shared/react/kibana_context/root/root_provider.test.tsx
  src/platform/packages/shared/react/kibana_context/root/tsconfig.json
Labels: release_note:skip, backport:skip, Team:SharedUX

#228685 [TSVB] Fix missing unsaved changes on linked visualizations
  src/platform/packages/shared/presentation/presentation_containers/interfaces/unsaved_changes/initialize_unsaved_changes.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_dashboard_api.ts
  src/platform/plugins/shared/visualizations/public/embeddable/visualize_embeddable.tsx
  src/platform/test/functional/fixtures/kbn_archiver/dashboard/current/kibana.json
Labels: release_note:fix, backport:version, v9.2.0, v9.0.5, v9.1.1, v8.17.10, v8.18.5, v8.19.1

#230462 [Security Solution] Fix flaky query related Jest frontend integration tests
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/test_utils/assert_field_validation.ts
Labels: test, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, backport:version, v9.2.0, v9.0.5, v9.1.1, v8.18.5, v8.19.1

#230479 Fixes agentless integration data fields being overwritten by package metadata
  x-pack/platform/plugins/shared/fleet/common/services/agentless_policy_helper.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/hooks/setup_technology.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/package_policies_to_agent_inputs.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/package_policies_to_agent_inputs.ts
Labels: release_note:fix, Team:Fleet, backport:prev-major

#230613 [9.1] fix: [ML] Anomaly Detection: Supplied configurations flyout missing title from announcement (#230578)
  x-pack/platform/plugins/shared/ml/public/application/supplied_configurations/supplied_configurations_flyout/flyout.tsx
Labels: backport

#230441 [Discover] Address flaky tests related to breakdown
  src/platform/test/functional/apps/discover/group1/_discover_histogram.ts
  src/platform/test/functional/page_objects/discover_page.ts
  x-pack/platform/test/serverless/functional/test_suites/discover/group1/_discover_histogram.ts
Labels: release_note:skip, Team:DataDiscovery, backport:version, v9.2.0, v9.0.5, v9.1.1, v8.19.1

#229892 [Security Solution][Endpoint] API for SentinelOne `runscript` response actions
  x-pack/platform/plugins/shared/stack_connectors/common/sentinelone/types.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/run_script/run_script.ts
  x-pack/solutions/security/plugins/security_solution/common/endpoint/schema/actions.test.ts
  x-pack/solutions/security/plugins/security_solution/common/endpoint/types/sentinel_one.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/routes/actions/response_actions.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/crowdstrike/crowdstrike_actions_client.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/endpoint/endpoint_actions_client.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/lib/base_response_actions_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/lib/base_response_actions_client.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/ms_defender_endpoint_actions_client.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/mocks.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/mocks.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.ts
  x-pack/test/security_solution_api_integration/test_suites/edr_workflows/response_actions/trial_license_complete_tier/agent_type_support.ts
Labels: release_note:skip, Team:Defend Workflows, backport:version, v9.2.0

#230648 [9.1] [Security Solution] Fix flaky query related Jest frontend integration tests (#230462)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/test_utils/assert_field_validation.ts
Labels: backport

#230647 [9.0] [Security Solution] Fix flaky query related Jest frontend integration tests (#230462)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/test_utils/assert_field_validation.ts
Labels: backport

#230297 Remove resize-observer-polyfill
  package.json
  src/platform/packages/shared/kbn-test/src/jest/setup/polyfills.jsdom.js
  src/platform/plugins/shared/kibana_utils/public/resize_checker/resize_checker.test.ts
  src/platform/plugins/shared/kibana_utils/public/resize_checker/resize_checker.ts
  yarn.lock
Labels: chore, Team:Security, release_note:skip, backport:prev-minor, backport:prev-major

#230453 [9.1] Remove `react-is` dependency (#230117)
  package.json
  renovate.json
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/form_based.test.ts
  yarn.lock
Labels: backport

#230654 [9.1] [Collapsible Sections] Collect telemetry (#230122)
  src/platform/plugins/shared/dashboard/server/usage/dashboard_telemetry.ts
  src/platform/plugins/shared/dashboard/server/usage/dashboard_telemetry_collection_task.ts
  src/platform/plugins/shared/dashboard/server/usage/register_collector.ts
  src/platform/plugins/shared/dashboard/server/usage/task_state.ts
  src/platform/plugins/shared/telemetry/schema/oss_platform.json
Labels: backport

#230659 [9.1] [Discover] Address flaky tests related to breakdown (#230441)
  src/platform/test/functional/apps/discover/group1/_discover_histogram.ts
  src/platform/test/functional/page_objects/discover_page.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
Labels: backport

#230653 [8.19] [Collapsible Sections] Collect telemetry (#230122)
  src/platform/plugins/shared/dashboard/server/usage/dashboard_telemetry.ts
  src/platform/plugins/shared/dashboard/server/usage/dashboard_telemetry_collection_task.ts
  src/platform/plugins/shared/dashboard/server/usage/register_collector.ts
  src/platform/plugins/shared/dashboard/server/usage/task_state.ts
  src/platform/plugins/shared/telemetry/schema/oss_platform.json
Labels: backport

#230649 [8.18] Fixes agentless integration data fields being overwritten by package metadata (#230479)
  x-pack/platform/plugins/shared/fleet/common/services/agentless_policy_helper.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/hooks/setup_technology.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/package_policies_to_agent_inputs.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/package_policies_to_agent_inputs.ts
Labels: backport, Team:Fleet

#230646 [8.19] [Security Solution] Fix flaky query related Jest frontend integration tests (#230462)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/test_utils/assert_field_validation.ts
Labels: backport

#230657 [8.19] [Discover] Address flaky tests related to breakdown (#230441)
  src/platform/test/functional/apps/discover/group1/_discover_histogram.ts
  src/platform/test/functional/page_objects/discover_page.ts
  x-pack/test_serverless/functional/test_suites/common/discover/group1/_discover_histogram.ts
Labels: backport

#230602 fix: [Observability:Flamegraphs page]Swap sides button missing title from announcement
  x-pack/solutions/observability/plugins/profiling/public/components/primary_and_comparison_search_bar.tsx
Labels: Project:Accessibility, release_note:skip, backport:prev-minor

#230490 [9.1] [SecuritySolution] Add inspect button to the Privileged users table and the Top privileged access anomalies (#229601)
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring/components/privileged_access_detection/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring/components/privileged_access_detection/pad_chart/hooks/pad_query_hooks.tsx
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring/components/privileged_access_detection/pad_chart/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring/components/privileged_users_table/hooks.ts
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/privileged_user_monitoring/components/privileged_users_table/index.tsx
Labels: backport

#230088 [Dashboard] Log warning if filter and query state are malformed
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/in/transform_search_source_in.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/out/transform_search_source_out.test.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/out/transform_search_source_out.ts
Labels: release_note:fix, Team:Presentation, backport:skip, v9.2.0

#230663 [8.17] Remove resize-observer-polyfill (#230297)
  package.json
  packages/kbn-test/src/jest/setup/polyfills.jsdom.js
  src/plugins/kibana_utils/public/resize_checker/resize_checker.test.ts
  src/plugins/kibana_utils/public/resize_checker/resize_checker.ts
  yarn.lock
Labels: backport

#229391 perf(synthetics): improve use public location logic
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/hooks/use_can_use_public_loc_id.ts
Labels: release_note:skip, backport:prev-minor, backport:prev-major, Team:obs-ux-management

#230651 [9.1] [Obs AI Assistant] knowledge base UI works offline (#229874)
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_create_knowledge_base_entry.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_create_knowledge_base_user_instruction.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_delete_knowledge_base_entry.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_get_knowledge_base_entries.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_get_user_instructions.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_import_knowledge_base_entries.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_install_product_doc.ts
  x-pack/platform/plugins/private/observability_ai_assistant_management/public/hooks/use_uninstall_product_doc.ts
Labels: backport, ci:project-deploy-observability

#230689 [9.1] perf(synthetics): improve use public location logic (#229391)
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/hooks/use_can_use_public_loc_id.ts
Labels: backport, Team:obs-ux-management

#228664 [CI] Reapply Renovate helper scripts
  .buildkite/pipelines/renovate_helper.yml
  .buildkite/pull_requests.json
  .buildkite/scripts/steps/renovate/renovate_helper.sh
  .buildkite/scripts/steps/renovate/trigger_pr.sh
  .buildkite/scripts/steps/trigger_pipeline.ts
Labels: Team:Operations, release_note:skip, backport:prev-major, backport:current-major

#223498 Set default entity.type value to User and Host entity store ingest pipelines
  x-pack/platform/plugins/shared/entity_manager/server/lib/entities/ingest_pipeline/generate_latest_processors.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/entity_store/elasticsearch_assets/__snapshots__/ingest_pipeline.test.ts.snap
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/entity_store/elasticsearch_assets/ingest_pipeline.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/entity_store/elasticsearch_assets/ingest_pipeline.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/entity_store/installation/types.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security, v9.2.0

#230048 🌊 Streams: Improve performance
  x-pack/platform/packages/shared/kbn-streams-schema/src/models/group/index.test.ts
  x-pack/platform/packages/shared/kbn-streams-schema/src/models/group/index.ts
  x-pack/platform/packages/shared/kbn-streams-schema/src/models/ingest/classic.test.ts
  x-pack/platform/packages/shared/kbn-streams-schema/src/models/ingest/classic.ts
  x-pack/platform/packages/shared/kbn-streams-schema/src/models/ingest/index.ts
  x-pack/platform/packages/shared/kbn-streams-schema/src/models/ingest/wired.test.ts
  x-pack/platform/packages/shared/kbn-streams-schema/src/models/ingest/wired.ts
  x-pack/platform/packages/shared/kbn-streams-schema/src/shared/hierarchy.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/helpers/migrate_on_read.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/streams/wired_stream.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-logs, Feature:Streams, v9.2.0
