Repository elastic/kibana, pull requests merged in 2025-06, with the labels that each got.

#222117 [ES|QL] Revert hiding enhancement
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.change_point.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.fork.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/commands.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/__tests__/test_suites/validation.command.fork.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/__tests__/validation.command.change_point.test.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/esql_theme.test.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/esql_theme.ts
Labels: release_note:skip, backport:skip, Feature:ES|QL

#222145 [8.19] [Inspect] Fix indexpattern parsing leading to incomplete index pattern values being displayed (#221084)
  src/platform/plugins/shared/data/common/search/search_source/search_source.test.ts
  src/platform/plugins/shared/data/common/search/search_source/search_source.ts
Labels: backport

#221735 [8.18] [Sessions][Chore] Update log levels for multiple sessions (#221184)
  src/core/packages/http/server-internal/src/cookie_session_storage.ts
  src/core/server/integration_tests/http/cookie_session_storage.test.ts
Labels: backport

#221734 [8.19] [Sessions][Chore] Update log levels for multiple sessions (#221184)
  src/core/packages/http/server-internal/src/cookie_session_storage.ts
  src/core/server/integration_tests/http/cookie_session_storage.test.ts
Labels: backport

#217531 [Maps] migrate vector to emotion
  src/core/public/css_utils.ts
  src/core/public/index.ts
  x-pack/platform/plugins/shared/maps/public/classes/_index.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/_index.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/_style_prop_editor.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/color/_color_stops.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/color/color_stops.js
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/label/__snapshots__/label_position_editor.test.tsx.snap
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/label/label_position_editor.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/label/label_zoom_range_editor.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/label/vector_style_label_border_size_editor.js
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/legend/_category.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/legend/_vector_legend.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/legend/category.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/legend/vector_style_legend.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/map_color_stops.styles.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/style_prop_editor.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/__snapshots__/custom_icon_modal.test.tsx.snap
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/__snapshots__/icon_select.test.js.snap
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/_custom_icon_modal.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/_icon_preview.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/_icon_select.scss
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/custom_icon_modal.test.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/custom_icon_modal.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/icon_preview.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/icon_select.js
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/icon_stops.js
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/prepend_button.tsx
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/components/symbol/vector_style_symbolize_as_editor.js
  x-pack/platform/plugins/shared/maps/public/classes/styles/vector/disabled_tooltip.tsx
Labels: Team:Presentation, release_note:skip, backport:skip, backport:version, v9.1.0, scss-removal

#222147 [8.19] [ES|QL] Add support for `RRF` (#221349)
  src/platform/packages/shared/kbn-esql-ast/src/parser/__tests__/rrf.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/esql_ast_builder_listener.ts
  src/platform/packages/shared/kbn-esql-ast/src/pretty_print/__tests__/basic_pretty_printer.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/visitor/contexts.ts
  src/platform/packages/shared/kbn-esql-ast/src/visitor/global_visitor_context.ts
  src/platform/packages/shared/kbn-esql-ast/src/visitor/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.rff.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/rrf/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/commands.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/__tests__/test_suites/validation.command.rrf.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/__tests__/validation.command.rrf.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/commands/rrf/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.ts
Labels: backport

#221664 [APM] Fix error count waterfall navigation reload issue
  x-pack/solutions/observability/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/waterfall_item.tsx
Labels: release_note:fix, backport:prev-minor, backport:prev-major, Team:obs-ux-infra_services

#222167 [8.18] [ML] Trained Models: Fix inference endpoints assignment (#222076)
  x-pack/platform/plugins/shared/ml/server/models/model_management/models_provider.ts
Labels: backport

#222164 [9.0] [Security Solution][Network Page] a11y: Radio button options instantly closes when navigating through them (#220338)
  x-pack/platform/plugins/shared/maps/public/connected_components/toolbar_overlay/set_view_control/set_view_form.tsx
Labels: backport

#222166 [8.19] [ES|QL] Update grammars (#222142)
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.g4
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.interp
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/__tests__/limit.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/__tests__/rerank.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/factories/limit.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/factories/rerank.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
Labels: backport

#222162 [8.18] [Security Solution][Network Page] a11y: Radio button options instantly closes when navigating through them (#220338)
  x-pack/platform/plugins/shared/maps/public/connected_components/toolbar_overlay/set_view_control/set_view_form.tsx
Labels: backport

#222172 [Dataset quality] unskipping summary tests
  x-pack/test/functional/apps/dataset_quality/dataset_quality_summary.ts
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#222178 [Dataset quality] unskipping stats api tests
  x-pack/test/dataset_quality_api_integration/tests/data_streams/stats.spec.ts
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#222008 chore(): unify solution id type definition
  src/core/packages/chrome/browser/src/contracts.ts
  src/core/packages/chrome/browser/src/project_navigation.ts
  src/core/packages/chrome/browser/tsconfig.json
  src/platform/plugins/shared/discover/public/context_awareness/hooks/use_root_profile.test.tsx
  src/platform/plugins/shared/discover/public/embeddable/actions/view_saved_search_action.test.ts
  src/platform/plugins/shared/discover/public/embeddable/get_search_embeddable_factory.test.tsx
Labels: Team:Core, release_note:skip, Team:DataDiscovery, Team:SharedUX, backport:prev-minor, backport:prev-major

#222185 [APM] Skip failing test
  x-pack/solutions/observability/test/apm_api_integration/tests/settings/anomaly_detection/update_to_v3.spec.ts
Labels: release_note:skip, backport:skip, apm:ml, Team:obs-ux-infra_services

#222201 [ES|QL] fix: hide rrf command
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/commands.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#222170 [Security Solution] Fix MKI tests for prebuilt rules
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_rule_management.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_rule_management.yml
  x-pack/test/security_solution_api_integration/package.json
Labels: bug, test, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, backport:version, v9.1.0, v8.19.0

#222180 [Dataset quality] unskipping tests
  x-pack/test/functional/apps/dataset_quality/dataset_quality_table.ts
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#222190 [9.0] [APM] Fix error count waterfall navigation reload issue (#221664)
  x-pack/solutions/observability/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/waterfall_item.tsx
Labels: backport, Team:obs-ux-infra_services

#221945 [8.19] [Fleet] Introduce new config setting `xpack.fleet.agentless.isDefault` to set agentless deployment by default (#216535)
  config/serverless.security.search_ai_lake.yml
  src/platform/test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/platform/plugins/shared/fleet/common/types/index.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_panel.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/components/setup_technology_selector.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/hooks/setup_technology.test.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/hooks/setup_technology.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.tsx
  x-pack/platform/plugins/shared/fleet/server/config.test.ts
  x-pack/platform/plugins/shared/fleet/server/config.ts
Labels: backport, Team:Fleet

#222221 [8.19] [Security Solution] Fix MKI tests for prebuilt rules (#222170)
  .buildkite/pipelines/security_solution_quality_gate/mki_periodic/mki_periodic_rule_management.yml
  .buildkite/pipelines/security_solution_quality_gate/mki_quality_gate/mki_quality_gate_rule_management.yml
  x-pack/test/security_solution_api_integration/package.json
Labels: backport

#222181 [Security Solution] Fix DW related failures in MKI pipeline
  x-pack/solutions/security/plugins/security_solution/public/management/cypress/tasks/login.ts
Labels: release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Defend Workflows, Team:Detection Rule Management, backport:version, v9.1.0, v8.19.0, v9.0.3, v8.18.3, v8.17.8

#221711 Remove clickable invisible item in Serverless Observability side nav
  x-pack/solutions/observability/plugins/serverless_observability/public/navigation_tree.ts
Labels: release_note:skip, ci:project-deploy-observability, backport:version, v9.1.0, v8.19.0

#221437 [9.0] [Detection Engine] Prevent test data from rolling outside of Cypress rules' query (#220923)
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/alerts_table_flow/rule_exceptions/closing_all_matching_alerts.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/entry/match_any.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/rule_details_flow/add_edit_exception.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/exceptions/rule_details_flow/add_edit_exception_data_view.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/indicator_match_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/objects/rule.ts
Labels: backport

#222225 [8.19] 🌊 Streams: Improve state update for .kibana_streams (#221510)
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/execution_plan/execution_plan.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/streams/wired_stream.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/index.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/meta_data.ts
Labels: backport

#222227 [8.19] [streams] inherited fields api test (#222080)
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/basic.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/migration_on_read.ts
Labels: backport

#222099 [Security] Fix `styled-components` theming
  src/platform/plugins/shared/kibana_react/public/dark_mode/use_dark_mode.test.tsx
  src/platform/plugins/shared/kibana_react/public/dark_mode/use_dark_mode.ts
  src/platform/plugins/shared/kibana_react/public/index.ts
  x-pack/solutions/security/plugins/security_solution/public/app/app.tsx
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#222235 [8.18] [Security Solution] Fix DW related failures in MKI pipeline (#222181)
  x-pack/solutions/security/plugins/security_solution/public/management/cypress/tasks/login.ts
Labels: backport

#222091 [Security Solution] Fix field translation
  x-pack/solutions/security/plugins/security_solution/public/common/components/alert_count_by_status/translations.ts
Labels: release_note:skip, Team:Threat Hunting, Team: SecuritySolution, backport:prev-major, v9.1.0

#222239 [8.19] Remove clickable invisible item in Serverless Observability side nav (#221711)
  x-pack/solutions/observability/plugins/serverless_observability/public/navigation_tree.ts
Labels: backport, ci:project-deploy-observability

#222258 [9.0] [Docs][9.0.x] Add known issue about maintenance windows (#222097)
  docs/release-notes/known-issues.md
Labels: backport

#222256 [8.19] [Security Solution] Fix field translation (#222091)
  x-pack/solutions/security/plugins/security_solution/public/common/components/alert_count_by_status/translations.ts
Labels: backport

#222254 [8.17] [Security Solution] Fix field translation (#222091)
  x-pack/plugins/security_solution/public/common/components/alert_count_by_status/translations.ts
Labels: backport

#221706 Security quality gate error to warn proxy message
  x-pack/solutions/security/plugins/security_solution/scripts/run_cypress/project_handler/cloud_project_handler.ts
  x-pack/solutions/security/plugins/security_solution/scripts/run_cypress/project_handler/proxy_project_handler.ts
Labels: release_note:skip, backport:skip, Team: SecuritySolution

#222269 [8.19] [Obs AI Assistant] Delete user instruction if text is empty (#221560)
  x-pack/platform/plugins/shared/observability_ai_assistant/server/routes/knowledge_base/route.ts
  x-pack/solutions/observability/plugins/observability_ai_assistant_management/public/hooks/use_delete_knowledge_base_entry.ts
  x-pack/solutions/observability/plugins/observability_ai_assistant_management/public/routes/components/knowledge_base_edit_user_instruction_flyout.test.tsx
  x-pack/solutions/observability/plugins/observability_ai_assistant_management/public/routes/components/knowledge_base_edit_user_instruction_flyout.tsx
  x-pack/solutions/observability/plugins/observability_ai_assistant_management/tsconfig.json
  x-pack/test/api_integration/deployment_agnostic/apis/observability/ai_assistant/knowledge_base/knowledge_base_user_instructions.spec.ts
  x-pack/test/observability_ai_assistant_functional/common/ui/index.ts
  x-pack/test/observability_ai_assistant_functional/tests/knowledge_base_management/index.spec.ts
Labels: backport, Team:Obs AI Assistant, ci:project-deploy-observability

#221533 🌊 Streams: Test migration properly and refactor migration on read
  src/platform/packages/shared/kbn-storage-adapter/README.md
  src/platform/packages/shared/kbn-storage-adapter/src/index_adapter/index.ts
  src/platform/packages/shared/kbn-storage-adapter/src/index_adapter/integration_tests/index.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/client.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/helpers/migrate_on_read.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/service.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/stream_active_record/stream_from_definition.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/migration_on_read.ts
Labels: release_note:skip, Team:obs-ux-logs, backport:version, Feature:Streams, v9.1.0, v8.19.0

#222283 [8.17] [Security Solution] Fix banner title in event preview (#222266)
  x-pack/plugins/security_solution/public/flyout/document_details/preview/index.tsx
Labels: backport

#222126 [Scout] Run if Streams changes match
  .buildkite/scripts/pipelines/pull_request/pipeline.ts
Labels: release_note:skip, backport:version, v8.19.0, ci:scout-ui-tests

#221999 [9.0] Update console definitions branches (#221888)
  .buildkite/pipeline-resource-definitions/kibana-console-definitions-sync.yml
Labels: backport

#222179 [8.19] [AI_SOC] Add configurations page (#216079)
  .github/CODEOWNERS
  src/platform/packages/shared/deeplinks/security/deep_links.ts
  x-pack/solutions/security/packages/features/src/product_features_keys.ts
  x-pack/solutions/security/packages/features/src/security/product_feature_config.ts
  x-pack/solutions/security/plugins/security_solution/common/constants.ts
  x-pack/solutions/security/plugins/security_solution/public/app/links/app_links.ts
  x-pack/solutions/security/plugins/security_solution/public/app/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/configurations/constants.ts
  x-pack/solutions/security/plugins/security_solution/public/configurations/index.ts
  x-pack/solutions/security/plugins/security_solution/public/configurations/links.ts
  x-pack/solutions/security/plugins/security_solution/public/configurations/page/configuration_router.tsx
  x-pack/solutions/security/plugins/security_solution/public/configurations/page/configuration_tabs.tsx
  x-pack/solutions/security/plugins/security_solution/public/configurations/page/configurations.tsx
  x-pack/solutions/security/plugins/security_solution/public/configurations/routes.tsx
  x-pack/solutions/security/plugins/security_solution/public/configurations/tabs/ai_settings.tsx
  x-pack/solutions/security/plugins/security_solution/public/configurations/tabs/basic_rules.tsx
  x-pack/solutions/security/plugins/security_solution/public/configurations/tabs/integrations.tsx
  x-pack/solutions/security/plugins/security_solution/public/configurations/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/lazy_sub_plugins.tsx
  x-pack/solutions/security/plugins/security_solution/public/plugin.tsx
  x-pack/solutions/security/plugins/security_solution/public/types.ts
  x-pack/solutions/security/plugins/security_solution_ess/common/constants.ts
  x-pack/solutions/security/plugins/security_solution_serverless/common/pli/pli_config.ts
Labels: backport

#222150 [8.19] [Alerting] Add snapshot telemetry for _ignored fields (#221480)
  x-pack/platform/plugins/private/telemetry_collection_xpack/schema/xpack_platform.json
  x-pack/platform/plugins/shared/alerting/server/usage/alerting_usage_collector.ts
  x-pack/platform/plugins/shared/alerting/server/usage/lib/get_telemetry_from_alerts.test.ts
  x-pack/platform/plugins/shared/alerting/server/usage/lib/get_telemetry_from_alerts.ts
  x-pack/platform/plugins/shared/alerting/server/usage/lib/parse_count_ignored_rule_type_bucket.ts
  x-pack/platform/plugins/shared/alerting/server/usage/task.ts
  x-pack/platform/plugins/shared/alerting/server/usage/task_state.test.ts
  x-pack/platform/plugins/shared/alerting/server/usage/task_state.ts
  x-pack/platform/plugins/shared/alerting/server/usage/types.ts
Labels: backport

#204965 [EDR Workflows] Scripts selector component in Response Console
  x-pack/platform/plugins/shared/stack_connectors/common/crowdstrike/schema.ts
  x-pack/platform/plugins/shared/stack_connectors/common/crowdstrike/types.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/crowdstrike.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/crowdstrike.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/custom_scripts/get_custom_scripts_route.ts
  x-pack/solutions/security/plugins/security_solution/common/endpoint/constants.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/console_argument_selectors/custom_script_selector.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/console_argument_selectors/custom_script_selector.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/endpoint_responder/lib/console_commands_definition.ts
  x-pack/solutions/security/plugins/security_solution/public/management/hooks/custom_scripts/use_get_custom_scripts.test.ts
  x-pack/solutions/security/plugins/security_solution/public/management/hooks/custom_scripts/use_get_custom_scripts.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/routes/actions/custom_scripts_handler.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/routes/actions/custom_scripts_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/routes/actions/index.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/crowdstrike/crowdstrike_actions_client.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/crowdstrike/utils.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/crowdstrike/utils.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/endpoint/endpoint_actions_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/lib/base_response_actions_client.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/lib/types.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/ms_defender_endpoint_actions_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/mocks.ts
Labels: Team:Defend Workflows, release_note:feature, ci:cloud-deploy, backport:version, v9.1.0, v8.19.0

#222200 [Security Solution] Fix race condition when Defend is installed before rules package
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/bootstrap_prebuilt_rules/bootstrap_prebuilt_rules_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/install_prebuilt_rules_and_timelines/legacy_create_prepackaged_rules.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_installation/perform_rule_installation_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/integrations/ensure_latest_rules_package_installed.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/integrations/install_endpoint_security_prebuilt_rule.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/integrations/install_prebuilt_rules_package.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/import_rules/route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/rule_source_importer/rule_source_importer.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/rule_source_importer/rule_source_importer.ts
Labels: bug, release_note:skip, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, backport:version, v9.1.0, v8.19.0

#222092 [8.19] [Synthetics] Skipping synthetics alerting tests on cloud (#222058)
  x-pack/test/api_integration/deployment_agnostic/apis/observability/alerting/synthetics/custom_status_rule.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/alerting/synthetics/synthetics_default_rule.ts
Labels: backport

#222199 chore: update @elastic/eslint-plugin-eui to v1.0.0
  package.json
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/components/asset_inventory_bar_chart.tsx
  yarn.lock
Labels: release_note:skip, EUI, backport:skip

#222234 [8.17] [Security Solution] Fix DW related failures in MKI pipeline (#222181)
  x-pack/plugins/security_solution/public/management/cypress/tasks/login.ts
Labels: backport

#222286 [8.19] Default `EUI_AMSTERDAM` to true when unset
  kbn_pm/src/commands/bootstrap/bootstrap_command.mjs
  kbn_pm/src/commands/watch_command.mjs
Labels: release_note:skip, backport:skip, v8.19.0

#221779 [Lint] Officially deprecate Enzyme
  .eslintrc.js
  packages/kbn-docs-utils/src/build_api_docs_cli.ts
  packages/kbn-docs-utils/src/count_enzyme_imports/count_enzyme_imports.test.ts
  packages/kbn-docs-utils/src/count_enzyme_imports/count_enzyme_imports.ts
  packages/kbn-docs-utils/src/count_enzyme_imports/index.ts
  packages/kbn-docs-utils/src/count_enzyme_imports/test_enzyme_import.test.ts
  packages/kbn-eslint-plugin-eslint/index.js
  packages/kbn-eslint-plugin-eslint/rules/no_deprecated_imports.js
  src/platform/packages/shared/kbn-test-jest-helpers/src/enzyme_helpers.tsx
  src/platform/packages/shared/kbn-test-jest-helpers/src/find_test_subject.ts
  src/platform/packages/shared/kbn-test-jest-helpers/src/testbed/mount_component.tsx
  src/platform/packages/shared/kbn-test-jest-helpers/src/testbed/testbed.ts
  src/platform/packages/shared/kbn-test-jest-helpers/src/testing_library_react_helpers.tsx
  x-pack/platform/plugins/private/cross_cluster_replication/public/__jest__/client_integration/auto_follow_pattern_list.test.js
  x-pack/platform/plugins/private/cross_cluster_replication/public/__jest__/client_integration/follower_indices_list.test.js
Labels: chore, release_note:skip, backport:skip

#222307 [8.19] 🌊 Streams: Test migration properly and refactor migration on read (#221533)
  src/platform/packages/shared/kbn-storage-adapter/README.md
  src/platform/packages/shared/kbn-storage-adapter/src/index_adapter/index.ts
  src/platform/packages/shared/kbn-storage-adapter/src/index_adapter/integration_tests/index.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/client.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/helpers/migrate_on_read.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/service.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/stream_active_record/stream_from_definition.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/migration_on_read.ts
Labels: backport

#221496 [8.19] [Discover] Make pin button focusable with keyboard (#214343) (#219230)
  src/platform/plugins/shared/data_view_field_editor/public/components/preview/field_list/field_list.mocks.ts
  src/platform/plugins/shared/data_view_field_editor/public/components/preview/field_list/field_list.scss
  src/platform/plugins/shared/data_view_field_editor/public/components/preview/field_list/field_list.tsx
  src/platform/plugins/shared/data_view_field_editor/public/components/preview/field_list/field_list_item.test.tsx
  src/platform/plugins/shared/data_view_field_editor/public/components/preview/field_list/field_list_item.tsx
  src/platform/plugins/shared/data_view_field_editor/public/components/preview/field_list/get_item_position.test.ts
  src/platform/plugins/shared/data_view_field_editor/public/components/preview/field_list/get_item_position.ts
Labels: backport

#221358 [EDR Workflows] Prevent Event Filter list recreation with every new Cloud Workloads Defend integration
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/handlers/create_event_filters.ts
Labels: release_note:skip, v9.0.0, Team:Defend Workflows, backport:version, v9.1.0, v8.19.0

#222189 [OAS] Pass down env to router processors and remove `added in...` from serverless OAS
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  src/core/packages/http/server-internal/src/http_service.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/generate_oas.test.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/generate_oas.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/process_router.test.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/process_router.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/process_versioned_router.test.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/process_versioned_router.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/util.test.ts
  src/platform/packages/shared/kbn-router-to-openapispec/src/util.ts
Labels: Team:Core, release_note:skip, backport:skip, Feature:OAS, v9.1.0

#220457 [8.19] [ResponseOps][TaskManager] Throw error if using generated encryption key to schedule tasks with user scope (#217790)
  x-pack/platform/plugins/shared/task_manager/server/lib/api_key_utils.test.ts
  x-pack/platform/plugins/shared/task_manager/server/lib/api_key_utils.ts
  x-pack/platform/plugins/shared/task_manager/server/task_store.test.ts
  x-pack/platform/plugins/shared/task_manager/server/task_store.ts
Labels: backport

#221727 [ResponseOps][MW] Fix MW oas docs capture.
  .buildkite/scripts/steps/checks/capture_oas_snapshot.sh
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/archive/archive_maintenance_window_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/archive/archive_maintenance_window_route.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/create/create_maintenance_window_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/create/create_maintenance_window_route.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/delete/delete_maintenance_window_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/delete/delete_maintenance_window_route.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/get/get_maintenance_window_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/get/get_maintenance_window_route.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/unarchive/unarchive_maintenance_window_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/unarchive/unarchive_maintenance_window_route.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/update/update_maintenance_window_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/maintenance_window/apis/external/update/update_maintenance_window_route.ts
Labels: release_note:skip, Team:ResponseOps, backport:version, v9.1.0, v8.19.0

#222255 [8.18] [Security Solution] Fix field translation (#222091)
  x-pack/solutions/security/plugins/security_solution/public/common/components/alert_count_by_status/translations.ts
Labels: backport

#222183 [Dataset quality] Disable test for 9.0
  x-pack/test/api_integration/deployment_agnostic/apis/observability/dataset_quality/data_stream_settings.ts
  x-pack/test/dataset_quality_api_integration/tests/data_streams/data_stream_details.spec.ts
  x-pack/test/functional/apps/dataset_quality/dataset_quality_summary.ts
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#221237 [Docs] Add release notes for 9.0.2 Kibana
  docs/release-notes/index.md
Labels: Team:Docs, release_note:skip, docs, backport:version, v9.0.2

#222320 [8.19] [APM] Skip failing test (#222185)
  x-pack/solutions/observability/test/apm_api_integration/tests/settings/anomaly_detection/update_to_v3.spec.ts
Labels: backport

#222340 [9.0] [Docs] Add release notes for 9.0.2 Kibana (#221237)
  docs/release-notes/index.md
Labels: backport

#222351 [9.0] [Docs][9.0.2] Add known issue about kibana.yml file (#222213)
  docs/release-notes/known-issues.md
Labels: backport

#222334 [8.19] [ES|QL] Use Monaco Monarch ES|QL grammar for highlighting (#219394)
  renovate.json
  src/platform/packages/shared/kbn-esql-validation-autocomplete/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/scripts/generate_function_definitions.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/generated/function_names.ts
  src/platform/packages/shared/kbn-monaco/BUILD.bazel
  src/platform/packages/shared/kbn-monaco/src/esql/index.ts
  src/platform/packages/shared/kbn-monaco/src/esql/language.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/esql_theme.test.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/esql_theme.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/esql_tokens_provider.test.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/esql_tokens_provider.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/index.ts
  src/platform/packages/shared/kbn-monaco/src/esql/lib/theme.ts
Labels: backport

#222337 [8.19] [Dataset quality] Disable test for 9.0 (#222183)
  x-pack/test/api_integration/deployment_agnostic/apis/observability/dataset_quality/data_stream_settings.ts
  x-pack/test/dataset_quality_api_integration/tests/data_streams/data_stream_details.spec.ts
  x-pack/test/functional/apps/dataset_quality/dataset_quality_summary.ts
Labels: backport

#222345 [9.0] [Remote clusters] Show node connections and proxy socket connections info (#221520)
  x-pack/platform/plugins/private/remote_clusters/common/lib/cluster_serialization.test.ts
  x-pack/platform/plugins/private/remote_clusters/common/lib/cluster_serialization.ts
  x-pack/platform/plugins/private/remote_clusters/public/application/sections/remote_cluster_list/detail_panel/detail_panel.js
  x-pack/platform/plugins/private/remote_clusters/server/routes/api/get_route.test.ts
  x-pack/platform/plugins/private/remote_clusters/server/routes/api/get_route.ts
  x-pack/platform/plugins/private/remote_clusters/server/routes/api/update_route.test.ts
  x-pack/test/api_integration/apis/management/remote_clusters/remote_clusters.js
Labels: backport

#222057 [Fleet] Add sync_integrations field to Fleet Usage telemetry
  x-pack/platform/plugins/shared/fleet/server/collectors/agents_per_output.test.ts
  x-pack/platform/plugins/shared/fleet/server/collectors/agents_per_output.ts
  x-pack/platform/plugins/shared/fleet/server/services/telemetry/fleet_usages_schema.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#222356 [8.19] [TSVB/SCSS] Migrate `_vis_types.scss` file (#221095)
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/_vis_types.scss
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/_vis_types.ts
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/gauge/vis.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/index.ts
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/markdown/vis.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/metric/vis.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/table/vis.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/timeseries/vis.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/top_n/vis.js
Labels: backport

#222357 [8.19] [TSVB/SCSS] Migrate `_last_value_mode_popover.scss` file (#221092)
  src/platform/plugins/private/vis_types/timeseries/public/application/components/last_value_mode_popover.scss
  src/platform/plugins/private/vis_types/timeseries/public/application/components/last_value_mode_popover.tsx
Labels: backport

#222352 [8.19] [TSVB/SCSS] Migrate `_series_editor.scss` file (#220991)
  src/platform/plugins/private/vis_types/timeseries/public/application/components/_series_editor.scss
  src/platform/plugins/private/vis_types/timeseries/public/application/components/_series_editor.ts
  src/platform/plugins/private/vis_types/timeseries/public/application/components/series_editor.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/gauge/series.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/markdown/series.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/metric/series.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/table/series.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/timeseries/series.js
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_types/top_n/series.js
Labels: backport

#222354 [8.19] [TSVB/SCSS] Migrate `_vis_with_splits.scss` file (#221002)
  src/platform/plugins/private/vis_types/timeseries/public/application/components/_vis_with_splits.scss
  src/platform/plugins/private/vis_types/timeseries/public/application/components/vis_with_splits.js
Labels: backport

#222358 [8.19] [TSVB/SCSS] Migrate `_annotation.scss` file (#221296)
  src/platform/plugins/private/vis_types/timeseries/public/application/visualizations/views/_annotation.scss
  src/platform/plugins/private/vis_types/timeseries/public/application/visualizations/views/annotation.js
Labels: backport

#222284 [8.18] [Security Solution] Fix banner title in event preview (#222266)
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/preview/index.tsx
Labels: backport

#222285 [8.19] [Security Solution] Fix banner title in event preview (#222266)
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/preview/index.tsx
Labels: backport

#222238 [SLO] add link to slo management
  x-pack/solutions/observability/plugins/slo/public/components/header_menu/header_menu.tsx
Labels: release_note:feature, Team:obs-ux-management, backport:version, v9.1.0, v8.19.0, author:obs-ux-management

#220583 Improve loading state design of data view flyout
  src/platform/plugins/shared/data_view_editor/public/components/data_view_editor_flyout_content.tsx
  src/platform/plugins/shared/data_view_editor/public/components/data_view_editor_lazy.tsx
  src/platform/plugins/shared/data_view_editor/public/components/footer/footer.tsx
Labels: Feature:Data Views, release_note:skip, backport:skip, v9.1.0

#220296 [Lens] Migrate by-term `palettes` to `colorMapping` configs
  src/platform/packages/shared/kbn-coloring/src/palettes/types.ts
  src/platform/packages/shared/kbn-coloring/src/palettes/utils/common.test.ts
  src/platform/packages/shared/kbn-coloring/src/palettes/utils/common.ts
  src/platform/packages/shared/kbn-coloring/src/palettes/utils/get_config_from_palette.test.ts
  src/platform/packages/shared/kbn-coloring/src/palettes/utils/get_config_from_palette.ts
  src/platform/packages/shared/kbn-coloring/src/palettes/utils/index.ts
  src/platform/packages/shared/kbn-coloring/src/shared_components/color_mapping/config/default_color_mapping.ts
  src/platform/packages/shared/kbn-coloring/src/shared_components/color_mapping/config/types.ts
  src/platform/packages/shared/kbn-palettes/palettes/gradient/complementary.ts
  src/platform/packages/shared/kbn-palettes/palettes/gradient/green.ts
  src/platform/packages/shared/kbn-palettes/palettes/gradient/red.ts
  src/platform/packages/shared/kbn-palettes/palettes/legacy/categorical/kibana_4.ts
  src/platform/packages/shared/kbn-palettes/palettes/legacy/categorical/kibana_7.ts
  src/platform/packages/shared/kbn-palettes/palettes/legacy/categorical/kibana_7_behind_text.ts
  src/platform/packages/shared/kbn-palettes/palettes/legacy/gradient/complementary.ts
  src/platform/packages/shared/kbn-palettes/palettes/legacy/gradient/green.ts
  src/platform/packages/shared/kbn-palettes/palettes/legacy/gradient/red.ts
  src/platform/plugins/shared/charts/public/index.ts
  src/platform/plugins/shared/charts/public/services/palettes/palettes.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/settings/settings_flyout.tsx
  x-pack/platform/plugins/shared/lens/common/expressions/impl/datatable/datatable_column.ts
  x-pack/platform/plugins/shared/lens/common/types.ts
  x-pack/platform/plugins/shared/lens/public/runtime_state/converters/raw_color_mappings/converter.test.ts
  x-pack/platform/plugins/shared/lens/public/shared_components/coloring/color_mapping_by_terms.tsx
  x-pack/platform/plugins/shared/lens/public/shared_components/coloring/utils.ts
  x-pack/platform/plugins/shared/lens/public/visualizations/datatable/components/dimension_editor.tsx
  x-pack/platform/plugins/shared/lens/public/visualizations/datatable/runtime_state/converters/raw_color_mappings.ts
  x-pack/platform/plugins/shared/lens/public/visualizations/partition/dimension_editor.tsx
  x-pack/platform/plugins/shared/lens/public/visualizations/partition/visualization.tsx
  x-pack/platform/plugins/shared/lens/public/visualizations/tagcloud/tagcloud_visualization.tsx
  x-pack/platform/plugins/shared/lens/public/visualizations/tagcloud/tags_dimension_editor.tsx
  x-pack/platform/plugins/shared/lens/public/visualizations/tagcloud/types.ts
  x-pack/platform/plugins/shared/lens/public/visualizations/xy/types.ts
  x-pack/platform/plugins/shared/lens/public/visualizations/xy/visualization.tsx
  x-pack/platform/plugins/shared/lens/public/visualizations/xy/xy_config_panel/dimension_editor.tsx
  x-pack/test/functional/page_objects/lens_page.ts
Labels: Team:Visualizations, Feature:Lens, release_note:feature, backport:version, v9.1.0, v8.19.0

#222445 [8.19] [SLO] add link to slo management (#222238)
  x-pack/solutions/observability/plugins/slo/public/components/header_menu/header_menu.tsx
Labels: backport, Team:obs-ux-management

#222413 chore(NA): update versions after v9.0.3 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v9.1.0

#222415 chore(NA): update versions after v8.17.8 bump
  versions.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v9.1.0

#218773 [Streams] Extract fields: Improve handling of dates in AI suggested parsing
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/convert_ecs_fields_to_otel.ts
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/get_log_groups.test.ts
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/get_log_groups.ts
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/probabilistic_trie.ts
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/suggestions_handler.eval.ts
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/suggestions_handler.test.ts
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/suggestions_handler.ts
  x-pack/platform/plugins/shared/streams/tsconfig.json
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/generate_pattern_button.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/grok_ai_suggestions.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/grok_pattern_suggestion.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/grok_patterns_editor.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/use_ai_features.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/use_grok_pattern_suggestion.tsx
  x-pack/platform/plugins/shared/streams_app/public/hooks/use_streams_app_fetch.ts
  x-pack/platform/plugins/shared/streams_app/tsconfig.json
Labels: release_note:skip, backport:version, Feature:Streams, v9.1.0, v8.19.0

#222382 [8.19] [Security Solution] Update highlighted fields button and enable feature flag (#221862)
  x-pack/solutions/security/plugins/security_solution/common/experimental_features.ts
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/right/components/highlighted_fields.tsx
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/right/components/highlighted_fields_button.tsx
Labels: backport

#222289 [8.19] [Build] Parallel artifact builds (#217929)
  src/dev/build/build_distributables.ts
  src/dev/build/lib/build.ts
  src/dev/build/lib/exec.ts
  src/dev/build/lib/runner.test.ts
  src/dev/build/lib/runner.ts
  src/dev/build/tasks/create_archives_task.ts
  src/dev/build/tasks/nodejs/download_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/extract_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/verify_existing_node_builds_task.test.ts
  src/dev/build/tasks/os_packages/docker_generator/run.ts
  src/dev/build/tasks/os_packages/run_fpm.ts
Labels: backport

#222119 [Detection Engine] Increase the timeout of a slow(er) jest integration test
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation/components/ml_jobs_description/admin/ml_admin_job_description.integration.test.tsx
Labels: release_note:skip, Feature:Security ML Jobs, backport:all-open, Team:Detection Engine

#222458 [Security Solution] remove unused detections code
  packages/kbn-babel-preset/styled_components_files.js
  x-pack/solutions/security/plugins/security_solution/public/detections/components/severity/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/severity/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/status/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/status/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/columns.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/index.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/render_cell_value.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/render_cell_value.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, backport:version, v9.1.0, v8.19.0

#222456 [9.0] [Build] Parallel artifact builds (#217929)
  src/dev/build/build_distributables.ts
  src/dev/build/lib/build.ts
  src/dev/build/lib/exec.ts
  src/dev/build/lib/runner.test.ts
  src/dev/build/lib/runner.ts
  src/dev/build/tasks/create_archives_task.ts
  src/dev/build/tasks/nodejs/download_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/extract_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/verify_existing_node_builds_task.test.ts
  src/dev/build/tasks/os_packages/docker_generator/run.ts
  src/dev/build/tasks/os_packages/run_fpm.ts
Labels: backport

#222470 [8.19] Update dependency launchdarkly-js-client-sdk to ^3.8.0 (main) (#222419)
  package.json
  yarn.lock
Labels: backport

#222459 [8.18] [Build] Parallel artifact builds (#217929)
  src/dev/build/build_distributables.ts
  src/dev/build/lib/build.ts
  src/dev/build/lib/exec.ts
  src/dev/build/lib/runner.test.ts
  src/dev/build/lib/runner.ts
  src/dev/build/tasks/create_archives_task.ts
  src/dev/build/tasks/nodejs/download_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/extract_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/verify_existing_node_builds_task.test.ts
  src/dev/build/tasks/os_packages/docker_generator/run.ts
  src/dev/build/tasks/os_packages/run_fpm.ts
Labels: backport

#222460 [8.17] [Build] Parallel artifact builds (#217929)
  src/dev/build/build_distributables.ts
  src/dev/build/lib/build.ts
  src/dev/build/lib/exec.ts
  src/dev/build/lib/runner.test.ts
  src/dev/build/lib/runner.ts
  src/dev/build/tasks/create_archives_task.ts
  src/dev/build/tasks/nodejs/download_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/extract_node_builds_task.test.ts
  src/dev/build/tasks/nodejs/verify_existing_node_builds_task.test.ts
  src/dev/build/tasks/os_packages/docker_generator/run.ts
  src/dev/build/tasks/os_packages/run_fpm.ts
Labels: backport

#220585 [Security Solution][Data View Manager] Allow passing data view to query bar
  x-pack/solutions/security/plugins/security_solution/public/common/components/query_bar/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/query_bar/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/search_bar/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/timeline/query_bar/index.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, v9.1.0

#222122 [Security Solution] Fix data view picker privilege
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/components/data_view_picker/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/components/data_view_picker/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/resolver/view/controls/sourcerer_selection.test.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, v9.1.0

#222484 [8.19] [Security Solution] remove unused detections code (#222458)
  packages/kbn-babel-preset/styled_components_files.js
  x-pack/solutions/security/plugins/security_solution/public/detections/components/severity/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/severity/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/status/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/status/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/columns.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/index.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/render_cell_value.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/configurations/examples/observablity_alerts/render_cell_value.tsx
Labels: backport

#221714 [SharedUX] use core.rendering service for Share plugin interfaces
  src/platform/packages/private/kbn-reporting/get_csv_panel_actions/panel_actions/get_csv_panel_action.tsx
  src/platform/packages/private/kbn-reporting/public/share/share_context_menu/index.ts
  src/platform/packages/private/kbn-reporting/public/share/share_context_menu/register_csv_modal_reporting.tsx
  src/platform/packages/private/kbn-reporting/public/share/share_context_menu/register_pdf_png_modal_reporting.tsx
  src/platform/packages/private/kbn-reporting/public/share/share_context_menu/reporting_panel_content/reporting_panel_content.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_app/top_nav/share/show_share_modal.tsx
  src/platform/plugins/shared/discover/public/application/main/components/top_nav/app_menu_actions/get_share.tsx
  src/platform/plugins/shared/share/public/components/context/index.tsx
  src/platform/plugins/shared/share/public/components/export_popover/export_popover.test.tsx
  src/platform/plugins/shared/share/public/components/share_tabs.test.tsx
  src/platform/plugins/shared/share/public/services/share_menu_manager.tsx
  src/platform/plugins/shared/share/public/types.ts
  src/platform/plugins/shared/share/tsconfig.json
  src/platform/plugins/shared/visualizations/public/visualize_app/utils/get_top_nav_config.tsx
  x-pack/platform/plugins/private/reporting/public/plugin.ts
  x-pack/platform/plugins/private/reporting/public/types.ts
  x-pack/platform/plugins/shared/lens/public/app_plugin/lens_top_nav.tsx
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#222433 [8.19] [ES|QL] fix: hide rrf command (#222201)
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/commands.ts
Labels: backport

#222435 [8.19] [ES|QL] `COMPLETION` command parsing support (#221609)
  src/platform/packages/shared/kbn-esql-ast/src/parser/__tests__/completion.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/esql_ast_builder_listener.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/factories/completion.ts
  src/platform/packages/shared/kbn-esql-ast/src/visitor/__tests__/commands.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/visitor/contexts.ts
  src/platform/packages/shared/kbn-esql-ast/src/visitor/global_visitor_context.ts
  src/platform/packages/shared/kbn-esql-ast/src/visitor/types.ts
Labels: backport

#220229 [Fleet] Add integration flyout
  x-pack/platform/plugins/shared/fleet/common/services/validate_package_policy.ts
  x-pack/platform/plugins/shared/fleet/cypress/e2e/integrations_real.cy.ts
  x-pack/platform/plugins/shared/fleet/cypress/screens/integrations.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_panel.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_stream.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/components/add_integration_flyout_configure_header.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/components/index.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/hooks/form.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/types.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/details_page/components/package_policies/add_integration_flyout.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/details_page/components/package_policies/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/details_page/components/package_policies/no_package_policies.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/details_page/components/package_policies/package_policies_table.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/details_page/index.tsx
Labels: backport:skip, Team:Fleet, release_note:feature

#222319 [Flaky test] adjustments to reporting page objects
  src/platform/test/functional/page_objects/export_page.ts
  x-pack/test/functional/apps/discover/group1/reporting.ts
Labels: release_note:skip, backport:skip, Team:SharedUX

#222085 [9.0] [Dataview] Fix flaky Dataviews field edit tests by using a single document (#221088)
  test/functional/apps/management/data_views/_edit_field.ts
  x-pack/test_serverless/functional/test_suites/common/management/data_views/_edit_field.ts
Labels: backport

#221474 [ES|QL] Editor extensions registry - recommended queries
  src/platform/packages/private/kbn-esql-editor/src/esql_editor.test.tsx
  src/platform/packages/private/kbn-esql-editor/src/esql_editor.tsx
  src/platform/packages/private/kbn-esql-editor/src/types.ts
  src/platform/packages/shared/kbn-esql-types/index.ts
  src/platform/packages/shared/kbn-esql-types/src/extensions_autocomplete_types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/from/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/recommended_queries/suggestions.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.ts
  src/platform/plugins/shared/esql/public/plugin.ts
  src/platform/plugins/shared/esql/public/util/cache.test.ts
  src/platform/plugins/shared/esql/public/util/cache.ts
  src/platform/plugins/shared/esql/server/README.md
  src/platform/plugins/shared/esql/server/extensions_registry/index.test.ts
  src/platform/plugins/shared/esql/server/extensions_registry/index.ts
  src/platform/plugins/shared/esql/server/extensions_registry/utils.test.ts
  src/platform/plugins/shared/esql/server/extensions_registry/utils.ts
  src/platform/plugins/shared/esql/server/index.ts
  src/platform/plugins/shared/esql/server/plugin.ts
  src/platform/plugins/shared/esql/server/routes/get_esql_extensions_route.ts
  src/platform/plugins/shared/esql/server/routes/index.ts
  src/platform/plugins/shared/esql/tsconfig.json
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#222314 [DOCS] Updates model card for Elastic Managed LLM
  docs/reference/resources/Elastic_Managed_LLM_model_card.pdf
Labels: Team:Docs, release_note:skip, docs, DevDocs, backport:version, v9.1.0, v9.0.3

#222064 Separate retention policies for vulnerabilities and misconfigurations
  x-pack/platform/packages/shared/kbn-cloud-security-posture/common/constants.ts
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/src/hooks/use_vulnerability_finding.ts
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/src/utils/findings_query_builders.ts
  x-pack/solutions/security/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings.ts
  x-pack/solutions/security/plugins/cloud_security_posture/public/pages/configurations/latest_findings/use_latest_findings_grouping.tsx
  x-pack/solutions/security/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities.tsx
  x-pack/solutions/security/plugins/cloud_security_posture/public/pages/vulnerabilities/hooks/use_latest_vulnerabilities_grouping.tsx
  x-pack/solutions/security/plugins/cloud_security_posture/server/routes/status/status.ts
  x-pack/test/cloud_security_posture_functional/pages/findings_old_data.ts
Labels: release_note:skip, backport:skip, Team:Cloud Security

#222336 [SO] Discourage tampering with exported SOs in `_import` and `_export` docs
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  src/core/packages/saved-objects/server-internal/src/routes/export.ts
  src/core/packages/saved-objects/server-internal/src/routes/import.ts
Labels: Team:Core, Feature:Saved Objects, release_note:skip, backport:skip, v9.1.0

#222432 [8.18] [Security solution] Bump LangChain core to `0.3.57` (#221984)
  package.json
  src/platform/packages/shared/kbn-test/src/jest/setup/setup_test.js
  yarn.lock
Labels: backport

#222430 [8.19] [Security solution] Bump LangChain core to `0.3.57` (#221984)
  package.json
  src/platform/packages/shared/kbn-test/src/jest/setup/setup_test.js
  x-pack/platform/packages/shared/ai-infra/inference-langchain/src/chat_model/to_inference/tools.ts
  yarn.lock
Labels: backport

#222347 [Dashboard listing] rewrite enzyme tests
  src/platform/plugins/shared/dashboard/public/dashboard_app/listing_page/dashboard_listing_page.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_listing/dashboard_listing.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_listing/dashboard_listing_empty_prompt.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_listing/dashboard_unsaved_listing.test.tsx
Labels: Team:Presentation, release_note:skip, backport:version, v9.1.0, v8.19.0

#221759 [Security Solution][Attack Discovery] Granting reserved role access to `.adhoc.alerts*` and `.internal.adhoc.alerts*` indices
  src/platform/packages/shared/kbn-es/src/serverless_resources/project_roles/oblt/roles.yml
  src/platform/packages/shared/kbn-es/src/serverless_resources/project_roles/security/roles.yml
  src/platform/packages/shared/kbn-es/src/serverless_resources/security_roles.json
  src/platform/packages/shared/kbn-es/src/stateful_resources/roles.yml
  x-pack/platform/plugins/shared/alerting/server/alerts_service/resource_installer_utils.test.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_service/resource_installer_utils.ts
  x-pack/solutions/security/plugins/security_solution/common/test/ess_roles.json
  x-pack/solutions/security/plugins/security_solution/scripts/endpoint/common/roles_users/endpoint_operations_analyst.ts
  x-pack/solutions/security/plugins/security_solution/scripts/endpoint/common/roles_users/serverless/es_serverless_resources/roles.yml
  x-pack/test_serverless/shared/lib/security/kibana_roles/project_controller_security_roles.yml
Labels: release_note:skip, Team: SecuritySolution, Team:Security Generative AI, backport:version, v9.1.0, v8.19.0

#221797 [Attack Discovery][Scheduling] System actions + Extended telemetries
  src/platform/packages/shared/kbn-rule-data-utils/src/alerts_as_data_rbac.test.ts
  src/platform/packages/shared/kbn-rule-data-utils/src/alerts_as_data_rbac.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/attack_discovery/schedules.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/attack_discovery/schedules.schema.yaml
  x-pack/solutions/security/plugins/elastic_assistant/server/__mocks__/attack_discovery_schedules.mock.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/index.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/utils/transform_actions.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/utils/transform_actions.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/register_schedule/executor.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/register_schedule/executor.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/telemetry/event_based_telemetry.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/helpers/telemetry.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/helpers/telemetry.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/create.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/create.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/find.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/find.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/get.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/get.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/update.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/update.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/utils/convert_alerting_rule_to_schedule.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/utils/convert_alerting_rule_to_schedule.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/request_context_factory.ts
  x-pack/solutions/security/plugins/security_solution/public/attack_discovery/pages/settings_flyout/schedule/edit_form/edit_form.tsx
  x-pack/solutions/security/plugins/security_solution/public/attack_discovery/pages/settings_flyout/schedule/edit_form/types.tsx
Labels: release_note:skip, Team: SecuritySolution, Team:Security Generative AI, backport:version, v9.1.0, v8.19.0

#220242 add otel golang runtime dashboard
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/index.test.tsx
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/dashboard_catalog.ts
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/get_dashboard_file_name.test.ts
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/otel_native-otel_other-go.json
Labels: release_note:feature, backport:prev-major, Team:obs-ux-infra_services, backport:current-major

#222420 [8.17] Upgrade prismjs 1.29.0 → 1.30.0 (#222019)
  yarn.lock
Labels: backport

#222299 [Discover] Add info icon to doc viewer table (#214366)
  src/platform/plugins/shared/unified_doc_viewer/public/components/doc_viewer_table/get_pin_control.tsx
Labels: release_note:skip, Team:DataDiscovery, Feature:UnifiedDocViewer, backport:version, v9.1.0, v8.19.0

#221792 [Discover] Add skip to next section in field list grouped
  src/platform/packages/shared/kbn-unified-field-list/src/components/field_list_grouped/field_list_grouped.test.tsx
  src/platform/packages/shared/kbn-unified-field-list/src/components/field_list_grouped/field_list_grouped.tsx
  src/platform/packages/shared/kbn-unified-field-list/src/components/field_list_grouped/fields_accordion.test.tsx
  src/platform/packages/shared/kbn-unified-field-list/src/components/field_list_grouped/fields_accordion.tsx
Labels: release_note:enhancement, Team:DataDiscovery, Feature:UnifiedFieldList, backport:version, v9.1.0, v8.19.0

#222508 Fix registry for prismjs 1.27.0
  yarn.lock
Labels: Team:Security, release_note:skip, backport:version, v9.1.0, v8.19.0, v9.0.3

#222521 [8.19] [Attack Discovery][Scheduling] System actions + Extended telemetries (#221797)
  src/platform/packages/shared/kbn-rule-data-utils/src/alerts_as_data_rbac.test.ts
  src/platform/packages/shared/kbn-rule-data-utils/src/alerts_as_data_rbac.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/attack_discovery/schedules.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/attack_discovery/schedules.schema.yaml
  x-pack/solutions/security/plugins/elastic_assistant/server/__mocks__/attack_discovery_schedules.mock.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/index.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/utils/transform_actions.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/data_client/utils/transform_actions.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/register_schedule/executor.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/attack_discovery/schedules/register_schedule/executor.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/telemetry/event_based_telemetry.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/helpers/telemetry.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/helpers/telemetry.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/create.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/create.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/find.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/find.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/get.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/get.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/update.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/update.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/utils/convert_alerting_rule_to_schedule.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/attack_discovery/schedules/utils/convert_alerting_rule_to_schedule.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/request_context_factory.ts
  x-pack/solutions/security/plugins/security_solution/public/attack_discovery/pages/settings_flyout/schedule/edit_form/edit_form.tsx
  x-pack/solutions/security/plugins/security_solution/public/attack_discovery/pages/settings_flyout/schedule/edit_form/types.tsx
Labels: backport

#222522 [8.18] add otel golang runtime dashboard (#220242)
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/index.test.tsx
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/dashboard_catalog.ts
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/get_dashboard_file_name.test.ts
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/otel_native-otel_other-go.json
Labels: backport, Team:obs-ux-infra_services

#222421 [7.17] Upgrade prismjs 1.29.0 → 1.30.0 (#222019)
  yarn.lock
Labels: backport

#222523 [8.19] add otel golang runtime dashboard (#220242)
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/index.test.tsx
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/dashboard_catalog.ts
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/get_dashboard_file_name.test.ts
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/otel_native-otel_other-go.json
Labels: backport, Team:obs-ux-infra_services

#222509 [8.19] [ES|QL] Editor extensions registry - recommended queries (#221474)
  src/platform/packages/private/kbn-esql-editor/src/esql_editor.test.tsx
  src/platform/packages/private/kbn-esql-editor/src/esql_editor.tsx
  src/platform/packages/private/kbn-esql-editor/src/types.ts
  src/platform/packages/shared/kbn-esql-types/index.ts
  src/platform/packages/shared/kbn-esql-types/src/extensions_autocomplete_types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/from/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/recommended_queries/suggestions.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.ts
  src/platform/plugins/shared/esql/public/plugin.ts
  src/platform/plugins/shared/esql/public/util/cache.test.ts
  src/platform/plugins/shared/esql/public/util/cache.ts
  src/platform/plugins/shared/esql/server/README.md
  src/platform/plugins/shared/esql/server/extensions_registry/index.test.ts
  src/platform/plugins/shared/esql/server/extensions_registry/index.ts
  src/platform/plugins/shared/esql/server/extensions_registry/utils.test.ts
  src/platform/plugins/shared/esql/server/extensions_registry/utils.ts
  src/platform/plugins/shared/esql/server/index.ts
  src/platform/plugins/shared/esql/server/plugin.ts
  src/platform/plugins/shared/esql/server/routes/get_esql_extensions_route.ts
  src/platform/plugins/shared/esql/server/routes/index.ts
  src/platform/plugins/shared/esql/tsconfig.json
Labels: backport

#222548 [9.0] Fix registry for prismjs 1.27.0 (#222508)
  yarn.lock
Labels: backport

#222552 [8.17] Update dependency @launchdarkly/node-server-sdk to ^9.9.2 (main) (#221824)
  package.json
  yarn.lock
Labels: backport

#222418 [8.18] Upgrade prismjs 1.29.0 → 1.30.0 (#222019)
  yarn.lock
Labels: backport

#222565 [9.0] [APM] Metrics: add the missing otel_native-otel_other-go to the dashboard names (#222529)
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/dashboards/dashboard_catalog.ts
Labels: backport, Team:obs-ux-infra_services

#222246 Migrate to EUI severity colors palette for CSP
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/index.ts
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/src/components/csp_evaluation_badge.tsx
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/src/hooks/use_get_misconfiguration_status_color.ts
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/src/utils/get_finding_colors.test.ts
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/src/utils/get_finding_colors.ts
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/src/utils/vulnerability_helpers.test.ts
  x-pack/solutions/security/packages/kbn-cloud-security-posture/public/tsconfig.json
  x-pack/solutions/security/plugins/cloud_security_posture/public/components/compliance_score_bar.tsx
  x-pack/solutions/security/plugins/cloud_security_posture/public/pages/compliance_dashboard/compliance_charts/compliance_score_chart.tsx
  x-pack/solutions/security/plugins/cloud_security_posture/public/pages/configurations/layout/findings_distribution_bar.tsx
  x-pack/solutions/security/plugins/cloud_security_posture/public/pages/rules/rules_counters.tsx
  x-pack/solutions/security/plugins/security_solution/public/cloud_security_posture/components/csp_details/misconfiguration_findings_details_table.tsx
  x-pack/solutions/security/plugins/security_solution/public/cloud_security_posture/components/misconfiguration/misconfiguration_preview.tsx
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/shared/components/misconfiguration_insight.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security, ci:cloud-deploy

#221364 [streams][lifecycle] ilm for classic streams
  x-pack/platform/plugins/shared/streams/server/lib/streams/component_templates/generate_layer.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/component_templates/generate_layer.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/data_streams/manage_data_streams.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/streams/unwired_stream.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/streams/wired_stream.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_lifecycle/index.tsx
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/lifecycle.ts
Labels: release_note:skip, Team:obs-ux-logs, backport:version, Feature:Streams, v9.1.0, v8.19.0

#222525 [8.19] [Dashboard listing] rewrite enzyme tests (#222347)
  src/platform/plugins/shared/dashboard/public/dashboard_app/listing_page/dashboard_listing_page.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_listing/dashboard_listing.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_listing/dashboard_listing_empty_prompt.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_listing/dashboard_unsaved_listing.test.tsx
Labels: backport

#222562 Update hello_world_plugin.mdx
  dev_docs/getting_started/hello_world_plugin.mdx
Labels: Team:Presentation, release_note:skip, backport:skip, documentation, backport:version

#222297 [ES|QL] Changes the search recommended query label
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/recommended_queries/templates.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#222439 use onChangeRenderedItems instead of onChangedItemIndicies in service inventory
  x-pack/solutions/observability/plugins/apm/public/components/app/service_inventory/index.tsx
Labels: release_note:fix, backport:all-open, Team:obs-ux-infra_services

#222576 [8.19] [Inference] Fix Azure hostname check (#222499)
  x-pack/platform/packages/shared/ai-infra/inference-common/src/connectors/get_connector_model.test.ts
  x-pack/platform/packages/shared/ai-infra/inference-common/src/connectors/get_connector_model.ts
Labels: backport

#221856 [Security solution] Content connectors for ESS
  x-pack/platform/plugins/shared/content_connectors/public/components/shared/header_actions/syncs_context_menu.test.tsx
  x-pack/platform/plugins/shared/content_connectors/public/plugin.ts
  x-pack/platform/plugins/shared/content_connectors/public/types.ts
  x-pack/platform/plugins/shared/content_connectors/server/plugin.ts
  x-pack/platform/plugins/shared/content_connectors/tsconfig.json
  x-pack/platform/plugins/shared/fleet/server/services/epm/filtered_packages.ts
  x-pack/solutions/observability/plugins/observability/public/navigation_tree.ts
  x-pack/solutions/security/plugins/security_solution_ess/public/navigation/navigation_tree.ts
  x-pack/test/functional/apps/api_keys/feature_controls/api_keys_security.ts
  x-pack/test/functional/apps/cross_cluster_replication/feature_controls/ccr_security.ts
  x-pack/test/functional/apps/index_lifecycle_management/feature_controls/ilm_security.ts
  x-pack/test/functional/apps/index_management/feature_controls/index_management_security.ts
  x-pack/test/functional/apps/ingest_pipelines/feature_controls/ingest_pipelines_security.ts
  x-pack/test/functional/apps/license_management/feature_controls/license_management_security.ts
  x-pack/test/functional/apps/logstash/feature_controls/logstash_security.ts
  x-pack/test/functional/apps/management/feature_controls/management_security.ts
  x-pack/test/functional/apps/remote_clusters/feature_controls/remote_clusters_security.ts
  x-pack/test/functional/apps/transform/feature_controls/transform_security.ts
  x-pack/test/functional/apps/upgrade_assistant/feature_controls/upgrade_assistant_security.ts
Labels: release_note:enhancement, Team:Fleet, Team: SecuritySolution, ci:cloud-deploy, ci:cloud-redeploy, Team:obs-ux-management, backport:version, v9.1.0

#222589 [8.19] [ES|QL] Changes the search recommended query label (#222297)
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/recommended_queries/templates.ts
Labels: backport

#222597 [9.0] use onChangeRenderedItems instead of onChangedItemIndicies in service inventory (#222439)
  x-pack/solutions/observability/plugins/apm/public/components/app/service_inventory/index.tsx
Labels: backport, Team:obs-ux-infra_services

#222595 [8.18] use onChangeRenderedItems instead of onChangedItemIndicies in service inventory (#222439)
  x-pack/solutions/observability/plugins/apm/public/components/app/service_inventory/index.tsx
Labels: backport, Team:obs-ux-infra_services

#222596 [8.19] use onChangeRenderedItems instead of onChangedItemIndicies in service inventory (#222439)
  x-pack/solutions/observability/plugins/apm/public/components/app/service_inventory/index.tsx
Labels: backport, Team:obs-ux-infra_services

#222067 [Security Solution] automatic troubleshooting prompt tweaks
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/defend_insights/graphs/default_defend_insights_graph/prompts/get_combined_prompt/index.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/prompt/prompts.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows

#222604 [8.19] [AI4DSOC] fix styling to address cutoff when screen is narrow (#219306)
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/components/package_card.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/home/card_utils.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/search_ai_lake/hooks/integrations/use_enhanced_integration_cards.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/search_ai_lake/hooks/integrations/use_enhanced_integration_cards.tsx
Labels: backport, Team:Fleet

#222425 [ES|QL] fix COALESCE validation
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/__tests__/functions.test.ts
Labels: release_note:fix, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#222446 [dashboard] fix add panel fails when custom panel placement callback throws
  src/platform/plugins/shared/dashboard/public/dashboard_api/layout_manager.ts
  src/platform/plugins/shared/dashboard/public/panel_placement/get_panel_placement_settings.ts
  src/platform/plugins/shared/dashboard/public/panel_placement/panel_placement_registry.ts
Labels: Team:Presentation, release_note:skip, backport:version, v9.1.0, v8.19.0

#222088 [8.19] feat(streams): requires all spaces on kibana privilege (#221982)
  x-pack/platform/plugins/shared/streams/server/plugin.ts
Labels: backport

#222625 [8.18] [A11y][SnapshotAndRestore] Connect input labels for screenreader (#221870)
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/azure_settings.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/gcs_settings.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/s3_settings.tsx
Labels: backport

#222626 [8.19] [A11y][SnapshotAndRestore] Connect input labels for screenreader (#221870)
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/azure_settings.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/gcs_settings.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/s3_settings.tsx
Labels: backport

#222111 [Fleet] Single agent migration UI
  x-pack/platform/plugins/shared/fleet/common/services/routes.ts
  x-pack/platform/plugins/shared/fleet/common/types/rest_spec/agent.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agents/agent_list_page/components/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agents/agent_list_page/components/migrate_agent_flyout/headers_input.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agents/agent_list_page/components/migrate_agent_flyout/index.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agents/agent_list_page/components/migrate_agent_flyout/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agents/agent_list_page/components/table_row_actions.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agents/agent_list_page/components/table_row_actions.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agents/agent_list_page/index.tsx
  x-pack/platform/plugins/shared/fleet/public/hooks/use_request/agents.ts
Labels: backport:skip, Team:Fleet, release_note:feature

#222627 [9.0] [A11y][SnapshotAndRestore] Connect input labels for screenreader (#221870)
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/azure_settings.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/gcs_settings.tsx
  x-pack/platform/plugins/private/snapshot_restore/public/application/components/repository_form/type_settings/s3_settings.tsx
Labels: backport

#222639 Splitting out library that requires ESM
  renovate.json
Labels: chore, Team:Security, release_note:skip, backport:all-open

#222489 [8.19] Use msearch to fetch the alerts for maintenance windows with scoped query (#221702)
  x-pack/platform/plugins/shared/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_client/alerts_client.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_client/lib/get_summarized_alerts_query.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_client/lib/index.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/alerting_api_integration/common/plugins/alerts/server/rule_types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/circuit_breaker/alert_limit_services.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/circuit_breaker/index_threshold_max_alerts.ts
Labels: backport

#222490 [8.18] Use msearch to fetch the alerts for maintenance windows with scoped query (#221702)
  x-pack/platform/plugins/shared/alerting/server/alerts_client/alerts_client.test.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_client/alerts_client.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_client/lib/get_summarized_alerts_query.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_client/lib/index.ts
  x-pack/test/alerting_api_integration/common/config.ts
  x-pack/test/alerting_api_integration/common/plugins/alerts/server/rule_types.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/circuit_breaker/alert_limit_services.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/circuit_breaker/index_threshold_max_alerts.ts
Labels: backport

#222641 [8.17] Update dependency whatwg-fetch to ^3.6.20 (main) (#206179)
  package.json
  yarn.lock
Labels: backport

#222646 [8.18] Update dependency simple-git to ^3.27.0 (main) (#206178)
  package.json
  yarn.lock
Labels: backport

#222647 [8.19] Update dependency simple-git to ^3.27.0 (main) (#206178)
  package.json
  yarn.lock
Labels: backport

#222485 [8.19][build] Dockerfile cleanup (#220317)
  src/dev/build/tasks/os_packages/docker_generator/templates/base/Dockerfile
Labels: backport

#222644 [9.0] Update dependency whatwg-fetch to ^3.6.20 (main) (#206179)
  package.json
  yarn.lock
Labels: backport

#222645 [8.17] Update dependency simple-git to ^3.27.0 (main) (#206178)
  package.json
  yarn.lock
Labels: backport

#222244 [build/docker] Upgrade Ubuntu to 24.04
  src/dev/build/tasks/os_packages/docker_generator/run.ts
  src/dev/build/tasks/os_packages/docker_generator/templates/base/Dockerfile
Labels: release_note:enhancement, Team:Operations, skip-ci, backport:version, v8.18.3, v8.17.8

#222643 [8.19] Update dependency whatwg-fetch to ^3.6.20 (main) (#206179)
  package.json
  yarn.lock
Labels: backport
