Repository elastic/kibana, pull requests merged in 2025-03, with the labels that each got.

#212665 [controls] add example for programmatically interacting with controls
  examples/controls_example/public/app/control_group_renderer_examples/search_example.tsx
  src/platform/plugins/shared/controls/public/controls/data_controls/options_list_control/get_options_list_control_factory.tsx
  src/platform/plugins/shared/controls/public/controls/data_controls/options_list_control/types.ts
  src/platform/plugins/shared/controls/public/index.ts
Labels: Team:Presentation, release_note:skip, backport:version, v9.1.0, v8.19.0

#212828 [8.x] [controls] add example for programmatically interacting with controls (#212665)
  examples/controls_example/public/app/control_group_renderer_examples/search_example.tsx
  src/platform/plugins/shared/controls/public/controls/data_controls/options_list_control/get_options_list_control_factory.tsx
  src/platform/plugins/shared/controls/public/controls/data_controls/options_list_control/types.ts
  src/platform/plugins/shared/controls/public/index.ts
Labels: backport

#212794 [9.0] [EDR Workflows] OpenApi Missing Content - Response Actions (#212510)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/details/details.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/details/details.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/list/list.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/list/list.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/model/schema/common.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/model/schema/common.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/quickstart_client.gen.ts
  x-pack/solutions/security/plugins/security_solution/docs/openapi/ess/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/openapi/serverless/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/test/api_integration/services/security_solution_api.gen.ts
Labels: backport

#212812 [9.0] [Cloud Security] Fix installing agent-based CSP integrations not displaying Add Agent flyout (#212702)
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/detail/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/detail/utils/get_install_route_options.ts
Labels: backport, Team:Fleet

#212841 [ES|QL] Update function metadata
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/generated/aggregation_functions.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#212779 [8.x] [Streams 🌊] Remove enablement check in `PUT /api/streams/{id}` for classic streams (#212289)
  x-pack/.i18nrc.json
  x-pack/platform/plugins/shared/streams/server/routes/streams/crud/route.ts
  x-pack/platform/plugins/shared/streams/server/routes/streams/group/route.ts
  x-pack/platform/plugins/shared/streams/server/routes/streams/ingest/route.ts
  x-pack/solutions/observability/plugins/observability_streams_wrapper/public/plugin.tsx
  x-pack/test/api_integration/deployment_agnostic/apis/observability/streams/classic.ts
Labels: backport

#212557 [docs] Add the new docs CI checks
  .github/workflows/comment-on-asciidoc-changes.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: Team:Docs, Team:Operations, release_note:skip, backport:skip, docs

#212772 [ES|QL] Removes unused property from unified search
  src/platform/packages/shared/kbn-esql-utils/index.ts
  src/platform/packages/shared/kbn-esql-utils/src/index.ts
  src/platform/packages/shared/kbn-esql-utils/src/types.ts
  src/platform/plugins/shared/discover/public/application/main/components/top_nav/discover_topnav.tsx
  src/platform/plugins/shared/unified_search/public/__stories__/search_bar.stories.tsx
  src/platform/plugins/shared/unified_search/public/dataview_picker/data_view_picker.tsx
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#212741 [ES|QL] Add _score in the autocomplete
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/constants.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#212819 [8.x] [Cloud Security] Fix installing agent-based CSP integrations not displaying Add Agent flyout (#212702)
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/detail/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/detail/utils/get_install_route_options.ts
Labels: backport, Team:Fleet

#212820 [8.18] [Cloud Security] Fix installing agent-based CSP integrations not displaying Add Agent flyout (#212702)
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/detail/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/detail/utils/get_install_route_options.ts
Labels: backport, Team:Fleet

#212496 Deprecate Cloud Defend Telemetry
  x-pack/platform/plugins/private/telemetry_collection_xpack/schema/xpack_security.json
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/accounts_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/indices_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/installation_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/pods_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/register.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/schema.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/types.ts
  x-pack/solutions/security/plugins/cloud_defend/server/plugin.ts
  x-pack/solutions/security/plugins/cloud_defend/tsconfig.json
Labels: release_note:skip, Team:Cloud Security, backport:prev-minor

#212860 [8.x] [ES|QL] Removes unused property from unified search (#212772)
  src/platform/packages/shared/kbn-esql-utils/index.ts
  src/platform/packages/shared/kbn-esql-utils/src/index.ts
  src/platform/packages/shared/kbn-esql-utils/src/types.ts
  src/platform/plugins/shared/discover/public/application/main/components/top_nav/discover_topnav.tsx
  src/platform/plugins/shared/unified_search/public/__stories__/search_bar.stories.tsx
  src/platform/plugins/shared/unified_search/public/dataview_picker/data_view_picker.tsx
Labels: backport

#212861 [8.x] [ES|QL] Add _score in the autocomplete (#212741)
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/constants.ts
Labels: backport

#212052 [8.x] [Lens][Embeddable] Make UI react faster to click actions like create or edit (#210810)
  packages/kbn-optimizer/limits.yml
  x-pack/platform/plugins/shared/lens/public/async_services.ts
  x-pack/platform/plugins/shared/lens/public/mocks/data_plugin_mock.ts
  x-pack/platform/plugins/shared/lens/public/plugin.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/esql.test.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/esql.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/helper.test.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/helper.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/initializers/utils.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/inline_editing/setup_inline_editing.tsx
  x-pack/platform/plugins/shared/lens/public/react_embeddable/lens_embeddable.tsx
  x-pack/platform/plugins/shared/lens/public/trigger_actions/open_lens_config/add_esql_panel_action.test.tsx
  x-pack/platform/plugins/shared/lens/public/trigger_actions/open_lens_config/add_esql_panel_action.tsx
  x-pack/platform/plugins/shared/lens/public/trigger_actions/open_lens_config/create_action_helpers.ts
  x-pack/platform/plugins/shared/lens/public/trigger_actions/open_lens_config/in_app_embeddable_edit/in_app_embeddable_edit_action.test.tsx
  x-pack/platform/plugins/shared/lens/public/trigger_actions/open_lens_config/in_app_embeddable_edit/in_app_embeddable_edit_action.tsx
  x-pack/platform/plugins/shared/lens/public/trigger_actions/open_lens_config/in_app_embeddable_edit/in_app_embeddable_edit_action_helpers.tsx
Labels: backport

#211719 [ML] Trained Models: Telemetry for deployment creation
  x-pack/platform/plugins/shared/ml/public/application/app.tsx
  x-pack/platform/plugins/shared/ml/public/application/contexts/ml/ml_telemetry_context.tsx
  x-pack/platform/plugins/shared/ml/public/application/model_management/deployment_params_mapper.test.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/deployment_params_mapper.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/deployment_setup.tsx
  x-pack/platform/plugins/shared/ml/public/application/model_management/hooks/use_init_trained_models_service.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/model_actions.tsx
  x-pack/platform/plugins/shared/ml/public/application/model_management/trained_models_service.test.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/trained_models_service.ts
  x-pack/platform/plugins/shared/ml/public/application/services/ml_api_service/trained_models.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/events.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/telemetry_client.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/telemetry_service.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/types.ts
  x-pack/platform/plugins/shared/ml/public/embeddables/job_creation/aiops/show_flyout.tsx
  x-pack/platform/plugins/shared/ml/public/plugin.ts
  x-pack/platform/plugins/shared/ml/tsconfig.json
Labels: :ml, release_note:skip, telemetry, Team:ML, ci:cloud-deploy, backport:version, v9.1.0, v8.19.0

#209546 [Lens/SCSS] Replace expression legacy metric scss
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric.scss
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_component.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_value.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/expression_renderers/metric_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/tsconfig.json
  test/functional/page_objects/visualize_editor_page.ts
Labels: technical debt, Team:Visualizations, release_note:skip, Feature:Lens, v9.0.0, backport:version, v8.18.0, v9.1.0, v8.19.0

#211411 [OBX-UX-MGTM][ALERTING] Add the reason message to the rules recovery context
  x-pack/solutions/observability/plugins/apm/common/rules/apm_rule_types.ts
  x-pack/solutions/observability/plugins/apm/common/rules/default_action_message.ts
  x-pack/solutions/observability/plugins/apm/public/components/alerting/rule_types/register_apm_rule_types.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/test_utils/index.ts
  x-pack/solutions/observability/plugins/infra/public/alerting/inventory/index.ts
  x-pack/solutions/observability/plugins/infra/public/alerting/log_threshold/log_threshold_rule_type.tsx
  x-pack/solutions/observability/plugins/infra/public/alerting/metric_threshold/index.ts
  x-pack/solutions/observability/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/solutions/observability/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/solutions/observability/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/solutions/observability/plugins/observability/public/rules/register_observability_rule_types.ts
  x-pack/solutions/observability/plugins/observability/server/lib/rules/custom_threshold/custom_threshold_executor.test.ts
  x-pack/solutions/observability/plugins/observability/server/lib/rules/custom_threshold/custom_threshold_executor.ts
  x-pack/solutions/observability/plugins/slo/public/rules/register_burn_rate_rule_type.ts
Labels: release_note:enhancement, Feature:Alerting, backport:prev-minor, Team:obs-ux-infra_services, Team:obs-ux-management

#210835 [8.18] [OAS] Remove `Elastic-Api-Version` (#207071)
  oas_docs/output/kibana.yaml
  oas_docs/overlays/alerting.overlays.yaml
  oas_docs/overlays/connectors.overlays.yaml
  oas_docs/overlays/kibana.overlays.shared.yaml
  oas_docs/overlays/kibana.overlays.yaml
  packages/kbn-openapi-bundler/src/bundler/merge_documents/merge_documents.ts
  packages/kbn-openapi-bundler/tests/merger/merge_multiple_specs.test.ts
  packages/kbn-openapi-bundler/tests/merger/merging_specs_with_conflicting_components.test.ts
Labels: backport

#209337 Upgrade to React@18
  package.json
  src/platform/packages/shared/kbn-test/src/jest/setup/react_testing_library.js
  src/platform/packages/shared/shared-ux/error_boundary/src/ui/error_boundary.test.tsx
  src/platform/packages/shared/shared-ux/error_boundary/src/ui/section_error_boundary.test.tsx
  x-pack/solutions/observability/plugins/apm/public/context/apm_plugin/mock_apm_plugin_context.tsx
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/metrics_explorer/hooks/use_metric_explorer_state.test.tsx
  x-pack/solutions/security/packages/kbn-securitysolution-exception-list-components/src/exception_item_card/conditions/entry_content/__snapshots__/entry_content.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/explore/network/components/arrows/__snapshots__/index.test.tsx.snap
  x-pack/solutions/security/plugins/session_view/public/components/process_tree_alert/__snapshots__/index.test.tsx.snap
  yarn.lock
Labels: release_note:skip, backport:skip, ci:all-cypress-suites, ci:cloud-deploy, ci:cloud-persist-deployment, ci:project-deploy-elasticsearch, Team:obs-ux-infra_services

#212874 [9.0] Deprecate Cloud Defend Telemetry
  x-pack/platform/plugins/private/telemetry_collection_xpack/schema/xpack_security.json
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/accounts_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/indices_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/installation_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/pods_stats_collector.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/register.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/schema.ts
  x-pack/solutions/security/plugins/cloud_defend/server/lib/telemetry/collectors/types.ts
  x-pack/solutions/security/plugins/cloud_defend/server/plugin.ts
  x-pack/solutions/security/plugins/cloud_defend/tsconfig.json
Labels: backport

#210834 [8.x] [OAS] Remove `Elastic-Api-Version` (#207071)
  oas_docs/output/kibana.yaml
  oas_docs/overlays/alerting.overlays.yaml
  oas_docs/overlays/connectors.overlays.yaml
  oas_docs/overlays/kibana.overlays.shared.yaml
  oas_docs/overlays/kibana.overlays.yaml
  src/platform/packages/shared/kbn-openapi-bundler/src/bundler/merge_documents/merge_documents.ts
  src/platform/packages/shared/kbn-openapi-bundler/tests/merger/merge_multiple_specs.test.ts
  src/platform/packages/shared/kbn-openapi-bundler/tests/merger/merging_specs_with_conflicting_components.test.ts
Labels: backport

#208091 [Fleet] Add SSL options to fleet server hosts settings
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  packages/kbn-babel-preset/styled_components_files.js
  packages/kbn-check-mappings-update-cli/current_mappings.json
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  x-pack/platform/plugins/shared/fleet/common/types/models/agent_policy.ts
  x-pack/platform/plugins/shared/fleet/common/types/models/fleet_server_policy_config.ts
  x-pack/platform/plugins/shared/fleet/common/types/models/output.ts
  x-pack/platform/plugins/shared/fleet/common/types/models/secret.ts
  x-pack/platform/plugins/shared/fleet/common/types/rest_spec/fleet_server_hosts.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/components/fleet_server_instructions/advanced_tab.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/components/fleet_server_instructions/hooks/use_fleet_server_host.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/components/fleet_server_instructions/quick_start_tab.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/components/fleet_server_instructions/steps/add_fleet_server_host.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/components/fleet_server_instructions/steps/install_fleet_server.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/components/fleet_server_instructions/utils/install_command_utils.test.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/components/fleet_server_instructions/utils/install_command_utils.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_flyout/index.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_flyout/ssl_form_section.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_flyout/use_fleet_server_host_form.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/settings/components/fleet_server_hosts_flyout/use_fleet_server_host_form.tsx
  x-pack/platform/plugins/shared/fleet/public/hooks/use_input.ts
  x-pack/platform/plugins/shared/fleet/server/collectors/fleet_server_collector.ts
  x-pack/platform/plugins/shared/fleet/server/routes/fleet_server_hosts/handler.test.ts
  x-pack/platform/plugins/shared/fleet/server/routes/fleet_server_hosts/handler.ts
  x-pack/platform/plugins/shared/fleet/server/routes/fleet_server_hosts/index.test.ts
  x-pack/platform/plugins/shared/fleet/server/routes/health_check/handler.test.ts
  x-pack/platform/plugins/shared/fleet/server/routes/health_check/handler.ts
  x-pack/platform/plugins/shared/fleet/server/saved_objects/index.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/related_saved_objects.ts
  x-pack/platform/plugins/shared/fleet/server/services/agents/agentless_agent.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agents/agentless_agent.ts
  x-pack/platform/plugins/shared/fleet/server/services/fleet_proxies.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/fleet_proxies.ts
  x-pack/platform/plugins/shared/fleet/server/services/fleet_server_host.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/fleet_server_host.ts
  x-pack/platform/plugins/shared/fleet/server/services/index.ts
  x-pack/platform/plugins/shared/fleet/server/services/preconfiguration/fleet_proxies.ts
  x-pack/platform/plugins/shared/fleet/server/services/preconfiguration/fleet_server_host.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/preconfiguration/fleet_server_host.ts
  x-pack/platform/plugins/shared/fleet/server/services/preconfiguration/outputs.ts
  x-pack/platform/plugins/shared/fleet/server/services/secrets.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/secrets.ts
  x-pack/platform/plugins/shared/fleet/server/services/settings.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/setup.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/setup.ts
  x-pack/platform/plugins/shared/fleet/server/types/models/preconfiguration.ts
  x-pack/platform/plugins/shared/fleet/server/types/rest_spec/fleet_server_policy_config.ts
  x-pack/platform/plugins/shared/fleet/server/types/rest_spec/settings.ts
  x-pack/platform/plugins/shared/fleet/server/types/so_attributes.ts
  x-pack/test/fleet_api_integration/apis/fleet_server_hosts/crud.ts
Labels: Team:Fleet, v9.0.0, release_note:feature, backport:prev-minor, v8.18.0

#210406 [EDR Workflows][Investigation] Telemetry config watcher fix
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.ts
  x-pack/solutions/security/plugins/security_solution/server/plugin.ts
Labels: release_note:skip, v9.0.0, backport:version, v8.18.0, v8.19.0

#212873 [8.18] [ES|QL] Add _score in the autocomplete (#212741)
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/constants.ts
Labels: backport

#212877 adds thumbnail for elasticsearch logs integration
  src/platform/plugins/shared/home/public/assets/elasticsearch_logs/screenshot.webp
Labels: release_note:skip, Team:SharedUX, backport:prev-minor, backport:prev-major

#212870 [8.17] [EDR Workflows] OpenApi Missing Content - Response Actions (#212510)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/details/details.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/details/details.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/list/list.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/list/list.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/model/schema/common.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/model/schema/common.schema.yaml
  x-pack/plugins/security_solution/common/api/quickstart_client.gen.ts
  x-pack/plugins/security_solution/docs/openapi/ess/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/plugins/security_solution/docs/openapi/serverless/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/test/api_integration/services/security_solution_api.gen.ts
Labels: backport

#212885 [9.0] [Lens/SCSS] Replace expression legacy metric scss (#209546)
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric.scss
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_component.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_value.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/expression_renderers/metric_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/tsconfig.json
  test/functional/page_objects/visualize_editor_page.ts
Labels: backport

#212371 [Fleet] sync integrations from follower index
  x-pack/platform/plugins/shared/fleet/server/services/epm/package_service.ts
  x-pack/platform/plugins/shared/fleet/server/services/epm/packages/install.ts
  x-pack/platform/plugins/shared/fleet/server/tasks/sync_integrations_on_remote.test.ts
  x-pack/platform/plugins/shared/fleet/server/tasks/sync_integrations_on_remote.ts
  x-pack/platform/plugins/shared/fleet/server/tasks/sync_integrations_task.test.ts
  x-pack/platform/plugins/shared/fleet/server/tasks/sync_integrations_task.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#212881 [8.x] [ML] Trained Models: Telemetry for deployment creation (#211719)
  x-pack/platform/plugins/shared/ml/public/application/app.tsx
  x-pack/platform/plugins/shared/ml/public/application/contexts/ml/ml_telemetry_context.tsx
  x-pack/platform/plugins/shared/ml/public/application/model_management/deployment_params_mapper.test.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/deployment_params_mapper.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/deployment_setup.tsx
  x-pack/platform/plugins/shared/ml/public/application/model_management/hooks/use_init_trained_models_service.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/model_actions.tsx
  x-pack/platform/plugins/shared/ml/public/application/model_management/trained_models_service.test.ts
  x-pack/platform/plugins/shared/ml/public/application/model_management/trained_models_service.ts
  x-pack/platform/plugins/shared/ml/public/application/services/ml_api_service/trained_models.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/events.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/telemetry_client.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/telemetry_service.ts
  x-pack/platform/plugins/shared/ml/public/application/services/telemetry/types.ts
  x-pack/platform/plugins/shared/ml/public/embeddables/job_creation/aiops/show_flyout.tsx
  x-pack/platform/plugins/shared/ml/public/plugin.ts
  x-pack/platform/plugins/shared/ml/tsconfig.json
Labels: backport

#212883 [8.18] [Lens/SCSS] Replace expression legacy metric scss (#209546)
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric.scss
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_component.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_value.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/expression_renderers/metric_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/tsconfig.json
  test/functional/page_objects/visualize_editor_page.ts
Labels: backport

#212884 [8.x] [Lens/SCSS] Replace expression legacy metric scss (#209546)
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric.scss
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_component.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/components/metric_value.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/public/expression_renderers/metric_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_legacy_metric/tsconfig.json
  test/functional/page_objects/visualize_editor_page.ts
Labels: backport

#212866 [scout] enable ES authc debug logs on ES start
  src/platform/packages/shared/kbn-scout/src/common/services/clients.ts
  src/platform/packages/shared/kbn-scout/src/common/utils/index.ts
  src/platform/packages/shared/kbn-scout/src/servers/run_elasticsearch.ts
  src/platform/packages/shared/kbn-scout/src/servers/start_servers.ts
Labels: release_note:skip, v9.0.0, backport:version, test:scout, v9.1.0, v8.19.0

#212795 [Chore] update form data to ^4.0.2
  package.json
  yarn.lock
Labels: chore, release_note:skip, backport:skip, Team:obs-ux-management

#212896 [9.0] [OBX-UX-MGTM][ALERTING] Add the reason message to the rules recovery context (#211411)
  x-pack/solutions/observability/plugins/apm/common/rules/apm_rule_types.ts
  x-pack/solutions/observability/plugins/apm/common/rules/default_action_message.ts
  x-pack/solutions/observability/plugins/apm/public/components/alerting/rule_types/register_apm_rule_types.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/test_utils/index.ts
  x-pack/solutions/observability/plugins/infra/public/alerting/inventory/index.ts
  x-pack/solutions/observability/plugins/infra/public/alerting/log_threshold/log_threshold_rule_type.tsx
  x-pack/solutions/observability/plugins/infra/public/alerting/metric_threshold/index.ts
  x-pack/solutions/observability/plugins/infra/server/lib/alerting/inventory_metric_threshold/inventory_metric_threshold_executor.ts
  x-pack/solutions/observability/plugins/infra/server/lib/alerting/log_threshold/log_threshold_executor.ts
  x-pack/solutions/observability/plugins/infra/server/lib/alerting/metric_threshold/metric_threshold_executor.ts
  x-pack/solutions/observability/plugins/observability/public/rules/register_observability_rule_types.ts
  x-pack/solutions/observability/plugins/observability/server/lib/rules/custom_threshold/custom_threshold_executor.test.ts
  x-pack/solutions/observability/plugins/observability/server/lib/rules/custom_threshold/custom_threshold_executor.ts
  x-pack/solutions/observability/plugins/slo/public/rules/register_burn_rate_rule_type.ts
Labels: backport, Team:obs-ux-infra_services, Team:obs-ux-management

#212893 [8.x] [Lens/SCSS] Delete and migrate `reference_lines.scss` file (#209982)
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/annotations.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/reference_lines/reference_lines.scss
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/reference_lines/reference_lines.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/public/helpers/annotations.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/tsconfig.json
Labels: backport

#212894 [9.0] [Lens/SCSS] Delete and migrate `reference_lines.scss` file (#209982)
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/annotations.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/reference_lines/reference_lines.scss
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/reference_lines/reference_lines.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/public/helpers/annotations.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/tsconfig.json
Labels: backport

#211045 [Security Solution] Reduce the _review rule upgrade endpoint response size
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/prebuilt_rules_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/review_prebuilt_rules_upgrade_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/index.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/constants.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_fields.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_filtering.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_status_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_upgrade_review_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_perform_rules_upgrade_mutation.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_perform_rule_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_prebuilt_rules_upgrade_review.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_update_callouts/rule_update_callouts.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_toolbar.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/translations.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_buttons.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_filters.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_rule_customization_filter_popover.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_filter_prebuilt_rules_to_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_prebuilt_rules_upgrade_state.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/components/rules/pre_packaged_rules/add_elastic_rules_button.tsx
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_installation/review_rule_installation_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/calculate_rule_upgrade_info.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/constants.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_objects/prebuilt_rule_objects_client.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_versions/fetch_rule_versions_triad.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/search/get_existing_prepackaged_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/prebuilt_rule_customization/customization_enabled/preview_prebuilt_rules_upgrade.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/update_prebuilt_rules_package/trial_license_complete_tier/update_prebuilt_rules_package.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/install_update_error_handling.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/update_workflow_customized_rules.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/prebuilt_rules.ts
  x-pack/test/security_solution_cypress/cypress/tasks/prebuilt_rules.ts
Labels: bug, release_note:fix, performance, v9.0.0, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, backport:version, v8.18.0, v9.1.0, v8.19.0, v8.17.3

#212892 [8.18] [Lens/SCSS] Delete and migrate `reference_lines.scss` file (#209982)
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/annotations.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/reference_lines/reference_lines.scss
  src/platform/plugins/shared/chart_expressions/expression_xy/public/components/reference_lines/reference_lines.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/public/helpers/annotations.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/tsconfig.json
Labels: backport

#212899 [8.18] [EDR Workflows][Investigation] Telemetry config watcher fix (#210406)
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.ts
  x-pack/solutions/security/plugins/security_solution/server/plugin.ts
Labels: backport

#211154 [8.x][Entity Analytics][Risk Score]Adding changes for the file which was moved to a new directory
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/api/hooks/use_preview_risk_scores.ts
Labels: release_note:fix, backport:skip, Team:Entity Analytics

#212900 [8.x] [EDR Workflows][Investigation] Telemetry config watcher fix (#210406)
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.ts
  x-pack/solutions/security/plugins/security_solution/server/plugin.ts
Labels: backport

#212865 [Security Solution] [GenAi] refactor security ai assistant tools to use tool helper method
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/agentRunnable.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/graph.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/prompts.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/state.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/evaluate/post_evaluate.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/types.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/alert_counts/alert_counts_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/esql/nl_to_esql_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/knowledge_base/knowledge_base_retrieval_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/knowledge_base/knowledge_base_write_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/open_and_acknowledged_alerts/open_and_acknowledged_alerts_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/product_docs/product_documentation_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/security_labs/security_labs_tool.ts
Labels: release_note:skip, Team:Security Generative AI, backport:version, v9.1.0, v8.19.0

#212910 [9.0] adds thumbnail for elasticsearch logs integration (#212877)
  src/platform/plugins/shared/home/public/assets/elasticsearch_logs/screenshot.webp
Labels: backport

#212907 [8.17] adds thumbnail for elasticsearch logs integration (#212877)
  src/platform/plugins/shared/home/public/assets/elasticsearch_logs/screenshot.webp
Labels: backport

#212909 [8.x] adds thumbnail for elasticsearch logs integration (#212877)
  src/platform/plugins/shared/home/public/assets/elasticsearch_logs/screenshot.webp
Labels: backport

#212901 [9.0] [EDR Workflows][Investigation] Telemetry config watcher fix (#210406)
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/lib/policy/telemetry_watch.ts
  x-pack/solutions/security/plugins/security_solution/server/plugin.ts
Labels: backport

#212908 [8.18] adds thumbnail for elasticsearch logs integration (#212877)
  src/platform/plugins/shared/home/public/assets/elasticsearch_logs/screenshot.webp
Labels: backport

#212906 [8.16] adds thumbnail for elasticsearch logs integration (#212877)
  src/platform/plugins/shared/home/public/assets/elasticsearch_logs/screenshot.webp
Labels: backport

#211399 [ResponseOps][MW] Allow users to delete MWs
  x-pack/platform/plugins/shared/alerting/public/hooks/use_delete_maintenance_window.test.tsx
  x-pack/platform/plugins/shared/alerting/public/hooks/use_delete_maintenance_window.tsx
  x-pack/platform/plugins/shared/alerting/public/pages/maintenance_windows/components/maintenance_windows_list.tsx
  x-pack/platform/plugins/shared/alerting/public/pages/maintenance_windows/components/table_actions_popover.test.tsx
  x-pack/platform/plugins/shared/alerting/public/pages/maintenance_windows/components/table_actions_popover.tsx
  x-pack/platform/plugins/shared/alerting/public/pages/maintenance_windows/translations.ts
  x-pack/platform/plugins/shared/alerting/public/services/maintenance_windows_api/delete.test.ts
  x-pack/platform/plugins/shared/alerting/public/services/maintenance_windows_api/delete.ts
  x-pack/test/functional_with_es_ssl/apps/triggers_actions_ui/maintenance_windows/maintenance_windows_table.ts
Labels: Feature:Alerting, release_note:skip, Team:ResponseOps, backport:version, v9.1.0, v8.19.0

#212911 [8.18] [Security GenAI] "Select a Connector" popup does not show up after the user selects any connector and then cancels it from Endpoint Insights. (#208907) (#208969)
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/index.tsx
Labels: backport

#212914 [9.0] [scout] enable ES authc debug logs on ES start (#212866)
  src/platform/packages/shared/kbn-scout/src/common/services/clients.ts
  src/platform/packages/shared/kbn-scout/src/common/utils/index.ts
  src/platform/packages/shared/kbn-scout/src/servers/run_elasticsearch.ts
  src/platform/packages/shared/kbn-scout/src/servers/start_servers.ts
Labels: backport

#212867 [8.x] [EDR Workflows] OpenApi Missing Content - Response Actions (#212510)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/details/details.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/details/details.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/list/list.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/list/list.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/model/schema/common.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/model/schema/common.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/quickstart_client.gen.ts
  x-pack/solutions/security/plugins/security_solution/docs/openapi/ess/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/openapi/serverless/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/test/api_integration/services/security_solution_api.gen.ts
Labels: backport

#212913 [8.x] [scout] enable ES authc debug logs on ES start (#212866)
  src/platform/packages/shared/kbn-scout/src/common/services/clients.ts
  src/platform/packages/shared/kbn-scout/src/common/utils/index.ts
  src/platform/packages/shared/kbn-scout/src/servers/run_elasticsearch.ts
  src/platform/packages/shared/kbn-scout/src/servers/start_servers.ts
Labels: backport

#212920 [8.18] [Security Solution] Reduce the _review rule upgrade endpoint response size (#211045)
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/prebuilt_rules_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/review_prebuilt_rules_upgrade_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/index.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/constants.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_fields.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_filtering.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_status_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_upgrade_review_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_perform_rules_upgrade_mutation.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_perform_rule_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_prebuilt_rules_upgrade_review.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_update_callouts/rule_update_callouts.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_toolbar.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/translations.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_buttons.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_filters.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_rule_customization_filter_popover.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_filter_prebuilt_rules_to_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_prebuilt_rules_upgrade_state.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/components/rules/pre_packaged_rules/add_elastic_rules_button.tsx
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_installation/review_rule_installation_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/calculate_rule_upgrade_info.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/constants.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_objects/prebuilt_rule_objects_client.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_versions/fetch_rule_versions_triad.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/search/get_existing_prepackaged_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/prebuilt_rule_customization/customization_enabled/preview_prebuilt_rules_upgrade.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/update_prebuilt_rules_package/trial_license_complete_tier/update_prebuilt_rules_package.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/install_update_error_handling.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/update_workflow_customized_rules.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/prebuilt_rules.ts
  x-pack/test/security_solution_cypress/cypress/tasks/prebuilt_rules.ts
Labels: backport

#212922 [9.0] [Security Solution] Reduce the _review rule upgrade endpoint response size (#211045)
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/prebuilt_rules_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/review_prebuilt_rules_upgrade_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/index.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/constants.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_fields.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_filtering.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_status_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_upgrade_review_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_perform_rules_upgrade_mutation.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_perform_rule_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_prebuilt_rules_upgrade_review.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_update_callouts/rule_update_callouts.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_toolbar.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/translations.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_buttons.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_filters.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_rule_customization_filter_popover.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_filter_prebuilt_rules_to_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_prebuilt_rules_upgrade_state.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/components/rules/pre_packaged_rules/add_elastic_rules_button.tsx
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_installation/review_rule_installation_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/calculate_rule_upgrade_info.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/constants.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_objects/prebuilt_rule_objects_client.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_versions/fetch_rule_versions_triad.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/search/get_existing_prepackaged_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/prebuilt_rule_customization/customization_enabled/preview_prebuilt_rules_upgrade.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/update_prebuilt_rules_package/trial_license_complete_tier/update_prebuilt_rules_package.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/install_update_error_handling.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/update_workflow_customized_rules.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/prebuilt_rules.ts
  x-pack/test/security_solution_cypress/cypress/tasks/prebuilt_rules.ts
Labels: backport

#212937 [Docs] Backport 8.16.5 release notes to 8.16
  docs/CHANGELOG.asciidoc
Labels: backport

#212938 [Docs] Backport 8.16.5 release notes to 8.17
  docs/CHANGELOG.asciidoc
Labels: backport

#210709 [Dashboard] Remove mSearch from content management
  examples/content_management_examples/public/examples/msearch/msearch_table.tsx
  src/platform/plugins/shared/dashboard/server/content_management/dashboard_storage.ts
  src/platform/plugins/shared/presentation_util/public/components/dashboard_picker/dashboard_picker.tsx
  test/examples/content_management/msearch.ts
Labels: Team:Presentation, release_note:skip, backport:skip

#212659 [SecuritySolution] Fix add to library action
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_save_to_library.tsx
Labels: bug, release_note:skip, v9.0.0, Team:Threat Hunting:Explore, backport:version, v8.18.0, v9.1.0, v8.19.0

#212942 [Docs] Backport 8.17.3 release notes to 8.17
  docs/CHANGELOG.asciidoc
Labels: backport

#212943 [Docs] Backport 8.17.3 release notes to 8.18
  docs/CHANGELOG.asciidoc
Labels: backport

#212921 [8.x] [Security Solution] Reduce the _review rule upgrade endpoint response size (#211045)
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/prebuilt_rules_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/common/review_prebuilt_rules_upgrade_filter.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/index.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/prebuilt_rules/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/common/constants.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_fields.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/rule_management/rule_filtering.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_status_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_fetch_prebuilt_rules_upgrade_review_query.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/hooks/prebuilt_rules/use_perform_rules_upgrade_mutation.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_perform_rule_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/prebuilt_rules/use_prebuilt_rules_upgrade_review.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_update_callouts/rule_update_callouts.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/add_prebuilt_rules_table/add_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/rules_table_toolbar.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/translations.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_buttons.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_prebuilt_rules_table_filters.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/upgrade_rule_customization_filter_popover.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_filter_prebuilt_rules_to_upgrade.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_prebuilt_rules_upgrade_state.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/components/rules/pre_packaged_rules/add_elastic_rules_button.tsx
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/get_prebuilt_rules_status/get_prebuilt_rules_status_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/get_upgradeable_rules.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/perform_rule_upgrade/perform_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_installation/review_rule_installation_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/calculate_rule_upgrade_info.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_handler.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/api/review_rule_upgrade/review_rule_upgrade_route.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/constants.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_objects/prebuilt_rule_objects_client.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/prebuilt_rules/logic/rule_versions/fetch_rule_versions_triad.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/search/get_existing_prepackaged_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/prebuilt_rule_customization/customization_enabled/preview_prebuilt_rules_upgrade.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/update_prebuilt_rules_package/trial_license_complete_tier/update_prebuilt_rules_package.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/install_update_error_handling.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/prebuilt_rules/update_workflow_customized_rules.cy.ts
  x-pack/test/security_solution_cypress/cypress/tasks/api_calls/prebuilt_rules.ts
  x-pack/test/security_solution_cypress/cypress/tasks/prebuilt_rules.ts
Labels: backport

#212928 [8.x] [Security Solution] [GenAi] refactor security ai assistant tools to use tool helper method (#212865)
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/agentRunnable.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/graph.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/prompts.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/state.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/evaluate/post_evaluate.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/types.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/alert_counts/alert_counts_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/esql/nl_to_esql_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/knowledge_base/knowledge_base_retrieval_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/knowledge_base/knowledge_base_write_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/open_and_acknowledged_alerts/open_and_acknowledged_alerts_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/product_docs/product_documentation_tool.ts
  x-pack/solutions/security/plugins/security_solution/server/assistant/tools/security_labs/security_labs_tool.ts
Labels: backport

#212868 [8.18] [EDR Workflows] OpenApi Missing Content - Response Actions (#212510)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/details/details.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/details/details.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/list/list.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/list/list.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/model/schema/common.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/endpoint/model/schema/common.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/quickstart_client.gen.ts
  x-pack/solutions/security/plugins/security_solution/docs/openapi/ess/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/openapi/serverless/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/test/api_integration/services/security_solution_api.gen.ts
Labels: backport

#212465 [AI Assistant] Fixed DataClient find method to pass fields param to esClient.msearch
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/conversations/transforms.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/find.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/anonymization_fields/find_route.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/entries/find_route.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/user_conversations/find_route.ts
Labels: bug, release_note:skip, backport:version, v9.1.0, v8.19.0

#212488 [Performance][Security Solution][4/4] - General Performance changes
  x-pack/solutions/security/plugins/security_solution/public/common/components/plugin_template_wrapper/plugin_template_wrapper.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
  x-pack/solutions/security/plugins/threat_intelligence/public/containers/security_solution_plugin_template_wrapper.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, backport:all-open, v8.18.0, v9.1.0, v8.19.0, v8.17.3

#212848 [ES|QL] Makes the clear control button optional
  examples/controls_example/public/app/control_group_renderer_examples/search_example.tsx
  src/platform/plugins/shared/controls/public/controls/esql_control/get_esql_control_factory.tsx
  src/platform/plugins/shared/controls/public/controls/types.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#212935 [Fleet] fix `latest_executed_state` error
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/plugins/shared/fleet/server/types/rest_spec/epm.ts
Labels: release_note:skip, Team:Fleet, backport:prev-minor, backport:prev-major

#212953 [9.0] [SecuritySolution] Fix add to library action (#212659)
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_save_to_library.tsx
Labels: backport

#212871 [8.16] [EDR Workflows] OpenApi Missing Content - Response Actions (#212510)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/details/details.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/details/details.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/list/list.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/list/list.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/execute/execute.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/get_file/get_file.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/isolate/isolate.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/kill_process/kill_process.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/running_procs/running_procs.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/scan/scan.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/suspend_process/suspend_process.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/unisolate/unisolate.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/actions/response_actions/upload/upload.schema.yaml
  x-pack/plugins/security_solution/common/api/endpoint/model/schema/common.gen.ts
  x-pack/plugins/security_solution/common/api/endpoint/model/schema/common.schema.yaml
  x-pack/plugins/security_solution/common/api/quickstart_client.gen.ts
  x-pack/plugins/security_solution/docs/openapi/ess/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/plugins/security_solution/docs/openapi/serverless/security_solution_endpoint_management_api_2023_10_31.bundled.schema.yaml
  x-pack/test/api_integration/services/security_solution_api.gen.ts
Labels: backport

#212958 [9.0] Update dependency msw to ~2.7.2 (main) (#212692)
  package.json
  yarn.lock
Labels: backport

#212966 [9.0] [Performance][Security Solution][4/4] - General Performance changes (#212488)
  x-pack/solutions/security/plugins/security_solution/public/common/components/plugin_template_wrapper/plugin_template_wrapper.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/pages/detection_engine/detection_engine.tsx
  x-pack/solutions/security/plugins/threat_intelligence/public/containers/security_solution_plugin_template_wrapper.tsx
Labels: backport

#212967 [8.x] [ES|QL] Makes the clear control button optional (#212848)
  examples/controls_example/public/app/control_group_renderer_examples/search_example.tsx
  src/platform/plugins/shared/controls/public/controls/esql_control/get_esql_control_factory.tsx
  src/platform/plugins/shared/controls/public/controls/types.ts
Labels: backport

#212952 [8.x] [SecuritySolution] Fix add to library action (#212659)
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_save_to_library.tsx
Labels: backport

#211657 [ES|QL] Separate `ENRICH` autocomplete routine
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.enrich.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/enrich/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/enrich/util.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/join/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/factories.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/commands.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/options.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/context.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#212930 [8.16] [Security Solution][Notes] change upper limit for max unassociated notes advanced setting to be 10k instead of 1k (#212786)
  x-pack/plugins/security_solution/server/ui_settings.ts
Labels: backport

#212482 [Performance][Security Solution][3/4] - Sourcerer performance
  x-pack/solutions/security/plugins/security_solution/public/app/home/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/user_info/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/use_init_sourcerer.tsx
Labels: release_note:skip, v9.0.0, Team:Threat Hunting:Investigations, backport:all-open, v8.18.0, v9.1.0, v8.19.0

#211851 [controls] remove id from explicit input
  src/platform/plugins/shared/controls/common/control_group/types.ts
  src/platform/plugins/shared/controls/common/types.ts
  src/platform/plugins/shared/controls/public/control_group/init_controls_manager.ts
  src/platform/plugins/shared/controls/public/control_group/utils/serialization_utils.ts
  src/platform/plugins/shared/controls/server/control_group/control_group_migrations.test.ts
  src/platform/plugins/shared/controls/server/control_group/control_group_persistable_state.ts
  src/platform/plugins/shared/controls/server/mocks.tsx
  src/platform/plugins/shared/dashboard/server/content_management/v3/transform_utils.test.ts
  src/platform/plugins/shared/dashboard/server/content_management/v3/transform_utils.ts
Labels: Team:Presentation, release_note:skip, project:embeddableRebuild, backport:version, v9.1.0, v8.19.0

#212979 [8.x] [ES|QL] Separate `ENRICH` autocomplete routine (#211657)
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/autocomplete.command.enrich.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/enrich/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/enrich/util.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/join/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/factories.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/commands.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/options.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/context.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.ts
Labels: backport

#212989 [9.0] [Performance][Security Solution][3/4] - Sourcerer performance (#212482)
  x-pack/solutions/security/plugins/security_solution/public/app/home/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/user_info/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/use_init_sourcerer.tsx
Labels: backport

#212988 [8.x] [Performance][Security Solution][3/4] - Sourcerer performance (#212482)
  x-pack/solutions/security/plugins/security_solution/public/app/home/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/user_info/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/use_init_sourcerer.tsx
Labels: backport

#212985 [8.17] [Performance][Security Solution][3/4] - Sourcerer performance (#212482)
  x-pack/plugins/security_solution/public/app/home/index.tsx
  x-pack/plugins/security_solution/public/detections/components/user_info/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/plugins/security_solution/public/sourcerer/containers/use_init_sourcerer.tsx
Labels: backport

#212986 [8.18] [Performance][Security Solution][3/4] - Sourcerer performance (#212482)
  x-pack/solutions/security/plugins/security_solution/public/app/home/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/user_info/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/sourcerer/containers/use_init_sourcerer.tsx
Labels: backport

#212994 [8.x] [controls] remove id from explicit input (#211851)
  src/platform/plugins/shared/controls/common/control_group/types.ts
  src/platform/plugins/shared/controls/common/types.ts
  src/platform/plugins/shared/controls/public/control_group/init_controls_manager.ts
  src/platform/plugins/shared/controls/public/control_group/utils/serialization_utils.ts
  src/platform/plugins/shared/controls/server/control_group/control_group_migrations.test.ts
  src/platform/plugins/shared/controls/server/control_group/control_group_persistable_state.ts
  src/platform/plugins/shared/controls/server/mocks.tsx
  src/platform/plugins/shared/dashboard/server/content_management/v3/transform_utils.test.ts
  src/platform/plugins/shared/dashboard/server/content_management/v3/transform_utils.ts
Labels: backport

#212936 [Obs AI Assistant] Improve instructions for the summarize function
  x-pack/platform/plugins/shared/observability_ai_assistant/server/functions/index.ts
Labels: release_note:fix, v9.0.0, Team:Obs AI Assistant, backport:version, v8.18.0, v9.1.0, v8.19.0

#212439 [Elastic Defend] Add `windows.ransomware.dump_process` for endpoint advanced policy setting
  x-pack/solutions/security/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: release_note:skip, Team:Defend Workflows, backport:version, v8.18.0, v8.15.6, v8.19.0, v8.17.3, v8.16.5

#212469 [Performance][Security Solution][1/4] - Field Browser Performance
  src/platform/packages/shared/response-ops/alerts-fields-browser/components/field_items/field_items.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/mock.ts
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/use_data_view.test.tsx
Labels: release_note:skip, v9.0.0, Team:Threat Hunting, Team:Threat Hunting:Investigations, backport:version, v8.18.0, v9.1.0, v8.17.3

#212463 [Security Assistant] Fix Product documentation installation banner
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_status.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.tsx
  x-pack/solutions/security/plugins/elastic_assistant/server/__mocks__/data_clients.mock.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.ts
Labels: bug, release_note:skip, v9.0.0, backport:version, v8.18.0, v9.1.0, v8.19.0

#212437 [maps] globe projection
  package.json
  src/platform/packages/private/kbn-mapbox-gl/index.ts
  src/platform/plugins/private/vis_types/vega/public/vega_view/vega_map_view/view.test.ts
  src/platform/plugins/private/vis_types/vega/public/vega_view/vega_map_view/view.ts
  x-pack/platform/plugins/shared/maps/common/descriptor_types/map_descriptor.ts
  x-pack/platform/plugins/shared/maps/jest.config.js
  x-pack/platform/plugins/shared/maps/jest_setup.ts
  x-pack/platform/plugins/shared/maps/public/classes/layers/ems_vector_tile_layer/ems_vector_tile_layer.tsx
  x-pack/platform/plugins/shared/maps/public/classes/sources/ems_tms_source/ems_tms_source.tsx
  x-pack/platform/plugins/shared/maps/public/connected_components/map_settings_panel/display_panel.tsx
  x-pack/platform/plugins/shared/maps/public/connected_components/mb_map/mb_map.tsx
  x-pack/platform/plugins/shared/maps/public/reducers/map/default_map_settings.ts
  x-pack/platform/plugins/shared/maps/public/routes/map_page/saved_map/saved_map.ts
  x-pack/platform/plugins/shared/maps/server/sample_data/ecommerce_saved_objects.js
  x-pack/platform/plugins/shared/maps/server/sample_data/flights_saved_objects.js
  x-pack/platform/plugins/shared/maps/server/sample_data/web_logs_saved_objects.js
  x-pack/platform/plugins/shared/maps/tsconfig.json
  x-pack/test/functional/screenshots/baseline/ecommerce_map.png
  x-pack/test/functional/screenshots/baseline/flights_map.png
  x-pack/test/functional/screenshots/baseline/web_logs_map.png
  yarn.lock
Labels: release_note:enhancement, Team:Presentation, Feature:Maps, backport:version, v9.1.0, v8.19.0

#213002 [9.0] [Obs AI Assistant] Improve instructions for the summarize function (#212936)
  x-pack/platform/plugins/shared/observability_ai_assistant/server/functions/index.ts
Labels: backport, Team:Obs AI Assistant

#213000 [8.18] [Obs AI Assistant] Improve instructions for the summarize function (#212936)
  x-pack/platform/plugins/shared/observability_ai_assistant/server/functions/index.ts
Labels: backport, Team:Obs AI Assistant

#212977 [UII] Add internal api that allows to create agent policy and its package policies
  x-pack/platform/plugins/shared/fleet/common/constants/routes.ts
  x-pack/platform/plugins/shared/fleet/common/types/rest_spec/agent_policy.ts
  x-pack/platform/plugins/shared/fleet/common/types/rest_spec/package_policy.ts
  x-pack/platform/plugins/shared/fleet/server/routes/agent_policy/handlers.ts
  x-pack/platform/plugins/shared/fleet/server/routes/agent_policy/index.test.ts
  x-pack/platform/plugins/shared/fleet/server/routes/agent_policy/index.ts
  x-pack/platform/plugins/shared/fleet/server/types/rest_spec/agent_policy.ts
  x-pack/test/fleet_api_integration/apis/agent_policy/agent_policy.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#213011 [8.x] [Elastic Defend] Add `windows.ransomware.dump_process` for endpoint advanced policy setting (#212439)
  x-pack/solutions/security/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport

#213010 [8.18] [Elastic Defend] Add `windows.ransomware.dump_process` for endpoint advanced policy setting (#212439)
  x-pack/solutions/security/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport

#213008 [8.16] [Elastic Defend] Add `windows.ransomware.dump_process` for endpoint advanced policy setting (#212439)
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport

#213009 [8.17] [Elastic Defend] Add `windows.ransomware.dump_process` for endpoint advanced policy setting (#212439)
  x-pack/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport

#213019 [9.0] [Security Assistant] Fix Product documentation installation banner (#212463)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_status.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.tsx
  x-pack/solutions/security/plugins/elastic_assistant/server/__mocks__/data_clients.mock.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.ts
Labels: backport

#213001 [8.x] [Obs AI Assistant] Improve instructions for the summarize function (#212936)
  x-pack/platform/plugins/shared/observability_ai_assistant/server/functions/index.ts
Labels: backport, Team:Obs AI Assistant

#213017 [8.18] [Security Assistant] Fix Product documentation installation banner (#212463)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_status.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.tsx
  x-pack/solutions/security/plugins/elastic_assistant/server/__mocks__/data_clients.mock.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.ts
Labels: backport

#213018 [8.x] [Security Assistant] Fix Product documentation installation banner (#212463)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/knowledge_base/crud_kb_route.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/api/knowledge_base/use_knowledge_base_status.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/assistant/settings/product_documentation/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/knowledge_base/knowledge_base_settings_management/index.tsx
  x-pack/solutions/security/plugins/elastic_assistant/server/__mocks__/data_clients.mock.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_data_clients/knowledge_base/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/helpers.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/ai_assistant_service/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/knowledge_base/get_knowledge_base_status.ts
Labels: backport

#213029 [Security Solution] Alert flyout - fix suppressed alerts alignment
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/right/components/suppressed_alerts.tsx
Labels: release_note:fix, v9.0.0, backport:version, v8.18.0, v9.1.0, v8.19.0

#213032 [9.0] [Security Solution][Document Flyout] Fix alert insights color order (#212980)
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/shared/components/alert_count_insight.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/shared/components/alert_count_insight.tsx
Labels: backport

#212757 [Streams 🌊] Enrichment - Fix broken results due to condition and add skipped metric
  x-pack/platform/plugins/shared/streams/server/routes/streams/processing/simulation_handler.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processor_outcome_preview.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/processor_metrics.tsx
Labels: release_note:skip, Team:obs-ux-logs, backport:version, Feature:Streams, v9.1.0, v8.19.0

#211155 [8.18][Entity Analytics][Risk Score]Adding changes for the file which was moved to a new directory
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/api/hooks/use_preview_risk_scores.ts
Labels: release_note:fix, backport:skip, Team:Entity Analytics

#213035 [8.x] [Security Solution] Alert flyout - fix suppressed alerts alignment (#213029)
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/right/components/suppressed_alerts.tsx
Labels: backport

#213036 [9.0] [Security Solution] Alert flyout - fix suppressed alerts alignment (#213029)
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/right/components/suppressed_alerts.tsx
Labels: backport

#213034 [8.18] [Security Solution] Alert flyout - fix suppressed alerts alignment (#213029)
  x-pack/solutions/security/plugins/security_solution/public/flyout/document_details/right/components/suppressed_alerts.tsx
Labels: backport

#212918 [Fleet] Remove wrong incorrect import from fleet server host service
  x-pack/platform/plugins/shared/fleet/server/services/fleet_server_host.ts
Labels: release_note:skip, backport:skip, Team:Fleet, v9.1.0

#213038 [ES|QL] Correct the lens_map_to_columns function call arguments
  x-pack/platform/plugins/shared/lens/public/datasources/text_based/to_expression.ts
Labels: release_note:skip, Feature:Lens, Feature:ES|QL, backport:version, v9.1.0, v8.19.0

#212436 Refactor Asset Inventory page
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/components/empty_state.tsx
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/components/filters/filters.tsx
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/components/search_bar.tsx
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/components/technical_preview_badge.tsx
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/constants.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_asset_inventory_data_table/use_asset_inventory_data_table.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_asset_inventory_data_table/use_base_es_query.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_asset_inventory_data_table/use_page_size.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_asset_inventory_data_table/use_persisted_query.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_asset_inventory_data_table/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_asset_inventory_routes.test.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_fetch_chart_data.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/hooks/use_fetch_grid_data.ts
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/pages/all_assets.tsx
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/sample_data.ts
  x-pack/test/security_solution_cypress/cypress/e2e/asset_inventory/asset_inventory_page.cy.ts
Labels: refactoring, release_note:skip, backport:skip, Team:Cloud Security

#213037 [8.x] [Streams 🌊] Enrichment - Fix broken results due to condition and add skipped metric (#212757)
  x-pack/platform/plugins/shared/streams/server/routes/streams/processing/simulation_handler.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processor_outcome_preview.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/processor_metrics.tsx
Labels: backport

#212847 Fix Incomplete string escaping or encoding
  x-pack/platform/plugins/shared/automatic_import/server/util/processors.ts
Labels: release_note:skip, backport:prev-minor, Team:Security-Scalability, backport:version, Feature:AutomaticImport, v8.19.0, v8.18.1

#213049 [Bug] [Assistant API] - Do not allow empty conversation ID in chat/complete route (#11783)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.schema.yaml
Labels: release_note:fix, v9.0.0, Team: SecuritySolution, Team:Security Generative AI, backport:version, v8.17.0, v8.18.0, v9.1.0, v8.19.0

#212042 Fix vega tooltip color in dark mode
  src/platform/plugins/private/vis_types/vega/public/vega_view/vega_tooltip.styles.ts
Labels: bug, Team:Visualizations, release_note:skip, backport:prev-major

#206232 [deps] move redux-thunk to correct owners
  renovate.json
Labels: Team:Presentation, Team:Kibana Management, release_note:skip, dependencies, backport:skip, Team: SecuritySolution

#212787 Make Amsterdam an opt-in theme
  packages/kbn-optimizer/src/optimizer/optimizer_cache_key.test.ts
  src/core/packages/rendering/server-internal/src/bootstrap/bootstrap_renderer.test.mocks.ts
  src/core/packages/rendering/server-internal/src/bootstrap/bootstrap_renderer.test.ts
  src/core/packages/rendering/server-internal/src/bootstrap/bootstrap_renderer.ts
  src/core/packages/rendering/server-internal/src/bootstrap/get_theme_tag.test.ts
  src/core/packages/rendering/server-internal/src/bootstrap/get_theme_tag.ts
  src/core/packages/rendering/server-internal/src/rendering_service.test.mocks.ts
  src/core/packages/rendering/server-internal/src/rendering_service.test.ts
  src/core/packages/rendering/server-internal/src/rendering_service.tsx
  src/core/packages/rendering/server-internal/src/theme.test.ts
  src/core/packages/rendering/server-internal/src/theme.ts
  src/core/packages/ui-settings/common/src/theme.ts
Labels: release_note:skip, v9.0.0, backport:prev-minor, v9.1.0

#213068 [Cloud Security ]update csp README.md file i18n instructions
  x-pack/solutions/security/plugins/cloud_security_posture/README.md
Labels: release_note:skip, backport:skip, Team:Cloud Security

#212044 [ML] File upload enable consistent-type-imports eslint rule
  .eslintrc.js
  x-pack/platform/plugins/private/file_upload/common/types.ts
  x-pack/platform/plugins/private/file_upload/public/api/geo_upload_wizard_async_wrapper.tsx
  x-pack/platform/plugins/private/file_upload/public/api/index_name_form_async_wrapper.tsx
  x-pack/platform/plugins/private/file_upload/public/components/geo_upload_form/geo_upload_form.tsx
  x-pack/platform/plugins/private/file_upload/public/components/geo_upload_form/index_name_form.tsx
  x-pack/platform/plugins/private/file_upload/public/components/geo_upload_wizard.tsx
  x-pack/platform/plugins/private/file_upload/public/components/import_complete_view.tsx
  x-pack/platform/plugins/private/file_upload/public/importer/geo/abstract_geo_file_importer.tsx
  x-pack/platform/plugins/private/file_upload/public/importer/geo/create_chunks.test.ts
  x-pack/platform/plugins/private/file_upload/public/importer/geo/create_chunks.ts
  x-pack/platform/plugins/private/file_upload/public/importer/geo/geojson_importer/geojson_importer.ts
  x-pack/platform/plugins/private/file_upload/public/importer/geo/shapefile_importer/shapefile_importer.tsx
  x-pack/platform/plugins/private/file_upload/public/importer/geo/types.ts
  x-pack/platform/plugins/private/file_upload/public/importer/importer.ts
  x-pack/platform/plugins/private/file_upload/public/importer/importer_factory.ts
  x-pack/platform/plugins/private/file_upload/public/importer/ndjson_importer.ts
  x-pack/platform/plugins/private/file_upload/public/importer/tika_importer.ts
  x-pack/platform/plugins/private/file_upload/public/kibana_services.ts
  x-pack/platform/plugins/private/file_upload/public/lazy_load_bundle/index.ts
  x-pack/platform/plugins/private/file_upload/public/plugin.ts
  x-pack/platform/plugins/private/file_upload/server/analyze_file.tsx
  x-pack/platform/plugins/private/file_upload/server/capabilities.test.ts
  x-pack/platform/plugins/private/file_upload/server/capabilities.ts
  x-pack/platform/plugins/private/file_upload/server/check_privileges.ts
  x-pack/platform/plugins/private/file_upload/server/error_wrapper.ts
  x-pack/platform/plugins/private/file_upload/server/get_time_field_range.ts
  x-pack/platform/plugins/private/file_upload/server/index.ts
  x-pack/platform/plugins/private/file_upload/server/plugin.ts
  x-pack/platform/plugins/private/file_upload/server/routes.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/internal_repository.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/mappings.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/telemetry.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/usage_collector.ts
  x-pack/platform/plugins/private/file_upload/server/types.ts
Labels: :ml, release_note:skip, Feature:File and Index Data Viz, Feature:File Upload, backport:version, v9.1.0, v8.19.0

#213070 [8.x] [ES|QL] Correct the lens_map_to_columns function call arguments (#213038)
  x-pack/platform/plugins/shared/lens/public/datasources/text_based/to_expression.ts
Labels: backport

#213026 [8.x] [maps] globe projection (#212437)
  package.json
  src/platform/packages/private/kbn-mapbox-gl/index.ts
  src/platform/plugins/private/vis_types/vega/public/vega_view/vega_map_view/view.test.ts
  src/platform/plugins/private/vis_types/vega/public/vega_view/vega_map_view/view.ts
  x-pack/platform/plugins/shared/maps/common/descriptor_types/map_descriptor.ts
  x-pack/platform/plugins/shared/maps/jest.config.js
  x-pack/platform/plugins/shared/maps/jest_setup.ts
  x-pack/platform/plugins/shared/maps/public/classes/layers/ems_vector_tile_layer/ems_vector_tile_layer.tsx
  x-pack/platform/plugins/shared/maps/public/classes/sources/ems_tms_source/ems_tms_source.tsx
  x-pack/platform/plugins/shared/maps/public/connected_components/map_settings_panel/display_panel.tsx
  x-pack/platform/plugins/shared/maps/public/connected_components/mb_map/mb_map.tsx
  x-pack/platform/plugins/shared/maps/public/reducers/map/default_map_settings.ts
  x-pack/platform/plugins/shared/maps/public/routes/map_page/saved_map/saved_map.ts
  x-pack/platform/plugins/shared/maps/server/sample_data/ecommerce_saved_objects.js
  x-pack/platform/plugins/shared/maps/server/sample_data/flights_saved_objects.js
  x-pack/platform/plugins/shared/maps/server/sample_data/web_logs_saved_objects.js
  x-pack/platform/plugins/shared/maps/tsconfig.json
  x-pack/test/functional/screenshots/baseline/ecommerce_map.png
  x-pack/test/functional/screenshots/baseline/flights_map.png
  x-pack/test/functional/screenshots/baseline/web_logs_map.png
  yarn.lock
Labels: backport

#213050 [Fleet] fix telemetry test
  x-pack/platform/plugins/shared/fleet/server/integration_tests/fleet_usage_telemetry.test.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#212012 Update Sample Dashboards images to Borealis
  src/platform/plugins/shared/home/public/assets/sample_data_resources/ecommerce/dashboard.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/ecommerce/dashboard_dark.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/flights/dashboard.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/flights/dashboard_dark.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/logs/dashboard.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/logs/dashboard_dark.webp
Labels: release_note:skip, v9.0.0, backport:version, v9.1.0

#213083 [8.18] Fix vega tooltip color in dark mode (#212042)
  src/platform/plugins/private/vis_types/vega/public/vega_view/vega_tooltip.styles.ts
Labels: backport

#213081 [8.x] Fix Incomplete string escaping or encoding (#212847)
  x-pack/platform/plugins/shared/integration_assistant/server/util/processors.ts
Labels: backport

#213089 [9.0] [Bug] [Assistant API] - Do not allow empty conversation ID in chat/complete route (#11783) (#213049)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.schema.yaml
Labels: backport

#213082 [9.0] Fix Incomplete string escaping or encoding (#212847)
  x-pack/platform/plugins/shared/automatic_import/server/util/processors.ts
Labels: backport

#213078 Skip `'No connectors or conversations exist'` on serverless
  x-pack/test/security_solution_cypress/cypress/e2e/ai_assistant/conversations.cy.ts
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#212393 [Perfomance] Add Inline documentation for TTFMP
  src/core/packages/analytics/browser-internal/src/track_performance_measure_entries.test.ts
  src/core/packages/analytics/browser-internal/src/track_performance_measure_entries.ts
  src/platform/packages/shared/kbn-ebt-tools/src/performance_metrics/context/measure_interaction/index.ts
  src/platform/packages/shared/kbn-ebt-tools/src/performance_metrics/context/performance_context.tsx
  src/platform/packages/shared/kbn-ebt-tools/src/performance_metrics/context/types.ts
  x-pack/solutions/observability/plugins/apm/public/components/app/dependencies_inventory/dependencies_inventory_table/index.tsx
Labels: release_note:skip, backport:skip, v9.0.0, Team:obs-ux-infra_services

#213076 chore: remove react-syntax-highlighter leftovers
  renovate.json
  src/platform/packages/shared/kbn-ambient-storybook-types/index.d.ts
  typings/index.d.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-infra_services

#213080 [8.18] Fix Incomplete string escaping or encoding (#212847)
  x-pack/platform/plugins/shared/integration_assistant/server/util/processors.ts
Labels: backport

#213088 [8.x] [Bug] [Assistant API] - Do not allow empty conversation ID in chat/complete route (#11783) (#213049)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.schema.yaml
Labels: backport

#213093 [9.0] Make Amsterdam an opt-in theme (#212787)
  packages/kbn-optimizer/src/optimizer/optimizer_cache_key.test.ts
  src/core/packages/rendering/server-internal/src/bootstrap/bootstrap_renderer.test.mocks.ts
  src/core/packages/rendering/server-internal/src/bootstrap/bootstrap_renderer.test.ts
  src/core/packages/rendering/server-internal/src/bootstrap/bootstrap_renderer.ts
  src/core/packages/rendering/server-internal/src/bootstrap/get_theme_tag.test.ts
  src/core/packages/rendering/server-internal/src/bootstrap/get_theme_tag.ts
  src/core/packages/rendering/server-internal/src/rendering_service.test.mocks.ts
  src/core/packages/rendering/server-internal/src/rendering_service.test.ts
  src/core/packages/rendering/server-internal/src/rendering_service.tsx
  src/core/packages/rendering/server-internal/src/theme.test.ts
  src/core/packages/rendering/server-internal/src/theme.ts
  src/core/packages/ui-settings/common/src/theme.ts
Labels: backport

#213084 [8.x] Fix vega tooltip color in dark mode (#212042)
  src/platform/plugins/private/vis_types/vega/public/vega_view/vega_tooltip.styles.ts
Labels: backport

#213087 [8.18] [Bug] [Assistant API] - Do not allow empty conversation ID in chat/complete route (#11783) (#213049)
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/ess/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/docs/openapi/serverless/elastic_assistant_api_2023_10_31.bundled.schema.yaml
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.gen.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/schemas/chat/post_chat_complete_route.schema.yaml
Labels: backport

#213042 [Automatic Import] Fix unstructured syslog flow
  x-pack/platform/plugins/shared/automatic_import/__jest__/fixtures/unstructured.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/log_type_detection/constants.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/log_type_detection/detection.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/log_type_detection/prompts.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/constants.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/error.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/errors.test.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/graph.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/prompts.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/types.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/unstructured.test.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/unstructured.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/validate.test.ts
  x-pack/platform/plugins/shared/automatic_import/server/graphs/unstructured/validate.ts
  x-pack/platform/plugins/shared/automatic_import/server/types.ts
Labels: release_note:fix, backport:prev-minor, Team:Security-Scalability, backport:version, Feature:AutomaticImport, v8.19.0, v8.18.1

#211852 Fix toggling of the secondary panel for non-landing page nav item buttons
  src/platform/packages/shared/shared-ux/chrome/navigation/__jest__/panel.test.tsx
  src/platform/packages/shared/shared-ux/chrome/navigation/src/ui/components/navigation_item_open_panel.tsx
  src/platform/packages/shared/shared-ux/chrome/navigation/src/ui/components/panel/context.tsx
  src/platform/packages/shared/shared-ux/chrome/navigation/src/ui/components/panel/navigation_panel.tsx
  src/platform/packages/shared/shared-ux/chrome/navigation/src/ui/navigation.stories.tsx
Labels: release_note:fix, v9.0.0, Team:SharedUX, backport:version, v8.18.0, v9.1.0, v8.19.0

#212941 [Fleet] Fix space selector space color,label for readonly spaces
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/space_selector.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/components/agent_policy_advanced_fields/space_selector.tsx
Labels: release_note:skip, backport:skip, Team:Fleet

#213094 [EDR Workflows] Workflow Insights - insights generating script
  x-pack/solutions/security/plugins/security_solution/common/endpoint/data_loaders/index_workflow_insights.ts
  x-pack/solutions/security/plugins/security_solution/scripts/endpoint/load_workflow_insights.js
  x-pack/solutions/security/plugins/security_solution/scripts/endpoint/workflow_isnights/index.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows, v9.1.0

#213100 [9.0] Update Sample Dashboards images to Borealis (#212012)
  src/platform/plugins/shared/home/public/assets/sample_data_resources/ecommerce/dashboard.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/ecommerce/dashboard_dark.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/flights/dashboard.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/flights/dashboard_dark.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/logs/dashboard.webp
  src/platform/plugins/shared/home/public/assets/sample_data_resources/logs/dashboard_dark.webp
Labels: backport

#213095 [8.x] [ML] File upload enable consistent-type-imports eslint rule (#212044)
  .eslintrc.js
  x-pack/platform/plugins/private/file_upload/common/types.ts
  x-pack/platform/plugins/private/file_upload/public/api/geo_upload_wizard_async_wrapper.tsx
  x-pack/platform/plugins/private/file_upload/public/api/index_name_form_async_wrapper.tsx
  x-pack/platform/plugins/private/file_upload/public/components/geo_upload_form/geo_upload_form.tsx
  x-pack/platform/plugins/private/file_upload/public/components/geo_upload_form/index_name_form.tsx
  x-pack/platform/plugins/private/file_upload/public/components/geo_upload_wizard.tsx
  x-pack/platform/plugins/private/file_upload/public/components/import_complete_view.tsx
  x-pack/platform/plugins/private/file_upload/public/importer/geo/abstract_geo_file_importer.tsx
  x-pack/platform/plugins/private/file_upload/public/importer/geo/create_chunks.test.ts
  x-pack/platform/plugins/private/file_upload/public/importer/geo/create_chunks.ts
  x-pack/platform/plugins/private/file_upload/public/importer/geo/geojson_importer/geojson_importer.ts
  x-pack/platform/plugins/private/file_upload/public/importer/geo/shapefile_importer/shapefile_importer.tsx
  x-pack/platform/plugins/private/file_upload/public/importer/geo/types.ts
  x-pack/platform/plugins/private/file_upload/public/importer/importer.ts
  x-pack/platform/plugins/private/file_upload/public/importer/importer_factory.ts
  x-pack/platform/plugins/private/file_upload/public/importer/ndjson_importer.ts
  x-pack/platform/plugins/private/file_upload/public/importer/tika_importer.ts
  x-pack/platform/plugins/private/file_upload/public/kibana_services.ts
  x-pack/platform/plugins/private/file_upload/public/lazy_load_bundle/index.ts
  x-pack/platform/plugins/private/file_upload/public/plugin.ts
  x-pack/platform/plugins/private/file_upload/server/analyze_file.tsx
  x-pack/platform/plugins/private/file_upload/server/capabilities.test.ts
  x-pack/platform/plugins/private/file_upload/server/capabilities.ts
  x-pack/platform/plugins/private/file_upload/server/check_privileges.ts
  x-pack/platform/plugins/private/file_upload/server/error_wrapper.ts
  x-pack/platform/plugins/private/file_upload/server/get_time_field_range.ts
  x-pack/platform/plugins/private/file_upload/server/index.ts
  x-pack/platform/plugins/private/file_upload/server/plugin.ts
  x-pack/platform/plugins/private/file_upload/server/routes.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/internal_repository.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/mappings.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/telemetry.ts
  x-pack/platform/plugins/private/file_upload/server/telemetry/usage_collector.ts
  x-pack/platform/plugins/private/file_upload/server/types.ts
Labels: backport

#212749 [Infra] Fix hosts total count query
  x-pack/solutions/observability/plugins/infra/server/routes/infra/lib/host/get_hosts_count.ts
Labels: release_note:skip, backport:prev-minor, backport:prev-major, Team:obs-ux-infra_services

#211960 [embeddable] replace Embeddable ViewMode with presentation-publishing ViewMode
  examples/controls_example/public/app/control_group_renderer_examples/edit_example.tsx
  examples/controls_example/public/app/react_control_example/react_control_example.tsx
  examples/portable_dashboards_example/public/dashboard_with_controls_example.tsx
  examples/portable_dashboards_example/public/dual_dashboards_example.tsx
  examples/portable_dashboards_example/public/static_by_reference_example.tsx
  examples/portable_dashboards_example/public/static_by_value_example.tsx
  src/platform/packages/private/kbn-reporting/get_csv_panel_actions/panel_actions/get_csv_panel_action.tsx
  src/platform/packages/private/kbn-reporting/get_csv_panel_actions/tsconfig.json
  src/platform/packages/shared/kbn-alerts-ui-shared/src/alert_filter_controls/hooks/use_view_edit_mode.ts
  src/platform/packages/shared/kbn-alerts-ui-shared/tsconfig.json
  src/platform/plugins/private/input_control_vis/public/deprecation_badge.ts
  src/platform/plugins/shared/controls/public/control_group/components/control_panel.tsx
  src/platform/plugins/shared/controls/public/control_group/components/floating_actions.tsx
  src/platform/plugins/shared/controls/public/control_group/control_group_renderer/control_group_renderer.tsx
  src/platform/plugins/shared/discover/public/embeddable/actions/view_saved_search_action.test.ts
  src/platform/plugins/shared/discover/public/embeddable/actions/view_saved_search_compatibility_check.ts
  src/platform/plugins/shared/embeddable/common/index.ts
  src/platform/plugins/shared/embeddable/common/types.ts
  src/platform/plugins/shared/embeddable/public/index.ts
  src/platform/plugins/shared/unified_histogram/kibana.jsonc
  src/platform/plugins/shared/unified_histogram/public/chart/hooks/use_lens_props.ts
  src/platform/plugins/shared/unified_histogram/tsconfig.json
  src/platform/plugins/shared/visualizations/public/actions/edit_in_lens_action.tsx
  src/platform/plugins/shared/visualizations/public/legacy/embeddable/diff_embeddable_input.test.ts
  src/platform/plugins/shared/visualizations/public/legacy/embeddable/embeddable.tsx
  x-pack/examples/embedded_lens_example/public/app.tsx
  x-pack/examples/embedded_lens_example/tsconfig.json
  x-pack/examples/lens_config_builder_example/public/app.tsx
  x-pack/examples/lens_config_builder_example/tsconfig.json
  x-pack/examples/testing_embedded_lens/public/app.tsx
  x-pack/examples/testing_embedded_lens/tsconfig.json
  x-pack/platform/plugins/private/discover_enhanced/public/actions/explore_data/abstract_explore_data_action.ts
  x-pack/platform/plugins/shared/dataset_quality/public/components/dataset_quality_details/overview/document_trends/trend_docs_chart.tsx
  x-pack/platform/plugins/shared/dataset_quality/tsconfig.json
  x-pack/platform/plugins/shared/maps/public/lens/passive_map.tsx
  x-pack/platform/plugins/shared/ml/public/application/services/dashboard_service.ts
  x-pack/platform/plugins/shared/ml/public/application/supplied_configurations/supplied_configurations_flyout/kibana_tab_content.tsx
  x-pack/solutions/observability/plugins/apm/public/components/app/metrics/static_dashboard/index.tsx
  x-pack/solutions/observability/plugins/apm/public/components/app/service_dashboards/index.tsx
  x-pack/solutions/observability/plugins/exploratory_view/kibana.jsonc
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/embeddable/embeddable.tsx
  x-pack/solutions/observability/plugins/infra/kibana.jsonc
  x-pack/solutions/observability/plugins/infra/public/alerting/log_threshold/components/alert_details_app_section/components/threhsold_chart/log_threshold_count_chart.tsx
  x-pack/solutions/observability/plugins/infra/public/alerting/log_threshold/components/alert_details_app_section/components/threhsold_chart/log_threshold_ratio_chart.tsx
  x-pack/solutions/observability/plugins/infra/public/components/asset_details/tabs/dashboards/dashboards.tsx
  x-pack/solutions/observability/plugins/infra/public/components/lens/lens_wrapper.tsx
  x-pack/solutions/observability/plugins/slo/public/components/slo/error_rate_chart/error_rate_chart.tsx
  x-pack/solutions/observability/plugins/ux/public/components/app/rum_dashboard/charts/visitor_breakdown_chart.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.tsx
  x-pack/solutions/security/plugins/security_solution/public/dashboards/components/dashboard_renderer.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/dashboards/components/dashboard_renderer.tsx
  x-pack/solutions/security/plugins/security_solution/public/dashboards/components/dashboard_tool_bar.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/dashboards/components/dashboard_tool_bar.tsx
  x-pack/solutions/security/plugins/security_solution/public/dashboards/pages/details/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/dashboards/pages/details/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/dashboards/pages/index.tsx
Labels: Feature:Embedding, Team:Presentation, release_note:skip, Team:obs-ux-infra_services, Team:obs-ux-management, project:embeddableRebuild, backport:version, v9.1.0, v8.19.0

#213104 [8.18] [Fleet] Disable logfile input for agentless integrations (#212455)
  x-pack/platform/plugins/shared/fleet/common/constants/agentless.ts
Labels: backport, Team:Fleet

#213108 [Obs AI Assistant] Update date category label
  x-pack/platform/packages/shared/kbn-ai-assistant/src/chat/conversation_list.tsx
Labels: release_note:skip, v9.0.0, Team:Obs AI Assistant, backport:version, v8.18.0, v9.1.0, v8.19.0

#213079 [8.x] [Search] Don't error out on missing connectors permissions (#212622)
  x-pack/solutions/search/plugins/enterprise_search/server/lib/indices/fetch_index.test.ts
  x-pack/solutions/search/plugins/enterprise_search/server/lib/indices/fetch_index.ts
  x-pack/solutions/search/plugins/enterprise_search/server/lib/indices/fetch_unattached_indices.ts
  x-pack/solutions/search/plugins/enterprise_search/server/lib/pipelines/get_index_pipeline.ts
  x-pack/solutions/search/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: backport

#213091 [8.17] [Search] Don't error out on missing connectors permissions (#212622)
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index.test.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_index.ts
  x-pack/plugins/enterprise_search/server/lib/indices/fetch_unattached_indices.ts
  x-pack/plugins/enterprise_search/server/lib/pipelines/get_index_pipeline.ts
  x-pack/plugins/enterprise_search/server/routes/enterprise_search/indices.ts
Labels: backport

#213021 [9.0] [Performance][Security Solution][1/4] - Field Browser Performance (#212469)
  x-pack/platform/plugins/shared/triggers_actions_ui/public/application/sections/field_browser/components/field_items/field_items.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/mock.ts
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/use_data_view.test.tsx
Labels: backport

#213113 🌊 Streams: Disable AI suggestions button if there is no sample data
  x-pack/platform/plugins/shared/streams/server/routes/streams/processing/suggestions_handler.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/processors/grok/grok_ai_suggestions.tsx
Labels: release_note:skip, backport:version, Feature:Streams, v9.1.0, v8.19.0

#213120 [9.0] [Security Solution][Detection Engine] adds bulkGetUserProfiles privilege to Security Feature (#211824)
  x-pack/solutions/security/packages/features/src/security/v1_features/kibana_features.ts
  x-pack/solutions/security/packages/features/src/security/v2_features/kibana_features.ts
  x-pack/test/api_integration/apis/cases/bulk_get_user_profiles.ts
  x-pack/test/api_integration/apis/cases/common/roles.ts
  x-pack/test/api_integration/apis/cases/common/users.ts
  x-pack/test_serverless/api_integration/test_suites/security/platform_security/authorization.ts
Labels: backport
