Repository elastic/kibana, pull requests merged in 2025-10, with the labels that each got.

#236825 [8.19] [Synthetics] Fix overview page vizs for large number of monitors !! (#199512)
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/lens_attributes.ts
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/lens_attributes/single_metric_attributes.ts
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/synthetics/kpi_over_time_config.ts
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/synthetics/single_metric_config.ts
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/configurations/test_data/test_formula_metric_attribute.ts
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/embeddable/embeddable.tsx
  x-pack/solutions/observability/plugins/exploratory_view/public/components/shared/exploratory_view/embeddable/use_embeddable_attributes.ts
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/hooks/use_monitor_filters.ts
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_errors/monitor_async_error.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_stats.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_test_runs.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/management/monitor_stats/monitor_test_runs_sparkline.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_alerts.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_errors/overview_errors.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_errors/overview_errors_count.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitors_page/overview/overview/overview_errors/overview_errors_sparklines.tsx
  x-pack/solutions/observability/plugins/synthetics/public/hooks/use_kibana_space.tsx
Labels: backport, ci:cloud-deploy, ci:project-deploy-observability, Team:obs-ux-management

#235776 [9.1] Update the synthetics README file to add the missing config for the script. (#235756)
  x-pack/packages/kbn-synthetics-private-location/README.md
Labels: backport, release_note:skip

#236933 [9.1][Fleet] remove incorrect `fleet.ssl` config (#236788)
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/full_agent_policy.ts
Labels: backport, release_note:fix, Team:Fleet

#237001 [8.18] Handle upload and download of empty files passed to file service (#236729)
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/i18n_texts.ts
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/upload_state.test.ts
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/upload_state.ts
  src/platform/plugins/shared/files/server/routes/file_kind/download.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/note.txt
  x-pack/test_serverless/functional/test_suites/observability/cases/view_case.ts
  x-pack/test_serverless/functional/test_suites/observability/screenshot_creation/response_ops_docs/cases/testfile.png
  x-pack/test_serverless/functional/test_suites/security/ftr/cases/note.txt
  x-pack/test_serverless/functional/test_suites/security/ftr/cases/view_case.ts
  x-pack/test_serverless/functional/test_suites/security/screenshot_creation/response_ops_docs/cases/testfile.png
Labels: backport

#236999 [9.0] Handle upload and download of empty files passed to file service (#236729)
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/i18n_texts.ts
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/upload_state.test.ts
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/upload_state.ts
  src/platform/plugins/shared/files/server/routes/file_kind/download.ts
  x-pack/test_serverless/functional/test_suites/observability/cases/note.txt
  x-pack/test_serverless/functional/test_suites/observability/cases/view_case.ts
  x-pack/test_serverless/functional/test_suites/observability/screenshot_creation/response_ops_docs/cases/testfile.png
  x-pack/test_serverless/functional/test_suites/security/ftr/cases/note.txt
  x-pack/test_serverless/functional/test_suites/security/ftr/cases/view_case.ts
  x-pack/test_serverless/functional/test_suites/security/screenshot_creation/response_ops_docs/cases/testfile.png
Labels: backport

#236761 [Streams] Logic to handle mapping of fields in wired and classic streams
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/route.ts
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/simulation_handler.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/schema_editor/constants.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/schema_editor/field_type.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/schema_editor/index.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/schema_editor/schema_changes_review_modal.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/schema_editor/schema_editor_table.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/schema_editor/types.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/detected_fields_editor.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/page_content.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/state_management/simulation_state_machine/simulation_state_machine.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/state_management/simulation_state_machine/types.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/state_management/simulation_state_machine/utils.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/state_management/stream_enrichment_state_machine/stream_enrichment_state_machine.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_schema_editor/index.tsx
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_processing/error_handling.spec.ts
Labels: release_note:skip, backport:skip, Team:obs-ux-logs, Feature:Streams

#237063 [ES|QL] Fixes the error povover problem when the content is too long
  src/platform/packages/private/kbn-esql-editor/src/editor_footer/errors_warnings_popover.tsx
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.2.0

#236580 [8.18] [CI] New info versions json / Remove some backport label usage (#234308)
  .github/workflows/on-merge.yml
  dev_docs/contributing/how_we_use_github.mdx
  renovate.json
Labels: backport

#236575 [8.19] [CI] New info versions json / Remove some backport label usage (#234308)
  .github/workflows/on-merge.yml
  dev_docs/contributing/how_we_use_github.mdx
  renovate.json
Labels: backport

#237081 [9.1] [ML] [Anomaly Detection] Fixes job ID already exists validation in wizard (#236462)
  x-pack/platform/plugins/shared/ml/public/application/jobs/new_job/common/job_validator/validators.test.ts
  x-pack/platform/plugins/shared/ml/public/application/jobs/new_job/common/job_validator/validators.ts
Labels: backport

#237080 [9.0] [ML] [Anomaly Detection] Fixes job ID already exists validation in wizard (#236462)
  x-pack/platform/plugins/shared/ml/public/application/jobs/new_job/common/job_validator/validators.test.ts
  x-pack/platform/plugins/shared/ml/public/application/jobs/new_job/common/job_validator/validators.ts
Labels: backport

#237077 [8.18] [ML] [Anomaly Detection] Fixes job ID already exists validation in wizard (#236462)
  x-pack/platform/plugins/shared/ml/public/application/jobs/new_job/common/job_validator/validators.test.ts
  x-pack/platform/plugins/shared/ml/public/application/jobs/new_job/common/job_validator/validators.ts
Labels: backport

#237018 [8.19] [Lens][Table] Fix csv export column sort order (#236673)
  x-pack/platform/plugins/shared/lens/common/expressions/datatable/datatable_fn.test.ts
  x-pack/platform/plugins/shared/lens/common/expressions/datatable/datatable_fn.ts
Labels: backport

#237093 [9.1] [Security Solution] Remove `null` in confirmation dialog when bulk editing index patterns for rules. (#236572)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.ts
Labels: backport

#237099 [ES|QL] Cleanup in controls triggers
  src/platform/plugins/shared/esql/public/triggers/esql_controls/control_flyout/index.tsx
  src/platform/plugins/shared/esql/public/triggers/esql_controls/control_flyout/shared_form_components.tsx
  src/platform/plugins/shared/esql/public/triggers/esql_controls/control_flyout/value_control_form.tsx
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.2.0

#237096 [Streams] Update tab order in stream management
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_management/classic.tsx
Labels: release_note:skip, backport:skip

#236528 [FTR][Search] Fix skipped saved playground
  x-pack/solutions/search/plugins/search_playground/public/components/summarization_panel/summarization_model.tsx
  x-pack/solutions/search/test/functional_search/apps/search_playground/saved_playgrounds.ts
  x-pack/solutions/search/test/page_objects/search_playground_page.ts
  x-pack/solutions/search/test/serverless/functional/test_suites/search_playground/saved_playgrounds.ts
Labels: release_note:skip, backport:skip, ci:build-serverless-image

#237128 [Security Solution] skip failing Threat Hunting Investigations Cypress test
  x-pack/solutions/security/test/security_solution_cypress/cypress/e2e/investigations/alerts/alert_table_controls.cy.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, v8.19.5

#236308 feat: Implement timeout logic for step and workflow
  src/platform/packages/shared/kbn-workflows/graph/build_execution_graph/build_execution_graph.ts
  src/platform/packages/shared/kbn-workflows/graph/build_execution_graph/tests/timeout_zone_graph.test.ts
  src/platform/packages/shared/kbn-workflows/graph/index.ts
  src/platform/packages/shared/kbn-workflows/graph/types/guards.ts
  src/platform/packages/shared/kbn-workflows/graph/types/index.ts
  src/platform/packages/shared/kbn-workflows/graph/types/nodes/on_failure_nodes.ts
  src/platform/packages/shared/kbn-workflows/graph/types/nodes/union.ts
  src/platform/packages/shared/kbn-workflows/spec/schema.ts
  src/platform/packages/shared/kbn-workflows/types/v1.ts
  src/platform/plugins/shared/workflows_execution_engine/server/plugin.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/http_step/http_step_impl.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/http_step/http_step_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/node_implementation.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/nodes_factory.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/on_failure/continue_step/enter_continue_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/on_failure/fallback-step/README.md
  src/platform/plugins/shared/workflows_execution_engine/server/step/on_failure/fallback-step/enter_normal_path_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/on_failure/retry_step/enter_retry_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/index.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/step-level/enter_step_timeout_zone_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/step-level/exit_step_timeout_zone_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/step-level/tests/enter_step_timeout_zone_node_impl.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/step-level/tests/exit_step_timeout_zone_node_impl.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/workflow-level/enter_workflow_timeout_zone_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/workflow-level/exit_workflow_timeout_zone_node_impl.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/workflow-level/tests/enter_workflow_timeout_zone_node_impl.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/timeout_zone_step/workflow-level/tests/exit_workflow_timeout_zone_node_impl.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/wait_step/wait_step.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/step/wait_step/wait_step.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_context_manager/tests/workflow_context_manager.test.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_context_manager/workflow_context_manager.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_context_manager/workflow_execution_runtime_manager.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop/cancel_workflow_if_requested.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop/catch_error.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop/index.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop/run_node.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop/run_stack_monitor.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop/types.ts
  src/platform/plugins/shared/workflows_execution_engine/server/workflow_execution_loop/workflow_execution_loop.ts
  src/platform/plugins/shared/workflows_management/public/features/debug-graph/nodes/types.ts
  src/platform/plugins/shared/workflows_management/public/features/debug-graph/workflow_graph_layout.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/build_step_executions_tree.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/execution_detail.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_execution_detail.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_executions_stats/ui/workflow_executions_stats_bar.tsx
  src/platform/plugins/shared/workflows_management/public/shared/translations/status_translations.ts
  src/platform/plugins/shared/workflows_management/public/shared/ui/status_badge.tsx
Labels: release_note:skip, backport:skip, Team:One Workflow

#237105 [ResponseOps][Connectors] Webhook connector functional tests
  x-pack/platform/test/functional/services/actions/index.ts
  x-pack/platform/test/functional/services/actions/webhook.ts
  x-pack/platform/test/functional_with_es_ssl/apps/triggers_actions_ui/connectors/webhook.ts
Labels: release_note:skip, Team:ResponseOps, backport:version, v9.2.0

#236930 🌊 [Streams] Welcome card for first time users
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/index.tsx
Labels: release_note:skip, backport:skip, Feature:Streams, v9.2.0, Team:streams-program

#235433 [Cases] Enable auto-extract observables in alerts table
  src/platform/packages/shared/response-ops/alerts-table/components/alerts_table.tsx
  src/platform/packages/shared/response-ops/alerts-table/components/bulk_actions_toolbar_control.tsx
  src/platform/packages/shared/response-ops/alerts-table/hooks/use_bulk_actions.ts
  src/platform/packages/shared/response-ops/alerts-table/mocks/cases.mock.tsx
  src/platform/packages/shared/response-ops/alerts-table/reducers/bulk_actions_reducer.test.tsx
  src/platform/packages/shared/response-ops/alerts-table/types.ts
  x-pack/platform/plugins/shared/cases/public/client/helpers/get_observables_from_ecs.test.ts
  x-pack/platform/plugins/shared/cases/public/client/helpers/get_observables_from_ecs.ts
  x-pack/platform/plugins/shared/cases/tsconfig.json
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/alert_context_menu.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/timeline_actions/use_add_to_case_actions.tsx
  x-pack/solutions/security/plugins/security_solution/tsconfig.json
Labels: backport:skip, release_note:feature, Team:Cases, 9.2 candidate

#237113 [9.1] [Security Solution][Endpoint] Un-skip tests (#236456)
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/edr_workflows/artifacts/trial_license_complete_tier/trusted_apps.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/edr_workflows/spaces/trial_license_complete_tier/artifacts.ts
  x-pack/solutions/security/test/security_solution_endpoint/apps/integrations/artifact_entries_list.ts
Labels: backport

#237092 [9.0] [Security Solution] Remove `null` in confirmation dialog when bulk editing index patterns for rules. (#236572)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.ts
Labels: backport

#236740 [Controls] Fix controls error when restoring a Dashboard search session
  src/platform/plugins/shared/controls/public/control_group/components/control_panel.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_dashboard_api.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/types.ts
  src/platform/plugins/shared/dashboard/public/dashboard_app/url/search_sessions_integration.ts
Labels: bug, Feature:Input Control, Team:Presentation, loe:small, release_note:skip, impact:high, backport:version, v9.2.0

#236951 [ML] AI Connector/Inference endpoints creation UI: Adds icon for Contextual AI
  x-pack/platform/packages/shared/kbn-inference-endpoint-ui-common/src/components/providers/assets/images/contextual_ai_icon.svg
  x-pack/platform/packages/shared/kbn-inference-endpoint-ui-common/src/components/providers/render_service_provider/service_provider.tsx
  x-pack/platform/packages/shared/kbn-inference-endpoint-ui-common/src/constants.tsx
  x-pack/platform/plugins/private/telemetry_collection_xpack/schema/xpack_platform.json
  x-pack/platform/plugins/shared/stack_connectors/server/usage/inference/inference_connectors_usage_collector.ts
Labels: release_note:enhancement, :ml, backport:skip, Team:ML, Feature:Inference UI, v9.2.0

#236279 [Agent Builder] FTR UI tests for simple conversation
  .buildkite/ftr_platform_stateful_configs.yml
  .github/CODEOWNERS
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/agent_select_dropdown.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_input/conversation_input_form.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/round_response.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_rounds/round_thinking/round_thinking.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_sidebar/conversation_sections.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_sidebar/no_conversations_prompt.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/conversation_title.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/new_conversation_button.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/new_conversation_prompt.tsx
  x-pack/platform/test/onechat_functional/config.ts
  x-pack/platform/test/onechat_functional/tests/converse/simple_conversation.ts
  x-pack/platform/test/onechat_functional/tests/index.ts
  x-pack/platform/test/onechat_functional/utils/connector_helpers.ts
Labels: release_note:skip, backport:skip

#236866 [9.1] [AI Infra] Fix Security AI Assistant not calling tools correctly when consuming InferenceChatModel with OSS like Mistral (#236317)
  x-pack/platform/plugins/shared/inference/server/chat_complete/simulated_function_calling/parse_inline_function_calls.ts
Labels: backport

#237045 [8.19] Advanced option for orphaned agent remediation (#236917)
  x-pack/solutions/security/plugins/security_solution/public/management/pages/policy/models/advanced_policy_schema.ts
Labels: backport

#236144 [Cases] Allow to add additional fields to IBM resilient connector
  packages/kbn-optimizer/limits.yml
  src/platform/test/plugin_functional/test_suites/core_plugins/rendering.ts
  x-pack/platform/plugins/shared/actions/server/integration_tests/__snapshots__/connector_types.test.ts.snap
  x-pack/platform/plugins/shared/actions/server/sub_action_framework/executor.ts
  x-pack/platform/plugins/shared/cases/common/types/domain/connector/v1.ts
  x-pack/platform/plugins/shared/cases/common/ui/types.ts
  x-pack/platform/plugins/shared/cases/public/components/connectors/json_editor_field.test.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/json_editor_field.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/resilient/case_fields.test.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/resilient/case_fields.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/resilient/case_fields_preview.test.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/resilient/case_fields_preview.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/resilient/translations.ts
  x-pack/platform/plugins/shared/cases/public/components/connectors/servicenow/servicenow_itsm_case_fields.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/servicenow/servicenow_sir_case_fields.tsx
  x-pack/platform/plugins/shared/cases/public/components/connectors/servicenow/translations.ts
  x-pack/platform/plugins/shared/cases/public/components/connectors/servicenow/validate_json.test.ts
  x-pack/platform/plugins/shared/cases/public/components/connectors/servicenow/validate_json.ts
  x-pack/platform/plugins/shared/cases/public/components/connectors/translations.ts
  x-pack/platform/plugins/shared/cases/public/components/connectors/validate_json.test.ts
  x-pack/platform/plugins/shared/cases/public/components/connectors/validate_json.ts
  x-pack/platform/plugins/shared/cases/public/components/create/form_context.test.tsx
  x-pack/platform/plugins/shared/cases/public/components/edit_connector/connectors_form.test.tsx
  x-pack/platform/plugins/shared/cases/public/components/edit_connector/index.test.tsx
  x-pack/platform/plugins/shared/cases/server/client/cases/utils.test.ts
  x-pack/platform/plugins/shared/cases/server/config.test.ts
  x-pack/platform/plugins/shared/cases/server/config.ts
  x-pack/platform/plugins/shared/cases/server/connectors/resilient/format.test.ts
  x-pack/platform/plugins/shared/cases/server/connectors/resilient/format.ts
  x-pack/platform/plugins/shared/cases/server/index.ts
  x-pack/platform/plugins/shared/cases/server/mocks.ts
  x-pack/platform/plugins/shared/cases/server/plugin.test.ts
  x-pack/platform/plugins/shared/stack_connectors/public/common/config_service.ts
  x-pack/platform/plugins/shared/stack_connectors/public/connector_types/resilient/resilient_params.test.tsx
  x-pack/platform/plugins/shared/stack_connectors/public/connector_types/resilient/resilient_params.tsx
  x-pack/platform/plugins/shared/stack_connectors/public/connector_types/resilient/types.ts
  x-pack/platform/plugins/shared/stack_connectors/public/plugin.ts
  x-pack/platform/plugins/shared/stack_connectors/server/config.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/resilient/mocks.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/resilient/resilient.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/resilient/resilient.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/resilient/schema.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/resilient/types.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/resilient/utils.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/resilient/utils.ts
  x-pack/platform/plugins/shared/stack_connectors/server/index.ts
Labels: release_note:enhancement, backport:version, Team:Cases, v9.2.0

#237091 [8.19] [Security Solution] Remove `null` in confirmation dialog when bulk editing index patterns for rules. (#236572)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/logic/bulk_actions/translations.ts
Labels: backport

#237122 [9.0] [EDR Workflows] Improve CrowdStrike connector logic (#234868)
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/crowdstrike.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/crowdstrike.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/error.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/rtr_session_manager.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/rtr_session_manager.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/token_manager.test.ts
  x-pack/platform/plugins/shared/stack_connectors/server/connector_types/crowdstrike/token_manager.ts
Labels: backport

#237142 [9.1] [Input Vis Control] fix flaky test (#237088)
  src/platform/test/functional/apps/dashboard_elements/input_control_vis/input_control_options.ts
Labels: backport

#236484 [8.19] [Security Solution][Investigations] - Fix browser fields cache (#234381)
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/components/data_view_picker/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/hooks/use_browser_fields.ts
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/utils/build_browser_fields.test.ts
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/utils/build_browser_fields.ts
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/utils/security_browser_fields_manager.test.ts
  x-pack/solutions/security/plugins/security_solution/public/data_view_manager/utils/security_browser_fields_manager.ts
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/fields_browser/index.tsx
Labels: backport

#237161 [9.1] [CI] Fallback to GITHUB_PR_NUMBER, when BUILDKITE_PULL_REQUEST is false (#237034)
  .buildkite/scripts/steps/cloud/build_and_deploy.sh
  .buildkite/scripts/steps/serverless/deploy.sh
Labels: backport

#237164 [8.18] [CI] Fallback to GITHUB_PR_NUMBER, when BUILDKITE_PULL_REQUEST is false (#237034)
  .buildkite/scripts/steps/cloud/build_and_deploy.sh
  .buildkite/scripts/steps/serverless/deploy.sh
Labels: backport

#236989 [8.19] Handle upload and download of empty files passed to file service (#236729)
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/i18n_texts.ts
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/upload_state.test.ts
  src/platform/packages/shared/shared-ux/file/file_upload/impl/src/upload_state.ts
  src/platform/plugins/shared/files/server/routes/file_kind/download.ts
  x-pack/solutions/observability/test/serverless/functional/test_suites/cases/empty.txt
  x-pack/solutions/observability/test/serverless/functional/test_suites/cases/note.txt
  x-pack/solutions/observability/test/serverless/functional/test_suites/cases/view_case.ts
  x-pack/solutions/observability/test/serverless/functional/test_suites/screenshot_creation/response_ops_docs/cases/testfile.png
  x-pack/solutions/security/test/serverless/functional/test_suites/ftr/cases/empty.txt
  x-pack/solutions/security/test/serverless/functional/test_suites/ftr/cases/note.txt
  x-pack/solutions/security/test/serverless/functional/test_suites/ftr/cases/view_case.ts
  x-pack/solutions/security/test/serverless/functional/test_suites/screenshot_creation/response_ops_docs/cases/testfile.png
Labels: backport

#237129 [Entity Analytics][Privileged user monitoring] Discover privileged users from the Entity Analytics Okta integration
  x-pack/solutions/security/plugins/security_solution/common/experimental_features.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/data_sources/bulk/soft_delete.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/data_sources/data_sources_service.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/data_sources/sync/integrations/deletion_detection/deletion_detection.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/data_sources/sync/integrations/update_detection/privileged_status_update.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/entity_analytics/privilege_monitoring/engine/initialisation_service.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/entity_analytics/monitoring/trial_license_complete_tier/configs/ess.config.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/entity_analytics/monitoring/trial_license_complete_tier/configs/serverless.config.ts
Labels: backport:skip, release_note:feature, Team:Entity Analytics, v9.2.0

#237144 [9.1] [Scout] De-duplicate Scout Cases API tests
  src/platform/packages/shared/kbn-scout/test/scout/fixtures/constants.ts
  src/platform/packages/shared/kbn-scout/test/scout/tests/api_services/cases.spec.ts
Labels: release_note:skip, backport:skip

#237138 Small enhancements to the SO checks
  .buildkite/scripts/steps/check_saved_objects.sh
Labels: Team:Core, release_note:skip, backport:skip

#237115 [8.19] [Reporting] roll over the reporting data stream when the template has changed (#234119)
  .github/CODEOWNERS
  package.json
  src/platform/packages/private/kbn-reporting/server/constants.ts
  tsconfig.base.json
  x-pack/platform/plugins/private/reporting/server/lib/store/rollover.test.ts
  x-pack/platform/plugins/private/reporting/server/lib/store/rollover.ts
  x-pack/platform/plugins/private/reporting/server/lib/store/store.ts
  x-pack/platform/test/reporting_api_integration/plugins/reporting_test_routes/kibana.jsonc
  x-pack/platform/test/reporting_api_integration/plugins/reporting_test_routes/package.json
  x-pack/platform/test/reporting_api_integration/plugins/reporting_test_routes/server/index.ts
  x-pack/platform/test/reporting_api_integration/plugins/reporting_test_routes/server/plugin.ts
  x-pack/platform/test/reporting_api_integration/plugins/reporting_test_routes/server/routes.ts
  x-pack/platform/test/reporting_api_integration/plugins/reporting_test_routes/tsconfig.json
  x-pack/platform/test/reporting_api_integration/reporting_without_security.config.ts
  x-pack/platform/test/reporting_api_integration/reporting_without_security/index.ts
  x-pack/platform/test/reporting_api_integration/reporting_without_security/roll_datastream.ts
  x-pack/platform/test/tsconfig.json
  yarn.lock
Labels: backport

#236352 [Lens][ConfigBuilder] Fix ESQL configBuilder adhoc DataView creation
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/gauge.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/heatmap.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/metric.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/mock_utils.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/partition.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/region_map.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/table.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/tag_cloud.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/charts/xy.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/utils.test.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/utils.ts
Labels: Team:Visualizations, release_note:skip, backport:version, v9.2.0

#236958 Revert "[Observability] Page attachment type (#225295)"
  .github/CODEOWNERS
  package.json
  src/platform/test/plugin_functional/test_suites/core_plugins/rendering.ts
  tsconfig.base.json
  x-pack/platform/packages/shared/kbn-page-attachment-schema/README.md
  x-pack/platform/packages/shared/kbn-page-attachment-schema/index.ts
  x-pack/platform/packages/shared/kbn-page-attachment-schema/jest.config.js
  x-pack/platform/packages/shared/kbn-page-attachment-schema/kibana.jsonc
  x-pack/platform/packages/shared/kbn-page-attachment-schema/package.json
  x-pack/platform/packages/shared/kbn-page-attachment-schema/src/constants.ts
  x-pack/platform/packages/shared/kbn-page-attachment-schema/src/latest.ts
  x-pack/platform/packages/shared/kbn-page-attachment-schema/src/schema/latest.ts
  x-pack/platform/packages/shared/kbn-page-attachment-schema/src/schema/v1.ts
  x-pack/platform/packages/shared/kbn-page-attachment-schema/tsconfig.json
  x-pack/platform/plugins/shared/cases/common/types/domain/attachment/v1.ts
  x-pack/platform/plugins/shared/cases/kibana.jsonc
  x-pack/platform/plugins/shared/cases/public/index.tsx
  x-pack/platform/plugins/shared/cases/server/routes/api/internal/bulk_create_attachments.ts
  x-pack/platform/plugins/shared/cases/server/routes/api/utils.test.ts
  x-pack/platform/plugins/shared/cases/server/routes/api/utils.ts
  x-pack/platform/plugins/shared/cases/tsconfig.json
  x-pack/platform/plugins/shared/triggers_actions_ui/public/plugin.ts
  x-pack/solutions/observability/plugins/observability/public/attachments/page/attachment.test.tsx
  x-pack/solutions/observability/plugins/observability/public/attachments/page/attachment.tsx
  x-pack/solutions/observability/plugins/observability/public/attachments/page/attachment_children.test.tsx
  x-pack/solutions/observability/plugins/observability/public/attachments/page/attachment_children.tsx
  x-pack/solutions/observability/plugins/observability/public/attachments/page/go_to_action.test.tsx
  x-pack/solutions/observability/plugins/observability/public/attachments/page/go_to_action.tsx
  x-pack/solutions/observability/plugins/observability/public/attachments/page/translations.tsx
  x-pack/solutions/observability/plugins/observability/public/plugin.ts
  x-pack/solutions/observability/plugins/observability/server/plugin.ts
  x-pack/solutions/observability/plugins/observability/tsconfig.json
  x-pack/solutions/observability/plugins/observability_shared/common/config.ts
  x-pack/solutions/observability/plugins/observability_shared/kibana.jsonc
  x-pack/solutions/observability/plugins/observability_shared/public/index.ts
  x-pack/solutions/observability/plugins/observability_shared/public/plugin.ts
  x-pack/solutions/observability/plugins/observability_shared/server/config.ts
  x-pack/solutions/observability/plugins/observability_shared/server/index.ts
  x-pack/solutions/observability/plugins/observability_shared/server/plugin.ts
  x-pack/solutions/observability/plugins/observability_shared/tsconfig.json
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitor_details/actions.test.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitor_details/actions.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitor_details/add_to_case_action.test.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/components/monitor_details/add_to_case_action.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/contexts/synthetics_shared_context.tsx
  x-pack/solutions/observability/plugins/synthetics/public/apps/synthetics/hooks/use_monitor_detail_locator.ts
  x-pack/solutions/observability/plugins/synthetics/public/plugin.ts
  x-pack/solutions/observability/plugins/synthetics/tsconfig.json
  yarn.lock
Labels: release_note:fix, backport:skip, Team:obs-ux-management, author:obs-ux-management, v9.2.0

#236924 [8.19] [ML] [Anomaly Detection] Hide Show Forecast button on Job selection change in Single Metric Viewer (#236724)
  x-pack/platform/plugins/shared/ml/public/application/timeseriesexplorer/timeseriesexplorer.js
Labels: backport

#237044 [Security Solution][Endpoint] Un-skip console cypress tests
  x-pack/solutions/security/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/isolate.cy.ts
  x-pack/solutions/security/plugins/security_solution/public/management/cypress/e2e/response_actions/response_console/scan.cy.ts
Labels: release_note:skip, Team:Defend Workflows, backport:version, v9.2.0

#237135 [SideNav] `Indices, data streams and roll ups` -> `Indices and data streams`
  x-pack/solutions/observability/plugins/observability/public/navigation_tree.ts
  x-pack/solutions/search/plugins/enterprise_search/public/navigation_tree.ts
  x-pack/solutions/search/plugins/serverless_search/public/navigation_tree.ts
  x-pack/solutions/security/packages/navigation/src/i18n_strings.ts
  x-pack/solutions/security/plugins/security_solution_ess/public/navigation/v2_footer_items.ts
  x-pack/solutions/security/plugins/security_solution_serverless/public/navigation/ai_navigation/v2_ease_footer_items.ts
  x-pack/solutions/security/plugins/security_solution_serverless/public/navigation/v2_footer_items.ts
Labels: release_note:skip, Team:SharedUX, Team:obs-ux-management, backport:version, v9.2.0

#237132 [Discover Tabs] Background search fix
  src/platform/plugins/shared/data/public/search/session/mocks.ts
  src/platform/plugins/shared/data/public/search/session/session_service.ts
  src/platform/plugins/shared/discover/common/app_locator_get_location.ts
  src/platform/plugins/shared/discover/public/__mocks__/discover_state.mock.ts
  src/platform/plugins/shared/discover/public/application/main/components/chart/use_discover_histogram.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/layout/discover_documents.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/layout/discover_histogram_layout.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/layout/discover_layout.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/single_tab_view/single_tab_view.tsx
  src/platform/plugins/shared/discover/public/application/main/components/top_nav/use_top_nav_links.tsx
  src/platform/plugins/shared/discover/public/application/main/data_fetching/get_fetch_observable.ts
  src/platform/plugins/shared/discover/public/application/main/discover_main_route.tsx
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_app_state_container.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_data_state_container.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_saved_search_container.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_search_session.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_search_session.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_state.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_state.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/hooks/use_state_managers.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/actions/initialize_single_tab.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/actions/tabs.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/constants.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/index.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/internal_state.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/internal_state.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/runtime_state.tsx
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/tab_mapping_utils.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/types.ts
Labels: release_note:skip, Team:DataDiscovery, Project:OneDiscover, backport:version, v9.2.0

#237182 chore(NA): adds 9.2 into backportrc
  .backportrc.json
Labels: chore, Team:Operations, release_note:skip, backport:skip, v9.3.0

#237139 [ES|QL] Add lookup join edit interaction telemetry event
  packages/kbn-optimizer/limits.yml
  src/platform/packages/private/kbn-index-editor/src/components/data_grid.tsx
  src/platform/packages/private/kbn-index-editor/src/components/grid_custom_renderers/column_input_renderer.tsx
  src/platform/packages/private/kbn-index-editor/src/components/grid_custom_renderers/value_input_popover.tsx
  src/platform/packages/private/kbn-index-editor/src/hooks/use_add_column_name.tsx
  src/platform/packages/private/kbn-index-editor/src/index_update_service.ts
  src/platform/packages/private/kbn-index-editor/src/telemetry/events_registration.ts
  src/platform/packages/private/kbn-index-editor/src/telemetry/telemetry_service.ts
  src/platform/packages/private/kbn-index-editor/src/types.ts
Labels: release_note:skip, backport:skip, telemetry, Feature:ES|QL, Team:ESQL, v9.3.0

#237101 [9.1] Normalize resulting paths to unix paths after glob usage (#236044)
  src/core/packages/i18n/server-internal/src/get_translation_paths.ts
  src/platform/plugins/private/vis_types/timelion/server/lib/load_functions.js
  src/platform/plugins/shared/console/server/services/spec_definitions_service.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/content_loaders/security_labs_loader.ts
Labels: backport

#237159 Temporarily disable the telemetry PR review checks
  src/platform/packages/private/kbn-telemetry-tools/src/cli/run_telemetry_check.ts
Labels: release_note:skip, backport:skip

#237150 [Fleet] Add more metadata to full package policy package
  x-pack/platform/plugins/shared/fleet/common/types/models/agent_policy.ts
  x-pack/platform/plugins/shared/fleet/server/integration_tests/cloud_preconfiguration.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/package_policies_to_agent_inputs.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/agent_policies/package_policies_to_agent_inputs.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#237072 [ML] Improving trained models list performance
  x-pack/platform/plugins/shared/ml/server/models/model_management/models_provider.ts
Labels: release_note:fix, :ml, Feature:3rd Party Models, backport:version, v9.2.0, v8.19.5, v9.0.8, v9.1.5, v9.3.0

#237169 [dashboard] fixs controls cause double fetch
  src/platform/plugins/shared/dashboard/public/dashboard_api/control_group_manager.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_dashboard_api.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/types.ts
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.tsx
Labels: release_note:fix, Team:Presentation, backport:version, v9.2.0, v9.3.0, v8.19.9, v9.1.6, v8.18.9

#237329 [9.0] [ML] Improving trained models list performance (#237072)
  x-pack/platform/plugins/shared/ml/server/models/model_management/models_provider.ts
Labels: backport

#237328 [8.19] [ML] Improving trained models list performance (#237072)
  x-pack/platform/plugins/shared/ml/server/models/model_management/models_provider.ts
Labels: backport

#237344 [8.19] [Security Solution] Add telemetry for upgrading rule using single UPDATE button (#236893)
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/index.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_upgrade_prebuilt_rules_table_columns.tsx
Labels: backport

#237347 [9.1] [Security Solution] Add telemetry for upgrading rule using single UPDATE button (#236893)
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/index.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_upgrade_prebuilt_rules_table_columns.tsx
Labels: backport

#237361 [One Workflow] Fix refetch on window focus
  src/platform/plugins/shared/workflows_management/public/entities/workflows/model/use_workflow_detail.ts
Labels: release_note:skip, backport:version, v9.2.0, Team:One Workflow, v9.3.0

#237343 [8.18] [Security Solution] Add telemetry for upgrading rule using single UPDATE button (#236893)
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/index.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_upgrade_prebuilt_rules_table_columns.tsx
Labels: backport

#237364 [9.1] [dashboard] fixs controls cause double fetch (#237169)
  src/platform/plugins/shared/dashboard/public/dashboard_api/control_group_manager.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_dashboard_api.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/types.ts
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.tsx
Labels: backport

#237365 [8.19] [dashboard] fixs controls cause double fetch (#237169)
  src/platform/plugins/shared/dashboard/public/dashboard_api/control_group_manager.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_dashboard_api.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/types.ts
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.tsx
Labels: backport

#236676 Revert to ELU mean until observation window is full
  src/core/packages/metrics/server-internal/src/exponential_moving_average.test.ts
  src/core/packages/metrics/server-internal/src/exponential_moving_average.ts
  src/core/packages/metrics/server-internal/src/metrics_service.test.ts
Labels: Team:Core, release_note:skip, backport:skip, ci:build-serverless-image, ci:project-deploy-observability, ci:project-persist-deployment

#237366 [8.18] [dashboard] fixs controls cause double fetch (#237169)
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_dashboard_api.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/types.ts
  src/platform/plugins/shared/dashboard/public/dashboard_container/component/viewport/dashboard_viewport.tsx
Labels: backport

#236827 MD template for connector docs
  docs/action-type-template.md
  docs/docset.yml
Labels: Team:Docs, release_note:skip, backport:skip, docs

#237311 [9.2] [Discover Tabs] Background search fix (#237132)
  src/platform/plugins/shared/data/public/search/session/mocks.ts
  src/platform/plugins/shared/data/public/search/session/session_service.ts
  src/platform/plugins/shared/discover/common/app_locator_get_location.ts
  src/platform/plugins/shared/discover/public/__mocks__/discover_state.mock.ts
  src/platform/plugins/shared/discover/public/application/main/components/chart/use_discover_histogram.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/layout/discover_documents.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/layout/discover_histogram_layout.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/layout/discover_layout.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/single_tab_view/single_tab_view.tsx
  src/platform/plugins/shared/discover/public/application/main/components/top_nav/use_top_nav_links.tsx
  src/platform/plugins/shared/discover/public/application/main/data_fetching/get_fetch_observable.ts
  src/platform/plugins/shared/discover/public/application/main/discover_main_route.tsx
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_app_state_container.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_data_state_container.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_saved_search_container.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_search_session.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_search_session.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_state.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/discover_state.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/hooks/use_state_managers.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/actions/initialize_single_tab.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/actions/tabs.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/constants.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/index.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/internal_state.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/internal_state.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/runtime_state.tsx
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/tab_mapping_utils.test.ts
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/types.ts
Labels: backport

#237157 [Security Solution][Endpoint] Fix Fleet package policy post-delete callback when endpoint package is not installed
  x-pack/solutions/security/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/fleet/endpoint_fleet_services_factory.mocks.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/fleet/endpoint_fleet_services_factory.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/fleet/endpoint_fleet_services_factory.ts
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/fleet_integration.ts
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/handlers/update_deleted_policy_response_actions.ts
Labels: release_note:skip, Team:Defend Workflows, backport:version, v9.1.0, v9.2.0

#237383 [a11y] Add missing aria-label to button in content connectors
  x-pack/platform/plugins/shared/content_connectors/public/components/connector_detail/components/generated_config_fields.tsx
  x-pack/solutions/search/plugins/enterprise_search/public/applications/enterprise_search_content/components/connector_detail/components/generated_config_fields.tsx
Labels: release_note:skip, backport:version, v9.2.0, v9.3.0

#237368 [9.2] [Discover] Unskip reporting test (#237298)
  x-pack/platform/test/functional/apps/discover/group1/reporting.ts
  x-pack/platform/test/serverless/functional/test_suites/discover/x_pack/reporting.ts
Labels: backport

#237346 [9.2] [Discover] Address flaky esql test (#237294)
  src/platform/test/functional/apps/discover/esql/_esql_view.ts
  x-pack/platform/test/serverless/functional/test_suites/discover/esql/_esql_view.ts
Labels: backport

#237387 [9.2] [Security Solution][Endpoint] Fix Fleet package policy post-delete callback when endpoint package is not installed (#237157)
  x-pack/solutions/security/plugins/security_solution/server/endpoint/endpoint_app_context_services.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/fleet/endpoint_fleet_services_factory.mocks.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/fleet/endpoint_fleet_services_factory.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/fleet/endpoint_fleet_services_factory.ts
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/fleet_integration.test.ts
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/fleet_integration.ts
  x-pack/solutions/security/plugins/security_solution/server/fleet_integration/handlers/update_deleted_policy_response_actions.ts
Labels: backport

#237352 [9.1] Fixes Failing test: X-Pack Alerting API Integration Tests - Alerting - group4.x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/circuit_breaker/index_threshold_max_alerts·ts - Alerting builtin alertTypes circuit_breakers index threshold rule that hits max alerts circuit breaker persist existing alerts to next execution if circuit breaker is hit (#237025)
  x-pack/platform/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/circuit_breaker/index.ts
  x-pack/platform/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/index.ts
  x-pack/platform/test/alerting_api_integration/spaces_only/tests/alerting/group4/builtin_alert_types/index_threshold_max_alerts.ts
Labels: backport

#236927 [ResponseOps][Rules] Prevent internally managed rule types to be deleted/cloned from the APIs
  x-pack/platform/plugins/shared/alerting/server/routes/rule/apis/clone/clone_rule_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/rule/apis/clone/clone_rule_route.ts
  x-pack/platform/plugins/shared/alerting/server/routes/rule/apis/delete/delete_rule_route.test.ts
  x-pack/platform/plugins/shared/alerting/server/routes/rule/apis/delete/delete_rule_route.ts
  x-pack/platform/test/alerting_api_integration/common/lib/rules.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group2/tests/alerting/update.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group3/tests/alerting/bulk_edit.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group3/tests/alerting/clone.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group4/tests/alerting/snooze.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group4/tests/alerting/snooze_internal.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group4/tests/alerting/unsnooze.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group4/tests/alerting/unsnooze_internal.ts
  x-pack/platform/test/alerting_api_integration/security_and_spaces/group5/tests/alerting/delete.ts
  x-pack/platform/test/api_integration_deployment_agnostic/apis/streams/queries.ts
  x-pack/platform/test/api_integration_deployment_agnostic/apis/streams/significant_events.ts
  x-pack/platform/test/api_integration_deployment_agnostic/services/alerting_api.ts
  x-pack/platform/test/rule_registry/security_and_spaces/tests/basic/search_strategy.ts
Labels: bug, release_note:skip, Team:ResponseOps, backport:version, v9.2.0, v9.3.0

#237292 [9.0][Fleet] Re-enable inputs_with_standalone_docker_agent test (#237137)
  x-pack/test/fleet_api_integration/apis/integrations/inputs_with_standalone_docker_agent.ts
Labels: backport, release_note:skip, Team:Fleet

#237345 [9.0] [Security Solution] Add telemetry for upgrading rule using single UPDATE button (#236893)
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/index.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/telemetry/events/rule_upgrade/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rules_table/upgrade_prebuilt_rules_table/use_upgrade_prebuilt_rules_table_columns.tsx
Labels: backport

#237391 [8.19] [Security Solution] [AI Assistant] Update LLM connector selector component (#236811)
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable.test.tsx
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable.tsx
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable_component.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/connectors/get_available_connectors.test.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/connectors/get_available_connectors.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/tsconfig.json
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/index.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/use_optimistic_selection.test.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/use_optimistic_selection.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector_inline/connector_selector_inline.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector_inline/connector_selector_inline.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/use_load_connectors/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/tsconfig.json
  x-pack/solutions/security/packages/connectors/src/connector_selector.test.tsx
  x-pack/solutions/security/packages/connectors/src/connector_selector.tsx
  x-pack/solutions/security/packages/connectors/tsconfig.json
  x-pack/solutions/security/plugins/security_solution/public/common/hooks/use_ai_connectors.ts
  x-pack/solutions/security/plugins/security_solution/public/common/utils/connectors/ai_connectors.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/utils/connectors/ai_connectors.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/assistant_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_cards.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_selector_panel.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_selector_panel.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/siem_migrations/ai_connector/ai_connector_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/siem_migrations/ai_connector/connectors_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/siem_migrations/rules/components/rules_table/start_rule_migration_modal/start_rule_migration_modal.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/siem_migrations/rules/components/rules_table/start_rule_migration_modal/start_rule_migration_modal.tsx
  x-pack/solutions/security/test/security_solution_cypress/cypress/e2e/ai_assistant/prompts.cy.ts
  x-pack/solutions/security/test/security_solution_cypress/cypress/tasks/api_calls/connectors.ts
  x-pack/solutions/security/test/security_solution_cypress/cypress/tasks/assistant.ts
Labels: backport

#237338 [9.1] [Security Solution] [AI Assistant] Update LLM connector selector component (#236811)
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable.test.tsx
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable.tsx
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable_component.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/connectors/get_available_connectors.test.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/connectors/get_available_connectors.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/tsconfig.json
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/index.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/use_optimistic_selection.test.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/use_optimistic_selection.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector_inline/connector_selector_inline.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector_inline/connector_selector_inline.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/use_load_connectors/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/tsconfig.json
  x-pack/solutions/security/packages/connectors/src/connector_selector.test.tsx
  x-pack/solutions/security/packages/connectors/src/connector_selector.tsx
  x-pack/solutions/security/packages/connectors/tsconfig.json
  x-pack/solutions/security/plugins/security_solution/public/common/hooks/use_ai_connectors.ts
  x-pack/solutions/security/plugins/security_solution/public/common/utils/connectors/ai_connectors.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/utils/connectors/ai_connectors.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/assistant_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_cards.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_selector_panel.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_selector_panel.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/siem_migrations/ai_connector/ai_connector_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/siem_migrations/ai_connector/connectors_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/siem_migrations/rules/components/rules_table/start_rule_migration_modal/start_rule_migration_modal.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/siem_migrations/rules/components/rules_table/start_rule_migration_modal/start_rule_migration_modal.tsx
  x-pack/solutions/security/test/security_solution_cypress/cypress/e2e/ai_assistant/prompts.cy.ts
  x-pack/solutions/security/test/security_solution_cypress/cypress/tasks/api_calls/connectors.ts
  x-pack/solutions/security/test/security_solution_cypress/cypress/tasks/assistant.ts
Labels: backport

#236977 [Discover Tabs] Fix the missing tabId in URL after saving a discover session
  src/platform/plugins/shared/discover/public/application/main/components/top_nav/save_discover_session/on_save_discover_session.test.tsx
  src/platform/plugins/shared/discover/public/application/main/components/top_nav/save_discover_session/on_save_discover_session.tsx
  src/platform/plugins/shared/discover/public/application/main/state_management/redux/actions/save_discover_session.ts
Labels: release_note:skip, Team:DataDiscovery, Project:OneDiscover, backport:version, v9.2.0

#237310 [9.2] [Security Solution] [AI Assistant] Update LLM connector selector component (#236811)
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable.test.tsx
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable.tsx
  x-pack/platform/packages/shared/ai-assistant/ai-assistant-connector-selector-action/connector_selectable_component.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/connectors/get_available_connectors.test.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/connectors/get_available_connectors.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/tsconfig.json
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/index.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/use_optimistic_selection.test.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector/use_optimistic_selection.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector_inline/connector_selector_inline.test.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/connector_selector_inline/connector_selector_inline.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/impl/connectorland/use_load_connectors/index.tsx
  x-pack/platform/packages/shared/kbn-elastic-assistant/tsconfig.json
  x-pack/solutions/security/packages/connectors/src/connector_selector.test.tsx
  x-pack/solutions/security/packages/connectors/src/connector_selector.tsx
  x-pack/solutions/security/packages/connectors/tsconfig.json
  x-pack/solutions/security/plugins/security_solution/public/common/hooks/use_ai_connectors.ts
  x-pack/solutions/security/plugins/security_solution/public/common/utils/connectors/ai_connectors.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/utils/connectors/ai_connectors.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/assistant_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_cards.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_selector_panel.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/connectors/connector_selector_panel.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/siem_migrations/ai_connector/ai_connector_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/siem_migrations/ai_connector/connectors_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/siem_migrations/common/components/start_migration_modal/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/siem_migrations/common/components/start_migration_modal/index.tsx
  x-pack/solutions/security/test/security_solution_cypress/cypress/e2e/ai_assistant/prompts.cy.ts
  x-pack/solutions/security/test/security_solution_cypress/cypress/tasks/api_calls/connectors.ts
  x-pack/solutions/security/test/security_solution_cypress/cypress/tasks/assistant.ts
Labels: backport

#237419 [Scout] Add AI prompt to generate a Scout boilerplate test from existing FTR test
  src/platform/packages/private/kbn-scout-info/llms/README.md
  src/platform/packages/private/kbn-scout-info/llms/generate-scout-skeleton-from-ftr-test.md
  src/platform/packages/private/kbn-scout-info/llms/what-is-scout.md
  src/platform/packages/shared/kbn-scout/README.md
Labels: release_note:skip, backport:skip, test:scout

#237273 [Agent Builder] index explorer - return early when a single resource matches
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/index_explorer.ts
Labels: release_note:skip, backport:version, v9.2.0, v9.3.0

#236909 [Streams] processing description: remove double quoting for values
  x-pack/platform/plugins/shared/ingest_pipelines/public/application/components/pipeline_editor/__jest__/pipeline_processors_editor.test.tsx
  x-pack/platform/plugins/shared/ingest_pipelines/public/application/components/pipeline_editor/components/shared/map_processor_type_to_form.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/steps/blocks/action/utils.ts
Labels: release_note:skip, backport:skip, v9.2.0

#237098 [ObsUX][Infra&Services]Update feedback forms to pass consistent query-string params and use short URLs
  x-pack/solutions/observability/plugins/infra/public/components/asset_details/tabs/anomalies/anomalies.tsx
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/index.tsx
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/components/survey_kubernetes.tsx
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/components/survey_section.tsx
  x-pack/solutions/observability/plugins/observability_shared/public/components/feature_feedback_button/feature_feedback_button.test.ts
  x-pack/solutions/observability/plugins/observability_shared/public/components/feature_feedback_button/feature_feedback_button.tsx
Labels: release_note:skip, Team:obs-ux-infra_services, backport:version, v9.2.0, v9.0.8, v8.19.9, v9.1.6, v8.18.9

#236758 [streams] maintain ai suggested partitions via xstate
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/control_bars.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/preview_panel.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/create_stream_confirmation_modal.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/review_suggestions_form.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/suggested_stream_panel.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/use_fork_stream.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/use_review_suggestions_form.test.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/use_review_suggestions_form.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/state_management/stream_routing_state_machine/stream_routing_state_machine.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/state_management/stream_routing_state_machine/types.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/state_management/stream_routing_state_machine/use_stream_routing.tsx
Labels: bug, release_note:skip, Team:obs-ux-logs, backport:version, Feature:Streams, v9.2.0, v9.3.0

#237131 [One Workflow] Resizable editor and sidebars layout
  .github/CODEOWNERS
  examples/workflows/.eslintrc.js
  examples/workflows/.gitignore
  examples/workflows/.i18nrc.json
  examples/workflows/README.md
  examples/workflows/common/index.ts
  examples/workflows/kibana.jsonc
  examples/workflows/package.json
  examples/workflows/public/application.tsx
  examples/workflows/public/components/app.tsx
  examples/workflows/public/index.ts
  examples/workflows/public/plugin.ts
  examples/workflows/public/types.ts
  examples/workflows/server/index.ts
  examples/workflows/server/plugin.ts
  examples/workflows/server/types.ts
  examples/workflows/translations/ja-JP.json
  examples/workflows/tsconfig.json
  package.json
  src/platform/packages/shared/kbn-resizable-layout/index.ts
  src/platform/packages/shared/kbn-resizable-layout/src/panels_resizable.test.tsx
  src/platform/packages/shared/kbn-resizable-layout/src/panels_resizable.tsx
  src/platform/packages/shared/kbn-resizable-layout/src/resizable_layout.tsx
  src/platform/packages/shared/kbn-resizable-layout/types.ts
  src/platform/plugins/shared/workflows_management/public/entities/workflows/model/use_workflow_execution.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/lib/execution_status.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/cancel_execution_button.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/execution_detail.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/hooks/use_workflow_execution_polling.test.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/hooks/use_workflow_execution_polling.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/step_execution_data_view.stories.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/step_execution_data_view.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_execution.lazy.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_execution_detail.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_execution_list.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_step_execution_details.stories.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_step_execution_details.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_step_execution_flyout.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_step_execution_tree.stories.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_detail/ui/workflow_step_execution_tree.tsx
  src/platform/plugins/shared/workflows_management/public/features/workflow_execution_list/ui/workflow_execution_list_item.tsx
  src/platform/plugins/shared/workflows_management/public/index.ts
  src/platform/plugins/shared/workflows_management/public/pages/workflow_detail/ui/workflow_detail_layout.tsx
  src/platform/plugins/shared/workflows_management/public/pages/workflow_detail/ui/workflow_detail_page.tsx
  src/platform/plugins/shared/workflows_management/public/pages/workflow_detail/ui/workflow_editor.tsx
  src/platform/plugins/shared/workflows_management/public/shared/ui/json_data_view/json_data_view.tsx
  src/platform/plugins/shared/workflows_management/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: release_note:skip, backport:skip, Team:One Workflow, v9.3.0

#237356 [9.2] [dashboard] fixs controls cause double fetch (#237169)
  src/platform/plugins/shared/dashboard/public/dashboard_api/control_group_manager.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_dashboard_api.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/types.ts
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.test.tsx
  src/platform/plugins/shared/dashboard/public/dashboard_renderer/viewport/dashboard_viewport.tsx
Labels: backport

#237289 [ES|QL] Add query this index click telemetry event
  src/platform/packages/private/kbn-index-editor/src/components/query_bar.tsx
  src/platform/packages/private/kbn-index-editor/src/telemetry/events_registration.ts
  src/platform/packages/private/kbn-index-editor/src/telemetry/telemetry_service.ts
Labels: release_note:skip, backport:skip, telemetry, Feature:ES|QL, Team:ESQL, v9.3.0

#237429 [9.2] [Agent Builder] index explorer - return early when a single resource matches (#237273)
  x-pack/platform/packages/shared/onechat/onechat-genai-utils/tools/index_explorer.ts
Labels: backport

#237439 [9.2] [streams] maintain ai suggested partitions via xstate (#236758)
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/control_bars.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/preview_panel.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/create_stream_confirmation_modal.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/review_suggestions_form.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/suggested_stream_panel.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/use_fork_stream.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/use_review_suggestions_form.test.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/review_suggestions_form/use_review_suggestions_form.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/state_management/stream_routing_state_machine/stream_routing_state_machine.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/state_management/stream_routing_state_machine/types.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_routing/state_management/stream_routing_state_machine/use_stream_routing.tsx
Labels: backport

#237446 [9.2] [Streams] processing description: remove double quoting for values (#236909)
  x-pack/platform/plugins/shared/ingest_pipelines/public/application/components/pipeline_editor/__jest__/pipeline_processors_editor.test.tsx
  x-pack/platform/plugins/shared/ingest_pipelines/public/application/components/pipeline_editor/components/shared/map_processor_type_to_form.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/steps/blocks/action/utils.ts
Labels: backport

#237448 [8.18] [ObsUX][Infra&Services]Update feedback forms to pass consistent query-string params and use short URLs (#237098)
  x-pack/solutions/observability/plugins/infra/public/components/asset_details/tabs/anomalies/anomalies.tsx
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/components/survey_kubernetes.tsx
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/components/survey_section.tsx
  x-pack/solutions/observability/plugins/observability_shared/public/components/feature_feedback_button/feature_feedback_button.test.ts
  x-pack/solutions/observability/plugins/observability_shared/public/components/feature_feedback_button/feature_feedback_button.tsx
Labels: backport

#237421 [ES|QL] Return one empty array when user drops all columns
  src/platform/packages/shared/kbn-esql-utils/src/utils/run_query.ts
  src/platform/plugins/shared/data/common/search/expressions/esql.ts
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.3.0

#237363 [Agent Builder] Tech preview badges
  x-pack/platform/plugins/shared/onechat/public/application/components/agents/list/agents.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/common/tech_preview.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/common/welcome_text.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/conversations/new_conversation_prompt.tsx
  x-pack/platform/plugins/shared/onechat/public/application/components/tools/tools.tsx
  x-pack/solutions/search/plugins/enterprise_search/public/navigation_tree.ts
  x-pack/solutions/search/plugins/serverless_search/public/navigation_tree.ts
Labels: release_note:skip, backport:version, v9.2.0, v9.3.0

#236953 [8.19] [Data Views] Fix detail page header not being full width (#236441)
  src/platform/plugins/shared/data_view_management/public/components/edit_index_pattern/edit_index_pattern.tsx
  src/platform/plugins/shared/data_view_management/public/components/edit_index_pattern/index_header/index_header.tsx
Labels: backport

#237134 [One Workflow] fix: warning instead of error if the foreach item is unknown string
  src/platform/plugins/shared/workflows_management/common/lib/zod/zod_utils.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/collect_all_step_names.test.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/collect_all_step_names.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/collect_all_variables.test.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/collect_all_variables.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/use_yaml_validation.test.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/use_yaml_validation.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/validate_step_name_uniqueness.test.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/validate_step_name_uniqueness.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/validate_variable.test.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/validate_variable.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/validate_variables.test.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/lib/validate_variables.ts
  src/platform/plugins/shared/workflows_management/public/features/validate_workflow_yaml/model/types.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_context/lib/get_context_for_path.test.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_context/lib/get_foreach_state_schema.test.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_context/lib/get_foreach_state_schema.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_context/lib/get_steps_collection_schema.test.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_context/lib/get_steps_collection_schema.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_context/lib/get_workflow_context_schema.test.ts
  src/platform/plugins/shared/workflows_management/public/features/workflow_context/lib/get_workflow_context_schema.ts
  src/platform/plugins/shared/workflows_management/public/widgets/workflow_yaml_editor/lib/get_completion_item_provider.test.ts
  src/platform/plugins/shared/workflows_management/public/widgets/workflow_yaml_editor/lib/use_yaml_validation.ts
  src/platform/plugins/shared/workflows_management/public/widgets/workflow_yaml_editor/lib/utils.ts
  src/platform/plugins/shared/workflows_management/public/widgets/workflow_yaml_editor/model/types.ts
  src/platform/plugins/shared/workflows_management/public/widgets/workflow_yaml_editor/ui/workflow_yaml_editor.test.tsx
  src/platform/plugins/shared/workflows_management/public/widgets/workflow_yaml_editor/ui/workflow_yaml_editor.tsx
  src/platform/plugins/shared/workflows_management/public/widgets/workflow_yaml_editor/ui/workflow_yaml_validation_errors.tsx
Labels: release_note:skip, backport:skip, Team:One Workflow

#237233 [EDR Workflows] Add tests for cancel action command definition
  x-pack/solutions/security/plugins/security_solution/public/management/components/endpoint_responder/lib/integration_tests/console_commands_definition.test.tsx
Labels: release_note:skip, Team:Defend Workflows, backport:version, v9.2.0, v9.3.0

#237488 [9.2] [ObsUX][Infra] Remove 'ecs' from schema selector if APM-only hosts are available (#237440)
  x-pack/solutions/observability/plugins/infra/common/metrics_sources/get_has_data.ts
  x-pack/solutions/observability/plugins/infra/public/hooks/use_time_range_metadata.ts
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/providers/inventory_timerange_metadata_provider.tsx
  x-pack/solutions/observability/plugins/infra/server/routes/metrics_sources/index.ts
Labels: backport

#236957 [8.18] [Data Views] Fix detail page header not being full width (#236441)
  src/platform/plugins/shared/data_view_management/public/components/edit_index_pattern/edit_index_pattern.tsx
  src/platform/plugins/shared/data_view_management/public/components/edit_index_pattern/index_header/index_header.tsx
Labels: backport

#237515 [9.2] [ci] Bump minimum diskSizeGB to 100 (#237513)
  .buildkite/pipeline-utils/ci-stats/pick_test_group_run_order.ts
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/pipelines/pull_request/pick_test_groups.yml
  .buildkite/pipelines/pull_request/prompt_changes.yml
Labels: backport

#237520 [9.1][ci] Bump minimum diskSizeGB to 100 (#237513)
  .buildkite/pipeline-utils/ci-stats/pick_test_group_run_order.ts
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/base.yml
  .buildkite/pipelines/pull_request/pick_test_groups.yml
Labels: backport

#237517 [9.0][ci] Bump minimum diskSizeGB to 100 (#237513)
  .buildkite/pipeline-utils/ci-stats/pick_test_group_run_order.ts
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/base.yml
Labels: backport

#237519 [8.18][ci] Bump minimum diskSizeGB to 100 (#237513)
  .buildkite/pipeline-utils/ci-stats/pick_test_group_run_order.ts
  .buildkite/pipelines/on_merge.yml
  .buildkite/pipelines/pull_request/base.yml
Labels: backport

#237180 Add chunk rescorer to Kibana Autocomplete
  src/platform/plugins/shared/console/server/lib/spec_definitions/js/mappings.ts
  src/platform/plugins/shared/console/server/lib/spec_definitions/js/retriever.ts
  src/platform/plugins/shared/console/server/lib/spec_definitions/js/shared.ts
Labels: release_note:skip, backport:version, 9.2 candidate

#237483 [9.1] [Obs AI Assistant] Update tooltip behaviour to close on mouse out (#237202)
  x-pack/solutions/observability/plugins/observability_ai_assistant_app/public/components/nav_control/index.tsx
Labels: backport, ci:project-deploy-observability

#237398 [Docs] Add 9.0.8 release notes
  docs/release-notes/index.md
Labels: Team:Docs, release_note:skip, backport:version, v9.2.0

#237436 [Entity Analytics][Privmon] Enable privileged user monitoring advanced setting by default
  x-pack/solutions/security/plugins/security_solution/server/ui_settings.ts
Labels: release_note:enhancement, Team:Entity Analytics, backport:version, v9.2.0

#237529 [9.2] [Docs] Add 9.0.8 release notes (#237398)
  docs/release-notes/index.md
Labels: backport

#234793 [Security Solution] Adds `customized_fields` and `has_base_version` fields to `rule_source` object schema
  oas_docs/output/kibana.serverless.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/model/rule_schema/common_attributes.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/model/rule_schema/common_attributes.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_response_schema.test.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/rule_management/import_rules/rule_to_import.test.ts
  x-pack/solutions/security/plugins/security_solution/docs/openapi/ess/security_solution_detections_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/openapi/serverless/security_solution_detections_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/testing/test_plans/detection_response/prebuilt_rules/prebuilt_rule_customization.md
  x-pack/solutions/security/plugins/security_solution/docs/testing/test_plans/detection_response/prebuilt_rules/prebuilt_rule_import.md
  x-pack/solutions/security/plugins/security_solution/docs/testing/test_plans/detection_response/prebuilt_rules/prebuilt_rule_revert_customization.md
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/components/rule_details/json_diff/json_diff.test.tsx
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/constants.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/actions/duplicate_rule.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/bulk_actions/bulk_edit_rules.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/common_params_camel_to_snake.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/common_params_camel_to_snake.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/convert_prebuilt_rule_asset_to_rule_response.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/internal_rule_to_api_response.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_fields_common.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_fields_common.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_params.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_params.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_source.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/detection_rules_client.import_rule.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/apply_rule_defaults.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_external_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_is_customized.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_rule_source.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/create_default_external_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/create_default_internal_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_by_object_ids.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/calculate_rule_source_for_import.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/calculate_rule_source_for_import.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_schema/model/rule_schemas.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/filterlists/index.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/filterlists/prebuilt_rules_alerts.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/helpers.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/tasks/prebuilt_rule_alerts.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/types.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/export_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_multiple_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_outdated_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_single_prebuilt_rule.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_installing_package.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_missing_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_missing_fields.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/revert_prebuilt_rules/get_prebuilt_rule_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/revert_prebuilt_rules/revert_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/customize_via_bulk_editing.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/detect_customization_with_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/detect_customization_without_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/unaffected_fields.ts
Labels: release_note:enhancement, Team:Detections and Resp, Team: SecuritySolution, Team:Detection Rule Management, Feature:Prebuilt Detection Rules, backport:version, v9.2.0, v9.3.0, v9.1.6

#236809 [dashboards as code] replace kibanaSavedObjectMeta with query and filter
  src/platform/plugins/shared/dashboard/common/types.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_serialized_state.test.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/get_serialized_state.ts
  src/platform/plugins/shared/dashboard/public/services/dashboard_content_management_service/lib/load_dashboard_state.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/schema/common.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transform_utils.test.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/in/transform_dashboard_in.test.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/in/transform_dashboard_in.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/in/transform_search_source_in.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/out/transform_dashboard_out.test.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/out/transform_dashboard_out.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/out/transform_search_source_out.test.ts
  src/platform/plugins/shared/dashboard/server/content_management/v1/transforms/out/transform_search_source_out.ts
  src/platform/test/api_integration/apis/dashboards/create_dashboard/main.ts
  x-pack/platform/plugins/shared/ml/public/application/components/custom_urls/custom_url_editor/utils.ts
  x-pack/platform/test/api_integration/apis/content_management/helpers.ts
  x-pack/platform/test/api_integration/apis/spaces/get_content_summary.ts
Labels: Team:Presentation, release_note:skip, backport:skip, Project:Dashboards API, v9.3.0

#237514 [8.19] [Obs AI Assistant] Update tooltip behaviour to close on mouse out (#237202)
  x-pack/solutions/observability/plugins/observability_ai_assistant_app/public/components/nav_control/index.tsx
Labels: backport

#237537 [9.2] [Security Solution] Adds `customized_fields` and `has_base_version` fields to `rule_source` object schema (#234793)
  oas_docs/output/kibana.serverless.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/model/rule_schema/common_attributes.gen.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/model/rule_schema/common_attributes.schema.yaml
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/model/rule_schema/rule_response_schema.test.ts
  x-pack/solutions/security/plugins/security_solution/common/api/detection_engine/rule_management/import_rules/rule_to_import.test.ts
  x-pack/solutions/security/plugins/security_solution/docs/openapi/ess/security_solution_detections_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/openapi/serverless/security_solution_detections_api_2023_10_31.bundled.schema.yaml
  x-pack/solutions/security/plugins/security_solution/docs/testing/test_plans/detection_response/prebuilt_rules/prebuilt_rule_customization.md
  x-pack/solutions/security/plugins/security_solution/docs/testing/test_plans/detection_response/prebuilt_rules/prebuilt_rule_import.md
  x-pack/solutions/security/plugins/security_solution/docs/testing/test_plans/detection_response/prebuilt_rules/prebuilt_rule_revert_customization.md
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/components/rule_details/json_diff/json_diff.test.tsx
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/constants.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/actions/duplicate_rule.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/bulk_actions/bulk_edit_rules.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/common_params_camel_to_snake.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/common_params_camel_to_snake.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/convert_prebuilt_rule_asset_to_rule_response.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/internal_rule_to_api_response.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_fields_common.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_fields_common.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_params.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_params.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_source.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/converters/normalize_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/detection_rules_client.import_rule.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/apply_rule_defaults.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_external_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_is_customized.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_rule_source.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/calculate_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/create_default_external_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/mergers/rule_source/create_default_internal_rule_source.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/export/get_export_by_object_ids.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/calculate_rule_source_for_import.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/import/calculate_rule_source_for_import.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_schema/model/rule_schemas.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/filterlists/index.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/filterlists/prebuilt_rules_alerts.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/helpers.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/helpers.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/tasks/prebuilt_rule_alerts.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/telemetry/types.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/export_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_multiple_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_outdated_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_single_prebuilt_rule.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_installing_package.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_missing_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/import_export/import_with_missing_fields.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/revert_prebuilt_rules/get_prebuilt_rule_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/common/revert_prebuilt_rules/revert_prebuilt_rules.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/customize_via_bulk_editing.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/detect_customization_with_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/detect_customization_without_base_version.ts
  x-pack/solutions/security/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/customization_enabled/customization/unaffected_fields.ts
Labels: backport

#237541 [9.2] [Onboarding ingest] [Bug] Fix using sample data ingest without license (#234778)
  x-pack/platform/plugins/shared/sample_data_ingest/common/index.ts
  x-pack/platform/plugins/shared/sample_data_ingest/public/plugin.ts
  x-pack/platform/plugins/shared/sample_data_ingest/public/types.ts
  x-pack/platform/plugins/shared/sample_data_ingest/tsconfig.json
  x-pack/solutions/search/plugins/search_homepage/kibana.jsonc
  x-pack/solutions/search/plugins/search_homepage/public/components/get_started_with_elasticsearch.tsx
  x-pack/solutions/search/plugins/search_homepage/public/components/sample_data_action_button.tsx
  x-pack/solutions/search/plugins/search_homepage/public/hooks/use_is_sample_data_available.test.ts
  x-pack/solutions/search/plugins/search_homepage/public/hooks/use_is_sample_data_available.ts
  x-pack/solutions/search/plugins/search_homepage/public/types.ts
  x-pack/solutions/search/plugins/search_homepage/tsconfig.json
  x-pack/solutions/search/plugins/search_indices/kibana.jsonc
  x-pack/solutions/search/plugins/search_indices/public/components/shared/create_index_form.test.tsx
  x-pack/solutions/search/plugins/search_indices/public/components/shared/create_index_form.tsx
  x-pack/solutions/search/plugins/search_indices/public/components/shared/sample_data_action_button.tsx
  x-pack/solutions/search/plugins/search_indices/public/components/shared/sample_data_panel.tsx
  x-pack/solutions/search/plugins/search_indices/public/hooks/use_is_sample_data_available.test.ts
  x-pack/solutions/search/plugins/search_indices/public/hooks/use_is_sample_data_available.ts
  x-pack/solutions/search/plugins/search_indices/public/types.ts
  x-pack/solutions/search/plugins/search_indices/tsconfig.json
Labels: backport

#237509 [a11y] Prevent index polling from overriding pipeline settings while editing
  x-pack/solutions/search/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
Labels: release_note:fix, backport:version, v9.2.0, v9.3.0, v9.1.6, v8.18.9, v8.19.6

#237539 [9.2] [Dashboards] Soften validation on filter schema (#237477)
  src/platform/packages/shared/kbn-es-query-server/src/filter.ts
Labels: backport

#237550 [9.1] [a11y] Prevent index polling from overriding pipeline settings while editing (#237509)
  x-pack/solutions/search/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
Labels: backport

#237549 [8.19] [a11y] Prevent index polling from overriding pipeline settings while editing (#237509)
  x-pack/solutions/search/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
Labels: backport

#237548 [8.18] [a11y] Prevent index polling from overriding pipeline settings while editing (#237509)
  x-pack/solutions/search/plugins/enterprise_search/public/applications/enterprise_search_content/components/search_index/pipelines/pipelines.tsx
Labels: backport

#237505 [9.2] [EDR Workflows] Add tests for cancel action command definition (#237233)
  x-pack/solutions/security/plugins/security_solution/public/management/components/endpoint_responder/lib/integration_tests/console_commands_definition.test.tsx
Labels: backport

#237533 [9.2] [Entity Analytics][Privmon] Enable privileged user monitoring advanced setting by default (#237436)
  x-pack/solutions/security/plugins/security_solution/server/ui_settings.ts
Labels: backport

#237568 [ES|QL] Update grammars
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_lexer.interp
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_lexer.tokens
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_lexer.ts
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.g4
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.interp
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.tokens
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.ts
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser_listener.ts
  src/platform/packages/shared/kbn-esql-ast/src/antlr/lexer/Fuse.g4
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.3.0

#237109 [EDR Workflows] Validate runscript response action against MDE action
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/mocks.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/ms_defender_endpoint_actions_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/ms_defender_endpoint_actions_client.ts
Labels: release_note:skip, Team:Defend Workflows, backport:version, v9.2.0, v9.3.0, v9.1.6

#237575 [ES|QL] Displays the solution recommended queries for queries which start with special characters
  src/platform/plugins/shared/esql/public/plugin.ts
Labels: release_note:fix, Feature:ES|QL, Team:ESQL, backport:version, v9.2.0, v9.3.0

#237569 [ES|QL] Update function metadata
  src/platform/packages/private/kbn-language-documentation/src/sections/generated/aggregation_functions.tsx
  src/platform/packages/private/kbn-language-documentation/src/sections/generated/scalar_functions.tsx
  src/platform/packages/private/kbn-language-documentation/src/sections/generated/timeseries_aggregation_functions.tsx
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/fork/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/stats/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/aggregation_functions.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/function_names.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/operators.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/scalar_functions.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/time_series_agg_functions.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/hover/__tests__/hover.test.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.2.0, v9.3.0

#237358 [9.2] [Streams] Add smoke tests for data quality tab (#237153)
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/fixtures/page_objects/streams_app.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_quality.spec.ts
Labels: backport

#237582 [9.2] 🌊 [Streams] Content QA review (#236905)
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/detected_fields_editor.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/empty_prompts.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_lifecycle/failure_store/cards/ingestion_card.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_lifecycle/general_data/cards/ingestion_card.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_lifecycle/general_data/modal/modal.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/stream_badges/index.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/stream_detail_significant_events_view/add_significant_event_flyout/flow_selector.tsx
  x-pack/platform/plugins/shared/streams_app/public/components/stream_list_view/streams_list_empty_prompt.tsx
Labels: backport

#237408 [Search] Stateful homepage promo update
  x-pack/solutions/search/plugins/search_homepage/public/components/header/stateful_promo.tsx
Labels: release_note:skip, Team:Search, backport:version, v9.2.0, v9.3.0

#237449 [Ai Assistant] Update allow list to include default LLM settings
  src/platform/packages/shared/serverless/settings/observability_project/index.ts
  src/platform/packages/shared/serverless/settings/search_project/index.ts
  src/platform/packages/shared/serverless/settings/security_project/index.ts
Labels: release_note:skip, Team:Security Generative AI, backport:version, v9.2.0, v9.0.8, v8.19.9, v9.1.6, v8.18.9

#237431 Anchor tabbed modal using only CSS
  src/platform/packages/shared/shared-ux/modal/tabbed/src/tabbed_modal.test.tsx
  src/platform/packages/shared/shared-ux/modal/tabbed/src/tabbed_modal.tsx
Labels: release_note:skip, Team:SharedUX, backport:all-open

#237585 [9.1] [EDR Workflows] Validate runscript response action against MDE action (#237109)
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/mocks.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/ms_defender_endpoint_actions_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/microsoft/defender/endpoint/ms_defender_endpoint_actions_client.ts
Labels: backport

#237610 Skip streams significant events and queries tests for MKI
  x-pack/platform/test/api_integration_deployment_agnostic/apis/streams/queries.ts
  x-pack/platform/test/api_integration_deployment_agnostic/apis/streams/significant_events.ts
Labels: release_note:skip, backport:skip

#236921 🌊 [Streams] Add state based (snapshot) telemetry, report Stream State Errors
  x-pack/platform/plugins/private/telemetry_collection_xpack/schema/xpack_platform.json
  x-pack/platform/plugins/shared/streams/server/lib/streams/client.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/create_streams_global_search_result_provider.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/service.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/state_management/types.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/storage/migrate_on_read.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/storage/migrate_on_read.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/storage/migrate_to_streamlang_on_read.ts
  x-pack/platform/plugins/shared/streams/server/lib/streams/storage/streams_storage_client.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/ebt/client.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/ebt/constants.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/ebt/events.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/ebt/index.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/ebt/schemas.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/ebt/service.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/ebt/types.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/index.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/schemas.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/index.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/register_collector.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/schema.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/stats_telemetry_service.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/streams_usage_collector.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/streams_usage_collector.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/types.ts
  x-pack/platform/plugins/shared/streams/server/lib/telemetry/stats/utils.ts
  x-pack/platform/plugins/shared/streams/server/plugin.ts
  x-pack/platform/plugins/shared/streams/server/routes/create_server_route.ts
  x-pack/platform/plugins/shared/streams/server/routes/types.ts
  x-pack/platform/plugins/shared/streams/server/types.ts
  x-pack/platform/plugins/shared/streams/tsconfig.json
Labels: release_note:skip, backport:version, Feature:Streams, v9.2.0

#237605 [Docs] Security advisory for 9.1.5 and 9.0.8 in Kibana release notes
  docs/release-notes/index.md
Labels: Team:Docs, release_note:skip, backport:skip, docs

#235360 [ES|QL] Remove duplicate code in `TS` and `FROM` parsing
  src/platform/packages/shared/kbn-esql-ast/src/parser/cst_to_ast_converter.ts
Labels: review, release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.3.0

#237577 [9.2] [Streams] Fix detected fields mapping simulation and ignored fields message (#237474)
  x-pack/platform/plugins/shared/streams/server/routes/internal/streams/processing/simulation_handler.ts
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/page_content.tsx
Labels: backport

#237485 [ES|QL] Add AST support for new `FUSE` parameters
  src/platform/packages/shared/kbn-esql-ast/src/parser/__tests__/fuse.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/cst_to_ast_converter.ts
  src/platform/packages/shared/kbn-esql-ast/src/pretty_print/__tests__/basic_pretty_printer.test.ts
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.3.0

#237089 [EDR Workflows][FF Cleanup] Remove responseActionsSentinelOneGetFileEnabled feature flag
  x-pack/solutions/security/plugins/security_solution/common/experimental_features.ts
  x-pack/solutions/security/plugins/security_solution/public/common/hooks/endpoint/use_alert_response_actions_support.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/endpoint/utils/is_agent_type_and_action_supported.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/endpoint/utils/is_agent_type_and_action_supported.ts
  x-pack/solutions/security/plugins/security_solution/public/management/components/endpoint_responder/command_render_components/integration_tests/get_file_action.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/components/endpoint_responder/lib/integration_tests/console_commands_definition.test.tsx
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.test.ts
  x-pack/solutions/security/plugins/security_solution/server/endpoint/services/actions/clients/sentinelone/sentinel_one_actions_client.ts
Labels: release_note:skip, backport:skip, Team:Defend Workflows

#236549 [CI][Jest] Parallelize Jest test runners
  .buildkite/pipeline-utils/ci-stats/pick_test_group_run_order.ts
  .buildkite/scripts/steps/test/jest_parallel.sh
  scripts/jest_all.js
  src/platform/packages/shared/kbn-test/index.ts
  src/platform/packages/shared/kbn-test/jest-preset.js
  src/platform/packages/shared/kbn-test/src/functional_test_runner/lib/config/run_check_ftr_configs_cli.ts
  src/platform/packages/shared/kbn-test/src/jest/configs/get_jest_configs.test.ts
  src/platform/packages/shared/kbn-test/src/jest/configs/get_jest_configs.ts
  src/platform/packages/shared/kbn-test/src/jest/run.test.ts
  src/platform/packages/shared/kbn-test/src/jest/run.ts
  src/platform/packages/shared/kbn-test/src/jest/run_all.test.ts
  src/platform/packages/shared/kbn-test/src/jest/run_all.ts
  src/platform/packages/shared/kbn-test/src/jest/run_check_jest_configs_cli.test.ts
  src/platform/packages/shared/kbn-test/src/jest/run_check_jest_configs_cli.ts
  src/platform/packages/shared/kbn-test/src/jest/slow_test_reporter.js
  src/platform/packages/shared/kbn-test/src/mocha/junit_report_generation.test.js
  x-pack/platform/plugins/shared/fleet/.storybook/smoke.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/upgrade_rule_after_preview/fields/base.jest.integration.config.js
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/upgrade_rule_after_preview/fields/common/jest.integration.config.1.js
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/upgrade_rule_after_preview/fields/common/jest.integration.config.2.js
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/upgrade_rule_after_preview/fields/type_specific/jest.integration.config.1.js
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/__integration_tests__/rules_upgrade/upgrade_rule_after_preview/fields/type_specific/jest.integration.config.2.js
Labels: release_note:skip, backport:skip

#237602 [9.2] [ES|QL] Update function metadata (#237569)
  src/platform/packages/private/kbn-language-documentation/src/sections/generated/aggregation_functions.tsx
  src/platform/packages/private/kbn-language-documentation/src/sections/generated/scalar_functions.tsx
  src/platform/packages/private/kbn-language-documentation/src/sections/generated/timeseries_aggregation_functions.tsx
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/fork/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/commands_registry/commands/stats/autocomplete.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/aggregation_functions.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/function_names.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/operators.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/scalar_functions.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/generated/time_series_agg_functions.ts
  src/platform/packages/shared/kbn-esql-ast/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/hover/__tests__/hover.test.ts
Labels: backport

#237441 [Streams] Fix scrolling processor steps into view
  x-pack/platform/plugins/shared/streams_app/public/components/data_management/stream_detail_enrichment/steps/blocks/action/index.tsx
Labels: release_note:skip, Team:obs-ux-logs, backport:version, Feature:Streams, v9.2.0

#237636 [CI] fix empty param issue
  .buildkite/scripts/steps/checks/telemetry.sh
Labels: release_note:skip, backport:version, v9.2.0

#237620 [9.1] [APM] Update useAnyOfApmParams to include mobile services (#237500)
  x-pack/solutions/observability/plugins/apm/public/components/app/service_logs/index.tsx
Labels: backport, Team:obs-ux-infra_services

#236460 [ES|QL] `SET` header instruction parsing
  src/platform/packages/shared/kbn-esql-ast/src/builder/builder.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/builder/builder.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/__tests__/drop.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/__tests__/header.set.test.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/cst_to_ast_converter.ts
  src/platform/packages/shared/kbn-esql-ast/src/parser/parser.ts
  src/platform/packages/shared/kbn-esql-ast/src/pretty_print/basic_pretty_printer.ts
  src/platform/packages/shared/kbn-esql-ast/src/types.ts
  src/platform/packages/shared/kbn-esql-ast/src/walker/__tests__/walker_all_nodes.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/esql_validation_meta_tests.json
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.test.ts
  x-pack/solutions/security/packages/kbn-securitysolution-utils/src/esql/parse_esql_query.test.ts
Labels: review, release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL, v9.2.0

#237297 [streams][content packs] do not update root stream fields
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/helpers.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/tree.test.ts
  x-pack/platform/plugins/shared/streams/server/lib/content/stream/tree.ts
  x-pack/platform/plugins/shared/streams/server/routes/content/route.ts
  x-pack/platform/test/api_integration_deployment_agnostic/apis/streams/content.ts
Labels: bug, release_note:skip, Team:obs-entities, backport:version, Feature:Streams, v9.2.0, v9.3.0

#237305 [SideNav] Add tests for tour
  src/core/packages/chrome/navigation-tour/src/tour.tsx
  src/platform/test/functional/page_objects/solution_navigation.ts
  src/platform/test/tsconfig.json
  x-pack/solutions/observability/test/functional_solution_sidenav/tests/observability_sidenav.ts
  x-pack/solutions/search/test/functional_solution_sidenav/tests/search_sidenav.ts
  x-pack/solutions/security/test/functional_solution_sidenav/tests/security_sidenav.ts
Labels: release_note:skip, Team:SharedUX, backport:version, v9.2.0

#237621 [9.2] [APM] Update useAnyOfApmParams to include mobile services (#237500)
  x-pack/solutions/observability/plugins/apm/public/components/app/service_logs/index.tsx
Labels: backport, Team:obs-ux-infra_services

#236559 [scout] add euiToastWrapper and update streams_app tests
  src/platform/packages/shared/kbn-scout/index.ts
  src/platform/packages/shared/kbn-scout/src/playwright/eui_components/combo_box.ts
  src/platform/packages/shared/kbn-scout/src/playwright/eui_components/index.ts
  src/platform/packages/shared/kbn-scout/src/playwright/eui_components/toast.ts
  src/platform/packages/shared/kbn-scout/src/playwright/page_objects/index.ts
  src/platform/packages/shared/kbn-scout/src/playwright/page_objects/toasts.ts
  src/platform/packages/shared/kbn-scout/test/scout/fixtures/eui_helpers.ts
  src/platform/packages/shared/kbn-scout/test/scout/tests/eui_wrappers/check_box.spec.ts
  src/platform/packages/shared/kbn-scout/test/scout/tests/eui_wrappers/combo_box.spec.ts
  src/platform/packages/shared/kbn-scout/test/scout/tests/eui_wrappers/data_grid.spec.ts
  src/platform/packages/shared/kbn-scout/test/scout/tests/eui_wrappers/selectable.spec.ts
  src/platform/packages/shared/kbn-scout/test/scout/tests/eui_wrappers/toast.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/fixtures/page_objects/streams_app.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_mapping.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_processing/create_steps.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_processing/edit_steps.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_processing/error_handling.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_processing/processing_simulation_preview.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_retention/data_retention.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_retention/failure_store.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/create_routing_rules.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/edit_routing_rules.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/error_handling.spec.ts
  x-pack/platform/plugins/shared/streams_app/test/scout/ui/tests/data_management/data_routing/reorder_routing_rules.spec.ts
Labels: release_note:skip, backport:skip, test:scout

#237307 [Cases][Observables] - Alert table performance improvement
  src/platform/packages/shared/response-ops/alerts-table/components/bulk_actions_toolbar_control.tsx
  src/platform/packages/shared/response-ops/alerts-table/reducers/bulk_actions_reducer.test.tsx
Labels: release_note:skip, backport:skip, Feature:Cases, Team:Cases, v9.2.0

#237615 [9.2] Anchor tabbed modal using only CSS (#237431)
  src/platform/packages/shared/shared-ux/modal/tabbed/src/tabbed_modal.test.tsx
  src/platform/packages/shared/shared-ux/modal/tabbed/src/tabbed_modal.tsx
Labels: backport

#237065 [Agent Builder] add platform contributor guide
  x-pack/platform/plugins/shared/onechat/CONTRIBUTOR_GUIDE.md
  x-pack/platform/plugins/shared/onechat/README.md
Labels: release_note:skip, backport:skip

#237632 [9.2] [CI] upgrade @moonrepo/cli to 1.41.2 (#237437)
  package.json
  yarn.lock
Labels: backport
