Repository elastic/kibana, pull requests merged in 2025-05, with the labels that each got.

#219753 workchat: add card resizing
  x-pack/solutions/chat/plugins/workchat-app/public/application/components/integrations/listing/integration_catalog_view.tsx
Labels: release_note:skip, backport:skip

#219815 [8.19] partial revert of PR 209025 (#219793)
  x-pack/platform/plugins/shared/alerting/server/alerts_client/lib/get_summarized_alerts_query.ts
Labels: backport

#219816 [9.0] partial revert of PR 209025 (#219793)
  x-pack/platform/plugins/shared/alerting/server/alerts_client/lib/get_summarized_alerts_query.ts
Labels: backport

#219814 [8.18] partial revert of PR 209025 (#219793)
  x-pack/platform/plugins/shared/alerting/server/alerts_client/lib/get_summarized_alerts_query.ts
Labels: backport

#219799 [9.0] chore(NA): updating used polyfills using 3rd party library (#218020)
  package.json
  packages/kbn-optimizer/src/worker/webpack.config.ts
  renovate.json
  src/platform/packages/private/kbn-node-libs-browser-webpack-plugin/BUILD.bazel
  src/platform/packages/private/kbn-node-libs-browser-webpack-plugin/index.js
  src/platform/packages/private/kbn-ui-shared-deps-npm/BUILD.bazel
  src/platform/packages/private/kbn-ui-shared-deps-npm/webpack.config.js
  yarn.lock
Labels: backport

#219801 [8.19] chore(NA): updating used polyfills using 3rd party library (#218020)
  package.json
  packages/kbn-optimizer/src/worker/webpack.config.ts
  renovate.json
  src/platform/packages/private/kbn-node-libs-browser-webpack-plugin/BUILD.bazel
  src/platform/packages/private/kbn-node-libs-browser-webpack-plugin/index.js
  src/platform/packages/private/kbn-ui-shared-deps-npm/BUILD.bazel
  src/platform/packages/private/kbn-ui-shared-deps-npm/webpack.config.js
  yarn.lock
Labels: backport

#219802 [8.18] chore(NA): updating used polyfills using 3rd party library (#218020)
  package.json
  packages/kbn-optimizer/src/worker/webpack.config.ts
  renovate.json
  src/platform/packages/private/kbn-node-libs-browser-webpack-plugin/BUILD.bazel
  src/platform/packages/private/kbn-node-libs-browser-webpack-plugin/index.js
  src/platform/packages/private/kbn-ui-shared-deps-npm/BUILD.bazel
  src/platform/packages/private/kbn-ui-shared-deps-npm/webpack.config.js
  yarn.lock
Labels: backport

#219811 [8.17] chore(NA): updating used polyfills using 3rd party library (#218020)
  package.json
  packages/kbn-node-libs-browser-webpack-plugin/BUILD.bazel
  packages/kbn-node-libs-browser-webpack-plugin/index.js
  packages/kbn-optimizer/src/worker/webpack.config.ts
  packages/kbn-ui-shared-deps-npm/BUILD.bazel
  packages/kbn-ui-shared-deps-npm/webpack.config.js
  renovate.json
  yarn.lock
Labels: backport

#219695 [Discover ] Increase test jest timeout
  src/platform/plugins/shared/discover/public/application/main/components/sidebar/discover_sidebar_responsive.test.tsx
Labels: Feature:Discover, release_note:skip, Team:DataDiscovery, backport:version, v9.1.0, v8.19.0

#219824 [8.19] [Discover ] Increase test jest timeout (#219695)
  src/platform/plugins/shared/discover/public/application/main/components/sidebar/discover_sidebar_responsive.test.tsx
Labels: backport

#219394 [ES|QL] Use Monaco Monarch ES|QL grammar for highlighting
  package.json
  renovate.json
  src/platform/packages/shared/kbn-esql-validation-autocomplete/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/scripts/generate_function_definitions.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/generated/function_names.ts
  src/platform/packages/shared/kbn-monaco/BUILD.bazel
  src/platform/packages/shared/kbn-monaco/src/languages/esql/index.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/language.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/esql_theme.test.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/esql_theme.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/esql_tokens_provider.test.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/esql_tokens_provider.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/index.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/theme.ts
  yarn.lock
Labels: review, release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#219741 [Fleet] Fix dataset validation to show errors on upgrade
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_var_field.tsx
  x-pack/platform/plugins/shared/fleet/server/types/models/package_policy.ts
Labels: release_note:skip, Team:Fleet, v9.0.0, backport:prev-minor, backport:version, v9.1.0, v8.19.0, backport:8.18, v8.18.1, v8.18.2

#219069 [Security Solution] [AI assistant] Bug / remove citations system prompt when citations are disabled
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/content_references/content_references_store/__mocks__/content_references_store.mock.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/content_references/content_references_store/content_references_store.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/content_references/types.ts
  x-pack/solutions/security/plugins/elastic_assistant/scripts/draw_graph_script.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/graph.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/run_agent.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/run_agent.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/types.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/prompt/prompts.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/prompt/prompts.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/evaluate/post_evaluate.ts
Labels: release_note:skip, Team:Security Generative AI, backport:version, v9.1.0, v8.19.0

#219062 [SecuritySolution] Onboarding hub clean up
  x-pack/solutions/security/plugins/security_solution/public/asset_inventory/components/onboarding/no_data_found.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/hooks/use_add_integrations_url.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/components/available_integrations.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/components/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/components/integration_card_grid_tabs_component.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/components/integration_card_grid_tabs_component.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/hooks/__mocks__/mocks.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/hooks/integration_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/hooks/use_integration_card_list.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/lib/integrations/hooks/use_integration_card_list.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/__mocks__/mocks.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/lib/telemetry.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/body_config.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/assistant/images/assistant_icon_dark.png
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/assistant/index.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/assistant/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/assistant/types.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/card_selector_list.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/integrations/callouts/agent_required_callout.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/integrations/callouts/agent_required_callout.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/integrations/callouts/agentless_available_callout.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/integrations/callouts/agentless_available_callout.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/integrations/callouts/endpoint_callout.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/integrations/callouts/endpoint_callout.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/common/integrations/callouts/manage_integrations_callout.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/integrations/integrations_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/integrations_external_detections/index.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/integrations_external_detections/integration_tabs_configs.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/integrations_external_detections/integrations_card.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/integrations_external_detections/integrations_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/integrations_external_detections/integrations_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/constants.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/images/rules_icon.png
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/images/rules_icon_dark.png
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/index.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/knowledge_source_card.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/knowledge_source_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/knowledge_source_card_config.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/knowledge_source_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/knowledge_source/types.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/integrations_search_ai_lake/index.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/knowledge_source/images/custom_rules.png
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/knowledge_source/images/preview_rules.png
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/llm/connectors_check_complete.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/llm/index.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/llm/llm_connector_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/llm/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_body/cards/search_ai_lake/llm/types.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_context.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_footer/onboarding_footer.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_footer/onboarding_footer.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_header/cards/common/link_card.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_header/cards/common/link_card.tsx
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_telemetry.test.ts
  x-pack/solutions/security/plugins/security_solution/public/onboarding/components/onboarding_telemetry.ts
Labels: release_note:skip, Team:Threat Hunting:Explore, Team:Security Generative AI, backport:version, v9.1.0

#219635 [Rules] Adding actions to the rules details action menu (Part 1)
  x-pack/platform/plugins/shared/triggers_actions_ui/public/application/sections/index.tsx
  x-pack/platform/plugins/shared/triggers_actions_ui/public/common/get_untrack_modal.tsx
  x-pack/platform/plugins/shared/triggers_actions_ui/public/mocks.ts
  x-pack/platform/plugins/shared/triggers_actions_ui/public/plugin.ts
  x-pack/solutions/observability/plugins/observability/public/hooks/use_disable_rule.ts
  x-pack/solutions/observability/plugins/observability/public/hooks/use_enable_rule.ts
  x-pack/solutions/observability/plugins/observability/public/pages/rule_details/components/header_actions.tsx
  x-pack/solutions/observability/plugins/observability/public/pages/rule_details/rule_details.tsx
Labels: release_note:skip, Team:ResponseOps, Team:obs-ux-management, backport:version, v9.1.0, v8.19.0

#219752 [9.0] Update rbush to v4 (main) (manual) (#219613)
  package.json
  src/platform/packages/shared/kbn-test/jest-preset.js
  yarn.lock
Labels: backport

#219787 [8.19] Update rbush to v4 (main) (manual) (#219613)
  package.json
  src/platform/packages/shared/kbn-test/jest-preset.js
  yarn.lock
Labels: backport

#219789 [8.17] Update rbush to v4 (main) (manual) (#219613)
  package.json
  packages/kbn-test/jest-preset.js
  yarn.lock
Labels: backport

#219709 [Fleet] create ccs index patterns on Fleet setup
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/settings/components/edit_output_flyout/output_form_remote_es.tsx
  x-pack/platform/plugins/shared/fleet/server/services/epm/kibana/index_pattern/install.ts
  x-pack/platform/plugins/shared/fleet/server/services/setup.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/setup.ts
  x-pack/platform/plugins/shared/fleet/server/services/setup/fleet_synced_integrations.test.ts
  x-pack/platform/plugins/shared/fleet/server/services/setup/fleet_synced_integrations.ts
Labels: release_note:skip, backport:skip, Team:Fleet

#218909 [8.19] [Inference] Run EIS locally (#215475)
  scripts/eis.js
  src/platform/packages/shared/kbn-tooling-log/src/tooling_log_text_writer.ts
  x-pack/platform/packages/shared/ai-infra/inference-langchain/src/chat_model/inference_chat_model.test.ts
  x-pack/platform/packages/shared/ai-infra/inference-langchain/src/chat_model/inference_chat_model.ts
  x-pack/platform/packages/shared/ai-infra/inference-langchain/tsconfig.json
  x-pack/platform/packages/shared/kbn-inference-cli/README.md
  x-pack/platform/packages/shared/kbn-inference-cli/scripts/eis.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/client.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/create_inference_client.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/assert_docker_available.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/ensure_eis.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/file_utils.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/generate_certificate.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/get_docker_compose_yaml.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/get_eis_credentials.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/get_eis_gateway_config.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/get_nginx_conf.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/get_service_configuration.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/eis/until_gateway_ready.ts
  x-pack/platform/packages/shared/kbn-inference-cli/src/select_connector.ts
  x-pack/platform/packages/shared/kbn-inference-cli/tsconfig.json
  x-pack/platform/packages/shared/kbn-kibana-api-cli/src/client.ts
  x-pack/platform/packages/shared/kbn-kibana-api-cli/src/kibana_fetch_response_error.ts
  x-pack/platform/plugins/shared/inference/server/inference_client/create_chat_model.test.ts
  x-pack/platform/plugins/shared/inference/server/inference_client/create_chat_model.ts
  x-pack/solutions/observability/packages/kbn-genai-cli/utils/run_recipe.ts
Labels: backport, Team:Obs AI Assistant

#219838 [8.19] [Security Solution] [AI assistant] Bug / remove citations system prompt when citations are disabled (#219069)
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/content_references/content_references_store/__mocks__/content_references_store.mock.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/content_references/content_references_store/content_references_store.ts
  x-pack/platform/packages/shared/kbn-elastic-assistant-common/impl/content_references/types.ts
  x-pack/solutions/security/plugins/elastic_assistant/scripts/draw_graph_script.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/graph.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/index.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/run_agent.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/nodes/run_agent.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/langchain/graphs/default_assistant_graph/types.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/prompt/prompts.test.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/lib/prompt/prompts.ts
  x-pack/solutions/security/plugins/elastic_assistant/server/routes/evaluate/post_evaluate.ts
Labels: backport

#219600 Use new client URLs in doc link service
  src/platform/packages/shared/kbn-doc-links/src/get_doc_links.ts
  src/platform/plugins/shared/custom_integrations/common/language_integrations.ts
  src/platform/plugins/shared/custom_integrations/server/language_clients/index.ts
  src/platform/plugins/shared/custom_integrations/server/plugin.test.ts
Labels: Team:Docs, release_note:skip, backport:version, v9.1.0, v9.0.1

#219843 [8.19] [Fleet] Fix dataset validation to show errors on upgrade (#219741)
  oas_docs/bundle.serverless.json
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_var_field.tsx
Labels: backport, Team:Fleet

#219844 [8.18] [Fleet] Fix dataset validation to show errors on upgrade (#219741)
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_var_field.tsx
Labels: backport, Team:Fleet

#219842 [9.0] [Fleet] Fix dataset validation to show errors on upgrade (#219741)
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.test.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/dataset_component.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/components/steps/components/package_policy_input_var_field.tsx
  x-pack/platform/plugins/shared/fleet/server/types/models/package_policy.ts
Labels: backport, Team:Fleet

#218887 [Inference] Fix some OpenAI models not accepting temperature for Inference service
  x-pack/platform/plugins/shared/inference/server/chat_complete/adapters/inference/create_openai_request.ts
  x-pack/platform/plugins/shared/inference/server/chat_complete/adapters/openai/openai_adapter.ts
  x-pack/platform/plugins/shared/inference/server/chat_complete/utils/get_temperature.test.ts
  x-pack/platform/plugins/shared/inference/server/chat_complete/utils/get_temperature.ts
Labels: release_note:enhancement, :ml, backport:version, Team:AI Infra

#219849 [AI4DSOC] Attack discovery widget follow up follow up
  x-pack/solutions/security/plugins/security_solution/public/flyout/ai_for_soc/components/attack_discovery/panel.tsx
Labels: release_note:skip, backport:skip, Team: SecuritySolution, Team:Security Generative AI, v9.1.0

#219855 [9.0] Use new client URLs in doc link service (#219600)
  src/platform/packages/shared/kbn-doc-links/src/get_doc_links.ts
  src/platform/plugins/shared/custom_integrations/common/language_integrations.ts
  src/platform/plugins/shared/custom_integrations/server/language_clients/index.ts
  src/platform/plugins/shared/custom_integrations/server/plugin.test.ts
Labels: backport

#218897 [Security Solution] Replace sourcerer in EQL tab with dataview picker
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/timeline/tabs/eql/header/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/timeline/tabs/eql/header/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/timeline/tabs/eql/index.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, v9.1.0

#219865 [9.0] Update dependency msw to ~2.7.5 (main) (#219289)
  package.json
  yarn.lock
Labels: backport

#219588 m1 demo prep
  x-pack/solutions/chat/plugins/wci-index-source/server/integration/mcp_server.ts
  x-pack/solutions/chat/plugins/wci-salesforce/server/integration/mcp_server.ts
  x-pack/solutions/chat/plugins/wci-salesforce/server/integration/tools.ts
  x-pack/solutions/chat/plugins/workchat-app/common/http_api/agents.ts
  x-pack/solutions/chat/plugins/workchat-app/server/plugin.ts
  x-pack/solutions/chat/plugins/workchat-app/server/routes/agents.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/agents/agent_client.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/agents/mocks.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/create_services.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/orchestration/agent_factory.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/orchestration/agent_graph.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/orchestration/agent_runner.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/orchestration/sub_agents/search/search_agent_graph.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/orchestration/utils/from_langchain_messages.test.ts
  x-pack/solutions/chat/plugins/workchat-app/server/services/orchestration/utils/from_langchain_messages.ts
  x-pack/solutions/chat/plugins/workchat-app/server/utils/app_logger.ts
  x-pack/solutions/chat/plugins/workchat-app/server/utils/index.ts
  x-pack/solutions/chat/plugins/workchat-app/tsconfig.json
Labels: release_note:skip, backport:skip

#219634 feat(slo): Bulk delete UI
  x-pack/platform/packages/shared/kbn-slo-schema/src/rest_specs/routes/bulk_delete.ts
  x-pack/solutions/observability/plugins/slo/public/components/slo/bulk_delete_confirmation_modal/bulk_delete_confirmation_modal.tsx
  x-pack/solutions/observability/plugins/slo/public/components/slo/delete_confirmation_modal/slo_delete_confirmation_modal.stories.tsx
  x-pack/solutions/observability/plugins/slo/public/components/slo/delete_confirmation_modal/slo_delete_confirmation_modal.tsx
  x-pack/solutions/observability/plugins/slo/public/components/slo/disable_confirmation_modal/slo_disable_confirmation_modal.tsx
  x-pack/solutions/observability/plugins/slo/public/components/slo/enable_confirmation_modal/slo_enable_confirmation_modal.tsx
  x-pack/solutions/observability/plugins/slo/public/components/slo/reset_confirmation_modal/slo_reset_confirmation_modal.tsx
  x-pack/solutions/observability/plugins/slo/public/context/action_modal.tsx
  x-pack/solutions/observability/plugins/slo/public/hooks/__storybook_mocks__/use_capabilities.ts
  x-pack/solutions/observability/plugins/slo/public/hooks/query_key_factory.ts
  x-pack/solutions/observability/plugins/slo/public/hooks/use_capabilities.ts
  x-pack/solutions/observability/plugins/slo/public/hooks/use_delete_slo_instance.ts
  x-pack/solutions/observability/plugins/slo/public/hooks/use_reset_slo.ts
  x-pack/solutions/observability/plugins/slo/public/pages/slo_details/components/header_control.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_details/slo_details.test.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_details/slo_details.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/components/slo_management_bulk_actions.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/components/slo_management_content.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/components/slo_management_outdated_filter_callout.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/components/slo_management_search_bar.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/components/slo_management_table.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/context/bulk_operation.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/hooks/use_bulk_delete_slo.ts
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/hooks/use_url_search_state.ts
  x-pack/solutions/observability/plugins/slo/public/pages/slo_management/slo_management_page.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/components/card_view/slo_card_item.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/components/card_view/slo_card_item_actions.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/components/card_view/slo_list_card_view.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/components/compact_view/slo_list_compact_view.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/components/slo_item_actions.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/components/slo_list_view/slo_list_item.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/components/slos_view.tsx
  x-pack/solutions/observability/plugins/slo/public/pages/slos/slos.test.tsx
  x-pack/solutions/observability/plugins/slo/server/routes/slo/bulk_delete.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/slo/bulk_delete.ts
Labels: release_note:skip, Team:obs-ux-management, backport:version, v9.1.0, v8.19.0

#219423 [fleet] fixing `isAgentlessDefault` config usage and readability improvements to `isAgentlessSetupDefault`
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/hooks/setup_technology.test.ts
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/single_page_layout/hooks/setup_technology.ts
Labels: release_note:skip, backport:skip, Team:Fleet, Team:Cloud Security, v9.1.0

#219658 [9.0] Use new security URLs in doc link service (#219005)
  src/platform/packages/shared/kbn-doc-links/src/get_doc_links.ts
  src/platform/packages/shared/kbn-doc-links/src/types.ts
  src/platform/plugins/shared/ai_assistant_management/selection/public/routes/components/ai_assistant_selection_page.test.tsx
  x-pack/platform/plugins/shared/features/common/feature_elasticsearch_privileges.ts
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/detail/components/bidirectional_integrations_callout.test.tsx
  x-pack/platform/plugins/shared/security/public/management/roles/edit_role/privileges/es/__snapshots__/elasticsearch_privileges.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/management/pages/policy/view/policy_settings_form/components/event_merging_banner.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/pages/policy/view/policy_settings_form/components/related_detection_rules_callout.test.tsx
Labels: backport, Team:Fleet

#219747 feat(slo): lock resource installation
  x-pack/solutions/observability/plugins/slo/common/constants.ts
  x-pack/solutions/observability/plugins/slo/server/plugin.ts
  x-pack/solutions/observability/plugins/slo/server/services/resource_installer.test.ts
  x-pack/solutions/observability/plugins/slo/server/services/resource_installer.ts
  x-pack/solutions/observability/plugins/slo/tsconfig.json
Labels: release_note:skip, Team:obs-ux-management, backport:version, v9.1.0, v8.19.0

#219867 Update publish_oas_docs.sh to deploy Kibana Serverless API docs
  .buildkite/scripts/steps/openapi_publishing/publish_oas_docs.sh
Labels: Team:Docs, release_note:skip, backport:skip, docs

#219306 [AI4DSOC] fix styling to address cutoff when screen is narrow
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/components/package_card.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/integrations/sections/epm/screens/home/card_utils.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/search_ai_lake/hooks/integrations/use_enhanced_integration_cards.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/lib/search_ai_lake/hooks/integrations/use_enhanced_integration_cards.tsx
Labels: bug, release_note:skip, backport:skip, Team:Fleet, Team: SecuritySolution

#219876 fix(slo): alert deletion
  x-pack/solutions/observability/plugins/slo/server/services/tasks/bulk_delete/run_bulk_delete.ts
Labels: release_note:skip, Team:obs-ux-management, backport:version, v9.1.0, v8.19.0

#219460 [Security Solution] Fix alerts table potentially not applying alert assignees
  .github/CODEOWNERS
  x-pack/solutions/security/plugins/security_solution/public/common/components/toolbar/bulk_actions/use_set_alert_assignees.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/toolbar/bulk_actions/use_set_alert_assignees.tsx
Labels: release_note:skip, backport:skip, Team:Threat Hunting:Investigations, v9.1.0

#219848 [8.19] [Rules] Adding actions to the rules details action menu (Part 1) (#219635)
  x-pack/platform/plugins/shared/triggers_actions_ui/public/application/sections/index.tsx
  x-pack/platform/plugins/shared/triggers_actions_ui/public/common/get_untrack_modal.tsx
  x-pack/platform/plugins/shared/triggers_actions_ui/public/mocks.ts
  x-pack/platform/plugins/shared/triggers_actions_ui/public/plugin.ts
  x-pack/solutions/observability/plugins/observability/public/hooks/use_disable_rule.ts
  x-pack/solutions/observability/plugins/observability/public/hooks/use_enable_rule.ts
  x-pack/solutions/observability/plugins/observability/public/pages/rule_details/components/header_actions.tsx
  x-pack/solutions/observability/plugins/observability/public/pages/rule_details/rule_details.tsx
Labels: backport, Team:obs-ux-management

#219870 [Security Solution] [Detections] Removes tech preview text from eql seq suppression ui
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/constants.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/utils.test.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/alert_suppression/basic_license_check_rule_details.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/alert_suppression/eql_rule.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/alert_suppression/eql_sequence_rule.cy.ts
Labels: review, release_note:skip, backport:version, v9.1.0, v8.19.0, v8.18.1, v9.0.1

#219891 [8.18] [Security Solution] [Detections] Removes tech preview text from eql seq suppression ui (#219870)
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/constants.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/utils.test.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/eql_rule_suppression.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/eql_rule_suppression_ess_basic.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/eql_rule_suppression_sequence.cy.ts
Labels: backport

#219262 Enforce dependency review by kibana-security workflow
  .github/CODEOWNERS
  .github/workflows/auto-approve-renovate-updates.yml
  .github/workflows/enforce-dependency-review.yml
Labels: Team:Security, release_note:skip, backport:skip

#219583 [9.0] Update OpenFeature (main) (#218569)
  package.json
  yarn.lock
Labels: backport

#219909 [8.19] [ResponseOps][Rules] Cases action title length too long (#219226)
  x-pack/platform/plugins/shared/cases/common/constants/index.ts
  x-pack/platform/plugins/shared/cases/server/connectors/cases/cases_connector_executor.test.ts
  x-pack/platform/plugins/shared/cases/server/connectors/cases/cases_connector_executor.ts
Labels: backport

#219910 [9.0] [ResponseOps][Rules] Cases action title length too long (#219226)
  x-pack/platform/plugins/shared/cases/common/constants/index.ts
  x-pack/platform/plugins/shared/cases/server/connectors/cases/cases_connector_executor.test.ts
  x-pack/platform/plugins/shared/cases/server/connectors/cases/cases_connector_executor.ts
Labels: backport

#219907 [8.19] Skipping readonly/no access test for FIPS pipeline since the overrides cause it to fail (#202719)
  src/core/server/integration_tests/logging/rolling_file_appender.test.ts
  x-pack/test/automatic_import_api_integration/apis/tests/basic/graphs/ecs.ts
  x-pack/test/functional/apps/index_management/enrich_policies_tab/enrich_policies_tab.ts
Labels: backport

#219908 [8.18] [ResponseOps][Rules] Cases action title length too long (#219226)
  x-pack/platform/plugins/shared/cases/common/constants/index.ts
  x-pack/platform/plugins/shared/cases/server/connectors/cases/cases_connector_executor.test.ts
  x-pack/platform/plugins/shared/cases/server/connectors/cases/cases_connector_executor.ts
Labels: backport

#219745 [a11y] Fix ML anomaly threshold input missing aria-label
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/anomaly_threshold_slider/index.tsx
Labels: Project:Accessibility, release_note:skip, backport:all-open, a11y

#219829 [CodeQL] Passing SLACK_CHANNEL env var
  .github/workflows/codeql-stats.yml
  .github/workflows/codeql.yml
Labels: Team:Security, release_note:skip, backport:skip

#219921 [9.0] Update dependency json-schema-to-ts to v3 (main) (#206191)
  package.json
  yarn.lock
Labels: backport

#219914 fix(8.19, fips): skip tests not compatible with FIPS when running in FIPS mode
  src/core/server/integration_tests/saved_objects/migrations/group2/batch_size_bytes.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/migration_from_older_v1.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group3/rewriting_id.test.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/snooze_internal.ts
Labels: release_note:skip, backport:skip, Feature:FIPS

#219362 [8.19] [Synthetics]: Fixed monitor status rule control (#218994)
  x-pack/platform/plugins/shared/triggers_actions_ui/public/common/expression_items/value.tsx
Labels: backport

#219924 [8.18] Update dependency swr to ^2.3.3 (main) (#205281)
  package.json
  yarn.lock
Labels: backport

#219925 [8.19] Update dependency swr to ^2.3.3 (main) (#205281)
  package.json
  yarn.lock
Labels: backport

#219429 Add rrule schema to task schedule with intermediate release
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  x-pack/platform/plugins/shared/task_manager/server/saved_objects/model_versions/task_model_versions.ts
  x-pack/platform/plugins/shared/task_manager/server/saved_objects/schemas/rrule.ts
  x-pack/platform/plugins/shared/task_manager/server/saved_objects/schemas/task.ts
  x-pack/platform/plugins/shared/task_manager/tsconfig.json
Labels: release_note:skip, Team:ResponseOps, v9.0.0, backport:version, v8.19.0, v9.0.1

#219900 [9.0] Fix ignored dynamic templates (#219875)
  x-pack/platform/plugins/shared/alerting/server/alerts_service/alerts_service.test.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_service/alerts_service.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/alerts_as_data_dynamic_templates.ts
Labels: backport

#219722 Add Edot logging level to central config
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/runtime_types/logging_level_rt.ts
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/setting_definitions/__snapshots__/index.test.ts.snap
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/setting_definitions/edot_sdk_settings.ts
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/setting_definitions/index.test.ts
Labels: release_note:enhancement, Team:obs-ux-infra_services, backport:version, 9.1 candidate, v9.1.0, v8.19.0

#219928 [SecuritySolution] Small Entity Analytics code maintenance
  .github/CODEOWNERS
  src/platform/packages/shared/deeplinks/security/deep_links.ts
Labels: release_note:skip, backport:skip, Team: SecuritySolution, Team:Entity Analytics

#219927 [9.0] [a11y] Fix ML anomaly threshold input missing aria-label (#219745)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/anomaly_threshold_slider/index.tsx
Labels: backport

#219899 [8.19] Fix ignored dynamic templates (#219875)
  x-pack/platform/plugins/shared/alerting/server/alerts_service/alerts_service.test.ts
  x-pack/platform/plugins/shared/alerting/server/alerts_service/alerts_service.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group4/alerts_as_data/alerts_as_data_dynamic_templates.ts
Labels: backport

#219926 [9.0] Update dependency swr to ^2.3.3 (main) (#205281)
  package.json
  yarn.lock
Labels: backport

#216377 [Incident Management] Investigation Guide backend
  oas_docs/bundle.json
  oas_docs/bundle.serverless.json
  oas_docs/output/kibana.serverless.yaml
  oas_docs/output/kibana.yaml
  packages/kbn-check-mappings-update-cli/current_fields.json
  packages/kbn-check-mappings-update-cli/current_mappings.json
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  src/platform/packages/shared/kbn-alerting-types/rule_types.ts
  x-pack/platform/plugins/shared/alerting/common/routes/rule/apis/create/schemas/v1.ts
  x-pack/platform/plugins/shared/alerting/common/routes/rule/apis/update/schemas/v1.ts
  x-pack/platform/plugins/shared/alerting/common/routes/rule/request/index.ts
  x-pack/platform/plugins/shared/alerting/common/routes/rule/request/schemas/v1.ts
  x-pack/platform/plugins/shared/alerting/common/routes/rule/response/schemas/v1.ts
  x-pack/platform/plugins/shared/alerting/common/saved_objects/rules/mappings.ts
  x-pack/platform/plugins/shared/alerting/server/application/backfill/methods/schedule/schedule_backfill.test.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/methods/bulk_edit/bulk_edit_rules.test.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/methods/create/create_rule.test.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/methods/find/find_rules.test.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/methods/get/get_rule.test.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/methods/update/update_rule.test.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/schemas/artifacts_schema.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/transforms/transform_raw_artifacts_to_domain_artifacts.test.ts
  x-pack/platform/plugins/shared/alerting/server/application/rule/transforms/transform_rule_attributes_to_rule_domain.test.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/common/inject_references.test.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/common/inject_references.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/lib/denormalize_artifacts.test.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/lib/denormalize_artifacts.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/lib/extract_references.test.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/tests/resolve.test.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/tests/test_helpers.ts
  x-pack/platform/plugins/shared/alerting/server/rules_client/types.ts
  x-pack/platform/plugins/shared/alerting/server/saved_objects/model_versions/rule_model_versions.ts
  x-pack/platform/plugins/shared/alerting/server/saved_objects/schemas/raw_rule/index.ts
  x-pack/platform/plugins/shared/alerting/server/saved_objects/schemas/raw_rule/latest.ts
  x-pack/platform/plugins/shared/alerting/server/saved_objects/schemas/raw_rule/v6.ts
  x-pack/platform/plugins/shared/alerting/server/task_runner/fixtures.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group1/tests/alerting/find_internal.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group3/tests/alerting/resolve.ts
  x-pack/test/alerting_api_integration/security_and_spaces/group5/tests/alerting/get.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/create.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/find.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/find_internal.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group1/get.ts
  x-pack/test/alerting_api_integration/spaces_only/tests/alerting/group2/update.ts
  x-pack/test/api_integration/deployment_agnostic/apis/observability/synthetics/enable_default_alerting.ts
Labels: release_note:feature, backport:prev-minor, Team:obs-ux-management, v9.1.0

#219890 [9.0] [Security Solution] [Detections] Removes tech preview text from eql seq suppression ui (#219870)
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/constants.ts
  x-pack/solutions/security/plugins/security_solution/common/detection_engine/utils.test.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/eql_rule_suppression.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/eql_rule_suppression_ess_basic.cy.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/detection_engine/rule_creation/eql_rule_suppression_sequence.cy.ts
Labels: backport

#219898 [ES|QL] Fixes autocomplete in case of comments with pipes
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/fork/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/query_string_utils.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/query_string_utils.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#219894 [ES|QL] Renames the ESQLRealField type to ESQLFieldWithMetadata
  examples/esql_validation_example/public/app.tsx
  src/platform/packages/private/kbn-esql-editor/src/esql_editor.tsx
  src/platform/packages/shared/kbn-esql-validation-autocomplete/index.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/__tests__/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/autocomplete.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/change_point/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/change_point/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/dissect/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/dissect/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/drop/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/drop/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/fork/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/fork/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/grok/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/grok/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/keep/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/keep/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/rename/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/rename/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/stats/fields_suggestions_after.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/stats/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/factories.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/helper.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/utils/ecs_metadata_helper.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/utils/ecs_metadata_helper.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/commands_helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/definitions/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/resources_helpers.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/user_defined_columns.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/resources.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/types.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/validation/validation.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/hover/hover.test.ts
  src/platform/packages/shared/kbn-monaco/src/languages/esql/lib/hover/hover.ts
Labels: release_note:skip, Feature:ES|QL, Team:ESQL, backport:version, v9.1.0, v8.19.0

#218050 Reorganize footer items for Solutions
  src/platform/packages/shared/shared-ux/chrome/navigation/src/ui/components/navigation_section/navigation_section_ui.tsx
  src/platform/packages/shared/shared-ux/chrome/navigation/src/ui/navigation.stories.tsx
  x-pack/solutions/chat/plugins/serverless_chat/public/navigation_tree.ts
  x-pack/solutions/observability/plugins/observability/public/navigation_tree.ts
  x-pack/solutions/observability/plugins/serverless_observability/public/navigation_tree.ts
  x-pack/solutions/search/plugins/enterprise_search/public/navigation_tree.ts
  x-pack/solutions/search/plugins/serverless_search/public/navigation_tree.ts
  x-pack/solutions/security/packages/navigation/src/i18n_strings.ts
  x-pack/solutions/security/plugins/security_solution_ess/public/navigation/navigation_tree.ts
  x-pack/solutions/security/plugins/security_solution_serverless/public/navigation/ai_navigation/ai_navigation_tree.ts
  x-pack/solutions/security/plugins/security_solution_serverless/public/navigation/navigation_tree.ts
  x-pack/solutions/security/plugins/security_solution_serverless/public/navigation/stack_management_navigation.ts
  x-pack/test/functional_search/tests/solution_navigation.ts
  x-pack/test/functional_solution_sidenav/tests/observability_sidenav.ts
  x-pack/test/functional_solution_sidenav/tests/search_sidenav.ts
  x-pack/test/observability_functional/apps/observability/sidenav/sidenav.ts
  x-pack/test_serverless/functional/services/ml/observability_navigation.ts
  x-pack/test_serverless/functional/services/ml/security_navigation.ts
  x-pack/test_serverless/functional/test_suites/observability/navigation.ts
  x-pack/test_serverless/functional/test_suites/search/ml/trained_models_list.ts
  x-pack/test_serverless/functional/test_suites/search/navigation.ts
  x-pack/test_serverless/functional/test_suites/search/pipelines.ts
  x-pack/test_serverless/functional/test_suites/search/rules/rule_details.ts
  x-pack/test_serverless/functional/test_suites/security/ftr/navigation.ts
Labels: release_note:skip, ci:project-deploy-observability, Team:obs-ux-management, backport:version, v9.1.0, v8.19.0

#219779 [ES|QL] Update function scripts for 8.19
  .buildkite/pipelines/esql_grammar_sync.yml
  .buildkite/scripts/steps/esql_generate_function_metadata.sh
  src/platform/packages/private/kbn-language-documentation/scripts/generate_esql_docs.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/scripts/generate_function_definitions.ts
Labels: release_note:skip, backport:skip, Feature:ES|QL, Team:ESQL

#219939 [8.19] Add Edot logging level to central config (#219722)
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/runtime_types/logging_level_rt.ts
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/setting_definitions/__snapshots__/index.test.ts.snap
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/setting_definitions/edot_sdk_settings.ts
  x-pack/solutions/observability/plugins/apm/common/agent_configuration/setting_definitions/index.test.ts
Labels: backport, Team:obs-ux-infra_services

#219938 [8.18] [Security Solution] Fix rule import error message display (#218701)
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/__snapshots__/index.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/action_connectors_warning/__snapshots__/action_connectors_warning.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/action_connectors_warning/action_connectors_warning.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/action_connectors_warning/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/utils.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/action_connectors_warning/__snapshots__/action_connectors_warning.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/action_connectors_warning/action_connectors_warning.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/action_connectors_warning/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/rule_import_modal.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/rule_import_modal.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/test_utils.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/utils.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/pages/detection_engine/rules/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/open_timeline/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/open_timeline/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/timelines/containers/api.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/import_rules/route.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/detection_rules_client.import_rule.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/methods/import_rule.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/prebuilt_rule_customization/customization_enabled/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_import_export/basic_license_essentials_tier/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_import_export/trial_license_complete_tier/import_rules.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/import_export/import_rules.cy.ts
Labels: backport

#219942 [8.19] [Synthtrace] Fix streams prematurely closing (#215291)
  src/platform/packages/shared/kbn-apm-synthtrace/src/cli/utils/stream_manager.ts
Labels: backport, Team:obs-ux-infra_services

#219950 [8.19] [ES|QL] Fixes autocomplete in case of comments with pipes (#219898)
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/autocomplete/commands/fork/fields_suggestions_after.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/query_string_utils.test.ts
  src/platform/packages/shared/kbn-esql-validation-autocomplete/src/shared/query_string_utils.ts
Labels: backport

#219971 [8.19] Added minHeight to profiler flamegraphs (#210443)
  x-pack/solutions/observability/plugins/profiling/public/components/flamegraph/index.tsx
Labels: backport

#219969 [8.19] [ObsUX] [Profiling] Add date/time to main bar chart tooltip (#210367)
  x-pack/solutions/observability/plugins/profiling/public/components/stacked_bar_chart/index.tsx
Labels: backport

#219972 [8.19] fixes sorting in profiler storage explorer (#212583)
  x-pack/solutions/observability/plugins/profiling/public/views/storage_explorer/host_breakdown/hosts_table.tsx
Labels: backport

#219388 [a11y] Added aria-labels to API keys filter buttons
  x-pack/platform/plugins/shared/security/public/management/api_keys/api_keys_grid/api_keys_table.tsx
Labels: Team:Security, enhancement, release_note:skip, backport:prev-minor, backport:version, v8.19.0

#219973 [8.19] [ObsUX][Profiling] Remove float numbers on samples (#211489)
  x-pack/solutions/observability/plugins/profiling/public/components/frames_summary/index.tsx
  x-pack/solutions/observability/plugins/profiling/public/components/normalization_menu/index.tsx
  x-pack/solutions/observability/plugins/profiling/public/components/topn_functions/total_samples_stat.tsx
  x-pack/solutions/observability/plugins/profiling/public/components/topn_functions/utils.ts
Labels: backport

#219920 [SKIP ON MKI] `.../discover/x_pack/reporting.ts`
  x-pack/test_serverless/functional/test_suites/common/discover/x_pack/reporting.ts
Labels: release_note:skip, backport:skip

#219944 [8.19] [Observability] Make create annotations form keyboard navigable (#217918)
  x-pack/solutions/observability/plugins/observability/public/components/annotations/annotation_form.tsx
Labels: backport, Team:obs-ux-management

#219936 [8.19] [Security Solution] Fix rule import error message display (#218701)
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/__snapshots__/index.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/action_connectors_warning/__snapshots__/action_connectors_warning.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/action_connectors_warning/action_connectors_warning.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/action_connectors_warning/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/utils.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/import_data_modal/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/common/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management/api/api.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/action_connectors_warning/__snapshots__/action_connectors_warning.test.tsx.snap
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/action_connectors_warning/action_connectors_warning.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/action_connectors_warning/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/rule_import_modal.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/rule_import_modal.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/test_utils.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/utils.test.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/components/rule_import_modal/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_management_ui/pages/rule_management/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/open_timeline/open_timeline.tsx
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/open_timeline/translations.ts
  x-pack/solutions/security/plugins/security_solution/public/timelines/components/open_timeline/utils.ts
  x-pack/solutions/security/plugins/security_solution/public/timelines/containers/api.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/api/rules/import_rules/route.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/detection_rules_client.import_rule.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/detection_engine/rule_management/logic/detection_rules_client/methods/import_rule.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/prebuilt_rules/prebuilt_rule_customization/customization_enabled/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_import_export/basic_license_essentials_tier/import_rules.ts
  x-pack/test/security_solution_api_integration/test_suites/detections_response/rules_management/rule_import_export/trial_license_complete_tier/import_rules.ts
  x-pack/test/security_solution_cypress/cypress/e2e/detection_response/rule_management/rule_actions/import_export/import_rules.cy.ts
Labels: backport

#219981 [8.19] [a11y] Added aria-labels to API keys filter buttons (#219388)
  x-pack/platform/plugins/shared/security/public/management/api_keys/api_keys_grid/api_keys_table.tsx
Labels: backport

#219982 [9.0] [a11y] Added aria-labels to API keys filter buttons (#219388)
  x-pack/platform/plugins/shared/security/public/management/api_keys/api_keys_grid/api_keys_table.tsx
Labels: backport

#219878 [AI4DSOC][Security Solution] Extract takeActions logic outside the detections grouping alerts table
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_details_ui/pages/rule_details/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alert_summary/table/table_section.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/alerts_sub_grouping.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_table/use_group_take_action_items.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_table/use_group_take_action_items.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/pages/alerts/detection_engine.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/pages/alerts/detection_engine.tsx
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/top_risk_score_contributors_alerts/index.tsx
Labels: release_note:skip, Team:Threat Hunting:Investigations, backport:version, v9.1.0, v8.19.0

#219804 [8.19] [Security Solution] [Expandable Flyout] Add tooltip to flyout history (#219795)
  x-pack/solutions/security/plugins/security_solution/public/flyout/shared/components/flyout_history.tsx
Labels: backport

#219873 [Search Connectors] Check whether enterprise search node is present
  x-pack/solutions/search/plugins/enterprise_search/public/applications/enterprise_search_content/components/connectors/create_connector/start_step.tsx
Labels: release_note:skip, backport:version, v8.17.7, v8.18.2

#218195 [Security Solution][Admin][Trusted Apps] Fixes wrong warning bug for mac and linux in trusted apps form
  x-pack/solutions/security/packages/kbn-securitysolution-utils/src/path_validations/index.ts
  x-pack/solutions/security/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.tsx
Labels: release_note:skip, Team:Defend Workflows, backport:prev-minor, backport:prev-major

#220001 [8.19] [AI4DSOC][Security Solution] Extract takeActions logic outside the detections grouping alerts table (#219878)
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_details_ui/pages/rule_details/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/alerts_grouping.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/alerts_sub_grouping.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/grouping_settings/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_table/types.ts
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_table/use_group_take_action_items.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_table/use_group_take_action_items.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/pages/alerts/detection_engine.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/pages/alerts/detection_engine.tsx
  x-pack/solutions/security/plugins/security_solution/public/entity_analytics/components/top_risk_score_contributors_alerts/index.tsx
Labels: backport

#220016 [Renovate] Use explicit matching for FTR, Chromedriver, Actions
  renovate.json
Labels: Team:Operations, release_note:skip, backport:skip

#220014 [8.19] [Security Solution][Admin][Trusted Apps] Fixes wrong warning bug for mac and linux in trusted apps form (#218195)
  x-pack/solutions/security/packages/kbn-securitysolution-utils/src/path_validations/index.ts
  x-pack/solutions/security/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.tsx
Labels: backport

#220012 [8.17] [Security Solution][Admin][Trusted Apps] Fixes wrong warning bug for mac and linux in trusted apps form (#218195)
  packages/kbn-securitysolution-utils/src/path_validations/index.ts
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.test.tsx
  x-pack/plugins/security_solution/public/management/pages/trusted_apps/view/components/form.tsx
Labels: backport

#219557 [Cloud Security] Fixed graph's component skipped tests
  x-pack/solutions/security/packages/kbn-cloud-security-posture/graph/.storybook/decorators/kibana_react_decorator.tsx
  x-pack/solutions/security/packages/kbn-cloud-security-posture/graph/src/components/graph_investigation/graph_investigation.stories.test.tsx
Labels: release_note:skip, backport:skip, Team:Cloud Security

#218456 [9.0] [Security Solution] Fix redux action being fired because of unused react-router value (#217055)
  x-pack/solutions/security/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/endpoint/route_capture.tsx
Labels: backport

#218453 [8.17] [Security Solution] Fix redux action being fired because of unused react-router value (#217055)
  x-pack/plugins/security_solution/common/endpoint/types/index.ts
  x-pack/plugins/security_solution/public/common/components/endpoint/route_capture.tsx
Labels: backport

#219357 [9.0] move text based ds files (#218386)
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/columns/value.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/utils.ts
  src/platform/plugins/shared/unified_histogram/public/utils/external_vis_context.ts
  src/platform/plugins/shared/unified_histogram/public/utils/lens_vis_from_table.ts
  x-pack/platform/plugins/shared/lens/public/app_plugin/shared/edit_on_the_fly/lens_configuration_flyout.tsx
  x-pack/platform/plugins/shared/lens/public/async_services.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/dimension_panel/format_selector.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/datapanel.test.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/datapanel.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/dimension_editor.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/dimension_trigger.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/field_select.test.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/field_select.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/get_drop_props.test.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/get_drop_props.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/index.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/mocks.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/on_drop.test.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/on_drop.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/fetch_data_from_aggregate_query.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/fieldlist_cache.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/index.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/remove_column.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/text_based_languages.test.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/text_based_languages.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/to_expression.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/types.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/utils.test.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/utils.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/operations/definitions/helpers.tsx
  x-pack/platform/plugins/shared/lens/public/plugin.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/expressions/variables.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/types.ts
Labels: backport

#219359 [8.19] move text based ds files (#218386)
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/columns/value.ts
  src/platform/packages/shared/kbn-lens-embeddable-utils/config_builder/utils.ts
  src/platform/plugins/shared/unified_histogram/public/utils/external_vis_context.ts
  src/platform/plugins/shared/unified_histogram/public/utils/lens_vis_from_table.ts
  x-pack/platform/plugins/shared/lens/public/async_services.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/dimension_panel/format_selector.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/datapanel.test.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/datapanel.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/dimension_editor.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/dimension_trigger.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/field_select.test.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/components/field_select.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/get_drop_props.test.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/get_drop_props.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/index.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/mocks.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/on_drop.test.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/dnd/on_drop.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/fetch_data_from_aggregate_query.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/fieldlist_cache.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/index.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/remove_column.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/text_based_languages.test.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/text_based_languages.tsx
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/to_expression.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/types.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/utils.test.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/esql_layer/utils.ts
  x-pack/platform/plugins/shared/lens/public/datasources/form_based/operations/definitions/helpers.tsx
  x-pack/platform/plugins/shared/lens/public/editor_frame_service/editor_frame/config_panel/esql_editor.tsx
  x-pack/platform/plugins/shared/lens/public/plugin.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/expressions/variables.ts
  x-pack/platform/plugins/shared/lens/public/react_embeddable/types.ts
Labels: backport

#219955 [8.19] [APM][OTel] Change the alerts query to include environment not defined value (#219228)
  x-pack/solutions/observability/plugins/apm/common/environment_filter_values.ts
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.test.ts
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_derived_service_annotations.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_stored_annotations.ts
Labels: backport, Team:obs-ux-infra_services

#219953 [9.0] [APM][OTel] Change the alerts query to include environment not defined value (#219228)
  x-pack/solutions/observability/plugins/apm/common/environment_filter_values.ts
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.test.ts
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/error_count/register_error_count_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_duration/register_transaction_duration_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/alerts/rule_types/transaction_error_rate/register_transaction_error_rate_rule_type.test.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_derived_service_annotations.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_stored_annotations.ts
Labels: backport, Team:obs-ux-infra_services

#219963 [8.19] [Infra UI][OTel] Use fields instead of _source in the metadata endpoint (#218869)
  x-pack/solutions/observability/plugins/infra/common/http_api/metadata_api.ts
  x-pack/solutions/observability/plugins/infra/server/routes/metadata/lib/get_node_info.ts
  x-pack/solutions/observability/plugins/infra/server/routes/metadata/lib/unflatten_metadata_info_fileds.test.ts
  x-pack/solutions/observability/plugins/infra/server/routes/metadata/lib/unflatten_metadata_info_fileds.ts
Labels: backport

#219743 [9.0] [Watcher] Fix accessibility issues (#219082)
  x-pack/platform/plugins/private/watcher/public/application/components/delete_watches_modal.tsx
  x-pack/platform/plugins/private/watcher/public/application/sections/watch_status_page/components/execution_history_panel.tsx
Labels: backport

#214888 [Security Solution][Explore][Overview Dashboard] Move from viz responses to viz tables
  x-pack/solutions/security/plugins/security_solution/public/app/components/top_values_popover/top_values_popover.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/app/components/top_values_popover/top_values_popover.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/matrix_histogram/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/matrix_histogram/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/top_n.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/top_n.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/get_total_count_from_tables.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/get_total_count_from_tables.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/types.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_embeddable_inspect.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_embeddable_inspect.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.mock.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/visualization_embeddable.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/visualization_embeddable.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/anomalies/anomalies_query_tab_body/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/anomalies/anomalies_query_tab_body/types.ts
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/mock.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/actions.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/helpers.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/model.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/reducer.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/rule_preview/preview_histogram.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/rule_preview/preview_histogram.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/helpers.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_visualization/use_alert_histogram_count.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_visualization/use_alert_histogram_count.ts
  x-pack/solutions/security/plugins/security_solution/public/explore/hosts/pages/navigation/authentications_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/explore/network/pages/navigation/dns_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/explore/users/pages/navigation/authentications_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.test.ts
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.ts
  x-pack/solutions/security/plugins/security_solution/public/overview/components/events_by_dataset/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/pages/overview.tsx
Labels: release_note:fix, Team:Threat Hunting, Team: SecuritySolution, Team:Threat Hunting:Explore, backport:version, v9.1.0, v8.19.0, v8.17.7, v8.18.2, v9.0.2

#218252 fixing esql chart actions
  src/platform/plugins/private/vis_types/vislib/kibana.jsonc
  src/platform/plugins/private/vis_types/vislib/public/plugin.ts
  src/platform/plugins/private/vis_types/vislib/public/vis_controller.tsx
  src/platform/plugins/private/vis_types/vislib/public/vislib/components/legend/legend.test.tsx
  src/platform/plugins/private/vis_types/vislib/public/vislib/components/legend/legend.tsx
  src/platform/plugins/private/vis_types/vislib/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/components/partition_vis_component.test.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/components/partition_vis_component.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/expression_renderers/partition_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/filter_helpers.ts
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/get_legend_actions.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/index.ts
  src/platform/plugins/shared/data/public/actions/filters/create_filters_from_value_click.test.ts
  src/platform/plugins/shared/data/public/actions/filters/create_filters_from_value_click.ts
  src/platform/plugins/shared/data/public/plugin.ts
  src/platform/plugins/shared/visualizations/public/legacy/embeddable/visualize_embeddable.tsx
Labels: Team:Visualizations, release_note:skip, backport:version, v9.1.0, v8.19.0, v9.0.1

#220025 [Reference] Revisit the kibana landing page
  docs/reference/index.md
Labels: Team:Docs, release_note:skip, docs, backport:version, v9.1.0, v9.0.1

#220045 [Docs] Replace remaining occurrences of ESS
  docs/reference/cloud/elastic-cloud-kibana-settings.md
  docs/reference/configuration-reference.md
  docs/reference/configuration-reference/alerting-settings.md
  docs/reference/configuration-reference/apm-settings.md
  docs/reference/configuration-reference/fleet-settings.md
  docs/reference/configuration-reference/general-settings.md
  docs/reference/configuration-reference/internationalization-settings.md
  docs/reference/configuration-reference/map-settings.md
  docs/reference/configuration-reference/monitoring-settings.md
  docs/reference/configuration-reference/reporting-settings.md
  docs/reference/configuration-reference/search-sessions-settings.md
  docs/reference/configuration-reference/security-settings.md
  docs/reference/connectors-kibana/pre-configured-connectors.md
  docs/settings-gen/source/kibana-alert-action-settings.yml
Labels: Team:Docs, release_note:skip, docs, backport:version, v9.1.0, v9.0.1

#220047 [9.0] [Reference] Revisit the kibana landing page (#220025)
  docs/reference/index.md
Labels: backport

#220036 [8.19] [Fleet] Added instructions for installing elastic agent complete (#217342)
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/components/page_steps/install_agent/install_agent_managed.tsx
  x-pack/platform/plugins/shared/fleet/public/applications/fleet/sections/agent_policy/create_package_policy_page/multi_page_layout/components/page_steps/install_agent/install_agent_standalone.tsx
  x-pack/platform/plugins/shared/fleet/public/components/agent_enrollment_flyout/steps/compute_steps.tsx
  x-pack/platform/plugins/shared/fleet/public/components/agent_enrollment_flyout/steps/install_managed_agent_step.tsx
  x-pack/platform/plugins/shared/fleet/public/components/agent_enrollment_flyout/steps/install_standalone_agent_step.tsx
  x-pack/platform/plugins/shared/fleet/public/components/enrollment_instructions/install_section.tsx
  x-pack/platform/plugins/shared/fleet/public/components/enrollment_instructions/manual/index.tsx
  x-pack/platform/plugins/shared/fleet/public/components/enrollment_instructions/standalone/index.tsx
  x-pack/platform/plugins/shared/fleet/public/hooks/index.ts
  x-pack/platform/plugins/shared/fleet/public/hooks/use_show_complete_agent_instructions.ts
Labels: backport, Team:Fleet

#220052 [9.0] [Docs] Replace remaining occurrences of ESS (#220045)
  docs/reference/cloud/elastic-cloud-kibana-settings.md
  docs/reference/configuration-reference.md
  docs/reference/configuration-reference/alerting-settings.md
  docs/reference/configuration-reference/apm-settings.md
  docs/reference/configuration-reference/fleet-settings.md
  docs/reference/configuration-reference/general-settings.md
  docs/reference/configuration-reference/internationalization-settings.md
  docs/reference/configuration-reference/map-settings.md
  docs/reference/configuration-reference/monitoring-settings.md
  docs/reference/configuration-reference/reporting-settings.md
  docs/reference/configuration-reference/search-sessions-settings.md
  docs/reference/configuration-reference/security-settings.md
  docs/reference/connectors-kibana/pre-configured-connectors.md
  docs/settings-gen/source/kibana-alert-action-settings.yml
Labels: backport

#219699 [8.19] [APM] Optional chaining to prevent undefined error in `custom_link_flyout.tsx` (#219668)
  x-pack/solutions/observability/plugins/apm/public/components/shared/transaction_action_menu/custom_link_flyout.tsx
Labels: backport, Team:obs-ux-infra_services

#219672 [8.19] [APM] Handle missing `trace` in API response (#219512)
  x-pack/solutions/observability/plugins/apm/public/components/app/transaction_details/waterfall_with_summary/waterfall_container/waterfall/span_flyout/index.tsx
  x-pack/solutions/observability/plugins/apm/public/components/shared/span_links/span_links_tab_content.tsx
Labels: backport, Team:obs-ux-infra_services

#219390 [Infra] Add area label to the tooltip content
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/components/waffle/__snapshots__/conditional_tooltip.test.tsx.snap
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/components/waffle/conditional_tooltip.tsx
  x-pack/solutions/observability/plugins/infra/public/pages/metrics/inventory_view/components/waffle/waffle_time_controls.tsx
Labels: release_note:skip, backport:skip, Team:obs-ux-infra_services

#220043 [8.19] fixing esql chart actions (#218252)
  src/platform/plugins/private/vis_types/vislib/kibana.jsonc
  src/platform/plugins/private/vis_types/vislib/public/plugin.ts
  src/platform/plugins/private/vis_types/vislib/public/vis_controller.tsx
  src/platform/plugins/private/vis_types/vislib/public/vislib/components/legend/legend.test.tsx
  src/platform/plugins/private/vis_types/vislib/public/vislib/components/legend/legend.tsx
  src/platform/plugins/private/vis_types/vislib/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/components/partition_vis_component.test.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/components/partition_vis_component.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/expression_renderers/partition_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/filter_helpers.ts
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/get_legend_actions.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/index.ts
  src/platform/plugins/shared/data/public/actions/filters/create_filters_from_value_click.test.ts
  src/platform/plugins/shared/data/public/actions/filters/create_filters_from_value_click.ts
  src/platform/plugins/shared/data/public/plugin.ts
  src/platform/plugins/shared/visualizations/public/legacy/embeddable/visualize_embeddable.tsx
Labels: backport

#220044 [9.0] fixing esql chart actions (#218252)
  src/platform/plugins/private/vis_types/vislib/kibana.jsonc
  src/platform/plugins/private/vis_types/vislib/public/plugin.ts
  src/platform/plugins/private/vis_types/vislib/public/vis_controller.tsx
  src/platform/plugins/private/vis_types/vislib/public/vislib/components/legend/legend.test.tsx
  src/platform/plugins/private/vis_types/vislib/public/vislib/components/legend/legend.tsx
  src/platform/plugins/private/vis_types/vislib/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/components/partition_vis_component.test.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/components/partition_vis_component.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/expression_renderers/partition_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/filter_helpers.ts
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/get_legend_actions.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/utils/index.ts
  src/platform/plugins/shared/data/public/actions/filters/create_filters_from_value_click.test.ts
  src/platform/plugins/shared/data/public/actions/filters/create_filters_from_value_click.ts
  src/platform/plugins/shared/data/public/plugin.ts
  src/platform/plugins/shared/visualizations/public/legacy/embeddable/visualize_embeddable.tsx
Labels: backport

#218817 [Discover] Add 'Copy value' button to field value cells (#217457)
  src/platform/packages/shared/kbn-discover-utils/index.ts
  src/platform/packages/shared/kbn-discover-utils/src/utils/convert_value_to_string.test.tsx
  src/platform/packages/shared/kbn-discover-utils/src/utils/convert_value_to_string.ts
  src/platform/packages/shared/kbn-discover-utils/src/utils/index.ts
  src/platform/packages/shared/kbn-discover-utils/tsconfig.json
  src/platform/packages/shared/kbn-unified-data-table/src/utils/convert_value_to_string.ts
  src/platform/plugins/shared/unified_doc_viewer/public/__mocks__/services.ts
  src/platform/plugins/shared/unified_doc_viewer/public/components/doc_viewer_table/__snapshots__/table_cell_actions.test.tsx.snap
  src/platform/plugins/shared/unified_doc_viewer/public/components/doc_viewer_table/field_row.ts
  src/platform/plugins/shared/unified_doc_viewer/public/components/doc_viewer_table/table.tsx
  src/platform/plugins/shared/unified_doc_viewer/public/components/doc_viewer_table/table_cell_actions.test.tsx
  src/platform/plugins/shared/unified_doc_viewer/public/components/doc_viewer_table/table_cell_actions.tsx
  src/platform/plugins/shared/unified_doc_viewer/public/plugin.tsx
  src/platform/plugins/shared/unified_doc_viewer/public/types.ts
Labels: release_note:enhancement, Team:DataDiscovery, Feature:UnifiedDocViewer, backport:version, v9.1.0, v8.19.0

#219956 [9.0] [APM] Fix Alerts environment query follow up (#219571)
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.test.ts
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_derived_service_annotations.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_stored_annotations.ts
Labels: backport, Team:obs-ux-infra_services

#216330 Lens performance metrics
  src/platform/packages/shared/kbn-ebt-tools/index.ts
  src/platform/packages/shared/kbn-ebt-tools/src/performance_tracker.test.ts
  src/platform/packages/shared/kbn-ebt-tools/src/performance_tracker.ts
  src/platform/packages/shared/kbn-ebt-tools/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_gauge/public/expression_renderers/gauge_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_gauge/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_heatmap/public/expression_renderers/heatmap_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_heatmap/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_metric/public/expression_renderers/metric_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_metric/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/expression_renderers/partition_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_tagcloud/public/expression_renderers/tagcloud_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_tagcloud/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_xy/public/expression_renderers/xy_chart_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/tsconfig.json
  src/platform/plugins/shared/dashboard/public/dashboard_api/performance/query_performance_tracking.test.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/performance/query_performance_tracking.ts
  src/platform/plugins/shared/telemetry/server/local_shipper/register_mappings.ts
  x-pack/platform/plugins/shared/lens/public/visualizations/datatable/expression.tsx
Labels: release_note:skip, backport:version, v9.1.0, v8.19.0

#208076 [Security Solution] ADR - Timeline Batching Functional Design
  x-pack/solutions/security/plugins/security_solution/docs/adrs/threat_hunting/0002_timeline_ui_batching_strategy.md
  x-pack/solutions/security/plugins/security_solution/docs/adrs/threat_hunting/images/load_more_timeline.png
Labels: release_note:skip, Team:Threat Hunting:Investigations, backport:prev-minor

#220057 [ci] fix docker pull retries
  src/platform/packages/shared/kbn-es/src/utils/docker.ts
Labels: Team:Operations, release_note:skip, backport:prev-minor, backport:prev-major

#220048 fix: [Platform:StackManagement:Data:CrossClusterReplication] Errors on create follower index page are not announced
  x-pack/platform/plugins/private/cross_cluster_replication/public/app/components/auto_follow_pattern_form.js
  x-pack/platform/plugins/private/cross_cluster_replication/public/app/components/follower_index_form/follower_index_form.js
Labels: Project:Accessibility, release_note:skip, backport:prev-major

#220062 [8.19] Lens performance metrics (#216330)
  src/platform/packages/shared/kbn-ebt-tools/index.ts
  src/platform/packages/shared/kbn-ebt-tools/src/performance_tracker.test.ts
  src/platform/packages/shared/kbn-ebt-tools/src/performance_tracker.ts
  src/platform/packages/shared/kbn-ebt-tools/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_gauge/public/expression_renderers/gauge_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_gauge/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_heatmap/public/expression_renderers/heatmap_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_heatmap/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_metric/public/expression_renderers/metric_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_metric/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/public/expression_renderers/partition_vis_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_partition_vis/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_tagcloud/public/expression_renderers/tagcloud_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_tagcloud/tsconfig.json
  src/platform/plugins/shared/chart_expressions/expression_xy/public/expression_renderers/xy_chart_renderer.tsx
  src/platform/plugins/shared/chart_expressions/expression_xy/tsconfig.json
  src/platform/plugins/shared/dashboard/public/dashboard_api/performance/query_performance_tracking.test.ts
  src/platform/plugins/shared/dashboard/public/dashboard_api/performance/query_performance_tracking.ts
  x-pack/platform/plugins/shared/lens/public/visualizations/datatable/expression.tsx
Labels: backport

#220068 updated description of skipCloud tag
  x-pack/test/api_integration/deployment_agnostic/README.md
Labels: release_note:skip, skip-ci, backport:version, v8.19.0

#219993 [8.19] Add rrule schema to task schedule with intermediate release (#219429)
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  x-pack/platform/plugins/shared/task_manager/server/saved_objects/model_versions/task_model_versions.ts
  x-pack/platform/plugins/shared/task_manager/server/saved_objects/schemas/rrule.ts
  x-pack/platform/plugins/shared/task_manager/server/saved_objects/schemas/task.ts
  x-pack/platform/plugins/shared/task_manager/tsconfig.json
Labels: backport

#220063 Revert "Removed switchToModelVersionAt from SO API definition (#219029)"
  dev_docs/tutorials/saved_objects.mdx
  docs/extend/saved-objects-service.md
  src/core/packages/saved-objects/api-server-internal/src/lib/apis/helpers/validation_fixtures.ts
  src/core/packages/saved-objects/base-server-internal/src/model_version/version_map.test.ts
  src/core/packages/saved-objects/base-server-internal/src/model_version/version_map.ts
  src/core/packages/saved-objects/migration-server-internal/src/document_migrator/document_migrator.test.ts
  src/core/packages/saved-objects/migration-server-internal/src/document_migrator/validate_migration.test.ts
  src/core/packages/saved-objects/migration-server-internal/src/document_migrator/validate_migrations.ts
  src/core/packages/saved-objects/migration-server-internal/src/initial_state.test.ts
  src/core/packages/saved-objects/migration-server-internal/src/zdt/utils/build_index_mappings.test.ts
  src/core/packages/saved-objects/migration-server-internal/src/zdt/utils/generate_additive_mapping_diff.test.ts
  src/core/packages/saved-objects/migration-server-internal/src/zdt/utils/outdated_documents_query.test.ts
  src/core/packages/saved-objects/server-internal/src/apply_type_defaults.test.ts
  src/core/packages/saved-objects/server-internal/src/apply_type_defaults.ts
  src/core/packages/saved-objects/server-internal/src/saved_objects_service.test.mocks.ts
  src/core/packages/saved-objects/server-internal/src/saved_objects_service.test.ts
  src/core/packages/saved-objects/server-internal/src/saved_objects_service.ts
  src/core/packages/saved-objects/server/docs/model_versions.md
  src/core/packages/saved-objects/server/src/saved_objects_type.ts
  src/core/packages/test-helpers/so-type-serializer/src/extract_migration_info.test.ts
  src/core/packages/test-helpers/so-type-serializer/src/extract_migration_info.ts
  src/core/server/integration_tests/ci_checks/saved_objects/check_registered_types.test.ts
  src/core/server/integration_tests/saved_objects/migrations/fixtures/zdt_base.fixtures.ts
  src/core/server/integration_tests/saved_objects/migrations/group4/v2_md5_to_mv.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group4/v2_with_mv_same_stack_version.test.ts
  src/core/server/integration_tests/saved_objects/migrations/group4/v2_with_mv_stack_version_bump.test.ts
  src/core/server/integration_tests/saved_objects/migrations/kibana_migrator_test_kit.fixtures.ts
  src/core/server/integration_tests/saved_objects/migrations/zdt_1/basic_downgrade.test.ts
  src/core/server/integration_tests/saved_objects/migrations/zdt_2/outdated_doc_query.test.ts
  src/core/server/integration_tests/saved_objects/migrations/zdt_2/sor_higher_version_docs.test.ts
  src/core/server/integration_tests/saved_objects/migrations/zdt_2/v2_to_zdt_partial_failure.test.ts
  src/core/server/integration_tests/saved_objects/migrations/zdt_v2_compat/switch_to_model_version.test.ts
  src/core/server/integration_tests/saved_objects/service/lib/bulk_update.test.ts
  src/core/server/integration_tests/saved_objects/service/lib/update.test.ts
  src/core/test-helpers/model-versions/src/model_version_tester.ts
  x-pack/platform/plugins/shared/cases/server/saved_object_types/cases/cases.ts
  x-pack/solutions/observability/plugins/slo/server/saved_objects/slo.ts
  x-pack/test/encrypted_saved_objects_api_integration/plugins/api_consumer_plugin/server/index.ts
Labels: Team:obs-ux-management

#220071 [8.19] [Synthtrace] Sanitize default value for error grouping key (#210010)
  src/platform/packages/shared/kbn-apm-synthtrace-client/src/lib/apm/instance.ts
  src/platform/packages/shared/kbn-apm-synthtrace-client/src/lib/utils/generate_id.ts
  x-pack/solutions/observability/plugins/apm/ftr_e2e/cypress/e2e/errors/error_details.cy.ts
Labels: backport, Team:obs-ux-infra_services

#220064 [9.0] [Security Solution] ADR - Timeline Batching Functional Design (#208076)
  x-pack/solutions/security/plugins/security_solution/docs/adrs/threat_hunting/0002_timeline_ui_batching_strategy.md
  x-pack/solutions/security/plugins/security_solution/docs/adrs/threat_hunting/images/load_more_timeline.png
Labels: backport

#219746 Update misc security solution deps
  package.json
  yarn.lock
Labels: release_note:skip, Team: SecuritySolution, backport:version, v9.1.0, v8.19.0, v8.17.7, v8.18.2, v9.0.2

#220072 [8.19] chore: remove react-syntax-highlighter leftovers (#213076)
  typings/index.d.ts
Labels: backport

#220088 [8.19] updated description of skipCloud tag
  x-pack/test/api_integration/deployment_agnostic/README.md
Labels: backport

#219960 [8.19] [APM] Fix Alerts environment query follow up (#219571)
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.test.ts
  x-pack/solutions/observability/plugins/apm/common/utils/environment_query.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_derived_service_annotations.ts
  x-pack/solutions/observability/plugins/apm/server/routes/services/annotations/get_stored_annotations.ts
Labels: backport, Team:obs-ux-infra_services

#219879 [8.19] fix(slo): alert deletion (#219876)
  x-pack/solutions/observability/plugins/slo/server/services/tasks/bulk_delete/run_bulk_delete.ts
Labels: backport, Team:obs-ux-management

#220078 [8.19] [ci] fix docker pull retries (#220057)
  src/platform/packages/shared/kbn-es/src/utils/docker.ts
Labels: backport

#219892 [DOCS] Fix images and frontmatter in connector docs
  docs/reference/connectors-kibana/bedrock-action-type.md
  docs/reference/connectors-kibana/cases-action-type.md
  docs/reference/connectors-kibana/cases-webhook-action-type.md
  docs/reference/connectors-kibana/crowdstrike-action-type.md
  docs/reference/connectors-kibana/d3security-action-type.md
  docs/reference/connectors-kibana/email-action-type.md
  docs/reference/connectors-kibana/gemini-action-type.md
  docs/reference/connectors-kibana/index-action-type.md
  docs/reference/connectors-kibana/jira-action-type.md
  docs/reference/connectors-kibana/obs-ai-assistant-action-type.md
  docs/reference/connectors-kibana/openai-action-type.md
  docs/reference/connectors-kibana/opsgenie-action-type.md
  docs/reference/connectors-kibana/pagerduty-action-type.md
  docs/reference/connectors-kibana/resilient-action-type.md
  docs/reference/connectors-kibana/sentinelone-action-type.md
  docs/reference/connectors-kibana/server-log-action-type.md
  docs/reference/connectors-kibana/servicenow-action-type.md
  docs/reference/connectors-kibana/servicenow-itom-action-type.md
  docs/reference/connectors-kibana/servicenow-sir-action-type.md
  docs/reference/connectors-kibana/slack-action-type.md
  docs/reference/connectors-kibana/swimlane-action-type.md
  docs/reference/connectors-kibana/teams-action-type.md
  docs/reference/connectors-kibana/thehive-action-type.md
  docs/reference/connectors-kibana/tines-action-type.md
  docs/reference/connectors-kibana/torq-action-type.md
  docs/reference/connectors-kibana/webhook-action-type.md
  docs/reference/connectors-kibana/xmatters-action-type.md
Labels: Team:Docs, release_note:skip, docs, backport:version, v9.1.0, v9.0.1

#219669 [Index Management] Move field_list_item out of scss
  x-pack/platform/plugins/shared/index_management/public/application/components/mappings_editor/components/document_fields/fields/fields_list.tsx
  x-pack/platform/plugins/shared/index_management/public/application/components/mappings_editor/components/document_fields/fields/fields_list_item.tsx
Labels: Feature:Index Management, Team:Kibana Management, release_note:skip, backport:prev-minor

#220079 [9.0] [ci] fix docker pull retries (#220057)
  src/platform/packages/shared/kbn-es/src/utils/docker.ts
Labels: backport

#219763 [APM][Traces] Fix Span Links flyout in Trace Explorer
  x-pack/solutions/observability/plugins/apm/public/components/shared/span_links/index.tsx
  x-pack/solutions/observability/plugins/apm/public/components/shared/span_links/span_links_table.tsx
Labels: release_note:fix, Team:obs-ux-infra_services, backport:version, v9.1.0, v8.19.0, v8.18.1, v9.0.1, v8.17.6

#220100 [9.0] [DOCS] Fix images and frontmatter in connector docs (#219892)
  docs/reference/connectors-kibana/bedrock-action-type.md
  docs/reference/connectors-kibana/cases-action-type.md
  docs/reference/connectors-kibana/cases-webhook-action-type.md
  docs/reference/connectors-kibana/crowdstrike-action-type.md
  docs/reference/connectors-kibana/d3security-action-type.md
  docs/reference/connectors-kibana/email-action-type.md
  docs/reference/connectors-kibana/gemini-action-type.md
  docs/reference/connectors-kibana/index-action-type.md
  docs/reference/connectors-kibana/jira-action-type.md
  docs/reference/connectors-kibana/obs-ai-assistant-action-type.md
  docs/reference/connectors-kibana/openai-action-type.md
  docs/reference/connectors-kibana/opsgenie-action-type.md
  docs/reference/connectors-kibana/pagerduty-action-type.md
  docs/reference/connectors-kibana/resilient-action-type.md
  docs/reference/connectors-kibana/sentinelone-action-type.md
  docs/reference/connectors-kibana/server-log-action-type.md
  docs/reference/connectors-kibana/servicenow-action-type.md
  docs/reference/connectors-kibana/servicenow-itom-action-type.md
  docs/reference/connectors-kibana/servicenow-sir-action-type.md
  docs/reference/connectors-kibana/slack-action-type.md
  docs/reference/connectors-kibana/swimlane-action-type.md
  docs/reference/connectors-kibana/teams-action-type.md
  docs/reference/connectors-kibana/thehive-action-type.md
  docs/reference/connectors-kibana/tines-action-type.md
  docs/reference/connectors-kibana/torq-action-type.md
  docs/reference/connectors-kibana/webhook-action-type.md
  docs/reference/connectors-kibana/xmatters-action-type.md
Labels: backport

#220086 [8.18] fix: [Platform:StackManagement:Data:CrossClusterReplication] Errors on create follower index page are not announced (#220048)
  x-pack/platform/plugins/private/cross_cluster_replication/public/app/components/auto_follow_pattern_form.js
  x-pack/platform/plugins/private/cross_cluster_replication/public/app/components/follower_index_form/follower_index_form.js
Labels: backport

#220076 [8.17] [ci] fix docker pull retries (#220057)
  packages/kbn-es/src/utils/docker.ts
Labels: backport

#220090 [8.18] Update dependency launchdarkly-js-client-sdk to ^3.6.1 (main) (#220017)
  package.json
  yarn.lock
Labels: backport

#220087 [8.19] fix: [Platform:StackManagement:Data:CrossClusterReplication] Errors on create follower index page are not announced (#220048)
  x-pack/platform/plugins/private/cross_cluster_replication/public/app/components/auto_follow_pattern_form.js
  x-pack/platform/plugins/private/cross_cluster_replication/public/app/components/follower_index_form/follower_index_form.js
Labels: backport

#220085 [8.17] fix: [Platform:StackManagement:Data:CrossClusterReplication] Errors on create follower index page are not announced (#220048)
  x-pack/plugins/cross_cluster_replication/public/app/components/auto_follow_pattern_form.js
  x-pack/plugins/cross_cluster_replication/public/app/components/follower_index_form/follower_index_form.js
Labels: backport

#220091 [8.19] Update dependency launchdarkly-js-client-sdk to ^3.6.1 (main) (#220017)
  package.json
  yarn.lock
Labels: backport

#219769 [Security Solution][Automatic migrations] Implement accuracy evaluators
  x-pack/solutions/security/plugins/security_solution/server/lib/siem_migrations/rules/task/rule_migrations_task_evaluator.test.ts
  x-pack/solutions/security/plugins/security_solution/server/lib/siem_migrations/rules/task/rule_migrations_task_evaluator.ts
Labels: release_note:skip, backport:skip, Team:Threat Hunting, v9.1.0

#220031 [ES|QL] Update grammars
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.g4
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.interp
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser.ts
  src/platform/packages/shared/kbn-esql-ast/src/antlr/esql_parser_listener.ts
Labels: release_note:skip, backport:skip, Team:ESQL

#220102 [9.0] [Index Management] Move field_list_item out of scss (#219669)
  x-pack/platform/plugins/shared/index_management/public/application/components/mappings_editor/components/document_fields/fields/fields_list.tsx
  x-pack/platform/plugins/shared/index_management/public/application/components/mappings_editor/components/document_fields/fields/fields_list_item.tsx
Labels: backport

#220113 [8.18] [APM][Traces] Fix Span Links flyout in Trace Explorer (#219763)
  x-pack/solutions/observability/plugins/apm/public/components/shared/span_links/index.tsx
  x-pack/solutions/observability/plugins/apm/public/components/shared/span_links/span_links_table.tsx
Labels: backport, Team:obs-ux-infra_services

#220098 [9.0] [Security Solution][Explore][Overview Dashboard] Move from viz responses to viz tables (#214888)
  x-pack/solutions/security/plugins/security_solution/public/app/components/top_values_popover/top_values_popover.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/app/components/top_values_popover/top_values_popover.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/matrix_histogram/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/matrix_histogram/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/top_n.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/top_n.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/get_total_count_from_tables.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/get_total_count_from_tables.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/types.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_embeddable_inspect.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_embeddable_inspect.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.mock.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/visualization_embeddable.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/visualization_embeddable.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/anomalies/anomalies_query_tab_body/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/anomalies/anomalies_query_tab_body/types.ts
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/mock.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/actions.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/helpers.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/model.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/reducer.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/rule_preview/preview_histogram.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/rule_preview/preview_histogram.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/helpers.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_visualization/use_alert_histogram_count.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_visualization/use_alert_histogram_count.ts
  x-pack/solutions/security/plugins/security_solution/public/explore/hosts/pages/navigation/authentications_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/explore/network/pages/navigation/dns_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/explore/users/pages/navigation/authentications_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.test.ts
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.ts
  x-pack/solutions/security/plugins/security_solution/public/overview/components/events_by_dataset/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/pages/overview.tsx
Labels: backport

#220112 [8.17] [APM][Traces] Fix Span Links flyout in Trace Explorer (#219763)
  x-pack/plugins/observability_solution/apm/public/components/shared/span_links/index.tsx
  x-pack/plugins/observability_solution/apm/public/components/shared/span_links/span_links_table.tsx
Labels: backport, ci:project-deploy-observability, Team:obs-ux-infra_services

#220114 [8.19] [APM][Traces] Fix Span Links flyout in Trace Explorer (#219763)
  x-pack/solutions/observability/plugins/apm/public/components/shared/span_links/index.tsx
  x-pack/solutions/observability/plugins/apm/public/components/shared/span_links/span_links_table.tsx
Labels: backport, Team:obs-ux-infra_services

#218019 [Response Ops][Task Manager] Allowing limited concurrency task types to share concurrency constraints
  x-pack/platform/plugins/shared/task_manager/server/constants.ts
  x-pack/platform/plugins/shared/task_manager/server/queries/task_claiming.ts
  x-pack/platform/plugins/shared/task_manager/server/task_claimers/lib/task_selector_by_capacity.test.ts
  x-pack/platform/plugins/shared/task_manager/server/task_claimers/lib/task_selector_by_capacity.ts
  x-pack/platform/plugins/shared/task_manager/server/task_claimers/strategy_mget.test.ts
  x-pack/platform/plugins/shared/task_manager/server/task_claimers/strategy_mget.ts
  x-pack/platform/plugins/shared/task_manager/server/task_type_dictionary.test.ts
  x-pack/platform/plugins/shared/task_manager/server/task_type_dictionary.ts
  x-pack/test/plugin_api_integration/plugins/sample_task_plugin/server/plugin.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/check_registered_task_types.ts
  x-pack/test/plugin_api_integration/test_suites/task_manager/task_management.ts
Labels: release_note:skip, Feature:Task Manager, Team:ResponseOps, backport:version, v9.1.0, v8.19.0

#220120 [8.18] [Security Solution][Explore][Overview Dashboard] Move from viz responses to viz tables (#214888)
  x-pack/solutions/security/plugins/security_solution/public/app/components/top_values_popover/top_values_popover.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/app/components/top_values_popover/top_values_popover.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/events_tab/events_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/matrix_histogram/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/matrix_histogram/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/top_n.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/top_n/top_n.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/get_total_count_from_tables.test.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/get_total_count_from_tables.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/lens_embeddable.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/types.ts
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_embeddable_inspect.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_embeddable_inspect.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.mock.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/use_visualization_response.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/visualization_embeddable.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/components/visualization_actions/visualization_embeddable.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/anomalies/anomalies_query_tab_body/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/common/containers/anomalies/anomalies_query_tab_body/types.ts
  x-pack/solutions/security/plugins/security_solution/public/common/containers/source/mock.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/actions.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/helpers.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/model.ts
  x-pack/solutions/security/plugins/security_solution/public/common/store/inputs/reducer.ts
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/rule_preview/preview_histogram.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detection_engine/rule_creation_ui/components/rule_preview/preview_histogram.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/helpers.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/components/alerts_kpis/alerts_histogram_panel/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_visualization/use_alert_histogram_count.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/detections/hooks/alerts_visualization/use_alert_histogram_count.ts
  x-pack/solutions/security/plugins/security_solution/public/explore/hosts/pages/navigation/authentications_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/explore/network/pages/navigation/dns_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/explore/users/pages/navigation/authentications_query_tab_body.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.test.ts
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.test.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/components/detection_response/alerts_by_status/use_alerts_by_status_visualization_data.ts
  x-pack/solutions/security/plugins/security_solution/public/overview/components/events_by_dataset/index.tsx
  x-pack/solutions/security/plugins/security_solution/public/overview/pages/overview.tsx
Labels: backport

#220069 [8.19] [Discover] Fix formatting and sorting for custom ES|QL vars (#209360)
  src/platform/packages/shared/kbn-data-view-utils/index.ts
  src/platform/packages/shared/kbn-data-view-utils/src/utils/get_data_view_field_or_create.ts
  src/platform/packages/shared/kbn-discover-utils/src/__mocks__/data_view.ts
  src/platform/packages/shared/kbn-unified-data-table/__mocks__/table_context.ts
  src/platform/packages/shared/kbn-unified-data-table/src/components/__snapshots__/data_table_columns.test.tsx.snap
  src/platform/packages/shared/kbn-unified-data-table/src/components/data_table.tsx
  src/platform/packages/shared/kbn-unified-data-table/src/components/data_table_columns.tsx
  src/platform/packages/shared/kbn-unified-data-table/src/hooks/use_sorting.ts
  src/platform/packages/shared/kbn-unified-data-table/src/utils/convert_value_to_string.test.tsx
  src/platform/packages/shared/kbn-unified-data-table/src/utils/convert_value_to_string.ts
  src/platform/packages/shared/kbn-unified-data-table/src/utils/copy_value_to_clipboard.test.tsx
  src/platform/packages/shared/kbn-unified-data-table/src/utils/get_render_cell_value.test.tsx
  src/platform/packages/shared/kbn-unified-data-table/src/utils/get_render_cell_value.tsx
  src/platform/packages/shared/kbn-unified-data-table/tsconfig.json
  src/platform/plugins/shared/data_views/common/fields/field_list.ts
  src/platform/plugins/shared/unified_doc_viewer/public/components/doc_viewer_table/field_row.ts
  src/platform/plugins/shared/unified_doc_viewer/tsconfig.json
  src/platform/test/functional/apps/discover/esql/_esql_view.ts
Labels: backport
